# Library

In [1]:
# Library
import pandas as pd
import numpy as np
import pyexasol

In [2]:
import os

In [3]:
df1_fold = 'D:/data/big2/BD1/df'
raw1_fold = 'D:/data/big2/BD1/raw'
sys_fold = 'D:/data/big2/sys'

In [4]:
# 소수점 옵션
pd.options.display.float_format = '{:.2f}'.format
# pd.reset_option('display.float_format')

# Server

In [2]:
# # insider db
# wd = pyexasol.connect(dsn='172.29.135.35/F99FAB2444F86051A9A467F6313FAAB48AF7C4760663430958E3B89A9DC53361:8563', user='sys', password='exasol', compression=True, schema='VSYSD')
# we = pyexasol.connect(dsn='172.29.135.35/F99FAB2444F86051A9A467F6313FAAB48AF7C4760663430958E3B89A9DC53361:8563', user='sys', password='exasol', compression=True, schema='vsyse')

In [8]:
# # exasol db
# ws = pyexasol.connect(dsn='dev.openankus.org:8563', user='sys', password='djslzja', compression=True, schema='VSYS')
# wd = pyexasol.connect(dsn='dev.openankus.org:8563', user='sys', password='djslzja', compression=True, schema='VSYSD')
# we = pyexasol.connect(dsn='dev.openankus.org:8563', user='sys', password='djslzja', compression=True, schema='VSYSE')

# Data

In [ ]:
# # 9.6s
# df = we.export_to_pandas("SELECT * from STD_BD_GRD5_LEM_PRIO_ORD_SELCT_CURSTT;")
# df.info()

In [30]:
name = 'STD_BD_CAR_CURSTT(코드결과)'
file_name = f'{name}.csv'
df = pd.read_csv(os.path.join(sys_fold, file_name), low_memory=False)

In [31]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25615830 entries, 0 to 25615829
Data columns (total 13 columns):
 #   Column             Dtype
---  ------             -----
 0   IDX                int64
 1   LOAD_DT            int64
 2   BSPL_STDG_CD       int64
 3   VHCTY_CD           object
 4   PURPS_CD2          object
 5   VIN                object
 6   MANG_MNG_NO        object
 7   EXHST_GAS_CERT_NO  object
 8   EXHST_GAS_GRD_CD   float64
 9   VHCL_ERSR_YN       object
 10  FUEL_CD            object
 11  CTPV               object
 12  SGG                object
dtypes: float64(1), int64(3), object(9)
memory usage: 2.5+ GB

In [32]:
df.head()

,IDX,LOAD_DT,BSPL_STDG_CD,VHCTY_CD,PURPS_CD2,VIN,MANG_MNG_NO,EXHST_GAS_CERT_NO,EXHST_GAS_GRD_CD,VHCL_ERSR_YN,FUEL_CD,CTPV,SGG
0,1,20230808,4111300000,승용,개인용,WBA21EJ02PCN62702,00120008900111323,NaN,NaN,N,경유,경기도,수원시
1,2,20230808,4481000000,화물,개인용,KMFZSZ7NFPU062413,A0810006222553122,NaN,1.00,N,전기,충청남도,예산군
2,3,20230808,4119000000,승용,개인용,W1KEG1BB9PF019830,00820008600021222,NaN,1.00,N,전기,경기도,부천시
3,4,20230808,2611000000,승용,개인용,W1KCG2EBXPA024606,00820007700041222,NaN,1.00,N,전기,부산광역시,중구
4,5,20230808,2820000000,승용,개인용,W1KCG2EB9PA032115,00820007700041222,NaN,1.00,N,전기,인천광역시,남동구

In [33]:
df['EXHST_GAS_GRD_CD'].unique()

array([nan,  1.,  2.,  3.,  5.,  4.])

In [34]:
df['EXHST_GAS_GRD_CD'].value_counts(dropna=False)

EXHST_GAS_GRD_CD
2.00    10944600
3.00     8289254
1.00     3141777
4.00     1390160
5.00      973920
NaN       876119
Name: count, dtype: int64

In [35]:
df['EXHST_GAS_GRD_CD'] = df['EXHST_GAS_GRD_CD'].fillna('X')
df['EXHST_GAS_GRD_CD'] = df['EXHST_GAS_GRD_CD'].astype('str')

In [36]:
df['EXHST_GAS_GRD_CD'].unique()

array(['X', '1.0', '2.0', '3.0', '5.0', '4.0'], dtype=object)

In [37]:
df.loc[df['EXHST_GAS_GRD_CD'] == '1.0', 'EXHST_GAS_GRD_CD'] = '1'
df.loc[df['EXHST_GAS_GRD_CD'] == '2.0', 'EXHST_GAS_GRD_CD'] = '2'
df.loc[df['EXHST_GAS_GRD_CD'] == '3.0', 'EXHST_GAS_GRD_CD'] = '3'
df.loc[df['EXHST_GAS_GRD_CD'] == '4.0', 'EXHST_GAS_GRD_CD'] = '4'
df.loc[df['EXHST_GAS_GRD_CD'] == '5.0', 'EXHST_GAS_GRD_CD'] = '5'

In [38]:
df['EXHST_GAS_GRD_CD'].value_counts(dropna=False)

EXHST_GAS_GRD_CD
2    10944600
3     8289254
1     3141777
4     1390160
5      973920
X      876119
Name: count, dtype: int64

In [39]:
df['EXHST_GAS_GRD_CD'].unique()

array(['X', '1', '2', '3', '5', '4'], dtype=object)

In [42]:
df['EXHST_GAS_GRD_CD'].dtype

dtype('O')

In [40]:
# 1m 50s
df.to_csv(os.path.join(sys_fold, 'STD_BD_CAR_CURSTT.csv'), index=False)