# Library

In [3]:
# Library
import pandas as pd
import numpy as np
import pyexasol

In [4]:
import os

In [7]:
df1_fold = 'D:/data/big2/BD1/df'
raw1_fold = 'D:/data/big2/BD1/raw'
sys_fold = 'D:/data/big2/sys'

In [6]:
# 소수점 옵션
pd.options.display.float_format = '{:.2f}'.format
# pd.reset_option('display.float_format')

# Server

In [2]:
# # insider db
# wd = pyexasol.connect(dsn='172.29.135.35/F99FAB2444F86051A9A467F6313FAAB48AF7C4760663430958E3B89A9DC53361:8563', user='sys', password='exasol', compression=True, schema='VSYSD')
# we = pyexasol.connect(dsn='172.29.135.35/F99FAB2444F86051A9A467F6313FAAB48AF7C4760663430958E3B89A9DC53361:8563', user='sys', password='exasol', compression=True, schema='vsyse')

In [8]:
# # exasol db
# ws = pyexasol.connect(dsn='dev.openankus.org:8563', user='sys', password='djslzja', compression=True, schema='VSYS')
# wd = pyexasol.connect(dsn='dev.openankus.org:8563', user='sys', password='djslzja', compression=True, schema='VSYSD')
# we = pyexasol.connect(dsn='dev.openankus.org:8563', user='sys', password='djslzja', compression=True, schema='VSYSE')

# Data

In [ ]:
# # 9.6s
# df = we.export_to_pandas("SELECT * from STD_BD_GRD5_LEM_PRIO_ORD_SELCT_CURSTT;")
# df.info()

In [21]:
name = 'STD_BD_GRD4_ELPDSRC_CURSTT'
file_name = f'{name}.csv'
df = pd.read_csv(os.path.join(sys_fold, file_name), low_memory=False)

In [22]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1411482 entries, 0 to 1411481
Data columns (total 13 columns):
 #   Column               Non-Null Count    Dtype
---  ------               --------------    -----
 0   IDX                  1411482 non-null  int64
 1   CRTR_YM              1411482 non-null  float64
 2   VIN                  1411482 non-null  object
 3   STDG_CD              1411482 non-null  int64
 4   VHCTY_CD             1411482 non-null  object
 5   PURPS_CD2            1411482 non-null  object
 6   FUEL_CD              1411482 non-null  object
 7   VHCTY_TY             1411482 non-null  object
 8   CTPV                 1411482 non-null  object
 9   SGG                  1402796 non-null  object
 10  ELPDSRC_STTS_CD      30783 non-null    object
 11  ELPDSRC_LST_APRV_YN  30783 non-null    object
 12  LOAD_DT              1411482 non-null  int64
dtypes: float64(1), int64(3), object(9)
memory usage: 140.0+ MB

In [23]:
df.head()

,IDX,CRTR_YM,VIN,STDG_CD,VHCTY_CD,PURPS_CD2,FUEL_CD,VHCTY_TY,CTPV,SGG,ELPDSRC_STTS_CD,ELPDSRC_LST_APRV_YN,LOAD_DT
0,1,2022.12,KMFZSZ7JACU824794,4127100000,화물,개인용,경유,소형,경기도,안산시,NaN,NaN,20230808
1,2,2022.12,KMFWBX7JACU443538,4519000000,화물,개인용,경유,소형,전라북도,남원시,NaN,NaN,20230808
2,3,2022.12,KMFZCZ7JBCU830660,4139000000,화물,개인용,경유,소형,경기도,시흥시,NaN,NaN,20230808
3,4,2022.12,KMFWBX7JBCU428593,2729000000,화물,개인용,경유,소형,대구광역시,달서구,NaN,NaN,20230808
4,5,2022.12,KMHNU81WBCU187191,4827000000,승용,개인용,경유,대형,경상남도,밀양시,NaN,NaN,20230808

In [31]:
df['ELPDSRC_STTS_CD'].value_counts(dropna=False)

ELPDSRC_STTS_CD
NaN    1380699
Y        30704
D           78
M            1
Name: count, dtype: int64

In [32]:
df['ELPDSRC_LST_APRV_YN'].value_counts(dropna=False)

ELPDSRC_LST_APRV_YN
NaN    1380699
Y        30783
Name: count, dtype: int64

In [35]:
df = df.rename(columns={'ELPDSRC_LST_APRV_YN':'ELPDSRC_LAST_APRV_YN'})
df.head()

,IDX,CRTR_YM,VIN,STDG_CD,VHCTY_CD,PURPS_CD2,FUEL_CD,VHCTY_TY,CTPV,SGG,ELPDSRC_STTS_CD,ELPDSRC_LAST_APRV_YN,LOAD_DT
0,1,2022.12,KMFZSZ7JACU824794,4127100000,화물,개인용,경유,소형,경기도,안산시,NaN,NaN,20230808
1,2,2022.12,KMFWBX7JACU443538,4519000000,화물,개인용,경유,소형,전라북도,남원시,NaN,NaN,20230808
2,3,2022.12,KMFZCZ7JBCU830660,4139000000,화물,개인용,경유,소형,경기도,시흥시,NaN,NaN,20230808
3,4,2022.12,KMFWBX7JBCU428593,2729000000,화물,개인용,경유,소형,대구광역시,달서구,NaN,NaN,20230808
4,5,2022.12,KMHNU81WBCU187191,4827000000,승용,개인용,경유,대형,경상남도,밀양시,NaN,NaN,20230808

In [36]:
df.to_csv(os.path.join(sys_fold, 'STD_BD_GRD4_ELPDSRC_CURSTT.csv'), index=False)