# Library

In [92]:
import pandas as pd
import numpy as np

## [로드] 컬럼명 데이터

In [93]:
col_df = pd.read_table('data/컬럼명.txt', sep=',')
col= col_df.columns

In [94]:
col

Index(['차량관리번호', '차량등록번호', '본거지법정동코드', '소유자구분', '차종_등록정보', '용도', '차대번호',
       '최초등록일자', '차량연식', '차량제작일자', '검사유효일', '제원관리번호', '배출가스인증번호', '배출가스등급',
       '저공해조치종류', '저공해조치구조변경YN', '차량말소YN', '취득일자', '취득금액', '차명', '차종_제원정보',
       '차종분류', '차종유형', '자동차형식', '제작사명', '연료', '엔진형식', '총중량', '적재중량', '엔진출력',
       '배기량', '승차인원', '차량길이', '차량너비', '차량높이', '원산지명', '삭제YN', '제원승인일자', '구동형식',
       '변속기종류'],
      dtype='object')

## [로드] 파일2

In [95]:
# 53.9s
df = pd.read_table('data/220819_22.06월기준_5등급.txt', encoding='cp949', header=40, names=col)
df.info()

C:\Users\kbj\AppData\Local\Temp\ipykernel_1544\1026411615.py:2: DtypeWarning: Columns (7,9,29,37,38) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_table('data/220819_22.06월기준_5등급.txt', encoding='cp949', header=40, names=col)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1186488 entries, 0 to 1186487
Data columns (total 40 columns):
 #   Column       Non-Null Count    Dtype
---  ------       --------------    -----
 0   차량관리번호       1186488 non-null  object
 1   차량등록번호       1186488 non-null  object
 2   본거지법정동코드     1186488 non-null  int64
 3   소유자구분        1186488 non-null  object
 4   차종_등록정보      1186476 non-null  object
 5   용도           1186488 non-null  object
 6   차대번호         1186488 non-null  object
 7   최초등록일자       1186488 non-null  object
 8   차량연식         1186488 non-null  int64
 9   차량제작일자       989593 non-null   object
 10  검사유효일        1185981 non-null  float64
 11  제원관리번호       1186488 non-null  object
 12  배출가스인증번호     560317 non-null   object
 13  배출가스등급       1186488 non-null  int64
 14  저공해조치종류      363785 non-null   object
 15  저공해조치구조변경YN  1186488 non-null  object
 16  차량말소YN       1186488 non-null  object
 17  취득일자         1044935 non-null  float64
 18  취득금액         1070799 non-null  float64
 19  차명           1186487 non-null  object
 20  차종_제원정보      1186488 non-null  object
 21  차종분류         1186488 non-null  object
 22  차종유형         1186488 non-null  object
 23  자동차형식        1185965 non-null  object
 24  제작사명         1183245 non-null  object
 25  연료           1186488 non-null  object
 26  엔진형식         1182990 non-null  object
 27  총중량          1186487 non-null  float64
 28  적재중량         1186478 non-null  float64
 29  엔진출력         1186201 non-null  object
 30  배기량          1186486 non-null  float64
 31  승차인원         1186487 non-null  float64
 32  차량길이         1186487 non-null  float64
 33  차량너비         1186487 non-null  float64
 34  차량높이         1186487 non-null  float64
 35  원산지명         1144734 non-null  object
 36  삭제YN         1186488 non-null  object
 37  제원승인일자       1185300 non-null  object
 38  구동형식         3 non-null        object
 39  변속기종류        1186486 non-null  object
dtypes: float64(10), int64(3), object(27)
memory usage: 362.1+ MB

In [96]:
f = df.groupby('연료', as_index=False)['차대번호'].count().sort_values('차대번호', ascending=False)
f

            연료     차대번호
2           경유  1155947
5          휘발유    30072
1  LPG(액화석유가스)      438
3         기타연료       25
0  CNG(압축천연가스)        5
4          알코올        1

In [97]:
f.columns = ['연료', '5등급']
f

            연료      5등급
2           경유  1155947
5          휘발유    30072
1  LPG(액화석유가스)      438
3         기타연료       25
0  CNG(압축천연가스)        5
4          알코올        1

In [98]:
df[df['연료'] == '기타연료']

,차량관리번호,차량등록번호,본거지법정동코드,소유자구분,차종_등록정보,용도,차대번호,최초등록일자,차량연식,차량제작일자,...,배기량,승차인원,차량길이,차량너비,차량높이,원산지명,삭제YN,제원승인일자,구동형식,변속기종류
43763,KB-43-C-005729-01,경북7다4191,4375034025,주민,화물,자가용,KB-43-C-005729,19620630,1962,NaN,...,3670.0,3.0,660.0,210.0,280.0,기타,N,NaN,NaN,수동
47796,KG71TG147752-01,대구1다5732,2720010200,기타,승용,자가용,KG71TG147752,19710524,1971,NaN,...,1593.0,5.0,4330.0,1700.0,1320.0,대한민국,N,NaN,NaN,수동
100764,000000KG67C151536-01,83어6889,4782035032,주민,화물,자가용,000000KG67C151536,19781012,1978,19781012.0,...,0.0,3.0,680.0,245.0,275.0,기타,N,NaN,NaN,자동
119088,13821318096EOWL-01,대구1나2079,2726010200,주민,승용,자가용,13821318096EOWL,19821227,1982,NaN,...,1979.0,5.0,4730.0,1720.0,1410.0,대한민국,N,NaN,NaN,수동
211587,12782200066EORN-01,대구0나8015,2720010300,주민,승용,자가용,12782200066EORN,19830316,1983,NaN,...,1166.0,5.0,3920.0,1500.0,1400.0,기타,N,NaN,NaN,수동
237587,KMHPA21CPEU167997-01,대구1가9217,2717010300,주민,승용,자가용,KMHPA21CPEU167997,19841120,1984,NaN,...,1439.0,5.0,4020.0,1560.0,1320.0,대한민국,N,NaN,NaN,수동
240378,13841209745EOGUS-01,대구8가1869,2726010800,주민,화물,자가용,13841209745EOGUS,19840321,1984,NaN,...,7255.0,3.0,9470.0,2490.0,2880.0,대한민국,N,NaN,NaN,수동
305685,KN3LAP5C1MK101195-01,경남7고6070,4812514000,주민,화물,자가용,KN3LAP5C1MK101195,19910228,1991,NaN,...,4052.0,3.0,6500.0,2170.0,2260.0,대한민국,N,NaN,NaN,수동
390166,13842111711EOWL-01,대구7마6053,2723010200,주민,화물,자가용,13842111711EOWL,19840410,1984,NaN,...,1998.0,2.0,4400.0,1540.0,1520.0,대한민국,N,NaN,NaN,수동
463868,KMJTG19BPEU000155-01,대구5라3231,2720010300,사업자,승합,자가용,KMJTG19BPEU000155,19840608,1984,NaN,...,10350.0,47.0,11430.0,2490.0,2970.0,대한민국,N,NaN,NaN,수동
520389,02781160443-01,대구5다3490,2726011700,기타,승합,자가용,02781160443,19820925,1978,NaN,...,7255.0,41.0,10150.0,2460.0,3100.0,대한민국,N,NaN,NaN,수동
547895,KMHLF31JPHU341257-01,경북35구2176,4783037042,주민,승용,자가용,KMHLF31JPHU341257,19871230,1987,NaN,...,1468.0,5.0,4266.0,1604.0,1380.0,대한민국,N,19860826.0,NaN,수동
552583,10752268489-01,대구1다1104,2711014900,기타,승용,자가용,10752268489,19750811,1975,NaN,...,1593.0,5.0,4330.0,1700.0,1320.0,대한민국,N,NaN,NaN,수동
581438,10831368894-01,대구1라8010,2723011100,주민,승용,자가용,10831368894,19830915,1983,NaN,...,1597.0,5.0,4420.0,1710.0,1360.0,대한민국,N,NaN,NaN,수동
610663,KMHSF31KPFU061008-01,대구1라8224,2720010200,주민,승용,자가용,KMHSF31KPFU061008,19850421,1985,NaN,...,1439.0,5.0,4560.0,1710.0,1360.0,대한민국,N,NaN,NaN,수동
653677,2799대구1도9885,대구1도9885,2726010600,주민,승용,자가용,10831366617,19830912,1983,NaN,...,1597.0,5.0,4420.0,1710.0,1360.0,대한민국,N,NaN,NaN,수동
712255,2799대구5다1515,대구5다1515,2720010200,기타,승합,자가용,02791162949,19790406,1979,NaN,...,7255.0,41.0,10150.0,2460.0,3100.0,대한민국,N,NaN,NaN,수동
746912,02781158341EOQN-01,대구5다4771,2726010100,주민,승합,자가용,02781158341EOQN,19830627,1977,NaN,...,7255.0,41.0,10150.0,2460.0,3100.0,대한민국,N,NaN,NaN,수동
827629,13841201140-01,대구8가1854,2714010200,주민,화물,자가용,13841201140,19840113,1984,NaN,...,10350.0,3.0,11240.0,2490.0,2920.0,대한민국,N,NaN,NaN,수동
874966,08771103315EOTKDX-01,대구5다1233,2729011600,주민,승합,자가용,08771103315EOTKDX,19770901,1977,NaN,...,4100.0,28.0,7000.0,2240.0,2570.0,대한민국,N,NaN,NaN,수동
889180,09801220246E0RNTK-01,충북71가2669,4313010100,사업자,승합,자가용,09801220246E0RNTK,19801106,2004,19801106.0,...,2563.0,4.0,4680.0,1670.0,1670.0,일본,N,19971229.0,NaN,수동
962442,09832130071EOVH-01,대구5마6849,2729012200,주민,특수,자가용,09832130071EOVH,19860322,1983,NaN,...,1972.0,4.0,4680.0,1710.0,1650.0,대한민국,N,NaN,NaN,수동
1114452,1MECM53U1LA614744-01,경기1어8135,4157025022,주민,승용,자가용,1MECM53U1LA614744,19900202,1990,NaN,...,2986.0,5.0,488.0,180.0,138.0,미국,N,19891223.0,NaN,수동
1125851,03782240508EORL-01,대구1가4447,2729011500,기타,승용,자가용,03782240508EORL,19781215,1978,NaN,...,1272.0,5.0,4010.0,1590.0,1390.0,대한민국,N,NaN,NaN,수동
1147913,12821300023EORN-01,대구1두5668,2723011400,주민,승용,자가용,12821300023EORN,19841231,1982,NaN,...,2459.0,5.0,4840.0,1710.0,1430.0,일본,N,NaN,NaN,수동

## [excel] 연료별 통계

In [99]:
f.to_excel('analysis/[G5]연료별_차대번호_통계.xlsx', index=False, encoding='utf-8')

C:\Users\kbj\AppData\Roaming\Python\Python39\site-packages\pandas\util\_decorators.py:211: FutureWarning: the 'encoding' keyword is deprecated and will be removed in a future version. Please take steps to stop the use of 'encoding'
  return func(*args, **kwargs)

# 지역별 수량 통계

## [로드] 법정동코드

In [74]:
code = pd.read_excel('data/지역구분코드(수정).xlsx')
code.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 229 entries, 0 to 228
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   ad1     229 non-null    object
 1   code1   229 non-null    int64
 2   ad2     229 non-null    object
 3   code2   229 non-null    int64
 4   code3   229 non-null    int64
dtypes: int64(3), object(2)
memory usage: 9.1+ KB

In [75]:
code.head()

     ad1  code1  ad2  code2  code3
0  서울특별시     11  종로구    110  11110
1  서울특별시     11   중구    140  11140
2  서울특별시     11  용산구    170  11170
3  서울특별시     11  성동구    200  11200
4  서울특별시     11  광진구    215  11215

## 법정동 코드와 매칭

In [76]:
df['본거지법정동코드'].head()

0    4111113000
1    2820010300
2    4519011100
3    4833025321
4    4159035029
Name: 본거지법정동코드, dtype: int64

In [77]:
df['본거지법정동코드'].isnull().sum()

0

In [78]:
df['code3'] = df['본거지법정동코드'].astype('str').str[:5]
df['code3'] = df['code3'].astype('int')

In [79]:
df['code3'].head()

0    41111
1    28200
2    45190
3    48330
4    41590
Name: code3, dtype: int32

In [80]:
code['code3'].head()

0    11110
1    11140
2    11170
3    11200
4    11215
Name: code3, dtype: int64

In [81]:
df = df.merge(code, on='code3', how='left')

In [82]:
df.columns

Index(['차량관리번호', '차량등록번호', '본거지법정동코드', '소유자구분', '차종_등록정보', '용도', '차대번호',
       '최초등록일자', '차량연식', '차량제작일자', '검사유효일', '제원관리번호', '배출가스인증번호', '배출가스등급',
       '저공해조치종류', '저공해조치구조변경YN', '차량말소YN', '취득일자', '취득금액', '차명', '차종_제원정보',
       '차종분류', '차종유형', '자동차형식', '제작사명', '연료', '엔진형식', '총중량', '적재중량', '엔진출력',
       '배기량', '승차인원', '차량길이', '차량너비', '차량높이', '원산지명', '삭제YN', '제원승인일자', '구동형식',
       '변속기종류', 'code3', 'ad1', 'code1', 'ad2', 'code2'],
      dtype='object')

In [84]:
df[['ad1', 'code1', 'ad2', 'code2', 'code3']].head()

     ad1  code1  ad2  code2  code3
0    NaN    NaN  NaN    NaN  41111
1  인천광역시   28.0  남동구  200.0  28200
2   전라북도   45.0  남원시  190.0  45190
3   경상남도   48.0  양산시  330.0  48330
4    경기도   41.0  화성시  590.0  41590

In [85]:
df['ad1'].isnull().sum(), df['ad2'].isnull().sum()

(158591, 158591)

In [86]:
l1 = df.groupby(['ad1'], as_index=False)['차대번호'].count()
l1

        ad1    차대번호
0       강원도   50155
1       경기도  156256
2      경상남도   84271
3      경상북도  110052
4     광주광역시   27158
5     대구광역시   52077
6     대전광역시   27096
7     부산광역시   69502
8     서울특별시  129749
9   세종특별자치시    4462
10    울산광역시   27256
11    인천광역시   56532
12     전라남도   79749
13     전라북도   47545
14  제주특별자치도   25616
15     충청남도   52491
16     충청북도   27930

In [87]:
l1.columns = ['지역', '5등급']
l1

         지역     5등급
0       강원도   50155
1       경기도  156256
2      경상남도   84271
3      경상북도  110052
4     광주광역시   27158
5     대구광역시   52077
6     대전광역시   27096
7     부산광역시   69502
8     서울특별시  129749
9   세종특별자치시    4462
10    울산광역시   27256
11    인천광역시   56532
12     전라남도   79749
13     전라북도   47545
14  제주특별자치도   25616
15     충청남도   52491
16     충청북도   27930

In [88]:
l2 = df.groupby(['ad1', 'ad2'], as_index=False)['차대번호'].count()
l2

      ad1  ad2  차대번호
0     강원도  강릉시  6853
1     강원도  고성군  1313
2     강원도  동해시  2802
3     강원도  삼척시  2490
4     강원도  속초시  2120
..    ...  ...   ...
214  충청북도  음성군  4271
215  충청북도  제천시  3516
216  충청북도  증평군  1203
217  충청북도  진천군  2582
218  충청북도  충주시  5528

[219 rows x 3 columns]

In [89]:
l2.columns = ['지역', '시군구', '5등급']
l2.head()

    지역  시군구   5등급
0  강원도  강릉시  6853
1  강원도  고성군  1313
2  강원도  동해시  2802
3  강원도  삼척시  2490
4  강원도  속초시  2120

### [excel] 지역별 수량 통계

In [91]:
l1.to_excel('analysis/[G5]지역별_차대번호_통계.xlsx', index=False, encoding='utf-8')

In [90]:
l2.to_excel('analysis/[G5]지역별_차대번호_통계2.xlsx', index=False, encoding='utf-8')

C:\Users\kbj\AppData\Roaming\Python\Python39\site-packages\pandas\util\_decorators.py:211: FutureWarning: the 'encoding' keyword is deprecated and will be removed in a future version. Please take steps to stop the use of 'encoding'
  return func(*args, **kwargs)

# 코드 마지막