# Library

In [7]:
import pandas as pd
import numpy as np

## [로드] 컬럼명 데이터

In [8]:
col_df = pd.read_table('data/컬럼명.txt', sep=',')
col= col_df.columns

In [9]:
col

Index(['차량관리번호', '차량등록번호', '본거지법정동코드', '소유자구분', '차종_등록정보', '용도', '차대번호',
       '최초등록일자', '차량연식', '차량제작일자', '검사유효일', '제원관리번호', '배출가스인증번호', '배출가스등급',
       '저공해조치종류', '저공해조치구조변경YN', '차량말소YN', '취득일자', '취득금액', '차명', '차종_제원정보',
       '차종분류', '차종유형', '자동차형식', '제작사명', '연료', '엔진형식', '총중량', '적재중량', '엔진출력',
       '배기량', '승차인원', '차량길이', '차량너비', '차량높이', '원산지명', '삭제YN', '제원승인일자', '구동형식',
       '변속기종류'],
      dtype='object')

## [로드] 파일2

In [10]:
# 53.9s
df = pd.read_table('data/220819_22.06월기준_4등급.txt', encoding='cp949', header=40, names=col)
df.info()

C:\Users\kbj\AppData\Local\Temp\ipykernel_6288\497985372.py:2: DtypeWarning: Columns (14,17,29,37,38) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_table('data/220819_22.06월기준_4등급.txt', encoding='cp949', header=40, names=col)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1528586 entries, 0 to 1528585
Data columns (total 40 columns):
 #   Column       Non-Null Count    Dtype
---  ------       --------------    -----
 0   차량관리번호       1528586 non-null  object
 1   차량등록번호       1528586 non-null  object
 2   본거지법정동코드     1528586 non-null  int64
 3   소유자구분        1528586 non-null  object
 4   차종_등록정보      1528584 non-null  object
 5   용도           1528586 non-null  object
 6   차대번호         1528586 non-null  object
 7   최초등록일자       1528586 non-null  int64
 8   차량연식         1528586 non-null  int64
 9   차량제작일자       1358925 non-null  float64
 10  검사유효일        1528574 non-null  float64
 11  제원관리번호       1528586 non-null  object
 12  배출가스인증번호     1405585 non-null  object
 13  배출가스등급       1528586 non-null  int64
 14  저공해조치종류      195 non-null      object
 15  저공해조치구조변경YN  1528586 non-null  object
 16  차량말소YN       1528586 non-null  object
 17  취득일자         1435514 non-null  object
 18  취득금액         1453613 non-null  float64
 19  차명           1528586 non-null  object
 20  차종_제원정보      1528586 non-null  object
 21  차종분류         1528586 non-null  object
 22  차종유형         1528586 non-null  object
 23  자동차형식        1528302 non-null  object
 24  제작사명         1518694 non-null  object
 25  연료           1528586 non-null  object
 26  엔진형식         1526740 non-null  object
 27  총중량          1528585 non-null  float64
 28  적재중량         1528075 non-null  float64
 29  엔진출력         1528227 non-null  object
 30  배기량          1528582 non-null  float64
 31  승차인원         1528586 non-null  int64
 32  차량길이         1528585 non-null  float64
 33  차량너비         1528585 non-null  float64
 34  차량높이         1528583 non-null  float64
 35  원산지명         1509499 non-null  object
 36  삭제YN         1528586 non-null  object
 37  제원승인일자       1528155 non-null  object
 38  구동형식         41 non-null       object
 39  변속기종류        1528426 non-null  object
dtypes: float64(9), int64(5), object(26)
memory usage: 466.5+ MB

In [11]:
f = df.groupby('연료', as_index=False)['차대번호'].count().sort_values('차대번호', ascending=False)
f

            연료     차대번호
2           경유  1167610
5          휘발유   334517
1  LPG(액화석유가스)    26419
3         기타연료       38
0  CNG(압축천연가스)        1
4          알코올        1

In [12]:
f.columns = ['연료', '4등급']
f

            연료      4등급
2           경유  1167610
5          휘발유   334517
1  LPG(액화석유가스)    26419
3         기타연료       38
0  CNG(압축천연가스)        1
4          알코올        1

In [14]:
df[df['연료'] == '기타연료']

,차량관리번호,차량등록번호,본거지법정동코드,소유자구분,차종_등록정보,용도,차대번호,최초등록일자,차량연식,차량제작일자,...,배기량,승차인원,차량길이,차량너비,차량높이,원산지명,삭제YN,제원승인일자,구동형식,변속기종류
38295,KNAGB2212KS212905-01,경북1느7916,4729011700,주민,승용,자가용,KNAGB2212KS212905,19891006,1989,NaN,...,1498.0,5,4430.0,1705.0,1405.0,대한민국,N,19880922,NaN,수동
73224,KLATF1961KB208976-01,대구1거4502,2714010900,주민,승용,자가용,KLATF1961KB208976,19890710,1989,NaN,...,1598.0,5,4394.0,1663.0,1362.0,대한민국,N,19870902.0,NaN,수동
103131,12851300018EORN-01,인천30고8941,4711310700,주민,승용,자가용,12851300018EORN,19870730,2001,NaN,...,2759.0,0,4690.0,1690.0,1440.0,미국,N,19961004,NaN,수동
105842,KNAGB2212KS205388-01,대구1머3595,2711010100,주민,승용,자가용,KNAGB2212KS205388,19890720,1989,NaN,...,1498.0,5,4430.0,1705.0,1405.0,대한민국,N,19880922,NaN,수동
113699,KLASR19F1KB302533-01,대구1머1600,2723010800,주민,승용,자가용,KLASR19F1KB302533,19890621,1989,NaN,...,1979.0,5,4934.0,1720.0,1420.0,대한민국,N,19881122,NaN,수동
121116,KNAGB2212KS212056-01,경기3커6299,4161025329,주민,승용,자가용,KNAGB2212KS212056,19890919,1989,NaN,...,1498.0,5,4430.0,1705.0,1405.0,대한민국,N,19880922.0,NaN,수동
150211,KMHSF21APJU300507-01,대구1러1984,2726011100,주민,승용,자가용,KMHSF21APJU300507,19881219,1988,NaN,...,1499.0,5,4556.0,1716.0,1381.0,대한민국,N,NaN,NaN,수동
162707,IMECM53UOLA620230-01,경기3모4667,4157010700,주민,승용,자가용,IMECM53UOLA620230,19900512,1990,NaN,...,2986.0,5,488.0,180.0,138.0,미국,N,19891223,NaN,수동
373733,WDB12322310164608-01,서울1트5997,4580039022,주민,승용,자가용,WDB12322310164608,19881109,2001,NaN,...,2299.0,5,4720.0,1780.0,1430.0,독일,N,19920220,NaN,수동
431838,KNAGB2212KS201608-01,대구3수6467,2771026200,주민,승용,자가용,KNAGB2212KS201608,19890420,1989,NaN,...,1498.0,5,4430.0,1705.0,1405.0,대한민국,N,19880922,NaN,수동
433717,WDB1240231A521792-01,서울37가6463,1168010500,법인,승용,자가용,WDB1240231A521792,19880504,1988,NaN,...,2300.0,0,4730.0,1790.0,1440.0,독일,N,19920903,NaN,수동
452642,KNAGB2212KS205597-01,대구1머1425,2723011800,주민,승용,자가용,KNAGB2212KS205597,19890615,1989,NaN,...,1498.0,5,4430.0,1705.0,1405.0,대한민국,N,19880922,NaN,수동
527072,KLASR19F1KB301387-01,대구1러6059,2729011200,주민,승용,자가용,KLASR19F1KB301387,19890303,1989,NaN,...,1979.0,5,4934.0,1720.0,1420.0,대한민국,N,19881122,NaN,수동
528529,KLATF68G1JB078403-01,대구1너8180,2723012300,주민,승용,자가용,KLATF68G1JB078403,19880709,1988,NaN,...,1498.0,5,4060.0,1663.0,1362.0,대한민국,N,19870727,NaN,수동
539486,KMHLA21JPJU274228-01,대구1더4850,2720010300,주민,승용,자가용,KMHLA21JPJU274228,19881006,1988,NaN,...,1468.0,5,4088.0,1604.0,1381.0,대한민국,N,19860827,NaN,수동
560436,KNAGB2212KS200892-01,경북1투1646,4783031036,주민,승용,자가용,KNAGB2212KS200892,19890404,1989,NaN,...,1498.0,5,4430.0,1705.0,1405.0,대한민국,N,19880922,NaN,수동
563710,KLASR19F1KB304059-01,14오9819,1147010200,법인,승용,자가용,KLASR19F1KB304059,19891110,1989,NaN,...,1979.0,5,4934.0,1720.0,1420.0,대한민국,N,19881122,NaN,수동
684873,KNAGB2212KS202906-01,대구1라1171,2714011100,주민,승용,자가용,KNAGB2212KS202906,19890602,1989,NaN,...,1498.0,5,4430.0,1705.0,1405.0,대한민국,N,19880922,NaN,수동
723391,KLATF68G1JB090447-01,대구1더1168,2711012400,주민,승용,자가용,KLATF68G1JB090447,19880811,1988,NaN,...,1498.0,5,4060.0,1663.0,1362.0,대한민국,N,19870727.0,NaN,수동
743410,KLASR19F1KB302577-01,대구27노4119,2726011300,주민,승용,자가용,KLASR19F1KB302577,19890715,1989,NaN,...,1979.0,5,4934.0,1720.0,1420.0,대한민국,N,19881122,NaN,수동
760045,1SML4DC197J202141-01,82도5103,4874037021,주민,화물,자가용,1SML4DC197J202141,20130205,2007,20071230.0,...,NaN,0,4920.0,2180.0,2440.0,미국,N,20100219,NaN,변속기 없음
760597,KNAGB2212KS205813-01,경북31두7624,4729010200,주민,승용,자가용,KNAGB2212KS205813,19890704,1989,19890704.0,...,1498.0,5,4430.0,1705.0,1405.0,대한민국,N,19880922,NaN,수동
870040,KLATF1961KB214543-01,대구1거7916,4725011000,주민,승용,자가용,KLATF1961KB214543,19890712,1989,NaN,...,1598.0,5,4394.0,1663.0,1362.0,대한민국,N,19870902.0,NaN,수동
922854,KNAGB2212KS204617-01,경북34고7841,2632010400,주민,승용,자가용,KNAGB2212KS204617,19890628,1989,19890628.0,...,1498.0,5,4430.0,1705.0,1405.0,대한민국,N,19880922.0,NaN,수동
936173,KNAGB2212KS206893-01,대구1머3857,2720010200,주민,승용,자가용,KNAGB2212KS206893,19890722,1989,NaN,...,1498.0,5,4430.0,1705.0,1405.0,대한민국,N,19880922.0,NaN,수동
953452,KLATF68G1JB086541-01,대구1너8423,2714011600,주민,승용,자가용,KLATF68G1JB086541,19880714,1988,NaN,...,1498.0,5,4060.0,1663.0,1362.0,대한민국,N,19870727.0,NaN,수동
1064457,KNAGB2212KS202265-01,대구1다6360,2717010300,주민,승용,자가용,KNAGB2212KS202265,19890511,1989,NaN,...,1498.0,5,4430.0,1705.0,1405.0,대한민국,N,19880922,NaN,수동
1094648,KLATF68G1JB085085-01,대구1너7661,4785025325,주민,승용,자가용,KLATF68G1JB085085,19880628,1988,NaN,...,1498.0,5,4060.0,1663.0,1362.0,대한민국,N,19870727.0,NaN,수동
1095179,KMHLF31JPJU510908-01,대구3수1201,2771025021,주민,승용,자가용,KMHLF31JPJU510908,19880927,1988,19880927.0,...,1468.0,5,4266.0,1604.0,1380.0,대한민국,N,19860826.0,NaN,수동
1124780,KMHLF31JPJU536238-01,대구1더5548,2729011700,주민,승용,자가용,KMHLF31JPJU536238,19881017,1988,NaN,...,1468.0,5,4266.0,1604.0,1380.0,대한민국,N,19860826,NaN,수동
1178312,2799대구3거8485,대구3거8485,4773046035,주민,승용,자가용,KNAGB2212KS213177,19890927,1989,NaN,...,1498.0,5,4430.0,1705.0,1405.0,대한민국,N,19880922,NaN,수동
1221151,KNAGB2212KS212951-01,대구1고2901,2720010300,주민,승용,자가용,KNAGB2212KS212951,19891004,1989,NaN,...,1498.0,5,4430.0,1705.0,1405.0,대한민국,N,19880922,NaN,수동
1303029,KMHLF31JPKU603834-01,대구1가5227,2729010700,주민,승용,자가용,KMHLF31JPKU603834,19890213,1989,NaN,...,1468.0,5,4266.0,1604.0,1380.0,대한민국,N,19860826.0,NaN,수동
1353597,KNAGB2212KS206405-01,대구1머3419,2771025924,주민,승용,자가용,KNAGB2212KS206405,19890719,1989,NaN,...,1498.0,5,4430.0,1705.0,1405.0,대한민국,N,19880922,NaN,수동
1359097,KMHLF31JPJU526685-01,대구1더5824,2723012600,주민,승용,자가용,KMHLF31JPJU526685,19881020,1988,NaN,...,1468.0,5,4266.0,1604.0,1380.0,대한민국,N,19860826,NaN,수동
1368257,KNAGB2212KS210157-01,대구1머7551,2714014300,주민,승용,자가용,KNAGB2212KS210157,19890823,1989,NaN,...,1498.0,5,4430.0,1705.0,1405.0,대한민국,N,19880922,NaN,수동
1408956,KNAGB2212KS218654-01,대구1고9239,2717010200,기타,승용,자가용,KNAGB2212KS218654,19891130,1989,NaN,...,1498.0,5,4430.0,1705.0,1405.0,대한민국,N,19880922,NaN,수동
1525597,KNAGB2212KS214542-01,대구1고4110,2729011800,주민,승용,자가용,KNAGB2212KS214542,19891017,1989,NaN,...,1498.0,5,4430.0,1705.0,1405.0,대한민국,N,19880922.0,NaN,수동

## [excel] 연료별 통계

In [13]:
f.to_excel('analysis/[G4]연료별_차대번호_통계.xlsx', index=False, encoding='utf-8')

C:\Users\kbj\AppData\Roaming\Python\Python39\site-packages\pandas\util\_decorators.py:211: FutureWarning: the 'encoding' keyword is deprecated and will be removed in a future version. Please take steps to stop the use of 'encoding'
  return func(*args, **kwargs)

# 지역별 수량 통계

## [로드] 법정동코드

In [18]:
code = pd.read_excel('data/지역구분코드(수정).xlsx')
code.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 229 entries, 0 to 228
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   ad1     229 non-null    object
 1   code1   229 non-null    int64
 2   ad2     229 non-null    object
 3   code2   229 non-null    int64
dtypes: int64(2), object(2)
memory usage: 7.3+ KB

In [19]:
code = code[['ad1', 'code1']].drop_duplicates(['ad1'], keep='first').reset_index(drop=True)
code

        ad1  code1
0     서울특별시     11
1     부산광역시     26
2     대구광역시     27
3     인천광역시     28
4     광주광역시     29
5     대전광역시     30
6     울산광역시     31
7   세종특별자치시     36
8       경기도     41
9       강원도     42
10     충청북도     43
11     충청남도     44
12     전라북도     45
13     전라남도     46
14     경상북도     47
15     경상남도     48
16  제주특별자치도     50

## 법정동 코드와 매칭

In [20]:
df['본거지법정동코드'].head()

0    4157010100
1    1165010700
2    2638010200
3    2614010100
4    1126010500
Name: 본거지법정동코드, dtype: int64

In [21]:
df['본거지법정동코드'].isnull().sum()

0

In [22]:
df['지역코드'] = df['본거지법정동코드'].astype('str').str[:2]
df['지역코드'] = df['지역코드'].astype('int')

In [23]:
df['지역코드'].head()

0    41
1    11
2    26
3    26
4    11
Name: 지역코드, dtype: int32

In [24]:
code['code1'].head()

0    11
1    26
2    27
3    28
4    29
Name: code1, dtype: int64

In [25]:
df = df.merge(code, left_on='지역코드', right_on='code1', how='left')
df[['지역코드', 'ad1']].head()

   지역코드    ad1
0    41    경기도
1    11  서울특별시
2    26  부산광역시
3    26  부산광역시
4    11  서울특별시

In [26]:
df['ad1'].isnull().sum()

0

In [27]:
l = df.groupby(['ad1'], as_index=False)['차대번호'].count()
l

        ad1     차대번호
0       강원도   349557
1       경기도  2796166
2      경상남도   839431
3      경상북도   620475
4     광주광역시   317327
5     대구광역시   547738
6     대전광역시   321244
7     부산광역시   665142
8     서울특별시  1430746
9   세종특별자치시    91006
10    울산광역시   275628
11    인천광역시   770805
12     전라남도   462809
13     전라북도   390719
14  제주특별자치도   294599
15     충청남도   501349
16     충청북도   386621

In [30]:
l.columns = ['지역', '2등급']
l

         지역      2등급
0       강원도   349557
1       경기도  2796166
2      경상남도   839431
3      경상북도   620475
4     광주광역시   317327
5     대구광역시   547738
6     대전광역시   321244
7     부산광역시   665142
8     서울특별시  1430746
9   세종특별자치시    91006
10    울산광역시   275628
11    인천광역시   770805
12     전라남도   462809
13     전라북도   390719
14  제주특별자치도   294599
15     충청남도   501349
16     충청북도   386621

### [excel] 지역별 수량 통계

In [31]:
l.to_excel('analysis/[G2]지역별_차대번호_통계.xlsx', index=False, encoding='utf-8')

C:\Users\kbj\AppData\Roaming\Python\Python39\site-packages\pandas\util\_decorators.py:211: FutureWarning: the 'encoding' keyword is deprecated and will be removed in a future version. Please take steps to stop the use of 'encoding'
  return func(*args, **kwargs)

# 코드 마지막