# Library

In [1]:
import pandas as pd
import numpy as np
import os
from tqdm import tqdm
from datetime import datetime
import pyexasol

In [2]:
# 소수점 옵션
pd.options.display.float_format = '{:.2f}'.format
# pd.reset_option('display.float_format')

# server

In [3]:
# # insider db
# wb = pyexasol.connect(dsn='172.29.135.35/F99FAB2444F86051A9A467F6313FAAB48AF7C4760663430958E3B89A9DC53361:8563', user='sys', password='exasol', compression=True, schema='VSYSD')
# exasol db
ws = pyexasol.connect(dsn='dev.openankus.org:8563', user='sys', password='djslzja', compression=True, schema='VSYS')
wb = pyexasol.connect(dsn='dev.openankus.org:8563', user='sys', password='djslzja', compression=True, schema='VSYSD')
we = pyexasol.connect(dsn='dev.openankus.org:8563', user='sys', password='djslzja', compression=True, schema='vsyse')
wbt = pyexasol.connect(dsn='dev.openankus.org:8563', user='sys', password='djslzja', compression=True, schema='wbt')

# fold path

In [ ]:
drive = 'D'
ods_fold = f'{drive}:/data/big2/ODS'
big2_fold = f'{drive}:/data/big2'
raw3_fold = f'{drive}:/data/big2/BD3/raw'
an3_fold = f'{drive}:/data/big2/BD3/an'
df3_fold = f'{drive}:/data/big2/BD3/df'

# Load

## 등록정보(STD_CEG_CAR_MIG)

In [6]:
# exasol db
# 4m 21s
car = wb.export_to_pandas("SELECT VIN, BSPL_STDG_CD, EXHST_GAS_GRD_CD, EXHST_GAS_CERT_NO, VHCL_ERSR_YN, MANP_MNG_NO, YRIDNW, VHCTY_CD, PURPS_CD2, FRST_REG_YMD, VHCL_MNG_NO FROM STD_CEG_CAR_MIG;")
# test 만개
# car = wb.export_to_pandas("SELECT VIN, BSPL_STDG_CD, EXHST_GAS_GRD_CD, EXHST_GAS_CERT_NO, VHCL_ERSR_YN, MANP_MNG_NO, YRIDNW, VHCTY_CD, PURPS_CD2, FRST_REG_YMD, VHCL_MNG_NO FROM STD_CEG_CAR_MIG WHERE ROWNUM <= 10000;")

C:\Users\kbjung\AppData\Roaming\Python\Python39\site-packages\pyexasol\callback.py:42: DtypeWarning: Columns (5) have mixed types. Specify dtype option on import or set low_memory=False.
  return pandas.read_csv(pipe, skip_blank_lines=False, **kwargs)

In [7]:
car_ch_col = {
    'VIN':'차대번호', 
    'BSPL_STDG_CD':'법정동코드', 
    'EXHST_GAS_GRD_CD':'배출가스등급', 
    'EXHST_GAS_CERT_NO':'배출가스인증번호',
    'VHCL_ERSR_YN':'차량말소YN',
    'MANP_MNG_NO':'제원관리번호', 
    'YRIDNW':'차량연식', 
    'VHCTY_CD':'차종', 
    'PURPS_CD2':'용도', 
    'FRST_REG_YMD':'최초등록일자',
    'VHCL_MNG_NO':'차량관리번호'
}

In [8]:
carr = car.rename(columns=car_ch_col)

In [9]:
carr.columns

Index(['차대번호', '법정동코드', '배출가스등급', '배출가스인증번호', '차량말소YN', '제원관리번호', '차량연식', '차종',
       '용도', '최초등록일자', '차량관리번호'],
      dtype='object')

## 제원정보(STD_CEG_CAR_SRC_MIG)

In [10]:
# 3.8s
src = wb.export_to_pandas("SELECT MANP_MNG_NO, FUEL_CD, VHCTY_TY_CD2, MNFCTR_NM, VHCNM, VHCL_FRM, EGIN_TY FROM STD_CEG_CAR_SRC_MIG;")

In [11]:
src_ch_col = {
    'MANP_MNG_NO':'제원관리번호', 
    'FUEL_CD':'연료',
    'VHCTY_TY_CD2':'차종유형', 
    'MNFCTR_NM':'제작사명', 
    'VHCNM':'차명', 
    'VHCL_FRM':'자동차형식', 
    'EGIN_TY':'엔진형식', 
}

In [12]:
srcr = src.rename(columns=src_ch_col)
srcr.columns

Index(['제원관리번호', '연료', '차종유형', '제작사명', '차명', '자동차형식', '엔진형식'], dtype='object')

## 법정동코드(STD_BJCD_INFO)

In [13]:
# 1.3s
code = wb.export_to_pandas("SELECT STDG_CD, STDG_CTPV_NM, STDG_SGG_NM FROM STD_BJCD_INFO;")
code.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 46333 entries, 0 to 46332
Data columns (total 3 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   STDG_CD       46333 non-null  int64
 1   STDG_CTPV_NM  46333 non-null  object
 2   STDG_SGG_NM   46310 non-null  object
dtypes: int64(1), object(2)
memory usage: 1.1+ MB

In [14]:
code.columns

Index(['STDG_CD', 'STDG_CTPV_NM', 'STDG_SGG_NM'], dtype='object')

In [15]:
code_ch_col = {
    'STDG_CD':'법정동코드', 
    'STDG_CTPV_NM':'시도', 
    'STDG_SGG_NM':'시군구',  
}

In [16]:
coder = code.rename(columns=code_ch_col)
coder.columns

Index(['법정동코드', '시도', '시군구'], dtype='object')

## 등록이력(CEG_CAR_HISTORY_MIG)

In [17]:
# 1m 8.3s
his = ws.export_to_pandas("SELECT VHCL_ERSR_YN, CHNG_DE, VHMNO FROM CEG_CAR_HISTORY_MIG;")
his.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50044247 entries, 0 to 50044246
Data columns (total 3 columns):
 #   Column        Dtype
---  ------        -----
 0   VHCL_ERSR_YN  object
 1   CHNG_DE       float64
 2   VHMNO         object
dtypes: float64(1), object(2)
memory usage: 1.1+ GB

In [18]:
his_ch_col = {
    'VHCL_ERSR_YN':'차량말소YN', 
    'CHNG_DE':'변경일자',
    'VHMNO':'차량관리번호'
}

In [19]:
hisr = his.rename(columns=his_ch_col)
hisr.columns

Index(['차량말소YN', '변경일자', '차량관리번호'], dtype='object')

# 전처리

## 중복 차대번호 제거

In [20]:
carr.shape, len(carr['차대번호'].unique())

((29998033, 11), 29984639)

In [21]:
carr = carr.sort_values('최초등록일자', ascending=False).drop_duplicates('차대번호').reset_index(drop=True)
carr.shape

(29984639, 11)

## 배출가스등급 코드 변환

In [22]:
grd_dict = {
    'A0501':'1', 
    'A0502':'2', 
    'A0503':'3', 
    'A0504':'4', 
    'A0505':'5', 
    'A05T2':'2',
    'A05T3':'3', 
    'A05T4':'4', 
    'A05T5':'5', 
    'A05X':'X', 
}
carr['배출가스등급'] = carr['배출가스등급'].replace(grd_dict)
carr['배출가스등급'].unique()

array(['X', '2', '1', '3', '5', '4', nan], dtype=object)

## 차종 코드 변환

In [23]:
cd_dict = {
    'A31M':'이륜', 
    'A31P':'승용', 
    'A31S':'특수', 
    'A31T':'화물', 
    'A31V':'승합'
}
carr['차종'] = carr['차종'].replace(cd_dict)
carr['차종'].unique()

array(['승용', '승합', '화물', '특수', nan], dtype=object)

## 용도 코드 변환

In [24]:
purps_dict = {
    'A08P':'개인용', 
    'A08B':'영업용', 
    'A08O':'관용',
}
carr['용도'] = carr['용도'].replace(purps_dict)
carr['용도'].unique()

array(['개인용', '영업용', '관용'], dtype=object)

## 등록정보 말소 제거

In [25]:
carm = carr[carr['차량말소YN'] == 'N'].reset_index(drop=True)
carm.shape

(26203796, 11)

## 연료 코드 변환

In [26]:
fuel_dict = {
    'A90GS':'휘발유', 
    'A91DS':'경유',
    'A92LP':'LPG(액화석유가스)', 
    'A90GH':'휘발유 하이브리드', 
    'A93EV':'전기', 
    'A91DH':'경유 하이브리드', 
    'A92CN':'CNG(압축천연가스)', 
    'A93HD':'수소', 
    'A92LH':'LPG 하이브리드', 
    'A94OT':'기타연료', 
    'A92CH':'CNG 하이브리드',
    'A90AC':'알코올', 
    'A93SH':'태양열', 
    'A91KS':'등유', 
    'A92LN':'LNG(액화천연가스)', 
    'A90PH':'플러그인 하이브리드', 
}
srcr['연료'] = srcr['연료'].replace(fuel_dict)
srcr['연료'].unique()

array(['경유', '휘발유', 'CNG(압축천연가스)', nan, 'LPG(액화석유가스)', '기타연료',
       '휘발유 하이브리드', '전기', '알코올', '태양열', 'CNG 하이브리드', '등유', '경유 하이브리드',
       'LPG 하이브리드', '수소', 'LNG(액화천연가스)'], dtype=object)

## 차종유형 코드 변환

In [27]:
ty_dict = {
    'A30C':'경형', 
    'A30L':'대형', 
    'A30M':'중형', 
    'A30S':'소형',
}
srcr['차종유형'] = srcr['차종유형'].replace(ty_dict)
srcr['차종유형'].unique()

array(['대형', '소형', '중형', '경형', nan], dtype=object)

## 등록&제원 병합

In [28]:
# 19.4s
cs = carm.merge(srcr, on='제원관리번호', how='left')
cs.shape

(26203796, 17)

## 등록&제원&법정동코드 병합(df)

In [29]:
df = cs.merge(coder, on='법정동코드', how='left')

In [30]:
df.shape

(26203796, 19)

### 매칭 안되는 지역 처리

In [31]:
df['시도'].isnull().sum()

1809

In [32]:
df.loc[df['시도'].isnull() == True, ['법정동코드', '시도', '시군구']]

               법정동코드   시도  시군구
992       4161011600  NaN  NaN
1167      4161011500  NaN  NaN
1248      4161011500  NaN  NaN
2382      4161011500  NaN  NaN
4250      4161012000  NaN  NaN
...              ...  ...  ...
841342    4161011900  NaN  NaN
841634    4161012000  NaN  NaN
841866    4161012000  NaN  NaN
25190043  4165052000  NaN  NaN
25946135  4163055000  NaN  NaN

[1809 rows x 3 columns]

In [33]:
df.loc[df['시도'].isnull() == True, '법정동코드'].unique()

array([4161011600, 4161011500, 4161012000, 4161011800, 4161011900,
       4161011700, 4161011400, 4165052000, 4163055000], dtype=int64)

In [34]:
# 주소 수정
df.loc[df['법정동코드'] == 4161011600, ['시도', '시군구']] = ['경기도', '광주시'] # 경기도 광주시 능평동
df.loc[df['법정동코드'] == 4161012000, ['시도', '시군구']] = ['경기도', '광주시'] # 경기도 광주시 양벌동
df.loc[df['법정동코드'] == 4161011800, ['시도', '시군구']] = ['경기도', '광주시'] # 경기도 광주시 추자동
df.loc[df['법정동코드'] == 4161011500, ['시도', '시군구']] = ['경기도', '광주시'] # 경기도 광주시 신현동
df.loc[df['법정동코드'] == 4161011900, ['시도', '시군구']] = ['경기도', '광주시'] # 경기도 광주시 매산동
df.loc[df['법정동코드'] == 4161011700, ['시도', '시군구']] = ['경기도', '광주시'] # 경기도 광주시 문형동
df.loc[df['법정동코드'] == 4161011400, ['시도', '시군구']] = ['경기도', '광주시'] # 경기도 광주시 고산동
df.loc[df['법정동코드'] == 4165052000, ['시도', '시군구']] = ['경기도', '포천시'] # 경기도 포천시 선단동
df.loc[df['법정동코드'] == 4163055000, ['시도', '시군구']] = ['경기도', '양주시'] # 경기도 양주시 회천3동

In [35]:
df['시도'].isnull().sum()

0

## 등록(말소 유지) & 제원 병합

In [36]:
# 10.3s
cse = carr.merge(srcr, on='제원관리번호', how='left')

In [37]:
cse.columns

Index(['차대번호', '법정동코드', '배출가스등급', '배출가스인증번호', '차량말소YN', '제원관리번호', '차량연식', '차종',
       '용도', '최초등록일자', '차량관리번호', '연료', '차종유형', '제작사명', '차명', '자동차형식', '엔진형식'],
      dtype='object')

## 등록&제원&이력 병합

In [38]:
# 2m 6.0s
ersr = cse.merge(hisr, on='차량관리번호', how='left')

In [39]:
ersr.columns

Index(['차대번호', '법정동코드', '배출가스등급', '배출가스인증번호', '차량말소YN_x', '제원관리번호', '차량연식',
       '차종', '용도', '최초등록일자', '차량관리번호', '연료', '차종유형', '제작사명', '차명', '자동차형식',
       '엔진형식', '차량말소YN_y', '변경일자'],
      dtype='object')

In [40]:
# 1. 등록 차량말소와 등록이력 차량 말소 둘 모두 해당되는 데이터 추출
ersr = ersr.loc[(ersr['차량말소YN_x'] == 'Y') & (ersr['차량말소YN_y'] == 'Y')].reset_index(drop=True)

In [41]:
# 2. 변경일자 기준 최신 데이터만 남기고 차대번호 중복 제거
ersr = ersr.sort_values('변경일자', ascending=False).drop_duplicates('차대번호').reset_index(drop=True)

In [42]:
# 3. 변경일자 2019.01.01 이후만 추출
ersr = ersr[ersr['변경일자'] >= 20190101].reset_index(drop=True)

## 등록&제원&이력&법정동코드 병합(errc)

In [43]:
# 매칭 후 '시도' 빈값 없음
errc = ersr.merge(coder, on='법정동코드', how='left')

# 분석

## 연료 하이브리드 수정

In [44]:
# about 23.6s
df.loc[(df['연료'] == '휘발유') | (df['연료'] == '휘발유 하이브리드'), 'fuel'] = '휘발유'
df.loc[(df['연료'] == '경유') | (df['연료'] == '경유 하이브리드'), 'fuel'] = '경유'
df.loc[(df['연료'] == 'LPG(액화석유가스)') | (df['연료'] == 'LPG 하이브리드'), 'fuel'] = 'LPG'
df.loc[(df['연료'] == 'CNG(압축천연가스)') | (df['연료'] == 'CNG 하이브리드'), 'fuel'] = 'CNG'
df.loc[(df['연료'] == 'LNG(액화천연가스)') | (df['연료'] == 'LNG 하이브리드'), 'fuel'] = 'LNG'
df.loc[df['연료'] == '전기', 'fuel'] = '전기'
df.loc[df['연료'] == '수소', 'fuel'] = '수소'
df.loc[df['연료'] == '태양열', 'fuel'] = '태양열'
df.loc[df['연료'] == '알코올', 'fuel'] = '알코올'
df.loc[df['연료'] == '등유', 'fuel'] = '등유'
df.loc[df['연료'] == '기타연료', 'fuel'] = '기타연료'
df.loc[df['연료'].isnull() == True, 'fuel'] = np.nan

In [45]:
# about 3.3s
errc.loc[(errc['연료'] == '휘발유') | (errc['연료'] == '휘발유 하이브리드'), 'fuel'] = '휘발유'
errc.loc[(errc['연료'] == '경유') | (errc['연료'] == '경유 하이브리드'), 'fuel'] = '경유'
errc.loc[(errc['연료'] == 'LPG(액화석유가스)') | (errc['연료'] == 'LPG 하이브리드'), 'fuel'] = 'LPG'
errc.loc[(errc['연료'] == 'CNG(압축천연가스)') | (errc['연료'] == 'CNG 하이브리드'), 'fuel'] = 'CNG'
errc.loc[(errc['연료'] == 'LNG(액화천연가스)') | (errc['연료'] == 'LNG 하이브리드'), 'fuel'] = 'LNG'
errc.loc[errc['연료'] == '전기', 'fuel'] = '전기'
errc.loc[errc['연료'] == '수소', 'fuel'] = '수소'
errc.loc[errc['연료'] == '태양열', 'fuel'] = '태양열'
errc.loc[errc['연료'] == '알코올', 'fuel'] = '알코올'
errc.loc[errc['연료'] == '등유', 'fuel'] = '등유'
errc.loc[errc['연료'] == '기타연료', 'fuel'] = '기타연료'
errc.loc[errc['연료'].isnull() == True, 'fuel'] = np.nan

In [46]:
# 6s
# 수도권 : 서울특별시, 인천광역시, 경기도
# 비수도권 : 수도권 외
df.loc[(df['시도'] == '서울특별시') | (df['시도'] == '인천광역시') | (df['시도'] == '경기도'), '지역'] = '수도권'
df['지역'] = df['지역'].fillna('비수도권')

In [47]:
dfm = df.copy()

In [48]:
dfm['최초등록일자'] = dfm['최초등록일자'].astype('str')
dfm['최초등록일자_년'] = dfm['최초등록일자'].str[:4]
dfm['최초등록일자_월'] = dfm['최초등록일자'].str[4:6]
dfm['최초등록일자_일'] = dfm['최초등록일자'].str[6:8]

In [49]:
# 시군구명 앞쪽 지역명만 남기기(dfm)
dfm['시군구_수정'] = dfm['시군구'].str.split(' ').str[0]

In [50]:
# 수도권 : 서울특별시, 인천광역시, 경기도
# 비수도권 : 수도권 외
errc.loc[(errc['시도'] == '서울특별시') | (errc['시도'] == '인천광역시') | (errc['시도'] == '경기도'), '지역'] = '수도권'
errc['지역'] = errc['지역'].fillna('비수도권')

In [51]:
errc['변경일자'] = errc['변경일자'].astype('str')
errc['변경일자_년'] = errc['변경일자'].str[:4]
errc['변경일자_월'] = errc['변경일자'].str[4:6]
errc['변경일자_일'] = errc['변경일자'].str[6:8]

In [52]:
# 시군구명 앞쪽 지역명만 남기기(errc)
errc['시군구_수정'] = errc['시군구'].str.split(' ').str[0]

In [53]:
# 2m 41.5s
dfm2 = dfm.loc[(dfm['fuel'] == '경유') | (dfm['fuel'] == '휘발유') | (dfm['fuel'] == 'LPG') | (dfm['fuel'] == '전기') | (dfm['fuel'] == '수소')].reset_index(drop=True)
errc2 = errc.loc[(errc['fuel'] == '경유') | (errc['fuel'] == '휘발유') | (errc['fuel'] == 'LPG') | (errc['fuel'] == '전기') | (errc['fuel'] == '수소')].reset_index(drop=True)

## 등급, 지역별 차량현황

In [54]:
# 2022년 차량 대수
grp1 = dfm2.groupby(['지역', '시도', '배출가스등급'], as_index=False)['차대번호'].count()
grp1 = grp1.rename(columns={'차대번호':'차량대수'})
grp1['연도'] = '2022'
grp1 = grp1[['연도', '지역', '시도', '배출가스등급', '차량대수']]
grp1

       연도    지역     시도 배출가스등급    차량대수
0    2022  비수도권    강원도      1   80078
1    2022  비수도권    강원도      2  358657
2    2022  비수도권    강원도      3  310061
3    2022  비수도권    강원도      4   54685
4    2022  비수도권    강원도      5   47164
..    ...   ...    ...    ...     ...
97   2022   수도권  인천광역시      2  793986
98   2022   수도권  인천광역시      3  580695
99   2022   수도권  인천광역시      4   77384
100  2022   수도권  인천광역시      5   52896
101  2022   수도권  인천광역시      X   33956

[102 rows x 5 columns]

In [55]:
# 4년간 차량 통계 기본 데이터셋
yr_list = []
rgn_list = []
ctpv_list = []
grd_list = []
for ctpv in grp1['시도'].unique():
    if ('서울특별시' in ctpv) or ('인천광역시' in ctpv) or ('경기도' in ctpv):
        rgn = '수도권'
    else:
        rgn = '비수도권'
        for grd in ['1', '2', '3', '4', '5', 'X']:
            for yr in ['2019', '2020', '2021', '2022']:
                yr_list.append(yr)
                rgn_list.append(rgn)
                ctpv_list.append(ctpv)
                grd_list.append(grd)
base = pd.DataFrame({'연도':yr_list, '지역':rgn_list, '시도':ctpv_list, '배출가스등급':grd_list})

In [56]:
base.head()

     연도    지역   시도 배출가스등급
0  2019  비수도권  강원도      1
1  2020  비수도권  강원도      1
2  2021  비수도권  강원도      1
3  2022  비수도권  강원도      1
4  2019  비수도권  강원도      2

In [57]:
# 연도별 등록대수
grp2 = dfm2.groupby(['최초등록일자_년', '지역', '시도', '배출가스등급'], as_index=False)['차대번호'].count()
grp2 = grp2.rename(columns={'최초등록일자_년':'연도', '차대번호':'등록대수'})
grp2

        연도    지역     시도 배출가스등급   등록대수
0     1955  비수도권    강원도      5      1
1     1958  비수도권   경상북도      5      1
2     1962  비수도권    강원도      5      4
3     1962  비수도권   경상북도      5      1
4     1962  비수도권   전라북도      5      1
...    ...   ...    ...    ...    ...
3069  2023   수도권  서울특별시      X  29242
3070  2023   수도권  인천광역시      1   8305
3071  2023   수도권  인천광역시      2  14541
3072  2023   수도권  인천광역시      3   4722
3073  2023   수도권  인천광역시      X  23686

[3074 rows x 5 columns]

In [58]:
# 연도별 말소대수
grp3 = errc2.groupby(['변경일자_년', '지역', '시도', '배출가스등급'], as_index=False)['차대번호'].count()
grp3 = grp3.rename(columns={'변경일자_년':'연도', '차대번호':'말소대수'})
grp3

       연도    지역     시도 배출가스등급   말소대수
0    2019  비수도권    강원도      1    220
1    2019  비수도권    강원도      2   4208
2    2019  비수도권    강원도      3   8191
3    2019  비수도권    강원도      4   2558
4    2019  비수도권    강원도      5  11783
..    ...   ...    ...    ...    ...
401  2022   수도권  인천광역시      2   9879
402  2022   수도권  인천광역시      3  10842
403  2022   수도권  인천광역시      4   3112
404  2022   수도권  인천광역시      5   4507
405  2022   수도권  인천광역시      X     20

[406 rows x 5 columns]

In [59]:
base1 = base.merge(grp1, on=['연도', '지역', '시도', '배출가스등급'], how='left')
base1

       연도    지역    시도 배출가스등급     차량대수
0    2019  비수도권   강원도      1      NaN
1    2020  비수도권   강원도      1      NaN
2    2021  비수도권   강원도      1      NaN
3    2022  비수도권   강원도      1 80078.00
4    2019  비수도권   강원도      2      NaN
..    ...   ...   ...    ...      ...
331  2022  비수도권  충청북도      5 40803.00
332  2019  비수도권  충청북도      X      NaN
333  2020  비수도권  충청북도      X      NaN
334  2021  비수도권  충청북도      X      NaN
335  2022  비수도권  충청북도      X 11254.00

[336 rows x 5 columns]

In [60]:
base2 = base1.merge(grp2, on=['연도', '지역', '시도', '배출가스등급'], how='left')
base2

       연도    지역    시도 배출가스등급     차량대수     등록대수
0    2019  비수도권   강원도      1      NaN  7882.00
1    2020  비수도권   강원도      1      NaN 11940.00
2    2021  비수도권   강원도      1      NaN 14037.00
3    2022  비수도권   강원도      1 80078.00 10891.00
4    2019  비수도권   강원도      2      NaN 23235.00
..    ...   ...   ...    ...      ...      ...
331  2022  비수도권  충청북도      5 40803.00     1.00
332  2019  비수도권  충청북도      X      NaN    27.00
333  2020  비수도권  충청북도      X      NaN    38.00
334  2021  비수도권  충청북도      X      NaN    29.00
335  2022  비수도권  충청북도      X 11254.00  2901.00

[336 rows x 6 columns]

In [61]:
base3 = base2.merge(grp3, on=['연도', '지역', '시도', '배출가스등급'], how='left')
base3

       연도    지역    시도 배출가스등급     차량대수     등록대수    말소대수
0    2019  비수도권   강원도      1      NaN  7882.00  220.00
1    2020  비수도권   강원도      1      NaN 11940.00  461.00
2    2021  비수도권   강원도      1      NaN 14037.00  854.00
3    2022  비수도권   강원도      1 80078.00 10891.00  501.00
4    2019  비수도권   강원도      2      NaN 23235.00 4208.00
..    ...   ...   ...    ...      ...      ...     ...
331  2022  비수도권  충청북도      5 40803.00     1.00 4900.00
332  2019  비수도권  충청북도      X      NaN    27.00   37.00
333  2020  비수도권  충청북도      X      NaN    38.00   26.00
334  2021  비수도권  충청북도      X      NaN    29.00   13.00
335  2022  비수도권  충청북도      X 11254.00  2901.00   19.00

[336 rows x 7 columns]

In [62]:
base3[['차량대수', '등록대수', '말소대수']] = base3[['차량대수', '등록대수', '말소대수']].fillna(0)

In [63]:
n = 4
for i in range(base3.shape[0] // n):
    for j in range(2, n+1):
        base3.loc[(i+1)*n - j, '차량대수'] = base3.loc[(i+1)*n - (j-1), '차량대수'] + base3.loc[(i+1)*n - (j-1), '말소대수'] - base3.loc[(i+1)*n - (j-1), '등록대수']

In [64]:
base3

       연도    지역    시도 배출가스등급      차량대수     등록대수    말소대수
0    2019  비수도권   강원도      1  45026.00  7882.00  220.00
1    2020  비수도권   강원도      1  56505.00 11940.00  461.00
2    2021  비수도권   강원도      1  69688.00 14037.00  854.00
3    2022  비수도권   강원도      1  80078.00 10891.00  501.00
4    2019  비수도권   강원도      2 315867.00 23235.00 4208.00
..    ...   ...   ...    ...       ...      ...     ...
331  2022  비수도권  충청북도      5  40803.00     1.00 4900.00
332  2019  비수도권  충청북도      X   8344.00    27.00   37.00
333  2020  비수도권  충청북도      X   8356.00    38.00   26.00
334  2021  비수도권  충청북도      X   8372.00    29.00   13.00
335  2022  비수도권  충청북도      X  11254.00  2901.00   19.00

[336 rows x 7 columns]

In [65]:
base3.columns

Index(['연도', '지역', '시도', '배출가스등급', '차량대수', '등록대수', '말소대수'], dtype='object')

In [66]:
df1 = base3[['연도', '지역', '시도', '배출가스등급', '차량대수']]

In [67]:
cdict = {
    '연도':'YR', 
    '지역':'RGN', 
    '시도':'CTPV', 
    '배출가스등급':'EXHST_GAS_GRD_CD', 
    '차량대수':'VHCL_MKCNT',
}

In [68]:
STD_BD_CAR_CURSTT_MOD = df1.rename(columns=cdict)
STD_BD_CAR_CURSTT_MOD.columns

Index(['YR', 'RGN', 'CTPV', 'EXHST_GAS_GRD_CD', 'VHCL_MKCNT'], dtype='object')

In [69]:
STD_BD_CAR_CURSTT_MOD.head()

     YR   RGN CTPV EXHST_GAS_GRD_CD  VHCL_MKCNT
0  2019  비수도권  강원도                1    45026.00
1  2020  비수도권  강원도                1    56505.00
2  2021  비수도권  강원도                1    69688.00
3  2022  비수도권  강원도                1    80078.00
4  2019  비수도권  강원도                2   315867.00

### [출력] STD_BD_CAR_CURSTT_MOD

In [ ]:
# expdf = STD_BD_CAR_CURSTT_MOD
# table_nm = 'STD_BD_CAR_CURSTT_MOD'.upper()

# # 테이블 생성
# sql = 'create table ' + table_nm + '( \n'

# for idx,column in enumerate(expdf.columns):
#     if 'float' in expdf[column].dtype.name:
#         sql += column + ' float'
#     elif 'int' in expdf[column].dtype.name:
#         sql += column + ' number'
#     else:
#         sql += column + ' varchar(255)'

#     if len(expdf.columns) - 1 != idx:
#         sql += ','
#     sql += '\n'
# sql += ')'    
# wbt.execute(sql)

# # 데이터 추가
# # 5s
# wbt.import_from_pandas(expdf, table_nm)

## 등급, 연료별 차량현황

In [70]:
# 2022년 차량 대수
grp1 = dfm2.groupby(['fuel', '배출가스등급'], as_index=False)['차대번호'].count()
grp1 = grp1.rename(columns={'차대번호':'차량대수'})
grp1['연도'] = '2022'
grp1 = grp1[['연도', 'fuel', '배출가스등급', '차량대수']]

In [71]:
grp1.head()

     연도 fuel 배출가스등급     차량대수
0  2022  LPG      1   479004
1  2022  LPG      2  1176911
2  2022  LPG      3   238483
3  2022  LPG      4    24551
4  2022  LPG      5      436

In [72]:
# 4년간 차량 통계 기본 데이터셋
yr_list = []
fuel_list = []
grd_list = []
for fuel in grp1['fuel'].unique():
    for grd in ['1', '2', '3', '4', '5', 'X']:
        for yr in ['2019', '2020', '2021', '2022']:
            yr_list.append(yr)
            fuel_list.append(fuel)
            grd_list.append(grd)
base = pd.DataFrame({'연도':yr_list, 'fuel':fuel_list, '배출가스등급':grd_list})

In [73]:
base.head()

     연도 fuel 배출가스등급
0  2019  LPG      1
1  2020  LPG      1
2  2021  LPG      1
3  2022  LPG      1
4  2019  LPG      2

In [74]:
# 연도별 등록대수
grp2 = dfm2.groupby(['최초등록일자_년', 'fuel', '배출가스등급'], as_index=False)['차대번호'].count()
grp2 = grp2.rename(columns={'최초등록일자_년':'연도', '차대번호':'등록대수'})
grp2

       연도 fuel 배출가스등급    등록대수
0    1955   경유      5       1
1    1958  휘발유      5       1
2    1962   경유      5       8
3    1962  휘발유      5       1
4    1963   경유      5       2
..    ...  ...    ...     ...
479  2023   전기      1   34858
480  2023   전기      X   15135
481  2023  휘발유      1   72399
482  2023  휘발유      2  157626
483  2023  휘발유      X  167712

[484 rows x 4 columns]

In [75]:
# 연도별 말소대수
grp3 = errc2.groupby(['변경일자_년', 'fuel', '배출가스등급'], as_index=False)['차대번호'].count()
grp3 = grp3.rename(columns={'변경일자_년':'연도', '차대번호':'말소대수'})
grp3

      연도 fuel 배출가스등급    말소대수
0   2019  LPG      1    5974
1   2019  LPG      2   27863
2   2019  LPG      3   42824
3   2019  LPG      4    3458
4   2019  LPG      5       3
..   ...  ...    ...     ...
71  2022  휘발유      2  116723
72  2022  휘발유      3   94401
73  2022  휘발유      4   11558
74  2022  휘발유      5     206
75  2022  휘발유      X    1307

[76 rows x 4 columns]

In [76]:
base1 = base.merge(grp1, on=['연도', 'fuel', '배출가스등급'], how='left')
base1

       연도 fuel 배출가스등급      차량대수
0    2019  LPG      1       NaN
1    2020  LPG      1       NaN
2    2021  LPG      1       NaN
3    2022  LPG      1 479004.00
4    2019  LPG      2       NaN
..    ...  ...    ...       ...
115  2022  휘발유      5  30012.00
116  2019  휘발유      X       NaN
117  2020  휘발유      X       NaN
118  2021  휘발유      X       NaN
119  2022  휘발유      X 243082.00

[120 rows x 4 columns]

In [77]:
base2 = base1.merge(grp2, on=['연도', 'fuel', '배출가스등급'], how='left')
base2

       연도 fuel 배출가스등급      차량대수     등록대수
0    2019  LPG      1       NaN 62979.00
1    2020  LPG      1       NaN 47598.00
2    2021  LPG      1       NaN 36005.00
3    2022  LPG      1 479004.00 16628.00
4    2019  LPG      2       NaN 65541.00
..    ...  ...    ...       ...      ...
115  2022  휘발유      5  30012.00      NaN
116  2019  휘발유      X       NaN  2660.00
117  2020  휘발유      X       NaN  4611.00
118  2021  휘발유      X       NaN  5593.00
119  2022  휘발유      X 243082.00 62230.00

[120 rows x 5 columns]

In [78]:
base3 = base2.merge(grp3, on=['연도', 'fuel', '배출가스등급'], how='left')
base3

       연도 fuel 배출가스등급      차량대수     등록대수     말소대수
0    2019  LPG      1       NaN 62979.00  5974.00
1    2020  LPG      1       NaN 47598.00 15886.00
2    2021  LPG      1       NaN 36005.00 23771.00
3    2022  LPG      1 479004.00 16628.00 10240.00
4    2019  LPG      2       NaN 65541.00 27863.00
..    ...  ...    ...       ...      ...      ...
115  2022  휘발유      5  30012.00      NaN   206.00
116  2019  휘발유      X       NaN  2660.00   303.00
117  2020  휘발유      X       NaN  4611.00   773.00
118  2021  휘발유      X       NaN  5593.00  1930.00
119  2022  휘발유      X 243082.00 62230.00  1307.00

[120 rows x 6 columns]

In [79]:
base3[['차량대수', '등록대수', '말소대수']] = base3[['차량대수', '등록대수', '말소대수']].fillna(0)

In [80]:
n = 4
for i in range(base3.shape[0] // n):
    for j in range(2, n+1):
        base3.loc[(i+1)*n - j, '차량대수'] = base3.loc[(i+1)*n - (j-1), '차량대수'] + base3.loc[(i+1)*n - (j-1), '말소대수'] - base3.loc[(i+1)*n - (j-1), '등록대수']

In [81]:
base3

       연도 fuel 배출가스등급       차량대수     등록대수     말소대수
0    2019  LPG      1  428670.00 62979.00  5974.00
1    2020  LPG      1  460382.00 47598.00 15886.00
2    2021  LPG      1  472616.00 36005.00 23771.00
3    2022  LPG      1  479004.00 16628.00 10240.00
4    2019  LPG      2 1102289.00 65541.00 27863.00
..    ...  ...    ...        ...      ...      ...
115  2022  휘발유      5   30012.00     0.00   206.00
116  2019  휘발유      X  174658.00  2660.00   303.00
117  2020  휘발유      X  178496.00  4611.00   773.00
118  2021  휘발유      X  182159.00  5593.00  1930.00
119  2022  휘발유      X  243082.00 62230.00  1307.00

[120 rows x 6 columns]

In [82]:
df2 = base3[['연도', 'fuel', '배출가스등급', '차량대수']]

In [83]:
cdict = {
    '연도':'YR', 
    '연료':'FUEL_CD', 
    '배출가스등급':'EXHST_GAS_GRD_CD', 
    '차량대수':'VHCL_MKCNT',
}

In [84]:
STD_BD_CAR_CURSTT_MOD2 = df2.rename(columns=cdict)
STD_BD_CAR_CURSTT_MOD2.columns

Index(['YR', 'fuel', 'EXHST_GAS_GRD_CD', 'VHCL_MKCNT'], dtype='object')

In [85]:
STD_BD_CAR_CURSTT_MOD2.head()

     YR fuel EXHST_GAS_GRD_CD  VHCL_MKCNT
0  2019  LPG                1   428670.00
1  2020  LPG                1   460382.00
2  2021  LPG                1   472616.00
3  2022  LPG                1   479004.00
4  2019  LPG                2  1102289.00

### [출력] STD_BD_CAR_CURSTT_MOD2

In [ ]:
# expdf = STD_BD_CAR_CURSTT_MOD2
# table_nm = 'STD_BD_CAR_CURSTT_MOD2'.upper()

# # 테이블 생성
# sql = 'create table ' + table_nm + '( \n'

# for idx,column in enumerate(expdf.columns):
#     if 'float' in expdf[column].dtype.name:
#         sql += column + ' float'
#     elif 'int' in expdf[column].dtype.name:
#         sql += column + ' number'
#     else:
#         sql += column + ' varchar(255)'

#     if len(expdf.columns) - 1 != idx:
#         sql += ','
#     sql += '\n'
# sql += ')'    
# wbt.execute(sql)

# # 데이터 추가
# # 5s
# wbt.import_from_pandas(expdf, table_nm)

## 전체 차량 현황(등급, 차종, 지역별 차량현황)

In [86]:
df3 = dfm2[[
    '법정동코드', 
    '차종',
    '용도', 
    '차대번호', 
    '제원관리번호', 
    '배출가스인증번호', 
    '배출가스등급', 
    '차량말소YN', 
    'fuel', 
    '시도', 
    '시군구_수정'
]]

In [87]:
cdict = {
    '법정동코드':'STDG_CD', 
    '차종':'VHCTY_CD',
    '용도':'PURPS_CD2', 
    '차대번호':'VIN', 
    '제원관리번호':'MANG_MNG_NO', 
    '배출가스인증번호':'EXHST_GAS_CERT_NO', 
    '배출가스등급':'EXHST_GAS_GRD_CD', 
    '차량말소YN':'VHCL_ERSR_YN', 
    'fuel':'FUEL_CD', 
    '시도':'CTPV', 
    '시군구_수정':'SGG', 
}

In [88]:
STD_BD_CAR_CURSTT = df3.rename(columns=cdict)
STD_BD_CAR_CURSTT.columns

Index(['STDG_CD', 'VHCTY_CD', 'PURPS_CD2', 'VIN', 'MANG_MNG_NO',
       'EXHST_GAS_CERT_NO', 'EXHST_GAS_GRD_CD', 'VHCL_ERSR_YN', 'FUEL_CD',
       'CTPV', 'SGG'],
      dtype='object')

### [출력] STD_BD_CAR_CURSTT

In [ ]:
# expdf = STD_BD_CAR_CURSTT
# table_nm = 'STD_BD_CAR_CURSTT'.upper()

# # 테이블 생성
# sql = 'create table ' + table_nm + '( \n'

# for idx,column in enumerate(expdf.columns):
#     if 'float' in expdf[column].dtype.name:
#         sql += column + ' float'
#     elif 'int' in expdf[column].dtype.name:
#         sql += column + ' number'
#     else:
#         sql += column + ' varchar(255)'

#     if len(expdf.columns) - 1 != idx:
#         sql += ','
#     sql += '\n'
# sql += ')'    
# wbt.execute(sql)

# # 데이터 추가
# # 3m 51.1s
# wbt.import_from_pandas(expdf, table_nm)

## 지역, 연료, 연도별 차량 현황 분석

In [89]:
# 2022년 차량 대수
grp1 = dfm2.groupby(['fuel', '시도'], as_index=False)['차대번호'].count()
grp1 = grp1.rename(columns={'차대번호':'차량대수'})
grp1['연도'] = '2022'
grp1 = grp1[['연도', 'fuel', '시도', '차량대수']]

In [90]:
grp1.head()

     연도 fuel     시도    차량대수
0  2022  LPG    강원도   59042
1  2022  LPG    경기도  401770
2  2022  LPG   경상남도  142124
3  2022  LPG   경상북도  129463
4  2022  LPG  광주광역시   90115

In [91]:
# 4년간 차량 통계 기본 데이터셋
yr_list = []
fuel_list = []
ctpv_list = []
for fuel in grp1['fuel'].unique():
    for ctpv in grp1['시도'].unique():
        for yr in ['2019', '2020', '2021', '2022']:
            yr_list.append(yr)
            fuel_list.append(fuel)
            ctpv_list.append(ctpv)
base = pd.DataFrame({'연도':yr_list, 'fuel':fuel_list, '시도':ctpv_list})

In [92]:
base.head()

     연도 fuel   시도
0  2019  LPG  강원도
1  2020  LPG  강원도
2  2021  LPG  강원도
3  2022  LPG  강원도
4  2019  LPG  경기도

In [93]:
# 연도별 등록대수
grp2 = dfm2.groupby(['최초등록일자_년', 'fuel', '시도'], as_index=False)['차대번호'].count()
grp2 = grp2.rename(columns={'최초등록일자_년':'연도', '차대번호':'등록대수'})
grp2

        연도 fuel       시도   등록대수
0     1955   경유      강원도      1
1     1958  휘발유     경상북도      1
2     1962   경유      강원도      4
3     1962   경유      경기도      2
4     1962   경유     전라북도      1
...    ...  ...      ...    ...
2768  2023  휘발유     전라남도  22196
2769  2023  휘발유     전라북도  11390
2770  2023  휘발유  제주특별자치도  19860
2771  2023  휘발유     충청남도  16292
2772  2023  휘발유     충청북도  11896

[2773 rows x 4 columns]

In [94]:
# 연도별 말소대수
grp3 = errc2.groupby(['변경일자_년', 'fuel', '시도'], as_index=False)['차대번호'].count()
grp3 = grp3.rename(columns={'변경일자_년':'연도', '차대번호':'말소대수'})
grp3

       연도 fuel       시도   말소대수
0    2019  LPG      강원도   2719
1    2019  LPG      경기도  17972
2    2019  LPG     경상남도   5673
3    2019  LPG     경상북도   4960
4    2019  LPG    광주광역시   3067
..    ...  ...      ...    ...
303  2022  휘발유     전라남도   8255
304  2022  휘발유     전라북도   8175
305  2022  휘발유  제주특별자치도   2989
306  2022  휘발유     충청남도  11177
307  2022  휘발유     충청북도   8117

[308 rows x 4 columns]

In [95]:
base1 = base.merge(grp1, on=['연도', 'fuel', '시도'], how='left')
base1

       연도 fuel    시도      차량대수
0    2019  LPG   강원도       NaN
1    2020  LPG   강원도       NaN
2    2021  LPG   강원도       NaN
3    2022  LPG   강원도  59042.00
4    2019  LPG   경기도       NaN
..    ...  ...   ...       ...
335  2022  휘발유  충청남도 587724.00
336  2019  휘발유  충청북도       NaN
337  2020  휘발유  충청북도       NaN
338  2021  휘발유  충청북도       NaN
339  2022  휘발유  충청북도 450589.00

[340 rows x 4 columns]

In [96]:
base2 = base1.merge(grp2, on=['연도', 'fuel', '시도'], how='left')
base2

       연도 fuel    시도      차량대수     등록대수
0    2019  LPG   강원도       NaN  3386.00
1    2020  LPG   강원도       NaN  3433.00
2    2021  LPG   강원도       NaN  3003.00
3    2022  LPG   강원도  59042.00  1951.00
4    2019  LPG   경기도       NaN 24300.00
..    ...  ...   ...       ...      ...
335  2022  휘발유  충청남도 587724.00 31172.00
336  2019  휘발유  충청북도       NaN 29768.00
337  2020  휘발유  충청북도       NaN 35756.00
338  2021  휘발유  충청북도       NaN 31143.00
339  2022  휘발유  충청북도 450589.00 23347.00

[340 rows x 5 columns]

In [97]:
base3 = base2.merge(grp3, on=['연도', 'fuel', '시도'], how='left')
base3

       연도 fuel    시도      차량대수     등록대수     말소대수
0    2019  LPG   강원도       NaN  3386.00  2719.00
1    2020  LPG   강원도       NaN  3433.00  4651.00
2    2021  LPG   강원도       NaN  3003.00  4552.00
3    2022  LPG   강원도  59042.00  1951.00  1883.00
4    2019  LPG   경기도       NaN 24300.00 17972.00
..    ...  ...   ...       ...      ...      ...
335  2022  휘발유  충청남도 587724.00 31172.00 11177.00
336  2019  휘발유  충청북도       NaN 29768.00  9895.00
337  2020  휘발유  충청북도       NaN 35756.00 18007.00
338  2021  휘발유  충청북도       NaN 31143.00 18139.00
339  2022  휘발유  충청북도 450589.00 23347.00  8117.00

[340 rows x 6 columns]

In [98]:
base3[['차량대수', '등록대수', '말소대수']].isnull().sum()

차량대수    255
등록대수      3
말소대수     32
dtype: int64

In [99]:
base3[['차량대수', '등록대수', '말소대수']] = base3[['차량대수', '등록대수', '말소대수']].fillna(0)

In [100]:
n = 4
for i in range(base3.shape[0] // n):
    for j in range(2, n+1):
        base3.loc[(i+1)*n - j, '차량대수'] = base3.loc[(i+1)*n - (j-1), '차량대수'] + base3.loc[(i+1)*n - (j-1), '말소대수'] - base3.loc[(i+1)*n - (j-1), '등록대수']

In [101]:
base3

       연도 fuel    시도      차량대수     등록대수     말소대수
0    2019  LPG   강원도  61741.00  3386.00  2719.00
1    2020  LPG   강원도  60523.00  3433.00  4651.00
2    2021  LPG   강원도  58974.00  3003.00  4552.00
3    2022  LPG   강원도  59042.00  1951.00  1883.00
4    2019  LPG   경기도 423688.00 24300.00 17972.00
..    ...  ...   ...       ...      ...      ...
335  2022  휘발유  충청남도 587724.00 31172.00 11177.00
336  2019  휘발유  충청북도 404606.00 29768.00  9895.00
337  2020  휘발유  충청북도 422355.00 35756.00 18007.00
338  2021  휘발유  충청북도 435359.00 31143.00 18139.00
339  2022  휘발유  충청북도 450589.00 23347.00  8117.00

[340 rows x 6 columns]

In [102]:
gp = base3.groupby(['연도', '시도', 'fuel'], as_index=False)['차량대수'].sum()

In [103]:
gp['연료비율'] = round((gp['차량대수'] / gp.groupby(['연도', '시도'])['차량대수'].transform('sum')), 2)

In [104]:
gp1 = gp[['연도', 'fuel', '시도', '차량대수', '연료비율']]

In [105]:
cdict = {
    '연도':'YR', 
    'fuel':'FUEL_CD', 
    '시도':'CTPV', 
    '차량대수':'VHCL_MKCNT', 
    '연료비율':'FUEL_RT'
}

In [106]:
STD_BD_CAR_REG_MKCNT = gp1.rename(columns=cdict)
STD_BD_CAR_REG_MKCNT.columns

Index(['YR', 'FUEL_CD', 'CTPV', 'VHCL_MKCNT', 'FUEL_RT'], dtype='object')

In [107]:
STD_BD_CAR_REG_MKCNT.head()

     YR FUEL_CD CTPV  VHCL_MKCNT  FUEL_RT
0  2019     LPG  강원도    61741.00     0.08
1  2019      경유  강원도   386619.00     0.47
2  2019      수소  강원도      262.00     0.00
3  2019      전기  강원도     3833.00     0.00
4  2019     휘발유  강원도   369919.00     0.45

### [출력] STD_BD_CAR_REG_MKCNT

In [ ]:
# expdf = STD_BD_CAR_REG_MKCNT
# table_nm = 'STD_BD_CAR_REG_MKCNT'.upper()

# # 테이블 생성
# sql = 'create table ' + table_nm + '( \n'

# for idx,column in enumerate(expdf.columns):
#     if 'float' in expdf[column].dtype.name:
#         sql += column + ' float'
#     elif 'int' in expdf[column].dtype.name:
#         sql += column + ' number'
#     else:
#         sql += column + ' varchar(255)'

#     if len(expdf.columns) - 1 != idx:
#         sql += ','
#     sql += '\n'
# sql += ')'    
# wbt.execute(sql)

# # 데이터 추가
# # 7s
# wbt.import_from_pandas(expdf, table_nm)

## 내연차 연료, 연도별 차량 현황 예측
- 경유, 휘발유, LPG

In [108]:
dfm2dgl = dfm2.loc[(dfm2['fuel'] == '경유') | (dfm2['fuel'] == '휘발유') | (dfm2['fuel'] == 'LPG')].reset_index(drop=True)
dfm2dgl.shape

(25468509, 25)

In [109]:
errc2dgl = errc2.loc[(errc2['fuel'] == '경유') | (errc2['fuel'] == '휘발유') | (errc2['fuel'] == 'LPG')].reset_index(drop=True)
errc2dgl.shape

(3598671, 27)

In [110]:
# 2022년 차량 대수
grp1 = dfm2dgl.groupby('fuel', as_index=False)['차대번호'].count()
grp1 = grp1.rename(columns={'차대번호':'차량대수'})
grp1['연도'] = '2022'
grp1 = grp1[['연도', 'fuel', '차량대수']]

In [111]:
grp1.head()

     연도 fuel      차량대수
0  2022  LPG   1936073
1  2022   경유   9980148
2  2022  휘발유  13552288

In [112]:
# 4년간 차량 통계 기본 데이터셋
yr_list = []
fuel_list = []
for fuel in grp1['fuel'].unique():
    for yr in ['2019', '2020', '2021', '2022']:
        yr_list.append(yr)
        fuel_list.append(fuel)
base = pd.DataFrame({'연도':yr_list, 'fuel':fuel_list})

In [113]:
base.head()

     연도 fuel
0  2019  LPG
1  2020  LPG
2  2021  LPG
3  2022  LPG
4  2019   경유

In [114]:
# 연도별 등록대수
grp2 = dfm2dgl.groupby(['최초등록일자_년', 'fuel'], as_index=False)['차대번호'].count()
grp2 = grp2.rename(columns={'최초등록일자_년':'연도', '차대번호':'등록대수'})
grp2

       연도 fuel    등록대수
0    1955   경유       1
1    1958  휘발유       1
2    1962   경유       8
3    1962  휘발유       1
4    1963   경유       2
..    ...  ...     ...
164  2022   경유  283522
165  2022  휘발유  867186
166  2023  LPG   20773
167  2023   경유  109007
168  2023  휘발유  397737

[169 rows x 3 columns]

In [115]:
# 연도별 말소대수
grp3 = errc2dgl.groupby(['변경일자_년', 'fuel'], as_index=False)['차대번호'].count()
grp3 = grp3.rename(columns={'변경일자_년':'연도', '차대번호':'말소대수'})
grp3

      연도 fuel    말소대수
0   2019  LPG   80281
1   2019   경유  338061
2   2019  휘발유  282563
3   2020  LPG  143467
4   2020   경유  557385
5   2020  휘발유  511858
6   2021  LPG  134849
7   2021   경유  539521
8   2021  휘발유  508911
9   2022  LPG   55990
10  2022   경유  216399
11  2022  휘발유  229386

In [116]:
base1 = base.merge(grp1, on=['연도', 'fuel'], how='left')
base1

      연도 fuel        차량대수
0   2019  LPG         NaN
1   2020  LPG         NaN
2   2021  LPG         NaN
3   2022  LPG  1936073.00
4   2019   경유         NaN
5   2020   경유         NaN
6   2021   경유         NaN
7   2022   경유  9980148.00
8   2019  휘발유         NaN
9   2020  휘발유         NaN
10  2021  휘발유         NaN
11  2022  휘발유 13552288.00

In [117]:
base2 = base1.merge(grp2, on=['연도', 'fuel'], how='left')
base2

      연도 fuel        차량대수     등록대수
0   2019  LPG         NaN   128533
1   2020  LPG         NaN   124962
2   2021  LPG         NaN   104597
3   2022  LPG  1936073.00    68245
4   2019   경유         NaN   645387
5   2020   경유         NaN   590067
6   2021   경유         NaN   429316
7   2022   경유  9980148.00   283522
8   2019  휘발유         NaN   946498
9   2020  휘발유         NaN  1116605
10  2021  휘발유         NaN  1077272
11  2022  휘발유 13552288.00   867186

In [118]:
base3 = base2.merge(grp3, on=['연도', 'fuel'], how='left')
base3

      연도 fuel        차량대수     등록대수    말소대수
0   2019  LPG         NaN   128533   80281
1   2020  LPG         NaN   124962  143467
2   2021  LPG         NaN   104597  134849
3   2022  LPG  1936073.00    68245   55990
4   2019   경유         NaN   645387  338061
5   2020   경유         NaN   590067  557385
6   2021   경유         NaN   429316  539521
7   2022   경유  9980148.00   283522  216399
8   2019  휘발유         NaN   946498  282563
9   2020  휘발유         NaN  1116605  511858
10  2021  휘발유         NaN  1077272  508911
11  2022  휘발유 13552288.00   867186  229386

In [119]:
base3[['차량대수', '등록대수', '말소대수']].isnull().sum()

차량대수    9
등록대수    0
말소대수    0
dtype: int64

In [120]:
base3[['차량대수', '등록대수', '말소대수']] = base3[['차량대수', '등록대수', '말소대수']].fillna(0)

In [121]:
n = 4
for i in range(base3.shape[0] // n):
    for j in range(2, n+1):
        base3.loc[(i+1)*n - j, '차량대수'] = base3.loc[(i+1)*n - (j-1), '차량대수'] + base3.loc[(i+1)*n - (j-1), '말소대수'] - base3.loc[(i+1)*n - (j-1), '등록대수']

In [122]:
base3

      연도 fuel        차량대수     등록대수    말소대수
0   2019  LPG  1972575.00   128533   80281
1   2020  LPG  1954070.00   124962  143467
2   2021  LPG  1923818.00   104597  134849
3   2022  LPG  1936073.00    68245   55990
4   2019   경유  9990548.00   645387  338061
5   2020   경유 10023230.00   590067  557385
6   2021   경유  9913025.00   429316  539521
7   2022   경유  9980148.00   283522  216399
8   2019  휘발유 11741380.00   946498  282563
9   2020  휘발유 12346127.00  1116605  511858
10  2021  휘발유 12914488.00  1077272  508911
11  2022  휘발유 13552288.00   867186  229386

In [123]:
die = base3.loc[base3['fuel'] == '경유', ['연도', 'fuel', '차량대수']].reset_index(drop=True)
gas = base3.loc[base3['fuel'] == '휘발유', ['연도', 'fuel', '차량대수']].reset_index(drop=True)
lpg = base3.loc[base3['fuel'] == 'LPG', ['연도', 'fuel', '차량대수']].reset_index(drop=True)

In [124]:
die['연도'] = die['연도'].astype('int')
gas['연도'] = gas['연도'].astype('int')
lpg['연도'] = lpg['연도'].astype('int')

In [125]:
fit1 = np.polyfit(die['연도'], die['차량대수'], 1)
fit2 = np.polyfit(gas['연도'], gas['차량대수'], 1)
fit3 = np.polyfit(lpg['연도'], lpg['차량대수'], 1)

In [126]:
a1, b1 = fit1
a2, b2 = fit2
a3, b3 = fit3

In [127]:
yr_list = []
fuel_list = []
pred_list = []
fuel = '경유'
for yr in range(2023, 2036):
    pred = a1 * yr + b1
    yr_list.append(yr)
    fuel_list.append(fuel)
    pred_list.append(pred)
die_pred = pd.DataFrame({'연도':yr_list, 'fuel':fuel_list, '경유_예측':pred_list})

In [128]:
yr_list = []
fuel_list = []
pred_list = []
fuel = '휘발유'
for yr in range(2023, 2036):
    pred = a2 * yr + b2
    yr_list.append(yr)
    fuel_list.append(fuel)
    pred_list.append(pred)
gas_pred = pd.DataFrame({'연도':yr_list, 'fuel':fuel_list, '휘발유_예측':pred_list})

In [129]:
yr_list = []
fuel_list = []
pred_list = []
fuel = 'LPG'
for yr in range(2023, 2036):
    pred = a3 * yr + b3
    yr_list.append(yr)
    fuel_list.append(fuel)
    pred_list.append(pred)
lpg_pred = pd.DataFrame({'연도':yr_list, 'fuel':fuel_list, 'LPG_예측':pred_list})

In [130]:
die_t = pd.concat([die, die_pred], ignore_index=True)
gas_t = pd.concat([gas, gas_pred], ignore_index=True)
lpg_t = pd.concat([lpg, lpg_pred], ignore_index=True)

In [131]:
die_t = die_t.rename(columns={'차량대수':'경유_대수'})
gas_t = gas_t.rename(columns={'차량대수':'휘발유_대수'})
lpg_t = lpg_t.rename(columns={'차량대수':'LPG_대수'})

In [132]:
die_t.columns

Index(['연도', 'fuel', '경유_대수', '경유_예측'], dtype='object')

In [133]:
df5 = pd.concat([die_t[['연도', '경유_대수', '경유_예측']], gas_t[['휘발유_대수', '휘발유_예측']], lpg_t[['LPG_대수', 'LPG_예측']]], axis=1)
df5.head()

     연도       경유_대수      경유_예측      휘발유_대수      휘발유_예측     LPG_대수     LPG_예측
0  2019  9990548.00        NaN 11741380.00         NaN 1972575.00        NaN
1  2020 10023230.00        NaN 12346127.00         NaN 1954070.00        NaN
2  2021  9913025.00        NaN 12914488.00         NaN 1923818.00        NaN
3  2022  9980148.00        NaN 13552288.00         NaN 1936073.00        NaN
4  2023         NaN 9941386.50         NaN 14138842.00        NaN 1911694.50

In [134]:
df5.columns

Index(['연도', '경유_대수', '경유_예측', '휘발유_대수', '휘발유_예측', 'LPG_대수', 'LPG_예측'], dtype='object')

In [135]:
df5 = df5[[
    '연도', 
    '휘발유_대수', 
    '경유_대수', 
    'LPG_대수', 
    '휘발유_예측', 
    '경유_예측', 
    'LPG_예측'
    ]]

In [136]:
cdict = {
    '연도':'YR', 
    '휘발유_대수':'GSL', 
    '경유_대수':'DSL', 
    'LPG_대수':'LPG', 
    '휘발유_예측':'GSL_PRET', 
    '경유_예측':'DSL_PRET', 
    'LPG_예측':'LPG_PRET',
}

In [137]:
STD_BD_CAR_PRET = df5.rename(columns=cdict)
STD_BD_CAR_PRET.columns

Index(['YR', 'GSL', 'DSL', 'LPG', 'GSL_PRET', 'DSL_PRET', 'LPG_PRET'], dtype='object')

In [138]:
STD_BD_CAR_PRET.tail()

      YR  GSL  DSL  LPG    GSL_PRET   DSL_PRET   LPG_PRET
12  2031  NaN  NaN  NaN 18939710.00 9828262.50 1799888.10
13  2032  NaN  NaN  NaN 19539818.50 9814122.00 1785912.30
14  2033  NaN  NaN  NaN 20139927.00 9799981.50 1771936.50
15  2034  NaN  NaN  NaN 20740035.50 9785841.00 1757960.70
16  2035  NaN  NaN  NaN 21340144.00 9771700.50 1743984.90

### [출력] STD_BD_CAR_PRET

In [ ]:
# expdf = STD_BD_CAR_PRET
# table_nm = 'STD_BD_CAR_PRET'.upper()

# # 테이블 생성
# sql = 'create table ' + table_nm + '( \n'

# for idx,column in enumerate(expdf.columns):
#     if 'float' in expdf[column].dtype.name:
#         sql += column + ' float'
#     elif 'int' in expdf[column].dtype.name:
#         sql += column + ' number'
#     else:
#         sql += column + ' varchar(255)'

#     if len(expdf.columns) - 1 != idx:
#         sql += ','
#     sql += '\n'
# sql += ')'    
# wbt.execute(sql)

# # 데이터 추가
# # 7s
# wbt.import_from_pandas(expdf, table_nm)

## 내연차 연료, 등급, 연도별 차량 현황 예측
- 경유, 휘발유, LPG

In [139]:
# 2022년 차량 대수
grp1 = dfm2dgl.groupby(['fuel', '배출가스등급'], as_index=False)['차대번호'].count()
grp1 = grp1.rename(columns={'차대번호':'차량대수'})
grp1['연도'] = '2022'
grp1 = grp1[['연도', 'fuel', '배출가스등급', '차량대수']]

In [140]:
grp1.head()

     연도 fuel 배출가스등급     차량대수
0  2022  LPG      1   479004
1  2022  LPG      2  1176911
2  2022  LPG      3   238483
3  2022  LPG      4    24551
4  2022  LPG      5      436

In [141]:
# 4년간 차량 통계 기본 데이터셋
yr_list = []
fuel_list = []
grd_list = []
for fuel in grp1['fuel'].unique():
    for grd in grp1['배출가스등급'].unique():
        for yr in ['2019', '2020', '2021', '2022']:
            yr_list.append(yr)
            fuel_list.append(fuel)
            grd_list.append(grd)
base = pd.DataFrame({'연도':yr_list, 'fuel':fuel_list, '배출가스등급':grd_list})

In [142]:
base.head()

     연도 fuel 배출가스등급
0  2019  LPG      1
1  2020  LPG      1
2  2021  LPG      1
3  2022  LPG      1
4  2019  LPG      2

In [143]:
# 연도별 등록대수
grp2 = dfm2dgl.groupby(['최초등록일자_년', 'fuel', '배출가스등급'], as_index=False)['차대번호'].count()
grp2 = grp2.rename(columns={'최초등록일자_년':'연도', '차대번호':'등록대수'})
grp2

       연도 fuel 배출가스등급    등록대수
0    1955   경유      5       1
1    1958  휘발유      5       1
2    1962   경유      5       8
3    1962  휘발유      5       1
4    1963   경유      5       2
..    ...  ...    ...     ...
448  2023   경유      3   42813
449  2023   경유      X   66194
450  2023  휘발유      1   72399
451  2023  휘발유      2  157626
452  2023  휘발유      X  167712

[453 rows x 4 columns]

In [144]:
# 연도별 말소대수
grp3 = errc2dgl.groupby(['변경일자_년', 'fuel', '배출가스등급'], as_index=False)['차대번호'].count()
grp3 = grp3.rename(columns={'변경일자_년':'연도', '차대번호':'말소대수'})
grp3

      연도 fuel 배출가스등급    말소대수
0   2019  LPG      1    5974
1   2019  LPG      2   27863
2   2019  LPG      3   42824
3   2019  LPG      4    3458
4   2019  LPG      5       3
..   ...  ...    ...     ...
59  2022  휘발유      2  116723
60  2022  휘발유      3   94401
61  2022  휘발유      4   11558
62  2022  휘발유      5     206
63  2022  휘발유      X    1307

[64 rows x 4 columns]

In [145]:
base1 = base.merge(grp1, on=['연도', 'fuel', '배출가스등급'], how='left')
base1

      연도 fuel 배출가스등급      차량대수
0   2019  LPG      1       NaN
1   2020  LPG      1       NaN
2   2021  LPG      1       NaN
3   2022  LPG      1 479004.00
4   2019  LPG      2       NaN
..   ...  ...    ...       ...
67  2022  휘발유      5  30012.00
68  2019  휘발유      X       NaN
69  2020  휘발유      X       NaN
70  2021  휘발유      X       NaN
71  2022  휘발유      X 243082.00

[72 rows x 4 columns]

In [146]:
base2 = base1.merge(grp2, on=['연도', 'fuel', '배출가스등급'], how='left')
base2

      연도 fuel 배출가스등급      차량대수     등록대수
0   2019  LPG      1       NaN 62979.00
1   2020  LPG      1       NaN 47598.00
2   2021  LPG      1       NaN 36005.00
3   2022  LPG      1 479004.00 16628.00
4   2019  LPG      2       NaN 65541.00
..   ...  ...    ...       ...      ...
67  2022  휘발유      5  30012.00      NaN
68  2019  휘발유      X       NaN  2660.00
69  2020  휘발유      X       NaN  4611.00
70  2021  휘발유      X       NaN  5593.00
71  2022  휘발유      X 243082.00 62230.00

[72 rows x 5 columns]

In [147]:
base3 = base2.merge(grp3, on=['연도', 'fuel', '배출가스등급'], how='left')
base3

      연도 fuel 배출가스등급      차량대수     등록대수     말소대수
0   2019  LPG      1       NaN 62979.00  5974.00
1   2020  LPG      1       NaN 47598.00 15886.00
2   2021  LPG      1       NaN 36005.00 23771.00
3   2022  LPG      1 479004.00 16628.00 10240.00
4   2019  LPG      2       NaN 65541.00 27863.00
..   ...  ...    ...       ...      ...      ...
67  2022  휘발유      5  30012.00      NaN   206.00
68  2019  휘발유      X       NaN  2660.00   303.00
69  2020  휘발유      X       NaN  4611.00   773.00
70  2021  휘발유      X       NaN  5593.00  1930.00
71  2022  휘발유      X 243082.00 62230.00  1307.00

[72 rows x 6 columns]

In [148]:
base3[['차량대수', '등록대수', '말소대수']].isnull().sum()

차량대수    56
등록대수    25
말소대수     8
dtype: int64

In [149]:
base3[['차량대수', '등록대수', '말소대수']] = base3[['차량대수', '등록대수', '말소대수']].fillna(0)

In [150]:
n = 4
for i in range(base3.shape[0] // n):
    for j in range(2, n+1):
        base3.loc[(i+1)*n - j, '차량대수'] = base3.loc[(i+1)*n - (j-1), '차량대수'] + base3.loc[(i+1)*n - (j-1), '말소대수'] - base3.loc[(i+1)*n - (j-1), '등록대수']

In [151]:
base3

      연도 fuel 배출가스등급       차량대수     등록대수     말소대수
0   2019  LPG      1  428670.00 62979.00  5974.00
1   2020  LPG      1  460382.00 47598.00 15886.00
2   2021  LPG      1  472616.00 36005.00 23771.00
3   2022  LPG      1  479004.00 16628.00 10240.00
4   2019  LPG      2 1102289.00 65541.00 27863.00
..   ...  ...    ...        ...      ...      ...
67  2022  휘발유      5   30012.00     0.00   206.00
68  2019  휘발유      X  174658.00  2660.00   303.00
69  2020  휘발유      X  178496.00  4611.00   773.00
70  2021  휘발유      X  182159.00  5593.00  1930.00
71  2022  휘발유      X  243082.00 62230.00  1307.00

[72 rows x 6 columns]

In [152]:
die = base3.loc[base3['fuel'] == '경유', ['연도', 'fuel', '배출가스등급', '차량대수']].reset_index(drop=True)
gas = base3.loc[base3['fuel'] == '휘발유', ['연도', 'fuel', '배출가스등급', '차량대수']].reset_index(drop=True)
lpg = base3.loc[base3['fuel'] == 'LPG', ['연도', 'fuel', '배출가스등급', '차량대수']].reset_index(drop=True)

In [153]:
die['연도'] = die['연도'].astype('int')
gas['연도'] = gas['연도'].astype('int')
lpg['연도'] = lpg['연도'].astype('int')

In [154]:
die['배출가스등급'].unique()

array(['1', '2', '3', '4', '5', 'X'], dtype=object)

In [155]:
die1 = die.loc[die['배출가스등급'] == '1'].reset_index(drop=True)
die2 = die.loc[die['배출가스등급'] == '2'].reset_index(drop=True)
die3 = die.loc[die['배출가스등급'] == '3'].reset_index(drop=True)
die4 = die.loc[die['배출가스등급'] == '4'].reset_index(drop=True)
die5 = die.loc[die['배출가스등급'] == '5'].reset_index(drop=True)

In [156]:
gas1 = gas.loc[gas['배출가스등급'] == '1'].reset_index(drop=True)
gas2 = gas.loc[gas['배출가스등급'] == '2'].reset_index(drop=True)
gas3 = gas.loc[gas['배출가스등급'] == '3'].reset_index(drop=True)
gas4 = gas.loc[gas['배출가스등급'] == '4'].reset_index(drop=True)
gas5 = gas.loc[gas['배출가스등급'] == '5'].reset_index(drop=True)

In [157]:
lpg1 = lpg.loc[lpg['배출가스등급'] == '1'].reset_index(drop=True)
lpg2 = lpg.loc[lpg['배출가스등급'] == '2'].reset_index(drop=True)
lpg3 = lpg.loc[lpg['배출가스등급'] == '3'].reset_index(drop=True)
lpg4 = lpg.loc[lpg['배출가스등급'] == '4'].reset_index(drop=True)
lpg5 = lpg.loc[lpg['배출가스등급'] == '5'].reset_index(drop=True)

In [158]:
fit_d1 = np.polyfit(die1['연도'], die1['차량대수'], 1)
fit_d2 = np.polyfit(die2['연도'], die2['차량대수'], 1)
fit_d3 = np.polyfit(die3['연도'], die3['차량대수'], 1)
fit_d4 = np.polyfit(die4['연도'], die4['차량대수'], 1)
fit_d5 = np.polyfit(die5['연도'], die5['차량대수'], 1)

In [159]:
fit_g1 = np.polyfit(gas1['연도'], gas1['차량대수'], 1)
fit_g2 = np.polyfit(gas2['연도'], gas2['차량대수'], 1)
fit_g3 = np.polyfit(gas3['연도'], gas3['차량대수'], 1)
fit_g4 = np.polyfit(gas4['연도'], gas4['차량대수'], 1)
fit_g5 = np.polyfit(gas5['연도'], gas5['차량대수'], 1)

In [160]:
fit_l1 = np.polyfit(lpg1['연도'], lpg1['차량대수'], 1)
fit_l2 = np.polyfit(lpg2['연도'], lpg2['차량대수'], 1)
fit_l3 = np.polyfit(lpg3['연도'], lpg3['차량대수'], 1)
fit_l4 = np.polyfit(lpg4['연도'], lpg4['차량대수'], 1)
fit_l5 = np.polyfit(lpg5['연도'], lpg5['차량대수'], 1)

In [161]:
ad1, bd1 = fit_d1
ad2, bd2 = fit_d2
ad3, bd3 = fit_d3
ad4, bd4 = fit_d4
ad5, bd5 = fit_d5

In [162]:
ag1, bg1 = fit_g1
ag2, bg2 = fit_g2
ag3, bg3 = fit_g3
ag4, bg4 = fit_g4
ag5, bg5 = fit_g5

In [163]:
al1, bl1 = fit_l1
al2, bl2 = fit_l2
al3, bl3 = fit_l3
al4, bl4 = fit_l4
al5, bl5 = fit_l5

In [164]:
# 경유 1등급 예측
yr_list = []
fuel_list = []
grd_list = []
pred_list = []
fuel = '경유'
grd = '1'
for yr in range(2023, 2036):
    pred = ad1 * yr + bd1
    yr_list.append(yr)
    fuel_list.append(fuel)
    grd_list.append(grd)
    pred_list.append(pred)
die1_pred = pd.DataFrame({'연도':yr_list, 'fuel':fuel_list, '배출가스등급':grd_list,'경유_예측':pred_list})
# 경유 2등급 예측
yr_list = []
fuel_list = []
grd_list = []
pred_list = []
fuel = '경유'
grd = '2'
for yr in range(2023, 2036):
    pred = ad2 * yr + bd2
    yr_list.append(yr)
    fuel_list.append(fuel)
    grd_list.append(grd)
    pred_list.append(pred)
die2_pred = pd.DataFrame({'연도':yr_list, 'fuel':fuel_list, '배출가스등급':grd_list,'경유_예측':pred_list})
# 경유 3등급 예측
yr_list = []
fuel_list = []
grd_list = []
pred_list = []
fuel = '경유'
grd = '3'
for yr in range(2023, 2036):
    pred = ad3 * yr + bd3
    yr_list.append(yr)
    fuel_list.append(fuel)
    grd_list.append(grd)
    pred_list.append(pred)
die3_pred = pd.DataFrame({'연도':yr_list, 'fuel':fuel_list, '배출가스등급':grd_list,'경유_예측':pred_list})
# 경유 4등급 예측
yr_list = []
fuel_list = []
grd_list = []
pred_list = []
fuel = '경유'
grd = '4'
for yr in range(2023, 2036):
    pred = ad4 * yr + bd4
    yr_list.append(yr)
    fuel_list.append(fuel)
    grd_list.append(grd)
    pred_list.append(pred)
die4_pred = pd.DataFrame({'연도':yr_list, 'fuel':fuel_list, '배출가스등급':grd_list,'경유_예측':pred_list})
# 경유 5등급 예측
yr_list = []
fuel_list = []
grd_list = []
pred_list = []
fuel = '경유'
grd = '5'
for yr in range(2023, 2036):
    pred = ad5 * yr + bd5
    yr_list.append(yr)
    fuel_list.append(fuel)
    grd_list.append(grd)
    pred_list.append(pred)
die5_pred = pd.DataFrame({'연도':yr_list, 'fuel':fuel_list, '배출가스등급':grd_list,'경유_예측':pred_list})

In [165]:
# 휘발유 1등급 예측
yr_list = []
fuel_list = []
grd_list = []
pred_list = []
fuel = '휘발유'
grd = '1'
for yr in range(2023, 2036):
    pred = ag1 * yr + bg1
    yr_list.append(yr)
    fuel_list.append(fuel)
    grd_list.append(grd)
    pred_list.append(pred)
gas1_pred = pd.DataFrame({'연도':yr_list, 'fuel':fuel_list, '배출가스등급':grd_list,'휘발유_예측':pred_list})
# 휘발유 2등급 예측
yr_list = []
fuel_list = []
grd_list = []
pred_list = []
fuel = '휘발유'
grd = '2'
for yr in range(2023, 2036):
    pred = ag2 * yr + bg2
    yr_list.append(yr)
    fuel_list.append(fuel)
    grd_list.append(grd)
    pred_list.append(pred)
gas2_pred = pd.DataFrame({'연도':yr_list, 'fuel':fuel_list, '배출가스등급':grd_list,'휘발유_예측':pred_list})
# 휘발유 3등급 예측
yr_list = []
fuel_list = []
grd_list = []
pred_list = []
fuel = '휘발유'
grd = '3'
for yr in range(2023, 2036):
    pred = ag3 * yr + bg3
    yr_list.append(yr)
    fuel_list.append(fuel)
    grd_list.append(grd)
    pred_list.append(pred)
gas3_pred = pd.DataFrame({'연도':yr_list, 'fuel':fuel_list, '배출가스등급':grd_list,'휘발유_예측':pred_list})
# 휘발유 4등급 예측
yr_list = []
fuel_list = []
grd_list = []
pred_list = []
fuel = '휘발유'
grd = '4'
for yr in range(2023, 2036):
    pred = ag4 * yr + bg4
    yr_list.append(yr)
    fuel_list.append(fuel)
    grd_list.append(grd)
    pred_list.append(pred)
gas4_pred = pd.DataFrame({'연도':yr_list, 'fuel':fuel_list, '배출가스등급':grd_list,'휘발유_예측':pred_list})
# 휘발유 5등급 예측
yr_list = []
fuel_list = []
grd_list = []
pred_list = []
fuel = '휘발유'
grd = '5'
for yr in range(2023, 2036):
    pred = ag5 * yr + bg5
    yr_list.append(yr)
    fuel_list.append(fuel)
    grd_list.append(grd)
    pred_list.append(pred)
gas5_pred = pd.DataFrame({'연도':yr_list, 'fuel':fuel_list, '배출가스등급':grd_list,'휘발유_예측':pred_list})

In [166]:
# LPG 1등급 예측
yr_list = []
fuel_list = []
grd_list = []
pred_list = []
fuel = 'LPG'
grd = '1'
for yr in range(2023, 2036):
    pred = al1 * yr + bl1
    yr_list.append(yr)
    fuel_list.append(fuel)
    grd_list.append(grd)
    pred_list.append(pred)
lpg1_pred = pd.DataFrame({'연도':yr_list, 'fuel':fuel_list, '배출가스등급':grd_list,'LPG_예측':pred_list})
# LPG 2등급 예측
yr_list = []
fuel_list = []
grd_list = []
pred_list = []
fuel = 'LPG'
grd = '2'
for yr in range(2023, 2036):
    pred = al2 * yr + bl2
    yr_list.append(yr)
    fuel_list.append(fuel)
    grd_list.append(grd)
    pred_list.append(pred)
lpg2_pred = pd.DataFrame({'연도':yr_list, 'fuel':fuel_list, '배출가스등급':grd_list,'LPG_예측':pred_list})
# LPG 3등급 예측
yr_list = []
fuel_list = []
grd_list = []
pred_list = []
fuel = 'LPG'
grd = '3'
for yr in range(2023, 2036):
    pred = al3 * yr + bl3
    yr_list.append(yr)
    fuel_list.append(fuel)
    grd_list.append(grd)
    pred_list.append(pred)
lpg3_pred = pd.DataFrame({'연도':yr_list, 'fuel':fuel_list, '배출가스등급':grd_list,'LPG_예측':pred_list})
# LPG 4등급 예측
yr_list = []
fuel_list = []
grd_list = []
pred_list = []
fuel = 'LPG'
grd = '4'
for yr in range(2023, 2036):
    pred = al4 * yr + bl4
    yr_list.append(yr)
    fuel_list.append(fuel)
    grd_list.append(grd)
    pred_list.append(pred)
lpg4_pred = pd.DataFrame({'연도':yr_list, 'fuel':fuel_list, '배출가스등급':grd_list,'LPG_예측':pred_list})
# LPG 5등급 예측
yr_list = []
fuel_list = []
grd_list = []
pred_list = []
fuel = 'LPG'
grd = '5'
for yr in range(2023, 2036):
    pred = al5 * yr + bl5
    yr_list.append(yr)
    fuel_list.append(fuel)
    grd_list.append(grd)
    pred_list.append(pred)
lpg5_pred = pd.DataFrame({'연도':yr_list, 'fuel':fuel_list, '배출가스등급':grd_list,'LPG_예측':pred_list})

In [167]:
die1.head()

     연도 fuel 배출가스등급  차량대수
0  2019   경유      1  0.00
1  2020   경유      1  0.00
2  2021   경유      1  0.00
3  2022   경유      1  0.00

In [168]:
die_t = pd.concat([die1, die1_pred, die2, die2_pred, die3, die3_pred, die4, die4_pred, die5, die5_pred], ignore_index=True)
gas_t = pd.concat([gas1, gas1_pred, gas2, gas2_pred, gas3, gas3_pred, gas4, gas4_pred, gas5, gas5_pred], ignore_index=True)
lpg_t = pd.concat([lpg1, lpg1_pred, lpg2, lpg2_pred, lpg3, lpg3_pred, lpg4, lpg4_pred, lpg5, lpg5_pred], ignore_index=True)

In [169]:
die_t = die_t.rename(columns={'경유_예측':'차량예측'})
gas_t = gas_t.rename(columns={'휘발유_예측':'차량예측'})
lpg_t = lpg_t.rename(columns={'LPG_예측':'차량예측'})

In [170]:
df6 = pd.concat([die_t, gas_t, lpg_t], ignore_index=True)

In [171]:
df6.loc[df6['차량예측'] < 0, '차량예측'] = 0

In [172]:
df6.columns

Index(['연도', 'fuel', '배출가스등급', '차량대수', '차량예측'], dtype='object')

In [173]:
cdict = {
    '연도':'YR', 
    'fuel':'FUEL_CD', 
    '배출가스등급':'GRD', 
    '차량대수':'VHCL_MKCNT', 
    '차량예측':'VHCL_PRET', 
}

In [174]:
STD_BD_FUEL_GRD_VHCL_CURSTT_PRET = df6.rename(columns=cdict)
STD_BD_FUEL_GRD_VHCL_CURSTT_PRET.columns

Index(['YR', 'FUEL_CD', 'GRD', 'VHCL_MKCNT', 'VHCL_PRET'], dtype='object')

In [175]:
STD_BD_FUEL_GRD_VHCL_CURSTT_PRET.head()

     YR FUEL_CD GRD  VHCL_MKCNT  VHCL_PRET
0  2019      경유   1        0.00        NaN
1  2020      경유   1        0.00        NaN
2  2021      경유   1        0.00        NaN
3  2022      경유   1        0.00        NaN
4  2023      경유   1         NaN       0.00

### [출력] STD_BD_FUEL_GRD_VHCL_CURSTT_PRET

In [ ]:
# expdf = STD_BD_FUEL_GRD_VHCL_CURSTT_PRET
# table_nm = 'STD_BD_FUEL_GRD_VHCL_CURSTT_PRET'.upper()

# # 테이블 생성
# sql = 'create table ' + table_nm + '( \n'

# for idx,column in enumerate(expdf.columns):
#     if 'float' in expdf[column].dtype.name:
#         sql += column + ' float'
#     elif 'int' in expdf[column].dtype.name:
#         sql += column + ' number'
#     else:
#         sql += column + ' varchar(255)'

#     if len(expdf.columns) - 1 != idx:
#         sql += ','
#     sql += '\n'
# sql += ')'    
# wbt.execute(sql)

# # 데이터 추가
# # 7s
# wbt.import_from_pandas(expdf, table_nm)

## 무공해차 연료, 연도별 차량 현황 예측
- 전기, 수소

In [176]:
dfm2bh = dfm2.loc[(dfm2['fuel'] == '전기') | (dfm2['fuel'] == '수소')].reset_index(drop=True)
dfm2bh.shape

(437341, 25)

In [177]:
errc2bh = errc2.loc[(errc2['fuel'] == '전기') | (errc2['fuel'] == '수소')].reset_index(drop=True)
errc2bh.shape

(8112, 27)

In [178]:
# 2022년 차량 대수
grp1 = dfm2bh.groupby('fuel', as_index=False)['차대번호'].count()
grp1 = grp1.rename(columns={'차대번호':'차량대수'})
grp1['연도'] = '2022'
grp1 = grp1[['연도', 'fuel', '차량대수']]

In [179]:
grp1.head()

     연도 fuel    차량대수
0  2022   수소   29489
1  2022   전기  407852

In [180]:
# 4년간 차량 통계 기본 데이터셋
yr_list = []
fuel_list = []
for fuel in grp1['fuel'].unique():
    for yr in ['2019', '2020', '2021', '2022']:
        yr_list.append(yr)
        fuel_list.append(fuel)
base = pd.DataFrame({'연도':yr_list, 'fuel':fuel_list})

In [181]:
base.head()

     연도 fuel
0  2019   수소
1  2020   수소
2  2021   수소
3  2022   수소
4  2019   전기

In [182]:
# 연도별 등록대수
grp2 = dfm2bh.groupby(['최초등록일자_년', 'fuel'], as_index=False)['차대번호'].count()
grp2 = grp2.rename(columns={'최초등록일자_년':'연도', '차대번호':'등록대수'})
grp2

      연도 fuel    등록대수
0   2010   전기      10
1   2011   전기     106
2   2012   전기     369
3   2013   전기     489
4   2014   수소       5
5   2014   전기    1175
6   2015   수소      33
7   2015   전기    2767
8   2016   수소      45
9   2016   전기    3994
10  2017   수소      82
11  2017   전기   12217
12  2018   수소     713
13  2018   전기   27895
14  2019   수소    4163
15  2019   전기   33315
16  2020   수소    5812
17  2020   전기   46263
18  2021   수소    8516
19  2021   전기  100262
20  2022   수소    8136
21  2022   전기  128997
22  2023   수소    1984
23  2023   전기   49993

In [183]:
# 연도별 말소대수
grp3 = errc2bh.groupby(['변경일자_년', 'fuel'], as_index=False)['차대번호'].count()
grp3 = grp3.rename(columns={'변경일자_년':'연도', '차대번호':'말소대수'})
grp3

     연도 fuel  말소대수
0  2019   수소     5
1  2019   전기   593
2  2020   수소    19
3  2020   전기  1680
4  2021   수소    38
5  2021   전기  3950
6  2022   수소    37
7  2022   전기  1790

In [184]:
base1 = base.merge(grp1, on=['연도', 'fuel'], how='left')
base1

     연도 fuel      차량대수
0  2019   수소       NaN
1  2020   수소       NaN
2  2021   수소       NaN
3  2022   수소  29489.00
4  2019   전기       NaN
5  2020   전기       NaN
6  2021   전기       NaN
7  2022   전기 407852.00

In [185]:
base2 = base1.merge(grp2, on=['연도', 'fuel'], how='left')
base2

     연도 fuel      차량대수    등록대수
0  2019   수소       NaN    4163
1  2020   수소       NaN    5812
2  2021   수소       NaN    8516
3  2022   수소  29489.00    8136
4  2019   전기       NaN   33315
5  2020   전기       NaN   46263
6  2021   전기       NaN  100262
7  2022   전기 407852.00  128997

In [186]:
base3 = base2.merge(grp3, on=['연도', 'fuel'], how='left')
base3

     연도 fuel      차량대수    등록대수  말소대수
0  2019   수소       NaN    4163     5
1  2020   수소       NaN    5812    19
2  2021   수소       NaN    8516    38
3  2022   수소  29489.00    8136    37
4  2019   전기       NaN   33315   593
5  2020   전기       NaN   46263  1680
6  2021   전기       NaN  100262  3950
7  2022   전기 407852.00  128997  1790

In [187]:
base3[['차량대수', '등록대수', '말소대수']].isnull().sum()

차량대수    6
등록대수    0
말소대수    0
dtype: int64

In [188]:
base3[['차량대수', '등록대수', '말소대수']] = base3[['차량대수', '등록대수', '말소대수']].fillna(0)

In [189]:
n = 4
for i in range(base3.shape[0] // n):
    for j in range(2, n+1):
        base3.loc[(i+1)*n - j, '차량대수'] = base3.loc[(i+1)*n - (j-1), '차량대수'] + base3.loc[(i+1)*n - (j-1), '말소대수'] - base3.loc[(i+1)*n - (j-1), '등록대수']

In [190]:
base3

     연도 fuel      차량대수    등록대수  말소대수
0  2019   수소   7119.00    4163     5
1  2020   수소  12912.00    5812    19
2  2021   수소  21390.00    8516    38
3  2022   수소  29489.00    8136    37
4  2019   전기 139750.00   33315   593
5  2020   전기 184333.00   46263  1680
6  2021   전기 280645.00  100262  3950
7  2022   전기 407852.00  128997  1790

In [191]:
bt = base3.loc[base3['fuel'] == '전기', ['연도', 'fuel', '차량대수']].reset_index(drop=True)
hy = base3.loc[base3['fuel'] == '수소', ['연도', 'fuel', '차량대수']].reset_index(drop=True)

In [192]:
bt['연도'] = bt['연도'].astype('int')
hy['연도'] = hy['연도'].astype('int')

In [193]:
fit1 = np.polyfit(bt['연도'], bt['차량대수'], 1)
fit2 = np.polyfit(hy['연도'], hy['차량대수'], 1)

In [194]:
a1, b1 = fit1
a2, b2 = fit2

In [195]:
yr_list = []
fuel_list = []
pred_list = []
fuel = '전기'
for yr in range(2023, 2036):
    pred = a1 * yr + b1
    yr_list.append(yr)
    fuel_list.append(fuel)
    pred_list.append(pred)
bt_pred = pd.DataFrame({'연도':yr_list, 'fuel':fuel_list, '전기_예측':pred_list})

In [196]:
yr_list = []
fuel_list = []
pred_list = []
fuel = '수소'
for yr in range(2023, 2036):
    pred = a2 * yr + b2
    yr_list.append(yr)
    fuel_list.append(fuel)
    pred_list.append(pred)
hy_pred = pd.DataFrame({'연도':yr_list, 'fuel':fuel_list, '수소_예측':pred_list})

In [198]:
bt_t = pd.concat([bt, bt_pred], ignore_index=True)
hy_t = pd.concat([hy, hy_pred], ignore_index=True)

In [199]:
bt_t = bt_t.rename(columns={'차량대수':'전기_대수'})
hy_t = hy_t.rename(columns={'차량대수':'수소_대수'})

In [200]:
hy_t.columns

Index(['연도', 'fuel', '수소_대수', '수소_예측'], dtype='object')

In [201]:
df7 = pd.concat([ bt_t[['연도', '전기_대수', '전기_예측']], hy_t[['수소_대수', '수소_예측']] ], axis=1)

     연도     전기_대수     전기_예측    수소_대수    수소_예측
0  2019 139750.00       NaN  7119.00      NaN
1  2020 184333.00       NaN 12912.00      NaN
2  2021 280645.00       NaN 21390.00      NaN
3  2022 407852.00       NaN 29489.00      NaN
4  2023       NaN 478299.50      NaN 36624.50

In [213]:
df7

      연도     전기_대수    수소_대수      전기_예측     수소_예측
0   2019 139750.00  7119.00        NaN       NaN
1   2020 184333.00 12912.00        NaN       NaN
2   2021 280645.00 21390.00        NaN       NaN
3   2022 407852.00 29489.00        NaN       NaN
4   2023       NaN      NaN  478299.50  36624.50
5   2024       NaN      NaN  568361.30  44183.30
6   2025       NaN      NaN  658423.10  51742.10
7   2026       NaN      NaN  748484.90  59300.90
8   2027       NaN      NaN  838546.70  66859.70
9   2028       NaN      NaN  928608.50  74418.50
10  2029       NaN      NaN 1018670.30  81977.30
11  2030       NaN      NaN 1108732.10  89536.10
12  2031       NaN      NaN 1198793.90  97094.90
13  2032       NaN      NaN 1288855.70 104653.70
14  2033       NaN      NaN 1378917.50 112212.50
15  2034       NaN      NaN 1468979.30 119771.30
16  2035       NaN      NaN 1559041.10 127330.10

In [202]:
df7.columns

Index(['연도', '전기_대수', '전기_예측', '수소_대수', '수소_예측'], dtype='object')

In [203]:
df7 = df7[[
    '연도', 
    '전기_대수', 
    '수소_대수', 
    '전기_예측',
    '수소_예측', 
    ]]

In [204]:
cdict = {
    '연도':'YR', 
    '전기_대수':'BTYCR', 
    '수소_대수':'HY', 
    '전기_예측':'BTYCR_PRET',
    '수소_예측':'HY_PRET',
}

In [205]:
STD_BD_ECO_CAR_PRET = df7.rename(columns=cdict)
STD_BD_ECO_CAR_PRET.columns

Index(['YR', 'BTYCR', 'HY', 'BTYCR_PRET', 'HY_PRET'], dtype='object')

### [출력] STD_BD_ECO_CAR_PRET

In [206]:
# expdf = STD_BD_ECO_CAR_PRET
# table_nm = 'STD_BD_ECO_CAR_PRET'.upper()

# # 테이블 생성
# sql = 'create table ' + table_nm + '( \n'

# for idx,column in enumerate(expdf.columns):
#     if 'float' in expdf[column].dtype.name:
#         sql += column + ' float'
#     elif 'int' in expdf[column].dtype.name:
#         sql += column + ' number'
#     else:
#         sql += column + ' varchar(255)'

#     if len(expdf.columns) - 1 != idx:
#         sql += ','
#     sql += '\n'
# sql += ')'    
# wbt.execute(sql)

# # 데이터 추가
# # 7s
# wbt.import_from_pandas(expdf, table_nm)

## 지역, 등급별 말소 차량 현황

In [207]:
errc2.shape

(3606783, 27)

In [208]:
df8 = errc2[[
    '법정동코드',
    '차대번호', 
    '변경일자', 
    '배출가스등급', 
    '연료'
    ]]
df8.columns

Index(['법정동코드', '차대번호', '변경일자', '배출가스등급', '연료'], dtype='object')

In [209]:
df8['연료'].unique()

array(['경유', '휘발유', 'LPG(액화석유가스)', '전기', '휘발유 하이브리드', 'LPG 하이브리드', '수소',
       '경유 하이브리드'], dtype=object)

In [210]:
chc_col = {
    '법정동코드':'STDG_CD',
    '차대번호':'VIN', 
    '변경일자':'CHG_YMD', 
    '배출가스등급':'EXHST_GAS_GRD_CD', 
    '연료':'FUEL_CD', 
}

In [211]:
STD_BD_GRD4_ERSR_RSLT = df8.rename(columns=chc_col)
STD_BD_GRD4_ERSR_RSLT.columns

Index(['STDG_CD', 'VIN', 'CHG_YMD', 'EXHST_GAS_GRD_CD', 'FUEL_CD'], dtype='object')

### [출력] STD_BD_GRD4_ERSR_RSLT

In [212]:
# expdf = STD_BD_GRD4_ERSR_RSLT
# table_nm = 'STD_BD_GRD4_ERSR_RSLT'.upper()

# # 테이블 생성
# sql = 'create table ' + table_nm + '( \n'

# for idx,column in enumerate(expdf.columns):
#     if 'float' in expdf[column].dtype.name:
#         sql += column + ' float'
#     elif 'int' in expdf[column].dtype.name:
#         sql += column + ' number'
#     else:
#         sql += column + ' varchar(255)'

#     if len(expdf.columns) - 1 != idx:
#         sql += ','
#     sql += '\n'
# sql += ')'    
# wbt.execute(sql)

# # 데이터 추가
# # 7s
# wbt.import_from_pandas(expdf, table_nm)

# code end