# Library

In [1]:
import pandas as pd
import os
from datetime import datetime
import numpy as np

In [2]:
# 소수점 옵션
pd.options.display.float_format = '{:.2f}'.format
# pd.reset_option('display.float_format')

# fold

In [3]:
an3_fold = 'D:/data/big2/BD3/an'
df3_fold = 'D:/data/big2/BD3/df'
ods_fold = 'D:/data/big2/ODS'
big2_fold = 'D:/data/big2'

# 로드

## CEG_CAR_HISTORY_MIG

In [11]:
# about 2m 6.8s
name = '차량변경이력'
file_name = f'{name}.csv'
his = pd.read_csv(os.path.join(ods_fold, file_name), low_memory=False)

In [12]:
his.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50044248 entries, 0 to 50044247
Data columns (total 5 columns):
 #   Column  Dtype
---  ------  -----
 0   차량관리번호  object
 1   변경일자    float64
 2   변경구분코드  object
 3   차대번호    object
 4   차량말소여부  object
dtypes: float64(1), object(4)
memory usage: 1.9+ GB

In [7]:
# 0   VHMNO               object  -> 
# 1   PRCS_SNO            object  -> 
# 2   CHNG_DE             float64 ->
# 3   CHNG_SE_CD          object  ->
# 4   VHRNO               object  ->
# 5   BSPL_LEDO_CD        float64 ->
# 6   OWNR_SE             object  ->
# 7   VHCTY               object  ->
# 8   PURPS               object  ->
# 9   NOW_OWNR_NM         object  ->
# 10  NOW_MBERNO          object  ->
# 11  BSPL_ADRS           object  ->
# 12  OWNR_ADRS           object  ->
# 13  VIN                 object  ->
# 14  FST_REG_DE          float64 ->
# 15  VHCL_YRIDNW         int64   ->
# 16  VHCL_MNFCT_DE       float64 ->
# 17  EMIS_INSP_EFCT_DE   float64 ->
# 18  SRCMNNO             object  ->
# 19  EMIS_CRTCNO         object  ->
# 20  EMIS_GRD            object  ->
# 21  LEM_YN              object  ->
# 22  LEM_KND             float64 ->
# 23  LEM_STRCHG_YN       object  ->
# 24  BSPL_ZIP            float64 ->
# 25  VHRNO_NUM_INFO      int64   ->
# 26  VHCL_ERSR_YN        object  ->
# 27  ACQS_DE             object  ->
# 28  ACQS_AMT            float64 ->
# 29  RMK                 object  ->
# 30  MOLIT_LINK_FILE_NM  object  ->
# 31  CRTN_DT             object  ->
# 32  UPDT_DT             object  ->
# 33  USER_ID             object  ->

In [1]:
# col_dict = {
#     'VHMNO':'차량관리번호',
#     'PRCS_SNO':'처리_SNO', # 처리SNO
#     'CHNG_DE':'변경일자', # 변경일자
#     'CHNG_SE_CD':'변경구분코드', # 변경구분코드
#     'VHRNO':'차량등록번호',
#     'BSPL_LEDO_CD':'본거지법정동코드',
#     'OWNR_SE':'소유자구분',
#     'VHCTY':'차종',
#     'PURPS':'용도',
#     'NOW_OWNR_NM':'현재소유자명', # 현재소유자명
#     'NOW_MBERNO':'현재회원번호',
#     'BSPL_ADRS':'본거지주소', # 본거지주소
#     'OWNR_ADRS':'소유자주소', # 소유자주소
#     'VIN':'차대번호',
#     'FST_REG_DE':'최초등록일자',
#     'VHCL_YRIDNW':'차량연식',
#     'VHCL_MNFCT_DE':'차량제작일자',
#     'EMIS_INSP_EFCT_DE':'배출가스검사유효일자',
#     'SRCMNNO':'제원관리번호',
#     'EMIS_CRTCNO':'배출가스인증번호',
#     'EMIS_GRD':'배출가스등급',
#     'LEM_YN':'저공해조치여부',
#     'LEM_KND':'저공해조치종류',
#     'LEM_STRCHG_YN':'저공해조치구조변경여부',
#     'BSPL_ZIP':'본거지우편번호', # 본거지우편번호
#     'VHRNO_NUM_INFO':'차량등록번호숫자정보',
#     'VHCL_ERSR_YN':'차량말소여부',
#     'ACQS_DE':'취득일자',
#     'ACQS_AMT':'취득금액',
#     'RMK':'비고',
#     'MOLIT_LINK_FILE_NM':'국토부연계파일명', # 국토부연계파일명
#     'CRTN_DT':'생성일시',
#     'UPDT_DT':'수정일시',
#     'USER_ID':'사용자ID'}

In [9]:
# his.columns = [col_dict[x] for x in his.columns]
# his.columns

Index(['차량관리번호', '처리_SNO', '변경일자', '변경구분코드', '차량등록번호', '본거지법정동코드', '소유자구분',
       '차종', '용도', '현재소유자명', '현재회원번호', '본거지주소', '소유자주소', '차대번호', '최초등록일자',
       '차량연식', '차량제작일자', '배출가스검사유효일자', '제원관리번호', '배출가스인증번호', '배출가스등급',
       '저공해조치YN', '저공해조치종류', '저공해조치구조변경YN', '본거지우편번호', '차량등록번호숫자정보', '차량말소YN',
       '취득일자', '취득금액', '비고', '국토부연계파일명', '생성일시', '수정일시', '사용자ID'],
      dtype='object')

In [13]:
his['변경일자'].describe()

count   50037386.00
mean    20205039.70
std         9815.94
min     19840228.00
25%     20200417.00
50%     20201103.00
75%     20210907.00
max     20221122.00
Name: 변경일자, dtype: float64

In [14]:
his['변경일자'].isnull().sum()

6862

In [15]:
his['변경구분코드'].value_counts(dropna=False)

변경구분코드
1210    13147718
1100    11846334
CEGO    10738784
1110     4522138
CEGC     3038433
1411     2394726
1427      956976
1120      936618
1023      512129
1250      469364
1021      416343
1211      328741
1410      223139
1430      221724
1071       56105
1222       43026
1444       20648
1081       20445
1414       20246
1415       17851
1418       14856
1140       14421
1017        9534
1440        8457
1014        8002
1012        6883
1015        6058
1010        5837
1458        4806
1130        4380
1019        3929
1431        3195
1419        2940
1425        2734
1412        2540
1013        2370
1016        1940
1443        1714
1442        1403
1441        1302
1424        1188
1018         876
1421         785
1413         712
1011         549
1420         310
1432         306
1447         241
1091         134
1445         107
1455          70
1417          56
1433          55
1423          33
1422          27
1446           8
1448           2
Name: count, dtype: int64

### 변경구분코드로 추출
- CEGO, CEGC 제외

In [25]:
his['차량말소여부'].value_counts(dropna=False)

차량말소여부
N    46355117
Y     3689131
Name: count, dtype: int64

In [26]:
his['변경구분코드'].unique()

array(['CEGO', 'CEGC', '1100', '1210', '1110', '1410', '1023', '1430',
       '1411', '1071', '1010', '1250', '1222', '1120', '1427', '1021',
       '1414', '1415', '1017', '1444', '1419', '1015', '1425', '1418',
       '1014', '1443', '1012', '1019', '1140', '1412', '1130', '1440',
       '1431', '1013', '1016', '1458', '1081', '1413', '1441', 1110, 1100,
       1120, 1250, 1081, 1411, 1427, 1410, 1021, 1430, 1210, 1023, 1414,
       1415, 1444, 1412, 1071, 1013, 1012, 1140, 1458, 1418, 1222, 1014,
       1010, 1019, 1015, 1440, 1419, 1425, 1017, 1443, 1413, 1431, 1441,
       1130, 1016, 1421, 1420, 1442, 1455, 1424, 1445, 1423, 1432, 1422,
       1018, '1442', 1011, 1417, '1432', 1447, 1091, '1421', '1420',
       '1018', '1424', '1423', '1011', '1091', '1417', '1445', '1447',
       '1422', 1446, '1455', '1433', 1433, 1211, '1211', 1448, '1446'],
      dtype=object)

In [27]:
his.shape

(50044248, 5)

In [28]:
his['변경일자'].describe()

count   50037386.00
mean    20205039.70
std         9815.94
min     19840228.00
25%     20200417.00
50%     20201103.00
75%     20210907.00
max     20221122.00
Name: 변경일자, dtype: float64

In [29]:
his.columns

Index(['차량관리번호', '변경일자', '변경구분코드', '차대번호', '차량말소여부'], dtype='object')

In [30]:
# about 49.7s
his01 = his.loc[(his['변경구분코드'] != 'CEGO') & (his['변경구분코드'] != 'CEGC'), ['차량관리번호', '차대번호', '차량말소여부', '변경일자', '변경구분코드']].reset_index(drop=True)
his01.shape

(36267031, 5)

In [31]:
his.shape[0] - his01.shape[0]

13777217

In [32]:
# about 1m 51.7s
his01.to_csv(os.path.join(ods_fold, '차량변경이력_수정01.csv'), index=False)

# 차량 폐차 현황

## 1\. [로드] 데이터

### 1-1\. 등록&제원

In [4]:
# about 5m 3.9s
name = '[ODS]등록정보&제원정보(2022.12.28)'
file_name = f'{name}.csv'
smig = pd.read_csv(os.path.join(ods_fold, file_name), low_memory=False, usecols=['차량관리번호', '차대번호', '차량말소YN', '배출가스인증번호', '배출가스등급', '제원관리번호', '차종_등록정보', '차종유형(소분류)', '차량연식', '연료', '차명', '본거지법정동코드', '최초등록일자', '제작사명'], encoding='cp949')
smig.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29534047 entries, 0 to 29534046
Data columns (total 14 columns):
 #   Column     Dtype
---  ------     -----
 0   차량관리번호     object
 1   본거지법정동코드   int64
 2   차종_등록정보    object
 3   차대번호       object
 4   최초등록일자     int64
 5   차량연식       int64
 6   제원관리번호     object
 7   배출가스인증번호   object
 8   배출가스등급     object
 9   차량말소YN     object
 10  차명         object
 11  차종유형(소분류)  object
 12  제작사명       object
 13  연료         object
dtypes: int64(3), object(11)
memory usage: 3.1+ GB

In [5]:
smig['배출가스등급'].value_counts(dropna=False)

배출가스등급
2      11803371
3       9890563
1       2870152
5       2378599
4       1898773
X        305339
T2       250282
T3       136844
T5           49
T4           43
NaN          32
Name: count, dtype: int64

In [6]:
smig['배출가스등급'] = smig['배출가스등급'].astype('str')

In [7]:
smig.loc[smig['배출가스등급'] == '1', '등급'] = 1
smig.loc[(smig['배출가스등급'] == '2') | (smig['배출가스등급'] == 'T2'), '등급'] = 2
smig.loc[(smig['배출가스등급'] == '3') | (smig['배출가스등급'] == 'T3'), '등급'] = 3
smig.loc[(smig['배출가스등급'] == '4') | (smig['배출가스등급'] == 'T4'), '등급'] = 4
smig.loc[(smig['배출가스등급'] == '5') | (smig['배출가스등급'] == 'T5'), '등급'] = 5
smig.loc[smig['배출가스등급'] == 'X', '등급'] = 'X'
smig.loc[smig['배출가스등급'].isnull() == True, '등급'] = 'nan'

In [8]:
smig['등급'].value_counts(dropna=True)

등급
2.0    12053653
3.0    10027407
1.0     2870152
5.0     2378648
4.0     1898816
X        305339
Name: count, dtype: int64

In [9]:
smig['차량말소YN'].value_counts(dropna=False)

차량말소YN
N    25693532
Y     3840515
Name: count, dtype: int64

In [10]:
smig.shape, len(smig['차량관리번호'].unique())

((29534047, 15), 29534043)

In [11]:
len(smig['차대번호'].unique())

29521505

In [12]:
smig['차종유형(소분류)'].value_counts(dropna=False)

차종유형(소분류)
중형     15578187
대형      7713385
소형      3769094
경형      2473350
NaN          31
Name: count, dtype: int64

In [13]:
smig['연료'].unique()

array(['휘발유', '경유', nan, '기타연료', '등유', '알코올', 'LPG(액화석유가스)',
       'CNG(압축천연가스)', '휘발유 하이브리드', '태양열', 'LPG 하이브리드', '전기',
       'LNG(액화천연가스)', '경유 하이브리드', 'CNG 하이브리드', '수소'], dtype=object)

In [14]:
# 24.2s
smig.loc[(smig['연료'] == '경유') | (smig['연료'] == '경유 하이브리드'), 'fuel'] = '경유'
smig.loc[(smig['연료'] == '휘발유') | (smig['연료'] == '휘발유 하이브리드'), 'fuel'] = '휘발유'
smig.loc[(smig['연료'] == 'LPG(액화석유가스)') | (smig['연료'] == 'LPG 하이브리드'), 'fuel'] = 'LPG'
smig.loc[(smig['연료'] == 'CNG(압축천연가스)') | (smig['연료'] == 'CNG 하이브리드'), 'fuel'] = 'CNG'
smig.loc[smig['연료'] == 'LNG(액화천연가스)', 'fuel'] = 'LNG'
smig.loc[smig['연료'] == '전기', 'fuel'] = '전기'
smig.loc[smig['연료'] == '수소', 'fuel'] = '수소'
smig.loc[smig['연료'] == '등유', 'fuel'] = '등유'
smig.loc[smig['연료'] == '알코올', 'fuel'] = '알코올'
smig.loc[smig['연료'] == '태양열', 'fuel'] = '태양열'
smig.loc[smig['연료'] == '기타연료', 'fuel'] = '기타연료'
smig.loc[smig['연료'].isnull() == True, 'fuel'] = np.nan

### 1-2\. CEG_CAR_HISTORY_MIG_수정01
- 변경구분코드 : CEGO, CEGC 제외함.

In [25]:
# about 2m 25.8s
name = '차량변경이력_수정01'
file_name = f'{name}.csv'
his = pd.read_csv(os.path.join(ods_fold, file_name), low_memory=False)
his.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36267031 entries, 0 to 36267030
Data columns (total 5 columns):
 #   Column  Dtype
---  ------  -----
 0   차량관리번호  object
 1   차대번호    object
 2   차량말소여부  object
 3   변경일자    float64
 4   변경구분코드  int64
dtypes: float64(1), int64(1), object(3)
memory usage: 1.4+ GB

In [26]:
his.shape, len(his['차량관리번호'].unique())

((36267031, 5), 19399228)

In [27]:
len(his['차대번호'].unique())

19400662

### 1-3\. 법정동코드

In [15]:
# about 8.9s
name = '법정동코드_2022.10.14(수정2023.05.04)'
file_name = f'{name}.xlsx'
code = pd.read_excel(os.path.join(big2_fold, file_name))
code.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 46342 entries, 0 to 46341
Data columns (total 9 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   법정동코드     46342 non-null  int64
 1   시도        46342 non-null  object
 2   시구군       46319 non-null  object
 3   읍면동       45849 non-null  object
 4   리         33682 non-null  object
 5   지역3       0 non-null      float64
 6   폐지여부      46342 non-null  object
 7   대기관리권역    46342 non-null  object
 8   대기관리권역YN  46337 non-null  object
dtypes: float64(1), int64(1), object(7)
memory usage: 3.2+ MB

### 1-4. 저감장치 부착이력(중복차대제거)

In [29]:
# about 5m 3.9s
name = '[ODS]저감장치부착이력(중복차대제거)(2022.12.28)'
file_name = f'{name}.csv'
erp = pd.read_csv(os.path.join(ods_fold, file_name), low_memory=False, usecols=['차대번호', '저감장치구분'], encoding='cp949')
erp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 809255 entries, 0 to 809254
Data columns (total 2 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   차대번호    809255 non-null  object
 1   저감장치구분  809255 non-null  object
dtypes: object(2)
memory usage: 12.3+ MB

In [30]:
erp['저감장치구분'].value_counts(dropna=False)

저감장치구분
1종        294300
엔진개조      198574
2종        156328
3종        147153
엔진교체        8528
1종+SCR      2301
삼원촉매        2071
Name: count, dtype: int64

In [31]:
erp1 = erp.copy()

In [32]:
erp1.loc[(erp['저감장치구분'] == '1종') | (erp['저감장치구분'] == '1종+SCR'), '저감장치'] = 'DPF'

In [33]:
erp1['저감장치'].value_counts(dropna=False)

저감장치
NaN    512654
DPF    296601
Name: count, dtype: int64

## 2\. 차량관리번호 기준으로 병합

In [379]:
# about 2m 0.3s
df = smig.merge(his, on='차량관리번호', how='left')
df.shape

(46401826, 20)

In [380]:
df.columns

Index(['차량관리번호', '본거지법정동코드', '차종_등록정보', '차대번호_x', '최초등록일자', '차량연식', '제원관리번호',
       '배출가스인증번호', '배출가스등급', '차량말소YN', '차명', '차종유형(소분류)', '제작사명', '연료', '등급',
       'fuel', '차대번호_y', '차량말소여부', '변경일자', '변경구분코드'],
      dtype='object')

In [381]:
# 31.4s
df = df.drop('차대번호_y', axis=1)
df = df.rename(columns={'차량말소YN':'차량말소YN_등록정보', '차량말소여부':'차량말소YN_변경이력', '차대번호_x':'차대번호'})
df.columns

Index(['차량관리번호', '본거지법정동코드', '차종_등록정보', '차대번호', '최초등록일자', '차량연식', '제원관리번호',
       '배출가스인증번호', '배출가스등급', '차량말소YN_등록정보', '차명', '차종유형(소분류)', '제작사명', '연료',
       '등급', 'fuel', '차량말소YN_변경이력', '변경일자', '변경구분코드'],
      dtype='object')

## 3\. 차량말소(등록과 변경이력) : Y 추출

In [382]:
# 9.3s
df = df.loc[(df['차량말소YN_등록정보'] == 'Y') & (df['차량말소YN_변경이력'] == 'Y')].reset_index(drop=True)
df.shape

(3671025, 19)

In [383]:
df['변경일자'].isnull().sum()

0

In [384]:
df['변경일자'].describe()

count    3671025.00
mean    20204821.91
std         9403.21
min     19971111.00
25%     20200306.00
50%     20201130.00
75%     20210818.00
max     20220628.00
Name: 변경일자, dtype: float64

## 4\. 차대번호 중복 제거(최신 변경일자 기준)

In [385]:
# about 13.5s
df1 = df.sort_values('변경일자', ascending=False).drop_duplicates('차대번호').reset_index(drop=True)
df1.shape

(3642360, 19)

## 5\. 변경일자 2019.01.01 이후만 추출

In [386]:
df1.loc[df1['변경일자'] >= 20190101].shape

(3642251, 19)

In [387]:
# about 1.4s
df2 = df1.loc[df1['변경일자'] >= 20190101].reset_index(drop=True)
df2.shape

(3642251, 19)

In [388]:
df2['변경일자'].describe()

count    3642251.00
mean    20204829.13
std         9393.15
min     20190108.00
25%     20200306.00
50%     20201130.00
75%     20210818.00
max     20220628.00
Name: 변경일자, dtype: float64

## 6\. 정보 추가

### 6-1\. 법정동 코드 병합

In [389]:
df2.columns

Index(['차량관리번호', '본거지법정동코드', '차종_등록정보', '차대번호', '최초등록일자', '차량연식', '제원관리번호',
       '배출가스인증번호', '배출가스등급', '차량말소YN_등록정보', '차명', '차종유형(소분류)', '제작사명', '연료',
       '등급', 'fuel', '차량말소YN_변경이력', '변경일자', '변경구분코드'],
      dtype='object')

In [390]:
code.columns

Index(['법정동코드', '시도', '시구군', '읍면동', '리', '지역3', '폐지여부', '대기관리권역', '대기관리권역YN'], dtype='object')

In [391]:
df2.shape

(3642251, 19)

In [392]:
df3 = df2.merge(code, left_on='본거지법정동코드', right_on='법정동코드', how='left')
df3.shape

(3642251, 28)

In [393]:
df3['시도'].isnull().sum()

0

In [394]:
df3.loc[df3['시구군'].str.split(' ').str.len() != 1, '시구군'].head()

3     용인시 처인구
7     성남시 수정구
9     수원시 권선구
17    천안시 동남구
20    용인시 수지구
Name: 시구군, dtype: object

In [395]:
df3['시구군'] = df3['시구군'].str.split(' ').str[0]
df3.loc[df3['시구군'].str.split(' ').str.len() != 1, '시구군'].head()

2193762    NaN
Name: 시구군, dtype: object

### 6-2. 저감장치 부착 정보 추가

In [396]:
df3.shape

(3642251, 28)

In [397]:
df4 = df3.merge(erp1[['차대번호', '저감장치']], on='차대번호', how='left')
df4.shape

(3642251, 29)

In [398]:
df4['저감장치'].value_counts(dropna=False)

저감장치
NaN    3583446
DPF      58805
Name: count, dtype: int64

## 7\. 월별 폐차 현황

In [399]:
df4.shape

(3642251, 29)

In [400]:
df4.columns

Index(['차량관리번호', '본거지법정동코드', '차종_등록정보', '차대번호', '최초등록일자', '차량연식', '제원관리번호',
       '배출가스인증번호', '배출가스등급', '차량말소YN_등록정보', '차명', '차종유형(소분류)', '제작사명', '연료',
       '등급', 'fuel', '차량말소YN_변경이력', '변경일자', '변경구분코드', '법정동코드', '시도', '시구군',
       '읍면동', '리', '지역3', '폐지여부', '대기관리권역', '대기관리권역YN', '저감장치'],
      dtype='object')

In [401]:
df4.loc[df4['시구군'].str.split(' ').str.len() != 1, '시구군'].head()

2193762    NaN
Name: 시구군, dtype: object

In [402]:
'20190101'[:4], '20190101'[4:6], '20190101'[6:]

('2019', '01', '01')

In [403]:
df4['변경일자'].describe()

count    3642251.00
mean    20204829.13
std         9393.15
min     20190108.00
25%     20200306.00
50%     20201130.00
75%     20210818.00
max     20220628.00
Name: 변경일자, dtype: float64

In [404]:
df4['변경일자'] = df4['변경일자'].astype('str')

In [405]:
df4['변경일자'].head()

0    20220628.0
1    20220628.0
2    20220628.0
3    20220628.0
4    20220628.0
Name: 변경일자, dtype: object

In [406]:
df4['변경일자_년'] = df4['변경일자'].str[:4]
df4['변경일자_월'] = df4['변경일자'].str[4:6]
df4['변경일자_일'] = df4['변경일자'].str[6:8]

In [407]:
df4['변경일자_년_월'] = df4['변경일자_년'] + '.' + df4['변경일자_월']

In [408]:
df4[['변경일자', '변경일자_년', '변경일자_월', '변경일자_일', '변경일자_년_월']].head()

         변경일자 변경일자_년 변경일자_월 변경일자_일 변경일자_년_월
0  20220628.0   2022     06     28  2022.06
1  20220628.0   2022     06     28  2022.06
2  20220628.0   2022     06     28  2022.06
3  20220628.0   2022     06     28  2022.06
4  20220628.0   2022     06     28  2022.06

In [409]:
df4['변경일자'] = df4['변경일자_년'] + df4['변경일자_월'] + df4['변경일자_일']
df4['변경일자'] = df4['변경일자'].astype('int')

In [410]:
df4['변경일자'].head()

0    20220628
1    20220628
2    20220628
3    20220628
4    20220628
Name: 변경일자, dtype: int32

In [411]:
df4[['변경일자_년', '변경일자_월', '변경일자_일']] = df4[['변경일자_년', '변경일자_월', '변경일자_일']].astype('int')

In [412]:
df4[['변경일자', '변경일자_년', '변경일자_월', '변경일자_일', '변경일자_년_월']].head()

       변경일자  변경일자_년  변경일자_월  변경일자_일 변경일자_년_월
0  20220628    2022       6      28  2022.06
1  20220628    2022       6      28  2022.06
2  20220628    2022       6      28  2022.06
3  20220628    2022       6      28  2022.06
4  20220628    2022       6      28  2022.06

In [413]:
df4['변경일자'].isnull().sum()

0

In [414]:
df4.columns

Index(['차량관리번호', '본거지법정동코드', '차종_등록정보', '차대번호', '최초등록일자', '차량연식', '제원관리번호',
       '배출가스인증번호', '배출가스등급', '차량말소YN_등록정보', '차명', '차종유형(소분류)', '제작사명', '연료',
       '등급', 'fuel', '차량말소YN_변경이력', '변경일자', '변경구분코드', '법정동코드', '시도', '시구군',
       '읍면동', '리', '지역3', '폐지여부', '대기관리권역', '대기관리권역YN', '저감장치', '변경일자_년',
       '변경일자_월', '변경일자_일', '변경일자_년_월'],
      dtype='object')

In [415]:
df4['등급'].unique()

array(['X', 2.0, 5.0, 3.0, 4.0, 1.0, nan], dtype=object)

In [416]:
df4.shape

(3642251, 33)

### [출력] 전처리 완료 파일

In [417]:
today_date = datetime.today().strftime("%Y.%m.%d")
today_date

'2023.06.13'

In [418]:
# about 42.2s
df4.to_csv(os.path.join(ods_fold, f'말소정보_전처리완료.csv'), index=False)

In [419]:
df4['연료'].unique()

array(['경유', '휘발유', 'LPG(액화석유가스)', '휘발유 하이브리드', nan, 'CNG(압축천연가스)', '전기',
       '수소', 'LPG 하이브리드', '경유 하이브리드', '기타연료', 'CNG 하이브리드', '알코올', '태양열'],
      dtype=object)

# [로드] 말소정보_전처리완료

In [16]:
# about 24.0s
name = '말소정보_전처리완료'
file_name = f'{name}.csv'
df4 = pd.read_csv(os.path.join(ods_fold, file_name), low_memory=False)
df4.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3642251 entries, 0 to 3642250
Data columns (total 33 columns):
 #   Column       Dtype
---  ------       -----
 0   차량관리번호       object
 1   본거지법정동코드     int64
 2   차종_등록정보      object
 3   차대번호         object
 4   최초등록일자       int64
 5   차량연식         int64
 6   제원관리번호       object
 7   배출가스인증번호     object
 8   배출가스등급       object
 9   차량말소YN_등록정보  object
 10  차명           object
 11  차종유형(소분류)    object
 12  제작사명         object
 13  연료           object
 14  등급           object
 15  fuel         object
 16  차량말소YN_변경이력  object
 17  변경일자         int64
 18  변경구분코드       float64
 19  법정동코드        int64
 20  시도           object
 21  시구군          object
 22  읍면동          object
 23  리            object
 24  지역3          float64
 25  폐지여부         object
 26  대기관리권역       object
 27  대기관리권역YN     object
 28  저감장치         object
 29  변경일자_년       int64
 30  변경일자_월       int64
 31  변경일자_일       int64
 32  변경일자_년_월     float64
dtypes: float64(3), int64(8), object(22)
memory usage: 917.0+ MB

### [출력] 전체 말소 현황

In [17]:
df4.columns

Index(['차량관리번호', '본거지법정동코드', '차종_등록정보', '차대번호', '최초등록일자', '차량연식', '제원관리번호',
       '배출가스인증번호', '배출가스등급', '차량말소YN_등록정보', '차명', '차종유형(소분류)', '제작사명', '연료',
       '등급', 'fuel', '차량말소YN_변경이력', '변경일자', '변경구분코드', '법정동코드', '시도', '시구군',
       '읍면동', '리', '지역3', '폐지여부', '대기관리권역', '대기관리권역YN', '저감장치', '변경일자_년',
       '변경일자_월', '변경일자_일', '변경일자_년_월'],
      dtype='object')

In [18]:
df4['변경일자'].head()

0    20220628
1    20220628
2    20220628
3    20220628
4    20220628
Name: 변경일자, dtype: int64

In [19]:
df5 = df4[[
    '본거지법정동코드',
    '차대번호', 
    '변경일자', 
    '등급', 
    '연료'
    ]]
df5.columns

Index(['본거지법정동코드', '차대번호', '변경일자', '등급', '연료'], dtype='object')

In [183]:
chc_col = {
    '본거지법정동코드':'BSPL_STDG_CD',
    '차대번호':'VIN', 
    '변경일자':'CHG_YMD', 
    '등급':'EXHST_GAS_GRD_CD', 
    '연료':'FUEL_CD', 
}

In [184]:
df6 = df5.rename(columns=chc_col)
df6.columns

Index(['BSPL_STDG_CD', 'VIN', 'CHG_YMD', 'EXHST_GAS_GRD_CD', 'FUEL_CD'], dtype='object')

In [185]:
df6.shape

(3642251, 5)

In [186]:
today_date = datetime.today().strftime("%Y.%m.%d_%p.%I.%M.%S")
today_date

'2023.06.13_PM.07.28.22'

In [187]:
# about 8.7s
file_name = f'BD3-1_말소차량.csv'
df6.to_csv(os.path.join(df3_fold, file_name), index=False)

# 코드 마지막