# Library

In [1]:
import pandas as pd
import os
import pyexasol

# folder

In [2]:
raw1_fold = 'D:/data/big2/BD1/raw'
df1_fold = 'D:/data/big2/BD1/df'
raw3_fold = 'D:/data/big2/BD3/raw'
df3_fold = 'D:/data/big2/BD3/df'

In [3]:
sys_fold = 'D:/data/big2/sys'

# server

In [3]:
# # insider db
# wd = pyexasol.connect(dsn='172.29.135.35/F99FAB2444F86051A9A467F6313FAAB48AF7C4760663430958E3B89A9DC53361:8563', user='sys', password='exasol', compression=True, schema='VSYSD')
# we = pyexasol.connect(dsn='172.29.135.35/F99FAB2444F86051A9A467F6313FAAB48AF7C4760663430958E3B89A9DC53361:8563', user='sys', password='exasol', compression=True, schema='VSYSE')

In [4]:
# exasol db
wd = pyexasol.connect(dsn='dev.openankus.org:8563', user='sys', password='djslzja', compression=True, schema='VSYSD')
we = pyexasol.connect(dsn='dev.openankus.org:8563', user='sys', password='djslzja', compression=True, schema='VSYSE')
# wbt = pyexasol.connect(dsn='dev.openankus.org:8563', user='sys', password='djslzja', compression=True, schema='wbt')

# Load

## STD_BD_TB_MAPDATA(RH에서 제공한 법정동코드)

In [5]:
# name = 'tb_mapdata_gu(2023.04.20)'
name = 'STD_BD_TB_MAPDATA'
file_name = f'{name}.csv'
STD_BD_TB_MAPDATA = pd.read_csv(os.path.join(sys_fold, file_name), low_memory=False)
STD_BD_TB_MAPDATA.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3799 entries, 0 to 3798
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   DONG_CODE    3799 non-null   int64
 1   CTPRVN_CODE  3798 non-null   float64
 2   SIGNGU_CODE  3798 non-null   float64
 3   SDSTRD_CODE  3798 non-null   float64
 4   CTPRVN_NM    3799 non-null   object
 5   SIGNGU_NM    3757 non-null   object
 6   SDSTRD_NM    3521 non-null   object
dtypes: float64(3), int64(1), object(3)
memory usage: 207.9+ KB

In [6]:
expdf = STD_BD_TB_MAPDATA
table_nm = 'STD_BD_TB_MAPDATA'.upper()

# 테이블 생성
sql = 'create or replace table ' + table_nm + '( \n'

for idx,column in enumerate(expdf.columns):
    if 'float' in expdf[column].dtype.name:
        sql += column + ' float'
    elif 'int' in expdf[column].dtype.name:
        sql += column + ' number'
    else:
        sql += column + ' varchar(255)'

    if len(expdf.columns) - 1 != idx:
        sql += ','
    sql += '\n'
sql += ')'    
we.execute(sql)

# 데이터 추가
# 1s
we.import_from_pandas(expdf, table_nm)

In [7]:
sql

'create or replace table STD_BD_TB_MAPDATA( \nDONG_CODE number,\nCTPRVN_CODE float,\nSIGNGU_CODE float,\nSDSTRD_CODE float,\nCTPRVN_NM varchar(255),\nSIGNGU_NM varchar(255),\nSDSTRD_NM varchar(255)\n)'

## STD_BD_GRD4_RESULT(4등급 result)

In [8]:
# # 9.9s
# # name = '4등급_차량_리스트_양식_result_최종(전체)(2023.07.03)'
# name = 'STD_BD_GRD4_RESULT'
# file_name = f'{name}.csv'
# STD_BD_GRD4_RESULT = pd.read_csv(os.path.join(sys_fold, file_name), low_memory=False)
# STD_BD_GRD4_RESULT.info()

In [9]:
# expdf = STD_BD_GRD4_RESULT
# table_nm = 'STD_BD_GRD4_RESULT'.upper()

# # 테이블 생성
# sql = 'create or replace table ' + table_nm + '( \n'

# for idx,column in enumerate(expdf.columns):
#     if 'float' in expdf[column].dtype.name:
#         sql += column + ' float'
#     elif 'int' in expdf[column].dtype.name:
#         sql += column + ' number'
#     else:
#         sql += column + ' varchar(255)'

#     if len(expdf.columns) - 1 != idx:
#         sql += ','
#     sql += '\n'
# sql += ')'    
# we.execute(sql)

# # 데이터 추가
# # 1s
# we.import_from_pandas(expdf, table_nm)

In [10]:
# sql

## STD_BD_KOSIS

In [11]:
# 9.9s
name = 'STD_BD_KOSIS'
file_name = f'{name}.csv'
STD_BD_KOSIS = pd.read_csv(os.path.join(sys_fold, file_name), low_memory=False)
STD_BD_KOSIS.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1230 entries, 0 to 1229
Data columns (total 4 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   CTPV                 1230 non-null   object
 1   SGG                  1230 non-null   object
 2   VHCTY_CD             1230 non-null   object
 3   DY_AVRG_DRVNG_DSTNC  1230 non-null   float64
dtypes: float64(1), object(3)
memory usage: 38.6+ KB

In [12]:
expdf = STD_BD_KOSIS
table_nm = 'STD_BD_KOSIS'.upper()

# 테이블 생성
sql = 'create or replace table ' + table_nm + '( \n'

for idx,column in enumerate(expdf.columns):
    # if 'float' in expdf[column].dtype.name:
    #     sql += column + ' float'
    # elif 'int' in expdf[column].dtype.name:
    #     sql += column + ' number'
    # else:
    sql += column + ' varchar(255)'

    if len(expdf.columns) - 1 != idx:
        sql += ','
    sql += '\n'
sql += ')'    
we.execute(sql)

# 데이터 추가
# 1s
we.import_from_pandas(expdf, table_nm)

# BD1

## STD_BD_GRD4_CAR_CURSTT

In [13]:
STD_BD_GRD4_CAR_CURSTT = pd.read_csv(os.path.join(sys_fold, 'STD_BD_GRD4_CAR_CURSTT.csv'))
STD_BD_GRD4_CAR_CURSTT.info()

C:\Users\kbjung\AppData\Local\Temp\ipykernel_20456\4152998209.py:1: DtypeWarning: Columns (3,16) have mixed types. Specify dtype option on import or set low_memory=False.
  STD_BD_GRD4_CAR_CURSTT = pd.read_csv(os.path.join(sys_fold, 'STD_BD_GRD4_CAR_CURSTT.csv'))

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1390266 entries, 0 to 1390265
Data columns (total 26 columns):
 #   Column                 Non-Null Count    Dtype
---  ------                 --------------    -----
 0   LOAD_DT                1390266 non-null  int64
 1   CRTR_YM                1390266 non-null  float64
 2   VIN                    1390266 non-null  object
 3   MANG_MNG_NO            1390266 non-null  object
 4   VHCTY_CD               1390264 non-null  object
 5   PURPS_CD2              1390266 non-null  object
 6   YRIDNW                 1390266 non-null  int64
 7   VHCTY_TY               1390266 non-null  object
 8   FUEL_CD                1390197 non-null  object
 9   STDG_CD                1390266 non-null  int64
 10  CTPV_NM                1390266 non-null  object
 11  SGG_NM                 1390262 non-null  object
 12  VHCNM                  1390266 non-null  object
 13  MNFCTR_NM              1380693 non-null  object
 14  EXHST_GAS_CERT_NO_MOD  1271957 non-null  object
 15  EXHST_GAS_GRD_CD_MOD   1390266 non-null  int64
 16  DPF_MNTNG_YN           1052612 non-null  object
 17  INSP_MTHD              1137427 non-null  object
 18  INSP_KND               1137425 non-null  object
 19  INSP_JGMT              1137427 non-null  object
 20  NOLOD_SMO_MEVLU1       1128399 non-null  float64
 21  NOLOD_SMO_JGMT_YN1     1128397 non-null  object
 22  NOLOD_SMO_MEVLU2       426756 non-null   float64
 23  NOLOD_SMO_MEVLU3       395776 non-null   float64
 24  STDG_CD_MOD            1390266 non-null  int64
 25  GRD4_MLSFC             1390266 non-null  object
dtypes: float64(4), int64(5), object(17)
memory usage: 275.8+ MB

In [14]:
expdf = STD_BD_GRD4_CAR_CURSTT
table_nm = 'STD_BD_GRD4_CAR_CURSTT'.upper()

# 테이블 생성
sql = 'create or replace table ' + table_nm + '( \n'

for idx,column in enumerate(expdf.columns):
    # if 'float' in expdf[column].dtype.name:
    #     sql += column + ' float'
    # elif 'int' in expdf[column].dtype.name:
    #     sql += column + ' number'
    # else:
    sql += column + ' varchar(255)'

    if len(expdf.columns) - 1 != idx:
        sql += ','
    sql += '\n'
sql += ')'    
we.execute(sql)

# 데이터 추가
# 9s
we.import_from_pandas(expdf, table_nm)

## STD_BD_GRD4_SI

In [15]:
STD_BD_GRD4_SI = pd.read_csv(os.path.join(sys_fold, 'STD_BD_GRD4_SI.csv'))
STD_BD_GRD4_SI.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1052698 entries, 0 to 1052697
Data columns (total 10 columns):
 #   Column                 Non-Null Count    Dtype
---  ------                 --------------    -----
 0   LOAD_DT                1052698 non-null  int64
 1   VIN                    1052698 non-null  object
 2   MANG_MNG_NO            1052698 non-null  object
 3   VHCNM                  1052698 non-null  object
 4   MNFCTR_NM              1052681 non-null  object
 5   EXHST_GAS_CERT_NO_MOD  1046165 non-null  object
 6   INSP_MTHD              1047878 non-null  object
 7   DRVNG_DSTNC            1047670 non-null  float64
 8   VHCAG                  1052698 non-null  int64
 9   SI                     1006262 non-null  float64
dtypes: float64(2), int64(2), object(6)
memory usage: 80.3+ MB

In [16]:
expdf = STD_BD_GRD4_SI
table_nm = 'STD_BD_GRD4_SI'.upper()

# 테이블 생성
sql = 'create or replace table ' + table_nm + '( \n'

for idx,column in enumerate(expdf.columns):
    # if 'float' in expdf[column].dtype.name:
    #     sql += column + ' float'
    # elif 'int' in expdf[column].dtype.name:
    #     sql += column + ' number'
    # else:
    sql += column + ' varchar(255)'

    if len(expdf.columns) - 1 != idx:
        sql += ','
    sql += '\n'
sql += ')'    
we.execute(sql)

# 데이터 추가
# 6s
we.import_from_pandas(expdf, table_nm)

## STD_BD_GRD4_CAR_CURSTT_TOT

In [17]:
STD_BD_GRD4_CAR_CURSTT_TOT = pd.read_csv(os.path.join(sys_fold, 'STD_BD_GRD4_CAR_CURSTT_TOT.csv'))
STD_BD_GRD4_CAR_CURSTT_TOT.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1408 entries, 0 to 1407
Data columns (total 10 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   LOAD_DT                1408 non-null   int64
 1   VHCNM                  1408 non-null   object
 2   MNFCTR_NM              1408 non-null   object
 3   MANG_MNG_NO            1408 non-null   object
 4   EXHST_GAS_CERT_NO_MOD  1397 non-null   object
 5   INSP_MTHD              1408 non-null   object
 6   LOWR_QRT               1408 non-null   float64
 7   MID_QRT                1408 non-null   float64
 8   UP_QRT                 1408 non-null   float64
 9   VHCL_MKCNT             1408 non-null   int64
dtypes: float64(3), int64(2), object(5)
memory usage: 110.1+ KB

In [18]:
expdf = STD_BD_GRD4_CAR_CURSTT_TOT
table_nm = 'STD_BD_GRD4_CAR_CURSTT_TOT'.upper()

# 테이블 생성
sql = 'create or replace table ' + table_nm + '( \n'

for idx,column in enumerate(expdf.columns):
    # if 'float' in expdf[column].dtype.name:
    #     sql += column + ' float'
    # elif 'int' in expdf[column].dtype.name:
    #     sql += column + ' number'
    # else:
    sql += column + ' varchar(255)'

    if len(expdf.columns) - 1 != idx:
        sql += ','
    sql += '\n'
sql += ')'    
we.execute(sql)

# 데이터 추가
# 1s
we.import_from_pandas(expdf, table_nm)

## STD_BD_DAT_GRD4_CERT_NO_RVW

In [19]:
# 0s
STD_BD_DAT_GRD4_CERT_NO_RVW = pd.read_csv(os.path.join(sys_fold, 'STD_BD_DAT_GRD4_CERT_NO_RVW.csv'))
STD_BD_DAT_GRD4_CERT_NO_RVW.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1080 entries, 0 to 1079
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   EXHST_GAS_CERT_NO  1068 non-null   object
 1   INSP_MTHD          1080 non-null   object
 2   RVW_SE             1080 non-null   object
 3   RPRS_MNFCTR_NM     1080 non-null   object
 4   RPRS_VHCNM         1080 non-null   object
 5   MANG_MNG_NO        1080 non-null   object
 6   LOWR_QRT           1080 non-null   float64
 7   MID_QRT            1080 non-null   float64
 8   UP_QRT             1080 non-null   float64
 9   LOAD_DT            1080 non-null   int64
dtypes: float64(3), int64(1), object(6)
memory usage: 84.5+ KB

In [20]:
expdf = STD_BD_DAT_GRD4_CERT_NO_RVW
table_nm = 'STD_BD_DAT_GRD4_CERT_NO_RVW'.upper()

# 테이블 생성
sql = 'create or replace table ' + table_nm + '( \n'

for idx,column in enumerate(expdf.columns):
    if 'float' in expdf[column].dtype.name:
        sql += column + ' float'
    elif 'int' in expdf[column].dtype.name:
        sql += column + ' number'
    else:
        sql += column + ' varchar(255)'

    if len(expdf.columns) - 1 != idx:
        sql += ','
    sql += '\n'
sql += ')'    
we.execute(sql)

# 데이터 추가
# 1s
we.import_from_pandas(expdf, table_nm)

In [21]:
sql

'create or replace table STD_BD_DAT_GRD4_CERT_NO_RVW( \nEXHST_GAS_CERT_NO varchar(255),\nINSP_MTHD varchar(255),\nRVW_SE varchar(255),\nRPRS_MNFCTR_NM varchar(255),\nRPRS_VHCNM varchar(255),\nMANG_MNG_NO varchar(255),\nLOWR_QRT float,\nMID_QRT float,\nUP_QRT float,\nLOAD_DT number\n)'

## STD_BD_DAT_GRD4_SI

In [22]:
# 0s
STD_BD_DAT_GRD4_SI = pd.read_csv(os.path.join(sys_fold, 'STD_BD_DAT_GRD4_SI.csv'))
STD_BD_DAT_GRD4_SI.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 405 entries, 0 to 404
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   EXHST_GAS_CERT_NO  401 non-null    object
 1   INSP_MTHD          405 non-null    object
 2   RPRS_MNFCTR_NM     405 non-null    object
 3   RPRS_VHCNM         405 non-null    object
 4   RPRS_VHCTY_CD      405 non-null    object
 5   RPRS_FUEL          405 non-null    object
 6   FRST_YRIDNW        405 non-null    int64
 7   SI                 398 non-null    float64
 8   LOAD_DT            405 non-null    int64
dtypes: float64(1), int64(2), object(6)
memory usage: 28.6+ KB

In [23]:
expdf = STD_BD_DAT_GRD4_SI
table_nm = 'STD_BD_DAT_GRD4_SI'.upper()

# 테이블 생성
sql = 'create or replace table ' + table_nm + '( \n'

for idx,column in enumerate(expdf.columns):
    if 'float' in expdf[column].dtype.name:
        sql += column + ' float'
    elif 'int' in expdf[column].dtype.name:
        sql += column + ' number'
    else:
        sql += column + ' varchar(255)'

    if len(expdf.columns) - 1 != idx:
        sql += ','
    sql += '\n'
sql += ')'    
we.execute(sql)

# 데이터 추가
# 1s
we.import_from_pandas(expdf, table_nm)

In [24]:
sql

'create or replace table STD_BD_DAT_GRD4_SI( \nEXHST_GAS_CERT_NO varchar(255),\nINSP_MTHD varchar(255),\nRPRS_MNFCTR_NM varchar(255),\nRPRS_VHCNM varchar(255),\nRPRS_VHCTY_CD varchar(255),\nRPRS_FUEL varchar(255),\nFRST_YRIDNW number,\nSI float,\nLOAD_DT number\n)'

## STD_BD_GRD4_ELPDSRC_CURSTT

In [25]:
STD_BD_GRD4_ELPDSRC_CURSTT = pd.read_csv(os.path.join(sys_fold, 'STD_BD_GRD4_ELPDSRC_CURSTT.csv'))
STD_BD_GRD4_ELPDSRC_CURSTT.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1411483 entries, 0 to 1411482
Data columns (total 12 columns):
 #   Column                Non-Null Count    Dtype
---  ------                --------------    -----
 0   CRTR_YM               1411483 non-null  float64
 1   VIN                   1411483 non-null  object
 2   STDG_CD               1411483 non-null  int64
 3   VHCTY_CD              1411483 non-null  object
 4   PURPS_CD2             1411483 non-null  object
 5   FUEL_CD               1411483 non-null  object
 6   VHCTY_TY              1411483 non-null  object
 7   CTPV                  1411483 non-null  object
 8   SGG                   1411483 non-null  object
 9   ELPDSRC_STTS_CD       30783 non-null    object
 10  ELPDSRC_LAST_APRV_YN  30783 non-null    object
 11  LOAD_DT               1411483 non-null  int64
dtypes: float64(1), int64(2), object(9)
memory usage: 129.2+ MB

In [26]:
expdf = STD_BD_GRD4_ELPDSRC_CURSTT
table_nm = 'STD_BD_GRD4_ELPDSRC_CURSTT'.upper()

# 테이블 생성
sql = 'create or replace table ' + table_nm + '( \n'

for idx,column in enumerate(expdf.columns):
    # if 'float' in expdf[column].dtype.name:
    #     sql += column + ' float'
    # elif 'int' in expdf[column].dtype.name:
    #     sql += column + ' number'
    # else:
    sql += column + ' varchar(255)'

    if len(expdf.columns) - 1 != idx:
        sql += ','
    sql += '\n'
sql += ')'    
we.execute(sql)

# 데이터 추가
# 5s
we.import_from_pandas(expdf, table_nm)

## STD_BD_GRD4_MLSFC_RSLT

In [27]:
STD_BD_GRD4_MLSFC_RSLT = pd.read_csv(os.path.join(sys_fold, 'STD_BD_GRD4_MLSFC_RSLT.csv'))
STD_BD_GRD4_MLSFC_RSLT.info()

C:\Users\kbjung\AppData\Local\Temp\ipykernel_20456\3387438605.py:1: DtypeWarning: Columns (11) have mixed types. Specify dtype option on import or set low_memory=False.
  STD_BD_GRD4_MLSFC_RSLT = pd.read_csv(os.path.join(sys_fold, 'STD_BD_GRD4_MLSFC_RSLT.csv'))

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1390266 entries, 0 to 1390265
Data columns (total 14 columns):
 #   Column        Non-Null Count    Dtype
---  ------        --------------    -----
 0   LOAD_DT       1390266 non-null  int64
 1   VIN           1390266 non-null  object
 2   MANG_MNG_NO   1390266 non-null  object
 3   VHCTY_CD      1390264 non-null  object
 4   PURPS_CD2     1390266 non-null  object
 5   YRIDNW        1390266 non-null  int64
 6   VHCTY_TY      1390266 non-null  object
 7   FUEL_CD       1390197 non-null  object
 8   STDG_CD       1390266 non-null  int64
 9   CTPV_NM       1390260 non-null  object
 10  SGG_NM        1390256 non-null  object
 11  DPF_MNTNG_YN  1052613 non-null  object
 12  GRD4_MLSFC    1390266 non-null  object
 13  STDG_CD_MOD   1390266 non-null  int64
dtypes: int64(4), object(10)
memory usage: 148.5+ MB

In [28]:
expdf = STD_BD_GRD4_MLSFC_RSLT
table_nm = 'STD_BD_GRD4_MLSFC_RSLT'.upper()

# 테이블 생성
sql = 'create or replace table ' + table_nm + '( \n'

for idx,column in enumerate(expdf.columns):
    # if 'float' in expdf[column].dtype.name:
    #     sql += column + ' float'
    # elif 'int' in expdf[column].dtype.name:
    #     sql += column + ' number'
    # else:
    sql += column + ' varchar(255)'

    if len(expdf.columns) - 1 != idx:
        sql += ','
    sql += '\n'
sql += ')'    
we.execute(sql)

# 데이터 추가
# 7s
we.import_from_pandas(expdf, table_nm)

## STD_BD_DAT_GRD4_MLSFC

In [29]:
# 0s
STD_BD_DAT_GRD4_MLSFC = pd.read_csv(os.path.join(sys_fold, 'STD_BD_DAT_GRD4_MLSFC.csv'))
STD_BD_DAT_GRD4_MLSFC.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8699 entries, 0 to 8698
Data columns (total 13 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   FUEL_CD    8699 non-null   object
 1   CTPV       8699 non-null   object
 2   SGG        8699 non-null   object
 3   VHCTY_CD   8699 non-null   object
 4   VHCTY_TY   8699 non-null   object
 5   PURPS_CD2  8699 non-null   object
 6   A_MKCNT    5269 non-null   float64
 7   B_MKCNT    3949 non-null   float64
 8   C_MKCNT    3518 non-null   float64
 9   D_MKCNT    833 non-null    float64
 10  X_MKCNT    3444 non-null   float64
 11  YR         8699 non-null   int64
 12  LOAD_DT    8699 non-null   int64
dtypes: float64(5), int64(2), object(6)
memory usage: 883.6+ KB

In [30]:
expdf = STD_BD_DAT_GRD4_MLSFC
table_nm = 'STD_BD_DAT_GRD4_MLSFC'.upper()

# 테이블 생성
sql = 'create or replace table ' + table_nm + '( \n'

for idx,column in enumerate(expdf.columns):
    # if 'float' in expdf[column].dtype.name:
    #     sql += column + ' float'
    # elif 'int' in expdf[column].dtype.name:
    #     sql += column + ' number'
    # else:
    sql += column + ' varchar(255)'

    if len(expdf.columns) - 1 != idx:
        sql += ','
    sql += '\n'
sql += ')'    
we.execute(sql)

# 데이터 추가
# 1s
we.import_from_pandas(expdf, table_nm)

## STD_BD_DAT_GRD4_DTL_INFO

In [31]:
# 6s
STD_BD_DAT_GRD4_DTL_INFO = pd.read_csv(os.path.join(sys_fold, 'STD_BD_DAT_GRD4_DTL_INFO.csv'))
STD_BD_DAT_GRD4_DTL_INFO.info()

C:\Users\kbjung\AppData\Local\Temp\ipykernel_20456\2969779950.py:2: DtypeWarning: Columns (10,11,13,14) have mixed types. Specify dtype option on import or set low_memory=False.
  STD_BD_DAT_GRD4_DTL_INFO = pd.read_csv(os.path.join(sys_fold, 'STD_BD_DAT_GRD4_DTL_INFO.csv'))

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1906799 entries, 0 to 1906798
Data columns (total 18 columns):
 #   Column           Dtype
---  ------           -----
 0   VHRNO            object
 1   VIN              object
 2   GRD4_MLSFC       object
 3   VHCTY_CD         object
 4   VHCTY_TY         object
 5   PURPS_CD2        object
 6   FUEL_CD          object
 7   CTPV             object
 8   SGG              object
 9   YRIDNW           int64
 10  DPF_MNTNG_YN     object
 11  RDCDVC_KND       object
 12  FRST_REG_YMD     float64
 13  ELPDSRC_APLY_YN  object
 14  ELPDSRC_STTS_CD  object
 15  CHNG_DE          float64
 16  VHCL_ERSR_YN     object
 17  LOAD_DT          int64
dtypes: float64(2), int64(2), object(14)
memory usage: 261.9+ MB

In [32]:
expdf = STD_BD_DAT_GRD4_DTL_INFO
table_nm = 'STD_BD_DAT_GRD4_DTL_INFO'.upper()

# 테이블 생성
sql = 'create or replace table ' + table_nm + '( \n'

for idx,column in enumerate(expdf.columns):
    # if 'float' in expdf[column].dtype.name:
    #     sql += column + ' float'
    # elif 'int' in expdf[column].dtype.name:
    #     sql += column + ' number'
    # else:
    sql += column + ' varchar(255)'

    if len(expdf.columns) - 1 != idx:
        sql += ','
    sql += '\n'
sql += ')'    
we.execute(sql)

# 데이터 추가
# 9s
we.import_from_pandas(expdf, table_nm)

## STD_BD_GRD4_RGN_CURSTT

In [33]:
STD_BD_GRD4_RGN_CURSTT = pd.read_csv(os.path.join(sys_fold, 'STD_BD_GRD4_RGN_CURSTT.csv'))
STD_BD_GRD4_RGN_CURSTT.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4128 entries, 0 to 4127
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   LOAD_DT     4128 non-null   int64
 1   CRTR_YM     4128 non-null   float64
 2   YR          4128 non-null   int64
 3   MM          4128 non-null   int64
 4   FUEL_CD     4128 non-null   object
 5   CTPV        4128 non-null   object
 6   SGG         4112 non-null   object
 7   VHCL_MKCNT  4128 non-null   float64
dtypes: float64(2), int64(3), object(3)
memory usage: 258.1+ KB

In [34]:
expdf = STD_BD_GRD4_RGN_CURSTT
table_nm = 'STD_BD_GRD4_RGN_CURSTT'.upper()

# 테이블 생성
sql = 'create or replace table ' + table_nm + '( \n'

for idx,column in enumerate(expdf.columns):
    # if 'float' in expdf[column].dtype.name:
    #     sql += column + ' float'
    # elif 'int' in expdf[column].dtype.name:
    #     sql += column + ' number'
    # else:
    sql += column + ' varchar(255)'

    if len(expdf.columns) - 1 != idx:
        sql += ','
    sql += '\n'
sql += ')'    
we.execute(sql)

# 데이터 추가
# 5s
we.import_from_pandas(expdf, table_nm)

## STD_BD_GRD4_RGN_CURSTT_MOD

In [35]:
STD_BD_GRD4_RGN_CURSTT_MOD = pd.read_csv(os.path.join(sys_fold, 'STD_BD_GRD4_RGN_CURSTT_MOD.csv'))
STD_BD_GRD4_RGN_CURSTT_MOD.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 272 entries, 0 to 271
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   LOAD_DT     272 non-null    int64
 1   CRTR_Y      272 non-null    int64
 2   CTPV        272 non-null    object
 3   VHCTY_CD    272 non-null    object
 4   VHCL_MKCNT  272 non-null    float64
dtypes: float64(1), int64(2), object(2)
memory usage: 10.8+ KB

In [36]:
expdf = STD_BD_GRD4_RGN_CURSTT_MOD
table_nm = 'STD_BD_GRD4_RGN_CURSTT_MOD'.upper()

# 테이블 생성
sql = 'create or replace table ' + table_nm + '( \n'

for idx,column in enumerate(expdf.columns):
    # if 'float' in expdf[column].dtype.name:
    #     sql += column + ' float'
    # elif 'int' in expdf[column].dtype.name:
    #     sql += column + ' number'
    # else:
    sql += column + ' varchar(255)'

    if len(expdf.columns) - 1 != idx:
        sql += ','
    sql += '\n'
sql += ')'    
we.execute(sql)

# 데이터 추가
# 5s
we.import_from_pandas(expdf, table_nm)

## STD_BD_DAT_GRD4_CAR_CURSTT

In [37]:
# 1s
STD_BD_DAT_GRD4_CAR_CURSTT = pd.read_csv(os.path.join(sys_fold, 'STD_BD_DAT_GRD4_CAR_CURSTT.csv'))
STD_BD_DAT_GRD4_CAR_CURSTT.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 296064 entries, 0 to 296063
Data columns (total 14 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   YR                   296064 non-null  int64
 1   MM                   296064 non-null  int64
 2   CTPV                 296064 non-null  object
 3   SGG                  296064 non-null  object
 4   FUEL_CD              296064 non-null  object
 5   VHCTY_CD             296064 non-null  object
 6   VHCTY_TY             296064 non-null  object
 7   PURPS_CD2            296064 non-null  object
 8   VHCL_MKCNT           296064 non-null  float64
 9   DEC_RT               296064 non-null  float64
 10  RDCDVC_EXTRNS_MKCNT  296064 non-null  float64
 11  RDCDVC_UNAT_MKCNT    296064 non-null  float64
 12  ELPDSRC_MKCNT        296064 non-null  float64
 13  LOAD_DT              296064 non-null  int64
dtypes: float64(5), int64(3), object(6)
memory usage: 31.6+ MB

In [38]:
expdf = STD_BD_DAT_GRD4_CAR_CURSTT
table_nm = 'STD_BD_DAT_GRD4_CAR_CURSTT'.upper()

# 테이블 생성
sql = 'create or replace table ' + table_nm + '( \n'

for idx,column in enumerate(expdf.columns):
    # if 'float' in expdf[column].dtype.name:
    #     sql += column + ' float'
    # elif 'int' in expdf[column].dtype.name:
    #     sql += column + ' number'
    # else:
    sql += column + ' varchar(255)'

    if len(expdf.columns) - 1 != idx:
        sql += ','
    sql += '\n'
sql += ')'    
we.execute(sql)

# 데이터 추가
# 2s
we.import_from_pandas(expdf, table_nm)

## STD_BD_GRD4_EXHST_GAS_MSS_TOT

In [39]:
STD_BD_GRD4_EXHST_GAS_MSS_TOT = pd.read_csv(os.path.join(sys_fold, 'STD_BD_GRD4_EXHST_GAS_MSS_TOT.csv'))
STD_BD_GRD4_EXHST_GAS_MSS_TOT.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 257 entries, 0 to 256
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   YR               257 non-null    int64
 1   CTPV             257 non-null    object
 2   SGG              257 non-null    object
 3   CO_EXHST_MSS     257 non-null    float64
 4   HC_EXHST_MSS     257 non-null    float64
 5   NOX_EXHST_MSS    257 non-null    float64
 6   PM10_EXHST_MSS   257 non-null    float64
 7   PM2_5_EXHST_MSS  257 non-null    float64
 8   LOAD_DT          257 non-null    int64
 9   CRTR_YM          257 non-null    float64
dtypes: float64(6), int64(2), object(2)
memory usage: 20.2+ KB

In [40]:
expdf = STD_BD_GRD4_EXHST_GAS_MSS_TOT
table_nm = 'STD_BD_GRD4_EXHST_GAS_MSS_TOT'.upper()

# 테이블 생성
sql = 'create or replace table ' + table_nm + '( \n'

for idx,column in enumerate(expdf.columns):
    # if 'float' in expdf[column].dtype.name:
    #     sql += column + ' float'
    # elif 'int' in expdf[column].dtype.name:
    #     sql += column + ' number'
    # else:
    sql += column + ' varchar(255)'

    if len(expdf.columns) - 1 != idx:
        sql += ','
    sql += '\n'
sql += ')'    
we.execute(sql)

# 데이터 추가
# 7s
we.import_from_pandas(expdf, table_nm)

## STD_BD_GRD4_EXHST_GAS_MSS

In [41]:
STD_BD_GRD4_EXHST_GAS_MSS = pd.read_csv(os.path.join(sys_fold, 'STD_BD_GRD4_EXHST_GAS_MSS.csv'))
STD_BD_GRD4_EXHST_GAS_MSS.info()

C:\Users\kbjung\AppData\Local\Temp\ipykernel_20456\2736260677.py:1: DtypeWarning: Columns (4,29) have mixed types. Specify dtype option on import or set low_memory=False.
  STD_BD_GRD4_EXHST_GAS_MSS = pd.read_csv(os.path.join(sys_fold, 'STD_BD_GRD4_EXHST_GAS_MSS.csv'))

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1390161 entries, 0 to 1390160
Data columns (total 36 columns):
 #   Column                  Non-Null Count    Dtype
---  ------                  --------------    -----
 0   LOAD_DT                 1390161 non-null  int64
 1   CRTR_YM                 1390161 non-null  float64
 2   VIN                     1390161 non-null  object
 3   VHRNO                   1390161 non-null  object
 4   MANG_MNG_NO             1390161 non-null  object
 5   VHCTY_CD                1390159 non-null  object
 6   PURPS_CD2               1390161 non-null  object
 7   FRST_REG_YMD            1390159 non-null  object
 8   YRIDNW                  1390161 non-null  int64
 9   FBCTN_YMD               1226000 non-null  float64
 10  EXHST_GAS_INSP_VLD_YMD  1390155 non-null  float64
 11  VHCNM                   1390161 non-null  object
 12  VHCTY_CL_CD             1390161 non-null  object
 13  VHCTY_TY                1390161 non-null  object
 14  CAR_FRM                 1389690 non-null  object
 15  MNFCTR_NM               1380618 non-null  object
 16  FUEL_CD                 1390161 non-null  object
 17  EGIN_TY                 1388217 non-null  object
 18  TOTL_WGHT               1390146 non-null  float64
 19  CRYNG_WGHT              1389637 non-null  float64
 20  EGIN_OTPT               1389605 non-null  float64
 21  DSPLVL                  1390157 non-null  float64
 22  STDG_CD                 1390161 non-null  int64
 23  CTPV_NM                 1390161 non-null  object
 24  SGG_NM                  1390157 non-null  object
 25  OWNR_SE                 1390161 non-null  object
 26  ERSR_YN                 1390161 non-null  object
 27  EXHST_GAS_CERT_NO       1271939 non-null  object
 28  EXHST_GAS_GRD_CD        1390161 non-null  int64
 29  DPF_YN                  1052613 non-null  object
 30  CO_EXHST_MSS            1390161 non-null  float64
 31  HC_EXHST_MSS            1390161 non-null  float64
 32  NOX_EXHST_MSS           1390161 non-null  float64
 33  PM10_EXHST_MSS          1390161 non-null  float64
 34  PM2_5_EXHST_MSS         1390161 non-null  float64
 35  STDG_CD_MOD             1390161 non-null  int64
dtypes: float64(12), int64(5), object(19)
memory usage: 381.8+ MB

In [42]:
expdf = STD_BD_GRD4_EXHST_GAS_MSS
table_nm = 'STD_BD_GRD4_EXHST_GAS_MSS'.upper()

# 테이블 생성
sql = 'create or replace table ' + table_nm + '( \n'

for idx,column in enumerate(expdf.columns):
    # if 'float' in expdf[column].dtype.name:
    #     sql += column + ' float'
    # elif 'int' in expdf[column].dtype.name:
    #     sql += column + ' number'
    # else:
    sql += column + ' varchar(255)'

    if len(expdf.columns) - 1 != idx:
        sql += ','
    sql += '\n'
sql += ')'    
we.execute(sql)

# 데이터 추가
# 30.7s
we.import_from_pandas(expdf, table_nm)

## STD_BD_DAT_GRD4_EXHST_MSS_CURSTT

In [43]:
# 0s
STD_BD_DAT_GRD4_EXHST_MSS_CURSTT = pd.read_csv(os.path.join(sys_fold, 'STD_BD_DAT_GRD4_EXHST_MSS_CURSTT.csv'))
STD_BD_DAT_GRD4_EXHST_MSS_CURSTT.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9092 entries, 0 to 9091
Data columns (total 13 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   YR                  9092 non-null   int64
 1   CTPV                9092 non-null   object
 2   SGG                 9092 non-null   object
 3   FUEL_CD             9092 non-null   object
 4   VHCTY_CD            9092 non-null   object
 5   VHCTY_TY            9092 non-null   object
 6   PURPS_CD2           9092 non-null   object
 7   CO_EXHST_MSS_SM     9092 non-null   float64
 8   HC_EXHST_MSS_SM     9092 non-null   float64
 9   NOX_EXHST_MSS_SM    9092 non-null   float64
 10  PM10_EXHST_MSS_SM   9092 non-null   float64
 11  PM2_5_EXHST_MSS_SM  9092 non-null   float64
 12  LOAD_DT             9092 non-null   int64
dtypes: float64(5), int64(2), object(6)
memory usage: 923.5+ KB

In [44]:
expdf = STD_BD_DAT_GRD4_EXHST_MSS_CURSTT
table_nm = 'STD_BD_DAT_GRD4_EXHST_MSS_CURSTT'.upper()

# 테이블 생성
sql = 'create or replace table ' + table_nm + '( \n'

for idx,column in enumerate(expdf.columns):
    if 'float' in expdf[column].dtype.name:
        sql += column + ' float'
    elif 'int' in expdf[column].dtype.name:
        sql += column + ' number'
    else:
        sql += column + ' varchar(255)'

    if len(expdf.columns) - 1 != idx:
        sql += ','
    sql += '\n'
sql += ')'    
we.execute(sql)

# 데이터 추가
# 1s
we.import_from_pandas(expdf, table_nm)

In [45]:
sql

'create or replace table STD_BD_DAT_GRD4_EXHST_MSS_CURSTT( \nYR number,\nCTPV varchar(255),\nSGG varchar(255),\nFUEL_CD varchar(255),\nVHCTY_CD varchar(255),\nVHCTY_TY varchar(255),\nPURPS_CD2 varchar(255),\nCO_EXHST_MSS_SM float,\nHC_EXHST_MSS_SM float,\nNOX_EXHST_MSS_SM float,\nPM10_EXHST_MSS_SM float,\nPM2_5_EXHST_MSS_SM float,\nLOAD_DT number\n)'

## STD_BD_DAT_GRD4_MEVLU

In [46]:
# 0s
STD_BD_DAT_GRD4_MEVLU = pd.read_csv(os.path.join(sys_fold, 'STD_BD_DAT_GRD4_MEVLU.csv'))
STD_BD_DAT_GRD4_MEVLU.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8674 entries, 0 to 8673
Data columns (total 13 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   YR                    8674 non-null   int64
 1   CTPV                  8674 non-null   object
 2   SGG                   8674 non-null   object
 3   FUEL_CD               8674 non-null   object
 4   VHCTY_CD              8674 non-null   object
 5   VHCTY_TY              8674 non-null   object
 6   PURPS_CD2             8674 non-null   object
 7   CO_EXHST_MSS_AVRG     8674 non-null   float64
 8   HC_EXHST_MSS_AVRG     8674 non-null   float64
 9   NOX_EXHST_MSS_AVRG    8674 non-null   float64
 10  PM10_EXHST_MSS_AVRG   8674 non-null   float64
 11  PM2_5_EXHST_MSS_AVRG  8674 non-null   float64
 12  LOAD_DT               8674 non-null   int64
dtypes: float64(5), int64(2), object(6)
memory usage: 881.1+ KB

In [47]:
expdf = STD_BD_DAT_GRD4_MEVLU
table_nm = 'STD_BD_DAT_GRD4_MEVLU'.upper()

# 테이블 생성
sql = 'create or replace table ' + table_nm + '( \n'

for idx,column in enumerate(expdf.columns):
    # if 'float' in expdf[column].dtype.name:
    #     sql += column + ' float'
    # elif 'int' in expdf[column].dtype.name:
    #     sql += column + ' number'
    # else:
    sql += column + ' varchar(255)'

    if len(expdf.columns) - 1 != idx:
        sql += ','
    sql += '\n'
sql += ')'    
we.execute(sql)

# 데이터 추가
# 1s
we.import_from_pandas(expdf, table_nm)

# BD3

## STD_BD_CAR_CURSTT_MOD

In [48]:
STD_BD_CAR_CURSTT_MOD = pd.read_csv(os.path.join(sys_fold, 'STD_BD_CAR_CURSTT_MOD.csv'))
STD_BD_CAR_CURSTT_MOD.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4488 entries, 0 to 4487
Data columns (total 7 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   CRTR_YM           4488 non-null   int64
 1   YR                4488 non-null   int64
 2   RGN               4488 non-null   object
 3   CTPV_NM           4488 non-null   object
 4   EXHST_GAS_GRD_CD  4488 non-null   object
 5   VHCL_MKCNT        4488 non-null   int64
 6   LOAD_DT           4488 non-null   int64
dtypes: int64(4), object(3)
memory usage: 245.6+ KB

In [49]:
expdf = STD_BD_CAR_CURSTT_MOD
table_nm = 'STD_BD_CAR_CURSTT_MOD'.upper()

# 테이블 생성
sql = 'create or replace table ' + table_nm + '( \n'

for idx,column in enumerate(expdf.columns):
    # if 'float' in expdf[column].dtype.name:
    #     sql += column + ' float'
    # elif 'int' in expdf[column].dtype.name:
    #     sql += column + ' number'
    # else:
    sql += column + ' varchar(255)'

    if len(expdf.columns) - 1 != idx:
        sql += ','
    sql += '\n'
sql += ')'    
we.execute(sql)

# 데이터 추가
# 1s
we.import_from_pandas(expdf, table_nm)

## STD_BD_CAR_CURSTT_MOD2

In [50]:
STD_BD_CAR_CURSTT_MOD2 = pd.read_csv(os.path.join(sys_fold, 'STD_BD_CAR_CURSTT_MOD2.csv'))
STD_BD_CAR_CURSTT_MOD2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 120 entries, 0 to 119
Data columns (total 6 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   YR                120 non-null    int64
 1   FUEL_CD           120 non-null    object
 2   EXHST_GAS_GRD_CD  120 non-null    object
 3   VHCL_MKCNT        120 non-null    float64
 4   CRTR_YM           120 non-null    int64
 5   LOAD_DT           120 non-null    int64
dtypes: float64(1), int64(3), object(2)
memory usage: 5.8+ KB

In [51]:
expdf = STD_BD_CAR_CURSTT_MOD2
table_nm = 'STD_BD_CAR_CURSTT_MOD2'.upper()

# 테이블 생성
sql = 'create or replace table ' + table_nm + '( \n'

for idx,column in enumerate(expdf.columns):
    # if 'float' in expdf[column].dtype.name:
    #     sql += column + ' float'
    # elif 'int' in expdf[column].dtype.name:
    #     sql += column + ' number'
    # else:
    sql += column + ' varchar(255)'

    if len(expdf.columns) - 1 != idx:
        sql += ','
    sql += '\n'
sql += ')'    
we.execute(sql)

# 데이터 추가
# 1s
we.import_from_pandas(expdf, table_nm)

## STD_BD_CAR_CURSTT

In [52]:
STD_BD_CAR_CURSTT = pd.read_csv(os.path.join(sys_fold, 'STD_BD_CAR_CURSTT.csv'))
STD_BD_CAR_CURSTT.info()

C:\Users\kbjung\AppData\Local\Temp\ipykernel_20456\459260850.py:1: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  STD_BD_CAR_CURSTT = pd.read_csv(os.path.join(sys_fold, 'STD_BD_CAR_CURSTT.csv'))

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25615833 entries, 0 to 25615832
Data columns (total 12 columns):
 #   Column             Dtype
---  ------             -----
 0   LOAD_DT            int64
 1   BSPL_STDG_CD       int64
 2   VHCTY_CD           object
 3   PURPS_CD2          object
 4   VIN                object
 5   MANG_MNG_NO        object
 6   EXHST_GAS_CERT_NO  object
 7   EXHST_GAS_GRD_CD   object
 8   VHCL_ERSR_YN       object
 9   FUEL_CD            object
 10  CTPV               object
 11  SGG                object
dtypes: int64(2), object(10)
memory usage: 2.3+ GB

In [53]:
expdf = STD_BD_CAR_CURSTT
table_nm = 'STD_BD_CAR_CURSTT'.upper()

# 테이블 생성
sql = 'create or replace table ' + table_nm + '( \n'

for idx,column in enumerate(expdf.columns):
    # if 'float' in expdf[column].dtype.name:
    #     sql += column + ' float'
    # elif 'int' in expdf[column].dtype.name:
    #     sql += column + ' number'
    # else:
    sql += column + ' varchar(255)'

    if len(expdf.columns) - 1 != idx:
        sql += ','
    sql += '\n'
sql += ')'    
we.execute(sql)

# 데이터 추가
# 1s
we.import_from_pandas(expdf, table_nm)

## STD_BD_CAR_REG_MKCNT

In [54]:
STD_BD_CAR_REG_MKCNT = pd.read_csv(os.path.join(sys_fold, 'STD_BD_CAR_REG_MKCNT.csv'))
STD_BD_CAR_REG_MKCNT.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 340 entries, 0 to 339
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   LOAD_DT     340 non-null    int64
 1   YR          340 non-null    int64
 2   FUEL_CD     340 non-null    object
 3   CTPV        340 non-null    object
 4   VHCL_MKCNT  340 non-null    float64
 5   FUEL_RT     340 non-null    float64
dtypes: float64(2), int64(2), object(2)
memory usage: 16.1+ KB

In [55]:
expdf = STD_BD_CAR_REG_MKCNT
table_nm = 'STD_BD_CAR_REG_MKCNT'.upper()

# 테이블 생성
sql = 'create or replace table ' + table_nm + '( \n'

for idx,column in enumerate(expdf.columns):
    # if 'float' in expdf[column].dtype.name:
    #     sql += column + ' float'
    # elif 'int' in expdf[column].dtype.name:
    #     sql += column + ' number'
    # else:
    sql += column + ' varchar(255)'

    if len(expdf.columns) - 1 != idx:
        sql += ','
    sql += '\n'
sql += ')'    
we.execute(sql)

# 데이터 추가
# 1s
we.import_from_pandas(expdf, table_nm)

## STD_BD_CAR_PRET

In [56]:
STD_BD_CAR_PRET = pd.read_csv(os.path.join(sys_fold, 'STD_BD_CAR_PRET.csv'))
STD_BD_CAR_PRET.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17 entries, 0 to 16
Data columns (total 14 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   LOAD_DT         17 non-null     int64
 1   YR              17 non-null     int64
 2   DSL             4 non-null      float64
 3   GSL             4 non-null      float64
 4   LPG             4 non-null      float64
 5   DSL_PRET        13 non-null     float64
 6   DSL_PRET_BSPLN  13 non-null     float64
 7   DSL_PRET_AKM    13 non-null     float64
 8   GSL_PRET        13 non-null     float64
 9   GSL_PRET_BSPLN  13 non-null     float64
 10  GSL_PRET_AKM    13 non-null     float64
 11  LPG_PRET        13 non-null     float64
 12  LPG_PRET_BSPLN  13 non-null     float64
 13  LPG_PRET_AKM    13 non-null     float64
dtypes: float64(12), int64(2)
memory usage: 2.0 KB

In [57]:
expdf = STD_BD_CAR_PRET
table_nm = 'STD_BD_CAR_PRET'.upper()

# 테이블 생성
sql = 'create or replace table ' + table_nm + '( \n'

for idx,column in enumerate(expdf.columns):
    # if 'float' in expdf[column].dtype.name:
    #     sql += column + ' float'
    # elif 'int' in expdf[column].dtype.name:
    #     sql += column + ' number'
    # else:
    sql += column + ' varchar(255)'

    if len(expdf.columns) - 1 != idx:
        sql += ','
    sql += '\n'
sql += ')'    
we.execute(sql)

# 데이터 추가
# 1s
we.import_from_pandas(expdf, table_nm)

## STD_BD_HYBRD_CAR_PRET

In [58]:
STD_BD_HYBRD_CAR_PRET = pd.read_csv(os.path.join(sys_fold, 'STD_BD_HYBRD_CAR_PRET.csv'))
STD_BD_HYBRD_CAR_PRET.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17 entries, 0 to 16
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   LOAD_DT          17 non-null     int64
 1   YR               17 non-null     int64
 2   GSLH             4 non-null      float64
 3   GSLH_PRET        13 non-null     float64
 4   GSLH_PRET_BSPLN  13 non-null     float64
 5   GSLH_PRET_AKM    13 non-null     float64
 6   DSLH             4 non-null      float64
 7   DSLH_PRET        13 non-null     float64
 8   DSLH_PRET_BSPLN  13 non-null     float64
 9   DSLH_PRET_AKM    13 non-null     float64
 10  LPGH             4 non-null      float64
 11  LPGH_PRET        13 non-null     float64
 12  LPGH_PRET_BSPLN  13 non-null     float64
 13  LPGH_PRET_AKM    13 non-null     float64
dtypes: float64(12), int64(2)
memory usage: 2.0 KB

In [59]:
expdf = STD_BD_HYBRD_CAR_PRET
table_nm = 'STD_BD_HYBRD_CAR_PRET'.upper()

# 테이블 생성
sql = 'create or replace table ' + table_nm + '( \n'

for idx,column in enumerate(expdf.columns):
    # if 'float' in expdf[column].dtype.name:
    #     sql += column + ' float'
    # elif 'int' in expdf[column].dtype.name:
    #     sql += column + ' number'
    # else:
    sql += column + ' varchar(255)'

    if len(expdf.columns) - 1 != idx:
        sql += ','
    sql += '\n'
sql += ')'    
we.execute(sql)

# 데이터 추가
# 7s
we.import_from_pandas(expdf, table_nm)

## STD_BD_FUEL_GRD_VHCL_CURSTT_PRET

In [60]:
STD_BD_FUEL_GRD_VHCL_CURSTT_PRET = pd.read_csv(os.path.join(sys_fold, 'STD_BD_FUEL_GRD_VHCL_CURSTT_PRET.csv'))
STD_BD_FUEL_GRD_VHCL_CURSTT_PRET.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 255 entries, 0 to 254
Data columns (total 6 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   YR                255 non-null    int64
 1   FUEL_CD           255 non-null    object
 2   EXHST_GAS_GRD_CD  255 non-null    int64
 3   VHCL_MKCNT        60 non-null     float64
 4   VHCL_PRET         195 non-null    float64
 5   LOAD_DT           255 non-null    int64
dtypes: float64(2), int64(3), object(1)
memory usage: 12.1+ KB

In [61]:
expdf = STD_BD_FUEL_GRD_VHCL_CURSTT_PRET
table_nm = 'STD_BD_FUEL_GRD_VHCL_CURSTT_PRET'.upper()

# 테이블 생성
sql = 'create or replace table ' + table_nm + '( \n'

for idx,column in enumerate(expdf.columns):
    # if 'float' in expdf[column].dtype.name:
    #     sql += column + ' float'
    # elif 'int' in expdf[column].dtype.name:
    #     sql += column + ' number'
    # else:
    sql += column + ' varchar(255)'

    if len(expdf.columns) - 1 != idx:
        sql += ','
    sql += '\n'
sql += ')'    
we.execute(sql)

# 데이터 추가
# 1s
we.import_from_pandas(expdf, table_nm)

## STD_BD_ECO_CAR_PRET

In [62]:
STD_BD_ECO_CAR_PRET = pd.read_csv(os.path.join(sys_fold, 'STD_BD_ECO_CAR_PRET.csv'))
STD_BD_ECO_CAR_PRET.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17 entries, 0 to 16
Data columns (total 10 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   LOAD_DT           17 non-null     int64
 1   YR                17 non-null     int64
 2   BTYCR             4 non-null      float64
 3   BTYCR_PRET        13 non-null     float64
 4   BTYCR_PRET_BSPLN  13 non-null     float64
 5   BTYCR_PRET_AKM    13 non-null     float64
 6   HY                4 non-null      float64
 7   HY_PRET           13 non-null     float64
 8   HY_PRET_BSPLN     13 non-null     float64
 9   HY_PRET_AKM       13 non-null     float64
dtypes: float64(8), int64(2)
memory usage: 1.5 KB

In [63]:
expdf = STD_BD_ECO_CAR_PRET
table_nm = 'STD_BD_ECO_CAR_PRET'.upper()

# 테이블 생성
sql = 'create or replace table ' + table_nm + '( \n'

for idx,column in enumerate(expdf.columns):
    # if 'float' in expdf[column].dtype.name:
    #     sql += column + ' float'
    # elif 'int' in expdf[column].dtype.name:
    #     sql += column + ' number'
    # else:
    sql += column + ' varchar(255)'

    if len(expdf.columns) - 1 != idx:
        sql += ','
    sql += '\n'
sql += ')'    
we.execute(sql)

# 데이터 추가
# 7s
we.import_from_pandas(expdf, table_nm)

## STD_BD_ERSR_RSLT

In [64]:
STD_BD_ERSR_RSLT = pd.read_csv(os.path.join(sys_fold, 'STD_BD_ERSR_RSLT.csv'))
STD_BD_ERSR_RSLT.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4792993 entries, 0 to 4792992
Data columns (total 8 columns):
 #   Column            Dtype
---  ------            -----
 0   LOAD_DT           int64
 1   BSPL_STDG_CD      int64
 2   CTPV              object
 3   SGG               object
 4   VIN               object
 5   CHG_YMD           int64
 6   EXHST_GAS_GRD_CD  object
 7   FUEL_CD           object
dtypes: int64(3), object(5)
memory usage: 292.5+ MB

In [65]:
expdf = STD_BD_ERSR_RSLT
table_nm = 'STD_BD_ERSR_RSLT'.upper()

# 테이블 생성
sql = 'create or replace table ' + table_nm + '( \n'

for idx,column in enumerate(expdf.columns):
    # if 'float' in expdf[column].dtype.name:
    #     sql += column + ' float'
    # elif 'int' in expdf[column].dtype.name:
    #     sql += column + ' number'
    # else:
    sql += column + ' varchar(255)'

    if len(expdf.columns) - 1 != idx:
        sql += ','
    sql += '\n'
sql += ')'    
we.execute(sql)

# 데이터 추가
# 12.6s
we.import_from_pandas(expdf, table_nm)

## STD_BD_DAT_GRD_CURSTT

In [66]:
# 1s
STD_BD_DAT_GRD_CURSTT = pd.read_csv(os.path.join(sys_fold, 'STD_BD_DAT_GRD_CURSTT.csv'))
STD_BD_DAT_GRD_CURSTT.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 212160 entries, 0 to 212159
Data columns (total 12 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   CTPV              212160 non-null  object
 1   YR                212160 non-null  int64
 2   MM                212160 non-null  int64
 3   EXHST_GAS_GRD_CD  212160 non-null  int64
 4   FUEL_CD           212160 non-null  object
 5   VHCTY_CD          212160 non-null  object
 6   VHCTY_TY          212160 non-null  object
 7   PURPS_CD2         212160 non-null  object
 8   VHCL_MKCNT        212160 non-null  float64
 9   ERSR_MKCNT        212160 non-null  float64
 10  YR_FUEL_VHCL_RT   212160 non-null  float64
 11  LOAD_DT           212160 non-null  int64
dtypes: float64(3), int64(4), object(5)
memory usage: 19.4+ MB

In [67]:
expdf = STD_BD_DAT_GRD_CURSTT
table_nm = 'STD_BD_DAT_GRD_CURSTT'.upper()

# 테이블 생성
sql = 'create or replace table ' + table_nm + '( \n'

for idx,column in enumerate(expdf.columns):
    # if 'float' in expdf[column].dtype.name:
    #     sql += column + ' float'
    # elif 'int' in expdf[column].dtype.name:
    #     sql += column + ' number'
    # else:
    sql += column + ' varchar(255)'

    if len(expdf.columns) - 1 != idx:
        sql += ','
    sql += '\n'
sql += ')'    
we.execute(sql)

# 데이터 추가
# 12.6s
we.import_from_pandas(expdf, table_nm)

## STD_BD_DAT_FUEL_CAR_DEC

In [68]:
# 0s
STD_BD_DAT_FUEL_CAR_DEC = pd.read_csv(os.path.join(sys_fold, 'STD_BD_DAT_FUEL_CAR_DEC.csv'))
STD_BD_DAT_FUEL_CAR_DEC.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1224 entries, 0 to 1223
Data columns (total 17 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   YR                1224 non-null   int64
 1   QRT               1224 non-null   int64
 2   EXHST_GAS_GRD_CD  1224 non-null   object
 3   FUEL_CD           1224 non-null   object
 4   LPG_MKCNT         96 non-null     float64
 5   LPG_PRET          312 non-null    float64
 6   LPG_PRET_BSPLN    312 non-null    float64
 7   LPG_PRET_AKM      312 non-null    float64
 8   DSL_MKCNT         96 non-null     float64
 9   DSL_PRET          312 non-null    float64
 10  DSL_PRET_BSPLN    312 non-null    float64
 11  DSL_PRET_AKM      312 non-null    float64
 12  GSL_MKCNT         96 non-null     float64
 13  GSL_PRET          312 non-null    float64
 14  GSL_PRET_BSPLN    312 non-null    float64
 15  GSL_PRET_AKM      312 non-null    float64
 16  LOAD_DT           1224 non-null   int64
dtypes: float64(12), int64(3), object(2)
memory usage: 162.7+ KB

In [69]:
expdf = STD_BD_DAT_FUEL_CAR_DEC
table_nm = 'STD_BD_DAT_FUEL_CAR_DEC'.upper()

# 테이블 생성
sql = 'create or replace table ' + table_nm + '( \n'

for idx,column in enumerate(expdf.columns):
    # if 'float' in expdf[column].dtype.name:
    #     sql += column + ' float'
    # elif 'int' in expdf[column].dtype.name:
    #     sql += column + ' number'
    # else:
    sql += column + ' varchar(255)'

    if len(expdf.columns) - 1 != idx:
        sql += ','
    sql += '\n'
sql += ')'    
we.execute(sql)

# 데이터 추가
# 12.6s
we.import_from_pandas(expdf, table_nm)

## STD_BD_GRD5_ELPDSRC_CURSTT

In [70]:
STD_BD_GRD5_ELPDSRC_CURSTT = pd.read_csv(os.path.join(sys_fold, 'STD_BD_GRD5_ELPDSRC_CURSTT.csv'))
STD_BD_GRD5_ELPDSRC_CURSTT.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 68 entries, 0 to 67
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   RGN         68 non-null     object
 1   YR          68 non-null     int64
 2   VHCL_MKCNT  68 non-null     int64
 3   VHCL_REDE   68 non-null     int64
 4   ELPDSRC     68 non-null     int64
 5   NTRL_DCLN   68 non-null     int64
 6   LOAD_DT     68 non-null     int64
dtypes: int64(6), object(1)
memory usage: 3.8+ KB

In [71]:
expdf = STD_BD_GRD5_ELPDSRC_CURSTT
table_nm = 'STD_BD_GRD5_ELPDSRC_CURSTT'.upper()

# 테이블 생성
sql = 'create or replace table ' + table_nm + '( \n'

for idx,column in enumerate(expdf.columns):
    if 'float' in expdf[column].dtype.name:
        sql += column + ' float'
    elif 'int' in expdf[column].dtype.name:
        sql += column + ' number'
    else:
        sql += column + ' varchar(255)'

    if len(expdf.columns) - 1 != idx:
        sql += ','
    sql += '\n'
sql += ')'    
we.execute(sql)

# 데이터 추가
# 5s
we.import_from_pandas(expdf, table_nm)

In [72]:
sql

'create or replace table STD_BD_GRD5_ELPDSRC_CURSTT( \nRGN varchar(255),\nYR number,\nVHCL_MKCNT number,\nVHCL_REDE number,\nELPDSRC number,\nNTRL_DCLN number,\nLOAD_DT number\n)'

## STD_BD_GRD5_LEM_N_MOD

In [73]:
STD_BD_GRD5_LEM_N_MOD = pd.read_csv(os.path.join(sys_fold, 'STD_BD_GRD5_LEM_N_MOD.csv'))
STD_BD_GRD5_LEM_N_MOD.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12 entries, 0 to 11
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   RGN         12 non-null     object
 1   SEASON      12 non-null     object
 2   VHCL_MKCNT  12 non-null     int64
 3   LOAD_DT     12 non-null     int64
dtypes: int64(2), object(2)
memory usage: 512.0+ bytes

In [74]:
expdf = STD_BD_GRD5_LEM_N_MOD
table_nm = 'STD_BD_GRD5_LEM_N_MOD'.upper()

# 테이블 생성
sql = 'create or replace table ' + table_nm + '( \n'

for idx,column in enumerate(expdf.columns):
    if 'float' in expdf[column].dtype.name:
        sql += column + ' float'
    elif 'int' in expdf[column].dtype.name:
        sql += column + ' number'
    else:
        sql += column + ' varchar(255)'

    if len(expdf.columns) - 1 != idx:
        sql += ','
    sql += '\n'
sql += ')'    
we.execute(sql)

# 데이터 추가
# 5s
we.import_from_pandas(expdf, table_nm)

In [75]:
sql

'create or replace table STD_BD_GRD5_LEM_N_MOD( \nRGN varchar(255),\nSEASON varchar(255),\nVHCL_MKCNT number,\nLOAD_DT number\n)'

## STD_BD_SEASON_CRDN_NOCS_CURSTT

In [76]:
STD_BD_SEASON_CRDN_NOCS_CURSTT = pd.read_csv(os.path.join(sys_fold, 'STD_BD_SEASON_CRDN_NOCS_CURSTT.csv'))
STD_BD_SEASON_CRDN_NOCS_CURSTT.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 973974 entries, 0 to 973973
Data columns (total 11 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   LOAD_DT                973974 non-null  int64
 1   VIN                    973974 non-null  object
 2   RGN                    973974 non-null  object
 3   CTPV                   973961 non-null  object
 4   DPF_EXTRNS_YN          973974 non-null  object
 5   VHCTY_CD               973962 non-null  object
 6   VHCTY_TY               973974 non-null  object
 7   SEASON_1ODR_CRDN_NOCS  973974 non-null  float64
 8   SEASON_2ODR_CRDN_NOCS  973974 non-null  float64
 9   SEASON_3ODR_CRDN_NOCS  973974 non-null  float64
 10  SEASON_4ODR_CRDN_NOCS  973974 non-null  float64
dtypes: float64(4), int64(1), object(6)
memory usage: 81.7+ MB

In [77]:
expdf = STD_BD_SEASON_CRDN_NOCS_CURSTT
table_nm = 'STD_BD_SEASON_CRDN_NOCS_CURSTT'.upper()

# 테이블 생성
sql = 'create or replace table ' + table_nm + '( \n'

for idx,column in enumerate(expdf.columns):
    # if 'float' in expdf[column].dtype.name:
    #     sql += column + ' float'
    # elif 'int' in expdf[column].dtype.name:
    #     sql += column + ' number'
    # else:
    sql += column + ' varchar(255)'

    if len(expdf.columns) - 1 != idx:
        sql += ','
    sql += '\n'
sql += ')'    
we.execute(sql)

# 데이터 추가
# 12.6s
we.import_from_pandas(expdf, table_nm)

## STD_BD_SEASON_DY_AVRG_CRDN_NOCS

In [78]:
STD_BD_SEASON_DY_AVRG_CRDN_NOCS = pd.read_csv(os.path.join(sys_fold, 'STD_BD_SEASON_DY_AVRG_CRDN_NOCS.csv'))
STD_BD_SEASON_DY_AVRG_CRDN_NOCS.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 3 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   SEASON_ORD         4 non-null      object
 1   DY_AVRG_CRDN_NOCS  4 non-null      float64
 2   LOAD_DT            4 non-null      int64
dtypes: float64(1), int64(1), object(1)
memory usage: 224.0+ bytes

In [79]:
expdf = STD_BD_SEASON_DY_AVRG_CRDN_NOCS
table_nm = 'STD_BD_SEASON_DY_AVRG_CRDN_NOCS'.upper()

# 테이블 생성
sql = 'create or replace table ' + table_nm + '( \n'

for idx,column in enumerate(expdf.columns):
    if 'float' in expdf[column].dtype.name:
        sql += column + ' float'
    elif 'int' in expdf[column].dtype.name:
        sql += column + ' number'
    else:
        sql += column + ' varchar(255)'

    if len(expdf.columns) - 1 != idx:
        sql += ','
    sql += '\n'
sql += ')'    
we.execute(sql)

# 데이터 추가
# 5s
we.import_from_pandas(expdf, table_nm)

In [80]:
sql

'create or replace table STD_BD_SEASON_DY_AVRG_CRDN_NOCS( \nSEASON_ORD varchar(255),\nDY_AVRG_CRDN_NOCS float,\nLOAD_DT number\n)'

## STD_BD_ORDITM_DSCL_CURSTT

In [81]:
STD_BD_ORDITM_DSCL_CURSTT = pd.read_csv(os.path.join(sys_fold, 'STD_BD_ORDITM_DSCL_CURSTT.csv'))
STD_BD_ORDITM_DSCL_CURSTT.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 84293 entries, 0 to 84292
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   VIN        84293 non-null  object
 1   DSCL_YR    84293 non-null  int64
 2   DSCL_NOCS  84293 non-null  float64
 3   RGN        84293 non-null  object
 4   CTPV       84179 non-null  object
 5   LOAD_DT    84293 non-null  int64
dtypes: float64(1), int64(2), object(3)
memory usage: 3.9+ MB

In [82]:
expdf = STD_BD_ORDITM_DSCL_CURSTT
table_nm = 'STD_BD_ORDITM_DSCL_CURSTT'.upper()

# 테이블 생성
sql = 'create or replace table ' + table_nm + '( \n'

for idx,column in enumerate(expdf.columns):
    # if 'float' in expdf[column].dtype.name:
    #     sql += column + ' float'
    # elif 'int' in expdf[column].dtype.name:
    #     sql += column + ' number'
    # else:
    sql += column + ' varchar(255)'

    if len(expdf.columns) - 1 != idx:
        sql += ','
    sql += '\n'
sql += ')'    
we.execute(sql)

# 데이터 추가
# 5s
we.import_from_pandas(expdf, table_nm)

## STD_BD_SEASON_DSCL_RGN_CURSTT

In [83]:
STD_BD_SEASON_DSCL_RGN_CURSTT = pd.read_csv(os.path.join(sys_fold, 'STD_BD_SEASON_DSCL_RGN_CURSTT.csv'))
STD_BD_SEASON_DSCL_RGN_CURSTT.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1264089 entries, 0 to 1264088
Data columns (total 10 columns):
 #   Column                 Non-Null Count    Dtype
---  ------                 --------------    -----
 0   DSCL_RGN               1264089 non-null  object
 1   DSCL_CTPV              1264089 non-null  object
 2   VIN                    1264089 non-null  object
 3   SEASON_1ODR_CRDN_NOCS  0 non-null        float64
 4   SEASON_2ODR_CRDN_NOCS  146276 non-null   float64
 5   SEASON_3ODR_CRDN_NOCS  75964 non-null    float64
 6   SEASON_4ODR_CRDN_NOCS  49717 non-null    float64
 7   VHCTY_CD               840194 non-null   object
 8   VHCTY_TY               840194 non-null   object
 9   LOAD_DT                1264089 non-null  int64
dtypes: float64(4), int64(1), object(5)
memory usage: 96.4+ MB

In [84]:
expdf = STD_BD_SEASON_DSCL_RGN_CURSTT
table_nm = 'STD_BD_SEASON_DSCL_RGN_CURSTT'.upper()

# 테이블 생성
sql = 'create or replace table ' + table_nm + '( \n'

for idx,column in enumerate(expdf.columns):
    # if 'float' in expdf[column].dtype.name:
    #     sql += column + ' float'
    # elif 'int' in expdf[column].dtype.name:
    #     sql += column + ' number'
    # else:
    sql += column + ' varchar(255)'

    if len(expdf.columns) - 1 != idx:
        sql += ','
    sql += '\n'
sql += ')'    
we.execute(sql)

# 데이터 추가
# 12.6s
we.import_from_pandas(expdf, table_nm)

## STD_BD_DAT_GRD5_REDUC_BIZ

In [85]:
# 0s
STD_BD_DAT_GRD5_REDUC_BIZ = pd.read_csv(os.path.join(sys_fold, 'STD_BD_DAT_GRD5_REDUC_BIZ.csv'))
STD_BD_DAT_GRD5_REDUC_BIZ.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 8 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   YR               4 non-null      int64
 1   VHCL_MKCNT       4 non-null      int64
 2   NTRL_DCLN        3 non-null      float64
 3   ELPDSRC          4 non-null      int64
 4   RDCDVC_1KND      4 non-null      int64
 5   RDCDVC_1KND_SCR  4 non-null      int64
 6   UNMNTNG          4 non-null      int64
 7   LOAD_DT          4 non-null      int64
dtypes: float64(1), int64(7)
memory usage: 384.0 bytes

In [86]:
expdf = STD_BD_DAT_GRD5_REDUC_BIZ
table_nm = 'STD_BD_DAT_GRD5_REDUC_BIZ'.upper()

# 테이블 생성
sql = 'create or replace table ' + table_nm + '( \n'

for idx,column in enumerate(expdf.columns):
    if 'float' in expdf[column].dtype.name:
        sql += column + ' float'
    elif 'int' in expdf[column].dtype.name:
        sql += column + ' number'
    else:
        sql += column + ' varchar(255)'

    if len(expdf.columns) - 1 != idx:
        sql += ','
    sql += '\n'
sql += ')'    
we.execute(sql)

# 데이터 추가
# 12.6s
we.import_from_pandas(expdf, table_nm)

In [87]:
sql

'create or replace table STD_BD_DAT_GRD5_REDUC_BIZ( \nYR number,\nVHCL_MKCNT number,\nNTRL_DCLN float,\nELPDSRC number,\nRDCDVC_1KND number,\nRDCDVC_1KND_SCR number,\nUNMNTNG number,\nLOAD_DT number\n)'

## STD_BD_DAT_RUN_LMT_CURSTT

In [88]:
# 0s
STD_BD_DAT_RUN_LMT_CURSTT = pd.read_csv(os.path.join(sys_fold, 'STD_BD_DAT_RUN_LMT_CURSTT.csv'))
STD_BD_DAT_RUN_LMT_CURSTT.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 502 entries, 0 to 501
Data columns (total 9 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   SEASON           502 non-null    object
 1   RGN              502 non-null    object
 2   CTPV             502 non-null    object
 3   VHCTY_CD         502 non-null    object
 4   VHCTY_TY         502 non-null    object
 5   DSCL_VHCL_MKCNT  502 non-null    int64
 6   UNLEM            502 non-null    int64
 7   DUP_DSCL_MKCNT   433 non-null    float64
 8   LOAD_DT          502 non-null    int64
dtypes: float64(1), int64(3), object(5)
memory usage: 35.4+ KB

In [89]:
expdf = STD_BD_DAT_RUN_LMT_CURSTT
table_nm = 'STD_BD_DAT_RUN_LMT_CURSTT'.upper()

# 테이블 생성
sql = 'create or replace table ' + table_nm + '( \n'

for idx,column in enumerate(expdf.columns):
    # if 'float' in expdf[column].dtype.name:
    #     sql += column + ' float'
    # elif 'int' in expdf[column].dtype.name:
    #     sql += column + ' number'
    # else:
    sql += column + ' varchar(255)'

    if len(expdf.columns) - 1 != idx:
        sql += ','
    sql += '\n'
sql += ')'    
we.execute(sql)

# 데이터 추가
# 12.6s
we.import_from_pandas(expdf, table_nm)

## STD_BD_GRD4_DS_CRRLTN_CFFCNT

In [90]:
STD_BD_GRD4_DS_CRRLTN_CFFCNT = pd.read_csv(os.path.join(sys_fold, 'STD_BD_GRD4_DS_CRRLTN_CFFCNT.csv'))
STD_BD_GRD4_DS_CRRLTN_CFFCNT.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 7 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   LIST                 4 non-null      object
 1   NOLOD_SMO_MEVLU1     4 non-null      float64
 2   DY_AVRG_DRVNG_DSTNC  4 non-null      float64
 3   RCNT_INSP_ELPSD_WHL  4 non-null      float64
 4   RUN_LMT_NOCS         4 non-null      float64
 5   TOT_CRRLTN_CFFCNT    4 non-null      float64
 6   LOAD_DT              4 non-null      int64
dtypes: float64(5), int64(1), object(1)
memory usage: 352.0+ bytes

In [91]:
expdf = STD_BD_GRD4_DS_CRRLTN_CFFCNT
table_nm = 'STD_BD_GRD4_DS_CRRLTN_CFFCNT'.upper()

# 테이블 생성
sql = 'create or replace table ' + table_nm + '( \n'

for idx,column in enumerate(expdf.columns):
    # if 'float' in expdf[column].dtype.name:
    #     sql += column + ' float'
    # elif 'int' in expdf[column].dtype.name:
    #     sql += column + ' number'
    # else:
    sql += column + ' varchar(255)'

    if len(expdf.columns) - 1 != idx:
        sql += ','
    sql += '\n'
sql += ')'    
we.execute(sql)

# 데이터 추가
# 5s
we.import_from_pandas(expdf, table_nm)

## STD_BD_GRD4_LEM_PRIO_ORD_SELCT_CURSTT

In [92]:
STD_BD_GRD4_LEM_PRIO_ORD_SELCT_CURSTT = pd.read_csv(os.path.join(sys_fold, 'STD_BD_GRD4_LEM_PRIO_ORD_SELCT_CURSTT.csv'))
STD_BD_GRD4_LEM_PRIO_ORD_SELCT_CURSTT.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1052790 entries, 0 to 1052789
Data columns (total 16 columns):
 #   Column               Non-Null Count    Dtype
---  ------               --------------    -----
 0   LOAD_DT              1052790 non-null  int64
 1   VIN                  1052790 non-null  object
 2   VHRNO                1052790 non-null  object
 3   STDG_CD              1052790 non-null  int64
 4   CTPV_NM              1052790 non-null  object
 5   SGG_NM               1052790 non-null  object
 6   YRIDNW               1052790 non-null  int64
 7   PURPS_CD2            1052790 non-null  object
 8   VHCTY_CD             1052790 non-null  object
 9   VHCTY_TY             1052790 non-null  object
 10  PRIO_GRD             1052790 non-null  int64
 11  SELCT_PNT            1024892 non-null  float64
 12  NOLOD_SMO_MEVLU1     1047843 non-null  float64
 13  DY_AVRG_DRVNG_DSTNC  1052790 non-null  float64
 14  RCNT_INSP_ELPSD_WHL  1047969 non-null  float64
 15  RUN_LMT_NOCS         1052790 non-null  float64
dtypes: float64(5), int64(4), object(7)
memory usage: 128.5+ MB

In [93]:
expdf = STD_BD_GRD4_LEM_PRIO_ORD_SELCT_CURSTT
table_nm = 'STD_BD_GRD4_LEM_PRIO_ORD_SELCT_CURSTT'.upper()

# 테이블 생성
sql = 'create or replace table ' + table_nm + '( \n'

for idx,column in enumerate(expdf.columns):
    # if 'float' in expdf[column].dtype.name:
    #     sql += column + ' float'
    # elif 'int' in expdf[column].dtype.name:
    #     sql += column + ' number'
    # else:
    sql += column + ' varchar(255)'

    if len(expdf.columns) - 1 != idx:
        sql += ','
    sql += '\n'
sql += ')'    
we.execute(sql)

# 데이터 추가
# 12.6s
we.import_from_pandas(expdf, table_nm)

## STD_BD_GRD5_DS_CRRLTN_CFFCNT

In [94]:
STD_BD_GRD5_DS_CRRLTN_CFFCNT = pd.read_csv(os.path.join(sys_fold, 'STD_BD_GRD5_DS_CRRLTN_CFFCNT.csv'))
STD_BD_GRD5_DS_CRRLTN_CFFCNT.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 7 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   LIST                 4 non-null      object
 1   NOLOD_SMO_MEVLU1     4 non-null      float64
 2   DY_AVRG_DRVNG_DSTNC  4 non-null      float64
 3   RCNT_INSP_ELPSD_WHL  4 non-null      float64
 4   RUN_LMT_NOCS         4 non-null      float64
 5   TOT_CRRLTN_CFFCNT    4 non-null      float64
 6   LOAD_DT              4 non-null      int64
dtypes: float64(5), int64(1), object(1)
memory usage: 352.0+ bytes

In [95]:
expdf = STD_BD_GRD5_DS_CRRLTN_CFFCNT
table_nm = 'STD_BD_GRD5_DS_CRRLTN_CFFCNT'.upper()

# 테이블 생성
sql = 'create or replace table ' + table_nm + '( \n'

for idx,column in enumerate(expdf.columns):
    # if 'float' in expdf[column].dtype.name:
    #     sql += column + ' float'
    # elif 'int' in expdf[column].dtype.name:
    #     sql += column + ' number'
    # else:
    sql += column + ' varchar(255)'

    if len(expdf.columns) - 1 != idx:
        sql += ','
    sql += '\n'
sql += ')'    
we.execute(sql)

# 데이터 추가
# 5s
we.import_from_pandas(expdf, table_nm)

## STD_BD_GRD5_LEM_PRIO_ORD_SELCT_CURSTT

In [96]:
STD_BD_GRD5_LEM_PRIO_ORD_SELCT_CURSTT = pd.read_csv(os.path.join(sys_fold, 'STD_BD_GRD5_LEM_PRIO_ORD_SELCT_CURSTT.csv'))
STD_BD_GRD5_LEM_PRIO_ORD_SELCT_CURSTT.info()

C:\Users\kbjung\AppData\Local\Temp\ipykernel_20456\578570274.py:1: DtypeWarning: Columns (9) have mixed types. Specify dtype option on import or set low_memory=False.
  STD_BD_GRD5_LEM_PRIO_ORD_SELCT_CURSTT = pd.read_csv(os.path.join(sys_fold, 'STD_BD_GRD5_LEM_PRIO_ORD_SELCT_CURSTT.csv'))

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 943881 entries, 0 to 943880
Data columns (total 17 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   VIN                  943881 non-null  object
 1   VHRNO                943881 non-null  object
 2   STDG_CD              943881 non-null  int64
 3   CTPV_NM              943881 non-null  object
 4   SGG_NM               943862 non-null  object
 5   YRIDNW               943881 non-null  int64
 6   PURPS_CD2            943881 non-null  object
 7   VHCTY_CD             943871 non-null  object
 8   VHCTY_TY             943881 non-null  object
 9   RDCDVC               281478 non-null  object
 10  PRIO_GRD             943881 non-null  int64
 11  SELCT_PNT            555914 non-null  float64
 12  NOLOD_SMO_MEVLU1     704138 non-null  float64
 13  DY_AVRG_DRVNG_DSTNC  943881 non-null  float64
 14  RCNT_INSP_ELPSD_WHL  706055 non-null  float64
 15  RUN_LMT_NOCS         943881 non-null  float64
 16  LOAD_DT              943881 non-null  int64
dtypes: float64(5), int64(4), object(8)
memory usage: 122.4+ MB

In [97]:
expdf = STD_BD_GRD5_LEM_PRIO_ORD_SELCT_CURSTT
table_nm = 'STD_BD_GRD5_LEM_PRIO_ORD_SELCT_CURSTT'.upper()

# 테이블 생성
sql = 'create or replace table ' + table_nm + '( \n'

for idx,column in enumerate(expdf.columns):
    # if 'float' in expdf[column].dtype.name:
    #     sql += column + ' float'
    # elif 'int' in expdf[column].dtype.name:
    #     sql += column + ' number'
    # else:
    sql += column + ' varchar(255)'

    if len(expdf.columns) - 1 != idx:
        sql += ','
    sql += '\n'
sql += ')'    
we.execute(sql)

# 데이터 추가
# 12.6s
we.import_from_pandas(expdf, table_nm)

## STD_BD_DAT_LEM_SELCT

In [98]:
# 0s
STD_BD_DAT_LEM_SELCT = pd.read_csv(os.path.join(sys_fold, 'STD_BD_DAT_LEM_SELCT.csv'))
STD_BD_DAT_LEM_SELCT.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 397 entries, 0 to 396
Data columns (total 13 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   CTPV                 397 non-null    object
 1   EXHST_GAS_GRD_CD     397 non-null    int64
 2   VHCTY_CD             397 non-null    object
 3   VHCTY_TY             397 non-null    object
 4   SELCT_MKCNT          397 non-null    float64
 5   SENO1_MKCNT          397 non-null    float64
 6   SENO1_RT             397 non-null    float64
 7   SENO2_MKCNT          397 non-null    float64
 8   SENO2_RT             397 non-null    float64
 9   SENO3_MKCNT          397 non-null    float64
 10  SENO3_RT             397 non-null    float64
 11  RDCDVC_EXTRNS_MKCNT  397 non-null    int64
 12  LOAD_DT              397 non-null    int64
dtypes: float64(7), int64(3), object(3)
memory usage: 40.4+ KB

In [99]:
expdf = STD_BD_DAT_LEM_SELCT
table_nm = 'STD_BD_DAT_LEM_SELCT'.upper()

# 테이블 생성
sql = 'create or replace table ' + table_nm + '( \n'

for idx,column in enumerate(expdf.columns):
    # if 'float' in expdf[column].dtype.name:
    #     sql += column + ' float'
    # elif 'int' in expdf[column].dtype.name:
    #     sql += column + ' number'
    # else:
    sql += column + ' varchar(255)'

    if len(expdf.columns) - 1 != idx:
        sql += ','
    sql += '\n'
sql += ')'    
we.execute(sql)

# 데이터 추가
# 1s
we.import_from_pandas(expdf, table_nm)

## STD_BD_DAT_SELCT_PNT_CURSTT

In [100]:
# 0s
STD_BD_DAT_SELCT_PNT_CURSTT = pd.read_csv(os.path.join(sys_fold, 'STD_BD_DAT_SELCT_PNT_CURSTT.csv'))
STD_BD_DAT_SELCT_PNT_CURSTT.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 159 entries, 0 to 158
Data columns (total 10 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   EXHST_GAS_GRD_CD     159 non-null    int64
 1   SELCT_PNT_RNG        159 non-null    object
 2   VHCTY_CD             159 non-null    object
 3   VHCTY_TY             159 non-null    object
 4   VHCL_MKCNT           159 non-null    int64
 5   SMO_MSRMT_VAL        159 non-null    float64
 6   DY_AVRG_DRVNG_DSTNC  159 non-null    float64
 7   RCNT_INSP_ELPSD_WHL  159 non-null    float64
 8   RUN_LMT_NOCS         159 non-null    float64
 9   LOAD_DT              159 non-null    int64
dtypes: float64(4), int64(3), object(3)
memory usage: 12.5+ KB

In [101]:
expdf = STD_BD_DAT_SELCT_PNT_CURSTT
table_nm = 'STD_BD_DAT_SELCT_PNT_CURSTT'.upper()

# 테이블 생성
sql = 'create or replace table ' + table_nm + '( \n'

for idx,column in enumerate(expdf.columns):
    # if 'float' in expdf[column].dtype.name:
    #     sql += column + ' float'
    # elif 'int' in expdf[column].dtype.name:
    #     sql += column + ' number'
    # else:
    sql += column + ' varchar(255)'

    if len(expdf.columns) - 1 != idx:
        sql += ','
    sql += '\n'
sql += ')'    
we.execute(sql)

# 데이터 추가
# 1s
we.import_from_pandas(expdf, table_nm)

# 동양 요청 파일

## STD_BD_CAR_CURSTT_MOD_4RD_INS

In [103]:
# 0s
STD_BD_CAR_CURSTT_MOD_4RD_INS = pd.read_csv(os.path.join(sys_fold, 'STD_BD_CAR_CURSTT_MOD_4RD_INS.csv'))
STD_BD_CAR_CURSTT_MOD_4RD_INS.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 357 entries, 0 to 356
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   YR          357 non-null    int64
 1   CRTR_YM     357 non-null    int64
 2   FUEL_CD     357 non-null    object
 3   RGN         357 non-null    object
 4   CTPV_NM     357 non-null    object
 5   VHCL_MKCNT  357 non-null    int64
 6   LOAD_DT     357 non-null    int64
dtypes: int64(4), object(3)
memory usage: 19.6+ KB

In [104]:
expdf = STD_BD_CAR_CURSTT_MOD_4RD_INS
table_nm = 'STD_BD_CAR_CURSTT_MOD_4RD_INS'.upper()

# 테이블 생성
sql = 'create or replace table ' + table_nm + '( \n'

for idx,column in enumerate(expdf.columns):
    if 'float' in expdf[column].dtype.name:
        sql += column + ' float'
    elif 'int' in expdf[column].dtype.name:
        sql += column + ' number'
    else:
        sql += column + ' varchar(255)'

    if len(expdf.columns) - 1 != idx:
        sql += ','
    sql += '\n'
sql += ')'    
we.execute(sql)

# 데이터 추가
# 1s
we.import_from_pandas(expdf, table_nm)

In [105]:
sql

'create or replace table STD_BD_CAR_CURSTT_MOD_4RD_INS( \nYR number,\nCRTR_YM number,\nFUEL_CD varchar(255),\nRGN varchar(255),\nCTPV_NM varchar(255),\nVHCL_MKCNT number,\nLOAD_DT number\n)'

## STD_BD_CAR_CURSTT_MOD2_4RD_INS

In [106]:
# 0s
STD_BD_CAR_CURSTT_MOD2_4RD_INS = pd.read_csv(os.path.join(sys_fold, 'STD_BD_CAR_CURSTT_MOD2_4RD_INS.csv'))
STD_BD_CAR_CURSTT_MOD2_4RD_INS.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 112 entries, 0 to 111
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   YR           112 non-null    int64
 1   CRTR_YM      112 non-null    int64
 2   VHCTY_CD_NM  112 non-null    object
 3   FUEL_CD      112 non-null    object
 4   VHCL_MKCNT   98 non-null     float64
 5   LOAD_DT      112 non-null    int64
dtypes: float64(1), int64(3), object(2)
memory usage: 5.4+ KB

In [107]:
expdf = STD_BD_CAR_CURSTT_MOD2_4RD_INS
table_nm = 'STD_BD_CAR_CURSTT_MOD2_4RD_INS'.upper()

# 테이블 생성
sql = 'create or replace table ' + table_nm + '( \n'

for idx,column in enumerate(expdf.columns):
    if 'float' in expdf[column].dtype.name:
        sql += column + ' float'
    elif 'int' in expdf[column].dtype.name:
        sql += column + ' number'
    else:
        sql += column + ' varchar(255)'

    if len(expdf.columns) - 1 != idx:
        sql += ','
    sql += '\n'
sql += ')'    
we.execute(sql)

# 데이터 추가
# 1s
we.import_from_pandas(expdf, table_nm)

In [108]:
sql

'create or replace table STD_BD_CAR_CURSTT_MOD2_4RD_INS( \nYR number,\nCRTR_YM number,\nVHCTY_CD_NM varchar(255),\nFUEL_CD varchar(255),\nVHCL_MKCNT float,\nLOAD_DT number\n)'

# code end