In [91]:
import pandas as pd
from tqdm import tqdm
import re
import numpy as np

In [2]:
df = pd.read_excel('00_DPF_클리닝_내역_원본.xlsx')

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 692017 entries, 0 to 692016
Data columns (total 48 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   클리닝진행상태    691904 non-null  object
 1   클리닝기간구분    544758 non-null  object
 2   차량번호       691873 non-null  object
 3   차대번호       683210 non-null  object
 4   구조변경일자     691859 non-null  object
 5   현재차량등록번호   54 non-null      object
 6   차명         691855 non-null  object
 7   용도         691836 non-null  object
 8   차종         688979 non-null  object
 9   주행거리       691845 non-null  object
 10  저감장치구분     686027 non-null  object
 11  저감장치종류     691797 non-null  object
 12  인증모델번호     691837 non-null  object
 13  장치일련번호     688911 non-null  object
 14  장치일련번호_전후  460072 non-null  object
 15  클리닝일자      678012 non-null  object
 16  클리닝종류      677939 non-null  object
 17  제작사코드      54384 non-null   object
 18  클리닝업체명     683078 non-null  object
 19  접수지자체코드    54099 non-null   object
 20  보조금지급확정일자  629921 non-null  object
 21  클리닝비용      683151 non-null  object
 22  클리닝잔여보조금   536531 non-null  object
 23  클리닝보증기간구분  683101 non-null  object
 24  클리닝기록횟수경과  414181 non-null  object
 25  전매연농도      683115 non-null  object
 26  후매연농도      674499 non-null  object
 27  전배기압력      683121 non-null  object
 28  후배기압력      683128 non-null  object
 29  접수시        358038 non-null  object
 30  접수시도       355760 non-null  object
 31  협회신청YN     674444 non-null  object
 32  클리닝계획청구년월  442735 non-null  object
 33  클리닝특별사유사유  160299 non-null  object
 34  클리닝기타특별사유  10565 non-null   object
 35  클리닝경정대상YN  674399 non-null  object
 36  클리닝경정사유    127 non-null     object
 37  클리닝지급YN    628245 non-null  object
 38  제작사서류첨부YN  674449 non-null  object
 39  클리닝지급일자    628450 non-null  object
 40  클리닝사업년도    355 non-null     float64
 41  소유주명       674037 non-null  object
 42  연락처        674288 non-null  object
 43  정산년도       10586 non-null   object
 44  정산일자       10500 non-null   float64
 45  정산YN       10500 non-null   object
 46  정산기타       130 non-null     object
 47  비고         3 non-null       object
dtypes: float64(2), object(46)
memory usage: 253.4+ MB

In [11]:
df.tail()

,클리닝진행상태,클리닝기간구분,차량번호,차대번호,구조변경일자,현재차량등록번호,차명,용도,차종,주행거리,...,제작사서류첨부YN,클리닝지급일자,클리닝사업년도,소유주명,연락처,정산년도,정산일자,정산YN,정산기타,비고
692012,지급,특별,NaN,NaN,NaN,NaN,NaN,NaN,NaN,280602,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
692013,/BF-L00918,20180704,고정식,NaN,북항자동차정비검사소,NaN,20190201,150000,150000,보증기간내,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
692014,지급,정기,NaN,NaN,NaN,NaN,NaN,NaN,NaN,280602,...,Y,20180531,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
692015,지급,정기,NaN,NaN,NaN,NaN,NaN,NaN,NaN,180602,...,Y,20171024,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
692016,지급,정기,NaN,NaN,NaN,NaN,NaN,NaN,NaN,134254,...,Y,20210107,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
df2 = pd.read_excel('220819_클리닝현황내역.xlsx')
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 757545 entries, 0 to 757544
Data columns (total 48 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   클리닝진행상태    757461 non-null  object
 1   클리닝기간구분    601805 non-null  object
 2   차량번호       757425 non-null  object
 3   차대번호       748764 non-null  object
 4   구조변경일자     757409 non-null  object
 5   현재차량등록번호   63 non-null      object
 6   차명         757405 non-null  object
 7   용도         757381 non-null  object
 8   차종         754525 non-null  object
 9   주행거리       757396 non-null  object
 10  저감장치구분     751574 non-null  object
 11  저감장치종류     757337 non-null  object
 12  인증모델번호     757383 non-null  object
 13  장치일련번호     754389 non-null  object
 14  장치일련번호_전후  525660 non-null  object
 15  클리닝일자      743922 non-null  object
 16  클리닝종류      743839 non-null  object
 17  제작사코드      54393 non-null   object
 18  클리닝업체명     748625 non-null  object
 19  접수지자체코드    54106 non-null   object
 20  보조금지급확정일자  692601 non-null  object
 21  클리닝비용      748699 non-null  object
 22  클리닝잔여보조금   593550 non-null  object
 23  클리닝보증기간구분  748654 non-null  object
 24  클리닝기록횟수경과  478600 non-null  object
 25  전매연농도      748665 non-null  object
 26  후매연농도      740049 non-null  object
 27  전배기압력      748663 non-null  object
 28  후배기압력      748672 non-null  object
 29  접수시        468871 non-null  object
 30  접수시도       466299 non-null  object
 31  협회신청YN     740066 non-null  object
 32  클리닝계획청구년월  508323 non-null  object
 33  클리닝특별사유사유  177266 non-null  object
 34  클리닝기타특별사유  10565 non-null   object
 35  클리닝경정대상YN  739949 non-null  object
 36  클리닝경정사유    132 non-null     object
 37  클리닝지급YN    690918 non-null  object
 38  제작사서류첨부YN  739992 non-null  object
 39  클리닝지급일자    691123 non-null  object
 40  클리닝사업년도    354 non-null     float64
 41  소유주명       739581 non-null  object
 42  연락처        739820 non-null  object
 43  정산년도       10852 non-null   object
 44  정산일자       10767 non-null   float64
 45  정산YN       10767 non-null   object
 46  정산기타       130 non-null     object
 47  비고         3 non-null       object
dtypes: float64(2), object(46)
memory usage: 277.4+ MB

In [5]:
df.head()

,클리닝진행상태,클리닝기간구분,차량번호,차대번호,구조변경일자,현재차량등록번호,차명,용도,차종,주행거리,...,제작사서류첨부YN,클리닝지급일자,클리닝사업년도,소유주명,연락처,정산년도,정산일자,정산YN,정산기타,비고
0,지급,NaN,서울72더2071,KMJRL18SP4C002518,20041115,NaN,에어로버스,학교차량,대형승합,113669,...,Y,20160715,NaN,교육인적자원부(한국체육대학교),010-5330-2128,NaN,NaN,NaN,NaN,NaN
1,지급,NaN,서울72더2071,KMJRL18SP4C002518,20041115,NaN,에어로버스,학교차량,대형승합,110807,...,Y,20140826,NaN,교육인적자원부(한국체육대학교),010-5330-2128,NaN,NaN,NaN,NaN,NaN
2,지급,NaN,서울72거1699,KMJTG18BP1C002389,20041207,NaN,현대에어로시티540버스(터보),기타화물,대형승합,154807,...,Y,20140723,NaN,세기문화사,010-0000-0000,NaN,NaN,NaN,NaN,NaN
3,지급,NaN,경기72나9098,280224308491,20050113,NaN,신광치과진료차,기타승합,대형승합,122721,...,Y,20131230,NaN,경기도청,011-233-7893,NaN,NaN,NaN,NaN,NaN
4,지급,NaN,경기72나9098,280224308491,20050113,NaN,신광치과진료차,기타승합,대형승합,112315,...,Y,20121231,NaN,경기도청,011-233-7893,NaN,NaN,NaN,NaN,NaN

In [6]:
df2.head()

,클리닝진행상태,클리닝기간구분,차량번호,차대번호,구조변경일자,현재차량등록번호,차명,용도,차종,주행거리,...,제작사서류첨부YN,클리닝지급일자,클리닝사업년도,소유주명,연락처,정산년도,정산일자,정산YN,정산기타,비고
0,지급,NaN,서울72더2071,KMJRL18SP4C002518,20041115,NaN,에어로버스,학교차량,대형승합,113669,...,Y,20160715,NaN,교육인적자원부(한국체육대학교),010-5330-2128,NaN,NaN,NaN,NaN,NaN
1,지급,NaN,서울72더2071,KMJRL18SP4C002518,20041115,NaN,에어로버스,학교차량,대형승합,110807,...,Y,20140826,NaN,교육인적자원부(한국체육대학교),010-5330-2128,NaN,NaN,NaN,NaN,NaN
2,지급,NaN,서울72거1699,KMJTG18BP1C002389,20041207,NaN,현대에어로시티540버스(터보),기타화물,대형승합,154807,...,Y,20140723,NaN,세기문화사,010-0000-0000,NaN,NaN,NaN,NaN,NaN
3,지급,NaN,경기72나9098,280224308491,20050113,NaN,신광치과진료차,기타승합,대형승합,122721,...,Y,20131230,NaN,경기도청,011-233-7893,NaN,NaN,NaN,NaN,NaN
4,지급,NaN,경기72나9098,280224308491,20050113,NaN,신광치과진료차,기타승합,대형승합,112315,...,Y,20121231,NaN,경기도청,011-233-7893,NaN,NaN,NaN,NaN,NaN

In [7]:
total = pd.concat([df, df2], ignore_index=True)

In [21]:
total.shape

(1449562, 48)

In [ ]:
# total.groupby(list(total.columns)).groups

In [9]:
idx = [diff[0] for diff in total.groupby(list(total.columns)).groups.values() if len(diff) == 1]

In [10]:
# df는 index 692016 까지
# df2는 index 692017 부터

In [15]:
total.iloc[692012:692017]

,클리닝진행상태,클리닝기간구분,차량번호,차대번호,구조변경일자,현재차량등록번호,차명,용도,차종,주행거리,...,제작사서류첨부YN,클리닝지급일자,클리닝사업년도,소유주명,연락처,정산년도,정산일자,정산YN,정산기타,비고
692012,지급,특별,NaN,NaN,NaN,NaN,NaN,NaN,NaN,280602,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
692013,/BF-L00918,20180704,고정식,NaN,북항자동차정비검사소,NaN,20190201,150000,150000,보증기간내,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
692014,지급,정기,NaN,NaN,NaN,NaN,NaN,NaN,NaN,280602,...,Y,20180531,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
692015,지급,정기,NaN,NaN,NaN,NaN,NaN,NaN,NaN,180602,...,Y,20171024,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
692016,지급,정기,NaN,NaN,NaN,NaN,NaN,NaN,NaN,134254,...,Y,20210107,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [22]:
total.columns

Index(['클리닝진행상태', '클리닝기간구분', '차량번호', '차대번호', '구조변경일자', '현재차량등록번호', '차명', '용도',
       '차종', '주행거리', '저감장치구분', '저감장치종류', '인증모델번호', '장치일련번호', '장치일련번호_전후',
       '클리닝일자', '클리닝종류', '제작사코드', '클리닝업체명', '접수지자체코드', '보조금지급확정일자', '클리닝비용',
       '클리닝잔여보조금', '클리닝보증기간구분', '클리닝기록횟수경과', '전매연농도', '후매연농도', '전배기압력',
       '후배기압력', '접수시', '접수시도', '협회신청YN', '클리닝계획청구년월', '클리닝특별사유사유', '클리닝기타특별사유',
       '클리닝경정대상YN', '클리닝경정사유', '클리닝지급YN', '제작사서류첨부YN', '클리닝지급일자', '클리닝사업년도',
       '소유주명', '연락처', '정산년도', '정산일자', '정산YN', '정산기타', '비고'],
      dtype='object')

In [23]:
total[['저감장치구분', '저감장치종류', '인증모델번호', '장치일련번호', '장치일련번호_전후', '클리닝일자', '클리닝종류', '제작사코드', '클리닝업체명', '접수지자체코드']]

,저감장치구분,저감장치종류,인증모델번호,장치일련번호,장치일련번호_전후,클리닝일자,클리닝종류,제작사코드,클리닝업체명,접수지자체코드
0,1종,자연대형,4F1-MB-01,H3C005,NaN,20160408,이동식,NaN,동아진흥(화성),NaN
1,1종,자연대형,4F1-MB-01,H3C005,NaN,20140619,고정식,NaN,푸른하늘,NaN
2,1종,자연대형,4F1-MB-01,H3C008,NaN,20140502,고정식,NaN,명진공업사,NaN
3,1종,자연대형,4F1-SK-01,NaN,NaN,20131120,고정식,NaN,한국자동차대형검사소,NaN
4,1종,자연대형,4F1-SK-01,NaN,NaN,20121024,고정식,SK이노베이션(주),한국자동차대형검사소,경기 수원시청
...,...,...,...,...,...,...,...,...,...,...
1449557,NaN,NaN,NaN,NaN,BF-L00918,NaN,NaN,NaN,NaN,NaN
1449558,NaN,9.2,0.8,48,8,서울시,구로구,N,201808,배압상승
1449559,NaN,NaN,NaN,NaN,BF-L00918,20180404,고정식,NaN,(주)하나자동차공업사,NaN
1449560,NaN,NaN,NaN,NaN,NaN,20170728,고정식,NaN,북항자동차정비검사소,NaN
1449561,NaN,NaN,NaN,NaN,ILH6455,20200925,이동식,NaN,해성,NaN

In [16]:
len(idx)

264878

In [17]:
idx[0]

1207312

In [18]:
diff1 = [one for one in idx if one <= 692016]
diff2 = [one for one in idx if one > 692016]

In [20]:
len(diff1), len(diff2)

(99661, 165217)

In [19]:
total.reindex(diff1)

,클리닝진행상태,클리닝기간구분,차량번호,차대번호,구조변경일자,현재차량등록번호,차명,용도,차종,주행거리,...,제작사서류첨부YN,클리닝지급일자,클리닝사업년도,소유주명,연락처,정산년도,정산일자,정산YN,정산기타,비고
500142,1톤,장거리운행차량,소형화물,172401,1종,복합소형,CF1-CR-01,H191014-130,1191201-897/211001-0060,20220228,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
640684,1톤,장거리운행차량,소형화물,181802,1종,복합소형,CF1-CR-01,H190905-277,191201-727/210301-819,20210426,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
640686,1톤,장거리운행차량,소형화물,181802,1종,복합소형,CF1-CR-01,H190905-277,200101-594/200429-563,20200616,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
444757,1톤,장거리운행차량,소형화물,223703,1종,복합소형,CF1-CR-01,H190511-112,200801-767/211130-1921,20220227,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
500405,(LIBERO),단거리운행차량,중형화물,314397,1종,복합소형,BF1-ED-01,XO100428,EDA26071,20201014,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
170140,청구,NaN,인천86자5606,KMFPA18TP5C005706,20130522,NaN,뉴파워트럭,장거리운행차량,대형화물,452771,...,Y,NaN,NaN,도명특송(주),011-9775-6767,NaN,NaN,NaN,NaN,NaN
50409,청구,NaN,인천86자9342,KL3K7CRF16K000207,20090323,NaN,대우16톤단축카고트럭,장거리운행차량,대형화물,199466,...,Y,NaN,NaN,조일통상(주),010-9342-7099,NaN,NaN,NaN,NaN,NaN
192577,청구,NaN,인천95바2746,KN90JFMND5GB3C002,20131015,NaN,한국특장기술22.5톤트럭,장거리운행차량,대형화물,286330,...,Y,NaN,NaN,(주)삼진상사,010-5310-3357,NaN,NaN,NaN,NaN,NaN
386663,청구,NaN,전북82사1961,KMFDA18TP7C020629,20181119,NaN,뉴파워트럭,장거리운행차량,대형화물,980208,...,Y,NaN,NaN,(유)탑로지스물류,010-7578-8100,NaN,NaN,NaN,NaN,NaN
640091,NaN,정기,대구84아5425,KMFGA17AP2C175092,20200624,NaN,마이티Ⅱ슈퍼캡3.5톤(터보),단거리운행차량,중형화물,135859,...,N,NaN,NaN,(주)재성운수,010-7675-2424,NaN,NaN,NaN,NaN,NaN

In [31]:
total.columns

Index(['클리닝진행상태', '클리닝기간구분', '차량번호', '차대번호', '구조변경일자', '현재차량등록번호', '차명', '용도',
       '차종', '주행거리', '저감장치구분', '저감장치종류', '인증모델번호', '장치일련번호', '장치일련번호_전후',
       '클리닝일자', '클리닝종류', '제작사코드', '클리닝업체명', '접수지자체코드', '보조금지급확정일자', '클리닝비용',
       '클리닝잔여보조금', '클리닝보증기간구분', '클리닝기록횟수경과', '전매연농도', '후매연농도', '전배기압력',
       '후배기압력', '접수시', '접수시도', '협회신청YN', '클리닝계획청구년월', '클리닝특별사유사유', '클리닝기타특별사유',
       '클리닝경정대상YN', '클리닝경정사유', '클리닝지급YN', '제작사서류첨부YN', '클리닝지급일자', '클리닝사업년도',
       '소유주명', '연락처', '정산년도', '정산일자', '정산YN', '정산기타', '비고'],
      dtype='object')

In [33]:
total['클리닝진행상태'].unique()

array(['지급', '/H2M365', '/H2D019', ..., '(POTERII)', '-065', '/BF-L00918'],
      dtype=object)

In [36]:
temp = total['클리닝진행상태'].value_counts().to_frame()

In [38]:
temp

               클리닝진행상태
지급             1337005
신청               81288
청구               11658
승인                1865
미승인                 64
...                ...
/AE0528              2
/SF-1-0010829        2
/AI1827              2
/BN064               2
/HF-N0131            1

[7913 rows x 1 columns]

In [42]:
temp.iloc[5:]

               클리닝진행상태
 1톤                 19
(STAREX)            14
/                   14
(1%)                10
9                   10
...                ...
/AE0528              2
/SF-1-0010829        2
/AI1827              2
/BN064               2
/HF-N0131            1

[7908 rows x 1 columns]

In [43]:
temp.iloc[5:].sum()

클리닝진행상태    17485
dtype: int64

In [52]:
total[total['클리닝진행상태'] == '9'].index

Int64Index([ 179574,  213064,  346713,  373372,  386221,  873455,  907369,
            1043378, 1071084, 1084461],
           dtype='int64')

In [50]:
total.iloc[179572:179578, :20]

,클리닝진행상태,클리닝기간구분,차량번호,차대번호,구조변경일자,현재차량등록번호,차명,용도,차종,주행거리,저감장치구분,저감장치종류,인증모델번호,장치일련번호,장치일련번호_전후,클리닝일자,클리닝종류,제작사코드,클리닝업체명,접수지자체코드
179572,지급,NaN,서울83머4161,KMFWVH7HP3U527202,20130801,NaN,스타렉스6밴오토(STAREX VAN),기타화물,중형화물,207146,1종,복합소형,BF1-CE-01,SF-1-005560,SF-1-011569/SF-1-012487,20210803,고정식,NaN,크린S,NaN
179573,지급,NaN,서울83머4161,KMFWVH7HP3U527202,20130801,NaN,스타렉스6밴오토(STAREX VAN),기타화물,중형화물,183818,1종,복합소형,BF1-CE-01,SF-1-005560,SF-1-010985/SF-1-011569,NaN,NaN,NaN,NaN,NaN
179574,9,20181122,고정식,NaN,주식회사 크린어스,NaN,20190621,150000,NaN,보증기간경과,0,7.0,0.2,100,0,NaN,NaN,N,201812,NaN
179575,지급,특별,서울83머4161,KMFWVH7HP3U527202,20130801,NaN,스타렉스6밴오토(STAREX VAN),기타화물,중형화물,167516,1종,복합소형,BF1-CE-01,SF-1-005560,NaN,20160729,고정식,NaN,주식회사 엘앤케이,NaN
179576,지급,정기,서울83머4161,KMFWVH7HP3U527202,20130801,NaN,스타렉스6밴오토(STAREX VAN),기타화물,중형화물,158327,1종,복합소형,BF1-CE-01,SF-1-005560,NaN,20151021,고정식,NaN,주식회사 엘앤케이,NaN
179577,지급,NaN,76조1640,KMJWWH7HP4U617047,20130731,NaN,스타렉스(STAREX),기타승합,중형승합,225215,1종,복합소형,BF1-CE-01,SF-1-005559,NaN,20170209,고정식,NaN,주식회사 엘앤케이,NaN

In [53]:
total.shape

(1449562, 48)

## df2 오류값 인덱스 확인
- 220819_클리닝현황내역.xlsx

In [54]:
df2.columns

Index(['클리닝진행상태', '클리닝기간구분', '차량번호', '차대번호', '구조변경일자', '현재차량등록번호', '차명', '용도',
       '차종', '주행거리', '저감장치구분', '저감장치종류', '인증모델번호', '장치일련번호', '장치일련번호_전후',
       '클리닝일자', '클리닝종류', '제작사코드', '클리닝업체명', '접수지자체코드', '보조금지급확정일자', '클리닝비용',
       '클리닝잔여보조금', '클리닝보증기간구분', '클리닝기록횟수경과', '전매연농도', '후매연농도', '전배기압력',
       '후배기압력', '접수시', '접수시도', '협회신청YN', '클리닝계획청구년월', '클리닝특별사유사유', '클리닝기타특별사유',
       '클리닝경정대상YN', '클리닝경정사유', '클리닝지급YN', '제작사서류첨부YN', '클리닝지급일자', '클리닝사업년도',
       '소유주명', '연락처', '정산년도', '정산일자', '정산YN', '정산기타', '비고'],
      dtype='object')

### 1\. 클리닝진행상태

In [56]:
df2['클리닝진행상태'].value_counts()

지급               699842
신청                40030
청구                 8801
미승인                  32
 1톤                  10
                  ...
/SF-1-0010829         1
/AI1827               1
/BN064                1
/AE1546               1
/BF-L00918            1
Name: 클리닝진행상태, Length: 7912, dtype: int64

In [83]:
error1 = dict()
for one in tqdm(df2['클리닝진행상태'].value_counts().iloc[4:].index):
    temp = df2[df2['클리닝진행상태'] == one].index
    error1[one] = temp

100%|██████████| 7908/7908 [05:30<00:00, 23.91it/s]

### 2\. 클리닝기간구분

In [62]:
df2['클리닝기간구분'].value_counts()

정기                       363319
특별                       227762
기간산정                       1980
20180621                     65
20180620                     62
                          ...
20180205                      1
20190329                      1
20191102                      1
20191221                      1
191201-615/210621-398         1
Name: 클리닝기간구분, Length: 662, dtype: int64

In [63]:
df2['클리닝기간구분'].value_counts().iloc[3:]

20180621                 65
20180620                 62
20180601                 60
20180615                 59
20180529                 59
                         ..
20180205                  1
20190329                  1
20191102                  1
20191221                  1
191201-615/210621-398     1
Name: 클리닝기간구분, Length: 659, dtype: int64

In [84]:
error2 = dict()
for one in tqdm(df2['클리닝기간구분'].value_counts().iloc[3:].index):
    temp = df2[df2['클리닝기간구분'] == one].index
    error2[one] = temp

100%|██████████| 659/659 [00:24<00:00, 26.57it/s]

### 3\. 차량번호

In [64]:
df2['차량번호'].value_counts()

고정식          7828
이동식           838
서울87아9432      16
중형화물           15
서울88아2986      15
             ...
경기52러2477       1
02머3850         1
경북83아7024       1
09수8335         1
52서7113         1
Name: 차량번호, Length: 314631, dtype: int64

In [67]:
p3 = re.compile('[0-9]+')
uni3 = []
for one in df2['차량번호'].unique():
    try:
        if not p3.search(one):
            uni3.append(one)
    except:
        pass

In [68]:
uni3

['고정식', '이동식', '소형화물', '중형승용', '대형승용', '중형화물', '중형승합']

In [85]:
error3 = dict()
for one in tqdm(uni3):
    temp = df2[df2['차량번호'] == one].index
    error3[one] = temp

100%|██████████| 7/7 [00:00<00:00, 22.04it/s]

### 4\. 차대번호

In [69]:
df2['차대번호'].value_counts()

고정식                  16
KN96JCMSDXKB0U008    14
KMFLA19RPYC016851    14
KMFLA18AP5C007805    13
KN3LAP8Y22K018983    13
                     ..
KMJWWH7JP7U798125     1
KMHSD81VP4U666629     1
KNAJC52183A115585     1
KMHWP81HP2U411203     1
KMHSJ81WP7U160656     1
Name: 차대번호, Length: 316172, dtype: int64

In [70]:
p4 = re.compile('[0-9]+')
uni4 = []
for one in df2['차대번호'].unique():
    try:
        if not p4.search(one):
            uni4.append(one)
    except:
        pass

In [71]:
uni4

['고정식', '마이티', '포터Ⅱ슈퍼캡냉동탑차(PORTERⅡ)']

In [86]:
error4 = dict()
for one in tqdm(uni4):
    temp = df2[df2['차대번호'] == one].index
    error4[one] = temp

100%|██████████| 3/3 [00:00<00:00, 14.19it/s]

### 5\. 구조변경일자

In [72]:
df2['구조변경일자'].value_counts()

(주)서천제일자동차공업사    4135
20191127         1518
주식회사 크린어스        1502
20191126         1501
20191125         1495
                 ...
20110806            1
20110813            1
20111228            1
중앙자동차정비공업사          1
20220422            1
Name: 구조변경일자, Length: 4438, dtype: int64

In [75]:
p5 = re.compile('[가-힣]+')
uni5 = []
for one in df2['구조변경일자'].unique():
    try:
        if p5.search(one):
            uni5.append(one)
    except:
        pass

In [76]:
uni5

['(주)서천제일자동차공업사',
 '(주)창신종합중기정비',
 '명진자동차',
 '(주)동방정비',
 '북항자동차정비검사소',
 '포천자동차검사소',
 '예지엠에스주식회사',
 '주식회사 오토종합정비',
 '주식회사 크린어스',
 '일진ECO',
 '(주)서천제일자동차공업사-이동식',
 '주식회사 엘앤케이',
 '크린ECO',
 '(주)부산정비',
 '(주)하나자동차공업사',
 '중앙자동차정비공업사',
 '하나자동차공업사-이동식',
 '주식회사 에코닉스',
 '해성',
 '(주)이엔드디(공장)',
 '통일로카독크',
 '1종',
 '단거리운행차량']

In [87]:
error5 = dict()
for one in tqdm(uni5):
    temp = df2[df2['구조변경일자'] == one].index
    error5[one] = temp

100%|██████████| 23/23 [00:00<00:00, 23.12it/s]

### 6\. 현재차량등록번호

In [77]:
df2['현재차량등록번호'].value_counts()

복합소형         42
세라컴(본사공장)    16
중형화물          5
Name: 현재차량등록번호, dtype: int64

In [112]:
df2['현재차량등록번호'].value_counts().index

Index(['복합소형', '세라컴(본사공장)', '중형화물'], dtype='object')

In [81]:
df2['현재차량등록번호'].unique()

array([nan, '세라컴(본사공장)', '복합소형', '중형화물'], dtype=object)

In [111]:
error6 = dict()
for one in tqdm(df2['현재차량등록번호'].value_counts().index):
    temp = df2[df2['현재차량등록번호'] == one].index
    error6[one] = temp

100%|██████████| 3/3 [00:00<00:00, 61.34it/s]

### 7\. 차명(제외)

In [78]:
df2['차명'].value_counts()

싼타페(SANTAFE)    71914
포터Ⅱ(PORTERⅡ)    69185
스타렉스(STAREX)    56205
쏘렌토 GLS         26144
스포티지            22870
                ...
콤비이동봉사차             1
현대에어로퀸버스            1
포터                  1
스타렉스어린이보호차          1
현대5톤덤프청소차           1
Name: 차명, Length: 2764, dtype: int64

In [80]:
for one in df2['차명'].unique():
    print(one)

에어로버스
현대에어로시티540버스(터보)
신광치과진료차
대우고속버스
대우버스
광림대형암롤트럭
한특11.5톤암롤트럭
대우11톤암롤트럭
신성대형암롤트럭
현대5톤트럭-단축
복사덤프카
라이노5톤
현대3.5톤카고트럭
쌍용트랙타
현대3.5톤트럭
현대5톤트럭-장축
마이티II3.5톤(터보)
그랜버드
에어로익스프레스HSX터보
현대뉴에어로고속버스(E)터보
대우14톤장축카고트럭
현대22톤초장축카고트럭(터보)
현대5톤초장축카고트럭
라이노보냉탑차
현대5톤초장축카고트럭(터보)
현대5톤단축카고트럭(터보)
현대4.5톤초장축카고트럭
현대19톤초장축카고트럭(터보)
현대5톤장축카고트럭
현대5톤장축카고트럭(터보)
스카니아트랙터
현대트랙터(터보)
현대11.5톤장축카고트럭(터보)
대우21톤카고트럭
현대슈퍼트럭
현대19.5톤단축카고트럭
대우16톤표준카고트럭
대우8톤장축카고트럭
현대9.5톤초장축저상카고트럭
현대5톤트럭
현대9.5톤초장축카고트럭(터보)
20190624
대우11.5톤카고트럭
한국토미22.5톤카고트럭
현대14톤장축카고트럭(터보)
현대4.5톤초장축카고트럭(터보)
현대4.5톤장축카고트럭(터보)
대우8톤초장축카고트럭
현대9.5톤저상카고트럭(터보)
현대4.5톤트럭
석영사료운반차
에어로스페이스LS터보
현대6KL탱크로리
BH115E
라이노4.5톤
대지20KL탱크로리
현대8톤초장축카고트럭
현대트랙터
한국쓰리축콘테이너트럭
현대25톤초장축카고트럭(터보)
현대16톤단축카고트럭(터보)
한차차량수송트럭
현대11.5톤장축    카고트럭(터보)
20200703
현대20톤카고트럭(터보)
현대16톤중축카고트럭(터보)
현대9.5톤저상카고트럭
현대19.5톤단축카고트럭(터보)
대우22.5톤카고트럭
대양20000L버큠로리
대양11.5톤암롤트럭
현대암롤트럭(터보)
현대20.5톤단축카고트럭(터보)
현대8.5톤장축카고트럭(터보)
현대9.5톤카고트럭
한차차량운송풀트랙터
현대5톤트럭-초장축
BH116
대우트랙터
그랜버드(GRANBIRD)
대우16톤카고트럭
다임19KL액화질소탱크로리
현대5톤장축         카고트럭
현대5톤장축        카고트럭(터보)
현대20.5톤초단축카고(터보)
라이노4톤
원천20000L경질유탱크로리
현대5톤트럭초장축
현대5톤트럭장축
한차5톤차량운송트럭
현대중형암롤트럭
대우20톤카고트럭
현대20.5톤초단축카고트럭(터보)
라이노초장축냉동탑차
대우25톤카고트럭
현대8톤장축카고트럭(터보)
현대8톤초장축카고트럭(터보)
현대4.5톤장축     카고트럭
대우8.5톤카고트럭
삼오8KL중징류탱크로리
원천20000l경질유탱크로리
라이노냉동탑차
현대4.5톤덤프트럭
현대11.5톤장축카고트럭
현대4.5톤트럭장축
대우중형버스
20180911
현대4.5톤장축카고트럭
아시아차량운반차
그랜토차량운반차
현대4.5톤
현대4.5톤덤프트럭(터보)
현대냉동차(터보)
현대4.5톤초장축  카고트럭(터보)
현대4.5톤장축     카고트럭(터보)
현대4.5톤트럭-초장축
현대에어로고속버스(ET)
현대뉴에어로고속버스
대양7500버큠로리
BS106
현대11.5톤윙바디
대양6KL탱크로리
그랜버드
BH119
코스모스
에어로타운터보
AM518암롤
대우11.5톤카고트럭
현대8m^3압축진개차
BH117
대우14.5KL바큠탱크로리
뉴 파워트럭
현대트랙터
한국쓰리축콘테이너트럭
삼오20KL탱크로리
삼오20KL유조차
대우8.5톤단축카고트럭
현대압축진개차(터보)
현대5톤진개덤프(터보)
라이노압착식진개차
라이노진개덤프
현대5토？럭-단축
현대윙바디(터보)
삼오20㎘탱크로리
에어로스페이스   LS터보
대형화물
대우8.5톤표준카고트럭
BH120
한익스20KL STEEL 탱크로리
현대압착진개차
정우32KL경질유탱크로리
현재8.5톤장축     카고트럭(터보)
대우19.5톤카고트럭
현대5톤단축카고트럭
현대20KLAL탱크로리(터보)
대우20KL경징유탱크로리
정우20KL경질유 탱크로리
NEW-코스모스
대우20KL경질유탱크로리
수산굴절식활선작업차
대우11.5톤 카고트럭
정우20KL경질유탱크로리
현대뉴에어로고속버스(E,터보)
다임20㎘경질유탱크로리
동양20KL경질유탱크로리
삼오20KL유조차
대우8.5톤단축카고트럭
대우11.5톤         카고트럭
중부20KL유조차
한익스20KLSTEEL탱크로리
에어로스페이스LD터보
쌍용20KLAL유류탱크로리
5톤카고트럭
라이노바큠카
덕산20㎘경질유탱크로리
현대5KL버큠로리
동양20㎘탱크로리
중부20KL경질유탱크로리
대우어린이버스
삼오10㎘탱크로리
베스텍20톤곡물수송차
현대15톤암롤트럭(터보)
현대19톤초장축      카고트럭(터보)
삼오8KL유조차
다임23㎥원당탱크로리
현대25톤초장축
두성19톤벌크트럭
한특사료운반트럭
현대4.5톤단축카고트럭(터보)
덕산탱크로리
정우8.7KL버큠로리
대우11톤카고트럭
BM090
쌍용진공식노면청소차
부커셰링노면청소차
창조기내식운반차
수산기내식운반차
에어로타운
현대5톤급수차(터보)
대우20.5톤카고트럭
정우15.5KL버큠로리
덕산20KL경질유탱크로리
아시아리어엔진버스
기아리어엔진버스
한정이동발전차
한특암롤트럭
원천8000L경질유탱크로리
덕산10KL경질유탱크로리
광림8.5톤살수차
신광이동발전차
걸링방송중계차
에어로타운(터보)
슈퍼에어로시티
고소작업자동차
금양방송중계차
정우7.5KL버큠로리
삼오20KL유조차
라이노유류탱크로리
대지7.5KL버큠로리
현대11.5톤카고트럭
덕산바큠카
경특음식쓰레기교반차
블루버드스쿨버스
현대14KL버큠로리(터보)
현대8톤장축카고트럭
현대11.5톤암롤트럭(터보)
미래이동은행차
라이노 5.5톤 덤프트럭
가나항공기급유차
신광 방송중계차
볼보4X2카케리어
현대에어로시티 540버스(터보)
현대4.5톤트럭-장축
한빛압축식음식물쓰레기수거차
한정차량운반차
11톤압축진개차
현대어린이운송버스(터보)
현대5톤초장축     카고트럭(터보)
대양15KL버큠로리
현대13톤카고트럭
현대5톤초장축    카고트럭(터보)
현대8.5톤단축카고트럭(터보)
현대16톤단축카고트럭(터보)
대우22KL경질유탱크로리
현대8KL버큠로리
아시아11톤카고트럭
현대9세제곱미터               압축진개차
광림절연고소작업차
현대5톤덤프트럭(터보)
현대냉동차
광림고압살수차
광림살수차
현대뉴에어로고속버스(E)
세원고압살수차
도원32㎘경질유탱크로리
현대4.5톤트럭초장축
현대11.5톤윙바디(터보)
에스아이6500물탱크소방차
선진물탱크소방펌프차
현대4.5톤카고트럭-장축
대우19톤카고트럭
남영물탱크소방펌프자동차
그랜토8.5톤카고트럭
라이노4.5톤일반덤프
라이노내장탑차
마이티장축
신광이동광고차
현대덤프트랙터(터보)
현대8.5톤장축카고트럭
한특21㎥압축진개차
현대16톤초장축카고트럭(터보)
대우11.5톤윙바디트럭
20190621
라이노암롤
중부20KL탱크로리
현대이삿짐운반차
수산무정전변압기차
현대4톤트럭장축
한국토미24톤멀티카고
현대3톤렉카트럭
광림크레인트럭
현대렉커트럭(터보)
현대뉴에어로고속버스(터보)
라이노광폭냉동탑차
한빛음식물쓰레기수거차
라이노 압착식진개차
현대측면투입진개수송차
현대차량수송트랙터
대우13톤냉동트럭
대우25톤카고트럭
현대트랙터(터보)
대우14톤장축카고트럭
현대트랙터
수성10000L탱크로리
원천6000L중질유탱크로리
볼보6X2트랙터
FM12 6X2 트랙터
현대8KL탱크로리(터보)
라이노5톤진개차
라이노 유류탱크로리
현대10KL탱크로리(3격실)
대우8톤카고트럭
4.5톤카고트럭
미래카캐리어
라이노승용차운반차
현대9.5톤저상트럭
라이노 광폭냉동탑차
라이노5.5톤덤프트럭
현대5톤덤프트럭
중부8KL유조차
대우13톤카고트럭
현대광폭냉동차
아시아나기내식운반차
도원32KL경질유탱크로리
현대에어로시티540버스
현대5톤초장축카고트럭
현대8톤덤프트럭
대지10KL탱크로리H
현대10톤풀카고트럭(터보)
우리소방펌프자동차
한빛살수차
현대8.5톤카고트럭
현대8TON카고트럭 장축
메가트럭
마이티
마이티로우데크
현대12톤단축카고트럭
광림측면투입진개수송차
현대8톤단축카고트럭
마이티2.5톤덤프
BH090
뉴파워트럭
한빛음식물수거차
뉴에어로
현대콘테이너운반트럭
현대4.5톤카고트럭
마이티Ⅱ3.5톤(터보)
라이노5톤일반덤프
현대마이티세이프티로다
아시아바큠카
라이노롤온
호룡스카이320고소작업차
현대4.5톤단축카고트럭
라이노 일반덤프
현대4.5톤카고트럭-초장축
20191028
현대윙바디트럭
라이노압축식진개차
20200521
한특재활용쓰레기수거차
라이노 압축식진개차
20181228
현대8톤극초장축카고트럭(터보)
현대4.5톤트럭-단축
20200721
현대5톤렉커트럭
암롤트럭
라이노크레인카고
현대5톤내장차
현대내장차(터보)
한특17.5톤곡물운반트럭
수성5톤 단축렉커
대우11.5톤장축카고트럭
쌍용유류탱크로리
현대11톤카고트럭
트레이드홈로리
현대8KL버큠로리(터보)
한국토미24톤 카고트럭
삼오10KL유조차
뉴 파워트럭
수성5톤슈퍼렉커
광림이동용변압기차
수성중형차량운반트럭
대우16KL중질유탱크로리
라이노렉카
라이노랙카
수성5톤렉커트럭
20191004
아시아암롤
한특8㎥압축진개차
베링8KL유조차
현대18톤초장축카고트럭
다임10t LPG벌크로리
하드텍13㎥사료운반트럭
대우11.5톤단축카고트럭
현대15톤카고트럭
쌍용18톤카고트럭
삼성14톤카고트럭
현대14톤장축카고트럭
현대22KL탱크로리
아시아5톤렉카
쌍용11.5톤카고트럭
쌍용17.5톤카고트럭
삼성11.5톤카고트럭
현대16톤카고트럭
쌍용멀티카고트럭
삼성16톤카고트럭
하드텍사료운반트럭
현대16톤단축카고트럭
대우18톤카고트럭
현대6.2KL버큠로리(터보)
현대 11톤 카고트럭
현대에어로시티520버스
대우24톤카고트럭
현대25톤초장축카고트럭
라이노초장축내장탑차
광림대형렉커
에어로퀸터보
현대25톤카고트럭
쌍용19톤단축카고트럭
현대16KL탱크로리
삼오8㎘탱크로리
현대20KLAL탱크로리
쌍용20톤카고트럭
쌍용관광버스
BS090
쌍용25톤카고트럭
삼성20KL경질유탱크로리
쌍용20klAL유류탱크로리
그랜토20KL유류탱크로리
현대BCT트랙타
현대18KL탱크로리
대우31KL경질유탱크로리
그랜토암롤트럭
그랜토윙바디
현대트랙타
현대11.5톤슬라이딩암롤트럭
아시아유류탱크로리
삼성11.5톤윙바디트럭
현대8.5톤중축카고트럭
승용차운송트럭
현대21KL탱크로리
대우15톤LPG탱크로리
그랜토11.5톤카고트럭
하드텍14㎥사료운반트럭
동양윤활유탱크로리
라이노 광폭내장탑차
삼오윤활유탱크로리
현대활어운반차(터보)
한국토미23톤 카고트럭
20200225
현대8.5톤단축카고트럭
현대압착진개차(터보)
대우어린이운송용버스
현정15M급절연고소작업차
광림압축진개차
중형화물
현대8TON카고트럭장축
라이노 크레인카고
FM12 6X2트랙터
이-카운티
현대8톤카고트럭초장축
대우11톤장축카고트럭
현대콘테이너 운반트럭
한국특장기술24톤트럭
동양8KL탱크로리
동아트랙터
그랜토7.5톤암롤
현대10톤풀카고트럭
그랜토LPG탱크로리
소맥분탱크로리
건양이동은행차
아시아암롤트럭
현대차량수송트럭
하드텍14.6㎥사료운반트럭
현대대형암롤트럭
현대11톤 카고트럭
현대11톤곡물운반차
아시아트랙터
볼보6X2트랙터
이-에어로타운
뉴슈퍼에어로시티
그랜토멀티카고트럭
Actros
현대39T-M트랙터
대우24톤단축카고트럭
다목적굴절소방차
대지21.6㎘버큠로리
쌍용트랙터
대우21톤단축카고트럭
현대트렉타
그랜토24톤카고트럭
현대15톤LPG탱크로리(터보)
삼성트랙터
KST4.5톤카고트럭
현대차량수송트럭(터보)
알텍23톤냉동트럭
현대15톤LPG탱크로리
볼보트랙터
그랜토바큠카
한특20M^3압축진개차
현대11톤암롤트럭
라이노 렉카
대우15톤암롤트럭
수산렉카크레인
현대11.5톤암롤트럭
대우트랙터640
원천10000L경질유탱크로리
강남사료운반차
FH12 6X2트랙터
다임20㎘경질유 탱크로리
광림대형폐기물압축차
대우15.5톤장축카고트럭
현대16KL 탱크로리
아시아16톤카고트럭
8x4윙바디
그랜토냉동탑차
쌍용18.5m^3벌크시멘트트럭
현대8.5톤암롤트럭
진일이동광고차
아시아LPG탱크로리
아시아멀티카고트럭
현대10톤풀카고
라이노사료운반차
다임32KL경질유탱크로리
현대16KL중질유탱크로리
그랜토20톤멀티카고트럭
현대15톤암롤트럭
아시아11톤냉동탑차
5톤크레인카고
그랜토13톤카고트럭
현대내장차
대한이동검진차
대지 24KL탱크로리
현대이동헌혈버스
한특8.5톤암롤트럭
라이노 4.5톤일반덤프
한국토미11.5톤저진동윙바디
현대11톤윙바디트럭
스카니아 트랙터
그랜토19톤카고트럭
그랜토트랙터
현대19톤초장축카고트럭
현대11톤 콘테이너운반트럭
대우12톤카고트럭
라이노 암롤
NEW-코스모스도서관차
그랜토27KL유류탱크로리
차량수송트럭
수산음식물수거차
NEW-코스모스 도서관차
현대11톤냉동차
대우노면청소차
대우16KL유류탱크로리
광림노면청소차
쌍용11.5톤암롤트럭
대우풀카고트럭
현대8톤특초장축카고트럭
대양8㎥압축식진개차
현대4.5톤장축카고(터보)
현대5톤트럭(장축)
현대롤온트럭
대우20KL중질유탱크로리
스카니아트렉터
수산직진식활선차
대우트랙터420
현대4.5톤트럭 장축
정우6.2KL버큠로리
삼성11톤암롤트럭
현대5톤진개덤프
현대15톤덤프트럭
대우25톤장축카고트럭
대우11톤콘테이너운반트럭
BX212
코스모스장의차
다임32㎘경질유탱크로리
현대윙바디
한특8.2㎥압축진개차
그랜버드(GRANB
현대 카고트럭
메디벤이동검진차
현대5톤장축카고트럭(터보) 522700
현대트렉터
수산중형레카
아시아트랙타
현대버큠로리(터보)
라이노신압착식진개차
한빛다목적사이드압축차
5톤장축냉동탑차
5톤카고
현대 에어로스페이스 계열
대우10KL유류탱크로리
4톤초장축냉동차
통진11톤냉장윙바디
기아 (NEW)코스모스
도원7.5KL버큠로리
기아 라이노
현대5톤트럭-초
세원음식물수거차
현대암롤트럭
라이노 신압착신진개차
현대5톤단축카고트럭(터보) 169990
화물차일반형중형
프런티어
라이노6500L바큠카
세종5톤암롤
라이노광폭내장탑차
한특13톤암롤트럭
라이노4.5톤일반트럭
신흥16톤경질유탱크로리
현대에어로600버스
그랜드멀티카고트럭
현대8KL탱크로리
중부5KL분뇨차
수성5톤단축렉커
현대14KL버큠로리
아시아콘테이너운반트럭
그레이스
봉고프런티어
쌍용트렉타
대우27KL경질유탱크로리
스카니아25톤카고트럭
대우115톤트럭
현대8톤카고트럭장축
대우11톤냉동트럭
대지6KL탱크로리
한원25.6㎥암롤트럭
수산활선보수차
현대10톤셀프로다
스카니아17톤LPG탱크로리
현대45톤트럭
스카니아25톤10X4카고트럭
영부환경(주)
식품공급차
스카니아31KL경질유탱크로리
기정라이노바큠카
그랜버드(GRANDBIRD)
신성교통(주)
아시아20KL유류탱크로리
신성20㎥압축진개차
수산중형셀프로다크레인
에어로익스프레스IISX터보
대지버큠로리
스카니아 카고트럭
라이노내장탑자
대우헌금수송차
수산플라스틱분쇄차
광림산림용크레인트럭
현대보냉차
마이티Ⅱ슈퍼캡(터보)
그랜토18KL유류탱크로리
대웅23.5m^3벌크시멘트트럭
쌍용고속관광버스
와이드복사내장탑차
라이노 6500L 바큠카
광림내장탑차
마이티냉동차
한국토미24톤카고트럭
대우11톤곡물운반트럭
마이티로우데크내장탑차
현대에어로고속버스(E)
마이티로우덱크
점보타이탄2톤10척
마이티렉커
쌍용고속버스
현대5톤렉카트럭
25톤초장축카고
현대카고트럭
FM12 6x2트랙타
중형펌프소방차
현대글로벌900(터보)
라이노4.5톤덤프
유니목1200
아시아렉카
현대8톤윙바디
현대14KL 버큠로리
현대4.5톤초장축카고트럭터보)
아시아고속버스
수산케이블드럼차
현대5톤트럭-초장축,화물차일반형대형
현대9세제곱미터압축진개차
현대18톤단축카고트럭
프런티어2.5톤 덤프
마이티Ⅱ(터보)
수산직진식활선작업차
마이티II저상슈퍼캡(터보)
카운티
복사4500L바큠카
점보타이탄2.5톤14척
삼오8KL탱크로리
이가도로구조물보수차
파맥스(터보)
마이티Ⅱ슈퍼캡3.5톤(터보)
현대톤초장축카고트럭(터보)
아시아8.5톤카고트럭
이-마이티
20190619
트레이드
마이티냉동탑차
현대4m^3도로청소차
바이패스케이블차
현대5톤트럭-내장탑차
마이티II(터보)
수산무정전케이블차
현대마이티이동주유차
복사유류탱크로리
20190103
대우8톤청소차
현대마이티덤프트럭
트레이드렉카
현대마이티(장축)더블캡
4톤카고트럭
점보타이탄2.5톤덤프
와이드복사4톤
마이티II슈퍼캡
점보타이탄3000L홈로리
트레이드와이드로우
프런티어2.5톤 진개덤프
마이티Ⅱ이동주유차(N)(터보)
복사바큠카
설봉24톤벌크시멘트트럭
살수차
트레이드일반덤프
절연고소작업차
광운압착진개차
점보타이탄2.5톤진개덤프
점보타이탄2.5톤10척
트레이드유류탱크로리
수산5톤렉카크레인
점보타이탄압착식진개차
대우16KL경유탱크로리
프런티어압착식진개차
마이티렉커트럭
점보타이탄2500L바큠카
점보타이탄2.5톤더블캡
수산활선작업차
마이티4KL버큠로리
파맥스 저상 슈퍼캡(터보)
대우8톤단축카고트럭
마이티II슈퍼캡(터보)
수산굴절크레인트럭
마이티단축
20190212
콤비
파맥스저상(터보)
정우6.8KL버큠로리
프런티어2.5톤
금강대형압축진개차
현대 5톤트럭-장축
점보타이탄3000L탱크로리
점보타이탄2톤와이드로우
현대5KL버큠로리(터보)
마이티Ⅱ저상슈퍼캡(터보)
현정10m급절연고소작업차
복사일반덤프
점보타이탄2톤14척
미래이동헌혈차
마이티3KL탱크로리
한정전파측정차
마이티내장탑차
코러스
트레이드압착식진개차
콤비어린이운송차
광림직접이적식압축진개차
와이드복사일반덤프
복사진개덤프
유니목1650
콤비이동봉사차
현대에어로퀸버스
파맥스 슈퍼캡3.5톤(터보)
쌍용15.5톤암롤트럭
미드라이너차선작업차
가나비상급수차
마이티로우데크?
라이노 신압착식진개차
5톤장축보냉탑차
현대마이티장축
카운티(터보)
파워콤비
마이티진개덤프(N)(터보)
트레이드내장탑차
마이티II4KL버큠로리(터보)
파맥스 3.5톤(터보)
그랜토7.5톤바큠카
프런티어 진개덤프
광림10M절연고소작업차
성보압축진개차
라이노 바큠카
그랜토암롤
한정이동전파측정차
복사17
아시아11톤카고
트레이드냉동탑차
미쓰비시액화질소탱크로리
마이티Ⅱ4KL버큠로리(터보)
대로차선도색차
마이티Ⅱ압착진개차(N)(터보)
광림5.5M^3압축진개차
20200210
코스모스범죄호송차
현대3톤내장탑차
카운티어린이운송버스(터보)
마이티Ⅱ3.4톤(터보)
호성음식물쓰레기수거차
한원압축진개차
광림고소작업차
정우8KL M.E.K 탱크로리
광림5.5M3오일통수거차
한국특장기술5톤트럭
동양고가사다리차
광림바이패스케이블차
점보타이탄쓰리웨이덤프
대양압착식진개차
트레이드진개덤프
신정6㎥진공노면청소차
신정6㎥급진공노면청소차
프런티어2.5톤저상
현대8세제곱미터압축진개차
현대도로청소차
현대12.5톤카고트럭
대우14톤윙바디트럭
마이티큐티
현대6.6톤암롤트럭
카운티어린이운송버스
그랜토9KL유류탱크로리
창정고소작업차
마이티보냉차
마이티Ⅱ2.5톤덤프(N)(터보)
신흥20KL경질유탱크로리
한국특장기술5톤냉동탑차
현대마이티렉카트럭
점보타이탄2톤덤프
쌍용수조부소방자동차
수산굴절식크레인트럭
현대4KL버큠로리
트레이드바큠카
신정6M^3도로청소차
복사진개덤프카
마이티Ⅱ저상(터보)
프런티어 2.5톤암롤
한국특장기술4.5톤트럭
점보타이탄2.5톤암롤
라이노5톤덤프트럭
수성대형카캐리어
조명소방차
마이티Ⅱ단축(터보)
베스텍7500버큠로리
현대음식물쓰레기수거차(터보)
광림관절식크레인트럭
한국특장기술20.5톤트럭
마이티II2.5톤덤프(터보)
코스모스어린이운송차
정우5KL버큠로리
수산살수차
베링20KL탱크로리
현대중형렉커트럭
골드밴냉동윙바디
한특15톤암롤트럭
신성16톤암롤트럭
가로등보수차
한정이동홍보차
광림고하중고소작업차
가나6KL항공기급유차
라이노 진개덤프
한성2000L다목적방제차
수산가지지변압기차
현대5톤급수차
현대압축식음식물쓰레기수거차
한체차량운반차
수산식품공급차
광림중형크레인트럭
이삿짐운반차
강남카고트럭
한특8m^3압축진개차
마이티2.5톤덤프(N)(터보)
삼일중형펌프소방차
미창차선도색차
아시아8톤카고트럭
마이티II3.5톤덤프(터보)
신흥20K경질유탱크로리
두성5.4톤사료운반트럭
현대탱크로리(터보)
설봉11.5톤암롤트럭
마이티Ⅱ단축3.5톤(터보)
아시아병력수송차
기아위생차
아시아식당차
아시아경력수송차
기아병력수송차
케이엔티티차량수송트럭
마이티Ⅱ압축진개차(터보)
메디벤치과차
베링고압세정차
콤비범죄호송차
마이티Ⅱ2톤저상(N)(터보)
파워콤비범죄호송차
터널점검용고소작업차
창정살수차
설봉16톤암롤트럭
대우19톤덤프트럭
파워콤비어린이운송차
신흥8000L항공유탱크로리
기아여경위생차
광림크레인트력
현대4.5톤경찰물자수송트럭
아시아위생차
마이티Ⅱ진개덤프(N)(터보)
글로벌900
마이티Ⅱ냉동차(터보)
마이티Ⅱ암롤트럭(N)(터보)
수산고소작업차
한국메리트4.5톤트럭
현대3.5톤렉카트럭
한국토미11.5톤윙바디
트레이드3000L홈로리
호룡스카이370고소작업차
신정4㎥진공노면청소차
현대540현장지휘버스
라이노 광폭보냉탑차
삼일구조공작차
대한통운22.5카고트럭
파맥스슈퍼캡(터보)
마이티Ⅱ3.5톤덤프(터보)
현대단축버스(터보)
세인고소작업차
콤비특수구급차
콤비9인승밴
에스아이12.5KL살수차
현대4.6m^3압착진개차
미래이동검진차
라이노신압착식청소차
아시아장애자차
20190722
마이티Ⅱ2.5톤덤프(터보)
대우22.5톤초장축카고트럭
한국쓰리축4.5톤극윙바디트럭
베스텍버큠로리
대지 4.5KL 분뇨차
그랜토25톤멀티카고트럭
대양살수차
노면청소차
현대11톤중축저상트럭
콤비6인승밴
우리화학소방펌프자동차
그랜토6톤압축식진개차
수산중형렉카
콤비이동지휘자차
소형암롤트럭
광림5톤크레인트럭
에스아이중형펌프소방차
에스아이조연차
한북펌프소방차
이텍다목적카고트럭
트레이드보냉탑차
스타코중형펌프소방차
덕산3KL홈로리
마이티렉카
수산무정전케이블드럼차
터치모빌이동극장차
유니목 1450
한성2000L다목적방제차량
대양5000버큠로리
코스만분리식내장탑차
현대3.5톤경찰물자수송트럭
상전절연고소작업차
광림절연가로등보수차
마이티II렉커트럭(터보)
수산저압보수차
현댄뉴에어로고속버스
카운티장애인차
한국쓰리축24톤타타콘테이너
신광수인호송차
복사17척크레인카고
마이티이동주유차(터보)
부커쉐링노면청소차
에스아이물탱크소방펌프차
한원20㎥압축진개차
와이드복사크레인카고
수산하이리프트트럭
삼오4KL중질유탱크로리
수성중형카고크레인
스타렉스(STAREX)
스타렉스6밴(STAREX VAN)
신광위성방송중계차
다임24KL경질유탱크로리
대우16톤단축카고트럭
기아파맥스압착식진개차
유니목 400
파워콤비이동도서관차
신정4㎥급 진공노면청소차
후소대형암롤트럭
세종7.42KL우지용보온탱크
스타렉스인터쿨러단축9인오토
스타렉스터보9인오토
현대보냉차(터보)
정우9KL항공유탱크로리
스타렉스장축9인
대우10KL경질류탱크로리
현정교량점검차
스타렉스9인오토(STAREX)
스타렉스인터쿨러단축9인
마이티Ⅱ2톤(N)(터보)
성보대형암롤트럭
히아브하나절연고소작업차
평화 탱크로리
금양이동광고차
현대5KL탱크로리
광림 가로등보수차
호룡고소작업차
스타렉스냉동차오토(STAREX)
KST4.5톤냉동탑차
대형물탱크소방펌프자동차
에스아이펌프소방차
쌍용 살수차
스타렉스장축9인오토
뉴테크살수차
한북대형펌프소방차
창조직진식활선고소작업차
대한통운16.5톤 카고트럭
유니목1450
스타렉스장축6밴
복사압착식진개차
포터Ⅱ
현대11.5톤 윙바디(터보)
중부2.8KL살수차
마이티진개덤프(N)
에스아이조연소방차
마이티Ⅱ냉동차(N)(터보)
현대3.5톤냉동탑차
현대신압착진개차(터보)
대우8톤덤프트럭
대우곡물수송차
이텍4륜다목적카고트럭
복사3톤레카
기아 파맥스 2.5톤 덤프
한국쓰리축24톤콘테이너트럭
마이티버큠로리(터보)
현대초장축윙바디(터보)
대우8.5톤장축카고트럭
한국토미23.5톤카고트럭
후소4.7㎥암롤청소차
금강4.8㎥암롤
에스아이구조공작차
파워콤비 어린이운송차
대우10.5톤덤프트럭
현대글로벌900
수성중형렉커트럭
콤비3인승밴
한빛음실물용기세척차
대우버스 BS106
기아 라이노5톤
현대4.5톤초장축 카고트럭(터보)
현대8톤특초장축 카고트럭
수산고압살수차
신성2.5톤암롤트럭
현대에어로익스프레스
한국특장기술12톤윙바디트럭
마이티2.5톤덤프(N)
대우18KL경질유탱크로리
한국토미14톤카고트럭
대지7㎘고압살수차
현대9KL탱크로리(3격실)
KST5톤냉동탑차
한빛사이드압축차
아시아8톤바큠카
정우3KL버큠로리
덕산분뇨차
마이티Ⅱ진개덤프(터보)
맥써버폭발물처리차
골드밴3축냉동탑차
남영화학소방펌프자동차
마이티2.5톤덤프(터보)
프런티어 덤프
한국특장기술11.5톤트럭
한국쓰리축11.5톤저진동윙바디
한빛 음식물용기세척차
마이티내장차(터보)
탑큐브이동극장차
프런티어 홈로리
대한대형암롤트럭
에이엠압착식진개차
신광이동목욕차
성보14M고소작업차
부영뉴 3000ℓ 홈로리
하나38m급이삿짐사다리차
세원소방구조공작차
아시아헌혈차
카운티구급차(터보)
마이티Ⅱ단축(N)
대우11.5톤암롤트럭
마이티II2톤(N)
부성음식물쓰레기수거차
마이티Ⅱ저상슈퍼캡
중부20㎘탱크로리
우리구조공작차
2.85톤압축진개차
점보타이탄고가사다리차
마이티II저상
고가사다리차
마이티Ⅱ더블캡(터보)
프런티어2.5톤진개덤프
한일절연고소작업차
마이티II
성보4KL경질류운반차
마이티Ⅱ슈퍼캡
트레이드저상내장탑차
현대마이티로우덱크
중부폐수운반차
현대8.5톤중축카고트럭(터보)
뉴 파워트럭 풀카고
현대마이티덤프청소차
라이노 랙카
반도렉커트럭
쌍용혼재화학소방자동차
마이티II저상슈퍼캡
대우10톤LPG탱크로리
프런티어2.4톤내장탑차
아시아11.5톤카고트럭
한일화학소방차
에어로스페이스공항순환버스
수성5톤렉커
20190823
타이탄3000L홈로리
광림분말화학소방차
프런티어 압착식진개차
아시아진압가스차
프런티어2500L바큠카
파맥스
현대19.5톤카고트럭
마이티II2.5톤덤프
마이티Ⅱ5KL탱크로리(터보)
20191001
트레이드 유류 탱크로리
마이티Ⅱ압축진개차(N)(터보)
교량점검차
그랜토18톤카고트럭
고소작업차
프런티어3000L홈로리
광운음식물수거운반차
유니목 300
그랜토벌크엘피지탱크로리
삼성이동발전차
마이티II더블캡
32M사다리차
대양버큠로리
복합식하수구청소차
마이티파워게이트
그랜토23톤카고트럭
마이티Ⅱ(N)(터보)
알텍8KL경질유운반차
트레이드덤프
트레이드 덤프
그랜토8톤진개덤프
현대 에어로버스
기아 그랜버드
한빛고압살수차
현대 뉴에어로버스
현대 16톤초장축카고트럭
현대 슈퍼트럭
현대8.5장축 카고트럭(터보)
현대파워트럭
현대11.5 카고트럭(터보)
현대 14톤카고트럭터보)
현대8.5장축 카고트럭
세원압축진개차
마이티내장차
신정10㎥진공노면청소차
후소압축진개차
이스즈3KL고압살수차
현대 카고트럭4.5
마이티II진개덤프
설봉5m^3압축진개차
그랜토30KL유류탱크로리
대우 고속버스 BH119
평화홈로리
마이티Ⅱ파워게이트(터보)
유니목 500
대우 카고트럭
마이티Ⅱ
유니목140
남영조연소방차
대우 고속버스 BH115E
대우 고속버스 BH116
프런티어2.5톤덤프
대우 고속버스 BH120
마이티보틀캐리어
프런티어 3000ℓ홈로리
마이티이동주유차
콤비이동도서관차
마이티II덤프(N)
NEW-코스모스어린이운송차
현대롤온트럭(터보)
라이노 압축식음식물쓰레기차
한빛음식물용기세척차
마이티Ⅱ저상(N)(터보)
마이티Ⅱ내장차(터보)
프런티어3000ℓ홈로리
한정엘지기지국차
대진홈로리
동아7000L탱크로리
20191118
마이티II경찰물자수송트럭
에어로익스프레스LDX터보
마이티Ⅱ이동주유차(N)
대경 음식물 운송차
라이노 신형암롤
대양2.5KL버큠로리
대경압착식진개차
마이티윙바디
남영물탱크소방자동차
기아파맥스3.5톤내장탑차
현대19톤카고트럭
에스아이물탱크소방차
수산가로등보수차
한국쓰리축4.5톤카고트럭
호룡엘리카사다리차
18톤카고트럭
수성이마이티언더리프트
삼오유류탱크로리
MAN11.5톤카고트럭
철주슈퍼파워고가사다리차
케이엔티티차량운반트럭
오텍파맥스 고상내장탑차
호룡 엘리카 사다리차
모터이동통신기지국차
이삿짐운반사다리차
현대3톤냉동탑차
현대3.5톤덤프
카운티장애우차
한신5톤고소작업차
현대20KL경질류AL탱크로리
세원6㎥노면청소차
마이티II냉동차(터보)
싼타페
남영소방펌프자동차
프런티어2.5톤냉동탑차
마이티Ⅱ버큠로리(N)
광림26M고소작업차
정부4.5톤극초장축카고트럭
트레이드 와이드로우
호룡 스카이 고소작업차
이-카운티어린이운송차
한빛진공흡입청소차
세원소방펌프자동차
한국토미4.5톤카고트럭
현대15톤덤프트럭(터보)
물탱크소방펌프자동차
현대8톤덤프트럭(터보)
스타코넷배연소방차
마이티쓰리웨이덤프(터보)
마이티Ⅱ단축
현대신압착진개트럭
마이티급수차
대원기내식운반차
금강5톤단축암롤
마이티II단축3.5톤(터보)
마이티압착진개차(터보)
신대양15톤암롤트럭(터보)
저수조세척차
마이티내장탑차(AL)
신광라디오중계차
타이탄2.5톤14척
삼일펌프소방차
대지2.0버큠로리
현진복합식진공 흡입차
원천3000L홈로리
FT물탱크소방자동차
원천3KL주유탱크로리
기아 파맥스 냉동탑차
FT구조공작자동차
우성밀크로리
온누리슈퍼리프트
미래이동무대차
기아 파맥스 내장탑차
대우4.5톤초장축카고트럭
경찰작전차
트레이드고가사다리차
현대540피의자호송버스
대우4.5톤극초장축카고트럭
스타코펌프소방차
금강2.5KL고압살수차
복사5000L탱크로리
마이티3.5톤덤프(터보)
후소4.4㎥압축진개차
광림소방펌프자동차
진공흡입청소차
마이티Ⅱ압착진개차(N)
후소10.2㎥암롤청소차
이엔쓰리펌프소방차
수산조명차
중부 2.5KL 살수차
한국쓰리축냉동탑차
대지버큠로리-파워20VL
한국특장기술냉장탑차
한신35 고소작업차
마이티Ⅱ저상
중형수조부소방펌프자동차
수산활선주수차
한국토미27톤카고트럭
후소11톤암롤트럭
대지3KL급수차
진우400고소작업차
마이티Ⅱ이삿짐운반차(터보)
한신 27고소작업차
라이노윙바디
NEW-코스모스 어린이운송차
마이티3.5톤덤프
오텍프런티어2.5톤파워게이트
신광이동영화차
마이티진개덤프(터보)
신흥5KL항공유탱크로리
한국메리트5톤트럭
국제언더리프트
하드텍14.3㎥사료운반트럭
뉴텍이동발전차량
수산9.13M^3하수구청소차
새한24톤카고트럭
덕산8KL경질유탱크로리
오텍라이노초장축냉동탑차
삼성15톤카고트럭
한국특장기술7톤트럭
프런티어2.5톤(저상)
마이티암롤트럭(터보)
호룡엘리카고가사다리차
18톤초장축카고트럭
에어로타운수인호송버스(터보)
한국쓰리축4.5톤극초장카고트럭
쌍용풀카고트럭
한서이동방제차
기아 파맥스 덤프
대경2.5톤암롤차
한원음식물쓰레기수거차
한국쓰리축4.5톤 플러스카고트럭
창림이동세탁차
기아파맥스 덤프
현대마이티암롤트럭
프런티어 내장탑차
복사내장탑차
코스모스도서관차
동문12㎘살수차
프로텍 방송중계차
마이티II단축
마이티Ⅱ버큠로리(N)(터보)
AM928
한특25㎥사료운반트럭
마이티Ⅱ슈퍼렉커트럭(터보)
신정10㎥급진공노면청소차
광림농림방재차
메가트럭내장차
정우 4.5KL 버큠로리
광림5톤렉카
바리오TV밴
수성마이티언더리프트
한국쓰리축 극윙바디트럭
세종3KL홈로리
한국쓰리축4.5톤극장축카고트럭
다산5톤초장축카고트럭
호룡스카이280고소작업차
2층형관광 버스
신광방송중계차
금양현장지휘차
현대케이티앤지내장탑차
현대11.5톤냉동차(터보)
한성2000리터다목적방제차
마이티냉동차(터보)
이텍4륜다목적트럭
현대 8톤 특초장축 트럭
한국쓰리축6.5톤 극초장축카고트럭
프런티어 일반덤프
함코5톤트럭
한국쓰리축윙바디
현대오토바이수송트럭
프런티어 냉동탑차
토미메가윙바디트럭
20190930
진우280고소작업차
대지 8KL 버큠로리
대우5톤장축카고트럭
금강홈로리
KJM세이프티로더
대광마이티5KL탱크로리
마이티II파워렉커트럭(터보)
스타렉스12인오토(STAREX)
호룡스카이 210S고소작업차
봉고Ⅲ 코치
한국특장기술냉동탑차
리베로슈퍼캡장축
국제세이프티로더
KST5톤카고트럭
금강중형압축진개차
함코7톤트럭
신정4㎥급진공노면청소차
한빛2KL진공흡입차
대우5톤초장축카고트럭
마이티보냉탑차
현대마이티 세이브티로다
함코4.5톤트럭
한정 차량운반차
현대급수차(터보)
한빛로드로거
봉고Ⅲ 1톤
뉴텍이동목욕차
금강8.8㎥압축진개차
카운티앰블런스(터보)
현대5톤트럭초장축       우
신정4M^3도로청소차
마이티파워렉커트럭(터보)
프런티어2.5톤경찰물자수송차
메디벤이동환경조사차
한국쓰리축4.5톤극카고트럭
수산저압고소작업차
마이티세이프티로더(터보)
삼오3KL이동주유차
마이티보냉차(터보)
라이노 롤온
원천6000ℓ중질유탱크로리
현대20KL AL탱크로리(터보)
스타렉스터보장축11인
현대8톤특초장축트럭
동해13M고소작업차-2
금강2.5㎘급수차
카운티이동도서관차(터보)
기아파맥스4000L바큠카
프런티어2.5톤내장탑차
골드밴냉동탑차
뉴파워트럭풀카고
대한통운16.5톤카고트럭
한국특장기술트럭
한국특장기술25톤단축카고
동진119재난현장급식차
한국토미 4.5톤냉동탑차
원천4000L중질유 탱크로리
한국토미7톤카고트럭
삼성20톤카고트럭
마이티경찰물자수송트럭
광림고소작업자동차
대지 7.5KL 버큠로리
새한4.5톤카고트럭
마이티II내장차(터보)
미래이동중계차
대경압축진개차
한국쓰리축극냉동탑차
삼성18.5톤장축카고트럭
대우5톤극초장축카고트럭
FT소방펌프자동차
한국쓰리축4.5톤극초장축카고트럭
에이엠압축식진개차
대경2.5톤암롤트럭
중부5KL저압살수차
한국특장기술7.5톤트럭
닛시소방펌프자동차
금강2.5KL급수차
수산가변신호차
삼우4.5톤(현대)극초장축카고트럭
스타렉스터보9인
맥써버 경찰작전버스
마이티경력수송트럭
수성마이티붐언더리프트
한국특장기술윙바디
한국토미5톤 카고트럭
마이티II(N)
카써스4.5톤에어서스펜션윙바디
20181115
삼성20KL중질유탱크로리
프런티어경찰물자수송차
코러스유치인호송차
KJM언더리프트
원천5000L경질유탱크로리
한국쓰리축4.5톤 극초장축카고트럭
현대5톤트럭초장축       샤시
한국쓰리축4.5톤냉동탑차
삼오4㎘탱크로리
한국특장기술4.5톤윙바디
광림케이블운반트럭
대우4.5톤장축카고트럭
한국쓰리축극윙바디
금강25.6㎥암롤
유니목300
한국쓰리축 냉동탑차
통진5톤냉동탑차
한특9.8㎥사료운반트럭
삼능5톤진개덤프
이엔쓰리배연소방차
봉고Ⅲ 밴
한국쓰리축4.5톤 극초장카고트럭
스타렉스9인(STAREX)
포터Ⅱ초장축슈퍼캡내장탑차(PORTERⅡ)
스타렉스장축3밴
스타렉스장축9인오토(STAREX)
스타렉스터보장축12인
포터Ⅱ(PORTERⅡ)
스타렉스6밴오토(STAREX VAN)
봉고Ⅲ플러스냉동차
스타렉스터보장축12인오토
스타렉스장축6밴오토
스타렉스인터쿨러9인4WD
스타렉스단축9인
싼타페(SANTAFE)
스타렉스단축6밴
포터Ⅱ초장축일반캡냉동탑차(PORTERⅡ)
스타렉스단축6밴오토
메디벤특수기동차
포터Ⅱ초장축슈퍼캡파워게이트
스타렉스3밴(STAREX VAN)
포터Ⅱ초장축슈퍼캡냉동탑차(PORTERⅡ)
포터Ⅱ윙바디(PORTERⅡ)
봉고Ⅲ 내장차
스타렉스장축9인(STAREX)
봉고Ⅲ밴
봉고Ⅲ플러스내장차
포터터보초장축슈퍼캡
스타렉스3밴오토(STAREX VAN)
포터Ⅱ초장축슈퍼캡접이식파워게이트
스타렉스터보장축11인오토
스타렉스12인(STAREX)
스타렉스어린이보호차(STAREX)
스타렉스단축9인오토
트레이드승용차운반차
스타렉스11인오토(STAREX)
봉고Ⅲ 워크스루밴
금강음식물수거차
봉고Ⅲ 3방덤프
베스텍7500버륨로리
스타렉스11인(STAREX)
포터Ⅱ초장축슈퍼캡냉동탑차
마이티슈퍼렉커트럭(터보)
스타렉스터보장축클럽오토
수성중형렉커
스타렉스터보장축9인오토
한국토미4.5톤윙바디
정우7KL버큠로리
신광이동도서관
봉고Ⅲ 원박스냉동차
카운티이동도서관차
스타렉스순회정비차(STAREX)
봉고Ⅲ 1.4톤
현대급수차
삼오5KL탱크로리
스타렉스장축3밴오토
현대크레인카고트럭
스타렉스냉동차
리베로슈퍼캡초장축오토
기아파맥스2.4톤내장탑차
포터Ⅱ초장축일반캡내장탑차(PORTERⅡ)]
스타렉스9인4WD오토(STAREX)
세인이삿짐사다리차
봉고Ⅲ 냉동차
함코5톤 트럭
스타렉스인터쿨러7인오토
대우4.5톤극초장축플러스카고트럭
동양암롤트럭
스타렉스인터쿨러9인4WD오토
포터Ⅱ초장축슈퍼캡내장탑차
포터Ⅱ하이냉동탑차(PORTER Ⅱ)
리베로초장축슈퍼캡냉동탑차(LIBERO)
스타렉스터보장축9인
포터Ⅱ초장축더블캡파워게이트(PORTERⅡ)
봉고Ⅲ코치
봉고Ⅲ1.4톤
봉고Ⅲ 파워게이트
남영배연소방차
스타렉스구급차(터보)
스타렉스9인4WD(STAREX)
신광이동검진차
건민특장4.5톤트럭
마이티윙바디(터보)
한국쓰리축7.5톤 극카고트럭
스타렉스단축9인4WD
포터터보초장축
신한이동목욕차250
성진중형소방지휘차
금강16.7㎥진개덤프
포터Ⅱ초장축슈퍼캡보냉탑차
진우260C고소작업차
대우5톤극초장축플러스카고트럭
한성1500리터다목적방제차
그레이스터보15인승
리베로슈퍼캡초장축
리베로슈퍼캡초장축(LIBERO)
방역방제보건특수차D
그레이스터보15인(GRACE)
광림이동발전차
마이티2 3.5톤(터보)
봉고Ⅲ 윙바디
세원다목적조명차
스타렉스
포터터보초장축슈퍼캡(PORTER)
마이티로우테크보틀캐리어
파맥스3.5톤(터보)
투싼(TUCSON)
스포티지
동우탱크로리
포터Ⅱ초장축슈퍼캡하이내장탑차(PORTERⅡ)
마이티파워게이트(터보)
수산고소활선작업차
봉고Ⅲ내장차
삼특이동자선급식차
스타렉스인터쿨러7인
봉고Ⅲ냉동차
포터Ⅱ초장축슈퍼캡하이내장탑차
세원크레인카고트럭
리베로(LIBERO)
스타렉스7인승오토매틱
삼오봉고홈로리
포터Ⅱ이동주유차(PORTERⅡ)
포터Ⅱ초장축슈퍼캡내장탑차오토(PORTERⅡ)
스타렉스3밴오토
포터Ⅱ초장축일반캡하이내장탑차(PORTERⅡ)
리베로슈퍼캡초장축오토(LIBERO)
그레이스15인
봉고Ⅲ1.4톤보냉차
포터Ⅱ초장축일반캡냉동탑차
리베로슈퍼캡장축(LIBERO)
리베로초장축(LIBERO)
스타렉스9인승
스타렉스냉동차(STAREX)
한국토미5톤 냉동탑차
봉고Ⅲ 보냉차
프런티어 1.3톤
리베로 초장축슈퍼캡내장탑차(LIBERO)
봉고Ⅲ1.4톤내장차
봉고Ⅲ 플러스내장차
진화소방교육용자동차
리베로초장축
리베로슈퍼캡장축오토
스타렉스터보장축9인승
그레이스수인호송차(GRACE)
함코4.5톤 트럭
스타렉스단축7인오토
그레이스터보
봉고Ⅲ교통사고조사차
포터Ⅱ초장축일반캡내장탑차(PORTERⅡ)
봉고Ⅲ원박스저온냉동차
리베로 초장축슈퍼캡냉동탑차(LIBERO)
리베로초장축오토(LIBERO)
봉고Ⅲ워크스루밴
리베로초장축냉동탑차
리베로 활어운반차(LIBERO)
렉스턴
봉고Ⅲ 1.4톤 윙바디
포터Ⅱ초장죽슈퍼캡냉동탑차골드
리베로초장축슈퍼캡냉동탑차
마이티렉커트럭(터보)
세종1750ℓ홈로리
봉고Ⅲ 플러스냉동차
봉고III 1.4톤
포터Ⅱ초장축슈퍼캡접이식파워게이트(PORTERⅡ)
리베로장축
리베로슈퍼캡장축오토(LIBERO)
리베로초장축슈퍼캡내장탑차
봉고Ⅲ4륜구동
스타렉스어린이보호차오토(STAREX)
무쏘
한국쓰리축극윙바디트럭
스타렉스 냉동차(STAREX)
아산SJ4㎥급진공노면청소차
메디벤이동미술관차
고호30M고소작업차
리베로초장축오토
대경 암롤트럭
한국쓰리축4.5톤초장축트럭
대양음식물수거차
대지4㎘탱크로리
그레이스유치인호송차(GRACE)
스타렉스단축9인4WD오토
삼성25톤카고트럭
수성언더리프트렉커
하나53m급 이삿짐사다리차
한신40 고소작업차
신정4륜구동덤프
대지4KL 탱크로리
삼오5KL유조차
포터Ⅱ 슈퍼캡냉동탑차(PORTERⅡ)
봉고Ⅲ 플러스 내장차
현대20m^3압축진개차
nan
신광소방지휘차
흥국8㎘중질유탱크로리
리베로 초장축슈퍼캡내장탑차오토(LIBERO)
건민특장4.5톤플러스장축카고트럭
마이티II5KL탱크로리(터보)
포터Ⅱ하이내장탑차(PORTERⅡ)
리베로초장축슈퍼캡보냉탑차
코란도-밴
봉고Ⅲ운교차
코란도밴
수성마이티큐티언더리프트
리베로초장축슈퍼캡내장탑차(LIBERO)
리베로 초장축냉동탑차(LIBERO)
동양음식물수거차
코란도
광림절연 고소작업차
압착식진개차
포터Ⅱ슈퍼캡접이식파워게이트
포터Ⅱ 슈퍼캡내장탑차(PORTERⅡ)
포터Ⅱ초장축슈퍼캡보냉탑차(PORTERⅡ)
대지마이티이동주유차
포터Ⅱ(PORTER Ⅱ)
다산4.5톤 극초장축카고트럭
포터Ⅱ슈퍼캡내장탑차(PORTERⅡ)
포맥4.5톤극초장축플러스카고트럭
포터II덤프트럭(PORTER II)
포터II이동주유차(PORTERⅡ)
봉고III 1톤
태경살수차
성진이동생활안전체험교육차
신광이동교육차
봉고Ⅲ원박스냉동차
한국특장기술저상트럭
스카이점보 고소작업차
포터Ⅱ초장축슈퍼캡냉동탑차오토(PORTERⅡ)
마이티II이동주유차
소방펌프자동차
봉고3 1톤
미래이동교육차
마이티보틀캐리어(터보)
포터Ⅱ초장축슈퍼캡하이냉동탑차(PORTER-II)
리베로 초장축내장탑차(LIBERO)
봉고Ⅲ윙바디
스타렉스형사순찰차(STAREX)
포터Ⅱ냉동탑차(PORTERⅡ)
케이엔티티세이프티로더밴
이텍대형다목적카고트럭
포터Ⅱ초장축일반캡하이냉동탑차(PORTERⅡ)
스타렉스과학수사차(STAREX)
스타렉스 휠체어리프트오토매틱(STAREX)
수성봉고3언더리프트
리베로초장축내장탑차
반도붐언더리프트
스타렉스휠체어리프트
봉고Ⅲ 일반덤프
봉고Ⅲ파워게이트
한차3.5톤윙바디
테라칸(TERRACAN)
맥써버 유치인호송버스
우리물탱크소방펌프자동차
성진중형소방구조차
리베로 초장축슈퍼캡보냉탑차(LIBERO)
스타렉스휠체어리프트오토메틱
세원화학소방펌프자동차
마이티II 더블캡
포터II
포터II(PORTERII)
스타렉스9인오토
봉고III1.4톤
스타렉스6밴
봉고Ⅲ1톤
그레이스12인승
한국토미4.5톤윙비디
스타렉스6밴오토
봉고III코치
신광소방구조차
스타렉스터보장축12오토
스타렉스장축11인
스타렉스6밴(STAREXVAN)
스타렉스 어린이보호차(STAREX)
봉고Ⅲ1.4톤윙바디
리베로슈퍼캡냉동탑차
스타렉스12인오토
포터Ⅱ슈퍼캡하이내장탑차(PORTERⅡ)
리베로초장축내장탑차(LIBERO)
봉고3
스타렉스9인
스타렉스5밴오토(STAREX VAN)
봉고3 1.4톤
흥국8KL탱크로리
포터Ⅱ초장축슈퍼캡접이식파워게이트(PORTE
현대9.5톤초장축카고트럭
포터Ⅱ초장축슈퍼캡내장탑차(PORTERⅡ)
포터Ⅱ파워게이트
파맥스저상슈퍼캡(터보)
현대 20.5톤초단축카고터보
봉고III 일반덤프
포터Ⅱ슈퍼캡냉동탑차(PORTERⅡ)
봉고Ⅲ 1.4톤 냉동차
한국토미5톤카고트럭
봉고Ⅲ 강화적재함차
봉고III4륜구동
마이티II저상(터보)
포터2
포터Ⅱ초장축일반캡하이내장탑차
포터II초장축슈퍼캡내장탑차(PORTER II)

In [ ]:
# 20190624, BH115E, 20200703, BH116, 20180911, BS106, BH119, BH117, BH120, BM090, 20190621, BH090, 20191028, 20200521, 20181228, 20200721, 20191004, BS090, 20200225, 중형화물, BX212, 영부환경(주),

### 8\. 용도

In [82]:
df2['용도'].value_counts()

단거리운행차량        466806
장거리운행차량        131294
기타승합            94150
기타화물            24777
특수차량            10458
150000           8666
건설기계운행차량         6603
청소차량             4953
학원차량             3488
관광버스             2278
회사차량             2105
고속버스             1025
시내버스              283
학교차량              272
시외버스               90
마을버스               48
청소차                23
1종                  5
H191014-179         3
H190905-277         3
XO121772            3
XO121123            3
XO100428            3
H191014-130         3
H191014-128         3
H190511-112         3
XO121657            3
20201005            3
H191014-190         2
XO121658            2
20210804            2
H191014-182         2
20191011            2
H191014-176         2
H190618-221         2
20220818            1
H191014-171         1
20210817            1
20201208            1
H190812-258         1
20210114            1
H190910-064         1
H190724-221         1
20220317            1
XP020528            1
20190711            1
20211214            1
20220203            1
Name: 용도, dtype: int64

In [113]:
p8 = re.compile('[0-9]+')
uni8 = []
for one in df2['용도'].unique():
    try:
        if p8.search(one):
            uni8.append(one)
    except:
        pass

In [114]:
uni8[:5]

['150000', '20190711', '20220317', '20210804', '20201005']

In [119]:
error8 = dict()
for one in tqdm(uni8):
    temp = df2[df2['용도'] == one].index
    error8[one] = temp

100%|██████████| 32/32 [00:01<00:00, 24.21it/s]

### 9\. 차종

In [116]:
df2['차종'].value_counts()

대형승용                       166378
중형화물                       164163
중형승용                       119352
중형승합                        91380
소형화물                        87739
                            ...
200101-591/200429-636           1
H191201-824/H210827-540         1
180201-149/201028-055           1
1191201-897/211001-0060         1
XO121657/XP020118               1
Name: 차종, Length: 65, dtype: int64

In [117]:
p9 = re.compile('[0-9]+')
uni9 = []
for one in df2['차종'].unique():
    try:
        if p9.search(one):
            uni9.append(one)
    except:
        pass

In [118]:
uni9[:5]

['300000', '150000', '450000', '0', '200801-767/211130-1921']

In [120]:
error9 = dict()
for one in tqdm(uni9):
    temp = df2[df2['차종'] == one].index
    error9[one] = temp

100%|██████████| 46/46 [00:01<00:00, 24.76it/s]

### 10\. 주행거리

In [121]:
df2['주행거리'].value_counts()

보증기간내     5809
보증기간경과    2857
0         2389
174210     174
214210     164
          ...
181353       1
218813       1
442567       1
418834       1
207438       1
Name: 주행거리, Length: 353618, dtype: int64

### 11\. 저감장치구분

In [122]:
df2['저감장치구분'].value_counts()

1종        744883
1종+SCR      3771
0           1560
1            603
2            380
3            224
4             71
고정식           42
보증기간내         15
5             14
6              5
BQ953          3
AJ6347         2
보증기간경과         1
Name: 저감장치구분, dtype: int64

### 12\. 저감장치종류

In [123]:
df2['저감장치종류'].value_counts()

복합소형             546262
복합중형             109707
자연대형              38377
자연중형              30701
복합대형              19836
                  ...
BT816/BS066           1
BQ953/BT816           1
BQ953/BQ953           1
AK7958/AL1044         1
AK8133/AK7958         1
Name: 저감장치종류, Length: 103, dtype: int64

### 13\. 인증모델번호

In [124]:
df2['인증모델번호'].value_counts()

BF1-ED-01    102916
AF1-SK-01     95619
BF1-IJ-01     92871
BF1-HK-01     81484
BF1-CE-01     78967
              ...
8.0               1
4.2               1
1.0               1
0.74              1
4.4               1
Name: 인증모델번호, Length: 105, dtype: int64

### 14\. 장치일련번호

In [125]:
df2['장치일련번호'].value_counts()

60             1683
80             1076
70              819
58              441
100             308
               ...
BK524             1
AB0800            1
H200427-070       1
BK499             1
D2106567          1
Name: 장치일련번호, Length: 313797, dtype: int64

### 15\. 장치일련번호_전후

In [126]:
df2['장치일련번호_전후'].value_counts()

0                            3895
3                             865
2                             814
1                             777
4                             686
                             ...
D1900439/D2004975               1
D2004975/D1600323               1
SF-3B-001844/SF-3B-001012       1
SF-3B-001012/SF-3B-001699       1
ILH6455                         1
Name: 장치일련번호_전후, Length: 494219, dtype: int64

### 16\. 클리닝일자

In [127]:
df2['클리닝일자'].value_counts()

20081215    1896
서울시         1486
경기도         1440
20220419    1033
20220516     988
            ...
20110203       1
20110220       1
20120401       1
AJ0997         1
20220825       1
Name: 클리닝일자, Length: 5030, dtype: int64

### 17\. 클리닝종류

In [128]:
df2['클리닝종류'].value_counts()

고정식         658408
이동식          81491
서구             151
안산시            139
강서구            111
             ...
20201017         1
20201010         1
20200330         1
속초시              1
20210411         1
Name: 클리닝종류, Length: 172, dtype: int64

### 18\. 제작사코드

In [129]:
df2['제작사코드'].value_counts()

(주)크린어스         20001
N                8666
SK이노베이션(주)       8442
현대모비스(주)         7122
에이치케이엠엔에스(주)     4396
(주)이엔드디          4209
존슨매티카탈리스트코리아     1027
(주)에코닉스           263
후지노테크(주)          127
고정식                78
보증기간내              42
이동식                 7
강서구                 4
시흥시                 3
미추홀구                2
20220203            1
20210618            1
20210226            1
20220422            1
Name: 제작사코드, dtype: int64

### 19\. 클리닝업체명

In [130]:
df2['클리닝업체명'].value_counts()

(주)서천제일자동차공업사    113574
해성                84966
(주)이엔드디(공장)       82441
세라컴(본사공장)         63210
북항자동차정비검사소        51024
                  ...
201910                3
(주)의정부카독크             3
(주)중산자동차정비검사소         3
광명자동차공업사              3
(주)성우자동차정비            3
Name: 클리닝업체명, Length: 147, dtype: int64

## df로 변경

### values 리스트 길이 맞추기

In [93]:
m = 0
for one in error1.values():
    if m <= len(one):
        m = len(one)
for k, v in error1.items():
    if len(v) != m:
        error1[k] = list(v) + [np.nan]*(m-len(v))

In [95]:
m = 0
for one in error2.values():
    if m <= len(one):
        m = len(one)
for k, v in error2.items():
    if len(v) != m:
        error2[k] = list(v) + [np.nan]*(m-len(v))

In [96]:
m = 0
for one in error3.values():
    if m <= len(one):
        m = len(one)
for k, v in error3.items():
    if len(v) != m:
        error3[k] = list(v) + [np.nan]*(m-len(v))

In [97]:
m = 0
for one in error4.values():
    if m <= len(one):
        m = len(one)
for k, v in error4.items():
    if len(v) != m:
        error4[k] = list(v) + [np.nan]*(m-len(v))

In [98]:
m = 0
for one in error5.values():
    if m <= len(one):
        m = len(one)
for k, v in error5.items():
    if len(v) != m:
        error5[k] = list(v) + [np.nan]*(m-len(v))

In [99]:
edf1 = pd.DataFrame(error1)
edf2 = pd.DataFrame(error2)
edf3 = pd.DataFrame(error3)
edf4 = pd.DataFrame(error4)
edf5 = pd.DataFrame(error5)

In [107]:
edf1.head()

,1톤,승인,(STAREX),/,9,(1%),(SANTAFE),/AS21,-048,/BN937,...,/SF-1-0010578,/AS1076,/AD0242,/AE0085,/AE0528,/SF-1-0010829,/AI1827,/BN064,/AE1546,/BF-L00918
0,454813,5412,547267.0,139710.0,181438.0,370436.0,486450.0,239374.0,370231.0,318433.0,...,268213.0,268177.0,268154.0,268123.0,268121.0,268096.0,268087.0,268022.0,268007.0,757541.0
1,454815,11604,547269.0,252688.0,215352.0,370438.0,486452.0,312446.0,370233.0,338638.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,454817,34973,547271.0,254043.0,351361.0,370440.0,546652.0,341737.0,370235.0,342237.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,512295,48887,551287.0,277508.0,379067.0,370442.0,546654.0,361775.0,370237.0,363325.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,515295,138487,551289.0,278201.0,392444.0,370445.0,546656.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## 엑셀로 출력

In [109]:
total_error_file = pd.ExcelWriter('error_indexes.xlsx')
edf1.to_excel(total_error_file, sheet_name='클리닝진행상태')
edf2.to_excel(total_error_file, sheet_name='클리닝기간구분')
edf3.to_excel(total_error_file, sheet_name='차량번호')
edf4.to_excel(total_error_file, sheet_name='차대번호')
edf5.to_excel(total_error_file, sheet_name='구조변경일자')
total_error_file.save()

# 코드마지막