In [1]:
import pandas as pd
from tqdm import tqdm

In [2]:
df = pd.read_excel('00_DPF_클리닝_내역_원본.xlsx')

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 692017 entries, 0 to 692016
Data columns (total 48 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   클리닝진행상태    691904 non-null  object
 1   클리닝기간구분    544758 non-null  object
 2   차량번호       691873 non-null  object
 3   차대번호       683210 non-null  object
 4   구조변경일자     691859 non-null  object
 5   현재차량등록번호   54 non-null      object
 6   차명         691855 non-null  object
 7   용도         691836 non-null  object
 8   차종         688979 non-null  object
 9   주행거리       691845 non-null  object
 10  저감장치구분     686027 non-null  object
 11  저감장치종류     691797 non-null  object
 12  인증모델번호     691837 non-null  object
 13  장치일련번호     688911 non-null  object
 14  장치일련번호_전후  460072 non-null  object
 15  클리닝일자      678012 non-null  object
 16  클리닝종류      677939 non-null  object
 17  제작사코드      54384 non-null   object
 18  클리닝업체명     683078 non-null  object
 19  접수지자체코드    54099 non-null   object
 20  보조금지급확정일자  629921 non-null  object
 21  클리닝비용      683151 non-null  object
 22  클리닝잔여보조금   536531 non-null  object
 23  클리닝보증기간구분  683101 non-null  object
 24  클리닝기록횟수경과  414181 non-null  object
 25  전매연농도      683115 non-null  object
 26  후매연농도      674499 non-null  object
 27  전배기압력      683121 non-null  object
 28  후배기압력      683128 non-null  object
 29  접수시        358038 non-null  object
 30  접수시도       355760 non-null  object
 31  협회신청YN     674444 non-null  object
 32  클리닝계획청구년월  442735 non-null  object
 33  클리닝특별사유사유  160299 non-null  object
 34  클리닝기타특별사유  10565 non-null   object
 35  클리닝경정대상YN  674399 non-null  object
 36  클리닝경정사유    127 non-null     object
 37  클리닝지급YN    628245 non-null  object
 38  제작사서류첨부YN  674449 non-null  object
 39  클리닝지급일자    628450 non-null  object
 40  클리닝사업년도    355 non-null     float64
 41  소유주명       674037 non-null  object
 42  연락처        674288 non-null  object
 43  정산년도       10586 non-null   object
 44  정산일자       10500 non-null   float64
 45  정산YN       10500 non-null   object
 46  정산기타       130 non-null     object
 47  비고         3 non-null       object
dtypes: float64(2), object(46)
memory usage: 253.4+ MB

In [4]:
df2 = pd.read_excel('220819_클리닝현황내역.xlsx')
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 757545 entries, 0 to 757544
Data columns (total 48 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   클리닝진행상태    757461 non-null  object
 1   클리닝기간구분    601805 non-null  object
 2   차량번호       757425 non-null  object
 3   차대번호       748764 non-null  object
 4   구조변경일자     757409 non-null  object
 5   현재차량등록번호   63 non-null      object
 6   차명         757405 non-null  object
 7   용도         757381 non-null  object
 8   차종         754525 non-null  object
 9   주행거리       757396 non-null  object
 10  저감장치구분     751574 non-null  object
 11  저감장치종류     757337 non-null  object
 12  인증모델번호     757383 non-null  object
 13  장치일련번호     754389 non-null  object
 14  장치일련번호_전후  525660 non-null  object
 15  클리닝일자      743922 non-null  object
 16  클리닝종류      743839 non-null  object
 17  제작사코드      54393 non-null   object
 18  클리닝업체명     748625 non-null  object
 19  접수지자체코드    54106 non-null   object
 20  보조금지급확정일자  692601 non-null  object
 21  클리닝비용      748699 non-null  object
 22  클리닝잔여보조금   593550 non-null  object
 23  클리닝보증기간구분  748654 non-null  object
 24  클리닝기록횟수경과  478600 non-null  object
 25  전매연농도      748665 non-null  object
 26  후매연농도      740049 non-null  object
 27  전배기압력      748663 non-null  object
 28  후배기압력      748672 non-null  object
 29  접수시        468871 non-null  object
 30  접수시도       466299 non-null  object
 31  협회신청YN     740066 non-null  object
 32  클리닝계획청구년월  508323 non-null  object
 33  클리닝특별사유사유  177266 non-null  object
 34  클리닝기타특별사유  10565 non-null   object
 35  클리닝경정대상YN  739949 non-null  object
 36  클리닝경정사유    132 non-null     object
 37  클리닝지급YN    690918 non-null  object
 38  제작사서류첨부YN  739992 non-null  object
 39  클리닝지급일자    691123 non-null  object
 40  클리닝사업년도    354 non-null     float64
 41  소유주명       739581 non-null  object
 42  연락처        739820 non-null  object
 43  정산년도       10852 non-null   object
 44  정산일자       10767 non-null   float64
 45  정산YN       10767 non-null   object
 46  정산기타       130 non-null     object
 47  비고         3 non-null       object
dtypes: float64(2), object(46)
memory usage: 277.4+ MB

In [5]:
df.head()

,클리닝진행상태,클리닝기간구분,차량번호,차대번호,구조변경일자,현재차량등록번호,차명,용도,차종,주행거리,...,제작사서류첨부YN,클리닝지급일자,클리닝사업년도,소유주명,연락처,정산년도,정산일자,정산YN,정산기타,비고
0,지급,NaN,서울72더2071,KMJRL18SP4C002518,20041115,NaN,에어로버스,학교차량,대형승합,113669,...,Y,20160715,NaN,교육인적자원부(한국체육대학교),010-5330-2128,NaN,NaN,NaN,NaN,NaN
1,지급,NaN,서울72더2071,KMJRL18SP4C002518,20041115,NaN,에어로버스,학교차량,대형승합,110807,...,Y,20140826,NaN,교육인적자원부(한국체육대학교),010-5330-2128,NaN,NaN,NaN,NaN,NaN
2,지급,NaN,서울72거1699,KMJTG18BP1C002389,20041207,NaN,현대에어로시티540버스(터보),기타화물,대형승합,154807,...,Y,20140723,NaN,세기문화사,010-0000-0000,NaN,NaN,NaN,NaN,NaN
3,지급,NaN,경기72나9098,280224308491,20050113,NaN,신광치과진료차,기타승합,대형승합,122721,...,Y,20131230,NaN,경기도청,011-233-7893,NaN,NaN,NaN,NaN,NaN
4,지급,NaN,경기72나9098,280224308491,20050113,NaN,신광치과진료차,기타승합,대형승합,112315,...,Y,20121231,NaN,경기도청,011-233-7893,NaN,NaN,NaN,NaN,NaN

In [6]:
df2.head()

,클리닝진행상태,클리닝기간구분,차량번호,차대번호,구조변경일자,현재차량등록번호,차명,용도,차종,주행거리,...,제작사서류첨부YN,클리닝지급일자,클리닝사업년도,소유주명,연락처,정산년도,정산일자,정산YN,정산기타,비고
0,지급,NaN,서울72더2071,KMJRL18SP4C002518,20041115,NaN,에어로버스,학교차량,대형승합,113669,...,Y,20160715,NaN,교육인적자원부(한국체육대학교),010-5330-2128,NaN,NaN,NaN,NaN,NaN
1,지급,NaN,서울72더2071,KMJRL18SP4C002518,20041115,NaN,에어로버스,학교차량,대형승합,110807,...,Y,20140826,NaN,교육인적자원부(한국체육대학교),010-5330-2128,NaN,NaN,NaN,NaN,NaN
2,지급,NaN,서울72거1699,KMJTG18BP1C002389,20041207,NaN,현대에어로시티540버스(터보),기타화물,대형승합,154807,...,Y,20140723,NaN,세기문화사,010-0000-0000,NaN,NaN,NaN,NaN,NaN
3,지급,NaN,경기72나9098,280224308491,20050113,NaN,신광치과진료차,기타승합,대형승합,122721,...,Y,20131230,NaN,경기도청,011-233-7893,NaN,NaN,NaN,NaN,NaN
4,지급,NaN,경기72나9098,280224308491,20050113,NaN,신광치과진료차,기타승합,대형승합,112315,...,Y,20121231,NaN,경기도청,011-233-7893,NaN,NaN,NaN,NaN,NaN

In [11]:
len(idx)

Index(['클리닝진행상태', '클리닝기간구분', '차량번호', '차대번호', '구조변경일자', '현재차량등록번호', '차명', '용도',
       '차종', '주행거리', '저감장치구분', '저감장치종류', '인증모델번호', '장치일련번호', '장치일련번호_전후',
       '클리닝일자', '클리닝종류', '제작사코드', '클리닝업체명', '접수지자체코드', '보조금지급확정일자', '클리닝비용',
       '클리닝잔여보조금', '클리닝보증기간구분', '클리닝기록횟수경과', '전매연농도', '후매연농도', '전배기압력',
       '후배기압력', '접수시', '접수시도', '협회신청YN', '클리닝계획청구년월', '클리닝특별사유사유', '클리닝기타특별사유',
       '클리닝경정대상YN', '클리닝경정사유', '클리닝지급YN', '제작사서류첨부YN', '클리닝지급일자', '클리닝사업년도',
       '소유주명', '연락처', '정산년도', '정산일자', '정산YN', '정산기타', '비고'],
      dtype='object')