# Library

In [3]:
import pandas as pd
import numpy as np
from tqdm import tqdm
import os

# [로드] 등록&제원 정보 2022.12.28 기준

In [2]:
ods_fold = 'D:/data/big2/ODS'

In [3]:
# about 8m 42s
file_name = '[ODS]등록정보&제원정보(2022.12.29).csv'
df = pd.read_csv(os.path.join(ods_fold, file_name), encoding='cp949', low_memory=False)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29534047 entries, 0 to 29534046
Data columns (total 49 columns):
 #   Column        Dtype
---  ------        -----
 0   차량관리번호        object
 1   차량등록번호        object
 2   본거지법정동코드      int64
 3   소유자구분         object
 4   차종_등록정보       object
 5   용도            object
 6   현재회원번호        object
 7   차대번호          object
 8   최초등록일자        int64
 9   차량연식          int64
 10  차량제작일자        float64
 11  배출가스검사유효일자    float64
 12  제원관리번호        object
 13  배출가스인증번호      object
 14  배출가스등급        object
 15  저공해조치YN(미사용)  object
 16  저공해조치종류       float64
 17  저공해조치구조변경YN   object
 18  차량등록번호숫자정보    int64
 19  차량말소YN        object
 20  최초회원번호        object
 21  취득일자          object
 22  취득금액          float64
 23  생성일시_등록정보     object
 24  수정일시_등록정보     object
 25  차명            object
 26  차종_제원정보       object
 27  차종분류          object
 28  차종유형(소분류)     object
 29  자동차형식         object
 30  제작사명          object
 31  연료            object
 32  엔진형식          object
 33  공차중량          float64
 34  총중량           float64
 35  적재중량          float64
 36  엔진출력          float64
 37  배기량           float64
 38  승차인원          float64
 39  차량길이          float64
 40  차량너비          float64
 41  차량높이          float64
 42  원산지명          object
 43  삭제YN          object
 44  승인일자          object
 45  구동형식          float64
 46  변속기종류         object
 47  생성일시_제원정보     object
 48  수정일시_제원정보     object
dtypes: float64(14), int64(4), object(31)
memory usage: 10.8+ GB

In [4]:
df['본거지법정동코드'].head()

0    1165010700
1    2711010500
2    2820010300
3    4213011200
4    4812110500
Name: 본거지법정동코드, dtype: int64

# [로드] 본거지법정동코드

In [5]:
fold = 'D:/data/big2'

In [6]:
file_name = '법정동코드_2022.10.14.xlsx'
code = pd.read_excel(os.path.join(fold, file_name))
code.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 46340 entries, 0 to 46339
Data columns (total 9 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   법정동코드     46340 non-null  int64
 1   시도        46340 non-null  object
 2   시구군       46317 non-null  object
 3   읍면동       45847 non-null  object
 4   리         33682 non-null  object
 5   지역3       0 non-null      float64
 6   폐지여부      46340 non-null  object
 7   대기관리권역    46340 non-null  object
 8   대기관리권역YN  46334 non-null  object
dtypes: float64(1), int64(1), object(7)
memory usage: 3.2+ MB

In [7]:
code['법정동코드'].head()

0    1100000000
1    1111000000
2    1111010100
3    1111010200
4    1111010300
Name: 법정동코드, dtype: int64

# [merge] 법정동코드 기준

In [8]:
# '본거지법정도코드'열 데이터 확인
df['본거지법정동코드'].isnull().sum()

0

In [9]:
df.shape

(29534047, 49)

In [10]:
# about 39s
tot = df.merge(code, left_on='본거지법정동코드', right_on='법정동코드', how='left')
tot.shape

(29534047, 58)

In [11]:
len(tot['차대번호'].unique())

29521505

In [12]:
tot['차대번호'].isnull().sum()

0

# 전처리

## 말소제거
- 차량말소YN

In [13]:
# about 
tot1 = tot[tot['차량말소YN'] == 'N'].reset_index(drop=True)
tot1.shape

(25693532, 58)

In [14]:
tot1.columns

Index(['차량관리번호', '차량등록번호', '본거지법정동코드', '소유자구분', '차종_등록정보', '용도', '현재회원번호',
       '차대번호', '최초등록일자', '차량연식', '차량제작일자', '배출가스검사유효일자', '제원관리번호', '배출가스인증번호',
       '배출가스등급', '저공해조치YN(미사용)', '저공해조치종류', '저공해조치구조변경YN', '차량등록번호숫자정보',
       '차량말소YN', '최초회원번호', '취득일자', '취득금액', '생성일시_등록정보', '수정일시_등록정보', '차명',
       '차종_제원정보', '차종분류', '차종유형(소분류)', '자동차형식', '제작사명', '연료', '엔진형식', '공차중량',
       '총중량', '적재중량', '엔진출력', '배기량', '승차인원', '차량길이', '차량너비', '차량높이', '원산지명',
       '삭제YN', '승인일자', '구동형식', '변속기종류', '생성일시_제원정보', '수정일시_제원정보', '법정동코드',
       '시도', '시구군', '읍면동', '리', '지역3', '폐지여부', '대기관리권역', '대기관리권역YN'],
      dtype='object')

In [60]:
tot1_1 = tot1.sort_values(['최초등록일자', '배출가스검사유효일자'], ascending=[False, False]).drop_duplicates(['차대번호']).reset_index(drop=True)
tot1_1.shape

(25692512, 58)

In [ ]:
tot1_1['배출가스등급'].value_counts(dropna=False)

## 폐지여부 확인

In [15]:
tot1['폐지여부'].value_counts(dropna=False)

존재     25611213
폐지        82317
NaN           2
Name: 폐지여부, dtype: int64

In [16]:
tot2 = tot1[tot1['폐지여부'] == '존재'].reset_index(drop=True)
tot2.shape

(25611213, 58)

## 법정동코드 확인

In [17]:
tot2['법정동코드'].isnull().sum()

0

## 연료 확인

In [18]:
tot2['연료'].isnull().sum()

146468

In [19]:
tot2['연료'].value_counts(dropna=False)

휘발유            12138821
경유              9855813
LPG(액화석유가스)     1899359
휘발유 하이브리드       1092740
전기               368150
NaN              146468
경유 하이브리드          35727
CNG(압축천연가스)       30372
수소                28199
LPG 하이브리드         14301
기타연료                926
CNG 하이브리드           304
LNG(액화천연가스)          27
알코올                   3
태양열                   2
등유                    1
Name: 연료, dtype: int64

In [20]:
tot2.loc[tot2['연료'] == '기타연료', '엔진형식'].unique()

array([nan, '3304124', '08784250915', '09801220246', '10784203005',
       '10784203004', 'LNS', '0', '01821300581', 'G4AJ', 'G15CF', 'B5',
       'H20MR', 'G16SF', 'MSV3', 'ZB', '-', '1NZ', '2AZ', 'RW-300',
       'M1082', '.'], dtype=object)

In [33]:
tot2.loc[tot2['연료'].isnull() == True, '엔진형식'].unique()

array([nan, 'DA640', '10-78-11-64609', '077801946', 'D0846HM',
       '06744200580', '10772217991', 'DA120', '10811142167',
       '04784300942', '02791162726', '01744500006', '01-77-13-00969',
       'KG-69-C-D-201452', 'F-6', 'GJS(LJS)', '10781153612',
       '03781260209', '3.8', '0', 'G4MBG', 'G4AJF045570', 'LNS',
       'CY250909', '834C.146', 'G4CP', '31L', '20EV', '41.5', 'B', 'mx',
       '102 962', 'VQ30', 'K04D3', 'V6', 'G15MF', 'F8A', 'CR8.13.1',
       '40S1', 'F8C', 'B-123', '5.0HD', 'M28/16', 'M30-69', 'CRJ', 'EFA',
       '104 941', '3S-GTE', '111 970', 'M64/02', '117.986', '2S25',
       'SR20', '5E', '13B-REW', '2JZ', 'JG1EK', 'C32A1', 'EV20', '119',
       'B230F', '-', '2ZZ', 'G6CT', '5S', 'G6BA', 'AZJ', '112 944', 'FE',
       'G4JS', 'N62B48B', 'K24A1', '_', 'F3BE3681B', '+-', '2JA', 'G4EC',
       'D4GB', '4HK1', 'AD-612T', '없음', '.', '해당 없음'], dtype=object)

In [39]:
# '3304124' : -
# '08784250915' : -
# '09801220246' : -
# '10784203005' : -
# '10784203004' : -
# 'LNS' : -
# '0' : -
# '01821300581' : -
# 'G4AJ' : 휘발유
# 'G15CF' : 휘발유
# 'B5' : 휘발유
# 'H20MR' : 휘발유
# 'G16SF' : 휘발유
# 'MSV3' : 휘발유
# 'ZB' : 경유
# '-' : -
# '1NZ' : 휘발유
# '2AZ' : 휘발유
# 'RW-300' : -
# 'M1082' : -
# '.' : -

# 'DA640' : 경유
# '10-78-11-64609' : -
# '077801946' : 
# 'D0846HM' : 
# '06744200580'
# '10772217991'
# 'DA120'
# '10811142167'
# '04784300942'
# '02791162726'
# '01744500006'
# '01-77-13-00969'
# 'KG-69-C-D-201452'
# 'F-6'
# 'GJS(LJS)'
# '10781153612'
# '03781260209'
# '3.8'
# '0'
# 'G4MBG'
# 'G4AJF045570'
# 'LNS'
# 'CY250909'
# '834C.146'
# 'G4CP'
# '31L'
# '20EV'
# '41.5'
# 'B'
# 'mx'
# '102 962'
# 'VQ30'
# 'K04D3'
# 'V6'
# 'G15MF'
# 'F8A'
# 'CR8.13.1'
# '40S1'
# 'F8C'
# 'B-123'
# '5.0HD'
# 'M28/16'
# 'M30-69'
# 'CRJ'
# 'EFA'
# '104 941'
# '3S-GTE'
# '111 970'
# 'M64/02'
# '117.986'
# '2S25'
# 'SR20'
# '5E'
# '13B-REW'
# '2JZ'
# 'JG1EK'
# 'C32A1'
# 'EV20'
# '119'
# 'B230F'
# '-'
# '2ZZ'
# 'G6CT'
# '5S'
# 'G6BA'
# 'AZJ'
# '112 944'
# 'FE'
# 'G4JS'
# 'N62B48B'
# 'K24A1'
# '_'
# 'F3BE3681B'
# '+-'
# '2JA'
# 'G4EC'
# 'D4GB'
# '4HK1'
# 'AD-612T'

In [22]:
engine_form = ['G4AJ', 'G15CF', 'B5', 'H20MR', 'G16SF', 'MSV3', 'ZB', '1NZ', '2AZ']
len(engine_form)

9

In [23]:
for one in engine_form:
    print(tot2[tot2['엔진형식'] == one].shape)

(5031, 58)
(3235, 58)
(16029, 58)
(2896, 58)
(46, 58)
(1091, 58)
(5834, 58)
(2352, 58)
(1358, 58)

In [24]:
tot2.loc[tot2['엔진형식'] == 'G4AJ', '연료'] = '휘발유'
tot2.loc[tot2['엔진형식'] == 'G15CF', '연료'] = '휘발유'
tot2.loc[tot2['엔진형식'] == 'B5', '연료'] = '휘발유'
tot2.loc[tot2['엔진형식'] == 'H20MR', '연료'] = '휘발유'
tot2.loc[tot2['엔진형식'] == 'G16SF', '연료'] = '휘발유'
tot2.loc[tot2['엔진형식'] == 'MSV3', '연료'] = '휘발유'
tot2.loc[tot2['엔진형식'] == 'ZB', '연료'] = '경유'
tot2.loc[tot2['엔진형식'] == '1NZ', '연료'] = '경유'
tot2.loc[tot2['엔진형식'] == '2AZ', '연료'] = '경유'

In [53]:
tot2['연료'].value_counts(dropna=False)

휘발유            12138821
경유              9855813
LPG(액화석유가스)     1899359
휘발유 하이브리드       1092740
전기               368150
NaN              146468
경유 하이브리드          35727
CNG(압축천연가스)       30372
수소                28199
LPG 하이브리드         14301
기타연료                926
CNG 하이브리드           304
LNG(액화천연가스)          27
알코올                   3
태양열                   2
등유                    1
Name: 연료, dtype: int64

In [52]:
tot2.loc[tot2['연료'] == '기타연료', '차명'].unique()

array(['미스비시샤시(세미트레일러)', '다이아몬드(추레라)피견인차', '트레라', '세미트레라', '트레일러',
       '세미트레일러', '쎄미트레라', '일산 육륜', '히노 트레라', '피견인차(탱크로리)', '히노탱크로리트레라',
       '히노탱크로리', '코티나마크IV', '후소트레일러', '가와사끼샤시(세미트레일러)', '도큐트레일러',
       '세미 트레일러', '콘테이너샤시콤바인', '콘테이너샤시트레일러', '인터내쇼날트레일러', '추레라',
       '프렛트홈트레일러콤바인', '프렛트홈트레라콤바인', '제너럴트레일러', '아시아AM707중형버스',
       '훌러하프탱크추레라', '후루하프트레라', '드라어  추레라', '현대708콘테이너전용트레일러', '인타담프',
       '동아저상식트레일러', '저상식트레일러', '브리샤2', '추레라(피견인차)', '도큐사요트레러', '새한버스',
       '다이하스웨곤', '스트리크트레일러샤시', '프랫트홈트레일러콤바인', '세미25톤트레일러', '탱크로리트레라',
       '도요다웨곤엠브란스', '도요다크라운', '추례라', '진도콤비네이션콘테너샤시', '쎄미트레일러', '로얄살롱',
       '도요다코로나', '스텔라', '스텔라1.6CXL', '골드호퍼트레일러', '대우11톤카고',
       '현대401드롭배드트레일러', '대우8톤카고', '맥스디젤삼방', '현대리어엔진버스', '대우26톤드롭베스트레일러',
       '포니2', '동아덤프트레일러', '도요다크라운로얄싸롱', '현대구즈넥콘테이너트레일러', '현대평판트레일러',
       '현대20KL스텐탱크트레일러', '23톤구즈넥덤프트레일러', '구즈넥콘테이너샤시', '26톤드톱베드트레일러',
       '구급차(도요다)', '현대콘테이너트레일러', '동아콘테이너샤시', '진도구즈넥콘테이너샤시', '진도프레트폼트레일러',
       '진도20피드콘테이저샤시', '25M3벌크시멘트트레일러', "현대45'익스텐션콘테이너트", '벤즈230E',
       '진도구즈넥슬라이더콤비샤시', '프레스토오토매틱', '르망펜타-5', '진도콤비네이션콘테이너샤시', '스텔라오토매틱',
       '엑셀', '벤즈 230E', '진도구즈넥슬라이더콘테이너', '동아콘테이너샤시콤바인', '캐피탈',
       '로얄살롱2.0AT', '르망', '현대45`익스텐션콘테이너트', '현대45,익스텐션콘테이너트',
       '25M3벌크트레일러', '23M3 벌크트레일러', '머큐리 세이블', '트레일러  프렛홈형',
       '디엠티 탱크 트레일러', '복사14', 'HYUNDAI PRESTO', '미래40피트콤비네이션콘테이너샤시',
       '도요타 프리우스(하이브리드)', 'TOYOTA CAMRY하이브리드', '보트트레일러', '장보고 보트 트레일러',
       '동우 가변형 평판트레일러', 'XW300', '대한평판트레일러', '대한콤비컨테이너트레일러',
       '바인스베르크400LK캠핑트레일러', '미래40피트틸팅컨테이너샤시', '소노마캠팡트레일러',
       '에어스트림탐지견수송트레일러', '이보1850캠핑트레일러', 'RW300', 'WSR레저장비운송트레일러',
       '트레일마스터보트트레일러', '제니스5캠핑트레일러', 'ALTEA542캠핑트레일러', '트레일러-LMTV',
       '카고 트레일러', 'TRAILER CARGO LMTV', 'D.K트레일러', 'FEISHEN일반화물운송트레일러',
       'SID 500 F1', '카라반KUS2960평판트레일러', '밤챔버용 트레일러', '아우토니드이동가축관리트레일러',
       '렉스온캠핑트레일러', '포레스트리버캠핑트레일러', '홍성푸드트레일러', '펜트(FENDT)캠핑트레일러',
       '밀폐형 방폭트레일러(DynaSEALR X10 LTR on Trailer)', '홍성캠핑트레일러',
       '아드리아(ADRIA)캠핑트레일러', '트리가노(TRIGANO)스탈렛캠핑트레일러', '엘디스(ELDDIS)캠핑트레일러',
       '베일리(BAILEY)캠핑트레일러', '바인스버그(WEINSBERG) 캠핑트레일러', '미래40피트평판트레일러',
       '타버트(TABBERT)캠핑트레일러', '씨티인터내셔널캠핑트레일러'], dtype=object)

In [43]:
set(tot2.loc[tot2['연료'].isnull() == True, '차명'].unique())

{nan,
 '정온쉘터캠핑트레일러',
 '세이프스타싸인보드트레일러',
 '동우8미터평판트레일러',
 'ALTEA 542 캠핑트레일러',
 '투데이3축25톤평판트레일러',
 '한특20피트컨테이너샤시',
 '천지가변형철판운송트레일러',
 'OMK-BS21보트트레일러',
 '케이원24.5kl탱크트레일러',
 '티피글로텍12.5톤차량운송풀트레일러',
 '알리제캠핑트레일러',
 '미래40피트가변형틸팅평판트레일러',
 "성공40'평판트레일러",
 '40평판트레일러',
 '에스알브이이동촬영트레일러',
 '퍼시픽소노마12RB캠핑트레일러',
 'FFB53M^3벌크트레일러',
 '대운캠핑트레일러',
 '선진차량수송세미트레일러',
 '로하카트렌스포터트레일러',
 '대흥25.5톤저상트레일러',
 '카이트알브캠핑트레일러',
 '두성13M 평판트레일러',
 '20톤저상트레일러',
 '대흥 가변식저상트레일러',
 'BK레저장비운송트레일러',
 '지원수난소방장비운송트레일러',
 '우인모빌푸드트레일러',
 '알텍 컨테이너 센터축 트레일러',
 'DA저상슬라이딩 트레일러',
 '유엘피 13톤 가변형 저상트레일러',
 '현대24KL탱크트레일러',
 '뉴에너지레저장비운송트레일러',
 'SM캠핑장비운송트레일러',
 '카막(KAMAG)모듈트레일러',
 'BOECKMANN마필운송트레일러',
 '트리가노(TRIGANO)레저장비운송트레일러',
 '컴퍼트(COMFORTS)이동화장실트레일러',
 '카라반WCE2200보트트레일러',
 '대한40BFLS콤비구즈넥트레일러',
 '미래 40피트 평판트레일러',
 'ETRV넥서스(NAXUS)캠핑트레일러',
 'VOLVO S60',
 '세진18㎥덤프트레일러',
 '대지32㎘탱크트레일러',
 'WSR레저장비운송트레일러',
 '투데이27.5KL액화질소탱크트레일러',
 '케이원23.3톤저상트레일러',
 '13000L가스튜브트레일러',
 'EZ LOADER 보트 트레일러',
 'BUICK LESABRE',
 'SHP3축 저상트레일러',
 '대한25톤가변형평판트레일러',
 '제이코(JAYCO)폴딩캠핑트레일러',
 '대양5톤가변형저상트레일러',
 'COCHET이륜차운송트레일러',
 '신광암벽등반체험트레일러',
 'ALTEA390 캠핑카라반 트레일러',
 '제이코(JAYCO)허밍버드17FD캠핑트레일러',
 '진도구즈넥콤비콘테이너샤시',
 '미래25피트 콘테이너 샤시',
 'CORBIN캠핑트레일러',
 '경기모빌 일반화물운송 트레일러',
 'FANGZHOU캠핑트레일러',
 '인정P.T.A.벌크트레일러',
 '대흥 내전압시험용 트레일러',
 '인타로벳트레라',
 '로우베드쎄미트레일러',
 '얼라이너 캠핑트레일러',
 'BMW Multi Trailer',
 '보고23피트평판트레일러',
 'D.K.레저장비운송용트레일러',
 '유엘피40피트 티핑샤시트레일러',
 '성안45㎥사료덤프트레일러',
 'MPK 오토바이 트레일러',
 '루나(LUNAR)캠핑트레일',
 '정중25톤가변형저상트레일러',
 '명성9톤가변형저상트레일러',
 '다임29㎘중질유탱크트레일러',
 '정중23톤평판트레일러',
 '케이원40FT콤바인콘테이너샤시',
 '다임16.6KL액화알곤탱크트레일러',
 '한국공항공사HWD도로진단트레일러',
 'JMTS0.3톤내장탑트레일러',
 '빛고을보트트레일러',
 '이안아르고시푸드트레일러',
 '비엔비푸드트레일러',
 '벌크트레일러',
 '보고34피트평판트레일러',
 '두성 40피트 평판트레일러',
 'RW400',
 '이안푸드트레일러',
 '쿨스펙STEMA카고트레일러',
 '동우12.5미터 가변형 평판트레일러',
 '은광캠핑트레일러',
 '보고42피트윙바디트레일러',
 '인정팜유탱크트레일러',
 'DK레저장비운송트레일러',
 '씨엔10톤차량운송트레일러',
 '캠핑플라자일반화물운송트레일러',
 '에스케이에프사인보드트레일러',
 'ESK 레저장비운송트레일러',
 '다임26.2㎥시멘트트레일러',
 '한성21.3톤윙바디트레일러',
 '대흥23.9톤저상트레일러',
 '티피글로텍16톤차량운송트레일러',
 '두성18.3KL탱크 트레일러',
 'MPK 다목적 3',
 '대은물류 코메토 모듈 트레일러',
 'DACHI캠핑트레일러',
 "현대20'/40'콤보콘테이너T/R",
 '풀하우스모빌일반화물운송트레일러',
 '데크항공폴딩캠핑트레일러',
 '인정45㎥사료덤프트레일러',
 'SALI406캠핑트레일러',
 '두리1단3축평판트레일러',
 'MPK 제트스키  트레일러 4',
 '정중40피트컨테이너운송트레일러',
 '리드글로벌12m가변형평판트레일러',
 '15톤훌트레일러',
 '피나클일반화물운송용트레일러',
 '제이티푸드트레일러',
 '두성 40FT 구즈넥 콘테이너샤시',
 '인정40피트콤비네이션샤시',
 'SHP55㎥티핑탱크트레일러',
 'ALINER캠핑트레일러',
 '유엘피 15톤 가변형 저상트레일러',
 '닛산실비아2.0',
 'ALTEA 542 캠핑 트레일러',
 'BAILEY캠핑트레일러',
 '티피20.5톤차량운송세미트레일러',
 'W-GO캠핑장비운송용트레일러',
 '한특 22톤 무진동 로우베드 트레일러',
 '영창58㎥호퍼트레일러',
 '경기모빌이동홍보물부착트레일러',
 '다임18KL 디엔티 탱크트레일러',
 'BENZ S500',
 '코메토 모듈 트레일러',
 '피나클레저장비운송트레일러',
 '스타티앤비보트트레일러',
 'ONYX캠핑트레일러',
 '대흥21.3톤평판트레일러',
 '나온22.5톤더블데크윙바디트레일러',
 '준팩토리레저장비운송트레일러',
 '바우텍풀트레일러',
 '한울캠핑트레일러',
 'IFOR WILLIAMS',
 '비앤테크그라나루24.5톤무빙워크트레일러',
 '설탕운반용세미트레일러',
 '인정20피트콘테이너샤시',
 '퍼시픽탱고20캠핑트레일러',
 '스즈끼',
 '인정23.9톤가변형평판트레일러',
 'JY이륜차운송트레일러',
 '타버트캠핑트레일러',
 '타버트비발디550E캠핑트레일러',
 '티앤티40피트콤비컨테이너운송트레일러',
 '한특40피트컨테이너운송트레일러',
 '코치맨 캠핑트레일러',
 '진도구즈넥슬라이드콤비네이션',
 '두성19.7톤LPG탱크트레일러',
 '원우트레일러',
 '다임압축수소운반트레일러',
 '퍼시픽이콘캠핑트레일러',
 '엠스토리지캠핑트레일러',
 '태영16륜 가변형 로우베드트레일러',
 '미래42피트윙바디트레일러',
 '케이원14.6톤가변형저상트레일러',
 '엠스토리지레저장비운송트레일러',
 '신화36㎥벌크트레일러',
 '스카이라인(SKYLINE)140캠핑트레일러',
 '카라도164L캠핑트레일러',
 '두성32㎥벌크트레일러',
 '걸프스트림코치캠핑트레일러',
 '디앨27.5KL액화질소탱크트레일러',
 '선광코메토모듈트레일러',
 '케이원30FT컨테이너운송트레일러',
 '미래15.7㎥아스팔트용액운송탱크트레일러',
 '광일0.7톤일반화물운송트레일러',
 'BASKENT캠핑트레일러',
 '짐캐리22.6톤가변형평판트레일러',
 '라인호모듈트레일러',
 '신화9.2톤차량운송풀트레일러',
 'BK드림인푸드트레일러',
 'VOLVO S80',
 '진도덤프트레일러',
 'BMW 328I',
 '글로솝(GLOSSOP)캠핑트레일러',
 '명성가변식20톤저상트레일러',
 '대양16륜가변형저상트레일러',
 '카라반이동식화장실차',
 '대흥18.5톤가변형저상트레일러',
 'ALPINA563캠핑트레일러',
 '워터랜드(WATERLAND)보트트레일러',
 '한원40B콤비콘테이너 트레일러',
 'LGS일반화물운송트레일러',
 '에어로라이트캠핑트레일러',
 '세진40FT컨테이너운송트레일러',
 '씨아이엠씨 20피트 디비컨테이너샤시',
 '대한40NBRLS평판트레일러',
 'VISION',
 'JK 13 이동판매트레일러',
 '동우38㎥벌크트레일러',
 '이슨(YIESON)음식물판매트레일러',
 '한성45피트가변형콘테이너운송트레일러',
 '수림19톤가변형평판트레일러',
 'MS캠핑트레일러',
 'TAXA레저장비운송트레일러',
 '대영인우드(IN WOOD)레저장비운송트레일러',
 '명성14.5톤저상트레일러',
 'KARAVAN보트트레일러',
 '대흥20톤가변형저상트레일러',
 '미래26㎘중질유탱크트레일러',
 '락우드(ROCKWOOD)캠핑트레일러',
 '진도경질유탱크트레일러',
 '미래40피트구즈넥컨테이너샤시',
 '24KL연료탱크트레일러',
 '한원40A구즈넥트레일러',
 '대욱가변형저상트레일러',
 '대흥24.9톤저상트레일러',
 '렉스온일반화물운송트레일러',
 '조은자동차450캠핑트레일러',
 '챔피언보트트레일러',
 '키스톤(KEYSTONE)캠핑트레일러',
 '두성42㎥벌크트레일러',
 '한특20M슬라이드평판트레일러',
 '크나우스빌크450HTD캠핑트레일러',
 '산들바차폐함트레일러',
 '두성20톤LPG탱크트레일러',
 '아우토니드마필운송트레일러',
 '인정34㎥알루미늄벌크트레일러',
 '세진24.1톤가변형평판트레일러',
 '두성30.5㎥벌크트레일러',
 '윤슬레저장비운송트레일러',
 '미드웨스트보트트레일러',
 'LA MANCELLE캠핑트레일러',
 '다임28.8KL아스팔트탱크트레일',
 '동우40ft구즈넥 콘테이너샤시',
 '다원코일운송트레일러',
 'M보트트레일러',
 '명성14톤가변식저상트레일러',
 '베나루52M^3탱크트레일러',
 '무스탕(MUSTANG)캠핑트레일러',
 '이든캠핑트레일러',
 '크나우스VIDA490HTD캠핑트레일러',
 '대한42A평판트레일러',
 '제이티커스텀 푸드트레일러',
 'MB보트트레일러',
 '한특40피트평판트레일러',
 '유엘피23.2톤저상트레일러',
 '수림30피트컨테이너운송트레일러',
 '미래레저장비운송트레일러',
 '에어밴롤테이너화물운송트레일러',
 '레스포(RESPO)일반화물운송트레일러',
 '노면측정용트레일러',
 '한특12륜 슬라이드 로우베드 트레일러',
 '수림15.2톤저상트레일러',
 'HUMBAUR평판트레일러',
 'JS보트트레일러',
 '캠핑캠퍼캠핑트레일러',
 '이클립스(ECLIPSE)캠핑트레일러',
 '미래40피트구즈넥 콘테이너 샤시',
 '현대차량수송트레일러',
 '설탕운반탱크트레일러',
 'SHP3축24톤저상트레일러',
 '한특25피트 컨테이너샤시',
 '인정40피트 티핑 샤시 트레일러',
 "한진40'구즈넥콘테이너샤시",
 '두성17.9KL EMULSION탱크트레일러',
 '트라마카고2900',
 '동우가변형 평판 트레일러',
 '비에프엘둥지390레저장비운송트레일러',
 '케이엔티티차량수송트레일러',
 '다임34㎥탄산칼슘벌크트레일러',
 'BJT일반화물운송트레일러4M',
 '대한구즈넥트레일러',
 '케이원20FT덤핑컨테이너샤시',
 'NISSAN MURANO',
 '스타라인푸드트레일러',
 '제이티커스텀일반화물운송트레일러',
 '리버티마스터M일반화물운송트레일러',
 'MERCEDES-BENZ R-CLASS 3500',
 '다임40피트콤비네이션콘테이너샤시',
 '인정53M^3벌크트레일러',
 '수림30피트구즈넥컨테이너샤시',
 '다임27.5M^3시멘트트레일러',
 'MERCEDES-BENZ S 500',
 '카이로스바이크트레일러',
 '마린블루보트트레일러',
 '미래40피트월트레일러',
 '제이티커스텀캠핑트레일러',
 '대한40A210구즈넥트레일러',
 'FAYMONVILLE가변형평판트레일러',
 '플릿우드(FLEETWOOD)캠핑트레일러',
 '스노우웨이브일반화물운송트레일러',
 '짐캐리40피트평판트레일러',
 '대흥가변형23톤저상트레일러',
 '씨엔40피트컨테이너운송트레일러',
 '한특30피트비닐파우다트레일러',
 'HUMBAUR화물운송트레일러',
 '벤츠190E',
 '한특23톤 무진동로우베드 트레일러',
 '도요다크라운로얄수퍼살롱',
 '브레너22000L탱크트레일러',
 '에스케이평판트레일러',
 '두성 34.1㎥ 벌크 트레일러',
 '보고40피트평판트레일러',
 '인정27.8M^3벌크트레일러',
 '트랙커마린보트트레일러',
 '인정3축슬라이드저상트레일러',
 '샤토(CHATEAU)캠핑트레일러',
 '케이원40피트 콤비네이션샤시',
 '명성연결트레일러',
 '두성28㎥비산회벌크트레일러',
 '지티캠프레저용트레일러',
 '인화14.5㎥불산탱크트레일러',
 '인정20/40피트콤비네이션샤시',
 'BMW 528I',
 'PINKAR캠핑트레일러',
 '캠핑카라반 레저장비운송트레일러',
 '한성22.6톤가변형저상트레일러',
 '진도구즈넥슬라이더콤비샤시',
 '대흥22.7톤저상트레일러',
 '삼부가변형로우베드트레일러',
 '프리무스',
 '인정2축모듈트레일러',
 '바인스버그카라원 480EU 캠핑트레일러',
 '카스보트트레일러',
 '두레특장일반화물운송트레일러',
 '인정53㎥티핑탱크트레일러',
 '강인캠핑트레일러',
 '캠프리버티오프로드캠핑트레일러',
 'IFOR WILLIAMS레저장비운송트레일러',
 '한이화물운송용트레일러',
 '카발로H2S캠핑트레일러',
 '국제1.9톤일반화물운송트레일러',
 '에어스트림캠핑트레일러',
 'YAKIMA자전거운송트레일러',
 '한성2단가변형저상트레일러',
 '현대15톤풀트레일레',
 '에볼루션 캠핑트레일러',
 'FIVE STAR BOAT TRL',
 'LEXUS RX330',
 '진도탱크트레일러',
 '성진캠핑트레일러',
 '프리글40FT 컨테이너 샤시',
 '현대26K탱크트레일러',
 '진도23피트컨테이너샤시',
 '케이원40피트컨테이너운송트레일러',
 'EZ-14보트트레일러',
 '혼다 CR-V',
 '다원버블레저장비운송트레일러',
 '케이원40피트구즈넥콘테이너샤시',
 '콘테이너샤시',
 '미라지(MIRAGE)일반화물운송트레일러',
 '인정52M^3벌크트레일러',
 '대흥 컨테이너샤시트레일러',
 'AVIVA400캠핑트레일러',
 '크나우스SUDWIND500KU캠핑트레일러',
 '씨티일반화물운송트레일러',
 '프루마(PLUMA)캠핑트레일러',
 '두성브렌다트레일러',
 '한특45피트컨테이너운송트레일러',
 '알브이카고트레일러',
 '나온20피트센터차축트레일러',
 '조은도로지반측정장비트레일러',
 '인정44㎥우드펠릿운송트레일러',
 '진도45피트컨테이너샤시',
 '명성15.5톤가변형저상트레일러',
 '석영3축로우베드트레일러',
 'UTAH 캠핑트레일러',
 '미래20피트틸팅컨테이너샤시',
 '트랙커마린 보트트레일러',
 '복스웨곤',
 '우진일반화물운송용트레일러',
 '보고10.6M재활용품운송트레일러',
 '비스너캠핑트레일러',
 '미래폴딩캠핑트레일러',
 '두성 50㎥ 사료 호퍼 트레일러',
 '미니라이트2104S캠핑트레일러',
 'MERCEDES-BENZ E-CLASS',
 '다임29KL보온탱크트레일러',
 '통진22.9톤윙바디트레일러',
 '대한레저장비운송트레일러',
 '마린아트0.5톤평판트레일러',
 'COLEMAN 캠핑트레일러',
 '케이원21톤가변형저상트레일러',
 '투데이콤바인26피트운송트레일러',
 '준이엔지일반화물운송트레일러',
 '현정25M^3시멘트트레일러',
 '선진40피트평판트레일러',
 '두성32㎥비산회벌크트레일러',
 '우연스틸일반화물운송트레일러',
 'BJT일반화물운송트레일러5.0m',
 '다임19.5톤액화탄산트레일러',
 '진도10톤풀트레일러',
 '정우24㎘탱크트레일러',
 'SWIFT캠핑트레일러',
 'SHP3축1단13.5톤저상트레일러',
 '케스보러 콤비 트레일러',
 '한성34㎥탄산칼슘벌크트레일러',
 'FORD MUSTANG',
 '두성16㎥덤프트레일러',
 '캠핑트레일러',
 'D.K화물트레일러',
 'KCD일반화물운송트레일러',
 '대아레저장비운송트레일러',
 '일신40피트평판트레일러',
 '누리레저장비운송트레일러',
 '아시아19M풀트레일러',
 '대흥23톤가변형저상트레일러',
 '호야ATV운송트레일러',
 '현대26톤평판트레일러',
 '호야일반화물운송트레일러',
 'AT500',
 '윤슬캠핑트레일러',
 '두성 라투스타캠핑캐라반',
 '두성20.3톤LPG탱크트레일러',
 'AIRSTREAM캠핑트레일러',
 '두성8.3톤윙바디센터트레일러',
 '명수리이동공기충전트레일러',
 '한성30㎥벌크트레일러',
 'G5캠핑트레일러',
 '한성32㎥벌크트레일러',
 '바우텍덤프트레일러',
 '한특40피트티핑트레일러',
 '상전브랜다트레일러',
 '디앨34㎥탄산칼슘벌크트레일러',
 '애스오디 보트 트레일러',
 '반도카고트레일러',
 '카울넷이동판매트레일러',
 '아시아벌크시멘트트레일러',
 '선경마린TR111레저장비운송트레일러',
 '정중23KL물탱크트레일러',
 'MPK 제트스키트레일러',
 '삼부로우베드슬라이드트레일러',
 '제우릴리카고트레일러',
 '현정40피트구즈넥콘테이너샤시',
 '미래34피트평판트레일러',
 '미래40피트 콤비라인 샤시',
 '짐캐리8.8톤저상트레일러',
 '트레일보스 보트트레일러',
 'MAZDA SENTA',
 '두성37.5㎥벌크트레일러',
 '제이와이일반화물운송트레일러',
 '인천더블축카고트레일러',
 '대신 가변식 저상트레일러',
 '다임20㎘액화질소탱크트레일러',
 '진도40피트 구즈넥 컨테이너샤시',
 '엠티보트운송트레일러',
 '무수프탈산탱크트레일러',
 '코펙테크노보트트레일러',
 '31200L알루미늄탱크트레일러',
 'HUMBAUR말트레일러',
 '한특22.4톤 무진동 로우베드 트레일러',
 '빅토리캠핑트레일러',
 '한특30피트티핑컨테이너샤시',
 '진도15톤 풀 트레일러',
 '두성0.3톤일반화물운송트레일러',
 '볼보',
 'SHP2축저상트레일러',
 '펜트 사파이어 캠핑트레일러',
 '흥국유황탱크트레일러',
 '제이엠로베드트레일러',
 '리드글로벌24.8톤평판트레일러',
 '휴먼사인보드트레일러',
 '두성39.9㎥벌크트레일러',
 '두성24KL EG탱크트레일러',
 '캔올스트랙타',
 '동우 40피트 평판 트레일러',
 "현정40'평판트레일러",
 'DYNAWELD',
 '서울보레식G.M.C',
 '두성40피트가변형평판트레일러',
 'BMW 5SERIES',
 '신화가변형평판트레일러',
 'EZ LODER보트트레일러',
 '성진텍전파측정트레일러',
 '제이코(JAYCO)18FDB캠핑트레일러',
 'TECHAU보트트레일러',
 '인정12M평판트레일러',
 '락우드1940폴딩트레일러',
 '진도22.5톤저상트레일러',
 '두성41㎥벌크트레일러',
 '동우20피트티핑컨테이너운송트레일러',
 'SHP2축26톤저상트레일러',
 '성안19㎥경량화물덤프트레일러',
 '훔바워(HUMBAUR)일반화물운송트레일러',
 '두성스포츠캠핑카라반',
 '산들바캠핑트레일러',
 'SHP사료벌크트레일러',
 'KIP캠핑트레일러',
 '트라마윙바디트레일러',
 'SHP3축17.4톤저상트레일러',
 'IFOR WILLIAMS마필운송트레일러',
 'TOYOTA 4-RUNNER',
 '대한30피트AG구즈넥트레일러',
 '레트로150캠핑트레일러',
 '장보고 630 보트트레일러',
 '아비(ABI)캠핑트레일러',
 '정우36KL경질나프타탱크트레일러',
 '성안55㎥진개덤프트레일러',
 '현대17톤트레일러',
 '두스포츠캠핑트레일러',
 '대양21.2톤가변형저상트레일러',
 '대신20.6톤가변식저상트레일러',
 '한국특장기술캠핑트레일러',
 '인정40피트원목트레일러',
 '한특40피트가변형평판트레일러',
 '한성19.5톤가변형저상트레일러',
 'RW500',
 '팔로미노캠핑트레일러',
 '미래코일운송트레일러',
 '동우 40피트 평판트레일러',
 '다임 24㎘ 에틸렌글리콜 트레일러',
 '대한40A210평판트레일러',
 '트리가노오딧세이',
 '에타일반화물운송트레일러',
 '태영가변식로우베드',
 '비스너Flipper480캠핑트레일러',
 '신흥PA탱크트레일러',
 '인정알루미늄 평판트레일러',
 '한특40피트월(평판)트레일러',
 '대흥23.3톤저상트레일러',
 'HSH캠핑트레일러',
 '미래아스팔트용액운송트레일러',
 '카라반캐슬이동분장트레일러',
 '두성41M^3벌크트레일러',
 '익스플로러(EXPLORE)캠핑트레일러',
 'HOBBY캠핑트레일러',
 'CHEVROLET PRIZM',
 '크나우스스포츠450캠핑트레일러',
 '스위프트(SWIFT)510캠핑트레일러',
 '한특 40피트 냉동밴 트레일러',
 '드비앙캣츠밴캠핑트레일러',
 '한특43피트평판트레일러',
 '대한40BRL콤비구즈넥트레일러',
 '씨아이엠씨 40피트3축 경평판트레일러',
 'LEXUS RS330',
 '베일리(BAIELY)캠핑트레일러',
 '플레그스테프 폴딩 캠핑트레일러',
 "30'탱크콘테이너샤시",
 '한성11미터3축평판트레일러',
 '반도구즈넥트레일러',
 '대한40BLR콤비컨테이너트레일러',
 '트래블라이트(TRAVELLITE)캠핑트레일러',
 '엔케이40피트컨테이너샤시',
 '정립레저장비운송트레일러',
 '리프트 화물트레일러',
 '현대3톤트럭',
 '동우 15.3KL 탱크트레일러',
 '알텍 콤비 컨테이너 샤시 트레일러',
 '마차캠핑트레일러',
 '한차차량운송센터차축트레일러2',
 '탱크27.4KL탱크트레일러',
 '두성 이동식 발전기 트레일러',
 '아라씨앤티캠핑트레일러',
 '헬륨가스운반트레일러',
 'DEFA캠핑트레일러',
 '형제산업2.1톤차량운송트레일러',
 '카고트레일러',
 '인진콤비라인 콘테이너샤시',
 '포레스트리버2104S캠핑트레일러',
 '담프트레라',
 '썬라이즈1.5톤일반화물운송트레일러',
 '벤즈',
 'ROADMASTER레저장비운송트레일러',
 '아드리아AVIVA370캠핑트레일러',
 '세방카막 모듈트레일러',
 '운신(UNSINN)중장비운송트레일러',
 '인정에틸렌글리콜탱크트레일러',
 '골드호퍼',
 'SOD 카고트레일러',
 '인정41㎥사료덤프트레일러',
 '다임24㎘에틸렌글리콜탱크트레일러',
 '희대32000L옥탄올탱크트레일러',
 '신화23톤평판트레일러',
 '동우40피트콘테이너덤핑샤시',
 '드래곤40피트구즈넥컨테이너운송트레일러',
 'HOBBY540KMFE프리미엄캠핑트레일러',
 '오에이치캠핑트레일러',
 '한특20톤우드칩트레일러',
 '한특센터차축트레일러',
 '동우20피트내장탑트레일러',
 '동우32㎥ 벌크트레일러',
 '상전15KL AP탱크트레일러',
 '세진21.5톤가변형저상트레일러',
 '칼슨일반화물운송트레일러',
 '유엘피40피트티핑컨테이너운송트레일러',
 '픽슨0.2톤일반화물운송트레일러',
 '투데이구즈넥콤비더블샤시',
 '한원40평판트레일러',
 '리드글로벌8미터평판트레일러',
 '동우16㎘ 탱크 트레일러',
 '한특20피트컨테이너트레일러',
 'MPK ATV트레일러',
 '태영가변형저상트레일러',
 '시보레',
 'TIEE보트트레일러',
 'KEYSTON캠핑트레일러',
 '두레캠핑트레일러',
 '미래25피트콘테이너샤시',
 'AVONDALE캠핑트레일러',
 'EXPLORER캠핑트레일러',
 'MF일반화물운송트레일러',
 '조인이동판매트레일러',
 '흥국32KL탱크트레일러',
 '팀알브이캠핑트레일러',
 '동우가변형20톤철판운송트레일러',
 '비앤테크HRD45피트가변형컨테이너운송트레일러',
 '미래25피트 콘테이너샤시',
 '영남보트트레일러',
 '럭키스타캠핑트레일러',
 'SM푸드트레일러',
 '조르지평판트레일러',
 '프로캠프(PROCAMP)캠핑트레일러',
 '한성21.8톤가변형저상트레일러',
 '트랜스테크레저장비운송트레일러',
 '수림22.5톤윙바디트레일러',
 'HONDA PILOT',
 '대한20피트25톤티핑컨테이너운송트레일러',
 '세진34㎥탄산칼슘벌크트레일러',
 '씨엔8톤차량수송풀트레일러',
 '신흥20M3무수푸탈산탱크트레일',
 '대한30피트구즈넥트레일러',
 '두성푸드트레일러',
 '블루버드 레인저캠핑트레일러',
 '깨비EYE사인보드트레일러',
 '다임20㎘액화산소탱크트레일러',
 '진도덤프탱크트레일러',
 '우주슬라이딩저상트레일러',
 '제이스포츠 캠핑트레일러',
 'HOBBY495UFE캠핑트레일러',
 '세진33.3㎥탄산칼슘벌크트레일러',
 '보고33피트평판트레일러',
 'DETHLEFFS씨고515캠핑트러일러',
 '우라노스 말 트레일러',
 '조인수입차평판트레일러',
 '한특21㎘액화질소트레일러',
 '와이낫일반화물운송트레일러',
 '인정D.M.T.탱크트레일러',
 '캠핑플라자캠핑트레일러',
 '대흥22.3톤가변형저상트레일러',
 'BRIAN일반화물운송트레일러',
 '브랙스턴(BRAXTON)캠핑트레일러',
 '샤토크리스톨(CRISTALL)캠핑트레일러',
 '투데이20KL액화탄산탱크트레일러',
 '스토리지웍스레저장비운송트레일러',
 '인정40피트콘테이너샤시트레일러',
 '두성31.5M^3벌크트레일러',
 '셀리카-GT',
 'ADIVA 512 캠핑트레일러',
 '우신테크 싸인보드 트레일러',
 '450FC보트트레일러',
 '명성13.7톤가변형조향저상트레일러',
 '한특25kl 액화에틸렌 탱크트레일러',
 '에어밴일반화물운송트레일러',
 '아본데일 캠핑트레일러',
 '시온캠핑트레일러',
 '한특20.5톤냉동탑트레일러',
 '발비(BALBI)보트트레일러',
 '미래로우베드트레일러',
 '코만치 SPIT-150',
 '세바진공노면청소트레일러',
 '투데이10M평판트레일러',
 '두성 가변형 평판트레일러',
 'OMK-99AD보트트레일러',
 '레저카라반캠핑트레일러',
 'KEYSTONE캠핑트레일러',
 'BMW',
 '두성25.2톤호퍼트레일러',
 '현대벌크탱크트레일러',
 '한국특장카고트레일러',
 'FORD ESCAPE',
 '이든',
 '레인저 C2072 보트트레일러',
 '대흥21.4톤저상트레일러',
 '세진23.1톤가변형평판트레일러',
 '세진가변형20톤철판운송트레일러',
 '씨아이엠씨 40피트 구즈넥샤시',
 '두성40피트 평판 트레일러',
 '남경21.8톤가변형평판트레일러',
 '특수사고대응다목적제독트레일러',
 'RX7',
 '후루하프트레라',
 '흥국20피트콘테이너샤시트레일러',
 '보고가변형저상트레일러',
 '신화42피트평판트레일러',
 '엔엔에이치레저장비운송트레일러',
 '우진2.2톤일반화물운송트레일러',
 '현정알루미늄게이트트레일러',
 '명성평판트레일러',
 '두성44㎥벌크트레일러',
 '한특40피트 티핑컨테이너샤시',
 '명성13.2톤가변식저상트레일러',
 '퍼시픽17UL캠핑트레일러',
 '한성36.4㎥벌크트레일러',
 '현정차량수송트레일러',
 '엠닉스장비운송트레일러',
 'ITS힐랜더카고트레일러',
 '현대다목적평판트레일러',
 '세진36㎥벌크트레일러',
 '직산(JIEXIAN)푸드트레일러',
 '대영인우드레저장비운송트레일러',
 'SHP 1단 슬라이드 평판 트레일러',
 '화인사인보드트레일러',
 '아메리카RV임포트레저장비운송트레일러',
 '인정가변형철판운송트레일러',
 '대한40A 210평판트레일러',
 '세진23.3톤가변형평판트레일러',
 'NEXTRAIL보트트레일러',
 'Ace One 430DL 캠핑트레일러',
 '동우42.7㎥벌크트레일러',
 '투데이40피트구즈넥콤비컨테이너트운송트레일러',
 '캠핑in레져HC1캠핑트레일러',
 'BMW530I',
 '고대21톤가변식평판트레일러',
 '와이앤지45피트가변형컨테이너운송트레일러',
 '한성40피트3축평판트레일러',
 '양승영팰리밴캠핑트레일러',
 'MPK제트스키 트레일러6',
 '대신18톤가변형저상트레일러',
 '석영21톤로우베드트레일러',
 '다임26.2㎥시멘트 트레일러',
 '쇼랜드 보트운송 트레일러',
 '태영16륜무진동로우베드트레일러',
 'YJ1950캠핑트레일러',
 '세진25톤선재운송트레일러',
 '한성22톤가변형저상트레일러',
 '다찌람밴',
 '말트레일러(Horse trailer)',
 'FAYMONVILLE저상형트레일러',
 '신흥24KL이지탱크트레일러',
 '신화26톤코일운송트레일러',
 '한특12미터월트레일러',
 '마레레저장비운송트레일러',
 '리드글로벌23.1톤가변형평판트레일러',
 '인정29,000L중질유탱크트레일',
 '알텍 3-PTC 트레일러',
 '카츠로보츠보트트레일러',
 '펜트540SG캠핑트레일러',
 '성안32㎥경량화물덤프트레일러',
 '광일카누운송트레일러',
 '조인보트트레일러',
 '짐캐리40피트가변형평판트레일러',
 '금강푸드트레일러',
 '피디엘냉장윙바디트레일러',
 '대신16.7톤가변형저상트레일러',
 '쇼랜드사륜형이륜차운송트레일러',
 '트라마트레일러',
 '명성저상 트레일러',
 '보고34FT평판트레일러',
 'MG2.4톤차량운송트레일러',
 'AJAX일반화물운송트레일러',
 '금강화물운송용트레일러',
 '미래30피트콤비네이션샤시',
 'B N S보트트레일러',
 '바인스베르크 캠핑트레일러',
 '인정20톤로우베드트레일러',
 '마레일반화물운송용트레일러',
 '에어밴레저장비운송트레일러',
 '동우 가변형 12.2미터 철판 운송트레일러',
 '대신17.2톤가변형저상트레일러',
 '대흥23톤저상트레일러',
 '인정26.9톤알루미늄평판트레일러',
 'JAYCO 캠핑트레일러',
 '씨티캠핑트레일러',
 'CAPRON캠핑트레일러',
 '노바캠핑트레일러',
 '크나우스타버트캠핑트레일러',
 '농질산탱크트레일러',
 'JM 평판트레일러',
 '한특20m슬라이드평판트레일러',
 '트라마카고750',
 '스위프트(Swift)캠핑트레일러',
 '네오오토캠핑트레일러',
 'ZOOM캠핑트레일러',
 '세진40FT콤비컨테이너운송트레일러',
 '코티나디럭스',
 'HOBBY540KMFePremium캠핑트레일러',
 '31,200L알루미늄탱크트레일러',
 '동우 가변형 평판트레일러',
 '대한액화탄산가스트레일러',
 '와이앤지3축가변형저상트레일러',
 '위드글로벌ATV운송트레일러',
 '앨디스(ELDDIS)캠핑트레일러',
 'DUNSTER캠핑트레일러',
 '영창56㎥티핑탱크트레일러',
 '한특40피트구즈넥컨테이너샤시',
 '리드글로벌메가텍40피트가변형평판트레일러',
 '듀오탑이동극장트레일러',
 '신안22톤윙바디트레일러',
 '코지일반화물운송트레일러',
 '명성가변형저상트레일러',
 '다임22KL액화에틸렌탱크트레일',
 '투데이45피트가변형컨테이너운송트레일러',
 '케이원40FT컨테이너운송트레일러',
 '애본데일(AVONDALE)캠핑트레일러',
 '현대게이트트레일러',
 '한특37㎥액화천연가스탱크트레일러',
 '태영3축로우베드트레일러',
 '26톤드롭베드트레일러',
 '비스너프레미오캠핑트레일러',
 'PACE화물운송트레일러',
 '마린시트메탈레저장비운송트레일러',
 '현대카고트레일러',
 '21.5톤저상트레일러',
 'LIANGSHAN저상트레일러',
 '그린파이프 캠핑 트레일러',
 'AMARA500TS',
 '트레라',
 'MPK 제트스키 트레일러2',
 '피닉스보트트레일러',
 '성우홍보장비수송차',
 'MPK 화물트레일러',
 '미래20피트 FULL트레일러',
 '에스알브이캠핑트레일러',
 'RV LAND 283윙바디트레일러',
 '신화21.5톤가변형평판트레일러',
 'ABI 캠핑트레일러',
 '누리레져장비운송트레일러',
 '성진전파측트레일러',
 '성진마필운송트레일러',
 '클라임 암벽등반체험 트레일러',
 '두성40FT구즈넥콘테이너샤시',
 'LS캠핑트레일러',
 '탱크14.5㎘ 유황운송보온탱크트레일러',
 '수림40피트평판트레일러',
 '닷지',
 '정중18톤가변형평판트레일러',
 'THRUN-EICKER캠핑트레일러',
 'ALTEA542DK캠핑트레일러',
 'TEMARED2톤차량운송트레일러',
 '인정25㎥벌크트레일러',
 '신진22톤로우베드트레일러',
 '대흥18.1톤가변형저상트레일러',
 '대흥25톤가변형저상트레일러',
 '인정45M^3사료운반트레일러',
 '개러지암벽등반체험트레일러',
 '우신사인보드트레일러',
 '램린(RAMLIN)보트트레일러',
 '두성26.5M3벌크트레일러',
 '플리트우드캠핑트레일러',
 '인정40피트월트레일러',
 '정중19.8톤가변형평판트레일러',
 'DODGE NEON SXT',
 '장보고 보트 트레일러',
 '제일모빌캠핑트레일러',
 'CHALET ALPINE캠핑트레일러',
 'LEXUS ES330',
 '인정4축모듈트레일러',
 '크나우스빌크490UE캠핑트레일러',
 '캠프리버티광개토S레저장비운송트레일러',
 '인정26톤로우베드트레일러',
 '조은자동차일반화물운송트레일러',
 '리빈라이트레저트레일러',
 '아메리칸이동판매트레일러4800',
 '엠씨이엔지레저장비운송트레일러',
 '코치맨캠핑트레일러',
 '미래34피트 평판트레일러',
 '명성13톤가변형저상트레일러',
 '마레일반화물운송트레일러',
 '하이랜더일반화물운송트레일러',
 '안전기업모듈트레일러',
 '성공9.5M평판트레일러',
 '한특26.5톤로우베드트레일러',
 '엠에스텍소방안전체험트레일러',
 '동우 가변형 철판 운송트레일러',
 '흥국40피트티핑샤시트레일러',
 '동아유류탱크트레일러',
 '동우가변형저상트레일러',
 '두성27.7㎥벌크트레일러',
 '씨레사캠핑트레일러',
 '한특27.5㎥액화질소탱크트레일러',
 '두성17KL 탱크 트레일러',
 '금강이동판매트레일러',
 '월드콥터레저장비운송트레일러',
 '흥국30㎘중질유탱크트레일러',
 'NEW 그랜저XG',
 '진명25톤저상트레일러',
 '팬저푸드트레일러',
 '선진캠핑트레일러',
 '두성18.3KL경질탄산칼슘탱크트레일러',
 '진도구스넥콤비콘테이너샤시',
 '코발트캠핑트레일러',
 'MAGIC TILT보트트레일러',
 '트리톤(TRITON)보트트레일러',
 '카올넷일반화물운송트레일러',
 '허브일반화물운송트레일러',
 '스캠프(SCAMP) 캠핑트레일러',
 '실버크릭캠핑트레일러',
 '블랙커스텀캠핑트레일러',
 '탱크26.5KL탱크트레일러',
 '한특27피트평판트레일러',
 '신화4축가변형평판트레일러',
 '카라반르몽드캠핑트레일러',
 '아시아차량운반트레일러',
 '락우드(ROCKWOOD)폴딩캠핑트레일러',
 '한차차량운송세미트레일러',
 'CHRYSLER 300 LTD',
 '프리겔 45FT 슬라이드 컨테이너 샤시',
 '쓰리독(3DOG)폴딩캠핑트레일러',
 '소나타',
 '뱅가드(VANGUARD)캠핑트레일러',
 '박쌤스터디일반화물운송트레일러',
 '코만치 COMPACT',
 '한특19.5M슬라이드사이드티핑평판트레일러',
 '리드글로벌13미터가변형평판트레일러',
 '허미티지',
 '한성13.8㎥수소가스운송트레일러',
 '현정40피트평판트레일러',
 '한성30피트컨테이너운송트레일러',
 '크나우스탭캠핑트레일러',
 '두성17㎥덤프트레일러',
 '팀알브이이동분장트레일러',
 '짐캐리4축2단가변형평판트레일러',
 '케스보러콤비트레일러',
 '비스너NORDIC캠핑트레일러',
 '우진보트트레일러',
 '수림40피트구즈넥컨테이너샤시',
 '명성6톤풀트레일러',
 '리드글로벌40피트컨테이너운송트레일러',
 '한원40A콤비구즈넥트레일러',
 '모루이동발전트레일러',
 '한성57㎥티핑벌크트레일러',
 '렉스온푸드트레일러',
 'CHRYSLER HEMI AWD',
 '태영파이프수송모듈트레일러',
 '두성19.6KL MDI탱크트레일러',
 '프로스타말트레일러',
 '다임29.1㎘아스팔트용액트레일러',
 '한원40피트구즈넥트레일러',
 '코지폴딩캠핑트레일러',
 'FORD FUSION',
 '미래40피트콤비컨테이너운송트레일러',
 '반도콤바인트레일러',
 'KM아스팔트보수트레일러',
 '성안18㎥3축덤프트레일러',
 '한특40피트 평판 트레일러',
 '다임20피트 콘테이너샤시',
 '영진고압탱크트레일러',
 'STOCKMAN일반화물운송트레일러',
 'SH보트트레일러',
 '다임56㎥ 호퍼 트레일러',
 '에스코트와이드카라반',
 '두성26M^32콘벌크트레일러',
 '보고36피트가변형평판트레일러',
 'FEISHEN레저장비운송트레일러',
 '한특23.5톤로우베드트레일러',
 '코메토 카고 트레일러',
 '명성10.7톤2단가변식조향트레일러',
 '포르쉐928S4',
 '캐스보로콤비트레일러',
 "현대20/40'콤보콘테이너샤시",
 '알텍 COMBI CTN CHASSIS 트레일러',
 '미래40피트틸팅 컨테이너 샤시',
 '이트니어트레라',
 '대신 가변식저상트레일러',
 '다임28.8㎘아스팔트트레일러',
 '흥국구즈넥콘테이너샤시트레일러',
 '한특20피트 컨테이너 샤시',
 '지상트레일러',
 '한차차량운송센터풀트레일러-03',
 '두성적십자재난구호트레일러',
 '크나우스(KNAUS)320캠핑트레일러',
 'BX400',
 '유엘피 22.5톤 저상트레일러',
 '보고10.2M윙바디트레일러',
 '스너그빌푸드트레일러',
 '대신16.5톤가변형저상트레일러',
 '맥스28.6㎥벌크트레일러',
 'Epic 캠핑트레일러',
 '보고14.9톤풀트레일러',
 '에이라이너캠핑트레일러',
 '두스포츠2.2평판트레일러',
 '한성43㎥티핑벌크트레일러',
 '케이에스메탈캠핑트레일러',
 'UT500',
 '다임26KL액화질소탱크트레일러',
 '두성35㎥벌크트레일러',
 '엔트나이어25톤저상트레이러',
 'CADILLAC CTS',
 '대한 가변식센터축평판트레일러',
 '에스디원동물운송트레일러',
 'BUICK CENTURY',
 '브랙스턴(BRAXTON)17FD캠핑트레일러',
 '한특29㎥ 액화에틸렌탱크트레일러',
 '라이카니레저장비운송트레일러',
 '팬츠 사파이어 캠핑 캐라반',
 'D-SIGN일반화물운송트레일러',
 '제이티커스텀자전거운송트레일러',
 '두성38㎥벌크트레일러',
 'CAPRON선라이트캠핑트레일러',
 '성환17㎥덤프트레일러',
 '대흥소형트레일러',
 'TEC 415 캠핑트레일러',
 '글램핑월드캠핑트레일러',
 '인정슬라이드평판트레일러',
 '엘엠씨(LMC)캠핑트레일러',
 ...}

In [25]:
tot2.loc[tot2['차명'] == '도요다웨곤엠브란스', '자동차형식']

7031    1980
Name: 자동차형식, dtype: object

In [31]:
tot2.loc[tot2['자동차형식'] == '1980', ['자동차형식', '연료', '차량연식']]

     자동차형식    연료  차량연식
7031  1980  기타연료  2004

In [26]:
tot2.loc[tot2['차명'] == '구급차(도요다)', '자동차형식']

41196    RX60
Name: 자동차형식, dtype: object

In [30]:
tot2.loc[tot2['자동차형식'] == 'RX60', ['자동차형식', '연료']]

      자동차형식    연료
41196  RX60  기타연료

In [27]:
tot2.loc[tot2['차명'] == 'SID 500 F1', '자동차형식']

17724634    C1U52
17726257    C1U52
17726669    C1U52
17726878    C1U52
17727321    C1U52
17727760    C1U52
17728964    C1U52
17728982    C1U52
17729089    C1U52
17730299    C1U52
17731012    C1U52
17731848    C1U52
17733750    C1U52
Name: 자동차형식, dtype: object

In [33]:
tot2.loc[tot2['자동차형식'] == 'C1U52', ['자동차형식', '연료', '차명', ]]

          자동차형식    연료          차명
17724634  C1U52  기타연료  SID 500 F1
17726257  C1U52  기타연료  SID 500 F1
17726669  C1U52  기타연료  SID 500 F1
17726878  C1U52  기타연료  SID 500 F1
17727321  C1U52  기타연료  SID 500 F1
17727760  C1U52  기타연료  SID 500 F1
17728964  C1U52  기타연료  SID 500 F1
17728982  C1U52  기타연료  SID 500 F1
17729089  C1U52  기타연료  SID 500 F1
17730299  C1U52  기타연료  SID 500 F1
17731012  C1U52  기타연료  SID 500 F1
17731848  C1U52  기타연료  SID 500 F1
17733750  C1U52  기타연료  SID 500 F1

In [35]:
car_name = [
    '미스비시샤시(세미트레일러)', #
    '다이아몬드(추레라)피견인차', #
    '트레라', #
    '세미트레라', #
    '트레일러', #
    '세미트레일러', #
    '쎄미트레라', #
    '일산 육륜', 
    '히노 트레라', #
    '피견인차(탱크로리)', #
    '히노탱크로리트레라', #
    '히노탱크로리', # 경유
    '코티나마크IV', # 휘발유
    '후소트레일러', #
    '가와사끼샤시(세미트레일러)', #
    '도큐트레일러', #
    '세미 트레일러', #
    '콘테이너샤시콤바인', #
    '콘테이너샤시트레일러', #
    '인터내쇼날트레일러', #
    '추레라', #
    '프렛트홈트레일러콤바인', #
    '프렛트홈트레라콤바인', #
    '제너럴트레일러', #
    '아시아AM707중형버스', # 경유
    '훌러하프탱크추레라',  #
    '후루하프트레라', #
    '드라어  추레라', #
    '현대708콘테이너전용트레일러', #
    '인타담프', # 경유
    '동아저상식트레일러', #
    '저상식트레일러', #
    '브리샤2', # 휘발유
    '추레라(피견인차)', #
    '도큐사요트레러', #
    '새한버스', # 경유
    '다이하스웨곤', # 휘발유
    '스트리크트레일러샤시', #
    '프랫트홈트레일러콤바인', #
    '세미25톤트레일러', #
    '탱크로리트레라', #

    '도요다웨곤엠브란스', # 경유

    '도요다크라운', # 휘발유
    '추례라', #
    '진도콤비네이션콘테너샤시', #
    '쎄미트레일러', #
    '로얄살롱', # 휘발유
    '도요다코로나', # 휘발유
    '스텔라', # 휘발유
    '스텔라1.6CXL', # 휘발유
    '골드호퍼트레일러', #
    '대우11톤카고', # 경유
    '현대401드롭배드트레일러', #
    '대우8톤카고', # 경유
    '맥스디젤삼방', # 경유
    '현대리어엔진버스', # 경유
    '대우26톤드롭베스트레일러', #
    '포니2', # 휘발유
    '동아덤프트레일러', #
    '도요다크라운로얄싸롱', # 휘발유
    '현대구즈넥콘테이너트레일러', #
    '현대평판트레일러', #
    '현대20KL스텐탱크트레일러', #
    '23톤구즈넥덤프트레일러', #
    '구즈넥콘테이너샤시', #
    '26톤드톱베드트레일러', #

    '구급차(도요다)', # 경유

    '현대콘테이너트레일러',  #
    '동아콘테이너샤시', #
    '진도구즈넥콘테이너샤시', #
    '진도프레트폼트레일러', #
    '진도20피드콘테이저샤시', #
    '25M3벌크시멘트트레일러', #
    "현대45'익스텐션콘테이너트", #
    '벤즈230E', # 휘발유
    '진도구즈넥슬라이더콤비샤시', #
    '프레스토오토매틱', # 휘발유
    '르망펜타-5', # 휘발유
    '진도콤비네이션콘테이너샤시', #
    '스텔라오토매틱', # 휘발유
    '엑셀', # 휘발유
    '벤즈 230E', # 휘발유
    '진도구즈넥슬라이더콘테이너', #
    '동아콘테이너샤시콤바인', #
    '캐피탈', # 휘발유
    '로얄살롱2.0AT', # 휘발유
    '르망', # 휘발유
    '현대45`익스텐션콘테이너트', #
    '현대45,익스텐션콘테이너트', #
    '25M3벌크트레일러', #
    '23M3 벌크트레일러', #
    '머큐리 세이블', # 휘발유
    '트레일러  프렛홈형', # 
    '디엠티 탱크 트레일러', #
    '복사14', # 경유
    'HYUNDAI PRESTO', # 휘발유
    '미래40피트콤비네이션콘테이너샤시', #
    '도요타 프리우스(하이브리드)', # 휘발유 하이브리드
    'TOYOTA CAMRY하이브리드', # 휘발유 하이브리드
    '보트트레일러', # 
    '장보고 보트 트레일러', #
    '동우 가변형 평판트레일러', #
    'XW300', # 
    '대한평판트레일러', #
    '대한콤비컨테이너트레일러', #
    '바인스베르크400LK캠핑트레일러', #
    '미래40피트틸팅컨테이너샤시', #
    '소노마캠팡트레일러', #
    '에어스트림탐지견수송트레일러', #
    '이보1850캠핑트레일러', #
    'RW300', #
    'WSR레저장비운송트레일러', #
    '트레일마스터보트트레일러', #
    '제니스5캠핑트레일러', #
    'ALTEA542캠핑트레일러', #
    '트레일러-LMTV', #
    '카고 트레일러', #
    'TRAILER CARGO LMTV', #
    'D.K트레일러', #
    'FEISHEN일반화물운송트레일러', #

    'SID 500 F1', # 

    '카라반KUS2960평판트레일러', #
    '밤챔버용 트레일러', #
    '아우토니드이동가축관리트레일러', #
    '렉스온캠핑트레일러', #
    '포레스트리버캠핑트레일러', #
    '홍성푸드트레일러', #
    '펜트(FENDT)캠핑트레일러',#
    '밀폐형 방폭트레일러(DynaSEALR X10 LTR on Trailer)', #
    '홍성캠핑트레일러', #
    '아드리아(ADRIA)캠핑트레일러', #
    '트리가노(TRIGANO)스탈렛캠핑트레일러', #
    '엘디스(ELDDIS)캠핑트레일러',#
    '베일리(BAILEY)캠핑트레일러', #
    '바인스버그(WEINSBERG) 캠핑트레일러', #
    '미래40피트평판트레일러', #
    '타버트(TABBERT)캠핑트레일러', #
    '씨티인터내셔널캠핑트레일러', #
]
len(car_name)

138

In [34]:
tot2.loc[tot2['차명'] == '히노탱크로리', '연료'] = '경유'
tot2.loc[tot2['차명'] == '코티나마크IV', '연료'] = '휘발유'
tot2.loc[tot2['차명'] == '아시아AM707중형버스', '연료'] = '경유'
tot2.loc[tot2['차명'] == '인타담프', '연료'] = '경유'
tot2.loc[tot2['차명'] == '브리샤2', '연료'] = '휘발유'
tot2.loc[tot2['차명'] == '새한버스', '연료'] = '경유'
tot2.loc[tot2['차명'] == '다이하스웨곤', '연료'] = '휘발유'

tot2.loc[tot2['차명'] == '도요다웨곤엠브란스', '연료'] = '경유'

tot2.loc[tot2['차명'] == '도요다크라운', '연료'] = '휘발유'
tot2.loc[tot2['차명'] == '로얄살롱', '연료'] = '휘발유'
tot2.loc[tot2['차명'] == '도요다코로나', '연료'] = '휘발유'
tot2.loc[tot2['차명'] == '스텔라', '연료'] = '휘발유'
tot2.loc[tot2['차명'] == '스텔라1.6CXL', '연료'] = '휘발유'
tot2.loc[tot2['차명'] == '대우11톤카고', '연료'] = '경유'
tot2.loc[tot2['차명'] == '대우8톤카고', '연료'] = '경유'
tot2.loc[tot2['차명'] == '맥스디젤삼방', '연료'] = '경유'
tot2.loc[tot2['차명'] == '현대리어엔진버스', '연료'] = '경유'
tot2.loc[tot2['차명'] == '포니2', '연료'] = '휘발유'
tot2.loc[tot2['차명'] == '도요다크라운로얄싸롱', '연료'] = '휘발유'

tot2.loc[tot2['차명'] == '구급차(도요다)', '연료'] = '경유'

tot2.loc[tot2['차명'] == '벤즈230E', '연료'] = '휘발유'
tot2.loc[tot2['차명'] == '프레스토오토매틱', '연료'] = '휘발유'
tot2.loc[tot2['차명'] == '르망펜타-5', '연료'] = '휘발유'
tot2.loc[tot2['차명'] == '스텔라오토매틱', '연료'] = '휘발유'
tot2.loc[tot2['차명'] == '엑셀', '연료'] = '휘발유'
tot2.loc[tot2['차명'] == '벤즈 230E', '연료'] = '휘발유'
tot2.loc[tot2['차명'] == '캐피탈', '연료'] = '휘발유'
tot2.loc[tot2['차명'] == '로얄살롱2.0AT', '연료'] = '휘발유'
tot2.loc[tot2['차명'] == '르망', '연료'] = '휘발유'
tot2.loc[tot2['차명'] == '머큐리 세이블', '연료'] = '휘발유'
tot2.loc[tot2['차명'] == '복사14', '연료'] = '경유'
tot2.loc[tot2['차명'] == 'HYUNDAI PRESTO', '연료'] = '휘발유'
tot2.loc[tot2['차명'] == '도요타 프리우스(하이브리드)', '연료'] = '휘발유 하이브리드'
tot2.loc[tot2['차명'] == 'TOYOTA CAMRY하이브리드', '연료'] = '휘발유 하이브리드'

## 임시등급 병합

In [42]:
tot2['배출가스등급'].value_counts(dropna=False)

2     10925973
3      8592960
1      2764609
4      1505895
5      1150131
X       288615
T2      246992
T3      135973
T4          37
T5          28
Name: 배출가스등급, dtype: int64

In [44]:
tot2.shape

(25611213, 58)

In [43]:
grade_list = []
for one in tot2['배출가스등급']:
    if str(one) == '1':
        grade_list.append('1')
    elif str(one) == '2' or str(one) == 'T2':
        grade_list.append('2')
    elif str(one) == '3' or str(one) == 'T3':
        grade_list.append('3')
    elif str(one) == '4' or str(one) == 'T4':
        grade_list.append('4')
    elif str(one) == '5' or str(one) == 'T5':
        grade_list.append('5')
    elif str(one) == 'X':
        grade_list.append('X')
    else:
        grade_list.append(np.nan)
len(grade_list)

25611213

In [45]:
grade_list[:5]

['5', '5', '5', '5', '5']

In [46]:
tot2['등급'] = grade_list

## [출력] 등록&제원정보(연료수정, 등급컬럼 추가)

In [53]:
# about 11m 4s
tot2.to_csv(os.path.join(ods_fold, '[ODS]등록정보&제원정보(연료수정)(등급컬럼추가)(2022.12.29).csv'), index=False, encoding='cp949')

# [로드] 등록&제원정보(연료수정, 등급컬럼 추가)

In [4]:
ods_fold = 'D:/data/big2/ODS'

In [6]:
# about 8m 40s
tot2 = pd.read_csv(os.path.join(ods_fold, '[ODS]등록정보&제원정보(연료수정)(등급컬럼추가)(2022.12.29).csv'), encoding='cp949', low_memory=False)
tot2.shape

(25611213, 59)

## 등급별 중복 차대번호 정리

In [7]:
g1 = tot2[tot2['등급'] == '1']
g2 = tot2[tot2['등급'] == '2']
g3 = tot2[tot2['등급'] == '3']
g4 = tot2[tot2['등급'] == '4']
g5 = tot2[tot2['등급'] == '5']
g1.shape, g2.shape, g3.shape, g4.shape, g5.shape

((2764609, 59), (11172965, 59), (8728933, 59), (1505932, 59), (1150159, 59))

In [8]:
g1 = g1.sort_values(['최초등록일자', '배출가스검사유효일자'], ascending=[False, False]).drop_duplicates('차대번호').reset_index(drop=True)
g2 = g2.sort_values(['최초등록일자', '배출가스검사유효일자'], ascending=[False, False]).drop_duplicates('차대번호').reset_index(drop=True)
g3 = g3.sort_values(['최초등록일자', '배출가스검사유효일자'], ascending=[False, False]).drop_duplicates('차대번호').reset_index(drop=True)
g4 = g4.sort_values(['최초등록일자', '배출가스검사유효일자'], ascending=[False, False]).drop_duplicates('차대번호').reset_index(drop=True)
g5 = g5.sort_values(['최초등록일자', '배출가스검사유효일자'], ascending=[False, False]).drop_duplicates('차대번호').reset_index(drop=True)
g1.shape, g2.shape, g3.shape, g4.shape, g5.shape

((2764594, 59), (11172916, 59), (8728896, 59), (1505892, 59), (1150122, 59))

In [31]:
total = pd.concat([g1, g2, g3, g4, g5], ignore_index=True)
total.shape

(25322420, 59)

## 연료 결측값 샘플

In [32]:
total[total['연료'].isnull() == True].shape

(257, 59)

In [33]:
total.loc[total['연료'].isnull() == True, ['차명', '엔진형식']]

                                  차명     엔진형식
11998429  CHRYSLER TOWN & COUNTRY(7)      NaN
12045462                 FORD ESCAPE      NaN
12048481         JEEP GRAND CHEROKEE      NaN
12073761       MERCEDES-BENZ E-CLASS      NaN
12076693                  VOLVO XC60      NaN
...                              ...      ...
25321981                         GMC    DA120
25322123                       기아마스타      NaN
25322257                      코티나디럭스      NaN
25322377                         GMC  D0846HM
25322419                       G.M.C    DA640

[257 rows x 2 columns]

In [34]:
total.columns

Index(['차량관리번호', '차량등록번호', '본거지법정동코드', '소유자구분', '차종_등록정보', '용도', '현재회원번호',
       '차대번호', '최초등록일자', '차량연식', '차량제작일자', '배출가스검사유효일자', '제원관리번호', '배출가스인증번호',
       '배출가스등급', '저공해조치YN(미사용)', '저공해조치종류', '저공해조치구조변경YN', '차량등록번호숫자정보',
       '차량말소YN', '최초회원번호', '취득일자', '취득금액', '생성일시_등록정보', '수정일시_등록정보', '차명',
       '차종_제원정보', '차종분류', '차종유형(소분류)', '자동차형식', '제작사명', '연료', '엔진형식', '공차중량',
       '총중량', '적재중량', '엔진출력', '배기량', '승차인원', '차량길이', '차량너비', '차량높이', '원산지명',
       '삭제YN', '승인일자', '구동형식', '변속기종류', '생성일시_제원정보', '수정일시_제원정보', '법정동코드',
       '시도', '시구군', '읍면동', '리', '지역3', '폐지여부', '대기관리권역', '대기관리권역YN', '등급'],
      dtype='object')

In [35]:
total.loc[total['연료'].isnull() == True, ['차명', '엔진형식', '차량연식']].drop_duplicates(['차명', '엔진형식', '차량연식'])

                                  차명     엔진형식  차량연식
11998429  CHRYSLER TOWN & COUNTRY(7)      NaN  2010
12045462                 FORD ESCAPE      NaN  2010
12048481         JEEP GRAND CHEROKEE      NaN  2010
12073761       MERCEDES-BENZ E-CLASS      NaN  2010
12076693                  VOLVO XC60      NaN  2010
...                              ...      ...   ...
25321981                         GMC    DA120  1976
25322123                       기아마스타      NaN  1976
25322257                      코티나디럭스      NaN  1974
25322377                         GMC  D0846HM  1967
25322419                       G.M.C    DA640  1950

[231 rows x 3 columns]

#### [출력] 연료 결측값 샘플(차명, 엔진형식, 차량연식)

In [ ]:
# total.loc[total['연료'].isnull() == True, ['차명', '엔진형식', '차량연식']].drop_duplicates(['차명', '엔진형식']).to_excel('analysis/샘플_연료_결측값_차명_엔진형식_차량연식.xlsx', index=False)

## 연료 결측치 수정

### [로드] 샘플_연료_결측값_차명_엔진형식_차량연식(연료수정)

In [36]:
corrected_fold = 'D:/data/low_gas_vehicle'

In [37]:
corrected_fuel = pd.read_excel(os.path.join(corrected_fold, '샘플_연료_결측값_차명_엔진형식_차량연식(연료수정).xlsx'))
corrected_fuel.shape

(183, 4)

In [38]:
corrected_fuel.head()

                           차명   연료 엔진형식  차량연식
0  CHRYSLER TOWN & COUNTRY(7)  휘발유  NaN  2010
1                 FORD ESCAPE  휘발유  NaN  2010
2         JEEP GRAND CHEROKEE  휘발유  NaN  2010
3       MERCEDES-BENZ E-CLASS  휘발유  NaN  2010
4                  VOLVO XC60  휘발유  NaN  2010

In [39]:
corrected_fuel_dict = {a:b for a, b in zip(corrected_fuel['차명'], corrected_fuel['연료'])}

In [40]:
empty_fuel_car_idx = total[total['연료'].isnull() == True].index

In [41]:
len(empty_fuel_car_idx)

257

In [42]:
for i in tqdm(empty_fuel_car_idx):
    temp_car_name = total.loc[i, '차명']
    if temp_car_name in corrected_fuel_dict.keys():
        total.loc[i, '연료'] = corrected_fuel_dict[temp_car_name]

100%|██████████| 257/257 [00:22<00:00, 11.51it/s]

In [43]:
total[total['연료'].isnull() == True].shape

(0, 59)

## 기타 연료 확인

In [44]:
total.columns

Index(['차량관리번호', '차량등록번호', '본거지법정동코드', '소유자구분', '차종_등록정보', '용도', '현재회원번호',
       '차대번호', '최초등록일자', '차량연식', '차량제작일자', '배출가스검사유효일자', '제원관리번호', '배출가스인증번호',
       '배출가스등급', '저공해조치YN(미사용)', '저공해조치종류', '저공해조치구조변경YN', '차량등록번호숫자정보',
       '차량말소YN', '최초회원번호', '취득일자', '취득금액', '생성일시_등록정보', '수정일시_등록정보', '차명',
       '차종_제원정보', '차종분류', '차종유형(소분류)', '자동차형식', '제작사명', '연료', '엔진형식', '공차중량',
       '총중량', '적재중량', '엔진출력', '배기량', '승차인원', '차량길이', '차량너비', '차량높이', '원산지명',
       '삭제YN', '승인일자', '구동형식', '변속기종류', '생성일시_제원정보', '수정일시_제원정보', '법정동코드',
       '시도', '시구군', '읍면동', '리', '지역3', '폐지여부', '대기관리권역', '대기관리권역YN', '등급'],
      dtype='object')

In [45]:
total.loc[total['연료'] == '기타연료', ['배출가스등급', '차명', '자동차형식','엔진형식', '차량연식', '연료', '시도', '시구군', '읍면동', '리', '지역3']]

,배출가스등급,차명,자동차형식,엔진형식,차량연식,연료,시도,시구군,읍면동,리,지역3
14944440,3,홍성캠핑트레일러,HC-320,.,2020,기타연료,서울,광진구,자양동,NaN,NaN
22669797,T4,에어스트림탐지견수송트레일러,L4DC,-,2007,기타연료,경남,창녕군,계성면,명리,NaN
25322409,T5,일산 육륜,NaN,3304124,1962,기타연료,충북,진천군,백곡면,구수리,NaN

In [66]:
total.loc[total['차명'] == '홍성캠핑트레일러', '연료'] = '무동력'
total.loc[total['차명'] == '에어스트림탐지견수송트레일러', '연료'] = '무동력'
total.loc[total['차명'] == '일산 육륜', '연료'] = '경유'

In [67]:
total.loc[total['연료'] == '기타연료'].shape

(0, 59)

## 본거지법정동코드 확인
- 1대 : 정기, 정밀 검사 데이터(~22.06.30) 없음

In [88]:
total.loc[total['대기관리권역YN'].isnull() == True, ['본거지법정동코드', '시도', '시구군', '읍면동', '리', '지역3', '차량말소YN', '차량연식', '배출가스등급', '차대번호']]

            본거지법정동코드  시도  시구군  읍면동    리  지역3 차량말소YN  차량연식 배출가스등급         차대번호
25316686  4100000000  경기  NaN  NaN  NaN  NaN      N  1974      5  10742255732

In [89]:
total.loc[total['대기관리권역YN'].isnull() == True, '대기관리권역YN'] = 'Y'

In [90]:
total.loc[total['대기관리권역YN'].isnull() == True].shape

(0, 59)

In [91]:
g5.loc[g5['대기관리권역YN'].isnull() == True, ['본거지법정동코드', '시도', '시구군', '읍면동', '리', '지역3', '차량말소YN', '차량연식', '배출가스등급', '차대번호']]

           본거지법정동코드  시도  시구군  읍면동    리  지역3 차량말소YN  차량연식 배출가스등급         차대번호
1144388  4100000000  경기  NaN  NaN  NaN  NaN      N  1974      5  10742255732

In [92]:
g5.loc[g5['대기관리권역YN'].isnull() == True, '대기관리권역YN'] = 'Y'

In [94]:
g5.loc[g5['대기관리권역YN'].isnull() == True].shape

(0, 59)

# 분석

##  연료별 통계

In [68]:
total.columns

Index(['차량관리번호', '차량등록번호', '본거지법정동코드', '소유자구분', '차종_등록정보', '용도', '현재회원번호',
       '차대번호', '최초등록일자', '차량연식', '차량제작일자', '배출가스검사유효일자', '제원관리번호', '배출가스인증번호',
       '배출가스등급', '저공해조치YN(미사용)', '저공해조치종류', '저공해조치구조변경YN', '차량등록번호숫자정보',
       '차량말소YN', '최초회원번호', '취득일자', '취득금액', '생성일시_등록정보', '수정일시_등록정보', '차명',
       '차종_제원정보', '차종분류', '차종유형(소분류)', '자동차형식', '제작사명', '연료', '엔진형식', '공차중량',
       '총중량', '적재중량', '엔진출력', '배기량', '승차인원', '차량길이', '차량너비', '차량높이', '원산지명',
       '삭제YN', '승인일자', '구동형식', '변속기종류', '생성일시_제원정보', '수정일시_제원정보', '법정동코드',
       '시도', '시구군', '읍면동', '리', '지역3', '폐지여부', '대기관리권역', '대기관리권역YN', '등급'],
      dtype='object')

In [69]:
total.groupby(['연료', '등급'], dropna=False)['차대번호'].count()

연료           등급
CNG 하이브리드    1         287
             2          17
CNG(압축천연가스)  2       24227
             3        5989
             4           1
             5           5
LNG(액화천연가스)  2          25
LPG 하이브리드    1       14298
             2           1
LPG(액화석유가스)  1      460966
             2     1168438
             3      235911
             4       26016
             5         435
경유           1        2846
             2         466
             3     7557375
             4     1148951
             5     1119826
경유 하이브리드     3       34139
무동력          3           1
             4           1
             5           5
수소           1       28074
알코올          4           1
             5           1
전기           1      366261
휘발유          1      966489
             2     9839592
             3      895479
             4      330922
             5       29850
휘발유 하이브리드    1      925373
             2      140150
             3           2
Name: 차대번호, dtype: int64

In [70]:
total['등급'].isnull().sum()

0

In [71]:
total[total['등급'] == 'X'].shape

(0, 59)

In [72]:
total.groupby(['연료', '등급'], dropna=False)['차대번호'].count().unstack()

등급                  1          2          3          4          5
연료
CNG 하이브리드       287.0       17.0        NaN        NaN        NaN
CNG(압축천연가스)       NaN    24227.0     5989.0        1.0        5.0
LNG(액화천연가스)       NaN       25.0        NaN        NaN        NaN
LPG 하이브리드     14298.0        1.0        NaN        NaN        NaN
LPG(액화석유가스)  460966.0  1168438.0   235911.0    26016.0      435.0
경유             2846.0      466.0  7557375.0  1148951.0  1119826.0
경유 하이브리드          NaN        NaN    34139.0        NaN        NaN
무동력               NaN        NaN        1.0        1.0        5.0
수소            28074.0        NaN        NaN        NaN        NaN
알코올               NaN        NaN        NaN        1.0        1.0
전기           366261.0        NaN        NaN        NaN        NaN
휘발유          966489.0  9839592.0   895479.0   330922.0    29850.0
휘발유 하이브리드    925373.0   140150.0        2.0        NaN        NaN

In [52]:
total.loc[(total['연료'].isnull() == True) & (total['차명'] == '한원40피트구즈넥트레일러') , ['차명', '차종_등록정보', '차량연식', '자동차형식', '엔진형식', '배출가스등급']]

Empty DataFrame
Columns: [차명, 차종_등록정보, 차량연식, 자동차형식, 엔진형식, 배출가스등급]
Index: []

In [53]:
total.loc[(total['자동차형식'] == '40 GCT') , ['차명', '차종_등록정보', '차량연식', '자동차형식', '엔진형식', '배출가스등급']]

                     차명 차종_등록정보  차량연식   자동차형식 엔진형식 배출가스등급
25004311  한원40피트구즈넥트레일러      화물  1999  40 GCT  NaN      5

In [54]:
total.loc[(total['연료'].isnull() == True) & (total['차명'] == '한원40A콤비콘테이너트레일러') , ['차명', '차종_등록정보', '차량연식', '자동차형식', '엔진형식', '배출가스등급']]

Empty DataFrame
Columns: [차명, 차종_등록정보, 차량연식, 자동차형식, 엔진형식, 배출가스등급]
Index: []

In [55]:
total.loc[(total['자동차형식'] == 'HW40ACCT') , ['차명', '차종_등록정보', '차량연식', '자동차형식', '엔진형식', '배출가스등급']]

                       차명 차종_등록정보  차량연식     자동차형식 엔진형식 배출가스등급
25007228  한원40A콤비콘테이너트레일러      화물  1999  HW40ACCT  NaN      5
25007239  한원40A콤비콘테이너트레일러      화물  1999  HW40ACCT  NaN      5

In [56]:
total.loc[(total['연료'].isnull() == True) & (total['차명'] == '다임24KL에틸렌글리콜트레일러') , ['차명', '차종_등록정보', '차량연식', '자동차형식', '엔진형식', '배출가스등급']]

Empty DataFrame
Columns: [차명, 차종_등록정보, 차량연식, 자동차형식, 엔진형식, 배출가스등급]
Index: []

In [57]:
total.loc[(total['자동차형식'] == 'DL 24 ETT1') , ['차명', '차종_등록정보', '차량연식', '자동차형식', '엔진형식', '배출가스등급']]

                        차명 차종_등록정보  차량연식       자동차형식 엔진형식 배출가스등급
25009753  다임24KL에틸렌글리콜트레일러      화물  1999  DL 24 ETT1  NaN      5

## 5등급 경유 대기관리권역별 통계

In [58]:
g5.groupby(['대기관리권역', '시도'], dropna=False)['차대번호'].count()

대기관리권역  시도
그 외     강원     48535
        제주     24813
남부권     광주     26354
        전남     77431
동남권     경남    104954
        경북    121512
        대구     50229
        부산     67383
        울산     26339
수도권     경기    225992
        서울    126971
        인천     54924
중부권     대전     26306
        세종      4342
        전북     58835
        충남     62979
        충북     42223
Name: 차대번호, dtype: int64

In [76]:
g5['시도'].isnull().sum()

0

In [78]:
g5['대기관리권역'].value_counts(dropna=False)

수도권    407887
동남권    370417
중부권    194685
남부권    103785
그 외     73348
Name: 대기관리권역, dtype: int64

In [79]:
g5['대기관리권역YN'].value_counts(dropna=False)

Y      866938
N      283183
NaN         1
Name: 대기관리권역YN, dtype: int64

In [80]:
g5.columns

Index(['차량관리번호', '차량등록번호', '본거지법정동코드', '소유자구분', '차종_등록정보', '용도', '현재회원번호',
       '차대번호', '최초등록일자', '차량연식', '차량제작일자', '배출가스검사유효일자', '제원관리번호', '배출가스인증번호',
       '배출가스등급', '저공해조치YN(미사용)', '저공해조치종류', '저공해조치구조변경YN', '차량등록번호숫자정보',
       '차량말소YN', '최초회원번호', '취득일자', '취득금액', '생성일시_등록정보', '수정일시_등록정보', '차명',
       '차종_제원정보', '차종분류', '차종유형(소분류)', '자동차형식', '제작사명', '연료', '엔진형식', '공차중량',
       '총중량', '적재중량', '엔진출력', '배기량', '승차인원', '차량길이', '차량너비', '차량높이', '원산지명',
       '삭제YN', '승인일자', '구동형식', '변속기종류', '생성일시_제원정보', '수정일시_제원정보', '법정동코드',
       '시도', '시구군', '읍면동', '리', '지역3', '폐지여부', '대기관리권역', '대기관리권역YN', '등급'],
      dtype='object')

In [84]:
g5.loc[g5['대기관리권역YN'].isnull() == True, ['본거지법정동코드', '시도', '시구군', '읍면동', '리', '지역3', '차량말소YN']]

           본거지법정동코드  시도  시구군  읍면동    리  지역3 차량말소YN
1144388  4100000000  경기  NaN  NaN  NaN  NaN      N

In [95]:
g5_y = g5[g5['대기관리권역YN'] == 'Y']
g5_y.shape

(866939, 59)

In [96]:
g5_n = g5[g5['대기관리권역YN'] == 'N']
g5_n.shape

(283183, 59)

In [97]:
g5_y.groupby(['대기관리권역', '시도'], dropna=False)['차대번호'].count()

대기관리권역  시도
남부권     광주     26354
        전남     32964
동남권     경남     61562
        경북     55251
        대구     50229
        부산     67383
        울산     26339
수도권     경기    216715
        서울    126971
        인천     53716
중부권     대전     26306
        세종      4342
        전북     26900
        충남     60134
        충북     31773
Name: 차대번호, dtype: int64

In [98]:
g5_n.groupby(['대기관리권역', '시도'], dropna=False)['차대번호'].count()

대기관리권역  시도
그 외     강원    48535
        제주    24813
남부권     전남    44467
동남권     경남    43392
        경북    66261
수도권     경기     9277
        인천     1208
중부권     전북    31935
        충남     2845
        충북    10450
Name: 차대번호, dtype: int64

### [출력] 연료별 통계, 5등급 대기관리권역별 통계

In [99]:
with pd.ExcelWriter('analysis/통계_연료별_5등급대기관리권역별.xlsx') as writer:
    total.groupby(['연료', '등급'], dropna=False)['차대번호'].count().unstack().to_excel(writer, sheet_name='연료별')
    g5_y.groupby(['대기관리권역', '시도'], dropna=False)['차대번호'].count().to_excel(writer, sheet_name='대기관리권역별_y')
    g5_n.groupby(['대기관리권역', '시도'], dropna=False)['차대번호'].count().to_excel(writer, sheet_name='대기관리권역별_n')