# 주소 정리

## library

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import re
from tqdm import tqdm

## 데이터 로드

In [28]:
df = pd.read_csv('2020-22년_급속충전.csv', index_col=0, usecols=['주소', '지역', '시군구'])
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 11665822 entries, 강원도 to 서울특별시
Data columns (total 2 columns):
 #   Column  Dtype
---  ------  -----
 0   시군구     object
 1   주소      object
dtypes: object(2)
memory usage: 267.0+ MB

In [29]:
df = df.reset_index()
df.head()

      지역  시군구                           주소
0    강원도  인제군  강원도 인제군 상남면 하남리 339-7(양양방향)
1    강원도  인제군  강원도 인제군 상남면 하남리 339-7(양양방향)
2    강원도  인제군  강원도 인제군 상남면 하남리 339-7(양양방향)
3    강원도  인제군  강원도 인제군 상남면 하남리 339-7(양양방향)
4  광주광역시   북구      광주광역시 북구 첨단 벤처로 108번길 9

In [262]:
adr_uni = df['주소'].unique()
len(adr_uni)

4364

In [263]:
df2 = df.drop_duplicates(['주소']).reset_index(drop=True)
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4364 entries, 0 to 4363
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   지역      4364 non-null   object
 1   시군구     4364 non-null   object
 2   주소      4364 non-null   object
dtypes: object(3)
memory usage: 102.4+ KB

In [264]:
adr = df2['주소'].to_numpy()
len(adr)

4364

### 특이주소 처리

In [265]:
# 경상북도 경주시 천원2길 9 경북 경주시 교동 153-5
# 충청북도 단양군 영춘면 온달평강3로 9 온달평강3로 9-1
# 광주광역시 북구 첨단 벤처로 108번길 9

In [266]:
count = 0
for i, one in enumerate(adr):
    if '경상북도 경주시 천원2길 9 경북 경주시 교동 153-5' in one:
        adr[i] = '경상북도 경주시 교동 천원2길 9'
        count += 1
count

1

In [267]:
count = 0
for i, one in enumerate(adr):
    if '충청북도 단양군 영춘면 온달평강3로 9 온달평강3로 9-1' in one:
        adr[i] = '충청북도 단양군 영춘면 온달평강3로 9'
        count += 1
count

1

In [268]:
count = 0
for i, one in enumerate(adr):
    if '광주광역시 북구 첨단 벤처로 108번길 9' in one:
        adr[i] = '광주광역시 북구 첨단벤처로108번길 9'
        count += 1
count

1

### 빈칸 2개 -> 1개

In [269]:
count = 0
for i, one in enumerate(adr):
    if '  ' in one:
        adr[i] = one.replace('  ', ' ')
        count += 1
count

128

### 컴마(,) 제거

In [270]:
count = 0
for i, one in enumerate(adr):
    if ',' in one:
        adr[i] = one.replace(',', '')
        count += 1
count

324

### 복수 주소 오류
- 한주소에 2개 주소 들어있는 오류
- 동일지역 : 56
- 다른지역 : 2

#### 동일지역

In [271]:
np.where(adr == '전라남도 무안군 망운면 운해로 1436-10 전라남도 함평군 신광면 학동로 1398-9')

(array([2608], dtype=int64),)

In [272]:
adr[2608]

'전라남도 무안군 망운면 운해로 1436-10 전라남도 함평군 신광면 학동로 1398-9'

In [273]:
si = df2['시군구'].to_numpy()

In [274]:
count = 0
for i, one in tqdm(enumerate(adr)):
    first = list(one.split())[0]
    one = one.replace(' ' + first, '$' + first)
    multi_adr = list(one.split('$'))
    if len(multi_adr) == 2:
        count += 1
        for j, two in enumerate(multi_adr):
            if si[i] in two:
                adr[i] = multi_adr[j]
count

4364it [00:00, 312882.56it/s]

56

In [275]:
adr[2608]

'전라남도 무안군 망운면 운해로 1436-10'

#### 다른지역

In [276]:
sep = ' 광주광역시| 전라남도| 전라북도| 제주특별자치도| 세종특별자치시| 서울특별시| 대전광역시| 경기도| 인천광역시| 경상남도| 강원도| 충청북도| 경상북도| 충청남도| 울산광역시| 대구광역시| 부산광역시'

In [277]:
count = 0
for i, one in tqdm(enumerate(adr)):
    multi_local = list(re.split(sep, one))
    if len(multi_local) == 2:
        count += 1
count

4364it [00:00, 312727.54it/s]

2

In [278]:
rep_dict = {" 광주광역시":"$광주광역시" ," 전라남도":"$전라남도"," 전라북도":"$전라북도"," 제주특별자치도":"$제주특별자치도"," 세종특별자치시":"$세종특별자치시"," 서울특별시":"$서울특별시"," 대전광역시":"$대전광역시"," 경기도":"$경기도"," 인천광역시":"$인천광역시"," 경상남도":"$경상남도"," 강원도":"$강원도"," 충청북도":"$충청북도"," 경상북도":"$경상북도"," 충청남도":"$충청남도"," 울산광역시":"$울산광역시"," 대구광역시":"$대구광역시"," 부산광역시":"$부산광역시"}

In [279]:
np.where(adr == '전라북도 순창군 풍산면 반월리 12-4 충청남도 공주시 탄천면 삼각리 523-2')

(array([2456], dtype=int64),)

In [280]:
adr[2456]

'전라북도 순창군 풍산면 반월리 12-4 충청남도 공주시 탄천면 삼각리 523-2'

In [281]:
count = 0
for i, one in tqdm(enumerate(adr)):
    for k, v in rep_dict.items():
        one = one.replace(k, v)
    multi_adr = list(one.split('$'))
    if len(multi_adr) == 2:
        count += 1
        for j, two in enumerate(multi_adr):
            if si[i] in two:
                adr[i] = multi_adr[j]
count

4364it [00:00, 160837.43it/s]

2

In [282]:
adr[2456]

'전라북도 순창군 풍산면 반월리 12-4'

In [283]:
adr[44]

'서울특별시 성동구 광나루로4가길 23'

### 도로명 주소 정리
- [길 숫자] 분리
- [로 숫자] 분리
- -문자 (숫자)(번)길 붙이기
    - [로 숫자(번)길] 붙이기
    - [앙 (숫자)길] 붙이기
    - [장 (숫자)길] 붙이기
    - [솜 (숫자)로] 붙이기
    - [길 (숫자)번길] 붙이기
    - [터 (숫자)길] 붙이기
    - [개 (숫자)길] 붙이기

#### [분리] -길 숫자
- 주의
    - 743, 서울특별시 영등포구 신길1동 116-15
    - 3673, 경상북도 포항시 남구 구룡포읍 구룡포길117번길 28-8

In [284]:
np.where(adr == '전라북도 전주시 완산구 신촌3길24번지')

(array([15], dtype=int64),)

In [285]:
adr[15]

'전라북도 전주시 완산구 신촌3길24번지'

In [286]:
s = adr[15]
split1 = re.compile('([가-힣0-9]+길)([0-9]+)')
split1.sub('\g<1> \g<2>', s)

'전라북도 전주시 완산구 신촌3길 24번지'

In [287]:
adr[743]

'서울특별시 영등포구 신길1동 116-15'

In [288]:
s = adr[743]
split1.sub('\g<1> \g<2>', s)

'서울특별시 영등포구 신길 1동 116-15'

In [289]:
adr[3673]

'경상북도 포항시 남구 구룡포읍 구룡포길117번길 28-8'

In [290]:
s = adr[3673]
split1.sub('\g<1> \g<2>', s)

'경상북도 포항시 남구 구룡포읍 구룡포길 117번길 28-8'

In [291]:
count = 0
idx = []
for i, one in enumerate(adr):
    if split1.search(one):
        print(i, one)
        idx.append(i)
        count += 1
count

15 전라북도 전주시 완산구 신촌3길24번지
120 충청북도 제천시 의림대로42길34
547 서울특별시 송파구 오금로68길8
559 제주특별자치도 제주시 한림읍 금악서길133
717 서울특별시 송파구 성내천로33가길20
743 서울특별시 영등포구 신길1동 116-15
834 경상남도 거창군 거창읍 심소정길39-36
887 경기도 파주시 탄현면 헤이리마을길82-105
1000 제주특별자치도 제주시 조천읍 선흘서5길7
1201 강원도 삼척시 수로부인길453
1332 충청북도 청주시 흥덕구 직지대로620번길70
1342 충청북도 괴산군 청안면 청안읍내로2길10
1479 경기도 양평군 개군면 하자포길33번길 8
1570 경상북도 포항시 북구 흥해읍 초곡길36번길 30
1675 충청북도 괴산군 불정면 목도로2길11
1819 울산광역시 중구 단장골길1
1854 강원도 철원군 동송읍 이평2로17번길32
1919 강원도 삼척시 근덕면 상맹방길30-80
1951 충청북도 괴산군 장연면 미선로오가5길7
1954 경상남도 함양군 안의면 농월정길9-13
2058 울산광역시 울주군 웅촌면 새초천길12
2162 서울특별시 강서구 화곡로65길62
2586 경상북도 의성군 비안면 강변길59
2694 경상북도 포항시 장기면 양포항길12
2747 부산광역시 강서구 공항진입로42번길20
2780 제주특별자치도 제주시 용두암길15
2851 강원도 태백시 보드미길8(장성동)
2970 경상남도 합천군 합천읍 교동1길33
2976 울산광역시 울주군 삼동면 보삼길550
2979 충청북도 괴산군 칠성면 명태재로외사4길1
2990 강원도 강릉시 성산면 삼포암길133
2999 경상남도 창녕군 길곡면 증산2길19
3008 경상북도 칠곡군 동명면 남원로5길77
3017 충청남도 부여군 양화면 입포로53번길6
3025 경상남도 김해시 삼안로 112번길20-61
3030 경상북도 봉화군 봉성면 부랭이길88
3042 인천광역시 중구 신포로27번길80
3043 전라남도 보성군 용문길18
3059 전라남도 보성군 미력면 가평길44
3061 경상북도 영양군 영양읍 군청길37
3069 경상남도 창원시 마산합포구 현동7길27
3073 대전광역시 유성구 송림로 19번길35
3078 대구광역시 동구 첨단로8길32
3079 충청남도 논산시 산양1길2
3088 경상남도 함양군 함양읍 삼휴길60-30
3101 대전광역시 유성구 노은동로 87번길89
3152 충청북도 영동군 황간면 원촌동1길54-8
3165 경상북도 봉화군 춘양면 의양로5길19
3174 경상북도 청송군 현서면 달정길9
3177 경상북도 청송군 주왕산면 이전앞길27
3189 경상북도 영양군 영양읍 군민회관길46
3192 경상북도 청송군 진보면 이촌1길23-1
3197 충청북도 제천시 내토로16안길8-1
3211 충청북도 영동군 용화면 휴양림길60
3224 경기도 시흥시 시흥대로268번길8
3272 강원도 춘천시 칠전동길28
3273 전라북도 군산시 창길21
3324 전라북도 군산시 미장8길7
3376 경상북도 영주시 중앙로63번길41-11
3387 전라남도 목포시 남악로162번길25
3396 울산광역시 울주군 청량읍 처용산업4길51
3399 전라남도 보성군 회천면 우암길21
3401 충청남도 금산군 금성면 의총길25
3413 경상북도 구미시 광평길55
3415 전라북도 익산시 익산대로 52길27
3419 경상남도 창원시 의창구 태복산로15번길8
3424 경상남도 진주시 가좌길29번길63
3438 경상북도 칠곡군 왜관읍 평장3길47
3550 경상북도 안동시 학가산온천길42
3673 경상북도 포항시 남구 구룡포읍 구룡포길117번길 28-8
3742 경상남도 창원시 의창구 사림로 99번길63

71

In [292]:
len(idx)

71

In [66]:
# 15 전라북도 전주시 완산구 신촌3길24번지
# 120 충청북도 제천시 의림대로42길34
# 547 서울특별시 송파구 오금로68길8
# 559 제주특별자치도 제주시 한림읍 금악서길133
# 717 서울특별시 송파구 성내천로33가길20

# 834 경상남도 거창군 거창읍 심소정길39-36
# 887 경기도 파주시 탄현면 헤이리마을길82-105
# 1000 제주특별자치도 제주시 조천읍 선흘서5길7
# 1201 강원도 삼척시 수로부인길453
# 1332 충청북도 청주시 흥덕구 직지대로620번길70
# 1342 충청북도 괴산군 청안면 청안읍내로2길10


# 1675 충청북도 괴산군 불정면 목도로2길11
# 1819 울산광역시 중구 단장골길1
# 1854 강원도 철원군 동송읍 이평2로17번길32
# 1919 강원도 삼척시 근덕면 상맹방길30-80
# 1951 충청북도 괴산군 장연면 미선로오가5길7
# 1954 경상남도 함양군 안의면 농월정길9-13
# 2058 울산광역시 울주군 웅촌면 새초천길12
# 2162 서울특별시 강서구 화곡로65길62
# 2586 경상북도 의성군 비안면 강변길59
# 2694 경상북도 포항시 장기면 양포항길12
# 2747 부산광역시 강서구 공항진입로42번길20
# 2780 제주특별자치도 제주시 용두암길15
# 2851 강원도 태백시 보드미길8(장성동)
# 2970 경상남도 합천군 합천읍 교동1길33
# 2976 울산광역시 울주군 삼동면 보삼길550
# 2979 충청북도 괴산군 칠성면 명태재로외사4길1
# 2990 강원도 강릉시 성산면 삼포암길133
# 2999 경상남도 창녕군 길곡면 증산2길19
# 3008 경상북도 칠곡군 동명면 남원로5길77
# 3017 충청남도 부여군 양화면 입포로53번길6
# 3025 경상남도 김해시 삼안로 112번길20-61
# 3030 경상북도 봉화군 봉성면 부랭이길88
# 3042 인천광역시 중구 신포로27번길80
# 3043 전라남도 보성군 용문길18
# 3059 전라남도 보성군 미력면 가평길44
# 3061 경상북도 영양군 영양읍 군청길37
# 3069 경상남도 창원시 마산합포구 현동7길27
# 3073 대전광역시 유성구 송림로 19번길35
# 3078 대구광역시 동구 첨단로8길32
# 3079 충청남도 논산시 산양1길2
# 3088 경상남도 함양군 함양읍 삼휴길60-30
# 3101 대전광역시 유성구 노은동로 87번길89
# 3152 충청북도 영동군 황간면 원촌동1길54-8
# 3165 경상북도 봉화군 춘양면 의양로5길19
# 3174 경상북도 청송군 현서면 달정길9
# 3177 경상북도 청송군 주왕산면 이전앞길27
# 3189 경상북도 영양군 영양읍 군민회관길46
# 3192 경상북도 청송군 진보면 이촌1길23-1
# 3197 충청북도 제천시 내토로16안길8-1
# 3211 충청북도 영동군 용화면 휴양림길60
# 3224 경기도 시흥시 시흥대로268번길8
# 3272 강원도 춘천시 칠전동길28
# 3273 전라북도 군산시 창길21
# 3324 전라북도 군산시 미장8길7
# 3376 경상북도 영주시 중앙로63번길41-11
# 3387 전라남도 목포시 남악로162번길25
# 3396 울산광역시 울주군 청량읍 처용산업4길51
# 3399 전라남도 보성군 회천면 우암길21
# 3401 충청남도 금산군 금성면 의총길25
# 3413 경상북도 구미시 광평길55
# 3415 전라북도 익산시 익산대로 52길27
# 3419 경상남도 창원시 의창구 태복산로15번길8
# 3424 경상남도 진주시 가좌길29번길63
# 3438 경상북도 칠곡군 왜관읍 평장3길47
# 3550 경상북도 안동시 학가산온천길42
# 3673 경상북도 포항시 남구 구룡포읍 구룡포길117번길 28-8
# 3742 경상남도 창원시 의창구 사림로 99번길63

'전라북도 전주시 완산구 신촌3길 24번지'

In [259]:
adr[15]

'전라북도 전주시 완산구 신촌3길24번지'

In [260]:
adr[15] = adr[15].replace('24번지', ' 24번지')
adr[15]

'전라북도 전주시 완산구 신촌3길 24번지'

In [261]:
adr[120]

'충청북도 제천시 의림대로42길34'

#### [분리] -로 숫자

In [53]:
np.where(adr == '경기도 이천시 마장면 중부고속도로82')

(array([85], dtype=int64),)

In [54]:
adr[85]

'경기도 이천시 마장면 중부고속도로82'

In [57]:
np.where(adr == '부산광역시 중구 중앙대로2 (중앙동7가)')

(array([1062], dtype=int64),)

In [58]:
adr[1062]

'부산광역시 중구 중앙대로2 (중앙동7가)'

In [69]:
s = adr[85]
split2 = re.compile('([가-힣0-9]+로)([0-9]+)')
split2.sub('\g<1> \g<2>', s)

'경기도 이천시 마장면 중부고속도로 82'

In [70]:
s = adr[1062]
split2.sub('\g<1> \g<2>', s)

'부산광역시 중구 중앙대로 2 (중앙동7가)'

In [71]:
count = 0
for i, one in enumerate(adr):
    if split2.search(one):
        adr[i] = split2.sub('\g<1> \g<2>', one)
        count += 1
count

366

In [72]:
adr[85]

'경기도 이천시 마장면 중부고속도로 82'

In [73]:
adr[1062]

'부산광역시 중구 중앙대로 2 (중앙동7가)'

#### [붙이기] -문자 (숫자)(번)길|로

In [107]:
# 인천광역시 서구 청라 커낼로
# 대전광역시 유성구 테크노 9로
# 제주특별자치도 제주시 산천단 동3길
# 경기도 하남시 미사강변 한강로
# 경상북도 상주시 영남 제일로
# 경기도 이천시 호법면 프리미엄 아울렛로
# 충청남도 보령시 갓바위 1길
# 울산광역시 북구 진장 유통로
# 부산광역시 강서구 명지오션시티 13로

In [61]:
np.where(adr == '서울특별시 마포구 상암동 월드컵북로 58길 15 지하4층 18')

(array([1392], dtype=int64),)

In [62]:
adr[1392]

'서울특별시 마포구 상암동 월드컵북로 58길 15 지하4층 18'

In [80]:
for i, one in enumerate(adr):
    if '대전광역시 유성구 테크노 9로' in one:
        print(i)

1041

In [81]:
adr[1041]

'대전광역시 유성구 테크노 9로 35 입구 국기계양대 왼쪽'

In [87]:
s = adr[1041]
split3 = re.compile('([가-힣]+(?![가-힣]+시 |[가-힣]+군 |[가-힣]+구 |[가-힣]+도 |[가-힣]+읍 |[가-힣]+면 |[가-힣]+동 |[가-힣]+리 )) ([0-9가-힣]*[번]*[길|로] )')
if split3.search(s):
    print(split3.sub('\g<1>\g<2>', s))

대전광역시 유성구 테크노9로 35 입구 국기계양대 왼쪽

In [84]:
for i, one in enumerate(adr):
    if '인천광역시 서구 청라 커낼로' in one:
        print(i)

901

In [94]:
adr[901]

'인천광역시 서구 청라 커낼로 252(경서동)'

In [97]:
s = adr[901]
if split3.search(s):
    print(split3.sub('\g<1>\g<2>', s))

인천광역시 서구 청라커낼로 252(경서동)

In [89]:
for i, one in enumerate(adr):
    if '구로구' in one:
        print(i)

538
617
792
2023
2024
4206

In [90]:
adr[538]

'서울특별시 구로구 개봉동 134-8'

In [99]:
s = adr[538]
split3.search(s)

In [110]:
s = adr[538]
p = re.compile('[가-힣]+로 ')
p.search(s)

In [100]:
for i, one in enumerate(adr):
    if '경기도 하남시 미사강변 한강로' in one:
        print(i)

1034

In [101]:
adr[1034]

'경기도 하남시 미사강변 한강로 299 지하주차장 입구 앞'

In [103]:
s = adr[1034]
if split3.search(s):
    print(split3.sub('\g<1>\g<2>', s))

경기도 하남시 미사강변한강로 299 지하주차장 입구 앞

In [104]:
for i, one in enumerate(adr):
    if '충청남도 보령시 갓바위 1길' in one:
        print(i)

2497

In [105]:
adr[2497]

'충청남도 보령시 갓바위 1길 10-30'

In [106]:
s = adr[2497]
if split3.search(s):
    print(split3.sub('\g<1>\g<2>', s))

충청남도 보령시 갓바위1길 10-30

In [111]:
count = 0
for i, one in enumerate(adr):
    if split3.search(one):
        adr[i] = split3.sub('\g<1>\g<2>', one)
        count += 1
count

2817

In [112]:
adr[[1392, 1041, 901, 1034, 2497]]

array(['서울특별시 마포구 상암동월드컵북로 58길 15 지하4층 18',
       '대전광역시 유성구 테크노9로 35 입구 국기계양대 왼쪽', '인천광역시 서구 청라커낼로 252(경서동)',
       '경기도 하남시 미사강변한강로 299 지하주차장 입구 앞', '충청남도 보령시 갓바위1길 10-30'],
      dtype=object)

In [113]:
adr[538]

'서울특별시 구로구 개봉동 134-8'

### 구주소 정리
- [분리] "-동|면|읍" "숫자"
- [붙이기] "-동" "숫자가" 붙이기

#### [분리] "-동|면|읍" "숫자"

In [198]:
# 16, 163, 1206, 1377, 1568, 1647, 1811, 2396
split5 = re.compile('([가-힣]+[동|면|읍])([0-9]+)')
for i, one in enumerate(adr):
    if split5.search(one):
        print(i, one)

16 제주특별자치도 제주시 연동2334-4
163 경상남도 창원시 성산구 사파동64-2
283 전라북도 전주시 덕진구 덕진동2가 179-6
389 충청북도 단양군 적성면기동2길 32-37 (기동리)
439 전라북도 전주시 완산구 효자동3가 1712-10
443 전라북도 전주시 완산구 효자동2가 1234-3 5층
601 전라북도 남원시 아영면88올림픽고속도로 75 (아곡리)
602 전라북도 남원시 아영면88올림픽고속도로 76 (아곡리)
603 전라북도 순창군 순창읍88올림픽고속도로 22 (백산리)
605 전라북도 전주시 덕진구 인후동1가 807-6
607 전라북도 전주시 덕진동2가 694-1
645 경상북도 구미시인동14길 14
649 대구광역시 북구 노원동2가 214
687 경상남도 창원시 마산합포구신마산시장길 33 (창포동3가)
854 경상남도 창원시 진해구용재로 46  웅동2동 주민센터 주차장 내
982 서울특별시 종로구인사동5길 29 지상주차장
1056 경상남도 창원시 장군동4가 3-6
1062 부산광역시 중구중앙대로 2 (중앙동7가)
1135 충청북도 청주시 서원구 현도면선동1길 9
1139 충청남도 당진시무수동2길 25-21
1206 대전광역시 동구 용운동423-22
1305 제주특별자치도 제주시 조천읍516로 1865 성판악휴게소
1357 제주특별자치도 제주시 산천단동3길 2 북쪽주차장 입구
1368 울산광역시 울주군 언양읍언동3길 20-48
1377 대전광역시 동구 홍도동92-3
1426 강원도 삼척시당저동1길 17-9
1568 경상북도 구미시 오태동659-13
1647 강원도 태백시 소도동326
1748 인천광역시 중구 북성동1가 97-32
1811 경상남도 창원시 진해구 명동580 좌측 주차장
2396 울산광역시 남구 선암동584-8번지
2421 전라북도 전주시 덕진구 송천동2가 1257
2423 전라북도 전주시 덕진구 송천동2가 1316
2616 경상남도 창원시 마산회원구석전동4길 52
2854 인천광역시 중구 송월동2가 4
2862 전라북도 전주시 덕진구가련산로 26-3 (송천동1가)
2970 경상남도 합천군 합천읍교동1길 33
3069 경상남도 창원시 마산합포구현동7길 27
3152 충청북도 영동군 황간면원촌동1길 54-8
3285 전라북도 익산시 인화동2가 7
3453 전라남도 여수시삼동3길 13
3891 경상남도 고성군 거류면당동3길 5
3924 전라남도 여수시학동2길 7
3987 전라남도 영암군 신북면황금동1길 5-1
4050 충청북도 청주시 서원구 현도면선동2길 232-9
4181 전라남도 여수시관문동1길 39
4221 충청북도 단양군 적성면기동2길 32-37

In [199]:
adr[[16, 163, 1206, 1377, 1568, 1647, 1811, 2396]]

array(['제주특별자치도 제주시 연동2334-4', '경상남도 창원시 성산구 사파동64-2',
       '대전광역시 동구 용운동423-22', '대전광역시 동구 홍도동92-3', '경상북도 구미시 오태동659-13',
       '강원도 태백시 소도동326', '경상남도 창원시 진해구 명동580 좌측 주차장',
       '울산광역시 남구 선암동584-8번지'], dtype=object)

In [206]:
s = '충청북도 청주시 서원구 현도면선동2길 232-9'
p = re.compile('([가-힣]+동)([0-9]*(?![0-9길로]))')
p.search(s)

In [207]:
s = '강원도 태백시 소도동326'
p = re.compile('([가-힣]+동)([0-9]*(?![0-9길로]))')
p.search(s)

In [211]:
adr[44]

'서울특별시 성동구광나루로 4가길 23'

In [210]:
# 16, 163, 1206, 1377, 1568, 1647, 1811, 2396
split5 = re.compile('([가-힣]+동)([0-9]*(?![0-9길로]))')
for i, one in enumerate(adr):
    if split5.search(one):
        print(i, one)

3 전라남도 구례군 산동면산업로 2319
4 전라남도 구례군 산동면노고단로 1068
11 전라북도 남원시 산내면 덕동리 406
12 전라북도 정읍시 내장동 52
13 전라북도 정읍시 내장동 169-1
16 제주특별자치도 제주시 연동2334-4
20 제주특별자치도 제주시연북로 1(노형동)
24 광주광역시 서구눌재로 420 (세하동)
28 대전광역시 대덕구 신대동 169-1
30 대전광역시 서구 만년동 74
31 대전광역시 서구 복수동 613
32 대전광역시 서구 월평동 1275
33 대전광역시 서구 정림동 127-1
34 대전광역시 중구 사정동 403번지
36 경기도 양주시 옥정동 1039
39 경기도 부천시 상동 549번지
41 경기도 안산시 상록구 이동 620
42 경기도 하남시 망월동 1-1
44 서울특별시 성동구광나루로 4가길 23
45 인천광역시 서구 연희동 187-8
46 인천광역시 남동구 논현동 762-3
47 인천광역시 남동구 서창동 558-3
51 경상남도 거제시 동부면 학동리 264
58 강원도 횡성군 안흥면영동고속도로 153  농축산물판매장 옆
59 강원도 횡성군 안흥면영동고속도로 154  휴게소와 LPG충전소 사이
63 강원도 인제군 인제읍 상동리 430
68 충청북도 영동군 영동읍영동황간로 15
71 충청북도 단양군 적성면 기동리
73 제주특별자치도 제주시 아라동 3008-1
74 제주특별자치도 제주시 아라동 6140-4
83 강원도 강릉시 성산면영동고속도로 231 (보광리)
84 강원도 강릉시 성산면영동고속도로 232 (보광리)
88 경기도 용인시 처인구주북로 94번길 30-1 (고림동)
89 경기도 용인시 처인구주북로 66-14 (고림동)
91 경기도 구리시서울외곽순환고속도로 32 (사노동)
95 경상남도 김해시 대동면 월촌리 770
99 경기도 수원시 권선구동수원로 232 지하2층 주차장 좌측
106 강원도 강릉시종합운동장길 69
113 강원도 횡성군 안흥면영동고속도로 154
114 강원도 횡성군 안흥면영동고속도로 153
121 대전광역시 서구 관저동 1510
122 대전광역시 서구 관저동 1104
123 대전광역시 서구 도마동 413-5
124 대전광역시 서구 탄방동 1084
125 대전광역시 대덕구 중리동 20-3
126 대전광역시 유성구 노은동 566
127 대전광역시 중구 석교동 12-4
131 경기도 화성시동탄공원로 2길 32
140 제주특별자치도 서귀포시 법환동 870
148 제주특별자치도 서귀포시동홍로 104 동홍동주민센터
149 제주특별자치도 서귀포시토평로 15 영천동주민센터
154 경상북도 문경시중부내륙고속도로 174 (유곡동)
161 경기도 하남시중부고속도로 117-1 (천현동)
162 경상남도 양산시 덕계동 1039-5
163 경상남도 창원시 성산구 사파동64-2
164 경상남도 창원시 진해구 풍호동 305-21
166 경상남도 진주시동진로 440 지하2층 주차장 C6
170 울산광역시 동구 일산동 948-4
172 울산광역시 남구 삼산동 1627-3 입구 좌측
176 대구광역시 달서구계대동문로 77
180 경상북도 칠곡군 동명면동명팔거천2길 9 복지센터 앞
182 경상북도 김천시 신음동 1284 입구 우측
183 경상북도 김천시 부곡동 1533-1
190 충청남도 보령시 신흑동 1437-3
193 충청남도 천안시 동남구 삼룡동 401-17 입구 좌측 주차장
197 제주특별자치도 제주시봉개북1길 15 봉개동주민센터
219 전라북도 남원시 향교동춘향로 96 (향교동)
222 전라남도 여수시국포1로 36 (국동)
225 서울특별시 마포구 노고산동 33-1 B3 28
228 전라남도 순천시 왕지동 852-1
236 대전광역시 중구동서대로 1322번길 81
245 전라남도 여수시 시전동 64
247 전라남도 나주시 송월동 1106-2 1층
256 경상남도 밀양시 삼문동 24-40
283 전라북도 전주시 덕진구 덕진동2가 179-6
286 전라북도 완주군 봉동읍 둔산리 881
292 전라남도 강진군 군동면 종합운동장 60
294 경상북도 문경시 모전동 220 입구 우측
295 경기도 성남시 수정구산성대로 41 (수진동)
296 경상남도 김해시장유로 116번길 44-82 (부곡동)
308 경기도 양평군 양동면 단석리 506-7
315 경기도 고양시 일산동구중앙로 1256  좌측
323 경기도 용인시 처인구 이동면남북대로 2616
325 경기도 수원시 영통구 영통동 960-1
332 경기도 수원시 권선구 장지동 45-1
333 경기도 안산시 단원구 건건동 535-14
334 경기도 안양시 동안구동안로 158
335 경기도 양평군 양동면학둔지아래길 20
341 경기도 하남시 망월동 728-9
342 경기도 하남시 풍산동 118-2
343 경기도 하남시 풍산동 148-3
344 강원도 원주시 태장동 산35-1
354 경상북도 포항시 북구 흥해읍동해대로 1182
359 광주광역시 남구 주월동 1284-7
360 광주광역시 동구동계천로 150
365 제주특별자치도 서귀포시동홍중앙로 7번길 19 자기주도학습지원센터
368 서울특별시 강동구선사로 70 입구 좌측 끝
369 서울특별시 강동구진황도로 29길 34 지하1층 26
379 서울특별시 노원구동일로 204가길 12 5층 출구앞
380 서울특별시 노원구 하계동 251-8
389 충청북도 단양군 적성면기동2길 32-37 (기동리)
391 대구광역시 달서구 장기동 810-4 입구 좌측
392 대구광역시 달서구 용산동 507 입구 우측
394 대구광역시 북구 서변동 1792 입구 좌측
396 울산광역시 남구 야음동 338-1 입구 좌측
404 충청남도 서산시 수석동 204-19
408 세종특별자치시 어진동 621 입구 우측
410 강원도 속초시 조양동 1544-3
413 강원도 정선군 신동읍 예미리 759
432 경상북도 영주시 가흥동 1622
434 대구광역시 동구 용수동 907-1
436 대구광역시 달서구 호산동 714-1 입구 우측
439 전라북도 전주시 완산구 효자동3가 1712-10
440 전라북도 전주시 덕진구 산정동 862
443 전라북도 전주시 완산구 효자동2가 1234-3 5층
447 제주특별자치도 제주시 봉개동 1854-1
459 경상북도 경주시 강동면강동로 19
467 경상북도 안동시 풍산읍풍산태사로 1903-27
468 경상북도 안동시 풍산읍풍산태사로 1913-40
479 전라북도 고창군 고창읍동리로 117
480 전라남도 여수시 학동 168(시청로 1번지)
483 전라남도 순천시 조례동 1258
492 경상북도 상주시 계산동 474-1
494 경상북도 영주시 영주동 27-2
499 강원도 속초시 중앙동 468-12
502 강원도 태백시 황지동 244-3
509 경기도 양평군 양동면 단석리 513-2 (여양3로 384-27)
510 경기도 오산시 지곶동 산60
511 경기도 오산시 금암동 41-2
512 경기도 시흥시 조남동
513 강원도 춘천시방송길 84 (온의동)
514 강원도 춘천시세실로 108 (석사동)
515 전라북도 군산시수송로 185 (수송동)
526 경상남도 창원시 마산합포구 진동면신서촌로 13 진동면사무소
538 서울특별시 구로구 개봉동 134-8
541 서울특별시 성북구 정릉동 829-1
544 서울특별시 강남구 압구정동 453
548 울산광역시 남구 옥동 산1112
550 울산광역시 남구 삼산동 1572
551 전라남도 순천시조례신대길 6(조례동)
552 경상남도 하동군 하동읍 광평리 443-17
554 서울특별시 성동구무학봉15길 48
560 전라남도 나주시 삼도동 1386-3
564 충청북도 음성군 맹동면 두성리 1409
571 서울특별시 중구동호로 287  대형버스주차장
572 서울특별시 성동구 마장동 808
580 서울특별시 송파구 잠실동 84 우측 끝
581 서울특별시 영등포구 신길동 3203
590 강원도 강릉시 구정면동해고속도로 345 (제비리)
591 강원도 동해시동해대로 6437 동해휴게소동해방향 (망상동)
592 강원도 강릉시 옥계면동해고속도로 320 (주수리)
605 전라북도 전주시 덕진구 인후동1가 807-6
607 전라북도 전주시 덕진동2가 694-1
613 서울특별시 양천구목동서로 170  지상주차장 2층 01구역
617 서울특별시 구로구 구로동 136-14
618 서울특별시 금천구 가산동 239-27
626 전라남도 순천시 금곡동 60-6 안쪽 주차장
631 충청남도 보령시 궁촌동 43-2
635 충청남도 아산시충무로 25(온천동 94-10) 1층
642 대전광역시 대덕구 오정동 45-1
644 대전광역시 유성구 덕진동 453
648 대구광역시 북구 침산동 402-3
649 대구광역시 북구 노원동2가 214
652 대구광역시 달서구 도원동 668-10
653 대구광역시 동구 용계동 923-3
654 부산광역시 북구 만덕동 934
655 부산광역시 북구화명대로 47(화명동)
656 부산광역시 사상구엄궁로 191번길 23(엄궁동)
663 경상북도 포항시 북구 흥해읍동해대로 1511  주차장
669 경상북도 안동시퇴계로 115  좌측 주차장
670 경상북도 안동시 풍산읍 계평리
673 경상북도 영덕군 강구면동해대로 4526
677 대구광역시 남구 봉덕동 1272-18
678 충청남도 논산시 내동 825 시청앞 새마을금고 맞은편 공영주차장
681 인천광역시 남동구 구월3동 1111-6 중부지방고용노동청 별관 앞
682 인천광역시 부평구 부평동 341-193 주차장 입구 오른쪽
683 인천광역시 서구 당하동 1097-5 검단4동 주민센터 옆
684 인천광역시 연수구 송도동 162-1 포스코 그린빌딩 앞 주차장
685 전라북도 익산시무왕로 1053 (영등동)
686 충청남도 서산시충의로 27 (예천동)
687 경상남도 창원시 마산합포구신마산시장길 33 (창포동3가)
688 인천광역시 부평구광장로 16 (부평동)
694 서울특별시 동작구 대방동 70-5
697 경기도 수원시 장안구 파장동 585-4
702 경상북도 경주시 외동읍읍청사로 25
706 경상북도 문경시중부내륙고속도로 173 (유곡동) 주유소 옆(셀프코너) 옥외 주차장
716 부산광역시 해운대구좌동순환로 511  지상주차장 4층 F구역
720 서울특별시 양천구 목동중앙본로 120
721 인천광역시 계양구 동양동 607-1
722 인천광역시 부평구 청천동 125-3
723 인천광역시 서구 가좌동 30-105
725 인천광역시 남동구경인로 674
726 인천광역시 부평구 갈산동 192
741 서울특별시 은평구 진관동 66-30  지하주차장 1층 20구역
744 서울특별시 동작구 대방동 70-1
756 제주특별자치도 서귀포시 동홍동 470-1
757 제주특별자치도 서귀포시 색달동 2889-1 중문색달해변 북측 증설주차장
758 경상북도 경주시 외동읍상석길 58-70 (석계리)
759 경상북도 경주시 외동읍상석길 58-74 (석계리)
766 경기도 화성시 동탄면동탄산단7길 60
769 경기도 안성시 공도읍서동대로 4478 정문 부근 옥외주차장
777 서울특별시 강남구 수서동 735  지상주차장 북주차장(우측)
778 서울특별시 강남구 일원동 4-49  주차장 입구 오른쪽
779 서울특별시 강동구고덕로 276  지하주차장 1층 E구역
785 부산광역시 기장군 장안읍동해고속도로 26  휴게소와 LPG충전소 사이
794 전라남도 여수시 소호동 505-2 입구 우측
797 경상남도 양산시 남부동 876-1 양산문화회관 건너편 주차장
800 울산광역시 남구남부순환도로 209 숙소동 앞
801 울산광역시 남구 매암동 243
802 울산광역시 북구 창평동 1052-1
803 울산광역시 북구 매곡동 349-3
804 울산광역시 북구 매곡동 884-5
807 경상북도 경주시 교동천원2길 9
811 대전광역시 중구중앙로 100 (대흥동 499-1)
812 대전광역시 유성구 장대동 263-2
814 세종특별자치시 반곡동 234-10
817 전라남도 광양시 중동 1358-1
818 전라남도 나주시 빛가람동 346-1
829 부산광역시 북구 덕천동 457-1
831 울산광역시 남구 옥동 97-3
832 경상북도 문경시 모전동 30-2
833 충청북도 청주시 서원구 성화동 936
837 경상남도 밀양시 교동 556번지
841 경상남도 창원시 의창구중앙대로 178(신월동 97-1)
842 경상북도 구미시 송정동 505
845 경상북도 김천시운동장길 1
854 경상남도 창원시 진해구용재로 46  웅동2동 주민센터 주차장 내
856 경상남도 진주시동진로 155  지하주차장 1층 라-1구역
857 경상남도 김해시 진영읍 우동리 289-1  주차장
861 경상남도 양산시양산대로 849  운동장 앞 도로쪽 주차장
863 경상남도 하동군 하동읍군청로 23
865 인천광역시 중구 도원동 5-7 주차장 입구
866 경기도 고양시 덕양구 화정동 982 2층주차장 입구 정면
868 경기도 과천시 갈현동 679 주민센터 입구앞
870 경기도 구리시 교문동 390-1 구청 본관 흡연실 옆
872 경기도 부천시 오정동 129 지상주차장 입구 왼쪽
873 경기도 부천시 춘의동 8 24 필지 주차장 입구 오른쪽
874 경기도 성남시 분당구 삼평동 741 지하 2층 E01번
876 경기도 시흥시 장곡동 724-32 오른쪽 주차장 입구 오른쪽 끝부지
877 경기도 안산시 단원구 대부북동 1849-30 주차장 맨끝쪽
878 경기도 안산시 상록구 성도동 590 지상2층 287기둥옆
880 경기도 안양시 만안구 안양동 530 구청 건물입구 앞
881 경기도 오산시 수청동 610 옥상주차장 4층매장입구옆
882 경기도 용인시 처인구 삼가동 556 지하1층 가03 기둥옆
886 경기도 의정부시장곡로 224 (장암동)
891 경기도 용인시 처인구 삼가동 28-6
893 인천광역시 서구원당대로 581 (마전동)
894 경기도 수원시 영통구센트럴타운로 85-0 (이의동)
895 경기도 수원시 장안구만석로 19번길 25-10 (천천동)
896 경기도 화성시삼성1로 333 (반월동)
897 경기도 오산시경기대로 271-0 (오산동) 5층 37구역
898 경기도 의왕시계원대학로 7-0 (내손동)
899 경기도 군포시번영로 485 (산본동)
900 경기도 안산시 상록구반석로 8 (본오동)
901 인천광역시 서구 청라커낼로 252(경서동)
902 경기도 의정부시산단로 76번길 116-0 (용현동)
903 서울특별시 금천구두산로 71 (독산동)
909 인천광역시 남동구정각로 29  정문 우측 경비실 앞
917 전라남도 순천시 장천동 62-1  순천시청 주차장
918 전라남도 순천시 왕지동 853-2  왕지 제2공영주차장
922 강원도 춘천시 석사동 805
926 강원도 춘천시 사농동 277-3
931 경기도 광주시 장지동 92-5
933 경기도 남양주시 수동면비룡로 730
937 경기도 수원시 영통구 하동 864-10
938 경기도 안산시 단원구 원곡동 381-2
939 경기도 안산시 상록구 사동 1513
940 서울특별시 관악구 신림동 571-6
946 제주특별자치도 서귀포시 서귀동 291-2 북쪽 입구
947 제주특별자치도 서귀포시 서귀동 312-6 312-19
948 제주특별자치도 서귀포시 서귀동 600-3
949 제주특별자치도 서귀포시 서호동 1603 주차장 안쪽
950 제주특별자치도 서귀포시 서홍동 666-1
953 충청남도 공주시 의당면당진영덕고속도로 72 (송선동)
968 인천광역시 남동구예술로 198  지하주차장 4층 I4구역
972 광주광역시 북구동문대로 456번길 40  주차장 1층
976 울산광역시 북구 연암동산업로 1010 북구청
977 세종특별자치시나성남로 7-7 BRT환승센터 B주차장 B1 (나성동 531)
991 전라북도 정읍시 상동 258-4
992 전라북도 정읍시 상평동 62-3 ？
995 제주특별자치도 서귀포시상효로 39 (상효동 754-1)
998 제주특별자치도 서귀포시칠십리로 740(하효동)
999 제주특별자치도 서귀포시 서귀동 291-63(3)
1002 제주특별자치도 제주시1100로 2894-78(연동)
1009 경상북도 포항시 남구 지곡동 166-29
1011 경상북도 포항시 북구 용흥동 4-9
1015 경상북도 포항시 북구 환호동 365
1017 대구광역시 달서구 달서구 송현동 산56번지
1024 경상남도 합천군 합천읍동서로 119
1033 경기도 평택시 장당동 390-1 주차장옥상 마트입구 옆
1037 대전광역시 서구청사로 189 정부대전청사 후생동 지하주차장 입구 근처
1038 대전광역시 유성구 관평동 887 옥외주차장 검품장 근처
1039 대전광역시 유성구 반석동 665-2 전시장 뒤편 사무실 입구 주차장
1040 대전광역시 유성구 하기동 519 지상4층 주차장 430기둥 옆
1042 대전광역시 중구 사정동 142 플라워랜드 주차장
1044 경기도 용인시 수지구경부고속도로 400 (죽전동)
1045 경기도 용인시 기흥구공세로 173 (공세동)
1048 경기도 성남시 분당구황새울로 311번길 28-0 (서현동)
1051 경상남도 남해군 이동면보리암로 287
1056 경상남도 창원시 장군동4가 3-6
1059 울산광역시 남구삼산로 74 (달동)
1060 부산광역시 사상구낙동대로 733 (엄궁동)
1061 부산광역시 동래구중앙대로 1393 (온천동)
1062 부산광역시 중구중앙대로 2 (중앙동7가)
1063 경상남도 거제시서간도길 9-9 (옥포동)
1064 경상남도 창원시 의창구원이대로 320 (두대동)
1065 경상남도 김해시김해대로 2330 (부원동)
1079 제주특별자치도 서귀포시동홍로 31-7  본관주차장
1083 경기도 안산시 단원구동산로 268
1086 경기도 하남시 학암동 90-33
1090 경기도 안산시 상록구 사동 1271-11
1091 경기도 고양시 일산동구중앙로 1275번길 64
1092 서울특별시 강동구성내로 25
1094 서울특별시 성동구고산자로 26길 6
1101 경기도 성남시 중원구 중앙동 1175
1102 경기도 성남시 분당구서현로 459  율동자연공원 B주차장(서현로방면) 출입구 왼쪽
1107 제주특별자치도 서귀포시 회수동 788-2
1110 제주특별자치도 제주시 도남동 574-3
1112 경상남도 창원시 의창구 동읍동읍로 88  동읍사무소 주차장
1119 경기도 안양시 동안구 관앙동 1590
1120 경기도 평택시 비전동 629-1 주차장 안쪽 끝
1121 경기도 안산시 단원구화랑로 312  출연자 주차장 P4 (관리동오른쪽)
1133 강원도 삼척시동해대로 4234 테니스장 옆
1142 충청남도 아산시 용화동 1143
1147 전라북도 전주시 덕진구동부대로 1179
1148 제주특별자치도 서귀포시 동홍동 1480-6
1150 제주특별자치도 제주시 봉개동 2750-2
1161 울산광역시 중구 성안동 244
1162 울산광역시 중구 성남동 190-200
1165 충청북도 영동군 황간면남성2길 11
1166 충청북도 영동군 심천면 고당리 526-2
1167 충청북도 영동군 학산면서산로 76
1177 제주특별자치도 제주시서광로 2길 24  애향운동장 앞 주차장
1178 제주특별자치도 제주시일주서로 7350 외도동 주민센터
1179 제주특별자치도 제주시만덕로 18 건입동 주민센터
1185 대전광역시 대덕구산업단지로 27 (상서동) 236-1
1186 서울특별시 서초구양재대로 12길 73-71 (원지동)
1188 경상남도 창원시 마산회원구삼호로 80 (양덕동)
1190 대구광역시 달서구 대곡동 1035
1193 경상북도 경주시천북남로 12(신평동)
1196 경상북도 청송군 부동면 상의리 299
1198 경상북도 김천시시청로 80 (신음동)
1199 경상북도 포항시 남구지곡로 247-0 (지곡동)
1200 경상북도 구미시구미대로 22길 11-0 (신평동)
1202 강원도 속초시 노학동 298-2
1203 강원도 원주시 반곡동 2049-4
1206 대전광역시 동구 용운동423-22
1209 충청북도 청주시 흥덕구 휴암동 338
1210 충청북도 청주시 서원구 분평동 1252
1211 대전광역시 유성구유성대로 26-37 (원내동)
1215 충청북도 충주시봉계1길 49 (칠금동)
1225 충청북도 영동군 황간면회포길 102 충전소 입구 우측 공터
1232 충청북도 충주시 산척면동산로 736
1235 서울특별시 성동구 용답동 4-1
1236 인천광역시 계양구 서운동 207
1237 인천광역시 부평구 십정동 109-2
1239 인천광역시 서구 경서동 638-5
1240 인천광역시 서구 연희동 산150-5
1243 인천광역시 남동구 수산동 394-54
1244 인천광역시 남동구 논현동 754-4
1256 대전광역시 대덕구동서대로 1855
1261 전라북도 군산시 오식도동 1010
1269 강원도 강릉시 강동면정동역길 17
1274 충청남도 공주시 봉황동 304-6
1277 세종특별자치시 보람동 624-1
1285 충청남도 아산시 모종동 562-4
1288 충청북도 충주시 봉방동 170-5
1296 충청북도 영동군 영동읍동정로 1
1298 경상북도 포항시 남구동해안로 6001
1299 경상북도 경주시동대로 123
1301 대구광역시 달서구 진천동 493-7
1312 충청남도 천안시 동남구쉼1길 42 (삼룡동)173-1
1316 충청북도 옥천군 옥천읍옥천동이로 242-34
1319 강원도 원주시봉화로 1 (단계동)
1329 충청북도 충주시 안림동 1073
1343 광주광역시 광산구 운남동 524-3
1344 광주광역시 남구 서동 147-22
1348 강원도 양양군 현북면동해대로 1242
1351 경상북도 경주시 사정동 172-1
1352 충청북도 충주시 용탄동 1137
1354 충청북도 옥천군 옥천읍동부로 15
1364 세종특별자치시 새롬동 341-72
1367 전라북도 익산시동서로 5-40
1370 충청북도 영동군 용산면용산로 324
1377 대전광역시 동구 홍도동92-3
1378 대전광역시 서구 월평동 1184
1382 충청북도 영동군 황간면회포길 102 (회포리)
1383 충청북도 영동군 황간면회포1길 65 (회포리)
1392 서울특별시 마포구 상암동월드컵북로 58길 15 지하4층 18
1394 대전광역시 서구 갈마동 427-20
1395 대전광역시 서구 도마동 155-16
1408 부산광역시 사상구낙동대로 1518번길 26
1409 부산광역시 수영구 망미동 979-73
1413 전라남도 영광군 영광읍 도동리 365
1415 전라남도 여수시 중앙동 505
1416 충청남도 공주시 웅진동 354-6
1431 강원도 속초시동해대로 4245
1441 경상남도 사천시 축동면서삼로 1742
1442 경상남도 양산시 평산동 283 축구장 옆
1463 인천광역시 서구 경서동 산 257-4 지상 버스주차장 옆
1465 경기도 의정부시 호원동 229-160
1469 광주광역시 북구동문대로 603
1478 경기도 수원시 권선구 곡반정동 553
1481 경상남도 창원시 진해구 풍호동 27-3
1486 울산광역시 북구 화봉동 1469-1
1488 서울특별시 강동구고덕로 28길 36 지하1층 좌측
1493 울산광역시 남구 삼산동 1554-1
1497 경기도 남양주시 금곡동 185-10 옥외 주차장
1499 서울특별시 도봉구마들로 645 (방학동)
1500 경기도 양주시평화로 1547 (회정동)
1501 경기도 동두천시평화로 2169번길 21 (송내동)
1504 부산광역시 연제구 거제동 1312
1517 서울특별시 강남구 개포동 13-2
1521 서울특별시 서초구 양재동 237
1522 서울특별시 양천구목동동로 81
1535 충청남도 서산시 잠홍동 344
1537 충청남도 보령시 명천동 269-4
1541 울산광역시 남구 달동 1345-6 입구 우측
1544 광주광역시 북구 충효동 805번지
1545 대전광역시 중구 대사동 145-2
1548 전라남도 광양시 중동 1732-3
1550 울산광역시 동구 동부동 425-1
1554 경상남도 남해군 삼동면 지족리 291-11
1558 경상북도 안동시 풍천면도청대로 455
1565 경상북도 경주시 외동읍산업로 2759
1567 경상북도 안동시 상아동 266-2
1568 경상북도 구미시 오태동659-13
1569 경상북도 포항시 남구 장기면동해안로 2987
1580 인천광역시 계양구 계산동 1060 구두수선방 옆
1581 경기도 의정부시동일로 30
1584 인천광역시 미추홀구 주안동 1311-17
1586 강원도 속초시동해대로 3664
1589 강원도 춘천시 퇴계동 864
1596 전라북도 김제시 검산동 433-21
1601 제주특별자치도 서귀포시산록남로 1241번길 145(색달동)
1604 경상남도 창원시 진해구 제황산동 24-55 주차장
1607 강원도 삼척시동해대로 4098
1610 강원도 태백시 혈동 260-68
1622 전라남도 순천시 주암면동주로 2042-3 사랑나눔복지회관 주차장
1628 경기도 안산시 상록구 본오동 876-8
1632 제주특별자치도 제주시516로 2810-31(영평동)
1635 충청남도 아산시 배미동 3-6
1637 대구광역시 동구 율암동 524-416 번지
1638 대구광역시 북구 북구 산격동 산79-13
1640 울산광역시 동구동진5길 71
1641 울산광역시 북구 화봉동 365
1647 강원도 태백시 소도동326
1661 전라북도 전주시 완산구 대성동 343-1
1664 충청북도 청주시 흥덕구 원평동 590-14
1669 전라남도 순천시 연향동 771
1673 전라북도 남원시 금동 437-6
1677 광주광역시 동구 계림동 280
1678 광주광역시 서구유덕로 24 (유촌동)
1681 경상북도 경주시 충효동 540-1
1682 서울특별시 은평구 진관동 66-30 지상 3층
1685 경기도 양주시 옥정동 580
1693 경상북도 포항시 북구 용흥동 산 24-3
1696 광주광역시 남구 진월동 314-1
1703 경상북도 상주시성동새싹길 42
1712 강원도 강릉시 강동면와천로 463
1721 대전광역시 중구 안영동 71-2
1729 경상북도 경주시 황성동 435-4
1733 서울특별시 성동구둘레길 47-5
1735 인천광역시 미추홀구 관교동 12
1736 서울특별시 마포구동교로 1길 39
1742 충청남도 예산군 덕산면 사동리 286
1743 충청남도 공주시 우성면동대리길 57-1
1744 충청남도 공주시 금학동 106
1746 서울특별시 성동구동일로 199
1748 인천광역시 중구 북성동1가 97-32
1749 서울특별시 마포구 상암동 482-116 주차장 입구 정면
1760 강원도 화천군 간동면파로호로 919
1774 강원도 양양군 강현면동해대로 3094
1775 대전광역시 동구 가양동 709
1776 충청북도 옥천군 옥천읍옥천동이로 242-34 차량정비소 옆
1785 광주광역시 광산구 비아동 66-6
1796 대구광역시 수성구 지산동 880-2
1803 대구광역시 북구 서변동 1290-4 입구 좌측 주차구역
1810 대구광역시 북구 침산동 1192-1
1811 경상남도 창원시 진해구 명동580 좌측 주차장
1818 울산광역시 남구 신정동 34-80
1820 경상남도 사천시 향촌동 631-6
1823 경기도 하남시 신장동 281
1838 전라남도 여수시좌수영로 69(광무동)
1859 인천광역시 강화군 교동면 대룡리 466-19
1860 경기도 하남시 신장동 27
1865 서울특별시 용산구 한남동 산10-84  지상실외주차장
1870 충청남도 보령시 신흑동 2279 입구 우측 안쪽
1876 경상남도 하동군 화개면 용강리 400-5
1885 인천광역시 동구 송림동 49-172
1887 울산광역시 동구 화정동 198
1889 경상남도 하동군 진교면 진교리 426-41
1892 전라남도 여수시 오림동 104
1910 경상북도 구미시 봉곡동 419
1912 경상북도 안동시 풍산읍 안교리 122-4
1920 경기도 안산시 단원구 원시동 772-6
1923 경기도 시흥시동서로 425
1929 전라북도 군산시 지곡동 286-8
1930 경상남도 김해시 대청동 산112-130
1932 전라남도 순천시 덕암동 220
1934 서울특별시 성동구독서당로 63길 40
1940 경상북도 포항시 남구 청림동 517-1
1946 경상남도 하동군청학로 2526
1958 서울특별시 도봉구 도봉동 341-1
1963 경상북도 상주시 계산동 189-6
1964 경기도 구리시 토평동 810
1968 전라북도 익산시동서로 21
1971 전라북도 김제시동서로 317
1973 경상북도 안동시 남후면 무릉리 363-1
1975 대구광역시 동구 방촌동 126-2번지
1984 전라남도 순천시 교량동 624-1
1986 경상남도 김해시 부원동 625-1
1988 충청북도 충주시 금릉동 699
1989 충청북도 충주시 동량면 조동리 1370-4
1990 경상북도 안동시 임동면 중평리 840
1993 경상남도 진주시 내동면내동로 110
2001 제주특별자치도 제주시동광로 69
2003 경상북도 안동시 풍천면 갈전리 555
2006 전라북도 정읍시 내장동 673-1
2009 대전광역시 대덕구 목상동 산6-2
2018 경상북도 영주시 가흥동 3-19
2024 서울특별시 구로구 오류동 174-10  천왕역 환승주차장 1층
2027 전라북도 군산시 서수면동군산로 984
2031 서울특별시 은평구 진관동 278
2037 충청북도 음성군 맹동면 두성리 1347
2040 부산광역시 연제구종합운동장로 7  지하주차장 1층 35구역
2044 전라남도 영암군 시종면내동중앙로 41
2049 서울특별시 성동구성덕정길 115
2052 전라북도 남원시 노암동 612-7
2054 울산광역시 북구 효문동 986
2070 충청북도 영동군 영동읍 매천리 322-19
2073 경상북도 포항시 남구 지곡동 964-12
2074 경상북도 안동시 일직면 운산리 97-4
2076 강원도 동해시 망상동 393-14
2084 강원도 동해시 묵호진동 13-64
2087 경상북도 청송군 현동면 도평리 793
2099 경상남도 창원시 성산구 중앙동 92
2100 충청남도 보령시 대천동 460-137
2112 제주특별자치도 서귀포시동홍로 41
2113 울산광역시 남구 무거동 759
2118 인천광역시 중구 을왕동 808-5
2133 대전광역시 서구 복수동 690
2136 인천광역시 남동구예술로 149
2140 경상북도 안동시 도산면퇴계로 2547
2147 경상북도 안동시 성곡동 781
2148 경상북도 안동시 녹전면 신평리 716
2153 충청북도 제천시 동현동 321
2154 광주광역시 남구 주월동 974-145
2157 경상북도 포항시 남구 대잠동 780-230
2158 울산광역시 남구 두왕동 761-12
2160 경기도 안산시 단원구 와동 94
2166 충청북도 영동군 영동읍 매천리 33-1
2167 경상북도 안동시 남선면 구미리 126-1
2171 울산광역시 북구 연암동 1372
2172 경기도 안산시 상록구 사동 1466-16
2174 전라북도 전주시 덕진구 만성동 1165
2179 경상남도 창원시 진해구 남문동 1190-1
2183 경기도 안산시 월피동 483-10
2187 충청남도 태안군 태안읍동백로 251
2188 대전광역시 유성구 교촌동 568-1
2191 광주광역시 동구 서석동 24-2
2192 대전광역시 대덕구 장동 210-14
2193 대전광역시 서구 용문동 263-9
2194 전라남도 나주시 송월동 1100
2196 전라북도 군산시 미장동 525
2200 전라남도 목포시 용당동 993-2
2210 충청남도 논산시 취암동 822
2211 충청남도 천안시 동남구 청수동 270
2212 경상북도 구미시 선기동 458-1
2217 대전광역시 대덕구 장동 326-17
2218 대전광역시 서구 탄방동 1379
2219 대전광역시 서구 복수동 781
2223 대전광역시 서구 흑석동 966
2224 대전광역시 중구 안영동 663
2225 울산광역시 남구 삼산동 1622-4
2226 경상남도 통영시 무전동 357
2230 경상남도 창원시 성산구 성주동 178
2231 대구광역시 북구 구암동 771-2
2237 충청남도 천안시 동남구 신부동 132-8
2239 경상북도 구미시 거의동 468
2241 대전광역시 서구 변동 47-32
2242 전라남도 나주시 송월동 1078-2
2244 경상남도 김해시 외동 산 28-1
2245 경상북도 포항시 남구 대잠동 780-196
2246 충청북도 청주시 서원구 모충동 404
2249 경상북도 영천시 문외동 245-3
2252 전라남도 목포시 남교동 57
2255 부산광역시 서구 암남동 89-1
2262 충청북도 영동군 영동읍 매천리 444-1
2263 충청북도 청주시 상당구 수동 138-8
2265 전라남도 목포시 상동 32
2266 경상남도 김해시 불암동 220-17
2268 경상남도 거창군 거창읍 대동리 992-2
2273 대전광역시 중구 안영동 697
2274 전라남도 순천시 남정동 256-6
2275 충청남도 보령시 동대동 576-1
2276 경상남도 양산시 다방동 572-1
2278 전라남도 목포시 측후동 4
2279 대전광역시 대덕구 장동 366-11
2283 부산광역시 동래구 명장동 538
2284 전라남도 나주시 송월동 1356
2286 경상북도 포항시 남구 대잠동 780-78
2291 경기도 광주시 역동 27-15외 6
2293 강원도 속초시 금호동 488-408
2300 경기도 안산시 단원구 선부동 703-2
2305 서울특별시 양천구목동중앙로 25
2306 전라남도 여수시 화장동 945-1
2307 전라남도 나주시 성북동 207
2310 세종특별자치시 한솔동 961
2311 경상북도 구미시 거의동 612-4
2313 경기도 안산시 단원구 원곡동 990-1
2321 대전광역시 서구 관저동 1199
2324 경상남도 진주시 충무공동 15-4
2333 서울특별시 서초구 반포동 49-8
2340 경상북도 김천시 평화동 374-1
2344 경기도 안산시 상록구 본오동 1080
2347 경기도 안산시 단원구 와동 608
2350 경상남도 하동군 하동읍 읍내리 962-2
2351 제주특별자치도 제주시 외도일동 632-7
2353 대구광역시 수성구 지산동 산 136
2355 경기도 안산시 단원구 고잔동 44-1
2359 경상남도 양산시 원동면 선리 1421-5
2362 충청남도 아산시 온천동 1880
2364 경기도 안산시 상록구 사동 854-2
2368 경기도 안산시 상록구 팔곡이동 608
2372 경상남도 창원시 진해구 남양동 166-1
2374 경상북도 포항시 남구 지곡동 482
2378 경기도 안산시 단원구 와동 320-9
2384 경상남도 창원시 진해구 태백동 104
2387 세종특별자치시정부2청사로 13(나성동)
2389 대구광역시 달서구 도원동 928
2390 울산광역시 울주군 삼남면 교동리 1218-10
2394 울산광역시 중구 반구동 46-2
2396 울산광역시 남구 선암동584-8번지
2402 강원도 원주시 학성동 1023-100
2406 강원도 강릉시 포남동 892-7
2421 전라북도 전주시 덕진구 송천동2가 1257
2423 전라북도 전주시 덕진구 송천동2가 1316
2430 전라북도 진안군 주천면동상주천로 2213
2434 전라남도 목포시 석현동 1175
2439 경상남도 김해시 삼방동 840-2
2442 경상북도 김천시 신음동 1015-2
2445 대전광역시 동구 가양동 65
2446 강원도 삼척시 정상동 376-17
2451 전라남도 해남군 문내면동영길 10
2463 강원도 삼척시 남양동 39-25
2465 경상남도 남해군 삼동면 금송리 1416-1
2471 충청북도 제천시내토로 295 건설 민원봉사실 옆 제2주차장 입구 왼쪽(천남동 12-2)
2477 경상남도 고성군 회화면 봉동리 1060
2480 대구광역시 수성구 범어동 415-4
2491 경기도 의정부시 가능동 628
2495 충청북도 영동군 심천면 심천리 191-1
2496 충청남도 아산시 방축동 5
2500 경상남도 거제시 능포동 401-4
2502 울산광역시 중구 반구동 582-6
2507 충청북도 영동군 상촌면 임산리 346-1
2508 경기도 의정부시 장암동 159
2521 경상북도 김천시 부곡동 1330
2524 광주광역시 북구 월출동 987
2528 충청북도 영동군 양산면 가곡리 139-2
2540 강원도 춘천시 퇴계동 1072
2551 경상북도 포항시 남구 지곡동 482
2557 전라남도 보성군 벌교읍 칠동리 92
2561 충청북도 음성군 맹동면태정로 6
2566 경상남도 창원시 진해구 자은동 401-2
2572 경상남도 하동군 옥종면 청룡리 124-7
2580 충청북도 영동군 양산면 송호리 278-13
2585 충청북도 음성군 맹동면연미로 426
2588 충청북도 영동군 양강면 괴목리 201-4
2590 경상남도 김해시 관동동 332
2612 경상남도 창원시 성산구 반송동 201
2615 경상남도 하동군 중평리 763
2618 경상북도 구미시 옥계동 941
2626 광주광역시 광산구 남산동 698-20
2628 경상남도 진주시 남성동 3-1
2632 경상북도 구미시 옥계동 941
2633 경상북도 김천시 부곡동 1330
2636 경상남도 하동군 적량면 서리 1765-13
2640 경상남도 하동군 금남면 송문리 824-1
2646 경상남도 하동군 적량면 고절리 1209-1
2654 강원도 강릉시 안현동 868-6
2657 경상남도 하동군 화개면 대성리 1212-1
2663 대구광역시 동구 효목동 1042 1042
2668 경기도 안성시 공도읍서동대로 4478？
2671 충청남도 서산시 동문동 800번지 -
2674 충청남도 보령시 신흑동 2285 2286
2689 부산광역시 남구 용당동 454-2
2690 대구광역시 동구 둔산동 934-3
2693 경상북도 영천시운동장로 94
2701 경상남도 하동군 금남면 노량리 704
2702 경상북도 구미시 광평동 366-4
2711 전라남도 구례군 산동면 좌사리 846-8
2729 경상북도 포항시 남구 대잠동 969
2733 대구광역시 동구 봉무동 산 138-5
2737 경상남도 진주시 진성면동부로 1259번길 32
2745 경상남도 창원시 의창구 사림동 70
2749 광주광역시 광산구 황룡동 1-4
2750 강원도 동해시 천곡동 996
2751 부산광역시 남구 용호동 947-1
2755 강원도 춘천시 송암동 357-1
2758 경기도 구리시 갈매동 53-44
2760 인천광역시 남동구소래로 645
2771 충청남도 아산시 온천동 1926
2774 강원도 강릉시 남항진동 산 7-7
2776 제주특별자치도 제주시 노형동 2517-1
2779 제주특별자치도 제주시 노형동 2534-3
2785 전라남도 구례군 산동면 탑정리 362
2789 세종특별자치시다솜2로 94(어진동)
2790 세종특별자치시다솜3로 95(어진동)
2794 경상남도 창원시 성산구외동반림로 51-88
2797 충청북도 영동군 양산면 송호리 278-13
2798 세종특별자치시국세청로 8-14(나성동)
2799 세종특별자치시갈매로 408(어진동)
2800 부산광역시 기장군 장안읍동해고속도로 26
2809 부산광역시 기장군 장안읍동해고속도로 25
2814 세종특별자치시갈매로 388(어진동)
2824 경상북도 포항시 북구 죽도동 557-7
2826 전라북도 남원시 송동면송기길 56
2830 강원도 강릉시 홍제동강릉대로 33
2836 충청남도 논산시동안로 1407
2846 경기도 고양시 일산동구무궁화로 237
2847 광주광역시 광산구동곡로 151-56(하산동)
2848 경기도 김포시김포한강8로 302 (마산동)
2851 강원도 태백시보드미길 8(장성동)
2854 인천광역시 중구 송월동2가 4
2860 인천광역시 중구 운북동 464
2862 전라북도 전주시 덕진구가련산로 26-3 (송천동1가)
2871 강원도 영월군 김삿갓면옥동장터길 36
2899 경기도 이천시 장호원읍서동대로 8809번길 30-15
2915 충청북도 괴산군 괴산읍동진천길 43
2920 충청남도 천안시 서북구동서대로 110-9
2933 경기도 화성시동탄중앙로 376
2936 전라북도 완주군 봉동읍봉비로 166 제일오투마트 앞 주차장
2965 충청북도 음성군 맹동면원중로 1339
2968 경기도 고양시 덕양구 용두동 2-71
2976 울산광역시 울주군 삼동면보삼길 550
2978 충청북도 영동군 용산면영동산단로 27
2982 충청북도 영동군 영동읍 매천리 165
2983 경기도 안산시 상록구 부곡동 719-1
2984 충청북도 영동군 매곡면민주지산로 3595
2986 충청북도 영동군 영동읍 오탄리 677-47
2997 울산광역시 남구 옥동 363-1
3001 경기도 안양시 동안구 관양동 1709
3019 경기도 안산시 단원구 초지동 43-6
3024 울산광역시 남구 옥동 95
3035 전라남도 여수시 시전동 684
3045 서울특별시 양천구목동동로 257
3074 인천광역시 남동구남동서로 209
3083 경상남도 합천군 초계면동부로 1240
3089 경기도 시흥시 정왕동 2446

#### [붙이기] "-동" "(숫자)가" 붙이기

In [114]:
# 전라북도 전주시 덕진구 덕진동 2가 179-6
# 전라북도 전주시 덕진동 2가 694-1

In [115]:
for i, one in enumerate(adr):
    if '전라북도 전주시 덕진구 덕진동 2가 179-6' in one:
        print(i)

283

In [116]:
adr[283]

'전라북도 전주시 덕진구 덕진동 2가 179-6'

In [119]:
split4 = re.compile('([가-힣]+동) ([0-9]+가)')
s = adr[283]
split4.sub('\g<1>\g<2>', s)

'전라북도 전주시 덕진구 덕진동2가 179-6'

In [138]:
for i, one in enumerate(adr):
    if '전라북도 전주시 덕진동' in one:
        print(i)

607

In [139]:
adr[607]

'전라북도 전주시 덕진동 2가 694-1'

In [142]:
for i, one in enumerate(adr):
    if '대구광역시 북구 노원동' in one:
        print(i)

649

In [143]:
adr[649]

'대구광역시 북구 노원동2가 214'

In [144]:
count = 0
for i, one in enumerate(adr):
    if split4.search(one):
        # adr[i] = split4.sub('\g<1>\g<2>', one)
        count += 1
count

2

In [145]:
count = 0
for i, one in enumerate(adr):
    if split4.search(one):
        adr[i] = split4.sub('\g<1>\g<2>', one)
        count += 1
count

2

In [146]:
adr[607]

'전라북도 전주시 덕진동2가 694-1'

In [147]:
adr[649]

'대구광역시 북구 노원동2가 214'

# 코드 마지막