In [12]:
import pandas as pd
from tqdm import tqdm

In [6]:
df = pd.read_excel('address/지역구분코드.xlsx', sheet_name='Sheet3')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 229 entries, 0 to 228
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   ad1     229 non-null    object
 1   code1   229 non-null    int64
 2   ad2     229 non-null    object
 3   code2   229 non-null    int64
dtypes: int64(2), object(2)
memory usage: 7.3+ KB

In [7]:
df.head()

     ad1  code1  ad2  code2
0  서울특별시     11  종로구  11110
1  서울특별시     11   중구  11140
2  서울특별시     11  용산구  11170
3  서울특별시     11  성동구  11200
4  서울특별시     11  광진구  11215

In [8]:
df.loc[0, 'code1']

11

In [10]:
type(df.loc[0, 'code1'])

str

In [11]:
str(df.loc[0, 'code1'])

'11'

In [13]:
for i in tqdm(range(df.shape[0])):
    tcode1 = str(df.loc[i, 'code1'])
    tcode2 = str(df.loc[i, 'code2'])
    df.loc[i, 'code2'] = tcode2.replace(tcode1, '', 1)

100%|██████████| 229/229 [00:00<00:00, 8820.06it/s]

In [14]:
df.head()

     ad1  code1  ad2 code2
0  서울특별시     11  종로구   110
1  서울특별시     11   중구   140
2  서울특별시     11  용산구   170
3  서울특별시     11  성동구   200
4  서울특별시     11  광진구   215

In [15]:
df.to_excel('address/지역구분코드(수정).xlsx', index=False, encoding='utf-8')

# 코드마지막