# "저공해차 보급촉진을 위한 제도운영 지원 및 개선방안 마련" 데이터 분석

## library

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import re
from tqdm import tqdm

In [2]:
# 소수점 자리 표기 옵션
pd.options.display.float_format = '{:.5f}'.format
# pd.reset_option('display.float_format')

### data load

In [4]:
# - 2020년
#     - 1월 : 229958
#     - 2월 : 180605
#     - 3월 : 173919
#     - 4월 : 178250
#     - 5월 : 193126
#     - 6월 : 204171
#     - 7월 : 224591
#     - 8월 : 259094
#     - 9월 : 231712
#     - 10월 : 295100
#     - 11월 : 303539
#     - 12월 : 322549
# - 2021년
#     - 1월 : 304612
#     - 2월 : 276148
#     - 3월 : 295915
#     - 4월 : 284649
#     - 5월 : 288367
#     - 6월 : 290878
#     - 7월 : 349382
#     - 8월 : 358950
#     - 9월 : 357788
#     - 10월 : 422421
#     - 11월 : 479016
#     - 12월 : 551719
# - 2022년
#     - 1월 : 544858
#     - 2월 : 465335
#     - 3월 : 512731
#     - 4월 : 544984
#     - 5월 : 593030
#     - 6월 : 597657
#     - 7월 : 675689
#     - 8월 : 675079

In [5]:
total_data = pd.DataFrame()
# 2020년 
count = 0
for m in range(1, 13):
    y = 20
    s = f'raw/{y}년/20{y}년{m:0>2}월.xlsx'
    m_data = pd.read_excel(s)
    print(f'20{y}년 {m:0>2}월 샘플 :', m_data.shape[0])
    count += m_data.shape[0]
    total_data = pd.concat([total_data, m_data], ignore_index=True)
# 2021년
for m in range(1, 13):
    y = 21
    s = f'raw/{y}년/{y}년{m:0>2}월.xlsx'
    m_data = pd.read_excel(s)
    print(f'20{y}년 {m:0>2}월 샘플 :', m_data.shape[0])
    count += m_data.shape[0]
    total_data = pd.concat([total_data, m_data], ignore_index=True)
# 2022년
for m in range(1, 9):
    y = 22
    s = f'raw/{y}년/{y}년{m:0>2}월.xlsx'
    m_data = pd.read_excel(s)
    print(f'20{y}년 {m:0>2}월 샘플 :', m_data.shape[0])
    count += m_data.shape[0]
    total_data = pd.concat([total_data, m_data], ignore_index=True)

2020년 01월 샘플 : 229958
2020년 02월 샘플 : 180605
2020년 03월 샘플 : 173919
2020년 04월 샘플 : 178250
2020년 05월 샘플 : 193126
2020년 06월 샘플 : 204171
2020년 07월 샘플 : 224591
2020년 08월 샘플 : 259094
2020년 09월 샘플 : 231712
2020년 10월 샘플 : 295100
2020년 11월 샘플 : 303539
2020년 12월 샘플 : 322549
2021년 01월 샘플 : 304612
2021년 02월 샘플 : 276148
2021년 03월 샘플 : 295915
2021년 04월 샘플 : 284649
2021년 05월 샘플 : 288367
2021년 06월 샘플 : 290878
2021년 07월 샘플 : 349382
2021년 08월 샘플 : 358950
2021년 09월 샘플 : 357788
2021년 10월 샘플 : 422421
2021년 11월 샘플 : 479016
2021년 12월 샘플 : 551719
2022년 01월 샘플 : 544858
2022년 02월 샘플 : 465335
2022년 03월 샘플 : 512731
2022년 04월 샘플 : 544984
2022년 05월 샘플 : 593030
2022년 06월 샘플 : 597657
2022년 07월 샘플 : 675689
2022년 08월 샘플 : 675079

In [6]:
print(f'개별 데이터 개수 합산 : {count}')
print(f'총 데이터 개수 : {total_data.shape[0]}')

개별 데이터 개수 합산 : 11665822
총 데이터 개수 : 11665822

In [7]:
total_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11665822 entries, 0 to 11665821
Data columns (total 12 columns):
 #   Column     Dtype
---  ------     -----
 0   충전소명       object
 1   충전기ID      int64
 2   지역         object
 3   시군구        object
 4   주소         object
 5   충전기용량(kW)  float64
 6   충전기타입      object
 7   충전시작일시     int64
 8   충전종료일시     int64
 9   충전시간       object
 10  충전량        float64
 11  충전용량       object
dtypes: float64(2), int64(3), object(7)
memory usage: 1.0+ GB

#### 데이터 절약

In [8]:
total_data['충전기ID'] = total_data['충전기ID'].astype('int16')
total_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11665822 entries, 0 to 11665821
Data columns (total 12 columns):
 #   Column     Dtype
---  ------     -----
 0   충전소명       object
 1   충전기ID      int16
 2   지역         object
 3   시군구        object
 4   주소         object
 5   충전기용량(kW)  float64
 6   충전기타입      object
 7   충전시작일시     int64
 8   충전종료일시     int64
 9   충전시간       object
 10  충전량        float64
 11  충전용량       object
dtypes: float64(2), int16(1), int64(2), object(7)
memory usage: 1001.3+ MB

##### 20-22년 병합 데이터 출력

In [80]:
total_data.to_csv('2020-22년_급속충전.csv', encoding='utf-8')

##### 20-22년 병합 데이터 로드(다시 시작)

In [638]:
# total_data = pd.read_csv('2020-22년_급속충전.csv', index_col=0)
# total_data.info()

C:\Users\kbj\AppData\Local\Temp\ipykernel_17248\1573190630.py:1: DtypeWarning: Columns (12) have mixed types. Specify dtype option on import or set low_memory=False.
  total_data = pd.read_csv('2020-22년_급속충전.csv')

In [9]:
df = total_data.copy()
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11665822 entries, 0 to 11665821
Data columns (total 12 columns):
 #   Column     Dtype
---  ------     -----
 0   충전소명       object
 1   충전기ID      int16
 2   지역         object
 3   시군구        object
 4   주소         object
 5   충전기용량(kW)  float64
 6   충전기타입      object
 7   충전시작일시     int64
 8   충전종료일시     int64
 9   충전시간       object
 10  충전량        float64
 11  충전용량       object
dtypes: float64(2), int16(1), int64(2), object(7)
memory usage: 1001.3+ MB

## 전처리
- 충전소명 : O
- 충전기ID : int64
- 지역 : O
- 시군구 : O
- 주소 : O
- 충전기용량(kW) : float64
- 충전기타입 : object 
- 충전시작일시 : int64  
- 충전종료일시 : int64  
- 충전시간 : object 
- 충전량 : float64
- 충전용량 : object

### 특이사항
- 2020년 12월까지 충전기용량(kW)가 2021년 1월부터 충전용량으로 변경
    - 2020년 12월까지 데이터의 충전기용량(kW) 값을 충전용량으로 이동
- 충전용량 표기방법 변경
    - 2022년 3월까지 충전용량이 "100"으로 , 4월부터 "급속(100kW멀티)"으로 입력

In [10]:
df.head()

,충전소명,충전기ID,지역,시군구,주소,충전기용량(kW),충전기타입,충전시작일시,충전종료일시,충전시간,충전량,충전용량
0,내린천휴게소 양양방향,1,강원도,인제군,강원도 인제군 상남면 하남리 339-7(양양방향),50.00000,DC차데모+AC3상+DC콤보,20200117193331,20200117201417,00:40:00,25.47000,NaN
1,내린천휴게소 양양방향,1,강원도,인제군,강원도 인제군 상남면 하남리 339-7(양양방향),50.00000,DC차데모+AC3상+DC콤보,20200130143545,20200130150645,00:30:31,17.57000,NaN
2,내린천휴게소 양양방향,1,강원도,인제군,강원도 인제군 상남면 하남리 339-7(양양방향),50.00000,DC차데모+AC3상+DC콤보,20200105005728,20200105011329,00:15:35,6.98000,NaN
3,내린천휴게소 양양방향,3,강원도,인제군,강원도 인제군 상남면 하남리 339-7(양양방향),100.00000,DC콤보,20200120120215,20200120124708,00:41:00,15.30000,NaN
4,한국광기술원,1,광주광역시,북구,광주광역시 북구 첨단 벤처로 108번길 9,50.00000,DC차데모+AC3상+DC콤보,20200123085417,20200123092554,00:31:14,21.92000,NaN

In [11]:
df[df['충전용량'].notnull() == True].head()

,충전소명,충전기ID,지역,시군구,주소,충전기용량(kW),충전기타입,충전시작일시,충전종료일시,충전시간,충전량,충전용량
2796614,군위휴게소(부산방향),1,경상북도,군위군,경상북도 군위군 군위읍 경북대로 4084 (오곡리),NaN,DC차데모+AC3상+DC콤보,20210101092250,20210101095816,00:29:24,11.95000,50.00000
2796615,충주휴게소(마산방향),1,충청북도,충주시,충청북도 충주시 중앙탑면 중부내륙고속도로 231 (용전리),NaN,DC차데모+AC3상+DC콤보,20210101095126,20210101095818,00:06:48,4.86000,50.00000
2796616,내서읍스포츠센터,1,경상남도,창원시,경상남도 창원시 마산회원구 내서읍 중리 391-3,NaN,DC콤보,20210101094752,20210101095819,00:10:27,3.29000,100.00000
2796617,삼성혈 인근 공영주차장,1,제주특별자치도,제주시,제주특별자치도 제주시 이도1동 1293-1,NaN,DC차데모+AC3상+DC콤보,20210101091323,20210101095819,00:40:00,7.52000,50.00000
2796618,본오1동행정복지센터,1,경기도,안산시,경기도 안산시 상록구 샘골로 16,NaN,DC콤보,20210101091559,20210101095835,00:40:00,21.66000,100.00000

### 충전시작시간 정리

In [12]:
# 충전시작일시의 데이터는 년~초 까지 모두 존재
temp = df['충전시작일시'].to_list()
temp2 = [str(i) for i in temp]
count = 0
for one in temp2:
    if len(one) == 8:
        count += 1
print(count)

0

In [13]:
ch_start = df['충전시작일시'].copy()
df['충전시작_년도'] = ch_start.astype(str).str[:4].astype(int)
df['충전시작_월'] = df['충전시작일시'].astype(str).str[4:6].astype(int)
df['충전시작_일'] = df['충전시작일시'].astype(str).str[6:8].astype(int)
df['충전시작_시'] = df['충전시작일시'].astype(str).str[8:10].astype(int)
df['충전시작_분'] = df['충전시작일시'].astype(str).str[10:12].astype(int)
df['충전시작_초'] = df['충전시작일시'].astype(str).str[12:14].astype(int)
df.head()

,충전소명,충전기ID,지역,시군구,주소,충전기용량(kW),충전기타입,충전시작일시,충전종료일시,충전시간,충전량,충전용량,충전시작_년도,충전시작_월,충전시작_일,충전시작_시,충전시작_분,충전시작_초
0,내린천휴게소 양양방향,1,강원도,인제군,강원도 인제군 상남면 하남리 339-7(양양방향),50.00000,DC차데모+AC3상+DC콤보,20200117193331,20200117201417,00:40:00,25.47000,NaN,2020,1,17,19,33,31
1,내린천휴게소 양양방향,1,강원도,인제군,강원도 인제군 상남면 하남리 339-7(양양방향),50.00000,DC차데모+AC3상+DC콤보,20200130143545,20200130150645,00:30:31,17.57000,NaN,2020,1,30,14,35,45
2,내린천휴게소 양양방향,1,강원도,인제군,강원도 인제군 상남면 하남리 339-7(양양방향),50.00000,DC차데모+AC3상+DC콤보,20200105005728,20200105011329,00:15:35,6.98000,NaN,2020,1,5,0,57,28
3,내린천휴게소 양양방향,3,강원도,인제군,강원도 인제군 상남면 하남리 339-7(양양방향),100.00000,DC콤보,20200120120215,20200120124708,00:41:00,15.30000,NaN,2020,1,20,12,2,15
4,한국광기술원,1,광주광역시,북구,광주광역시 북구 첨단 벤처로 108번길 9,50.00000,DC차데모+AC3상+DC콤보,20200123085417,20200123092554,00:31:14,21.92000,NaN,2020,1,23,8,54,17

In [14]:
df['충전시작일시(변환)'] = df['충전시작_년도'].astype(str) + '-' + df['충전시작_월'].astype(str) + '-' + df['충전시작_일'].astype(str) + ' ' + df['충전시작_시'].astype(str) + ':' + df['충전시작_분'].astype(str) + ':' + df['충전시작_초'].astype(str)
df.head()

,충전소명,충전기ID,지역,시군구,주소,충전기용량(kW),충전기타입,충전시작일시,충전종료일시,충전시간,충전량,충전용량,충전시작_년도,충전시작_월,충전시작_일,충전시작_시,충전시작_분,충전시작_초,충전시작일시(변환)
0,내린천휴게소 양양방향,1,강원도,인제군,강원도 인제군 상남면 하남리 339-7(양양방향),50.00000,DC차데모+AC3상+DC콤보,20200117193331,20200117201417,00:40:00,25.47000,NaN,2020,1,17,19,33,31,2020-1-17 19:33:31
1,내린천휴게소 양양방향,1,강원도,인제군,강원도 인제군 상남면 하남리 339-7(양양방향),50.00000,DC차데모+AC3상+DC콤보,20200130143545,20200130150645,00:30:31,17.57000,NaN,2020,1,30,14,35,45,2020-1-30 14:35:45
2,내린천휴게소 양양방향,1,강원도,인제군,강원도 인제군 상남면 하남리 339-7(양양방향),50.00000,DC차데모+AC3상+DC콤보,20200105005728,20200105011329,00:15:35,6.98000,NaN,2020,1,5,0,57,28,2020-1-5 0:57:28
3,내린천휴게소 양양방향,3,강원도,인제군,강원도 인제군 상남면 하남리 339-7(양양방향),100.00000,DC콤보,20200120120215,20200120124708,00:41:00,15.30000,NaN,2020,1,20,12,2,15,2020-1-20 12:2:15
4,한국광기술원,1,광주광역시,북구,광주광역시 북구 첨단 벤처로 108번길 9,50.00000,DC차데모+AC3상+DC콤보,20200123085417,20200123092554,00:31:14,21.92000,NaN,2020,1,23,8,54,17,2020-1-23 8:54:17

In [15]:
df['충전시작일시(변환)'] = pd.to_datetime(df['충전시작일시(변환)'])
df.head()

,충전소명,충전기ID,지역,시군구,주소,충전기용량(kW),충전기타입,충전시작일시,충전종료일시,충전시간,충전량,충전용량,충전시작_년도,충전시작_월,충전시작_일,충전시작_시,충전시작_분,충전시작_초,충전시작일시(변환)
0,내린천휴게소 양양방향,1,강원도,인제군,강원도 인제군 상남면 하남리 339-7(양양방향),50.00000,DC차데모+AC3상+DC콤보,20200117193331,20200117201417,00:40:00,25.47000,NaN,2020,1,17,19,33,31,2020-01-17 19:33:31
1,내린천휴게소 양양방향,1,강원도,인제군,강원도 인제군 상남면 하남리 339-7(양양방향),50.00000,DC차데모+AC3상+DC콤보,20200130143545,20200130150645,00:30:31,17.57000,NaN,2020,1,30,14,35,45,2020-01-30 14:35:45
2,내린천휴게소 양양방향,1,강원도,인제군,강원도 인제군 상남면 하남리 339-7(양양방향),50.00000,DC차데모+AC3상+DC콤보,20200105005728,20200105011329,00:15:35,6.98000,NaN,2020,1,5,0,57,28,2020-01-05 00:57:28
3,내린천휴게소 양양방향,3,강원도,인제군,강원도 인제군 상남면 하남리 339-7(양양방향),100.00000,DC콤보,20200120120215,20200120124708,00:41:00,15.30000,NaN,2020,1,20,12,2,15,2020-01-20 12:02:15
4,한국광기술원,1,광주광역시,북구,광주광역시 북구 첨단 벤처로 108번길 9,50.00000,DC차데모+AC3상+DC콤보,20200123085417,20200123092554,00:31:14,21.92000,NaN,2020,1,23,8,54,17,2020-01-23 08:54:17

### 충전종료시간 정리

In [16]:
df[df['충전종료일시'] == ' ']

Empty DataFrame
Columns: [충전소명, 충전기ID, 지역, 시군구, 주소, 충전기용량(kW), 충전기타입, 충전시작일시, 충전종료일시, 충전시간, 충전량, 충전용량, 충전시작_년도, 충전시작_월, 충전시작_일, 충전시작_시, 충전시작_분, 충전시작_초, 충전시작일시(변환)]
Index: []

In [17]:
# 충전종료일시의 데이터는 년~일까지만 있는 데이터가 71311개 존재
    # 해당 데이터 뒤에 시분초를 '000000'으로 추가하는 작업 필요함.
temp = df['충전종료일시'].to_list()
temp2 = [str(i) for i in temp]
count = 0
for one in temp2:
    if len(one) == 8:
        count += 1
print(count)

71311

In [18]:
df.tail()

,충전소명,충전기ID,지역,시군구,주소,충전기용량(kW),충전기타입,충전시작일시,충전종료일시,충전시간,충전량,충전용량,충전시작_년도,충전시작_월,충전시작_일,충전시작_시,충전시작_분,충전시작_초,충전시작일시(변환)
11665817,죽전휴게소(서울방향),1,경기도,용인시,경기도 용인시 수지구 경부고속도로 400 (죽전동),NaN,DC차데모+AC3상+DC콤보,20220831235918,20220901004034,00:40:00,31.09000,급속(50kW),2022,8,31,23,59,18,2022-08-31 23:59:18
11665818,원주모범운전자회,21,강원도,원주시,강원도 원주시 단구로 150,NaN,DC콤보,20220831235920,20220901001904,00:19:43,46.51000,급속(200kW동시),2022,8,31,23,59,20,2022-08-31 23:59:20
11665819,검단2공영주차장,1,인천광역시,서구,인천광역시 서구 당하동 1097-5 검단4동 주민센터 옆,NaN,DC차데모+AC3상+DC콤보,20220831235931,20220901004251,00:40:00,21.97000,급속(50kW),2022,8,31,23,59,31,2022-08-31 23:59:31
11665820,강당골 공영주차장,1,대구광역시,남구,대구광역시 남구 봉덕동 1272-18,NaN,DC차데모+AC3상+DC콤보,20220831235934,20220901004057,00:40:00,27.60000,급속(50kW),2022,8,31,23,59,34,2022-08-31 23:59:34
11665821,마천동2공영주차장,1,서울특별시,송파구,서울특별시 송파구 성내천로299-7,NaN,DC차데모+AC3상+DC콤보,20220831235946,20220901003700,00:34:09,9.77000,급속(100kW멀티),2022,8,31,23,59,46,2022-08-31 23:59:46

In [19]:
df['충전종료일시'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 11665822 entries, 0 to 11665821
Series name: 충전종료일시
Non-Null Count     Dtype
--------------     -----
11665822 non-null  int64
dtypes: int64(1)
memory usage: 89.0 MB

In [20]:
temp = df['충전종료일시'].to_list()

In [21]:
for i, one in enumerate(temp):
    if len(str(one)) == 8:
        print(i)
        break

1578

In [22]:
temp[1578]

20200118

In [23]:
df['충전종료일시'][1578]

20200118

In [24]:
temp2 = [str(i) for i in temp]
temp2[1578]

'20200118'

In [25]:
for i, one in enumerate(temp2):
    if len(one) == 8:
        temp2[i] = one + '000000'
len(temp2)

11665822

In [26]:
temp2[1578]

'20200118000000'

In [27]:
df['충전종료일시'] = temp2
df.head()

,충전소명,충전기ID,지역,시군구,주소,충전기용량(kW),충전기타입,충전시작일시,충전종료일시,충전시간,충전량,충전용량,충전시작_년도,충전시작_월,충전시작_일,충전시작_시,충전시작_분,충전시작_초,충전시작일시(변환)
0,내린천휴게소 양양방향,1,강원도,인제군,강원도 인제군 상남면 하남리 339-7(양양방향),50.00000,DC차데모+AC3상+DC콤보,20200117193331,20200117201417,00:40:00,25.47000,NaN,2020,1,17,19,33,31,2020-01-17 19:33:31
1,내린천휴게소 양양방향,1,강원도,인제군,강원도 인제군 상남면 하남리 339-7(양양방향),50.00000,DC차데모+AC3상+DC콤보,20200130143545,20200130150645,00:30:31,17.57000,NaN,2020,1,30,14,35,45,2020-01-30 14:35:45
2,내린천휴게소 양양방향,1,강원도,인제군,강원도 인제군 상남면 하남리 339-7(양양방향),50.00000,DC차데모+AC3상+DC콤보,20200105005728,20200105011329,00:15:35,6.98000,NaN,2020,1,5,0,57,28,2020-01-05 00:57:28
3,내린천휴게소 양양방향,3,강원도,인제군,강원도 인제군 상남면 하남리 339-7(양양방향),100.00000,DC콤보,20200120120215,20200120124708,00:41:00,15.30000,NaN,2020,1,20,12,2,15,2020-01-20 12:02:15
4,한국광기술원,1,광주광역시,북구,광주광역시 북구 첨단 벤처로 108번길 9,50.00000,DC차데모+AC3상+DC콤보,20200123085417,20200123092554,00:31:14,21.92000,NaN,2020,1,23,8,54,17,2020-01-23 08:54:17

In [30]:
df['충전종료일시'][1578]

'20200118000000'

In [29]:
df.iloc[1578, :]

충전소명                동해웰빙레포츠타운 주차장
충전기ID                          21
지역                            강원도
시군구                           동해시
주소                 강원도 동해시 덕골길 10
충전기용량(kW)               200.00000
충전기타입                        DC콤보
충전시작일시             20200118162253
충전종료일시             20200118000000
충전시간                     00:06:49
충전량                       1.91000
충전용량                          NaN
충전시작_년도                      2020
충전시작_월                          1
충전시작_일                         18
충전시작_시                         16
충전시작_분                         22
충전시작_초                         53
충전시작일시(변환)    2020-01-18 16:22:53
Name: 1578, dtype: object

In [31]:
ch_time = df['충전종료일시'].copy()
df['충전종료_년도'] = ch_time.astype(str).str[:4].astype(int)
df['충전종료_월'] = ch_time.astype(str).str[4:6].astype(int)
df['충전종료_일'] = ch_time.astype(str).str[6:8].astype(int)
df['충전종료_시'] = ch_time.astype(str).str[8:10].astype(int)
df['충전종료_분'] = ch_time.astype(str).str[10:12].astype(int)
df['충전종료_초'] = ch_time.astype(str).str[12:14].astype(int)
df.head()

,충전소명,충전기ID,지역,시군구,주소,충전기용량(kW),충전기타입,충전시작일시,충전종료일시,충전시간,...,충전시작_시,충전시작_분,충전시작_초,충전시작일시(변환),충전종료_년도,충전종료_월,충전종료_일,충전종료_시,충전종료_분,충전종료_초
0,내린천휴게소 양양방향,1,강원도,인제군,강원도 인제군 상남면 하남리 339-7(양양방향),50.00000,DC차데모+AC3상+DC콤보,20200117193331,20200117201417,00:40:00,...,19,33,31,2020-01-17 19:33:31,2020,1,17,20,14,17
1,내린천휴게소 양양방향,1,강원도,인제군,강원도 인제군 상남면 하남리 339-7(양양방향),50.00000,DC차데모+AC3상+DC콤보,20200130143545,20200130150645,00:30:31,...,14,35,45,2020-01-30 14:35:45,2020,1,30,15,6,45
2,내린천휴게소 양양방향,1,강원도,인제군,강원도 인제군 상남면 하남리 339-7(양양방향),50.00000,DC차데모+AC3상+DC콤보,20200105005728,20200105011329,00:15:35,...,0,57,28,2020-01-05 00:57:28,2020,1,5,1,13,29
3,내린천휴게소 양양방향,3,강원도,인제군,강원도 인제군 상남면 하남리 339-7(양양방향),100.00000,DC콤보,20200120120215,20200120124708,00:41:00,...,12,2,15,2020-01-20 12:02:15,2020,1,20,12,47,8
4,한국광기술원,1,광주광역시,북구,광주광역시 북구 첨단 벤처로 108번길 9,50.00000,DC차데모+AC3상+DC콤보,20200123085417,20200123092554,00:31:14,...,8,54,17,2020-01-23 08:54:17,2020,1,23,9,25,54

In [32]:
df.tail()

,충전소명,충전기ID,지역,시군구,주소,충전기용량(kW),충전기타입,충전시작일시,충전종료일시,충전시간,...,충전시작_시,충전시작_분,충전시작_초,충전시작일시(변환),충전종료_년도,충전종료_월,충전종료_일,충전종료_시,충전종료_분,충전종료_초
11665817,죽전휴게소(서울방향),1,경기도,용인시,경기도 용인시 수지구 경부고속도로 400 (죽전동),NaN,DC차데모+AC3상+DC콤보,20220831235918,20220901004034,00:40:00,...,23,59,18,2022-08-31 23:59:18,2022,9,1,0,40,34
11665818,원주모범운전자회,21,강원도,원주시,강원도 원주시 단구로 150,NaN,DC콤보,20220831235920,20220901001904,00:19:43,...,23,59,20,2022-08-31 23:59:20,2022,9,1,0,19,4
11665819,검단2공영주차장,1,인천광역시,서구,인천광역시 서구 당하동 1097-5 검단4동 주민센터 옆,NaN,DC차데모+AC3상+DC콤보,20220831235931,20220901004251,00:40:00,...,23,59,31,2022-08-31 23:59:31,2022,9,1,0,42,51
11665820,강당골 공영주차장,1,대구광역시,남구,대구광역시 남구 봉덕동 1272-18,NaN,DC차데모+AC3상+DC콤보,20220831235934,20220901004057,00:40:00,...,23,59,34,2022-08-31 23:59:34,2022,9,1,0,40,57
11665821,마천동2공영주차장,1,서울특별시,송파구,서울특별시 송파구 성내천로299-7,NaN,DC차데모+AC3상+DC콤보,20220831235946,20220901003700,00:34:09,...,23,59,46,2022-08-31 23:59:46,2022,9,1,0,37,0

#### 충전종료일시-초 오류 데이터
- 1495개

In [33]:
df[df['충전종료_초'] >= 60].shape

(1495, 25)

In [34]:
over_s_idx = df[df['충전종료_초'] >= 60].index
len(over_s_idx)

1495

In [35]:
over_s_idx[:5]

Int64Index([1960560, 1964993, 1966556, 1976775, 2043371], dtype='int64')

In [38]:
df[['충전종료_분', '충전종료_초']].iloc[1960560]

충전종료_분    30
충전종료_초    99
Name: 1960560, dtype: int32

In [39]:
df.loc[1960560, '충전종료_초']

99

In [40]:
for i in over_s_idx:
    df.loc[i, '충전종료_분'] += 1
    df.loc[i, '충전종료_초'] -= 60

In [42]:
df[['충전종료_분', '충전종료_초']].iloc[1960560]

충전종료_분    31
충전종료_초    39
Name: 1960560, dtype: int32

#### 충전종료일시-분 오류 데이터
- 3270개

In [43]:
df[df['충전종료_분'] >= 60].shape

(3270, 25)

In [44]:
over_m_idx = df[df['충전종료_분'] >= 60].index
len(over_m_idx)

3270

In [45]:
over_m_idx[:5]

Int64Index([1964993, 1966556, 1968601, 1968849, 1970888], dtype='int64')

In [46]:
df[['충전종료_시', '충전종료_분']].iloc[1964993]

충전종료_시    17
충전종료_분    65
Name: 1964993, dtype: int32

In [48]:
df.loc[1964993, '충전종료_분']

65

In [49]:
for i in over_m_idx:
    df.loc[i, '충전종료_시'] += 1
    df.loc[i, '충전종료_분'] -= 60

In [50]:
df.loc[1964993, '충전종료_분']

5

In [51]:
df[['충전종료_시', '충전종료_분']].iloc[1964993]

충전종료_시    18
충전종료_분     5
Name: 1964993, dtype: int32

#### 충전종료일시-시 오류 데이터
- 71개

In [52]:
df[df['충전종료_시'] >= 24].shape

(71, 25)

In [53]:
over_h_idx = df[df['충전종료_시'] >= 24].index
len(over_h_idx)

71

In [54]:
over_h_idx[:5]

Int64Index([2168170, 2171801, 2189569, 2189571, 2192634], dtype='int64')

In [56]:
df[['충전종료_일', '충전종료_시']].iloc[2168170]

충전종료_일    30
충전종료_시    24
Name: 2168170, dtype: int32

In [57]:
for i in over_h_idx:
    df.loc[i, '충전종료_일'] += 1
    df.loc[i, '충전종료_시'] -= 24

In [58]:
df[['충전종료_일', '충전종료_시']].iloc[2168170]

충전종료_일    31
충전종료_시     0
Name: 2168170, dtype: int32

#### 충전종료일시-일 오류 데이터
- 3개(index) : 3232880, 2440150, 2775050

In [59]:
df[(df['충전종료_월'] == 1) & (df['충전종료_일'] > 31)].index

Int64Index([], dtype='int64')

In [60]:
df[(df['충전종료_년도'] == 2021) & (df['충전종료_월'] == 2) & (df['충전종료_일'] > 28)].index

Int64Index([3232880], dtype='int64')

In [61]:
df[(df['충전종료_년도'] == 2022) & (df['충전종료_월'] == 2) & (df['충전종료_일'] > 28)].index

Int64Index([], dtype='int64')

In [62]:
# 2020년은 윤년
df[(df['충전종료_년도'] == 2020) & (df['충전종료_월'] == 2) & (df['충전종료_일'] > 29)].index

Int64Index([], dtype='int64')

In [63]:
df[(df['충전종료_월'] == 3) & (df['충전종료_일'] > 31)].index

Int64Index([], dtype='int64')

In [64]:
df[(df['충전종료_월'] == 4) & (df['충전종료_일'] > 30)].index

Int64Index([], dtype='int64')

In [65]:
df[(df['충전종료_월'] == 5) & (df['충전종료_일'] > 31)].index

Int64Index([], dtype='int64')

In [66]:
df[(df['충전종료_월'] == 6) & (df['충전종료_일'] > 31)].index

Int64Index([], dtype='int64')

In [67]:
df[(df['충전종료_월'] == 7) & (df['충전종료_일'] > 31)].index

Int64Index([], dtype='int64')

In [68]:
df[(df['충전종료_월'] == 8) & (df['충전종료_일'] > 31)].index

Int64Index([], dtype='int64')

In [69]:
df[(df['충전종료_월'] == 9) & (df['충전종료_일'] > 30)].index

Int64Index([], dtype='int64')

In [70]:
df[(df['충전종료_월'] == 10) & (df['충전종료_일'] > 31)].index

Int64Index([], dtype='int64')

In [71]:
df[(df['충전종료_월'] == 11) & (df['충전종료_일'] > 30)].index

Int64Index([2440150], dtype='int64')

In [72]:
df[(df['충전종료_월'] == 12) & (df['충전종료_일'] > 31)].index

Int64Index([2775050], dtype='int64')

In [73]:
check_col = ['충전종료_년도', '충전종료_월', '충전종료_일']
df.loc[3232880, check_col]

충전종료_년도    2021
충전종료_월        2
충전종료_일       29
Name: 3232880, dtype: object

In [74]:
df.loc[3232880, '충전종료_월'] = 3
df.loc[3232880, '충전종료_일'] = 1
df.loc[3232880, check_col]

충전종료_년도    2021
충전종료_월        3
충전종료_일        1
Name: 3232880, dtype: object

In [75]:
df.loc[2440150, check_col]

충전종료_년도    2020
충전종료_월       11
충전종료_일       31
Name: 2440150, dtype: object

In [76]:
df.loc[2440150, '충전종료_월'] = 12
df.loc[2440150, '충전종료_일'] = 1
df.loc[2440150, check_col]

충전종료_년도    2020
충전종료_월       12
충전종료_일        1
Name: 2440150, dtype: object

In [77]:
df.loc[2775050, check_col]

충전종료_년도    2020
충전종료_월       12
충전종료_일       32
Name: 2775050, dtype: object

In [78]:
df.loc[2775050, '충전종료_년도'] = 2021
df.loc[2775050, '충전종료_월'] = 1
df.loc[2775050, '충전종료_일'] = 1
df.loc[2775050, check_col]

충전종료_년도    2021
충전종료_월        1
충전종료_일        1
Name: 2775050, dtype: object

#### 충전종료시간(변환)

In [80]:
df['충전종료일시(변환)'] = df['충전종료_년도'].astype(str) + '-' +  df['충전종료_월'].astype(str) + '-' + df['충전종료_일'].astype(str) + ' ' + df['충전종료_시'].astype(str) + ':' + df['충전종료_분'].astype(str) + ':' + df['충전종료_초'].astype(str)
df.iloc[:5,8:]

,충전종료일시,충전시간,충전량,충전용량,충전시작_년도,충전시작_월,충전시작_일,충전시작_시,충전시작_분,충전시작_초,충전시작일시(변환),충전종료_년도,충전종료_월,충전종료_일,충전종료_시,충전종료_분,충전종료_초,충전종료일시(변환)
0,20200117201417,00:40:00,25.47000,NaN,2020,1,17,19,33,31,2020-01-17 19:33:31,2020,1,17,20,14,17,2020-1-17 20:14:17
1,20200130150645,00:30:31,17.57000,NaN,2020,1,30,14,35,45,2020-01-30 14:35:45,2020,1,30,15,6,45,2020-1-30 15:6:45
2,20200105011329,00:15:35,6.98000,NaN,2020,1,5,0,57,28,2020-01-05 00:57:28,2020,1,5,1,13,29,2020-1-5 1:13:29
3,20200120124708,00:41:00,15.30000,NaN,2020,1,20,12,2,15,2020-01-20 12:02:15,2020,1,20,12,47,8,2020-1-20 12:47:8
4,20200123092554,00:31:14,21.92000,NaN,2020,1,23,8,54,17,2020-01-23 08:54:17,2020,1,23,9,25,54,2020-1-23 9:25:54

In [81]:
df['충전종료일시(변환)'] = pd.to_datetime(df['충전종료일시(변환)'])

In [82]:
df['충전시간(계산)'] = df['충전종료일시(변환)'] - df['충전시작일시(변환)']
df.head()

,충전소명,충전기ID,지역,시군구,주소,충전기용량(kW),충전기타입,충전시작일시,충전종료일시,충전시간,...,충전시작_초,충전시작일시(변환),충전종료_년도,충전종료_월,충전종료_일,충전종료_시,충전종료_분,충전종료_초,충전종료일시(변환),충전시간(계산)
0,내린천휴게소 양양방향,1,강원도,인제군,강원도 인제군 상남면 하남리 339-7(양양방향),50.00000,DC차데모+AC3상+DC콤보,20200117193331,20200117201417,00:40:00,...,31,2020-01-17 19:33:31,2020,1,17,20,14,17,2020-01-17 20:14:17,0 days 00:40:46
1,내린천휴게소 양양방향,1,강원도,인제군,강원도 인제군 상남면 하남리 339-7(양양방향),50.00000,DC차데모+AC3상+DC콤보,20200130143545,20200130150645,00:30:31,...,45,2020-01-30 14:35:45,2020,1,30,15,6,45,2020-01-30 15:06:45,0 days 00:31:00
2,내린천휴게소 양양방향,1,강원도,인제군,강원도 인제군 상남면 하남리 339-7(양양방향),50.00000,DC차데모+AC3상+DC콤보,20200105005728,20200105011329,00:15:35,...,28,2020-01-05 00:57:28,2020,1,5,1,13,29,2020-01-05 01:13:29,0 days 00:16:01
3,내린천휴게소 양양방향,3,강원도,인제군,강원도 인제군 상남면 하남리 339-7(양양방향),100.00000,DC콤보,20200120120215,20200120124708,00:41:00,...,15,2020-01-20 12:02:15,2020,1,20,12,47,8,2020-01-20 12:47:08,0 days 00:44:53
4,한국광기술원,1,광주광역시,북구,광주광역시 북구 첨단 벤처로 108번길 9,50.00000,DC차데모+AC3상+DC콤보,20200123085417,20200123092554,00:31:14,...,17,2020-01-23 08:54:17,2020,1,23,9,25,54,2020-01-23 09:25:54,0 days 00:31:37

### 충전기용량과 충전용량 합치기

In [95]:
df = df.sort_values(by=['충전시작_년도', '충전시작_월', '충전시작_일', '충전시작_시', '충전시작_분', '충전시작_초']).reset_index(drop=True)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11665822 entries, 0 to 11665821
Data columns (total 27 columns):
 #   Column      Dtype
---  ------      -----
 0   충전소명        object
 1   충전기ID       int16
 2   지역          object
 3   시군구         object
 4   주소          object
 5   충전기용량(kW)   float64
 6   충전기타입       object
 7   충전시작일시      int64
 8   충전종료일시      object
 9   충전시간        object
 10  충전량         float64
 11  충전용량        object
 12  충전시작_년도     int32
 13  충전시작_월      int32
 14  충전시작_일      int32
 15  충전시작_시      int32
 16  충전시작_분      int32
 17  충전시작_초      int32
 18  충전시작일시(변환)  datetime64[ns]
 19  충전종료_년도     int32
 20  충전종료_월      int32
 21  충전종료_일      int32
 22  충전종료_시      int32
 23  충전종료_분      int32
 24  충전종료_초      int32
 25  충전종료일시(변환)  datetime64[ns]
 26  충전시간(계산)    timedelta64[ns]
dtypes: datetime64[ns](2), float64(2), int16(1), int32(12), int64(1), object(8), timedelta64[ns](1)
memory usage: 1.8+ GB

In [96]:
df[df['충전시작_년도'] == 2020].tail()

,충전소명,충전기ID,지역,시군구,주소,충전기용량(kW),충전기타입,충전시작일시,충전종료일시,충전시간,...,충전시작_초,충전시작일시(변환),충전종료_년도,충전종료_월,충전종료_일,충전종료_시,충전종료_분,충전종료_초,충전종료일시(변환),충전시간(계산)
2796609,시흥제4동공영주차장,1,서울특별시,금천구,"서울특별시 금천구 독산로 36나길 21, B1 18",50.00000,DC차데모+AC3상+DC콤보,20201231235808,20210101002023,00:21:51,...,8,2020-12-31 23:58:08,2021,1,1,0,20,23,2021-01-01 00:20:23,0 days 00:22:15
2796610,건천휴게소(부산방향),1,경상북도,경주시,경상북도 경주시 건천읍 경부고속도로 77 (방내리),50.00000,DC차데모+AC3상+DC콤보,20201231235811,20210101003023,00:31:50,...,11,2020-12-31 23:58:11,2021,1,1,0,30,23,2021-01-01 00:30:23,0 days 00:32:12
2796611,중부지방고용노동청 별관 앞,1,인천광역시,남동구,인천광역시 남동구 구월3동 1111-6 중부지방고용노동청 별관 앞,50.00000,DC차데모+AC3상+DC콤보,20201231235836,20210101001905,00:20:02,...,36,2020-12-31 23:58:36,2021,1,1,0,19,5,2021-01-01 00:19:05,0 days 00:20:29
2796612,세종중앙공원주차장2,2,세종특별자치시,연기면,세종특별자치시 연기면 수목원로 136,100.00000,DC콤보,20201231235931,20210101003714,00:37:43,...,31,2020-12-31 23:59:31,2021,1,1,0,37,14,2021-01-01 00:37:14,0 days 00:37:43
2796613,부석면주민자치센터,1,충청남도,서산시,충청남도 서산시 부석면 취평리 364-2,100.00000,DC차데모+AC3상+DC콤보,20201231235955,20210101001316,00:12:21,...,55,2020-12-31 23:59:55,2021,1,1,0,13,16,2021-01-01 00:13:16,0 days 00:13:21

In [97]:
df[df['충전시작_년도'] == 2021].head()

,충전소명,충전기ID,지역,시군구,주소,충전기용량(kW),충전기타입,충전시작일시,충전종료일시,충전시간,...,충전시작_초,충전시작일시(변환),충전종료_년도,충전종료_월,충전종료_일,충전종료_시,충전종료_분,충전종료_초,충전종료일시(변환),충전시간(계산)
2796614,칠곡3지구 공영주차장,42,대구광역시,북구,대구광역시 북구 구암동 771-2,NaN,DC콤보,20210101000032,20210101002547,00:25:16,...,32,2021-01-01 00:00:32,2021,1,1,0,25,47,2021-01-01 00:25:47,0 days 00:25:15
2796615,망향휴게소(부산방향),1,충청남도,천안시,충청남도 천안시 서북구 성거읍 돌다리길 23-37,NaN,DC차데모+AC3상+DC콤보,20210101000034,20210101001118,00:09:51,...,34,2021-01-01 00:00:34,2021,1,1,0,11,18,2021-01-01 00:11:18,0 days 00:10:44
2796616,관악역 3환승 공영주차장,1,경기도,안양시,경기도 안양시 만안구 석수1동 110-26 입구 맨끝 왼쪽,NaN,DC차데모+AC3상+DC콤보,20210101000043,20210101002454,00:23:47,...,43,2021-01-01 00:00:43,2021,1,1,0,24,54,2021-01-01 00:24:54,0 days 00:24:11
2796617,평창휴게소(강릉방향),1,강원도,평창군,강원도 평창군 용평면 경강로 2159-58,NaN,DC차데모+AC3상+DC콤보,20210101000049,20210101004354,00:40:00,...,49,2021-01-01 00:00:49,2021,1,1,0,43,54,2021-01-01 00:43:54,0 days 00:43:05
2796618,강동구청,12,서울특별시,강동구,서울특별시 강동구 성내로 25,NaN,DC콤보,20210101000052,20210101003015,00:29:03,...,52,2021-01-01 00:00:52,2021,1,1,0,30,15,2021-01-01 00:30:15,0 days 00:29:23

In [98]:
df.loc[df['충전시작_년도'] == 2020, '충전기용량(kW)'].shape

(2796614,)

In [99]:
df.loc[df['충전시작_년도'] == 2020, '충전기용량(kW)'].head()

0   50.00000
1   50.00000
2   50.00000
3   50.00000
4   50.00000
Name: 충전기용량(kW), dtype: float64

In [100]:
df.loc[df['충전시작_년도'] == 2020, '충전기용량(kW)'].tail()

2796609    50.00000
2796610    50.00000
2796611    50.00000
2796612   100.00000
2796613   100.00000
Name: 충전기용량(kW), dtype: float64

In [101]:
temp = df.loc[df['충전시작_년도'] == 2020, '충전기용량(kW)'].to_list()
temp[:5]

[50.0, 50.0, 50.0, 50.0, 50.0]

In [102]:
temp[-5:]

[50.0, 50.0, 50.0, 100.0, 100.0]

In [103]:
len(temp)

2796614

In [114]:
df.loc[df['충전시작_년도'] == 2021, '충전용량'].shape

(4259845,)

In [109]:
df.loc[df['충전시작_년도'] == 2021, '충전용량'].head()

2796614   100.00000
2796615    50.00000
2796616    50.00000
2796617   100.00000
2796618   200.00000
Name: 충전용량, dtype: object

In [110]:
df.loc[df['충전시작_년도'] == 2021, '충전용량'].tail()

7056454   100.00000
7056455    50.00000
7056456   200.00000
7056457   100.00000
7056458    50.00000
Name: 충전용량, dtype: object

In [111]:
temp2 = df.loc[df['충전시작_년도'] == 2021, '충전용량'].to_list()
temp2[:5]

[100.0, 50.0, 50.0, 100.0, 200.0]

In [112]:
temp2[-5:]

[100.0, 50.0, 200.0, 100.0, 50.0]

In [113]:
len(temp2)

4259845

In [115]:
df.loc[df['충전시작_년도'] == 2022, '충전용량'].shape

(4609363,)

In [116]:
df.loc[df['충전시작_년도'] == 2022, '충전용량'].head()

7056459    50.00000
7056460    50.00000
7056461    50.00000
7056462   200.00000
7056463    50.00000
Name: 충전용량, dtype: object

In [120]:
df.loc[df['충전시작_년도'] == 2022, '충전용량'].tail()

11665817       급속(50kW)
11665818    급속(200kW동시)
11665819       급속(50kW)
11665820       급속(50kW)
11665821    급속(100kW멀티)
Name: 충전용량, dtype: object

In [118]:
temp3 = df.loc[df['충전시작_년도'] == 2022, '충전용량'].to_list()
temp3[:5]

[50.0, 50.0, 50.0, 200.0, 50.0]

In [119]:
temp3[-5:]

['급속(50kW)', '급속(200kW동시)', '급속(50kW)', '급속(50kW)', '급속(100kW멀티)']

In [122]:
len(temp3)

4609363

In [121]:
df.shape

(11665822, 27)

In [123]:
len(temp + temp2 + temp3)

11665822

In [ ]:
df['충전용량'].head()

In [124]:
df['충전용량'] = temp + temp2 + temp3

In [127]:
df['충전용량'].head()

0   50.00000
1   50.00000
2   50.00000
3   50.00000
4   50.00000
Name: 충전용량, dtype: object

In [125]:
df['충전기용량(kW)'].tail()

11665817   NaN
11665818   NaN
11665819   NaN
11665820   NaN
11665821   NaN
Name: 충전기용량(kW), dtype: float64

In [128]:
df.iloc[:5, :12]

,충전소명,충전기ID,지역,시군구,주소,충전기용량(kW),충전기타입,충전시작일시,충전종료일시,충전시간,충전량,충전용량
0,진영휴게소(부산방향),1,경상남도,김해시,"경상남도 김해시 진영읍 하계로96번길 94-4 , 주유소 옆 주차장",50.00000,DC차데모+AC3상+DC콤보,20200101000244,20200101004215,00:39:25,20.22000,50.00000
1,천왕역 환승주차장,1,서울특별시,구로구,"서울특별시 구로구 오류동 174-10 , 천왕역 환승주차장 1층",50.00000,DC차데모+AC3상,20200101000457,20200101004534,00:40:37,18.87000,50.00000
2,민속자연사박물관,1,제주특별자치도,제주시,제주특별자치도 제주시 삼성로 40 민속자연사박물관,50.00000,DC차데모+AC3상+DC콤보,20200101000745,20200101003703,00:29:13,16.04000,50.00000
3,노형동주민센터,1,제주특별자치도,제주시,"제주특별자치도 제주시 노형9길 9-4, 주차장",50.00000,DC차데모+AC3상+DC콤보,20200101000748,20200101001659,00:09:07,5.80000,50.00000
4,영일대1주차장,1,경상북도,포항시,경상북도 포항시 북구 해안로82,50.00000,DC차데모+AC3상+DC콤보,20200101000851,20200101004220,00:33:29,13.32000,50.00000

In [129]:
df = df.drop(['충전기용량(kW)'], axis=1)
df.iloc[:5, :12]

,충전소명,충전기ID,지역,시군구,주소,충전기타입,충전시작일시,충전종료일시,충전시간,충전량,충전용량,충전시작_년도
0,진영휴게소(부산방향),1,경상남도,김해시,"경상남도 김해시 진영읍 하계로96번길 94-4 , 주유소 옆 주차장",DC차데모+AC3상+DC콤보,20200101000244,20200101004215,00:39:25,20.22000,50.00000,2020
1,천왕역 환승주차장,1,서울특별시,구로구,"서울특별시 구로구 오류동 174-10 , 천왕역 환승주차장 1층",DC차데모+AC3상,20200101000457,20200101004534,00:40:37,18.87000,50.00000,2020
2,민속자연사박물관,1,제주특별자치도,제주시,제주특별자치도 제주시 삼성로 40 민속자연사박물관,DC차데모+AC3상+DC콤보,20200101000745,20200101003703,00:29:13,16.04000,50.00000,2020
3,노형동주민센터,1,제주특별자치도,제주시,"제주특별자치도 제주시 노형9길 9-4, 주차장",DC차데모+AC3상+DC콤보,20200101000748,20200101001659,00:09:07,5.80000,50.00000,2020
4,영일대1주차장,1,경상북도,포항시,경상북도 포항시 북구 해안로82,DC차데모+AC3상+DC콤보,20200101000851,20200101004220,00:33:29,13.32000,50.00000,2020

##### 일시 분리 데이터 출력

In [130]:
df.to_csv('2020-22년_급속충전_일시분리.csv', encoding='utf-8')

## 일시 분리 데이터 로드(다시 시작)

In [5]:
# df = pd.read_csv('2020-22년_급속충전_일시분리.csv', index_col=0)
# df.info()

C:\Users\kbj\AppData\Local\Temp\ipykernel_7780\927583139.py:1: DtypeWarning: Columns (12) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('2020-22년_급속충전_일시분리.csv')

In [131]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11665822 entries, 0 to 11665821
Data columns (total 26 columns):
 #   Column      Dtype
---  ------      -----
 0   충전소명        object
 1   충전기ID       int16
 2   지역          object
 3   시군구         object
 4   주소          object
 5   충전기타입       object
 6   충전시작일시      int64
 7   충전종료일시      object
 8   충전시간        object
 9   충전량         float64
 10  충전용량        object
 11  충전시작_년도     int32
 12  충전시작_월      int32
 13  충전시작_일      int32
 14  충전시작_시      int32
 15  충전시작_분      int32
 16  충전시작_초      int32
 17  충전시작일시(변환)  datetime64[ns]
 18  충전종료_년도     int32
 19  충전종료_월      int32
 20  충전종료_일      int32
 21  충전종료_시      int32
 22  충전종료_분      int32
 23  충전종료_초      int32
 24  충전종료일시(변환)  datetime64[ns]
 25  충전시간(계산)    timedelta64[ns]
dtypes: datetime64[ns](2), float64(1), int16(1), int32(12), int64(1), object(8), timedelta64[ns](1)
memory usage: 1.7+ GB

### raw 충전시간과 계산값 비교

In [132]:
df['충전시간'].head()

0    00:39:25
1    00:40:37
2    00:29:13
3    00:09:07
4    00:33:29
Name: 충전시간, dtype: object

In [133]:
df['충전시간'].dtype

dtype('O')

#### 충전시간 오류 값 처리
- 7개 제거

In [139]:
df.loc[[1165409, 1191927, 1196581, 1196582, 7030914, 7305076, 11392158], '충전시간']

1165409     -6:-2:-5
1191927     00:-4:-1
1196581     00:-1:-4
1196582     00:-1:-2
7030914     00:-4:-2
7305076     00:-1:-3
11392158    -1:-4:-4
Name: 충전시간, dtype: object

In [135]:
# temp = pd.to_timedelta(df['충전시간']) # only leading negative signs are allowed 에러 발생
temp = pd.to_timedelta(df['충전시간'], errors='coerce')

In [136]:
temp.isnull().sum()

7

In [137]:
temp = temp.to_frame()

In [138]:
temp[temp['충전시간'].isnull() == True]

         충전시간
1165409   NaT
1191927   NaT
1196581   NaT
1196582   NaT
7030914   NaT
7305076   NaT
11392158  NaT

In [140]:
null_idx = temp[temp['충전시간'].isnull() == True].index
for i in null_idx:
    print(df.loc[i, '충전시간'], df.loc[i, '충전시작일시(변환)'])

-6:-2:-5 2020-07-01 19:35:59
00:-4:-1 2020-07-05 15:39:18
00:-1:-4 2020-07-06 09:05:47
00:-1:-2 2020-07-06 09:05:47
00:-4:-2 2021-12-30 17:18:27
00:-1:-3 2022-01-14 17:53:48
-1:-4:-4 2022-08-19 03:00:11

In [141]:
df.shape

(11665822, 26)

In [142]:
df2 = df.drop(null_idx).reset_index(drop=True)
df2.shape

(11665815, 26)

In [143]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11665815 entries, 0 to 11665814
Data columns (total 26 columns):
 #   Column      Dtype
---  ------      -----
 0   충전소명        object
 1   충전기ID       int16
 2   지역          object
 3   시군구         object
 4   주소          object
 5   충전기타입       object
 6   충전시작일시      int64
 7   충전종료일시      object
 8   충전시간        object
 9   충전량         float64
 10  충전용량        object
 11  충전시작_년도     int32
 12  충전시작_월      int32
 13  충전시작_일      int32
 14  충전시작_시      int32
 15  충전시작_분      int32
 16  충전시작_초      int32
 17  충전시작일시(변환)  datetime64[ns]
 18  충전종료_년도     int32
 19  충전종료_월      int32
 20  충전종료_일      int32
 21  충전종료_시      int32
 22  충전종료_분      int32
 23  충전종료_초      int32
 24  충전종료일시(변환)  datetime64[ns]
 25  충전시간(계산)    timedelta64[ns]
dtypes: datetime64[ns](2), float64(1), int16(1), int32(12), int64(1), object(8), timedelta64[ns](1)
memory usage: 1.7+ GB

In [144]:
df2['충전시간'] = pd.to_timedelta(df2['충전시간'])
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11665815 entries, 0 to 11665814
Data columns (total 26 columns):
 #   Column      Dtype
---  ------      -----
 0   충전소명        object
 1   충전기ID       int16
 2   지역          object
 3   시군구         object
 4   주소          object
 5   충전기타입       object
 6   충전시작일시      int64
 7   충전종료일시      object
 8   충전시간        timedelta64[ns]
 9   충전량         float64
 10  충전용량        object
 11  충전시작_년도     int32
 12  충전시작_월      int32
 13  충전시작_일      int32
 14  충전시작_시      int32
 15  충전시작_분      int32
 16  충전시작_초      int32
 17  충전시작일시(변환)  datetime64[ns]
 18  충전종료_년도     int32
 19  충전종료_월      int32
 20  충전종료_일      int32
 21  충전종료_시      int32
 22  충전종료_분      int32
 23  충전종료_초      int32
 24  충전종료일시(변환)  datetime64[ns]
 25  충전시간(계산)    timedelta64[ns]
dtypes: datetime64[ns](2), float64(1), int16(1), int32(12), int64(1), object(7), timedelta64[ns](2)
memory usage: 1.7+ GB

In [145]:
df2['충전시간'].describe()

count                     11665815
mean     0 days 00:34:21.381945453
std      0 days 01:20:05.913477577
min                0 days 00:00:00
25%                0 days 00:20:55
50%                0 days 00:34:07
75%                0 days 00:40:00
max                4 days 03:56:55
Name: 충전시간, dtype: object

In [146]:
df2['충전시간(계산)'].describe()

count                     11665815
mean     0 days 00:29:18.506520633
std      4 days 08:44:42.009406092
min          -14905 days +09:10:08
25%                0 days 00:21:28
50%                0 days 00:34:49
75%                0 days 00:40:24
max               14 days 08:40:25
Name: 충전시간(계산), dtype: object

In [147]:
df2[df2['충전시간(계산)'] == '-14905 days +09:10:08']

,충전소명,충전기ID,지역,시군구,주소,충전기타입,충전시작일시,충전종료일시,충전시간,충전량,...,충전시작_초,충전시작일시(변환),충전종료_년도,충전종료_월,충전종료_일,충전종료_시,충전종료_분,충전종료_초,충전종료일시(변환),충전시간(계산)
2154135,단양관광안내소(단양팔경),1,충청북도,단양군,충청북도 단양군 단양읍 고수리 149-1,DC차데모+AC3상+DC콤보,20201030144953,19800110000001,3 days 10:47:44,14.20000,...,53,2020-10-30 14:49:53,1980,1,10,0,0,1,1980-01-10 00:00:01,-14905 days +09:10:08

##### 충전시간 오류 제거 데이터 출력

In [156]:
df2.to_csv('2020-22년_급속충전_충전시간_오류제거.csv', encoding='utf-8')

#### 충전시간 데이터 확인

In [148]:
df2[df2['충전시간'] == '0 days 00:00:00'].head()

,충전소명,충전기ID,지역,시군구,주소,충전기타입,충전시작일시,충전종료일시,충전시간,충전량,...,충전시작_초,충전시작일시(변환),충전종료_년도,충전종료_월,충전종료_일,충전종료_시,충전종료_분,충전종료_초,충전종료일시(변환),충전시간(계산)
40755,스포츠파크 주차장,11,경상남도,거창군,경상남도 거창군 거창읍 심소정길39-36,DC콤보,20200106124403,20200106124403,0 days,1.02000,...,3,2020-01-06 12:44:03,2020,1,6,12,44,3,2020-01-06 12:44:03,0 days 00:00:00
48908,이마트 파주운정점,11,경기도,파주시,경기도 파주시 한울로 123,DC콤보,20200107165228,20200107165255,0 days,22.51000,...,28,2020-01-07 16:52:28,2020,1,7,16,52,55,2020-01-07 16:52:55,0 days 00:00:27
61941,(재)문화엑스포,11,경상북도,경주시,경상북도 경주시 경감로 614,DC콤보,20200109145420,20200109145420,0 days,1.18000,...,20,2020-01-09 14:54:20,2020,1,9,14,54,20,2020-01-09 14:54:20,0 days 00:00:00
103629,종합사회복지관,12,충청남도,공주시,충청남도 공주시 의당면 의당로 257,DC콤보,20200114192124,20200114192132,0 days,14.58000,...,24,2020-01-14 19:21:24,2020,1,14,19,21,32,2020-01-14 19:21:32,0 days 00:00:08
156226,부안국민체육센터,11,전라북도,부안군,전라북도 부안군 부안읍 석정로 162,DC콤보,20200121162513,20200121162513,0 days,1.48000,...,13,2020-01-21 16:25:13,2020,1,21,16,25,13,2020-01-21 16:25:13,0 days 00:00:00

In [149]:
df2[df2['충전시간'] == '0 days 00:00:00'].shape

(5702, 26)

In [150]:
df2['충전량'].dtype

dtype('float64')

In [151]:
df2['충전량'].head()

0   20.22000
1   18.87000
2   16.04000
3    5.80000
4   13.32000
Name: 충전량, dtype: float64

In [152]:
df2[ (df2['충전시간'] == '0 days 00:00:00') & (df2['충전량'] != 0) ][['충전시간', '충전량']]

           충전시간      충전량
40755    0 days  1.02000
48908    0 days 22.51000
61941    0 days  1.18000
103629   0 days 14.58000
156226   0 days  1.48000
...         ...      ...
11571981 0 days 18.70000
11572687 0 days 23.41000
11607861 0 days  7.44000
11618040 0 days  4.50000
11619415 0 days 13.48000

[5702 rows x 2 columns]

In [153]:
df2.loc[ (df2['충전시간'] == '0 days 00:00:00') & (df2['충전량'] != 0), ['충전시간', '충전량'] ]

           충전시간      충전량
40755    0 days  1.02000
48908    0 days 22.51000
61941    0 days  1.18000
103629   0 days 14.58000
156226   0 days  1.48000
...         ...      ...
11571981 0 days 18.70000
11572687 0 days 23.41000
11607861 0 days  7.44000
11618040 0 days  4.50000
11619415 0 days 13.48000

[5702 rows x 2 columns]

In [154]:
df2[ (df2['충전시간'] == '0 days 00:00:00') & (df2['충전량'] != 0) ].shape

(5702, 26)

#### 충전시간(계산) 음수 값 제거
- 52366개

In [155]:
n_ch_time_idx = df2[df2['충전시간(계산)'] < '0'].index
len(n_ch_time_idx)

52366

In [158]:
df2[df2['충전시간(계산)'] < '0']['충전시간(계산)'].head()

16367   -1 days +14:47:54
16370   -1 days +14:47:04
16373   -1 days +14:46:20
16935   -1 days +13:26:06
16941   -1 days +13:25:25
Name: 충전시간(계산), dtype: timedelta64[ns]

In [159]:
df2[df2['충전시간(계산)'] < '0']['충전시간(계산)'].tail()

3255838    -1 days +23:54:45
7653730    -1 days +23:55:24
8325194    -1 days +22:25:53
9172214    -1 days +23:38:16
11279091   -1 days +21:45:24
Name: 충전시간(계산), dtype: timedelta64[ns]

In [157]:
df2.shape

(11665815, 26)

In [160]:
df2 = df2.drop(n_ch_time_idx).reset_index(drop=True)

In [161]:
df2.shape

(11613449, 26)

In [162]:
df2['충전시간'].describe()

count                     11613449
mean     0 days 00:33:51.200344617
std      0 days 01:19:04.781739278
min                0 days 00:00:00
25%                0 days 00:20:53
50%                0 days 00:34:02
75%                0 days 00:40:00
max                4 days 03:56:55
Name: 충전시간, dtype: object

In [163]:
df2['충전시간(계산)'].describe()

count                     11613449
mean     0 days 00:34:58.600275335
std      0 days 01:23:19.668917229
min                0 days 00:00:00
25%                0 days 00:21:39
50%                0 days 00:34:56
75%                0 days 00:40:25
max               14 days 08:40:25
Name: 충전시간(계산), dtype: object

#### 원본 충전시간과 계산 충전시간 차이 통계

In [164]:
temp = df2['충전시간(계산)'] - df2['충전시간']
temp.describe()

count                     11613449
mean     0 days 00:01:07.399930718
std      0 days 01:01:06.908441070
min              -1 days +00:00:23
25%                0 days 00:00:00
50%                0 days 00:00:13
75%                0 days 00:01:42
max               14 days 08:32:12
dtype: object

In [165]:
temp[temp < '0'].shape

(817340,)

In [166]:
df2['raw값과_계산값_차이'] = df2['충전시간(계산)'] - df2['충전시간']

In [167]:
df2[df2['raw값과_계산값_차이'] > '14 days']

,충전소명,충전기ID,지역,시군구,주소,충전기타입,충전시작일시,충전종료일시,충전시간,충전량,...,충전시작일시(변환),충전종료_년도,충전종료_월,충전종료_일,충전종료_시,충전종료_분,충전종료_초,충전종료일시(변환),충전시간(계산),raw값과_계산값_차이
8083907,포항실내사격장,11,경상북도,포항시,경상북도 포항시 북구 용흥동 4-9,DC콤보,20220305094551,20220319182616,0 days 00:08:13,3.24000,...,2022-03-05 09:45:51,2022,3,19,18,26,16,2022-03-19 18:26:16,14 days 08:40:25,14 days 08:32:12

In [168]:
# df2 = df2.drop(['raw값과_계산값_차이'], axis=1)

In [169]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11613449 entries, 0 to 11613448
Data columns (total 27 columns):
 #   Column        Dtype
---  ------        -----
 0   충전소명          object
 1   충전기ID         int16
 2   지역            object
 3   시군구           object
 4   주소            object
 5   충전기타입         object
 6   충전시작일시        int64
 7   충전종료일시        object
 8   충전시간          timedelta64[ns]
 9   충전량           float64
 10  충전용량          object
 11  충전시작_년도       int32
 12  충전시작_월        int32
 13  충전시작_일        int32
 14  충전시작_시        int32
 15  충전시작_분        int32
 16  충전시작_초        int32
 17  충전시작일시(변환)    datetime64[ns]
 18  충전종료_년도       int32
 19  충전종료_월        int32
 20  충전종료_일        int32
 21  충전종료_시        int32
 22  충전종료_분        int32
 23  충전종료_초        int32
 24  충전종료일시(변환)    datetime64[ns]
 25  충전시간(계산)      timedelta64[ns]
 26  raw값과_계산값_차이  timedelta64[ns]
dtypes: datetime64[ns](2), float64(1), int16(1), int32(12), int64(1), object(7), timedelta64[ns](3)
memory usage: 1.8+ GB

In [170]:
df2.iloc[:, :14].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11613449 entries, 0 to 11613448
Data columns (total 14 columns):
 #   Column   Dtype
---  ------   -----
 0   충전소명     object
 1   충전기ID    int16
 2   지역       object
 3   시군구      object
 4   주소       object
 5   충전기타입    object
 6   충전시작일시   int64
 7   충전종료일시   object
 8   충전시간     timedelta64[ns]
 9   충전량      float64
 10  충전용량     object
 11  충전시작_년도  int32
 12  충전시작_월   int32
 13  충전시작_일   int32
dtypes: float64(1), int16(1), int32(3), int64(1), object(7), timedelta64[ns](1)
memory usage: 1.0+ GB

In [171]:
df2.iloc[:, 14:].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11613449 entries, 0 to 11613448
Data columns (total 13 columns):
 #   Column        Dtype
---  ------        -----
 0   충전시작_시        int32
 1   충전시작_분        int32
 2   충전시작_초        int32
 3   충전시작일시(변환)    datetime64[ns]
 4   충전종료_년도       int32
 5   충전종료_월        int32
 6   충전종료_일        int32
 7   충전종료_시        int32
 8   충전종료_분        int32
 9   충전종료_초        int32
 10  충전종료일시(변환)    datetime64[ns]
 11  충전시간(계산)      timedelta64[ns]
 12  raw값과_계산값_차이  timedelta64[ns]
dtypes: datetime64[ns](2), int32(9), timedelta64[ns](2)
memory usage: 753.1 MB

### 데이터 절약

In [172]:
time_cols = ['충전시작_년도', '충전시작_월',  '충전시작_일', '충전시작_시', '충전시작_분', '충전시작_초', '충전종료_년도', '충전종료_월', '충전종료_일', '충전종료_시', '충전종료_분', '충전종료_초']
df2[time_cols].describe()

,충전시작_년도,충전시작_월,충전시작_일,충전시작_시,충전시작_분,충전시작_초,충전종료_년도,충전종료_월,충전종료_일,충전종료_시,충전종료_분,충전종료_초
count,11613449.00000,11613449.00000,11613449.00000,11613449.00000,11613449.00000,11613449.00000,11613449.00000,11613449.00000,11613449.00000,11613449.00000,11613449.00000,11613449.00000
mean,2021.16059,6.20425,15.80842,13.72640,29.47740,29.49963,2021.16062,6.20430,15.80841,14.01221,29.54277,29.45744
std,0.77937,3.33015,8.80106,4.95829,17.33414,17.31996,0.77937,3.33017,8.80110,5.07576,17.34527,17.33907
min,2020.00000,1.00000,1.00000,0.00000,0.00000,0.00000,2020.00000,1.00000,1.00000,0.00000,0.00000,0.00000
25%,2021.00000,3.00000,8.00000,10.00000,14.00000,14.00000,2021.00000,3.00000,8.00000,11.00000,15.00000,14.00000
50%,2021.00000,6.00000,16.00000,14.00000,29.00000,29.00000,2021.00000,6.00000,16.00000,14.00000,30.00000,29.00000
75%,2022.00000,9.00000,23.00000,17.00000,45.00000,45.00000,2022.00000,9.00000,23.00000,18.00000,45.00000,44.00000
max,2022.00000,12.00000,31.00000,23.00000,59.00000,59.00000,2022.00000,12.00000,31.00000,23.00000,59.00000,59.00000

In [173]:
df2[['충전시작_년도', '충전종료_년도']].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11613449 entries, 0 to 11613448
Data columns (total 2 columns):
 #   Column   Dtype
---  ------   -----
 0   충전시작_년도  int32
 1   충전종료_년도  int32
dtypes: int32(2)
memory usage: 88.6 MB

In [174]:
df2[['충전시작_년도', '충전종료_년도']] = df2[['충전시작_년도', '충전종료_년도']].astype('int16')

In [175]:
df2[['충전시작_년도', '충전종료_년도']].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11613449 entries, 0 to 11613448
Data columns (total 2 columns):
 #   Column   Dtype
---  ------   -----
 0   충전시작_년도  int16
 1   충전종료_년도  int16
dtypes: int16(2)
memory usage: 44.3 MB

In [55]:
charge_cols = ['충전시작_월',  '충전시작_일', '충전시작_시', '충전시작_분', '충전시작_초', '충전종료_월', '충전종료_일', '충전종료_시', '충전종료_분', '충전종료_초']
df2[charge_cols].info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 11613449 entries, 0 to 11665821
Data columns (total 10 columns):
 #   Column  Dtype
---  ------  -----
 0   충전시작_월  int64
 1   충전시작_일  int64
 2   충전시작_시  int64
 3   충전시작_분  int64
 4   충전시작_초  int64
 5   충전종료_월  int64
 6   충전종료_일  int64
 7   충전종료_시  int64
 8   충전종료_분  int64
 9   충전종료_초  int64
dtypes: int64(10)
memory usage: 974.6 MB

In [176]:
df2[charge_cols] = df2[charge_cols].astype('int8')
df2[charge_cols].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11613449 entries, 0 to 11613448
Data columns (total 10 columns):
 #   Column  Dtype
---  ------  -----
 0   충전시작_월  int8
 1   충전시작_일  int8
 2   충전시작_시  int8
 3   충전시작_분  int8
 4   충전시작_초  int8
 5   충전종료_월  int8
 6   충전종료_일  int8
 7   충전종료_시  int8
 8   충전종료_분  int8
 9   충전종료_초  int8
dtypes: int8(10)
memory usage: 110.8 MB

In [177]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11613449 entries, 0 to 11613448
Data columns (total 27 columns):
 #   Column        Dtype
---  ------        -----
 0   충전소명          object
 1   충전기ID         int16
 2   지역            object
 3   시군구           object
 4   주소            object
 5   충전기타입         object
 6   충전시작일시        int64
 7   충전종료일시        object
 8   충전시간          timedelta64[ns]
 9   충전량           float64
 10  충전용량          object
 11  충전시작_년도       int16
 12  충전시작_월        int8
 13  충전시작_일        int8
 14  충전시작_시        int8
 15  충전시작_분        int8
 16  충전시작_초        int8
 17  충전시작일시(변환)    datetime64[ns]
 18  충전종료_년도       int16
 19  충전종료_월        int8
 20  충전종료_일        int8
 21  충전종료_시        int8
 22  충전종료_분        int8
 23  충전종료_초        int8
 24  충전종료일시(변환)    datetime64[ns]
 25  충전시간(계산)      timedelta64[ns]
 26  raw값과_계산값_차이  timedelta64[ns]
dtypes: datetime64[ns](2), float64(1), int16(3), int64(1), int8(10), object(7), timedelta64[ns](3)
memory usage: 1.4+ GB

In [178]:
df2['충전기ID'].describe()

count   11613449.00000
mean           8.59347
std           15.08407
min            1.00000
25%            1.00000
50%            1.00000
75%           12.00000
max           98.00000
Name: 충전기ID, dtype: float64

In [179]:
df2['충전기ID'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 11613449 entries, 0 to 11613448
Series name: 충전기ID
Non-Null Count     Dtype
--------------     -----
11613449 non-null  int16
dtypes: int16(1)
memory usage: 22.2 MB

In [64]:
df2['충전시간'].describe()

count                     11613449
mean     0 days 00:33:51.200344617
std      0 days 01:19:04.781739278
min                0 days 00:00:00
25%                0 days 00:20:53
50%                0 days 00:34:02
75%                0 days 00:40:00
max                4 days 03:56:55
Name: 충전시간, dtype: object

## 충전시간 정리 파일로 출력

In [181]:
df2.to_csv('2020-22년_급속충전-충전시간정리.csv', encoding='utf-8')

In [182]:
# df2.to_excel('2020-22년_급속충전-충전시간정리.xlsx', encoding='utf-8') # error : 파일 너무 커서 저장 실패

## 충전시간 정리 파일 로드(다시 시작)

In [4]:
df2 = pd.read_csv('2020-22년_급속충전-충전시간정리.csv', index_col=0, dtype={'충전시작_년도':np.int16, '충전종료_년도':np.int16, '충전시작_월':np.int8,  '충전시작_일':np.int8, '충전시작_시':np.int8, '충전시작_분':np.int8, '충전시작_초':np.int8, '충전종료_월':np.int8, '충전종료_일':np.int8, '충전종료_시':np.int8, '충전종료_분':np.int8, '충전종료_초':np.int8, '충전기ID':np.int8})
df2['충전시간'] = pd.to_timedelta(df2['충전시간'])
df2['충전시간(계산)'] = pd.to_timedelta(df2['충전시간(계산)'])
df2 = df2.reset_index(drop=True)
df2.info()

C:\Users\kbj\AppData\Local\Temp\ipykernel_7108\3489641763.py:1: DtypeWarning: Columns (11) have mixed types. Specify dtype option on import or set low_memory=False.
  df2 = pd.read_csv('2020-22년_급속충전-충전시간정리.csv', index_col=0, dtype={'충전시작_년도':np.int16, '충전종료_년도':np.int16, '충전시작_월':np.int8,  '충전시작_일':np.int8, '충전시작_시':np.int8, '충전시작_분':np.int8, '충전시작_초':np.int8, '충전종료_월':np.int8, '충전종료_일':np.int8, '충전종료_시':np.int8, '충전종료_분':np.int8, '충전종료_초':np.int8, '충전기ID':np.int8})

<class 'pandas.core.frame.DataFrame'>
Int64Index: 11613449 entries, 0 to 11613448
Data columns (total 27 columns):
 #   Column        Dtype
---  ------        -----
 0   충전소명          object
 1   충전기ID         int8
 2   지역            object
 3   시군구           object
 4   주소            object
 5   충전기타입         object
 6   충전시작일시        int64
 7   충전종료일시        int64
 8   충전시간          timedelta64[ns]
 9   충전량           float64
 10  충전용량          object
 11  충전시작_년도       int16
 12  충전시작_월        int8
 13  충전시작_일        int8
 14  충전시작_시        int8
 15  충전시작_분        int8
 16  충전시작_초        int8
 17  충전시작일시(변환)    object
 18  충전종료_년도       int16
 19  충전종료_월        int8
 20  충전종료_일        int8
 21  충전종료_시        int8
 22  충전종료_분        int8
 23  충전종료_초        int8
 24  충전종료일시(변환)    object
 25  충전시간(계산)      timedelta64[ns]
 26  raw값과_계산값_차이  object
dtypes: float64(1), int16(2), int64(2), int8(11), object(9), timedelta64[ns](2)
memory usage: 1.5+ GB

#### 데이터 절약

In [5]:
# df2[['충전시작_년도', '충전종료_년도']] = df2[['충전시작_년도', '충전종료_년도']].astype('int16')
# charge_cols = ['충전시작_월',  '충전시작_일', '충전시작_시', '충전시작_분', '충전시작_초', '충전종료_월', '충전종료_일', '충전종료_시', '충전종료_분', '충전종료_초']
# df2[charge_cols] = df2[charge_cols].astype('int8')
# df2['충전기ID'] = df2['충전기ID'].astype('int8')
# df2[charge_cols].info()

## 분석

### 년도/지역별 충전시간, 충전량 통계
- 총 충전시간, 총 충전량

#### 연도, 지역별 총 충전시간

In [9]:
total_charge_time_l = df2.groupby(['지역', '시군구'])['충전시간'].sum()
total_charge_time_l

지역    시군구
강원도   강릉시   2000 days 10:06:29
      고성군    342 days 10:02:43
      동해시   1281 days 14:11:21
      삼척시    801 days 16:11:31
      속초시    894 days 04:56:14
                   ...
충청북도  제천시   1138 days 18:12:40
      증평군    154 days 17:00:42
      진천군   1108 days 10:33:16
      청주시   5926 days 17:03:39
      충주시   3080 days 13:36:25
Name: 충전시간, Length: 252, dtype: timedelta64[ns]

In [6]:
total_charge_time_y = df2.groupby(['충전시작_년도'])['충전시간'].sum()
total_charge_time_y

충전시작_년도
2020             89296 days 01:56:46
2021             88766 days 15:01:20
2022   94960 days 22:08:44.999999488
Name: 충전시간, dtype: timedelta64[ns]

In [7]:
total_charge_time_yl = df2.groupby(['충전시작_년도', '지역'])['충전시간'].sum()
total_charge_time_yl

충전시작_년도  지역
2020     강원도        6148 days 10:01:35
         경기도       13840 days 18:55:17
         경상남도       4730 days 02:41:21
         경상북도      11275 days 13:47:49
         광주광역시      1824 days 08:01:38
         대구광역시      3112 days 19:53:59
         대전광역시      2662 days 07:41:09
         부산광역시      2020 days 11:30:21
         서울특별시      6382 days 09:09:38
         세종특별자치시     568 days 20:38:10
         울산광역시      1634 days 16:25:51
         인천광역시      3482 days 21:46:27
         전라남도       5581 days 05:29:41
         전라북도       5187 days 09:00:55
         제주특별자치도    8284 days 00:42:42
         충청남도       6550 days 05:43:33
         충청북도       6009 days 12:26:40
2021     강원도        6241 days 13:48:26
         경기도       14241 days 04:13:44
         경상남도       7025 days 11:04:01
         경상북도      10720 days 02:23:57
         광주광역시      1537 days 21:59:15
         대구광역시      3023 days 14:48:01
         대전광역시      2665 days 16:03:49
         부산광역시      2225 days 08:29:06
         서울특별시      6981 days 21:42:07
         세종특별자치시     571 days 14:02:22
         울산광역시      1377 days 03:29:27
         인천광역시      3400 days 22:41:13
         전라남도       4808 days 23:36:01
         전라북도       5284 days 09:17:53
         제주특별자치도    5053 days 02:05:17
         충청남도       7420 days 18:38:10
         충청북도       6186 days 22:38:31
2022     강원도        7004 days 08:25:44
         경기도       16861 days 23:09:49
         경상남도       7638 days 04:01:35
         경상북도      10627 days 02:55:34
         광주광역시      1663 days 18:52:01
         대구광역시      2723 days 01:22:57
         대전광역시      2606 days 13:53:42
         부산광역시      2395 days 10:57:23
         서울특별시      7322 days 02:25:28
         세종특별자치시     406 days 23:52:05
         울산광역시      2037 days 16:22:05
         인천광역시      4315 days 17:20:41
         전라남도       5139 days 16:14:04
         전라북도       6138 days 23:44:48
         제주특별자치도    3648 days 22:41:38
         충청남도       7630 days 11:38:16
         충청북도       6799 days 20:10:55
Name: 충전시간, dtype: timedelta64[ns]

In [8]:
total_charge_time_yl2 = df2.groupby(['충전시작_년도', '지역', '시군구'])['충전시간'].sum()
total_charge_time_yl2

충전시작_년도  지역    시군구
2020     강원도   강릉시    410 days 15:28:29
               고성군     62 days 20:02:16
               동해시    708 days 22:49:15
               삼척시    210 days 20:42:17
               속초시    194 days 05:11:37
                            ...
2022     충청북도  제천시    393 days 12:09:25
               증평군     62 days 12:48:55
               진천군    271 days 04:46:10
               청주시   2235 days 01:32:44
               충주시   1141 days 00:21:33
Name: 충전시간, Length: 744, dtype: timedelta64[ns]

##### 연도/지역별 총 충전시간 파일 출력

In [10]:
total_charge_time_group = pd.ExcelWriter('분석/2020-22년_연도_지역별_충전시간.xlsx')
total_charge_time_l.to_excel(total_charge_time_group, sheet_name='시군구별')
total_charge_time_y.to_excel(total_charge_time_group, sheet_name='년도별')
total_charge_time_yl.to_excel(total_charge_time_group, sheet_name='년도지역별')
total_charge_time_yl2.to_excel(total_charge_time_group, sheet_name='년도시군구별')
total_charge_time_group.save()

#### 지역/연도별 총 충전량 합계

In [11]:
total_charge_vol_l = df2.groupby(['지역', '시군구'])['충전량'].sum()
total_charge_vol_l

지역    시군구
강원도   강릉시   1857604.33000
      고성군    369691.09000
      동해시    701535.12000
      삼척시    716323.83000
      속초시    860865.62000
                 ...
충청북도  제천시    999654.99000
      증평군    155696.15000
      진천군    591631.10000
      청주시   5178912.01000
      충주시   2493316.51000
Name: 충전량, Length: 252, dtype: float64

In [12]:
total_charge_vol_y = df2.groupby(['충전시작_년도'])['충전량'].sum()
total_charge_vol_y

충전시작_년도
2020   46811133.65000
2021   80999447.99000
2022   97428562.80000
Name: 충전량, dtype: float64

In [13]:
total_charge_vol_yl = df2.groupby(['충전시작_년도', '지역'])['충전량'].sum()
total_charge_vol_yl

충전시작_년도  지역
2020     강원도        2989184.45000
         경기도        7010474.66000
         경상남도       3167694.35000
         경상북도       5910919.27000
         광주광역시       754169.55000
         대구광역시      2146057.41000
         대전광역시      1293125.47000
         부산광역시      1062800.58000
         서울특별시      3316642.81000
         세종특별자치시     317304.54000
         울산광역시       780398.72000
         인천광역시      1348635.13000
         전라남도       2539533.61000
         전라북도       2497671.17000
         제주특별자치도    4802271.95000
         충청남도       3916231.72000
         충청북도       2958018.26000
2021     강원도        5871167.90000
         경기도       13035269.15000
         경상남도       6517862.71000
         경상북도      10042405.83000
         광주광역시      1445372.51000
         대구광역시      2783647.75000
         대전광역시      2351933.04000
         부산광역시      1921385.39000
         서울특별시      5851317.95000
         세종특별자치시     525703.96000
         울산광역시      1304336.52000
         인천광역시      3110031.03000
         전라남도       4500415.62000
         전라북도       5038784.96000
         제주특별자치도    4046350.29000
         충청남도       6958596.18000
         충청북도       5694867.20000
2022     강원도        7372220.13000
         경기도       16997906.70000
         경상남도       8091867.96000
         경상북도      11235626.40000
         광주광역시      1735726.28000
         대구광역시      2912572.29000
         대전광역시      2531314.28000
         부산광역시      2421477.37000
         서울특별시      6878092.09000
         세종특별자치시     455896.14000
         울산광역시      2244564.88000
         인천광역시      4362413.48000
         전라남도       5561356.99000
         전라북도       6467173.96000
         제주특별자치도    3359101.56000
         충청남도       7933890.17000
         충청북도       6867362.12000
Name: 충전량, dtype: float64

In [14]:
total_charge_vol_yl2 = df2.groupby(['충전시작_년도', '지역', '시군구'])['충전량'].sum()
total_charge_vol_yl2

충전시작_년도  지역    시군구
2020     강원도   강릉시    298971.29000
               고성군     47163.01000
               동해시     91053.80000
               삼척시    130089.39000
               속초시    142168.72000
                          ...
2022     충청북도  제천시    416637.20000
               증평군     63544.97000
               진천군    277948.46000
               청주시   2263350.46000
               충주시   1161811.42000
Name: 충전량, Length: 744, dtype: float64

##### 년도/지역별 총 충전량 출력

In [15]:
total_charge_vol_group = pd.ExcelWriter('분석/2020-22년_연도_지역별_충전량.xlsx')
total_charge_vol_l.to_excel(total_charge_vol_group, sheet_name='시군구별')
total_charge_vol_y.to_excel(total_charge_vol_group, sheet_name='년도별')
total_charge_vol_yl.to_excel(total_charge_vol_group, sheet_name='년도지역별')
total_charge_vol_yl2.to_excel(total_charge_vol_group, sheet_name='년도시군구별')
total_charge_vol_group.save()

### 년도, 월별 충전시간, 충전량 통계
- 총 충전시간, 총 충전량

#### 년도/월별 총 충전시간

In [17]:
charge_time_y = df2.groupby(['충전시작_년도'])['충전시간'].sum()
charge_time_y

충전시작_년도
2020             89296 days 01:56:46
2021             88766 days 15:01:20
2022   94960 days 22:08:44.999999488
Name: 충전시간, dtype: timedelta64[ns]

In [16]:
charge_time_ym = df2.groupby(['충전시작_년도', '충전시작_월'])['충전시간'].sum()
charge_time_ym

충전시작_년도  충전시작_월
2020     1         4844 days 06:04:49
         2         3807 days 14:53:40
         3         4220 days 18:42:13
         4         5200 days 19:02:23
         5         6698 days 16:05:39
         6         8425 days 07:42:45
         7         9948 days 17:47:42
         8         9994 days 13:12:00
         9         7887 days 09:02:08
         10        9809 days 02:56:50
         11        9686 days 05:46:34
         12        8772 days 14:40:03
2021     1         6700 days 00:31:35
         2         5972 days 01:10:01
         3         6318 days 03:25:10
         4         5981 days 18:18:29
         5         5934 days 01:30:44
         6         5927 days 10:26:42
         7         6999 days 08:35:22
         8         7217 days 06:09:09
         9         7222 days 08:48:45
         10        8611 days 17:43:58
         11       10017 days 21:16:40
         12       11864 days 13:04:45
2022     1        11766 days 19:03:00
         2         9909 days 20:56:47
         3        10833 days 12:08:33
         4        11210 days 01:08:59
         5        12025 days 11:31:03
         6        12032 days 13:22:44
         7        13605 days 05:53:35
         8        13577 days 10:04:04
Name: 충전시간, dtype: timedelta64[ns]

In [20]:
total_charge_time_group_ym = pd.ExcelWriter('분석/2020-22년_급속충전_년월별_총_충전시간.xlsx')
charge_time_y.to_excel(total_charge_time_group_ym, sheet_name='연도별')
charge_time_ym.to_excel(total_charge_time_group_ym, sheet_name='연도월별')
total_charge_time_group_ym.save()

#### 년도/월별 총 충전시간(계산)

In [21]:
cal_charge_time_y = df2.groupby(['충전시작_년도'])['충전시간(계산)'].sum()
cal_charge_time_y

충전시작_년도
2020    84050 days 00:29:12.999999488
2021    95417 days 01:17:47.000000512
2022   102616 days 02:40:48.999999488
Name: 충전시간(계산), dtype: timedelta64[ns]

In [22]:
cal_charge_time_ym = df2.groupby(['충전시작_년도', '충전시작_월'])['충전시간(계산)'].sum()
cal_charge_time_ym

충전시작_년도  충전시작_월
2020     1         5111 days 07:36:54
         2         4030 days 10:04:17
         3         4128 days 11:36:27
         4         4900 days 20:11:06
         5         6183 days 22:26:24
         6         7541 days 18:02:20
         7         8763 days 12:15:12
         8         8909 days 04:45:22
         9         7116 days 07:09:15
         10        9042 days 04:42:48
         11        9503 days 08:37:36
         12        8818 days 17:01:32
2021     1         6970 days 17:06:06
         2         6278 days 23:23:36
         3         6597 days 16:40:25
         4         6267 days 11:25:41
         5         6229 days 08:51:42
         6         6233 days 16:48:38
         7         7350 days 13:25:41
         8         7941 days 11:25:24
         9         8056 days 00:14:44
         10        9592 days 22:42:28
         11       10994 days 09:48:00
         12       12903 days 17:25:22
2022     1        12766 days 06:53:00
         2        10760 days 18:15:50
         3        11820 days 02:18:10
         4        12187 days 02:13:02
         5        13126 days 15:54:21
         6        13076 days 21:10:27
         7        14502 days 02:56:44
         8        14376 days 04:59:15
Name: 충전시간(계산), dtype: timedelta64[ns]

In [23]:
total_cal_charge_time_group_ym = pd.ExcelWriter('분석/2020-22년_급속충전_년월별_총_충전시간(계산).xlsx')
cal_charge_time_y.to_excel(total_cal_charge_time_group_ym, sheet_name='연도별')
cal_charge_time_ym.to_excel(total_cal_charge_time_group_ym, sheet_name='연도월별')
total_cal_charge_time_group_ym.save()

#### 년도/월별 총 충전량

In [24]:
cal_charge_vol_y = df2.groupby(['충전시작_년도'])['충전량'].sum()
cal_charge_vol_y

충전시작_년도
2020   46811133.65000
2021   80999447.99000
2022   97428562.80000
Name: 충전량, dtype: float64

In [25]:
cal_charge_vol_ym = df2.groupby(['충전시작_년도', '충전시작_월'])['충전량'].sum()
cal_charge_vol_ym

충전시작_년도  충전시작_월
2020     1         3728407.76000
         2         2923554.69000
         3         2868303.28000
         4         3029906.70000
         5         3364357.94000
         6         3562807.86000
         7         3794918.35000
         8         4398191.42000
         9         3893530.88000
         10        4855642.05000
         11        5046230.77000
         12        5345281.95000
2021     1         4985581.43000
         2         4688077.46000
         3         5284216.30000
         4         5254442.52000
         5         5396621.91000
         6         5646845.23000
         7         6912348.98000
         8         7154868.40000
         9         7228810.76000
         10        8412678.23000
         11        9455615.51000
         12       10579341.26000
2022     1        10302203.67000
         2         8714278.79000
         3        10292070.61000
         4        11457488.60000
         5        12850982.38000
         6        13187238.69000
         7        15196951.74000
         8        15427348.32000
Name: 충전량, dtype: float64

In [26]:
total_charge_vol_group_ym = pd.ExcelWriter('분석/2020-22년_급속충전_년월별_총_충전량.xlsx')
cal_charge_vol_y.to_excel(total_charge_vol_group_ym, sheet_name='년도별')
cal_charge_vol_ym.to_excel(total_charge_vol_group_ym, sheet_name='년도월별')
total_charge_vol_group_ym.save()

## 데이터 로드(다시 시작)

In [27]:
# df2 = pd.read_csv('2020-22년_급속충전-충전시간정리.csv', index_col=0, dtype={'충전시작_년도':np.int16, '충전종료_년도':np.int16, '충전시작_월':np.int8,  '충전시작_일':np.int8, '충전시작_시':np.int8, '충전시작_분':np.int8, '충전시작_초':np.int8, '충전종료_월':np.int8, '충전종료_일':np.int8, '충전종료_시':np.int8, '충전종료_분':np.int8, '충전종료_초':np.int8, '충전기ID':np.int8})
# df2['충전시간'] = pd.to_timedelta(df2['충전시간'])
# df2['충전시간(계산)'] = pd.to_timedelta(df2['충전시간(계산)'])
# df2 = df2.reset_index(drop=True)
# df2.info()

## 주소 분리
- 샘플수
    - 신주소 : 7,755,902 개
    - 구주소 : 3,857,547 개
- 한 주소에 2개 다른 주소가 입력
    - 동일 지역
        - 신주소 : 20,837개
        - 구주소 : 99,756개
    - 다른 지역
        - 신주소 : 0개
        - 구주소 : 5,427개
    - raw데이터의 입력값 지역이 있는 주소로 병합
        - 예시) 전라남도 무안군 청계면 영산로 1854-16 전라남도 무안군 청계면 영산로 1854-16 -> 전라남도 무안군 청계면 영산로 1854-16
        - 예시) 충청남도 청양군 청양읍 군량리 533 충청남도 태안군 소원면 신덕리 272 -> 충청남도 청양군 청양읍 군량리 533
        - 예시) 전라북도 순창군 풍산면 반월리 12-4 충청남도 공주시 탄천면 삼각리 523-2 -> 전라북도 순창군 풍산면 반월리 12-4
- 도로명 수정
    - "도로명주소 안내" 참고하여 지역 코드와 맞추기위해
        - 예시) 첨단 벤처로 108번길 -> 첨단벤처로108번길

### 특이주소 처리
- '경상북도 경주시 천원2길 9 경북 경주시 교동 153-5'
    - 6463 개
- 지역과 주소가 다른 경우 
    - 지역 : 제주특별자치도	제주시	
    - 주소 : 강남구 양재대로31길

In [99]:
df2[(df2['지역'] != '서울특별시') & (df2['주소'] == '강남구 양재대로31길')]

Empty DataFrame
Columns: [충전소명, 충전기ID, 지역, 시군구, 주소, 충전기타입, 충전시작일시, 충전종료일시, 충전시간, 충전량, 충전용량, 충전시작_년도, 충전시작_월, 충전시작_일, 충전시작_시, 충전시작_분, 충전시작_초, 충전시작일시(변환), 충전종료_년도, 충전종료_월, 충전종료_일, 충전종료_시, 충전종료_분, 충전종료_초, 충전종료일시(변환), 충전시간(계산), raw값과_계산값_차이]
Index: []

[0 rows x 27 columns]

In [31]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11613449 entries, 0 to 11613448
Data columns (total 27 columns):
 #   Column        Dtype
---  ------        -----
 0   충전소명          object
 1   충전기ID         int8
 2   지역            object
 3   시군구           object
 4   주소            object
 5   충전기타입         object
 6   충전시작일시        int64
 7   충전종료일시        int64
 8   충전시간          timedelta64[ns]
 9   충전량           float64
 10  충전용량          object
 11  충전시작_년도       int16
 12  충전시작_월        int8
 13  충전시작_일        int8
 14  충전시작_시        int8
 15  충전시작_분        int8
 16  충전시작_초        int8
 17  충전시작일시(변환)    object
 18  충전종료_년도       int16
 19  충전종료_월        int8
 20  충전종료_일        int8
 21  충전종료_시        int8
 22  충전종료_분        int8
 23  충전종료_초        int8
 24  충전종료일시(변환)    object
 25  충전시간(계산)      timedelta64[ns]
 26  raw값과_계산값_차이  object
dtypes: float64(1), int16(2), int64(2), int8(11), object(9), timedelta64[ns](2)
memory usage: 1.4+ GB

In [32]:
sp_text = '경상북도 경주시 천원2길 9 경북 경주시 교동 153-5'
sp_idx = df2[df2['주소'] == sp_text].index
len(sp_idx)

6463

In [33]:
sp_idx[:5]

Int64Index([5929, 6279, 6615, 7493, 9248], dtype='int64')

In [35]:
df2.loc[[5929, 6279]]['주소']

5929    경상북도 경주시 천원2길 9 경북 경주시 교동 153-5
6279    경상북도 경주시 천원2길 9 경북 경주시 교동 153-5
Name: 주소, dtype: object

In [36]:
sp_temp = df2.loc[sp_idx]
sp_temp.groupby(['충전시작_년도', '충전시작_월'])['주소'].count()

충전시작_년도  충전시작_월
2020     1         117
         2          93
         3          82
         4          73
         5          97
         6          94
         7         117
         8         175
         9          86
         10        112
         11        112
         12        133
2021     1         143
         2         142
         3         137
         4         138
         5         180
         6         196
         7         234
         8         252
         9         264
         10        275
         11        346
         12        262
2022     1         214
         2         262
         3         205
         4         388
         5         348
         6         303
         7         385
         8         498
Name: 주소, dtype: int64

In [37]:
for i in tqdm(sp_idx):
    if df2.loc[i, '주소'] == sp_text:
        df2.loc[i, '주소'] = '경상북도 경주시 천원2길 9'

100%|██████████| 6463/6463 [00:00<00:00, 15877.04it/s]

In [38]:
df2.loc[sp_idx]['주소'].head()

5929    경상북도 경주시 천원2길 9
6279    경상북도 경주시 천원2길 9
6615    경상북도 경주시 천원2길 9
7493    경상북도 경주시 천원2길 9
9248    경상북도 경주시 천원2길 9
Name: 주소, dtype: object

In [39]:
check_sp_idx = df2[df2['주소'] == sp_text].index
len(check_sp_idx)

0

In [100]:
df2[(df2['지역'] != '서울특별시') & (df2['주소'] == '강남구 양재대로31길')]

Empty DataFrame
Columns: [충전소명, 충전기ID, 지역, 시군구, 주소, 충전기타입, 충전시작일시, 충전종료일시, 충전시간, 충전량, 충전용량, 충전시작_년도, 충전시작_월, 충전시작_일, 충전시작_시, 충전시작_분, 충전시작_초, 충전시작일시(변환), 충전종료_년도, 충전종료_월, 충전종료_일, 충전종료_시, 충전종료_분, 충전종료_초, 충전종료일시(변환), 충전시간(계산), raw값과_계산값_차이]
Index: []

[0 rows x 27 columns]

##### 이상 주소 처리 파일 출력

In [41]:
df2.to_csv('2020-22년_급속충전-충전시간정리2.csv', encoding='utf-8')

## 데이터 로드(이상 주소 처리)

In [183]:
# df2 = pd.read_csv('2020-22년_급속충전-충전시간정리2.csv', index_col=0, dtype={'충전시작_년도':np.int16, '충전종료_년도':np.int16, '충전시작_월':np.int8,  '충전시작_일':np.int8, '충전시작_시':np.int8, '충전시작_분':np.int8, '충전시작_초':np.int8, '충전종료_월':np.int8, '충전종료_일':np.int8, '충전종료_시':np.int8, '충전종료_분':np.int8, '충전종료_초':np.int8, '충전기ID':np.int8})
# df2['충전시간'] = pd.to_timedelta(df2['충전시간'])
# df2['충전시간(계산)'] = pd.to_timedelta(df2['충전시간(계산)'])
# df2 = df2.reset_index(drop=True)
# df2.info()

C:\Users\kbj\AppData\Local\Temp\ipykernel_7108\3295936994.py:1: DtypeWarning: Columns (11) have mixed types. Specify dtype option on import or set low_memory=False.
  df2 = pd.read_csv('2020-22년_급속충전-충전시간정리2.csv', index_col=0, dtype={'충전시작_년도':np.int16, '충전종료_년도':np.int16, '충전시작_월':np.int8,  '충전시작_일':np.int8, '충전시작_시':np.int8, '충전시작_분':np.int8, '충전시작_초':np.int8, '충전종료_월':np.int8, '충전종료_일':np.int8, '충전종료_시':np.int8, '충전종료_분':np.int8, '충전종료_초':np.int8, '충전기ID':np.int8})

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11613449 entries, 0 to 11613448
Data columns (total 27 columns):
 #   Column        Dtype
---  ------        -----
 0   충전소명          object
 1   충전기ID         int8
 2   지역            object
 3   시군구           object
 4   주소            object
 5   충전기타입         object
 6   충전시작일시        int64
 7   충전종료일시        int64
 8   충전시간          timedelta64[ns]
 9   충전량           float64
 10  충전용량          object
 11  충전시작_년도       int16
 12  충전시작_월        int8
 13  충전시작_일        int8
 14  충전시작_시        int8
 15  충전시작_분        int8
 16  충전시작_초        int8
 17  충전시작일시(변환)    object
 18  충전종료_년도       int16
 19  충전종료_월        int8
 20  충전종료_일        int8
 21  충전종료_시        int8
 22  충전종료_분        int8
 23  충전종료_초        int8
 24  충전종료일시(변환)    object
 25  충전시간(계산)      timedelta64[ns]
 26  raw값과_계산값_차이  object
dtypes: float64(1), int16(2), int64(2), int8(11), object(9), timedelta64[ns](2)
memory usage: 1.4+ GB

### 신/구주소 분리

In [185]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11613449 entries, 0 to 11613448
Data columns (total 27 columns):
 #   Column        Dtype
---  ------        -----
 0   충전소명          object
 1   충전기ID         int8
 2   지역            object
 3   시군구           object
 4   주소            object
 5   충전기타입         object
 6   충전시작일시        int64
 7   충전종료일시        int64
 8   충전시간          timedelta64[ns]
 9   충전량           float64
 10  충전용량          object
 11  충전시작_년도       int16
 12  충전시작_월        int8
 13  충전시작_일        int8
 14  충전시작_시        int8
 15  충전시작_분        int8
 16  충전시작_초        int8
 17  충전시작일시(변환)    object
 18  충전종료_년도       int16
 19  충전종료_월        int8
 20  충전종료_일        int8
 21  충전종료_시        int8
 22  충전종료_분        int8
 23  충전종료_초        int8
 24  충전종료일시(변환)    object
 25  충전시간(계산)      timedelta64[ns]
 26  raw값과_계산값_차이  object
dtypes: float64(1), int16(2), int64(2), int8(11), object(9), timedelta64[ns](2)
memory usage: 1.4+ GB

In [186]:
id(df2['주소'])

2149920197744

In [187]:
ad = df2['주소'].copy()

In [188]:
id(ad), id(df2), id(df2['주소'])

(2156236569376, 2152879772432, 2149920197744)

In [189]:
temp = ad.to_numpy()
len(temp)

11613449

In [190]:
old_p = re.compile('[가-힣0-9]+동 |[가-힣0-9]+동^[가-힣]|[가-힣0-9]+동[0-9]+|[가-힣0-9]+동$|[가-힣0-9]+리 |[가-힣0-9]+리[0-9]+|[가-힣0-9]+리^[가-힣]|[가-힣0-9]+리$')
s = '제주특별자치도 제주시 외도1동 482-1'
print(old_p.search(s))

<re.Match object; span=(12, 17), match='외도1동 '>

In [191]:
s = '경기도 시흥시 조남동'
print(old_p.search(s))

<re.Match object; span=(8, 11), match='조남동'>

In [192]:
s = '제주특별자치도 제주시 외도1동482-1'
print(old_p.search(s))

<re.Match object; span=(12, 19), match='외도1동482'>

In [193]:
s = '강원도 평창군 용평면 탑거리길 63 , 내고장 으뜸상품 판매장 앞'
print(old_p.search(s))

None

In [194]:
s = '전라북도 남원시 산내면 덕동리 406'
print(old_p.search(s))

<re.Match object; span=(13, 17), match='덕동리 '>

In [195]:
s = '전라북도 남원시 산내면 덕동리406'
print(old_p.search(s))

<re.Match object; span=(13, 19), match='덕동리406'>

In [196]:
s = '충청북도 보은군 마로면 적암리'
print(old_p.search(s))

<re.Match object; span=(13, 16), match='적암리'>

In [197]:
# 오류 주소
    # 신 : 충청북도 단양군 적성면 기동리
    # 신 : 제주특별자치도 제주시 외도1동 482-1
    # 구 : 강원도 평창군 용평면 탑거리길 63 , 내고장 으뜸상품 판매장 앞
    # 신 : 경기도 시흥시 조남동
    # 신 : 7755902
old_adr = []
old_idx = []
new_adr = []
new_idx = []
# new_p = re.compile('[가-힣]+로{1}|[가-힣]+로[0-9]+|[가-힣]+길|[가-힣0-9]+번길')
old_p = re.compile('[가-힣0-9]+동 |[가-힣0-9]+동^[가-힣]|[가-힣0-9]+동[0-9]+|[가-힣0-9]+동$|[가-힣0-9]+리 |[가-힣0-9]+리[0-9]+|[가-힣0-9]+리^[가-힣]|[가-힣0-9]+리$')
for i, s in tqdm(enumerate(temp)):
    # if new_p.search(s):
    if old_p.search(s):
        old_adr.append(s)
        old_idx.append(i)
    else:
        new_adr.append(s)
        new_idx.append(i)

print(len(new_idx))
print(len(old_idx))
print(len(temp))
print(len(new_idx) + len(old_idx) == len(temp))

11613449it [01:01, 187494.46it/s]

7755902
3857547
11613449
True

In [198]:
start_idx = 10*0
new_adr[start_idx:start_idx+10]

['경상남도 김해시 진영읍 하계로96번길 94-4 , 주유소 옆 주차장',
 '제주특별자치도 제주시 삼성로 40 민속자연사박물관',
 '제주특별자치도 제주시 노형9길 9-4,  주차장',
 '경상북도 포항시 북구 해안로82',
 '강원도 양양군 현북면 동해대로 1242',
 '제주특별자치도 제주시 산천단동길 26 인재개발원',
 '경상남도 양산시 양산대로 849 , 운동장 앞 도로쪽 주차장',
 '경상북도 칠곡군 동명면 중앙고속도로 123',
 '강원도 강릉시 강릉대로 33  P3 주차장',
 '제주특별자치도 제주시 우평로 318 부영아파트']

In [199]:
for i in new_adr:
    if '구로구' in i:
        print(i)
        break

서울특별시 구로구 경인로 661  지하2층 L

In [200]:
# 빈칸 2개 있는것 1개로 변환
for i, s in enumerate(new_adr):
    if '  ' in s:
        new_adr[i] = s.replace('  ', ' ')

In [201]:
for i in new_adr:
    if '구로구' in i:
        print(i)
        break

서울특별시 구로구 경인로 661 지하2층 L

In [202]:
for i in new_adr:
    if '구로구 개봉동' in i:
        print(i)
        break

In [203]:
start_idx = 100
new_adr[start_idx:start_idx + 10]

['경기도 고양시 덕양구 고양시청로 10 , 주차장 입구 전 우측',
 '경상북도 상주시 화서면 터골길 51-25',
 '강원도 횡성군 안흥면 영동고속도로 154 , 휴게소와 LPG충전소 사이',
 '경상북도 청도군 청도읍 하지길 59-49 , 휴게소와 주유소 사이',
 '강원도 강릉시 강릉대로 33 P3 주차장',
 '강원도 횡성군 안흥면 영동고속도로 153 , 농축산물판매장 옆',
 '경기도 연천군 연천읍 연천로 220',
 '경상북도 영덕군 강구면 동해대로 4526',
 '경상북도 경산시 진량읍 대학로 1089 고분군 입구 우측 옥외 주차장',
 '충청북도 괴산군 장연면 중부내륙고속도로 205']

In [204]:
start_idx = 100
old_adr[start_idx:start_idx + 10]

['인천광역시 옹진군 영흥면 내리 8-165  공중화장실 옆',
 '제주특별자치도 서귀포시 성산읍 고성리 327-1',
 '제주특별자치도 서귀포시 안덕면 사계리 163-1 , 산방산 주차장 장애인 주차구역 앞',
 '경기도 안양시 동안구 관앙동 1590',
 '경상북도 군위군 산성면 백학리',
 '전라남도 여수시 소호동 505-2, 입구 우측',
 '제주특별자치도 서귀포시 서홍동 666-1',
 '강원도 양양군 현북면 하광정리 80-2',
 '세종특별자치시 나성남로 7-7 BRT환승센터 B주차장 B1 (나성동 531)',
 '강원도 양양군 현북면 하광정리 80-2']

### 신주소, 구주소 데이터 프레임 지정

In [205]:
new_adr_df = df2.loc[new_idx].reset_index(drop=True)
old_adr_df = df2.loc[old_idx].reset_index(drop=True)

In [206]:
new_adr_df[(new_adr_df['지역'] != '서울특별시') & (new_adr_df['주소'] == '강남구 양재대로31길')]

Empty DataFrame
Columns: [충전소명, 충전기ID, 지역, 시군구, 주소, 충전기타입, 충전시작일시, 충전종료일시, 충전시간, 충전량, 충전용량, 충전시작_년도, 충전시작_월, 충전시작_일, 충전시작_시, 충전시작_분, 충전시작_초, 충전시작일시(변환), 충전종료_년도, 충전종료_월, 충전종료_일, 충전종료_시, 충전종료_분, 충전종료_초, 충전종료일시(변환), 충전시간(계산), raw값과_계산값_차이]
Index: []

[0 rows x 27 columns]

In [207]:
old_adr_df[(old_adr_df['지역'] != '서울특별시') & (old_adr_df['주소'] == '강남구 양재대로31길')]

Empty DataFrame
Columns: [충전소명, 충전기ID, 지역, 시군구, 주소, 충전기타입, 충전시작일시, 충전종료일시, 충전시간, 충전량, 충전용량, 충전시작_년도, 충전시작_월, 충전시작_일, 충전시작_시, 충전시작_분, 충전시작_초, 충전시작일시(변환), 충전종료_년도, 충전종료_월, 충전종료_일, 충전종료_시, 충전종료_분, 충전종료_초, 충전종료일시(변환), 충전시간(계산), raw값과_계산값_차이]
Index: []

[0 rows x 27 columns]

In [208]:
id(df2), id(new_adr_df), id(old_adr_df)

(2152879772432, 2152810658976, 2152810657248)

In [209]:
new_adr_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7755902 entries, 0 to 7755901
Data columns (total 27 columns):
 #   Column        Dtype
---  ------        -----
 0   충전소명          object
 1   충전기ID         int8
 2   지역            object
 3   시군구           object
 4   주소            object
 5   충전기타입         object
 6   충전시작일시        int64
 7   충전종료일시        int64
 8   충전시간          timedelta64[ns]
 9   충전량           float64
 10  충전용량          object
 11  충전시작_년도       int16
 12  충전시작_월        int8
 13  충전시작_일        int8
 14  충전시작_시        int8
 15  충전시작_분        int8
 16  충전시작_초        int8
 17  충전시작일시(변환)    object
 18  충전종료_년도       int16
 19  충전종료_월        int8
 20  충전종료_일        int8
 21  충전종료_시        int8
 22  충전종료_분        int8
 23  충전종료_초        int8
 24  충전종료일시(변환)    object
 25  충전시간(계산)      timedelta64[ns]
 26  raw값과_계산값_차이  object
dtypes: float64(1), int16(2), int64(2), int8(11), object(9), timedelta64[ns](2)
memory usage: 939.4+ MB

In [210]:
old_adr_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3857547 entries, 0 to 3857546
Data columns (total 27 columns):
 #   Column        Dtype
---  ------        -----
 0   충전소명          object
 1   충전기ID         int8
 2   지역            object
 3   시군구           object
 4   주소            object
 5   충전기타입         object
 6   충전시작일시        int64
 7   충전종료일시        int64
 8   충전시간          timedelta64[ns]
 9   충전량           float64
 10  충전용량          object
 11  충전시작_년도       int16
 12  충전시작_월        int8
 13  충전시작_일        int8
 14  충전시작_시        int8
 15  충전시작_분        int8
 16  충전시작_초        int8
 17  충전시작일시(변환)    object
 18  충전종료_년도       int16
 19  충전종료_월        int8
 20  충전종료_일        int8
 21  충전종료_시        int8
 22  충전종료_분        int8
 23  충전종료_초        int8
 24  충전종료일시(변환)    object
 25  충전시간(계산)      timedelta64[ns]
 26  raw값과_계산값_차이  object
dtypes: float64(1), int16(2), int64(2), int8(11), object(9), timedelta64[ns](2)
memory usage: 467.2+ MB

### 신주소 정리
- 7755902 개

In [211]:
temp = new_adr_df['주소'].to_numpy()
temp[:10]

array(['경상남도 김해시 진영읍 하계로96번길 94-4 , 주유소 옆 주차장',
       '제주특별자치도 제주시 삼성로 40 민속자연사박물관', '제주특별자치도 제주시 노형9길 9-4,  주차장',
       '경상북도 포항시 북구 해안로82', '강원도 양양군 현북면 동해대로 1242',
       '제주특별자치도 제주시 산천단동길 26 인재개발원', '경상남도 양산시 양산대로 849 , 운동장 앞 도로쪽 주차장',
       '경상북도 칠곡군 동명면 중앙고속도로 123', '강원도 강릉시 강릉대로 33  P3 주차장',
       '제주특별자치도 제주시 우평로 318 부영아파트'], dtype=object)

In [212]:
id(temp), id(new_adr_df['주소']), id(new_adr_df)

(2152066492240, 2153009998624, 2152810658976)

#### 주소 표기 수정
- "전국 도로명 부여사유 조회(2022.08.31기준)" 파일 참고

##### 컴마(,) 제거

In [213]:
for i, s in enumerate(temp):
    if ',' in s:
        print(s)
        break

경상남도 김해시 진영읍 하계로96번길 94-4 , 주유소 옆 주차장

In [214]:
for i, s in enumerate(temp):
    if ',' in s:
        temp[i] = s.replace(',', '')

In [215]:
for i, s in enumerate(temp):
    if ',' in s:
        print(s)
        break

##### 도로명 형식에 맞게 수정

In [216]:
temp[:5]

array(['경상남도 김해시 진영읍 하계로96번길 94-4  주유소 옆 주차장',
       '제주특별자치도 제주시 삼성로 40 민속자연사박물관', '제주특별자치도 제주시 노형9길 9-4  주차장',
       '경상북도 포항시 북구 해안로82', '강원도 양양군 현북면 동해대로 1242'], dtype=object)

In [217]:
'광주광역시 북구 첨단 벤처로 108번길 9'.replace('첨단 벤처로', '첨단벤처로')

'광주광역시 북구 첨단벤처로 108번길 9'

In [218]:
for i, one in enumerate(temp):
    if '첨단 벤처로' in one:
        temp[i] = one.replace('첨단 벤처로', '첨단벤처로')

In [219]:
temp[:10]

array(['경상남도 김해시 진영읍 하계로96번길 94-4  주유소 옆 주차장',
       '제주특별자치도 제주시 삼성로 40 민속자연사박물관', '제주특별자치도 제주시 노형9길 9-4  주차장',
       '경상북도 포항시 북구 해안로82', '강원도 양양군 현북면 동해대로 1242',
       '제주특별자치도 제주시 산천단동길 26 인재개발원', '경상남도 양산시 양산대로 849  운동장 앞 도로쪽 주차장',
       '경상북도 칠곡군 동명면 중앙고속도로 123', '강원도 강릉시 강릉대로 33  P3 주차장',
       '제주특별자치도 제주시 우평로 318 부영아파트'], dtype=object)

##### -길과 숫자 띄어쓰기

In [220]:
n_p = re.compile('([가-힣0-9]+길)([0-9]+)')
s = '전라북도 전주시 완산구 신촌3길24번지'
print(n_p.sub('\g<1> \g<2>', s))

전라북도 전주시 완산구 신촌3길 24번지

In [221]:
s = '전라남도 무안군 삼향읍 오룡1길 (E주차장-전라남도관광안내소)'
print(n_p.sub('\g<1> \g<2>', s))

전라남도 무안군 삼향읍 오룡1길 (E주차장-전라남도관광안내소)

In [222]:
# -길과 숫자 띄어쓰기
n_p = re.compile('([가-힣0-9]+길)([0-9]+)')

for i, one in enumerate(temp):
    if n_p.search(one):
        temp[i] = n_p.sub('\g<1> \g<2>', one)

In [223]:
start_idx = 10*11
temp[start_idx:start_idx+10]

array(['경상북도 상주시 화서면 터골길 51-25', '강원도 횡성군 안흥면 영동고속도로 154',
       '강원도 횡성군 안흥면 영동고속도로 154  휴게소와 LPG충전소 사이',
       '경기도 가평군 설악면 미사리로540번길 51', '전라북도 무주군 안성면 통영대전고속도로 148',
       '충청남도 서천군 비인면 서해안고속도로 168 (성산리)', '충청남도 부여군 내산면 서천공주고속도로 26',
       '강원도 삼척시 청석로3길 16-41', '충청북도 청주시 흥덕구 옥산면 경부고속도로 309 (오산리)',
       '경기도 화성시 팔탄면 서해안고속도로 302  알뜰휴게소 우측'], dtype=object)

##### -로와 숫자 띄어쓰기

In [224]:
n_p = re.compile('([가-힣0-9]+로)([0-9]+)')
s = '경기도 이천시 마장면 중부고속도로82'
print(n_p.sub('\g<1> \g<2>', s))

경기도 이천시 마장면 중부고속도로 82

In [225]:
s = '강원도 강릉시 성산면 영동고속도로 232 (보광리)'
print(n_p.sub('\g<1> \g<2>', s))

강원도 강릉시 성산면 영동고속도로 232 (보광리)

In [226]:
# -로와 숫자 띄어쓰기
n_p = re.compile('([가-힣0-9]+로)([0-9]+)')

for i, one in enumerate(temp):
    if n_p.search(one):
        temp[i] = n_p.sub('\g<1> \g<2>', one)

In [227]:
start_idx = 10*11
temp[start_idx:start_idx+10]

array(['경상북도 상주시 화서면 터골길 51-25', '강원도 횡성군 안흥면 영동고속도로 154',
       '강원도 횡성군 안흥면 영동고속도로 154  휴게소와 LPG충전소 사이',
       '경기도 가평군 설악면 미사리로 540번길 51', '전라북도 무주군 안성면 통영대전고속도로 148',
       '충청남도 서천군 비인면 서해안고속도로 168 (성산리)', '충청남도 부여군 내산면 서천공주고속도로 26',
       '강원도 삼척시 청석로 3길 16-41', '충청북도 청주시 흥덕구 옥산면 경부고속도로 309 (오산리)',
       '경기도 화성시 팔탄면 서해안고속도로 302  알뜰휴게소 우측'], dtype=object)

In [228]:
start_idx = 10*1000
temp[start_idx:start_idx+10]

array(['제주특별자치도 제주시 봉개북1길 15 봉개동주민센터', '경기도 용인시 처인구 주북로 94번길 30-1 (고림동)',
       '충청북도 청주시 흥덕구 무심서로 857', '강원도 춘천시 세실로 108 (석사동)',
       '경기도 화성시 송산면 평택시흥고속도로 25', '전라북도 진안군 진안읍 익산장수고속도로 41 (단양리)',
       '경기도 김포시 김포한강2로 41', '강원도 원주시 문막읍 원문로 1234  휴게소 좌측',
       '경상북도 구미시 봉곡로 15길 54', '경기도 수원시 권선구 수인로 126 수원도시공사 앞 주차장'],
      dtype=object)

##### -로-번-길 붙이기

In [229]:
n_p = re.compile('([가-힣0-9]+로) ([0-9]+번[가-힣]*길)')
s = '광주광역시 북구 첨단벤처로 108번길 9'
print(n_p.search(s))
print(n_p.sub('\g<1>\g<2>', s))

<re.Match object; span=(9, 20), match='첨단벤처로 108번길'>
광주광역시 북구 첨단벤처로108번길 9

In [230]:
# -로-번-길 붙이기
n_p = re.compile('([가-힣0-9]+로) ([0-9]+번[가-힣]*길)')

for i, one in enumerate(temp):
    if n_p.search(one):
        temp[i] = n_p.sub('\g<1>\g<2>', one)

In [231]:
for one in temp:
    if '공항로' in one:
        print(one)
        break

전라남도 무안군 망운면 공항로 970-260

In [232]:
for one in temp:
    if '앞산순환로' in one:
        print(one)
        break

대구광역시 남구 앞산순환로 574-110

##### -로-길 붙이기

In [233]:
n_p = re.compile('([가-힣0-9]+로) ([0-9]+[가-힣]*길)')
s = '서울특별시 강남구 양재대로 31길'
print(n_p.search(s))
print(n_p.sub('\g<1>\g<2>', s))

<re.Match object; span=(10, 18), match='양재대로 31길'>
서울특별시 강남구 양재대로31길

In [234]:
s = '서울특별시 강남구 양재대로'
print(n_p.search(s))
print(n_p.sub('\g<1>\g<2>', s))

None
서울특별시 강남구 양재대로

In [235]:
s = '서울특별시 강남구 양재대로31길'
print(n_p.search(s))
print(n_p.sub('\g<1>\g<2>', s))

None
서울특별시 강남구 양재대로31길

In [236]:
# -로-길 붙이기
n_p = re.compile('([가-힣0-9]+로) ([0-9]+[가-힣]*길)')

for i, one in enumerate(temp):
    if n_p.search(one):
        temp[i] = n_p.sub('\g<1>\g<2>', one)

##### -앙-길 붙이기

In [237]:
n_p = re.compile('([가-힣0-9]+앙) ([0-9]+[가-힣]*길)')
s = '대구광역시 달성군 창리중앙 3길'
print(n_p.search(s))
print(n_p.sub('\g<1>\g<2>', s))

<re.Match object; span=(10, 17), match='창리중앙 3길'>
대구광역시 달성군 창리중앙3길

In [238]:
s = '대구광역시 달성군 창리중앙3길'
print(n_p.search(s))
print(n_p.sub('\g<1>\g<2>', s))

None
대구광역시 달성군 창리중앙3길

In [239]:
s = '대구광역시 달성군 창리중앙'
print(n_p.search(s))
print(n_p.sub('\g<1>\g<2>', s))

None
대구광역시 달성군 창리중앙

In [240]:
# -앙-길 붙이기
n_p = re.compile('([가-힣0-9]+앙) ([0-9]+[가-힣]*길)')

for i, one in enumerate(temp):
    if n_p.search(one):
        temp[i] = n_p.sub('\g<1>\g<2>', one)

##### -장-길 붙이기

In [241]:
n_p = re.compile('([가-힣0-9]+장) ([0-9]+[가-힣]*길)')
s = '대구광역시 남구 관문시장 1길'
print(n_p.search(s))
print(n_p.sub('\g<1>\g<2>', s))

<re.Match object; span=(9, 16), match='관문시장 1길'>
대구광역시 남구 관문시장1길

In [242]:
s = '대구광역시 남구 관문시장1길'
print(n_p.search(s))
print(n_p.sub('\g<1>\g<2>', s))

None
대구광역시 남구 관문시장1길

In [243]:
s = '대구광역시 남구 관문시장'
print(n_p.search(s))
print(n_p.sub('\g<1>\g<2>', s))

None
대구광역시 남구 관문시장

In [244]:
# -장-길 붙이기
n_p = re.compile('([가-힣0-9]+장) ([0-9]+[가-힣]*길)')

for i, one in enumerate(temp):
    if n_p.search(one):
        temp[i] = n_p.sub('\g<1>\g<2>', one)

In [245]:
for one in temp:
    if '대경' in one:
        print(one)
        break

In [246]:
for one in temp:
    if '빛그린' in one:
        print(one)
        break

In [247]:
for one in temp:
    if '빛동' in one:
        print(one)
        break

In [248]:
for one in temp:
    if '둥지' in one:
        print(one)
        break

#### 복수 주소 오류
- 한 주소에 2개 주소 들어있는 것 처리

##### 동일지역
- index(new_adr_df) : 851533

In [249]:
np.where(temp == '전라남도 무안군 망운면 운해로 1436-10 전라남도 함평군 신광면 학동로 1398-9')

(array([ 933745,  975149, 1384836, 1484838, 1535708, 1535958, 1617870,
        1631926, 1638784, 1639145, 1653444, 1671542, 1699602, 1704962,
        1712064, 1713994, 1717291, 1717552, 1725174, 1740609, 1740765,
        1740951, 1753822, 1762659, 1766420, 1774294, 1774640, 1789675,
        1789819, 1799422, 1817527, 1847476, 1851534, 1851899, 1852253,
        1858581, 1865618, 1875923, 1876545, 1877213, 1890627, 1904930,
        1919280, 1919467, 1921953, 1927515, 1927782, 1934760, 1943368,
        1943605, 1957622, 1978008, 1984970, 1990830, 2011154, 2030131,
        2048408, 2048572, 2090497, 2115711, 2122291, 2122459, 2173200,
        2173489, 2178670, 2184523, 2193978, 2194068, 2200966, 2205264,
        2205601, 2232150, 2232206, 2250545, 2252999, 2262388, 2262453,
        2269881, 2281049, 2284933, 2298757, 2327921, 2328485, 2336214,
        2336262, 2338038, 2338191, 2338454, 2351062, 2355158, 2355202,
        2361422, 2367480, 2367641, 2371216, 2383020, 2383366, 2385553,
        2385630, 2420781, 2421841, 2422046, 2422334, 2424669, 2438566,
        2444312, 2462664, 2463556, 2463701, 2469657, 2469747, 2475039,
        2480560, 2487892, 2487971, 2512836, 2512921, 2524878, 2530461,
        2536530, 2560655, 2574930, 2585134, 2587842, 2588210, 2588935,
        2590553, 2591398, 2592790, 2597077, 2603735, 2612235, 2615809,
        2618709, 2631620, 2631914, 2635259, 2635460, 2666754, 2676885,
        2686068, 2689017, 2689100, 2722090, 2723049, 2727032, 2727586,
        2731492, 2731583, 2737459, 2737527, 2743652, 2752354, 2762553,
        2781597, 2784732, 2787959, 2790248, 2803590, 2803915, 2828071,
        2831189, 2839309, 2839609, 2851474, 2900764, 2910125, 2910463,
        2923461, 2928572, 2928635, 2938673, 2941787, 2992576, 3008133,
        3013318, 3023424, 3023457, 3026141, 3035898, 3041210, 3051480,
        3051545, 3061032, 3066899, 3070817, 3082707, 3082934, 3100583,
        3106947, 3107897, 3112186, 3116459, 3124171, 3133899, 3133957,
        3156460, 3161141, 3161310, 3163003, 3209548, 3210569, 3210629,
        3245759, 3250787, 3251132, 3271131, 3286565, 3334633, 3358601,
        3386959, 3447953, 3520773, 3547531, 3550960, 3560264, 3570876,
        3577226, 3592629, 3677357, 3694300, 3698402, 3703354, 3720491,
        3729027, 3755301, 3758991, 3798716, 3820847, 3825485, 3826418,
        3844436, 3852930, 3864073, 3883636, 3903445, 3912316, 3912462,
        3924272, 3924734, 3931970, 3936055, 3961286, 3979406, 3979522,
        3989074, 3993699, 4000270, 4011334, 4012002, 4020922, 4021000,
        4039624, 4049789, 4063675, 4072024, 4073038, 4073955, 4086787,
        4087633, 4092212, 4093061, 4103328, 4110895, 4119399, 4150621,
        4160894, 4185184, 4190349, 4197110, 4203054, 4226893, 4238332,
        4253872, 4264725, 4274890, 4277361, 4278086, 4283509, 4307375,
        4319157, 4349781, 4353380, 4367592, 4416496, 4417785, 4434802,
        4459234, 4468581, 4488334, 4510570, 4526722, 4553347, 4573870,
        4606639, 4611444, 4618875, 4621069, 4661648, 4713200, 4720652,
        4749793, 4853115, 4853512, 4865601, 4948824, 4974145, 4980757,
        4981167, 4989802, 4998923, 4999619, 5029030, 5064054, 5064554,
        5073294, 5099290, 5108884, 5109055, 5111987, 5131405, 5147425,
        5147567, 5172459, 5176013, 5187065, 5199853, 5225702, 5248885,
        5250258, 5250886, 5256366, 5283230, 5296863, 5309237, 5322091,
        5328478, 5374025, 5389138, 5391417, 5418004, 5420864, 5490805,
        5513566, 5525667, 5556447, 5571917, 5580455, 5595691, 5604000,
        5604069, 5608996, 5672884, 5674534, 5675210, 5688567, 5691893,
        5692372, 5710382, 5710779, 5722421, 5772280, 5775081, 5790588,
        5791166, 5797591, 5863147, 5894357, 5897077, 5945196, 5945855,
        5976198, 5986779, 6011146, 6013241, 6016522, 6034291, 6081508,
        6102077, 6105178, 6146856, 6150331, 6156480, 6170482, 6185740,
        6190283, 6190467, 6224156, 6230883, 6248368, 6277098, 6292994,
        6294045, 6300643, 6304473, 6323039, 6360871, 6374671, 6404539,
        6414988, 6415526, 6418299, 6459066, 6469071, 6472040, 6474986,
        6479841, 6482269, 6488306, 6488559, 6495972, 6496551, 6500178,
        6502048, 6518295, 6518817, 6568789, 6595436, 6646020, 6725628,
        6738491, 6741848, 6784855, 6802380, 6805577, 6806204, 6811905,
        6826740, 6830897, 6853415, 6869044, 6869151, 6873339, 6908452,
        6908723, 6922502, 6926010, 6940321, 6957063, 6957565, 6981469,
        7034585, 7060454, 7070556, 7070904, 7071250, 7099143, 7120885,
        7134019, 7138451, 7160298, 7178689, 7189219, 7198715, 7200494,
        7244123, 7245535, 7267749, 7268122, 7293549, 7294008, 7304074,
        7304711, 7310817, 7311612, 7319949, 7327243, 7349013, 7351750,
        7357296, 7365941, 7366474, 7367211, 7377084, 7404318, 7406540,
        7435814, 7454376, 7454749, 7501386, 7511454, 7511615, 7532316,
        7534835, 7542230, 7542723, 7545365, 7546176, 7546648, 7552247,
        7567383, 7578093, 7586526, 7605431, 7619446, 7626677, 7627160,
        7629630, 7673124, 7673609, 7692710, 7707905, 7710540, 7719130,
        7721554, 7744350, 7747372], dtype=int64),)

In [250]:
# temp.index('전라남도 무안군 망운면 운해로 1436-10 전라남도 함평군 신광면 학동로 1398-9')

In [251]:
new_adr_df.loc[933745, '주소']

'전라남도 무안군 망운면 운해로 1436-10 전라남도 함평군 신광면 학동로 1398-9'

In [252]:
temp[933745]

'전라남도 무안군 망운면 운해로 1436-10 전라남도 함평군 신광면 학동로 1398-9'

In [253]:
'전라남도 무안군 망운면 운해로 1436-10'.replace(' 전라남도', '$전라남도').split('$')

['전라남도 무안군 망운면 운해로 1436-10']

In [254]:
temp_si = new_adr_df['시군구'].to_numpy()
temp_si[:5]

array(['김해시', '제주시', '제주시', '포항시', '양양군'], dtype=object)

In [255]:
count = 0
for i, one in tqdm(enumerate(temp)):
    si = list(one.split())[0]
    
    one = one.replace(' ' + si, '$' + si)
    multi_adr = list(one.split('$'))
    if len(multi_adr) == 2:
        count += 1
    for j, two in enumerate(multi_adr):
        if temp_si[i] in two:
            temp[i] = multi_adr[j]

7755902it [00:15, 498679.03it/s]

In [256]:
temp[933745]

'전라남도 무안군 망운면 운해로 1436-10'

In [257]:
count

22888

##### 다른지역
- index(new_adr_df) :

In [258]:
new_adr_df['지역'].unique()

array(['경상남도', '제주특별자치도', '경상북도', '강원도', '대전광역시', '충청남도', '충청북도', '부산광역시',
       '경기도', '전라남도', '대구광역시', '광주광역시', '서울특별시', '울산광역시', '전라북도', '인천광역시',
       '세종특별자치시'], dtype=object)

In [259]:
sep = ' 광주광역시| 전라남도| 전라북도| 제주특별자치도| 세종특별자치시| 서울특별시| 대전광역시| 경기도| 인천광역시| 경상남도| 강원도| 충청북도| 경상북도| 충청남도| 울산광역시| 대구광역시| 부산광역시'

In [260]:
re.split(sep, '광주광역시 북구')

['광주광역시 북구']

In [261]:
len(re.split(sep, '광주광역시 북구'))

1

In [262]:
re.split(sep, '광주광역시 충청북도')

['광주광역시', '']

In [263]:
len(re.split(sep, '광주광역시 충청북도'))

2

In [264]:
count = 0
for i, one in tqdm(enumerate(temp)):
    multi_local = list(re.split(sep, one))
    if len(multi_local) == 2:
        count += 1

7755902it [00:13, 569494.03it/s]

In [265]:
count

0

In [266]:
new_adr_df['주소'] = temp

In [267]:
id(new_adr_df['주소']), id(temp)

(2150216130768, 2152066492240)

In [268]:
new_adr_df['주소'].head()

0    경상남도 김해시 진영읍 하계로96번길 94-4  주유소 옆 주차장
1             제주특별자치도 제주시 삼성로 40 민속자연사박물관
2               제주특별자치도 제주시 노형9길 9-4  주차장
3                      경상북도 포항시 북구 해안로 82
4                   강원도 양양군 현북면 동해대로 1242
Name: 주소, dtype: object

In [269]:
# data : 7,755,902 개
new_adr_df['주소'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 7755902 entries, 0 to 7755901
Series name: 주소
Non-Null Count    Dtype
--------------    -----
7755902 non-null  object
dtypes: object(1)
memory usage: 59.2+ MB

In [270]:
new_adr_df[(new_adr_df['지역'] != '서울특별시') & (new_adr_df['주소'] == '강남구 양재대로31길')]

Empty DataFrame
Columns: [충전소명, 충전기ID, 지역, 시군구, 주소, 충전기타입, 충전시작일시, 충전종료일시, 충전시간, 충전량, 충전용량, 충전시작_년도, 충전시작_월, 충전시작_일, 충전시작_시, 충전시작_분, 충전시작_초, 충전시작일시(변환), 충전종료_년도, 충전종료_월, 충전종료_일, 충전종료_시, 충전종료_분, 충전종료_초, 충전종료일시(변환), 충전시간(계산), raw값과_계산값_차이]
Index: []

[0 rows x 27 columns]

### 구주소 정리
- 3,857,547 개

In [271]:
temp = old_adr_df['주소'].to_numpy()
temp[:10]

array(['서울특별시 구로구 오류동 174-10 , 천왕역 환승주차장 1층', '경상남도 통영시 광도면 죽림리 292-33',
       '전라북도 완주군 봉동읍 둔산리 881', '충청남도 공주시 정안면 석송리', '충청북도 단양군 적성면 기동리',
       '경상북도 영천시 임고면 금대리', '충청남도 예산군 예산읍 석양리 213-2',
       '경상남도 통영시 광도면 죽림리 292-33', '강원도 철원군 동송읍 장흥리 20-15',
       '경상북도 영천시 임고면 금대리'], dtype=object)

##### 컴마(,) 제거

In [272]:
for i, s in enumerate(temp):
    if ',' in s:
        print(s)
        break

서울특별시 구로구 오류동 174-10 , 천왕역 환승주차장 1층

In [273]:
for i, s in enumerate(temp):
    if ',' in s:
        temp[i] = s.replace(',', '')

In [274]:
for i, s in enumerate(temp):
    if ',' in s:
        print(s)
        break

##### -동과 숫자 띄어쓰기

In [275]:
n_p = re.compile('([가-힣0-9]+동)([0-9]+)')
s = '제주특별자치도 제주시 연동2334-4'
print(n_p.sub('\g<1> \g<2>', s))

제주특별자치도 제주시 연동 2334-4

In [276]:
s = '전라북도 정읍시 내장동 52'
print(n_p.sub('\g<1> \g<2>', s))

전라북도 정읍시 내장동 52

In [277]:
# -동과 숫자 띄어쓰기
n_p = re.compile('([가-힣0-9]+동)([0-9]+)')

for i, one in enumerate(temp):
    if n_p.search(one):
        temp[i] = n_p.sub('\g<1> \g<2>', one)

In [278]:
start_idx = 10*1
temp[start_idx:start_idx+10]

array(['전라남도 순천시 황전면 선변리', '서울특별시 성동구 마장동 808', '경상북도 영천시 임고면 금대리',
       '강원도 춘천시 동산면 원창리', '전라북도 익산시 여산면 호산리 산32-6', '서울특별시 성동구 마장동 808',
       '경상북도 영천시 임고면 금대리', '전라남도 순천시 황전면 선변리',
       '서울특별시 강남구 일원동 4-49  주차장 입구 오른쪽', '충청남도 공주시 탄천면 장선리 151-6'],
      dtype=object)

##### -리과 숫자 띄어쓰기

In [279]:
n_p = re.compile('([가-힣0-9]+리)([0-9]+)')
s = '전라남도 영암군 영암읍 개신리484-47'
print(n_p.sub('\g<1> \g<2>', s))

전라남도 영암군 영암읍 개신리 484-47

In [280]:
s = '충청북도 단양군 적성면 기동리'
print(n_p.sub('\g<1> \g<2>', s))

충청북도 단양군 적성면 기동리

In [281]:
s = '충청북도 괴산군 괴산읍 서부리 654'
print(n_p.sub('\g<1> \g<2>', s))

충청북도 괴산군 괴산읍 서부리 654

In [282]:
for i, one in enumerate(temp):
    if n_p.search(one):
        print(one)
        break

전라북도 익산시 함열읍 와리164

In [283]:
# -리과 숫자 띄어쓰기
n_p = re.compile('([가-힣0-9]+리)([0-9]+)')

for i, one in enumerate(temp):
    if n_p.search(one):
        temp[i] = n_p.sub('\g<1> \g<2>', one)

In [284]:
for i, one in enumerate(temp):
    if n_p.search(one):
        print(one)
        break

#### 복수 주소 정리
- 한 주소에 2개 들어있는 것 처리

##### 동일 지역

In [285]:
old_adr_df['주소'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 3857547 entries, 0 to 3857546
Series name: 주소
Non-Null Count    Dtype
--------------    -----
3857547 non-null  object
dtypes: object(1)
memory usage: 29.4+ MB

In [286]:
for i, s in enumerate(old_adr_df['주소']):
    if ('청양군' in s) and ('태안군' in s):
        print(i)
        break

400516

In [287]:
old_adr_df['주소'].to_numpy()[400516]

'충청남도 청양군 청양읍 군량리 533 충청남도 태안군 소원면 신덕리 272'

In [288]:
np.where(temp == '충청남도 청양군 청양읍 군량리 533 충청남도 태안군 소원면 신덕리 272')

(array([ 400516,  402168,  532375,  755429,  781579,  788651,  788782,
         788949,  798424,  798596,  807761,  807893,  819369,  820861,
         823204,  862198,  862400,  890518,  895778,  895952,  897539,
         897749,  897930,  902415,  902526,  907601,  911651,  911870,
         917341,  922530,  922728,  932413,  936971,  937172,  940033,
         952060,  952202,  968899,  969084,  980404,  980576,  986778,
         986955,  994597,  994606,  996089, 1001959, 1002171, 1003030,
        1003271, 1004500, 1010432, 1010500, 1014017, 1014183, 1021491,
        1023780, 1023930, 1024146, 1028163, 1035296, 1035424, 1041319,
        1050848, 1056282, 1056366, 1061277, 1062513, 1066226, 1090276,
        1090343, 1097005, 1097864, 1108647, 1108725, 1108917, 1114937,
        1143618, 1152709, 1152737, 1153747, 1153936, 1166952, 1171090,
        1178615, 1178764, 1184490, 1184658, 1194422, 1194475, 1194528,
        1194658, 1214821, 1223787, 1225256, 1225372, 1226340, 1227885,
        1238691, 1253322, 1269613, 1273476, 1278687, 1281053, 1291038,
        1292133, 1292283, 1300791, 1307646, 1309456, 1313535, 1318373,
        1321551, 1331050, 1334374, 1334515, 1335371, 1335568, 1339023,
        1342723, 1342883, 1354908, 1355005, 1358195, 1358284, 1361828,
        1362401, 1376627, 1376740, 1376921, 1377614, 1380824, 1390105,
        1393464, 1411411, 1417283, 1420081, 1422917, 1450380, 1450474,
        1467331, 1470012, 1484947, 1491617, 1492580, 1515721, 1516136,
        1519345, 1531847, 1535601, 1536378, 1537522, 1537576, 1537890,
        1538373, 1543824, 1565305, 1579535, 1580031, 1580716, 1580927,
        1582943, 1583559, 1584572, 1584683, 1608153, 1611606, 1624992,
        1625053, 1625541, 1632799, 1635959, 1655794, 1663330, 1663703,
        1663981, 1679325, 1684928, 1705751, 1709688, 1724851, 1727042,
        1731082, 1743341, 1757221, 1757999, 1782743, 1783986, 1785898,
        1791093, 1796155, 1797499, 1801153, 1805520, 1805796, 1818636,
        1818776, 1820484, 1827085, 1827106, 1829334, 1829695, 1837237,
        1839526, 1844541, 1847039, 1847317, 1850348, 1852314, 1852391,
        1852669, 1852689, 1853005, 1853131, 1855120, 1857835, 1860798,
        1868049, 1871722, 1874220, 1874437, 1882020, 1885120, 1886806,
        1894028, 1895502, 1898918, 1899075, 1899295, 1911071, 1915813,
        1916398, 1920086, 1922135, 1922212, 1930886, 1932522, 1939439,
        1941274, 1944430, 1951532, 1957586, 1961782, 1966514, 1971662,
        1972354, 1972872, 1981771, 1985039, 2015654, 2019276, 2019410,
        2025799, 2044741, 2050651, 2051508, 2060466, 2060512, 2060610,
        2080199, 2083071, 2089455, 2092123, 2096430, 2096706, 2102491,
        2102737, 2125114, 2135574, 2139760, 2140003, 2163792, 2168544,
        2170515, 2174511, 2174851, 2180878, 2187458, 2192672, 2198176,
        2204471, 2217951, 2231426, 2249708, 2266029, 2272343, 2273041,
        2303512, 2324462, 2352590, 2356267, 2357582, 2386958, 2396590,
        2397097, 2403289, 2404274, 2404575, 2405214, 2409960, 2411891,
        2423093, 2423609, 2424125, 2445219, 2455467, 2462473, 2464360,
        2480814, 2481124, 2485979, 2486228, 2487382, 2488974, 2491090,
        2498451, 2503979, 2521528, 2525584, 2561062, 2564710, 2566919,
        2567347, 2570313, 2572723, 2573135, 2577696, 2578088, 2591254,
        2595063, 2595397, 2595783, 2596212, 2601039, 2601984, 2606661,
        2607277, 2607726, 2608833, 2614185, 2630270, 2630596, 2636289,
        2637141, 2641264, 2641590, 2644400, 2647418, 2649434, 2655057,
        2655953, 2656429, 2657803, 2661083, 2672028, 2676934, 2680643,
        2680820, 2686370, 2688282, 2688593, 2689039, 2694481, 2694955,
        2709265, 2710183, 2710637, 2711108, 2716432, 2716739, 2716887,
        2720010, 2720203, 2721402, 2721829, 2726861, 2731561, 2731933,
        2737874, 2740615, 2744996, 2746070, 2746363, 2752098, 2752535,
        2756768, 2757035, 2762735, 2763104, 2767555, 2767909, 2771113,
        2781804, 2788258, 2789303, 2790444, 2790738, 2794231, 2796643,
        2796971, 2800087, 2800723, 2802186, 2802962, 2808233, 2809475,
        2813084, 2823722, 2824005, 2825226, 2830921, 2831221, 2845765,
        2846028, 2872597, 2910590, 2918285, 2921457, 2921684, 2924542,
        2928550, 2929915, 2958250, 2959409, 2959717, 2959965, 2966298,
        2970446, 2976308, 2976780, 2978850, 2985963, 2992558, 2992730,
        2994757, 2995017, 3000827, 3007023, 3010498, 3013533, 3013878,
        3030566, 3030870, 3033067, 3035759, 3036260, 3036484, 3042643,
        3055600, 3055872, 3082198, 3084486, 3088551, 3088875, 3089160,
        3089444, 3090243, 3101599, 3102037, 3108398, 3109190, 3126310,
        3126622, 3138329, 3139535, 3143326, 3144808, 3162558, 3162668,
        3164152, 3164474, 3173325, 3188597, 3188706, 3190144, 3192669,
        3204270, 3209232, 3215173, 3215473, 3228437, 3236572, 3255241,
        3267896, 3269156, 3275334, 3286215, 3292617, 3297679, 3297958,
        3299013, 3299438, 3299789, 3300188, 3309390, 3311634, 3318640,
        3319005, 3323928, 3334404, 3342210, 3351186, 3352553, 3354571,
        3358555, 3381194, 3393567, 3413616, 3424715, 3426134, 3431537,
        3437409, 3446581, 3449140, 3455590, 3461854, 3470082, 3491066,
        3499646, 3512968, 3515519, 3518462, 3527483, 3548453, 3553209,
        3553889, 3560399, 3567491, 3567808, 3618258, 3641508, 3653535,
        3661113, 3669559, 3674206, 3694824, 3695176, 3696902, 3707991,
        3708718, 3722046, 3724050, 3724496, 3738479, 3738545, 3745287,
        3755543, 3755612, 3756372, 3756832, 3758134, 3758467, 3762664,
        3762763, 3762872, 3768522, 3780255, 3792613, 3794267, 3794958,
        3797695, 3800448, 3806189, 3807746, 3811719, 3812601, 3813300,
        3813638, 3813739, 3815894, 3817299, 3818251, 3819950, 3820304,
        3821976, 3822544, 3823478, 3831565, 3831709, 3835262, 3838733,
        3839367, 3840024, 3840302, 3843705, 3851259, 3851814, 3856482],
       dtype=int64),)

In [289]:
temp[400516]

'충청남도 청양군 청양읍 군량리 533 충청남도 태안군 소원면 신덕리 272'

In [290]:
temp_si = old_adr_df['시군구'].to_numpy()
temp_si[:5]

array(['구로구', '통영시', '완주군', '공주시', '단양군'], dtype=object)

In [291]:
count = 0
for i, one in tqdm(enumerate(temp)):
    si = list(one.split())[0]
    one = one.replace(' ' + si, '$' + si)
    multi_adr = list(one.split('$'))
    if len(multi_adr) == 2:
        count += 1
    for j, two in enumerate(multi_adr):
        if temp_si[i] in two:
            temp[i] = multi_adr[j]

3857547it [00:08, 480224.44it/s]

In [292]:
temp[400516]

'충청남도 청양군 청양읍 군량리 533'

In [293]:
count

99756

##### 다른 지역

In [294]:
rep_dict = {" 광주광역시":"$광주광역시" ," 전라남도":"$전라남도"," 전라북도":"$전라북도"," 제주특별자치도":"$제주특별자치도"," 세종특별자치시":"$세종특별자치시"," 서울특별시":"$서울특별시"," 대전광역시":"$대전광역시"," 경기도":"$경기도"," 인천광역시":"$인천광역시"," 경상남도":"$경상남도"," 강원도":"$강원도"," 충청북도":"$충청북도"," 경상북도":"$경상북도"," 충청남도":"$충청남도"," 울산광역시":"$울산광역시"," 대구광역시":"$대구광역시"," 부산광역시":"$부산광역시"}

In [295]:
for k, v in rep_dict.items():
    print(k, v)

 광주광역시 $광주광역시
 전라남도 $전라남도
 전라북도 $전라북도
 제주특별자치도 $제주특별자치도
 세종특별자치시 $세종특별자치시
 서울특별시 $서울특별시
 대전광역시 $대전광역시
 경기도 $경기도
 인천광역시 $인천광역시
 경상남도 $경상남도
 강원도 $강원도
 충청북도 $충청북도
 경상북도 $경상북도
 충청남도 $충청남도
 울산광역시 $울산광역시
 대구광역시 $대구광역시
 부산광역시 $부산광역시

In [296]:
s = '전라북도 순창군 풍산면 반월리 12-4 충청남도 공주시 탄천면 삼각리 523-2'
for k, v in rep_dict.items():
    s = s.replace(k, v)
s

'전라북도 순창군 풍산면 반월리 12-4$충청남도 공주시 탄천면 삼각리 523-2'

In [297]:
sep = ' 광주광역시| 전라남도| 전라북도| 제주특별자치도| 세종특별자치시| 서울특별시| 대전광역시| 경기도| 인천광역시| 경상남도| 강원도| 충청북도| 경상북도| 충청남도| 울산광역시| 대구광역시| 부산광역시'

In [298]:
count = 0
multi_adr_old_indx = []
for i, one in enumerate(temp):
    multi_local = list(re.split(sep, one))
    if len(multi_local) == 2:
        multi_adr_old_indx.append(i)
        count += 1

In [299]:
count

5427

In [300]:
multi_adr_old_indx[:5]

[335492, 335552, 531411, 607542, 611395]

In [301]:
temp[335492]

'전라북도 순창군 풍산면 반월리 12-4 충청남도 공주시 탄천면 삼각리 523-2'

In [302]:
temp[335552]

'전라북도 순창군 풍산면 반월리 12-4 충청남도 공주시 탄천면 삼각리 523-2'

In [303]:
count = 0
for i, one in tqdm(enumerate(temp)):
    for k, v in rep_dict.items():
        one = one.replace(k, v)
    multi_adr = list(one.split('$'))
    if len(multi_adr) == 2:
        count += 1
    for j, two in enumerate(multi_adr):
        if temp_si[i] in two:
            temp[i] = multi_adr[j]

3857547it [00:17, 220675.02it/s]

In [304]:
count

5427

In [305]:
temp[335492]

'전라북도 순창군 풍산면 반월리 12-4'

In [306]:
temp[335552]

'전라북도 순창군 풍산면 반월리 12-4'

In [307]:
old_adr_df['주소'] = temp

In [308]:
old_adr_df['주소'].head()

0    서울특별시 구로구 오류동 174-10  천왕역 환승주차장 1층
1               경상남도 통영시 광도면 죽림리 292-33
2                  전라북도 완주군 봉동읍 둔산리 881
3                      충청남도 공주시 정안면 석송리
4                      충청북도 단양군 적성면 기동리
Name: 주소, dtype: object

In [309]:
# data : 3857547 개
old_adr_df['주소'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 3857547 entries, 0 to 3857546
Series name: 주소
Non-Null Count    Dtype
--------------    -----
3857547 non-null  object
dtypes: object(1)
memory usage: 29.4+ MB

In [310]:
new_adr_df[(new_adr_df['지역'] != '서울특별시') & (new_adr_df['주소'] == '서울특별시 강남구 양재대로31길')]

Empty DataFrame
Columns: [충전소명, 충전기ID, 지역, 시군구, 주소, 충전기타입, 충전시작일시, 충전종료일시, 충전시간, 충전량, 충전용량, 충전시작_년도, 충전시작_월, 충전시작_일, 충전시작_시, 충전시작_분, 충전시작_초, 충전시작일시(변환), 충전종료_년도, 충전종료_월, 충전종료_일, 충전종료_시, 충전종료_분, 충전종료_초, 충전종료일시(변환), 충전시간(계산), raw값과_계산값_차이]
Index: []

[0 rows x 27 columns]

##### 신주소, 구주소 분리 파일 출력

In [311]:
new_adr_df.to_csv('2020-22년_급속충전_신주소.csv', encoding='utf-8')

In [312]:
old_adr_df.to_csv('2020-22년_급속충전_구주소.csv', encoding='utf-8')

##### 신주소, 구주소 로드(다시 시작)

In [184]:
# new_adr_df = pd.read_csv('2020-22년_급속충전_신주소.csv', index_col=0)
# old_adr_df = pd.read_csv('2020-22년_급속충전_구주소.csv', index_col=0)

C:\Users\kbj\AppData\Local\Temp\ipykernel_10424\807878742.py:1: DtypeWarning: Columns (11) have mixed types. Specify dtype option on import or set low_memory=False.
  new_adr_df = pd.read_csv('2020-22년_급속충전_신주소.csv', index_col=0)
C:\Users\kbj\AppData\Local\Temp\ipykernel_10424\807878742.py:2: DtypeWarning: Columns (11) have mixed types. Specify dtype option on import or set low_memory=False.
  old_adr_df = pd.read_csv('2020-22년_급속충전_구주소.csv', index_col=0)

### 신주소 상세 분리

#### 상세 분리

In [313]:
new_adr_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7755902 entries, 0 to 7755901
Data columns (total 27 columns):
 #   Column        Dtype
---  ------        -----
 0   충전소명          object
 1   충전기ID         int8
 2   지역            object
 3   시군구           object
 4   주소            object
 5   충전기타입         object
 6   충전시작일시        int64
 7   충전종료일시        int64
 8   충전시간          timedelta64[ns]
 9   충전량           float64
 10  충전용량          object
 11  충전시작_년도       int16
 12  충전시작_월        int8
 13  충전시작_일        int8
 14  충전시작_시        int8
 15  충전시작_분        int8
 16  충전시작_초        int8
 17  충전시작일시(변환)    object
 18  충전종료_년도       int16
 19  충전종료_월        int8
 20  충전종료_일        int8
 21  충전종료_시        int8
 22  충전종료_분        int8
 23  충전종료_초        int8
 24  충전종료일시(변환)    object
 25  충전시간(계산)      timedelta64[ns]
 26  raw값과_계산값_차이  object
dtypes: float64(1), int16(2), int64(2), int8(11), object(9), timedelta64[ns](2)
memory usage: 939.4+ MB

In [314]:
new_adr_df.head()

,충전소명,충전기ID,지역,시군구,주소,충전기타입,충전시작일시,충전종료일시,충전시간,충전량,...,충전시작일시(변환),충전종료_년도,충전종료_월,충전종료_일,충전종료_시,충전종료_분,충전종료_초,충전종료일시(변환),충전시간(계산),raw값과_계산값_차이
0,진영휴게소(부산방향),1,경상남도,김해시,경상남도 김해시 진영읍 하계로96번길 94-4 주유소 옆 주차장,DC차데모+AC3상+DC콤보,20200101000244,20200101004215,0 days 00:39:25,20.22000,...,2020-01-01 00:02:44,2020,1,1,0,42,15,2020-01-01 00:42:15,0 days 00:39:31,0 days 00:00:06
1,민속자연사박물관,1,제주특별자치도,제주시,제주특별자치도 제주시 삼성로 40 민속자연사박물관,DC차데모+AC3상+DC콤보,20200101000745,20200101003703,0 days 00:29:13,16.04000,...,2020-01-01 00:07:45,2020,1,1,0,37,3,2020-01-01 00:37:03,0 days 00:29:18,0 days 00:00:05
2,노형동주민센터,1,제주특별자치도,제주시,제주특별자치도 제주시 노형9길 9-4 주차장,DC차데모+AC3상+DC콤보,20200101000748,20200101001659,0 days 00:09:07,5.80000,...,2020-01-01 00:07:48,2020,1,1,0,16,59,2020-01-01 00:16:59,0 days 00:09:11,0 days 00:00:04
3,영일대1주차장,1,경상북도,포항시,경상북도 포항시 북구 해안로 82,DC차데모+AC3상+DC콤보,20200101000851,20200101004220,0 days 00:33:29,13.32000,...,2020-01-01 00:08:51,2020,1,1,0,42,20,2020-01-01 00:42:20,0 days 00:33:29,0 days 00:00:00
4,38선 휴게소,1,강원도,양양군,강원도 양양군 현북면 동해대로 1242,DC차데모+AC3상+DC콤보,20200101001042,20200101005123,0 days 00:40:41,29.23000,...,2020-01-01 00:10:42,2020,1,1,0,51,23,2020-01-01 00:51:23,0 days 00:40:41,0 days 00:00:00

In [315]:
temp = new_adr_df['주소'].str.split(expand=True)
temp.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12
0,경상남도,김해시,진영읍,하계로96번길,94-4,주유소,옆,주차장,None,None,None,None,None
1,제주특별자치도,제주시,삼성로,40,민속자연사박물관,None,None,None,None,None,None,None,None
2,제주특별자치도,제주시,노형9길,9-4,주차장,None,None,None,None,None,None,None,None
3,경상북도,포항시,북구,해안로,82,None,None,None,None,None,None,None,None
4,강원도,양양군,현북면,동해대로,1242,None,None,None,None,None,None,None,None

In [316]:
temp.shape

(7755902, 13)

In [317]:
# 5번컬럼까지 -길, -로, -번길 존재
# 6번부터 없음
check_p = re.compile('로$|길$|번길$')
for one in range(5, 13):
    print(f'{one}', end=' : ')
    uni = temp[temp[one].notnull() == True][one].unique()
    # print(uni)
    count = 0
    for two in uni:
        if check_p.search(two):
            count += 1
            break
    if count != 0:
        print('Yes')
    else:
        print('No')

5 : Yes
6 : No
7 : No
8 : No
9 : No
10 : No
11 : No
12 : No

In [318]:
temp[5].unique()

array(['주유소', None, '앞', '주차장', '행담도휴게소(목포방향)', '휴게소', '289', '동부소방서',
       '휴게소와', '본관', '농축산물판매장', '대형주차장', '1층', '제2청사)', '건물', '출연자',
       '성남시청', '4층', '행담도휴게소(서울방향)', '서생면사무소', '(보광리)', '공중화장실', '(방목리)',
       'D15', '309', '(오가리)', '성판악휴게소', '(농협)', '(제비리)', '(방내리)', '13',
       '고분군', '(성산리)', '알뜰휴게소', '보성군청', '(용전리)', '793-40', '출구', '(강학리)',
       '(옥산리)', '애월읍도서관', '(죽전동)', '농산물매장', '1511', '(성하리)', '(양곡리)',
       '(송계리)', '주차', '(보산리)', '민원봉사실', '136', '가평휴게소', '왼쪽', '407', '우측',
       '(도리)', '(율암리)', '율동자연공원', '알펜시아', '(신양리)', '옆', '1F)', '좌측',
       '마리나요트클럽', '23-37', '47', '(공세동)', '후문', '(순지리)', '매표소', '추자면사무소',
       '2번', '(외부리)', '소형주차장', '자치경찰대', '후포문화복지센터', '75', '뒤편', '영암군청',
       '(망상동)', '지상주차장', '(두대동)', '경비실', '제주농업기술센터', '내고장', '(회포리)', '05',
       '표선생활체육관', '환경성질환예방관리센터', '옥외주차장', '(삼룡동)173-1', '입구', '장흥군청',
       '576', '20', '(고림동)', '(우천리)', '236-1', '출구방향', '2층', '(가천리)',
       '수원도시공사', '화장실', '(쌍용2동)', '끝', '(주수리)', '구좌체육관', '(유현리)', '(묵곡리)',
       '26', '(금창리)', '01', '주차빌딩', '(신제리)', '2987', '(계내리)', '(신월리)',
       '(서현동)', '안내소', '여성전용구역', '(송선동)', '오른쪽', '수영장', '(조령리)', '장애인주차장',
       '(비월리)', '(화양리)', '(서계양리)', '서문주차장', '(본두리)', '계단쪽', '쉼터', '2616',
       '(공진리)', '133', '(청룡리)', '(주교리)', '(목리)', '(오곡리)', '성읍민속마을',
       '지하주차장', '(하방리)', '(석계리)', '화성시청사', '프리미엄', '(신촌리)', '만장굴', '88',
       '(단양리)', '교래자연휴양림', '매표소앞', '(월산리)', '290', '(적암리)', '황소주차장',
       '파고라', '(양덕리)', '(수남리)', '(용계리)', '정면', '북주차장(우측)', '(아곡리)',
       '서귀포농업기술센터', '체육관', '옥상주차장', '15', '플랜카드', '14', '(양악리)', '(삼송리)',
       '(영덕리)', '318', '제2소형주차장', '시계탑', '지하2층', '(남산리)', '끝편', 'C8',
       '(가정리)', 'H01', '정문', '206', '(금국리)', '(벽송리)', '(본오동)', '지하',
       '(모현리)', '임실군청', '36', '후면', '(은교리)', '차량정비소', '뒷편', '곶자왈', '5층',
       '복지센터', '영광', '60', '북쪽주차장', '1182', '18', '라면공방', '28', '(소매곡리)',
       '사랑나눔복지회관', '(신전리)', '24', 'L', '왼편', '8', '(백산리)', '554', '36번길',
       '충전소', '(지곡동)', '4-11', '옥상', '매장', '3610', '3층', '(덕소리)', '(죽암리)',
       '게이트볼장', '(매류리)', '불갑저수지', '진입후', '466', '차량경정비', '공영주차장', '(천천동)',
       '지하1층', '(양덕동)', '좌측편', '(박산리)', '외부화장실', '1137-1', '(수진동)',
       '(장교리)', '(매화리)', '옥상층', 'D1', '출구앞', '맞은편', '980', '(이의동)',
       '후문주차장', '258', '화장시설', 'M50', '소형차', '지원사무소', '지하3층', '(명포리)',
       '모구리야영장', '101', '도로쪽', 'B01', '4646', '포항시립', '어상천면사무소', '(고암리)',
       '민원인', '복지회관', '2472', '(삼양리)', '주차타워', '46', '진해해양공원', '927',
       '로즈홀', '포항시청', '법성면사무소', '상관면주민자치센터', '제2청사', 'LPG', '(용면리)',
       '울릉군', '49', '97', '177-74', '율포해수녹차탕주차장', '온달평강3로', '171-3', '10',
       '33', '317', '99', '대강면사무소', '증평군청', '제일오투마트', '57', '아우라지',
       '1143', '7', '572', '153', '117번길', '501', '187', '242', '21',
       '34', '71', '1872', '1600', '200', '1', '30', '161'], dtype=object)

In [319]:
temp[temp[5] == '온달평강3로'].head()

,0,1,2,3,4,5,6,7,8,9,10,11,12
637957,충청북도,단양군,영춘면,온달평강3로,9,온달평강3로,9-1,None,None,None,None,None,None
637997,충청북도,단양군,영춘면,온달평강3로,9,온달평강3로,9-1,None,None,None,None,None,None
641965,충청북도,단양군,영춘면,온달평강3로,9,온달평강3로,9-1,None,None,None,None,None,None
646183,충청북도,단양군,영춘면,온달평강3로,9,온달평강3로,9-1,None,None,None,None,None,None
652948,충청북도,단양군,영춘면,온달평강3로,9,온달평강3로,9-1,None,None,None,None,None,None

In [320]:
temp[temp[5] == '온달평강3로'].shape

(808, 13)

In [321]:
temp[4].unique()

array(['94-4', '민속자연사박물관', '주차장', ..., '21-8', '941', '247'], dtype=object)

In [322]:
temp = temp.fillna(np.nan)

In [323]:
temp.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12
0,경상남도,김해시,진영읍,하계로96번길,94-4,주유소,옆,주차장,NaN,NaN,NaN,NaN,NaN
1,제주특별자치도,제주시,삼성로,40,민속자연사박물관,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,제주특별자치도,제주시,노형9길,9-4,주차장,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,경상북도,포항시,북구,해안로,82,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,강원도,양양군,현북면,동해대로,1242,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [324]:
temp.shape

(7755902, 13)

In [325]:
new_adr_df2 = pd.concat([new_adr_df, temp], axis=1)
new_adr_df2.head()

,충전소명,충전기ID,지역,시군구,주소,충전기타입,충전시작일시,충전종료일시,충전시간,충전량,...,3,4,5,6,7,8,9,10,11,12
0,진영휴게소(부산방향),1,경상남도,김해시,경상남도 김해시 진영읍 하계로96번길 94-4 주유소 옆 주차장,DC차데모+AC3상+DC콤보,20200101000244,20200101004215,0 days 00:39:25,20.22000,...,하계로96번길,94-4,주유소,옆,주차장,NaN,NaN,NaN,NaN,NaN
1,민속자연사박물관,1,제주특별자치도,제주시,제주특별자치도 제주시 삼성로 40 민속자연사박물관,DC차데모+AC3상+DC콤보,20200101000745,20200101003703,0 days 00:29:13,16.04000,...,40,민속자연사박물관,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,노형동주민센터,1,제주특별자치도,제주시,제주특별자치도 제주시 노형9길 9-4 주차장,DC차데모+AC3상+DC콤보,20200101000748,20200101001659,0 days 00:09:07,5.80000,...,9-4,주차장,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,영일대1주차장,1,경상북도,포항시,경상북도 포항시 북구 해안로 82,DC차데모+AC3상+DC콤보,20200101000851,20200101004220,0 days 00:33:29,13.32000,...,해안로,82,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,38선 휴게소,1,강원도,양양군,강원도 양양군 현북면 동해대로 1242,DC차데모+AC3상+DC콤보,20200101001042,20200101005123,0 days 00:40:41,29.23000,...,동해대로,1242,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [326]:
new_adr_df2[(new_adr_df2['지역'] != '서울특별시') & (new_adr_df2['주소'] == '강남구 양재대로31길')]

Empty DataFrame
Columns: [충전소명, 충전기ID, 지역, 시군구, 주소, 충전기타입, 충전시작일시, 충전종료일시, 충전시간, 충전량, 충전용량, 충전시작_년도, 충전시작_월, 충전시작_일, 충전시작_시, 충전시작_분, 충전시작_초, 충전시작일시(변환), 충전종료_년도, 충전종료_월, 충전종료_일, 충전종료_시, 충전종료_분, 충전종료_초, 충전종료일시(변환), 충전시간(계산), raw값과_계산값_차이, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]
Index: []

[0 rows x 40 columns]

In [327]:
new_adr_df2.shape

(7755902, 40)

In [328]:
# new_adr_df2 = pd.concat([new_adr_df, temp], axis=1, ignore_index=True)
# new_adr_df2.head()

##### 신주소 상세 분리 확인

In [329]:
new_adr_df2[['주소', 0, 1, 2, 3, 4]].tail()

                                   주소      0    1     2       3    4
7755897               경기도 구리시 체육관로 74    경기도  구리시  체육관로      74  NaN
7755898            서울특별시 성동구 둘레길 47-5  서울특별시  성동구   둘레길    47-5  NaN
7755899  경기도 용인시 수지구 경부고속도로 400 (죽전동)    경기도  용인시   수지구  경부고속도로  400
7755900               강원도 원주시 단구로 150    강원도  원주시   단구로     150  NaN
7755901          서울특별시 송파구 성내천로 299-7  서울특별시  송파구  성내천로   299-7  NaN

In [330]:
new_adr_df2[['주소', 0, 1, 2, 3, 4]].head()

                                     주소        0    1     2        3         4
0  경상남도 김해시 진영읍 하계로96번길 94-4  주유소 옆 주차장     경상남도  김해시   진영읍  하계로96번길      94-4
1           제주특별자치도 제주시 삼성로 40 민속자연사박물관  제주특별자치도  제주시   삼성로       40  민속자연사박물관
2             제주특별자치도 제주시 노형9길 9-4  주차장  제주특별자치도  제주시  노형9길      9-4       주차장
3                    경상북도 포항시 북구 해안로 82     경상북도  포항시    북구      해안로        82
4                 강원도 양양군 현북면 동해대로 1242      강원도  양양군   현북면     동해대로      1242

##### 신주소 상세 분리 파일 출력

In [332]:
new_adr_df2.to_csv('2020-22년_급속충전_신주소_상세분리.csv', encoding='utf-8')

### 구주소 상세분리

#### 상세분리

In [333]:
temp = old_adr_df['주소'].str.split(expand=True)
temp.head()

      0    1    2       3       4      5     6     7     8     9     10    11
0  서울특별시  구로구  오류동  174-10     천왕역  환승주차장    1층  None  None  None  None  None
1   경상남도  통영시  광도면     죽림리  292-33   None  None  None  None  None  None  None
2   전라북도  완주군  봉동읍     둔산리     881   None  None  None  None  None  None  None
3   충청남도  공주시  정안면     석송리    None   None  None  None  None  None  None  None
4   충청북도  단양군  적성면     기동리    None   None  None  None  None  None  None  None

In [334]:
# 5번컬럼까지 -동, -리 존재
# 6번부터 없음
check_p = re.compile('동$|리$')
for one in range(4, 12):
    print(f'{one}', end=' : ')
    uni = temp[temp[one].notnull() == True][one].unique()
    # print(uni)
    count = 0
    for two in uni:
        if check_p.search(two):
            count += 1
            break
    if count != 0:
        print('Yes')
    else:
        print('No')

4 : Yes
5 : Yes
6 : Yes
7 : Yes
8 : No
9 : Yes
10 : No
11 : No

In [335]:
temp[7].unique()

array([None, '옆', '입구', '장애인', '531)', '사이', '18', '주차장', 'E01번', '공영주차장',
       '정면', '주민센터', '앞', '좌측', '우측', '근처', '왼쪽', '대형주차장', '(묵현리', '내',
       '기둥옆', '오송역', '제2공구', '오른쪽', '제2주차장'], dtype=object)

In [336]:
temp[6].unique()

array(['1층', None, '오른쪽', '앞', '끝', '버스주차장', '사무실', '우측', '옆', '주차장',
       '(나성동', '뒤', '관리사무소', 'LPG충전소', '지하4층', '근처', '증설주차장', '입구', '2층',
       '맨끝쪽', '맞은편', '정면', '좌측', '2동', '건물입구', '건물', '후면', '지하주차장', '3가)',
       '흡연실', '1282-16)', '맨끝', '384-27)', '왼쪽', '20구역', '287기둥옆',
       '(기동리)', '430기둥', '820-10)', '사업단', '공영주차장', '밑', '5층', '안쪽', '9',
       '산업단지', '매표소앞', '가03', '주차구역', 'KTX', '마금산온천', '옥상', '501)', '1가)',
       '2', '232-9'], dtype=object)

In [337]:
temp[5].unique()

array(['환승주차장', None, '입구', '주차장', '좌측', '주차타워', '제2공영주차장', '안쪽', '우측',
       '북구청', '지상', '뒤편', '주민센터', '공중화장실', '산방산', 'B1', '485', '온정종합터미널',
       '정문', '휴게소와', '무릉문화의집', '179-6', '15', '검품장', '북측', '끝', '제주현대미술관',
       '지하', '새마을금고', '필지', '2층주차장', '28', '44', '재릉종합관광안내센터', '웅동',
       '20-48', '구청', '고엽제전우회', '753', '499-1)', '군청', '4층매장입구옆', '번지',
       '옆', '후생동', '14', '정면', '604-3', '(창포동', '본관', '(백운리', '별관',
       '630-5', '마트입구', '1712-10', '(여양3로', '1층', '지상2층', '807-6', '건너편',
       '32-37', '그린빌딩', '230-1', '2-15', '건물', '(신관리', '스포츠', '97-1)',
       '사랑방', '천마산군립공원', '보조경기장', '골프장', '지상주차장', '24-3', '(향교동)', '일원',
       '1234-3', '입구앞', '1길', '대마전기차', '182-131', '영암국제카트장', '지하1층', '대형',
       '앞', '소형주차장', '26', '370-1', '북주차장(우측)', '403-3', '386-2', '407-1',
       '인근', '16-1', '공영주차장', '3층', '천의삼거리', '307', '312', '57-26',
       '954-4', '292-5', '30-2', '679', '1316', '1257', '7-10', '664-5',
       '민원봉사실', '42', '11', '391-3', '30-1', '353', '376-1', '52',
       '765-161', '577-2', '23-1', '(덕곡리', '35-4', '1127-28', '(송천동',
       '140-1', '6', '7-6', '164-3', '271-22', '343-4', '49-10', '-',
       '4-7', '1430', '940', '123', '69-2', '45-49', '103-5(상)', '5',
       '산8-12', '5-1', '산44-13', '2길', '285-4', '5-2', '68', '2023'],
      dtype=object)

In [338]:
temp = temp.fillna(np.nan)

In [339]:
temp.head()

      0    1    2       3       4      5    6    7    8    9    10   11
0  서울특별시  구로구  오류동  174-10     천왕역  환승주차장   1층  NaN  NaN  NaN  NaN  NaN
1   경상남도  통영시  광도면     죽림리  292-33    NaN  NaN  NaN  NaN  NaN  NaN  NaN
2   전라북도  완주군  봉동읍     둔산리     881    NaN  NaN  NaN  NaN  NaN  NaN  NaN
3   충청남도  공주시  정안면     석송리     NaN    NaN  NaN  NaN  NaN  NaN  NaN  NaN
4   충청북도  단양군  적성면     기동리     NaN    NaN  NaN  NaN  NaN  NaN  NaN  NaN

In [340]:
old_adr_df2 = pd.concat([old_adr_df, temp], axis=1)
old_adr_df2.head()

,충전소명,충전기ID,지역,시군구,주소,충전기타입,충전시작일시,충전종료일시,충전시간,충전량,...,2,3,4,5,6,7,8,9,10,11
0,천왕역 환승주차장,1,서울특별시,구로구,서울특별시 구로구 오류동 174-10 천왕역 환승주차장 1층,DC차데모+AC3상,20200101000457,20200101004534,0 days 00:40:37,18.87000,...,오류동,174-10,천왕역,환승주차장,1층,NaN,NaN,NaN,NaN,NaN
1,신세계종합정비,1,경상남도,통영시,경상남도 통영시 광도면 죽림리 292-33,DC차데모+AC3상+DC콤보,20200101000906,20200101004945,0 days 00:40:39,27.96000,...,광도면,죽림리,292-33,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,근로자종합복지관,1,전라북도,완주군,전라북도 완주군 봉동읍 둔산리 881,DC차데모+AC3상+DC콤보,20200101001519,20200101005604,0 days 00:40:45,25.64000,...,봉동읍,둔산리,881,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,정안휴게소(순천방향),1,충청남도,공주시,충청남도 공주시 정안면 석송리,DC차데모+AC3상+DC콤보,20200101002014,20200101002652,0 days 00:06:38,1.17000,...,정안면,석송리,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,단양휴게소(부산방향),1,충청북도,단양군,충청북도 단양군 적성면 기동리,DC차데모+AC3상+DC콤보,20200101003527,20200101004937,0 days 00:14:06,8.64000,...,적성면,기동리,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

##### 주소 상세 분리 확인

In [341]:
old_adr_df2[['주소', 0, 1, 2, 3, 4]].tail()

                                       주소      0     1    2        3        4
3857542            경기도 안산시 상록구 사동 1271-11    경기도   안산시  상록구       사동  1271-11
3857543              경기도 의정부시 호원동 229-160    경기도  의정부시  호원동  229-160      NaN
3857544                서울특별시 서초구 반포동 49-8  서울특별시   서초구  반포동     49-8      NaN
3857545  인천광역시 서구 당하동 1097-5  검단4동 주민센터 옆  인천광역시    서구  당하동   1097-5     검단4동
3857546              대구광역시 남구 봉덕동 1272-18  대구광역시    남구  봉덕동  1272-18      NaN

In [342]:
old_adr_df2[['주소', 0, 1, 2, 3, 4]].head()

                                   주소      0    1    2       3       4
0  서울특별시 구로구 오류동 174-10  천왕역 환승주차장 1층  서울특별시  구로구  오류동  174-10     천왕역
1             경상남도 통영시 광도면 죽림리 292-33   경상남도  통영시  광도면     죽림리  292-33
2                전라북도 완주군 봉동읍 둔산리 881   전라북도  완주군  봉동읍     둔산리     881
3                    충청남도 공주시 정안면 석송리   충청남도  공주시  정안면     석송리     NaN
4                    충청북도 단양군 적성면 기동리   충청북도  단양군  적성면     기동리     NaN

##### 구주소 상세 분리 파일 출력

In [343]:
old_adr_df2.to_csv('2020-22년_급속충전_구주소_상세분리.csv', encoding='utf-8')

In [344]:
for one in old_adr_df2['주소'].to_list():
    if ('제주' in one):
        print(one)
        break

제주특별자치도 서귀포시 성산읍 성산리 347-9 주차타워 앞

## 파일 로드(다시 시작)

In [3]:
new_adr_df2 = pd.read_csv('2020-22년_급속충전_신주소_상세분리.csv', index_col=0, dtype={'충전시작_년도':np.int16, '충전종료_년도':np.int16, '충전시작_월':np.int8,  '충전시작_일':np.int8, '충전시작_시':np.int8, '충전시작_분':np.int8, '충전시작_초':np.int8, '충전종료_월':np.int8, '충전종료_일':np.int8, '충전종료_시':np.int8, '충전종료_분':np.int8, '충전종료_초':np.int8, '충전기ID':np.int8})
new_adr_df2['충전시간'] = pd.to_timedelta(new_adr_df2['충전시간'])
new_adr_df2['충전시간(계산)'] = pd.to_timedelta(new_adr_df2['충전시간(계산)'])
new_adr_df2 = new_adr_df2.reset_index(drop=True)
new_adr_df2.info()

C:\Users\kbjoo\AppData\Local\Temp\ipykernel_300\1096196226.py:1: DtypeWarning: Columns (11,40) have mixed types. Specify dtype option on import or set low_memory=False.
  new_adr_df2 = pd.read_csv('2020-22년_급속충전_신주소_상세분리.csv', index_col=0, dtype={'충전시작_년도':np.int16, '충전종료_년도':np.int16, '충전시작_월':np.int8,  '충전시작_일':np.int8, '충전시작_시':np.int8, '충전시작_분':np.int8, '충전시작_초':np.int8, '충전종료_월':np.int8, '충전종료_일':np.int8, '충전종료_시':np.int8, '충전종료_분':np.int8, '충전종료_초':np.int8, '충전기ID':np.int8})

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7755902 entries, 0 to 7755901
Data columns (total 40 columns):
 #   Column        Dtype
---  ------        -----
 0   충전소명          object
 1   충전기ID         int8
 2   지역            object
 3   시군구           object
 4   주소            object
 5   충전기타입         object
 6   충전시작일시        int64
 7   충전종료일시        int64
 8   충전시간          timedelta64[ns]
 9   충전량           float64
 10  충전용량          object
 11  충전시작_년도       int16
 12  충전시작_월        int8
 13  충전시작_일        int8
 14  충전시작_시        int8
 15  충전시작_분        int8
 16  충전시작_초        int8
 17  충전시작일시(변환)    object
 18  충전종료_년도       int16
 19  충전종료_월        int8
 20  충전종료_일        int8
 21  충전종료_시        int8
 22  충전종료_분        int8
 23  충전종료_초        int8
 24  충전종료일시(변환)    object
 25  충전시간(계산)      timedelta64[ns]
 26  raw값과_계산값_차이  object
 27  0             object
 28  1             object
 29  2             object
 30  3             object
 31  4             object
 32  5             object
 33  6             object
 34  7             object
 35  8             object
 36  9             object
 37  10            object
 38  11            object
 39  12            object
dtypes: float64(1), int16(2), int64(2), int8(11), object(22), timedelta64[ns](2)
memory usage: 1.7+ GB

In [4]:
old_adr_df2 = pd.read_csv('2020-22년_급속충전_구주소_상세분리.csv', index_col=0, dtype={'충전시작_년도':np.int16, '충전종료_년도':np.int16, '충전시작_월':np.int8,  '충전시작_일':np.int8, '충전시작_시':np.int8, '충전시작_분':np.int8, '충전시작_초':np.int8, '충전종료_월':np.int8, '충전종료_일':np.int8, '충전종료_시':np.int8, '충전종료_분':np.int8, '충전종료_초':np.int8, '충전기ID':np.int8})
old_adr_df2['충전시간'] = pd.to_timedelta(old_adr_df2['충전시간'])
old_adr_df2['충전시간(계산)'] = pd.to_timedelta(old_adr_df2['충전시간(계산)'])
old_adr_df2 = old_adr_df2.reset_index(drop=True)
old_adr_df2.info()

C:\Users\kbjoo\AppData\Local\Temp\ipykernel_300\1529474214.py:1: DtypeWarning: Columns (11,39) have mixed types. Specify dtype option on import or set low_memory=False.
  old_adr_df2 = pd.read_csv('2020-22년_급속충전_구주소_상세분리.csv', index_col=0, dtype={'충전시작_년도':np.int16, '충전종료_년도':np.int16, '충전시작_월':np.int8,  '충전시작_일':np.int8, '충전시작_시':np.int8, '충전시작_분':np.int8, '충전시작_초':np.int8, '충전종료_월':np.int8, '충전종료_일':np.int8, '충전종료_시':np.int8, '충전종료_분':np.int8, '충전종료_초':np.int8, '충전기ID':np.int8})

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3857547 entries, 0 to 3857546
Data columns (total 39 columns):
 #   Column        Dtype
---  ------        -----
 0   충전소명          object
 1   충전기ID         int8
 2   지역            object
 3   시군구           object
 4   주소            object
 5   충전기타입         object
 6   충전시작일시        int64
 7   충전종료일시        int64
 8   충전시간          timedelta64[ns]
 9   충전량           float64
 10  충전용량          object
 11  충전시작_년도       int16
 12  충전시작_월        int8
 13  충전시작_일        int8
 14  충전시작_시        int8
 15  충전시작_분        int8
 16  충전시작_초        int8
 17  충전시작일시(변환)    object
 18  충전종료_년도       int16
 19  충전종료_월        int8
 20  충전종료_일        int8
 21  충전종료_시        int8
 22  충전종료_분        int8
 23  충전종료_초        int8
 24  충전종료일시(변환)    object
 25  충전시간(계산)      timedelta64[ns]
 26  raw값과_계산값_차이  object
 27  0             object
 28  1             object
 29  2             object
 30  3             object
 31  4             object
 32  5             object
 33  6             object
 34  7             object
 35  8             object
 36  9             object
 37  10            object
 38  11            object
dtypes: float64(1), int16(2), int64(2), int8(11), object(21), timedelta64[ns](2)
memory usage: 820.4+ MB

In [28]:
# [주의!]신/구주소 파일 불러올시 실행
df2 = pd.concat([new_adr_df2, old_adr_df2], ignore_index=True)
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11613449 entries, 0 to 11613448
Data columns (total 40 columns):
 #   Column        Dtype
---  ------        -----
 0   충전소명          object
 1   충전기ID         int8
 2   지역            object
 3   시군구           object
 4   주소            object
 5   충전기타입         object
 6   충전시작일시        int64
 7   충전종료일시        int64
 8   충전시간          timedelta64[ns]
 9   충전량           float64
 10  충전용량          object
 11  충전시작_년도       int16
 12  충전시작_월        int8
 13  충전시작_일        int8
 14  충전시작_시        int8
 15  충전시작_분        int8
 16  충전시작_초        int8
 17  충전시작일시(변환)    object
 18  충전종료_년도       int16
 19  충전종료_월        int8
 20  충전종료_일        int8
 21  충전종료_시        int8
 22  충전종료_분        int8
 23  충전종료_초        int8
 24  충전종료일시(변환)    object
 25  충전시간(계산)      timedelta64[ns]
 26  raw값과_계산값_차이  object
 27  0             object
 28  1             object
 29  2             object
 30  3             object
 31  4             object
 32  5             object
 33  6             object
 34  7             object
 35  8             object
 36  9             object
 37  10            object
 38  11            object
 39  12            object
dtypes: float64(1), int16(2), int64(2), int8(11), object(22), timedelta64[ns](2)
memory usage: 2.5+ GB

## 분석2

In [345]:
new_adr_df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7755902 entries, 0 to 7755901
Data columns (total 40 columns):
 #   Column        Dtype
---  ------        -----
 0   충전소명          object
 1   충전기ID         int8
 2   지역            object
 3   시군구           object
 4   주소            object
 5   충전기타입         object
 6   충전시작일시        int64
 7   충전종료일시        int64
 8   충전시간          timedelta64[ns]
 9   충전량           float64
 10  충전용량          object
 11  충전시작_년도       int16
 12  충전시작_월        int8
 13  충전시작_일        int8
 14  충전시작_시        int8
 15  충전시작_분        int8
 16  충전시작_초        int8
 17  충전시작일시(변환)    object
 18  충전종료_년도       int16
 19  충전종료_월        int8
 20  충전종료_일        int8
 21  충전종료_시        int8
 22  충전종료_분        int8
 23  충전종료_초        int8
 24  충전종료일시(변환)    object
 25  충전시간(계산)      timedelta64[ns]
 26  raw값과_계산값_차이  object
 27  0             object
 28  1             object
 29  2             object
 30  3             object
 31  4             object
 32  5             object
 33  6             object
 34  7             object
 35  8             object
 36  9             object
 37  10            object
 38  11            object
 39  12            object
dtypes: float64(1), int16(2), int64(2), int8(11), object(22), timedelta64[ns](2)
memory usage: 1.7+ GB

In [346]:
old_adr_df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3857547 entries, 0 to 3857546
Data columns (total 39 columns):
 #   Column        Dtype
---  ------        -----
 0   충전소명          object
 1   충전기ID         int8
 2   지역            object
 3   시군구           object
 4   주소            object
 5   충전기타입         object
 6   충전시작일시        int64
 7   충전종료일시        int64
 8   충전시간          timedelta64[ns]
 9   충전량           float64
 10  충전용량          object
 11  충전시작_년도       int16
 12  충전시작_월        int8
 13  충전시작_일        int8
 14  충전시작_시        int8
 15  충전시작_분        int8
 16  충전시작_초        int8
 17  충전시작일시(변환)    object
 18  충전종료_년도       int16
 19  충전종료_월        int8
 20  충전종료_일        int8
 21  충전종료_시        int8
 22  충전종료_분        int8
 23  충전종료_초        int8
 24  충전종료일시(변환)    object
 25  충전시간(계산)      timedelta64[ns]
 26  raw값과_계산값_차이  object
 27  0             object
 28  1             object
 29  2             object
 30  3             object
 31  4             object
 32  5             object
 33  6             object
 34  7             object
 35  8             object
 36  9             object
 37  10            object
 38  11            object
dtypes: float64(1), int16(2), int64(2), int8(11), object(21), timedelta64[ns](2)
memory usage: 820.4+ MB

### 교체 충전기 수 예측
- 충전기 별 충전량/충전시간 데이터 활용
- 같은 지역내에 동일한 "충전기ID" 존재

In [5]:
new_adr_df2.columns

Index(['충전소명', '충전기ID', '지역', '시군구', '주소', '충전기타입', '충전시작일시', '충전종료일시', '충전시간',
       '충전량', '충전용량', '충전시작_년도', '충전시작_월', '충전시작_일', '충전시작_시', '충전시작_분',
       '충전시작_초', '충전시작일시(변환)', '충전종료_년도', '충전종료_월', '충전종료_일', '충전종료_시',
       '충전종료_분', '충전종료_초', '충전종료일시(변환)', '충전시간(계산)', 'raw값과_계산값_차이', '0', '1',
       '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12'],
      dtype='object')

In [6]:
temp = new_adr_df2[['충전기ID', '지역', '시군구', '충전기타입', '충전시간', '충전량']]
temp.head()

   충전기ID       지역  시군구            충전기타입            충전시간      충전량
0      1     경상남도  김해시  DC차데모+AC3상+DC콤보 0 days 00:39:25 20.22000
1      1  제주특별자치도  제주시  DC차데모+AC3상+DC콤보 0 days 00:29:13 16.04000
2      1  제주특별자치도  제주시  DC차데모+AC3상+DC콤보 0 days 00:09:07  5.80000
3      1     경상북도  포항시  DC차데모+AC3상+DC콤보 0 days 00:33:29 13.32000
4      1      강원도  양양군  DC차데모+AC3상+DC콤보 0 days 00:40:41 29.23000

In [7]:
temp['지역'].unique()

array(['경상남도', '제주특별자치도', '경상북도', '강원도', '대전광역시', '충청남도', '충청북도', '부산광역시',
       '경기도', '전라남도', '대구광역시', '광주광역시', '서울특별시', '울산광역시', '전라북도', '인천광역시',
       '세종특별자치시'], dtype=object)

In [8]:
temp['충전기ID'].unique()

array([ 1,  4,  2,  5, 52, 12,  3, 11,  6, 14, 13, 10, 51,  8, 15, 18, 17,
       42, 41, 44, 43, 22, 21, 24, 23, 16,  7, 91, 80, 89, 83, 88, 84, 86,
       85, 82, 87, 45, 46, 47, 81, 25, 26, 92, 28, 27, 93, 94, 97, 95, 98,
       96], dtype=int8)

In [9]:
temp[temp['지역'] == '서울특별시']['충전기ID'].unique()

array([ 1,  2, 11, 52,  6, 12,  3,  4,  5, 13, 14, 22, 21,  8,  7, 45, 41,
       43, 44, 42, 24, 25, 23, 26], dtype=int8)

In [10]:
temp[temp['지역'] == '서울특별시']['충전기ID'].value_counts()

1     404482
2      52729
22     42123
21     37271
12     28079
11     26816
41     11340
45      8639
44      8049
3       7917
4       7459
42      6339
43      6216
23      5414
52      5070
24      5002
5       3903
26      3707
6       3336
8       3249
25      2697
7       2221
13       961
14       214
Name: 충전기ID, dtype: int64

In [11]:
temp[temp['지역'] == '경기도']['충전기ID'].unique()

array([ 1,  5, 12, 11,  2, 52, 51,  3, 14, 13, 21, 22,  8,  4,  7,  6, 23,
       24, 43, 41, 42, 44, 80, 89, 83, 88, 84, 86, 85, 82, 87, 81, 45, 46,
       91, 26, 25, 28, 27, 92, 94, 97, 95, 93, 98, 96], dtype=int8)

In [12]:
seoul = temp[temp['지역'] == '서울특별시']
seoul.head()

     충전기ID     지역  시군구            충전기타입            충전시간      충전량
55       1  서울특별시  양천구  DC차데모+AC3상+DC콤보 0 days 00:35:51 17.36000
72       1  서울특별시   중구  DC차데모+AC3상+DC콤보 0 days 00:11:38  6.16000
74       1  서울특별시  종로구  DC차데모+AC3상+DC콤보 0 days 00:25:34 15.18000
121      1  서울특별시  관악구  DC차데모+AC3상+DC콤보 0 days 00:14:38  6.63000
150      1  서울특별시  관악구  DC차데모+AC3상+DC콤보 0 days 00:05:47  1.88000

In [13]:
seoul['시군구'].unique()

array(['양천구', '중구', '종로구', '관악구', '동작구', '영등포구', '서대문구', '용산구', '강남구',
       '중랑구', '서초구', '강동구', '강북구', '동대문구', '강서구', '마포구', '도봉구', '은평구',
       '송파구', '금천구', '구로구', '노원구', '성북구', '성동구', '광진구'], dtype=object)

In [14]:
seoul[seoul['시군구'] == '영등포구']['충전기ID'].unique()

array([ 1,  2, 52,  6,  4,  5,  3], dtype=int8)

In [15]:
seoul[seoul['시군구'] == '영등포구']['충전기ID'].value_counts()

1     48225
2     11116
52     5070
5      1853
4      1849
6      1391
3      1379
Name: 충전기ID, dtype: int64

In [16]:
seoul[seoul['시군구'] == '송파구']['충전기ID'].unique()

array([ 1,  2, 44, 41, 43, 42, 45, 21, 23, 25, 26, 24, 22], dtype=int8)

##### 특정 지역 충전기 확인
- '강원도 강릉시 성산면 영동고속도로 231 (보광리)'

In [17]:
new_adr_df2[(new_adr_df2['시군구'] == '영등포구') & (new_adr_df2['충전기ID'] == 1)]['주소'].head()

236          서울특별시 영등포구 의사당대로 1 국회도서관 앞
780     서울특별시 영등포구 영중로3길 7  지하1층 여성전용구역
805     서울특별시 영등포구 영중로 125 지상주차장(외부 1F)
1243    서울특별시 영등포구 영중로 125 지상주차장(외부 1F)
1414      서울특별시 영등포구 양산로 111  왼쪽 끝편 주차장
Name: 주소, dtype: object

In [18]:
new_adr_df2[(new_adr_df2['시군구'] == '강릉시') & (new_adr_df2['충전기ID'] == 1)]['주소'].head()

85     강원도 강릉시 성산면 영동고속도로 231 (보광리)
133    강원도 강릉시 성산면 영동고속도로 231 (보광리)
174    강원도 강릉시 성산면 영동고속도로 231 (보광리)
215    강원도 강릉시 성산면 영동고속도로 231 (보광리)
254    강원도 강릉시 성산면 영동고속도로 231 (보광리)
Name: 주소, dtype: object

In [19]:
new_adr_df2[(new_adr_df2['시군구'] == '강릉시') & (new_adr_df2['주소'] == '강원도 강릉시 성산면 영동고속도로 231 (보광리)')].groupby(['충전기ID'])[['충전시간', '충전량']].agg(['sum', 'mean'])

                   충전시간                                   충전량
                    sum                      mean         sum     mean
충전기ID
1     106 days 01:21:20 0 days 00:27:53.047288661 95304.53000 17.40086
2      66 days 13:39:36 0 days 00:26:23.583700440 62449.30000 17.19419
3      89 days 05:15:44 0 days 00:26:49.299373695 83053.01000 17.33883

In [20]:
new_adr_df2[(new_adr_df2['시군구'] == '강릉시') & (new_adr_df2['주소'] == '강원도 강릉시 성산면 영동고속도로 231 (보광리)')][['충전시간', '충전량']].agg(['sum', 'mean'])

                          충전시간          충전량
sum          261 days 20:16:40 240806.84000
mean 0 days 00:27:07.699834520     17.32548

#### 지역, 시군구, 충전기ID 별 통계

In [21]:
# statis = temp.groupby(['지역', '시군구', '충전기ID'])[['충전시간', '충전량']].agg(['sum', 'mean'])
# statis

In [22]:
# statis.to_excel('분석/2020-22년_신주소_지역_시군구_충전기ID_충전시간_충전량_통계.xlsx', encoding='utf-8')

### 특정 지역/기간별 충전량

In [23]:
new_adr_df2.columns

Index(['충전소명', '충전기ID', '지역', '시군구', '주소', '충전기타입', '충전시작일시', '충전종료일시', '충전시간',
       '충전량', '충전용량', '충전시작_년도', '충전시작_월', '충전시작_일', '충전시작_시', '충전시작_분',
       '충전시작_초', '충전시작일시(변환)', '충전종료_년도', '충전종료_월', '충전종료_일', '충전종료_시',
       '충전종료_분', '충전종료_초', '충전종료일시(변환)', '충전시간(계산)', 'raw값과_계산값_차이', '0', '1',
       '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12'],
      dtype='object')

In [24]:
temp = new_adr_df2[['지역', '시군구', '충전시작_년도', '충전시작_월', '충전량']]
temp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7755902 entries, 0 to 7755901
Data columns (total 5 columns):
 #   Column   Dtype
---  ------   -----
 0   지역       object
 1   시군구      object
 2   충전시작_년도  int16
 3   충전시작_월   int8
 4   충전량      float64
dtypes: float64(1), int16(1), int8(1), object(2)
memory usage: 199.7+ MB

In [25]:
statis = temp.groupby(['지역', '시군구', '충전시작_년도', '충전시작_월'])[['충전량']].agg(['sum', 'mean'])
statis

                                 충전량
                                 sum     mean
지역   시군구 충전시작_년도 충전시작_월
강원도  강릉시 2020    1       24097.21000 15.61712
                 2       19731.80000 15.63534
                 3       19599.25000 16.17100
                 4       20738.49000 17.02667
                 5       23248.08000 16.48800
...                              ...      ...
충청북도 충주시 2022    4      108623.48000 19.98592
                 5      115388.01000 19.89105
                 6      106327.68000 20.13019
                 7      139095.34000 21.49518
                 8      199168.47000 23.55908

[7513 rows x 2 columns]

In [27]:
statis.to_excel('분석/2020-22년_신주소_지역_시군구_년도_월_충전량_통계.xlsx', encoding='utf-8')

### 연도/분기/시간대별 충전기 대수
- 예시) 2020년/1분기(1-3월)/00-01시 충전기 대수

In [29]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11613449 entries, 0 to 11613448
Data columns (total 40 columns):
 #   Column        Dtype
---  ------        -----
 0   충전소명          object
 1   충전기ID         int8
 2   지역            object
 3   시군구           object
 4   주소            object
 5   충전기타입         object
 6   충전시작일시        int64
 7   충전종료일시        int64
 8   충전시간          timedelta64[ns]
 9   충전량           float64
 10  충전용량          object
 11  충전시작_년도       int16
 12  충전시작_월        int8
 13  충전시작_일        int8
 14  충전시작_시        int8
 15  충전시작_분        int8
 16  충전시작_초        int8
 17  충전시작일시(변환)    object
 18  충전종료_년도       int16
 19  충전종료_월        int8
 20  충전종료_일        int8
 21  충전종료_시        int8
 22  충전종료_분        int8
 23  충전종료_초        int8
 24  충전종료일시(변환)    object
 25  충전시간(계산)      timedelta64[ns]
 26  raw값과_계산값_차이  object
 27  0             object
 28  1             object
 29  2             object
 30  3             object
 31  4             object
 32  5             object
 33  6             object
 34  7             object
 35  8             object
 36  9             object
 37  10            object
 38  11            object
 39  12            object
dtypes: float64(1), int16(2), int64(2), int8(11), object(22), timedelta64[ns](2)
memory usage: 2.5+ GB

In [30]:
df2[(df2['충전시작_년도'] == 2020) & 
    (df2['충전시작_월'] >= 1) & (df2['충전시작_월'] <= 3) & (df2['충전시작_일'] == 5) &
    (df2['충전시작_시'] >= 0) & (df2['충전시작_시'] < 1) & (df2['충전소명'] == '내린천휴게소 양양방향')].iloc[:10, :7]

,충전소명,충전기ID,지역,시군구,주소,충전기타입,충전시작일시
7765000,내린천휴게소 양양방향,1,강원도,인제군,강원도 인제군 상남면 하남리 339-7(양양방향),DC차데모+AC3상+DC콤보,20200105005728
7883070,내린천휴게소 양양방향,1,강원도,인제군,강원도 인제군 상남면 하남리 339-7(양양방향),DC차데모+AC3상+DC콤보,20200305000732

In [31]:
df2[(df2['충전시작_년도'] == 2020) & 
    (df2['충전시작_월'] >= 1) & (df2['충전시작_월'] <= 3) & (df2['충전시작_일'] == 5) &
    (df2['충전시작_시'] >= 0) & (df2['충전시작_시'] < 1) & (df2['충전소명'] == '내린천휴게소 양양방향')]['충전기ID'].unique()

array([1], dtype=int8)

In [207]:
# 시간 오래걸림
    # 53분동안 2020년도 처리 안됨
# num_charger_by_hours = pd.DataFrame(columns=['년도', '월', '일', '시간', '충전기대수'])
# for y in tqdm(range(2020, 2023)):
#     temp_y = df2[df2['충전시작_년도'] == y].reset_index(drop=True)
#     for m in range(1, 11, 3):
#         temp_m = temp_y[(temp_y['충전시작_월'] >= m) & (temp_y['충전시작_월'] <= m+2)].reset_index(drop=True)
#         for d in temp_m['충전시작_일'].unique():
#             temp_d = temp_m[temp_m['충전시작_일'] == d].reset_index(drop=True)
#             for h in range(24):
#                 temp_h = temp_m[(temp_m['충전시작_시'] >= h) & (temp_m['충전시작_시'] < h+1)].reset_index(drop=True)
#                 count = 0
#                 for one in temp_h['충전소명'].unique():
#                     num_charger = len(temp_h[temp_h['충전소명'] == one]['충전기ID'].unique())
#                     count += num_charger
#                 num_charger_by_hours.loc[len(num_charger_by_hours)] = [y, m, d, h, count]

In [32]:
ymdh_col = ['충전시작_년도', '충전시작_월', '충전시작_일', '충전시작_시', '충전소명', '충전기ID']
ymdh = df2.drop_duplicates(ymdh_col, keep='first').reset_index(drop=True)
ymdh.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10192033 entries, 0 to 10192032
Data columns (total 40 columns):
 #   Column        Dtype
---  ------        -----
 0   충전소명          object
 1   충전기ID         int8
 2   지역            object
 3   시군구           object
 4   주소            object
 5   충전기타입         object
 6   충전시작일시        int64
 7   충전종료일시        int64
 8   충전시간          timedelta64[ns]
 9   충전량           float64
 10  충전용량          object
 11  충전시작_년도       int16
 12  충전시작_월        int8
 13  충전시작_일        int8
 14  충전시작_시        int8
 15  충전시작_분        int8
 16  충전시작_초        int8
 17  충전시작일시(변환)    object
 18  충전종료_년도       int16
 19  충전종료_월        int8
 20  충전종료_일        int8
 21  충전종료_시        int8
 22  충전종료_분        int8
 23  충전종료_초        int8
 24  충전종료일시(변환)    object
 25  충전시간(계산)      timedelta64[ns]
 26  raw값과_계산값_차이  object
 27  0             object
 28  1             object
 29  2             object
 30  3             object
 31  4             object
 32  5             object
 33  6             object
 34  7             object
 35  8             object
 36  9             object
 37  10            object
 38  11            object
 39  12            object
dtypes: float64(1), int16(2), int64(2), int8(11), object(22), timedelta64[ns](2)
memory usage: 2.2+ GB

#### 분기 컬럼 생성

In [33]:
div_month = []
for i in tqdm(ymdh['충전시작_월'].to_list()):
    if (i >= 1) and (i <= 3):
        div_month.append(1)
    elif (i >= 4) and (i <= 6):
        div_month.append(2)
    elif (i >= 7) and (i <= 9):
        div_month.append(3)
    else:
        div_month.append(4)
len(div_month) == 10192033

100%|██████████| 10192033/10192033 [00:04<00:00, 2060263.56it/s]

True

In [34]:
ymdh['충전시작_분기'] = div_month
ymdh.iloc[:3, 6:]

,충전시작일시,충전종료일시,충전시간,충전량,충전용량,충전시작_년도,충전시작_월,충전시작_일,충전시작_시,충전시작_분,...,4,5,6,7,8,9,10,11,12,충전시작_분기
0,20200101000244,20200101004215,0 days 00:39:25,20.22000,50.00000,2020,1,1,0,2,...,94-4,주유소,옆,주차장,NaN,NaN,NaN,NaN,NaN,1
1,20200101000745,20200101003703,0 days 00:29:13,16.04000,50.00000,2020,1,1,0,7,...,민속자연사박물관,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
2,20200101000748,20200101001659,0 days 00:09:07,5.80000,50.00000,2020,1,1,0,7,...,주차장,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1

In [35]:
ymdh.iloc[-5:, 6:]

,충전시작일시,충전종료일시,충전시간,충전량,충전용량,충전시작_년도,충전시작_월,충전시작_일,충전시작_시,충전시작_분,...,4,5,6,7,8,9,10,11,12,충전시작_분기
10192028,20220831235823,20220901001839,0 days 00:20:01,19.22000,급속(200kW동시),2022,8,31,23,58,...,1271-11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3
10192029,20220831235909,20220901000721,0 days 00:04:53,3.35000,급속(50kW),2022,8,31,23,59,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3
10192030,20220831235914,20220901002120,0 days 00:22:06,30.14000,급속(100kW멀티),2022,8,31,23,59,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3
10192031,20220831235931,20220901004251,0 days 00:40:00,21.97000,급속(50kW),2022,8,31,23,59,...,검단4동,주민센터,옆,NaN,NaN,NaN,NaN,NaN,NaN,3
10192032,20220831235934,20220901004057,0 days 00:40:00,27.60000,급속(50kW),2022,8,31,23,59,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3

In [36]:
group_ymdh = ymdh.groupby(['충전시작_년도', '충전시작_월', '충전시작_일', '충전시작_시'])['충전기ID'].count().rename('충전기_수(대)')
group_ymdh

충전시작_년도  충전시작_월  충전시작_일  충전시작_시
2020     1       1       0           29
                         1           27
                         2           29
                         3           58
                         4           57
                                   ...
2022     8       31      19        1062
                         20         931
                         21         731
                         22         516
                         23         387
Name: 충전기_수(대), Length: 23376, dtype: int64

In [37]:
group_div = ymdh.groupby(['충전시작_년도', '충전시작_분기', '충전시작_시'])['충전기ID'].count().rename('충전기_수(대)')
group_div

충전시작_년도  충전시작_분기  충전시작_시
2020     1        0          6395
                  1          4578
                  2          3370
                  3          2813
                  4          2871
                            ...
2022     3        19        63619
                  20        52697
                  21        42154
                  22        30622
                  23        21767
Name: 충전기_수(대), Length: 264, dtype: int64

In [38]:
group_m = ymdh.groupby(['충전시작_월', '충전시작_시'])['충전기ID'].count().rename('충전기_수(대)')
group_m

충전시작_월  충전시작_시
1       0         11834
        1          8327
        2          6264
        3          5245
        4          5920
                  ...
12      19        38803
        20        32514
        21        26057
        22        19559
        23        13514
Name: 충전기_수(대), Length: 288, dtype: int64

In [39]:
group_h = ymdh.groupby(['충전시작_시'])['충전기ID'].count().rename('충전기_수(대)')
group_h

충전시작_시
0     130386
1      97321
2      74491
3      64911
4      77421
5     127063
6     214952
7     305332
8     424905
9     512267
10    591077
11    664360
12    738851
13    721442
14    738600
15    759144
16    760384
17    715055
18    641412
19    549712
20    459797
21    367166
22    269420
23    186564
Name: 충전기_수(대), dtype: int64

In [40]:
ymdh_file = pd.ExcelWriter('분석/2020-22년_년월일시간별_충전시간.xlsx')
group_h.to_excel(ymdh_file, sheet_name='시간')
group_m.to_excel(ymdh_file, sheet_name='월')
group_div.to_excel(ymdh_file, sheet_name='분기')
group_ymdh.to_excel(ymdh_file, sheet_name='년월일시간')
ymdh_file.save()

### 년도/지역별 충전기 수 통계

In [41]:
df2.iloc[:5, 27:].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 13 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       5 non-null      object
 1   1       5 non-null      object
 2   2       5 non-null      object
 3   3       5 non-null      object
 4   4       5 non-null      object
 5   5       1 non-null      object
 6   6       1 non-null      object
 7   7       1 non-null      object
 8   8       0 non-null      object
 9   9       0 non-null      object
 10  10      0 non-null      object
 11  11      0 non-null      object
 12  12      0 non-null      object
dtypes: object(13)
memory usage: 648.0+ bytes

In [43]:
df2['0'].unique()

array(['경상남도', '제주특별자치도', '경상북도', '강원도', '대전광역시', '충청남도', '충청북도', '부산광역시',
       '경기도', '전라남도', '대구광역시', '광주광역시', '서울특별시', '울산광역시', '전라북도', '인천광역시',
       '세종특별자치시'], dtype=object)

In [50]:
# 3.8s
numch_col = ['충전시작_년도', '충전소명', '충전기ID']
numch = df2.drop_duplicates(numch_col, keep='first').reset_index(drop=True)
numch.shape

(17585, 40)

In [51]:
numch_group_ad1 = numch.groupby(['충전시작_년도', '0'])['충전기ID'].count().rename('충전기 수')
numch_group_ad1

충전시작_년도  0
2020     강원도        428
         경기도        552
         경상남도       407
         경상북도       571
         광주광역시       84
         대구광역시      147
         대전광역시       97
         부산광역시       96
         서울특별시      258
         세종특별자치시     46
         울산광역시      133
         인천광역시      128
         전라남도       419
         전라북도       304
         제주특별자치도    250
         충청남도       382
         충청북도       270
2021     강원도        542
         경기도        763
         경상남도       604
         경상북도       803
         광주광역시      112
         대구광역시      176
         대전광역시      115
         부산광역시       96
         서울특별시      300
         세종특별자치시     49
         울산광역시      158
         인천광역시      163
         전라남도       608
         전라북도       499
         제주특별자치도    249
         충청남도       501
         충청북도       353
2022     강원도        596
         경기도        880
         경상남도       687
         경상북도       903
         광주광역시      133
         대구광역시      187
         대전광역시      134
         부산광역시      108
         서울특별시      316
         세종특별자치시     57
         울산광역시      173
         인천광역시      184
         전라남도       680
         전라북도       583
         제주특별자치도    261
         충청남도       601
         충청북도       439
Name: 충전기 수, dtype: int64

In [52]:
numch_group_ad2 = numch.groupby(['충전시작_년도', '0', '1'])['충전기ID'].count().rename('충전기 수')
numch_group_ad2

충전시작_년도  0     1
2020     강원도   강릉시     40
               고성군     14
               동해시     15
               삼척시     43
               속초시     16
                     ...
2022     충청북도  제천시     33
               증평군      6
               진천군     27
               청주시    107
               충주시     73
Name: 충전기 수, Length: 744, dtype: int64

In [53]:
numch_group_ad3 = numch.groupby(['충전시작_년도', '0', '1', '2'])['충전기ID'].count().rename('충전기 수')
numch_group_ad3

충전시작_년도  0     1    2
2020     강원도   강릉시  강동면       4
                    강릉대로      1
                    구정면       6
                    남산초교길     2
                    남항진동      2
                             ..
2022     충청북도  충주시  용탄동       1
                    으뜸로       1
                    주덕읍       1
                    중앙탑면     12
                    지현동       1
Name: 충전기 수, Length: 6310, dtype: int64

In [54]:
numch_group_ad4 = numch.groupby(['충전시작_년도', '0', '1', '2', '3'])['충전기ID'].count().rename('충전기 수')
numch_group_ad4

충전시작_년도  0     1    2     3
2020     강원도   강릉시  강동면   와천로          3
                          정동역길         1
                    강릉대로  33           1
                    구정면   동해고속도로       3
                          회산로          3
                                      ..
2022     충청북도  충주시  으뜸로   21           1
                    주덕읍   신덕로          1
                    중앙탑면  중부내륙고속도로    11
                          탑평리          1
                    지현동   696          1
Name: 충전기 수, Length: 9496, dtype: int64

In [55]:
numch_group_file = pd.ExcelWriter('분석/2020-22년_년도_지역별_충전기_수.xlsx')
numch_group_ad1.to_excel(numch_group_file, sheet_name='지역')
numch_group_ad2.to_excel(numch_group_file, sheet_name='시군구')
numch_group_ad3.to_excel(numch_group_file, sheet_name='읍면동')
numch_group_ad4.to_excel(numch_group_file, sheet_name='리')
numch_group_file.save()

#### 분석 이슈
- 1번 지역(시군구) : 세종특별자치시 주소는 시군구가 없이 바로 도로명 주소나 2번 지역명(읍면동)이 있는 경우가 있음
- 2번 지역(읍면동) : 3번 지역명(리)의 주소가 있는 샘플 존재.
    - 샘플 주소 : 강원도 화천군 하리
    - 실제 주소 : 강원도 화천군 화천읍 하리

# 코드 마지막