# Library

In [1]:
import pandas as pd
import numpy as np
import os

# folder

In [2]:
ods_fold = 'D:/data/big2/ODS'

# load

## N_IS_PENALTY(비상시 및 계절제 - 행정처분)

In [43]:
# 영문컬럼 : 'GNFD_NO', 'REGLT_DE', 'VHMNO', 'VIN', 'VHRNO', 'LST_RQST_DT', 'REG_ID', 'REG_DT', 'SND_YN', 'REGLT_NO', 'SMTM_GNFD_EXCLU_YN', 'BASIC_YN', 'BASIC_OVER_YN' 
# 한글컬럼 : '발령번호', '등록LOT_DE', '차량관리번호', '차대번호', '자동차등록번호', 'LST요청일시', '등록ID', '등록일시', '송신_YN', '등록LOT번호', '동시발령EXCLU여부', 'BASIC여부', 'BASIC_OVER여부'
# 필요컬럼
    # 영문컬럼 : 'VIN', 'REGLT_DE', 'REGLT_NO'
    # 한글컬럼 : '차대번호', '등록LOT_DE', '등록LOT번호'

In [44]:
# about 18.6s
name = 'n_is_penalty'
file_name = f'{name}.csv'
isp = pd.read_csv(os.path.join(ods_fold, file_name), low_memory=False, sep='|', usecols=['VIN', 'REGLT_DE', 'REGLT_NO'])
isp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10790105 entries, 0 to 10790104
Data columns (total 3 columns):
 #   Column    Dtype
---  ------    -----
 0   REGLT_DE  int64
 1   VIN       object
 2   REGLT_NO  int64
dtypes: int64(2), object(1)
memory usage: 247.0+ MB

In [45]:
isp.columns

Index(['REGLT_DE', 'VIN', 'REGLT_NO'], dtype='object')

In [46]:
# about 0.4s
name = '[컬럼명]운행제한테이블(2023.06.13)'
file_name = f'{name}.xlsx'
isp_col = pd.read_excel(os.path.join(ods_fold, file_name), sheet_name='N_IS_PENALTY')
isp_col.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13 entries, 0 to 12
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   영문      13 non-null     object
 1   한글      13 non-null     object
dtypes: object(2)
memory usage: 336.0+ bytes

In [47]:
isp_dict = {a:b for a, b in isp_col[['영문', '한글']].values}
isp_dict

{'GNFD_NO': '발령번호',
 'REGLT_DE': '등록LOT_DE',
 'VHMNO': '차량관리번호',
 'VIN': '차대번호',
 'VHRNO': '자동차등록번호',
 'LST_RQST_DT': 'LST요청일시',
 'REG_ID': '등록ID',
 'REG_DT': '등록일시',
 'SND_YN': '송신_YN',
 'REGLT_NO': '등록LOT번호',
 'SMTM_GNFD_EXCLU_YN': '동시발령EXCLU여부',
 'BASIC_YN': 'BASIC여부',
 'BASIC_OVER_YN': 'BASIC_OVER여부'}

In [48]:
isp = isp.rename(columns=isp_dict)
isp.columns

Index(['등록LOT_DE', '차대번호', '등록LOT번호'], dtype='object')

In [49]:
isp.head()

   등록LOT_DE               차대번호  등록LOT번호
0  20191210  KNAMA75434S611987    40995
1  20191210  KMFZCD7HP4U038442    40828
2  20191210  KMHSC81VP3U462149    40676
3  20191210  KNHMB76136S013714    40683
4  20191210  KNAJC52135A353826    42850

In [50]:
isp.shape, len(isp['차대번호'].unique())

((10790105, 3), 678526)

In [51]:
len(isp['등록LOT번호'].unique())

10790105

## N_IS_ISSUE_DISCLOSURE(비상시 및 계절제 단속발령)

In [ ]:
# 영문컬럼 : 'REGLT_NO', 'GNFD_NO', 'REG_SIDO_CD', 'REG_SIGNGU_CD', 'REGLT_AREA_CD', 'TFCLNE_ID', 'DISCL_DEHMS', 'VHMNO', 'VIN', 'VHRNO', 'FILE_NM', 'FILE_CURS_NM', 'ORG_FILE_CURS_NM', 'THUMB_FILE_CURS_NM', 'DTL_FILE_CURS_NM', 'REG_ID', 'REG_DT', 'EXCLU_REG_DT', 'RDCDVC_YN', 'BSN_YN', 'RWMR_YN', 'DSPN_YN', 'RQT_YN', 'UNDEVT_YN', 'SND_YN'
# 한글컬럼 : '등록LOT번호', '발령번호', '등록시도코드', '등록시군구코드', '운행제한단속발령대상 지역코드', 'TFCLNE_ID', '적발일자시각', '차량관리번호', '차대번호', '차량등록번호', '파일명', '파일경로명', '원본파일경로명', '썸네일파일경로명', '상세파일경로명', '등록ID', '등록일시', 'EXCLU등록일시', '저감장치여부', '영업여부', '보훈여부', 'DSPN여부', 'RQT여부', '미개발여부', '발송여부'
# 필요컬럼
    # 영문컬럼 : 'REGLT_NO', 'REG_SIDO_CD', 'REG_SIGNGU_CD', 'DISCL_DEHMS', 'VIN'
    # 한글컬럼 : '등록LOT번호', '등록시도코드', '등록시군구코드', '적발일자시각', '차대번호'

In [52]:
# about 3m 25.5s
name = 'ODS_N_IS_ISSUE_DISCLOSURE_1'
file_name = f'{name}.csv'
isd1 = pd.read_csv(os.path.join(ods_fold, file_name), low_memory=False, usecols=['REGLT_NO', 'REG_SIDO_CD', 'REG_SIGNGU_CD', 'DISCL_DEHMS', 'VIN'])
isd1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32271175 entries, 0 to 32271174
Data columns (total 5 columns):
 #   Column         Dtype
---  ------         -----
 0   REGLT_NO       int64
 1   REG_SIDO_CD    int64
 2   REG_SIGNGU_CD  int64
 3   DISCL_DEHMS    int64
 4   VIN            object
dtypes: int64(4), object(1)
memory usage: 1.2+ GB

In [57]:
# about 5m 12.3s
name = 'ODS_N_IS_ISSUE_DISCLOSURE_2'
file_name = f'{name}.csv'
isd2 = pd.read_csv(os.path.join(ods_fold, file_name), low_memory=False, usecols=['REGLT_NO', 'REG_SIDO_CD', 'REG_SIGNGU_CD', 'DISCL_DEHMS', 'VIN'])
isd2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49241446 entries, 0 to 49241445
Data columns (total 5 columns):
 #   Column         Dtype
---  ------         -----
 0   REGLT_NO       int64
 1   REG_SIDO_CD    int64
 2   REG_SIGNGU_CD  int64
 3   DISCL_DEHMS    int64
 4   VIN            object
dtypes: int64(4), object(1)
memory usage: 1.8+ GB

In [26]:
isd1.columns

Index(['REGLT_NO', 'GNFD_NO', 'REG_SIDO_CD', 'REG_SIGNGU_CD', 'REGLT_AREA_CD',
       'TFCLNE_ID', 'DISCL_DEHMS', 'VHMNO', 'VIN', 'VHRNO', 'FILE_NM',
       'FILE_CURS_NM', 'ORG_FILE_CURS_NM', 'THUMB_FILE_CURS_NM',
       'DTL_FILE_CURS_NM', 'REG_ID', 'REG_DT', 'EXCLU_REG_DT', 'RDCDVC_YN',
       'BSN_YN', 'RWMR_YN', 'DSPN_YN', 'RQT_YN', 'UNDEVT_YN', 'SND_YN'],
      dtype='object')

In [53]:
# about 0.4s
name = '[컬럼명]N_IS_ISSUE_DISCLOSURE'
file_name = f'{name}.xlsx'
isd_col = pd.read_excel(os.path.join(ods_fold, file_name), sheet_name='ods_col')
isd_col.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25 entries, 0 to 24
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   영문      25 non-null     object
 1   한글      25 non-null     object
dtypes: object(2)
memory usage: 528.0+ bytes

In [54]:
isd_dict = {a:b for a, b in isd_col[['영문', '한글']].values}
isd_dict

{'DISCL_DEHMS': '적발일자시각',
 'REGLT_AREA_CD': '운행제한단속발령대상지역코드',
 'VHMNO': '차량관리번호',
 'VIN': '차대번호',
 'VHRNO': '차량등록번호',
 'GNFD_NO': '발령번호',
 'REGLT_NO': '등록LOT번호',
 'REG_SIDO_CD': '등록시도코드',
 'REG_SIGNGU_CD': '등록시군구코드',
 'TFCLNE_ID': 'TFCLNE_ID',
 'FILE_NM': '파일명',
 'FILE_CURS_NM': '파일경로명',
 'ORG_FILE_CURS_NM': '원본파일경로명',
 'THUMB_FILE_CURS_NM': '썸네일파일경로명',
 'DTL_FILE_CURS_NM': '상세파일경로명',
 'REG_ID': '등록ID',
 'REG_DT': '등록일시',
 'EXCLU_REG_DT': 'EXCLU등록일시',
 'RDCDVC_YN': '저감장치여부',
 'BSN_YN': '영업여부',
 'RWMR_YN': '보훈여부',
 'DSPN_YN': 'DSPN여부',
 'RQT_YN': 'RQT여부',
 'UNDEVT_YN': '미개발여부',
 'SND_YN': '발송여부'}

In [55]:
isd1 = isd1.rename(columns=isd_dict)
isd1.columns

Index(['등록LOT번호', '등록시도코드', '등록시군구코드', '적발일자시각', '차대번호'], dtype='object')

In [58]:
isd2 = isd2.rename(columns=isd_dict)
isd2.columns

Index(['등록LOT번호', '등록시도코드', '등록시군구코드', '적발일자시각', '차대번호'], dtype='object')

In [56]:
isd1.head()

    등록LOT번호  등록시도코드  등록시군구코드          적발일자시각               차대번호
0  54793831      41      190  20220425193202  KMFXKS7BP3U657943
1  54793839      41      190  20220425192830  KNAMA75432S388470
2  54793843      28      237  20220425192658  KNGDNM9N14K178854
3  54795717      41      130  20220425201503  KMFGA17PP7C072098
4  54793837      41      190  20220425190532  KPBSH3AB18P082348

In [59]:
isd2.head()

   등록LOT번호  등록시도코드  등록시군구코드          적발일자시각               차대번호
0    19890      11      350  20191210202357  KMHMG81VP5U257794
1    39000      41      210  20191210202349  KNAMC75136S062407
2    19892      41      360  20191210202333  KNAJE55136K140658
3    19889      41      610  20191210202330  KNAJC52134A283624
4    19191      11      500  20191210202327  KN4HNW6DM5K098136

In [60]:
isd = pd.concat([isd1, isd2], ignore_index=True)
isd.shape

(81512621, 5)

### [출력] 비상시 및 계절제 단속발령(필수)

In [61]:
# 3m 30.3s
isd.to_csv(os.path.join(ods_fold, '비상시_및_계절제_단속발령(일부).csv'), index=False)

## N_US_PENALTY(상시 운행제한 - 행정처분)

In [ ]:
# 영문컬럼 : 'ODR_YM', 'REGLT_YM', 'VHMNO', 'VIN', 'VHRNO', 'REGLT_CNT', 'LSMTH_REGLT_CNT', 'LSMTH_BF_MM_CNT', 'LST_RQST_DT', 'REG_ID', 'REG_DT', 'SND_YN', 'NO'
# 한글컬럼 : '차수연월', '등록LOT연월', '차량관리번호', '차대번호', '자동차등록번호', '등록LOT수', 'LSMTH등록LOT수', 'LSMTH이전월수', 'LST요청일시', '등록ID', '등록일시', '송신여부', '번호'
# 필요컬럼
    # 영문컬럼 : 'VIN', 'REG_DT', 'NO'
    # 한글컬럼 : '차대번호', '등록일시', '번호'

In [23]:
# about 1.2s
name = 'n_us_penalty'
file_name = f'{name}.csv'
usp = pd.read_csv(os.path.join(ods_fold, file_name), low_memory=False, sep='|')
usp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 443309 entries, 0 to 443308
Data columns (total 13 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   ODR_YM           443309 non-null  int64
 1   REGLT_YM         443309 non-null  int64
 2   VHMNO            443309 non-null  object
 3   VIN              443309 non-null  object
 4   VHRNO            443309 non-null  object
 5   REGLT_CNT        443309 non-null  int64
 6   LSMTH_REGLT_CNT  443309 non-null  int64
 7   LSMTH_BF_MM_CNT  443309 non-null  int64
 8   LST_RQST_DT      0 non-null       float64
 9   REG_ID           443309 non-null  object
 10  REG_DT           443309 non-null  object
 11  SND_YN           443309 non-null  object
 12  NO               443309 non-null  int64
dtypes: float64(1), int64(6), object(6)
memory usage: 44.0+ MB

In [24]:
usp.columns

Index(['ODR_YM', 'REGLT_YM', 'VHMNO', 'VIN', 'VHRNO', 'REGLT_CNT',
       'LSMTH_REGLT_CNT', 'LSMTH_BF_MM_CNT', 'LST_RQST_DT', 'REG_ID', 'REG_DT',
       'SND_YN', 'NO'],
      dtype='object')

In [13]:
# about 0.4s
name = '[컬럼명]운행제한테이블(2023.06.13)'
file_name = f'{name}.xlsx'
usp_col = pd.read_excel(os.path.join(ods_fold, file_name), sheet_name='N_US_PENALTY')
usp_col.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13 entries, 0 to 12
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   영문      13 non-null     object
 1   한글      13 non-null     object
dtypes: object(2)
memory usage: 336.0+ bytes

In [15]:
usp_dict = {a:b for a, b in usp_col[['영문', '한글']].values}
usp_dict

{'ODR_YM': '차수연월',
 'REGLT_YM': '등록LOT연월',
 'VHMNO': '차량관리번호',
 'VIN': '차대번호',
 'VHRNO': '자동차등록번호',
 'REGLT_CNT': '등록LOT수',
 'LSMTH_REGLT_CNT': 'LSMTH등록LOT수',
 'LSMTH_BF_MM_CNT': 'LSMTH이전월수',
 'LST_RQST_DT': 'LST요청일시',
 'REG_ID': '등록ID',
 'REG_DT': '등록일시',
 'SND_YN': '송신_YN',
 'NO': '번호'}

In [16]:
usp = usp.rename(columns=usp_dict)
usp.columns

Index(['차수연월', '등록LOT연월', '차량관리번호', '차대번호', '자동차등록번호', '등록LOT수', 'LSMTH등록LOT수',
       'LSMTH이전월수', 'LST요청일시', '등록ID', '등록일시', '송신_YN', '번호'],
      dtype='object')

# an

## N_IS(비상시 및 계절제)

In [62]:
isp.columns

Index(['등록LOT_DE', '차대번호', '등록LOT번호'], dtype='object')

In [63]:
isd.columns

Index(['등록LOT번호', '등록시도코드', '등록시군구코드', '적발일자시각', '차대번호'], dtype='object')

In [64]:
isp.shape, isd.shape

((10790105, 3), (81512621, 5))

In [65]:
len(isd['등록LOT번호'].unique())

81512621

In [67]:
len(set(isp['등록LOT번호']) & set(isd['등록LOT번호']))
# 8,945,915

8945915

# code end