In [1]:
!pip install pyexasol

Collecting pyexasol
  Downloading pyexasol-0.25.2-py3-none-any.whl (47 kB)
     -------------------------------------- 47.4/47.4 kB 807.7 kB/s eta 0:00:00
Collecting websocket-client>=1.0.1
  Downloading websocket_client-1.5.2-py3-none-any.whl (56 kB)
     -------------------------------------- 56.6/56.6 kB 985.5 kB/s eta 0:00:00
Requirement already satisfied: rsa in c:\users\kbjoo\anaconda3\lib\site-packages (from pyexasol) (4.7.2)
Requirement already satisfied: pyopenssl in c:\users\kbjoo\anaconda3\lib\site-packages (from pyexasol) (21.0.0)
Requirement already satisfied: packaging in c:\users\kbjoo\anaconda3\lib\site-packages (from pyexasol) (21.3)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in c:\users\kbjoo\anaconda3\lib\site-packages (from packaging->pyexasol) (3.0.4)
Requirement already satisfied: cryptography>=3.3 in c:\users\kbjoo\anaconda3\lib\site-packages (from pyopenssl->pyexasol) (3.4.8)
Requirement already satisfied: six>=1.5.2 in c:\users\kbjoo\anaconda3\lib\site-packages (from pyopenssl->pyexasol) (1.16.0)
Requirement already satisfied: pyasn1>=0.1.3 in c:\users\kbjoo\anaconda3\lib\site-packages (from rsa->pyexasol) (0.4.8)
Requirement already satisfied: cffi>=1.12 in c:\users\kbjoo\anaconda3\lib\site-packages (from cryptography>=3.3->pyopenssl->pyexasol) (1.15.0)
Requirement already satisfied: pycparser in c:\users\kbjoo\anaconda3\lib\site-packages (from cffi>=1.12->cryptography>=3.3->pyopenssl->pyexasol) (2.21)
Installing collected packages: websocket-client, pyexasol
  Attempting uninstall: websocket-client
    Found existing installation: websocket-client 0.58.0
    Uninstalling websocket-client-0.58.0:
      Successfully uninstalled websocket-client-0.58.0
Successfully installed pyexasol-0.25.2 websocket-client-1.5.2

ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
jupyter-server 1.13.5 requires pywinpty<2; os_name == "nt", but you have pywinpty 2.0.2 which is incompatible.

[notice] A new release of pip available: 22.2.2 -> 23.1.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [2]:
import pyexasol

In [24]:
# DB 로딩
# pyexasol.connect(dsn='dev.openankus.org:8563', user='sys', password='djslzja', compression=True)
# schema 지정 로딩
wb = pyexasol.connect(dsn='dev.openankus.org:8563', user='sys', password='djslzja', compression=True, schema='wabotech')

In [20]:
def create_table(data, table_nm):
    dbUtil2 = pyexasol.connect(dsn='dev.openankus.org:8563', user='sys', password='djslzja', compression=True, schema='wabotech')

    sql = 'create table ' + table_nm + '( \n'

    for idx, column in enumerate(data.columns):
        if 'float' in data[column].dtype.name:
            sql += column + ' DOUBLE PRECISION'
        elif 'int' in data[column].dtypes.name:
            sql += column + ' DOUBLE PRECISION'
        else:
            sql += column + ' varchar(255)'

        if len(data.columns) -1 != idx:
            sql += ','
        sql += '\n'
    sql += ');'
    print(sql)
    dbUtil2.execute(sql) # 쿼리 실행
    
    dbUtil2.import_from_pandas(data, table_nm) # 테이블 로드 # 테이블이 존재하는 경우에는 이것만 실행

In [5]:
import pandas as pd
import numpy as np

In [22]:
df = pd.DataFrame({'a1':[1,2,3], 'a2':[2,4,6,], 'a3':['a', 'b', 'c'], 'a4':[1, 'abc', np.nan]})
df

   a1  a2 a3   a4
0   1   2  a    1
1   2   4  b  abc
2   3   6  c  NaN

In [23]:
create_table(df, 'test_df')

create table test_df(
a1 DOUBLE PRECISION,
a2 DOUBLE PRECISION,
a3 varchar(255),
a4 varchar(255)
);

In [33]:
GRD4 = wb.export_to_pandas('SELECT * from "wabotech".STD_BD_GRD4_ERSR_RSLT')

In [29]:
GRD4

                 VIN     STDG_CD  YRIDNW VHCTY_TY FUEL_CD GRD4_MLSFC
0  KMHJP81VP6U401147  4131010500    2006       중형      경유        B\r