# Library

In [18]:
import pandas as pd
import numpy as np
import os
import datetime as dt
import time

In [19]:
pd.options.display.float_format = '{:.2f}'.format
# pd.reset_option('display.float_format')

In [20]:
start_time = time.time()

# Fold

In [188]:
raw_fold = 'D:/data/multi_road/raw'
an_fold = 'D:/data/multi_road/analysis'

# Load

## 원격측정정보

In [22]:
rsd_cdict = {
    'vdfDateTime':'검사날짜',
    'vdfTime':'검사시간',
    'vdfRecordStatus':'기록상태',
    'vdfValid':'유효',
    'samSpeed':'속도',
    'samAccel':'가속도',
    # 'samFlag':'플래그',
    'Smoke':'매연',
    'V_PLATE':'자동차등록번호',
}
len(rsd_cdict)

8

In [23]:
# # 18s
# name = '매연RSD 도로측정데이터_20221004~20230330'
# file_name = f'{name}.xlsx'
# rsd = pd.read_excel(os.path.join(raw_fold, file_name))

# 1s
name = '매연RSD 도로측정데이터_20221004~20230330'
file_name = f'{name}.csv'
rsd = pd.read_csv(os.path.join(raw_fold, file_name), usecols=rsd_cdict.keys())
rsd.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31633 entries, 0 to 31632
Data columns (total 8 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   vdfDateTime      31633 non-null  object
 1   vdfTime          31633 non-null  object
 2   vdfRecordStatus  31633 non-null  object
 3   vdfValid         31633 non-null  object
 4   samSpeed         31615 non-null  float64
 5   samAccel         31615 non-null  float64
 6   Smoke            31633 non-null  float64
 7   V_PLATE          31498 non-null  object
dtypes: float64(3), object(5)
memory usage: 1.9+ MB

In [24]:
rsdr = rsd.rename(columns=rsd_cdict)
rsdr.columns

Index(['검사날짜', '검사시간', '기록상태', '유효', '속도', '가속도', '매연', '자동차등록번호'], dtype='object')

### [출력] csv

In [25]:
# # 1s
# rsd.to_csv(os.path.join(raw_fold, f'{name}.csv'), index=False)

## 등록정보

In [224]:
car_cdict = {
    'VIN':'차대번호', 
    # 'BSPL_STDG_CD':'법정동코드', 
    'EXHST_GAS_GRD_CD':'배출가스등급', 
    'EXHST_GAS_CERT_NO':'배출가스인증번호',
    'VHCL_ERSR_YN':'차량말소YN',
    'MANP_MNG_NO':'제원관리번호', 
    'YRIDNW':'차량연식', 
    'VHCTY_CD':'차종', 
    # 'PURPS_CD2':'용도', 
    'FRST_REG_YMD':'최초등록일자',
    # 'VHCL_MNG_NO':'차량관리번호', 
    'VHRNO':'자동차등록번호',
    # 'VHCL_OWNR_CL_CD':'소유자구분', 
    'VHCL_FBCTN_YMD':'차량제작일자'
}
len(car_cdict)

10

In [225]:
# 2m 30s
name = 'STD_CEG_CAR_MIG(20230821)'
file_name = f'{name}.csv'
car = pd.read_csv(os.path.join(raw_fold, file_name), usecols=car_cdict.keys())
car.info()

C:\Users\kbjung\AppData\Local\Temp\ipykernel_19580\2069508936.py:4: DtypeWarning: Columns (8,18) have mixed types. Specify dtype option on import or set low_memory=False.
  car = pd.read_csv(os.path.join(raw_fold, file_name), usecols=car_cdict.keys())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30625663 entries, 0 to 30625662
Data columns (total 10 columns):
 #   Column             Dtype
---  ------             -----
 0   EXHST_GAS_CERT_NO  object
 1   EXHST_GAS_GRD_CD   object
 2   FRST_REG_YMD       object
 3   MANP_MNG_NO        object
 4   VHCL_ERSR_YN       object
 5   VHCL_FBCTN_YMD     object
 6   YRIDNW             int64
 7   VHCTY_CD           object
 8   VIN                object
 9   VHRNO              object
dtypes: int64(1), object(9)
memory usage: 2.3+ GB

In [286]:
# 4s
carr = car.rename(columns=car_cdict)
carr.columns

Index(['배출가스인증번호', '배출가스등급', '최초등록일자', '제원관리번호', '차량말소YN', '차량제작일자', '차량연식',
       '차종', '차대번호', '자동차등록번호'],
      dtype='object')

## 제원정보

In [29]:
src_cdict = {
    'MANP_MNG_NO':'제원관리번호', 
    'FUEL_CD':'연료',
    # 'VHCTY_CD':'차종', 
    'VHCTY_TY_CD2':'차종유형', 
    'MNFCTR_NM':'제작사명', 
    'VHCNM':'차명', 
    'VHCL_FRM':'자동차형식', 
    'EGIN_TY':'엔진형식', 
    'VHCTY_CL_CD':'차종분류',
    'TOTL_WGHT':'총중량',
    # 'CRYNG_WGHT':'적재중량',
    'DSPLVL':'배기량', 
    'EGIN_OTPT':'엔진출력', 
}
len(src_cdict)

11

In [30]:
# 2s
name = 'STD_CEG_CAR_SRC_MIG(20230821)'
file_name = f'{name}.csv'
src = pd.read_csv(os.path.join(raw_fold, file_name), usecols=src_cdict.keys())
src.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 566615 entries, 0 to 566614
Data columns (total 11 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   VHCL_FRM      536460 non-null  object
 1   DSPLVL        530949 non-null  float64
 2   EGIN_OTPT     491335 non-null  float64
 3   EGIN_TY       517013 non-null  object
 4   FUEL_CD       545937 non-null  object
 5   MNFCTR_NM     559794 non-null  object
 6   MANP_MNG_NO   566615 non-null  object
 7   TOTL_WGHT     563088 non-null  float64
 8   VHCNM         566544 non-null  object
 9   VHCTY_CL_CD   551140 non-null  object
 10  VHCTY_TY_CD2  553038 non-null  object
dtypes: float64(3), object(8)
memory usage: 47.6+ MB

In [31]:
srcr = src.rename(columns=src_cdict)
srcr.columns

Index(['자동차형식', '배기량', '엔진출력', '엔진형식', '연료', '제작사명', '제원관리번호', '총중량', '차명',
       '차종분류', '차종유형'],
      dtype='object')

## 정밀검사

In [32]:
eet_cdict = {
    'VIN':'차대번호', 
    'PRCINSP_JGMT':'검사판정', 
    'PREC_NLOD_SMO_MSTVL1':'무부하매연측정치1', 
    'PREC_NLOD_SMO_JT_YN1':'무부하매연판정1', 
    'PREC_NLOD_SMO_PRMVL1':'무부하매연허용치1', 
    'PRCINSP_MSRMT_MTHD_CD':'검사방법', 
    'PRCINSP_KND_CD':'검사종류', 
    'PRCINSP_YMD':'검사일자',
    # 'PRCINSP_DRVNG_DSTNC':'주행거리', 
}
len(eet_cdict)

8

In [33]:
# 2m
name = 'STD_TB_EET_HIS_ME(20230825)'
file_name = f'{name}.csv'
eet = pd.read_csv(os.path.join(raw_fold, file_name), usecols=eet_cdict.keys())
eet.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 102191938 entries, 0 to 102191937
Data columns (total 8 columns):
 #   Column                 Dtype
---  ------                 -----
 0   VIN                    object
 1   PRCINSP_JGMT           object
 2   PREC_NLOD_SMO_MSTVL1   float64
 3   PREC_NLOD_SMO_JT_YN1   object
 4   PREC_NLOD_SMO_PRMVL1   float64
 5   PRCINSP_MSRMT_MTHD_CD  object
 6   PRCINSP_KND_CD         object
 7   PRCINSP_YMD            int64
dtypes: float64(2), int64(1), object(5)
memory usage: 6.1+ GB

In [34]:
# 12s
eetr = eet.rename(columns=eet_cdict)
eetr.columns

Index(['차대번호', '검사판정', '무부하매연측정치1', '무부하매연판정1', '무부하매연허용치1', '검사방법', '검사종류',
       '검사일자'],
      dtype='object')

In [189]:
eetr['검사일자'].describe()

count                        102191938
mean     2015-06-12 01:53:53.696120576
min                2002-05-20 00:00:00
25%                2010-10-23 00:00:00
50%                2015-12-23 00:00:00
75%                2020-07-18 00:00:00
max                2023-07-31 00:00:00
Name: 검사일자, dtype: object

# Preprocessing

## 원격측정정보

In [35]:
rsdr.columns

Index(['검사날짜', '검사시간', '기록상태', '유효', '속도', '가속도', '매연', '자동차등록번호'], dtype='object')

In [36]:
rsdr['자동차등록번호'].head()

0    60저3406
1    41구0483
2    80러0579
3    94누0128
4    60수4386
Name: 자동차등록번호, dtype: object

In [37]:
rsdr.shape, len(rsdr['자동차등록번호'].unique())

((31633, 8), 18131)

In [38]:
rsdr['자동차등록번호'].isnull().sum()

135

In [39]:
rsdr[rsdr['자동차등록번호'] == '********'].shape

(9741, 8)

In [40]:
# A(Audit(검증)), C(Calibration), N(일반측정상태)
rsdr['기록상태'].value_counts(dropna=False)

기록상태
N    31615
C        9
A        9
Name: count, dtype: int64

In [41]:
rsdr['유효'].value_counts(dropna=False)

유효
V    31615
x       18
Name: count, dtype: int64

In [42]:
rsdr.loc[rsdr['기록상태'] == 'N', '유효'].value_counts(dropna=False)

유효
V    31615
Name: count, dtype: int64

In [43]:
rsdr = rsdr[(rsdr['기록상태'] == 'N') & (rsdr['자동차등록번호'] != '********') & (rsdr['자동차등록번호'].isnull() == False)].reset_index(drop=True)
rsdr.shape

(21757, 8)

In [44]:
rsdr[['속도', '가속도', '매연']].describe()

            속도      가속도       매연
count 21757.00 21757.00 21757.00
mean     49.15     0.02     1.39
std      43.31    10.70     2.92
min       0.00  -325.50     0.00
25%      43.30     0.00     0.30
50%      50.20     0.10     0.50
75%      56.30     0.40     0.90
max    2244.50   314.10    19.90

In [45]:
rsdr[['검사날짜', '검사시간']].head()

         검사날짜      검사시간
0  10-04-2022  10:31:20
1  10-04-2022  10:31:46
2  10-04-2022  10:31:58
3  10-04-2022  10:32:47
4  10-04-2022  10:34:03

In [46]:
rsdr[['검사날짜', '검사시간']].isnull().sum()

검사날짜    0
검사시간    0
dtype: int64

In [47]:
rsdr[['검사날짜', '검사시간']].dtypes

검사날짜    object
검사시간    object
dtype: object

In [48]:
rsdr['검사날짜시간'] = rsdr['검사날짜'] + ' ' + rsdr['검사시간']
rsdr['검사날짜시간']= pd.to_datetime(rsdr['검사날짜시간'])
rsdr['검사날짜시간'].head()

0   2022-10-04 10:31:20
1   2022-10-04 10:31:46
2   2022-10-04 10:31:58
3   2022-10-04 10:32:47
4   2022-10-04 10:34:03
Name: 검사날짜시간, dtype: datetime64[ns]

In [49]:
rsdr['검사날짜'] = pd.to_datetime(rsdr['검사날짜'])

In [50]:
rsdr['검사날짜시간_년'] = rsdr['검사날짜시간'].dt.year
rsdr['검사날짜시간_월'] = rsdr['검사날짜시간'].dt.month
rsdr['검사날짜시간_일'] = rsdr['검사날짜시간'].dt.day
rsdr['검사날짜시간_시'] = rsdr['검사날짜시간'].dt.hour
rsdr['검사날짜시간_분'] = rsdr['검사날짜시간'].dt.minute
rsdr['검사날짜시간_초'] = rsdr['검사날짜시간'].dt.second
rsdr['검사날짜시간_요일'] = rsdr['검사날짜시간'].dt.weekday.map({0:'월', 1:'화', 2:'수', 3:'목', 4:'금', 5:'토', 6:'일'})

In [51]:
rsdr.head()

,검사날짜,검사시간,기록상태,유효,속도,가속도,매연,자동차등록번호,검사날짜시간,검사날짜시간_년,검사날짜시간_월,검사날짜시간_일,검사날짜시간_시,검사날짜시간_분,검사날짜시간_초,검사날짜시간_요일
0,2022-10-04,10:31:20,N,V,71.60,0.00,0.60,60저3406,2022-10-04 10:31:20,2022,10,4,10,31,20,화
1,2022-10-04,10:31:46,N,V,60.70,0.00,0.80,41구0483,2022-10-04 10:31:46,2022,10,4,10,31,46,화
2,2022-10-04,10:31:58,N,V,50.60,0.40,0.70,80러0579,2022-10-04 10:31:58,2022,10,4,10,31,58,화
3,2022-10-04,10:32:47,N,V,53.30,1.40,0.90,94누0128,2022-10-04 10:32:47,2022,10,4,10,32,47,화
4,2022-10-04,10:34:03,N,V,36.10,0.50,0.70,60수4386,2022-10-04 10:34:03,2022,10,4,10,34,3,화

In [52]:
rsdr['검사날짜시간_요일'].unique()

array(['화', '수', '목', '금', '월'], dtype=object)

## 등록정보

In [287]:
carr['차량말소YN'].value_counts(dropna=False)

차량말소YN
N    25795579
Y     4830084
Name: count, dtype: int64

In [288]:
# 9s
# 말소 제거
carr = carr[carr['차량말소YN'] == 'N'].reset_index(drop=True)
carr.shape

(25795579, 10)

In [289]:
carr['최초등록일자'].dtype

dtype('O')

In [290]:
# 6s
# 최초등록일자 숫자형으로 변환
carr['최초등록일자'] = pd.to_numeric(carr['최초등록일자'], errors='coerce')

In [291]:
carr.shape

(25795579, 10)

In [292]:
carr['차량제작일자'].dtype

dtype('O')

In [293]:
carr['차량제작일자'].isnull().sum()

362730

In [294]:
# 3s
carr['차량제작일자'] = pd.to_numeric(carr['차량제작일자'], errors='coerce')
carr['차량제작일자'].isnull().sum()

362731

In [295]:
# 1m 12s
# 중복 차대번호 제거(최신 최초등록일자 남기기)
carr = carr.sort_values('최초등록일자', ascending=False).drop_duplicates('차대번호').reset_index(drop=True)
carr.shape

(25795319, 10)

In [296]:
# 11s
# 배출가스등급 코드 변환
grd_dict = {
    'A0501':'1', 
    'A0502':'2', 
    'A0503':'3', 
    'A0504':'4', 
    'A0505':'5', 
    'A05T2':'2',
    'A05T3':'3', 
    'A05T4':'4', 
    'A05T5':'5', 
    'A05X':'X', 
}
carr['배출가스등급'] = carr['배출가스등급'].replace(grd_dict)
carr['배출가스등급'].unique()

array(['2', '1', nan, '3', '5', '4'], dtype=object)

In [297]:
# 7s
# 차종 코드 변환
cd_dict = {
    'A31M':'이륜', 
    'A31P':'승용', 
    'A31S':'특수', 
    'A31T':'화물', 
    'A31V':'승합'
}
carr['차종'] = carr['차종'].replace(cd_dict)
carr['차종'].unique()

array(['승용', '화물', '특수', '승합'], dtype=object)

In [236]:
# ## 용도 코드 변환
# purps_dict = {
#     'A08P':'개인용', 
#     'A08B':'영업용', 
#     'A08O':'관용',
# }
# carr['용도'] = carr['용도'].replace(purps_dict)
# carr['용도'].unique()

In [237]:
# ## 소유자구분 코드 변환
# ownr_dict = {
#     'A27B':'사업자', 
#     'A27F':'외국인', 
#     'A27L':'법인', 
#     'A27O':'기타', 
#     'A27R':'주민', 
# }
# carr['소유자구분'] = carr['소유자구분'].replace(ownr_dict)
# carr['소유자구분'].unique()

## 제원정보

In [63]:
## 연료 코드 변환
fuel_dict = {
    'A90GS':'휘발유', 
    'A91DS':'경유',
    'A92LP':'LPG(액화석유가스)', 
    'A90GH':'휘발유 하이브리드', 
    'A93EV':'전기', 
    'A91DH':'경유 하이브리드', 
    'A92CN':'CNG(압축천연가스)', 
    'A93HD':'수소', 
    'A92LH':'LPG 하이브리드', 
    'A94OT':'기타연료', 
    'A92CH':'CNG 하이브리드',
    'A90AC':'알코올', 
    'A93SH':'태양열', 
    'A91KS':'등유', 
    'A92LN':'LNG(액화천연가스)', 
    'A90PH':'플러그인 하이브리드', 
}
srcr['연료'] = srcr['연료'].replace(fuel_dict)
srcr['연료'].unique()

array(['휘발유', '경유', '기타연료', 'LPG(액화석유가스)', nan, '휘발유 하이브리드',
       'CNG(압축천연가스)', '등유', '태양열', '경유 하이브리드', '전기', '알코올', 'LPG 하이브리드',
       '수소', 'LNG(액화천연가스)', 'CNG 하이브리드'], dtype=object)

In [64]:
# # 7s
# # 차종 코드 변환
# cd_dict = {
#     'A31M':'이륜', 
#     'A31P':'승용', 
#     'A31S':'특수', 
#     'A31T':'화물', 
#     'A31V':'승합'
# }
# srcr['차종'] = srcr['차종'].replace(cd_dict)
# srcr['차종'].unique()

In [65]:
## 차종유형 코드 변환
ty_dict = {
    'A30C':'경형', 
    'A30L':'대형', 
    'A30M':'중형', 
    'A30S':'소형',
}
srcr['차종유형'] = srcr['차종유형'].replace(ty_dict)
srcr['차종유형'].unique()

array(['대형', '중형', '소형', '경형', nan], dtype=object)

## 정밀검사

In [66]:
eetr.shape

(102191938, 8)

In [67]:
# # 최근 검사만 활용
# # 4m 14.3s
# eetm = eetr.sort_values('검사일자', ascending=False).drop_duplicates('차대번호').reset_index(drop=True)
# eetm.shape

In [68]:
## 검사종류 코드 변환
# 27.5s
knd_dict = {
    'A21P01':'정밀검사', 
    'A1904':'정기검사', 
    'A21T06':'종합검사(경과)', 
    'A21T05':'종합검사', 
    'A21S01':'특정검사', 
    'A1902':'재검사(2부재검사)',
    'A21R02':'2부재검사(종합)', 
    'A21P02':'정밀검사(경과)', 
    'A1903':'정기(경과)검사', 
    'A21S04':'특정재검사(배출)', 
    'A21E01':'배출재검사', 
    'A21R01':'1부재검사(종합)',
    'A21C02':'구조변경검사', 
    'A21002':'관능재검사(임시)', 
    'A21S03':'특정재검사(관능)', 
    'A21S02':'특정검사(경과)', 
    'A1901':'재검사(1부재검사)', 
    'A21T02':'종합(정밀)',
    'A21E02':'배출재검사(구변)', 
    'A21T01':'종합(경과:정밀)', 
    'A21T04':'종합(정밀) 2부재검사', 
    'A21001':'관능재검사', 
    'A21T03':'종합(정밀) 1부재검사', 
    'A21TMP':'임시검사', 
}
eetr['검사종류'] = eetr['검사종류'].replace(knd_dict)
eetr['검사종류'].unique()

array(['종합검사', '2부재검사(종합)', '종합검사(경과)', '1부재검사(종합)', '배출재검사', '정밀검사(경과)',
       '정밀검사', '관능재검사', '특정검사', '구조변경검사', '배출재검사(구변)', nan, '특정검사(경과)',
       '특정재검사(관능)', '특정재검사(배출)', '종합(정밀) 2부재검사', '종합(정밀)', '종합(정밀) 1부재검사',
       '종합(경과:정밀)', 'A21C01', '임시검사', '관능재검사(임시)', 'A21E03', 'A21R06',
       'A21R05', 'A21R03', 'A21R04'], dtype=object)

In [69]:
## 검사방법 코드 변환
# 14.9s
mth_dict = {
    'A18A':'무부하검사(TSI)', 
    'A18B':'무부하검사(급가속)', 
    'A18C':'무부하검사(정지가동)',
    'A2301':'무부하검사(급가속)', 
    'A2302':'무부하검사(정지가동)',
    'A2303':'무부하검사(TSI)', 
    'A2304':'부하검사(LUG DOWN)', 
    'A2305':'부하검사(ASM-Idling)', 
    'A2306':'부하검사(KD-147)', 
    'A2307':'부하검사(ASM2525)', 
}
eetr['검사방법'] = eetr['검사방법'].replace(mth_dict)
eetr['검사방법'].unique()

array(['부하검사(ASM-Idling)', '부하검사(KD-147)', '무부하검사(급가속)', '부하검사(LUG DOWN)',
       '무부하검사(TSI)', '무부하검사(정지가동)', '부하검사(ASM2525)', nan], dtype=object)

In [70]:
# 2.1s
eetr['검사일자'] = pd.to_datetime(eetr['검사일자'], format="%Y%m%d")

In [71]:
eetr['검사일자'].head()

0   2023-04-22
1   2023-04-22
2   2023-04-22
3   2023-04-22
4   2023-04-22
Name: 검사일자, dtype: datetime64[ns]

## 원격&등록

In [72]:
rsdr.shape

(21757, 16)

In [298]:
# 34s
rc = rsdr.merge(carr, on='자동차등록번호', how='left')
rc.shape

(21757, 25)

In [299]:
rc['차대번호'].isnull().sum()

1132

In [75]:
# rc.loc[(rc['차대번호'].isnull() == True) & (rc['자동차등록번호'] == '********')].shape
# (9741, 24)

In [76]:
# 10990 - 9741
# 1249

## 원격&등록&제원

In [300]:
rcs = rc.merge(srcr, on='제원관리번호', how='left')
rcs.shape

(21757, 35)

### [출력] 원격&등록&제원

In [301]:
today_date = dt.datetime.today().strftime("%Y%m%d")
today_date

'20230829'

In [302]:
# 1s
file_name = f'원격_등록_제원({today_date}).csv'
rcs.to_csv(os.path.join(raw_fold, file_name), index=False)

## 원격&등록&제원&정밀

In [303]:
# 2m
rcse = rcs.merge(eetr, on='차대번호', how='left')
rcse.shape

(48043, 42)

### [출력] 원격&등록&제원&정밀

In [304]:
# 1s
file_name = f'원격_등록_제원_정밀({today_date}).csv'
rcse.to_csv(os.path.join(raw_fold, file_name), index=False)

# Load csv

## 원격&등록&제원

In [245]:
# name = '원격_등록_제원(20230829)'
# file_name = f'{name}.csv'
# rcs = pd.read_csv(os.path.join(raw_fold, file_name))
# rcs.info()

## 원격&등록&제원&정밀

In [246]:
# name = '원격_등록_제원_정밀(20230829)'
# file_name = f'{name}.csv'
# rcse = pd.read_csv(os.path.join(raw_fold, file_name))
# rcse.info()

# Analysis

## 1\. 일자별 측정건수
- 시험날짜별 경유차 측정 건수, 비율

In [305]:
rcs.shape, len(rcs['자동차등록번호'].unique())

((21757, 35), 18129)

In [306]:
rcs['연료'].isnull().sum()

1144

In [307]:
temp = rcs.groupby(['검사날짜', '연료'], dropna=False)['자동차등록번호'].count().reset_index()
temp

          검사날짜           연료  자동차등록번호
0   2022-10-04  CNG(압축천연가스)        2
1   2022-10-04  LPG(액화석유가스)        9
2   2022-10-04           경유       53
3   2022-10-04           전기        2
4   2022-10-04          휘발유       53
..         ...          ...      ...
370 2023-03-30     경유 하이브리드        3
371 2023-03-30           전기       10
372 2023-03-30          휘발유      341
373 2023-03-30    휘발유 하이브리드       45
374 2023-03-30          NaN       24

[375 rows x 3 columns]

In [308]:
temp['자동차등록번호'].sum()

21757

In [309]:
grp1 = rcs.groupby(['검사날짜', '연료'], dropna=False)['자동차등록번호'].count().unstack('연료').reset_index()
grp1 = grp1.fillna(0)
grp1['합계'] = grp1.iloc[:, 1:].sum(axis=1)
grp1['경유_비율'] = grp1['경유'] / grp1['합계']
grp1['경유_하이브리드_비율'] = grp1['경유 하이브리드'] / grp1['합계']
grp1

연료,검사날짜,CNG(압축천연가스),LPG 하이브리드,LPG(액화석유가스),경유,경유 하이브리드,기타연료,수소,전기,휘발유,휘발유 하이브리드,NaN,합계,경유_비율,경유_하이브리드_비율
0,2022-10-04,2.00,0.00,9.00,53.00,0.00,0.00,0.00,2.00,53.00,6.00,7.00,132.00,0.40,0.00
1,2022-10-05,3.00,1.00,7.00,47.00,0.00,1.00,0.00,2.00,29.00,1.00,3.00,94.00,0.50,0.00
2,2022-10-06,2.00,0.00,6.00,51.00,0.00,0.00,0.00,0.00,30.00,2.00,6.00,97.00,0.53,0.00
3,2022-10-07,2.00,0.00,10.00,47.00,1.00,0.00,0.00,2.00,37.00,5.00,9.00,113.00,0.42,0.01
4,2022-10-11,1.00,0.00,4.00,29.00,0.00,0.00,0.00,0.00,23.00,1.00,3.00,61.00,0.48,0.00
5,2022-10-12,1.00,0.00,4.00,39.00,0.00,0.00,0.00,2.00,22.00,6.00,4.00,78.00,0.50,0.00
6,2022-10-13,2.00,0.00,4.00,61.00,0.00,0.00,0.00,4.00,43.00,6.00,4.00,124.00,0.49,0.00
7,2022-10-14,1.00,0.00,11.00,74.00,1.00,0.00,1.00,2.00,52.00,8.00,0.00,150.00,0.49,0.01
8,2022-10-17,2.00,0.00,9.00,73.00,1.00,0.00,0.00,2.00,61.00,8.00,9.00,165.00,0.44,0.01
9,2022-10-18,2.00,0.00,12.00,62.00,0.00,0.00,0.00,4.00,35.00,8.00,9.00,132.00,0.47,0.00
10,2022-10-19,2.00,0.00,10.00,65.00,0.00,0.00,0.00,2.00,34.00,3.00,8.00,124.00,0.52,0.00
11,2022-10-20,2.00,0.00,8.00,54.00,1.00,1.00,0.00,0.00,43.00,4.00,8.00,121.00,0.45,0.01
12,2022-10-21,0.00,0.00,54.00,217.00,0.00,1.00,0.00,14.00,191.00,41.00,20.00,538.00,0.40,0.00
13,2022-10-24,0.00,0.00,65.00,260.00,5.00,0.00,2.00,14.00,240.00,39.00,14.00,639.00,0.41,0.01
14,2022-10-26,0.00,0.00,41.00,135.00,0.00,1.00,2.00,12.00,148.00,29.00,6.00,374.00,0.36,0.00
15,2022-10-27,0.00,0.00,46.00,207.00,0.00,0.00,0.00,16.00,201.00,29.00,31.00,530.00,0.39,0.00
16,2022-10-28,0.00,0.00,9.00,49.00,1.00,0.00,1.00,4.00,44.00,1.00,1.00,110.00,0.45,0.01
17,2022-10-31,2.00,0.00,9.00,57.00,0.00,0.00,2.00,3.00,41.00,7.00,5.00,126.00,0.45,0.00
18,2022-11-01,0.00,0.00,51.00,220.00,1.00,0.00,0.00,9.00,217.00,19.00,30.00,547.00,0.40,0.00
19,2022-11-02,0.00,0.00,76.00,262.00,2.00,0.00,1.00,8.00,257.00,35.00,40.00,681.00,0.38,0.00
20,2022-11-08,0.00,1.00,72.00,335.00,0.00,0.00,0.00,19.00,277.00,41.00,52.00,797.00,0.42,0.00
21,2022-11-09,0.00,0.00,74.00,313.00,1.00,0.00,1.00,16.00,266.00,52.00,51.00,774.00,0.40,0.00
22,2022-11-10,0.00,0.00,54.00,209.00,0.00,0.00,0.00,11.00,189.00,24.00,31.00,518.00,0.40,0.00
23,2022-11-14,0.00,0.00,35.00,125.00,2.00,0.00,0.00,10.00,135.00,20.00,20.00,347.00,0.36,0.01
24,2022-11-17,0.00,0.00,33.00,211.00,1.00,0.00,1.00,10.00,156.00,18.00,41.00,471.00,0.45,0.00
25,2022-11-21,0.00,2.00,46.00,186.00,0.00,0.00,1.00,13.00,151.00,21.00,42.00,462.00,0.40,0.00
26,2022-11-24,0.00,1.00,18.00,119.00,0.00,1.00,0.00,7.00,97.00,11.00,20.00,274.00,0.43,0.00
27,2022-11-30,0.00,0.00,39.00,190.00,0.00,0.00,2.00,9.00,175.00,27.00,29.00,471.00,0.40,0.00
28,2022-12-01,0.00,0.00,56.00,287.00,1.00,2.00,0.00,10.00,255.00,43.00,57.00,711.00,0.40,0.00
29,2022-12-07,0.00,0.00,62.00,283.00,2.00,0.00,0.00,12.00,292.00,39.00,59.00,749.00,0.38,0.00
30,2022-12-08,0.00,1.00,56.00,256.00,3.00,0.00,1.00,10.00,265.00,40.00,55.00,687.00,0.37,0.00
31,2023-01-02,0.00,0.00,51.00,232.00,3.00,0.00,0.00,14.00,233.00,26.00,40.00,599.00,0.39,0.01
32,2023-01-03,0.00,0.00,30.00,176.00,1.00,0.00,3.00,7.00,178.00,17.00,17.00,429.00,0.41,0.00
33,2023-01-06,0.00,1.00,11.00,36.00,0.00,0.00,0.00,0.00,40.00,6.00,9.00,103.00,0.35,0.00
34,2023-01-30,3.00,0.00,7.00,47.00,0.00,0.00,0.00,2.00,30.00,2.00,3.00,94.00,0.50,0.00
35,2023-01-31,2.00,0.00,6.00,53.00,0.00,3.00,0.00,1.00,34.00,7.00,21.00,127.00,0.42,0.00
36,2023-02-01,3.00,0.00,17.00,79.00,0.00,2.00,0.00,2.00,58.00,7.00,22.00,190.00,0.42,0.00
37,2023-02-06,0.00,1.00,44.00,153.00,0.00,1.00,0.00,7.00,132.00,17.00,20.00,375.00,0.41,0.00
38,2023-02-07,0.00,0.00,48.00,202.00,1.00,0.00,1.00,10.00,176.00,29.00,20.00,487.00,0.41,0.00
39,2023-02-21,0.00,0.00,68.00,323.00,3.00,1.00,0.00,16.00,243.00,35.00,36.00,725.00,0.45,0.00
40,2023-02-23,0.00,0.00,54.00,194.00,1.00,0.00,0.00,10.00,205.00,22.00,30.00,516.00,0.38,0.00
41,2023-03-06,0.00,1.00,78.00,272.00,1.00,1.00,1.00,17.00,206.00,30.00,19.00,626.00,0.43,0.00
42,2023-03-07,0.00,1.00,86.00,320.00,3.00,0.00,1.00,10.00,305.00,63.00,32.00,821.00,0.39,0.00
43,2023-03-13,0.00,0.00,60.00,300.00,1.00,0.00,1.00,24.00,203.00,28.00,26.00,643.00,0.47,0.00
44,2023-03-16,1.00,0.00,147.00,699.00,2.00,1.00,3.00,37.00,518.00,94.00,60.00,1562.00,0.45,0.00
45,2023-03-20,0.00,0.00,83.00,365.00,1.00,1.00,1.00,21.00,331.00,63.00,38.00,904.00,0.40,0.00
46,2023-03-21,0.00,1.00,65.00,299.00,2.00,0.00,1.00,16.00,263.00,46.00,24.00,717.00,0.42,0.00
47,2023-03-28,0.00,0.00,70.00,390.00,3.00,0.00,0.00,9.00,283.00,44.00,29.00,828.00,0.47,0.00
48,2023-03-30,0.00,0.00,70.00,321.00,3.00,0.00,0.00,10.00,341.00,45.00,24.00,814.00,0.39,0.00

In [310]:
grp1['합계'].sum()

21757.0

In [311]:
# grp1 = rcs.groupby(['검사날짜', '연료'], dropna=False)['자동차등록번호'].count().reset_index()
# grp1['합계'] = grp1.groupby(['검사날짜'], dropna=False)['자동차등록번호'].transform('sum')
# grp1['비율'] = grp1['자동차등록번호'] / grp1['합계']
# grp1 = grp1.rename(columns={'자동차등록번호':'원격측정건수'})
# grp1

In [312]:
# grp1['원격측정건수'].sum()

## 2\. 시간대별 측정건수
- 시간대별 경유차 측정 건수, 비율

In [313]:
grp2 = rcs.groupby(['검사날짜시간_시', '연료'], dropna=False)['자동차등록번호'].count().unstack('연료').reset_index()
grp2 = grp2.fillna(0)
grp2['합계'] = grp2.iloc[:, 1:].sum(axis=1)
grp2['경유_비율'] = grp2['경유'] / grp2['합계']
grp2['경유_하이브리드_비율'] = grp2['경유 하이브리드'] / grp2['합계']
grp2

연료,검사날짜시간_시,CNG(압축천연가스),LPG 하이브리드,LPG(액화석유가스),경유,경유 하이브리드,기타연료,수소,전기,휘발유,휘발유 하이브리드,NaN,합계,경유_비율,경유_하이브리드_비율
0,8,1.00,0.00,0.00,9.00,0.00,0.00,0.00,1.00,4.00,0.00,0.00,15.00,0.60,0.00
1,9,10.00,3.00,587.00,2677.00,12.00,4.00,5.00,151.00,2248.00,314.00,360.00,6371.00,0.42,0.00
2,10,16.00,6.00,993.00,4483.00,23.00,11.00,15.00,210.00,3922.00,605.00,603.00,10887.00,0.41,0.00
3,11,6.00,2.00,220.00,959.00,6.00,1.00,5.00,49.00,872.00,131.00,112.00,2363.00,0.41,0.00
4,12,0.00,0.00,45.00,198.00,1.00,1.00,2.00,12.00,168.00,36.00,16.00,479.00,0.41,0.00
5,13,0.00,0.00,68.00,373.00,3.00,0.00,0.00,9.00,264.00,41.00,29.00,787.00,0.47,0.00
6,14,0.00,0.00,2.00,17.00,0.00,0.00,0.00,0.00,19.00,3.00,0.00,41.00,0.41,0.00
7,15,0.00,0.00,70.00,321.00,3.00,0.00,0.00,10.00,341.00,45.00,24.00,814.00,0.39,0.00

In [314]:
grp2['합계'].sum()

21757.0

In [315]:
# grp2 = rcs.groupby(['검사날짜시간_시', '연료'], dropna=False)['자동차등록번호'].count().reset_index()
# grp2['합계'] = grp2.groupby(['검사날짜시간_시'], dropna=False)['자동차등록번호'].transform('sum')
# grp2['비율'] = grp2['자동차등록번호'] / grp2['합계']
# grp2 = grp2.rename(columns={'자동차등록번호':'원격측정건수'})
# grp2

In [316]:
# grp2['원격측정건수'].sum()

## 3\. 요일별 측정건수
- 요일별 경유차 측정 건수, 비율

In [317]:
grp3 = rcs.groupby(['검사날짜시간_요일', '연료'], dropna=False)['자동차등록번호'].count().unstack('연료').reset_index()
grp3 = grp3.fillna(0)
grp3['합계'] = grp3.iloc[:, 1:].sum(axis=1)
grp3['경유_비율'] = grp3['경유'] / grp3['합계']
grp3['경유_하이브리드_비율'] = grp3['경유 하이브리드'] / grp3['합계']
grp3

연료,검사날짜시간_요일,CNG(압축천연가스),LPG 하이브리드,LPG(액화석유가스),경유,경유 하이브리드,기타연료,수소,전기,휘발유,휘발유 하이브리드,NaN,합계,경유_비율,경유_하이브리드_비율
0,금,3,1,95,423,3,1,2,22,364,61,39,1014,0.42,0.00
1,목,7,2,552,2669,12,5,5,125,2343,338,367,6425,0.42,0.00
2,수,9,1,330,1413,5,4,6,65,1281,199,222,3535,0.40,0.00
3,월,7,4,487,2070,14,3,8,127,1763,261,236,4980,0.42,0.00
4,화,7,3,521,2462,14,4,6,103,2087,316,280,5803,0.42,0.00

In [318]:
grp3['합계'].sum()

21757

In [319]:
# grp3 = rcs.groupby(['검사날짜시간_요일', '연료'], dropna=False)['자동차등록번호'].count().reset_index()
# grp3['합계'] = grp3.groupby(['검사날짜시간_요일'], dropna=False)['자동차등록번호'].transform('sum')
# grp3['비율'] = grp3['자동차등록번호'] / grp3['합계']
# grp3 = grp3.rename(columns={'자동차등록번호':'원격측정건수'})
# grp3

In [320]:
# grp3['원격측정건수'].sum()

## [🔺] 4\. 차선별 측정건수(데이터 부재)

## 5\. 차종별 측정건수
- 차종별 측정 건수, 비율

In [321]:
grp5 = rcs.groupby(['차종'], dropna=False)['자동차등록번호'].count().reset_index()
grp5['비율'] = grp5['자동차등록번호'] / grp5['자동차등록번호'].sum()
grp5 = grp5.rename(columns={'자동차등록번호':'원격측정건수'})
grp5

    차종  원격측정건수   비율
0   승용   15641 0.72
1   승합     726 0.03
2   특수      60 0.00
3   화물    4198 0.19
4  NaN    1132 0.05

In [322]:
grp5['원격측정건수'].sum()

21757

## [❗] 경유차만 추출

In [323]:
die = rcs.loc[rcs['연료'] == '경유'].reset_index(drop=True)
die.shape

(9037, 35)

In [324]:
diee = rcse.loc[rcse['연료'] == '경유'].reset_index(drop=True)
diee.shape

(24124, 42)

## 6\. 매연측정 통계
- 매연 값 전체의 통계(최대, 최소, 중간, 평균)

In [325]:
# # 경유차만 통계
grp6 = die['매연'].describe()
grp6

count   9037.00
mean       1.68
std        3.39
min        0.00
25%        0.40
50%        0.60
75%        1.00
max       19.90
Name: 매연, dtype: float64

## [🔺] 7\. 차선별 매연측정 통계(데이터 부재)
- 차선별 매연 값 전체의 통계

## 8\. 속도별 매연측정 통계
- 속도별 매연 값 전체의 통계

In [326]:
sdf8 = die[['속도', '매연', '자동차등록번호']].reset_index(drop=True)
sdf8.shape

(9037, 3)

In [327]:
sdf8['속도'].describe()

count   9037.00
mean      47.07
std       35.33
min        0.00
25%       42.20
50%       49.70
75%       55.70
max     1699.30
Name: 속도, dtype: float64

In [328]:
# 10단위로 나눔
# 100초과는 하나의 구간으로 설정
per = 10
for i in range(10):
    sdf8.loc[(sdf8['속도'] >= i * per) & (sdf8['속도'] < (i + 1) * per), '속도구간'] = f'{i * per}이상 {(i + 1) * per}미만'
sdf8.loc[sdf8['속도'] >= 100, '속도구간'] = '100이상'

In [329]:
sdf8.head()

     속도   매연  자동차등록번호       속도구간
0 50.60 0.70  80러0579  50이상 60미만
1 53.30 0.90  94누0128  50이상 60미만
2 36.90 0.60  82마9521  30이상 40미만
3 53.50 0.60  20소2902  50이상 60미만
4 51.50 0.50  87수7400  50이상 60미만

In [330]:
grp8 = sdf8.groupby('속도구간').agg({'매연':['max', 'min', lambda x:x.describe()['50%'], 'mean']}).reset_index()
grp8.columns = ['속도구간', '매연_max', '매연_min', '매연_Q2', '매연_mean']
grp8

          속도구간  매연_max  매연_min  매연_Q2  매연_mean
0     0이상 10미만   19.90    0.00   0.50     1.09
1        100이상    3.60    0.00   0.60     0.89
2    10이상 20미만   19.10    0.00   0.65     1.73
3    20이상 30미만   19.30    0.00   0.60     2.14
4    30이상 40미만   19.80    0.00   0.60     2.09
5    40이상 50미만   19.90    0.00   0.60     1.83
6    50이상 60미만   19.90    0.00   0.60     1.61
7    60이상 70미만   19.90    0.00   0.60     1.48
8    70이상 80미만   19.80    0.10   0.85     1.98
9    80이상 90미만   10.30    0.30   0.75     1.78
10  90이상 100미만    0.80    0.80   0.80     0.80

## 9\. 매연농도별 측정건수, 건수 비율
- 1. 매연농도 구간별 측정건수 개수
- 2. 전체 측정개수 중 해당구간 개수 비율

In [331]:
# 경유차만 추출
sdf9 = die[['매연', '자동차등록번호']].reset_index(drop=True)
sdf9.shape

(9037, 2)

In [332]:
# 5단위로 분리
per = 5
for i in range(4):
    sdf9.loc[(sdf9['매연'] >= i * per) & (sdf9['매연'] < (i + 1) * per), '매연구간'] = f'{i * per}이상 {(i + 1) * per}미만'

In [333]:
sdf9.head()

    매연  자동차등록번호     매연구간
0 0.70  80러0579  0이상 5미만
1 0.90  94누0128  0이상 5미만
2 0.60  82마9521  0이상 5미만
3 0.60  20소2902  0이상 5미만
4 0.50  87수7400  0이상 5미만

In [334]:
grp9 = sdf9.groupby('매연구간')['자동차등록번호'].count().reset_index()
grp9['비율'] = grp9['자동차등록번호'] / grp9['자동차등록번호'].sum()
grp9 = grp9.rename(columns={'자동차등록번호':'원격측정건수'})
grp9

        매연구간  원격측정건수   비율
0    0이상 5미만    8237 0.91
1  10이상 15미만     216 0.02
2  15이상 20미만     225 0.02
3   5이상 10미만     359 0.04

## ~~[❌]10\. 차선별 매연측정 통계(7번과 동일)~~
- ~~차선별 매연 값 통계~~

## ~~[❌] 11\. 속도별 매연측정 통계(8번과 동일)~~
- ~~속도범위별 매연 값 평균~~

## 12\. 매연농도 상위 10%의 정밀검사 결과
- 매연 상위 10%의 정밀검사 결과(무부하측정치1) 확인
    - 정밀검사 최신결과? YES
- 검사결과의 적합/부적합 여부(비율)
    - 정밀검사 최신결과? YES

- 과정
    - 1\. 정밀 '검사일자' 최신, '자동차등록번호' 기준 중복 제거
    - 2\. '매연' 기준으로 내림차순
    - 3\. 전제의 10%만 추출
    - 4\. '검사판정' == 'Y', 'N' 비율 분석

In [335]:
diee.shape

(24124, 42)

In [336]:
# 1\. 정밀 '검사일자' 최신, '자동차등록번호' 기준 중복 제거
sdf12 = diee.sort_values('검사일자', ascending=False).drop_duplicates('자동차등록번호').reset_index(drop=True)
sdf12.shape

(7425, 42)

In [337]:
# 2\. '매연' 기준으로 내림차순
sdf12 = sdf12.sort_values('매연', ascending=False).reset_index(drop=True)
sdf12.shape

(7425, 42)

In [338]:
rate = round(0.1 * sdf12.shape[0])
rate

742

In [339]:
# 3\. 전제의 10%만 추출
sdf12 = sdf12.iloc[:rate]
sdf12.shape

(742, 42)

In [340]:
# 4\. '검사판정' == 'Y', 'N' 비율 분석 
grp12 = sdf12['검사판정'].value_counts(normalize=True).reset_index()
grp12 = grp12.rename(columns={'proportion':'비율'})
grp12

  검사판정   비율
0    Y 0.98
1    N 0.02

## [❌] 13\. 시험일 후 최초검사 부적합 - 원격 매연 값 
- 1. 시험날짜 이후 최초 정밀검사 결과가 부적합인 차량 추출
- 2. 원격 매연 값 확인하여 정밀검사의 판정이 적절한지 판정
- 오류-적합율 : 매연RSD 에서 과다측정된 차량이 검사결과에서 부적합 판정을 받은 경우의 수치
    - 과다측정 : 차종별 정기 검사 기준에서 벗어난 매연 값

- 과정
    - 1. 검사판정 == 'N'인 샘플 추출
    - 2. 검사일자(정밀검사) - 검사날짜(원격측정) = 검사날짜차이
    - 3. '검사날짜차이' > 0 인 샘플 추출
    - 4. '검사날짜차이' 오름차순, '자동차등록번호' 기준 중복 제거
    - 5. 제작일자, 차종별 정기 검사 매연 허용치 정보 추가
    - 6. 매연 허용치 이상 차량만 추출 (해당되는 차량 없음)
    - 7. 정밀검사 '검사판정' == N 인 비율

In [342]:
# 1. 검사판정 == 'N'인 샘플 추출
sdf13 = diee[diee['검사판정'] == 'N'].reset_index(drop=True)
sdf13.shape

(1661, 42)

In [343]:
sdf13[['검사날짜', '검사일자']].dtypes

검사날짜    datetime64[ns]
검사일자    datetime64[ns]
dtype: object

In [344]:
sdf13.head()

,검사날짜,검사시간,기록상태,유효,속도,가속도,매연,자동차등록번호,검사날짜시간,검사날짜시간_년,...,차명,차종분류,차종유형,검사판정,무부하매연측정치1,무부하매연판정1,무부하매연허용치1,검사방법,검사종류,검사일자
0,2022-10-04,11:13:08,N,V,49.40,43.80,0.50,81루9582,2022-10-04 11:13:08,2022,...,포터Ⅱ(PORTERⅡ),A2809,소형,N,NaN,NaN,NaN,부하검사(KD-147),종합검사,2016-03-08
1,2022-10-04,11:13:08,N,V,49.40,43.80,0.50,81루9582,2022-10-04 11:13:08,2022,...,포터Ⅱ(PORTERⅡ),A2809,소형,N,50.00,N,15.00,부하검사(KD-147),종합검사,2017-03-15
2,2022-10-04,11:13:08,N,V,49.40,43.80,0.50,81루9582,2022-10-04 11:13:08,2022,...,포터Ⅱ(PORTERⅡ),A2809,소형,N,NaN,NaN,NaN,부하검사(KD-147),종합검사,2022-04-05
3,2022-10-04,11:13:08,N,V,49.40,43.80,0.50,81루9582,2022-10-04 11:13:08,2022,...,포터Ⅱ(PORTERⅡ),A2809,소형,N,NaN,NaN,NaN,부하검사(KD-147),종합검사,2020-03-20
4,2022-10-04,11:14:10,N,V,65.80,0.00,0.80,80주7009,2022-10-04 11:14:10,2022,...,액티언스포츠,A2810,소형,N,36.00,N,15.00,부하검사(KD-147),종합검사,2015-07-27

In [345]:
sdf13['검사날짜'] = pd.to_datetime(sdf13['검사날짜'])
sdf13['검사일자'] = pd.to_datetime(sdf13['검사일자'])

In [346]:
sdf13[['검사날짜', '검사일자']].dtypes

검사날짜    datetime64[ns]
검사일자    datetime64[ns]
dtype: object

In [347]:
# 2. 검사일자(정밀검사) - 검사날짜(원격측정) = 검사날짜차이
sdf13['검사날짜차이'] = sdf13['검사일자'] - sdf13['검사날짜']

In [348]:
sdf13.head()

,검사날짜,검사시간,기록상태,유효,속도,가속도,매연,자동차등록번호,검사날짜시간,검사날짜시간_년,...,차종분류,차종유형,검사판정,무부하매연측정치1,무부하매연판정1,무부하매연허용치1,검사방법,검사종류,검사일자,검사날짜차이
0,2022-10-04,11:13:08,N,V,49.40,43.80,0.50,81루9582,2022-10-04 11:13:08,2022,...,A2809,소형,N,NaN,NaN,NaN,부하검사(KD-147),종합검사,2016-03-08,-2401 days
1,2022-10-04,11:13:08,N,V,49.40,43.80,0.50,81루9582,2022-10-04 11:13:08,2022,...,A2809,소형,N,50.00,N,15.00,부하검사(KD-147),종합검사,2017-03-15,-2029 days
2,2022-10-04,11:13:08,N,V,49.40,43.80,0.50,81루9582,2022-10-04 11:13:08,2022,...,A2809,소형,N,NaN,NaN,NaN,부하검사(KD-147),종합검사,2022-04-05,-182 days
3,2022-10-04,11:13:08,N,V,49.40,43.80,0.50,81루9582,2022-10-04 11:13:08,2022,...,A2809,소형,N,NaN,NaN,NaN,부하검사(KD-147),종합검사,2020-03-20,-928 days
4,2022-10-04,11:14:10,N,V,65.80,0.00,0.80,80주7009,2022-10-04 11:14:10,2022,...,A2810,소형,N,36.00,N,15.00,부하검사(KD-147),종합검사,2015-07-27,-2626 days

In [349]:
sdf13['검사날짜차이'] = sdf13['검사날짜차이'].astype('str')
sdf13['검사날짜차이'] = sdf13['검사날짜차이'].str.split(' ').str[0]
sdf13['검사날짜차이'] = pd.to_numeric(sdf13['검사날짜차이'], errors='coerce')

In [350]:
# 3. '검사날짜차이' > 0 인 샘플 추출
sdf13 = sdf13[sdf13['검사날짜차이'] > 0].reset_index(drop=True)
sdf13.shape

(174, 43)

In [351]:
# 4. '검사날짜차이' 오름차순, '자동차등록번호' 기준 중복 제거
sdf13 = sdf13.sort_values('검사날짜차이').drop_duplicates('자동차등록번호').reset_index(drop=True)
sdf13

,검사날짜,검사시간,기록상태,유효,속도,가속도,매연,자동차등록번호,검사날짜시간,검사날짜시간_년,...,차종분류,차종유형,검사판정,무부하매연측정치1,무부하매연판정1,무부하매연허용치1,검사방법,검사종류,검사일자,검사날짜차이
0,2023-02-21,10:23:29,N,V,0.00,0.00,0.30,92우4399,2023-02-21 10:23:29,2023,...,A2814,대형,N,38.00,N,15.00,부하검사(LUG DOWN),종합검사,2023-02-22,1
1,2022-11-24,10:06:05,N,V,61.30,0.00,0.80,67너0127,2022-11-24 10:06:05,2022,...,A2826,중형,N,NaN,NaN,NaN,부하검사(KD-147),종합검사,2022-11-30,6
2,2022-10-21,09:48:37,N,V,0.00,0.00,0.30,91도1943,2022-10-21 09:48:37,2022,...,A2809,중형,N,28.00,Y,30.00,부하검사(LUG DOWN),종합검사,2022-10-28,7
3,2022-10-19,11:23:57,N,V,45.00,-0.20,0.80,71부3230,2022-10-19 11:23:57,2022,...,A2826,중형,N,77.00,N,15.00,부하검사(KD-147),종합검사,2022-10-26,7
4,2022-10-27,10:36:50,N,V,47.10,0.80,0.90,96다4987,2022-10-27 10:36:50,2022,...,A2810,소형,N,30.00,N,15.00,부하검사(KD-147),종합검사,2022-11-05,9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
121,2022-10-14,10:38:53,N,V,41.90,0.40,18.30,75보3502,2022-10-14 10:38:53,2022,...,A2826,중형,N,68.00,N,15.00,부하검사(KD-147),종합검사,2023-06-30,259
122,2022-10-24,09:49:58,N,V,35.00,0.90,3.90,16수7292,2022-10-24 09:49:58,2022,...,A2819,중형,N,96.00,N,15.00,부하검사(KD-147),종합검사,2023-07-18,267
123,2022-10-13,10:13:17,N,V,53.60,0.00,0.70,92도8604,2022-10-13 10:13:17,2022,...,A2809,소형,N,NaN,NaN,NaN,부하검사(KD-147),종합검사,2023-07-07,267
124,2022-10-05,09:17:55,N,V,66.90,-20.90,1.10,75어1519,2022-10-05 09:17:55,2022,...,A2826,중형,N,55.00,N,25.00,부하검사(KD-147),종합검사,2023-07-10,278
125,2022-10-24,10:01:02,N,V,47.10,-0.10,0.60,82가4238,2022-10-24 10:01:02,2022,...,A2814,소형,N,17.00,N,15.00,부하검사(KD-147),종합검사,2023-07-31,280

In [352]:
sdf13['차량제작일자'].dtype

dtype('float64')

In [353]:
sdf13['차종'].unique()

array(['화물', '승용', '승합', '특수'], dtype=object)

In [354]:
sdf13['차종유형'].unique()

array(['대형', '중형', '소형'], dtype=object)

In [356]:
sdf13['차량제작일자'].dtype

dtype('float64')

In [355]:
sdf13['차량제작일자'].describe()

count        126.00
mean    20129781.12
std        36050.48
min     20021114.00
25%     20100875.50
50%     20130618.00
75%     20160414.75
max     20191018.00
Name: 차량제작일자, dtype: float64

In [357]:
sdf13['차량제작일자'].isnull().sum()

0

In [363]:
# 5. 차종별 정기 검사 매연 허용치 정보 추가
gas_limit_list = []
for fm, ty, mk in sdf13[['차종', '차종유형', '차량제작일자']].values:
    if fm == '승용' or ty == '경형':
        if mk <= 19951231:
            limit = 60
        elif 19960101 <= mk <= 20001231:
            limit = 55
        elif 20010101 <= mk <= 20031231:
            limit = 45
        elif 20040101 <= mk <= 20071231:
            limit = 40
        elif 20080101 <= mk <= 20160831:
            limit = 20
        else:
            limit = 10

    elif ty == '소형':
        if mk <= 19951231:
            limit = 60
        elif 19960101 <= mk <= 20001231:
            limit = 55
        elif 20010101 <= mk <= 20031231:
            limit = 45
        elif 20040101 <= mk <= 20071231:
            limit = 40
        elif 20080101 <= mk <= 20160831:
            limit = 20
        else:
            limit = 10
    elif ty == '중형':
        if mk <= 19921231:
            limit = 60
        elif 19930101 <= mk <= 19951231:
            limit = 55
        elif 19960101 <= mk <= 19971231:
            limit = 45
        elif 19980101 <= mk <= 20001231:
            limit = 45
        elif 20010101 <= mk <= 20040930:
            limit = 45
        elif 20041001 <= mk <= 20071231:
            limit = 40
        elif 20080101 <= mk <= 20160831:
            limit = 20
        else:
            limit = 10
    elif ty == '대형':
        if mk <= 19921231:
            limit = 60
        elif 19930101 <= mk <= 19951231:
            limit = 55
        elif 19960101 <= mk <= 19971231:
            limit = 45
        elif 19980101 <= mk <= 20001231:
            limit = 45
        elif 20010101 <= mk <= 20040930:
            limit = 45
        elif 20041001 <= mk <= 20071231:
            limit = 40
        else:
            limit = 20
    gas_limit_list.append(limit)

In [364]:
sdf13.shape, len(gas_limit_list)

((126, 43), 126)

In [365]:
sdf13['정기검사_매연배출허용기준'] = gas_limit_list

In [366]:
sdf13['정기검사_매연배출허용기준'].isnull().sum()

0

In [367]:
# 6. 매연 허용치 이상 차량만 추출(해당되는 차량 없음)
sdf13 = sdf13[sdf13['정기검사_매연배출허용기준'] < sdf13['매연']].reset_index(drop=True)
sdf13.shape

(0, 44)

In [368]:
sdf13[['자동차등록번호', '차종', '차종유형', '차량제작일자', '매연', '정기검사_매연배출허용기준']].head()

Empty DataFrame
Columns: [자동차등록번호, 차종, 차종유형, 차량제작일자, 매연, 정기검사_매연배출허용기준]
Index: []

In [ ]:
# 7. 검사판정 == N인 비율
sdf13 = sdf13[sdf13['검사판정'] == 'N'].reset_index(drop=True)
sdf13.shape

## [❌] 14\. 시험일 후 최종검사 부적합 - 원격 매연 값
- 1. 시험날짜 이후 최초 정밀검사 결과가 부적합인 차량 추출
- 2. 원격 매연 값 확인하여 정밀검사의 판정이 적절한지 판정
- 오류-부적합율 : 매연RSD 에서 과다측정된 차량이 검사결과에서 적합 판정을 받은 경우의 수치
    - 과다측정 : 차종별 정기 검사 기준에서 벗어난 매연 값

- 과정
    - 1. 검사판정 == 'N'인 샘플 추출
    - 2. 검사일자(정밀검사) - 검사날짜(원격측정) = 검사날짜차이
    - 3. '검사날짜차이' > 0 인 샘플 추출
    - 4. '검사날짜차이' 내림차순, '자동차등록번호' 기준 중복 제거
    - 5. 차종별 정기 검사 매연 허용치 정보 추가
    - 6. 매연 허용치 이상 차량만 추출(해당되는 차량 없음)
    - 7. 정밀검사 '검사판정' == Y 인 비율

In [222]:
# 1. 검사판정 == 'N'인 샘플 추출
sdf14 = diee[diee['검사판정'] == 'N'].reset_index(drop=True)
sdf14.shape

(1661, 41)

In [145]:
sdf14[['검사날짜', '검사일자']].dtypes

검사날짜    object
검사일자    object
dtype: object

In [146]:
sdf14.head()

         검사날짜   매연  자동차등록번호 검사판정  무부하매연측정치1        검사일자
0  2022-10-04 0.50  81루9582    N        NaN  2016-03-08
1  2022-10-04 0.50  81루9582    N      50.00  2017-03-15
2  2022-10-04 0.50  81루9582    N        NaN  2022-04-05
3  2022-10-04 0.50  81루9582    N        NaN  2020-03-20
4  2022-10-04 0.80  80주7009    N      36.00  2015-07-27

In [147]:
sdf14['검사날짜'] = pd.to_datetime(sdf14['검사날짜'])
sdf14['검사일자'] = pd.to_datetime(sdf14['검사일자'])

In [148]:
sdf14[['검사날짜', '검사일자']].dtypes

검사날짜    datetime64[ns]
검사일자    datetime64[ns]
dtype: object

In [149]:
# 2. 검사일자(정밀검사) - 검사날짜(원격측정) = 검사날짜차이
sdf14['검사날짜차이'] = sdf14['검사일자'] - sdf14['검사날짜']

In [150]:
sdf14.head()

        검사날짜   매연  자동차등록번호 검사판정  무부하매연측정치1       검사일자     검사날짜차이
0 2022-10-04 0.50  81루9582    N        NaN 2016-03-08 -2401 days
1 2022-10-04 0.50  81루9582    N      50.00 2017-03-15 -2029 days
2 2022-10-04 0.50  81루9582    N        NaN 2022-04-05  -182 days
3 2022-10-04 0.50  81루9582    N        NaN 2020-03-20  -928 days
4 2022-10-04 0.80  80주7009    N      36.00 2015-07-27 -2626 days

In [151]:
sdf14['검사날짜차이'] = sdf14['검사날짜차이'].astype('str')
sdf14['검사날짜차이'] = sdf14['검사날짜차이'].str.split(' ').str[0]
sdf14['검사날짜차이'] = pd.to_numeric(sdf14['검사날짜차이'], errors='coerce')

In [152]:
# 3. '검사날짜차이' > 0 인 샘플 추출
sdf14 = sdf14[sdf14['검사날짜차이'] > 0].reset_index(drop=True)
sdf14.shape

(174, 7)

In [153]:
# 4. '검사날짜차이' 오름차순, '자동차등록번호' 기준 중복 제거
sdf14 = sdf14.sort_values('검사날짜차이', ascending=False).drop_duplicates('자동차등록번호').reset_index(drop=True)
sdf14

          검사날짜   매연    자동차등록번호 검사판정  무부하매연측정치1       검사일자  검사날짜차이
0   2022-10-05 5.70  경기76아1104    N      38.00 2023-07-19     287
1   2022-10-24 0.60    82가4238    N      17.00 2023-07-31     280
2   2022-10-05 6.60  경기76아1131    N        NaN 2023-07-12     280
3   2022-10-05 1.10    75어1519    N      55.00 2023-07-10     278
4   2022-11-02 0.40    40버5603    N      42.00 2023-07-28     268
..         ...  ...        ...  ...        ...        ...     ...
121 2022-10-27 0.90    96다4987    N      30.00 2022-11-05       9
122 2022-10-21 0.30    91도1943    N      28.00 2022-10-28       7
123 2022-10-19 0.80    71부3230    N      77.00 2022-10-26       7
124 2022-11-24 0.80    67너0127    N        NaN 2022-11-30       6
125 2023-02-21 0.30    92우4399    N      38.00 2023-02-22       1

[126 rows x 7 columns]

In [ ]:
sdf14['차량제작일자'].dtype

dtype('float64')

In [ ]:
sdf14['차종'].unique()

array(['화물', '승용', '승합', '특수'], dtype=object)

In [ ]:
sdf14['차종유형'].unique()

array(['대형', '중형', '소형'], dtype=object)

In [ ]:
sdf14['차량제작일자'].dtype

dtype('float64')

In [ ]:
sdf14['차량제작일자'].describe()

count        126.00
mean    20129781.12
std        36050.48
min     20021114.00
25%     20100875.50
50%     20130618.00
75%     20160414.75
max     20191018.00
Name: 차량제작일자, dtype: float64

In [ ]:
sdf14['차량제작일자'].isnull().sum()

0

In [ ]:
# 5. 차종별 정기 검사 매연 허용치 정보 추가
gas_limit_list = []
for fm, ty, mk in sdf14[['차종', '차종유형', '차량제작일자']].values:
    if fm == '승용' or ty == '경형':
        if mk <= 19951231:
            limit = 60
        elif 19960101 <= mk <= 20001231:
            limit = 55
        elif 20010101 <= mk <= 20031231:
            limit = 45
        elif 20040101 <= mk <= 20071231:
            limit = 40
        elif 20080101 <= mk <= 20160831:
            limit = 20
        else:
            limit = 10

    elif ty == '소형':
        if mk <= 19951231:
            limit = 60
        elif 19960101 <= mk <= 20001231:
            limit = 55
        elif 20010101 <= mk <= 20031231:
            limit = 45
        elif 20040101 <= mk <= 20071231:
            limit = 40
        elif 20080101 <= mk <= 20160831:
            limit = 20
        else:
            limit = 10
    elif ty == '중형':
        if mk <= 19921231:
            limit = 60
        elif 19930101 <= mk <= 19951231:
            limit = 55
        elif 19960101 <= mk <= 19971231:
            limit = 45
        elif 19980101 <= mk <= 20001231:
            limit = 45
        elif 20010101 <= mk <= 20040930:
            limit = 45
        elif 20041001 <= mk <= 20071231:
            limit = 40
        elif 20080101 <= mk <= 20160831:
            limit = 20
        else:
            limit = 10
    elif ty == '대형':
        if mk <= 19921231:
            limit = 60
        elif 19930101 <= mk <= 19951231:
            limit = 55
        elif 19960101 <= mk <= 19971231:
            limit = 45
        elif 19980101 <= mk <= 20001231:
            limit = 45
        elif 20010101 <= mk <= 20040930:
            limit = 45
        elif 20041001 <= mk <= 20071231:
            limit = 40
        else:
            limit = 20
    gas_limit_list.append(limit)

In [ ]:
sdf14.shape, len(gas_limit_list)

((126, 43), 126)

In [ ]:
sdf14['정기검사_매연배출허용기준'] = gas_limit_list

In [ ]:
sdf14['정기검사_매연배출허용기준'].isnull().sum()

0

In [ ]:
# 6. 매연 허용치 이상 차량만 추출(해당되는 차량 없음)
sdf14 = sdf14[sdf14['정기검사_매연배출허용기준'] < sdf14['매연']].reset_index(drop=True)
sdf14.shape

(0, 44)

In [ ]:
sdf14[['자동차등록번호', '차종', '차종유형', '차량제작일자', '매연', '정기검사_매연배출허용기준']].head()

Empty DataFrame
Columns: [자동차등록번호, 차종, 차종유형, 차량제작일자, 매연, 정기검사_매연배출허용기준]
Index: []

In [ ]:
# 7. 검사판정 == N인 비율
sdf14 = sdf14[sdf14['검사판정'] == 'N'].reset_index(drop=True)
sdf14.shape

## 15\. 차종별 매연 농도 분포
- 차종별 매연값 평균

In [220]:
grp15 = die.groupby(['차종'], dropna=False)['매연'].mean().reset_index()
grp15

   차종   매연
0  승용 1.93
1  승합 2.78
2  특수 1.12
3  화물 1.21

## 16\. 연식별 매연 농도 분포
- 연식별 매연값 평균

In [369]:
grp16 = die.groupby(['차량연식'], dropna=False)['매연'].mean().reset_index()
grp16

      차량연식   매연
0  1990.00 0.20
1  1993.00 4.00
2  1998.00 1.55
3  2001.00 0.90
4  2002.00 0.88
5  2003.00 3.35
6  2004.00 1.33
7  2005.00 3.14
8  2006.00 3.18
9  2007.00 2.36
10 2008.00 3.09
11 2009.00 2.90
12 2010.00 2.10
13 2011.00 2.44
14 2012.00 1.61
15 2013.00 1.73
16 2014.00 1.90
17 2015.00 1.83
18 2016.00 1.71
19 2017.00 1.69
20 2018.00 1.48
21 2019.00 1.50
22 2020.00 1.51
23 2021.00 1.76
24 2022.00 1.03
25 2023.00 1.31

## 17\. 배기량별 매연 농도 분포
- 배기량별 매연값 평균

In [370]:
grp17 = die.groupby(['배기량'], dropna=False)['매연'].mean().reset_index()
grp17

        배기량   매연
0   1422.00 0.35
1   1461.00 0.94
2   1493.00 0.83
3   1496.00 0.62
4   1499.00 1.23
..      ...  ...
69 12344.00 0.63
70 12742.00 1.48
71 12882.00 0.00
72 12920.00 0.00
73 16031.00 2.10

[74 rows x 2 columns]

## 18\. 차량중량별 매연 농도 분포
- 총중량별 매연값 평균
- 5구간으로 구분

In [372]:
die.loc[die['총중량'] > 30000].shape

(7, 35)

In [374]:
die.loc[(die['총중량'] > 20000) | (die['총중량'] < 30000)].shape

(9037, 35)

In [375]:
div = 8000
for i in range(5):
    die.loc[(die['총중량'] > i*div) & (die['총중량'] < (i+1)*div), '총중량구간'] = f'{i*div}이상 {(i+1)*div}미만'

In [376]:
grp18 = die.groupby(['총중량구간'], dropna=False)['매연'].mean().reset_index()
grp18

             총중량구간   매연
0       0이상 8000미만 1.68
1  16000이상 24000미만 2.16
2  24000이상 32000미만 0.40
3  32000이상 40000미만 1.64
4   8000이상 16000미만 1.72

## 19\. 종합검사 매연허용기준별 분포
- 정밀검사(종합검사)의 무부하매연허용치1별 매연값 평균

In [377]:
grp19 = diee.groupby(['무부하매연허용치1'], dropna=False)['매연'].mean().reset_index()
grp19

    무부하매연허용치1   매연
0        0.49 0.90
1        8.00 1.50
2       10.00 1.42
3       15.00 1.95
4       20.00 1.81
5       25.00 2.51
6       30.00 1.30
7       35.00 1.70
8       40.00 1.93
9       45.00 2.66
10      50.00 0.70
11      55.00 4.00
12      60.00 1.11
13      70.00 4.00
14        NaN 1.54

## 20\. 차종+연식별 매연농도 분포
- 차종, 차량연식별 매연 값 평균

In [378]:
grp20 = die.groupby(['차종', '차량연식'], dropna=False)['매연'].mean().reset_index()
grp20

    차종    차량연식   매연
0   승용 1998.00 1.70
1   승용 2001.00 0.90
2   승용 2002.00 1.47
3   승용 2003.00 4.55
4   승용 2004.00 1.74
..  ..     ...  ...
76  화물 2019.00 1.20
77  화물 2020.00 0.79
78  화물 2021.00 1.03
79  화물 2022.00 0.72
80  화물 2023.00 1.06

[81 rows x 3 columns]

## 21\. 차종 + 연식 + 배기량별 매연농도 분포
- 차종, 연식, 배기량별 매연 값 평균

In [379]:
grp21 = die.groupby(['차종', '차량연식', '배기량'], dropna=False)['매연'].mean().reset_index()
grp21

     차종    차량연식     배기량    매연
0    승용 1998.00 2874.00  1.70
1    승용 2001.00 2476.00  0.90
2    승용 2002.00 1991.00  2.90
3    승용 2002.00 2497.00  0.70
4    승용 2002.00 2874.00  0.80
..   ..     ...     ...   ...
502  화물 2023.00 2497.00  0.67
503  화물 2023.00 3933.00  0.52
504  화물 2023.00 4485.00  0.43
505  화물 2023.00 6728.00 16.30
506  화물 2023.00 6798.00  1.30

[507 rows x 4 columns]

## 22\. 엔진형식별 분포
- 엔진형식별 매연 값 평균

In [380]:
grp22 = die.groupby(['엔진형식'], dropna=False)['매연'].mean().reset_index()
grp22

      엔진형식   매연
0    204DT 2.76
1    224DT 2.47
2    276DT 0.70
3    306D3 1.67
4    306DT 0.89
..     ...  ...
185      Y 5.30
186   YH01 1.23
187  Z20D1 1.00
188   Z20S 2.39
189  Z22D1 1.40

[190 rows x 2 columns]

## 23\. 차량제작사별 분포
- 제작사명별 매연 값 평균

In [381]:
grp23 = die.groupby(['제작사명'], dropna=False)['매연'].mean().reset_index()
grp23

           제작사명   매연
0      (유)동양특장차 0.40
1       (주) 골드밴 0.40
2   (주) 삼오특장자동차 0.50
3     (주) 에이엠특장 0.30
4        (주) 오텍 0.45
..          ...  ...
87   한국쓰리축공업(주) 0.60
88    한국특장기술(주) 0.67
89     한불모터스(주) 1.20
90         한신특장 0.40
91     현대자동차(주) 1.76

[92 rows x 2 columns]

## 결과 출력

In [ ]:
with pd.ExcelWriter(os.path.join(an_fold, '다차선_측정결과_분석({today_date}).xlsx')) as writer:
    grp1.to_excel(sheetname='1_일자별_측정건수', index=False)
    grp2.to_excel(sheetname='2_시간대별_측정건수', index=False)
    grp3.to_excel(sheetname='3_요일별_측정건수', index=False)
    # grp4.to_excel(sheetname='4_차선별_측정건수', index=False) # 데이터 부재
    grp5.to_excel(sheetname='5_차종별_측정건수', index=False)
    grp6.to_excel(sheetname='6_매연측정_통계', index=False)
    # grp7.to_excel(sheetname='7_차선별_매연측정_통계', index=False) # 데이터 부재
    grp8.to_excel(sheetname='8_속도별_매연측정_통계', index=False)
    grp9.to_excel(sheetname='9_매연농도별_측정건수_비율', index=False)
    # grp10.to_excel(sheetname='10_차선별_매연측정통계', index=False) # 7번과 동일
    # grp11.to_excel(sheetname='11_속도별_매연측정_통계', index=False) # 8번과 동일
    grp12.to_excel(sheetname='12_매연농도_상위10%의_정밀검사_결과', index=False) # 사용할 검사 미정
    # grp13.to_excel(sheetname='13_시험일_후_최초검사_부적합', index=False) # 해당되는 차량 없음
    # grp14.to_excel(sheetname='14_시험일_후_최종검사_부적합', index=False) # 해당되는 차량 없음
    grp15.to_excel(sheetname='15_차종별_매연_농도_분포', index=False)
    grp16.to_excel(sheetname='16_연식별-매연_농도_분포', index=False)
    grp17.to_excel(sheetname='17_배기량별_매연_농도_분포', index=False)
    grp18.to_excel(sheetname='18_차량중량별_매연_농도_분포', index=False)
    grp19.to_excel(sheetname='19_종합검사_매연허용기준별_분포', index=False)
    grp20.to_excel(sheetname='20_차종_연식별_매연_농도_분포', index=False)
    grp21.to_excel(sheetname='21_차종_연식_배기량별_매연_농도_분포', index=False)
    grp22.to_excel(sheetname='22_엔진형식별_분포', index=False)
    grp23.to_excel(sheetname='23_차량제작사별_분포', index=False)

In [72]:
sec = time.time() - start_time
print(str(dt.timedelta(seconds=sec)).split('.')[0])

0:00:47

# End