# Library

In [114]:
import pandas as pd
import numpy as np
import os
import datetime as dt
import time

In [115]:
pd.options.display.float_format = '{:.2f}'.format
# pd.reset_option('display.float_format')

In [116]:
start_time = time.time()

# Fold

In [117]:
raw_fold = 'D:/data/multi_road/raw'

# Load

## 원격측정정보

In [118]:
rsd_cdict = {
    'vdfDateTime':'검사날짜',
    'vdfTime':'검사시간',
    'vdfRecordStatus':'기록상태',
    'vdfValid':'유효',
    'samSpeed':'속도',
    'samAccel':'가속도',
    # 'samFlag':'플래그',
    'Smoke':'매연',
    'V_PLATE':'자동차등록번호',
}
len(rsd_cdict)

8

In [119]:
# # 18s
# name = '매연RSD 도로측정데이터_20221004~20230330'
# file_name = f'{name}.xlsx'
# rsd = pd.read_excel(os.path.join(raw_fold, file_name))

# 1s
name = '매연RSD 도로측정데이터_20221004~20230330'
file_name = f'{name}.csv'
rsd = pd.read_csv(os.path.join(raw_fold, file_name), usecols=rsd_cdict.keys())
rsd.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31633 entries, 0 to 31632
Data columns (total 8 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   vdfDateTime      31633 non-null  object
 1   vdfTime          31633 non-null  object
 2   vdfRecordStatus  31633 non-null  object
 3   vdfValid         31633 non-null  object
 4   samSpeed         31615 non-null  float64
 5   samAccel         31615 non-null  float64
 6   Smoke            31633 non-null  float64
 7   V_PLATE          31498 non-null  object
dtypes: float64(3), object(5)
memory usage: 1.9+ MB

In [120]:
rsdr = rsd.rename(columns=rsd_cdict)
rsdr.columns

Index(['검사날짜', '검사시간', '기록상태', '유효', '속도', '가속도', '매연', '자동차등록번호'], dtype='object')

### [출력] csv

In [121]:
# # 1s
# rsd.to_csv(os.path.join(raw_fold, f'{name}.csv'), index=False)

## 등록정보

In [122]:
car_cdict = {
    'VIN':'차대번호', 
    # 'BSPL_STDG_CD':'법정동코드', 
    'EXHST_GAS_GRD_CD':'배출가스등급', 
    'EXHST_GAS_CERT_NO':'배출가스인증번호',
    'VHCL_ERSR_YN':'차량말소YN',
    'MANP_MNG_NO':'제원관리번호', 
    'YRIDNW':'차량연식', 
    'VHCTY_CD':'차종', 
    # 'PURPS_CD2':'용도', 
    'FRST_REG_YMD':'최초등록일자',
    # 'VHCL_MNG_NO':'차량관리번호', 
    'VHRNO':'자동차등록번호',
    # 'VHCL_OWNR_CL_CD':'소유자구분',  
}
len(car_cdict)

9

In [123]:
# 2m 30s
name = 'STD_CEG_CAR_MIG(20230821)'
file_name = f'{name}.csv'
car = pd.read_csv(os.path.join(raw_fold, file_name), usecols=car_cdict.keys())
car.info()

C:\Users\kbjung\AppData\Local\Temp\ipykernel_7464\2069508936.py:4: DtypeWarning: Columns (8) have mixed types. Specify dtype option on import or set low_memory=False.
  car = pd.read_csv(os.path.join(raw_fold, file_name), usecols=car_cdict.keys())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30625663 entries, 0 to 30625662
Data columns (total 9 columns):
 #   Column             Dtype
---  ------             -----
 0   EXHST_GAS_CERT_NO  object
 1   EXHST_GAS_GRD_CD   object
 2   FRST_REG_YMD       object
 3   MANP_MNG_NO        object
 4   VHCL_ERSR_YN       object
 5   YRIDNW             int64
 6   VHCTY_CD           object
 7   VIN                object
 8   VHRNO              object
dtypes: int64(1), object(8)
memory usage: 2.1+ GB

In [124]:
carr = car.rename(columns=car_cdict)
carr.columns

Index(['배출가스인증번호', '배출가스등급', '최초등록일자', '제원관리번호', '차량말소YN', '차량연식', '차종',
       '차대번호', '자동차등록번호'],
      dtype='object')

## 제원정보

In [125]:
src_cdict = {
    'MANP_MNG_NO':'제원관리번호', 
    'FUEL_CD':'연료',
    # 'VHCTY_CD':'차종', 
    'VHCTY_TY_CD2':'차종유형', 
    'MNFCTR_NM':'제작사명', 
    'VHCNM':'차명', 
    'VHCL_FRM':'자동차형식', 
    'EGIN_TY':'엔진형식', 
    'VHCTY_CL_CD':'차종분류',
    'TOTL_WGHT':'총중량',
    # 'CRYNG_WGHT':'적재중량',
    'DSPLVL':'배기량', 
    'EGIN_OTPT':'엔진출력', 
}
len(src_cdict)

11

In [126]:
# 2s
name = 'STD_CEG_CAR_SRC_MIG(20230821)'
file_name = f'{name}.csv'
src = pd.read_csv(os.path.join(raw_fold, file_name), usecols=src_cdict.keys())
src.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 566615 entries, 0 to 566614
Data columns (total 11 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   VHCL_FRM      536460 non-null  object
 1   DSPLVL        530949 non-null  float64
 2   EGIN_OTPT     491335 non-null  float64
 3   EGIN_TY       517013 non-null  object
 4   FUEL_CD       545937 non-null  object
 5   MNFCTR_NM     559794 non-null  object
 6   MANP_MNG_NO   566615 non-null  object
 7   TOTL_WGHT     563088 non-null  float64
 8   VHCNM         566544 non-null  object
 9   VHCTY_CL_CD   551140 non-null  object
 10  VHCTY_TY_CD2  553038 non-null  object
dtypes: float64(3), object(8)
memory usage: 47.6+ MB

In [127]:
srcr = src.rename(columns=src_cdict)
srcr.columns

Index(['자동차형식', '배기량', '엔진출력', '엔진형식', '연료', '제작사명', '제원관리번호', '총중량', '차명',
       '차종분류', '차종유형'],
      dtype='object')

## 정밀검사

In [128]:
eet_cdict = {
    'VIN':'차대번호', 
    'PRCINSP_JGMT':'검사판정', 
    'PREC_NLOD_SMO_MSTVL1':'무부하매연측정치1', 
    'PREC_NLOD_SMO_JT_YN1':'무부하매연판정1', 
    'PREC_NLOD_SMO_PRMVL1':'무부하매연허용치1', 
    'PRCINSP_MSRMT_MTHD_CD':'검사방법', 
    'PRCINSP_KND_CD':'검사종류', 
    'PRCINSP_YMD':'검사일자',
    # 'PRCINSP_DRVNG_DSTNC':'주행거리', 
}
len(eet_cdict)

8

In [129]:
# 2m
name = 'STD_TB_EET_HIS_ME(20230825)'
file_name = f'{name}.csv'
eet = pd.read_csv(os.path.join(raw_fold, file_name), usecols=eet_cdict.keys())
eet.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 102191938 entries, 0 to 102191937
Data columns (total 8 columns):
 #   Column                 Dtype
---  ------                 -----
 0   VIN                    object
 1   PRCINSP_JGMT           object
 2   PREC_NLOD_SMO_MSTVL1   float64
 3   PREC_NLOD_SMO_JT_YN1   object
 4   PREC_NLOD_SMO_PRMVL1   float64
 5   PRCINSP_MSRMT_MTHD_CD  object
 6   PRCINSP_KND_CD         object
 7   PRCINSP_YMD            int64
dtypes: float64(2), int64(1), object(5)
memory usage: 6.1+ GB

In [130]:
# 12s
eetr = eet.rename(columns=eet_cdict)
eetr.columns

Index(['차대번호', '검사판정', '무부하매연측정치1', '무부하매연판정1', '무부하매연허용치1', '검사방법', '검사종류',
       '검사일자'],
      dtype='object')

# Preprocessing

## 원격측정정보

In [131]:
rsdr.columns

Index(['검사날짜', '검사시간', '기록상태', '유효', '속도', '가속도', '매연', '자동차등록번호'], dtype='object')

In [132]:
rsdr['자동차등록번호'].head()

0    60저3406
1    41구0483
2    80러0579
3    94누0128
4    60수4386
Name: 자동차등록번호, dtype: object

In [133]:
rsdr.shape, len(rsdr['자동차등록번호'].unique())

((31633, 8), 18131)

In [134]:
rsdr['자동차등록번호'].isnull().sum()

135

In [135]:
rsdr[rsdr['자동차등록번호'] == '********'].shape

(9741, 8)

In [136]:
# A(Audit(검증)), C(Calibration), N(일반측정상태)
rsdr['기록상태'].value_counts(dropna=False)

기록상태
N    31615
C        9
A        9
Name: count, dtype: int64

In [137]:
rsdr['유효'].value_counts(dropna=False)

유효
V    31615
x       18
Name: count, dtype: int64

In [138]:
rsdr.loc[rsdr['기록상태'] == 'N', '유효'].value_counts(dropna=False)

유효
V    31615
Name: count, dtype: int64

In [139]:
rsdr = rsdr[(rsdr['기록상태'] == 'N') & (rsdr['자동차등록번호'] != '********') & (rsdr['자동차등록번호'].isnull() == False)].reset_index(drop=True)
rsdr.shape

(21757, 8)

In [140]:
rsdr[['속도', '가속도', '매연']].describe()

            속도      가속도       매연
count 21757.00 21757.00 21757.00
mean     49.15     0.02     1.39
std      43.31    10.70     2.92
min       0.00  -325.50     0.00
25%      43.30     0.00     0.30
50%      50.20     0.10     0.50
75%      56.30     0.40     0.90
max    2244.50   314.10    19.90

In [141]:
rsdr[['검사날짜', '검사시간']].head()

         검사날짜      검사시간
0  10-04-2022  10:31:20
1  10-04-2022  10:31:46
2  10-04-2022  10:31:58
3  10-04-2022  10:32:47
4  10-04-2022  10:34:03

In [142]:
rsdr[['검사날짜', '검사시간']].isnull().sum()

검사날짜    0
검사시간    0
dtype: int64

In [143]:
rsdr[['검사날짜', '검사시간']].dtypes

검사날짜    object
검사시간    object
dtype: object

In [144]:
rsdr['검사날짜시간'] = rsdr['검사날짜'] + ' ' + rsdr['검사시간']
rsdr['검사날짜시간']= pd.to_datetime(rsdr['검사날짜시간'])
rsdr['검사날짜시간'].head()

0   2022-10-04 10:31:20
1   2022-10-04 10:31:46
2   2022-10-04 10:31:58
3   2022-10-04 10:32:47
4   2022-10-04 10:34:03
Name: 검사날짜시간, dtype: datetime64[ns]

In [145]:
rsdr['검사날짜'] = pd.to_datetime(rsdr['검사날짜'])

In [146]:
rsdr['검사날짜시간_년'] = rsdr['검사날짜시간'].dt.year
rsdr['검사날짜시간_월'] = rsdr['검사날짜시간'].dt.month
rsdr['검사날짜시간_일'] = rsdr['검사날짜시간'].dt.day
rsdr['검사날짜시간_시'] = rsdr['검사날짜시간'].dt.hour
rsdr['검사날짜시간_분'] = rsdr['검사날짜시간'].dt.minute
rsdr['검사날짜시간_초'] = rsdr['검사날짜시간'].dt.second
rsdr['검사날짜시간_요일'] = rsdr['검사날짜시간'].dt.weekday.map({0:'월', 1:'화', 2:'수', 3:'목', 4:'금', 5:'토', 6:'일'})

In [147]:
rsdr.head()

,검사날짜,검사시간,기록상태,유효,속도,가속도,매연,자동차등록번호,검사날짜시간,검사날짜시간_년,검사날짜시간_월,검사날짜시간_일,검사날짜시간_시,검사날짜시간_분,검사날짜시간_초,검사날짜시간_요일
0,2022-10-04,10:31:20,N,V,71.60,0.00,0.60,60저3406,2022-10-04 10:31:20,2022,10,4,10,31,20,화
1,2022-10-04,10:31:46,N,V,60.70,0.00,0.80,41구0483,2022-10-04 10:31:46,2022,10,4,10,31,46,화
2,2022-10-04,10:31:58,N,V,50.60,0.40,0.70,80러0579,2022-10-04 10:31:58,2022,10,4,10,31,58,화
3,2022-10-04,10:32:47,N,V,53.30,1.40,0.90,94누0128,2022-10-04 10:32:47,2022,10,4,10,32,47,화
4,2022-10-04,10:34:03,N,V,36.10,0.50,0.70,60수4386,2022-10-04 10:34:03,2022,10,4,10,34,3,화

In [148]:
rsdr['검사날짜시간_요일'].unique()

array(['화', '수', '목', '금', '월'], dtype=object)

## 등록정보

In [149]:
carr['차량말소YN'].value_counts(dropna=False)

차량말소YN
N    25795579
Y     4830084
Name: count, dtype: int64

In [150]:
# 9s
# 말소 제거
carr = carr[carr['차량말소YN'] == 'N'].reset_index(drop=True)
carr.shape

(25795579, 9)

In [151]:
carr['최초등록일자'].dtype

dtype('O')

In [152]:
# 6s
# 최초등록일자 숫자형으로 변환
carr['최초등록일자'] = pd.to_numeric(carr['최초등록일자'], errors='coerce')

In [153]:
carr.shape

(25795579, 9)

In [154]:
# 1m 7s
# 중복 차대번호 제거(최신 최초등록일자 남기기)
carr = carr.sort_values('최초등록일자', ascending=False).drop_duplicates('차대번호').reset_index(drop=True)
carr.shape

(25795319, 9)

In [155]:
# 11s
# 배출가스등급 코드 변환
grd_dict = {
    'A0501':'1', 
    'A0502':'2', 
    'A0503':'3', 
    'A0504':'4', 
    'A0505':'5', 
    'A05T2':'2',
    'A05T3':'3', 
    'A05T4':'4', 
    'A05T5':'5', 
    'A05X':'X', 
}
carr['배출가스등급'] = carr['배출가스등급'].replace(grd_dict)
carr['배출가스등급'].unique()

array(['2', '1', nan, '3', '5', '4'], dtype=object)

In [156]:
# 7s
# 차종 코드 변환
cd_dict = {
    'A31M':'이륜', 
    'A31P':'승용', 
    'A31S':'특수', 
    'A31T':'화물', 
    'A31V':'승합'
}
carr['차종'] = carr['차종'].replace(cd_dict)
carr['차종'].unique()

array(['승용', '화물', '특수', '승합'], dtype=object)

In [157]:
# ## 용도 코드 변환
# purps_dict = {
#     'A08P':'개인용', 
#     'A08B':'영업용', 
#     'A08O':'관용',
# }
# carr['용도'] = carr['용도'].replace(purps_dict)
# carr['용도'].unique()

In [158]:
# ## 소유자구분 코드 변환
# ownr_dict = {
#     'A27B':'사업자', 
#     'A27F':'외국인', 
#     'A27L':'법인', 
#     'A27O':'기타', 
#     'A27R':'주민', 
# }
# carr['소유자구분'] = carr['소유자구분'].replace(ownr_dict)
# carr['소유자구분'].unique()

## 제원정보

In [159]:
## 연료 코드 변환
fuel_dict = {
    'A90GS':'휘발유', 
    'A91DS':'경유',
    'A92LP':'LPG(액화석유가스)', 
    'A90GH':'휘발유 하이브리드', 
    'A93EV':'전기', 
    'A91DH':'경유 하이브리드', 
    'A92CN':'CNG(압축천연가스)', 
    'A93HD':'수소', 
    'A92LH':'LPG 하이브리드', 
    'A94OT':'기타연료', 
    'A92CH':'CNG 하이브리드',
    'A90AC':'알코올', 
    'A93SH':'태양열', 
    'A91KS':'등유', 
    'A92LN':'LNG(액화천연가스)', 
    'A90PH':'플러그인 하이브리드', 
}
srcr['연료'] = srcr['연료'].replace(fuel_dict)
srcr['연료'].unique()

array(['휘발유', '경유', '기타연료', 'LPG(액화석유가스)', nan, '휘발유 하이브리드',
       'CNG(압축천연가스)', '등유', '태양열', '경유 하이브리드', '전기', '알코올', 'LPG 하이브리드',
       '수소', 'LNG(액화천연가스)', 'CNG 하이브리드'], dtype=object)

In [160]:
# # 7s
# # 차종 코드 변환
# cd_dict = {
#     'A31M':'이륜', 
#     'A31P':'승용', 
#     'A31S':'특수', 
#     'A31T':'화물', 
#     'A31V':'승합'
# }
# srcr['차종'] = srcr['차종'].replace(cd_dict)
# srcr['차종'].unique()

In [161]:
## 차종유형 코드 변환
ty_dict = {
    'A30C':'경형', 
    'A30L':'대형', 
    'A30M':'중형', 
    'A30S':'소형',
}
srcr['차종유형'] = srcr['차종유형'].replace(ty_dict)
srcr['차종유형'].unique()

array(['대형', '중형', '소형', '경형', nan], dtype=object)

## 정밀검사

In [162]:
eetr.shape

(102191938, 8)

In [163]:
# # 최근 검사만 활용
# # 4m 14.3s
# eetm = eetr.sort_values('검사일자', ascending=False).drop_duplicates('차대번호').reset_index(drop=True)
# eetm.shape

In [164]:
## 검사종류 코드 변환
# 27.5s
knd_dict = {
    'A21P01':'정밀검사', 
    'A1904':'정기검사', 
    'A21T06':'종합검사(경과)', 
    'A21T05':'종합검사', 
    'A21S01':'특정검사', 
    'A1902':'재검사(2부재검사)',
    'A21R02':'2부재검사(종합)', 
    'A21P02':'정밀검사(경과)', 
    'A1903':'정기(경과)검사', 
    'A21S04':'특정재검사(배출)', 
    'A21E01':'배출재검사', 
    'A21R01':'1부재검사(종합)',
    'A21C02':'구조변경검사', 
    'A21002':'관능재검사(임시)', 
    'A21S03':'특정재검사(관능)', 
    'A21S02':'특정검사(경과)', 
    'A1901':'재검사(1부재검사)', 
    'A21T02':'종합(정밀)',
    'A21E02':'배출재검사(구변)', 
    'A21T01':'종합(경과:정밀)', 
    'A21T04':'종합(정밀) 2부재검사', 
    'A21001':'관능재검사', 
    'A21T03':'종합(정밀) 1부재검사', 
    'A21TMP':'임시검사', 
}
eetr['검사종류'] = eetr['검사종류'].replace(knd_dict)
eetr['검사종류'].unique()

array(['종합검사', '2부재검사(종합)', '종합검사(경과)', '1부재검사(종합)', '배출재검사', '정밀검사(경과)',
       '정밀검사', '관능재검사', '특정검사', '구조변경검사', '배출재검사(구변)', nan, '특정검사(경과)',
       '특정재검사(관능)', '특정재검사(배출)', '종합(정밀) 2부재검사', '종합(정밀)', '종합(정밀) 1부재검사',
       '종합(경과:정밀)', 'A21C01', '임시검사', '관능재검사(임시)', 'A21E03', 'A21R06',
       'A21R05', 'A21R03', 'A21R04'], dtype=object)

In [165]:
## 검사방법 코드 변환
# 14.9s
mth_dict = {
    'A18A':'무부하검사(TSI)', 
    'A18B':'무부하검사(급가속)', 
    'A18C':'무부하검사(정지가동)',
    'A2301':'무부하검사(급가속)', 
    'A2302':'무부하검사(정지가동)',
    'A2303':'무부하검사(TSI)', 
    'A2304':'부하검사(LUG DOWN)', 
    'A2305':'부하검사(ASM-Idling)', 
    'A2306':'부하검사(KD-147)', 
    'A2307':'부하검사(ASM2525)', 
}
eetr['검사방법'] = eetr['검사방법'].replace(mth_dict)
eetr['검사방법'].unique()

array(['부하검사(ASM-Idling)', '부하검사(KD-147)', '무부하검사(급가속)', '부하검사(LUG DOWN)',
       '무부하검사(TSI)', '무부하검사(정지가동)', '부하검사(ASM2525)', nan], dtype=object)

In [166]:
# 2.1s
eetr['검사일자'] = pd.to_datetime(eetr['검사일자'], format="%Y%m%d")

In [167]:
eetr['검사일자'].head()

0   2023-04-22
1   2023-04-22
2   2023-04-22
3   2023-04-22
4   2023-04-22
Name: 검사일자, dtype: datetime64[ns]

## 원격&등록

In [168]:
rsdr.shape

(21757, 16)

In [169]:
# 34s
rc = rsdr.merge(carr, on='자동차등록번호', how='left')
rc.shape

(21757, 24)

In [170]:
rc['차대번호'].isnull().sum()

1132

In [171]:
# rc.loc[(rc['차대번호'].isnull() == True) & (rc['자동차등록번호'] == '********')].shape
# (9741, 24)

In [172]:
# 10990 - 9741
# 1249

## 원격&등록&제원

In [173]:
rcs = rc.merge(srcr, on='제원관리번호', how='left')
rcs.shape

(21757, 34)

### 경유차만 추출

In [175]:
rcs['연료'].value_counts(dropna=False)

연료
경유             9037
휘발유            7838
LPG(액화석유가스)    1985
휘발유 하이브리드      1175
NaN            1144
전기              442
경유 하이브리드         48
CNG(압축천연가스)      33
수소               27
기타연료             17
LPG 하이브리드        11
Name: count, dtype: int64

In [176]:
rcs = rcs[rcs['연료'] == '경유'].reset_index(drop=True)
rcs.shape

(9037, 34)

### [출력] 원격&등록&제원

In [177]:
today_date = dt.datetime.today().strftime("%Y%m%d")
today_date

'20230829'

In [182]:
# 1s
file_name = f'원격_등록_제원({today_date}).csv'
rcs.to_csv(os.path.join(raw_fold, file_name), index=False)

## 원격&등록&제원&정밀

In [179]:
# 2m
rcse = rcs.merge(eetr, on='차대번호', how='left')
rcse.shape

(24124, 41)

### 경유차만 추출

In [180]:
rcse['연료'].value_counts(dropna=False)

연료
경유    24124
Name: count, dtype: int64

In [181]:
rcse = rcse[rcse['연료'] == '경유'].reset_index(drop=True)
rcse.shape

(24124, 41)

### [출력] 원격&등록&제원&정밀

In [183]:
# 1s
file_name = f'원격_등록_제원_정밀({today_date}).csv'
rcse.to_csv(os.path.join(raw_fold, file_name), index=False)

# Load csv

## 원격&등록&제원

In [5]:
# name = '원격_등록_제원(20230825)'
# file_name = f'{name}.csv'
# rcs = pd.read_csv(os.path.join(raw_fold, file_name))
# rcs.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21757 entries, 0 to 21756
Data columns (total 34 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   검사날짜       21757 non-null  object
 1   검사시간       21757 non-null  object
 2   기록상태       21757 non-null  object
 3   유효         21757 non-null  object
 4   속도         21757 non-null  float64
 5   가속도        21757 non-null  float64
 6   매연         21757 non-null  float64
 7   자동차등록번호    21757 non-null  object
 8   검사날짜시간     21757 non-null  object
 9   검사날짜시간_년   21757 non-null  int64
 10  검사날짜시간_월   21757 non-null  int64
 11  검사날짜시간_일   21757 non-null  int64
 12  검사날짜시간_시   21757 non-null  int64
 13  검사날짜시간_분   21757 non-null  int64
 14  검사날짜시간_초   21757 non-null  int64
 15  검사날짜시간_요일  21757 non-null  object
 16  배출가스인증번호   19090 non-null  object
 17  배출가스등급     20043 non-null  float64
 18  최초등록일자     20625 non-null  float64
 19  제원관리번호     20625 non-null  object
 20  차량말소YN     20625 non-null  object
 21  차량연식       20625 non-null  float64
 22  차종         20625 non-null  object
 23  차대번호       20625 non-null  object
 24  자동차형식      20625 non-null  object
 25  배기량        20596 non-null  float64
 26  엔진출력       20596 non-null  float64
 27  엔진형식       20613 non-null  object
 28  연료         20613 non-null  object
 29  제작사명       20625 non-null  object
 30  총중량        20625 non-null  float64
 31  차명         20625 non-null  object
 32  차종분류       20625 non-null  object
 33  차종유형       20625 non-null  object
dtypes: float64(9), int64(6), object(19)
memory usage: 5.6+ MB

## 원격&등록&제원&정밀

In [6]:
# name = '원격_등록_제원_정밀(20230825)'
# file_name = f'{name}.csv'
# rcse = pd.read_csv(os.path.join(raw_fold, file_name))
# rcse.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48043 entries, 0 to 48042
Data columns (total 41 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   검사날짜       48043 non-null  object
 1   검사시간       48043 non-null  object
 2   기록상태       48043 non-null  object
 3   유효         48043 non-null  object
 4   속도         48043 non-null  float64
 5   가속도        48043 non-null  float64
 6   매연         48043 non-null  float64
 7   자동차등록번호    48043 non-null  object
 8   검사날짜시간     48043 non-null  object
 9   검사날짜시간_년   48043 non-null  int64
 10  검사날짜시간_월   48043 non-null  int64
 11  검사날짜시간_일   48043 non-null  int64
 12  검사날짜시간_시   48043 non-null  int64
 13  검사날짜시간_분   48043 non-null  int64
 14  검사날짜시간_초   48043 non-null  int64
 15  검사날짜시간_요일  48043 non-null  object
 16  배출가스인증번호   44137 non-null  object
 17  배출가스등급     46328 non-null  float64
 18  최초등록일자     46911 non-null  float64
 19  제원관리번호     46911 non-null  object
 20  차량말소YN     46911 non-null  object
 21  차량연식       46911 non-null  float64
 22  차종         46911 non-null  object
 23  차대번호       46911 non-null  object
 24  자동차형식      46911 non-null  object
 25  배기량        46882 non-null  float64
 26  엔진출력       46882 non-null  float64
 27  엔진형식       46899 non-null  object
 28  연료         46899 non-null  object
 29  제작사명       46911 non-null  object
 30  총중량        46911 non-null  float64
 31  차명         46911 non-null  object
 32  차종분류       46911 non-null  object
 33  차종유형       46911 non-null  object
 34  검사판정       38155 non-null  object
 35  무부하매연측정치1  37343 non-null  float64
 36  무부하매연판정1   37343 non-null  object
 37  무부하매연허용치1  37343 non-null  float64
 38  검사방법       38160 non-null  object
 39  검사종류       38160 non-null  object
 40  검사일자       38160 non-null  object
dtypes: float64(11), int64(6), object(24)
memory usage: 15.0+ MB

# Analysis

## 1\. 일자별 측정건수
- 시험날짜별 경유차 측정 건수, 비율

In [7]:
rcs.shape, len(rcs['자동차등록번호'].unique())

((21757, 34), 18129)

In [8]:
rcs['연료'].isnull().sum()

1144

In [9]:
temp = rcs.groupby(['검사날짜', '연료'], dropna=False)['자동차등록번호'].count().reset_index()
temp

           검사날짜           연료  자동차등록번호
0    2022-10-04  CNG(압축천연가스)        2
1    2022-10-04  LPG(액화석유가스)        9
2    2022-10-04           경유       53
3    2022-10-04           전기        2
4    2022-10-04          휘발유       53
..          ...          ...      ...
370  2023-03-30     경유 하이브리드        3
371  2023-03-30           전기       10
372  2023-03-30          휘발유      341
373  2023-03-30    휘발유 하이브리드       45
374  2023-03-30          NaN       24

[375 rows x 3 columns]

In [10]:
temp['자동차등록번호'].sum()

21757

In [11]:
grp1 = rcs.groupby(['검사날짜', '연료'], dropna=False)['자동차등록번호'].count().unstack('연료').reset_index()
grp1 = grp1.fillna(0)
grp1['합계'] = grp1.iloc[:, 1:].sum(axis=1)
grp1['경유_비율'] = grp1['경유'] / grp1['합계']
grp1['경유_하이브리드_비율'] = grp1['경유 하이브리드'] / grp1['합계']
grp1

연료,검사날짜,CNG(압축천연가스),LPG 하이브리드,LPG(액화석유가스),경유,경유 하이브리드,기타연료,수소,전기,휘발유,휘발유 하이브리드,NaN,합계,경유_비율,경유_하이브리드_비율
0,2022-10-04,2.00,0.00,9.00,53.00,0.00,0.00,0.00,2.00,53.00,6.00,7.00,132.00,0.40,0.00
1,2022-10-05,3.00,1.00,7.00,47.00,0.00,1.00,0.00,2.00,29.00,1.00,3.00,94.00,0.50,0.00
2,2022-10-06,2.00,0.00,6.00,51.00,0.00,0.00,0.00,0.00,30.00,2.00,6.00,97.00,0.53,0.00
3,2022-10-07,2.00,0.00,10.00,47.00,1.00,0.00,0.00,2.00,37.00,5.00,9.00,113.00,0.42,0.01
4,2022-10-11,1.00,0.00,4.00,29.00,0.00,0.00,0.00,0.00,23.00,1.00,3.00,61.00,0.48,0.00
5,2022-10-12,1.00,0.00,4.00,39.00,0.00,0.00,0.00,2.00,22.00,6.00,4.00,78.00,0.50,0.00
6,2022-10-13,2.00,0.00,4.00,61.00,0.00,0.00,0.00,4.00,43.00,6.00,4.00,124.00,0.49,0.00
7,2022-10-14,1.00,0.00,11.00,74.00,1.00,0.00,1.00,2.00,52.00,8.00,0.00,150.00,0.49,0.01
8,2022-10-17,2.00,0.00,9.00,73.00,1.00,0.00,0.00,2.00,61.00,8.00,9.00,165.00,0.44,0.01
9,2022-10-18,2.00,0.00,12.00,62.00,0.00,0.00,0.00,4.00,35.00,8.00,9.00,132.00,0.47,0.00
10,2022-10-19,2.00,0.00,10.00,65.00,0.00,0.00,0.00,2.00,34.00,3.00,8.00,124.00,0.52,0.00
11,2022-10-20,2.00,0.00,8.00,54.00,1.00,1.00,0.00,0.00,43.00,4.00,8.00,121.00,0.45,0.01
12,2022-10-21,0.00,0.00,54.00,217.00,0.00,1.00,0.00,14.00,191.00,41.00,20.00,538.00,0.40,0.00
13,2022-10-24,0.00,0.00,65.00,260.00,5.00,0.00,2.00,14.00,240.00,39.00,14.00,639.00,0.41,0.01
14,2022-10-26,0.00,0.00,41.00,135.00,0.00,1.00,2.00,12.00,148.00,29.00,6.00,374.00,0.36,0.00
15,2022-10-27,0.00,0.00,46.00,207.00,0.00,0.00,0.00,16.00,201.00,29.00,31.00,530.00,0.39,0.00
16,2022-10-28,0.00,0.00,9.00,49.00,1.00,0.00,1.00,4.00,44.00,1.00,1.00,110.00,0.45,0.01
17,2022-10-31,2.00,0.00,9.00,57.00,0.00,0.00,2.00,3.00,41.00,7.00,5.00,126.00,0.45,0.00
18,2022-11-01,0.00,0.00,51.00,220.00,1.00,0.00,0.00,9.00,217.00,19.00,30.00,547.00,0.40,0.00
19,2022-11-02,0.00,0.00,76.00,262.00,2.00,0.00,1.00,8.00,257.00,35.00,40.00,681.00,0.38,0.00
20,2022-11-08,0.00,1.00,72.00,335.00,0.00,0.00,0.00,19.00,277.00,41.00,52.00,797.00,0.42,0.00
21,2022-11-09,0.00,0.00,74.00,313.00,1.00,0.00,1.00,16.00,266.00,52.00,51.00,774.00,0.40,0.00
22,2022-11-10,0.00,0.00,54.00,209.00,0.00,0.00,0.00,11.00,189.00,24.00,31.00,518.00,0.40,0.00
23,2022-11-14,0.00,0.00,35.00,125.00,2.00,0.00,0.00,10.00,135.00,20.00,20.00,347.00,0.36,0.01
24,2022-11-17,0.00,0.00,33.00,211.00,1.00,0.00,1.00,10.00,156.00,18.00,41.00,471.00,0.45,0.00
25,2022-11-21,0.00,2.00,46.00,186.00,0.00,0.00,1.00,13.00,151.00,21.00,42.00,462.00,0.40,0.00
26,2022-11-24,0.00,1.00,18.00,119.00,0.00,1.00,0.00,7.00,97.00,11.00,20.00,274.00,0.43,0.00
27,2022-11-30,0.00,0.00,39.00,190.00,0.00,0.00,2.00,9.00,175.00,27.00,29.00,471.00,0.40,0.00
28,2022-12-01,0.00,0.00,56.00,287.00,1.00,2.00,0.00,10.00,255.00,43.00,57.00,711.00,0.40,0.00
29,2022-12-07,0.00,0.00,62.00,283.00,2.00,0.00,0.00,12.00,292.00,39.00,59.00,749.00,0.38,0.00
30,2022-12-08,0.00,1.00,56.00,256.00,3.00,0.00,1.00,10.00,265.00,40.00,55.00,687.00,0.37,0.00
31,2023-01-02,0.00,0.00,51.00,232.00,3.00,0.00,0.00,14.00,233.00,26.00,40.00,599.00,0.39,0.01
32,2023-01-03,0.00,0.00,30.00,176.00,1.00,0.00,3.00,7.00,178.00,17.00,17.00,429.00,0.41,0.00
33,2023-01-06,0.00,1.00,11.00,36.00,0.00,0.00,0.00,0.00,40.00,6.00,9.00,103.00,0.35,0.00
34,2023-01-30,3.00,0.00,7.00,47.00,0.00,0.00,0.00,2.00,30.00,2.00,3.00,94.00,0.50,0.00
35,2023-01-31,2.00,0.00,6.00,53.00,0.00,3.00,0.00,1.00,34.00,7.00,21.00,127.00,0.42,0.00
36,2023-02-01,3.00,0.00,17.00,79.00,0.00,2.00,0.00,2.00,58.00,7.00,22.00,190.00,0.42,0.00
37,2023-02-06,0.00,1.00,44.00,153.00,0.00,1.00,0.00,7.00,132.00,17.00,20.00,375.00,0.41,0.00
38,2023-02-07,0.00,0.00,48.00,202.00,1.00,0.00,1.00,10.00,176.00,29.00,20.00,487.00,0.41,0.00
39,2023-02-21,0.00,0.00,68.00,323.00,3.00,1.00,0.00,16.00,243.00,35.00,36.00,725.00,0.45,0.00
40,2023-02-23,0.00,0.00,54.00,194.00,1.00,0.00,0.00,10.00,205.00,22.00,30.00,516.00,0.38,0.00
41,2023-03-06,0.00,1.00,78.00,272.00,1.00,1.00,1.00,17.00,206.00,30.00,19.00,626.00,0.43,0.00
42,2023-03-07,0.00,1.00,86.00,320.00,3.00,0.00,1.00,10.00,305.00,63.00,32.00,821.00,0.39,0.00
43,2023-03-13,0.00,0.00,60.00,300.00,1.00,0.00,1.00,24.00,203.00,28.00,26.00,643.00,0.47,0.00
44,2023-03-16,1.00,0.00,147.00,699.00,2.00,1.00,3.00,37.00,518.00,94.00,60.00,1562.00,0.45,0.00
45,2023-03-20,0.00,0.00,83.00,365.00,1.00,1.00,1.00,21.00,331.00,63.00,38.00,904.00,0.40,0.00
46,2023-03-21,0.00,1.00,65.00,299.00,2.00,0.00,1.00,16.00,263.00,46.00,24.00,717.00,0.42,0.00
47,2023-03-28,0.00,0.00,70.00,390.00,3.00,0.00,0.00,9.00,283.00,44.00,29.00,828.00,0.47,0.00
48,2023-03-30,0.00,0.00,70.00,321.00,3.00,0.00,0.00,10.00,341.00,45.00,24.00,814.00,0.39,0.00

In [12]:
grp1['합계'].sum()

21757.0

In [13]:
# grp1 = rcs.groupby(['검사날짜', '연료'], dropna=False)['자동차등록번호'].count().reset_index()
# grp1['합계'] = grp1.groupby(['검사날짜'], dropna=False)['자동차등록번호'].transform('sum')
# grp1['비율'] = grp1['자동차등록번호'] / grp1['합계']
# grp1 = grp1.rename(columns={'자동차등록번호':'원격측정건수'})
# grp1

In [14]:
# grp1['원격측정건수'].sum()

## 2\. 시간대별 측정건수
- 시간대별 경유차 측정 건수, 비율

In [15]:
grp2 = rcs.groupby(['검사날짜시간_시', '연료'], dropna=False)['자동차등록번호'].count().unstack('연료').reset_index()
grp2 = grp2.fillna(0)
grp2['합계'] = grp2.iloc[:, 1:].sum(axis=1)
grp2['경유_비율'] = grp2['경유'] / grp2['합계']
grp2['경유_하이브리드_비율'] = grp2['경유 하이브리드'] / grp2['합계']
grp2

연료,검사날짜시간_시,CNG(압축천연가스),LPG 하이브리드,LPG(액화석유가스),경유,경유 하이브리드,기타연료,수소,전기,휘발유,휘발유 하이브리드,NaN,합계,경유_비율,경유_하이브리드_비율
0,8,1.00,0.00,0.00,9.00,0.00,0.00,0.00,1.00,4.00,0.00,0.00,15.00,0.60,0.00
1,9,10.00,3.00,587.00,2677.00,12.00,4.00,5.00,151.00,2248.00,314.00,360.00,6371.00,0.42,0.00
2,10,16.00,6.00,993.00,4483.00,23.00,11.00,15.00,210.00,3922.00,605.00,603.00,10887.00,0.41,0.00
3,11,6.00,2.00,220.00,959.00,6.00,1.00,5.00,49.00,872.00,131.00,112.00,2363.00,0.41,0.00
4,12,0.00,0.00,45.00,198.00,1.00,1.00,2.00,12.00,168.00,36.00,16.00,479.00,0.41,0.00
5,13,0.00,0.00,68.00,373.00,3.00,0.00,0.00,9.00,264.00,41.00,29.00,787.00,0.47,0.00
6,14,0.00,0.00,2.00,17.00,0.00,0.00,0.00,0.00,19.00,3.00,0.00,41.00,0.41,0.00
7,15,0.00,0.00,70.00,321.00,3.00,0.00,0.00,10.00,341.00,45.00,24.00,814.00,0.39,0.00

In [16]:
grp2['합계'].sum()

21757.0

In [17]:
# grp2 = rcs.groupby(['검사날짜시간_시', '연료'], dropna=False)['자동차등록번호'].count().reset_index()
# grp2['합계'] = grp2.groupby(['검사날짜시간_시'], dropna=False)['자동차등록번호'].transform('sum')
# grp2['비율'] = grp2['자동차등록번호'] / grp2['합계']
# grp2 = grp2.rename(columns={'자동차등록번호':'원격측정건수'})
# grp2

In [18]:
# grp2['원격측정건수'].sum()

## 3\. 요일별 측정건수
- 요일별 경유차 측정 건수, 비율

In [19]:
grp3 = rcs.groupby(['검사날짜시간_요일', '연료'], dropna=False)['자동차등록번호'].count().unstack('연료').reset_index()
grp3 = grp3.fillna(0)
grp3['합계'] = grp3.iloc[:, 1:].sum(axis=1)
grp3['경유_비율'] = grp3['경유'] / grp3['합계']
grp3['경유_하이브리드_비율'] = grp3['경유 하이브리드'] / grp3['합계']
grp3

연료,검사날짜시간_요일,CNG(압축천연가스),LPG 하이브리드,LPG(액화석유가스),경유,경유 하이브리드,기타연료,수소,전기,휘발유,휘발유 하이브리드,NaN,합계,경유_비율,경유_하이브리드_비율
0,금,3,1,95,423,3,1,2,22,364,61,39,1014,0.42,0.00
1,목,7,2,552,2669,12,5,5,125,2343,338,367,6425,0.42,0.00
2,수,9,1,330,1413,5,4,6,65,1281,199,222,3535,0.40,0.00
3,월,7,4,487,2070,14,3,8,127,1763,261,236,4980,0.42,0.00
4,화,7,3,521,2462,14,4,6,103,2087,316,280,5803,0.42,0.00

In [20]:
grp3['합계'].sum()

21757

In [21]:
# grp3 = rcs.groupby(['검사날짜시간_요일', '연료'], dropna=False)['자동차등록번호'].count().reset_index()
# grp3['합계'] = grp3.groupby(['검사날짜시간_요일'], dropna=False)['자동차등록번호'].transform('sum')
# grp3['비율'] = grp3['자동차등록번호'] / grp3['합계']
# grp3 = grp3.rename(columns={'자동차등록번호':'원격측정건수'})
# grp3

In [22]:
# grp3['원격측정건수'].sum()

## [❌] 4\. 차선별 측정건수(데이터 부재)

## 5\. 차종별 측정건수
- 차종별 측정 건수, 비율

In [23]:
grp5 = rcs.groupby(['차종'], dropna=False)['자동차등록번호'].count().reset_index()
grp5['비율'] = grp5['자동차등록번호'] / grp5['자동차등록번호'].sum()
grp5 = grp5.rename(columns={'자동차등록번호':'원격측정건수'})
grp5

    차종  원격측정건수   비율
0   승용   15641 0.72
1   승합     726 0.03
2   특수      60 0.00
3   화물    4198 0.19
4  NaN    1132 0.05

In [24]:
grp5['원격측정건수'].sum()

21757

## 6\. 매연측정 통계
- 매연 값 전체의 통계(최대, 최소, 중간, 평균)

In [25]:
grp6 = rcs['매연'].describe()
grp6

count   21757.00
mean        1.39
std         2.92
min         0.00
25%         0.30
50%         0.50
75%         0.90
max        19.90
Name: 매연, dtype: float64

## [❌] 7\. 차선별 매연측정 통계(데이터 부재)
- 차선별 매연 값 전체의 통계

## 8\. 속도별 매연측정 통계
- 속도별 매연 값 전체의 통계

In [26]:
rcs.columns

Index(['검사날짜', '검사시간', '기록상태', '유효', '속도', '가속도', '매연', '자동차등록번호', '검사날짜시간',
       '검사날짜시간_년', '검사날짜시간_월', '검사날짜시간_일', '검사날짜시간_시', '검사날짜시간_분', '검사날짜시간_초',
       '검사날짜시간_요일', '배출가스인증번호', '배출가스등급', '최초등록일자', '제원관리번호', '차량말소YN', '차량연식',
       '차종', '차대번호', '자동차형식', '배기량', '엔진출력', '엔진형식', '연료', '제작사명', '총중량', '차명',
       '차종분류', '차종유형'],
      dtype='object')

In [27]:
sdf8 = rcs[['속도', '매연', '자동차등록번호']].copy()
sdf8.shape

(21757, 3)

In [28]:
sdf8['속도'].describe()

count   21757.00
mean       49.15
std        43.31
min         0.00
25%        43.30
50%        50.20
75%        56.30
max      2244.50
Name: 속도, dtype: float64

In [29]:
# 10단위로 나눔
# 100초과는 하나의 구간으로 설정
per = 10
for i in range(10):
    sdf8.loc[(sdf8['속도'] >= i * per) & (sdf8['속도'] < (i + 1) * per), '속도구간'] = f'{i * per}이상 {(i + 1) * per}미만'
sdf8.loc[sdf8['속도'] >= 100, '속도구간'] = '100이상'

In [31]:
sdf8.head()

     속도   매연  자동차등록번호       속도구간
0 71.60 0.60  60저3406  70이상 80미만
1 60.70 0.80  41구0483  60이상 70미만
2 50.60 0.70  80러0579  50이상 60미만
3 53.30 0.90  94누0128  50이상 60미만
4 36.10 0.70  60수4386  30이상 40미만

In [32]:
grp8 = sdf8.groupby('속도구간').agg({'매연':['max', 'min', lambda x:x.describe()['50%'], 'mean']}).reset_index()
grp8.columns = ['속도구간', '매연_max', '매연_min', '매연_Q2', '매연_mean']
grp8

          속도구간  매연_max  매연_min  매연_Q2  매연_mean
0     0이상 10미만   19.90    0.00   0.50     0.98
1        100이상    3.60    0.00   0.60     0.71
2    10이상 20미만   19.70    0.00   0.50     1.44
3    20이상 30미만   19.30    0.00   0.60     1.99
4    30이상 40미만   19.80    0.00   0.60     1.85
5    40이상 50미만   19.90    0.00   0.50     1.51
6    50이상 60미만   19.90    0.00   0.50     1.29
7    60이상 70미만   19.90    0.00   0.50     1.21
8    70이상 80미만   19.80    0.00   0.70     1.38
9    80이상 90미만   11.50    0.30   0.75     1.39
10  90이상 100미만    1.70    0.40   0.70     0.81

## 9\. 매연농도별 측정건수, 건수 비율
- 1. 매연농도 구간별 측정건수 개수
- 2. 전체 측정개수 중 해당구간 개수 비율

In [33]:
rcs['매연'].describe()

count   21757.00
mean        1.39
std         2.92
min         0.00
25%         0.30
50%         0.50
75%         0.90
max        19.90
Name: 매연, dtype: float64

In [34]:
rcs['매연'].dtype

dtype('float64')

In [35]:
rcs['매연'].isnull().sum()

0

In [36]:
sdf9 = rcs[['매연', '자동차등록번호']].copy()
sdf9.shape

(21757, 2)

In [37]:
# 5단위로 분리
per = 5
for i in range(4):
    sdf9.loc[(sdf9['매연'] >= i * per) & (sdf9['매연'] < (i + 1) * per), '매연구간'] = f'{i * per}이상 {(i + 1) * per}미만'

In [38]:
sdf9.head()

    매연  자동차등록번호     매연구간
0 0.60  60저3406  0이상 5미만
1 0.80  41구0483  0이상 5미만
2 0.70  80러0579  0이상 5미만
3 0.90  94누0128  0이상 5미만
4 0.70  60수4386  0이상 5미만

In [39]:
grp9 = sdf9.groupby('매연구간')['자동차등록번호'].count().reset_index()
grp9['비율'] = grp9['자동차등록번호'] / grp9['자동차등록번호'].sum()
grp9 = grp9.rename(columns={'자동차등록번호':'원격측정건수'})
grp9

        매연구간  원격측정건수   비율
0    0이상 5미만   20284 0.93
1  10이상 15미만     418 0.02
2  15이상 20미만     354 0.02
3   5이상 10미만     701 0.03

## ~~10\. 차선별 매연측정 통계(7번과 동일)~~
- ~~차선별 매연 값 통계~~

## ~~11\. 속도별 매연측정 통계(8번과 동일)~~
- ~~속도범위별 매연 값 평균~~

## 11\. 매연농도 상위 10%의 정밀검사 결과
- 1. 매연 상위 10%의 정밀검사 결과 확인
    - 정밀검사 최신결과?
- 2. 검사결과의 적합/부적합 여부, 매연측정치 확인
    - 정밀검사 최신결과?

In [324]:
rcse.shape

(48043, 41)

In [325]:
rcse.head()

,검사날짜,검사시간,기록상태,유효,속도,가속도,매연,자동차등록번호,검사날짜시간,검사날짜시간_년,...,차명,차종분류,차종유형,검사판정,무부하매연측정치1,무부하매연판정1,무부하매연허용치1,검사방법,검사종류,검사일자
0,2022-10-04,10:31:20,N,V,71.60,0.00,0.60,60저3406,2022-10-04 10:31:20,2022,...,포르테,A2826,중형,Y,0.00,Y,0.62,부하검사(ASM-Idling),종합검사(경과),20151128.00
1,2022-10-04,10:31:20,N,V,71.60,0.00,0.60,60저3406,2022-10-04 10:31:20,2022,...,포르테,A2826,중형,Y,0.00,Y,0.62,부하검사(ASM-Idling),종합검사,20171226.00
2,2022-10-04,10:31:20,N,V,71.60,0.00,0.60,60저3406,2022-10-04 10:31:20,2022,...,포르테,A2826,중형,Y,0.00,Y,0.62,부하검사(ASM-Idling),종합검사,20211228.00
3,2022-10-04,10:31:20,N,V,71.60,0.00,0.60,60저3406,2022-10-04 10:31:20,2022,...,포르테,A2826,중형,Y,0.00,Y,0.62,부하검사(ASM-Idling),종합검사,20191227.00
4,2022-10-04,10:31:46,N,V,60.70,0.00,0.80,41구0483,2022-10-04 10:31:46,2022,...,모닝,A2826,경형,Y,0.06,Y,1.00,부하검사(ASM-Idling),종합검사,20220927.00

## 12\. 시험일 후 최초검사 부적합 - 원격 매연 값
- 1. 시험날짜 이후 최초 정밀검사 결과가 부적합인 차량 추출
- 2. 원격 매연 값 확인하여 정밀검사의 판정이 적절한지 판정
- 오류-적합율 : 매연RSD 에서 과다측정된 차량이 검사결과에서 부적합 판정을 받은 경우의 수치

- 1. 검사판정 == 'N'인 샘플 추출
- 2. 검사일자(정밀검사) - 검사날짜(원격측정) = 검사날짜차이
- 3. '검사날짜차이' > 0 인 샘플 추출
- 4. '검사날짜차이' 오름차순, '자동차등록번호' 기준 중복 제거

In [40]:
rcse.columns

Index(['검사날짜', '검사시간', '기록상태', '유효', '속도', '가속도', '매연', '자동차등록번호', '검사날짜시간',
       '검사날짜시간_년', '검사날짜시간_월', '검사날짜시간_일', '검사날짜시간_시', '검사날짜시간_분', '검사날짜시간_초',
       '검사날짜시간_요일', '배출가스인증번호', '배출가스등급', '최초등록일자', '제원관리번호', '차량말소YN', '차량연식',
       '차종', '차대번호', '자동차형식', '배기량', '엔진출력', '엔진형식', '연료', '제작사명', '총중량', '차명',
       '차종분류', '차종유형', '검사판정', '무부하매연측정치1', '무부하매연판정1', '무부하매연허용치1', '검사방법',
       '검사종류', '검사일자'],
      dtype='object')

In [99]:
sdf12 = rcse[['검사날짜', '매연', '자동차등록번호', '검사판정', '무부하매연측정치1', '검사일자']].copy()
sdf12.shape

(48043, 6)

In [100]:
sdf12['검사판정'].value_counts(dropna=False)

검사판정
Y      36054
NaN     9888
N       2097
8          3
x          1
Name: count, dtype: int64

In [101]:
# 1. 검사판정 == 'N'인 샘플 추출
sdf12 = sdf12[sdf12['검사판정'] == 'N'].reset_index(drop=True)
sdf12.shape

(2097, 6)

In [102]:
sdf12[['검사날짜', '검사일자']].dtypes

검사날짜    object
검사일자    object
dtype: object

In [103]:
sdf12.head()

         검사날짜   매연  자동차등록번호 검사판정  무부하매연측정치1        검사일자
0  2022-10-04 1.50  16가5145    N       1.79  2023-02-06
1  2022-10-04 0.50  81루9582    N        NaN  2016-03-08
2  2022-10-04 0.50  81루9582    N      50.00  2017-03-15
3  2022-10-04 0.50  81루9582    N        NaN  2022-04-05
4  2022-10-04 0.50  81루9582    N        NaN  2020-03-20

In [104]:
sdf12['검사날짜'] = pd.to_datetime(sdf12['검사날짜'])
sdf12['검사일자'] = pd.to_datetime(sdf12['검사일자'])

In [105]:
sdf12[['검사날짜', '검사일자']].dtypes

검사날짜    datetime64[ns]
검사일자    datetime64[ns]
dtype: object

In [106]:
# 2. 검사일자(정밀검사) - 검사날짜(원격측정) = 검사날짜차이
sdf12['검사날짜차이'] = sdf12['검사일자'] - sdf12['검사날짜']

In [107]:
sdf12.head()

        검사날짜   매연  자동차등록번호 검사판정  무부하매연측정치1       검사일자     검사날짜차이
0 2022-10-04 1.50  16가5145    N       1.79 2023-02-06   125 days
1 2022-10-04 0.50  81루9582    N        NaN 2016-03-08 -2401 days
2 2022-10-04 0.50  81루9582    N      50.00 2017-03-15 -2029 days
3 2022-10-04 0.50  81루9582    N        NaN 2022-04-05  -182 days
4 2022-10-04 0.50  81루9582    N        NaN 2020-03-20  -928 days

In [108]:
sdf12['검사날짜차이'] = sdf12['검사날짜차이'].astype('str')
sdf12['검사날짜차이'] = sdf12['검사날짜차이'].str.split(' ').str[0]
sdf12['검사날짜차이'] = pd.to_numeric(sdf12['검사날짜차이'], errors='coerce')

In [109]:
# 3. '검사날짜차이' > 0 인 샘플 추출
sdf12 = sdf12[sdf12['검사날짜차이'] > 0].reset_index(drop=True)
sdf12.shape

(248, 7)

In [112]:
# 4. '검사날짜차이' 오름차순, '자동차등록번호' 기준 중복 제거
sdf12 = sdf12.sort_values('검사날짜차이').drop_duplicates('자동차등록번호').reset_index(drop=True)
sdf12

          검사날짜   매연  자동차등록번호 검사판정  무부하매연측정치1       검사일자  검사날짜차이
0   2023-02-21 0.30  92우4399    N      38.00 2023-02-22       1
1   2023-03-30 0.50  37오1504    N        NaN 2023-04-04       5
2   2022-11-24 0.80  67너0127    N        NaN 2022-11-30       6
3   2022-10-21 0.30  91도1943    N      28.00 2022-10-28       7
4   2022-10-19 0.80  71부3230    N      77.00 2022-10-26       7
..         ...  ...      ...  ...        ...        ...     ...
169 2022-10-24 3.90  16수7292    N      96.00 2023-07-18     267
170 2022-10-13 0.70  92도8604    N        NaN 2023-07-07     267
171 2022-10-26 1.40  36저5647    N        NaN 2023-07-31     278
172 2022-10-05 1.10  75어1519    N      55.00 2023-07-10     278
173 2022-10-24 0.60  82가4238    N      17.00 2023-07-31     280

[174 rows x 7 columns]

## 13\. 시험일 후 최종검사 부적합 - 원격 매연 값
- 1. 시험날짜 이후 최초 정밀검사 결과가 부적합인 차량 추출
- 2. 원격 매연 값 확인하여 정밀검사의 판정이 적절한지 판정
- 오류-부적합율 : 매연RSD 에서 과다측정된 차량이 검사결과에서 적합 판정을 받은 경우의 수치

In [72]:
sec = time.time() - start_time
print(str(dt.timedelta(seconds=sec)).split('.')[0])

0:00:47

# End