In [1]:
import pandas as pd
import os

In [2]:
raw_fold = 'D:/data/multi_road/raw'
an_fold = 'D:/data/multi_road/analysis'
img_fold = 'D:/data/multi_road/img'

In [3]:
car_cdict = {
    'EXHST_GAS_CERT_NO':'배출가스인증번호',
    'EXHST_GAS_GRD_CD':'배출가스등급', 
    'FRST_REG_YMD':'최초등록일자',
    'MANP_MNG_NO':'제원관리번호', 
    'MDFCN_DT':'수정일시', 
    'VHCL_ERSR_YN':'차량말소YN',
    'VHCL_FBCTN_YMD':'차량제작일자',
    'YRIDNW':'차량연식', 
    'VHCTY_CD':'차종', 
    'VIN':'차대번호', 
    'VHRNO':'자동차등록번호',
    # 'BSPL_STDG_CD':'법정동코드', 
    # 'PURPS_CD2':'용도', 
    # 'VHCL_MNG_NO':'차량관리번호', 
    # 'VHCL_OWNR_CL_CD':'소유자구분', 
}
len(car_cdict)

11

In [4]:
# 2m 30s
name = 'STD_CEG_CAR_MIG(20230821)' # 2023.07.08 기준
file_name = f'{name}.csv'
car = pd.read_csv(os.path.join(raw_fold, file_name), usecols=car_cdict.keys())
car.info()

In [ ]:
car_cdict.values()

dict_values(['배출가스인증번호', '배출가스등급', '최초등록일자', '제원관리번호', '수정일시', '차량말소YN', '차량제작일자', '차량연식', '차종', '차대번호', '자동차등록번호'])

In [ ]:
# 4s
carr = car.rename(columns=car_cdict)
carr.columns

Index(['배출가스인증번호', '배출가스등급', '최초등록일자', '제원관리번호', '수정일시', '차량말소YN', '차량제작일자',
       '차량연식', '차종', '차대번호', '자동차등록번호'],
      dtype='object')

In [ ]:
car_list = ['150가1856', '05저0859', '54마0976', '156머4175', '31가1590']
tt = pd.DataFrame()
for one in car_list:
    temp = carr.loc[carr['자동차등록번호'] == one].reset_index(drop=True)
    tt = pd.concat([tt, temp], ignore_index=True)

In [ ]:
tt

,배출가스인증번호,배출가스등급,최초등록일자,제원관리번호,수정일시,차량말소YN,차량제작일자,차량연식,차종,차대번호,자동차등록번호
0,FMY-HD-14-40,A0502,20160829,A0810010300401216,2020-02-25 04:02:06.000000,N,20160728.00,2017,A31P,KMHD741DBHU266701,150가1856
1,DMY-HD-14-15,A0503,20160316,A0810010300211215,2023-03-28 04:03:09.000000,N,20160309.00,2016,A31P,KMHD641UGGU135347,05저0859
2,FMY-HD-14-40,A0502,20151106,A0810010300051215,2020-02-18 06:02:06.000000,N,20151014.00,2016,A31P,KMHD741DBGU023019,54마0976
3,FMY-HD-14-40,A0502,20170615,A0810010300851217,2023-04-04 04:04:09.000000,N,20170610.00,2018,A31P,KMHD041DBJU497859,31가1590

In [ ]:
carr.loc[carr['자동차등록번호'] == '156머4175']

Empty DataFrame
Columns: [배출가스인증번호, 배출가스등급, 최초등록일자, 제원관리번호, 수정일시, 차량말소YN, 차량제작일자, 차량연식, 차종, 차대번호, 자동차등록번호]
Index: []