# 라이브러리

In [36]:
import pandas as pd
import numpy as np
from tqdm import tqdm

## 데이터 로드

In [128]:
df = pd.read_table('data/220819_22.06월기준_1등급_수정.txt', sep='\t', encoding='EUC-kr', index_col=0)
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2550090 entries, KMHE341DBHA277111-01 to KPBXH3AT1NP391577-01
Data columns (total 39 columns):
 #   Column       Dtype
---  ------       -----
 0   차량등록번호       object
 1   본거지법정동코드     int64
 2   소유자구분        object
 3   차종_등록정보      object
 4   용도           object
 5   차대번호         object
 6   최초등록일자       int64
 7   차량연식         int64
 8   차량제작일자       float64
 9   검사유효일        int64
 10  제원관리번호       object
 11  배출가스인증번호     object
 12  배출가스등급       int64
 13  저공해조치종류      float64
 14  저공해조치구조변경YN  object
 15  차량말소YN       object
 16  취득일자         float64
 17  취득금액         float64
 18  차명           object
 19  차종_제원정보      object
 20  차종분류         object
 21  차종유형         object
 22  자동차형식        object
 23  제작사명         object
 24  연료           object
 25  엔진형식         object
 26  총중량          float64
 27  적재중량         float64
 28  엔진출력         float64
 29  배기량          float64
 30  승차인원         int64
 31  차량길이         int64
 32  차량너비         int64
 33  차량높이         int64
 34  원산지명         object
 35  삭제YN         object
 36  제원승인일자       int64
 37  구동형식         object
 38  변속기종류        object
dtypes: float64(8), int64(10), object(21)
memory usage: 778.2+ MB

## 기본 분석
- shape : 2550090, 40

In [129]:
df.columns

Index(['차량등록번호', '본거지법정동코드', '소유자구분', '차종_등록정보', '용도', '차대번호', '최초등록일자',
       '차량연식', '차량제작일자', '검사유효일', '제원관리번호', '배출가스인증번호', '배출가스등급', '저공해조치종류',
       '저공해조치구조변경YN', '차량말소YN', '취득일자', '취득금액', '차명', '차종_제원정보', '차종분류',
       '차종유형', '자동차형식', '제작사명', '연료', '엔진형식', '총중량', '적재중량', '엔진출력', '배기량',
       '승차인원', '차량길이', '차량너비', '차량높이', '원산지명', '삭제YN', '제원승인일자', '구동형식',
       '변속기종류'],
      dtype='object')

In [130]:
len(df.columns)

39

In [131]:
df.iloc[:5, :10]

,차량등록번호,본거지법정동코드,소유자구분,차종_등록정보,용도,차대번호,최초등록일자,차량연식,차량제작일자,검사유효일
차량관리번호,,,,,,,,,,
KMHE341DBHA277111-01,179어3939,3114010400,주민,승용,자가용,KMHE341DBHA277111,20160701,2017,20160616.0,20220630
KMHFG413BHA030981-01,31나8460,4117310300,주민,승용,자가용,KMHFG413BHA030981,20170111,2017,20160913.0,20230110
KMHFF41CBHA576552-01,08다0193,4817025027,주민,승용,자가용,KMHFF41CBHA576552,20160913,2017,20160707.0,20200912
KMHE341DBFA084105-01,209주6704,4617013400,주민,승용,자가용,KMHE341DBFA084105,20150119,2015,20141125.0,20231230
KNAGN41CBFA073853-01,58어2337,4117110100,주민,승용,자가용,KNAGN41CBFA073853,20140814,2015,20140529.0,20200813

In [132]:
df.iloc[:5, 10:20]

,제원관리번호,배출가스인증번호,배출가스등급,저공해조치종류,저공해조치구조변경YN,차량말소YN,취득일자,취득금액,차명,차종_제원정보
차량관리번호,,,,,,,,,,
KMHE341DBHA277111-01,A0810009800561216,EMY-HD-13-06,1,NaN,N,N,20220609.0,2700000.0,쏘나타(SONATA),승용
KMHFG413BHA030981-01,A0810008701091316,DMY-HD-12-28,1,NaN,N,N,20170109.0,26764643.0,그랜저 하이브리드 (GRANDEUR HYBRID),승용
KMHFF41CBHA576552-01,A0810008700981316,EMY-HD-13-14,1,NaN,N,N,20160912.0,27800000.0,그랜저(GRANDEUR),승용
KMHE341DBFA084105-01,A0810009800011214,EMY-HD-13-06,1,NaN,N,N,20211210.0,1100000.0,쏘나타(SONATA),승용
KNAGN41CBFA073853-01,A0110004701301214,BMY-KM-12-25,1,NaN,N,N,20140812.0,24168363.0,K5 하이브리드,승용

In [133]:
df.iloc[:5, 20:30]

,차종분류,차종유형,자동차형식,제작사명,연료,엔진형식,총중량,적재중량,엔진출력,배기량
차량관리번호,,,,,,,,,,
KMHE341DBHA277111-01,일반,중형,LF4DBD-T,현대자동차(주),LPG(액화석유가스),L4NA,1790.0,NaN,151.0,1999.0
KMHFG413BHA030981-01,일반,대형,HGE43BK-G,현대자동차(주),휘발유 하이브리드,G4KK,2005.0,NaN,159.0,2359.0
KMHFF41CBHA576552-01,일반,대형,HG4CBK-L8,현대자동차(주),휘발유,G4KJ,1910.0,NaN,190.0,2359.0
KMHE341DBFA084105-01,일반,중형,LF4DBA-R,현대자동차(주),LPG(액화석유가스),L4NA,1790.0,NaN,151.0,1999.0
KNAGN41CBFA073853-01,일반,중형,TFE4CBF-S,기아자동차(주),휘발유 하이브리드,G4NE,1895.0,NaN,150.0,1999.0

In [134]:
df.iloc[:5, 30:]

                      승차인원  차량길이  차량너비  차량높이  원산지명 삭제YN    제원승인일자 구동형식 변속기종류
차량관리번호
KMHE341DBHA277111-01     5  4855  1865  1485  대한민국    N  20160405  NaN    자동
KMHFG413BHA030981-01     5  4920  1860  1470  대한민국    N  20160405  NaN    자동
KMHFF41CBHA576552-01     5  4920  1860  1470  대한민국    N  20160322  NaN    자동
KMHE341DBFA084105-01     5  4855  1865  1475  대한민국    N  20140318  NaN    자동
KNAGN41CBFA073853-01     5  4845  1835  1455  대한민국    N  20140502  NaN    자동

In [135]:
df.shape

(2550090, 39)

In [136]:
df = df.reset_index()
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2550090 entries, 0 to 2550089
Data columns (total 40 columns):
 #   Column       Dtype
---  ------       -----
 0   차량관리번호       object
 1   차량등록번호       object
 2   본거지법정동코드     int64
 3   소유자구분        object
 4   차종_등록정보      object
 5   용도           object
 6   차대번호         object
 7   최초등록일자       int64
 8   차량연식         int64
 9   차량제작일자       float64
 10  검사유효일        int64
 11  제원관리번호       object
 12  배출가스인증번호     object
 13  배출가스등급       int64
 14  저공해조치종류      float64
 15  저공해조치구조변경YN  object
 16  차량말소YN       object
 17  취득일자         float64
 18  취득금액         float64
 19  차명           object
 20  차종_제원정보      object
 21  차종분류         object
 22  차종유형         object
 23  자동차형식        object
 24  제작사명         object
 25  연료           object
 26  엔진형식         object
 27  총중량          float64
 28  적재중량         float64
 29  엔진출력         float64
 30  배기량          float64
 31  승차인원         int64
 32  차량길이         int64
 33  차량너비         int64
 34  차량높이         int64
 35  원산지명         object
 36  삭제YN         object
 37  제원승인일자       int64
 38  구동형식         object
 39  변속기종류        object
dtypes: float64(8), int64(10), object(22)
memory usage: 778.2+ MB

## 순수 전기차 데이터 추출

### 필요한 컬럼
- 차량등록번호, 차명, 연료

In [137]:
cols= ['차량등록번호', '차명', '연료']
df[cols].tail()

           차량등록번호           차명           연료
2550085  115호4984  쏘나타(SONATA)  LPG(액화석유가스)
2550086  197호2274  쏘나타(SONATA)  LPG(액화석유가스)
2550087  258가7237  쏘나타(SONATA)  LPG(액화석유가스)
2550088  121하2545  쏘나타(SONATA)  LPG(액화석유가스)
2550089  225고3043          티볼리          휘발유

In [138]:
df[cols].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2550090 entries, 0 to 2550089
Data columns (total 3 columns):
 #   Column  Dtype
---  ------  -----
 0   차량등록번호  object
 1   차명      object
 2   연료      object
dtypes: object(3)
memory usage: 58.4+ MB

### 차명으로 정리
- 제외 값 : 하이브리드, HYBRID, Hybrid, 수소(수소연료전지, 수소전기)
- 원본 샘플 수 : 2,550,090 개
    - 제외 샘플 수 : 765,735 개
- 남은 샘플 수 : 1,784,355 개

In [139]:
df['차명'].unique()

array(['쏘나타(SONATA)', '그랜저 하이브리드 (GRANDEUR HYBRID)', '그랜저(GRANDEUR)',
       'K5 하이브리드', '렉서스 CT200h', 'K7', '코나 일렉트릭 (KONA ELECTRIC)',
       '쏘나타(SONATA) 하이브리드', '그랜저 하이브리드', 'K7 하이브리드', 'ACCORD 1.5T', 'K5',
       '니로 하이브리드', '토요타 Camry Hybrid LE', '알페온2.4DOHC', 'TWIZY',
       'ACCORD 2.4', '렉서스 NX300h', '쏘나타 하이브리드(SONATA HYBRID)', 'BMW i3',
       '아이오닉 일렉트릭(IONIQ ELECTRIC)', 'MINI Cooper Countryman', 'BMW 530i',
       'SM6', '말리부 1.35 TURBO', '카렌스', '아반떼 하이브리드(AVANTE HYBRID)',
       '렉서스 ES300h', '말리부 1.5 TURBO', '포르테하이브리드', '크루즈 1.8 DOHC',
       'CHEVROLET IMPALA 3.6', '토요타 Camry Hybrid', '쏘울 EV',
       'BMW 530i xDrive', '아이오닉 하이브리드(IONIQ HYBRID)', '알페온 2.4 하이브리드',
       'Passat 1.8 TSI', '포르테 하이브리드', '쏘나타 (SONATA) 하이브리드', '렉서스 LS600hL',
       'CHEVROLET BOLT EV', 'CC 2.0 TSI', 'BMW 330i', '말리부 1.8 HYBRID',
       'SM3 Z.E.', 'BMW 520i', 'GLC350 e 4Matic', 'Passat 2.0 TSI',
       '그랜저(GRANDEUR) 하이브리드', '토요타 PRIUS', '렉서스 RX450h', '아반떼(AVANTE)',
       'MINI Cooper S Convertible', 'BMW 428i Coupe', 'E300',
       'K5 플러그인 하이브리드', '니로 EV', '토요타 Prius', 'E350', 'ACCORD 3.5',
       'Model S 100D', 'E300 4Matic', '볼보 XC90T8 AWD',
       'BMW 530i xDrive M Sport Package Plus', '알페온 2.4 DOHC',
       'BMW 530i M Sport Package Plus', 'Golf GTI', '토요타 CAMRY Hybrid',
       '렉서스 LS500h 2WD', 'CHEVROLET VOLT', 'ACCORD HYBRID',
       'MINI Cooper Clubman', 'MINI Cooper S Clubman', 'MINI Cooper S',
       'A3 2.0 TFSI', '재규어 XJ 3.0SC', '재규어 XF 25t',
       'MINI Cooper five-door', '엔비온', 'C350 e', '토요타 RAV4 Hybrid',
       'Passat 2.5', 'INFINITI Q50S Hybrid', 'MINI Cooper',
       'Lincoln MKZ Hybrid', 'LEAF', '레인지로버 벨라 P380', 'E350 Coupe',
       '토요타 Prius C', 'D2', '렉서스 GS450h', '렉서스 UX250h 2WD', '렉서스RX400h',
       'BMW 428i Convertible', 'INSIGHT', '토요타 Prius V', '쏘울 전기차',
       '베르나 하이브리드(VERNA)', 'BMW 328i', 'Model S 75D', '토요타 Avalon Hybrid',
       'TT Roadster 45 TFSI quattro', '넥쏘 (NEXO) 수소전기차',
       'Lexus RX400h HYBRID', 'BMW 430i Convertible', 'Model S 90D',
       'BMW 520i Luxury', 'CR-Z', '렉서스 LS500h AWD',
       'TT Coupe 45 TFSI quattro', 'MURANO', '아폴로(Apollo)1100전기버스',
       'X-Trail 4WD', '아이오닉 플러그인(IONIQ PLUG-IN)', 'SONATA HYBRID',
       '재규어 E-PACE P250', 'Model X 100D', 'SONATA Hybrid', 'Honda Accord',
       'Danigo', '쏘나타 플러그인 하이브리드(SONATA PLUG-IN HYBRID)', 'BMW i8',
       '재규어 XF 25t AWD', 'MINI Cooper Convertible', '카이엔 S 하이브리드',
       'ACCORD 2.0T', '프라이드 하이브리드', 'MINI Cooper S five-door',
       'MINI Cooper S Countryman ALL4', 'Fusion Hybrid',
       '렉서스 GS450h F SPORT', '레이 전기차', '일렉시티(ELEC CITY)', '퓨전',
       '도요타 프리우스(PRIUS) PHV', '스즈키이그니스(IGNIS)', '니로 PHEV',
       '재규어 F-PACE 35t', '블루시티 초저상 하이브리드', '토요타 RAV4 Hybrid 2WD',
       'BMW i3 94Ah', '재규어 I-PACE EV400', 'KIA OPTIMA', '토요타 Prius 2WD',
       'BMW 328i Convertible', '아데오나(ADEONA)', '도요타 프리우스(PRIUS) V',
       '폭스바겐파사트(PASSAT)', 'BMW ActiveHybrid 7', 'TOYOTA PRIUS HYBRID',
       '그린어스', 'LEXUS RX400h', '체인지(CHANGE)', 'PRIUS', '파나메라 4 E-하이브리드',
       'BMW 530i Luxury', '토요타 RAV4 Hybrid AWD', '토요타 Prius Prime',
       'X-Trail 2WD', '혼다 어코드(ACCORD)2.4', '도요타 캠리 하이브리드', '블루시티 하이브리드',
       '이-화이버드(eFIBIRD)', '재규어 XE 20t', '리프', '재규어 XF 35t',
       'CIVIC HYBRID', 'BMW 430i Coupe', '스파크 EV', 'HONDA ACCORD',
       '넥쏘(NEXO) 수소전기차', 'MURANO Hybrid', 'S400 하이브리드 L',
       'BMW 530i xDrive Luxury', 'ACCORD', 'HYUNDAI SONATA HYBRID',
       '렉서스 UX250h AWD', 'Outback', '카이엔 S E-하이브리드', '블루온 (BLUEON)',
       'BMW 430i Convertible M Sport Package', '볼보 XC60T8 AWD',
       'BMW 430i Coupe M sport Package', '스마트(SMART)ED',
       '투싼(TUCSON) 수소연료전지', 'BMWActiveHybridX6', '도요타 프리우스(하이브리드)',
       'Toyota Prius', '마스타(MASTA)VAN', 'TOYOTA CAMRY HYBRID',
       '렉서스RX400h(하이브리드)', 'passat', 'VOLKSWAGEN CC', 'HYPERS',
       'BMW i3 120Ah SOL plus', '파워프라자라보ev PEACE', 'PASSAT',
       '렉서스 LS600HL 하이브리드', '혼다 인사이트(INSIGHT)', 'BMW 740e iPerformance',
       '재규어 XE 3.0SC S', 'Camry Hybrid', '도요타 프리우스(TOYOTA PRIUS)',
       '쏘나타(SONATA)하이브리드', 'SONATA hybrid', '테슬라(TESLA)모델S P85D',
       '렉서스 LC500h', '쎄라토', 'SONATA', 'SONATA HYBRID(쏘나타 하이브리드)',
       '토요타캠리(하이브리드)', '토요타 PRIUS HYBRID', 'TOYOTA PRIUS',
       '도요타 하이랜더 하이브리드', '테슬라(TESLA)모델X100D', '어코드 쿠페 EX-L',
       '포드씨맥스(C-MAX)', '쏘나타 하이브리드', '벤츠S400하이브리드', '기아 옵티마(하이브리드)',
       'Model S P100D', 'BYD eBus-7', '페라리 La Ferrari', '벤츠 S500 하이브리드',
       '프리우스(하이브리드)', '도요타캠리하이브리드', 'TOYOTA AQUA', 'HONDA ACCORD LX',
       'TOYOTA PRIUS S HYBRID', '벤츠S500L하이브리드', '시보레K1500타호 하이브리드',
       '이텍진공식소형전기노면청소차', 'SONATA  Hybrid 2.4', '토요타 Camry',
       'INFINITI QX60 Hybrid', 'Lexus RX450h Hybrid', '혼다 어코드(ACCORD)',
       'Model X 75D', '토요타C-HR', '매그넘(MAGNUM)', '혼다 어코드', 'RAV4 Hybrid',
       'A3 Sportback e-tron', '캠리 하이브리드', '혼다어코드', 'HONDA ACCORD 3.5',
       '포커스', 'BMW 430i Convertible Luxury', '도요타 프리우스 하이브리드',
       '테슬라(TESLA)모델S P85', 'BMW ActiveHybrid 5', 'Model X P100D',
       'PRIUS(하이브리드)', 'BMW X2 xDrive25i M Sport Package',
       '제인모터스칼마토EV1톤내장탑차', 'BMWActiveHybrid7', '포드 퓨전 하이브리도',
       '혼다어코드(ACCORD)', 'BMW X5 xDrive40e iPerformance',
       'BMW i3 120Ah LUX', '렉서스 RX400H',
       'BMW X1 xDrive25i M Sport Package', 'LEXUS LS600H',
       '프리우스(PRIUS)하이브리드', 'Sonata Hybird', 'SERENA', 'RVR',
       '벤츠S500하이브리드', 'TOYOTA RAV4 Hybrid', '쏘나타 HYBRID', 'OPTIMA HYBRID',
       'TOYOTA CAMRY하이브리드', 'BMW ActiveHybrid 3', '혼다accord',
       'HYUNDAI IONIQ HYBRID', '렉서스 LS600H 하이브리드', '캠리', '어코드(ACCORD)',
       '소나타 하이브리드(SONATA HYBRID)', '시보레 타호(TAHOE) 하이브리드', 'LEXUS RX400H',
       '쏘나타  하이브리드', '배터리교환식전기버스', '프리우스 하이브리드', 'HONDA CR-Z',
       'HONDA ACCORD COUPE3.5', '시보레 타호이', 'TOYOTA HIGHLANDER',
       '렉서스RX450h', '렉서스HS250H', '포르쉐파나메라S E-하이브리드', 'ACCORD3.5',
       'HYUNDAI SONATA (하이브리드)', '혼다 어코드 LX', '렉서스 RX400H(하이브리드)',
       'LEXUS ES 300h', '다니고3', 'TOYOTA AVALON', 'CHANGE',
       '포르쉐파나메라(PANAMERA)터보하이브리드', '볼보 S90T8 AWD', 'BMW ActiveHybrid X6',
       '기아옵티마', 'TOYOTA VOXY', '혼다아큐라(ACURA)NSX', '벤츠S400L하이브리드',
       'HYUNDAI SONATA HYBRID 2.0', 'VOLKSWAGEN PASSAT',
       '토요타프리우스(PRIUS)하이브리드', '렉서스CT200h', 'PORSCHE CAYENNE',
       '씨티앤티 이존(e-ZONE)', '토요타 캠리(CAMRY) HYBRID', '렉서스LS600H', 'Fusion',
       '도요타 캠리(하이브리드)', '쉐보레 타호(TAHOE) 하이브리드',
       'TOYOTA PRIUS PRIME PLUG-IN', 'CAMRY HYBRID', 'Passat',
       '도요타캠리(CAMRY)하이브리드', '폭스바겐 CC', 'PRIUS HYBRID', 'CAMRY',
       'Volkswagen CC', '렉서스 RX400h', '씨티앤티이존(e-ZONE)',
       'VOLKSWAGEN JETTA', '닛산 패스파인더 하이브리드', '렉서스 RX400H AWD', '폭스바겐CC',
       'LEXUS CT200h', '포드 퓨전 하이브리드', 'GMC유콘 하이브리드',
       'HYUNDAI SONATA Hybrid', 'IGNIS', 'TOYOTA 프리우스(PRIUS,하이브리드)',
       '도요타 하이랜더(하이브리드)', 'BMW X5 XDRIVE 40E', '베르나하이브리드(VERNA)',
       '현대 쏘나타(SONATA) 하이브리드', 'TOYOTA PRIUS V', 'LEXUS HS 250h',
       '렉서스 CT200H', 'OPTIMA(하이브리드)', '도요타에스콰이어(ESQUIRE)', '프라이드하이브리드',
       '도요타 프리우스 HYBRID', '현대 소나타 하이브리드', '닛산 SERENA S-하이브리드',
       'LEXUS ES 300H', '혼다어코드LX', '혼다아코드 3.5', 'LEXUS CT200H HYBRID',
       'E6', 'ACCORD CROSSTOUR', '아우디 TT QUATTRO', 'VOLKSWAGEN CC 2.0',
       '도요타 프리우스', '스마트(SMART)ED카브리오', '도요타프리우스(PRIUS)C하이브리드',
       '기아 옵티마(K5 하이브리드)', 'Lexus RX400h', 'SUZUKI HUSTLER',
       '캐딜락에스컬레이드(ESCALADE)하이브리드', '파나메라 S 하이브리드',
       '쏘나타  하이브리드(SONATA HYBRID)', '렉서스 LS600H', '도요타 캠리',
       'Toyota Prius hybrid', '렉서스RX450H', 'FORD C-MAX',
       'CAYENNE S E-Hybrid', 'CROWN HYVRID', 'PANAMERA S E-hybrid',
       'TOYOTA ALPAHARD', 'HONDA VEZEL HYBRID', 'OPTIMA(K5)',
       '파나메라 S E-하이브리드', '벤츠 S400 하이브리드', 'TOYOTA AQUA HYBRID', '폭스바겐 래빗',
       '렉서스 LS600hL 하이브리드', 'AUDI TT COUPE', '렉서스 GS450H 하이브리드',
       '도요타 AURIS', '폭스바겐 제타(JETTA)', '도요타프리우스(PRIUS)', 'ACCORD LX-P',
       '도요다캠리(하이브리드)', '렉서스 HS250h(하이브리드)', 'SONATA HYBRID 2.0',
       '페라리 LAFERRARI APERTA', '도요타하이랜더(HIGHLANDER)하이브리드',
       'KIA OPTIMA(하이브리드)', '도요타 프리우스(PRIUS)하이브리드',
       '일렉시티 FCEV(ELECCITY FCEV)', '렉서스 LS600 LH 하이브리드', 'ACCORD Hybrid',
       '혼다 어코드 EX', '도요타 에스티마 하이브리드', 'OPTIMA Hybrid', 'LEXUS RX450h',
       '어코드', 'hondaaccord', '도요다 프리우스', 'HONDA ACCORD2.4',
       'Kia Optima(K5) Hybrid', '테슬라(TESLA)모델X 100D', 'HONDA ACCORD 2.4',
       'TOYOTA SAI하이브리드', 'TESLA MODEL S', 'Accord',
       '도요타 프리우스(PRIUS) 하이브리드', 'TOYOTA PRIUS 하이브리드', 'INSIGHT EX',
       'HONDA  ACCORD', '벤츠ML350', 'Volkswagen Passat',
       'HONDA ACCORD EX-L', 'CC 2.0', 'OPTIMA 하이브리드',
       '도요타프리우스(PRIUS)하이브리드', '테슬라(TESLA)모델S Perfomance',
       'TOYOTA CAMRY HYBRID LE', '크라운 하이브리드', 'TOYOTA CAMRY Hybrid',
       '아폴로(Apollo)전기버스', 'LEXUS CT200H', '토요타야리스(YARIS)',
       '도요타 프리우스(PRIUS 하이브리드)', '이-프리머스(e-PRIMUS)저상전기버스', 'D2C',
       '도요타 캠리하이브리드', '닛산 알티마(ALTIMA 하이브리드)', '포르쉐 카이엔 S 하이브리드',
       '혼다 CR-Z', '프리우스', 'OPTIMA hybrid', '혼다아코드', 'ACCORD LX',
       '포르쉐파나메라S하이브리드(HYBRID)', '어코드SE', 'Toyota Camry Hybrid',
       'LEXUS HYBRID RX450H', '렉서스 RX450h Hybrid', 'CIVIC Hybrid',
       '벤츠S550하이브리드', '현대소나타하이브리드', '캠리하이브리드', 'TOYOTA PRIUS(하이브리드)',
       '혼다오딧세이(ODYSSEY)하이브리드', 'HYUNDAI SONATA 2.4', 'HARRIER HYBRID',
       '피아트500E', '폭스바겐골프(GOLF)GTI', 'HYUNDAI SONATA 하이브리드',
       'Lexus CT200h', 'PRIUS V', 'HYUNDAI SONATA', '쏘나타 하이브리드(HYBRID)',
       'Subaru Outback', 'TOYOTA CAMRY(하이브리드)', 'TOYOTA YARIS HYBRID',
       'FORD FUSION TITANIUM', 'OPTIMA(K5 HYBRID)', 'NISSAN 350GT Hybrid',
       '혼다 어코드LX', '테슬라(TESLA)모델S70D', 'BMW Active Hybrid 7', '혼다 인사이트',
       '혼다어코드EX', 'PORSCHE CAYENNE S HYBRID', 'HANDA ACCORD',
       'HYUNDAI SONATA(하이브리드)', 'LEXUS RX 400 HYBRID AWD',
       'HONDA CR-Z HYBRID', 'GMC YUKON', 'LEXUS HS250h', '기아 옵티마(K5)',
       '테슬라(TESLA)모델S PERFORMANCE', 'JETTA Hybrid', 'BMW  ACTIVEHYBRID 3',
       'BMW750i하이브리드', '쉐보레볼트(VOLT)', '렉서스LS 600HL', '렉서스 LS600HL(하이브리드)',
       'TOYOTA CROWN', '럭세스400', 'LEXUS LS600hl', '혼다 ACCORD LX',
       'HYUNDAI SONATA HYBRID 2.4', 'ACCORD EX-L(어코드)', 'FX116',
       '클릭하이브리드(CLICK)', 'HIGHLANDER HYBRID', '혼다시빅(하이브리드)',
       '벤츠S450 4MATIC', '토요타 프리우스(Prius)', '포르쉐918스파이더(SPIDER)하이브리드',
       'TOYOTA PRIUS PLUS', 'BMW750LI하이브리드', '2007 VOLKSWAGEN PASSAT',
       '시보레 타호이(TAHOE) 하이브리드', 'HONDA FIT', '현대 쏘나타 (SONATA) 하이브리드',
       'VOLKSWAGEN CC SPORT', 'HYUNDAI Sonata Hybrid 2.4',
       'TOYOTA HARRIER HYBRID', '도요타 PRIUS 하이브리드', '토요타 프리우스',
       'LEXUS ES300h', 'VOLKSWAGEN PASSAT 2.5', 'LEXUS RX 400h',
       'Passat 1.8', 'TOYOTA PRIUS v', 'Volkswagen Jetta Hybrid',
       '폭스바겐 RABBIT', '1991 HONDA ACCORD', '918 스파이더',
       '도요타 캠리(CAMRY 하이브리드)', '폭스바겐 파사트(PASSAT)', '폭스바겐 제타',
       'Accord EX-L(어코드)', '토요타RAV4 Hybrid', '인피니티 M35h', '혼다 시빅하이브리드',
       '도요타 프리우스 (하이브리드)', 'CAMRY Hybrid', 'SONATA  Hybrid',
       '혼다어코드(ACCORD)하이브리드', '도요타벨파이어(VELLFIRE)하이브리드',
       'Porsche Cayenne S Hybrid', 'Honda Accord EX-L', '기아 옵티마(K5하이브리드)',
       '골프 GTI', 'CAYENNE S Hybrid', '렉서스 RX450 HYBRID', 'HONDA  FIT',
       'KIA OPTIMA HYBRID', 'TOYOTA 캠리 하이브리드', 'BS110CN',
       '포르쉐카이엔(CAYENNE)', '브이버스', '코란도', '쏘나타 하이브리드 (SONATA HYBRID)',
       'BMW X1 xDrive25i  Advantage', 'BMW X2 xDrive25i Advantage',
       '재규어 F-TYPE P300 Coupe', 'VoltOn', '코나 하이브리드(KONA HYBRID)',
       '하이퍼스에이치 (HYPERS H)', 'VOLKSWAGEN PASSAT SE', 'Model 3 Long Range',
       'Model 3 Performance', 'Model S Long Range', 'Model S Performance',
       'Model X Long Range', 'Model X Performance',
       'Model X Standard Range', 'Model 3 Standard Range Plus RWD',
       'Model S Standard Range', 'MINI Cooper(16 17 18)',
       'MINI Cooper(15)', 'MINI Cooper Clubman(17 18 19)',
       'MINI Cooper five-door(15)', 'MINI Cooper five-door(16 17 18)',
       'TESLA MODEL 3', 'MINI Cooper S(16 17 18)',
       'MINI Cooper S five-door(16 17 18)', 'A3 40 TFSI',
       '벤츠 EQC 400 4MATIC', 'CEVO-C', 'BMW 530i M Sport Package',
       '벤츠 E 300 e', '볼보 XC60T6 AWD', 'Mercedes-Benz E 250',
       '볼보 XC90T6 AWD', 'BMW X2 xDrive20i Advantage',
       'BMW X1 xDrive20i Advantage', '그랜저 하이브리드(GRANDEUR HYBRID)',
       'BMW 530i xDrive M Sport Package', 'MINI Cooper S Clubman (18)',
       'MINI Cooper S Countryman ALL4(18)',
       'BMW X2 xDrive20i M Sport Package',
       'BMW X1 xDrive20i M Sport Package', '바네스(VANESSE)',
       '재규어 F-TYPE P300 Convertible', '레인지로버 이보크 P250',
       'MINI Cooper Countryman(18)', 'MINI Cooper Countryman(17)',
       'HU-SKY', '트레일블레이저 1.35 TURBO AWD', 'FX120',
       '포터Ⅱ 일렉트릭 (PORTERⅡ ELECTRIC)', 'BMW 530e iPerformance Luxury',
       '일렉시티 굴절버스', 'BMW Z4 sDrive20i M Sport Package',
       'MINI John Cooper Works Convertible (17)',
       'BMW Z4 sDrive20i Sport', '트레일블레이저 1.35 TURBO FWD',
       'BMW 330i  M Sport Package', 'BMW 330i xDrive M Sport Package',
       '일진무시동전기냉동탑차', 'BMW 330i Luxury', 'BMW 330i xDrive Luxury',
       'MINI Cooper S Clubman (17 18 19)', 'HYPERS11L', '봉고Ⅲ 1톤 EV',
       '트레일블레이저 1.2 TURBO FWD', 'MINI John Cooper Works (17 18)',
       'Mercedes-Benz S560 e', 'BMW X1 xDrive25i Advantage',
       'BMW X4 xDrive20i M Sport X', '토요타 Prius AWD',
       'Mercedes-Benz E300 e 4MATIC', 'BMW X3 xDrive20i Luxury',
       'BMW X1 xDrive25i M sport Package', 'BMW X4 xDrive20i xLine',
       '렉서스 RX450hL', '쏘렌토 하이브리드',
       'BMW 530e iPerformance M Sport Package', 'BMW 320i',
       'MINI Cooper Countryman(16)', 'BMW 320i Luxury',
       'BMW 320i M Sport Package', 'MINI Cooper Clubman (16)',
       '디스커버리 스포츠 P250', '티볼리', 'BMW X3 xDrive30e xLine',
       'BMW X3 xDrive30e M Sport Package', 'BMW 520i M Sport Package',
       'MINI Cooper Clubman(18)', 'D2P', 'E-SKY',
       'BMW 530e iPerformance M Sport Package(19)', '스마트(SMART)EQ',
       '카운티일렉트릭', 'e-tron 55 quattro', '그린타운 850', 'TESLA X 90D',
       '일레누스(ELENUUS)', '재규어 XE P250', 'TESLA MODEL3', '테슬라(TESLA)모델S',
       'BMW 330e', 'BMW 320i Touring', '시티라이트', 'Peugeot e-208',
       'DS3 CROSSBACK E-TENSE', 'Peugeot e-2008 SUV', 'ZOE',
       '이-스마트(E-SMART)', 'MINI Cooper Countryman(19)',
       '아반떼 Hybrid(AVANTE Hybrid)', '테슬라(TESLA)모델3', '레인지로버 스포츠 P360',
       'NIO ES8', '마이브 M1', '티볼리 에어', 'Mercedes-Benz GLC300 e 4MATIC',
       '테슬라(TESLA)모델X 75D', '투싼 하이브리드(TUCSON HYBRID)',
       'Mercedes-Benz GLC300 e 4MATIC Coupe', 'BMW Z4 sDrive20i',
       'BMW X4 xDrive20i', 'BMW X1 xDrive20i', 'Mercedes-Benz E250',
       'SMART EV Z', '브이버스60', '파워프라자봉고3ev PEACE', 'BMW X3 xDrive20i',
       '타이칸 4S (High)', '타이칸 4S (High. 5인승)', '포트로(POTRO)', 'E-SKY  II',
       '타이칸 4S', 'BYD eBus-12', '브이버스60i', '재규어I-PACE EV400', 'SMART8.7',
       '플러스(PLUS)', 'SMART9.3', 'IZM', '테슬라(TESLA)모델XPerformance',
       '타이칸 4S (5인승)', '테슬라(TESLA)모델S 90D', '영일수소전기순찰차',
       '포르쉐타이칸(TAYCAN)터보S', '포트로-픽업(POTRO-PICK UP)', 'CR-V HYBRID 4WD',
       '테슬라(TESLA)모델S 75', 'Model Y Long Range', 'Model Y Performance',
       '트랙스 1.4', 'BMW 420i Coupe', '코나(KONA)',
       '포터Ⅱ 일렉트릭 내장탑차 (PORTERⅡ ELECTRIC)',
       '포터Ⅱ 일렉트릭 윙바디 (PORTERⅡ ELECTRIC)', '포르쉐타이칸(TAYCAN)터보',
       '포터Ⅱ 일렉트릭 파워게이트 (PORTERⅡ ELECTRIC)', '봉고Ⅲ EV 파워게이트',
       '봉고Ⅲ EV 저상형내장차', '봉고Ⅲ EV 내장차', '봉고Ⅲ EV 윙바디', '포트로-탑(POTRO-TOP)',
       '봉고Ⅲ EV 플러스내장차', '볼보 S90B6 AWD', '토요타 Sienna Hybrid 2WD', '다니고밴',
       '포르쉐타이칸(TAYCAN)4S', 'LSEV', '토요타 Sienna Hybrid AWD',
       '아이오닉5 (IONIQ5)', '일렉시티 이층버스', 'K8', 'K8 하이브리드',
       'e-tron Sportback 50 quattro', 'BMW 420i Convertible',
       '타이칸 터보 S (5인승)', '타이칸 터보 S', 'CEVO-C SE', 'BMW i3 120Ah',
       '아이오닉5(IONIQ5)', 'e-tron 50 quattro', '플러스2.0(카고)', '타이칸 터보',
       '타이칸 터보 (5인승)', 'GREENWAY1100', 'Model Y Standard Range',
       '코란도 e-motion', 'TESLA MODEL S 75', 'SMART110',
       '싼타페 하이브리드(SANTAFE HYBRID)', '아폴로(APOLLO)900전기버스',
       'BMW X3 xDrive30e', 'G80', '크린텍전기노면청소및살수차', 'MG ZS EV',
       'TESLA MODEL X', 'E-SKY  11', 'TESLA MODEL X 100D',
       'Mercedes-Benz EQA250', 'MINI John Cooper Works',
       '재규어 F-Type P300 Convertible', '재규어 F-Type P300 Coupe', '스파크 1.0',
       'EV6', 'CHEVROLET BOLT EUV', '스포티지 하이브리드', '스파크밴 1.0',
       'BYD eBus-9', 'e-tron Sportback 55 quattro',
       '파워프라자봉고3ev PEACE 더블캡', '타이칸 크로스 투리스모 터보 (5인승)',
       '포드머스탱(MUSTANG)마하E', '타이칸 (High. 5인승)', '타이칸', 'E-SKY 9',
       '타이칸 (High)', '마스타(MASTA)HIM', 'ELFE', '대덕노면청소차',
       'BMW iX3 M Sport', '타이칸 (5인승)', 'GV60', 'BMW iX xDrive40',
       '현대에버다임양방향인명구조차', 'BMW iX xDrive50', 'PORSCHE TAYCAN',
       'Mercedes-Benz EQS450 +', 'SMART T1.0', '나눔순찰차',
       '타이칸 크로스 투리스모 (5인승)', '브이버스90N', '시티라이트 II', 'HYPERS1611',
       'LIONNE', 'e-tron GT quattro', 'RS e-tron GT',
       '포트로-탑S(POTRO-TOP S)', 'NEW BYD eBus-12', '비바', '엑시언트 수소전기트럭 윙바디',
       'TAYCAN 4S', '신광재난현장지휘차', 'Mercedes-Benz EQC400 4MATIC',
       'Polestar 2 Long Range Single Motor', 'HYPERS1609',
       '볼보 XC40 Recharge Twin', '카운티일렉트릭 어린이운송차',
       'Polestar 2 Long Range Dual Motor', '포트로-픽업S(POTRO-PICK UP S)',
       '볼보 C40 Recharge Twin', 'MASADA 2밴', 'BMW i4 eDrive40',
       '포터Ⅱ 일렉트릭 윙바디(PORTERⅡ ELECTRIC)', '포터Ⅱ 일렉트릭 내장탑(PORTERⅡ ELECTRIC)',
       'MINI Cooper SE', '포터Ⅱ 일렉트릭 파워게이트(PORTERⅡ ELECTRIC)', '젤라',
       '타이칸 크로스 투리스모', 'BMW i4 M50', 'YJ전기노면청소차', '타이칸 크로스 투리스모 4S',
       '니로 플러스', 'Mercedes-Benz EQS350', 'GV70', '렉서스 UX300e',
       'GREENWAY720', 'MASADA 4밴', '타이칸 크로스 투리스모 4S (5인승)', '그린타운플러스',
       '시티라이트9', 'e-tron S', '테슬라로드스터(ROADSTER)', 'e-tron S Sportback',
       'ModelX Long Range Plus', 'GMC허머(HUMMER)EV EDITION1',
       'TESLA MODEL X90D', '한국드론이동관제차', '에픽시티', '에바다이동홍보차',
       'NEW BYD eBus-7', 'Mercedes-Benz EQB300 4MATIC', 'Model 3 RWD',
       '타이칸 크로스 투리스모 터보'], dtype=object)

In [140]:
df.shape

(2550090, 40)

In [141]:
df['차명'][:5]

0                    쏘나타(SONATA)
1    그랜저 하이브리드 (GRANDEUR HYBRID)
2                  그랜저(GRANDEUR)
3                    쏘나타(SONATA)
4                       K5 하이브리드
Name: 차명, dtype: object

In [142]:
except_car_name_idx = []
for i, s in tqdm(enumerate(df['차명'].to_list())):
    if ('하이브리드' in s) or ('Hybrid' in s) or ('HYBRID' in s) or ('수소' in s):
        except_car_name_idx.append(i)
len(except_car_name_idx), except_car_name_idx[:5]

2550090it [00:01, 2336050.03it/s]

(765735, [1, 4, 10, 11, 16])

In [143]:
except_car_name_idx[-5:]

[2550059, 2550060, 2550061, 2550062, 2550063]

In [144]:
df['차명'][[2550059, 2550060, 2550061, 2550062, 2550063]]

2550059    코나 하이브리드(KONA HYBRID)
2550060                 K5 하이브리드
2550061                 K5 하이브리드
2550062                 K5 하이브리드
2550063                 K5 하이브리드
Name: 차명, dtype: object

In [145]:
sort_by_carname = df.drop(except_car_name_idx).reset_index(drop=True)
sort_by_carname.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1784355 entries, 0 to 1784354
Data columns (total 40 columns):
 #   Column       Dtype
---  ------       -----
 0   차량관리번호       object
 1   차량등록번호       object
 2   본거지법정동코드     int64
 3   소유자구분        object
 4   차종_등록정보      object
 5   용도           object
 6   차대번호         object
 7   최초등록일자       int64
 8   차량연식         int64
 9   차량제작일자       float64
 10  검사유효일        int64
 11  제원관리번호       object
 12  배출가스인증번호     object
 13  배출가스등급       int64
 14  저공해조치종류      float64
 15  저공해조치구조변경YN  object
 16  차량말소YN       object
 17  취득일자         float64
 18  취득금액         float64
 19  차명           object
 20  차종_제원정보      object
 21  차종분류         object
 22  차종유형         object
 23  자동차형식        object
 24  제작사명         object
 25  연료           object
 26  엔진형식         object
 27  총중량          float64
 28  적재중량         float64
 29  엔진출력         float64
 30  배기량          float64
 31  승차인원         int64
 32  차량길이         int64
 33  차량너비         int64
 34  차량높이         int64
 35  원산지명         object
 36  삭제YN         object
 37  제원승인일자       int64
 38  구동형식         object
 39  변속기종류        object
dtypes: float64(8), int64(10), object(22)
memory usage: 544.5+ MB

### 연료로 정리
- 연료명으로 정리
    - "전기"만 추출
- 원본 샘플 수 : 2,550,090 개
- 차명으로 정리 후 남은 샘플 수 : 1,784,355 개
- 연료명으로 정리 후 남은 샘플 수 : 298,605 개

In [146]:
sort_by_carname['연료'].unique()

array(['LPG(액화석유가스)', '휘발유', '휘발유 하이브리드', '전기', '수소'], dtype=object)

In [147]:
sort_by_carname[sort_by_carname['연료'] == '전기']['차명'].unique()

array(['코나 일렉트릭 (KONA ELECTRIC)', 'TWIZY', 'BMW i3',
       '아이오닉 일렉트릭(IONIQ ELECTRIC)', '쏘울 EV', 'CHEVROLET BOLT EV',
       'SM3 Z.E.', '니로 EV', 'Model S 100D', '엔비온', 'LEAF', 'D2', '쏘울 전기차',
       'Model S 75D', 'Model S 90D', '아폴로(Apollo)1100전기버스',
       'Model X 100D', 'Danigo', '레이 전기차', '일렉시티(ELEC CITY)',
       'BMW i3 94Ah', '재규어 I-PACE EV400', '아데오나(ADEONA)', '그린어스',
       '체인지(CHANGE)', '이-화이버드(eFIBIRD)', '리프', '스파크 EV', '블루온 (BLUEON)',
       '스마트(SMART)ED', '마스타(MASTA)VAN', 'HYPERS', 'BMW i3 120Ah SOL plus',
       '파워프라자라보ev PEACE', '테슬라(TESLA)모델S P85D', '테슬라(TESLA)모델X100D',
       'Model S P100D', 'BYD eBus-7', '이텍진공식소형전기노면청소차', 'Model X 75D',
       '매그넘(MAGNUM)', '테슬라(TESLA)모델S P85', 'Model X P100D',
       '제인모터스칼마토EV1톤내장탑차', 'BMW i3 120Ah LUX', '배터리교환식전기버스', '다니고3',
       'CHANGE', '씨티앤티 이존(e-ZONE)', '씨티앤티이존(e-ZONE)', 'E6',
       '스마트(SMART)ED카브리오', '테슬라(TESLA)모델X 100D', 'TESLA MODEL S',
       '테슬라(TESLA)모델S Perfomance', '아폴로(Apollo)전기버스',
       '이-프리머스(e-PRIMUS)저상전기버스', 'D2C', '피아트500E', '테슬라(TESLA)모델S70D',
       '테슬라(TESLA)모델S PERFORMANCE', 'FX116', 'BS110CN', '브이버스', 'VoltOn',
       '하이퍼스에이치 (HYPERS H)', 'Model 3 Long Range', 'Model 3 Performance',
       'Model S Long Range', 'Model S Performance', 'Model X Long Range',
       'Model X Performance', 'Model X Standard Range',
       'Model 3 Standard Range Plus RWD', 'Model S Standard Range',
       'TESLA MODEL 3', '벤츠 EQC 400 4MATIC', 'CEVO-C', '바네스(VANESSE)',
       'HU-SKY', 'FX120', '포터Ⅱ 일렉트릭 (PORTERⅡ ELECTRIC)', '일렉시티 굴절버스',
       '일진무시동전기냉동탑차', 'HYPERS11L', '봉고Ⅲ 1톤 EV', 'D2P', 'E-SKY',
       '스마트(SMART)EQ', '카운티일렉트릭', 'e-tron 55 quattro', '그린타운 850',
       'TESLA X 90D', '일레누스(ELENUUS)', 'TESLA MODEL3', '테슬라(TESLA)모델S',
       '시티라이트', 'Peugeot e-208', 'DS3 CROSSBACK E-TENSE',
       'Peugeot e-2008 SUV', 'ZOE', '이-스마트(E-SMART)', '테슬라(TESLA)모델3',
       'NIO ES8', '마이브 M1', '테슬라(TESLA)모델X 75D', 'SMART EV Z', '브이버스60',
       '파워프라자봉고3ev PEACE', '타이칸 4S (High)', '타이칸 4S (High. 5인승)',
       '포트로(POTRO)', 'E-SKY  II', '타이칸 4S', 'BYD eBus-12', '브이버스60i',
       '재규어I-PACE EV400', 'SMART8.7', '플러스(PLUS)', 'SMART9.3', 'IZM',
       '테슬라(TESLA)모델XPerformance', '타이칸 4S (5인승)', '테슬라(TESLA)모델S 90D',
       '포르쉐타이칸(TAYCAN)터보S', '포트로-픽업(POTRO-PICK UP)', '테슬라(TESLA)모델S 75',
       'Model Y Long Range', 'Model Y Performance',
       '포터Ⅱ 일렉트릭 내장탑차 (PORTERⅡ ELECTRIC)',
       '포터Ⅱ 일렉트릭 윙바디 (PORTERⅡ ELECTRIC)', '포르쉐타이칸(TAYCAN)터보',
       '포터Ⅱ 일렉트릭 파워게이트 (PORTERⅡ ELECTRIC)', '봉고Ⅲ EV 파워게이트',
       '봉고Ⅲ EV 저상형내장차', '봉고Ⅲ EV 내장차', '봉고Ⅲ EV 윙바디', '포트로-탑(POTRO-TOP)',
       '봉고Ⅲ EV 플러스내장차', '다니고밴', '포르쉐타이칸(TAYCAN)4S', 'LSEV',
       '아이오닉5 (IONIQ5)', '일렉시티 이층버스', 'e-tron Sportback 50 quattro',
       '타이칸 터보 S (5인승)', '타이칸 터보 S', 'CEVO-C SE', 'BMW i3 120Ah',
       '아이오닉5(IONIQ5)', 'e-tron 50 quattro', '플러스2.0(카고)', '타이칸 터보',
       '타이칸 터보 (5인승)', 'GREENWAY1100', 'Model Y Standard Range',
       '코란도 e-motion', 'TESLA MODEL S 75', 'SMART110',
       '아폴로(APOLLO)900전기버스', 'G80', '크린텍전기노면청소및살수차', 'MG ZS EV',
       'TESLA MODEL X', 'E-SKY  11', 'TESLA MODEL X 100D',
       'Mercedes-Benz EQA250', 'EV6', 'CHEVROLET BOLT EUV', 'BYD eBus-9',
       'e-tron Sportback 55 quattro', '파워프라자봉고3ev PEACE 더블캡',
       '타이칸 크로스 투리스모 터보 (5인승)', '포드머스탱(MUSTANG)마하E', '타이칸 (High. 5인승)',
       '타이칸', 'E-SKY 9', '타이칸 (High)', '마스타(MASTA)HIM', 'ELFE', '대덕노면청소차',
       'BMW iX3 M Sport', '타이칸 (5인승)', 'GV60', 'BMW iX xDrive40',
       '현대에버다임양방향인명구조차', 'BMW iX xDrive50', 'PORSCHE TAYCAN',
       'Mercedes-Benz EQS450 +', 'SMART T1.0', '나눔순찰차',
       '타이칸 크로스 투리스모 (5인승)', '브이버스90N', '시티라이트 II', 'HYPERS1611',
       'LIONNE', 'e-tron GT quattro', 'RS e-tron GT',
       '포트로-탑S(POTRO-TOP S)', 'NEW BYD eBus-12', '비바', 'TAYCAN 4S',
       '신광재난현장지휘차', 'Mercedes-Benz EQC400 4MATIC',
       'Polestar 2 Long Range Single Motor', 'HYPERS1609',
       '볼보 XC40 Recharge Twin', '카운티일렉트릭 어린이운송차',
       'Polestar 2 Long Range Dual Motor', '포트로-픽업S(POTRO-PICK UP S)',
       '볼보 C40 Recharge Twin', 'MASADA 2밴', 'BMW i4 eDrive40',
       '포터Ⅱ 일렉트릭 윙바디(PORTERⅡ ELECTRIC)', '포터Ⅱ 일렉트릭 내장탑(PORTERⅡ ELECTRIC)',
       'MINI Cooper SE', '포터Ⅱ 일렉트릭 파워게이트(PORTERⅡ ELECTRIC)', '젤라',
       '타이칸 크로스 투리스모', 'BMW i4 M50', 'YJ전기노면청소차', '타이칸 크로스 투리스모 4S',
       '니로 플러스', 'Mercedes-Benz EQS350', 'GV70', '렉서스 UX300e',
       'GREENWAY720', 'MASADA 4밴', '타이칸 크로스 투리스모 4S (5인승)', '그린타운플러스',
       '시티라이트9', 'e-tron S', '테슬라로드스터(ROADSTER)', 'e-tron S Sportback',
       'ModelX Long Range Plus', 'GMC허머(HUMMER)EV EDITION1',
       'TESLA MODEL X90D', '한국드론이동관제차', '에픽시티', '에바다이동홍보차',
       'NEW BYD eBus-7', 'Mercedes-Benz EQB300 4MATIC', 'Model 3 RWD',
       '타이칸 크로스 투리스모 터보'], dtype=object)

In [148]:
sort_by_fuel = sort_by_carname[sort_by_carname['연료'] == '전기'].reset_index(drop=True)
sort_by_fuel.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 298605 entries, 0 to 298604
Data columns (total 40 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   차량관리번호       298605 non-null  object
 1   차량등록번호       298605 non-null  object
 2   본거지법정동코드     298605 non-null  int64
 3   소유자구분        298605 non-null  object
 4   차종_등록정보      298605 non-null  object
 5   용도           298605 non-null  object
 6   차대번호         298605 non-null  object
 7   최초등록일자       298605 non-null  int64
 8   차량연식         298605 non-null  int64
 9   차량제작일자       298605 non-null  float64
 10  검사유효일        298605 non-null  int64
 11  제원관리번호       298605 non-null  object
 12  배출가스인증번호     158296 non-null  object
 13  배출가스등급       298605 non-null  int64
 14  저공해조치종류      0 non-null       float64
 15  저공해조치구조변경YN  298605 non-null  object
 16  차량말소YN       298605 non-null  object
 17  취득일자         298605 non-null  float64
 18  취득금액         298605 non-null  float64
 19  차명           298605 non-null  object
 20  차종_제원정보      298605 non-null  object
 21  차종분류         298605 non-null  object
 22  차종유형         298605 non-null  object
 23  자동차형식        298605 non-null  object
 24  제작사명         298605 non-null  object
 25  연료           298605 non-null  object
 26  엔진형식         298605 non-null  object
 27  총중량          298605 non-null  float64
 28  적재중량         203628 non-null  float64
 29  엔진출력         298605 non-null  float64
 30  배기량          298605 non-null  float64
 31  승차인원         298605 non-null  int64
 32  차량길이         298605 non-null  int64
 33  차량너비         298605 non-null  int64
 34  차량높이         298605 non-null  int64
 35  원산지명         298605 non-null  object
 36  삭제YN         298605 non-null  object
 37  제원승인일자       298605 non-null  int64
 38  구동형식         264700 non-null  object
 39  변속기종류        298605 non-null  object
dtypes: float64(8), int64(10), object(22)
memory usage: 91.1+ MB

### 대여사업용 차 제거
- 차량등록번호로 정리
    - 제거 할 값
        - 대여사업용 : 허, 하, 호
- 원본 샘플 수 : 2,550,090 개
- 차명으로 정리 후 남은 샘플 수 : 1,784,355 개
- 연료명으로 정리 후 남은 샘플 수 : 298,605 개
- 대여사업용 제외 후 남은 샘플 수 : 258,989 개

In [149]:
sort_by_fuel.iloc[:5, :10]

,차량관리번호,차량등록번호,본거지법정동코드,소유자구분,차종_등록정보,용도,차대번호,최초등록일자,차량연식,차량제작일자
0,KMHK381GFKU010663-01,63마6218,4311425344,주민,승용,자가용,KMHK381GFKU010663,20181022,2019,20181015.0
1,VF1ACVYB2KW597080-01,46더2154,4159036025,외국인,승용,자가용,VF1ACVYB2KW597080,20190307,2019,20181008.0
2,WBY1Z2102EVZ61650-01,32우3353,1111010100,주민,승용,자가용,WBY1Z2102EVZ61650,20150319,2014,20140506.0
3,KMHC051HFHU000852-01,40어0433,5013025021,주민,승용,자가용,KMHC051HFHU000852,20160902,2017,20160629.0
4,KMHC051HFHU003725-01,06머0310,2826011000,법인,승용,자가용,KMHC051HFHU003725,20161107,2017,20161101.0

In [150]:
except_carnum_idx = []
for i, s in tqdm(enumerate(sort_by_fuel['차량등록번호'].to_list())):
    if ('허' in s) or ('하' in s) or ('호' in s):
        except_carnum_idx.append(i)
len(except_carnum_idx), except_carnum_idx[:5]

298605it [00:00, 2150303.80it/s]

(39616, [13, 24, 30, 53, 62])

In [151]:
sort_by_fuel['차량등록번호'][[13, 24, 30, 53, 62]]

13    28하6183
24    10호8167
30    51하4605
53    14허8967
62    68하5981
Name: 차량등록번호, dtype: object

In [157]:
sort_by_carnum = sort_by_fuel.drop(except_carnum_idx).reset_index(drop=True)
sort_by_carnum.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 258989 entries, 0 to 258988
Data columns (total 40 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   차량관리번호       258989 non-null  object
 1   차량등록번호       258989 non-null  object
 2   본거지법정동코드     258989 non-null  int64
 3   소유자구분        258989 non-null  object
 4   차종_등록정보      258989 non-null  object
 5   용도           258989 non-null  object
 6   차대번호         258989 non-null  object
 7   최초등록일자       258989 non-null  int64
 8   차량연식         258989 non-null  int64
 9   차량제작일자       258989 non-null  float64
 10  검사유효일        258989 non-null  int64
 11  제원관리번호       258989 non-null  object
 12  배출가스인증번호     141585 non-null  object
 13  배출가스등급       258989 non-null  int64
 14  저공해조치종류      0 non-null       float64
 15  저공해조치구조변경YN  258989 non-null  object
 16  차량말소YN       258989 non-null  object
 17  취득일자         258989 non-null  float64
 18  취득금액         258989 non-null  float64
 19  차명           258989 non-null  object
 20  차종_제원정보      258989 non-null  object
 21  차종분류         258989 non-null  object
 22  차종유형         258989 non-null  object
 23  자동차형식        258989 non-null  object
 24  제작사명         258989 non-null  object
 25  연료           258989 non-null  object
 26  엔진형식         258989 non-null  object
 27  총중량          258989 non-null  float64
 28  적재중량         183564 non-null  float64
 29  엔진출력         258989 non-null  float64
 30  배기량          258989 non-null  float64
 31  승차인원         258989 non-null  int64
 32  차량길이         258989 non-null  int64
 33  차량너비         258989 non-null  int64
 34  차량높이         258989 non-null  int64
 35  원산지명         258989 non-null  object
 36  삭제YN         258989 non-null  object
 37  제원승인일자       258989 non-null  int64
 38  구동형식         227801 non-null  object
 39  변속기종류        258989 non-null  object
dtypes: float64(8), int64(10), object(22)
memory usage: 79.0+ MB

In [158]:
sort_by_carnum.iloc[:3, :10]

,차량관리번호,차량등록번호,본거지법정동코드,소유자구분,차종_등록정보,용도,차대번호,최초등록일자,차량연식,차량제작일자
0,KMHK381GFKU010663-01,63마6218,4311425344,주민,승용,자가용,KMHK381GFKU010663,20181022,2019,20181015.0
1,VF1ACVYB2KW597080-01,46더2154,4159036025,외국인,승용,자가용,VF1ACVYB2KW597080,20190307,2019,20181008.0
2,WBY1Z2102EVZ61650-01,32우3353,1111010100,주민,승용,자가용,WBY1Z2102EVZ61650,20150319,2014,20140506.0

In [59]:
%%time
sort_by_carnum.to_excel('data/220819_22.06월기준_1등급_순수전기차.xlsx', encoding='utf-8', index=False)

Wall time: 2min 20s

### 대여사업용 차

In [153]:
rent_car = sort_by_fuel.iloc[except_carnum_idx].reset_index(drop=True)
rent_car.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39616 entries, 0 to 39615
Data columns (total 40 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   차량관리번호       39616 non-null  object
 1   차량등록번호       39616 non-null  object
 2   본거지법정동코드     39616 non-null  int64
 3   소유자구분        39616 non-null  object
 4   차종_등록정보      39616 non-null  object
 5   용도           39616 non-null  object
 6   차대번호         39616 non-null  object
 7   최초등록일자       39616 non-null  int64
 8   차량연식         39616 non-null  int64
 9   차량제작일자       39616 non-null  float64
 10  검사유효일        39616 non-null  int64
 11  제원관리번호       39616 non-null  object
 12  배출가스인증번호     16711 non-null  object
 13  배출가스등급       39616 non-null  int64
 14  저공해조치종류      0 non-null      float64
 15  저공해조치구조변경YN  39616 non-null  object
 16  차량말소YN       39616 non-null  object
 17  취득일자         39616 non-null  float64
 18  취득금액         39616 non-null  float64
 19  차명           39616 non-null  object
 20  차종_제원정보      39616 non-null  object
 21  차종분류         39616 non-null  object
 22  차종유형         39616 non-null  object
 23  자동차형식        39616 non-null  object
 24  제작사명         39616 non-null  object
 25  연료           39616 non-null  object
 26  엔진형식         39616 non-null  object
 27  총중량          39616 non-null  float64
 28  적재중량         20064 non-null  float64
 29  엔진출력         39616 non-null  float64
 30  배기량          39616 non-null  float64
 31  승차인원         39616 non-null  int64
 32  차량길이         39616 non-null  int64
 33  차량너비         39616 non-null  int64
 34  차량높이         39616 non-null  int64
 35  원산지명         39616 non-null  object
 36  삭제YN         39616 non-null  object
 37  제원승인일자       39616 non-null  int64
 38  구동형식         36899 non-null  object
 39  변속기종류        39616 non-null  object
dtypes: float64(8), int64(10), object(22)
memory usage: 12.1+ MB

## 지역별 전기차 대수 통계
- 본거지법정동코드 활용

In [62]:
code = pd.read_table('data/법정동코드_전체자료.txt', sep='\t', encoding='EUC-kr')
code.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 46340 entries, 0 to 46339
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   법정동코드   46340 non-null  int64
 1   법정동명    46340 non-null  object
 2   폐지여부    46340 non-null  object
dtypes: int64(1), object(2)
memory usage: 1.1+ MB

In [63]:
code.head()

        법정동코드           법정동명 폐지여부
0  1100000000          서울특별시   존재
1  1111000000      서울특별시 종로구   존재
2  1111010100  서울특별시 종로구 청운동   존재
3  1111010200  서울특별시 종로구 신교동   존재
4  1111010300  서울특별시 종로구 궁정동   존재

In [65]:
code2 = code[code['폐지여부'] == '존재'].reset_index(drop=True)
code2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20550 entries, 0 to 20549
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   법정동코드   20550 non-null  int64
 1   법정동명    20550 non-null  object
 2   폐지여부    20550 non-null  object
dtypes: int64(1), object(2)
memory usage: 481.8+ KB

In [67]:
code[code['법정동코드'] == 4311425344]

            법정동코드                 법정동명 폐지여부
14451  4311425344  충청북도 청주시 청원구 오창읍 각리   존재

In [154]:
code2[code2['법정동코드'] == 4311425344]

           법정동코드                 법정동명 폐지여부
6100  4311425344  충청북도 청주시 청원구 오창읍 각리   존재

In [68]:
code[code['법정동코드'] == 4159036025]

           법정동코드             법정동명 폐지여부
7172  4159036025  경기도 화성시 팔탄면 구장리   존재

In [155]:
code2[code2['법정동코드'] == 4159036025]

           법정동코드             법정동명 폐지여부
3559  4159036025  경기도 화성시 팔탄면 구장리   존재

In [69]:
code[code['법정동코드'] == 1111010100]

        법정동코드           법정동명 폐지여부
2  1111010100  서울특별시 종로구 청운동   존재

In [156]:
code2[code2['법정동코드'] == 1111010100]

        법정동코드           법정동명 폐지여부
2  1111010100  서울특별시 종로구 청운동   존재

In [70]:
merge_by_code = sort_by_carnum.merge(code, how='left', left_on='본거지법정동코드', right_on='법정동코드')
merge_by_code[['본거지법정동코드', '법정동명']].head()

     본거지법정동코드                  법정동명
0  4311425344   충청북도 청주시 청원구 오창읍 각리
1  4159036025       경기도 화성시 팔탄면 구장리
2  1111010100         서울특별시 종로구 청운동
3  5013025021  제주특별자치도 서귀포시 대정읍 상모리
4  2826011000          인천광역시 서구 석남동

In [159]:
merge_by_code2 = sort_by_carnum.merge(code2, how='left', left_on='본거지법정동코드', right_on='법정동코드')
merge_by_code2[['본거지법정동코드', '법정동명']].head()

     본거지법정동코드                  법정동명
0  4311425344   충청북도 청주시 청원구 오창읍 각리
1  4159036025       경기도 화성시 팔탄면 구장리
2  1111010100         서울특별시 종로구 청운동
3  5013025021  제주특별자치도 서귀포시 대정읍 상모리
4  2826011000          인천광역시 서구 석남동

In [162]:
rent_car_merge_by_code = rent_car.merge(code, how='left', left_on='본거지법정동코드', right_on='법정동코드')
rent_car_merge_by_code[['본거지법정동코드', '법정동명']].head()

     본거지법정동코드              법정동명
0  5011010900  제주특별자치도 제주시 용담이동
1  1162010100     서울특별시 관악구 봉천동
2  5011012700  제주특별자치도 제주시 도두일동
3  1168010600     서울특별시 강남구 대치동
4  4113510300   경기도 성남시 분당구 정자동

In [71]:
merge_by_code.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 258989 entries, 0 to 258988
Data columns (total 43 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   차량관리번호       258989 non-null  object
 1   차량등록번호       258989 non-null  object
 2   본거지법정동코드     258989 non-null  int64
 3   소유자구분        258989 non-null  object
 4   차종_등록정보      258989 non-null  object
 5   용도           258989 non-null  object
 6   차대번호         258989 non-null  object
 7   최초등록일자       258989 non-null  int64
 8   차량연식         258989 non-null  int64
 9   차량제작일자       258989 non-null  float64
 10  검사유효일        258989 non-null  int64
 11  제원관리번호       258989 non-null  object
 12  배출가스인증번호     141585 non-null  object
 13  배출가스등급       258989 non-null  int64
 14  저공해조치종류      0 non-null       float64
 15  저공해조치구조변경YN  258989 non-null  object
 16  차량말소YN       258989 non-null  object
 17  취득일자         258989 non-null  float64
 18  취득금액         258989 non-null  float64
 19  차명           258989 non-null  object
 20  차종_제원정보      258989 non-null  object
 21  차종분류         258989 non-null  object
 22  차종유형         258989 non-null  object
 23  자동차형식        258989 non-null  object
 24  제작사명         258989 non-null  object
 25  연료           258989 non-null  object
 26  엔진형식         258989 non-null  object
 27  총중량          258989 non-null  float64
 28  적재중량         183564 non-null  float64
 29  엔진출력         258989 non-null  float64
 30  배기량          258989 non-null  float64
 31  승차인원         258989 non-null  int64
 32  차량길이         258989 non-null  int64
 33  차량너비         258989 non-null  int64
 34  차량높이         258989 non-null  int64
 35  원산지명         258989 non-null  object
 36  삭제YN         258989 non-null  object
 37  제원승인일자       258989 non-null  int64
 38  구동형식         227801 non-null  object
 39  변속기종류        258989 non-null  object
 40  법정동코드        258989 non-null  int64
 41  법정동명         258989 non-null  object
 42  폐지여부         258989 non-null  object
dtypes: float64(8), int64(11), object(24)
memory usage: 86.9+ MB

In [160]:
merge_by_code2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 258989 entries, 0 to 258988
Data columns (total 43 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   차량관리번호       258989 non-null  object
 1   차량등록번호       258989 non-null  object
 2   본거지법정동코드     258989 non-null  int64
 3   소유자구분        258989 non-null  object
 4   차종_등록정보      258989 non-null  object
 5   용도           258989 non-null  object
 6   차대번호         258989 non-null  object
 7   최초등록일자       258989 non-null  int64
 8   차량연식         258989 non-null  int64
 9   차량제작일자       258989 non-null  float64
 10  검사유효일        258989 non-null  int64
 11  제원관리번호       258989 non-null  object
 12  배출가스인증번호     141585 non-null  object
 13  배출가스등급       258989 non-null  int64
 14  저공해조치종류      0 non-null       float64
 15  저공해조치구조변경YN  258989 non-null  object
 16  차량말소YN       258989 non-null  object
 17  취득일자         258989 non-null  float64
 18  취득금액         258989 non-null  float64
 19  차명           258989 non-null  object
 20  차종_제원정보      258989 non-null  object
 21  차종분류         258989 non-null  object
 22  차종유형         258989 non-null  object
 23  자동차형식        258989 non-null  object
 24  제작사명         258989 non-null  object
 25  연료           258989 non-null  object
 26  엔진형식         258989 non-null  object
 27  총중량          258989 non-null  float64
 28  적재중량         183564 non-null  float64
 29  엔진출력         258989 non-null  float64
 30  배기량          258989 non-null  float64
 31  승차인원         258989 non-null  int64
 32  차량길이         258989 non-null  int64
 33  차량너비         258989 non-null  int64
 34  차량높이         258989 non-null  int64
 35  원산지명         258989 non-null  object
 36  삭제YN         258989 non-null  object
 37  제원승인일자       258989 non-null  int64
 38  구동형식         227801 non-null  object
 39  변속기종류        258989 non-null  object
 40  법정동코드        258508 non-null  float64
 41  법정동명         258508 non-null  object
 42  폐지여부         258508 non-null  object
dtypes: float64(9), int64(10), object(24)
memory usage: 86.9+ MB

In [161]:
merge_by_code2['법정동명'].isnull().sum()

481

In [163]:
rent_car_merge_by_code.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 39616 entries, 0 to 39615
Data columns (total 43 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   차량관리번호       39616 non-null  object
 1   차량등록번호       39616 non-null  object
 2   본거지법정동코드     39616 non-null  int64
 3   소유자구분        39616 non-null  object
 4   차종_등록정보      39616 non-null  object
 5   용도           39616 non-null  object
 6   차대번호         39616 non-null  object
 7   최초등록일자       39616 non-null  int64
 8   차량연식         39616 non-null  int64
 9   차량제작일자       39616 non-null  float64
 10  검사유효일        39616 non-null  int64
 11  제원관리번호       39616 non-null  object
 12  배출가스인증번호     16711 non-null  object
 13  배출가스등급       39616 non-null  int64
 14  저공해조치종류      0 non-null      float64
 15  저공해조치구조변경YN  39616 non-null  object
 16  차량말소YN       39616 non-null  object
 17  취득일자         39616 non-null  float64
 18  취득금액         39616 non-null  float64
 19  차명           39616 non-null  object
 20  차종_제원정보      39616 non-null  object
 21  차종분류         39616 non-null  object
 22  차종유형         39616 non-null  object
 23  자동차형식        39616 non-null  object
 24  제작사명         39616 non-null  object
 25  연료           39616 non-null  object
 26  엔진형식         39616 non-null  object
 27  총중량          39616 non-null  float64
 28  적재중량         20064 non-null  float64
 29  엔진출력         39616 non-null  float64
 30  배기량          39616 non-null  float64
 31  승차인원         39616 non-null  int64
 32  차량길이         39616 non-null  int64
 33  차량너비         39616 non-null  int64
 34  차량높이         39616 non-null  int64
 35  원산지명         39616 non-null  object
 36  삭제YN         39616 non-null  object
 37  제원승인일자       39616 non-null  int64
 38  구동형식         36899 non-null  object
 39  변속기종류        39616 non-null  object
 40  법정동코드        39616 non-null  int64
 41  법정동명         39616 non-null  object
 42  폐지여부         39616 non-null  object
dtypes: float64(8), int64(11), object(24)
memory usage: 13.3+ MB

In [72]:
merge_by_code = merge_by_code.drop(['폐지여부'], axis=1)
merge_by_code.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 258989 entries, 0 to 258988
Data columns (total 42 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   차량관리번호       258989 non-null  object
 1   차량등록번호       258989 non-null  object
 2   본거지법정동코드     258989 non-null  int64
 3   소유자구분        258989 non-null  object
 4   차종_등록정보      258989 non-null  object
 5   용도           258989 non-null  object
 6   차대번호         258989 non-null  object
 7   최초등록일자       258989 non-null  int64
 8   차량연식         258989 non-null  int64
 9   차량제작일자       258989 non-null  float64
 10  검사유효일        258989 non-null  int64
 11  제원관리번호       258989 non-null  object
 12  배출가스인증번호     141585 non-null  object
 13  배출가스등급       258989 non-null  int64
 14  저공해조치종류      0 non-null       float64
 15  저공해조치구조변경YN  258989 non-null  object
 16  차량말소YN       258989 non-null  object
 17  취득일자         258989 non-null  float64
 18  취득금액         258989 non-null  float64
 19  차명           258989 non-null  object
 20  차종_제원정보      258989 non-null  object
 21  차종분류         258989 non-null  object
 22  차종유형         258989 non-null  object
 23  자동차형식        258989 non-null  object
 24  제작사명         258989 non-null  object
 25  연료           258989 non-null  object
 26  엔진형식         258989 non-null  object
 27  총중량          258989 non-null  float64
 28  적재중량         183564 non-null  float64
 29  엔진출력         258989 non-null  float64
 30  배기량          258989 non-null  float64
 31  승차인원         258989 non-null  int64
 32  차량길이         258989 non-null  int64
 33  차량너비         258989 non-null  int64
 34  차량높이         258989 non-null  int64
 35  원산지명         258989 non-null  object
 36  삭제YN         258989 non-null  object
 37  제원승인일자       258989 non-null  int64
 38  구동형식         227801 non-null  object
 39  변속기종류        258989 non-null  object
 40  법정동코드        258989 non-null  int64
 41  법정동명         258989 non-null  object
dtypes: float64(8), int64(11), object(23)
memory usage: 85.0+ MB

In [164]:
rent_car_merge_by_code = rent_car_merge_by_code.drop(['폐지여부'], axis=1)
rent_car_merge_by_code.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 39616 entries, 0 to 39615
Data columns (total 42 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   차량관리번호       39616 non-null  object
 1   차량등록번호       39616 non-null  object
 2   본거지법정동코드     39616 non-null  int64
 3   소유자구분        39616 non-null  object
 4   차종_등록정보      39616 non-null  object
 5   용도           39616 non-null  object
 6   차대번호         39616 non-null  object
 7   최초등록일자       39616 non-null  int64
 8   차량연식         39616 non-null  int64
 9   차량제작일자       39616 non-null  float64
 10  검사유효일        39616 non-null  int64
 11  제원관리번호       39616 non-null  object
 12  배출가스인증번호     16711 non-null  object
 13  배출가스등급       39616 non-null  int64
 14  저공해조치종류      0 non-null      float64
 15  저공해조치구조변경YN  39616 non-null  object
 16  차량말소YN       39616 non-null  object
 17  취득일자         39616 non-null  float64
 18  취득금액         39616 non-null  float64
 19  차명           39616 non-null  object
 20  차종_제원정보      39616 non-null  object
 21  차종분류         39616 non-null  object
 22  차종유형         39616 non-null  object
 23  자동차형식        39616 non-null  object
 24  제작사명         39616 non-null  object
 25  연료           39616 non-null  object
 26  엔진형식         39616 non-null  object
 27  총중량          39616 non-null  float64
 28  적재중량         20064 non-null  float64
 29  엔진출력         39616 non-null  float64
 30  배기량          39616 non-null  float64
 31  승차인원         39616 non-null  int64
 32  차량길이         39616 non-null  int64
 33  차량너비         39616 non-null  int64
 34  차량높이         39616 non-null  int64
 35  원산지명         39616 non-null  object
 36  삭제YN         39616 non-null  object
 37  제원승인일자       39616 non-null  int64
 38  구동형식         36899 non-null  object
 39  변속기종류        39616 non-null  object
 40  법정동코드        39616 non-null  int64
 41  법정동명         39616 non-null  object
dtypes: float64(8), int64(11), object(23)
memory usage: 13.0+ MB

In [75]:
merge_by_code['법정동명'].str.split(expand=True)

              0     1    2     3     4
0          충청북도   청주시  청원구   오창읍    각리
1           경기도   화성시  팔탄면   구장리  None
2         서울특별시   종로구  청운동  None  None
3       제주특별자치도  서귀포시  대정읍   상모리  None
4         인천광역시    서구  석남동  None  None
...         ...   ...  ...   ...   ...
258984    광주광역시    북구  용두동  None  None
258985      강원도   태백시  황지동  None  None
258986    서울특별시   도봉구   창동  None  None
258987    광주광역시    서구  세하동  None  None
258988      경기도   성남시  중원구  하대원동  None

[258989 rows x 5 columns]

In [165]:
rent_car_merge_by_code['법정동명'].str.split(expand=True)

             0    1     2     3
0      제주특별자치도  제주시  용담이동  None
1        서울특별시  관악구   봉천동  None
2      제주특별자치도  제주시  도두일동  None
3        서울특별시  강남구   대치동  None
4          경기도  성남시   분당구   정자동
...        ...  ...   ...   ...
39611    대구광역시   동구   신암동  None
39612    대구광역시   동구   신암동  None
39613    대구광역시   동구   신암동  None
39614    대구광역시   동구   신암동  None
39615    대구광역시   동구   신암동  None

[39616 rows x 4 columns]

In [76]:
df2 = pd.concat([merge_by_code, merge_by_code['법정동명'].str.split(expand=True)], axis=1)
df2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 258989 entries, 0 to 258988
Data columns (total 47 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   차량관리번호       258989 non-null  object
 1   차량등록번호       258989 non-null  object
 2   본거지법정동코드     258989 non-null  int64
 3   소유자구분        258989 non-null  object
 4   차종_등록정보      258989 non-null  object
 5   용도           258989 non-null  object
 6   차대번호         258989 non-null  object
 7   최초등록일자       258989 non-null  int64
 8   차량연식         258989 non-null  int64
 9   차량제작일자       258989 non-null  float64
 10  검사유효일        258989 non-null  int64
 11  제원관리번호       258989 non-null  object
 12  배출가스인증번호     141585 non-null  object
 13  배출가스등급       258989 non-null  int64
 14  저공해조치종류      0 non-null       float64
 15  저공해조치구조변경YN  258989 non-null  object
 16  차량말소YN       258989 non-null  object
 17  취득일자         258989 non-null  float64
 18  취득금액         258989 non-null  float64
 19  차명           258989 non-null  object
 20  차종_제원정보      258989 non-null  object
 21  차종분류         258989 non-null  object
 22  차종유형         258989 non-null  object
 23  자동차형식        258989 non-null  object
 24  제작사명         258989 non-null  object
 25  연료           258989 non-null  object
 26  엔진형식         258989 non-null  object
 27  총중량          258989 non-null  float64
 28  적재중량         183564 non-null  float64
 29  엔진출력         258989 non-null  float64
 30  배기량          258989 non-null  float64
 31  승차인원         258989 non-null  int64
 32  차량길이         258989 non-null  int64
 33  차량너비         258989 non-null  int64
 34  차량높이         258989 non-null  int64
 35  원산지명         258989 non-null  object
 36  삭제YN         258989 non-null  object
 37  제원승인일자       258989 non-null  int64
 38  구동형식         227801 non-null  object
 39  변속기종류        258989 non-null  object
 40  법정동코드        258989 non-null  int64
 41  법정동명         258989 non-null  object
 42  0            258989 non-null  object
 43  1            258989 non-null  object
 44  2            256993 non-null  object
 45  3            90940 non-null   object
 46  4            3874 non-null    object
dtypes: float64(8), int64(11), object(28)
memory usage: 94.8+ MB

In [166]:
rent2 = pd.concat([rent_car_merge_by_code, rent_car_merge_by_code['법정동명'].str.split(expand=True)], axis=1)
rent2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 39616 entries, 0 to 39615
Data columns (total 46 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   차량관리번호       39616 non-null  object
 1   차량등록번호       39616 non-null  object
 2   본거지법정동코드     39616 non-null  int64
 3   소유자구분        39616 non-null  object
 4   차종_등록정보      39616 non-null  object
 5   용도           39616 non-null  object
 6   차대번호         39616 non-null  object
 7   최초등록일자       39616 non-null  int64
 8   차량연식         39616 non-null  int64
 9   차량제작일자       39616 non-null  float64
 10  검사유효일        39616 non-null  int64
 11  제원관리번호       39616 non-null  object
 12  배출가스인증번호     16711 non-null  object
 13  배출가스등급       39616 non-null  int64
 14  저공해조치종류      0 non-null      float64
 15  저공해조치구조변경YN  39616 non-null  object
 16  차량말소YN       39616 non-null  object
 17  취득일자         39616 non-null  float64
 18  취득금액         39616 non-null  float64
 19  차명           39616 non-null  object
 20  차종_제원정보      39616 non-null  object
 21  차종분류         39616 non-null  object
 22  차종유형         39616 non-null  object
 23  자동차형식        39616 non-null  object
 24  제작사명         39616 non-null  object
 25  연료           39616 non-null  object
 26  엔진형식         39616 non-null  object
 27  총중량          39616 non-null  float64
 28  적재중량         20064 non-null  float64
 29  엔진출력         39616 non-null  float64
 30  배기량          39616 non-null  float64
 31  승차인원         39616 non-null  int64
 32  차량길이         39616 non-null  int64
 33  차량너비         39616 non-null  int64
 34  차량높이         39616 non-null  int64
 35  원산지명         39616 non-null  object
 36  삭제YN         39616 non-null  object
 37  제원승인일자       39616 non-null  int64
 38  구동형식         36899 non-null  object
 39  변속기종류        39616 non-null  object
 40  법정동코드        39616 non-null  int64
 41  법정동명         39616 non-null  object
 42  0            39616 non-null  object
 43  1            39616 non-null  object
 44  2            39513 non-null  object
 45  3            3496 non-null   object
dtypes: float64(8), int64(11), object(27)
memory usage: 14.2+ MB

In [83]:
df2 = df2.rename(columns={0:'ad1', 1:'ad2', 2:'ad3', 3:'ad4', 4:'ad5'})
df2.iloc[:3, 40:]

        법정동코드                 법정동명    ad1  ad2  ad3   ad4   ad5
0  4311425344  충청북도 청주시 청원구 오창읍 각리   충청북도  청주시  청원구   오창읍    각리
1  4159036025      경기도 화성시 팔탄면 구장리    경기도  화성시  팔탄면   구장리  None
2  1111010100        서울특별시 종로구 청운동  서울특별시  종로구  청운동  None  None

In [167]:
rent2 = rent2.rename(columns={0:'ad1', 1:'ad2', 2:'ad3', 3:'ad4'})
rent2.iloc[:3, 40:]

        법정동코드              법정동명      ad1  ad2   ad3   ad4
0  5011010900  제주특별자치도 제주시 용담이동  제주특별자치도  제주시  용담이동  None
1  1162010100     서울특별시 관악구 봉천동    서울특별시  관악구   봉천동  None
2  5011012700  제주특별자치도 제주시 도두일동  제주특별자치도  제주시  도두일동  None

In [84]:
df2['ad1'].unique()

array(['충청북도', '경기도', '서울특별시', '제주특별자치도', '인천광역시', '충청남도', '울산광역시',
       '대구광역시', '전라북도', '경상북도', '광주광역시', '부산광역시', '전라남도', '경상남도', '강원도',
       '대전광역시', '세종특별자치시'], dtype=object)

In [86]:
seoul = df2[df2['ad1'] == '서울특별시'].reset_index(drop=True)
seoul.head()

,차량관리번호,차량등록번호,본거지법정동코드,소유자구분,차종_등록정보,용도,차대번호,최초등록일자,차량연식,차량제작일자,...,제원승인일자,구동형식,변속기종류,법정동코드,법정동명,ad1,ad2,ad3,ad4,ad5
0,WBY1Z2102EVZ61650-01,32우3353,1111010100,주민,승용,자가용,WBY1Z2102EVZ61650,20150319,2014,20140506.0,...,20140430,NaN,변속기 없음,1111010100,서울특별시 종로구 청운동,서울특별시,종로구,청운동,None,None
1,WBY1Z2100FV306274-01,34두0674,1168010600,주민,승용,자가용,WBY1Z2100FV306274,20151016,2015,20150217.0,...,20140829,NaN,변속기 없음,1168010600,서울특별시 강남구 대치동,서울특별시,강남구,대치동,None,None
2,KMHC751HFJU022113-01,08도7443,1150010400,주민,승용,자가용,KMHC751HFJU022113,20171215,2018,20171201.0,...,20170411,NaN,변속기 없음,1150010400,서울특별시 강서구 가양동,서울특별시,강서구,가양동,None,None
3,KMHK381GFKU009438-01,39소5069,1174010700,주민,승용,자가용,KMHK381GFKU009438,20181017,2019,20181008.0,...,20180222,전륜구동,변속기 없음,1174010700,서울특별시 강동구 암사동,서울특별시,강동구,암사동,None,None
4,1G1F76E03J4118855-01,55구1496,1138011400,주민,승용,자가용,1G1F76E03J4118855,20180425,2018,20180226.0,...,20171020,NaN,변속기 없음,1138011400,서울특별시 은평구 진관동,서울특별시,은평구,진관동,None,None

In [87]:
seoul.iloc[:, 40:].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33032 entries, 0 to 33031
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   법정동코드   33032 non-null  int64
 1   법정동명    33032 non-null  object
 2   ad1     33032 non-null  object
 3   ad2     33032 non-null  object
 4   ad3     33032 non-null  object
 5   ad4     0 non-null      object
 6   ad5     0 non-null      object
dtypes: int64(1), object(6)
memory usage: 1.8+ MB

In [99]:
capit = df2.groupby(['ad1'])['차량관리번호'].count().rename('차량대수')
capit

ad1
강원도         9327
경기도        52619
경상남도       15222
경상북도       14194
광주광역시       6260
대구광역시      17280
대전광역시       9102
부산광역시      14020
서울특별시      33032
세종특별자치시     2291
울산광역시       3555
인천광역시      13332
전라남도       10570
전라북도        9397
제주특별자치도    24758
충청남도       12868
충청북도       11162
Name: 차량대수, dtype: int64

In [168]:
rent_seoul = rent2[rent2['ad1'] == '서울특별시'].reset_index(drop=True)
rent_seoul.iloc[:, 40:].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15330 entries, 0 to 15329
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   법정동코드   15330 non-null  int64
 1   법정동명    15330 non-null  object
 2   ad1     15330 non-null  object
 3   ad2     15330 non-null  object
 4   ad3     15330 non-null  object
 5   ad4     0 non-null      object
dtypes: int64(1), object(5)
memory usage: 718.7+ KB

In [169]:
rent_capit = rent2.groupby(['ad1'])['차량관리번호'].count().rename('차량대수')
rent_capit

ad1
강원도          832
경기도         3590
경상남도        1265
경상북도         284
광주광역시        506
대구광역시       2421
대전광역시       1366
부산광역시       3184
서울특별시      15330
세종특별자치시      103
울산광역시        626
인천광역시       4997
전라남도         979
전라북도         326
제주특별자치도     2864
충청남도         430
충청북도         513
Name: 차량대수, dtype: int64

##### 수도권 지역 차량대수 파일 출력

In [101]:
capit[['서울특별시', '인천광역시', '경기도']].to_excel('data/220819_22.06월기준_1등급_순수전기차_수_수도권.xlsx', encoding='utf-8')

##### 지역별 차량대수 파일 출력

In [102]:
capit.to_excel('data/220819_22.06월기준_1등급_순수전기차_수_지역별.xlsx', encoding='utf-8')

In [170]:
rent_capit.to_excel('data/220819_22.06월기준_1등급_순수전기차_렌터카_수_지역별.xlsx', encoding='utf-8')

#### 서울특별시 차량대수 통계

In [95]:
seoul_group_ad1 = seoul.groupby(['ad1'])['차량관리번호'].count().rename('차량대수')
seoul_group_ad1

ad1
서울특별시    33032
Name: 차량대수, dtype: int64

In [96]:
seoul_group_ad2 = seoul.groupby(['ad1', 'ad2'])['차량관리번호'].count().rename('차량대수')
seoul_group_ad2

ad1    ad2
서울특별시  강남구     3498
       강동구     1648
       강북구      678
       강서구     1818
       관악구      992
       광진구      730
       구로구     1156
       금천구      728
       노원구     1164
       도봉구      804
       동대문구     788
       동작구      899
       마포구     1274
       서대문구     813
       서초구     3484
       성동구     1229
       성북구     1129
       송파구     2392
       양천구     1314
       영등포구    2003
       용산구      896
       은평구     1157
       종로구      644
       중구       766
       중랑구     1028
Name: 차량대수, dtype: int64

In [97]:
seoul_group_ad3 = seoul.groupby(['ad1', 'ad2', 'ad3'])['차량관리번호'].count().rename('차량대수')
seoul_group_ad3

ad1    ad2  ad3
서울특별시  강남구  개포동    285
            논현동    197
            대치동    600
            도곡동    288
            삼성동    309
                  ...
       중랑구  면목동    290
            묵동     107
            상봉동    103
            신내동    227
            중화동     85
Name: 차량대수, Length: 425, dtype: int64

In [171]:
rent_seoul_group_ad1 = rent_seoul.groupby(['ad1'])['차량관리번호'].count().rename('차량대수')
rent_seoul_group_ad1

ad1
서울특별시    15330
Name: 차량대수, dtype: int64

In [172]:
rent_seoul_group_ad2 = rent_seoul.groupby(['ad1', 'ad2'])['차량관리번호'].count().rename('차량대수')
rent_seoul_group_ad2

ad1    ad2
서울특별시  강남구     10036
       강동구        19
       강북구        30
       강서구       396
       관악구        26
       광진구        55
       구로구      2940
       금천구        18
       노원구         1
       도봉구         1
       동대문구        3
       동작구         2
       마포구        38
       서대문구        6
       서초구       325
       성동구       426
       성북구         1
       송파구        59
       양천구         3
       영등포구      619
       용산구         1
       은평구         1
       종로구        45
       중구        265
       중랑구        14
Name: 차량대수, dtype: int64

In [173]:
rent_seoul_group_ad3 = rent_seoul.groupby(['ad1', 'ad2', 'ad3'])['차량관리번호'].count().rename('차량대수')
rent_seoul_group_ad3

ad1    ad2  ad3
서울특별시  강남구  논현동        13
            대치동      9876
            도곡동         1
            삼성동         4
            수서동         1
                     ...
       중구   을지로2가      23
            중림동         1
            태평로2가     213
       중랑구  면목동         1
            상봉동        13
Name: 차량대수, Length: 70, dtype: int64

##### 서울특별시 파일 출력

In [98]:
# seoul_group_ad1.to_excel('data/220819_22.06월기준_1등급_순수전기차_수_서울1.xlsx', encoding='utf-8')
# seoul_group_ad2.to_excel('data/220819_22.06월기준_1등급_순수전기차_수_서울2.xlsx', encoding='utf-8')
# seoul_group_ad3.to_excel('data/220819_22.06월기준_1등급_순수전기차_수_서울3.xlsx', encoding='utf-8')

In [124]:
seoul_file = pd.ExcelWriter('data/220819_22.06월기준_1등급_순수전기차_수_서울.xlsx', engine='openpyxl')
seoul_group_ad1.to_excel(seoul_file, sheet_name='sheet1')
seoul_group_ad2.to_excel(seoul_file, sheet_name='sheet2')
seoul_group_ad3.to_excel(seoul_file, sheet_name='sheet3')
seoul_file.save()

In [174]:
rent_seoul_file = pd.ExcelWriter('data/220819_22.06월기준_1등급_순수전기차_렌터카_수_서울.xlsx', engine='openpyxl')
rent_seoul_group_ad1.to_excel(rent_seoul_file, sheet_name='sheet1')
rent_seoul_group_ad2.to_excel(rent_seoul_file, sheet_name='sheet2')
rent_seoul_group_ad3.to_excel(rent_seoul_file, sheet_name='sheet3')
rent_seoul_file.save()

#### 인천광역시 차량대수 통계

In [103]:
incheon = df2[df2['ad1'] == '인천광역시'].reset_index(drop=True)
incheon.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13332 entries, 0 to 13331
Data columns (total 47 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   차량관리번호       13332 non-null  object
 1   차량등록번호       13332 non-null  object
 2   본거지법정동코드     13332 non-null  int64
 3   소유자구분        13332 non-null  object
 4   차종_등록정보      13332 non-null  object
 5   용도           13332 non-null  object
 6   차대번호         13332 non-null  object
 7   최초등록일자       13332 non-null  int64
 8   차량연식         13332 non-null  int64
 9   차량제작일자       13332 non-null  float64
 10  검사유효일        13332 non-null  int64
 11  제원관리번호       13332 non-null  object
 12  배출가스인증번호     6406 non-null   object
 13  배출가스등급       13332 non-null  int64
 14  저공해조치종류      0 non-null      float64
 15  저공해조치구조변경YN  13332 non-null  object
 16  차량말소YN       13332 non-null  object
 17  취득일자         13332 non-null  float64
 18  취득금액         13332 non-null  float64
 19  차명           13332 non-null  object
 20  차종_제원정보      13332 non-null  object
 21  차종분류         13332 non-null  object
 22  차종유형         13332 non-null  object
 23  자동차형식        13332 non-null  object
 24  제작사명         13332 non-null  object
 25  연료           13332 non-null  object
 26  엔진형식         13332 non-null  object
 27  총중량          13332 non-null  float64
 28  적재중량         9743 non-null   float64
 29  엔진출력         13332 non-null  float64
 30  배기량          13332 non-null  float64
 31  승차인원         13332 non-null  int64
 32  차량길이         13332 non-null  int64
 33  차량너비         13332 non-null  int64
 34  차량높이         13332 non-null  int64
 35  원산지명         13332 non-null  object
 36  삭제YN         13332 non-null  object
 37  제원승인일자       13332 non-null  int64
 38  구동형식         12338 non-null  object
 39  변속기종류        13332 non-null  object
 40  법정동코드        13332 non-null  int64
 41  법정동명         13332 non-null  object
 42  ad1          13332 non-null  object
 43  ad2          13332 non-null  object
 44  ad3          13332 non-null  object
 45  ad4          568 non-null    object
 46  ad5          0 non-null      object
dtypes: float64(8), int64(11), object(28)
memory usage: 4.8+ MB

In [175]:
rent_incheon = rent2[rent2['ad1'] == '인천광역시'].reset_index(drop=True)
rent_incheon.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4997 entries, 0 to 4996
Data columns (total 46 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   차량관리번호       4997 non-null   object
 1   차량등록번호       4997 non-null   object
 2   본거지법정동코드     4997 non-null   int64
 3   소유자구분        4997 non-null   object
 4   차종_등록정보      4997 non-null   object
 5   용도           4997 non-null   object
 6   차대번호         4997 non-null   object
 7   최초등록일자       4997 non-null   int64
 8   차량연식         4997 non-null   int64
 9   차량제작일자       4997 non-null   float64
 10  검사유효일        4997 non-null   int64
 11  제원관리번호       4997 non-null   object
 12  배출가스인증번호     2064 non-null   object
 13  배출가스등급       4997 non-null   int64
 14  저공해조치종류      0 non-null      float64
 15  저공해조치구조변경YN  4997 non-null   object
 16  차량말소YN       4997 non-null   object
 17  취득일자         4997 non-null   float64
 18  취득금액         4997 non-null   float64
 19  차명           4997 non-null   object
 20  차종_제원정보      4997 non-null   object
 21  차종분류         4997 non-null   object
 22  차종유형         4997 non-null   object
 23  자동차형식        4997 non-null   object
 24  제작사명         4997 non-null   object
 25  연료           4997 non-null   object
 26  엔진형식         4997 non-null   object
 27  총중량          4997 non-null   float64
 28  적재중량         2632 non-null   float64
 29  엔진출력         4997 non-null   float64
 30  배기량          4997 non-null   float64
 31  승차인원         4997 non-null   int64
 32  차량길이         4997 non-null   int64
 33  차량너비         4997 non-null   int64
 34  차량높이         4997 non-null   int64
 35  원산지명         4997 non-null   object
 36  삭제YN         4997 non-null   object
 37  제원승인일자       4997 non-null   int64
 38  구동형식         4342 non-null   object
 39  변속기종류        4997 non-null   object
 40  법정동코드        4997 non-null   int64
 41  법정동명         4997 non-null   object
 42  ad1          4997 non-null   object
 43  ad2          4997 non-null   object
 44  ad3          4997 non-null   object
 45  ad4          7 non-null      object
dtypes: float64(8), int64(11), object(27)
memory usage: 1.8+ MB

In [104]:
incheon.iloc[:, 40:].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13332 entries, 0 to 13331
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   법정동코드   13332 non-null  int64
 1   법정동명    13332 non-null  object
 2   ad1     13332 non-null  object
 3   ad2     13332 non-null  object
 4   ad3     13332 non-null  object
 5   ad4     568 non-null    object
 6   ad5     0 non-null      object
dtypes: int64(1), object(6)
memory usage: 729.2+ KB

In [177]:
rent_incheon.iloc[:3, 40:].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   법정동코드   3 non-null      int64
 1   법정동명    3 non-null      object
 2   ad1     3 non-null      object
 3   ad2     3 non-null      object
 4   ad3     3 non-null      object
 5   ad4     0 non-null      object
dtypes: int64(1), object(5)
memory usage: 272.0+ bytes

In [108]:
incheon_group_ad1 = incheon.groupby(['ad1'])['차량관리번호'].count().rename('차량대수')
incheon_group_ad1

ad1
인천광역시    13332
Name: 차량대수, dtype: int64

In [109]:
incheon_group_ad2 = incheon.groupby(['ad1', 'ad2'])['차량관리번호'].count().rename('차량대수')
incheon_group_ad2

ad1    ad2
인천광역시  강화군      608
       계양구      843
       남동구     2424
       동구       180
       미추홀구    1217
       부평구     1776
       서구      2838
       연수구     2402
       옹진군       89
       중구       955
Name: 차량대수, dtype: int64

In [110]:
incheon_group_ad3 = incheon.groupby(['ad1', 'ad2', 'ad3'])['차량관리번호'].count().rename('차량대수')
incheon_group_ad3

ad1    ad2  ad3
인천광역시  강화군  강화읍      158
            교동면       27
            길상면       77
            내가면       28
            불은면       65
                    ...
       중구   중산동      323
            중앙동1가      1
            중앙동3가      1
            항동6가       2
            항동7가      32
Name: 차량대수, Length: 134, dtype: int64

In [111]:
incheon_group_ad4 = incheon.groupby(['ad1', 'ad2', 'ad3', 'ad4'])['차량관리번호'].count().rename('차량대수')
incheon_group_ad4

ad1    ad2  ad3  ad4
인천광역시  강화군  강화읍  갑곳리    26
                 관청리    20
                 국화리     9
                 남산리    14
                 대산리     8
                        ..
       옹진군  영흥면  내리     27
                 선재리     5
                 외리      5
            자월면  승봉리     1
                 자월리     3
Name: 차량대수, Length: 101, dtype: int64

In [178]:
rent_incheon_group_ad1 = rent_incheon.groupby(['ad1'])['차량관리번호'].count().rename('차량대수')
rent_incheon_group_ad1

ad1
인천광역시    4997
Name: 차량대수, dtype: int64

In [179]:
rent_incheon_group_ad2 = rent_incheon.groupby(['ad1', 'ad2'])['차량관리번호'].count().rename('차량대수')
rent_incheon_group_ad2

ad1    ad2
인천광역시  강화군      620
       계양구     3619
       남동구      298
       동구         7
       미추홀구      97
       부평구      155
       서구        54
       연수구      112
       옹진군       11
       중구        24
Name: 차량대수, dtype: int64

In [180]:
rent_incheon_group_ad3 = rent_incheon.groupby(['ad1', 'ad2', 'ad3'])['차량관리번호'].count().rename('차량대수')
rent_incheon_group_ad3

ad1    ad2   ad3
인천광역시  강화군   강화읍        1
             선원면      619
       계양구   계산동     3610
             용종동        1
             작전동        8
       남동구   구월동      257
             논현동       41
       동구    송림동        6
             송현동        1
       미추홀구  도화동       81
             용현동        2
             주안동       14
       부평구   부개동        4
             부평동      141
             삼산동        4
             일신동        3
             청천동        3
       서구    가좌동       11
             금곡동        2
             백석동        1
             석남동        1
             심곡동       10
             청라동       29
       연수구   송도동       53
             청학동       59
       옹진군   영흥면        4
             자월면        7
       중구    중산동        2
             항동7가      22
Name: 차량대수, dtype: int64

##### 인천광역시 지역별 차량대수 파일 출력

In [112]:
# incheon_group_ad1.to_excel('data/220819_22.06월기준_1등급_순수전기차_수_인천1.xlsx')
# incheon_group_ad2.to_excel('data/220819_22.06월기준_1등급_순수전기차_수_인천2.xlsx')
# incheon_group_ad3.to_excel('data/220819_22.06월기준_1등급_순수전기차_수_인천3.xlsx')
# incheon_group_ad4.to_excel('data/220819_22.06월기준_1등급_순수전기차_수_인천4.xlsx')

In [125]:
incheon_file = pd.ExcelWriter('data/220819_22.06월기준_1등급_순수전기차_수_인천.xlsx', engine='openpyxl')
incheon_group_ad1.to_excel(incheon_file, sheet_name='sheet1')
incheon_group_ad2.to_excel(incheon_file, sheet_name='sheet2')
incheon_group_ad3.to_excel(incheon_file, sheet_name='sheet3')
incheon_group_ad4.to_excel(incheon_file, sheet_name='sheet4')
incheon_file.save()

In [181]:
rent_incheon_file = pd.ExcelWriter('data/220819_22.06월기준_1등급_순수전기차_렌터카_수_인천.xlsx', engine='openpyxl')
rent_incheon_group_ad1.to_excel(rent_incheon_file, sheet_name='sheet1')
rent_incheon_group_ad2.to_excel(rent_incheon_file, sheet_name='sheet2')
rent_incheon_group_ad3.to_excel(rent_incheon_file, sheet_name='sheet3')
rent_incheon_file.save()

### 경기도 차량대수 통계

In [115]:
gyeonggi = df2[df2['ad1'] == '경기도'].reset_index(drop=True)
gyeonggi.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 52619 entries, 0 to 52618
Data columns (total 47 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   차량관리번호       52619 non-null  object
 1   차량등록번호       52619 non-null  object
 2   본거지법정동코드     52619 non-null  int64
 3   소유자구분        52619 non-null  object
 4   차종_등록정보      52619 non-null  object
 5   용도           52619 non-null  object
 6   차대번호         52619 non-null  object
 7   최초등록일자       52619 non-null  int64
 8   차량연식         52619 non-null  int64
 9   차량제작일자       52619 non-null  float64
 10  검사유효일        52619 non-null  int64
 11  제원관리번호       52619 non-null  object
 12  배출가스인증번호     26186 non-null  object
 13  배출가스등급       52619 non-null  int64
 14  저공해조치종류      0 non-null      float64
 15  저공해조치구조변경YN  52619 non-null  object
 16  차량말소YN       52619 non-null  object
 17  취득일자         52619 non-null  float64
 18  취득금액         52619 non-null  float64
 19  차명           52619 non-null  object
 20  차종_제원정보      52619 non-null  object
 21  차종분류         52619 non-null  object
 22  차종유형         52619 non-null  object
 23  자동차형식        52619 non-null  object
 24  제작사명         52619 non-null  object
 25  연료           52619 non-null  object
 26  엔진형식         52619 non-null  object
 27  총중량          52619 non-null  float64
 28  적재중량         38352 non-null  float64
 29  엔진출력         52619 non-null  float64
 30  배기량          52619 non-null  float64
 31  승차인원         52619 non-null  int64
 32  차량길이         52619 non-null  int64
 33  차량너비         52619 non-null  int64
 34  차량높이         52619 non-null  int64
 35  원산지명         52619 non-null  object
 36  삭제YN         52619 non-null  object
 37  제원승인일자       52619 non-null  int64
 38  구동형식         47313 non-null  object
 39  변속기종류        52619 non-null  object
 40  법정동코드        52619 non-null  int64
 41  법정동명         52619 non-null  object
 42  ad1          52619 non-null  object
 43  ad2          52619 non-null  object
 44  ad3          52619 non-null  object
 45  ad4          28863 non-null  object
 46  ad5          650 non-null    object
dtypes: float64(8), int64(11), object(28)
memory usage: 18.9+ MB

In [117]:
gyeonggi.iloc[:3, 40:].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   법정동코드   3 non-null      int64
 1   법정동명    3 non-null      object
 2   ad1     3 non-null      object
 3   ad2     3 non-null      object
 4   ad3     3 non-null      object
 5   ad4     3 non-null      object
 6   ad5     0 non-null      object
dtypes: int64(1), object(6)
memory usage: 296.0+ bytes

In [182]:
rent_gyeonggi = rent2[rent2['ad1'] == '경기도'].reset_index(drop=True)
rent_gyeonggi.iloc[:, 40:].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3590 entries, 0 to 3589
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   법정동코드   3590 non-null   int64
 1   법정동명    3590 non-null   object
 2   ad1     3590 non-null   object
 3   ad2     3590 non-null   object
 4   ad3     3590 non-null   object
 5   ad4     2227 non-null   object
dtypes: int64(1), object(5)
memory usage: 168.4+ KB

In [183]:
rent_gyeonggi.iloc[:3, 40:].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   법정동코드   3 non-null      int64
 1   법정동명    3 non-null      object
 2   ad1     3 non-null      object
 3   ad2     3 non-null      object
 4   ad3     3 non-null      object
 5   ad4     2 non-null      object
dtypes: int64(1), object(5)
memory usage: 272.0+ bytes

In [118]:
gyeonggi_group_ad1 = gyeonggi.groupby(['ad1'])['차량관리번호'].count().rename('차량대수')
gyeonggi_group_ad1

ad1
경기도    52619
Name: 차량대수, dtype: int64

In [119]:
gyeonggi_group_ad2 = gyeonggi.groupby(['ad1', 'ad2'])['차량관리번호'].count().rename('차량대수')
gyeonggi_group_ad2

ad1  ad2
경기도  가평군      331
     고양시     4103
     과천시      464
     광명시      911
     광주시     1516
     구리시      515
     군포시      808
     김포시     2991
     남양주시    2758
     동두천시     350
     부천시     2207
     성남시     4050
     수원시     4552
     시흥시     1456
     안산시     2024
     안성시      826
     안양시     1661
     양주시     1186
     양평군      820
     여주시      602
     연천군      316
     오산시      633
     용인시     4750
     의왕시      720
     의정부시    1179
     이천시      972
     파주시     2058
     평택시     1954
     포천시      604
     하남시     1793
     화성시     3509
Name: 차량대수, dtype: int64

In [120]:
gyeonggi_group_ad3 = gyeonggi.groupby(['ad1', 'ad2', 'ad3'])['차량관리번호'].count().rename('차량대수')
gyeonggi_group_ad3

ad1  ad2  ad3
경기도  가평군  가평읍    105
          북면      15
          상면      37
          설악면     75
          조종면     30
                ...
     화성시  진안동     30
          청계동    208
          팔탄면     71
          향남읍    269
          황계동      2
Name: 차량대수, Length: 502, dtype: int64

In [121]:
gyeonggi_group_ad4 = gyeonggi.groupby(['ad1', 'ad2', 'ad3', 'ad4'])['차량관리번호'].count().rename('차량대수')
gyeonggi_group_ad4

ad1  ad2  ad3  ad4
경기도  가평군  가평읍  개곡리      3
               경반리      6
               금대리      2
               달전리     13
               대곡리      4
                       ..
     화성시  향남읍  증거리      1
               평리       4
               하길리     73
               행정리     66
               화리현리     2
Name: 차량대수, Length: 1303, dtype: int64

In [188]:
rent_gyeonggi_group_ad1 = rent_gyeonggi.groupby(['ad1'])['차량관리번호'].count().rename('차량대수')
rent_gyeonggi_group_ad1

ad1
경기도    3590
Name: 차량대수, dtype: int64

In [189]:
rent_gyeonggi_group_ad2 = rent_gyeonggi.groupby(['ad1', 'ad2'])['차량관리번호'].count().rename('차량대수')
rent_gyeonggi_group_ad2

ad1  ad2
경기도  가평군       1
     고양시     671
     광명시      10
     광주시       1
     구리시       1
     군포시       9
     김포시     308
     남양주시      3
     부천시     382
     성남시     427
     수원시     241
     시흥시       1
     안산시     201
     안성시      12
     안양시     105
     양주시      69
     양평군      18
     여주시       6
     연천군       7
     오산시      46
     용인시     577
     의정부시    251
     이천시      24
     파주시      17
     평택시      31
     포천시      22
     하남시      63
     화성시      86
Name: 차량대수, dtype: int64

In [190]:
rent_gyeonggi_group_ad3 = rent_gyeonggi.groupby(['ad1', 'ad2', 'ad3'])['차량관리번호'].count().rename('차량대수')
rent_gyeonggi_group_ad3

ad1  ad2  ad3
경기도  가평군  청평면       1
     고양시  덕양구      11
          일산동구    588
          일산서구     72
     광명시  철산동      10
                 ...
     화성시  반월동       3
          병점동       5
          비봉면      13
          우정읍       1
          향남읍       3
Name: 차량대수, Length: 67, dtype: int64

In [191]:
rent_gyeonggi_group_ad4 = rent_gyeonggi.groupby(['ad1', 'ad2', 'ad3', 'ad4'])['차량관리번호'].count().rename('차량대수')
rent_gyeonggi_group_ad4

ad1  ad2   ad3   ad4
경기도  고양시   덕양구   행신동        6
                 현천동        5
           일산동구  마두동       36
                 장항동      552
           일산서구  대화동       72
     남양주시  조안면   진중리        3
     성남시   분당구   구미동       25
                 금곡동        6
                 백현동      141
                 서현동       39
                 수내동       81
                 야탑동       63
                 정자동       60
           수정구   창곡동       12
     수원시   권선구   고색동        1
                 서둔동        2
           영통구   매탄동        1
                 신동         5
                 영통동        5
                 원천동        3
                 하동         3
           장안구   율전동        4
                 이목동        2
           팔달구   매산로2가     31
                 우만동        1
                 인계동      183
     안산시   단원구   고잔동      109
                 초지동        3
           상록구   사동        89
     안양시   동안구   관양동        3
                 평촌동       37
                 호계동       63
           만안구   안양동        2
     용인시   기흥구   구갈동      545
                 보정동        1
                 서천동        1
                 신갈동        3
                 영덕동       15
           수지구   상현동        2
                 죽전동        3
                 풍덕천동       1
           처인구   모현읍        3
                 삼가동        3
     화성시   향남읍   행정리        2
Name: 차량대수, dtype: int64

##### 경기도 지역별 차량대수 파일 출력

In [122]:
# gyeonggi_group_ad1.to_excel('data/220819_22.06월기준_1등급_순수전기차_수_경기1.xlsx')
# gyeonggi_group_ad2.to_excel('data/220819_22.06월기준_1등급_순수전기차_수_경기2.xlsx')
# gyeonggi_group_ad3.to_excel('data/220819_22.06월기준_1등급_순수전기차_수_경기3.xlsx')
# gyeonggi_group_ad4.to_excel('data/220819_22.06월기준_1등급_순수전기차_수_경기4.xlsx')

In [126]:
gyeonggi_file = pd.ExcelWriter('data/220819_22.06월기준_1등급_순수전기차_수_경기.xlsx', engine='openpyxl')
gyeonggi_group_ad1.to_excel(gyeonggi_file, sheet_name='sheet1')
gyeonggi_group_ad2.to_excel(gyeonggi_file, sheet_name='sheet2')
gyeonggi_group_ad3.to_excel(gyeonggi_file, sheet_name='sheet3')
gyeonggi_group_ad4.to_excel(gyeonggi_file, sheet_name='sheet4')
gyeonggi_file.save()

In [192]:
rent_gyeonggi_file = pd.ExcelWriter('data/220819_22.06월기준_1등급_순수전기차_렌터카_수_경기.xlsx', engine='openpyxl')
rent_gyeonggi_group_ad1.to_excel(rent_gyeonggi_file, sheet_name='sheet1')
rent_gyeonggi_group_ad2.to_excel(rent_gyeonggi_file, sheet_name='sheet2')
rent_gyeonggi_group_ad3.to_excel(rent_gyeonggi_file, sheet_name='sheet3')
rent_gyeonggi_group_ad4.to_excel(rent_gyeonggi_file, sheet_name='sheet4')
rent_gyeonggi_file.save()

# 코드 마지막