# 자동차 환경 빅데이터 3차
- 과제2 : 건설기계 배출가스 관리 체게 구축
- 과제4 : 배출가스 전문정비제도 관리체계 구축
- 과제5 : 자동차 환경 빅데이터 제작사 공동 활용체게 구축

# Library

In [1]:
import pandas as pd
import os
import numpy as np

In [14]:
pd.options.display.float_format = '{:.2f}'.format
# pd.reset_option('display.float_format')

# Fold

In [2]:
raw_fold = 'D:/data/processing/big3/raw'
an_fold = 'D:/data/processing/big3/analysis'
df_fold = 'D:/data/processing/big3/df'
folds = {'raw_fold':raw_fold, 'an_fold':an_fold, 'df_fold':df_fold}
folds

{'raw_fold': 'D:/data/processing/big3/raw',
 'an_fold': 'D:/data/processing/big3/analysis',
 'df_fold': 'D:/data/processing/big3/df'}

# Load
- 자동차전문정비 : STD_TB_ERR_RES
- 자동차전문정비상세 : STD_TB_ERR_RES_DET
- 구조변경검사 : STD_DLM_TB_ERP_GUBUN_BAECHUL

## 전문정비(STD_TB_ERR_RES)

In [8]:
er_dict = {
    'DRVNG_DSTNC':'주행거리', 
    'VHRNO':'자동차등록번호', 
    'VIN':'차대번호', 
    'LOD_COX_MEVLU':'부하일산화탄소측정치', 
    'LOD_HC_MEVLU':'부하탄화수소측정치', 
    'LOD_NOX_MEVLU':'부하질소산화물측정치', 
    'LOD_SMO_MEVLU':'부하매연측정치', 
    'LOD_TQ_MEVLU':'부하토크측정치', 
    'OVHUL_YMD':'정비일자', 
    'SPCY_OVHUL_BIZPLC_NM':'전문정비사업소명', 
    'OVHUL_RCPT_NO':'정비접수번호', 
    'PRCINSP_RINSP_RCPT_NO':'정밀재검사접수번호', 
    'NOLOD_COX_MEVLU':'무부하일산화탄소측정치', 
    'NOLOD_HC_MEVLU':'무부하탄화수소측정치', 
    'NOLOD_AIR_EXCRT_MEVLU':'무부하공기과잉률측정치', 
    'NOLOD_SMO_MEVLU':'무부하매연측정치', 
}

In [3]:
# 0.3s
name = 'STD_TB_ERR_RES(20231011)'
file_name = f'{name}.csv'
er = pd.read_csv(os.path.join(raw_fold, file_name), low_memory=False)
er.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 54617 entries, 0 to 54616
Data columns (total 16 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   DRVNG_DSTNC            54617 non-null  float64
 1   VHRNO                  54617 non-null  object
 2   VIN                    51051 non-null  object
 3   LOD_COX_MEVLU          53884 non-null  object
 4   LOD_HC_MEVLU           53886 non-null  object
 5   LOD_NOX_MEVLU          53883 non-null  object
 6   LOD_SMO_MEVLU          53941 non-null  object
 7   LOD_TQ_MEVLU           53819 non-null  object
 8   OVHUL_YMD              54617 non-null  int64
 9   SPCY_OVHUL_BIZPLC_NM   54617 non-null  object
 10  OVHUL_RCPT_NO          54617 non-null  int64
 11  PRCINSP_RINSP_RCPT_NO  54617 non-null  object
 12  NOLOD_COX_MEVLU        53870 non-null  object
 13  NOLOD_HC_MEVLU         53871 non-null  object
 14  NOLOD_AIR_EXCRT_MEVLU  28484 non-null  object
 15  NOLOD_SMO_MEVLU        50992 non-null  object
dtypes: float64(1), int64(2), object(13)
memory usage: 6.7+ MB

In [9]:
er = er.rename(columns=er_dict)
er.columns

Index(['주행거리', '자동차등록번호', '차대번호', '부하일산화탄소측정치', '부하탄화수소측정치', '부하질소산화물측정치',
       '부하매연측정치', '부하토크측정치', '정비일자', '전문정비사업소명', '정비접수번호', '정밀재검사접수번호',
       '무부하일산화탄소측정치', '무부하탄화수소측정치', '무부하공기과잉률측정치', '무부하매연측정치'],
      dtype='object')

## 전문정비상세(STD_TB_ERR_RES_DET)

In [11]:
erd_dict = {
    'VHRNO':'자동차등록번호', 
    'VIN':'차대번호', 
    'OVHUL_CN':'정비내용', 
    'OVHUL_YMD':'정비일자', 
    'SPCY_OVHUL_BIZPLC_NM':'전문정비사업소명', 
    'OVHUL_CMPNT_NM':'정비부품명', 
    'OVHUL_RCPT_NO':'정비접수번호', 
    'PRCINSP_RINSP_RCPT_NO':'정밀재검사접수번호', 
}

In [4]:
# 0.3s
name = 'STD_TB_ERR_RES_DET(20231011)'
file_name = f'{name}.csv'
erd = pd.read_csv(os.path.join(raw_fold, file_name), low_memory=False)
erd.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 106819 entries, 0 to 106818
Data columns (total 8 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   VHRNO                  106818 non-null  object
 1   VIN                    94670 non-null   object
 2   OVHUL_CN               106817 non-null  object
 3   OVHUL_YMD              106818 non-null  float64
 4   SPCY_OVHUL_BIZPLC_NM   106818 non-null  object
 5   OVHUL_CMPNT_NM         106817 non-null  object
 6   OVHUL_RCPT_NO          106818 non-null  float64
 7   PRCINSP_RINSP_RCPT_NO  0 non-null       float64
dtypes: float64(3), object(5)
memory usage: 6.5+ MB

In [12]:
erd = erd.rename(columns=erd_dict)
erd.columns

Index(['자동차등록번호', '차대번호', '정비내용', '정비일자', '전문정비사업소명', '정비부품명', '정비접수번호',
       '정밀재검사접수번호'],
      dtype='object')

## 구조변경검사(STD_DLM_TB_ERP_GUBUN_BAECHUL)

In [7]:
# 11.7s
name = 'STD_DLM_TB_ERP_GUBUN_BAECHUL(20231011)'
file_name = f'{name}.csv'
gb = pd.read_csv(os.path.join(raw_fold, file_name), low_memory=False)
gb.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1321945 entries, 0 to 1321944
Data columns (total 39 columns):
 #   Column                     Non-Null Count    Dtype
---  ------                     --------------    -----
 0   AIR_PSSR                   1152822 non-null  float64
 1   AIR_TMPRT                  1152822 non-null  float64
 2   CO2_VAL                    1110507 non-null  float64
 3   DRVNG_DSTNC                1320563 non-null  float64
 4   FNCINSP_JGMT_YN            1321919 non-null  object
 5   INSPOF_NM                  1321945 non-null  object
 6   INSPOF_RPRSV_NM            1318198 non-null  object
 7   MAXM_OTPT_MSRMT_VAL        445619 non-null   float64
 8   MAXM_OTPT_PRMT_VAL         544747 non-null   float64
 9   O2_VAL                     1110507 non-null  float64
 10  PRCINSP_YMD                1321945 non-null  int64
 11  PRCINSP_VLD_YMD            127529 non-null   float64
 12  PRCINSP_VLD_WHL            1321945 non-null  object
 13  PRCINSP_JGMT               1321904 non-null  object
 14  PRCINSP_KND                1265148 non-null  object
 15  PRCINSP_RCPT_NO            1308820 non-null  object
 16  RINSP_WHL                  1321945 non-null  object
 17  VHCL_PURPS_CD              1321945 non-null  object
 18  VHRNO                      1321945 non-null  object
 19  VIN                        1321945 non-null  object
 20  STRCT_CHG_INSP_MSRMT_MTHD  1321945 non-null  object
 21  NOLOD_SMO_MSRMT_VAL1       1276978 non-null  float64
 22  NOLOD_SMO_PRMT_VAL1        1276912 non-null  float64
 23  NOLOD_SMO_MSRMT_VAL2       1060644 non-null  float64
 24  NOLOD_SMO_PRMT_VAL2        1012599 non-null  float64
 25  NOLOD_SMO_MSRMT_VAL3       990667 non-null   float64
 26  NOLOD_SMO_PRMT_VAL3        990600 non-null   float64
 27  NOLOD_SMO_MSRMT_VAL4       731316 non-null   float64
 28  NOLOD_SMO_PRMT_VAL4        731299 non-null   float64
 29  NOLOD_SMO_MSRMT_VAL5       731316 non-null   float64
 30  NOLOD_SMO_PRMT_VAL5        731296 non-null   float64
 31  NOLOD_SMO_MSRMT_VAL6       346019 non-null   float64
 32  NOLOD_SMO_PRMT_VAL6        345649 non-null   float64
 33  NOLOD_SMO_JGMT_YN1         1276959 non-null  object
 34  NOLOD_SMO_JGMT_YN2         760411 non-null   object
 35  NOLOD_SMO_JGMT_YN3         760365 non-null   object
 36  NOLOD_SMO_JGMT_YN4         500957 non-null   object
 37  NOLOD_SMO_JGMT_YN5         500955 non-null   object
 38  NOLOD_SMO_JGMT_YN6         76346 non-null    object
dtypes: float64(20), int64(1), object(18)
memory usage: 393.3+ MB

# EDA

## 전문정비(STD_TB_ERR_RES)

In [17]:
er['정비일자'].isnull().sum()

0

In [15]:
er['정비일자'].describe()

count      54617.00
mean    20083896.95
std        16435.80
min     20060727.00
25%     20070801.00
50%     20080507.00
75%     20091109.00
max     20121010.00
Name: 정비일자, dtype: float64

In [19]:
er['정비일자'] = pd.to_datetime(er['정비일자'], format='%Y%m%d', errors='coerce')
er['정비일자'].head()

0   2008-01-10
1   2008-01-23
2   2008-01-08
3   2008-01-18
4   2008-01-07
Name: 정비일자, dtype: datetime64[ns]

In [20]:
er['정비일자'].describe()

C:\Users\kbjung\AppData\Local\Temp\ipykernel_3124\328505498.py:1: FutureWarning: Treating datetime data as categorical rather than numeric in `.describe` is deprecated and will be removed in a future version of pandas. Specify `datetime_is_numeric=True` to silence this warning and adopt the future behavior now.
  er['정비일자'].describe()

count                   54617
unique                   1839
top       2007-10-02 00:00:00
freq                      123
first     2006-07-27 00:00:00
last      2012-10-10 00:00:00
Name: 정비일자, dtype: object

## 전문정비상세(STD_TB_ERR_RES_DET)

In [18]:
erd['정비일자'].isnull().sum()

1

In [16]:
erd['정비일자'].describe()

count     106818.00
mean    20083911.85
std        15852.89
min     20060727.00
25%     20070829.00
50%     20080529.00
75%     20090921.00
max     20120928.00
Name: 정비일자, dtype: float64

In [21]:
erd['정비일자'] = pd.to_datetime(erd['정비일자'], format='%Y%m%d', errors='coerce')
erd['정비일자'].head()

0   2007-02-08
1   2006-08-11
2   2006-08-11
3   2006-08-11
4   2006-12-11
Name: 정비일자, dtype: datetime64[ns]

In [22]:
erd['정비일자'].describe()

C:\Users\kbjung\AppData\Local\Temp\ipykernel_3124\338169835.py:1: FutureWarning: Treating datetime data as categorical rather than numeric in `.describe` is deprecated and will be removed in a future version of pandas. Specify `datetime_is_numeric=True` to silence this warning and adopt the future behavior now.
  erd['정비일자'].describe()

count                  106818
unique                   1832
top       2007-08-13 00:00:00
freq                      232
first     2006-07-27 00:00:00
last      2012-09-28 00:00:00
Name: 정비일자, dtype: object

## 구조변경검사(STD_DLM_TB_ERP_GUBUN_BAECHUL)