# 자동차 환경 빅데이터 3차
- 과제2 : 건설기계 배출가스 관리 체게 구축
- 과제4 : 배출가스 전문정비제도 관리체계 구축
- 과제5 : 자동차 환경 빅데이터 제작사 공동 활용체게 구축

# Library

In [7]:
import pandas as pd
import os
import numpy as np
from datetime import datetime

In [8]:
pd.options.display.float_format = '{:.2f}'.format
# pd.reset_option('display.float_format')

In [9]:
# 경고문 없애는 코드
# UserWarning: Workbook contains no default style, apply openpyxl's default warn("Workbook contains no default style, apply openpyxl's default")
import warnings
warnings.simplefilter("ignore")

# Fold

In [10]:
pub_fold = 'D:/data/processing/big3/raw/public'
raw_fold = 'D:/data/processing/big3/raw'
raw2_fold = 'D:/data/processing/big3/raw/BD2'
raw4_fold = 'D:/data/processing/big3/raw/BD4'
raw5_fold = 'D:/data/processing/big3/raw/BD5'
an_fold = 'D:/data/processing/big3/analysis'
an2_fold = 'D:/data/processing/big3/analysis/BD2'
an4_fold = 'D:/data/processing/big3/analysis/BD4'
an5_fold = 'D:/data/processing/big3/analysis/BD5'
df_fold = 'D:/data/processing/big3/df'
df2_fold = 'D:/data/processing/big3/df/BD2'
df4_fold = 'D:/data/processing/big3/df/BD4'
df5_fold = 'D:/data/processing/big3/df/BD5'
folds = {
    'pub_fold':pub_fold, 
    'raw_fold':raw_fold, 
    'raw2_fold':raw2_fold, 
    'raw4_fold':raw4_fold, 
    'raw5_fold':raw5_fold, 
    'an_fold':an_fold, 
    'an2_fold:':an2_fold, 
    'an4_fold:':an4_fold, 
    'an5_fold:':an5_fold, 
    'df_fold':df_fold, 
    'df2_fold':df2_fold, 
    'df4_fold':df4_fold, 
    'df5_fold':df5_fold, 
    }
folds

{'pub_fold': 'D:/data/processing/big3/raw/public',
 'raw_fold': 'D:/data/processing/big3/raw',
 'raw2_fold': 'D:/data/processing/big3/raw/BD2',
 'raw4_fold': 'D:/data/processing/big3/raw/BD4',
 'raw5_fold': 'D:/data/processing/big3/raw/BD5',
 'an_fold': 'D:/data/processing/big3/analysis',
 'an2_fold:': 'D:/data/processing/big3/analysis/BD2',
 'an4_fold:': 'D:/data/processing/big3/analysis/BD4',
 'an5_fold:': 'D:/data/processing/big3/analysis/BD5',
 'df_fold': 'D:/data/processing/big3/df',
 'df2_fold': 'D:/data/processing/big3/df/BD2',
 'df4_fold': 'D:/data/processing/big3/df/BD4',
 'df5_fold': 'D:/data/processing/big3/df/BD5'}

# EDA
+ 과제2
    - 건설기계 인증자료
    - 건설기계 인증대장
+ 과제4
    - 자동차전문정비 : STD_TB_ERR_RES
    - 자동차전문정비상세 : STD_TB_ERR_RES_DET
+ 과제5
    - 구조변경검사 : STD_DLM_TB_ERP_GUBUN_BAECHUL

# 과제2

## 건설기계 인증자료(12개)

In [11]:
def construct_machine_certification_data_load(name, sheet_name=0):
    fold = os.path.join(raw2_fold, 'KENCIS 건설기계 인증자료_231018')
    try:
        file_name = f'{name}.xlsx'
        cert_dt = pd.read_excel(os.path.join(fold, file_name), sheet_name=sheet_name)
        return cert_dt
    except:
        file_name = f'{name}.xlsx'
        cert_dt = pd.read_excel(os.path.join(fold, file_name))
        return cert_dt

### 정보 모음

In [12]:
cols = construct_machine_certification_data_load('KENCIS_건설기계인증정보_테이블명세서', '테이블정의서')
cols.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 649 entries, 0 to 648
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   테이블명    12 non-null     object
 1   테이블설명   12 non-null     object
 2   컬럼명     649 non-null    object
 3   컬럼설명    644 non-null    object
 4   데이터형식   649 non-null    object
 5   길이      499 non-null    object
 6   Null    649 non-null    object
dtypes: object(7)
memory usage: 35.6+ KB

In [13]:
cols.head()

,테이블명,테이블설명,컬럼명,컬럼설명,데이터형식,길이,Null
0,UNI_FC_TCMASTER,통합 정식/기본인증 마스터,ADM_NO,관리번호,VARCHAR2,10,N
1,NaN,NaN,AGREE_SUBMIS,교정정보 및 사후 확정정보 제출 협약,VARCHAR2,100,Y
2,NaN,NaN,AGREE_SUBMIS_CT,교정정보 및 사후 확정정보 제출 협약 첨부파일,VARCHAR2,100,Y
3,NaN,NaN,APP_WAR,보증에 관한 설명,VARCHAR2,100,Y
4,NaN,NaN,APP_WAR_CT,보증에 관한 설명첨부파일,VARCHAR2,100,Y

In [14]:
cols[['테이블명', '테이블설명']] = cols[['테이블명', '테이블설명']].ffill()

In [15]:
name_list = [
    'UNI_FC_TCMASTER', 
    'UNI_FC_TCERTIMODI', 
    'UNI_FC_ENG_TEFSPEC', 
    'UNI_FC_TEEMISSN', 
    'UNI_FC_TEEMISSN_ENG_RES', 
    'UNI_FC_TESTINFO', 
    'UNI_FC_ENG_LIST', 
    'UNI_FC_ENDUENG_EMI', 
    'UNI_FC_ENDUENGTEST', 
    'UNI_FC_ENDUENGTEST_RES', 
    'UNI_FC_KIENGTEST', 
    'UNI_FC_KIENGTEST_RES', 
    ]
len(name_list)

12

In [16]:
cols_dict = {}
for t in name_list:
    cols_dict[t] = {a:b for a, b in cols.loc[cols['테이블명'] == t, ['컬럼명', '컬럼설명']].values}

In [17]:
cols_dict

{'UNI_FC_TCMASTER': {'ADM_NO': '관리번호',
  'AGREE_SUBMIS': '교정정보 및 사후 확정정보 제출 협약',
  'AGREE_SUBMIS_CT': '교정정보 및 사후 확정정보 제출 협약 첨부파일',
  'APP_WAR': '보증에 관한 설명',
  'APP_WAR_CT': '보증에 관한 설명첨부파일',
  'APPLI_ID': '신청아이디',
  'APPREGI_DATE': '결재일',
  'APPROVAL_YN': '결재여부',
  'CERTI_DIV': '인증구분',
  'CERTI_INTRO': '인증소개',
  'CERTI_INTRO_CT': '인증소개 첨부파일',
  'CERTI_STATE': '처분내용',
  'CERTI_TYPE': '인증종류',
  'CO_DEVT': 'CO 개발목표치',
  'CO_OP': '산술기호(1:덧셈 2:곱셈)',
  'COLD_CO_DEVT': 'Cold CO 개발목표치',
  'COLD_CO_OP': 'Cold CO 연산자',
  'CONF_INFO': '기밀사항',
  'CONF_INFO_CT': '기밀사항 첨부파일',
  'CONF_ISSUE_NO': '발급문서번호',
  'DF_CO': 'CO 열화계수',
  'DF_COLD_CO': 'HC 열화계수',
  'DF_EVAP_EMIS': 'COLD_CO 열화계수',
  'DF_HC': 'HC 열화계수',
  'DF_HCNOX': 'HCNOX 열화계수',
  'DF_MILEAGE': '열화계수 사용량',
  'DF_NOX': 'NOX 열화계수',
  'DF_PM': 'PM 열화계수',
  'DF_PN': 'PN 열화계수',
  'DF_SMOKE': 'SMOKE 열화계수',
  'DURA_TEST_EF_SNO': '내구성시험 동일차종 일련번호',
  'DURA_TEST_REMARK': '내구성테스트 비고',
  'DURA_TEST_YN': '내구성시험 실시 여부',
  'E_CONFIRM': '결제상태',
  'EF_CD': '동일차종기호',
  'EF_CD_1': '인증년도',
  'EF_CD_2': '차종기호',
  'EF_CD_3': '차종기호',
  'EF_CD_4': '차종기호',
  'EF_CD_5': '차종기호',
  'EF_CD_6': '차종기호',
  'EF_CD_7': '차종기호',
  'EF_CD_8': '차종기호',
  'EF_CD_9': '차종기호',
  'EF_CNT': '동일차량 대수',
  'ELEC_CAR_GB': '전기차 구분 ( N:일반,E:전기차(사용안함),H:하이브리드(사용안함), C:친환경차 )',
  'EMIS_CANCEL_DATE': '배출가스 인증서 취소 날짜',
  'EMIS_CERTI_DATE': '배출가스인증일 ',
  'EMIS_CERTI_NO': '배출인증번호',
  'EMIS_CERTI_SNO': '배출가스인증번호',
  'EMIS_CTL_INSTALL': '배출가스 방지장치 부착내용',
  'EMIS_CTL_INSTALL_E': '배출가스 방지장치 부착내용(영문)',
  'EMIS_CTL_LABEL': '배출가스 표시판(Label)',
  'EMIS_CTL_LABEL_CT': '배출가스 표시판(Label)첨부파일 ',
  'EMIS_CTL_TECH': '배출가스 제어장치',
  'EMIS_CTL_TECH_CT': '배출가스 제어장치첨부파일',
  'EMIS_NOTE': '배출허용기준',
  'EMIS_NOTE2': '변경인증관련비고내용',
  'EMIS_OMIT_NO': '배출가스인증생략번호',
  'EMIS_STD_NOTE': '배출기준정보',
  'EMIS_TEST_EF_SNO': '배출가스시험 동일차종 일련번호',
  'EMIS_TEST_REMARK': '배출가스시험차 비고',
  'EMIS_VEH_CLASS': '배출가스 차종',
  'EMIS_WARRANT': '자동차배출가스 보증에 관한 제작자의 확인서',
  'EMIS_WARRANT_CT': '자동차배출가스 보증에 관한 제작자의 확인서첨부파일',
  'EMIS_WITHD_DATE': '배출인증반납일',
  'END_DATE': 'end_date',
  'ENG_CAR_GB': '건설기계/농업기계구분',
  'ENG_DRAWOUT_YN': '원동기동력 인출장치 장착여부',
  'EV_CTL_INSTALL': '전기제어장치 부착내용',
  'EVAP_BLOWBY': '증발가스 및 브로바이가스',
  'EVAP_BLOWBY_CT': '증발가스 및 브로바이가스첨부파일',
  'EVAP_EMIS_DEVT': '증발가스 개발목표치',
  'EVAP_EMIS_OP': '산술기호(1:덧셈 2:곱셈)',
  'FACT_SNO': '사업장',
  'FILE_ORIGIN1': '시설적합확인서',
  'FILE1': '첨부파일',
  'FORMAL_DEVT': '포름알데히드 개발목표치',
  'HC_DEVT': 'HC 개발목표치',
  'HC_DIV': 'HC 개발목표치',
  'HC_OP': '산술기호(1:덧셈 2:곱셈)',
  'HCNOX_DEVT': 'HCNOX 개발목표치',
  'HCNOX_OP': '산술기호(1:덧셈 2:곱셈)',
  'MAINT_WARRANT': '정비보증',
  'MAINT_WARRANT_CT': '첨부파일',
  'ME_OPINION_FILE1': '검토의견서 파일1',
  'ME_OPINION_FILE1_ORGNM': '검토의견서 파일1(원본파일명)',
  'ME_OPINION_FILE2': '검토의견서 파일2',
  'ME_OPINION_FILE2_ORGNM': '검토의견서 파일2(원본파일명)',
  'ME_OPINION_FILE3': '검토의견서 파일3',
  'ME_OPINION_FILE3_ORGNM': '검토의견서 파일3(원본파일명)',
  'ME_OPINION_NOTE': '검토의견서 내용',
  'ME_OPINION_TITLE': '검토의견서 제목',
  'ME_RECEIVE_STATE': '환경부 접수 코드(공통코드:21)',
  'ME_REFERRAL_RCV_SNO': '검토의뢰서 접수번호(검토의뢰서 접수번호)',
  'ME_REFERRAL_SEND_SNO': '검토의뢰서 번호(검토의뢰서 제출번호)',
  'MGR_ID1': '결재연구관',
  'MGR_ID2': '결재연구사',
  'MOD_DATETIME': '수정일시',
  'MOD_ID': '수정아이디',
  'MODIFY_YN': 'modify_yn',
  'NATION': '제작국가',
  'NOISE_CANCEL_DATE': '소음 인증서 취소 날짜',
  'NOISE_CERTI_CD': '소음인증코드',
  'NOISE_CERTI_DATE': '소음인증일',
  'NOISE_CERTI_NO': '소음인증번호',
  'NOISE_CERTI_SNO': '소음인증번호',
  'NOISE_CTL_INSTALL': '소음 방지장치 부착내용',
  'NOISE_NOTE': '소음허용기준',
  'NOISE_OMIT_NO': '소음 인증생략번호',
  'NOISE_RED_DOC': '자동차 소음저감에 관한 서류',
  'NOISE_RED_DOC_CT': '자동차 소음저감에 관한 서류첨부파일',
  'NOISE_STD_NOTE': '소음기준정보',
  'NOISE_TEST_EF_SNO': '소음시험 동일차종 일련번호',
  'NOISE_VEH_CLASS': '소음 차종',
  'NOISE_WITHD_DATE': '소음인증반납일',
  'NOX_DEVT': 'NOx 개발목표치',
  'NOX_OP': '산술기호(1:덧셈 2:곱셈)',
  'OBD_TEST_YN': 'OBD 시험여부',
  'OBD_VEH_CLASS': 'obd_veh_class',
  'OFFICE_CD': '업체코드',
  'OFFICER_ID': '담당자 ID',
  'OLD_VEH_ID_NO': 'OLD_원동기코드',
  'OLDCERTI': '과거자료여부',
  'OMIT_CNT': '인증생략 가능수',
  'OMIT_REASON': '인증생략근거',
  'PAY_TAX': 'pay_tax',
  'PERSON_NO': 'person_no',
  'PM_DEVT': 'PM 개발목표치',
  'PM_OP': '산술기호(1:덧셈 2:곱셈)',
  'PROC_STATE': '인증처리상태',
  'PRODUCTION': '제작사(한글)',
  'PRODUCTION_E': '제작사(영문)',
  'RCV_SEQ': 'RCV순번',
  'RECEIVE_STATE': '반영 전 데이타',
  'RECT_DATE': '접수일',
  'REG_DATETIME': '등록일시',
  'REG_ID': '등록아이디',
  'REG2_YN': '재신청여부',
  'SEL_CONT': '비고(한글)',
  'SEL_CONT_E': '비고(영문)',
  'SELF_TEST': '시설확인유무',
  'SIMIL_ADMIN_NO': '인증생략신청서',
  'SMOKE_DEVT': '매연 개발목표치',
  'SMOKE_OP': '산술기호(1:덧셈 2:곱셈)',
  'SNOTE': '취소반납사유',
  'SNOTE2': '소음 인증서 반납/취소 사유',
  'TC_NO': '고유번호',
  'TC_TYPE': '1:기본인증,2:변경인증',
  'TEST_FUEL': '인증시험 연료',
  'TEST_FUEL_CT': '인증시험 연료첨부파일',
  'TEST_PROC': '시험절차',
  'TEST_PROC_CT': '시험절차 첨부파일 ',
  'TONG_DATE': '통관일',
  'TONG_NUM': '통관대수',
  'TRECOGREP': '비정기정비',
  'TREGREP': '정기정비',
  'USER_ID': '사용자아이디',
  'VEH_ID_NO': '원동기코드'},
 'UNI_FC_TCERTIMODI': {'CERTI_MODI_SNO': '변경인증일련번호',
  'REG_DATETIME': '등록일시',
  'CERTI_MODI_DIV': '변경구분(1:변경인증, 2:변경보고)',
  'EMIS_NOISE_DIV': '배출소음구분(1:배출 2:소음 3:배출+소음)',
  'EMIS_MODI_ITEM': '배출가스 변경인증 변경항목',
  'NOISE_MODI_ITEM': '소음 변경인증 변경항목',
  'EMIS_MODI_REASON': '배출가스 변경사유',
  'NOISE_MODI_REASON': '소음 변경사유',
  'MODI_ITEM_ETC': '기타 변경사항',
  'RECT_DATE': '접수일',
  'APPLI_ID': '신청아이디',
  'OFFICER_ID': '담당자 ID',
  'MODI_EXPLAIN': '변경하고자 하는 인증내용에 대한 설명',
  'EMIS_CHG_EXAM': '인증내용 변경전후의 배출가스변화에 대한 설명',
  'NOISE_CHG_EXAM': '인증내용 변경전후의 소음변화에 대한 설명',
  'MODIF_PROC_STATE': '변경인증 진행상태',
  'CERTI_STATE': '인증진행상태',
  'RECEIVE_STATE': '반영 전 데이터',
  'CO_STD': 'CO 기준치',
  'NOX_STD': 'NOx 허용기준',
  'HC_STD': 'HC 기준치',
  'HCNOX_STD': 'HCNOX 허용기준',
  'EVAP_EMIS_STD': '증발가스 허용기준',
  'PM_STD': 'HC PPm 허용기준',
  'COLD_CO_STD': 'Cold CO 기준치',
  'SMOKE_STD': '매연 허용기준',
  'FORMAL_STD': 'FORMAL허용기준',
  'IDLE_CO_STD': '아이들링 CO 허용기준',
  'HC_PPM_STD': 'HC PPm 허용기준',
  'MODI_EXPLAIN_CT': '변경하고자 하는 인증내용에 대한 설명',
  'EMIS_CHG_EXAM_CT': '인증내용 변경전후의 배출가스 변화에 대한 설명',
  'NOISE_CHG_EXAM_CT': '인증내용 변경전후의 소음 변화에 대한 설명',
  'ACCEL_NOISE_STD': '가속주행소음 기준치',
  'EXH_NOISE_STD': '배기소음 기준치',
  'HORN_NOISE_STD': '경적소음 기준치',
  'TEST_NO': '시험번호',
  'EMIS_CERTI_DATE': '배출가스인증일 ',
  'NOISE_CERTI_DATE': '소음인증일',
  'MODI_TITLE': '변경제목',
  'MODI_DESC': '변경내용',
  'CERTI_STD': '인증허용기준',
  'CERTI_STD_DATE': '인증허용일',
  'EMIS_WITHD_DATE': '배출인증반납일',
  'NOISE_WITHD_DATE': '소음인증반납일',
  'ADM_NO': '관리번호',
  'OLDCERTI': '과거자료여부',
  'CERTI_SNO': 'TCERTIMODI의IDX',
  'CR_CO': '인증 CO값',
  'CR_CO2': '인증 CO2값',
  'CR_COLD_CO': '인증 COLD_CO값',
  'CR_EVAP_EMIS': '인증 EVAP_EMIS값',
  'CR_HC': '인증 HC값',
  'CR_HCNOX': '인증 HCNOX값',
  'CR_MILEAGE': '인증 MILEAGE값',
  'CR_NOX': '인증 NOX값',
  'CR_PM': '인증 PM값',
  'CR_PN': '인증 PN값',
  'MILEAGE_STD': '허용기준MILEAGE',
  'PN_STD': 'PN 허용기준',
  'TC_NO': '고유번호',
  'OPINION_NOTE': '최종의견',
  'BOWAN_NOTE': '보완사항',
  'CTEST_NOTE': '확인시험',
  'EMIS_DOC': '배출가스인증서교부 공문 내용',
  'NOISE_DOC': '소음인증서교부 공문 내용',
  'CERTI_DIV': '인증구분(1:국내,2:수입)',
  'APPROVAL_YN': '결재여부',
  'MGR_ID1': '결재연구관',
  'MGR_ID2': '결재연구사',
  'APPREGI_DATE': '결재일',
  'MAKE_MTRL_NO': '인증신청 작성자료번호',
  'EMIS_CANCEL_DATE': '배출가스 인증서 취소 날짜',
  'NOISE_CANCEL_DATE': '소음 인증서 취소 날짜',
  'SNOTE': '배출가스 인증서 취소 사유',
  'SNOTE2': '소음 인증서 취소 사유',
  'REG_ID': '등록아이디',
  'MOD_ID': '수정아이디',
  'MOD_DATETIME': '수정일시',
  'STANDARD_SLT': '배출허용기준',
  'STANDARD_SLT2': '배출허용기준2',
  'ETC_TXT1': '배출가스표지판위치',
  'IDX': 'PHP건설기계IDX',
  'ETC_TXT3': '최대부압',
  'ETC_TXT4': '최대배압',
  'EMIS_ROWS_CODE': '배출가스저감기술',
  'EMIS_LOWS': '배출가스저감기술코드',
  'PHP_CERTY_TYPE': '인증_형태(이전PHP사용컬럼)',
  'PHP_REP_TYPE': '접수_형태(이전PHP사용컬럼)',
  'PHP_CERTI_STATE': '인증_상태(이전PHP사용컬럼)',
  'OLD_EMIS_CERTI_DATE': '과거자료 배출인증일자',
  'OLD_NOISE_CERTI_DATE': '과거자료 소음인증일자'},
 'UNI_FC_ENG_TEFSPEC': {'ADM_NO': '관리번호',
  'CERTI_MODI_SNO': '변경인증일련번호',
  'EF_SNO': '동일원동기일련번호',
  'ENG_MAKER': '제작사',
  'ENG_TYPE': '원동기 형식',
  'ENG_ID_NO': '원동기코드',
  'CYCLE': '싸이클(행정)',
  'BOAR': '보어(mm)',
  'STROKE': '스트로크(mm)',
  'CYLIN_CNT': '실린더 개수',
  'CYLIN_ARRANGE': '실린더 배치',
  'ENG_DISPL': '배기량(㎠)',
  'RATED_OUT': '정격출력(kW)',
  'RATED_OUT_RPM': '회전속도(rpm)',
  'MAX_TORQ': '최대토크(Nm)',
  'MAX_TORQ_RPM': '회전속도(rpm)',
  'COMP_RATIO': '압축비(오차)',
  'COMB_TYPE': '연소방식',
  'EXH_MIN_AREA': '흡기 포트의 최소 단면적(㎟)',
  'INTAKE_MIN_AREA': '배기 포트의 최소 단면적(㎟)',
  'COOL_TYPE': '냉각매체',
  'COOLANT_SORT': '냉각수 종류',
  'COOLANT_PUMP_YN': '냉각수 공급펌프 적용 여부',
  'PUMP_TYPE': '펌프형식',
  'PUMP_MAKER': '펌프제작사',
  'COOLANT_DRV_RATIO': '수냉식 구동비',
  'AIR_BLAST_YN': '공기 송풍장치 적용 여부',
  'BLAST_MAKER': '송풍기 제작사',
  'BLAST_DRV_RATIO': '공냉식 구동비',
  'COOLANT_OUTLET_TEMP': '냉각수 출구온도(K)',
  'STD_MAX_TEMP': '기준점에서 최대 온도(K)',
  'ITCL_TEMP': '인터출러 전단 온도(K)',
  'MAX_INTAKE_TEMP': '최대 배기온도(K)',
  'MIN_LUBR_OIL': '최소 윤활유 온도(K)',
  'MAX_LUBR_OIL': '최대 윤활유 온도(K)',
  'EXH_COMP_YN': '홉기공기 압축장치 적용 여부',
  'EXH_COMP_MAKER': '제작사',
  'EXH_COMP_TYPE': '형식',
  'EXH_COMP_PRESS': '최대 압축압력(kPa)',
  'ITCL_YN': '인터쿨러 적용 여부',
  'EXH_MAX_SUB_PRESS': '정격출력 회전수(전부하)에서의 최대허용 흡기부압',
  'INTAKE_MAX_BACK_PRESS': '정격출력 회전수(전부하)에서의 최대허용 배압',
  'CAT_TYPE': '종류',
  'CAT_PMETAL_COMP': '귀금속 성분',
  'CAT_PMETAL_AMT': '귀금속량(g)',
  'CAT_PMETAL_CAPA': '용량(㎤)',
  'CAT_PMETAL_RATIO': '귀금속물질비(Pt:PD:Rh)',
  'FUEL_DELIV_PUMP_PERF': '연료공급펌프 성능(kPa)',
  'FUEL_INJ_MAKER': '제작사',
  'FUEL_INJ_TYPE': '형식',
  'RATED_OUT_FUEL_AMT': '정격출력 회전수의 최대분사시 싸이클당 연료공급량(㎣)',
  'RATED_OUT_FUEL_RPM': '정격출력 회전수의 최대분사시 싸이클당 연료공급량 회전수(rpm)',
  'MAX_TORQ_FUEL_AMT': '최대토크 회전수의 최대 분사시 싸이클당 연료공급량(㎣)',
  'MAX_TORQ_FUEL_RPM': '최대토크 회전수의 최대 분사시 싸이클당 연료공급량 회전수(rpm)',
  'INJ_TNG': '분사시기',
  'INJ_PIPING_LENGTH': '인젝션 파이핑 길이(mm)',
  'INJ_PIPING_INS_DIA': ' 내경(mm)',
  'INJ_MAKER': '인젝터 제작사',
  'INJ_TYPE': '인젝터 형식',
  'FUEL_INJ_PRESS': '열림압(kPa)',
  'GVN_MAKER': '거버너 제작사',
  'GVN_TYPE': '거버너 형식',
  'GVN_FUEL_CUT_RPM': '거버너 전부하 이하에서 연료차단이 이뤄지는 회전속도(rpm)',
  'GVN_UNLOAD_RPM': '거버너 최고 무부하 회전속도(rpm)',
  'GVN_IDLE_RPM': '거버너 공회전속도(rpm)',
  'COLD_START_MAKER': '제작사',
  'COLD_START_TYPE': '형식',
  'COLD_START_HEAT_TYPE': '예열방식',
  'EXH_VALVE_LIFT': '흡기 밸브 리프트(mm)',
  'INTAKE_VALVE_LIFT': '배가 밸브 리프트(mm)',
  'EXH_VALVE_OPEN': '흡기밸브 열기',
  'EXH_VALVE_CLOSE': '흡기밸브 닫기',
  'INTAKE_VALVE_OPEN': '배기밸브 열기',
  'INTAKE_VALVE_CLOSE': '배기밸브 닫기',
  'COOLFAN_REMOVE_STS': '정격출력-냉각팬 탈거상태',
  'IDLE_RPM': '공회전 수',
  'IND_CYLIN_DISPL_DIFF': '개별실린더 배기량 차이(%)',
  'ENG_ECU_NO': '원동기 ECU No.',
  'SW_NO': '소프트웨어 No.',
  'COMB_CHAMB_TYPE': '연소실 형식',
  'VALVE_PORT_SHAPE': '밸브 및 포트 구성 형상',
  'INTK_VALVE_PORT_SIZE': '흡기 밸브 및 포트 크기',
  'INTK_VALVE_PORT_CNT': '흡기 밸브 및 포트 개수',
  'EXH_VALVE_PORT_SIZE': '배기 밸브 및 포트 크기',
  'EXH_VALVE_PORT_CNT': '배기 밸브 및 포트 개수',
  'AIR_CG_COOL_YN': '공기 챠저 쿨링 시스템',
  'EMIS_CYC_YN': '배기가스재순환장치',
  'WATER_INJ_YN': '물 인젝션 장치',
  'AIR_INJ_YN': '공기 인젝션 장치',
  'EXH_AFTERTREAT': '배기후처리장치(촉매형태)',
  'REG_DATETIME': '등록일시',
  'REG_ID': '등록아이디',
  'MOD_DATETIME': '수정일시',
  'MOD_ID': '수정아이디',
  'REF_EF_SNO': '부모동일원동기번호',
  'PRINT_YN': '출력여부',
  'TEMP_CTL_STD': '기준',
  'FUEL': nan,
  'CERTI_SNO': 'PHP건설기계TCERTIMODI의IDX',
  'IDX': 'PHP건설기계TEFSPEC의IDX',
  'PHP_EF_SNO': nan,
  'PHP_PAR_EF_SNO': nan,
  'PHP_P_EFSNO': nan,
  'ENG_CAR_GB': '건설기계/농업기계구분',
  'AIR_INTK_TYPE': '공기흡입방식',
  'MAX_OUTT_POWER': '최대출력동력',
  'MAX_OUTT_RPM': '최대출력분당회전수',
  'MAX_OUTT_POWER_UNIT': '최대출력동력단위'},
 'UNI_FC_TEEMISSN': {'ADM_NO': '관리번호',
  'CERTI_MODI_SNO': '인증일련번호',
  'FUEL': '사용연료코드',
  'SEL_STAND': '적용기준',
  'F_STAND': '외국기준',
  'GU_TERM': '보증기간',
  'TEST_DIV': '시험구분',
  'TEST_METHOD_CHK': '시험방법체크값',
  'COL': '대표적용기술',
  'REG_ID': '등록아이디',
  'REG_DATETIME': '등록일시',
  'MOD_ID': '수정아이디',
  'MOD_DATETIME': '수정일시',
  'LEV_CRTR_CD': '저배출차량 기준 코드',
  'TBL_PK_SEQ_ID': nan},
 'UNI_FC_TEEMISSN_ENG_RES': {'ADM_NO': '관리번호',
  'CERTI_MODI_SNO': '인증일련번호',
  'TEST_RST_SNO': '시험결과일련번호',
  'TEST_RST_CODE': '시험결과구분코드(차량별시험결과=00,종합결과=99)',
  'TEST_MOD': '시험모드(CVS-75,Highway,US06,SC03,Cold CO...)',
  'ENG_NO': '시험원동기형식',
  'MAX_PWR_KW': '최대출력kW',
  'MAX_PWR_RPM': '최대출력RPM',
  'COOLANT_OUTLET_TEMP': '최대출력 시 냉각수 출구온도',
  'ITCL_TEMP': '최대출력 시 인터쿨러 전단온도',
  'EXH_SUB_PRESS': '최대출력 시 흡기 부압',
  'EXH_BACK_PRESS': '최대출력 시 흡기배압',
  'TEST_NO': '시험번호',
  'TEST_DATE': '시험일자',
  'ENG_TYPE': '시험원동기형식',
  'ENG_ID_NO': '대표원동기명(원동기코드)',
  'IDLE_RPM': '공회전수',
  'ENG_DISPL': '총배기량',
  'MAX_TORQ': '최대토크kgf또는Nm',
  'MAX_TORQ_RPM': '최대토크RPM',
  'MAX_PWR_COOLANT_OUTLET_TEMP': '최대출력 시 냉각수 출구온도',
  'MAX_PWR_ITCL_TEMP': '최대출력 시 인터쿨러 전단온도',
  'MAX_PWR_EXH_TEMP': '최대출력 시 흡기온도',
  'MAX_PWR_EXH_SUB_PRESS': '최대출력 시 흡기 부압',
  'MAX_PWR_EXH_BACK_PRESS': 'MAX_PWR_EXH_BACK_PRESS',
  'MAX_INTAKE_TEMP': 'MAX_INTAKE_TEMP',
  'TEST_RPM': '회전수(rpm)',
  'TEST_PWR_KW': '출력(KW)',
  'TEST_LOAD': '부하(kgm)',
  'AIR_FLOW': '습공기유량(kg/h)',
  'FUEL_FLOW': '연료유량(kg/h)',
  'CO_RST_PPM': 'CO측정값(ppm)',
  'NMHC_RST_PPM': 'NMHC측정값(ppm)',
  'NOX_RST_PPM': 'Nox측정값(ppm)',
  'KW_WET_CONV_COEF': 'Kw습식전환계수',
  'KNOX_REV_COEF': 'Knox보정계수',
  'WF_ADDTO_COEF': 'WF가중계수',
  'CO_RST_VAL': 'CO시험결과',
  'NMHC_RST_VAL': 'NMHC시험결과',
  'CH4_RST_VAL': 'CH4시험결과',
  'NOX_RST_VAL': 'Nox시험결과',
  'CO2_RST_VAL': 'CO2시험결과',
  'MILEAGE_RST_VAL': '연비시험결과',
  'PM_RST_VAL': 'PM시험결과',
  'CO_RST_VAL2': 'CO시험결과2',
  'NMHC_RST_VAL2': 'NMHC시험결과2',
  'CH4_RST_VAL2': 'CH4시험결과2',
  'NOX_RST_VAL2': 'Nox시험결과2',
  'CO2_RST_VAL2': 'CO2시험결과2',
  'MILEAGE_RST_VAL2': '연비시험결과2',
  'PM_RST_VAL2': 'PM시험결과2',
  'CO_FINAL_RST': 'CO최종시험결과',
  'NMHC_FINAL_RST': 'NMHC최종시험결과',
  'CH4_FINAL_RST': 'CH4최종시험결과',
  'NOX_FINAL_RST': 'Nox최종시험결과',
  'CO2_FINAL_RST': 'CO2최종시험결과',
  'MILEAGE_FINAL_RST': '연비최종시험결과',
  'PM_FINAL_RST': 'PM최종시험결과',
  'CO_DF_RST': 'CO열화계수',
  'NMHC_DF_RST': 'NMHC열화계수',
  'CH4_DF_RST': 'CH4열화계수',
  'NOX_DF_RST': 'Nox열화계수',
  'CO2_DF_RST': 'CO2열화계수',
  'MILEAGE_DF_RST': '연비열화계수',
  'PM_DF_RST': 'PM열화계수',
  'CO_KI_RST': 'CO주기적재생지수',
  'NMHC_KI_RST': 'NMHC주기적재생지수',
  'CH4_KI_RST': 'CH4주기적재생지수',
  'NOX_KI_RST': 'Nox주기적재생지수',
  'CO2_KI_RST': 'CO2주기적재생지수',
  'MILEAGE_KI_RST': '연비주기적재생지수',
  'PM_KI_RST': 'PM주기적재생지수',
  'CO_ST_PERMSS': 'CO기준치',
  'NMHC_ST_PERMSS': 'NMHC기준치',
  'CH4_ST_PERMSS': 'CH4기준치',
  'NOX_ST_PERMSS': 'Nox기준치',
  'CO2_ST_PERMSS': 'CO2기준치',
  'MILEAGE_ST_PERMSS': '연비기준치',
  'PM_ST_PERMSS': 'PM기준치',
  'REG_DATETIME': '등록일시',
  'REG_ID': '등록아이디',
  'MOD_DATETIME': '수정일시',
  'MOD_ID': '수정아이디',
  'PN_RST_VAL': 'PN시험결과',
  'PN_RST_VAL2': 'PN시험결과2',
  'PN_FINAL_RST': 'PN최종시험결과',
  'PN_DF_RST': 'PN열화계수',
  'PN_KI_RST': 'PN주기적재생지수',
  'PN_ST_PERMSS': 'PN기준치',
  'NMHCNOX_RST_VAL': 'NMHC+Nox시험결과',
  'NMHCNOX_KI_RST': 'NMHC+Nox주기적재생지수',
  'NMHCNOX_DF_RST': 'NMHC+Nox열화계수',
  'NMHCNOX_FINAL_RST': 'NMHC+Nox최종시험결과',
  'NMHCNOX_ST_PERMSS': 'NMHC+Nox기준치',
  'NMHCNOX_RST_VAL2': 'NMHC+Nox시험결과2',
  'NH3_RST_VAL2': 'NH3시험결과2',
  'NH3_FINAL_RST': 'NH3최종시험결과',
  'NH3_DF_RST': 'NH3열화계수',
  'NH3_KI_RST': 'NH3주기적재생지수',
  'NH3_ST_PERMSS': 'NH3기준치',
  'NH3_RST_VAL': 'NH3시험결과'},
 'UNI_FC_TESTINFO': {'ADM_NO': '관리번호',
  'AVRG_LOADQTY': '평균 부하량',
  'CERTI_MODI_SNO': '인증일련번호',
  'CHR_LLMT_SOC': '축전지_하한_충전상태',
  'CHR_UPLMT_SOC': '축전지_상한_충전상태',
  'EF_SNO': '동일차종일련번호',
  'ELECMOT_MAX_EFFICIENCY': '전동기_최대_효율',
  'ELECMOT_MAX_SPEED_RPM': '전동기_최대_속도_분당회전수',
  'ELECMOT_RATED_SPEED_RPM': '전동기_정격_속도_분당회전수',
  'ELEC_INFO1': '사용안함-(전기차)대표적용기술(전기차제어장치부착내용)',
  'ELEC_INFO1_TXT': '사용안함-전기차정보기재',
  'ELEC_SPEC_CHR_OUTPUT': '전기차-제원_축전지_출력밀도',
  'ELEC_SPEC_CHR_RATED_VOLT': '전기차-제원_축전지_정격전압',
  'ELEC_SPEC_CHR_STOABLE': '전기차-제원_축전지_저장가능전력',
  'ELEC_SPEC_CHR_TYPE': '전기차-제원_축전지_종류',
  'ELEC_SPEC_CHR_USEABLE': '전기차-제원_축전지_이용가능전력',
  'ELEC_SPEC_CHR_VOL': '전기차-제원_축전지_용량',
  'ELEC_SPEC_CVT_MAX_OUTPUT': '전기차-제원_컨버터_최대출력전류',
  'ELEC_SPEC_CVT_TYPE': '전기차-제원_컨버터_종류',
  'ELEC_SPEC_ELECMOT_TYPE': '전기차-제원_전동기_종류',
  'ELEC_SPEC_IVT_MAX_ELEC': '전기차-제원_인버터_최대전류',
  'ELEC_SPEC_IVT_TYPE': '전기차-제원_인버터_종류',
  'ELEC_SPEC_MAX_OUTPUT1': '전기차-제원_최대출력1',
  'ELEC_SPEC_MAX_OUTPUT2': '전기차-제원_최대출력2',
  'ELEC_SPEC_MAX_TORQUE': '전기차-제원_최대토크',
  'ELEC_SPEC_RATED_VOLT': '전기차-제원_정격전압',
  'ELEC_TECH': '사용안함-전기차:대표적용기술',
  'ELEC_WARR_ACCUMU': '전기차-주요부품 보증기간(축전지)',
  'ELEC_WARR_CHARGER': '전기차-주요부품 보증기간(충전기)',
  'ELEC_WARR_ELECMOT': '전기차-주요부품 보증기간(전동기)',
  'ELEC_WARR_GENERATOR': '전기차-주요부품 보증기간(제너레이터)',
  'HVAC_PWRER_QY': 'Heating, Ventilation, Air Conditioning_전력_량',
  'INFO1': '대표적용기술',
  'INFO2': '배출가스 방지장치 부착내용',
  'INFO3': '소음 방지장치 부착내용',
  'INFO4': '시험기본정보',
  'LOWTMP_POWER_LOAD_COEF1': '저온_동력_부하_계수1',
  'LOWTMP_POWER_LOAD_COEF2': '저온_동력_부하_계수2',
  'LOWTMP_POWER_LOAD_COEF3': '저온_동력_부하_계수3',
  'LOWTMP_ROAD_INTAKE_COEF1': '저온_도로_흡입_계수1',
  'LOWTMP_ROAD_INTAKE_COEF2': '저온_도로_흡입_계수2',
  'LOWTMP_ROAD_INTAKE_COEF3': '저온_도로_흡입_계수3',
  'MOD_DATETIME': '수정일시',
  'MOD_ID': '수정아이디',
  'PTC_HEATER_PWRER_QY': 'Positive Temperature Coefficient_히터_전력_량',
  'REG_DATETIME': '등록일시',
  'REG_ID': '등록아이디',
  'TC_TYPE': '적용기준(기본/변경)',
  'FCEV_WARR_FUELCELL': '수소전기차-주요부품 보증기간(연료전지)',
  'FCEV_WARR_ACCUMU': '수소전기차-주요부품 보증기간(축전지)',
  'FCEV_WARR_ELECMOT': '수소전기차-주요부품 보증기간(전동기)',
  'FCEV_WARR_INVERTER': '수소전기차-주요부품 보증기간(인버터)',
  'FCEV_WARR_CONVERTER': '수소전기차-주요부품 보증기간(컨버터)',
  'FCEV_WARR_FUELTANKVALVE': '수소전기차-주요부품 보증기간(연료탱크밸브)',
  'FCEV_WARR_FUELPRESS_ETC': '수소전기차-주요부품 보증기간(연료압력조절기등)',
  'FCEV_SPEC_FUELCELL_TYPE': '수소전기차-제원_연료전지_종류',
  'FCEV_SPEC_FUELCELL_MAX_CAPA': '수소전기차-제원_연료전지_최대용량',
  'FCEV_SPEC_FUELCELL_RATED_VOLT': '수소전기차-제원_연료전지_정격전압',
  'FCEV_SPEC_FUELCELL_MAX_OUT': '수소전기차-제원_연료전지_최대출력',
  'RTEMP_POWER_LOAD_COEF1': '상온_동력_부하_계수1',
  'RTEMP_POWER_LOAD_COEF2': '상온_동력_부하_계수2',
  'RTEMP_POWER_LOAD_COEF3': '상온_동력_부하_계수3',
  'RTEMP_ROAD_INTAKE_COEF1': '상온_도로_흡입_계수1',
  'RTEMP_ROAD_INTAKE_COEF2': '상온_도로_흡입_계수2',
  'RTEMP_ROAD_INTAKE_COEF3': '상온_도로_흡입_계수3',
  'RTEMP_MCT_RDIST': '상온_MCT_주행거리',
  'LOWTMP_MCT_RDIST': '저온_MCT_주행거리'},
 'UNI_FC_ENG_LIST': {'ADM_NO': '관리번호',
  'CERTI_MODI_SNO': '변경인증일련번호',
  'EF_SNO': '동일차종일련번호',
  'ENG_DISPL': '배기량',
  'ENG_ID_NO': '대표원동기명(원동기코드)',
  'ENG_SNO': '원동기장착일련번호',
  'ENG_TYPE': '엔진형식',
  'ETC': '기타 정보',
  'MAX_PWR_KW': '최대출력kW',
  'MAX_PWR_RPM': '최대출력 회전수',
  'MOD_DATETIME': '수정일시',
  'MOD_ID': '수정아이디',
  'MODI_REF_EF_SNO': '변경부모동일원동기번호',
  'REG_DATETIME': '등록일시',
  'REG_ID': '등록아이디',
  'VEH_IN_COM': '수입사',
  'VEH_MAKER': '제작사',
  'VEH_NM': '차명',
  'VEH_PRE_NM': '건설(농)기계 수입사 대표자 성명',
  'VEH_TYPE': '자동차형식',
  'VEH_TYPE_YN': '인증서 표출 여부'},
 'UNI_FC_ENDUENG_EMI': {'ADM_NO': '관리번호',
  'CERTI_MODI_SNO': '변경인증일련번호',
  'CO_GRAD': 'CO기울기',
  'CO_YITCT': 'CO Y절편',
  'MOD_DATETIME': '수정일시',
  'MOD_ID': '수정아이디',
  'NMHC_GRAD': 'NMHC기울기',
  'NMHC_YITCT': 'NMHC Y절편',
  'NOX_GRAD': 'NOX기울기',
  'NOX_YITCT': 'NOX Y절편',
  'PM_GRAD': 'PM기울기',
  'PM_YITCT': 'PM Y절편',
  'REG_DATETIME': '등록일시',
  'REG_ID': '등록아이디',
  'TEST_METHOD_CHK': '시험방법체크값',
  'TEST_MOD': '배출가스시험모드',
  'TEST_RST_SNO': '시험결과일련번호',
  'PN_GRAD': 'PN 기울기',
  'PN_YITCT': 'PN Y절편'},
 'UNI_FC_ENDUENGTEST': {'ADM_NO': '관리번호',
  'CERTI_MODI_SNO': '변경인증일련번호',
  'ENG_ID_NO': '대표원동기명(원동기코드)',
  'ENG_NO': '원동기 번호',
  'ENG_TYPE': '엔진형식',
  'MOD_DATETIME': '수정일시',
  'MOD_ID': '수정아이디',
  'REG_DATETIME': '등록일시',
  'REG_ID': '등록아이디',
  'TEST_DATE': '시험일',
  'TEST_ENG_SNO': '시험원동기일련번호',
  'TEST_NO': '시험번호'},
 'UNI_FC_ENDUENGTEST_RES': {'ADM_NO': '관리번호',
  'CERTI_MODI_SNO': '인증 일련번호',
  'P_ENG_YN': '내구대표차원동기여부',
  'SEL_ADM_NO': '내구 동일원동기  관리번호',
  'TEST_METHOD_CHK': '시험방법체크값',
  'TEST_MOD': '시험모드(CVS-75,Highway,US06,SC03,Cold CO...)',
  'TEST_RST_SNO': '시험결과일련번호',
  'TEST_RST_SNO_SEQ': '시험결과일련번호의항목순번',
  'FUEL': '사용연료코드',
  'DDC_USE_YN': '지정열화계수 사용유무(사용:1,미사용:0)',
  'TEST_CNT': '회차',
  'TEST_TIME': '운전시간',
  'TEST_PLACE': '시험장소',
  'TEST_DATE': '시험일자',
  'CO': 'CO',
  'NOX': 'NOx',
  'PM': 'PM',
  'NMHC': 'NMHC',
  'REG_ID': '등록아이디',
  'REG_DATETIME': '등록일시',
  'MOD_ID': '수정아이디',
  'MOD_DATETIME': '수정일시',
  'PN': 'PN',
  'NMHCNOX': 'NMHC+Nox'},
 'UNI_FC_KIENGTEST': {'ADM_NO': '관리번호',
  'CERTI_MODI_SNO': '변경인증일련번호',
  'ENG_ID_NO': '대표원동기명(원동기코드)',
  'ENG_NO': '원동기 번호',
  'ENG_TYPE': '엔진형식',
  'MOD_DATETIME': '수정일시',
  'MOD_ID': '수정아이디',
  'REG_DATETIME': '등록일시',
  'REG_ID': '등록아이디',
  'TEST_DATE': '시험일',
  'TEST_ENG_SNO': '시험원동기일련번호',
  'TEST_NO': '시험번호'},
 'UNI_FC_KIENGTEST_RES': {'ADM_NO': '관리번호',
  'CERTI_MODI_SNO': '인증 일련번호',
  'P_ENG_YN': 'KI대표원동기 여부',
  'SEL_ADM_NO': 'KI대표원동기 관리번호',
  'TEST_METHOD_CHK': '시험방법체크값',
  'TEST_MOD': '시험모드(CVS-75,Highway,US06,SC03,Cold CO...)',

In [13]:
name = 'UNI_FC_KIENGTEST_RES'
ct01 = construct_machine_certification_data_load(name)
ct01.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2740 entries, 0 to 2739
Data columns (total 20 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   ADM_NO            2740 non-null   int64
 1   CERTI_MODI_SNO    2740 non-null   int64
 2   P_ENG_YN          2704 non-null   float64
 3   SEL_ADM_NO        30 non-null     float64
 4   TEST_METHOD_CHK   2740 non-null   object
 5   TEST_MOD          2740 non-null   int64
 6   TEST_RST_SNO      2740 non-null   int64
 7   TEST_RST_SNO_SEQ  2740 non-null   int64
 8   FUEL              0 non-null      float64
 9   CO                953 non-null    float64
 10  NMHC              924 non-null    float64
 11  NOX               943 non-null    float64
 12  PM                943 non-null    float64
 13  REG_ID            2740 non-null   object
 14  REG_DATETIME      2740 non-null   object
 15  MOD_ID            162 non-null    object
 16  MOD_DATETIME      162 non-null    object
 17  NMHCNOX           209 non-null    float64
 18  PN                833 non-null    float64
 19  NH3               86 non-null     float64
dtypes: float64(10), int64(5), object(5)
memory usage: 428.3+ KB

In [14]:
cols_dict[name]

{'ADM_NO': '관리번호',
 'CERTI_MODI_SNO': '인증 일련번호',
 'P_ENG_YN': 'KI대표원동기 여부',
 'SEL_ADM_NO': 'KI대표원동기 관리번호',
 'TEST_METHOD_CHK': '시험방법체크값',
 'TEST_MOD': '시험모드(CVS-75,Highway,US06,SC03,Cold CO...)',
 'TEST_RST_SNO': '시험결과일련번호',
 'TEST_RST_SNO_SEQ': '시험결과일련번호의항목순번',
 'FUEL': '사용연료',
 'CO': 'CO',
 'NMHC': 'NMHC',
 'NOX': 'NOx',
 'PM': 'PM',
 'REG_ID': '등록아이디',
 'REG_DATETIME': '등록일시',
 'MOD_ID': '수정아이디',
 'MOD_DATETIME': '수정일시',
 'NMHCNOX': 'NMHC+Nox',
 'PN': '입자상물질개수',
 'NH3': '암모니아'}

In [15]:
cols_df = pd.DataFrame({'컬럼명':cols_dict[name].keys(), '컬럼설명':cols_dict[name].values()})
cols_df

                 컬럼명                                       컬럼설명
0             ADM_NO                                       관리번호
1     CERTI_MODI_SNO                                    인증 일련번호
2           P_ENG_YN                                 KI대표원동기 여부
3         SEL_ADM_NO                               KI대표원동기 관리번호
4    TEST_METHOD_CHK                                    시험방법체크값
5           TEST_MOD  시험모드(CVS-75,Highway,US06,SC03,Cold CO...)
6       TEST_RST_SNO                                   시험결과일련번호
7   TEST_RST_SNO_SEQ                              시험결과일련번호의항목순번
8               FUEL                                       사용연료
9                 CO                                         CO
10              NMHC                                       NMHC
11               NOX                                        NOx
12                PM                                         PM
13            REG_ID                                      등록아이디
14      REG_DATETIME                                       등록일시
15            MOD_ID                                      수정아이디
16      MOD_DATETIME                                       수정일시
17           NMHCNOX                                   NMHC+Nox
18                PN                                    입자상물질개수
19               NH3                                       암모니아

In [16]:
temp = ct01.isnull().sum().reset_index().rename(columns={'index':'컬럼명', 0:'빈 값 개수'})
temp['총 행수'] = ct01.shape[0]
temp.insert(0, '번호', [x for x in range(1, temp.shape[0] + 1)])
ttemp = temp.merge(cols_df, on='컬럼명', how='left')
ttemp = ttemp[['번호', '컬럼명', '컬럼설명', '빈 값 개수', '총 행수']]
ttemp

,번호,컬럼명,컬럼설명,빈 값 개수,총 행수
0,1,ADM_NO,관리번호,0,2740
1,2,CERTI_MODI_SNO,인증 일련번호,0,2740
2,3,P_ENG_YN,KI대표원동기 여부,36,2740
3,4,SEL_ADM_NO,KI대표원동기 관리번호,2710,2740
4,5,TEST_METHOD_CHK,시험방법체크값,0,2740
5,6,TEST_MOD,"시험모드(CVS-75,Highway,US06,SC03,Cold CO...)",0,2740
6,7,TEST_RST_SNO,시험결과일련번호,0,2740
7,8,TEST_RST_SNO_SEQ,시험결과일련번호의항목순번,0,2740
8,9,FUEL,사용연료,2740,2740
9,10,CO,CO,1787,2740
10,11,NMHC,NMHC,1816,2740
11,12,NOX,NOx,1797,2740
12,13,PM,PM,1797,2740
13,14,REG_ID,등록아이디,0,2740
14,15,REG_DATETIME,등록일시,0,2740
15,16,MOD_ID,수정아이디,2578,2740
16,17,MOD_DATETIME,수정일시,2578,2740
17,18,NMHCNOX,NMHC+Nox,2531,2740
18,19,PN,입자상물질개수,1907,2740
19,20,NH3,암모니아,2654,2740

In [17]:
today_date = datetime.today().strftime('%Y.%m.%d')
today_date

'2023.11.02'

### [출력] 컬럼, 데이터 정보들

In [201]:
# # 41.2s
# with pd.ExcelWriter(os.path.join(an2_fold, f'건설기계_인증자료_데이터정보({today_date}).xlsx')) as writer:
#     for i, name in enumerate(name_list):
#         cols_df = pd.DataFrame({'컬럼명':cols_dict[name].keys(), '컬럼설명':cols_dict[name].values()})
#         ct = construct_machine_certification_data_load(name)
#         temp = ct.isnull().sum().reset_index().rename(columns={'index':'컬럼명', 0:'빈 값 개수'})
#         temp['총 행수'] = ct.shape[0]
#         temp.insert(0, '번호', [x for x in range(1, temp.shape[0] + 1)])
#         ttemp = temp.merge(cols_df, on='컬럼명', how='left')
#         ttemp = ttemp[['번호', '컬럼명', '컬럼설명', '빈 값 개수', '총 행수']]
#         ttemp.to_excel(writer, sheet_name=f'{i+1}. {name}', index=False)

In [18]:
name_list

['UNI_FC_TCMASTER',
 'UNI_FC_TCERTIMODI',
 'UNI_FC_ENG_TEFSPEC',
 'UNI_FC_TEEMISSN',
 'UNI_FC_TEEMISSN_ENG_RES',
 'UNI_FC_TESTINFO',
 'UNI_FC_ENG_LIST',
 'UNI_FC_ENDUENG_EMI',
 'UNI_FC_ENDUENGTEST',
 'UNI_FC_ENDUENGTEST_RES',
 'UNI_FC_KIENGTEST',
 'UNI_FC_KIENGTEST_RES']

### 1\. UNI_FC_TCMASTER

In [18]:
name01 = name_list[0]
name01

'UNI_FC_TCMASTER'

In [19]:
# 1.3s
ct01 = construct_machine_certification_data_load(name01)
ct01.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 624 entries, 0 to 623
Columns: 159 entries, ADM_NO to NOISE_STD_NOTE
dtypes: datetime64[ns](1), float64(127), int64(2), object(29)
memory usage: 775.3+ KB

In [20]:
# CERTI_DIV(인증구분) : 1, 2
# EMIS_CERTI_NO(배출가스인증번호) : 00EN*AA*00 형식(숫자, 영문, 특수문자 혼합 10자리)
# EMIS_VEH_CLASS(배출가스 차종) : CE
# CERTI_STATE 처분내용 : nan, '90', 'C0', '10', '42', '46', '41'
# RECEIVE_STATE 반영 전 데이타 : nan,  0.
# NATION 제작국가 : nan, 'SW', 'US', 'KR', 'JP', 'GM', 'IT', 'FN', 'UK', 'CN', 'FR', 'SP', 'SU', 'ID'
# SELF_TEST 시설확인유무 : nan, 'Y', 'N'
# EMIS_CERTI_SNO 배출가스인증번호 : nan,  1.,  2.,  7.,  3.,  5., 12., 13.,  4.,  6., 10.,  8., 11., 9.
# OFFICE_CD 업체코드 : 'DDDC', 'VVIC', 'HIIC', 'KJDC', 'SSIC', 'DSDC', 'HDDC', 'WYIC', 'SJIC', 'ASIC', 'DPIC', 'LSIC', 'KBIC', 'CMIC', 'WTIC', 'MEIC', 'WJIC', 'HCDC', 'TMIC', 'LHIC', 'MXIC', 'HWDC', 'SCIC', 'EXAN', 'RADC', 'TYDC'
# OLDCERTI 과거자료여부 : nan, 'Y'
# REG2_YN 재신청여부 : nan, 'N'
# SNOTE 취소반납사유 : nan, '권리 및 의무 승계', '권리 및 의무 승계 신고', '권리 및 의무 신고에 따른 인증서 재교부'
# EF_CNT 동일차량 대수 : nan,  5.,  2.,  1.,  6.,  4.,  3., 22.,  9.,  0., 31.,  8., 14., 23.,  7., 15., 16., 11., 51., 13., 17., 10., 18.
# ELEC_CAR_GB 전기차 구분 ( N:일반,E:전기차(사용안함),H:하이브리드(사용안함), C:친환경차 ) : nan, 'N'
# CONF_ISSUE_NO 발급문서번호 : nan,  821.,  941.,  901., 1141., 1022., 1122.,  822.
# APPROVAL_YN 결재여부 : 'N', 'Y'
# ENG_CAR_GB 건설기계/농업기계구분 : nan, 'C', 'A', 'CA'

In [21]:
# ADM_NO 관리번호
col01 = 'ADM_NO'
print(cols_dict[name01][col01])
set(ct01[col01].unique())

관리번호

{52346,
 52347,
 52348,
 52349,
 52350,
 52351,
 52352,
 52353,
 52354,
 52355,
 52356,
 52359,
 52360,
 52361,
 52362,
 52366,
 52367,
 52370,
 52372,
 52376,
 52379,
 52381,
 52382,
 52385,
 52386,
 52388,
 52390,
 52391,
 52393,
 52395,
 52397,
 52398,
 52399,
 52401,
 52405,
 52406,
 52407,
 52408,
 52409,
 52410,
 52411,
 52412,
 52413,
 52414,
 52415,
 52416,
 52417,
 52418,
 52419,
 52420,
 52421,
 52422,
 52423,
 52424,
 52425,
 52426,
 52427,
 52428,
 52429,
 52431,
 52432,
 52433,
 52434,
 52435,
 52436,
 52437,
 52439,
 52452,
 52454,
 52456,
 52457,
 52458,
 52462,
 52466,
 52473,
 52474,
 52475,
 52476,
 52479,
 52480,
 52481,
 52483,
 52484,
 52485,
 52486,
 52487,
 52492,
 52493,
 52494,
 52495,
 52497,
 52505,
 52510,
 52511,
 52513,
 52514,
 52516,
 52517,
 52518,
 52520,
 52523,
 52534,
 52535,
 52536,
 52540,
 52549,
 52551,
 52552,
 52554,
 52560,
 52561,
 52562,
 52567,
 52573,
 52578,
 52583,
 52587,
 52589,
 52593,
 52597,
 52598,
 52599,
 52600,
 52601,
 52602,
 52603,
 52604,
 52605,
 52606,
 52607,
 52608,
 52609,
 52610,
 52611,
 52612,
 52613,
 52614,
 52622,
 52639,
 52640,
 52643,
 52644,
 52645,
 52646,
 52647,
 52648,
 52650,
 52651,
 52652,
 52655,
 52656,
 52657,
 52658,
 52659,
 52660,
 52661,
 52664,
 52665,
 52666,
 52667,
 52668,
 52669,
 52671,
 52672,
 52673,
 52674,
 52675,
 52676,
 52677,
 52678,
 52679,
 52682,
 52683,
 52686,
 52687,
 52688,
 52689,
 52690,
 52699,
 52700,
 52702,
 52703,
 52704,
 52705,
 52706,
 52707,
 52708,
 52718,
 52719,
 52720,
 52721,
 52722,
 52723,
 52727,
 52728,
 52730,
 52731,
 52739,
 52761,
 52762,
 52763,
 52764,
 52765,
 52768,
 52779,
 52780,
 52786,
 52787,
 52794,
 52795,
 52797,
 52799,
 52806,
 52807,
 52811,
 52812,
 52813,
 52814,
 52815,
 52816,
 52822,
 52823,
 52824,
 52825,
 52832,
 52833,
 52834,
 52841,
 52842,
 52856,
 52874,
 52875,
 52901,
 52912,
 52924,
 52925,
 52926,
 52928,
 52929,
 52931,
 52932,
 52935,
 52936,
 52937,
 52939,
 52943,
 52944,
 52945,
 52946,
 52947,
 52948,
 52949,
 52950,
 52951,
 52952,
 52953,
 52954,
 52955,
 52956,
 52957,
 52958,
 52959,
 52960,
 52961,
 52977,
 52979,
 52983,
 52984,
 52985,
 52986,
 52987,
 52988,
 52992,
 52993,
 52995,
 52996,
 52997,
 52998,
 52999,
 53000,
 53005,
 53011,
 53012,
 53014,
 53015,
 53023,
 53024,
 53025,
 53029,
 53030,
 53031,
 53032,
 53035,
 53036,
 53037,
 53043,
 53044,
 53047,
 53048,
 53063,
 53084,
 53089,
 53095,
 53096,
 53097,
 53103,
 53108,
 53117,
 53118,
 53119,
 53121,
 53146,
 53175,
 53189,
 53199,
 53201,
 53226,
 53242,
 53243,
 53244,
 53245,
 53246,
 53247,
 53249,
 53250,
 53254,
 53263,
 53268,
 53272,
 53277,
 53285,
 53286,
 53288,
 53289,
 53298,
 53299,
 53314,
 53315,
 53321,
 53343,
 53355,
 53366,
 53368,
 53376,
 53394,
 53396,
 53399,
 53440,
 53441,
 53442,
 53444,
 53460,
 53464,
 53469,
 53480,
 53492,
 53495,
 53497,
 53511,
 53514,
 53515,
 53523,
 53524,
 53525,
 53526,
 53539,
 53540,
 53544,
 53545,
 53561,
 53567,
 53579,
 53583,
 53601,
 53603,
 53614,
 53615,
 53616,
 53617,
 53618,
 53619,
 53620,
 53621,
 53622,
 53623,
 53624,
 53625,
 53626,
 53627,
 53628,
 53629,
 53630,
 53635,
 53646,
 53656,
 53659,
 53681,
 53687,
 53739,
 53744,
 53777,
 53801,
 53813,
 53862,
 53866,
 53962,
 53986,
 54020,
 54044,
 54279,
 54280,
 54292,
 54294,
 54295,
 54305,
 54316,
 54336,
 54339,
 54340,
 54341,
 54388,
 54389,
 54390,
 54391,
 54392,
 54394,
 54472,
 54524,
 54525,
 54526,
 54527,
 54528,
 54529,
 54530,
 54532,
 54533,
 54534,
 54538,
 54539,
 54540,
 54541,
 54542,
 54543,
 54608,
 54614,
 54644,
 54667,
 54668,
 54670,
 54703,
 54730,
 54791,
 54817,
 54831,
 54860,
 54861,
 54862,
 54913,
 54914,
 54946,
 54947,
 55026,
 55027,
 55028,
 55118,
 55119,
 55142,
 55143,
 55257,
 55297,
 55325,
 55329,
 55401,
 55402,
 55432,
 55607,
 55673,
 55685,
 55725,
 55926,
 56083,
 56101,
 56120,
 56163,
 56191,
 56211,
 56237,
 56250,
 56434,
 56475,
 56500,
 56539,
 56572,
 56800,
 56928,
 57019,
 57043,
 57059,
 57218,
 57288,
 57303,
 57330,
 57415,
 57445,
 57447,
 57455,
 57491,
 57531,
 57533,
 57535,
 57555,
 57573,
 57579,
 57599,
 57600,
 57612,
 57613,
 57670,
 57697,
 57743,
 57751,
 57762,
 57764,
 57787,
 57789,
 57794,
 57808,
 57836,
 57837,
 57843,
 57859,
 57876,
 57879,
 57884,
 57903,
 57923,
 57929,
 57930,
 57937,
 57956,
 57960,
 57966,
 57994,
 58001,
 58002,
 58006,
 58019,
 58040,
 58051,
 58058,
 58091,
 58104,
 58108,
 58109,
 58110,
 58116,
 58117,
 58119,
 58125,
 58126,
 58129,
 58130,
 58136,
 58137,
 58142,
 58144,
 58145,
 58148,
 58158,
 58175,
 58212,
 58214,
 58223,
 58237,
 58280,
 58309,
 58311,
 58356,
 58357,
 58365,
 58378,
 58419,
 58420,
 58443,
 58505,
 58523,
 58524,
 58568,
 58576,
 58602,
 58609,
 58666,
 58676,
 58706,
 58724,
 58783,
 58803,
 58835,
 58842,
 58851,
 58885,
 58889,
 58890,
 58891,
 58892,
 58893,
 58894,
 58895,
 58928,
 58972,
 59010,
 59018,
 59033,
 59048,
 59128,
 59129,
 59220,
 59324,
 59490,
 59491,
 59492,
 59500,
 59571,
 59573}

In [22]:
ct01[col01].notnull().sum(), len(set(ct01[col01].unique()))

(624, 624)

### 2\. UNI_FC_TCERTIMODI

In [24]:
name02 = name_list[1]
name02

'UNI_FC_TCERTIMODI'

In [25]:
# 5.0s
ct02 = construct_machine_certification_data_load(name02)
ct02.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2830 entries, 0 to 2829
Data columns (total 91 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   CERTI_MODI_SNO        2830 non-null   int64
 1   REG_DATETIME          2830 non-null   object
 2   CERTI_MODI_DIV        2375 non-null   float64
 3   EMIS_NOISE_DIV        2670 non-null   float64
 4   EMIS_MODI_ITEM        0 non-null      float64
 5   NOISE_MODI_ITEM       0 non-null      float64
 6   EMIS_MODI_REASON      2346 non-null   object
 7   NOISE_MODI_REASON     0 non-null      float64
 8   MODI_ITEM_ETC         0 non-null      float64
 9   RECT_DATE             2828 non-null   object
 10  APPLI_ID              2670 non-null   object
 11  OFFICER_ID            0 non-null      float64
 12  MODI_EXPLAIN          0 non-null      float64
 13  EMIS_CHG_EXAM         0 non-null      float64
 14  NOISE_CHG_EXAM        0 non-null      float64
 15  MODIF_PROC_STATE      1054 non-null   float64
 16  CERTI_STATE           2576 non-null   object
 17  RECEIVE_STATE         1054 non-null   float64
 18  CO_STD                0 non-null      float64
 19  NOX_STD               0 non-null      float64
 20  HC_STD                0 non-null      float64
 21  HCNOX_STD             0 non-null      float64
 22  EVAP_EMIS_STD         0 non-null      float64
 23  PM_STD                0 non-null      float64
 24  COLD_CO_STD           0 non-null      float64
 25  SMOKE_STD             0 non-null      float64
 26  FORMAL_STD            0 non-null      float64
 27  IDLE_CO_STD           0 non-null      float64
 28  HC_PPM_STD            0 non-null      float64
 29  MODI_EXPLAIN_CT       0 non-null      float64
 30  EMIS_CHG_EXAM_CT      0 non-null      float64
 31  NOISE_CHG_EXAM_CT     0 non-null      float64
 32  ACCEL_NOISE_STD       0 non-null      float64
 33  EXH_NOISE_STD         0 non-null      float64
 34  HORN_NOISE_STD        0 non-null      float64
 35  TEST_NO               0 non-null      float64
 36  EMIS_CERTI_DATE       2632 non-null   object
 37  NOISE_CERTI_DATE      0 non-null      float64
 38  MODI_TITLE            0 non-null      float64
 39  MODI_DESC             0 non-null      float64
 40  CERTI_STD             0 non-null      float64
 41  CERTI_STD_DATE        0 non-null      float64
 42  EMIS_WITHD_DATE       117 non-null    object
 43  NOISE_WITHD_DATE      0 non-null      float64
 44  ADM_NO                2830 non-null   int64
 45  OLDCERTI              619 non-null    object
 46  CERTI_SNO             1052 non-null   float64
 47  CR_CO                 0 non-null      float64
 48  CR_CO2                0 non-null      float64
 49  CR_COLD_CO            0 non-null      float64
 50  CR_EVAP_EMIS          0 non-null      float64
 51  CR_HC                 0 non-null      float64
 52  CR_HCNOX              0 non-null      float64
 53  CR_MILEAGE            0 non-null      float64
 54  CR_NOX                0 non-null      float64
 55  CR_PM                 0 non-null      float64
 56  CR_PN                 0 non-null      float64
 57  MILEAGE_STD           0 non-null      float64
 58  PN_STD                0 non-null      float64
 59  TC_NO                 0 non-null      float64
 60  OPINION_NOTE          799 non-null    object
 61  BOWAN_NOTE            0 non-null      float64
 62  CTEST_NOTE            0 non-null      float64
 63  EMIS_DOC              1032 non-null   float64
 64  NOISE_DOC             0 non-null      float64
 65  CERTI_DIV             2670 non-null   float64
 66  APPROVAL_YN           2830 non-null   object
 67  MGR_ID1               1016 non-null   object
 68  MGR_ID2               94 non-null     object
 69  APPREGI_DATE          1016 non-null   datetime64[ns]
 70  MAKE_MTRL_NO          1216 non-null   float64
 71  EMIS_CANCEL_DATE      0 non-null      float64
 72  NOISE_CANCEL_DATE     0 non-null      float64
 73  SNOTE                 0 non-null      float64
 74  SNOTE2                0 non-null      float64
 75  REG_ID                1109 non-null   object
 76  MOD_ID                913 non-null    object
 77  MOD_DATETIME          1299 non-null   object
 78  STANDARD_SLT          542 non-null    float64
 79  STANDARD_SLT2         113 non-null    float64
 80  ETC_TXT1              1776 non-null   object
 81  IDX                   1616 non-null   float64
 82  ETC_TXT3              1776 non-null   object
 83  ETC_TXT4              1743 non-null   object
 84  EMIS_ROWS_CODE        1075 non-null   object
 85  EMIS_LOWS             73 non-null     object
 86  PHP_CERTY_TYPE        1616 non-null   float64
 87  PHP_REP_TYPE          1616 non-null   float64
 88  PHP_CERTI_STATE       1616 non-null   float64
 89  OLD_EMIS_CERTI_DATE   0 non-null      float64
 90  OLD_NOISE_CERTI_DATE  0 non-null      float64
dtypes: datetime64[ns](1), float64(68), int64(2), object(20)
memory usage: 2.0+ MB

In [26]:
# CERTI_MODI_SNO 변경인증일련번호 : 0 ~ 77
# CERTI_MODI_DIV 변경구분(1:변경인증, 2:변경보고) : 1.,  2., nan
# EMIS_NOISE_DIV 배출소음구분(1:배출 2:소음 3:배출+소음) : 1., nan
# MODIF_PROC_STATE 변경인증 진행상태 : nan, 0.0
# CERTI_STATE 인증진행상태 : nan, '10', '20', '30', '42', '46', '90', 'C', 'C0', 'C2'
# OLDCERTI 과거자료여부 : nan, 'N', 'Y'
# CERTI_SNO TCERTIMODI의IDX : nan, 1.0 ~ 48.0
# EMIS_DOC 배출가스인증서교부 공문 내용 : 1.0, nan
# CERTI_DIV 인증구분(1:국내,2:수입) : 1.0, 2.0, nan
# APPROVAL_YN 결재여부 : 'N', 'Y'
# MAKE_MTRL_NO 인증신청 작성자료번호 : 1.0, 3.0, 4.0, 5.0, 6.0, nan
# STANDARD_SLT 배출허용기준 : nan, 1.0, 2.0, 3.0, 4.0, 6.0, 7.0, 8.0, 9.0, 10.0
# STANDARD_SLT2 배출허용기준2 : nan, 1.0, 2.0, 3.0, 4.0, 6.0, 7.0, 8.0, 9.0, 10.0
# EMIS_ROWS_CODE 배출가스저감기술 : nan, '1', '1/2', '1/2/3', '1/2/3/4', '1/2/3/4/5', '1/2/4', '1/2/4/5', '1/3', '1/3/4', '1/3/4/5', '1/4', '1/4/5', '1/5', '2', '2/3/4', '2/4', '3/4', '5'
# EMIS_LOWS 배출가스저감기술코드 : nan, 'In-cylinder 방식', 'LNC', 'Turbocharger, Common rail', 'VGT, common rail', '연료장치, 터보챠저', '전자제어 연료분사 시스템', '전자제어 연료분사시스템', '전자제어장치,커먼레일', '커먼레일', '터보', '터보, 기계식', '터보차저', '터보차져'

In [151]:
# ADM_NO 관리번호
col02 = 'TC_NO'
print(cols_dict[name02][col02])
set(ct02[col02].unique())

고유번호

{nan}

In [28]:
ct02[col02].notnull().sum(), len(set(ct02[col02].unique()))

(2830, 454)

In [168]:
ct02.loc[ct02['ADM_NO'].duplicated(keep=False), ['ADM_NO', 'CERTI_MODI_SNO']].sort_values('ADM_NO')

      ADM_NO  CERTI_MODI_SNO
1068   52346               3
1066   52346               1
1067   52346               2
1065   52346               0
1070   52346               5
...      ...             ...
2829   59491               1
2786   59492               2
2799   59492               0
2824   59492               1
2826   59492               3

[2724 rows x 2 columns]

In [169]:
# 2컬럼('ADM_NO', 'EF_SNO') 중복 존재 : X
ct02.loc[ct02[['ADM_NO', 'CERTI_MODI_SNO']].duplicated(keep=False), ['ADM_NO', 'CERTI_MODI_SNO']].sort_values('ADM_NO')

Empty DataFrame
Columns: [ADM_NO, CERTI_MODI_SNO]
Index: []

### 3\. UNI_FC_ENG_TEFSPEC

In [29]:
name03 = name_list[2]
name03

'UNI_FC_ENG_TEFSPEC'

In [30]:
# 16.1s
ct03 = construct_machine_certification_data_load(name03)
ct03.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8646 entries, 0 to 8645
Columns: 108 entries, ADM_NO to MAX_OUTT_POWER_UNIT
dtypes: float64(23), int64(3), object(82)
memory usage: 7.1+ MB

In [31]:
# CERTI_MODI_SNO 변경인증일련번호 : 0 ~ 77
# EF_SNO 동일원동기일련번호 : 0 ~ 256
# CYCLE 싸이클(행정) : nan, '4', '4cycle', '4사이클', '4행정', '5'
# COMB_TYPE 연소방식 : nan, 1.0, 2.0
# COOL_TYPE 냉각매체 : nan, 1.0
# CAT_TYPE 종류 : nan, 1.0, 2.0, 8.0, 9.0, 12.0, 15.0, 19.0, 20.0, 21.0, 22.0, 24.0, 99.0
# ENG_CAR_GB 건설기계/농업기계구분 : nan, 'A', 'C', 'CA'

In [158]:
# ADM_NO 관리번호
# EF_SNO 동일원동기일련번호
col03 = 'ADM_NO'
print(cols_dict[name03][col03])
set(ct03[col03].unique())

관리번호

{52346,
 52347,
 52348,
 52349,
 52350,
 52351,
 52352,
 52353,
 52354,
 52355,
 52356,
 52359,
 52360,
 52361,
 52362,
 52366,
 52367,
 52370,
 52372,
 52376,
 52379,
 52381,
 52382,
 52385,
 52386,
 52388,
 52390,
 52391,
 52393,
 52398,
 52399,
 52401,
 52405,
 52406,
 52407,
 52408,
 52409,
 52410,
 52411,
 52412,
 52413,
 52414,
 52418,
 52419,
 52420,
 52421,
 52422,
 52423,
 52424,
 52425,
 52426,
 52429,
 52431,
 52432,
 52433,
 52437,
 52439,
 52452,
 52454,
 52456,
 52457,
 52458,
 52466,
 52474,
 52476,
 52479,
 52486,
 52492,
 52495,
 52497,
 52505,
 52510,
 52511,
 52513,
 52517,
 52520,
 52534,
 52535,
 52540,
 52549,
 52552,
 52554,
 52567,
 52573,
 52578,
 52587,
 52589,
 52602,
 52606,
 52607,
 52612,
 52613,
 52614,
 52622,
 52640,
 52643,
 52644,
 52645,
 52646,
 52647,
 52648,
 52655,
 52656,
 52657,
 52664,
 52665,
 52666,
 52672,
 52689,
 52690,
 52702,
 52704,
 52707,
 52708,
 52718,
 52719,
 52721,
 52722,
 52723,
 52727,
 52739,
 52761,
 52763,
 52764,
 52765,
 52768,
 52779,
 52780,
 52786,
 52787,
 52794,
 52797,
 52799,
 52806,
 52807,
 52811,
 52812,
 52813,
 52814,
 52815,
 52816,
 52823,
 52824,
 52825,
 52833,
 52834,
 52841,
 52842,
 52852,
 52856,
 52874,
 52875,
 52901,
 52912,
 52924,
 52925,
 52926,
 52927,
 52928,
 52929,
 52935,
 52936,
 52937,
 52979,
 52983,
 52984,
 52985,
 52986,
 52987,
 52988,
 52993,
 52995,
 52997,
 52998,
 53000,
 53005,
 53011,
 53012,
 53015,
 53023,
 53024,
 53025,
 53029,
 53030,
 53031,
 53032,
 53035,
 53036,
 53037,
 53043,
 53044,
 53047,
 53048,
 53063,
 53084,
 53089,
 53097,
 53103,
 53119,
 53121,
 53146,
 53175,
 53189,
 53199,
 53201,
 53226,
 53244,
 53245,
 53246,
 53247,
 53250,
 53254,
 53263,
 53268,
 53272,
 53277,
 53286,
 53298,
 53299,
 53314,
 53321,
 53343,
 53355,
 53366,
 53368,
 53376,
 53394,
 53399,
 53440,
 53441,
 53442,
 53444,
 53460,
 53464,
 53469,
 53480,
 53492,
 53495,
 53497,
 53511,
 53514,
 53515,
 53523,
 53524,
 53525,
 53526,
 53540,
 53544,
 53545,
 53561,
 53567,
 53579,
 53583,
 53603,
 53630,
 53635,
 53646,
 53656,
 53659,
 53681,
 53687,
 53739,
 53744,
 53777,
 53801,
 53813,
 53866,
 53962,
 53986,
 54020,
 54044,
 54341,
 54392,
 54472,
 54527,
 54529,
 54530,
 54532,
 54533,
 54534,
 54543,
 54608,
 54614,
 54644,
 54667,
 54703,
 54730,
 54791,
 54817,
 54860,
 54862,
 54913,
 54914,
 54946,
 55027,
 55028,
 55118,
 55119,
 55142,
 55143,
 55257,
 55297,
 55325,
 55329,
 55401,
 55402,
 55432,
 55607,
 55673,
 55685,
 55725,
 55926,
 56083,
 56101,
 56120,
 56163,
 56191,
 56211,
 56237,
 56250,
 56367,
 56434,
 56475,
 56500,
 56539,
 56572,
 56577,
 56623,
 56800,
 56928,
 57019,
 57043,
 57059,
 57218,
 57252,
 57254,
 57288,
 57294,
 57303,
 57330,
 57383,
 57415,
 57445,
 57447,
 57455,
 57491,
 57530,
 57531,
 57533,
 57535,
 57555,
 57573,
 57579,
 57599,
 57600,
 57612,
 57613,
 57668,
 57670,
 57697,
 57743,
 57751,
 57761,
 57762,
 57764,
 57787,
 57789,
 57794,
 57808,
 57826,
 57836,
 57837,
 57843,
 57859,
 57869,
 57870,
 57876,
 57879,
 57884,
 57903,
 57923,
 57929,
 57930,
 57937,
 57956,
 57960,
 57966,
 57985,
 57988,
 57994,
 58001,
 58002,
 58006,
 58019,
 58040,
 58051,
 58058,
 58091,
 58104,
 58108,
 58109,
 58110,
 58116,
 58117,
 58119,
 58125,
 58126,
 58129,
 58130,
 58136,
 58137,
 58142,
 58144,
 58145,
 58148,
 58158,
 58175,
 58212,
 58214,
 58223,
 58237,
 58280,
 58309,
 58311,
 58356,
 58357,
 58365,
 58378,
 58419,
 58420,
 58443,
 58505,
 58523,
 58524,
 58568,
 58576,
 58602,
 58609,
 58666,
 58676,
 58706,
 58724,
 58783,
 58803,
 58835,
 58842,
 58851,
 58871,
 58885,
 58889,
 58890,
 58891,
 58892,
 58893,
 58894,
 58895,
 58928,
 58972,
 59010,
 59018,
 59033,
 59048,
 59128,
 59129,
 59220,
 59324,
 59490,
 59491,
 59492,
 59500,
 59571,
 59573}

In [159]:
ct03[col03].notnull().sum(), len(set(ct03[col03].unique()))

(8646, 472)

In [163]:
ct03.loc[ct03['ADM_NO'].duplicated(keep=False), ['ADM_NO', 'EF_SNO']].sort_values('ADM_NO')

      ADM_NO  EF_SNO
5028   52346      16
5018   52346       1
5020   52346       3
5021   52346       0
5022   52346       8
...      ...     ...
7868   59500       0
8314   59571       0
8315   59571       1
7904   59573       1
7903   59573       0

[8625 rows x 2 columns]

In [164]:
# 2컬럼('ADM_NO', 'EF_SNO') 중복 존재 : O
ct03.loc[ct03[['ADM_NO', 'EF_SNO']].duplicated(keep=False), ['ADM_NO', 'EF_SNO']].sort_values('ADM_NO')

      ADM_NO  EF_SNO
5022   52346       8
5024   52346       8
4803   52589       8
4805   52589       8

In [165]:
# 2컬럼('ADM_NO', 'EF_SNO') 중복 존재 : O
ct03.loc[ct03[['ADM_NO', 'EF_SNO']].duplicated(keep=False), ['ADM_NO', 'EF_SNO', 'CERTI_MODI_SNO']].sort_values('ADM_NO')

      ADM_NO  EF_SNO  CERTI_MODI_SNO
5022   52346       8               1
5024   52346       8               2
4803   52589       8               3
4805   52589       8               4

In [166]:
# 3컬럼('ADM_NO', 'EF_SNO', 'CERTI_MODI_SNO') 중복 존재 : X
ct03.loc[ct03[['ADM_NO', 'EF_SNO', 'CERTI_MODI_SNO']].duplicated(keep=False), ['ADM_NO', 'EF_SNO', 'CERTI_MODI_SNO']].sort_values('ADM_NO')

Empty DataFrame
Columns: [ADM_NO, EF_SNO, CERTI_MODI_SNO]
Index: []

### 4\. UNI_FC_TEEMISSN

In [34]:
name04 = name_list[3]
name04

'UNI_FC_TEEMISSN'

In [35]:
# 0.3s
ct04 = construct_machine_certification_data_load(name04)
ct04.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1058 entries, 0 to 1057
Data columns (total 15 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   ADM_NO           1058 non-null   int64
 1   CERTI_MODI_SNO   1058 non-null   int64
 2   FUEL             882 non-null    object
 3   SEL_STAND        592 non-null    float64
 4   F_STAND          609 non-null    float64
 5   GU_TERM          577 non-null    float64
 6   TEST_DIV         0 non-null      float64
 7   TEST_METHOD_CHK  1053 non-null   object
 8   COL              0 non-null      float64
 9   REG_ID           1058 non-null   object
 10  REG_DATETIME     1058 non-null   object
 11  MOD_ID           538 non-null    object
 12  MOD_DATETIME     538 non-null    object
 13  TBL_PK_SEQ_ID    1058 non-null   int64
 14  LEV_CRTR_CD      0 non-null      float64
dtypes: float64(6), int64(3), object(6)
memory usage: 124.1+ KB

In [36]:
# CERTI_MODI_SNO 인증일련번호 : 0 ~ 70(빈 번호 존재)
# FUEL 사용연료코드 : nan, ‘D’
# SEL_STAND 적용기준 : nan, 3.0, 5.0, 6.0, 7.0, 8.0
# F_STAND 외국기준 : nan, 5.0, 6.0, 9.0, 10.0, 11.0

In [37]:
# ADM_NO 관리번호
col04 = 'ADM_NO'
print(cols_dict[name04][col04])
set(ct04[col04].unique())

관리번호

{52346,
 52347,
 52348,
 52349,
 52350,
 52351,
 52352,
 52353,
 52354,
 52355,
 52356,
 52359,
 52360,
 52361,
 52362,
 52366,
 52367,
 52370,
 52372,
 52376,
 52379,
 52381,
 52382,
 52385,
 52386,
 52388,
 52390,
 52391,
 52393,
 52398,
 52399,
 52401,
 52405,
 52406,
 52407,
 52408,
 52409,
 52410,
 52411,
 52412,
 52413,
 52414,
 52418,
 52419,
 52420,
 52421,
 52422,
 52423,
 52424,
 52425,
 52426,
 52429,
 52431,
 52432,
 52433,
 52437,
 52439,
 52452,
 52454,
 52456,
 52457,
 52458,
 52466,
 52474,
 52476,
 52479,
 52486,
 52492,
 52495,
 52497,
 52505,
 52510,
 52511,
 52513,
 52517,
 52520,
 52534,
 52535,
 52540,
 52549,
 52552,
 52554,
 52567,
 52573,
 52578,
 52587,
 52589,
 52602,
 52603,
 52604,
 52605,
 52606,
 52607,
 52608,
 52612,
 52613,
 52614,
 52622,
 52640,
 52643,
 52644,
 52645,
 52646,
 52647,
 52648,
 52655,
 52656,
 52657,
 52664,
 52665,
 52666,
 52672,
 52689,
 52690,
 52702,
 52703,
 52704,
 52705,
 52706,
 52707,
 52708,
 52718,
 52719,
 52721,
 52722,
 52723,
 52727,
 52739,
 52761,
 52763,
 52764,
 52765,
 52768,
 52779,
 52780,
 52786,
 52787,
 52794,
 52797,
 52799,
 52806,
 52807,
 52811,
 52812,
 52813,
 52814,
 52815,
 52816,
 52823,
 52824,
 52825,
 52833,
 52834,
 52841,
 52842,
 52856,
 52874,
 52875,
 52901,
 52912,
 52924,
 52925,
 52926,
 52928,
 52929,
 52935,
 52936,
 52937,
 52939,
 52979,
 52983,
 52984,
 52985,
 52986,
 52987,
 52988,
 52993,
 52995,
 52997,
 52998,
 53000,
 53005,
 53011,
 53012,
 53015,
 53023,
 53024,
 53025,
 53029,
 53030,
 53031,
 53032,
 53035,
 53036,
 53037,
 53043,
 53044,
 53047,
 53048,
 53063,
 53084,
 53089,
 53097,
 53103,
 53119,
 53121,
 53146,
 53175,
 53189,
 53199,
 53201,
 53226,
 53244,
 53245,
 53246,
 53247,
 53250,
 53254,
 53263,
 53268,
 53272,
 53277,
 53286,
 53288,
 53298,
 53299,
 53314,
 53321,
 53343,
 53355,
 53366,
 53368,
 53376,
 53394,
 53399,
 53440,
 53441,
 53442,
 53444,
 53460,
 53464,
 53469,
 53480,
 53492,
 53495,
 53497,
 53511,
 53514,
 53515,
 53523,
 53524,
 53525,
 53526,
 53539,
 53540,
 53544,
 53545,
 53561,
 53567,
 53579,
 53583,
 53603,
 53630,
 53635,
 53646,
 53656,
 53659,
 53681,
 53687,
 53739,
 53744,
 53777,
 53801,
 53813,
 53862,
 53866,
 53962,
 53986,
 54020,
 54044,
 54341,
 54392,
 54472,
 54527,
 54529,
 54530,
 54532,
 54533,
 54534,
 54543,
 54608,
 54614,
 54644,
 54667,
 54668,
 54703,
 54730,
 54791,
 54817,
 54860,
 54862,
 54913,
 54914,
 54946,
 54947,
 55027,
 55028,
 55118,
 55119,
 55142,
 55143,
 55257,
 55297,
 55325,
 55329,
 55401,
 55402,
 55432,
 55607,
 55673,
 55685,
 55725,
 55926,
 56083,
 56101,
 56120,
 56163,
 56191,
 56211,
 56237,
 56250,
 56434,
 56475,
 56500,
 56539,
 56572,
 56800,
 56928,
 57019,
 57043,
 57059,
 57218,
 57288,
 57303,
 57330,
 57415,
 57445,
 57447,
 57455,
 57491,
 57531,
 57533,
 57535,
 57555,
 57573,
 57579,
 57599,
 57600,
 57612,
 57613,
 57670,
 57697,
 57743,
 57751,
 57762,
 57764,
 57787,
 57789,
 57794,
 57808,
 57836,
 57837,
 57843,
 57859,
 57876,
 57879,
 57884,
 57903,
 57923,
 57929,
 57930,
 57937,
 57956,
 57960,
 57966,
 57994,
 58001,
 58002,
 58006,
 58019,
 58040,
 58051,
 58058,
 58091,
 58104,
 58108,
 58109,
 58110,
 58116,
 58117,
 58119,
 58125,
 58126,
 58129,
 58130,
 58136,
 58137,
 58142,
 58144,
 58145,
 58148,
 58158,
 58175,
 58212,
 58214,
 58223,
 58237,
 58280,
 58309,
 58311,
 58356,
 58357,
 58365,
 58378,
 58419,
 58420,
 58443,
 58505,
 58523,
 58524,
 58568,
 58576,
 58602,
 58609,
 58666,
 58676,
 58706,
 58724,
 58783,
 58803,
 58835,
 58842,
 58851,
 58885,
 58889,
 58890,
 58891,
 58892,
 58893,
 58894,
 58895,
 58928,
 58972,
 59010,
 59018,
 59033,
 59048,
 59128,
 59129,
 59220,
 59324,
 59490,
 59491,
 59492,
 59500,
 59571,
 59573}

In [38]:
ct04[col04].notnull().sum(), len(set(ct04[col04].unique()))

(1058, 467)

In [170]:
ct04.loc[ct04['ADM_NO'].duplicated(keep=False), ['ADM_NO', 'CERTI_MODI_SNO']].sort_values('ADM_NO')

      ADM_NO  CERTI_MODI_SNO
695    52510               0
1025   52510              12
708    52578               0
285    52578               3
521    52612              19
...      ...             ...
296    59491               2
879    59492               3
32     59492               0
1051   59492               2
1035   59492               1

[774 rows x 2 columns]

In [171]:
# 2컬럼('ADM_NO', 'EF_SNO') 중복 존재 : X
ct04.loc[ct04[['ADM_NO', 'CERTI_MODI_SNO']].duplicated(keep=False), ['ADM_NO', 'CERTI_MODI_SNO']].sort_values('ADM_NO')

Empty DataFrame
Columns: [ADM_NO, CERTI_MODI_SNO]
Index: []

### 5\. UNI_FC_TEEMISSN_ENG_RES

In [39]:
name05 = name_list[4]
name05

'UNI_FC_TEEMISSN_ENG_RES'

In [40]:
# 6.4s
ct05 = construct_machine_certification_data_load(name05)
ct05.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2761 entries, 0 to 2760
Columns: 101 entries, ADM_NO to NH3_ST_PERMSS
dtypes: float64(77), int64(5), object(19)
memory usage: 2.1+ MB

In [41]:
# CERTI_MODI_SNO 인증일련번호 : 0 ~ 35(빈 번호 존재)
# TEST_RST_CODE 시험결과구분코드(차량별시험결과=00,종합결과=99) : 0, 99
# TEST_MOD 시험모드(CVS-75,Highway,US06,SC03,Cold CO...) : 1, 2, 3, 99

In [42]:
# ADM_NO 관리번호
col05 = 'ADM_NO'
print(cols_dict[name05][col05])
set(ct05[col05].unique())

관리번호

{52346,
 52347,
 52348,
 52349,
 52350,
 52351,
 52352,
 52353,
 52354,
 52355,
 52356,
 52359,
 52360,
 52361,
 52362,
 52366,
 52367,
 52370,
 52372,
 52376,
 52379,
 52381,
 52382,
 52385,
 52386,
 52388,
 52390,
 52391,
 52393,
 52398,
 52399,
 52401,
 52405,
 52406,
 52407,
 52408,
 52409,
 52410,
 52411,
 52412,
 52413,
 52414,
 52418,
 52419,
 52420,
 52421,
 52422,
 52423,
 52424,
 52425,
 52426,
 52429,
 52432,
 52433,
 52437,
 52439,
 52452,
 52454,
 52456,
 52457,
 52458,
 52466,
 52474,
 52476,
 52479,
 52486,
 52492,
 52495,
 52497,
 52505,
 52510,
 52511,
 52513,
 52517,
 52520,
 52534,
 52535,
 52540,
 52549,
 52552,
 52554,
 52567,
 52573,
 52578,
 52587,
 52589,
 52602,
 52603,
 52604,
 52605,
 52606,
 52607,
 52608,
 52612,
 52613,
 52614,
 52622,
 52640,
 52643,
 52644,
 52645,
 52646,
 52647,
 52648,
 52655,
 52656,
 52657,
 52664,
 52665,
 52666,
 52672,
 52689,
 52690,
 52702,
 52703,
 52704,
 52705,
 52706,
 52707,
 52708,
 52718,
 52719,
 52721,
 52722,
 52723,
 52727,
 52739,
 52761,
 52763,
 52764,
 52765,
 52768,
 52779,
 52780,
 52786,
 52787,
 52794,
 52797,
 52799,
 52806,
 52807,
 52811,
 52812,
 52813,
 52814,
 52815,
 52816,
 52823,
 52824,
 52825,
 52833,
 52834,
 52841,
 52842,
 52852,
 52856,
 52874,
 52875,
 52901,
 52912,
 52924,
 52925,
 52926,
 52927,
 52928,
 52929,
 52935,
 52936,
 52937,
 52939,
 52979,
 52983,
 52984,
 52985,
 52986,
 52987,
 52988,
 52993,
 52995,
 52997,
 52998,
 53000,
 53005,
 53011,
 53012,
 53015,
 53023,
 53024,
 53025,
 53029,
 53030,
 53031,
 53032,
 53035,
 53036,
 53037,
 53043,
 53044,
 53047,
 53048,
 53063,
 53084,
 53089,
 53097,
 53103,
 53119,
 53121,
 53146,
 53175,
 53189,
 53199,
 53201,
 53226,
 53244,
 53245,
 53246,
 53247,
 53250,
 53254,
 53263,
 53268,
 53272,
 53277,
 53286,
 53288,
 53298,
 53299,
 53314,
 53321,
 53343,
 53355,
 53366,
 53368,
 53376,
 53394,
 53399,
 53440,
 53441,
 53442,
 53444,
 53460,
 53464,
 53469,
 53480,
 53492,
 53495,
 53497,
 53511,
 53514,
 53515,
 53523,
 53524,
 53525,
 53526,
 53539,
 53540,
 53544,
 53545,
 53561,
 53567,
 53579,
 53583,
 53603,
 53630,
 53635,
 53646,
 53656,
 53659,
 53681,
 53687,
 53739,
 53744,
 53777,
 53801,
 53813,
 53862,
 53866,
 53962,
 53986,
 54020,
 54044,
 54341,
 54392,
 54472,
 54527,
 54529,
 54530,
 54532,
 54533,
 54534,
 54543,
 54608,
 54614,
 54644,
 54667,
 54668,
 54703,
 54730,
 54791,
 54817,
 54860,
 54862,
 54913,
 54914,
 54946,
 54947,
 55027,
 55028,
 55118,
 55119,
 55142,
 55143,
 55257,
 55297,
 55325,
 55329,
 55401,
 55402,
 55432,
 55607,
 55673,
 55685,
 55725,
 55926,
 56012,
 56057,
 56083,
 56101,
 56120,
 56163,
 56181,
 56191,
 56211,
 56237,
 56250,
 56362,
 56367,
 56434,
 56475,
 56500,
 56539,
 56572,
 56577,
 56580,
 56623,
 56800,
 56928,
 57019,
 57043,
 57059,
 57218,
 57252,
 57254,
 57288,
 57294,
 57303,
 57330,
 57383,
 57415,
 57445,
 57447,
 57455,
 57491,
 57530,
 57531,
 57533,
 57535,
 57555,
 57573,
 57579,
 57599,
 57600,
 57612,
 57613,
 57668,
 57670,
 57697,
 57743,
 57751,
 57761,
 57762,
 57764,
 57787,
 57789,
 57794,
 57808,
 57826,
 57836,
 57837,
 57843,
 57859,
 57869,
 57870,
 57876,
 57879,
 57884,
 57903,
 57923,
 57929,
 57930,
 57937,
 57956,
 57960,
 57966,
 57985,
 57988,
 57994,
 58001,
 58002,
 58006,
 58019,
 58040,
 58051,
 58058,
 58091,
 58104,
 58108,
 58109,
 58110,
 58116,
 58117,
 58119,
 58125,
 58126,
 58129,
 58130,
 58136,
 58137,
 58142,
 58144,
 58145,
 58148,
 58175,
 58212,
 58214,
 58223,
 58237,
 58280,
 58309,
 58311,
 58356,
 58357,
 58365,
 58378,
 58419,
 58420,
 58443,
 58505,
 58523,
 58524,
 58568,
 58576,
 58602,
 58609,
 58666,
 58676,
 58706,
 58724,
 58783,
 58803,
 58835,
 58842,
 58851,
 58871,
 58885,
 58889,
 58890,
 58891,
 58892,
 58893,
 58894,
 58895,
 58928,
 58972,
 59010,
 59018,
 59033,
 59048,
 59128,
 59129,
 59220,
 59490,
 59491,
 59492,
 59500,
 59571,
 59573}

In [43]:
ct05[col05].notnull().sum(), len(set(ct05[col05].unique()))

(2761, 487)

### 6\. UNI_FC_TESTINFO

In [44]:
name06 = name_list[5]
name06

'UNI_FC_TESTINFO'

In [45]:
# 1.3s
ct06 = construct_machine_certification_data_load(name06)
ct06.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1044 entries, 0 to 1043
Data columns (total 67 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   ADM_NO                         1044 non-null   int64
 1   EF_SNO                         0 non-null      float64
 2   CERTI_MODI_SNO                 1044 non-null   int64
 3   INFO1                          177 non-null    object
 4   INFO2                          1044 non-null   object
 5   INFO3                          0 non-null      float64
 6   TC_TYPE                        1044 non-null   int64
 7   INFO4                          0 non-null      float64
 8   ELEC_INFO1                     0 non-null      float64
 9   ELEC_TECH                      0 non-null      float64
 10  ELEC_INFO1_TXT                 0 non-null      float64
 11  ELEC_WARR_ACCUMU               0 non-null      float64
 12  ELEC_WARR_CHARGER              0 non-null      float64
 13  ELEC_WARR_ELECMOT              0 non-null      float64
 14  ELEC_WARR_GENERATOR            0 non-null      float64
 15  ELEC_SPEC_ELECMOT_TYPE         0 non-null      float64
 16  ELEC_SPEC_MAX_OUTPUT1          0 non-null      float64
 17  ELEC_SPEC_MAX_OUTPUT2          0 non-null      float64
 18  ELEC_SPEC_RATED_VOLT           0 non-null      float64
 19  ELEC_SPEC_MAX_TORQUE           0 non-null      float64
 20  ELEC_SPEC_CHR_TYPE             0 non-null      float64
 21  ELEC_SPEC_CHR_RATED_VOLT       0 non-null      float64
 22  ELEC_SPEC_CHR_VOL              0 non-null      float64
 23  ELEC_SPEC_CHR_OUTPUT           0 non-null      float64
 24  ELEC_SPEC_CHR_STOABLE          0 non-null      float64
 25  ELEC_SPEC_CHR_USEABLE          0 non-null      float64
 26  ELEC_SPEC_IVT_TYPE             0 non-null      float64
 27  ELEC_SPEC_IVT_MAX_ELEC         0 non-null      float64
 28  ELEC_SPEC_CVT_TYPE             0 non-null      float64
 29  ELEC_SPEC_CVT_MAX_OUTPUT       0 non-null      float64
 30  REG_ID                         1044 non-null   object
 31  REG_DATETIME                   1044 non-null   object
 32  MOD_ID                         503 non-null    object
 33  MOD_DATETIME                   503 non-null    object
 34  FCEV_WARR_FUELCELL             0 non-null      float64
 35  FCEV_WARR_ACCUMU               0 non-null      float64
 36  FCEV_WARR_ELECMOT              0 non-null      float64
 37  FCEV_WARR_INVERTER             0 non-null      float64
 38  FCEV_WARR_CONVERTER            0 non-null      float64
 39  FCEV_WARR_FUELTANKVALVE        0 non-null      float64
 40  FCEV_WARR_FUELPRESS_ETC        0 non-null      float64
 41  FCEV_SPEC_FUELCELL_TYPE        0 non-null      float64
 42  FCEV_SPEC_FUELCELL_MAX_CAPA    0 non-null      float64
 43  FCEV_SPEC_FUELCELL_RATED_VOLT  0 non-null      float64
 44  FCEV_SPEC_FUELCELL_MAX_OUT     0 non-null      float64
 45  ELECMOT_RATED_SPEED_RPM        0 non-null      float64
 46  ELECMOT_MAX_SPEED_RPM          0 non-null      float64
 47  ELECMOT_MAX_EFFICIENCY         0 non-null      float64
 48  CHR_LLMT_SOC                   0 non-null      float64
 49  CHR_UPLMT_SOC                  0 non-null      float64
 50  AVRG_LOADQTY                   0 non-null      float64
 51  PTC_HEATER_PWRER_QY            0 non-null      float64
 52  HVAC_PWRER_QY                  0 non-null      float64
 53  RTEMP_MCT_RDIST                0 non-null      float64
 54  LOWTMP_MCT_RDIST               0 non-null      float64
 55  RTEMP_POWER_LOAD_COEF1         0 non-null      float64
 56  RTEMP_POWER_LOAD_COEF2         0 non-null      float64
 57  RTEMP_POWER_LOAD_COEF3         0 non-null      float64
 58  LOWTMP_POWER_LOAD_COEF1        0 non-null      float64
 59  LOWTMP_POWER_LOAD_COEF2        0 non-null      float64
 60  LOWTMP_POWER_LOAD_COEF3        0 non-null      float64
 61  RTEMP_ROAD_INTAKE_COEF1        0 non-null      float64
 62  RTEMP_ROAD_INTAKE_COEF2        0 non-null      float64
 63  RTEMP_ROAD_INTAKE_COEF3        0 non-null      float64
 64  LOWTMP_ROAD_INTAKE_COEF1       0 non-null      float64
 65  LOWTMP_ROAD_INTAKE_COEF2       0 non-null      float64
 66  LOWTMP_ROAD_INTAKE_COEF3       0 non-null      float64
dtypes: float64(58), int64(3), object(6)
memory usage: 546.6+ KB

In [46]:
# CERTI_MODI_SNO 인증일련번호 : 0 ~ 70(빈 번호 존재)
# TC_TYPE 적용기준(기본/변경) : 1

In [47]:
# ADM_NO 관리번호
col06 = 'ADM_NO'
print(cols_dict[name06][col06])
set(ct06[col06].unique())

관리번호

{52346,
 52347,
 52348,
 52349,
 52350,
 52351,
 52352,
 52353,
 52354,
 52355,
 52356,
 52359,
 52360,
 52361,
 52362,
 52366,
 52367,
 52370,
 52372,
 52376,
 52379,
 52381,
 52382,
 52385,
 52386,
 52388,
 52390,
 52391,
 52393,
 52398,
 52399,
 52401,
 52405,
 52406,
 52407,
 52408,
 52409,
 52410,
 52411,
 52412,
 52413,
 52414,
 52418,
 52419,
 52420,
 52421,
 52422,
 52423,
 52424,
 52425,
 52426,
 52429,
 52432,
 52433,
 52437,
 52439,
 52452,
 52454,
 52456,
 52457,
 52458,
 52466,
 52474,
 52476,
 52479,
 52486,
 52492,
 52495,
 52497,
 52505,
 52510,
 52511,
 52513,
 52517,
 52520,
 52534,
 52535,
 52540,
 52549,
 52552,
 52554,
 52567,
 52573,
 52578,
 52587,
 52589,
 52602,
 52606,
 52607,
 52612,
 52613,
 52614,
 52622,
 52640,
 52643,
 52644,
 52645,
 52646,
 52647,
 52648,
 52655,
 52656,
 52657,
 52664,
 52665,
 52666,
 52672,
 52689,
 52690,
 52702,
 52704,
 52707,
 52708,
 52718,
 52719,
 52721,
 52722,
 52723,
 52727,
 52739,
 52761,
 52763,
 52764,
 52765,
 52768,
 52779,
 52780,
 52786,
 52787,
 52794,
 52797,
 52799,
 52806,
 52807,
 52811,
 52812,
 52813,
 52814,
 52815,
 52816,
 52823,
 52824,
 52825,
 52833,
 52834,
 52841,
 52842,
 52856,
 52874,
 52875,
 52901,
 52912,
 52924,
 52925,
 52926,
 52928,
 52929,
 52935,
 52936,
 52937,
 52979,
 52983,
 52984,
 52985,
 52986,
 52987,
 52988,
 52993,
 52995,
 52997,
 52998,
 53000,
 53005,
 53011,
 53012,
 53015,
 53023,
 53024,
 53025,
 53029,
 53030,
 53031,
 53032,
 53035,
 53036,
 53037,
 53043,
 53044,
 53047,
 53048,
 53063,
 53084,
 53089,
 53097,
 53103,
 53119,
 53121,
 53146,
 53175,
 53189,
 53199,
 53201,
 53226,
 53244,
 53245,
 53246,
 53247,
 53250,
 53254,
 53263,
 53268,
 53272,
 53277,
 53286,
 53298,
 53299,
 53314,
 53321,
 53343,
 53355,
 53366,
 53368,
 53376,
 53394,
 53399,
 53440,
 53441,
 53442,
 53444,
 53460,
 53464,
 53469,
 53480,
 53492,
 53495,
 53497,
 53511,
 53514,
 53515,
 53523,
 53524,
 53525,
 53526,
 53540,
 53544,
 53545,
 53561,
 53567,
 53579,
 53583,
 53603,
 53630,
 53635,
 53646,
 53656,
 53659,
 53681,
 53687,
 53739,
 53744,
 53777,
 53801,
 53813,
 53866,
 53962,
 53986,
 54020,
 54044,
 54341,
 54392,
 54472,
 54527,
 54529,
 54530,
 54532,
 54533,
 54534,
 54543,
 54608,
 54614,
 54644,
 54667,
 54703,
 54730,
 54791,
 54817,
 54860,
 54862,
 54913,
 54914,
 54946,
 55027,
 55028,
 55118,
 55119,
 55142,
 55143,
 55257,
 55297,
 55325,
 55329,
 55401,
 55402,
 55432,
 55607,
 55673,
 55685,
 55725,
 55926,
 56083,
 56101,
 56120,
 56163,
 56191,
 56211,
 56237,
 56250,
 56434,
 56475,
 56500,
 56539,
 56572,
 56800,
 56928,
 57019,
 57043,
 57059,
 57218,
 57288,
 57303,
 57330,
 57415,
 57445,
 57447,
 57455,
 57491,
 57531,
 57533,
 57535,
 57555,
 57573,
 57579,
 57599,
 57600,
 57612,
 57613,
 57670,
 57697,
 57743,
 57751,
 57762,
 57764,
 57787,
 57789,
 57794,
 57808,
 57836,
 57837,
 57843,
 57859,
 57876,
 57879,
 57884,
 57903,
 57923,
 57929,
 57930,
 57937,
 57956,
 57960,
 57966,
 57994,
 58001,
 58002,
 58006,
 58019,
 58040,
 58051,
 58058,
 58091,
 58104,
 58108,
 58109,
 58110,
 58116,
 58117,
 58119,
 58125,
 58126,
 58129,
 58130,
 58136,
 58137,
 58142,
 58144,
 58145,
 58148,
 58158,
 58175,
 58212,
 58214,
 58223,
 58237,
 58280,
 58309,
 58311,
 58356,
 58357,
 58365,
 58378,
 58419,
 58420,
 58443,
 58505,
 58523,
 58524,
 58568,
 58576,
 58602,
 58609,
 58666,
 58676,
 58706,
 58724,
 58783,
 58803,
 58835,
 58842,
 58851,
 58885,
 58889,
 58890,
 58891,
 58892,
 58893,
 58894,
 58895,
 58928,
 58972,
 59010,
 59018,
 59033,
 59048,
 59128,
 59129,
 59220,
 59324,
 59490,
 59491,
 59492,
 59500,
 59571,
 59573}

In [48]:
ct06[col06].notnull().sum(), len(set(ct06[col06].unique()))

(1044, 453)

In [172]:
ct06.loc[ct06['ADM_NO'].duplicated(keep=False), ['ADM_NO', 'CERTI_MODI_SNO']].sort_values('ADM_NO')

      ADM_NO  CERTI_MODI_SNO
1028   52510              12
330    52510               0
579    52578               3
343    52578               0
92     52612              19
...      ...             ...
1038   59491               1
777    59492               0
961    59492               3
1040   59492               2
1043   59492               1

[774 rows x 2 columns]

In [173]:
# 2컬럼('ADM_NO', 'EF_SNO') 중복 존재 : X
ct06.loc[ct06[['ADM_NO', 'CERTI_MODI_SNO']].duplicated(keep=False), ['ADM_NO', 'CERTI_MODI_SNO']].sort_values('ADM_NO')

Empty DataFrame
Columns: [ADM_NO, CERTI_MODI_SNO]
Index: []

### 7\. UNI_FC_ENG_LIST

In [49]:
name07 = name_list[6]
name07

'UNI_FC_ENG_LIST'

In [50]:
# 3.7s
ct07 = construct_machine_certification_data_load(name07)
ct07.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9521 entries, 0 to 9520
Data columns (total 21 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   ENG_SNO          9521 non-null   int64
 1   ADM_NO           9521 non-null   int64
 2   CERTI_MODI_SNO   9521 non-null   int64
 3   EF_SNO           9521 non-null   int64
 4   ENG_TYPE         5 non-null      object
 5   ENG_ID_NO        5 non-null      object
 6   MAX_PWR_KW       5 non-null      float64
 7   MAX_PWR_RPM      5 non-null      float64
 8   ENG_DISPL        5 non-null      float64
 9   VEH_IN_COM       9281 non-null   object
 10  VEH_PRE_NM       9279 non-null   object
 11  VEH_NM           9287 non-null   object
 12  VEH_MAKER        9291 non-null   object
 13  VEH_TYPE         9290 non-null   object
 14  ETC              58 non-null     object
 15  REG_DATETIME     9521 non-null   object
 16  REG_ID           2986 non-null   object
 17  MOD_DATETIME     3531 non-null   object
 18  MOD_ID           3510 non-null   object
 19  MODI_REF_EF_SNO  0 non-null      float64
 20  VEH_TYPE_YN      71 non-null     object
dtypes: float64(4), int64(4), object(13)
memory usage: 1.5+ MB

In [51]:
# ENG_SNO 원동기장착일련번호 : 0 ~ 21
# CERTI_MODI_SNO 변경인증일련번호 : 0 ~ 77
# EF_SNO 동일차종일련번호 : 0 ~ 256
# ENG_ID_NO 대표원동기명(원동기코드) : nan, 'CFYI520/CFYI520U', 'F5GFL414J*B', 'F5HFL464A*F',
# VEH_TYPE_YN 인증서 표출 여부 : nan, 'Y'

In [153]:
# ADM_NO 관리번호
col07 = 'EF_SNO'
print(cols_dict[name07][col07])
set(ct07[col07].unique())

동일차종일련번호

{0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99,
 100,
 101,
 102,
 103,
 104,
 105,
 106,
 107,
 108,
 109,
 110,
 111,
 112,
 113,
 114,
 115,
 116,
 117,
 118,
 119,
 120,
 121,
 122,
 123,
 124,
 125,
 126,
 127,
 128,
 129,
 130,
 131,
 132,
 133,
 134,
 135,
 136,
 137,
 138,
 139,
 140,
 141,
 142,
 143,
 144,
 145,
 146,
 147,
 148,
 149,
 150,
 151,
 152,
 153,
 154,
 155,
 156,
 157,
 158,
 159,
 160,
 161,
 162,
 163,
 164,
 165,
 166,
 167,
 168,
 169,
 170,
 171,
 172,
 173,
 174,
 175,
 176,
 177,
 178,
 179,
 180,
 181,
 182,
 183,
 184,
 185,
 186,
 187,
 188,
 189,
 190,
 191,
 192,
 193,
 194,
 195,
 196,
 197,
 198,
 199,
 200,
 201,
 202,
 203,
 204,
 205,
 206,
 207,
 208,
 209,
 210,
 211,
 212,
 213,
 214,
 215,
 216,
 217,
 218,
 219,
 220,
 221,
 222,
 223,
 224,
 225,
 226,
 227,
 228,
 229,
 230,
 231,
 232,
 233,
 234,
 235,
 236,
 237,
 238,
 239,
 240,
 241,
 242,
 243,
 244,
 245,
 246,
 247,
 248,
 249,
 250,
 251,
 252,
 253,
 254,
 255,
 256}

In [53]:
ct07[col07].notnull().sum(), len(set(ct07[col07].unique()))

(9521, 483)

In [174]:
ct07.loc[ct07['ADM_NO'].duplicated(keep=False), ['ADM_NO', 'CERTI_MODI_SNO']].sort_values('ADM_NO')

      ADM_NO  CERTI_MODI_SNO
345    52346               3
337    52346               0
338    52346               0
339    52346               0
340    52346               0
...      ...             ...
8891   59500               0
8969   59571               0
8970   59571               0
8437   59573               0
8436   59573               0

[9501 rows x 2 columns]

In [175]:
# 2컬럼('ADM_NO', 'EF_SNO') 중복 존재 : O
ct07.loc[ct07[['ADM_NO', 'CERTI_MODI_SNO']].duplicated(keep=False), ['ADM_NO', 'CERTI_MODI_SNO']].sort_values('ADM_NO')

      ADM_NO  CERTI_MODI_SNO
337    52346               0
338    52346               0
339    52346               0
340    52346               0
341    52346               1
...      ...             ...
8397   59500               0
8969   59571               0
8970   59571               0
8436   59573               0
8437   59573               0

[7878 rows x 2 columns]

In [176]:
# 2컬럼('ADM_NO', 'EF_SNO') 중복 존재 : O
ct07.loc[ct07[['ADM_NO', 'CERTI_MODI_SNO']].duplicated(keep=False), ['ADM_NO', 'CERTI_MODI_SNO', 'EF_SNO']].sort_values('ADM_NO')

      ADM_NO  CERTI_MODI_SNO  EF_SNO
337    52346               0       0
338    52346               0       1
339    52346               0       2
340    52346               0       3
341    52346               1       7
...      ...             ...     ...
8397   59500               0       2
8969   59571               0       0
8970   59571               0       1
8436   59573               0       0
8437   59573               0       1

[7878 rows x 3 columns]

In [177]:
# 3컬럼('ADM_NO', 'EF_SNO', 'EF_SNO') 중복 존재 : O
ct07.loc[ct07[['ADM_NO', 'CERTI_MODI_SNO', 'EF_SNO']].duplicated(keep=False), ['ADM_NO', 'CERTI_MODI_SNO', 'EF_SNO']].sort_values('ADM_NO')

      ADM_NO  CERTI_MODI_SNO  EF_SNO
8480   52510              11      23
8479   52510              11      23
8481   52510              11      23
8482   52510              11      23
8483   52510              11      23
...      ...             ...     ...
8554   59048               1      15
9452   59491               3       4
8615   59491               3       4
8891   59500               0       2
8397   59500               0       2

[989 rows x 3 columns]

### 8\. UNI_FC_ENDUENG_EMI

In [54]:
name08 = name_list[7]
name08

'UNI_FC_ENDUENG_EMI'

In [55]:
# 0.2s
ct08 = construct_machine_certification_data_load(name08)
ct08.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 411 entries, 0 to 410
Data columns (total 19 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   ADM_NO           411 non-null    int64
 1   CERTI_MODI_SNO   411 non-null    int64
 2   TEST_METHOD_CHK  411 non-null    object
 3   TEST_MOD         411 non-null    int64
 4   TEST_RST_SNO     411 non-null    int64
 5   NOX_GRAD         167 non-null    float64
 6   NMHC_GRAD        153 non-null    float64
 7   CO_GRAD          163 non-null    float64
 8   PM_GRAD          166 non-null    float64
 9   NOX_YITCT        166 non-null    float64
 10  NMHC_YITCT       153 non-null    float64
 11  CO_YITCT         165 non-null    float64
 12  PM_YITCT         165 non-null    float64
 13  REG_ID           411 non-null    object
 14  REG_DATETIME     375 non-null    object
 15  MOD_ID           57 non-null     object
 16  MOD_DATETIME     21 non-null     object
 17  PN_GRAD          52 non-null     float64
 18  PN_YITCT         52 non-null     float64
dtypes: float64(10), int64(4), object(5)
memory usage: 61.1+ KB

In [56]:
# CERTI_MODI_SNO 변경인증일련번호 : 0 ~ 22(빈 번호 존재)
# TEST_METHOD_CHK 시험방법체크값 : 'NNNN', 'NNNY', 'NNYN', 'NNYY', 'NYNN', 'NYYN', 'YNNN', 'YNYN', 'YYYY'
# TEST_MOD 배출가스시험모드 : 1, 3, 4
# TEST_RST_SNO 시험결과일련번호 : 1

In [57]:
# ADM_NO 관리번호
col08 = 'ADM_NO'
print(cols_dict[name08][col08])
set(ct08[col08].unique())

관리번호

{52664,
 52665,
 52727,
 52768,
 52786,
 52825,
 52852,
 52927,
 52936,
 52998,
 53000,
 53146,
 53254,
 53277,
 53299,
 53460,
 53464,
 55118,
 55119,
 55142,
 55143,
 55325,
 55329,
 55401,
 55432,
 55673,
 55685,
 55725,
 55926,
 56057,
 56083,
 56101,
 56120,
 56163,
 56191,
 56211,
 56237,
 56250,
 56362,
 56367,
 56475,
 56500,
 56539,
 56572,
 56577,
 56623,
 56800,
 56928,
 57043,
 57059,
 57218,
 57252,
 57254,
 57288,
 57294,
 57303,
 57330,
 57383,
 57415,
 57445,
 57447,
 57455,
 57530,
 57531,
 57533,
 57555,
 57599,
 57600,
 57668,
 57670,
 57743,
 57751,
 57761,
 57762,
 57764,
 57787,
 57789,
 57794,
 57826,
 57836,
 57843,
 57859,
 57876,
 57903,
 57923,
 57929,
 57930,
 57937,
 57956,
 57966,
 57985,
 57988,
 57994,
 58002,
 58006,
 58040,
 58051,
 58058,
 58091,
 58104,
 58110,
 58117,
 58119,
 58126,
 58129,
 58136,
 58137,
 58142,
 58144,
 58145,
 58148,
 58175,
 58212,
 58214,
 58223,
 58237,
 58378,
 58419,
 58420,
 58443,
 58505,
 58523,
 58524,
 58568,
 58576,
 58602,
 58609,
 58666,
 58724,
 58783,
 58803,
 58835,
 58851,
 58871,
 58885,
 58889,
 58890,
 58891,
 58892,
 58893,
 58894,
 58895,
 58928,
 58972,
 59010,
 59018,
 59048,
 59128,
 59129,
 59220,
 59324,
 59490,
 59491,
 59492,
 59500,
 59573}

In [58]:
ct08[col08].notnull().sum(), len(set(ct08[col08].unique()))

(411, 156)

In [178]:
ct08.loc[ct08['ADM_NO'].duplicated(keep=False), ['ADM_NO', 'CERTI_MODI_SNO']].sort_values('ADM_NO')

     ADM_NO  CERTI_MODI_SNO
222   52664              22
223   52664              22
275   52665              16
276   52665              16
16    52727              12
..      ...             ...
403   59491               0
407   59492               0
408   59492               0
332   59500               0
333   59500               0

[403 rows x 2 columns]

In [179]:
# 2컬럼('ADM_NO', 'EF_SNO') 중복 존재 : O
ct08.loc[ct08[['ADM_NO', 'CERTI_MODI_SNO']].duplicated(keep=False), ['ADM_NO', 'CERTI_MODI_SNO']].sort_values('ADM_NO')

     ADM_NO  CERTI_MODI_SNO
222   52664              22
223   52664              22
275   52665              16
276   52665              16
16    52727              12
..      ...             ...
403   59491               0
407   59492               0
408   59492               0
332   59500               0
333   59500               0

[403 rows x 2 columns]

### 9\. UNI_FC_ENDUENGTEST

In [59]:
name09 = name_list[8]
name09

'UNI_FC_ENDUENGTEST'

In [60]:
# 0.1s
ct09 = construct_machine_certification_data_load(name09)
ct09.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 430 entries, 0 to 429
Data columns (total 12 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   ADM_NO          430 non-null    int64
 1   CERTI_MODI_SNO  430 non-null    int64
 2   TEST_ENG_SNO    430 non-null    int64
 3   ENG_TYPE        334 non-null    object
 4   ENG_ID_NO       315 non-null    object
 5   ENG_NO          319 non-null    object
 6   TEST_NO         277 non-null    object
 7   TEST_DATE       318 non-null    object
 8   REG_ID          407 non-null    object
 9   REG_DATETIME    430 non-null    object
 10  MOD_ID          56 non-null     object
 11  MOD_DATETIME    51 non-null     object
dtypes: int64(3), object(9)
memory usage: 40.4+ KB

In [61]:
# CERTI_MODI_SNO 변경인증일련번호 : 0 ~ 22(빈 번호 존재)
# TEST_ENG_SNO 시험원동기일련번호 : 0 ~ 19

In [62]:
# ADM_NO 관리번호
col09 = 'ADM_NO'
print(cols_dict[name09][col09])
set(ct09[col09].unique())

관리번호

{52664,
 52665,
 52727,
 52768,
 52786,
 52825,
 52852,
 52927,
 52936,
 52998,
 53000,
 53146,
 53254,
 53277,
 53299,
 53460,
 53464,
 55118,
 55119,
 55142,
 55143,
 55325,
 55329,
 55401,
 55432,
 55673,
 55685,
 55725,
 55926,
 56057,
 56083,
 56101,
 56120,
 56163,
 56191,
 56211,
 56237,
 56250,
 56362,
 56367,
 56475,
 56500,
 56539,
 56572,
 56577,
 56623,
 56800,
 56928,
 57043,
 57059,
 57218,
 57252,
 57254,
 57288,
 57294,
 57303,
 57330,
 57383,
 57415,
 57445,
 57447,
 57455,
 57530,
 57531,
 57533,
 57555,
 57599,
 57600,
 57668,
 57670,
 57743,
 57751,
 57761,
 57762,
 57764,
 57787,
 57789,
 57794,
 57826,
 57836,
 57843,
 57859,
 57876,
 57903,
 57923,
 57929,
 57930,
 57937,
 57956,
 57966,
 57985,
 57988,
 57994,
 58002,
 58006,
 58040,
 58051,
 58058,
 58091,
 58104,
 58110,
 58117,
 58119,
 58126,
 58129,
 58136,
 58137,
 58142,
 58144,
 58145,
 58148,
 58175,
 58212,
 58214,
 58223,
 58237,
 58378,
 58419,
 58420,
 58443,
 58505,
 58523,
 58524,
 58568,
 58576,
 58602,
 58609,
 58666,
 58724,
 58783,
 58803,
 58835,
 58851,
 58871,
 58885,
 58889,
 58890,
 58891,
 58892,
 58893,
 58894,
 58895,
 58928,
 58972,
 59010,
 59018,
 59048,
 59128,
 59129,
 59220,
 59324,
 59491,
 59492,
 59500,
 59573}

In [63]:
ct09[col09].notnull().sum(), len(set(ct09[col09].unique()))

(430, 155)

In [180]:
ct09.loc[ct09['ADM_NO'].duplicated(keep=False), ['ADM_NO', 'CERTI_MODI_SNO']].sort_values('ADM_NO')

     ADM_NO  CERTI_MODI_SNO
183   52664              22
339   52664              20
7     52825               8
330   52825               7
79    53146              12
..      ...             ...
371   59018               0
415   59018               0
416   59018               0
417   59018               0
418   59018               0

[339 rows x 2 columns]

In [181]:
# 2컬럼('ADM_NO', 'EF_SNO') 중복 존재 : O
ct09.loc[ct09[['ADM_NO', 'CERTI_MODI_SNO']].duplicated(keep=False), ['ADM_NO', 'CERTI_MODI_SNO']].sort_values('ADM_NO')

     ADM_NO  CERTI_MODI_SNO
249   55142               0
247   55142               0
246   55142               0
245   55142               0
244   55142               0
..      ...             ...
409   59018               0
415   59018               0
416   59018               0
371   59018               0
418   59018               0

[268 rows x 2 columns]

### 10\. UNI_FC_ENDUENGTEST_RES

In [64]:
name10 = name_list[9]
name10

'UNI_FC_ENDUENGTEST_RES'

In [65]:
# 4.2s
ct10 = construct_machine_certification_data_load(name10)
ct10.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7581 entries, 0 to 7580
Data columns (total 24 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   ADM_NO            7581 non-null   int64
 1   CERTI_MODI_SNO    7581 non-null   int64
 2   P_ENG_YN          7581 non-null   int64
 3   SEL_ADM_NO        4236 non-null   float64
 4   TEST_METHOD_CHK   7581 non-null   object
 5   TEST_MOD          7581 non-null   int64
 6   TEST_RST_SNO      7581 non-null   int64
 7   TEST_RST_SNO_SEQ  7581 non-null   int64
 8   FUEL              0 non-null      float64
 9   DDC_USE_YN        6724 non-null   float64
 10  TEST_CNT          0 non-null      float64
 11  TEST_TIME         7100 non-null   float64
 12  TEST_PLACE        7054 non-null   object
 13  TEST_DATE         7025 non-null   object
 14  CO                6034 non-null   float64
 15  NOX               5960 non-null   float64
 16  PM                5901 non-null   float64
 17  NMHC              5948 non-null   float64
 18  REG_ID            721 non-null    object
 19  REG_DATETIME      7581 non-null   object
 20  MOD_ID            352 non-null    object
 21  MOD_DATETIME      431 non-null    object
 22  PN                357 non-null    float64
 23  NMHCNOX           715 non-null    float64
dtypes: float64(11), int64(6), object(7)
memory usage: 1.4+ MB

In [66]:
# CERTI_MODI_SNO 인증 일련번호 : 0 ~ 22(빈 번호 존재)
# P_ENG_YN 내구대표차원동기여부 : 0, 1, 2
# TEST_METHOD_CHK 시험방법체크값 : 'NNNN', 'NNNY', 'NNYN', 'NNYY', 'NYNN', 'NYYN', 'YNNN', 'YNYN', 'YYYY'
# TEST_MOD 시험모드(CVS-75,Highway,US06,SC03,Cold CO...) : 1, 2
# TEST_RST_SNO 시험결과일련번호 : 1 ~ 268
# TEST_RST_SNO_SEQ 시험결과일련번호의항목순번 : 1 ~ 4
# DDC_USE_YN 지정열화계수 사용유무(사용:1,미사용:0) : nan, 1.0, 2.0

In [67]:
# ADM_NO 관리번호
col10 = 'ADM_NO'
print(cols_dict[name10][col10])
set(ct10[col10].unique())

관리번호

{52664,
 52665,
 52727,
 52768,
 52786,
 52825,
 52852,
 52927,
 52936,
 52998,
 53000,
 53146,
 53254,
 53277,
 53299,
 53460,
 53464,
 55118,
 55119,
 55142,
 55143,
 55325,
 55329,
 55401,
 55432,
 55673,
 55685,
 55725,
 55926,
 56057,
 56083,
 56101,
 56120,
 56163,
 56191,
 56211,
 56237,
 56250,
 56362,
 56367,
 56475,
 56500,
 56539,
 56572,
 56577,
 56623,
 56800,
 56928,
 57043,
 57059,
 57218,
 57252,
 57254,
 57288,
 57294,
 57303,
 57330,
 57383,
 57415,
 57445,
 57447,
 57455,
 57530,
 57531,
 57533,
 57555,
 57599,
 57600,
 57668,
 57670,
 57743,
 57751,
 57761,
 57762,
 57764,
 57787,
 57789,
 57794,
 57826,
 57836,
 57843,
 57859,
 57876,
 57903,
 57923,
 57929,
 57930,
 57937,
 57956,
 57966,
 57985,
 57988,
 57994,
 58002,
 58006,
 58040,
 58051,
 58058,
 58091,
 58104,
 58110,
 58117,
 58119,
 58126,
 58129,
 58136,
 58137,
 58142,
 58144,
 58145,
 58148,
 58175,
 58212,
 58214,
 58223,
 58237,
 58378,
 58419,
 58420,
 58443,
 58505,
 58523,
 58524,
 58568,
 58576,
 58602,
 58609,
 58666,
 58724,
 58783,
 58803,
 58835,
 58851,
 58871,
 58885,
 58889,
 58890,
 58891,
 58892,
 58893,
 58894,
 58895,
 58928,
 58972,
 59010,
 59018,
 59048,
 59128,
 59129,
 59220,
 59324,
 59491,
 59492,
 59500,
 59573}

In [68]:
ct10[col10].notnull().sum(), len(set(ct10[col10].unique()))

(7581, 155)

In [182]:
ct10.loc[ct10['ADM_NO'].duplicated(keep=False), ['ADM_NO', 'CERTI_MODI_SNO']].sort_values('ADM_NO')

      ADM_NO  CERTI_MODI_SNO
1521   52664              22
1523   52664              22
1522   52664              22
1520   52664              22
1519   52664              22
...      ...             ...
6719   59500               0
6461   59573               0
6462   59573               0
6463   59573               0
6464   59573               0

[7581 rows x 2 columns]

In [183]:
# 2컬럼('ADM_NO', 'EF_SNO') 중복 존재 : O
ct10.loc[ct10[['ADM_NO', 'CERTI_MODI_SNO']].duplicated(keep=False), ['ADM_NO', 'CERTI_MODI_SNO']].sort_values('ADM_NO')

      ADM_NO  CERTI_MODI_SNO
1521   52664              22
1523   52664              22
1522   52664              22
1520   52664              22
1519   52664              22
...      ...             ...
6719   59500               0
6461   59573               0
6462   59573               0
6463   59573               0
6464   59573               0

[7580 rows x 2 columns]

### 11\. UNI_FC_KIENGTEST

In [69]:
name11 = name_list[10]
name11

'UNI_FC_KIENGTEST'

In [70]:
# 0.1s
ct11 = construct_machine_certification_data_load(name11)
ct11.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 307 entries, 0 to 306
Data columns (total 12 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   ADM_NO          307 non-null    int64
 1   CERTI_MODI_SNO  307 non-null    int64
 2   TEST_ENG_SNO    307 non-null    int64
 3   ENG_TYPE        209 non-null    object
 4   ENG_ID_NO       196 non-null    object
 5   ENG_NO          209 non-null    object
 6   TEST_NO         179 non-null    object
 7   TEST_DATE       203 non-null    object
 8   REG_ID          307 non-null    object
 9   REG_DATETIME    307 non-null    object
 10  MOD_ID          29 non-null     object
 11  MOD_DATETIME    29 non-null     object
dtypes: int64(3), object(9)
memory usage: 28.9+ KB

In [71]:
# CERTI_MODI_SNO 변경인증일련번호 : 0 ~ 35(빈 번호 존재)
# TEST_ENG_SNO 시험원동기일련번호 : 0 ~ 5

In [72]:
# ADM_NO 관리번호
col11 = 'ADM_NO'
print(cols_dict[name11][col11])
set(ct11[col11].unique())

관리번호

{52664,
 52665,
 52727,
 52768,
 52786,
 52825,
 52852,
 52925,
 52927,
 52998,
 53277,
 53299,
 53460,
 53464,
 53813,
 54543,
 54730,
 54913,
 55118,
 55119,
 55142,
 55143,
 55325,
 55432,
 55471,
 55673,
 55685,
 55725,
 55926,
 56057,
 56083,
 56101,
 56120,
 56163,
 56191,
 56211,
 56237,
 56250,
 56362,
 56367,
 56475,
 56539,
 56572,
 56577,
 56623,
 56800,
 56928,
 57059,
 57252,
 57254,
 57288,
 57294,
 57303,
 57330,
 57383,
 57415,
 57445,
 57447,
 57455,
 57491,
 57531,
 57535,
 57573,
 57579,
 57599,
 57600,
 57668,
 57670,
 57743,
 57751,
 57761,
 57762,
 57764,
 57787,
 57794,
 57808,
 57826,
 57837,
 57843,
 57869,
 57870,
 57876,
 57879,
 57929,
 57930,
 57937,
 57956,
 57966,
 57985,
 57988,
 57994,
 58002,
 58006,
 58040,
 58051,
 58058,
 58104,
 58110,
 58117,
 58119,
 58126,
 58129,
 58136,
 58137,
 58142,
 58144,
 58145,
 58148,
 58175,
 58212,
 58214,
 58223,
 58237,
 58309,
 58311,
 58356,
 58357,
 58365,
 58378,
 58420,
 58443,
 58523,
 58568,
 58576,
 58602,
 58609,
 58706,
 58724,
 58783,
 58803,
 58835,
 58851,
 58885,
 58889,
 58890,
 58891,
 58892,
 58893,
 58894,
 58895,
 59010,
 59018,
 59033,
 59048,
 59128,
 59129,
 59324,
 59490,
 59491,
 59492,
 59500,
 59573}

In [73]:
ct11[col11].notnull().sum(), len(set(ct11[col11].unique()))

(307, 152)

In [184]:
ct11.loc[ct11['ADM_NO'].duplicated(keep=False), ['ADM_NO', 'CERTI_MODI_SNO']].sort_values('ADM_NO')

     ADM_NO  CERTI_MODI_SNO
137   52664              22
237   52664              20
88    53299               9
238   53299               8
125   53464               6
..      ...             ...
231   59490               1
304   59490               0
83    59573               0
82    59573               0
81    59573               0

[221 rows x 2 columns]

In [185]:
# 2컬럼('ADM_NO', 'EF_SNO') 중복 존재 : O
ct11.loc[ct11[['ADM_NO', 'CERTI_MODI_SNO']].duplicated(keep=False), ['ADM_NO', 'CERTI_MODI_SNO']].sort_values('ADM_NO')

     ADM_NO  CERTI_MODI_SNO
151   55725               0
150   55725               0
149   55725               0
143   55725               0
3     56101               0
..      ...             ...
298   59033               0
300   59033               0
83    59573               0
82    59573               0
81    59573               0

[151 rows x 2 columns]

### 12\. UNI_FC_KIENGTEST_RES

In [74]:
name12 = name_list[11]
name12

'UNI_FC_KIENGTEST_RES'

In [75]:
# 1.3s
ct12 = construct_machine_certification_data_load(name12)
ct12.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2740 entries, 0 to 2739
Data columns (total 20 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   ADM_NO            2740 non-null   int64
 1   CERTI_MODI_SNO    2740 non-null   int64
 2   P_ENG_YN          2704 non-null   float64
 3   SEL_ADM_NO        30 non-null     float64
 4   TEST_METHOD_CHK   2740 non-null   object
 5   TEST_MOD          2740 non-null   int64
 6   TEST_RST_SNO      2740 non-null   int64
 7   TEST_RST_SNO_SEQ  2740 non-null   int64
 8   FUEL              0 non-null      float64
 9   CO                953 non-null    float64
 10  NMHC              924 non-null    float64
 11  NOX               943 non-null    float64
 12  PM                943 non-null    float64
 13  REG_ID            2740 non-null   object
 14  REG_DATETIME      2740 non-null   object
 15  MOD_ID            162 non-null    object
 16  MOD_DATETIME      162 non-null    object
 17  NMHCNOX           209 non-null    float64
 18  PN                833 non-null    float64
 19  NH3               86 non-null     float64
dtypes: float64(10), int64(5), object(5)
memory usage: 428.3+ KB

In [76]:
# CERTI_MODI_SNO 인증 일련번호 : 0 ~ 35(빈 번호 존재)
# P_ENG_YN KI대표원동기 여부 : nan, 1.0, 2.0
# TEST_METHOD_CHK 시험방법체크값 : 'NNNN', 'NNYN', 'NYNN'
# TEST_MOD 시험모드(CVS-75,Highway,US06,SC03,Cold CO...) : 1, 2
# TEST_RST_SNO 시험결과일련번호 : 0 ~ 9
# TEST_RST_SNO_SEQ 시험결과일련번호의항목순번 : 0 ~ 2

In [77]:
# ADM_NO 관리번호
col12 = 'ADM_NO'
print(cols_dict[name12][col12])
set(ct12[col12].unique())

관리번호

{52664,
 52665,
 52727,
 52768,
 52786,
 52825,
 52852,
 52925,
 52927,
 52998,
 53277,
 53299,
 53460,
 53464,
 53813,
 54543,
 54730,
 54913,
 55118,
 55119,
 55142,
 55143,
 55325,
 55432,
 55471,
 55673,
 55685,
 55725,
 55926,
 56057,
 56083,
 56101,
 56120,
 56163,
 56191,
 56211,
 56237,
 56250,
 56362,
 56367,
 56475,
 56539,
 56572,
 56577,
 56623,
 56800,
 56928,
 57059,
 57252,
 57254,
 57288,
 57294,
 57303,
 57330,
 57383,
 57415,
 57445,
 57447,
 57455,
 57491,
 57531,
 57535,
 57573,
 57579,
 57599,
 57600,
 57668,
 57670,
 57743,
 57751,
 57761,
 57762,
 57764,
 57787,
 57794,
 57808,
 57826,
 57837,
 57843,
 57869,
 57870,
 57876,
 57879,
 57929,
 57930,
 57937,
 57956,
 57966,
 57985,
 57988,
 57994,
 58002,
 58006,
 58040,
 58051,
 58058,
 58104,
 58110,
 58117,
 58119,
 58126,
 58129,
 58136,
 58137,
 58142,
 58144,
 58145,
 58148,
 58175,
 58212,
 58214,
 58223,
 58237,
 58309,
 58311,
 58356,
 58357,
 58365,
 58378,
 58420,
 58443,
 58523,
 58568,
 58576,
 58602,
 58609,
 58706,
 58724,
 58783,
 58803,
 58835,
 58851,
 58885,
 58889,
 58890,
 58891,
 58892,
 58893,
 58894,
 58895,
 59010,
 59018,
 59033,
 59048,
 59128,
 59129,
 59324,
 59490,
 59491,
 59492,
 59500,
 59573}

In [78]:
ct12[col12].notnull().sum(), len(set(ct12[col12].unique()))

(2740, 152)

In [186]:
ct12.loc[ct12['ADM_NO'].duplicated(keep=False), ['ADM_NO', 'CERTI_MODI_SNO']].sort_values('ADM_NO')

      ADM_NO  CERTI_MODI_SNO
1267   52664              22
1262   52664              22
1263   52664              22
1264   52664              22
1265   52664              22
...      ...             ...
2526   59573               0
2527   59573               0
2518   59573               0
2525   59573               0
2521   59573               0

[2740 rows x 2 columns]

In [187]:
# 2컬럼('ADM_NO', 'EF_SNO') 중복 존재 : O
ct12.loc[ct12[['ADM_NO', 'CERTI_MODI_SNO']].duplicated(keep=False), ['ADM_NO', 'CERTI_MODI_SNO']].sort_values('ADM_NO')

      ADM_NO  CERTI_MODI_SNO
1267   52664              22
1262   52664              22
1263   52664              22
1264   52664              22
1265   52664              22
...      ...             ...
2526   59573               0
2527   59573               0
2518   59573               0
2525   59573               0
2521   59573               0

[2740 rows x 2 columns]

## 건설기계 인증대장

In [79]:
name = '건설기계 인증대장(Tier3~Stage5)'
file_name = f'{name}.xlsx'
cert_ld34 = pd.read_excel(os.path.join(raw2_fold, file_name), sheet_name='TIER-3~TIER-4')
cert_ld34.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5974 entries, 0 to 5973
Data columns (total 64 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   배출기준             5971 non-null   object
 1   상호명              5971 non-null   object
 2   인증번호             5971 non-null   object
 3   최초인증일자           5971 non-null   object
 4   재교부일자
(변경일자)     5971 non-null   object
 5   접수번호             5971 non-null   object
 6   접수일자             5971 non-null   object
 7   종류               5971 non-null   object
 8   구분               5971 non-null   object
 9   상세내역             4051 non-null   object
 10  엔진형식
(엔진모델명)     5971 non-null   object
 11  엔진코드             5970 non-null   object
 12  엔진배기량            5862 non-null   object
 13  최대출력             5856 non-null   object
 14  Unnamed: 14      5856 non-null   object
 15  엔진제작사            5971 non-null   object
 16  엔진제작국            5971 non-null   object
 17  건설기계
수입사
(대표자)  5367 non-null   object
 18  건설기계
제작사         5365 non-null   object
 19  건설기계
명칭          5367 non-null   object
 20  건설/농업기계 형식       5368 non-null   object
 21  비고               637 non-null    object
 22  정정내역             110 non-null    object
 23  기준치              368 non-null    object
 24  Unnamed: 24      368 non-null    object
 25  Unnamed: 25      368 non-null    object
 26  Unnamed: 26      368 non-null    object
 27  Unnamed: 27      368 non-null    object
 28  Unnamed: 28      369 non-null    object
 29  시험결과             370 non-null    object
 30  Unnamed: 30      369 non-null    object
 31  Unnamed: 31      369 non-null    object
 32  Unnamed: 32      369 non-null    object
 33  Unnamed: 33      369 non-null    object
 34  Unnamed: 34      351 non-null    object
 35  Unnamed: 35      360 non-null    object
 36  Unnamed: 36      370 non-null    object
 37  Unnamed: 37      369 non-null    object
 38  Unnamed: 38      371 non-null    object
 39  Unnamed: 39      369 non-null    object
 40  Unnamed: 40      370 non-null    object
 41  Unnamed: 41      370 non-null    object
 42  Unnamed: 42      370 non-null    object
 43  Unnamed: 43      364 non-null    object
 44  Unnamed: 44      362 non-null    object
 45  Unnamed: 45      383 non-null    object
 46  Unnamed: 46      382 non-null    object
 47  Unnamed: 47      371 non-null    object
 48  Unnamed: 48      368 non-null    object
 49  Unnamed: 49      370 non-null    object
 50  Unnamed: 50      370 non-null    object
 51  Unnamed: 51      370 non-null    object
 52  Unnamed: 52      364 non-null    object
 53  Unnamed: 53      363 non-null    object
 54  Unnamed: 54      367 non-null    object
 55  Unnamed: 55      366 non-null    object
 56  자체시험여부           360 non-null    object
 57  적용기술             287 non-null    object
 58  Unnamed: 58      288 non-null    object
 59  Unnamed: 59      289 non-null    object
 60  Unnamed: 60      280 non-null    object
 61  Unnamed: 61      201 non-null    object
 62  Unnamed: 62      90 non-null     object
 63  DF 변경보고          1639 non-null   object
dtypes: object(64)
memory usage: 2.9+ MB

In [80]:
name = '건설기계 인증대장(Tier3~Stage5)'
file_name = f'{name}.xlsx'
cert_ld5 = pd.read_excel(os.path.join(raw2_fold, file_name), sheet_name='STAGE5')
cert_ld5.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2058 entries, 0 to 2057
Data columns (total 74 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   배출기준             2054 non-null   object
 1   상호명              2055 non-null   object
 2   인증번호             2055 non-null   object
 3   최초인증일자           2054 non-null   object
 4   재교부일자
(변경일자)     2054 non-null   object
 5   접수번호             2054 non-null   object
 6   접수일자             2054 non-null   object
 7   종류               2054 non-null   object
 8   구분               2054 non-null   object
 9   상세내역             783 non-null    object
 10  엔진형식
(엔진모델명)     2054 non-null   object
 11  엔진코드             2053 non-null   object
 12  엔진배기량            2054 non-null   float64
 13  최대출력             2050 non-null   object
 14  Unnamed: 14      2050 non-null   object
 15  엔진
제작사           2054 non-null   object
 16  엔진제작국            2054 non-null   object
 17  건설기계
수입사
(대표자)  2044 non-null   object
 18  건설기계
제작사         2044 non-null   object
 19  건설기계
명칭          2044 non-null   object
 20  건설/농업기계 형식       2044 non-null   object
 21  비고               183 non-null    object
 22  기준치              152 non-null    object
 23  Unnamed: 23      152 non-null    object
 24  Unnamed: 24      152 non-null    object
 25  Unnamed: 25      152 non-null    object
 26  Unnamed: 26      152 non-null    object
 27  Unnamed: 27      152 non-null    object
 28  Unnamed: 28      151 non-null    object
 29  시험결과             153 non-null    object
 30  Unnamed: 30      152 non-null    object
 31  Unnamed: 31      152 non-null    object
 32  Unnamed: 32      152 non-null    object
 33  Unnamed: 33      152 non-null    object
 34  Unnamed: 34      152 non-null    object
 35  Unnamed: 35      152 non-null    object
 36  Unnamed: 36      152 non-null    object
 37  Unnamed: 37      152 non-null    object
 38  Unnamed: 38      152 non-null    object
 39  Unnamed: 39      153 non-null    object
 40  Unnamed: 40      152 non-null    object
 41  Unnamed: 41      152 non-null    object
 42  Unnamed: 42      151 non-null    object
 43  Unnamed: 43      151 non-null    object
 44  Unnamed: 44      151 non-null    object
 45  Unnamed: 45      151 non-null    object
 46  Unnamed: 46      151 non-null    object
 47  Unnamed: 47      151 non-null    object
 48  Unnamed: 48      151 non-null    object
 49  Unnamed: 49      151 non-null    object
 50  Unnamed: 50      151 non-null    object
 51  Unnamed: 51      152 non-null    object
 52  Unnamed: 52      151 non-null    object
 53  Unnamed: 53      152 non-null    object
 54  Unnamed: 54      151 non-null    object
 55  Unnamed: 55      151 non-null    object
 56  Unnamed: 56      151 non-null    object
 57  Unnamed: 57      151 non-null    object
 58  Unnamed: 58      150 non-null    object
 59  Unnamed: 59      151 non-null    object
 60  Unnamed: 60      150 non-null    object
 61  Unnamed: 61      151 non-null    object
 62  Unnamed: 62      151 non-null    object
 63  Unnamed: 63      152 non-null    object
 64  Unnamed: 64      151 non-null    object
 65  자체시험여부           151 non-null    object
 66  DF 대표            138 non-null    object
 67  적용기술             131 non-null    object
 68  Unnamed: 68      131 non-null    object
 69  Unnamed: 69      131 non-null    object
 70  Unnamed: 70      131 non-null    object
 71  Unnamed: 71      131 non-null    object
 72  Unnamed: 72      105 non-null    object
 73  임의설정자료제출여부       130 non-null    object
dtypes: float64(1), object(73)
memory usage: 1.2+ MB

### 정보(TIER-3~TIER-4)

#### 컬럼 수정

In [81]:
cert_ld34.columns

Index(['배출기준', '상호명', '인증번호', '최초인증일자', '재교부일자\n(변경일자)', '접수번호', '접수일자', '종류',
       '구분', '상세내역', '엔진형식\n(엔진모델명)', '엔진코드', '엔진배기량', '최대출력', 'Unnamed: 14',
       '엔진제작사', '엔진제작국', '건설기계 \n수입사\n(대표자)', '건설기계\n제작사', '건설기계\n명칭',
       '건설/농업기계 형식', '비고', '정정내역', '기준치', 'Unnamed: 24', 'Unnamed: 25',
       'Unnamed: 26', 'Unnamed: 27', 'Unnamed: 28', '시험결과', 'Unnamed: 30',
       'Unnamed: 31', 'Unnamed: 32', 'Unnamed: 33', 'Unnamed: 34',
       'Unnamed: 35', 'Unnamed: 36', 'Unnamed: 37', 'Unnamed: 38',
       'Unnamed: 39', 'Unnamed: 40', 'Unnamed: 41', 'Unnamed: 42',
       'Unnamed: 43', 'Unnamed: 44', 'Unnamed: 45', 'Unnamed: 46',
       'Unnamed: 47', 'Unnamed: 48', 'Unnamed: 49', 'Unnamed: 50',
       'Unnamed: 51', 'Unnamed: 52', 'Unnamed: 53', 'Unnamed: 54',
       'Unnamed: 55', '자체시험여부', '적용기술', 'Unnamed: 58', 'Unnamed: 59',
       'Unnamed: 60', 'Unnamed: 61', 'Unnamed: 62', 'DF 변경보고'],
      dtype='object')

In [82]:
cert_ld34.columns = [
    '배출기준', '상호명', '인증번호', '최초인증일자', '재교부일자(변경일자)', '접수번호', '접수일자', '종류', '구분', '상세내역', '엔진형식(엔진모델명)', '엔진코드', '엔진배기량', '최대출력_KW', '최대출력_RPM', '엔진제작사', '엔진제작국', '건설기계수입사(대표자)', '건설기계제작사', '건설기계명칭', '건설/농업기계_형식', '비고', '정정내역', 
    '기준치_CO', '기준치_NMHC+Nox', '기준치_NMHC', '기준치_Nox', '기준치_PM', '기준치_CO2', 
    '시험결과_ISO_8178_C1_CO', '시험결과_ISO_8178_C1_HC+Nox', '시험결과_ISO_8178_C1_NMHC', '시험결과_ISO_8178_C1_Nox', '시험결과_ISO_8178_C1_PM', '시험결과_ISO_8178_C1_CO2', '시험결과_ISO_8178_C1_검사일시', '시험결과_ISO_8178_C1_최대출력_kw', '시험결과_ISO_8178_C1_rpm', 
    '시험결과_NRSC_CO', '시험결과_NRSC_HC+Nox', '시험결과_NRSC_NMHC', '시험결과_NRSC_Nox', '시험결과_NRSC_PM', '시험결과_NRSC_CO2', '시험결과_NRSC_검사일시', '시험결과_NRSC_최대출력_kw', '시험결과_NRSC_최대출력_rpm', 
    '시험결과_NRTC_CO', '시험결과_NRTC_HC+Nox', '시험결과_NRTC_NMHC', '시험결과_NRTC_Nox', '시험결과_NRTC_PM', '시험결과_NRTC_CO2', '시험결과_NRTC_검사일시', '시험결과_NRTC_최대출력_kw', '시험결과_NRTC_최대출력_rpm',
    '자체시험여부', '적용기술_EGR', '적용기술_SCR', '적용기술_DPF', '적용기술_ECU', '적용기술_DOC', '적용기술_기타', 'DF_변경보고'
]
len(cert_ld34.columns)

64

#### 필요한 데이터만 추출(행 제한)

In [83]:
cert_ld34 = cert_ld34.iloc[3:, :]
cert_ld34.head()

,배출기준,상호명,인증번호,최초인증일자,재교부일자(변경일자),접수번호,접수일자,종류,구분,상세내역,...,시험결과_NRTC_최대출력_kw,시험결과_NRTC_최대출력_rpm,자체시험여부,적용기술_EGR,적용기술_SCR,적용기술_DPF,적용기술_ECU,적용기술_DOC,적용기술_기타,DF_변경보고
3,tier-3,"㈜커민스 코리아, 윤석윤",09EN*CU*01,2009-01-14 00:00:00,-,6940,2008-12-23 00:00:00,건설기계,대표(최초),NaN,...,-,-,"TIER-2기준으로시험,3도만족\n교통입회",X,X,X,O,NaN,NaN,해당없음
4,tier-3,"㈜커민스 코리아, 윤석윤",09EN*CU*01,-,2012-02-08 00:00:00,15,2012-02-06 00:00:00,건설기계,대표(정정),대표엔진의\n건설기계 형식 정정,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,해당없음
5,tier-3,"㈜커민스 코리아, 윤석윤",09EN*CU*01,-,2011-08-03 00:00:00,173,2011-07-26 00:00:00,건설기계,대표(보고),대표엔진의\n수입사 및 건설기계추가,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,해당없음
6,tier-3,"㈜커민스 코리아, 윤석윤",09EN*CU*01,-,2011-09-22 00:00:00,204,2011-09-07 00:00:00,건설기계,대표(보고),대표엔진의\n수입사 및 건설기계추가,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,해당없음
7,tier-3,"㈜커민스 코리아, 윤석윤",09EN*CU*01,-,2012-01-25 00:00:00,3,2012-01-10 00:00:00,건설기계,대표(보고),대표엔진의\n수입사 및 건설기계추가,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,해당없음

In [84]:
cert_ld34.shape

(5971, 64)

#### 데이터 확인

In [85]:
set(cert_ld34['접수번호'].unique())

{1,
 3,
 5,
 7,
 8,
 9,
 10,
 12,
 15,
 '2015_977',
 18,
 19,
 20,
 21,
 22,
 '2017_676',
 '2019_1701',
 '2015_767',
 23,
 24,
 28,
 29,
 27,
 '2016_165',
 31,
 33,
 34,
 35,
 36,
 '2021_1307',
 '2018_239',
 41,
 42,
 44,
 '2016_648\n2016_648~1',
 '2017_50',
 '2016_426',
 '2019_1187',
 49,
 47,
 51,
 52,
 45,
 '2018_875',
 '2019_1297',
 '2018_489',
 57,
 58,
 59,
 '2019_1775',
 '2018_1205',
 64,
 '2018_1365',
 67,
 68,
 69,
 70,
 72,
 73,
 74,
 '2017_1420',
 76,
 80,
 81,
 '2018_1002',
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 '2018_582',
 91,
 92,
 90,
 94,
 95,
 96,
 97,
 99,
 100,
 '2016_385',
 102,
 103,
 '2019_1296',
 101,
 105,
 106,
 104,
 107,
 110,
 109,
 112,
 '2021_1114',
 114,
 113,
 116,
 117,
 '2019_1424',
 119,
 120,
 '2020_1722',
 121,
 123,
 124,
 '2020_417',
 125,
 127,
 128,
 129,
 '2021_2203',
 126,
 132,
 135,
 136,
 '2020_2064',
 138,
 '2019_437',
 140,
 141,
 142,
 '2019_487',
 139,
 143,
 146,
 149,
 151,
 153,
 154,
 '2016_829',
 156,
 157,
 158,
 159,
 160,
 161,
 162,
 163,
 '2020_1889',
 165,
 166,
 '2015_1161',
 '2014_867\n2014_867~1',
 171,
 172,
 173,
 174,
 175,
 '2020_1260',
 176,
 178,
 '2017_461',
 177,
 181,
 182,
 183,
 184,
 185,
 186,
 '2016_485',
 '2017_591',
 190,
 191,
 193,
 '2018_13',
 195,
 196,
 197,
 198,
 '2020_605',
 200,
 199,
 202,
 203,
 204,
 205,
 '2020_1995',
 207,
 208,
 209,
 210,
 211,
 '2019_857',
 213,
 214,
 '2020_231',
 216,
 '2019_1498',
 219,
 221,
 222,
 223,
 224,
 225,
 '2019_1045',
 227,
 228,
 226,
 230,
 '2014_334',
 229,
 '2015_485\n2015_485~1',
 '2015_765',
 235,
 236,
 237,
 238,
 239,
 '2015_144',
 '2020_384',
 '2019_271\n2019_271~1',
 246,
 247,
 248,
 249,
 250,
 251,
 '2014_1205',
 '2020_1855',
 '2019_1637',
 '2018_1119',
 258,
 259,
 260,
 '2021_1638',
 '2015_944',
 '2015_1536\n2015_1536~1',
 267,
 268,
 269,
 270,
 271,
 '2020_2124',
 '2015_1124',
 274,
 275,
 '2020_1987',
 277,
 278,
 279,
 280,
 281,
 282,
 '2023_1606',
 284,
 285,
 288,
 '2017_58',
 '2020_1920',
 292,
 293,
 294,
 295,
 '2016_1014',
 296,
 298,
 299,
 302,
 303,
 '2017_1411',
 306,
 309,
 '2019_1887',
 315,
 316,
 '2018_37',
 '2016_189',
 319,
 320,
 321,
 322,
 '2018_1062',
 327,
 '2016_1149',
 332,
 333,
 334,
 '2015_1432\n2015_1432~1',
 336,
 337,
 335,
 '2015_1174',
 346,
 349,
 352,
 354,
 '2018_528',
 '2020_1313',
 357,
 '2016_1222',
 '2015_1363',
 368,
 369,
 370,
 '2016_114',
 373,
 374,
 375,
 378,
 379,
 '2017_1253',
 '2019_772',
 382,
 '2017_967',
 384,
 '2018_1133',
 390,
 '2018_488',
 '2017_717',
 394,
 '2015_815',
 396,
 '2020_2035',
 399,
 '2017_1172',
 '2021_2572',
 '2019_1242',
 '2014_655',
 '2018_1356',
 '2019_524',
 '2020_440\n2020_440~1',
 '2019_729',
 408,
 409,
 '2018_504',
 '2021_1270',
 '2018_724',
 413,
 410,
 '2017_1400',
 '2018_1076\n2018_1076~1',
 417,
 418,
 416,
 412,
 '2015_1318',
 423,
 425,
 426,
 427,
 430,
 '95\n95~1',
 '2020_548',
 442,
 443,
 447,
 448,
 '2019_254',
 449,
 451,
 450,
 453,
 '2019_834',
 459,
 461,
 '2017_57',
 470,
 '2017_761',
 471,
 472,
 473,
 474,
 475,
 477,
 476,
 479,
 480,
 '2016_989',
 '2017_940',
 489,
 491,
 '2017_857',
 '2019_224\n2019_224~1',
 '2016_553',
 '2019_727',
 '2018_403',
 '2019_979',
 501,
 504,
 '2019_625',
 505,
 '2018_58',
 509,
 511,
 '2018_1146',
 513,
 516,
 '2015_141',
 '2014_574\n2014_574~1',
 521,
 522,
 '2015_533',
 '2021_1366',
 '2017_462',
 523,
 '2017_19',
 528,
 529,
 531,
 532,
 540,
 543,
 544,
 545,
 '2020_1605',
 '2020_1755',
 '2020_1299\n2020_1299~1',
 108,
 550,
 551,
 '2015_516\n2015_516~1',
 '2020_15',
 '2014_175',
 '2015_1552\n2015_1552~1',
 '2019_391',
 565,
 '2020_323',
 '2019_983',
 '2016_731',
 '2016_47',
 '2016_1196\n2016_1196~1',
 '2015_1538\n2015_1538~1',
 '2021_35',
 581,
 '2014_866\n2014_866~1',
 585,
 '2016_1117\n2016_1117~1',
 593,
 594,
 595,
 '2019_2006',
 '2017_1111',
 600,
 609,
 610,
 611,
 612,
 '2016_912',
 613,
 '2018_1357',
 '2017_1328',
 '2021_794',
 624,
 '2020_1945',
 '2018_1292',
 '2015_656',
 '2019_864',
 641,
 '2017_1382\n2017_1382~1',
 '2020_2311',
 '2019_1774',
 '2019_881',
 '2019_742',
 644,
 '2018_1366',
 '2016_778',
 '2014_193\n2014_193~',
 '2018_703',
 672,
 '2020_1049',
 679,
 '2018_1084',
 '2020_1655',
 '2019_222',
 '2017_1210',
 '2019_745',
 '2018_967\n2018_967~1',
 '2021_2545',
 '2018_1086',
 '2020_2376',
 '2018_1202',
 '2018_1017',
 '2018_1381',
 '2020_1026',
 '2019_383',
 '2020_130',
 '2020_259',
 '2020_1357',
 '2019_1155',
 '2015_1355\n2015_1355~1',
 '2014_936\n2014_936~1',
 '2020_413',
 '2019_1493',
 '2020_929',
 '124\n124~1',
 '2014_761',
 '2018_1121',
 '2019_211',
 '2015_780',
 '2019_257',
 '2018_583',
 '2019_1771',
 '2015_998',
 '2020_831',
 '2018_1208',
 '2020_1008',
 '2019_1130',
 '2015_185\n2015_185~1',
 '2020_19',
 '2016_909',
 '2021_2168',
 '2021_1306',
 '2021_908',
 '2015_1356\n2015_1356~1',
 '2021_721',
 '2018_1158',
 '2020_2385',
 '2020_1887\n2020_1887~1',
 '2018_1302',
 '2020_258',
 '2016_480',
 '2017_155\n2017_155~1',
 '2020_70',
 '2021_962',
 '2016_1113',
 '2021_910',
 '2018_809',
 '2015_722',
 '2015_769',
 '2016_965\n2016_965~1',
 '2017_280',
 '2015_1288',
 '2020_1888',
 '2019_1778',
 '2016_462',
 '62\n62-1',
 '2023_2050',
 '2020_1604',
 '2018_1276',
 '2022_455',
 '2014_691',
 '2015_1352\n2015_1352~1',
 '2016_25',
 '2018_1140\n2018_1140~1',
 '2015_1338',
 '2017_685',
 '2019_1706',
 '2019_99',
 '2019_1157',
 '2021_555',
 '2017_671',
 '2021_2074',
 '2014_403',
 '2019_14',
 '2021_2142',
 '2017_502',
 '2019_238',
 '193\n193~1',
 '2020_223',
 '2015_306',
 1136,
 1137,
 1138,
 '2020_208',
 1142,
 '2019_1239~1',
 1143,
 1144,
 1145,
 1146,
 '2017_614',
 '297\n297~1',
 '2018_525',
 '2021_2023\n2021_2023~1',
 1156,
 '2019_35',
 '2019_302',
 '2020_314',
 '2020_653',
 '2015_1408',
 '2018_1353',
 '2017_59',
 '2015_1357\n2015_1357~1',
 '2021_1319',
 '2020_920',
 '2016_106',
 '2015_411',
 '2020_53',
 '2020_1212',
 '2019_440',
 '2018_1370',
 '2016_164',
 '2019_519',
 '2015_1193',
 '2018_492',
 '2014_894',
 '2020_1773',
 '2020_1207',
 1291,
 1293,
 '2014_820',
 '2017_941',
 '2017_85',
 '2018_846',
 1318,
 1317,
 '2020_2125',
 1352,
 1353,
 '2015_679\n2015_679~1',
 '2014_1019\n2014_1019~1',
 '2020_985',
 '2018_304',
 '2016_1223',
 '2019_837',
 '5401\n(5401~1)',
 '2015_1342',
 '2018_856',
 '2019_426',
 '2015_1249',
 '2019_29',
 '2015_1505',
 '2021_601',
 '2015_193\n2015_193~1',
 '2016_599',
 '2020_2496',
 '2020_1175',
 '338\n338~1',
 '2015_570',
 '2017_1273',
 '2022_2198',
 1492,
 '2016_708',
 '2018_494',
 '2019_680',
 '2019_26',
 '2020_170',
 '2018_195',
 '2017_1011',
 '2015_1539\n2015_1539~1',
 '2019_491',
 '2016_1175',
 '2019_347',
 '2016_548',
 '2017_330',
 '2016_1121\n2016_1121~1',
 '2023_2049',
 '2020_1607',
 '2021_970',
 '2021_2570',
 '2017_858',
 '2017_893',
 '2015_778\n2015_778~1',
 '2021_798',
 '2019_634',
 '2019_884',
 '2019_1704',
 '2021_720',
 '2017_1390',
 '2014_452\n2014_452~1',
 '2014_254\n2014_254~1',
 '2017_1043',
 '2019_1348',
 '2015_1008',
 1655,
 '2014_678',
 '2018_140',
 '2016_392',
 '2020_434',
 '409\n409~1',
 '2018_876',
 '2019_274\n2019_274~1',
 '2015_945',
 '2016_914',
 '2018_713',
 '2016_166',
 '2020_209',
 '2019_977',
 '2016_807',
 '2014_740',
 '2017_276',
 '2015_1540\n2015_1540~1',
 '2016_1153',
 '2020_1659',
 '2020_2659',
 '104\n104-1',
 '2020_1265',
 '2015_571\n2015_571~1',
 '2019_1705',
 '2018_1253',
 '2020_1301',
 '2018_144',
 '2021_553',
 '2017_18',
 '2015_1172',
 '2020_1414',
 '2020_1120',
 '372\n372~1',
 '2021_2143',
 '2018_481',
 '2017_469',
 '2018_631',
 '2017_1191',
 '2020_2588',
 '2019_1967',
 '2019_1203',
 '2017_1466',
 '2018_1256',
 '2020_1724',
 '2015_140',
 '2016_15',
 '2020_1007',
 '2015_305',
 '2020_2471',
 '2017_122',
 '2016_1170',
 '2016_20',
 '2018_1118',
 '2019_635',
 '2016_40',
 '2015_1516\n2015_1516~1',
 '2021_1401',
 '2020_1641',
 '2017_558',
 1838,
 1839,
 '510\n510-1',
 '2019_1496',
 '2014_964',
 '2019_146',
 '2019_427',
 '2018_838\n2018_838~1',
 '2015_1382',
 '2017_1360',
 '2019_281',
 '2022_280',
 '2020_2451',
 '2015_1475',
 '2016_218',
 '2019_62',
 '2017_633',
 '2019_1702',
 '2017_1096',
 '2019_1565',
 '2019_255',
 '2016_283',
 '2020_604',
 '2015_149',
 '2017_1095',
 '2015_1494',
 '2018_493',
 '2019_1420',
 '2020_700',
 '2015_1134\n2015_1134~1',
 '2019_1129',
 '2020_2057',
 '2015_651\n2015_651~1',
 '2020_1606',
 '2016_1110',
 '2019_197',
 '2017_512',
 '202\n202~1',
 '2019_460',
 '2021_67',
 '2018_87',
 '2019_1776',
 '2019_283',
 '2015_1170',
 '2017_157',
 '2019_899',
 '2021_360',
 '262\n262~1',
 '2016_484',
 '2018_1122',
 2065,
 '2016_191',
 '2021_1673',
 '2018_944',
 '2018_1275',
 '2016_1042',
 '2020_1978',
 '2015_1167',
 '2017_1097',
 '2019_1965',
 '2018_226',
 '2021_887',
 '2019_880',
 '2014_153\n2014_153~1',
 '2020_1654',
 '2020_2449',
 '2017_1045',
 '2015_390',
 '2015_1449',
 '2015_1544\n2015_1544~1',
 '2015_377',
 '2017_23',
 '199\n199~1',
 '2018_1026\n2018_1026~1',
 '2020_654',
 '276\n276-~1',
 '2014_256',
 '2019_898',
 '2021_693',
 '2019_1703',
 '2016_696',
 '2019_865',
 '2018_52',
 '2023_410',
 '2017_425',
 '2014_177',
 '2018_1294',
 '2018_1166\n2018_1166~1',
 '513\n513-1',
 '2014_1018\n2014_1018~1',
 '2014_208',
 '490\n490~1',
 '2016_1125',
 '2021_372',
 '2020_2199',
 '2017_542',
 '2019_1419',
 '2020_2230',
 '2021_1308',
 '2019_194',
 '2017_44',
 '2020_1263',
 '2020_1833',
 '2018_1371',
 '2020_431',
 '2015_1473',
 '2020_476',
 '2019_1964',
 '2019_476',
 '2014_555',
 '2017_1012',
 2360,
 '2014_233',
 '2014_345~1',
 '2019_237',
 '2020_1233',
 '2018_1136',
 '2021_131',
 '2015_1514',
 '2015_1507',
 '2020_138',
 '2017_121',
 '2022_158',
 '2020_1998',
 2439,
 '226\n226~1',
 '2016_549',
 '2021_1674',
 '2019_841',
 '2017_842',
 '2021_554',
 '2019_188',
 '2021_158',
 '2021_2569',
 '2015_515\n2015_515~1',
 '2016_1006',
 '2021_220',
 '2015_1511',
 '2015_618',
 '2018_1348',
 '2020_2591',
 '2021_303',
 '2020_1254',
 '2018_121',
 '2018_1173',
 '2022_597',
 '2018_742',
 '2015_415',
 '2020_385',
 '2020_1393',
 '2015_336',
 '2018_332',
 '2018_1236\n2018_1236~1',
 '2018_842',
 '2017_1338',
 '2019_1502',
 '2021_2042',
 '2019_624',
 '2018_843',
 '2014_209',
 '2021_660',
 '2021_133',
 '2015_1545\n2015_1545~1',
 '2020_1999',
 '2017_670',
 '2015_1546\n2015_1546~1',
 '2016_906',
 '2016_747',
 '2016_598',
 '2021_288',
 '2020_1005',
 '2019_1054',
 '2015_1125',
 '2017_678',
 '2019_689',
 '2017_609',
 '2020_135',
 '2021_2202',
 '2019_1052',
 '2020_2546',
 '2020_2001',
 '2016_9\n2016_9~1',
 '2019_1202',
 '2017_555',
 '2021_2008',
 '2019_1638',
 '2021_275',
 '455\n455~1',
 '2015_358',
 '2019_1240',
 '2018_581',
 '2016_748',
 '2018_218',
 '2019_1350',
 '2014_468',
 '2015_843',
 '2018_51',
 '2016_14',
 '2015_673\n2015_673~1',
 '2019_536',
 '2019_1429',
 '2018_1417',
 '2016_537',
 '2019_1241',
 '2019_1113',
 '2019_147',
 '2020_13',
 '2018_547',
 '2019_2008',
 '2021_909',
 '2016_600',
 '2020_418',
 '2020_2386',
 '2020_433',
 '2022_276',
 '2020_2042',
 '2018_808',
 '2019_196',
 '2019_879',
 '2015_412',
 '2017_539',
 '2018_1109',
 '2015_30',
 '2019_236',
 '2016_1002',
 '2019_253',
 '2019_1115',
 '2021_2201',
 '2014_191',
 '2019_465',
 '2017_664',
 '2015_1550\n2015_1550~1',
 '2018_979',
 '2014_453',
 '2018_86',
 '2015_532',
 '2015_31',
 '2019_98',
 '2017_1149',
 '2017_1354',
 '2016_291',
 '2016_391',
 '2019_743',
 '2016_1271',
 '2020_224',
 '2019_653',
 '2020_14',
 '2022_83',
 '2015_1082',
 '2018_690',
 '2020_137',
 '2021_187',
 '2018_1304',
 '2022_1028',
 '2017_580',
 '2020_1209',
 '2015_302',
 '206\n206~1',
 '2019_838',
 '2018_1059',
 '2018_1330',
 '2020_919',
 '2020_1497',
 '2018_825',
 '2021_70',
 '2021_793',
 '2015_481\n2015_481~1',
 '2021_344',
 '2015_1196',
 '2019_1345',
 '2015_1371',
 '2018_524',
 '2019_1426',
 '2015_385\n2015_385~1',
 '2020_2213',
 '101\n101~1',
 '229\n229~1',
 '458\n458-1',
 '2016_661',
 '2021_1740',
 '2021_900',
 '2020_2421',
 '2015_407',
 '2018_1244',
 '327\n327~1',
 ...}

#### 데이터 수정(TIER-3~TIER-4)

In [86]:
# 줄 바꿈이 있는 열
# 상세내역, 최대출력_KW, 최대출력_RPM, 정정내역, 자체시험여부

# 줄 바꿈을 간격으로 바꿀 열
# 상세내역

# 줄 바꿈을 없앨 열
# 최대출력_KW, 최대출력_RPM, 정정내역

# 줄 바꿈을 쉼표로 바꿀 열
# 자체시험여부

In [87]:
# 줄 바꿈을 간격으로 바꿀 열
# 상세내역
cert_ld34['상세내역'] = cert_ld34['상세내역'].str.replace('\n', ' ')
cert_ld34[['상세내역']].head()

                 상세내역
3                 NaN
4    대표엔진의 건설기계 형식 정정
5  대표엔진의 수입사 및 건설기계추가
6  대표엔진의 수입사 및 건설기계추가
7  대표엔진의 수입사 및 건설기계추가

In [88]:
# 줄 바꿈을 없앨 열
# 최대출력_KW, 최대출력_RPM, 정정내역
cert_ld34['최대출력_KW'] = cert_ld34['최대출력_KW'].str.replace('\n', '')
cert_ld34['최대출력_RPM'] = cert_ld34['최대출력_RPM'].str.replace('\n', '')
cert_ld34['정정내역'] = cert_ld34['정정내역'].str.replace('\n', '')
cert_ld34[['최대출력_KW', '최대출력_RPM', '정정내역']].head()

      최대출력_KW      최대출력_RPM                                  정정내역
3  250(325ps)  2,100(1,900)  1. 동일엔진 추가, 출력병기   (2010.02.02, 재교부)
4  250(325ps)  2,100(1,900)            1.건설기계 형식 정정(2012.02.,재교부)
5  250(325ps)  2,100(1,900)                                   NaN
6  250(325ps)  2,100(1,900)                                   NaN
7  250(325ps)  2,100(1,900)                                   NaN

In [89]:
# 줄 바꿈을 쉼표로 바꿀 열
# 자체시험여부
cert_ld34['자체시험여부'] = cert_ld34['자체시험여부'].str.replace('\n', ',')
cert_ld34[['자체시험여부']].head()

                   자체시험여부
3  TIER-2기준으로시험,3도만족,교통입회
4                     NaN
5                     NaN
6                     NaN
7                     NaN

### 정보(STAGE5)

#### 컬럼 수정

In [90]:
cert_ld5.head()

,배출기준,상호명,인증번호,최초인증일자,재교부일자\n(변경일자),접수번호,접수일자,종류,구분,상세내역,...,Unnamed: 64,자체시험여부,DF 대표,적용기술,Unnamed: 68,Unnamed: 69,Unnamed: 70,Unnamed: 71,Unnamed: 72,임의설정자료제출여부
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,EGR,SCR,DPF,ECU,DOC,기타,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,rpm,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Stage-5,㈜원진에이티,20EN*IV*01,2020-07-15 00:00:00,-,2020_1230,2020-06-16 00:00:00,건설기계,대표(최초),NaN,...,2000,자체시험,대표,-,O,-,O,O,NaN,X
4,Stage-5,㈜원진에이티,20EN*IV*01,2020-07-15 00:00:00,-,2020_1230,2020-06-16 00:00:00,농업기계,동일(최초),NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [91]:
cert_ld5.columns

Index(['배출기준', '상호명', '인증번호', '최초인증일자', '재교부일자\n(변경일자)', '접수번호', '접수일자', '종류',
       '구분', '상세내역', '엔진형식\n(엔진모델명)', '엔진코드', '엔진배기량', '최대출력', 'Unnamed: 14',
       '엔진\n제작사', '엔진제작국', '건설기계 \n수입사\n(대표자)', '건설기계\n제작사', '건설기계\n명칭',
       '건설/농업기계 형식', '비고', '기준치', 'Unnamed: 23', 'Unnamed: 24', 'Unnamed: 25',
       'Unnamed: 26', 'Unnamed: 27', 'Unnamed: 28', '시험결과', 'Unnamed: 30',
       'Unnamed: 31', 'Unnamed: 32', 'Unnamed: 33', 'Unnamed: 34',
       'Unnamed: 35', 'Unnamed: 36', 'Unnamed: 37', 'Unnamed: 38',
       'Unnamed: 39', 'Unnamed: 40', 'Unnamed: 41', 'Unnamed: 42',
       'Unnamed: 43', 'Unnamed: 44', 'Unnamed: 45', 'Unnamed: 46',
       'Unnamed: 47', 'Unnamed: 48', 'Unnamed: 49', 'Unnamed: 50',
       'Unnamed: 51', 'Unnamed: 52', 'Unnamed: 53', 'Unnamed: 54',
       'Unnamed: 55', 'Unnamed: 56', 'Unnamed: 57', 'Unnamed: 58',
       'Unnamed: 59', 'Unnamed: 60', 'Unnamed: 61', 'Unnamed: 62',
       'Unnamed: 63', 'Unnamed: 64', '자체시험여부', 'DF 대표', '적용기술', 'Unnamed: 68',
       'Unnamed: 69', 'Unnamed: 70', 'Unnamed: 71', 'Unnamed: 72',
       '임의설정자료제출여부'],
      dtype='object')

In [92]:
cert_ld5.columns = [
    '배출기준', '상호명', '인증번호', '최초인증일자', '재교부일자(변경일자)', '접수번호', '접수일자', '종류', '구분', '상세내역', '엔진형식(엔진모델명)', '엔진코드', '엔진배기량', 
    '최대출력_KW', '최대출력_RPM',
    '엔진제작사', '엔진제작국', '건설기계수입사(대표자)', '건설기계제작사', '건설기계명칭', '건설/농업기계_형식', '비고', 
    '기준치_CO', '기준치_THC+Nox', '기준치_THC', '기준치_Nox', '기준치_PM', '기준치_PN', '기준치_NH3', 
    '시험결과_ISO_8178_C1_CO', '시험결과_ISO_8178_C1_THC+Nox', '시험결과_ISO_8178_C1_THC', '시험결과_ISO_8178_C1_Nox', '시험결과_ISO_8178_C1_PM', '시험결과_ISO_8178_C1_PN', '시험결과_ISO_8178_C1_NH3', '시험결과_ISO_8178_C1_CO2', '시험결과_ISO_8178_C1_연비', '시험결과_ISO_8178_C1_검사일시',
    '시험결과_ISO_8178_C1_최대출력_kw', '시험결과_ISO_8178_C1_최대출력_rpm', 
    '시험결과_NRSC_CO', '시험결과_NRSC_THC+Nox', '시험결과_NRSC_THC', '시험결과_NRSC_Nox', '시험결과_NRSC_PM', '시험결과_NRSC_PN', '시험결과_NRSC_NH3', '시험결과_NRSC_CO2', '시험결과_NRSC_연비', '시험결과_NRSC_검사일시', '시험결과_NRSC_최대출력_kw', '시험결과_NRSC_최대출력_rpm', 
    '시험결과_NRTC_CO', '시험결과_NRTC_THC+Nox', '시험결과_NRTC_THC', '시험결과_NRTC_Nox', '시험결과_NRTC_PM', '시험결과_NRTC_PN', '시험결과_NRTC_NH3', '시험결과_NRTC_CO2', '시험결과_NRTC_연비', '시험결과_NRTC_검사일시', '시험결과_NRTC_최대출력_kw', '시험결과_NRTC_최대출력_rpm', 
    '자체시험여부', 'DF_대표', '적용기술_EGR', '적용기술_SCR', '적용기술_DPF', '적용기술_ECU', '적용기술_DOC', '적용기술_기타', 
    '임의설정자료제출여부'
]

In [93]:
cert_ld5.head()

,배출기준,상호명,인증번호,최초인증일자,재교부일자(변경일자),접수번호,접수일자,종류,구분,상세내역,...,시험결과_NRTC_최대출력_rpm,자체시험여부,DF_대표,적용기술_EGR,적용기술_SCR,적용기술_DPF,적용기술_ECU,적용기술_DOC,적용기술_기타,임의설정자료제출여부
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,EGR,SCR,DPF,ECU,DOC,기타,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,rpm,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Stage-5,㈜원진에이티,20EN*IV*01,2020-07-15 00:00:00,-,2020_1230,2020-06-16 00:00:00,건설기계,대표(최초),NaN,...,2000,자체시험,대표,-,O,-,O,O,NaN,X
4,Stage-5,㈜원진에이티,20EN*IV*01,2020-07-15 00:00:00,-,2020_1230,2020-06-16 00:00:00,농업기계,동일(최초),NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

#### 필요한 데이터만 추출(행 제한)

In [94]:
cert_ld5 = cert_ld5.iloc[3:, :]
cert_ld5.head()

,배출기준,상호명,인증번호,최초인증일자,재교부일자(변경일자),접수번호,접수일자,종류,구분,상세내역,...,시험결과_NRTC_최대출력_rpm,자체시험여부,DF_대표,적용기술_EGR,적용기술_SCR,적용기술_DPF,적용기술_ECU,적용기술_DOC,적용기술_기타,임의설정자료제출여부
3,Stage-5,㈜원진에이티,20EN*IV*01,2020-07-15 00:00:00,-,2020_1230,2020-06-16 00:00:00,건설기계,대표(최초),NaN,...,2000,자체시험,대표,-,O,-,O,O,NaN,X
4,Stage-5,㈜원진에이티,20EN*IV*01,2020-07-15 00:00:00,-,2020_1230,2020-06-16 00:00:00,농업기계,동일(최초),NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,Stage-5,㈜원진에이티,20EN*IV*01,2020-07-15 00:00:00,-,2020_1230,2020-06-16 00:00:00,농업기계,동일(최초),NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,Stage-5,㈜원진에이티,20EN*IV*01,2020-07-15 00:00:00,-,2020_1230,2020-06-16 00:00:00,농업기계,동일(최초),NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,Stage-5,㈜원진에이티,20EN*IV*01,2020-07-15 00:00:00,-,2020_1230,2020-06-16 00:00:00,농업기계,동일(최초),NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [95]:
cert_ld5.shape

(2055, 74)

In [96]:
cert_ld5.iloc[:5, :20]

,배출기준,상호명,인증번호,최초인증일자,재교부일자(변경일자),접수번호,접수일자,종류,구분,상세내역,엔진형식(엔진모델명),엔진코드,엔진배기량,최대출력_KW,최대출력_RPM,엔진제작사,엔진제작국,건설기계수입사(대표자),건설기계제작사,건설기계명칭
3,Stage-5,㈜원진에이티,20EN*IV*01,2020-07-15 00:00:00,-,2020_1230,2020-06-16 00:00:00,건설기계,대표(최초),NaN,F4HGE613I,F4HGE613I*V,6728.00,191,2000,FPT Industrial S.p.A,이태리,해당없음,해당없음,해당없음
4,Stage-5,㈜원진에이티,20EN*IV*01,2020-07-15 00:00:00,-,2020_1230,2020-06-16 00:00:00,농업기계,동일(최초),NaN,F4HGE613I,F4DGE617D*V,6728.00,221,2100,FPT Industrial S.p.A,이태리,LS엠트론\n(구자은),NH,트랙터
5,Stage-5,㈜원진에이티,20EN*IV*01,2020-07-15 00:00:00,-,2020_1230,2020-06-16 00:00:00,농업기계,동일(최초),NaN,F4HGE613I,F4DGE617D*V,6728.00,221,2100,FPT Industrial S.p.A,이태리,삼정건설기계\n(유재흥),CASE,트랙터
6,Stage-5,㈜원진에이티,20EN*IV*01,2020-07-15 00:00:00,-,2020_1230,2020-06-16 00:00:00,농업기계,동일(최초),NaN,F4HGE613I,F4DGE617E*V,6728.00,199,2100,FPT Industrial S.p.A,이태리,LS엠트론\n(구자은),NH,트랙터
7,Stage-5,㈜원진에이티,20EN*IV*01,2020-07-15 00:00:00,-,2020_1230,2020-06-16 00:00:00,농업기계,동일(최초),NaN,F4HGE613I,F4DGE617E*V,6728.00,199,2100,FPT Industrial S.p.A,이태리,삼정건설기계\n(유재흥),CASE,트랙터

In [97]:
cert_ld5.iloc[:5, 20:35]

,건설/농업기계_형식,비고,기준치_CO,기준치_THC+Nox,기준치_THC,기준치_Nox,기준치_PM,기준치_PN,기준치_NH3,시험결과_ISO_8178_C1_CO,시험결과_ISO_8178_C1_THC+Nox,시험결과_ISO_8178_C1_THC,시험결과_ISO_8178_C1_Nox,시험결과_ISO_8178_C1_PM,시험결과_ISO_8178_C1_PN
3,해당없음,NaN,3.50,-,0.19,0.40,0.01,1000000000000,10,-,-,-,-,-,-
4,T7.315,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,Optum 300,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,T7.290,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,Optum 270,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [98]:
cert_ld5.iloc[:5, 35:50]

,시험결과_ISO_8178_C1_NH3,시험결과_ISO_8178_C1_CO2,시험결과_ISO_8178_C1_연비,시험결과_ISO_8178_C1_검사일시,시험결과_ISO_8178_C1_최대출력_kw,시험결과_ISO_8178_C1_최대출력_rpm,시험결과_NRSC_CO,시험결과_NRSC_THC+Nox,시험결과_NRSC_THC,시험결과_NRSC_Nox,시험결과_NRSC_PM,시험결과_NRSC_PN,시험결과_NRSC_NH3,시험결과_NRSC_CO2,시험결과_NRSC_연비
3,-,-,-,-,-,-,0.01,-,0.01,0.29,0.00,34600000000,1.52,686.36,212.78
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [99]:
cert_ld5.iloc[:5, 50:60]

,시험결과_NRSC_검사일시,시험결과_NRSC_최대출력_kw,시험결과_NRSC_최대출력_rpm,시험결과_NRTC_CO,시험결과_NRTC_THC+Nox,시험결과_NRTC_THC,시험결과_NRTC_Nox,시험결과_NRTC_PM,시험결과_NRTC_PN,시험결과_NRTC_NH3
3,2019-11-14 00:00:00,191,2000,0.02,-,0.01,0.21,0.00,25100000000,0.76
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [100]:
cert_ld5.iloc[:5, 60:]

,시험결과_NRTC_CO2,시험결과_NRTC_연비,시험결과_NRTC_검사일시,시험결과_NRTC_최대출력_kw,시험결과_NRTC_최대출력_rpm,자체시험여부,DF_대표,적용기술_EGR,적용기술_SCR,적용기술_DPF,적용기술_ECU,적용기술_DOC,적용기술_기타,임의설정자료제출여부
3,706.07,219.15,2019-11-13 00:00:00,191,2000,자체시험,대표,-,O,-,O,O,NaN,X
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

#### 데이터 확인

In [101]:
set(cert_ld5['접수번호'].unique())

{'2018_1235\n2018_1235~1',
 '2018_1236\n2018_1236~1',
 '2019_1347',
 '2019_1348',
 '2019_223\n2019_223~1',
 '2019_224\n2019_224~1',
 '2019_771',
 '2019_772',
 '2020_1230',
 '2020_1417',
 '2020_1721',
 '2020_1956',
 '2020_2105',
 '2020_2200',
 '2020_2210',
 '2020_2211',
 '2020_2221\n2020_2221~1',
 '2020_2372',
 '2020_2375',
 '2020_2417\n2020_2417~1',
 '2020_2657',
 '2021_1033\n2021_1033~1',
 '2021_1034',
 '2021_1143\n2021_1143~1',
 '2021_1144',
 '2021_117',
 '2021_1194\n2021_1194~1',
 '2021_1257',
 '2021_1266',
 '2021_1277',
 '2021_1336\n2021_1336~1',
 '2021_1510',
 '2021_1511\n2021_1511~1',
 '2021_1512\n2021_1512~1',
 '2021_1609',
 '2021_1735',
 '2021_1787',
 '2021_1788',
 '2021_1795\n2021_1795~1',
 '2021_1796',
 '2021_1797\n2021_1797~1',
 '2021_1822\n2021_1822~1',
 '2021_1858',
 '2021_1866',
 '2021_1867\n2021_1867~1',
 '2021_1903\n2021_1901~1',
 '2021_1918\n2021_1918~1',
 '2021_1921\n2021_1921~1',
 '2021_1950',
 '2021_1970\n2021_1970~1',
 '2021_1984',
 '2021_2004',
 '2021_2005',
 '2021_2039\n2021_2039~1',
 '2021_2040\n2021_2040~1',
 '2021_2041\n2021_2041~1',
 '2021_2044\n2021_2044~1',
 '2021_2045\n2021_2045~1',
 '2021_2051',
 '2021_2075',
 '2021_2110',
 '2021_2111\n2021_2111~1',
 '2021_2144\n2021_2144~1',
 '2021_2169',
 '2021_219',
 '2021_2222\n2021_2222~1',
 '2021_2284',
 '2021_2287\n2021_2287~1',
 '2021_2290',
 '2021_2298',
 '2021_2322\n2021_2322~1',
 '2021_2429',
 '2021_2437\n2021_2437~1',
 '2021_2438',
 '2021_2439',
 '2021_2440\n2021_2440~1',
 '2021_2441\n2021_2441~1',
 '2021_2471',
 '2021_2476',
 '2021_2500',
 '2021_2501',
 '2021_2519',
 '2021_2520',
 '2021_2521',
 '2021_2523\n2021_2523~1',
 '2021_2573',
 '2021_2574',
 '2021_2575',
 '2021_2576',
 '2021_259',
 '2021_2591',
 '2021_2604\n2021_2604~1',
 '2021_284',
 '2021_289',
 '2021_29',
 '2021_290',
 '2021_291',
 '2021_558\n2021_558~1',
 '2021_559\n2021_559~1',
 '2021_576',
 '2021_577',
 '2021_578',
 '2021_579',
 '2021_732',
 '2021_733\n2021_733~1',
 '2021_759\n2021_759~1',
 '2021_805\n2021_805~1',
 '2021_964',
 '2021_965',
 '2022_1000\n2022_1000~1',
 '2022_1003',
 '2022_102\n2022_102~1',
 '2022_1026',
 '2022_1027',
 '2022_1064',
 '2022_1065',
 '2022_1082',
 '2022_1083',
 '2022_1084',
 '2022_1085',
 '2022_1115\n2022_1115~1',
 '2022_1142',
 '2022_1149',
 '2022_1172',
 '2022_1173',
 '2022_120',
 '2022_121',
 '2022_122',
 '2022_123',
 '2022_1240',
 '2022_1241',
 '2022_1279',
 '2022_132',
 '2022_133',
 '2022_1340',
 '2022_1341',
 '2022_1342',
 '2022_1343',
 '2022_1344',
 '2022_1375',
 '2022_1411',
 '2022_1414',
 '2022_1415',
 '2022_1419',
 '2022_1420',
 '2022_1421',
 '2022_1422',
 '2022_1430',
 '2022_1492',
 '2022_1493',
 '2022_1494',
 '2022_1495',
 '2022_1513',
 '2022_1514',
 '2022_1515',
 '2022_1516',
 '2022_1517',
 '2022_1518',
 '2022_152',
 '2022_153',
 '2022_1569',
 '2022_1570',
 '2022_1571',
 '2022_1575',
 '2022_1576',
 '2022_1577',
 '2022_159',
 '2022_1617',
 '2022_1618',
 '2022_1619',
 '2022_1653',
 '2022_1680\n2022_1680~1',
 '2022_1707',
 '2022_1708',
 '2022_1709',
 '2022_1726',
 '2022_1727',
 '2022_1728',
 '2022_1729',
 '2022_1730',
 '2022_1733',
 '2022_1734',
 '2022_181\n2022_181~1',
 '2022_1812',
 '2022_1829',
 '2022_1830',
 '2022_1831',
 '2022_1832',
 '2022_197',
 '2022_1972\n2022_1972~1',
 '2022_1973',
 '2022_1974',
 '2022_198',
 '2022_199',
 '2022_2003\n2022_2003~1',
 '2022_201',
 '2022_2016',
 '2022_2017',
 '2022_2078',
 '2022_2097\n2022_20997~1',
 '2022_2098',
 '2022_2099',
 '2022_2116',
 '2022_2117',
 '2022_2136',
 '2022_214',
 '2022_215',
 '2022_216',
 '2022_2196',
 '2022_2199',
 '2022_2200',
 '2022_2240',
 '2022_2241',
 '2022_2242',
 '2022_2243',
 '2022_2244',
 '2022_2245',
 '2022_2250',
 '2022_2255',
 '2022_2256',
 '2022_2257',
 '2022_2275',
 '2022_2276',
 '2022_2280',
 '2022_2281',
 '2022_2321',
 '2022_2322',
 '2022_2323',
 '2022_2362',
 '2022_2371',
 '2022_2384',
 '2022_2385',
 '2022_2386',
 '2022_2387',
 '2022_2388',
 '2022_2389',
 '2022_2390',
 '2022_2411',
 '2022_2412',
 '2022_2427',
 '2022_2430',
 '2022_2491',
 '2022_2492',
 '2022_2493',
 '2022_2506',
 '2022_2507',
 '2022_2518',
 '2022_2532',
 '2022_2533',
 '2022_2539',
 '2022_2540',
 '2022_2541',
 '2022_2542\n2022_2542~1\n2022_2542~2',
 '2022_2556',
 '2022_2591',
 '2022_2592',
 '2022_2625',
 '2022_2626',
 '2022_2627',
 '2022_2628',
 '2022_2634',
 '2022_2635\n2022_2635~1',
 '2022_2636',
 '2022_2637',
 '2022_2638',
 '2022_2639',
 '2022_2640',
 '2022_2641',
 '2022_2642',
 '2022_269',
 '2022_270',
 '2022_271',
 '2022_272',
 '2022_275\n2022_275~1',
 '2022_278',
 '2022_279',
 '2022_282',
 '2022_291\n2022_291~1',
 '2022_292\n2022_292~1',
 '2022_293\n2022_293~1',
 '2022_297',
 '2022_298',
 '2022_299',
 '2022_300',
 '2022_301',
 '2022_302',
 '2022_303',
 '2022_315',
 '2022_316',
 '2022_322',
 '2022_323',
 '2022_330',
 '2022_331',
 '2022_332',
 '2022_335',
 '2022_336',
 '2022_369\n2022_369~1',
 '2022_370\n2022_370~1',
 '2022_403',
 '2022_404',
 '2022_405',
 '2022_406\n2022_406~1',
 '2022_42\n2022_42~1',
 '2022_446',
 '2022_46',
 '2022_483\n2022_483~1',
 '2022_484\n2022_484~1',
 '2022_485\n2022_485~1',
 '2022_486',
 '2022_487',
 '2022_504\n2022_504~1',
 '2022_505',
 '2022_506',
 '2022_507',
 '2022_528',
 '2022_529',
 '2022_547',
 '2022_548',
 '2022_551\n2022_551~1',
 '2022_553\n2022_533~1',
 '2022_554\n2022_554~1',
 '2022_555',
 '2022_556',
 '2022_557',
 '2022_564',
 '2022_565\n2022_565~1',
 '2022_566',
 '2022_567',
 '2022_568',
 '2022_569',
 '2022_595',
 '2022_599',
 '2022_647',
 '2022_648',
 '2022_649',
 '2022_658',
 '2022_660',
 '2022_661\n2022_661~1',
 '2022_699',
 '2022_700',
 '2022_701',
 '2022_702',
 '2022_705',
 '2022_709',
 '2022_710',
 '2022_716',
 '2022_757',
 '2022_758',
 '2022_77',
 '2022_78',
 '2022_780',
 '2022_781',
 '2022_798',
 '2022_814\n2022_814~1',
 '2022_839',
 '2022_840',
 '2022_841',
 '2022_85',
 '2022_865',
 '2022_866',
 '2022_867',
 '2022_868',
 '2022_869',
 '2022_870',
 '2022_873',
 '2022_874',
 '2022_875',
 '2022_882',
 '2022_883',
 '2022_884',
 '2022_910',
 '2022_944',
 '2022_950\n2022_950~1',
 '2022_951',
 '2022_972',
 '2022_98\n2022_98~1',
 '2022_991',
 '2022_992',
 '2022_993',
 '2022_994',
 '2022_995',
 '2023_1037',
 '2023_1038',
 '2023_1039',
 '2023_1075',
 '2023_1076',
 '2023_1077',
 '2023_1078',
 '2023_1079',
 '2023_1080',
 '2023_1123',
 '2023_1125',
 '2023_1126',
 '2023_1148',
 '2023_1170',
 '2023_1171',
 '2023_1172',
 '2023_1173',
 '2023_1193',
 '2023_1218\n2023_1218~1',
 '2023_1219',
 '2023_1254',
 '2023_1278',
 '2023_1292',
 '2023_1297',
 '2023_1314',
 '2023_1315',
 '2023_1316',
 '2023_1326',
 '2023_1327',
 '2023_1331',
 '2023_1339',
 '2023_1393',
 '2023_1405',
 '2023_1406',
 '2023_1437',
 '2023_1438',
 '2023_1439',
 '2023_1458',
 '2023_1459',
 '2023_146',
 '2023_1460',
 '2023_1499',
 '2023_1596',
 '2023_1597',
 '2023_1604',
 '2023_1605',
 '2023_1620',
 '2023_1641',
 '2023_1642',
 '2023_1671',
 '2023_1683',
 '2023_1689',
 '2023_1709',
 '2023_1711',
 '2023_1719',
 '2023_1764',
 '2023_1804',
 '2023_1805',
 '2023_1817',
 '2023_1818',
 '2023_187',
 '2023_188',
 '2023_189',
 '2023_1906',
 '2023_1907',
 '2023_1908',
 '2023_1913',
 '2023_1945',
 '2023_1998',
 '2023_1999',
 '2023_2000',
 '2023_2008',
 '2023_221',
 '2023_222',
 '2023_256',
 '2023_269',
 '2023_270',
 '2023_280',
 '2023_281',
 '2023_282',
 '2023_283',
 '2023_312',
 '2023_313',
 '2023_373',
 '2023_374',
 '2023_41\n2023_41~1',
 '2023_411',
 '2023_445',
 '2023_446',
 '2023_447',
 '2023_448',
 '2023_47',
 '2023_471',
 '2023_472',
 '2023_48',
 '2023_487',
 '2023_49',
 '2023_50',
 '2023_500',
 '2023_516',
 '2023_517',
 '2023_522',
 '2023_542',
 '2023_543',
 '2023_544',
 '2023_545',
 '2023_546',
 '2023_547',
 '2023_553',
 '2023_554',
 '2023_566',
 '2023_585',
 '2023_586',
 '2023_601',
 '2023_614',
 '2023_615',
 '2023_616',
 '2023_63',
 '2023_634',
 '2023_635',
 '2023_636',
 '2023_64',
 '2023_65',
 '2023_657\n2023_657~1',
 '2023_658\n2023_658~1',
 '2023_66',
 '2023_665',
 '2023_666',
 '2023_67',
 '2023_672',
 '2023_688',
 '2023_732',
 '2023_733',
 '2023_734',
 '2023_735',
 '2023_736',
 '2023_737',
 '2023_778',
 '2023_791',
 '2023_792',
 '2023_830',
 '2023_831',
 '2023_860',
 '2023_861',
 '2023_874',
 '2023_929',
 '2023_930',
 '2023_931',
 '2023_936',
 '2023_98',
 nan}

#### 데이터 수정(STAGE5)

In [102]:
# 줄 바꿈이 있는 열
# 건설기계수입사(대표자)

# 줄 바꿈을 없앨 열
# 건설기계수입사(대표자)

In [103]:
# 줄 바꿈을 없앨 열
# 건설기계수입사(대표자)
cert_ld5['건설기계수입사(대표자)'] = cert_ld5['건설기계수입사(대표자)'].str.replace('\n', '')
cert_ld5[['건설기계수입사(대표자)']].head()

  건설기계수입사(대표자)
3         해당없음
4   LS엠트론(구자은)
5  삼정건설기계(유재흥)
6   LS엠트론(구자은)
7  삼정건설기계(유재흥)

#### [출력] 컬럼, 데이터 정보들

In [104]:
info01 = cert_ld34.isnull().sum().reset_index().rename(columns={'index':'컬럼명', 0:'빈 값 개수'})
info01['총 행수'] = cert_ld34.shape[0]
info01['번호'] = [x for x in range(1, info01.shape[0] + 1)]
info01 = info01[['번호', '컬럼명', '빈 값 개수', '총 행수']]
info01

    번호          컬럼명  빈 값 개수  총 행수
0    1         배출기준       0  5971
1    2          상호명       0  5971
2    3         인증번호       0  5971
3    4       최초인증일자       0  5971
4    5  재교부일자(변경일자)       0  5971
..  ..          ...     ...   ...
59  60     적용기술_DPF    5683  5971
60  61     적용기술_ECU    5692  5971
61  62     적용기술_DOC    5771  5971
62  63      적용기술_기타    5882  5971
63  64      DF_변경보고    4332  5971

[64 rows x 4 columns]

In [105]:
info02 = cert_ld5.isnull().sum().reset_index().rename(columns={'index':'컬럼명', 0:'빈 값 개수'})
info02['총 행수'] = cert_ld5.shape[0]
info02['번호'] = [x for x in range(1, info02.shape[0] + 1)]
info02 = info02[['번호', '컬럼명', '빈 값 개수', '총 행수']]
info02

    번호          컬럼명  빈 값 개수  총 행수
0    1         배출기준       1  2055
1    2          상호명       0  2055
2    3         인증번호       0  2055
3    4       최초인증일자       1  2055
4    5  재교부일자(변경일자)       1  2055
..  ..          ...     ...   ...
69  70     적용기술_DPF    1925  2055
70  71     적용기술_ECU    1925  2055
71  72     적용기술_DOC    1925  2055
72  73      적용기술_기타    1951  2055
73  74   임의설정자료제출여부    1925  2055

[74 rows x 4 columns]

In [106]:
today_date = datetime.today().strftime('%Y.%m.%d')
today_date

'2023.11.02'

In [107]:
# with pd.ExcelWriter(os.path.join(an2_fold, f'건설기계_인증대장_데이터정보({today_date}).xlsx')) as writer:
#     info01.to_excel(writer, sheet_name='TIER-3~TIER-4', index=False)
#     info02.to_excel(writer, sheet_name='STAGE5', index=False)

# 과제4

## 전문정비(STD_TB_ERR_RES)

In [108]:
er_dict = {
    'DRVNG_DSTNC':'주행거리', 
    'VHRNO':'자동차등록번호', 
    'VIN':'차대번호', 
    'LOD_COX_MEVLU':'부하일산화탄소측정치', 
    'LOD_HC_MEVLU':'부하탄화수소측정치', 
    'LOD_NOX_MEVLU':'부하질소산화물측정치', 
    'LOD_SMO_MEVLU':'부하매연측정치', 
    'LOD_TQ_MEVLU':'부하토크측정치', 
    'OVHUL_YMD':'정비일자', 
    'SPCY_OVHUL_BIZPLC_NM':'전문정비사업소명', 
    'OVHUL_RCPT_NO':'정비접수번호', 
    'PRCINSP_RINSP_RCPT_NO':'정밀재검사접수번호', 
    'NOLOD_COX_MEVLU':'무부하일산화탄소측정치', 
    'NOLOD_HC_MEVLU':'무부하탄화수소측정치', 
    'NOLOD_AIR_EXCRT_MEVLU':'무부하공기과잉률측정치', 
    'NOLOD_SMO_MEVLU':'무부하매연측정치', 
}

In [109]:
# 0.3s
name = 'STD_TB_ERR_RES(20231011)'
file_name = f'{name}.csv'
er = pd.read_csv(os.path.join(pub_fold, file_name), low_memory=False)
er.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 54617 entries, 0 to 54616
Data columns (total 16 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   DRVNG_DSTNC            54617 non-null  float64
 1   VHRNO                  54617 non-null  object
 2   VIN                    51051 non-null  object
 3   LOD_COX_MEVLU          53884 non-null  object
 4   LOD_HC_MEVLU           53886 non-null  object
 5   LOD_NOX_MEVLU          53883 non-null  object
 6   LOD_SMO_MEVLU          53941 non-null  object
 7   LOD_TQ_MEVLU           53819 non-null  object
 8   OVHUL_YMD              54617 non-null  int64
 9   SPCY_OVHUL_BIZPLC_NM   54617 non-null  object
 10  OVHUL_RCPT_NO          54617 non-null  int64
 11  PRCINSP_RINSP_RCPT_NO  54617 non-null  object
 12  NOLOD_COX_MEVLU        53870 non-null  object
 13  NOLOD_HC_MEVLU         53871 non-null  object
 14  NOLOD_AIR_EXCRT_MEVLU  28484 non-null  object
 15  NOLOD_SMO_MEVLU        50992 non-null  object
dtypes: float64(1), int64(2), object(13)
memory usage: 6.7+ MB

In [110]:
er = er.rename(columns=er_dict)
er.columns

Index(['주행거리', '자동차등록번호', '차대번호', '부하일산화탄소측정치', '부하탄화수소측정치', '부하질소산화물측정치',
       '부하매연측정치', '부하토크측정치', '정비일자', '전문정비사업소명', '정비접수번호', '정밀재검사접수번호',
       '무부하일산화탄소측정치', '무부하탄화수소측정치', '무부하공기과잉률측정치', '무부하매연측정치'],
      dtype='object')

### 데이터 확인

In [111]:
set(er['정비접수번호'].unique())

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13}

#### [출력] 컬럼, 데이터 정보들

In [112]:
er_cols = pd.DataFrame({'컬럼명':er_dict.keys(), '컬럼내용':er_dict.values()})
er_cols

                      컬럼명         컬럼내용
0             DRVNG_DSTNC         주행거리
1                   VHRNO      자동차등록번호
2                     VIN         차대번호
3           LOD_COX_MEVLU   부하일산화탄소측정치
4            LOD_HC_MEVLU    부하탄화수소측정치
5           LOD_NOX_MEVLU   부하질소산화물측정치
6           LOD_SMO_MEVLU      부하매연측정치
7            LOD_TQ_MEVLU      부하토크측정치
8               OVHUL_YMD         정비일자
9    SPCY_OVHUL_BIZPLC_NM     전문정비사업소명
10          OVHUL_RCPT_NO       정비접수번호
11  PRCINSP_RINSP_RCPT_NO    정밀재검사접수번호
12        NOLOD_COX_MEVLU  무부하일산화탄소측정치
13         NOLOD_HC_MEVLU   무부하탄화수소측정치
14  NOLOD_AIR_EXCRT_MEVLU  무부하공기과잉률측정치
15        NOLOD_SMO_MEVLU     무부하매연측정치

In [113]:
temp = er.isnull().sum().reset_index()
temp = temp.rename(columns={'index':'컬럼내용', 0:'빈 값 개수'})
temp['총 행수'] = er.shape[0]
temp['번호'] = [x for x in range(1, temp.shape[0] + 1)]
ttemp = temp.merge(er_cols, on='컬럼내용', how='left')
ttemp = ttemp[['번호', '컬럼명', '컬럼내용', '빈 값 개수', '총 행수']]
ttemp

    번호                    컬럼명         컬럼내용  빈 값 개수   총 행수
0    1            DRVNG_DSTNC         주행거리       0  54617
1    2                  VHRNO      자동차등록번호       0  54617
2    3                    VIN         차대번호    3566  54617
3    4          LOD_COX_MEVLU   부하일산화탄소측정치     733  54617
4    5           LOD_HC_MEVLU    부하탄화수소측정치     731  54617
5    6          LOD_NOX_MEVLU   부하질소산화물측정치     734  54617
6    7          LOD_SMO_MEVLU      부하매연측정치     676  54617
7    8           LOD_TQ_MEVLU      부하토크측정치     798  54617
8    9              OVHUL_YMD         정비일자       0  54617
9   10   SPCY_OVHUL_BIZPLC_NM     전문정비사업소명       0  54617
10  11          OVHUL_RCPT_NO       정비접수번호       0  54617
11  12  PRCINSP_RINSP_RCPT_NO    정밀재검사접수번호       0  54617
12  13        NOLOD_COX_MEVLU  무부하일산화탄소측정치     747  54617
13  14         NOLOD_HC_MEVLU   무부하탄화수소측정치     746  54617
14  15  NOLOD_AIR_EXCRT_MEVLU  무부하공기과잉률측정치   26133  54617
15  16        NOLOD_SMO_MEVLU     무부하매연측정치    3625  54617

In [114]:
today_date = datetime.today().strftime('%Y.%m.%d')
today_date

'2023.11.02'

In [115]:
# ttemp.to_excel(os.path.join(an4_fold, f'전문정비_데이터정보({today_date}).xlsx'), index=False)

### 데이터 수정

In [116]:
er['정비일자'].isnull().sum()

0

In [117]:
er['정비일자'].describe()

count      54617.00
mean    20083896.95
std        16435.80
min     20060727.00
25%     20070801.00
50%     20080507.00
75%     20091109.00
max     20121010.00
Name: 정비일자, dtype: float64

In [118]:
er['정비일자'] = pd.to_datetime(er['정비일자'], format='%Y%m%d', errors='coerce')
er['정비일자'].head()

0   2008-01-10
1   2008-01-23
2   2008-01-08
3   2008-01-18
4   2008-01-07
Name: 정비일자, dtype: datetime64[ns]

In [119]:
er['정비일자'].describe()

count                   54617
unique                   1839
top       2007-10-02 00:00:00
freq                      123
first     2006-07-27 00:00:00
last      2012-10-10 00:00:00
Name: 정비일자, dtype: object

## 전문정비상세(STD_TB_ERR_RES_DET)

In [120]:
erd_dict = {
    'VHRNO':'자동차등록번호', 
    'VIN':'차대번호', 
    'OVHUL_CN':'정비내용', 
    'OVHUL_YMD':'정비일자', 
    'SPCY_OVHUL_BIZPLC_NM':'전문정비사업소명', 
    'OVHUL_CMPNT_NM':'정비부품명', 
    'OVHUL_RCPT_NO':'정비접수번호', 
    'PRCINSP_RINSP_RCPT_NO':'정밀재검사접수번호', 
}

In [121]:
# 0.3s
name = 'STD_TB_ERR_RES_DET(20231011)'
file_name = f'{name}.csv'
erd = pd.read_csv(os.path.join(pub_fold, file_name), low_memory=False)
erd.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 106819 entries, 0 to 106818
Data columns (total 8 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   VHRNO                  106818 non-null  object
 1   VIN                    94670 non-null   object
 2   OVHUL_CN               106817 non-null  object
 3   OVHUL_YMD              106818 non-null  float64
 4   SPCY_OVHUL_BIZPLC_NM   106818 non-null  object
 5   OVHUL_CMPNT_NM         106817 non-null  object
 6   OVHUL_RCPT_NO          106818 non-null  float64
 7   PRCINSP_RINSP_RCPT_NO  0 non-null       float64
dtypes: float64(3), object(5)
memory usage: 6.5+ MB

In [122]:
erd = erd.rename(columns=erd_dict)
erd.columns

Index(['자동차등록번호', '차대번호', '정비내용', '정비일자', '전문정비사업소명', '정비부품명', '정비접수번호',
       '정밀재검사접수번호'],
      dtype='object')

### 데이터 확인

In [123]:
erd.shape

(106819, 8)

In [124]:
set(erd['정비접수번호'].unique())

{1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, 10.0, 11.0, 12.0, 13.0, nan}

#### [출력] 컬럼, 데이터 정보들

In [125]:
erd_cols = pd.DataFrame({'컬럼명':erd_dict.keys(), '컬럼내용':erd_dict.values()})
erd_cols

                     컬럼명       컬럼내용
0                  VHRNO    자동차등록번호
1                    VIN       차대번호
2               OVHUL_CN       정비내용
3              OVHUL_YMD       정비일자
4   SPCY_OVHUL_BIZPLC_NM   전문정비사업소명
5         OVHUL_CMPNT_NM      정비부품명
6          OVHUL_RCPT_NO     정비접수번호
7  PRCINSP_RINSP_RCPT_NO  정밀재검사접수번호

In [126]:
temp = erd.isnull().sum().reset_index()
temp = temp.rename(columns={'index':'컬럼내용', 0:'빈 값 개수'})
temp['총 행수'] = erd.shape[0]
temp['번호'] = [x for x in range(1, temp.shape[0] + 1)]
ttemp = temp.merge(erd_cols, on='컬럼내용', how='left')
ttemp = ttemp[['번호', '컬럼명', '컬럼내용', '빈 값 개수', '총 행수']]
ttemp

   번호                    컬럼명       컬럼내용  빈 값 개수    총 행수
0   1                  VHRNO    자동차등록번호       1  106819
1   2                    VIN       차대번호   12149  106819
2   3               OVHUL_CN       정비내용       2  106819
3   4              OVHUL_YMD       정비일자       1  106819
4   5   SPCY_OVHUL_BIZPLC_NM   전문정비사업소명       1  106819
5   6         OVHUL_CMPNT_NM      정비부품명       2  106819
6   7          OVHUL_RCPT_NO     정비접수번호       1  106819
7   8  PRCINSP_RINSP_RCPT_NO  정밀재검사접수번호  106819  106819

In [127]:
today_date = datetime.today().strftime('%Y.%m.%d')
today_date

'2023.11.02'

In [128]:
# ttemp.to_excel(os.path.join(an4_fold, f'전문정비상세_데이터정보({today_date}).xlsx'), index=False)

### 데이터 수정

In [129]:
erd['정비일자'].isnull().sum()

1

In [130]:
erd['정비일자'].describe()

count     106818.00
mean    20083911.85
std        15852.89
min     20060727.00
25%     20070829.00
50%     20080529.00
75%     20090921.00
max     20120928.00
Name: 정비일자, dtype: float64

In [131]:
erd['정비일자'] = pd.to_datetime(erd['정비일자'], format='%Y%m%d', errors='coerce')
erd['정비일자'].head()

0   2007-02-08
1   2006-08-11
2   2006-08-11
3   2006-08-11
4   2006-12-11
Name: 정비일자, dtype: datetime64[ns]

In [132]:
erd['정비일자'].describe()

count                  106818
unique                   1832
top       2007-08-13 00:00:00
freq                      232
first     2006-07-27 00:00:00
last      2012-09-28 00:00:00
Name: 정비일자, dtype: object

## 전문정비 추가 데이터

### 데이터 확인

In [39]:
os.listdir(raw4_fold)

['tb_rsd_ge_list_202311071035.csv',
 'tb_rsd_ge_list_ex_202311071035.csv',
 'tb_rsd_ge_sub_202311071035.csv',
 'tb_rse_out_result_202311071036.csv',
 'tb_rse_reg_202311071036.csv',
 'tb_rse_std_202311071036.csv',
 'tb_rsm_org_202311071037.csv',
 'tb_rso_reg_202311071037.csv',
 'tb_us_org_202311071037.csv']

In [45]:
len(os.listdir(raw4_fold))

9

In [48]:
print('tb_rsd_ge_list'.upper())
print('tb_rsd_ge_list_ex'.upper())
print('tb_rsd_ge_sub'.upper())
print('tb_rse_out_result'.upper())
print('tb_rse_reg'.upper())
print('tb_rse_std'.upper())
print('tb_rsm_org'.upper())
print('tb_rso_reg'.upper())
print('tb_us_org'.upper())

TB_RSD_GE_LIST
TB_RSD_GE_LIST_EX
TB_RSD_GE_SUB
TB_RSE_OUT_RESULT
TB_RSE_REG
TB_RSE_STD
TB_RSM_ORG
TB_RSO_REG
TB_US_ORG

In [28]:
raw4_fold

'D:/data/processing/big3/raw/BD4'

In [30]:
# 0.3s
name = 'tb_rsd_ge_list_202311071035'
file_name = f'{name}.csv'
rsd_ge_list = pd.read_csv(os.path.join(raw4_fold, file_name), low_memory=False, sep='|')
rsd_ge_list.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 71065 entries, 0 to 71064
Data columns (total 55 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   ge_idx             71065 non-null  int64
 1   rsd_month          71065 non-null  int64
 2   car_ser_no         71065 non-null  object
 3   snt                61457 non-null  float64
 4   ge_cnt             71065 non-null  int64
 5   search1            11799 non-null  float64
 6   search2            2351 non-null   float64
 7   search3            52534 non-null  float64
 8   search4            61061 non-null  float64
 9   car_reg_no         71065 non-null  object
 10  car_nm             71065 non-null  object
 11  usage              71065 non-null  object
 12  car_year           71065 non-null  int64
 13  car_type_nm        71065 non-null  object
 14  car_weight         71065 non-null  int64
 15  tot_weight         71065 non-null  int64
 16  engine_capacity    71065 non-null  int64
 17  engine_power       71065 non-null  object
 18  car_fuel_nm        71064 non-null  object
 19  first_reg_date     71065 non-null  int64
 20  smo_chk_exp_date   70710 non-null  float64
 21  chk_ge_fr          61457 non-null  object
 22  chk_ge_to          61457 non-null  object
 23  rso_reg_status     71065 non-null  object
 24  make_reg_date      70729 non-null  float64
 25  car_fuel_cd        71065 non-null  object
 26  car_type_cd        71065 non-null  int64
 27  reg_region         71065 non-null  object
 28  sido               62729 non-null  object
 29  sigungu            62706 non-null  object
 30  usage_cd           71065 non-null  int64
 31  usage_ex           71065 non-null  object
 32  ge_reg_type        71065 non-null  int64
 33  last_chk_exp_date  0 non-null      float64
 34  car_type_nm2       9586 non-null   object
 35  car_maker_nm       9608 non-null   object
 36  engine_type        9608 non-null   object
 37  mileage            9608 non-null   float64
 38  road_cont          9597 non-null   float64
 39  road_type          9606 non-null   float64
 40  road_money         9444 non-null   float64
 41  road_reason        412 non-null    object
 42  conf_yn            71055 non-null  object
 43  conf_flag          0 non-null      float64
 44  selection_date     0 non-null      float64
 45  selection_user     0 non-null      float64
 46  confirm_date       0 non-null      float64
 47  confirm_user       0 non-null      float64
 48  imps_reason        117 non-null    object
 49  sido_cd            71051 non-null  float64
 50  sigungu_cd         70810 non-null  object
 51  sido_nm            71051 non-null  object
 52  sigungu_nm         70789 non-null  object
 53  cncl_yn            71065 non-null  object
 54  note               2 non-null      object
dtypes: float64(18), int64(11), object(26)
memory usage: 29.8+ MB

In [38]:
stat1 = rsd_ge_list.isnull().sum().reset_index()
stat1 = stat1.rename(columns={'index':'컬럼명', 0:'결측치 개수'})
stat1['총 행수'] = rsd_ge_list.shape[0]
stat1['번호'] = [x for x in range(1, stat1.shape[0] + 1)]
stat1 = stat1[['번호', '컬럼명', '결측치 개수', '총 행수']]
stat1

    번호                컬럼명  결측치 개수   총 행수
0    1             ge_idx       0  71065
1    2          rsd_month       0  71065
2    3         car_ser_no       0  71065
3    4                snt    9608  71065
4    5             ge_cnt       0  71065
5    6            search1   59266  71065
6    7            search2   68714  71065
7    8            search3   18531  71065
8    9            search4   10004  71065
9   10         car_reg_no       0  71065
10  11             car_nm       0  71065
11  12              usage       0  71065
12  13           car_year       0  71065
13  14        car_type_nm       0  71065
14  15         car_weight       0  71065
15  16         tot_weight       0  71065
16  17    engine_capacity       0  71065
17  18       engine_power       0  71065
18  19        car_fuel_nm       1  71065
19  20     first_reg_date       0  71065
20  21   smo_chk_exp_date     355  71065
21  22          chk_ge_fr    9608  71065
22  23          chk_ge_to    9608  71065
23  24     rso_reg_status       0  71065
24  25      make_reg_date     336  71065
25  26        car_fuel_cd       0  71065
26  27        car_type_cd       0  71065
27  28         reg_region       0  71065
28  29               sido    8336  71065
29  30            sigungu    8359  71065
30  31           usage_cd       0  71065
31  32           usage_ex       0  71065
32  33        ge_reg_type       0  71065
33  34  last_chk_exp_date   71065  71065
34  35       car_type_nm2   61479  71065
35  36       car_maker_nm   61457  71065
36  37        engine_type   61457  71065
37  38            mileage   61457  71065
38  39          road_cont   61468  71065
39  40          road_type   61459  71065
40  41         road_money   61621  71065
41  42        road_reason   70653  71065
42  43            conf_yn      10  71065
43  44          conf_flag   71065  71065
44  45     selection_date   71065  71065
45  46     selection_user   71065  71065
46  47       confirm_date   71065  71065
47  48       confirm_user   71065  71065
48  49        imps_reason   70948  71065
49  50            sido_cd      14  71065
50  51         sigungu_cd     255  71065
51  52            sido_nm      14  71065
52  53         sigungu_nm     276  71065
53  54            cncl_yn       0  71065
54  55               note   71063  71065

In [42]:
for file_name in os.listdir(raw4_fold):
    print(file_name)

tb_rsd_ge_list_202311071035.csv
tb_rsd_ge_list_ex_202311071035.csv
tb_rsd_ge_sub_202311071035.csv
tb_rse_out_result_202311071036.csv
tb_rse_reg_202311071036.csv
tb_rse_std_202311071036.csv
tb_rsm_org_202311071037.csv
tb_rso_reg_202311071037.csv
tb_us_org_202311071037.csv

In [49]:
# 12.8s
for file_name in os.listdir(raw4_fold):
    name = file_name.split('.')[0]
    df = pd.read_csv(os.path.join(raw4_fold, file_name), low_memory=False, sep='|')
    print(f'{name} : {df.shape}')

tb_rsd_ge_list_202311071035 : (71065, 55)
tb_rsd_ge_list_ex_202311071035 : (119898, 70)
tb_rsd_ge_sub_202311071035 : (469327, 69)
tb_rse_out_result_202311071036 : (3640, 53)
tb_rse_reg_202311071036 : (4140, 26)
tb_rse_std_202311071036 : (3410, 43)
tb_rsm_org_202311071037 : (652, 42)
tb_rso_reg_202311071037 : (4192, 37)
tb_us_org_202311071037 : (15711, 21)

### [출력] 컬럼, 데이터 정보들

In [40]:
today_date = datetime.today().strftime('%Y.%m.%d')
today_date

'2023.11.10'

In [44]:
# 12.8s
with pd.ExcelWriter(os.path.join(an4_fold, f'건설기계_추가데이터_현황({today_date}).xlsx')) as writer:
    for file_name in os.listdir(raw4_fold):
        name = file_name.split('.')[0]
        df = pd.read_csv(os.path.join(raw4_fold, file_name), low_memory=False, sep='|')
        temp = df.isnull().sum().reset_index()
        temp = temp.rename(columns={'index':'컬럼명', 0:'결측치 개수'})
        temp['총 행수'] = df.shape[0]
        temp['번호'] = [x for x in range(1, temp.shape[0] + 1)]
        temp = temp[['번호', '컬럼명', '결측치 개수', '총 행수']]
        temp.to_excel(writer, sheet_name=name, index=False)

# 과제5

## 구조변경검사(STD_DLM_TB_ERP_GUBUN_BAECHUL)

In [133]:
# 11.7s
name = 'STD_DLM_TB_ERP_GUBUN_BAECHUL(20231011)'
file_name = f'{name}.csv'
gb = pd.read_csv(os.path.join(pub_fold, file_name), low_memory=False)
gb.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1321945 entries, 0 to 1321944
Data columns (total 39 columns):
 #   Column                     Non-Null Count    Dtype
---  ------                     --------------    -----
 0   AIR_PSSR                   1152822 non-null  float64
 1   AIR_TMPRT                  1152822 non-null  float64
 2   CO2_VAL                    1110507 non-null  float64
 3   DRVNG_DSTNC                1320563 non-null  float64
 4   FNCINSP_JGMT_YN            1321919 non-null  object
 5   INSPOF_NM                  1321945 non-null  object
 6   INSPOF_RPRSV_NM            1318198 non-null  object
 7   MAXM_OTPT_MSRMT_VAL        445619 non-null   float64
 8   MAXM_OTPT_PRMT_VAL         544747 non-null   float64
 9   O2_VAL                     1110507 non-null  float64
 10  PRCINSP_YMD                1321945 non-null  int64
 11  PRCINSP_VLD_YMD            127529 non-null   float64
 12  PRCINSP_VLD_WHL            1321945 non-null  object
 13  PRCINSP_JGMT               1321904 non-null  object
 14  PRCINSP_KND                1265148 non-null  object
 15  PRCINSP_RCPT_NO            1308820 non-null  object
 16  RINSP_WHL                  1321945 non-null  object
 17  VHCL_PURPS_CD              1321945 non-null  object
 18  VHRNO                      1321945 non-null  object
 19  VIN                        1321945 non-null  object
 20  STRCT_CHG_INSP_MSRMT_MTHD  1321945 non-null  object
 21  NOLOD_SMO_MSRMT_VAL1       1276978 non-null  float64
 22  NOLOD_SMO_PRMT_VAL1        1276912 non-null  float64
 23  NOLOD_SMO_MSRMT_VAL2       1060644 non-null  float64
 24  NOLOD_SMO_PRMT_VAL2        1012599 non-null  float64
 25  NOLOD_SMO_MSRMT_VAL3       990667 non-null   float64
 26  NOLOD_SMO_PRMT_VAL3        990600 non-null   float64
 27  NOLOD_SMO_MSRMT_VAL4       731316 non-null   float64
 28  NOLOD_SMO_PRMT_VAL4        731299 non-null   float64
 29  NOLOD_SMO_MSRMT_VAL5       731316 non-null   float64
 30  NOLOD_SMO_PRMT_VAL5        731296 non-null   float64
 31  NOLOD_SMO_MSRMT_VAL6       346019 non-null   float64
 32  NOLOD_SMO_PRMT_VAL6        345649 non-null   float64
 33  NOLOD_SMO_JGMT_YN1         1276959 non-null  object
 34  NOLOD_SMO_JGMT_YN2         760411 non-null   object
 35  NOLOD_SMO_JGMT_YN3         760365 non-null   object
 36  NOLOD_SMO_JGMT_YN4         500957 non-null   object
 37  NOLOD_SMO_JGMT_YN5         500955 non-null   object
 38  NOLOD_SMO_JGMT_YN6         76346 non-null    object
dtypes: float64(20), int64(1), object(18)
memory usage: 393.3+ MB

In [134]:
gb.shape

(1321945, 39)

In [135]:
gb.columns

Index(['AIR_PSSR', 'AIR_TMPRT', 'CO2_VAL', 'DRVNG_DSTNC', 'FNCINSP_JGMT_YN',
       'INSPOF_NM', 'INSPOF_RPRSV_NM', 'MAXM_OTPT_MSRMT_VAL',
       'MAXM_OTPT_PRMT_VAL', 'O2_VAL', 'PRCINSP_YMD', 'PRCINSP_VLD_YMD',
       'PRCINSP_VLD_WHL', 'PRCINSP_JGMT', 'PRCINSP_KND', 'PRCINSP_RCPT_NO',
       'RINSP_WHL', 'VHCL_PURPS_CD', 'VHRNO', 'VIN',
       'STRCT_CHG_INSP_MSRMT_MTHD', 'NOLOD_SMO_MSRMT_VAL1',
       'NOLOD_SMO_PRMT_VAL1', 'NOLOD_SMO_MSRMT_VAL2', 'NOLOD_SMO_PRMT_VAL2',
       'NOLOD_SMO_MSRMT_VAL3', 'NOLOD_SMO_PRMT_VAL3', 'NOLOD_SMO_MSRMT_VAL4',
       'NOLOD_SMO_PRMT_VAL4', 'NOLOD_SMO_MSRMT_VAL5', 'NOLOD_SMO_PRMT_VAL5',
       'NOLOD_SMO_MSRMT_VAL6', 'NOLOD_SMO_PRMT_VAL6', 'NOLOD_SMO_JGMT_YN1',
       'NOLOD_SMO_JGMT_YN2', 'NOLOD_SMO_JGMT_YN3', 'NOLOD_SMO_JGMT_YN4',
       'NOLOD_SMO_JGMT_YN5', 'NOLOD_SMO_JGMT_YN6'],
      dtype='object')

### 데이터 확인

In [136]:
gb.iloc[:, :10].head()

,AIR_PSSR,AIR_TMPRT,CO2_VAL,DRVNG_DSTNC,FNCINSP_JGMT_YN,INSPOF_NM,INSPOF_RPRSV_NM,MAXM_OTPT_MSRMT_VAL,MAXM_OTPT_PRMT_VAL,O2_VAL
0,0.00,0.00,14.80,25377.00,Y,이현자동차검사소,최원수,NaN,NaN,0.00
1,101.30,18.00,0.00,172542.00,Y,서인천자동차검사소,박상영,NaN,NaN,0.00
2,98.20,24.80,0.00,203176.00,Y,용인자동차검사소,최광진,NaN,NaN,0.00
3,101.20,15.20,0.00,208787.00,Y,노원자동차검사소,김동연,NaN,NaN,0.00
4,99.80,13.40,0.00,158139.00,Y,성동자동차검사소,나성철,NaN,NaN,0.00

In [137]:
set(gb.FNCINSP_JGMT_YN.unique())

{' ', '8', 'N', 'Y', nan}

In [138]:
gb.iloc[:, 10:20].head()

,PRCINSP_YMD,PRCINSP_VLD_YMD,PRCINSP_VLD_WHL,PRCINSP_JGMT,PRCINSP_KND,PRCINSP_RCPT_NO,RINSP_WHL,VHCL_PURPS_CD,VHRNO,VIN
0,20121031,NaN,~,Y,A21C02,27302012103101971,20121031~20121109,A20P,43버6629,KMHFG41EBCA120332
1,20121031,NaN,~,Y,A21C02,28402012103101621,20121031~20121109,A20P,81노1182,KMFLA18EP6C009216
2,20121031,NaN,~,Y,A21C02,41j02012103101191,20121031~20121109,A20P,경기94다4315,KN3HDP3352K836554
3,20121031,NaN,~,Y,A21C02,11602012103102571,20121031~20121109,A20P,서울34머6188,KMHWP81HP2U498130
4,20121031,NaN,~,Y,A21C02,11a02012103102091,20121031~20121109,A20P,80조2956,KMFWVH7HP5U646771

In [139]:
set(gb.VHCL_PURPS_CD.unique())

{'A20B', 'A20O', 'A20P', 'A20T'}

In [140]:
gb.iloc[:, 20:30].head()

,STRCT_CHG_INSP_MSRMT_MTHD,NOLOD_SMO_MSRMT_VAL1,NOLOD_SMO_PRMT_VAL1,NOLOD_SMO_MSRMT_VAL2,NOLOD_SMO_PRMT_VAL2,NOLOD_SMO_MSRMT_VAL3,NOLOD_SMO_PRMT_VAL3,NOLOD_SMO_MSRMT_VAL4,NOLOD_SMO_PRMT_VAL4,NOLOD_SMO_MSRMT_VAL5
0,부하검사(ASM-Idling),0.00,0.60,7.00,120.00,0.00,790.00,0.00,1.00,8.00
1,부하검사(LUG DOWN),0.00,20.00,0.00,20.00,0.00,20.00,2504.00,5.00,123.80
2,부하검사(KD-147),14.00,20.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,부하검사(KD-147),1.00,20.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,부하검사(KD-147),0.00,20.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [141]:
set(gb.STRCT_CHG_INSP_MSRMT_MTHD.unique())

{'무부하검사(TSI)',
 '무부하검사(급가속)',
 '무부하검사(정지가동)',
 '부하검사(ASM-Idling)',
 '부하검사(ASM2525)',
 '부하검사(KD-147)',
 '부하검사(LUG DOWN)'}

In [142]:
gb.iloc[:, 30:40].head()

,NOLOD_SMO_PRMT_VAL5,NOLOD_SMO_MSRMT_VAL6,NOLOD_SMO_PRMT_VAL6,NOLOD_SMO_JGMT_YN1,NOLOD_SMO_JGMT_YN2,NOLOD_SMO_JGMT_YN3,NOLOD_SMO_JGMT_YN4,NOLOD_SMO_JGMT_YN5,NOLOD_SMO_JGMT_YN6
0,120.00,0.98,0.10,Y,Y,Y,Y,Y,Y
1,117.00,NaN,NaN,Y,Y,Y,Y,Y,NaN
2,NaN,NaN,NaN,Y,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,Y,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,Y,NaN,NaN,NaN,NaN,NaN

In [143]:
set(gb.NOLOD_SMO_JGMT_YN6.unique())

{' ', '0', 'N', 'Y', nan}

#### [출력] 컬럼, 데이터 정보들

In [144]:
temp = gb.isnull().sum().reset_index()
temp = temp.rename(columns={'index':'컬럼명', 0:'빈 값 개수'})
temp['총 행수'] = gb.shape[0]
temp['번호'] = [x for x in range(1, temp.shape[0] + 1)]
temp = temp[['번호', '컬럼명', '빈 값 개수', '총 행수']]
temp

    번호                        컬럼명   빈 값 개수     총 행수
0    1                   AIR_PSSR   169123  1321945
1    2                  AIR_TMPRT   169123  1321945
2    3                    CO2_VAL   211438  1321945
3    4                DRVNG_DSTNC     1382  1321945
4    5            FNCINSP_JGMT_YN       26  1321945
5    6                  INSPOF_NM        0  1321945
6    7            INSPOF_RPRSV_NM     3747  1321945
7    8        MAXM_OTPT_MSRMT_VAL   876326  1321945
8    9         MAXM_OTPT_PRMT_VAL   777198  1321945
9   10                     O2_VAL   211438  1321945
10  11                PRCINSP_YMD        0  1321945
11  12            PRCINSP_VLD_YMD  1194416  1321945
12  13            PRCINSP_VLD_WHL        0  1321945
13  14               PRCINSP_JGMT       41  1321945
14  15                PRCINSP_KND    56797  1321945
15  16            PRCINSP_RCPT_NO    13125  1321945
16  17                  RINSP_WHL        0  1321945
17  18              VHCL_PURPS_CD        0  1321945
18  19                      VHRNO        0  1321945
19  20                        VIN        0  1321945
20  21  STRCT_CHG_INSP_MSRMT_MTHD        0  1321945
21  22       NOLOD_SMO_MSRMT_VAL1    44967  1321945
22  23        NOLOD_SMO_PRMT_VAL1    45033  1321945
23  24       NOLOD_SMO_MSRMT_VAL2   261301  1321945
24  25        NOLOD_SMO_PRMT_VAL2   309346  1321945
25  26       NOLOD_SMO_MSRMT_VAL3   331278  1321945
26  27        NOLOD_SMO_PRMT_VAL3   331345  1321945
27  28       NOLOD_SMO_MSRMT_VAL4   590629  1321945
28  29        NOLOD_SMO_PRMT_VAL4   590646  1321945
29  30       NOLOD_SMO_MSRMT_VAL5   590629  1321945
30  31        NOLOD_SMO_PRMT_VAL5   590649  1321945
31  32       NOLOD_SMO_MSRMT_VAL6   975926  1321945
32  33        NOLOD_SMO_PRMT_VAL6   976296  1321945
33  34         NOLOD_SMO_JGMT_YN1    44986  1321945
34  35         NOLOD_SMO_JGMT_YN2   561534  1321945
35  36         NOLOD_SMO_JGMT_YN3   561580  1321945
36  37         NOLOD_SMO_JGMT_YN4   820988  1321945
37  38         NOLOD_SMO_JGMT_YN5   820990  1321945
38  39         NOLOD_SMO_JGMT_YN6  1245599  1321945

In [145]:
today_date = datetime.today().strftime('%Y.%m.%d')
today_date

'2023.11.02'

In [146]:
# temp.to_excel(os.path.join(an5_fold, f'구조변경_데이터정보({today_date}).xlsx'), index=False)