# 자동차 환경 빅데이터 3차
- 과제2 : 건설기계 배출가스 관리 체게 구축
- 과제4 : 배출가스 전문정비제도 관리체계 구축
- 과제5 : 자동차 환경 빅데이터 제작사 공동 활용체게 구축

# Library

In [39]:
import pandas as pd
import os
import numpy as np
from datetime import datetime

In [6]:
pd.options.display.float_format = '{:.2f}'.format
# pd.reset_option('display.float_format')

In [200]:
# 경고문 없애는 코드
# UserWarning: Workbook contains no default style, apply openpyxl's default warn("Workbook contains no default style, apply openpyxl's default")
import warnings
warnings.simplefilter("ignore")

# Fold

In [536]:
raw_fold = 'D:/data/processing/big3/raw'
raw2_fold = 'D:/data/processing/big3/raw/BD2'
raw4_fold = 'D:/data/processing/big3/raw/BD4'
raw5_fold = 'D:/data/processing/big3/raw/BD5'
an_fold = 'D:/data/processing/big3/analysis'
an2_fold = 'D:/data/processing/big3/analysis/BD2'
an4_fold = 'D:/data/processing/big3/analysis/BD4'
an5_fold = 'D:/data/processing/big3/analysis/BD5'
df_fold = 'D:/data/processing/big3/df'
df2_fold = 'D:/data/processing/big3/df/BD2'
df4_fold = 'D:/data/processing/big3/df/BD4'
df5_fold = 'D:/data/processing/big3/df/BD5'
pub_fold = 'D:/data/processing/big3/raw/public'
folds = {'pub_fold':pub_fold, 'raw_fold':raw_fold, 'an_fold':an_fold, 'df_fold':df_fold, 
         'raw2_fold':raw2_fold, 'raw4_fold':raw4_fold, 'raw5_fold':raw5_fold, 
         'an2_fold:':an2_fold, 'an4_fold:':an4_fold, 'an5_fold:':an5_fold, 
         'df2_fold':df2_fold, 'df4_fold':df4_fold, 'df5_fold':df5_fold}
folds

{'pub_fold': 'D:/data/processing/big3/raw/public',
 'raw_fold': 'D:/data/processing/big3/raw',
 'an_fold': 'D:/data/processing/big3/analysis',
 'df_fold': 'D:/data/processing/big3/df',
 'raw2_fold': 'D:/data/processing/big3/raw/BD2',
 'raw4_fold': 'D:/data/processing/big3/raw/BD4',
 'raw5_fold': 'D:/data/processing/big3/raw/BD5',
 'an2_fold:': 'D:/data/processing/big3/analysis/BD2',
 'an4_fold:': 'D:/data/processing/big3/analysis/BD4',
 'an5_fold:': 'D:/data/processing/big3/analysis/BD5',
 'df2_fold': 'D:/data/processing/big3/df/BD2',
 'df4_fold': 'D:/data/processing/big3/df/BD4',
 'df5_fold': 'D:/data/processing/big3/df/BD5'}

# EDA
+ 과제2
    - 건설기계 인증자료
    - 건설기계 인증대장
+ 과제4
    - 자동차전문정비 : STD_TB_ERR_RES
    - 자동차전문정비상세 : STD_TB_ERR_RES_DET
+ 과제5
    - 구조변경검사 : STD_DLM_TB_ERP_GUBUN_BAECHUL

## 과제2 > 건설기계 인증자료(12개)

In [81]:
def construct_machine_certification_data_load(name, sheet_name=0):
    try:
        file_name = f'{name}.xlsx'
        cert_dt = pd.read_excel(os.path.join(raw2_fold + '/KENCIS 건설기계 인증자료_231018', file_name), sheet_name=sheet_name)
        return cert_dt
    except:
        file_name = f'{name}.xlsx'
        cert_dt = pd.read_excel(os.path.join(raw2_fold + '/KENCIS 건설기계 인증자료_231018', file_name))
        return cert_dt

### 정보 모음

In [93]:
cols = construct_machine_certification_data_load('KENCIS_건설기계인증정보_테이블명세서', '테이블정의서')
cols.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 649 entries, 0 to 648
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   테이블명    12 non-null     object
 1   테이블설명   12 non-null     object
 2   컬럼명     649 non-null    object
 3   컬럼설명    644 non-null    object
 4   데이터형식   649 non-null    object
 5   길이      499 non-null    object
 6   Null    649 non-null    object
dtypes: object(7)
memory usage: 35.6+ KB

In [94]:
cols[['테이블명', '테이블설명']] = cols[['테이블명', '테이블설명']].ffill()

In [199]:
name_list = [
    'UNI_FC_TCMASTER', 
    'UNI_FC_TCERTIMODI', 
    'UNI_FC_ENG_TEFSPEC', 
    'UNI_FC_TEEMISSN', 
    'UNI_FC_TEEMISSN_ENG_RES', 
    'UNI_FC_TESTINFO', 
    'UNI_FC_ENG_LIST', 
    'UNI_FC_ENDUENG_EMI', 
    'UNI_FC_ENDUENGTEST', 
    'UNI_FC_ENDUENGTEST_RES', 
    'UNI_FC_KIENGTEST', 
    'UNI_FC_KIENGTEST_RES', 
    ]
len(name_list)

12

In [110]:
cols_dict = {}
for t in name_list:
    cols_dict[t] = {a:b for a, b in cols.loc[cols['테이블명'] == t, ['컬럼명', '컬럼설명']].values}

In [111]:
cols_dict

{'UNI_FC_ENDUENG_EMI': {'ADM_NO': '관리번호',
  'CERTI_MODI_SNO': '변경인증일련번호',
  'CO_GRAD': 'CO기울기',
  'CO_YITCT': 'CO Y절편',
  'MOD_DATETIME': '수정일시',
  'MOD_ID': '수정아이디',
  'NMHC_GRAD': 'NMHC기울기',
  'NMHC_YITCT': 'NMHC Y절편',
  'NOX_GRAD': 'NOX기울기',
  'NOX_YITCT': 'NOX Y절편',
  'PM_GRAD': 'PM기울기',
  'PM_YITCT': 'PM Y절편',
  'REG_DATETIME': '등록일시',
  'REG_ID': '등록아이디',
  'TEST_METHOD_CHK': '시험방법체크값',
  'TEST_MOD': '배출가스시험모드',
  'TEST_RST_SNO': '시험결과일련번호',
  'PN_GRAD': 'PN 기울기',
  'PN_YITCT': 'PN Y절편'},
 'UNI_FC_ENDUENGTEST': {'ADM_NO': '관리번호',
  'CERTI_MODI_SNO': '변경인증일련번호',
  'ENG_ID_NO': '대표원동기명(원동기코드)',
  'ENG_NO': '원동기 번호',
  'ENG_TYPE': '엔진형식',
  'MOD_DATETIME': '수정일시',
  'MOD_ID': '수정아이디',
  'REG_DATETIME': '등록일시',
  'REG_ID': '등록아이디',
  'TEST_DATE': '시험일',
  'TEST_ENG_SNO': '시험원동기일련번호',
  'TEST_NO': '시험번호'},
 'UNI_FC_ENDUENGTEST_RES': {'ADM_NO': '관리번호',
  'CERTI_MODI_SNO': '인증 일련번호',
  'P_ENG_YN': '내구대표차원동기여부',
  'SEL_ADM_NO': '내구 동일원동기  관리번호',
  'TEST_METHOD_CHK': '시험방법체크값',
  'TEST_MOD': '시험모드(CVS-75,Highway,US06,SC03,Cold CO...)',
  'TEST_RST_SNO': '시험결과일련번호',
  'TEST_RST_SNO_SEQ': '시험결과일련번호의항목순번',
  'FUEL': '사용연료코드',
  'DDC_USE_YN': '지정열화계수 사용유무(사용:1,미사용:0)',
  'TEST_CNT': '회차',
  'TEST_TIME': '운전시간',
  'TEST_PLACE': '시험장소',
  'TEST_DATE': '시험일자',
  'CO': 'CO',
  'NOX': 'NOx',
  'PM': 'PM',
  'NMHC': 'NMHC',
  'REG_ID': '등록아이디',
  'REG_DATETIME': '등록일시',
  'MOD_ID': '수정아이디',
  'MOD_DATETIME': '수정일시',
  'PN': 'PN',
  'NMHCNOX': 'NMHC+Nox'},
 'UNI_FC_ENG_LIST': {'ADM_NO': '관리번호',
  'CERTI_MODI_SNO': '변경인증일련번호',
  'EF_SNO': '동일차종일련번호',
  'ENG_DISPL': '배기량',
  'ENG_ID_NO': '대표원동기명(원동기코드)',
  'ENG_SNO': '원동기장착일련번호',
  'ENG_TYPE': '엔진형식',
  'ETC': '기타 정보',
  'MAX_PWR_KW': '최대출력kW',
  'MAX_PWR_RPM': '최대출력 회전수',
  'MOD_DATETIME': '수정일시',
  'MOD_ID': '수정아이디',
  'MODI_REF_EF_SNO': '변경부모동일원동기번호',
  'REG_DATETIME': '등록일시',
  'REG_ID': '등록아이디',
  'VEH_IN_COM': '수입사',
  'VEH_MAKER': '제작사',
  'VEH_NM': '차명',
  'VEH_PRE_NM': '건설(농)기계 수입사 대표자 성명',
  'VEH_TYPE': '자동차형식',
  'VEH_TYPE_YN': '인증서 표출 여부'},
 'UNI_FC_ENG_TEFSPEC': {'ADM_NO': '관리번호',
  'CERTI_MODI_SNO': '변경인증일련번호',
  'EF_SNO': '동일원동기일련번호',
  'ENG_MAKER': '제작사',
  'ENG_TYPE': '원동기 형식',
  'ENG_ID_NO': '원동기코드',
  'CYCLE': '싸이클(행정)',
  'BOAR': '보어(mm)',
  'STROKE': '스트로크(mm)',
  'CYLIN_CNT': '실린더 개수',
  'CYLIN_ARRANGE': '실린더 배치',
  'ENG_DISPL': '배기량(㎠)',
  'RATED_OUT': '정격출력(kW)',
  'RATED_OUT_RPM': '회전속도(rpm)',
  'MAX_TORQ': '최대토크(Nm)',
  'MAX_TORQ_RPM': '회전속도(rpm)',
  'COMP_RATIO': '압축비(오차)',
  'COMB_TYPE': '연소방식',
  'EXH_MIN_AREA': '흡기 포트의 최소 단면적(㎟)',
  'INTAKE_MIN_AREA': '배기 포트의 최소 단면적(㎟)',
  'COOL_TYPE': '냉각매체',
  'COOLANT_SORT': '냉각수 종류',
  'COOLANT_PUMP_YN': '냉각수 공급펌프 적용 여부',
  'PUMP_TYPE': '펌프형식',
  'PUMP_MAKER': '펌프제작사',
  'COOLANT_DRV_RATIO': '수냉식 구동비',
  'AIR_BLAST_YN': '공기 송풍장치 적용 여부',
  'BLAST_MAKER': '송풍기 제작사',
  'BLAST_DRV_RATIO': '공냉식 구동비',
  'COOLANT_OUTLET_TEMP': '냉각수 출구온도(K)',
  'STD_MAX_TEMP': '기준점에서 최대 온도(K)',
  'ITCL_TEMP': '인터출러 전단 온도(K)',
  'MAX_INTAKE_TEMP': '최대 배기온도(K)',
  'MIN_LUBR_OIL': '최소 윤활유 온도(K)',
  'MAX_LUBR_OIL': '최대 윤활유 온도(K)',
  'EXH_COMP_YN': '홉기공기 압축장치 적용 여부',
  'EXH_COMP_MAKER': '제작사',
  'EXH_COMP_TYPE': '형식',
  'EXH_COMP_PRESS': '최대 압축압력(kPa)',
  'ITCL_YN': '인터쿨러 적용 여부',
  'EXH_MAX_SUB_PRESS': '정격출력 회전수(전부하)에서의 최대허용 흡기부압',
  'INTAKE_MAX_BACK_PRESS': '정격출력 회전수(전부하)에서의 최대허용 배압',
  'CAT_TYPE': '종류',
  'CAT_PMETAL_COMP': '귀금속 성분',
  'CAT_PMETAL_AMT': '귀금속량(g)',
  'CAT_PMETAL_CAPA': '용량(㎤)',
  'CAT_PMETAL_RATIO': '귀금속물질비(Pt:PD:Rh)',
  'FUEL_DELIV_PUMP_PERF': '연료공급펌프 성능(kPa)',
  'FUEL_INJ_MAKER': '제작사',
  'FUEL_INJ_TYPE': '형식',
  'RATED_OUT_FUEL_AMT': '정격출력 회전수의 최대분사시 싸이클당 연료공급량(㎣)',
  'RATED_OUT_FUEL_RPM': '정격출력 회전수의 최대분사시 싸이클당 연료공급량 회전수(rpm)',
  'MAX_TORQ_FUEL_AMT': '최대토크 회전수의 최대 분사시 싸이클당 연료공급량(㎣)',
  'MAX_TORQ_FUEL_RPM': '최대토크 회전수의 최대 분사시 싸이클당 연료공급량 회전수(rpm)',
  'INJ_TNG': '분사시기',
  'INJ_PIPING_LENGTH': '인젝션 파이핑 길이(mm)',
  'INJ_PIPING_INS_DIA': ' 내경(mm)',
  'INJ_MAKER': '인젝터 제작사',
  'INJ_TYPE': '인젝터 형식',
  'FUEL_INJ_PRESS': '열림압(kPa)',
  'GVN_MAKER': '거버너 제작사',
  'GVN_TYPE': '거버너 형식',
  'GVN_FUEL_CUT_RPM': '거버너 전부하 이하에서 연료차단이 이뤄지는 회전속도(rpm)',
  'GVN_UNLOAD_RPM': '거버너 최고 무부하 회전속도(rpm)',
  'GVN_IDLE_RPM': '거버너 공회전속도(rpm)',
  'COLD_START_MAKER': '제작사',
  'COLD_START_TYPE': '형식',
  'COLD_START_HEAT_TYPE': '예열방식',
  'EXH_VALVE_LIFT': '흡기 밸브 리프트(mm)',
  'INTAKE_VALVE_LIFT': '배가 밸브 리프트(mm)',
  'EXH_VALVE_OPEN': '흡기밸브 열기',
  'EXH_VALVE_CLOSE': '흡기밸브 닫기',
  'INTAKE_VALVE_OPEN': '배기밸브 열기',
  'INTAKE_VALVE_CLOSE': '배기밸브 닫기',
  'COOLFAN_REMOVE_STS': '정격출력-냉각팬 탈거상태',
  'IDLE_RPM': '공회전 수',
  'IND_CYLIN_DISPL_DIFF': '개별실린더 배기량 차이(%)',
  'ENG_ECU_NO': '원동기 ECU No.',
  'SW_NO': '소프트웨어 No.',
  'COMB_CHAMB_TYPE': '연소실 형식',
  'VALVE_PORT_SHAPE': '밸브 및 포트 구성 형상',
  'INTK_VALVE_PORT_SIZE': '흡기 밸브 및 포트 크기',
  'INTK_VALVE_PORT_CNT': '흡기 밸브 및 포트 개수',
  'EXH_VALVE_PORT_SIZE': '배기 밸브 및 포트 크기',
  'EXH_VALVE_PORT_CNT': '배기 밸브 및 포트 개수',
  'AIR_CG_COOL_YN': '공기 챠저 쿨링 시스템',
  'EMIS_CYC_YN': '배기가스재순환장치',
  'WATER_INJ_YN': '물 인젝션 장치',
  'AIR_INJ_YN': '공기 인젝션 장치',
  'EXH_AFTERTREAT': '배기후처리장치(촉매형태)',
  'REG_DATETIME': '등록일시',
  'REG_ID': '등록아이디',
  'MOD_DATETIME': '수정일시',
  'MOD_ID': '수정아이디',
  'REF_EF_SNO': '부모동일원동기번호',
  'PRINT_YN': '출력여부',
  'TEMP_CTL_STD': '기준',
  'FUEL': nan,
  'CERTI_SNO': 'PHP건설기계TCERTIMODI의IDX',
  'IDX': 'PHP건설기계TEFSPEC의IDX',
  'PHP_EF_SNO': nan,
  'PHP_PAR_EF_SNO': nan,
  'PHP_P_EFSNO': nan,
  'ENG_CAR_GB': '건설기계/농업기계구분',
  'AIR_INTK_TYPE': '공기흡입방식',
  'MAX_OUTT_POWER': '최대출력동력',
  'MAX_OUTT_RPM': '최대출력분당회전수',
  'MAX_OUTT_POWER_UNIT': '최대출력동력단위'},
 'UNI_FC_KIENGTEST': {'ADM_NO': '관리번호',
  'CERTI_MODI_SNO': '변경인증일련번호',
  'ENG_ID_NO': '대표원동기명(원동기코드)',
  'ENG_NO': '원동기 번호',
  'ENG_TYPE': '엔진형식',
  'MOD_DATETIME': '수정일시',
  'MOD_ID': '수정아이디',
  'REG_DATETIME': '등록일시',
  'REG_ID': '등록아이디',
  'TEST_DATE': '시험일',
  'TEST_ENG_SNO': '시험원동기일련번호',
  'TEST_NO': '시험번호'},
 'UNI_FC_KIENGTEST_RES': {'ADM_NO': '관리번호',
  'CERTI_MODI_SNO': '인증 일련번호',
  'P_ENG_YN': 'KI대표원동기 여부',
  'SEL_ADM_NO': 'KI대표원동기 관리번호',
  'TEST_METHOD_CHK': '시험방법체크값',
  'TEST_MOD': '시험모드(CVS-75,Highway,US06,SC03,Cold CO...)',
  'TEST_RST_SNO': '시험결과일련번호',
  'TEST_RST_SNO_SEQ': '시험결과일련번호의항목순번',
  'FUEL': '사용연료',
  'CO': 'CO',
  'NMHC': 'NMHC',
  'NOX': 'NOx',
  'PM': 'PM',
  'REG_ID': '등록아이디',
  'REG_DATETIME': '등록일시',
  'MOD_ID': '수정아이디',
  'MOD_DATETIME': '수정일시',
  'NMHCNOX': 'NMHC+Nox',
  'PN': '입자상물질개수',
  'NH3': '암모니아'},
 'UNI_FC_TCERTIMODI': {'CERTI_MODI_SNO': '변경인증일련번호',
  'REG_DATETIME': '등록일시',
  'CERTI_MODI_DIV': '변경구분(1:변경인증, 2:변경보고)',
  'EMIS_NOISE_DIV': '배출소음구분(1:배출 2:소음 3:배출+소음)',
  'EMIS_MODI_ITEM': '배출가스 변경인증 변경항목',
  'NOISE_MODI_ITEM': '소음 변경인증 변경항목',
  'EMIS_MODI_REASON': '배출가스 변경사유',
  'NOISE_MODI_REASON': '소음 변경사유',
  'MODI_ITEM_ETC': '기타 변경사항',
  'RECT_DATE': '접수일',
  'APPLI_ID': '신청아이디',
  'OFFICER_ID': '담당자 ID',
  'MODI_EXPLAIN': '변경하고자 하는 인증내용에 대한 설명',
  'EMIS_CHG_EXAM': '인증내용 변경전후의 배출가스변화에 대한 설명',
  'NOISE_CHG_EXAM': '인증내용 변경전후의 소음변화에 대한 설명',
  'MODIF_PROC_STATE': '변경인증 진행상태',
  'CERTI_STATE': '인증진행상태',
  'RECEIVE_STATE': '반영 전 데이터',
  'CO_STD': 'CO 기준치',
  'NOX_STD': 'NOx 허용기준',
  'HC_STD': 'HC 기준치',
  'HCNOX_STD': 'HCNOX 허용기준',
  'EVAP_EMIS_STD': '증발가스 허용기준',
  'PM_STD': 'HC PPm 허용기준',
  'COLD_CO_STD': 'Cold CO 기준치',
  'SMOKE_STD': '매연 허용기준',
  'FORMAL_STD': 'FORMAL허용기준',
  'IDLE_CO_STD': '아이들링 CO 허용기준',
  'HC_PPM_STD': 'HC PPm 허용기준',
  'MODI_EXPLAIN_CT': '변경하고자 하는 인증내용에 대한 설명',
  'EMIS_CHG_EXAM_CT': '인증내용 변경전후의 배출가스 변화에 대한 설명',
  'NOISE_CHG_EXAM_CT': '인증내용 변경전후의 소음 변화에 대한 설명',
  'ACCEL_NOISE_STD': '가속주행소음 기준치',
  'EXH_NOISE_STD': '배기소음 기준치',
  'HORN_NOISE_STD': '경적소음 기준치',
  'TEST_NO': '시험번호',
  'EMIS_CERTI_DATE': '배출가스인증일 ',
  'NOISE_CERTI_DATE': '소음인증일',
  'MODI_TITLE': '변경제목',
  'MODI_DESC': '변경내용',
  'CERTI_STD': '인증허용기준',
  'CERTI_STD_DATE': '인증허용일',
  'EMIS_WITHD_DATE': '배출인증반납일',
  'NOISE_WITHD_DATE': '소음인증반납일',
  'ADM_NO': '관리번호',
  'OLDCERTI': '과거자료여부',
  'CERTI_SNO': 'TCERTIMODI의IDX',
  'CR_CO': '인증 CO값',
  'CR_CO2': '인증 CO2값',
  'CR_COLD_CO': '인증 COLD_CO값',
  'CR_EVAP_EMIS': '인증 EVAP_EMIS값',
  'CR_HC': '인증 HC값',
  'CR_HCNOX': '인증 HCNOX값',
  'CR_MILEAGE': '인증 MILEAGE값',
  'CR_NOX': '인증 NOX값',
  'CR_PM': '인증 PM값',
  'CR_PN': '인증 PN값',
  'MILEAGE_STD': '허용기준MILEAGE',
  'PN_STD': 'PN 허용기준',
  'TC_NO': '고유번호',
  'OPINION_NOTE': '최종의견',
  'BOWAN_NOTE': '보완사항',
  'CTEST_NOTE': '확인시험',
  'EMIS_DOC': '배출가스인증서교부 공문 내용',
  'NOISE_DOC': '소음인증서교부 공문 내용',
  'CERTI_DIV': '인증구분(1:국내,2:수입)',
  'APPROVAL_YN': '결재여부',
  'MGR_ID1': '결재연구관',
  'MGR_ID2': '결재연구사',
  'APPREGI_DATE': '결재일',
  'MAKE_MTRL_NO': '인증신청 작성자료번호',
  'EMIS_CANCEL_DATE': '배출가스 인증서 취소 날짜',
  'NOISE_CANCEL_DATE': '소음 인증서 취소 날짜',
  'SNOTE': '배출가스 인증서 취소 사유',
  'SNOTE2': '소음 인증서 취소 사유',
  'REG_ID': '등록아이디',
  'MOD_ID': '수정아이디',
  'MOD_DATETIME': '수정일시',
  'STANDARD_SLT': '배출허용기준',
  'STANDARD_SLT2': '배출허용기준2',
  'ETC_TXT1': '배출가스표지판위치',
  'IDX': 'PHP건설기계IDX',
  'ETC_TXT3': '최대부압',
  'ETC_TXT4': '최대배압',
  'EMIS_ROWS_CODE': '배출가스저감기술',
  'EMIS_LOWS': '배출가스저감기술코드',
  'PHP_CERTY_TYPE': '인증_형태(이전PHP사용컬럼)',
  'PHP_REP_TYPE': '접수_형태(이전PHP사용컬럼)',
  'PHP_CERTI_STATE': '인증_상태(이전PHP사용컬럼)',
  'OLD_EMIS_CERTI_DATE': '과거자료 배출인증일자',
  'OLD_NOISE_CERTI_DATE': '과거자료 소음인증일자'},
 'UNI_FC_TCMASTER': {'ADM_NO': '관리번호',
  'AGREE_SUBMIS': '교정정보 및 사후 확정정보 제출 협약',
  'AGREE_SUBMIS_CT': '교정정보 및 사후 확정정보 제출 협약 첨부파일',
  'APP_WAR': '보증에 관한 설명',
  'APP_WAR_CT': '보증에 관한 설명첨부파일',
  'APPLI_ID': '신청아이디',
  'APPREGI_DATE': '결재일',
  'APPROVAL_YN': '결재여부',
  'CERTI_DIV': '인증구분',
  'CERTI_INTRO': '인증소개',
  'CERTI_INTRO_CT': '인증소개 첨부파일',
  'CERTI_STATE': '처분내용',
  'CERTI_TYPE': '인증종류',
  'CO_DEVT': 'CO 개발목표치',
  'CO_OP': '산술기호(1:덧셈 2:곱셈)',
  'COLD_CO_DEVT': 'Cold CO 개발목표치',
  'COLD_CO_OP': 'Cold CO 연산자',
  'CONF_INFO': '기밀사항',
  'CONF_INFO_CT': '기밀사항 첨부파일',
  'CONF_ISSUE_NO': '발급문서번호',
  'DF_CO': 'CO 열화계수',
  'DF_COLD_CO': 'HC 열화계수',
  'DF_EVAP_EMIS': 'COLD_CO 열화계수',
  'DF_HC': 'HC 열화계수',
  'DF_HCNOX': 'HCNOX 열화계수',
  'DF_MILEAGE': '열화계수 사용량',
  'DF_NOX': 'NOX 열화계수',
  'DF_PM': 'PM 열화계수',
  'DF_PN': 'PN 열화계수',
  'DF_SMOKE': 'SMOKE 열화계수',
  'DURA_TEST_EF_SNO': '내구성시험 동일차종 일련번호',
  'DURA_TEST_REMARK': '내구성테스트 비고',
  'DURA_TEST_YN': '내구성시험 실시 여부',
  'E_CONFIRM': '결제상태',
  'EF_CD': '동일차종기호',
  'EF_CD_1': '인증년도',
  'EF_CD_2': '차종기호',
  'EF_CD_3': '차종기호',
  'EF_CD_4': '차종기호',
  'EF_CD_5': '차종기호',
  'EF_CD_6': '차종기호',
  'EF_CD_7': '차종기호',
  'EF_CD_8': '차종기호',
  'EF_CD_9': '차종기호',
  'EF_CNT': '동일차량 대수',
  'ELEC_CAR_GB': '전기차 구분 ( N:일반,E:전기차(사용안함),H:하이브리드(사용안함), C:친환경차 )',
  'EMIS_CANCEL_DATE': '배출가스 인증서 취소 날짜',
  'EMIS_CERTI_DATE': '배출가스인증일 ',
  'EMIS_CERTI_NO': '배출인증번호',
  'EMIS_CERTI_SNO': '배출가스인증번호',
  'EMIS_CTL_INSTALL': '배출가스 방지장치 부착내용',
  'EMIS_CTL_INSTALL_E': '배출가스 방지장치 부착내용(영문)',
  'EMIS_CTL_LABEL': '배출가스 표시판(Label)',
  'EMIS_CTL_LABEL_CT': '배출가스 표시판(Label)첨부파일 ',
  'EMIS_CTL_TECH': '배출가스 제어장치',
  'EMIS_CTL_TECH_CT': '배출가스 제어장치첨부파일',
  'EMIS_NOTE': '배출허용기준',
  'EMIS_NOTE2': '변경인증관련비고내용',
  'EMIS_OMIT_NO': '배출가스인증생략번호',
  'EMIS_STD_NOTE': '배출기준정보',
  'EMIS_TEST_EF_SNO': '배출가스시험 동일차종 일련번호',
  'EMIS_TEST_REMARK': '배출가스시험차 비고',
  'EMIS_VEH_CLASS': '배출가스 차종',
  'EMIS_WARRANT': '자동차배출가스 보증에 관한 제작자의 확인서',
  'EMIS_WARRANT_CT': '자동차배출가스 보증에 관한 제작자의 확인서첨부파일',
  'EMIS_WITHD_DATE': '배출인증반납일',
  'END_DATE': 'end_date',
  'ENG_CAR_GB': '건설기계/농업기계구분',
  'ENG_DRAWOUT_YN': '원동기동력 인출장치 장착여부',
  'EV_CTL_INSTALL': '전기제어장치 부착내용',
  'EVAP_BLOWBY': '증발가스 및 브로바이가스',
  'EVAP_BLOWBY_CT': '증발가스 및 브로바이가스첨부파일',
  'EVAP_EMIS_DEVT': '증발가스 개발목표치',
  'EVAP_EMIS_OP': '산술기호(1:덧셈 2:곱셈)',
  'FACT_SNO': '사업장',
  'FILE_ORIGIN1': '시설적합확인서',
  'FILE1': '첨부파일',
  'FORMAL_DEVT': '포름알데히드 개발목표치',
  'HC_DEVT': 'HC 개발목표치',
  'HC_DIV': 'HC 개발목표치',
  'HC_OP': '산술기호(1:덧셈 2:곱셈)',
  'HCNOX_DEVT': 'HCNOX 개발목표치',
  'HCNOX_OP': '산술기호(1:덧셈 2:곱셈)',
  'MAINT_WARRANT': '정비보증',
  'MAINT_WARRANT_CT': '첨부파일',
  'ME_OPINION_FILE1': '검토의견서 파일1',
  'ME_OPINION_FILE1_ORGNM': '검토의견서 파일1(원본파일명)',
  'ME_OPINION_FILE2': '검토의견서 파일2',
  'ME_OPINION_FILE2_ORGNM': '검토의견서 파일2(원본파일명)',
  'ME_OPINION_FILE3': '검토의견서 파일3',
  'ME_OPINION_FILE3_ORGNM': '검토의견서 파일3(원본파일명)',
  'ME_OPINION_NOTE': '검토의견서 내용',
  'ME_OPINION_TITLE': '검토의견서 제목',
  'ME_RECEIVE_STATE': '환경부 접수 코드(공통코드:21)',
  'ME_REFERRAL_RCV_SNO': '검토의뢰서 접수번호(검토의뢰서 접수번호)',
  'ME_REFERRAL_SEND_SNO': '검토의뢰서 번호(검토의뢰서 제출번호)',
  'MGR_ID1': '결재연구관',
  'MGR_ID2': '결재연구사',
  'MOD_DATETIME': '수정일시',
  'MOD_ID': '수정아이디',
  'MODIFY_YN': 'modify_yn',
  'NATION': '제작국가',
  'NOISE_CANCEL_DATE': '소음 인증서 취소 날짜',
  'NOISE_CERTI_CD': '소음인증코드',
  'NOISE_CERTI_DATE': '소음인증일',
  'NOISE_CERTI_NO': '소음인증번호',
  'NOISE_CERTI_SNO': '소음인증번호',
  'NOISE_CTL_INSTALL': '소음 방지장치 부착내용',
  'NOISE_NOTE': '소음허용기준',
  'NOISE_OMIT_NO': '소음 인증생략번호',
  'NOISE_RED_DOC': '자동차 소음저감에 관한 서류',
  'NOISE_RED_DOC_CT': '자동차 소음저감에 관한 서류첨부파일',
  'NOISE_STD_NOTE': '소음기준정보',
  'NOISE_TEST_EF_SNO': '소음시험 동일차종 일련번호',
  'NOISE_VEH_CLASS': '소음 차종',
  'NOISE_WITHD_DATE': '소음인증반납일',
  'NOX_DEVT': 'NOx 개발목표치',
  'NOX_OP': '산술기호(1:덧셈 2:곱셈)',
  'OBD_TEST_YN': 'OBD 시험여부',
  'OBD_VEH_CLASS': 'obd_veh_class',
  'OFFICE_CD': '업체코드',
  'OFFICER_ID': '담당자 ID',
  'OLD_VEH_ID_NO': 'OLD_원동기코드',
  'OLDCERTI': '과거자료여부',
  'OMIT_CNT': '인증생략 가능수',
  'OMIT_REASON': '인증생략근거',
  'PAY_TAX': 'pay_tax',
  'PERSON_NO': 'person_no',
  'PM_DEVT': 'PM 개발목표치',
  'PM_OP': '산술기호(1:덧셈 2:곱셈)',
  'PROC_STATE': '인증처리상태',
  'PRODUCTION': '제작사(한글)',
  'PRODUCTION_E': '제작사(영문)',
  'RCV_SEQ': 'RCV순번',
  'RECEIVE_STATE': '반영 전 데이타',
  'RECT_DATE': '접수일',
  'REG_DATETIME': '등록일시',
  'REG_ID': '등록아이디',
  'REG2_YN': '재신청여부',
  'SEL_CONT': '비고(한글)',
  'SEL_CONT_E': '비고(영문)',
  'SELF_TEST': '시설확인유무',
  'SIMIL_ADMIN_NO': '인증생략신청서',
  'SMOKE_DEVT': '매연 개발목표치',
  'SMOKE_OP': '산술기호(1:덧셈 2:곱셈)',
  'SNOTE': '취소반납사유',
  'SNOTE2': '소음 인증서 반납/취소 사유',
  'TC_NO': '고유번호',
  'TC_TYPE': '1:기본인증,2:변경인증',
  'TEST_FUEL': '인증시험 연료',
  'TEST_FUEL_CT': '인증시험 연료첨부파일',
  'TEST_PROC': '시험절차',
  'TEST_PROC_CT': '시험절차 첨부파일 ',
  'TONG_DATE': '통관일',
  'TONG_NUM': '통관대수',
  'TRECOGREP': '비정기정비',
  'TREGREP': '정기정비',
  'USER_ID': '사용자아이디',
  'VEH_ID_NO': '원동기코드'},
 'UNI_FC_TEEMISSN': {'ADM_NO': '관리번호',
  'CERTI_MODI_SNO': '인증일련번호',
  'FUEL': '사용연료코드',
  'SEL_STAND': '적용기준',
  'F_STAND': '외국기준',
  'GU_TERM': '보증기간',
  'TEST_DIV': '시험구분',
  'TEST_METHOD_CHK': '시험방법체크값',
  'COL': '대표적용기술',
  'REG_ID': '등록아이디',
  'REG_DATETIME': '등록일시',
  'MOD_ID': '수정아이디',
  'MOD_DATETIME': '수정일시',
  'LEV_CRTR_CD': '저배출차량 기준 코드',
  'TBL_PK_SEQ_ID': nan},
 'UNI_FC_TEEMISSN_ENG_RES': {'ADM_NO': '관리번호',
  'CERTI_MODI_SNO': '인증일련번호',
  'TEST_RST_SNO': '시험결과일련번호',
  'TEST_RST_CODE': '시험결과구분코드(차량별시험결과=00,종합결과=99)',
  'TEST_MOD': '시험모드(CVS-75,Highway,US06,SC03,Cold CO...)',
  'ENG_NO': '시험원동기형식',
  'MAX_PWR_KW': '최대출력kW',
  'MAX_PWR_RPM': '최대출력RPM',
  'COOLANT_OUTLET_TEMP': '최대출력 시 냉각수 출구온도',
  'ITCL_TEMP': '최대출력 시 인터쿨러 전단온도',
  'EXH_SUB_PRESS': '최대출력 시 흡기 부압',
  'EXH_BACK_PRESS': '최대출력 시 흡기배압',
  'TEST_NO': '시험번호',
  'TEST_DATE': '시험일자',
  'ENG_TYPE': '시험원동기형식',
  'ENG_ID_NO': '대표원동기명(원동기코드)',
  'IDLE_RPM': '공회전수',
  'ENG_DISPL': '총배기량',
  'MAX_TORQ': '최대토크kgf또는Nm',
  'MAX_TORQ_RPM': '최대토크RPM',
  'MAX_PWR_COOLANT_OUTLET_TEMP': '최대출력 시 냉각수 출구온도',
  'MAX_PWR_ITCL_TEMP': '최대출력 시 인터쿨러 전단온도',
  'MAX_PWR_EXH_TEMP': '최대출력 시 흡기온도',
  'MAX_PWR_EXH_SUB_PRESS': '최대출력 시 흡기 부압',
  'MAX_PWR_EXH_BACK_PRESS': 'MAX_PWR_EXH_BACK_PRESS',
  'MAX_INTAKE_TEMP': 'MAX_INTAKE_TEMP',
  'TEST_RPM': '회전수(rpm)',
  'TEST_PWR_KW': '출력(KW)',
  'TEST_LOAD': '부하(kgm)',
  'AIR_FLOW': '습공기유량(kg/h)',
  'FUEL_FLOW': '연료유량(kg/h)',
  'CO_RST_PPM': 'CO측정값(ppm)',
  'NMHC_RST_PPM': 'NMHC측정값(ppm)',
  'NOX_RST_PPM': 'Nox측정값(ppm)',
  'KW_WET_CONV_COEF': 'Kw습식전환계수',
  'KNOX_REV_COEF': 'Knox보정계수',
  'WF_ADDTO_COEF': 'WF가중계수',
  'CO_RST_VAL': 'CO시험결과',
  'NMHC_RST_VAL': 'NMHC시험결과',
  'CH4_RST_VAL': 'CH4시험결과',
  'NOX_RST_VAL': 'Nox시험결과',
  'CO2_RST_VAL': 'CO2시험결과',
  'MILEAGE_RST_VAL': '연비시험결과',
  'PM_RST_VAL': 'PM시험결과',
  'CO_RST_VAL2': 'CO시험결과2',
  'NMHC_RST_VAL2': 'NMHC시험결과2',
  'CH4_RST_VAL2': 'CH4시험결과2',
  'NOX_RST_VAL2': 'Nox시험결과2',
  'CO2_RST_VAL2': 'CO2시험결과2',
  'MILEAGE_RST_VAL2': '연비시험결과2',
  'PM_RST_VAL2': 'PM시험결과2',
  'CO_FINAL_RST': 'CO최종시험결과',
  'NMHC_FINAL_RST': 'NMHC최종시험결과',
  'CH4_FINAL_RST': 'CH4최종시험결과',
  'NOX_FINAL_RST': 'Nox최종시험결과',
  'CO2_FINAL_RST': 'CO2최종시험결과',
  'MILEAGE_FINAL_RST': '연비최종시험결과',
  'PM_FINAL_RST': 'PM최종시험결과',
  'CO_DF_RST': 'CO열화계수',
  'NMHC_DF_RST': 'NMHC열화계수',
  'CH4_DF_RST': 'CH4열화계수',
  'NOX_DF_RST': 'Nox열화계수',
  'CO2_DF_RST': 'CO2열화계수',
  'MILEAGE_DF_RST': '연비열화계수',
  'PM_DF_RST': 'PM열화계수',
  'CO_KI_RST': 'CO주기적재생지수',
  'NMHC_KI_RST': 'NMHC주기적재생지수',
  'CH4_KI_RST': 'CH4주기적재생지수',
  'NOX_KI_RST': 'Nox주기적재생지수',
  'CO2_KI_RST': 'CO2주기적재생지수',
  'MILEAGE_KI_RST': '연비주기적재생지수',
  'PM_KI_RST': 'PM주기적재생지수',
  'CO_ST_PERMSS': 'CO기준치',
  'NMHC_ST_PERMSS': 'NMHC기준치',
  'CH4_ST_PERMSS': 'CH4기준치',
  'NOX_ST_PERMSS': 'Nox기준치',
  'CO2_ST_PERMSS': 'CO2기준치',
  'MILEAGE_ST_PERMSS': '연비기준치',
  'PM_ST_PERMSS': 'PM기준치',
  'REG_DATETIME': '등록일시',
  'REG_ID': '등록아이디',
  'MOD_DATETIME': '수정일시',
  'MOD_ID': '수정아이디',
  'PN_RST_VAL': 'PN시험결과',
  'PN_RST_VAL2': 'PN시험결과2',
  'PN_FINAL_RST': 'PN최종시험결과',
  'PN_DF_RST': 'PN열화계수',
  'PN_KI_RST': 'PN주기적재생지수',
  'PN_ST_PERMSS': 'PN기준치',
  'NMHCNOX_RST_VAL': 'NMHC+Nox시험결과',
  'NMHCNOX_KI_RST': 'NMHC+Nox주기적재생지수',
  'NMHCNOX_DF_RST': 'NMHC+Nox열화계수',
  'NMHCNOX_FINAL_RST': 'NMHC+Nox최종시험결과',
  'NMHCNOX_ST_PERMSS': 'NMHC+Nox기준치',
  'NMHCNOX_RST_VAL2': 'NMHC+Nox시험결과2',
  'NH3_RST_VAL2': 'NH3시험결과2',
  'NH3_FINAL_RST': 'NH3최종시험결과',
  'NH3_DF_RST': 'NH3열화계수',
  'NH3_KI_RST': 'NH3주기적재생지수',
  'NH3_ST_PERMSS': 'NH3기준치',
  'NH3_RST_VAL': 'NH3시험결과'},
 'UNI_FC_TESTINFO': {'ADM_NO': '관리번호',
  'AVRG_LOADQTY': '평균 부하량',
  'CERTI_MODI_SNO': '인증일련번호',
  'CHR_LLMT_SOC': '축전지_하한_충전상태',
  'CHR_UPLMT_SOC': '축전지_상한_충전상태',
  'EF_SNO': '동일차종일련번호',
  'ELECMOT_MAX_EFFICIENCY': '전동기_최대_효율',
  'ELECMOT_MAX_SPEED_RPM': '전동기_최대_속도_분당회전수',
  'ELECMOT_RATED_SPEED_RPM': '전동기_정격_속도_분당회전수',
  'ELEC_INFO1': '사용안함-(전기차)대표적용기술(전기차제어장치부착내용)',
  'ELEC_INFO1_TXT': '사용안함-전기차정보기재',
  'ELEC_SPEC_CHR_OUTPUT': '전기차-제원_축전지_출력밀도',
  'ELEC_SPEC_CHR_RATED_VOLT': '전기차-제원_축전지_정격전압',
  'ELEC_SPEC_CHR_STOABLE': '전기차-제원_축전지_저장가능전력',
  'ELEC_SPEC_CHR_TYPE': '전기차-제원_축전지_종류',
  'ELEC_SPEC_CHR_USEABLE': '전기차-제원_축전지_이용가능전력',
  'ELEC_SPEC_CHR_VOL': '전기차-제원_축전지_용량',
  'ELEC_SPEC_CVT_MAX_OUTPUT': '전기차-제원_컨버터_최대출력전류',
  'ELEC_SPEC_CVT_TYPE': '전기차-제원_컨버터_종류',
  'ELEC_SPEC_ELECMOT_TYPE': '전기차-제원_전동기_종류',
  'ELEC_SPEC_IVT_MAX_ELEC': '전기차-제원_인버터_최대전류',
  'ELEC_SPEC_IVT_TYPE': '전기차-제원_인버터_종류',
  'ELEC_SPEC_MAX_OUTPUT1': '전기차-제원_최대출력1',
  'ELEC_SPEC_MAX_OUTPUT2': '전기차-제원_최대출력2',
  'ELEC_SPEC_MAX_TORQUE': '전기차-제원_최대토크',
  'ELEC_SPEC_RATED_VOLT': '전기차-제원_정격전압',
  'ELEC_TECH': '사용안함-전기차:대표적용기술',
  'ELEC_WARR_ACCUMU': '전기차-주요부품 보증기간(축전지)',
  'ELEC_WARR_CHARGER': '전기차-주요부품 보증기간(충전기)',
  'ELEC_WARR_ELECMOT': '전기차-주요부품 보증기간(전동기)',
  'ELEC_WARR_GENERATOR': '전기차-주요부품 보증기간(제너레이터)',
  'HVAC_PWRER_QY': 'Heating, Ventilation, Air Conditioning_전력_량',
  'INFO1': '대표적용기술',
  'INFO2': '배출가스 방지장치 부착내용',
  'INFO3': '소음 방지장치 부착내용',
  'INFO4': '시험기본정보',
  'LOWTMP_POWER_LOAD_COEF1': '저온_동력_부하_계수1',
  'LOWTMP_POWER_LOAD_COEF2': '저온_동력_부하_계수2',
  'LOWTMP_POWER_LOAD_COEF3': '저온_동력_부하_계수3',
  'LOWTMP_ROAD_INTAKE_COEF1': '저온_도로_흡입_계수1',
  'LOWTMP_ROAD_INTAKE_COEF2': '저온_도로_흡입_계수2',
  'LOWTMP_ROAD_INTAKE_COEF3': '저온_도로_흡입_계수3',
  'MOD_DATETIME': '수정일시',
  'MOD_ID': '수정아이디',
  'PTC_HEATER_PWRER_QY': 'Positive Temperature Coefficient_히터_전력_량',
  'REG_DATETIME': '등록일시',
  'REG_ID': '등록아이디',
  'TC_TYPE': '적용기준(기본/변경)',
  'FCEV_WARR_FUELCELL': '수소전기차-주요부품 보증기간(연료전지)',
  'FCEV_WARR_ACCUMU': '수소전기차-주요부품 보증기간(축전지)',
  'FCEV_WARR_ELECMOT': '수소전기차-주요부품 보증기간(전동기)',
  'FCEV_WARR_INVERTER': '수소전기차-주요부품 보증기간(인버터)',
  'FCEV_WARR_CONVERTER': '수소전기차-주요부품 보증기간(컨버터)',
  'FCEV_WARR_FUELTANKVALVE': '수소전기차-주요부품 보증기간(연료탱크밸브)',
  'FCEV_WARR_FUELPRESS_ETC': '수소전기차-주요부품 보증기간(연료압력조절기등)',
  'FCEV_SPEC_FUELCELL_TYPE': '수소전기차-제원_연료전지_종류',
  'FCEV_SPEC_FUELCELL_MAX_CAPA': '수소전기차-제원_연료전지_최대용량',
  'FCEV_SPEC_FUELCELL_RATED_VOLT': '수소전기차-제원_연료전지_정격전압',
  'FCEV_SPEC_FUELCELL_MAX_OUT': '수소전기차-제원_연료전지_최대출력',

In [192]:
name = 'UNI_FC_KIENGTEST_RES'
ct01 = construct_machine_certification_data_load(name)
ct01.info()

c:\Users\kbjung\anaconda3\Lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2740 entries, 0 to 2739
Data columns (total 20 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   ADM_NO            2740 non-null   int64
 1   CERTI_MODI_SNO    2740 non-null   int64
 2   P_ENG_YN          2704 non-null   float64
 3   SEL_ADM_NO        30 non-null     float64
 4   TEST_METHOD_CHK   2740 non-null   object
 5   TEST_MOD          2740 non-null   int64
 6   TEST_RST_SNO      2740 non-null   int64
 7   TEST_RST_SNO_SEQ  2740 non-null   int64
 8   FUEL              0 non-null      float64
 9   CO                953 non-null    float64
 10  NMHC              924 non-null    float64
 11  NOX               943 non-null    float64
 12  PM                943 non-null    float64
 13  REG_ID            2740 non-null   object
 14  REG_DATETIME      2740 non-null   object
 15  MOD_ID            162 non-null    object
 16  MOD_DATETIME      162 non-null    object
 17  NMHCNOX           209 non-null    float64
 18  PN                833 non-null    float64
 19  NH3               86 non-null     float64
dtypes: float64(10), int64(5), object(5)
memory usage: 428.3+ KB

In [187]:
cols_dict[name]

{'ADM_NO': '관리번호',
 'CERTI_MODI_SNO': '변경인증일련번호',
 'EF_SNO': '동일차종일련번호',
 'ENG_DISPL': '배기량',
 'ENG_ID_NO': '대표원동기명(원동기코드)',
 'ENG_SNO': '원동기장착일련번호',
 'ENG_TYPE': '엔진형식',
 'ETC': '기타 정보',
 'MAX_PWR_KW': '최대출력kW',
 'MAX_PWR_RPM': '최대출력 회전수',
 'MOD_DATETIME': '수정일시',
 'MOD_ID': '수정아이디',
 'MODI_REF_EF_SNO': '변경부모동일원동기번호',
 'REG_DATETIME': '등록일시',
 'REG_ID': '등록아이디',
 'VEH_IN_COM': '수입사',
 'VEH_MAKER': '제작사',
 'VEH_NM': '차명',
 'VEH_PRE_NM': '건설(농)기계 수입사 대표자 성명',
 'VEH_TYPE': '자동차형식',
 'VEH_TYPE_YN': '인증서 표출 여부'}

In [190]:
cols_df = pd.DataFrame({'컬럼명':cols_dict[name].keys(), '컬럼설명':cols_dict[name].values()})
cols_df

                컬럼명                컬럼설명
0            ADM_NO                관리번호
1    CERTI_MODI_SNO            변경인증일련번호
2            EF_SNO            동일차종일련번호
3         ENG_DISPL                 배기량
4         ENG_ID_NO       대표원동기명(원동기코드)
5           ENG_SNO           원동기장착일련번호
6          ENG_TYPE                엔진형식
7               ETC               기타 정보
8        MAX_PWR_KW              최대출력kW
9       MAX_PWR_RPM            최대출력 회전수
10     MOD_DATETIME                수정일시
11           MOD_ID               수정아이디
12  MODI_REF_EF_SNO         변경부모동일원동기번호
13     REG_DATETIME                등록일시
14           REG_ID               등록아이디
15       VEH_IN_COM                 수입사
16        VEH_MAKER                 제작사
17           VEH_NM                  차명
18       VEH_PRE_NM  건설(농)기계 수입사 대표자 성명
19         VEH_TYPE               자동차형식
20      VEH_TYPE_YN           인증서 표출 여부

In [191]:
temp = ct01.isnull().sum().reset_index().rename(columns={'index':'컬럼명', 0:'빈 값 개수'})
temp['총 행수'] = ct01.shape[0]
temp.insert(0, '번호', [x for x in range(1, temp.shape[0] + 1)])
ttemp = temp.merge(cols_df, on='컬럼명', how='left')
ttemp = ttemp[['번호', '컬럼명', '컬럼설명', '빈 값 개수', '총 행수']]
ttemp

    번호              컬럼명                컬럼설명  빈 값 개수  총 행수
0    1          ENG_SNO           원동기장착일련번호       0  9521
1    2           ADM_NO                관리번호       0  9521
2    3   CERTI_MODI_SNO            변경인증일련번호       0  9521
3    4           EF_SNO            동일차종일련번호       0  9521
4    5         ENG_TYPE                엔진형식    9516  9521
5    6        ENG_ID_NO       대표원동기명(원동기코드)    9516  9521
6    7       MAX_PWR_KW              최대출력kW    9516  9521
7    8      MAX_PWR_RPM            최대출력 회전수    9516  9521
8    9        ENG_DISPL                 배기량    9516  9521
9   10       VEH_IN_COM                 수입사     240  9521
10  11       VEH_PRE_NM  건설(농)기계 수입사 대표자 성명     242  9521
11  12           VEH_NM                  차명     234  9521
12  13        VEH_MAKER                 제작사     230  9521
13  14         VEH_TYPE               자동차형식     231  9521
14  15              ETC               기타 정보    9463  9521
15  16     REG_DATETIME                등록일시       0  9521
16  17           REG_ID               등록아이디    6535  9521
17  18     MOD_DATETIME                수정일시    5990  9521
18  19           MOD_ID               수정아이디    6011  9521
19  20  MODI_REF_EF_SNO         변경부모동일원동기번호    9521  9521
20  21      VEH_TYPE_YN           인증서 표출 여부    9450  9521

In [195]:
today_date = datetime.today().strftime('%Y.%m.%d')
today_date

'2023.10.31'

#### 컬럼, 데이터 정보들 출력

In [201]:
# 41.2s
with pd.ExcelWriter(os.path.join(an2_fold, f'건설기계_인증자료_데이터정보({today_date}).xlsx')) as writer:
    for i, name in enumerate(name_list):
        cols_df = pd.DataFrame({'컬럼명':cols_dict[name].keys(), '컬럼설명':cols_dict[name].values()})
        ct = construct_machine_certification_data_load(name)
        temp = ct.isnull().sum().reset_index().rename(columns={'index':'컬럼명', 0:'빈 값 개수'})
        temp['총 행수'] = ct.shape[0]
        temp.insert(0, '번호', [x for x in range(1, temp.shape[0] + 1)])
        ttemp = temp.merge(cols_df, on='컬럼명', how='left')
        ttemp = ttemp[['번호', '컬럼명', '컬럼설명', '빈 값 개수', '총 행수']]
        ttemp.to_excel(writer, sheet_name=f'{i+1}. {name}', index=False)

In [202]:
name_list

['UNI_FC_TCMASTER',
 'UNI_FC_TCERTIMODI',
 'UNI_FC_ENG_TEFSPEC',
 'UNI_FC_TEEMISSN',
 'UNI_FC_TEEMISSN_ENG_RES',
 'UNI_FC_TESTINFO',
 'UNI_FC_ENG_LIST',
 'UNI_FC_ENDUENG_EMI',
 'UNI_FC_ENDUENGTEST',
 'UNI_FC_ENDUENGTEST_RES',
 'UNI_FC_KIENGTEST',
 'UNI_FC_KIENGTEST_RES']

### 1\. UNI_FC_TCMASTER

In [592]:
name01 = name_list[0]
name01

'UNI_FC_TCMASTER'

In [593]:
# 1.3s
ct01 = construct_machine_certification_data_load(name01)
ct01.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 624 entries, 0 to 623
Columns: 159 entries, ADM_NO to NOISE_STD_NOTE
dtypes: datetime64[ns](1), float64(127), int64(2), object(29)
memory usage: 775.3+ KB

In [594]:
# CERTI_DIV(인증구분) : 1, 2
# EMIS_CERTI_NO(배출가스인증번호) : 00EN*AA*00 형식(숫자, 영문, 특수문자 혼합 10자리)
# EMIS_VEH_CLASS(배출가스 차종) : CE
# CERTI_STATE 처분내용 : nan, '90', 'C0', '10', '42', '46', '41'
# RECEIVE_STATE 반영 전 데이타 : nan,  0.
# NATION 제작국가 : nan, 'SW', 'US', 'KR', 'JP', 'GM', 'IT', 'FN', 'UK', 'CN', 'FR', 'SP', 'SU', 'ID'
# SELF_TEST 시설확인유무 : nan, 'Y', 'N'
# EMIS_CERTI_SNO 배출가스인증번호 : nan,  1.,  2.,  7.,  3.,  5., 12., 13.,  4.,  6., 10.,  8., 11., 9.
# OFFICE_CD 업체코드 : 'DDDC', 'VVIC', 'HIIC', 'KJDC', 'SSIC', 'DSDC', 'HDDC', 'WYIC', 'SJIC', 'ASIC', 'DPIC', 'LSIC', 'KBIC', 'CMIC', 'WTIC', 'MEIC', 'WJIC', 'HCDC', 'TMIC', 'LHIC', 'MXIC', 'HWDC', 'SCIC', 'EXAN', 'RADC', 'TYDC'
# OLDCERTI 과거자료여부 : nan, 'Y'
# REG2_YN 재신청여부 : nan, 'N'
# SNOTE 취소반납사유 : nan, '권리 및 의무 승계', '권리 및 의무 승계 신고', '권리 및 의무 신고에 따른 인증서 재교부'
# EF_CNT 동일차량 대수 : nan,  5.,  2.,  1.,  6.,  4.,  3., 22.,  9.,  0., 31.,  8., 14., 23.,  7., 15., 16., 11., 51., 13., 17., 10., 18.
# ELEC_CAR_GB 전기차 구분 ( N:일반,E:전기차(사용안함),H:하이브리드(사용안함), C:친환경차 ) : nan, 'N'
# CONF_ISSUE_NO 발급문서번호 : nan,  821.,  941.,  901., 1141., 1022., 1122.,  822.
# APPROVAL_YN 결재여부 : 'N', 'Y'
# ENG_CAR_GB 건설기계/농업기계구분 : nan, 'C', 'A', 'CA'

In [597]:
col01 = 'CERTI_DIV'
print(cols_dict[name01][col01])
set(ct01[col01].unique())

인증구분

{1, 2}

### 2\. UNI_FC_TCERTIMODI

In [598]:
name02 = name_list[1]
name02

'UNI_FC_TCERTIMODI'

In [599]:
# 5.0s
ct02 = construct_machine_certification_data_load(name02)
ct02.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2830 entries, 0 to 2829
Data columns (total 91 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   CERTI_MODI_SNO        2830 non-null   int64
 1   REG_DATETIME          2830 non-null   object
 2   CERTI_MODI_DIV        2375 non-null   float64
 3   EMIS_NOISE_DIV        2670 non-null   float64
 4   EMIS_MODI_ITEM        0 non-null      float64
 5   NOISE_MODI_ITEM       0 non-null      float64
 6   EMIS_MODI_REASON      2346 non-null   object
 7   NOISE_MODI_REASON     0 non-null      float64
 8   MODI_ITEM_ETC         0 non-null      float64
 9   RECT_DATE             2828 non-null   object
 10  APPLI_ID              2670 non-null   object
 11  OFFICER_ID            0 non-null      float64
 12  MODI_EXPLAIN          0 non-null      float64
 13  EMIS_CHG_EXAM         0 non-null      float64
 14  NOISE_CHG_EXAM        0 non-null      float64
 15  MODIF_PROC_STATE      1054 non-null   float64
 16  CERTI_STATE           2576 non-null   object
 17  RECEIVE_STATE         1054 non-null   float64
 18  CO_STD                0 non-null      float64
 19  NOX_STD               0 non-null      float64
 20  HC_STD                0 non-null      float64
 21  HCNOX_STD             0 non-null      float64
 22  EVAP_EMIS_STD         0 non-null      float64
 23  PM_STD                0 non-null      float64
 24  COLD_CO_STD           0 non-null      float64
 25  SMOKE_STD             0 non-null      float64
 26  FORMAL_STD            0 non-null      float64
 27  IDLE_CO_STD           0 non-null      float64
 28  HC_PPM_STD            0 non-null      float64
 29  MODI_EXPLAIN_CT       0 non-null      float64
 30  EMIS_CHG_EXAM_CT      0 non-null      float64
 31  NOISE_CHG_EXAM_CT     0 non-null      float64
 32  ACCEL_NOISE_STD       0 non-null      float64
 33  EXH_NOISE_STD         0 non-null      float64
 34  HORN_NOISE_STD        0 non-null      float64
 35  TEST_NO               0 non-null      float64
 36  EMIS_CERTI_DATE       2632 non-null   object
 37  NOISE_CERTI_DATE      0 non-null      float64
 38  MODI_TITLE            0 non-null      float64
 39  MODI_DESC             0 non-null      float64
 40  CERTI_STD             0 non-null      float64
 41  CERTI_STD_DATE        0 non-null      float64
 42  EMIS_WITHD_DATE       117 non-null    object
 43  NOISE_WITHD_DATE      0 non-null      float64
 44  ADM_NO                2830 non-null   int64
 45  OLDCERTI              619 non-null    object
 46  CERTI_SNO             1052 non-null   float64
 47  CR_CO                 0 non-null      float64
 48  CR_CO2                0 non-null      float64
 49  CR_COLD_CO            0 non-null      float64
 50  CR_EVAP_EMIS          0 non-null      float64
 51  CR_HC                 0 non-null      float64
 52  CR_HCNOX              0 non-null      float64
 53  CR_MILEAGE            0 non-null      float64
 54  CR_NOX                0 non-null      float64
 55  CR_PM                 0 non-null      float64
 56  CR_PN                 0 non-null      float64
 57  MILEAGE_STD           0 non-null      float64
 58  PN_STD                0 non-null      float64
 59  TC_NO                 0 non-null      float64
 60  OPINION_NOTE          799 non-null    object
 61  BOWAN_NOTE            0 non-null      float64
 62  CTEST_NOTE            0 non-null      float64
 63  EMIS_DOC              1032 non-null   float64
 64  NOISE_DOC             0 non-null      float64
 65  CERTI_DIV             2670 non-null   float64
 66  APPROVAL_YN           2830 non-null   object
 67  MGR_ID1               1016 non-null   object
 68  MGR_ID2               94 non-null     object
 69  APPREGI_DATE          1016 non-null   datetime64[ns]
 70  MAKE_MTRL_NO          1216 non-null   float64
 71  EMIS_CANCEL_DATE      0 non-null      float64
 72  NOISE_CANCEL_DATE     0 non-null      float64
 73  SNOTE                 0 non-null      float64
 74  SNOTE2                0 non-null      float64
 75  REG_ID                1109 non-null   object
 76  MOD_ID                913 non-null    object
 77  MOD_DATETIME          1299 non-null   object
 78  STANDARD_SLT          542 non-null    float64
 79  STANDARD_SLT2         113 non-null    float64
 80  ETC_TXT1              1776 non-null   object
 81  IDX                   1616 non-null   float64
 82  ETC_TXT3              1776 non-null   object
 83  ETC_TXT4              1743 non-null   object
 84  EMIS_ROWS_CODE        1075 non-null   object
 85  EMIS_LOWS             73 non-null     object
 86  PHP_CERTY_TYPE        1616 non-null   float64
 87  PHP_REP_TYPE          1616 non-null   float64
 88  PHP_CERTI_STATE       1616 non-null   float64
 89  OLD_EMIS_CERTI_DATE   0 non-null      float64
 90  OLD_NOISE_CERTI_DATE  0 non-null      float64
dtypes: datetime64[ns](1), float64(68), int64(2), object(20)
memory usage: 2.0+ MB

In [600]:
# CERTI_MODI_SNO 변경인증일련번호 : 0 ~ 77
# CERTI_MODI_DIV 변경구분(1:변경인증, 2:변경보고) : 1.,  2., nan
# EMIS_NOISE_DIV 배출소음구분(1:배출 2:소음 3:배출+소음) : 1., nan
# MODIF_PROC_STATE 변경인증 진행상태 : nan, 0.0
# CERTI_STATE 인증진행상태 : nan, '10', '20', '30', '42', '46', '90', 'C', 'C0', 'C2'
# OLDCERTI 과거자료여부 : nan, 'N', 'Y'
# CERTI_SNO TCERTIMODI의IDX : nan, 1.0 ~ 48.0
# EMIS_DOC 배출가스인증서교부 공문 내용 : 1.0, nan
# CERTI_DIV 인증구분(1:국내,2:수입) : 1.0, 2.0, nan
# APPROVAL_YN 결재여부 : 'N', 'Y'
# MAKE_MTRL_NO 인증신청 작성자료번호 : 1.0, 3.0, 4.0, 5.0, 6.0, nan
# STANDARD_SLT 배출허용기준 : nan, 1.0, 2.0, 3.0, 4.0, 6.0, 7.0, 8.0, 9.0, 10.0
# STANDARD_SLT2 배출허용기준2 : nan, 1.0, 2.0, 3.0, 4.0, 6.0, 7.0, 8.0, 9.0, 10.0
# EMIS_ROWS_CODE 배출가스저감기술 : nan, '1', '1/2', '1/2/3', '1/2/3/4', '1/2/3/4/5', '1/2/4', '1/2/4/5', '1/3', '1/3/4', '1/3/4/5', '1/4', '1/4/5', '1/5', '2', '2/3/4', '2/4', '3/4', '5'
# EMIS_LOWS 배출가스저감기술코드 : nan, 'In-cylinder 방식', 'LNC', 'Turbocharger, Common rail', 'VGT, common rail', '연료장치, 터보챠저', '전자제어 연료분사 시스템', '전자제어 연료분사시스템', '전자제어장치,커먼레일', '커먼레일', '터보', '터보, 기계식', '터보차저', '터보차져'

In [601]:
col02 = 'CERTI_MODI_DIV'
print(cols_dict[name02][col02])
set(ct02[col02].unique())

변경구분(1:변경인증, 2:변경보고)

{1.0, 2.0, nan}

### 3\. UNI_FC_ENG_TEFSPEC

In [602]:
name03 = name_list[2]
name03

'UNI_FC_ENG_TEFSPEC'

In [603]:
# 16.1s
ct03 = construct_machine_certification_data_load(name03)
ct03.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8646 entries, 0 to 8645
Columns: 108 entries, ADM_NO to MAX_OUTT_POWER_UNIT
dtypes: float64(23), int64(3), object(82)
memory usage: 7.1+ MB

In [604]:
# CERTI_MODI_SNO 변경인증일련번호 : 0 ~ 77
# EF_SNO 동일원동기일련번호 : 0 ~ 256
# CYCLE 싸이클(행정) : nan, '4', '4cycle', '4사이클', '4행정', '5'
# COMB_TYPE 연소방식 : nan, 1.0, 2.0
# COOL_TYPE 냉각매체 : nan, 1.0
# CAT_TYPE 종류 : nan, 1.0, 2.0, 8.0, 9.0, 12.0, 15.0, 19.0, 20.0, 21.0, 22.0, 24.0, 99.0
# ENG_CAR_GB 건설기계/농업기계구분 : nan, 'A', 'C', 'CA'

In [605]:
col03 = 'ENG_CAR_GB'
print(cols_dict[name03][col03])
set(ct03[col03].unique())

건설기계/농업기계구분

{'A', 'C', 'CA', nan}

### 4\. UNI_FC_TEEMISSN

In [606]:
name04 = name_list[3]
name04

'UNI_FC_TEEMISSN'

In [607]:
# 0.3s
ct04 = construct_machine_certification_data_load(name04)
ct04.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1058 entries, 0 to 1057
Data columns (total 15 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   ADM_NO           1058 non-null   int64
 1   CERTI_MODI_SNO   1058 non-null   int64
 2   FUEL             882 non-null    object
 3   SEL_STAND        592 non-null    float64
 4   F_STAND          609 non-null    float64
 5   GU_TERM          577 non-null    float64
 6   TEST_DIV         0 non-null      float64
 7   TEST_METHOD_CHK  1053 non-null   object
 8   COL              0 non-null      float64
 9   REG_ID           1058 non-null   object
 10  REG_DATETIME     1058 non-null   object
 11  MOD_ID           538 non-null    object
 12  MOD_DATETIME     538 non-null    object
 13  TBL_PK_SEQ_ID    1058 non-null   int64
 14  LEV_CRTR_CD      0 non-null      float64
dtypes: float64(6), int64(3), object(6)
memory usage: 124.1+ KB

In [608]:
# CERTI_MODI_SNO 인증일련번호 : 0 ~ 70(빈 번호 존재)
# FUEL 사용연료코드 : nan, ‘D’
# SEL_STAND 적용기준 : nan, 3.0, 5.0, 6.0, 7.0, 8.0
# F_STAND 외국기준 : nan, 5.0, 6.0, 9.0, 10.0, 11.0

In [609]:
col04 = 'LEV_CRTR_CD'
print(cols_dict[name04][col04])
set(ct04[col04].unique())

저배출차량 기준 코드

{nan}

### 5\. UNI_FC_TEEMISSN_ENG_RES

In [610]:
name05 = name_list[4]
name05

'UNI_FC_TEEMISSN_ENG_RES'

In [611]:
# 6.4s
ct05 = construct_machine_certification_data_load(name05)
ct05.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2761 entries, 0 to 2760
Columns: 101 entries, ADM_NO to NH3_ST_PERMSS
dtypes: float64(77), int64(5), object(19)
memory usage: 2.1+ MB

In [ ]:
# CERTI_MODI_SNO 인증일련번호 : 0 ~ 35(빈 번호 존재)
# TEST_RST_CODE 시험결과구분코드(차량별시험결과=00,종합결과=99) : 0, 99
# TEST_MOD 시험모드(CVS-75,Highway,US06,SC03,Cold CO...) : 1, 2, 3, 99

In [614]:
col05 = 'TEST_MOD'
print(cols_dict[name05][col05])
set(ct05[col05].unique())

시험모드(CVS-75,Highway,US06,SC03,Cold CO...)

{1, 2, 3, 99}

### 6\. UNI_FC_TESTINFO

In [615]:
name06 = name_list[5]
name06

'UNI_FC_TESTINFO'

In [616]:
# 1.3s
ct06 = construct_machine_certification_data_load(name06)
ct06.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1044 entries, 0 to 1043
Data columns (total 67 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   ADM_NO                         1044 non-null   int64
 1   EF_SNO                         0 non-null      float64
 2   CERTI_MODI_SNO                 1044 non-null   int64
 3   INFO1                          177 non-null    object
 4   INFO2                          1044 non-null   object
 5   INFO3                          0 non-null      float64
 6   TC_TYPE                        1044 non-null   int64
 7   INFO4                          0 non-null      float64
 8   ELEC_INFO1                     0 non-null      float64
 9   ELEC_TECH                      0 non-null      float64
 10  ELEC_INFO1_TXT                 0 non-null      float64
 11  ELEC_WARR_ACCUMU               0 non-null      float64
 12  ELEC_WARR_CHARGER              0 non-null      float64
 13  ELEC_WARR_ELECMOT              0 non-null      float64
 14  ELEC_WARR_GENERATOR            0 non-null      float64
 15  ELEC_SPEC_ELECMOT_TYPE         0 non-null      float64
 16  ELEC_SPEC_MAX_OUTPUT1          0 non-null      float64
 17  ELEC_SPEC_MAX_OUTPUT2          0 non-null      float64
 18  ELEC_SPEC_RATED_VOLT           0 non-null      float64
 19  ELEC_SPEC_MAX_TORQUE           0 non-null      float64
 20  ELEC_SPEC_CHR_TYPE             0 non-null      float64
 21  ELEC_SPEC_CHR_RATED_VOLT       0 non-null      float64
 22  ELEC_SPEC_CHR_VOL              0 non-null      float64
 23  ELEC_SPEC_CHR_OUTPUT           0 non-null      float64
 24  ELEC_SPEC_CHR_STOABLE          0 non-null      float64
 25  ELEC_SPEC_CHR_USEABLE          0 non-null      float64
 26  ELEC_SPEC_IVT_TYPE             0 non-null      float64
 27  ELEC_SPEC_IVT_MAX_ELEC         0 non-null      float64
 28  ELEC_SPEC_CVT_TYPE             0 non-null      float64
 29  ELEC_SPEC_CVT_MAX_OUTPUT       0 non-null      float64
 30  REG_ID                         1044 non-null   object
 31  REG_DATETIME                   1044 non-null   object
 32  MOD_ID                         503 non-null    object
 33  MOD_DATETIME                   503 non-null    object
 34  FCEV_WARR_FUELCELL             0 non-null      float64
 35  FCEV_WARR_ACCUMU               0 non-null      float64
 36  FCEV_WARR_ELECMOT              0 non-null      float64
 37  FCEV_WARR_INVERTER             0 non-null      float64
 38  FCEV_WARR_CONVERTER            0 non-null      float64
 39  FCEV_WARR_FUELTANKVALVE        0 non-null      float64
 40  FCEV_WARR_FUELPRESS_ETC        0 non-null      float64
 41  FCEV_SPEC_FUELCELL_TYPE        0 non-null      float64
 42  FCEV_SPEC_FUELCELL_MAX_CAPA    0 non-null      float64
 43  FCEV_SPEC_FUELCELL_RATED_VOLT  0 non-null      float64
 44  FCEV_SPEC_FUELCELL_MAX_OUT     0 non-null      float64
 45  ELECMOT_RATED_SPEED_RPM        0 non-null      float64
 46  ELECMOT_MAX_SPEED_RPM          0 non-null      float64
 47  ELECMOT_MAX_EFFICIENCY         0 non-null      float64
 48  CHR_LLMT_SOC                   0 non-null      float64
 49  CHR_UPLMT_SOC                  0 non-null      float64
 50  AVRG_LOADQTY                   0 non-null      float64
 51  PTC_HEATER_PWRER_QY            0 non-null      float64
 52  HVAC_PWRER_QY                  0 non-null      float64
 53  RTEMP_MCT_RDIST                0 non-null      float64
 54  LOWTMP_MCT_RDIST               0 non-null      float64
 55  RTEMP_POWER_LOAD_COEF1         0 non-null      float64
 56  RTEMP_POWER_LOAD_COEF2         0 non-null      float64
 57  RTEMP_POWER_LOAD_COEF3         0 non-null      float64
 58  LOWTMP_POWER_LOAD_COEF1        0 non-null      float64
 59  LOWTMP_POWER_LOAD_COEF2        0 non-null      float64
 60  LOWTMP_POWER_LOAD_COEF3        0 non-null      float64
 61  RTEMP_ROAD_INTAKE_COEF1        0 non-null      float64
 62  RTEMP_ROAD_INTAKE_COEF2        0 non-null      float64
 63  RTEMP_ROAD_INTAKE_COEF3        0 non-null      float64
 64  LOWTMP_ROAD_INTAKE_COEF1       0 non-null      float64
 65  LOWTMP_ROAD_INTAKE_COEF2       0 non-null      float64
 66  LOWTMP_ROAD_INTAKE_COEF3       0 non-null      float64
dtypes: float64(58), int64(3), object(6)
memory usage: 546.6+ KB

In [617]:
# CERTI_MODI_SNO 인증일련번호 : 0 ~ 70(빈 번호 존재)
# TC_TYPE 적용기준(기본/변경) : 1

In [618]:
col06 = 'TC_TYPE'
print(cols_dict[name06][col06])
set(ct06[col06].unique())

적용기준(기본/변경)

{1}

### 7\. UNI_FC_ENG_LIST

In [619]:
name07 = name_list[6]
name07

'UNI_FC_ENG_LIST'

In [620]:
# 3.7s
ct07 = construct_machine_certification_data_load(name07)
ct07.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9521 entries, 0 to 9520
Data columns (total 21 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   ENG_SNO          9521 non-null   int64
 1   ADM_NO           9521 non-null   int64
 2   CERTI_MODI_SNO   9521 non-null   int64
 3   EF_SNO           9521 non-null   int64
 4   ENG_TYPE         5 non-null      object
 5   ENG_ID_NO        5 non-null      object
 6   MAX_PWR_KW       5 non-null      float64
 7   MAX_PWR_RPM      5 non-null      float64
 8   ENG_DISPL        5 non-null      float64
 9   VEH_IN_COM       9281 non-null   object
 10  VEH_PRE_NM       9279 non-null   object
 11  VEH_NM           9287 non-null   object
 12  VEH_MAKER        9291 non-null   object
 13  VEH_TYPE         9290 non-null   object
 14  ETC              58 non-null     object
 15  REG_DATETIME     9521 non-null   object
 16  REG_ID           2986 non-null   object
 17  MOD_DATETIME     3531 non-null   object
 18  MOD_ID           3510 non-null   object
 19  MODI_REF_EF_SNO  0 non-null      float64
 20  VEH_TYPE_YN      71 non-null     object
dtypes: float64(4), int64(4), object(13)
memory usage: 1.5+ MB

In [621]:
# ENG_SNO 원동기장착일련번호 : 0 ~ 21
# CERTI_MODI_SNO 변경인증일련번호 : 0 ~ 77
# EF_SNO 동일차종일련번호 : 0 ~ 256
# ENG_ID_NO 대표원동기명(원동기코드) : nan, 'CFYI520/CFYI520U', 'F5GFL414J*B', 'F5HFL464A*F',
# VEH_TYPE_YN 인증서 표출 여부 : nan, 'Y'

In [622]:
col07 = 'VEH_TYPE_YN'
print(cols_dict[name07][col07])
set(ct07[col07].unique())

인증서 표출 여부

{'Y', nan}

### 8\. UNI_FC_ENDUENG_EMI

In [623]:
name08 = name_list[7]
name08

'UNI_FC_ENDUENG_EMI'

In [624]:
# 0.2s
ct08 = construct_machine_certification_data_load(name08)
ct08.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 411 entries, 0 to 410
Data columns (total 19 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   ADM_NO           411 non-null    int64
 1   CERTI_MODI_SNO   411 non-null    int64
 2   TEST_METHOD_CHK  411 non-null    object
 3   TEST_MOD         411 non-null    int64
 4   TEST_RST_SNO     411 non-null    int64
 5   NOX_GRAD         167 non-null    float64
 6   NMHC_GRAD        153 non-null    float64
 7   CO_GRAD          163 non-null    float64
 8   PM_GRAD          166 non-null    float64
 9   NOX_YITCT        166 non-null    float64
 10  NMHC_YITCT       153 non-null    float64
 11  CO_YITCT         165 non-null    float64
 12  PM_YITCT         165 non-null    float64
 13  REG_ID           411 non-null    object
 14  REG_DATETIME     375 non-null    object
 15  MOD_ID           57 non-null     object
 16  MOD_DATETIME     21 non-null     object
 17  PN_GRAD          52 non-null     float64
 18  PN_YITCT         52 non-null     float64
dtypes: float64(10), int64(4), object(5)
memory usage: 61.1+ KB

In [625]:
# CERTI_MODI_SNO 변경인증일련번호 : 0 ~ 22(빈 번호 존재)
# TEST_METHOD_CHK 시험방법체크값 : 'NNNN', 'NNNY', 'NNYN', 'NNYY', 'NYNN', 'NYYN', 'YNNN', 'YNYN', 'YYYY'
# TEST_MOD 배출가스시험모드 : 1, 3, 4
# TEST_RST_SNO 시험결과일련번호 : 1

In [627]:
col08 = 'TEST_RST_SNO'
print(cols_dict[name08][col08])
set(ct08[col08].unique())

시험결과일련번호

{1}

### 9\. UNI_FC_ENDUENGTEST

In [628]:
name09 = name_list[8]
name09

'UNI_FC_ENDUENGTEST'

In [629]:
# 0.1s
ct09 = construct_machine_certification_data_load(name09)
ct09.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 430 entries, 0 to 429
Data columns (total 12 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   ADM_NO          430 non-null    int64
 1   CERTI_MODI_SNO  430 non-null    int64
 2   TEST_ENG_SNO    430 non-null    int64
 3   ENG_TYPE        334 non-null    object
 4   ENG_ID_NO       315 non-null    object
 5   ENG_NO          319 non-null    object
 6   TEST_NO         277 non-null    object
 7   TEST_DATE       318 non-null    object
 8   REG_ID          407 non-null    object
 9   REG_DATETIME    430 non-null    object
 10  MOD_ID          56 non-null     object
 11  MOD_DATETIME    51 non-null     object
dtypes: int64(3), object(9)
memory usage: 40.4+ KB

In [630]:
# CERTI_MODI_SNO 변경인증일련번호 : 0 ~ 22(빈 번호 존재)
# TEST_ENG_SNO 시험원동기일련번호 : 0 ~ 19

In [632]:
col09 = 'TEST_ENG_SNO'
print(cols_dict[name09][col09])
set(ct09[col09].unique())

시험원동기일련번호

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19}

### 10\. UNI_FC_ENDUENGTEST_RES

In [635]:
name10 = name_list[9]
name10

'UNI_FC_ENDUENGTEST_RES'

In [636]:
# 4.2s
ct10 = construct_machine_certification_data_load(name10)
ct10.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7581 entries, 0 to 7580
Data columns (total 24 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   ADM_NO            7581 non-null   int64
 1   CERTI_MODI_SNO    7581 non-null   int64
 2   P_ENG_YN          7581 non-null   int64
 3   SEL_ADM_NO        4236 non-null   float64
 4   TEST_METHOD_CHK   7581 non-null   object
 5   TEST_MOD          7581 non-null   int64
 6   TEST_RST_SNO      7581 non-null   int64
 7   TEST_RST_SNO_SEQ  7581 non-null   int64
 8   FUEL              0 non-null      float64
 9   DDC_USE_YN        6724 non-null   float64
 10  TEST_CNT          0 non-null      float64
 11  TEST_TIME         7100 non-null   float64
 12  TEST_PLACE        7054 non-null   object
 13  TEST_DATE         7025 non-null   object
 14  CO                6034 non-null   float64
 15  NOX               5960 non-null   float64
 16  PM                5901 non-null   float64
 17  NMHC              5948 non-null   float64
 18  REG_ID            721 non-null    object
 19  REG_DATETIME      7581 non-null   object
 20  MOD_ID            352 non-null    object
 21  MOD_DATETIME      431 non-null    object
 22  PN                357 non-null    float64
 23  NMHCNOX           715 non-null    float64
dtypes: float64(11), int64(6), object(7)
memory usage: 1.4+ MB

In [637]:
# CERTI_MODI_SNO 인증 일련번호 : 0 ~ 22(빈 번호 존재)
# P_ENG_YN 내구대표차원동기여부 : 0, 1, 2
# TEST_METHOD_CHK 시험방법체크값 : 'NNNN', 'NNNY', 'NNYN', 'NNYY', 'NYNN', 'NYYN', 'YNNN', 'YNYN', 'YYYY'
# TEST_MOD 시험모드(CVS-75,Highway,US06,SC03,Cold CO...) : 1, 2
# TEST_RST_SNO 시험결과일련번호 : 1 ~ 268
# TEST_RST_SNO_SEQ 시험결과일련번호의항목순번 : 1 ~ 4
# DDC_USE_YN 지정열화계수 사용유무(사용:1,미사용:0) : nan, 1.0, 2.0

In [638]:
col10 = 'TEST_CNT'
print(cols_dict[name10][col10])
set(ct10[col10].unique())

회차

{nan}

### 11\. UNI_FC_KIENGTEST

In [639]:
name11 = name_list[10]
name11

'UNI_FC_KIENGTEST'

In [640]:
# 0.1s
ct11 = construct_machine_certification_data_load(name11)
ct11.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 307 entries, 0 to 306
Data columns (total 12 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   ADM_NO          307 non-null    int64
 1   CERTI_MODI_SNO  307 non-null    int64
 2   TEST_ENG_SNO    307 non-null    int64
 3   ENG_TYPE        209 non-null    object
 4   ENG_ID_NO       196 non-null    object
 5   ENG_NO          209 non-null    object
 6   TEST_NO         179 non-null    object
 7   TEST_DATE       203 non-null    object
 8   REG_ID          307 non-null    object
 9   REG_DATETIME    307 non-null    object
 10  MOD_ID          29 non-null     object
 11  MOD_DATETIME    29 non-null     object
dtypes: int64(3), object(9)
memory usage: 28.9+ KB

In [641]:
# CERTI_MODI_SNO 변경인증일련번호 : 0 ~ 35(빈 번호 존재)
# TEST_ENG_SNO 시험원동기일련번호 : 0 ~ 5

In [642]:
col11 = 'TEST_ENG_SNO'
print(cols_dict[name11][col11])
set(ct11[col11].unique())

시험원동기일련번호

{0, 1, 2, 3, 4, 5}

### 12\. UNI_FC_KIENGTEST_RES

In [643]:
name12 = name_list[11]
name12

'UNI_FC_KIENGTEST_RES'

In [644]:
# 1.3s
ct12 = construct_machine_certification_data_load(name12)
ct12.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2740 entries, 0 to 2739
Data columns (total 20 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   ADM_NO            2740 non-null   int64
 1   CERTI_MODI_SNO    2740 non-null   int64
 2   P_ENG_YN          2704 non-null   float64
 3   SEL_ADM_NO        30 non-null     float64
 4   TEST_METHOD_CHK   2740 non-null   object
 5   TEST_MOD          2740 non-null   int64
 6   TEST_RST_SNO      2740 non-null   int64
 7   TEST_RST_SNO_SEQ  2740 non-null   int64
 8   FUEL              0 non-null      float64
 9   CO                953 non-null    float64
 10  NMHC              924 non-null    float64
 11  NOX               943 non-null    float64
 12  PM                943 non-null    float64
 13  REG_ID            2740 non-null   object
 14  REG_DATETIME      2740 non-null   object
 15  MOD_ID            162 non-null    object
 16  MOD_DATETIME      162 non-null    object
 17  NMHCNOX           209 non-null    float64
 18  PN                833 non-null    float64
 19  NH3               86 non-null     float64
dtypes: float64(10), int64(5), object(5)
memory usage: 428.3+ KB

In [645]:
# CERTI_MODI_SNO 인증 일련번호 : 0 ~ 35(빈 번호 존재)
# P_ENG_YN KI대표원동기 여부 : nan, 1.0, 2.0
# TEST_METHOD_CHK 시험방법체크값 : 'NNNN', 'NNYN', 'NYNN'
# TEST_MOD 시험모드(CVS-75,Highway,US06,SC03,Cold CO...) : 1, 2
# TEST_RST_SNO 시험결과일련번호 : 0 ~ 9
# TEST_RST_SNO_SEQ 시험결과일련번호의항목순번 : 0 ~ 2

In [647]:
col12 = 'TEST_RST_SNO_SEQ'
print(cols_dict[name12][col12])
set(ct12[col12].unique())

시험결과일련번호의항목순번

{0, 1, 2}

## 과제2 > 건설기계 인증대장

In [126]:
name = '건설기계 인증대장(Tier3~Stage5)'
file_name = f'{name}.xlsx'
cert_ld34 = pd.read_excel(os.path.join(raw2_fold, file_name), sheet_name='TIER-3~TIER-4')
cert_ld34.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5974 entries, 0 to 5973
Data columns (total 64 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   배출기준             5971 non-null   object
 1   상호명              5971 non-null   object
 2   인증번호             5971 non-null   object
 3   최초인증일자           5971 non-null   object
 4   재교부일자
(변경일자)     5971 non-null   object
 5   접수번호             5971 non-null   object
 6   접수일자             5971 non-null   object
 7   종류               5971 non-null   object
 8   구분               5971 non-null   object
 9   상세내역             4051 non-null   object
 10  엔진형식
(엔진모델명)     5971 non-null   object
 11  엔진코드             5970 non-null   object
 12  엔진배기량            5862 non-null   object
 13  최대출력             5856 non-null   object
 14  Unnamed: 14      5856 non-null   object
 15  엔진제작사            5971 non-null   object
 16  엔진제작국            5971 non-null   object
 17  건설기계
수입사
(대표자)  5367 non-null   object
 18  건설기계
제작사         5365 non-null   object
 19  건설기계
명칭          5367 non-null   object
 20  건설/농업기계 형식       5368 non-null   object
 21  비고               637 non-null    object
 22  정정내역             110 non-null    object
 23  기준치              368 non-null    object
 24  Unnamed: 24      368 non-null    object
 25  Unnamed: 25      368 non-null    object
 26  Unnamed: 26      368 non-null    object
 27  Unnamed: 27      368 non-null    object
 28  Unnamed: 28      369 non-null    object
 29  시험결과             370 non-null    object
 30  Unnamed: 30      369 non-null    object
 31  Unnamed: 31      369 non-null    object
 32  Unnamed: 32      369 non-null    object
 33  Unnamed: 33      369 non-null    object
 34  Unnamed: 34      351 non-null    object
 35  Unnamed: 35      360 non-null    object
 36  Unnamed: 36      370 non-null    object
 37  Unnamed: 37      369 non-null    object
 38  Unnamed: 38      371 non-null    object
 39  Unnamed: 39      369 non-null    object
 40  Unnamed: 40      370 non-null    object
 41  Unnamed: 41      370 non-null    object
 42  Unnamed: 42      370 non-null    object
 43  Unnamed: 43      364 non-null    object
 44  Unnamed: 44      362 non-null    object
 45  Unnamed: 45      383 non-null    object
 46  Unnamed: 46      382 non-null    object
 47  Unnamed: 47      371 non-null    object
 48  Unnamed: 48      368 non-null    object
 49  Unnamed: 49      370 non-null    object
 50  Unnamed: 50      370 non-null    object
 51  Unnamed: 51      370 non-null    object
 52  Unnamed: 52      364 non-null    object
 53  Unnamed: 53      363 non-null    object
 54  Unnamed: 54      367 non-null    object
 55  Unnamed: 55      366 non-null    object
 56  자체시험여부           360 non-null    object
 57  적용기술             287 non-null    object
 58  Unnamed: 58      288 non-null    object
 59  Unnamed: 59      289 non-null    object
 60  Unnamed: 60      280 non-null    object
 61  Unnamed: 61      201 non-null    object
 62  Unnamed: 62      90 non-null     object
 63  DF 변경보고          1639 non-null   object
dtypes: object(64)
memory usage: 2.9+ MB

In [161]:
name = '건설기계 인증대장(Tier3~Stage5)'
file_name = f'{name}.xlsx'
cert_ld5 = pd.read_excel(os.path.join(raw2_fold, file_name), sheet_name='STAGE5')
cert_ld5.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2058 entries, 0 to 2057
Data columns (total 74 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   배출기준             2054 non-null   object
 1   상호명              2055 non-null   object
 2   인증번호             2055 non-null   object
 3   최초인증일자           2054 non-null   object
 4   재교부일자
(변경일자)     2054 non-null   object
 5   접수번호             2054 non-null   object
 6   접수일자             2054 non-null   object
 7   종류               2054 non-null   object
 8   구분               2054 non-null   object
 9   상세내역             783 non-null    object
 10  엔진형식
(엔진모델명)     2054 non-null   object
 11  엔진코드             2053 non-null   object
 12  엔진배기량            2054 non-null   float64
 13  최대출력             2050 non-null   object
 14  Unnamed: 14      2050 non-null   object
 15  엔진
제작사           2054 non-null   object
 16  엔진제작국            2054 non-null   object
 17  건설기계
수입사
(대표자)  2044 non-null   object
 18  건설기계
제작사         2044 non-null   object
 19  건설기계
명칭          2044 non-null   object
 20  건설/농업기계 형식       2044 non-null   object
 21  비고               183 non-null    object
 22  기준치              152 non-null    object
 23  Unnamed: 23      152 non-null    object
 24  Unnamed: 24      152 non-null    object
 25  Unnamed: 25      152 non-null    object
 26  Unnamed: 26      152 non-null    object
 27  Unnamed: 27      152 non-null    object
 28  Unnamed: 28      151 non-null    object
 29  시험결과             153 non-null    object
 30  Unnamed: 30      152 non-null    object
 31  Unnamed: 31      152 non-null    object
 32  Unnamed: 32      152 non-null    object
 33  Unnamed: 33      152 non-null    object
 34  Unnamed: 34      152 non-null    object
 35  Unnamed: 35      152 non-null    object
 36  Unnamed: 36      152 non-null    object
 37  Unnamed: 37      152 non-null    object
 38  Unnamed: 38      152 non-null    object
 39  Unnamed: 39      153 non-null    object
 40  Unnamed: 40      152 non-null    object
 41  Unnamed: 41      152 non-null    object
 42  Unnamed: 42      151 non-null    object
 43  Unnamed: 43      151 non-null    object
 44  Unnamed: 44      151 non-null    object
 45  Unnamed: 45      151 non-null    object
 46  Unnamed: 46      151 non-null    object
 47  Unnamed: 47      151 non-null    object
 48  Unnamed: 48      151 non-null    object
 49  Unnamed: 49      151 non-null    object
 50  Unnamed: 50      151 non-null    object
 51  Unnamed: 51      152 non-null    object
 52  Unnamed: 52      151 non-null    object
 53  Unnamed: 53      152 non-null    object
 54  Unnamed: 54      151 non-null    object
 55  Unnamed: 55      151 non-null    object
 56  Unnamed: 56      151 non-null    object
 57  Unnamed: 57      151 non-null    object
 58  Unnamed: 58      150 non-null    object
 59  Unnamed: 59      151 non-null    object
 60  Unnamed: 60      150 non-null    object
 61  Unnamed: 61      151 non-null    object
 62  Unnamed: 62      151 non-null    object
 63  Unnamed: 63      152 non-null    object
 64  Unnamed: 64      151 non-null    object
 65  자체시험여부           151 non-null    object
 66  DF 대표            138 non-null    object
 67  적용기술             131 non-null    object
 68  Unnamed: 68      131 non-null    object
 69  Unnamed: 69      131 non-null    object
 70  Unnamed: 70      131 non-null    object
 71  Unnamed: 71      131 non-null    object
 72  Unnamed: 72      105 non-null    object
 73  임의설정자료제출여부       130 non-null    object
dtypes: float64(1), object(73)
memory usage: 1.2+ MB

### 정보(TIER-3~TIER-4)

#### 컬럼 수정

In [128]:
cert_ld34.columns

Index(['배출기준', '상호명', '인증번호', '최초인증일자', '재교부일자\n(변경일자)', '접수번호', '접수일자', '종류',
       '구분', '상세내역', '엔진형식\n(엔진모델명)', '엔진코드', '엔진배기량', '최대출력', 'Unnamed: 14',
       '엔진제작사', '엔진제작국', '건설기계 \n수입사\n(대표자)', '건설기계\n제작사', '건설기계\n명칭',
       '건설/농업기계 형식', '비고', '정정내역', '기준치', 'Unnamed: 24', 'Unnamed: 25',
       'Unnamed: 26', 'Unnamed: 27', 'Unnamed: 28', '시험결과', 'Unnamed: 30',
       'Unnamed: 31', 'Unnamed: 32', 'Unnamed: 33', 'Unnamed: 34',
       'Unnamed: 35', 'Unnamed: 36', 'Unnamed: 37', 'Unnamed: 38',
       'Unnamed: 39', 'Unnamed: 40', 'Unnamed: 41', 'Unnamed: 42',
       'Unnamed: 43', 'Unnamed: 44', 'Unnamed: 45', 'Unnamed: 46',
       'Unnamed: 47', 'Unnamed: 48', 'Unnamed: 49', 'Unnamed: 50',
       'Unnamed: 51', 'Unnamed: 52', 'Unnamed: 53', 'Unnamed: 54',
       'Unnamed: 55', '자체시험여부', '적용기술', 'Unnamed: 58', 'Unnamed: 59',
       'Unnamed: 60', 'Unnamed: 61', 'Unnamed: 62', 'DF 변경보고'],
      dtype='object')

In [136]:
cert_ld34.columns = [
    '배출기준', '상호명', '인증번호', '최초인증일자', '재교부일자(변경일자)', '접수번호', '접수일자', '종류', '구분', '상세내역', '엔진형식(엔진모델명)', '엔진코드', '엔진배기량', '최대출력_KW', '최대출력_RPM', '엔진제작사', '엔진제작국', '건설기계수입사(대표자)', '건설기계제작사', '건설기계명칭', '건설/농업기계_형식', '비고', '정정내역', 
    '기준치_CO', '기준치_NMHC+Nox', '기준치_NMHC', '기준치_Nox', '기준치_PM', '기준치_CO2', 
    '시험결과_ISO_8178_C1_CO', '시험결과_ISO_8178_C1_HC+Nox', '시험결과_ISO_8178_C1_NMHC', '시험결과_ISO_8178_C1_Nox', '시험결과_ISO_8178_C1_PM', '시험결과_ISO_8178_C1_CO2', '시험결과_ISO_8178_C1_검사일시', '시험결과_ISO_8178_C1_최대출력_kw', '시험결과_ISO_8178_C1_rpm', 
    '시험결과_NRSC_CO', '시험결과_NRSC_HC+Nox', '시험결과_NRSC_NMHC', '시험결과_NRSC_Nox', '시험결과_NRSC_PM', '시험결과_NRSC_CO2', '시험결과_NRSC_검사일시', '시험결과_NRSC_최대출력_kw', '시험결과_NRSC_최대출력_rpm', 
    '시험결과_NRTC_CO', '시험결과_NRTC_HC+Nox', '시험결과_NRTC_NMHC', '시험결과_NRTC_Nox', '시험결과_NRTC_PM', '시험결과_NRTC_CO2', '시험결과_NRTC_검사일시', '시험결과_NRTC_최대출력_kw', '시험결과_NRTC_최대출력_rpm',
    '자체시험여부', '적용기술_EGR', '적용기술_SCR', '적용기술_DPF', '적용기술_ECU', '적용기술_DOC', '적용기술_기타', 'DF_변경보고'
]
len(cert_ld34.columns)

64

#### 필요한 데이터만 추출(행 제한)

In [137]:
cert_ld34 = cert_ld34.iloc[3:, :]
cert_ld34.head()

,배출기준,상호명,인증번호,최초인증일자,재교부일자(변경일자),접수번호,접수일자,종류,구분,상세내역,...,시험결과_NRTC_최대출력_kw,시험결과_NRTC_최대출력_rpm,자체시험여부,적용기술_EGR,적용기술_SCR,적용기술_DPF,적용기술_ECU,적용기술_DOC,적용기술_기타,DF_변경보고
3,tier-3,"㈜커민스 코리아, 윤석윤",09EN*CU*01,2009-01-14 00:00:00,-,6940,2008-12-23 00:00:00,건설기계,대표(최초),NaN,...,-,-,"TIER-2기준으로시험,3도만족\n교통입회",X,X,X,O,NaN,NaN,해당없음
4,tier-3,"㈜커민스 코리아, 윤석윤",09EN*CU*01,-,2012-02-08 00:00:00,15,2012-02-06 00:00:00,건설기계,대표(정정),대표엔진의\n건설기계 형식 정정,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,해당없음
5,tier-3,"㈜커민스 코리아, 윤석윤",09EN*CU*01,-,2011-08-03 00:00:00,173,2011-07-26 00:00:00,건설기계,대표(보고),대표엔진의\n수입사 및 건설기계추가,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,해당없음
6,tier-3,"㈜커민스 코리아, 윤석윤",09EN*CU*01,-,2011-09-22 00:00:00,204,2011-09-07 00:00:00,건설기계,대표(보고),대표엔진의\n수입사 및 건설기계추가,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,해당없음
7,tier-3,"㈜커민스 코리아, 윤석윤",09EN*CU*01,-,2012-01-25 00:00:00,3,2012-01-10 00:00:00,건설기계,대표(보고),대표엔진의\n수입사 및 건설기계추가,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,해당없음

In [184]:
cert_ld34.shape

(5971, 64)

### 데이터 확인

In [509]:
set(cert_ld34['DF_변경보고'].unique())

{'16년부터 수입 안함', 2200, 'O', nan, '신규인증완료후 미생산', '해당없음'}

### 데이터 수정(TIER-3~TIER-4)

In [ ]:
# 줄 바꿈이 있는 열
# 상세내역, 최대출력_KW, 최대출력_RPM, 정정내역, 자체시험여부

# 줄 바꿈을 간격으로 바꿀 열
# 상세내역

# 줄 바꿈을 없앨 열
# 최대출력_KW, 최대출력_RPM, 정정내역

# 줄 바꿈을 쉼표로 바꿀 열
# 자체시험여부

In [141]:
# 줄 바꿈을 간격으로 바꿀 열
# 상세내역
cert_ld34['상세내역'] = cert_ld34['상세내역'].str.replace('\n', ' ')
cert_ld34[['상세내역']].head()

                 상세내역
3                 NaN
4    대표엔진의 건설기계 형식 정정
5  대표엔진의 수입사 및 건설기계추가
6  대표엔진의 수입사 및 건설기계추가
7  대표엔진의 수입사 및 건설기계추가

In [140]:
# 줄 바꿈을 없앨 열
# 최대출력_KW, 최대출력_RPM, 정정내역
cert_ld34['최대출력_KW'] = cert_ld34['최대출력_KW'].str.replace('\n', '')
cert_ld34['최대출력_RPM'] = cert_ld34['최대출력_RPM'].str.replace('\n', '')
cert_ld34['정정내역'] = cert_ld34['정정내역'].str.replace('\n', '')
cert_ld34[['최대출력_KW', '최대출력_RPM', '정정내역']].head()

      최대출력_KW      최대출력_RPM                                  정정내역
3  250(325ps)  2,100(1,900)  1. 동일엔진 추가, 출력병기   (2010.02.02, 재교부)
4  250(325ps)  2,100(1,900)            1.건설기계 형식 정정(2012.02.,재교부)
5  250(325ps)  2,100(1,900)                                   NaN
6  250(325ps)  2,100(1,900)                                   NaN
7  250(325ps)  2,100(1,900)                                   NaN

In [142]:
# 줄 바꿈을 쉼표로 바꿀 열
# 자체시험여부
cert_ld34['자체시험여부'] = cert_ld34['자체시험여부'].str.replace('\n', ',')
cert_ld34[['자체시험여부']].head()

                   자체시험여부
3  TIER-2기준으로시험,3도만족,교통입회
4                     NaN
5                     NaN
6                     NaN
7                     NaN

### 정보(STAGE5)

#### 컬럼 수정

In [162]:
cert_ld5.head()

,배출기준,상호명,인증번호,최초인증일자,재교부일자\n(변경일자),접수번호,접수일자,종류,구분,상세내역,...,Unnamed: 64,자체시험여부,DF 대표,적용기술,Unnamed: 68,Unnamed: 69,Unnamed: 70,Unnamed: 71,Unnamed: 72,임의설정자료제출여부
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,EGR,SCR,DPF,ECU,DOC,기타,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,rpm,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Stage-5,㈜원진에이티,20EN*IV*01,2020-07-15 00:00:00,-,2020_1230,2020-06-16 00:00:00,건설기계,대표(최초),NaN,...,2000,자체시험,대표,-,O,-,O,O,NaN,X
4,Stage-5,㈜원진에이티,20EN*IV*01,2020-07-15 00:00:00,-,2020_1230,2020-06-16 00:00:00,농업기계,동일(최초),NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [163]:
cert_ld5.columns

Index(['배출기준', '상호명', '인증번호', '최초인증일자', '재교부일자\n(변경일자)', '접수번호', '접수일자', '종류',
       '구분', '상세내역', '엔진형식\n(엔진모델명)', '엔진코드', '엔진배기량', '최대출력', 'Unnamed: 14',
       '엔진\n제작사', '엔진제작국', '건설기계 \n수입사\n(대표자)', '건설기계\n제작사', '건설기계\n명칭',
       '건설/농업기계 형식', '비고', '기준치', 'Unnamed: 23', 'Unnamed: 24', 'Unnamed: 25',
       'Unnamed: 26', 'Unnamed: 27', 'Unnamed: 28', '시험결과', 'Unnamed: 30',
       'Unnamed: 31', 'Unnamed: 32', 'Unnamed: 33', 'Unnamed: 34',
       'Unnamed: 35', 'Unnamed: 36', 'Unnamed: 37', 'Unnamed: 38',
       'Unnamed: 39', 'Unnamed: 40', 'Unnamed: 41', 'Unnamed: 42',
       'Unnamed: 43', 'Unnamed: 44', 'Unnamed: 45', 'Unnamed: 46',
       'Unnamed: 47', 'Unnamed: 48', 'Unnamed: 49', 'Unnamed: 50',
       'Unnamed: 51', 'Unnamed: 52', 'Unnamed: 53', 'Unnamed: 54',
       'Unnamed: 55', 'Unnamed: 56', 'Unnamed: 57', 'Unnamed: 58',
       'Unnamed: 59', 'Unnamed: 60', 'Unnamed: 61', 'Unnamed: 62',
       'Unnamed: 63', 'Unnamed: 64', '자체시험여부', 'DF 대표', '적용기술', 'Unnamed: 68',
       'Unnamed: 69', 'Unnamed: 70', 'Unnamed: 71', 'Unnamed: 72',
       '임의설정자료제출여부'],
      dtype='object')

In [164]:
cert_ld5.columns = [
    '배출기준', '상호명', '인증번호', '최초인증일자', '재교부일자(변경일자)', '접수번호', '접수일자', '종류', '구분', '상세내역', '엔진형식(엔진모델명)', '엔진코드', '엔진배기량', 
    '최대출력_KW', '최대출력_RPM',
    '엔진제작사', '엔진제작국', '건설기계수입사(대표자)', '건설기계제작사', '건설기계명칭', '건설/농업기계 형식', '비고', 
    '기준치_CO', '기준치_THC+Nox', '기준치_THC', '기준치_Nox', '기준치_PM', '기준치_PN', '기준치_NH3', 
    '시험결과_ISO_8178_C1_CO', '시험결과_ISO_8178_C1_THC+Nox', '시험결과_ISO_8178_C1_THC', '시험결과_ISO_8178_C1_Nox', '시험결과_ISO_8178_C1_PM', '시험결과_ISO_8178_C1_PN', '시험결과_ISO_8178_C1_NH3', '시험결과_ISO_8178_C1_CO2', '시험결과_ISO_8178_C1_연비', '시험결과_ISO_8178_C1_검사일시',
    '시험결과_ISO_8178_C1_최대출력_kw', '시험결과_ISO_8178_C1_최대출력_rpm', 
    '시험결과_NRSC_CO', '시험결과_NRSC_THC+Nox', '시험결과_NRSC_THC', '시험결과_NRSC_Nox', '시험결과_NRSC_PM', '시험결과_NRSC_PN', '시험결과_NRSC_NH3', '시험결과_NRSC_CO2', '시험결과_NRSC_연비', '시험결과_NRSC_검사일시', '시험결과_NRSC_최대출력_kw', '시험결과_NRSC_최대출력_rpm', 
    '시험결과_NRTC_CO', '시험결과_NRTC_THC+Nox', '시험결과_NRTC_THC', '시험결과_NRTC_Nox', '시험결과_NRTC_PM', '시험결과_NRTC_PN', '시험결과_NRTC_NH3', '시험결과_NRTC_CO2', '시험결과_NRTC_연비', '시험결과_NRTC_검사일시', '시험결과_NRTC_최대출력_kw', '시험결과_NRTC_최대출력_rpm', 
    '자체시험여부', 'DF_대표', '적용기술_EGR', '적용기술_SCR', '적용기술_DPF', '적용기술_ECU', '적용기술_DOC', '적용기술_기타', 
    '임의설정자료제출여부'
]

In [165]:
cert_ld5.head()

,배출기준,상호명,인증번호,최초인증일자,재교부일자(변경일자),접수번호,접수일자,종류,구분,상세내역,...,시험결과_NRTC_최대출력_rpm,자체시험여부,DF_대표,적용기술_EGR,적용기술_SCR,적용기술_DPF,적용기술_ECU,적용기술_DOC,적용기술_기타,임의설정자료제출여부
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,EGR,SCR,DPF,ECU,DOC,기타,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,rpm,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Stage-5,㈜원진에이티,20EN*IV*01,2020-07-15 00:00:00,-,2020_1230,2020-06-16 00:00:00,건설기계,대표(최초),NaN,...,2000,자체시험,대표,-,O,-,O,O,NaN,X
4,Stage-5,㈜원진에이티,20EN*IV*01,2020-07-15 00:00:00,-,2020_1230,2020-06-16 00:00:00,농업기계,동일(최초),NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

#### 필요한 데이터만 추출(행 제한)

In [166]:
cert_ld5 = cert_ld5.iloc[3:, :]
cert_ld5.head()

,배출기준,상호명,인증번호,최초인증일자,재교부일자(변경일자),접수번호,접수일자,종류,구분,상세내역,...,시험결과_NRTC_최대출력_rpm,자체시험여부,DF_대표,적용기술_EGR,적용기술_SCR,적용기술_DPF,적용기술_ECU,적용기술_DOC,적용기술_기타,임의설정자료제출여부
3,Stage-5,㈜원진에이티,20EN*IV*01,2020-07-15 00:00:00,-,2020_1230,2020-06-16 00:00:00,건설기계,대표(최초),NaN,...,2000,자체시험,대표,-,O,-,O,O,NaN,X
4,Stage-5,㈜원진에이티,20EN*IV*01,2020-07-15 00:00:00,-,2020_1230,2020-06-16 00:00:00,농업기계,동일(최초),NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,Stage-5,㈜원진에이티,20EN*IV*01,2020-07-15 00:00:00,-,2020_1230,2020-06-16 00:00:00,농업기계,동일(최초),NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,Stage-5,㈜원진에이티,20EN*IV*01,2020-07-15 00:00:00,-,2020_1230,2020-06-16 00:00:00,농업기계,동일(최초),NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,Stage-5,㈜원진에이티,20EN*IV*01,2020-07-15 00:00:00,-,2020_1230,2020-06-16 00:00:00,농업기계,동일(최초),NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [185]:
cert_ld5.shape

(2055, 74)

In [167]:
cert_ld5.iloc[:5, :20]

,배출기준,상호명,인증번호,최초인증일자,재교부일자(변경일자),접수번호,접수일자,종류,구분,상세내역,엔진형식(엔진모델명),엔진코드,엔진배기량,최대출력_KW,최대출력_RPM,엔진제작사,엔진제작국,건설기계수입사(대표자),건설기계제작사,건설기계명칭
3,Stage-5,㈜원진에이티,20EN*IV*01,2020-07-15 00:00:00,-,2020_1230,2020-06-16 00:00:00,건설기계,대표(최초),NaN,F4HGE613I,F4HGE613I*V,6728.00,191,2000,FPT Industrial S.p.A,이태리,해당없음,해당없음,해당없음
4,Stage-5,㈜원진에이티,20EN*IV*01,2020-07-15 00:00:00,-,2020_1230,2020-06-16 00:00:00,농업기계,동일(최초),NaN,F4HGE613I,F4DGE617D*V,6728.00,221,2100,FPT Industrial S.p.A,이태리,LS엠트론\n(구자은),NH,트랙터
5,Stage-5,㈜원진에이티,20EN*IV*01,2020-07-15 00:00:00,-,2020_1230,2020-06-16 00:00:00,농업기계,동일(최초),NaN,F4HGE613I,F4DGE617D*V,6728.00,221,2100,FPT Industrial S.p.A,이태리,삼정건설기계\n(유재흥),CASE,트랙터
6,Stage-5,㈜원진에이티,20EN*IV*01,2020-07-15 00:00:00,-,2020_1230,2020-06-16 00:00:00,농업기계,동일(최초),NaN,F4HGE613I,F4DGE617E*V,6728.00,199,2100,FPT Industrial S.p.A,이태리,LS엠트론\n(구자은),NH,트랙터
7,Stage-5,㈜원진에이티,20EN*IV*01,2020-07-15 00:00:00,-,2020_1230,2020-06-16 00:00:00,농업기계,동일(최초),NaN,F4HGE613I,F4DGE617E*V,6728.00,199,2100,FPT Industrial S.p.A,이태리,삼정건설기계\n(유재흥),CASE,트랙터

In [168]:
cert_ld5.iloc[:5, 20:35]

,건설/농업기계 형식,비고,기준치_CO,기준치_THC+Nox,기준치_THC,기준치_Nox,기준치_PM,기준치_PN,기준치_NH3,시험결과_ISO_8178_C1_CO,시험결과_ISO_8178_C1_THC+Nox,시험결과_ISO_8178_C1_THC,시험결과_ISO_8178_C1_Nox,시험결과_ISO_8178_C1_PM,시험결과_ISO_8178_C1_PN
3,해당없음,NaN,3.50,-,0.19,0.40,0.01,1000000000000,10,-,-,-,-,-,-
4,T7.315,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,Optum 300,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,T7.290,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,Optum 270,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [169]:
cert_ld5.iloc[:5, 35:50]

,시험결과_ISO_8178_C1_NH3,시험결과_ISO_8178_C1_CO2,시험결과_ISO_8178_C1_연비,시험결과_ISO_8178_C1_검사일시,시험결과_ISO_8178_C1_최대출력_kw,시험결과_ISO_8178_C1_최대출력_rpm,시험결과_NRSC_CO,시험결과_NRSC_THC+Nox,시험결과_NRSC_THC,시험결과_NRSC_Nox,시험결과_NRSC_PM,시험결과_NRSC_PN,시험결과_NRSC_NH3,시험결과_NRSC_CO2,시험결과_NRSC_연비
3,-,-,-,-,-,-,0.01,-,0.01,0.29,0.00,34600000000,1.52,686.36,212.78
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [170]:
cert_ld5.iloc[:5, 50:60]

,시험결과_NRSC_검사일시,시험결과_NRSC_최대출력_kw,시험결과_NRSC_최대출력_rpm,시험결과_NRTC_CO,시험결과_NRTC_THC+Nox,시험결과_NRTC_THC,시험결과_NRTC_Nox,시험결과_NRTC_PM,시험결과_NRTC_PN,시험결과_NRTC_NH3
3,2019-11-14 00:00:00,191,2000,0.02,-,0.01,0.21,0.00,25100000000,0.76
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [171]:
cert_ld5.iloc[:5, 60:]

,시험결과_NRTC_CO2,시험결과_NRTC_연비,시험결과_NRTC_검사일시,시험결과_NRTC_최대출력_kw,시험결과_NRTC_최대출력_rpm,자체시험여부,DF_대표,적용기술_EGR,적용기술_SCR,적용기술_DPF,적용기술_ECU,적용기술_DOC,적용기술_기타,임의설정자료제출여부
3,706.07,219.15,2019-11-13 00:00:00,191,2000,자체시험,대표,-,O,-,O,O,NaN,X
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### 데이터 확인

In [522]:
set(cert_ld5['비고'].unique())

{nan,
 '건설기계 명칭 정정재교부(22.9.8)',
 '건설기계 수입사 대표자 정정재교부(22.4.29)',
 '건설기계 제작사 대표자 정정재교부(22.11.08)',
 '건설기계 제작사 정정재교부(23.4.4)',
 '건설기계 제작사 정정재교부(23.5.3)',
 '건설기계 제작사명 변경 재교부(23.7.10)',
 '건설기계 형식 정정재교부(21.6.15,교통환경연구소-3376)\n건설기계 수입사 정정재교부(21.8.11, 교통환경연구소-4543)',
 '건설기계 형식 정정재교부(21.9.1,교통환경연구소-4961)',
 '건설기계 형식 정정재교부(22.10.27, 교통환경연구소-6606)',
 '건설기계 형식 정정재교부(22.12.21)',
 '건설기계 형식 정정재교부(22.6.30)',
 '건설기계 형식 정정재교부(22.7.13) / 제작사 정정재교부(23.4.00)',
 '건설기계 형식 정정재교부(22.7.15)',
 '건설기계형식 정정재교부(22.10.7, 교통환경연구소-6230)',
 '건설기계형식 정정재교부(22.3.23, 교통환경연구소-1737)',
 '농업기계형식 정정재교부(22.2.11, 교통환경연구소-1012)',
 '농업기계형식 정정재교부(22.2.11, 교통환경연구소-1012)\n엔진제작사 및 농업기게 제작사 정정재교부(22.10.27,교통환경연구소-6608)',
 '수입사 대표자 변경 재교부(22.10.14)',
 '수입사명 변경 재교부(23.7.10)',
 '엔진제작국 정정재교부(22.10.27, 교통환경연구소-6607)',
 '엔진제작사 정정재교부(23.9.22)',
 '엔진코드 정정재교부(21.3.25)',
 '재생지수 산정 결과 신규인증 결과 대입',
 '정정재교부(교통환경연구소-000,22.5.00)',
 '정정재교부(교통환경연구소-3899,21.7.12)',
 '제작사 정정재교부(23.4.00)',
 '제작사명 정정재교부(23.4.11)',
 '중고',
 '최대출력 정정재교부(22.9.8)',
 '최대출력 정정재교부(23.5.15)'}

### 데이터 수정(STAGE5)

In [172]:
# 줄 바꿈이 있는 열
# 건설기계수입사(대표자)

# 줄 바꿈을 없앨 열
# 건설기계수입사(대표자)

In [173]:
# 줄 바꿈을 없앨 열
# 건설기계수입사(대표자)
cert_ld5['건설기계수입사(대표자)'] = cert_ld5['건설기계수입사(대표자)'].str.replace('\n', '')
cert_ld5[['건설기계수입사(대표자)']].head()

  건설기계수입사(대표자)
3         해당없음
4   LS엠트론(구자은)
5  삼정건설기계(유재흥)
6   LS엠트론(구자은)
7  삼정건설기계(유재흥)

#### 컬럼, 데이터 정보들 출력

In [179]:
info01 = cert_ld34.isnull().sum().reset_index().rename(columns={'index':'컬럼명', 0:'빈 값 개수'})
info01['총 행수'] = cert_ld34.shape[0]
info01['번호'] = [x for x in range(1, info01.shape[0] + 1)]
info01 = info01[['번호', '컬럼명', '빈 값 개수', '총 행수']]
info01

    번호          컬럼명  빈 값 개수  총 행수
0    1         배출기준       0  5971
1    2          상호명       0  5971
2    3         인증번호       0  5971
3    4       최초인증일자       0  5971
4    5  재교부일자(변경일자)       0  5971
..  ..          ...     ...   ...
59  60     적용기술_DPF    5683  5971
60  61     적용기술_ECU    5692  5971
61  62     적용기술_DOC    5771  5971
62  63      적용기술_기타    5882  5971
63  64      DF_변경보고    4332  5971

[64 rows x 4 columns]

In [180]:
info02 = cert_ld5.isnull().sum().reset_index().rename(columns={'index':'컬럼명', 0:'빈 값 개수'})
info02['총 행수'] = cert_ld5.shape[0]
info02['번호'] = [x for x in range(1, info02.shape[0] + 1)]
info02 = info02[['번호', '컬럼명', '빈 값 개수', '총 행수']]
info02

    번호          컬럼명  빈 값 개수  총 행수
0    1         배출기준       1  2055
1    2          상호명       0  2055
2    3         인증번호       0  2055
3    4       최초인증일자       1  2055
4    5  재교부일자(변경일자)       1  2055
..  ..          ...     ...   ...
69  70     적용기술_DPF    1925  2055
70  71     적용기술_ECU    1925  2055
71  72     적용기술_DOC    1925  2055
72  73      적용기술_기타    1951  2055
73  74   임의설정자료제출여부    1925  2055

[74 rows x 4 columns]

In [182]:
today_date = datetime.today().strftime('%Y.%m.%d')
today_date

'2023.10.31'

In [183]:
with pd.ExcelWriter(os.path.join(an2_fold, f'건설기계_인증대장_데이터정보({today_date}).xlsx')) as writer:
    info01.to_excel(writer, sheet_name='TIER-3~TIER-4', index=False)
    info02.to_excel(writer, sheet_name='STAGE5', index=False)

## 전문정비(STD_TB_ERR_RES)

In [558]:
er_dict = {
    'DRVNG_DSTNC':'주행거리', 
    'VHRNO':'자동차등록번호', 
    'VIN':'차대번호', 
    'LOD_COX_MEVLU':'부하일산화탄소측정치', 
    'LOD_HC_MEVLU':'부하탄화수소측정치', 
    'LOD_NOX_MEVLU':'부하질소산화물측정치', 
    'LOD_SMO_MEVLU':'부하매연측정치', 
    'LOD_TQ_MEVLU':'부하토크측정치', 
    'OVHUL_YMD':'정비일자', 
    'SPCY_OVHUL_BIZPLC_NM':'전문정비사업소명', 
    'OVHUL_RCPT_NO':'정비접수번호', 
    'PRCINSP_RINSP_RCPT_NO':'정밀재검사접수번호', 
    'NOLOD_COX_MEVLU':'무부하일산화탄소측정치', 
    'NOLOD_HC_MEVLU':'무부하탄화수소측정치', 
    'NOLOD_AIR_EXCRT_MEVLU':'무부하공기과잉률측정치', 
    'NOLOD_SMO_MEVLU':'무부하매연측정치', 
}

In [559]:
# 0.3s
name = 'STD_TB_ERR_RES(20231011)'
file_name = f'{name}.csv'
er = pd.read_csv(os.path.join(pub_fold, file_name), low_memory=False)
er.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 54617 entries, 0 to 54616
Data columns (total 16 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   DRVNG_DSTNC            54617 non-null  float64
 1   VHRNO                  54617 non-null  object
 2   VIN                    51051 non-null  object
 3   LOD_COX_MEVLU          53884 non-null  object
 4   LOD_HC_MEVLU           53886 non-null  object
 5   LOD_NOX_MEVLU          53883 non-null  object
 6   LOD_SMO_MEVLU          53941 non-null  object
 7   LOD_TQ_MEVLU           53819 non-null  object
 8   OVHUL_YMD              54617 non-null  int64
 9   SPCY_OVHUL_BIZPLC_NM   54617 non-null  object
 10  OVHUL_RCPT_NO          54617 non-null  int64
 11  PRCINSP_RINSP_RCPT_NO  54617 non-null  object
 12  NOLOD_COX_MEVLU        53870 non-null  object
 13  NOLOD_HC_MEVLU         53871 non-null  object
 14  NOLOD_AIR_EXCRT_MEVLU  28484 non-null  object
 15  NOLOD_SMO_MEVLU        50992 non-null  object
dtypes: float64(1), int64(2), object(13)
memory usage: 6.7+ MB

In [560]:
er = er.rename(columns=er_dict)
er.columns

Index(['주행거리', '자동차등록번호', '차대번호', '부하일산화탄소측정치', '부하탄화수소측정치', '부하질소산화물측정치',
       '부하매연측정치', '부하토크측정치', '정비일자', '전문정비사업소명', '정비접수번호', '정밀재검사접수번호',
       '무부하일산화탄소측정치', '무부하탄화수소측정치', '무부하공기과잉률측정치', '무부하매연측정치'],
      dtype='object')

### 데이터 확인

In [575]:
set(er['정비접수번호'].unique())

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13}

#### 컬럼, 데이터 정보들 출력

In [562]:
er_cols = pd.DataFrame({'컬럼명':er_dict.keys(), '컬럼내용':er_dict.values()})
er_cols

                      컬럼명         컬럼내용
0             DRVNG_DSTNC         주행거리
1                   VHRNO      자동차등록번호
2                     VIN         차대번호
3           LOD_COX_MEVLU   부하일산화탄소측정치
4            LOD_HC_MEVLU    부하탄화수소측정치
5           LOD_NOX_MEVLU   부하질소산화물측정치
6           LOD_SMO_MEVLU      부하매연측정치
7            LOD_TQ_MEVLU      부하토크측정치
8               OVHUL_YMD         정비일자
9    SPCY_OVHUL_BIZPLC_NM     전문정비사업소명
10          OVHUL_RCPT_NO       정비접수번호
11  PRCINSP_RINSP_RCPT_NO    정밀재검사접수번호
12        NOLOD_COX_MEVLU  무부하일산화탄소측정치
13         NOLOD_HC_MEVLU   무부하탄화수소측정치
14  NOLOD_AIR_EXCRT_MEVLU  무부하공기과잉률측정치
15        NOLOD_SMO_MEVLU     무부하매연측정치

In [566]:
temp = er.isnull().sum().reset_index()
temp = temp.rename(columns={'index':'컬럼내용', 0:'빈 값 개수'})
temp['총 행수'] = er.shape[0]
temp['번호'] = [x for x in range(1, temp.shape[0] + 1)]
ttemp = temp.merge(er_cols, on='컬럼내용', how='left')
ttemp = ttemp[['번호', '컬럼명', '컬럼내용', '빈 값 개수', '총 행수']]
ttemp

    번호                    컬럼명         컬럼내용  빈 값 개수   총 행수
0    1            DRVNG_DSTNC         주행거리       0  54617
1    2                  VHRNO      자동차등록번호       0  54617
2    3                    VIN         차대번호    3566  54617
3    4          LOD_COX_MEVLU   부하일산화탄소측정치     733  54617
4    5           LOD_HC_MEVLU    부하탄화수소측정치     731  54617
5    6          LOD_NOX_MEVLU   부하질소산화물측정치     734  54617
6    7          LOD_SMO_MEVLU      부하매연측정치     676  54617
7    8           LOD_TQ_MEVLU      부하토크측정치     798  54617
8    9              OVHUL_YMD         정비일자       0  54617
9   10   SPCY_OVHUL_BIZPLC_NM     전문정비사업소명       0  54617
10  11          OVHUL_RCPT_NO       정비접수번호       0  54617
11  12  PRCINSP_RINSP_RCPT_NO    정밀재검사접수번호       0  54617
12  13        NOLOD_COX_MEVLU  무부하일산화탄소측정치     747  54617
13  14         NOLOD_HC_MEVLU   무부하탄화수소측정치     746  54617
14  15  NOLOD_AIR_EXCRT_MEVLU  무부하공기과잉률측정치   26133  54617
15  16        NOLOD_SMO_MEVLU     무부하매연측정치    3625  54617

In [567]:
today_date = datetime.today().strftime('%Y.%m.%d')
today_date

'2023.10.31'

In [568]:
ttemp.to_excel(os.path.join(an4_fold, f'전문정비_데이터정보({today_date}).xlsx'), index=False)

## 전문정비상세(STD_TB_ERR_RES_DET)

In [554]:
erd_dict = {
    'VHRNO':'자동차등록번호', 
    'VIN':'차대번호', 
    'OVHUL_CN':'정비내용', 
    'OVHUL_YMD':'정비일자', 
    'SPCY_OVHUL_BIZPLC_NM':'전문정비사업소명', 
    'OVHUL_CMPNT_NM':'정비부품명', 
    'OVHUL_RCPT_NO':'정비접수번호', 
    'PRCINSP_RINSP_RCPT_NO':'정밀재검사접수번호', 
}

In [555]:
# 0.3s
name = 'STD_TB_ERR_RES_DET(20231011)'
file_name = f'{name}.csv'
erd = pd.read_csv(os.path.join(pub_fold, file_name), low_memory=False)
erd.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 106819 entries, 0 to 106818
Data columns (total 8 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   VHRNO                  106818 non-null  object
 1   VIN                    94670 non-null   object
 2   OVHUL_CN               106817 non-null  object
 3   OVHUL_YMD              106818 non-null  float64
 4   SPCY_OVHUL_BIZPLC_NM   106818 non-null  object
 5   OVHUL_CMPNT_NM         106817 non-null  object
 6   OVHUL_RCPT_NO          106818 non-null  float64
 7   PRCINSP_RINSP_RCPT_NO  0 non-null       float64
dtypes: float64(3), object(5)
memory usage: 6.5+ MB

In [556]:
erd = erd.rename(columns=erd_dict)
erd.columns

Index(['자동차등록번호', '차대번호', '정비내용', '정비일자', '전문정비사업소명', '정비부품명', '정비접수번호',
       '정밀재검사접수번호'],
      dtype='object')

### 데이터 확인

In [557]:
erd.shape

(106819, 8)

In [581]:
set(erd['정비접수번호'].unique())

{nan}

#### 컬럼, 데이터 정보들 출력

In [569]:
erd_cols = pd.DataFrame({'컬럼명':erd_dict.keys(), '컬럼내용':erd_dict.values()})
erd_cols

                     컬럼명       컬럼내용
0                  VHRNO    자동차등록번호
1                    VIN       차대번호
2               OVHUL_CN       정비내용
3              OVHUL_YMD       정비일자
4   SPCY_OVHUL_BIZPLC_NM   전문정비사업소명
5         OVHUL_CMPNT_NM      정비부품명
6          OVHUL_RCPT_NO     정비접수번호
7  PRCINSP_RINSP_RCPT_NO  정밀재검사접수번호

In [570]:
temp = erd.isnull().sum().reset_index()
temp = temp.rename(columns={'index':'컬럼내용', 0:'빈 값 개수'})
temp['총 행수'] = erd.shape[0]
temp['번호'] = [x for x in range(1, temp.shape[0] + 1)]
ttemp = temp.merge(erd_cols, on='컬럼내용', how='left')
ttemp = ttemp[['번호', '컬럼명', '컬럼내용', '빈 값 개수', '총 행수']]
ttemp

   번호                    컬럼명       컬럼내용  빈 값 개수    총 행수
0   1                  VHRNO    자동차등록번호       1  106819
1   2                    VIN       차대번호   12149  106819
2   3               OVHUL_CN       정비내용       2  106819
3   4              OVHUL_YMD       정비일자       1  106819
4   5   SPCY_OVHUL_BIZPLC_NM   전문정비사업소명       1  106819
5   6         OVHUL_CMPNT_NM      정비부품명       2  106819
6   7          OVHUL_RCPT_NO     정비접수번호       1  106819
7   8  PRCINSP_RINSP_RCPT_NO  정밀재검사접수번호  106819  106819

In [572]:
today_date = datetime.today().strftime('%Y.%m.%d')
today_date

'2023.10.31'

In [571]:
ttemp.to_excel(os.path.join(an4_fold, f'전문정비상세_데이터정보({today_date}).xlsx'), index=False)

## 구조변경검사(STD_DLM_TB_ERP_GUBUN_BAECHUL)

In [525]:
# 11.7s
name = 'STD_DLM_TB_ERP_GUBUN_BAECHUL(20231011)'
file_name = f'{name}.csv'
gb = pd.read_csv(os.path.join(pub_fold, file_name), low_memory=False)
gb.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1321945 entries, 0 to 1321944
Data columns (total 39 columns):
 #   Column                     Non-Null Count    Dtype
---  ------                     --------------    -----
 0   AIR_PSSR                   1152822 non-null  float64
 1   AIR_TMPRT                  1152822 non-null  float64
 2   CO2_VAL                    1110507 non-null  float64
 3   DRVNG_DSTNC                1320563 non-null  float64
 4   FNCINSP_JGMT_YN            1321919 non-null  object
 5   INSPOF_NM                  1321945 non-null  object
 6   INSPOF_RPRSV_NM            1318198 non-null  object
 7   MAXM_OTPT_MSRMT_VAL        445619 non-null   float64
 8   MAXM_OTPT_PRMT_VAL         544747 non-null   float64
 9   O2_VAL                     1110507 non-null  float64
 10  PRCINSP_YMD                1321945 non-null  int64
 11  PRCINSP_VLD_YMD            127529 non-null   float64
 12  PRCINSP_VLD_WHL            1321945 non-null  object
 13  PRCINSP_JGMT               1321904 non-null  object
 14  PRCINSP_KND                1265148 non-null  object
 15  PRCINSP_RCPT_NO            1308820 non-null  object
 16  RINSP_WHL                  1321945 non-null  object
 17  VHCL_PURPS_CD              1321945 non-null  object
 18  VHRNO                      1321945 non-null  object
 19  VIN                        1321945 non-null  object
 20  STRCT_CHG_INSP_MSRMT_MTHD  1321945 non-null  object
 21  NOLOD_SMO_MSRMT_VAL1       1276978 non-null  float64
 22  NOLOD_SMO_PRMT_VAL1        1276912 non-null  float64
 23  NOLOD_SMO_MSRMT_VAL2       1060644 non-null  float64
 24  NOLOD_SMO_PRMT_VAL2        1012599 non-null  float64
 25  NOLOD_SMO_MSRMT_VAL3       990667 non-null   float64
 26  NOLOD_SMO_PRMT_VAL3        990600 non-null   float64
 27  NOLOD_SMO_MSRMT_VAL4       731316 non-null   float64
 28  NOLOD_SMO_PRMT_VAL4        731299 non-null   float64
 29  NOLOD_SMO_MSRMT_VAL5       731316 non-null   float64
 30  NOLOD_SMO_PRMT_VAL5        731296 non-null   float64
 31  NOLOD_SMO_MSRMT_VAL6       346019 non-null   float64
 32  NOLOD_SMO_PRMT_VAL6        345649 non-null   float64
 33  NOLOD_SMO_JGMT_YN1         1276959 non-null  object
 34  NOLOD_SMO_JGMT_YN2         760411 non-null   object
 35  NOLOD_SMO_JGMT_YN3         760365 non-null   object
 36  NOLOD_SMO_JGMT_YN4         500957 non-null   object
 37  NOLOD_SMO_JGMT_YN5         500955 non-null   object
 38  NOLOD_SMO_JGMT_YN6         76346 non-null    object
dtypes: float64(20), int64(1), object(18)
memory usage: 393.3+ MB

In [ ]:
gb.shape

(1321945, 39)

In [ ]:
gb.columns

Index(['AIR_PSSR', 'AIR_TMPRT', 'CO2_VAL', 'DRVNG_DSTNC', 'FNCINSP_JGMT_YN',
       'INSPOF_NM', 'INSPOF_RPRSV_NM', 'MAXM_OTPT_MSRMT_VAL',
       'MAXM_OTPT_PRMT_VAL', 'O2_VAL', 'PRCINSP_YMD', 'PRCINSP_VLD_YMD',
       'PRCINSP_VLD_WHL', 'PRCINSP_JGMT', 'PRCINSP_KND', 'PRCINSP_RCPT_NO',
       'RINSP_WHL', 'VHCL_PURPS_CD', 'VHRNO', 'VIN',
       'STRCT_CHG_INSP_MSRMT_MTHD', 'NOLOD_SMO_MSRMT_VAL1',
       'NOLOD_SMO_PRMT_VAL1', 'NOLOD_SMO_MSRMT_VAL2', 'NOLOD_SMO_PRMT_VAL2',
       'NOLOD_SMO_MSRMT_VAL3', 'NOLOD_SMO_PRMT_VAL3', 'NOLOD_SMO_MSRMT_VAL4',
       'NOLOD_SMO_PRMT_VAL4', 'NOLOD_SMO_MSRMT_VAL5', 'NOLOD_SMO_PRMT_VAL5',
       'NOLOD_SMO_MSRMT_VAL6', 'NOLOD_SMO_PRMT_VAL6', 'NOLOD_SMO_JGMT_YN1',
       'NOLOD_SMO_JGMT_YN2', 'NOLOD_SMO_JGMT_YN3', 'NOLOD_SMO_JGMT_YN4',
       'NOLOD_SMO_JGMT_YN5', 'NOLOD_SMO_JGMT_YN6'],
      dtype='object')

### 데이터 확인

In [ ]:
gb.iloc[:, :10].head()

,AIR_PSSR,AIR_TMPRT,CO2_VAL,DRVNG_DSTNC,FNCINSP_JGMT_YN,INSPOF_NM,INSPOF_RPRSV_NM,MAXM_OTPT_MSRMT_VAL,MAXM_OTPT_PRMT_VAL,O2_VAL
0,0.00,0.00,14.80,25377.00,Y,이현자동차검사소,최원수,NaN,NaN,0.00
1,101.30,18.00,0.00,172542.00,Y,서인천자동차검사소,박상영,NaN,NaN,0.00
2,98.20,24.80,0.00,203176.00,Y,용인자동차검사소,최광진,NaN,NaN,0.00
3,101.20,15.20,0.00,208787.00,Y,노원자동차검사소,김동연,NaN,NaN,0.00
4,99.80,13.40,0.00,158139.00,Y,성동자동차검사소,나성철,NaN,NaN,0.00

In [ ]:
set(gb.FNCINSP_JGMT_YN.unique())

{' ', '8', 'N', 'Y', nan}

In [ ]:
gb.iloc[:, 10:20].head()

,PRCINSP_YMD,PRCINSP_VLD_YMD,PRCINSP_VLD_WHL,PRCINSP_JGMT,PRCINSP_KND,PRCINSP_RCPT_NO,RINSP_WHL,VHCL_PURPS_CD,VHRNO,VIN
0,20121031,NaN,~,Y,A21C02,27302012103101971,20121031~20121109,A20P,43버6629,KMHFG41EBCA120332
1,20121031,NaN,~,Y,A21C02,28402012103101621,20121031~20121109,A20P,81노1182,KMFLA18EP6C009216
2,20121031,NaN,~,Y,A21C02,41j02012103101191,20121031~20121109,A20P,경기94다4315,KN3HDP3352K836554
3,20121031,NaN,~,Y,A21C02,11602012103102571,20121031~20121109,A20P,서울34머6188,KMHWP81HP2U498130
4,20121031,NaN,~,Y,A21C02,11a02012103102091,20121031~20121109,A20P,80조2956,KMFWVH7HP5U646771

In [ ]:
set(gb.VHCL_PURPS_CD.unique())

{'A20B', 'A20O', 'A20P', 'A20T'}

In [ ]:
gb.iloc[:, 20:30].head()

,STRCT_CHG_INSP_MSRMT_MTHD,NOLOD_SMO_MSRMT_VAL1,NOLOD_SMO_PRMT_VAL1,NOLOD_SMO_MSRMT_VAL2,NOLOD_SMO_PRMT_VAL2,NOLOD_SMO_MSRMT_VAL3,NOLOD_SMO_PRMT_VAL3,NOLOD_SMO_MSRMT_VAL4,NOLOD_SMO_PRMT_VAL4,NOLOD_SMO_MSRMT_VAL5
0,부하검사(ASM-Idling),0.00,0.60,7.00,120.00,0.00,790.00,0.00,1.00,8.00
1,부하검사(LUG DOWN),0.00,20.00,0.00,20.00,0.00,20.00,2504.00,5.00,123.80
2,부하검사(KD-147),14.00,20.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,부하검사(KD-147),1.00,20.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,부하검사(KD-147),0.00,20.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
set(gb.STRCT_CHG_INSP_MSRMT_MTHD.unique())

{'무부하검사(TSI)',
 '무부하검사(급가속)',
 '무부하검사(정지가동)',
 '부하검사(ASM-Idling)',
 '부하검사(ASM2525)',
 '부하검사(KD-147)',
 '부하검사(LUG DOWN)'}

In [ ]:
gb.iloc[:, 30:40].head()

,NOLOD_SMO_PRMT_VAL5,NOLOD_SMO_MSRMT_VAL6,NOLOD_SMO_PRMT_VAL6,NOLOD_SMO_JGMT_YN1,NOLOD_SMO_JGMT_YN2,NOLOD_SMO_JGMT_YN3,NOLOD_SMO_JGMT_YN4,NOLOD_SMO_JGMT_YN5,NOLOD_SMO_JGMT_YN6
0,120.00,0.98,0.10,Y,Y,Y,Y,Y,Y
1,117.00,NaN,NaN,Y,Y,Y,Y,Y,NaN
2,NaN,NaN,NaN,Y,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,Y,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,Y,NaN,NaN,NaN,NaN,NaN

In [ ]:
set(gb.NOLOD_SMO_JGMT_YN6.unique())

{' ', '0', 'N', 'Y', nan}

#### 컬럼, 데이터 정보들 출력

In [ ]:
temp = gb.isnull().sum().reset_index()
temp = temp.rename(columns={'index':'컬럼명', 0:'빈 값 개수'})
temp['총 행수'] = gb.shape[0]
temp['번호'] = [x for x in range(1, temp.shape[0] + 1)]
temp = temp[['번호', '컬럼명', '빈 값 개수', '총 행수']]
temp

    번호                        컬럼명   빈 값 개수     총 행수
0    1                   AIR_PSSR   169123  1321945
1    2                  AIR_TMPRT   169123  1321945
2    3                    CO2_VAL   211438  1321945
3    4                DRVNG_DSTNC     1382  1321945
4    5            FNCINSP_JGMT_YN       26  1321945
5    6                  INSPOF_NM        0  1321945
6    7            INSPOF_RPRSV_NM     3747  1321945
7    8        MAXM_OTPT_MSRMT_VAL   876326  1321945
8    9         MAXM_OTPT_PRMT_VAL   777198  1321945
9   10                     O2_VAL   211438  1321945
10  11                PRCINSP_YMD        0  1321945
11  12            PRCINSP_VLD_YMD  1194416  1321945
12  13            PRCINSP_VLD_WHL        0  1321945
13  14               PRCINSP_JGMT       41  1321945
14  15                PRCINSP_KND    56797  1321945
15  16            PRCINSP_RCPT_NO    13125  1321945
16  17                  RINSP_WHL        0  1321945
17  18              VHCL_PURPS_CD        0  1321945
18  19                      VHRNO        0  1321945
19  20                        VIN        0  1321945
20  21  STRCT_CHG_INSP_MSRMT_MTHD        0  1321945
21  22       NOLOD_SMO_MSRMT_VAL1    44967  1321945
22  23        NOLOD_SMO_PRMT_VAL1    45033  1321945
23  24       NOLOD_SMO_MSRMT_VAL2   261301  1321945
24  25        NOLOD_SMO_PRMT_VAL2   309346  1321945
25  26       NOLOD_SMO_MSRMT_VAL3   331278  1321945
26  27        NOLOD_SMO_PRMT_VAL3   331345  1321945
27  28       NOLOD_SMO_MSRMT_VAL4   590629  1321945
28  29        NOLOD_SMO_PRMT_VAL4   590646  1321945
29  30       NOLOD_SMO_MSRMT_VAL5   590629  1321945
30  31        NOLOD_SMO_PRMT_VAL5   590649  1321945
31  32       NOLOD_SMO_MSRMT_VAL6   975926  1321945
32  33        NOLOD_SMO_PRMT_VAL6   976296  1321945
33  34         NOLOD_SMO_JGMT_YN1    44986  1321945
34  35         NOLOD_SMO_JGMT_YN2   561534  1321945
35  36         NOLOD_SMO_JGMT_YN3   561580  1321945
36  37         NOLOD_SMO_JGMT_YN4   820988  1321945
37  38         NOLOD_SMO_JGMT_YN5   820990  1321945
38  39         NOLOD_SMO_JGMT_YN6  1245599  1321945

In [ ]:
today_date = datetime.today().strftime('%Y.%m.%d')
today_date

In [ ]:
temp.to_excel(os.path.join(an5_fold, f'구조변경_데이터정보({today_date}).xlsx'), index=False)

# EDA

## 전문정비(STD_TB_ERR_RES)

In [17]:
er['정비일자'].isnull().sum()

0

In [15]:
er['정비일자'].describe()

count      54617.00
mean    20083896.95
std        16435.80
min     20060727.00
25%     20070801.00
50%     20080507.00
75%     20091109.00
max     20121010.00
Name: 정비일자, dtype: float64

In [19]:
er['정비일자'] = pd.to_datetime(er['정비일자'], format='%Y%m%d', errors='coerce')
er['정비일자'].head()

0   2008-01-10
1   2008-01-23
2   2008-01-08
3   2008-01-18
4   2008-01-07
Name: 정비일자, dtype: datetime64[ns]

In [20]:
er['정비일자'].describe()

C:\Users\kbjung\AppData\Local\Temp\ipykernel_3124\328505498.py:1: FutureWarning: Treating datetime data as categorical rather than numeric in `.describe` is deprecated and will be removed in a future version of pandas. Specify `datetime_is_numeric=True` to silence this warning and adopt the future behavior now.
  er['정비일자'].describe()

count                   54617
unique                   1839
top       2007-10-02 00:00:00
freq                      123
first     2006-07-27 00:00:00
last      2012-10-10 00:00:00
Name: 정비일자, dtype: object

## 전문정비상세(STD_TB_ERR_RES_DET)

In [18]:
erd['정비일자'].isnull().sum()

1

In [16]:
erd['정비일자'].describe()

count     106818.00
mean    20083911.85
std        15852.89
min     20060727.00
25%     20070829.00
50%     20080529.00
75%     20090921.00
max     20120928.00
Name: 정비일자, dtype: float64

In [21]:
erd['정비일자'] = pd.to_datetime(erd['정비일자'], format='%Y%m%d', errors='coerce')
erd['정비일자'].head()

0   2007-02-08
1   2006-08-11
2   2006-08-11
3   2006-08-11
4   2006-12-11
Name: 정비일자, dtype: datetime64[ns]

In [22]:
erd['정비일자'].describe()

C:\Users\kbjung\AppData\Local\Temp\ipykernel_3124\338169835.py:1: FutureWarning: Treating datetime data as categorical rather than numeric in `.describe` is deprecated and will be removed in a future version of pandas. Specify `datetime_is_numeric=True` to silence this warning and adopt the future behavior now.
  erd['정비일자'].describe()

count                  106818
unique                   1832
top       2007-08-13 00:00:00
freq                      232
first     2006-07-27 00:00:00
last      2012-09-28 00:00:00
Name: 정비일자, dtype: object

## 구조변경검사(STD_DLM_TB_ERP_GUBUN_BAECHUL)