# Library

In [1]:
import pandas as pd
import pyexasol
import os
import datetime
from tqdm import tqdm
import time

# Fold

In [2]:
std_fold = 'D:/data/big2/STD'

# insider db

In [3]:
# wd = pyexasol.connect(dsn='172.29.135.35/F99FAB2444F86051A9A467F6313FAAB48AF7C4760663430958E3B89A9DC53361:8563', user='sys', password='exasol', compression=True, schema='VSYSD')
# we = pyexasol.connect(dsn='172.29.135.35/F99FAB2444F86051A9A467F6313FAAB48AF7C4760663430958E3B89A9DC53361:8563', user='sys', password='exasol', compression=True, schema='VSYSE')

# exasol db

In [4]:
# ws = pyexasol.connect(dsn='dev.openankus.org:8563', user='sys', password='djslzja', compression=True, schema='VSYS')
wd = pyexasol.connect(dsn='dev.openankus.org:8563', user='sys', password='djslzja', compression=True, schema='VSYSD')
we = pyexasol.connect(dsn='dev.openankus.org:8563', user='sys', password='djslzja', compression=True, schema='VSYSE')

## file export

In [6]:
table_list = ['STD_BD_CAR_CURSTT', 'STD_BD_CAR_CURSTT_MOD', 'STD_BD_CAR_CURSTT_MOD2', 'STD_BD_CAR_CURSTT_MOD2_4RD_INS', 'STD_BD_CAR_CURSTT_MOD_4RD_INS', 'STD_BD_CAR_PRET', 'STD_BD_CAR_REG_MKCNT', 'STD_BD_DAT_FUEL_CAR_DEC', 
              'STD_BD_DAT_GRD4_CAR_CURSTT', 'STD_BD_DAT_GRD4_CERT_NO_RVW', 'STD_BD_DAT_GRD4_DTL_INFO', 'STD_BD_DAT_GRD4_EXHST_MASS_CURSTT', 'STD_BD_DAT_GRD4_EXHST_MSS_CURSTT', 'STD_BD_DAT_GRD4_MEVLU', 'STD_BD_DAT_GRD4_MLSFC', 
              'STD_BD_DAT_GRD4_SI', 'STD_BD_DAT_GRD5_REDUC_BIZ', 'STD_BD_DAT_GRD_CURSTT', 'STD_BD_DAT_LEM_SELCT', 'STD_BD_DAT_RUN_LMT_CURSTT', 'STD_BD_DAT_SELCT_PNT_CURSTT', 'STD_BD_ECO_CAR_PRET', 'STD_BD_ERSR_RSLT', 
              'STD_BD_FUEL_GRD_VHCL_CURSTT_PRET', 'STD_BD_GRD4_CAR_CURSTT', 'STD_BD_GRD4_CAR_CURSTT_TOT', 'STD_BD_GRD4_DS_CRRLTN_CFFCNT', 'STD_BD_GRD4_ELPDSRC_CURSTT', 'STD_BD_GRD4_EXHST_GAS_MSS', 'STD_BD_GRD4_EXHST_GAS_MSS_TOT', 
              'STD_BD_GRD4_LEM_PRIO_ORD_SELCT_CURSTT', 'STD_BD_GRD4_MLSFC_RSLT', 'STD_BD_GRD4_RESULT', 'STD_BD_GRD4_RGN_CURSTT', 'STD_BD_GRD4_RGN_CURSTT_MOD', 'STD_BD_GRD4_SI', 'STD_BD_GRD5_DS_CRRLTN_CFFCNT', 'STD_BD_GRD5_ELPDSRC', 
              'STD_BD_GRD5_ELPDSRC_CURSTT', 'STD_BD_GRD5_LEM_N', 'STD_BD_GRD5_LEM_N_MOD', 'STD_BD_GRD5_LEM_PRIO_ORD_SELCT_CURSTT', 'STD_BD_GRD5_LMT_NOCS', 'STD_BD_HYBRD_CAR_PRET', 'STD_BD_KOSIS', 'STD_BD_ORDITM_DSCL_CURSTT', 
              'STD_BD_SEASON_CRDN_NOCS_CURSTT', 'STD_BD_SEASON_DSCL_RGN_CURSTT', 'STD_BD_SEASON_DY_AVRG_CRDN_NOCS', 'STD_BD_TB_MAPDATA']
len(table_list)

50

In [7]:
len(set(table_list))

50

In [9]:
for table_name in tqdm(table_list):
    df = we.export_to_pandas(f"SELECT * from {table_name};")
    df.to_csv(table_name + '.csv', index=False)
    print(f'{table_name}.csv 출력완료')

  0%|          | 0/50 [00:00<?, ?it/s]/home/svradm/miniconda3/lib/python3.8/site-packages/pyexasol/callback.py:42: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  return pandas.read_csv(pipe, skip_blank_lines=False, **kwargs)
  2%|▏         | 1/50 [03:38<2:58:11, 218.20s/it]

STD_BD_CAR_CURSTT.csv 출력완료

  4%|▍         | 2/50 [03:40<1:12:55, 91.16s/it]

STD_BD_CAR_CURSTT_MOD.csv 출력완료

  6%|▌         | 3/50 [03:41<39:12, 50.05s/it]

STD_BD_CAR_CURSTT_MOD2.csv 출력완료

  8%|▊         | 4/50 [03:42<23:34, 30.75s/it]

STD_BD_CAR_CURSTT_MOD2_4RD_INS.csv 출력완료

 10%|█         | 5/50 [03:43<15:02, 20.05s/it]

STD_BD_CAR_CURSTT_MOD_4RD_INS.csv 출력완료

 12%|█▏        | 6/50 [03:44<09:58, 13.59s/it]

STD_BD_CAR_PRET.csv 출력완료

 14%|█▍        | 7/50 [03:45<06:49,  9.52s/it]

STD_BD_CAR_REG_MKCNT.csv 출력완료

 16%|█▌        | 8/50 [03:47<04:47,  6.84s/it]

STD_BD_DAT_FUEL_CAR_DEC.csv 출력완료

 18%|█▊        | 9/50 [03:50<03:52,  5.67s/it]

STD_BD_DAT_GRD4_CAR_CURSTT.csv 출력완료

 20%|██        | 10/50 [03:51<02:50,  4.26s/it]

STD_BD_DAT_GRD4_CERT_NO_RVW.csv 출력완료

/home/svradm/miniconda3/lib/python3.8/site-packages/pyexasol/callback.py:42: DtypeWarning: Columns (10,11,13,14) have mixed types. Specify dtype option on import or set low_memory=False.
  return pandas.read_csv(pipe, skip_blank_lines=False, **kwargs)
 22%|██▏       | 11/50 [04:11<05:55,  9.12s/it]

STD_BD_DAT_GRD4_DTL_INFO.csv 출력완료

 24%|██▍       | 12/50 [04:12<04:17,  6.78s/it]

STD_BD_DAT_GRD4_EXHST_MASS_CURSTT.csv 출력완료

 26%|██▌       | 13/50 [04:14<03:09,  5.11s/it]

STD_BD_DAT_GRD4_EXHST_MSS_CURSTT.csv 출력완료

 28%|██▊       | 14/50 [04:15<02:22,  3.94s/it]

STD_BD_DAT_GRD4_MEVLU.csv 출력완료

 30%|███       | 15/50 [04:16<01:49,  3.12s/it]

STD_BD_DAT_GRD4_MLSFC.csv 출력완료

 32%|███▏      | 16/50 [04:17<01:25,  2.52s/it]

STD_BD_DAT_GRD4_SI.csv 출력완료

 34%|███▍      | 17/50 [04:18<01:08,  2.08s/it]

STD_BD_DAT_GRD5_REDUC_BIZ.csv 출력완료

 36%|███▌      | 18/50 [04:21<01:12,  2.26s/it]

STD_BD_DAT_GRD_CURSTT.csv 출력완료

 38%|███▊      | 19/50 [04:22<00:59,  1.91s/it]

STD_BD_DAT_LEM_SELCT.csv 출력완료

 40%|████      | 20/50 [04:23<00:50,  1.69s/it]

STD_BD_DAT_RUN_LMT_CURSTT.csv 출력완료

 42%|████▏     | 21/50 [04:24<00:43,  1.51s/it]

STD_BD_DAT_SELCT_PNT_CURSTT.csv 출력완료

 44%|████▍     | 22/50 [04:25<00:39,  1.40s/it]

STD_BD_ECO_CAR_PRET.csv 출력완료

 46%|████▌     | 23/50 [04:57<04:44, 10.52s/it]

STD_BD_ERSR_RSLT.csv 출력완료

 48%|████▊     | 24/50 [04:59<03:21,  7.74s/it]

STD_BD_FUEL_GRD_VHCL_CURSTT_PRET.csv 출력완료

/home/svradm/miniconda3/lib/python3.8/site-packages/pyexasol/callback.py:42: DtypeWarning: Columns (3,16) have mixed types. Specify dtype option on import or set low_memory=False.
  return pandas.read_csv(pipe, skip_blank_lines=False, **kwargs)
 50%|█████     | 25/50 [05:22<05:12, 12.50s/it]

STD_BD_GRD4_CAR_CURSTT.csv 출력완료

 52%|█████▏    | 26/50 [05:23<03:38,  9.11s/it]

STD_BD_GRD4_CAR_CURSTT_TOT.csv 출력완료

 54%|█████▍    | 27/50 [05:24<02:34,  6.71s/it]

STD_BD_GRD4_DS_CRRLTN_CFFCNT.csv 출력완료

 56%|█████▌    | 28/50 [05:36<02:59,  8.14s/it]

STD_BD_GRD4_ELPDSRC_CURSTT.csv 출력완료

/home/svradm/miniconda3/lib/python3.8/site-packages/pyexasol/callback.py:42: DtypeWarning: Columns (4,29) have mixed types. Specify dtype option on import or set low_memory=False.
  return pandas.read_csv(pipe, skip_blank_lines=False, **kwargs)
 58%|█████▊    | 29/50 [06:31<07:45, 22.16s/it]

STD_BD_GRD4_EXHST_GAS_MSS.csv 출력완료

 60%|██████    | 30/50 [06:32<05:17, 15.88s/it]

STD_BD_GRD4_EXHST_GAS_MSS_TOT.csv 출력완료

 62%|██████▏   | 31/50 [06:48<05:04, 16.04s/it]

STD_BD_GRD4_LEM_PRIO_ORD_SELCT_CURSTT.csv 출력완료

/home/svradm/miniconda3/lib/python3.8/site-packages/pyexasol/callback.py:42: DtypeWarning: Columns (11) have mixed types. Specify dtype option on import or set low_memory=False.
  return pandas.read_csv(pipe, skip_blank_lines=False, **kwargs)
 64%|██████▍   | 32/50 [07:02<04:37, 15.40s/it]

STD_BD_GRD4_MLSFC_RSLT.csv 출력완료

/home/svradm/miniconda3/lib/python3.8/site-packages/pyexasol/callback.py:42: DtypeWarning: Columns (18,25,27) have mixed types. Specify dtype option on import or set low_memory=False.
  return pandas.read_csv(pipe, skip_blank_lines=False, **kwargs)
 66%|██████▌   | 33/50 [07:35<05:52, 20.72s/it]

STD_BD_GRD4_RESULT.csv 출력완료

 68%|██████▊   | 34/50 [07:37<03:58, 14.88s/it]

STD_BD_GRD4_RGN_CURSTT.csv 출력완료

 70%|███████   | 35/50 [07:38<02:41, 10.75s/it]

STD_BD_GRD4_RGN_CURSTT_MOD.csv 출력완료

 72%|███████▏  | 36/50 [07:49<02:30, 10.77s/it]

STD_BD_GRD4_SI.csv 출력완료

 74%|███████▍  | 37/50 [07:50<01:42,  7.87s/it]

STD_BD_GRD5_DS_CRRLTN_CFFCNT.csv 출력완료

 76%|███████▌  | 38/50 [07:51<01:10,  5.84s/it]

STD_BD_GRD5_ELPDSRC.csv 출력완료

 78%|███████▊  | 39/50 [07:52<00:48,  4.40s/it]

STD_BD_GRD5_ELPDSRC_CURSTT.csv 출력완료

 80%|████████  | 40/50 [07:53<00:34,  3.43s/it]

STD_BD_GRD5_LEM_N.csv 출력완료

 82%|████████▏ | 41/50 [07:54<00:24,  2.74s/it]

STD_BD_GRD5_LEM_N_MOD.csv 출력완료

/home/svradm/miniconda3/lib/python3.8/site-packages/pyexasol/callback.py:42: DtypeWarning: Columns (9) have mixed types. Specify dtype option on import or set low_memory=False.
  return pandas.read_csv(pipe, skip_blank_lines=False, **kwargs)
 84%|████████▍ | 42/50 [08:08<00:49,  6.20s/it]

STD_BD_GRD5_LEM_PRIO_ORD_SELCT_CURSTT.csv 출력완료

 86%|████████▌ | 43/50 [08:11<00:35,  5.07s/it]

STD_BD_GRD5_LMT_NOCS.csv 출력완료

 88%|████████▊ | 44/50 [08:12<00:23,  3.88s/it]

STD_BD_HYBRD_CAR_PRET.csv 출력완료

 90%|█████████ | 45/50 [08:13<00:15,  3.03s/it]

STD_BD_KOSIS.csv 출력완료

 92%|█████████▏| 46/50 [08:15<00:10,  2.60s/it]

STD_BD_ORDITM_DSCL_CURSTT.csv 출력완료

 94%|█████████▍| 47/50 [08:22<00:12,  4.01s/it]

STD_BD_SEASON_CRDN_NOCS_CURSTT.csv 출력완료

 96%|█████████▌| 48/50 [08:30<00:10,  5.12s/it]

STD_BD_SEASON_DSCL_RGN_CURSTT.csv 출력완료

 98%|█████████▊| 49/50 [08:31<00:03,  3.93s/it]

STD_BD_SEASON_DY_AVRG_CRDN_NOCS.csv 출력완료

100%|██████████| 50/50 [08:32<00:00, 10.25s/it]

STD_BD_TB_MAPDATA.csv 출력완료

## file export

In [5]:
table_list = [
    'STD_CEG_CAR_MIG', 
    'STD_CEG_CAR_SRC_MIG', 
    ]
len(table_list)

2

In [6]:
len(set(table_list))

2

In [7]:
today_date = datetime.datetime.today().strftime("%Y%m%d")
today_date

'20230821'

In [9]:
# 16m 41s
start_time = time.time()
for table_name in tqdm(table_list):
    df = wd.export_to_pandas(f"SELECT * from {table_name};")
    file_name = table_name + f'({today_date}).csv'
    df.to_csv(os.path.join(std_fold, file_name), index=False)
    print(f'{file_name} 출력완료')
print()
sec = time.time() - start_time
print('코드 수행시간 : ' + str(datetime.timedelta(seconds=sec)).split('.')[0])

  0%|          | 0/2 [00:00<?, ?it/s]C:\Users\kbjung\AppData\Roaming\Python\Python39\site-packages\pyexasol\callback.py:42: DtypeWarning: Columns (1,8,9,11,18,25,27,28) have mixed types. Specify dtype option on import or set low_memory=False.
  return pandas.read_csv(pipe, skip_blank_lines=False, **kwargs)
 50%|█████     | 1/2 [16:23<16:23, 983.17s/it]

STD_CEG_CAR_MIG(20230821).csv 출력완료

C:\Users\kbjung\AppData\Roaming\Python\Python39\site-packages\pyexasol\callback.py:42: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  return pandas.read_csv(pipe, skip_blank_lines=False, **kwargs)
100%|██████████| 2/2 [16:41<00:00, 500.91s/it]

STD_CEG_CAR_SRC_MIG(20230821).csv 출력완료

코드 수행시간 : 0:16:41

In [4]:
table_list = [
    'STD_TB_EET_HIS_ME', 
    ]
len(table_list)

1

In [5]:
today_date = datetime.datetime.today().strftime("%Y%m%d")
today_date

'20230825'

In [6]:
# 10m 30s
start_time = time.time()
for table_name in tqdm(table_list):
    df = wd.export_to_pandas(f"SELECT VIN, PRCINSP_JGMT, PREC_NLOD_SMO_MSTVL1, PREC_NLOD_SMO_JT_YN1, PREC_NLOD_SMO_PRMVL1, PRCINSP_MSRMT_MTHD_CD, PRCINSP_KND_CD, PRCINSP_YMD from {table_name};")
    file_name = table_name + f'({today_date}).csv'
    df.to_csv(os.path.join(std_fold, file_name), index=False)
    print(f'{file_name} 출력완료')
print()
sec = time.time() - start_time
print('코드 수행시간 : ' + str(datetime.timedelta(seconds=sec)).split('.')[0])

  0%|          | 0/1 [00:00<?, ?it/s]

100%|██████████| 1/1 [10:30<00:00, 630.48s/it]

STD_TB_EET_HIS_ME(20230825).csv 출력완료

코드 수행시간 : 0:10:30

# file check

In [5]:
"""
'STD_BD_DAT_FUEL_CAR_DEC',
'STD_BD_DAT_GRD4_CAR_CURSTT',
'STD_BD_DAT_GRD4_CERT_NO_RVW',
'STD_BD_DAT_GRD4_DTL_INFO',
'STD_BD_DAT_GRD4_EXHST_MASS_CURSTT',
'STD_BD_DAT_GRD4_EXHST_MSS_CURSTT',
'STD_BD_DAT_GRD4_MEVLU',
'STD_BD_DAT_GRD4_MLSFC',
'STD_BD_DAT_GRD4_SI',
'STD_BD_DAT_GRD5_REDUC_BIZ',
'STD_BD_DAT_GRD_CURSTT',
'STD_BD_DAT_LEM_SELCT',
'STD_BD_DAT_RUN_LMT_CURSTT',
'STD_BD_DAT_SELCT_PNT_CURSTT',
"""

"\n'STD_BD_DAT_FUEL_CAR_DEC',\n'STD_BD_DAT_GRD4_CAR_CURSTT',\n'STD_BD_DAT_GRD4_CERT_NO_RVW',\n'STD_BD_DAT_GRD4_DTL_INFO',\n'STD_BD_DAT_GRD4_EXHST_MASS_CURSTT',\n'STD_BD_DAT_GRD4_EXHST_MSS_CURSTT',\n'STD_BD_DAT_GRD4_MEVLU',\n'STD_BD_DAT_GRD4_MLSFC',\n'STD_BD_DAT_GRD4_SI',\n'STD_BD_DAT_GRD5_REDUC_BIZ',\n'STD_BD_DAT_GRD_CURSTT',\n'STD_BD_DAT_LEM_SELCT',\n'STD_BD_DAT_RUN_LMT_CURSTT',\n'STD_BD_DAT_SELCT_PNT_CURSTT',\n"

In [7]:
table_name = 'STD_BD_DAT_GRD4_CAR_CURSTT'
df = we.export_to_pandas(f"SELECT * from {table_name};")
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 266112 entries, 0 to 266111
Data columns (total 15 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   IDX                  266112 non-null  int64
 1   YR                   266112 non-null  int64
 2   MM                   266112 non-null  int64
 3   CTPV                 266112 non-null  object
 4   SGG                  266112 non-null  object
 5   FUEL_CD              266112 non-null  object
 6   VHCTY_CD             266112 non-null  object
 7   VHCTY_TY             266112 non-null  object
 8   PURPS_CD2            266112 non-null  object
 9   VHCL_MKCNT           266112 non-null  float64
 10  DEC_RT               266112 non-null  float64
 11  RDCDVC_EXTRNS_MKCNT  266112 non-null  float64
 12  RDCDVC_UNAT_MKCNT    266112 non-null  float64
 13  ELPDSRC_MKCNT        266112 non-null  float64
 14  LOAD_DT              266112 non-null  int64
dtypes: float64(5), int64(4), object(6)
memory usage: 30.5+ MB

In [8]:
df.head()

,IDX,YR,MM,CTPV,SGG,FUEL_CD,VHCTY_CD,VHCTY_TY,PURPS_CD2,VHCL_MKCNT,DEC_RT,RDCDVC_EXTRNS_MKCNT,RDCDVC_UNAT_MKCNT,ELPDSRC_MKCNT,LOAD_DT
0,3496,2022,6,강원특별자치도,삼척시,LPG(액화석유가스),승용,소형,개인용,1.0,0.0,0.0,1.0,0.0,20230808
1,3497,2022,3,강원특별자치도,삼척시,LPG(액화석유가스),승용,소형,영업용,0.0,0.0,0.0,0.0,0.0,20230808
2,3498,2022,4,강원특별자치도,삼척시,LPG(액화석유가스),승용,소형,영업용,0.0,0.0,0.0,0.0,0.0,20230808
3,3499,2022,5,강원특별자치도,삼척시,LPG(액화석유가스),승용,소형,영업용,0.0,0.0,0.0,0.0,0.0,20230808
4,3500,2022,6,강원특별자치도,삼척시,LPG(액화석유가스),승용,소형,영업용,0.0,0.0,0.0,0.0,0.0,20230808

In [12]:
df.loc[df['MM'] == 6, 'VHCL_MKCNT'].sum()

1382741.0

In [13]:
table_name = 'STD_BD_DAT_GRD4_DTL_INFO'
df = we.export_to_pandas(f"SELECT * from {table_name};")
df.info()

C:\Users\kbjung\AppData\Roaming\Python\Python39\site-packages\pyexasol\callback.py:42: DtypeWarning: Columns (11,12,14,15) have mixed types. Specify dtype option on import or set low_memory=False.
  return pandas.read_csv(pipe, skip_blank_lines=False, **kwargs)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1906799 entries, 0 to 1906798
Data columns (total 19 columns):
 #   Column           Dtype
---  ------           -----
 0   IDX              int64
 1   VHRNO            object
 2   VIN              object
 3   GRD4_MLSFC       object
 4   VHCTY_CD         object
 5   VHCTY_TY         object
 6   PURPS_CD2        object
 7   FUEL_CD          object
 8   CTPV             object
 9   SGG              object
 10  YRIDNW           int64
 11  DPF_MNTNG_YN     object
 12  RDCDVC_KND       object
 13  FRST_REG_YMD     float64
 14  ELPDSRC_APLY_YN  object
 15  ELPDSRC_STTS_CD  object
 16  CHNG_DE          float64
 17  VHCL_ERSR_YN     object
 18  LOAD_DT          int64
dtypes: float64(2), int64(3), object(14)
memory usage: 276.4+ MB

In [14]:
df['VHCL_ERSR_YN'].value_counts(dropna=False)

VHCL_ERSR_YN
N    1390266
Y     516533
Name: count, dtype: int64

In [15]:
table_name = 'STD_BD_DAT_GRD4_MLSFC'
df = we.export_to_pandas(f"SELECT * from {table_name};")
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8298 entries, 0 to 8297
Data columns (total 14 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   IDX        8298 non-null   int64
 1   FUEL_CD    8298 non-null   object
 2   CTPV       8298 non-null   object
 3   SGG        8298 non-null   object
 4   VHCTY_CD   8298 non-null   object
 5   VHCTY_TY   8298 non-null   object
 6   PURPS_CD2  8298 non-null   object
 7   A_MKCNT    5066 non-null   float64
 8   B_MKCNT    3788 non-null   float64
 9   C_MKCNT    3332 non-null   float64
 10  D_MKCNT    779 non-null    float64
 11  X_MKCNT    3367 non-null   float64
 12  YR         8298 non-null   int64
 13  LOAD_DT    8298 non-null   int64
dtypes: float64(5), int64(3), object(6)
memory usage: 907.7+ KB

In [16]:
df['YR'].unique()

array([2022], dtype=int64)

In [19]:
df[['A_MKCNT', 'B_MKCNT', 'C_MKCNT', 'D_MKCNT', 'X_MKCNT']].sum().sum()

1382741.0

In [20]:
table_name = 'STD_BD_DAT_GRD_CURSTT'
df = we.export_to_pandas(f"SELECT * from {table_name};")
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 212160 entries, 0 to 212159
Data columns (total 13 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   IDX               212160 non-null  int64
 1   CTPV              212160 non-null  object
 2   YR                212160 non-null  int64
 3   MM                212160 non-null  int64
 4   EXHST_GAS_GRD_CD  212160 non-null  int64
 5   FUEL_CD           212160 non-null  object
 6   VHCTY_CD          212160 non-null  object
 7   VHCTY_TY          212160 non-null  object
 8   PURPS_CD2         212160 non-null  object
 9   VHCL_MKCNT        212160 non-null  float64
 10  ERSR_MKCNT        212160 non-null  float64
 11  YR_FUEL_VHCL_RT   212160 non-null  float64
 12  LOAD_DT           212160 non-null  int64
dtypes: float64(3), int64(5), object(5)
memory usage: 21.0+ MB

In [21]:
df['YR'].unique()

array([2022], dtype=int64)

In [23]:
df['MM'].unique()

array([ 9, 10, 11, 12], dtype=int64)

In [24]:
df.loc[df['MM'] == 12, 'VHCL_MKCNT'].sum()

24767013.0

In [25]:
table_name = 'STD_BD_DAT_FUEL_CAR_DEC'
df = we.export_to_pandas(f"SELECT * from {table_name};")
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1224 entries, 0 to 1223
Data columns (total 18 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   IDX               1224 non-null   int64
 1   YR                1224 non-null   int64
 2   QRT               1224 non-null   int64
 3   EXHST_GAS_GRD_CD  1224 non-null   object
 4   FUEL_CD           1224 non-null   object
 5   LPG_MKCNT         96 non-null     float64
 6   LPG_PRET          312 non-null    float64
 7   LPG_PRET_BSPLN    312 non-null    float64
 8   LPG_PRET_AKM      312 non-null    float64
 9   DSL_MKCNT         96 non-null     float64
 10  DSL_PRET          312 non-null    float64
 11  DSL_PRET_BSPLN    312 non-null    float64
 12  DSL_PRET_AKM      312 non-null    float64
 13  GSL_MKCNT         96 non-null     float64
 14  GSL_PRET          312 non-null    float64
 15  GSL_PRET_BSPLN    312 non-null    float64
 16  GSL_PRET_AKM      312 non-null    float64
 17  LOAD_DT           1224 non-null   int64
dtypes: float64(12), int64(4), object(2)
memory usage: 172.2+ KB

In [26]:
df['YR'].unique()

array([2019, 2020, 2021, 2022, 2023, 2024, 2025, 2026, 2027, 2028, 2029,
       2030, 2031, 2032, 2033, 2034, 2035], dtype=int64)

In [28]:
df['QRT'].unique()

array([1, 2, 3, 4], dtype=int64)

In [29]:
df.loc[(df['YR'] == 2022) & (df['QRT'] == 4), ['LPG_MKCNT', 'DSL_MKCNT', 'GSL_MKCNT']].sum()

LPG_MKCNT     1805025.0
DSL_MKCNT     9339671.0
GSL_MKCNT    11885042.0
dtype: float64

In [30]:
df.loc[(df['YR'] == 2022) & (df['QRT'] == 4), ['LPG_MKCNT', 'DSL_MKCNT', 'GSL_MKCNT']].sum().sum()

23029738.0

## 본거지 법정동 코드

In [5]:
table_list = [
    'STD_BJCD_INFO', 
    ]
len(table_list)

1

In [6]:
len(set(table_list))

1

In [7]:
today_date = datetime.datetime.today().strftime("%Y%m%d")
today_date

'20230904'

In [8]:
# 16m 41s
start_time = time.time()
for table_name in tqdm(table_list):
    df = wd.export_to_pandas(f"SELECT * from {table_name};")
    file_name = table_name + f'({today_date}).csv'
    df.to_csv(os.path.join(std_fold, file_name), index=False)
    print(f'{file_name} 출력완료')
print()
sec = time.time() - start_time
print('코드 수행시간 : ' + str(datetime.timedelta(seconds=sec)).split('.')[0])

  0%|          | 0/1 [00:00<?, ?it/s]

100%|██████████| 1/1 [00:01<00:00,  1.91s/it]

STD_BJCD_INFO(20230904).csv 출력완료

코드 수행시간 : 0:00:01

# Code End