# Library

In [1]:
import pandas as pd
import os
from glob import glob
from datetime import datetime

# FOLD

In [8]:
drive = 'D'

In [3]:
ods_fold = f'{drive}:/data/complete/big2/ods'

raw1_fold = f'{drive}:/data/complete/big2/BD1/raw'
df1_fold = f'{drive}:/data/complete/big2/BD1/df'

raw3_fold = f'{drive}:/data/complete/big2/BD3/raw'
df3_fold = f'{drive}:/data/complete/big2/BD3/df'

In [4]:
def etoc(name, fold):
    file_name = f'{name}.xlsx'
    df = pd.read_excel(os.path.join(fold, file_name))
    df.to_csv(os.path.join(fold, f'{name}.csv'), index=False)
    print(os.path.join(fold, f'{name}.csv 출력완료.'))

In [5]:
def ctoc(name, fold):
    file_name = f'{name}.csv'
    df = pd.read_csv(os.path.join(fold, file_name), encoding='cp949')
    df.to_csv(os.path.join(fold, f'{name}.csv'), index=False)
    print(os.path.join(fold, f'{name}.csv 출력완료.'))

In [6]:
def multi_etoc(fold):
    for file_name in glob(os.path.join(fold, '*.xlsx')):
        name = file_name.split('\\')[-1]
        csv_name = name.split('.')[0] + '.csv'
        df = pd.read_excel(os.path.join(fold, name))
        df.to_csv(os.path.join(fold, csv_name), index=False)
        print(os.path.join(fold, csv_name), '출력완료.')

In [13]:
name = 'STD_BD_CAR_CURSTT_MOD'
fold = raw3_fold
etoc(name, fold)

D:/data/big2/BD3/raw\STD_BD_CAR_CURSTT_MOD.csv 출력완료.

In [10]:
name = '5등급_저공해미조치'
fold = raw3_fold
etoc(name, fold)

D:/data/big2/BD3/raw\5등급_저공해미조치.csv 출력완료.

In [22]:
name = '용도별_차종별_시군구별_자동차1일평균주행거리(2021)'
fold = raw1_fold
etoc(name, fold)

D:/data/big2/BD1/raw\용도별_차종별_시군구별_자동차1일평균주행거리(2021).csv 출력완료.

In [8]:
name = 'STD_BD_ECO_CAR_PRET'
fold = df3_fold
ctoc(name, fold)

D:/data/big2/BD3/df\STD_BD_ECO_CAR_PRET.csv 출력완료.

In [22]:
multi_etoc(df3_fold)

D:/data/big2/BD3/df\STD_BD_CAR_CURSTT_MOD.csv 출력완료.
D:/data/big2/BD3/df\STD_BD_CAR_CURSTT_MOD2.csv 출력완료.
D:/data/big2/BD3/df\STD_BD_CAR_PRET.csv 출력완료.
D:/data/big2/BD3/df\STD_BD_CAR_REG_MKCNT.csv 출력완료.
D:/data/big2/BD3/df\STD_BD_ECO_CAR_PRET.csv 출력완료.
D:/data/big2/BD3/df\STD_BD_GRD4_DS_CRRLTN_CFFCNT.csv 출력완료.
D:/data/big2/BD3/df\STD_BD_GRD5_DS_DPF_CRRLTN_CFFCNT.csv 출력완료.
D:/data/big2/BD3/df\STD_BD_GRD5_DS_ELPDSRC_CRRLTN_CFFCNT.csv 출력완료.
D:/data/big2/BD3/df\STD_BD_GRD5_ELPDSRC_CURSTT.csv 출력완료.
D:/data/big2/BD3/df\STD_BD_GRD5_LEM_N_MOD.csv 출력완료.

In [21]:
# about 
name = 'STD_BD_GRD5_DS_ELPDSRC_CRRLTN_CFFCNT'
file_name = f'{name}.xlsx'
df = pd.read_excel(os.path.join(df1_fold, file_name))
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7 entries, 0 to 6
Data columns (total 9 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   LIST                 7 non-null      object
 1   NOLOD_SMO_MEVLU1     7 non-null      float64
 2   DY_AVRG_DRVNG_DSTNC  7 non-null      float64
 3   RCNT_INSP_ELPSD_WHL  7 non-null      float64
 4   RUN_LMT_CRDN_INFO    7 non-null      float64
 5   SPRT_CST_ELPDSRC     7 non-null      float64
 6   DSPLVL               7 non-null      float64
 7   TOTL_WGHT            7 non-null      float64
 8   TOT_CRRLTN_CFFCNT    7 non-null      float64
dtypes: float64(8), object(1)
memory usage: 632.0+ bytes

In [7]:
# about 
name = '계절제 적발지역 차대번호'
file_name = f'{name}.csv'
df = pd.read_csv(os.path.join(df3_fold, file_name), encoding='cp949')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 163294 entries, 0 to 163293
Data columns (total 9 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   적발지역    163294 non-null  object
 1   적발시도    163294 non-null  object
 2   차대번호    163294 non-null  object
 3   계절제_1차  39111 non-null   float64
 4   계절제_2차  58088 non-null   float64
 5   계절제_3차  73775 non-null   float64
 6   계절제_4차  31673 non-null   float64
 7   차종      162378 non-null  object
 8   차종유형    162378 non-null  object
dtypes: float64(4), object(5)
memory usage: 11.2+ MB

In [8]:
df.columns

Index(['적발지역', '적발시도', '차대번호', '계절제_1차', '계절제_2차', '계절제_3차', '계절제_4차', '차종',
       '차종유형'],
      dtype='object')

In [9]:
chc_dict = {
    '적발지역':'DSCL_RGN',
    '적발시도':'DSCL_CTPV',
    '차대번호':'VIN',
    '계절제_1차':'SEASON_1ODR_CRDN_NOCS',
    '계절제_2차':'SEASON_2ODR_CRDN_NOCS',
    '계절제_3차':'SEASON_3ODR_CRDN_NOCS',
    '계절제_4차':'SEASON_4ODR_CRDN_NOCS',
    '차종':'VHCTY_CD',
    '차종유형':'VHCTY_TY',
            }

In [10]:
df = df.rename(columns=chc_dict)
df.columns

Index(['DSCL_RGN', 'DSCL_CTPV', 'VIN', 'SEASON_1ODR_CRDN_NOCS',
       'SEASON_2ODR_CRDN_NOCS', 'SEASON_3ODR_CRDN_NOCS',
       'SEASON_4ODR_CRDN_NOCS', 'VHCTY_CD', 'VHCTY_TY'],
      dtype='object')

In [11]:
df.to_csv(os.path.join(df3_fold, f'{name}.csv'), index=False)

In [12]:
# about 
name = '차대번호별 적발건수, 지역, 차종'
file_name = f'{name}.csv'
df = pd.read_csv(os.path.join(df3_fold, file_name), encoding='cp949')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 153422 entries, 0 to 153421
Data columns (total 10 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   VIN      153422 non-null  object
 1   계절제_1차   37861 non-null   float64
 2   계절제_2차   54788 non-null   float64
 3   계절제_3차   68278 non-null   float64
 4   계절제_4차   29307 non-null   float64
 5   지역       152547 non-null  object
 6   시도       152547 non-null  object
 7   DPF부착유무  153422 non-null  object
 8   차종       152547 non-null  object
 9   차종유형     152547 non-null  object
dtypes: float64(4), object(6)
memory usage: 11.7+ MB

In [13]:
df.columns

Index(['VIN', '계절제_1차', '계절제_2차', '계절제_3차', '계절제_4차', '지역', '시도', 'DPF부착유무',
       '차종', '차종유형'],
      dtype='object')

In [14]:
chc_dict = {
    '차대번호':'VIN',
    '계절제_1차':'SEASON_1ODR_CRDN_NOCS',
    '계절제_2차':'SEASON_2ODR_CRDN_NOCS',
    '계절제_3차':'SEASON_3ODR_CRDN_NOCS',
    '계절제_4차':'SEASON_4ODR_CRDN_NOCS',
    '지역':'RGN',
    '시도':'CTPV',
    'DPF부착유무':'DPF_EXTRNS_YN',
    '차종':'VHCTY_CD',
    '차종유형':'VHCTY_TY',
            }

In [15]:
df = df.rename(columns=chc_dict)
df.columns

Index(['VIN', 'SEASON_1ODR_CRDN_NOCS', 'SEASON_2ODR_CRDN_NOCS',
       'SEASON_3ODR_CRDN_NOCS', 'SEASON_4ODR_CRDN_NOCS', 'RGN', 'CTPV',
       'DPF_EXTRNS_YN', 'VHCTY_CD', 'VHCTY_TY'],
      dtype='object')

In [16]:
df.to_csv(os.path.join(df3_fold, f'{name}.csv'), index=False)

In [ ]:
name = '용도별_차종별_시군구별_자동차1일평균주행거리(2021)'
fold = raw1_fold
etoc(name, fold)

In [23]:
# about 
name = '용도별_차종별_시군구별_자동차1일평균주행거리(2021)'
file_name = f'{name}.csv'
df = pd.read_csv(os.path.join(raw1_fold, file_name))
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1230 entries, 0 to 1229
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   시도명     1230 non-null   object
 1   시군구명    1230 non-null   object
 2   차종      1230 non-null   object
 3   전체      1230 non-null   float64
dtypes: float64(1), object(3)
memory usage: 38.6+ KB

In [24]:
df.columns

Index(['시도명', '시군구명', '차종', '전체'], dtype='object')

In [25]:
chc_dict = {
    '시도명':'CTPV', 
    '시군구명':'SGG', 
    '차종':'VHCTY_CD', 
    '전체':'DY_AVRG_DRVNG_DSTNC',
            }

In [26]:
df = df.rename(columns=chc_dict)
df.columns

Index(['CTPV', 'SGG', 'VHCTY_CD', 'DY_AVRG_DRVNG_DSTNC'], dtype='object')

In [13]:
df.to_csv(os.path.join(raw1_fold, f'{name}.csv'), index=False)

In [16]:
# about 
name = '저감장치_효율(2022.12.28)'
file_name = f'{name}.csv'
df = pd.read_csv(os.path.join(ods_fold, file_name), encoding='cp949')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 111071 entries, 0 to 111070
Data columns (total 6 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   저감장치      111071 non-null  object
 1   배출가스인증번호  111071 non-null  object
 2   장치일련번호    111071 non-null  object
 3   장치인증번호    303 non-null     object
 4   장치구분      261 non-null     object
 5   저감효율      303 non-null     float64
dtypes: float64(1), object(5)
memory usage: 5.1+ MB

In [17]:
df.columns

Index(['저감장치', '배출가스인증번호', '장치일련번호', '장치인증번호', '장치구분', '저감효율'], dtype='object')

In [18]:
chc_dict = {
    '저감장치':'RDCDVC', 
    '배출가스인증번호':'EXHST_GAS_CERT_NO', 
    '장치일련번호':'DVICE_SN', 
    '장치인증번호':'DVICE_CERT_NO', 
    '장치구분':'RDCDVC_SE', 
    '저감효율':'REDUC_EFCNY',
            }

In [19]:
df = df.rename(columns=chc_dict)
df.columns

Index(['RDCDVC', 'EXHST_GAS_CERT_NO', 'DVICE_SN', 'DVICE_CERT_NO', 'RDCDVC_SE',
       'REDUC_EFCNY'],
      dtype='object')

In [20]:
df.to_csv(os.path.join(ods_fold, f'{name}.csv'), index=False)

## STD_BD_CAR_CURSTT_MOD

In [7]:
# about 
name = 'STD_BD_CAR_CURSTT_MOD'
file_name = f'{name}.xlsx'
df = pd.read_excel(os.path.join(raw3_fold, file_name))
df.info()

FileNotFoundError: [Errno 2] No such file or directory: 'E:/data/complete/big2/BD3/raw\\STD_BD_CAR_CURSTT_MOD.xlsx'

In [8]:
df.head()

   CRTR_YM    YR  RGN CTPV_NM EXHST_GAS_GRD_CD  VHCL_MKCNT   LOAD_DT
0   201907  2019  수도권   서울특별시                1      245668  20230803
1   201907  2019  수도권   서울특별시                2     1283202  20230803
2   201907  2019  수도권   서울특별시                3     1101919  20230803
3   201907  2019  수도권   서울특별시                4      244329  20230803
4   201907  2019  수도권   서울특별시                5      215777  20230803

In [10]:
today_date = datetime.today().strftime('%Y%m%d')
today_date

'20231024'

In [12]:
df.LOAD_DT = int(today_date)
df.head()

   CRTR_YM    YR  RGN CTPV_NM EXHST_GAS_GRD_CD  VHCL_MKCNT   LOAD_DT
0   201907  2019  수도권   서울특별시                1      245668  20231024
1   201907  2019  수도권   서울특별시                2     1283202  20231024
2   201907  2019  수도권   서울특별시                3     1101919  20231024
3   201907  2019  수도권   서울특별시                4      244329  20231024
4   201907  2019  수도권   서울특별시                5      215777  20231024

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4998 entries, 0 to 4997
Data columns (total 7 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   CRTR_YM           4998 non-null   int64
 1   YR                4998 non-null   int64
 2   RGN               4998 non-null   object
 3   CTPV_NM           4998 non-null   object
 4   EXHST_GAS_GRD_CD  4998 non-null   object
 5   VHCL_MKCNT        4998 non-null   int64
 6   LOAD_DT           4998 non-null   int64
dtypes: int64(4), object(3)
memory usage: 273.5+ KB

In [14]:
df.EXHST_GAS_GRD_CD.unique()

array([1, 2, 3, 4, 5, 'X'], dtype=object)

In [16]:
grd_dict = {
    1:'1', 
    2:'2', 
    3:'3', 
    4:'4', 
    5:'5', 
    'X':'미분류', 
}
df.EXHST_GAS_GRD_CD = df.EXHST_GAS_GRD_CD.replace(grd_dict)
df.EXHST_GAS_GRD_CD.unique()

array(['1', '2', '3', '4', '5', '미분류'], dtype=object)

In [18]:
# 0.1s
df.to_csv(os.path.join(df3_fold, f'{name}.csv'), index=False)

## STD_BD_CAR_CURSTT_MOD2

In [20]:
# about 
name = 'STD_BD_CAR_CURSTT_MOD2'
file_name = f'{name}.xlsx'
df = pd.read_excel(os.path.join(raw3_fold, file_name))
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 833 entries, 0 to 832
Data columns (total 6 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   CRTR_YM           833 non-null    int64
 1   YR                833 non-null    int64
 2   FUEL_CD           833 non-null    object
 3   EXHST_GAS_GRD_CD  833 non-null    int64
 4   VHCL_MKCNT        833 non-null    int64
 5   LOAD_DT           833 non-null    int64
dtypes: int64(5), object(1)
memory usage: 39.2+ KB

In [21]:
df.EXHST_GAS_GRD_CD.unique()

array([1, 2, 3, 4, 5], dtype=int64)

In [22]:
today_date = datetime.today().strftime('%Y%m%d')
today_date

'20231024'

In [23]:
df.LOAD_DT = int(today_date)
df.head()

   CRTR_YM    YR FUEL_CD  EXHST_GAS_GRD_CD  VHCL_MKCNT   LOAD_DT
0   201907  2019     휘발유                 1      925978  20231024
1   201907  2019     휘발유                 2     8273839  20231024
2   201907  2019     휘발유                 3     1612221  20231024
3   201907  2019     휘발유                 4      437692  20231024
4   201907  2019     휘발유                 5       30425  20231024

In [24]:
# 0.1s
df.to_csv(os.path.join(df3_fold, f'{name}.csv'), index=False)

## STD_BD_CAR_CURSTT_MOD_4RD_INS

In [25]:
# about 
name = 'STD_BD_CAR_CURSTT_MOD_4RD_INS'
file_name = f'{name}.xlsx'
df = pd.read_excel(os.path.join(raw3_fold, file_name))
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 510 entries, 0 to 509
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   YR          510 non-null    int64
 1   CRTR_YM     510 non-null    int64
 2   FUEL_CD     510 non-null    object
 3   RGN         510 non-null    object
 4   CTPV_NM     510 non-null    object
 5   VHCL_MKCNT  510 non-null    int64
 6   LOAD_DT     510 non-null    datetime64[ns]
dtypes: datetime64[ns](1), int64(3), object(3)
memory usage: 28.0+ KB

In [26]:
df.head()

     YR  CRTR_YM FUEL_CD   RGN CTPV_NM  VHCL_MKCNT    LOAD_DT
0  2023   202306      경유   수도권      서울       99250 2023-10-23
1  2023   202306      경유   수도권      인천       54184 2023-10-23
2  2023   202306      경유   수도권      경기      237064 2023-10-23
3  2023   202306      경유  비수도권      부산       52885 2023-10-23
4  2023   202306      경유  비수도권      대구       47224 2023-10-23

In [27]:
# 0.1s
df.to_csv(os.path.join(df3_fold, f'{name}.csv'), index=False)

## STD_BD_CAR_CURSTT_MOD2_4RD_INS

In [28]:
# about 
name = 'STD_BD_CAR_CURSTT_MOD2_4RD_INS'
file_name = f'{name}.xlsx'
df = pd.read_excel(os.path.join(raw3_fold, file_name))
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 160 entries, 0 to 159
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   YR           160 non-null    int64
 1   CRTR_YM      160 non-null    int64
 2   VHCTY_CD_NM  160 non-null    object
 3   FUEL_CD      160 non-null    object
 4   VHCL_MKCNT   140 non-null    float64
 5   LOAD_DT      160 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(1), int64(2), object(2)
memory usage: 7.6+ KB

In [29]:
df.head()

     YR  CRTR_YM VHCTY_CD_NM FUEL_CD  VHCL_MKCNT    LOAD_DT
0  2023   202306          승용      경유    476669.0 2023-10-23
1  2023   202306          승합      경유    118636.0 2023-10-23
2  2023   202306          화물      경유    447152.0 2023-10-23
3  2023   202306          특수      경유      5955.0 2023-10-23
4  2023   202306          승용     휘발유     47012.0 2023-10-23

In [30]:
# 0.1s
df.to_csv(os.path.join(df3_fold, f'{name}.csv'), index=False)