# Library

In [2]:
import pandas as pd
import numpy as np
import os
from datetime import datetime
import datetime as dt
import time
import math
from tqdm import tqdm

In [3]:
pd.options.display.float_format = '{:.2f}'.format
# pd.reset_option('display.float_format')

# Fold

In [143]:
raw_fold = 'D:/data/processing/multi_road/raw'
an_fold = 'D:/data/processing/multi_road/analysis'
df_fold = 'D:/data/processing/multi_road/df'
img_fold = 'D:/data/processing/multi_road/img'

# xlsx to csv

In [5]:
root_dir = os.path.join(raw_fold, '통합측정기_길갈공업사 테스트_엑셀파일변환_20230930')
root_dir

'D:/data/processing/multi_road/raw\\통합측정기_길갈공업사 테스트_엑셀파일변환_20230930'

In [6]:
for root, dirs, files in os.walk(root_dir):
    print(root)
    print(dirs)
    print(files)

D:/data/processing/multi_road/raw\통합측정기_길갈공업사 테스트_엑셀파일변환_20230930
['2023_01월', '2023_02월', '2023_03월', '2023_04월', '2023_05월', '2023_06월', '2023_07월', '2023_08월']
[]
D:/data/processing/multi_road/raw\통합측정기_길갈공업사 테스트_엑셀파일변환_20230930\2023_01월
[]
['20230109_81주2475_00311.xlsx', '20230109_91도2605_00071.xlsx', '20230110_92버5997_00241.xlsx', '20230111_83저9417_00381.xlsx', '20230111_88너8204_00061.xlsx', '20230112_80무8640_00191.xlsx', '20230112_87무1358_00091.xlsx', '20230113_72마7632_00291.xlsx', '20230113_84부8929_00091.xlsx', '20230116_86로8753_00121.xlsx', '20230116_88너8201_00081.xlsx', '20230117_41오6625_00071.xlsx', '20230117_83서6450_00201.xlsx', '20230118_94노8712_00301.xlsx', '20230119_81라5012_00071.xlsx', '20230120_85더0518_00281.xlsx', '20230125_37고2035_00071.xlsx', '20230127_72다5196_00201.xlsx', '20230127_84소0326_00161.xlsx', '20230130_94노1645_00111.xlsx', '~$20230109_81주2475_00311.xlsx', '~$20230109_91도2605_00071.xlsx']
D:/data/processing/multi_road/raw\통합측정기_길갈공업사 테스트_엑셀파일변환_20230930\2023_02월
[]
['20230216_24구7277_쏘렌토.xlsx', '20230216_76마9134_그랜드스타렉스.xlsx', '20230216_81라5008_포터2.xlsx', '20230216_84수4732_봉고3.xlsx', '20230216_86우5729_봉고3.xlsx', '20230216_90보7264_코란도스포츠.xlsx', '20230216_90오7614_포터2.xlsx', '20230216_92누1338_포터2.xlsx', '20230217_73로2796_00321_144225.xlsx', '20230217_81오9842_00091_101219.xlsx', '20230217_87부5462_00051_093804.xlsx', '20230218_57두5878_00081_094224.xlsx', '20230220_75오8358_00331_163914.xlsx', '20230220_82머4121_00271_143924.xlsx', '20230220_87모7949_00241_141034.xlsx', '20230220_87오9026_00261_144726.xlsx', '20230221_70버5367_그랜드카니발.xlsx', '20230221_73수2824_그랜드스타렉스.xlsx', '20230221_81두0862_나르미1톤포터.xlsx', '20230221_81로7909_봉고3.xlsx', '20230221_82고8389_봉고3.xlsx', '20230221_82라6861_봉고3냉동차.xlsx', '20230221_83고6076_봉고3.xlsx', '20230221_84도9199_봉고3윙바디.xlsx', '20230221_84머0673_봉고3.xlsx', '20230221_90두9246_포터2.xlsx', '20230221_91루6684_포터2윙바디.xlsx', '20230222_74모8184_00311_152404.xlsx', '20230222_91도9205_00021_101123.xlsx', '20230222_91부7888_00241_145727.xlsx', '20230223_85서5531_포터2.xlsx', '20230223_98나1881_세정이동판매차.xlsx', '20230228_89도5183_00131_114050.xlsx']
D:/data/processing/multi_road/raw\통합측정기_길갈공업사 테스트_엑셀파일변환_20230930\2023_03월
[]
['20230302_50라9787_00091_102624.xlsx', '20230306_58구1728_00341_141924.xlsx', '20230306_87오2149_00291_133452.xlsx', '20230307_07우0148_00191_105325.xlsx', '20230307_63거8629_00121_095725.xlsx', '20230313_72루5332_그랜드카니발.xlsx', '20230313_80루1733_포터2.xlsx', '20230313_82고1042_코란도스포츠.xlsx', '20230313_89라5782_포터2.xlsx', '20230313_89소9152_그랜드스타렉스.xlsx', '20230313_97머8860_그랜드스타렉스.xlsx', '20230314_81오8633_00161_110238.xlsx', '20230314_89러3487_00201_114230.xlsx', '20230314_90누1801_00191_113326.xlsx', '20230314_99가5555_00121_101639.xlsx', '20230315_70거3077_00441_162422.xlsx', '20230315_74고9603_00301_132300.xlsx', '20230315_76마3906_00401_150144.xlsx', '20230315_78도6405_00311_132820.xlsx', '20230315_81버9839_00211_114447.xlsx', '20230315_83버0836_00091_101019.xlsx', '20230315_89루0375_00161_104153.xlsx', '20230316_49구8504_00011_083746.xlsx', '20230316_52로3577_00161_113647.xlsx', '20230316_70서8544_00191_120616.xlsx', '20230316_81너2892_00361_144352.xlsx', '20230316_82보6838_00071_095700.xlsx', '20230316_90누1907_00081_100313.xlsx', '20230316_91라6957_00131_105853.xlsx', '20230316_93머2693_00231_130209.xlsx', '20230317_39어6012_00281_131105.xlsx', '20230317_42노9057_00261_125530.xlsx', '20230317_62누4670_00461_161040.xlsx', '20230317_76어4689_00251_125002.xlsx', '20230317_82너2776_00401_150950.xlsx', '20230317_86무5744_00101_101242.xlsx', '20230317_87보2605_00071_095317.xlsx', '20230317_93머0837_00231_123846.xlsx', '20230318_01나4138_00061_090215.xlsx', '20230318_05수5677_00251_105742.xlsx', '20230318_18구2093_00041_085603.xlsx', '20230318_288저1140_00141_094439.xlsx', '20230318_50로5947_00111_092735.xlsx', '20230318_71노4785_00211_103050.xlsx', '20230318_79러3154_00071_090808.xlsx', '20230318_81너6121_00281_112106.xlsx', '20230320_05두1250_00131_104029.xlsx', '20230320_40가5416_00351.xlsx', '20230320_51저4328_00451_165114.xlsx', '20230320_64로2991_00181_112637.xlsx', '20230320_821부3371_00221_120223.xlsx', '20230320_82버1468_00371_161349.xlsx', '20230320_83가6293_00161_111521.xlsx', '20230320_86누8165_00071_095336.xlsx', '20230320_92무2108_00051_093926.xlsx', '20230320_92무4745_00311.xlsx', '20230320_95보3226_00191_113235.xlsx', '20230320_경기82바9370_00211_114725.xlsx', '20230320_경기86배3181_00331_141321.xlsx', '20230321_19다7947_00151_114039.xlsx', '20230321_79누4856_00331_160639.xlsx', '20230321_86누4039_00081_102715.xlsx', '20230321_86수4148_00231_140355.xlsx', '20230321_95모7096_00111_110021.xlsx', '20230322_77가7823_00061_095115.xlsx', '20230322_88머4154_00181_115050.xlsx', '20230322_90마8537_00441_163557.xlsx', '20230327_27어6898_00381_144242.xlsx', '20230327_35우8025_00101_102550.xlsx', '20230327_43우0148_00421_151803.xlsx', '20230327_87우5378_00411_150809.xlsx', '20230327_91노6798_00351_140923.xlsx', '20230327_92수4594_00361_142136.xlsx', '20230327_93버3269_00191_112308.xlsx', '20230327_95거2558_00061_094002.xlsx', '20230327_95수3004_00141_104829.xlsx', '20230328_35마4653_00131_102602.xlsx', '20230328_45다8202_00341_151759.xlsx', '20230328_51주6030_00171_104956.xlsx', '20230328_53더0270_00301_144747.xlsx', '20230328_73어3157_00081.xlsx', '20230328_74모8118_00381_155646.xlsx', '20230328_86모3002_00011_082328.xlsx', '20230328_경기91배1575_00111_095511.xlsx', '20230329_68소3661_00311_145414.xlsx', '20230329_73러9442_00321_151601.xlsx', '20230329_74모8396_00301_144211.xlsx', '20230329_90누1841_00281_142346.xlsx', '20230329_90보5224_00411_171348.xlsx', '20230329_92거7424_00201_130422.xlsx', '20230330_97더7830_00021_090601.xlsx', '20230331_92어4126_00171_114659.xlsx']
D:/data/processing/multi_road/raw\통합측정기_길갈공업사 테스트_엑셀파일변환_20230930\2023_04월
[]
['20230401_73다4123_00201_110329.xlsx', '20230401_74모8138_00071_091646.xlsx', '20230401_90두4867_00041_090049.xlsx', '20230401_경기94자5184_00211_111139.xlsx', '20230403_70서8572_00481_161530.xlsx', '20230403_73구8908_00081_100341.xlsx', '20230403_80너8968_00051_094534.xlsx', '20230403_83노2864_00451_154929.xlsx', '20230403_83더8304_00311_134629.xlsx', '20230403_83무4716_00471_160302.xlsx', '20230403_84머0622_00321_135349.xlsx', '20230403_90너1178_00281_132041.xlsx', '20230403_93다5775_00071.xlsx', '20230403_94라8400_00111_103657.xlsx', '20230403_94무0763_00251_122507.xlsx', '20230403_96로7938_00501_162225.xlsx', '20230403_경기89사5308_00271_131012.xlsx', '20230404_82러1773_00091_104534.xlsx', '20230404_87머6645_00051_101632.xlsx', '20230404_89주3909_00231_132936.xlsx', '20230404_91주9703_00171_123031.xlsx', '20230404_95수3120_00131_113249.xlsx', '20230405_40로1872_00391_141718.xlsx', '20230405_70서8907_00031_083355.xlsx', '20230405_79러3094_00221_113418.xlsx', '20230405_83누5115_00341_135036.xlsx', '20230405_83라8371_00201_112759.xlsx', '20230405_83소4374_00441_152453.xlsx', '20230405_85도6828_00471_155336.xlsx', '20230405_92노0130_00261_120440.xlsx', '20230405_92수3206_00171_104353.xlsx', '20230405_94주2623_00191_110700.xlsx', '20230407_70오2725_00151_110229.xlsx', '20230407_74모8003_00031_093121.xlsx', '20230407_86나7574_00211_122543.xlsx', '20230407_89구9848_00261_134355.xlsx', '20230407_89도7498_00131_104728.xlsx', '20230407_92소1877_00291_141352.xlsx', '20230407_93러0146_00061_095030.xlsx', '20230408_74소7221_00131_103730.xlsx', '20230408_81노8565_00161_114108.xlsx', '20230408_97로4470_00091_100153.xlsx', '20230410_39어1763_00541_163141.xlsx', '20230410_75나8348_00371_141108.xlsx', '20230410_76마1323_00551.xlsx', '20230410_83무4694_00091_100256.xlsx', '20230410_85수8802_00521_155745.xlsx', '20230410_90두9057_00161_104318.xlsx', '20230410_97수4956_00311_122848.xlsx', '20230410_경기86사1798_00451_150642.xlsx', '20230411_55무3658_00441_155440.xlsx', '20230411_81라5155_00171_113745.xlsx', '20230411_82러6790_00361_143549.xlsx', '20230411_83무2238_00241_123547.xlsx', '20230411_83무6125_00101_101803.xlsx', '20230411_89로3968_00341_141401.xlsx', '20230411_91부1404_00181_114335.xlsx', '20230411_93로3558_00161_112735.xlsx', '20230411_94소4570_00071_095224.xlsx', '20230411_97조5534_00231_120710.xlsx', '20230412_11저2191_00381_151318.xlsx', '20230412_23모9881_00441_160946.xlsx', '20230412_71더3620_00361_145910.xlsx', '20230412_74다8725_00341_144648.xlsx', '20230412_76고2357_00281_135526.xlsx', '20230412_82라7218_00321_143236.xlsx', '20230412_83도5228_00481_165102.xlsx', '20230412_84조1868_00231_132812.xlsx', '20230412_91구6671_00241_133400.xlsx', '20230412_91더8479_00451_160445.xlsx', '20230412_97수1761_00101_104456.xlsx', '20230413_25루7357_00451_164516.xlsx', '20230413_72오8121_00431_162421.xlsx', '20230413_75보9627_00371_152204.xlsx', '20230413_88도9551_00111_102756.xlsx', '20230413_90도8658_00241_130121.xlsx', '20230413_90두9057_00101_101955.xlsx', '20230413_91라8722_00161_110724.xlsx', '20230413_94부2104_00291_140459.xlsx', '20230413_97고1591_00031_085319.xlsx', '20230414_74소3752_00041_092408.xlsx', '20230414_80더9165_00321_144649.xlsx', '20230414_83버7349_00201_121455.xlsx', '20230414_84주1490_00071_095151.xlsx', '20230414_85어8644_00051_093207.xlsx', '20230414_91도9929_00011_081727.xlsx', '20230414_92거7486_00291_141126.xlsx', '20230414_92누8892_00231_132028.xlsx', '20230414_94나7255_00241_133351.xlsx', '20230414_94로1072_00021_085642.xlsx', '20230414_97누9291_00181_111455.xlsx', '20230415_87고5434_00021_084132.xlsx', '20230415_91라8722_00051_093154.xlsx', '20230417_50고7247_00241_124427.xlsx', '20230417_50주3512_00481_160404.xlsx', '20230417_73마7380_00491_160906.xlsx', '20230417_75보4540_00391.xlsx', '20230417_83주1836_00081_092325.xlsx', '20230417_90저5870_00251_125205.xlsx', '20230417_92도8636_00371_144033.xlsx', '20230417_92무4653_00151_112037.xlsx', '20230417_92어4706_00121_105619.xlsx', '20230417_93너2953_00061_091637.xlsx', '20230417_94나2427_00351_142355.xlsx', '20230418_09너9126_00271_132756.xlsx', '20230418_65노1725_00221_123818.xlsx', '20230418_70어4221_00111_103629.xlsx', '20230418_81거9383_00301_135147.xlsx', '20230418_82노8376_00151_111238.xlsx', '20230418_83마2194_00131_105251.xlsx', '20230418_84머6500_00071_101852.xlsx', '20230418_87부4289_00091_103025.xlsx', '20230418_90수5160_00211_124412.xlsx', '20230418_97로4519_00291_134524.xlsx', '20230419_31두9361_00271_123623.xlsx', '20230419_64거3460_00191_110349.xlsx', '20230419_74다8850_00371_142138.xlsx', '20230419_75구5316_00101_100443.xlsx', '20230419_78보3289_00341_140337.xlsx', '20230419_81머5531_00281_124807.xlsx', '20230419_81우6567_00311_132355.xlsx', '20230419_82고1167_00141_103901.xlsx', '20230419_87오8146_00491_165511.xlsx', '20230419_89더0744_00201_111019.xlsx', '20230419_91라9289_00211_111712.xlsx', '20230419_92고7082_00031_085830.xlsx', '20230419_94나2148_00431_152347.xlsx', '20230419_97어8878_00221_112924.xlsx', '20230419_97조7760_00181_105712.xlsx', '20230420_46우4268_00111_110242.xlsx', '20230420_73고7381_00061_095617.xlsx', '20230420_78로9437_00101_104911.xlsx', '20230420_87우5843_00131_111713.xlsx', '20230420_89노8476_00291_144528.xlsx', '20230420_97두8358_00011_090440.xlsx', '20230421_17무5283_00041_101051.xlsx', '20230421_36머1621_00331_165220.xlsx', '20230421_66고3592_00271_151012.xlsx', '20230421_88서0863_00341_170227.xlsx', '20230421_91도6567_00031_094331.xlsx', '20230421_98구2722_00301_161907.xlsx', '20230421_98저9928_00211_135142.xlsx', '20230422_47라9381_00071_093720.xlsx', '20230422_827구1840_00091_095712.xlsx', '20230422_827구1842_00121_101140.xlsx', '20230422_827구1848_00111_101929.xlsx', '20230422_827구1853_00061_093106.xlsx', '20230424_19우2588_00221_114215.xlsx', '20230424_29어1454_00161_105543.xlsx', '20230424_38우8885_00331_135729.xlsx', '20230424_81보7290_00281_125035.xlsx', '20230424_86너5868_00291_121346.xlsx', '20230424_86로7272_00071_093544.xlsx', '20230424_86머0523_00361_141916.xlsx', '20230424_86수6363_00261_120657.xlsx', '20230424_91도3601_00441_162200.xlsx', '20230424_92무4614_00131_102759.xlsx', '20230424_97두8591_00421_153343.xlsx', '20230424_97보8493_00241_115607.xlsx', '20230425_24너6914_00531_162207.xlsx', '20230425_72나3802_00061_101130.xlsx', '20230425_73마1885_00051_092436.xlsx', '20230425_77너8329_00131_105109.xlsx', '20230425_80머6588_00291_133546.xlsx', '20230425_81라2999_00361_142849.xlsx', '20230425_83저9177_00261_132544.xlsx', '20230425_86러8381_00041_090948.xlsx', '20230425_89저6323_00321_141852.xlsx', '20230425_90러6184_00031_084823.xlsx', '20230425_92어0659_00181_113043.xlsx', '20230425_경기86배1212_00411_150637.xlsx', '20230426_04가5584_00101_101849.xlsx', '20230426_23더1080_00351_151429.xlsx', '20230426_74서2006_00221_125447.xlsx', '20230426_75보5555_00301_144350.xlsx', '20230426_91부7180_00191_112953.xlsx', '20230426_93다5786_00051_094907.xlsx', '20230426_95모8543_00371_152656.xlsx', '20230427_42어6827_00101_111340.xlsx', '20230427_72루9328_00371_160659.xlsx', '20230427_82노5347_00181_130313.xlsx', '20230427_84수2856_00231_135952.xlsx', '20230427_86나6534_00161_124343.xlsx', '20230427_86로7491_00171_125738.xlsx', '20230427_89라7001_00031_092221.xlsx', '20230427_89루5850_00121_113020.xlsx', '20230427_90오8281_00081_103756.xlsx', '20230427_92무6357_00361_154232.xlsx', '20230427_96머8732_00241_140712.xlsx', '20230427_97보8448_00141_114348.xlsx', '20230429_23더1334_00151_110449.xlsx', '20230429_23버3369_00181_114641.xlsx', '20230429_70마8686_00051_091017.xlsx', '20230429_86조8947_00011_082729.xlsx', '20230429_91노7179_00091_095452.xlsx', '20230429_경기94자8160_00121_104653.xlsx']
D:/data/processing/multi_road/raw\통합측정기_길갈공업사 테스트_엑셀파일변환_20230930\2023_05월
[]
['20230502_12더1500_00341_140545.xlsx', '20230502_31가6532_00331_135512.xlsx', '20230502_34우1440_00021_082955.xlsx', '20230502_38가6638_00551_165309.xlsx', '20230502_57어9704_00301_130935.xlsx', '20230502_73마7316_00451_154638.xlsx', '20230502_74무8062_00031_084239.xlsx', '20230502_78어3604_00281_122540.xlsx', '20230502_822머2808_00361_142702.xlsx', '20230502_82노8627_00161_104313.xlsx', '20230502_82주5417_00151_105029.xlsx', '20230502_92도8629_00051_085558.xlsx', '20230502_95주5727_00271_121029.xlsx', '20230502_97두5740_00411_151646.xlsx', '20230502_98서2499_00111_100514.xlsx', '20230503_14모6519_00091_103309.xlsx', '20230503_39우3400_00101_104342.xlsx', '20230503_48보2045_00241_134738.xlsx', '20230503_70버7163_00041_095251.xlsx', '20230503_70주0358_00171_120046.xlsx', '20230503_74우8643_00351_152617.xlsx', '20230503_82수1788_00161_115321.xlsx', '20230503_85도9765_00071_102439.xlsx', '20230503_87로8981_00201_130654.xlsx', '20230504_06저8628_00301_141515.xlsx', '20230504_11보9230_00391_154519.xlsx', '20230504_68너3455_00401_155332.xlsx', '20230504_70보8860_00091_100253.xlsx', '20230504_89루6258_00271_135616.xlsx', '20230504_90두9078_00061_092840.xlsx', '20230506_46거9631_00031_092902.xlsx', '20230506_78마2284_00021_091413.xlsx', '20230508_28더9826_00241_112849.xlsx', '20230508_43거2654_00071_092731.xlsx', '20230508_67저1641_00411_150617.xlsx', '20230508_70주0349_00261_121602.xlsx', '20230508_79가6840_00221_111535.xlsx', '20230508_83로2685_00401_150007.xlsx', '20230508_95주2420_00311_132944.xlsx', '20230508_96러0816_00331_134141.xlsx', '20230509_28머4791_00321_125723.xlsx', '20230509_61너7603_00301_120450.xlsx', '20230509_65너9771_00061_091519.xlsx', '20230510_39우7092_00061_093804.xlsx', '20230510_50두5043_00161_110110.xlsx', '20230510_67주7148_00501_163538.xlsx', '20230511_02나3503_00071_093247.xlsx', '20230511_17버1467_00101_100801.xlsx', '20230512_30러8674_00131_105033.xlsx', '20230512_52보2785_00431_144315.xlsx', '20230515_41보8188_00481_154523.xlsx', '20230515_45어4159_00451_152132.xlsx', '20230515_71무2188_00411_150347.xlsx', '20230516_39조9153_00161_112556.xlsx', '20230516_72보3044_00361_142301.xlsx', '20230517_76라1536_00151_105954.xlsx', '20230517_81마8837_00351_145612.xlsx', '20230518_75보4544_00071_095849.xlsx', '20230518_88수0841_00291_140336.xlsx', '20230522_20보5038_00511_165138.xlsx', '20230522_52고9345_00381_152604.xlsx', '20230522_57머9832_00271_135525.xlsx', '20230522_64로6009_00371_152027.xlsx', '20230522_70모7935_00031_091459.xlsx', '20230522_76라6066_00461.xlsx', '20230522_76모7526_00491_164028.xlsx', '20230522_79로1458_00321_144002.xlsx', '20230522_82서8821_00151_113600.xlsx', '20230522_85오9468_00281_140217.xlsx', '20230522_86두6532_00451_160902.xlsx', '20230522_89저8701_00351_150652.xlsx', '20230522_97두7957_00341_145532.xlsx', '20230522_경기57너3134_00121_104521.xlsx', '20230523_72나3315_00231_113631.xlsx', '20230523_74서2214_00061_095406.xlsx', '20230523_79누9104_00521_160319.xlsx', '20230523_81나3870_00371_140656.xlsx', '20230523_83마8751_00191_110027.xlsx', '20230523_89수7548_00311_130039.xlsx', '20230523_90오0925_00131_103125.xlsx', '20230523_93서7724_00391_141900.xlsx', '20230523_96소5956_00441_150005.xlsx', '20230524_186로7728_00121_104250.xlsx', '20230524_241노9955_00221_124049.xlsx', '20230524_86도4225_00411_153430.xlsx', '20230524_90누5422_00361_150636.xlsx', '20230525_11로7315_00551_164447.xlsx', '20230525_17소2812_00161_110524.xlsx', '20230525_69러3693_00181_111446.xlsx', '20230525_72로2016_00141_103731.xlsx', '20230525_76가3746_00371_142847.xlsx', '20230525_78고7087_00111_101636.xlsx', '20230525_80보9527_00401_145304.xlsx', '20230525_81마8774_00261_121351.xlsx', '20230525_82가1907_00091_095648.xlsx', '20230525_85로8546_00361_142320.xlsx', '20230525_85저2504_00571_165056.xlsx', '20230525_90더8143_00381_143655.xlsx', '20230525_90두1851_00461_161000.xlsx', '20230525_90로8666_00211_113837.xlsx', '20230525_91도2296_00081_094939.xlsx', '20230525_91오5636_00411_150106.xlsx', '20230525_92조0228_00481_154149.xlsx', '20230525_97두8598_00201_113022.xlsx', '20230525_97오5386_00031_090234.xlsx', '20230525_경기76아1569_00421_151214.xlsx', '20230526_02더8660_00231_134725.xlsx', '20230526_91노9758_00201_114301.xlsx', '20230526_92구3856_00311_155324.xlsx', '20230526_95주6888_00171_111448.xlsx', '20230530_13더3765_00521_162817.xlsx', '20230530_26가3257_00451_151341.xlsx', '20230530_46모6692_00221_120859.xlsx', '20230530_46소1563_00391_143546.xlsx', '20230530_57머9832_00511_161712.xlsx', '20230530_74오2239_00491_154644.xlsx', '20230530_78거5168_00031_092247.xlsx', '20230530_82무2913_00311_134613.xlsx', '20230530_85저7453_00131_110212.xlsx', '20230530_86라0469_00481_153547.xlsx', '20230530_87수2689_00381_142842.xlsx', '20230530_90누2513_00431_150321.xlsx', '20230530_92고9194_00321_135151.xlsx', '20230530_93너0257_00261_130720.xlsx', '20230530_97서7847_00151_111824.xlsx', '20230530_경기91사2560_00471_152936.xlsx', '20230531_23서2360_00051_092355.xlsx', '20230531_53고1802_00071_095217.xlsx', '20230531_88거4561_00391_160435.xlsx', '20230531_96고9266_00331_145045.xlsx', '20230531_97고5593_00431_163211.xlsx', '20230531_97도9072_00181_113808.xlsx']
D:/data/processing/multi_road/raw\통합측정기_길갈공업사 테스트_엑셀파일변환_20230930\2023_06월
[]

In [7]:
for root, dirs, files in os.walk(root_dir):
    if len(files) != 0:
        for file in files:
            print(os.path.join(root, file))

D:/data/processing/multi_road/raw\통합측정기_길갈공업사 테스트_엑셀파일변환_20230930\2023_01월\20230109_81주2475_00311.xlsx
D:/data/processing/multi_road/raw\통합측정기_길갈공업사 테스트_엑셀파일변환_20230930\2023_01월\20230109_91도2605_00071.xlsx
D:/data/processing/multi_road/raw\통합측정기_길갈공업사 테스트_엑셀파일변환_20230930\2023_01월\20230110_92버5997_00241.xlsx
D:/data/processing/multi_road/raw\통합측정기_길갈공업사 테스트_엑셀파일변환_20230930\2023_01월\20230111_83저9417_00381.xlsx
D:/data/processing/multi_road/raw\통합측정기_길갈공업사 테스트_엑셀파일변환_20230930\2023_01월\20230111_88너8204_00061.xlsx
D:/data/processing/multi_road/raw\통합측정기_길갈공업사 테스트_엑셀파일변환_20230930\2023_01월\20230112_80무8640_00191.xlsx
D:/data/processing/multi_road/raw\통합측정기_길갈공업사 테스트_엑셀파일변환_20230930\2023_01월\20230112_87무1358_00091.xlsx
D:/data/processing/multi_road/raw\통합측정기_길갈공업사 테스트_엑셀파일변환_20230930\2023_01월\20230113_72마7632_00291.xlsx
D:/data/processing/multi_road/raw\통합측정기_길갈공업사 테스트_엑셀파일변환_20230930\2023_01월\20230113_84부8929_00091.xlsx
D:/data/processing/multi_road/raw\통합측정기_길갈공업사 테스트_엑셀파일변환_20230930\2023_01월\20230116_86로8753_00121.xlsx
D:/data/processing/multi_road/raw\통합측정기_길갈공업사 테스트_엑셀파일변환_20230930\2023_01월\20230116_88너8201_00081.xlsx
D:/data/processing/multi_road/raw\통합측정기_길갈공업사 테스트_엑셀파일변환_20230930\2023_01월\20230117_41오6625_00071.xlsx
D:/data/processing/multi_road/raw\통합측정기_길갈공업사 테스트_엑셀파일변환_20230930\2023_01월\20230117_83서6450_00201.xlsx
D:/data/processing/multi_road/raw\통합측정기_길갈공업사 테스트_엑셀파일변환_20230930\2023_01월\20230118_94노8712_00301.xlsx
D:/data/processing/multi_road/raw\통합측정기_길갈공업사 테스트_엑셀파일변환_20230930\2023_01월\20230119_81라5012_00071.xlsx
D:/data/processing/multi_road/raw\통합측정기_길갈공업사 테스트_엑셀파일변환_20230930\2023_01월\20230120_85더0518_00281.xlsx
D:/data/processing/multi_road/raw\통합측정기_길갈공업사 테스트_엑셀파일변환_20230930\2023_01월\20230125_37고2035_00071.xlsx
D:/data/processing/multi_road/raw\통합측정기_길갈공업사 테스트_엑셀파일변환_20230930\2023_01월\20230127_72다5196_00201.xlsx
D:/data/processing/multi_road/raw\통합측정기_길갈공업사 테스트_엑셀파일변환_20230930\2023_01월\20230127_84소0326_00161.xlsx
D:/data/processing/multi_road/raw\통합측정기_길갈공업사 테스트_엑셀파일변환_20230930\2023_01월\20230130_94노1645_00111.xlsx
D:/data/processing/multi_road/raw\통합측정기_길갈공업사 테스트_엑셀파일변환_20230930\2023_01월\~$20230109_81주2475_00311.xlsx
D:/data/processing/multi_road/raw\통합측정기_길갈공업사 테스트_엑셀파일변환_20230930\2023_01월\~$20230109_91도2605_00071.xlsx
D:/data/processing/multi_road/raw\통합측정기_길갈공업사 테스트_엑셀파일변환_20230930\2023_02월\20230216_24구7277_쏘렌토.xlsx
D:/data/processing/multi_road/raw\통합측정기_길갈공업사 테스트_엑셀파일변환_20230930\2023_02월\20230216_76마9134_그랜드스타렉스.xlsx
D:/data/processing/multi_road/raw\통합측정기_길갈공업사 테스트_엑셀파일변환_20230930\2023_02월\20230216_81라5008_포터2.xlsx
D:/data/processing/multi_road/raw\통합측정기_길갈공업사 테스트_엑셀파일변환_20230930\2023_02월\20230216_84수4732_봉고3.xlsx
D:/data/processing/multi_road/raw\통합측정기_길갈공업사 테스트_엑셀파일변환_20230930\2023_02월\20230216_86우5729_봉고3.xlsx
D:/data/processing/multi_road/raw\통합측정기_길갈공업사 테스트_엑셀파일변환_20230930\2023_02월\20230216_90보7264_코란도스포츠.xlsx
D:/data/processing/multi_road/raw\통합측정기_길갈공업사 테스트_엑셀파일변환_20230930\2023_02월\20230216_90오7614_포터2.xlsx
D:/data/processing/multi_road/raw\통합측정기_길갈공업사 테스트_엑셀파일변환_20230930\2023_02월\20230216_92누1338_포터2.xlsx
D:/data/processing/multi_road/raw\통합측정기_길갈공업사 테스트_엑셀파일변환_20230930\2023_02월\20230217_73로2796_00321_144225.xlsx
D:/data/processing/multi_road/raw\통합측정기_길갈공업사 테스트_엑셀파일변환_20230930\2023_02월\20230217_81오9842_00091_101219.xlsx
D:/data/processing/multi_road/raw\통합측정기_길갈공업사 테스트_엑셀파일변환_20230930\2023_02월\20230217_87부5462_00051_093804.xlsx
D:/data/processing/multi_road/raw\통합측정기_길갈공업사 테스트_엑셀파일변환_20230930\2023_02월\20230218_57두5878_00081_094224.xlsx
D:/data/processing/multi_road/raw\통합측정기_길갈공업사 테스트_엑셀파일변환_20230930\2023_02월\20230220_75오8358_00331_163914.xlsx
D:/data/processing/multi_road/raw\통합측정기_길갈공업사 테스트_엑셀파일변환_20230930\2023_02월\20230220_82머4121_00271_143924.xlsx
D:/data/processing/multi_road/raw\통합측정기_길갈공업사 테스트_엑셀파일변환_20230930\2023_02월\20230220_87모7949_00241_141034.xlsx
D:/data/processing/multi_road/raw\통합측정기_길갈공업사 테스트_엑셀파일변환_20230930\2023_02월\20230220_87오9026_00261_144726.xlsx
D:/data/processing/multi_road/raw\통합측정기_길갈공업사 테스트_엑셀파일변환_20230930\2023_02월\20230221_70버5367_그랜드카니발.xlsx
D:/data/processing/multi_road/raw\통합측정기_길갈공업사 테스트_엑셀파일변환_20230930\2023_02월\20230221_73수2824_그랜드스타렉스.xlsx
D:/data/processing/multi_road/raw\통합측정기_길갈공업사 테스트_엑셀파일변환_20230930\2023_02월\20230221_81두0862_나르미1톤포터.xlsx
D:/data/processing/multi_road/raw\통합측정기_길갈공업사 테스트_엑셀파일변환_20230930\2023_02월\20230221_81로7909_봉고3.xlsx
D:/data/processing/multi_road/raw\통합측정기_길갈공업사 테스트_엑셀파일변환_20230930\2023_02월\20230221_82고8389_봉고3.xlsx
D:/data/processing/multi_road/raw\통합측정기_길갈공업사 테스트_엑셀파일변환_20230930\2023_02월\20230221_82라6861_봉고3냉동차.xlsx
D:/data/processing/multi_road/raw\통합측정기_길갈공업사 테스트_엑셀파일변환_20230930\2023_02월\20230221_83고6076_봉고3.xlsx
D:/data/processing/multi_road/raw\통합측정기_길갈공업사 테스트_엑셀파일변환_20230930\2023_02월\20230221_84도9199_봉고3윙바디.xlsx
D:/data/processing/multi_road/raw\통합측정기_길갈공업사 테스트_엑셀파일변환_20230930\2023_02월\20230221_84머0673_봉고3.xlsx
D:/data/processing/multi_road/raw\통합측정기_길갈공업사 테스트_엑셀파일변환_20230930\2023_02월\20230221_90두9246_포터2.xlsx
D:/data/processing/multi_road/raw\통합측정기_길갈공업사 테스트_엑셀파일변환_20230930\2023_02월\20230221_91루6684_포터2윙바디.xlsx
D:/data/processing/multi_road/raw\통합측정기_길갈공업사 테스트_엑셀파일변환_20230930\2023_02월\20230222_74모8184_00311_152404.xlsx
D:/data/processing/multi_road/raw\통합측정기_길갈공업사 테스트_엑셀파일변환_20230930\2023_02월\20230222_91도9205_00021_101123.xlsx
D:/data/processing/multi_road/raw\통합측정기_길갈공업사 테스트_엑셀파일변환_20230930\2023_02월\20230222_91부7888_00241_145727.xlsx
D:/data/processing/multi_road/raw\통합측정기_길갈공업사 테스트_엑셀파일변환_20230930\2023_02월\20230223_85서5531_포터2.xlsx
D:/data/processing/multi_road/raw\통합측정기_길갈공업사 테스트_엑셀파일변환_20230930\2023_02월\20230223_98나1881_세정이동판매차.xlsx
D:/data/processing/multi_road/raw\통합측정기_길갈공업사 테스트_엑셀파일변환_20230930\2023_02월\20230228_89도5183_00131_114050.xlsx
D:/data/processing/multi_road/raw\통합측정기_길갈공업사 테스트_엑셀파일변환_20230930\2023_03월\20230302_50라9787_00091_102624.xlsx
D:/data/processing/multi_road/raw\통합측정기_길갈공업사 테스트_엑셀파일변환_20230930\2023_03월\20230306_58구1728_00341_141924.xlsx
D:/data/processing/multi_road/raw\통합측정기_길갈공업사 테스트_엑셀파일변환_20230930\2023_03월\20230306_87오2149_00291_133452.xlsx
D:/data/processing/multi_road/raw\통합측정기_길갈공업사 테스트_엑셀파일변환_20230930\2023_03월\20230307_07우0148_00191_105325.xlsx
D:/data/processing/multi_road/raw\통합측정기_길갈공업사 테스트_엑셀파일변환_20230930\2023_03월\20230307_63거8629_00121_095725.xlsx
D:/data/processing/multi_road/raw\통합측정기_길갈공업사 테스트_엑셀파일변환_20230930\2023_03월\20230313_72루5332_그랜드카니발.xlsx
D:/data/processing/multi_road/raw\통합측정기_길갈공업사 테스트_엑셀파일변환_20230930\2023_03월\20230313_80루1733_포터2.xlsx
D:/data/processing/multi_road/raw\통합측정기_길갈공업사 테스트_엑셀파일변환_20230930\2023_03월\20230313_82고1042_코란도스포츠.xlsx
D:/data/processing/multi_road/raw\통합측정기_길갈공업사 테스트_엑셀파일변환_20230930\2023_03월\20230313_89라5782_포터2.xlsx
D:/data/processing/multi_road/raw\통합측정기_길갈공업사 테스트_엑셀파일변환_20230930\2023_03월\20230313_89소9152_그랜드스타렉스.xlsx
D:/data/processing/multi_road/raw\통합측정기_길갈공업사 테스트_엑셀파일변환_20230930\2023_03월\20230313_97머8860_그랜드스타렉스.xlsx
D:/data/processing/multi_road/raw\통합측정기_길갈공업사 테스트_엑셀파일변환_20230930\2023_03월\20230314_81오8633_00161_110238.xlsx
D:/data/processing/multi_road/raw\통합측정기_길갈공업사 테스트_엑셀파일변환_20230930\2023_03월\20230314_89러3487_00201_114230.xlsx
D:/data/processing/multi_road/raw\통합측정기_길갈공업사 테스트_엑셀파일변환_20230930\2023_03월\20230314_90누1801_00191_113326.xlsx
D:/data/processing/multi_road/raw\통합측정기_길갈공업사 테스트_엑셀파일변환_20230930\2023_03월\20230314_99가5555_00121_101639.xlsx
D:/data/processing/multi_road/raw\통합측정기_길갈공업사 테스트_엑셀파일변환_20230930\2023_03월\20230315_70거3077_00441_162422.xlsx
D:/data/processing/multi_road/raw\통합측정기_길갈공업사 테스트_엑셀파일변환_20230930\2023_03월\20230315_74고9603_00301_132300.xlsx
D:/data/processing/multi_road/raw\통합측정기_길갈공업사 테스트_엑셀파일변환_20230930\2023_03월\20230315_76마3906_00401_150144.xlsx
D:/data/processing/multi_road/raw\통합측정기_길갈공업사 테스트_엑셀파일변환_20230930\2023_03월\20230315_78도6405_00311_132820.xlsx
D:/data/processing/multi_road/raw\통합측정기_길갈공업사 테스트_엑셀파일변환_20230930\2023_03월\20230315_81버9839_00211_114447.xlsx
D:/data/processing/multi_road/raw\통합측정기_길갈공업사 테스트_엑셀파일변환_20230930\2023_03월\20230315_83버0836_00091_101019.xlsx
D:/data/processing/multi_road/raw\통합측정기_길갈공업사 테스트_엑셀파일변환_20230930\2023_03월\20230315_89루0375_00161_104153.xlsx
D:/data/processing/multi_road/raw\통합측정기_길갈공업사 테스트_엑셀파일변환_20230930\2023_03월\20230316_49구8504_00011_083746.xlsx
D:/data/processing/multi_road/raw\통합측정기_길갈공업사 테스트_엑셀파일변환_20230930\2023_03월\20230316_52로3577_00161_113647.xlsx
D:/data/processing/multi_road/raw\통합측정기_길갈공업사 테스트_엑셀파일변환_20230930\2023_03월\20230316_70서8544_00191_120616.xlsx
D:/data/processing/multi_road/raw\통합측정기_길갈공업사 테스트_엑셀파일변환_20230930\2023_03월\20230316_81너2892_00361_144352.xlsx
D:/data/processing/multi_road/raw\통합측정기_길갈공업사 테스트_엑셀파일변환_20230930\2023_03월\20230316_82보6838_00071_095700.xlsx
D:/data/processing/multi_road/raw\통합측정기_길갈공업사 테스트_엑셀파일변환_20230930\2023_03월\20230316_90누1907_00081_100313.xlsx
D:/data/processing/multi_road/raw\통합측정기_길갈공업사 테스트_엑셀파일변환_20230930\2023_03월\20230316_91라6957_00131_105853.xlsx
D:/data/processing/multi_road/raw\통합측정기_길갈공업사 테스트_엑셀파일변환_20230930\2023_03월\20230316_93머2693_00231_130209.xlsx
D:/data/processing/multi_road/raw\통합측정기_길갈공업사 테스트_엑셀파일변환_20230930\2023_03월\20230317_39어6012_00281_131105.xlsx
D:/data/processing/multi_road/raw\통합측정기_길갈공업사 테스트_엑셀파일변환_20230930\2023_03월\20230317_42노9057_00261_125530.xlsx
D:/data/processing/multi_road/raw\통합측정기_길갈공업사 테스트_엑셀파일변환_20230930\2023_03월\20230317_62누4670_00461_161040.xlsx
D:/data/processing/multi_road/raw\통합측정기_길갈공업사 테스트_엑셀파일변환_20230930\2023_03월\20230317_76어4689_00251_125002.xlsx
D:/data/processing/multi_road/raw\통합측정기_길갈공업사 테스트_엑셀파일변환_20230930\2023_03월\20230317_82너2776_00401_150950.xlsx
D:/data/processing/multi_road/raw\통합측정기_길갈공업사 테스트_엑셀파일변환_20230930\2023_03월\20230317_86무5744_00101_101242.xlsx
D:/data/processing/multi_road/raw\통합측정기_길갈공업사 테스트_엑셀파일변환_20230930\2023_03월\20230317_87보2605_00071_095317.xlsx
D:/data/processing/multi_road/raw\통합측정기_길갈공업사 테스트_엑셀파일변환_20230930\2023_03월\20230317_93머0837_00231_123846.xlsx
D:/data/processing/multi_road/raw\통합측정기_길갈공업사 테스트_엑셀파일변환_20230930\2023_03월\20230318_01나4138_00061_090215.xlsx
D:/data/processing/multi_road/raw\통합측정기_길갈공업사 테스트_엑셀파일변환_20230930\2023_03월\20230318_05수5677_00251_105742.xlsx
D:/data/processing/multi_road/raw\통합측정기_길갈공업사 테스트_엑셀파일변환_20230930\2023_03월\20230318_18구2093_00041_085603.xlsx
D:/data/processing/multi_road/raw\통합측정기_길갈공업사 테스트_엑셀파일변환_20230930\2023_03월\20230318_288저1140_00141_094439.xlsx
D:/data/processing/multi_road/raw\통합측정기_길갈공업사 테스트_엑셀파일변환_20230930\2023_03월\20230318_50로5947_00111_092735.xlsx
D:/data/processing/multi_road/raw\통합측정기_길갈공업사 테스트_엑셀파일변환_20230930\2023_03월\20230318_71노4785_00211_103050.xlsx
D:/data/processing/multi_road/raw\통합측정기_길갈공업사 테스트_엑셀파일변환_20230930\2023_03월\20230318_79러3154_00071_090808.xlsx
D:/data/processing/multi_road/raw\통합측정기_길갈공업사 테스트_엑셀파일변환_20230930\2023_03월\20230318_81너6121_00281_112106.xlsx
D:/data/processing/multi_road/raw\통합측정기_길갈공업사 테스트_엑셀파일변환_20230930\2023_03월\20230320_05두1250_00131_104029.xlsx
D:/data/processing/multi_road/raw\통합측정기_길갈공업사 테스트_엑셀파일변환_20230930\2023_03월\20230320_40가5416_00351.xlsx
D:/data/processing/multi_road/raw\통합측정기_길갈공업사 테스트_엑셀파일변환_20230930\2023_03월\20230320_51저4328_00451_165114.xlsx
D:/data/processing/multi_road/raw\통합측정기_길갈공업사 테스트_엑셀파일변환_20230930\2023_03월\20230320_64로2991_00181_112637.xlsx
D:/data/processing/multi_road/raw\통합측정기_길갈공업사 테스트_엑셀파일변환_20230930\2023_03월\20230320_821부3371_00221_120223.xlsx
D:/data/processing/multi_road/raw\통합측정기_길갈공업사 테스트_엑셀파일변환_20230930\2023_03월\20230320_82버1468_00371_161349.xlsx
D:/data/processing/multi_road/raw\통합측정기_길갈공업사 테스트_엑셀파일변환_20230930\2023_03월\20230320_83가6293_00161_111521.xlsx
D:/data/processing/multi_road/raw\통합측정기_길갈공업사 테스트_엑셀파일변환_20230930\2023_03월\20230320_86누8165_00071_095336.xlsx
D:/data/processing/multi_road/raw\통합측정기_길갈공업사 테스트_엑셀파일변환_20230930\2023_03월\20230320_92무2108_00051_093926.xlsx
D:/data/processing/multi_road/raw\통합측정기_길갈공업사 테스트_엑셀파일변환_20230930\2023_03월\20230320_92무4745_00311.xlsx
D:/data/processing/multi_road/raw\통합측정기_길갈공업사 테스트_엑셀파일변환_20230930\2023_03월\20230320_95보3226_00191_113235.xlsx
D:/data/processing/multi_road/raw\통합측정기_길갈공업사 테스트_엑셀파일변환_20230930\2023_03월\20230320_경기82바9370_00211_114725.xlsx
D:/data/processing/multi_road/raw\통합측정기_길갈공업사 테스트_엑셀파일변환_20230930\2023_03월\20230320_경기86배3181_00331_141321.xlsx
D:/data/processing/multi_road/raw\통합측정기_길갈공업사 테스트_엑셀파일변환_20230930\2023_03월\20230321_19다7947_00151_114039.xlsx
D:/data/processing/multi_road/raw\통합측정기_길갈공업사 테스트_엑셀파일변환_20230930\2023_03월\20230321_79누4856_00331_160639.xlsx
D:/data/processing/multi_road/raw\통합측정기_길갈공업사 테스트_엑셀파일변환_20230930\2023_03월\20230321_86누4039_00081_102715.xlsx
D:/data/processing/multi_road/raw\통합측정기_길갈공업사 테스트_엑셀파일변환_20230930\2023_03월\20230321_86수4148_00231_140355.xlsx
D:/data/processing/multi_road/raw\통합측정기_길갈공업사 테스트_엑셀파일변환_20230930\2023_03월\20230321_95모7096_00111_110021.xlsx
D:/data/processing/multi_road/raw\통합측정기_길갈공업사 테스트_엑셀파일변환_20230930\2023_03월\20230322_77가7823_00061_095115.xlsx
D:/data/processing/multi_road/raw\통합측정기_길갈공업사 테스트_엑셀파일변환_20230930\2023_03월\20230322_88머4154_00181_115050.xlsx
D:/data/processing/multi_road/raw\통합측정기_길갈공업사 테스트_엑셀파일변환_20230930\2023_03월\20230322_90마8537_00441_163557.xlsx
D:/data/processing/multi_road/raw\통합측정기_길갈공업사 테스트_엑셀파일변환_20230930\2023_03월\20230327_27어6898_00381_144242.xlsx
D:/data/processing/multi_road/raw\통합측정기_길갈공업사 테스트_엑셀파일변환_20230930\2023_03월\20230327_35우8025_00101_102550.xlsx
D:/data/processing/multi_road/raw\통합측정기_길갈공업사 테스트_엑셀파일변환_20230930\2023_03월\20230327_43우0148_00421_151803.xlsx
D:/data/processing/multi_road/raw\통합측정기_길갈공업사 테스트_엑셀파일변환_20230930\2023_03월\20230327_87우5378_00411_150809.xlsx
D:/data/processing/multi_road/raw\통합측정기_길갈공업사 테스트_엑셀파일변환_20230930\2023_03월\20230327_91노6798_00351_140923.xlsx
D:/data/processing/multi_road/raw\통합측정기_길갈공업사 테스트_엑셀파일변환_20230930\2023_03월\20230327_92수4594_00361_142136.xlsx
D:/data/processing/multi_road/raw\통합측정기_길갈공업사 테스트_엑셀파일변환_20230930\2023_03월\20230327_93버3269_00191_112308.xlsx
D:/data/processing/multi_road/raw\통합측정기_길갈공업사 테스트_엑셀파일변환_20230930\2023_03월\20230327_95거2558_00061_094002.xlsx
D:/data/processing/multi_road/raw\통합측정기_길갈공업사 테스트_엑셀파일변환_20230930\2023_03월\20230327_95수3004_00141_104829.xlsx
D:/data/processing/multi_road/raw\통합측정기_길갈공업사 테스트_엑셀파일변환_20230930\2023_03월\20230328_35마4653_00131_102602.xlsx
D:/data/processing/multi_road/raw\통합측정기_길갈공업사 테스트_엑셀파일변환_20230930\2023_03월\20230328_45다8202_00341_151759.xlsx
D:/data/processing/multi_road/raw\통합측정기_길갈공업사 테스트_엑셀파일변환_20230930\2023_03월\20230328_51주6030_00171_104956.xlsx
D:/data/processing/multi_road/raw\통합측정기_길갈공업사 테스트_엑셀파일변환_20230930\2023_03월\20230328_53더0270_00301_144747.xlsx
D:/data/processing/multi_road/raw\통합측정기_길갈공업사 테스트_엑셀파일변환_20230930\2023_03월\20230328_73어3157_00081.xlsx
D:/data/processing/multi_road/raw\통합측정기_길갈공업사 테스트_엑셀파일변환_20230930\2023_03월\20230328_74모8118_00381_155646.xlsx
D:/data/processing/multi_road/raw\통합측정기_길갈공업사 테스트_엑셀파일변환_20230930\2023_03월\20230328_86모3002_00011_082328.xlsx
D:/data/processing/multi_road/raw\통합측정기_길갈공업사 테스트_엑셀파일변환_20230930\2023_03월\20230328_경기91배1575_00111_095511.xlsx
D:/data/processing/multi_road/raw\통합측정기_길갈공업사 테스트_엑셀파일변환_20230930\2023_03월\20230329_68소3661_00311_145414.xlsx
D:/data/processing/multi_road/raw\통합측정기_길갈공업사 테스트_엑셀파일변환_20230930\2023_03월\20230329_73러9442_00321_151601.xlsx
D:/data/processing/multi_road/raw\통합측정기_길갈공업사 테스트_엑셀파일변환_20230930\2023_03월\20230329_74모8396_00301_144211.xlsx
D:/data/processing/multi_road/raw\통합측정기_길갈공업사 테스트_엑셀파일변환_20230930\2023_03월\20230329_90누1841_00281_142346.xlsx
D:/data/processing/multi_road/raw\통합측정기_길갈공업사 테스트_엑셀파일변환_20230930\2023_03월\20230329_90보5224_00411_171348.xlsx
D:/data/processing/multi_road/raw\통합측정기_길갈공업사 테스트_엑셀파일변환_20230930\2023_03월\20230329_92거7424_00201_130422.xlsx
D:/data/processing/multi_road/raw\통합측정기_길갈공업사 테스트_엑셀파일변환_20230930\2023_03월\20230330_97더7830_00021_090601.xlsx
D:/data/processing/multi_road/raw\통합측정기_길갈공업사 테스트_엑셀파일변환_20230930\2023_03월\20230331_92어4126_00171_114659.xlsx
D:/data/processing/multi_road/raw\통합측정기_길갈공업사 테스트_엑셀파일변환_20230930\2023_04월\20230401_73다4123_00201_110329.xlsx
D:/data/processing/multi_road/raw\통합측정기_길갈공업사 테스트_엑셀파일변환_20230930\2023_04월\20230401_74모8138_00071_091646.xlsx
D:/data/processing/multi_road/raw\통합측정기_길갈공업사 테스트_엑셀파일변환_20230930\2023_04월\20230401_90두4867_00041_090049.xlsx
D:/data/processing/multi_road/raw\통합측정기_길갈공업사 테스트_엑셀파일변환_20230930\2023_04월\20230401_경기94자5184_00211_111139.xlsx
D:/data/processing/multi_road/raw\통합측정기_길갈공업사 테스트_엑셀파일변환_20230930\2023_04월\20230403_70서8572_00481_161530.xlsx
D:/data/processing/multi_road/raw\통합측정기_길갈공업사 테스트_엑셀파일변환_20230930\2023_04월\20230403_73구8908_00081_100341.xlsx
D:/data/processing/multi_road/raw\통합측정기_길갈공업사 테스트_엑셀파일변환_20230930\2023_04월\20230403_80너8968_00051_094534.xlsx
D:/data/processing/multi_road/raw\통합측정기_길갈공업사 테스트_엑셀파일변환_20230930\2023_04월\20230403_83노2864_00451_154929.xlsx
D:/data/processing/multi_road/raw\통합측정기_길갈공업사 테스트_엑셀파일변환_20230930\2023_04월\20230403_83더8304_00311_134629.xlsx
D:/data/processing/multi_road/raw\통합측정기_길갈공업사 테스트_엑셀파일변환_20230930\2023_04월\20230403_83무4716_00471_160302.xlsx
D:/data/processing/multi_road/raw\통합측정기_길갈공업사 테스트_엑셀파일변환_20230930\2023_04월\20230403_84머0622_00321_135349.xlsx
D:/data/processing/multi_road/raw\통합측정기_길갈공업사 테스트_엑셀파일변환_20230930\2023_04월\20230403_90너1178_00281_132041.xlsx
D:/data/processing/multi_road/raw\통합측정기_길갈공업사 테스트_엑셀파일변환_20230930\2023_04월\20230403_93다5775_00071.xlsx
D:/data/processing/multi_road/raw\통합측정기_길갈공업사 테스트_엑셀파일변환_20230930\2023_04월\20230403_94라8400_00111_103657.xlsx
D:/data/processing/multi_road/raw\통합측정기_길갈공업사 테스트_엑셀파일변환_20230930\2023_04월\20230403_94무0763_00251_122507.xlsx
D:/data/processing/multi_road/raw\통합측정기_길갈공업사 테스트_엑셀파일변환_20230930\2023_04월\20230403_96로7938_00501_162225.xlsx
D:/data/processing/multi_road/raw\통합측정기_길갈공업사 테스트_엑셀파일변환_20230930\2023_04월\20230403_경기89사5308_00271_131012.xlsx
D:/data/processing/multi_road/raw\통합측정기_길갈공업사 테스트_엑셀파일변환_20230930\2023_04월\20230404_82러1773_00091_104534.xlsx
D:/data/processing/multi_road/raw\통합측정기_길갈공업사 테스트_엑셀파일변환_20230930\2023_04월\20230404_87머6645_00051_101632.xlsx
D:/data/processing/multi_road/raw\통합측정기_길갈공업사 테스트_엑셀파일변환_20230930\2023_04월\20230404_89주3909_00231_132936.xlsx
D:/data/processing/multi_road/raw\통합측정기_길갈공업사 테스트_엑셀파일변환_20230930\2023_04월\20230404_91주9703_00171_123031.xlsx
D:/data/processing/multi_road/raw\통합측정기_길갈공업사 테스트_엑셀파일변환_20230930\2023_04월\20230404_95수3120_00131_113249.xlsx
D:/data/processing/multi_road/raw\통합측정기_길갈공업사 테스트_엑셀파일변환_20230930\2023_04월\20230405_40로1872_00391_141718.xlsx
D:/data/processing/multi_road/raw\통합측정기_길갈공업사 테스트_엑셀파일변환_20230930\2023_04월\20230405_70서8907_00031_083355.xlsx
D:/data/processing/multi_road/raw\통합측정기_길갈공업사 테스트_엑셀파일변환_20230930\2023_04월\20230405_79러3094_00221_113418.xlsx
D:/data/processing/multi_road/raw\통합측정기_길갈공업사 테스트_엑셀파일변환_20230930\2023_04월\20230405_83누5115_00341_135036.xlsx
D:/data/processing/multi_road/raw\통합측정기_길갈공업사 테스트_엑셀파일변환_20230930\2023_04월\20230405_83라8371_00201_112759.xlsx
D:/data/processing/multi_road/raw\통합측정기_길갈공업사 테스트_엑셀파일변환_20230930\2023_04월\20230405_83소4374_00441_152453.xlsx
D:/data/processing/multi_road/raw\통합측정기_길갈공업사 테스트_엑셀파일변환_20230930\2023_04월\20230405_85도6828_00471_155336.xlsx
D:/data/processing/multi_road/raw\통합측정기_길갈공업사 테스트_엑셀파일변환_20230930\2023_04월\20230405_92노0130_00261_120440.xlsx
D:/data/processing/multi_road/raw\통합측정기_길갈공업사 테스트_엑셀파일변환_20230930\2023_04월\20230405_92수3206_00171_104353.xlsx
D:/data/processing/multi_road/raw\통합측정기_길갈공업사 테스트_엑셀파일변환_20230930\2023_04월\20230405_94주2623_00191_110700.xlsx
D:/data/processing/multi_road/raw\통합측정기_길갈공업사 테스트_엑셀파일변환_20230930\2023_04월\20230407_70오2725_00151_110229.xlsx
D:/data/processing/multi_road/raw\통합측정기_길갈공업사 테스트_엑셀파일변환_20230930\2023_04월\20230407_74모8003_00031_093121.xlsx
D:/data/processing/multi_road/raw\통합측정기_길갈공업사 테스트_엑셀파일변환_20230930\2023_04월\20230407_86나7574_00211_122543.xlsx
D:/data/processing/multi_road/raw\통합측정기_길갈공업사 테스트_엑셀파일변환_20230930\2023_04월\20230407_89구9848_00261_134355.xlsx
D:/data/processing/multi_road/raw\통합측정기_길갈공업사 테스트_엑셀파일변환_20230930\2023_04월\20230407_89도7498_00131_104728.xlsx
D:/data/processing/multi_road/raw\통합측정기_길갈공업사 테스트_엑셀파일변환_20230930\2023_04월\20230407_92소1877_00291_141352.xlsx

In [87]:
tp = pd.read_excel('D:/data/processing/multi_road/raw/통합측정기_길갈공업사 테스트_엑셀파일변환_20230930/2023_01월/20230109_81주2475_00311.xlsx')

In [88]:
tp.shape

(599, 16)

In [89]:
tp.head(12)

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15
0,NaN,NaN,디젤NOx분석기 DNA-1000 자료,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,S/N 번호,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,모델번호,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,C:\JDevicesUnit\Data\202301\New\2023010981주247...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,사업장명:,(주)자스텍,NaN,NaN,차량번호:,81주2475,NaN,년 식:,2017.00,정격출력:,132.00,차량중량:,NaN,NaN,출력날짜:,2023-01-09
4,접수번호:,H1532023010900311,NaN,NaN,차 명:,포터Ⅱ (PORTERⅡ),NaN,주행거리:,NaN,정격 RPM:,3600.00,설정마력:,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,시간,NO(ppm),NO2(ppm),NOx(ppm),산소(%),유량(lpm),압력(mbar),매연Die (%),NaN,NaN,NaN,NaN,속도(km/h),출력(PS),토크(Kgf m),매연Env (%)
7,평균,149.7,76.8,226.5,10.6,2.9,977,NaN,NaN,NaN,NaN,NaN,52.86,11.8,6.3,NaN
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,최대,978,247,1225,NaN,NaN,NaN,6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
10,판정,728,181,925,NaN,NaN,NaN,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [90]:
[chr(x) for x in range(65, 65 + tp.shape[1])]

['A',
 'B',
 'C',
 'D',
 'E',
 'F',
 'G',
 'H',
 'I',
 'J',
 'K',
 'L',
 'M',
 'N',
 'O',
 'P']

In [91]:
tp.columns = [chr(x) for x in range(65, 65 + tp.shape[1])]
tp.columns

Index(['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N',
       'O', 'P'],
      dtype='object')

In [92]:
tp.head(10)

,A,B,C,D,E,F,G,H,I,J,K,L,M,N,O,P
0,NaN,NaN,디젤NOx분석기 DNA-1000 자료,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,S/N 번호,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,모델번호,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,C:\JDevicesUnit\Data\202301\New\2023010981주247...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,사업장명:,(주)자스텍,NaN,NaN,차량번호:,81주2475,NaN,년 식:,2017.00,정격출력:,132.00,차량중량:,NaN,NaN,출력날짜:,2023-01-09
4,접수번호:,H1532023010900311,NaN,NaN,차 명:,포터Ⅱ (PORTERⅡ),NaN,주행거리:,NaN,정격 RPM:,3600.00,설정마력:,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,시간,NO(ppm),NO2(ppm),NOx(ppm),산소(%),유량(lpm),압력(mbar),매연Die (%),NaN,NaN,NaN,NaN,속도(km/h),출력(PS),토크(Kgf m),매연Env (%)
7,평균,149.7,76.8,226.5,10.6,2.9,977,NaN,NaN,NaN,NaN,NaN,52.86,11.8,6.3,NaN
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,최대,978,247,1225,NaN,NaN,NaN,6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0

In [93]:
tp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 599 entries, 0 to 598
Data columns (total 16 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   A       592 non-null    object
 1   B       592 non-null    object
 2   C       591 non-null    object
 3   D       590 non-null    object
 4   E       590 non-null    object
 5   F       590 non-null    object
 6   G       589 non-null    object
 7   H       592 non-null    object
 8   I       1 non-null      float64
 9   J       2 non-null      object
 10  K       2 non-null      float64
 11  L       2 non-null      object
 12  M       588 non-null    object
 13  N       590 non-null    object
 14  O       589 non-null    object
 15  P       591 non-null    object
dtypes: float64(2), object(14)
memory usage: 75.0+ KB

In [94]:
tp['A'].dtype

dtype('O')

In [95]:
tp.loc[tp['A'] == '사업장명:']

,A,B,C,D,E,F,G,H,I,J,K,L,M,N,O,P
3,사업장명:,(주)자스텍,NaN,NaN,차량번호:,81주2475,NaN,년 식:,2017.00,정격출력:,132.00,차량중량:,NaN,NaN,출력날짜:,2023-01-09

In [96]:
tp.loc[tp['A'].str.contains('사업장명', na=False)]

,A,B,C,D,E,F,G,H,I,J,K,L,M,N,O,P
3,사업장명:,(주)자스텍,NaN,NaN,차량번호:,81주2475,NaN,년 식:,2017.00,정격출력:,132.00,차량중량:,NaN,NaN,출력날짜:,2023-01-09

In [97]:
tp.loc[tp['A'].str.contains('사업장명', na=False), 'B'].values[0]

'(주)자스텍'

In [98]:
tp.loc[tp['A'].str.contains('사업장명', na=False), 'B']

3    (주)자스텍
Name: B, dtype: object

In [99]:
tp.loc[tp['E'].str.contains('차량번호', na=False), 'F']

3    81주2475
Name: F, dtype: object

In [100]:
tp.loc[tp['E'].str.contains('차 ', na=False), 'F']

4    포터Ⅱ (PORTERⅡ)
Name: F, dtype: object

In [101]:
tp.loc[tp['H'].str.contains('년 ', na=False), 'I']

3   2017.00
Name: I, dtype: float64

In [102]:
tp.loc[tp['J'].str.contains('정격출력', na=False), 'K']

3   132.00
Name: K, dtype: float64

In [103]:
tp.loc[tp['J'].str.contains('정격 RPM', na=False), 'K']

4   3600.00
Name: K, dtype: float64

In [104]:
tp.loc[tp['L'].str.contains('차량중량', na=False), 'M']

3    NaN
Name: M, dtype: object

In [105]:
tp.loc[tp['O'].str.contains('출력날짜', na=False), 'P']

3    2023-01-09
Name: P, dtype: object

In [106]:
tp.loc[tp['A'].str.contains(r'평균|시간', na=False), 'A':'P']

,A,B,C,D,E,F,G,H,I,J,K,L,M,N,O,P
6,시간,NO(ppm),NO2(ppm),NOx(ppm),산소(%),유량(lpm),압력(mbar),매연Die (%),NaN,NaN,NaN,NaN,속도(km/h),출력(PS),토크(Kgf m),매연Env (%)
7,평균,149.7,76.8,226.5,10.6,2.9,977,NaN,NaN,NaN,NaN,NaN,52.86,11.8,6.3,NaN

In [107]:
tp.loc[tp['A'].str.contains(r'평균|시간', na=False), 'A':'P'].dropna(axis=1, how='all')

,A,B,C,D,E,F,G,H,M,N,O,P
6,시간,NO(ppm),NO2(ppm),NOx(ppm),산소(%),유량(lpm),압력(mbar),매연Die (%),속도(km/h),출력(PS),토크(Kgf m),매연Env (%)
7,평균,149.7,76.8,226.5,10.6,2.9,977,NaN,52.86,11.8,6.3,NaN

In [108]:
tp.loc[tp['A'].str.contains(r'평균|시간', na=False), 'A':'P'].dropna(axis=1, how='all').reset_index(drop=True).loc[1, 'B':'P'].to_list()

['149.7',
 '76.8',
 '226.5',
 '10.6',
 '2.9',
 '977',
 nan,
 '52.86',
 '11.8',
 '6.3',
 nan]

In [109]:
# NOx 최대
tp.loc[tp['A'].str.contains('최대', na=False), 'B'].values[0]

'978'

In [110]:
# NOx 판정
tp.loc[tp['A'].str.contains('판정', na=False), 'B'].values[0]

'728'

In [111]:
tp.head(12)

,A,B,C,D,E,F,G,H,I,J,K,L,M,N,O,P
0,NaN,NaN,디젤NOx분석기 DNA-1000 자료,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,S/N 번호,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,모델번호,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,C:\JDevicesUnit\Data\202301\New\2023010981주247...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,사업장명:,(주)자스텍,NaN,NaN,차량번호:,81주2475,NaN,년 식:,2017.00,정격출력:,132.00,차량중량:,NaN,NaN,출력날짜:,2023-01-09
4,접수번호:,H1532023010900311,NaN,NaN,차 명:,포터Ⅱ (PORTERⅡ),NaN,주행거리:,NaN,정격 RPM:,3600.00,설정마력:,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,시간,NO(ppm),NO2(ppm),NOx(ppm),산소(%),유량(lpm),압력(mbar),매연Die (%),NaN,NaN,NaN,NaN,속도(km/h),출력(PS),토크(Kgf m),매연Env (%)
7,평균,149.7,76.8,226.5,10.6,2.9,977,NaN,NaN,NaN,NaN,NaN,52.86,11.8,6.3,NaN
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,최대,978,247,1225,NaN,NaN,NaN,6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
10,판정,728,181,925,NaN,NaN,NaN,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [112]:
tp.head(10)

,A,B,C,D,E,F,G,H,I,J,K,L,M,N,O,P
0,NaN,NaN,디젤NOx분석기 DNA-1000 자료,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,S/N 번호,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,모델번호,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,C:\JDevicesUnit\Data\202301\New\2023010981주247...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,사업장명:,(주)자스텍,NaN,NaN,차량번호:,81주2475,NaN,년 식:,2017.00,정격출력:,132.00,차량중량:,NaN,NaN,출력날짜:,2023-01-09
4,접수번호:,H1532023010900311,NaN,NaN,차 명:,포터Ⅱ (PORTERⅡ),NaN,주행거리:,NaN,정격 RPM:,3600.00,설정마력:,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,시간,NO(ppm),NO2(ppm),NOx(ppm),산소(%),유량(lpm),압력(mbar),매연Die (%),NaN,NaN,NaN,NaN,속도(km/h),출력(PS),토크(Kgf m),매연Env (%)
7,평균,149.7,76.8,226.5,10.6,2.9,977,NaN,NaN,NaN,NaN,NaN,52.86,11.8,6.3,NaN
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,최대,978,247,1225,NaN,NaN,NaN,6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0

In [113]:
rec_idx = tp.loc[tp['A'] == '시간'].index[0]
rec_idx

6

In [114]:
rec_cols = tp.iloc[rec_idx].to_list()
rec_cols

['시간',
 'NO(ppm)',
 'NO2(ppm)',
 'NOx(ppm)',
 '산소(%)',
 '유량(lpm)',
 '압력(mbar)',
 '매연Die (%)',
 nan,
 nan,
 nan,
 nan,
 '속도(km/h)',
 '출력(PS)',
 '토크(Kgf m)',
 '매연Env (%)']

In [115]:
rec_idx2 = tp.loc[tp['A'] == '판정'].index[0]
rec_idx2

10

In [116]:
temp = tp.loc[rec_idx2+1:]
temp

,A,B,C,D,E,F,G,H,I,J,K,L,M,N,O,P
11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,12:17:51,971,246,1217,7.70,2.80,963,0,NaN,NaN,NaN,NaN,0,0,0.10,0
13,12:17:51,973,246,1219,7.80,2.80,964,0,NaN,NaN,NaN,NaN,0,0,0.10,0
14,12:17:51,973,246,1219,7.80,2.80,964,0,NaN,NaN,NaN,NaN,0,0,0.10,0
15,12:17:51,973,247,1220,7.80,2.80,965,0,NaN,NaN,NaN,NaN,0.30,0,0.10,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
594,12:20:16,96,71,167,14.40,2.90,989,0,NaN,NaN,NaN,NaN,0,0,0.40,0
595,12:20:16,97,72,169,14.60,2.90,986,0,NaN,NaN,NaN,NaN,0,0,0.20,0
596,12:20:17,99,73,172,14.70,2.90,987,0,NaN,NaN,NaN,NaN,0,0,0.20,0
597,00:00:00,0,0,0,0,0,0,0,NaN,NaN,NaN,NaN,0,0,0,0
598,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0

In [122]:
rec = temp.loc[temp['H'].isnull() == False]
rec.columns = rec_cols
rec = rec.dropna(how='all', axis=1)
rec.shape

(587, 12)

In [123]:
rec.head()

,시간,NO(ppm),NO2(ppm),NOx(ppm),산소(%),유량(lpm),압력(mbar),매연Die (%),속도(km/h),출력(PS),토크(Kgf m),매연Env (%)
12,12:17:51,971,246,1217,7.70,2.80,963,0,0,0,0.10,0
13,12:17:51,973,246,1219,7.80,2.80,964,0,0,0,0.10,0
14,12:17:51,973,246,1219,7.80,2.80,964,0,0,0,0.10,0
15,12:17:51,973,247,1220,7.80,2.80,965,0,0.30,0,0.10,0
16,12:17:52,976,247,1223,7.80,2.80,965,0,0.80,0,0.10,0

In [124]:
rec.tail()

,시간,NO(ppm),NO2(ppm),NOx(ppm),산소(%),유량(lpm),압력(mbar),매연Die (%),속도(km/h),출력(PS),토크(Kgf m),매연Env (%)
594,12:20:16,96,71,167,14.40,2.90,989,0,0,0,0.40,0
595,12:20:16,97,72,169,14.60,2.90,986,0,0,0,0.20,0
596,12:20:17,99,73,172,14.70,2.90,987,0,0,0,0.20,0
597,00:00:00,0,0,0,0,0,0,0,0,0,0,0
598,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,0

In [125]:
rec['사업장명'] = tp.loc[tp['A'].str.contains('사업장명', na=False), 'B'].values[0]
rec['접수번호'] = tp.loc[tp['A'].str.contains('접수번호', na=False), 'B'].values[0]

rec['차량번호'] = tp.loc[tp['E'].str.contains('차량번호', na=False), 'F'].values[0]
rec['차명'] = tp.loc[tp['E'].str.contains('차 ', na=False), 'F'].values[0]

rec['연식'] = tp.loc[tp['H'].str.contains('년 ', na=False), 'I'].values[0]
rec['주행거리'] = tp.loc[tp['H'].str.contains('주행거리', na=False), 'I'].values[0]

rec['정격출력'] = tp.loc[tp['J'].str.contains('정격출력', na=False), 'K'].values[0]
rec['정격RPM'] = tp.loc[tp['J'].str.contains('정격 RPM', na=False), 'K'].values[0]

rec['차량중량'] = tp.loc[tp['L'].str.contains('차량중량', na=False), 'M'].values[0]
rec['설정마력'] = tp.loc[tp['L'].str.contains('설정마력', na=False), 'M'].values[0]

rec['출력날짜'] = tp.loc[tp['O'].str.contains('출력날짜', na=False), 'P'].values[0]

rec[['평균NO(ppm)', '평균NO2(ppm)', '평균NOx(ppm)', '평균산소(%)', '평균유량(lpm)', '평균압력(mbar)', '평균매연Die(%)', '평균속도(km/h)', '평균출력(PS)', '평균토크(Kgf_m)', '평균매연Env(%)']] = tp.loc[tp['A'].str.contains(r'평균|시간', na=False), 'A':'P'].dropna(axis=1, how='all').reset_index(drop=True).loc[1, 'B':'P'].to_list()

rec['최대NO(ppm)'] = tp.loc[tp['A'].str.contains('최대', na=False), 'B'].values[0] # NO
rec['판정NO(ppm)'] = tp.loc[tp['A'].str.contains('판정', na=False), 'B'].values[0] # NO

rec['최대NO2(ppm)'] = tp.loc[tp['A'].str.contains('최대', na=False), 'C'].values[0] # NO2
rec['판정NO2(ppm)'] = tp.loc[tp['A'].str.contains('판정', na=False), 'C'].values[0] # NO2

rec['최대NOx(ppm)'] = tp.loc[tp['A'].str.contains('최대', na=False), 'D'].values[0] # NOx
rec['판정NOx(ppm)'] = tp.loc[tp['A'].str.contains('판정', na=False), 'D'].values[0] # NOx

rec['최대매연Die(%)'] = tp.loc[tp['A'].str.contains('최대', na=False), 'H'].values[0] # 매연Die
rec['판정매연Die(%)'] = tp.loc[tp['A'].str.contains('판정', na=False), 'H'].values[0] # 매연Die

rec['최대매연Env(%)'] = tp.loc[tp['A'].str.contains('최대', na=False), 'P'].values[0] # 매연Env
rec['판정매연Env(%)'] = tp.loc[tp['A'].str.contains('판정', na=False), 'P'].values[0] # 매연Env

In [126]:
rec.shape

(587, 44)

In [127]:
rec.iloc[:, 20:35].head()

,차량중량,설정마력,출력날짜,평균NO(ppm),평균NO2(ppm),평균NOx(ppm),평균산소(%),평균유량(lpm),평균압력(mbar),평균매연Die(%),평균속도(km/h),평균출력(PS),평균토크(Kgf_m),평균매연Env(%),최대NO(ppm)
12,NaN,NaN,2023-01-09,149.7,76.8,226.5,10.6,2.9,977,NaN,52.86,11.8,6.3,NaN,978
13,NaN,NaN,2023-01-09,149.7,76.8,226.5,10.6,2.9,977,NaN,52.86,11.8,6.3,NaN,978
14,NaN,NaN,2023-01-09,149.7,76.8,226.5,10.6,2.9,977,NaN,52.86,11.8,6.3,NaN,978
15,NaN,NaN,2023-01-09,149.7,76.8,226.5,10.6,2.9,977,NaN,52.86,11.8,6.3,NaN,978
16,NaN,NaN,2023-01-09,149.7,76.8,226.5,10.6,2.9,977,NaN,52.86,11.8,6.3,NaN,978

In [128]:
rec.columns

Index(['시간', 'NO(ppm)', 'NO2(ppm)', 'NOx(ppm)', '산소(%)', '유량(lpm)', '압력(mbar)',
       '매연Die (%)', '속도(km/h)', '출력(PS)', '토크(Kgf m)', '매연Env (%)', '사업장명',
       '접수번호', '차량번호', '차명', '연식', '주행거리', '정격출력', '정격RPM', '차량중량', '설정마력',
       '출력날짜', '평균NO(ppm)', '평균NO2(ppm)', '평균NOx(ppm)', '평균산소(%)', '평균유량(lpm)',
       '평균압력(mbar)', '평균매연Die(%)', '평균속도(km/h)', '평균출력(PS)', '평균토크(Kgf_m)',
       '평균매연Env(%)', '최대NO(ppm)', '판정NO(ppm)', '최대NO2(ppm)', '판정NO2(ppm)',
       '최대NOx(ppm)', '판정NOx(ppm)', '최대매연Die(%)', '판정매연Die(%)', '최대매연Env(%)',
       '판정매연Env(%)'],
      dtype='object')

In [39]:
# cols = ['사업장명', '접수번호', '차량번호', '차명', '연식', '주행거리', '정격출력', '정격RPM', '차량중량', '설정마력', '출력날짜', '평균NO(ppm)', '평균NO2(ppm)', '평균NOx(ppm)', '평균산소(%)', '평균유량(lpm)', '평균압력(mbar)', '평균매연Die(%)', '평균속도(km/h)', '평균출력(PS)', '평균토크(Kgf_m)', '평균매연Env(%)', '최대NO(ppm)', '판정NO(ppm)', '최대NO2(ppm)', '판정NO2(ppm)', '최대NOx(ppm)', '판정NOx(ppm)', '최대매연Die(%)', '판정매연Die(%)', '최대매연Env(%)', '판정매연Env(%)']
# vals = []
# vals.append(tp.loc[tp['A'].str.contains('사업장명', na=False), 'B'].values[0])
# vals.append(tp.loc[tp['A'].str.contains('접수번호', na=False), 'B'].values[0])

# vals.append(tp.loc[tp['E'].str.contains('차량번호', na=False), 'F'].values[0])
# vals.append(tp.loc[tp['E'].str.contains('차 ', na=False), 'F'].values[0])

# vals.append(tp.loc[tp['H'].str.contains('년 ', na=False), 'I'].values[0])
# vals.append(tp.loc[tp['H'].str.contains('주행거리', na=False), 'I'].values[0])

# vals.append(tp.loc[tp['J'].str.contains('정격출력', na=False), 'K'].values[0])
# vals.append(tp.loc[tp['J'].str.contains('정격 RPM', na=False), 'K'].values[0])

# vals.append(tp.loc[tp['L'].str.contains('차량중량', na=False), 'M'].values[0])
# vals.append(tp.loc[tp['L'].str.contains('설정마력', na=False), 'M'].values[0])

# vals.append(tp.loc[tp['O'].str.contains('출력날짜', na=False), 'P'].values[0])

# vals += tp.loc[tp['A'].str.contains(r'평균|시간', na=False), 'A':'P'].dropna(axis=1, how='all').reset_index(drop=True).loc[1, 'B':'P'].to_list()

# vals.append(tp.loc[tp['A'].str.contains('최대', na=False), 'B'].values[0]) # NO
# vals.append(tp.loc[tp['A'].str.contains('판정', na=False), 'B'].values[0]) # NO

# vals.append(tp.loc[tp['A'].str.contains('최대', na=False), 'C'].values[0]) # NO2
# vals.append(tp.loc[tp['A'].str.contains('판정', na=False), 'C'].values[0]) # NO2

# vals.append(tp.loc[tp['A'].str.contains('최대', na=False), 'D'].values[0]) # NOx
# vals.append(tp.loc[tp['A'].str.contains('판정', na=False), 'D'].values[0]) # NOx

# vals.append(tp.loc[tp['A'].str.contains('최대', na=False), 'H'].values[0]) # 매연Die
# vals.append(tp.loc[tp['A'].str.contains('판정', na=False), 'H'].values[0]) # 매연Die

# vals.append(tp.loc[tp['A'].str.contains('최대', na=False), 'P'].values[0]) # 매연Env
# vals.append(tp.loc[tp['A'].str.contains('판정', na=False), 'P'].values[0]) # 매연Env

In [40]:
# len(cols), len(vals)

(32, 32)

In [41]:
# cols

['사업장명',
 '접수번호',
 '차량번호',
 '차명',
 '연식',
 '주행거리',
 '정격출력',
 '정격 RPM',
 '차량중량',
 '설정마력',
 '출력날짜',
 '평균NO(ppm)',
 '평균NO2(ppm)',
 '평균NOx(ppm)',
 '평균산소(%)',
 '평균유량(lpm)',
 '평균압력(mbar)',
 '평균매연Die(%)',
 '평균속도(km/h)',
 '평균출력(PS)',
 '평균토크(Kgf m)',
 '평균매연Env(%)',
 '최대NO(ppm)',
 '판정NO(ppm)',
 '최대NO2(ppm)',
 '판정NO2(ppm)',
 '최대NOx(ppm)',
 '판정NOx(ppm)',
 '최대매연Die(%)',
 '판정매연Die(%)',
 '최대매연Env(%)',
 '판정매연Env(%)']

In [42]:
# vals

['(주)자스텍',
 'H1532023010900311',
 '81주2475',
 '포터Ⅱ (PORTERⅡ)',
 2017.0,
 nan,
 132.0,
 3600.0,
 nan,
 nan,
 '2023-01-09',
 '149.7',
 '76.8',
 '226.5',
 '10.6',
 '2.9',
 '977',
 nan,
 '52.86',
 '11.8',
 '6.3',
 nan,
 '978',
 '728',
 '247',
 '181',
 '1225',
 '925',
 '6',
 '2',
 '0',
 '0']

In [59]:
# file.split('_')[0]

'20230831'

In [44]:
# temp = pd.DataFrame(columns=cols)
# temp.loc[temp.shape[0]] = vals
# temp['측정날짜'] = '20230109'
# # temp['측정날짜'] = file.split('_')[0]
# temp

,사업장명,접수번호,차량번호,차명,연식,주행거리,정격출력,정격 RPM,차량중량,설정마력,...,판정NO(ppm),최대NO2(ppm),판정NO2(ppm),최대NOx(ppm),판정NOx(ppm),최대매연Die(%),판정매연Die(%),최대매연Env(%),판정매연Env(%),측정날짜
0,(주)자스텍,H1532023010900311,81주2475,포터Ⅱ (PORTERⅡ),2017.00,NaN,132.00,3600.00,NaN,NaN,...,728,247,181,1225,925,6,2,0,0,20230109

## 정보병합
- 기록 값이 없음 : 통합측정기_길갈공업사 테스트_엑셀파일변환_20230930\2023_06월\20230612_15도9871_00131.xlsx

In [70]:
# 예시 파일 1개
tp = pd.read_excel('D:/data/processing/multi_road/raw/통합측정기_길갈공업사 테스트_엑셀파일변환_20230930/2023_01월/20230109_81주2475_00311.xlsx')
tp.shape

(599, 16)

In [66]:
# # 2m 20.1s
# df = pd.DataFrame()
# tp_cols = [chr(x) for x in range(65, 65 + tp.shape[1])]
# cols = ['사업장명', '접수번호', '차량번호', '차명', '연식', '주행거리', '정격출력', '정격RPM', '차량중량', '설정마력', '출력날짜', '평균NO(ppm)', '평균NO2(ppm)', '평균NOx(ppm)', '평균산소(%)', '평균유량(lpm)', '평균압력(mbar)', '평균매연Die(%)', '평균속도(km/h)', '평균출력(PS)', '평균토크(Kgf_m)', '평균매연Env(%)', '최대NO(ppm)', '판정NO(ppm)', '최대NO2(ppm)', '판정NO2(ppm)', '최대NOx(ppm)', '판정NOx(ppm)', '최대매연Die(%)', '판정매연Die(%)', '최대매연Env(%)', '판정매연Env(%)']
# count = 0
# for root, dirs, files in tqdm(os.walk(root_dir)):
#     if len(files) != 0:
#         for file in files:
#             tp = pd.read_excel(os.path.join(root, file))
#             tp.columns = tp_cols
            
#             vals = []
#             vals.append(tp.loc[tp['A'].str.contains('사업장명', na=False), 'B'].values[0])
#             vals.append(tp.loc[tp['A'].str.contains('접수번호', na=False), 'B'].values[0])

#             vals.append(tp.loc[tp['E'].str.contains('차량번호', na=False), 'F'].values[0])
#             vals.append(tp.loc[tp['E'].str.contains('차 ', na=False), 'F'].values[0])

#             vals.append(tp.loc[tp['H'].str.contains('년 ', na=False), 'I'].values[0])
#             vals.append(tp.loc[tp['H'].str.contains('주행거리', na=False), 'I'].values[0])

#             vals.append(tp.loc[tp['J'].str.contains('정격출력', na=False), 'K'].values[0])
#             vals.append(tp.loc[tp['J'].str.contains('정격 RPM', na=False), 'K'].values[0])

#             vals.append(tp.loc[tp['L'].str.contains('차량중량', na=False), 'M'].values[0])
#             vals.append(tp.loc[tp['L'].str.contains('설정마력', na=False), 'M'].values[0])

#             vals.append(tp.loc[tp['O'].str.contains('출력날짜', na=False), 'P'].values[0])

#             vals += tp.loc[tp['A'].str.contains(r'평균|시간', na=False), 'A':'P'].dropna(axis=1, how='all').reset_index(drop=True).loc[1, 'B':'P'].to_list()

#             vals.append(tp.loc[tp['A'].str.contains('최대', na=False), 'B'].values[0]) # NO
#             vals.append(tp.loc[tp['A'].str.contains('판정', na=False), 'B'].values[0]) # NO

#             vals.append(tp.loc[tp['A'].str.contains('최대', na=False), 'C'].values[0]) # NO2
#             vals.append(tp.loc[tp['A'].str.contains('판정', na=False), 'C'].values[0]) # NO2

#             vals.append(tp.loc[tp['A'].str.contains('최대', na=False), 'D'].values[0]) # NOx
#             vals.append(tp.loc[tp['A'].str.contains('판정', na=False), 'D'].values[0]) # NOx

#             vals.append(tp.loc[tp['A'].str.contains('최대', na=False), 'H'].values[0]) # 매연Die
#             vals.append(tp.loc[tp['A'].str.contains('판정', na=False), 'H'].values[0]) # 매연Die

#             vals.append(tp.loc[tp['A'].str.contains('최대', na=False), 'P'].values[0]) # 매연Env
#             vals.append(tp.loc[tp['A'].str.contains('판정', na=False), 'P'].values[0]) # 매연Env

#             temp = pd.DataFrame(columns=cols)
#             temp.loc[temp.shape[0]] = vals
#             temp['측정날짜'] = file.split('_')[0]

#             df = pd.concat([df, temp], ignore_index=False)
#             count += 1
# count

0it [00:00, ?it/s]

9it [02:20, 15.56s/it]

808

In [157]:
# 3m 30.0s
df = pd.DataFrame()
tp_cols = [chr(x) for x in range(65, 65 + tp.shape[1])]
for root, dirs, files in tqdm(os.walk(root_dir)):
    if len(files) != 0:
        for file in files:
            # try:
            tp = pd.read_excel(os.path.join(root, file))
            tp.columns = tp_cols
            
            # 컬럼명 추출
            rec_idx = tp.loc[tp['A'] == '시간'].index[0]
            rec_cols = tp.iloc[rec_idx].to_list()

            # 기록만 추출
            rec_idx2 = tp.loc[tp['A'] == '판정'].index[0]
            temp = tp.loc[rec_idx2+1:]
            rec = temp.loc[temp['H'].isnull() == False] # 20230612_15도9871_00131.xlsx(기록 값 없음)
            rec.columns = rec_cols
            rec = rec.dropna(how='all', axis=1)

            # 나머지 정보 수집
            rec['사업장명'] = tp.loc[tp['A'].str.contains('사업장명', na=False), 'B'].values[0]
            rec['접수번호'] = tp.loc[tp['A'].str.contains('접수번호', na=False), 'B'].values[0]

            rec['차량번호'] = tp.loc[tp['E'].str.contains('차량번호', na=False), 'F'].values[0]
            rec['차명'] = tp.loc[tp['E'].str.contains('차 ', na=False), 'F'].values[0]

            rec['연식'] = tp.loc[tp['H'].str.contains('년 ', na=False), 'I'].values[0]
            rec['주행거리'] = tp.loc[tp['H'].str.contains('주행거리', na=False), 'I'].values[0]

            rec['정격출력'] = tp.loc[tp['J'].str.contains('정격출력', na=False), 'K'].values[0]
            rec['정격RPM'] = tp.loc[tp['J'].str.contains('정격 RPM', na=False), 'K'].values[0]

            rec['차량중량'] = tp.loc[tp['L'].str.contains('차량중량', na=False), 'M'].values[0]
            rec['설정마력'] = tp.loc[tp['L'].str.contains('설정마력', na=False), 'M'].values[0]

            rec['출력날짜'] = tp.loc[tp['O'].str.contains('출력날짜', na=False), 'P'].values[0]
            
            rec[['평균NO(ppm)', '평균NO2(ppm)', '평균NOx(ppm)', '평균산소(%)', '평균유량(lpm)', '평균압력(mbar)', '평균매연Die(%)', '평균속도(km/h)', '평균출력(PS)', '평균토크(Kgf_m)', '평균매연Env(%)']] = tp.loc[tp['A'].str.contains(r'평균|시간', na=False), 'A':'P'].dropna(axis=1, how='all').reset_index(drop=True).loc[1, 'B':'P'].to_list()

            rec['최대NO(ppm)'] = tp.loc[tp['A'].str.contains('최대', na=False), 'B'].values[0] # NO
            rec['판정NO(ppm)'] = tp.loc[tp['A'].str.contains('판정', na=False), 'B'].values[0] # NO

            rec['최대NO2(ppm)'] = tp.loc[tp['A'].str.contains('최대', na=False), 'C'].values[0] # NO2
            rec['판정NO2(ppm)'] = tp.loc[tp['A'].str.contains('판정', na=False), 'C'].values[0] # NO2

            rec['최대NOx(ppm)'] = tp.loc[tp['A'].str.contains('최대', na=False), 'D'].values[0] # NOx
            rec['판정NOx(ppm)'] = tp.loc[tp['A'].str.contains('판정', na=False), 'D'].values[0] # NOx

            rec['최대매연Die(%)'] = tp.loc[tp['A'].str.contains('최대', na=False), 'H'].values[0] # 매연Die
            rec['판정매연Die(%)'] = tp.loc[tp['A'].str.contains('판정', na=False), 'H'].values[0] # 매연Die

            rec['최대매연Env(%)'] = tp.loc[tp['A'].str.contains('최대', na=False), 'P'].values[0] # 매연Env
            rec['판정매연Env(%)'] = tp.loc[tp['A'].str.contains('판정', na=False), 'P'].values[0] # 매연Env

            rec['측정날짜'] = file.split('_')[0]

            df = pd.concat([df, rec], ignore_index=False)
            # except:
            #     print(os.path.join(root, file))

0it [00:00, ?it/s]

9it [03:32, 23.67s/it]

In [67]:
# 1 ~ 8 : 808개
20+33+92+196+132+112+78+145

808

In [158]:
df.shape

(497427, 45)

In [159]:
df.drop_duplicates(['차량번호', '출력날짜']).shape

(808, 45)

In [160]:
df.head()

,시간,NO(ppm),NO2(ppm),NOx(ppm),산소(%),유량(lpm),압력(mbar),매연Die (%),속도(km/h),출력(PS),...,판정NO(ppm),최대NO2(ppm),판정NO2(ppm),최대NOx(ppm),판정NOx(ppm),최대매연Die(%),판정매연Die(%),최대매연Env(%),판정매연Env(%),측정날짜
12,12:17:51,971,246,1217,7.70,2.80,963,0,0,0,...,728,247,181,1225,925,6,2,0,0,20230109
13,12:17:51,973,246,1219,7.80,2.80,964,0,0,0,...,728,247,181,1225,925,6,2,0,0,20230109
14,12:17:51,973,246,1219,7.80,2.80,964,0,0,0,...,728,247,181,1225,925,6,2,0,0,20230109
15,12:17:51,973,247,1220,7.80,2.80,965,0,0.30,0,...,728,247,181,1225,925,6,2,0,0,20230109
16,12:17:52,976,247,1223,7.80,2.80,965,0,0.80,0,...,728,247,181,1225,925,6,2,0,0,20230109

In [162]:
df.columns.to_list()

['시간',
 'NO(ppm)',
 'NO2(ppm)',
 'NOx(ppm)',
 '산소(%)',
 '유량(lpm)',
 '압력(mbar)',
 '매연Die (%)',
 '속도(km/h)',
 '출력(PS)',
 '토크(Kgf m)',
 '매연Env (%)',
 '사업장명',
 '접수번호',
 '차량번호',
 '차명',
 '연식',
 '주행거리',
 '정격출력',
 '정격RPM',
 '차량중량',
 '설정마력',
 '출력날짜',
 '평균NO(ppm)',
 '평균NO2(ppm)',
 '평균NOx(ppm)',
 '평균산소(%)',
 '평균유량(lpm)',
 '평균압력(mbar)',
 '평균매연Die(%)',
 '평균속도(km/h)',
 '평균출력(PS)',
 '평균토크(Kgf_m)',
 '평균매연Env(%)',
 '최대NO(ppm)',
 '판정NO(ppm)',
 '최대NO2(ppm)',
 '판정NO2(ppm)',
 '최대NOx(ppm)',
 '판정NOx(ppm)',
 '최대매연Die(%)',
 '판정매연Die(%)',
 '최대매연Env(%)',
 '판정매연Env(%)',
 '측정날짜']

In [163]:
df = df[[
    '사업장명',
    '접수번호',
    '차량번호',
    '차명',
    '연식',
    '주행거리',
    '정격출력',
    '정격RPM',
    '차량중량',
    '설정마력',
    '출력날짜',
    '측정날짜', 
    '평균NO(ppm)',
    '평균NO2(ppm)',
    '평균NOx(ppm)',
    '평균산소(%)',
    '평균유량(lpm)',
    '평균압력(mbar)',
    '평균매연Die(%)',
    '평균속도(km/h)',
    '평균출력(PS)',
    '평균토크(Kgf_m)',
    '평균매연Env(%)',
    '최대NO(ppm)',
    '최대NO2(ppm)',
    '최대NOx(ppm)',
    '최대매연Die(%)',
    '최대매연Env(%)',
    '판정NO(ppm)',
    '판정NO2(ppm)',
    '판정NOx(ppm)',
    '판정매연Die(%)',
    '판정매연Env(%)',
    '시간',
    'NO(ppm)',
    'NO2(ppm)',
    'NOx(ppm)',
    '산소(%)',
    '유량(lpm)',
    '압력(mbar)',
    '매연Die (%)',
    '속도(km/h)',
    '출력(PS)',
    '토크(Kgf m)',
    '매연Env (%)',
]]

In [164]:
df = df.rename(columns={'매연Die (%)':'매연Die(%)', '토크(Kgf m)':'토크(Kgf_m)', '매연Env (%)':'매연Env(%)'})
df.columns

Index(['사업장명', '접수번호', '차량번호', '차명', '연식', '주행거리', '정격출력', '정격RPM', '차량중량',
       '설정마력', '출력날짜', '측정날짜', '평균NO(ppm)', '평균NO2(ppm)', '평균NOx(ppm)',
       '평균산소(%)', '평균유량(lpm)', '평균압력(mbar)', '평균매연Die(%)', '평균속도(km/h)',
       '평균출력(PS)', '평균토크(Kgf_m)', '평균매연Env(%)', '최대NO(ppm)', '최대NO2(ppm)',
       '최대NOx(ppm)', '최대매연Die(%)', '최대매연Env(%)', '판정NO(ppm)', '판정NO2(ppm)',
       '판정NOx(ppm)', '판정매연Die(%)', '판정매연Env(%)', '시간', 'NO(ppm)', 'NO2(ppm)',
       'NOx(ppm)', '산소(%)', '유량(lpm)', '압력(mbar)', '매연Die(%)', '속도(km/h)',
       '출력(PS)', '토크(Kgf_m)', '매연Env(%)'],
      dtype='object')

In [165]:
df[['출력날짜', '측정날짜']].head()

          출력날짜      측정날짜
12  2023-01-09  20230109
13  2023-01-09  20230109
14  2023-01-09  20230109
15  2023-01-09  20230109
16  2023-01-09  20230109

In [166]:
df[['출력날짜', '측정날짜']].tail()

           출력날짜      측정날짜
604  2023-08-31  20230831
605  2023-08-31  20230831
606  2023-08-31  20230831
607  2023-08-31  20230831
608  2023-08-31  20230831

In [167]:
df[df['차량번호'] == '15도9871'].head()

,사업장명,접수번호,차량번호,차명,연식,주행거리,정격출력,정격RPM,차량중량,설정마력,...,NO2(ppm),NOx(ppm),산소(%),유량(lpm),압력(mbar),매연Die(%),속도(km/h),출력(PS),토크(Kgf_m),매연Env(%)
12,(주)자스텍,H1532023061200131,15도9871,스포티지,2012.00,NaN,184.00,4000.00,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,0
13,(주)자스텍,H1532023061200131,15도9871,스포티지,2012.00,NaN,184.00,4000.00,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,0
14,(주)자스텍,H1532023061200131,15도9871,스포티지,2012.00,NaN,184.00,4000.00,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,0
15,(주)자스텍,H1532023061200131,15도9871,스포티지,2012.00,NaN,184.00,4000.00,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,0
16,(주)자스텍,H1532023061200131,15도9871,스포티지,2012.00,NaN,184.00,4000.00,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,0

In [168]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 497427 entries, 12 to 608
Data columns (total 45 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   사업장명         497427 non-null  object
 1   접수번호         497427 non-null  object
 2   차량번호         497427 non-null  object
 3   차명           497427 non-null  object
 4   연식           497427 non-null  float64
 5   주행거리         0 non-null       float64
 6   정격출력         497427 non-null  float64
 7   정격RPM        497427 non-null  float64
 8   차량중량         0 non-null       float64
 9   설정마력         0 non-null       float64
 10  출력날짜         497427 non-null  object
 11  측정날짜         497427 non-null  object
 12  평균NO(ppm)    497427 non-null  object
 13  평균NO2(ppm)   497427 non-null  object
 14  평균NOx(ppm)   497427 non-null  object
 15  평균산소(%)      497427 non-null  object
 16  평균유량(lpm)    497427 non-null  object
 17  평균압력(mbar)   497427 non-null  object
 18  평균매연Die(%)   0 non-null       float64
 19  평균속도(km/h)   497427 non-null  object
 20  평균출력(PS)     497427 non-null  object
 21  평균토크(Kgf_m)  497427 non-null  object
 22  평균매연Env(%)   485716 non-null  object
 23  최대NO(ppm)    497427 non-null  object
 24  최대NO2(ppm)   497427 non-null  object
 25  최대NOx(ppm)   497427 non-null  object
 26  최대매연Die(%)   497427 non-null  object
 27  최대매연Env(%)   497427 non-null  object
 28  판정NO(ppm)    497427 non-null  object
 29  판정NO2(ppm)   497427 non-null  object
 30  판정NOx(ppm)   497427 non-null  object
 31  판정매연Die(%)   497427 non-null  object
 32  판정매연Env(%)   497427 non-null  object
 33  시간           496810 non-null  object
 34  NO(ppm)      496810 non-null  object
 35  NO2(ppm)     496810 non-null  object
 36  NOx(ppm)     496810 non-null  object
 37  산소(%)        496810 non-null  object
 38  유량(lpm)      496810 non-null  object
 39  압력(mbar)     496810 non-null  object
 40  매연Die(%)     497427 non-null  object
 41  속도(km/h)     496810 non-null  object
 42  출력(PS)       496810 non-null  object
 43  토크(Kgf_m)    496810 non-null  object
 44  매연Env(%)     497427 non-null  object
dtypes: float64(7), object(38)
memory usage: 174.6+ MB

## [출력] 통합측정기_길갈공업사_데이터

In [169]:
today_date = datetime.today().strftime("%Y%m%d")
today_date

'20231020'

In [170]:
# 9.5s
name = '통합측정기_데이터(2023년1~8월)(수집20230930)'
file_name = f'{name}({today_date}).csv'
df.to_csv(os.path.join(raw_fold, file_name), index=False)

In [171]:
file_name

'통합측정기_데이터(2023년1~8월)(수집20230930)(20231020).csv'

# Load
- 통합측정기 측정 정보(자스텍 제공)
- 차량제원(자스텍 제공)
- 정밀검사(자스텍 제공)

## 통합측정기 측정 정보

In [172]:
# 2.7s
name = '통합측정기_데이터(2023년1~8월)(수집20230930)(20231020)'
file_name = f'{name}.csv'
ms = pd.read_csv(os.path.join(raw_fold, file_name))
ms.info()

C:\Users\kbjung\AppData\Local\Temp\ipykernel_4428\427507058.py:4: DtypeWarning: Columns (12,14,17) have mixed types. Specify dtype option on import or set low_memory=False.
  ms = pd.read_csv(os.path.join(raw_fold, file_name))

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 497427 entries, 0 to 497426
Data columns (total 45 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   사업장명         497427 non-null  object
 1   접수번호         497427 non-null  object
 2   차량번호         497427 non-null  object
 3   차명           497427 non-null  object
 4   연식           497427 non-null  float64
 5   주행거리         0 non-null       float64
 6   정격출력         497427 non-null  float64
 7   정격RPM        497427 non-null  float64
 8   차량중량         0 non-null       float64
 9   설정마력         0 non-null       float64
 10  출력날짜         497427 non-null  object
 11  측정날짜         497427 non-null  int64
 12  평균NO(ppm)    497427 non-null  object
 13  평균NO2(ppm)   497427 non-null  float64
 14  평균NOx(ppm)   497427 non-null  object
 15  평균산소(%)      497427 non-null  float64
 16  평균유량(lpm)    497427 non-null  float64
 17  평균압력(mbar)   497427 non-null  object
 18  평균매연Die(%)   0 non-null       float64
 19  평균속도(km/h)   497427 non-null  float64
 20  평균출력(PS)     497427 non-null  float64
 21  평균토크(Kgf_m)  497427 non-null  float64
 22  평균매연Env(%)   485716 non-null  float64
 23  최대NO(ppm)    497427 non-null  int64
 24  최대NO2(ppm)   497427 non-null  int64
 25  최대NOx(ppm)   497427 non-null  int64
 26  최대매연Die(%)   497427 non-null  int64
 27  최대매연Env(%)   497427 non-null  int64
 28  판정NO(ppm)    497427 non-null  int64
 29  판정NO2(ppm)   497427 non-null  int64
 30  판정NOx(ppm)   497427 non-null  int64
 31  판정매연Die(%)   497427 non-null  int64
 32  판정매연Env(%)   497427 non-null  int64
 33  시간           496810 non-null  object
 34  NO(ppm)      496810 non-null  float64
 35  NO2(ppm)     496810 non-null  float64
 36  NOx(ppm)     496810 non-null  float64
 37  산소(%)        496810 non-null  float64
 38  유량(lpm)      496810 non-null  float64
 39  압력(mbar)     496810 non-null  float64
 40  매연Die(%)     497427 non-null  int64
 41  속도(km/h)     496810 non-null  float64
 42  출력(PS)       496810 non-null  float64
 43  토크(Kgf_m)    496810 non-null  float64
 44  매연Env(%)     497427 non-null  int64
dtypes: float64(23), int64(13), object(9)
memory usage: 170.8+ MB

In [173]:
ms.columns

Index(['사업장명', '접수번호', '차량번호', '차명', '연식', '주행거리', '정격출력', '정격RPM', '차량중량',
       '설정마력', '출력날짜', '측정날짜', '평균NO(ppm)', '평균NO2(ppm)', '평균NOx(ppm)',
       '평균산소(%)', '평균유량(lpm)', '평균압력(mbar)', '평균매연Die(%)', '평균속도(km/h)',
       '평균출력(PS)', '평균토크(Kgf_m)', '평균매연Env(%)', '최대NO(ppm)', '최대NO2(ppm)',
       '최대NOx(ppm)', '최대매연Die(%)', '최대매연Env(%)', '판정NO(ppm)', '판정NO2(ppm)',
       '판정NOx(ppm)', '판정매연Die(%)', '판정매연Env(%)', '시간', 'NO(ppm)', 'NO2(ppm)',
       'NOx(ppm)', '산소(%)', '유량(lpm)', '압력(mbar)', '매연Die(%)', '속도(km/h)',
       '출력(PS)', '토크(Kgf_m)', '매연Env(%)'],
      dtype='object')

In [174]:
ms = ms.drop('차량중량', axis=1)
ms.columns

Index(['사업장명', '접수번호', '차량번호', '차명', '연식', '주행거리', '정격출력', '정격RPM', '설정마력',
       '출력날짜', '측정날짜', '평균NO(ppm)', '평균NO2(ppm)', '평균NOx(ppm)', '평균산소(%)',
       '평균유량(lpm)', '평균압력(mbar)', '평균매연Die(%)', '평균속도(km/h)', '평균출력(PS)',
       '평균토크(Kgf_m)', '평균매연Env(%)', '최대NO(ppm)', '최대NO2(ppm)', '최대NOx(ppm)',
       '최대매연Die(%)', '최대매연Env(%)', '판정NO(ppm)', '판정NO2(ppm)', '판정NOx(ppm)',
       '판정매연Die(%)', '판정매연Env(%)', '시간', 'NO(ppm)', 'NO2(ppm)', 'NOx(ppm)',
       '산소(%)', '유량(lpm)', '압력(mbar)', '매연Die(%)', '속도(km/h)', '출력(PS)',
       '토크(Kgf_m)', '매연Env(%)'],
      dtype='object')

In [175]:
ms.head()

,사업장명,접수번호,차량번호,차명,연식,주행거리,정격출력,정격RPM,설정마력,출력날짜,...,NO2(ppm),NOx(ppm),산소(%),유량(lpm),압력(mbar),매연Die(%),속도(km/h),출력(PS),토크(Kgf_m),매연Env(%)
0,(주)자스텍,H1532023010900311,81주2475,포터Ⅱ (PORTERⅡ),2017.00,NaN,132.00,3600.00,NaN,2023-01-09,...,246.00,1217.00,7.70,2.80,963.00,0,0.00,0.00,0.10,0
1,(주)자스텍,H1532023010900311,81주2475,포터Ⅱ (PORTERⅡ),2017.00,NaN,132.00,3600.00,NaN,2023-01-09,...,246.00,1219.00,7.80,2.80,964.00,0,0.00,0.00,0.10,0
2,(주)자스텍,H1532023010900311,81주2475,포터Ⅱ (PORTERⅡ),2017.00,NaN,132.00,3600.00,NaN,2023-01-09,...,246.00,1219.00,7.80,2.80,964.00,0,0.00,0.00,0.10,0
3,(주)자스텍,H1532023010900311,81주2475,포터Ⅱ (PORTERⅡ),2017.00,NaN,132.00,3600.00,NaN,2023-01-09,...,247.00,1220.00,7.80,2.80,965.00,0,0.30,0.00,0.10,0
4,(주)자스텍,H1532023010900311,81주2475,포터Ⅱ (PORTERⅡ),2017.00,NaN,132.00,3600.00,NaN,2023-01-09,...,247.00,1223.00,7.80,2.80,965.00,0,0.80,0.00,0.10,0

## 차량제원(2023.09.20)

In [176]:
# '차량번호', '연료', '연식', '배기량', '차종', '총중량', '엔진형식', '등급', '차대번호', '차명', '폐차여부'
cs_cols = ['차량번호', '연료', '배기량', '차종', '총중량', '엔진형식', '등급', '차대번호', '폐차여부']
len(cs_cols)

9

In [177]:
# 0.5s
name = '230920_차량제원'
file_name = f'{name}.csv'
cs = pd.read_csv(os.path.join(raw_fold, file_name), usecols=cs_cols)
cs.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 147895 entries, 0 to 147894
Data columns (total 9 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   차량번호    147895 non-null  object
 1   연료      141396 non-null  object
 2   배기량     141402 non-null  float64
 3   차종      141439 non-null  object
 4   총중량     141439 non-null  float64
 5   엔진형식    141413 non-null  object
 6   등급      141439 non-null  object
 7   차대번호    141439 non-null  object
 8   폐차여부    141439 non-null  object
dtypes: float64(2), object(7)
memory usage: 10.2+ MB

## 정밀검사(2023.09.20)

In [178]:
eet_cols = ['차대번호', '정밀검사일자', '정밀검사종류', '관능검사판정', '정밀검사판정', '정밀검사측정방법', '무부하매연측정치1', '무부하매연허용치1', '무부하매연판정1', '무부하매연측정치2', '무부하매연허용치2', '무부하매연판정2', '무부하매연측정치3', '무부하매연허용치3', '무부하매연판정3', '무부하매연측정치4', '무부하매연허용치4', '무부하매연판정4', '무부하매연측정치5', '무부하매연허용치5', '무부하매연판정5', '무부하매연측정치6', '무부하매연허용치6', '무부하매연판정6']
len(eet_cols)

24

In [179]:
# 0.5s
name = '230920_정밀검사'
file_name = f'{name}.csv'
eet = pd.read_csv(os.path.join(raw_fold, file_name), usecols=eet_cols)
eet.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 113320 entries, 0 to 113319
Data columns (total 24 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   차대번호       113320 non-null  object
 1   정밀검사일자     113320 non-null  int64
 2   정밀검사종류     113320 non-null  object
 3   관능검사판정     113320 non-null  object
 4   정밀검사판정     113320 non-null  object
 5   정밀검사측정방법   113320 non-null  object
 6   무부하매연측정치1  110568 non-null  float64
 7   무부하매연허용치1  110565 non-null  float64
 8   무부하매연판정1   110564 non-null  object
 9   무부하매연측정치2  82400 non-null   float64
 10  무부하매연허용치2  78642 non-null   float64
 11  무부하매연판정2   59012 non-null   object
 12  무부하매연측정치3  74018 non-null   float64
 13  무부하매연허용치3  74015 non-null   float64
 14  무부하매연판정3   52004 non-null   object
 15  무부하매연측정치4  74016 non-null   float64
 16  무부하매연허용치4  74013 non-null   float64
 17  무부하매연판정4   51997 non-null   object
 18  무부하매연측정치5  74016 non-null   float64
 19  무부하매연허용치5  74013 non-null   float64
 20  무부하매연판정5   51997 non-null   object
 21  무부하매연측정치6  69438 non-null   float64
 22  무부하매연허용치6  69436 non-null   float64
 23  무부하매연판정6   44649 non-null   object
dtypes: float64(12), int64(1), object(11)
memory usage: 20.7+ MB

# Preprocessing

## 통합측정정보

In [180]:
ms.columns

Index(['사업장명', '접수번호', '차량번호', '차명', '연식', '주행거리', '정격출력', '정격RPM', '설정마력',
       '출력날짜', '측정날짜', '평균NO(ppm)', '평균NO2(ppm)', '평균NOx(ppm)', '평균산소(%)',
       '평균유량(lpm)', '평균압력(mbar)', '평균매연Die(%)', '평균속도(km/h)', '평균출력(PS)',
       '평균토크(Kgf_m)', '평균매연Env(%)', '최대NO(ppm)', '최대NO2(ppm)', '최대NOx(ppm)',
       '최대매연Die(%)', '최대매연Env(%)', '판정NO(ppm)', '판정NO2(ppm)', '판정NOx(ppm)',
       '판정매연Die(%)', '판정매연Env(%)', '시간', 'NO(ppm)', 'NO2(ppm)', 'NOx(ppm)',
       '산소(%)', '유량(lpm)', '압력(mbar)', '매연Die(%)', '속도(km/h)', '출력(PS)',
       '토크(Kgf_m)', '매연Env(%)'],
      dtype='object')

In [181]:
ms[['출력날짜', '측정날짜']].head()

         출력날짜      측정날짜
0  2023-01-09  20230109
1  2023-01-09  20230109
2  2023-01-09  20230109
3  2023-01-09  20230109
4  2023-01-09  20230109

In [182]:
ms[['출력날짜', '측정날짜']].dtypes

출력날짜    object
측정날짜     int64
dtype: object

In [183]:
ms[['출력날짜', '측정날짜']].isnull().sum()

출력날짜    0
측정날짜    0
dtype: int64

In [184]:
ms['측정날짜'] = pd.to_datetime(ms['측정날짜'], format="%Y%m%d")

In [185]:
ms[['출력날짜', '측정날짜']].head()

         출력날짜       측정날짜
0  2023-01-09 2023-01-09
1  2023-01-09 2023-01-09
2  2023-01-09 2023-01-09
3  2023-01-09 2023-01-09
4  2023-01-09 2023-01-09

In [186]:
ms[['출력날짜', '측정날짜']].tail()

              출력날짜       측정날짜
497422  2023-08-31 2023-08-31
497423  2023-08-31 2023-08-31
497424  2023-08-31 2023-08-31
497425  2023-08-31 2023-08-31
497426  2023-08-31 2023-08-31

In [188]:
ms.loc[ms['출력날짜'] != ms['측정날짜'], ['차량번호', '출력날짜', '측정날짜']]

Empty DataFrame
Columns: [차량번호, 출력날짜, 측정날짜]
Index: []

In [189]:
ms.head()

,사업장명,접수번호,차량번호,차명,연식,주행거리,정격출력,정격RPM,설정마력,출력날짜,...,NO2(ppm),NOx(ppm),산소(%),유량(lpm),압력(mbar),매연Die(%),속도(km/h),출력(PS),토크(Kgf_m),매연Env(%)
0,(주)자스텍,H1532023010900311,81주2475,포터Ⅱ (PORTERⅡ),2017.00,NaN,132.00,3600.00,NaN,2023-01-09,...,246.00,1217.00,7.70,2.80,963.00,0,0.00,0.00,0.10,0
1,(주)자스텍,H1532023010900311,81주2475,포터Ⅱ (PORTERⅡ),2017.00,NaN,132.00,3600.00,NaN,2023-01-09,...,246.00,1219.00,7.80,2.80,964.00,0,0.00,0.00,0.10,0
2,(주)자스텍,H1532023010900311,81주2475,포터Ⅱ (PORTERⅡ),2017.00,NaN,132.00,3600.00,NaN,2023-01-09,...,246.00,1219.00,7.80,2.80,964.00,0,0.00,0.00,0.10,0
3,(주)자스텍,H1532023010900311,81주2475,포터Ⅱ (PORTERⅡ),2017.00,NaN,132.00,3600.00,NaN,2023-01-09,...,247.00,1220.00,7.80,2.80,965.00,0,0.30,0.00,0.10,0
4,(주)자스텍,H1532023010900311,81주2475,포터Ⅱ (PORTERⅡ),2017.00,NaN,132.00,3600.00,NaN,2023-01-09,...,247.00,1223.00,7.80,2.80,965.00,0,0.80,0.00,0.10,0

## 차량제원

In [190]:
cs.columns

Index(['차량번호', '연료', '배기량', '차종', '총중량', '엔진형식', '등급', '차대번호', '폐차여부'], dtype='object')

In [191]:
cs.head()

      차량번호   연료     배기량  차종     총중량  엔진형식 등급               차대번호 폐차여부
0  01가0656   경유 1598.00  승용 2100.00   LVL  3  KLAYA75CDGK341377    N
1  01가0666  휘발유 3778.00  승용 2255.00  G6DJ  2  KMHGF41DBDU069448    N
2  01가0758   경유 2967.00  승용 2245.00   CDY  3  WAUZZZ4F0BN059469    N
3  01가0847  휘발유 1591.00  승용 1570.00  G4FD  2  KMHDG41DBEU137486    N
4  01가1376   전기  111.00  승용 2255.00  EM17  1  KNAC281AFPA095017    N

In [192]:
cs.shape

(147895, 9)

In [199]:
temp = cs.sort_values('폐차여부', ascending=False)
temp['폐차여부'].head()

128419    Y
137615    Y
137647    Y
3895      Y
132607    Y
Name: 폐차여부, dtype: object

In [193]:
# csn = cs[cs['폐차여부'] != 'Y'].reset_index(drop=True)
# csn.shape

(143575, 9)

In [202]:
csn = cs.sort_values('폐차여부', ascending=False).drop_duplicates('차량번호').reset_index(drop=True)
csn.shape

(145308, 9)

In [203]:
csn.shape[0], len(csn['차량번호'].unique())

(145308, 145308)

In [204]:
csn.shape[0], len(csn['차대번호'].unique())

(145308, 138853)

In [205]:
csn['폐차여부'].value_counts(dropna=False)

N      134585
NaN      6456
Y        4267
Name: 폐차여부, dtype: int64

In [206]:
csn.columns

Index(['차량번호', '연료', '배기량', '차종', '총중량', '엔진형식', '등급', '차대번호', '폐차여부'], dtype='object')

## 정밀검사

In [207]:
eet.shape

(113320, 24)

In [208]:
eet.columns

Index(['차대번호', '정밀검사일자', '정밀검사종류', '관능검사판정', '정밀검사판정', '정밀검사측정방법', '무부하매연측정치1',
       '무부하매연허용치1', '무부하매연판정1', '무부하매연측정치2', '무부하매연허용치2', '무부하매연판정2',
       '무부하매연측정치3', '무부하매연허용치3', '무부하매연판정3', '무부하매연측정치4', '무부하매연허용치4',
       '무부하매연판정4', '무부하매연측정치5', '무부하매연허용치5', '무부하매연판정5', '무부하매연측정치6',
       '무부하매연허용치6', '무부하매연판정6'],
      dtype='object')

In [209]:
eet['정밀검사일자'].dtype

dtype('int64')

In [210]:
eet['정밀검사일자'].isnull().sum()

0

In [211]:
# 2.1s
eet['정밀검사일자'] = pd.to_datetime(eet['정밀검사일자'], format="%Y%m%d")

In [212]:
eet['정밀검사일자'].isnull().sum()

0

In [213]:
eet['정밀검사일자'].head()

0   2022-05-02
1   2023-01-25
2   2023-05-09
3   2022-06-27
4   2022-12-24
Name: 정밀검사일자, dtype: datetime64[ns]

### 최신검사만

In [214]:
# 27.6s
# 113320, 77561
eet.shape[0], len(eet['차대번호'].unique())

(113320, 77561)

In [215]:
# 1m 43.4s
eet = eet.sort_values('정밀검사일자', ascending=False).drop_duplicates('차대번호').reset_index(drop=True)
eet.shape

(77561, 24)

### 2022년 10월부터 사용

In [216]:
eet['정밀검사일자'].head()

0   2023-09-09
1   2023-09-09
2   2023-09-09
3   2023-09-09
4   2023-09-09
Name: 정밀검사일자, dtype: datetime64[ns]

In [217]:
# 3.0s
eet = eet[eet['정밀검사일자'] >= '2022-10-01'].reset_index(drop=True)
eet.shape

(48774, 24)

In [218]:
eet['차대번호'].isnull().sum()

0

## 측정&차량제원

In [219]:
ms.columns

Index(['사업장명', '접수번호', '차량번호', '차명', '연식', '주행거리', '정격출력', '정격RPM', '설정마력',
       '출력날짜', '측정날짜', '평균NO(ppm)', '평균NO2(ppm)', '평균NOx(ppm)', '평균산소(%)',
       '평균유량(lpm)', '평균압력(mbar)', '평균매연Die(%)', '평균속도(km/h)', '평균출력(PS)',
       '평균토크(Kgf_m)', '평균매연Env(%)', '최대NO(ppm)', '최대NO2(ppm)', '최대NOx(ppm)',
       '최대매연Die(%)', '최대매연Env(%)', '판정NO(ppm)', '판정NO2(ppm)', '판정NOx(ppm)',
       '판정매연Die(%)', '판정매연Env(%)', '시간', 'NO(ppm)', 'NO2(ppm)', 'NOx(ppm)',
       '산소(%)', '유량(lpm)', '압력(mbar)', '매연Die(%)', '속도(km/h)', '출력(PS)',
       '토크(Kgf_m)', '매연Env(%)'],
      dtype='object')

In [220]:
ms.shape

(497427, 44)

In [221]:
csn.columns

Index(['차량번호', '연료', '배기량', '차종', '총중량', '엔진형식', '등급', '차대번호', '폐차여부'], dtype='object')

In [222]:
# 0s
mcs = ms.merge(csn, on='차량번호', how='left')
mcs.shape

(497427, 52)

In [223]:
mcs['차대번호'].isnull().sum()

121916

In [226]:
mcs.loc[mcs['차대번호'].isnull() == True, '차량번호']

0         81주2475
1         81주2475
2         81주2475
3         81주2475
4         81주2475
           ...
496228    81루7845
496229    81루7845
496230    81루7845
496231    81루7845
496232    81루7845
Name: 차량번호, Length: 121916, dtype: object

In [227]:
mcs.shape[0], len(mcs['차대번호'].unique())

(497427, 605)

## 측정&차량제원&정밀

In [228]:
mcs.shape

(497427, 52)

In [229]:
# 7.3s
mcse = mcs.merge(eet, on='차대번호', how='left')
mcse.shape

(497427, 75)

In [230]:
mcse.drop_duplicates(['차량번호', '출력날짜']).shape

(808, 75)

### [출력] 원격&차량제원&정밀

In [231]:
mcse.columns

Index(['사업장명', '접수번호', '차량번호', '차명', '연식', '주행거리', '정격출력', '정격RPM', '설정마력',
       '출력날짜', '측정날짜', '평균NO(ppm)', '평균NO2(ppm)', '평균NOx(ppm)', '평균산소(%)',
       '평균유량(lpm)', '평균압력(mbar)', '평균매연Die(%)', '평균속도(km/h)', '평균출력(PS)',
       '평균토크(Kgf_m)', '평균매연Env(%)', '최대NO(ppm)', '최대NO2(ppm)', '최대NOx(ppm)',
       '최대매연Die(%)', '최대매연Env(%)', '판정NO(ppm)', '판정NO2(ppm)', '판정NOx(ppm)',
       '판정매연Die(%)', '판정매연Env(%)', '시간', 'NO(ppm)', 'NO2(ppm)', 'NOx(ppm)',
       '산소(%)', '유량(lpm)', '압력(mbar)', '매연Die(%)', '속도(km/h)', '출력(PS)',
       '토크(Kgf_m)', '매연Env(%)', '연료', '배기량', '차종', '총중량', '엔진형식', '등급', '차대번호',
       '폐차여부', '정밀검사일자', '정밀검사종류', '관능검사판정', '정밀검사판정', '정밀검사측정방법', '무부하매연측정치1',
       '무부하매연허용치1', '무부하매연판정1', '무부하매연측정치2', '무부하매연허용치2', '무부하매연판정2',
       '무부하매연측정치3', '무부하매연허용치3', '무부하매연판정3', '무부하매연측정치4', '무부하매연허용치4',
       '무부하매연판정4', '무부하매연측정치5', '무부하매연허용치5', '무부하매연판정5', '무부하매연측정치6',
       '무부하매연허용치6', '무부하매연판정6'],
      dtype='object')

In [232]:
mcse_cols = [
    # 통합측정정보
    '사업장명', 
    '접수번호', 
    '차량번호', 
    '차명', 
    '연식', 
    '주행거리', 
    '정격출력', 
    '정격RPM',
    '설정마력',
    '출력날짜', 
    '측정날짜',
    '평균NO(ppm)', 
    '평균NO2(ppm)', 
    '평균NOx(ppm)', 
    '평균산소(%)', 
    '평균유량(lpm)', 
    '평균압력(mbar)', 
    '평균매연Die(%)', 
    '평균속도(km/h)', 
    '평균출력(PS)', 
    '평균토크(Kgf_m)',
    '평균매연Env(%)',
    '최대NO(ppm)', 
    '최대NO2(ppm)', 
    '최대NOx(ppm)', 
    '최대매연Die(%)', 
    '최대매연Env(%)', 
    '판정NO(ppm)', 
    '판정NO2(ppm)', 
    '판정NOx(ppm)', 
    '판정매연Die(%)', 
    '판정매연Env(%)', 
    # 통합측정정보 기록
    '시간', 
    'NO(ppm)', 
    'NO2(ppm)', 
    'NOx(ppm)', 
    '산소(%)', 
    '유량(lpm)', 
    '압력(mbar)', 
    '매연Die(%)', 
    '속도(km/h)', 
    '출력(PS)',
    '토크(Kgf_m)', 
    '매연Env(%)',
    
    # 등록, 제원정보
    '연료', 
    '배기량', 
    '차종', 
    '총중량', 
    '엔진형식',
    '등급', 
    '차대번호', 
    '폐차여부', 
    
    # 정밀검사
    '정밀검사일자', 
    '정밀검사종류', 
    '관능검사판정', 
    '정밀검사판정',
    '정밀검사측정방법', 
    '무부하매연측정치1', # CO(매연)
    '무부하매연허용치1', 
    '무부하매연판정1', 
    '무부하매연측정치2',
    '무부하매연허용치2', 
    '무부하매연판정2', 
    '무부하매연측정치3', # NOx
    '무부하매연허용치3', 
    '무부하매연판정3',
    '무부하매연측정치4', 
    '무부하매연허용치4', 
    '무부하매연판정4', 
    '무부하매연측정치5', 
    '무부하매연허용치5',
    '무부하매연판정5', 
    '무부하매연측정치6', 
    '무부하매연허용치6', 
    '무부하매연판정6', 
    ]
len(mcse_cols)

75

In [233]:
today_date = datetime.today().strftime("%Y%m%d")
today_date

'20231020'

In [235]:
# 18.2s
file_name = f'통합측정_차량제원_정밀({today_date}).csv'
mcse[mcse_cols].to_csv(os.path.join(df_fold, file_name), index=False)
print(f'{file_name} 출력 완료.')

통합측정_차량제원_정밀(20231020).csv 출력 완료.

# Load csv

## 측정_차량제원_정밀 데이터

In [116]:
# df = mcse.copy()

In [6]:
start_time = time.time()

In [237]:
# 4.8s
name = '통합측정_차량제원_정밀(20231020)'
file_name = f'{name}.csv'
rec = pd.read_csv(os.path.join(df_fold, file_name))
rec.info()

C:\Users\kbjung\AppData\Local\Temp\ipykernel_4428\3790460158.py:4: DtypeWarning: Columns (11,13,16,49) have mixed types. Specify dtype option on import or set low_memory=False.
  rec = pd.read_csv(os.path.join(df_fold, file_name))

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 497427 entries, 0 to 497426
Data columns (total 75 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   사업장명         497427 non-null  object
 1   접수번호         497427 non-null  object
 2   차량번호         497427 non-null  object
 3   차명           497427 non-null  object
 4   연식           497427 non-null  float64
 5   주행거리         0 non-null       float64
 6   정격출력         497427 non-null  float64
 7   정격RPM        497427 non-null  float64
 8   설정마력         0 non-null       float64
 9   출력날짜         497427 non-null  object
 10  측정날짜         497427 non-null  object
 11  평균NO(ppm)    497427 non-null  object
 12  평균NO2(ppm)   497427 non-null  float64
 13  평균NOx(ppm)   497427 non-null  object
 14  평균산소(%)      497427 non-null  float64
 15  평균유량(lpm)    497427 non-null  float64
 16  평균압력(mbar)   497427 non-null  object
 17  평균매연Die(%)   0 non-null       float64
 18  평균속도(km/h)   497427 non-null  float64
 19  평균출력(PS)     497427 non-null  float64
 20  평균토크(Kgf_m)  497427 non-null  float64
 21  평균매연Env(%)   485716 non-null  float64
 22  최대NO(ppm)    497427 non-null  int64
 23  최대NO2(ppm)   497427 non-null  int64
 24  최대NOx(ppm)   497427 non-null  int64
 25  최대매연Die(%)   497427 non-null  int64
 26  최대매연Env(%)   497427 non-null  int64
 27  판정NO(ppm)    497427 non-null  int64
 28  판정NO2(ppm)   497427 non-null  int64
 29  판정NOx(ppm)   497427 non-null  int64
 30  판정매연Die(%)   497427 non-null  int64
 31  판정매연Env(%)   497427 non-null  int64
 32  시간           496810 non-null  object
 33  NO(ppm)      496810 non-null  float64
 34  NO2(ppm)     496810 non-null  float64
 35  NOx(ppm)     496810 non-null  float64
 36  산소(%)        496810 non-null  float64
 37  유량(lpm)      496810 non-null  float64
 38  압력(mbar)     496810 non-null  float64
 39  매연Die(%)     497427 non-null  int64
 40  속도(km/h)     496810 non-null  float64
 41  출력(PS)       496810 non-null  float64
 42  토크(Kgf_m)    496810 non-null  float64
 43  매연Env(%)     497427 non-null  int64
 44  연료           375511 non-null  object
 45  배기량          375511 non-null  float64
 46  차종           375511 non-null  object
 47  총중량          375511 non-null  float64
 48  엔진형식         375511 non-null  object
 49  등급           375511 non-null  object
 50  차대번호         375511 non-null  object
 51  폐차여부         375511 non-null  object
 52  정밀검사일자       374316 non-null  object
 53  정밀검사종류       374316 non-null  object
 54  관능검사판정       374316 non-null  object
 55  정밀검사판정       374316 non-null  object
 56  정밀검사측정방법     374316 non-null  object
 57  무부하매연측정치1    371927 non-null  float64
 58  무부하매연허용치1    371927 non-null  float64
 59  무부하매연판정1     371927 non-null  object
 60  무부하매연측정치2    371927 non-null  float64
 61  무부하매연허용치2    371927 non-null  float64
 62  무부하매연판정2     0 non-null       float64
 63  무부하매연측정치3    371927 non-null  float64
 64  무부하매연허용치3    371927 non-null  float64
 65  무부하매연판정3     0 non-null       float64
 66  무부하매연측정치4    371927 non-null  float64
 67  무부하매연허용치4    371927 non-null  float64
 68  무부하매연판정4     0 non-null       float64
 69  무부하매연측정치5    371927 non-null  float64
 70  무부하매연허용치5    371927 non-null  float64
 71  무부하매연판정5     0 non-null       float64
 72  무부하매연측정치6    371927 non-null  float64
 73  무부하매연허용치6    371927 non-null  float64
 74  무부하매연판정6     0 non-null       float64
dtypes: float64(41), int64(12), object(22)
memory usage: 284.6+ MB

In [241]:
rec.sort_values(['출력날짜', '매연Die(%)'], ascending=[True, False]).loc[:, ['출력날짜', '매연Die(%)']]

              출력날짜  매연Die(%)
1019    2023-01-09        15
1020    2023-01-09        15
1021    2023-01-09        15
1022    2023-01-09        15
1037    2023-01-09        15
...            ...       ...
497422  2023-08-31         0
497423  2023-08-31         0
497424  2023-08-31         0
497425  2023-08-31         0
497426  2023-08-31         0

[497427 rows x 2 columns]

In [242]:
df = rec.sort_values(['출력날짜', '매연Die(%)'], ascending=[True, False]).drop_duplicates(['차량번호', '출력날짜'])
df.shape

(808, 75)

In [243]:
df.columns

Index(['사업장명', '접수번호', '차량번호', '차명', '연식', '주행거리', '정격출력', '정격RPM', '설정마력',
       '출력날짜', '측정날짜', '평균NO(ppm)', '평균NO2(ppm)', '평균NOx(ppm)', '평균산소(%)',
       '평균유량(lpm)', '평균압력(mbar)', '평균매연Die(%)', '평균속도(km/h)', '평균출력(PS)',
       '평균토크(Kgf_m)', '평균매연Env(%)', '최대NO(ppm)', '최대NO2(ppm)', '최대NOx(ppm)',
       '최대매연Die(%)', '최대매연Env(%)', '판정NO(ppm)', '판정NO2(ppm)', '판정NOx(ppm)',
       '판정매연Die(%)', '판정매연Env(%)', '시간', 'NO(ppm)', 'NO2(ppm)', 'NOx(ppm)',
       '산소(%)', '유량(lpm)', '압력(mbar)', '매연Die(%)', '속도(km/h)', '출력(PS)',
       '토크(Kgf_m)', '매연Env(%)', '연료', '배기량', '차종', '총중량', '엔진형식', '등급', '차대번호',
       '폐차여부', '정밀검사일자', '정밀검사종류', '관능검사판정', '정밀검사판정', '정밀검사측정방법', '무부하매연측정치1',
       '무부하매연허용치1', '무부하매연판정1', '무부하매연측정치2', '무부하매연허용치2', '무부하매연판정2',
       '무부하매연측정치3', '무부하매연허용치3', '무부하매연판정3', '무부하매연측정치4', '무부하매연허용치4',
       '무부하매연판정4', '무부하매연측정치5', '무부하매연허용치5', '무부하매연판정5', '무부하매연측정치6',
       '무부하매연허용치6', '무부하매연판정6'],
      dtype='object')

In [244]:
len(df['차량번호'].unique())

804

In [245]:
df.loc[df['차량번호'].duplicated(keep=False), ['차량번호', '차명', '출력날짜']]

           차량번호             차명        출력날짜
119876  90두9057  포터Ⅱ (PORTERⅡ)  2023-04-10
138379  91라8722       봉고Ⅲ 4륜구동  2023-04-13
137905  90두9057  포터Ⅱ (PORTERⅡ)  2023-04-13
147862  91라8722       봉고Ⅲ 4륜구동  2023-04-15
247545  57머9832   싼타페(SANTAFE)  2023-05-22
280642  57머9832   싼타페(SANTAFE)  2023-05-30
311472  87저9414       봉고Ⅲ 1.2톤  2023-06-09
340230  87저9414       봉고Ⅲ 1.2톤  2023-06-16

### pre
- 타입 변환
- 배기량, 차량중량, 속도 구간 설정

#### 타입 변환

In [157]:
df[['평균NO(ppm)', '평균NO2(ppm)', '판정NOx(ppm)', '판정매연Die(%)']].dtypes

평균NO(ppm)     float64
평균NO2(ppm)    float64
판정NOx(ppm)      int64
판정매연Die(%)      int64
dtype: object

In [9]:
df['평균NO(ppm)'] = pd.to_numeric(df['평균NO(ppm)'], errors='coerce')

In [158]:
df[['평균NO(ppm)', '평균NO2(ppm)', '판정NOx(ppm)', '판정매연Die(%)']].dtypes

평균NO(ppm)     float64
평균NO2(ppm)    float64
판정NOx(ppm)      int64
판정매연Die(%)      int64
dtype: object

#### 구간 설정
- 배기량, 차량중량, 속도, 매연, NOx

##### 배기량
- 1000 단위

In [159]:
df['배기량'].isnull().sum()

212

In [160]:
df['배기량'].describe()

count    596.00
mean    2392.44
std      311.17
min     1493.00
25%     2199.00
50%     2497.00
75%     2497.00
max     3933.00
Name: 배기량, dtype: float64

In [161]:
div = 1000
n = 1
num = math.ceil(df['배기량'].max())
for i in range(1000, num, div):
    print(f'{n} : {i} ~ {i + div}')
    n += 1

1 : 1000 ~ 2000
2 : 2000 ~ 3000
3 : 3000 ~ 4000

In [162]:
div = 1000
n = 1
num = math.ceil(df['배기량'].max() / div)
for i in range(1, num):
    df.loc[(df['배기량'] >= i * div) & (df['배기량'] < (i + 1) * div), '배기량구분'] = f'{i}천이상 {i + 1}천미만'
    df.loc[(df['배기량'] >= i * div) & (df['배기량'] < (i + 1) * div), '배기량구분인덱스'] = n
    n += 1

In [163]:
df['배기량구분'].unique()

array([nan, '2천이상 3천미만', '1천이상 2천미만', '3천이상 4천미만'], dtype=object)

In [164]:
df['배기량구분인덱스'].unique()

array([nan,  2.,  1.,  3.])

##### 총중량(차량중량)
- 1000 단위

In [165]:
df['총중량'].isnull().sum()

212

In [166]:
df['총중량'].describe()

count    596.00
mean    2856.29
std      506.58
min     1490.00
25%     2720.00
50%     2925.00
75%     3097.50
max     5965.00
Name: 총중량, dtype: float64

In [167]:
div = 1000
n = 1
num = math.ceil(df['총중량'].max())
for i in range(1000, num, div):
    print(f'{n} : {i} ~ {i + div}')
    n += 1

1 : 1000 ~ 2000
2 : 2000 ~ 3000
3 : 3000 ~ 4000
4 : 4000 ~ 5000
5 : 5000 ~ 6000

In [168]:
div = 1000
n = 1
num = math.ceil(df['총중량'].max()/div)
for i in range(0, num):
    df.loc[(df['총중량'] >= i * div) & (df['총중량'] < (i + div) * div), '총중량구분'] = f'{i}천이상 {i + 1}천미만'
    df.loc[(df['총중량'] >= i * div) & (df['총중량'] < (i + div) * div), '총중량구분인덱스'] = n
    n += 1

In [169]:
df['총중량구분'].unique()

array([nan, '3천이상 4천미만', '2천이상 3천미만', '1천이상 2천미만', '5천이상 6천미만'],
      dtype=object)

In [170]:
df['총중량구분인덱스'].unique()

array([nan,  4.,  3.,  2.,  6.])

##### 평균속도
- 10단위

In [171]:
df['평균속도(km/h)'].describe()

count   808.00
mean     51.34
std       5.26
min       0.00
25%      51.92
50%      52.31
75%      52.62
max      53.61
Name: 평균속도(km/h), dtype: float64

In [172]:
df['평균속도(km/h)'].isnull().sum()

0

In [173]:
math.ceil(df['평균속도(km/h)'].max())

54

In [174]:
div = 10
n = 1
num = math.ceil(df['평균속도(km/h)'].max())
for i in range(0, num, div):
    print(f'{n} : {i} ~ {i + div}')
    n += 1

1 : 0 ~ 10
2 : 10 ~ 20
3 : 20 ~ 30
4 : 30 ~ 40
5 : 40 ~ 50
6 : 50 ~ 60

In [175]:
# 속도 구간 나누기(10단위)
div = 10
n = 1
num = math.ceil(df['평균속도(km/h)'].max())
for i in range(0, num, div):
    df.loc[(df['평균속도(km/h)'] >= i) & (df['평균속도(km/h)'] < i + div), '속도구분'] = f'{i}이상 {i + div}미만'
    df.loc[(df['평균속도(km/h)'] >= i) & (df['평균속도(km/h)'] < i + div), '속도구분인덱스'] = n
    n += 1

In [176]:
df['속도구분'].unique()

array(['50이상 60미만', '40이상 50미만', '30이상 40미만', '0이상 10미만'], dtype=object)

In [177]:
df['속도구분인덱스'].unique()

array([6., 5., 4., 1.])

##### 매연(판정매연Die(%))
- 농도구분 : 0 이상 0.5미만, …, 40 ~
- '판정매연Die'으로 분석 : 2023.10.06 최이사님 확인

In [178]:
df['판정매연Die(%)'].describe()

count   808.00
mean      5.38
std       5.10
min       0.00
25%       2.00
50%       4.00
75%       7.00
max      57.00
Name: 판정매연Die(%), dtype: float64

In [179]:
div = 5
n = 0
for i in range(9):
    print(f'{i + 1} : {n} ~ {n + div}')
    n += div

1 : 0 ~ 5
2 : 5 ~ 10
3 : 10 ~ 15
4 : 15 ~ 20
5 : 20 ~ 25
6 : 25 ~ 30
7 : 30 ~ 35
8 : 35 ~ 40
9 : 40 ~ 45

In [180]:
div = 5
n = 0
for i in range(9):
    df.loc[(df['판정매연Die(%)'] >= n) & (df['판정매연Die(%)'] < n + div), '매연구분'] = f'{n}이상 {n + div}미만'
    df.loc[(df['판정매연Die(%)'] >= n) & (df['판정매연Die(%)'] < n + div), '매연구분인덱스'] = i + 1
    n += div
df.loc[df['판정매연Die(%)'] >= n, '매연구분'] = f'{n}이상'
df.loc[df['판정매연Die(%)'] >= n, '매연구분인덱스'] = i + 2

In [181]:
df['매연구분'].unique()

array(['0이상 5미만', '10이상 15미만', '5이상 10미만', '45이상', '40이상 45미만',
       '15이상 20미만', '25이상 30미만', '20이상 25미만', '30이상 35미만'], dtype=object)

In [182]:
df['매연구분인덱스'].unique()

array([ 1.,  3.,  2., 10.,  9.,  4.,  6.,  5.,  7.])

##### NOx(판정NOx(ppm))
- 농도구분 : 0이상 500미만, 500~1000, ..., 3000~
- 판정 NOx 값 사용(2023.10.11 김지훈 부장 통화)

In [183]:
df['판정NOx(ppm)'].describe()

count    808.00
mean     715.99
std      374.19
min        0.00
25%      433.50
50%      640.50
75%      894.25
max     2541.00
Name: 판정NOx(ppm), dtype: float64

In [184]:
div = 500
n = 0
for i in range(7):
    print(f'{i + 1} : {n} ~ {n + div}')
    n += div

1 : 0 ~ 500
2 : 500 ~ 1000
3 : 1000 ~ 1500
4 : 1500 ~ 2000
5 : 2000 ~ 2500
6 : 2500 ~ 3000
7 : 3000 ~ 3500

In [185]:
div = 500
n = 0
for i in range(7):
    df.loc[(df['판정NOx(ppm)'] >= n) & (df['판정NOx(ppm)'] < n + div), 'NOx구분'] = f'{n}이상 {n + div}미만'
    df.loc[(df['판정NOx(ppm)'] >= n) & (df['판정NOx(ppm)'] < n + div), 'NOx구분인덱스'] = i + 1
    n += div
df.loc[df['판정NOx(ppm)'] >= n, 'NOx구분'] = f'{n}이상'
df.loc[df['판정NOx(ppm)'] >= n, 'NOx구분인덱스'] = i + 2

In [186]:
df['NOx구분'].unique()

array(['500이상 1000미만', '1000이상 1500미만', '0이상 500미만', '1500이상 2000미만',
       '2000이상 2500미만', '2500이상 3000미만'], dtype=object)

In [187]:
df['NOx구분인덱스'].unique()

array([2., 3., 1., 4., 5., 6.])

# Analysis

## 매연 측정 평균

In [188]:
df.columns

Index(['사업장명', '접수번호', '차량번호', '차명', '연식', '주행거리', '정격출력', '정격RPM', '설정마력',
       '출력날짜', '평균NO(ppm)', '최대NO(ppm)', '판정NO(ppm)', '평균NO2(ppm)',
       '최대NO2(ppm)', '판정NO2(ppm)', '평균NOx(ppm)', '최대NOx(ppm)', '판정NOx(ppm)',
       '평균산소(%)', '평균유량(lpm)', '평균압력(mbar)', '평균매연Die(%)', '최대매연Die(%)',
       '판정매연Die(%)', '평균속도(km/h)', '평균출력(PS)', '평균토크(Kgf_m)', '평균매연Env(%)',
       '최대매연Env(%)', '판정매연Env(%)', '측정날짜', '연료', '배기량', '차종', '총중량', '엔진형식',
       '등급', '차대번호', '폐차여부', '정밀검사일자', '정밀검사종류', '관능검사판정', '정밀검사판정',
       '정밀검사측정방법', '무부하매연측정치1', '무부하매연허용치1', '무부하매연판정1', '무부하매연측정치2',
       '무부하매연허용치2', '무부하매연판정2', '무부하매연측정치3', '무부하매연허용치3', '무부하매연판정3',
       '무부하매연측정치4', '무부하매연허용치4', '무부하매연판정4', '무부하매연측정치5', '무부하매연허용치5',
       '무부하매연판정5', '무부하매연측정치6', '무부하매연허용치6', '무부하매연판정6', '배기량구분', '배기량구분인덱스',
       '총중량구분', '총중량구분인덱스', '속도구분', '속도구분인덱스', '매연구분', '매연구분인덱스', 'NOx구분',
       'NOx구분인덱스'],
      dtype='object')

In [189]:
df.shape

(808, 73)

In [190]:
df['연료'].value_counts(dropna=False).reset_index()

  index   연료
0    경유  596
1   NaN  212

In [191]:
die = df[df['연료'] == '경유'].reset_index(drop=True)
die.shape

(596, 73)

In [192]:
die['판정매연Die(%)'].isnull().sum()

0

### 1\. 경유 > 차종별

In [193]:
grp1 = die.groupby(['차종'], dropna=False).agg({'판정매연Die(%)':'mean', '차량번호':'count'}).reset_index()
grp1 = grp1.rename(columns={'판정매연Die(%)':'매연_평균(%)', '차량번호':'측정건수'})
grp1.loc[grp1.shape[0]] = ['총합', np.nan, grp1['측정건수'].sum()]
grp1['매연_평균(%)'] = grp1['매연_평균(%)'].round(2)
grp1

   차종  매연_평균(%)  측정건수
0  승용      3.70   141
1  승합      5.55    83
2  특수      4.20     5
3  화물      6.00   367
4  총합       NaN   596

### 2\. 경유 > 연식별

In [194]:
grp2 = die.groupby(['연식'], dropna=False).agg({'판정매연Die(%)':'mean', '차량번호':'count'}).reset_index()
grp2 = grp2.rename(columns={'판정매연Die(%)':'매연_평균(%)', '차량번호':'측정건수'})
grp2.loc[grp2.shape[0]] = ['총합', np.nan, grp2['측정건수'].sum()]
grp2['매연_평균(%)'] = grp2['매연_평균(%)'].round(2)
grp2

        연식  매연_평균(%)  측정건수
0  2001.00      9.00     1
1  2003.00      9.00     4
2  2004.00      7.00     2
3  2005.00     12.17     6
4  2006.00      6.57     7
5  2007.00      7.35    20
6  2008.00      8.37    19
7  2009.00      8.94    34
8  2010.00      6.39    28
9  2011.00      6.05    59
10 2012.00      6.45    56
11 2013.00      4.55    49
12 2014.00      5.46    63
13 2015.00      5.07    75
14 2016.00      3.71    62
15 2017.00      3.05    76
16 2018.00      3.17    35
17      총합       NaN   596

### 3\. 경유 > 배출가스등급별

In [195]:
grp3 = die.groupby(['등급'], dropna=False).agg({'판정매연Die(%)':'mean', '차량번호':'count'}).reset_index()
grp3 = grp3.rename(columns={'판정매연Die(%)':'매연_평균(%)', '차량번호':'측정건수'})
grp3.loc[grp3.shape[0]] = ['총합', np.nan, grp3['측정건수'].sum()]
grp3['매연_평균(%)'] = grp3['매연_평균(%)'].round(2)
grp3

   등급  매연_평균(%)  측정건수
0   3      4.20   409
1   4      7.89   154
2   5      8.20    30
3  T3      3.00     1
4   X     11.00     2
5  총합       NaN   596

### 4\. 경유 > 배기량별

In [196]:
grp4 = die.groupby(['배기량구분인덱스', '배기량구분'], dropna=False).agg({'판정매연Die(%)':'mean', '차량번호':'count'}).reset_index()
grp4 = grp4.rename(columns={'판정매연Die(%)':'매연_평균(%)', '차량번호':'측정건수'})
grp4.loc[grp4.shape[0]] = [grp4['배기량구분인덱스'].max() + 1, '총합', np.nan, grp4['측정건수'].sum()]
grp4['매연_평균(%)'] = grp4['매연_평균(%)'].round(2)
grp4 = grp4.drop('배기량구분인덱스', axis=1)
grp4

       배기량구분  매연_평균(%)  측정건수
0  1천이상 2천미만      3.80   109
1  2천이상 3천미만      5.72   481
2  3천이상 4천미만      6.50     6
3         총합       NaN   596

### 5\. 경유 > 차량중량별

In [197]:
grp5 = die.groupby(['총중량구분인덱스', '총중량구분'], dropna=False).agg({'판정매연Die(%)':'mean', '차량번호':'count'}).reset_index()
grp5 = grp5.rename(columns={'총중량구분':'차량중량구분', '판정매연Die(%)':'매연_평균(%)', '차량번호':'측정건수'})
grp5.loc[grp5.shape[0]] = [grp5['총중량구분인덱스'].max() + 1, '총합', np.nan, grp5['측정건수'].sum()]
grp5['매연_평균(%)'] = grp5['매연_평균(%)'].round(2)
grp5 = grp5.drop('총중량구분인덱스', axis=1)
grp5

      차량중량구분  매연_평균(%)  측정건수
0  1천이상 2천미만      3.08    50
1  2천이상 3천미만      5.53   362
2  3천이상 4천미만      5.67   178
3  5천이상 6천미만      6.50     6
4         총합       NaN   596

### 6\. 경유 > 종합검사 매연허용기준별
- '무부하매연허용치1' 8미만 제외

In [198]:
grp6 = die[die['무부하매연허용치1'] >= 8].groupby(['무부하매연허용치1'], dropna=False).agg({'판정매연Die(%)':'mean', '차량번호':'count'}).reset_index()
grp6 = grp6.rename(columns={'판정매연Die(%)':'매연_평균(%)', '차량번호':'측정건수'})
grp6.loc[grp6.shape[0]] = ['총합', np.nan, grp6['측정건수'].sum()]
grp6['매연_평균(%)'] = grp6['매연_평균(%)'].round(2)
grp6

  무부하매연허용치1  매연_평균(%)  측정건수
0      8.00      2.88    89
1     15.00      5.65   461
2     20.00      8.20    30
3     25.00      6.42    12
4        총합       NaN   592

## NOx 측정 평균, 측정건수

### 7\. 경유 > 차종별

In [235]:
grp7 = die.groupby(['차종'], dropna=False).agg({'판정NOx(ppm)':'mean', '차량번호':'count'}).reset_index()
grp7 = grp7.rename(columns={'판정NOx(ppm)':'NOx_평균(ppm)', '차량번호':'측정건수'})
grp7.loc[grp7.shape[0]] = ['총합', np.nan, grp7['측정건수'].sum()]
grp7['NOx_평균(ppm)'] = grp7['NOx_평균(ppm)'].round(2)
grp7

   차종  NOx_평균(ppm)  측정건수
0  승용       858.75   141
1  승합       793.67    83
2  특수       941.20     5
3  화물       627.21   367
4  총합          NaN   596

### 8\. 경유 > 연식별

In [236]:
grp8 = die.groupby(['연식'], dropna=False).agg({'판정NOx(ppm)':'mean', '차량번호':'count'}).reset_index()
grp8 = grp8.rename(columns={'판정NOx(ppm)':'NOx_평균(ppm)', '차량번호':'측정건수'})
grp8.loc[grp8.shape[0]] = ['총합', np.nan, grp8['측정건수'].sum()]
grp8['NOx_평균(ppm)'] = grp8['NOx_평균(ppm)'].round(2)
grp8

        연식  NOx_평균(ppm)  측정건수
0  2001.00       154.00     1
1  2003.00       556.25     4
2  2004.00       370.50     2
3  2005.00       628.33     6
4  2006.00       440.57     7
5  2007.00       512.30    20
6  2008.00       604.21    19
7  2009.00       562.76    34
8  2010.00       663.68    28
9  2011.00       709.44    59
10 2012.00       706.38    56
11 2013.00       761.88    49
12 2014.00       725.19    63
13 2015.00       730.13    75
14 2016.00       827.00    62
15 2017.00       678.14    76
16 2018.00       869.37    35
17      총합          NaN   596

### 9\. 경유 > 배출가스등급별

In [237]:
grp9 = die.groupby(['등급'], dropna=False).agg({'판정NOx(ppm)':'mean', '차량번호':'count'}).reset_index()
grp9 = grp9.rename(columns={'판정NOx(ppm)':'NOx_평균(ppm)', '차량번호':'측정건수'})
grp9.loc[grp9.shape[0]] = ['총합', np.nan, grp9['측정건수'].sum()]
grp9['NOx_평균(ppm)'] = grp9['NOx_평균(ppm)'].round(2)
grp9

   등급  NOx_평균(ppm)  측정건수
0   3       750.45   409
1   4       641.64   154
2   5       483.53    30
3  T3      1076.00     1
4   X       261.50     2
5  총합          NaN   596

### 10\. 경유 > 배기량별

In [238]:
grp10 = die.groupby(['배기량구분인덱스', '배기량구분'], dropna=False).agg({'판정NOx(ppm)':'mean', '차량번호':'count'}).reset_index()
grp10 = grp10.rename(columns={'판정NOx(ppm)':'NOx_평균(ppm)', '차량번호':'측정건수'})
grp10.loc[grp10.shape[0]] = [grp10['배기량구분인덱스'].max() + 1, '총합', np.nan, grp10['측정건수'].sum()]
grp10 = grp10.drop('배기량구분인덱스', axis=1)
grp10['NOx_평균(ppm)'] = grp10['NOx_평균(ppm)'].round(2)
grp10

       배기량구분  NOx_평균(ppm)  측정건수
0  1천이상 2천미만       641.44   109
1  2천이상 3천미만       723.63   481
2  3천이상 4천미만       644.83     6
3         총합          NaN   596

### 11\. 경유 > 차량중량별

In [239]:
grp11 = die.groupby(['총중량구분인덱스', '총중량구분'], dropna=False).agg({'판정NOx(ppm)':'mean', '차량번호':'count'}).reset_index()
grp11 = grp11.rename(columns={'판정NOx(ppm)':'NOx_평균(ppm)', '차량번호':'측정건수'})
grp11.loc[grp11.shape[0]] = [grp11['총중량구분인덱스'].max() + 1, '총합', np.nan, grp11['측정건수'].sum()]
grp11 = grp11.drop('총중량구분인덱스', axis=1)
grp11['NOx_평균(ppm)'] = grp11['NOx_평균(ppm)'].round(2)
grp11

       총중량구분  NOx_평균(ppm)  측정건수
0  1천이상 2천미만       674.16    50
1  2천이상 3천미만       727.69   362
2  3천이상 4천미만       678.94   178
3  5천이상 6천미만       644.83     6
4         총합          NaN   596

## 매연농도별 측정건수 분포

### 12\. 매연농도별 데이터 수량

In [240]:
grp12 = df.groupby(['매연구분인덱스', '매연구분'], dropna=False).agg({'차량번호':'count'}).reset_index()
grp12 = grp12.rename(columns={'차량번호':'측정건수', '매연구분':'매연(%)'})
grp12.loc[grp12.shape[0]] = [grp12['매연구분인덱스'].max() + 1, '총합', grp12['측정건수'].sum()]
grp12 = grp12.drop('매연구분인덱스', axis=1)
grp12

       매연(%)  측정건수
0    0이상 5미만   435
1   5이상 10미만   275
2  10이상 15미만    63
3  15이상 20미만    18
4  20이상 25미만    10
5  25이상 30미만     2
6  30이상 35미만     1
7  40이상 45미만     2
8       45이상     2
9         총합   808

### 13\. 매연농도, 차종별 데이터 수량

In [241]:
grp13 = die.groupby(['매연구분인덱스', '매연구분', '차종'], dropna=False).agg({'차량번호':'count'}).reset_index()
grp13 = grp13.rename(columns={'차량번호':'측정건수(건)', '매연구분':'매연(%)'})
grp13.loc[grp13.shape[0]] = [grp13['매연구분인덱스'].max() + 1, '총합', np.nan, grp13['측정건수(건)'].sum()]
grp13 = grp13.drop('매연구분인덱스', axis=1)
grp13

        매연(%)   차종  측정건수(건)
0     0이상 5미만   승용       99
1     0이상 5미만   승합       45
2     0이상 5미만   특수        4
3     0이상 5미만   화물      179
4    5이상 10미만   승용       38
5    5이상 10미만   승합       31
6    5이상 10미만   화물      130
7   10이상 15미만   승용        2
8   10이상 15미만   승합        5
9   10이상 15미만   특수        1
10  10이상 15미만   화물       34
11  15이상 20미만   승용        1
12  15이상 20미만   승합        1
13  15이상 20미만   화물       13
14  20이상 25미만   승용        1
15  20이상 25미만   화물        6
16  25이상 30미만   화물        1
17  30이상 35미만   화물        1
18  40이상 45미만   화물        2
19       45이상   승합        1
20       45이상   화물        1
21         총합  NaN      596

In [242]:
grp13 = die.groupby(['매연구분인덱스', '매연구분', '차종'], dropna=False).agg({'차량번호':'count'}).unstack('차종').reset_index()
grp13 = grp13.rename(columns={'매연구분':'매연(%)', '차량번호':'차종'})
grp13['합계'] = grp13.iloc[:, 2:].sum(axis=1)
grp13.loc[grp13.shape[0]] = [grp13['매연구분인덱스'].max() + 1, '총합'] + grp13.iloc[:, 2:].sum().to_list()
grp13 = grp13.drop('매연구분인덱스', axis=1, level=0)
grp13

        매연(%)     차종                       합계
차종                승용    승합   특수     화물
0     0이상 5미만  99.00 45.00 4.00 179.00 327.00
1    5이상 10미만  38.00 31.00  NaN 130.00 199.00
2   10이상 15미만   2.00  5.00 1.00  34.00  42.00
3   15이상 20미만   1.00  1.00  NaN  13.00  15.00
4   20이상 25미만   1.00   NaN  NaN   6.00   7.00
5   25이상 30미만    NaN   NaN  NaN   1.00   1.00
6   30이상 35미만    NaN   NaN  NaN   1.00   1.00
7   40이상 45미만    NaN   NaN  NaN   2.00   2.00
8        45이상    NaN  1.00  NaN   1.00   2.00
9          총합 141.00 83.00 5.00 367.00 596.00

### 14\. 매연농도, 연식별 데이터 수량

In [243]:
grp14 = die.groupby(['매연구분인덱스', '매연구분', '연식'], dropna=False).agg({'차량번호':'count'}).reset_index()
grp14 = grp14.rename(columns={'차량번호':'측정건수(건)', '매연구분':'매연(%)'})
grp14.loc[grp14.shape[0]] = [grp14['매연구분인덱스'].max() + 1, '총합', np.nan, grp14['측정건수(건)'].sum()]
grp14 = grp14.drop('매연구분인덱스', axis=1)
grp14

        매연(%)      연식  측정건수(건)
0     0이상 5미만 2003.00        1
1     0이상 5미만 2006.00        2
2     0이상 5미만 2007.00        6
3     0이상 5미만 2008.00        5
4     0이상 5미만 2009.00       12
..        ...     ...      ...
60  40이상 45미만 2013.00        1
61  40이상 45미만 2015.00        1
62       45이상 2009.00        1
63       45이상 2012.00        1
64         총합     NaN      596

[65 rows x 3 columns]

In [244]:
grp14 = die.groupby(['매연구분인덱스', '매연구분', '연식'], dropna=False).agg({'차량번호':'count'}).unstack('연식').reset_index()
grp14 = grp14.rename(columns={'매연구분':'매연(%)', '차량번호':'연식(년)'})
grp14 = grp14.rename_axis(columns={'연식':'연식(년)'})
grp14['합계'] = grp14.iloc[:, 2:].sum(axis=1)
grp14.loc[grp14.shape[0]] = [grp14['매연구분인덱스'].max() + 1, '총합'] + grp14.iloc[:, 2:].sum().to_list()
grp14 = grp14.drop('매연구분인덱스', axis=1, level=0)
grp14

           매연(%)  연식(년)                                                   \
연식(년)            2001.0 2003.0 2004.0 2005.0 2006.0 2007.0 2008.0 2009.0
0        0이상 5미만    NaN   1.00    NaN    NaN   2.00   6.00   5.00  12.00
1       5이상 10미만   1.00   2.00   2.00   2.00   3.00  10.00   8.00  12.00
2      10이상 15미만    NaN    NaN    NaN   3.00   2.00   3.00   2.00   5.00
3      15이상 20미만    NaN   1.00    NaN    NaN    NaN    NaN   4.00   3.00
4      20이상 25미만    NaN    NaN    NaN   1.00    NaN   1.00    NaN   1.00
5      25이상 30미만    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
6      30이상 35미만    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
7      40이상 45미만    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
8           45이상    NaN    NaN    NaN    NaN    NaN    NaN    NaN   1.00
9             총합   1.00   4.00   2.00   6.00   7.00  20.00  19.00  34.00

                                                                         합계
연식(년) 2010.0 2011.0 2012.0 2013.0 2014.0 2015.0 2016.0 2017.0 2018.0
0       8.00  21.00  30.00  31.00  31.00  46.00  41.00  63.00  30.00 327.00
1      17.00  30.00  13.00  16.00  26.00  22.00  18.00  13.00   4.00 199.00
2       2.00   7.00   9.00   1.00   2.00   4.00   2.00    NaN    NaN  42.00
3       1.00   1.00   2.00    NaN   1.00   1.00   1.00    NaN    NaN  15.00
4        NaN    NaN   1.00    NaN   2.00    NaN    NaN    NaN   1.00   7.00
5        NaN    NaN    NaN    NaN   1.00    NaN    NaN    NaN    NaN   1.00
6        NaN    NaN    NaN    NaN    NaN   1.00    NaN    NaN    NaN   1.00
7        NaN    NaN    NaN   1.00    NaN   1.00    NaN    NaN    NaN   2.00
8        NaN    NaN   1.00    NaN    NaN    NaN    NaN    NaN    NaN   2.00
9      28.00  59.00  56.00  49.00  63.00  75.00  62.00  76.00  35.00 596.00

### 15\. 매연농도, 측정속도별 데이터 분포

In [245]:
grp15 = die.groupby(['매연구분인덱스', '매연구분', '속도구분인덱스', '속도구분'], dropna=False).agg({'차량번호':'count'}).reset_index()
grp15 = grp15.rename(columns={'차량번호':'측정건수', '매연구분':'매연(%)', '속도구분':'속도(km/h)'})
grp15.loc[grp15.shape[0]] = [grp15['매연구분인덱스'].max() + 1, '총합', np.nan, np.nan, grp15['측정건수'].sum()]
grp15 = grp15.drop(['매연구분인덱스', '속도구분인덱스'], axis=1)
grp15

        매연(%)   속도(km/h)  측정건수
0     0이상 5미만   0이상 10미만     3
1     0이상 5미만  30이상 40미만     1
2     0이상 5미만  40이상 50미만    24
3     0이상 5미만  50이상 60미만   299
4    5이상 10미만   0이상 10미만     2
5    5이상 10미만  30이상 40미만     4
6    5이상 10미만  40이상 50미만    19
7    5이상 10미만  50이상 60미만   174
8   10이상 15미만  40이상 50미만     1
9   10이상 15미만  50이상 60미만    41
10  15이상 20미만   0이상 10미만     1
11  15이상 20미만  40이상 50미만     1
12  15이상 20미만  50이상 60미만    13
13  20이상 25미만  50이상 60미만     7
14  25이상 30미만  50이상 60미만     1
15  30이상 35미만  50이상 60미만     1
16  40이상 45미만  40이상 50미만     1
17  40이상 45미만  50이상 60미만     1
18       45이상  40이상 50미만     1
19       45이상  50이상 60미만     1
20         총합        NaN   596

In [246]:
grp15 = die.groupby(['매연구분인덱스', '매연구분', '속도구분인덱스', '속도구분'], dropna=False).agg({'차량번호':'count'}).unstack(['속도구분인덱스', '속도구분']).reset_index()
grp15 = grp15.rename(columns={'매연구분':'매연(%)', '차량번호':'속도(km/h)'})
grp15 = grp15.rename_axis(columns={'속도구분':'속도(km/h)'})
grp15['합계'] = grp15.iloc[:, 2:].sum(axis=1)
grp15.loc[grp15.shape[0]] = [grp15['매연구분인덱스'].max() + 1, '총합'] + grp15.iloc[:, 2:].sum().to_list()
grp15 = grp15.drop('매연구분인덱스', axis=1, level=0)
grp15.columns = grp15.columns.droplevel(1)
grp15

              매연(%) 속도(km/h)                                   합계
속도(km/h)            0이상 10미만 30이상 40미만 40이상 50미만 50이상 60미만
0           0이상 5미만     3.00      1.00     24.00    299.00 327.00
1          5이상 10미만     2.00      4.00     19.00    174.00 199.00
2         10이상 15미만      NaN       NaN      1.00     41.00  42.00
3         15이상 20미만     1.00       NaN      1.00     13.00  15.00
4         20이상 25미만      NaN       NaN       NaN      7.00   7.00
5         25이상 30미만      NaN       NaN       NaN      1.00   1.00
6         30이상 35미만      NaN       NaN       NaN      1.00   1.00
7         40이상 45미만      NaN       NaN      1.00      1.00   2.00
8              45이상      NaN       NaN      1.00      1.00   2.00
9                총합     6.00      5.00     47.00    538.00 596.00

### 16\. 매연농도, 배출가스등급별

In [247]:
grp16 = die.groupby(['매연구분인덱스', '매연구분', '등급'], dropna=False).agg({'차량번호':'count'}).reset_index()
grp16 = grp16.rename(columns={'차량번호':'측정건수', '매연구분':'매연(%)'})
grp16.loc[grp16.shape[0]] = [grp16['매연구분인덱스'].max() + 1, '총합', np.nan, grp16['측정건수'].sum()]
grp16 = grp16.drop('매연구분인덱스', axis=1)
grp16

        매연(%)   등급  측정건수
0     0이상 5미만    3   274
1     0이상 5미만    4    44
2     0이상 5미만    5     8
3     0이상 5미만   T3     1
4    5이상 10미만    3   113
5    5이상 10미만    4    71
6    5이상 10미만    5    15
7   10이상 15미만    3    11
8   10이상 15미만    4    25
9   10이상 15미만    5     4
10  10이상 15미만    X     2
11  15이상 20미만    3     4
12  15이상 20미만    4    10
13  15이상 20미만    5     1
14  20이상 25미만    3     3
15  20이상 25미만    4     2
16  20이상 25미만    5     2
17  25이상 30미만    3     1
18  30이상 35미만    3     1
19  40이상 45미만    3     2
20       45이상    4     2
21         총합  NaN   596

In [248]:
grp16 = die.groupby(['매연구분인덱스', '매연구분', '등급'], dropna=False).agg({'차량번호':'count'}).unstack('등급').reset_index()
grp16 = grp16.rename(columns={'매연구분':'매연(%)', '차량번호':'배출가스등급'})
grp16['합계'] = grp16.iloc[:, 2:].sum(axis=1)
grp16.loc[grp16.shape[0]] = [grp16['매연구분인덱스'].max() + 1, '총합'] + grp16.iloc[:, 2:].sum().to_list()
grp16 = grp16.drop('매연구분인덱스', axis=1)
grp16

C:\Users\kbjung\AppData\Local\Temp\ipykernel_10740\866820554.py:5: PerformanceWarning: dropping on a non-lexsorted multi-index without a level parameter may impact performance.
  grp16 = grp16.drop('매연구분인덱스', axis=1)

        매연(%) 배출가스등급                            합계
등급                 3      4     5   T3    X
0     0이상 5미만 274.00  44.00  8.00 1.00  NaN 327.00
1    5이상 10미만 113.00  71.00 15.00  NaN  NaN 199.00
2   10이상 15미만  11.00  25.00  4.00  NaN 2.00  42.00
3   15이상 20미만   4.00  10.00  1.00  NaN  NaN  15.00
4   20이상 25미만   3.00   2.00  2.00  NaN  NaN   7.00
5   25이상 30미만   1.00    NaN   NaN  NaN  NaN   1.00
6   30이상 35미만   1.00    NaN   NaN  NaN  NaN   1.00
7   40이상 45미만   2.00    NaN   NaN  NaN  NaN   2.00
8        45이상    NaN   2.00   NaN  NaN  NaN   2.00
9          총합 409.00 154.00 30.00 1.00 2.00 596.00

### 17\. 매연농도, 배기량별

In [249]:
grp17 = die.groupby(['매연구분인덱스', '매연구분', '배기량구분인덱스', '배기량구분'], dropna=False).agg({'차량번호':'count'}).reset_index()
grp17 = grp17.rename(columns={'차량번호':'측정건수', '매연구분':'매연(%)'})
grp17.loc[grp17.shape[0]] = [grp17['매연구분인덱스'].max() + 1, '총합', np.nan, np.nan, grp17['측정건수'].sum()]
grp17 = grp17.drop(['매연구분인덱스', '배기량구분인덱스'], axis=1)
grp17

        매연(%)      배기량구분  측정건수
0     0이상 5미만  1천이상 2천미만    73
1     0이상 5미만  2천이상 3천미만   252
2     0이상 5미만  3천이상 4천미만     2
3    5이상 10미만  1천이상 2천미만    33
4    5이상 10미만  2천이상 3천미만   162
5    5이상 10미만  3천이상 4천미만     4
6   10이상 15미만  1천이상 2천미만     1
7   10이상 15미만  2천이상 3천미만    41
8   15이상 20미만  1천이상 2천미만     2
9   15이상 20미만  2천이상 3천미만    13
10  20이상 25미만  2천이상 3천미만     7
11  25이상 30미만  2천이상 3천미만     1
12  30이상 35미만  2천이상 3천미만     1
13  40이상 45미만  2천이상 3천미만     2
14       45이상  2천이상 3천미만     2
15         총합        NaN   596

In [250]:
grp17 = die.groupby(['매연구분인덱스', '매연구분', '배기량구분인덱스', '배기량구분'], dropna=False).agg({'차량번호':'count'}).unstack(['배기량구분인덱스', '배기량구분']).reset_index()
grp17 = grp17.rename(columns={'매연구분':'매연(%)', '차량번호':'배기량(cc)'})
grp17['합계'] = grp17.iloc[:, 2:].sum(axis=1)
grp17.loc[grp17.shape[0]] = [grp17['매연구분인덱스'].max() + 1, '총합'] + grp17.iloc[:, 2:].sum().to_list()
grp17 = grp17.drop(['매연구분인덱스'], axis=1)
grp17.columns = grp17.columns.droplevel(1)
grp17

C:\Users\kbjung\AppData\Local\Temp\ipykernel_10740\3603915766.py:5: PerformanceWarning: dropping on a non-lexsorted multi-index without a level parameter may impact performance.
  grp17 = grp17.drop(['매연구분인덱스'], axis=1)

           매연(%)   배기량(cc)                         합계
배기량구분            1천이상 2천미만 2천이상 3천미만 3천이상 4천미만
0        0이상 5미만     73.00    252.00      2.00 327.00
1       5이상 10미만     33.00    162.00      4.00 199.00
2      10이상 15미만      1.00     41.00       NaN  42.00
3      15이상 20미만      2.00     13.00       NaN  15.00
4      20이상 25미만       NaN      7.00       NaN   7.00
5      25이상 30미만       NaN      1.00       NaN   1.00
6      30이상 35미만       NaN      1.00       NaN   1.00
7      40이상 45미만       NaN      2.00       NaN   2.00
8           45이상       NaN      2.00       NaN   2.00
9             총합    109.00    481.00      6.00 596.00

### 18\. 매연농도, 차량중량별

In [251]:
grp18 = die.groupby(['매연구분인덱스', '매연구분', '총중량구분인덱스', '총중량구분'], dropna=False).agg({'차량번호':'count'}).reset_index()
grp18 = grp18.rename(columns={'총중량구분':'차량중량(kg)', '차량번호':'측정건수', '매연구분':'매연(%)'})
grp18.loc[grp18.shape[0]] = [grp18['매연구분인덱스'].max() + 1, '총합', np.nan, np.nan, grp18['측정건수'].sum()]
grp18 = grp18.drop(['매연구분인덱스', '총중량구분인덱스'], axis=1)
grp18

        매연(%)   차량중량(kg)  측정건수
0     0이상 5미만  1천이상 2천미만    38
1     0이상 5미만  2천이상 3천미만   205
2     0이상 5미만  3천이상 4천미만    82
3     0이상 5미만  5천이상 6천미만     2
4    5이상 10미만  1천이상 2천미만    11
5    5이상 10미만  2천이상 3천미만   115
6    5이상 10미만  3천이상 4천미만    69
7    5이상 10미만  5천이상 6천미만     4
8   10이상 15미만  1천이상 2천미만     1
9   10이상 15미만  2천이상 3천미만    23
10  10이상 15미만  3천이상 4천미만    18
11  15이상 20미만  2천이상 3천미만    10
12  15이상 20미만  3천이상 4천미만     5
13  20이상 25미만  2천이상 3천미만     4
14  20이상 25미만  3천이상 4천미만     3
15  25이상 30미만  2천이상 3천미만     1
16  30이상 35미만  2천이상 3천미만     1
17  40이상 45미만  2천이상 3천미만     1
18  40이상 45미만  3천이상 4천미만     1
19       45이상  2천이상 3천미만     2
20         총합        NaN   596

In [252]:
grp18 = die.groupby(['매연구분인덱스', '매연구분', '총중량구분인덱스', '총중량구분'], dropna=False).agg({'차량번호':'count'}).unstack(['총중량구분인덱스', '총중량구분']).reset_index()
grp18 = grp18.rename(columns={'매연구분':'매연(%)', '차량번호':'차량중량(kg)'})
grp18['합계'] = grp18.iloc[:, 2:].sum(axis=1)
grp18.loc[grp18.shape[0]] = [grp18['매연구분인덱스'].max() + 1, '총합'] + grp18.iloc[:, 2:].sum().to_list()
grp18 = grp18.drop(['매연구분인덱스'], axis=1)
grp18.columns = grp18.columns.droplevel(1)
grp18

C:\Users\kbjung\AppData\Local\Temp\ipykernel_10740\243027587.py:5: PerformanceWarning: dropping on a non-lexsorted multi-index without a level parameter may impact performance.
  grp18 = grp18.drop(['매연구분인덱스'], axis=1)

           매연(%)  차량중량(kg)                                   합계
총중량구분            1천이상 2천미만 2천이상 3천미만 3천이상 4천미만 5천이상 6천미만
0        0이상 5미만     38.00    205.00     82.00      2.00 327.00
1       5이상 10미만     11.00    115.00     69.00      4.00 199.00
2      10이상 15미만      1.00     23.00     18.00       NaN  42.00
3      15이상 20미만       NaN     10.00      5.00       NaN  15.00
4      20이상 25미만       NaN      4.00      3.00       NaN   7.00
5      25이상 30미만       NaN      1.00       NaN       NaN   1.00
6      30이상 35미만       NaN      1.00       NaN       NaN   1.00
7      40이상 45미만       NaN      1.00      1.00       NaN   2.00
8           45이상       NaN      2.00       NaN       NaN   2.00
9             총합     50.00    362.00    178.00      6.00 596.00

### 19\. 매연농도, 종합검사 매연허용기준별

In [253]:
grp19 = die.groupby(['매연구분인덱스', '매연구분', '무부하매연허용치1'], dropna=False).agg({'차량번호':'count'}).reset_index()
grp19 = grp19.rename(columns={'무부하매연허용치1':'매연허용기준(%)', '차량번호':'측정건수(건)', '매연구분':'매연(%)'})
grp19.loc[grp19.shape[0]] = [grp19['매연구분인덱스'].max() + 1, '총합', np.nan, grp19['측정건수(건)'].sum()]
grp19 = grp19.drop('매연구분인덱스', axis=1)
grp19

        매연(%)  매연허용기준(%)  측정건수(건)
0     0이상 5미만       8.00       78
1     0이상 5미만      15.00      237
2     0이상 5미만      20.00        8
3     0이상 5미만      25.00        3
4     0이상 5미만        NaN        1
5    5이상 10미만       8.00       10
6    5이상 10미만      15.00      164
7    5이상 10미만      20.00       15
8    5이상 10미만      25.00        7
9    5이상 10미만        NaN        3
10  10이상 15미만      15.00       36
11  10이상 15미만      20.00        4
12  10이상 15미만      25.00        2
13  15이상 20미만      15.00       14
14  15이상 20미만      20.00        1
15  20이상 25미만       8.00        1
16  20이상 25미만      15.00        4
17  20이상 25미만      20.00        2
18  25이상 30미만      15.00        1
19  30이상 35미만      15.00        1
20  40이상 45미만      15.00        2
21       45이상      15.00        2
22         총합        NaN      596

In [254]:
grp19 = die.groupby(['매연구분인덱스', '매연구분', '무부하매연허용치1'], dropna=False).agg({'차량번호':'count'}).unstack('무부하매연허용치1').reset_index()
grp19 = grp19.rename(columns={'매연구분':'매연(%)', '차량번호':'매연허용기준(%)'})
grp19['합계'] = grp19.iloc[:, 2:].sum(axis=1)
grp19.loc[grp19.shape[0]] = [grp19['매연구분인덱스'].max() + 1, '총합'] + grp19.iloc[:, 2:].sum().to_list()
grp19 = grp19.drop('매연구분인덱스', axis=1)
grp19

C:\Users\kbjung\AppData\Local\Temp\ipykernel_10740\86864527.py:5: PerformanceWarning: dropping on a non-lexsorted multi-index without a level parameter may impact performance.
  grp19 = grp19.drop('매연구분인덱스', axis=1)

               매연(%) 매연허용기준(%)                             합계
무부하매연허용치1                  8.0   15.0  20.0  25.0  NaN
0            0이상 5미만     78.00 237.00  8.00  3.00 1.00 327.00
1           5이상 10미만     10.00 164.00 15.00  7.00 3.00 199.00
2          10이상 15미만       NaN  36.00  4.00  2.00  NaN  42.00
3          15이상 20미만       NaN  14.00  1.00   NaN  NaN  15.00
4          20이상 25미만      1.00   4.00  2.00   NaN  NaN   7.00
5          25이상 30미만       NaN   1.00   NaN   NaN  NaN   1.00
6          30이상 35미만       NaN   1.00   NaN   NaN  NaN   1.00
7          40이상 45미만       NaN   2.00   NaN   NaN  NaN   2.00
8               45이상       NaN   2.00   NaN   NaN  NaN   2.00
9                 총합     89.00 461.00 30.00 12.00 4.00 596.00

## NOx 농도별 측정건수 분포

### 20\. NOx농도별 데이터 수량

In [255]:
grp20 = df.groupby(['NOx구분인덱스', 'NOx구분'], dropna=False).agg({'차량번호':'count'}).reset_index()
grp20 = grp20.rename(columns={'차량번호':'측정건수(건)', 'NOx구분':'NOx(ppm)'})
grp20.loc[grp20.shape[0]] = [grp20['NOx구분인덱스'].max() + 1, '총합', grp20['측정건수(건)'].sum()]
grp20 = grp20.drop('NOx구분인덱스', axis=1)
grp20

        NOx(ppm)  측정건수(건)
0      0이상 500미만      258
1   500이상 1000미만      395
2  1000이상 1500미만      115
3  1500이상 2000미만       37
4  2000이상 2500미만        2
5  2500이상 3000미만        1
6             총합      808

### 21\. NOx농도, 차종별 데이터 수량

In [256]:
grp21 = df.groupby(['NOx구분인덱스', 'NOx구분', '차종'], dropna=False).agg({'차량번호':'count'}).reset_index()
grp21 = grp21.rename(columns={'차량번호':'측정건수(건)', 'NOx구분':'NOx(ppm)'})
grp21.loc[grp21.shape[0]] = [grp21['NOx구분인덱스'].max() + 1, '총합', np.nan, grp21['측정건수(건)'].sum()]
grp21 = grp21.drop('NOx구분인덱스', axis=1)
grp21

         NOx(ppm)   차종  측정건수(건)
0       0이상 500미만   승용       35
1       0이상 500미만   승합       24
2       0이상 500미만   화물      137
3       0이상 500미만  NaN       62
4    500이상 1000미만   승용       58
5    500이상 1000미만   승합       38
6    500이상 1000미만   특수        2
7    500이상 1000미만   화물      191
8    500이상 1000미만  NaN      106
9   1000이상 1500미만   승용       30
10  1000이상 1500미만   승합       12
11  1000이상 1500미만   특수        3
12  1000이상 1500미만   화물       36
13  1000이상 1500미만  NaN       34
14  1500이상 2000미만   승용       17
15  1500이상 2000미만   승합        7
16  1500이상 2000미만   화물        3
17  1500이상 2000미만  NaN       10
18  2000이상 2500미만   승용        1
19  2000이상 2500미만   승합        1
20  2500이상 3000미만   승합        1
21             총합  NaN      808

In [257]:
grp21 = df.groupby(['NOx구분인덱스', 'NOx구분', '차종'], dropna=False).agg({'차량번호':'count'}).unstack('차종').reset_index()
grp21 = grp21.rename(columns={'NOx구분':'NOx(ppm)', '차량번호':'차종'})
grp21['합계'] = grp21.iloc[:, 2:].sum(axis=1)
grp21.loc[grp21.shape[0]] = [grp21['NOx구분인덱스'].max() + 1, '총합'] + grp21.iloc[:, 2:].sum().to_list()
grp21 = grp21.drop('NOx구분인덱스', axis=1, level=0)
grp21

         NOx(ppm)     차종                              합계
차종                    승용    승합   특수     화물    NaN
0       0이상 500미만  35.00 24.00  NaN 137.00  62.00 258.00
1    500이상 1000미만  58.00 38.00 2.00 191.00 106.00 395.00
2   1000이상 1500미만  30.00 12.00 3.00  36.00  34.00 115.00
3   1500이상 2000미만  17.00  7.00  NaN   3.00  10.00  37.00
4   2000이상 2500미만   1.00  1.00  NaN    NaN    NaN   2.00
5   2500이상 3000미만    NaN  1.00  NaN    NaN    NaN   1.00
6              총합 141.00 83.00 5.00 367.00 212.00 808.00

### 22\. NOx농도, 연식별 데이터 수량

In [258]:
grp22 = df.groupby(['NOx구분인덱스', 'NOx구분', '연식'], dropna=False).agg({'차량번호':'count'}).reset_index()
grp22 = grp22.rename(columns={'차량번호':'측정건수(건)', 'NOx구분':'NOx(ppm)'})
grp22.loc[grp22.shape[0]] = [grp22['NOx구분인덱스'].max() + 1, '총합', np.nan, grp22['측정건수(건)'].sum()]
grp22 = grp22.drop('NOx구분인덱스', axis=1)
grp22

         NOx(ppm)      연식  측정건수(건)
0       0이상 500미만 2001.00        1
1       0이상 500미만 2002.00        2
2       0이상 500미만 2003.00        2
3       0이상 500미만 2004.00        4
4       0이상 500미만 2005.00        4
5       0이상 500미만 2006.00        6
6       0이상 500미만 2007.00       11
7       0이상 500미만 2008.00       12
8       0이상 500미만 2009.00       18
9       0이상 500미만 2010.00       12
10      0이상 500미만 2011.00       37
11      0이상 500미만 2012.00       20
12      0이상 500미만 2013.00       12
13      0이상 500미만 2014.00       26
14      0이상 500미만 2015.00       32
15      0이상 500미만 2016.00       26
16      0이상 500미만 2017.00       23
17      0이상 500미만 2018.00       10
18   500이상 1000미만 2003.00        2
19   500이상 1000미만 2004.00        1
20   500이상 1000미만 2005.00        5
21   500이상 1000미만 2006.00        5
22   500이상 1000미만 2007.00       11
23   500이상 1000미만 2008.00       12
24   500이상 1000미만 2009.00       17
25   500이상 1000미만 2010.00       19
26   500이상 1000미만 2011.00       31
27   500이상 1000미만 2012.00       38
28   500이상 1000미만 2013.00       32
29   500이상 1000미만 2014.00       52
30   500이상 1000미만 2015.00       44
31   500이상 1000미만 2016.00       39
32   500이상 1000미만 2017.00       62
33   500이상 1000미만 2018.00       25
34  1000이상 1500미만 2003.00        1
35  1000이상 1500미만 2007.00        3
36  1000이상 1500미만 2008.00        2
37  1000이상 1500미만 2009.00        8
38  1000이상 1500미만 2010.00        4
39  1000이상 1500미만 2011.00        9
40  1000이상 1500미만 2012.00       17
41  1000이상 1500미만 2013.00        9
42  1000이상 1500미만 2014.00       10
43  1000이상 1500미만 2015.00       17
44  1000이상 1500미만 2016.00       17
45  1000이상 1500미만 2017.00        7
46  1000이상 1500미만 2018.00       11
47  1500이상 2000미만 2010.00        5
48  1500이상 2000미만 2011.00        5
49  1500이상 2000미만 2012.00        1
50  1500이상 2000미만 2013.00        1
51  1500이상 2000미만 2014.00        2
52  1500이상 2000미만 2015.00        3
53  1500이상 2000미만 2016.00        7
54  1500이상 2000미만 2017.00        3
55  1500이상 2000미만 2018.00       10
56  2000이상 2500미만 2011.00        1
57  2000이상 2500미만 2015.00        1
58  2500이상 3000미만 2011.00        1
59             총합     NaN      808

In [259]:
grp22 = df.groupby(['NOx구분인덱스', 'NOx구분', '연식'], dropna=False).agg({'차량번호':'count'}).unstack('연식').reset_index()
grp22 = grp22.rename(columns={'NOx구분':'NOx(ppm)', '차량번호':'연식(년)'})
grp22['합계'] = grp22.iloc[:, 2:].sum(axis=1)
grp22.loc[grp22.shape[0]] = [grp22['NOx구분인덱스'].max() + 1, '총합'] + grp22.iloc[:, 2:].sum().to_list()
grp22 = grp22.drop('NOx구분인덱스', axis=1)
grp22

C:\Users\kbjung\AppData\Local\Temp\ipykernel_10740\23136108.py:5: PerformanceWarning: dropping on a non-lexsorted multi-index without a level parameter may impact performance.
  grp22 = grp22.drop('NOx구분인덱스', axis=1)

         NOx(ppm)  연식(년)                                                   \
연식                2001.0 2002.0 2003.0 2004.0 2005.0 2006.0 2007.0 2008.0
0       0이상 500미만   1.00   2.00   2.00   4.00   4.00   6.00  11.00  12.00
1    500이상 1000미만    NaN    NaN   2.00   1.00   5.00   5.00  11.00  12.00
2   1000이상 1500미만    NaN    NaN   1.00    NaN    NaN    NaN   3.00   2.00
3   1500이상 2000미만    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
4   2000이상 2500미만    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
5   2500이상 3000미만    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
6              총합   1.00   2.00   5.00   5.00   9.00  11.00  25.00  26.00

                                                                          \
연식 2009.0 2010.0 2011.0 2012.0 2013.0 2014.0 2015.0 2016.0 2017.0 2018.0
0   18.00  12.00  37.00  20.00  12.00  26.00  32.00  26.00  23.00  10.00
1   17.00  19.00  31.00  38.00  32.00  52.00  44.00  39.00  62.00  25.00
2    8.00   4.00   9.00  17.00   9.00  10.00  17.00  17.00   7.00  11.00
3     NaN   5.00   5.00   1.00   1.00   2.00   3.00   7.00   3.00  10.00
4     NaN    NaN   1.00    NaN    NaN    NaN   1.00    NaN    NaN    NaN
5     NaN    NaN   1.00    NaN    NaN    NaN    NaN    NaN    NaN    NaN
6   43.00  40.00  84.00  76.00  54.00  90.00  97.00  89.00  95.00  56.00

       합계
연식
0  258.00
1  395.00
2  115.00
3   37.00
4    2.00
5    1.00
6  808.00

### 23\. NOx농도, 측정속도 데이터 분포

In [260]:
grp23 = df.groupby(['NOx구분인덱스', 'NOx구분', '속도구분인덱스', '속도구분'], dropna=False).agg({'차량번호':'count'}).reset_index()
grp23 = grp23.rename(columns={'차량번호':'측정건수(건)', 'NOx구분':'NOx(ppm)', '속도구분':'속도(km/h)'})
grp23.loc[grp23.shape[0]] = [grp23['NOx구분인덱스'].max() + 1, '총합', np.nan, np.nan, grp23['측정건수(건)'].sum()]
grp23 = grp23.drop(['NOx구분인덱스', '속도구분인덱스'], axis=1)
grp23

         NOx(ppm)   속도(km/h)  측정건수(건)
0       0이상 500미만   0이상 10미만        2
1       0이상 500미만  30이상 40미만        1
2       0이상 500미만  40이상 50미만       24
3       0이상 500미만  50이상 60미만      231
4    500이상 1000미만   0이상 10미만        3
5    500이상 1000미만  30이상 40미만        2
6    500이상 1000미만  40이상 50미만       34
7    500이상 1000미만  50이상 60미만      356
8   1000이상 1500미만   0이상 10미만        2
9   1000이상 1500미만  30이상 40미만        1
10  1000이상 1500미만  40이상 50미만        2
11  1000이상 1500미만  50이상 60미만      110
12  1500이상 2000미만  30이상 40미만        1
13  1500이상 2000미만  40이상 50미만        2
14  1500이상 2000미만  50이상 60미만       34
15  2000이상 2500미만  40이상 50미만        1
16  2000이상 2500미만  50이상 60미만        1
17  2500이상 3000미만  50이상 60미만        1
18             총합        NaN      808

In [261]:
grp23 = df.groupby(['NOx구분인덱스', 'NOx구분', '속도구분인덱스', '속도구분'], dropna=False).agg({'차량번호':'count'}).unstack(['속도구분인덱스', '속도구분']).reset_index()
grp23 = grp23.rename(columns={'NOx구분':'NOx(ppm)', '차량번호':'속도(km/h)'})
grp23['합계'] = grp23.iloc[:, 2:].sum(axis=1)
grp23.loc[grp23.shape[0]] = [grp23['NOx구분인덱스'].max() + 1, '총합'] + grp23.iloc[:, 2:].sum().to_list()
grp23 = grp23.drop(['NOx구분인덱스'], axis=1)
grp23.columns = grp23.columns.droplevel(1)
grp23

C:\Users\kbjung\AppData\Local\Temp\ipykernel_10740\155648522.py:5: PerformanceWarning: dropping on a non-lexsorted multi-index without a level parameter may impact performance.
  grp23 = grp23.drop(['NOx구분인덱스'], axis=1)

           NOx(ppm) 속도(km/h)                                   합계
속도구분                0이상 10미만 30이상 40미만 40이상 50미만 50이상 60미만
0         0이상 500미만     2.00      1.00     24.00    231.00 258.00
1      500이상 1000미만     3.00      2.00     34.00    356.00 395.00
2     1000이상 1500미만     2.00      1.00      2.00    110.00 115.00
3     1500이상 2000미만      NaN      1.00      2.00     34.00  37.00
4     2000이상 2500미만      NaN       NaN      1.00      1.00   2.00
5     2500이상 3000미만      NaN       NaN       NaN      1.00   1.00
6                총합     7.00      5.00     63.00    733.00 808.00

### 24\. NOx농도, 배출가스등급별

In [262]:
grp24 = df.groupby(['NOx구분인덱스', 'NOx구분', '등급'], dropna=False).agg({'차량번호':'count'}).reset_index()
grp24 = grp24.rename(columns={'차량번호':'측정건수(건)', 'NOx구분':'NOx(ppm)'})
grp24.loc[grp24.shape[0]] = [grp24['NOx구분인덱스'].max() + 1, '총합', np.nan, grp24['측정건수(건)'].sum()]
grp24 = grp24.drop('NOx구분인덱스', axis=1)
grp24

         NOx(ppm)   등급  측정건수(건)
0       0이상 500미만    3      111
1       0이상 500미만    4       66
2       0이상 500미만    5       17
3       0이상 500미만    X        2
4       0이상 500미만  NaN       62
5    500이상 1000미만    3      210
6    500이상 1000미만    4       67
7    500이상 1000미만    5       12
8    500이상 1000미만  NaN      106
9   1000이상 1500미만    3       65
10  1000이상 1500미만    4       14
11  1000이상 1500미만    5        1
12  1000이상 1500미만   T3        1
13  1000이상 1500미만  NaN       34
14  1500이상 2000미만    3       22
15  1500이상 2000미만    4        5
16  1500이상 2000미만  NaN       10
17  2000이상 2500미만    3        1
18  2000이상 2500미만    4        1
19  2500이상 3000미만    4        1
20             총합  NaN      808

In [263]:
grp24 = df.groupby(['NOx구분인덱스', 'NOx구분', '등급'], dropna=False).agg({'차량번호':'count'}).unstack('등급').reset_index()
grp24['합계'] = grp24.iloc[:, 2:].sum(axis=1)
grp24.loc[grp24.shape[0]] = [grp24['NOx구분인덱스'].max() + 1, '총합'] + grp24.iloc[:, 2:].sum().to_list()
grp24 = grp24.drop('NOx구분인덱스', axis=1)
grp24 = grp24.rename(columns={'NOx구분':'NOx(ppm)', '차량번호':'등급'})
grp24

C:\Users\kbjung\AppData\Local\Temp\ipykernel_10740\1612651757.py:4: PerformanceWarning: dropping on a non-lexsorted multi-index without a level parameter may impact performance.
  grp24 = grp24.drop('NOx구분인덱스', axis=1)

         NOx(ppm)     등급                                   합계
등급                     3      4     5   T3    X    NaN
0       0이상 500미만 111.00  66.00 17.00  NaN 2.00  62.00 258.00
1    500이상 1000미만 210.00  67.00 12.00  NaN  NaN 106.00 395.00
2   1000이상 1500미만  65.00  14.00  1.00 1.00  NaN  34.00 115.00
3   1500이상 2000미만  22.00   5.00   NaN  NaN  NaN  10.00  37.00
4   2000이상 2500미만   1.00   1.00   NaN  NaN  NaN    NaN   2.00
5   2500이상 3000미만    NaN   1.00   NaN  NaN  NaN    NaN   1.00
6              총합 409.00 154.00 30.00 1.00 2.00 212.00 808.00

### 25\. NOx농도, 배기량별

In [264]:
grp25 = df.groupby(['NOx구분인덱스', 'NOx구분', '배기량구분인덱스', '배기량구분'], dropna=False).agg({'차량번호':'count'}).reset_index()
grp25 = grp25.rename(columns={'차량번호':'측정건수(건)', 'NOx구분':'NOx(ppm)'})
grp25.loc[grp25.shape[0]] = [grp25['NOx구분인덱스'].max() + 1, '총합', np.nan, np.nan, grp25['측정건수(건)'].sum()]
grp25 = grp25.drop(['NOx구분인덱스', '배기량구분인덱스'], axis=1)
grp25 = grp25.rename(columns={'NOx구분':'NOx(ppm)', '차량번호':'배기량(cc)', '배기량구분':'배기량(cc)'})
grp25

         NOx(ppm)    배기량(cc)  측정건수(건)
0       0이상 500미만  1천이상 2천미만       45
1       0이상 500미만  2천이상 3천미만      150
2       0이상 500미만  3천이상 4천미만        1
3       0이상 500미만        NaN       62
4    500이상 1000미만  1천이상 2천미만       47
5    500이상 1000미만  2천이상 3천미만      237
6    500이상 1000미만  3천이상 4천미만        5
7    500이상 1000미만        NaN      106
8   1000이상 1500미만  1천이상 2천미만       15
9   1000이상 1500미만  2천이상 3천미만       66
10  1000이상 1500미만        NaN       34
11  1500이상 2000미만  1천이상 2천미만        2
12  1500이상 2000미만  2천이상 3천미만       25
13  1500이상 2000미만        NaN       10
14  2000이상 2500미만  2천이상 3천미만        2
15  2500이상 3000미만  2천이상 3천미만        1
16             총합        NaN      808

In [265]:
grp25 = df.groupby(['NOx구분인덱스', 'NOx구분', '배기량구분인덱스', '배기량구분'], dropna=False).agg({'차량번호':'count'}).unstack(['배기량구분인덱스', '배기량구분']).reset_index()
grp25 = grp25.rename(columns={'NOx구분':'NOx(ppm)', '차량번호':'배기량(cc)'})
grp25['합계'] = grp25.iloc[:, 2:].sum(axis=1)
grp25.loc[grp25.shape[0]] = [grp25['NOx구분인덱스'].max() + 1, '총합'] + grp25.iloc[:, 2:].sum().to_list()
grp25 = grp25.drop(['NOx구분인덱스'], axis=1)
grp25.columns = grp25.columns.droplevel(1)
grp25

C:\Users\kbjung\AppData\Local\Temp\ipykernel_10740\472820597.py:5: PerformanceWarning: dropping on a non-lexsorted multi-index without a level parameter may impact performance.
  grp25 = grp25.drop(['NOx구분인덱스'], axis=1)

            NOx(ppm)   배기량(cc)                                합계
배기량구분                1천이상 2천미만 2천이상 3천미만 3천이상 4천미만    NaN
0          0이상 500미만     45.00    150.00      1.00  62.00 258.00
1       500이상 1000미만     47.00    237.00      5.00 106.00 395.00
2      1000이상 1500미만     15.00     66.00       NaN  34.00 115.00
3      1500이상 2000미만      2.00     25.00       NaN  10.00  37.00
4      2000이상 2500미만       NaN      2.00       NaN    NaN   2.00
5      2500이상 3000미만       NaN      1.00       NaN    NaN   1.00
6                 총합    109.00    481.00      6.00 212.00 808.00

### 26\. NOx농도, 차량중량별

In [266]:
grp26 = df.groupby(['NOx구분인덱스', 'NOx구분', '총중량구분인덱스', '총중량구분'], dropna=False).agg({'차량번호':'count'}).reset_index()
grp26 = grp26.rename(columns={'총중량구분':'차량중량(kg)', '차량번호':'측정건수(건)', '차량중량구분':'차량중량(kg)'})
grp26.loc[grp26.shape[0]] = [grp26['NOx구분인덱스'].max() + 1, '총합', np.nan, np.nan, grp26['측정건수(건)'].sum()]
grp26 = grp26.drop(['NOx구분인덱스', '총중량구분인덱스'], axis=1)
grp26

            NOx구분   차량중량(kg)  측정건수(건)
0       0이상 500미만  1천이상 2천미만       18
1       0이상 500미만  2천이상 3천미만      120
2       0이상 500미만  3천이상 4천미만       57
3       0이상 500미만  5천이상 6천미만        1
4       0이상 500미만        NaN       62
5    500이상 1000미만  1천이상 2천미만       24
6    500이상 1000미만  2천이상 3천미만      163
7    500이상 1000미만  3천이상 4천미만       97
8    500이상 1000미만  5천이상 6천미만        5
9    500이상 1000미만        NaN      106
10  1000이상 1500미만  1천이상 2천미만        6
11  1000이상 1500미만  2천이상 3천미만       52
12  1000이상 1500미만  3천이상 4천미만       23
13  1000이상 1500미만        NaN       34
14  1500이상 2000미만  1천이상 2천미만        2
15  1500이상 2000미만  2천이상 3천미만       24
16  1500이상 2000미만  3천이상 4천미만        1
17  1500이상 2000미만        NaN       10
18  2000이상 2500미만  2천이상 3천미만        2
19  2500이상 3000미만  2천이상 3천미만        1
20             총합        NaN      808

In [267]:
grp26 = df.groupby(['NOx구분인덱스', 'NOx구분', '총중량구분인덱스', '총중량구분'], dropna=False).agg({'차량번호':'count'}).unstack(['총중량구분인덱스', '총중량구분']).reset_index()
grp26 = grp26.rename(columns={'NOx구분':'NOx(ppm)', '차량번호':'차량중량(kg)'})
grp26['합계'] = grp26.iloc[:, 2:].sum(axis=1)
grp26.loc[grp26.shape[0]] = [grp26['NOx구분인덱스'].max() + 1, '총합'] + grp26.iloc[:, 2:].sum().to_list()
grp26 = grp26.drop(['NOx구분인덱스'], axis=1)
grp26.columns = grp26.columns.droplevel(1)
grp26

C:\Users\kbjung\AppData\Local\Temp\ipykernel_10740\2209842798.py:5: PerformanceWarning: dropping on a non-lexsorted multi-index without a level parameter may impact performance.
  grp26 = grp26.drop(['NOx구분인덱스'], axis=1)

            NOx(ppm)  차량중량(kg)                                          합계
총중량구분                1천이상 2천미만 2천이상 3천미만 3천이상 4천미만 5천이상 6천미만    NaN
0          0이상 500미만     18.00    120.00     57.00      1.00  62.00 258.00
1       500이상 1000미만     24.00    163.00     97.00      5.00 106.00 395.00
2      1000이상 1500미만      6.00     52.00     23.00       NaN  34.00 115.00
3      1500이상 2000미만      2.00     24.00      1.00       NaN  10.00  37.00
4      2000이상 2500미만       NaN      2.00       NaN       NaN    NaN   2.00
5      2500이상 3000미만       NaN      1.00       NaN       NaN    NaN   1.00
6                 총합     50.00    362.00    178.00      6.00 212.00 808.00

## 결과 출력

In [268]:
today_date = dt.datetime.today().strftime("%Y%m%d")
today_date

'20231011'

In [269]:
with pd.ExcelWriter(os.path.join(an_fold, f'통합측정기_측정결과_분석(제공차량제원)({today_date}).xlsx')) as writer:
    grp1.to_excel(writer, sheet_name='1_매연_경유_차종별', index=False)
    grp2.to_excel(writer, sheet_name='2_매연_경유_연식별', index=False)
    grp3.to_excel(writer, sheet_name='3_매연_경유_등급별', index=False)
    grp4.to_excel(writer, sheet_name='4_매연_경유_배기량별', index=False)
    grp5.to_excel(writer, sheet_name='5_매연_경유_차량중량별', index=False)
    grp6.to_excel(writer, sheet_name='6_매연_경유_매연허용기준별', index=False)

    grp7.to_excel(writer, sheet_name='7_NOx_경유_차종별', index=False)
    grp8.to_excel(writer, sheet_name='8_NOx_경유_연식별', index=False)
    grp9.to_excel(writer, sheet_name='9_NOx_경유_등급별', index=False)
    grp10.to_excel(writer, sheet_name='10_NOx_경유_배기량별', index=False)
    grp11.to_excel(writer, sheet_name='11_NOx_경유_차량중량별', index=False)

    grp12.to_excel(writer, sheet_name='12_매연농도별', index=False)
    grp13.to_excel(writer, sheet_name='13_매연농도_차종별', index=True)
    grp14.to_excel(writer, sheet_name='14_매연농도_연식별', index=True)
    grp15.to_excel(writer, sheet_name='15_매연농도_측정속도별', index=True)
    grp16.to_excel(writer, sheet_name='16_매연농도_등급별', index=True)
    grp17.to_excel(writer, sheet_name='17_매연농도_배기량별', index=True)
    grp18.to_excel(writer, sheet_name='18_매연농도_차량중량별', index=True)
    grp19.to_excel(writer, sheet_name='19_매연농도_매연허용기준별', index=True)

    grp20.to_excel(writer, sheet_name='20_NOx농도별', index=False)
    grp21.to_excel(writer, sheet_name='21_NOx농도_차종별', index=True)
    grp22.to_excel(writer, sheet_name='22_NOx농도_연식별', index=True)
    grp23.to_excel(writer, sheet_name='23_NOx농도_측정속도별', index=True)
    grp24.to_excel(writer, sheet_name='24_NOx농도_등급별', index=True)
    grp25.to_excel(writer, sheet_name='25_NOx농도_배기량별', index=True)
    grp26.to_excel(writer, sheet_name='26_NOx농도_차량중량별', index=True)

In [270]:
sec = time.time() - start_time
print(str(dt.timedelta(seconds=sec)).split('.')[0])

6:13:25

# End