# Library

In [1]:
import pandas as pd
import os

# fold

In [3]:
raw1_fold = 'D:/data/big2/BD1/raw'
ods_fold = 'D:/data/big2/ODS'

# 4등급 등급변경필요건(최종)_230523

In [15]:
# about 
name = '4등급 등급변경필요건(최종)_230523'
file_name = f'{name}.xlsx'
rw = pd.read_excel(os.path.join(raw1_fold, file_name), skiprows=2)
rw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2539 entries, 0 to 2538
Data columns (total 38 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   차대번호             2539 non-null   object
 1   차량번호             2539 non-null   object
 2   제원관리번호           2539 non-null   object
 3   차종               2539 non-null   object
 4   용도               2539 non-null   object
 5   최초등록일            2539 non-null   int64
 6   연식               2539 non-null   int64
 7   제작일자             2536 non-null   float64
 8   검사유효일            2539 non-null   int64
 9   배출가스인증번호         2514 non-null   object
 10  등급               2539 non-null   int64
 11  차명               2539 non-null   object
 12  차종분류             2539 non-null   object
 13  차종유형             2539 non-null   object
 14  자동차형식            2539 non-null   object
 15  제작사명             2538 non-null   object
 16  연료               2539 non-null   object
 17  엔진형식             2539 non-null   object
 18  총중량              2539 non-null   int64
 19  적재중량             2374 non-null   float64
 20  엔진출력             2539 non-null   float64
 21  배기량              2539 non-null   int64
 22  법정동코드            2539 non-null   int64
 23  시도명              2539 non-null   object
 24  시군구명             2539 non-null   object
 25  소유자구분            2539 non-null   object
 26  말소여부             2539 non-null   object
 27  배출가스
인증번호        2539 non-null   object
 28  배출가스
등급          2539 non-null   int64
 29  배출가스인증번호
변경      2539 non-null   object
 30  등급 변경            2539 non-null   object
 31  변경 사유            2539 non-null   object
 32  말소
여부
(Y/N)      0 non-null      float64
 33  말소일자             0 non-null      float64
 34  조기폐차 신청여부
(Y/N)  0 non-null      float64
 35  조기폐차
신청단계        0 non-null      float64
 36  소유자
변경여부
(Y/N)   0 non-null      float64
 37  소유자
변경일자
(최신)    0 non-null      float64
dtypes: float64(9), int64(8), object(21)
memory usage: 753.9+ KB

# 4등급 등록정보

In [21]:
# about 16.0s
name = '[ODS][G4]자동차_등록정보(2022.12.28)'
file_name = f'{name}.csv'
mig = pd.read_csv(os.path.join(ods_fold, file_name), low_memory=False, encoding='cp949', usecols=['차량관리번호', '차대번호', '차량말소YN', '최초등록일자'])
mig.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1898816 entries, 0 to 1898815
Data columns (total 4 columns):
 #   Column  Dtype
---  ------  -----
 0   차량관리번호  object
 1   차대번호    object
 2   최초등록일자  int64
 3   차량말소YN  object
dtypes: int64(1), object(3)
memory usage: 57.9+ MB

In [22]:
mig.head()

                 차량관리번호               차대번호    최초등록일자 차량말소YN
0       CN-62-T-2213-01       CN-62-T-2213  19650209      N
1        SL68T032460-01        SL68T032460  19750127      N
2  2T1CF2897YC359923-01  2T1CF2897YC359923  19821231      N
3  KNADA2322HS004198-01  KNADA2322HS004198  19870411      N
4  KNADA2322HS004360-01  KNADA2322HS004360  19870416      Y

In [39]:
mig[mig['차대번호'] == 'KNADA2322JS052345']

            차량관리번호               차대번호    최초등록일자 차량말소YN
1985  4199경기8러8034  KNADA2322JS052345  19880603      N
2040  4199경기3러8034  KNADA2322JS052345  19880603      N

In [40]:
mig[mig['차대번호'] == 'KM90G7MKD7GZ00001']

                      차량관리번호               차대번호    최초등록일자 차량말소YN
690068  KL5UM52PD7P028169-01  KM90G7MKD7GZ00001  20070817      N

In [41]:
mig[mig['차대번호'] == 'KL90E3ABD7LZ00005']

                      차량관리번호               차대번호    최초등록일자 차량말소YN
593645  KPBCH3AB17P030731-01  KL90E3ABD7LZ00005  20070108      N

In [45]:
mig[mig['차대번호'] == 'WAUZZZ4L87D038405']

             차량관리번호               차대번호    최초등록일자 차량말소YN
560354  119908도1766  WAUZZZ4L87D038405  20060922      N

In [44]:
mig[mig['차대번호'] == 'WAUZZZ4L47D023464']

             차량관리번호               차대번호    최초등록일자 차량말소YN
547746  489950고5759  WAUZZZ4L47D023464  20060811      N

In [23]:
# 말소 제거
mig1 = mig[mig['차량말소YN'] == 'N'].reset_index(drop=True)
mig1.shape

(1511251, 4)

In [27]:
mig1[mig1.duplicated('차대번호') == True].sort_values('차대번호')

                      차량관리번호               차대번호    최초등록일자 차량말소YN
982713  1GBEL19W3XB192382-02  1GBEL19W3XB192382  20091013      N
348629  2B7HB21X2TK148416-02  2B7HB21X2TK148416  20020604      N
353675  3B3ES67C6ST512047-02  3B3ES67C6ST512047  20030129      N
354089  JT2AE86S2H0284457-02  JT2AE86S2H0284457  20030710      N
87321           2799대구2고2891  KLAEM19W1NB116889  19920127      N
337811  KLAER1981PB185811-03  KLAER1981PB185811  20010214      N
85925          1199서울32머3945  KLAER19W1MB108960  19911231      N
354481  KLAJA19Y1SB055388-03  KLAJA19Y1SB055388  20031204      N
4615    KLASM69F1JB054053-01  KLASM69F1JB054053  19880304      N
86469          1199서울32머2982  KLATA19T1MB606867  19911231      N
40999           1199서울4드4981  KLATF19T1LB267581  19900124      N
120786  KLATF19T1NB526286-02  KLATF19T1NB526286  19930112      N
9036    KLAVM69H1JB075787-02  KLAVM69H1JB075787  19880804      N
110995          1199서울7조7622  KLY7T51BBNC011472  19921024      N
65450          1199서울32머4507  KMHBF21DPLU225704  19901231      N
354702  KMHBF21DPNU459285-04  KMHBF21DPNU459285  20040302      N
24978           4399충북1느1240  KMHBF31FPKU143334  19891017      N
354911  KMHBF31FPMV273591-03  KMHBF31FPMV273591  20040714      N
123699         1199서울32머4203  KMHBF31FPNU396558  19921231      N
113409         4199경기40마9079  KMHBF31FPNU489190  19921104      N
354623  KMHBF31FPNU503892-03  KMHBF31FPNU503892  20040112      N
264633         4299강원28가5176  KMHCF21DPSU000012  19961209      N
265411         4299강원28가5032  KMHCF21DPSU000012  19961209      N
265272         4299강원28가5035  KMHCF21DPSU000012  19961209      N
264996         4299강원28가5089  KMHCF21DPSU000012  19961209      N
132480  KMHMF21FPPU018261-01  KMHMF21FPPU018261  19930413      N
35357           1199서울2코3350  KMHNF21SPLU031911  19900327      N
50716           1199서울4포5301  KMHNF21SPLU049507  19901102      N
124083         1199서울32머1537  KMHVF11JPN4670948  19921231      N
30083           4199경기1보4751  KMHVF21JPKU161128  19891226      N
39873          1199서울32머4031  KMHVF31JPKU106588  19891231      N
124204           119916다4386  KMHVF31JPNU700150  19921231      N
1994            4199경기3러8034  KNADA2322JS052345  19880603      N
24328          2699부산29나1072  KNAGA2222KS130454  19891027      N
153690         1199서울32머2222  KNAGA2253PA294402  19931231      N
66605          1199서울32머3975  KNAGB2212LA317492  19901231      N
216397  KNAGC2213SA102715-01  KNAGC2213SA102715  19950718      N
326694           419907서3394  KNAGC2282YA382041  20000302      N
169322  KNALA2233RA822260-02  KNALA2233RA822260  19940622      N
195078  YS3DC58AXR2039613-02  YS3DC58AXR2039613  19941231      N

In [28]:
mig1.loc[mig1['차대번호'] == '1GBEL19W3XB192382']

                      차량관리번호               차대번호    최초등록일자 차량말소YN
962690  1GBEL19W3XB192382-01  1GBEL19W3XB192382  20090917      N
982713  1GBEL19W3XB192382-02  1GBEL19W3XB192382  20091013      N

In [30]:
# 중복 차대 제거(최초등록일자 최신)
mig2 = mig1.sort_values(['차대번호', '최초등록일자'], ascending=False).reset_index(drop=True)
mig2.loc[mig2['차대번호'] == '1GBEL19W3XB192382']

                       차량관리번호               차대번호    최초등록일자 차량말소YN
1506437  1GBEL19W3XB192382-02  1GBEL19W3XB192382  20091013      N
1506438  1GBEL19W3XB192382-01  1GBEL19W3XB192382  20090917      N

In [31]:
mig3 = mig2.drop_duplicates(['차대번호']).reset_index(drop=True)
mig3.shape

(1511211, 4)

In [32]:
len(mig3['차대번호'].unique())

1511211

# 변경파일에 차량관리번호 붙이기

In [14]:
rw.shape

(2539, 38)

In [17]:
len(rw['차대번호'].unique())

2539

In [33]:
mig3.shape

(1511211, 4)

In [35]:
df = rw.merge(mig3, on='차대번호', how='left')
df.shape

(2539, 41)

In [36]:
df.columns

Index(['차대번호', '차량번호', '제원관리번호', '차종', '용도', '최초등록일', '연식', '제작일자', '검사유효일',
       '배출가스인증번호', '등급', '차명', '차종분류', '차종유형', '자동차형식', '제작사명', '연료', '엔진형식',
       '총중량', '적재중량', '엔진출력', '배기량', '법정동코드', '시도명', '시군구명', '소유자구분', '말소여부',
       '배출가스\n인증번호', '배출가스\n등급', '배출가스인증번호\n변경', '등급 변경', '변경 사유',
       '말소\n여부\n(Y/N)', '말소일자', '조기폐차 신청여부\n(Y/N)', '조기폐차\n신청단계',
       '소유자\n변경여부\n(Y/N)', '소유자\n변경일자\n(최신)', '차량관리번호', '최초등록일자', '차량말소YN'],
      dtype='object')

In [37]:
df1 = df.drop(['최초등록일자', '차량말소YN'], axis=1)
df1.shape

(2539, 39)

## 출력

In [38]:
# about 1.7s
df1.to_excel(os.path.join(raw1_fold, '4등급 등급변경필요건(최종)_230523(차량관리번호_추가).xlsx'), index=False)