# Library

In [1]:
import pandas as pd
import numpy as np
import os
from tqdm import tqdm
from datetime import datetime

In [2]:
# 소수점 옵션
pd.options.display.float_format = '{:.2f}'.format
# pd.reset_option('display.float_format')

# fold path

In [3]:
drive = 'D'

In [4]:
ods_fold = f'{drive}:/data/big2/ODS'
big2_fold = f'{drive}:/data/big2'
raw_fold = f'{drive}:/data/big2/BD3/raw'
analysis_fold = f'{drive}:/data/big2/BD3/an'
df_fold = f'{drive}:/data/big2/BD3/df'

# Load

## 등록&제원정보

In [5]:
# about 8m 53.6s
name = '[ODS]등록정보&제원정보(2022.12.28)'
file_name = f'{name}.csv'
car = pd.read_csv(os.path.join(ods_fold, file_name), low_memory=False, encoding='cp949', nrows=100**2)
car.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 49 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   차량관리번호        10000 non-null  object
 1   차량등록번호        10000 non-null  object
 2   본거지법정동코드      10000 non-null  int64
 3   소유자구분         10000 non-null  object
 4   차종_등록정보       9998 non-null   object
 5   용도            10000 non-null  object
 6   현재회원번호        6793 non-null   object
 7   차대번호          10000 non-null  object
 8   최초등록일자        10000 non-null  int64
 9   차량연식          10000 non-null  int64
 10  차량제작일자        564 non-null    float64
 11  배출가스검사유효일자    9640 non-null   float64
 12  제원관리번호        10000 non-null  object
 13  배출가스인증번호      1 non-null      object
 14  배출가스등급        10000 non-null  object
 15  저공해조치YN(미사용)  10000 non-null  object
 16  저공해조치종류       1 non-null      float64
 17  저공해조치구조변경YN   10000 non-null  object
 18  차량등록번호숫자정보    10000 non-null  int64
 19  차량말소YN        10000 non-null  object
 20  최초회원번호        4236 non-null   object
 21  취득일자          736 non-null    float64
 22  취득금액          5266 non-null   float64
 23  생성일시_등록정보     10000 non-null  object
 24  수정일시_등록정보     1711 non-null   object
 25  차명            9999 non-null   object
 26  차종_제원정보       10000 non-null  object
 27  차종분류          10000 non-null  object
 28  차종유형(소분류)     9997 non-null   object
 29  자동차형식         9542 non-null   object
 30  제작사명          9033 non-null   object
 31  연료            9408 non-null   object
 32  엔진형식          8533 non-null   object
 33  공차중량          0 non-null      float64
 34  총중량           9998 non-null   float64
 35  적재중량          9997 non-null   float64
 36  엔진출력          9118 non-null   float64
 37  배기량           9994 non-null   float64
 38  승차인원          9997 non-null   float64
 39  차량길이          9999 non-null   float64
 40  차량너비          9999 non-null   float64
 41  차량높이          9999 non-null   float64
 42  원산지명          4797 non-null   object
 43  삭제YN          10000 non-null  object
 44  승인일자          9255 non-null   float64
 45  구동형식          1 non-null      float64
 46  변속기종류         10000 non-null  object
 47  생성일시_제원정보     10000 non-null  object
 48  수정일시_제원정보     6 non-null      object
dtypes: float64(16), int64(4), object(29)
memory usage: 3.7+ MB

## 등록&제원정보(5등급)

In [6]:
# about 37.6s
name = '[ODS][G5]등록정보&제원정보(2022.12.28)'
file_name = f'{name}.csv'
g5 = pd.read_csv(os.path.join(ods_fold, file_name), low_memory=False, encoding='cp949', nrows=100**2)
g5.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 49 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   차량관리번호        10000 non-null  object
 1   차량등록번호        10000 non-null  object
 2   본거지법정동코드      10000 non-null  int64
 3   소유자구분         10000 non-null  object
 4   차종_등록정보       9998 non-null   object
 5   용도            10000 non-null  object
 6   현재회원번호        6647 non-null   object
 7   차대번호          10000 non-null  object
 8   최초등록일자        10000 non-null  int64
 9   차량연식          10000 non-null  int64
 10  차량제작일자        265 non-null    float64
 11  배출가스검사유효일자    9635 non-null   float64
 12  제원관리번호        10000 non-null  object
 13  배출가스인증번호      0 non-null      float64
 14  배출가스등급        10000 non-null  object
 15  저공해조치YN(미사용)  10000 non-null  object
 16  저공해조치종류       1 non-null      float64
 17  저공해조치구조변경YN   10000 non-null  object
 18  차량등록번호숫자정보    10000 non-null  int64
 19  차량말소YN        10000 non-null  object
 20  최초회원번호        4381 non-null   object
 21  취득일자          350 non-null    float64
 22  취득금액          5202 non-null   float64
 23  생성일시_등록정보     10000 non-null  object
 24  수정일시_등록정보     1559 non-null   object
 25  차명            10000 non-null  object
 26  차종_제원정보       10000 non-null  object
 27  차종분류          10000 non-null  object
 28  차종유형(소분류)     10000 non-null  object
 29  자동차형식         9751 non-null   object
 30  제작사명          9301 non-null   object
 31  연료            9987 non-null   object
 32  엔진형식          9299 non-null   object
 33  공차중량          0 non-null      float64
 34  총중량           9999 non-null   float64
 35  적재중량          9998 non-null   float64
 36  엔진출력          9908 non-null   float64
 37  배기량           9997 non-null   float64
 38  승차인원          10000 non-null  float64
 39  차량길이          9999 non-null   float64
 40  차량너비          9999 non-null   float64
 41  차량높이          9999 non-null   float64
 42  원산지명          4664 non-null   object
 43  삭제YN          10000 non-null  object
 44  승인일자          9517 non-null   float64
 45  구동형식          1 non-null      float64
 46  변속기종류         10000 non-null  object
 47  생성일시_제원정보     10000 non-null  object
 48  수정일시_제원정보     5 non-null      object
dtypes: float64(17), int64(4), object(28)
memory usage: 3.7+ MB

## 노후차 조기폐차 관리정보 수도권

In [8]:
# about 42.0s
name = '[ODS]노후차_조기폐차_관리정보_수도권(2022.12.28)'
file_name = f'{name}.csv'
aea = pd.read_csv(os.path.join(ods_fold, file_name), low_memory=False, encoding='cp949', usecols=['차대번호', '말소일자', '조기폐차최종승인YN', '조기폐차상태코드'])
aea.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 770311 entries, 0 to 770310
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   조기폐차상태코드    770311 non-null  object
 1   차대번호        770311 non-null  object
 2   말소일자        684061 non-null  float64
 3   조기폐차최종승인YN  680625 non-null  object
dtypes: float64(1), object(3)
memory usage: 23.5+ MB

## 노후차 조기폐차 관리정보 수도권 외

In [9]:
# about 11.6s
name = '[ODS]노후차_조기폐차_관리정보_수도권외(2022.12.28)'
file_name = f'{name}.csv'
lgv = pd.read_csv(os.path.join(ods_fold, file_name), low_memory=False, encoding='cp949', usecols=['차대번호', '말소일자', '조기폐차최종승인YN', '조기폐차상태코드'])
lgv.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 291353 entries, 0 to 291352
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   조기폐차상태코드    291353 non-null  object
 1   차대번호        291353 non-null  object
 2   말소일자        134151 non-null  float64
 3   조기폐차최종승인YN  128589 non-null  object
dtypes: float64(1), object(3)
memory usage: 8.9+ MB

## 저감장치 부착이력

In [10]:
# about 4.4s
name = '[ODS]저감장치부착이력(2022.12.28)'
file_name = f'{name}.csv'
att = pd.read_csv(os.path.join(ods_fold, file_name), low_memory=False, encoding='cp949')
att.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 810777 entries, 0 to 810776
Data columns (total 16 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   저감장치종류      586898 non-null  object
 1   PM최종저감효율    84460 non-null   float64
 2   TDMS부착여부    204951 non-null  object
 3   구조변경일자      810777 non-null  int64
 4   부착업체명       801632 non-null  object
 5   부착일자        810775 non-null  float64
 6   탈거승인일       178 non-null     float64
 7   차량번호        810777 non-null  object
 8   차대번호        810777 non-null  object
 9   주행거리        796828 non-null  float64
 10  저감장치반납여부    326030 non-null  object
 11  저감장치구분      810777 non-null  object
 12  저감등록번호      810777 non-null  int64
 13  재장착확인일자     441 non-null     float64
 14  장치일련번호      682711 non-null  object
 15  삼원촉매장치반납여부  13694 non-null   object
dtypes: float64(5), int64(2), object(9)
memory usage: 99.0+ MB

## 법정동 코드

In [11]:
# about 5.6s
name = '법정동코드_2022.10.14(수정2023.05.04)'
file_name = f'{name}.xlsx'
code = pd.read_excel(os.path.join(big2_fold, file_name))
code.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 46342 entries, 0 to 46341
Data columns (total 9 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   법정동코드     46342 non-null  int64
 1   시도        46342 non-null  object
 2   시구군       46319 non-null  object
 3   읍면동       45849 non-null  object
 4   리         33682 non-null  object
 5   지역3       0 non-null      float64
 6   폐지여부      46342 non-null  object
 7   대기관리권역    46342 non-null  object
 8   대기관리권역YN  46337 non-null  object
dtypes: float64(1), int64(1), object(7)
memory usage: 3.2+ MB

In [12]:
code.head()

        법정동코드     시도  시구군  읍면동    리  지역3 폐지여부 대기관리권역 대기관리권역YN
0  1100000000  서울특별시  NaN  NaN  NaN  NaN   존재    수도권        Y
1  1111000000  서울특별시  종로구  NaN  NaN  NaN   존재    수도권        Y
2  1111010100  서울특별시  종로구  청운동  NaN  NaN   존재    수도권        Y
3  1111010200  서울특별시  종로구  신교동  NaN  NaN   존재    수도권        Y
4  1111010300  서울특별시  종로구  궁정동  NaN  NaN   존재    수도권        Y

In [13]:
code = code.rename(columns={'법정동코드':'본거지법정동코드'})
code.head()

     본거지법정동코드     시도  시구군  읍면동    리  지역3 폐지여부 대기관리권역 대기관리권역YN
0  1100000000  서울특별시  NaN  NaN  NaN  NaN   존재    수도권        Y
1  1111000000  서울특별시  종로구  NaN  NaN  NaN   존재    수도권        Y
2  1111010100  서울특별시  종로구  청운동  NaN  NaN   존재    수도권        Y
3  1111010200  서울특별시  종로구  신교동  NaN  NaN   존재    수도권        Y
4  1111010300  서울특별시  종로구  궁정동  NaN  NaN   존재    수도권        Y

## 차명_연료_매칭

In [14]:
# about 0.1s
name = '차명_연료_매칭_2023.03.03_AM.11.12.03'
file_name = f'{name}.xlsx'
fuel = pd.read_excel(os.path.join(big2_fold, file_name))
fuel.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 216 entries, 0 to 215
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   차명      216 non-null    object
 1   연료      216 non-null    object
dtypes: object(2)
memory usage: 3.5+ KB

In [15]:
fuel.head()

             차명   연료
0     BENZ S500  휘발유
1           BMW  휘발유
2  BMW 3-SERIES  휘발유
3      BMW 318I  휘발유
4     BMW 325CI  휘발유

## 운행제한 단속 정보

In [16]:
# about 
name = '운행제한 테이블 비교'
file_name = f'{name}.csv'
limit = pd.read_csv(os.path.join(raw_fold, file_name), encoding='cp949')
limit.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1225025 entries, 0 to 1225024
Data columns (total 5 columns):
 #   Column         Non-Null Count    Dtype
---  ------         --------------    -----
 0   차대번호           1225025 non-null  object
 1   비상시및계절제단속발령건수  1204906 non-null  float64
 2   비상시및계절제단속발령YN  1204906 non-null  object
 3   운행제한단속정보건수     85594 non-null    float64
 4   운행제한단속정보YN     85594 non-null    object
dtypes: float64(2), object(3)
memory usage: 46.7+ MB

In [17]:
limit.loc[limit['운행제한단속정보건수'].isnull() == False].head()

                  차대번호  비상시및계절제단속발령건수 비상시및계절제단속발령YN  운행제한단속정보건수 운행제한단속정보YN
81   KMFDA18TP5C003672         450.00             Y        1.00          Y
109  YV2JS02CX6A619834          62.00             Y       81.00          Y
134  KMHSJ81WP6U077230          16.00             Y        1.00          Y
181  KMFLA18EP7C020349        1858.00             Y      183.00          Y
186  KMFGA17PP7C057641         223.00             Y        8.00          Y

### 5등급 차량 데이터에 운행제한 적발건수 정보 추가
- 차대번호, 차종_등록정보, 차종유형, 운행제한단속정보건수

In [18]:
car.shape

(10000, 49)

In [19]:
car.columns

Index(['차량관리번호', '차량등록번호', '본거지법정동코드', '소유자구분', '차종_등록정보', '용도', '현재회원번호',
       '차대번호', '최초등록일자', '차량연식', '차량제작일자', '배출가스검사유효일자', '제원관리번호', '배출가스인증번호',
       '배출가스등급', '저공해조치YN(미사용)', '저공해조치종류', '저공해조치구조변경YN', '차량등록번호숫자정보',
       '차량말소YN', '최초회원번호', '취득일자', '취득금액', '생성일시_등록정보', '수정일시_등록정보', '차명',
       '차종_제원정보', '차종분류', '차종유형(소분류)', '자동차형식', '제작사명', '연료', '엔진형식', '공차중량',
       '총중량', '적재중량', '엔진출력', '배기량', '승차인원', '차량길이', '차량너비', '차량높이', '원산지명',
       '삭제YN', '승인일자', '구동형식', '변속기종류', '생성일시_제원정보', '수정일시_제원정보'],
      dtype='object')

In [20]:
car['차량말소YN'].value_counts(dropna=False)

차량말소YN
N    9687
Y     313
Name: count, dtype: int64

In [21]:
# about 56.3s
car_limit = car.loc[car['차량말소YN'] == 'N', ['차대번호', '본거지법정동코드', '차종_등록정보', '차종유형(소분류)']].merge(limit[['차대번호', '운행제한단속정보건수']], on='차대번호', how='left')
car_limit.shape

(9687, 5)

In [22]:
car_limit['운행제한단속정보건수'].isnull().sum()

9599

In [23]:
chc_dict = {
    '본거지법정동코드':'BSPL_STDG_CD', 
    '차대번호':'VIN', 
    '차종_등록정보':'VHCTY_CD',
    '차종유형(소분류)':'VHCTY_TY', 
    '연료':'FUEL_CD',
    '차량말소YN':'VHCL_ERSR_YN', 
    '조기폐차최종승인YN':'ELPDSRC_LAST_APRV_YN', 
    '운행제한단속정보건수':'RUN_LMT_CRDN_INFO_NOCS',
}

In [24]:
car_limit = car_limit.rename(columns=chc_dict)
car_limit.columns

Index(['VIN', 'BSPL_STDG_CD', 'VHCTY_CD', 'VHCTY_TY',
       'RUN_LMT_CRDN_INFO_NOCS'],
      dtype='object')

In [ ]:
# # about 
# car_limit.to_csv(os.path.join(df_fold, '운행제한단속건수.csv'), index=False)

In [25]:
len(limit['차대번호'].unique())

1225025

In [26]:
limit = limit[['차대번호', '운행제한단속정보YN']]
limit.shape

(1225025, 2)

In [27]:
limit = limit.rename(columns={'운행제한단속정보YN':'운행제한단속YN'})
limit.columns

Index(['차대번호', '운행제한단속YN'], dtype='object')

## 비상시 및 계절제 단속 정보

In [28]:
# about 2.4s
name = '비상시 및 계절제 단속발령 적발YN(2023.05.26)'
file_name = f'{name}.csv'
slimit = pd.read_csv(os.path.join(raw_fold, file_name))
slimit.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1204906 entries, 0 to 1204905
Data columns (total 5 columns):
 #   Column     Non-Null Count    Dtype
---  ------     --------------    -----
 0   차대번호       1204906 non-null  object
 1   계절제1차단속YN  148281 non-null   object
 2   계절제2차단속YN  672107 non-null   object
 3   계절제3차단속YN  589160 non-null   object
 4   비상시단속YN    397477 non-null   object
dtypes: object(5)
memory usage: 46.0+ MB

In [29]:
slimitm = slimit.copy()

# 전처리

## 말소 차량 제거(❌)

In [30]:
car['차량말소YN'].value_counts(dropna=False)

차량말소YN
N    9687
Y     313
Name: count, dtype: int64

In [31]:
# about 37.2s
# carm = car.loc[car['차량말소YN'] == 'N'].reset_index(drop=True)
carm = car.reset_index(drop=True)
carm.shape

(10000, 49)

In [32]:
carm.columns

Index(['차량관리번호', '차량등록번호', '본거지법정동코드', '소유자구분', '차종_등록정보', '용도', '현재회원번호',
       '차대번호', '최초등록일자', '차량연식', '차량제작일자', '배출가스검사유효일자', '제원관리번호', '배출가스인증번호',
       '배출가스등급', '저공해조치YN(미사용)', '저공해조치종류', '저공해조치구조변경YN', '차량등록번호숫자정보',
       '차량말소YN', '최초회원번호', '취득일자', '취득금액', '생성일시_등록정보', '수정일시_등록정보', '차명',
       '차종_제원정보', '차종분류', '차종유형(소분류)', '자동차형식', '제작사명', '연료', '엔진형식', '공차중량',
       '총중량', '적재중량', '엔진출력', '배기량', '승차인원', '차량길이', '차량너비', '차량높이', '원산지명',
       '삭제YN', '승인일자', '구동형식', '변속기종류', '생성일시_제원정보', '수정일시_제원정보'],
      dtype='object')

In [33]:
g5['차량말소YN'].value_counts(dropna=False)

차량말소YN
N    9808
Y     192
Name: count, dtype: int64

In [34]:
# gm5 = g5.loc[g5['차량말소YN'] == 'N'].reset_index(drop=True)
gm5 = g5.reset_index(drop=True)
gm5.shape

(10000, 49)

In [35]:
gm5.columns

Index(['차량관리번호', '차량등록번호', '본거지법정동코드', '소유자구분', '차종_등록정보', '용도', '현재회원번호',
       '차대번호', '최초등록일자', '차량연식', '차량제작일자', '배출가스검사유효일자', '제원관리번호', '배출가스인증번호',
       '배출가스등급', '저공해조치YN(미사용)', '저공해조치종류', '저공해조치구조변경YN', '차량등록번호숫자정보',
       '차량말소YN', '최초회원번호', '취득일자', '취득금액', '생성일시_등록정보', '수정일시_등록정보', '차명',
       '차종_제원정보', '차종분류', '차종유형(소분류)', '자동차형식', '제작사명', '연료', '엔진형식', '공차중량',
       '총중량', '적재중량', '엔진출력', '배기량', '승차인원', '차량길이', '차량너비', '차량높이', '원산지명',
       '삭제YN', '승인일자', '구동형식', '변속기종류', '생성일시_제원정보', '수정일시_제원정보'],
      dtype='object')

## 등급 수정

In [36]:
carm['배출가스등급'].value_counts(dropna=False)

배출가스등급
5     9140
X      855
T5       3
4        2
Name: count, dtype: int64

In [37]:
carm.loc[(carm['배출가스등급'] == 1) | (carm['배출가스등급'] == '1'), '등급'] = 1
carm.loc[(carm['배출가스등급'] == 2) | (carm['배출가스등급'] == '2') | (carm['배출가스등급'] == 'T2'), '등급'] = 2
carm.loc[(carm['배출가스등급'] == 3) | (carm['배출가스등급'] == '3') | (carm['배출가스등급'] == 'T3'), '등급'] = 3
carm.loc[(carm['배출가스등급'] == 4) | (carm['배출가스등급'] == '4') | (carm['배출가스등급'] == 'T4'), '등급'] = 4
carm.loc[(carm['배출가스등급'] == 5) | (carm['배출가스등급'] == '5') | (carm['배출가스등급'] == 'T5'), '등급'] = 5
carm.loc[carm['배출가스등급'] == 'X', '등급'] = 'X'
carm.loc[carm['배출가스등급'].isnull() == True, '등급'] = np.nan

In [38]:
carm['등급'].value_counts(dropna=False)

등급
5.0    9143
X       855
4.0       2
Name: count, dtype: int64

## 시도, 시구군 정보 부착

In [39]:
code.columns

Index(['본거지법정동코드', '시도', '시구군', '읍면동', '리', '지역3', '폐지여부', '대기관리권역',
       '대기관리권역YN'],
      dtype='object')

In [40]:
carm.columns

Index(['차량관리번호', '차량등록번호', '본거지법정동코드', '소유자구분', '차종_등록정보', '용도', '현재회원번호',
       '차대번호', '최초등록일자', '차량연식', '차량제작일자', '배출가스검사유효일자', '제원관리번호', '배출가스인증번호',
       '배출가스등급', '저공해조치YN(미사용)', '저공해조치종류', '저공해조치구조변경YN', '차량등록번호숫자정보',
       '차량말소YN', '최초회원번호', '취득일자', '취득금액', '생성일시_등록정보', '수정일시_등록정보', '차명',
       '차종_제원정보', '차종분류', '차종유형(소분류)', '자동차형식', '제작사명', '연료', '엔진형식', '공차중량',
       '총중량', '적재중량', '엔진출력', '배기량', '승차인원', '차량길이', '차량너비', '차량높이', '원산지명',
       '삭제YN', '승인일자', '구동형식', '변속기종류', '생성일시_제원정보', '수정일시_제원정보', '등급'],
      dtype='object')

In [41]:
# about 20.5s
df = carm[['차량등록번호', '본거지법정동코드', '차대번호', '제원관리번호', '배출가스인증번호', '차명', '차종_등록정보', '차종유형(소분류)', '연료', '차량말소YN', '등급']].merge(code[['본거지법정동코드', '시도', '시구군']], on='본거지법정동코드', how='left')
df.shape

(10000, 13)

In [42]:
df[['시도', '시구군']].isnull().sum()

시도     0
시구군    3
dtype: int64

In [43]:
df.loc[df['시도'].isnull() == True, ['본거지법정동코드', '시도', '시구군']]

Empty DataFrame
Columns: [본거지법정동코드, 시도, 시구군]
Index: []

In [44]:
df.loc[df['시구군'].isnull() == True, ['본거지법정동코드', '시도', '시구군']]

        본거지법정동코드       시도  시구군
6410  4100000000      경기도  NaN
7767  3611000000  세종특별자치시  NaN
7864  3611000000  세종특별자치시  NaN

In [45]:
gm5.columns

Index(['차량관리번호', '차량등록번호', '본거지법정동코드', '소유자구분', '차종_등록정보', '용도', '현재회원번호',
       '차대번호', '최초등록일자', '차량연식', '차량제작일자', '배출가스검사유효일자', '제원관리번호', '배출가스인증번호',
       '배출가스등급', '저공해조치YN(미사용)', '저공해조치종류', '저공해조치구조변경YN', '차량등록번호숫자정보',
       '차량말소YN', '최초회원번호', '취득일자', '취득금액', '생성일시_등록정보', '수정일시_등록정보', '차명',
       '차종_제원정보', '차종분류', '차종유형(소분류)', '자동차형식', '제작사명', '연료', '엔진형식', '공차중량',
       '총중량', '적재중량', '엔진출력', '배기량', '승차인원', '차량길이', '차량너비', '차량높이', '원산지명',
       '삭제YN', '승인일자', '구동형식', '변속기종류', '생성일시_제원정보', '수정일시_제원정보'],
      dtype='object')

In [46]:
# about 0.8s
dfg5 = gm5[['차량등록번호', '차종_등록정보', '차종유형(소분류)', '용도', '본거지법정동코드', '차대번호', '제원관리번호', '배출가스인증번호', '배출가스등급', '차명', '연료', '차량말소YN']].merge(code, on='본거지법정동코드', how='left')
dfg5.shape

(10000, 20)

In [47]:
dfg5[['시도', '시구군', '대기관리권역', '대기관리권역YN']].isnull().sum()

시도          0
시구군         4
대기관리권역      0
대기관리권역YN    0
dtype: int64

In [48]:
dfg5.loc[dfg5['시구군'].isnull() == True, ['본거지법정동코드', '시도', '시구군', '대기관리권역', '대기관리권역YN']]

        본거지법정동코드       시도  시구군 대기관리권역 대기관리권역YN
5750  4100000000      경기도  NaN    수도권        Y
7004  3611000000  세종특별자치시  NaN    중부권        Y
7100  3611000000  세종특별자치시  NaN    중부권        Y
9449  3611000000  세종특별자치시  NaN    중부권        Y

## 연료 결측, 기타연료 확인

In [49]:
df['연료'].value_counts(dropna=False)

연료
휘발유            5704
경유             3586
NaN             592
기타연료            115
등유                1
알코올               1
LPG(액화석유가스)       1
Name: count, dtype: int64

In [50]:
# fuel_dict = {a:b for a, b in fuel.values}
# fuel_dict

In [51]:
# df.loc[((df['연료'].isnull() == True) | (df['연료'] == '기타연료')), '차명'].unique()

In [52]:
# for one in df.loc[((df['연료'].isnull() == True) | (df['연료'] == '기타연료')), '차명'].unique():
#     df.loc[((df['연료'].isnull() == True) | (df['연료'] == '기타연료')) & (df['차명'] == one), '연료'] = fuel_dict[one]

In [53]:
df['연료'].value_counts(dropna=False)

연료
휘발유            5704
경유             3586
NaN             592
기타연료            115
등유                1
알코올               1
LPG(액화석유가스)       1
Name: count, dtype: int64

In [54]:
# df['연료'].value_counts(dropna=False).reset_index().to_excel(os.path.join(analysis_fold, '연료별_수.xlsx'), index=False)

In [55]:
df['등급'].value_counts(dropna=False)

등급
5.0    9143
X       855
4.0       2
Name: count, dtype: int64

In [56]:
dfg5['연료'].value_counts(dropna=False)

연료
휘발유            6122
경유             3854
NaN              13
기타연료              9
알코올               1
LPG(액화석유가스)       1
Name: count, dtype: int64

In [57]:
fuel_dict = {a:b for a, b in fuel.values}
fuel_dict

{'BENZ S500': '휘발유',
 'BMW': '휘발유',
 'BMW 3-SERIES': '휘발유',
 'BMW 318I': '휘발유',
 'BMW 325CI': '휘발유',
 'BMW 325I': '휘발유',
 'BMW 325i': '휘발유',
 'BMW 328I': '휘발유',
 'BMW 525I': '휘발유',
 'BMW 528I': '휘발유',
 'BMW 530I': '휘발유',
 'BMW 5SERIES': '휘발유',
 'BMW 750Li': '휘발유',
 'BMW X3': '휘발유',
 'BMW X5': '휘발유',
 'BMW Z3': '휘발유',
 'BMW530I': '휘발유',
 'BUICK CENTURY': '휘발유',
 'BUICK LESABRE': '휘발유',
 'BUICK TERRAZA': '휘발유',
 'CADILLAC CTS': '휘발유',
 'CHEVROLET IMPALA': '휘발유',
 'CHEVROLET PRIZM': '휘발유',
 'CHRYSLER': '휘발유',
 'CHRYSLER 300 LTD': '휘발유',
 'CHRYSLER 300C': '경유',
 'CHRYSLER HEMI AWD': '휘발유',
 'CHRYSLER PT CRUISER': '휘발유',
 'CHRYSLER TOWN & COUNTRY(7)': '휘발유',
 'CIELO': '휘발유',
 'CORSICA': '휘발유',
 'COUGAR': '휘발유',
 'DODGE CALIBER': '휘발유',
 'DODGE CARAVAN': '휘발유',
 'DODGE CHARGER': '휘발유',
 'DODGE DAKOTA': '휘발유',
 'DODGE DURANGO': '휘발유',
 'DODGE GRAND CARAVAN': '휘발유',
 'DODGE NEON SXT': '휘발유',
 'EF소나타': '휘발유',
 'ESCORT': '휘발유',
 'FIREBIRD': '휘발유',
 'FORD ESCAPE': '휘발유',
 'FORD EXPEDITION': '휘발유',
 'FORD EXPEDITION(8)': '휘발유',
 'FORD EXPLORER': '휘발유',
 'FORD FOCUS': '휘발유',
 'FORD FREESTYLE(7)': '휘발유',
 'FORD FUSION': '휘발유',
 'FORD MUSTANG': '휘발유',
 'FORD RANGER XLT': '경유',
 'FORD WINDSTAR': '휘발유',
 'G.M.C': '휘발유',
 'G20': '휘발유',
 'GMC': '휘발유',
 'GMC JIMMY': '휘발유',
 'GMC SIERRA': '휘발유',
 'HONDA ACCORD': '휘발유',
 'HONDA CR-V': '휘발유',
 'HONDA CR-V EX': '휘발유',
 'HONDA PILOT': '휘발유',
 'HYUNDAI PRESTO': '휘발유',
 'HYUNDAI SONATA': '휘발유',
 'HYUNDAI/SONATA': '휘발유',
 'INFINITI G37S': '휘발유',
 'JAGUAR X-TYPE': '휘발유',
 'JEEP GRAND CHEROKEE': '휘발유',
 'JEEP LIBERTY': '휘발유',
 'JEEP PATRIOT': '경유',
 'KIA OPTIMA': '휘발유',
 'KIA SEDONA': '휘발유',
 'LEXUS ES330': '휘발유',
 'LEXUS ES350': '휘발유',
 'LEXUS LS430': '휘발유',
 'LEXUS RS330': '휘발유',
 'LEXUS RX330': '휘발유',
 'LINCOLN MKX': '휘발유',
 'MAZDA MAZDA6': '휘발유',
 'MAZDA SENTA': '휘발유',
 'MERCEDES BENZ': '휘발유',
 'MERCEDES-BENZ': '휘발유',
 'MERCEDES-BENZ CLS 550': '경유',
 'MERCEDES-BENZ E-350': '휘발유',
 'MERCEDES-BENZ E-CLASS': '휘발유',
 'MERCEDES-BENZ R-CLASS 3500': '경유',
 'MERCEDES-BENZ S 500': '휘발유',
 'MERCEDES-BENZ S65': '경유',
 'MERCURY MILAN': '휘발유',
 'NEW 그랜저XG': '휘발유',
 'NISSAN MURANO': '휘발유',
 'NISSAN ROGUE 3.5': '휘발유',
 'NISSAN XTERRA': '휘발유',
 'OLDSMOBILE BRAVADA': '휘발유',
 'OLDSMOBILESILHOUET': '휘발유',
 'PLYMOUTH': '휘발유',
 'PONTIAC SUNBIRD': '휘발유',
 'PONTIAC VIBE': '휘발유',
 'PONTIAC VIBE BASE': '휘발유',
 'PORSCHE': '휘발유',
 'ROYALE': '휘발유',
 'ROYALSALON': '휘발유',
 'RX7': '휘발유',
 'SANTAFE': '휘발유',
 'SEPHIA': '휘발유',
 'SILHOUET': '휘발유',
 'SPORTAGE': '휘발유',
 'STAREX': '휘발유',
 'SUNDANCE': '휘발유',
 'TAURUS': '휘발유',
 'TOYOTA 4-RUNNER': '경유',
 'TOYOTA AVALON': '휘발유',
 'TOYOTA CAMRY하이브리드': '휘발유 하이브리드',
 'TOYOTA COROLLA': '휘발유',
 'TOYOTA ESTIIM': '휘발유',
 'TOYOTA MATRIX': '휘발유',
 'TOYOTA SIENNA': '휘발유',
 'TOYOTA SR-5': '휘발유',
 'VISION': '휘발유',
 'VOLKSWAGEN JETTA': '휘발유',
 'VOLVO 7G1': '휘발유',
 'VOLVO 960': '휘발유',
 'VOLVO S60': '휘발유',
 'VOLVO S80': '휘발유',
 'VOLVO T5': '휘발유',
 'VOLVO XC60': '휘발유',
 'VOLVO XC90': '휘발유',
 '구급차(도요다)': '경유',
 '그랜저2.0': '휘발유',
 '그랜저XG300L': '휘발유',
 '기아마스타': '경유',
 '뉴복사담프': '경유',
 '뉴비틀2.0': '휘발유',
 '닛산실비아2.0': '휘발유',
 '닛산씨마그로리아': '휘발유',
 '다임24KL에틸렌글리콜트레일러': '무동력',
 '다찌람밴': '휘발유',
 '대우11톤카고': '경유',
 '대우11톤카고트럭': '경유',
 '대우8톤카고': '경유',
 '대흥저상트레일러': '무동력',
 '도오다': '휘발유',
 '도요다MR2': '휘발유',
 '도요다세라': '휘발유',
 '도요다슈프라': '휘발유',
 '도요다웨곤엠브란스': '경유',
 '도요다코로나': '휘발유',
 '도요다크라운': '휘발유',
 '도요다크라운로얄싸롱': '휘발유',
 '도요타 프리우스(하이브리드)': '휘발유 하이브리드',
 '라비타(LAVITA)': '휘발유',
 '로얄살롱': '휘발유',
 '로얄살롱2.0AT': '휘발유',
 '르망': '휘발유',
 '르망펜타-5': '휘발유',
 '링컨MARK7': '경유',
 '맥스디젤삼방': '경유',
 '머큐리 세이블': '경유',
 '벤즈 230E': '휘발유',
 '벤즈230E': '휘발유',
 '벤츠 C300': '휘발유',
 '벤츠190E': '휘발유',
 '벤츠C280': '휘발유',
 '벤츠E230': '휘발유',
 '벤츠S320': '휘발유',
 '복사14': '휘발유',
 '브리샤2': '휘발유',
 '블루버드': '휘발유',
 '사파리': '휘발유',
 '새턴': '휘발유',
 '새한2.5톤카고': '경유',
 '새한버스': '경유',
 '셀리카-GT': '휘발유',
 '소나타': '휘발유',
 '소나타1800오토매틱': '휘발유',
 '수프라': '휘발유',
 '스텔라': '휘발유',
 '스텔라1.6CXL': '휘발유',
 '스텔라오토매틱': '휘발유',
 '시보레': '휘발유',
 '시보레카베리아': '휘발유',
 '쏘나타': '휘발유',
 '아시아AM707중형버스': '경유',
 '아큐라': '휘발유',
 '에스페로': '휘발유',
 '에어스트림탐지견수송트레일러': '무동력',
 '엑셀': '휘발유',
 '엑셀운전교습용차량': '휘발유',
 '원흥식 트럭': '경유',
 '인타담프': '경유',
 '일산 육륜': '경유',
 '제설차': '경유',
 '지프': '경유',
 '체로키': '휘발유',
 '캐피탈': '휘발유',
 '캠리': '휘발유',
 '코르시카': '휘발유',
 '코우거': '휘발유',
 '코티나디럭스': '휘발유',
 '코티나마크IV': '휘발유',
 '크로마터보i.e': '휘발유',
 '티코(TICO)': '휘발유',
 '포니': '휘발유',
 '포니2': '휘발유',
 '포니2-L.P.G': 'LPG(액화석유가스)',
 '포니2-LPG': 'LPG(액화석유가스)',
 '포르쉐': '휘발유',
 '프레스토오토매틱': '휘발유',
 '프레스토오토메틱': '휘발유',
 '프리무스': '휘발유 하이브리드',
 '한원40A콤비콘테이너트레일러': '무동력',
 '한원40피트구즈넥트레일러': '무동력',
 '현대3톤트럭': '경유',
 '현대리어엔진버스': '경유',
 '현대포터': '경유',
 '혼다 CR-V': '경유',
 '홍성캠핑트레일러': '무동력'}

In [58]:
# about 14.7
for one in dfg5.loc[((dfg5['연료'].isnull() == True) | (dfg5['연료'] == '기타연료')), '차명'].unique():
    try:
        dfg5.loc[((dfg5['연료'].isnull() == True) | (dfg5['연료'] == '기타연료')) & (dfg5['차명'] == one), '연료'] = fuel_dict[one]
    except:
        dfg5.loc[((dfg5['연료'].isnull() == True) | (dfg5['연료'] == '기타연료')) & (dfg5['차명'] == one), '연료'] = '기타연료'

In [59]:
dfg5['연료'].value_counts(dropna=False)

연료
휘발유            6130
경유             3867
기타연료              1
알코올               1
LPG(액화석유가스)       1
Name: count, dtype: int64

## 노후차 조기폐차 관리정보 수도권 필수 컬럼만 추출

In [60]:
aea['조기폐차최종승인YN'].unique()

array(['Y', nan, 'N'], dtype=object)

In [61]:
aea['조기폐차최종승인YN'].value_counts(dropna=False)

조기폐차최종승인YN
Y      680570
NaN     89686
N          55
Name: count, dtype: int64

In [62]:
aea['조기폐차상태코드'].unique()

array(['Y', 'B', 'D', 'M', 'X', 'C', 'A', 'N', 'G', 'P', 'I'],
      dtype=object)

In [63]:
# aeam = aea[[
#     '차대번호',
#     '조기폐차최종승인YN',
#     ]]

In [64]:
aeam = aea.loc[aea['조기폐차최종승인YN'] == 'Y'].reset_index(drop=True)
aeam.shape

(680570, 4)

## 노후차 조기폐차 관리정보 수도권외 필수 컬럼만 추출

In [65]:
lgv['조기폐차최종승인YN'].unique()

array(['Y', nan, 'N'], dtype=object)

In [66]:
lgv['조기폐차최종승인YN'].value_counts(dropna=False)

조기폐차최종승인YN
NaN    162764
Y      128585
N           4
Name: count, dtype: int64

In [67]:
lgv['조기폐차상태코드'].unique()

array(['Y', 'M', 'X', 'B', 'G', 'I', 'C', 'P', 'D', 'N'], dtype=object)

In [68]:
# lgvm = lgv[[
#     '차대번호',
#     '조기폐차최종승인YN',
#     ]]

In [69]:
lgvm = lgv.loc[lgv['조기폐차최종승인YN'] == 'Y'].reset_index(drop=True)
lgvm.shape

(128585, 4)

## 노후차 조기폐차 정보 병합

In [70]:
early = pd.concat([aeam, lgvm], ignore_index=True)
early.shape

(809155, 4)

In [71]:
early.shape, len(early['차대번호'].unique())

((809155, 4), 809130)

In [72]:
earlym = early.sort_values('말소일자', ascending=False).drop_duplicates(['차대번호']).reset_index(drop=True)
earlym.shape

(809130, 4)

In [73]:
earlym.columns

Index(['조기폐차상태코드', '차대번호', '말소일자', '조기폐차최종승인YN'], dtype='object')

In [74]:
df.columns

Index(['차량등록번호', '본거지법정동코드', '차대번호', '제원관리번호', '배출가스인증번호', '차명', '차종_등록정보',
       '차종유형(소분류)', '연료', '차량말소YN', '등급', '시도', '시구군'],
      dtype='object')

In [75]:
df.shape

(10000, 13)

In [76]:
# about 48.6s
df1 = df.merge(earlym[['차대번호', '조기폐차최종승인YN']], on='차대번호', how='left')
df1.shape

(10000, 14)

In [77]:
df1.columns

Index(['차량등록번호', '본거지법정동코드', '차대번호', '제원관리번호', '배출가스인증번호', '차명', '차종_등록정보',
       '차종유형(소분류)', '연료', '차량말소YN', '등급', '시도', '시구군', '조기폐차최종승인YN'],
      dtype='object')

## 저감장치 부착이력 데이터 확인

In [78]:
att.columns

Index(['저감장치종류', 'PM최종저감효율', 'TDMS부착여부', '구조변경일자', '부착업체명', '부착일자', '탈거승인일',
       '차량번호', '차대번호', '주행거리', '저감장치반납여부', '저감장치구분', '저감등록번호', '재장착확인일자',
       '장치일련번호', '삼원촉매장치반납여부'],
      dtype='object')

In [79]:
att['저감장치구분'].value_counts(dropna=False)

저감장치구분
1종        294602
엔진개조      198590
2종        156370
3종        148308
엔진교체        8528
1종+SCR      2304
삼원촉매        2075
Name: count, dtype: int64

In [80]:
att['저감장치종류'].value_counts(dropna=False)

저감장치종류
NaN         223879
복합소형        162046
DOC         137166
소형          105138
자연대형         47920
복합중형         44915
자연중형         30715
pDPF         30586
중형           15529
복합대형          9006
자연대형+SCR      2304
대형            1573
Name: count, dtype: int64

In [81]:
att.groupby(['저감장치구분', '저감장치종류'])['차대번호'].count()

저감장치구분  저감장치종류
1종      복합대형          9006
        복합소형        162046
        복합중형         44915
        자연대형         47920
        자연중형         30715
1종+SCR  자연대형+SCR      2304
2종      pDPF         30586
        소형           99769
        중형           13943
3종      DOC         137166
엔진교체    대형            1573
        소형            5369
        중형            1586
Name: 차대번호, dtype: int64

In [82]:
# att.groupby(['저감장치구분', '저감장치종류'])['차대번호'].count().reset_index().to_excel(os.path.join(analysis_fold, '저감장치종류.xlsx'), index=False)

### 1종, 1종+SCR 만 추출
- 1종 : DPF
- 1종+SCR : PM-NOx 저감장치

In [83]:
attm = att.loc[(att['저감장치구분'] == '1종') | (att['저감장치구분'] == '1종+SCR'), ['차대번호', '저감장치구분', '저감장치종류']].reset_index(drop=True)
attm.shape

(296906, 3)

In [84]:
attm.loc[attm['저감장치구분'] == '1종', '저감장치'] = 'DPF'
attm.loc[attm['저감장치구분'] == '1종+SCR', '저감장치'] = 'PM-NOx저감장치'
attm.shape

(296906, 4)

In [85]:
attm['저감장치종류'].unique()

array(['자연대형', '자연중형', '복합중형', '복합대형', '복합소형', '자연대형+SCR'], dtype=object)

In [86]:
attm['저감장치'].value_counts(dropna=False)

저감장치
DPF           294602
PM-NOx저감장치      2304
Name: count, dtype: int64

In [87]:
attm.columns

Index(['차대번호', '저감장치구분', '저감장치종류', '저감장치'], dtype='object')

In [88]:
attm.shape, len(attm['차대번호'].unique())

((296906, 4), 296605)

In [89]:
attm['저감장치'].isnull().sum()

0

In [90]:
attm = attm.sort_values(['차대번호', '저감장치'], ascending=False)
attm.head()

              차대번호 저감장치구분 저감장치종류 저감장치
203125  충남-06로5020     1종   복합대형  DPF
233331  충남-06노5975     1종   복합대형  DPF
279669   인천06마6927     1종   복합대형  DPF
202440  인천-14마5426     1종   복합대형  DPF
201636  인천-14마5003     1종   복합대형  DPF

In [91]:
attm.tail()

          차대번호 저감장치구분 저감장치종류 저감장치
190522  000391     1종   복합대형  DPF
182833  000380     1종   복합대형  DPF
180428  000223     1종   복합대형  DPF
197822  000128     1종   복합대형  DPF
198067  000039     1종   복합대형  DPF

In [92]:
attm = attm.drop_duplicates(['차대번호'])
attm.shape

(296605, 4)

In [93]:
df1.shape

(10000, 14)

In [94]:
# about 47.1s
df2 = df1.merge(attm[['차대번호', '저감장치']], on='차대번호', how='left')
df2.shape

(10000, 15)

In [95]:
df2.columns

Index(['차량등록번호', '본거지법정동코드', '차대번호', '제원관리번호', '배출가스인증번호', '차명', '차종_등록정보',
       '차종유형(소분류)', '연료', '차량말소YN', '등급', '시도', '시구군', '조기폐차최종승인YN', '저감장치'],
      dtype='object')

## 운행제한 단속 정보 추가

In [96]:
limit.columns

Index(['차대번호', '운행제한단속YN'], dtype='object')

In [97]:
df2.shape

(10000, 15)

In [98]:
# about 45.4s
df3 = df2.merge(limit, on='차대번호', how='left')
df3.shape

(10000, 16)

## 비상시 및 계절제 단속 정보 추가

In [99]:
slimitm.columns

Index(['차대번호', '계절제1차단속YN', '계절제2차단속YN', '계절제3차단속YN', '비상시단속YN'], dtype='object')

In [100]:
slimitm.shape

(1204906, 5)

In [101]:
slimitm.isnull().sum()

차대번호               0
계절제1차단속YN    1056625
계절제2차단속YN     532799
계절제3차단속YN     615746
비상시단속YN       807429
dtype: int64

In [102]:
df3.shape

(10000, 16)

In [103]:
df3.columns

Index(['차량등록번호', '본거지법정동코드', '차대번호', '제원관리번호', '배출가스인증번호', '차명', '차종_등록정보',
       '차종유형(소분류)', '연료', '차량말소YN', '등급', '시도', '시구군', '조기폐차최종승인YN', '저감장치',
       '운행제한단속YN'],
      dtype='object')

In [104]:
# about 56.6s
df4 = df3.merge(slimitm, on='차대번호', how='left')
df4.shape

(10000, 20)

In [105]:
df4.columns

Index(['차량등록번호', '본거지법정동코드', '차대번호', '제원관리번호', '배출가스인증번호', '차명', '차종_등록정보',
       '차종유형(소분류)', '연료', '차량말소YN', '등급', '시도', '시구군', '조기폐차최종승인YN', '저감장치',
       '운행제한단속YN', '계절제1차단속YN', '계절제2차단속YN', '계절제3차단속YN', '비상시단속YN'],
      dtype='object')

## [출력] BD3-1,2 df

In [106]:
# about 6.6s
df5 = df4[[
    '본거지법정동코드',
    '차대번호',
    '연료',
    '차종_등록정보',
    '차종유형(소분류)',
    '조기폐차최종승인YN',
    '운행제한단속YN',
    '계절제1차단속YN', 
    '계절제2차단속YN', 
    '계절제3차단속YN', 
    '비상시단속YN',
    ]]
df5.columns

Index(['본거지법정동코드', '차대번호', '연료', '차종_등록정보', '차종유형(소분류)', '조기폐차최종승인YN',
       '운행제한단속YN', '계절제1차단속YN', '계절제2차단속YN', '계절제3차단속YN', '비상시단속YN'],
      dtype='object')

In [107]:
# chc_dict = {
#     '본거지법정동코드':'BSPL_STDG_CD', 
#     '차대번호':'VIN', 
#     '제원관리번호':'MANP_MNG_NO', 
#     '배출가스인증번호':'EXHST_GAS_CERT_NO', 
#     '연료':'FUEL_CD',
#     '차종_등록정보':'VHCTY_CD',
#     '차종유형(소분류)':'VHCTY_TY',
#     '차량말소YN':'VHCL_ERSR_YN', 
#     '등급':'EXHST_GAS_GRD_CD', 
#     '시도':'CTPV', 
#     '시구군':'SGG', 
#     '조기폐차최종승인YN':'ELPDSRC_LAST_APRV_YN', 
#     '저감장치':'RDCDVC', 
#     '운행제한단속YN':'RUN_LMT_CRDN_YN',
#     '계절제1차단속YN':'SEASON1_CRDN_YN', 
#     '계절제2차단속YN':'SEASON2_CRDN_YN', 
#     '계절제3차단속YN':'SEASON3_CRDN_YN', 
#     '비상시단속YN':'EMGN_CRDN_YN',
# }

In [108]:
chc_dict = {
    '본거지법정동코드':'BSPL_STDG_CD', 
    '차대번호':'VIN', 
    '연료':'FUEL_CD',
    '차종_등록정보':'VHCTY_CD',
    '차종유형(소분류)':'VHCTY_TY',
    '조기폐차최종승인YN':'ELPDSRC_LAST_APRV_YN', 
    '운행제한단속YN':'RUN_LMT_CRDN_YN',
    '계절제1차단속YN':'SEASON1_CRDN_YN', 
    '계절제2차단속YN':'SEASON2_CRDN_YN', 
    '계절제3차단속YN':'SEASON3_CRDN_YN', 
    '비상시단속YN':'EMGN_CRDN_YN',
}

In [103]:
# about 
df5 = df5.rename(columns=chc_dict)
df5.columns

Index(['BSPL_STDG_CD', 'VIN', 'FUEL_CD', 'VHCTY_CD', 'VHCTY_TY',
       'ELPDSRC_LAST_APRV_YN', 'RUN_LMT_CRDN_YN', 'SEASON1_CRDN_YN',
       'SEASON2_CRDN_YN', 'SEASON3_CRDN_YN', 'EMGN_CRDN_YN'],
      dtype='object')

In [104]:
today_date = datetime.today().strftime("%Y.%m.%d_%p.%I.%M.%S")
today_date

'2023.06.05_PM.04.29.57'

In [105]:
# # about 1m 22.5s
# df5.to_csv(os.path.join(df_fold, f'BD3_STD_BD_LEM_ND_RUN_LMT_CURSTT({today_date}).csv'), index=False)

## [출력] 전체 차량 현황

In [109]:
df4.columns

Index(['차량등록번호', '본거지법정동코드', '차대번호', '제원관리번호', '배출가스인증번호', '차명', '차종_등록정보',
       '차종유형(소분류)', '연료', '차량말소YN', '등급', '시도', '시구군', '조기폐차최종승인YN', '저감장치',
       '운행제한단속YN', '계절제1차단속YN', '계절제2차단속YN', '계절제3차단속YN', '비상시단속YN'],
      dtype='object')

In [110]:
df4['차량말소YN'].value_counts(dropna=False)

차량말소YN
N    9687
Y     313
Name: count, dtype: int64

In [111]:
df5_1 = df4.loc[df4['차량말소YN'] == 'N', ['차대번호', '연료']].reset_index(drop=True)
df5_1.shape

(9687, 2)

In [112]:
# about 
df5_1 = df5_1.rename(columns=chc_dict)
df5_1.columns

Index(['VIN', 'FUEL_CD'], dtype='object')

In [113]:
today_date = datetime.today().strftime("%Y.%m.%d_%p.%I.%M.%S")
today_date

'2023.06.25_AM.12.09.51'

In [137]:
# # about 37.8s
# # 저공해조치 및 운행제한
# df5_1.to_csv(os.path.join(df_fold, f'BD3_STD_BD_LEM_ND_RUN_LMT_CURSTT({today_date}).csv'), index=False)

# 분석

## 전체

### 내연기관차

In [114]:
# about 11.8s
gas_car = df.loc[(df['연료'].isnull() == False) & (df['연료'] != '전기') & (df['연료'] != '수소') & (df['연료'] != '태양열')]
gas_car['연료'].value_counts(dropna=False)

연료
휘발유            5704
경유             3586
기타연료            115
등유                1
알코올               1
LPG(액화석유가스)       1
Name: count, dtype: int64

In [115]:
gas_car.columns

Index(['차량등록번호', '본거지법정동코드', '차대번호', '제원관리번호', '배출가스인증번호', '차명', '차종_등록정보',
       '차종유형(소분류)', '연료', '차량말소YN', '등급', '시도', '시구군'],
      dtype='object')

In [116]:
# 내연기관차
stat_gas1 = gas_car.groupby(['시도', '등급'], dropna=False)['차대번호'].count().unstack().reset_index()
stat_gas1 = stat_gas1.rename(columns={'차대번호':'차량수'})
stat_gas1

등급       시도  4.0     5.0      X
0       강원도  NaN  162.00   3.00
1       경기도  NaN 1354.00 128.00
2      경상남도  NaN  420.00  15.00
3      경상북도  NaN  456.00  10.00
4     광주광역시  NaN  115.00   3.00
5     대구광역시  NaN  175.00   1.00
6     대전광역시  NaN  176.00   5.00
7     부산광역시  NaN  299.00  38.00
8     서울특별시 2.00 4195.00   5.00
9   세종특별자치시  NaN   12.00    NaN
10    울산광역시  NaN  118.00  19.00
11    인천광역시  NaN  300.00  28.00
12     전라남도  NaN  211.00   6.00
13     전라북도  NaN  715.00   3.00
14  제주특별자치도  NaN   48.00   3.00
15     충청남도  NaN  196.00   5.00
16     충청북도  NaN  178.00   4.00

In [106]:
# stat_gas1.to_excel(os.path.join(analysis_fold, '통계_전체_시도_등급별_차량현황.xlsx'), index=False)

In [118]:
# # 내연기관차
# stat_gas2 = gas_car.groupby(['대기관리권역', '시도', '배출가스등급', '대기관리권역YN'])['차대번호'].count().unstack()
# stat_gas2

In [119]:
# # 내연기관차
# stat_gas3 = gas_car.groupby(['대기관리권역', '시도', '연료', '대기관리권역YN'])['차대번호'].count().unstack()
# stat_gas3

In [120]:
# # 내연기관차
# stat_gas4 = gas_car.groupby(['대기관리권역', '시도', '배출가스등급', '연료', '대기관리권역YN'])['차대번호'].count().unstack()
# stat_gas4

#### [출력] 내연기관차 대기관리권역별 등급별(말소 제거) 차량 현황

In [121]:
# today_date = datetime.today().strftime("%Y.%m.%d_%p.%I.%M.%S")
# today_date

In [122]:
# with pd.ExcelWriter(os.path.join(analysis_fold, f'통계_내연기관차_대기관리권역_등급_연료별({today_date}).xlsx')) as writer:
#     stat_gas1.to_excel(writer, sheet_name='대기관리권역')
#     stat_gas2.to_excel(writer, sheet_name='대기관리권역_등급')
#     stat_gas3.to_excel(writer, sheet_name='대기관리권역_연료')
#     stat_gas4.to_excel(writer, sheet_name='대기관리권역_등급_연료')

### 무공해차(전기, 수소, 태양열)

In [123]:
# about 12.1s
no_car = df.loc[(df['연료'].isnull() == False) & ((df['연료'] == '전기') | (df['연료'] == '수소') | (df['연료'] == '태양열'))]
no_car['연료'].value_counts(dropna=False)

Series([], Name: count, dtype: int64)

In [124]:
# # 내연기관차
# stat_no1 = no_car.groupby(['대기관리권역', '시도', '대기관리권역YN'])['차대번호'].count().unstack()
# stat_no1

In [125]:
# # 내연기관차
# stat_no2 = no_car.groupby(['대기관리권역', '시도', '배출가스등급', '대기관리권역YN'])['차대번호'].count().unstack()
# stat_no2

In [126]:
# # 내연기관차
# stat_no3 = no_car.groupby(['대기관리권역', '시도', '연료', '대기관리권역YN'])['차대번호'].count().unstack()
# stat_no3

In [127]:
# # 내연기관차
# stat_no4 = no_car.groupby(['대기관리권역', '시도', '배출가스등급', '연료', '대기관리권역YN'])['차대번호'].count().unstack()
# stat_no4

#### [출력] 무공해차 대기관리권역별 등급별(말소 제거) 차량 현황

In [128]:
# today_date = datetime.today().strftime("%Y.%m.%d_%p.%I.%M.%S")
# today_date

In [129]:
# with pd.ExcelWriter(os.path.join(analysis_fold, f'통계_무공해차_대기관리권역_등급_연료별({today_date}).xlsx')) as writer:
#     stat_no1.to_excel(writer, sheet_name='대기관리권역')
#     stat_no2.to_excel(writer, sheet_name='대기관리권역_등급')
#     stat_no3.to_excel(writer, sheet_name='대기관리권역_연료')
#     stat_no4.to_excel(writer, sheet_name='대기관리권역_등급_연료')

## 5등급

### 내연기관차

In [130]:
dfg5['연료'].value_counts(dropna=False)

연료
휘발유            6130
경유             3867
기타연료              1
알코올               1
LPG(액화석유가스)       1
Name: count, dtype: int64

In [131]:
dfg5.loc[(dfg5['연료'] != '무동력') & (dfg5['연료'] != '기타연료')].shape

(9999, 20)

In [132]:
dfg5.shape

(10000, 20)

In [133]:
# about 11.8s
# gas_car = dfg5.loc[(dfg5['연료'] != '무동력') & (dfg5['연료'] != '기타연료')]
g5_gas_car = dfg5.copy()
g5_gas_car['연료'].value_counts(dropna=False)

연료
휘발유            6130
경유             3867
기타연료              1
알코올               1
LPG(액화석유가스)       1
Name: count, dtype: int64

In [134]:
# 말소 차량 제거
g5_gas_car['차량말소YN'].value_counts(dropna=False)

차량말소YN
N    9808
Y     192
Name: count, dtype: int64

In [135]:
# 내연기관차
stat_gas1 = g5_gas_car.groupby('시도', dropna=False)['차대번호'].count()
stat_gas1

시도
강원도         179
경기도        1513
경상남도        468
경상북도        498
광주광역시       137
대구광역시       195
대전광역시       190
부산광역시       349
서울특별시      4478
세종특별자치시      13
울산광역시       128
인천광역시       336
전라남도        256
전라북도        789
제주특별자치도      54
충청남도        220
충청북도        197
Name: 차대번호, dtype: int64

In [136]:
# # 내연기관차
# stat_gas2 = g5_gas_car.groupby(['대기관리권역', '시도', '배출가스등급', '대기관리권역YN'], dropna=False)['차대번호'].count().unstack()
# stat_gas2

In [137]:
# # 내연기관차
# stat_gas3 = g5_gas_car.groupby(['대기관리권역', '시도', '연료', '대기관리권역YN'], dropna=False)['차대번호'].count().unstack()
# stat_gas3

In [138]:
# # 내연기관차
# stat_gas4 = g5_gas_car.groupby(['대기관리권역', '시도', '배출가스등급', '연료', '대기관리권역YN'], dropna=False)['차대번호'].count().unstack()
# stat_gas4

#### [출력] 내연기관차 대기관리권역별 등급별(말소 제거) 차량 현황

In [139]:
# today_date = datetime.today().strftime("%Y.%m.%d_%p.%I.%M.%S")
# today_date

In [140]:
# with pd.ExcelWriter(os.path.join(analysis_fold, f'통계_5등급_내연기관차_시도별(말소유지))({today_date}).xlsx')) as writer:
#     stat_gas1.to_excel(writer, sheet_name='시도별')
#     # stat_gas2.to_excel(writer, sheet_name='대기관리권역_등급')
#     # stat_gas3.to_excel(writer, sheet_name='대기관리권역_연료')
#     # stat_gas4.to_excel(writer, sheet_name='대기관리권역_등급_연료')

## 조기폐차 차량현황

In [141]:
g5_gas_car.shape

(10000, 20)

In [142]:
g5_gas_car.columns

Index(['차량등록번호', '차종_등록정보', '차종유형(소분류)', '용도', '본거지법정동코드', '차대번호', '제원관리번호',
       '배출가스인증번호', '배출가스등급', '차명', '연료', '차량말소YN', '시도', '시구군', '읍면동', '리',
       '지역3', '폐지여부', '대기관리권역', '대기관리권역YN'],
      dtype='object')

In [143]:
earlym.columns

Index(['조기폐차상태코드', '차대번호', '말소일자', '조기폐차최종승인YN'], dtype='object')

In [144]:
earlym.shape

(809130, 4)

In [145]:
g5_gas_car = g5_gas_car.merge(earlym, on='차대번호', how='left')
g5_gas_car.shape

(10000, 23)

In [146]:
g5_gas_car.columns

Index(['차량등록번호', '차종_등록정보', '차종유형(소분류)', '용도', '본거지법정동코드', '차대번호', '제원관리번호',
       '배출가스인증번호', '배출가스등급', '차명', '연료', '차량말소YN', '시도', '시구군', '읍면동', '리',
       '지역3', '폐지여부', '대기관리권역', '대기관리권역YN', '조기폐차상태코드', '말소일자', '조기폐차최종승인YN'],
      dtype='object')

In [147]:
g5_gas_car[['시도', '시구군']].isnull().sum()

시도     0
시구군    4
dtype: int64

### [출력] 조기폐차현황

In [148]:
g5_gas_car1 = g5_gas_car[[
    '차대번호', 
    '제원관리번호',
    '시도',
    '시구군',
    '차종_등록정보', 
    '차종유형(소분류)', 
    '용도',
    '연료', 
    '조기폐차상태코드',
    '조기폐차최종승인YN'
    ]]
g5_gas_car1.shape

(10000, 10)

In [153]:
g5_gas_car1['기준연월'] = '202212'

In [154]:
g5_gas_car1.columns

Index(['기준연월', '차대번호', '제원관리번호', '시도', '시구군', '차종_등록정보', '차종유형(소분류)', '용도',
       '연료', '조기폐차상태코드', '조기폐차최종승인YN'],
      dtype='object')

In [155]:
g5_gas_car1 = g5_gas_car1[['기준연월', '차대번호', '제원관리번호', '시도', '시구군', '차종_등록정보', '차종유형(소분류)', '용도', '연료', '조기폐차상태코드', '조기폐차최종승인YN' ]]

In [156]:
g5_gas_car1.head()

,기준연월,차대번호,제원관리번호,시도,시구군,차종_등록정보,차종유형(소분류),용도,연료,조기폐차상태코드,조기폐차최종승인YN
0,202212,10762211742,10004800000000,서울특별시,서초구,승용,소형,자가용,휘발유,NaN,NaN
1,202212,KG68T122688*,30220100010946,대구광역시,중구,승용,경형,자가용,휘발유,NaN,NaN
2,202212,10762211783,10004800000000,인천광역시,남동구,승용,소형,자가용,휘발유,NaN,NaN
3,202212,PN71C018511000000,30321400001063,강원도,원주시,화물,중형,자가용,경유,NaN,NaN
4,202212,KMHLA11FPGU060639,30381300100968,경상남도,창원시 의창구,승용,소형,자가용,휘발유,NaN,NaN

In [85]:
chc_col = {
    '기준연월':'CRTR_YM', 
    '차대번호':'VIN', 
    '제원관리번호':'MANG_MNG_NO',
    '시도':'CTPV', 
    '시구군':'SGG',
    '차종_등록정보':'VHCTY_CD', 
    '차종유형(소분류)':'VHCTY_TY', 
    '용도':'PURPS_CD2',
    '연료':'FUEL_CD', 
    '조기폐차상태코드':'ELPDSRC_STTS_CD',
    '조기폐차최종승인YN':'ELPDSRC_LAST_APRV_YN',
}

In [86]:
g5_gas_car1 = g5_gas_car1.rename(columns=chc_col)
g5_gas_car1.columns

Index(['CRTR_YM', 'VIN', 'MANG_MNG_NO', 'CTPV', 'SGG', 'VHCTY_CD', 'VHCTY_TY',
       'PURPS_CD2', 'FUEL_CD', 'ELPDSRC_STTS_CD', 'ELPDSRC_LAST_APRV_YN'],
      dtype='object')

In [83]:
# about 14.3s
g5_gas_car1.to_csv(os.path.join(df_fold, 'BD1_4등급_조기폐차현황.csv'), index=False)

In [157]:
g5_gas_car['조기폐차최종승인YN'].value_counts(dropna=False)

조기폐차최종승인YN
NaN    9994
Y         6
Name: count, dtype: int64

In [158]:
# 내연기관차
stat_gas5 = g5_gas_car.groupby(['시도', '조기폐차최종승인YN'], dropna=False)['차대번호'].count().unstack('조기폐차최종승인YN')
stat_gas5

조기폐차최종승인YN    Y     NaN
시도
강원도         NaN  179.00
경기도        3.00 1510.00
경상남도        NaN  468.00
경상북도        NaN  498.00
광주광역시       NaN  137.00
대구광역시       NaN  195.00
대전광역시       NaN  190.00
부산광역시       NaN  349.00
서울특별시      1.00 4477.00
세종특별자치시     NaN   13.00
울산광역시       NaN  128.00
인천광역시      1.00  335.00
전라남도        NaN  256.00
전라북도       1.00  788.00
제주특별자치도     NaN   54.00
충청남도        NaN  220.00
충청북도        NaN  197.00

In [159]:
g5_gas_car['말소일자'].dtype

dtype('float64')

In [160]:
g5_gas_car['말소일자'].describe()

count          6.00
mean    20210871.33
std         6174.07
min     20201015.00
25%     20210573.50
50%     20211073.50
75%     20211122.75
max     20220520.00
Name: 말소일자, dtype: float64

In [161]:
g5_gas_car.loc[g5_gas_car['말소일자'] < 20190101, '말소일자_년도'] = 2018
g5_gas_car.loc[(g5_gas_car['말소일자'] >= 20190101) & (g5_gas_car['말소일자'] < 20200101), '말소일자_년도'] = 2019
g5_gas_car.loc[(g5_gas_car['말소일자'] >= 20200101) & (g5_gas_car['말소일자'] < 20210101), '말소일자_년도'] = 2020
g5_gas_car.loc[(g5_gas_car['말소일자'] >= 20210101) & (g5_gas_car['말소일자'] < 20220101), '말소일자_년도'] = 2021
g5_gas_car.loc[(g5_gas_car['말소일자'] >= 20220101) & (g5_gas_car['말소일자'] < 20230101), '말소일자_년도'] = 2022
g5_gas_car.loc[g5_gas_car['말소일자'] >= 20230101, '말소일자_년도'] = 2023

In [162]:
stat_gas5_1 = g5_gas_car.loc[g5_gas_car['조기폐차최종승인YN'] == 'Y'].groupby(['말소일자_년도'])['차대번호'].count()
stat_gas5_1

말소일자_년도
2020.00    1
2021.00    4
2022.00    1
Name: 차대번호, dtype: int64

In [163]:
stat_gas5_2 = g5_gas_car.loc[g5_gas_car['조기폐차최종승인YN'] == 'Y'].groupby(['시도', '말소일자_년도'])['차대번호'].count().unstack()
stat_gas5_2

말소일자_년도  2020.00  2021.00  2022.00
시도
경기도         1.00     1.00     1.00
서울특별시        NaN     1.00      NaN
인천광역시        NaN     1.00      NaN
전라북도         NaN     1.00      NaN

#### [출력] 내연기관차 대기관리권역별 조기폐차(말소 제거) 차량 현황

In [164]:
today_date = datetime.today().strftime("%Y.%m.%d_%p.%I.%M.%S")
today_date

'2023.06.25_AM.12.14.42'

In [293]:
# with pd.ExcelWriter(os.path.join(analysis_fold, f'통계_5등급_내연기관차_조기폐차({today_date}).xlsx')) as writer:
#     stat_gas5.to_excel(writer, sheet_name='대기관리권역_조기폐차')
#     stat_gas5_1.to_excel(writer, sheet_name='연도별_조기폐차')
#     stat_gas5_2.to_excel(writer, sheet_name='시도별_연도별_조기폐차')

## 5등급 저감장치 부착 차량 현황(말소 제거)

In [165]:
g5_gas_car.shape

(10000, 24)

In [166]:
g5_gas_car.head()

,차량등록번호,차종_등록정보,차종유형(소분류),용도,본거지법정동코드,차대번호,제원관리번호,배출가스인증번호,배출가스등급,차명,...,읍면동,리,지역3,폐지여부,대기관리권역,대기관리권역YN,조기폐차상태코드,말소일자,조기폐차최종승인YN,말소일자_년도
0,서울1나4019,승용,소형,자가용,1165010700,10762211742,10004800000000,NaN,5,포니,...,반포동,NaN,NaN,존재,수도권,Y,NaN,NaN,NaN,NaN
1,대구1다1476,승용,경형,자가용,2711010500,KG68T122688*,30220100010946,NaN,5,퍼브리카,...,삼덕동1가,NaN,NaN,존재,동남권,Y,NaN,NaN,NaN,NaN
2,인천1마8052,승용,소형,자가용,2820010300,10762211783,10004800000000,NaN,5,포니,...,만수동,NaN,NaN,존재,수도권,Y,NaN,NaN,NaN,NaN
3,87로9835,화물,중형,자가용,4213011200,PN71C018511000000,30321400001063,NaN,5,JAM담프,...,태장동,NaN,NaN,존재,그 외,N,NaN,NaN,NaN,NaN
4,경남1러3590,승용,소형,자가용,4812110500,KMHLA11FPGU060639,30381300100968,NaN,5,포니엑셀,...,도계동,NaN,NaN,존재,동남권,Y,NaN,NaN,NaN,NaN

In [167]:
g5_gas_car = g5_gas_car.merge(attm[['차대번호', '저감장치']], on='차대번호', how='left')
g5_gas_car.shape

(10000, 25)

In [168]:
g5_gas_car['차량말소YN'].value_counts(dropna=False)

차량말소YN
N    9808
Y     192
Name: count, dtype: int64

In [169]:
g5_gas_car_n = g5_gas_car.loc[g5_gas_car['차량말소YN'] == 'N'].reset_index(drop=True)
g5_gas_car_n.shape

(9808, 25)

In [170]:
g5_gas_car_n.columns

Index(['차량등록번호', '차종_등록정보', '차종유형(소분류)', '용도', '본거지법정동코드', '차대번호', '제원관리번호',
       '배출가스인증번호', '배출가스등급', '차명', '연료', '차량말소YN', '시도', '시구군', '읍면동', '리',
       '지역3', '폐지여부', '대기관리권역', '대기관리권역YN', '조기폐차상태코드', '말소일자', '조기폐차최종승인YN',
       '말소일자_년도', '저감장치'],
      dtype='object')

In [171]:
g5_gas_car_n['저감장치'].value_counts()

Series([], Name: count, dtype: int64)

In [172]:
g5_gas_car_n.head()

,차량등록번호,차종_등록정보,차종유형(소분류),용도,본거지법정동코드,차대번호,제원관리번호,배출가스인증번호,배출가스등급,차명,...,리,지역3,폐지여부,대기관리권역,대기관리권역YN,조기폐차상태코드,말소일자,조기폐차최종승인YN,말소일자_년도,저감장치
0,서울1나4019,승용,소형,자가용,1165010700,10762211742,10004800000000,NaN,5,포니,...,NaN,NaN,존재,수도권,Y,NaN,NaN,NaN,NaN,NaN
1,대구1다1476,승용,경형,자가용,2711010500,KG68T122688*,30220100010946,NaN,5,퍼브리카,...,NaN,NaN,존재,동남권,Y,NaN,NaN,NaN,NaN,NaN
2,인천1마8052,승용,소형,자가용,2820010300,10762211783,10004800000000,NaN,5,포니,...,NaN,NaN,존재,수도권,Y,NaN,NaN,NaN,NaN,NaN
3,87로9835,화물,중형,자가용,4213011200,PN71C018511000000,30321400001063,NaN,5,JAM담프,...,NaN,NaN,존재,그 외,N,NaN,NaN,NaN,NaN,NaN
4,경남1러3590,승용,소형,자가용,4812110500,KMHLA11FPGU060639,30381300100968,NaN,5,포니엑셀,...,NaN,NaN,존재,동남권,Y,NaN,NaN,NaN,NaN,NaN

In [173]:
# 내연기관차
stat_gas6 = g5_gas_car_n.groupby('시도', dropna=False)['차대번호'].count().reset_index()
stat_gas6

         시도  차대번호
0       강원도   173
1       경기도  1470
2      경상남도   460
3      경상북도   486
4     광주광역시   134
5     대구광역시   189
6     대전광역시   184
7     부산광역시   335
8     서울특별시  4452
9   세종특별자치시    13
10    울산광역시   124
11    인천광역시   326
12     전라남도   248
13     전라북도   769
14  제주특별자치도    50
15     충청남도   209
16     충청북도   186

In [174]:
# 내연기관차 > 저감장치 : DPF
stat_gas7 = g5_gas_car_n.loc[g5_gas_car_n['저감장치'] == 'DPF'].groupby('시도')['차대번호'].count()
stat_gas7

Series([], Name: 차대번호, dtype: int64)

In [175]:
# 내연기관차 > 저감장치 : PM-NOx저감장치
stat_gas8 = g5_gas_car_n.loc[g5_gas_car_n['저감장치'] == 'PM-NOx저감장치'].groupby('시도')['차대번호'].count()
stat_gas8

Series([], Name: 차대번호, dtype: int64)

#### [출력] 내연기관차 대기관리권역별 저감장치 부착이력별(말소 제거) 차량 현황

In [143]:
# today_date = datetime.today().strftime("%Y.%m.%d_%p.%I.%M.%S")
# today_date

'2023.05.18_PM.04.16.07'

In [144]:
# with pd.ExcelWriter(os.path.join(analysis_fold, f'통계_5등급_내연기관차_시도별_저감장치별(말소제거)({today_date}).xlsx')) as writer:
#     stat_gas6.to_excel(writer, sheet_name='시도별')
#     stat_gas7.to_excel(writer, sheet_name='대기관리권역_DPF')
#     stat_gas8.to_excel(writer, sheet_name='대기관리권역_PM-NOx저감장치')

### [출력] 5등급 저감장치 부착 데이터

In [176]:
g5_gas_car_n.shape

(9808, 25)

In [177]:
g5_gas_car_n['차량말소YN'].value_counts(dropna=False)

차량말소YN
N    9808
Name: count, dtype: int64

In [178]:
g5_gas_car_n.columns

Index(['차량등록번호', '차종_등록정보', '차종유형(소분류)', '용도', '본거지법정동코드', '차대번호', '제원관리번호',
       '배출가스인증번호', '배출가스등급', '차명', '연료', '차량말소YN', '시도', '시구군', '읍면동', '리',
       '지역3', '폐지여부', '대기관리권역', '대기관리권역YN', '조기폐차상태코드', '말소일자', '조기폐차최종승인YN',
       '말소일자_년도', '저감장치'],
      dtype='object')

In [179]:
today_date = datetime.today().strftime("%Y.%m.%d_%p.%I.%M.%S")
today_date

'2023.06.25_AM.12.15.57'

In [151]:
# # about 6m 11.3s
# n = 500000
# g5_gas_car_n.iloc[:n].to_excel(os.path.join(raw_fold, f'BD3-1_5등급차_저감장치현황({today_date})01.xlsx'), index=False)
# g5_gas_car_n.iloc[n:].to_excel(os.path.join(raw_fold, f'BD3-1_5등급차_저감장치현황({today_date})02.xlsx'), index=False)

# code end