In [1]:
import pandas as pd
import os
import numpy as np

In [2]:
ods_fold = 'D:/data/big2/ODS'

# 로드 등록&제원정보

In [3]:
# about 8m 50s
file_name = '[ODS][G4]등록정보&제원정보(2022.12.29).csv'
df = pd.read_csv(os.path.join(ods_fold, file_name), encoding='cp949',low_memory=False)

In [4]:
df.columns

Index(['차량관리번호', '차량등록번호', '본거지법정동코드', '소유자구분', '차종_등록정보', '용도', '현재회원번호',
       '차대번호', '최초등록일자', '차량연식', '차량제작일자', '배출가스검사유효일자', '제원관리번호', '배출가스인증번호',
       '배출가스등급', '저공해조치YN(미사용)', '저공해조치종류', '저공해조치구조변경YN', '차량등록번호숫자정보',
       '차량말소YN', '최초회원번호', '취득일자', '취득금액', '생성일시_등록정보', '수정일시_등록정보', '차명',
       '차종_제원정보', '차종분류', '차종유형(소분류)', '자동차형식', '제작사명', '연료', '엔진형식', '공차중량',
       '총중량', '적재중량', '엔진출력', '배기량', '승차인원', '차량길이', '차량너비', '차량높이', '원산지명',
       '삭제YN', '승인일자', '구동형식', '변속기종류', '생성일시_제원정보', '수정일시_제원정보'],
      dtype='object')

In [5]:
df.shape

(1898816, 49)

In [6]:
df = df[['배출가스인증번호', '제작사명']]
df.shape

(1898816, 2)

In [7]:
df['배출가스인증번호'].head()

0           NaN
1     KMY-HD-03
2           NaN
3    TY87-배K-03
4           NaN
Name: 배출가스인증번호, dtype: object

In [8]:
# 4등급 : 313개
len(df['배출가스인증번호'].unique())

313

In [8]:
def f_split(x):
    if '-' not in str(x):
        return np.nan
    else:
        return x.split('-')[1]

In [9]:
df['제작사코드'] = df['배출가스인증번호'].apply(f_split)
df['제작사코드'].head()

0    NaN
1    NaN
2    NaN
3    NaN
4    NaN
Name: 제작사코드, dtype: object

In [10]:
df.head()

  배출가스인증번호      제작사명 제작사코드
0      NaN  현대자동차(주)   NaN
1      NaN        거화   NaN
2      NaN  현대자동차(주)   NaN
3      NaN       NaN   NaN
4      NaN  현대자동차(주)   NaN

In [11]:
df.shape

(29534047, 3)

In [12]:
df2 = df.drop_duplicates(subset=['제작사명', '제작사코드']).reset_index(drop=True)
df2.shape

(8475, 3)

In [13]:
df2.head()

  배출가스인증번호      제작사명 제작사코드
0      NaN  현대자동차(주)   NaN
1      NaN        거화   NaN
2      NaN       NaN   NaN
3      NaN  지엠코리아(주)   NaN
4      NaN  기아자동차(주)   NaN

In [14]:
df2 = df2[['제작사코드', '제작사명']].sort_values(['제작사코드', '제작사명'], ascending=[True, False]).reset_index(drop=True)
df2.head

<bound method NDFrame.head of      제작사코드            제작사명
0       14        자기인증면제차량
1       14        기아자동차(주)
2       14          SOFA차량
3       AD  폭스바겐그룹코리아 주식회사
4       AD        자기인증면제차량
...    ...             ...
8470   NaN  (사)강원도장애인단체연합회
8471   NaN          (SG)신기
8472   NaN      (First)모터스
8473   NaN         (BH)카라반
8474   NaN             NaN

[8475 rows x 2 columns]>

In [15]:
df2 = df2.dropna().reset_index(drop=True)
df2.shape

(2717, 2)

In [16]:
df2.tail()

     제작사코드      제작사명
2712    WY     (주)우양
2713    배K  한국지엠주식회사
2714    배K  대우자동차(주)
2715    배K  기아자동차(주)
2716    배K    SOFA차량

In [19]:
df2[df2['제작사명'] == '기아자동차(주)']

     제작사코드      제작사명
1       14  기아자동차(주)
721     HD  기아자동차(주)
1232    KM  기아자동차(주)
1314  KM14  기아자동차(주)
2715    배K  기아자동차(주)

## [출력] 제작사코드, 제작사명

In [17]:
df2.to_excel('analysis2/DPF현행화/제작사코드_제작사명_리스트.xlsx', index=False)