# Library

In [1]:
import pandas as pd
import numpy as np
import os
from datetime import datetime

# fold path

In [2]:
raw_fold = 'D:/data/big2/BD1/raw'
an_fold = 'D:/data/big2/BD1/an'

In [3]:
# 소수점 옵션
pd.options.display.float_format = '{:.2f}'.format
# pd.reset_option('display.float_format')

## result

In [4]:
# about 16.6s
name = '4등급 차량 리스트 양식(전체) result 최종 Grade 추가(2023.04.13_PM.01.23.26)'
file_name = f'{name}.csv'
df = pd.read_csv(os.path.join(raw_fold, file_name), encoding='cp949', low_memory=False)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1502235 entries, 0 to 1502234
Data columns (total 33 columns):
 #   Column    Non-Null Count    Dtype
---  ------    --------------    -----
 0   차대번호      1502235 non-null  object
 1   차량번호      1502235 non-null  object
 2   제원관리번호    1502235 non-null  object
 3   차종        1502235 non-null  object
 4   용도        1502235 non-null  object
 5   최초등록일     1502235 non-null  int64
 6   연식        1502235 non-null  int64
 7   제작일자      1335178 non-null  float64
 8   검사유효일     1502223 non-null  float64
 9   배출가스인증번호  1382222 non-null  object
 10  등급        1502235 non-null  int64
 11  차명        1502235 non-null  object
 12  차종분류      1502235 non-null  object
 13  차종유형      1502235 non-null  object
 14  자동차형식     1501958 non-null  object
 15  제작사명      1492590 non-null  object
 16  연료        1502235 non-null  object
 17  엔진형식      1500400 non-null  object
 18  총중량       1502234 non-null  float64
 19  적재중량      1501728 non-null  float64
 20  엔진출력      1501882 non-null  object
 21  배기량       1502231 non-null  float64
 22  법정동코드     1502235 non-null  int64
 23  시도명       1502235 non-null  object
 24  시군구명      1502235 non-null  object
 25  소유자구분     1502235 non-null  object
 26  말소여부      1502235 non-null  object
 27  일치유무      1153813 non-null  object
 28  배인번호_수정   1153813 non-null  object
 29  등급_수정     1153813 non-null  float64
 30  DPF유무_수정  1153813 non-null  object
 31  fuel      1497673 non-null  object
 32  Grade     1497673 non-null  object
dtypes: float64(6), int64(4), object(23)
memory usage: 378.2+ MB

In [5]:
df.columns

Index(['차대번호', '차량번호', '제원관리번호', '차종', '용도', '최초등록일', '연식', '제작일자', '검사유효일',
       '배출가스인증번호', '등급', '차명', '차종분류', '차종유형', '자동차형식', '제작사명', '연료', '엔진형식',
       '총중량', '적재중량', '엔진출력', '배기량', '법정동코드', '시도명', '시군구명', '소유자구분', '말소여부',
       '일치유무', '배인번호_수정', '등급_수정', 'DPF유무_수정', 'fuel', 'Grade'],
      dtype='object')

In [6]:
df['연료'].value_counts(dropna=False)

경유             1153813
휘발유             322983
LPG(액화석유가스)      25400
기타연료                37
알코올                  1
CNG(압축천연가스)          1
Name: 연료, dtype: int64

In [7]:
df['등급_수정'].value_counts(dropna=True)

4.00    1149290
3.00       4396
5.00        127
Name: 등급_수정, dtype: int64

In [8]:
df.loc[df['배출가스인증번호'] == '5MY-AD-13-07'].shape

(118, 33)

In [9]:
df3 = df.loc[df['등급_수정'] == 3].reset_index(drop=True)
df3.shape

(4396, 33)

In [10]:
df3.groupby(['등급_수정', '배출가스인증번호'])['차대번호'].count()

등급_수정  배출가스인증번호
3.00   5MY-AD-13-07      118
       5MY-AD-13-13       51
       5MY-HD-24-59      164
       6MY-AD-13-11      493
       7MY-AD-13-01      565
       7MY-AD-13-05       26
       7MY-AD-13-06      207
       7MY-DB-24-42       13
       7MY-DK-24-04      148
       7MY-HD-24-31        3
       8MY-SY-13-14      313
       9MY-JL-14-4       273
       CMY-VTK-14-01       2
       CMY-VTK-14-02      24
       FMY-VTK-14-1     1768
       FMY-VTK-14-2       86
       FMY-VTK-14-3       76
       FMY-VTK-14-4       49
Name: 차대번호, dtype: int64

In [11]:
df3.groupby(['등급_수정', '배인번호_수정'])['차대번호'].count()

등급_수정  배인번호_수정
3.00   5MY-AD-13-07      118
       5MY-AD-13-13       51
       6MY-AD-13-11      493
       7MY-AD-13-01      565
       7MY-AD-13-05       26
       7MY-AD-13-06      207
       7MY-DK-24-04      148
       8MY-SY-13-14      313
       9MY-JL-14-4       273
       BMY-HD-14-54        3
       BMY-KM-14-32        1
       CMY-HD-14-11      164
       CMY-VTK-14-01       2
       CMY-VTK-14-02      24
       FMY-DB-14-54       13
       FMY-VTK-14-1     1780
       FMY-VTK-14-2       87
       FMY-VTK-14-3       76
       FMY-VTK-14-4       49
       확인불가                3
Name: 차대번호, dtype: int64

In [12]:
df3.loc[df3['배인번호_수정'] == '확인불가', ['배출가스인증번호', '제작사명', '차명']]

          배출가스인증번호      제작사명     차명
4393  7MY-HD-24-31  현대자동차(주)  뉴파워트럭
4394  7MY-HD-24-31  현대자동차(주)  뉴파워트럭
4395  7MY-HD-24-31  현대자동차(주)  뉴파워트럭

In [13]:
df.loc[df['배출가스인증번호'] == 'EMY-HD-14-48', ['배출가스인증번호', '배인번호_수정', '등급_수정', '제작사명', '차명']]

Empty DataFrame
Columns: [배출가스인증번호, 배인번호_수정, 등급_수정, 제작사명, 차명]
Index: []

In [14]:
df.loc[df['배인번호_수정'] == 'EMY-HD-14-48', ['배출가스인증번호', '배인번호_수정', '등급_수정', '제작사명', '차명']]

Empty DataFrame
Columns: [배출가스인증번호, 배인번호_수정, 등급_수정, 제작사명, 차명]
Index: []

In [15]:
df5 = df.loc[df['등급_수정'] == 5].reset_index(drop=True)
df5.shape

(127, 33)

In [16]:
df5.groupby(['등급_수정', '배출가스인증번호'])['차대번호'].count()

등급_수정  배출가스인증번호
5.00   4MY-DC-33        7
       5MY-SY-24-48     2
       6MY-HD-23-55     3
       7MY-DK-24-04     8
       7MY-HD-14-68     1
       8MY-KM-13-19    83
       9MY-KM-14-41     2
Name: 차대번호, dtype: int64

In [17]:
df5.groupby(['등급_수정', '배인번호_수정'])['차대번호'].count()

등급_수정  배인번호_수정
5.00   3MY-HD-14        8
       3MY-HD-15        1
       4MY-DK-04        8
       4MY-KM-03        1
       4MY-KM-06       84
       4MY-KM-07        4
       5MY-KM-24-32     6
       5MY-SY-24-48     2
       6MY-DC-23-17     7
       6MY-HD-23-55     3
       확인불가             3
Name: 차대번호, dtype: int64

In [18]:
df.columns

Index(['차대번호', '차량번호', '제원관리번호', '차종', '용도', '최초등록일', '연식', '제작일자', '검사유효일',
       '배출가스인증번호', '등급', '차명', '차종분류', '차종유형', '자동차형식', '제작사명', '연료', '엔진형식',
       '총중량', '적재중량', '엔진출력', '배기량', '법정동코드', '시도명', '시군구명', '소유자구분', '말소여부',
       '일치유무', '배인번호_수정', '등급_수정', 'DPF유무_수정', 'fuel', 'Grade'],
      dtype='object')

In [19]:
df.drop('fuel', axis=1, inplace=True)

In [20]:
df.columns

Index(['차대번호', '차량번호', '제원관리번호', '차종', '용도', '최초등록일', '연식', '제작일자', '검사유효일',
       '배출가스인증번호', '등급', '차명', '차종분류', '차종유형', '자동차형식', '제작사명', '연료', '엔진형식',
       '총중량', '적재중량', '엔진출력', '배기량', '법정동코드', '시도명', '시군구명', '소유자구분', '말소여부',
       '일치유무', '배인번호_수정', '등급_수정', 'DPF유무_수정', 'Grade'],
      dtype='object')

# 공단 수정 파일

In [22]:
raw_result_fold = 'D:/data/big2/BD1/raw/result수정/raw'

In [23]:
# about 
name = '4등급 차량 리스트 양식 result 최종_수정-작업'
file_name = f'{name}.csv'
md = pd.read_csv(os.path.join(raw_result_fold, file_name), encoding='cp949', low_memory=False)

In [24]:
md.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1153813 entries, 0 to 1153812
Data columns (total 36 columns):
 #   Column      Non-Null Count    Dtype
---  ------      --------------    -----
 0   차대번호        1153813 non-null  object
 1   차량번호        1153813 non-null  object
 2   제원관리번호      1153813 non-null  object
 3   차종_원본       1153813 non-null  object
 4   용도          1153813 non-null  object
 5   최초등록일       1153813 non-null  int64
 6   연식          1153813 non-null  int64
 7   제작일자        1153809 non-null  float64
 8   검사유효일       1153810 non-null  float64
 9   배출가스인증번호    1146663 non-null  object
 10  등급          1153813 non-null  int64
 11  차명          1153813 non-null  object
 12  차종분류        1153813 non-null  object
 13  차종유형        1153813 non-null  object
 14  자동차형식       1153812 non-null  object
 15  제작사명        1153795 non-null  object
 16  연료          1153813 non-null  object
 17  엔진형식        1153813 non-null  object
 18  총중량         1153813 non-null  int64
 19  적재중량        1153589 non-null  float64
 20  엔진출력        1153811 non-null  float64
 21  배기량         1153813 non-null  int64
 22  법정동코드       1153813 non-null  int64
 23  시도명         1153813 non-null  object
 24  시군구명        1153813 non-null  object
 25  소유자구분       1153813 non-null  object
 26  말소여부        1153813 non-null  object
 27  일치유무        1153813 non-null  object
 28  인증번호 수정 유무  1153813 non-null  object
 29  배인번호_수정     1153813 non-null  object
 30  등급_수정       1153813 non-null  int64
 31  DPF유무_수정    1153813 non-null  object
 32  배출가스        1153813 non-null  object
 33  등급2         1153813 non-null  object
 34  DPF         1146987 non-null  object
 35  비고          46458 non-null    object
dtypes: float64(4), int64(7), object(25)
memory usage: 316.9+ MB

In [25]:
md.columns

Index(['차대번호', '차량번호', '제원관리번호', '차종_원본', '용도', '최초등록일', '연식', '제작일자', '검사유효일',
       '배출가스인증번호', '등급', '차명', '차종분류', '차종유형', '자동차형식', '제작사명', '연료', '엔진형식',
       '총중량', '적재중량', '엔진출력', '배기량', '법정동코드', '시도명', '시군구명', '소유자구분', '말소여부',
       '일치유무', '인증번호 수정 유무', '배인번호_수정', '등급_수정', 'DPF유무_수정', '배출가스', '등급2',
       'DPF', '비고'],
      dtype='object')

In [27]:
md['등급_수정'].value_counts(dropna=False)

4    1149291
3       4396
5        126
Name: 등급_수정, dtype: int64

In [30]:
md3 = md.loc[md['등급_수정'] == 3].reset_index(drop=True)
md3.shape

(4396, 36)

In [31]:
md3.groupby(['배출가스인증번호', '등급_수정'])['차대번호'].count()

배출가스인증번호       등급_수정
5MY-AD-13-07   3         118
5MY-AD-13-13   3          51
5MY-HD-24-59   3         164
6MY-AD-13-11   3         493
7MY-AD-13-01   3         565
7MY-AD-13-05   3          26
7MY-AD-13-06   3         207
7MY-DB-24-42   3          13
7MY-DK-24-04   3         148
7MY-HD-24-31   3           3
8MY-SY-13-14   3         313
9MY-JL-14-4    3         273
CMY-VTK-14-01  3           2
CMY-VTK-14-02  3          24
FMY-VTK-14-1   3        1768
FMY-VTK-14-2   3          86
FMY-VTK-14-3   3          76
FMY-VTK-14-4   3          49
Name: 차대번호, dtype: int64

In [32]:
md3.groupby(['배인번호_수정', '등급_수정'])['차대번호'].count()

배인번호_수정        등급_수정
5MY-AD-13-07   3         118
5MY-AD-13-13   3          51
6MY-AD-13-11   3         493
7MY-AD-13-01   3         565
7MY-AD-13-05   3          26
7MY-AD-13-06   3         207
7MY-DK-24-04   3         148
8MY-SY-13-14   3         313
9MY-JL-14-4    3         273
BMY-HD-14-54   3           3
BMY-KM-14-32   3           1
CMY-HD-14-11   3         164
CMY-VTK-14-01  3           2
CMY-VTK-14-02  3          24
FMY-DB-14-54   3          13
FMY-VTK-14-1   3        1780
FMY-VTK-14-2   3          87
FMY-VTK-14-3   3          76
FMY-VTK-14-4   3          49
확인불가           3           3
Name: 차대번호, dtype: int64

In [33]:
md5 = md.loc[md['등급_수정'] == 5].reset_index(drop=True)
md5.shape

(126, 36)

In [34]:
md5.groupby(['배출가스인증번호', '등급_수정'])['차대번호'].count()

배출가스인증번호      등급_수정
4MY-DC-33     5         7
5MY-SY-24-48  5         2
6MY-HD-23-55  5         3
7MY-DK-24-04  5         8
7MY-HD-14-68  5         1
8MY-KM-13-19  5        83
9MY-KM-14-41  5         2
Name: 차대번호, dtype: int64

In [35]:
md5.groupby(['배인번호_수정', '등급_수정'])['차대번호'].count()

배인번호_수정       등급_수정
3MY-HD-14     5         8
3MY-HD-15     5         1
4MY-DK-04     5         8
4MY-KM-03     5         1
4MY-KM-06     5        84
4MY-KM-07     5         4
5MY-KM-24-32  5         6
5MY-SY-24-48  5         2
6MY-DC-23-17  5         7
6MY-HD-23-55  5         3
확인불가          5         2
Name: 차대번호, dtype: int64

In [36]:
md5.loc[md5['배인번호_수정'] == '확인불가' , ['배출가스인증번호', '제작사명', '차명']]

    배출가스인증번호      제작사명       차명
124      NaN  쌍용자동차(주)    코란도KJ
125      NaN  기아자동차(주)  기아뉴복사17

# 공단 수정 파일 제번 수정

In [27]:
df.shape, len(df['차대번호'].unique())

((1502235, 32), 1502213)

In [32]:
df_diesel = df[df['연료'] == '경유'].reset_index(drop=True)

In [33]:
df_diesel.shape, len(df_diesel['차대번호'].unique())

((1153813, 32), 1153813)

In [34]:
df_rest = df[df['연료'] != '경유'].reset_index(drop=True)

In [35]:
df_rest.shape, len(df_rest['차대번호'].unique())

((348422, 32), 348401)

In [26]:
md.shape, len(md['차대번호'].unique())

((1153813, 36), 1153813)

In [43]:
mmd = md.merge(df_diesel[['차대번호', '제원관리번호']], on='차대번호', how='left')

In [44]:
mmd.columns

Index(['차대번호', '차량번호', '제원관리번호_x', '차종_원본', '용도', '최초등록일', '연식', '제작일자',
       '검사유효일', '배출가스인증번호', '등급', '차명', '차종분류', '차종유형', '자동차형식', '제작사명', '연료',
       '엔진형식', '총중량', '적재중량', '엔진출력', '배기량', '법정동코드', '시도명', '시군구명', '소유자구분',
       '말소여부', '일치유무', '인증번호 수정 유무', '배인번호_수정', '등급_수정', 'DPF유무_수정', '배출가스',
       '등급2', 'DPF', '비고', '제원관리번호_y'],
      dtype='object')

In [45]:
mmd[['차대번호', '제원관리번호_x', '제원관리번호_y']].head()

                차대번호           제원관리번호_x           제원관리번호_y
0  WAUZZZ4F16N115327  2420000000000000   02420000100031305
1  WAUZZZ4F16N113691  2420000000000000   02420000100031305
2  WAUZZZ4F86N088157  2420000000000000   02420000100031305
3  WAUZZZ4F36N090463  2420000000000000   02420000100031305
4  WAUZZZ4F26N152385  2420000000000000   02420000100031305

In [46]:
mmd[['차대번호', '제원관리번호_x', '제원관리번호_y']].info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1153813 entries, 0 to 1153812
Data columns (total 3 columns):
 #   Column    Non-Null Count    Dtype
---  ------    --------------    -----
 0   차대번호      1153813 non-null  object
 1   제원관리번호_x  1153813 non-null  object
 2   제원관리번호_y  1153813 non-null  object
dtypes: object(3)
memory usage: 35.2+ MB

In [47]:
mmd[['차대번호', '제원관리번호_x', '제원관리번호_y']].isnull().sum()

차대번호        0
제원관리번호_x    0
제원관리번호_y    0
dtype: int64

In [48]:
mmd.drop('제원관리번호_x', axis=1, inplace=True)
mmd.rename(columns={'제원관리번호_y':'제원관리번호'}, inplace=True)
mmd.columns

Index(['차대번호', '차량번호', '차종_원본', '용도', '최초등록일', '연식', '제작일자', '검사유효일',
       '배출가스인증번호', '등급', '차명', '차종분류', '차종유형', '자동차형식', '제작사명', '연료', '엔진형식',
       '총중량', '적재중량', '엔진출력', '배기량', '법정동코드', '시도명', '시군구명', '소유자구분', '말소여부',
       '일치유무', '인증번호 수정 유무', '배인번호_수정', '등급_수정', 'DPF유무_수정', '배출가스', '등급2',
       'DPF', '비고', '제원관리번호'],
      dtype='object')

In [49]:
mmd = mmd[['차대번호', '차량번호', '제원관리번호', '차종_원본', '용도', '최초등록일', '연식', '제작일자', '검사유효일',
       '배출가스인증번호', '등급', '차명', '차종분류', '차종유형', '자동차형식', '제작사명', '연료', '엔진형식',
       '총중량', '적재중량', '엔진출력', '배기량', '법정동코드', '시도명', '시군구명', '소유자구분', '말소여부',
       '일치유무', '인증번호 수정 유무', '배인번호_수정', '등급_수정', 'DPF유무_수정', '배출가스', '등급2',
       'DPF', '비고']]
mmd.columns

Index(['차대번호', '차량번호', '제원관리번호', '차종_원본', '용도', '최초등록일', '연식', '제작일자', '검사유효일',
       '배출가스인증번호', '등급', '차명', '차종분류', '차종유형', '자동차형식', '제작사명', '연료', '엔진형식',
       '총중량', '적재중량', '엔진출력', '배기량', '법정동코드', '시도명', '시군구명', '소유자구분', '말소여부',
       '일치유무', '인증번호 수정 유무', '배인번호_수정', '등급_수정', 'DPF유무_수정', '배출가스', '등급2',
       'DPF', '비고'],
      dtype='object')

In [50]:
mmd.head()

,차대번호,차량번호,제원관리번호,차종_원본,용도,최초등록일,연식,제작일자,검사유효일,배출가스인증번호,...,말소여부,일치유무,인증번호 수정 유무,배인번호_수정,등급_수정,DPF유무_수정,배출가스,등급2,DPF,비고
0,WAUZZZ4F16N115327,21로7811,02420000100031305,승용,자가용,20060208,2006,20060119.00,20200207.00,4MY-AD-20,...,N,Y,무,4MY-AD-20,4,무,유지,유지,유지(무),NaN
1,WAUZZZ4F16N113691,23거2347,02420000100031305,승용,자가용,20060228,2006,20060116.00,20220227.00,4MY-AD-20,...,N,Y,무,4MY-AD-20,4,무,유지,유지,유지(무),NaN
2,WAUZZZ4F86N088157,04어9316,02420000100031305,승용,자가용,20060105,2006,20051212.00,20200104.00,4MY-AD-20,...,N,Y,무,4MY-AD-20,4,무,유지,유지,유지(무),NaN
3,WAUZZZ4F36N090463,14우2622,02420000100031305,승용,자가용,20060105,2006,20051206.00,20100104.00,4MY-AD-20,...,N,N,무,4MY-AD-20,4,무,유지,유지,유지(무),NaN
4,WAUZZZ4F26N152385,07머3269,02420000100031305,승용,자가용,20060630,2006,20060612.00,20220629.00,4MY-AD-20,...,N,Y,무,4MY-AD-20,4,무,유지,유지,유지(무),NaN

In [51]:
mmd.shape

(1153813, 36)

# 공단 수정 파일과 원본(경유 제외) 파일 병합

In [52]:
total = pd.concat([mmd, df_rest], ignore_index=True)
total.shape

(1502235, 38)

In [53]:
total.tail()

,차대번호,차량번호,제원관리번호,차종_원본,용도,최초등록일,연식,제작일자,검사유효일,배출가스인증번호,...,인증번호 수정 유무,배인번호_수정,등급_수정,DPF유무_수정,배출가스,등급2,DPF,비고,차종,Grade
1502230,KNAGB2212KS206405,대구1머3419,30220100000489,NaN,자가용,19890719,1989,NaN,19970718.00,LMY-KM-07,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,승용,NaN
1502231,KMHLF31JPJU526685,대구1더5824,30220100000284,NaN,자가용,19881020,1988,NaN,19941019.00,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,승용,NaN
1502232,KNAGB2212KS210157,대구1머7551,30220100000489,NaN,자가용,19890823,1989,NaN,20020914.00,LMY-KM-07,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,승용,NaN
1502233,KNAGB2212KS218654,대구1고9239,30220100000489,NaN,자가용,19891130,1989,NaN,19931129.00,LMY-KM-07,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,승용,NaN
1502234,KNAGB2212KS214542,대구1고4110,30220100000489,NaN,자가용,19891017,1989,NaN,19991016.00,LMY-KM-07,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,승용,NaN

In [59]:
total.columns

Index(['차대번호', '차량번호', '제원관리번호', '차종_원본', '용도', '최초등록일', '연식', '제작일자', '검사유효일',
       '배출가스인증번호', '등급', '차명', '차종분류', '차종유형', '자동차형식', '제작사명', '연료', '엔진형식',
       '총중량', '적재중량', '엔진출력', '배기량', '법정동코드', '시도명', '시군구명', '소유자구분', '말소여부',
       '일치유무', '인증번호 수정 유무', '배인번호_수정', '등급_수정', 'DPF유무_수정', '배출가스', '등급2',
       'DPF', '비고', '차종', 'Grade'],
      dtype='object')

In [60]:
total['연료'].value_counts(dropna=False)

경유             1153813
휘발유             322983
LPG(액화석유가스)      25400
기타연료                37
알코올                  1
CNG(압축천연가스)          1
Name: 연료, dtype: int64

## [출력] 공단 수정 + 원본(경유 제외)

In [55]:
today_date = datetime.today().strftime("%Y.%m.%d_%p.%I.%M.%S")
today_date

'2023.04.13_PM.02.38.43'

In [56]:
# about 22.3s
total.to_csv(os.path.join(raw_fold, f'종합_4등급 차량 리스트 양식 result 최종_수정-작업({today_date}).csv'), index=False)

In [57]:
# about 14m 20.5s
total.iloc[:700000].to_excel(os.path.join(raw_fold, f'종합_4등급 차량 리스트 양식 result 최종_수정-작업01({today_date}).xlsx'), index=False)
total.iloc[700000:].to_excel(os.path.join(raw_fold, f'종합_4등급 차량 리스트 양식 result 최종_수정-작업02({today_date}).xlsx'), index=False)

# 코드 마지막