# Library

In [1]:
import pandas as pd
import os
from datetime import datetime
import numpy as np
from tqdm import tqdm
from glob import glob

# fold path

In [52]:
# # backup
# fold = 'D:/data/big2/BD1_4등급_데이터_점검1/emis'
# norm_fold = 'D:/data/big2/BD1_4등급_데이터_점검1/emis/norm'
# total_fold = 'D:/data/big2/BD1_4등급_데이터_점검1/emis/norm/total'
# error_fold = 'D:/data/big2/BD1_4등급_데이터_점검1/emis/error'
# total_error_fold = 'D:/data/big2/BD1_4등급_데이터_점검1/emis/error/total'
# weird_fold = 'D:/data/big2/BD1_4등급_데이터_점검1/emis/weird'
# nan_fold = 'D:/data/big2/BD1_4등급_데이터_점검1/emis/nan'
# nad_fold = 'D:/data/big2/BD1_4등급_데이터_점검1/emis/nan/nad'

In [54]:
# update2
fold = 'D:/data/big2/BD1_4등급_데이터_점검1'
ods_fold = 'D:/data/big2/ODS'
submit_fold = 'D:/data/big2/BD1_4등급_데이터_점검1/result_emis_update2/submit'

# File Load
- 정상 배인번호 파일
- 확인할 파일

## 정상 배인번호 파일

In [5]:
df = pd.read_csv(os.path.join(submit_fold, '제출_4등급_차량_리스트_양식_result_처리_2023.03.17_PM_05.03.23.csv'),encoding='cp949', low_memory=False)

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1153813 entries, 0 to 1153812
Data columns (total 32 columns):
 #   Column    Non-Null Count    Dtype
---  ------    --------------    -----
 0   차대번호      1153813 non-null  object
 1   차량번호      1153813 non-null  object
 2   제원관리번호    1153813 non-null  object
 3   차종_원본     1153813 non-null  object
 4   용도        1153813 non-null  object
 5   최초등록일     1153813 non-null  int64
 6   연식        1153813 non-null  int64
 7   제작일자      1153809 non-null  float64
 8   검사유효일     1153810 non-null  float64
 9   배출가스인증번호  1146663 non-null  object
 10  등급        1153813 non-null  int64
 11  차명        1153813 non-null  object
 12  차종분류      1153813 non-null  object
 13  차종유형      1153813 non-null  object
 14  자동차형식     1153812 non-null  object
 15  제작사명      1153795 non-null  object
 16  연료        1153813 non-null  object
 17  엔진형식      1153813 non-null  object
 18  총중량       1153813 non-null  float64
 19  적재중량      1153589 non-null  float64
 20  엔진출력      1153811 non-null  float64
 21  배기량       1153813 non-null  float64
 22  법정동코드     1153813 non-null  int64
 23  시도명       1153813 non-null  object
 24  시군구명      1153813 non-null  object
 25  소유자구분     1153813 non-null  object
 26  말소여부      1153813 non-null  object
 27  일치유무      1153813 non-null  object
 28  배인번호_수정   1153183 non-null  object
 29  등급_수정     1153813 non-null  object
 30  DPF유무     1153813 non-null  object
 31  DPF유무_수정  1140321 non-null  object
dtypes: float64(6), int64(4), object(22)
memory usage: 281.7+ MB

In [42]:
df['제원관리번호'] = df['제원관리번호'].astype('str')

## 확인할 파일

In [7]:
ch = pd.read_excel(os.path.join(fold, '통합_문서2.xlsx'))
ch.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6665 entries, 0 to 6664
Data columns (total 31 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   차대번호      6665 non-null   object
 1   차량번호      6665 non-null   object
 2   제원관리번호    6665 non-null   object
 3   차종_원본     6665 non-null   object
 4   용도        6665 non-null   object
 5   최초등록일     6665 non-null   int64
 6   연식        6665 non-null   int64
 7   제작일자      6662 non-null   float64
 8   검사유효일     6664 non-null   float64
 9   배출가스인증번호  6041 non-null   object
 10  등급        6665 non-null   int64
 11  차명        6665 non-null   object
 12  차종분류      6665 non-null   object
 13  차종유형      6665 non-null   object
 14  자동차형식     6664 non-null   object
 15  제작사명      6647 non-null   object
 16  연료        6665 non-null   object
 17  엔진형식      6665 non-null   object
 18  총중량       6665 non-null   int64
 19  적재중량      6645 non-null   float64
 20  엔진출력      6664 non-null   float64
 21  배기량       6665 non-null   int64
 22  법정동코드     6665 non-null   int64
 23  시도명       6665 non-null   object
 24  시군구명      6665 non-null   object
 25  소유자구분     6665 non-null   object
 26  말소여부      6665 non-null   object
 27  일치유무      6665 non-null   object
 28  배인번호_수정   0 non-null      float64
 29  등급_수정     6665 non-null   int64
 30  DPF유무_수정  2248 non-null   object
dtypes: float64(5), int64(7), object(19)
memory usage: 1.6+ MB

In [36]:
df['배인번호_수정'].isnull().sum()

630

## 정기&정밀

In [71]:
# about 
tin = pd.read_csv(os.path.join(ods_fold, '[ODS]정기&정밀검사(2022.12.28).csv'), low_memory=False)

# 확인

In [46]:
ch.shape

(6665, 31)

In [49]:
total = ch.merge(df[['차대번호', '배인번호_수정']], on='차대번호', how='left')
total.shape

(6665, 32)

In [51]:
total.to_csv(os.path.join(fold, '6665대_기존_배인번호_수정_추가.csv'), index=False, encoding='cp949')

## 정기&정밀 검사 정보 병합

In [72]:
df.shape

(1153813, 32)

In [73]:
df2 = df.merge(tin, on='차대번호', how='left')
df2.shape

(4328167, 73)

In [74]:
df2.loc[df2['차명_x'] == '싼타페(SANTAFE)'].shape

(329279, 73)

In [75]:
df2.columns

Index(['차대번호', '차량번호_x', '제원관리번호', '차종_원본', '용도', '최초등록일', '연식', '제작일자',
       '검사유효일', '배출가스인증번호', '등급', '차명_x', '차종분류', '차종유형', '자동차형식', '제작사명',
       '연료', '엔진형식_x', '총중량', '적재중량', '엔진출력', '배기량', '법정동코드', '시도명', '시군구명',
       '소유자구분', '말소여부', '일치유무', '배인번호_수정', '등급_수정', 'DPF유무', 'DPF유무_수정',
       '사용연료', '주행거리', '차명_y', '차량번호_y', '차종', '차량연식', '엔진형식_y', '검사방법',
       '검사일자', '검사종류', '검사판정시각', '검사판정', '산소값', '이산화탄소값', '무부하매연판정1',
       '무부하매연판정2', '무부하매연판정3', '무부하매연판정4', '무부하매연판정5', '무부하매연판정6', '무부하매연허용치1',
       '무부하매연허용치2', '무부하매연허용치3', '무부하매연허용치4', '무부하매연허용치5', '무부하매연허용치6',
       '무부하매연측정치1', '무부하매연측정치2', '무부하매연측정치3', '무부하매연측정치4', '무부하매연측정치5',
       '무부하매연측정치6', '차량용도', '최대출력허용치', '최대출력측정값', '검사접수번호', '검사소명', '재검사기간',
       '정기정밀', '검사 검사소코드', '검사유효기간'],
      dtype='object')

In [77]:
df2.loc[df2['차명_x'] == '싼타페(SANTAFE)', ['차대번호', '차량번호_x', '차명_x', '주행거리', '검사일자']].head()

                     차대번호   차량번호_x          차명_x      주행거리        검사일자
177479  KMHSG81WP9U429362  53더7932  싼타페(SANTAFE)  190647.0  20200325.0
177480  KMHSG81WP9U429362  53더7932  싼타페(SANTAFE)  190870.0  20200331.0
177481  KMHSG81WP9U429362  53더7932  싼타페(SANTAFE)  238045.0  20220308.0
177482  KMHSG81WP9U429362  53더7932  싼타페(SANTAFE)  238045.0  20220308.0
177483  KMHSH81VP8U391737  27다1774  싼타페(SANTAFE)  139332.0  20200108.0

In [78]:
df2.loc[(df2['차명_x'] == '싼타페(SANTAFE)') & (df2['차량번호_x'] == '13무6383'), ['차대번호', '차량번호_x', '차명_x', '주행거리', '검사일자']]

                     차대번호   차량번호_x          차명_x      주행거리        검사일자
177491  KMHSH81WP6U104685  13무6383  싼타페(SANTAFE)   95821.0  20201030.0
177492  KMHSH81WP6U104685  13무6383  싼타페(SANTAFE)  110314.0  20221126.0