# Library

In [1]:
import pandas as pd
import os
from glob import glob
from datetime import datetime

# FOLD

In [2]:
drive = 'D'

In [3]:
ods_fold = f'{drive}:/data/complete/big2/ods'

raw1_fold = f'{drive}:/data/complete/big2/BD1/raw'
df1_fold = f'{drive}:/data/complete/big2/BD1/df'

raw3_fold = f'{drive}:/data/complete/big2/BD3/raw'
df3_fold = f'{drive}:/data/complete/big2/BD3/df'

In [2]:
upload_fold = 'C:/Users/kbjoo/Downloads/2023.11.02(자동차 현황 환경부 보고 자료)/완료'

In [4]:
def etoc(name, fold):
    file_name = f'{name}.xlsx'
    df = pd.read_excel(os.path.join(fold, file_name))
    df.to_csv(os.path.join(fold, f'{name}.csv'), index=False)
    print(os.path.join(fold, f'{name}.csv 출력완료.'))

In [5]:
def ctoc(name, fold):
    file_name = f'{name}.csv'
    df = pd.read_csv(os.path.join(fold, file_name), encoding='cp949')
    df.to_csv(os.path.join(fold, f'{name}.csv'), index=False)
    print(os.path.join(fold, f'{name}.csv 출력완료.'))

In [6]:
def multi_etoc(fold):
    for file_name in glob(os.path.join(fold, '*.xlsx')):
        name = file_name.split('\\')[-1]
        csv_name = name.split('.')[0] + '.csv'
        df = pd.read_excel(os.path.join(fold, name))
        df.to_csv(os.path.join(fold, csv_name), index=False)
        print(os.path.join(fold, csv_name), '출력완료.')

In [13]:
name = 'STD_BD_CAR_CURSTT_MOD'
fold = raw3_fold
etoc(name, fold)

D:/data/big2/BD3/raw\STD_BD_CAR_CURSTT_MOD.csv 출력완료.

In [10]:
name = '5등급_저공해미조치'
fold = raw3_fold
etoc(name, fold)

D:/data/big2/BD3/raw\5등급_저공해미조치.csv 출력완료.

In [22]:
name = '용도별_차종별_시군구별_자동차1일평균주행거리(2021)'
fold = raw1_fold
etoc(name, fold)

D:/data/big2/BD1/raw\용도별_차종별_시군구별_자동차1일평균주행거리(2021).csv 출력완료.

In [8]:
name = 'STD_BD_ECO_CAR_PRET'
fold = df3_fold
ctoc(name, fold)

D:/data/big2/BD3/df\STD_BD_ECO_CAR_PRET.csv 출력완료.

In [22]:
multi_etoc(df3_fold)

D:/data/big2/BD3/df\STD_BD_CAR_CURSTT_MOD.csv 출력완료.
D:/data/big2/BD3/df\STD_BD_CAR_CURSTT_MOD2.csv 출력완료.
D:/data/big2/BD3/df\STD_BD_CAR_PRET.csv 출력완료.
D:/data/big2/BD3/df\STD_BD_CAR_REG_MKCNT.csv 출력완료.
D:/data/big2/BD3/df\STD_BD_ECO_CAR_PRET.csv 출력완료.
D:/data/big2/BD3/df\STD_BD_GRD4_DS_CRRLTN_CFFCNT.csv 출력완료.
D:/data/big2/BD3/df\STD_BD_GRD5_DS_DPF_CRRLTN_CFFCNT.csv 출력완료.
D:/data/big2/BD3/df\STD_BD_GRD5_DS_ELPDSRC_CRRLTN_CFFCNT.csv 출력완료.
D:/data/big2/BD3/df\STD_BD_GRD5_ELPDSRC_CURSTT.csv 출력완료.
D:/data/big2/BD3/df\STD_BD_GRD5_LEM_N_MOD.csv 출력완료.

## STD_BD_CAR_CURSTT_MOD

In [7]:
today_date = datetime.today().strftime('%Y.%m.%d')
today_date

'2023.11.02'

In [4]:
# about 
name = f'STD_BD_CAR_CURSTT_MOD_20231211'
file_name = f'{name}.xlsx'
df = pd.read_excel(os.path.join(upload_fold, file_name))
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5202 entries, 0 to 5201
Data columns (total 7 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   CRTR_YM           5202 non-null   int64
 1   YR                5202 non-null   int64
 2   RGN               5202 non-null   object
 3   CTPV_NM           5202 non-null   object
 4   EXHST_GAS_GRD_CD  5202 non-null   object
 5   VHCL_MKCNT        5202 non-null   int64
 6   LOAD_DT           5202 non-null   int64
dtypes: int64(4), object(3)
memory usage: 284.6+ KB

In [10]:
df.head()

   CRTR_YM    YR  RGN CTPV_NM EXHST_GAS_GRD_CD  VHCL_MKCNT   LOAD_DT
0   201907  2019  수도권   서울특별시                1      245668  20231103
1   201907  2019  수도권   서울특별시                2     1283202  20231103
2   201907  2019  수도권   서울특별시                3     1101919  20231103
3   201907  2019  수도권   서울특별시                4      244329  20231103
4   201907  2019  수도권   서울특별시                5      215777  20231103

In [5]:
df.tail()

      CRTR_YM    YR   RGN  CTPV_NM EXHST_GAS_GRD_CD  VHCL_MKCNT   LOAD_DT
5197   202311  2023  비수도권  제주특별자치도                2      318925  20231211
5198   202311  2023  비수도권  제주특별자치도                3      207375  20231211
5199   202311  2023  비수도권  제주특별자치도                4       24281  20231211
5200   202311  2023  비수도권  제주특별자치도                5       18871  20231211
5201   202311  2023  비수도권  제주특별자치도                X        1059  20231211

In [6]:
# df.LOAD_DT = int(today_date)
# df.head()

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5202 entries, 0 to 5201
Data columns (total 7 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   CRTR_YM           5202 non-null   int64
 1   YR                5202 non-null   int64
 2   RGN               5202 non-null   object
 3   CTPV_NM           5202 non-null   object
 4   EXHST_GAS_GRD_CD  5202 non-null   object
 5   VHCL_MKCNT        5202 non-null   int64
 6   LOAD_DT           5202 non-null   int64
dtypes: int64(4), object(3)
memory usage: 284.6+ KB

In [8]:
df.EXHST_GAS_GRD_CD.unique()

array([1, 2, 3, 4, 5, 'X'], dtype=object)

In [9]:
grd_dict = {
    1:'1', 
    2:'2', 
    3:'3', 
    4:'4', 
    5:'5', 
    'X':'미분류', 
}
df.EXHST_GAS_GRD_CD = df.EXHST_GAS_GRD_CD.replace(grd_dict)
df.EXHST_GAS_GRD_CD.unique()

array(['1', '2', '3', '4', '5', '미분류'], dtype=object)

### [출력] csv

In [11]:
# 0.1s
df.to_csv(os.path.join(upload_fold, f'{name}.csv'), index=False)

## STD_BD_CAR_CURSTT_MOD2

In [15]:
today_date = datetime.today().strftime('%Y.%m.%d')
today_date

'2023.11.02'

In [13]:
# about 
name = f'STD_BD_CAR_CURSTT_MOD2_20231211'
file_name = f'{name}.xlsx'
df = pd.read_excel(os.path.join(upload_fold, file_name))
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 867 entries, 0 to 866
Data columns (total 6 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   CRTR_YM           867 non-null    int64
 1   YR                867 non-null    int64
 2   FUEL_CD           867 non-null    object
 3   EXHST_GAS_GRD_CD  867 non-null    int64
 4   VHCL_MKCNT        867 non-null    int64
 5   LOAD_DT           867 non-null    int64
dtypes: int64(5), object(1)
memory usage: 40.8+ KB

In [14]:
df.EXHST_GAS_GRD_CD.unique()

array([1, 2, 3, 4, 5], dtype=int64)

In [16]:
df.head()

   CRTR_YM    YR FUEL_CD  EXHST_GAS_GRD_CD  VHCL_MKCNT   LOAD_DT
0   201907  2019     휘발유                 1      925978  20231103
1   201907  2019     휘발유                 2     8273839  20231103
2   201907  2019     휘발유                 3     1612221  20231103
3   201907  2019     휘발유                 4      437692  20231103
4   201907  2019     휘발유                 5       30425  20231103

In [15]:
df.tail()

     CRTR_YM    YR      FUEL_CD  EXHST_GAS_GRD_CD  VHCL_MKCNT   LOAD_DT
862   202311  2023  LPG(액화석유가스)                 5         436  20231211
863   202311  2023         전기수소                 1      565821  20231211
864   202311  2023           기타                 3           3  20231211
865   202311  2023           기타                 4          36  20231211
866   202311  2023           기타                 5          26  20231211

In [19]:
# df.LOAD_DT = int(today_date)
# df.head()

### [출력] csv

In [17]:
# 0.1s
df.to_csv(os.path.join(upload_fold, f'{name}.csv'), index=False)

## STD_BD_CAR_CURSTT_MOD_4RD_INS

In [21]:
today_date = datetime.today().strftime('%Y.%m.%d')
today_date

'2023.11.02'

In [18]:
# about 
name = f'STD_BD_CAR_CURSTT_MOD_4RD_INS_20231211'
file_name = f'{name}.xlsx'
df = pd.read_excel(os.path.join(upload_fold, file_name))
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 612 entries, 0 to 611
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   YR          612 non-null    int64
 1   CRTR_YM     612 non-null    int64
 2   FUEL_CD     612 non-null    object
 3   RGN         612 non-null    object
 4   CTPV_NM     612 non-null    object
 5   VHCL_MKCNT  612 non-null    int64
 6   LOAD_DT     612 non-null    datetime64[ns]
dtypes: datetime64[ns](1), int64(3), object(3)
memory usage: 33.6+ KB

In [20]:
df.head()

     YR  CRTR_YM FUEL_CD   RGN CTPV_NM  VHCL_MKCNT    LOAD_DT
0  2023   202306      경유   수도권      서울       99250 2023-10-23
1  2023   202306      경유   수도권      인천       54184 2023-10-23
2  2023   202306      경유   수도권      경기      237064 2023-10-23
3  2023   202306      경유  비수도권      부산       52885 2023-10-23
4  2023   202306      경유  비수도권      대구       47224 2023-10-23

In [19]:
df.tail()

       YR  CRTR_YM FUEL_CD   RGN CTPV_NM  VHCL_MKCNT    LOAD_DT
607  2023   202311     LPG  비수도권      전북          96 2023-12-08
608  2023   202311     LPG  비수도권      전남          87 2023-12-08
609  2023   202311     LPG  비수도권      경북         176 2023-12-08
610  2023   202311     LPG  비수도권      경남         192 2023-12-08
611  2023   202311     LPG  비수도권      제주          40 2023-12-08

In [21]:
# 0.1s
df.to_csv(os.path.join(upload_fold, f'{name}.csv'), index=False)

## STD_BD_CAR_CURSTT_MOD2_4RD_INS

In [26]:
today_date = datetime.today().strftime('%Y.%m.%d')
today_date

'2023.11.02'

In [22]:
# about 
name = f'STD_BD_CAR_CURSTT_MOD2_4RD_INS_20231211'
file_name = f'{name}.xlsx'
df = pd.read_excel(os.path.join(upload_fold, file_name))
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 192 entries, 0 to 191
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   YR           192 non-null    int64
 1   CRTR_YM      192 non-null    int64
 2   VHCTY_CD_NM  192 non-null    object
 3   FUEL_CD      192 non-null    object
 4   VHCL_MKCNT   168 non-null    float64
 5   LOAD_DT      192 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(1), int64(2), object(2)
memory usage: 9.1+ KB

In [23]:
df.head()

     YR  CRTR_YM VHCTY_CD_NM FUEL_CD  VHCL_MKCNT    LOAD_DT
0  2023   202306          승용      경유    476669.0 2023-10-23
1  2023   202306          승합      경유    118636.0 2023-10-23
2  2023   202306          화물      경유    447152.0 2023-10-23
3  2023   202306          특수      경유      5955.0 2023-10-23
4  2023   202306          승용     휘발유     47012.0 2023-10-23

In [24]:
df.tail()

       YR  CRTR_YM VHCTY_CD_NM FUEL_CD  VHCL_MKCNT    LOAD_DT
187  2023   202311          특수     LPG         3.0 2023-12-08
188  2023   202311          승용      기타         2.0 2023-12-08
189  2023   202311          승합      기타         NaN 2023-12-08
190  2023   202311          화물      기타         1.0 2023-12-08
191  2023   202311          특수      기타         NaN 2023-12-08

In [25]:
# 0.1s
df.to_csv(os.path.join(upload_fold, f'{name}.csv'), index=False)