# Library

In [1]:
import pandas as pd
import os
import numpy as np
from tqdm import tqdm

# [로드]

In [2]:
fold = 'D:\과업\[한국환경공단]자동차_환경_빅데이터_구축_2차\data\[BD1]4등급_데이터_점검(23.02.03)(ing)'
ods_fold = 'D:\과업\[한국환경공단]자동차_환경_빅데이터_구축_2차\data\ODS'

In [3]:
file_name = '검증요청_33573.xlsx'
path = os.path.join(fold, file_name)

In [4]:
# about 
df = pd.read_excel(path, index_col=0, skiprows=[0])
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 33573 entries, 82 to 702221
Data columns (total 28 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   차대번호    33573 non-null  object
 1   차량번호    33573 non-null  object
 2   제원관리번호  33573 non-null  object
 3   차종      33573 non-null  object
 4   용도      33573 non-null  object
 5   최초등록일   33573 non-null  int64
 6   연식      33573 non-null  int64
 7   제작일자    33571 non-null  float64
 8   검사유효일   33572 non-null  float64
 9   인증번호    32978 non-null  object
 10  등급      33573 non-null  int64
 11  차명      33573 non-null  object
 12  차종분류    33573 non-null  object
 13  차종유형    33573 non-null  object
 14  자동차형식   33573 non-null  object
 15  제작사명    33571 non-null  object
 16  연료      33573 non-null  object
 17  엔진형식    33573 non-null  object
 18  총중량     33573 non-null  int64
 19  적재중량    33376 non-null  float64
 20  엔진출력    33573 non-null  int64
 21  배기량     33573 non-null  int64
 22  법정동코드   33573 non-null  int64
 23  시도명     33573 non-null  object
 24  시군구명    33573 non-null  object
 25  소유자구분   33573 non-null  object
 26  말소여부    33573 non-null  object
 27  일치유무    33573 non-null  object
dtypes: float64(3), int64(7), object(18)
memory usage: 7.4+ MB

In [5]:
df.columns

Index(['차대번호', '차량번호', '제원관리번호', '차종', '용도', '최초등록일', '연식', '제작일자', '검사유효일',
       '인증번호', '등급', '차명', '차종분류', '차종유형', '자동차형식', '제작사명', '연료', '엔진형식',
       '총중량', '적재중량', '엔진출력', '배기량', '법정동코드', '시도명', '시군구명', '소유자구분', '말소여부',
       '일치유무'],
      dtype='object')

In [6]:
len(df['차대번호'].unique())

33573

In [7]:
df = df.reset_index(drop=True)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33573 entries, 0 to 33572
Data columns (total 28 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   차대번호    33573 non-null  object
 1   차량번호    33573 non-null  object
 2   제원관리번호  33573 non-null  object
 3   차종      33573 non-null  object
 4   용도      33573 non-null  object
 5   최초등록일   33573 non-null  int64
 6   연식      33573 non-null  int64
 7   제작일자    33571 non-null  float64
 8   검사유효일   33572 non-null  float64
 9   인증번호    32978 non-null  object
 10  등급      33573 non-null  int64
 11  차명      33573 non-null  object
 12  차종분류    33573 non-null  object
 13  차종유형    33573 non-null  object
 14  자동차형식   33573 non-null  object
 15  제작사명    33571 non-null  object
 16  연료      33573 non-null  object
 17  엔진형식    33573 non-null  object
 18  총중량     33573 non-null  int64
 19  적재중량    33376 non-null  float64
 20  엔진출력    33573 non-null  int64
 21  배기량     33573 non-null  int64
 22  법정동코드   33573 non-null  int64
 23  시도명     33573 non-null  object
 24  시군구명    33573 non-null  object
 25  소유자구분   33573 non-null  object
 26  말소여부    33573 non-null  object
 27  일치유무    33573 non-null  object
dtypes: float64(3), int64(7), object(18)
memory usage: 7.2+ MB

## [출력] 첫줄 제거, 인덱스 초기화

In [7]:
df.to_csv(os.path.join(fold, '검증요청_33573(수정).csv'), index=False, encoding='cp949')

## [로드] 검증요청 파일

In [3]:
df = pd.read_csv(os.path.join(fold, '검증요청_33573(수정).csv'), encoding='cp949')

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33573 entries, 0 to 33572
Data columns (total 28 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   차대번호    33573 non-null  object
 1   차량번호    33573 non-null  object
 2   제원관리번호  33573 non-null  object
 3   차종      33573 non-null  object
 4   용도      33573 non-null  object
 5   최초등록일   33573 non-null  int64
 6   연식      33573 non-null  int64
 7   제작일자    33571 non-null  float64
 8   검사유효일   33572 non-null  float64
 9   인증번호    32978 non-null  object
 10  등급      33573 non-null  int64
 11  차명      33573 non-null  object
 12  차종분류    33573 non-null  object
 13  차종유형    33573 non-null  object
 14  자동차형식   33573 non-null  object
 15  제작사명    33571 non-null  object
 16  연료      33573 non-null  object
 17  엔진형식    33573 non-null  object
 18  총중량     33573 non-null  int64
 19  적재중량    33376 non-null  float64
 20  엔진출력    33573 non-null  int64
 21  배기량     33573 non-null  int64
 22  법정동코드   33573 non-null  int64
 23  시도명     33573 non-null  object
 24  시군구명    33573 non-null  object
 25  소유자구분   33573 non-null  object
 26  말소여부    33573 non-null  object
 27  일치유무    33573 non-null  object
dtypes: float64(3), int64(7), object(18)
memory usage: 7.2+ MB

In [5]:
df.head()

,차대번호,차량번호,제원관리번호,차종,용도,최초등록일,연식,제작일자,검사유효일,인증번호,...,총중량,적재중량,엔진출력,배기량,법정동코드,시도명,시군구명,소유자구분,말소여부,일치유무
0,KNAJE55538K488660,31어4928,A0110003400501207,승용,자가용,20080118,2008,20071009.0,20160305.0,6MY-KM-14-61,...,1960,0.0,151,1991,1154510200,서울특별시,금천구,주민,N,N
1,KMHSJ81VP8U264640,45수2247,A0810006800831207,승용,자가용,20070907,2008,20070821.0,20110906.0,6MY-HD-24-100,...,2345,0.0,151,1991,4825010200,경상남도,김해시,법인,N,N
2,KMHSJ81VP9U437824,57우7716,A0810006801411208,승용,자가용,20081007,2009,20080919.0,20201006.0,7MY-HD-14-57,...,2345,0.0,151,1991,4812112700,경상남도,창원시 의창구,주민,N,N
3,KMHJN81VP7U714285,24도2516,A0810006301201206,승용,자가용,20070713,2007,20070521.0,20190712.0,5MY-HD-24-59,...,1965,0.0,146,1991,4480025026,충청남도,홍성군,주민,N,N
4,KMJWA37JBBU348189,71소8695,A0810007402962210,승합,자가용,20110318,2011,20110303.0,20200317.0,7MY-HD-14-46,...,2990,0.0,174,2497,4374040022,충청북도,영동군,주민,N,N

## [로드] 4등급 차량 리스트

In [6]:
# about 5s
file_name = '4등급 차량 리스트 양식_1_result_Y.csv'
list1_path = os.path.join(fold, file_name)
list1 = pd.read_csv(list1_path, encoding='cp949')
list1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 574034 entries, 0 to 574033
Data columns (total 28 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   차대번호    574034 non-null  object
 1   차량번호    574034 non-null  object
 2   제원관리번호  574034 non-null  object
 3   차종      574034 non-null  object
 4   용도      574034 non-null  object
 5   최초등록일   574034 non-null  int64
 6   연식      574034 non-null  int64
 7   제작일자    574033 non-null  float64
 8   검사유효일   574033 non-null  float64
 9   인증번호    570547 non-null  object
 10  등급      574034 non-null  int64
 11  차명      574034 non-null  object
 12  차종분류    574034 non-null  object
 13  차종유형    574034 non-null  object
 14  자동차형식   574034 non-null  object
 15  제작사명    574025 non-null  object
 16  연료      574034 non-null  object
 17  엔진형식    574034 non-null  object
 18  총중량     574034 non-null  int64
 19  적재중량    574018 non-null  float64
 20  엔진출력    574032 non-null  float64
 21  배기량     574034 non-null  int64
 22  법정동코드   574034 non-null  int64
 23  시도명     574034 non-null  object
 24  시군구명    574034 non-null  object
 25  소유자구분   574034 non-null  object
 26  말소여부    574034 non-null  object
 27  일치유무    574034 non-null  object
dtypes: float64(4), int64(6), object(18)
memory usage: 122.6+ MB

In [7]:
# about 4s
file_name = '4등급 차량 리스트 양식_2_result_Y.csv'
list2_path = os.path.join(fold, file_name)
list2 = pd.read_csv(list2_path, encoding='cp949')
list2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 503903 entries, 0 to 503902
Data columns (total 28 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   차대번호    503903 non-null  object
 1   차량번호    503903 non-null  object
 2   제원관리번호  503903 non-null  object
 3   차종      503903 non-null  object
 4   용도      503903 non-null  object
 5   최초등록일   503903 non-null  int64
 6   연식      503903 non-null  int64
 7   제작일자    503902 non-null  float64
 8   검사유효일   503902 non-null  float64
 9   인증번호    500838 non-null  object
 10  등급      503903 non-null  int64
 11  차명      503903 non-null  object
 12  차종분류    503903 non-null  object
 13  차종유형    503903 non-null  object
 14  자동차형식   503902 non-null  object
 15  제작사명    503896 non-null  object
 16  연료      503903 non-null  object
 17  엔진형식    503903 non-null  object
 18  총중량     503903 non-null  int64
 19  적재중량    503892 non-null  float64
 20  엔진출력    503903 non-null  int64
 21  배기량     503903 non-null  int64
 22  법정동코드   503903 non-null  int64
 23  시도명     503903 non-null  object
 24  시군구명    503903 non-null  object
 25  소유자구분   503903 non-null  object
 26  말소여부    503903 non-null  object
 27  일치유무    503903 non-null  object
dtypes: float64(3), int64(7), object(18)
memory usage: 107.6+ MB

In [8]:
tlist = pd.concat([list1, list2], ignore_index=True)
tlist.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1077937 entries, 0 to 1077936
Data columns (total 28 columns):
 #   Column  Non-Null Count    Dtype
---  ------  --------------    -----
 0   차대번호    1077937 non-null  object
 1   차량번호    1077937 non-null  object
 2   제원관리번호  1077937 non-null  object
 3   차종      1077937 non-null  object
 4   용도      1077937 non-null  object
 5   최초등록일   1077937 non-null  int64
 6   연식      1077937 non-null  int64
 7   제작일자    1077935 non-null  float64
 8   검사유효일   1077935 non-null  float64
 9   인증번호    1071385 non-null  object
 10  등급      1077937 non-null  int64
 11  차명      1077937 non-null  object
 12  차종분류    1077937 non-null  object
 13  차종유형    1077937 non-null  object
 14  자동차형식   1077936 non-null  object
 15  제작사명    1077921 non-null  object
 16  연료      1077937 non-null  object
 17  엔진형식    1077937 non-null  object
 18  총중량     1077937 non-null  int64
 19  적재중량    1077910 non-null  float64
 20  엔진출력    1077935 non-null  float64
 21  배기량     1077937 non-null  int64
 22  법정동코드   1077937 non-null  int64
 23  시도명     1077937 non-null  object
 24  시군구명    1077937 non-null  object
 25  소유자구분   1077937 non-null  object
 26  말소여부    1077937 non-null  object
 27  일치유무    1077937 non-null  object
dtypes: float64(4), int64(6), object(18)
memory usage: 230.3+ MB

### [출력] 4등급 차량 리스트

In [11]:
# about 14s
tlist.to_csv(os.path.join(fold, '4등급_차량_리스트_양식_result.csv'), index=False, encoding='cp949')

# 1\. 3등급 차량으로 유추되는 다수의 차량 확인
- 인증번호 : 8MY-KM-13
- 사용 데이터 : ODS "CEG_EMIS_CERTI_VEH_MIG(배출가스 인증 자동차정보)"

## [로드] CEG_EMIS_CERTI_VEH_MIG(배출가스 인증 자동차정보)

In [9]:
ods_fold = 'D:\과업\[한국환경공단]자동차_환경_빅데이터_구축_2차\data\ODS'
file_name = 'ODS_CEG_EMIS_CERTI_VEH_MIG.csv'
ods_path = os.path.join(ods_fold, file_name)

emis = pd.read_csv(ods_path, low_memory=False)
emis.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 109269 entries, 0 to 109268
Data columns (total 25 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   EMIS_CRTCNO      109269 non-null  object
 1   EMIS_CRTC_SNO    109269 non-null  int64
 2   VHCL_SNO         109269 non-null  object
 3   VHCNM            109241 non-null  object
 4   CAR_FRM          109181 non-null  object
 5   VIN              72498 non-null   object
 6   EMIS_VHCTY       84041 non-null   object
 7   VHCL_YRIDNW      104332 non-null  float64
 8   DRV_FRM          91142 non-null   object
 9   PURPS            96950 non-null   object
 10  GEARBOX_KND      108853 non-null  object
 11  EMPV_WGHT        109166 non-null  object
 12  TOT_WGHT         109027 non-null  object
 13  EGINTY           108279 non-null  object
 14  DSPLVL           108249 non-null  float64
 15  FUEL             108746 non-null  object
 16  EGINPWR          99675 non-null   object
 17  VHCL_LT_INFO     102659 non-null  object
 18  VHCL_WH_INFO     102662 non-null  object
 19  VHCL_HG_INFO     102660 non-null  object
 20  TKCAR_NMPR_INFO  82499 non-null   object
 21  TIRE_MG_PRE_DTL  76202 non-null   object
 22  TIRE_MG_RR_DTL   76172 non-null   object
 23  RECP_FILE_NM     109265 non-null  object
 24  STRE_DE          109265 non-null  object
dtypes: float64(2), int64(1), object(22)
memory usage: 20.8+ MB

### [로드] 컬럼명

In [10]:
col_fold = 'C:/Users/kbjung/Documents/GitHub/wabotech/car_big_data_2/analysis/ODSvsSTD'
file_name = '[정제][ODS]CEG_EMIS_CERTI_VEH_MIG.xlsx'
col_path = os.path.join(col_fold, file_name)

col = pd.read_excel(col_path, sheet_name='ODS_col')
col

                 컬럼            내용
0        EMIS_VHCTY       배출가스 차종
1         EMPV_WGHT          공차중량
2             PURPS            용도
3       EMIS_CRTCNO     배출가스 인증번호
4     EMIS_CRTC_SNO  배출가스 인증 일련번호
5            DSPLVL           배기량
6           DRV_FRM         구동 형식
7              FUEL            연료
8            EGINTY          엔진형식
9           EGINPWR          엔진출력
10              VIN          차대번호
11  TKCAR_NMPR_INFO      승차 인원 정보
12      GEARBOX_KND        변속기 종류
13          STRE_DE         저장 일자
14     VHCL_LT_INFO      차량 길이 정보
15     VHCL_WH_INFO      차량 너비 정보
16     VHCL_HG_INFO      차량 높이 정보
17      VHCL_YRIDNW         차량 연식
18         VHCL_SNO       차량 일련번호
19            VHCNM            차명
20         TOT_WGHT          총 중량
21          CAR_FRM        자동차 형식
22  TIRE_MG_PRE_DTL            미정
23   TIRE_MG_RR_DTL            미정
24     RECP_FILE_NM            미정

### 컬럼명 한글화

In [11]:
col_dict = {a:b for a, b in zip(col['컬럼'], col['내용'])}
dict(list(col_dict.items())[:5])

{'EMIS_VHCTY': '배출가스 차종',
 'EMPV_WGHT': '공차중량',
 'PURPS': '용도',
 'EMIS_CRTCNO': '배출가스 인증번호',
 'EMIS_CRTC_SNO': '배출가스 인증 일련번호'}

In [12]:
col_list = [col_dict[x] for x in emis.columns]
col_list

['배출가스 인증번호',
 '배출가스 인증 일련번호',
 '차량 일련번호',
 '차명',
 '자동차 형식',
 '차대번호',
 '배출가스 차종',
 '차량 연식',
 '구동 형식',
 '용도',
 '변속기 종류',
 '공차중량',
 '총 중량',
 '엔진형식',
 '배기량',
 '연료',
 '엔진출력',
 '차량 길이 정보',
 '차량 너비 정보',
 '차량 높이 정보',
 '승차 인원 정보',
 '미정',
 '미정',
 '미정',
 '저장 일자']

In [13]:
emis.columns = col_list
emis.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 109269 entries, 0 to 109268
Data columns (total 25 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   배출가스 인증번호     109269 non-null  object
 1   배출가스 인증 일련번호  109269 non-null  int64
 2   차량 일련번호       109269 non-null  object
 3   차명            109241 non-null  object
 4   자동차 형식        109181 non-null  object
 5   차대번호          72498 non-null   object
 6   배출가스 차종       84041 non-null   object
 7   차량 연식         104332 non-null  float64
 8   구동 형식         91142 non-null   object
 9   용도            96950 non-null   object
 10  변속기 종류        108853 non-null  object
 11  공차중량          109166 non-null  object
 12  총 중량          109027 non-null  object
 13  엔진형식          108279 non-null  object
 14  배기량           108249 non-null  float64
 15  연료            108746 non-null  object
 16  엔진출력          99675 non-null   object
 17  차량 길이 정보      102659 non-null  object
 18  차량 너비 정보      102662 non-null  object
 19  차량 높이 정보      102660 non-null  object
 20  승차 인원 정보      82499 non-null   object
 21  미정            76202 non-null   object
 22  미정            76172 non-null   object
 23  미정            109265 non-null  object
 24  저장 일자         109265 non-null  object
dtypes: float64(2), int64(1), object(22)
memory usage: 20.8+ MB

## 해당 인증번호 정보 확인
- 인증번호 : 8MY-KM-13 (❌)
    - 8MY-KM-13 포함한 1개만 존재
- 인증번호 : 8MY-KM-13-19 (⭕)

In [14]:
emis[emis['배출가스 인증번호'] == '8MY-KM-13']

Empty DataFrame
Columns: [배출가스 인증번호, 배출가스 인증 일련번호, 차량 일련번호, 차명, 자동차 형식, 차대번호, 배출가스 차종, 차량 연식, 구동 형식, 용도, 변속기 종류, 공차중량, 총 중량, 엔진형식, 배기량, 연료, 엔진출력, 차량 길이 정보, 차량 너비 정보, 차량 높이 정보, 승차 인원 정보, 미정, 미정, 미정, 저장 일자]
Index: []

[0 rows x 25 columns]

In [15]:
emis[emis['배출가스 인증번호'] == '8MY-KM-13-19']

,배출가스 인증번호,배출가스 인증 일련번호,차량 일련번호,차명,자동차 형식,차대번호,배출가스 차종,차량 연식,구동 형식,용도,...,연료,엔진출력,차량 길이 정보,차량 너비 정보,차량 높이 정보,승차 인원 정보,미정,미정,미정,저장 일자
3603,8MY-KM-13-19,0,000,봉고1톤초장축 수퍼캡,PU1.0-29D-L6-SE-2W5M,NaN,FM,NaN,NaN,NaN,...,DS,126,NaN,NaN,NaN,NaN,NaN,NaN,초기데이터,19/06/28

In [16]:
emis_no = '8MY-KM-13'
for one in emis['배출가스 인증번호']:
    if emis_no in one:
        print(one)

8MY-KM-13-19

### [로드] 등록정보&제원정보

In [9]:
# about 
file_name = '[ODS]등록정보&제원정보(말소제거)(한글컬럼)(2022.12.29).csv'
car_path = os.path.join(ods_fold, file_name)
car = pd.read_csv(car_path, low_memory=False, encoding='cp949')
car.info()

:

:

### [로드] [G4]등록정보&제원정보

In [3]:
# about 30s
file_name = '[ODS][G4]등록정보&제원정보(말소제거)(중복차대제거)(한글컬럼)(2022.12.29).csv'
car_path = os.path.join(ods_fold, file_name)
car4 = pd.read_csv(car_path, low_memory=False)
car4.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1511139 entries, 0 to 1511138
Data columns (total 49 columns):
 #   Column        Non-Null Count    Dtype
---  ------        --------------    -----
 0   차량관리번호        1511139 non-null  object
 1   차량등록번호        1511139 non-null  object
 2   본거지법정동코드      1511139 non-null  int64
 3   소유자구분         1511139 non-null  object
 4   차종_등록정보       1511137 non-null  object
 5   용도            1511139 non-null  object
 6   현재회원번호        1510300 non-null  object
 7   차대번호          1511139 non-null  object
 8   최초등록일자        1511139 non-null  int64
 9   차량연식          1511139 non-null  int64
 10  차량제작일자        1342367 non-null  float64
 11  배출가스검사유효일자    1511127 non-null  float64
 12  제원관리번호        1511139 non-null  object
 13  배출가스인증번호      1387441 non-null  object
 14  배출가스등급        1511139 non-null  object
 15  저공해조치YN(미사용)  1510984 non-null  object
 16  저공해조치종류       189 non-null      float64
 17  저공해조치구조변경YN   1511139 non-null  object
 18  차량등록번호숫자정보    1511139 non-null  int64
 19  차량말소YN        1511139 non-null  object
 20  최초회원번호        1506484 non-null  object
 21  취득일자          1417927 non-null  object
 22  취득금액          1436738 non-null  float64
 23  생성일시_등록정보     1511139 non-null  object
 24  수정일시_등록정보     914957 non-null   object
 25  차명            1511139 non-null  object
 26  차종_제원정보       1511139 non-null  object
 27  차종분류          1511139 non-null  object
 28  차종유형(소분류)     1511139 non-null  object
 29  자동차형식         1510611 non-null  object
 30  제작사명          1501112 non-null  object
 31  연료            1511068 non-null  object
 32  엔진형식          1509138 non-null  object
 33  공차중량          0 non-null        float64
 34  총중량           1511114 non-null  float64
 35  적재중량          1510602 non-null  float64
 36  엔진출력          1510511 non-null  float64
 37  배기량           1511128 non-null  float64
 38  승차인원          1511139 non-null  float64
 39  차량길이          1511064 non-null  float64
 40  차량너비          1511064 non-null  float64
 41  차량높이          1511062 non-null  float64
 42  원산지명          1492014 non-null  object
 43  삭제YN          1511139 non-null  object
 44  승인일자          1510592 non-null  object
 45  구동형식          47 non-null       float64
 46  변속기종류         1510979 non-null  object
 47  생성일시_제원정보     1511139 non-null  object
 48  수정일시_제원정보     497 non-null      object
dtypes: float64(14), int64(4), object(31)
memory usage: 564.9+ MB

In [4]:
car4.columns

Index(['차량관리번호', '차량등록번호', '본거지법정동코드', '소유자구분', '차종_등록정보', '용도', '현재회원번호',
       '차대번호', '최초등록일자', '차량연식', '차량제작일자', '배출가스검사유효일자', '제원관리번호', '배출가스인증번호',
       '배출가스등급', '저공해조치YN(미사용)', '저공해조치종류', '저공해조치구조변경YN', '차량등록번호숫자정보',
       '차량말소YN', '최초회원번호', '취득일자', '취득금액', '생성일시_등록정보', '수정일시_등록정보', '차명',
       '차종_제원정보', '차종분류', '차종유형(소분류)', '자동차형식', '제작사명', '연료', '엔진형식', '공차중량',
       '총중량', '적재중량', '엔진출력', '배기량', '승차인원', '차량길이', '차량너비', '차량높이', '원산지명',
       '삭제YN', '승인일자', '구동형식', '변속기종류', '생성일시_제원정보', '수정일시_제원정보'],
      dtype='object')

In [127]:
emis_no = '8MY-KM-13-19'
cond1 = car4[car4['배출가스인증번호'] == emis_no]
cond1.shape

(92265, 49)

In [128]:
car4[car4['배출가스인증번호'] == emis_no]['차명'].unique()

array(['봉고Ⅲ 1톤', '봉고Ⅲ 4륜구동', '봉고Ⅲ 운교차', '평강봉고Ⅲ렉커', '삼오봉고홈로리', '삼오봉고4륜홈로리',
       '봉고Ⅲ 냉동차', '봉고Ⅲ 내장차', '봉고Ⅲ 일반덤프', '봉고Ⅲ 플러스내장차', '봉고Ⅲ 보냉차',
       '봉고Ⅲ 파워게이트', '봉고Ⅲ 3방덤프', '봉고Ⅲ 워크스루밴', '봉고Ⅲ 윙바디', '봉고Ⅲ 홈로리',
       '봉고Ⅲ 플러스냉동차', '봉고Ⅲ 냉장차', '봉고Ⅲ 다용도탑차', '봉고Ⅲ 활어수송차', '봉고Ⅲ 냉온장차',
       '수성 봉고3 언더리프트', '삼오봉고탱크로리', '봉고Ⅲ활어수송차', '고호1.0톤이삿짐사다리차',
       '평강봉고렉커4륜', '드림사다리차', '호룡 엘리카 고가사다리차', '봉고Ⅲ크레인', '평강이삿짐사다리차',
       '대진홈로리', '드림 사다리차', '천하 사다리차', '평강봉고렉커', '에코다목적방제차', '봉고Ⅲ 원박스냉동차',
       '금강홈로리', 'KJM렉커', '다산고소작업차', '동아홈로리', '한아방제차', '라헬4륜내장탑차',
       '반도크레인탑차', '동해10M고소작업차-0801', '에스알중계차'], dtype=object)

In [41]:
car4[(car4['배출가스인증번호'] == emis_no) & (car4['차명'] == '봉고Ⅲ 1톤')].shape

(55824, 49)

In [42]:
emis_no = '8MY-KM-13'
temp = []
for one in car4['배출가스인증번호']:
    if emis_no in str(one):
        temp.append(one)
len(temp), len(set(temp))

(92265, 1)

In [59]:
cond1['차대번호'].unique()

array(['KNCSE01428K315472', 'KNCSE03429K378300', 'KNCSE26458K323877', ...,
       'KNCSE03428K293267', 'KNCSE06438K293750', 'KNCSE26458K293991'],
      dtype=object)

### [로드] [G3]등록정보&제원정보

In [129]:
# about 2m 10s
file_name = '[ODS][G3]등록정보&제원정보(말소제거)(중복차대제거)(한글컬럼)(2022.12.29).csv'
car_path = os.path.join(ods_fold, file_name)
car3 = pd.read_csv(car_path, low_memory=False)
car3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8759209 entries, 0 to 8759208
Data columns (total 49 columns):
 #   Column        Dtype
---  ------        -----
 0   차량관리번호        object
 1   차량등록번호        object
 2   본거지법정동코드      int64
 3   소유자구분         object
 4   차종_등록정보       object
 5   용도            object
 6   현재회원번호        object
 7   차대번호          object
 8   최초등록일자        int64
 9   차량연식          int64
 10  차량제작일자        float64
 11  배출가스검사유효일자    float64
 12  제원관리번호        object
 13  배출가스인증번호      object
 14  배출가스등급        object
 15  저공해조치YN(미사용)  object
 16  저공해조치종류       float64
 17  저공해조치구조변경YN   object
 18  차량등록번호숫자정보    int64
 19  차량말소YN        object
 20  최초회원번호        object
 21  취득일자          float64
 22  취득금액          float64
 23  생성일시_등록정보     object
 24  수정일시_등록정보     object
 25  차명            object
 26  차종_제원정보       object
 27  차종분류          object
 28  차종유형(소분류)     object
 29  자동차형식         object
 30  제작사명          object
 31  연료            object
 32  엔진형식          object
 33  공차중량          float64
 34  총중량           float64
 35  적재중량          float64
 36  엔진출력          float64
 37  배기량           float64
 38  승차인원          float64
 39  차량길이          float64
 40  차량너비          float64
 41  차량높이          float64
 42  원산지명          object
 43  삭제YN          object
 44  승인일자          float64
 45  구동형식          float64
 46  변속기종류         object
 47  생성일시_제원정보     object
 48  수정일시_제원정보     object
dtypes: float64(16), int64(4), object(29)
memory usage: 3.2+ GB

In [130]:
emis_no = '8MY-KM-13-19'
cond2 = car3[car3['배출가스인증번호'] == emis_no]
cond2.shape

(4790, 49)

In [131]:
cond2['차명'].unique()

array(['봉고Ⅲ 1톤', '봉고Ⅲ 파워게이트'], dtype=object)

In [132]:
car3[(car3['배출가스인증번호'] == emis_no) & (car3['차명'] == '봉고Ⅲ 1톤')].shape

(4600, 49)

In [60]:
cond2['차대번호'].unique()

array(['KNCSJZ74AAK481682', 'KNFSE04429K373147', 'KNCSGX74BBK538164', ...,
       'KN90J4MDD9AZ00006', 'KNFSE04429K349821', 'KNFSE04429K349853'],
      dtype=object)

### [로드] [G4]정기, 정밀

In [29]:
# about 14s
grade = 4
file_name = f'[ODS][G{grade}]정기검사(말소제거)(2022.12.29).csv'
ins4_path = os.path.join(ods_fold, file_name)
ins4 = pd.read_csv(ins4_path, low_memory=False)
ins4.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2563244 entries, 0 to 2563243
Data columns (total 39 columns):
 #   Column     Dtype
---  ------     -----
 0   차대번호       object
 1   사용연료       object
 2   주행거리       float64
 3   차명         object
 4   차량번호       object
 5   차종         object
 6   차량연식       float64
 7   검사방법       object
 8   이산화탄소값     float64
 9   최대출력허용치    float64
 10  최대출력측정값    float64
 11  엔진형식       object
 12  검사접수번호     object
 13  정기검사일자     float64
 14  검사종류       object
 15  검사소명       object
 16  검사판정시각     object
 17  정기검사판정     object
 18  산소값        float64
 19  재검사기간      object
 20  무부하매연판정1   object
 21  무부하매연판정2   object
 22  무부하매연판정3   object
 23  무부하매연판정4   object
 24  무부하매연판정5   object
 25  무부하매연판정6   object
 26  무부하매연허용치1  float64
 27  무부하매연허용치2  float64
 28  무부하매연허용치3  float64
 29  무부하매연허용치4  float64
 30  무부하매연허용치5  float64
 31  무부하매연허용치6  float64
 32  무부하매연측정치1  float64
 33  무부하매연측정치2  float64
 34  무부하매연측정치3  float64
 35  무부하매연측정치4  float64
 36  무부하매연측정치5  float64
 37  무부하매연측정치6  float64
 38  차량용도       object
dtypes: float64(19), object(20)
memory usage: 762.7+ MB

In [30]:
# about 28s
file_name = f'[ODS][G{grade}]정밀검사(말소제거)(2022.12.29).csv'
dins4_path = os.path.join(ods_fold, file_name)
dins4 = pd.read_csv(dins4_path, low_memory=False)
dins4.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3431740 entries, 0 to 3431739
Data columns (total 41 columns):
 #   Column      Dtype
---  ------      -----
 0   차대번호        object
 1   사용연료        object
 2   주행거리        float64
 3   차명          object
 4   차량번호        object
 5   차종          object
 6   차량연식        float64
 7   정밀검사 검사소코드  object
 8   이산화탄소값      float64
 9   최대출력허용치     float64
 10  최대출력측정값     float64
 11  엔진형식        object
 12  산소값         float64
 13  재검사기간       object
 14  정밀검사일자      float64
 15  정밀검사판정      object
 16  정밀검사측정방법    object
 17  정밀검사소명      object
 18  정밀검사접수번호    object
 19  정밀검사종류      object
 20  정밀검사시각정보    object
 21  무부하매연판정1    object
 22  무부하매연판정2    object
 23  무부하매연판정3    object
 24  무부하매연판정4    object
 25  무부하매연판정5    object
 26  무부하매연판정6    object
 27  무부하매연허용치1   float64
 28  무부하매연허용치2   float64
 29  무부하매연허용치3   float64
 30  무부하매연허용치4   float64
 31  무부하매연허용치5   float64
 32  무부하매연허용치6   float64
 33  무부하매연측정치1   float64
 34  무부하매연측정치2   float64
 35  무부하매연측정치3   float64
 36  무부하매연측정치4   float64
 37  무부하매연측정치5   float64
 38  무부하매연측정치6   float64
 39  차량용도        object
 40  정밀검사유효기간    float64
dtypes: float64(20), object(21)
memory usage: 1.0+ GB

### [로드] [G3]정기, 정밀

In [31]:
# about 1m 27s
grade = 3
file_name = f'[ODS][G{grade}]정기검사(말소제거)(2022.12.29).csv'
ins3_path = os.path.join(ods_fold, file_name)
ins3 = pd.read_csv(ins3_path, low_memory=False)
ins3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12885150 entries, 0 to 12885149
Data columns (total 39 columns):
 #   Column     Dtype
---  ------     -----
 0   차대번호       object
 1   사용연료       object
 2   주행거리       float64
 3   차명         object
 4   차량번호       object
 5   차종         object
 6   차량연식       float64
 7   검사방법       object
 8   이산화탄소값     float64
 9   최대출력허용치    float64
 10  최대출력측정값    float64
 11  엔진형식       object
 12  검사접수번호     object
 13  정기검사일자     float64
 14  검사종류       object
 15  검사소명       object
 16  검사판정시각     object
 17  정기검사판정     object
 18  산소값        float64
 19  재검사기간      object
 20  무부하매연판정1   object
 21  무부하매연판정2   object
 22  무부하매연판정3   object
 23  무부하매연판정4   object
 24  무부하매연판정5   object
 25  무부하매연판정6   object
 26  무부하매연허용치1  float64
 27  무부하매연허용치2  float64
 28  무부하매연허용치3  float64
 29  무부하매연허용치4  float64
 30  무부하매연허용치5  float64
 31  무부하매연허용치6  float64
 32  무부하매연측정치1  float64
 33  무부하매연측정치2  float64
 34  무부하매연측정치3  float64
 35  무부하매연측정치4  float64
 36  무부하매연측정치5  float64
 37  무부하매연측정치6  float64
 38  차량용도       object
dtypes: float64(19), object(20)
memory usage: 3.7+ GB

In [91]:
ins3.isnull().sum()

차대번호                0
사용연료          3876659
주행거리          3885288
차명            3876651
차량번호          3876651
차종            3876651
차량연식          3876651
검사방법          3876651
이산화탄소값       12433353
최대출력허용치      12885150
최대출력측정값      12885150
엔진형식          3876661
검사접수번호        3876651
정기검사일자        3876651
검사종류          3876651
검사소명          3876651
검사판정시각        3876651
정기검사판정        3876651
산소값          12488840
재검사기간         3876651
무부하매연판정1      3957315
무부하매연판정2     12429514
무부하매연판정3     12429518
무부하매연판정4     12496983
무부하매연판정5     12496983
무부하매연판정6     12496983
무부하매연허용치1     3957315
무부하매연허용치2    12429514
무부하매연허용치3    12429518
무부하매연허용치4    12496983
무부하매연허용치5    12496983
무부하매연허용치6    12496983
무부하매연측정치1     3957315
무부하매연측정치2    12429514
무부하매연측정치3    12429514
무부하매연측정치4    12496983
무부하매연측정치5    12496983
무부하매연측정치6    12496983
차량용도          3876651
dtype: int64

In [32]:
# about 1m 55s
file_name = f'[ODS][G{grade}]정밀검사(말소제거)(2022.12.29).csv'
dins3_path = os.path.join(ods_fold, file_name)
dins3 = pd.read_csv(dins3_path, low_memory=False)
dins3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13612266 entries, 0 to 13612265
Data columns (total 41 columns):
 #   Column      Dtype
---  ------      -----
 0   차대번호        object
 1   사용연료        object
 2   주행거리        float64
 3   차명          object
 4   차량번호        object
 5   차종          object
 6   차량연식        float64
 7   정밀검사 검사소코드  object
 8   이산화탄소값      float64
 9   최대출력허용치     float64
 10  최대출력측정값     float64
 11  엔진형식        object
 12  산소값         float64
 13  재검사기간       object
 14  정밀검사일자      float64
 15  정밀검사판정      object
 16  정밀검사측정방법    object
 17  정밀검사소명      object
 18  정밀검사접수번호    object
 19  정밀검사종류      object
 20  정밀검사시각정보    object
 21  무부하매연판정1    object
 22  무부하매연판정2    object
 23  무부하매연판정3    object
 24  무부하매연판정4    object
 25  무부하매연판정5    object
 26  무부하매연판정6    object
 27  무부하매연허용치1   float64
 28  무부하매연허용치2   float64
 29  무부하매연허용치3   float64
 30  무부하매연허용치4   float64
 31  무부하매연허용치5   float64
 32  무부하매연허용치6   float64
 33  무부하매연측정치1   float64
 34  무부하매연측정치2   float64
 35  무부하매연측정치3   float64
 36  무부하매연측정치4   float64
 37  무부하매연측정치5   float64
 38  무부하매연측정치6   float64
 39  차량용도        object
 40  정밀검사유효기간    float64
dtypes: float64(20), object(21)
memory usage: 4.2+ GB

In [92]:
dins3.isnull().sum()

차대번호                 0
사용연료           3699657
주행거리           3699657
차명             3699657
차량번호           3699657
차종             3699657
차량연식           3699657
정밀검사 검사소코드     3699657
이산화탄소값         4316545
최대출력허용치       12253355
최대출력측정값       13612266
엔진형식           3699709
산소값            4316545
재검사기간          3699657
정밀검사일자         3699657
정밀검사판정         3699657
정밀검사측정방법       3699657
정밀검사소명         3699657
정밀검사접수번호       3699657
정밀검사종류         3699657
정밀검사시각정보       3890395
무부하매연판정1       3890534
무부하매연판정2      11080678
무부하매연판정3      11261117
무부하매연판정4      11261380
무부하매연판정5      11261380
무부하매연판정6      11949035
무부하매연허용치1      3890516
무부하매연허용치2      8124221
무부하매연허용치3      8230092
무부하매연허용치4      8230178
무부하매연허용치5      8230178
무부하매연허용치6      8717959
무부하매연측정치1      3890395
무부하매연측정치2      7573502
무부하매연측정치3      8229954
무부하매연측정치4      8230040
무부하매연측정치5      8230040
무부하매연측정치6      8717929
차량용도           3699657
정밀검사유효기간       3699682
dtype: int64

### [로드] 정기검사

#### columns

In [89]:
file_name = 'TB_JGT_HIS'
col_exc = pd.read_excel(f'analysis/ODSvsSTD/[정제]{file_name}.xlsx', sheet_name='ODS_col')

In [90]:
col_exc

             컬럼    내용
0   CAR_FUEL_NM  사용연료
1      CAR_MILE  주행거리
2        CAR_NM    차명
3    CAR_REG_NO  차량번호
4    CAR_SER_NO  차대번호
..          ...   ...
58  FUN_CHKR_NM    미정
59  SMO_CHKR_NM    미정
60  MNG_CHKR_NM    미정
61     DT_GUBUN    미정
62      FILE_NM    미정

[63 rows x 2 columns]

In [91]:
col_exc['내용'].to_list()

['사용연료',
 '주행거리',
 '차명',
 '차량번호',
 '차대번호',
 '차종',
 '차량연식',
 '검사방법',
 '이산화탄소값',
 '최대출력허용치',
 '최대출력측정값',
 '엔진형식',
 '검사접수번호',
 '정기검사일자',
 '검사종류',
 '검사소명',
 '검사판정시각',
 '정기검사판정',
 '산소값',
 '재검사기간',
 '무부하매연판정1',
 '무부하매연판정2',
 '무부하매연판정3',
 '무부하매연판정4',
 '무부하매연판정5',
 '무부하매연판정6',
 '무부하매연허용치1',
 '무부하매연허용치2',
 '무부하매연허용치3',
 '무부하매연허용치4',
 '무부하매연허용치5',
 '무부하매연허용치6',
 '무부하매연측정치1',
 '무부하매연측정치2',
 '무부하매연측정치3',
 '무부하매연측정치4',
 '무부하매연측정치5',
 '무부하매연측정치6',
 '차량용도',
 '미정',
 '미정',
 '미정',
 '미정',
 '미정',
 '미정',
 '미정',
 '미정',
 '미정',
 '미정',
 '미정',
 '미정',
 '미정',
 '미정',
 '미정',
 '미정',
 '미정',
 '미정',
 '미정',
 '미정',
 '미정',
 '미정',
 '미정',
 '미정']

In [92]:
col_exc = col_exc.loc[:38]
col_exc

                   컬럼         내용
0         CAR_FUEL_NM       사용연료
1            CAR_MILE       주행거리
2              CAR_NM         차명
3          CAR_REG_NO       차량번호
4          CAR_SER_NO       차대번호
5         CAR_TYPE_NM         차종
6            CAR_YEAR       차량연식
7          CHK_METHOD       검사방법
8             CO2_VAL     이산화탄소값
9      ENGINE_TOR_LIM    최대출력허용치
10     ENGINE_TOR_VAL    최대출력측정값
11        ENGINE_TYPE       엔진형식
12           JEBSU_NO     검사접수번호
13        JG_CHK_DATE     정기검사일자
14        JG_CHK_TYPE       검사종류
15          JG_ORG_NM       검사소명
16         JUDGE_DATE     검사판정시각
17           JUDGE_YN     정기검사판정
18             O2_VAL        산소값
19        RE_CHK_DATE      재검사기간
20  UNLOAD_SMO_JUDGE1   무부하매연판정1
21  UNLOAD_SMO_JUDGE2   무부하매연판정2
22  UNLOAD_SMO_JUDGE3   무부하매연판정3
23  UNLOAD_SMO_JUDGE4   무부하매연판정4
24  UNLOAD_SMO_JUDGE5   무부하매연판정5
25  UNLOAD_SMO_JUDGE6   무부하매연판정6
26    UNLOAD_SMO_LIM1  무부하매연허용치1
27    UNLOAD_SMO_LIM2  무부하매연허용치2
28    UNLOAD_SMO_LIM3  무부하매연허용치3
29    UNLOAD_SMO_LIM4  무부하매연허용치4
30    UNLOAD_SMO_LIM5  무부하매연허용치5
31    UNLOAD_SMO_LIM6  무부하매연허용치6
32    UNLOAD_SMO_VAL1  무부하매연측정치1
33    UNLOAD_SMO_VAL2  무부하매연측정치2
34    UNLOAD_SMO_VAL3  무부하매연측정치3
35    UNLOAD_SMO_VAL4  무부하매연측정치4
36    UNLOAD_SMO_VAL5  무부하매연측정치5
37    UNLOAD_SMO_VAL6  무부하매연측정치6
38              USAGE       차량용도

In [93]:
col = col_exc['컬럼'].to_list()
col

['CAR_FUEL_NM',
 'CAR_MILE',
 'CAR_NM',
 'CAR_REG_NO',
 'CAR_SER_NO',
 'CAR_TYPE_NM',
 'CAR_YEAR',
 'CHK_METHOD',
 'CO2_VAL',
 'ENGINE_TOR_LIM',
 'ENGINE_TOR_VAL',
 'ENGINE_TYPE',
 'JEBSU_NO',
 'JG_CHK_DATE',
 'JG_CHK_TYPE',
 'JG_ORG_NM',
 'JUDGE_DATE',
 'JUDGE_YN',
 'O2_VAL',
 'RE_CHK_DATE',
 'UNLOAD_SMO_JUDGE1',
 'UNLOAD_SMO_JUDGE2',
 'UNLOAD_SMO_JUDGE3',
 'UNLOAD_SMO_JUDGE4',
 'UNLOAD_SMO_JUDGE5',
 'UNLOAD_SMO_JUDGE6',
 'UNLOAD_SMO_LIM1',
 'UNLOAD_SMO_LIM2',
 'UNLOAD_SMO_LIM3',
 'UNLOAD_SMO_LIM4',
 'UNLOAD_SMO_LIM5',
 'UNLOAD_SMO_LIM6',
 'UNLOAD_SMO_VAL1',
 'UNLOAD_SMO_VAL2',
 'UNLOAD_SMO_VAL3',
 'UNLOAD_SMO_VAL4',
 'UNLOAD_SMO_VAL5',
 'UNLOAD_SMO_VAL6',
 'USAGE']

In [94]:
# 필요한 컬럼만 추출
sel_col = col_exc['내용'].to_list()
sel_col

['사용연료',
 '주행거리',
 '차명',
 '차량번호',
 '차대번호',
 '차종',
 '차량연식',
 '검사방법',
 '이산화탄소값',
 '최대출력허용치',
 '최대출력측정값',
 '엔진형식',
 '검사접수번호',
 '정기검사일자',
 '검사종류',
 '검사소명',
 '검사판정시각',
 '정기검사판정',
 '산소값',
 '재검사기간',
 '무부하매연판정1',
 '무부하매연판정2',
 '무부하매연판정3',
 '무부하매연판정4',
 '무부하매연판정5',
 '무부하매연판정6',
 '무부하매연허용치1',
 '무부하매연허용치2',
 '무부하매연허용치3',
 '무부하매연허용치4',
 '무부하매연허용치5',
 '무부하매연허용치6',
 '무부하매연측정치1',
 '무부하매연측정치2',
 '무부하매연측정치3',
 '무부하매연측정치4',
 '무부하매연측정치5',
 '무부하매연측정치6',
 '차량용도']

#### [로드] 정기검사

In [97]:
# about 5m
file_name = 'ODS_TB_JGT_HIS.csv'
ins = pd.read_csv(os.path.join(ods_fold, file_name), usecols=col, low_memory=False)
ins.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22006426 entries, 0 to 22006425
Data columns (total 39 columns):
 #   Column             Dtype
---  ------             -----
 0   JG_ORG_NM          object
 1   JG_CHK_DATE        int64
 2   JG_CHK_TYPE        object
 3   JEBSU_NO           object
 4   CAR_REG_NO         object
 5   CAR_SER_NO         object
 6   CAR_NM             object
 7   CAR_TYPE_NM        object
 8   USAGE              object
 9   CAR_YEAR           int64
 10  CAR_FUEL_NM        object
 11  CAR_MILE           object
 12  ENGINE_TYPE        object
 13  CHK_METHOD         object
 14  UNLOAD_SMO_VAL1    float64
 15  UNLOAD_SMO_LIM1    float64
 16  UNLOAD_SMO_JUDGE1  object
 17  UNLOAD_SMO_VAL2    float64
 18  UNLOAD_SMO_LIM2    float64
 19  UNLOAD_SMO_JUDGE2  object
 20  UNLOAD_SMO_VAL3    float64
 21  UNLOAD_SMO_LIM3    float64
 22  UNLOAD_SMO_JUDGE3  object
 23  UNLOAD_SMO_VAL4    float64
 24  UNLOAD_SMO_LIM4    float64
 25  UNLOAD_SMO_JUDGE4  object
 26  UNLOAD_SMO_VAL5    float64
 27  UNLOAD_SMO_LIM5    float64
 28  UNLOAD_SMO_JUDGE5  object
 29  UNLOAD_SMO_VAL6    float64
 30  UNLOAD_SMO_LIM6    float64
 31  UNLOAD_SMO_JUDGE6  object
 32  CO2_VAL            float64
 33  ENGINE_TOR_LIM     float64
 34  ENGINE_TOR_VAL     float64
 35  O2_VAL             float64
 36  JUDGE_YN           object
 37  RE_CHK_DATE        object
 38  JUDGE_DATE         object
dtypes: float64(16), int64(2), object(21)
memory usage: 6.4+ GB

In [98]:
ins = ins[col]
ins.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22006426 entries, 0 to 22006425
Data columns (total 39 columns):
 #   Column             Dtype
---  ------             -----
 0   CAR_FUEL_NM        object
 1   CAR_MILE           object
 2   CAR_NM             object
 3   CAR_REG_NO         object
 4   CAR_SER_NO         object
 5   CAR_TYPE_NM        object
 6   CAR_YEAR           int64
 7   CHK_METHOD         object
 8   CO2_VAL            float64
 9   ENGINE_TOR_LIM     float64
 10  ENGINE_TOR_VAL     float64
 11  ENGINE_TYPE        object
 12  JEBSU_NO           object
 13  JG_CHK_DATE        int64
 14  JG_CHK_TYPE        object
 15  JG_ORG_NM          object
 16  JUDGE_DATE         object
 17  JUDGE_YN           object
 18  O2_VAL             float64
 19  RE_CHK_DATE        object
 20  UNLOAD_SMO_JUDGE1  object
 21  UNLOAD_SMO_JUDGE2  object
 22  UNLOAD_SMO_JUDGE3  object
 23  UNLOAD_SMO_JUDGE4  object
 24  UNLOAD_SMO_JUDGE5  object
 25  UNLOAD_SMO_JUDGE6  object
 26  UNLOAD_SMO_LIM1    float64
 27  UNLOAD_SMO_LIM2    float64
 28  UNLOAD_SMO_LIM3    float64
 29  UNLOAD_SMO_LIM4    float64
 30  UNLOAD_SMO_LIM5    float64
 31  UNLOAD_SMO_LIM6    float64
 32  UNLOAD_SMO_VAL1    float64
 33  UNLOAD_SMO_VAL2    float64
 34  UNLOAD_SMO_VAL3    float64
 35  UNLOAD_SMO_VAL4    float64
 36  UNLOAD_SMO_VAL5    float64
 37  UNLOAD_SMO_VAL6    float64
 38  USAGE              object
dtypes: float64(16), int64(2), object(21)
memory usage: 6.4+ GB

In [99]:
ins.columns = sel_col

In [100]:
ins.columns

Index(['사용연료', '주행거리', '차명', '차량번호', '차대번호', '차종', '차량연식', '검사방법', '이산화탄소값',
       '최대출력허용치', '최대출력측정값', '엔진형식', '검사접수번호', '정기검사일자', '검사종류', '검사소명',
       '검사판정시각', '정기검사판정', '산소값', '재검사기간', '무부하매연판정1', '무부하매연판정2', '무부하매연판정3',
       '무부하매연판정4', '무부하매연판정5', '무부하매연판정6', '무부하매연허용치1', '무부하매연허용치2',
       '무부하매연허용치3', '무부하매연허용치4', '무부하매연허용치5', '무부하매연허용치6', '무부하매연측정치1',
       '무부하매연측정치2', '무부하매연측정치3', '무부하매연측정치4', '무부하매연측정치5', '무부하매연측정치6',
       '차량용도'],
      dtype='object')

In [101]:
ins.columns = ['사용연료', '주행거리', '차명', '차량번호', '차대번호', '차종', '차량연식', '검사방법', '이산화탄소값', '최대출력허용치',
       '최대출력측정값', '엔진형식', '검사접수번호', '검사일자', '검사종류', '검사소명', '검사판정시각',
       '검사판정', '산소값', '재검사기간', '무부하매연판정1', '무부하매연판정2', '무부하매연판정3',
       '무부하매연판정4', '무부하매연판정5', '무부하매연판정6', '무부하매연허용치1', '무부하매연허용치2',
       '무부하매연허용치3', '무부하매연허용치4', '무부하매연허용치5', '무부하매연허용치6', '무부하매연측정치1',
       '무부하매연측정치2', '무부하매연측정치3', '무부하매연측정치4', '무부하매연측정치5', '무부하매연측정치6',
       '차량용도']
ins['정기정밀'] = '정기'

In [102]:
pd.options.display.float_format = '{:.2f}'.format

In [103]:
ins['검사일자'].describe()

count   22006426.00
mean    20203268.21
std        11150.50
min     20190102.00
25%     20191007.00
50%     20200710.00
75%     20210924.00
max     20230102.00
Name: 검사일자, dtype: float64

### [로드] 정밀검사

#### columns

In [104]:
file_name = 'TB_EET_HIS_ME'
col_exc = pd.read_excel(f'analysis/ODSvsSTD/[정제]{file_name}.xlsx', sheet_name='ODS_col')

In [105]:
col_exc

                컬럼    내용
0      CAR_FUEL_NM  사용연료
1         CAR_MILE  주행거리
2           CAR_NM    차명
3       CAR_REG_NO  차량번호
4       CAR_SER_NO  차대번호
..             ...   ...
70      DELETE_GBN    미정
71  DELETE_REASON1    미정
72  DELETE_REASON2    미정
73  DELETE_REASON3    미정
74  DELETE_REASON4    미정

[75 rows x 2 columns]

In [106]:
col_exc = col_exc.loc[:40]
col_exc

                    컬럼          내용
0          CAR_FUEL_NM        사용연료
1             CAR_MILE        주행거리
2               CAR_NM          차명
3           CAR_REG_NO        차량번호
4           CAR_SER_NO        차대번호
5          CAR_TYPE_NM          차종
6             CAR_YEAR        차량연식
7   CMB_SMO_CHK_REG_NO  정밀검사 검사소코드
8              CO2_VAL      이산화탄소값
9       ENGINE_TOR_LIM     최대출력허용치
10      ENGINE_TOR_VAL     최대출력측정값
11         ENGINE_TYPE        엔진형식
12              O2_VAL         산소값
13        RE_INS_DATE2       재검사기간
14        SMO_CHK_DATE      정밀검사일자
15    SMO_CHK_JUDGE_YN      정밀검사판정
16      SMO_CHK_METHOD    정밀검사측정방법
17      SMO_CHK_ORG_NM      정밀검사소명
18      SMO_CHK_REG_NO    정밀검사접수번호
19        SMO_CHK_TYPE      정밀검사종류
20      SMO_CLOCK_INFO    정밀검사시각정보
21   UNLOAD_SMO_JUDGE1    무부하매연판정1
22   UNLOAD_SMO_JUDGE2    무부하매연판정2
23   UNLOAD_SMO_JUDGE3    무부하매연판정3
24   UNLOAD_SMO_JUDGE4    무부하매연판정4
25   UNLOAD_SMO_JUDGE5    무부하매연판정5
26   UNLOAD_SMO_JUDGE6    무부하매연판정6
27     UNLOAD_SMO_LIM1   무부하매연허용치1
28     UNLOAD_SMO_LIM2   무부하매연허용치2
29     UNLOAD_SMO_LIM3   무부하매연허용치3
30     UNLOAD_SMO_LIM4   무부하매연허용치4
31     UNLOAD_SMO_LIM5   무부하매연허용치5
32     UNLOAD_SMO_LIM6   무부하매연허용치6
33     UNLOAD_SMO_VAL1   무부하매연측정치1
34     UNLOAD_SMO_VAL2   무부하매연측정치2
35     UNLOAD_SMO_VAL3   무부하매연측정치3
36     UNLOAD_SMO_VAL4   무부하매연측정치4
37     UNLOAD_SMO_VAL5   무부하매연측정치5
38     UNLOAD_SMO_VAL6   무부하매연측정치6
39               USAGE        차량용도
40    SMO_CHK_EXP_DATE    정밀검사유효기간

In [107]:
col = col_exc['컬럼'].to_list()
col

['CAR_FUEL_NM',
 'CAR_MILE',
 'CAR_NM',
 'CAR_REG_NO',
 'CAR_SER_NO',
 'CAR_TYPE_NM',
 'CAR_YEAR',
 'CMB_SMO_CHK_REG_NO',
 'CO2_VAL',
 'ENGINE_TOR_LIM',
 'ENGINE_TOR_VAL',
 'ENGINE_TYPE',
 'O2_VAL',
 'RE_INS_DATE2',
 'SMO_CHK_DATE',
 'SMO_CHK_JUDGE_YN',
 'SMO_CHK_METHOD',
 'SMO_CHK_ORG_NM',
 'SMO_CHK_REG_NO',
 'SMO_CHK_TYPE',
 'SMO_CLOCK_INFO',
 'UNLOAD_SMO_JUDGE1',
 'UNLOAD_SMO_JUDGE2',
 'UNLOAD_SMO_JUDGE3',
 'UNLOAD_SMO_JUDGE4',
 'UNLOAD_SMO_JUDGE5',
 'UNLOAD_SMO_JUDGE6',
 'UNLOAD_SMO_LIM1',
 'UNLOAD_SMO_LIM2',
 'UNLOAD_SMO_LIM3',
 'UNLOAD_SMO_LIM4',
 'UNLOAD_SMO_LIM5',
 'UNLOAD_SMO_LIM6',
 'UNLOAD_SMO_VAL1',
 'UNLOAD_SMO_VAL2',
 'UNLOAD_SMO_VAL3',
 'UNLOAD_SMO_VAL4',
 'UNLOAD_SMO_VAL5',
 'UNLOAD_SMO_VAL6',
 'USAGE',
 'SMO_CHK_EXP_DATE']

In [108]:
# 필요한 컬럼만 추출
sel_col = col_exc['내용'].to_list()
sel_col

['사용연료',
 '주행거리',
 '차명',
 '차량번호',
 '차대번호',
 '차종',
 '차량연식',
 '정밀검사 검사소코드',
 '이산화탄소값',
 '최대출력허용치',
 '최대출력측정값',
 '엔진형식',
 '산소값',
 '재검사기간',
 '정밀검사일자',
 '정밀검사판정',
 '정밀검사측정방법',
 '정밀검사소명',
 '정밀검사접수번호',
 '정밀검사종류',
 '정밀검사시각정보',
 '무부하매연판정1',
 '무부하매연판정2',
 '무부하매연판정3',
 '무부하매연판정4',
 '무부하매연판정5',
 '무부하매연판정6',
 '무부하매연허용치1',
 '무부하매연허용치2',
 '무부하매연허용치3',
 '무부하매연허용치4',
 '무부하매연허용치5',
 '무부하매연허용치6',
 '무부하매연측정치1',
 '무부하매연측정치2',
 '무부하매연측정치3',
 '무부하매연측정치4',
 '무부하매연측정치5',
 '무부하매연측정치6',
 '차량용도',
 '정밀검사유효기간']

#### [로드] 정밀검사

In [109]:
# about 8m 44s
file_name = 'ODS_TB_EET_HIS_ME.csv'
dins = pd.read_csv(os.path.join(ods_fold, file_name), usecols=col, low_memory=False)
dins.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28682228 entries, 0 to 28682227
Data columns (total 41 columns):
 #   Column              Dtype
---  ------              -----
 0   SMO_CHK_ORG_NM      object
 1   SMO_CHK_DATE        int64
 2   SMO_CHK_TYPE        object
 3   SMO_CHK_REG_NO      object
 4   CAR_REG_NO          object
 5   CAR_SER_NO          object
 6   CAR_NM              object
 7   CAR_TYPE_NM         object
 8   USAGE               object
 9   CAR_YEAR            int64
 10  CAR_FUEL_NM         object
 11  CAR_MILE            float64
 12  ENGINE_TYPE         object
 13  SMO_CHK_EXP_DATE    float64
 14  SMO_CHK_METHOD      object
 15  UNLOAD_SMO_VAL1     float64
 16  UNLOAD_SMO_LIM1     float64
 17  UNLOAD_SMO_JUDGE1   object
 18  UNLOAD_SMO_VAL2     float64
 19  UNLOAD_SMO_LIM2     float64
 20  UNLOAD_SMO_JUDGE2   object
 21  UNLOAD_SMO_VAL3     float64
 22  UNLOAD_SMO_LIM3     float64
 23  UNLOAD_SMO_JUDGE3   object
 24  UNLOAD_SMO_VAL4     float64
 25  UNLOAD_SMO_LIM4     float64
 26  UNLOAD_SMO_JUDGE4   object
 27  UNLOAD_SMO_VAL5     float64
 28  UNLOAD_SMO_LIM5     float64
 29  UNLOAD_SMO_JUDGE5   object
 30  CO2_VAL             float64
 31  ENGINE_TOR_LIM      float64
 32  ENGINE_TOR_VAL      float64
 33  O2_VAL              float64
 34  SMO_CHK_JUDGE_YN    object
 35  RE_INS_DATE2        object
 36  SMO_CLOCK_INFO      object
 37  CMB_SMO_CHK_REG_NO  object
 38  UNLOAD_SMO_VAL6     float64
 39  UNLOAD_SMO_LIM6     float64
 40  UNLOAD_SMO_JUDGE6   object
dtypes: float64(18), int64(2), object(21)
memory usage: 8.8+ GB

In [110]:
dins = dins[col]
dins.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28682228 entries, 0 to 28682227
Data columns (total 41 columns):
 #   Column              Dtype
---  ------              -----
 0   CAR_FUEL_NM         object
 1   CAR_MILE            float64
 2   CAR_NM              object
 3   CAR_REG_NO          object
 4   CAR_SER_NO          object
 5   CAR_TYPE_NM         object
 6   CAR_YEAR            int64
 7   CMB_SMO_CHK_REG_NO  object
 8   CO2_VAL             float64
 9   ENGINE_TOR_LIM      float64
 10  ENGINE_TOR_VAL      float64
 11  ENGINE_TYPE         object
 12  O2_VAL              float64
 13  RE_INS_DATE2        object
 14  SMO_CHK_DATE        int64
 15  SMO_CHK_JUDGE_YN    object
 16  SMO_CHK_METHOD      object
 17  SMO_CHK_ORG_NM      object
 18  SMO_CHK_REG_NO      object
 19  SMO_CHK_TYPE        object
 20  SMO_CLOCK_INFO      object
 21  UNLOAD_SMO_JUDGE1   object
 22  UNLOAD_SMO_JUDGE2   object
 23  UNLOAD_SMO_JUDGE3   object
 24  UNLOAD_SMO_JUDGE4   object
 25  UNLOAD_SMO_JUDGE5   object
 26  UNLOAD_SMO_JUDGE6   object
 27  UNLOAD_SMO_LIM1     float64
 28  UNLOAD_SMO_LIM2     float64
 29  UNLOAD_SMO_LIM3     float64
 30  UNLOAD_SMO_LIM4     float64
 31  UNLOAD_SMO_LIM5     float64
 32  UNLOAD_SMO_LIM6     float64
 33  UNLOAD_SMO_VAL1     float64
 34  UNLOAD_SMO_VAL2     float64
 35  UNLOAD_SMO_VAL3     float64
 36  UNLOAD_SMO_VAL4     float64
 37  UNLOAD_SMO_VAL5     float64
 38  UNLOAD_SMO_VAL6     float64
 39  USAGE               object
 40  SMO_CHK_EXP_DATE    float64
dtypes: float64(18), int64(2), object(21)
memory usage: 8.8+ GB

In [111]:
dins.columns = sel_col

In [112]:
dins.columns

Index(['사용연료', '주행거리', '차명', '차량번호', '차대번호', '차종', '차량연식', '정밀검사 검사소코드',
       '이산화탄소값', '최대출력허용치', '최대출력측정값', '엔진형식', '산소값', '재검사기간', '정밀검사일자',
       '정밀검사판정', '정밀검사측정방법', '정밀검사소명', '정밀검사접수번호', '정밀검사종류', '정밀검사시각정보',
       '무부하매연판정1', '무부하매연판정2', '무부하매연판정3', '무부하매연판정4', '무부하매연판정5', '무부하매연판정6',
       '무부하매연허용치1', '무부하매연허용치2', '무부하매연허용치3', '무부하매연허용치4', '무부하매연허용치5',
       '무부하매연허용치6', '무부하매연측정치1', '무부하매연측정치2', '무부하매연측정치3', '무부하매연측정치4',
       '무부하매연측정치5', '무부하매연측정치6', '차량용도', '정밀검사유효기간'],
      dtype='object')

In [113]:
dins = dins[['사용연료', '주행거리', '차명', '차량번호', '차대번호', '차종', '차량연식', '정밀검사측정방법', '이산화탄소값',
       '최대출력허용치', '최대출력측정값', '엔진형식', '정밀검사접수번호', '정밀검사일자', '정밀검사종류', '정밀검사소명', '정밀검사시각정보', '정밀검사판정', 
       '산소값', '재검사기간',  '무부하매연판정1', '무부하매연판정2', '무부하매연판정3', '무부하매연판정4', '무부하매연판정5', '무부하매연판정6', '무부하매연허용치1',
       '무부하매연허용치2', '무부하매연허용치3', '무부하매연허용치4', '무부하매연허용치5', '무부하매연허용치6',
       '무부하매연측정치1', '무부하매연측정치2', '무부하매연측정치3', '무부하매연측정치4', '무부하매연측정치5',
       '무부하매연측정치6', '차량용도']]

In [114]:
len(dins.columns)

39

In [115]:
dins.columns = ['사용연료', '주행거리', '차명', '차량번호', '차대번호', '차종', '차량연식', '검사방법', '이산화탄소값', '최대출력허용치',
       '최대출력측정값', '엔진형식', '검사접수번호', '검사일자', '검사종류', '검사소명', '검사판정시각',
       '검사판정', '산소값', '재검사기간', '무부하매연판정1', '무부하매연판정2', '무부하매연판정3',
       '무부하매연판정4', '무부하매연판정5', '무부하매연판정6', '무부하매연허용치1', '무부하매연허용치2',
       '무부하매연허용치3', '무부하매연허용치4', '무부하매연허용치5', '무부하매연허용치6', '무부하매연측정치1',
       '무부하매연측정치2', '무부하매연측정치3', '무부하매연측정치4', '무부하매연측정치5', '무부하매연측정치6',
       '차량용도']

In [116]:
dins['정기정밀'] = '정밀'

In [117]:
dins['검사일자'].describe()

count   28682228.00
mean    20207111.54
std        10853.16
min     20190102.00
25%     20200409.00
50%     20210319.00
75%     20220127.00
max     20230107.00
Name: 검사일자, dtype: float64

In [118]:
len(ins.columns), len(dins.columns)

(40, 40)

In [119]:
ins.shape, dins.shape

((22006426, 40), (28682228, 40))

In [135]:
ins.columns

Index(['사용연료', '주행거리', '차명', '차량번호', '차대번호', '차종', '차량연식', '검사방법', '이산화탄소값',
       '최대출력허용치', '최대출력측정값', '엔진형식', '검사접수번호', '검사일자', '검사종류', '검사소명',
       '검사판정시각', '검사판정', '산소값', '재검사기간', '무부하매연판정1', '무부하매연판정2', '무부하매연판정3',
       '무부하매연판정4', '무부하매연판정5', '무부하매연판정6', '무부하매연허용치1', '무부하매연허용치2',
       '무부하매연허용치3', '무부하매연허용치4', '무부하매연허용치5', '무부하매연허용치6', '무부하매연측정치1',
       '무부하매연측정치2', '무부하매연측정치3', '무부하매연측정치4', '무부하매연측정치5', '무부하매연측정치6', '차량용도',
       '정기정밀'],
      dtype='object')

In [139]:
ins['검사방법'].unique()

array(['무부하검사(급가속)', '무부하검사(TSI)', '무부하검사(정지가동)'], dtype=object)

In [136]:
dins.columns

Index(['사용연료', '주행거리', '차명', '차량번호', '차대번호', '차종', '차량연식', '검사방법', '이산화탄소값',
       '최대출력허용치', '최대출력측정값', '엔진형식', '검사접수번호', '검사일자', '검사종류', '검사소명',
       '검사판정시각', '검사판정', '산소값', '재검사기간', '무부하매연판정1', '무부하매연판정2', '무부하매연판정3',
       '무부하매연판정4', '무부하매연판정5', '무부하매연판정6', '무부하매연허용치1', '무부하매연허용치2',
       '무부하매연허용치3', '무부하매연허용치4', '무부하매연허용치5', '무부하매연허용치6', '무부하매연측정치1',
       '무부하매연측정치2', '무부하매연측정치3', '무부하매연측정치4', '무부하매연측정치5', '무부하매연측정치6', '차량용도',
       '정기정밀'],
      dtype='object')

In [133]:
cond1.columns

Index(['차량관리번호', '차량등록번호', '본거지법정동코드', '소유자구분', '차종_등록정보', '용도', '현재회원번호',
       '차대번호', '최초등록일자', '차량연식', '차량제작일자', '배출가스검사유효일자', '제원관리번호', '배출가스인증번호',
       '배출가스등급', '저공해조치YN(미사용)', '저공해조치종류', '저공해조치구조변경YN', '차량등록번호숫자정보',
       '차량말소YN', '최초회원번호', '취득일자', '취득금액', '생성일시_등록정보', '수정일시_등록정보', '차명',
       '차종_제원정보', '차종분류', '차종유형(소분류)', '자동차형식', '제작사명', '연료', '엔진형식', '공차중량',
       '총중량', '적재중량', '엔진출력', '배기량', '승차인원', '차량길이', '차량너비', '차량높이', '원산지명',
       '삭제YN', '승인일자', '구동형식', '변속기종류', '생성일시_제원정보', '수정일시_제원정보'],
      dtype='object')

In [134]:
cond2.columns

Index(['차량관리번호', '차량등록번호', '본거지법정동코드', '소유자구분', '차종_등록정보', '용도', '현재회원번호',
       '차대번호', '최초등록일자', '차량연식', '차량제작일자', '배출가스검사유효일자', '제원관리번호', '배출가스인증번호',
       '배출가스등급', '저공해조치YN(미사용)', '저공해조치종류', '저공해조치구조변경YN', '차량등록번호숫자정보',
       '차량말소YN', '최초회원번호', '취득일자', '취득금액', '생성일시_등록정보', '수정일시_등록정보', '차명',
       '차종_제원정보', '차종분류', '차종유형(소분류)', '자동차형식', '제작사명', '연료', '엔진형식', '공차중량',
       '총중량', '적재중량', '엔진출력', '배기량', '승차인원', '차량길이', '차량너비', '차량높이', '원산지명',
       '삭제YN', '승인일자', '구동형식', '변속기종류', '생성일시_제원정보', '수정일시_제원정보'],
      dtype='object')

In [137]:
icond1 = cond1.merge(ins, on='차대번호', how='left') # 4등급 정기검사 매칭
dcond1 = cond1.merge(dins, on='차대번호', how='left') # 4등급 정밀검사 매칭

In [138]:
# 4등급 
icond1Y = icond1[icond1['무부하매연판정1'] == 'Y'].reset_index(drop=True) # 정기 매연검사 합격
icond1N = icond1[icond1['무부하매연판정1'] == 'N'].reset_index(drop=True) # 정기 매연검사 불합격
dcond1Y = dcond1[dcond1['무부하매연판정1'] == 'Y'].reset_index(drop=True) # 정밀 매연검사 합격
dcond1N = dcond1[dcond1['무부하매연판정1'] == 'N'].reset_index(drop=True) # 정밀 매연검사 불합격
icond1Y.shape, icond1N.shape, dcond1Y.shape, dcond1N.shape

((193063, 88), (21040, 88), (180091, 88), (41083, 88))

In [141]:
icond1Y.groupby(['제원관리번호', '자동차형식'])['무부하매연측정치1'].agg(['mean', 'min', 'max'])

                                  mean   min   max
제원관리번호            자동차형식
00034427000113118 SED45J-BF       5.75  0.00 15.00
2P810000500003108 HKVAN-K1BX3    13.75 10.00 17.00
A0110003111783107 SEL13F8-RTSS   23.00 23.00 23.00
A0110003111803107 SEL12F8-RTSS-E  9.00  8.00 10.00
A0110003112043107 SEL13F8-PRTSS   4.33  0.00 10.00
...                                ...   ...   ...
B7F10004500004108 KJM1.0BKP-BW2   4.50  0.00  8.00
B7M10000700004108 SR-100          5.00  1.00 10.00
B7Y10000700004108 DAP-120         8.09  0.00 20.00
B9P10000900004108 DLC24-TS        9.51  0.00 25.00
BAE10000400004108 CHL-25M         9.09  0.00 24.00

[475 rows x 3 columns]

In [142]:
icond1Y.groupby(['제원관리번호', '자동차형식', '검사방법'])['무부하매연측정치1'].agg(['mean', 'min', 'max']).unstack()

                                       mean        min        max
검사방법                             무부하검사(급가속) 무부하검사(급가속) 무부하검사(급가속)
제원관리번호            자동차형식
00034427000113118 SED45J-BF            5.75       0.00      15.00
2P810000500003108 HKVAN-K1BX3         13.75      10.00      17.00
A0110003111783107 SEL13F8-RTSS        23.00      23.00      23.00
A0110003111803107 SEL12F8-RTSS-E       9.00       8.00      10.00
A0110003112043107 SEL13F8-PRTSS        4.33       0.00      10.00
...                                     ...        ...        ...
B7F10004500004108 KJM1.0BKP-BW2        4.50       0.00       8.00
B7M10000700004108 SR-100               5.00       1.00      10.00
B7Y10000700004108 DAP-120              8.09       0.00      20.00
B9P10000900004108 DLC24-TS             9.51       0.00      25.00
BAE10000400004108 CHL-25M              9.09       0.00      24.00

[475 rows x 3 columns]

In [143]:
icond1N.groupby(['제원관리번호', '자동차형식'])['무부하매연측정치1'].agg(['mean', 'min', 'max'])

                                    mean   min    max
제원관리번호            자동차형식
A0110003112083107 SEL12F8-RTS-FRP  70.50 52.00  89.00
A0110003112193107 SES15F8-DP       59.00 24.00  94.00
A0110003112693107 SES42J-A        365.30 47.00 999.90
A0110003112733107 SES42J-AF        37.67 34.00  45.00
A0110003112853107 SEK42J-A         50.54 25.00  99.00
...                                  ...   ...    ...
B7B10003100003208 KK-HR1750-2      77.00 77.00  77.00
B7F10004500004108 KJM1.0BKP-BW2    33.00 33.00  33.00
B7Y10000700004108 DAP-120          27.00 27.00  27.00
B9P10000900004108 DLC24-TS         71.25 67.00  78.00
BAE10000400004108 CHL-25M          65.67 54.00  72.00

[366 rows x 3 columns]

In [144]:
icond1N.groupby(['제원관리번호', '자동차형식', '검사방법'])['무부하매연측정치1'].agg(['mean', 'min', 'max']).unstack()

                                        mean        min        max
검사방법                              무부하검사(급가속) 무부하검사(급가속) 무부하검사(급가속)
제원관리번호            자동차형식
A0110003112083107 SEL12F8-RTS-FRP      70.50      52.00      89.00
A0110003112193107 SES15F8-DP           59.00      24.00      94.00
A0110003112693107 SES42J-A            365.30      47.00     999.90
A0110003112733107 SES42J-AF            37.67      34.00      45.00
A0110003112853107 SEK42J-A             50.54      25.00      99.00
...                                      ...        ...        ...
B7B10003100003208 KK-HR1750-2          77.00      77.00      77.00
B7F10004500004108 KJM1.0BKP-BW2        33.00      33.00      33.00
B7Y10000700004108 DAP-120              27.00      27.00      27.00
B9P10000900004108 DLC24-TS             71.25      67.00      78.00
BAE10000400004108 CHL-25M              65.67      54.00      72.00

[366 rows x 3 columns]

In [145]:
dcond1Y.groupby(['제원관리번호', '자동차형식'])['무부하매연측정치1'].agg(['mean', 'min', 'max'])

                                mean  min   max
제원관리번호            자동차형식
00034101000013116 SET42K-DRV   10.60 4.00 14.00
00034101000023116 SET42K-DRV    3.25 0.00  8.00
A0110003111493107 SEE12HB8      4.20 0.00  9.00
A0110003111753107 SEL12F8-RTS   1.67 0.00  5.00
A0110003111783107 SEL13F8-RTSS  6.72 1.00 19.00
...                              ...  ...   ...
B7M10000700004108 SR-100        3.67 1.00  6.00
B7Y10000700004108 DAP-120       9.50 6.00 15.00
B9P10000900004108 DLC24-TS      7.72 0.00 20.00
B9P10001100004108 DLC24N-TS     9.43 5.00 14.00
BAE10000400004108 CHL-25M       8.61 0.00 19.00

[477 rows x 3 columns]

In [146]:
dcond1Y.groupby(['제원관리번호', '자동차형식', '검사방법'])['무부하매연측정치1'].agg(['mean', 'min', 'max']).unstack()

                                     mean                              \
검사방법                           무부하검사(급가속) 부하검사(KD-147) 부하검사(LUG DOWN)
제원관리번호            자동차형식
00034101000013116 SET42K-DRV          NaN        10.60            NaN
00034101000023116 SET42K-DRV          NaN         3.25            NaN
A0110003111493107 SEE12HB8            NaN         4.20            NaN
A0110003111753107 SEL12F8-RTS         NaN         1.67            NaN
A0110003111783107 SEL13F8-RTSS        NaN         6.72            NaN
...                                   ...          ...            ...
B7M10000700004108 SR-100              NaN         3.67            NaN
B7Y10000700004108 DAP-120             NaN         8.00          11.00
B9P10000900004108 DLC24-TS            NaN         7.35          10.67
B9P10001100004108 DLC24N-TS           NaN         8.20          12.50
BAE10000400004108 CHL-25M             NaN         7.80          16.67

                                      min                              \
검사방법                           무부하검사(급가속) 부하검사(KD-147) 부하검사(LUG DOWN)
제원관리번호            자동차형식
00034101000013116 SET42K-DRV          NaN         4.00            NaN
00034101000023116 SET42K-DRV          NaN         0.00            NaN
A0110003111493107 SEE12HB8            NaN         0.00            NaN
A0110003111753107 SEL12F8-RTS         NaN         0.00            NaN
A0110003111783107 SEL13F8-RTSS        NaN         1.00            NaN
...                                   ...          ...            ...
B7M10000700004108 SR-100              NaN         1.00            NaN
B7Y10000700004108 DAP-120             NaN         6.00           7.00
B9P10000900004108 DLC24-TS            NaN         0.00           0.00
B9P10001100004108 DLC24N-TS           NaN         5.00          11.00
BAE10000400004108 CHL-25M             NaN         0.00          14.00

                                      max
검사방법                           무부하검사(급가속) 부하검사(KD-147) 부하검사(LUG DOWN)
제원관리번호            자동차형식
00034101000013116 SET42K-DRV          NaN        14.00            NaN
00034101000023116 SET42K-DRV          NaN         8.00            NaN
A0110003111493107 SEE12HB8            NaN         9.00            NaN
A0110003111753107 SEL12F8-RTS         NaN         5.00            NaN
A0110003111783107 SEL13F8-RTSS        NaN        19.00            NaN
...                                   ...          ...            ...
B7M10000700004108 SR-100              NaN         6.00            NaN
B7Y10000700004108 DAP-120             NaN        10.00          15.00
B9P10000900004108 DLC24-TS            NaN        15.00          20.00
B9P10001100004108 DLC24N-TS           NaN        14.00          14.00
BAE10000400004108 CHL-25M             NaN        14.00          19.00

[477 rows x 9 columns]

In [147]:
dcond1N.groupby(['제원관리번호', '자동차형식'])['무부하매연측정치1'].agg(['mean', 'min', 'max'])

                                  mean   min   max
제원관리번호            자동차형식
00034101000013116 SET42K-DRV     72.00 72.00 72.00
A0110003111783107 SEL13F8-RTSS   50.33 27.00 92.00
A0110003112043107 SEL13F8-PRTSS  45.00 45.00 45.00
A0110003112113107 SEL13F8-WB     62.00 62.00 62.00
A0110003112123107 SEL12F8-WB-HYD 43.00 37.00 49.00
...                                ...   ...   ...
B7310001300004108 ECO-GED800     19.00 19.00 19.00
B7B10003100003208 KK-HR1750-2    55.00 55.00 55.00
B7Y10000700004108 DAP-120        52.00 43.00 67.00
B9P10000900004108 DLC24-TS       45.47 16.00 90.00
BAE10000400004108 CHL-25M        34.00 17.00 75.00

[438 rows x 3 columns]

In [148]:
dcond1N.groupby(['제원관리번호', '자동차형식', '검사방법'])['무부하매연측정치1'].agg(['mean', 'min', 'max']).unstack()

                                       mean                              \
검사방법                             무부하검사(급가속) 부하검사(KD-147) 부하검사(LUG DOWN)
제원관리번호            자동차형식
00034101000013116 SET42K-DRV            NaN        72.00            NaN
A0110003111783107 SEL13F8-RTSS          NaN        50.33            NaN
A0110003112043107 SEL13F8-PRTSS         NaN        45.00            NaN
A0110003112113107 SEL13F8-WB            NaN        62.00            NaN
A0110003112123107 SEL12F8-WB-HYD        NaN        43.00            NaN
...                                     ...          ...            ...
B7310001300004108 ECO-GED800            NaN        19.00            NaN
B7B10003100003208 KK-HR1750-2           NaN        55.00            NaN
B7Y10000700004108 DAP-120               NaN        67.00          44.50
B9P10000900004108 DLC24-TS              NaN        43.40          52.86
BAE10000400004108 CHL-25M               NaN        34.42          29.00

                                        min                              \
검사방법                             무부하검사(급가속) 부하검사(KD-147) 부하검사(LUG DOWN)
제원관리번호            자동차형식
00034101000013116 SET42K-DRV            NaN        72.00            NaN
A0110003111783107 SEL13F8-RTSS          NaN        27.00            NaN
A0110003112043107 SEL13F8-PRTSS         NaN        45.00            NaN
A0110003112113107 SEL13F8-WB            NaN        62.00            NaN
A0110003112123107 SEL12F8-WB-HYD        NaN        37.00            NaN
...                                     ...          ...            ...
B7310001300004108 ECO-GED800            NaN        19.00            NaN
B7B10003100003208 KK-HR1750-2           NaN        55.00            NaN
B7Y10000700004108 DAP-120               NaN        67.00          43.00
B9P10000900004108 DLC24-TS              NaN        16.00          25.00
BAE10000400004108 CHL-25M               NaN        17.00          29.00

                                        max
검사방법                             무부하검사(급가속) 부하검사(KD-147) 부하검사(LUG DOWN)
제원관리번호            자동차형식
00034101000013116 SET42K-DRV            NaN        72.00            NaN
A0110003111783107 SEL13F8-RTSS          NaN        92.00            NaN
A0110003112043107 SEL13F8-PRTSS         NaN        45.00            NaN
A0110003112113107 SEL13F8-WB            NaN        62.00            NaN
A0110003112123107 SEL12F8-WB-HYD        NaN        49.00            NaN
...                                     ...          ...            ...
B7310001300004108 ECO-GED800            NaN        19.00            NaN
B7B10003100003208 KK-HR1750-2           NaN        55.00            NaN
B7Y10000700004108 DAP-120               NaN        67.00          46.00
B9P10000900004108 DLC24-TS              NaN        90.00          89.00
BAE10000400004108 CHL-25M               NaN        75.00          29.00

[438 rows x 9 columns]

In [152]:
icond2 = cond2.merge(ins, on='차대번호', how='left') # 3등급 정기검사 매칭
dcond2 = cond2.merge(dins, on='차대번호', how='left') # 3등급 정밀검사 매칭

In [153]:
# 3등급 
icond2Y = icond2[icond2['무부하매연판정1'] == 'Y'].reset_index(drop=True) # 정기 매연검사 합격
icond2N = icond2[icond2['무부하매연판정1'] == 'N'].reset_index(drop=True) # 정기 매연검사 불합격
dcond2Y = dcond2[dcond2['무부하매연판정1'] == 'Y'].reset_index(drop=True) # 정밀 매연검사 합격
dcond2N = dcond2[dcond2['무부하매연판정1'] == 'N'].reset_index(drop=True) # 정밀 매연검사 불합격
icond2Y.shape, icond2N.shape, dcond2Y.shape, dcond2N.shape

((8064, 88), (1000, 88), (10737, 88), (2210, 88))

In [154]:
icond2Y.groupby(['제원관리번호', '자동차형식'])['무부하매연측정치1'].agg(['mean', 'min', 'max'])

                                mean   min   max
제원관리번호            자동차형식
A0110003116493108 SEL42K-PGT-2 10.20  0.00 25.00
A0110003117113109 PUL4AA-L      9.56  0.00 25.00
A0110003117193109 PUE4BA        9.11  0.00 25.00
A0110003117863109 PUL4AA-PGT-2  8.14  0.00 25.00
A0110003118303110 PUS4BB       11.00 11.00 11.00
A0110003119653111 PUK4BC       10.00  0.00 23.00

In [155]:
icond2Y.groupby(['제원관리번호', '자동차형식', '검사방법'])['무부하매연측정치1'].agg(['mean', 'min', 'max']).unstack()

                                     mean        min        max
검사방법                           무부하검사(급가속) 무부하검사(급가속) 무부하검사(급가속)
제원관리번호            자동차형식
A0110003116493108 SEL42K-PGT-2      10.20       0.00      25.00
A0110003117113109 PUL4AA-L           9.56       0.00      25.00
A0110003117193109 PUE4BA             9.11       0.00      25.00
A0110003117863109 PUL4AA-PGT-2       8.14       0.00      25.00
A0110003118303110 PUS4BB            11.00      11.00      11.00
A0110003119653111 PUK4BC            10.00       0.00      23.00

In [156]:
icond2N.groupby(['제원관리번호', '자동차형식'])['무부하매연측정치1'].agg(['mean', 'min', 'max'])

                                mean   min    max
제원관리번호            자동차형식
A0110003116493108 SEL42K-PGT-2 41.65 26.00  72.00
A0110003117113109 PUL4AA-L     50.82 21.00 999.90
A0110003117193109 PUE4BA       51.18 22.00 999.90
A0110003117863109 PUL4AA-PGT-2 47.57 28.00  93.00

In [157]:
icond2N.groupby(['제원관리번호', '자동차형식', '검사방법'])['무부하매연측정치1'].agg(['mean', 'min', 'max']).unstack()

                                     mean        min        max
검사방법                           무부하검사(급가속) 무부하검사(급가속) 무부하검사(급가속)
제원관리번호            자동차형식
A0110003116493108 SEL42K-PGT-2      41.65      26.00      72.00
A0110003117113109 PUL4AA-L          50.82      21.00     999.90
A0110003117193109 PUE4BA            51.18      22.00     999.90
A0110003117863109 PUL4AA-PGT-2      47.57      28.00      93.00

In [158]:
dcond2Y.groupby(['제원관리번호', '자동차형식'])['무부하매연측정치1'].agg(['mean', 'min', 'max'])

                                mean  min   max
제원관리번호            자동차형식
A0110003116493108 SEL42K-PGT-2  7.05 0.00 15.00
A0110003117113109 PUL4AA-L      7.01 0.00 19.00
A0110003117193109 PUE4BA        6.33 0.00 15.00
A0110003117863109 PUL4AA-PGT-2  7.50 0.00 15.00
A0110003118303110 PUS4BB        8.00 0.00 14.00
A0110003119653111 PUK4BC        5.78 0.00 13.00

In [159]:
dcond2Y.groupby(['제원관리번호', '자동차형식', '검사방법'])['무부하매연측정치1'].agg(['mean', 'min', 'max']).unstack()

                                       mean                         min  \
검사방법                           부하검사(KD-147) 부하검사(LUG DOWN) 부하검사(KD-147)
제원관리번호            자동차형식
A0110003116493108 SEL42K-PGT-2         7.05            NaN         0.00
A0110003117113109 PUL4AA-L             7.01          11.67         0.00
A0110003117193109 PUE4BA               6.33            NaN         0.00
A0110003117863109 PUL4AA-PGT-2         7.50            NaN         0.00
A0110003118303110 PUS4BB               8.00            NaN         0.00
A0110003119653111 PUK4BC               5.78            NaN         0.00

                                                       max
검사방법                           부하검사(LUG DOWN) 부하검사(KD-147) 부하검사(LUG DOWN)
제원관리번호            자동차형식
A0110003116493108 SEL42K-PGT-2            NaN        15.00            NaN
A0110003117113109 PUL4AA-L               5.00        15.00          19.00
A0110003117193109 PUE4BA                  NaN        15.00            NaN
A0110003117863109 PUL4AA-PGT-2            NaN        15.00            NaN
A0110003118303110 PUS4BB                  NaN        14.00            NaN
A0110003119653111 PUK4BC                  NaN        13.00            NaN

In [160]:
dcond2N.groupby(['제원관리번호', '자동차형식'])['무부하매연측정치1'].agg(['mean', 'min', 'max'])

                                mean   min    max
제원관리번호            자동차형식
A0110003116493108 SEL42K-PGT-2 42.79 16.00  94.00
A0110003117113109 PUL4AA-L     33.18 16.00 100.00
A0110003117193109 PUE4BA       29.24 16.00  99.00
A0110003117863109 PUL4AA-PGT-2 35.96 16.00  86.00
A0110003119653111 PUK4BC       26.33 17.00  45.00

In [161]:
dcond2N.groupby(['제원관리번호', '자동차형식', '검사방법'])['무부하매연측정치1'].agg(['mean', 'min', 'max']).unstack()

                                       mean          min          max
검사방법                           부하검사(KD-147) 부하검사(KD-147) 부하검사(KD-147)
제원관리번호            자동차형식
A0110003116493108 SEL42K-PGT-2        42.79        16.00        94.00
A0110003117113109 PUL4AA-L            33.18        16.00       100.00
A0110003117193109 PUE4BA              29.24        16.00        99.00
A0110003117863109 PUL4AA-PGT-2        35.96        16.00        86.00
A0110003119653111 PUK4BC              26.33        17.00        45.00

In [ ]:
tins = pd.concat([ins, dins], ignore_index=True)

In [47]:
# about 3m 1s
tins_m = tins.sort_values('검사일자', ascending=False).drop_duplicates(subset=['차대번호']).reset_index(drop=True)
tins_m.shape

(22044208, 40)

In [48]:
tins_m = tins_m[['차대번호', '검사방법', '검사종류', '검사판정', '무부하매연판정1', '무부하매연판정2', '무부하매연판정3',
       '무부하매연판정4', '무부하매연판정5', '무부하매연판정6', '무부하매연허용치1', '무부하매연허용치2',
       '무부하매연허용치3', '무부하매연허용치4', '무부하매연허용치5', '무부하매연허용치6', '무부하매연측정치1',
       '무부하매연측정치2', '무부하매연측정치3', '무부하매연측정치4', '무부하매연측정치5', '무부하매연측정치6', '정기정밀'
       ]]

In [49]:
# about 1m 4s
tcond1 = cond1.merge(tins_m, on='차대번호', how='left')
tcond2 = cond2.merge(tins_m, on='차대번호', how='left')

In [50]:
tcond1.shape, tcond2.shape

((92265, 71), (4790, 71))

In [51]:
tcond1.isnull().sum()

차량관리번호           0
차량등록번호           0
본거지법정동코드         0
소유자구분            0
차종_등록정보          0
             ...
무부하매연측정치3    76400
무부하매연측정치4    76400
무부하매연측정치5    76400
무부하매연측정치6    76433
정기정밀          2910
Length: 71, dtype: int64

In [52]:
tcond2.isnull().sum()

차량관리번호          0
차량등록번호          0
본거지법정동코드        0
소유자구분           0
차종_등록정보         0
             ...
무부하매연측정치3    3905
무부하매연측정치4    3905
무부하매연측정치5    3905
무부하매연측정치6    3906
정기정밀          171
Length: 71, dtype: int64

### 최신 정기&정밀 데이터 정보 추가

#### 최신 데이터만 남기기
- ins(정기검사) : '정기검사일자' 기준 정렬
- dins(정밀검사) : '정밀검사일자' 기준 정렬

In [33]:
ins4.columns

Index(['차대번호', '사용연료', '주행거리', '차명', '차량번호', '차종', '차량연식', '검사방법', '이산화탄소값',
       '최대출력허용치', '최대출력측정값', '엔진형식', '검사접수번호', '정기검사일자', '검사종류', '검사소명',
       '검사판정시각', '정기검사판정', '산소값', '재검사기간', '무부하매연판정1', '무부하매연판정2', '무부하매연판정3',
       '무부하매연판정4', '무부하매연판정5', '무부하매연판정6', '무부하매연허용치1', '무부하매연허용치2',
       '무부하매연허용치3', '무부하매연허용치4', '무부하매연허용치5', '무부하매연허용치6', '무부하매연측정치1',
       '무부하매연측정치2', '무부하매연측정치3', '무부하매연측정치4', '무부하매연측정치5', '무부하매연측정치6',
       '차량용도'],
      dtype='object')

In [34]:
len(ins4.columns)

39

In [35]:
len(dins4.columns)

41

In [36]:
ins4.columns = ['차대번호', '사용연료', '주행거리', '차명', '차량번호', '차종', '차량연식', '검사방법', '이산화탄소값', '최대출력허용치',
       '최대출력측정값', '엔진형식', '검사접수번호', '검사일자', '검사종류', '검사소명', '검사판정시각',
       '검사판정', '산소값', '재검사기간', '무부하매연판정1', '무부하매연판정2', '무부하매연판정3',
       '무부하매연판정4', '무부하매연판정5', '무부하매연판정6', '무부하매연허용치1', '무부하매연허용치2',
       '무부하매연허용치3', '무부하매연허용치4', '무부하매연허용치5', '무부하매연허용치6', '무부하매연측정치1',
       '무부하매연측정치2', '무부하매연측정치3', '무부하매연측정치4', '무부하매연측정치5', '무부하매연측정치6',
       '차량용도']

In [37]:
ins4['정기정밀'] = '정기'

In [38]:
dins4.columns

Index(['차대번호', '사용연료', '주행거리', '차명', '차량번호', '차종', '차량연식', '정밀검사 검사소코드',
       '이산화탄소값', '최대출력허용치', '최대출력측정값', '엔진형식', '산소값', '재검사기간', '정밀검사일자',
       '정밀검사판정', '정밀검사측정방법', '정밀검사소명', '정밀검사접수번호', '정밀검사종류', '정밀검사시각정보',
       '무부하매연판정1', '무부하매연판정2', '무부하매연판정3', '무부하매연판정4', '무부하매연판정5', '무부하매연판정6',
       '무부하매연허용치1', '무부하매연허용치2', '무부하매연허용치3', '무부하매연허용치4', '무부하매연허용치5',
       '무부하매연허용치6', '무부하매연측정치1', '무부하매연측정치2', '무부하매연측정치3', '무부하매연측정치4',
       '무부하매연측정치5', '무부하매연측정치6', '차량용도', '정밀검사유효기간'],
      dtype='object')

In [39]:
dins4 = dins4[['차대번호', '사용연료', '주행거리', '차명', '차량번호', '차종', '차량연식', '정밀검사측정방법', '이산화탄소값',
       '최대출력허용치', '최대출력측정값', '엔진형식', '정밀검사접수번호', '정밀검사일자', '정밀검사종류', '정밀검사소명', '정밀검사시각정보', '정밀검사판정', 
       '산소값', '재검사기간',  '무부하매연판정1', '무부하매연판정2', '무부하매연판정3', '무부하매연판정4', '무부하매연판정5', '무부하매연판정6', '무부하매연허용치1',
       '무부하매연허용치2', '무부하매연허용치3', '무부하매연허용치4', '무부하매연허용치5', '무부하매연허용치6',
       '무부하매연측정치1', '무부하매연측정치2', '무부하매연측정치3', '무부하매연측정치4', '무부하매연측정치5',
       '무부하매연측정치6', '차량용도']]

In [40]:
len(dins4.columns)

39

In [41]:
dins4.columns = ['차대번호', '사용연료', '주행거리', '차명', '차량번호', '차종', '차량연식', '검사방법', '이산화탄소값', '최대출력허용치',
       '최대출력측정값', '엔진형식', '검사접수번호', '검사일자', '검사종류', '검사소명', '검사판정시각',
       '검사판정', '산소값', '재검사기간', '무부하매연판정1', '무부하매연판정2', '무부하매연판정3',
       '무부하매연판정4', '무부하매연판정5', '무부하매연판정6', '무부하매연허용치1', '무부하매연허용치2',
       '무부하매연허용치3', '무부하매연허용치4', '무부하매연허용치5', '무부하매연허용치6', '무부하매연측정치1',
       '무부하매연측정치2', '무부하매연측정치3', '무부하매연측정치4', '무부하매연측정치5', '무부하매연측정치6',
       '차량용도']

In [42]:
dins4['정기정밀'] = '정밀'

In [43]:
len(ins4.columns), len(dins4.columns)

(40, 40)

In [44]:
tins4 = pd.concat([ins4, dins4], ignore_index=True)
tins4.shape

(5994984, 40)

In [45]:
tins4.sort_values('검사일자', ascending=False)['검사일자'].head()

3178081    20230107.0
3892803    20230107.0
2620998    20230107.0
2620997    20230107.0
2890488    20230107.0
Name: 검사일자, dtype: float64

In [46]:
tins4_m = tins4.sort_values('검사일자', ascending=False).drop_duplicates(subset=['차대번호']).reset_index(drop=True)
tins4_m.shape

(1511139, 40)

In [47]:
tins4_m['검사방법'].unique()

array(['부하검사(KD-147)', '무부하검사(급가속)', '부하검사(LUG DOWN)', '부하검사(ASM-Idling)',
       '무부하검사(TSI)', '무부하검사(정지가동)', nan], dtype=object)

In [48]:
tins4_m['검사종류'].unique()

array(['종합검사', '종합검사(경과)', '2부재검사(종합)', '1부재검사(종합)', '정기검사', '재검사(2부재검사)',
       '정기(경과)검사', '재검사(1부재검사)', nan], dtype=object)

In [49]:
tins4_m = tins4_m[['차대번호', '검사방법', '검사종류', '검사판정', '무부하매연판정1', '무부하매연판정2', '무부하매연판정3',
       '무부하매연판정4', '무부하매연판정5', '무부하매연판정6', '무부하매연허용치1', '무부하매연허용치2',
       '무부하매연허용치3', '무부하매연허용치4', '무부하매연허용치5', '무부하매연허용치6', '무부하매연측정치1',
       '무부하매연측정치2', '무부하매연측정치3', '무부하매연측정치4', '무부하매연측정치5', '무부하매연측정치6', '정기정밀'
       ]]

In [55]:
tcond1 = cond1.merge(tins4_m, on='차대번호', how='left')
tcond2 = cond2.merge(tins4_m, on='차대번호', how='left')

In [90]:
len(set(cond2['차대번호']) & set(tins4_m['차대번호']))

0

In [56]:
tcond1.shape, tcond2.shape

((92265, 71), (4790, 71))

In [78]:
tins4_m.shape

(1511139, 23)

In [77]:
tins4_m.isnull().sum()

차대번호               0
검사방법          319472
검사종류          319472
검사판정          319472
무부하매연판정1      329827
무부하매연판정2     1404876
무부하매연판정3     1405799
무부하매연판정4     1406487
무부하매연판정5     1406487
무부하매연판정6     1450407
무부하매연허용치1     329827
무부하매연허용치2    1120100
무부하매연허용치3    1120101
무부하매연허용치4    1120787
무부하매연허용치5    1120787
무부하매연허용치6    1152988
무부하매연측정치1     329825
무부하매연측정치2    1085268
무부하매연측정치3    1120100
무부하매연측정치4    1120786
무부하매연측정치5    1120786
무부하매연측정치6    1152988
정기정밀               0
dtype: int64

In [81]:
tcond1.isnull().sum()

차량관리번호           0
차량등록번호           0
본거지법정동코드         0
소유자구분            0
차종_등록정보          0
             ...
무부하매연측정치3    76402
무부하매연측정치4    76402
무부하매연측정치5    76402
무부하매연측정치6    76436
정기정밀             0
Length: 71, dtype: int64

In [82]:
tcond2.isnull().sum()

차량관리번호          0
차량등록번호          0
본거지법정동코드        0
소유자구분           0
차종_등록정보         0
             ...
무부하매연측정치3    4790
무부하매연측정치4    4790
무부하매연측정치5    4790
무부하매연측정치6    4790
정기정밀         4790
Length: 71, dtype: int64

### 통계

In [82]:
tcond1.groupby(['제원관리번호'])['무부하매연측정치1'].agg(['mean', 'min', 'max'])

                   mean   min   max
제원관리번호
00034101000013116 11.00 11.00 11.00
00034101000023116  0.00  0.00  0.00
00034427000113118  0.00  0.00  0.00
2P810000500003108 17.00 17.00 17.00
9993411b031771319   NaN   NaN   NaN
...                 ...   ...   ...
B7M10000700004108  6.00  6.00  6.00
B7Y10000700004108  8.50  2.00 15.00
B9P10000900004108 13.69  0.00 89.00
B9P10001100004108  9.50  5.00 14.00
BAE10000400004108 12.64  2.00 26.00

[506 rows x 3 columns]

In [83]:
tcond1[tcond1['제원관리번호'] == '9993411b031771319']['무부하매연측정치1'].describe()

count   0.00
mean     NaN
std      NaN
min      NaN
25%      NaN
50%      NaN
75%      NaN
max      NaN
Name: 무부하매연측정치1, dtype: float64

In [84]:
tcond2.groupby(['제원관리번호'])['무부하매연측정치1'].agg(['mean', 'min', 'max'])

                   mean   min   max
제원관리번호
A0110003116493108 12.22  0.00 94.00
A0110003117113109  9.13  0.00 97.00
A0110003117193109  8.05  0.00 73.00
A0110003117863109  9.18  0.00 71.00
A0110003118303110 12.50 11.00 14.00
A0110003119653111  7.71  0.00 23.00

# 2\. 오류부적합 차량 확인
- 18대 차량의 전체 정기, 정밀 검사 데이터
- "자동차 등록정보"의 '구조변경여부'

In [5]:
# about 53s
sort_car4 = car4[(car4['차대번호'] == 'KNADA2322JS052345') | (car4['차대번호'] == 'KL90E3ADDPKZ00001') | (car4['차대번호'] == '119213302764다') | (car4['차대번호'] == '2J4FY29P6NJ557922') |
               (car4['차대번호'] == '1J4FY19P2VP499580') | (car4['차대번호'] == '119111200133') | (car4['차대번호'] == '1J4FY29P0SP273538') | (car4['차대번호'] == '1J4FY19P8VP531416') |
               (car4['차대번호'] == '4TAVN13D6RZ211218') | (car4['차대번호'] == 'KN3SAP2T2JK000655') | (car4['차대번호'] == '1J4FY19PXVP480887') | (car4['차대번호'] == 'WDB2010241F648322') |
               (car4['차대번호'] == '1J4FY19P8VP480886') | (car4['차대번호'] == '1J4FY19P6VP499582') | (car4['차대번호'] == 'SALLPAMM4XA423884') | (car4['차대번호'] == '1J4FY19P4VP531431') |
               (car4['차대번호'] == 'KLAPM69P1LB214595') | (car4['차대번호'] == 'KL3K8CGFA5K000018')
              ].sort_values('차대번호').reset_index(drop=True)
sort_car4.shape

(18, 49)

## [출력] 18대 등록&제원 정보

In [7]:
sort_car4.to_excel('analysis2/[BD1]18대_등록&제원정보.xlsx', index=False)

In [120]:
# about 53s
sort_ins = ins[(ins['차대번호'] == 'KNADA2322JS052345') | (ins['차대번호'] == 'KL90E3ADDPKZ00001') | (ins['차대번호'] == '119213302764다') | (ins['차대번호'] == '2J4FY29P6NJ557922') |
               (ins['차대번호'] == '1J4FY19P2VP499580') | (ins['차대번호'] == '119111200133') | (ins['차대번호'] == '1J4FY29P0SP273538') | (ins['차대번호'] == '1J4FY19P8VP531416') |
               (ins['차대번호'] == '4TAVN13D6RZ211218') | (ins['차대번호'] == 'KN3SAP2T2JK000655') | (ins['차대번호'] == '1J4FY19PXVP480887') | (ins['차대번호'] == 'WDB2010241F648322') |
               (ins['차대번호'] == '1J4FY19P8VP480886') | (ins['차대번호'] == '1J4FY19P6VP499582') | (ins['차대번호'] == 'SALLPAMM4XA423884') | (ins['차대번호'] == '1J4FY19P4VP531431') |
               (ins['차대번호'] == 'KLAPM69P1LB214595') | (ins['차대번호'] == 'KL3K8CGFA5K000018')
              ].sort_values('차대번호').reset_index(drop=True)
sort_ins.shape

(9, 40)

In [121]:
# about 1m 14s
sort_dins = dins[(dins['차대번호'] == 'KNADA2322JS052345') | (dins['차대번호'] == 'KL90E3ADDPKZ00001') | (dins['차대번호'] == '119213302764다') | (dins['차대번호'] == '2J4FY29P6NJ557922') |
               (dins['차대번호'] == '1J4FY19P2VP499580') | (dins['차대번호'] == '119111200133') | (dins['차대번호'] == '1J4FY29P0SP273538') | (dins['차대번호'] == '1J4FY19P8VP531416') |
               (dins['차대번호'] == '4TAVN13D6RZ211218') | (dins['차대번호'] == 'KN3SAP2T2JK000655') | (dins['차대번호'] == '1J4FY19PXVP480887') | (dins['차대번호'] == 'WDB2010241F648322') |
               (dins['차대번호'] == '1J4FY19P8VP480886') | (dins['차대번호'] == '1J4FY19P6VP499582') | (dins['차대번호'] == 'SALLPAMM4XA423884') | (dins['차대번호'] == '1J4FY19P4VP531431') |
               (dins['차대번호'] == 'KLAPM69P1LB214595') | (dins['차대번호'] == 'KL3K8CGFA5K000018')
              ].sort_values('차대번호').reset_index(drop=True)
sort_dins.shape

(17, 40)

In [122]:
# about 3m 
total_sort = tins[(tins['차대번호'] == 'KNADA2322JS052345') | (tins['차대번호'] == 'KL90E3ADDPKZ00001') | (tins['차대번호'] == '119213302764다') | (tins['차대번호'] == '2J4FY29P6NJ557922') |
               (tins['차대번호'] == '1J4FY19P2VP499580') | (tins['차대번호'] == '119111200133') | (tins['차대번호'] == '1J4FY29P0SP273538') | (tins['차대번호'] == '1J4FY19P8VP531416') |
               (tins['차대번호'] == '4TAVN13D6RZ211218') | (tins['차대번호'] == 'KN3SAP2T2JK000655') | (tins['차대번호'] == '1J4FY19PXVP480887') | (tins['차대번호'] == 'WDB2010241F648322') |
               (tins['차대번호'] == '1J4FY19P8VP480886') | (tins['차대번호'] == '1J4FY19P6VP499582') | (tins['차대번호'] == 'SALLPAMM4XA423884') | (tins['차대번호'] == '1J4FY19P4VP531431') |
               (tins['차대번호'] == 'KLAPM69P1LB214595') | (tins['차대번호'] == 'KL3K8CGFA5K000018')
              ].sort_values('차대번호').reset_index(drop=True)
total_sort.shape

NameError: name 'tins' is not defined

In [83]:
sort_ins.columns

Index(['차대번호', '사용연료', '주행거리', '차명', '차량번호', '차종', '차량연식', '검사방법', '이산화탄소값',
       '최대출력허용치', '최대출력측정값', '엔진형식', '검사접수번호', '검사일자', '검사종류', '검사소명',
       '검사판정시각', '검사판정', '산소값', '재검사기간', '무부하매연판정1', '무부하매연판정2', '무부하매연판정3',
       '무부하매연판정4', '무부하매연판정5', '무부하매연판정6', '무부하매연허용치1', '무부하매연허용치2',
       '무부하매연허용치3', '무부하매연허용치4', '무부하매연허용치5', '무부하매연허용치6', '무부하매연측정치1',
       '무부하매연측정치2', '무부하매연측정치3', '무부하매연측정치4', '무부하매연측정치5', '무부하매연측정치6', '차량용도',
       '정기정밀'],
      dtype='object')

In [76]:
total_sort.columns

Index(['사용연료', '주행거리', '차명', '차량번호', '차대번호', '차종', '차량연식', '검사방법', '이산화탄소값',
       '최대출력허용치', '최대출력측정값', '엔진형식', '검사접수번호', '검사일자', '검사종류', '검사소명',
       '검사판정시각', '검사판정', '산소값', '재검사기간', '무부하매연판정1', '무부하매연판정2', '무부하매연판정3',
       '무부하매연판정4', '무부하매연판정5', '무부하매연판정6', '무부하매연허용치1', '무부하매연허용치2',
       '무부하매연허용치3', '무부하매연허용치4', '무부하매연허용치5', '무부하매연허용치6', '무부하매연측정치1',
       '무부하매연측정치2', '무부하매연측정치3', '무부하매연측정치4', '무부하매연측정치5', '무부하매연측정치6', '차량용도',
       '정기정밀'],
      dtype='object')

In [77]:
temp = car4[['차대번호', '저공해조치구조변경YN']]

In [78]:
total_sort = total_sort.merge(temp, on='차대번호', how='left')
total_sort.shape

(26, 41)

In [84]:
ins4[ins4['차대번호'] == 'KNADA2322JS052345'].shape

(1, 40)

In [85]:
ins4[ins4['차대번호'] == 'KL90E3ADDPKZ00001'].shape

(1, 40)

In [86]:
total_sort = pd.concat([sort_ins, sort_dins], ignore_index=True)
total_sort.shape

(49, 40)

# 3\. 33,573대 검증

In [9]:
df.columns

Index(['차대번호', '차량번호', '제원관리번호', '차종', '용도', '최초등록일', '연식', '제작일자', '검사유효일',
       '인증번호', '등급', '차명', '차종분류', '차종유형', '자동차형식', '제작사명', '연료', '엔진형식',
       '총중량', '적재중량', '엔진출력', '배기량', '법정동코드', '시도명', '시군구명', '소유자구분', '말소여부',
       '일치유무'],
      dtype='object')

In [18]:
tlist.columns

Index(['차대번호', '차량번호', '제원관리번호', '차종', '용도', '최초등록일', '연식', '제작일자', '검사유효일',
       '인증번호', '등급', '차명', '차종분류', '차종유형', '자동차형식', '제작사명', '연료', '엔진형식',
       '총중량', '적재중량', '엔진출력', '배기량', '법정동코드', '시도명', '시군구명', '소유자구분', '말소여부',
       '일치유무'],
      dtype='object')

In [11]:
df.shape, len(df['제원관리번호'].unique())

((33573, 28), 2213)

In [19]:
tlist.shape, len(tlist['제원관리번호'].unique())

((1077937, 28), 5481)

In [20]:
len(set(df['제원관리번호']) & set(tlist['제원관리번호']))

1649

In [22]:
del list

In [64]:
temp = list(set(df['제원관리번호']) & set(tlist['제원관리번호']))
len(temp)

1649

In [65]:
match_idx1 = []
for i, one in enumerate(df['제원관리번호'].to_list()):
    if one in temp:
        match_idx1.append(i)
len(match_idx1)

29138

In [66]:
# about 
temp1 = df.loc[match_idx1]
temp1.shape

(29138, 28)

In [67]:
df.shape

(33573, 28)

In [68]:
not_match_idx1 = []
for i in range(33573):
    if i not in match_idx1:
        not_match_idx1.append(i)
len(not_match_idx1)

4435

In [69]:
temp2 = df.loc[not_match_idx1]
temp2.shape

(4435, 28)

In [70]:
df.shape, len(df['자동차형식'].unique())

((33573, 28), 1894)

In [71]:
tlist.shape, len(tlist['자동차형식'].unique())

((1077937, 28), 4952)

In [72]:
len(set(df['자동차형식']) & set(tlist['자동차형식']))

1563

In [73]:
temp = list(set(df['자동차형식']) & set(tlist['자동차형식']))
len(temp)

1563

In [74]:
match_idx2 = []
for i, one in enumerate(df['자동차형식'].to_list()):
    if one in temp:
        match_idx2.append(i)
len(match_idx2)

30579

In [75]:
temp3 = df.loc[match_idx2]
temp3.shape

(30579, 28)

In [76]:
df.shape

(33573, 28)

In [77]:
not_match_idx2 = []
for i in range(33573):
    if i not in match_idx2:
        not_match_idx2.append(i)
len(not_match_idx2)

2994

In [78]:
temp4 = df.loc[not_match_idx2]
temp4.shape

(2994, 28)

In [79]:
set(temp1['제원관리번호']) & set(temp2['제원관리번호'])

set()

In [80]:
set(temp3['자동차형식']) & set(temp4['자동차형식'])

set()

In [85]:
idx1_3 = list(set(match_idx1) & set(match_idx2))
len(idx1_3)

29138

In [86]:
idx2_4 = list(set(not_match_idx1) & set(not_match_idx2))
len(idx2_4)

2994

In [87]:
temp1_3 = df.loc[idx1_3]
temp2_4 = df.loc[idx2_4]
temp1_3.shape, temp2_4.shape

((29138, 28), (2994, 28))

### [출력]

In [ ]:
# about 2m
g4dc_fold = 'C:/Users/kbjung/Documents/GitHub/wabotech/car_big_data_2/analysis2/4등급_데이터_점검'
file_name = '[BD1]4등급_데이터_점검(8MY-KM-13-19).xlsx'
g4dc_path = os.path.join(g4dc_fold, file_name)
with pd.ExcelWriter(g4dc_path) as writer:
    emis[emis['배출가스 인증번호'] == '8MY-KM-13-19'].to_excel(writer, sheet_name='배출가스인증 자동차정보', index=False)
    tcond1.to_excel(writer, sheet_name='4등급', index=False)
    tcond2.to_excel(writer, sheet_name='3등급', index=False)

In [165]:
g4dc_fold = 'C:/Users/kbjung/Documents/GitHub/wabotech/car_big_data_2/analysis2/4등급_데이터_점검'
file_name = '[BD1]4등급_데이터_점검(8MY-KM-13-19)2.xlsx'
g4dc_path = os.path.join(g4dc_fold, file_name)
with pd.ExcelWriter(g4dc_path) as writer:
    icond1Y.groupby(['제원관리번호', '자동차형식'])['차대번호'].count().to_excel(writer, sheet_name='4등급_정기_대수')
    icond1Y.groupby(['제원관리번호', '자동차형식'])['무부하매연측정치1'].agg(['mean', 'min', 'max']).to_excel(writer, sheet_name='4등급_정기_합격')

    icond1Y.groupby(['제원관리번호', '자동차형식', '검사방법'])['차대번호'].count().unstack().to_excel(writer, sheet_name='4등급_정기_합격_검사방법_대수')
    icond1Y.groupby(['제원관리번호', '자동차형식', '검사방법'])['무부하매연측정치1'].agg(['mean', 'min', 'max']).unstack().to_excel(writer, sheet_name='4등급_정기_합격_검사방법')

    icond1N.groupby(['제원관리번호', '자동차형식'])['차대번호'].count().to_excel(writer, sheet_name='4등급_정기_불합격_대수')
    icond1N.groupby(['제원관리번호', '자동차형식'])['무부하매연측정치1'].agg(['mean', 'min', 'max']).to_excel(writer, sheet_name='4등급_정기_불합격')

    icond1N.groupby(['제원관리번호', '자동차형식', '검사방법'])['차대번호'].count().unstack().to_excel(writer, sheet_name='4등급_정기_불합격_검사방법_대수')
    icond1N.groupby(['제원관리번호', '자동차형식', '검사방법'])['무부하매연측정치1'].agg(['mean', 'min', 'max']).unstack().to_excel(writer, sheet_name='4등급_정기_불합격_검사방법')

    dcond1Y.groupby(['제원관리번호', '자동차형식'])['차대번호'].count().to_excel(writer, sheet_name='4등급_정밀_합격_대수')
    dcond1Y.groupby(['제원관리번호', '자동차형식'])['무부하매연측정치1'].agg(['mean', 'min', 'max']).to_excel(writer, sheet_name='4등급_정밀_합격')

    dcond1Y.groupby(['제원관리번호', '자동차형식', '검사방법'])['차대번호'].count().unstack().to_excel(writer, sheet_name='4등급_정밀_합격_검사방법_대수')
    dcond1Y.groupby(['제원관리번호', '자동차형식', '검사방법'])['무부하매연측정치1'].agg(['mean', 'min', 'max']).unstack().to_excel(writer, sheet_name='4등급_정밀_합격_검사방법')

    dcond1N.groupby(['제원관리번호', '자동차형식'])['차대번호'].count().to_excel(writer, sheet_name='4등급_정밀_불합격_대수')
    dcond1N.groupby(['제원관리번호', '자동차형식'])['무부하매연측정치1'].agg(['mean', 'min', 'max']).to_excel(writer, sheet_name='4등급_정밀_불합격')

    dcond1N.groupby(['제원관리번호', '자동차형식', '검사방법'])['차대번호'].count().unstack().to_excel(writer, sheet_name='4등급_정밀_불합격_검사방법_대수')
    dcond1N.groupby(['제원관리번호', '자동차형식', '검사방법'])['무부하매연측정치1'].agg(['mean', 'min', 'max']).unstack().to_excel(writer, sheet_name='4등급_정밀_불합격_검사방법')

In [164]:
g4dc_fold = 'C:/Users/kbjung/Documents/GitHub/wabotech/car_big_data_2/analysis2/4등급_데이터_점검'
file_name = '[BD1]3등급_데이터_점검(8MY-KM-13-19).xlsx'
g4dc_path = os.path.join(g4dc_fold, file_name)
with pd.ExcelWriter(g4dc_path) as writer:
    icond2Y.groupby(['제원관리번호', '자동차형식'])['차대번호'].count().to_excel(writer, sheet_name='3등급_정기_대수')
    icond2Y.groupby(['제원관리번호', '자동차형식'])['무부하매연측정치1'].agg(['mean', 'min', 'max']).to_excel(writer, sheet_name='3등급_정기_합격')

    icond2Y.groupby(['제원관리번호', '자동차형식', '검사방법'])['차대번호'].count().unstack().to_excel(writer, sheet_name='3등급_정기_합격_검사방법_대수')
    icond2Y.groupby(['제원관리번호', '자동차형식', '검사방법'])['무부하매연측정치1'].agg(['mean', 'min', 'max']).unstack().to_excel(writer, sheet_name='3등급_정기_합격_검사방법')

    icond2N.groupby(['제원관리번호', '자동차형식'])['차대번호'].count().to_excel(writer, sheet_name='3등급_정기_불합격_대수')
    icond2N.groupby(['제원관리번호', '자동차형식'])['무부하매연측정치1'].agg(['mean', 'min', 'max']).to_excel(writer, sheet_name='3등급_정기_불합격')

    icond2N.groupby(['제원관리번호', '자동차형식', '검사방법'])['차대번호'].count().unstack().to_excel(writer, sheet_name='3등급_정기_불합격_검사방법_대수')
    icond2N.groupby(['제원관리번호', '자동차형식', '검사방법'])['무부하매연측정치1'].agg(['mean', 'min', 'max']).unstack().to_excel(writer, sheet_name='3등급_정기_불합격_검사방법')

    dcond2Y.groupby(['제원관리번호', '자동차형식'])['차대번호'].count().to_excel(writer, sheet_name='3등급_정밀_합격_대수')
    dcond2Y.groupby(['제원관리번호', '자동차형식'])['무부하매연측정치1'].agg(['mean', 'min', 'max']).to_excel(writer, sheet_name='3등급_정밀_합격')

    dcond2Y.groupby(['제원관리번호', '자동차형식', '검사방법'])['차대번호'].count().unstack().to_excel(writer, sheet_name='3등급_정밀_합격_검사방법_대수')
    dcond2Y.groupby(['제원관리번호', '자동차형식', '검사방법'])['무부하매연측정치1'].agg(['mean', 'min', 'max']).unstack().to_excel(writer, sheet_name='3등급_정밀_합격_검사방법')

    dcond2N.groupby(['제원관리번호', '자동차형식'])['차대번호'].count().to_excel(writer, sheet_name='3등급_정밀_불합격_대수')
    dcond2N.groupby(['제원관리번호', '자동차형식'])['무부하매연측정치1'].agg(['mean', 'min', 'max']).to_excel(writer, sheet_name='3등급_정밀_불합격')

    dcond2N.groupby(['제원관리번호', '자동차형식', '검사방법'])['차대번호'].count().unstack().to_excel(writer, sheet_name='3등급_정밀_불합격_검사방법_대수')
    dcond2N.groupby(['제원관리번호', '자동차형식', '검사방법'])['무부하매연측정치1'].agg(['mean', 'min', 'max']).unstack().to_excel(writer, sheet_name='3등급_정밀_불합격_검사방법')

In [80]:
# about 1m 43s
g4dc_fold = 'C:/Users/kbjung/Documents/GitHub/wabotech/car_big_data_2/analysis2/4등급_데이터_점검'
file_name = '[BD1]오류부적합.xlsx'
g4dc_path = os.path.join(g4dc_fold, file_name)
with pd.ExcelWriter(g4dc_path) as writer2:
    total_sort.to_excel(writer2, sheet_name='오류부적합', index=False)

In [88]:
# about 46s
g4dc_fold = 'C:/Users/kbjung/Documents/GitHub/wabotech/car_big_data_2/analysis2/4등급_데이터_점검'
file_name = '[BD1]4등급_33573대_검증.xlsx'
g4dc_path = os.path.join(g4dc_fold, file_name)
with pd.ExcelWriter(g4dc_path) as writer3:
    temp1.to_excel(writer3, sheet_name='제원관리번호_매칭', index=False)
    temp2.to_excel(writer3, sheet_name='제원관리번호_미매칭', index=False)
    temp3.to_excel(writer3, sheet_name='자동차형식_매칭', index=False)
    temp4.to_excel(writer3, sheet_name='자동차형식_미매칭', index=False)
    temp1_3.to_excel(writer3, sheet_name='매칭교집합', index=False)
    temp2_4.to_excel(writer3, sheet_name='미매칭교집합', index=False)

# 코드 마지막