# Library

In [1]:
import pandas as pd
import numpy as np
import os
from tqdm import tqdm

# [로드] 등록&제원 정보(말소제거)
- 등록정보&제원정보(말소제거)

In [ ]:
ods_folder = 'D:/data/big2/ODS'

In [2]:
# about 30s
file_name = '[ODS][G4]등록정보&제원정보(말소제거)(2022.12.29).csv'
ods_path = os.path.join(ods_folder, file_name)
df = pd.read_csv(ods_path, encoding='cp949', low_memory=False)

# [로드] 정기, 정밀 검사

In [ ]:
# about
file_name = '[ODS]정기검사(2022.12.29).csv'
ins = pd.read_csv(os.path.join(ods_folder, file_name), encoding='cp949', low_memory=False)
file_name = '[ODS]정밀검사(2022.12.29).csv'
dins = pd.read_csv(os.path.join(ods_folder, file_name), encoding='cp949', low_memory=False)
ins.shape, dins.shape

# 전처리

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1511139 entries, 0 to 1511138
Data columns (total 59 columns):
 #   Column        Non-Null Count    Dtype
---  ------        --------------    -----
 0   차량관리번호        1511139 non-null  object
 1   차량등록번호        1511139 non-null  object
 2   본거지법정동코드      1511139 non-null  int64
 3   소유자구분         1511139 non-null  object
 4   차종_등록정보       1511137 non-null  object
 5   용도            1511139 non-null  object
 6   미정1_x         1511139 non-null  object
 7   현재회원번호        1510300 non-null  object
 8   미정2_x         1511139 non-null  object
 9   미정3_x         1511139 non-null  object
 10  차대번호          1511139 non-null  object
 11  최초등록일자        1511139 non-null  int64
 12  차량연식          1511139 non-null  int64
 13  차량제작일자        1342367 non-null  float64
 14  배출가스검사유효일자    1511127 non-null  float64
 15  제원관리번호        1511139 non-null  object
 16  배출가스인증번호      1387441 non-null  object
 17  배출가스등급        1511139 non-null  object
 18  저공해조치YN(미사용)  1510984 non-null  object
 19  저공해조치종류       189 non-null      float64
 20  저공해조치구조변경YN   1511139 non-null  object
 21  미정4           0 non-null        float64
 22  차량등록번호숫자정보    1511139 non-null  int64
 23  차량말소YN        1511139 non-null  object
 24  미정5           1511118 non-null  object
 25  최초회원번호        1506484 non-null  object
 26  취득일자          1417927 non-null  object
 27  취득금액          1436738 non-null  float64
 28  미정6           403044 non-null   object
 29  생성일시_등록정보     1511139 non-null  object
 30  수정일시_등록정보     914957 non-null   object
 31  미정7           1511139 non-null  object
 32  차명            1511139 non-null  object
 33  차종_제원정보       1511139 non-null  object
 34  차종분류          1511139 non-null  object
 35  차종유형(소분류)     1511139 non-null  object
 36  자동차형식         1510611 non-null  object
 37  제작사명          1501112 non-null  object
 38  연료            1511068 non-null  object
 39  엔진형식          1509138 non-null  object
 40  공차중량          0 non-null        float64
 41  총중량           1511114 non-null  float64
 42  적재중량          1510602 non-null  float64
 43  엔진출력          1510511 non-null  float64
 44  배기량           1511128 non-null  float64
 45  승차인원          1511139 non-null  float64
 46  차량길이          1511064 non-null  float64
 47  차량너비          1511064 non-null  float64
 48  차량높이          1511062 non-null  float64
 49  원산지명          1492014 non-null  object
 50  미정1_y         0 non-null        float64
 51  삭제YN          1511139 non-null  object
 52  승인일자          1510592 non-null  object
 53  구동형식          47 non-null       float64
 54  변속기종류         1510979 non-null  object
 55  미정2_y         0 non-null        float64
 56  생성일시_제원정보     1511139 non-null  object
 57  수정일시_제원정보     497 non-null      object
 58  미정3_y         1511139 non-null  object
dtypes: float64(17), int64(4), object(38)
memory usage: 680.2+ MB

In [4]:
df.shape

(1511139, 59)

## 빈칸 처리

In [7]:
df['배출가스인증번호'].isnull().sum()

123698

In [8]:
# 빈칸이 포함된 샘플
count = 0
for i, one in enumerate(df['배출가스인증번호']):
    if ' ' in str(one):
        print(i)
        count += 1
count

0

In [9]:
df.loc[706692, '배출가스인증번호']

'6MY-HD-14-63'

In [11]:
# # 빈칸만 있는 샘플
# count = 0
# for i, one in enumerate(df['배출가스인증번호']):
#     if ' ' == str(one):
#         print(i)
#         count += 1
# count

In [10]:
df.loc[2453, '배출가스인증번호']

nan

In [13]:
# df['배출가스인증번호'] = df['배출가스인증번호'].replace(' ', np.nan)

In [14]:
# df.loc[2453, '배출가스인증번호']

nan

In [12]:
# # 빈칸이 포함된 샘플
# count = 0
# for i, one in enumerate(df['배출가스인증번호']):
#     if ' ' in str(one):
#         print(i)
#         count += 1
# count

In [13]:
# df.loc[521777, '배출가스인증번호']

In [14]:
# df['배출가스인증번호'] = df['배출가스인증번호'].str.strip()

In [15]:
# # 빈칸이 포함된 샘플
# count = 0
# for i, one in enumerate(df['배출가스인증번호']):
#     if ' ' in str(one):
#         print(i)
#         count += 1
# count

In [16]:
# df.loc[521777, '배출가스인증번호']

In [17]:
# df['배출가스인증번호'].isnull().sum()

In [18]:
# df['배출가스인증번호'].unique()

## 중복 차대번호 제거
- '최초등록일자', '배출가스검사유효일자' 최신 사용

In [ ]:
df.shape, len(df['차대번호'].unique())

In [ ]:
df = df.sort_values(['최초등록일자', '배출가스검사유효일자'], ascending=[False, False]).drop_duplicates('차대번호').reset_index(drop=True)
df.shape

# 분석

In [19]:
df[['배출가스인증번호', '제원관리번호', '자동차형식', '연료', '차종_등록정보', '차종유형(소분류)']].isnull().sum()

배출가스인증번호     123698
제원관리번호            0
자동차형식           528
연료               71
차종_등록정보           2
차종유형(소분류)         0
dtype: int64

In [20]:
len(df['배출가스인증번호'].unique())

303

In [21]:
len(df['제원관리번호'].unique())

17387

## 통계(nan 값 제외)

In [22]:
df.columns

Index(['차량관리번호', '차량등록번호', '본거지법정동코드', '소유자구분', '차종_등록정보', '용도', '미정1_x',
       '현재회원번호', '미정2_x', '미정3_x', '차대번호', '최초등록일자', '차량연식', '차량제작일자',
       '배출가스검사유효일자', '제원관리번호', '배출가스인증번호', '배출가스등급', '저공해조치YN(미사용)', '저공해조치종류',
       '저공해조치구조변경YN', '미정4', '차량등록번호숫자정보', '차량말소YN', '미정5', '최초회원번호', '취득일자',
       '취득금액', '미정6', '생성일시_등록정보', '수정일시_등록정보', '미정7', '차명', '차종_제원정보', '차종분류',
       '차종유형(소분류)', '자동차형식', '제작사명', '연료', '엔진형식', '공차중량', '총중량', '적재중량',
       '엔진출력', '배기량', '승차인원', '차량길이', '차량너비', '차량높이', '원산지명', '미정1_y', '삭제YN',
       '승인일자', '구동형식', '변속기종류', '미정2_y', '생성일시_제원정보', '수정일시_제원정보', '미정3_y'],
      dtype='object')

In [23]:
df.shape

(1511139, 59)

In [24]:
s1 = df.groupby(['배출가스인증번호', '제원관리번호', '자동차형식', '연료', '차종_등록정보', '차종유형(소분류)'])['차대번호'].count()
s1

배출가스인증번호   제원관리번호             자동차형식             연료           차종_등록정보  차종유형(소분류)
3MY-FK-08  00031123015731309  MSV3-27C          휘발유          승용       대형             1
           20018700000001     JFM 3.0 V 5 FEGX  휘발유          승용       대형             5
           20029400000000     MSV3-27B          휘발유          승용       대형            12
           20042500000000     MSV3-27C          휘발유          승용       대형           231
           20042500000001     MSV3-27C          휘발유          승용       대형           202
                                                                                  ...
XMY-KM-47  10124800030001     FC723A            LGP(액화석유가스)  승합       중형           129
YKM-KM-12  10016400440000     AM251L-HL         LGP(액화석유가스)  화물       경형            54
           10016400450000     KM251L-HL         LGP(액화석유가스)  화물       경형             2
           10150600000000     SOK0090           LGP(액화석유가스)  화물       경형            13
           99934125020813405  AM240L-1          LGP(액화석유가스)  화물       경형             1
Name: 차대번호, Length: 8713, dtype: int64

### [출력] 통계(nan 값 제외)

In [25]:
s1.to_excel('analysis2/[G4][배인번호]통계.xlsx')

## 통계(nan 값 포함)

In [26]:
df2 = df.copy()

In [27]:
df2['배출가스인증번호'] = df2['배출가스인증번호'].astype('str')
df2['제원관리번호'] = df2['제원관리번호'].astype('str')
df2['자동차형식'] = df2['자동차형식'].astype('str')
df2['연료'] = df2['연료'].astype('str')
df2['차종_등록정보'] = df2['차종_등록정보'].astype('str')
df2['차종유형(소분류)'] = df2['차종유형(소분류)'].astype('str')
df2['차대번호'] = df2['차대번호'].astype('str')

In [28]:
df2['배출가스인증번호'].isnull().sum()

0

In [29]:
s1_1 = df2.groupby(['배출가스인증번호', '제원관리번호', '자동차형식', '연료', '차종_등록정보', '차종유형(소분류)'])['차대번호'].count()
s1_1

배출가스인증번호   제원관리번호             자동차형식             연료   차종_등록정보  차종유형(소분류)
3MY-FK-08  00031123015731309  MSV3-27C          휘발유  승용       대형             1
           20018700000001     JFM 3.0 V 5 FEGX  휘발유  승용       대형             5
           20029400000000     MSV3-27B          휘발유  승용       대형            12
           20042500000000     MSV3-27C          휘발유  승용       대형           231
           20042500000001     MSV3-27C          휘발유  승용       대형           202
                                                                          ...
nan        BD410001600003309  SSC 320.12.04/8   경유   화물       대형             1
           BD410001700003309  SSC 210.08.03/6   경유   화물       대형             1
           BDV10000100003308  MTS450            경유   화물       대형             1
           BEU10001700013310  KCT4.5PD-BC6CT1   경유   화물       대형             1
           BRX20004100023317  FH104FTR3HA       경유   화물       대형            12
Name: 차대번호, Length: 18019, dtype: int64

In [30]:
df2.groupby(['배출가스인증번호', '제원관리번호', '자동차형식', '연료', '차종_등록정보', '차종유형(소분류)'], as_index=False)['차대번호'].count()['차대번호'].sum()

1511139

### [출력] 통계(nan 값 제외)

In [31]:
s1_1.to_excel('analysis2/[G4][배인번호]통계(nan값_포함).xlsx')

## 통계(배인번호, 제번, 자동차형식)

In [32]:
s1_2 = df2.groupby(['배출가스인증번호', '제원관리번호', '자동차형식'])['차대번호'].count()
s1_2

배출가스인증번호   제원관리번호             자동차형식
3MY-FK-08  00031123015731309  MSV3-27C              1
           20018700000001     JFM 3.0 V 5 FEGX      5
           20029400000000     MSV3-27B             12
           20042500000000     MSV3-27C            231
           20042500000001     MSV3-27C            202
                                                 ...
nan        BD410001600003309  SSC 320.12.04/8       1
           BD410001700003309  SSC 210.08.03/6       1
           BDV10000100003308  MTS450                1
           BEU10001700013310  KCT4.5PD-BC6CT1       1
           BRX20004100023317  FH104FTR3HA          12
Name: 차대번호, Length: 17617, dtype: int64

In [33]:
s1_2_1 = df2.groupby(['배출가스인증번호', '제원관리번호', '자동차형식'], as_index=False)['차대번호'].count()
s1_2_1

        배출가스인증번호             제원관리번호             자동차형식  차대번호
0      3MY-FK-08  00031123015731309          MSV3-27C     1
1      3MY-FK-08     20018700000001  JFM 3.0 V 5 FEGX     5
2      3MY-FK-08     20029400000000          MSV3-27B    12
3      3MY-FK-08     20042500000000          MSV3-27C   231
4      3MY-FK-08     20042500000001          MSV3-27C   202
...          ...                ...               ...   ...
17612        nan  BD410001600003309   SSC 320.12.04/8     1
17613        nan  BD410001700003309   SSC 210.08.03/6     1
17614        nan  BDV10000100003308            MTS450     1
17615        nan  BEU10001700013310   KCT4.5PD-BC6CT1     1
17616        nan  BRX20004100023317       FH104FTR3HA    12

[17617 rows x 4 columns]

In [34]:
len(s1_2_1['제원관리번호'].unique()), len(s1_2_1['자동차형식'].unique())

(17387, 8179)

### [출력] 통계2(nan 값 제외)

In [35]:
s1_2.to_excel('analysis2/[G4][배인번호]통계2(nan값_포함).xlsx')

## 통계(제번, 자동차형식)

In [36]:
s1_3 = df2.groupby(['제원관리번호', '자동차형식'])['차대번호'].count()
s1_3

제원관리번호             자동차형식
00030110800000304  GF-MCU15W       1
00030112400001628  YS-25D-A1       1
00031105000011116  XNWAY           1
00031105000011203  202018          1
00031105000011314  MCL943F         1
                                  ..
BRX20004600013317  FM104FTR3HA    49
BRX20004700003317  FE64RB          1
BRX20004800003317  FE64RB          1
BZB20003100003318  FM104FTR3HA     1
CN210001000003218  PD2WB-HD2.5     1
Name: 차대번호, Length: 17387, dtype: int64

### [출력] 통계3(nan 값 제외)

In [37]:
s1_3.to_excel('analysis2/[G4][배인번호]통계3(nan값_포함).xlsx')

## 통계(자동차형식, 제번)

In [38]:
s1_4 = df2.groupby(['자동차형식', '제원관리번호'])['차대번호'].count()
s1_4

자동차형식   제원관리번호
0       99931107067061203    1
        99931107067111203    1
        99931107067161203    1
        99931107067351203    1
        99931107067451203    1
                            ..
소프린     20046200000003       1
아스트롤벤   30410500000066       1
엑스제이씩스  20046200000004       1
포드픽업    00034124000053103    1
？       30112400000670       1
Name: 차대번호, Length: 17387, dtype: int64

### [출력] 통계4(nan 값 제외)

In [39]:
s1_4.to_excel('analysis2/[G4][배인번호]통계4(nan값_포함).xlsx')

## 배인번호 없는 데이터

In [40]:
df3 = df1[df1['배출가스인증번호'].isnull() == True].reset_index(drop=True)
df3.shape

(123698, 59)

In [41]:
len(df3['제원관리번호'].unique())

9199

### 제번으로 매칭 가능한 샘플

In [42]:
s1_reset = df1.groupby(['배출가스인증번호', '제원관리번호', '자동차형식', '연료', '차종_등록정보', '차종유형(소분류)'], as_index=False)['차대번호'].count()
s1_reset

,배출가스인증번호,제원관리번호,자동차형식,연료,차종_등록정보,차종유형(소분류),차대번호
0,3MY-FK-08,00031123015731309,MSV3-27C,휘발유,승용,대형,1
1,3MY-FK-08,20018700000001,JFM 3.0 V 5 FEGX,휘발유,승용,대형,5
2,3MY-FK-08,20029400000000,MSV3-27B,휘발유,승용,대형,12
3,3MY-FK-08,20042500000000,MSV3-27C,휘발유,승용,대형,231
4,3MY-FK-08,20042500000001,MSV3-27C,휘발유,승용,대형,202
...,...,...,...,...,...,...,...
8708,XMY-KM-47,10124800030001,FC723A,LGP(액화석유가스),승합,중형,129
8709,YKM-KM-12,10016400440000,AM251L-HL,LGP(액화석유가스),화물,경형,54
8710,YKM-KM-12,10016400450000,KM251L-HL,LGP(액화석유가스),화물,경형,2
8711,YKM-KM-12,10150600000000,SOK0090,LGP(액화석유가스),화물,경형,13
8712,YKM-KM-12,99934125020813405,AM240L-1,LGP(액화석유가스),화물,경형,1

In [43]:
len(s1_reset['제원관리번호'].unique())

8184

In [44]:
inter = list(set(s1_reset['제원관리번호']) & set(df3['제원관리번호']))
inter

['A0810007000311307',
 'A0810005207533307',
 'A0410000500051207',
 'B3C10016600003307',
 'B1R10005100003308',
 'A0710001100361207']

In [45]:
inter_df = pd.DataFrame()
for one in inter:
    inter_df = pd.concat([ inter_df, df3[df3['제원관리번호'] == one] ], ignore_index=True)
inter_df.shape

(6, 59)

In [46]:
inter_df.groupby(['제원관리번호', '자동차형식', '연료', '차종_등록정보', '차종유형(소분류)'])['차대번호'].count()

제원관리번호             자동차형식              연료  차종_등록정보  차종유형(소분류)
A0410000500051207  H1D20-VC-0-22      경유  승용       중형           1
A0710001100361207  CA26R              경유  승용       중형           1
A0810005207533307  HD5CT-8SGd-Z1      경유  화물       대형           1
A0810007000311307  EN-7RS2DAF8-1      경유  승용       대형           1
B1R10005100003308  RS07GMS2           경유  화물       대형           1
B3C10016600003307  K4.5C2-7TD-H4.5EU  경유  화물       대형           1
Name: 차대번호, dtype: int64

#### [출력] 배인번호 없는 샘플 중 제번으로 매칭 가능한 샘플

In [47]:
inter_df.groupby(['제원관리번호', '자동차형식', '연료', '차종_등록정보', '차종유형(소분류)'])['차대번호'].count().to_excel('analysis2/[G4][배인번호]매칭가능_미부여_통계.xlsx')

### 제번으로 매칭 불가능 샘플

In [48]:
diff = list( set(df3['제원관리번호']) - set(s1_reset['제원관리번호']) )
len(diff)

9193

In [49]:
diff_df = pd.DataFrame()
for one in tqdm(diff):
    diff_df = pd.concat([ diff_df, df3[df3['제원관리번호'] == one] ], ignore_index=True)
diff_df.shape

100%|██████████| 9193/9193 [06:36<00:00, 23.18it/s]

(123692, 59)

In [50]:
diff_df.groupby(['제원관리번호', '자동차형식', '연료', '차종_등록정보', '차종유형(소분류)'])['차대번호'].count()

제원관리번호             자동차형식            연료   차종_등록정보  차종유형(소분류)
00030110800000304  GF-MCU15W        휘발유  승용       대형            1
00030112400001628  YS-25D-A1        휘발유  승용       대형            1
00031105000011116  XNWAY            휘발유  승용       소형            1
00031105000011203  202018           휘발유  승용       중형            1
00031105000011412  AK00F            경유   승용       경형            1
                                                               ..
BD410001600003309  SSC 320.12.04/8  경유   화물       대형            1
BD410001700003309  SSC 210.08.03/6  경유   화물       대형            1
BDV10000100003308  MTS450           경유   화물       대형            1
BEU10001700013310  KCT4.5PD-BC6CT1  경유   화물       대형            1
BRX20004100023317  FH104FTR3HA      경유   화물       대형           12
Name: 차대번호, Length: 8760, dtype: int64

#### [출력] 배인번호 없는 샘플 중 제번으로 매칭 불가능한 샘플

In [51]:
diff_df.groupby(['제원관리번호', '자동차형식', '연료', '차종_등록정보', '차종유형(소분류)'])['차대번호'].count().to_excel('analysis2/[G4][배인번호]매칭불가능_미부여_통계.xlsx')

## 통계(시험방법별, 엔진형식별, 합격/불합격별, 차량대수 및 검사건수)

In [ ]:
# 정기&정밀 병합
tin = pd.concat([ins, dins], ignore_index=True)
tin.shape

In [ ]:
tin.columns

In [ ]:
tin['']

In [ ]:
# 최근 3년 최신 검사만 사용
tin.sort_values

# 코드 마지막