# Library

In [1]:
import pandas as pd
import numpy as np
import os
from tqdm import tqdm

# 로드
- 등록정보&제원정보

## [로드] 등록정보&제원정보(말소제거, 중복차대제거)

In [3]:
# about 30s
ods_folder = 'D:/data/big2/ODS'
file_name = '[ODS][G4]등록정보&제원정보(말소제거)(중복차대제거)(2022.12.29).csv'
ods_path = os.path.join(ods_folder, file_name)
df = pd.read_csv(ods_path, encoding='cp949', low_memory=False)

## [로드] DPF

In [4]:
dpf1 = pd.read_excel('D:/과업/[한국환경공단]자동차_환경_빅데이터_구축_2차/data/TalkFile_유로4인증대장자료 검토_경유1.xlsx', 
                    sheet_name='인증대장기반 국내 차종 배출량 검토', usecols=['배출가스 인증번호', 'DPF 유무'])
dpf1.head()

       배출가스 인증번호 DPF 유무
0            NaN    NaN
1   5MY-HD-24-55      유
2   5MY-HD-24-59      유
3  6MY-HD-24-100      유
4   7MY-HD-24-57      무

In [5]:
dpf1 = dpf1.iloc[1:, :]
dpf1.head()

       배출가스 인증번호 DPF 유무
1   5MY-HD-24-55      유
2   5MY-HD-24-59      유
3  6MY-HD-24-100      유
4   7MY-HD-24-57      무
5   7MY-HD-13-58      유

In [6]:
dpf1.shape

(44, 2)

In [7]:
dpf2 = pd.read_excel('D:/과업/[한국환경공단]자동차_환경_빅데이터_구축_2차/data/TalkFile_유로4인증대장자료 검토_경유1.xlsx', 
                    sheet_name='인증대장기반 해외 차종 배출량 검토(EURO4)', usecols=['배출가스 인증번호', 'DPF 유무'])
dpf2.head()

      배출가스 인증번호 DPF 유무
0           NaN    NaN
1  5MY-BK-14-07      유
2  8MY-BK-14-02      유
3  8MY-BK-14-07      유
4  6MY-MK-14-13      유

In [8]:
dpf2 = dpf2.iloc[1:, :]
dpf2.head()

      배출가스 인증번호 DPF 유무
1  5MY-BK-14-07      유
2  8MY-BK-14-02      유
3  8MY-BK-14-07      유
4  6MY-MK-14-13      유
5   7MY-MK-14-4      유

In [9]:
dpf2.shape

(39, 2)

In [10]:
dpf = pd.concat([dpf1, dpf2], ignore_index=True)
dpf.shape

(83, 2)

In [11]:
dpf.columns

Index(['배출가스 인증번호', 'DPF 유무'], dtype='object')

In [12]:
dpf.columns = ['배출가스인증번호', 'DPF유무']

In [13]:
dpf['DPF유무'].value_counts()

유    47
무    36
Name: DPF유무, dtype: int64

In [14]:
dpf['DPF유무'] = dpf['DPF유무'].astype('str')
dpf['DPF유무'].value_counts()

유    47
무    36
Name: DPF유무, dtype: int64

## [출력] dpf 병합

In [38]:
dpf.to_excel(os.path.join('D:/data/big2', 'dpf.xlsx'), index=False)

## [로드] 저감장치 부착이력(중복차대제거)

In [16]:
file_name = '[ODS]저감장치부착이력(중복차대제거)(2022.12.29).csv'
low_path = os.path.join(ods_folder, file_name)
low = pd.read_csv(low_path, encoding='cp949', low_memory=False)
low.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 809255 entries, 0 to 809254
Data columns (total 11 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   저감장치종류      585410 non-null  object
 1   TDMS부착여부    204903 non-null  object
 2   구조변경일자      809255 non-null  int64
 3   부착업체명       800321 non-null  object
 4   부착일자        809254 non-null  float64
 5   탈거승인일       169 non-null     float64
 6   차량번호        809255 non-null  object
 7   차대번호        809255 non-null  object
 8   저감장치반납여부    324650 non-null  object
 9   저감장치구분      809255 non-null  object
 10  삼원촉매장치반납여부  13688 non-null   object
dtypes: float64(2), int64(1), object(8)
memory usage: 67.9+ MB

# 전처리

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1511139 entries, 0 to 1511138
Data columns (total 59 columns):
 #   Column        Non-Null Count    Dtype
---  ------        --------------    -----
 0   차량관리번호        1511139 non-null  object
 1   차량등록번호        1511139 non-null  object
 2   본거지법정동코드      1511139 non-null  int64
 3   소유자구분         1511139 non-null  object
 4   차종_등록정보       1511137 non-null  object
 5   용도            1511139 non-null  object
 6   미정1_x         1511139 non-null  object
 7   현재회원번호        1510300 non-null  object
 8   미정2_x         1511139 non-null  object
 9   미정3_x         1511139 non-null  object
 10  차대번호          1511139 non-null  object
 11  최초등록일자        1511139 non-null  int64
 12  차량연식          1511139 non-null  int64
 13  차량제작일자        1342367 non-null  float64
 14  배출가스검사유효일자    1511127 non-null  float64
 15  제원관리번호        1511139 non-null  object
 16  배출가스인증번호      1387441 non-null  object
 17  배출가스등급        1511139 non-null  object
 18  저공해조치YN(미사용)  1510984 non-null  object
 19  저공해조치종류       189 non-null      float64
 20  저공해조치구조변경YN   1511139 non-null  object
 21  미정4           0 non-null        float64
 22  차량등록번호숫자정보    1511139 non-null  int64
 23  차량말소YN        1511139 non-null  object
 24  미정5           1511118 non-null  object
 25  최초회원번호        1506484 non-null  object
 26  취득일자          1417927 non-null  object
 27  취득금액          1436738 non-null  float64
 28  미정6           403044 non-null   object
 29  생성일시_등록정보     1511139 non-null  object
 30  수정일시_등록정보     914957 non-null   object
 31  미정7           1511139 non-null  object
 32  차명            1511139 non-null  object
 33  차종_제원정보       1511139 non-null  object
 34  차종분류          1511139 non-null  object
 35  차종유형(소분류)     1511139 non-null  object
 36  자동차형식         1510611 non-null  object
 37  제작사명          1501112 non-null  object
 38  연료            1511068 non-null  object
 39  엔진형식          1509138 non-null  object
 40  공차중량          0 non-null        float64
 41  총중량           1511114 non-null  float64
 42  적재중량          1510602 non-null  float64
 43  엔진출력          1510511 non-null  float64
 44  배기량           1511128 non-null  float64
 45  승차인원          1511139 non-null  float64
 46  차량길이          1511064 non-null  float64
 47  차량너비          1511064 non-null  float64
 48  차량높이          1511062 non-null  float64
 49  원산지명          1492014 non-null  object
 50  미정1_y         0 non-null        float64
 51  삭제YN          1511139 non-null  object
 52  승인일자          1510592 non-null  object
 53  구동형식          47 non-null       float64
 54  변속기종류         1510979 non-null  object
 55  미정2_y         0 non-null        float64
 56  생성일시_제원정보     1511139 non-null  object
 57  수정일시_제원정보     497 non-null      object
 58  미정3_y         1511139 non-null  object
dtypes: float64(17), int64(4), object(38)
memory usage: 680.2+ MB

In [18]:
df.shape

(1511139, 59)

## 빈칸 처리

In [19]:
df1 = df.copy()

In [20]:
df1['배출가스인증번호'].isnull().sum()

123698

In [22]:
# # 빈칸이 포함된 샘플
# count = 0
# for i, one in enumerate(df1['배출가스인증번호']):
#     if ' ' in str(one):
#         print(i)
#         count += 1
# count

In [23]:
# df1.loc[706692, '배출가스인증번호']

In [24]:
# # 빈칸만 있는 샘플
# count = 0
# for i, one in enumerate(df1['배출가스인증번호']):
#     if ' ' == str(one):
#         print(i)
#         count += 1
# count

In [25]:
# df1.loc[2453, '배출가스인증번호']

In [26]:
# df1['배출가스인증번호'] = df1['배출가스인증번호'].replace(' ', np.nan)

In [27]:
# df1.loc[2453, '배출가스인증번호']

In [28]:
# # 빈칸이 포함된 샘플
# count = 0
# for i, one in enumerate(df1['배출가스인증번호']):
#     if ' ' in str(one):
#         print(i)
#         count += 1
# count

In [29]:
# df1.loc[521777, '배출가스인증번호']

In [30]:
# df1['배출가스인증번호'] = df1['배출가스인증번호'].str.strip()

In [31]:
# # 빈칸이 포함된 샘플
# count = 0
# for i, one in enumerate(df1['배출가스인증번호']):
#     if ' ' in str(one):
#         print(i)
#         count += 1
# count

In [32]:
# df1.loc[521777, '배출가스인증번호']

In [33]:
# df1['배출가스인증번호'].isnull().sum()

# 분석

In [34]:
df1[['배출가스인증번호', '제원관리번호', '자동차형식', '연료', '차종_등록정보', '차종유형(소분류)']].isnull().sum()

배출가스인증번호     123698
제원관리번호            0
자동차형식           528
연료               71
차종_등록정보           2
차종유형(소분류)         0
dtype: int64

In [35]:
len(df1['배출가스인증번호'].unique())

303

In [36]:
len(df1['제원관리번호'].unique())

17387

In [37]:
df1['제원관리번호'].isnull().sum()

0

## 통계(nan 값 제외)

In [38]:
df1.columns

Index(['차량관리번호', '차량등록번호', '본거지법정동코드', '소유자구분', '차종_등록정보', '용도', '미정1_x',
       '현재회원번호', '미정2_x', '미정3_x', '차대번호', '최초등록일자', '차량연식', '차량제작일자',
       '배출가스검사유효일자', '제원관리번호', '배출가스인증번호', '배출가스등급', '저공해조치YN(미사용)', '저공해조치종류',
       '저공해조치구조변경YN', '미정4', '차량등록번호숫자정보', '차량말소YN', '미정5', '최초회원번호', '취득일자',
       '취득금액', '미정6', '생성일시_등록정보', '수정일시_등록정보', '미정7', '차명', '차종_제원정보', '차종분류',
       '차종유형(소분류)', '자동차형식', '제작사명', '연료', '엔진형식', '공차중량', '총중량', '적재중량',
       '엔진출력', '배기량', '승차인원', '차량길이', '차량너비', '차량높이', '원산지명', '미정1_y', '삭제YN',
       '승인일자', '구동형식', '변속기종류', '미정2_y', '생성일시_제원정보', '수정일시_제원정보', '미정3_y'],
      dtype='object')

In [39]:
df1.shape

(1511139, 59)

## 필요 컬럼만 추출

In [40]:
df2 = df1[['차량등록번호', '본거지법정동코드', '용도', '배출가스검사유효일자', '배출가스인증번호', '최초등록일자', '차종_등록정보', '차량제작일자', '차량연식', '차량말소YN', '차대번호', '제원관리번호', 
       '배출가스등급', '연료', '저공해조치종류', '저공해조치구조변경YN', '저공해조치YN(미사용)', 
       '차명', '공차중량', '총중량', '적재중량', ]].copy()
df2.head()

,차량등록번호,본거지법정동코드,용도,배출가스검사유효일자,배출가스인증번호,최초등록일자,차종_등록정보,차량제작일자,차량연식,차량말소YN,...,제원관리번호,배출가스등급,연료,저공해조치종류,저공해조치구조변경YN,저공해조치YN(미사용),차명,공차중량,총중량,적재중량
0,83노5980,2653010500,자가용,20231124.0,NaN,20221125,화물,20071224.0,2008,N,...,A0810005207533307,T4,경유,NaN,N,N,메가트럭,NaN,10005.0,5000.0
1,96부7399,4824034000,자가용,20230613.0,NaN,20220614,화물,20080924.0,2008,N,...,A0810005209353308,T4,경유,NaN,N,N,메가트럭군물자수송,NaN,10825.0,5000.0
2,92도0997,4482533000,자가용,20230418.0,NaN,20220419,화물,20080605.0,2008,N,...,B1R10005100003308,T4,경유,NaN,N,N,신정4㎥급진공노면총소차,NaN,11075.0,2000.0
3,93루6527,4518010400,자가용,20230406.0,7MY-HD-24-28,20220407,화물,20090316.0,2009,N,...,A0810005008143209,4,경유,NaN,N,N,마이티군물자수송트럭,NaN,6160.0,2500.0
4,153구6446,2826011300,자가용,20250908.0,NaN,20210909,승용,20080221.0,2008,N,...,A0710001100361207,T4,경유,NaN,N,N,윈스톰2.0S디젤,NaN,2215.0,0.0

## dpf와 매칭

In [41]:
df3 = df2.merge(dpf, on='배출가스인증번호', how='left')
df3.head()

,차량등록번호,본거지법정동코드,용도,배출가스검사유효일자,배출가스인증번호,최초등록일자,차종_등록정보,차량제작일자,차량연식,차량말소YN,...,배출가스등급,연료,저공해조치종류,저공해조치구조변경YN,저공해조치YN(미사용),차명,공차중량,총중량,적재중량,DPF유무
0,83노5980,2653010500,자가용,20231124.0,NaN,20221125,화물,20071224.0,2008,N,...,T4,경유,NaN,N,N,메가트럭,NaN,10005.0,5000.0,NaN
1,96부7399,4824034000,자가용,20230613.0,NaN,20220614,화물,20080924.0,2008,N,...,T4,경유,NaN,N,N,메가트럭군물자수송,NaN,10825.0,5000.0,NaN
2,92도0997,4482533000,자가용,20230418.0,NaN,20220419,화물,20080605.0,2008,N,...,T4,경유,NaN,N,N,신정4㎥급진공노면총소차,NaN,11075.0,2000.0,NaN
3,93루6527,4518010400,자가용,20230406.0,7MY-HD-24-28,20220407,화물,20090316.0,2009,N,...,4,경유,NaN,N,N,마이티군물자수송트럭,NaN,6160.0,2500.0,NaN
4,153구6446,2826011300,자가용,20250908.0,NaN,20210909,승용,20080221.0,2008,N,...,T4,경유,NaN,N,N,윈스톰2.0S디젤,NaN,2215.0,0.0,NaN

In [42]:
df3['DPF유무'].value_counts()

무    686142
유    306054
Name: DPF유무, dtype: int64

In [43]:
df4 = df3.copy()

In [44]:
df4['DPF유무'] = df4['DPF유무'].astype('str')
df4['DPF유무'].value_counts()

무      686142
nan    518943
유      306054
Name: DPF유무, dtype: int64

In [45]:
df4['DPF유무'] = df4['DPF유무'].replace('nan', '무')
df4['DPF유무'].value_counts()

무    1205085
유     306054
Name: DPF유무, dtype: int64

In [46]:
df5 = df4.sort_values(['배출가스인증번호', '제원관리번호']).reset_index(drop=True)
df5.head()

,차량등록번호,본거지법정동코드,용도,배출가스검사유효일자,배출가스인증번호,최초등록일자,차종_등록정보,차량제작일자,차량연식,차량말소YN,...,배출가스등급,연료,저공해조치종류,저공해조치구조변경YN,저공해조치YN(미사용),차명,공차중량,총중량,적재중량,DPF유무
0,서울4오6136,1165010100,자가용,19960831.0,3MY-FK-08,19900625,승용,NaN,1990,N,...,4,휘발유,NaN,N,N,머큐리세이블,NaN,1835.0,0.0,무
1,충남35라7151,4421010900,자가용,20000721.0,3MY-FK-08,19900605,승용,NaN,1990,N,...,4,휘발유,NaN,N,N,머큐리세이블,NaN,1740.0,0.0,무
2,충남38가6881,4423010400,자가용,19971127.0,3MY-FK-08,19891006,승용,NaN,1989,N,...,4,휘발유,NaN,N,N,머큐리세이블,NaN,1740.0,0.0,무
3,서울30나1918,1111017400,자가용,19970910.0,3MY-FK-08,19890911,승용,NaN,1989,N,...,4,휘발유,NaN,N,N,머큐리세이블,NaN,1740.0,0.0,무
4,경기57가5322,4159026200,자가용,19990730.0,3MY-FK-08,19890731,승용,NaN,1989,N,...,4,휘발유,NaN,N,N,머큐리세이블,NaN,1740.0,0.0,무

In [47]:
df5['연료'].value_counts()

경유             1152630
휘발유             332308
LGP(액화석유가스)      26089
기타연료                39
CNG(압축천연가스)          1
알코올                  1
Name: 연료, dtype: int64

## 저감장치 부착이력 매칭

In [48]:
df6 = df5.merge(low[['차대번호', '저감장치구분']], on='차대번호')
df6.head()

,차량등록번호,본거지법정동코드,용도,배출가스검사유효일자,배출가스인증번호,최초등록일자,차종_등록정보,차량제작일자,차량연식,차량말소YN,...,연료,저공해조치종류,저공해조치구조변경YN,저공해조치YN(미사용),차명,공차중량,총중량,적재중량,DPF유무,저감장치구분
0,서울87아7110,1168010800,영업용,20191018.0,4MY-DC-33,20061017,화물,20060929.0,2007,N,...,경유,1.0,Y,N,대우11.5톤장축카고트럭(DPF),NaN,22010.0,11500.0,무,1종+SCR
1,75주9974,4159025300,자가용,20171012.0,6MY-DB-24-24,20070413,승합,20070326.0,2007,N,...,경유,5.0,Y,Y,BX212,NaN,15095.0,0.0,무,1종+SCR
2,서울72바8684,1156010600,영업용,20170928.0,6MY-DB-24-24,20070329,승합,20070323.0,2007,N,...,경유,1.0,Y,Y,BX212,NaN,15095.0,0.0,무,1종
3,74수4388,4571025300,자가용,20171207.0,6MY-DB-24-24,20070227,승합,20070131.0,2007,N,...,경유,1.0,Y,Y,BX212,NaN,15095.0,0.0,무,1종
4,71구1475,1123010900,자가용,20200129.0,6MY-DB-24-24,20070612,승합,20070531.0,2007,N,...,경유,1.0,Y,Y,BX212,NaN,14910.0,0.0,무,1종

### 저감장치구분 중 '1종'만 추출

In [49]:
df6['저감장치구분'].value_counts()

1종        32
1종+SCR     2
2종         2
Name: 저감장치구분, dtype: int64

In [50]:
df7 = df6[df6['저감장치구분'] == '1종'].reset_index(drop=True)
df7.shape

(32, 23)

In [51]:
df7.head()

,차량등록번호,본거지법정동코드,용도,배출가스검사유효일자,배출가스인증번호,최초등록일자,차종_등록정보,차량제작일자,차량연식,차량말소YN,...,연료,저공해조치종류,저공해조치구조변경YN,저공해조치YN(미사용),차명,공차중량,총중량,적재중량,DPF유무,저감장치구분
0,서울72바8684,1156010600,영업용,20170928.0,6MY-DB-24-24,20070329,승합,20070323.0,2007,N,...,경유,1.0,Y,Y,BX212,NaN,15095.0,0.0,무,1종
1,74수4388,4571025300,자가용,20171207.0,6MY-DB-24-24,20070227,승합,20070131.0,2007,N,...,경유,1.0,Y,Y,BX212,NaN,15095.0,0.0,무,1종
2,71구1475,1123010900,자가용,20200129.0,6MY-DB-24-24,20070612,승합,20070531.0,2007,N,...,경유,1.0,Y,Y,BX212,NaN,14910.0,0.0,무,1종
3,68우7843,3117010100,자가용,20210828.0,6MY-HD-24-100,20070829,승용,20070719.0,2007,N,...,경유,1.0,Y,N,싼타페(SANTAFE),NaN,2325.0,0.0,유,1종
4,57무6009,2826011300,자가용,20210701.0,6MY-HD-24-100,20070522,승용,20070317.0,2007,N,...,경유,1.0,Y,N,싼타페(SANTAFE),NaN,2325.0,0.0,유,1종

#### [출력] 저감장치구분 중 '1종'만

In [52]:
df7.to_csv('analysis2/[BD1][G4][배인번호]저감1종샘플(nan값_포함)(DPF).csv', index=False, encoding='cp949')

## 연료로 구분

In [53]:
df5_1 = df5[df5['연료'] == '경유'].reset_index(drop=True)
df5_2 = df5[df5['연료'] != '경유'].reset_index(drop=True)
df5_1.shape, df5_2.shape

((1152630, 22), (358509, 22))

In [54]:
df5_1_1 = df5_1.iloc[:600000]
df5_1_2 = df5_1.iloc[600000:].reset_index(drop=True)
df5_1_1.shape, df5_1_2.shape

((600000, 22), (552630, 22))

## [출력] 샘플

In [55]:
df5.to_csv('analysis2/[BD1][G4][배인번호]샘플(nan값_포함)(DPF).csv', index=False, encoding='cp949')

In [56]:
df5_1_1.to_csv('analysis2/[BD1][G4][배인번호]경유샘플01(nan값_포함)(DPF).csv', index=False, encoding='cp949')
df5_1_2.to_csv('analysis2/[BD1][G4][배인번호]경유샘플02(nan값_포함)(DPF).csv', index=False, encoding='cp949')
df5_2.to_csv('analysis2/[BD1][G4][배인번호]경유외_샘플(nan값_포함)(DPF).csv', index=False, encoding='cp949')

# 코드 마지막