# Library

In [2]:
import pandas as pd
import numpy as np
import os
from tqdm import tqdm

# 로드
- 등록정보&제원정보

In [3]:
# about 30s
ods_folder = 'D:\과업\[한국환경공단]자동차_환경_빅데이터_구축_2차\data\ODS'
file_name = '[ODS][G4]등록정보&제원정보(한글컬럼)(2022.12.29).csv'
ods_path = os.path.join(ods_folder, file_name)
df = pd.read_csv(ods_path, encoding='cp949', low_memory=False)

# 전처리

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1898816 entries, 0 to 1898815
Data columns (total 49 columns):
 #   Column        Dtype
---  ------        -----
 0   차량관리번호        object
 1   차량등록번호        object
 2   본거지법정동코드      int64
 3   소유자구분         object
 4   차종_등록정보       object
 5   용도            object
 6   현재회원번호        object
 7   차대번호          object
 8   최초등록일자        int64
 9   차량연식          int64
 10  차량제작일자        float64
 11  배출가스검사유효일자    float64
 12  제원관리번호        object
 13  배출가스인증번호      object
 14  배출가스등급        object
 15  저공해조치YN(미사용)  object
 16  저공해조치종류       float64
 17  저공해조치구조변경YN   object
 18  차량등록번호숫자정보    int64
 19  차량말소YN        object
 20  최초회원번호        object
 21  취득일자          object
 22  취득금액          float64
 23  생성일시_등록정보     object
 24  수정일시_등록정보     object
 25  차명            object
 26  차종_제원정보       object
 27  차종분류          object
 28  차종유형(소분류)     object
 29  자동차형식         object
 30  제작사명          object
 31  연료            object
 32  엔진형식          object
 33  공차중량          float64
 34  총중량           float64
 35  적재중량          float64
 36  엔진출력          float64
 37  배기량           float64
 38  승차인원          float64
 39  차량길이          float64
 40  차량너비          float64
 41  차량높이          float64
 42  원산지명          object
 43  삭제YN          object
 44  승인일자          object
 45  구동형식          float64
 46  변속기종류         object
 47  생성일시_제원정보     object
 48  수정일시_제원정보     object
dtypes: float64(14), int64(4), object(31)
memory usage: 709.9+ MB

In [5]:
df.shape

(1898816, 49)

## 말소 차량 제거

In [6]:
df['차량말소YN'].unique()

array(['N', 'Y'], dtype=object)

In [37]:
df1 = df[df['차량말소YN'] == 'N'].reset_index(drop=True)
df1.shape

(1511251, 49)

### [출력]

In [8]:
# about 40s
df1.to_csv(os.path.join(ods_folder, '[ODS][G4]등록정보&제원정보(한글컬럼)(말소적용)(2022.12.29).csv'), index=False, encoding='cp949')

## 빈칸 처리

In [38]:
df1['배출가스인증번호'].isnull().sum()

123709

In [39]:
# 빈칸이 포함된 샘플
count = 0
for i, one in enumerate(df1['배출가스인증번호']):
    if ' ' in str(one):
        print(i)
        count += 1
count

2453
7708
11621
15114
32547
57815
135749
196882
289324
332251
521777
525181
526444
526895
532441
533298
536986
537551
706692
1227605
1498202
1502254

22

In [40]:
df1.loc[706692, '배출가스인증번호']

' 7MY-DC-24-72'

In [41]:
# 빈칸만 있는 샘플
count = 0
for i, one in enumerate(df1['배출가스인증번호']):
    if ' ' == str(one):
        print(i)
        count += 1
count

2453
7708
11621
15114
32547
57815
135749
196882
289324
332251
1498202
1502254

12

In [42]:
df1.loc[2453, '배출가스인증번호']

' '

In [43]:
df1['배출가스인증번호'] = df1['배출가스인증번호'].replace(' ', np.nan)

In [44]:
df1.loc[2453, '배출가스인증번호']

nan

In [45]:
# 빈칸이 포함된 샘플
count = 0
for i, one in enumerate(df1['배출가스인증번호']):
    if ' ' in str(one):
        print(i)
        count += 1
count

521777
525181
526444
526895
532441
533298
536986
537551
706692
1227605

10

In [46]:
df1.loc[521777, '배출가스인증번호']

' 7MY-HD-24-30'

In [47]:
df1['배출가스인증번호'] = df1['배출가스인증번호'].str.strip()

In [48]:
# 빈칸이 포함된 샘플
count = 0
for i, one in enumerate(df1['배출가스인증번호']):
    if ' ' in str(one):
        print(i)
        count += 1
count

0

In [49]:
df1.loc[521777, '배출가스인증번호']

'7MY-HD-24-30'

In [50]:
df1['배출가스인증번호'].isnull().sum()

123721

# 분석

In [92]:
df1[['배출가스인증번호', '제원관리번호', '자동차형식', '연료', '차종_등록정보', '차종유형(소분류)']].isnull().sum()

배출가스인증번호     123721
제원관리번호            0
자동차형식           528
연료               71
차종_등록정보           2
차종유형(소분류)         0
dtype: int64

In [ ]:
len(df1['배출가스인증번호'].unique())

303

In [ ]:
len(df1['제원관리번호'].unique())

17408

## 통계(nan 값 제외)

In [ ]:
df1.columns

Index(['차량관리번호', '차량등록번호', '본거지법정동코드', '소유자구분', '차종_등록정보', '용도', '현재회원번호',
       '차대번호', '최초등록일자', '차량연식', '차량제작일자', '배출가스검사유효일자', '제원관리번호', '배출가스인증번호',
       '배출가스등급', '저공해조치YN(미사용)', '저공해조치종류', '저공해조치구조변경YN', '차량등록번호숫자정보',
       '차량말소YN', '최초회원번호', '취득일자', '취득금액', '생성일시_등록정보', '수정일시_등록정보', '차명',
       '차종_제원정보', '차종분류', '차종유형(소분류)', '자동차형식', '제작사명', '연료', '엔진형식', '공차중량',
       '총중량', '적재중량', '엔진출력', '배기량', '승차인원', '차량길이', '차량너비', '차량높이', '원산지명',
       '삭제YN', '승인일자', '구동형식', '변속기종류', '생성일시_제원정보', '수정일시_제원정보'],
      dtype='object')

In [84]:
df1.shape

(1511251, 49)

In [28]:
s1 = df1.groupby(['배출가스인증번호', '제원관리번호', '자동차형식', '연료', '차종_등록정보', '차종유형(소분류)'])['차대번호'].count()
s1

배출가스인증번호   제원관리번호             자동차형식             연료           차종_등록정보  차종유형(소분류)
3MY-FK-08  00031123015731309  MSV3-27C          휘발유          승용       대형             1
           20018700000001     JFM 3.0 V 5 FEGX  휘발유          승용       대형             5
           20029400000000     MSV3-27B          휘발유          승용       대형            12
           20042500000000     MSV3-27C          휘발유          승용       대형           231
           20042500000001     MSV3-27C          휘발유          승용       대형           202
                                                                                  ...
XMY-KM-47  10124800030001     FC723A            LGP(액화석유가스)  승합       중형           129
YKM-KM-12  10016400440000     AM251L-HL         LGP(액화석유가스)  화물       경형            54
           10016400450000     KM251L-HL         LGP(액화석유가스)  화물       경형             2
           10150600000000     SOK0090           LGP(액화석유가스)  화물       경형            13
           99934125020813405  AM240L-1          LGP(액화석유가스)  화물       경형             1
Name: 차대번호, Length: 8718, dtype: int64

### [출력] 통계(nan 값 제외)

In [29]:
s1.to_excel('analysis2/[G4][배인번호]통계.xlsx')

## 통계(nan 값 포함)

In [93]:
df2 = df1.copy()

In [95]:
df2['배출가스인증번호'] = df2['배출가스인증번호'].astype('str')
df2['제원관리번호'] = df2['제원관리번호'].astype('str')
df2['자동차형식'] = df2['자동차형식'].astype('str')
df2['연료'] = df2['연료'].astype('str')
df2['차종_등록정보'] = df2['차종_등록정보'].astype('str')
df2['차종유형(소분류)'] = df2['차종유형(소분류)'].astype('str')
df2['차대번호'] = df2['차대번호'].astype('str')

In [96]:
df2['배출가스인증번호'].isnull().sum()

0

In [97]:
s1_1 = df2.groupby(['배출가스인증번호', '제원관리번호', '자동차형식', '연료', '차종_등록정보', '차종유형(소분류)'])['차대번호'].count()
s1_1

배출가스인증번호   제원관리번호             자동차형식             연료   차종_등록정보  차종유형(소분류)
3MY-FK-08  00031123015731309  MSV3-27C          휘발유  승용       대형             1
           20018700000001     JFM 3.0 V 5 FEGX  휘발유  승용       대형             5
           20029400000000     MSV3-27B          휘발유  승용       대형            12
           20042500000000     MSV3-27C          휘발유  승용       대형           231
           20042500000001     MSV3-27C          휘발유  승용       대형           202
                                                                          ...
nan        BD410001600003309  SSC 320.12.04/8   경유   화물       대형             1
           BD410001700003309  SSC 210.08.03/6   경유   화물       대형             1
           BDV10000100003308  MTS450            경유   화물       대형             1
           BEU10001700013310  KCT4.5PD-BC6CT1   경유   화물       대형             1
           BRX20004100023317  FH104FTR3HA       경유   화물       대형            12
Name: 차대번호, Length: 18040, dtype: int64

In [98]:
df2.groupby(['배출가스인증번호', '제원관리번호', '자동차형식', '연료', '차종_등록정보', '차종유형(소분류)'], as_index=False)['차대번호'].count()['차대번호'].sum()

1511251

### [출력] 통계(nan 값 제외)

In [99]:
s1_1.to_excel('analysis2/[G4][배인번호]통계(nan값_포함).xlsx')

## 통계(배인번호, 제번, 자동차형식)

In [100]:
s1_2 = df2.groupby(['배출가스인증번호', '제원관리번호', '자동차형식'])['차대번호'].count()
s1_2

배출가스인증번호   제원관리번호             자동차형식
3MY-FK-08  00031123015731309  MSV3-27C              1
           20018700000001     JFM 3.0 V 5 FEGX      5
           20029400000000     MSV3-27B             12
           20042500000000     MSV3-27C            231
           20042500000001     MSV3-27C            202
                                                 ...
nan        BD410001600003309  SSC 320.12.04/8       1
           BD410001700003309  SSC 210.08.03/6       1
           BDV10000100003308  MTS450                1
           BEU10001700013310  KCT4.5PD-BC6CT1       1
           BRX20004100023317  FH104FTR3HA          12
Name: 차대번호, Length: 17638, dtype: int64

In [104]:
s1_2_1 = df2.groupby(['배출가스인증번호', '제원관리번호', '자동차형식'], as_index=False)['차대번호'].count()
s1_2_1

        배출가스인증번호             제원관리번호             자동차형식  차대번호
0      3MY-FK-08  00031123015731309          MSV3-27C     1
1      3MY-FK-08     20018700000001  JFM 3.0 V 5 FEGX     5
2      3MY-FK-08     20029400000000          MSV3-27B    12
3      3MY-FK-08     20042500000000          MSV3-27C   231
4      3MY-FK-08     20042500000001          MSV3-27C   202
...          ...                ...               ...   ...
17633        nan  BD410001600003309   SSC 320.12.04/8     1
17634        nan  BD410001700003309   SSC 210.08.03/6     1
17635        nan  BDV10000100003308            MTS450     1
17636        nan  BEU10001700013310   KCT4.5PD-BC6CT1     1
17637        nan  BRX20004100023317       FH104FTR3HA    12

[17638 rows x 4 columns]

In [105]:
len(s1_2_1['제원관리번호'].unique()), len(s1_2_1['자동차형식'].unique())

(17408, 8180)

### [출력] 통계2(nan 값 제외)

In [101]:
s1_2.to_excel('analysis2/[G4][배인번호]통계2(nan값_포함).xlsx')

## 통계(제번, 자동차형식)

In [102]:
s1_3 = df2.groupby(['제원관리번호', '자동차형식'])['차대번호'].count()
s1_3

제원관리번호             자동차형식
00030110800000304  GF-MCU15W       1
00030112400001628  YS-25D-A1       1
00031105000011116  XNWAY           1
00031105000011203  202018          1
00031105000011314  MCL943F         1
                                  ..
BRX20004600013317  FM104FTR3HA    49
BRX20004700003317  FE64RB          1
BRX20004800003317  FE64RB          1
BZB20003100003318  FM104FTR3HA     1
CN210001000003218  PD2WB-HD2.5     1
Name: 차대번호, Length: 17408, dtype: int64

### [출력] 통계3(nan 값 제외)

In [103]:
s1_3.to_excel('analysis2/[G4][배인번호]통계3(nan값_포함).xlsx')

## 통계(자동차형식, 제번)

In [106]:
s1_4 = df2.groupby(['자동차형식', '제원관리번호'])['차대번호'].count()
s1_4

자동차형식   제원관리번호
0       99931107067061203    1
        99931107067111203    1
        99931107067161203    1
        99931107067351203    1
        99931107067451203    1
                            ..
소프린     20046200000003       1
아스트롤벤   30410500000066       1
엑스제이씩스  20046200000004       1
포드픽업    00034124000053103    1
？       30112400000670       1
Name: 차대번호, Length: 17408, dtype: int64

### [출력] 통계4(nan 값 제외)

In [109]:
s1_4.to_excel('analysis2/[G4][배인번호]통계4(nan값_포함).xlsx')

## 배인번호 없는 데이터

In [57]:
df3 = df1[df1['배출가스인증번호'].isnull() == True].reset_index(drop=True)
df3.shape

(123721, 49)

In [82]:
len(df3['제원관리번호'].unique())

9215

### 제번으로 매칭 가능한 샘플

In [63]:
s1_reset = df1.groupby(['배출가스인증번호', '제원관리번호', '자동차형식', '연료', '차종_등록정보', '차종유형(소분류)'], as_index=False)['차대번호'].count()
s1_reset

,배출가스인증번호,제원관리번호,자동차형식,연료,차종_등록정보,차종유형(소분류),차대번호
0,3MY-FK-08,00031123015731309,MSV3-27C,휘발유,승용,대형,1
1,3MY-FK-08,20018700000001,JFM 3.0 V 5 FEGX,휘발유,승용,대형,5
2,3MY-FK-08,20029400000000,MSV3-27B,휘발유,승용,대형,12
3,3MY-FK-08,20042500000000,MSV3-27C,휘발유,승용,대형,231
4,3MY-FK-08,20042500000001,MSV3-27C,휘발유,승용,대형,202
...,...,...,...,...,...,...,...
8713,XMY-KM-47,10124800030001,FC723A,LGP(액화석유가스),승합,중형,129
8714,YKM-KM-12,10016400440000,AM251L-HL,LGP(액화석유가스),화물,경형,54
8715,YKM-KM-12,10016400450000,KM251L-HL,LGP(액화석유가스),화물,경형,2
8716,YKM-KM-12,10150600000000,SOK0090,LGP(액화석유가스),화물,경형,13
8717,YKM-KM-12,99934125020813405,AM240L-1,LGP(액화석유가스),화물,경형,1

In [77]:
len(s1_reset['제원관리번호'].unique())

8189

In [69]:
inter = list(set(s1_reset['제원관리번호']) & set(df3['제원관리번호']))
inter

['A0810005207533307',
 'A0810007000311307',
 'A0710001100361207',
 'B3C10016600003307',
 'B1R10005100003308',
 'A0410000500051207']

In [71]:
inter_df = pd.DataFrame()
for one in inter:
    inter_df = pd.concat([ inter_df, df3[df3['제원관리번호'] == one] ], ignore_index=True)
inter_df.shape

(6, 49)

In [73]:
inter_df.groupby(['제원관리번호', '자동차형식', '연료', '차종_등록정보', '차종유형(소분류)'])['차대번호'].count()

제원관리번호             자동차형식              연료  차종_등록정보  차종유형(소분류)
A0410000500051207  H1D20-VC-0-22      경유  승용       중형           1
A0710001100361207  CA26R              경유  승용       중형           1
A0810005207533307  HD5CT-8SGd-Z1      경유  화물       대형           1
A0810007000311307  EN-7RS2DAF8-1      경유  승용       대형           1
B1R10005100003308  RS07GMS2           경유  화물       대형           1
B3C10016600003307  K4.5C2-7TD-H4.5EU  경유  화물       대형           1
Name: 차대번호, dtype: int64

#### [출력] 배인번호 없는 샘플 중 제번으로 매칭 가능한 샘플

In [74]:
inter_df.groupby(['제원관리번호', '자동차형식', '연료', '차종_등록정보', '차종유형(소분류)'])['차대번호'].count().to_excel('analysis2/[G4][배인번호]매칭가능_미부여_통계.xlsx')

### 제번으로 매칭 불가능 샘플

In [80]:
diff = list( set(df3['제원관리번호']) - set(s1_reset['제원관리번호']) )
len(diff)

9209

In [83]:
diff_df = pd.DataFrame()
for one in tqdm(diff):
    diff_df = pd.concat([ diff_df, df3[df3['제원관리번호'] == one] ], ignore_index=True)
diff_df.shape

100%|██████████| 9209/9209 [04:39<00:00, 33.00it/s]

(123715, 49)

In [87]:
diff_df.groupby(['제원관리번호', '자동차형식', '연료', '차종_등록정보', '차종유형(소분류)'])['차대번호'].count()

제원관리번호             자동차형식            연료   차종_등록정보  차종유형(소분류)
00030110800000304  GF-MCU15W        휘발유  승용       대형            1
00030112400001628  YS-25D-A1        휘발유  승용       대형            1
00031105000011116  XNWAY            휘발유  승용       소형            1
00031105000011203  202018           휘발유  승용       중형            1
00031105000011412  AK00F            경유   승용       경형            1
                                                               ..
BD410001600003309  SSC 320.12.04/8  경유   화물       대형            1
BD410001700003309  SSC 210.08.03/6  경유   화물       대형            1
BDV10000100003308  MTS450           경유   화물       대형            1
BEU10001700013310  KCT4.5PD-BC6CT1  경유   화물       대형            1
BRX20004100023317  FH104FTR3HA      경유   화물       대형           12
Name: 차대번호, Length: 8776, dtype: int64

#### [출력] 배인번호 없는 샘플 중 제번으로 매칭 불가능한 샘플

In [88]:
diff_df.groupby(['제원관리번호', '자동차형식', '연료', '차종_등록정보', '차종유형(소분류)'])['차대번호'].count().to_excel('analysis2/[G4][배인번호]매칭불가능_미부여_통계.xlsx')

# 코드 마지막