# Library

In [1]:
import pandas as pd
import os
import numpy as np
from tqdm import tqdm

# [로드]

In [2]:
fold = 'D:\과업\[한국환경공단]자동차_환경_빅데이터_구축_2차\data\[BD1]4등급_데이터_점검(23.02.03)(ing)'
file_name = '검증요청_33573.xlsx'
path = os.path.join(fold, file_name)

In [4]:
# about 
df = pd.read_excel(path, index_col=0, skiprows=[0])
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 33573 entries, 82 to 702221
Data columns (total 28 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   차대번호    33573 non-null  object
 1   차량번호    33573 non-null  object
 2   제원관리번호  33573 non-null  object
 3   차종      33573 non-null  object
 4   용도      33573 non-null  object
 5   최초등록일   33573 non-null  int64
 6   연식      33573 non-null  int64
 7   제작일자    33571 non-null  float64
 8   검사유효일   33572 non-null  float64
 9   인증번호    32978 non-null  object
 10  등급      33573 non-null  int64
 11  차명      33573 non-null  object
 12  차종분류    33573 non-null  object
 13  차종유형    33573 non-null  object
 14  자동차형식   33573 non-null  object
 15  제작사명    33571 non-null  object
 16  연료      33573 non-null  object
 17  엔진형식    33573 non-null  object
 18  총중량     33573 non-null  int64
 19  적재중량    33376 non-null  float64
 20  엔진출력    33573 non-null  int64
 21  배기량     33573 non-null  int64
 22  법정동코드   33573 non-null  int64
 23  시도명     33573 non-null  object
 24  시군구명    33573 non-null  object
 25  소유자구분   33573 non-null  object
 26  말소여부    33573 non-null  object
 27  일치유무    33573 non-null  object
dtypes: float64(3), int64(7), object(18)
memory usage: 7.4+ MB

In [5]:
df.columns

Index(['차대번호', '차량번호', '제원관리번호', '차종', '용도', '최초등록일', '연식', '제작일자', '검사유효일',
       '인증번호', '등급', '차명', '차종분류', '차종유형', '자동차형식', '제작사명', '연료', '엔진형식',
       '총중량', '적재중량', '엔진출력', '배기량', '법정동코드', '시도명', '시군구명', '소유자구분', '말소여부',
       '일치유무'],
      dtype='object')

In [6]:
len(df['차대번호'].unique())

33573

In [7]:
df = df.reset_index(drop=True)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33573 entries, 0 to 33572
Data columns (total 28 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   차대번호    33573 non-null  object
 1   차량번호    33573 non-null  object
 2   제원관리번호  33573 non-null  object
 3   차종      33573 non-null  object
 4   용도      33573 non-null  object
 5   최초등록일   33573 non-null  int64
 6   연식      33573 non-null  int64
 7   제작일자    33571 non-null  float64
 8   검사유효일   33572 non-null  float64
 9   인증번호    32978 non-null  object
 10  등급      33573 non-null  int64
 11  차명      33573 non-null  object
 12  차종분류    33573 non-null  object
 13  차종유형    33573 non-null  object
 14  자동차형식   33573 non-null  object
 15  제작사명    33571 non-null  object
 16  연료      33573 non-null  object
 17  엔진형식    33573 non-null  object
 18  총중량     33573 non-null  int64
 19  적재중량    33376 non-null  float64
 20  엔진출력    33573 non-null  int64
 21  배기량     33573 non-null  int64
 22  법정동코드   33573 non-null  int64
 23  시도명     33573 non-null  object
 24  시군구명    33573 non-null  object
 25  소유자구분   33573 non-null  object
 26  말소여부    33573 non-null  object
 27  일치유무    33573 non-null  object
dtypes: float64(3), int64(7), object(18)
memory usage: 7.2+ MB

## [출력] 첫줄 제거, 인덱스 초기화

In [52]:
df.to_csv(os.path.join(fold, '검증요청_33573(수정).csv'), index=False, encoding='cp949')

## [로드] 검증요청 파일

In [ ]:
df = pd.read_csv(os.path.join(fold, '검증요청_33573(수정).csv'), encoding='cp949')

In [9]:
df.head()

,차대번호,차량번호,제원관리번호,차종,용도,최초등록일,연식,제작일자,검사유효일,인증번호,...,총중량,적재중량,엔진출력,배기량,법정동코드,시도명,시군구명,소유자구분,말소여부,일치유무
0,KNAJE55538K488660,31어4928,A0110003400501207,승용,자가용,20080118,2008,20071009.0,20160305.0,6MY-KM-14-61,...,1960,0.0,151,1991,1154510200,서울특별시,금천구,주민,N,N
1,KMHSJ81VP8U264640,45수2247,A0810006800831207,승용,자가용,20070907,2008,20070821.0,20110906.0,6MY-HD-24-100,...,2345,0.0,151,1991,4825010200,경상남도,김해시,법인,N,N
2,KMHSJ81VP9U437824,57우7716,A0810006801411208,승용,자가용,20081007,2009,20080919.0,20201006.0,7MY-HD-14-57,...,2345,0.0,151,1991,4812112700,경상남도,창원시 의창구,주민,N,N
3,KMHJN81VP7U714285,24도2516,A0810006301201206,승용,자가용,20070713,2007,20070521.0,20190712.0,5MY-HD-24-59,...,1965,0.0,146,1991,4480025026,충청남도,홍성군,주민,N,N
4,KMJWA37JBBU348189,71소8695,A0810007402962210,승합,자가용,20110318,2011,20110303.0,20200317.0,7MY-HD-14-46,...,2990,0.0,174,2497,4374040022,충청북도,영동군,주민,N,N

# 1\. 3등급 차량으로 유추되는 다수의 차량 확인
- 인증번호 : 8MY-KM-13
- 사용 데이터 : ODS "CEG_EMIS_CERTI_VEH_MIG(배출가스 인증 자동차정보)"

## [로드] CEG_EMIS_CERTI_VEH_MIG(배출가스 인증 자동차정보)

In [14]:
ods_fold = 'D:\과업\[한국환경공단]자동차_환경_빅데이터_구축_2차\data\ODS'
file_name = 'ODS_CEG_EMIS_CERTI_VEH_MIG.csv'
ods_path = os.path.join(ods_fold, file_name)

emis = pd.read_csv(ods_path, low_memory=False)
emis.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 109269 entries, 0 to 109268
Data columns (total 25 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   EMIS_CRTCNO      109269 non-null  object
 1   EMIS_CRTC_SNO    109269 non-null  int64
 2   VHCL_SNO         109269 non-null  object
 3   VHCNM            109241 non-null  object
 4   CAR_FRM          109181 non-null  object
 5   VIN              72498 non-null   object
 6   EMIS_VHCTY       84041 non-null   object
 7   VHCL_YRIDNW      104332 non-null  float64
 8   DRV_FRM          91142 non-null   object
 9   PURPS            96950 non-null   object
 10  GEARBOX_KND      108853 non-null  object
 11  EMPV_WGHT        109166 non-null  object
 12  TOT_WGHT         109027 non-null  object
 13  EGINTY           108279 non-null  object
 14  DSPLVL           108249 non-null  float64
 15  FUEL             108746 non-null  object
 16  EGINPWR          99675 non-null   object
 17  VHCL_LT_INFO     102659 non-null  object
 18  VHCL_WH_INFO     102662 non-null  object
 19  VHCL_HG_INFO     102660 non-null  object
 20  TKCAR_NMPR_INFO  82499 non-null   object
 21  TIRE_MG_PRE_DTL  76202 non-null   object
 22  TIRE_MG_RR_DTL   76172 non-null   object
 23  RECP_FILE_NM     109265 non-null  object
 24  STRE_DE          109265 non-null  object
dtypes: float64(2), int64(1), object(22)
memory usage: 20.8+ MB

## [로드] 컬럼명

In [16]:
col_fold = 'C:/Users/kbjung/Documents/GitHub/wabotech/car_big_data_2/analysis/ODSvsSTD'
file_name = '[정제][ODS]CEG_EMIS_CERTI_VEH_MIG.xlsx'
col_path = os.path.join(col_fold, file_name)

col = pd.read_excel(col_path, sheet_name='ODS_col')
col

                 컬럼            내용
0        EMIS_VHCTY       배출가스 차종
1         EMPV_WGHT          공차중량
2             PURPS            용도
3       EMIS_CRTCNO     배출가스 인증번호
4     EMIS_CRTC_SNO  배출가스 인증 일련번호
5            DSPLVL           배기량
6           DRV_FRM         구동 형식
7              FUEL            연료
8            EGINTY          엔진형식
9           EGINPWR          엔진출력
10              VIN          차대번호
11  TKCAR_NMPR_INFO      승차 인원 정보
12      GEARBOX_KND        변속기 종류
13          STRE_DE         저장 일자
14     VHCL_LT_INFO      차량 길이 정보
15     VHCL_WH_INFO      차량 너비 정보
16     VHCL_HG_INFO      차량 높이 정보
17      VHCL_YRIDNW         차량 연식
18         VHCL_SNO       차량 일련번호
19            VHCNM            차명
20         TOT_WGHT          총 중량
21          CAR_FRM        자동차 형식
22  TIRE_MG_PRE_DTL            미정
23   TIRE_MG_RR_DTL            미정
24     RECP_FILE_NM            미정

### 컬럼명 한글화

In [17]:
col_dict = {a:b for a, b in zip(col['컬럼'], col['내용'])}
dict(list(col_dict.items())[:5])

{'EMIS_VHCTY': '배출가스 차종',
 'EMPV_WGHT': '공차중량',
 'PURPS': '용도',
 'EMIS_CRTCNO': '배출가스 인증번호',
 'EMIS_CRTC_SNO': '배출가스 인증 일련번호'}

In [18]:
col_list = [col_dict[x] for x in emis.columns]
col_list

['배출가스 인증번호',
 '배출가스 인증 일련번호',
 '차량 일련번호',
 '차명',
 '자동차 형식',
 '차대번호',
 '배출가스 차종',
 '차량 연식',
 '구동 형식',
 '용도',
 '변속기 종류',
 '공차중량',
 '총 중량',
 '엔진형식',
 '배기량',
 '연료',
 '엔진출력',
 '차량 길이 정보',
 '차량 너비 정보',
 '차량 높이 정보',
 '승차 인원 정보',
 '미정',
 '미정',
 '미정',
 '저장 일자']

In [19]:
emis.columns = col_list
emis.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 109269 entries, 0 to 109268
Data columns (total 25 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   배출가스 인증번호     109269 non-null  object
 1   배출가스 인증 일련번호  109269 non-null  int64
 2   차량 일련번호       109269 non-null  object
 3   차명            109241 non-null  object
 4   자동차 형식        109181 non-null  object
 5   차대번호          72498 non-null   object
 6   배출가스 차종       84041 non-null   object
 7   차량 연식         104332 non-null  float64
 8   구동 형식         91142 non-null   object
 9   용도            96950 non-null   object
 10  변속기 종류        108853 non-null  object
 11  공차중량          109166 non-null  object
 12  총 중량          109027 non-null  object
 13  엔진형식          108279 non-null  object
 14  배기량           108249 non-null  float64
 15  연료            108746 non-null  object
 16  엔진출력          99675 non-null   object
 17  차량 길이 정보      102659 non-null  object
 18  차량 너비 정보      102662 non-null  object
 19  차량 높이 정보      102660 non-null  object
 20  승차 인원 정보      82499 non-null   object
 21  미정            76202 non-null   object
 22  미정            76172 non-null   object
 23  미정            109265 non-null  object
 24  저장 일자         109265 non-null  object
dtypes: float64(2), int64(1), object(22)
memory usage: 20.8+ MB

## 해당 인증번호 정보 확인
- 인증번호 : 8MY-KM-13 (❌)
    - 8MY-KM-13 포함한 1개만 존재
- 인증번호 : 8MY-KM-13-19 (⭕)

In [20]:
emis[emis['배출가스 인증번호'] == '8MY-KM-13']

Empty DataFrame
Columns: [배출가스 인증번호, 배출가스 인증 일련번호, 차량 일련번호, 차명, 자동차 형식, 차대번호, 배출가스 차종, 차량 연식, 구동 형식, 용도, 변속기 종류, 공차중량, 총 중량, 엔진형식, 배기량, 연료, 엔진출력, 차량 길이 정보, 차량 너비 정보, 차량 높이 정보, 승차 인원 정보, 미정, 미정, 미정, 저장 일자]
Index: []

[0 rows x 25 columns]

In [21]:
emis[emis['배출가스 인증번호'] == '8MY-KM-13-19']

,배출가스 인증번호,배출가스 인증 일련번호,차량 일련번호,차명,자동차 형식,차대번호,배출가스 차종,차량 연식,구동 형식,용도,...,연료,엔진출력,차량 길이 정보,차량 너비 정보,차량 높이 정보,승차 인원 정보,미정,미정,미정,저장 일자
3603,8MY-KM-13-19,0,000,봉고1톤초장축 수퍼캡,PU1.0-29D-L6-SE-2W5M,NaN,FM,NaN,NaN,NaN,...,DS,126,NaN,NaN,NaN,NaN,NaN,NaN,초기데이터,19/06/28

In [28]:
emis_no = '8MY-KM-13'
for one in emis['배출가스 인증번호']:
    if emis_no in one:
        print(one)

8MY-KM-13-19

## [로드] [G4]등록정보&제원정보

In [40]:
# about 30s
file_name = '[ODS][G4]등록정보&제원정보(말소제거)(중복차대제거)(한글컬럼)(2022.12.29).csv'
car_path = os.path.join(ods_fold, file_name)
car4 = pd.read_csv(car_path, low_memory=False)
car4.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1511139 entries, 0 to 1511138
Data columns (total 49 columns):
 #   Column        Non-Null Count    Dtype
---  ------        --------------    -----
 0   차량관리번호        1511139 non-null  object
 1   차량등록번호        1511139 non-null  object
 2   본거지법정동코드      1511139 non-null  int64
 3   소유자구분         1511139 non-null  object
 4   차종_등록정보       1511137 non-null  object
 5   용도            1511139 non-null  object
 6   현재회원번호        1510300 non-null  object
 7   차대번호          1511139 non-null  object
 8   최초등록일자        1511139 non-null  int64
 9   차량연식          1511139 non-null  int64
 10  차량제작일자        1342367 non-null  float64
 11  배출가스검사유효일자    1511127 non-null  float64
 12  제원관리번호        1511139 non-null  object
 13  배출가스인증번호      1387441 non-null  object
 14  배출가스등급        1511139 non-null  object
 15  저공해조치YN(미사용)  1510984 non-null  object
 16  저공해조치종류       189 non-null      float64
 17  저공해조치구조변경YN   1511139 non-null  object
 18  차량등록번호숫자정보    1511139 non-null  int64
 19  차량말소YN        1511139 non-null  object
 20  최초회원번호        1506484 non-null  object
 21  취득일자          1417927 non-null  object
 22  취득금액          1436738 non-null  float64
 23  생성일시_등록정보     1511139 non-null  object
 24  수정일시_등록정보     914957 non-null   object
 25  차명            1511139 non-null  object
 26  차종_제원정보       1511139 non-null  object
 27  차종분류          1511139 non-null  object
 28  차종유형(소분류)     1511139 non-null  object
 29  자동차형식         1510611 non-null  object
 30  제작사명          1501112 non-null  object
 31  연료            1511068 non-null  object
 32  엔진형식          1509138 non-null  object
 33  공차중량          0 non-null        float64
 34  총중량           1511114 non-null  float64
 35  적재중량          1510602 non-null  float64
 36  엔진출력          1510511 non-null  float64
 37  배기량           1511128 non-null  float64
 38  승차인원          1511139 non-null  float64
 39  차량길이          1511064 non-null  float64
 40  차량너비          1511064 non-null  float64
 41  차량높이          1511062 non-null  float64
 42  원산지명          1492014 non-null  object
 43  삭제YN          1511139 non-null  object
 44  승인일자          1510592 non-null  object
 45  구동형식          47 non-null       float64
 46  변속기종류         1510979 non-null  object
 47  생성일시_제원정보     1511139 non-null  object
 48  수정일시_제원정보     497 non-null      object
dtypes: float64(14), int64(4), object(31)
memory usage: 564.9+ MB

In [36]:
car4.columns

Index(['차량관리번호', '차량등록번호', '본거지법정동코드', '소유자구분', '차종_등록정보', '용도', '현재회원번호',
       '차대번호', '최초등록일자', '차량연식', '차량제작일자', '배출가스검사유효일자', '제원관리번호', '배출가스인증번호',
       '배출가스등급', '저공해조치YN(미사용)', '저공해조치종류', '저공해조치구조변경YN', '차량등록번호숫자정보',
       '차량말소YN', '최초회원번호', '취득일자', '취득금액', '생성일시_등록정보', '수정일시_등록정보', '차명',
       '차종_제원정보', '차종분류', '차종유형(소분류)', '자동차형식', '제작사명', '연료', '엔진형식', '공차중량',
       '총중량', '적재중량', '엔진출력', '배기량', '승차인원', '차량길이', '차량너비', '차량높이', '원산지명',
       '삭제YN', '승인일자', '구동형식', '변속기종류', '생성일시_제원정보', '수정일시_제원정보'],
      dtype='object')

In [43]:
emis_no = '8MY-KM-13-19'
cond1 = car4[car4['배출가스인증번호'] == emis_no]
cond1

,차량관리번호,차량등록번호,본거지법정동코드,소유자구분,차종_등록정보,용도,현재회원번호,차대번호,최초등록일자,차량연식,...,차량길이,차량너비,차량높이,원산지명,삭제YN,승인일자,구동형식,변속기종류,생성일시_제원정보,수정일시_제원정보
79,KNCSE01428K315472-01,92고0583,4119012000,주민,화물,자가용,54E781A5FC493011075DE3D29A3F0180,KNCSE01428K315472,20190806,2008,...,5120.0,1740.0,1995.0,대한민국,N,20071119,NaN,M,19/06/22,NaN
190,KNCSE03429K378300-02,54마8843,4122025041,기타,승용,자가용,8AF5C09CCB2C0E520222D0457F5534A5,KNCSE03429K378300,20190118,2009,...,5110.0,1740.0,1995.0,대한민국,N,20190118,NaN,M,19/06/22,NaN
305,KNCSE26458K323877-01,86더4981,4715011600,주민,화물,자가용,F38A77805E245B7BD157D0F18ED6646B,KNCSE26458K323877,20181119,2008,...,4860.0,1740.0,2105.0,대한민국,N,20181119,NaN,M,19/06/22,NaN
2122,KNCSE01429K386125-01,95우8573,1150010300,주민,화물,자가용,5406EA30D51847C361839D92783BE213,KNCSE01429K386125,20160512,2009,...,5120.0,1740.0,1995.0,대한민국,N,20160512,NaN,M,19/06/22,NaN
2123,KNCSE01429K386121-01,95우8519,1147010200,주민,화물,자가용,4AFE3B3B1A3C785C5C5B688A9DC750A5,KNCSE01429K386121,20160512,2009,...,5120.0,1740.0,1995.0,대한민국,N,20160512,NaN,M,19/06/22,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
976028,KNCSE06438K294042-01,83나3956,4623025022,주민,화물,자가용,A509D92BCC01F038B10A7E43BC0D9083,KNCSE06438K294042,20071217,2008,...,5120.0,1740.0,1995.0,대한민국,N,20071120,NaN,A,19/06/22,NaN
976175,KNCSE03438K294169-01,87누8529,4691025000,주민,화물,자가용,88766D64087D0A6BCA98FAF5DBC2F128,KNCSE03438K294169,20071214,2008,...,5110.0,1740.0,1995.0,대한민국,N,20071119,NaN,A,19/06/22,NaN
976435,KNCSE03428K293267-01,95저6346,4613013500,법인,화물,자가용,1480642E11CB4A3C384AC20C3BF30DC8,KNCSE03428K293267,20071214,2008,...,5110.0,1740.0,1995.0,대한민국,N,20071119,NaN,M,19/06/22,NaN
976717,KNCSE06438K293750-01,97너6863,4812311000,주민,화물,자가용,E1504A5AF08497A6A66E16C8D5685604,KNCSE06438K293750,20071214,2008,...,5120.0,1740.0,1995.0,대한민국,N,20071120,NaN,A,19/06/22,NaN
976869,KNCSE26458K293991-01,95저6110,4579039023,주민,화물,자가용,D6A74E1D2DDF8398E08AFB591ADDE7A2,KNCSE26458K293991,20071214,2008,...,4805.0,1740.0,2105.0,대한민국,N,20071120,NaN,M,19/06/22,NaN

In [38]:
car4[car4['배출가스인증번호'] == emis_no]['차명']

79          봉고Ⅲ 1톤
190         봉고Ⅲ 1톤
305       봉고Ⅲ 4륜구동
2122       봉고Ⅲ 운교차
2123       봉고Ⅲ 운교차
            ...
976028      봉고Ⅲ 1톤
976175      봉고Ⅲ 1톤
976435      봉고Ⅲ 1톤
976717      봉고Ⅲ 1톤
976869    봉고Ⅲ 4륜구동
Name: 차명, Length: 92265, dtype: object

In [39]:
car4[(car4['배출가스인증번호'] == emis_no) & (car4['차명'] == '봉고Ⅲ 1톤')]

,차량관리번호,차량등록번호,본거지법정동코드,소유자구분,차종_등록정보,용도,현재회원번호,차대번호,최초등록일자,차량연식,...,차량길이,차량너비,차량높이,원산지명,삭제YN,승인일자,구동형식,변속기종류,생성일시_제원정보,수정일시_제원정보
79,KNCSE01428K315472-01,92고0583,4119012000,주민,화물,자가용,54E781A5FC493011075DE3D29A3F0180,KNCSE01428K315472,20190806,2008,...,5120.0,1740.0,1995.0,대한민국,N,20071119,NaN,M,19/06/22,NaN
190,KNCSE03429K378300-02,54마8843,4122025041,기타,승용,자가용,8AF5C09CCB2C0E520222D0457F5534A5,KNCSE03429K378300,20190118,2009,...,5110.0,1740.0,1995.0,대한민국,N,20190118,NaN,M,19/06/22,NaN
3284,KNCSJX74AAK508554-01,87머4674,4521010500,법인,화물,자가용,24BCF33B5D35AAE4BFAAFFE3901C8E03,KNCSJX74AAK508554,20130610,2010,...,5120.0,1740.0,1995.0,대한민국,N,20090519,NaN,M,19/06/22,NaN
3368,KNCSJX74ABK602447-01,83노9496,4146510700,주민,화물,자가용,E9DB6C0DA6E926FFC1371968B4A66B2B,KNCSJX74ABK602447,20130304,2011,...,5120.0,1740.0,1995.0,대한민국,N,20100727,NaN,M,19/06/22,NaN
5984,KNCSJY74ACK641956-01,87보6102,4121010100,주민,화물,자가용,AF02FD93196F974DB716085E4B00619B,KNCSJY74ACK641956,20120529,2012,...,5120.0,1740.0,1995.0,대한민국,N,20110715,NaN,M,19/06/22,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
975934,KNCSE03428K293265-01,90우7790,4150031030,법인,화물,자가용,E57BF8EC7B8CFB408767351C13C64B02,KNCSE03428K293265,20071217,2008,...,5110.0,1740.0,1995.0,대한민국,N,20071119,NaN,M,19/06/22,NaN
976028,KNCSE06438K294042-01,83나3956,4623025022,주민,화물,자가용,A509D92BCC01F038B10A7E43BC0D9083,KNCSE06438K294042,20071217,2008,...,5120.0,1740.0,1995.0,대한민국,N,20071120,NaN,A,19/06/22,NaN
976175,KNCSE03438K294169-01,87누8529,4691025000,주민,화물,자가용,88766D64087D0A6BCA98FAF5DBC2F128,KNCSE03438K294169,20071214,2008,...,5110.0,1740.0,1995.0,대한민국,N,20071119,NaN,A,19/06/22,NaN
976435,KNCSE03428K293267-01,95저6346,4613013500,법인,화물,자가용,1480642E11CB4A3C384AC20C3BF30DC8,KNCSE03428K293267,20071214,2008,...,5110.0,1740.0,1995.0,대한민국,N,20071119,NaN,M,19/06/22,NaN
976717,KNCSE06438K293750-01,97너6863,4812311000,주민,화물,자가용,E1504A5AF08497A6A66E16C8D5685604,KNCSE06438K293750,20071214,2008,...,5120.0,1740.0,1995.0,대한민국,N,20071120,NaN,A,19/06/22,NaN

In [56]:
emis_no = '8MY-KM-13'
temp = []
for one in car4['배출가스인증번호']:
    if emis_no in str(one):
        temp.append(one)
len(temp), len(set(temp))

(92265, 1)

## [로드] [G3]등록정보&제원정보

In [41]:
# about 2m 10s
file_name = '[ODS][G3]등록정보&제원정보(말소제거)(중복차대제거)(한글컬럼)(2022.12.29).csv'
car_path = os.path.join(ods_fold, file_name)
car3 = pd.read_csv(car_path, low_memory=False)
car3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8759209 entries, 0 to 8759208
Data columns (total 49 columns):
 #   Column        Dtype
---  ------        -----
 0   차량관리번호        object
 1   차량등록번호        object
 2   본거지법정동코드      int64
 3   소유자구분         object
 4   차종_등록정보       object
 5   용도            object
 6   현재회원번호        object
 7   차대번호          object
 8   최초등록일자        int64
 9   차량연식          int64
 10  차량제작일자        float64
 11  배출가스검사유효일자    float64
 12  제원관리번호        object
 13  배출가스인증번호      object
 14  배출가스등급        object
 15  저공해조치YN(미사용)  object
 16  저공해조치종류       float64
 17  저공해조치구조변경YN   object
 18  차량등록번호숫자정보    int64
 19  차량말소YN        object
 20  최초회원번호        object
 21  취득일자          float64
 22  취득금액          float64
 23  생성일시_등록정보     object
 24  수정일시_등록정보     object
 25  차명            object
 26  차종_제원정보       object
 27  차종분류          object
 28  차종유형(소분류)     object
 29  자동차형식         object
 30  제작사명          object
 31  연료            object
 32  엔진형식          object
 33  공차중량          float64
 34  총중량           float64
 35  적재중량          float64
 36  엔진출력          float64
 37  배기량           float64
 38  승차인원          float64
 39  차량길이          float64
 40  차량너비          float64
 41  차량높이          float64
 42  원산지명          object
 43  삭제YN          object
 44  승인일자          float64
 45  구동형식          float64
 46  변속기종류         object
 47  생성일시_제원정보     object
 48  수정일시_제원정보     object
dtypes: float64(16), int64(4), object(29)
memory usage: 3.2+ GB

In [44]:
cond2 = car3[car3['배출가스인증번호'] == emis_no]
cond2

,차량관리번호,차량등록번호,본거지법정동코드,소유자구분,차종_등록정보,용도,현재회원번호,차대번호,최초등록일자,차량연식,...,차량길이,차량너비,차량높이,원산지명,삭제YN,승인일자,구동형식,변속기종류,생성일시_제원정보,수정일시_제원정보
602696,KNCSJZ74AAK481682-01,85가8597,4215011600,주민,화물,자가용,5410393F5BB2651DEE4BA3AC09787FF9,KNCSJZ74AAK481682,20210317,2010,...,5110.0,1740.0,1995.0,대한민국,N,20090519.0,NaN,M,19/06/22,NaN
602722,KNFSE04429K373147-01,85가8320,4825012600,주민,화물,자가용,30CDD5F8EFBA7B5BDC8AF36FBB65CB79,KNFSE04429K373147,20210317,2009,...,5100.0,1740.0,1995.0,대한민국,N,20080605.0,NaN,M,19/06/22,NaN
603114,KNCSGX74BBK538164-01,85가8344,4775035033,주민,화물,자가용,3C316CA467EAD79E2A12144DB02ABDCB,KNCSGX74BBK538164,20210317,2011,...,4820.0,1740.0,1995.0,대한민국,N,20100727.0,NaN,A,19/06/22,NaN
603115,KNCSGZ74BCK644332-01,85가8346,1147010300,주민,화물,자가용,709F4599AD45001D1037F2951EE552FB,KNCSGZ74BCK644332,20210317,2012,...,4785.0,1740.0,1995.0,대한민국,N,20110715.0,NaN,A,19/06/22,NaN
603116,KNCSGZ74BCK646440-01,90너4791,4679025030,주민,화물,자가용,C3513DC9C1E127B6D26325B95C629AEA,KNCSGZ74BCK646440,20210317,2012,...,4785.0,1740.0,1995.0,대한민국,N,20110715.0,NaN,A,19/06/22,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7678086,KNFSE04429K354410-01,85무2535,2729011200,주민,화물,자가용,6E447E4C921BB847EB7C128D20CA1593,KNFSE04429K354410,20081010,2009,...,5100.0,1740.0,1995.0,대한민국,N,20080605.0,NaN,M,19/06/22,NaN
7678457,KNFSE04429K349855-01,94로2539,4480025021,주민,화물,자가용,A816BDEB714EA8CF44BF5DB217B1040F,KNFSE04429K349855,20081009,2009,...,5100.0,1740.0,1995.0,대한민국,N,20080605.0,NaN,M,19/06/22,NaN
7678487,KNFSE04429K349852-01,92다9935,4577025025,주민,화물,자가용,F738F470E2BB5748A055316C991F7DFE,KN90J4MDD9AZ00006,20081008,2009,...,5100.0,1740.0,1995.0,대한민국,N,20080605.0,NaN,M,19/06/22,NaN
7679253,KNFSE04429K349821-01,83러4254,4136025600,법인,화물,자가용,13326FD01D6811892379B22F5F89E937,KNFSE04429K349821,20081002,2009,...,5100.0,1740.0,1995.0,대한민국,N,20080605.0,NaN,M,19/06/22,NaN
7683325,KNFSE04429K349853-01,80수4616,4793031031,주민,화물,자가용,7C6E0E25F316FCA23ADE49689CEECD89,KNFSE04429K349853,20080904,2009,...,5100.0,1740.0,1995.0,대한민국,N,20080605.0,NaN,M,19/06/22,NaN

In [45]:
cond2['차명'].unique()

array(['봉고Ⅲ 1톤', '봉고Ⅲ 파워게이트'], dtype=object)

In [47]:
car3[(car3['배출가스인증번호'] == emis_no) & (car3['차명'] == '봉고Ⅲ 1톤')]

,차량관리번호,차량등록번호,본거지법정동코드,소유자구분,차종_등록정보,용도,현재회원번호,차대번호,최초등록일자,차량연식,...,차량길이,차량너비,차량높이,원산지명,삭제YN,승인일자,구동형식,변속기종류,생성일시_제원정보,수정일시_제원정보
602696,KNCSJZ74AAK481682-01,85가8597,4215011600,주민,화물,자가용,5410393F5BB2651DEE4BA3AC09787FF9,KNCSJZ74AAK481682,20210317,2010,...,5110.0,1740.0,1995.0,대한민국,N,20090519.0,NaN,M,19/06/22,NaN
603114,KNCSGX74BBK538164-01,85가8344,4775035033,주민,화물,자가용,3C316CA467EAD79E2A12144DB02ABDCB,KNCSGX74BBK538164,20210317,2011,...,4820.0,1740.0,1995.0,대한민국,N,20100727.0,NaN,A,19/06/22,NaN
603115,KNCSGZ74BCK644332-01,85가8346,1147010300,주민,화물,자가용,709F4599AD45001D1037F2951EE552FB,KNCSGZ74BCK644332,20210317,2012,...,4785.0,1740.0,1995.0,대한민국,N,20110715.0,NaN,A,19/06/22,NaN
603116,KNCSGZ74BCK646440-01,90너4791,4679025030,주민,화물,자가용,C3513DC9C1E127B6D26325B95C629AEA,KNCSGZ74BCK646440,20210317,2012,...,4785.0,1740.0,1995.0,대한민국,N,20110715.0,NaN,A,19/06/22,NaN
603467,KNCSJZ74AAK505714-01,85가8370,2644011700,주민,화물,자가용,14A58C2BFD23F23CD0403152638258EA,KNCSJZ74AAK505714,20210317,2010,...,5110.0,1740.0,1995.0,대한민국,N,20090519.0,NaN,M,19/06/22,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7633070,KNCSJZ74AAK413023-01,97부1615,4272032021,주민,화물,자가용,67C10C3BB79081E0F05E05EE1004EBFE,KNCSJZ74AAK413023,20090710,2010,...,5110.0,1740.0,1995.0,대한민국,N,20090519.0,NaN,M,19/06/22,NaN
7633171,KNCSJZ74AAK413443-01,88고3165,3120011000,법인,화물,자가용,557441FB5A8099E1640289CBF560BE6E,KNCSJZ74AAK413443,20090710,2010,...,5110.0,1740.0,1995.0,대한민국,N,20090519.0,NaN,M,19/06/22,NaN
7633291,KNCSJZ74AAK413052-01,87서9559,2914012800,주민,화물,자가용,8223EE9C676DB606306E51DDF3F345E5,KNCSJZ74AAK413052,20090710,2010,...,5110.0,1740.0,1995.0,대한민국,N,20090519.0,NaN,M,19/06/22,NaN
7633378,KNCSJZ74AAK412988-01,86수5603,2623010200,주민,화물,자가용,D8DF1940EC813D26FE5D20EC7E962CFA,KNCSJZ74AAK412988,20090710,2010,...,5110.0,1740.0,1995.0,대한민국,N,20090519.0,NaN,M,19/06/22,NaN
7633379,KNCSJY74BAK413473-01,80우5731,1171010800,사업자,화물,자가용,E69C59E4ABFCF45F8799301BB38A55B5,KNCSJY74BAK413473,20090710,2010,...,5120.0,1740.0,1995.0,대한민국,N,20090519.0,NaN,A,19/06/22,NaN

## [로드] [G4]정기, 정밀

In [57]:
# about 13s
grade = 4
file_name = f'[ODS][G{grade}]정기검사(말소제거)(2022.12.29).csv'
ins_path = os.path.join(ods_fold, file_name)
ins = pd.read_csv(ins_path, low_memory=False)
ins.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2563244 entries, 0 to 2563243
Data columns (total 38 columns):
 #   Column     Dtype
---  ------     -----
 0   사용연료       object
 1   주행거리       float64
 2   차명         object
 3   차량번호       object
 4   차종         object
 5   차량연식       float64
 6   검사방법       object
 7   이산화탄소값     float64
 8   최대출력허용치    float64
 9   최대출력측정값    float64
 10  엔진형식       object
 11  검사접수번호     object
 12  정기검사일자     float64
 13  검사종류       object
 14  검사소명       object
 15  검사판정시각     object
 16  정기검사판정     object
 17  산소값        float64
 18  재검사기간      object
 19  무부하매연판정1   object
 20  무부하매연판정2   object
 21  무부하매연판정3   object
 22  무부하매연판정4   object
 23  무부하매연판정5   object
 24  무부하매연판정6   object
 25  무부하매연허용치1  float64
 26  무부하매연허용치2  float64
 27  무부하매연허용치3  float64
 28  무부하매연허용치4  float64
 29  무부하매연허용치5  float64
 30  무부하매연허용치6  float64
 31  무부하매연측정치1  float64
 32  무부하매연측정치2  float64
 33  무부하매연측정치3  float64
 34  무부하매연측정치4  float64
 35  무부하매연측정치5  float64
 36  무부하매연측정치6  float64
 37  차량용도       object
dtypes: float64(19), object(19)
memory usage: 743.1+ MB

## [로드] [G3]정기, 정밀

In [ ]:
# about 13s
grade = 3
file_name = f'[ODS][G{grade}]정기검사(말소제거)(2022.12.29).csv'
ins_path = os.path.join(ods_fold, file_name)
ins = pd.read_csv(ins_path, low_memory=False)
ins.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2563244 entries, 0 to 2563243
Data columns (total 38 columns):
 #   Column     Dtype
---  ------     -----
 0   사용연료       object
 1   주행거리       float64
 2   차명         object
 3   차량번호       object
 4   차종         object
 5   차량연식       float64
 6   검사방법       object
 7   이산화탄소값     float64
 8   최대출력허용치    float64
 9   최대출력측정값    float64
 10  엔진형식       object
 11  검사접수번호     object
 12  정기검사일자     float64
 13  검사종류       object
 14  검사소명       object
 15  검사판정시각     object
 16  정기검사판정     object
 17  산소값        float64
 18  재검사기간      object
 19  무부하매연판정1   object
 20  무부하매연판정2   object
 21  무부하매연판정3   object
 22  무부하매연판정4   object
 23  무부하매연판정5   object
 24  무부하매연판정6   object
 25  무부하매연허용치1  float64
 26  무부하매연허용치2  float64
 27  무부하매연허용치3  float64
 28  무부하매연허용치4  float64
 29  무부하매연허용치5  float64
 30  무부하매연허용치6  float64
 31  무부하매연측정치1  float64
 32  무부하매연측정치2  float64
 33  무부하매연측정치3  float64
 34  무부하매연측정치4  float64
 35  무부하매연측정치5  float64
 36  무부하매연측정치6  float64
 37  차량용도       object
dtypes: float64(19), object(19)
memory usage: 743.1+ MB

### [출력]

In [53]:
# about 1m 15s
g4dc_fold = 'C:/Users/kbjung/Documents/GitHub/wabotech/car_big_data_2/analysis2/4등급_데이터_점검'
file_name = '[BD1]4등급_데이터_점검(8MY-KM-13-19).xlsx'
g4dc_path = os.path.join(g4dc_fold, file_name)
with pd.ExcelWriter(g4dc_path) as writer:
    emis[emis['배출가스 인증번호'] == '8MY-KM-13-19'].to_excel(writer, sheet_name='배출가스인증 자동차정보', index=False)
    cond1.to_excel(writer, sheet_name='4등급등록제원', index=False)
    cond2.to_excel(writer, sheet_name='3등급등록제원', index=False)