# Library

In [94]:
import pandas as pd
import numpy as np
import os
from tqdm import tqdm
from datetime import datetime

In [2]:
# 소수점 옵션
pd.options.display.float_format = '{:.2f}'.format
# pd.reset_option('display.float_format')

# fold path

In [3]:
drive = 'D'

In [32]:
ods_fold = f'{drive}:/data/big2/ODS'
big2_fold = f'{drive}:/data/big2'
analysis_fold = f'{drive}:/data/big2/BD3/an'

# Load

## 등록&제원정보

In [37]:
# about 
name = '[ODS]등록정보&제원정보(2022.12.28)'
file_name = f'{name}.csv'
car = pd.read_csv(os.path.join(ods_fold, file_name), low_memory=False, encoding='cp949')
car.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1898816 entries, 0 to 1898815
Data columns (total 49 columns):
 #   Column        Dtype
---  ------        -----
 0   차량관리번호        object
 1   차량등록번호        object
 2   본거지법정동코드      int64
 3   소유자구분         object
 4   차종_등록정보       object
 5   용도            object
 6   현재회원번호        object
 7   차대번호          object
 8   최초등록일자        int64
 9   차량연식          int64
 10  차량제작일자        float64
 11  배출가스검사유효일자    float64
 12  제원관리번호        object
 13  배출가스인증번호      object
 14  배출가스등급        object
 15  저공해조치YN(미사용)  object
 16  저공해조치종류       float64
 17  저공해조치구조변경YN   object
 18  차량등록번호숫자정보    int64
 19  차량말소YN        object
 20  최초회원번호        object
 21  취득일자          object
 22  취득금액          float64
 23  생성일시_등록정보     object
 24  수정일시_등록정보     object
 25  차명            object
 26  차종_제원정보       object
 27  차종분류          object
 28  차종유형(소분류)     object
 29  자동차형식         object
 30  제작사명          object
 31  연료            object
 32  엔진형식          object
 33  공차중량          float64
 34  총중량           float64
 35  적재중량          float64
 36  엔진출력          float64
 37  배기량           float64
 38  승차인원          float64
 39  차량길이          float64
 40  차량너비          float64
 41  차량높이          float64
 42  원산지명          object
 43  삭제YN          object
 44  승인일자          object
 45  구동형식          float64
 46  변속기종류         object
 47  생성일시_제원정보     object
 48  수정일시_제원정보     object
dtypes: float64(14), int64(4), object(31)
memory usage: 709.9+ MB

## 노후차 조기폐차 관리정보 수도권

In [8]:
# about 42.0s
name = '[ODS]노후차_조기폐차_관리정보_수도권(2022.12.28)'
file_name = f'{name}.csv'
aea = pd.read_csv(os.path.join(ods_fold, file_name), low_memory=False, encoding='cp949')
aea.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 770311 entries, 0 to 770310
Columns: 177 entries, ELPDSRC_MNGT_NO to PFMINPC_ELPDSRC_GNRLZ_RESN
dtypes: float64(56), int64(3), object(118)
memory usage: 1.0+ GB

In [92]:
aea.columns.to_list()

['ELPDSRC_MNGT_NO',
 '조기폐차상태코드',
 '저감장치구분',
 'INST_ID_CD',
 'OWNR_NM',
 'USER_BIZRNO',
 'USER_TELNO',
 'FXNUM',
 'USER_ZIP',
 'USER_1_ADRS',
 'USER_2_ADRS',
 '접수시도',
 'RCPT_SIGNGU',
 '차량등록번호',
 '차대번호',
 'VHCL_YRIDNW',
 'EGINCTY',
 'VHCL_PSCP',
 'VHCL_WGHT',
 'TOT_WGHT',
 'CRYNG_WGHT',
 'VHCNM',
 'VHCL_FRM',
 'VHCTY',
 'VHCL_PURPS',
 'FST_REG_DE',
 '폐차등록주행거리',
 'SCRCAR_ERA_DRVNG_DSTNC',
 'VHCL_FUEL',
 'PRCINSP_DE',
 'INSPOF_NM',
 'PRCINSP_JDGMNT_YN',
 'PRCINSP_RSLT_VAL',
 'PRCINSP_JDGMNT_STDR_VAL',
 'RCPT_DE',
 'INPT_DE',
 'RETR_NM',
 'SBSIDY_TRGT_YN',
 'ELPDSRC_TRGT_1_AT',
 'ELPDSRC_TRGT_2_AT',
 'ELPDSRC_TRGT_3_AT',
 'ELPDSRC_TRGT_4_AT',
 'ELPDSRC_TRGT_5_AT',
 'ELPDSRC_TRGT_6_AT',
 'ELPDSRC_TRGT_7_AT',
 'ELPDSRC_TRGT_CNFRM_REG_DE',
 'ELPDSRC_TRGT_CNFRM_REGR_NM',
 'PYMT_CNFRM_YN',
 'EXPC_SPRT_AMT',
 'DCIS_SPRT_AMT',
 'SBSIDY_UNPAY_RESN',
 'SBSIDY_RQEST_DE',
 'SBSIDY_RQEST_REGR_NM',
 'DOC_CNFRM_NO',
 'DOC_OUTT_DE',
 'INSP_RQT_SIWA_MTHD',
 'INSP_RQT_DE',
 'INSP_RQT_TM',
 'VRSC_ENTRPS_NM',
 'AGENT_ZIP',
 'AGENT_1_ADRS',
 'AGENT_2_ADRS',
 'AGENT_TELNO',
 'AGENT_CRTC_NO',
 'INSP_RQT_REG_DE',
 'INSP_RQT_REGR_NM',
 'PFMINPC_DE',
 'PFMINPC_1_ITM',
 'PFMINPC_2_ITM',
 'PFMINPC_3_ITM',
 'PFMINPC_4_ITM',
 'PFMINPC_5_ITM',
 'PFMINPC_ETC_ITM',
 'PFMINPC_ITM_ETC_CMPNT_NM',
 'PFMINPC_FILE_ATT_YN',
 'PFMINPC_ELPDSRC_YN',
 'PFMINPC_ELPDSRC_IMPSBL_RESN',
 'PFMINPC_REG_DE',
 'PFMINPC_REGR_NM',
 'PFMINPC_PAPE_OUTT_DE',
 'TRTMNT_DE',
 '말소일자',
 'NCAR_PUCH_PLAN_DE',
 'NCAR_PUCH_PLAN_VHCL_NM',
 'SCRCAR_ENTRPS_NM',
 'SCRCAR_ENTRPS_ZIP',
 'SCRCAR_ENTRPS_1_ADRS',
 'SCRCAR_ENTRPS_2_ADRS',
 'ELPDSRC_ATT_FILE_1_YN',
 'ELPDSRC_ATT_FILE_2_YN',
 'ELPDSRC_ATT_FILE_3_YN',
 'ELPDSRC_REG_DE',
 'ELPDSRC_REGR_NM',
 '조기폐차최종승인YN',
 'ELPDSRC_LST_UNAP_RESN',
 'SBSIDY_PYMT_DE',
 'SBSIDY_BIZ_YR',
 'ELPDSRC_LST_CNFRM_DE',
 'ELPDSRC_LST_APRR_NM',
 'LST_CHNG_DE',
 'LST_EDIR_NM',
 'LWBCT_YN',
 'NOW_VHRNO',
 'ELPDSRC_ATT_FILE_4_YN',
 'BANK_NM',
 'BANK_ACC_NO',
 'PRCINSP_SE',
 'RCPT_LOCGOV_CD',
 'RPRSTV_NM',
 'BIZCND',
 'TYPBIZ',
 'EMAIL',
 'RCPT_SE',
 'INSP_SE',
 'ELPDSRC_TRGT_AT_ETC_RESN',
 'HST_MNGT_NO',
 'CTNT',
 'VHCTY_SE',
 'ELPDSRC_GRP',
 'BTHDY',
 'JURIRNO',
 'STDR_YM',
 'STDR_AMT',
 'WHL_EXCS_CNFRM_DE',
 'WHL_EXCS_APRR_NM',
 'MNFCT_DE',
 'OLD_SIDO',
 'OLD_SIGNGU',
 'OLD_RCPT_LOCGOV_CD',
 'OLD_1_ADRS',
 'OLD_2_ADRS',
 'OLD_VHCL_PURPS',
 'BAI_ID',
 'ADITOR_NM',
 'REG_NO',
 'RQEST_ARVL_DE',
 'RQEST_ARVL_YN',
 'BIL_CNFRMR_NM',
 'ADD_AMT',
 'SAMNS_CNFRM',
 'ADD_RQEST_ARVL_YN',
 'ADD_RQEST_ARVL_DE',
 'ADD_RQEST_CNFRMR_NM',
 'ATT_PAPE_CNFRM_AT',
 'BEF_STUS_CD',
 'WAREHOUSING_DE',
 'WAREHOUSING_YN',
 '저감장치 미개발(부착불가)여부',
 'MNTNG_IMPR_AMT',
 'ELPDSRC_ATT_FILE_5_YN',
 'ELPDSRC_VRSC_INST_NO',
 'SMAL_BUSIN_YN',
 'INPT_MTHD_FLAG',
 'ELPDSRC_ATT_FILE_7_YN',
 'STNDRD',
 'ENGINE_RPM',
 'MAKER',
 'CAR_GRADE',
 'AID_RJCT_DE',
 'IMG_LGCLFL1',
 'IMG_PHYSCL1',
 'IMG_LGCLFL2',
 'IMG_PHYSCL2',
 'IMG_LGCLFL3',
 'IMG_PHYSCL3',
 'IMG_LGCLFL4',
 'IMG_PHYSCL4',
 'PRE_SCRAP_CAR_YN',
 'DEP_YN',
 'VIRT_ACC_NO',
 'ELCTY_HYDRO_CAR_ADD_AMT',
 'PFMINPC_ITSL_APPRNC',
 'PFMINPC_BUFFER_DVICE',
 'PFMINPC_WINDOW',
 'PFMINPC_TIRE',
 'PFMINPC_ASSMI_DEVICE',
 'PFMINPC_ELPDSRC_GNRLZ_RESN']

## 노후차 조기폐차 관리정보 수도권 외

In [9]:
# about 11.6s
name = '[ODS]노후차_조기폐차_관리정보_수도권외(2022.12.28)'
file_name = f'{name}.csv'
lgv = pd.read_csv(os.path.join(ods_fold, file_name), low_memory=False, encoding='cp949')
lgv.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 291353 entries, 0 to 291352
Columns: 170 entries, ELPDSRC_MNGT_NO to PFMINPC_ELPDSRC_GNRLZ_RESN
dtypes: float64(71), int64(4), object(95)
memory usage: 377.9+ MB

In [93]:
lgv.columns.to_list()

['ELPDSRC_MNGT_NO',
 '조기폐차상태코드',
 '저감장치구분',
 'INST_ID_CD',
 'OWNR_NM',
 'USER_BIZRNO',
 'USER_TELNO',
 'FXNUM',
 'USER_ZIP',
 'USER_1_ADRS',
 'USER_2_ADRS',
 '접수시도',
 'RCPT_SIGNGU',
 '차량등록번호',
 '차대번호',
 'VHCL_YRIDNW',
 'EGINCTY',
 'VHCL_PSCP',
 'VHCL_WGHT',
 'TOT_WGHT',
 'CRYNG_WGHT',
 'VHCNM',
 'VHCL_FRM',
 'VHCTY',
 'VHCL_PURPS',
 'FST_REG_DE',
 '폐차등록주행거리',
 'SCRCAR_ERA_DRVNG_DSTNC',
 'VHCL_FUEL',
 'PRCINSP_DE',
 'INSPOF_NM',
 'PRCINSP_JDGMNT_YN',
 'PRCINSP_RSLT_VAL',
 'PRCINSP_JDGMNT_STDR_VAL',
 'RCPT_DE',
 'INPT_DE',
 'RETR_NM',
 'SBSIDY_TRGT_YN',
 'ELPDSRC_TRGT_1_AT',
 'ELPDSRC_TRGT_2_AT',
 'ELPDSRC_TRGT_3_AT',
 'ELPDSRC_TRGT_4_AT',
 'ELPDSRC_TRGT_5_AT',
 'ELPDSRC_TRGT_6_AT',
 'ELPDSRC_TRGT_7_AT',
 'ELPDSRC_TRGT_CNFRM_REG_DE',
 'ELPDSRC_TRGT_CNFRM_REGR_NM',
 'PYMT_CNFRM_YN',
 'EXPC_SPRT_AMT',
 'DCIS_SPRT_AMT',
 'SBSIDY_UNPAY_RESN',
 'SBSIDY_RQEST_DE',
 'SBSIDY_RQEST_REGR_NM',
 'DOC_CNFRM_NO',
 'DOC_OUTT_DE',
 'INSP_RQT_SIWA_MTHD',
 'INSP_RQT_DE',
 'INSP_RQT_TM',
 'VRSC_ENTRPS_NM',
 'AGENT_ZIP',
 'AGENT_1_ADRS',
 'AGENT_2_ADRS',
 'AGENT_TELNO',
 'AGENT_CRTC_NO',
 'INSP_RQT_REG_DE',
 'INSP_RQT_REGR_NM',
 'PFMINPC_DE',
 'PFMINPC_1_ITM',
 'PFMINPC_2_ITM',
 'PFMINPC_3_ITM',
 'PFMINPC_4_ITM',
 'PFMINPC_5_ITM',
 'PFMINPC_ETC_ITM',
 'PFMINPC_ITM_ETC_CMPNT_NM',
 'PFMINPC_FILE_ATT_YN',
 'PFMINPC_ELPDSRC_YN',
 'PFMINPC_ELPDSRC_IMPSBL_RESN',
 'PFMINPC_REG_DE',
 'PFMINPC_REGR_NM',
 'PFMINPC_PAPE_OUTT_DE',
 'TRTMNT_DE',
 '말소일자',
 'NCAR_PUCH_PLAN_DE',
 'NCAR_PUCH_PLAN_VHCL_NM',
 'SCRCAR_ENTRPS_NM',
 'SCRCAR_ENTRPS_ZIP',
 'SCRCAR_ENTRPS_1_ADRS',
 'SCRCAR_ENTRPS_2_ADRS',
 'ELPDSRC_ATT_FILE_1_YN',
 'ELPDSRC_ATT_FILE_2_YN',
 'ELPDSRC_ATT_FILE_3_YN',
 'ELPDSRC_REG_DE',
 'ELPDSRC_REGR_NM',
 '조기폐차최종승인YN',
 'ELPDSRC_LST_UNAP_RESN',
 'SBSIDY_PYMT_DE',
 'SBSIDY_BIZ_YR',
 'ELPDSRC_LST_CNFRM_DE',
 'ELPDSRC_LST_APRR_NM',
 'LST_CHNG_DE',
 'LST_EDIR_NM',
 'LWBCT_YN',
 'NOW_VHRNO',
 'ELPDSRC_ATT_FILE_4_YN',
 'BANK_NM',
 'BANK_ACC_NO',
 'PRCINSP_SE',
 'RCPT_LOCGOV_CD',
 'RPRSTV_NM',
 'BIZCND',
 'TYPBIZ',
 'EMAIL',
 'RCPT_SE',
 'INSP_SE',
 'ELPDSRC_TRGT_AT_ETC_RESN',
 'HST_MNGT_NO',
 'CTNT',
 'VHCTY_SE',
 'ELPDSRC_GRP',
 'BTHDY',
 'JURIRNO',
 'STDR_YM',
 'STDR_AMT',
 'WHL_EXCS_CNFRM_DE',
 'WHL_EXCS_APRR_NM',
 'MNFCT_DE',
 'OLD_SIDO',
 'OLD_SIGNGU',
 'OLD_RCPT_LOCGOV_CD',
 'OLD_1_ADRS',
 'OLD_2_ADRS',
 'OLD_VHCL_PURPS',
 'BAI_ID',
 'ADITOR_NM',
 'REG_NO',
 'RQEST_ARVL_DE',
 'RQEST_ARVL_YN',
 'BIL_CNFRMR_NM',
 'ADD_AMT',
 'SAMNS_CNFRM',
 'ADD_RQEST_ARVL_YN',
 'ADD_RQEST_ARVL_DE',
 'ADD_RQEST_CNFRMR_NM',
 'ATT_PAPE_CNFRM_AT',
 'BEF_STUS_CD',
 'WAREHOUSING_DE',
 'WAREHOUSING_YN',
 '저감장치 부착불가 여부',
 'MNTNG_IMPR_AMT',
 'ELPDSRC_ATT_FILE_5_YN',
 'SMAL_BUSIN_YN',
 'INPT_MTHD_FLAG',
 'ELPDSRC_ATT_FILE_7_YN',
 'AID_RJCT_DE',
 'IMG_LGCLFL1',
 'IMG_PHYSCL1',
 'IMG_LGCLFL2',
 'IMG_PHYSCL2',
 'IMG_LGCLFL3',
 'IMG_PHYSCL3',
 'IMG_LGCLFL4',
 'IMG_PHYSCL4',
 'PRE_SCRAP_CAR_YN',
 'ELCTY_HYDRO_CAR_ADD_AMT',
 'PFMINPC_ITSL_APPRNC',
 'PFMINPC_BUFFER_DVICE',
 'PFMINPC_WINDOW',
 'PFMINPC_TIRE',
 'PFMINPC_ASSMI_DEVICE',
 'PFMINPC_ELPDSRC_GNRLZ_RESN']

## 법정동 코드

In [48]:
# about 0.6s
name = '법정동코드_2022.10.14(수정2023.05.04)'
file_name = f'{name}.xlsx'
code = pd.read_excel(os.path.join(big2_fold, file_name))
code.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 46341 entries, 0 to 46340
Data columns (total 9 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   법정동코드     46341 non-null  int64
 1   시도        46341 non-null  object
 2   시구군       46318 non-null  object
 3   읍면동       45848 non-null  object
 4   리         33682 non-null  object
 5   지역3       0 non-null      float64
 6   폐지여부      46341 non-null  object
 7   대기관리권역    46341 non-null  object
 8   대기관리권역YN  46335 non-null  object
dtypes: float64(1), int64(1), object(7)
memory usage: 3.2+ MB

In [49]:
code.head()

        법정동코드  시도  시구군  읍면동    리  지역3 폐지여부 대기관리권역 대기관리권역YN
0  1100000000  서울  NaN  NaN  NaN  NaN   존재    수도권        Y
1  1111000000  서울  종로구  NaN  NaN  NaN   존재    수도권        Y
2  1111010100  서울  종로구  청운동  NaN  NaN   존재    수도권        Y
3  1111010200  서울  종로구  신교동  NaN  NaN   존재    수도권        Y
4  1111010300  서울  종로구  궁정동  NaN  NaN   존재    수도권        Y

In [50]:
code = code.rename(columns={'법정동코드':'본거지법정동코드'})
code.head()

     본거지법정동코드  시도  시구군  읍면동    리  지역3 폐지여부 대기관리권역 대기관리권역YN
0  1100000000  서울  NaN  NaN  NaN  NaN   존재    수도권        Y
1  1111000000  서울  종로구  NaN  NaN  NaN   존재    수도권        Y
2  1111010100  서울  종로구  청운동  NaN  NaN   존재    수도권        Y
3  1111010200  서울  종로구  신교동  NaN  NaN   존재    수도권        Y
4  1111010300  서울  종로구  궁정동  NaN  NaN   존재    수도권        Y

## 차명_연료_매칭

In [60]:
# about 0.1s
name = '차명_연료_매칭_2023.03.03_AM.11.12.03'
file_name = f'{name}.xlsx'
fuel = pd.read_excel(os.path.join(big2_fold, file_name))
fuel.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 216 entries, 0 to 215
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   차명      216 non-null    object
 1   연료      216 non-null    object
dtypes: object(2)
memory usage: 3.5+ KB

In [61]:
fuel.head()

             차명   연료
0     BENZ S500  휘발유
1           BMW  휘발유
2  BMW 3-SERIES  휘발유
3      BMW 318I  휘발유
4     BMW 325CI  휘발유

# 전처리

## 말소 차량 제거

In [40]:
g4['차량말소YN'].value_counts(dropna=False)

N    1511251
Y     387565
Name: 차량말소YN, dtype: int64

In [41]:
gm4 = g4.loc[g4['차량말소YN'] == 'N'].reset_index(drop=True)
gm4.shape

(1511251, 49)

In [42]:
gm4.columns

Index(['차량관리번호', '차량등록번호', '본거지법정동코드', '소유자구분', '차종_등록정보', '용도', '현재회원번호',
       '차대번호', '최초등록일자', '차량연식', '차량제작일자', '배출가스검사유효일자', '제원관리번호', '배출가스인증번호',
       '배출가스등급', '저공해조치YN(미사용)', '저공해조치종류', '저공해조치구조변경YN', '차량등록번호숫자정보',
       '차량말소YN', '최초회원번호', '취득일자', '취득금액', '생성일시_등록정보', '수정일시_등록정보', '차명',
       '차종_제원정보', '차종분류', '차종유형(소분류)', '자동차형식', '제작사명', '연료', '엔진형식', '공차중량',
       '총중량', '적재중량', '엔진출력', '배기량', '승차인원', '차량길이', '차량너비', '차량높이', '원산지명',
       '삭제YN', '승인일자', '구동형식', '변속기종류', '생성일시_제원정보', '수정일시_제원정보'],
      dtype='object')

In [43]:
gm4.shape

(1511251, 49)

## 시도, 시구군 정보 부착

In [51]:
dfg4 = gm4.merge(code, on='본거지법정동코드', how='left')
dfg4.shape

(1511251, 57)

In [52]:
dfg4[['시도', '시구군']].isnull().sum()

시도     0
시구군    5
dtype: int64

In [54]:
dfg4.loc[dfg4['시구군'].isnull() == True, ['본거지법정동코드', '시도', '시구군']]

          본거지법정동코드  시도  시구군
25785   3611000000  세종  NaN
66828   3611000000  세종  NaN
157322  3611000000  세종  NaN
175651  3611000000  세종  NaN
269793  3611000000  세종  NaN

## 연료 결측, 기타연료 수정

In [71]:
fuel_dict = {a:b for a, b in fuel.values}
fuel_dict

{'BENZ S500': '휘발유',
 'BMW': '휘발유',
 'BMW 3-SERIES': '휘발유',
 'BMW 318I': '휘발유',
 'BMW 325CI': '휘발유',
 'BMW 325I': '휘발유',
 'BMW 325i': '휘발유',
 'BMW 328I': '휘발유',
 'BMW 525I': '휘발유',
 'BMW 528I': '휘발유',
 'BMW 530I': '휘발유',
 'BMW 5SERIES': '휘발유',
 'BMW 750Li': '휘발유',
 'BMW X3': '휘발유',
 'BMW X5': '휘발유',
 'BMW Z3': '휘발유',
 'BMW530I': '휘발유',
 'BUICK CENTURY': '휘발유',
 'BUICK LESABRE': '휘발유',
 'BUICK TERRAZA': '휘발유',
 'CADILLAC CTS': '휘발유',
 'CHEVROLET IMPALA': '휘발유',
 'CHEVROLET PRIZM': '휘발유',
 'CHRYSLER': '휘발유',
 'CHRYSLER 300 LTD': '휘발유',
 'CHRYSLER 300C': '경유',
 'CHRYSLER HEMI AWD': '휘발유',
 'CHRYSLER PT CRUISER': '휘발유',
 'CHRYSLER TOWN & COUNTRY(7)': '휘발유',
 'CIELO': '휘발유',
 'CORSICA': '휘발유',
 'COUGAR': '휘발유',
 'DODGE CALIBER': '휘발유',
 'DODGE CARAVAN': '휘발유',
 'DODGE CHARGER': '휘발유',
 'DODGE DAKOTA': '휘발유',
 'DODGE DURANGO': '휘발유',
 'DODGE GRAND CARAVAN': '휘발유',
 'DODGE NEON SXT': '휘발유',
 'EF소나타': '휘발유',
 'ESCORT': '휘발유',
 'FIREBIRD': '휘발유',
 'FORD ESCAPE': '휘발유',
 'FORD EXPEDITION': '휘발유',
 'FORD EXPEDITION(8)': '휘발유',
 'FORD EXPLORER': '휘발유',
 'FORD FOCUS': '휘발유',
 'FORD FREESTYLE(7)': '휘발유',
 'FORD FUSION': '휘발유',
 'FORD MUSTANG': '휘발유',
 'FORD RANGER XLT': '경유',
 'FORD WINDSTAR': '휘발유',
 'G.M.C': '휘발유',
 'G20': '휘발유',
 'GMC': '휘발유',
 'GMC JIMMY': '휘발유',
 'GMC SIERRA': '휘발유',
 'HONDA ACCORD': '휘발유',
 'HONDA CR-V': '휘발유',
 'HONDA CR-V EX': '휘발유',
 'HONDA PILOT': '휘발유',
 'HYUNDAI PRESTO': '휘발유',
 'HYUNDAI SONATA': '휘발유',
 'HYUNDAI/SONATA': '휘발유',
 'INFINITI G37S': '휘발유',
 'JAGUAR X-TYPE': '휘발유',
 'JEEP GRAND CHEROKEE': '휘발유',
 'JEEP LIBERTY': '휘발유',
 'JEEP PATRIOT': '경유',
 'KIA OPTIMA': '휘발유',
 'KIA SEDONA': '휘발유',
 'LEXUS ES330': '휘발유',
 'LEXUS ES350': '휘발유',
 'LEXUS LS430': '휘발유',
 'LEXUS RS330': '휘발유',
 'LEXUS RX330': '휘발유',
 'LINCOLN MKX': '휘발유',
 'MAZDA MAZDA6': '휘발유',
 'MAZDA SENTA': '휘발유',
 'MERCEDES BENZ': '휘발유',
 'MERCEDES-BENZ': '휘발유',
 'MERCEDES-BENZ CLS 550': '경유',
 'MERCEDES-BENZ E-350': '휘발유',
 'MERCEDES-BENZ E-CLASS': '휘발유',
 'MERCEDES-BENZ R-CLASS 3500': '경유',
 'MERCEDES-BENZ S 500': '휘발유',
 'MERCEDES-BENZ S65': '경유',
 'MERCURY MILAN': '휘발유',
 'NEW 그랜저XG': '휘발유',
 'NISSAN MURANO': '휘발유',
 'NISSAN ROGUE 3.5': '휘발유',
 'NISSAN XTERRA': '휘발유',
 'OLDSMOBILE BRAVADA': '휘발유',
 'OLDSMOBILESILHOUET': '휘발유',
 'PLYMOUTH': '휘발유',
 'PONTIAC SUNBIRD': '휘발유',
 'PONTIAC VIBE': '휘발유',
 'PONTIAC VIBE BASE': '휘발유',
 'PORSCHE': '휘발유',
 'ROYALE': '휘발유',
 'ROYALSALON': '휘발유',
 'RX7': '휘발유',
 'SANTAFE': '휘발유',
 'SEPHIA': '휘발유',
 'SILHOUET': '휘발유',
 'SPORTAGE': '휘발유',
 'STAREX': '휘발유',
 'SUNDANCE': '휘발유',
 'TAURUS': '휘발유',
 'TOYOTA 4-RUNNER': '경유',
 'TOYOTA AVALON': '휘발유',
 'TOYOTA CAMRY하이브리드': '휘발유 하이브리드',
 'TOYOTA COROLLA': '휘발유',
 'TOYOTA ESTIIM': '휘발유',
 'TOYOTA MATRIX': '휘발유',
 'TOYOTA SIENNA': '휘발유',
 'TOYOTA SR-5': '휘발유',
 'VISION': '휘발유',
 'VOLKSWAGEN JETTA': '휘발유',
 'VOLVO 7G1': '휘발유',
 'VOLVO 960': '휘발유',
 'VOLVO S60': '휘발유',
 'VOLVO S80': '휘발유',
 'VOLVO T5': '휘발유',
 'VOLVO XC60': '휘발유',
 'VOLVO XC90': '휘발유',
 '구급차(도요다)': '경유',
 '그랜저2.0': '휘발유',
 '그랜저XG300L': '휘발유',
 '기아마스타': '경유',
 '뉴복사담프': '경유',
 '뉴비틀2.0': '휘발유',
 '닛산실비아2.0': '휘발유',
 '닛산씨마그로리아': '휘발유',
 '다임24KL에틸렌글리콜트레일러': '무동력',
 '다찌람밴': '휘발유',
 '대우11톤카고': '경유',
 '대우11톤카고트럭': '경유',
 '대우8톤카고': '경유',
 '대흥저상트레일러': '무동력',
 '도오다': '휘발유',
 '도요다MR2': '휘발유',
 '도요다세라': '휘발유',
 '도요다슈프라': '휘발유',
 '도요다웨곤엠브란스': '경유',
 '도요다코로나': '휘발유',
 '도요다크라운': '휘발유',
 '도요다크라운로얄싸롱': '휘발유',
 '도요타 프리우스(하이브리드)': '휘발유 하이브리드',
 '라비타(LAVITA)': '휘발유',
 '로얄살롱': '휘발유',
 '로얄살롱2.0AT': '휘발유',
 '르망': '휘발유',
 '르망펜타-5': '휘발유',
 '링컨MARK7': '경유',
 '맥스디젤삼방': '경유',
 '머큐리 세이블': '경유',
 '벤즈 230E': '휘발유',
 '벤즈230E': '휘발유',
 '벤츠 C300': '휘발유',
 '벤츠190E': '휘발유',
 '벤츠C280': '휘발유',
 '벤츠E230': '휘발유',
 '벤츠S320': '휘발유',
 '복사14': '휘발유',
 '브리샤2': '휘발유',
 '블루버드': '휘발유',
 '사파리': '휘발유',
 '새턴': '휘발유',
 '새한2.5톤카고': '경유',
 '새한버스': '경유',
 '셀리카-GT': '휘발유',
 '소나타': '휘발유',
 '소나타1800오토매틱': '휘발유',
 '수프라': '휘발유',
 '스텔라': '휘발유',
 '스텔라1.6CXL': '휘발유',
 '스텔라오토매틱': '휘발유',
 '시보레': '휘발유',
 '시보레카베리아': '휘발유',
 '쏘나타': '휘발유',
 '아시아AM707중형버스': '경유',
 '아큐라': '휘발유',
 '에스페로': '휘발유',
 '에어스트림탐지견수송트레일러': '무동력',
 '엑셀': '휘발유',
 '엑셀운전교습용차량': '휘발유',
 '원흥식 트럭': '경유',
 '인타담프': '경유',
 '일산 육륜': '경유',
 '제설차': '경유',
 '지프': '경유',
 '체로키': '휘발유',
 '캐피탈': '휘발유',
 '캠리': '휘발유',
 '코르시카': '휘발유',
 '코우거': '휘발유',
 '코티나디럭스': '휘발유',
 '코티나마크IV': '휘발유',
 '크로마터보i.e': '휘발유',
 '티코(TICO)': '휘발유',
 '포니': '휘발유',
 '포니2': '휘발유',
 '포니2-L.P.G': 'LPG(액화석유가스)',
 '포니2-LPG': 'LPG(액화석유가스)',
 '포르쉐': '휘발유',
 '프레스토오토매틱': '휘발유',
 '프레스토오토메틱': '휘발유',
 '프리무스': '휘발유 하이브리드',
 '한원40A콤비콘테이너트레일러': '무동력',
 '한원40피트구즈넥트레일러': '무동력',
 '현대3톤트럭': '경유',
 '현대리어엔진버스': '경유',
 '현대포터': '경유',
 '혼다 CR-V': '경유',
 '홍성캠핑트레일러': '무동력'}

In [65]:
dfg4.loc[((dfg4['연료'].isnull() == True) | (dfg4['연료'] == '기타연료')), '차명'].unique()

array(['스텔라오토매틱', '엑셀', '프레스토오토매틱', '엑셀운전교습용차량', '캐피탈', '크로마터보i.e', '체로키',
       '벤츠190E', '쏘나타', '코우거', '시보레', '에스페로', '사파리', '티코(TICO)', '새턴',
       '지프', '포르쉐', '시보레카베리아', '블루버드', '벤츠C280', '벤츠E230', '코르시카', '프리무스',
       '아큐라', '벤츠S320', '에어스트림탐지견수송트레일러', '수프라'], dtype=object)

In [72]:
for one in dfg4.loc[((dfg4['연료'].isnull() == True) | (dfg4['연료'] == '기타연료')), '차명'].unique():
    dfg4.loc[((dfg4['연료'].isnull() == True) | (dfg4['연료'] == '기타연료')) & (dfg4['차명'] == one), '연료'] = fuel_dict[one]

In [73]:
dfg4['연료'].value_counts(dropna=False)

경유             1152703
휘발유             332454
LPG(액화석유가스)      26090
알코올                  1
휘발유 하이브리드            1
CNG(압축천연가스)          1
무동력                  1
Name: 연료, dtype: int64

# 분석

In [88]:
# 내연기관차
stat = dfg4.loc[dfg4['연료'] != '무동력'].groupby(['대기관리권역', '시도', '대기관리권역YN'])['차대번호'].count().unstack()
stat

대기관리권역YN         N         Y
대기관리권역 시도
그 외    강원 56329.00       NaN
       제주 26652.00       NaN
남부권    광주      NaN  39363.00
       전남 44122.00  41944.00
동남권    경남 41503.00  75269.00
       경북 53241.00  63699.00
       대구      NaN  69055.00
       부산      NaN  76791.00
       울산      NaN  32487.00
수도권    경기 10093.00 352324.00
       서울      NaN 178540.00
       인천  1292.00  79399.00
중부권    대전      NaN  41638.00
       세종      NaN   8075.00
       전북 33505.00  39412.00
       충남  2844.00  82650.00
       충북 11061.00  49962.00

## [출력]대기관리권역별 4등급(말소 제거) 차량 현황

In [89]:
today_date = datetime.today().strftime("%Y.%m.%d_%p.%I.%M.%S")
today_date

'2023.05.04_AM.09.31.27'

In [90]:
stat.to_excel(os.path.join(analysis_fold, f'통계_4등급_내연기관차_대기관리권역별({today_date}).xlsx'))

# code end