# Library

In [2]:
import pandas as pd
import numpy as np
import os
from tqdm import tqdm
from datetime import datetime

In [3]:
# 소수점 옵션
pd.options.display.float_format = '{:.2f}'.format
# pd.reset_option('display.float_format')

# fold path

In [4]:
drive = 'D'

In [5]:
ods_fold = f'{drive}:/data/big2/ODS'
big2_fold = f'{drive}:/data/big2'
analysis_fold = f'{drive}:/data/big2/BD3/an'

# Load

## 등록&제원정보(4등급) result

In [121]:
# about 17.7s
name = '4등급_차량_리스트_양식_result(전체)_Grade_추가_1일평균주행거리_추가(2023.04.19_PM.02.25.59)'
file_name = f'{name}.csv'
g4 = pd.read_csv(os.path.join(ods_fold, file_name), low_memory=False)
g4.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1502235 entries, 0 to 1502234
Data columns (total 40 columns):
 #   Column      Non-Null Count    Dtype
---  ------      --------------    -----
 0   차대번호        1502235 non-null  object
 1   차량번호        1502235 non-null  object
 2   제원관리번호      1502235 non-null  object
 3   차종          1502235 non-null  object
 4   용도          1502235 non-null  object
 5   최초등록일       1502235 non-null  int64
 6   연식          1502235 non-null  int64
 7   제작일자        1335178 non-null  float64
 8   검사유효일       1502223 non-null  float64
 9   배출가스인증번호    1384783 non-null  object
 10  등급          1502235 non-null  int64
 11  차명          1502235 non-null  object
 12  차종분류        1502235 non-null  object
 13  차종유형        1502235 non-null  object
 14  자동차형식       1501958 non-null  object
 15  제작사명        1492590 non-null  object
 16  연료          1502235 non-null  object
 17  엔진형식        1500400 non-null  object
 18  총중량         1502234 non-null  float64
 19  적재중량        1501728 non-null  float64
 20  엔진출력        1501882 non-null  object
 21  배기량         1502231 non-null  float64
 22  법정동코드       1502235 non-null  int64
 23  시도명         1502235 non-null  object
 24  시군구명        1502235 non-null  object
 25  소유자구분       1502235 non-null  object
 26  말소여부        1502235 non-null  object
 27  일치유무        1153813 non-null  object
 28  인증번호 수정 유무  1151141 non-null  object
 29  배인번호_수정     1153813 non-null  object
 30  등급_수정       1502235 non-null  float64
 31  DPF유무_수정    1153813 non-null  object
 32  배출가스        1151141 non-null  object
 33  등급2         1151141 non-null  object
 34  DPF         1144315 non-null  object
 35  비고          46494 non-null    object
 36  Grade       1497711 non-null  object
 37  차령          1502235 non-null  int64
 38  시군구명_수정     1502235 non-null  object
 39  1일평균주행거리    1502235 non-null  float64
dtypes: float64(7), int64(5), object(28)
memory usage: 458.4+ MB

## 등록&제원정보(5등급)

In [145]:
# about 37.6s
name = '[ODS][G5]등록정보&제원정보(2022.12.28)'
file_name = f'{name}.csv'
g5 = pd.read_csv(os.path.join(ods_fold, file_name), low_memory=False, encoding='cp949')
g5.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2378648 entries, 0 to 2378647
Data columns (total 49 columns):
 #   Column        Dtype
---  ------        -----
 0   차량관리번호        object
 1   차량등록번호        object
 2   본거지법정동코드      int64
 3   소유자구분         object
 4   차종_등록정보       object
 5   용도            object
 6   현재회원번호        object
 7   차대번호          object
 8   최초등록일자        int64
 9   차량연식          int64
 10  차량제작일자        float64
 11  배출가스검사유효일자    float64
 12  제원관리번호        object
 13  배출가스인증번호      object
 14  배출가스등급        object
 15  저공해조치YN(미사용)  object
 16  저공해조치종류       float64
 17  저공해조치구조변경YN   object
 18  차량등록번호숫자정보    int64
 19  차량말소YN        object
 20  최초회원번호        object
 21  취득일자          float64
 22  취득금액          float64
 23  생성일시_등록정보     object
 24  수정일시_등록정보     object
 25  차명            object
 26  차종_제원정보       object
 27  차종분류          object
 28  차종유형(소분류)     object
 29  자동차형식         object
 30  제작사명          object
 31  연료            object
 32  엔진형식          object
 33  공차중량          float64
 34  총중량           float64
 35  적재중량          float64
 36  엔진출력          float64
 37  배기량           float64
 38  승차인원          float64
 39  차량길이          float64
 40  차량너비          float64
 41  차량높이          float64
 42  원산지명          object
 43  삭제YN          object
 44  승인일자          object
 45  구동형식          float64
 46  변속기종류         object
 47  생성일시_제원정보     object
 48  수정일시_제원정보     object
dtypes: float64(15), int64(4), object(30)
memory usage: 889.2+ MB

## 정기, 정밀검사(최근3년)

In [141]:
# about 5m 32.5s
name = '[ODS]정기&정밀검사(최근3년)(2022.12.28)'
file_name = f'{name}.csv'
ins = pd.read_csv(os.path.join(ods_fold, file_name), low_memory=False, encoding='cp949')
ins.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 37578269 entries, 0 to 37578268
Data columns (total 35 columns):
 #   Column     Dtype
---  ------     -----
 0   사용연료       object
 1   주행거리       object
 2   차명         object
 3   차량번호       object
 4   차대번호       object
 5   차종         object
 6   차량연식       int64
 7   엔진형식       object
 8   검사방법       object
 9   검사일자       int64
 10  검사종류       object
 11  검사판정시각     object
 12  검사판정       object
 13  산소값        float64
 14  이산화탄소값     float64
 15  무부하매연판정1   object
 16  무부하매연판정2   object
 17  무부하매연판정3   object
 18  무부하매연판정4   object
 19  무부하매연판정5   object
 20  무부하매연판정6   object
 21  무부하매연허용치1  float64
 22  무부하매연허용치2  float64
 23  무부하매연허용치3  float64
 24  무부하매연허용치4  float64
 25  무부하매연허용치5  float64
 26  무부하매연허용치6  float64
 27  무부하매연측정치1  float64
 28  무부하매연측정치2  float64
 29  무부하매연측정치3  float64
 30  무부하매연측정치4  float64
 31  무부하매연측정치5  float64
 32  무부하매연측정치6  float64
 33  검사유효기간     object
 34  정기정밀       object
dtypes: float64(14), int64(2), object(19)
memory usage: 9.8+ GB

## 노후차 조기폐차 관리정보 수도권

In [142]:
# about 18.8s
name = '[ODS]노후차_조기폐차_관리정보_수도권(2022.12.28)'
file_name = f'{name}.csv'
aea = pd.read_csv(os.path.join(ods_fold, file_name), low_memory=False, encoding='cp949', usecols=['차대번호', '조기폐차최종승인YN'])
aea.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 770311 entries, 0 to 770310
Data columns (total 2 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   차대번호        770311 non-null  object
 1   조기폐차최종승인YN  680625 non-null  object
dtypes: object(2)
memory usage: 11.8+ MB

## 노후차 조기폐차 관리정보 수도권 외

In [143]:
# about 5.2s
name = '[ODS]노후차_조기폐차_관리정보_수도권외(2022.12.28)'
file_name = f'{name}.csv'
lgv = pd.read_csv(os.path.join(ods_fold, file_name), low_memory=False, encoding='cp949', usecols=['차대번호', '조기폐차최종승인YN'])
lgv.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 291353 entries, 0 to 291352
Data columns (total 2 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   차대번호        291353 non-null  object
 1   조기폐차최종승인YN  128589 non-null  object
dtypes: object(2)
memory usage: 4.4+ MB

## 저감장치 부착이력

In [152]:
# about 2.3s
name = '[ODS]저감장치부착이력(2022.12.28)'
file_name = f'{name}.csv'
# att = pd.read_csv(os.path.join(ods_fold, file_name), low_memory=False, encoding='cp949', nrows=5)
att = pd.read_csv(os.path.join(ods_fold, file_name), low_memory=False, encoding='cp949', usecols=['차대번호', '저감장치구분'])
att.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 810777 entries, 0 to 810776
Data columns (total 2 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   차대번호    810777 non-null  object
 1   저감장치구분  810777 non-null  object
dtypes: object(2)
memory usage: 12.4+ MB

## 4, 5등급 검사 비교

In [146]:
# about 4.9s
name = '45등급 검사 비교(2023.05.04)'
file_name = f'{name}.csv'
chk = pd.read_csv(os.path.join(ods_fold, file_name), low_memory=False, encoding='cp949')
chk.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3185932 entries, 0 to 3185931
Data columns (total 9 columns):
 #   Column  Dtype
---  ------  -----
 0   배출가스등급  object
 1   차대번호    object
 2   최신검사일자  int64
 3   최신주행거리  float64
 4   이전검사일자  float64
 5   이전주행거리  float64
 6   검사일자차이  float64
 7   주행거리차이  float64
 8   최신경과기간  float64
dtypes: float64(6), int64(1), object(2)
memory usage: 218.8+ MB

## 차명_연료_매칭

In [147]:
# about 0.6s
name = '차명_연료_매칭_2023.03.03_AM.11.12.03'
file_name = f'{name}.xlsx'
fuel = pd.read_excel(os.path.join(big2_fold, file_name))
fuel.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 216 entries, 0 to 215
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   차명      216 non-null    object
 1   연료      216 non-null    object
dtypes: object(2)
memory usage: 3.5+ KB

## 법정동 코드

In [148]:
# about 5.6s
name = '법정동코드_2022.10.14(수정2023.05.04)'
file_name = f'{name}.xlsx'
code = pd.read_excel(os.path.join(big2_fold, file_name), usecols=['법정동코드', '시도', '시구군'])
code.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 46342 entries, 0 to 46341
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   법정동코드   46342 non-null  int64
 1   시도      46342 non-null  object
 2   시구군     46319 non-null  object
dtypes: int64(1), object(2)
memory usage: 1.1+ MB

In [149]:
code.head()

        법정동코드     시도  시구군
0  1100000000  서울특별시  NaN
1  1111000000  서울특별시  종로구
2  1111010100  서울특별시  종로구
3  1111010200  서울특별시  종로구
4  1111010300  서울특별시  종로구

In [150]:
code = code.rename(columns={'법정동코드':'본거지법정동코드'})
code.head()

     본거지법정동코드     시도  시구군
0  1100000000  서울특별시  NaN
1  1111000000  서울특별시  종로구
2  1111010100  서울특별시  종로구
3  1111010200  서울특별시  종로구
4  1111010300  서울특별시  종로구

# 전처리

## 검사 정보 필요 데이터만 추출

In [153]:
ins.columns

Index(['사용연료', '주행거리', '차명', '차량번호', '차대번호', '차종', '차량연식', '엔진형식', '검사방법',
       '검사일자', '검사종류', '검사판정시각', '검사판정', '산소값', '이산화탄소값', '무부하매연판정1',
       '무부하매연판정2', '무부하매연판정3', '무부하매연판정4', '무부하매연판정5', '무부하매연판정6', '무부하매연허용치1',
       '무부하매연허용치2', '무부하매연허용치3', '무부하매연허용치4', '무부하매연허용치5', '무부하매연허용치6',
       '무부하매연측정치1', '무부하매연측정치2', '무부하매연측정치3', '무부하매연측정치4', '무부하매연측정치5',
       '무부하매연측정치6', '검사유효기간', '정기정밀'],
      dtype='object')

In [154]:
ins.shape

(37578269, 35)

In [155]:
insm = ins[['차대번호', '검사일자', '검사방법', '검사종류', '검사판정', '무부하매연판정1', '무부하매연판정2', '무부하매연판정3', '무부하매연측정치1', '무부하매연측정치2', '무부하매연측정치3']]
insm.shape

(37578269, 11)

In [156]:
# about 26.4s
insm = insm.sort_values('검사일자', ascending=False).reset_index(drop=True)
insm = insm.drop_duplicates(['차대번호']).reset_index(drop=True)
insm.shape

(20714502, 11)

## 말소 차량 제거

In [157]:
g4.columns

Index(['차대번호', '차량번호', '제원관리번호', '차종', '용도', '최초등록일', '연식', '제작일자', '검사유효일',
       '배출가스인증번호', '등급', '차명', '차종분류', '차종유형', '자동차형식', '제작사명', '연료', '엔진형식',
       '총중량', '적재중량', '엔진출력', '배기량', '법정동코드', '시도명', '시군구명', '소유자구분', '말소여부',
       '일치유무', '인증번호 수정 유무', '배인번호_수정', '등급_수정', 'DPF유무_수정', '배출가스', '등급2',
       'DPF', '비고', 'Grade', '차령', '시군구명_수정', '1일평균주행거리'],
      dtype='object')

In [158]:
g4['말소여부'].value_counts(dropna=False)

N    1502235
Name: 말소여부, dtype: int64

In [159]:
gm4 = g4.loc[g4['말소여부'] == 'N'].reset_index(drop=True)
gm4.shape

(1502235, 40)

In [160]:
g5['차량말소YN'].value_counts(dropna=False)

Y    1223886
N    1154762
Name: 차량말소YN, dtype: int64

In [161]:
gm5 = g5.loc[g5['차량말소YN'] == 'N'].reset_index(drop=True)
gm5.shape

(1154762, 49)

## result 4등급 경유만 추출

In [162]:
gm4['등급_수정'].value_counts(dropna=False)

4.00    1497711
3.00       4397
5.00        127
Name: 등급_수정, dtype: int64

In [163]:
gm4 = gm4.loc[gm4['등급_수정'] == 4].reset_index(drop=True)
gm4.shape

(1497711, 40)

In [164]:
gm4['연료'].value_counts(dropna=False)

경유             1149289
휘발유             323019
LPG(액화석유가스)      25400
알코올                  1
기타연료                 1
CNG(압축천연가스)          1
Name: 연료, dtype: int64

In [165]:
gm4 = gm4.loc[gm4['연료'] == '경유'].reset_index(drop=True)
gm4.shape

(1149289, 40)

## 필수 컬럼만 추출

In [166]:
gm4.columns

Index(['차대번호', '차량번호', '제원관리번호', '차종', '용도', '최초등록일', '연식', '제작일자', '검사유효일',
       '배출가스인증번호', '등급', '차명', '차종분류', '차종유형', '자동차형식', '제작사명', '연료', '엔진형식',
       '총중량', '적재중량', '엔진출력', '배기량', '법정동코드', '시도명', '시군구명', '소유자구분', '말소여부',
       '일치유무', '인증번호 수정 유무', '배인번호_수정', '등급_수정', 'DPF유무_수정', '배출가스', '등급2',
       'DPF', '비고', 'Grade', '차령', '시군구명_수정', '1일평균주행거리'],
      dtype='object')

In [167]:
gm4['차종'].unique()

array(['승용', '특수', '승합', '화물'], dtype=object)

In [168]:
# gm4['차종_제원정보'].unique()

In [169]:
# gm4 = gm4[['차량등록번호', '본거지법정동코드', '차대번호', '제원관리번호', '배출가스인증번호', '배출가스등급', '차명', '차종_제원정보', '연료', '배기량']]
# gm4.shape

In [170]:
gm5 = gm5[['차량등록번호', '본거지법정동코드', '차대번호', '제원관리번호', '배출가스인증번호', '배출가스등급', '차명', '차종_제원정보', '연료', '배기량']]
gm5.shape

(1154762, 10)

## 연료 결측, 기타연료 확인

In [171]:
gm4['연료'].value_counts(dropna=False)

경유    1149289
Name: 연료, dtype: int64

In [172]:
gm5['연료'].value_counts(dropna=False)

경유             1124215
휘발유              30051
LPG(액화석유가스)        436
NaN                 29
기타연료                25
CNG(압축천연가스)          5
알코올                  1
Name: 연료, dtype: int64

In [173]:
fuel_dict = {a:b for a, b in fuel.values}
fuel_dict

{'BENZ S500': '휘발유',
 'BMW': '휘발유',
 'BMW 3-SERIES': '휘발유',
 'BMW 318I': '휘발유',
 'BMW 325CI': '휘발유',
 'BMW 325I': '휘발유',
 'BMW 325i': '휘발유',
 'BMW 328I': '휘발유',
 'BMW 525I': '휘발유',
 'BMW 528I': '휘발유',
 'BMW 530I': '휘발유',
 'BMW 5SERIES': '휘발유',
 'BMW 750Li': '휘발유',
 'BMW X3': '휘발유',
 'BMW X5': '휘발유',
 'BMW Z3': '휘발유',
 'BMW530I': '휘발유',
 'BUICK CENTURY': '휘발유',
 'BUICK LESABRE': '휘발유',
 'BUICK TERRAZA': '휘발유',
 'CADILLAC CTS': '휘발유',
 'CHEVROLET IMPALA': '휘발유',
 'CHEVROLET PRIZM': '휘발유',
 'CHRYSLER': '휘발유',
 'CHRYSLER 300 LTD': '휘발유',
 'CHRYSLER 300C': '경유',
 'CHRYSLER HEMI AWD': '휘발유',
 'CHRYSLER PT CRUISER': '휘발유',
 'CHRYSLER TOWN & COUNTRY(7)': '휘발유',
 'CIELO': '휘발유',
 'CORSICA': '휘발유',
 'COUGAR': '휘발유',
 'DODGE CALIBER': '휘발유',
 'DODGE CARAVAN': '휘발유',
 'DODGE CHARGER': '휘발유',
 'DODGE DAKOTA': '휘발유',
 'DODGE DURANGO': '휘발유',
 'DODGE GRAND CARAVAN': '휘발유',
 'DODGE NEON SXT': '휘발유',
 'EF소나타': '휘발유',
 'ESCORT': '휘발유',
 'FIREBIRD': '휘발유',
 'FORD ESCAPE': '휘발유',
 'FORD EXPEDITION': '휘발유',
 'FORD EXPEDITION(8)': '휘발유',
 'FORD EXPLORER': '휘발유',
 'FORD FOCUS': '휘발유',
 'FORD FREESTYLE(7)': '휘발유',
 'FORD FUSION': '휘발유',
 'FORD MUSTANG': '휘발유',
 'FORD RANGER XLT': '경유',
 'FORD WINDSTAR': '휘발유',
 'G.M.C': '휘발유',
 'G20': '휘발유',
 'GMC': '휘발유',
 'GMC JIMMY': '휘발유',
 'GMC SIERRA': '휘발유',
 'HONDA ACCORD': '휘발유',
 'HONDA CR-V': '휘발유',
 'HONDA CR-V EX': '휘발유',
 'HONDA PILOT': '휘발유',
 'HYUNDAI PRESTO': '휘발유',
 'HYUNDAI SONATA': '휘발유',
 'HYUNDAI/SONATA': '휘발유',
 'INFINITI G37S': '휘발유',
 'JAGUAR X-TYPE': '휘발유',
 'JEEP GRAND CHEROKEE': '휘발유',
 'JEEP LIBERTY': '휘발유',
 'JEEP PATRIOT': '경유',
 'KIA OPTIMA': '휘발유',
 'KIA SEDONA': '휘발유',
 'LEXUS ES330': '휘발유',
 'LEXUS ES350': '휘발유',
 'LEXUS LS430': '휘발유',
 'LEXUS RS330': '휘발유',
 'LEXUS RX330': '휘발유',
 'LINCOLN MKX': '휘발유',
 'MAZDA MAZDA6': '휘발유',
 'MAZDA SENTA': '휘발유',
 'MERCEDES BENZ': '휘발유',
 'MERCEDES-BENZ': '휘발유',
 'MERCEDES-BENZ CLS 550': '경유',
 'MERCEDES-BENZ E-350': '휘발유',
 'MERCEDES-BENZ E-CLASS': '휘발유',
 'MERCEDES-BENZ R-CLASS 3500': '경유',
 'MERCEDES-BENZ S 500': '휘발유',
 'MERCEDES-BENZ S65': '경유',
 'MERCURY MILAN': '휘발유',
 'NEW 그랜저XG': '휘발유',
 'NISSAN MURANO': '휘발유',
 'NISSAN ROGUE 3.5': '휘발유',
 'NISSAN XTERRA': '휘발유',
 'OLDSMOBILE BRAVADA': '휘발유',
 'OLDSMOBILESILHOUET': '휘발유',
 'PLYMOUTH': '휘발유',
 'PONTIAC SUNBIRD': '휘발유',
 'PONTIAC VIBE': '휘발유',
 'PONTIAC VIBE BASE': '휘발유',
 'PORSCHE': '휘발유',
 'ROYALE': '휘발유',
 'ROYALSALON': '휘발유',
 'RX7': '휘발유',
 'SANTAFE': '휘발유',
 'SEPHIA': '휘발유',
 'SILHOUET': '휘발유',
 'SPORTAGE': '휘발유',
 'STAREX': '휘발유',
 'SUNDANCE': '휘발유',
 'TAURUS': '휘발유',
 'TOYOTA 4-RUNNER': '경유',
 'TOYOTA AVALON': '휘발유',
 'TOYOTA CAMRY하이브리드': '휘발유 하이브리드',
 'TOYOTA COROLLA': '휘발유',
 'TOYOTA ESTIIM': '휘발유',
 'TOYOTA MATRIX': '휘발유',
 'TOYOTA SIENNA': '휘발유',
 'TOYOTA SR-5': '휘발유',
 'VISION': '휘발유',
 'VOLKSWAGEN JETTA': '휘발유',
 'VOLVO 7G1': '휘발유',
 'VOLVO 960': '휘발유',
 'VOLVO S60': '휘발유',
 'VOLVO S80': '휘발유',
 'VOLVO T5': '휘발유',
 'VOLVO XC60': '휘발유',
 'VOLVO XC90': '휘발유',
 '구급차(도요다)': '경유',
 '그랜저2.0': '휘발유',
 '그랜저XG300L': '휘발유',
 '기아마스타': '경유',
 '뉴복사담프': '경유',
 '뉴비틀2.0': '휘발유',
 '닛산실비아2.0': '휘발유',
 '닛산씨마그로리아': '휘발유',
 '다임24KL에틸렌글리콜트레일러': '무동력',
 '다찌람밴': '휘발유',
 '대우11톤카고': '경유',
 '대우11톤카고트럭': '경유',
 '대우8톤카고': '경유',
 '대흥저상트레일러': '무동력',
 '도오다': '휘발유',
 '도요다MR2': '휘발유',
 '도요다세라': '휘발유',
 '도요다슈프라': '휘발유',
 '도요다웨곤엠브란스': '경유',
 '도요다코로나': '휘발유',
 '도요다크라운': '휘발유',
 '도요다크라운로얄싸롱': '휘발유',
 '도요타 프리우스(하이브리드)': '휘발유 하이브리드',
 '라비타(LAVITA)': '휘발유',
 '로얄살롱': '휘발유',
 '로얄살롱2.0AT': '휘발유',
 '르망': '휘발유',
 '르망펜타-5': '휘발유',
 '링컨MARK7': '경유',
 '맥스디젤삼방': '경유',
 '머큐리 세이블': '경유',
 '벤즈 230E': '휘발유',
 '벤즈230E': '휘발유',
 '벤츠 C300': '휘발유',
 '벤츠190E': '휘발유',
 '벤츠C280': '휘발유',
 '벤츠E230': '휘발유',
 '벤츠S320': '휘발유',
 '복사14': '휘발유',
 '브리샤2': '휘발유',
 '블루버드': '휘발유',
 '사파리': '휘발유',
 '새턴': '휘발유',
 '새한2.5톤카고': '경유',
 '새한버스': '경유',
 '셀리카-GT': '휘발유',
 '소나타': '휘발유',
 '소나타1800오토매틱': '휘발유',
 '수프라': '휘발유',
 '스텔라': '휘발유',
 '스텔라1.6CXL': '휘발유',
 '스텔라오토매틱': '휘발유',
 '시보레': '휘발유',
 '시보레카베리아': '휘발유',
 '쏘나타': '휘발유',
 '아시아AM707중형버스': '경유',
 '아큐라': '휘발유',
 '에스페로': '휘발유',
 '에어스트림탐지견수송트레일러': '무동력',
 '엑셀': '휘발유',
 '엑셀운전교습용차량': '휘발유',
 '원흥식 트럭': '경유',
 '인타담프': '경유',
 '일산 육륜': '경유',
 '제설차': '경유',
 '지프': '경유',
 '체로키': '휘발유',
 '캐피탈': '휘발유',
 '캠리': '휘발유',
 '코르시카': '휘발유',
 '코우거': '휘발유',
 '코티나디럭스': '휘발유',
 '코티나마크IV': '휘발유',
 '크로마터보i.e': '휘발유',
 '티코(TICO)': '휘발유',
 '포니': '휘발유',
 '포니2': '휘발유',
 '포니2-L.P.G': 'LPG(액화석유가스)',
 '포니2-LPG': 'LPG(액화석유가스)',
 '포르쉐': '휘발유',
 '프레스토오토매틱': '휘발유',
 '프레스토오토메틱': '휘발유',
 '프리무스': '휘발유 하이브리드',
 '한원40A콤비콘테이너트레일러': '무동력',
 '한원40피트구즈넥트레일러': '무동력',
 '현대3톤트럭': '경유',
 '현대리어엔진버스': '경유',
 '현대포터': '경유',
 '혼다 CR-V': '경유',
 '홍성캠핑트레일러': '무동력'}

In [174]:
# for one in gm4.loc[((gm4['연료'].isnull() == True) | (gm4['연료'] == '기타연료')), '차명'].unique():
#     gm4.loc[((gm4['연료'].isnull() == True) | (gm4['연료'] == '기타연료')) & (gm4['차명'] == one), '연료'] = fuel_dict[one]

In [175]:
for one in gm5.loc[((gm5['연료'].isnull() == True) | (gm5['연료'] == '기타연료')), '차명'].unique():
    gm5.loc[((gm5['연료'].isnull() == True) | (gm5['연료'] == '기타연료')) & (gm5['차명'] == one), '연료'] = fuel_dict[one]

In [176]:
gm4['연료'].value_counts(dropna=False)

경유    1149289
Name: 연료, dtype: int64

In [177]:
gm5['연료'].value_counts(dropna=False)

경유             1124238
휘발유              30075
LPG(액화석유가스)        438
무동력                  5
CNG(압축천연가스)          5
알코올                  1
Name: 연료, dtype: int64

## 조기폐차 정보 추가

### 조기폐차 정보 병합
- 조기폐차최종승인YN :Y

In [178]:
aea['조기폐차최종승인YN'].value_counts(dropna=False)

Y      680570
NaN     89686
N          55
Name: 조기폐차최종승인YN, dtype: int64

In [179]:
lgv['조기폐차최종승인YN'].value_counts(dropna=False)

NaN    162764
Y      128585
N           4
Name: 조기폐차최종승인YN, dtype: int64

In [180]:
aeam = aea.loc[aea['조기폐차최종승인YN'] == 'Y'].reset_index(drop=True)
aeam.shape

(680570, 2)

In [181]:
lgvm = lgv.loc[lgv['조기폐차최종승인YN'] == 'Y'].reset_index(drop=True)
lgvm.shape

(128585, 2)

In [182]:
early = pd.concat([aeam, lgvm], ignore_index=True)
early.shape

(809155, 2)

### 4등급에 추가

In [183]:
gm4.shape

(1149289, 40)

In [184]:
gm4 = gm4.merge(early, on='차대번호', how='left')
gm4.shape

(1149289, 41)

### 5등급에 추가

In [185]:
gm5.shape

(1154762, 10)

In [186]:
gm5 = gm5.merge(early, on='차대번호', how='left')
gm5.shape

(1154766, 11)

## 저감장치 부착이력 정보 추가

### 저감장치구분 정리
- 1종 : DPF
- 1종+SCR : PM-NOx저감장치

In [187]:
att['저감장치구분'].value_counts(dropna=False)

1종        294602
엔진개조      198590
2종        156370
3종        148308
엔진교체        8528
1종+SCR      2304
삼원촉매        2075
Name: 저감장치구분, dtype: int64

In [188]:
att.shape

(810777, 2)

In [189]:
att.loc[att['저감장치구분'] == '1종', '저감장치'] = 'DPF'
att.loc[att['저감장치구분'] == '1종+SCR', '저감장치'] = 'PM-NOx저감장치'
attm = att[['차대번호', '저감장치']]
attm.shape

(810777, 2)

### 4등급에 추가

In [190]:
gm4 = gm4.merge(attm, on='차대번호', how='left')
gm4.shape

(1149289, 42)

### 5등급에 추가

In [191]:
gm5 = gm5.merge(attm, on='차대번호', how='left')
gm5.shape

(1154995, 12)

## 4, 5등급 주행거리 추가

In [192]:
chk.head()

,배출가스등급,차대번호,최신검사일자,최신주행거리,이전검사일자,이전주행거리,검사일자차이,주행거리차이,최신경과기간
0,5,00000000CN67C4065,20221229,29471.00,20221208.00,29471.00,21.00,0.00,147.00
1,5,000000JN44C000673,20220719,64046.00,20210802.00,43747.00,351.00,20299.00,640.00
2,5,000000KG44C100279,20220421,51379.00,20211018.00,45486.00,185.00,5893.00,563.00
3,5,000000KW45C001134,20220923,59355.00,20220413.00,59355.00,163.00,0.00,386.00
4,5,000000PN71C100008,20200409,74671.00,20190917.00,74671.00,205.00,0.00,1325.00

### 1년주행거리 계산

In [193]:
chk['연간주행거리'] = (chk.loc[:, '주행거리차이'] / chk.loc[:, '검사일자차이']) * 365
chk.head()

,배출가스등급,차대번호,최신검사일자,최신주행거리,이전검사일자,이전주행거리,검사일자차이,주행거리차이,최신경과기간,연간주행거리
0,5,00000000CN67C4065,20221229,29471.00,20221208.00,29471.00,21.00,0.00,147.00,0.00
1,5,000000JN44C000673,20220719,64046.00,20210802.00,43747.00,351.00,20299.00,640.00,21108.65
2,5,000000KG44C100279,20220421,51379.00,20211018.00,45486.00,185.00,5893.00,563.00,11626.73
3,5,000000KW45C001134,20220923,59355.00,20220413.00,59355.00,163.00,0.00,386.00,0.00
4,5,000000PN71C100008,20200409,74671.00,20190917.00,74671.00,205.00,0.00,1325.00,0.00

In [319]:
chk[chk['연간주행거리'] == np.inf]

,배출가스등급,차대번호,최신검사일자,최신주행거리,이전검사일자,이전주행거리,검사일자차이,주행거리차이,최신경과기간,연간주행거리
54,5,01844300010,20220108,295587.00,20220108.00,295584.00,0.00,3.00,481.00,inf
104,4,01901321659,20210216,236554.00,20210216.00,236534.00,0.00,20.00,807.00,inf
222,5,03844276565,20220314,323921.00,20220314.00,323919.00,0.00,2.00,416.00,inf
297,5,10904300022,20220419,62937.00,20220419.00,62933.00,0.00,4.00,380.00,inf
313,4,11-95-112-12753,20220314,90822.00,20220314.00,90820.00,0.00,2.00,416.00,inf
...,...,...,...,...,...,...,...,...,...,...
3185779,5,KPBFA2AF16P228125,20200528,353555.00,20200528.00,353552.00,0.00,3.00,1071.00,inf
3185808,5,KPBFA2AF16P228218,20220709,209663.00,20220709.00,209662.00,0.00,1.00,299.00,inf
3185814,5,KPBFA2AF16P228231,20200526,118159.00,20200526.00,118139.00,0.00,20.00,1073.00,inf
3185832,5,KPBFA2AF16P228312,20200609,217920.00,20200609.00,217870.00,0.00,50.00,1059.00,inf
3185843,5,KPBFA2AF16P228329,20220615,296482.00,20220615.00,296481.00,0.00,1.00,323.00,inf

In [326]:
chk[chk['연간주행거리'] == -np.inf]

,배출가스등급,차대번호,최신검사일자,최신주행거리,이전검사일자,이전주행거리,검사일자차이,주행거리차이,최신경과기간,연간주행거리
138,4,01901322139,20211007,209212.00,20211007.00,209213.00,0.00,-1.00,574.00,-inf
274,5,10772214755,20210215,36497.00,20210215.00,36526.00,0.00,-29.00,808.00,-inf
334,5,110034227035,20210624,70164.00,20210624.00,70165.00,0.00,-1.00,679.00,-inf
352,5,110132228480,20220816,339261.00,20220816.00,339271.00,0.00,-10.00,261.00,-inf
366,5,110132229845,20221125,402360.00,20221125.00,402369.00,0.00,-9.00,160.00,-inf
...,...,...,...,...,...,...,...,...,...,...
3185739,5,KPBFA2AF16P214526,20210429,294577.00,20210429.00,294587.00,0.00,-10.00,735.00,-inf
3185767,5,KPBFA2AF16P228045,20220711,251878.00,20220711.00,251923.00,0.00,-45.00,297.00,-inf
3185786,5,KPBFA2AF16P228135,20220516,155350.00,20220516.00,155351.00,0.00,-1.00,353.00,-inf
3185826,5,KPBFA2AF16P228303,20200608,321987.00,20200608.00,321988.00,0.00,-1.00,1060.00,-inf
3185875,5,KPBFA2AF16P228479,20220712,164069.00,20220712.00,164082.00,0.00,-13.00,296.00,-inf

In [320]:
chk[chk['검사일자차이'] == 0]

,배출가스등급,차대번호,최신검사일자,최신주행거리,이전검사일자,이전주행거리,검사일자차이,주행거리차이,최신경과기간,연간주행거리
27,5,01794100253,20211007,282511.00,20211007.00,282511.00,0.00,0.00,574.00,NaN
52,5,01841300288,20220614,428856.00,20220614.00,428856.00,0.00,0.00,324.00,NaN
54,5,01844300010,20220108,295587.00,20220108.00,295584.00,0.00,3.00,481.00,inf
73,4,01881300150대서,20191004,211499.00,20191004.00,211499.00,0.00,0.00,1308.00,NaN
104,4,01901321659,20210216,236554.00,20210216.00,236534.00,0.00,20.00,807.00,inf
...,...,...,...,...,...,...,...,...,...,...
3185843,5,KPBFA2AF16P228329,20220615,296482.00,20220615.00,296481.00,0.00,1.00,323.00,inf
3185875,5,KPBFA2AF16P228479,20220712,164069.00,20220712.00,164082.00,0.00,-13.00,296.00,-inf
3185877,5,KPBFA2AF16P228481,20220617,260110.00,20220617.00,260110.00,0.00,0.00,321.00,NaN
3185906,5,KPBFA2AF16P228567,20200630,158646.00,20200630.00,158646.00,0.00,0.00,1038.00,NaN
3185917,5,KPBFA2AF16P228585,20200731,321212.00,20200731.00,321212.00,0.00,0.00,1007.00,NaN

In [330]:
chk[['이전검사일자', '이전주행거리']].isnull().sum()

이전검사일자    686720
이전주행거리    690365
dtype: int64

In [331]:
chk[chk['이전검사일자'].isnull() == True]

,배출가스등급,차대번호,최신검사일자,최신주행거리,이전검사일자,이전주행거리,검사일자차이,주행거리차이,최신경과기간,연간주행거리
10,5,01712200711,20201030,23189.00,NaN,NaN,NaN,NaN,NaN,NaN
15,5,01762230885,20191015,85581.00,NaN,NaN,NaN,NaN,NaN,NaN
18,5,01781203665,20190522,10547.00,NaN,NaN,NaN,NaN,NaN,NaN
25,5,01791301837,20200820,141871.00,NaN,NaN,NaN,NaN,NaN,NaN
35,5,01811300023,20190430,234194.00,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
3185922,5,KPBFA2AF16P228594,20200608,243330.00,NaN,NaN,NaN,NaN,NaN,NaN
3185924,5,KPBFA2AF16P228597,20200805,211564.00,NaN,NaN,NaN,NaN,NaN,NaN
3185928,5,KPBFA2AF16P228602,20200608,91674.00,NaN,NaN,NaN,NaN,NaN,NaN
3185929,5,KPBFA2AF16P228645,20200717,305070.00,NaN,NaN,NaN,NaN,NaN,NaN
3185931,5,KPBFA2AF16P228648,20200525,186817.00,NaN,NaN,NaN,NaN,NaN,NaN

In [333]:
chk['배출가스등급'].value_counts(dropna=False)

5     1704771
4     1481104
T5         31
T4         26
Name: 배출가스등급, dtype: int64

In [332]:
chk.loc[chk['이전검사일자'].isnull() == True, '배출가스등급'].value_counts(dropna=False)

5     499990
4     186719
T4         6
T5         5
Name: 배출가스등급, dtype: int64

In [328]:
chk[(chk['배출가스등급'] == '4') & (chk['검사일자차이'] == 0)].shape

(159923, 10)

In [329]:
chk[(chk['배출가스등급'] == '5') & (chk['검사일자차이'] == 0)].shape

(269992, 10)

In [194]:
chk['배출가스등급'].value_counts(dropna=False)

5     1704771
4     1481104
T5         31
T4         26
Name: 배출가스등급, dtype: int64

In [195]:
chk4 = chk.loc[(chk['배출가스등급'] == '4') | (chk['배출가스등급'] == 'T4'), ['차대번호', '연간주행거리']].reset_index(drop=True)
chk4.shape

(1481130, 2)

In [196]:
chk5 = chk.loc[(chk['배출가스등급'] == '5') | (chk['배출가스등급'] == 'T5'), ['차대번호', '연간주행거리']].reset_index(drop=True)
chk5.shape

(1704802, 2)

In [197]:
gm4.shape

(1149289, 42)

In [198]:
gm4.columns

Index(['차대번호', '차량번호', '제원관리번호', '차종', '용도', '최초등록일', '연식', '제작일자', '검사유효일',
       '배출가스인증번호', '등급', '차명', '차종분류', '차종유형', '자동차형식', '제작사명', '연료', '엔진형식',
       '총중량', '적재중량', '엔진출력', '배기량', '법정동코드', '시도명', '시군구명', '소유자구분', '말소여부',
       '일치유무', '인증번호 수정 유무', '배인번호_수정', '등급_수정', 'DPF유무_수정', '배출가스', '등급2',
       'DPF', '비고', 'Grade', '차령', '시군구명_수정', '1일평균주행거리', '조기폐차최종승인YN',
       '저감장치'],
      dtype='object')

In [199]:
gm4 = gm4.merge(chk4, on='차대번호', how='left')
gm4.shape

(1149289, 43)

In [200]:
gm5.shape

(1154995, 12)

In [201]:
gm5 = gm5.merge(chk5, on='차대번호', how='left')
gm5.shape

(1154995, 13)

## 지역 추가

In [203]:
gm4.columns

Index(['차대번호', '차량번호', '제원관리번호', '차종', '용도', '최초등록일', '연식', '제작일자', '검사유효일',
       '배출가스인증번호', '등급', '차명', '차종분류', '차종유형', '자동차형식', '제작사명', '연료', '엔진형식',
       '총중량', '적재중량', '엔진출력', '배기량', '법정동코드', '시도명', '시군구명', '소유자구분', '말소여부',
       '일치유무', '인증번호 수정 유무', '배인번호_수정', '등급_수정', 'DPF유무_수정', '배출가스', '등급2',
       'DPF', '비고', 'Grade', '차령', '시군구명_수정', '1일평균주행거리', '조기폐차최종승인YN', '저감장치',
       '연간주행거리'],
      dtype='object')

In [286]:
# gm4 = gm4.merge(code, on='본거지법정동코드', how='left')
# gm4.shape

(1511251, 15)

In [204]:
gm4[['시도명', '시군구명_수정']].isnull().sum()

시도명        0
시군구명_수정    0
dtype: int64

In [288]:
# gm4.loc[gm4['시구군'].isnull() == True]

,차량등록번호,본거지법정동코드,차대번호,제원관리번호,배출가스인증번호,배출가스등급,차명,차종_제원정보,연료,배기량,조기폐차최종승인YN,저감장치,연간주행거리,시도,시구군
25785,충남34가1634,3611000000,KNAGB2212KS216084,10016000050001,TY88-배K-09,4,캐피탈,승용,휘발유,1498.00,NaN,NaN,NaN,세종특별자치시,NaN
66828,충남37나4495,3611000000,KMHNF31TPMU065117,10015300080001,KMY-HD-01,4,그랜저3.0,승용,휘발유,2972.00,NaN,NaN,NaN,세종특별자치시,NaN
157322,충남37라9677,3611000000,KLAER1981RB194627,10002200770002,NaN,4,프린스1.8AT,승용,휘발유,1796.00,NaN,NaN,NaN,세종특별자치시,NaN
175651,충남37라5334,3611000000,KNALA2233RA826552,10033000040001,PMY-KM-19,4,포텐사오토,승용,휘발유,1998.00,NaN,NaN,NaN,세종특별자치시,NaN
269793,충남37나7584,3611000000,KN17P23E4TK084050,10015800360001,NaN,4,프라이드웨곤,승용,휘발유,1323.00,NaN,NaN,NaN,세종특별자치시,NaN

In [205]:
gm5 = gm5.merge(code, on='본거지법정동코드', how='left')
gm5.shape

(1154995, 15)

In [206]:
gm5[['시도', '시구군']].isnull().sum()

시도      0
시구군    21
dtype: int64

In [207]:
gm5.loc[gm5['시구군'].isnull() == True]

,차량등록번호,본거지법정동코드,차대번호,제원관리번호,배출가스인증번호,배출가스등급,차명,차종_제원정보,연료,배기량,조기폐차최종승인YN,저감장치,연간주행거리,시도,시구군
5650,서울3마3085,4100000000,10742255732,30110100001154,NaN,5,뉴코티나,승용,휘발유,1597.00,NaN,NaN,NaN,경기도,NaN
6873,충남1가3137,3611000000,03811301965,10002200050000,NaN,5,로얄디젤,승용,경유,1998.00,NaN,NaN,NaN,세종특별자치시,NaN
6965,충남7나5383,3611000000,03802116969,10010400000000,NaN,5,새한1.4톤카고,화물,경유,2775.00,NaN,NaN,NaN,세종특별자치시,NaN
9268,충남5가3143,3611000000,08821110131,10000700680000,NaN,5,아시아마이크로버스,승합,경유,2977.00,NaN,NaN,NaN,세종특별자치시,NaN
19969,충남5가7295,3611000000,KNHA392F2FS058005,10011400150003,NaN,5,봉고코치,승합,경유,2209.00,NaN,NaN,NaN,세종특별자치시,NaN
23989,충남7가4367,3611000000,03831258812,30110100001405,NaN,5,슈퍼타이탄디젤14척,화물,경유,2977.00,NaN,NaN,NaN,세종특별자치시,NaN
28269,충남7가9676,3611000000,KNEAF29F2ES042742,10011400070000,NaN,5,봉고구급차,승합,경유,2209.00,NaN,NaN,NaN,세종특별자치시,NaN
28327,충남5가6008,3611000000,KNEAF92F2ES042743,10011400070000,NaN,5,봉고구급차,승합,경유,2209.00,NaN,NaN,NaN,세종특별자치시,NaN
28617,충남1허5019,3611000000,KMHPA11CPGU257191,10004800100000,NaN,5,포니2-1400LPG,승용,LPG(액화석유가스),1439.00,NaN,NaN,NaN,세종특별자치시,NaN
29961,충남7가5506,3611000000,KNCA192F1ES066264,10011400000006,NaN,5,봉고1톤,화물,경유,2209.00,NaN,NaN,NaN,세종특별자치시,NaN
59863,충남7나4372,3611000000,KN3LAP1C1HK073057,10000600710000,NaN,5,복사17,화물,경유,4052.00,NaN,NaN,NaN,세종특별자치시,NaN
95124,충남7느5410,3611000000,KNCSC9332LS463530,10018600010004,NaN,5,와이드봉고킹캡,화물,경유,2367.00,NaN,NaN,NaN,세종특별자치시,NaN
129234,충남83노4051,3611000000,KMFFA17XPNU207722,10015500320001,NaN,5,포터,화물,경유,2476.00,NaN,NaN,NaN,세종특별자치시,NaN
159016,충남83노6764,3611000000,KMFFE17XPPU025470,10015500530000,NaN,5,포터더블캡,화물,경유,2476.00,NaN,NaN,NaN,세종특별자치시,NaN
162079,충남37마2067,3611000000,KNHTP7362PS720420,10015000440002,NaN,5,베스타9,승합,경유,2662.00,NaN,NaN,NaN,세종특별자치시,NaN
162485,충남7모7576,3611000000,KMFFA17XPPU049182,10015500510000,NaN,5,포터,화물,경유,2476.00,NaN,NaN,NaN,세종특별자치시,NaN
164320,충남81더1582,3611000000,KMFMA17HPPU014885,10024400190002,NaN,5,현대4.5톤카고트럭-장축,화물,경유,7545.00,NaN,NaN,NaN,세종특별자치시,NaN
175494,충남7느6122,3611000000,KN3JAP3V2RK050949,10017400130004,NaN,5,트레이드와이드로우,화물,경유,3455.00,NaN,NaN,NaN,세종특별자치시,NaN
177384,충남7느6069,3611000000,KMFFE17XPRU091722,10015500530002,NaN,5,포터더블캡,화물,경유,2476.00,NaN,NaN,NaN,세종특별자치시,NaN
179570,충남7르2885,3611000000,KNVBB1M15RC001476,10011400950006,NaN,5,세레스4륜구동덤프,화물,경유,2209.00,NaN,NaN,NaN,세종특별자치시,NaN
707813,80다2041,3611000000,KMFZCS7HP4U040967,A0810006200153103,3MY-HD-14,5,포터Ⅱ(PORTERⅡ),화물,경유,2476.00,NaN,NaN,NaN,세종특별자치시,NaN

In [208]:
gm4.loc[100:105, '시군구명_수정']

100     수성구
101     마포구
102    영등포구
103     상주시
104    남양주시
105      동구
Name: 시군구명_수정, dtype: object

In [295]:
# gm4['시구군'] = gm4['시구군'].str.split(' ').str[0]
# gm4.loc[100:105, '시구군']

100    완주군
101    강남구
102     진구
103    성남시
104    창원시
105    김제시
Name: 시구군, dtype: object

In [209]:
gm5['시구군'] = gm5['시구군'].str.split(' ').str[0]

### 주행거리 수정
- 오류 확인
    - nan
    - 음수, 0

In [210]:
gm4['연간주행거리'].isnull().sum()

146183

In [211]:
gm4['연간주행거리'] = gm4['연간주행거리'].fillna(0)
gm4['연간주행거리'].isnull().sum()

0

In [212]:
gm5['연간주행거리'].isnull().sum()

521690

In [213]:
gm5['연간주행거리'] = gm5['연간주행거리'].fillna(0)
gm5['연간주행거리'].isnull().sum()

0

In [214]:
gm4.loc[gm4['연간주행거리'] <= 0].shape

(196450, 43)

In [215]:
gm5.loc[gm5['연간주행거리'] <= 0].shape

(579325, 15)

In [216]:
gm4.columns

Index(['차대번호', '차량번호', '제원관리번호', '차종', '용도', '최초등록일', '연식', '제작일자', '검사유효일',
       '배출가스인증번호', '등급', '차명', '차종분류', '차종유형', '자동차형식', '제작사명', '연료', '엔진형식',
       '총중량', '적재중량', '엔진출력', '배기량', '법정동코드', '시도명', '시군구명', '소유자구분', '말소여부',
       '일치유무', '인증번호 수정 유무', '배인번호_수정', '등급_수정', 'DPF유무_수정', '배출가스', '등급2',
       'DPF', '비고', 'Grade', '차령', '시군구명_수정', '1일평균주행거리', '조기폐차최종승인YN', '저감장치',
       '연간주행거리'],
      dtype='object')

In [217]:
gm5.columns

Index(['차량등록번호', '본거지법정동코드', '차대번호', '제원관리번호', '배출가스인증번호', '배출가스등급', '차명',
       '차종_제원정보', '연료', '배기량', '조기폐차최종승인YN', '저감장치', '연간주행거리', '시도', '시구군'],
      dtype='object')

In [218]:
# gm4 = gm4.rename(columns={'차종_제원정보':'차종'})
gm5 = gm5.rename(columns={'차종_제원정보':'차종'})

In [219]:
gm5.columns

Index(['차량등록번호', '본거지법정동코드', '차대번호', '제원관리번호', '배출가스인증번호', '배출가스등급', '차명',
       '차종', '연료', '배기량', '조기폐차최종승인YN', '저감장치', '연간주행거리', '시도', '시구군'],
      dtype='object')

#### 주행거리 오류 데이터프레임 분리

In [220]:
gm4y = gm4.loc[gm4['연간주행거리'] > 0].reset_index(drop=True)
gm4n = gm4.loc[gm4['연간주행거리'] <= 0].reset_index(drop=True)
gm4y.shape, gm4n.shape

((952839, 43), (196450, 43))

In [221]:
gm5y = gm5.loc[gm5['연간주행거리'] > 0].reset_index(drop=True)
gm5n = gm5.loc[gm5['연간주행거리'] <= 0].reset_index(drop=True)
gm5y.shape, gm5n.shape

((575670, 15), (579325, 15))

#### KOSIS 데이터로 수정

In [222]:
# about 0.2s
name = '용도별_차종별_시군구별_자동차1일평균주행거리(2021)'
file_name = f'{name}.xlsx'
kos = pd.read_excel(os.path.join(ods_fold, file_name))
kos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1230 entries, 0 to 1229
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   시도명     1230 non-null   object
 1   시군구명    1230 non-null   object
 2   차종      1230 non-null   object
 3   전체      1230 non-null   float64
dtypes: float64(1), object(3)
memory usage: 38.6+ KB

In [223]:
kos = kos.rename(columns={'시도명':'시도', '시군구명':'시구군', '전체':'1일평균주행거리'})
kos.head()

      시도 시구군  차종  1일평균주행거리
0  서울특별시  소계  합계     36.60
1  서울특별시  소계  승용     33.90
2  서울특별시  소계  승합     48.30
3  서울특별시  소계  화물     54.40
4  서울특별시  소계  특수     49.30

In [224]:
kos.loc[kos['시구군'] == '소계', '시구군'] = np.nan
kos.head()

      시도  시구군  차종  1일평균주행거리
0  서울특별시  NaN  합계     36.60
1  서울특별시  NaN  승용     33.90
2  서울특별시  NaN  승합     48.30
3  서울특별시  NaN  화물     54.40
4  서울특별시  NaN  특수     49.30

In [225]:
kos.tail()

           시도   시구군  차종  1일평균주행거리
1225  제주특별자치도  서귀포시  합계     35.10
1226  제주특별자치도  서귀포시  승용     36.10
1227  제주특별자치도  서귀포시  승합     37.20
1228  제주특별자치도  서귀포시  화물     32.50
1229  제주특별자치도  서귀포시  특수     38.40

In [226]:
gm4n.shape

(196450, 43)

In [227]:
gm4n['차종'].unique()

array(['승용', '특수', '승합', '화물'], dtype=object)

In [228]:
gm4n['1일평균주행거리'].isnull().sum()

0

In [230]:
# 연간주행거리가 kosis 1일평균주행거리 * 365
gm4n['연간주행거리'] = gm4n['1일평균주행거리'] * 365

In [231]:
# gm4n = gm4n.merge(kos, on=['시도', '시구군', '차종'], how='left')
# gm4n.shape

In [232]:
gm4n.columns

Index(['차대번호', '차량번호', '제원관리번호', '차종', '용도', '최초등록일', '연식', '제작일자', '검사유효일',
       '배출가스인증번호', '등급', '차명', '차종분류', '차종유형', '자동차형식', '제작사명', '연료', '엔진형식',
       '총중량', '적재중량', '엔진출력', '배기량', '법정동코드', '시도명', '시군구명', '소유자구분', '말소여부',
       '일치유무', '인증번호 수정 유무', '배인번호_수정', '등급_수정', 'DPF유무_수정', '배출가스', '등급2',
       'DPF', '비고', 'Grade', '차령', '시군구명_수정', '1일평균주행거리', '조기폐차최종승인YN', '저감장치',
       '연간주행거리'],
      dtype='object')

In [319]:
# gm4n.loc[gm4n['1일평균주행거리'].isnull() == True, '시도']

          시도  시구군
17     부산광역시   진구
102    부산광역시   진구
119    부산광역시   진구
161    부산광역시   진구
211  세종특별자치시  연기면

In [331]:
# kos.loc[(kos['시도'] == '부산광역시') & (kos['차종'] == '합계'), '1일평균주행거리'].values[0]

39.7

In [332]:
# # about 3m 28.7s
# for one, two in gm4n.loc[gm4n['1일평균주행거리'].isnull() == True, ['시도', '차종']].values:
#     gm4n.loc[(gm4n['1일평균주행거리'].isnull() == True) & (gm4n['시도'] == one) & (gm4n['차종'] == two), '1일평균주행거리'] = kos.loc[(kos['시도'] == one) & (kos['차종'] == two), '1일평균주행거리'].values[0]

In [333]:
# gm4n['1일평균주행거리'].isnull().sum()

0

In [233]:
gm5n.shape

(579325, 15)

In [234]:
gm5n = gm5n.merge(kos, on=['시도', '시구군', '차종'], how='left')
gm5n.shape

(579325, 16)

In [235]:
gm5n['1일평균주행거리'].isnull().sum()

4648

In [236]:
# about 5m 1.9s
for one, two in gm5n.loc[gm5n['1일평균주행거리'].isnull() == True, ['시도', '차종']].values:
    gm5n.loc[(gm5n['1일평균주행거리'].isnull() == True) & (gm5n['시도'] == one) & (gm5n['차종'] == two), '1일평균주행거리'] = kos.loc[(kos['시도'] == one) & (kos['차종'] == two), '1일평균주행거리'].values[0]

In [237]:
gm5n['1일평균주행거리'].isnull().sum()

0

In [238]:
gm4 = pd.concat([gm4y, gm4n], ignore_index=True)
gm5 = pd.concat([gm5y, gm5n], ignore_index=True)
gm4.shape, gm5.shape

((1149289, 43), (1154995, 16))

In [239]:
gm4['1일평균주행거리'].isnull().sum(), gm5['1일평균주행거리'].isnull().sum()

(0, 575670)

In [240]:
gm4.loc[gm4['연간주행거리'] <= 0].shape

(0, 43)

In [241]:
gm5.loc[gm5['연간주행거리'] <= 0].shape

(579325, 16)

In [245]:
gm5['1일평균주행거리'].isnull().sum()

575670

In [242]:
gm4.columns

Index(['차대번호', '차량번호', '제원관리번호', '차종', '용도', '최초등록일', '연식', '제작일자', '검사유효일',
       '배출가스인증번호', '등급', '차명', '차종분류', '차종유형', '자동차형식', '제작사명', '연료', '엔진형식',
       '총중량', '적재중량', '엔진출력', '배기량', '법정동코드', '시도명', '시군구명', '소유자구분', '말소여부',
       '일치유무', '인증번호 수정 유무', '배인번호_수정', '등급_수정', 'DPF유무_수정', '배출가스', '등급2',
       'DPF', '비고', 'Grade', '차령', '시군구명_수정', '1일평균주행거리', '조기폐차최종승인YN', '저감장치',
       '연간주행거리'],
      dtype='object')

In [246]:
# gm4.loc[gm4['1일평균주행거리'].isnull() == False, '연간주행거리'] = gm4.loc[gm4['1일평균주행거리'].isnull() == False, '1일평균주행거리'] * 365
gm5.loc[gm5['1일평균주행거리'].isnull() == False, '연간주행거리'] = gm5.loc[gm5['1일평균주행거리'].isnull() == False, '1일평균주행거리'] * 365

In [247]:
gm4.loc[gm4['연간주행거리'] <= 0].shape, gm5.loc[gm5['연간주행거리'] <= 0].shape

((0, 43), (0, 16))

In [248]:
gm4.columns

Index(['차대번호', '차량번호', '제원관리번호', '차종', '용도', '최초등록일', '연식', '제작일자', '검사유효일',
       '배출가스인증번호', '등급', '차명', '차종분류', '차종유형', '자동차형식', '제작사명', '연료', '엔진형식',
       '총중량', '적재중량', '엔진출력', '배기량', '법정동코드', '시도명', '시군구명', '소유자구분', '말소여부',
       '일치유무', '인증번호 수정 유무', '배인번호_수정', '등급_수정', 'DPF유무_수정', '배출가스', '등급2',
       'DPF', '비고', 'Grade', '차령', '시군구명_수정', '1일평균주행거리', '조기폐차최종승인YN', '저감장치',
       '연간주행거리'],
      dtype='object')

In [250]:
gm5.columns

Index(['차량등록번호', '본거지법정동코드', '차대번호', '제원관리번호', '배출가스인증번호', '배출가스등급', '차명',
       '차종', '연료', '배기량', '조기폐차최종승인YN', '저감장치', '연간주행거리', '시도', '시구군',
       '1일평균주행거리'],
      dtype='object')

In [350]:
# gm4 = gm4.drop('1일평균주행거리', axis=1)
# gm5 = gm5.drop('1일평균주행거리', axis=1)

In [251]:
gm4.shape, gm5.shape

((1149289, 43), (1154995, 16))

## 매연 값 수정

In [253]:
gm4['조기폐차최종승인YN'].value_counts(dropna=False)

NaN    1149289
Name: 조기폐차최종승인YN, dtype: int64

In [254]:
gm4.shape

(1149289, 43)

In [255]:
# about 30.7s
gm4 = gm4.merge(insm, on='차대번호', how='left')
gm4.shape

(1149289, 53)

#### 4등급 출력

In [256]:
# about 16.0s
gm4.to_csv(os.path.join(ods_fold, 'BD3_3_저공해조치_우선차량선별_4등급.csv'), index=False)

In [257]:
gm5['조기폐차최종승인YN'].value_counts(dropna=False)

NaN    1141253
Y        13742
Name: 조기폐차최종승인YN, dtype: int64

In [258]:
gm5['저감장치'].value_counts(dropna=False)

NaN           1011871
DPF            141328
PM-NOx저감장치       1796
Name: 저감장치, dtype: int64

In [259]:
gm5.shape

(1154995, 16)

In [260]:
# about 
gm5 = gm5.merge(insm, on='차대번호', how='left')
gm5.shape

(1154995, 26)

#### 5등급 출력

In [261]:
# about 12.1s
gm5.to_csv(os.path.join(ods_fold, 'BD3_3_저공해조치_우선차량선별_5등급.csv'), index=False)

### [로드] 파일

In [39]:
# # about 9.2s
# gm4 = pd.read_csv(os.path.join(ods_fold, 'BD3_3_저공해조치_우선차량선별_4등급.csv'))
# gm4.info()

C:\Users\kbjung\AppData\Local\Temp\ipykernel_10984\1804474587.py:2: DtypeWarning: Columns (3,5,11) have mixed types. Specify dtype option on import or set low_memory=False.
  gm4 = pd.read_csv(os.path.join(ods_fold, 'BD3_3_저공해조치_우선차량선별_4등급.csv'))

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1511251 entries, 0 to 1511250
Data columns (total 25 columns):
 #   Column      Non-Null Count    Dtype
---  ------      --------------    -----
 0   차량등록번호      1511251 non-null  object
 1   본거지법정동코드    1511251 non-null  int64
 2   차대번호        1511251 non-null  object
 3   제원관리번호      1511251 non-null  object
 4   배출가스인증번호    1387530 non-null  object
 5   배출가스등급      1511251 non-null  object
 6   차명          1511251 non-null  object
 7   차종          1511251 non-null  object
 8   연료          1511251 non-null  object
 9   배기량         1511240 non-null  float64
 10  조기폐차최종승인YN  0 non-null        float64
 11  저감장치        34 non-null       object
 12  연간주행거리      1511251 non-null  float64
 13  시도          1511251 non-null  object
 14  시구군         1511246 non-null  object
 15  검사일자        1184811 non-null  float64
 16  검사방법        1184811 non-null  object
 17  검사종류        1184811 non-null  object
 18  검사판정        1184811 non-null  object
 19  무부하매연판정1    1174701 non-null  object
 20  무부하매연판정2    105259 non-null   object
 21  무부하매연판정3    104339 non-null   object
 22  무부하매연측정치1   1174706 non-null  float64
 23  무부하매연측정치2   424010 non-null   float64
 24  무부하매연측정치3   389275 non-null   float64
dtypes: float64(7), int64(1), object(17)
memory usage: 288.2+ MB

In [40]:
# # about 7.0s
# gm5 = pd.read_csv(os.path.join(ods_fold, 'BD3_3_저공해조치_우선차량선별_5등급.csv'))
# gm5.info()

C:\Users\kbjung\AppData\Local\Temp\ipykernel_10984\3959831406.py:2: DtypeWarning: Columns (3,5,10) have mixed types. Specify dtype option on import or set low_memory=False.
  gm5 = pd.read_csv(os.path.join(ods_fold, 'BD3_3_저공해조치_우선차량선별_5등급.csv'))

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1154995 entries, 0 to 1154994
Data columns (total 25 columns):
 #   Column      Non-Null Count    Dtype
---  ------      --------------    -----
 0   차량등록번호      1154995 non-null  object
 1   본거지법정동코드    1154995 non-null  int64
 2   차대번호        1154995 non-null  object
 3   제원관리번호      1154995 non-null  object
 4   배출가스인증번호    543012 non-null   object
 5   배출가스등급      1154995 non-null  object
 6   차명          1154994 non-null  object
 7   차종          1154995 non-null  object
 8   연료          1154995 non-null  object
 9   배기량         1154993 non-null  float64
 10  조기폐차최종승인YN  13742 non-null    object
 11  저감장치        143124 non-null   object
 12  연간주행거리      1154995 non-null  float64
 13  시도          1154995 non-null  object
 14  시구군         1154974 non-null  object
 15  검사일자        712900 non-null   float64
 16  검사방법        712900 non-null   object
 17  검사종류        712900 non-null   object
 18  검사판정        712900 non-null   object
 19  무부하매연판정1    706637 non-null   object
 20  무부하매연판정2    108971 non-null   object
 21  무부하매연판정3    108639 non-null   object
 22  무부하매연측정치1   706647 non-null   float64
 23  무부하매연측정치2   237401 non-null   float64
 24  무부하매연측정치3   217911 non-null   float64
dtypes: float64(6), int64(1), object(18)
memory usage: 220.3+ MB

#### 배번별 통계

In [262]:
def flat_cols(df):
    df.columns = ['/'.join(x) for x in df.columns.to_flat_index()]
    return df

In [263]:
gm4.columns

Index(['차대번호', '차량번호', '제원관리번호', '차종', '용도', '최초등록일', '연식', '제작일자', '검사유효일',
       '배출가스인증번호', '등급', '차명', '차종분류', '차종유형', '자동차형식', '제작사명', '연료', '엔진형식',
       '총중량', '적재중량', '엔진출력', '배기량', '법정동코드', '시도명', '시군구명', '소유자구분', '말소여부',
       '일치유무', '인증번호 수정 유무', '배인번호_수정', '등급_수정', 'DPF유무_수정', '배출가스', '등급2',
       'DPF', '비고', 'Grade', '차령', '시군구명_수정', '1일평균주행거리', '조기폐차최종승인YN', '저감장치',
       '연간주행거리', '검사일자', '검사방법', '검사종류', '검사판정', '무부하매연판정1', '무부하매연판정2',
       '무부하매연판정3', '무부하매연측정치1', '무부하매연측정치2', '무부하매연측정치3'],
      dtype='object')

In [264]:
emis_stat_g4 = gm4.groupby(['연료', '배출가스인증번호', '검사종류', '검사방법', '검사판정'], as_index=False).agg({'차대번호':'count', '무부하매연측정치1':['mean', 'min', 'max'], '무부하매연측정치2':['mean', 'min', 'max'], '무부하매연측정치3':['mean', 'min', 'max']}).pipe(flat_cols)
emis_stat_g4 = emis_stat_g4.rename(columns={'연료/':'연료', '배출가스인증번호/':'배출가스인증번호', '검사종류/':'검사종류', '검사방법/':'검사방법', '검사판정/':'검사판정'})
emis_stat_g4

,연료,배출가스인증번호,검사종류,검사방법,검사판정,차대번호/count,무부하매연측정치1/mean,무부하매연측정치1/min,무부하매연측정치1/max,무부하매연측정치2/mean,무부하매연측정치2/min,무부하매연측정치2/max,무부하매연측정치3/mean,무부하매연측정치3/min,무부하매연측정치3/max
0,경유,4MY-AD-20,재검사(1부재검사),무부하검사(급가속),Y,1,0.00,0.00,0.00,NaN,NaN,NaN,NaN,NaN,NaN
1,경유,4MY-AD-20,재검사(2부재검사),무부하검사(급가속),Y,1,19.00,19.00,19.00,NaN,NaN,NaN,NaN,NaN,NaN
2,경유,4MY-AD-20,정기(경과)검사,무부하검사(급가속),Y,2,6.00,0.00,12.00,NaN,NaN,NaN,NaN,NaN,NaN
3,경유,4MY-AD-20,정기검사,무부하검사(급가속),Y,2,23.00,20.00,26.00,NaN,NaN,NaN,NaN,NaN,NaN
4,경유,4MY-AD-20,종합검사,무부하검사(급가속),N,1,51.00,51.00,51.00,3883.00,3883.00,3883.00,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1797,경유,C135,재검사(1부재검사),무부하검사(급가속),Y,1,0.00,0.00,0.00,NaN,NaN,NaN,NaN,NaN,NaN
1798,경유,C135,정기검사,무부하검사(급가속),N,2,29.50,0.00,59.00,NaN,NaN,NaN,NaN,NaN,NaN
1799,경유,C135,종합검사,부하검사(KD-147),Y,1,1.00,1.00,1.00,NaN,NaN,NaN,NaN,NaN,NaN
1800,경유,C135,종합검사(경과),부하검사(KD-147),Y,1,10.00,10.00,10.00,0.00,0.00,0.00,0.00,0.00,0.00
1801,경유,FMY-VTK-14-1,정기(경과)검사,무부하검사(급가속),Y,1,4.00,4.00,4.00,NaN,NaN,NaN,NaN,NaN,NaN

In [265]:
emis_stat_g4.columns

Index(['연료', '배출가스인증번호', '검사종류', '검사방법', '검사판정', '차대번호/count',
       '무부하매연측정치1/mean', '무부하매연측정치1/min', '무부하매연측정치1/max', '무부하매연측정치2/mean',
       '무부하매연측정치2/min', '무부하매연측정치2/max', '무부하매연측정치3/mean', '무부하매연측정치3/min',
       '무부하매연측정치3/max'],
      dtype='object')

In [266]:
# 출력
# about 0.6s
emis_stat_g4.to_excel(os.path.join(analysis_fold, '통계_4등급_연료_배번별_매연.xlsx'), index=False)

In [267]:
emis_stat_g5 = gm5.groupby(['연료', '배출가스인증번호', '검사종류', '검사방법', '검사판정'], as_index=False).agg({'차대번호':'count', '무부하매연측정치1':['mean', 'min', 'max'], '무부하매연측정치2':['mean', 'min', 'max'], '무부하매연측정치3':['mean', 'min', 'max']}).pipe(flat_cols)
emis_stat_g5 = emis_stat_g5.rename(columns={'연료/':'연료', '배출가스인증번호/':'배출가스인증번호', '검사종류/':'검사종류', '검사방법/':'검사방법', '검사판정/':'검사판정'})
emis_stat_g5

,연료,배출가스인증번호,검사종류,검사방법,검사판정,차대번호/count,무부하매연측정치1/mean,무부하매연측정치1/min,무부하매연측정치1/max,무부하매연측정치2/mean,무부하매연측정치2/min,무부하매연측정치2/max,무부하매연측정치3/mean,무부하매연측정치3/min,무부하매연측정치3/max
0,경유,1MY-HD-52,재검사(2부재검사),무부하검사(급가속),Y,1,0.00,0.00,0.00,NaN,NaN,NaN,NaN,NaN,NaN
1,경유,1MY-HD-52,정기(경과)검사,무부하검사(급가속),N,1,0.00,0.00,0.00,NaN,NaN,NaN,NaN,NaN,NaN
2,경유,1MY-HD-52,정기검사,무부하검사(급가속),Y,7,4.43,0.00,26.00,NaN,NaN,NaN,NaN,NaN,NaN
3,경유,1MY-HD-52,종합검사,부하검사(LUG DOWN),N,1,26.00,26.00,26.00,14.00,14.00,14.00,10.00,10.00,10.00
4,경유,1MY-HD-52,종합검사,부하검사(LUG DOWN),Y,26,7.35,0.00,18.00,3.27,0.00,13.00,2.35,0.00,14.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1582,경유,YMY-SK-02,종합검사,부하검사(LUG DOWN),N,27,28.89,6.00,81.00,27.74,3.00,73.00,24.04,0.00,58.00
1583,경유,YMY-SK-02,종합검사,부하검사(LUG DOWN),Y,406,9.06,0.00,20.00,7.25,0.00,20.00,6.84,0.00,22.00
1584,경유,YMY-SK-02,종합검사(경과),부하검사(LUG DOWN),N,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1585,경유,YMY-SK-02,종합검사(경과),부하검사(LUG DOWN),Y,22,8.91,0.00,19.00,8.45,0.00,20.00,7.05,1.00,17.00
1586,휘발유,9MY-PPE-14-597,종합검사,무부하검사(TSI),Y,1,0.00,0.00,0.00,21.00,21.00,21.00,1.00,1.00,1.00

In [268]:
# 출력
# about 0.3s
emis_stat_g5.to_excel(os.path.join(analysis_fold, '통계_5등급_연료_배번별_매연.xlsx'), index=False)

In [269]:
gm4.columns

Index(['차대번호', '차량번호', '제원관리번호', '차종', '용도', '최초등록일', '연식', '제작일자', '검사유효일',
       '배출가스인증번호', '등급', '차명', '차종분류', '차종유형', '자동차형식', '제작사명', '연료', '엔진형식',
       '총중량', '적재중량', '엔진출력', '배기량', '법정동코드', '시도명', '시군구명', '소유자구분', '말소여부',
       '일치유무', '인증번호 수정 유무', '배인번호_수정', '등급_수정', 'DPF유무_수정', '배출가스', '등급2',
       'DPF', '비고', 'Grade', '차령', '시군구명_수정', '1일평균주행거리', '조기폐차최종승인YN', '저감장치',
       '연간주행거리', '검사일자', '검사방법', '검사종류', '검사판정', '무부하매연판정1', '무부하매연판정2',
       '무부하매연판정3', '무부하매연측정치1', '무부하매연측정치2', '무부하매연측정치3'],
      dtype='object')

In [270]:
gm4[['무부하매연측정치1', '무부하매연측정치2', '무부하매연측정치3']].isnull().sum()

무부하매연측정치1     36764
무부하매연측정치2    786037
무부하매연측정치3    819219
dtype: int64

In [271]:
gm5[['무부하매연측정치1', '무부하매연측정치2', '무부하매연측정치3']].isnull().sum()

무부하매연측정치1    448348
무부하매연측정치2    917594
무부하매연측정치3    937084
dtype: int64

In [272]:
emis_stat_g4.columns

Index(['연료', '배출가스인증번호', '검사종류', '검사방법', '검사판정', '차대번호/count',
       '무부하매연측정치1/mean', '무부하매연측정치1/min', '무부하매연측정치1/max', '무부하매연측정치2/mean',
       '무부하매연측정치2/min', '무부하매연측정치2/max', '무부하매연측정치3/mean', '무부하매연측정치3/min',
       '무부하매연측정치3/max'],
      dtype='object')

In [273]:
emis_stat_g5.columns

Index(['연료', '배출가스인증번호', '검사종류', '검사방법', '검사판정', '차대번호/count',
       '무부하매연측정치1/mean', '무부하매연측정치1/min', '무부하매연측정치1/max', '무부하매연측정치2/mean',
       '무부하매연측정치2/min', '무부하매연측정치2/max', '무부하매연측정치3/mean', '무부하매연측정치3/min',
       '무부하매연측정치3/max'],
      dtype='object')

### 매연값는 없는 df만 추출

In [274]:
gm4['연료'].value_counts(dropna=False)

경유    1149289
Name: 연료, dtype: int64

In [275]:
gm4d = gm4.loc[gm4['연료'] == '경유'].reset_index(drop=True)
gm4d.shape

(1149289, 53)

In [276]:
gm5d = gm5.loc[gm5['연료'] == '경유'].reset_index(drop=True)
gm5d.shape

(1124471, 26)

In [277]:
emis_stat_g4.loc[(emis_stat_g4['연료'] == '경유') & (emis_stat_g4['배출가스인증번호'] == '5MY-KM-24-17') & (emis_stat_g4['검사판정'] == 'Y'), ['검사종류', '검사방법', '무부하매연측정치1/mean']]

           검사종류          검사방법  무부하매연측정치1/mean
152   1부재검사(종합)  부하검사(KD-147)           12.13
154   2부재검사(종합)  부하검사(KD-147)           13.05
155  재검사(1부재검사)    무부하검사(급가속)            1.49
156  재검사(2부재검사)    무부하검사(급가속)           11.09
158    정기(경과)검사    무부하검사(급가속)           17.93
160        정기검사    무부하검사(급가속)           17.64
162        종합검사  부하검사(KD-147)           11.43
164    종합검사(경과)  부하검사(KD-147)           12.32

#### 무부하매연측정치1 결측값 처리(❌)

In [278]:
gm4d['무부하매연측정치1'].isnull().sum()

36764

In [56]:
gm4dy = gm4d.loc[gm4d['무부하매연측정치1'].isnull() == False].reset_index(drop=True)
gm4dn = gm4d.loc[gm4d['무부하매연측정치1'].isnull() == True].reset_index(drop=True)
gm4dy.shape, gm4dn.shape

((1114121, 25), (38582, 25))

In [57]:
emis_stat_g4.columns

Index(['연료', '배출가스인증번호', '검사종류', '검사방법', '검사판정', '차대번호/count',
       '무부하매연측정치1/mean', '무부하매연측정치1/min', '무부하매연측정치1/max', '무부하매연측정치2/mean',
       '무부하매연측정치2/min', '무부하매연측정치2/max', '무부하매연측정치3/mean', '무부하매연측정치3/min',
       '무부하매연측정치3/max'],
      dtype='object')

In [58]:
gm4dn.columns

Index(['차량등록번호', '본거지법정동코드', '차대번호', '제원관리번호', '배출가스인증번호', '배출가스등급', '차명',
       '차종', '연료', '배기량', '조기폐차최종승인YN', '저감장치', '연간주행거리', '시도', '시구군', '검사일자',
       '검사방법', '검사종류', '검사판정', '무부하매연판정1', '무부하매연판정2', '무부하매연판정3', '무부하매연측정치1',
       '무부하매연측정치2', '무부하매연측정치3'],
      dtype='object')

In [59]:
emis_stat_g4.shape

(2491, 15)

In [60]:
emis_stat_g4d = emis_stat_g4.loc[(emis_stat_g4['연료'] == '경유') & (emis_stat_g4['검사판정'] == 'Y') & (emis_stat_g4['차대번호/count'] > 1000)].reset_index(drop=True)
emis_stat_g4d.shape

(105, 15)

In [70]:
emis_stat_g5d = emis_stat_g5.loc[(emis_stat_g5['연료'] == '경유') & (emis_stat_g5['검사판정'] == 'Y') & (emis_stat_g5['차대번호/count'] > 1000)].reset_index(drop=True)
emis_stat_g5d.shape

(76, 15)

In [61]:
gm4dn['무부하매연측정치1'].isnull().sum()

38582

In [62]:
gm4dn = gm4dn.merge(emis_stat_g4d[['배출가스인증번호', '검사종류', '검사방법', '무부하매연측정치1/mean']], on=['배출가스인증번호', '검사종류', '검사방법'], how='left')
gm4dn['무부하매연측정치1/mean'].isnull().sum()

30152

In [63]:
gm4dn.columns

Index(['차량등록번호', '본거지법정동코드', '차대번호', '제원관리번호', '배출가스인증번호', '배출가스등급', '차명',
       '차종', '연료', '배기량', '조기폐차최종승인YN', '저감장치', '연간주행거리', '시도', '시구군', '검사일자',
       '검사방법', '검사종류', '검사판정', '무부하매연판정1', '무부하매연판정2', '무부하매연판정3', '무부하매연측정치1',
       '무부하매연측정치2', '무부하매연측정치3', '무부하매연측정치1/mean'],
      dtype='object')

In [64]:
gm4dn = gm4dn[['차량등록번호', '본거지법정동코드', '차대번호', '제원관리번호', '배출가스인증번호', '배출가스등급', '차명',
       '차종', '연료', '배기량', '조기폐차최종승인YN', '저감장치', '연간주행거리', '시도', '시구군', '검사일자',
       '검사방법', '검사종류', '검사판정', '무부하매연판정1', '무부하매연판정2', '무부하매연판정3', '무부하매연측정치1/mean',
       '무부하매연측정치2', '무부하매연측정치3', '무부하매연측정치1']]
gm4dn = gm4dn.drop('무부하매연측정치1', axis=1)
gm4dn = gm4dn.rename(columns={'무부하매연측정치1/mean':'무부하매연측정치1'})
gm4dn.columns

Index(['차량등록번호', '본거지법정동코드', '차대번호', '제원관리번호', '배출가스인증번호', '배출가스등급', '차명',
       '차종', '연료', '배기량', '조기폐차최종승인YN', '저감장치', '연간주행거리', '시도', '시구군', '검사일자',
       '검사방법', '검사종류', '검사판정', '무부하매연판정1', '무부하매연판정2', '무부하매연판정3', '무부하매연측정치1',
       '무부하매연측정치2', '무부하매연측정치3'],
      dtype='object')

In [65]:
gm4d = pd.concat([gm4dy, gm4dn], ignore_index=True)
gm4d.shape

(1152703, 25)

In [66]:
gm4d['무부하매연측정치1'].isnull().sum()

30152

In [72]:
gm5d.shape

(1124471, 25)

In [71]:
gm5dy = gm5d.loc[gm5d['무부하매연측정치1'].isnull() == False].reset_index(drop=True)
gm5dn = gm5d.loc[gm5d['무부하매연측정치1'].isnull() == True].reset_index(drop=True)
gm5dy.shape, gm5dn.shape

((706278, 25), (418193, 25))

In [69]:
gm5d['무부하매연측정치1'].isnull().sum()

418193

In [73]:
gm5dn = gm5dn.merge(emis_stat_g5d[['배출가스인증번호', '검사종류', '검사방법', '무부하매연측정치1/mean']], on=['배출가스인증번호', '검사종류', '검사방법'], how='left')
gm5dn['무부하매연측정치1/mean'].isnull().sum()

415813

In [74]:
gm5dn = gm5dn[['차량등록번호', '본거지법정동코드', '차대번호', '제원관리번호', '배출가스인증번호', '배출가스등급', '차명',
       '차종', '연료', '배기량', '조기폐차최종승인YN', '저감장치', '연간주행거리', '시도', '시구군', '검사일자',
       '검사방법', '검사종류', '검사판정', '무부하매연판정1', '무부하매연판정2', '무부하매연판정3', '무부하매연측정치1/mean',
       '무부하매연측정치2', '무부하매연측정치3', '무부하매연측정치1']]
gm5dn = gm5dn.drop('무부하매연측정치1', axis=1)
gm5dn = gm5dn.rename(columns={'무부하매연측정치1/mean':'무부하매연측정치1'})
gm5dn.columns

Index(['차량등록번호', '본거지법정동코드', '차대번호', '제원관리번호', '배출가스인증번호', '배출가스등급', '차명',
       '차종', '연료', '배기량', '조기폐차최종승인YN', '저감장치', '연간주행거리', '시도', '시구군', '검사일자',
       '검사방법', '검사종류', '검사판정', '무부하매연판정1', '무부하매연판정2', '무부하매연판정3', '무부하매연측정치1',
       '무부하매연측정치2', '무부하매연측정치3'],
      dtype='object')

In [75]:
gm5d = pd.concat([gm5dy, gm5dn], ignore_index=True)
gm5d.shape

(1124471, 25)

In [76]:
gm5d['무부하매연측정치1'].isnull().sum()

415813

#### 무부하매연측정치2 결측값 처리(❌)

In [77]:
gm4d['무부하매연측정치2'].isnull().sum()

789268

In [78]:
gm4dy = gm4d.loc[gm4d['무부하매연측정치2'].isnull() == False].reset_index(drop=True)
gm4dn = gm4d.loc[gm4d['무부하매연측정치2'].isnull() == True].reset_index(drop=True)
gm4dy.shape, gm4dn.shape

((363435, 25), (789268, 25))

In [79]:
gm4dn['무부하매연측정치2'].isnull().sum()

789268

In [80]:
gm4dn = gm4dn.merge(emis_stat_g4d[['배출가스인증번호', '검사종류', '검사방법', '무부하매연측정치2/mean']], on=['배출가스인증번호', '검사종류', '검사방법'], how='left')
gm4dn['무부하매연측정치2/mean'].isnull().sum()

289247

In [81]:
gm4dn.columns

Index(['차량등록번호', '본거지법정동코드', '차대번호', '제원관리번호', '배출가스인증번호', '배출가스등급', '차명',
       '차종', '연료', '배기량', '조기폐차최종승인YN', '저감장치', '연간주행거리', '시도', '시구군', '검사일자',
       '검사방법', '검사종류', '검사판정', '무부하매연판정1', '무부하매연판정2', '무부하매연판정3', '무부하매연측정치1',
       '무부하매연측정치2', '무부하매연측정치3', '무부하매연측정치2/mean'],
      dtype='object')

In [82]:
gm4dn = gm4dn[['차량등록번호', '본거지법정동코드', '차대번호', '제원관리번호', '배출가스인증번호', '배출가스등급', '차명',
       '차종', '연료', '배기량', '조기폐차최종승인YN', '저감장치', '연간주행거리', '시도', '시구군', '검사일자',
       '검사방법', '검사종류', '검사판정', '무부하매연판정1', '무부하매연판정2', '무부하매연판정3', 
       '무부하매연측정치1', '무부하매연측정치2/mean', '무부하매연측정치3', '무부하매연측정치2']]
gm4dn = gm4dn.drop('무부하매연측정치2', axis=1)
gm4dn = gm4dn.rename(columns={'무부하매연측정치2/mean':'무부하매연측정치2'})
gm4dn.columns

Index(['차량등록번호', '본거지법정동코드', '차대번호', '제원관리번호', '배출가스인증번호', '배출가스등급', '차명',
       '차종', '연료', '배기량', '조기폐차최종승인YN', '저감장치', '연간주행거리', '시도', '시구군', '검사일자',
       '검사방법', '검사종류', '검사판정', '무부하매연판정1', '무부하매연판정2', '무부하매연판정3', '무부하매연측정치1',
       '무부하매연측정치2', '무부하매연측정치3'],
      dtype='object')

In [83]:
gm4d = pd.concat([gm4dy, gm4dn], ignore_index=True)
gm4d.shape

(1152703, 25)

In [84]:
gm4d['무부하매연측정치2'].isnull().sum()

289247

In [85]:
gm5d.shape

(1124471, 25)

In [86]:
gm5dy = gm5d.loc[gm5d['무부하매연측정치2'].isnull() == False].reset_index(drop=True)
gm5dn = gm5d.loc[gm5d['무부하매연측정치2'].isnull() == True].reset_index(drop=True)
gm5dy.shape, gm5dn.shape

((237036, 25), (887435, 25))

In [87]:
gm5d['무부하매연측정치2'].isnull().sum()

887435

In [88]:
gm5dn = gm5dn.merge(emis_stat_g5d[['배출가스인증번호', '검사종류', '검사방법', '무부하매연측정치2/mean']], on=['배출가스인증번호', '검사종류', '검사방법'], how='left')
gm5dn['무부하매연측정치2/mean'].isnull().sum()

751470

In [89]:
gm5dn = gm5dn[['차량등록번호', '본거지법정동코드', '차대번호', '제원관리번호', '배출가스인증번호', '배출가스등급', '차명',
       '차종', '연료', '배기량', '조기폐차최종승인YN', '저감장치', '연간주행거리', '시도', '시구군', '검사일자',
       '검사방법', '검사종류', '검사판정', '무부하매연판정1', '무부하매연판정2', '무부하매연판정3', 
       '무부하매연측정치1', '무부하매연측정치2/mean', '무부하매연측정치3', '무부하매연측정치2']]
gm5dn = gm5dn.drop('무부하매연측정치2', axis=1)
gm5dn = gm5dn.rename(columns={'무부하매연측정치2/mean':'무부하매연측정치2'})
gm5dn.columns

Index(['차량등록번호', '본거지법정동코드', '차대번호', '제원관리번호', '배출가스인증번호', '배출가스등급', '차명',
       '차종', '연료', '배기량', '조기폐차최종승인YN', '저감장치', '연간주행거리', '시도', '시구군', '검사일자',
       '검사방법', '검사종류', '검사판정', '무부하매연판정1', '무부하매연판정2', '무부하매연판정3', '무부하매연측정치1',
       '무부하매연측정치2', '무부하매연측정치3'],
      dtype='object')

In [90]:
gm5d = pd.concat([gm5dy, gm5dn], ignore_index=True)
gm5d.shape

(1124471, 25)

In [91]:
gm5d['무부하매연측정치2'].isnull().sum()

751470

#### 무부하매연측정치3 결측값 처리(❌)

In [92]:
gm4d['무부하매연측정치3'].isnull().sum()

824003

In [93]:
gm4dy = gm4d.loc[gm4d['무부하매연측정치3'].isnull() == False].reset_index(drop=True)
gm4dn = gm4d.loc[gm4d['무부하매연측정치3'].isnull() == True].reset_index(drop=True)
gm4dy.shape, gm4dn.shape

((328700, 25), (824003, 25))

In [94]:
gm4dn['무부하매연측정치3'].isnull().sum()

824003

In [95]:
gm4dn = gm4dn.merge(emis_stat_g4d[['배출가스인증번호', '검사종류', '검사방법', '무부하매연측정치3/mean']], on=['배출가스인증번호', '검사종류', '검사방법'], how='left')
gm4dn['무부하매연측정치3/mean'].isnull().sum()

300605

In [96]:
gm4dn.columns

Index(['차량등록번호', '본거지법정동코드', '차대번호', '제원관리번호', '배출가스인증번호', '배출가스등급', '차명',
       '차종', '연료', '배기량', '조기폐차최종승인YN', '저감장치', '연간주행거리', '시도', '시구군', '검사일자',
       '검사방법', '검사종류', '검사판정', '무부하매연판정1', '무부하매연판정2', '무부하매연판정3', '무부하매연측정치1',
       '무부하매연측정치2', '무부하매연측정치3', '무부하매연측정치3/mean'],
      dtype='object')

In [97]:
gm4dn = gm4dn[['차량등록번호', '본거지법정동코드', '차대번호', '제원관리번호', '배출가스인증번호', '배출가스등급', '차명',
       '차종', '연료', '배기량', '조기폐차최종승인YN', '저감장치', '연간주행거리', '시도', '시구군', '검사일자',
       '검사방법', '검사종류', '검사판정', '무부하매연판정1', '무부하매연판정2', '무부하매연판정3', 
       '무부하매연측정치1', '무부하매연측정치2', '무부하매연측정치3/mean', '무부하매연측정치3']]
gm4dn = gm4dn.drop('무부하매연측정치3', axis=1)
gm4dn = gm4dn.rename(columns={'무부하매연측정치3/mean':'무부하매연측정치3'})
gm4dn.columns

Index(['차량등록번호', '본거지법정동코드', '차대번호', '제원관리번호', '배출가스인증번호', '배출가스등급', '차명',
       '차종', '연료', '배기량', '조기폐차최종승인YN', '저감장치', '연간주행거리', '시도', '시구군', '검사일자',
       '검사방법', '검사종류', '검사판정', '무부하매연판정1', '무부하매연판정2', '무부하매연판정3', '무부하매연측정치1',
       '무부하매연측정치2', '무부하매연측정치3'],
      dtype='object')

In [98]:
gm4d = pd.concat([gm4dy, gm4dn], ignore_index=True)
gm4d.shape

(1152703, 25)

In [99]:
gm4d['무부하매연측정치3'].isnull().sum()

300605

In [100]:
gm5d.shape

(1124471, 25)

In [101]:
gm5dy = gm5d.loc[gm5d['무부하매연측정치3'].isnull() == False].reset_index(drop=True)
gm5dn = gm5d.loc[gm5d['무부하매연측정치3'].isnull() == True].reset_index(drop=True)
gm5dy.shape, gm5dn.shape

((217546, 25), (906925, 25))

In [102]:
gm5d['무부하매연측정치3'].isnull().sum()

906925

In [103]:
gm5dn = gm5dn.merge(emis_stat_g5d[['배출가스인증번호', '검사종류', '검사방법', '무부하매연측정치3/mean']], on=['배출가스인증번호', '검사종류', '검사방법'], how='left')
gm5dn['무부하매연측정치3/mean'].isnull().sum()

764348

In [105]:
gm5dn = gm5dn[['차량등록번호', '본거지법정동코드', '차대번호', '제원관리번호', '배출가스인증번호', '배출가스등급', '차명',
       '차종', '연료', '배기량', '조기폐차최종승인YN', '저감장치', '연간주행거리', '시도', '시구군', '검사일자',
       '검사방법', '검사종류', '검사판정', '무부하매연판정1', '무부하매연판정2', '무부하매연판정3', 
       '무부하매연측정치1', '무부하매연측정치2', '무부하매연측정치3/mean', '무부하매연측정치3']]
gm5dn = gm5dn.drop('무부하매연측정치3', axis=1)
gm5dn = gm5dn.rename(columns={'무부하매연측정치3/mean':'무부하매연측정치3'})
gm5dn.columns

Index(['차량등록번호', '본거지법정동코드', '차대번호', '제원관리번호', '배출가스인증번호', '배출가스등급', '차명',
       '차종', '연료', '배기량', '조기폐차최종승인YN', '저감장치', '연간주행거리', '시도', '시구군', '검사일자',
       '검사방법', '검사종류', '검사판정', '무부하매연판정1', '무부하매연판정2', '무부하매연판정3', '무부하매연측정치1',
       '무부하매연측정치2', '무부하매연측정치3'],
      dtype='object')

In [106]:
gm5d = pd.concat([gm5dy, gm5dn], ignore_index=True)
gm5d.shape

(1124471, 25)

In [107]:
gm5d['무부하매연측정치3'].isnull().sum()

764348

#### 출력

In [111]:
gm4d.shape, gm5d.shape

((1152703, 25), (1124471, 25))

In [112]:
# about 25.6s
gm4d.to_csv(os.path.join(ods_fold, 'BD3_3_저공해조치_우선차량선별_4등급_매연결측치처리.csv'), index=False)
gm5d.to_csv(os.path.join(ods_fold, 'BD3_3_저공해조치_우선차량선별_5등급_매연결측치처리.csv'), index=False)

# 분석

## 경제적 타당성 평가
- 환경이익 계산

### 4등급 환경이익
- 고려사항
    - 조기폐차
- '조기폐차최종승인YN' = N 인 차량이 조기폐차 했을 경우 환경이익 계산

In [279]:
gm4d.columns

Index(['차대번호', '차량번호', '제원관리번호', '차종', '용도', '최초등록일', '연식', '제작일자', '검사유효일',
       '배출가스인증번호', '등급', '차명', '차종분류', '차종유형', '자동차형식', '제작사명', '연료', '엔진형식',
       '총중량', '적재중량', '엔진출력', '배기량', '법정동코드', '시도명', '시군구명', '소유자구분', '말소여부',
       '일치유무', '인증번호 수정 유무', '배인번호_수정', '등급_수정', 'DPF유무_수정', '배출가스', '등급2',
       'DPF', '비고', 'Grade', '차령', '시군구명_수정', '1일평균주행거리', '조기폐차최종승인YN', '저감장치',
       '연간주행거리', '검사일자', '검사방법', '검사종류', '검사판정', '무부하매연판정1', '무부하매연판정2',
       '무부하매연판정3', '무부하매연측정치1', '무부하매연측정치2', '무부하매연측정치3'],
      dtype='object')

In [110]:
gm4d['조기폐차최종승인YN'].value_counts(dropna=False)

NaN    1152703
Name: 조기폐차최종승인YN, dtype: int64

In [113]:
gm4d['저감장치'].value_counts(dropna=False)

NaN           1152669
DPF                32
PM-NOx저감장치          2
Name: 저감장치, dtype: int64

In [119]:
gm4d[(gm4d['저감장치'] == 'DPF') | (gm4d['저감장치'] == 'PM-NOx저감장치')].reset_index(drop=True).to_excel(os.path.join(analysis_fold, '샘플_4등급_저감장치.xlsx'), index=False)

In [281]:
gm4d['검사방법'].unique()

array(['무부하검사(급가속)', '부하검사(KD-147)', nan, '부하검사(LUG DOWN)',
       '부하검사(ASM-Idling)', '무부하검사(정지가동)'], dtype=object)

In [287]:
gm4d['배기량'].isnull().sum()

0

In [314]:
gm4d[['무부하매연측정치1', '무부하매연측정치2', '무부하매연측정치3']].isnull().sum()

무부하매연측정치1     36764
무부하매연측정치2    786037
무부하매연측정치3    819219
dtype: int64

In [316]:
gm4d['연간주행거리'].isnull().sum()

0

In [341]:
kg_list = []
for method, one, two, three, distance, cc in tqdm(gm4d[['검사방법', '무부하매연측정치1', '무부하매연측정치2', '무부하매연측정치3', '연간주행거리', '배기량']].values):
    cc = cc/1000
    if method == '무부하검사(급가속)' or method == '무부하검사(정지가동)':
        if pd.isna(one) == False and pd.isna(two) == False and pd.isna(three) == False:
            emis = (one + two + three) / 3
        elif pd.isna(one) == False and pd.isna(two) == True and pd.isna(three) == True:
            emis = one
        else:
            emis = np.nan
    elif method == '부하검사(KD-147)':
        if pd.isna(one) == False:
            emis = one
        else:
            emis = np.nan
    elif method == '부하검사(ASM-Idling)':
        if pd.isna(one) == False:
            emis = one
        else:
            emis = np.nan
    else:
        emis = np.nan
    mgkm = (0.0126*(emis**2) + 2.665*emis +3.03) * ( (0.4229*0.001*cc**2 - 1.022*0.001*cc + 1.59)/60 ) * 1/2.16
    kg = mgkm * distance * 10**(-6)
    kg_list.append(kg)

100%|██████████| 1149289/1149289 [00:05<00:00, 202768.90it/s]

In [342]:
len(kg_list)

1149289

In [343]:
kg_list[:10]

[nan,
 nan,
 nan,
 0.49939401076923073,
 1.6933647732590529,
 3.933248482262211,
 0.011475395327102804,
 0.0005302761565836298,
 nan,
 5.844578049]

In [344]:
gm4d = gm4d.drop('환경이익', axis=1)
gm4d.columns

Index(['차대번호', '차량번호', '제원관리번호', '차종', '용도', '최초등록일', '연식', '제작일자', '검사유효일',
       '배출가스인증번호', '등급', '차명', '차종분류', '차종유형', '자동차형식', '제작사명', '연료', '엔진형식',
       '총중량', '적재중량', '엔진출력', '배기량', '법정동코드', '시도명', '시군구명', '소유자구분', '말소여부',
       '일치유무', '인증번호 수정 유무', '배인번호_수정', '등급_수정', 'DPF유무_수정', '배출가스', '등급2',
       'DPF', '비고', 'Grade', '차령', '시군구명_수정', '1일평균주행거리', '조기폐차최종승인YN', '저감장치',
       '연간주행거리', '검사일자', '검사방법', '검사종류', '검사판정', '무부하매연판정1', '무부하매연판정2',
       '무부하매연판정3', '무부하매연측정치1', '무부하매연측정치2', '무부하매연측정치3'],
      dtype='object')

In [345]:
gm4d['연간배출량'] = kg_list
gm4d.columns

Index(['차대번호', '차량번호', '제원관리번호', '차종', '용도', '최초등록일', '연식', '제작일자', '검사유효일',
       '배출가스인증번호', '등급', '차명', '차종분류', '차종유형', '자동차형식', '제작사명', '연료', '엔진형식',
       '총중량', '적재중량', '엔진출력', '배기량', '법정동코드', '시도명', '시군구명', '소유자구분', '말소여부',
       '일치유무', '인증번호 수정 유무', '배인번호_수정', '등급_수정', 'DPF유무_수정', '배출가스', '등급2',
       'DPF', '비고', 'Grade', '차령', '시군구명_수정', '1일평균주행거리', '조기폐차최종승인YN', '저감장치',
       '연간주행거리', '검사일자', '검사방법', '검사종류', '검사판정', '무부하매연판정1', '무부하매연판정2',
       '무부하매연판정3', '무부하매연측정치1', '무부하매연측정치2', '무부하매연측정치3', '연간배출량'],
      dtype='object')

In [346]:
gm4d['연간배출량'].describe()

count   1037785.00
mean           inf
std            NaN
min           0.00
25%           0.00
50%           0.00
75%           0.00
max            inf
Name: 연간배출량, dtype: float64

In [347]:
gm4d['연간배출량'].isnull().sum()

111504

In [348]:
gm4d[(gm4d['연간배출량'].isnull()) | (gm4d['연간배출량'] == np.inf) | (gm4d['연간배출량'] == -np.inf)].shape

(140083, 54)

In [351]:
gm4d.shape

(1149289, 54)

In [353]:
today_date = datetime.today().strftime("%Y.%m.%d_%p.%I.%M.%S")
today_date

'2023.05.05_PM.02.20.36'

In [354]:
# 출력 4등급 경유차 연간배출량 정보 추가
# about 15m 47.4s
n = 500000
name = '4등급_경유차_연간배출량'
gm4d.iloc[:n].to_excel(os.path.join(ods_fold, f'{name}01({today_date}).xlsx'), index=False)
gm4d.iloc[n:].to_excel(os.path.join(ods_fold, f'{name}02({today_date}).xlsx'), index=False)

### 5등급
- 고려사항
    - 조기폐차, 저감장치 부착

In [355]:
gm5d.columns

Index(['차량등록번호', '본거지법정동코드', '차대번호', '제원관리번호', '배출가스인증번호', '배출가스등급', '차명',
       '차종', '연료', '배기량', '조기폐차최종승인YN', '저감장치', '연간주행거리', '시도', '시구군',
       '1일평균주행거리', '검사일자', '검사방법', '검사종류', '검사판정', '무부하매연판정1', '무부하매연판정2',
       '무부하매연판정3', '무부하매연측정치1', '무부하매연측정치2', '무부하매연측정치3'],
      dtype='object')

In [356]:
gm5d['조기폐차최종승인YN'].value_counts(dropna=False)

NaN    1110730
Y        13741
Name: 조기폐차최종승인YN, dtype: int64

In [357]:
gm5d['저감장치'].value_counts(dropna=False)

NaN           981349
DPF           141326
PM-NOx저감장치      1796
Name: 저감장치, dtype: int64

In [358]:
gm5d['검사방법'].unique()

array(['무부하검사(급가속)', '무부하검사(정지가동)', '부하검사(LUG DOWN)', '부하검사(KD-147)',
       '무부하검사(TSI)', '부하검사(ASM-Idling)', nan], dtype=object)

In [359]:
gm5d['배기량'].isnull().sum()

1

In [360]:
gm5d[['무부하매연측정치1', '무부하매연측정치2', '무부하매연측정치3']].isnull().sum()

무부하매연측정치1    418193
무부하매연측정치2    887435
무부하매연측정치3    906925
dtype: int64

In [361]:
gm5d['연간주행거리'].isnull().sum()

0

In [362]:
gm5d.shape

(1124471, 26)

In [363]:
kg_early_list= []
kg_dpf_list= []
rate = 0.988
for early, dpf, method, one, two, three, distance, cc in tqdm(gm5d[['조기폐차최종승인YN', '저감장치', '검사방법', '무부하매연측정치1', '무부하매연측정치2', '무부하매연측정치3', '연간주행거리', '배기량']].values):
    cc = cc/1000
    if pd.isna(early) == True and pd.isna(dpf) == True:
        if method == '무부하검사(급가속)' or method == '무부하검사(정지가동)':
            if pd.isna(one) == False and pd.isna(two) == False and pd.isna(three) == False:
                emis = (one + two + three) / 3
            elif pd.isna(one) == False and pd.isna(two) == True and pd.isna(three) == True:
                emis = one
            else:
                emis = np.nan
        elif method == '부하검사(KD-147)':
            if pd.isna(one) == False:
                emis = one
            else:
                emis = np.nan
        elif method == '부하검사(ASM-Idling)':
            if pd.isna(one) == False:
                emis = one
            else:
                emis = np.nan
        else:
            emis = np.nan
        mgkm = (0.0126*(emis**2) + 2.665*emis +3.03) * ( (0.4229*0.001*cc**2 - 1.022*0.001*cc + 1.59)/60 ) * 1/2.16
        mgkm_dpf = (0.0126*((emis*rate)**2) + 2.665*(emis*rate) +3.03) * ( (0.4229*0.001*cc**2 - 1.022*0.001*cc + 1.59)/60 ) * 1/2.16
        kg = mgkm * distance * 10**(-6)
        kg_dpf = mgkm_dpf * distance * 10**(-6)
        kg_early_list.append(kg)
        kg_dpf_list.append(kg_dpf)

    elif pd.isna(early) == True and pd.isna(dpf) == False:
        if method == '무부하검사(급가속)' or method == '무부하검사(정지가동)':
            if pd.isna(one) == False and pd.isna(two) == False and pd.isna(three) == False:
                emis = (one + two + three) / 3
            elif pd.isna(one) == False and pd.isna(two) == True and pd.isna(three) == True:
                emis = one
            else:
                emis = np.nan
        elif method == '부하검사(KD-147)':
            if pd.isna(one) == False:
                emis = one
            else:
                emis = np.nan
        elif method == '부하검사(ASM-Idling)':
            if pd.isna(one) == False:
                emis = one
            else:
                emis = np.nan
        else:
            emis = np.nan
        mgkm = (0.0126*(emis**2) + 2.665*emis +3.03) * ( (0.4229*0.001*cc**2 - 1.022*0.001*cc + 1.59)/60 ) * 1/2.16
        kg = mgkm * distance * 10**(-6)
        kg_early_list.append(kg)
        kg_dpf_list.append(np.nan)
    else:
        kg_early_list.append(np.nan)
        kg_dpf_list.append(np.nan)

100%|██████████| 1124471/1124471 [00:06<00:00, 163420.69it/s]

In [364]:
len(kg_early_list), len(kg_dpf_list)

(1124471, 1124471)

In [365]:
kg_early_list[:10]

[0.63519381220613,
 1.1981247536677817e-05,
 1.4950924262216636e-06,
 0.00019871972129629627,
 nan,
 0.006917406222163649,
 0.006033451250095614,
 7.1899355215114054e-06,
 0.004999611330821189,
 0.003653341647277534]

In [366]:
kg_dpf_list[:10]

[0.6265197188527512,
 1.1866770915369635e-05,
 1.4950924262216636e-06,
 0.0001969597952170492,
 nan,
 0.006824963500295523,
 0.005958749883871181,
 7.149271261741866e-06,
 0.004941011942243971,
 0.0036126628572357784]

In [368]:
gm5d['연간배출량_조기폐차'] = kg_early_list
gm5d['연간배출량_DPF'] = kg_dpf_list
gm5d.columns

Index(['차량등록번호', '본거지법정동코드', '차대번호', '제원관리번호', '배출가스인증번호', '배출가스등급', '차명',
       '차종', '연료', '배기량', '조기폐차최종승인YN', '저감장치', '연간주행거리', '시도', '시구군',
       '1일평균주행거리', '검사일자', '검사방법', '검사종류', '검사판정', '무부하매연판정1', '무부하매연판정2',
       '무부하매연판정3', '무부하매연측정치1', '무부하매연측정치2', '무부하매연측정치3', '연간배출량_조기폐차',
       '연간배출량_DPF'],
      dtype='object')

In [369]:
gm5d.shape

(1124471, 28)

In [370]:
# 출력 5등급 경유차 연간배출량 정보 추가
# about 7m 25.3s
n = 500000
name = '5등급_경유차_연간배출량'
gm5d.iloc[:n].to_excel(os.path.join(ods_fold, f'{name}01({today_date}).xlsx'), index=False)
gm5d.iloc[n:].to_excel(os.path.join(ods_fold, f'{name}02({today_date}).xlsx'), index=False)

# code end