# Library

In [1]:
import pandas as pd
import numpy as np
import os
from tqdm import tqdm

In [2]:
# 소수점 옵션
pd.options.display.float_format = '{:.2f}'.format
# pd.reset_option('display.float_format')

# 로드
- 등록정보&제원정보(말소적용)
- 저감장치 부착이력

In [3]:
ods_fold = 'D:/data/big2/ODS'

In [4]:
# about 25s
# 등록&제원 정보(말소적용)
grade = 4
df = pd.read_csv(os.path.join(ods_fold, f'[ODS][G{grade}]등록정보&제원정보(말소제거)(2022.12.29).csv'), low_memory=False, encoding='cp949')
# 저감장치 부착이력(중복 차대번호 처리)
dpf = pd.read_csv(os.path.join(ods_fold, '[ODS]저감장치부착이력(중복차대제거)(2022.12.29).csv'), low_memory=False, encoding='cp949')

In [5]:
# 유로4인증대장
euro = pd.read_excel('D:/data/big2/dpf.xlsx')

# 전처리

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1511251 entries, 0 to 1511250
Data columns (total 49 columns):
 #   Column        Non-Null Count    Dtype
---  ------        --------------    -----
 0   차량관리번호        1511251 non-null  object
 1   차량등록번호        1511251 non-null  object
 2   본거지법정동코드      1511251 non-null  int64
 3   소유자구분         1511251 non-null  object
 4   차종            1511249 non-null  object
 5   용도            1511251 non-null  object
 6   현재회원번호        1510412 non-null  object
 7   차대번호          1511251 non-null  object
 8   최초등록일자        1511251 non-null  int64
 9   차량연식          1511251 non-null  int64
 10  차량제작일자        1342461 non-null  float64
 11  배출가스검사유효일자    1511239 non-null  float64
 12  제원관리번호        1511251 non-null  object
 13  배출가스인증번호      1387530 non-null  object
 14  배출가스등급        1511251 non-null  object
 15  저공해조치YN(미사용)  1511096 non-null  object
 16  저공해조치종류       189 non-null      float64
 17  저공해조치구조변경YN   1511251 non-null  object
 18  차량등록번호숫자정보    1511251 non-null  int64
 19  차량말소YN        1511251 non-null  object
 20  최초회원번호        1506595 non-null  object
 21  취득일자          1418010 non-null  object
 22  취득금액          1436843 non-null  float64
 23  생성일시          1511251 non-null  object
 24  수정일시          915041 non-null   object
 25  차명            1511251 non-null  object
 26  차종_제원정보       1511251 non-null  object
 27  차종분류          1511251 non-null  object
 28  차종유형(소분류)     1511251 non-null  object
 29  자동차형식         1510723 non-null  object
 30  제작사명          1501221 non-null  object
 31  연료            1511180 non-null  object
 32  엔진형식          1509249 non-null  object
 33  공차중량          0 non-null        float64
 34  총중량           1511226 non-null  float64
 35  적재중량          1510714 non-null  float64
 36  엔진출력          1510623 non-null  float64
 37  배기량           1511240 non-null  float64
 38  승차인원          1511251 non-null  float64
 39  차량길이          1511176 non-null  float64
 40  차량너비          1511176 non-null  float64
 41  차량높이          1511174 non-null  float64
 42  원산지명          1492122 non-null  object
 43  삭제YN          1511251 non-null  object
 44  승인일자          1510704 non-null  object
 45  구동형식          47 non-null       float64
 46  변속기종류         1511091 non-null  object
 47  생성일시_제원정보     1511251 non-null  object
 48  수정일시_제원정보     497 non-null      object
dtypes: float64(14), int64(4), object(31)
memory usage: 565.0+ MB

In [7]:
df.columns

Index(['차량관리번호', '차량등록번호', '본거지법정동코드', '소유자구분', '차종', '용도', '현재회원번호', '차대번호',
       '최초등록일자', '차량연식', '차량제작일자', '배출가스검사유효일자', '제원관리번호', '배출가스인증번호',
       '배출가스등급', '저공해조치YN(미사용)', '저공해조치종류', '저공해조치구조변경YN', '차량등록번호숫자정보',
       '차량말소YN', '최초회원번호', '취득일자', '취득금액', '생성일시', '수정일시', '차명', '차종_제원정보',
       '차종분류', '차종유형(소분류)', '자동차형식', '제작사명', '연료', '엔진형식', '공차중량', '총중량',
       '적재중량', '엔진출력', '배기량', '승차인원', '차량길이', '차량너비', '차량높이', '원산지명', '삭제YN',
       '승인일자', '구동형식', '변속기종류', '생성일시_제원정보', '수정일시_제원정보'],
      dtype='object')

In [8]:
df.columns = ['차량관리번호', '차량등록번호', '본거지법정동코드', '소유자구분', '차종_등록정보', '용도', '현재회원번호', '차대번호',
       '최초등록일자', '차량연식', '차량제작일자', '배출가스검사유효일자', '제원관리번호', '배출가스인증번호',
       '배출가스등급', '저공해조치YN(미사용)', '저공해조치종류', '저공해조치구조변경YN', '차량등록번호숫자정보',
       '차량말소YN', '최초회원번호', '취득일자', '취득금액', '생성일시', '수정일시', '차명', '차종_제원정보',
       '차종분류', '차종유형(소분류)', '자동차형식', '제작사명', '연료', '엔진형식', '공차중량', '총중량',
       '적재중량', '엔진출력', '배기량', '승차인원', '차량길이', '차량너비', '차량높이', '원산지명', '삭제YN',
       '승인일자', '구동형식', '변속기종류', '생성일시_제원정보', '수정일시_제원정보']

In [9]:
df.shape

(1511251, 49)

In [10]:
dpf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 809255 entries, 0 to 809254
Data columns (total 11 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   저감장치종류      585410 non-null  object
 1   TDMS부착여부    204903 non-null  object
 2   구조변경일자      809255 non-null  int64
 3   부착업체명       800321 non-null  object
 4   부착일자        809254 non-null  float64
 5   탈거승인일       169 non-null     float64
 6   차량번호        809255 non-null  object
 7   차대번호        809255 non-null  object
 8   저감장치반납여부    324650 non-null  object
 9   저감장치구분      809255 non-null  object
 10  삼원촉매장치반납여부  13688 non-null   object
dtypes: float64(2), int64(1), object(8)
memory usage: 67.9+ MB

In [11]:
dpf.shape

(809255, 11)

In [12]:
dpf.isnull().sum()

저감장치종류        223845
TDMS부착여부      604352
구조변경일자             0
부착업체명           8934
부착일자               1
탈거승인일         809086
차량번호               0
차대번호               0
저감장치반납여부      484605
저감장치구분             0
삼원촉매장치반납여부    795567
dtype: int64

In [13]:
euro.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 82 entries, 0 to 81
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   배출가스인증번호  82 non-null     object
 1   DPF유무     82 non-null     object
dtypes: object(2)
memory usage: 1.4+ KB

In [14]:
euro.shape

(82, 2)

### 중복 차대번호 처리
- '최초등록일자', '배출가스검사유효일자', ascending=False

In [15]:
df.shape[0], len(df['차대번호'].unique())

(1511251, 1511211)

In [16]:
df.shape[0] - len(df['차대번호'].unique())

40

In [17]:
df['dupl'] = df['차대번호'].duplicated().to_list()
df.head()

,차량관리번호,차량등록번호,본거지법정동코드,소유자구분,차종_등록정보,용도,현재회원번호,차대번호,최초등록일자,차량연식,...,차량너비,차량높이,원산지명,삭제YN,승인일자,구동형식,변속기종류,생성일시_제원정보,수정일시_제원정보,dupl
0,CN-62-T-2213-01,서울2흐1820,1159010200,주민,승용,자가용,83F93626F5DE27EA64594DE5B3D02DB4,CN-62-T-2213,19650209,2002,...,1650.00,2000.00,영국,N,19920529,NaN,M,19/06/22,NaN,False
1,SL68T032460-01,서울5가1334,1165010100,기타,승용,자가용,FFFB77E175610478415F654BFE77B2E7,SL68T032460,19750127,1968,...,1750.00,1410.00,대한민국,N,19890911,NaN,A,19/06/22,NaN,False
2,2T1CF2897YC359923-01,16다1728,1117012400,기타,승용,자가용,086EDAAD3932E03864AB0AB7C3403056,2T1CF2897YC359923,19821231,2000,...,1795.00,1490.00,기타,N,20021025,NaN,X,19/06/22,NaN,False
3,KNADA2322HS004198-01,전북1나2309,4574033530,주민,승용,자가용,1F391F79050FA17A36109FCFCAFC5299,KNADA2322HS004198,19870411,1987,...,1605.00,1460.00,NaN,N,19870127,NaN,M,19/06/22,NaN,False
4,KNADA2322HS004932-01,경기30다4720,4159025323,주민,승용,자가용,9ED8F300515AFBB6E571F7BE6F30DC08,KNADA2322HS004932,19870421,1987,...,1605.00,1460.00,NaN,N,19870127,NaN,M,19/06/22,NaN,False

In [18]:
dupl_vin = df[df['dupl'] == True].sort_values(['최초등록일자', '배출가스검사유효일자'], ascending=False).reset_index(drop=True)
dupl_vin.head()

,차량관리번호,차량등록번호,본거지법정동코드,소유자구분,차종_등록정보,용도,현재회원번호,차대번호,최초등록일자,차량연식,...,차량너비,차량높이,원산지명,삭제YN,승인일자,구동형식,변속기종류,생성일시_제원정보,수정일시_제원정보,dupl
0,1GBEL19W3XB192382-02,39고6855,1141011800,주민,승용,자가용,502E2726B1B408896B07CD69C1BFD944,1GBEL19W3XB192382,20091013,1999,...,1980.00,1915.00,독일,N,20090805,NaN,A,19/06/22,NaN,True
1,KMHBF31FPMV273591-03,57구7651,4513040021,기타,승용,자가용,42122EFA693C98DB2F3E4DAA915742B6,KMHBF31FPMV273591,20040714,1991,...,1750.00,1410.00,대한민국,N,19910125,NaN,M,19/06/22,NaN,True
2,KMHBF21DPNU459285-04,57구3409,4513040021,기타,승용,자가용,70C44A62FA06C1DFCB647A4ECB93ACA4,KMHBF21DPNU459285,20040302,1992,...,1750.00,1410.00,대한민국,N,19920122,NaN,M,19/06/22,NaN,True
3,KMHBF31FPNU503892-03,16다1105,1117012400,기타,승용,자가용,9602A1954E945253D8BF4656A1BAE7F1,KMHBF31FPNU503892,20040112,1992,...,0.00,0.00,대한민국,N,19910416,NaN,M,19/06/22,NaN,True
4,KLAJA19Y1SB055388-03,대구30고9995,2720010300,기타,승용,자가용,5D681BED675EFD56E4E94FF11FD41E14,KLAJA19Y1SB055388,20031204,1995,...,1718.00,1382.00,대한민국,N,19950429,NaN,A,19/06/22,NaN,True

#### [출력] 중복 차대번호 샘플

In [19]:
# dupl_vin.to_excel(f'analysis2/[BD3][G{grade}][샘플]등록&제원-저감_중복차대번호(말소제거).xlsx')

In [17]:
df = df.sort_values(['최초등록일자', '배출가스검사유효일자'], ascending=[False, False]).drop_duplicates('차대번호').reset_index(drop=True)
df.shape

(1511211, 49)

In [21]:
# # 중복 여부 컬럼 삭제
# df = df.drop('dupl', axis=1)
# df.shape

(1511211, 49)

## 차대번호 기준 병합

In [18]:
total = df.merge(dpf, on='차대번호', how='left')
total.shape

(1511211, 59)

In [19]:
total['구조변경일자'].isnull().sum()

1511175

In [20]:
total.isnull().sum()

차량관리번호                0
차량등록번호                0
본거지법정동코드              0
소유자구분                 0
차종_등록정보               2
용도                    0
현재회원번호              839
차대번호                  0
최초등록일자                0
차량연식                  0
차량제작일자           168773
배출가스검사유효일자           12
제원관리번호                0
배출가스인증번호         123700
배출가스등급                0
저공해조치YN(미사용)        155
저공해조치종류         1511022
저공해조치구조변경YN           0
차량등록번호숫자정보            0
차량말소YN                0
최초회원번호             4655
취득일자              93214
취득금액              74401
생성일시                  0
수정일시             596187
차명                    0
차종_제원정보               0
차종분류                  0
차종유형(소분류)             0
자동차형식               528
제작사명              10027
연료                   71
엔진형식               2001
공차중량            1511211
총중량                  25
적재중량                537
엔진출력                628
배기량                  11
승차인원                  0
차량길이                 75
차량너비                 75
차량높이                 77
원산지명              19125
삭제YN                  0
승인일자                547
구동형식            1511164
변속기종류               160
생성일시_제원정보             0
수정일시_제원정보       1510714
저감장치종류          1511175
TDMS부착여부        1511182
구조변경일자          1511175
부착업체명           1511175
부착일자            1511175
탈거승인일           1511211
차량번호            1511175
저감장치반납여부        1511211
저감장치구분          1511175
삼원촉매장치반납여부      1511211
dtype: int64

## 저감 데이터에서 등록&제원 데이터와 매칭되는 차대번호 샘플

In [21]:
miss_match_vin = list(set(dpf['차대번호']) - set(df['차대번호']))
len(miss_match_vin)

809219

In [22]:
match_vin = list(set(dpf['차대번호']) & set(df['차대번호']))
len(match_vin)

36

In [23]:
match_vin[:5]

['KL5UY61YD7P000752',
 'KMHSJ81WP7U204822',
 'KL5UY61YD7P000803',
 'KL3K9ARF57K000004',
 'KMHSJ81WP7U231639']

In [28]:
match_dpf = pd.DataFrame()
for one in tqdm(match_vin):
    temp = dpf[dpf['차대번호'] == one]
    match_dpf = pd.concat([match_dpf, temp], ignore_index=True)
match_dpf.shape

100%|██████████| 36/36 [00:01<00:00, 22.06it/s]

(36, 11)

In [29]:
match_dpf.sort_values(['차대번호', '구조변경일자', '부착일자']).head()

,저감장치종류,TDMS부착여부,구조변경일자,부착업체명,부착일자,탈거승인일,차량번호,차대번호,저감장치반납여부,저감장치구분,삼원촉매장치반납여부
29,복합대형,N,20191216,㈜주왕,20191216.00,NaN,충남80아2361,KL3C6CHF18K003487,NaN,1종,NaN
17,자연대형,N,20191011,(주)명성테크,20191011.00,NaN,부산91아2052,KL3K9ARF18K000823,NaN,1종,NaN
28,자연대형+SCR,N,20190927,(주)서천제일자동차공업사,20190927.00,NaN,서울87아7110,KL3K9ARF57K000004,NaN,1종+SCR,NaN
34,복합대형,N,20160126,북항자동차정비검사소,20160126.00,NaN,서울74바1057,KL5UY61YD7P000720,NaN,1종,NaN
4,자연대형+SCR,N,20160826,형제자동차공업사(부천),20160826.00,NaN,인천73바9377,KL5UY61YD7P000752,NaN,1종+SCR,NaN

In [30]:
match_dpf.shape

(36, 11)

In [31]:
match_dpf.duplicated('차대번호').sum()

0

### [출력] 매칭되는 차대번호 샘플

In [32]:
# match_dpf.sort_values(['차대번호', '구조변경일자', '부착일자']).to_excel(f'analysis2/[BD3][G{grade}][통계]저감장치부착이력_등록&제원정보_매칭_차대번호_샘플(말소제거).xlsx', index=False)

## 분류 통계
- 중복 차대번호 제거
    - 최초등록일자, 배출가스검사유효일자 : 최신순(ascending=False)
- 분류
    - 연료 : 휘발유가스, 경유
    - 차량제작일자
    - 저감장치구분(1종, 1종+SCR)

In [24]:
total.columns

Index(['차량관리번호', '차량등록번호', '본거지법정동코드', '소유자구분', '차종_등록정보', '용도', '현재회원번호',
       '차대번호', '최초등록일자', '차량연식', '차량제작일자', '배출가스검사유효일자', '제원관리번호', '배출가스인증번호',
       '배출가스등급', '저공해조치YN(미사용)', '저공해조치종류', '저공해조치구조변경YN', '차량등록번호숫자정보',
       '차량말소YN', '최초회원번호', '취득일자', '취득금액', '생성일시', '수정일시', '차명', '차종_제원정보',
       '차종분류', '차종유형(소분류)', '자동차형식', '제작사명', '연료', '엔진형식', '공차중량', '총중량',
       '적재중량', '엔진출력', '배기량', '승차인원', '차량길이', '차량너비', '차량높이', '원산지명', '삭제YN',
       '승인일자', '구동형식', '변속기종류', '생성일시_제원정보', '수정일시_제원정보', '저감장치종류', 'TDMS부착여부',
       '구조변경일자', '부착업체명', '부착일자', '탈거승인일', '차량번호', '저감장치반납여부', '저감장치구분',
       '삼원촉매장치반납여부'],
      dtype='object')

## 유로4 DPF 부착여부 적용

In [25]:
total1 = total.merge(euro, on='배출가스인증번호', how='left')
total1.shape

(1511211, 60)

In [26]:
total1['DPF유무'].value_counts()

무    686158
유    306096
Name: DPF유무, dtype: int64

In [27]:
total1['DPF유무'] = total1['DPF유무'].astype('str')
total1['DPF유무'].value_counts()

무      686158
nan    518957
유      306096
Name: DPF유무, dtype: int64

In [28]:
total1['DPF유무'] = total1['DPF유무'].str.replace('nan', '무')
total1['DPF유무'].value_counts()

무    1205115
유     306096
Name: DPF유무, dtype: int64

In [29]:
temp = total1.isnull().sum().reset_index()

In [30]:
temp.columns

Index(['index', 0], dtype='object')

In [31]:
temp[temp['index'] == '저공해조치구조변경YN']

          index  0
17  저공해조치구조변경YN  0

In [32]:
total1['저공해조치구조변경YN'].value_counts(dropna=False)

N    1204047
Y     307164
Name: 저공해조치구조변경YN, dtype: int64

In [33]:
temp[temp['index'] == '구조변경일자']

     index        0
51  구조변경일자  1511175

In [34]:
temp[temp['index'] == 'DPF유무']

    index  0
59  DPF유무  0

In [35]:
temp[temp['index'] == '저감장치구분']

     index        0
57  저감장치구분  1511175

# 분석

## [Case 5]

### 차량연료별 분류
- 차량 대수
    - 휘발류•가스('휘발유', '알코올', 'LGP(액화석유가스)', 'CNG(압축천연가스)')
    - 경유

In [36]:
total1['연료'].unique()

array(['경유', '휘발유', nan, '기타연료', 'LGP(액화석유가스)', 'CNG(압축천연가스)', '알코올'],
      dtype=object)

In [37]:
total1[ (total1['연료'] == '휘발유') | (total1['연료'] == '알코올') | (total1['연료'] == 'LGP(액화석유가스)') | (total1['연료'] == 'CNG(압축천연가스)') ].shape

(358404, 60)

In [38]:
total1[total1['연료'] == '경유'].shape

(1152697, 60)

In [39]:
num_by_fuel = pd.DataFrame({'연료':['휘발유_가스', '경유'], 
                            '수(차대번호)':[
                                total1[ (total1['연료'] == '휘발유') | (total1['연료'] == '알코올') | (total1['연료'] == 'LGP(액화석유가스)') | (total1['연료'] == 'CNG(압축천연가스)') ].shape[0], 
                                total1[total1['연료'] == '경유'].shape[0]
                                ]
                            })
num_by_fuel

       연료  수(차대번호)
0  휘발유_가스   358404
1      경유  1152697

In [40]:
fuel_list = []
for one in tqdm(total1['연료']):
    if one == '휘발유' or one == '알코올' or one == 'LGP(액화석유가스)' or one == 'CNG(압축천연가스)':
        fuel_list.append('휘발유_가스')
    elif one == '경유':
        fuel_list.append('경유')
    else:
        fuel_list.append('기타')
len(fuel_list)

100%|██████████| 1511211/1511211 [00:00<00:00, 1799978.46it/s]

1511211

In [41]:
total1['fuel'] = fuel_list

### 차량제작일자별 분류
- 휘발류•가스('휘발유', 'LGP(액화석유가스)', '알코올', 'CNG(압축천연가스)')
    - A : 1988.01.01 ~ 2000.12.31
    - B : ~ 1997.12.31
- 경유(DPF : 저감장치구분, DFP유무)
    - A : DPF, 2008.01.01 ~
    - B : DPF, ~ 2007.12.31
    - C : 2008.01.01 ~
    - D : ~ 2007.12.31

In [42]:
total1['차량제작일자'].describe()

count    1342438.00
mean    20072068.99
std        52081.54
min      2100819.00
25%     20070816.00
50%     20090306.00
75%     20100619.00
max     20190926.00
Name: 차량제작일자, dtype: float64

In [43]:
total1['구조변경일자'].describe()

count         36.00
mean    20168754.36
std        33314.56
min     20101022.00
25%     20157721.50
50%     20190755.50
75%     20191120.25
max     20200211.00
Name: 구조변경일자, dtype: float64

In [44]:
total1['구조변경일자'].isnull().sum()

1511175

In [45]:
total1['저공해조치구조변경YN'].value_counts(dropna=False)

N    1204047
Y     307164
Name: 저공해조치구조변경YN, dtype: int64

In [46]:
total1['저감장치구분'].value_counts(dropna=False)

NaN       1511175
1종             32
2종              2
1종+SCR          2
Name: 저감장치구분, dtype: int64

In [47]:
total1['차량연식'].value_counts(dropna=False)

2010    250187
2011    235849
2008    223275
2009    210924
2007    104407
2012     93587
1994     37724
1996     35900
1995     35255
1993     34341
1992     34065
2006     32778
1991     30469
1997     29647
1990     26782
1989     20740
1999     19507
2000     12844
1988     11869
1998     10050
2002      8483
2001      7515
1987      1287
2005      1031
2017       732
2018       484
2016       483
2015       463
2004       201
2003       165
2013        98
2014        14
1986        14
2019        13
1985         6
1983         5
1984         4
2020         3
1979         3
1981         2
1978         1
1973         1
1901         1
1980         1
1968         1
Name: 차량연식, dtype: int64

In [48]:
str(np.nan) == 'nan'

True

In [49]:
grade_list = []
for f, y, cy, d, e in tqdm(zip(total1['연료'], total1['차량제작일자'], total1['차량연식'],total1['저감장치구분'], total1['DPF유무'])):
    if ( (f == '휘발유') or (f == 'LGP(액화석유가스)') or (f == '알코올') or (f == 'CNG(압축천연가스)') ) and ( (19980101 <= y <= 20001231) or (1998 <= cy <= 2000) ):
        grade_list.append('A')
    elif (f == '휘발유' or f == 'LGP(액화석유가스)' or f == '알코올' or f == 'CNG(압축천연가스)') and ( (y <= 19971231) or (cy <= 1997) ):
        grade_list.append('B')
    elif (f == '경유') and ( (y >= 20080101) or (cy >= 2008) ) and ( (str(d) == '1종') or (str(d) == '1종+SCR') or (e == '유') ):
        grade_list.append('A')
    elif (f == '경유') and ( (y <= 20071231) or (cy <= 2007) )and ( (str(d) == '1종') or (str(d) == '1종+SCR') or (e == '유') ):
        grade_list.append('B')
    elif (f == '경유') and ( (y >= 20080101) or (cy >= 2008) ) and ( (str(d) == 'nan') or (str(d) == '2종') or (e == '무') ):
        grade_list.append('C')
    elif (f == '경유') and ( (y <= 20071231) or (cy <= 2007) ) and ( (str(d) == 'nan') or (str(d) == '2종') or (e == '무') ):
        grade_list.append('D')
    else:
        grade_list.append('X')
len(grade_list)

1511211it [00:03, 459411.26it/s]

1511211

In [50]:
total1['Grade'] = grade_list

In [51]:
total1.groupby(['fuel'])['차대번호'].count()

fuel
경유        1152697
기타            110
휘발유_가스     358404
Name: 차대번호, dtype: int64

In [52]:
total1.groupby(['fuel', 'Grade'])['차대번호'].count()

fuel    Grade
경유      A        206113
        B        100004
        C        809308
        D         37272
기타      X           110
휘발유_가스  A         43618
        B        297338
        X         17448
Name: 차대번호, dtype: int64

In [53]:
total1[(total1['fuel'] == '경유') & (total1['Grade'] == 'X')]

Empty DataFrame
Columns: [차량관리번호, 차량등록번호, 본거지법정동코드, 소유자구분, 차종_등록정보, 용도, 현재회원번호, 차대번호, 최초등록일자, 차량연식, 차량제작일자, 배출가스검사유효일자, 제원관리번호, 배출가스인증번호, 배출가스등급, 저공해조치YN(미사용), 저공해조치종류, 저공해조치구조변경YN, 차량등록번호숫자정보, 차량말소YN, 최초회원번호, 취득일자, 취득금액, 생성일시, 수정일시, 차명, 차종_제원정보, 차종분류, 차종유형(소분류), 자동차형식, 제작사명, 연료, 엔진형식, 공차중량, 총중량, 적재중량, 엔진출력, 배기량, 승차인원, 차량길이, 차량너비, 차량높이, 원산지명, 삭제YN, 승인일자, 구동형식, 변속기종류, 생성일시_제원정보, 수정일시_제원정보, 저감장치종류, TDMS부착여부, 구조변경일자, 부착업체명, 부착일자, 탈거승인일, 차량번호, 저감장치반납여부, 저감장치구분, 삼원촉매장치반납여부, DPF유무, fuel, Grade]
Index: []

[0 rows x 62 columns]

In [54]:
total1[(total1['fuel'] == '휘발유_가스') & (total1['Grade'] == 'X')].head()

,차량관리번호,차량등록번호,본거지법정동코드,소유자구분,차종_등록정보,용도,현재회원번호,차대번호,최초등록일자,차량연식,...,부착업체명,부착일자,탈거승인일,차량번호,저감장치반납여부,저감장치구분,삼원촉매장치반납여부,DPF유무,fuel,Grade
55,1C3EW65G51V703776-02,14저9873,2729011100,주민,승용,자가용,972CC41E952C0C9DF73A2AE675AA8BD6,1C3EW65G51V703776,20200421,2001,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,무,휘발유_가스,X
56,1C3EW65G51V703776-01,14저9733,4113111000,주민,승용,자가용,C037AB7812B4F32C4BE747B5E9F6D68E,1C3EW65G51V703826,20200410,2001,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,무,휘발유_가스,X
122,KMHEP41BP2A644387-04,04보2050,4122025041,기타,승용,자가용,02AA45CAEFECA3407CF08F5BF486E111,KMHEP41BP2A644387,20190422,2002,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,무,휘발유_가스,X
155,KMHEP41BP1A451538-02,45라6813,4785025000,기타,승용,자가용,0A3310F560E1819328EF261BB1AC7D0D,KMHEP41BP1A451538,20190312,2001,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,무,휘발유_가스,X
181,KMHEN41BP1A493049-04,58주4268,4122025041,기타,승용,자가용,226609637B597B9BDA506E3C06569D3B,KMHEN41BP1A493049,20190207,2001,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,무,휘발유_가스,X

In [55]:
total1[(total1['fuel'] == '기타') & (total1['Grade'] == 'X')].head()

,차량관리번호,차량등록번호,본거지법정동코드,소유자구분,차종_등록정보,용도,현재회원번호,차대번호,최초등록일자,차량연식,...,부착업체명,부착일자,탈거승인일,차량번호,저감장치반납여부,저감장치구분,삼원촉매장치반납여부,DPF유무,fuel,Grade
1028,KL90C3ADGPBZ00002-02,04버5285,4122025041,기타,승용,자가용,4A7BC648CD39CEEC1350B36416682677,KL90C3ADGPBZ00002,20171127,1993,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,무,기타,X
3398,1SML4DC197J202141-01,82도5103,4874037021,주민,화물,자가용,F6F2052533AA840608E9E999850F0A12,1SML4DC197J202141,20130205,2007,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,무,기타,X
457123,1FMDU32X6TUB80420-01,35어6959,1117012400,기타,승용,자가용,6B6974ECF164E7DB55D1B46A602FFB55,1FMDU32X6TUB80420,20100111,1996,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,무,기타,X
535174,1B7GL23X4VS262612-01,96모8254,4785025000,기타,화물,자가용,DEB3B71AA729D5C631600E877054D20E,1B7GL23X4VS262612,20091006,1997,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,무,기타,X
538634,1G4HR52L3SH558308-01,33조3244,4785025000,기타,승용,자가용,4553F6368E78935AB8A37C840DE52659,1G4HR52L3SH558308,20090929,1995,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,무,기타,X

#### [출력] 등급 통계

In [65]:
with pd.ExcelWriter(f'analysis2/Case5/[BD3][G{grade}][통계]Case5_등급분류(중복차대제거)(말소제거).xlsx') as writer:
    total1.groupby(['fuel'])['차대번호'].count().to_excel(writer, sheet_name='연료별')
    total1.groupby(['fuel', 'Grade'])['차대번호'].count().to_excel(writer, sheet_name='등급별')

#### [출력] 등급 산정 안된 샘플

In [66]:
# about 2m 50s
with pd.ExcelWriter(f'analysis2/Case5/[BD3][G{grade}][샘플]Case5_등급미분류(중복차대제거)(말소제거).xlsx') as writer2:
    total1[(total1['fuel'] == '경유') & (total1['Grade'] == 'X')].to_excel(writer2, sheet_name='경유', index=False)
    total1[(total1['fuel'] == '휘발유_가스') & (total1['Grade'] == 'X')].to_excel(writer2, sheet_name='휘발유', index=False)
    total1[(total1['fuel'] == '기타') & (total1['Grade'] == 'X')].to_excel(writer2, sheet_name='기타', index=False)

# 기타 연료 처리
- 1\. 다른 연료 샘플과 '자동차형식'으로 매칭
- 2\. 다른 연료 샘플과 '제원관리번호'로 매칭
- 3\. 1, 2번 적용 안되면 '기타'로 분류
- #\. '기타'연료 샘플 원본에 표기

## 1\. 다른 연료 샘플과 '자동차형식'으로 매칭

In [56]:
gd = total1[(total1['fuel'] == '휘발유_가스')|(total1['fuel'] == '경유')].reset_index(drop=True)
etc = total1[total1['fuel'] == '기타'].reset_index(drop=True)
gd.shape, etc.shape

((1511101, 62), (110, 62))

In [57]:
len(etc['자동차형식'].unique()), len(gd['자동차형식'].unique())

(44, 8163)

In [58]:
len(set(etc['자동차형식'].unique()) & set(gd['자동차형식'].unique()))

28

In [59]:
dup_carform = list(set(etc['자동차형식'].unique()) & set(gd['자동차형식'].unique()))
len(dup_carform)

28

In [60]:
dup_carform[:5]

[nan, 'FXA', 'B5-25SX', 'TF68E', 'FD3S']

In [61]:
dup_carform = dup_carform[1:]
dup_carform[:5]

['FXA', 'B5-25SX', 'TF68E', 'FD3S', '140 051']

In [62]:
# 다른 연료와 미매칭되는 자동차형식 인덱스 추출 : 56
idx1 = []
for i, one in enumerate(etc['자동차형식']):
    if one not in dup_carform:
        idx1.append(i)
len(idx1)

56

In [63]:
# 다른 연료와 매칭되는 자동차형식 인덱스 추출 : 54
idx1_1 = []
for i, one in enumerate(etc['자동차형식']):
    if one in dup_carform:
        idx1_1.append(i)
len(idx1_1)

54

In [64]:
# 다른 연료의 자동차형식과 미매칭되는 샘플
etc1 = etc.loc[idx1]
etc1.shape

(56, 62)

### [출력]

In [65]:
etc1.to_excel('analysis2/Case5/[BD3][G4][샘플]Case5_기타연료_처리1.xlsx', index=False)

## 2\. 다른 연료 샘플과 '제원관리번호'로 매칭

In [66]:
len(etc1['제원관리번호'].unique()), len(gd['제원관리번호'].unique())

(56, 17306)

In [67]:
len( set(etc1['제원관리번호'].unique()) & set(gd['제원관리번호'].unique()) )

0

### '자동차형식' 매칭 샘플

In [68]:
len(dup_carform)

27

In [69]:
for n in range(27):
    print(f'자동차형식 : {dup_carform[n]}')
    print(gd[gd['자동차형식'] == dup_carform[n]]['연료'].unique())

자동차형식 : FXA
['휘발유']
자동차형식 : B5-25SX
['휘발유']
자동차형식 : TF68E
['휘발유']
자동차형식 : FD3S
['휘발유']
자동차형식 : 140 051
['휘발유']
자동차형식 : MSV3-27A
['휘발유']
자동차형식 : 1994
['휘발유']
자동차형식 : 964
['휘발유']
자동차형식 : 202 028
['휘발유']
자동차형식 : FE-26HT
['휘발유']
자동차형식 : 210 037
['휘발유']
자동차형식 : JA19Y
['휘발유']
자동차형식 : FXA-1
['휘발유']
자동차형식 : ST-34
['휘발유']
자동차형식 : TF19T
['휘발유']
자동차형식 : MR2
['휘발유']
자동차형식 : GR
['휘발유']
자동차형식 : 154AN55A
['휘발유']
자동차형식 : MS122
['휘발유']
자동차형식 : TF19I
['휘발유']
자동차형식 : SR19F
['휘발유']
자동차형식 : WA19B
['휘발유']
자동차형식 : FXB
['휘발유']
자동차형식 : B250
['휘발유' 'LGP(액화석유가스)']
자동차형식 : 740GLE
['휘발유']
자동차형식 : 911터보
['휘발유']
자동차형식 : VG30
['휘발유']

In [70]:
# 하나의 자동차형식에 연료 2가지 : B250
gd[gd['자동차형식'] == 'B250'].shape

(77, 62)

#### [출력] 1개의 자동차형식에 연료 2가지

In [ ]:
gd[gd['자동차형식'] == 'B250'].to_excel('analysis2/Case5/[BD3][G4][샘플]Case5_자동차형식1개_연료2개.xlsx', index=False)

## 자동차형식 이용 연료 수정

In [71]:
match_gas = {}
for n in range(27):
    a = dup_carform[n]
    b = gd[gd['자동차형식'] == dup_carform[n]]['연료'].unique()[0]
    match_gas[a] = b

In [72]:
match_gas

{'FXA': '휘발유',
 'B5-25SX': '휘발유',
 'TF68E': '휘발유',
 'FD3S': '휘발유',
 '140 051': '휘발유',
 'MSV3-27A': '휘발유',
 '1994': '휘발유',
 '964': '휘발유',
 '202 028': '휘발유',
 'FE-26HT': '휘발유',
 '210 037': '휘발유',
 'JA19Y': '휘발유',
 'FXA-1': '휘발유',
 'ST-34': '휘발유',
 'TF19T': '휘발유',
 'MR2': '휘발유',
 'GR': '휘발유',
 '154AN55A': '휘발유',
 'MS122': '휘발유',
 'TF19I': '휘발유',
 'SR19F': '휘발유',
 'WA19B': '휘발유',
 'FXB': '휘발유',
 'B250': '휘발유',
 '740GLE': '휘발유',
 '911터보': '휘발유',
 'VG30': '휘발유'}

In [73]:
match_gas_list = []
for i in etc['자동차형식']:
    if i in dup_carform:
        match_gas_list.append(match_gas[i])
    else:
        match_gas_list.append(np.nan)
len(match_gas_list)

110

In [74]:
match_gas_list[-5:]

['휘발유', '휘발유', '휘발유', nan, '휘발유']

In [75]:
etc['연료'] = match_gas_list

In [76]:
etc['연료'].value_counts(dropna=False)

NaN    56
휘발유    54
Name: 연료, dtype: int64

In [77]:
total2 = pd.concat([gd, etc], ignore_index=True)
total2.columns

Index(['차량관리번호', '차량등록번호', '본거지법정동코드', '소유자구분', '차종_등록정보', '용도', '현재회원번호',
       '차대번호', '최초등록일자', '차량연식', '차량제작일자', '배출가스검사유효일자', '제원관리번호', '배출가스인증번호',
       '배출가스등급', '저공해조치YN(미사용)', '저공해조치종류', '저공해조치구조변경YN', '차량등록번호숫자정보',
       '차량말소YN', '최초회원번호', '취득일자', '취득금액', '생성일시', '수정일시', '차명', '차종_제원정보',
       '차종분류', '차종유형(소분류)', '자동차형식', '제작사명', '연료', '엔진형식', '공차중량', '총중량',
       '적재중량', '엔진출력', '배기량', '승차인원', '차량길이', '차량너비', '차량높이', '원산지명', '삭제YN',
       '승인일자', '구동형식', '변속기종류', '생성일시_제원정보', '수정일시_제원정보', '저감장치종류', 'TDMS부착여부',
       '구조변경일자', '부착업체명', '부착일자', '탈거승인일', '차량번호', '저감장치반납여부', '저감장치구분',
       '삼원촉매장치반납여부', 'DPF유무', 'fuel', 'Grade'],
      dtype='object')

In [78]:
fuel_list = []
for one in tqdm(total2['연료']):
    if one == '휘발유' or one == '알코올' or one == 'LGP(액화석유가스)' or one == 'CNG(압축천연가스)':
        fuel_list.append('휘발유_가스')
    elif one == '경유':
        fuel_list.append('경유')
    else:
        fuel_list.append('기타')
len(fuel_list)

100%|██████████| 1511211/1511211 [00:00<00:00, 1698358.67it/s]

1511211

In [79]:
total2['fuel'] = fuel_list

### 차량제작일자별 분류
- 휘발류•가스('휘발유', 'LGP(액화석유가스)', '알코올', 'CNG(압축천연가스)')
    - A : 1988.01.01 ~ 2000.12.31
    - B : ~ 1997.12.31
- 경유(DPF : 저감장치구분, DFP유무)
    - A : DPF, 2008.01.01 ~
    - B : DPF, ~ 2007.12.31
    - C : 2008.01.01 ~
    - D : ~ 2007.12.31

In [86]:
total2['fuel'].value_counts(dropna=False)

경유        1152697
휘발유_가스     358458
기타             56
Name: fuel, dtype: int64

In [80]:
total2['저감장치구분'].value_counts(dropna=False)

NaN       1511175
1종             32
2종              2
1종+SCR          2
Name: 저감장치구분, dtype: int64

In [81]:
str(np.nan) == 'nan'

True

In [87]:
grade_list = []
for f, y, cy, d, e in tqdm(zip(total2['연료'], total2['차량제작일자'], total2['차량연식'],total2['저감장치구분'], total2['DPF유무'])):
    if ( (f == '휘발유') or (f == 'LGP(액화석유가스)') or (f == '알코올') or (f == 'CNG(압축천연가스)') ) and ( (19980101 <= y <= 20001231) or (1998 <= cy <= 2000) ):
        grade_list.append('A')
    elif (f == '휘발유' or f == 'LGP(액화석유가스)' or f == '알코올' or f == 'CNG(압축천연가스)') and ( (y <= 19971231) or (cy <= 1997) ):
        grade_list.append('B')
    elif (f == '경유') and ( (y >= 20080101) or (cy >= 2008) ) and ( (str(d) == '1종') or (str(d) == '1종+SCR') or (e == '유') ):
        grade_list.append('A')
    elif (f == '경유') and ( (y <= 20071231) or (cy <= 2007) )and ( (str(d) == '1종') or (str(d) == '1종+SCR') or (e == '유') ):
        grade_list.append('B')
    elif (f == '경유') and ( (y >= 20080101) or (cy >= 2008) ) and ( (str(d) == 'nan') or (str(d) == '2종') or (e == '무') ):
        grade_list.append('C')
    elif (f == '경유') and ( (y <= 20071231) or (cy <= 2007) ) and ( (str(d) == 'nan') or (str(d) == '2종') or (e == '무') ):
        grade_list.append('D')
    else:
        grade_list.append('X')
len(grade_list)

1511211it [00:03, 484723.89it/s]

1511211

In [88]:
total2['Grade'] = grade_list

In [89]:
total2.groupby(['fuel'])['차대번호'].count()

fuel
경유        1152697
기타             56
휘발유_가스     358458
Name: 차대번호, dtype: int64

In [90]:
total2.groupby(['fuel', 'Grade'])['차대번호'].count()

fuel    Grade
경유      A        206113
        B        100004
        C        809308
        D         37272
기타      X            56
휘발유_가스  A         43622
        B        297387
        X         17449
Name: 차대번호, dtype: int64

#### [출력] 등급 통계

In [91]:
with pd.ExcelWriter(f'analysis2/Case5/[BD3][G{grade}][통계]Case5_등급분류(중복차대제거)(말소제거).xlsx') as writer:
    total2.groupby(['fuel'])['차대번호'].count().to_excel(writer, sheet_name='연료별')
    total2.groupby(['fuel', 'Grade'])['차대번호'].count().to_excel(writer, sheet_name='등급별')

#### [출력] 등급 산정 안된 샘플

In [92]:
die_x = total2[(total2['fuel'] == '경유') & (total2['Grade'] == 'X')].reset_index(drop=True)
gas_x = total2[(total2['fuel'] == '휘발유_가스') & (total2['Grade'] == 'X')].reset_index(drop=True)
etc_x = total2[(total2['fuel'] == '기타') & (total2['Grade'] == 'X')].reset_index(drop=True)
die_x.shape, gas_x.shape, etc_x.shape

((0, 62), (17449, 62), (56, 62))

In [93]:
# about 17s
with pd.ExcelWriter(f'analysis2/Case5/[BD3][G{grade}][샘플]Case5_등급미분류(중복차대제거)(말소제거).xlsx') as writer2:
    die_x.to_excel(writer2, sheet_name='경유', index=False)
    gas_x.to_excel(writer2, sheet_name='휘발유', index=False)
    etc_x.to_excel(writer2, sheet_name='기타', index=False)

### 등급 비분류 샘플의 정기&정밀 데이터

In [102]:
# 정기
# about 3m 34s
name = '[ODS]정기검사(2022.12.29)'
file_name = f'{name}.csv'
ins = pd.read_csv(os.path.join(ods_fold, file_name), low_memory=False)
ins.shape

(22006426, 39)

In [103]:
ins.columns

Index(['사용연료', '주행거리', '차명', '차량번호', '차대번호', '차종', '차량연식', '검사방법', '이산화탄소값',
       '최대출력허용치', '최대출력측정값', '엔진형식', '검사접수번호', '정기검사일자', '검사종류', '검사소명',
       '검사판정시각', '정기검사판정', '산소값', '재검사기간', '무부하매연판정1', '무부하매연판정2', '무부하매연판정3',
       '무부하매연판정4', '무부하매연판정5', '무부하매연판정6', '무부하매연허용치1', '무부하매연허용치2',
       '무부하매연허용치3', '무부하매연허용치4', '무부하매연허용치5', '무부하매연허용치6', '무부하매연측정치1',
       '무부하매연측정치2', '무부하매연측정치3', '무부하매연측정치4', '무부하매연측정치5', '무부하매연측정치6',
       '차량용도'],
      dtype='object')

In [ ]:
ins.columns = ['사용연료', '주행거리', '차명', '차량번호', '차대번호', '차종', '차량연식', '검사방법', '이산화탄소값',
       '최대출력허용치', '최대출력측정값', '엔진형식', '검사접수번호', '검사일자', '검사종류', '검사소명',
       '검사판정시각', '검사판정', '산소값', '재검사기간', '무부하매연판정1', '무부하매연판정2', '무부하매연판정3',
       '무부하매연판정4', '무부하매연판정5', '무부하매연판정6', '무부하매연허용치1', '무부하매연허용치2',
       '무부하매연허용치3', '무부하매연허용치4', '무부하매연허용치5', '무부하매연허용치6', '무부하매연측정치1',
       '무부하매연측정치2', '무부하매연측정치3', '무부하매연측정치4', '무부하매연측정치5', '무부하매연측정치6',
       '차량용도']

In [107]:
ins = ins[['사용연료', '주행거리', '차명', '차량번호', '차대번호', '차종', '차량연식', '검사방법', '이산화탄소값', 
           '엔진형식', '검사일자', '검사종류', '검사판정시각', '검사판정', '산소값', 
           '무부하매연판정1', '무부하매연판정2', '무부하매연판정3', '무부하매연판정4', '무부하매연판정5', '무부하매연판정6',
           '무부하매연허용치1', '무부하매연허용치2', '무부하매연허용치3', '무부하매연허용치4', '무부하매연허용치5', '무부하매연허용치6', 
           '무부하매연측정치1', '무부하매연측정치2', '무부하매연측정치3', '무부하매연측정치4', '무부하매연측정치5', '무부하매연측정치6']]

KeyError: "['검사일자', '검사판정'] not in index"

In [104]:
# 정밀
# about 5m 33s
name = '[ODS]정밀검사(2022.12.29)'
file_name = f'{name}.csv'
dins = pd.read_csv(os.path.join(ods_fold, file_name), low_memory=False)
dins.shape

(28682228, 39)

In [105]:
dins.columns

Index(['사용연료', '주행거리', '차명', '차량번호', '차대번호', '차종', '차량연식', '정밀검사 검사소코드',
       '이산화탄소값', '최대출력허용치', '최대출력측정값', '엔진형식', '산소값', '재검사기간', '정밀검사일자',
       '정밀검사판정', '정밀검사측정방법', '정밀검사소명', '정밀검사접수번호', '정밀검사종류', '정밀검사시각정보',
       '무부하매연판정1', '무부하매연판정2', '무부하매연판정3', '무부하매연판정4', '무부하매연판정5', '무부하매연판정6',
       '무부하매연허용치1', '무부하매연허용치2', '무부하매연허용치3', '무부하매연허용치4', '무부하매연허용치5',
       '무부하매연허용치6', '무부하매연측정치1', '무부하매연측정치2', '무부하매연측정치3', '무부하매연측정치4',
       '무부하매연측정치5', '무부하매연측정치6'],
      dtype='object')

In [ ]:
dins.columns = ['사용연료', '주행거리', '차명', '차량번호', '차대번호', '차종', '차량연식', '정밀검사 검사소코드',
       '이산화탄소값', '최대출력허용치', '최대출력측정값', '엔진형식', '산소값', '재검사기간', '검사일자',
       '검사판정', '검사측정방법', '정밀검사소명', '정밀검사접수번호', '정밀검사종류', '정밀검사시각정보',
       '무부하매연판정1', '무부하매연판정2', '무부하매연판정3', '무부하매연판정4', '무부하매연판정5', '무부하매연판정6',
       '무부하매연허용치1', '무부하매연허용치2', '무부하매연허용치3', '무부하매연허용치4', '무부하매연허용치5',
       '무부하매연허용치6', '무부하매연측정치1', '무부하매연측정치2', '무부하매연측정치3', '무부하매연측정치4',
       '무부하매연측정치5', '무부하매연측정치6']

In [ ]:
dins = dins[['사용연료', '주행거리', '차명', '차량번호', '차대번호', '차종', '차량연식', '이산화탄소값', 
             '엔진형식', '검사일자', '검사종류', '정밀검사시각정보', '검사판정', '검사측정방법',   '산소값',
             '무부하매연판정1', '무부하매연판정2', '무부하매연판정3', '무부하매연판정4', '무부하매연판정5', '무부하매연판정6',
             '무부하매연허용치1', '무부하매연허용치2', '무부하매연허용치3', '무부하매연허용치4', '무부하매연허용치5', '무부하매연허용치6', 
             '무부하매연측정치1', '무부하매연측정치2', '무부하매연측정치3', '무부하매연측정치4', '무부하매연측정치5', '무부하매연측정치6']]

In [106]:
ins.columns == dins.columns

array([ True,  True,  True,  True,  True,  True,  True, False,  True,
        True,  True,  True, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False])

In [ ]:
ins['정기정밀'] = '정기'
dins['정기정밀'] = '정밀'

# 코드 마지막