# Library

In [1]:
import pandas as pd
import numpy as np
import os
from tqdm import tqdm

In [2]:
# 소수점 옵션
pd.options.display.float_format = '{:.2f}'.format
# pd.reset_option('display.float_format')

# 로드
- 등록정보&제원정보(말소적용)
- 저감장치 부착이력

In [3]:
ods_fold = 'D:\과업\[한국환경공단]자동차_환경_빅데이터_구축_2차\data\ODS'

In [5]:
# about 23s
# 등록&제원 정보(말소적용)
grade = 4
df = pd.read_csv(os.path.join(ods_fold, f'[ODS][G{grade}]등록정보&제원정보(말소제거)(중복차대제거)(한글컬럼)(2022.12.29).csv'), low_memory=False)
# 저감장치 부착이력(중복 차대번호 처리)
dpf = pd.read_csv(os.path.join(ods_fold, '[ODS]저감장치부착이력(중복차대제거)(한글컬럼)(2022.12.29).csv'), low_memory=False, encoding='cp949')

In [6]:
euro = pd.read_excel('D:\과업\[한국환경공단]자동차_환경_빅데이터_구축_2차\data\dpf.xlsx')

# [전처리]

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1511211 entries, 0 to 1511210
Data columns (total 49 columns):
 #   Column        Non-Null Count    Dtype
---  ------        --------------    -----
 0   차량관리번호        1511211 non-null  object
 1   차량등록번호        1511211 non-null  object
 2   본거지법정동코드      1511211 non-null  int64
 3   소유자구분         1511211 non-null  object
 4   차종_등록정보       1511209 non-null  object
 5   용도            1511211 non-null  object
 6   현재회원번호        1510372 non-null  object
 7   차대번호          1511211 non-null  object
 8   최초등록일자        1511211 non-null  int64
 9   차량연식          1511211 non-null  int64
 10  차량제작일자        1342438 non-null  float64
 11  배출가스검사유효일자    1511199 non-null  float64
 12  제원관리번호        1511211 non-null  object
 13  배출가스인증번호      1387523 non-null  object
 14  배출가스등급        1511211 non-null  object
 15  저공해조치YN(미사용)  1511056 non-null  object
 16  저공해조치종류       189 non-null      float64
 17  저공해조치구조변경YN   1511211 non-null  object
 18  차량등록번호숫자정보    1511211 non-null  int64
 19  차량말소YN        1511211 non-null  object
 20  최초회원번호        1506556 non-null  object
 21  취득일자          1417997 non-null  object
 22  취득금액          1436810 non-null  float64
 23  생성일시_등록정보     1511211 non-null  object
 24  수정일시_등록정보     915024 non-null   object
 25  차명            1511211 non-null  object
 26  차종_제원정보       1511211 non-null  object
 27  차종분류          1511211 non-null  object
 28  차종유형(소분류)     1511211 non-null  object
 29  자동차형식         1510683 non-null  object
 30  제작사명          1501184 non-null  object
 31  연료            1511140 non-null  object
 32  엔진형식          1509210 non-null  object
 33  공차중량          0 non-null        float64
 34  총중량           1511186 non-null  float64
 35  적재중량          1510674 non-null  float64
 36  엔진출력          1510583 non-null  float64
 37  배기량           1511200 non-null  float64
 38  승차인원          1511211 non-null  float64
 39  차량길이          1511136 non-null  float64
 40  차량너비          1511136 non-null  float64
 41  차량높이          1511134 non-null  float64
 42  원산지명          1492086 non-null  object
 43  삭제YN          1511211 non-null  object
 44  승인일자          1510664 non-null  object
 45  구동형식          47 non-null       float64
 46  변속기종류         1511051 non-null  object
 47  생성일시_제원정보     1511211 non-null  object
 48  수정일시_제원정보     497 non-null      object
dtypes: float64(14), int64(4), object(31)
memory usage: 565.0+ MB

In [8]:
df.shape

(1511211, 49)

In [9]:
dpf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 809255 entries, 0 to 809254
Data columns (total 11 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   저감장치종류      585410 non-null  object
 1   TDMS부착여부    204903 non-null  object
 2   구조변경일자      809255 non-null  int64
 3   부착업체명       800321 non-null  object
 4   부착일자        809254 non-null  float64
 5   탈거승인일       169 non-null     float64
 6   차량번호        809255 non-null  object
 7   차대번호        809255 non-null  object
 8   저감장치반납여부    324650 non-null  object
 9   저감장치구분      809255 non-null  object
 10  삼원촉매장치반납여부  13688 non-null   object
dtypes: float64(2), int64(1), object(8)
memory usage: 67.9+ MB

In [10]:
dpf.shape

(809255, 11)

In [11]:
euro.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 82 entries, 0 to 81
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   배출가스인증번호  82 non-null     object
 1   DPF유무     82 non-null     object
dtypes: object(2)
memory usage: 1.4+ KB

In [12]:
euro.shape

(82, 2)

## 차대번호 기준 병합

In [13]:
total = df.merge(dpf, on='차대번호', how='left')
total.shape

(1511211, 59)

In [14]:
total['구조변경일자'].isnull().sum()

1511175

## 저감 데이터에서 등록&제원 데이터와 매칭되는 차대번호 샘플

In [15]:
miss_match_vin = list(set(dpf['차대번호']) - set(df['차대번호']))
len(miss_match_vin)

809219

In [16]:
match_vin = list(set(dpf['차대번호']) & set(df['차대번호']))
len(match_vin)

36

In [17]:
match_vin

['KL5UY61YD7P000752',
 'KMHSJ81VP8U267989',
 'KMHSH81VP8U267598',
 'KMFGA17HP8C075775',
 'KL5UY61YD7P000720',
 'KMHSJ81WP7U186356',
 'KMFGA17HP8C081531',
 'KL3K9ARF18K000823',
 'KMHSJ81WP7U200814',
 'KMFLA18KP8C028113',
 'KMJHD17PP7C036961',
 'KL3K9ARF57K000004',
 'KMFGA17HP8C086533',
 'KMHSJ81WP7U231639',
 'KMHSJ81VP8U235201',
 'KPACA4AB18P035816',
 'KMHSJ81WP7U204822',
 'KMFGA17HP8C075927',
 'KMFGA17HP8C094884',
 'KL5UY61YD7P000894',
 'KL5UY61YD7P000803',
 'KMFGA17HP8C076943',
 'KMFGA17HP8C098864',
 'KNCSE03428K344383',
 'KNCSJZ74AAK432404',
 'KMHSH81WP7U251766',
 'KMFLA18KP8C028034',
 'KL3C6CHF18K003487',
 'KNCSE01428K330851',
 'KMFGA17HP8C076295',
 'KPACA4AB18P039175',
 'KMHSJ81WP7U220194',
 'KMHSH81WP7U191739',
 'KMJHD17PP7C034127',
 'KMFGA17HP8C076574',
 'KMJHD17HP8C000170']

In [20]:
match_dpf = pd.DataFrame()
for one in tqdm(match_vin):
    temp = dpf[dpf['차대번호'] == one]
    match_dpf = pd.concat([match_dpf, temp], ignore_index=True)
match_dpf.shape

100%|██████████| 36/36 [00:01<00:00, 22.29it/s]

(36, 11)

In [21]:
match_dpf.sort_values(['차대번호', '구조변경일자', '부착일자'])

,저감장치종류,TDMS부착여부,구조변경일자,부착업체명,부착일자,탈거승인일,차량번호,차대번호,저감장치반납여부,저감장치구분,삼원촉매장치반납여부
27,복합대형,N,20191216,㈜주왕,20191216.00,NaN,충남80아2361,KL3C6CHF18K003487,NaN,1종,NaN
7,자연대형,N,20191011,(주)명성테크,20191011.00,NaN,부산91아2052,KL3K9ARF18K000823,NaN,1종,NaN
11,자연대형+SCR,N,20190927,(주)서천제일자동차공업사,20190927.00,NaN,서울87아7110,KL3K9ARF57K000004,NaN,1종+SCR,NaN
4,복합대형,N,20160126,북항자동차정비검사소,20160126.00,NaN,서울74바1057,KL5UY61YD7P000720,NaN,1종,NaN
0,자연대형+SCR,N,20160826,형제자동차공업사(부천),20160826.00,NaN,인천73바9377,KL5UY61YD7P000752,NaN,1종+SCR,NaN
20,복합대형,N,20160127,북항자동차정비검사소,20160127.00,NaN,서울72바8684,KL5UY61YD7P000803,NaN,1종,NaN
19,복합대형,N,20160310,한라자동차정비㈜,20160310.00,NaN,71구1475,KL5UY61YD7P000894,NaN,1종,NaN
3,복합중형,NaN,20111126,삼정자동차정비㈜,20111126.00,NaN,인천82바1830,KMFGA17HP8C075775,NaN,1종,NaN
17,복합중형,NaN,20101022,㈜영남중공업,20101022.00,NaN,서울81사6991,KMFGA17HP8C075927,NaN,1종,NaN
29,복합중형,N,20181114,(주)현대자동차블루핸즈서인천서비스,20181114.00,NaN,인천83바4554,KMFGA17HP8C076295,NaN,1종,NaN
34,복합중형,N,20150508,(주)하나자동차공업사,20150508.00,NaN,경기89바9899,KMFGA17HP8C076574,NaN,1종,NaN
21,복합중형,NaN,20111110,중랑자동차공업(주),20111110.00,NaN,80러6427,KMFGA17HP8C076943,NaN,1종,NaN
6,중형,NaN,20110128,한국자동차검사정비㈜(의정부),20110128.00,NaN,92어7771,KMFGA17HP8C081531,NaN,2종,NaN
12,중형,NaN,20110303,용광자동차공업사(도봉구),20110303.00,NaN,경기95자9864,KMFGA17HP8C086533,NaN,2종,NaN
18,복합중형,NaN,20110714,(주)우성특장,20110714.00,NaN,경기89바9956,KMFGA17HP8C094884,NaN,1종,NaN
22,복합중형,NaN,20110325,성석현대자동차공업사,20110325.00,NaN,경기87바2214,KMFGA17HP8C098864,NaN,1종,NaN
26,복합대형,N,20170324,(주)하나자동차공업사,20170324.00,NaN,81구1430,KMFLA18KP8C028034,NaN,1종,NaN
9,복합대형,N,20190312,주식회사주왕,20190312.00,NaN,서울90바1099,KMFLA18KP8C028113,NaN,1종,NaN
2,복합소형,N,20200207,(주)신세기자동차정비검사소,20200207.00,NaN,34어8742,KMHSH81VP8U267598,NaN,1종,NaN
32,복합소형,N,20190704,(주)뉴종합1급공업사,20190704.00,NaN,57무6009,KMHSH81WP7U191739,NaN,1종,NaN
25,복합소형,N,20191127,울산북구모터스,20191127.00,NaN,68우7843,KMHSH81WP7U251766,NaN,1종,NaN
14,복합소형,N,20200211,(주)명성테크,20200211.00,NaN,56나2450,KMHSJ81VP8U235201,NaN,1종,NaN
1,복합소형,N,20191113,(주)사상오토월드정비,20191113.00,NaN,12어8002,KMHSJ81VP8U267989,NaN,1종,NaN
5,복합소형,N,20191129,(주)주왕,20191129.00,NaN,39주3386,KMHSJ81WP7U186356,NaN,1종,NaN
8,복합소형,N,20191204,포천자동차검사소주식회사,20191204.00,NaN,10수2968,KMHSJ81WP7U200814,NaN,1종,NaN
16,복합소형,N,20191018,(주)서천제일자동차공업사,20191018.00,NaN,52너6031,KMHSJ81WP7U204822,NaN,1종,NaN
31,복합소형,N,20190905,거성모터스,20190905.00,NaN,19소9407,KMHSJ81WP7U220194,NaN,1종,NaN
13,복합소형,N,20191113,1급유성오토모빌,20191113.00,NaN,22모7311,KMHSJ81WP7U231639,NaN,1종,NaN
35,복합중형,N,20160810,(주)주왕,20160810.00,NaN,71가1414,KMJHD17HP8C000170,NaN,1종,NaN
33,복합중형,N,20200203,포천자동차검사소주식회사,20200203.00,NaN,72다4556,KMJHD17PP7C034127,NaN,1종,NaN
10,복합중형,N,20140625,(주)하나자동차공업사,20140625.00,NaN,77조1079,KMJHD17PP7C036961,NaN,1종,NaN
28,복합소형,N,20190807,한일1급정비공장,20190807.00,NaN,85루3603,KNCSE01428K330851,NaN,1종,NaN
23,복합소형,N,20191015,주식회사 선경자동차써비스,20191015.00,NaN,80수9715,KNCSE03428K344383,NaN,1종,NaN
24,복합소형,N,20200203,인선모터스,20200203.00,NaN,경기87배1653,KNCSJZ74AAK432404,NaN,1종,NaN
15,복합소형,N,20191118,쌍용자동차서수원사업소(주),20191118.00,NaN,89다9056,KPACA4AB18P035816,NaN,1종,NaN
30,복합소형,N,20200116,㈜쌍용자동차평택정비사업,20200116.00,NaN,89구1102,KPACA4AB18P039175,NaN,1종,NaN

In [22]:
match_dpf.shape

(36, 11)

In [23]:
match_dpf.duplicated('차대번호').sum()

0

### [출력] 매칭되는 차대번호 샘플

In [24]:
match_dpf.sort_values(['차대번호', '구조변경일자', '부착일자']).to_excel(f'analysis2/[BD3][G{grade}][통계]저감장치부착이력_등록&제원정보_매칭_차대번호_샘플(말소제거).xlsx', index=False)

## 분류 통계
- 중복 차대번호 제거
    - 최초등록일자, 배출가스검사유효일자 : 최신순(ascending=False)
- 분류
    - 연료 : 휘발유가스, 경유
    - 차량제작일자
    - 구조변경일자 여부

In [25]:
total.columns

Index(['차량관리번호', '차량등록번호', '본거지법정동코드', '소유자구분', '차종_등록정보', '용도', '현재회원번호',
       '차대번호', '최초등록일자', '차량연식', '차량제작일자', '배출가스검사유효일자', '제원관리번호', '배출가스인증번호',
       '배출가스등급', '저공해조치YN(미사용)', '저공해조치종류', '저공해조치구조변경YN', '차량등록번호숫자정보',
       '차량말소YN', '최초회원번호', '취득일자', '취득금액', '생성일시_등록정보', '수정일시_등록정보', '차명',
       '차종_제원정보', '차종분류', '차종유형(소분류)', '자동차형식', '제작사명', '연료', '엔진형식', '공차중량',
       '총중량', '적재중량', '엔진출력', '배기량', '승차인원', '차량길이', '차량너비', '차량높이', '원산지명',
       '삭제YN', '승인일자', '구동형식', '변속기종류', '생성일시_제원정보', '수정일시_제원정보', '저감장치종류',
       'TDMS부착여부', '구조변경일자', '부착업체명', '부착일자', '탈거승인일', '차량번호', '저감장치반납여부',
       '저감장치구분', '삼원촉매장치반납여부'],
      dtype='object')

### 중복 차대번호 처리
- '최초등록일자', '배출가스검사유효일자', ascending=False

In [26]:
total.shape[0], len(total['차대번호'].unique())

(1511211, 1511211)

In [27]:
total['dupl'] = total['차대번호'].duplicated().to_list()
total.head()

,차량관리번호,차량등록번호,본거지법정동코드,소유자구분,차종_등록정보,용도,현재회원번호,차대번호,최초등록일자,차량연식,...,TDMS부착여부,구조변경일자,부착업체명,부착일자,탈거승인일,차량번호,저감장치반납여부,저감장치구분,삼원촉매장치반납여부,dupl
0,KMFLA18KP8C028585-01,83노5980,2653010500,법인,화물,자가용,80472CF15E0159C5493476BA4172DD7E,KMFLA18KP8C028585,20221125,2008,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False
1,KMCLK19KP8C035195-01,96부7399,4824034000,주민,화물,자가용,6EEDD0AFF030191A6A38C95CF5478B22,KMCLK18KP8C035195,20220614,2008,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False
2,KMFLA18KP8C031274-01,92도0997,4482533000,법인,화물,자가용,5756904E2320577169669FC7F741A176,KMFLA18KP8C031274,20220419,2008,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False
3,KMCGK17HP9C112030-01,93루6527,4518010400,주민,화물,자가용,9DEC677D911796A46CA4D877D7E1C0AC,KMCGK17HP9C112030,20220407,2009,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False
4,KLACA26RD8B226753-01,153구6446,2826011300,주민,승용,자가용,606A026FEE47E0CDE19B9E9F25E3CDF9,KLACA26RD8B226753,20210909,2008,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False

In [28]:
dupl_vin = total[total['dupl'] == True].sort_values(['최초등록일자', '배출가스검사유효일자'], ascending=False).reset_index(drop=True)
dupl_vin.head()

Empty DataFrame
Columns: [차량관리번호, 차량등록번호, 본거지법정동코드, 소유자구분, 차종_등록정보, 용도, 현재회원번호, 차대번호, 최초등록일자, 차량연식, 차량제작일자, 배출가스검사유효일자, 제원관리번호, 배출가스인증번호, 배출가스등급, 저공해조치YN(미사용), 저공해조치종류, 저공해조치구조변경YN, 차량등록번호숫자정보, 차량말소YN, 최초회원번호, 취득일자, 취득금액, 생성일시_등록정보, 수정일시_등록정보, 차명, 차종_제원정보, 차종분류, 차종유형(소분류), 자동차형식, 제작사명, 연료, 엔진형식, 공차중량, 총중량, 적재중량, 엔진출력, 배기량, 승차인원, 차량길이, 차량너비, 차량높이, 원산지명, 삭제YN, 승인일자, 구동형식, 변속기종류, 생성일시_제원정보, 수정일시_제원정보, 저감장치종류, TDMS부착여부, 구조변경일자, 부착업체명, 부착일자, 탈거승인일, 차량번호, 저감장치반납여부, 저감장치구분, 삼원촉매장치반납여부, dupl]
Index: []

[0 rows x 60 columns]

#### [출력] 중복 차대번호 샘플

In [32]:
# dupl_vin.to_excel(f'analysis2/[BD3][G{grade}][샘플]등록&제원-저감_중복차대번호(말소제거).xlsx')

In [29]:
total1 = total.sort_values(['최초등록일자', '배출가스검사유효일자'], ascending=False).drop_duplicates('차대번호').reset_index(drop=True)
total1.shape

(1511211, 60)

## 유로4 DPF 부착여부 적용

In [30]:
total2 = total1.merge(euro, on='배출가스인증번호', how='left')
total2.shape

(1511211, 61)

In [31]:
total2['DPF유무'].value_counts()

무    686158
유    306096
Name: DPF유무, dtype: int64

In [32]:
total2['DPF유무'] = total2['DPF유무'].astype('str')
total2['DPF유무'].value_counts()

무      686158
nan    518957
유      306096
Name: DPF유무, dtype: int64

In [33]:
total2['DPF유무'] = total2['DPF유무'].str.replace('nan', '무')
total2['DPF유무'].value_counts()

무    1205115
유     306096
Name: DPF유무, dtype: int64

# [분석]

## [Case 5]

### 차량연료별 분류
- 차량 대수
    - 휘발류•가스('휘발유', '알코올', 'LGP(액화석유가스)', 'CNG(압축천연가스)')
    - 경유

In [34]:
total2['연료'].unique()

array(['경유', '휘발유', nan, '기타연료', 'LGP(액화석유가스)', 'CNG(압축천연가스)', '알코올'],
      dtype=object)

In [35]:
total2[ (total2['연료'] == '휘발유') | (total2['연료'] == '알코올') | (total2['연료'] == 'LGP(액화석유가스)') | (total2['연료'] == 'CNG(압축천연가스)') ].shape

(358404, 61)

In [36]:
total2[total2['연료'] == '경유'].shape

(1152697, 61)

In [37]:
num_by_fuel = pd.DataFrame({'연료':['휘발유_가스', '경유'], 
                            '수(차대번호)':[
                                total2[ (total2['연료'] == '휘발유') | (total2['연료'] == '알코올') | (total2['연료'] == 'LGP(액화석유가스)') | (total2['연료'] == 'CNG(압축천연가스)') ].shape[0], 
                                total2[total2['연료'] == '경유'].shape[0]
                                ]
                            })
num_by_fuel

       연료  수(차대번호)
0  휘발유_가스   358404
1      경유  1152697

In [38]:
fuel_list = []
for one in tqdm(total2['연료']):
    if one == '휘발유' or one == '알코올' or one == 'LGP(액화석유가스)' or one == 'CNG(압축천연가스)':
        fuel_list.append('휘발유_가스')
    elif one == '경유':
        fuel_list.append('경유')
    else:
        fuel_list.append('기타')
len(fuel_list)

100%|██████████| 1511211/1511211 [00:00<00:00, 1735907.86it/s]

1511211

In [39]:
total2['fuel'] = fuel_list

### 차량제작일자별 분류
- 휘발류•가스('휘발유', 'LGP(액화석유가스)', '알코올', 'CNG(압축천연가스)')
    - A : 1988.01.01 ~ 2000.12.31
    - B : ~ 1997.12.31
- 경유(DPF : 구조변경일자 여부)
    - A : DPF, 2008.01.01 ~
    - B : DPF, ~ 2007.12.31
    - C : 2008.01.01 ~
    - D : ~ 2007.12.31

In [40]:
total2['차량제작일자'].describe()

count    1342438.00
mean    20072068.99
std        52081.54
min      2100819.00
25%     20070816.00
50%     20090306.00
75%     20100619.00
max     20190926.00
Name: 차량제작일자, dtype: float64

In [41]:
total2['구조변경일자'].describe()

count         36.00
mean    20168754.36
std        33314.56
min     20101022.00
25%     20157721.50
50%     20190755.50
75%     20191120.25
max     20200211.00
Name: 구조변경일자, dtype: float64

In [42]:
total2['구조변경일자'].isnull().sum()

1511175

In [43]:
total2['저감장치종류'].unique()

array([nan, '복합소형', '복합중형', '중형', '자연대형', '복합대형', '자연대형+SCR'],
      dtype=object)

In [44]:
total2['저감장치종류'].isnull().sum()

1511175

In [45]:
str(np.nan) == 'nan'

True

In [49]:
grade_list = []
for f, y, d, e in tqdm(zip(total2['연료'], total2['차량제작일자'], total2['구조변경일자'], total2['DPF유무'])):
    if ( (f == '휘발유') or (f == 'LGP(액화석유가스)') or (f == '알코올') or (f == 'CNG(압축천연가스)') ) and (19980101 <= y <= 20001231):
        grade_list.append('A')
    elif (f == '휘발유' or f == 'LGP(액화석유가스)' or f == '알코올' or f == 'CNG(압축천연가스)') and (y <= 19971231):
        grade_list.append('B')
    elif (f == '경유') and (y >= 20080101) and ( (str(d) != 'nan') or e == '유'):
        grade_list.append('A')
    elif (f == '경유') and (y <= 20071231) and ( (str(d) != 'nan') or e == '유'):
        grade_list.append('B')
    elif (f == '경유') and (y >= 20080101) and ( (str(d) == 'nan') or e == '무'):
        grade_list.append('C')
    elif (f == '경유') and (y <= 20071231) and ( (str(d) == 'nan') or e == '무'):
        grade_list.append('D')
    else:
        grade_list.append('X')
len(grade_list)

1511211it [00:02, 527374.86it/s]

1511211

In [47]:
total2['Grade'] = grade_list

In [50]:
total2.groupby(['fuel'])['차대번호'].count()

fuel
경유        1152697
기타            110
휘발유_가스     358404
Name: 차대번호, dtype: int64

In [51]:
total2.groupby(['fuel', 'Grade'])['차대번호'].count()

fuel    Grade
경유      A        170592
        B        135527
        C        763861
        D         82714
        X             3
기타      X           110
휘발유_가스  A         43185
        B        128204
        X        187015
Name: 차대번호, dtype: int64

In [52]:
total2[(total2['fuel'] == '경유') & (total2['Grade'] == 'X')]

,차량관리번호,차량등록번호,본거지법정동코드,소유자구분,차종_등록정보,용도,현재회원번호,차대번호,최초등록일자,차량연식,...,부착일자,탈거승인일,차량번호,저감장치반납여부,저감장치구분,삼원촉매장치반납여부,dupl,DPF유무,fuel,Grade
1000451,KMJWSH7JP8U024541-01,78로1916,2826011200,주민,승합,자가용,475D73CA294DBAD20A42F6E32ADE77AE,KMJWSH7JP8U024541,20071025,2008,...,NaN,NaN,NaN,NaN,NaN,NaN,False,무,경유,X
1273468,KPBLC3D81TP000001-01,31고7134,1111014900,주민,승용,자가용,340D955C4057F2169F3BA1324AA25919,KPBLC3D81TP000001,19960416,1996,...,NaN,NaN,NaN,NaN,NaN,NaN,False,무,경유,X
1490530,WDB1260251A480232-01,56주3719,2817710100,주민,승용,자가용,7D96498CEAD8AD9D194451E1890874D3,WDB1260251A480232,19890704,1989,...,NaN,NaN,NaN,NaN,NaN,NaN,False,무,경유,X

In [53]:
total2[(total2['fuel'] == '휘발유_가스') & (total2['Grade'] == 'X')].head()

,차량관리번호,차량등록번호,본거지법정동코드,소유자구분,차종_등록정보,용도,현재회원번호,차대번호,최초등록일자,차량연식,...,부착일자,탈거승인일,차량번호,저감장치반납여부,저감장치구분,삼원촉매장치반납여부,dupl,DPF유무,fuel,Grade
55,1C3EW65G51V703776-02,14저9873,2729011100,주민,승용,자가용,972CC41E952C0C9DF73A2AE675AA8BD6,1C3EW65G51V703776,20200421,2001,...,NaN,NaN,NaN,NaN,NaN,NaN,False,무,휘발유_가스,X
56,1C3EW65G51V703776-01,14저9733,4113111000,주민,승용,자가용,C037AB7812B4F32C4BE747B5E9F6D68E,1C3EW65G51V703826,20200410,2001,...,NaN,NaN,NaN,NaN,NaN,NaN,False,무,휘발유_가스,X
106,KL90F4ABGNZ100001-01,01고3520,4146310700,법인,승용,자가용,BC1C02E6EB20A4A0DE3816EDF7BA318C,KL90F4ABGNZ100001,20190621,1992,...,NaN,NaN,NaN,NaN,NaN,NaN,False,무,휘발유_가스,X
122,KMHEP41BP2A644387-04,04보2050,4122025041,기타,승용,자가용,02AA45CAEFECA3407CF08F5BF486E111,KMHEP41BP2A644387,20190422,2002,...,NaN,NaN,NaN,NaN,NaN,NaN,False,무,휘발유_가스,X
155,KMHEP41BP1A451538-02,45라6813,4785025000,기타,승용,자가용,0A3310F560E1819328EF261BB1AC7D0D,KMHEP41BP1A451538,20190312,2001,...,NaN,NaN,NaN,NaN,NaN,NaN,False,무,휘발유_가스,X

In [54]:
total2[(total2['fuel'] == '기타') & (total2['Grade'] == 'X')].head()

,차량관리번호,차량등록번호,본거지법정동코드,소유자구분,차종_등록정보,용도,현재회원번호,차대번호,최초등록일자,차량연식,...,부착일자,탈거승인일,차량번호,저감장치반납여부,저감장치구분,삼원촉매장치반납여부,dupl,DPF유무,fuel,Grade
1028,KL90C3ADGPBZ00002-02,04버5285,4122025041,기타,승용,자가용,4A7BC648CD39CEEC1350B36416682677,KL90C3ADGPBZ00002,20171127,1993,...,NaN,NaN,NaN,NaN,NaN,NaN,False,무,기타,X
3398,1SML4DC197J202141-01,82도5103,4874037021,주민,화물,자가용,F6F2052533AA840608E9E999850F0A12,1SML4DC197J202141,20130205,2007,...,NaN,NaN,NaN,NaN,NaN,NaN,False,무,기타,X
457123,1FMDU32X6TUB80420-01,35어6959,1117012400,기타,승용,자가용,6B6974ECF164E7DB55D1B46A602FFB55,1FMDU32X6TUB80420,20100111,1996,...,NaN,NaN,NaN,NaN,NaN,NaN,False,무,기타,X
535174,1B7GL23X4VS262612-01,96모8254,4785025000,기타,화물,자가용,DEB3B71AA729D5C631600E877054D20E,1B7GL23X4VS262612,20091006,1997,...,NaN,NaN,NaN,NaN,NaN,NaN,False,무,기타,X
538634,1G4HR52L3SH558308-01,33조3244,4785025000,기타,승용,자가용,4553F6368E78935AB8A37C840DE52659,1G4HR52L3SH558308,20090929,1995,...,NaN,NaN,NaN,NaN,NaN,NaN,False,무,기타,X

#### [출력]

In [58]:
with pd.ExcelWriter(f'analysis2/[BD3][G{grade}][통계]Case5_등급분류(중복차대제거)(말소제거).xlsx') as writer:
    total2.groupby(['fuel'])['차대번호'].count().to_excel(writer, sheet_name='연료별')
    total2.groupby(['fuel', 'Grade'])['차대번호'].count().to_excel(writer, sheet_name='등급별')

#### [출력] 등급 산정 안된 샘플

In [59]:
# about 2m 50s
with pd.ExcelWriter(f'analysis2/[BD3][G{grade}][샘플]Case5_등급미분류(중복차대제거)(말소제거).xlsx') as writer2:
    total2[(total2['fuel'] == '경유') & (total2['Grade'] == 'X')].to_excel(writer2, sheet_name='경유', index=False)
    total2[(total2['fuel'] == '휘발유_가스') & (total2['Grade'] == 'X')].to_excel(writer2, sheet_name='휘발유', index=False)
    total2[(total2['fuel'] == '기타') & (total2['Grade'] == 'X')].to_excel(writer2, sheet_name='기타', index=False)

# 코드 마지막