# Library

In [1]:
import pandas as pd
import numpy as np
import os
from tqdm import tqdm
from datetime import datetime

In [2]:
# 소수점 옵션
pd.options.display.float_format = '{:.2f}'.format
# pd.reset_option('display.float_format')

# fold path

In [3]:
drive = 'D'

In [4]:
ods_fold = f'{drive}:/data/big2/ODS'
big2_fold = f'{drive}:/data/big2'
analysis_fold = f'{drive}:/data/big2/BD3/an'

# Load

## 등록&제원정보

In [5]:
# about 8m 53.6s
name = '[ODS]등록정보&제원정보(2022.12.28)'
file_name = f'{name}.csv'
car = pd.read_csv(os.path.join(ods_fold, file_name), low_memory=False, encoding='cp949')
car.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29534047 entries, 0 to 29534046
Data columns (total 49 columns):
 #   Column        Dtype
---  ------        -----
 0   차량관리번호        object
 1   차량등록번호        object
 2   본거지법정동코드      int64
 3   소유자구분         object
 4   차종_등록정보       object
 5   용도            object
 6   현재회원번호        object
 7   차대번호          object
 8   최초등록일자        int64
 9   차량연식          int64
 10  차량제작일자        float64
 11  배출가스검사유효일자    float64
 12  제원관리번호        object
 13  배출가스인증번호      object
 14  배출가스등급        object
 15  저공해조치YN(미사용)  object
 16  저공해조치종류       float64
 17  저공해조치구조변경YN   object
 18  차량등록번호숫자정보    int64
 19  차량말소YN        object
 20  최초회원번호        object
 21  취득일자          object
 22  취득금액          float64
 23  생성일시_등록정보     object
 24  수정일시_등록정보     object
 25  차명            object
 26  차종_제원정보       object
 27  차종분류          object
 28  차종유형(소분류)     object
 29  자동차형식         object
 30  제작사명          object
 31  연료            object
 32  엔진형식          object
 33  공차중량          float64
 34  총중량           float64
 35  적재중량          float64
 36  엔진출력          float64
 37  배기량           float64
 38  승차인원          float64
 39  차량길이          float64
 40  차량너비          float64
 41  차량높이          float64
 42  원산지명          object
 43  삭제YN          object
 44  승인일자          object
 45  구동형식          float64
 46  변속기종류         object
 47  생성일시_제원정보     object
 48  수정일시_제원정보     object
dtypes: float64(14), int64(4), object(31)
memory usage: 10.8+ GB

## 등록&제원정보(5등급)

In [76]:
# about 37.6s
name = '[ODS][G5]등록정보&제원정보(2022.12.28)'
file_name = f'{name}.csv'
g5 = pd.read_csv(os.path.join(ods_fold, file_name), low_memory=False, encoding='cp949')
g5.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2378648 entries, 0 to 2378647
Data columns (total 49 columns):
 #   Column        Dtype
---  ------        -----
 0   차량관리번호        object
 1   차량등록번호        object
 2   본거지법정동코드      int64
 3   소유자구분         object
 4   차종_등록정보       object
 5   용도            object
 6   현재회원번호        object
 7   차대번호          object
 8   최초등록일자        int64
 9   차량연식          int64
 10  차량제작일자        float64
 11  배출가스검사유효일자    float64
 12  제원관리번호        object
 13  배출가스인증번호      object
 14  배출가스등급        object
 15  저공해조치YN(미사용)  object
 16  저공해조치종류       float64
 17  저공해조치구조변경YN   object
 18  차량등록번호숫자정보    int64
 19  차량말소YN        object
 20  최초회원번호        object
 21  취득일자          float64
 22  취득금액          float64
 23  생성일시_등록정보     object
 24  수정일시_등록정보     object
 25  차명            object
 26  차종_제원정보       object
 27  차종분류          object
 28  차종유형(소분류)     object
 29  자동차형식         object
 30  제작사명          object
 31  연료            object
 32  엔진형식          object
 33  공차중량          float64
 34  총중량           float64
 35  적재중량          float64
 36  엔진출력          float64
 37  배기량           float64
 38  승차인원          float64
 39  차량길이          float64
 40  차량너비          float64
 41  차량높이          float64
 42  원산지명          object
 43  삭제YN          object
 44  승인일자          object
 45  구동형식          float64
 46  변속기종류         object
 47  생성일시_제원정보     object
 48  수정일시_제원정보     object
dtypes: float64(15), int64(4), object(30)
memory usage: 889.2+ MB

## 노후차 조기폐차 관리정보 수도권

In [121]:
# about 42.0s
name = '[ODS]노후차_조기폐차_관리정보_수도권(2022.12.28)'
file_name = f'{name}.csv'
aea = pd.read_csv(os.path.join(ods_fold, file_name), low_memory=False, encoding='cp949')
aea.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 770311 entries, 0 to 770310
Columns: 177 entries, ELPDSRC_MNGT_NO to PFMINPC_ELPDSRC_GNRLZ_RESN
dtypes: float64(56), int64(3), object(118)
memory usage: 1.0+ GB

In [92]:
aea.columns.to_list()

['ELPDSRC_MNGT_NO',
 '조기폐차상태코드',
 '저감장치구분',
 'INST_ID_CD',
 'OWNR_NM',
 'USER_BIZRNO',
 'USER_TELNO',
 'FXNUM',
 'USER_ZIP',
 'USER_1_ADRS',
 'USER_2_ADRS',
 '접수시도',
 'RCPT_SIGNGU',
 '차량등록번호',
 '차대번호',
 'VHCL_YRIDNW',
 'EGINCTY',
 'VHCL_PSCP',
 'VHCL_WGHT',
 'TOT_WGHT',
 'CRYNG_WGHT',
 'VHCNM',
 'VHCL_FRM',
 'VHCTY',
 'VHCL_PURPS',
 'FST_REG_DE',
 '폐차등록주행거리',
 'SCRCAR_ERA_DRVNG_DSTNC',
 'VHCL_FUEL',
 'PRCINSP_DE',
 'INSPOF_NM',
 'PRCINSP_JDGMNT_YN',
 'PRCINSP_RSLT_VAL',
 'PRCINSP_JDGMNT_STDR_VAL',
 'RCPT_DE',
 'INPT_DE',
 'RETR_NM',
 'SBSIDY_TRGT_YN',
 'ELPDSRC_TRGT_1_AT',
 'ELPDSRC_TRGT_2_AT',
 'ELPDSRC_TRGT_3_AT',
 'ELPDSRC_TRGT_4_AT',
 'ELPDSRC_TRGT_5_AT',
 'ELPDSRC_TRGT_6_AT',
 'ELPDSRC_TRGT_7_AT',
 'ELPDSRC_TRGT_CNFRM_REG_DE',
 'ELPDSRC_TRGT_CNFRM_REGR_NM',
 'PYMT_CNFRM_YN',
 'EXPC_SPRT_AMT',
 'DCIS_SPRT_AMT',
 'SBSIDY_UNPAY_RESN',
 'SBSIDY_RQEST_DE',
 'SBSIDY_RQEST_REGR_NM',
 'DOC_CNFRM_NO',
 'DOC_OUTT_DE',
 'INSP_RQT_SIWA_MTHD',
 'INSP_RQT_DE',
 'INSP_RQT_TM',
 'VRSC_ENTRPS_NM',
 'AGENT_ZIP',
 'AGENT_1_ADRS',
 'AGENT_2_ADRS',
 'AGENT_TELNO',
 'AGENT_CRTC_NO',
 'INSP_RQT_REG_DE',
 'INSP_RQT_REGR_NM',
 'PFMINPC_DE',
 'PFMINPC_1_ITM',
 'PFMINPC_2_ITM',
 'PFMINPC_3_ITM',
 'PFMINPC_4_ITM',
 'PFMINPC_5_ITM',
 'PFMINPC_ETC_ITM',
 'PFMINPC_ITM_ETC_CMPNT_NM',
 'PFMINPC_FILE_ATT_YN',
 'PFMINPC_ELPDSRC_YN',
 'PFMINPC_ELPDSRC_IMPSBL_RESN',
 'PFMINPC_REG_DE',
 'PFMINPC_REGR_NM',
 'PFMINPC_PAPE_OUTT_DE',
 'TRTMNT_DE',
 '말소일자',
 'NCAR_PUCH_PLAN_DE',
 'NCAR_PUCH_PLAN_VHCL_NM',
 'SCRCAR_ENTRPS_NM',
 'SCRCAR_ENTRPS_ZIP',
 'SCRCAR_ENTRPS_1_ADRS',
 'SCRCAR_ENTRPS_2_ADRS',
 'ELPDSRC_ATT_FILE_1_YN',
 'ELPDSRC_ATT_FILE_2_YN',
 'ELPDSRC_ATT_FILE_3_YN',
 'ELPDSRC_REG_DE',
 'ELPDSRC_REGR_NM',
 '조기폐차최종승인YN',
 'ELPDSRC_LST_UNAP_RESN',
 'SBSIDY_PYMT_DE',
 'SBSIDY_BIZ_YR',
 'ELPDSRC_LST_CNFRM_DE',
 'ELPDSRC_LST_APRR_NM',
 'LST_CHNG_DE',
 'LST_EDIR_NM',
 'LWBCT_YN',
 'NOW_VHRNO',
 'ELPDSRC_ATT_FILE_4_YN',
 'BANK_NM',
 'BANK_ACC_NO',
 'PRCINSP_SE',
 'RCPT_LOCGOV_CD',
 'RPRSTV_NM',
 'BIZCND',
 'TYPBIZ',
 'EMAIL',
 'RCPT_SE',
 'INSP_SE',
 'ELPDSRC_TRGT_AT_ETC_RESN',
 'HST_MNGT_NO',
 'CTNT',
 'VHCTY_SE',
 'ELPDSRC_GRP',
 'BTHDY',
 'JURIRNO',
 'STDR_YM',
 'STDR_AMT',
 'WHL_EXCS_CNFRM_DE',
 'WHL_EXCS_APRR_NM',
 'MNFCT_DE',
 'OLD_SIDO',
 'OLD_SIGNGU',
 'OLD_RCPT_LOCGOV_CD',
 'OLD_1_ADRS',
 'OLD_2_ADRS',
 'OLD_VHCL_PURPS',
 'BAI_ID',
 'ADITOR_NM',
 'REG_NO',
 'RQEST_ARVL_DE',
 'RQEST_ARVL_YN',
 'BIL_CNFRMR_NM',
 'ADD_AMT',
 'SAMNS_CNFRM',
 'ADD_RQEST_ARVL_YN',
 'ADD_RQEST_ARVL_DE',
 'ADD_RQEST_CNFRMR_NM',
 'ATT_PAPE_CNFRM_AT',
 'BEF_STUS_CD',
 'WAREHOUSING_DE',
 'WAREHOUSING_YN',
 '저감장치 미개발(부착불가)여부',
 'MNTNG_IMPR_AMT',
 'ELPDSRC_ATT_FILE_5_YN',
 'ELPDSRC_VRSC_INST_NO',
 'SMAL_BUSIN_YN',
 'INPT_MTHD_FLAG',
 'ELPDSRC_ATT_FILE_7_YN',
 'STNDRD',
 'ENGINE_RPM',
 'MAKER',
 'CAR_GRADE',
 'AID_RJCT_DE',
 'IMG_LGCLFL1',
 'IMG_PHYSCL1',
 'IMG_LGCLFL2',
 'IMG_PHYSCL2',
 'IMG_LGCLFL3',
 'IMG_PHYSCL3',
 'IMG_LGCLFL4',
 'IMG_PHYSCL4',
 'PRE_SCRAP_CAR_YN',
 'DEP_YN',
 'VIRT_ACC_NO',
 'ELCTY_HYDRO_CAR_ADD_AMT',
 'PFMINPC_ITSL_APPRNC',
 'PFMINPC_BUFFER_DVICE',
 'PFMINPC_WINDOW',
 'PFMINPC_TIRE',
 'PFMINPC_ASSMI_DEVICE',
 'PFMINPC_ELPDSRC_GNRLZ_RESN']

## 노후차 조기폐차 관리정보 수도권 외

In [125]:
# about 11.6s
name = '[ODS]노후차_조기폐차_관리정보_수도권외(2022.12.28)'
file_name = f'{name}.csv'
lgv = pd.read_csv(os.path.join(ods_fold, file_name), low_memory=False, encoding='cp949')
lgv.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 291353 entries, 0 to 291352
Columns: 170 entries, ELPDSRC_MNGT_NO to PFMINPC_ELPDSRC_GNRLZ_RESN
dtypes: float64(71), int64(4), object(95)
memory usage: 377.9+ MB

In [126]:
lgv.columns.to_list()

['ELPDSRC_MNGT_NO',
 '조기폐차상태코드',
 '저감장치구분',
 'INST_ID_CD',
 'OWNR_NM',
 'USER_BIZRNO',
 'USER_TELNO',
 'FXNUM',
 'USER_ZIP',
 'USER_1_ADRS',
 'USER_2_ADRS',
 '접수시도',
 'RCPT_SIGNGU',
 '차량등록번호',
 '차대번호',
 'VHCL_YRIDNW',
 'EGINCTY',
 'VHCL_PSCP',
 'VHCL_WGHT',
 'TOT_WGHT',
 'CRYNG_WGHT',
 'VHCNM',
 'VHCL_FRM',
 'VHCTY',
 'VHCL_PURPS',
 'FST_REG_DE',
 '폐차등록주행거리',
 'SCRCAR_ERA_DRVNG_DSTNC',
 'VHCL_FUEL',
 'PRCINSP_DE',
 'INSPOF_NM',
 'PRCINSP_JDGMNT_YN',
 'PRCINSP_RSLT_VAL',
 'PRCINSP_JDGMNT_STDR_VAL',
 'RCPT_DE',
 'INPT_DE',
 'RETR_NM',
 'SBSIDY_TRGT_YN',
 'ELPDSRC_TRGT_1_AT',
 'ELPDSRC_TRGT_2_AT',
 'ELPDSRC_TRGT_3_AT',
 'ELPDSRC_TRGT_4_AT',
 'ELPDSRC_TRGT_5_AT',
 'ELPDSRC_TRGT_6_AT',
 'ELPDSRC_TRGT_7_AT',
 'ELPDSRC_TRGT_CNFRM_REG_DE',
 'ELPDSRC_TRGT_CNFRM_REGR_NM',
 'PYMT_CNFRM_YN',
 'EXPC_SPRT_AMT',
 'DCIS_SPRT_AMT',
 'SBSIDY_UNPAY_RESN',
 'SBSIDY_RQEST_DE',
 'SBSIDY_RQEST_REGR_NM',
 'DOC_CNFRM_NO',
 'DOC_OUTT_DE',
 'INSP_RQT_SIWA_MTHD',
 'INSP_RQT_DE',
 'INSP_RQT_TM',
 'VRSC_ENTRPS_NM',
 'AGENT_ZIP',
 'AGENT_1_ADRS',
 'AGENT_2_ADRS',
 'AGENT_TELNO',
 'AGENT_CRTC_NO',
 'INSP_RQT_REG_DE',
 'INSP_RQT_REGR_NM',
 'PFMINPC_DE',
 'PFMINPC_1_ITM',
 'PFMINPC_2_ITM',
 'PFMINPC_3_ITM',
 'PFMINPC_4_ITM',
 'PFMINPC_5_ITM',
 'PFMINPC_ETC_ITM',
 'PFMINPC_ITM_ETC_CMPNT_NM',
 'PFMINPC_FILE_ATT_YN',
 'PFMINPC_ELPDSRC_YN',
 'PFMINPC_ELPDSRC_IMPSBL_RESN',
 'PFMINPC_REG_DE',
 'PFMINPC_REGR_NM',
 'PFMINPC_PAPE_OUTT_DE',
 'TRTMNT_DE',
 '말소일자',
 'NCAR_PUCH_PLAN_DE',
 'NCAR_PUCH_PLAN_VHCL_NM',
 'SCRCAR_ENTRPS_NM',
 'SCRCAR_ENTRPS_ZIP',
 'SCRCAR_ENTRPS_1_ADRS',
 'SCRCAR_ENTRPS_2_ADRS',
 'ELPDSRC_ATT_FILE_1_YN',
 'ELPDSRC_ATT_FILE_2_YN',
 'ELPDSRC_ATT_FILE_3_YN',
 'ELPDSRC_REG_DE',
 'ELPDSRC_REGR_NM',
 '조기폐차최종승인YN',
 'ELPDSRC_LST_UNAP_RESN',
 'SBSIDY_PYMT_DE',
 'SBSIDY_BIZ_YR',
 'ELPDSRC_LST_CNFRM_DE',
 'ELPDSRC_LST_APRR_NM',
 'LST_CHNG_DE',
 'LST_EDIR_NM',
 'LWBCT_YN',
 'NOW_VHRNO',
 'ELPDSRC_ATT_FILE_4_YN',
 'BANK_NM',
 'BANK_ACC_NO',
 'PRCINSP_SE',
 'RCPT_LOCGOV_CD',
 'RPRSTV_NM',
 'BIZCND',
 'TYPBIZ',
 'EMAIL',
 'RCPT_SE',
 'INSP_SE',
 'ELPDSRC_TRGT_AT_ETC_RESN',
 'HST_MNGT_NO',
 'CTNT',
 'VHCTY_SE',
 'ELPDSRC_GRP',
 'BTHDY',
 'JURIRNO',
 'STDR_YM',
 'STDR_AMT',
 'WHL_EXCS_CNFRM_DE',
 'WHL_EXCS_APRR_NM',
 'MNFCT_DE',
 'OLD_SIDO',
 'OLD_SIGNGU',
 'OLD_RCPT_LOCGOV_CD',
 'OLD_1_ADRS',
 'OLD_2_ADRS',
 'OLD_VHCL_PURPS',
 'BAI_ID',
 'ADITOR_NM',
 'REG_NO',
 'RQEST_ARVL_DE',
 'RQEST_ARVL_YN',
 'BIL_CNFRMR_NM',
 'ADD_AMT',
 'SAMNS_CNFRM',
 'ADD_RQEST_ARVL_YN',
 'ADD_RQEST_ARVL_DE',
 'ADD_RQEST_CNFRMR_NM',
 'ATT_PAPE_CNFRM_AT',
 'BEF_STUS_CD',
 'WAREHOUSING_DE',
 'WAREHOUSING_YN',
 '저감장치 부착불가 여부',
 'MNTNG_IMPR_AMT',
 'ELPDSRC_ATT_FILE_5_YN',
 'SMAL_BUSIN_YN',
 'INPT_MTHD_FLAG',
 'ELPDSRC_ATT_FILE_7_YN',
 'AID_RJCT_DE',
 'IMG_LGCLFL1',
 'IMG_PHYSCL1',
 'IMG_LGCLFL2',
 'IMG_PHYSCL2',
 'IMG_LGCLFL3',
 'IMG_PHYSCL3',
 'IMG_LGCLFL4',
 'IMG_PHYSCL4',
 'PRE_SCRAP_CAR_YN',
 'ELCTY_HYDRO_CAR_ADD_AMT',
 'PFMINPC_ITSL_APPRNC',
 'PFMINPC_BUFFER_DVICE',
 'PFMINPC_WINDOW',
 'PFMINPC_TIRE',
 'PFMINPC_ASSMI_DEVICE',
 'PFMINPC_ELPDSRC_GNRLZ_RESN']

## 저감장치 부착이력

In [155]:
# about 4.4s
name = '[ODS]저감장치부착이력(2022.12.28)'
file_name = f'{name}.csv'
att = pd.read_csv(os.path.join(ods_fold, file_name), low_memory=False, encoding='cp949')
att.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 810777 entries, 0 to 810776
Data columns (total 16 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   저감장치종류      586898 non-null  object
 1   PM최종저감효율    84460 non-null   float64
 2   TDMS부착여부    204951 non-null  object
 3   구조변경일자      810777 non-null  int64
 4   부착업체명       801632 non-null  object
 5   부착일자        810775 non-null  float64
 6   탈거승인일       178 non-null     float64
 7   차량번호        810777 non-null  object
 8   차대번호        810777 non-null  object
 9   주행거리        796828 non-null  float64
 10  저감장치반납여부    326030 non-null  object
 11  저감장치구분      810777 non-null  object
 12  저감등록번호      810777 non-null  int64
 13  재장착확인일자     441 non-null     float64
 14  장치일련번호      682711 non-null  object
 15  삼원촉매장치반납여부  13694 non-null   object
dtypes: float64(5), int64(2), object(9)
memory usage: 99.0+ MB

## 법정동 코드

In [99]:
# about 5.6s
name = '법정동코드_2022.10.14(수정2023.05.04)'
file_name = f'{name}.xlsx'
code = pd.read_excel(os.path.join(big2_fold, file_name))
code.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 46342 entries, 0 to 46341
Data columns (total 9 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   법정동코드     46342 non-null  int64
 1   시도        46342 non-null  object
 2   시구군       46319 non-null  object
 3   읍면동       45849 non-null  object
 4   리         33682 non-null  object
 5   지역3       0 non-null      float64
 6   폐지여부      46342 non-null  object
 7   대기관리권역    46342 non-null  object
 8   대기관리권역YN  46337 non-null  object
dtypes: float64(1), int64(1), object(7)
memory usage: 3.2+ MB

In [100]:
code.head()

        법정동코드  시도  시구군  읍면동    리  지역3 폐지여부 대기관리권역 대기관리권역YN
0  1100000000  서울  NaN  NaN  NaN  NaN   존재    수도권        Y
1  1111000000  서울  종로구  NaN  NaN  NaN   존재    수도권        Y
2  1111010100  서울  종로구  청운동  NaN  NaN   존재    수도권        Y
3  1111010200  서울  종로구  신교동  NaN  NaN   존재    수도권        Y
4  1111010300  서울  종로구  궁정동  NaN  NaN   존재    수도권        Y

In [101]:
code = code.rename(columns={'법정동코드':'본거지법정동코드'})
code.head()

     본거지법정동코드  시도  시구군  읍면동    리  지역3 폐지여부 대기관리권역 대기관리권역YN
0  1100000000  서울  NaN  NaN  NaN  NaN   존재    수도권        Y
1  1111000000  서울  종로구  NaN  NaN  NaN   존재    수도권        Y
2  1111010100  서울  종로구  청운동  NaN  NaN   존재    수도권        Y
3  1111010200  서울  종로구  신교동  NaN  NaN   존재    수도권        Y
4  1111010300  서울  종로구  궁정동  NaN  NaN   존재    수도권        Y

## 차명_연료_매칭

In [9]:
# about 0.1s
name = '차명_연료_매칭_2023.03.03_AM.11.12.03'
file_name = f'{name}.xlsx'
fuel = pd.read_excel(os.path.join(big2_fold, file_name))
fuel.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 216 entries, 0 to 215
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   차명      216 non-null    object
 1   연료      216 non-null    object
dtypes: object(2)
memory usage: 3.5+ KB

In [10]:
fuel.head()

             차명   연료
0     BENZ S500  휘발유
1           BMW  휘발유
2  BMW 3-SERIES  휘발유
3      BMW 318I  휘발유
4     BMW 325CI  휘발유

# 전처리

## 말소 차량 제거(❌)

In [12]:
car['차량말소YN'].value_counts(dropna=False)

N    25693532
Y     3840515
Name: 차량말소YN, dtype: int64

In [177]:
# about 37.2s
# carm = car.loc[car['차량말소YN'] == 'N'].reset_index(drop=True)
carm = car.reset_index(drop=True)
carm.shape

(29534047, 49)

In [14]:
carm.columns

Index(['차량관리번호', '차량등록번호', '본거지법정동코드', '소유자구분', '차종_등록정보', '용도', '현재회원번호',
       '차대번호', '최초등록일자', '차량연식', '차량제작일자', '배출가스검사유효일자', '제원관리번호', '배출가스인증번호',
       '배출가스등급', '저공해조치YN(미사용)', '저공해조치종류', '저공해조치구조변경YN', '차량등록번호숫자정보',
       '차량말소YN', '최초회원번호', '취득일자', '취득금액', '생성일시_등록정보', '수정일시_등록정보', '차명',
       '차종_제원정보', '차종분류', '차종유형(소분류)', '자동차형식', '제작사명', '연료', '엔진형식', '공차중량',
       '총중량', '적재중량', '엔진출력', '배기량', '승차인원', '차량길이', '차량너비', '차량높이', '원산지명',
       '삭제YN', '승인일자', '구동형식', '변속기종류', '생성일시_제원정보', '수정일시_제원정보'],
      dtype='object')

In [77]:
g5['차량말소YN'].value_counts(dropna=False)

Y    1223886
N    1154762
Name: 차량말소YN, dtype: int64

In [178]:
# gm5 = g5.loc[g5['차량말소YN'] == 'N'].reset_index(drop=True)
gm5 = g5.reset_index(drop=True)
gm5.shape

(2378648, 49)

In [179]:
gm5.columns

Index(['차량관리번호', '차량등록번호', '본거지법정동코드', '소유자구분', '차종_등록정보', '용도', '현재회원번호',
       '차대번호', '최초등록일자', '차량연식', '차량제작일자', '배출가스검사유효일자', '제원관리번호', '배출가스인증번호',
       '배출가스등급', '저공해조치YN(미사용)', '저공해조치종류', '저공해조치구조변경YN', '차량등록번호숫자정보',
       '차량말소YN', '최초회원번호', '취득일자', '취득금액', '생성일시_등록정보', '수정일시_등록정보', '차명',
       '차종_제원정보', '차종분류', '차종유형(소분류)', '자동차형식', '제작사명', '연료', '엔진형식', '공차중량',
       '총중량', '적재중량', '엔진출력', '배기량', '승차인원', '차량길이', '차량너비', '차량높이', '원산지명',
       '삭제YN', '승인일자', '구동형식', '변속기종류', '생성일시_제원정보', '수정일시_제원정보'],
      dtype='object')

## 시도, 시구군 정보 부착

In [30]:
# about 21.0s
df = carm[['차량등록번호', '본거지법정동코드', '차대번호', '제원관리번호', '배출가스인증번호', '배출가스등급', '차명', '연료', '차량말소YN']].merge(code, on='본거지법정동코드', how='left')
df.shape

(25693532, 17)

In [31]:
df[['시도', '시구군']].isnull().sum()

시도      0
시구군    26
dtype: int64

In [32]:
df.loc[df['시도'].isnull() == True, ['본거지법정동코드', '시도', '시구군']]

Empty DataFrame
Columns: [본거지법정동코드, 시도, 시구군]
Index: []

In [33]:
df.loc[df['시구군'].isnull() == True, ['본거지법정동코드', '시도', '시구군']]

           본거지법정동코드  시도  시구군
6197     4100000000  경기  NaN
7508     3611000000  세종  NaN
7600     3611000000  세종  NaN
9991     3611000000  세종  NaN
21115    3611000000  세종  NaN
25219    3611000000  세종  NaN
29709    3611000000  세종  NaN
29767    3611000000  세종  NaN
30062    3611000000  세종  NaN
31443    3611000000  세종  NaN
67899    3611000000  세종  NaN
104432   3611000000  세종  NaN
152058   3611000000  세종  NaN
178428   3611000000  세종  NaN
233205   3611000000  세종  NaN
305685   3611000000  세종  NaN
313368   3611000000  세종  NaN
314290   3611000000  세종  NaN
318420   3611000000  세종  NaN
336943   3611000000  세종  NaN
345614   3611000000  세종  NaN
349745   3611000000  세종  NaN
354618   3611000000  세종  NaN
370727   3611000000  세종  NaN
546166   3611000000  세종  NaN
1469195  3611000000  세종  NaN

In [180]:
# about 0.8s
dfg5 = gm5[['차량등록번호', '본거지법정동코드', '차대번호', '제원관리번호', '배출가스인증번호', '배출가스등급', '차명', '연료', '차량말소YN']].merge(code, on='본거지법정동코드', how='left')
dfg5.shape

(2378648, 17)

In [181]:
dfg5[['시도', '시구군', '대기관리권역', '대기관리권역YN']].isnull().sum()

시도           0
시구군         21
대기관리권역       0
대기관리권역YN     0
dtype: int64

In [182]:
dfg5.loc[dfg5['시구군'].isnull() == True, ['본거지법정동코드', '시도', '시구군', '대기관리권역', '대기관리권역YN']]

           본거지법정동코드  시도  시구군 대기관리권역 대기관리권역YN
5750     4100000000  경기  NaN    수도권        Y
7004     3611000000  세종  NaN    중부권        Y
7100     3611000000  세종  NaN    중부권        Y
9449     3611000000  세종  NaN    중부권        Y
20441    3611000000  세종  NaN    중부권        Y
24578    3611000000  세종  NaN    중부권        Y
28977    3611000000  세종  NaN    중부권        Y
29037    3611000000  세종  NaN    중부권        Y
29341    3611000000  세종  NaN    중부권        Y
30724    3611000000  세종  NaN    중부권        Y
61691    3611000000  세종  NaN    중부권        Y
99080    3611000000  세종  NaN    중부권        Y
136446   3611000000  세종  NaN    중부권        Y
170481   3611000000  세종  NaN    중부권        Y
174085   3611000000  세종  NaN    중부권        Y
174560   3611000000  세종  NaN    중부권        Y
176749   3611000000  세종  NaN    중부권        Y
190586   3611000000  세종  NaN    중부권        Y
192981   3611000000  세종  NaN    중부권        Y
195713   3611000000  세종  NaN    중부권        Y
1488578  3611000000  세종  NaN    중부권        Y

## 연료 결측, 기타연료 확인

In [34]:
df['연료'].value_counts(dropna=False)

휘발유            12177033
경유              9890990
LPG(액화석유가스)     1904188
휘발유 하이브리드       1095741
전기               368693
NaN              146798
경유 하이브리드          35779
CNG(압축천연가스)       30461
수소                28227
LPG 하이브리드         14352
기타연료                933
CNG 하이브리드           304
LNG(액화천연가스)          27
알코올                   3
태양열                   2
등유                    1
Name: 연료, dtype: int64

In [26]:
# fuel_dict = {a:b for a, b in fuel.values}
# fuel_dict

{'BENZ S500': '휘발유',
 'BMW': '휘발유',
 'BMW 3-SERIES': '휘발유',
 'BMW 318I': '휘발유',
 'BMW 325CI': '휘발유',
 'BMW 325I': '휘발유',
 'BMW 325i': '휘발유',
 'BMW 328I': '휘발유',
 'BMW 525I': '휘발유',
 'BMW 528I': '휘발유',
 'BMW 530I': '휘발유',
 'BMW 5SERIES': '휘발유',
 'BMW 750Li': '휘발유',
 'BMW X3': '휘발유',
 'BMW X5': '휘발유',
 'BMW Z3': '휘발유',
 'BMW530I': '휘발유',
 'BUICK CENTURY': '휘발유',
 'BUICK LESABRE': '휘발유',
 'BUICK TERRAZA': '휘발유',
 'CADILLAC CTS': '휘발유',
 'CHEVROLET IMPALA': '휘발유',
 'CHEVROLET PRIZM': '휘발유',
 'CHRYSLER': '휘발유',
 'CHRYSLER 300 LTD': '휘발유',
 'CHRYSLER 300C': '경유',
 'CHRYSLER HEMI AWD': '휘발유',
 'CHRYSLER PT CRUISER': '휘발유',
 'CHRYSLER TOWN & COUNTRY(7)': '휘발유',
 'CIELO': '휘발유',
 'CORSICA': '휘발유',
 'COUGAR': '휘발유',
 'DODGE CALIBER': '휘발유',
 'DODGE CARAVAN': '휘발유',
 'DODGE CHARGER': '휘발유',
 'DODGE DAKOTA': '휘발유',
 'DODGE DURANGO': '휘발유',
 'DODGE GRAND CARAVAN': '휘발유',
 'DODGE NEON SXT': '휘발유',
 'EF소나타': '휘발유',
 'ESCORT': '휘발유',
 'FIREBIRD': '휘발유',
 'FORD ESCAPE': '휘발유',
 'FORD EXPEDITION': '휘발유',
 'FORD EXPEDITION(8)': '휘발유',
 'FORD EXPLORER': '휘발유',
 'FORD FOCUS': '휘발유',
 'FORD FREESTYLE(7)': '휘발유',
 'FORD FUSION': '휘발유',
 'FORD MUSTANG': '휘발유',
 'FORD RANGER XLT': '경유',
 'FORD WINDSTAR': '휘발유',
 'G.M.C': '휘발유',
 'G20': '휘발유',
 'GMC': '휘발유',
 'GMC JIMMY': '휘발유',
 'GMC SIERRA': '휘발유',
 'HONDA ACCORD': '휘발유',
 'HONDA CR-V': '휘발유',
 'HONDA CR-V EX': '휘발유',
 'HONDA PILOT': '휘발유',
 'HYUNDAI PRESTO': '휘발유',
 'HYUNDAI SONATA': '휘발유',
 'HYUNDAI/SONATA': '휘발유',
 'INFINITI G37S': '휘발유',
 'JAGUAR X-TYPE': '휘발유',
 'JEEP GRAND CHEROKEE': '휘발유',
 'JEEP LIBERTY': '휘발유',
 'JEEP PATRIOT': '경유',
 'KIA OPTIMA': '휘발유',
 'KIA SEDONA': '휘발유',
 'LEXUS ES330': '휘발유',
 'LEXUS ES350': '휘발유',
 'LEXUS LS430': '휘발유',
 'LEXUS RS330': '휘발유',
 'LEXUS RX330': '휘발유',
 'LINCOLN MKX': '휘발유',
 'MAZDA MAZDA6': '휘발유',
 'MAZDA SENTA': '휘발유',
 'MERCEDES BENZ': '휘발유',
 'MERCEDES-BENZ': '휘발유',
 'MERCEDES-BENZ CLS 550': '경유',
 'MERCEDES-BENZ E-350': '휘발유',
 'MERCEDES-BENZ E-CLASS': '휘발유',
 'MERCEDES-BENZ R-CLASS 3500': '경유',
 'MERCEDES-BENZ S 500': '휘발유',
 'MERCEDES-BENZ S65': '경유',
 'MERCURY MILAN': '휘발유',
 'NEW 그랜저XG': '휘발유',
 'NISSAN MURANO': '휘발유',
 'NISSAN ROGUE 3.5': '휘발유',
 'NISSAN XTERRA': '휘발유',
 'OLDSMOBILE BRAVADA': '휘발유',
 'OLDSMOBILESILHOUET': '휘발유',
 'PLYMOUTH': '휘발유',
 'PONTIAC SUNBIRD': '휘발유',
 'PONTIAC VIBE': '휘발유',
 'PONTIAC VIBE BASE': '휘발유',
 'PORSCHE': '휘발유',
 'ROYALE': '휘발유',
 'ROYALSALON': '휘발유',
 'RX7': '휘발유',
 'SANTAFE': '휘발유',
 'SEPHIA': '휘발유',
 'SILHOUET': '휘발유',
 'SPORTAGE': '휘발유',
 'STAREX': '휘발유',
 'SUNDANCE': '휘발유',
 'TAURUS': '휘발유',
 'TOYOTA 4-RUNNER': '경유',
 'TOYOTA AVALON': '휘발유',
 'TOYOTA CAMRY하이브리드': '휘발유 하이브리드',
 'TOYOTA COROLLA': '휘발유',
 'TOYOTA ESTIIM': '휘발유',
 'TOYOTA MATRIX': '휘발유',
 'TOYOTA SIENNA': '휘발유',
 'TOYOTA SR-5': '휘발유',
 'VISION': '휘발유',
 'VOLKSWAGEN JETTA': '휘발유',
 'VOLVO 7G1': '휘발유',
 'VOLVO 960': '휘발유',
 'VOLVO S60': '휘발유',
 'VOLVO S80': '휘발유',
 'VOLVO T5': '휘발유',
 'VOLVO XC60': '휘발유',
 'VOLVO XC90': '휘발유',
 '구급차(도요다)': '경유',
 '그랜저2.0': '휘발유',
 '그랜저XG300L': '휘발유',
 '기아마스타': '경유',
 '뉴복사담프': '경유',
 '뉴비틀2.0': '휘발유',
 '닛산실비아2.0': '휘발유',
 '닛산씨마그로리아': '휘발유',
 '다임24KL에틸렌글리콜트레일러': '무동력',
 '다찌람밴': '휘발유',
 '대우11톤카고': '경유',
 '대우11톤카고트럭': '경유',
 '대우8톤카고': '경유',
 '대흥저상트레일러': '무동력',
 '도오다': '휘발유',
 '도요다MR2': '휘발유',
 '도요다세라': '휘발유',
 '도요다슈프라': '휘발유',
 '도요다웨곤엠브란스': '경유',
 '도요다코로나': '휘발유',
 '도요다크라운': '휘발유',
 '도요다크라운로얄싸롱': '휘발유',
 '도요타 프리우스(하이브리드)': '휘발유 하이브리드',
 '라비타(LAVITA)': '휘발유',
 '로얄살롱': '휘발유',
 '로얄살롱2.0AT': '휘발유',
 '르망': '휘발유',
 '르망펜타-5': '휘발유',
 '링컨MARK7': '경유',
 '맥스디젤삼방': '경유',
 '머큐리 세이블': '경유',
 '벤즈 230E': '휘발유',
 '벤즈230E': '휘발유',
 '벤츠 C300': '휘발유',
 '벤츠190E': '휘발유',
 '벤츠C280': '휘발유',
 '벤츠E230': '휘발유',
 '벤츠S320': '휘발유',
 '복사14': '휘발유',
 '브리샤2': '휘발유',
 '블루버드': '휘발유',
 '사파리': '휘발유',
 '새턴': '휘발유',
 '새한2.5톤카고': '경유',
 '새한버스': '경유',
 '셀리카-GT': '휘발유',
 '소나타': '휘발유',
 '소나타1800오토매틱': '휘발유',
 '수프라': '휘발유',
 '스텔라': '휘발유',
 '스텔라1.6CXL': '휘발유',
 '스텔라오토매틱': '휘발유',
 '시보레': '휘발유',
 '시보레카베리아': '휘발유',
 '쏘나타': '휘발유',
 '아시아AM707중형버스': '경유',
 '아큐라': '휘발유',
 '에스페로': '휘발유',
 '에어스트림탐지견수송트레일러': '무동력',
 '엑셀': '휘발유',
 '엑셀운전교습용차량': '휘발유',
 '원흥식 트럭': '경유',
 '인타담프': '경유',
 '일산 육륜': '경유',
 '제설차': '경유',
 '지프': '경유',
 '체로키': '휘발유',
 '캐피탈': '휘발유',
 '캠리': '휘발유',
 '코르시카': '휘발유',
 '코우거': '휘발유',
 '코티나디럭스': '휘발유',
 '코티나마크IV': '휘발유',
 '크로마터보i.e': '휘발유',
 '티코(TICO)': '휘발유',
 '포니': '휘발유',
 '포니2': '휘발유',
 '포니2-L.P.G': 'LPG(액화석유가스)',
 '포니2-LPG': 'LPG(액화석유가스)',
 '포르쉐': '휘발유',
 '프레스토오토매틱': '휘발유',
 '프레스토오토메틱': '휘발유',
 '프리무스': '휘발유 하이브리드',
 '한원40A콤비콘테이너트레일러': '무동력',
 '한원40피트구즈넥트레일러': '무동력',
 '현대3톤트럭': '경유',
 '현대리어엔진버스': '경유',
 '현대포터': '경유',
 '혼다 CR-V': '경유',
 '홍성캠핑트레일러': '무동력'}

In [35]:
df.loc[((df['연료'].isnull() == True) | (df['연료'] == '기타연료')), '차명'].unique()

array(['트레일러', '미스비시샤시(세미트레일러)', '도큐트레일러', ..., '대흥18.8톤가변형저상트레일러',
       '캠핑플레인23.2톤가변식저상트레일러', '에이사캠핑트레일러'], dtype=object)

In [ ]:
# for one in df.loc[((df['연료'].isnull() == True) | (df['연료'] == '기타연료')), '차명'].unique():
#     df.loc[((df['연료'].isnull() == True) | (df['연료'] == '기타연료')) & (df['차명'] == one), '연료'] = fuel_dict[one]

In [36]:
df['연료'].value_counts(dropna=False)

휘발유            12177033
경유              9890990
LPG(액화석유가스)     1904188
휘발유 하이브리드       1095741
전기               368693
NaN              146798
경유 하이브리드          35779
CNG(압축천연가스)       30461
수소                28227
LPG 하이브리드         14352
기타연료                933
CNG 하이브리드           304
LNG(액화천연가스)          27
알코올                   3
태양열                   2
등유                    1
Name: 연료, dtype: int64

In [52]:
df['연료'].value_counts(dropna=False).reset_index().to_excel(os.path.join(analysis_fold, '연료별_수.xlsx'), index=False)

In [47]:
df['배출가스등급'].value_counts(dropna=False)

2     10960244
3      8623130
1      2771395
4      1511214
5      1154733
X       288966
T2      247483
T3      136301
T4          37
T5          29
Name: 배출가스등급, dtype: int64

In [48]:
df['배출가스등급'].value_counts(dropna=False).reset_index()

  index    배출가스등급
0     2  10960244
1     3   8623130
2     1   2771395
3     4   1511214
4     5   1154733
5     X    288966
6    T2    247483
7    T3    136301
8    T4        37
9    T5        29

In [50]:
df['배출가스등급'].value_counts(dropna=False).reset_index().to_excel(os.path.join(analysis_fold, '배출가스등급_개수.xlsx'), index=False)

In [183]:
dfg5['연료'].value_counts(dropna=False)

경유             2347276
휘발유              30856
LPG(액화석유가스)        453
NaN                 31
기타연료                26
CNG(압축천연가스)          5
알코올                  1
Name: 연료, dtype: int64

In [184]:
fuel_dict = {a:b for a, b in fuel.values}
fuel_dict

{'BENZ S500': '휘발유',
 'BMW': '휘발유',
 'BMW 3-SERIES': '휘발유',
 'BMW 318I': '휘발유',
 'BMW 325CI': '휘발유',
 'BMW 325I': '휘발유',
 'BMW 325i': '휘발유',
 'BMW 328I': '휘발유',
 'BMW 525I': '휘발유',
 'BMW 528I': '휘발유',
 'BMW 530I': '휘발유',
 'BMW 5SERIES': '휘발유',
 'BMW 750Li': '휘발유',
 'BMW X3': '휘발유',
 'BMW X5': '휘발유',
 'BMW Z3': '휘발유',
 'BMW530I': '휘발유',
 'BUICK CENTURY': '휘발유',
 'BUICK LESABRE': '휘발유',
 'BUICK TERRAZA': '휘발유',
 'CADILLAC CTS': '휘발유',
 'CHEVROLET IMPALA': '휘발유',
 'CHEVROLET PRIZM': '휘발유',
 'CHRYSLER': '휘발유',
 'CHRYSLER 300 LTD': '휘발유',
 'CHRYSLER 300C': '경유',
 'CHRYSLER HEMI AWD': '휘발유',
 'CHRYSLER PT CRUISER': '휘발유',
 'CHRYSLER TOWN & COUNTRY(7)': '휘발유',
 'CIELO': '휘발유',
 'CORSICA': '휘발유',
 'COUGAR': '휘발유',
 'DODGE CALIBER': '휘발유',
 'DODGE CARAVAN': '휘발유',
 'DODGE CHARGER': '휘발유',
 'DODGE DAKOTA': '휘발유',
 'DODGE DURANGO': '휘발유',
 'DODGE GRAND CARAVAN': '휘발유',
 'DODGE NEON SXT': '휘발유',
 'EF소나타': '휘발유',
 'ESCORT': '휘발유',
 'FIREBIRD': '휘발유',
 'FORD ESCAPE': '휘발유',
 'FORD EXPEDITION': '휘발유',
 'FORD EXPEDITION(8)': '휘발유',
 'FORD EXPLORER': '휘발유',
 'FORD FOCUS': '휘발유',
 'FORD FREESTYLE(7)': '휘발유',
 'FORD FUSION': '휘발유',
 'FORD MUSTANG': '휘발유',
 'FORD RANGER XLT': '경유',
 'FORD WINDSTAR': '휘발유',
 'G.M.C': '휘발유',
 'G20': '휘발유',
 'GMC': '휘발유',
 'GMC JIMMY': '휘발유',
 'GMC SIERRA': '휘발유',
 'HONDA ACCORD': '휘발유',
 'HONDA CR-V': '휘발유',
 'HONDA CR-V EX': '휘발유',
 'HONDA PILOT': '휘발유',
 'HYUNDAI PRESTO': '휘발유',
 'HYUNDAI SONATA': '휘발유',
 'HYUNDAI/SONATA': '휘발유',
 'INFINITI G37S': '휘발유',
 'JAGUAR X-TYPE': '휘발유',
 'JEEP GRAND CHEROKEE': '휘발유',
 'JEEP LIBERTY': '휘발유',
 'JEEP PATRIOT': '경유',
 'KIA OPTIMA': '휘발유',
 'KIA SEDONA': '휘발유',
 'LEXUS ES330': '휘발유',
 'LEXUS ES350': '휘발유',
 'LEXUS LS430': '휘발유',
 'LEXUS RS330': '휘발유',
 'LEXUS RX330': '휘발유',
 'LINCOLN MKX': '휘발유',
 'MAZDA MAZDA6': '휘발유',
 'MAZDA SENTA': '휘발유',
 'MERCEDES BENZ': '휘발유',
 'MERCEDES-BENZ': '휘발유',
 'MERCEDES-BENZ CLS 550': '경유',
 'MERCEDES-BENZ E-350': '휘발유',
 'MERCEDES-BENZ E-CLASS': '휘발유',
 'MERCEDES-BENZ R-CLASS 3500': '경유',
 'MERCEDES-BENZ S 500': '휘발유',
 'MERCEDES-BENZ S65': '경유',
 'MERCURY MILAN': '휘발유',
 'NEW 그랜저XG': '휘발유',
 'NISSAN MURANO': '휘발유',
 'NISSAN ROGUE 3.5': '휘발유',
 'NISSAN XTERRA': '휘발유',
 'OLDSMOBILE BRAVADA': '휘발유',
 'OLDSMOBILESILHOUET': '휘발유',
 'PLYMOUTH': '휘발유',
 'PONTIAC SUNBIRD': '휘발유',
 'PONTIAC VIBE': '휘발유',
 'PONTIAC VIBE BASE': '휘발유',
 'PORSCHE': '휘발유',
 'ROYALE': '휘발유',
 'ROYALSALON': '휘발유',
 'RX7': '휘발유',
 'SANTAFE': '휘발유',
 'SEPHIA': '휘발유',
 'SILHOUET': '휘발유',
 'SPORTAGE': '휘발유',
 'STAREX': '휘발유',
 'SUNDANCE': '휘발유',
 'TAURUS': '휘발유',
 'TOYOTA 4-RUNNER': '경유',
 'TOYOTA AVALON': '휘발유',
 'TOYOTA CAMRY하이브리드': '휘발유 하이브리드',
 'TOYOTA COROLLA': '휘발유',
 'TOYOTA ESTIIM': '휘발유',
 'TOYOTA MATRIX': '휘발유',
 'TOYOTA SIENNA': '휘발유',
 'TOYOTA SR-5': '휘발유',
 'VISION': '휘발유',
 'VOLKSWAGEN JETTA': '휘발유',
 'VOLVO 7G1': '휘발유',
 'VOLVO 960': '휘발유',
 'VOLVO S60': '휘발유',
 'VOLVO S80': '휘발유',
 'VOLVO T5': '휘발유',
 'VOLVO XC60': '휘발유',
 'VOLVO XC90': '휘발유',
 '구급차(도요다)': '경유',
 '그랜저2.0': '휘발유',
 '그랜저XG300L': '휘발유',
 '기아마스타': '경유',
 '뉴복사담프': '경유',
 '뉴비틀2.0': '휘발유',
 '닛산실비아2.0': '휘발유',
 '닛산씨마그로리아': '휘발유',
 '다임24KL에틸렌글리콜트레일러': '무동력',
 '다찌람밴': '휘발유',
 '대우11톤카고': '경유',
 '대우11톤카고트럭': '경유',
 '대우8톤카고': '경유',
 '대흥저상트레일러': '무동력',
 '도오다': '휘발유',
 '도요다MR2': '휘발유',
 '도요다세라': '휘발유',
 '도요다슈프라': '휘발유',
 '도요다웨곤엠브란스': '경유',
 '도요다코로나': '휘발유',
 '도요다크라운': '휘발유',
 '도요다크라운로얄싸롱': '휘발유',
 '도요타 프리우스(하이브리드)': '휘발유 하이브리드',
 '라비타(LAVITA)': '휘발유',
 '로얄살롱': '휘발유',
 '로얄살롱2.0AT': '휘발유',
 '르망': '휘발유',
 '르망펜타-5': '휘발유',
 '링컨MARK7': '경유',
 '맥스디젤삼방': '경유',
 '머큐리 세이블': '경유',
 '벤즈 230E': '휘발유',
 '벤즈230E': '휘발유',
 '벤츠 C300': '휘발유',
 '벤츠190E': '휘발유',
 '벤츠C280': '휘발유',
 '벤츠E230': '휘발유',
 '벤츠S320': '휘발유',
 '복사14': '휘발유',
 '브리샤2': '휘발유',
 '블루버드': '휘발유',
 '사파리': '휘발유',
 '새턴': '휘발유',
 '새한2.5톤카고': '경유',
 '새한버스': '경유',
 '셀리카-GT': '휘발유',
 '소나타': '휘발유',
 '소나타1800오토매틱': '휘발유',
 '수프라': '휘발유',
 '스텔라': '휘발유',
 '스텔라1.6CXL': '휘발유',
 '스텔라오토매틱': '휘발유',
 '시보레': '휘발유',
 '시보레카베리아': '휘발유',
 '쏘나타': '휘발유',
 '아시아AM707중형버스': '경유',
 '아큐라': '휘발유',
 '에스페로': '휘발유',
 '에어스트림탐지견수송트레일러': '무동력',
 '엑셀': '휘발유',
 '엑셀운전교습용차량': '휘발유',
 '원흥식 트럭': '경유',
 '인타담프': '경유',
 '일산 육륜': '경유',
 '제설차': '경유',
 '지프': '경유',
 '체로키': '휘발유',
 '캐피탈': '휘발유',
 '캠리': '휘발유',
 '코르시카': '휘발유',
 '코우거': '휘발유',
 '코티나디럭스': '휘발유',
 '코티나마크IV': '휘발유',
 '크로마터보i.e': '휘발유',
 '티코(TICO)': '휘발유',
 '포니': '휘발유',
 '포니2': '휘발유',
 '포니2-L.P.G': 'LPG(액화석유가스)',
 '포니2-LPG': 'LPG(액화석유가스)',
 '포르쉐': '휘발유',
 '프레스토오토매틱': '휘발유',
 '프레스토오토메틱': '휘발유',
 '프리무스': '휘발유 하이브리드',
 '한원40A콤비콘테이너트레일러': '무동력',
 '한원40피트구즈넥트레일러': '무동력',
 '현대3톤트럭': '경유',
 '현대리어엔진버스': '경유',
 '현대포터': '경유',
 '혼다 CR-V': '경유',
 '홍성캠핑트레일러': '무동력'}

In [186]:
# about 14.7
for one in dfg5.loc[((dfg5['연료'].isnull() == True) | (dfg5['연료'] == '기타연료')), '차명'].unique():
    try:
        dfg5.loc[((dfg5['연료'].isnull() == True) | (dfg5['연료'] == '기타연료')) & (dfg5['차명'] == one), '연료'] = fuel_dict[one]
    except:
        dfg5.loc[((dfg5['연료'].isnull() == True) | (dfg5['연료'] == '기타연료')) & (dfg5['차명'] == one), '연료'] = '기타연료'

In [187]:
dfg5['연료'].value_counts(dropna=False)

경유             2347299
휘발유              30880
LPG(액화석유가스)        455
무동력                  5
CNG(압축천연가스)          5
기타연료                 3
알코올                  1
Name: 연료, dtype: int64

## 노후차 조기폐차 관리정보 수도권 필수 컬럼만 추출

In [188]:
aea['조기폐차상태코드'].unique()

array(['Y', 'B', 'D', 'M', 'X', 'C', 'A', 'N', 'G', 'P', 'I'],
      dtype=object)

In [189]:
aea['조기폐차최종승인YN'].unique()

array(['Y', nan, 'N'], dtype=object)

In [190]:
aea['조기폐차최종승인YN'].value_counts(dropna=False)

Y      680570
NaN     89686
N          55
Name: 조기폐차최종승인YN, dtype: int64

In [191]:
aeam = aea[[
    '차대번호',
    '조기폐차최종승인YN',
    ]]

In [192]:
aeam = aeam.loc[aeam['조기폐차최종승인YN'] == 'Y'].reset_index(drop=True)
aeam.shape

(680570, 2)

## 노후차 조기폐차 관리정보 수도권외 필수 컬럼만 추출

In [193]:
lgv['조기폐차상태코드'].unique()

array(['Y', 'M', 'X', 'B', 'G', 'I', 'C', 'P', 'D', 'N'], dtype=object)

In [194]:
lgv['조기폐차최종승인YN'].unique()

array(['Y', nan, 'N'], dtype=object)

In [195]:
lgv['조기폐차최종승인YN'].value_counts(dropna=False)

NaN    162764
Y      128585
N           4
Name: 조기폐차최종승인YN, dtype: int64

In [196]:
lgvm = lgv[[
    '차대번호',
    '조기폐차최종승인YN',
    ]]

In [197]:
lgvm = lgvm.loc[lgvm['조기폐차최종승인YN'] == 'Y'].reset_index(drop=True)
lgvm.shape

(128585, 2)

## 노후차 조기폐차 정보 병합

In [198]:
early = pd.concat([aeam, lgvm], ignore_index=True)
early.shape

(809155, 2)

## 저감장치 부착이력 데이터 확인

In [199]:
att.columns

Index(['저감장치종류', 'PM최종저감효율', 'TDMS부착여부', '구조변경일자', '부착업체명', '부착일자', '탈거승인일',
       '차량번호', '차대번호', '주행거리', '저감장치반납여부', '저감장치구분', '저감등록번호', '재장착확인일자',
       '장치일련번호', '삼원촉매장치반납여부'],
      dtype='object')

In [200]:
att['저감장치구분'].value_counts(dropna=False)

1종        294602
엔진개조      198590
2종        156370
3종        148308
엔진교체        8528
1종+SCR      2304
삼원촉매        2075
Name: 저감장치구분, dtype: int64

In [201]:
att['저감장치종류'].value_counts(dropna=False)

NaN         223879
복합소형        162046
DOC         137166
소형          105138
자연대형         47920
복합중형         44915
자연중형         30715
pDPF         30586
중형           15529
복합대형          9006
자연대형+SCR      2304
대형            1573
Name: 저감장치종류, dtype: int64

In [202]:
att.groupby(['저감장치구분', '저감장치종류'])['차대번호'].count()

저감장치구분  저감장치종류
1종      복합대형          9006
        복합소형        162046
        복합중형         44915
        자연대형         47920
        자연중형         30715
1종+SCR  자연대형+SCR      2304
2종      pDPF         30586
        소형           99769
        중형           13943
3종      DOC         137166
엔진교체    대형            1573
        소형            5369
        중형            1586
Name: 차대번호, dtype: int64

In [203]:
att.groupby(['저감장치구분', '저감장치종류'])['차대번호'].count().reset_index().to_excel(os.path.join(analysis_fold, '저감장치종류.xlsx'), index=False)

### 1종, 1종+SCR 만 추출
- 1종 : DPF
- 1종+SCR : PM-NOx 저감장치

In [204]:
attm = att.loc[(att['저감장치구분'] == '1종') | (att['저감장치구분'] == '1종+SCR'), ['차대번호', '저감장치구분', '저감장치종류']].reset_index(drop=True)
attm.shape

(296906, 3)

In [205]:
attm.loc[attm['저감장치구분'] == '1종', '저감장치'] = 'DPF'
attm.loc[attm['저감장치구분'] == '1종+SCR', '저감장치'] = 'PM-NOx저감장치'
attm.shape

(296906, 4)

In [206]:
attm['저감장치'].value_counts(dropna=False)

DPF           294602
PM-NOx저감장치      2304
Name: 저감장치, dtype: int64

# 분석

## 전체

### 내연기관차

In [106]:
# about 11.8s
gas_car = df.loc[(df['연료'].isnull() == False) & (df['연료'] != '전기') & (df['연료'] != '수소') & (df['연료'] != '기타연료') & (df['연료'] != '태양열')]
gas_car['연료'].value_counts(dropna=False)

휘발유            12177033
경유              9890990
LPG(액화석유가스)     1904188
휘발유 하이브리드       1095741
경유 하이브리드          35779
CNG(압축천연가스)       30461
LPG 하이브리드         14352
CNG 하이브리드           304
LNG(액화천연가스)          27
알코올                   3
등유                    1
Name: 연료, dtype: int64

In [107]:
# 내연기관차
stat_gas1 = gas_car.groupby(['대기관리권역', '시도', '대기관리권역YN'], dropna=False)['차대번호'].count().unstack()
stat_gas1

대기관리권역YN          N          Y  NaN
대기관리권역 시도
그 외    강원 835141.00        NaN  NaN
       제주 669165.00        NaN  NaN
남부권    광주       NaN  704482.00  NaN
       전남 614500.00  584570.00  NaN
동남권    경남 533776.00 1332311.00  NaN
       경북 576666.00  927885.00  NaN
       대구       NaN 1210706.00  NaN
       부산       NaN 1476574.00  NaN
       울산       NaN  581521.00  NaN
수도권    경기 127253.00 6172880.00 1.00
       서울       NaN 3166381.00  NaN
       인천   9045.00 1695216.00  NaN
중부권    대전       NaN  693620.00  NaN
       세종       NaN  189726.00  NaN
       전북 340496.00  622384.00  NaN
       충남  31067.00 1156172.00  NaN
       충북 118967.00  778374.00  NaN

In [66]:
# 내연기관차
stat_gas2 = gas_car.groupby(['대기관리권역', '시도', '배출가스등급', '대기관리권역YN'])['차대번호'].count().unstack()
stat_gas2

대기관리권역YN                 N        Y
대기관리권역 시도 배출가스등급
그 외    강원 1       62814.00      NaN
          2      349994.00      NaN
          3      304509.00      NaN
          4       56327.00      NaN
          5       48547.00      NaN
...                    ...      ...
중부권    충북 5       10468.00 32099.00
          T2        389.00  4602.00
          T3        617.00  4062.00
          T5           NaN     2.00
          X         419.00  3114.00

[156 rows x 2 columns]

In [67]:
# 내연기관차
stat_gas3 = gas_car.groupby(['대기관리권역', '시도', '연료', '대기관리권역YN'])['차대번호'].count().unstack()
stat_gas3

대기관리권역YN                      N         Y
대기관리권역 시도 연료
그 외    강원 CNG(압축천연가스)    342.00       NaN
          LPG 하이브리드      594.00       NaN
          LPG(액화석유가스)  57868.00       NaN
          경유          372822.00       NaN
          경유 하이브리드       399.00       NaN
...                         ...       ...
중부권    충북 LPG(액화석유가스)   8641.00  61573.00
          경유           62530.00 319859.00
          경유 하이브리드        41.00    648.00
          휘발유          44932.00 368498.00
          휘발유 하이브리드     2726.00  26742.00

[143 rows x 2 columns]

In [68]:
# 내연기관차
stat_gas4 = gas_car.groupby(['대기관리권역', '시도', '배출가스등급', '연료', '대기관리권역YN'])['차대번호'].count().unstack()
stat_gas4

대기관리권역YN                            N       Y
대기관리권역 시도 배출가스등급 연료
그 외    강원 1      LPG 하이브리드     594.00     NaN
                 LPG(액화석유가스) 13209.00     NaN
                 휘발유         24236.00     NaN
                 휘발유 하이브리드   24775.00     NaN
          2      CNG(압축천연가스)   203.00     NaN
...                               ...     ...
중부권    충북 X      LPG(액화석유가스)    15.00  226.00
                 경유            172.00  767.00
                 경유 하이브리드        4.00   19.00
                 휘발유           163.00 1570.00
                 휘발유 하이브리드      65.00  530.00

[593 rows x 2 columns]

#### [출력] 내연기관차 대기관리권역별 등급별(말소 제거) 차량 현황

In [62]:
today_date = datetime.today().strftime("%Y.%m.%d_%p.%I.%M.%S")
today_date

'2023.05.04_AM.10.46.25'

In [73]:
with pd.ExcelWriter(os.path.join(analysis_fold, f'통계_내연기관차_대기관리권역_등급_연료별({today_date}).xlsx')) as writer:
    stat_gas1.to_excel(writer, sheet_name='대기관리권역')
    stat_gas2.to_excel(writer, sheet_name='대기관리권역_등급')
    stat_gas3.to_excel(writer, sheet_name='대기관리권역_연료')
    stat_gas4.to_excel(writer, sheet_name='대기관리권역_등급_연료')

### 무공해차(전기, 수소, 태양열)

In [54]:
# about 12.1s
no_car = df.loc[(df['연료'].isnull() == False) & ((df['연료'] == '전기') | (df['연료'] == '수소') | (df['연료'] == '태양열'))]
no_car['연료'].value_counts(dropna=False)

전기     368693
수소      28227
태양열         2
Name: 연료, dtype: int64

In [64]:
# 내연기관차
stat_no1 = no_car.groupby(['대기관리권역', '시도', '대기관리권역YN'])['차대번호'].count().unstack()
stat_no1

대기관리권역YN         N        Y
대기관리권역 시도
그 외    강원 15551.00      NaN
       제주 31714.00      NaN
남부권    광주      NaN  9578.00
       전남  6381.00  8952.00
동남권    경남  5797.00 17641.00
       경북  7434.00 10742.00
       대구      NaN 23647.00
       부산      NaN 22518.00
       울산      NaN  7203.00
수도권    경기  1868.00 76140.00
       서울      NaN 61017.00
       인천    51.00 25443.00
중부권    대전      NaN 14670.00
       세종      NaN  3028.00
       전북  5207.00  8976.00
       충남   434.00 16803.00
       충북  1890.00 14237.00

In [70]:
# 내연기관차
stat_no2 = no_car.groupby(['대기관리권역', '시도', '배출가스등급', '대기관리권역YN'])['차대번호'].count().unstack()
stat_no2

대기관리권역YN                N        Y
대기관리권역 시도 배출가스등급
그 외    강원 1      15487.00      NaN
          X         64.00      NaN
       제주 1      31654.00      NaN
          X         60.00      NaN
남부권    광주 1           NaN  9552.00
          X           NaN    26.00
       전남 1       6349.00  8904.00
          X         32.00    48.00
동남권    경남 1       5758.00 17552.00
          X         39.00    89.00
       경북 1       7381.00 10716.00
          X         53.00    26.00
       대구 1           NaN 23556.00
          X           NaN    91.00
       부산 1           NaN 22396.00
          X           NaN   122.00
       울산 1           NaN  7202.00
          X           NaN     1.00
수도권    경기 1       1861.00 75600.00
          X          7.00   540.00
       서울 1           NaN 60655.00
          X           NaN   362.00
       인천 1         51.00 25264.00
          X           NaN   179.00
중부권    대전 1           NaN 14624.00
          X           NaN    46.00
       세종 1           NaN  3025.00
          X           NaN     3.00
       전북 1       5190.00  8912.00
          X         17.00    64.00
       충남 1        432.00 16747.00
          X          2.00    56.00
       충북 1       1879.00 14163.00
          X         11.00    74.00

In [71]:
# 내연기관차
stat_no3 = no_car.groupby(['대기관리권역', '시도', '연료', '대기관리권역YN'])['차대번호'].count().unstack()
stat_no3

대기관리권역YN             N        Y
대기관리권역 시도 연료
그 외    강원 수소   2504.00      NaN
          전기  13047.00      NaN
       제주 수소      5.00      NaN
          전기  31709.00      NaN
남부권    광주 수소       NaN  1096.00
          전기       NaN  8482.00
       전남 수소     84.00   627.00
          전기   6297.00  8325.00
동남권    경남 수소    207.00  2182.00
          전기   5590.00 15459.00
       경북 수소     68.00   148.00
          전기   7366.00 10594.00
       대구 수소       NaN   529.00
          전기       NaN 23118.00
       부산 수소       NaN  1887.00
          전기       NaN 20631.00
       울산 수소       NaN  2438.00
          전기       NaN  4765.00
수도권    경기 수소     26.00  5989.00
          전기   1842.00 70149.00
          태양열      NaN     2.00
       서울 수소       NaN  2839.00
          전기       NaN 58178.00
       인천 수소      1.00  1569.00
          전기     50.00 23874.00
중부권    대전 수소       NaN  1208.00
          전기       NaN 13462.00
       세종 수소       NaN   242.00
          전기       NaN  2786.00
       전북 수소    420.00  1270.00
          전기   4787.00  7706.00
       충남 수소      8.00  1182.00
          전기    426.00 15621.00
       충북 수소     64.00  1634.00
          전기   1826.00 12603.00

In [72]:
# 내연기관차
stat_no4 = no_car.groupby(['대기관리권역', '시도', '배출가스등급', '연료', '대기관리권역YN'])['차대번호'].count().unstack()
stat_no4

대기관리권역YN                   N        Y
대기관리권역 시도 배출가스등급 연료
그 외    강원 1      수소  2496.00      NaN
                 전기 12991.00      NaN
          X      수소     8.00      NaN
                 전기    56.00      NaN
       제주 1      수소     5.00      NaN
...                      ...      ...
중부권    충남 X      전기     2.00    50.00
       충북 1      수소    64.00  1618.00
                 전기  1815.00 12545.00
          X      수소      NaN    16.00
                 전기    11.00    58.00

[65 rows x 2 columns]

#### [출력] 무공해차 대기관리권역별 등급별(말소 제거) 차량 현황

In [74]:
today_date = datetime.today().strftime("%Y.%m.%d_%p.%I.%M.%S")
today_date

'2023.05.04_AM.10.50.07'

In [75]:
with pd.ExcelWriter(os.path.join(analysis_fold, f'통계_무공해차_대기관리권역_등급_연료별({today_date}).xlsx')) as writer:
    stat_no1.to_excel(writer, sheet_name='대기관리권역')
    stat_no2.to_excel(writer, sheet_name='대기관리권역_등급')
    stat_no3.to_excel(writer, sheet_name='대기관리권역_연료')
    stat_no4.to_excel(writer, sheet_name='대기관리권역_등급_연료')

## 5등급

### 내연기관차

In [208]:
dfg5['연료'].value_counts(dropna=False)

경유             2347299
휘발유              30880
LPG(액화석유가스)        455
무동력                  5
CNG(압축천연가스)          5
기타연료                 3
알코올                  1
Name: 연료, dtype: int64

In [211]:
dfg5.loc[(dfg5['연료'] != '무동력') & (dfg5['연료'] != '기타연료')].shape

(2378640, 17)

In [212]:
# about 11.8s
gas_car = dfg5.loc[(dfg5['연료'] != '무동력') & (dfg5['연료'] != '기타연료')]
gas_car['연료'].value_counts(dropna=False)

경유             2347299
휘발유              30880
LPG(액화석유가스)        455
CNG(압축천연가스)          5
알코올                  1
Name: 연료, dtype: int64

In [213]:
# 내연기관차
stat_gas1 = gas_car.groupby(['대기관리권역', '시도', '대기관리권역YN'], dropna=False)['차대번호'].count().unstack()
stat_gas1

대기관리권역YN          N         Y
대기관리권역 시도
그 외    강원 104301.00       NaN
       제주  49982.00       NaN
남부권    광주       NaN  61783.00
       전남  84854.00  73567.00
동남권    경남  79300.00 131529.00
       경북 117815.00 117855.00
       대구       NaN 114610.00
       부산       NaN 122111.00
       울산       NaN  55337.00
수도권    경기  18557.00 464758.00
       서울       NaN 217174.00
       인천   2490.00 103187.00
중부권    대전       NaN  63419.00
       세종       NaN  11843.00
       전북  66925.00  64006.00
       충남   6040.00 141788.00
       충북  22169.00  83240.00

In [214]:
# 내연기관차
stat_gas2 = gas_car.groupby(['대기관리권역', '시도', '배출가스등급', '대기관리권역YN'], dropna=False)['차대번호'].count().unstack()
stat_gas2

대기관리권역YN                 N         Y
대기관리권역 시도 배출가스등급
그 외    강원 5      104300.00       NaN
          T5          1.00       NaN
       제주 5       49981.00       NaN
          T5          1.00       NaN
남부권    광주 5            NaN  61782.00
          T5           NaN      1.00
       전남 5       84853.00  73566.00
          T5          1.00      1.00
동남권    경남 5       79299.00 131528.00
          T5          1.00      1.00
       경북 5      117813.00 117851.00
          T5          2.00      4.00
       대구 5            NaN 114605.00
          T5           NaN      5.00
       부산 5            NaN 122110.00
          T5           NaN      1.00
       울산 5            NaN  55337.00
수도권    경기 5       18557.00 464745.00
          T5           NaN     13.00
       서울 5            NaN 217170.00
          T5           NaN      4.00
       인천 5        2490.00 103185.00
          T5           NaN      2.00
중부권    대전 5            NaN  63417.00
          T5           NaN      2.00
       세종 5            NaN  11843.00
       전북 5       66925.00  64005.00
          T5           NaN      1.00
       충남 5        6039.00 141786.00
          T5          1.00      2.00
       충북 5       22169.00  83235.00
          T5           NaN      5.00

In [215]:
# 내연기관차
stat_gas3 = gas_car.groupby(['대기관리권역', '시도', '연료', '대기관리권역YN'], dropna=False)['차대번호'].count().unstack()
stat_gas3

대기관리권역YN                      N         Y
대기관리권역 시도 연료
그 외    강원 LPG(액화석유가스)     11.00       NaN
          경유          103646.00       NaN
          휘발유            644.00       NaN
       제주 LPG(액화석유가스)      6.00       NaN
          경유           49695.00       NaN
          휘발유            281.00       NaN
남부권    광주 LPG(액화석유가스)       NaN     11.00
          경유                NaN  61064.00
          휘발유               NaN    708.00
       전남 LPG(액화석유가스)     23.00     14.00
          경유           84314.00  73127.00
          휘발유            517.00    426.00
동남권    경남 LPG(액화석유가스)     17.00     22.00
          경유           78844.00 130611.00
          휘발유            439.00    896.00
       경북 CNG(압축천연가스)      2.00      1.00
          LPG(액화석유가스)      7.00     14.00
          경유          117237.00 116959.00
          휘발유            569.00    881.00
       대구 LPG(액화석유가스)       NaN     15.00
          경유                NaN 113269.00
          휘발유               NaN   1326.00
       부산 LPG(액화석유가스)       NaN     57.00
          경유                NaN 120212.00
          알코올               NaN      1.00
          휘발유               NaN   1841.00
       울산 LPG(액화석유가스)       NaN     10.00
          경유                NaN  54795.00
          휘발유               NaN    532.00
수도권    경기 CNG(압축천연가스)       NaN      1.00
          LPG(액화석유가스)      1.00     80.00
          경유           18369.00 458705.00
          휘발유            187.00   5972.00
       서울 LPG(액화석유가스)       NaN     52.00
          경유                NaN 206836.00
          휘발유               NaN  10286.00
       인천 LPG(액화석유가스)      1.00     29.00
          경유            2472.00 101546.00
          휘발유             17.00   1612.00
중부권    대전 LPG(액화석유가스)       NaN     17.00
          경유                NaN  62840.00
          휘발유               NaN    562.00
       세종 LPG(액화석유가스)       NaN      1.00
          경유                NaN  11761.00
          휘발유               NaN     81.00
       전북 LPG(액화석유가스)     17.00     12.00
          경유           66359.00  63160.00
          휘발유            549.00    834.00
       충남 LPG(액화석유가스)      2.00     23.00
          경유            5999.00 140774.00
          휘발유             39.00    991.00
       충북 CNG(압축천연가스)       NaN      1.00
          LPG(액화석유가스)      2.00     11.00
          경유           22047.00  82658.00
          휘발유            120.00    570.00

In [216]:
# 내연기관차
stat_gas4 = gas_car.groupby(['대기관리권역', '시도', '배출가스등급', '연료', '대기관리권역YN'], dropna=False)['차대번호'].count().unstack()
stat_gas4

대기관리권역YN                             N        Y
대기관리권역 시도 배출가스등급 연료
그 외    강원 5      LPG(액화석유가스)     11.00      NaN
                 경유          103645.00      NaN
                 휘발유            644.00      NaN
          T5     경유               1.00      NaN
       제주 5      LPG(액화석유가스)      6.00      NaN
...                                ...      ...
중부권    충북 5      CNG(압축천연가스)       NaN     1.00
                 LPG(액화석유가스)      2.00    11.00
                 경유           22047.00 82653.00
                 휘발유            120.00   570.00
          T5     경유                NaN     5.00

[73 rows x 2 columns]

#### [출력] 내연기관차 대기관리권역별 등급별(말소 제거) 차량 현황

In [217]:
today_date = datetime.today().strftime("%Y.%m.%d_%p.%I.%M.%S")
today_date

'2023.05.04_PM.02.27.25'

In [218]:
with pd.ExcelWriter(os.path.join(analysis_fold, f'통계_5등급_내연기관차_대기관리권역_등급_연료별({today_date}).xlsx')) as writer:
    stat_gas1.to_excel(writer, sheet_name='대기관리권역')
    stat_gas2.to_excel(writer, sheet_name='대기관리권역_등급')
    stat_gas3.to_excel(writer, sheet_name='대기관리권역_연료')
    stat_gas4.to_excel(writer, sheet_name='대기관리권역_등급_연료')

## 조기폐차 차량현황

In [219]:
gas_car.shape

(2378640, 17)

In [220]:
gas_car = gas_car.merge(early, on='차대번호', how='left')
gas_car.shape

(2378662, 18)

In [221]:
gas_car['조기폐차최종승인YN'].value_counts(dropna=False)

NaN    2012397
Y       366265
Name: 조기폐차최종승인YN, dtype: int64

In [222]:
# 내연기관차
stat_gas5 = gas_car.groupby(['대기관리권역', '시도', '대기관리권역YN', '조기폐차최종승인YN'])['차대번호'].count().unstack('대기관리권역YN')
stat_gas5

대기관리권역YN                   N         Y
대기관리권역 시도 조기폐차최종승인YN
그 외    강원 Y          7139.00       NaN
       제주 Y          1291.00       NaN
남부권    광주 Y              NaN  11343.00
       전남 Y          3548.00   7351.00
동남권    경남 Y          5219.00   9267.00
       경북 Y          8810.00   5977.00
       대구 Y              NaN  22123.00
       부산 Y              NaN   6446.00
       울산 Y              NaN   8365.00
수도권    경기 Y          5559.00 155863.00
       서울 Y              NaN  49330.00
       인천 Y           814.00  27371.00
중부권    대전 Y              NaN   3431.00
       세종 Y              NaN   2249.00
       전북 Y          2888.00    718.00
       충남 Y           315.00   9629.00
       충북 Y          2410.00   8809.00

#### [출력] 내연기관차 대기관리권역별 조기폐차(말소 제거) 차량 현황

In [223]:
today_date = datetime.today().strftime("%Y.%m.%d_%p.%I.%M.%S")
today_date

'2023.05.04_PM.02.27.38'

In [224]:
with pd.ExcelWriter(os.path.join(analysis_fold, f'통계_5등급_내연기관차_대기관리권역_조기폐차({today_date}).xlsx')) as writer:
    stat_gas5.to_excel(writer, sheet_name='대기관리권역_조기폐차')

## 저감장치 부착 차량 현황

In [225]:
gas_car.shape

(2378662, 18)

In [226]:
gas_car = gas_car.merge(attm[['차대번호', '저감장치']], on='차대번호', how='left')
gas_car.shape

(2378844, 19)

In [227]:
gas_car.columns

Index(['차량등록번호', '본거지법정동코드', '차대번호', '제원관리번호', '배출가스인증번호', '배출가스등급', '차명',
       '연료', '차량말소YN', '시도', '시구군', '읍면동', '리', '지역3', '폐지여부', '대기관리권역',
       '대기관리권역YN', '조기폐차최종승인YN', '저감장치'],
      dtype='object')

In [228]:
gas_car['저감장치'].value_counts()

DPF           204180
PM-NOx저감장치      2137
Name: 저감장치, dtype: int64

In [229]:
# 내연기관차 > 저감장치 : DPF
stat_gas6 = gas_car.loc[gas_car['저감장치'] == 'DPF'].groupby(['대기관리권역', '시도', '대기관리권역YN'])['차대번호'].count().unstack('대기관리권역YN')
stat_gas6

대기관리권역YN        N        Y
대기관리권역 시도
그 외    강원 4039.00      NaN
       제주 1009.00      NaN
남부권    광주     NaN  2046.00
       전남 2874.00  1982.00
동남권    경남 1622.00  2324.00
       경북 3039.00  2289.00
       대구     NaN  3608.00
       부산     NaN  4574.00
       울산     NaN  1278.00
수도권    경기 2066.00 69062.00
       서울     NaN 54817.00
       인천  256.00 28835.00
중부권    대전     NaN  2247.00
       세종     NaN   448.00
       전북 2774.00  3149.00
       충남  236.00  5816.00
       충북  765.00  3025.00

In [230]:
# 내연기관차 > 저감장치 : PM-NOx저감장치
stat_gas7 = gas_car.loc[gas_car['저감장치'] == 'PM-NOx저감장치'].groupby(['대기관리권역', '시도', '대기관리권역YN'])['차대번호'].count().unstack('대기관리권역YN')
stat_gas7

대기관리권역YN      N      Y
대기관리권역 시도
그 외    강원 24.00    NaN
       제주  9.00    NaN
남부권    광주   NaN  41.00
       전남 11.00  30.00
동남권    경남 16.00  48.00
       경북 26.00  43.00
       대구   NaN  55.00
       부산   NaN 310.00
       울산   NaN 151.00
수도권    경기 18.00 316.00
       서울   NaN 368.00
       인천  1.00 293.00
중부권    대전   NaN  60.00
       세종   NaN  13.00
       전북 37.00 137.00
       충남   NaN  78.00
       충북  6.00  46.00

#### [출력] 내연기관차 대기관리권역별 저감장치 부착이력별(말소 제거) 차량 현황

In [231]:
today_date = datetime.today().strftime("%Y.%m.%d_%p.%I.%M.%S")
today_date

'2023.05.04_PM.02.27.45'

In [232]:
with pd.ExcelWriter(os.path.join(analysis_fold, f'통계_5등급_내연기관차_대기관리권역_저감장치별({today_date}).xlsx')) as writer:
    stat_gas6.to_excel(writer, sheet_name='대기관리권역_DPF')
    stat_gas7.to_excel(writer, sheet_name='대기관리권역_PM-NOx저감장치')

# code end