# Library

In [1]:
import pandas as pd
import numpy as np
import os
from tqdm import tqdm
from datetime import datetime

In [2]:
# 소수점 옵션
pd.options.display.float_format = '{:.2f}'.format
# pd.reset_option('display.float_format')

# fold path

In [3]:
drive = 'D'

In [4]:
ods_fold = f'{drive}:/data/big2/ODS'
big2_fold = f'{drive}:/data/big2'
raw_fold = f'{drive}:/data/big2/BD3/raw'
analysis_fold = f'{drive}:/data/big2/BD3/an'
df_fold = f'{drive}:/data/big2/BD3/df'

# Load

## 등록&제원정보

In [6]:
# about 8m 53.6s
name = '[ODS]등록정보&제원정보(2022.12.28)'
file_name = f'{name}.csv'
car = pd.read_csv(os.path.join(ods_fold, file_name), low_memory=False, encoding='cp949')
car.info()

## 등록&제원정보(5등급)

In [5]:
# about 37.6s
name = '[ODS][G5]등록정보&제원정보(2022.12.28)'
file_name = f'{name}.csv'
g5 = pd.read_csv(os.path.join(ods_fold, file_name), low_memory=False, encoding='cp949')
g5.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2378648 entries, 0 to 2378647
Data columns (total 49 columns):
 #   Column        Dtype
---  ------        -----
 0   차량관리번호        object
 1   차량등록번호        object
 2   본거지법정동코드      int64
 3   소유자구분         object
 4   차종_등록정보       object
 5   용도            object
 6   현재회원번호        object
 7   차대번호          object
 8   최초등록일자        int64
 9   차량연식          int64
 10  차량제작일자        float64
 11  배출가스검사유효일자    float64
 12  제원관리번호        object
 13  배출가스인증번호      object
 14  배출가스등급        object
 15  저공해조치YN(미사용)  object
 16  저공해조치종류       float64
 17  저공해조치구조변경YN   object
 18  차량등록번호숫자정보    int64
 19  차량말소YN        object
 20  최초회원번호        object
 21  취득일자          float64
 22  취득금액          float64
 23  생성일시_등록정보     object
 24  수정일시_등록정보     object
 25  차명            object
 26  차종_제원정보       object
 27  차종분류          object
 28  차종유형(소분류)     object
 29  자동차형식         object
 30  제작사명          object
 31  연료            object
 32  엔진형식          object
 33  공차중량          float64
 34  총중량           float64
 35  적재중량          float64
 36  엔진출력          float64
 37  배기량           float64
 38  승차인원          float64
 39  차량길이          float64
 40  차량너비          float64
 41  차량높이          float64
 42  원산지명          object
 43  삭제YN          object
 44  승인일자          object
 45  구동형식          float64
 46  변속기종류         object
 47  생성일시_제원정보     object
 48  수정일시_제원정보     object
dtypes: float64(15), int64(4), object(30)
memory usage: 889.2+ MB

## 노후차 조기폐차 관리정보 수도권

In [6]:
# about 42.0s
name = '[ODS]노후차_조기폐차_관리정보_수도권(2022.12.28)'
file_name = f'{name}.csv'
aea = pd.read_csv(os.path.join(ods_fold, file_name), low_memory=False, encoding='cp949', usecols=['차대번호', '말소일자', '조기폐차최종승인YN', '조기폐차상태코드'])
aea.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 770311 entries, 0 to 770310
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   조기폐차상태코드    770311 non-null  object
 1   차대번호        770311 non-null  object
 2   말소일자        684061 non-null  float64
 3   조기폐차최종승인YN  680625 non-null  object
dtypes: float64(1), object(3)
memory usage: 23.5+ MB

## 노후차 조기폐차 관리정보 수도권 외

In [7]:
# about 11.6s
name = '[ODS]노후차_조기폐차_관리정보_수도권외(2022.12.28)'
file_name = f'{name}.csv'
lgv = pd.read_csv(os.path.join(ods_fold, file_name), low_memory=False, encoding='cp949', usecols=['차대번호', '말소일자', '조기폐차최종승인YN', '조기폐차상태코드'])
lgv.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 291353 entries, 0 to 291352
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   조기폐차상태코드    291353 non-null  object
 1   차대번호        291353 non-null  object
 2   말소일자        134151 non-null  float64
 3   조기폐차최종승인YN  128589 non-null  object
dtypes: float64(1), object(3)
memory usage: 8.9+ MB

## 저감장치 부착이력

In [8]:
# about 4.4s
name = '[ODS]저감장치부착이력(2022.12.28)'
file_name = f'{name}.csv'
att = pd.read_csv(os.path.join(ods_fold, file_name), low_memory=False, encoding='cp949')
att.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 810777 entries, 0 to 810776
Data columns (total 16 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   저감장치종류      586898 non-null  object
 1   PM최종저감효율    84460 non-null   float64
 2   TDMS부착여부    204951 non-null  object
 3   구조변경일자      810777 non-null  int64
 4   부착업체명       801632 non-null  object
 5   부착일자        810775 non-null  float64
 6   탈거승인일       178 non-null     float64
 7   차량번호        810777 non-null  object
 8   차대번호        810777 non-null  object
 9   주행거리        796828 non-null  float64
 10  저감장치반납여부    326030 non-null  object
 11  저감장치구분      810777 non-null  object
 12  저감등록번호      810777 non-null  int64
 13  재장착확인일자     441 non-null     float64
 14  장치일련번호      682711 non-null  object
 15  삼원촉매장치반납여부  13694 non-null   object
dtypes: float64(5), int64(2), object(9)
memory usage: 99.0+ MB

## 법정동 코드

In [9]:
# about 5.6s
name = '법정동코드_2022.10.14(수정2023.05.04)'
file_name = f'{name}.xlsx'
code = pd.read_excel(os.path.join(big2_fold, file_name))
code.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 46342 entries, 0 to 46341
Data columns (total 9 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   법정동코드     46342 non-null  int64
 1   시도        46342 non-null  object
 2   시구군       46319 non-null  object
 3   읍면동       45849 non-null  object
 4   리         33682 non-null  object
 5   지역3       0 non-null      float64
 6   폐지여부      46342 non-null  object
 7   대기관리권역    46342 non-null  object
 8   대기관리권역YN  46337 non-null  object
dtypes: float64(1), int64(1), object(7)
memory usage: 3.2+ MB

In [10]:
code.head()

        법정동코드     시도  시구군  읍면동    리  지역3 폐지여부 대기관리권역 대기관리권역YN
0  1100000000  서울특별시  NaN  NaN  NaN  NaN   존재    수도권        Y
1  1111000000  서울특별시  종로구  NaN  NaN  NaN   존재    수도권        Y
2  1111010100  서울특별시  종로구  청운동  NaN  NaN   존재    수도권        Y
3  1111010200  서울특별시  종로구  신교동  NaN  NaN   존재    수도권        Y
4  1111010300  서울특별시  종로구  궁정동  NaN  NaN   존재    수도권        Y

In [11]:
code = code.rename(columns={'법정동코드':'본거지법정동코드'})
code.head()

     본거지법정동코드     시도  시구군  읍면동    리  지역3 폐지여부 대기관리권역 대기관리권역YN
0  1100000000  서울특별시  NaN  NaN  NaN  NaN   존재    수도권        Y
1  1111000000  서울특별시  종로구  NaN  NaN  NaN   존재    수도권        Y
2  1111010100  서울특별시  종로구  청운동  NaN  NaN   존재    수도권        Y
3  1111010200  서울특별시  종로구  신교동  NaN  NaN   존재    수도권        Y
4  1111010300  서울특별시  종로구  궁정동  NaN  NaN   존재    수도권        Y

## 차명_연료_매칭

In [12]:
# about 0.1s
name = '차명_연료_매칭_2023.03.03_AM.11.12.03'
file_name = f'{name}.xlsx'
fuel = pd.read_excel(os.path.join(big2_fold, file_name))
fuel.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 216 entries, 0 to 215
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   차명      216 non-null    object
 1   연료      216 non-null    object
dtypes: object(2)
memory usage: 3.5+ KB

In [13]:
fuel.head()

             차명   연료
0     BENZ S500  휘발유
1           BMW  휘발유
2  BMW 3-SERIES  휘발유
3      BMW 318I  휘발유
4     BMW 325CI  휘발유

## 운행제한 단속 정보

In [14]:
# about 
name = '운행제한 테이블 비교'
file_name = f'{name}.csv'
limit = pd.read_csv(os.path.join(raw_fold, file_name), encoding='cp949')
limit.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1225025 entries, 0 to 1225024
Data columns (total 5 columns):
 #   Column         Non-Null Count    Dtype
---  ------         --------------    -----
 0   차대번호           1225025 non-null  object
 1   비상시및계절제단속발령건수  1204906 non-null  float64
 2   비상시및계절제단속발령YN  1204906 non-null  object
 3   운행제한단속정보건수     85594 non-null    float64
 4   운행제한단속정보YN     85594 non-null    object
dtypes: float64(2), object(3)
memory usage: 46.7+ MB

In [15]:
limit.loc[limit['운행제한단속정보건수'].isnull() == False].head()

                  차대번호  비상시및계절제단속발령건수 비상시및계절제단속발령YN  운행제한단속정보건수 운행제한단속정보YN
81   KMFDA18TP5C003672         450.00             Y        1.00          Y
109  YV2JS02CX6A619834          62.00             Y       81.00          Y
134  KMHSJ81WP6U077230          16.00             Y        1.00          Y
181  KMFLA18EP7C020349        1858.00             Y      183.00          Y
186  KMFGA17PP7C057641         223.00             Y        8.00          Y

### 5등급 차량 데이터에 운행제한 적발건수 정보 추가
- 차대번호, 차종_등록정보, 차종유형, 운행제한단속정보건수

In [16]:
car.shape

(29534047, 49)

In [17]:
car.columns

Index(['차량관리번호', '차량등록번호', '본거지법정동코드', '소유자구분', '차종_등록정보', '용도', '현재회원번호',
       '차대번호', '최초등록일자', '차량연식', '차량제작일자', '배출가스검사유효일자', '제원관리번호', '배출가스인증번호',
       '배출가스등급', '저공해조치YN(미사용)', '저공해조치종류', '저공해조치구조변경YN', '차량등록번호숫자정보',
       '차량말소YN', '최초회원번호', '취득일자', '취득금액', '생성일시_등록정보', '수정일시_등록정보', '차명',
       '차종_제원정보', '차종분류', '차종유형(소분류)', '자동차형식', '제작사명', '연료', '엔진형식', '공차중량',
       '총중량', '적재중량', '엔진출력', '배기량', '승차인원', '차량길이', '차량너비', '차량높이', '원산지명',
       '삭제YN', '승인일자', '구동형식', '변속기종류', '생성일시_제원정보', '수정일시_제원정보'],
      dtype='object')

In [18]:
car['차량말소YN'].value_counts(dropna=False)

차량말소YN
N    25693532
Y     3840515
Name: count, dtype: int64

In [19]:
# about 56.3s
car_limit = car.loc[car['차량말소YN'] == 'N', ['차대번호', '본거지법정동코드', '차종_등록정보', '차종유형(소분류)']].merge(limit[['차대번호', '운행제한단속정보건수']], on='차대번호', how='left')
car_limit.shape

(25693532, 5)

In [20]:
car_limit['운행제한단속정보건수'].isnull().sum()

25643877

In [22]:
chc_dict = {
    '본거지법정동코드':'BSPL_STDG_CD', 
    '차대번호':'VIN', 
    '차종_등록정보':'VHCTY_CD',
    '차종유형(소분류)':'VHCTY_TY', 
    '연료':'FUEL_CD',
    '차량말소YN':'VHCL_ERSR_YN', 
    '조기폐차최종승인YN':'ELPDSRC_LAST_APRV_YN', 
    '운행제한단속정보건수':'RUN_LMT_CRDN_INFO_NOCS',
}

In [23]:
car_limit = car_limit.rename(columns=chc_dict)
car_limit.columns

Index(['VIN', 'BSPL_STDG_CD', 'VHCTY_CD', 'VHCTY_TY',
       'RUN_LMT_CRDN_INFO_NOCS'],
      dtype='object')

In [24]:
# about 
car_limit.to_csv(os.path.join(df_fold, '운행제한단속건수.csv'), index=False)

In [16]:
len(limit['차대번호'].unique())

1225025

In [17]:
limit = limit[['차대번호', '운행제한단속정보YN']]
limit.shape

(1225025, 2)

In [18]:
limit = limit.rename(columns={'운행제한단속정보YN':'운행제한단속YN'})
limit.columns

Index(['차대번호', '운행제한단속YN'], dtype='object')

## 비상시 및 계절제 단속 정보

In [19]:
# about 2.4s
name = '비상시 및 계절제 단속발령 적발YN(2023.05.26)'
file_name = f'{name}.csv'
slimit = pd.read_csv(os.path.join(raw_fold, file_name))
slimit.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1204906 entries, 0 to 1204905
Data columns (total 5 columns):
 #   Column     Non-Null Count    Dtype
---  ------     --------------    -----
 0   차대번호       1204906 non-null  object
 1   계절제1차단속YN  148281 non-null   object
 2   계절제2차단속YN  672107 non-null   object
 3   계절제3차단속YN  589160 non-null   object
 4   비상시단속YN    397477 non-null   object
dtypes: object(5)
memory usage: 46.0+ MB

In [20]:
slimitm = slimit.copy()

# 전처리

## 말소 차량 제거(❌)

In [28]:
car['차량말소YN'].value_counts(dropna=False)

차량말소YN
N    25693532
Y     3840515
Name: count, dtype: int64

In [29]:
# about 37.2s
# carm = car.loc[car['차량말소YN'] == 'N'].reset_index(drop=True)
carm = car.reset_index(drop=True)
carm.shape

(29534047, 49)

In [30]:
carm.columns

Index(['차량관리번호', '차량등록번호', '본거지법정동코드', '소유자구분', '차종_등록정보', '용도', '현재회원번호',
       '차대번호', '최초등록일자', '차량연식', '차량제작일자', '배출가스검사유효일자', '제원관리번호', '배출가스인증번호',
       '배출가스등급', '저공해조치YN(미사용)', '저공해조치종류', '저공해조치구조변경YN', '차량등록번호숫자정보',
       '차량말소YN', '최초회원번호', '취득일자', '취득금액', '생성일시_등록정보', '수정일시_등록정보', '차명',
       '차종_제원정보', '차종분류', '차종유형(소분류)', '자동차형식', '제작사명', '연료', '엔진형식', '공차중량',
       '총중량', '적재중량', '엔진출력', '배기량', '승차인원', '차량길이', '차량너비', '차량높이', '원산지명',
       '삭제YN', '승인일자', '구동형식', '변속기종류', '생성일시_제원정보', '수정일시_제원정보'],
      dtype='object')

In [21]:
g5['차량말소YN'].value_counts(dropna=False)

차량말소YN
Y    1223886
N    1154762
Name: count, dtype: int64

In [22]:
# gm5 = g5.loc[g5['차량말소YN'] == 'N'].reset_index(drop=True)
gm5 = g5.reset_index(drop=True)
gm5.shape

(2378648, 49)

In [23]:
gm5.columns

Index(['차량관리번호', '차량등록번호', '본거지법정동코드', '소유자구분', '차종_등록정보', '용도', '현재회원번호',
       '차대번호', '최초등록일자', '차량연식', '차량제작일자', '배출가스검사유효일자', '제원관리번호', '배출가스인증번호',
       '배출가스등급', '저공해조치YN(미사용)', '저공해조치종류', '저공해조치구조변경YN', '차량등록번호숫자정보',
       '차량말소YN', '최초회원번호', '취득일자', '취득금액', '생성일시_등록정보', '수정일시_등록정보', '차명',
       '차종_제원정보', '차종분류', '차종유형(소분류)', '자동차형식', '제작사명', '연료', '엔진형식', '공차중량',
       '총중량', '적재중량', '엔진출력', '배기량', '승차인원', '차량길이', '차량너비', '차량높이', '원산지명',
       '삭제YN', '승인일자', '구동형식', '변속기종류', '생성일시_제원정보', '수정일시_제원정보'],
      dtype='object')

## 등급 수정

In [34]:
carm['배출가스등급'].value_counts(dropna=False)

배출가스등급
2      11803371
3       9890563
1       2870152
5       2378599
4       1898773
X        305339
T2       250282
T3       136844
T5           49
T4           43
NaN          32
Name: count, dtype: int64

In [35]:
carm.loc[(carm['배출가스등급'] == 1) | (carm['배출가스등급'] == '1'), '등급'] = 1
carm.loc[(carm['배출가스등급'] == 2) | (carm['배출가스등급'] == '2') | (carm['배출가스등급'] == 'T2'), '등급'] = 2
carm.loc[(carm['배출가스등급'] == 3) | (carm['배출가스등급'] == '3') | (carm['배출가스등급'] == 'T3'), '등급'] = 3
carm.loc[(carm['배출가스등급'] == 4) | (carm['배출가스등급'] == '4') | (carm['배출가스등급'] == 'T4'), '등급'] = 4
carm.loc[(carm['배출가스등급'] == 5) | (carm['배출가스등급'] == '5') | (carm['배출가스등급'] == 'T5'), '등급'] = 5
carm.loc[carm['배출가스등급'] == 'X', '등급'] = 'X'
carm.loc[carm['배출가스등급'].isnull() == True, '등급'] = np.nan

In [36]:
carm['등급'].value_counts(dropna=False)

등급
2.0    12053653
3.0    10027407
1.0     2870152
5.0     2378648
4.0     1898816
X        305339
NaN          32
Name: count, dtype: int64

## 시도, 시구군 정보 부착

In [37]:
code.columns

Index(['본거지법정동코드', '시도', '시구군', '읍면동', '리', '지역3', '폐지여부', '대기관리권역',
       '대기관리권역YN'],
      dtype='object')

In [38]:
carm.columns

Index(['차량관리번호', '차량등록번호', '본거지법정동코드', '소유자구분', '차종_등록정보', '용도', '현재회원번호',
       '차대번호', '최초등록일자', '차량연식', '차량제작일자', '배출가스검사유효일자', '제원관리번호', '배출가스인증번호',
       '배출가스등급', '저공해조치YN(미사용)', '저공해조치종류', '저공해조치구조변경YN', '차량등록번호숫자정보',
       '차량말소YN', '최초회원번호', '취득일자', '취득금액', '생성일시_등록정보', '수정일시_등록정보', '차명',
       '차종_제원정보', '차종분류', '차종유형(소분류)', '자동차형식', '제작사명', '연료', '엔진형식', '공차중량',
       '총중량', '적재중량', '엔진출력', '배기량', '승차인원', '차량길이', '차량너비', '차량높이', '원산지명',
       '삭제YN', '승인일자', '구동형식', '변속기종류', '생성일시_제원정보', '수정일시_제원정보', '등급'],
      dtype='object')

In [39]:
# about 20.5s
df = carm[['차량등록번호', '본거지법정동코드', '차대번호', '제원관리번호', '배출가스인증번호', '차명', '차종_등록정보', '차종유형(소분류)', '연료', '차량말소YN', '등급']].merge(code[['본거지법정동코드', '시도', '시구군']], on='본거지법정동코드', how='left')
df.shape

(29534047, 13)

In [40]:
df[['시도', '시구군']].isnull().sum()

시도      0
시구군    27
dtype: int64

In [41]:
df.loc[df['시도'].isnull() == True, ['본거지법정동코드', '시도', '시구군']]

Empty DataFrame
Columns: [본거지법정동코드, 시도, 시구군]
Index: []

In [42]:
df.loc[df['시구군'].isnull() == True, ['본거지법정동코드', '시도', '시구군']]

           본거지법정동코드       시도  시구군
6410     4100000000      경기도  NaN
7767     3611000000  세종특별자치시  NaN
7864     3611000000  세종특별자치시  NaN
10318    3611000000  세종특별자치시  NaN
21817    3611000000  세종특별자치시  NaN
26056    3611000000  세종특별자치시  NaN
30707    3611000000  세종특별자치시  NaN
30767    3611000000  세종특별자치시  NaN
31076    3611000000  세종특별자치시  NaN
32500    3611000000  세종특별자치시  NaN
70462    3611000000  세종특별자치시  NaN
108668   3611000000  세종특별자치시  NaN
158565   3611000000  세종특별자치시  NaN
186549   3611000000  세종특별자치시  NaN
245229   3611000000  세종특별자치시  NaN
324529   3611000000  세종특별자치시  NaN
333150   3611000000  세종특별자치시  NaN
334188   3611000000  세종특별자치시  NaN
338891   3611000000  세종특별자치시  NaN
360112   3611000000  세종특별자치시  NaN
370176   3611000000  세종특별자치시  NaN
375034   3611000000  세종특별자치시  NaN
380730   3611000000  세종특별자치시  NaN
399495   3611000000  세종특별자치시  NaN
640381   3611000000  세종특별자치시  NaN
2935848  3611000000  세종특별자치시  NaN
4889942  3611000000  세종특별자치시  NaN

In [24]:
gm5.columns

Index(['차량관리번호', '차량등록번호', '본거지법정동코드', '소유자구분', '차종_등록정보', '용도', '현재회원번호',
       '차대번호', '최초등록일자', '차량연식', '차량제작일자', '배출가스검사유효일자', '제원관리번호', '배출가스인증번호',
       '배출가스등급', '저공해조치YN(미사용)', '저공해조치종류', '저공해조치구조변경YN', '차량등록번호숫자정보',
       '차량말소YN', '최초회원번호', '취득일자', '취득금액', '생성일시_등록정보', '수정일시_등록정보', '차명',
       '차종_제원정보', '차종분류', '차종유형(소분류)', '자동차형식', '제작사명', '연료', '엔진형식', '공차중량',
       '총중량', '적재중량', '엔진출력', '배기량', '승차인원', '차량길이', '차량너비', '차량높이', '원산지명',
       '삭제YN', '승인일자', '구동형식', '변속기종류', '생성일시_제원정보', '수정일시_제원정보'],
      dtype='object')

In [25]:
# about 0.8s
dfg5 = gm5[['차량등록번호', '차종_등록정보', '차종유형(소분류)', '용도', '본거지법정동코드', '차대번호', '제원관리번호', '배출가스인증번호', '배출가스등급', '차명', '연료', '차량말소YN']].merge(code, on='본거지법정동코드', how='left')
dfg5.shape

(2378648, 20)

In [26]:
dfg5[['시도', '시구군', '대기관리권역', '대기관리권역YN']].isnull().sum()

시도           0
시구군         21
대기관리권역       0
대기관리권역YN     0
dtype: int64

In [27]:
dfg5.loc[dfg5['시구군'].isnull() == True, ['본거지법정동코드', '시도', '시구군', '대기관리권역', '대기관리권역YN']]

           본거지법정동코드       시도  시구군 대기관리권역 대기관리권역YN
5750     4100000000      경기도  NaN    수도권        Y
7004     3611000000  세종특별자치시  NaN    중부권        Y
7100     3611000000  세종특별자치시  NaN    중부권        Y
9449     3611000000  세종특별자치시  NaN    중부권        Y
20441    3611000000  세종특별자치시  NaN    중부권        Y
24578    3611000000  세종특별자치시  NaN    중부권        Y
28977    3611000000  세종특별자치시  NaN    중부권        Y
29037    3611000000  세종특별자치시  NaN    중부권        Y
29341    3611000000  세종특별자치시  NaN    중부권        Y
30724    3611000000  세종특별자치시  NaN    중부권        Y
61691    3611000000  세종특별자치시  NaN    중부권        Y
99080    3611000000  세종특별자치시  NaN    중부권        Y
136446   3611000000  세종특별자치시  NaN    중부권        Y
170481   3611000000  세종특별자치시  NaN    중부권        Y
174085   3611000000  세종특별자치시  NaN    중부권        Y
174560   3611000000  세종특별자치시  NaN    중부권        Y
176749   3611000000  세종특별자치시  NaN    중부권        Y
190586   3611000000  세종특별자치시  NaN    중부권        Y
192981   3611000000  세종특별자치시  NaN    중부권        Y
195713   3611000000  세종특별자치시  NaN    중부권        Y
1488578  3611000000  세종특별자치시  NaN    중부권        Y

## 연료 결측, 기타연료 확인

In [43]:
df['연료'].value_counts(dropna=False)

연료
휘발유            13799638
경유             11627721
LPG(액화석유가스)     2338696
휘발유 하이브리드       1112576
전기               377935
NaN              154428
CNG(압축천연가스)       40048
경유 하이브리드          36010
수소                28349
LPG 하이브리드         17230
기타연료               1054
CNG 하이브리드           327
LNG(액화천연가스)          27
알코올                   4
태양열                   3
등유                    1
Name: count, dtype: int64

In [ ]:
# fuel_dict = {a:b for a, b in fuel.values}
# fuel_dict

In [27]:
# df.loc[((df['연료'].isnull() == True) | (df['연료'] == '기타연료')), '차명'].unique()

array(['트레일러', '미스비시샤시(세미트레일러)', '도큐트레일러', ..., '대흥18.8톤가변형저상트레일러',
       '캠핑플레인23.2톤가변식저상트레일러', '에이사캠핑트레일러'], dtype=object)

In [28]:
# for one in df.loc[((df['연료'].isnull() == True) | (df['연료'] == '기타연료')), '차명'].unique():
#     df.loc[((df['연료'].isnull() == True) | (df['연료'] == '기타연료')) & (df['차명'] == one), '연료'] = fuel_dict[one]

In [44]:
df['연료'].value_counts(dropna=False)

연료
휘발유            13799638
경유             11627721
LPG(액화석유가스)     2338696
휘발유 하이브리드       1112576
전기               377935
NaN              154428
CNG(압축천연가스)       40048
경유 하이브리드          36010
수소                28349
LPG 하이브리드         17230
기타연료               1054
CNG 하이브리드           327
LNG(액화천연가스)          27
알코올                   4
태양열                   3
등유                    1
Name: count, dtype: int64

In [ ]:
# df['연료'].value_counts(dropna=False).reset_index().to_excel(os.path.join(analysis_fold, '연료별_수.xlsx'), index=False)

In [45]:
df['등급'].value_counts(dropna=False)

등급
2.0    12053653
3.0    10027407
1.0     2870152
5.0     2378648
4.0     1898816
X        305339
NaN          32
Name: count, dtype: int64

In [28]:
dfg5['연료'].value_counts(dropna=False)

연료
경유             2347276
휘발유              30856
LPG(액화석유가스)        453
NaN                 31
기타연료                26
CNG(압축천연가스)          5
알코올                  1
Name: count, dtype: int64

In [29]:
fuel_dict = {a:b for a, b in fuel.values}
fuel_dict

{'BENZ S500': '휘발유',
 'BMW': '휘발유',
 'BMW 3-SERIES': '휘발유',
 'BMW 318I': '휘발유',
 'BMW 325CI': '휘발유',
 'BMW 325I': '휘발유',
 'BMW 325i': '휘발유',
 'BMW 328I': '휘발유',
 'BMW 525I': '휘발유',
 'BMW 528I': '휘발유',
 'BMW 530I': '휘발유',
 'BMW 5SERIES': '휘발유',
 'BMW 750Li': '휘발유',
 'BMW X3': '휘발유',
 'BMW X5': '휘발유',
 'BMW Z3': '휘발유',
 'BMW530I': '휘발유',
 'BUICK CENTURY': '휘발유',
 'BUICK LESABRE': '휘발유',
 'BUICK TERRAZA': '휘발유',
 'CADILLAC CTS': '휘발유',
 'CHEVROLET IMPALA': '휘발유',
 'CHEVROLET PRIZM': '휘발유',
 'CHRYSLER': '휘발유',
 'CHRYSLER 300 LTD': '휘발유',
 'CHRYSLER 300C': '경유',
 'CHRYSLER HEMI AWD': '휘발유',
 'CHRYSLER PT CRUISER': '휘발유',
 'CHRYSLER TOWN & COUNTRY(7)': '휘발유',
 'CIELO': '휘발유',
 'CORSICA': '휘발유',
 'COUGAR': '휘발유',
 'DODGE CALIBER': '휘발유',
 'DODGE CARAVAN': '휘발유',
 'DODGE CHARGER': '휘발유',
 'DODGE DAKOTA': '휘발유',
 'DODGE DURANGO': '휘발유',
 'DODGE GRAND CARAVAN': '휘발유',
 'DODGE NEON SXT': '휘발유',
 'EF소나타': '휘발유',
 'ESCORT': '휘발유',
 'FIREBIRD': '휘발유',
 'FORD ESCAPE': '휘발유',
 'FORD EXPEDITION': '휘발유',
 'FORD EXPEDITION(8)': '휘발유',
 'FORD EXPLORER': '휘발유',
 'FORD FOCUS': '휘발유',
 'FORD FREESTYLE(7)': '휘발유',
 'FORD FUSION': '휘발유',
 'FORD MUSTANG': '휘발유',
 'FORD RANGER XLT': '경유',
 'FORD WINDSTAR': '휘발유',
 'G.M.C': '휘발유',
 'G20': '휘발유',
 'GMC': '휘발유',
 'GMC JIMMY': '휘발유',
 'GMC SIERRA': '휘발유',
 'HONDA ACCORD': '휘발유',
 'HONDA CR-V': '휘발유',
 'HONDA CR-V EX': '휘발유',
 'HONDA PILOT': '휘발유',
 'HYUNDAI PRESTO': '휘발유',
 'HYUNDAI SONATA': '휘발유',
 'HYUNDAI/SONATA': '휘발유',
 'INFINITI G37S': '휘발유',
 'JAGUAR X-TYPE': '휘발유',
 'JEEP GRAND CHEROKEE': '휘발유',
 'JEEP LIBERTY': '휘발유',
 'JEEP PATRIOT': '경유',
 'KIA OPTIMA': '휘발유',
 'KIA SEDONA': '휘발유',
 'LEXUS ES330': '휘발유',
 'LEXUS ES350': '휘발유',
 'LEXUS LS430': '휘발유',
 'LEXUS RS330': '휘발유',
 'LEXUS RX330': '휘발유',
 'LINCOLN MKX': '휘발유',
 'MAZDA MAZDA6': '휘발유',
 'MAZDA SENTA': '휘발유',
 'MERCEDES BENZ': '휘발유',
 'MERCEDES-BENZ': '휘발유',
 'MERCEDES-BENZ CLS 550': '경유',
 'MERCEDES-BENZ E-350': '휘발유',
 'MERCEDES-BENZ E-CLASS': '휘발유',
 'MERCEDES-BENZ R-CLASS 3500': '경유',
 'MERCEDES-BENZ S 500': '휘발유',
 'MERCEDES-BENZ S65': '경유',
 'MERCURY MILAN': '휘발유',
 'NEW 그랜저XG': '휘발유',
 'NISSAN MURANO': '휘발유',
 'NISSAN ROGUE 3.5': '휘발유',
 'NISSAN XTERRA': '휘발유',
 'OLDSMOBILE BRAVADA': '휘발유',
 'OLDSMOBILESILHOUET': '휘발유',
 'PLYMOUTH': '휘발유',
 'PONTIAC SUNBIRD': '휘발유',
 'PONTIAC VIBE': '휘발유',
 'PONTIAC VIBE BASE': '휘발유',
 'PORSCHE': '휘발유',
 'ROYALE': '휘발유',
 'ROYALSALON': '휘발유',
 'RX7': '휘발유',
 'SANTAFE': '휘발유',
 'SEPHIA': '휘발유',
 'SILHOUET': '휘발유',
 'SPORTAGE': '휘발유',
 'STAREX': '휘발유',
 'SUNDANCE': '휘발유',
 'TAURUS': '휘발유',
 'TOYOTA 4-RUNNER': '경유',
 'TOYOTA AVALON': '휘발유',
 'TOYOTA CAMRY하이브리드': '휘발유 하이브리드',
 'TOYOTA COROLLA': '휘발유',
 'TOYOTA ESTIIM': '휘발유',
 'TOYOTA MATRIX': '휘발유',
 'TOYOTA SIENNA': '휘발유',
 'TOYOTA SR-5': '휘발유',
 'VISION': '휘발유',
 'VOLKSWAGEN JETTA': '휘발유',
 'VOLVO 7G1': '휘발유',
 'VOLVO 960': '휘발유',
 'VOLVO S60': '휘발유',
 'VOLVO S80': '휘발유',
 'VOLVO T5': '휘발유',
 'VOLVO XC60': '휘발유',
 'VOLVO XC90': '휘발유',
 '구급차(도요다)': '경유',
 '그랜저2.0': '휘발유',
 '그랜저XG300L': '휘발유',
 '기아마스타': '경유',
 '뉴복사담프': '경유',
 '뉴비틀2.0': '휘발유',
 '닛산실비아2.0': '휘발유',
 '닛산씨마그로리아': '휘발유',
 '다임24KL에틸렌글리콜트레일러': '무동력',
 '다찌람밴': '휘발유',
 '대우11톤카고': '경유',
 '대우11톤카고트럭': '경유',
 '대우8톤카고': '경유',
 '대흥저상트레일러': '무동력',
 '도오다': '휘발유',
 '도요다MR2': '휘발유',
 '도요다세라': '휘발유',
 '도요다슈프라': '휘발유',
 '도요다웨곤엠브란스': '경유',
 '도요다코로나': '휘발유',
 '도요다크라운': '휘발유',
 '도요다크라운로얄싸롱': '휘발유',
 '도요타 프리우스(하이브리드)': '휘발유 하이브리드',
 '라비타(LAVITA)': '휘발유',
 '로얄살롱': '휘발유',
 '로얄살롱2.0AT': '휘발유',
 '르망': '휘발유',
 '르망펜타-5': '휘발유',
 '링컨MARK7': '경유',
 '맥스디젤삼방': '경유',
 '머큐리 세이블': '경유',
 '벤즈 230E': '휘발유',
 '벤즈230E': '휘발유',
 '벤츠 C300': '휘발유',
 '벤츠190E': '휘발유',
 '벤츠C280': '휘발유',
 '벤츠E230': '휘발유',
 '벤츠S320': '휘발유',
 '복사14': '휘발유',
 '브리샤2': '휘발유',
 '블루버드': '휘발유',
 '사파리': '휘발유',
 '새턴': '휘발유',
 '새한2.5톤카고': '경유',
 '새한버스': '경유',
 '셀리카-GT': '휘발유',
 '소나타': '휘발유',
 '소나타1800오토매틱': '휘발유',
 '수프라': '휘발유',
 '스텔라': '휘발유',
 '스텔라1.6CXL': '휘발유',
 '스텔라오토매틱': '휘발유',
 '시보레': '휘발유',
 '시보레카베리아': '휘발유',
 '쏘나타': '휘발유',
 '아시아AM707중형버스': '경유',
 '아큐라': '휘발유',
 '에스페로': '휘발유',
 '에어스트림탐지견수송트레일러': '무동력',
 '엑셀': '휘발유',
 '엑셀운전교습용차량': '휘발유',
 '원흥식 트럭': '경유',
 '인타담프': '경유',
 '일산 육륜': '경유',
 '제설차': '경유',
 '지프': '경유',
 '체로키': '휘발유',
 '캐피탈': '휘발유',
 '캠리': '휘발유',
 '코르시카': '휘발유',
 '코우거': '휘발유',
 '코티나디럭스': '휘발유',
 '코티나마크IV': '휘발유',
 '크로마터보i.e': '휘발유',
 '티코(TICO)': '휘발유',
 '포니': '휘발유',
 '포니2': '휘발유',
 '포니2-L.P.G': 'LPG(액화석유가스)',
 '포니2-LPG': 'LPG(액화석유가스)',
 '포르쉐': '휘발유',
 '프레스토오토매틱': '휘발유',
 '프레스토오토메틱': '휘발유',
 '프리무스': '휘발유 하이브리드',
 '한원40A콤비콘테이너트레일러': '무동력',
 '한원40피트구즈넥트레일러': '무동력',
 '현대3톤트럭': '경유',
 '현대리어엔진버스': '경유',
 '현대포터': '경유',
 '혼다 CR-V': '경유',
 '홍성캠핑트레일러': '무동력'}

In [30]:
# about 14.7
for one in dfg5.loc[((dfg5['연료'].isnull() == True) | (dfg5['연료'] == '기타연료')), '차명'].unique():
    try:
        dfg5.loc[((dfg5['연료'].isnull() == True) | (dfg5['연료'] == '기타연료')) & (dfg5['차명'] == one), '연료'] = fuel_dict[one]
    except:
        dfg5.loc[((dfg5['연료'].isnull() == True) | (dfg5['연료'] == '기타연료')) & (dfg5['차명'] == one), '연료'] = '기타연료'

In [31]:
dfg5['연료'].value_counts(dropna=False)

연료
경유             2347299
휘발유              30880
LPG(액화석유가스)        455
무동력                  5
CNG(압축천연가스)          5
기타연료                 3
알코올                  1
Name: count, dtype: int64

## 노후차 조기폐차 관리정보 수도권 필수 컬럼만 추출

In [32]:
aea['조기폐차최종승인YN'].unique()

array(['Y', nan, 'N'], dtype=object)

In [33]:
aea['조기폐차최종승인YN'].value_counts(dropna=False)

조기폐차최종승인YN
Y      680570
NaN     89686
N          55
Name: count, dtype: int64

In [34]:
aea['조기폐차상태코드'].unique()

array(['Y', 'B', 'D', 'M', 'X', 'C', 'A', 'N', 'G', 'P', 'I'],
      dtype=object)

In [57]:
# aeam = aea[[
#     '차대번호',
#     '조기폐차최종승인YN',
#     ]]

In [35]:
aeam = aea.loc[aea['조기폐차최종승인YN'] == 'Y'].reset_index(drop=True)
aeam.shape

(680570, 4)

## 노후차 조기폐차 관리정보 수도권외 필수 컬럼만 추출

In [36]:
lgv['조기폐차최종승인YN'].unique()

array(['Y', nan, 'N'], dtype=object)

In [37]:
lgv['조기폐차최종승인YN'].value_counts(dropna=False)

조기폐차최종승인YN
NaN    162764
Y      128585
N           4
Name: count, dtype: int64

In [38]:
lgv['조기폐차상태코드'].unique()

array(['Y', 'M', 'X', 'B', 'G', 'I', 'C', 'P', 'D', 'N'], dtype=object)

In [39]:
# lgvm = lgv[[
#     '차대번호',
#     '조기폐차최종승인YN',
#     ]]

In [40]:
lgvm = lgv.loc[lgv['조기폐차최종승인YN'] == 'Y'].reset_index(drop=True)
lgvm.shape

(128585, 4)

## 노후차 조기폐차 정보 병합

In [41]:
early = pd.concat([aeam, lgvm], ignore_index=True)
early.shape

(809155, 4)

In [42]:
early.shape, len(early['차대번호'].unique())

((809155, 4), 809130)

In [43]:
earlym = early.sort_values('말소일자', ascending=False).drop_duplicates(['차대번호']).reset_index(drop=True)
earlym.shape

(809130, 4)

In [44]:
earlym.columns

Index(['조기폐차상태코드', '차대번호', '말소일자', '조기폐차최종승인YN'], dtype='object')

In [70]:
df.columns

Index(['차량등록번호', '본거지법정동코드', '차대번호', '제원관리번호', '배출가스인증번호', '차명', '차종_등록정보',
       '차종유형(소분류)', '연료', '차량말소YN', '등급', '시도', '시구군'],
      dtype='object')

In [71]:
df.shape

(29534047, 13)

In [72]:
# about 48.6s
df1 = df.merge(earlym[['차대번호', '조기폐차최종승인YN']], on='차대번호', how='left')
df1.shape

(29534047, 14)

In [73]:
df1.columns

Index(['차량등록번호', '본거지법정동코드', '차대번호', '제원관리번호', '배출가스인증번호', '차명', '차종_등록정보',
       '차종유형(소분류)', '연료', '차량말소YN', '등급', '시도', '시구군', '조기폐차최종승인YN'],
      dtype='object')

## 저감장치 부착이력 데이터 확인

In [45]:
att.columns

Index(['저감장치종류', 'PM최종저감효율', 'TDMS부착여부', '구조변경일자', '부착업체명', '부착일자', '탈거승인일',
       '차량번호', '차대번호', '주행거리', '저감장치반납여부', '저감장치구분', '저감등록번호', '재장착확인일자',
       '장치일련번호', '삼원촉매장치반납여부'],
      dtype='object')

In [46]:
att['저감장치구분'].value_counts(dropna=False)

저감장치구분
1종        294602
엔진개조      198590
2종        156370
3종        148308
엔진교체        8528
1종+SCR      2304
삼원촉매        2075
Name: count, dtype: int64

In [47]:
att['저감장치종류'].value_counts(dropna=False)

저감장치종류
NaN         223879
복합소형        162046
DOC         137166
소형          105138
자연대형         47920
복합중형         44915
자연중형         30715
pDPF         30586
중형           15529
복합대형          9006
자연대형+SCR      2304
대형            1573
Name: count, dtype: int64

In [48]:
att.groupby(['저감장치구분', '저감장치종류'])['차대번호'].count()

저감장치구분  저감장치종류
1종      복합대형          9006
        복합소형        162046
        복합중형         44915
        자연대형         47920
        자연중형         30715
1종+SCR  자연대형+SCR      2304
2종      pDPF         30586
        소형           99769
        중형           13943
3종      DOC         137166
엔진교체    대형            1573
        소형            5369
        중형            1586
Name: 차대번호, dtype: int64

In [77]:
# att.groupby(['저감장치구분', '저감장치종류'])['차대번호'].count().reset_index().to_excel(os.path.join(analysis_fold, '저감장치종류.xlsx'), index=False)

### 1종, 1종+SCR 만 추출
- 1종 : DPF
- 1종+SCR : PM-NOx 저감장치

In [49]:
attm = att.loc[(att['저감장치구분'] == '1종') | (att['저감장치구분'] == '1종+SCR'), ['차대번호', '저감장치구분', '저감장치종류']].reset_index(drop=True)
attm.shape

(296906, 3)

In [50]:
attm.loc[attm['저감장치구분'] == '1종', '저감장치'] = 'DPF'
attm.loc[attm['저감장치구분'] == '1종+SCR', '저감장치'] = 'PM-NOx저감장치'
attm.shape

(296906, 4)

In [51]:
attm['저감장치종류'].unique()

array(['자연대형', '자연중형', '복합중형', '복합대형', '복합소형', '자연대형+SCR'], dtype=object)

In [52]:
attm['저감장치'].value_counts(dropna=False)

저감장치
DPF           294602
PM-NOx저감장치      2304
Name: count, dtype: int64

In [53]:
attm.columns

Index(['차대번호', '저감장치구분', '저감장치종류', '저감장치'], dtype='object')

In [54]:
attm.shape, len(attm['차대번호'].unique())

((296906, 4), 296605)

In [55]:
attm['저감장치'].isnull().sum()

0

In [56]:
attm = attm.sort_values(['차대번호', '저감장치'], ascending=False)
attm.head()

              차대번호 저감장치구분 저감장치종류 저감장치
203125  충남-06로5020     1종   복합대형  DPF
233331  충남-06노5975     1종   복합대형  DPF
279669   인천06마6927     1종   복합대형  DPF
202440  인천-14마5426     1종   복합대형  DPF
201636  인천-14마5003     1종   복합대형  DPF

In [57]:
attm.tail()

          차대번호 저감장치구분 저감장치종류 저감장치
190522  000391     1종   복합대형  DPF
182833  000380     1종   복합대형  DPF
180428  000223     1종   복합대형  DPF
197822  000128     1종   복합대형  DPF
198067  000039     1종   복합대형  DPF

In [58]:
attm = attm.drop_duplicates(['차대번호'])
attm.shape

(296605, 4)

In [88]:
df1.shape

(29534047, 14)

In [89]:
# about 47.1s
df2 = df1.merge(attm[['차대번호', '저감장치']], on='차대번호', how='left')
df2.shape

(29534047, 15)

In [90]:
df2.columns

Index(['차량등록번호', '본거지법정동코드', '차대번호', '제원관리번호', '배출가스인증번호', '차명', '차종_등록정보',
       '차종유형(소분류)', '연료', '차량말소YN', '등급', '시도', '시구군', '조기폐차최종승인YN', '저감장치'],
      dtype='object')

## 운행제한 단속 정보 추가

In [91]:
limit.columns

Index(['차대번호', '운행제한단속YN'], dtype='object')

In [92]:
df2.shape

(29534047, 15)

In [93]:
# about 45.4s
df3 = df2.merge(limit, on='차대번호', how='left')
df3.shape

(29534047, 16)

## 비상시 및 계절제 단속 정보 추가

In [94]:
slimitm.columns

Index(['차대번호', '계절제1차단속YN', '계절제2차단속YN', '계절제3차단속YN', '비상시단속YN'], dtype='object')

In [95]:
slimitm.shape

(1204906, 5)

In [96]:
slimitm.isnull().sum()

차대번호               0
계절제1차단속YN    1056625
계절제2차단속YN     532799
계절제3차단속YN     615746
비상시단속YN       807429
dtype: int64

In [97]:
df3.shape

(29534047, 16)

In [98]:
df3.columns

Index(['차량등록번호', '본거지법정동코드', '차대번호', '제원관리번호', '배출가스인증번호', '차명', '차종_등록정보',
       '차종유형(소분류)', '연료', '차량말소YN', '등급', '시도', '시구군', '조기폐차최종승인YN', '저감장치',
       '운행제한단속YN'],
      dtype='object')

In [99]:
# about 56.6s
df4 = df3.merge(slimitm, on='차대번호', how='left')
df4.shape

(29534047, 20)

In [100]:
df4.columns

Index(['차량등록번호', '본거지법정동코드', '차대번호', '제원관리번호', '배출가스인증번호', '차명', '차종_등록정보',
       '차종유형(소분류)', '연료', '차량말소YN', '등급', '시도', '시구군', '조기폐차최종승인YN', '저감장치',
       '운행제한단속YN', '계절제1차단속YN', '계절제2차단속YN', '계절제3차단속YN', '비상시단속YN'],
      dtype='object')

## [출력] BD3-1,2 df

In [101]:
# about 6.6s
df5 = df4[[
    '본거지법정동코드',
    '차대번호',
    '연료',
    '차종_등록정보',
    '차종유형(소분류)',
    '조기폐차최종승인YN',
    '운행제한단속YN',
    '계절제1차단속YN', 
    '계절제2차단속YN', 
    '계절제3차단속YN', 
    '비상시단속YN',
    ]]
df5.columns

Index(['본거지법정동코드', '차대번호', '연료', '차종_등록정보', '차종유형(소분류)', '조기폐차최종승인YN',
       '운행제한단속YN', '계절제1차단속YN', '계절제2차단속YN', '계절제3차단속YN', '비상시단속YN'],
      dtype='object')

In [157]:
# chc_dict = {
#     '본거지법정동코드':'BSPL_STDG_CD', 
#     '차대번호':'VIN', 
#     '제원관리번호':'MANP_MNG_NO', 
#     '배출가스인증번호':'EXHST_GAS_CERT_NO', 
#     '연료':'FUEL_CD',
#     '차종_등록정보':'VHCTY_CD',
#     '차종유형(소분류)':'VHCTY_TY',
#     '차량말소YN':'VHCL_ERSR_YN', 
#     '등급':'EXHST_GAS_GRD_CD', 
#     '시도':'CTPV', 
#     '시구군':'SGG', 
#     '조기폐차최종승인YN':'ELPDSRC_LAST_APRV_YN', 
#     '저감장치':'RDCDVC', 
#     '운행제한단속YN':'RUN_LMT_CRDN_YN',
#     '계절제1차단속YN':'SEASON1_CRDN_YN', 
#     '계절제2차단속YN':'SEASON2_CRDN_YN', 
#     '계절제3차단속YN':'SEASON3_CRDN_YN', 
#     '비상시단속YN':'EMGN_CRDN_YN',
# }

In [102]:
chc_dict = {
    '본거지법정동코드':'BSPL_STDG_CD', 
    '차대번호':'VIN', 
    '연료':'FUEL_CD',
    '차종_등록정보':'VHCTY_CD',
    '차종유형(소분류)':'VHCTY_TY',
    '조기폐차최종승인YN':'ELPDSRC_LAST_APRV_YN', 
    '운행제한단속YN':'RUN_LMT_CRDN_YN',
    '계절제1차단속YN':'SEASON1_CRDN_YN', 
    '계절제2차단속YN':'SEASON2_CRDN_YN', 
    '계절제3차단속YN':'SEASON3_CRDN_YN', 
    '비상시단속YN':'EMGN_CRDN_YN',
}

In [103]:
# about 
df5 = df5.rename(columns=chc_dict)
df5.columns

Index(['BSPL_STDG_CD', 'VIN', 'FUEL_CD', 'VHCTY_CD', 'VHCTY_TY',
       'ELPDSRC_LAST_APRV_YN', 'RUN_LMT_CRDN_YN', 'SEASON1_CRDN_YN',
       'SEASON2_CRDN_YN', 'SEASON3_CRDN_YN', 'EMGN_CRDN_YN'],
      dtype='object')

In [104]:
today_date = datetime.today().strftime("%Y.%m.%d_%p.%I.%M.%S")
today_date

'2023.06.05_PM.04.29.57'

In [105]:
# about 1m 22.5s
df5.to_csv(os.path.join(df_fold, f'BD3_STD_BD_LEM_ND_RUN_LMT_CURSTT({today_date}).csv'), index=False)

## [출력] 전체 차량 현황

In [132]:
df4.columns

Index(['차량등록번호', '본거지법정동코드', '차대번호', '제원관리번호', '배출가스인증번호', '차명', '연료',
       '차량말소YN', '등급', '시도', '시구군', '조기폐차최종승인YN', '저감장치', '운행제한단속YN',
       '계절제1차단속YN', '계절제2차단속YN', '계절제3차단속YN', '비상시단속YN'],
      dtype='object')

In [133]:
df4['차량말소YN'].value_counts(dropna=False)

차량말소YN
N    25693532
Y     3840515
Name: count, dtype: int64

In [134]:
df5_1 = df4.loc[df4['차량말소YN'] == 'N', ['차대번호', '연료']].reset_index(drop=True)
df5_1.shape

(25693532, 2)

In [135]:
# about 
df5_1 = df5_1.rename(columns=chc_dict)
df5_1.columns

Index(['VIN', 'FUEL_CD'], dtype='object')

In [136]:
today_date = datetime.today().strftime("%Y.%m.%d_%p.%I.%M.%S")
today_date

'2023.05.30_AM.09.52.15'

In [137]:
# about 37.8s
# 저공해조치 및 운행제한
df5_1.to_csv(os.path.join(df_fold, f'BD3_STD_BD_LEM_ND_RUN_LMT_CURSTT({today_date}).csv'), index=False)

# 분석

## 전체

### 내연기관차

In [103]:
# about 11.8s
gas_car = df.loc[(df['연료'].isnull() == False) & (df['연료'] != '전기') & (df['연료'] != '수소') & (df['연료'] != '태양열')]
gas_car['연료'].value_counts(dropna=False)

휘발유            12177033
경유              9890990
LPG(액화석유가스)     1904188
휘발유 하이브리드       1095741
경유 하이브리드          35779
CNG(압축천연가스)       30461
LPG 하이브리드         14352
기타연료                933
CNG 하이브리드           304
LNG(액화천연가스)          27
알코올                   3
등유                    1
Name: 연료, dtype: int64

In [104]:
gas_car.columns

Index(['차량등록번호', '본거지법정동코드', '차대번호', '제원관리번호', '배출가스인증번호', '배출가스등급', '차명',
       '연료', '차량말소YN', '등급', '시도', '시구군', '읍면동', '리', '지역3', '폐지여부', '대기관리권역',
       '대기관리권역YN'],
      dtype='object')

In [105]:
# 내연기관차
stat_gas1 = gas_car.groupby(['시도', '등급'], dropna=False)['차대번호'].count().unstack().reset_index()
stat_gas1 = stat_gas1.rename(columns={'차대번호':'차량수'})
stat_gas1

등급       시도     1.0      2.0      3.0     4.0     5.0      X
0       강원도   62814   354769   309052   56328   48547   3649
1       경기도  590508  2829950  2246914  362403  228482  42052
2      경상남도  153254   853461   628061  116771  105067   9528
3      경상북도  103557   628228   527532  116935  122479   5913
4     광주광역시   73614   320817   241466   39361   26352   2893
5     대구광역시  110492   554620   420456   69054   50303   5854
6     대전광역시   67169   324682   230858   41638   26306   2992
7     부산광역시  148871   674629   499969   76784   67462   9006
8     서울특별시  354521  1445320  1043315  178512  126995  17767
9   세종특별자치시   22041    91924    62444    8075    4352    897
10    울산광역시   48450   278741   192622   32487   26409   2844
11    인천광역시  198252   783405   574303   80688   55007  12701
12     전라남도  113100   470400   445136   86065   77641   6773
13     전라북도   77616   394715   354748   72913   58967   3947
14  제주특별자치도   89176   301730   221548   26652   24813   5251
15     충청남도   90567   508955   434488   85494   62980   4785
16     충청북도   72483   391355   326381   61020   42571   3568

In [106]:
stat_gas1.to_excel(os.path.join(analysis_fold, '통계_전체_시도_등급별_차량현황.xlsx'), index=False)

In [66]:
# 내연기관차
stat_gas2 = gas_car.groupby(['대기관리권역', '시도', '배출가스등급', '대기관리권역YN'])['차대번호'].count().unstack()
stat_gas2

대기관리권역YN                 N        Y
대기관리권역 시도 배출가스등급
그 외    강원 1       62814.00      NaN
          2      349994.00      NaN
          3      304509.00      NaN
          4       56327.00      NaN
          5       48547.00      NaN
...                    ...      ...
중부권    충북 5       10468.00 32099.00
          T2        389.00  4602.00
          T3        617.00  4062.00
          T5           NaN     2.00
          X         419.00  3114.00

[156 rows x 2 columns]

In [67]:
# 내연기관차
stat_gas3 = gas_car.groupby(['대기관리권역', '시도', '연료', '대기관리권역YN'])['차대번호'].count().unstack()
stat_gas3

대기관리권역YN                      N         Y
대기관리권역 시도 연료
그 외    강원 CNG(압축천연가스)    342.00       NaN
          LPG 하이브리드      594.00       NaN
          LPG(액화석유가스)  57868.00       NaN
          경유          372822.00       NaN
          경유 하이브리드       399.00       NaN
...                         ...       ...
중부권    충북 LPG(액화석유가스)   8641.00  61573.00
          경유           62530.00 319859.00
          경유 하이브리드        41.00    648.00
          휘발유          44932.00 368498.00
          휘발유 하이브리드     2726.00  26742.00

[143 rows x 2 columns]

In [68]:
# 내연기관차
stat_gas4 = gas_car.groupby(['대기관리권역', '시도', '배출가스등급', '연료', '대기관리권역YN'])['차대번호'].count().unstack()
stat_gas4

대기관리권역YN                            N       Y
대기관리권역 시도 배출가스등급 연료
그 외    강원 1      LPG 하이브리드     594.00     NaN
                 LPG(액화석유가스) 13209.00     NaN
                 휘발유         24236.00     NaN
                 휘발유 하이브리드   24775.00     NaN
          2      CNG(압축천연가스)   203.00     NaN
...                               ...     ...
중부권    충북 X      LPG(액화석유가스)    15.00  226.00
                 경유            172.00  767.00
                 경유 하이브리드        4.00   19.00
                 휘발유           163.00 1570.00
                 휘발유 하이브리드      65.00  530.00

[593 rows x 2 columns]

#### [출력] 내연기관차 대기관리권역별 등급별(말소 제거) 차량 현황

In [62]:
today_date = datetime.today().strftime("%Y.%m.%d_%p.%I.%M.%S")
today_date

'2023.05.04_AM.10.46.25'

In [73]:
with pd.ExcelWriter(os.path.join(analysis_fold, f'통계_내연기관차_대기관리권역_등급_연료별({today_date}).xlsx')) as writer:
    stat_gas1.to_excel(writer, sheet_name='대기관리권역')
    stat_gas2.to_excel(writer, sheet_name='대기관리권역_등급')
    stat_gas3.to_excel(writer, sheet_name='대기관리권역_연료')
    stat_gas4.to_excel(writer, sheet_name='대기관리권역_등급_연료')

### 무공해차(전기, 수소, 태양열)

In [54]:
# about 12.1s
no_car = df.loc[(df['연료'].isnull() == False) & ((df['연료'] == '전기') | (df['연료'] == '수소') | (df['연료'] == '태양열'))]
no_car['연료'].value_counts(dropna=False)

전기     368693
수소      28227
태양열         2
Name: 연료, dtype: int64

In [64]:
# 내연기관차
stat_no1 = no_car.groupby(['대기관리권역', '시도', '대기관리권역YN'])['차대번호'].count().unstack()
stat_no1

대기관리권역YN         N        Y
대기관리권역 시도
그 외    강원 15551.00      NaN
       제주 31714.00      NaN
남부권    광주      NaN  9578.00
       전남  6381.00  8952.00
동남권    경남  5797.00 17641.00
       경북  7434.00 10742.00
       대구      NaN 23647.00
       부산      NaN 22518.00
       울산      NaN  7203.00
수도권    경기  1868.00 76140.00
       서울      NaN 61017.00
       인천    51.00 25443.00
중부권    대전      NaN 14670.00
       세종      NaN  3028.00
       전북  5207.00  8976.00
       충남   434.00 16803.00
       충북  1890.00 14237.00

In [70]:
# 내연기관차
stat_no2 = no_car.groupby(['대기관리권역', '시도', '배출가스등급', '대기관리권역YN'])['차대번호'].count().unstack()
stat_no2

대기관리권역YN                N        Y
대기관리권역 시도 배출가스등급
그 외    강원 1      15487.00      NaN
          X         64.00      NaN
       제주 1      31654.00      NaN
          X         60.00      NaN
남부권    광주 1           NaN  9552.00
          X           NaN    26.00
       전남 1       6349.00  8904.00
          X         32.00    48.00
동남권    경남 1       5758.00 17552.00
          X         39.00    89.00
       경북 1       7381.00 10716.00
          X         53.00    26.00
       대구 1           NaN 23556.00
          X           NaN    91.00
       부산 1           NaN 22396.00
          X           NaN   122.00
       울산 1           NaN  7202.00
          X           NaN     1.00
수도권    경기 1       1861.00 75600.00
          X          7.00   540.00
       서울 1           NaN 60655.00
          X           NaN   362.00
       인천 1         51.00 25264.00
          X           NaN   179.00
중부권    대전 1           NaN 14624.00
          X           NaN    46.00
       세종 1           NaN  3025.00
          X           NaN     3.00
       전북 1       5190.00  8912.00
          X         17.00    64.00
       충남 1        432.00 16747.00
          X          2.00    56.00
       충북 1       1879.00 14163.00
          X         11.00    74.00

In [71]:
# 내연기관차
stat_no3 = no_car.groupby(['대기관리권역', '시도', '연료', '대기관리권역YN'])['차대번호'].count().unstack()
stat_no3

대기관리권역YN             N        Y
대기관리권역 시도 연료
그 외    강원 수소   2504.00      NaN
          전기  13047.00      NaN
       제주 수소      5.00      NaN
          전기  31709.00      NaN
남부권    광주 수소       NaN  1096.00
          전기       NaN  8482.00
       전남 수소     84.00   627.00
          전기   6297.00  8325.00
동남권    경남 수소    207.00  2182.00
          전기   5590.00 15459.00
       경북 수소     68.00   148.00
          전기   7366.00 10594.00
       대구 수소       NaN   529.00
          전기       NaN 23118.00
       부산 수소       NaN  1887.00
          전기       NaN 20631.00
       울산 수소       NaN  2438.00
          전기       NaN  4765.00
수도권    경기 수소     26.00  5989.00
          전기   1842.00 70149.00
          태양열      NaN     2.00
       서울 수소       NaN  2839.00
          전기       NaN 58178.00
       인천 수소      1.00  1569.00
          전기     50.00 23874.00
중부권    대전 수소       NaN  1208.00
          전기       NaN 13462.00
       세종 수소       NaN   242.00
          전기       NaN  2786.00
       전북 수소    420.00  1270.00
          전기   4787.00  7706.00
       충남 수소      8.00  1182.00
          전기    426.00 15621.00
       충북 수소     64.00  1634.00
          전기   1826.00 12603.00

In [72]:
# 내연기관차
stat_no4 = no_car.groupby(['대기관리권역', '시도', '배출가스등급', '연료', '대기관리권역YN'])['차대번호'].count().unstack()
stat_no4

대기관리권역YN                   N        Y
대기관리권역 시도 배출가스등급 연료
그 외    강원 1      수소  2496.00      NaN
                 전기 12991.00      NaN
          X      수소     8.00      NaN
                 전기    56.00      NaN
       제주 1      수소     5.00      NaN
...                      ...      ...
중부권    충남 X      전기     2.00    50.00
       충북 1      수소    64.00  1618.00
                 전기  1815.00 12545.00
          X      수소      NaN    16.00
                 전기    11.00    58.00

[65 rows x 2 columns]

#### [출력] 무공해차 대기관리권역별 등급별(말소 제거) 차량 현황

In [74]:
today_date = datetime.today().strftime("%Y.%m.%d_%p.%I.%M.%S")
today_date

'2023.05.04_AM.10.50.07'

In [75]:
with pd.ExcelWriter(os.path.join(analysis_fold, f'통계_무공해차_대기관리권역_등급_연료별({today_date}).xlsx')) as writer:
    stat_no1.to_excel(writer, sheet_name='대기관리권역')
    stat_no2.to_excel(writer, sheet_name='대기관리권역_등급')
    stat_no3.to_excel(writer, sheet_name='대기관리권역_연료')
    stat_no4.to_excel(writer, sheet_name='대기관리권역_등급_연료')

## 5등급

### 내연기관차

In [59]:
dfg5['연료'].value_counts(dropna=False)

연료
경유             2347299
휘발유              30880
LPG(액화석유가스)        455
무동력                  5
CNG(압축천연가스)          5
기타연료                 3
알코올                  1
Name: count, dtype: int64

In [60]:
dfg5.loc[(dfg5['연료'] != '무동력') & (dfg5['연료'] != '기타연료')].shape

(2378640, 20)

In [61]:
dfg5.shape

(2378648, 20)

In [62]:
# about 11.8s
# gas_car = dfg5.loc[(dfg5['연료'] != '무동력') & (dfg5['연료'] != '기타연료')]
g5_gas_car = dfg5.copy()
g5_gas_car['연료'].value_counts(dropna=False)

연료
경유             2347299
휘발유              30880
LPG(액화석유가스)        455
무동력                  5
CNG(압축천연가스)          5
기타연료                 3
알코올                  1
Name: count, dtype: int64

In [63]:
# 말소 차량 제거
g5_gas_car['차량말소YN'].value_counts(dropna=False)

차량말소YN
Y    1223886
N    1154762
Name: count, dtype: int64

In [64]:
# 내연기관차
stat_gas1 = g5_gas_car.groupby('시도', dropna=False)['차대번호'].count()
stat_gas1

시도
강원도        104301
경기도        483315
경상남도       210829
경상북도       235671
광주광역시       61783
대구광역시      114610
대전광역시       63419
부산광역시      122113
서울특별시      217174
세종특별자치시     11843
울산광역시       55338
인천광역시      105678
전라남도       158423
전라북도       130932
제주특별자치도     49982
충청남도       147828
충청북도       105409
Name: 차대번호, dtype: int64

In [214]:
# # 내연기관차
# stat_gas2 = g5_gas_car.groupby(['대기관리권역', '시도', '배출가스등급', '대기관리권역YN'], dropna=False)['차대번호'].count().unstack()
# stat_gas2

대기관리권역YN                 N         Y
대기관리권역 시도 배출가스등급
그 외    강원 5      104300.00       NaN
          T5          1.00       NaN
       제주 5       49981.00       NaN
          T5          1.00       NaN
남부권    광주 5            NaN  61782.00
          T5           NaN      1.00
       전남 5       84853.00  73566.00
          T5          1.00      1.00
동남권    경남 5       79299.00 131528.00
          T5          1.00      1.00
       경북 5      117813.00 117851.00
          T5          2.00      4.00
       대구 5            NaN 114605.00
          T5           NaN      5.00
       부산 5            NaN 122110.00
          T5           NaN      1.00
       울산 5            NaN  55337.00
수도권    경기 5       18557.00 464745.00
          T5           NaN     13.00
       서울 5            NaN 217170.00
          T5           NaN      4.00
       인천 5        2490.00 103185.00
          T5           NaN      2.00
중부권    대전 5            NaN  63417.00
          T5           NaN      2.00
       세종 5            NaN  11843.00
       전북 5       66925.00  64005.00
          T5           NaN      1.00
       충남 5        6039.00 141786.00
          T5          1.00      2.00
       충북 5       22169.00  83235.00
          T5           NaN      5.00

In [215]:
# # 내연기관차
# stat_gas3 = g5_gas_car.groupby(['대기관리권역', '시도', '연료', '대기관리권역YN'], dropna=False)['차대번호'].count().unstack()
# stat_gas3

대기관리권역YN                      N         Y
대기관리권역 시도 연료
그 외    강원 LPG(액화석유가스)     11.00       NaN
          경유          103646.00       NaN
          휘발유            644.00       NaN
       제주 LPG(액화석유가스)      6.00       NaN
          경유           49695.00       NaN
          휘발유            281.00       NaN
남부권    광주 LPG(액화석유가스)       NaN     11.00
          경유                NaN  61064.00
          휘발유               NaN    708.00
       전남 LPG(액화석유가스)     23.00     14.00
          경유           84314.00  73127.00
          휘발유            517.00    426.00
동남권    경남 LPG(액화석유가스)     17.00     22.00
          경유           78844.00 130611.00
          휘발유            439.00    896.00
       경북 CNG(압축천연가스)      2.00      1.00
          LPG(액화석유가스)      7.00     14.00
          경유          117237.00 116959.00
          휘발유            569.00    881.00
       대구 LPG(액화석유가스)       NaN     15.00
          경유                NaN 113269.00
          휘발유               NaN   1326.00
       부산 LPG(액화석유가스)       NaN     57.00
          경유                NaN 120212.00
          알코올               NaN      1.00
          휘발유               NaN   1841.00
       울산 LPG(액화석유가스)       NaN     10.00
          경유                NaN  54795.00
          휘발유               NaN    532.00
수도권    경기 CNG(압축천연가스)       NaN      1.00
          LPG(액화석유가스)      1.00     80.00
          경유           18369.00 458705.00
          휘발유            187.00   5972.00
       서울 LPG(액화석유가스)       NaN     52.00
          경유                NaN 206836.00
          휘발유               NaN  10286.00
       인천 LPG(액화석유가스)      1.00     29.00
          경유            2472.00 101546.00
          휘발유             17.00   1612.00
중부권    대전 LPG(액화석유가스)       NaN     17.00
          경유                NaN  62840.00
          휘발유               NaN    562.00
       세종 LPG(액화석유가스)       NaN      1.00
          경유                NaN  11761.00
          휘발유               NaN     81.00
       전북 LPG(액화석유가스)     17.00     12.00
          경유           66359.00  63160.00
          휘발유            549.00    834.00
       충남 LPG(액화석유가스)      2.00     23.00
          경유            5999.00 140774.00
          휘발유             39.00    991.00
       충북 CNG(압축천연가스)       NaN      1.00
          LPG(액화석유가스)      2.00     11.00
          경유           22047.00  82658.00
          휘발유            120.00    570.00

In [216]:
# # 내연기관차
# stat_gas4 = g5_gas_car.groupby(['대기관리권역', '시도', '배출가스등급', '연료', '대기관리권역YN'], dropna=False)['차대번호'].count().unstack()
# stat_gas4

대기관리권역YN                             N        Y
대기관리권역 시도 배출가스등급 연료
그 외    강원 5      LPG(액화석유가스)     11.00      NaN
                 경유          103645.00      NaN
                 휘발유            644.00      NaN
          T5     경유               1.00      NaN
       제주 5      LPG(액화석유가스)      6.00      NaN
...                                ...      ...
중부권    충북 5      CNG(압축천연가스)       NaN     1.00
                 LPG(액화석유가스)      2.00    11.00
                 경유           22047.00 82653.00
                 휘발유            120.00   570.00
          T5     경유                NaN     5.00

[73 rows x 2 columns]

#### [출력] 내연기관차 대기관리권역별 등급별(말소 제거) 차량 현황

In [114]:
today_date = datetime.today().strftime("%Y.%m.%d_%p.%I.%M.%S")
today_date

'2023.05.18_PM.04.11.38'

In [123]:
with pd.ExcelWriter(os.path.join(analysis_fold, f'통계_5등급_내연기관차_시도별(말소유지))({today_date}).xlsx')) as writer:
    stat_gas1.to_excel(writer, sheet_name='시도별')
    # stat_gas2.to_excel(writer, sheet_name='대기관리권역_등급')
    # stat_gas3.to_excel(writer, sheet_name='대기관리권역_연료')
    # stat_gas4.to_excel(writer, sheet_name='대기관리권역_등급_연료')

## 조기폐차 차량현황

In [65]:
g5_gas_car.shape

(2378648, 20)

In [66]:
g5_gas_car.columns

Index(['차량등록번호', '차종_등록정보', '차종유형(소분류)', '용도', '본거지법정동코드', '차대번호', '제원관리번호',
       '배출가스인증번호', '배출가스등급', '차명', '연료', '차량말소YN', '시도', '시구군', '읍면동', '리',
       '지역3', '폐지여부', '대기관리권역', '대기관리권역YN'],
      dtype='object')

In [67]:
earlym.columns

Index(['조기폐차상태코드', '차대번호', '말소일자', '조기폐차최종승인YN'], dtype='object')

In [68]:
earlym.shape

(809130, 4)

In [69]:
g5_gas_car = g5_gas_car.merge(earlym, on='차대번호', how='left')
g5_gas_car.shape

(2378648, 23)

In [70]:
g5_gas_car.columns

Index(['차량등록번호', '차종_등록정보', '차종유형(소분류)', '용도', '본거지법정동코드', '차대번호', '제원관리번호',
       '배출가스인증번호', '배출가스등급', '차명', '연료', '차량말소YN', '시도', '시구군', '읍면동', '리',
       '지역3', '폐지여부', '대기관리권역', '대기관리권역YN', '조기폐차상태코드', '말소일자', '조기폐차최종승인YN'],
      dtype='object')

### [출력]

In [77]:
g5_gas_car1 = g5_gas_car[[
    '차대번호', 
    '제원관리번호',
    '차종_등록정보', 
    '차종유형(소분류)', 
    '용도',
    '연료', 
    '조기폐차상태코드',
    '조기폐차최종승인YN'
    ]]
g5_gas_car1.shape

(2378648, 8)

In [78]:
g5_gas_car1['기준연월'] = '2022.12'

C:\Users\kbjung\AppData\Local\Temp\ipykernel_4116\3880346676.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  g5_gas_car1['기준연월'] = '2022.12'

In [79]:
g5_gas_car1.columns

Index(['차대번호', '제원관리번호', '차종_등록정보', '차종유형(소분류)', '용도', '연료', '조기폐차상태코드',
       '조기폐차최종승인YN', '기준연월'],
      dtype='object')

In [80]:
g5_gas_car1 = g5_gas_car1[['기준연월', '차대번호', '제원관리번호', '차종_등록정보', '차종유형(소분류)', '용도', '연료', '조기폐차상태코드', '조기폐차최종승인YN' ]]

In [81]:
chc_col = {
    '기준연월':'CRTR_YM', 
    '차대번호':'VIN', 
    '제원관리번호':'MANG_MNG_NO',
    '차종_등록정보':'VHCTY_CD', 
    '차종유형(소분류)':'VHCTY_TY', 
    '용도':'PURPS_CD2',
    '연료':'FUEL_CD', 
    '조기폐차상태코드':'ELPDSRC_STTS_CD',
    '조기폐차최종승인YN':'ELPDSRC_LAST_APRV_YN',
}

In [82]:
g5_gas_car1 = g5_gas_car1.rename(columns=chc_col)
g5_gas_car1.columns

Index(['CRTR_YM', 'VIN', 'MANG_MNG_NO', 'VHCTY_CD', 'VHCTY_TY', 'PURPS_CD2',
       'FUEL_CD', 'ELPDSRC_STTS_CD', 'ELPDSRC_LAST_APRV_YN'],
      dtype='object')

In [83]:
# about 14.3s
g5_gas_car1.to_csv(os.path.join(df_fold, 'BD1_4등급_조기폐차현황.csv'), index=False)

In [130]:
g5_gas_car['조기폐차최종승인YN'].value_counts(dropna=False)

조기폐차최종승인YN
NaN    2012396
Y       366233
N           19
Name: count, dtype: int64

In [132]:
# 내연기관차
stat_gas5 = g5_gas_car.groupby(['시도', '조기폐차최종승인YN'], dropna=False)['차대번호'].count().unstack('조기폐차최종승인YN')
stat_gas5

조기폐차최종승인YN     N         Y       NaN
시도
강원도          NaN   7139.00  97162.00
경기도        16.00 161411.00 321888.00
경상남도        3.00  14464.00 196362.00
경상북도         NaN  14787.00 220884.00
광주광역시        NaN  11343.00  50440.00
대구광역시        NaN  22123.00  92487.00
대전광역시        NaN   3431.00  59988.00
부산광역시        NaN   6446.00 115667.00
서울특별시        NaN  49330.00 167844.00
세종특별자치시      NaN   2249.00   9594.00
울산광역시        NaN   8365.00  46973.00
인천광역시        NaN  28186.00  77492.00
전라남도         NaN  10899.00 147524.00
전라북도         NaN   3606.00 127326.00
제주특별자치도      NaN   1291.00  48691.00
충청남도         NaN   9944.00 137884.00
충청북도         NaN  11219.00  94190.00

In [133]:
g5_gas_car['말소일자'].dtype

dtype('float64')

In [288]:
g5_gas_car['말소일자'].describe()

count     373714.00
mean    20206051.70
std        55565.22
min       445003.00
25%     20200212.00
50%     20210305.00
75%     20211105.00
max     44440923.00
Name: 말소일자, dtype: float64

In [289]:
g5_gas_car.loc[g5_gas_car['말소일자'] < 20190101, '말소일자_년도'] = 2018
g5_gas_car.loc[(g5_gas_car['말소일자'] >= 20190101) & (g5_gas_car['말소일자'] < 20200101), '말소일자_년도'] = 2019
g5_gas_car.loc[(g5_gas_car['말소일자'] >= 20200101) & (g5_gas_car['말소일자'] < 20210101), '말소일자_년도'] = 2020
g5_gas_car.loc[(g5_gas_car['말소일자'] >= 20210101) & (g5_gas_car['말소일자'] < 20220101), '말소일자_년도'] = 2021
g5_gas_car.loc[(g5_gas_car['말소일자'] >= 20220101) & (g5_gas_car['말소일자'] < 20230101), '말소일자_년도'] = 2022
g5_gas_car.loc[g5_gas_car['말소일자'] >= 20230101, '말소일자_년도'] = 2023

In [290]:
stat_gas5_1 = g5_gas_car.loc[g5_gas_car['조기폐차최종승인YN'] == 'Y'].groupby(['말소일자_년도'])['차대번호'].count()
stat_gas5_1

말소일자_년도
2018.00         6
2019.00     79951
2020.00     97487
2021.00    108664
2022.00     79672
2023.00        12
Name: 차대번호, dtype: int64

In [291]:
stat_gas5_2 = g5_gas_car.loc[g5_gas_car['조기폐차최종승인YN'] == 'Y'].groupby(['시도', '말소일자_년도'])['차대번호'].count().unstack()
stat_gas5_2

말소일자_년도  2018.00  2019.00  2020.00  2021.00  2022.00  2023.00
시도
강원도          NaN      NaN     4.00  2272.00  4863.00      NaN
경기도         1.00 49026.00 66331.00 38919.00  6690.00     3.00
경상남도         NaN      NaN     2.00  4724.00  9738.00      NaN
경상북도         NaN      NaN     2.00  4231.00 10554.00      NaN
광주광역시        NaN      NaN      NaN  7131.00  4212.00      NaN
대구광역시        NaN      NaN      NaN 15178.00  6945.00      NaN
대전광역시        NaN     1.00      NaN     5.00  3424.00     1.00
부산광역시       1.00      NaN      NaN     7.00  6438.00      NaN
서울특별시       2.00 20303.00 20293.00  7585.00  1147.00      NaN
세종특별자치시     1.00      NaN      NaN  1515.00   733.00      NaN
울산광역시        NaN      NaN      NaN  4211.00  4154.00      NaN
인천광역시        NaN 10621.00 10838.00  5368.00  1359.00      NaN
전라남도         NaN      NaN     1.00  4810.00  6088.00      NaN
전라북도         NaN      NaN      NaN  2004.00  1602.00      NaN
제주특별자치도      NaN      NaN      NaN     3.00  1288.00      NaN
충청남도         NaN      NaN     8.00  3006.00  6922.00     8.00
충청북도        1.00      NaN     8.00  7695.00  3515.00      NaN

#### [출력] 내연기관차 대기관리권역별 조기폐차(말소 제거) 차량 현황

In [292]:
today_date = datetime.today().strftime("%Y.%m.%d_%p.%I.%M.%S")
today_date

'2023.05.07_PM.09.54.40'

In [293]:
with pd.ExcelWriter(os.path.join(analysis_fold, f'통계_5등급_내연기관차_조기폐차({today_date}).xlsx')) as writer:
    stat_gas5.to_excel(writer, sheet_name='대기관리권역_조기폐차')
    stat_gas5_1.to_excel(writer, sheet_name='연도별_조기폐차')
    stat_gas5_2.to_excel(writer, sheet_name='시도별_연도별_조기폐차')

## 5등급 저감장치 부착 차량 현황(말소 제거)

In [134]:
g5_gas_car.shape

(2378648, 19)

In [135]:
g5_gas_car = g5_gas_car.merge(attm[['차대번호', '저감장치']], on='차대번호', how='left')
g5_gas_car.shape

(2378830, 20)

In [136]:
g5_gas_car['차량말소YN'].value_counts(dropna=False)

차량말소YN
Y    1223942
N    1154888
Name: count, dtype: int64

In [137]:
g5_gas_car_n = g5_gas_car.loc[g5_gas_car['차량말소YN'] == 'N'].reset_index(drop=True)
g5_gas_car_n.shape

(1154888, 20)

In [138]:
g5_gas_car_n.columns

Index(['차량등록번호', '본거지법정동코드', '차대번호', '제원관리번호', '배출가스인증번호', '배출가스등급', '차명',
       '연료', '차량말소YN', '시도', '시구군', '읍면동', '리', '지역3', '폐지여부', '대기관리권역',
       '대기관리권역YN', '말소일자', '조기폐차최종승인YN', '저감장치'],
      dtype='object')

In [104]:
g5_gas_car_n['저감장치'].value_counts()

저감장치
DPF           141328
PM-NOx저감장치      1796
Name: count, dtype: int64

In [140]:
# 내연기관차
stat_gas6 = g5_gas_car_n.groupby('시도', dropna=False)['차대번호'].count().reset_index()
stat_gas6

         시도    차대번호
0       강원도   48552
1       경기도  228518
2      경상남도  105070
3      경상북도  122492
4     광주광역시   26359
5     대구광역시   50305
6     대전광역시   26307
7     부산광역시   67467
8     서울특별시  127022
9   세종특별자치시    4353
10    울산광역시   26411
11    인천광역시   55013
12     전라남도   77662
13     전라북도   58972
14  제주특별자치도   24816
15     충청남도   62993
16     충청북도   42576

In [141]:
# 내연기관차 > 저감장치 : DPF
stat_gas7 = g5_gas_car_n.loc[g5_gas_car_n['저감장치'] == 'DPF'].groupby('시도')['차대번호'].count()
stat_gas7

시도
강원도         2983
경기도        47261
경상남도        3000
경상북도        4264
광주광역시       1474
대구광역시       2689
대전광역시       1530
부산광역시       3267
서울특별시      37467
세종특별자치시      328
울산광역시        975
인천광역시      19761
전라남도        3840
전라북도        4596
제주특별자치도      743
충청남도        4370
충청북도        2780
Name: 차대번호, dtype: int64

In [142]:
# 내연기관차 > 저감장치 : PM-NOx저감장치
stat_gas8 = g5_gas_car_n.loc[g5_gas_car_n['저감장치'] == 'PM-NOx저감장치'].groupby('시도')['차대번호'].count()
stat_gas8

시도
강원도         21
경기도        272
경상남도        47
경상북도        58
광주광역시       31
대구광역시       46
대전광역시       51
부산광역시      293
서울특별시      291
세종특별자치시     12
울산광역시      135
인천광역시      237
전라남도        35
전라북도       151
제주특별자치도      5
충청남도        63
충청북도        48
Name: 차대번호, dtype: int64

#### [출력] 내연기관차 대기관리권역별 저감장치 부착이력별(말소 제거) 차량 현황

In [143]:
today_date = datetime.today().strftime("%Y.%m.%d_%p.%I.%M.%S")
today_date

'2023.05.18_PM.04.16.07'

In [144]:
with pd.ExcelWriter(os.path.join(analysis_fold, f'통계_5등급_내연기관차_시도별_저감장치별(말소제거)({today_date}).xlsx')) as writer:
    stat_gas6.to_excel(writer, sheet_name='시도별')
    stat_gas7.to_excel(writer, sheet_name='대기관리권역_DPF')
    stat_gas8.to_excel(writer, sheet_name='대기관리권역_PM-NOx저감장치')

### [출력] 5등급 저감장치 부착 데이터

In [146]:
g5_gas_car_n.shape

(1154888, 20)

In [147]:
g5_gas_car_n['차량말소YN'].value_counts(dropna=False)

차량말소YN
N    1154888
Name: count, dtype: int64

In [148]:
g5_gas_car_n.columns

Index(['차량등록번호', '본거지법정동코드', '차대번호', '제원관리번호', '배출가스인증번호', '배출가스등급', '차명',
       '연료', '차량말소YN', '시도', '시구군', '읍면동', '리', '지역3', '폐지여부', '대기관리권역',
       '대기관리권역YN', '말소일자', '조기폐차최종승인YN', '저감장치'],
      dtype='object')

In [150]:
today_date = datetime.today().strftime("%Y.%m.%d_%p.%I.%M.%S")
today_date

'2023.05.18_PM.04.18.48'

In [151]:
# about 6m 11.3s
n = 500000
g5_gas_car_n.iloc[:n].to_excel(os.path.join(raw_fold, f'BD3-1_5등급차_저감장치현황({today_date})01.xlsx'), index=False)
g5_gas_car_n.iloc[n:].to_excel(os.path.join(raw_fold, f'BD3-1_5등급차_저감장치현황({today_date})02.xlsx'), index=False)

# code end