# Library

In [1]:
import pandas as pd
import numpy as np
import os
from datetime import datetime

# fold path

In [2]:
raw_fold = 'D:/data/big2/BD1/raw'
an_fold = 'D:/data/big2/BD1/an'

In [3]:
# 소수점 옵션
pd.options.display.float_format = '{:.2f}'.format
# pd.reset_option('display.float_format')

## result

In [4]:
# about 16.6s
name = '4등급 차량 리스트 양식(전체) result 최종 Grade 추가(2023.04.13_AM.08.39.05)'
file_name = f'{name}.csv'
df = pd.read_csv(os.path.join(raw_fold, file_name), encoding='cp949', low_memory=False)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1502235 entries, 0 to 1502234
Data columns (total 33 columns):
 #   Column    Non-Null Count    Dtype
---  ------    --------------    -----
 0   차대번호      1502235 non-null  object
 1   차량번호      1502235 non-null  object
 2   제원관리번호    1502235 non-null  object
 3   차종        1502235 non-null  object
 4   용도        1502235 non-null  object
 5   최초등록일     1502235 non-null  int64
 6   연식        1502235 non-null  int64
 7   제작일자      1335178 non-null  float64
 8   검사유효일     1502223 non-null  float64
 9   배출가스인증번호  1382222 non-null  object
 10  등급        1502235 non-null  int64
 11  차명        1502235 non-null  object
 12  차종분류      1502235 non-null  object
 13  차종유형      1502235 non-null  object
 14  자동차형식     1501958 non-null  object
 15  제작사명      1492590 non-null  object
 16  연료        1502235 non-null  object
 17  엔진형식      1500400 non-null  object
 18  총중량       1502234 non-null  float64
 19  적재중량      1501728 non-null  float64
 20  엔진출력      1501882 non-null  object
 21  배기량       1502231 non-null  float64
 22  법정동코드     1502235 non-null  int64
 23  시도명       1502235 non-null  object
 24  시군구명      1502235 non-null  object
 25  소유자구분     1502235 non-null  object
 26  말소여부      1502235 non-null  object
 27  일치유무      1153813 non-null  object
 28  배인번호_수정   1153813 non-null  object
 29  등급_수정     1153813 non-null  float64
 30  DPF유무_수정  1502196 non-null  object
 31  fuel      1497673 non-null  object
 32  Grade     1497673 non-null  object
dtypes: float64(6), int64(4), object(23)
memory usage: 378.2+ MB

In [5]:
df.columns

Index(['차대번호', '차량번호', '제원관리번호', '차종', '용도', '최초등록일', '연식', '제작일자', '검사유효일',
       '배출가스인증번호', '등급', '차명', '차종분류', '차종유형', '자동차형식', '제작사명', '연료', '엔진형식',
       '총중량', '적재중량', '엔진출력', '배기량', '법정동코드', '시도명', '시군구명', '소유자구분', '말소여부',
       '일치유무', '배인번호_수정', '등급_수정', 'DPF유무_수정', 'fuel', 'Grade'],
      dtype='object')

In [6]:
df['연료'].value_counts(dropna=False)

경유             1153813
휘발유             322983
LPG(액화석유가스)      25400
기타연료                37
알코올                  1
CNG(압축천연가스)          1
Name: 연료, dtype: int64

In [7]:
df['등급_수정'].value_counts(dropna=True)

4.00    1149290
3.00       4396
5.00        127
Name: 등급_수정, dtype: int64

In [8]:
df.loc[df['배출가스인증번호'] == '5MY-AD-13-07'].shape

(118, 33)

In [9]:
df3 = df.loc[df['등급_수정'] == 3].reset_index(drop=True)
df3.shape

(4396, 33)

In [10]:
df3.groupby(['등급_수정', '배출가스인증번호'])['차대번호'].count()

등급_수정  배출가스인증번호
3.00   5MY-AD-13-07      118
       5MY-AD-13-13       51
       5MY-HD-24-59      164
       6MY-AD-13-11      493
       7MY-AD-13-01      565
       7MY-AD-13-05       26
       7MY-AD-13-06      207
       7MY-DB-24-42       13
       7MY-DK-24-04      148
       7MY-HD-24-31        3
       8MY-SY-13-14      313
       9MY-JL-14-4       273
       CMY-VTK-14-01       2
       CMY-VTK-14-02      24
       FMY-VTK-14-1     1768
       FMY-VTK-14-2       86
       FMY-VTK-14-3       76
       FMY-VTK-14-4       49
Name: 차대번호, dtype: int64

In [11]:
df3.groupby(['등급_수정', '배인번호_수정'])['차대번호'].count()

등급_수정  배인번호_수정
3.00   5MY-AD-13-07      118
       5MY-AD-13-13       51
       6MY-AD-13-11      493
       7MY-AD-13-01      565
       7MY-AD-13-05       26
       7MY-AD-13-06      207
       7MY-DK-24-04      148
       8MY-SY-13-14      313
       9MY-JL-14-4       273
       BMY-HD-14-54        3
       BMY-KM-14-32        1
       CMY-HD-14-11      164
       CMY-VTK-14-01       2
       CMY-VTK-14-02      24
       FMY-DB-14-54       13
       FMY-VTK-14-1     1780
       FMY-VTK-14-2       87
       FMY-VTK-14-3       76
       FMY-VTK-14-4       49
       확인불가                3
Name: 차대번호, dtype: int64

In [12]:
df.loc[df['배출가스인증번호'] == 'EMY-HD-14-48', ['배출가스인증번호', '배인번호_수정', '등급_수정', '제작사명', '차명']]

Empty DataFrame
Columns: [배출가스인증번호, 배인번호_수정, 등급_수정, 제작사명, 차명]
Index: []

In [13]:
df.loc[df['배인번호_수정'] == 'EMY-HD-14-48', ['배출가스인증번호', '배인번호_수정', '등급_수정', '제작사명', '차명']]

Empty DataFrame
Columns: [배출가스인증번호, 배인번호_수정, 등급_수정, 제작사명, 차명]
Index: []

In [14]:
df5 = df.loc[df['등급_수정'] == 5].reset_index(drop=True)
df5.shape

(127, 33)

In [15]:
df5.groupby(['등급_수정', '배출가스인증번호'])['차대번호'].count()

등급_수정  배출가스인증번호
5.00   4MY-DC-33        7
       5MY-SY-24-48     2
       6MY-HD-23-55     3
       7MY-DK-24-04     8
       7MY-HD-14-68     1
       8MY-KM-13-19    83
       9MY-KM-14-41     2
Name: 차대번호, dtype: int64

In [16]:
df5.groupby(['등급_수정', '배인번호_수정'])['차대번호'].count()

등급_수정  배인번호_수정
5.00   3MY-HD-14        8
       3MY-HD-15        1
       4MY-DK-04        8
       4MY-KM-03        1
       4MY-KM-06       84
       4MY-KM-07        4
       5MY-KM-24-32     6
       5MY-SY-24-48     2
       6MY-DC-23-17     7
       6MY-HD-23-55     3
       확인불가             3
Name: 차대번호, dtype: int64

In [17]:
today_date = datetime.today().strftime("%Y.%m.%d.%p.%I.%M.%S")
today_date

'2023.04.13.AM.10.56.45'

In [18]:
df.columns

Index(['차대번호', '차량번호', '제원관리번호', '차종', '용도', '최초등록일', '연식', '제작일자', '검사유효일',
       '배출가스인증번호', '등급', '차명', '차종분류', '차종유형', '자동차형식', '제작사명', '연료', '엔진형식',
       '총중량', '적재중량', '엔진출력', '배기량', '법정동코드', '시도명', '시군구명', '소유자구분', '말소여부',
       '일치유무', '배인번호_수정', '등급_수정', 'DPF유무_수정', 'fuel', 'Grade'],
      dtype='object')

In [19]:
df.drop('fuel', axis=1, inplace=True)

In [20]:
df.columns

Index(['차대번호', '차량번호', '제원관리번호', '차종', '용도', '최초등록일', '연식', '제작일자', '검사유효일',
       '배출가스인증번호', '등급', '차명', '차종분류', '차종유형', '자동차형식', '제작사명', '연료', '엔진형식',
       '총중량', '적재중량', '엔진출력', '배기량', '법정동코드', '시도명', '시군구명', '소유자구분', '말소여부',
       '일치유무', '배인번호_수정', '등급_수정', 'DPF유무_수정', 'Grade'],
      dtype='object')

In [21]:
# about 12m 55s
df.iloc[:700000].to_excel(os.path.join(raw_fold, f'4등급 차량 리스트 양식(전체) result 최종 Grade 추가01({today_date}).xlsx'), index=False)
df.iloc[700000:].to_excel(os.path.join(raw_fold, f'4등급 차량 리스트 양식(전체) result 최종 Grade 추가02({today_date}).xlsx'), index=False)

# 코드 마지막