# Library

In [1]:
import pandas as pd
import numpy as np
import os
from datetime import datetime

# fold path

In [6]:
ods_fold = 'D:/data/big2/ODS'
fold = 'D:/data/big2/BD1_4등급_데이터_점검1'
raw_fold = 'D:/data/big2/BD1/raw'

In [7]:
# 소수점 옵션
pd.options.display.float_format = '{:.2f}'.format
# pd.reset_option('display.float_format')

# 9MY-KM-14-22 차량 확인

## 등록&제원정보(말소제거)

In [4]:
# about 6m 48s
file_name = '[ODS]등록정보&제원정보(말소제거)(2022.12.28).csv'
car_info = pd.read_csv(os.path.join(ods_fold, file_name), encoding='cp949', low_memory=False)
car_info.info()

In [ ]:
car_info.columns

Index(['차량관리번호', '차량등록번호', '본거지법정동코드', '소유자구분', '차종_등록정보', '용도', '현재회원번호',
       '차대번호', '최초등록일자', '차량연식', '차량제작일자', '배출가스검사유효일자', '제원관리번호', '배출가스인증번호',
       '배출가스등급', '저공해조치YN(미사용)', '저공해조치종류', '저공해조치구조변경YN', '차량등록번호숫자정보',
       '차량말소YN', '최초회원번호', '취득일자', '취득금액', '생성일시_등록정보', '수정일시_등록정보', '차명',
       '차종_제원정보', '차종분류', '차종유형(소분류)', '자동차형식', '제작사명', '연료', '엔진형식', '공차중량',
       '총중량', '적재중량', '엔진출력', '배기량', '승차인원', '차량길이', '차량너비', '차량높이', '원산지명',
       '삭제YN', '승인일자', '구동형식', '변속기종류', '생성일시_제원정보', '수정일시_제원정보'],
      dtype='object')

In [6]:
car_info[car_info['배출가스인증번호'] == '9MY-KM-14-22'].shape

(94868, 49)

In [14]:
car_info.loc[car_info['배출가스인증번호'] == '9MY-KM-14-22', '배출가스등급'].value_counts(dropna=False)

3    94868
Name: 배출가스등급, dtype: int64

In [21]:
car_info.loc[car_info['배출가스인증번호'] == '9MY-KM-14-22', '차량말소YN'].value_counts(dropna=False)

N    87217
Y     7651
Name: 차량말소YN, dtype: int64

## 4등급_차량_리스트_양식_result

In [17]:
# about 27s
file_name = '[병합]4등급_차량_리스트_양식_result.csv'
result = pd.read_csv(os.path.join(fold, file_name), encoding='cp949', low_memory=False)
result.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1153813 entries, 0 to 1153812
Data columns (total 64 columns):
 #   Column     Non-Null Count    Dtype
---  ------     --------------    -----
 0   차대번호       1153813 non-null  object
 1   차량번호_x     1153813 non-null  object
 2   제원관리번호     1153813 non-null  object
 3   차종_원본      1153813 non-null  object
 4   용도         1153813 non-null  object
 5   최초등록일      1153813 non-null  int64
 6   연식         1153813 non-null  int64
 7   제작일자       1153809 non-null  float64
 8   검사유효일      1153810 non-null  float64
 9   배출가스인증번호   1146663 non-null  object
 10  등급         1153813 non-null  int64
 11  차명_x       1153813 non-null  object
 12  차종분류       1153813 non-null  object
 13  차종유형       1153813 non-null  object
 14  자동차형식      1153812 non-null  object
 15  제작사명       1153795 non-null  object
 16  연료         1153813 non-null  object
 17  엔진형식_x     1153813 non-null  object
 18  총중량        1153813 non-null  float64
 19  적재중량       1153589 non-null  float64
 20  엔진출력       1153811 non-null  float64
 21  배기량        1153813 non-null  float64
 22  법정동코드      1153813 non-null  int64
 23  시도명        1153813 non-null  object
 24  시군구명       1153813 non-null  object
 25  소유자구분      1153813 non-null  object
 26  말소여부       1153813 non-null  object
 27  일치유무       1153813 non-null  object
 28  사용연료       1131176 non-null  object
 29  주행거리       1131063 non-null  float64
 30  차명_y       1131176 non-null  object
 31  차량번호_y     1131176 non-null  object
 32  차종         1131176 non-null  object
 33  차량연식       1131176 non-null  float64
 34  엔진형식_y     1131165 non-null  object
 35  검사방법       1131176 non-null  object
 36  검사일자       1131176 non-null  float64
 37  검사종류       1131176 non-null  object
 38  검사판정시각     1122501 non-null  object
 39  검사판정       1131176 non-null  object
 40  산소값        817299 non-null   float64
 41  이산화탄소값     817299 non-null   float64
 42  무부하매연판정1   1122497 non-null  object
 43  무부하매연판정2   44435 non-null    object
 44  무부하매연판정3   43534 non-null    object
 45  무부하매연판정4   43532 non-null    object
 46  무부하매연판정5   43532 non-null    object
 47  무부하매연판정6   46 non-null       object
 48  무부하매연허용치1  1122497 non-null  float64
 49  무부하매연허용치2  333612 non-null   float64
 50  무부하매연허용치3  333611 non-null   float64
 51  무부하매연허용치4  333609 non-null   float64
 52  무부하매연허용치5  333609 non-null   float64
 53  무부하매연허용치6  301714 non-null   float64
 54  무부하매연측정치1  1122501 non-null  float64
 55  무부하매연측정치2  367673 non-null   float64
 56  무부하매연측정치3  333613 non-null   float64
 57  무부하매연측정치4  333611 non-null   float64
 58  무부하매연측정치5  333611 non-null   float64
 59  무부하매연측정치6  301714 non-null   float64
 60  정기정밀       1131176 non-null  object
 61  vin10      1153813 non-null  object
 62  vin_year   1153810 non-null  float64
 63  DPF유무      1153813 non-null  object
dtypes: float64(24), int64(4), object(36)
memory usage: 563.4+ MB

In [18]:
result.columns

Index(['차대번호', '차량번호_x', '제원관리번호', '차종_원본', '용도', '최초등록일', '연식', '제작일자',
       '검사유효일', '배출가스인증번호', '등급', '차명_x', '차종분류', '차종유형', '자동차형식', '제작사명',
       '연료', '엔진형식_x', '총중량', '적재중량', '엔진출력', '배기량', '법정동코드', '시도명', '시군구명',
       '소유자구분', '말소여부', '일치유무', '사용연료', '주행거리', '차명_y', '차량번호_y', '차종', '차량연식',
       '엔진형식_y', '검사방법', '검사일자', '검사종류', '검사판정시각', '검사판정', '산소값', '이산화탄소값',
       '무부하매연판정1', '무부하매연판정2', '무부하매연판정3', '무부하매연판정4', '무부하매연판정5', '무부하매연판정6',
       '무부하매연허용치1', '무부하매연허용치2', '무부하매연허용치3', '무부하매연허용치4', '무부하매연허용치5',
       '무부하매연허용치6', '무부하매연측정치1', '무부하매연측정치2', '무부하매연측정치3', '무부하매연측정치4',
       '무부하매연측정치5', '무부하매연측정치6', '정기정밀', 'vin10', 'vin_year', 'DPF유무'],
      dtype='object')

In [19]:
result['등급'].value_counts(dropna=True)

4    1153813
Name: 등급, dtype: int64

In [20]:
result[result['배출가스인증번호'] == '9MY-KM-14-22'].shape

(39626, 64)

# 4,5 등급 검사 기록 확인

In [5]:
# about 33s
grade = 4
file_name = f'[ODS][G{grade}]등록정보&제원정보(연료수정)(등급컬럼추가)(2022.12.28).csv'
g4 =  pd.read_csv(os.path.join(ods_fold, file_name), low_memory=False)
g4.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1511211 entries, 0 to 1511210
Data columns (total 59 columns):
 #   Column        Non-Null Count    Dtype
---  ------        --------------    -----
 0   차량관리번호        1511211 non-null  object
 1   차량등록번호        1511211 non-null  object
 2   본거지법정동코드      1511211 non-null  int64
 3   소유자구분         1511211 non-null  object
 4   차종_등록정보       1511209 non-null  object
 5   용도            1511211 non-null  object
 6   현재회원번호        1510372 non-null  object
 7   차대번호          1511211 non-null  object
 8   최초등록일자        1511211 non-null  int64
 9   차량연식          1511211 non-null  int64
 10  차량제작일자        1342438 non-null  float64
 11  배출가스검사유효일자    1511199 non-null  float64
 12  제원관리번호        1511211 non-null  object
 13  배출가스인증번호      1387511 non-null  object
 14  배출가스등급        1511211 non-null  object
 15  저공해조치YN(미사용)  1511056 non-null  object
 16  저공해조치종류       189 non-null      float64
 17  저공해조치구조변경YN   1511211 non-null  object
 18  차량등록번호숫자정보    1511211 non-null  int64
 19  차량말소YN        1511211 non-null  object
 20  최초회원번호        1506556 non-null  object
 21  취득일자          1417997 non-null  object
 22  취득금액          1436810 non-null  float64
 23  생성일시_등록정보     1511211 non-null  object
 24  수정일시_등록정보     915024 non-null   object
 25  차명            1511211 non-null  object
 26  차종_제원정보       1511211 non-null  object
 27  차종분류          1511211 non-null  object
 28  차종유형(소분류)     1511211 non-null  object
 29  자동차형식         1510683 non-null  object
 30  제작사명          1501184 non-null  object
 31  연료            1511211 non-null  object
 32  엔진형식          1509210 non-null  object
 33  공차중량          0 non-null        float64
 34  총중량           1511186 non-null  float64
 35  적재중량          1510674 non-null  float64
 36  엔진출력          1510583 non-null  float64
 37  배기량           1511200 non-null  float64
 38  승차인원          1511211 non-null  float64
 39  차량길이          1511136 non-null  float64
 40  차량너비          1511136 non-null  float64
 41  차량높이          1511134 non-null  float64
 42  원산지명          1492086 non-null  object
 43  삭제YN          1511211 non-null  object
 44  승인일자          1510664 non-null  object
 45  구동형식          47 non-null       float64
 46  변속기종류         1511051 non-null  object
 47  생성일시_제원정보     1511211 non-null  object
 48  수정일시_제원정보     497 non-null      object
 49  법정동코드         1511210 non-null  float64
 50  시도            1511211 non-null  object
 51  시구군           1511206 non-null  object
 52  읍면동           1505988 non-null  object
 53  리             426575 non-null   object
 54  지역3           0 non-null        float64
 55  폐지여부          1511210 non-null  object
 56  대기관리권역        1511211 non-null  object
 57  대기관리권역YN      1511211 non-null  object
 58  등급            1511211 non-null  int64
dtypes: float64(16), int64(5), object(38)
memory usage: 680.2+ MB

In [6]:
# about 25s
grade = 5
file_name = f'[ODS][G{grade}]등록정보&제원정보(연료수정)(등급컬럼추가)(2022.12.28).csv'
g5 =  pd.read_csv(os.path.join(ods_fold, file_name), low_memory=False)
g5.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1154724 entries, 0 to 1154723
Data columns (total 59 columns):
 #   Column        Non-Null Count    Dtype
---  ------        --------------    -----
 0   차량관리번호        1154724 non-null  object
 1   차량등록번호        1154724 non-null  object
 2   본거지법정동코드      1154724 non-null  int64
 3   소유자구분         1154724 non-null  object
 4   차종_등록정보       1154712 non-null  object
 5   용도            1154724 non-null  object
 6   현재회원번호        1146055 non-null  object
 7   차대번호          1154724 non-null  object
 8   최초등록일자        1154724 non-null  int64
 9   차량연식          1154724 non-null  int64
 10  차량제작일자        959049 non-null   float64
 11  배출가스검사유효일자    1154212 non-null  float64
 12  제원관리번호        1154724 non-null  object
 13  배출가스인증번호      542935 non-null   object
 14  배출가스등급        1154724 non-null  object
 15  저공해조치YN(미사용)  1154650 non-null  object
 16  저공해조치종류       361633 non-null   float64
 17  저공해조치구조변경YN   1154724 non-null  object
 18  차량등록번호숫자정보    1154724 non-null  int64
 19  차량말소YN        1154724 non-null  object
 20  최초회원번호        1129449 non-null  object
 21  취득일자          1014503 non-null  float64
 22  취득금액          1040432 non-null  float64
 23  생성일시_등록정보     1154724 non-null  object
 24  수정일시_등록정보     556088 non-null   object
 25  차명            1154723 non-null  object
 26  차종_제원정보       1154724 non-null  object
 27  차종분류          1154724 non-null  object
 28  차종유형(소분류)     1154724 non-null  object
 29  자동차형식         1154202 non-null  object
 30  제작사명          1151506 non-null  object
 31  연료            1154724 non-null  object
 32  엔진형식          1151218 non-null  object
 33  공차중량          0 non-null        float64
 34  총중량           1154723 non-null  float64
 35  적재중량          1154713 non-null  float64
 36  엔진출력          1154412 non-null  float64
 37  배기량           1154722 non-null  float64
 38  승차인원          1154723 non-null  float64
 39  차량길이          1154723 non-null  float64
 40  차량너비          1154723 non-null  float64
 41  차량높이          1154723 non-null  float64
 42  원산지명          1113101 non-null  object
 43  삭제YN          1154724 non-null  object
 44  승인일자          1153531 non-null  object
 45  구동형식          7 non-null        float64
 46  변속기종류         1154722 non-null  object
 47  생성일시_제원정보     1154724 non-null  object
 48  수정일시_제원정보     218 non-null      object
 49  법정동코드         1154723 non-null  float64
 50  시도            1154724 non-null  object
 51  시구군           1154703 non-null  object
 52  읍면동           1152132 non-null  object
 53  리             386373 non-null   object
 54  지역3           0 non-null        float64
 55  폐지여부          1154723 non-null  object
 56  대기관리권역        1154724 non-null  object
 57  대기관리권역YN      1154724 non-null  object
 58  등급            1154724 non-null  int64
dtypes: float64(17), int64(5), object(37)
memory usage: 519.8+ MB

In [7]:
# about 4m 25s
file_name = '[ODS]정기&정밀검사(최신검사만)(2022.12.28).csv'
tin = pd.read_csv(os.path.join(ods_fold, file_name), low_memory=False)
tin.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22044208 entries, 0 to 22044207
Data columns (total 42 columns):
 #   Column     Dtype
---  ------     -----
 0   사용연료       object
 1   주행거리       object
 2   차명         object
 3   차량번호       object
 4   차대번호       object
 5   차종         object
 6   차량연식       int64
 7   엔진형식       object
 8   검사방법       object
 9   검사일자       int64
 10  검사종류       object
 11  검사판정시각     object
 12  검사판정       object
 13  산소값        float64
 14  이산화탄소값     float64
 15  무부하매연판정1   object
 16  무부하매연판정2   object
 17  무부하매연판정3   object
 18  무부하매연판정4   object
 19  무부하매연판정5   object
 20  무부하매연판정6   object
 21  무부하매연허용치1  float64
 22  무부하매연허용치2  float64
 23  무부하매연허용치3  float64
 24  무부하매연허용치4  float64
 25  무부하매연허용치5  float64
 26  무부하매연허용치6  float64
 27  무부하매연측정치1  float64
 28  무부하매연측정치2  float64
 29  무부하매연측정치3  float64
 30  무부하매연측정치4  float64
 31  무부하매연측정치5  float64
 32  무부하매연측정치6  float64
 33  차량용도       object
 34  최대출력허용치    float64
 35  최대출력측정값    float64
 36  검사접수번호     object
 37  검사소명       object
 38  재검사기간      object
 39  정기정밀       object
 40  검사 검사소코드   object
 41  검사유효기간     float64
dtypes: float64(17), int64(2), object(23)
memory usage: 6.9+ GB

In [8]:
tin.columns

Index(['사용연료', '주행거리', '차명', '차량번호', '차대번호', '차종', '차량연식', '엔진형식', '검사방법',
       '검사일자', '검사종류', '검사판정시각', '검사판정', '산소값', '이산화탄소값', '무부하매연판정1',
       '무부하매연판정2', '무부하매연판정3', '무부하매연판정4', '무부하매연판정5', '무부하매연판정6', '무부하매연허용치1',
       '무부하매연허용치2', '무부하매연허용치3', '무부하매연허용치4', '무부하매연허용치5', '무부하매연허용치6',
       '무부하매연측정치1', '무부하매연측정치2', '무부하매연측정치3', '무부하매연측정치4', '무부하매연측정치5',
       '무부하매연측정치6', '차량용도', '최대출력허용치', '최대출력측정값', '검사접수번호', '검사소명', '재검사기간',
       '정기정밀', '검사 검사소코드', '검사유효기간'],
      dtype='object')

## 최근 3년 검사 데이터 추출

In [9]:
tin['검사일자'].describe()

count   22044208.00
mean    20213557.70
std         8679.78
min     20190102.00
25%     20210427.00
50%     20211222.00
75%     20220614.00
max     20230107.00
Name: 검사일자, dtype: float64

In [10]:
tin1 = tin[(tin['검사일자'] >= 20200101) & (tin['검사일자'] <= 20221231)]
tin1.shape

(20547872, 42)

In [11]:
tin1['검사일자'].describe()

count   20547872.00
mean    20214858.24
std         6580.17
min     20200102.00
25%     20210611.00
50%     20220113.00
75%     20220620.00
max     20221231.00
Name: 검사일자, dtype: float64

In [12]:
g4['연료'].value_counts(dropna=False)

경유             1152694
휘발유             333822
LPG(액화석유가스)      24692
무동력                  1
CNG(압축천연가스)          1
알코올                  1
Name: 연료, dtype: int64

In [13]:
g5['연료'].value_counts(dropna=False)

경유             1124189
휘발유              30093
LPG(액화석유가스)        431
CNG(압축천연가스)          5
무동력                  5
알코올                  1
Name: 연료, dtype: int64

In [14]:
g4.shape

(1511211, 59)

In [15]:
g4 = g4.sort_values(['최초등록일자', '배출가스검사유효일자'], ascending=[False, False]).drop_duplicates('차대번호').reset_index(drop=True)
g4.shape

(1511211, 59)

In [16]:
g5.shape

(1154724, 59)

In [17]:
g5 = g5.sort_values(['최초등록일자', '배출가스검사유효일자'], ascending=[False, False]).drop_duplicates('차대번호').reset_index(drop=True)
g5.shape

(1154724, 59)

In [18]:
# about 47s
g4_tin = g4.merge(tin1, on='차대번호', how='left')
g4_tin.shape

(1511211, 100)

In [19]:
# about 43s
g5_tin = g5.merge(tin1, on='차대번호', how='left')
g5_tin.shape

(1154724, 100)

In [20]:
g4_tin['검사방법'].unique()

array([nan, '부하검사(KD-147)', '부하검사(LUG DOWN)', '무부하검사(급가속)',
       '부하검사(ASM-Idling)', '무부하검사(TSI)', '무부하검사(정지가동)'], dtype=object)

In [21]:
g4_tin['검사종류'].unique()

array([nan, '2부재검사(종합)', '종합검사(경과)', '종합검사', '정기검사', '정기(경과)검사',
       '재검사(2부재검사)', '재검사(1부재검사)', '1부재검사(종합)'], dtype=object)

In [22]:
g5_tin['검사방법'].unique()

array([nan, '부하검사(KD-147)', '무부하검사(급가속)', '부하검사(LUG DOWN)', '무부하검사(TSI)',
       '부하검사(ASM-Idling)', '무부하검사(정지가동)'], dtype=object)

In [23]:
g5_tin['검사종류'].unique()

array([nan, '종합검사', '2부재검사(종합)', '정기검사', '종합검사(경과)', '재검사(2부재검사)',
       '재검사(1부재검사)', '정기(경과)검사', '1부재검사(종합)'], dtype=object)

In [24]:
view_cols = ['검사방법', '검사일자', '검사종류', '검사판정시각', '검사판정', 
'무부하매연판정1', '무부하매연측정치1',
'무부하매연판정2', '무부하매연측정치2',
'무부하매연판정3', '무부하매연측정치3',
'무부하매연판정4', '무부하매연측정치4',
'무부하매연판정5', '무부하매연측정치5',
'무부하매연판정6', '무부하매연측정치6',]

In [25]:
g4_tin[g4_tin['연료'] == '알코올'].reset_index(drop=True)[view_cols].isnull().sum().reset_index()

        index  0
0        검사방법  0
1        검사일자  0
2        검사종류  0
3      검사판정시각  0
4        검사판정  0
5    무부하매연판정1  0
6   무부하매연측정치1  0
7    무부하매연판정2  0
8   무부하매연측정치2  0
9    무부하매연판정3  0
10  무부하매연측정치3  0
11   무부하매연판정4  0
12  무부하매연측정치4  0
13   무부하매연판정5  0
14  무부하매연측정치5  0
15   무부하매연판정6  0
16  무부하매연측정치6  0

In [26]:
g4_miss = pd.DataFrame({'컬럼명':view_cols})
for one in g4_tin['연료'].unique():
    temp = g4_tin[g4_tin['연료'] == one].reset_index(drop=True)[view_cols].isnull().sum().reset_index()
    temp.columns = ['컬럼명', f'4등급_{one}']
    g4_miss = g4_miss.merge(temp, on='컬럼명', how='left')

In [27]:
g4_miss

,컬럼명,4등급_경유,4등급_휘발유,4등급_무동력,4등급_LPG(액화석유가스),4등급_CNG(압축천연가스),4등급_알코올
0,검사방법,44049,276732,0,20380,0,0
1,검사일자,44049,276732,0,20380,0,0
2,검사종류,44049,276732,0,20380,0,0
3,검사판정시각,52626,277303,0,20425,0,0
4,검사판정,44049,276732,0,20380,0,0
5,무부하매연판정1,52631,277835,1,20478,0,0
6,무부하매연측정치1,52626,277835,1,20478,0,0
7,무부하매연판정2,1108844,277856,1,20478,1,0
8,무부하매연측정치2,794728,277846,1,20478,1,0
9,무부하매연판정3,1109724,277856,1,20478,1,0
10,무부하매연측정치3,829071,277848,1,20478,1,0
11,무부하매연판정4,1109726,278331,1,20658,1,0
12,무부하매연측정치4,829073,278321,1,20658,1,0
13,무부하매연판정5,1109726,278331,1,20658,1,0
14,무부하매연측정치5,829073,278321,1,20658,1,0
15,무부하매연판정6,1152689,278331,1,20658,1,0
16,무부하매연측정치6,860557,278321,1,20658,1,0

In [28]:
g5_miss = pd.DataFrame({'컬럼명':view_cols})
for one in g5_tin['연료'].unique():
    temp = g5_tin[g5_tin['연료'] == one].reset_index(drop=True)[view_cols].isnull().sum().reset_index()
    temp.columns = ['컬럼명', f'5등급_{one}']
    g5_miss = g5_miss.merge(temp, on='컬럼명', how='left')

In [29]:
g5_miss

,컬럼명,5등급_경유,5등급_휘발유,5등급_CNG(압축천연가스),5등급_LPG(액화석유가스),5등급_무동력,5등급_알코올
0,검사방법,417784,29714,3,428,1,1
1,검사일자,417784,29714,3,428,1,1
2,검사종류,417784,29714,3,428,1,1
3,검사판정시각,423735,29718,3,428,1,1
4,검사판정,417784,29714,3,428,1,1
5,무부하매연판정1,423944,29725,3,428,3,1
6,무부하매연측정치1,423935,29725,3,428,3,1
7,무부하매연판정2,1017451,29736,3,428,4,1
8,무부하매연측정치2,890190,29731,3,428,4,1
9,무부하매연판정3,1017777,29736,3,428,4,1
10,무부하매연측정치3,909623,29733,3,428,4,1
11,무부하매연판정4,1018120,29745,3,430,4,1
12,무부하매연측정치4,909965,29737,3,430,4,1
13,무부하매연판정5,1018120,29745,3,430,4,1
14,무부하매연측정치5,909965,29737,3,430,4,1
15,무부하매연판정6,1115337,29745,5,430,5,1
16,무부하매연측정치6,982786,29737,4,430,5,1

In [30]:
g45_miss = g4_miss.merge(g5_miss, on='컬럼명', how='left')
g45_miss

,컬럼명,4등급_경유,4등급_휘발유,4등급_무동력,4등급_LPG(액화석유가스),4등급_CNG(압축천연가스),4등급_알코올,5등급_경유,5등급_휘발유,5등급_CNG(압축천연가스),5등급_LPG(액화석유가스),5등급_무동력,5등급_알코올
0,검사방법,44049,276732,0,20380,0,0,417784,29714,3,428,1,1
1,검사일자,44049,276732,0,20380,0,0,417784,29714,3,428,1,1
2,검사종류,44049,276732,0,20380,0,0,417784,29714,3,428,1,1
3,검사판정시각,52626,277303,0,20425,0,0,423735,29718,3,428,1,1
4,검사판정,44049,276732,0,20380,0,0,417784,29714,3,428,1,1
5,무부하매연판정1,52631,277835,1,20478,0,0,423944,29725,3,428,3,1
6,무부하매연측정치1,52626,277835,1,20478,0,0,423935,29725,3,428,3,1
7,무부하매연판정2,1108844,277856,1,20478,1,0,1017451,29736,3,428,4,1
8,무부하매연측정치2,794728,277846,1,20478,1,0,890190,29731,3,428,4,1
9,무부하매연판정3,1109724,277856,1,20478,1,0,1017777,29736,3,428,4,1
10,무부하매연측정치3,829071,277848,1,20478,1,0,909623,29733,3,428,4,1
11,무부하매연판정4,1109726,278331,1,20658,1,0,1018120,29745,3,430,4,1
12,무부하매연측정치4,829073,278321,1,20658,1,0,909965,29737,3,430,4,1
13,무부하매연판정5,1109726,278331,1,20658,1,0,1018120,29745,3,430,4,1
14,무부하매연측정치5,829073,278321,1,20658,1,0,909965,29737,3,430,4,1
15,무부하매연판정6,1152689,278331,1,20658,1,0,1115337,29745,5,430,5,1
16,무부하매연측정치6,860557,278321,1,20658,1,0,982786,29737,4,430,5,1

In [31]:
today_date = datetime.today().strftime("%Y.%m.%d_%p.%H.%M.%S")
today_date

'2023.02.22_PM.21.22.39'

In [32]:
g45_miss.to_excel(f'analysis2/4_5등급_검사_결측치_{today_date}.xlsx', index=False)

# 비상시 및 계절제 단속발령

In [5]:
# about 3m
file_name = 'ODS_N_IS_ISSUE_DISCLOSURE_1.txt'
df = pd.read_table(os.path.join(ods_fold, file_name), encoding='cp949', low_memory=False)
df.info()

C:\Users\kbjung\AppData\Local\Temp\ipykernel_19588\3153179374.py:2: DtypeWarning: Columns (17,18,19,20,21,22,23) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_table(os.path.join(ods_fold, file_name), encoding='cp949')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11387230 entries, 0 to 11387229
Data columns (total 25 columns):
 #   Column              Dtype
---  ------              -----
 0   REGLT_NO            int64
 1   GNFD_NO             int64
 2   REG_SIDO_CD         int64
 3   REG_SIGNGU_CD       int64
 4   REGLT_AREA_CD       int64
 5   TFCLNE_ID           object
 6   DISCL_DEHMS         int64
 7   VHMNO               object
 8   VIN                 object
 9   VHRNO               object
 10  FILE_NM             object
 11  FILE_CURS_NM        object
 12  ORG_FILE_CURS_NM    object
 13  THUMB_FILE_CURS_NM  object
 14  DTL_FILE_CURS_NM    object
 15  REG_ID              object
 16  REG_DT              object
 17  EXCLU_REG_DT        object
 18  RDCDVC_YN           object
 19  BSN_YN              object
 20  RWMR_YN             object
 21  DSPN_YN             object
 22  RQT_YN              object
 23  UNDEVT_YN           object
 24  SND_YN              object
dtypes: int64(6), object(19)
memory usage: 2.1+ GB

In [10]:
col_df = pd.read_excel('C:/Users/kbjung/Documents/GitHub/wabotech/car_big_data_2/analysis/ODSvsSTD/[정제][STD]N_IS_ISSUE_DISCLOSURE.xlsx', sheet_name='ODS_col')
col_dict = {a:b for a,b in col_df[['컬럼', '내용']].values}
col_dict

{'DISCL_DEHMS': '적발 일자시각',
 'REGLT_AREA_CD': '운행제한 단속 발령대상 지역코드',
 'VHMNO': '차량관리번호',
 'VIN': '차대번호',
 'VHRNO': '차량등록번호',
 'GNFD_NO': '발령 번호'}

In [15]:
list(col_dict.keys())

['DISCL_DEHMS', 'REGLT_AREA_CD', 'VHMNO', 'VIN', 'VHRNO', 'GNFD_NO']

In [16]:
df = df[col_dict.keys()]
df.shape

(11387230, 6)

In [18]:
df.columns = [col_dict[x] for x in df.columns]

In [19]:
df.head()

,적발 일자시각,운행제한 단속 발령대상 지역코드,차량관리번호,차대번호,차량등록번호,발령 번호
0,20191210063620,41210,KMHSJ81WP7U110625-01,KMHSJ81WP7U110625,15저1751,1
1,20191210063616,41630,KMFZCD7JP7U242521-01,KMFZCD7JP7U242521,93주2883,1
2,20191210063615,41360,KMHMJ81VP6U273601-01,KMHMJ81VP6U273601,51라2593,1
3,20191210063614,41210,KMFGA17PP7C052658-01,KMFGA17PP7C052658,서울84사4162,1
4,20191210063608,41360,KN3HNP6D24K001779-01,KN3HNP6D24K001779,96조1676,1

In [20]:
df.head(10).to_excel('비상시_및_계절제_단속발령.xlsx', index=False)

# 운행제한 발령정보

In [23]:
# about 0s
file_name = 'ODS_N_IS_ISSUE.csv'
df = pd.read_csv(os.path.join(ods_fold, file_name), low_memory=False)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1785 entries, 0 to 1784
Data columns (total 16 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   GNFD_NO             1785 non-null   int64
 1   RPST_GNFD_NO        1785 non-null   int64
 2   DNSTY_STDR_ID       1785 non-null   object
 3   TY_STDR_ID          1785 non-null   object
 4   GNFD_NM             1785 non-null   object
 5   GNFD_EXEC_CND_FLAG  1785 non-null   object
 6   GNFD_EXEC_RESRV_DT  1784 non-null   object
 7   BEFT_ESTBS_ID       0 non-null      float64
 8   DC                  1785 non-null   object
 9   GNFD_EXC_FLAG       1785 non-null   object
 10  HMPG_INDIC_YN       1785 non-null   object
 11  LCINFO_API_YN       1785 non-null   object
 12  REG_ID              1785 non-null   object
 13  REG_DT              1785 non-null   object
 14  UPDT_ID             1652 non-null   object
 15  UPDT_DT             1652 non-null   object
dtypes: float64(1), int64(2), object(13)
memory usage: 223.2+ KB

In [24]:
col_df = pd.read_excel('C:/Users/kbjung/Documents/GitHub/wabotech/car_big_data_2/analysis/ODSvsSTD/[정제]N_IS_ISSUE.xlsx', sheet_name='ODS_col')
col_dict = {a:b for a,b in col_df[['컬럼', '내용']].values}
col_dict

{'TY_STDR_ID': '유형 구분',
 'UPDT_DT': '수정 일시',
 'DNSTY_STDR_ID': '농도기준 발령구분',
 'GNFD_NO': '발령 번호',
 'RPST_GNFD_NO': '미정',
 'GNFD_NM': '미정',
 'GNFD_EXEC_CND_FLAG': '미정',
 'GNFD_EXEC_RESRV_DT': '미정',
 'BEFT_ESTBS_ID': '미정',
 'DC': '미정',
 'GNFD_EXC_FLAG': '미정',
 'HMPG_INDIC_YN': '미정',
 'LCINFO_API_YN': '미정',
 'REG_ID': '미정',
 'REG_DT': '미정',
 'UPDT_ID': '미정'}

In [26]:
df.columns = [col_dict[x] for x in df.columns]

In [28]:
df = df[['유형 구분', '수정 일시', '농도기준 발령구분', '발령 번호']]

In [29]:
df.head(10)

  유형 구분     수정 일시 농도기준 발령구분  발령 번호
0  T002  22/09/16      C012   2142
1  T002  22/09/17      C012   2143
2  T001  22/10/06      C012   2227
3  T001  22/10/12      C012   2245
4  T002  22/10/15      C012   2247
5  T001  22/10/21      C012   2283
6  T001  22/10/22      C012   2284
7  T001  22/10/24      C012   2293
8  T001  22/10/26      C012   2295
9  T002  22/11/03      C012   2306

In [30]:
df.head(10).to_excel('운행제한_발령정보.xlsx', index=False)

# 운행제한 단속정보

In [31]:
# about 34s
file_name = 'ODS_N_US_DISCLOSURE.csv'
df = pd.read_csv(os.path.join(ods_fold, file_name), low_memory=False)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3090035 entries, 0 to 3090034
Data columns (total 17 columns):
 #   Column              Dtype
---  ------              -----
 0   NO                  int64
 1   ODR_YM              int64
 2   REG_SIDO_CD         int64
 3   REG_SIGNGU_CD       int64
 4   DISCL_TY            object
 5   REGLT_AREA_CD       int64
 6   TFCLNE_ID           object
 7   DISCL_DEHMS         int64
 8   VHMNO               object
 9   VIN                 object
 10  VHRNO               object
 11  FILE_NM             object
 12  ORG_FILE_CURS_NM    object
 13  THUMB_FILE_CURS_NM  object
 14  DTL_FILE_CURS_NM    object
 15  REG_ID              object
 16  REG_DT              object
dtypes: int64(6), object(11)
memory usage: 400.8+ MB

In [32]:
col_df = pd.read_excel('C:/Users/kbjung/Documents/GitHub/wabotech/car_big_data_2/analysis/ODSvsSTD/[정제]N_US_DISCLOSURE.xlsx', sheet_name='ODS_col')
col_dict = {a:b for a,b in col_df[['컬럼', '내용']].values}
col_dict

{'DISCL_DEHMS': '적발일시',
 'VIN': '차대번호',
 'VHRNO': '차량등록번호',
 'DISCL_TY': '적발유형',
 'REGLT_AREA_CD': '단속지역코드',
 'VHMNO': '차량관리번호',
 'NO': '미정',
 'ODR_YM': '미정',
 'REG_SIDO_CD': '미정',
 'REG_SIGNGU_CD': '미정',
 'TFCLNE_ID': '미정',
 'FILE_NM': '미정',
 'ORG_FILE_CURS_NM': '미정',
 'THUMB_FILE_CURS_NM': '미정',
 'DTL_FILE_CURS_NM': '미정',
 'REG_ID': '미정',
 'REG_DT': '미정'}

In [33]:
df.columns = [col_dict[x] for x in df.columns]

In [35]:
df = df[['적발일시', '차대번호', '차량등록번호', '적발유형', '단속지역코드', '차량관리번호']]

In [36]:
df.head(10)

,적발일시,차대번호,차량등록번호,적발유형,단속지역코드,차량관리번호
0,20181202144438,KPBFA2AD12P021974,29다5775,S,41430,KPBFA2AD12P021974-01
1,20181202140338,KMHNN81XP2U038507,14도9561,S,41430,KMHNN81XP2U038507-01
2,20181202123742,KMFZCD7JP5U094049,80루1945,S,41430,KMFZCD7JP5U094049-01
3,20181202123328,KMFWVH7HP4U579325,97두9546,S,41130,KMFWVH7HP4U579325-01
4,20181202122920,KNAMA75433S411400,서울44누4633,S,41130,KNAMA75433S411400-01
5,20181202112313,KMFWVH7HP5U667012,90소5564,S,41130,KMFWVH7HP5U667012-01
6,20181202103235,KMHSD81VP1U152896,경기33너7194,S,41130,KMHSD81VP1U152896-01
7,20181202094638,KMJWWH7HP3U546748,인천72라1850,S,41130,KMJWWH7HP3U546748-01
8,20181202094448,KMFWVH7HP7U782166,90나9497,S,41130,KMFWVH7HP7U782166-01
9,20181202053240,KMFGA17PP5C022940,81주8706,S,41430,KMFGA17PP5C022940-01

In [37]:
df.head(10).to_excel('운행제한_단속정보.xlsx', index=False)

# 노후차 조기폐차 관리정보(수도권)

In [38]:
# about 39s
file_name = 'ODS_DLM_TB_ERP_EARLY_ERASE_AEA.csv'
df = pd.read_csv(os.path.join(ods_fold, file_name), low_memory=False)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 770311 entries, 0 to 770310
Columns: 177 entries, ELPDSRC_MNGT_NO to PFMINPC_ELPDSRC_GNRLZ_RESN
dtypes: float64(56), int64(3), object(118)
memory usage: 1.0+ GB

In [39]:
col_df = pd.read_excel('C:/Users/kbjung/Documents/GitHub/wabotech/car_big_data_2/analysis/ODSvsSTD/[정제]DLM_TB_ERP_EARLY_ERASE_AEA.xlsx', sheet_name='ODS_col')
col_dict = {a:b for a,b in col_df[['컬럼', '내용']].values}
col_dict

{'VHRNO': '차량등록번호',
 'VIN': '차대번호',
 'ELPDSRC_LST_CNFRM_YN': '조기폐차최종승인YN',
 'ELPDSRC_STUS_CD': '조기폐차상태코드',
 'ERSR_DE': '말소일자',
 'RCPT_SIDO': '접수시도',
 'RDCDVC_SE': '저감장치구분',
 'MNTNG_IMPR_YN': '저감장치 미개발(부착불가)여부',
 'SCRCAR_REG_DRVNG_DSTNC': '폐차등록주행거리',
 'ELPDSRC_MNGT_NO': '미정',
 'INST_ID_CD': '미정',
 'OWNR_NM': '미정',
 'USER_BIZRNO': '미정',
 'USER_TELNO': '미정',
 'FXNUM': '미정',
 'USER_ZIP': '미정',
 'USER_1_ADRS': '미정',
 'USER_2_ADRS': '미정',
 'RCPT_SIGNGU': '미정',
 'VHCL_YRIDNW': '미정',
 'EGINCTY': '미정',
 'VHCL_PSCP': '미정',
 'VHCL_WGHT': '미정',
 'TOT_WGHT': '미정',
 'CRYNG_WGHT': '미정',
 'VHCNM': '미정',
 'VHCL_FRM': '미정',
 'VHCTY': '미정',
 'VHCL_PURPS': '미정',
 'FST_REG_DE': '미정',
 'SCRCAR_ERA_DRVNG_DSTNC': '미정',
 'VHCL_FUEL': '미정',
 'PRCINSP_DE': '미정',
 'INSPOF_NM': '미정',
 'PRCINSP_JDGMNT_YN': '미정',
 'PRCINSP_RSLT_VAL': '미정',
 'PRCINSP_JDGMNT_STDR_VAL': '미정',
 'RCPT_DE': '미정',
 'INPT_DE': '미정',
 'RETR_NM': '미정',
 'SBSIDY_TRGT_YN': '미정',
 'ELPDSRC_TRGT_1_AT': '미정',
 'ELPDSRC_TRGT_2_AT': '미정',
 'ELPDSRC_TRGT_3_AT': '미정',
 'ELPDSRC_TRGT_4_AT': '미정',
 'ELPDSRC_TRGT_5_AT': '미정',
 'ELPDSRC_TRGT_6_AT': '미정',
 'ELPDSRC_TRGT_7_AT': '미정',
 'ELPDSRC_TRGT_CNFRM_REG_DE': '미정',
 'ELPDSRC_TRGT_CNFRM_REGR_NM': '미정',
 'PYMT_CNFRM_YN': '미정',
 'EXPC_SPRT_AMT': '미정',
 'DCIS_SPRT_AMT': '미정',
 'SBSIDY_UNPAY_RESN': '미정',
 'SBSIDY_RQEST_DE': '미정',
 'SBSIDY_RQEST_REGR_NM': '미정',
 'DOC_CNFRM_NO': '미정',
 'DOC_OUTT_DE': '미정',
 'INSP_RQT_SIWA_MTHD': '미정',
 'INSP_RQT_DE': '미정',
 'INSP_RQT_TM': '미정',
 'VRSC_ENTRPS_NM': '미정',
 'AGENT_ZIP': '미정',
 'AGENT_1_ADRS': '미정',
 'AGENT_2_ADRS': '미정',
 'AGENT_TELNO': '미정',
 'AGENT_CRTC_NO': '미정',
 'INSP_RQT_REG_DE': '미정',
 'INSP_RQT_REGR_NM': '미정',
 'PFMINPC_DE': '미정',
 'PFMINPC_1_ITM': '미정',
 'PFMINPC_2_ITM': '미정',
 'PFMINPC_3_ITM': '미정',
 'PFMINPC_4_ITM': '미정',
 'PFMINPC_5_ITM': '미정',
 'PFMINPC_ETC_ITM': '미정',
 'PFMINPC_ITM_ETC_CMPNT_NM': '미정',
 'PFMINPC_FILE_ATT_YN': '미정',
 'PFMINPC_ELPDSRC_YN': '미정',
 'PFMINPC_ELPDSRC_IMPSBL_RESN': '미정',
 'PFMINPC_REG_DE': '미정',
 'PFMINPC_REGR_NM': '미정',
 'PFMINPC_PAPE_OUTT_DE': '미정',
 'TRTMNT_DE': '미정',
 'NCAR_PUCH_PLAN_DE': '미정',
 'NCAR_PUCH_PLAN_VHCL_NM': '미정',
 'SCRCAR_ENTRPS_NM': '미정',
 'SCRCAR_ENTRPS_ZIP': '미정',
 'SCRCAR_ENTRPS_1_ADRS': '미정',
 'SCRCAR_ENTRPS_2_ADRS': '미정',
 'ELPDSRC_ATT_FILE_1_YN': '미정',
 'ELPDSRC_ATT_FILE_2_YN': '미정',
 'ELPDSRC_ATT_FILE_3_YN': '미정',
 'ELPDSRC_REG_DE': '미정',
 'ELPDSRC_REGR_NM': '미정',
 'ELPDSRC_LST_UNAP_RESN': '미정',
 'SBSIDY_PYMT_DE': '미정',
 'SBSIDY_BIZ_YR': '미정',
 'ELPDSRC_LST_CNFRM_DE': '미정',
 'ELPDSRC_LST_APRR_NM': '미정',
 'LST_CHNG_DE': '미정',
 'LST_EDIR_NM': '미정',
 'LWBCT_YN': '미정',
 'NOW_VHRNO': '미정',
 'ELPDSRC_ATT_FILE_4_YN': '미정',
 'BANK_NM': '미정',
 'BANK_ACC_NO': '미정',
 'PRCINSP_SE': '미정',
 'RCPT_LOCGOV_CD': '미정',
 'RPRSTV_NM': '미정',
 'BIZCND': '미정',
 'TYPBIZ': '미정',
 'EMAIL': '미정',
 'RCPT_SE': '미정',
 'INSP_SE': '미정',
 'ELPDSRC_TRGT_AT_ETC_RESN': '미정',
 'HST_MNGT_NO': '미정',
 'CTNT': '미정',
 'VHCTY_SE': '미정',
 'ELPDSRC_GRP': '미정',
 'BTHDY': '미정',
 'JURIRNO': '미정',
 'STDR_YM': '미정',
 'STDR_AMT': '미정',
 'WHL_EXCS_CNFRM_DE': '미정',
 'WHL_EXCS_APRR_NM': '미정',
 'MNFCT_DE': '미정',
 'OLD_SIDO': '미정',
 'OLD_SIGNGU': '미정',
 'OLD_RCPT_LOCGOV_CD': '미정',
 'OLD_1_ADRS': '미정',
 'OLD_2_ADRS': '미정',
 'OLD_VHCL_PURPS': '미정',
 'BAI_ID': '미정',
 'ADITOR_NM': '미정',
 'REG_NO': '미정',
 'RQEST_ARVL_DE': '미정',
 'RQEST_ARVL_YN': '미정',
 'BIL_CNFRMR_NM': '미정',
 'ADD_AMT': '미정',
 'SAMNS_CNFRM': '미정',
 'ADD_RQEST_ARVL_YN': '미정',
 'ADD_RQEST_ARVL_DE': '미정',
 'ADD_RQEST_CNFRMR_NM': '미정',
 'ATT_PAPE_CNFRM_AT': '미정',
 'BEF_STUS_CD': '미정',
 'WAREHOUSING_DE': '미정',
 'WAREHOUSING_YN': '미정',
 'MNTNG_IMPR_AMT': '미정',
 'ELPDSRC_ATT_FILE_5_YN': '미정',
 'ELPDSRC_VRSC_INST_NO': '미정',
 'SMAL_BUSIN_YN': '미정',
 'INPT_MTHD_FLAG': '미정',
 'ELPDSRC_ATT_FILE_7_YN': '미정',
 'STNDRD': '미정',
 'ENGINE_RPM': '미정',
 'MAKER': '미정',
 'CAR_GRADE': '미정',
 'AID_RJCT_DE': '미정',
 'IMG_LGCLFL1': '미정',
 'IMG_PHYSCL1': '미정',
 'IMG_LGCLFL2': '미정',
 'IMG_PHYSCL2': '미정',
 'IMG_LGCLFL3': '미정',
 'IMG_PHYSCL3': '미정',
 'IMG_LGCLFL4': '미정',
 'IMG_PHYSCL4': '미정',
 'PRE_SCRAP_CAR_YN': '미정',
 'DEP_YN': '미정',
 'VIRT_ACC_NO': '미정',
 'ELCTY_HYDRO_CAR_ADD_AMT': '미정',
 'PFMINPC_ITSL_APPRNC': '미정',
 'PFMINPC_BUFFER_DVICE': '미정',
 'PFMINPC_WINDOW': '미정',
 'PFMINPC_TIRE': '미정',
 'PFMINPC_ASSMI_DEVICE': '미정',
 'PFMINPC_ELPDSRC_GNRLZ_RESN': '미정'}

In [40]:
df.columns = [col_dict[x] for x in df.columns]

In [41]:
df = df[['차량등록번호', '차대번호', '조기폐차최종승인YN', '조기폐차상태코드', '말소일자', '접수시도', '저감장치구분', '저감장치 미개발(부착불가)여부', '폐차등록주행거리']]

In [42]:
df.head(10)

,차량등록번호,차대번호,조기폐차최종승인YN,조기폐차상태코드,말소일자,접수시도,저감장치구분,저감장치 미개발(부착불가)여부,폐차등록주행거리
0,73부5582,KMYKF17APRU074823,Y,Y,20100317.00,인천시,조기폐차,NaN,234306.00
1,93소6048,KMFFE17APSU290436,NaN,B,NaN,인천시,조기폐차,NaN,401697.00
2,경기74도2843,KMJWWH7BPXU115199,Y,Y,20100310.00,경기도,조기폐차,NaN,70216.00
3,39다9380,KPDHADMD1XP166822,NaN,D,NaN,경기도,조기폐차,NaN,164840.00
4,서울85도4906,KMFXKD7BPYU393462,Y,Y,20100310.00,서울시,조기폐차,NaN,119789.00
5,서울71마1065,KMYKR17DPTU144641,Y,Y,20100318.00,서울시,조기폐차,NaN,115229.00
6,39소6912,KPBEA3D81PP000973,Y,Y,20100323.00,경기도,조기폐차,NaN,259256.00
7,경기64가4464,KMXKPE1BPPU035575,NaN,M,NaN,경기도,조기폐차,NaN,297147.00
8,76거2763,KMJWWH7BPVU023641,Y,Y,20100316.00,경기도,조기폐차,NaN,260394.00
9,경기64라8978,KNAJA5265YA809242,Y,Y,20100426.00,경기도,조기폐차,NaN,207434.00

In [43]:
df.head(10).to_excel('노후차_조기폐차_관리정보(수도권).xlsx', index=False)

# [로드] 5등급 등록&제원

In [4]:
# about 
g5 = pd.read_csv(os.path.join(ods_fold, '[ODS][G5]등록정보&제원정보(연료수정)(등급컬럼추가)(2022.12.28).csv'), low_memory=False)
g5.shape

(1154724, 59)

In [6]:
g5.columns

Index(['차량관리번호', '차량등록번호', '본거지법정동코드', '소유자구분', '차종_등록정보', '용도', '현재회원번호',
       '차대번호', '최초등록일자', '차량연식', '차량제작일자', '배출가스검사유효일자', '제원관리번호', '배출가스인증번호',
       '배출가스등급', '저공해조치YN(미사용)', '저공해조치종류', '저공해조치구조변경YN', '차량등록번호숫자정보',
       '차량말소YN', '최초회원번호', '취득일자', '취득금액', '생성일시_등록정보', '수정일시_등록정보', '차명',
       '차종_제원정보', '차종분류', '차종유형(소분류)', '자동차형식', '제작사명', '연료', '엔진형식', '공차중량',
       '총중량', '적재중량', '엔진출력', '배기량', '승차인원', '차량길이', '차량너비', '차량높이', '원산지명',
       '삭제YN', '승인일자', '구동형식', '변속기종류', '생성일시_제원정보', '수정일시_제원정보', '법정동코드',
       '시도', '시구군', '읍면동', '리', '지역3', '폐지여부', '대기관리권역', '대기관리권역YN', '등급'],
      dtype='object')

## 5등급에서 찾기
- 배인번호 : 4MY-PA-06

In [8]:
g5.loc[g5['배출가스인증번호'] == '4MY-PA-06'].shape

(0, 59)

## 5등급에서 차량 찾기
+ 미기입 차량1(제원관리번호로 찾기)
    - 현대자동차 찾기
+ 미기입 차량2(제원관리번호로 찾기)
    - 코란도KJ
    - 기아뉴복사17
    - defender
    - landrover defender 
+ 미기입 차량3(제원관리번호로 찾기)
    - 그랜드 카니발
    - 포터 엔진형식 D4BH
    - 봉고III D4BH 엔진

### 차량 찾기1

In [23]:
g5.loc[g5['제원관리번호'] == 'A0810003602851306', ['차대번호', '제원관리번호', '배출가스인증번호', '차명', '제작사명', '엔진형식', '배기량']].drop_duplicates(['배출가스인증번호', '차명', '제작사명', '엔진형식', '배기량'])

,차대번호,제원관리번호,배출가스인증번호,차명,제작사명,엔진형식,배기량
126864,KMHWR81JP7U793261,A0810003602851306,3MY-HD-10,스타렉스리무진(STAREX),현대자동차(주),D4CB,2497.00

In [25]:
g5.loc[g5['제원관리번호'] == 'A0810007602393307', ['차대번호', '제원관리번호', '배출가스인증번호', '차명', '제작사명', '엔진형식', '배기량']].drop_duplicates(['배출가스인증번호', '차명', '제작사명', '엔진형식', '배기량'])

Empty DataFrame
Columns: [차대번호, 제원관리번호, 배출가스인증번호, 차명, 제작사명, 엔진형식, 배기량]
Index: []

In [26]:
g5.loc[g5['제원관리번호'] == 'A0810003402623205', ['차대번호', '제원관리번호', '배출가스인증번호', '차명', '제작사명', '엔진형식', '배기량']].drop_duplicates(['배출가스인증번호', '차명', '제작사명', '엔진형식', '배기량'])

,차대번호,제원관리번호,배출가스인증번호,차명,제작사명,엔진형식,배기량
223,KMFYKS7JP6U077388,A0810003402623205,3MY-HD-13,리베로(LIBERO),현대자동차(주),D4CB,2497.00

In [27]:
g5.loc[g5['제원관리번호'] == 'A0810006205343107', ['차대번호', '제원관리번호', '배출가스인증번호', '차명', '제작사명', '엔진형식', '배기량']].drop_duplicates(['배출가스인증번호', '차명', '제작사명', '엔진형식', '배기량'])

,차대번호,제원관리번호,배출가스인증번호,차명,제작사명,엔진형식,배기량
179,KMFZCS7HP8U374861,A0810006205343107,3MY-HD-14,포터Ⅱ(PORTERⅡ),현대자동차(주),D4BH,2476.00

In [28]:
g5.loc[g5['제원관리번호'] == 'A0810003702912205', ['차대번호', '제원관리번호', '배출가스인증번호', '차명', '제작사명', '엔진형식', '배기량']].drop_duplicates(['배출가스인증번호', '차명', '제작사명', '엔진형식', '배기량'])

,차대번호,제원관리번호,배출가스인증번호,차명,제작사명,엔진형식,배기량
89854,KMJWWH7JP6U751328,A0810003702912205,3MY-HD-10,스타렉스(STAREX),현대자동차(주),D4CB,2497.00

In [29]:
g5.loc[g5['제원관리번호'] == 'A0810003703742206', ['차대번호', '제원관리번호', '배출가스인증번호', '차명', '제작사명', '엔진형식', '배기량']].drop_duplicates(['배출가스인증번호', '차명', '제작사명', '엔진형식', '배기량'])

,차대번호,제원관리번호,배출가스인증번호,차명,제작사명,엔진형식,배기량
329,KMJWWH7HP7U777047,A0810003703742206,3MY-HD-08,스타렉스(STAREX),현대자동차(주),D4BH,2476.00

In [30]:
g5.loc[g5['제원관리번호'] == 'A0810005100663205', ['차대번호', '제원관리번호', '배출가스인증번호', '차명', '제작사명', '엔진형식', '배기량']].drop_duplicates(['배출가스인증번호', '차명', '제작사명', '엔진형식', '배기량'])

,차대번호,제원관리번호,배출가스인증번호,차명,제작사명,엔진형식,배기량
202622,KMFVA17PP6C043241,A0810005100663205,4MY-HD-37,마이티큐티,현대자동차(주),D4DD,3907.00

In [31]:
g5.loc[g5['제원관리번호'] == 'A0810005209353308', ['차대번호', '제원관리번호', '배출가스인증번호', '차명', '제작사명', '엔진형식', '배기량']].drop_duplicates(['배출가스인증번호', '차명', '제작사명', '엔진형식', '배기량'])

Empty DataFrame
Columns: [차대번호, 제원관리번호, 배출가스인증번호, 차명, 제작사명, 엔진형식, 배기량]
Index: []

### 차량 찾기2(제원관리번호로 찾기)
- 차명 : 제원관리번호, 자동차형식, 엔진형식, 배기량
- 코란도KJ : 10038800020000, KJ-DMB2-5, 662, 2874
- 기아뉴복사17 : 10000600210000, EZB-75S, ZB, 4052
- defender : 31116001331316, LDHM5, 15P, 2498
- landrover defender : 31123000161317, LDVB5, 15P, 2498
- landrover defender : 34113000021317, LDVA5, 15P, 2495

In [ ]:
# - 차명 : 제원관리번호, 자동차형식, 엔진형식, 배기량
# - 코란도KJ : 10038800020000, KJ-DMB2-5, 662, 2874
# - 기아뉴복사17 : 10000600210000, EZB-75S, ZB, 4052
# - DEFENDER : 31116001331316, LDHM5, 15P, 2498
# - LANDROVER DEFENDER : 31123000161317, LDVB5, 15P, 2498
# - LANDROVER DEFENDER : 34113000021317, LDVA5, 15P, 2495

In [29]:
# - 코란도KJ : 10038800020000, KJ-DMB2-5, 662, 2874
g5.loc[g5['차명'] == '코란도KJ', ['차대번호', '제원관리번호', '배출가스인증번호', '차명', '제작사명', '엔진형식', '배기량']].drop_duplicates(['배출가스인증번호', '차명', '제작사명', '엔진형식', '배기량'])

,차대번호,제원관리번호,배출가스인증번호,차명,제작사명,엔진형식,배기량
856754,KPBLC3D81WP034136,10038800020002,NaN,코란도KJ,쌍용자동차(주),662,2874.00

In [7]:
# - 코란도KJ : 10038800020000, KJ-DMB2-5, 662, 2874
g5.loc[g5['제원관리번호'] == '10038800020000', ['차대번호', '제원관리번호', '배출가스인증번호', '차명', '제작사명', '엔진형식', '배기량']].drop_duplicates(['배출가스인증번호', '차명', '제작사명', '엔진형식', '배기량'])

Empty DataFrame
Columns: [차대번호, 제원관리번호, 배출가스인증번호, 차명, 제작사명, 엔진형식, 배기량]
Index: []

In [8]:
# - 코란도KJ : 10038800020000, KJ-DMB2-5, 662, 2874
g5.loc[g5['자동차형식'] == 'KJ-DMB2-5', ['차대번호', '제원관리번호', '배출가스인증번호', '차명', '제작사명', '엔진형식', '배기량']].drop_duplicates(['배출가스인증번호', '차명', '제작사명', '엔진형식', '배기량'])

,차대번호,제원관리번호,배출가스인증번호,차명,제작사명,엔진형식,배기량
856754,KPBLC3D81WP034136,10038800020002,NaN,코란도KJ,쌍용자동차(주),662,2874.00

In [9]:
# - 코란도KJ : 10038800020000, KJ-DMB2-5, 662
g5.loc[g5['엔진형식'] == '662', ['차대번호', '제원관리번호', '배출가스인증번호', '차명', '제작사명', '엔진형식', '배기량']].drop_duplicates(['배출가스인증번호', '차명', '제작사명', '엔진형식', '배기량'])

,차대번호,제원관리번호,배출가스인증번호,차명,제작사명,엔진형식,배기량
106,KPALE4A813P207422,9993411b028391318,NaN,코란도-밴,SOFA차량,662,2874.00
136,KPALA4A811P119937,9993411b022761318,NaN,코란도밴,SOFA차량,662,2874.00
231,KPDFBDL812P159769,10045600000018,NaN,이스타나-롱15코치,쌍용자동차(주),662,2874.00
63303,KPDFBDL813P167260,A0510001300002203,NaN,이스타나(15코치),쌍용자동차(주),662,2874.00
240880,KPAGBFB813P173087,A0510001300573103,NaN,이스타나(숏2밴),쌍용자동차(주),662,2874.00
320132,KM99H4MDD2Z1UH001,1UH20000100002205,NaN,이스타나캠핑카,(주)라이모자동차판매,662,2874.00
396354,KM93H4MDD3KB1S011,B1S10000200002203,NaN,한국디지텍특수구급차I,한국디지텍,662,2874.00
495713,KPALA4A814P225300,A0510001201763103,NaN,코란도-밴,쌍용자동차(주),662,2874.00
533987,KPDGBDH813P174314,B1K10000300002203,NaN,미래특수구급차,주식회사 유아이테크,662,2874.00
567758,KPDGBDH813P172611,A0510001300382203,NaN,이스타나(12코치),쌍용자동차(주),662,2874.00
570832,KPDGBDH812P156111,10045600010022,NaN,이스타나-숏12코치,쌍용자동차(주),662,2874.00
572597,KPAFBFC813P173160,A0510001300533103,NaN,이스타나(롱6밴),쌍용자동차(주),662,2874.00
574379,KPDFBGB813P172572,A0510001300372203,NaN,이스타나(구급차),쌍용자동차(주),662,2874.00
588266,KPDFBDG813P171485,A0510001300022203,NaN,이스타나(11코치),쌍용자동차(주),662,2874.00
588909,KPDFBEF813P171637,A0510001300092203,NaN,이스타나(장애인차),쌍용자동차(주),662,2874.00
594925,KPDGBLH813P170296,A0510001300202203,NaN,이스타나(어린이보호차),쌍용자동차(주),662,2874.00
595275,KPALA4A812P185794,10038800090005,NaN,코란도밴,쌍용자동차(주),662,2874.00
605644,KPDFBDG812P163796,10045600000019,NaN,이스타나-롱11살롱,쌍용자동차(주),662,2874.00
617308,KM93H4MDD2KB1K001,10151900000000,NaN,미래특수구급차,쌍용자동차(주),662,2874.00
627939,KPAFBFC812P164295,10045700000006,NaN,이스타나-롱6밴,쌍용자동차(주),662,2874.00
632308,KPAGBFB813P164973,10045700030006,NaN,이스타나-숏2밴,쌍용자동차(주),662,2874.00
632816,KPDFBLK812P164073,10045600000024,NaN,이스타나어린이운송차,쌍용자동차(주),662,2874.00
662113,KPDGBGB812P158530,10045600040003,NaN,이스타나구급차,쌍용자동차(주),662,2874.00
727653,KRFEABD3A1B028006,10179100000000,NaN,오텍이스타나특수구급차,쌍용자동차(주),662,2874.00
733256,KPAGBFC811P132377,10045700010007,NaN,이스타나-숏6밴,쌍용자동차(주),662,2874.00
773118,KPDFBEF811P126252,10045600000020,NaN,이스타나-10,쌍용자동차(주),662,2874.00
785780,KPDGBDD81YP120732,10045600010019,NaN,이스타나-숏9살롱,쌍용자동차(주),662,2874.00
786697,KPBEA3D81VP113821,10023300050006,NaN,무쏘,쌍용자동차(주),662,2874.00
788224,KPDGBDD81YP120310,10045600010018,NaN,이스타나-숏9코치,쌍용자동차(주),662,2874.00
837017,KPAFBFC81XP086782,10045700000000,NaN,트랜스타-6밴,쌍용자동차(주),662,2874.00
856754,KPBLC3D81WP034136,10038800020002,NaN,코란도KJ,쌍용자동차(주),662,2874.00
858118,KPBLC3D81WP032311,10038800050001,NaN,코란도,쌍용자동차(주),662,2874.00
860074,KPDAB5E81WP067243,10045600010023,NaN,이스타나교통사고조사차,쌍용자동차(주),662,2874.00
860079,KPDAB6E81WP067287,10045600010024,NaN,이스타나형사순찰차,쌍용자동차(주),662,2874.00
865825,KPDAB5E81WP064306,10045600040002,NaN,이스타나앰블란스,쌍용자동차(주),662,2874.00
878984,KPBEA3D81VP114537,99934103022121203,NaN,SSANGYONG MUSSO,쌍용자동차(주),662,2874.00
887925,KPACB4E81VP050184,10045700050002,NaN,이스타나-롱2밴,쌍용자동차(주),662,2874.00

In [10]:
# - 기아뉴복사17 : 10000600210000, EZB-75S, ZB, 4052
g5.loc[g5['제원관리번호'] == '10000600210000', ['차대번호', '제원관리번호', '배출가스인증번호', '차명', '제작사명', '엔진형식', '배기량']].drop_duplicates(['배출가스인증번호', '차명', '제작사명', '엔진형식', '배기량'])

,차대번호,제원관리번호,배출가스인증번호,차명,제작사명,엔진형식,배기량
1088418,KN3LAP1D1KK081131,10000600210000,NaN,기아뉴복사17,기아자동차(주),ZB,4052.00

In [11]:
# - 기아뉴복사17 : 10000600210000, EZB-75S, ZB, 4052
g5.loc[g5['자동차형식'] == 'EZB-75S', ['차대번호', '제원관리번호', '배출가스인증번호', '차명', '제작사명', '엔진형식', '배기량']].drop_duplicates(['배출가스인증번호', '차명', '제작사명', '엔진형식', '배기량'])

,차대번호,제원관리번호,배출가스인증번호,차명,제작사명,엔진형식,배기량
996452,KN3LAP1C1NK104932,10000600710022,NaN,복사17,아시아자동차공업(주),ZB,4052.00
1088418,KN3LAP1D1KK081131,10000600210000,NaN,기아뉴복사17,기아자동차(주),ZB,4052.00

In [12]:
# - 기아뉴복사17 : 10000600210000, EZB-75S, ZB, 4052
g5.loc[g5['엔진형식'] == 'ZB', ['차대번호', '제원관리번호', '배출가스인증번호', '차명', '제작사명', '엔진형식', '배기량']].drop_duplicates(['배출가스인증번호', '차명', '제작사명', '엔진형식', '배기량'])

,차대번호,제원관리번호,배출가스인증번호,차명,제작사명,엔진형식,배기량
400232,KPPDGVJ84SA000061,10057700000000,NaN,수산활선작업차,(주)수산특장,ZB,4052.00
808537,KN2DAM2C1YK001081,10000702840012,NaN,콤비,아시아자동차공업(주),ZB,4052.00
817163,KN4DAJ2C1YK000968,10000702860005,NaN,콤비이동봉사차,아시아자동차공업(주),ZB,4052.00
821156,KN2DAM2C2YK000808,10000703560001,NaN,콤비어린이운송차,아시아자동차공업(주),ZB,4052.00
823657,KN4DAG2C1YK000438,10000702880004,NaN,콤비이동도서관차,아시아자동차공업(주),ZB,4052.00
...,...,...,...,...,...,...,...
1151450,03791213454,30110100001368,NaN,기아뉴복사크레인,기아자동차(주),ZB,4052.00
1152133,03781240762,10000600180000,NaN,기아뉴복사크레인B형,기아자동차(주),ZB,4052.00
1153041,03781219048,10000600110000,NaN,뉴복사탱크로리,기아자동차(주),ZB,4052.00
1153287,08781104367,10007100000000,NaN,아시아AM707중형버스,아시아자동차공업(주),ZB,4052.00
1154093,03771208046,10000600070000,NaN,기아뉴복사바큠카,기아자동차(주),ZB,4052.00

In [30]:
g5.loc[g5['엔진형식'] == 'ZB', '배출가스인증번호'].unique()

array([nan], dtype=object)

In [20]:
# - DEFENDER : 31116001331316, LDHM5, 15P, 2498
g5.loc[g5['차명'] == 'DEFENDER', ['차대번호', '제원관리번호', '배출가스인증번호', '차명', '제작사명', '엔진형식', '배기량']].drop_duplicates(['배출가스인증번호', '차명', '제작사명', '엔진형식', '배기량'])

Empty DataFrame
Columns: [차대번호, 제원관리번호, 배출가스인증번호, 차명, 제작사명, 엔진형식, 배기량]
Index: []

In [13]:
# - DEFENDER : 31116001331316, LDHM5, 15P, 2498
g5.loc[g5['제원관리번호'] == '31116001331316', ['차대번호', '제원관리번호', '배출가스인증번호', '차명', '제작사명', '엔진형식', '배기량']].drop_duplicates(['배출가스인증번호', '차명', '제작사명', '엔진형식', '배기량'])

Empty DataFrame
Columns: [차대번호, 제원관리번호, 배출가스인증번호, 차명, 제작사명, 엔진형식, 배기량]
Index: []

In [14]:
# - DEFENDER : 31116001331316, LDHM5, 15P, 2498
g5.loc[g5['자동차형식'] == 'LDHM5', ['차대번호', '제원관리번호', '배출가스인증번호', '차명', '제작사명', '엔진형식', '배기량']].drop_duplicates(['배출가스인증번호', '차명', '제작사명', '엔진형식', '배기량'])

Empty DataFrame
Columns: [차대번호, 제원관리번호, 배출가스인증번호, 차명, 제작사명, 엔진형식, 배기량]
Index: []

In [15]:
# - DEFENDER : 31116001331316, LDHM5, 15P, 2498
g5.loc[g5['엔진형식'] == '15P', ['차대번호', '제원관리번호', '배출가스인증번호', '차명', '제작사명', '엔진형식', '배기량']].drop_duplicates(['배출가스인증번호', '차명', '제작사명', '엔진형식', '배기량'])

Empty DataFrame
Columns: [차대번호, 제원관리번호, 배출가스인증번호, 차명, 제작사명, 엔진형식, 배기량]
Index: []

In [21]:
# - LANDROVER DEFENDER : 31123000161317, LDVB5, 15P, 2498
g5.loc[g5['차명'] == 'LANDROVER DEFENDER', ['차대번호', '제원관리번호', '배출가스인증번호', '차명', '제작사명', '엔진형식', '배기량']].drop_duplicates(['배출가스인증번호', '차명', '제작사명', '엔진형식', '배기량'])

Empty DataFrame
Columns: [차대번호, 제원관리번호, 배출가스인증번호, 차명, 제작사명, 엔진형식, 배기량]
Index: []

In [22]:
# - LANDROVER DEFENDER : 31123000161317, LDVB5, 15P, 2498
g5.loc[g5['제원관리번호'] == '31123000161317', ['차대번호', '제원관리번호', '배출가스인증번호', '차명', '제작사명', '엔진형식', '배기량']].drop_duplicates(['배출가스인증번호', '차명', '제작사명', '엔진형식', '배기량'])

Empty DataFrame
Columns: [차대번호, 제원관리번호, 배출가스인증번호, 차명, 제작사명, 엔진형식, 배기량]
Index: []

In [23]:
# - LANDROVER DEFENDER : 31123000161317, LDVB5, 15P, 2498
g5.loc[g5['자동차형식'] == 'LDVB5', ['차대번호', '제원관리번호', '배출가스인증번호', '차명', '제작사명', '엔진형식', '배기량']].drop_duplicates(['배출가스인증번호', '차명', '제작사명', '엔진형식', '배기량'])

Empty DataFrame
Columns: [차대번호, 제원관리번호, 배출가스인증번호, 차명, 제작사명, 엔진형식, 배기량]
Index: []

In [24]:
# - LANDROVER DEFENDER : 31123000161317, LDVB5, 15P, 2498
g5.loc[g5['엔진형식'] == '15P', ['차대번호', '제원관리번호', '배출가스인증번호', '차명', '제작사명', '엔진형식', '배기량']].drop_duplicates(['배출가스인증번호', '차명', '제작사명', '엔진형식', '배기량'])

Empty DataFrame
Columns: [차대번호, 제원관리번호, 배출가스인증번호, 차명, 제작사명, 엔진형식, 배기량]
Index: []

In [25]:
# - LANDROVER DEFENDER : 34113000021317, LDVA5, 15P, 2495
g5.loc[g5['차명'] == 'LANDROVER DEFENDER', ['차대번호', '제원관리번호', '배출가스인증번호', '차명', '제작사명', '엔진형식', '배기량']].drop_duplicates(['배출가스인증번호', '차명', '제작사명', '엔진형식', '배기량'])

Empty DataFrame
Columns: [차대번호, 제원관리번호, 배출가스인증번호, 차명, 제작사명, 엔진형식, 배기량]
Index: []

In [33]:
# - LANDROVER DEFENDER : 34113000021317, LDVA5, 15P, 2495
g5.loc[g5['차명'] == '디펜더', ['차대번호', '제원관리번호', '배출가스인증번호', '차명', '제작사명', '엔진형식', '배기량']].drop_duplicates(['배출가스인증번호', '차명', '제작사명', '엔진형식', '배기량'])

Empty DataFrame
Columns: [차대번호, 제원관리번호, 배출가스인증번호, 차명, 제작사명, 엔진형식, 배기량]
Index: []

In [26]:
# - LANDROVER DEFENDER : 34113000021317, LDVA5, 15P, 2495
g5.loc[g5['제원관리번호'] == '34113000021317', ['차대번호', '제원관리번호', '배출가스인증번호', '차명', '제작사명', '엔진형식', '배기량']].drop_duplicates(['배출가스인증번호', '차명', '제작사명', '엔진형식', '배기량'])

Empty DataFrame
Columns: [차대번호, 제원관리번호, 배출가스인증번호, 차명, 제작사명, 엔진형식, 배기량]
Index: []

In [27]:
# - LANDROVER DEFENDER : 34113000021317, LDVA5, 15P, 2495
g5.loc[g5['자동차형식'] == 'LDVA5', ['차대번호', '제원관리번호', '배출가스인증번호', '차명', '제작사명', '엔진형식', '배기량']].drop_duplicates(['배출가스인증번호', '차명', '제작사명', '엔진형식', '배기량'])

Empty DataFrame
Columns: [차대번호, 제원관리번호, 배출가스인증번호, 차명, 제작사명, 엔진형식, 배기량]
Index: []

In [28]:
# - LANDROVER DEFENDER : 34113000021317, LDVA5, 15P, 2495
g5.loc[g5['엔진형식'] == '15P', ['차대번호', '제원관리번호', '배출가스인증번호', '차명', '제작사명', '엔진형식', '배기량']].drop_duplicates(['배출가스인증번호', '차명', '제작사명', '엔진형식', '배기량'])

Empty DataFrame
Columns: [차대번호, 제원관리번호, 배출가스인증번호, 차명, 제작사명, 엔진형식, 배기량]
Index: []

### 차량 찾기3
- 그랜드 카니발
- 포터 엔진형식 D4BH
- 봉고III D4BH 엔진

In [ ]:
# 차명 : 제원관리번호, 자동차형식, 엔진형식, 배기량

# 그랜드카니발 : 34107000012214, MBB13B, J3, 2902
# 그랜드카니발 : 31108000012217, MBB13A-2, J3, 2902
# 그랜드카니발 : 34127000441309, MC913AS-LX, J3, 2902
# 그랜드 카니발 : 32826000152218, MBB13A-HG, J3, 2902
# 그랜드 카니발 : 32701000012217, MBB13B7-LS-SR, J3, 2902

# 포터2 : 34427000093118, ZSN7H, D4BH, 2476
# 포터2 : 34427000103118, ZSN7H, D4BH, 2476

# 포터Ⅱ(PORTERⅡ) : 34427000043219, HR-6SD4FKM6-2, D4BH, 2476
# 포터Ⅱ(PORTERⅡ) : 34427000083119, ZCD7, D4BH, 2476
# 포터Ⅱ(PORTERⅡ) : 34427000093119, ZSN7, D4BH, 2476
# 포터Ⅱ(PORTERⅡ) : 34427000083218, HR-6SD4FKM6-2, D4BH, 2476
# 포터Ⅱ(PORTERⅡ) : A0810006205343107, HR-3SS2FKM8-1, D4BH, 2476

# 봉고Ⅲ 1톤 :  34427000123119, HNP4D, D4BH, 2476
# 봉고Ⅲ 1톤 :  34427000143119, SEK22F7, D4BH, 2476
# 봉고Ⅲ 1톤 :  34427000113119, SEK22B, D4BH, 2476

In [34]:
# 그랜드카니발 : 34107000012214, MBB13B, J3, 2902
g5.loc[g5['차명'] == '그랜드카니발', ['차대번호', '제원관리번호', '배출가스인증번호', '차명', '제작사명', '엔진형식', '배기량']].drop_duplicates(['배출가스인증번호', '차명', '제작사명', '엔진형식', '배기량'])

,차대번호,제원관리번호,배출가스인증번호,차명,제작사명,엔진형식,배기량
159,KNHMB76138S230342,A0110003600072205,5MY-KM-24-32,그랜드카니발,기아자동차(주),J3,2902.00
355,KNHMB76136S017850,A0110003600052205,4MY-KM-03,그랜드카니발,기아자동차(주),J3,2902.00

In [35]:
# 그랜드카니발 : 34107000012214, MBB13B, J3, 2902
g5.loc[g5['제원관리번호'] == '34107000012214', ['차대번호', '제원관리번호', '배출가스인증번호', '차명', '제작사명', '엔진형식', '배기량']].drop_duplicates(['배출가스인증번호', '차명', '제작사명', '엔진형식', '배기량'])

Empty DataFrame
Columns: [차대번호, 제원관리번호, 배출가스인증번호, 차명, 제작사명, 엔진형식, 배기량]
Index: []

In [36]:
# 그랜드카니발 : 34107000012214, MBB13B, J3, 2902
g5.loc[g5['자동차형식'] == 'MBB13B', ['차대번호', '제원관리번호', '배출가스인증번호', '차명', '제작사명', '엔진형식', '배기량']].drop_duplicates(['배출가스인증번호', '차명', '제작사명', '엔진형식', '배기량'])

,차대번호,제원관리번호,배출가스인증번호,차명,제작사명,엔진형식,배기량
1074,KNHMB76136S012138,A0110003600042205,4MY-KM-03,그랜드카니발,기아자동차(주),J3,2902.00

In [38]:
# 그랜드카니발 : 34107000012214, MBB13B, J3, 2902
g5.loc[(g5['자동차형식'] == 'MBB13B') & (g5['엔진형식'] == 'J3'), ['차대번호', '제원관리번호', '배출가스인증번호', '차명', '제작사명', '엔진형식', '배기량']].drop_duplicates(['배출가스인증번호', '차명', '제작사명', '엔진형식', '배기량'])

,차대번호,제원관리번호,배출가스인증번호,차명,제작사명,엔진형식,배기량
1074,KNHMB76136S012138,A0110003600042205,4MY-KM-03,그랜드카니발,기아자동차(주),J3,2902.00

In [43]:
# 그랜드카니발 : 34127000441309, MC913AS-LX, J3, 2902
g5.loc[g5['차명'] == '그랜드카니발', ['차대번호', '제원관리번호', '배출가스인증번호', '차명', '제작사명', '엔진형식', '배기량']].drop_duplicates(['배출가스인증번호', '차명', '제작사명', '엔진형식', '배기량'])

,차대번호,제원관리번호,배출가스인증번호,차명,제작사명,엔진형식,배기량
159,KNHMB76138S230342,A0110003600072205,5MY-KM-24-32,그랜드카니발,기아자동차(주),J3,2902.00
355,KNHMB76136S017850,A0110003600052205,4MY-KM-03,그랜드카니발,기아자동차(주),J3,2902.00

In [46]:
# 그랜드카니발 : 34127000441309, MC913AS-LX, J3, 2902
g5.loc[g5['제원관리번호'] == '34127000441309', ['차대번호', '제원관리번호', '배출가스인증번호', '차명', '제작사명', '엔진형식', '배기량']].drop_duplicates(['배출가스인증번호', '차명', '제작사명', '엔진형식', '배기량'])

Empty DataFrame
Columns: [차대번호, 제원관리번호, 배출가스인증번호, 차명, 제작사명, 엔진형식, 배기량]
Index: []

In [47]:
# 그랜드카니발 : 34127000441309, MC913AS-LX, J3, 2902
g5.loc[g5['자동차형식'] == 'MC913AS-LX', ['차대번호', '제원관리번호', '배출가스인증번호', '차명', '제작사명', '엔진형식', '배기량']].drop_duplicates(['배출가스인증번호', '차명', '제작사명', '엔진형식', '배기량'])

,차대번호,제원관리번호,배출가스인증번호,차명,제작사명,엔진형식,배기량
120954,KNAMC75136S099357,A0110003800071306,4MY-KM-03,카니발,기아자동차(주),J3,2902.00

In [48]:
# 그랜드카니발 : 34127000441309, MC913AS-LX, J3, 2902
g5.loc[(g5['자동차형식'] == 'MC913AS-LX') & (g5['엔진형식'] == 'J3'), ['차대번호', '제원관리번호', '배출가스인증번호', '차명', '제작사명', '엔진형식', '배기량']].drop_duplicates(['배출가스인증번호', '차명', '제작사명', '엔진형식', '배기량'])

,차대번호,제원관리번호,배출가스인증번호,차명,제작사명,엔진형식,배기량
120954,KNAMC75136S099357,A0110003800071306,4MY-KM-03,카니발,기아자동차(주),J3,2902.00

In [ ]:
# 그랜드카니발 : 31108000012217, MBB13A-2, J3, 2902
g5.loc[g5['차명'] == '그랜드카니발', ['차대번호', '제원관리번호', '배출가스인증번호', '차명', '제작사명', '엔진형식', '배기량']].drop_duplicates(['배출가스인증번호', '차명', '제작사명', '엔진형식', '배기량'])

,차대번호,제원관리번호,배출가스인증번호,차명,제작사명,엔진형식,배기량
159,KNHMB76138S230342,A0110003600072205,5MY-KM-24-32,그랜드카니발,기아자동차(주),J3,2902.00
355,KNHMB76136S017850,A0110003600052205,4MY-KM-03,그랜드카니발,기아자동차(주),J3,2902.00

In [49]:
# 그랜드카니발 : 31108000012217, MBB13A-2, J3, 2902
g5.loc[g5['제원관리번호'] == '31108000012217', ['차대번호', '제원관리번호', '배출가스인증번호', '차명', '제작사명', '엔진형식', '배기량']].drop_duplicates(['배출가스인증번호', '차명', '제작사명', '엔진형식', '배기량'])

Empty DataFrame
Columns: [차대번호, 제원관리번호, 배출가스인증번호, 차명, 제작사명, 엔진형식, 배기량]
Index: []

In [50]:
# 그랜드카니발 : 31108000012217, MBB13A-2, J3, 2902
g5.loc[g5['자동차형식'] == 'MBB13A-2', ['차대번호', '제원관리번호', '배출가스인증번호', '차명', '제작사명', '엔진형식', '배기량']].drop_duplicates(['배출가스인증번호', '차명', '제작사명', '엔진형식', '배기량'])

,차대번호,제원관리번호,배출가스인증번호,차명,제작사명,엔진형식,배기량
159,KNHMB76138S230342,A0110003600072205,5MY-KM-24-32,그랜드카니발,기아자동차(주),J3,2902.00

In [51]:
# 그랜드카니발 : 31108000012217, MBB13A-2, J3, 2902
g5.loc[(g5['자동차형식'] == 'MBB13A-2') & (g5['엔진형식'] == 'J3'), ['차대번호', '제원관리번호', '배출가스인증번호', '차명', '제작사명', '엔진형식', '배기량']].drop_duplicates(['배출가스인증번호', '차명', '제작사명', '엔진형식', '배기량'])

,차대번호,제원관리번호,배출가스인증번호,차명,제작사명,엔진형식,배기량
159,KNHMB76138S230342,A0110003600072205,5MY-KM-24-32,그랜드카니발,기아자동차(주),J3,2902.00

In [57]:
# 그랜드 카니발 : 32826000152218, MBB13A-HG, J3, 2902
g5.loc[g5['차명'] == '그랜드 카니발', ['배출가스인증번호', '차명', '제작사명', '자동차형식', '엔진형식', '배기량']].drop_duplicates(['배출가스인증번호', '차명', '제작사명', '자동차형식', '엔진형식', '배기량'])

            배출가스인증번호       차명      제작사명          자동차형식 엔진형식     배기량
534     5MY-KM-24-32  그랜드 카니발  기아자동차(주)     MBB13B7-GL   J3 2902.00
655     5MY-KM-24-32  그랜드 카니발  기아자동차(주)     MBB13C8-GL   J3 2902.00
657     5MY-KM-24-32  그랜드 카니발  기아자동차(주)     MBB13C8-LS   J3 2902.00
799     5MY-KM-24-32  그랜드 카니발  기아자동차(주)  MBB13C8-LS-SR   J3 2902.00
2708    5MY-KM-24-32  그랜드 카니발  기아자동차(주)  MBB13B7-LS-SR   J3 2902.00
3937    5MY-KM-24-32  그랜드 카니발  기아자동차(주)  MBB43C8-LS-SR   J3 2902.00
4013    9MY-KM-14-41  그랜드 카니발  기아자동차(주)     MBB43C8-LS   J3 2902.00
7182    5MY-KM-24-32  그랜드 카니발  기아자동차(주)     MBB12C8-GL   J3 2902.00
8040    5MY-KM-24-32  그랜드 카니발  기아자동차(주)  MBB12C8-LS-SR   J3 2902.00
8041    5MY-KM-24-32  그랜드 카니발  기아자동차(주)    MBB13C8-ECO   J3 2902.00
12630   5MY-KM-24-32  그랜드 카니발  기아자동차(주)     MBB13B7-LS   J3 2902.00
21351   5MY-KM-24-32  그랜드 카니발  기아자동차(주)  MBB43B7-LS-SR   J3 2902.00
33556   5MY-KM-24-32  그랜드 카니발  기아자동차(주)     MBB12C8-LS   J3 2902.00
49381   5MY-KM-24-32  그랜드 카니발  기아자동차(주)     MBB12B7-GL   J3 2902.00
50047   5MY-KM-24-32  그랜드 카니발  기아자동차(주)     MBB43B7-LS   J3 2902.00
62442   5MY-KM-24-32  그랜드 카니발  기아자동차(주)     MBB12B7-LS   J3 2902.00
65617   5MY-KM-24-32  그랜드 카니발  기아자동차(주)  MBB12B7-LS-SR   J3 2902.00
99134   5MY-KM-24-32  그랜드 카니발  기아자동차(주)      MBB13A-HG   J3 2902.00
126266  5MY-KM-24-32  그랜드 카니발  기아자동차(주)   MBB13A-SR-HG   J3 2902.00
130419  5MY-KM-24-32  그랜드 카니발  기아자동차(주)       MBB13A-4   J3 2902.00
134429  5MY-KM-24-32  그랜드 카니발  기아자동차(주)      MBB12A-HG   J3 2902.00
139502  5MY-KM-24-32  그랜드 카니발  기아자동차(주)  MBB42B7-LS-SR   J3 2902.00
141898  5MY-KM-24-32  그랜드 카니발  기아자동차(주)   MBB12A-SR-HG   J3 2902.00
147529  5MY-KM-24-32  그랜드 카니발  기아자동차(주)       MBB12A-4   J3 2902.00

In [56]:
# 그랜드 카니발 : 32826000152218, MBB13A-HG, J3, 2902
g5.loc[g5['제원관리번호'] == '32826000152218', ['배출가스인증번호', '차명', '제작사명', '자동차형식', '엔진형식', '배기량']].drop_duplicates(['배출가스인증번호', '차명', '제작사명', '자동차형식', '엔진형식', '배기량'])

Empty DataFrame
Columns: [배출가스인증번호, 차명, 제작사명, 자동차형식, 엔진형식, 배기량]
Index: []

In [58]:
# 그랜드 카니발 : 32826000152218, MBB13A-HG, J3, 2902
g5.loc[g5['자동차형식'] == 'MBB13A-HG', ['배출가스인증번호', '차명', '제작사명', '자동차형식', '엔진형식', '배기량']].drop_duplicates(['배출가스인증번호', '차명', '제작사명', '자동차형식', '엔진형식', '배기량'])

           배출가스인증번호       차명      제작사명      자동차형식 엔진형식     배기량
99134  5MY-KM-24-32  그랜드 카니발  기아자동차(주)  MBB13A-HG   J3 2902.00

In [59]:
# 그랜드 카니발 : 32826000152218, MBB13A-HG, J3, 2902
g5.loc[(g5['자동차형식'] == 'MBB13A-HG') & (g5['엔진형식'] == 'J3'), ['배출가스인증번호', '차명', '제작사명', '자동차형식', '엔진형식', '배기량']].drop_duplicates(['배출가스인증번호', '차명', '제작사명', '자동차형식', '엔진형식', '배기량'])

           배출가스인증번호       차명      제작사명      자동차형식 엔진형식     배기량
99134  5MY-KM-24-32  그랜드 카니발  기아자동차(주)  MBB13A-HG   J3 2902.00

In [60]:
# 그랜드 카니발 : 32701000012217, MBB13B7-LS-SR, J3, 2902
g5.loc[g5['차명'] == '그랜드 카니발', ['배출가스인증번호', '차명', '제작사명', '자동차형식', '엔진형식', '배기량']].drop_duplicates(['배출가스인증번호', '차명', '제작사명', '자동차형식', '엔진형식', '배기량'])

            배출가스인증번호       차명      제작사명          자동차형식 엔진형식     배기량
534     5MY-KM-24-32  그랜드 카니발  기아자동차(주)     MBB13B7-GL   J3 2902.00
655     5MY-KM-24-32  그랜드 카니발  기아자동차(주)     MBB13C8-GL   J3 2902.00
657     5MY-KM-24-32  그랜드 카니발  기아자동차(주)     MBB13C8-LS   J3 2902.00
799     5MY-KM-24-32  그랜드 카니발  기아자동차(주)  MBB13C8-LS-SR   J3 2902.00
2708    5MY-KM-24-32  그랜드 카니발  기아자동차(주)  MBB13B7-LS-SR   J3 2902.00
3937    5MY-KM-24-32  그랜드 카니발  기아자동차(주)  MBB43C8-LS-SR   J3 2902.00
4013    9MY-KM-14-41  그랜드 카니발  기아자동차(주)     MBB43C8-LS   J3 2902.00
7182    5MY-KM-24-32  그랜드 카니발  기아자동차(주)     MBB12C8-GL   J3 2902.00
8040    5MY-KM-24-32  그랜드 카니발  기아자동차(주)  MBB12C8-LS-SR   J3 2902.00
8041    5MY-KM-24-32  그랜드 카니발  기아자동차(주)    MBB13C8-ECO   J3 2902.00
12630   5MY-KM-24-32  그랜드 카니발  기아자동차(주)     MBB13B7-LS   J3 2902.00
21351   5MY-KM-24-32  그랜드 카니발  기아자동차(주)  MBB43B7-LS-SR   J3 2902.00
33556   5MY-KM-24-32  그랜드 카니발  기아자동차(주)     MBB12C8-LS   J3 2902.00
49381   5MY-KM-24-32  그랜드 카니발  기아자동차(주)     MBB12B7-GL   J3 2902.00
50047   5MY-KM-24-32  그랜드 카니발  기아자동차(주)     MBB43B7-LS   J3 2902.00
62442   5MY-KM-24-32  그랜드 카니발  기아자동차(주)     MBB12B7-LS   J3 2902.00
65617   5MY-KM-24-32  그랜드 카니발  기아자동차(주)  MBB12B7-LS-SR   J3 2902.00
99134   5MY-KM-24-32  그랜드 카니발  기아자동차(주)      MBB13A-HG   J3 2902.00
126266  5MY-KM-24-32  그랜드 카니발  기아자동차(주)   MBB13A-SR-HG   J3 2902.00
130419  5MY-KM-24-32  그랜드 카니발  기아자동차(주)       MBB13A-4   J3 2902.00
134429  5MY-KM-24-32  그랜드 카니발  기아자동차(주)      MBB12A-HG   J3 2902.00
139502  5MY-KM-24-32  그랜드 카니발  기아자동차(주)  MBB42B7-LS-SR   J3 2902.00
141898  5MY-KM-24-32  그랜드 카니발  기아자동차(주)   MBB12A-SR-HG   J3 2902.00
147529  5MY-KM-24-32  그랜드 카니발  기아자동차(주)       MBB12A-4   J3 2902.00

In [61]:
# 그랜드 카니발 : 32701000012217, MBB13B7-LS-SR, J3, 2902
g5.loc[g5['제원관리번호'] == '32701000012217', ['배출가스인증번호', '차명', '제작사명', '자동차형식', '엔진형식', '배기량']].drop_duplicates(['배출가스인증번호', '차명', '제작사명', '자동차형식', '엔진형식', '배기량'])

Empty DataFrame
Columns: [배출가스인증번호, 차명, 제작사명, 자동차형식, 엔진형식, 배기량]
Index: []

In [62]:
# 그랜드 카니발 : 32701000012217, MBB13B7-LS-SR, J3, 2902
g5.loc[g5['자동차형식'] == 'MBB13B7-LS-SR', ['배출가스인증번호', '차명', '제작사명', '자동차형식', '엔진형식', '배기량']].drop_duplicates(['배출가스인증번호', '차명', '제작사명', '자동차형식', '엔진형식', '배기량'])

          배출가스인증번호       차명      제작사명          자동차형식 엔진형식     배기량
2708  5MY-KM-24-32  그랜드 카니발  기아자동차(주)  MBB13B7-LS-SR   J3 2902.00

In [63]:
# 그랜드 카니발 : 32701000012217, MBB13B7-LS-SR, J3, 2902
g5.loc[(g5['자동차형식'] == 'MBB13B7-LS-SR') & (g5['엔진형식'] == 'J3'), ['배출가스인증번호', '차명', '제작사명', '자동차형식', '엔진형식', '배기량']].drop_duplicates(['배출가스인증번호', '차명', '제작사명', '자동차형식', '엔진형식', '배기량'])

          배출가스인증번호       차명      제작사명          자동차형식 엔진형식     배기량
2708  5MY-KM-24-32  그랜드 카니발  기아자동차(주)  MBB13B7-LS-SR   J3 2902.00

In [64]:
# 포터2 : 34427000093118, ZSN7H, D4BH, 2476
g5.loc[g5['차명'] == '포터2', ['배출가스인증번호', '차명', '제작사명', '자동차형식', '엔진형식', '배기량']].drop_duplicates(['배출가스인증번호', '차명', '제작사명', '자동차형식', '엔진형식', '배기량'])

Empty DataFrame
Columns: [배출가스인증번호, 차명, 제작사명, 자동차형식, 엔진형식, 배기량]
Index: []

In [65]:
# 포터2 : 34427000093118, ZSN7H, D4BH, 2476
g5.loc[g5['제원관리번호'] == '34427000093118', ['배출가스인증번호', '차명', '제작사명', '자동차형식', '엔진형식', '배기량']].drop_duplicates(['배출가스인증번호', '차명', '제작사명', '자동차형식', '엔진형식', '배기량'])

Empty DataFrame
Columns: [배출가스인증번호, 차명, 제작사명, 자동차형식, 엔진형식, 배기량]
Index: []

In [66]:
# 포터2 : 34427000093118, ZSN7H, D4BH, 2476
g5.loc[g5['자동차형식'] == 'ZSN7H', ['배출가스인증번호', '차명', '제작사명', '자동차형식', '엔진형식', '배기량']].drop_duplicates(['배출가스인증번호', '차명', '제작사명', '자동차형식', '엔진형식', '배기량'])

Empty DataFrame
Columns: [배출가스인증번호, 차명, 제작사명, 자동차형식, 엔진형식, 배기량]
Index: []

In [68]:
# 포터2 : 34427000093118, ZSN7H, D4BH, 2476
g5.loc[g5['엔진형식'] == 'D4BH', ['배출가스인증번호', '차명', '제작사명', '자동차형식', '엔진형식', '배기량']].drop_duplicates(['배출가스인증번호', '차명', '제작사명', '자동차형식', '엔진형식', '배기량'])

         배출가스인증번호            차명      제작사명          자동차형식  엔진형식     배기량
5       3MY-HD-14       PORTER2  자기인증면제차량          ZCD7H  D4BH 2476.00
21            NaN        봉고Ⅲ 1톤  기아자동차(주)        SET22F7  D4BH 2476.00
29      4MY-KM-07       봉고Ⅲ 운교차  기아자동차(주)    SET22E-DRV7  D4BH 2476.00
30            NaN        봉고Ⅲ 1톤  자기인증면제차량          HNP4D  D4BH 2476.00
41      3MY-HD-08  스타렉스(STAREX)  현대자동차(주)  A1-12S3FMR7-1  D4BH 2476.00
...           ...           ...       ...            ...   ...     ...
899630        NaN           겔로퍼   현대정공(주)         HPJ-12  D4BH 2476.00
902904        NaN           겔로퍼   현대정공(주)         HPJ-9B  D4BH 2476.00
906690        NaN           겔로퍼   현대정공(주)         HPJ-10  D4BH 2476.00
914331        NaN           겔로퍼   현대정공(주)        HPJ-11B  D4BH 2476.00
938856        NaN           겔로퍼    SOFA차량        HPJ-12B  D4BH 2476.00

[979 rows x 6 columns]

In [69]:
# 포터2 : 34427000093118, ZSN7H, D4BH, 2476
g5.loc[(g5['자동차형식'] == 'ZSN7H') & (g5['엔진형식'] == 'D4BH'), ['배출가스인증번호', '차명', '제작사명', '자동차형식', '엔진형식', '배기량']].drop_duplicates(['배출가스인증번호', '차명', '제작사명', '자동차형식', '엔진형식', '배기량'])

Empty DataFrame
Columns: [배출가스인증번호, 차명, 제작사명, 자동차형식, 엔진형식, 배기량]
Index: []

In [71]:
g5.loc[(g5['엔진형식'] == 'J3') | (g5['엔진형식'] == 'D4BH')].shape

(185178, 59)

In [70]:
# about 2m 56s
g5.loc[(g5['엔진형식'] == 'J3') | (g5['엔진형식'] == 'D4BH')].to_excel('analysis2/엔진형식_J3&D4BH.xlsx', index=False)

# 3등급에서 차량 찾기
- 차명 : FM 트랙터
- 자동차형식 : FM62TT1HA
- 엔진형식 : D11
- 제원관리번호 : 1120000505204310
- 차대번호 : YV2XZX0C2JA829421

In [3]:
# about 2m 48.4s
g3 = pd.read_csv(os.path.join(ods_fold, '[ODS][G3]등록정보&제원정보(2022.12.28).csv'), low_memory=False, encoding='cp949')
g3.shape

(10027407, 49)

In [8]:
g3.loc[g3['제원관리번호'] == '1120000505204310', ['차대번호', '제원관리번호', '배출가스인증번호', '배출가스등급', '차명', '자동차형식', '엔진형식']]

Empty DataFrame
Columns: [차대번호, 제원관리번호, 배출가스인증번호, 배출가스등급, 차명, 자동차형식, 엔진형식]
Index: []

In [9]:
g3.loc[g3['차명'] == 'FM 트랙터', ['차대번호', '제원관리번호', '배출가스인증번호', '배출가스등급', '차명', '자동차형식', '엔진형식']]

,차대번호,제원관리번호,배출가스인증번호,배출가스등급,차명,자동차형식,엔진형식
4940774,YV2XT40CXFA774725,01120000504384315,FMY-VTK-14-1,3,FM 트랙터,FM62TT3HA,D13
4942911,YV2XT40C3FA772346,01120000504384315,FMY-VTK-14-1,3,FM 트랙터,FM62TT3HA,D13
4960808,YV2XT40C9FA774716,01120000504384315,FMY-VTK-14-1,3,FM 트랙터,FM62TT3HA,D13
4975131,YV2XTY0A8FA776222,01120000504394315,FMY-VTK-14-1,3,FM 트랙터,FM42T3HA,D13
4986557,YV2XT40C9FA776093,01120000504384315,FMY-VTK-14-1,3,FM 트랙터,FM62TT3HA,D13
...,...,...,...,...,...,...,...
9781742,YV2XZY0C3NA889607,01120000507244321,NaN,T3,FM 트랙터,FM62TT1A,D11
9789242,YV2XZY0C0NA889791,01120000507244321,NaN,T3,FM 트랙터,FM62TT1A,D11
9816686,YV2XZY0C0NA889788,01120000507244321,NaN,T3,FM 트랙터,FM62TT1A,D11
9839111,YV2XZY0C1NA894109,01120000507244321,NaN,T3,FM 트랙터,FM62TT1A,D11
9847096,YV2XZY0C4NA894475,01120000507404322,NaN,T3,FM 트랙터,FM62TT1A,D11

In [13]:
g3.loc[(g3['차명'] == 'FM 트랙터') & (g3['자동차형식'] == 'FM62TT1HA') & (g3['엔진형식'] == 'D11'), ['차대번호', '제원관리번호', '배출가스인증번호', '배출가스등급', '차명', '자동차형식', '엔진형식', '차량연식']].drop_duplicates(['제원관리번호', '배출가스인증번호', '자동차형식', '엔진형식', '차량연식'])

,차대번호,제원관리번호,배출가스인증번호,배출가스등급,차명,자동차형식,엔진형식,차량연식
5045189,YV2XZX0C2FA775755,01120000504404315,FMY-VTK-14-2,3,FM 트랙터,FM62TT1HA,D11,2015
5060290,YV2XZX0C6FA774219,01120000504414315,FMY-VTK-14-2,3,FM 트랙터,FM62TT1HA,D11,2015
5474034,YV2XZX0C2GA782819,01120000504564315,FMY-VTK-14-2,3,FM 트랙터,FM62TT1HA,D11,2016
5514875,YV2XZX0C0GA782592,01120000504574315,FMY-VTK-14-2,3,FM 트랙터,FM62TT1HA,D11,2016
6391537,YV2XZX0C6HA797518,01120000504914316,FMY-VTK-14-2,3,FM 트랙터,FM62TT1HA,D11,2017
6502843,YV2XZX0C2HA797631,01120000504924316,FMY-VTK-14-2,3,FM 트랙터,FM62TT1HA,D11,2017
7862430,YV2XZX0C9JA829464,01120000505204317,FMY-VTK-14-2,3,FM 트랙터,FM62TT1HA,D11,2018
8255546,YV2XZX0C4KA838977,01120000505504318,FMY-VTK-14-2,3,FM 트랙터,FM62TT1HA,D11,2019
8857086,YV2XZY0C9LA857614,01120000505854319,KMY-VT-14-2,3,FM 트랙터,FM62TT1HA,D11,2020

In [15]:
g3.loc[(g3['차명'] == 'FM 트랙터') & (g3['자동차형식'] == 'FM62TT1HA') & (g3['엔진형식'] == 'D11')].drop_duplicates(['제원관리번호', '배출가스인증번호', '자동차형식', '엔진형식', '차량연식']).to_excel('analysis2/샘플_FM_트랙터.xlsx', index=False)

## 뉴파워트럭

In [5]:
g3.loc[g3['차명'] == '뉴파워트럭', '배출가스인증번호'].unique()

array(['AMY-HD-14-26', 'EMY-HD-14-48', nan], dtype=object)

In [6]:
g3.loc[g3['차명'] == '뉴파워트럭', '배출가스인증번호'].value_counts()

AMY-HD-14-26    256
EMY-HD-14-48     66
Name: 배출가스인증번호, dtype: int64

In [8]:
g3.loc[(g3['자동차형식'] == 'HD8CT-20ESHa-T6') & (g3['엔진형식'] == 'D6HC'), '배출가스인증번호'].value_counts()

Series([], Name: 배출가스인증번호, dtype: int64)

In [9]:
g3.loc[g3['자동차형식'] == 'HD8CT-20ESHa-T6', '배출가스인증번호'].value_counts()

Series([], Name: 배출가스인증번호, dtype: int64)

In [10]:
g3.loc[g3['엔진형식'] == 'D6HC', '배출가스인증번호'].value_counts()

EMY-HD-14-48               6169
EMY-KM-14-52                 73
EMY-HD-14-45                 23
NEG-TED-HT-OM-14-0-1544       4
NEG-TED-HT-OM-14-0-2370       3
EMY-HD-14-51                  1
KMY-KM-14-64                  1
NEG-ED-CR-OM-14-0-1483        1
NEG-TED-EC-OM-14-0-1449       1
NEG-TED-HK-OM-14-0-2219       1
Name: 배출가스인증번호, dtype: int64

## BMY-HD-14-54 샘플

In [4]:
g3.loc[g3['배출가스인증번호'] == 'BMY-HD-14-54'].shape

(83911, 49)

In [8]:
# about 1m 9.7s
g3.loc[g3['배출가스인증번호'] == 'BMY-HD-14-54'].to_excel(os.path.join(raw_fold, '샘플_3등급_BMY-HD-14-54.xlsx'), index=False)

## BMY-KM-14-32 샘플

In [5]:
g3.loc[g3['배출가스인증번호'] == 'BMY-KM-14-32'].shape

(28805, 49)

In [9]:
# about 24.6s
g3.loc[g3['배출가스인증번호'] == 'BMY-KM-14-32'].to_excel(os.path.join(raw_fold, '샘플_3등급_BMY-KM-14-32.xlsx'), index=False)

# 코드 마지막