# Library

In [1]:
import pandas as pd
import numpy as np
import os

In [2]:
ods_fold = 'D:\과업\[한국환경공단]자동차_환경_빅데이터_구축_2차\data\ODS'

# [ODS] 자동차 등록정보(말소제거)

In [3]:
# about 9m 30s
file_name = '[ODS]자동차_등록정보(말소제거)(한글컬럼)(2022.12.29).csv'
ods_path = os.path.join(ods_fold, file_name)
df1 = pd.read_csv(ods_path, low_memory=False, encoding='cp949')
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25693532 entries, 0 to 25693531
Data columns (total 32 columns):
 #   Column         Dtype
---  ------         -----
 0   차량관리번호         object
 1   차량등록번호         object
 2   본거지 법정동 코드     int64
 3   소유자 구분         object
 4   차종             object
 5   용도             object
 6   미정             object
 7   현재 회원번호        object
 8   미정.1           object
 9   미정.2           object
 10  차대번호           object
 11  최초 등록 일자       int64
 12  차량 연식          int64
 13  차량 제작 일자       float64
 14  배출가스검사유효일자     float64
 15  제원관리번호         object
 16  배출가스 인증번호      object
 17  배출가스 등급        object
 18  저공해조치 YN(미사용)  object
 19  저공해조치 종류       float64
 20  저공해조치 구조변경 YN  object
 21  미정.3           float64
 22  차량등록번호 숫자 정보   int64
 23  차량 말소 YN       object
 24  미정.4           object
 25  최초 회원번호        object
 26  취득 일자          object
 27  취득 금액          float64
 28  미정.5           object
 29  생성 일시          object
 30  수정 일시          object
 31  미정.6           object
dtypes: float64(5), int64(4), object(23)
memory usage: 6.1+ GB

In [4]:
df1.columns

Index(['차량관리번호', '차량등록번호', '본거지 법정동 코드', '소유자 구분', '차종', '용도', '미정', '현재 회원번호',
       '미정.1', '미정.2', '차대번호', '최초 등록 일자', '차량 연식', '차량 제작 일자', '배출가스검사유효일자',
       '제원관리번호', '배출가스 인증번호', '배출가스 등급', '저공해조치 YN(미사용)', '저공해조치 종류',
       '저공해조치 구조변경 YN', '미정.3', '차량등록번호 숫자 정보', '차량 말소 YN', '미정.4', '최초 회원번호',
       '취득 일자', '취득 금액', '미정.5', '생성 일시', '수정 일시', '미정.6'],
      dtype='object')

In [5]:
df1.columns = ['차량관리번호', '차량등록번호', '본거지법정동코드', '소유자구분', '차종_등록정보', '용도', '미정1', '현재회원번호', '미정2', '미정3', '차대번호', '최초등록일자', '차량연식', '차량제작일자', 
               '배출가스검사유효일자', '제원관리번호', '배출가스인증번호', '배출가스등급', '저공해조치YN(미사용)', '저공해조치종류', '저공해조치구조변경YN', '미정4', '차량등록번호숫자정보', '차량말소YN', 
               '미정5', '최초회원번호', '취득일자', '취득금액', '미정6', '생성일시_등록정보', '수정일시_등록정보', '미정7']

# [ODS] 자동차 제원정보

In [6]:
# about 4s
file_name = '[ODS]자동차_제원정보(한글컬럼)(2022.12.29).csv'
ods_path = os.path.join(ods_fold, file_name)
df2 = pd.read_csv(ods_path, low_memory=False, encoding='cp949')
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 545374 entries, 0 to 545373
Data columns (total 28 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   제원관리번호       545374 non-null  object
 1   차명           545272 non-null  object
 2   차종           545370 non-null  object
 3   차종 분류        531367 non-null  object
 4   차종 유형 (소분류)  531332 non-null  object
 5   자동차 형식       516295 non-null  object
 6   제작사 명        529017 non-null  object
 7   연료           503254 non-null  object
 8   엔진형식         494157 non-null  object
 9   공차중량         0 non-null       float64
 10  총 중량         541702 non-null  float64
 11  적재 중량        446181 non-null  float64
 12  엔진출력         471948 non-null  float64
 13  배기량          510521 non-null  float64
 14  승차 인원        545313 non-null  float64
 15  차량 길이        514786 non-null  float64
 16  차량 너비        514799 non-null  float64
 17  차량 높이        514732 non-null  float64
 18  원산지 명        540392 non-null  object
 19  미정           0 non-null       float64
 20  삭제 YN        545374 non-null  object
 21  승인 일자        532881 non-null  object
 22  구동 형식        114619 non-null  object
 23  변속기 종류       540165 non-null  object
 24  미정.1         1 non-null       object
 25  생성 일시        545374 non-null  object
 26  수정 일시        14578 non-null   object
 27  미정.2         545374 non-null  object
dtypes: float64(10), object(18)
memory usage: 116.5+ MB

In [7]:
df2.columns

Index(['제원관리번호', '차명', '차종', '차종 분류', '차종 유형 (소분류)', '자동차 형식', '제작사 명', '연료',
       '엔진형식', '공차중량', '총 중량', '적재 중량', '엔진출력', '배기량', '승차 인원', '차량 길이',
       '차량 너비', '차량 높이', '원산지 명', '미정', '삭제 YN', '승인 일자', '구동 형식', '변속기 종류',
       '미정.1', '생성 일시', '수정 일시', '미정.2'],
      dtype='object')

In [8]:
df2.columns = ['제원관리번호', '차명', '차종_제원정보', '차종분류', '차종유형(소분류)', '자동차형식', '제작사명', '연료', '엔진형식', '공차중량', '총중량', '적재중량', '엔진출력', '배기량', '승차인원', 
               '차량길이', '차량너비', '차량높이', '원산지명', '미정1', '삭제YN', '승인일자', '구동형식', '변속기종류', '미정2', '생성일시_제원정보', '수정일시_제원정보', '미정3']

## [병합] 등록정보와 제원정보

In [9]:
# about 45s
total = df1.merge(df2, on='제원관리번호', how='left')
total.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 25693532 entries, 0 to 25693531
Data columns (total 59 columns):
 #   Column        Dtype
---  ------        -----
 0   차량관리번호        object
 1   차량등록번호        object
 2   본거지법정동코드      int64
 3   소유자구분         object
 4   차종_등록정보       object
 5   용도            object
 6   미정1_x         object
 7   현재회원번호        object
 8   미정2_x         object
 9   미정3_x         object
 10  차대번호          object
 11  최초등록일자        int64
 12  차량연식          int64
 13  차량제작일자        float64
 14  배출가스검사유효일자    float64
 15  제원관리번호        object
 16  배출가스인증번호      object
 17  배출가스등급        object
 18  저공해조치YN(미사용)  object
 19  저공해조치종류       float64
 20  저공해조치구조변경YN   object
 21  미정4           float64
 22  차량등록번호숫자정보    int64
 23  차량말소YN        object
 24  미정5           object
 25  최초회원번호        object
 26  취득일자          object
 27  취득금액          float64
 28  미정6           object
 29  생성일시_등록정보     object
 30  수정일시_등록정보     object
 31  미정7           object
 32  차명            object
 33  차종_제원정보       object
 34  차종분류          object
 35  차종유형(소분류)     object
 36  자동차형식         object
 37  제작사명          object
 38  연료            object
 39  엔진형식          object
 40  공차중량          float64
 41  총중량           float64
 42  적재중량          float64
 43  엔진출력          float64
 44  배기량           float64
 45  승차인원          float64
 46  차량길이          float64
 47  차량너비          float64
 48  차량높이          float64
 49  원산지명          object
 50  미정1_y         float64
 51  삭제YN          object
 52  승인일자          object
 53  구동형식          object
 54  변속기종류         object
 55  미정2_y         object
 56  생성일시_제원정보     object
 57  수정일시_제원정보     object
 58  미정3_y         object
dtypes: float64(15), int64(4), object(40)
memory usage: 11.5+ GB

In [10]:
total['차량말소YN'].value_counts()

N    25693532
Name: 차량말소YN, dtype: int64

In [12]:
total[total['차량말소YN'] == 'N'].reset_index(drop=True).head()

,차량관리번호,차량등록번호,본거지법정동코드,소유자구분,차종_등록정보,용도,미정1_x,현재회원번호,미정2_x,미정3_x,...,원산지명,미정1_y,삭제YN,승인일자,구동형식,변속기종류,미정2_y,생성일시_제원정보,수정일시_제원정보,미정3_y
0,10762211742-01,서울1나4019,1165010700,기타,승용,자가용,3C89752E624558D6234883FF31231256,FFFB77E175610478415F654BFE77B2E7,94CF4601CD36E37259A508CDB9CF1BF2E583F1FA06E4C9...,94CF4601CD36E37259A508CDB9CF1BF2E583F1FA06E4C9...,...,NaN,NaN,N,19751216,NaN,M,NaN,19/06/22,NaN,SYSTEM
1,KG68T122688*-01,대구1다1476,2711010500,기타,승용,자가용,A716E948EFD514847BD5C77D9B054F8A,NaN,FB1685B2F216C8F517B246583C52ECA58997FF03014780...,FB1685B2F216C8F517B246583C52ECA58997FF03014780...,...,일본,NaN,N,NaN,NaN,M,NaN,19/06/22,NaN,SYSTEM
2,10762211783-01,인천1마8052,2820010300,기타,승용,자가용,0F243BB4751963E628E19A5BCD6CFFCB,NaN,6A0C78943819F407C87E00116981877E301F7677D1A003...,6A0C78943819F407C87E00116981877E301F7677D1A003...,...,NaN,NaN,N,19751216,NaN,M,NaN,19/06/22,NaN,SYSTEM
3,PN71C018511000000-01,87로9835,4213011200,주민,화물,자가용,73CFB46180AD3302B1A9F45E550EF6E5,DBFCB87570199614FFBB9FA11DCD4675,26F22501FA02CE68011BC524C18450B9F42F7479B268F8...,26F22501FA02CE68011BC524C18450B9F42F7479B268F8...,...,기타,NaN,N,20140807,NaN,M,NaN,19/06/22,NaN,SYSTEM
4,KMHLA11FPGU060639-01,경남1러3590,4812110500,주민,승용,자가용,0132B746078DFA5BA833D6906AD06A13,6194C458F73E4656322A364FEA4E9441,D6E42385110B0C268E42FCB99F442B91B9FB08B6708219...,D6E42385110B0C268E42FCB99F442B91B9FB08B6708219...,...,대한민국,NaN,N,19860821,NaN,M,NaN,19/06/22,NaN,SYSTEM

## [출력] 등록정보와 제원정보

In [13]:
# about 17m
total.to_csv(os.path.join(ods_fold, '[ODS]등록정보&제원정보(말소제거)(한글컬럼)(2022.12.29).csv'), index=False, encoding='cp949')

# [ODS]1등급

## [로드]

In [18]:
# about 1m
file_name = '[ODS][G1]자동차_등록정보(한글컬럼)(2022.12.29).csv'
ods_path = os.path.join(ods_fold, file_name)
df1 = pd.read_csv(ods_path, low_memory=False, encoding='cp949')
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2869999 entries, 0 to 2869998
Data columns (total 32 columns):
 #   Column         Dtype
---  ------         -----
 0   차량관리번호         object
 1   차량등록번호         object
 2   본거지 법정동 코드     int64
 3   소유자 구분         object
 4   차종             object
 5   용도             object
 6   미정             object
 7   현재 회원번호        object
 8   미정.1           object
 9   미정.2           object
 10  차대번호           object
 11  최초 등록 일자       int64
 12  차량 연식          int64
 13  차량 제작 일자       float64
 14  배출가스검사유효일자     float64
 15  제원관리번호         object
 16  배출가스 인증번호      object
 17  배출가스 등급        int64
 18  저공해조치 YN(미사용)  object
 19  저공해조치 종류       float64
 20  저공해조치 구조변경 YN  object
 21  미정.3           float64
 22  차량등록번호 숫자 정보   int64
 23  차량 말소 YN       object
 24  미정.4           object
 25  최초 회원번호        object
 26  취득 일자          float64
 27  취득 금액          float64
 28  미정.5           object
 29  생성 일시          object
 30  수정 일시          object
 31  미정.6           object
dtypes: float64(6), int64(5), object(21)
memory usage: 700.7+ MB

In [22]:
# about 3s
file_name = '[ODS]자동차_제원정보(한글컬럼)(2022.12.29).csv'
ods_path = os.path.join(ods_fold, file_name)
df2 = pd.read_csv(ods_path, low_memory=False, encoding='cp949')
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 545374 entries, 0 to 545373
Data columns (total 28 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   제원관리번호       545374 non-null  object
 1   차명           545272 non-null  object
 2   차종           545370 non-null  object
 3   차종 분류        531367 non-null  object
 4   차종 유형 (소분류)  531332 non-null  object
 5   자동차 형식       516295 non-null  object
 6   제작사 명        529017 non-null  object
 7   연료           503254 non-null  object
 8   엔진형식         494157 non-null  object
 9   공차중량         0 non-null       float64
 10  총 중량         541702 non-null  float64
 11  적재 중량        446181 non-null  float64
 12  엔진출력         471948 non-null  float64
 13  배기량          510521 non-null  float64
 14  승차 인원        545313 non-null  float64
 15  차량 길이        514786 non-null  float64
 16  차량 너비        514799 non-null  float64
 17  차량 높이        514732 non-null  float64
 18  원산지 명        540392 non-null  object
 19  미정           0 non-null       float64
 20  삭제 YN        545374 non-null  object
 21  승인 일자        532881 non-null  object
 22  구동 형식        114619 non-null  object
 23  변속기 종류       540165 non-null  object
 24  미정.1         1 non-null       object
 25  생성 일시        545374 non-null  object
 26  수정 일시        14578 non-null   object
 27  미정.2         545374 non-null  object
dtypes: float64(10), object(18)
memory usage: 116.5+ MB

### 정리
- 컬럼명, 컬럼순서, 컬럼

In [23]:
df1.columns

Index(['차량관리번호', '차량등록번호', '본거지 법정동 코드', '소유자 구분', '차종', '용도', '미정', '현재 회원번호',
       '미정.1', '미정.2', '차대번호', '최초 등록 일자', '차량 연식', '차량 제작 일자', '배출가스검사유효일자',
       '제원관리번호', '배출가스 인증번호', '배출가스 등급', '저공해조치 YN(미사용)', '저공해조치 종류',
       '저공해조치 구조변경 YN', '미정.3', '차량등록번호 숫자 정보', '차량 말소 YN', '미정.4', '최초 회원번호',
       '취득 일자', '취득 금액', '미정.5', '생성 일시', '수정 일시', '미정.6'],
      dtype='object')

In [24]:
df1.columns = ['차량관리번호', '차량등록번호', '본거지법정동코드', '소유자구분', '차종_등록정보', '용도', '미정1', '현재회원번호', '미정2', '미정3', '차대번호', '최초등록일자', '차량연식', '차량제작일자', 
               '배출가스검사유효일자', '제원관리번호', '배출가스인증번호', '배출가스등급', '저공해조치YN(미사용)', '저공해조치종류', '저공해조치구조변경YN', '미정4', '차량등록번호숫자정보', '차량말소YN', '미정5', '최초회원번호', '취득일자', '취득금액', '미정6', '생성일시_등록정보', '수정일시_등록정보', '미정7']

In [25]:
df2.columns

Index(['제원관리번호', '차명', '차종', '차종 분류', '차종 유형 (소분류)', '자동차 형식', '제작사 명', '연료',
       '엔진형식', '공차중량', '총 중량', '적재 중량', '엔진출력', '배기량', '승차 인원', '차량 길이',
       '차량 너비', '차량 높이', '원산지 명', '미정', '삭제 YN', '승인 일자', '구동 형식', '변속기 종류',
       '미정.1', '생성 일시', '수정 일시', '미정.2'],
      dtype='object')

In [26]:
df2.columns = ['제원관리번호', '차명', '차종_제원정보', '차종분류', '차종유형(소분류)', '자동차형식', '제작사명', '연료',
       '엔진형식', '공차중량', '총중량', '적재중량', '엔진출력', '배기량', '승차인원', '차량길이',
       '차량너비', '차량높이', '원산지명', '미정1', '삭제YN', '승인일자', '구동형식', '변속기종류',
       '미정2', '생성일시_제원정보', '수정일시_제원정보', '미정3']

In [27]:
df1['배출가스등급'].value_counts()

1    2869999
Name: 배출가스등급, dtype: int64

## [병합] 등록정보와 제원정보

In [28]:
total = df1.merge(df2, on='제원관리번호', how='left')
total.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2869999 entries, 0 to 2869998
Data columns (total 59 columns):
 #   Column        Dtype
---  ------        -----
 0   차량관리번호        object
 1   차량등록번호        object
 2   본거지법정동코드      int64
 3   소유자구분         object
 4   차종_등록정보       object
 5   용도            object
 6   미정1_x         object
 7   현재회원번호        object
 8   미정2_x         object
 9   미정3_x         object
 10  차대번호          object
 11  최초등록일자        int64
 12  차량연식          int64
 13  차량제작일자        float64
 14  배출가스검사유효일자    float64
 15  제원관리번호        object
 16  배출가스인증번호      object
 17  배출가스등급        int64
 18  저공해조치YN(미사용)  object
 19  저공해조치종류       float64
 20  저공해조치구조변경YN   object
 21  미정4           float64
 22  차량등록번호숫자정보    int64
 23  차량말소YN        object
 24  미정5           object
 25  최초회원번호        object
 26  취득일자          float64
 27  취득금액          float64
 28  미정6           object
 29  생성일시_등록정보     object
 30  수정일시_등록정보     object
 31  미정7           object
 32  차명            object
 33  차종_제원정보       object
 34  차종분류          object
 35  차종유형(소분류)     object
 36  자동차형식         object
 37  제작사명          object
 38  연료            object
 39  엔진형식          object
 40  공차중량          float64
 41  총중량           float64
 42  적재중량          float64
 43  엔진출력          float64
 44  배기량           float64
 45  승차인원          float64
 46  차량길이          float64
 47  차량너비          float64
 48  차량높이          float64
 49  원산지명          object
 50  미정1_y         float64
 51  삭제YN          object
 52  승인일자          object
 53  구동형식          object
 54  변속기종류         object
 55  미정2_y         object
 56  생성일시_제원정보     object
 57  수정일시_제원정보     object
 58  미정3_y         object
dtypes: float64(16), int64(5), object(38)
memory usage: 1.3+ GB

## [출력] 등록정보와 제원정보

In [29]:
# about 1m
total.to_csv(os.path.join(ods_fold, '[ODS][G1]등록정보&제원정보(한글컬럼)(2022.12.29).csv'), index=False, encoding='cp949')

# [ODS]2등급

## [로드]

In [30]:
# about 4m
file_name = '[ODS][G2]자동차_등록정보(한글컬럼)(2022.12.29).csv'
ods_path = os.path.join(ods_fold, file_name)
df1 = pd.read_csv(ods_path, low_memory=False, encoding='cp949')
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12048662 entries, 0 to 12048661
Data columns (total 32 columns):
 #   Column         Dtype
---  ------         -----
 0   차량관리번호         object
 1   차량등록번호         object
 2   본거지 법정동 코드     int64
 3   소유자 구분         object
 4   차종             object
 5   용도             object
 6   미정             object
 7   현재 회원번호        object
 8   미정.1           object
 9   미정.2           object
 10  차대번호           object
 11  최초 등록 일자       int64
 12  차량 연식          int64
 13  차량 제작 일자       float64
 14  배출가스검사유효일자     float64
 15  제원관리번호         object
 16  배출가스 인증번호      object
 17  배출가스 등급        object
 18  저공해조치 YN(미사용)  object
 19  저공해조치 종류       float64
 20  저공해조치 구조변경 YN  object
 21  미정.3           float64
 22  차량등록번호 숫자 정보   int64
 23  차량 말소 YN       object
 24  미정.4           object
 25  최초 회원번호        object
 26  취득 일자          float64
 27  취득 금액          float64
 28  미정.5           object
 29  생성 일시          object
 30  수정 일시          object
 31  미정.6           object
dtypes: float64(6), int64(4), object(22)
memory usage: 2.9+ GB

### 정리
- 컬럼명, 컬럼순서, 컬럼

In [31]:
df1.columns

Index(['차량관리번호', '차량등록번호', '본거지 법정동 코드', '소유자 구분', '차종', '용도', '미정', '현재 회원번호',
       '미정.1', '미정.2', '차대번호', '최초 등록 일자', '차량 연식', '차량 제작 일자', '배출가스검사유효일자',
       '제원관리번호', '배출가스 인증번호', '배출가스 등급', '저공해조치 YN(미사용)', '저공해조치 종류',
       '저공해조치 구조변경 YN', '미정.3', '차량등록번호 숫자 정보', '차량 말소 YN', '미정.4', '최초 회원번호',
       '취득 일자', '취득 금액', '미정.5', '생성 일시', '수정 일시', '미정.6'],
      dtype='object')

In [32]:
df1.columns = ['차량관리번호', '차량등록번호', '본거지법정동코드', '소유자구분', '차종_등록정보', '용도', '미정1', '현재회원번호',
       '미정2', '미정3', '차대번호', '최초등록일자', '차량연식', '차량제작일자', '배출가스검사유효일자',
       '제원관리번호', '배출가스인증번호', '배출가스등급', '저공해조치YN(미사용)', '저공해조치종류',
       '저공해조치구조변경YN', '미정4', '차량등록번호숫자정보', '차량말소YN', '미정5', '최초회원번호',
       '취득일자', '취득금액', '미정6', '생성일시_등록정보', '수정일시_등록정보', '미정7']

In [33]:
df1['배출가스등급'].value_counts()

2     11798398
T2      250264
Name: 배출가스등급, dtype: int64

## [병합] 등록정보와 제원정보

In [34]:
total = df1.merge(df2, on='제원관리번호', how='left')
total.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 12048662 entries, 0 to 12048661
Data columns (total 59 columns):
 #   Column        Dtype
---  ------        -----
 0   차량관리번호        object
 1   차량등록번호        object
 2   본거지법정동코드      int64
 3   소유자구분         object
 4   차종_등록정보       object
 5   용도            object
 6   미정1_x         object
 7   현재회원번호        object
 8   미정2_x         object
 9   미정3_x         object
 10  차대번호          object
 11  최초등록일자        int64
 12  차량연식          int64
 13  차량제작일자        float64
 14  배출가스검사유효일자    float64
 15  제원관리번호        object
 16  배출가스인증번호      object
 17  배출가스등급        object
 18  저공해조치YN(미사용)  object
 19  저공해조치종류       float64
 20  저공해조치구조변경YN   object
 21  미정4           float64
 22  차량등록번호숫자정보    int64
 23  차량말소YN        object
 24  미정5           object
 25  최초회원번호        object
 26  취득일자          float64
 27  취득금액          float64
 28  미정6           object
 29  생성일시_등록정보     object
 30  수정일시_등록정보     object
 31  미정7           object
 32  차명            object
 33  차종_제원정보       object
 34  차종분류          object
 35  차종유형(소분류)     object
 36  자동차형식         object
 37  제작사명          object
 38  연료            object
 39  엔진형식          object
 40  공차중량          float64
 41  총중량           float64
 42  적재중량          float64
 43  엔진출력          float64
 44  배기량           float64
 45  승차인원          float64
 46  차량길이          float64
 47  차량너비          float64
 48  차량높이          float64
 49  원산지명          object
 50  미정1_y         float64
 51  삭제YN          object
 52  승인일자          object
 53  구동형식          object
 54  변속기종류         object
 55  미정2_y         object
 56  생성일시_제원정보     object
 57  수정일시_제원정보     object
 58  미정3_y         object
dtypes: float64(16), int64(4), object(39)
memory usage: 5.4+ GB

## [출력] 등록정보와 제원정보

In [35]:
# about 5m
total.to_csv(os.path.join(ods_fold, '[ODS][G2]등록정보&제원정보(한글컬럼)(2022.12.29).csv'), index=False, encoding='cp949')

# [ODS]3등급

## [로드]

In [36]:
# about 3m
file_name = '[ODS][G3]자동차_등록정보(한글컬럼)(2022.12.29).csv'
ods_path = os.path.join(ods_fold, file_name)
df1 = pd.read_csv(ods_path, low_memory=False, encoding='cp949')
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10023646 entries, 0 to 10023645
Data columns (total 32 columns):
 #   Column         Dtype
---  ------         -----
 0   차량관리번호         object
 1   차량등록번호         object
 2   본거지 법정동 코드     int64
 3   소유자 구분         object
 4   차종             object
 5   용도             object
 6   미정             object
 7   현재 회원번호        object
 8   미정.1           object
 9   미정.2           object
 10  차대번호           object
 11  최초 등록 일자       int64
 12  차량 연식          int64
 13  차량 제작 일자       float64
 14  배출가스검사유효일자     float64
 15  제원관리번호         object
 16  배출가스 인증번호      object
 17  배출가스 등급        object
 18  저공해조치 YN(미사용)  object
 19  저공해조치 종류       float64
 20  저공해조치 구조변경 YN  object
 21  미정.3           float64
 22  차량등록번호 숫자 정보   int64
 23  차량 말소 YN       object
 24  미정.4           object
 25  최초 회원번호        object
 26  취득 일자          float64
 27  취득 금액          float64
 28  미정.5           object
 29  생성 일시          object
 30  수정 일시          object
 31  미정.6           object
dtypes: float64(6), int64(4), object(22)
memory usage: 2.4+ GB

### 정리
- 컬럼명, 컬럼순서, 컬럼

In [37]:
df1.columns

Index(['차량관리번호', '차량등록번호', '본거지 법정동 코드', '소유자 구분', '차종', '용도', '미정', '현재 회원번호',
       '미정.1', '미정.2', '차대번호', '최초 등록 일자', '차량 연식', '차량 제작 일자', '배출가스검사유효일자',
       '제원관리번호', '배출가스 인증번호', '배출가스 등급', '저공해조치 YN(미사용)', '저공해조치 종류',
       '저공해조치 구조변경 YN', '미정.3', '차량등록번호 숫자 정보', '차량 말소 YN', '미정.4', '최초 회원번호',
       '취득 일자', '취득 금액', '미정.5', '생성 일시', '수정 일시', '미정.6'],
      dtype='object')

In [38]:
df1.columns = ['차량관리번호', '차량등록번호', '본거지법정동코드', '소유자구분', '차종_등록정보', '용도', '미정1', '현재회원번호',
       '미정2', '미정3', '차대번호', '최초등록일자', '차량연식', '차량제작일자', '배출가스검사유효일자',
       '제원관리번호', '배출가스인증번호', '배출가스등급', '저공해조치YN(미사용)', '저공해조치종류',
       '저공해조치구조변경YN', '미정4', '차량등록번호숫자정보', '차량말소YN', '미정5', '최초회원번호',
       '취득일자', '취득금액', '미정6', '생성일시_등록정보', '수정일시_등록정보', '미정7']

In [39]:
df1['배출가스등급'].value_counts()

3     9886814
T3     136832
Name: 배출가스등급, dtype: int64

## [병합] 등록정보와 제원정보

In [40]:
total = df1.merge(df2, on='제원관리번호', how='left')
total.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10023646 entries, 0 to 10023645
Data columns (total 59 columns):
 #   Column        Dtype
---  ------        -----
 0   차량관리번호        object
 1   차량등록번호        object
 2   본거지법정동코드      int64
 3   소유자구분         object
 4   차종_등록정보       object
 5   용도            object
 6   미정1_x         object
 7   현재회원번호        object
 8   미정2_x         object
 9   미정3_x         object
 10  차대번호          object
 11  최초등록일자        int64
 12  차량연식          int64
 13  차량제작일자        float64
 14  배출가스검사유효일자    float64
 15  제원관리번호        object
 16  배출가스인증번호      object
 17  배출가스등급        object
 18  저공해조치YN(미사용)  object
 19  저공해조치종류       float64
 20  저공해조치구조변경YN   object
 21  미정4           float64
 22  차량등록번호숫자정보    int64
 23  차량말소YN        object
 24  미정5           object
 25  최초회원번호        object
 26  취득일자          float64
 27  취득금액          float64
 28  미정6           object
 29  생성일시_등록정보     object
 30  수정일시_등록정보     object
 31  미정7           object
 32  차명            object
 33  차종_제원정보       object
 34  차종분류          object
 35  차종유형(소분류)     object
 36  자동차형식         object
 37  제작사명          object
 38  연료            object
 39  엔진형식          object
 40  공차중량          float64
 41  총중량           float64
 42  적재중량          float64
 43  엔진출력          float64
 44  배기량           float64
 45  승차인원          float64
 46  차량길이          float64
 47  차량너비          float64
 48  차량높이          float64
 49  원산지명          object
 50  미정1_y         float64
 51  삭제YN          object
 52  승인일자          object
 53  구동형식          object
 54  변속기종류         object
 55  미정2_y         object
 56  생성일시_제원정보     object
 57  수정일시_제원정보     object
 58  미정3_y         object
dtypes: float64(16), int64(4), object(39)
memory usage: 4.5+ GB

## [출력] 등록정보와 제원정보

In [41]:
# about 4m
total.to_csv(os.path.join(ods_fold, '[ODS][G3]등록정보&제원정보(한글컬럼)(2022.12.29).csv'), index=False, encoding='cp949')

# [ODS]4등급

## [로드]

In [42]:
# about 40s
file_name = '[ODS][G4]자동차_등록정보(한글컬럼)(2022.12.29).csv'
ods_path = os.path.join(ods_fold, file_name)
df1 = pd.read_csv(ods_path, low_memory=False, encoding='cp949')
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1897577 entries, 0 to 1897576
Data columns (total 32 columns):
 #   Column         Dtype
---  ------         -----
 0   차량관리번호         object
 1   차량등록번호         object
 2   본거지 법정동 코드     int64
 3   소유자 구분         object
 4   차종             object
 5   용도             object
 6   미정             object
 7   현재 회원번호        object
 8   미정.1           object
 9   미정.2           object
 10  차대번호           object
 11  최초 등록 일자       int64
 12  차량 연식          int64
 13  차량 제작 일자       float64
 14  배출가스검사유효일자     float64
 15  제원관리번호         object
 16  배출가스 인증번호      object
 17  배출가스 등급        object
 18  저공해조치 YN(미사용)  object
 19  저공해조치 종류       float64
 20  저공해조치 구조변경 YN  object
 21  미정.3           float64
 22  차량등록번호 숫자 정보   int64
 23  차량 말소 YN       object
 24  미정.4           object
 25  최초 회원번호        object
 26  취득 일자          object
 27  취득 금액          float64
 28  미정.5           object
 29  생성 일시          object
 30  수정 일시          object
 31  미정.6           object
dtypes: float64(5), int64(4), object(23)
memory usage: 463.3+ MB

### 정리
- 컬럼명, 컬럼순서, 컬럼

In [43]:
df1.columns

Index(['차량관리번호', '차량등록번호', '본거지 법정동 코드', '소유자 구분', '차종', '용도', '미정', '현재 회원번호',
       '미정.1', '미정.2', '차대번호', '최초 등록 일자', '차량 연식', '차량 제작 일자', '배출가스검사유효일자',
       '제원관리번호', '배출가스 인증번호', '배출가스 등급', '저공해조치 YN(미사용)', '저공해조치 종류',
       '저공해조치 구조변경 YN', '미정.3', '차량등록번호 숫자 정보', '차량 말소 YN', '미정.4', '최초 회원번호',
       '취득 일자', '취득 금액', '미정.5', '생성 일시', '수정 일시', '미정.6'],
      dtype='object')

In [44]:
df1.columns = ['차량관리번호', '차량등록번호', '본거지법정동코드', '소유자구분', '차종_등록정보', '용도', '미정1', '현재회원번호',
       '미정2', '미정3', '차대번호', '최초등록일자', '차량연식', '차량제작일자', '배출가스검사유효일자',
       '제원관리번호', '배출가스인증번호', '배출가스등급', '저공해조치YN(미사용)', '저공해조치종류',
       '저공해조치구조변경YN', '미정4', '차량등록번호숫자정보', '차량말소YN', '미정5', '최초회원번호',
       '취득일자', '취득금액', '미정6', '생성일시_등록정보', '수정일시_등록정보', '미정7']

In [45]:
df1['배출가스등급'].value_counts()

4     1897535
T4         42
Name: 배출가스등급, dtype: int64

## [병합] 등록정보와 제원정보

In [46]:
total = df1.merge(df2, on='제원관리번호', how='left')
total.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1897577 entries, 0 to 1897576
Data columns (total 59 columns):
 #   Column        Dtype
---  ------        -----
 0   차량관리번호        object
 1   차량등록번호        object
 2   본거지법정동코드      int64
 3   소유자구분         object
 4   차종_등록정보       object
 5   용도            object
 6   미정1_x         object
 7   현재회원번호        object
 8   미정2_x         object
 9   미정3_x         object
 10  차대번호          object
 11  최초등록일자        int64
 12  차량연식          int64
 13  차량제작일자        float64
 14  배출가스검사유효일자    float64
 15  제원관리번호        object
 16  배출가스인증번호      object
 17  배출가스등급        object
 18  저공해조치YN(미사용)  object
 19  저공해조치종류       float64
 20  저공해조치구조변경YN   object
 21  미정4           float64
 22  차량등록번호숫자정보    int64
 23  차량말소YN        object
 24  미정5           object
 25  최초회원번호        object
 26  취득일자          object
 27  취득금액          float64
 28  미정6           object
 29  생성일시_등록정보     object
 30  수정일시_등록정보     object
 31  미정7           object
 32  차명            object
 33  차종_제원정보       object
 34  차종분류          object
 35  차종유형(소분류)     object
 36  자동차형식         object
 37  제작사명          object
 38  연료            object
 39  엔진형식          object
 40  공차중량          float64
 41  총중량           float64
 42  적재중량          float64
 43  엔진출력          float64
 44  배기량           float64
 45  승차인원          float64
 46  차량길이          float64
 47  차량너비          float64
 48  차량높이          float64
 49  원산지명          object
 50  미정1_y         float64
 51  삭제YN          object
 52  승인일자          object
 53  구동형식          object
 54  변속기종류         object
 55  미정2_y         object
 56  생성일시_제원정보     object
 57  수정일시_제원정보     object
 58  미정3_y         object
dtypes: float64(15), int64(4), object(40)
memory usage: 868.6+ MB

## [출력] 등록정보와 제원정보

In [47]:
# about 45s
total.to_csv(os.path.join(ods_fold, '[ODS][G4]등록정보&제원정보(한글컬럼)(2022.12.29).csv'), index=False, encoding='cp949')

# [ODS]5등급

## [로드]

In [48]:
# about 50s
file_name = '[ODS][G5]자동차_등록정보(한글컬럼)(2022.12.29).csv'
ods_path = os.path.join(ods_fold, file_name)
df1 = pd.read_csv(ods_path, low_memory=False, encoding='cp949')
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2377928 entries, 0 to 2377927
Data columns (total 32 columns):
 #   Column         Dtype
---  ------         -----
 0   차량관리번호         object
 1   차량등록번호         object
 2   본거지 법정동 코드     int64
 3   소유자 구분         object
 4   차종             object
 5   용도             object
 6   미정             object
 7   현재 회원번호        object
 8   미정.1           object
 9   미정.2           object
 10  차대번호           object
 11  최초 등록 일자       int64
 12  차량 연식          int64
 13  차량 제작 일자       float64
 14  배출가스검사유효일자     float64
 15  제원관리번호         object
 16  배출가스 인증번호      object
 17  배출가스 등급        object
 18  저공해조치 YN(미사용)  object
 19  저공해조치 종류       float64
 20  저공해조치 구조변경 YN  object
 21  미정.3           float64
 22  차량등록번호 숫자 정보   int64
 23  차량 말소 YN       object
 24  미정.4           object
 25  최초 회원번호        object
 26  취득 일자          float64
 27  취득 금액          float64
 28  미정.5           object
 29  생성 일시          object
 30  수정 일시          object
 31  미정.6           object
dtypes: float64(6), int64(4), object(22)
memory usage: 580.5+ MB

### 정리
- 컬럼명, 컬럼순서, 컬럼

In [49]:
df1.columns

Index(['차량관리번호', '차량등록번호', '본거지 법정동 코드', '소유자 구분', '차종', '용도', '미정', '현재 회원번호',
       '미정.1', '미정.2', '차대번호', '최초 등록 일자', '차량 연식', '차량 제작 일자', '배출가스검사유효일자',
       '제원관리번호', '배출가스 인증번호', '배출가스 등급', '저공해조치 YN(미사용)', '저공해조치 종류',
       '저공해조치 구조변경 YN', '미정.3', '차량등록번호 숫자 정보', '차량 말소 YN', '미정.4', '최초 회원번호',
       '취득 일자', '취득 금액', '미정.5', '생성 일시', '수정 일시', '미정.6'],
      dtype='object')

In [50]:
df1.columns = ['차량관리번호', '차량등록번호', '본거지법정동코드', '소유자구분', '차종_등록정보', '용도', '미정1', '현재회원번호',
       '미정2', '미정3', '차대번호', '최초등록일자', '차량연식', '차량제작일자', '배출가스검사유효일자',
       '제원관리번호', '배출가스인증번호', '배출가스등급', '저공해조치YN(미사용)', '저공해조치종류',
       '저공해조치구조변경YN', '미정4', '차량등록번호숫자정보', '차량말소YN', '미정5', '최초회원번호',
       '취득일자', '취득금액', '미정6', '생성일시_등록정보', '수정일시_등록정보', '미정7']

In [51]:
df1['배출가스등급'].value_counts()

5     2377881
T5         47
Name: 배출가스등급, dtype: int64

## [병합] 등록정보와 제원정보

In [52]:
total = df1.merge(df2, on='제원관리번호', how='left')
total.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2377928 entries, 0 to 2377927
Data columns (total 59 columns):
 #   Column        Dtype
---  ------        -----
 0   차량관리번호        object
 1   차량등록번호        object
 2   본거지법정동코드      int64
 3   소유자구분         object
 4   차종_등록정보       object
 5   용도            object
 6   미정1_x         object
 7   현재회원번호        object
 8   미정2_x         object
 9   미정3_x         object
 10  차대번호          object
 11  최초등록일자        int64
 12  차량연식          int64
 13  차량제작일자        float64
 14  배출가스검사유효일자    float64
 15  제원관리번호        object
 16  배출가스인증번호      object
 17  배출가스등급        object
 18  저공해조치YN(미사용)  object
 19  저공해조치종류       float64
 20  저공해조치구조변경YN   object
 21  미정4           float64
 22  차량등록번호숫자정보    int64
 23  차량말소YN        object
 24  미정5           object
 25  최초회원번호        object
 26  취득일자          float64
 27  취득금액          float64
 28  미정6           object
 29  생성일시_등록정보     object
 30  수정일시_등록정보     object
 31  미정7           object
 32  차명            object
 33  차종_제원정보       object
 34  차종분류          object
 35  차종유형(소분류)     object
 36  자동차형식         object
 37  제작사명          object
 38  연료            object
 39  엔진형식          object
 40  공차중량          float64
 41  총중량           float64
 42  적재중량          float64
 43  엔진출력          float64
 44  배기량           float64
 45  승차인원          float64
 46  차량길이          float64
 47  차량너비          float64
 48  차량높이          float64
 49  원산지명          object
 50  미정1_y         float64
 51  삭제YN          object
 52  승인일자          object
 53  구동형식          object
 54  변속기종류         object
 55  미정2_y         object
 56  생성일시_제원정보     object
 57  수정일시_제원정보     object
 58  미정3_y         object
dtypes: float64(16), int64(4), object(39)
memory usage: 1.1+ GB

## [출력] 등록정보와 제원정보

In [53]:
# about 1m
total.to_csv(os.path.join(ods_fold, '[ODS][G5]등록정보&제원정보(한글컬럼)(2022.12.29).csv'), index=False, encoding='cp949')

# [ODS]1등급(말소제거)

## [로드]

In [14]:
# about 1m 10s
grade = 1
file_name = f'[ODS][G{grade}]자동차_등록정보(말소제거)(한글컬럼)(2022.12.29).csv'
ods_path = os.path.join(ods_fold, file_name)
df1 = pd.read_csv(ods_path, low_memory=False, encoding='cp949')
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2771395 entries, 0 to 2771394
Data columns (total 32 columns):
 #   Column         Dtype
---  ------         -----
 0   차량관리번호         object
 1   차량등록번호         object
 2   본거지 법정동 코드     int64
 3   소유자 구분         object
 4   차종             object
 5   용도             object
 6   미정             object
 7   현재 회원번호        object
 8   미정.1           object
 9   미정.2           object
 10  차대번호           object
 11  최초 등록 일자       int64
 12  차량 연식          int64
 13  차량 제작 일자       float64
 14  배출가스검사유효일자     float64
 15  제원관리번호         object
 16  배출가스 인증번호      object
 17  배출가스 등급        int64
 18  저공해조치 YN(미사용)  object
 19  저공해조치 종류       float64
 20  저공해조치 구조변경 YN  object
 21  미정.3           float64
 22  차량등록번호 숫자 정보   int64
 23  차량 말소 YN       object
 24  미정.4           object
 25  최초 회원번호        object
 26  취득 일자          float64
 27  취득 금액          float64
 28  미정.5           object
 29  생성 일시          object
 30  수정 일시          object
 31  미정.6           object
dtypes: float64(6), int64(5), object(21)
memory usage: 676.6+ MB

### 정리
- 컬럼명, 컬럼순서, 컬럼

In [15]:
df1.columns

Index(['차량관리번호', '차량등록번호', '본거지 법정동 코드', '소유자 구분', '차종', '용도', '미정', '현재 회원번호',
       '미정.1', '미정.2', '차대번호', '최초 등록 일자', '차량 연식', '차량 제작 일자', '배출가스검사유효일자',
       '제원관리번호', '배출가스 인증번호', '배출가스 등급', '저공해조치 YN(미사용)', '저공해조치 종류',
       '저공해조치 구조변경 YN', '미정.3', '차량등록번호 숫자 정보', '차량 말소 YN', '미정.4', '최초 회원번호',
       '취득 일자', '취득 금액', '미정.5', '생성 일시', '수정 일시', '미정.6'],
      dtype='object')

In [16]:
df1.columns = ['차량관리번호', '차량등록번호', '본거지법정동코드', '소유자구분', '차종_등록정보', '용도', '미정1', '현재회원번호', '미정2', '미정3', '차대번호', '최초등록일자', '차량연식', '차량제작일자', 
               '배출가스검사유효일자', '제원관리번호', '배출가스인증번호', '배출가스등급', '저공해조치YN(미사용)', '저공해조치종류', '저공해조치구조변경YN', '미정4', '차량등록번호숫자정보', '차량말소YN', '미정5', '최초회원번호', '취득일자', '취득금액', '미정6', '생성일시_등록정보', '수정일시_등록정보', '미정7']

In [17]:
df1['배출가스등급'].value_counts()

1    2771395
Name: 배출가스등급, dtype: int64

## [병합] 등록정보와 제원정보

In [18]:
total = df1.merge(df2, on='제원관리번호', how='left')
total.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2771395 entries, 0 to 2771394
Data columns (total 59 columns):
 #   Column        Dtype
---  ------        -----
 0   차량관리번호        object
 1   차량등록번호        object
 2   본거지법정동코드      int64
 3   소유자구분         object
 4   차종_등록정보       object
 5   용도            object
 6   미정1_x         object
 7   현재회원번호        object
 8   미정2_x         object
 9   미정3_x         object
 10  차대번호          object
 11  최초등록일자        int64
 12  차량연식          int64
 13  차량제작일자        float64
 14  배출가스검사유효일자    float64
 15  제원관리번호        object
 16  배출가스인증번호      object
 17  배출가스등급        int64
 18  저공해조치YN(미사용)  object
 19  저공해조치종류       float64
 20  저공해조치구조변경YN   object
 21  미정4           float64
 22  차량등록번호숫자정보    int64
 23  차량말소YN        object
 24  미정5           object
 25  최초회원번호        object
 26  취득일자          float64
 27  취득금액          float64
 28  미정6           object
 29  생성일시_등록정보     object
 30  수정일시_등록정보     object
 31  미정7           object
 32  차명            object
 33  차종_제원정보       object
 34  차종분류          object
 35  차종유형(소분류)     object
 36  자동차형식         object
 37  제작사명          object
 38  연료            object
 39  엔진형식          object
 40  공차중량          float64
 41  총중량           float64
 42  적재중량          float64
 43  엔진출력          float64
 44  배기량           float64
 45  승차인원          float64
 46  차량길이          float64
 47  차량너비          float64
 48  차량높이          float64
 49  원산지명          object
 50  미정1_y         float64
 51  삭제YN          object
 52  승인일자          object
 53  구동형식          object
 54  변속기종류         object
 55  미정2_y         object
 56  생성일시_제원정보     object
 57  수정일시_제원정보     object
 58  미정3_y         object
dtypes: float64(16), int64(5), object(38)
memory usage: 1.2+ GB

## [출력] 등록정보와 제원정보

In [19]:
# about 2m
total.to_csv(os.path.join(ods_fold, f'[ODS][G{grade}]등록정보&제원정보(말소제거)(한글컬럼)(2022.12.29).csv'), index=False, encoding='cp949')

# [ODS]2등급(말소제거)

## [로드]

In [20]:
# about 4m
grade = 2
file_name = f'[ODS][G{grade}]자동차_등록정보(말소제거)(한글컬럼)(2022.12.29).csv'
ods_path = os.path.join(ods_fold, file_name)
df1 = pd.read_csv(ods_path, low_memory=False, encoding='cp949')
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11207727 entries, 0 to 11207726
Data columns (total 32 columns):
 #   Column         Dtype
---  ------         -----
 0   차량관리번호         object
 1   차량등록번호         object
 2   본거지 법정동 코드     int64
 3   소유자 구분         object
 4   차종             object
 5   용도             object
 6   미정             object
 7   현재 회원번호        object
 8   미정.1           object
 9   미정.2           object
 10  차대번호           object
 11  최초 등록 일자       int64
 12  차량 연식          int64
 13  차량 제작 일자       float64
 14  배출가스검사유효일자     float64
 15  제원관리번호         object
 16  배출가스 인증번호      object
 17  배출가스 등급        object
 18  저공해조치 YN(미사용)  object
 19  저공해조치 종류       float64
 20  저공해조치 구조변경 YN  object
 21  미정.3           float64
 22  차량등록번호 숫자 정보   int64
 23  차량 말소 YN       object
 24  미정.4           object
 25  최초 회원번호        object
 26  취득 일자          float64
 27  취득 금액          float64
 28  미정.5           object
 29  생성 일시          object
 30  수정 일시          object
 31  미정.6           object
dtypes: float64(6), int64(4), object(22)
memory usage: 2.7+ GB

### 정리
- 컬럼명, 컬럼순서, 컬럼

In [21]:
df1.columns

Index(['차량관리번호', '차량등록번호', '본거지 법정동 코드', '소유자 구분', '차종', '용도', '미정', '현재 회원번호',
       '미정.1', '미정.2', '차대번호', '최초 등록 일자', '차량 연식', '차량 제작 일자', '배출가스검사유효일자',
       '제원관리번호', '배출가스 인증번호', '배출가스 등급', '저공해조치 YN(미사용)', '저공해조치 종류',
       '저공해조치 구조변경 YN', '미정.3', '차량등록번호 숫자 정보', '차량 말소 YN', '미정.4', '최초 회원번호',
       '취득 일자', '취득 금액', '미정.5', '생성 일시', '수정 일시', '미정.6'],
      dtype='object')

In [22]:
df1.columns = ['차량관리번호', '차량등록번호', '본거지법정동코드', '소유자구분', '차종_등록정보', '용도', '미정1', '현재회원번호', '미정2', '미정3', '차대번호', '최초등록일자', '차량연식', '차량제작일자', 
               '배출가스검사유효일자', '제원관리번호', '배출가스인증번호', '배출가스등급', '저공해조치YN(미사용)', '저공해조치종류', '저공해조치구조변경YN', '미정4', '차량등록번호숫자정보', '차량말소YN', '미정5', '최초회원번호', '취득일자', '취득금액', '미정6', '생성일시_등록정보', '수정일시_등록정보', '미정7']

In [23]:
df1['배출가스등급'].value_counts()

2     10960244
T2      247483
Name: 배출가스등급, dtype: int64

## [병합] 등록정보와 제원정보

In [24]:
total = df1.merge(df2, on='제원관리번호', how='left')
total.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 11207727 entries, 0 to 11207726
Data columns (total 59 columns):
 #   Column        Dtype
---  ------        -----
 0   차량관리번호        object
 1   차량등록번호        object
 2   본거지법정동코드      int64
 3   소유자구분         object
 4   차종_등록정보       object
 5   용도            object
 6   미정1_x         object
 7   현재회원번호        object
 8   미정2_x         object
 9   미정3_x         object
 10  차대번호          object
 11  최초등록일자        int64
 12  차량연식          int64
 13  차량제작일자        float64
 14  배출가스검사유효일자    float64
 15  제원관리번호        object
 16  배출가스인증번호      object
 17  배출가스등급        object
 18  저공해조치YN(미사용)  object
 19  저공해조치종류       float64
 20  저공해조치구조변경YN   object
 21  미정4           float64
 22  차량등록번호숫자정보    int64
 23  차량말소YN        object
 24  미정5           object
 25  최초회원번호        object
 26  취득일자          float64
 27  취득금액          float64
 28  미정6           object
 29  생성일시_등록정보     object
 30  수정일시_등록정보     object
 31  미정7           object
 32  차명            object
 33  차종_제원정보       object
 34  차종분류          object
 35  차종유형(소분류)     object
 36  자동차형식         object
 37  제작사명          object
 38  연료            object
 39  엔진형식          object
 40  공차중량          float64
 41  총중량           float64
 42  적재중량          float64
 43  엔진출력          float64
 44  배기량           float64
 45  승차인원          float64
 46  차량길이          float64
 47  차량너비          float64
 48  차량높이          float64
 49  원산지명          object
 50  미정1_y         float64
 51  삭제YN          object
 52  승인일자          object
 53  구동형식          object
 54  변속기종류         object
 55  미정2_y         object
 56  생성일시_제원정보     object
 57  수정일시_제원정보     object
 58  미정3_y         object
dtypes: float64(16), int64(4), object(39)
memory usage: 5.0+ GB

## [출력] 등록정보와 제원정보

In [25]:
# about 6m 50s
total.to_csv(os.path.join(ods_fold, f'[ODS][G{grade}]등록정보&제원정보(말소제거)(한글컬럼)(2022.12.29).csv'), index=False, encoding='cp949')

# [ODS]3등급(말소제거)

## [로드]

In [26]:
# about 3m 15s
grade = 3
file_name = f'[ODS][G{grade}]자동차_등록정보(말소제거)(한글컬럼)(2022.12.29).csv'
ods_path = os.path.join(ods_fold, file_name)
df1 = pd.read_csv(ods_path, low_memory=False, encoding='cp949')
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8759431 entries, 0 to 8759430
Data columns (total 32 columns):
 #   Column         Dtype
---  ------         -----
 0   차량관리번호         object
 1   차량등록번호         object
 2   본거지 법정동 코드     int64
 3   소유자 구분         object
 4   차종             object
 5   용도             object
 6   미정             object
 7   현재 회원번호        object
 8   미정.1           object
 9   미정.2           object
 10  차대번호           object
 11  최초 등록 일자       int64
 12  차량 연식          int64
 13  차량 제작 일자       float64
 14  배출가스검사유효일자     float64
 15  제원관리번호         object
 16  배출가스 인증번호      object
 17  배출가스 등급        object
 18  저공해조치 YN(미사용)  object
 19  저공해조치 종류       float64
 20  저공해조치 구조변경 YN  object
 21  미정.3           float64
 22  차량등록번호 숫자 정보   int64
 23  차량 말소 YN       object
 24  미정.4           object
 25  최초 회원번호        object
 26  취득 일자          float64
 27  취득 금액          float64
 28  미정.5           object
 29  생성 일시          object
 30  수정 일시          object
 31  미정.6           object
dtypes: float64(6), int64(4), object(22)
memory usage: 2.1+ GB

### 정리
- 컬럼명, 컬럼순서, 컬럼

In [27]:
df1.columns

Index(['차량관리번호', '차량등록번호', '본거지 법정동 코드', '소유자 구분', '차종', '용도', '미정', '현재 회원번호',
       '미정.1', '미정.2', '차대번호', '최초 등록 일자', '차량 연식', '차량 제작 일자', '배출가스검사유효일자',
       '제원관리번호', '배출가스 인증번호', '배출가스 등급', '저공해조치 YN(미사용)', '저공해조치 종류',
       '저공해조치 구조변경 YN', '미정.3', '차량등록번호 숫자 정보', '차량 말소 YN', '미정.4', '최초 회원번호',
       '취득 일자', '취득 금액', '미정.5', '생성 일시', '수정 일시', '미정.6'],
      dtype='object')

In [28]:
df1.columns = ['차량관리번호', '차량등록번호', '본거지법정동코드', '소유자구분', '차종_등록정보', '용도', '미정1', '현재회원번호', '미정2', '미정3', '차대번호', '최초등록일자', '차량연식', '차량제작일자', 
               '배출가스검사유효일자', '제원관리번호', '배출가스인증번호', '배출가스등급', '저공해조치YN(미사용)', '저공해조치종류', '저공해조치구조변경YN', '미정4', '차량등록번호숫자정보', '차량말소YN', '미정5', '최초회원번호', '취득일자', '취득금액', '미정6', '생성일시_등록정보', '수정일시_등록정보', '미정7']

In [29]:
df1['배출가스등급'].value_counts()

3     8623130
T3     136301
Name: 배출가스등급, dtype: int64

## [병합] 등록정보와 제원정보

In [30]:
total = df1.merge(df2, on='제원관리번호', how='left')
total.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8759431 entries, 0 to 8759430
Data columns (total 59 columns):
 #   Column        Dtype
---  ------        -----
 0   차량관리번호        object
 1   차량등록번호        object
 2   본거지법정동코드      int64
 3   소유자구분         object
 4   차종_등록정보       object
 5   용도            object
 6   미정1_x         object
 7   현재회원번호        object
 8   미정2_x         object
 9   미정3_x         object
 10  차대번호          object
 11  최초등록일자        int64
 12  차량연식          int64
 13  차량제작일자        float64
 14  배출가스검사유효일자    float64
 15  제원관리번호        object
 16  배출가스인증번호      object
 17  배출가스등급        object
 18  저공해조치YN(미사용)  object
 19  저공해조치종류       float64
 20  저공해조치구조변경YN   object
 21  미정4           float64
 22  차량등록번호숫자정보    int64
 23  차량말소YN        object
 24  미정5           object
 25  최초회원번호        object
 26  취득일자          float64
 27  취득금액          float64
 28  미정6           object
 29  생성일시_등록정보     object
 30  수정일시_등록정보     object
 31  미정7           object
 32  차명            object
 33  차종_제원정보       object
 34  차종분류          object
 35  차종유형(소분류)     object
 36  자동차형식         object
 37  제작사명          object
 38  연료            object
 39  엔진형식          object
 40  공차중량          float64
 41  총중량           float64
 42  적재중량          float64
 43  엔진출력          float64
 44  배기량           float64
 45  승차인원          float64
 46  차량길이          float64
 47  차량너비          float64
 48  차량높이          float64
 49  원산지명          object
 50  미정1_y         float64
 51  삭제YN          object
 52  승인일자          object
 53  구동형식          object
 54  변속기종류         object
 55  미정2_y         object
 56  생성일시_제원정보     object
 57  수정일시_제원정보     object
 58  미정3_y         object
dtypes: float64(16), int64(4), object(39)
memory usage: 3.9+ GB

## [출력] 등록정보와 제원정보

In [31]:
# about 5m 21s
total.to_csv(os.path.join(ods_fold, f'[ODS][G{grade}]등록정보&제원정보(말소제거)(한글컬럼)(2022.12.29).csv'), index=False, encoding='cp949')

# [ODS]4등급(말소제거)

## [로드]

In [32]:
# about 35s
grade = 4
file_name = f'[ODS][G{grade}]자동차_등록정보(말소제거)(한글컬럼)(2022.12.29).csv'
ods_path = os.path.join(ods_fold, file_name)
df1 = pd.read_csv(ods_path, low_memory=False, encoding='cp949')
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1511251 entries, 0 to 1511250
Data columns (total 32 columns):
 #   Column         Non-Null Count    Dtype
---  ------         --------------    -----
 0   차량관리번호         1511251 non-null  object
 1   차량등록번호         1511251 non-null  object
 2   본거지 법정동 코드     1511251 non-null  int64
 3   소유자 구분         1511251 non-null  object
 4   차종             1511249 non-null  object
 5   용도             1511251 non-null  object
 6   미정             1511251 non-null  object
 7   현재 회원번호        1510412 non-null  object
 8   미정.1           1511251 non-null  object
 9   미정.2           1511251 non-null  object
 10  차대번호           1511251 non-null  object
 11  최초 등록 일자       1511251 non-null  int64
 12  차량 연식          1511251 non-null  int64
 13  차량 제작 일자       1342461 non-null  float64
 14  배출가스검사유효일자     1511239 non-null  float64
 15  제원관리번호         1511251 non-null  object
 16  배출가스 인증번호      1387530 non-null  object
 17  배출가스 등급        1511251 non-null  object
 18  저공해조치 YN(미사용)  1511096 non-null  object
 19  저공해조치 종류       189 non-null      float64
 20  저공해조치 구조변경 YN  1511251 non-null  object
 21  미정.3           0 non-null        float64
 22  차량등록번호 숫자 정보   1511251 non-null  int64
 23  차량 말소 YN       1511251 non-null  object
 24  미정.4           1511230 non-null  object
 25  최초 회원번호        1506595 non-null  object
 26  취득 일자          1418010 non-null  object
 27  취득 금액          1436843 non-null  float64
 28  미정.5           403099 non-null   object
 29  생성 일시          1511251 non-null  object
 30  수정 일시          915041 non-null   object
 31  미정.6           1511251 non-null  object
dtypes: float64(5), int64(4), object(23)
memory usage: 369.0+ MB

### 정리
- 컬럼명, 컬럼순서, 컬럼

In [33]:
df1.columns

Index(['차량관리번호', '차량등록번호', '본거지 법정동 코드', '소유자 구분', '차종', '용도', '미정', '현재 회원번호',
       '미정.1', '미정.2', '차대번호', '최초 등록 일자', '차량 연식', '차량 제작 일자', '배출가스검사유효일자',
       '제원관리번호', '배출가스 인증번호', '배출가스 등급', '저공해조치 YN(미사용)', '저공해조치 종류',
       '저공해조치 구조변경 YN', '미정.3', '차량등록번호 숫자 정보', '차량 말소 YN', '미정.4', '최초 회원번호',
       '취득 일자', '취득 금액', '미정.5', '생성 일시', '수정 일시', '미정.6'],
      dtype='object')

In [34]:
df1.columns = ['차량관리번호', '차량등록번호', '본거지법정동코드', '소유자구분', '차종_등록정보', '용도', '미정1', '현재회원번호', '미정2', '미정3', '차대번호', '최초등록일자', '차량연식', '차량제작일자', 
               '배출가스검사유효일자', '제원관리번호', '배출가스인증번호', '배출가스등급', '저공해조치YN(미사용)', '저공해조치종류', '저공해조치구조변경YN', '미정4', '차량등록번호숫자정보', '차량말소YN', '미정5', '최초회원번호', '취득일자', '취득금액', '미정6', '생성일시_등록정보', '수정일시_등록정보', '미정7']

In [35]:
df1['배출가스등급'].value_counts()

4     1511214
T4         37
Name: 배출가스등급, dtype: int64

## [병합] 등록정보와 제원정보

In [36]:
total = df1.merge(df2, on='제원관리번호', how='left')
total.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1511251 entries, 0 to 1511250
Data columns (total 59 columns):
 #   Column        Non-Null Count    Dtype
---  ------        --------------    -----
 0   차량관리번호        1511251 non-null  object
 1   차량등록번호        1511251 non-null  object
 2   본거지법정동코드      1511251 non-null  int64
 3   소유자구분         1511251 non-null  object
 4   차종_등록정보       1511249 non-null  object
 5   용도            1511251 non-null  object
 6   미정1_x         1511251 non-null  object
 7   현재회원번호        1510412 non-null  object
 8   미정2_x         1511251 non-null  object
 9   미정3_x         1511251 non-null  object
 10  차대번호          1511251 non-null  object
 11  최초등록일자        1511251 non-null  int64
 12  차량연식          1511251 non-null  int64
 13  차량제작일자        1342461 non-null  float64
 14  배출가스검사유효일자    1511239 non-null  float64
 15  제원관리번호        1511251 non-null  object
 16  배출가스인증번호      1387530 non-null  object
 17  배출가스등급        1511251 non-null  object
 18  저공해조치YN(미사용)  1511096 non-null  object
 19  저공해조치종류       189 non-null      float64
 20  저공해조치구조변경YN   1511251 non-null  object
 21  미정4           0 non-null        float64
 22  차량등록번호숫자정보    1511251 non-null  int64
 23  차량말소YN        1511251 non-null  object
 24  미정5           1511230 non-null  object
 25  최초회원번호        1506595 non-null  object
 26  취득일자          1418010 non-null  object
 27  취득금액          1436843 non-null  float64
 28  미정6           403099 non-null   object
 29  생성일시_등록정보     1511251 non-null  object
 30  수정일시_등록정보     915041 non-null   object
 31  미정7           1511251 non-null  object
 32  차명            1511251 non-null  object
 33  차종_제원정보       1511251 non-null  object
 34  차종분류          1511251 non-null  object
 35  차종유형(소분류)     1511251 non-null  object
 36  자동차형식         1510723 non-null  object
 37  제작사명          1501221 non-null  object
 38  연료            1511180 non-null  object
 39  엔진형식          1509249 non-null  object
 40  공차중량          0 non-null        float64
 41  총중량           1511226 non-null  float64
 42  적재중량          1510714 non-null  float64
 43  엔진출력          1510623 non-null  float64
 44  배기량           1511240 non-null  float64
 45  승차인원          1511251 non-null  float64
 46  차량길이          1511176 non-null  float64
 47  차량너비          1511176 non-null  float64
 48  차량높이          1511174 non-null  float64
 49  원산지명          1492122 non-null  object
 50  미정1_y         0 non-null        float64
 51  삭제YN          1511251 non-null  object
 52  승인일자          1510704 non-null  object
 53  구동형식          47 non-null       object
 54  변속기종류         1511091 non-null  object
 55  미정2_y         0 non-null        object
 56  생성일시_제원정보     1511251 non-null  object
 57  수정일시_제원정보     497 non-null      object
 58  미정3_y         1511251 non-null  object
dtypes: float64(15), int64(4), object(40)
memory usage: 691.8+ MB

## [출력] 등록정보와 제원정보

In [37]:
# about 53s
total.to_csv(os.path.join(ods_fold, f'[ODS][G{grade}]등록정보&제원정보(말소제거)(한글컬럼)(2022.12.29).csv'), index=False, encoding='cp949')

# [ODS]5등급(말소제거)

## [로드]

In [38]:
# about 30s
grade = 5
file_name = f'[ODS][G{grade}]자동차_등록정보(말소제거)(한글컬럼)(2022.12.29).csv'
ods_path = os.path.join(ods_fold, file_name)
df1 = pd.read_csv(ods_path, low_memory=False, encoding='cp949')
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1154762 entries, 0 to 1154761
Data columns (total 32 columns):
 #   Column         Non-Null Count    Dtype
---  ------         --------------    -----
 0   차량관리번호         1154762 non-null  object
 1   차량등록번호         1154762 non-null  object
 2   본거지 법정동 코드     1154762 non-null  int64
 3   소유자 구분         1154762 non-null  object
 4   차종             1154750 non-null  object
 5   용도             1154762 non-null  object
 6   미정             1154761 non-null  object
 7   현재 회원번호        1146089 non-null  object
 8   미정.1           1154742 non-null  object
 9   미정.2           1154762 non-null  object
 10  차대번호           1154762 non-null  object
 11  최초 등록 일자       1154762 non-null  int64
 12  차량 연식          1154762 non-null  int64
 13  차량 제작 일자       959061 non-null   float64
 14  배출가스검사유효일자     1154250 non-null  float64
 15  제원관리번호         1154762 non-null  object
 16  배출가스 인증번호      542939 non-null   object
 17  배출가스 등급        1154762 non-null  object
 18  저공해조치 YN(미사용)  1154688 non-null  object
 19  저공해조치 종류       361634 non-null   float64
 20  저공해조치 구조변경 YN  1154762 non-null  object
 21  미정.3           0 non-null        float64
 22  차량등록번호 숫자 정보   1154762 non-null  int64
 23  차량 말소 YN       1154762 non-null  object
 24  미정.4           1154749 non-null  object
 25  최초 회원번호        1129482 non-null  object
 26  취득 일자          1014515 non-null  float64
 27  취득 금액          1040455 non-null  float64
 28  미정.5           219239 non-null   object
 29  생성 일시          1154762 non-null  object
 30  수정 일시          556092 non-null   object
 31  미정.6           1154762 non-null  object
dtypes: float64(6), int64(4), object(22)
memory usage: 281.9+ MB

### 정리
- 컬럼명, 컬럼순서, 컬럼

In [39]:
df1.columns

Index(['차량관리번호', '차량등록번호', '본거지 법정동 코드', '소유자 구분', '차종', '용도', '미정', '현재 회원번호',
       '미정.1', '미정.2', '차대번호', '최초 등록 일자', '차량 연식', '차량 제작 일자', '배출가스검사유효일자',
       '제원관리번호', '배출가스 인증번호', '배출가스 등급', '저공해조치 YN(미사용)', '저공해조치 종류',
       '저공해조치 구조변경 YN', '미정.3', '차량등록번호 숫자 정보', '차량 말소 YN', '미정.4', '최초 회원번호',
       '취득 일자', '취득 금액', '미정.5', '생성 일시', '수정 일시', '미정.6'],
      dtype='object')

In [40]:
df1.columns = ['차량관리번호', '차량등록번호', '본거지법정동코드', '소유자구분', '차종_등록정보', '용도', '미정1', '현재회원번호', '미정2', '미정3', '차대번호', '최초등록일자', '차량연식', '차량제작일자', 
               '배출가스검사유효일자', '제원관리번호', '배출가스인증번호', '배출가스등급', '저공해조치YN(미사용)', '저공해조치종류', '저공해조치구조변경YN', '미정4', '차량등록번호숫자정보', '차량말소YN', '미정5', '최초회원번호', '취득일자', '취득금액', '미정6', '생성일시_등록정보', '수정일시_등록정보', '미정7']

In [41]:
df1['배출가스등급'].value_counts()

5     1154733
T5         29
Name: 배출가스등급, dtype: int64

## [병합] 등록정보와 제원정보

In [42]:
total = df1.merge(df2, on='제원관리번호', how='left')
total.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1154762 entries, 0 to 1154761
Data columns (total 59 columns):
 #   Column        Non-Null Count    Dtype
---  ------        --------------    -----
 0   차량관리번호        1154762 non-null  object
 1   차량등록번호        1154762 non-null  object
 2   본거지법정동코드      1154762 non-null  int64
 3   소유자구분         1154762 non-null  object
 4   차종_등록정보       1154750 non-null  object
 5   용도            1154762 non-null  object
 6   미정1_x         1154761 non-null  object
 7   현재회원번호        1146089 non-null  object
 8   미정2_x         1154742 non-null  object
 9   미정3_x         1154762 non-null  object
 10  차대번호          1154762 non-null  object
 11  최초등록일자        1154762 non-null  int64
 12  차량연식          1154762 non-null  int64
 13  차량제작일자        959061 non-null   float64
 14  배출가스검사유효일자    1154250 non-null  float64
 15  제원관리번호        1154762 non-null  object
 16  배출가스인증번호      542939 non-null   object
 17  배출가스등급        1154762 non-null  object
 18  저공해조치YN(미사용)  1154688 non-null  object
 19  저공해조치종류       361634 non-null   float64
 20  저공해조치구조변경YN   1154762 non-null  object
 21  미정4           0 non-null        float64
 22  차량등록번호숫자정보    1154762 non-null  int64
 23  차량말소YN        1154762 non-null  object
 24  미정5           1154749 non-null  object
 25  최초회원번호        1129482 non-null  object
 26  취득일자          1014515 non-null  float64
 27  취득금액          1040455 non-null  float64
 28  미정6           219239 non-null   object
 29  생성일시_등록정보     1154762 non-null  object
 30  수정일시_등록정보     556092 non-null   object
 31  미정7           1154762 non-null  object
 32  차명            1154761 non-null  object
 33  차종_제원정보       1154762 non-null  object
 34  차종분류          1154762 non-null  object
 35  차종유형(소분류)     1154762 non-null  object
 36  자동차형식         1154240 non-null  object
 37  제작사명          1151542 non-null  object
 38  연료            1154733 non-null  object
 39  엔진형식          1151256 non-null  object
 40  공차중량          0 non-null        float64
 41  총중량           1154761 non-null  float64
 42  적재중량          1154751 non-null  float64
 43  엔진출력          1154450 non-null  float64
 44  배기량           1154760 non-null  float64
 45  승차인원          1154761 non-null  float64
 46  차량길이          1154761 non-null  float64
 47  차량너비          1154761 non-null  float64
 48  차량높이          1154761 non-null  float64
 49  원산지명          1113130 non-null  object
 50  미정1_y         0 non-null        float64
 51  삭제YN          1154762 non-null  object
 52  승인일자          1153569 non-null  object
 53  구동형식          7 non-null        object
 54  변속기종류         1154760 non-null  object
 55  미정2_y         1 non-null        object
 56  생성일시_제원정보     1154762 non-null  object
 57  수정일시_제원정보     218 non-null      object
 58  미정3_y         1154762 non-null  object
dtypes: float64(16), int64(4), object(39)
memory usage: 528.6+ MB

## [출력] 등록정보와 제원정보

In [43]:
# about 40s
total.to_csv(os.path.join(ods_fold, f'[ODS][G{grade}]등록정보&제원정보(말소제거)(한글컬럼)(2022.12.29).csv'), index=False, encoding='cp949')

# 코드 마지막