# Library

In [28]:
import pandas as pd
import os
from tqdm import tqdm
from datetime import datetime

# path

In [2]:
raw_fold = 'D:/data/big2/BD1/raw'

# load

## result 원본

In [13]:
# about 
name = '4등급_차량_리스트_양식_result'
file_name = f'{name}.csv'
rw = pd.read_csv(os.path.join(raw_fold, file_name), encoding='cp949', low_memory=False)

In [14]:
rw.shape

(1502235, 28)

In [15]:
rw.loc[rw['인증번호'] == '9MY-AD-14-04', '제원관리번호'].value_counts()

02420011500011209    584
02420011500031210    208
02420011500001209    184
Name: 제원관리번호, dtype: int64

In [16]:
rw.loc[rw['인증번호'] == '4MY-AD-20', '제원관리번호'].value_counts()

02420000100031305    29
Name: 제원관리번호, dtype: int64

## result 최종

In [8]:
# about 
name = '4등급 차량 리스트 양식 result 최종(2023.03.30)'
file_name = f'{name}.csv'
fn = pd.read_csv(os.path.join(raw_fold, file_name), encoding='cp949', low_memory=False)

In [9]:
fn.shape

(1153813, 31)

In [11]:
fn.loc[fn['배출가스인증번호'] == '9MY-AD-14-04', '제원관리번호'].value_counts()

2420011500011200     584
2420011500031210     208
2420011500001200     184
Name: 제원관리번호, dtype: int64

In [12]:
fn.loc[fn['배출가스인증번호'] == '4MY-AD-20', '제원관리번호'].value_counts()

2420000100031300     29
Name: 제원관리번호, dtype: int64

## result 최종-수정

# 제번 수정

## result 최종(2023.03.30)

In [17]:
rw.columns

Index(['차대번호', '차량번호', '제원관리번호', '차종', '용도', '최초등록일', '연식', '제작일자', '검사유효일',
       '인증번호', '등급', '차명', '차종분류', '차종유형', '자동차형식', '제작사명', '연료', '엔진형식',
       '총중량', '적재중량', '엔진출력', '배기량', '법정동코드', '시도명', '시군구명', '소유자구분', '말소여부',
       '일치유무'],
      dtype='object')

In [18]:
fn.columns

Index(['차대번호', '차량번호', '제원관리번호', '차종_원본', '용도', '최초등록일', '연식', '제작일자', '검사유효일',
       '배출가스인증번호', '등급', '차명', '차종분류', '차종유형', '자동차형식', '제작사명', '연료', '엔진형식',
       '총중량', '적재중량', '엔진출력', '배기량', '법정동코드', '시도명', '시군구명', '소유자구분', '말소여부',
       '일치유무', '배인번호_수정', '등급_수정', 'DPF유무_수정'],
      dtype='object')

In [35]:
rw.shape, len(rw['차대번호'].unique())

((1502235, 28), 1502213)

In [36]:
rw['차대번호'].value_counts()

KMHCF21DPSU000012    5
KLATF19T1LB267581    2
KLY7T51BBNC011472    2
KLASM69F1JB054053    2
KMHVF21JPKU161128    2
                    ..
KMHNU81WDCU179325    1
KMHSH81VP9U448391    1
KNAGB2222MA397446    1
KMFWBX7JBBU339382    1
KMHDU41TP8U444663    1
Name: 차대번호, Length: 1502213, dtype: int64

In [40]:
rw.loc[rw['차대번호'] == 'KMHCF21DPSU000012', ['인증번호', '제원관리번호', '차량번호']]

             인증번호          제원관리번호       차량번호
61801   KMY-HD-03  10014700070001  강원28가5089
259569  KMY-HD-03  10014700070001  강원28가5035
623660  KMY-HD-03  10014700070001  강원28가5176
679164  KMY-HD-03  10014700070001  강원28가5032
902315  KMY-HD-03  10014700070001  강원28가5198

In [41]:
rw.loc[rw['차대번호'] == 'KLATF19T1LB267581', ['인증번호', '제원관리번호', '차량번호']]

               인증번호          제원관리번호      차량번호
27886    TY87-배K-02  30110100001816  서울4드4981
1457636  TY87-배K-02  30110100001816  서울4드4983

In [ ]:
# about 48hours
for vin, carnm in tqdm(fn[['차대번호', '차량번호']].values()):
    fn.loc[(fn['차대번호'] == vin) & (fn['차량번호'] == carnm), '제원관리번호'] = rw.loc[(rw['차대번호'] == vin) & (rw['차량번호'] == carnm), '제원관리번호']

In [24]:
fn1 = fn.drop('제원관리번호', axis=1)

Index(['차대번호', '차량번호', '차종_원본', '용도', '최초등록일', '연식', '제작일자', '검사유효일',
       '배출가스인증번호', '등급', '차명', '차종분류', '차종유형', '자동차형식', '제작사명', '연료', '엔진형식',
       '총중량', '적재중량', '엔진출력', '배기량', '법정동코드', '시도명', '시군구명', '소유자구분', '말소여부',
       '일치유무', '배인번호_수정', '등급_수정', 'DPF유무_수정'],
      dtype='object')

In [42]:
fn1.columns

Index(['차대번호', '차량번호', '차종_원본', '용도', '최초등록일', '연식', '제작일자', '검사유효일',
       '배출가스인증번호', '등급', '차명', '차종분류', '차종유형', '자동차형식', '제작사명', '연료', '엔진형식',
       '총중량', '적재중량', '엔진출력', '배기량', '법정동코드', '시도명', '시군구명', '소유자구분', '말소여부',
       '일치유무', '배인번호_수정', '등급_수정', 'DPF유무_수정'],
      dtype='object')

In [43]:
df = fn1.merge(rw[['차대번호', '차량번호', '제원관리번호']], on=['차대번호', '차량번호'])
df.columns

Index(['차대번호', '차량번호', '차종_원본', '용도', '최초등록일', '연식', '제작일자', '검사유효일',
       '배출가스인증번호', '등급', '차명', '차종분류', '차종유형', '자동차형식', '제작사명', '연료', '엔진형식',
       '총중량', '적재중량', '엔진출력', '배기량', '법정동코드', '시도명', '시군구명', '소유자구분', '말소여부',
       '일치유무', '배인번호_수정', '등급_수정', 'DPF유무_수정', '제원관리번호'],
      dtype='object')

In [44]:
df.shape

(1153813, 31)

In [45]:
df = df[['차대번호', '차량번호', '제원관리번호', '차종_원본', '용도', '최초등록일', '연식', '제작일자', '검사유효일',
       '배출가스인증번호', '등급', '차명', '차종분류', '차종유형', '자동차형식', '제작사명', '연료', '엔진형식',
       '총중량', '적재중량', '엔진출력', '배기량', '법정동코드', '시도명', '시군구명', '소유자구분', '말소여부',
       '일치유무', '배인번호_수정', '등급_수정', 'DPF유무_수정']]
df = df.rename(columns={'차종_원본':'차종'})
df.columns

Index(['차대번호', '차량번호', '제원관리번호', '차종', '용도', '최초등록일', '연식', '제작일자', '검사유효일',
       '배출가스인증번호', '등급', '차명', '차종분류', '차종유형', '자동차형식', '제작사명', '연료', '엔진형식',
       '총중량', '적재중량', '엔진출력', '배기량', '법정동코드', '시도명', '시군구명', '소유자구분', '말소여부',
       '일치유무', '배인번호_수정', '등급_수정', 'DPF유무_수정'],
      dtype='object')

In [46]:
df.loc[df['배출가스인증번호'] == '9MY-AD-14-04', '제원관리번호'].value_counts()

02420011500011209    584
02420011500031210    208
02420011500001209    184
Name: 제원관리번호, dtype: int64

In [47]:
df.shape

(1153813, 31)

## [출력]

In [48]:
today_date = datetime.today().strftime("%Y.%m.%d")
today_date

'2023.03.31'

In [49]:
# about 15.1s
df.to_csv(os.path.join(raw_fold, f'4등급_차량_리스트_양식_result_최종({today_date}).csv'), index=False, encoding='cp949')

# 코드 마지막