# Library

In [1]:
import pandas as pd
import os, datetime
import numpy as np
from tqdm import tqdm

# File Load
- [병합]4등급_차량_리스트_양식_result
- [배인번호]업체확인_리스트

In [2]:
fold = 'D:/data/big2/BD1_4등급_데이터_점검1'

## 4등급_차량_리스트_양식_result

In [3]:
# about 10s
# file_name = '4등급_차량_리스트_양식_result.csv'
# about 21s
file_name = '[병합]4등급_차량_리스트_양식_result_검사정보.csv'
df = pd.read_csv(os.path.join(fold, file_name), encoding='cp949', low_memory=False)

In [4]:
df.columns

Index(['차대번호', '차량번호_x', '제원관리번호', '차종_원본', '용도', '최초등록일', '연식', '제작일자',
       '검사유효일', '배출가스인증번호', '등급', '차명_x', '차종분류', '차종유형', '자동차형식', '제작사명',
       '연료', '엔진형식_x', '총중량', '적재중량', '엔진출력', '배기량', '법정동코드', '시도명', '시군구명',
       '소유자구분', '말소여부', '일치유무', '사용연료', '주행거리', '차명_y', '차량번호_y', '차종', '차량연식',
       '엔진형식_y', '검사방법', '검사일자', '검사종류', '검사판정시각', '검사판정', '산소값', '이산화탄소값',
       '무부하매연판정1', '무부하매연판정2', '무부하매연판정3', '무부하매연판정4', '무부하매연판정5', '무부하매연판정6',
       '무부하매연허용치1', '무부하매연허용치2', '무부하매연허용치3', '무부하매연허용치4', '무부하매연허용치5',
       '무부하매연허용치6', '무부하매연측정치1', '무부하매연측정치2', '무부하매연측정치3', '무부하매연측정치4',
       '무부하매연측정치5', '무부하매연측정치6', '정기정밀', 'vin10', 'vin_year', 'DPF유무'],
      dtype='object')

In [5]:
df.shape

(1153813, 64)

In [6]:
df = df.rename(columns={'인증번호':'배출가스인증번호'})
df.columns

Index(['차대번호', '차량번호_x', '제원관리번호', '차종_원본', '용도', '최초등록일', '연식', '제작일자',
       '검사유효일', '배출가스인증번호', '등급', '차명_x', '차종분류', '차종유형', '자동차형식', '제작사명',
       '연료', '엔진형식_x', '총중량', '적재중량', '엔진출력', '배기량', '법정동코드', '시도명', '시군구명',
       '소유자구분', '말소여부', '일치유무', '사용연료', '주행거리', '차명_y', '차량번호_y', '차종', '차량연식',
       '엔진형식_y', '검사방법', '검사일자', '검사종류', '검사판정시각', '검사판정', '산소값', '이산화탄소값',
       '무부하매연판정1', '무부하매연판정2', '무부하매연판정3', '무부하매연판정4', '무부하매연판정5', '무부하매연판정6',
       '무부하매연허용치1', '무부하매연허용치2', '무부하매연허용치3', '무부하매연허용치4', '무부하매연허용치5',
       '무부하매연허용치6', '무부하매연측정치1', '무부하매연측정치2', '무부하매연측정치3', '무부하매연측정치4',
       '무부하매연측정치5', '무부하매연측정치6', '정기정밀', 'vin10', 'vin_year', 'DPF유무'],
      dtype='object')

In [9]:
df.loc[(df['배출가스인증번호'] == 'AMY-JL-13-9') | (df['배출가스인증번호'] == '7MY-PA-13-11')]

,차대번호,차량번호_x,제원관리번호,차종_원본,용도,최초등록일,연식,제작일자,검사유효일,배출가스인증번호,...,무부하매연측정치1,무부하매연측정치2,무부하매연측정치3,무부하매연측정치4,무부하매연측정치5,무부하매연측정치6,정기정밀,vin10,vin_year,DPF유무
109,SALFA24C47H048936,63러5501,00920002900011307,승용,자가용,20080305,2007,20071001.0,20220414.0,7MY-PA-13-11,...,0.0,4280.0,NaN,NaN,NaN,NaN,정밀,7,2007.0,무
449,SALFA2BC0AH178531,32노6435,04220000900021309,승용,자가용,20100209,2010,20100205.0,20200208.0,AMY-JL-13-9,...,15.0,NaN,NaN,NaN,NaN,NaN,정기,A,2010.0,무
1242,SALFA2BC7AH178123,35조9499,04220000900021309,승용,자가용,20100409,2010,20100205.0,20200524.0,AMY-JL-13-9,...,3.0,4667.0,NaN,NaN,NaN,NaN,정밀,A,2010.0,무
1612,SALFA2BC4AH189225,26주7299,04220000900021309,승용,자가용,20100511,2010,20100506.0,20240612.0,AMY-JL-13-9,...,0.0,4208.0,0.0,0.0,0.0,0.0,정밀,A,2010.0,무
2321,SALFA2BC9AH164580,29소4495,04220000900021309,승용,자가용,20091123,2010,20091123.0,20191122.0,AMY-JL-13-9,...,0.0,4125.0,0.0,0.0,0.0,0.0,정밀,A,2010.0,무
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1134836,SALFA24C08H100967,68고4169,00920002900021307,승용,자가용,20080522,2008,20080515.0,20220521.0,7MY-PA-13-11,...,0.0,NaN,NaN,NaN,NaN,NaN,정기,8,2008.0,무
1146852,SALFA2BC9AH165020,140저3674,04220000900021309,승용,자가용,20100108,2010,20091102.0,20240306.0,AMY-JL-13-9,...,0.0,4180.0,NaN,NaN,NaN,NaN,정밀,A,2010.0,무
1149102,SALFA2BCXAH200230,37루4288,04220000900021309,승용,자가용,20100723,2010,20100722.0,20200722.0,AMY-JL-13-9,...,0.0,3880.0,NaN,NaN,NaN,NaN,정밀,A,2010.0,무
1150274,SALFA2BC8AH197697,20라6126,04220000900021309,승용,자가용,20100723,2010,20100611.0,20220722.0,AMY-JL-13-9,...,0.0,NaN,NaN,NaN,NaN,NaN,정기,A,2010.0,무
1152810,SALFA24C87H037387,48루9729,00920002900011307,승용,자가용,20070914,2007,20070703.0,20230913.0,7MY-PA-13-11,...,0.0,4280.0,NaN,NaN,NaN,NaN,정밀,7,2007.0,무

In [10]:
df.loc[(df['배출가스인증번호'] == 'AMY-JL-13-9') | (df['배출가스인증번호'] == '7MY-PA-13-11')].to_excel('analysis2/result/AMY-JL-13-9_and_7MY-PA-13-11.xlsx', index=False)

In [11]:
df.loc[(df['배출가스인증번호'] == '5MY-HB-24-02') | (df['배출가스인증번호'] == '5MY-HB-24-03')]

,차대번호,차량번호_x,제원관리번호,차종_원본,용도,최초등록일,연식,제작일자,검사유효일,배출가스인증번호,...,무부하매연측정치1,무부하매연측정치2,무부하매연측정치3,무부하매연측정치4,무부하매연측정치5,무부하매연측정치6,정기정밀,vin10,vin_year,DPF유무
34743,KL90A3ABD6H006384,16루6370,00620000500121206,승용,자가용,20070220,2006,20070116.0,20230219.0,5MY-HB-24-02,...,1.0,NaN,NaN,NaN,NaN,NaN,정밀,6,2006.0,무
40794,KL90A3ABD6H006358,32소5253,00620000500121206,승용,자가용,20060928,2006,20060424.0,20200927.0,5MY-HB-24-02,...,2.0,NaN,NaN,NaN,NaN,NaN,정기,6,2006.0,무
51968,VF3EBRHME6Z002407,06머6104,00620000600011205,승용,자가용,20060315,2006,20051221.0,20200415.0,5MY-HB-24-03,...,7.0,0.0,0.0,0.0,0.0,0.0,정밀,6,2006.0,무
62374,KL90A3ABD6H006183,30수3886,00620000500081205,승용,자가용,20060529,2006,20051230.0,20180528.0,5MY-HB-24-02,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6,2006.0,무
66090,KL90A3ABD6H006331,05저1188,00620000500121206,승용,자가용,20060630,2006,20060627.0,20190701.0,5MY-HB-24-02,...,24.0,NaN,NaN,NaN,NaN,NaN,정밀,6,2006.0,무
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1106097,KL90A3ABD6NZ00001,48누2889,00034817000181209,승용,자가용,20090213,2006,20090205.0,20210614.0,5MY-HB-24-02,...,0.0,0.0,0.0,0.0,0.0,0.0,정밀,6,2006.0,무
1141890,KL90A3ABD6H006174,04누7174,00620000500081205,승용,자가용,20060207,2006,20060207.0,20220206.0,5MY-HB-24-02,...,0.0,NaN,NaN,NaN,NaN,NaN,정기,6,2006.0,무
1142453,KL90A3ABD6H006063,21어7216,00620000500081205,승용,자가용,20051013,2006,20051008.0,20191012.0,5MY-HB-24-02,...,0.0,NaN,NaN,NaN,NaN,NaN,정밀,6,2006.0,무
1143160,KL90A3ABD6H006339,54라3464,00620000500121206,승용,자가용,20060818,2006,20060124.0,20240817.0,5MY-HB-24-02,...,4.0,NaN,NaN,NaN,NaN,NaN,정기,6,2006.0,무
1144461,KL90A3ABD6H006217,05수4718,00620000500121206,승용,자가용,20060306,2006,20060112.0,20240511.0,5MY-HB-24-02,...,1.0,NaN,NaN,NaN,NaN,NaN,정밀,6,2006.0,무

In [12]:
df.loc[(df['배출가스인증번호'] == '5MY-HB-24-02') | (df['배출가스인증번호'] == '5MY-HB-24-03')].to_excel('analysis2/result/5MY-HB-24-02_and_5MY-HB-24-03.xlsx', index=False)

In [13]:
df.loc[(df['배출가스인증번호'] == '5MY-VTK-24-01') | (df['배출가스인증번호'] == '7MY-VTK-24-01') | (df['배출가스인증번호'] == '7MY-VTK-24-02')]

,차대번호,차량번호_x,제원관리번호,차종_원본,용도,최초등록일,연식,제작일자,검사유효일,배출가스인증번호,...,무부하매연측정치1,무부하매연측정치2,무부하매연측정치3,무부하매연측정치4,무부하매연측정치5,무부하매연측정치6,정기정밀,vin10,vin_year,DPF유무
1375,YV2ABS0C38A667922,인천98바5911,01120000500804307,특수,영업용,20080617,2008,20080519.0,20230312.0,7MY-VTK-24-01,...,1.0,1.0,1.0,1880.0,310.0,NaN,정밀,8,2008.0,무
1672,YV2ABS0C98A661686,경기99바9336,01120000500804307,특수,영업용,20080407,2008,20080325.0,20191119.0,7MY-VTK-24-01,...,0.0,NaN,NaN,NaN,NaN,NaN,정기,8,2008.0,무
3674,YV2ABS0C5AA691614,부산99사9893,01120000501024309,특수,영업용,20100311,2010,20091116.0,20201226.0,7MY-VTK-24-01,...,2.0,2.0,1.0,1840.0,275.0,NaN,정밀,A,2010.0,무
4273,YV2ABS0C28A664915,경남99사6949,01120000500724307,특수,영업용,20080502,2008,20080423.0,20220309.0,7MY-VTK-24-01,...,4.0,4.0,2.0,1880.0,270.0,NaN,정밀,8,2008.0,무
5030,YV2ABS0C5AA691239,경기99아4579,01120000501144309,특수,영업용,20100125,2010,20091116.0,20190724.0,7MY-VTK-24-01,...,2.0,0.0,0.0,1790.0,285.0,NaN,정밀,A,2010.0,무
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1149078,YV2JFY0C788876157,경기99아2325,01120000500754307,특수,영업용,20080307,2008,20080124.0,20201212.0,7MY-VTK-24-02,...,7.0,5.0,0.0,1800.0,275.0,NaN,정밀,8,2008.0,무
1150303,YV2ABS0C8AA693812,경북98사1855,01120000501054309,특수,영업용,20100416,2010,20100208.0,20210521.0,7MY-VTK-24-01,...,0.0,0.0,0.0,1770.0,363.0,0.0,정밀,A,2010.0,무
1152245,YV2ABS0C28A671444,광주99사3069,01120000500724307,특수,영업용,20080826,2008,20080714.0,20190930.0,7MY-VTK-24-01,...,9.0,11.0,18.0,1760.0,298.0,NaN,정밀,8,2008.0,무
1152683,YV2ABS0C39A680316,전남98사7904,01120000500954308,특수,영업용,20090806,2009,20090102.0,20200801.0,7MY-VTK-24-01,...,2.0,1.0,0.0,1810.0,265.0,NaN,정밀,9,2009.0,무
1153561,YV2JFY0C49A690960,경북98아8224,01120000500914308,특수,영업용,20091217,2009,20091022.0,20210426.0,7MY-VTK-24-02,...,1.0,NaN,NaN,NaN,NaN,NaN,정기,9,2009.0,무

In [14]:
df.loc[(df['배출가스인증번호'] == '5MY-VTK-24-01') | (df['배출가스인증번호'] == '7MY-VTK-24-01') | (df['배출가스인증번호'] == '7MY-VTK-24-02')].to_excel('analysis2/result/5MY-VTK-24-01_and_7MY-VTK-24-01_and_7MY-VTK-24-02.xlsx', index=False)

## [배인번호]업체확인_리스트

In [55]:
file_name = '배인번호_업체확인_리스트(2023.03.06).xlsx'
mod = pd.read_excel(os.path.join(fold, file_name), sheet_name='확인')

In [52]:
mod.shape

(3522, 11)

In [15]:
df.columns

Index(['차대번호', '차량번호', '제원관리번호', '차종', '용도', '최초등록일', '연식', '제작일자', '검사유효일',
       '인증번호', '등급', '차명', '차종분류', '차종유형', '자동차형식', '제작사명', '연료', '엔진형식',
       '총중량', '적재중량', '엔진출력', '배기량', '법정동코드', '시도명', '시군구명', '소유자구분', '말소여부',
       '일치유무'],
      dtype='object')

In [16]:
# 매칭조건 컬럼 : '배출가스인증번호', '자동차형식', '엔진형식'
# 매칭조건 컬럼 : '배출가스인증번호', '자동차형식', '엔진형식_x'
# 수정할 컬럼 : '배출가스인증번호', '등급', 'DPF유무'

In [17]:
mod.columns

Index(['등급(현재)', '등급(수정)', '배인번호(현재)', '배인번호(수정)', '차명', '제작사', '자동차형식',
       '엔진형식', 'DPF유무(현재)', 'DPF유무(수정)', '기타'],
      dtype='object')

In [18]:
mod.head()

,등급(현재),등급(수정),배인번호(현재),배인번호(수정),차명,제작사,자동차형식,엔진형식,DPF유무(현재),DPF유무(수정),기타
0,4,4,7MY-SM-14-36,7MY-SM-14-36,QM5,르노삼성자동차(주),H1D20-VC-0-11,M9R,유,유,Euro4 기준에 맞춰 개발된 차량
1,4,4,7MY-SM-14-36,7MY-SM-14-36,QM5,르노삼성자동차(주),H1D20-VC-0-12,M9R,유,유,Euro4 기준에 맞춰 개발된 차량
2,4,4,7MY-SM-14-36,7MY-SM-14-36,QM5,르노삼성자동차(주),H1D20-VC-0-21,M9R,유,유,Euro4 기준에 맞춰 개발된 차량
3,4,4,7MY-SM-14-36,7MY-SM-14-36,QM5,르노삼성자동차(주),H1D20-VC-0-22,M9R,유,유,Euro4 기준에 맞춰 개발된 차량
4,4,4,7MY-SM-14-36,7MY-SM-14-36,QM5,르노삼성자동차(주),H1D20-VC-0-31,M9R,유,유,Euro4 기준에 맞춰 개발된 차량

In [19]:
mod[mod['배인번호(수정)'] == '7MY-MT-24-01']

,등급(현재),등급(수정),배인번호(현재),배인번호(수정),차명,제작사,자동차형식,엔진형식,DPF유무(현재),DPF유무(수정),기타
29,4,4,7MY-MT-24-01,7MY-MT-24-01,만 트랙터,만트럭버스코리아(주),TGA26.4806X4BLS,D2676LF01,무,무,유로 4 배출가스 기준 엔진 장착된 경유 차량
30,4,4,7MY-MT-24-01,7MY-MT-24-01,만 트랙터,만트럭버스코리아(주),TGA28.4806X2-2BLS,D2676LF01,무,무,유로 4 배출가스 기준 엔진 장착된 경유 차량
31,4,4,7MY-MT-24-01,7MY-MT-24-01,만 트랙터,만트럭버스코리아(주),TGX26.4806X4BLS,D2676LF05,무,무,유로 4 배출가스 기준 엔진 장착된 경유 차량
32,4,4,7MY-MT-24-01,7MY-MT-24-01,만 트랙터,만트럭버스코리아(주),TGX28.4806X2-2BLS,D2676LF05,무,무,유로 4 배출가스 기준 엔진 장착된 경유 차량

In [20]:
mod.loc[mod['배인번호(수정)'] == '7MY-MT-24-01', '자동차형식'].unique()
# mod.loc[mod['배인번호(수정)'] == '7MY-MT-24-01', '자동차형식'].unique()

array(['TGA26.4806X4BLS', 'TGA28.4806X2-2BLS', 'TGX26.4806X4BLS',
       'TGX28.4806X2-2BLS'], dtype=object)

In [21]:
mod.loc[mod['배인번호(수정)'] == '7MY-MT-24-01', '엔진형식'].unique()
# mod.loc[mod['배인번호(수정)'] == '7MY-MT-24-01', '엔진형식_x'].unique()

array(['D2676LF01', 'D2676LF05'], dtype=object)

In [24]:
df.loc[df['배출가스인증번호'] == '7MY-MT-24-01', '자동차형식'].unique()
# df.loc[df['배출가스인증번호'] == '7MY-MT-24-01', '자동차형식'].unique()

array(['TGX28.4806X2-2BLS', 'TGA26.4806X4BLS', 'TGA28.4806X2-2BLS',
       'TGX26.4806X4BLS'], dtype=object)

In [26]:
df.loc[df['배출가스인증번호'] == '7MY-MT-24-01', '엔진형식'].unique()
# df.loc[df['배출가스인증번호'] == '7MY-MT-24-01', '엔진형식_x'].unique()

array(['D2676LF05', 'D2676LF01'], dtype=object)

# 수정사항 반영

In [15]:
# 매칭조건 컬럼 : '배출가스인증번호', '자동차형식', '엔진형식'
# 매칭조건 컬럼 : '배출가스인증번호', '자동차형식', '엔진형식_x'
# 수정할 컬럼 : '배출가스인증번호', '등급', 'DPF유무'

In [16]:
# 확인 샘플
# 수정
# '등급', 배출가스인증번호, 차명, 제작사명, 자동차형식, 엔진형식, 'DPF유무'
# 전 : 4, 4MY-DC-33, 대우11.5톤장축카고트럭(DPF), 타타대우상용차(주), K9ARF5, DV11, 무
# 후 : 5, 6MY-DC-23-17(적용X), 대우11.5톤장축카고트럭(DPF), 타타대우상용차(주), K9ARF5, DV11, 유

In [28]:
df.loc[:5, ['배출가스인증번호', '등급', '차명', '자동차형식', '제작사명', '엔진형식']]
# df.loc[:5, ['배출가스인증번호', '등급', '차명_x', '자동차형식', '제작사명', '엔진형식_x']]

       배출가스인증번호  등급      차명         자동차형식      제작사명    엔진형식
0     XMY-HD-48   4     베르나    LC4-15DM-1  현대자동차(주)    G4EC
1  9MY-KM-14-41   4     카니발     VQS96BB-G  기아자동차(주)    D4HB
2  7MY-SY-14-60   4  액티언스포츠  Q5D20A2-008D  쌍용자동차(주)  664951
3           NaN   4     체어맨      W-GA32-5  쌍용자동차(주)     162
4  9MY-KM-14-22   4     쏘렌토      XM75BA-S  기아자동차(주)    D4HA
5           NaN   4    프라이드       B3-23LX  기아자동차(주)      B3

In [29]:
df.loc[df['배출가스인증번호'] == '4MY-DC-33', ['배출가스인증번호', '등급', '차명', '자동차형식', '제작사명', '엔진형식']]
# df.loc[df['배출가스인증번호'] == '4MY-DC-33', ['배출가스인증번호', '등급', '차명_x', '자동차형식', '제작사명', '엔진형식_x', 'DPF유무']]

         배출가스인증번호  등급                  차명   자동차형식        제작사명  엔진형식
98172   4MY-DC-33   4  대우11.5톤장축카고트럭(DPF)  K9ARF5  타타대우상용차(주)  DV11
127271  4MY-DC-33   4  대우11.5톤장축카고트럭(DPF)  K9ARF5  타타대우상용차(주)  DV11
212515  4MY-DC-33   4  대우11.5톤장축카고트럭(DPF)  K9ARF5  타타대우상용차(주)  DV11
220527  4MY-DC-33   4  대우11.5톤장축카고트럭(DPF)  K9ARF5  타타대우상용차(주)  DV11
455562  4MY-DC-33   4  대우11.5톤장축카고트럭(DPF)  K9ARF5  타타대우상용차(주)  DV11
630759  4MY-DC-33   4  대우11.5톤장축카고트럭(DPF)  K9ARF5  타타대우상용차(주)  DV11
928757  4MY-DC-33   4  대우11.5톤장축카고트럭(DPF)  K9ARF5  타타대우상용차(주)  DV11

In [19]:
# 확인 샘플
# 수정
# 등급, 배출가스인증번호, 차명, 제작사명, 자동차형식, 엔진형식, 'DPF유무'
# 전 : 4, 7MY-MT-24-01, 만 트랙터, 만트럭버스코리아(주), TGA28.4806X2-2BLS, D2676LF05, 무
# 후 : 4, 7MY-MT-24-01, 만 트랙터, 만트럭버스코리아(주), TGA28.4806X2-2BLS, D2676LF05, 유

In [30]:
df.loc[df['배출가스인증번호'] == '7MY-MT-24-01', ['배출가스인증번호', '등급', '차명', '자동차형식', '제작사명', '엔진형식']]
# df.loc[df['배출가스인증번호'] == '7MY-MT-24-01', ['배출가스인증번호', '등급', '차명_x', '자동차형식', '제작사명', '엔진형식_x', 'DPF유무']]

             배출가스인증번호  등급     차명              자동차형식         제작사명       엔진형식
3164     7MY-MT-24-01   4  만 트랙터  TGX28.4806X2-2BLS  만트럭버스코리아(주)  D2676LF05
4739     7MY-MT-24-01   4  만 트랙터  TGX28.4806X2-2BLS  만트럭버스코리아(주)  D2676LF05
38915    7MY-MT-24-01   4  만 트랙터  TGX28.4806X2-2BLS  만트럭버스코리아(주)  D2676LF05
40371    7MY-MT-24-01   4  만 트랙터  TGX28.4806X2-2BLS  만트럭버스코리아(주)  D2676LF05
42900    7MY-MT-24-01   4  만 트랙터  TGX28.4806X2-2BLS  만트럭버스코리아(주)  D2676LF05
...               ...  ..    ...                ...          ...        ...
1478414  7MY-MT-24-01   4  만 트랙터  TGX28.4806X2-2BLS  만트럭버스코리아(주)  D2676LF05
1482306  7MY-MT-24-01   4  만 트랙터  TGX28.4806X2-2BLS  만트럭버스코리아(주)  D2676LF05
1491339  7MY-MT-24-01   4  만 트랙터  TGX28.4806X2-2BLS  만트럭버스코리아(주)  D2676LF05
1493197  7MY-MT-24-01   4  만 트랙터  TGX28.4806X2-2BLS  만트럭버스코리아(주)  D2676LF05
1501861  7MY-MT-24-01   4  만 트랙터  TGX28.4806X2-2BLS  만트럭버스코리아(주)  D2676LF05

[293 rows x 6 columns]

In [31]:
df['제작사확인_DPF유무'] = np.nan
df['확인유무'] = np.nan
df['비고'] = np.nan

In [33]:
df[['배출가스인증번호', '등급', '차명', '자동차형식', '제작사명', '엔진형식', '제작사확인_DPF유무', '확인유무', '비고']].head()
# df[['배출가스인증번호', '등급', '차명_x', '자동차형식', '제작사명', '엔진형식_x', '제작사확인_DPF유무', '확인유무', '비고']].head()

,배출가스인증번호,등급,차명,자동차형식,제작사명,엔진형식,제작사확인_DPF유무,확인유무,비고
0,XMY-HD-48,4,베르나,LC4-15DM-1,현대자동차(주),G4EC,NaN,NaN,NaN
1,9MY-KM-14-41,4,카니발,VQS96BB-G,기아자동차(주),D4HB,NaN,NaN,NaN
2,7MY-SY-14-60,4,액티언스포츠,Q5D20A2-008D,쌍용자동차(주),664951,NaN,NaN,NaN
3,NaN,4,체어맨,W-GA32-5,쌍용자동차(주),162,NaN,NaN,NaN
4,9MY-KM-14-22,4,쏘렌토,XM75BA-S,기아자동차(주),D4HA,NaN,NaN,NaN

In [34]:
count = 0
for one, two, three, four in df[['배출가스인증번호', '등급', '자동차형식', '제작사명']].values:
    print(one, two, three, four)
    count += 1
    if count == 5:
        break

XMY-HD-48 4 LC4-15DM-1 현대자동차(주)
9MY-KM-14-41 4 VQS96BB-G 기아자동차(주)
7MY-SY-14-60 4 Q5D20A2-008D 쌍용자동차(주)
nan 4 W-GA32-5 쌍용자동차(주)
9MY-KM-14-22 4 XM75BA-S 기아자동차(주)

## 수정 적용

In [35]:
pick_mod = mod[['등급(수정)', '배인번호(현재)', '배인번호(수정)', '자동차형식', '엔진형식', 'DPF유무(수정)']].values
len(pick_mod)

3522

In [36]:
pick_mod[:5]

array([[4, '7MY-SM-14-36', '7MY-SM-14-36', 'H1D20-VC-0-11', 'M9R', '유'],
       [4, '7MY-SM-14-36', '7MY-SM-14-36', 'H1D20-VC-0-12', 'M9R', '유'],
       [4, '7MY-SM-14-36', '7MY-SM-14-36', 'H1D20-VC-0-21', 'M9R', '유'],
       [4, '7MY-SM-14-36', '7MY-SM-14-36', 'H1D20-VC-0-22', 'M9R', '유'],
       [4, '7MY-SM-14-36', '7MY-SM-14-36', 'H1D20-VC-0-31', 'M9R', '유']],
      dtype=object)

In [37]:
pick_mod[-5:]

array([[4, '7MY-AD-14-04', '7MY-AD-14-04', '4F', 'BPP', '유'],
       [4, '8MY-AD-14-03', '8MY-AD-14-03', '5N', 'CBA', '유'],
       [4, '8MY-AD-14-09', '8MY-AD-14-09', '3C', 'CBB', '유'],
       [4, '8MY-AD-14-09', '8MY-AD-14-09', '3CC', 'CBB', '유'],
       [4, '9MY-AD-14-04', '9MY-AD-14-04', '8R', 'CAH', '유']],
      dtype=object)

In [38]:
# about 5m 1s
# for m_grade, p_emis, m_emis, car_form, engine_form, m_dpf in tqdm(zip(mod['등급(수정)'], mod['배인번호(현재)'], mod['배인번호(수정)'], mod['자동차형식'], mod['엔진형식'], mod['DPF유무(수정)'])):
for m_grade, p_emis, m_emis, car_form, engine_form, m_dpf in tqdm(pick_mod):
    df.loc[(df['배출가스인증번호'] == p_emis) & (df['자동차형식'] == car_form) & (df['엔진형식'] == engine_form), ['등급', '제작사확인_DPF유무', '확인유무']] = [m_grade, m_dpf, 'Y']
    # df.loc[(df['배출가스인증번호'] == p_emis) & (df['자동차형식'] == car_form) & (df['엔진형식_x'] == engine_form), ['등급', '제작사확인_DPF유무', '확인유무']] = [m_grade, m_dpf, 'Y']

100%|██████████| 3522/3522 [14:20<00:00,  4.09it/s]

In [40]:
df.loc[df['배출가스인증번호'] == '4MY-DC-33', ['배출가스인증번호', '등급', '차명', '자동차형식', '제작사명', '엔진형식', '제작사확인_DPF유무', '확인유무', '비고']]
# df.loc[df['배출가스인증번호'] == '4MY-DC-33', ['배출가스인증번호', '등급', '차명_x', '자동차형식', '제작사명', '엔진형식_x', 'DPF유무', '제작사확인_DPF유무', '확인유무', '비고']]

,배출가스인증번호,등급,차명,자동차형식,제작사명,엔진형식,제작사확인_DPF유무,확인유무,비고
98172,4MY-DC-33,5,대우11.5톤장축카고트럭(DPF),K9ARF5,타타대우상용차(주),DV11,유,Y,NaN
127271,4MY-DC-33,5,대우11.5톤장축카고트럭(DPF),K9ARF5,타타대우상용차(주),DV11,유,Y,NaN
212515,4MY-DC-33,5,대우11.5톤장축카고트럭(DPF),K9ARF5,타타대우상용차(주),DV11,유,Y,NaN
220527,4MY-DC-33,5,대우11.5톤장축카고트럭(DPF),K9ARF5,타타대우상용차(주),DV11,유,Y,NaN
455562,4MY-DC-33,5,대우11.5톤장축카고트럭(DPF),K9ARF5,타타대우상용차(주),DV11,유,Y,NaN
630759,4MY-DC-33,5,대우11.5톤장축카고트럭(DPF),K9ARF5,타타대우상용차(주),DV11,유,Y,NaN
928757,4MY-DC-33,5,대우11.5톤장축카고트럭(DPF),K9ARF5,타타대우상용차(주),DV11,유,Y,NaN

In [50]:
df.loc[df['배출가스인증번호'] == '9MY-AD-14-04', ['배출가스인증번호', '등급', '차명', '자동차형식', '제작사명', '엔진형식', '제작사확인_DPF유무', '확인유무', '비고']]
# df.loc[df['배출가스인증번호'] == '9MY-AD-14-04', ['배출가스인증번호', '등급', '차명_x', '자동차형식', '제작사명', '엔진형식_x', 'DPF유무', '제작사확인_DPF유무', '확인유무', '비고']]

,배출가스인증번호,등급,차명,자동차형식,제작사명,엔진형식,제작사확인_DPF유무,확인유무,비고
1613,9MY-AD-14-04,4,Q5 2.0 TDI quattro,8R,아우디폭스바겐코리아(주),CAH,유,Y,NaN
3168,9MY-AD-14-04,4,Q5 2.0 TDI quattro,8R,아우디폭스바겐코리아(주),CAH,유,Y,NaN
3637,9MY-AD-14-04,4,Q5 2.0 TDI quattro,8R,아우디폭스바겐코리아(주),CAH,유,Y,NaN
5370,9MY-AD-14-04,4,Q5 2.0 TDI quattro,8R,아우디폭스바겐코리아(주),CAH,유,Y,NaN
6497,9MY-AD-14-04,4,Q5 2.0 TDI quattro,8R,아우디폭스바겐코리아(주),CAH,유,Y,NaN
...,...,...,...,...,...,...,...,...,...
1497242,9MY-AD-14-04,4,Q5 2.0 TDI quattro,8R,아우디폭스바겐코리아(주),CAH,유,Y,NaN
1497314,9MY-AD-14-04,4,Q5 2.0 TDI Quattro,8R,아우디폭스바겐코리아(주),CAH,유,Y,NaN
1498580,9MY-AD-14-04,4,Q5 2.0 TDI Quattro,8R,아우디폭스바겐코리아(주),CAH,유,Y,NaN
1499715,9MY-AD-14-04,4,Q5 2.0 TDI quattro,8R,아우디폭스바겐코리아(주),CAH,유,Y,NaN
1500891,9MY-AD-14-04,4,Q5 2.0 TDI quattro,8R,아우디폭스바겐코리아(주),CAH,유,Y,NaN

In [42]:
# df.loc[df['배출가스인증번호'] == '7MY-MT-24-01', ['배출가스인증번호', '등급', '차명_x', '자동차형식', '제작사명', '엔진형식_x', 'DPF유무', '제작사확인_DPF유무', '확인유무', '비고']].head()

In [45]:
df.shape

(1502235, 31)

In [44]:
df.loc[:5, ['배출가스인증번호', '등급', '차명', '자동차형식', '제작사명', '엔진형식', '제작사확인_DPF유무', '확인유무', '비고']]
# df.loc[:5, ['배출가스인증번호', '등급', '차명_x', '자동차형식', '제작사명', '엔진형식_x', 'DPF유무', '제작사확인_DPF유무', '확인유무', '비고']]

,배출가스인증번호,등급,차명,자동차형식,제작사명,엔진형식,제작사확인_DPF유무,확인유무,비고
0,XMY-HD-48,4,베르나,LC4-15DM-1,현대자동차(주),G4EC,NaN,NaN,NaN
1,9MY-KM-14-41,4,카니발,VQS96BB-G,기아자동차(주),D4HB,무,Y,NaN
2,7MY-SY-14-60,4,액티언스포츠,Q5D20A2-008D,쌍용자동차(주),664951,NaN,NaN,NaN
3,NaN,4,체어맨,W-GA32-5,쌍용자동차(주),162,NaN,NaN,NaN
4,9MY-KM-14-22,4,쏘렌토,XM75BA-S,기아자동차(주),D4HA,무,Y,NaN
5,NaN,4,프라이드,B3-23LX,기아자동차(주),B3,NaN,NaN,NaN

## 배인번호별 통계

In [49]:
df.groupby(['배출가스인증번호', '차명', '제작사명', '자동차형식', '엔진형식', '제작사확인_DPF유무', '확인유무'], dropna=False)['차대번호'].count()
# df.groupby(['배출가스인증번호', '차명_x', '제작사명', '자동차형식', '엔진형식_x', '제작사확인_DPF유무', '확인유무'], dropna=False)['차대번호'].count()

배출가스인증번호  차명          제작사명          자동차형식     엔진형식      제작사확인_DPF유무  확인유무
          도요다크라운로얄싸롱  NaN           MS122     NaN       NaN          NaN      1
          랭글러2.5L     NaN           TJ        53008403  NaN          NaN      1
          랭글러짚        NaN           SAHARA    MX        NaN          NaN      1
          벤즈 230E     NaN           NaN       NaN       NaN          NaN      1
          벤츠300SEL    자기인증면제차량      126 025   103.981   NaN          NaN      1
                                                                             ..
NaN       휘가로         모인모터하우스       FK10      MA10      NaN          NaN      1
                      자기인증면제차량      E-FK10    MA10      NaN          NaN      1
                                    FK10      MA10      NaN          NaN      1
          히노카고트럭      스카니아코리아그룹(주)  FD8JLUA   J08EUR    NaN          NaN     25
          히노활어트럭      스카니아코리아그룹(주)  FD8JLUAF  J08EUR    NaN          NaN      5
Name: 차대번호, Length: 11221, dtype: int64

### [출력] 배인번호별 통계

In [29]:
# df.groupby(['배출가스인증번호', '제작사확인_DPF유무', '확인유무'], dropna=False)['차대번호'].count().to_excel('analysis2/DPF현행화/배인번호별_제작사확인DPF유무_확인유무.xlsx')

# [출력] 수정파일

In [30]:
fold

'D:/data/big2/BD1_4등급_데이터_점검1'

In [31]:
today_date = datetime.datetime.today().strftime("%Y.%m.%d_%p.%H.%M.%S")
today_date

'2023.02.21'

In [32]:
# about 32s
df.to_csv(os.path.join(fold, f'4등급_차량_리스트_양식_result(수정)({today_date}).csv'), index=False, encoding='cp949')

In [33]:
# about 32s
df.iloc[:580000].to_csv(os.path.join(fold, f'4등급_차량_리스트_양식_result(수정)({today_date})01.csv'), index=False, encoding='cp949')
df.iloc[580000:].to_csv(os.path.join(fold, f'4등급_차량_리스트_양식_result(수정)({today_date})02.csv'), index=False, encoding='cp949')

In [34]:
# # about 18m 25s
# df.iloc[:580000].to_excel(os.path.join(fold, '4등급_차량_리스트_양식_result(수정)(2023.02.09)01.xlsx'), index=False)
# df.iloc[580000:].to_excel(os.path.join(fold, '4등급_차량_리스트_양식_result(수정)(2023.02.09)02.xlsx'), index=False)

# CODE End