# Library

In [4]:
import pandas as pd
import os, datetime
import numpy as np
from tqdm import tqdm
from glob import glob

# fold path

In [77]:
norm_fold = 'D:/data/big2/BD1_4등급_데이터_점검1/emis/norm'
error_fold = 'D:/data/big2/BD1_4등급_데이터_점검1/emis/error'
weird_fold = 'D:/data/big2/BD1_4등급_데이터_점검1/emis'
nan_fold = 'D:/data/big2/BD1_4등급_데이터_점검1/emis/nan'

# File Load
- 정상 배인번호 파일
- 비정상 배인번호 파일
- 제작사 이상 파일

## 정상 배인번호 파일

In [64]:
norm = pd.DataFrame()
for addr in tqdm(glob(os.path.join(norm_fold, '*.csv'))):
    temp = pd.read_csv(addr, encoding='cp949', low_memory=False)
    norm = pd.concat([norm, temp], ignore_index=True)

100%|██████████| 134/134 [00:40<00:00,  3.30it/s]

In [65]:
norm.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1140479 entries, 0 to 1140478
Data columns (total 68 columns):
 #   Column       Non-Null Count    Dtype
---  ------       --------------    -----
 0   차대번호         1140479 non-null  object
 1   차량번호_x       1140479 non-null  object
 2   제원관리번호       1140479 non-null  object
 3   차종_원본        1140479 non-null  object
 4   용도           1140479 non-null  object
 5   최초등록일        1140479 non-null  int64
 6   연식           1140479 non-null  int64
 7   제작일자         1140478 non-null  float64
 8   검사유효일        1140477 non-null  float64
 9   배출가스인증번호     1140479 non-null  object
 10  등급           1140479 non-null  object
 11  차명_x         1140479 non-null  object
 12  차종분류         1140479 non-null  object
 13  차종유형         1140479 non-null  object
 14  자동차형식        1140479 non-null  object
 15  제작사명         1140479 non-null  object
 16  연료           1140479 non-null  object
 17  엔진형식_x       1140479 non-null  object
 18  총중량          1140479 non-null  float64
 19  적재중량         1140276 non-null  float64
 20  엔진출력         1140478 non-null  float64
 21  배기량          1140479 non-null  float64
 22  법정동코드        1140479 non-null  int64
 23  시도명          1140479 non-null  object
 24  시군구명         1140479 non-null  object
 25  소유자구분        1140479 non-null  object
 26  말소여부         1140479 non-null  object
 27  일치유무         1140479 non-null  object
 28  사용연료         1118593 non-null  object
 29  주행거리         1118484 non-null  float64
 30  차명_y         1118593 non-null  object
 31  차량번호_y       1118593 non-null  object
 32  차종           1118593 non-null  object
 33  차량연식         1118593 non-null  float64
 34  엔진형식_y       1118585 non-null  object
 35  검사방법         1118593 non-null  object
 36  검사일자         1118593 non-null  float64
 37  검사종류         1118593 non-null  object
 38  검사판정시각       1109985 non-null  object
 39  검사판정         1118593 non-null  object
 40  산소값          807914 non-null   float64
 41  이산화탄소값       807914 non-null   float64
 42  무부하매연판정1     1109981 non-null  object
 43  무부하매연판정2     40959 non-null    object
 44  무부하매연판정3     40068 non-null    object
 45  무부하매연판정4     40066 non-null    object
 46  무부하매연판정5     40066 non-null    object
 47  무부하매연판정6     41 non-null       object
 48  무부하매연허용치1    1109981 non-null  float64
 49  무부하매연허용치2    327672 non-null   float64
 50  무부하매연허용치3    327671 non-null   float64
 51  무부하매연허용치4    327669 non-null   float64
 52  무부하매연허용치5    327669 non-null   float64
 53  무부하매연허용치6    298254 non-null   float64
 54  무부하매연측정치1    1109985 non-null  float64
 55  무부하매연측정치2    360999 non-null   float64
 56  무부하매연측정치3    327673 non-null   float64
 57  무부하매연측정치4    327671 non-null   float64
 58  무부하매연측정치5    327671 non-null   float64
 59  무부하매연측정치6    298254 non-null   float64
 60  정기정밀         1118593 non-null  object
 61  vin10        1140479 non-null  object
 62  vin_year     1140476 non-null  float64
 63  DPF유무        1140479 non-null  object
 64  배인번호_수정      1140479 non-null  object
 65  제작사확인_DPF유무  1140289 non-null  object
 66  확인유무         1140289 non-null  object
 67  비고           0 non-null        float64
dtypes: float64(25), int64(3), object(40)
memory usage: 591.7+ MB

## 비정상 배인번호 파일

In [78]:
error = pd.DataFrame()
for addr in tqdm(glob(os.path.join(error_fold, '*.csv'))):
    temp = pd.read_csv(addr, encoding='cp949', low_memory=False)
    error = pd.concat([error, temp], ignore_index=True)

100%|██████████| 71/71 [00:00<00:00, 140.48it/s]

In [79]:
error.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1309 entries, 0 to 1308
Data columns (total 68 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   차대번호         1309 non-null   object
 1   차량번호_x       1309 non-null   object
 2   제원관리번호       1309 non-null   object
 3   차종_원본        1309 non-null   object
 4   용도           1309 non-null   object
 5   최초등록일        1309 non-null   int64
 6   연식           1309 non-null   int64
 7   제작일자         1309 non-null   float64
 8   검사유효일        1309 non-null   float64
 9   배출가스인증번호     1309 non-null   object
 10  등급           1309 non-null   int64
 11  차명_x         1309 non-null   object
 12  차종분류         1309 non-null   object
 13  차종유형         1309 non-null   object
 14  자동차형식        1309 non-null   object
 15  제작사명         1304 non-null   object
 16  연료           1309 non-null   object
 17  엔진형식_x       1309 non-null   object
 18  총중량          1309 non-null   float64
 19  적재중량         1309 non-null   float64
 20  엔진출력         1309 non-null   float64
 21  배기량          1309 non-null   float64
 22  법정동코드        1309 non-null   int64
 23  시도명          1309 non-null   object
 24  시군구명         1309 non-null   object
 25  소유자구분        1309 non-null   object
 26  말소여부         1309 non-null   object
 27  일치유무         1309 non-null   object
 28  사용연료         1223 non-null   object
 29  주행거리         1223 non-null   float64
 30  차명_y         1223 non-null   object
 31  차량번호_y       1223 non-null   object
 32  차종           1223 non-null   object
 33  차량연식         1223 non-null   float64
 34  엔진형식_y       1223 non-null   object
 35  검사방법         1223 non-null   object
 36  검사일자         1223 non-null   float64
 37  검사종류         1223 non-null   object
 38  검사판정시각       1212 non-null   object
 39  검사판정         1223 non-null   object
 40  산소값          785 non-null    float64
 41  이산화탄소값       785 non-null    float64
 42  무부하매연판정1     1212 non-null   object
 43  무부하매연판정2     685 non-null    object
 44  무부하매연판정3     685 non-null    object
 45  무부하매연판정4     685 non-null    object
 46  무부하매연판정5     685 non-null    object
 47  무부하매연판정6     0 non-null      float64
 48  무부하매연허용치1    1212 non-null   float64
 49  무부하매연허용치2    747 non-null    float64
 50  무부하매연허용치3    747 non-null    float64
 51  무부하매연허용치4    747 non-null    float64
 52  무부하매연허용치5    747 non-null    float64
 53  무부하매연허용치6    252 non-null    float64
 54  무부하매연측정치1    1212 non-null   float64
 55  무부하매연측정치2    768 non-null    float64
 56  무부하매연측정치3    747 non-null    float64
 57  무부하매연측정치4    747 non-null    float64
 58  무부하매연측정치5    747 non-null    float64
 59  무부하매연측정치6    252 non-null    float64
 60  정기정밀         1223 non-null   object
 61  vin10        1309 non-null   int64
 62  vin_year     1309 non-null   float64
 63  DPF유무        1309 non-null   object
 64  배인번호_수정      1309 non-null   object
 65  제작사확인_DPF유무  2 non-null      object
 66  확인유무         2 non-null      object
 67  비고           0 non-null      float64
dtypes: float64(26), int64(5), object(37)
memory usage: 695.5+ KB

## 제작사 이상 파일

In [68]:
weird = pd.DataFrame()
for addr in tqdm(glob(os.path.join(weird_fold, '*.xlsx'))):
    temp = pd.read_excel(addr)
    weird = pd.concat([weird, temp], ignore_index=True)

100%|██████████| 2/2 [00:03<00:00,  1.75s/it]

In [69]:
weird.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4875 entries, 0 to 4874
Data columns (total 68 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   차대번호         4875 non-null   object
 1   차량번호_x       4875 non-null   object
 2   제원관리번호       4875 non-null   object
 3   차종_원본        4875 non-null   object
 4   용도           4875 non-null   object
 5   최초등록일        4875 non-null   int64
 6   연식           4875 non-null   int64
 7   제작일자         4875 non-null   int64
 8   검사유효일        4875 non-null   int64
 9   배출가스인증번호     4875 non-null   object
 10  등급           4875 non-null   int64
 11  차명_x         4875 non-null   object
 12  차종분류         4875 non-null   object
 13  차종유형         4875 non-null   object
 14  자동차형식        4875 non-null   object
 15  제작사명         4863 non-null   object
 16  연료           4875 non-null   object
 17  엔진형식_x       4875 non-null   object
 18  총중량          4875 non-null   int64
 19  적재중량         4875 non-null   int64
 20  엔진출력         4875 non-null   int64
 21  배기량          4875 non-null   int64
 22  법정동코드        4875 non-null   int64
 23  시도명          4875 non-null   object
 24  시군구명         4875 non-null   object
 25  소유자구분        4875 non-null   object
 26  말소여부         4875 non-null   object
 27  일치유무         4875 non-null   object
 28  사용연료         4588 non-null   object
 29  주행거리         4586 non-null   float64
 30  차명_y         4588 non-null   object
 31  차량번호_y       4588 non-null   object
 32  차종           4588 non-null   object
 33  차량연식         4588 non-null   float64
 34  엔진형식_y       4586 non-null   object
 35  검사방법         4588 non-null   object
 36  검사일자         4588 non-null   float64
 37  검사종류         4588 non-null   object
 38  검사판정시각       4562 non-null   object
 39  검사판정         4588 non-null   object
 40  산소값          3107 non-null   float64
 41  이산화탄소값       3107 non-null   float64
 42  무부하매연판정1     4562 non-null   object
 43  무부하매연판정2     2471 non-null   object
 44  무부하매연판정3     2471 non-null   object
 45  무부하매연판정4     2471 non-null   object
 46  무부하매연판정5     2471 non-null   object
 47  무부하매연판정6     2 non-null      object
 48  무부하매연허용치1    4562 non-null   float64
 49  무부하매연허용치2    2753 non-null   float64
 50  무부하매연허용치3    2753 non-null   float64
 51  무부하매연허용치4    2753 non-null   float64
 52  무부하매연허용치5    2753 non-null   float64
 53  무부하매연허용치6    1027 non-null   float64
 54  무부하매연측정치1    4562 non-null   float64
 55  무부하매연측정치2    2816 non-null   float64
 56  무부하매연측정치3    2753 non-null   float64
 57  무부하매연측정치4    2753 non-null   float64
 58  무부하매연측정치5    2753 non-null   float64
 59  무부하매연측정치6    1027 non-null   float64
 60  정기정밀         4588 non-null   object
 61  vin10        4875 non-null   object
 62  vin_year     4875 non-null   int64
 63  DPF유무        4875 non-null   object
 64  배인번호_수정      4875 non-null   object
 65  제작사확인_DPF유무  30 non-null     object
 66  확인유무         30 non-null     object
 67  비고           0 non-null      float64
dtypes: float64(18), int64(11), object(39)
memory usage: 2.5+ MB

## 미기입

In [219]:
nad = pd.DataFrame()
for addr in tqdm(glob(os.path.join(nan_fold, '*.csv'))):
    temp = pd.read_csv(addr, encoding='cp949', low_memory=False)
    nad = pd.concat([nad, temp], ignore_index=True)

100%|██████████| 1/1 [00:00<00:00, 11.49it/s]

In [220]:
nad.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7150 entries, 0 to 7149
Data columns (total 68 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   차대번호         7150 non-null   object
 1   차량번호_x       7150 non-null   object
 2   제원관리번호       7150 non-null   object
 3   차종_원본        7150 non-null   object
 4   용도           7150 non-null   object
 5   최초등록일        7150 non-null   int64
 6   연식           7150 non-null   int64
 7   제작일자         7147 non-null   float64
 8   검사유효일        7149 non-null   float64
 9   배출가스인증번호     0 non-null      float64
 10  등급           7150 non-null   int64
 11  차명_x         7150 non-null   object
 12  차종분류         7150 non-null   object
 13  차종유형         7150 non-null   object
 14  자동차형식        7149 non-null   object
 15  제작사명         7149 non-null   object
 16  연료           7150 non-null   object
 17  엔진형식_x       7150 non-null   object
 18  총중량          7150 non-null   float64
 19  적재중량         7129 non-null   float64
 20  엔진출력         7149 non-null   float64
 21  배기량          7150 non-null   float64
 22  법정동코드        7150 non-null   int64
 23  시도명          7150 non-null   object
 24  시군구명         7150 non-null   object
 25  소유자구분        7150 non-null   object
 26  말소여부         7150 non-null   object
 27  일치유무         7150 non-null   object
 28  사용연료         6772 non-null   object
 29  주행거리         6770 non-null   float64
 30  차명_y         6772 non-null   object
 31  차량번호_y       6772 non-null   object
 32  차종           6772 non-null   object
 33  차량연식         6772 non-null   float64
 34  엔진형식_y       6771 non-null   object
 35  검사방법         6772 non-null   object
 36  검사일자         6772 non-null   float64
 37  검사종류         6772 non-null   object
 38  검사판정시각       6742 non-null   object
 39  검사판정         6772 non-null   object
 40  산소값          5493 non-null   float64
 41  이산화탄소값       5493 non-null   float64
 42  무부하매연판정1     6742 non-null   object
 43  무부하매연판정2     320 non-null    object
 44  무부하매연판정3     310 non-null    object
 45  무부하매연판정4     310 non-null    object
 46  무부하매연판정5     310 non-null    object
 47  무부하매연판정6     3 non-null      object
 48  무부하매연허용치1    6742 non-null   float64
 49  무부하매연허용치2    2440 non-null   float64
 50  무부하매연허용치3    2440 non-null   float64
 51  무부하매연허용치4    2440 non-null   float64
 52  무부하매연허용치5    2440 non-null   float64
 53  무부하매연허용치6    2181 non-null   float64
 54  무부하매연측정치1    6742 non-null   float64
 55  무부하매연측정치2    3090 non-null   float64
 56  무부하매연측정치3    2440 non-null   float64
 57  무부하매연측정치4    2440 non-null   float64
 58  무부하매연측정치5    2440 non-null   float64
 59  무부하매연측정치6    2181 non-null   float64
 60  정기정밀         6772 non-null   object
 61  vin10        7150 non-null   object
 62  vin_year     7150 non-null   float64
 63  DPF유무        7150 non-null   object
 64  배인번호_수정      0 non-null      float64
 65  제작사확인_DPF유무  0 non-null      float64
 66  확인유무         0 non-null      float64
 67  비고           0 non-null      float64
dtypes: float64(29), int64(4), object(35)
memory usage: 3.7+ MB

In [221]:
norm.shape, error.shape, weird.shape, nad.shape

((1140479, 68), (1309, 68), (4875, 68), (7150, 68))

In [222]:
# 1153813
norm.shape[0] + error.shape[0] + weird.shape[0] + nad.shape[0]

1153813

# 1\. 미기입 데이터 유로4인증대장으로 배인번호 기입

In [223]:
# 유로4 / result파일
# 제작사명 : 크라이슬러 / 에프씨에이코리아(주)
# 배인번호
    # 300C : 6MY-DK-14-1
    # 짚 커맨더 : 6MY-DK-14-2
    # 니트로, 짚 니트로 : 7MY-DK-14-4
    # 짚 랭글러 : 7MY-DK-14-5
    # 짚그랜드체로키, 짚 그랜드 체로키 : 8MY-DK-14-01
    # 그랜드 보이저 : 8MY-DK-14-02
    # 세브링 : 8MY-DK-14-06

In [224]:
# 유로4 / result파일
# 제작사명 : 볼보 / (주)볼보자동차코리아
# 볼보 S60D5 : 5MY-PA-14-17
# 볼보 S80D5 : 6MY-PA-14-4
# 볼보 XC70D5 : 8MY-PA-14-03
# 볼보 XC60D5 : 9MY-PA-13-01

In [225]:
# 유로4 / result파일
# 제작사명 : 랜드로버 / (주)재규어랜드로버코리아
# 레인지로버 스포츠 TDV6 : 7MY-PA-14-2

In [226]:
# 유로4 / result파일
# 제작사명 : 재규어 / (주)재규어랜드로버코리아
# 재규어 XJ 2.7D : 7MY-PA-14-7
# 재규어 X-TYPE 2.2D : 8MY-PA-14-04
# 재규어 XF 2.7D : 8MY-PA-14-05

In [227]:
# 유로4 / result파일
# 제작사명 : 포드 / 포드세일즈서비스코리아(유)
# 에스맥스 : 8MY-FK-14-1
# 몬데오 : 8MY-FK-14-2

In [ ]:
# 유로4 / result파일
# 제작사명 : 푸조 / 한불모터스(주)
# 배기량
# 1997 : 5MY-HB-14-1
# 2721 : 5MY-HB-14-4
# 1560 : 8MY-HB-14-1

In [257]:
nad.loc[nad['제작사명'] == '한불모터스(주)', '배기량'].unique()

array([1560., 1997., 2721.])

In [258]:
nad.loc[(nad['제작사명'] == '한불모터스(주)') & (nad['배기량'] == 1560)].shape

(764, 68)

In [228]:
nad['제작사명'].unique()

array(['주식회사 카셈(KASEM Co.,Ltd)', '에프씨에이코리아(주)', '한불모터스(주)', '한국상용차(주)',
       '(주)볼보자동차코리아', '자기인증면제차량', '한국특장기술(주)', '(주)재규어랜드로버코리아',
       '더유니코오토(주)', '포드세일즈서비스코리아(유)', '비엠더블유코리아(주)', '(주)무빙애드', '(주) 오텍',
       '주식회사 유아이테크', '동우인더스(주)', '(주) 대진에스티씨', '한아에스에스(주)', '(주)세인이엔지',
       '(주)크린텍', '부커셰링코리아 (주)', '라인호(주)', '한국오토모빌얼라이언스(주)', '(주)중평',
       '스카니아코리아그룹(주)', '(주)한국토미', '(주) 메인모터스', '현대자동차(주)', '(주)함코',
       '볼보트럭코리아(주)', '주식회사 평강비아이엠(B.I.M)', '녹산대진특장차', '대덕',
       'SK에너지(주)울산COMPLEX', '디에스아이코리아피티와이엘티디', '씨엔에스코퍼레이션(주)', '영원과학(주)',
       '(주)동해기계항공', '네오플란오토모빌코리아(주)', '(주)케이지비고려골든박스', '한국도로공사',
       '(주)에버다임', '(주)나노메딕스', '대동안전(주)', '(주)한일', '(주)동진특수', '(주)뉴테크특장',
       '한국공항공사', '(주)포멕특장', '지에스칼텍스(주)', '에스티에이컴퍼니(주)', '건민특장 주식회사',
       '(주)방원테크', '주식회사 우레아텍', '쌍용자동차(주)', '한국아이비금융(주)', '이텍산업 주식회사', nan,
       '로쏘엠', '해광산업사', '(주)화이어텍', '대지정공(주)', '(주)세기통운', '강원도청',
       '한성자동차(주)', '(주)우성특장', '(주) 골드밴', '서울특별시소방재난본부', '충청남도청',
       '주식회사 한서정공', '전라남도소방본부', '(주)우리특장', '비스너코리아 주식회사', '한국상용트럭(주)',
       '디앨 주식회사', '(주)호룡', '성진지오텍(주)', '서울시보건환경연구원', '신아특장', '(주)지엠케이',
       '(주)프로덕션툴즈', '정부쓰리축', '(주)동방', '기아자동차(주)', '대한예수교장로회평강제일교회',
       '한빛테크원(주)', '타타대우상용차(주)', '길우상사(주)', '르노삼성자동차(주)', '한국지엠주식회사',
       '서울시티투어버스(주)', '신정개발특장차 주식회사'], dtype=object)

In [231]:
# 2129, 5021 (y, n)
productor = '에프씨에이코리아(주)'
dict1 = {'300C' : '6MY-DK-14-1', '짚 커맨더' : '6MY-DK-14-2', '니트로' : '7MY-DK-14-4', '짚 니트로' : '7MY-DK-14-4', '짚 랭글러' : '7MY-DK-14-5', 
         '짚그랜드체로키' : '8MY-DK-14-01', '짚 그랜드 체로키' : '8MY-DK-14-01', '그랜드 보이저' : '8MY-DK-14-02', '세브링' : '8MY-DK-14-06'}
for k, v in dict1.items():
    nad.loc[(nad['제작사명'] == productor) & (nad['차명_x'] == k), '배출가스인증번호'] = v

In [233]:
# 3265, 3885
productor = '(주)볼보자동차코리아'
dict2 = {'볼보 S60D5' : '5MY-PA-14-17', '볼보 S80D5' : '6MY-PA-14-4', '볼보 XC70D5' : '8MY-PA-14-03', '볼보 XC60D5' : '9MY-PA-13-01'}
for k, v in dict2.items():
    nad.loc[(nad['제작사명'] == productor) & (nad['차명_x'] == k), '배출가스인증번호'] = v

In [235]:
# 3268, 3882
productor = '(주)재규어랜드로버코리아'
dict3 = {'레인지로버 스포츠 TDV6' : '7MY-PA-14-2'}
for k, v in dict3.items():
    nad.loc[(nad['제작사명'] == productor) & (nad['차명_x'] == k), '배출가스인증번호'] = v

In [237]:
# 3539, 3611
productor = '(주)재규어랜드로버코리아'
dict4 = {'재규어 XJ 2.7D' : '7MY-PA-14-7', '재규어 X-TYPE 2.2D' : '8MY-PA-14-04', '재규어 XF 2.7D' : '8MY-PA-14-05'}
for k, v in dict4.items():
    nad.loc[(nad['제작사명'] == productor) & (nad['차명_x'] == k), '배출가스인증번호'] = v

In [239]:
# 3637, 3513
productor = '(주)볼보자동차코리아'
dict5 = {'재규어 XJ 2.7D' : '7MY-PA-14-7', '재규어 X-TYPE 2.2D' : '8MY-PA-14-04', '재규어 XF 2.7D' : '8MY-PA-14-05'}
for k, v in dict5.items():
    nad.loc[(nad['제작사명'] == productor) & (nad['차명_x'] == k), '배출가스인증번호'] = v

In [241]:
# 3736, 3414
productor = '포드세일즈서비스코리아(유)'
dict6 = {'에스맥스' : '8MY-FK-14-1', '몬데오' : '8MY-FK-14-2'}
for k, v in dict6.items():
    nad.loc[(nad['제작사명'] == productor) & (nad['차명_x'] == k), '배출가스인증번호'] = v

In [259]:
# 6294, 856
productor = '한불모터스(주)'
dict7 = {1997 : '5MY-HB-14-1', 2721 : '5MY-HB-14-4', 1560 : '8MY-HB-14-1'}
for k, v in dict7.items():
    nad.loc[(nad['제작사명'] == productor) & (nad['배기량'] == k), '배출가스인증번호'] = v

In [260]:
nad1y = nad.loc[nad['배출가스인증번호'].isnull() == False].reset_index(drop=True)
nad1n = nad.loc[nad['배출가스인증번호'].isnull() == True].reset_index(drop=True)
nad1y.shape, nad1n.shape

((6294, 68), (856, 68))

## [출력] 처리된 미기입 차량
- 에프씨에이코리아(주)

In [261]:
nad1y.to_csv('D:/data/big2/BD1_4등급_데이터_점검1/emis/nad1/nad1y.csv', index=False, encoding='cp949')
nad1n.to_csv('D:/data/big2/BD1_4등급_데이터_점검1/emis/nad1/nad1n.csv', index=False, encoding='cp949')

# 2\. 정상 데이터와 비교하여 배인번호 기입
- 동일 제번, 자동차형식, 엔진형식으로 매칭 : 5개 매칭
- 동일 자동차형식, 엔진형식으로 매칭 : 1917개 매칭

In [262]:
norm.drop_duplicates(['배출가스인증번호', '제원관리번호', '자동차형식', '엔진형식_x']).shape

(4430, 68)

In [263]:
match_data = norm.drop_duplicates(['배출가스인증번호', '제원관리번호', '자동차형식', '엔진형식_x'])[['배출가스인증번호', '제원관리번호', '자동차형식', '엔진형식_x']].values
match_data[:3]

array([['4MY-AD-20', 2420000000000000.0, '4F', 'BMK'],
       ['4MY-DC-33', 'A0310006701423306', 'K9ARF5', 'DV11'],
       ['4MY-PA-06', 920000000000000.0, '2.0LN5DR', '204D']], dtype=object)

In [264]:
for emis, no, car, engine in tqdm(match_data):
    # nad1n.loc[(nad1n['제원관리번호'] == no) & (nad1n['자동차형식'] == car) & (nad1n['엔진형식_x'] == engine), '배출가스인증번호'] = emis
    nad1n.loc[(nad1n['자동차형식'] == car) & (nad1n['엔진형식_x'] == engine), '배출가스인증번호'] = emis

100%|██████████| 4430/4430 [00:02<00:00, 1758.23it/s]

In [265]:
nad2y = nad1n.loc[nad1n['배출가스인증번호'].isnull() == False].reset_index(drop=True)
nad2n = nad1n.loc[nad1n['배출가스인증번호'].isnull() == True].reset_index(drop=True)
nad2y.shape, nad2n.shape

((141, 68), (715, 68))

In [266]:
nad2y['제작사명'].unique()

array(['(주)볼보자동차코리아', '비엠더블유코리아(주)', '자기인증면제차량', '볼보트럭코리아(주)',
       '르노삼성자동차(주)', '현대자동차(주)', '한국지엠주식회사', '기아자동차(주)'], dtype=object)

## [출력] 처리된 미기입 차량2

In [267]:
nad2y.to_csv('D:/data/big2/BD1_4등급_데이터_점검1/emis/nad2/nad2y.csv', index=False, encoding='cp949')
nad2n.to_csv('D:/data/big2/BD1_4등급_데이터_점검1/emis/nad2/nad2n.csv', index=False, encoding='cp949')

In [268]:
nad2n['제작사명'].unique()

array(['주식회사 카셈(KASEM Co.,Ltd)', '한국상용차(주)', '자기인증면제차량', '한국특장기술(주)',
       '더유니코오토(주)', '(주)재규어랜드로버코리아', '비엠더블유코리아(주)', '(주)무빙애드', '(주) 오텍',
       '주식회사 유아이테크', '(주)볼보자동차코리아', '동우인더스(주)', '(주) 대진에스티씨', '한아에스에스(주)',
       '(주)세인이엔지', '(주)크린텍', '부커셰링코리아 (주)', '라인호(주)', '한국오토모빌얼라이언스(주)',
       '(주)중평', '스카니아코리아그룹(주)', '(주)한국토미', '(주) 메인모터스', '현대자동차(주)',
       '(주)함코', '주식회사 평강비아이엠(B.I.M)', '녹산대진특장차', '대덕',
       'SK에너지(주)울산COMPLEX', '디에스아이코리아피티와이엘티디', '씨엔에스코퍼레이션(주)', '영원과학(주)',
       '(주)동해기계항공', '네오플란오토모빌코리아(주)', '(주)케이지비고려골든박스', '한국도로공사',
       '(주)에버다임', '(주)나노메딕스', '대동안전(주)', '(주)한일', '(주)동진특수', '(주)뉴테크특장',
       '한국공항공사', '(주)포멕특장', '지에스칼텍스(주)', '에스티에이컴퍼니(주)', '건민특장 주식회사',
       '(주)방원테크', '주식회사 우레아텍', '쌍용자동차(주)', '한국아이비금융(주)', '볼보트럭코리아(주)',
       '이텍산업 주식회사', nan, '로쏘엠', '해광산업사', '(주)화이어텍', '대지정공(주)', '(주)세기통운',
       '강원도청', '한성자동차(주)', '(주)우성특장', '(주) 골드밴', '서울특별시소방재난본부', '충청남도청',
       '주식회사 한서정공', '전라남도소방본부', '(주)우리특장', '비스너코리아 주식회사', '한국상용트럭(주)',
       '에프씨에이코리아(주)', '디앨 주식회사', '(주)호룡', '성진지오텍(주)', '서울시보건환경연구원',
       '신아특장', '(주)지엠케이', '(주)프로덕션툴즈', '정부쓰리축', '(주)동방', '기아자동차(주)',
       '대한예수교장로회평강제일교회', '한빛테크원(주)', '타타대우상용차(주)', '길우상사(주)',
       '서울시티투어버스(주)', '신정개발특장차 주식회사'], dtype=object)

In [269]:
productor = '비엠더블유코리아(주)'

In [275]:
nad2n.loc[nad2n['제작사명'] == productor, ['제원관리번호', '자동차형식', '엔진형식_x', '차명_x']]

                제원관리번호 자동차형식 엔진형식_x         차명_x
13   00120002500001308  FG61  306D3  BMW X6 3.0d
38   00120002500001308  FG61  306D3  BMW X6 3.0d
39   00120002500001308  FG61  306D3  BMW X6 3.0d
40   00120002500001308  FG61  306D3  BMW X6 3.0d
76   00120002500001308  FG61  306D3  BMW X6 3.0d
..                 ...   ...    ...          ...
664  00120002500001308  FG61  306D3  BMW X6 3.0d
670  00120002500001308  FG61  306D3  BMW X6 3.0d
681  00120002500001308  FG61  306D3  BMW X6 3.0d
685  00120002500001308  FG61  306D3  BMW X6 3.0d
692  00120002500001308  FG61  306D3  BMW X6 3.0d

[71 rows x 4 columns]

In [271]:
# nad2n에서 정상 파일과 제원관리번호로 매칭되는지 여부 확인
for one in nad2n.loc[nad2n['제작사명'] == productor, ['제원관리번호', '자동차형식', '엔진형식_x', '차명_x']]['제원관리번호'].unique():
    if norm.loc[norm['제원관리번호'] == one, ['자동차형식', '엔진형식_x', '차명_x']].shape[0] != 0:
        print(one)

In [272]:
# nad2n에서 정상 파일과 자동차형식 매칭되는지 여부 확인
for one in nad2n.loc[nad2n['제작사명'] == productor, ['제원관리번호', '자동차형식', '엔진형식_x', '차명_x']]['자동차형식'].unique():
    if norm.loc[norm['자동차형식'] == one, ['자동차형식', '엔진형식_x', '차명_x']].shape[0] != 0:
        print(one)

In [273]:
# nad2n에서 정상 파일과 엔진형식 매칭되는지 여부 확인
for one in nad2n.loc[nad2n['제작사명'] == productor, ['제원관리번호', '자동차형식', '엔진형식_x', '차명_x']]['엔진형식_x'].unique():
    if norm.loc[norm['엔진형식_x'] == one, ['자동차형식', '엔진형식_x', '차명_x']].shape[0] != 0:
        print(one)

306D3

In [274]:
nad2n.loc[(nad2n['제작사명'] == productor) & (nad2n['엔진형식_x'] == '306D3'), ['제원관리번호', '자동차형식', '엔진형식_x', '차명_x']].shape

(71, 4)

In [252]:
productor = '스카니아코리아그룹(주)'

In [253]:
nad2n.loc[nad2n['제작사명'] == productor, ['제원관리번호', '자동차형식', '엔진형식_x', '차명_x']].shape

(30, 4)

In [183]:
# nad2n(스카니아코리아그룹(주))에서 정상 파일과 제원관리번호로 매칭되는지 여부 확인
for one in nad2n.loc[nad2n['제작사명'] == productor, ['제원관리번호', '자동차형식', '엔진형식_x', '차명_x']]['제원관리번호'].unique():
    if norm.loc[norm['제원관리번호'] == one, ['자동차형식', '엔진형식_x', '차명_x']].shape[0] != 0:
        print(one)

In [184]:
# nad2n(스카니아코리아그룹(주))에서 정상 파일과 자동차형식 매칭되는지 여부 확인
for one in nad2n.loc[nad2n['제작사명'] == productor, ['제원관리번호', '자동차형식', '엔진형식_x', '차명_x']]['자동차형식'].unique():
    if norm.loc[norm['자동차형식'] == one, ['자동차형식', '엔진형식_x', '차명_x']].shape[0] != 0:
        print(one)

In [185]:
# nad2n(스카니아코리아그룹(주))에서 정상 파일과 엔진형식 매칭되는지 여부 확인
for one in nad2n.loc[nad2n['제작사명'] == productor, ['제원관리번호', '자동차형식', '엔진형식_x', '차명_x']]['엔진형식_x'].unique():
    if norm.loc[norm['엔진형식_x'] == one, ['자동차형식', '엔진형식_x', '차명_x']].shape[0] != 0:
        print(one)

In [254]:
productor = '현대자동차(주)'

In [255]:
nad2n.loc[nad2n['제작사명'] == productor, ['제원관리번호', '자동차형식', '엔진형식_x', '차명_x']].shape

(9, 4)

In [188]:
# nad2n에서 정상 파일과 제원관리번호로 매칭되는지 여부 확인
for one in nad2n.loc[nad2n['제작사명'] == productor, ['제원관리번호', '자동차형식', '엔진형식_x', '차명_x']]['제원관리번호'].unique():
    if norm.loc[norm['제원관리번호'] == one, ['자동차형식', '엔진형식_x', '차명_x']].shape[0] != 0:
        print(one)

In [189]:
# nad2n에서 정상 파일과 자동차형식 매칭되는지 여부 확인
for one in nad2n.loc[nad2n['제작사명'] == productor, ['제원관리번호', '자동차형식', '엔진형식_x', '차명_x']]['자동차형식'].unique():
    if norm.loc[norm['자동차형식'] == one, ['자동차형식', '엔진형식_x', '차명_x']].shape[0] != 0:
        print(one)

In [190]:
# nad2n에서 정상 파일과 엔진형식 매칭되는지 여부 확인
for one in nad2n.loc[nad2n['제작사명'] == productor, ['제원관리번호', '자동차형식', '엔진형식_x', '차명_x']]['엔진형식_x'].unique():
    if norm.loc[norm['엔진형식_x'] == one, ['자동차형식', '엔진형식_x', '차명_x']].shape[0] != 0:
        print(one)

D4CB
D6CC
D4DD
D6GA

In [191]:
nad2n.loc[(nad2n['제작사명'] == productor) & ( (nad2n['엔진형식_x'] == 'D4CB') | (nad2n['엔진형식_x'] == 'D6CC') | (nad2n['엔진형식_x'] == 'D4DD') | (nad2n['엔진형식_x'] == 'D6GA')), ['제원관리번호', '자동차형식', '엔진형식_x', '차명_x']].shape

(6, 4)

In [203]:
productor = '쌍용자동차(주)'

In [204]:
nad2n.loc[nad2n['제작사명'] == productor, ['제원관리번호', '자동차형식', '엔진형식_x', '차명_x']]

             제원관리번호      자동차형식 엔진형식_x   차명_x
978  10038800020000  KJ-DMB2-5    662  코란도KJ

In [205]:
# nad2n에서 정상 파일과 제원관리번호로 매칭되는지 여부 확인
for one in nad2n.loc[nad2n['제작사명'] == productor, ['제원관리번호', '자동차형식', '엔진형식_x', '차명_x']]['제원관리번호'].unique():
    if norm.loc[norm['제원관리번호'] == one, ['자동차형식', '엔진형식_x', '차명_x']].shape[0] != 0:
        print(one)

In [206]:
# nad2n에서 정상 파일과 자동차형식 매칭되는지 여부 확인
for one in nad2n.loc[nad2n['제작사명'] == productor, ['제원관리번호', '자동차형식', '엔진형식_x', '차명_x']]['자동차형식'].unique():
    if norm.loc[norm['자동차형식'] == one, ['자동차형식', '엔진형식_x', '차명_x']].shape[0] != 0:
        print(one)

In [207]:
# nad2n에서 정상 파일과 엔진형식 매칭되는지 여부 확인
for one in nad2n.loc[nad2n['제작사명'] == productor, ['제원관리번호', '자동차형식', '엔진형식_x', '차명_x']]['엔진형식_x'].unique():
    if norm.loc[norm['엔진형식_x'] == str(one), ['자동차형식', '엔진형식_x', '차명_x']].shape[0] != 0:
        print(one)

In [197]:
productor = '한성자동차(주)'

In [198]:
nad2n.loc[nad2n['제작사명'] == productor, ['제원관리번호', '자동차형식', '엔진형식_x', '차명_x']]

                 제원관리번호    자동차형식   엔진형식_x    차명_x
1404  00031124018881309  211 020  642 920  벤츠E280

In [199]:
# nad2n에서 정상 파일과 제원관리번호로 매칭되는지 여부 확인
for one in nad2n.loc[nad2n['제작사명'] == productor, ['제원관리번호', '자동차형식', '엔진형식_x', '차명_x']]['제원관리번호'].unique():
    if norm.loc[norm['제원관리번호'] == one, ['자동차형식', '엔진형식_x', '차명_x']].shape[0] != 0:
        print(one)

In [200]:
# nad2n에서 정상 파일과 자동차형식 매칭되는지 여부 확인
for one in nad2n.loc[nad2n['제작사명'] == productor, ['제원관리번호', '자동차형식', '엔진형식_x', '차명_x']]['자동차형식'].unique():
    if norm.loc[norm['자동차형식'] == one, ['자동차형식', '엔진형식_x', '차명_x']].shape[0] != 0:
        print(one)

In [201]:
# nad2n에서 정상 파일과 엔진형식 매칭되는지 여부 확인
for one in nad2n.loc[nad2n['제작사명'] == productor, ['제원관리번호', '자동차형식', '엔진형식_x', '차명_x']]['엔진형식_x'].unique():
    if norm.loc[norm['엔진형식_x'] == one, ['자동차형식', '엔진형식_x', '차명_x']].shape[0] != 0:
        print(one)

In [208]:
productor = '기아자동차(주)'

In [209]:
nad2n.loc[nad2n['제작사명'] == productor, ['제원관리번호', '자동차형식', '엔진형식_x', '차명_x']]

                 제원관리번호        자동차형식 엔진형식_x     차명_x
2538     10000600210000      EZB-75S     ZB  기아뉴복사17
2715  A0110003107913106  SET22E-DRV7   D4BH  봉고Ⅲ 운교차

In [210]:
# nad2n에서 정상 파일과 제원관리번호로 매칭되는지 여부 확인
for one in nad2n.loc[nad2n['제작사명'] == productor, ['제원관리번호', '자동차형식', '엔진형식_x', '차명_x']]['제원관리번호'].unique():
    if norm.loc[norm['제원관리번호'] == one, ['자동차형식', '엔진형식_x', '차명_x']].shape[0] != 0:
        print(one)

In [211]:
# nad2n에서 정상 파일과 자동차형식 매칭되는지 여부 확인
for one in nad2n.loc[nad2n['제작사명'] == productor, ['제원관리번호', '자동차형식', '엔진형식_x', '차명_x']]['자동차형식'].unique():
    if norm.loc[norm['자동차형식'] == one, ['자동차형식', '엔진형식_x', '차명_x']].shape[0] != 0:
        print(one)

In [212]:
# nad2n에서 정상 파일과 엔진형식 매칭되는지 여부 확인
for one in nad2n.loc[nad2n['제작사명'] == productor, ['제원관리번호', '자동차형식', '엔진형식_x', '차명_x']]['엔진형식_x'].unique():
    if norm.loc[norm['엔진형식_x'] == one, ['자동차형식', '엔진형식_x', '차명_x']].shape[0] != 0:
        print(one)

In [213]:
productor = '타타대우상용차(주)'

In [214]:
nad2n.loc[nad2n['제작사명'] == productor, ['제원관리번호', '자동차형식', '엔진형식_x', '차명_x']]

                 제원관리번호   자동차형식     엔진형식_x          차명_x
2710  A0310007200663306  C3AHF2  F4AE0681B    대우5톤장축카고트럭
2716  A0310007000643306  F7CJF5       DL08  대우9.5톤장축카고트럭
2717  A0310007001823307  F7CKF5       DL08  대우9.5톤장축카고트럭

In [215]:
# nad2n에서 정상 파일과 제원관리번호로 매칭되는지 여부 확인
for one in nad2n.loc[nad2n['제작사명'] == productor, ['제원관리번호', '자동차형식', '엔진형식_x', '차명_x']]['제원관리번호'].unique():
    if norm.loc[norm['제원관리번호'] == one, ['자동차형식', '엔진형식_x', '차명_x']].shape[0] != 0:
        print(one)

In [216]:
# nad2n에서 정상 파일과 자동차형식 매칭되는지 여부 확인
for one in nad2n.loc[nad2n['제작사명'] == productor, ['제원관리번호', '자동차형식', '엔진형식_x', '차명_x']]['자동차형식'].unique():
    if norm.loc[norm['자동차형식'] == one, ['자동차형식', '엔진형식_x', '차명_x']].shape[0] != 0:
        print(one)

In [217]:
# nad2n에서 정상 파일과 엔진형식 매칭되는지 여부 확인
for one in nad2n.loc[nad2n['제작사명'] == productor, ['제원관리번호', '자동차형식', '엔진형식_x', '차명_x']]['엔진형식_x'].unique():
    if norm.loc[norm['엔진형식_x'] == one, ['자동차형식', '엔진형식_x', '차명_x']].shape[0] != 0:
        print(one)

DL08

In [218]:
nad2n.loc[(nad2n['제작사명'] == productor) & (nad2n['엔진형식_x'] == 'DL08'), ['제원관리번호', '자동차형식', '엔진형식_x', '차명_x']].shape

(2, 4)

## 제작사 이상 차량 배인번호 확인

In [276]:
norm.columns

Index(['차대번호', '차량번호_x', '제원관리번호', '차종_원본', '용도', '최초등록일', '연식', '제작일자',
       '검사유효일', '배출가스인증번호', '등급', '차명_x', '차종분류', '차종유형', '자동차형식', '제작사명',
       '연료', '엔진형식_x', '총중량', '적재중량', '엔진출력', '배기량', '법정동코드', '시도명', '시군구명',
       '소유자구분', '말소여부', '일치유무', '사용연료', '주행거리', '차명_y', '차량번호_y', '차종', '차량연식',
       '엔진형식_y', '검사방법', '검사일자', '검사종류', '검사판정시각', '검사판정', '산소값', '이산화탄소값',
       '무부하매연판정1', '무부하매연판정2', '무부하매연판정3', '무부하매연판정4', '무부하매연판정5', '무부하매연판정6',
       '무부하매연허용치1', '무부하매연허용치2', '무부하매연허용치3', '무부하매연허용치4', '무부하매연허용치5',
       '무부하매연허용치6', '무부하매연측정치1', '무부하매연측정치2', '무부하매연측정치3', '무부하매연측정치4',
       '무부하매연측정치5', '무부하매연측정치6', '정기정밀', 'vin10', 'vin_year', 'DPF유무',
       '배인번호_수정', '제작사확인_DPF유무', '확인유무', '비고'],
      dtype='object')

In [376]:
norm.loc[norm['차량번호_x'] == '97머1186', ['차량번호_x', '배출가스인증번호', '배인번호_수정', '차명_x', '배기량']]

Empty DataFrame
Columns: [차량번호_x, 배출가스인증번호, 배인번호_수정, 차명_x, 배기량]
Index: []

In [377]:
weird.loc[weird['차량번호_x'] == '97머1186', ['차량번호_x', '배출가스인증번호', '배인번호_수정', '차명_x', '배기량', '제작사명']]

       차량번호_x      배출가스인증번호       배인번호_수정       차명_x   배기량         제작사명
4007  97머1186  7MY-HD-24-31  7MY-HD-24-31  부커셰링노면청소차  9960  부커셰링코리아 (주)

In [324]:
weird.loc[weird['제작사명'] == '한불모터스(주)', ['차량번호_x', '배출가스인증번호', '배인번호_수정', '차명_x', '배기량', '제작사명']]

    차량번호_x      배출가스인증번호       배인번호_수정                 차명_x   배기량      제작사명
0  49서0454  5MY-HD-24-59  5MY-HD-24-59  푸조 407SW HDi FAP A6  1997  한불모터스(주)
1  18고1834  5MY-HD-24-59  5MY-HD-24-59  푸조 407SW HDi FAP A6  1997  한불모터스(주)
2  48무1069  5MY-HD-24-59  5MY-HD-24-59  푸조 407SW HDi FAP A6  1997  한불모터스(주)
3  08가7994  5MY-HD-24-59  5MY-HD-24-59  푸조 407SW HDi FAP A6  1997  한불모터스(주)
4  11더6069  5MY-HD-24-59  5MY-HD-24-59  푸조 407SW HDi FAP A6  1997  한불모터스(주)
5  39거7049  5MY-HD-24-59  5MY-HD-24-59  푸조 407SW HDi FAP A6  1997  한불모터스(주)
6  17우0145  5MY-HD-24-59  5MY-HD-24-59  푸조 407SW HDi FAP A6  1997  한불모터스(주)
7  43마3375  5MY-HD-24-59  5MY-HD-24-59  푸조 407SW HDi FAP A6  1997  한불모터스(주)

In [299]:
norm.loc[(norm['배출가스인증번호'] == '7MY-KM-14-63') & (norm['차명_x'] == '짚 랭글러'), ['차량번호_x', '배출가스인증번호', '배인번호_수정', '차명_x']]

Empty DataFrame
Columns: [차량번호_x, 배출가스인증번호, 배인번호_수정, 차명_x]
Index: []

In [300]:
weird.loc[(weird['배출가스인증번호'] == '7MY-KM-14-63') & (weird['차명_x'] == '짚 랭글러'), ['차량번호_x', '배출가스인증번호', '배인번호_수정', '차명_x']]

       차량번호_x      배출가스인증번호       배인번호_수정   차명_x
4117  67너1717  7MY-KM-14-63  7MY-KM-14-63  짚 랭글러
4118  38고9685  7MY-KM-14-63  7MY-KM-14-63  짚 랭글러
4119  58부2620  7MY-KM-14-63  7MY-KM-14-63  짚 랭글러
4120  28가2625  7MY-KM-14-63  7MY-KM-14-63  짚 랭글러
4121  13어3961  7MY-KM-14-63  7MY-KM-14-63  짚 랭글러
...       ...           ...           ...    ...
4238  37너6849  7MY-KM-14-63  7MY-KM-14-63  짚 랭글러
4239  35로2361  7MY-KM-14-63  7MY-KM-14-63  짚 랭글러
4240  27소2023  7MY-KM-14-63  7MY-KM-14-63  짚 랭글러
4241  26누9305  7MY-KM-14-63  7MY-KM-14-63  짚 랭글러
4242  37버3066  7MY-KM-14-63  7MY-KM-14-63  짚 랭글러

[124 rows x 4 columns]

In [283]:
nad1y.loc[nad1y['차량번호_x'] == '42오6988', ['배출가스인증번호', '배인번호_수정']]

Empty DataFrame
Columns: [배출가스인증번호, 배인번호_수정]
Index: []

In [281]:
nad2y.loc[nad2y['차량번호_x'] == '48누2889', ['배출가스인증번호', '배인번호_수정']]

Empty DataFrame
Columns: [배출가스인증번호, 배인번호_수정]
Index: []

# CODE End