# Library

In [1]:
import pandas as pd
import os
from datetime import datetime
import numpy as np
from tqdm import tqdm
from glob import glob

# fold path

In [2]:
# # backup
# fold = 'D:/data/big2/BD1_4등급_데이터_점검1/emis'
# norm_fold = 'D:/data/big2/BD1_4등급_데이터_점검1/emis/norm'
# total_fold = 'D:/data/big2/BD1_4등급_데이터_점검1/emis/norm/total'
# error_fold = 'D:/data/big2/BD1_4등급_데이터_점검1/emis/error'
# total_error_fold = 'D:/data/big2/BD1_4등급_데이터_점검1/emis/error/total'
# weird_fold = 'D:/data/big2/BD1_4등급_데이터_점검1/emis/weird'
# nan_fold = 'D:/data/big2/BD1_4등급_데이터_점검1/emis/nan'
# nad_fold = 'D:/data/big2/BD1_4등급_데이터_점검1/emis/nan/nad'

In [4]:
# update2
fold = 'D:/data/big2/BD1_4등급_데이터_점검1/result_emis_update2'
norm_fold = 'D:/data/big2/BD1_4등급_데이터_점검1/result_emis_update2/norm'
total_norm_fold = 'D:/data/big2/BD1_4등급_데이터_점검1/result_emis_update2/norm/total'
error_fold = 'D:/data/big2/BD1_4등급_데이터_점검1/result_emis_update2/error'
total_error_fold = 'D:/data/big2/BD1_4등급_데이터_점검1/result_emis_update2/error/total'
weird_fold = 'D:/data/big2/BD1_4등급_데이터_점검1/result_emis_update2/weird'
total_weird_fold = 'D:/data/big2/BD1_4등급_데이터_점검1/result_emis_update2/weird/total'
nan_fold = 'D:/data/big2/BD1_4등급_데이터_점검1/result_emis_update2/nan'
total_nan_fold = 'D:/data/big2/BD1_4등급_데이터_점검1/result_emis_update2/nan/total'

# File Load
- 정상 배인번호 파일
- 비정상 배인번호 파일
- 제작사 이상 파일

## 정상 배인번호 파일

In [5]:
# about 41s
norm = pd.DataFrame()
for addr in tqdm(glob(os.path.join(norm_fold, '*.csv'))):
    temp = pd.read_csv(addr, encoding='cp949', low_memory=False)
    norm = pd.concat([norm, temp], ignore_index=True)

100%|██████████| 134/134 [00:39<00:00,  3.41it/s]

In [6]:
norm.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1140492 entries, 0 to 1140491
Data columns (total 69 columns):
 #   Column     Non-Null Count    Dtype
---  ------     --------------    -----
 0   차대번호       1140492 non-null  object
 1   차량번호_x     1140492 non-null  object
 2   제원관리번호     1140492 non-null  object
 3   차종_원본      1140492 non-null  object
 4   용도         1140492 non-null  object
 5   최초등록일      1140492 non-null  int64
 6   연식         1140492 non-null  int64
 7   제작일자       1140491 non-null  float64
 8   검사유효일      1140490 non-null  float64
 9   배출가스인증번호   1140492 non-null  object
 10  등급         1140492 non-null  int64
 11  차명_x       1140492 non-null  object
 12  차종분류       1140492 non-null  object
 13  차종유형       1140492 non-null  object
 14  자동차형식      1140492 non-null  object
 15  제작사명       1140492 non-null  object
 16  연료         1140492 non-null  object
 17  엔진형식_x     1140492 non-null  object
 18  총중량        1140492 non-null  float64
 19  적재중량       1140294 non-null  float64
 20  엔진출력       1140491 non-null  float64
 21  배기량        1140492 non-null  float64
 22  법정동코드      1140492 non-null  int64
 23  시도명        1140492 non-null  object
 24  시군구명       1140492 non-null  object
 25  소유자구분      1140492 non-null  object
 26  말소여부       1140492 non-null  object
 27  일치유무       1140492 non-null  object
 28  사용연료       1118605 non-null  object
 29  주행거리       1118496 non-null  float64
 30  차명_y       1118605 non-null  object
 31  차량번호_y     1118605 non-null  object
 32  차종         1118605 non-null  object
 33  차량연식       1118605 non-null  float64
 34  엔진형식_y     1118597 non-null  object
 35  검사방법       1118605 non-null  object
 36  검사일자       1118605 non-null  float64
 37  검사종류       1118605 non-null  object
 38  검사판정시각     1109996 non-null  object
 39  검사판정       1118605 non-null  object
 40  산소값        807925 non-null   float64
 41  이산화탄소값     807925 non-null   float64
 42  무부하매연판정1   1109992 non-null  object
 43  무부하매연판정2   40959 non-null    object
 44  무부하매연판정3   40068 non-null    object
 45  무부하매연판정4   40066 non-null    object
 46  무부하매연판정5   40066 non-null    object
 47  무부하매연판정6   41 non-null       object
 48  무부하매연허용치1  1109992 non-null  float64
 49  무부하매연허용치2  327677 non-null   float64
 50  무부하매연허용치3  327676 non-null   float64
 51  무부하매연허용치4  327674 non-null   float64
 52  무부하매연허용치5  327674 non-null   float64
 53  무부하매연허용치6  298259 non-null   float64
 54  무부하매연측정치1  1109996 non-null  float64
 55  무부하매연측정치2  361013 non-null   float64
 56  무부하매연측정치3  327678 non-null   float64
 57  무부하매연측정치4  327676 non-null   float64
 58  무부하매연측정치5  327676 non-null   float64
 59  무부하매연측정치6  298259 non-null   float64
 60  정기정밀       1118605 non-null  object
 61  vin10      1140492 non-null  object
 62  vin_year   1140489 non-null  float64
 63  DPF유무      1140492 non-null  object
 64  배인번호_수정    1140492 non-null  object
 65  등급_수정      1140492 non-null  object
 66  DPF유무_수정   1140303 non-null  object
 67  확인유무       1140303 non-null  object
 68  비고         0 non-null        float64
dtypes: float64(25), int64(4), object(40)
memory usage: 600.4+ MB

In [7]:
norm['등급_수정'] = norm['등급_수정'].astype('str')

## 비정상 배인번호 파일

In [8]:
error = pd.DataFrame()
for addr in tqdm(glob(os.path.join(error_fold, '*.csv'))):
    temp = pd.read_csv(addr, encoding='cp949', low_memory=False)
    error = pd.concat([error, temp], ignore_index=True)

100%|██████████| 71/71 [00:00<00:00, 115.61it/s]

In [9]:
error.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1309 entries, 0 to 1308
Data columns (total 69 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   차대번호       1309 non-null   object
 1   차량번호_x     1309 non-null   object
 2   제원관리번호     1309 non-null   object
 3   차종_원본      1309 non-null   object
 4   용도         1309 non-null   object
 5   최초등록일      1309 non-null   int64
 6   연식         1309 non-null   int64
 7   제작일자       1309 non-null   float64
 8   검사유효일      1309 non-null   float64
 9   배출가스인증번호   1309 non-null   object
 10  등급         1309 non-null   int64
 11  차명_x       1309 non-null   object
 12  차종분류       1309 non-null   object
 13  차종유형       1309 non-null   object
 14  자동차형식      1309 non-null   object
 15  제작사명       1304 non-null   object
 16  연료         1309 non-null   object
 17  엔진형식_x     1309 non-null   object
 18  총중량        1309 non-null   float64
 19  적재중량       1309 non-null   float64
 20  엔진출력       1309 non-null   float64
 21  배기량        1309 non-null   float64
 22  법정동코드      1309 non-null   int64
 23  시도명        1309 non-null   object
 24  시군구명       1309 non-null   object
 25  소유자구분      1309 non-null   object
 26  말소여부       1309 non-null   object
 27  일치유무       1309 non-null   object
 28  사용연료       1223 non-null   object
 29  주행거리       1223 non-null   float64
 30  차명_y       1223 non-null   object
 31  차량번호_y     1223 non-null   object
 32  차종         1223 non-null   object
 33  차량연식       1223 non-null   float64
 34  엔진형식_y     1223 non-null   object
 35  검사방법       1223 non-null   object
 36  검사일자       1223 non-null   float64
 37  검사종류       1223 non-null   object
 38  검사판정시각     1212 non-null   object
 39  검사판정       1223 non-null   object
 40  산소값        785 non-null    float64
 41  이산화탄소값     785 non-null    float64
 42  무부하매연판정1   1212 non-null   object
 43  무부하매연판정2   685 non-null    object
 44  무부하매연판정3   685 non-null    object
 45  무부하매연판정4   685 non-null    object
 46  무부하매연판정5   685 non-null    object
 47  무부하매연판정6   0 non-null      float64
 48  무부하매연허용치1  1212 non-null   float64
 49  무부하매연허용치2  747 non-null    float64
 50  무부하매연허용치3  747 non-null    float64
 51  무부하매연허용치4  747 non-null    float64
 52  무부하매연허용치5  747 non-null    float64
 53  무부하매연허용치6  252 non-null    float64
 54  무부하매연측정치1  1212 non-null   float64
 55  무부하매연측정치2  768 non-null    float64
 56  무부하매연측정치3  747 non-null    float64
 57  무부하매연측정치4  747 non-null    float64
 58  무부하매연측정치5  747 non-null    float64
 59  무부하매연측정치6  252 non-null    float64
 60  정기정밀       1223 non-null   object
 61  vin10      1309 non-null   int64
 62  vin_year   1309 non-null   float64
 63  DPF유무      1309 non-null   object
 64  배인번호_수정    1309 non-null   object
 65  등급_수정      1309 non-null   int64
 66  DPF유무_수정   2 non-null      object
 67  확인유무       2 non-null      object
 68  비고         0 non-null      float64
dtypes: float64(26), int64(6), object(37)
memory usage: 705.8+ KB

## 제작사 이상 파일

In [11]:
glob(os.path.join(weird_fold, '*.csv'))

['D:/data/big2/BD1_4등급_데이터_점검1/result_emis_update2/weird\\weird.csv']

In [14]:
weird = pd.DataFrame()
for addr in tqdm(glob(os.path.join(weird_fold, '*.csv'))):
    temp = pd.read_csv(addr, encoding='cp949')
    weird = pd.concat([weird, temp], ignore_index=True)

100%|██████████| 1/1 [00:00<00:00, 14.49it/s]

In [15]:
weird.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4862 entries, 0 to 4861
Data columns (total 69 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   차대번호       4862 non-null   object
 1   차량번호_x     4862 non-null   object
 2   제원관리번호     4862 non-null   object
 3   차종_원본      4862 non-null   object
 4   용도         4862 non-null   object
 5   최초등록일      4862 non-null   int64
 6   연식         4862 non-null   int64
 7   제작일자       4862 non-null   float64
 8   검사유효일      4862 non-null   float64
 9   배출가스인증번호   4862 non-null   object
 10  등급         4862 non-null   int64
 11  차명_x       4862 non-null   object
 12  차종분류       4862 non-null   object
 13  차종유형       4862 non-null   object
 14  자동차형식      4862 non-null   object
 15  제작사명       4850 non-null   object
 16  연료         4862 non-null   object
 17  엔진형식_x     4862 non-null   object
 18  총중량        4862 non-null   float64
 19  적재중량       4857 non-null   float64
 20  엔진출력       4862 non-null   float64
 21  배기량        4862 non-null   float64
 22  법정동코드      4862 non-null   int64
 23  시도명        4862 non-null   object
 24  시군구명       4862 non-null   object
 25  소유자구분      4862 non-null   object
 26  말소여부       4862 non-null   object
 27  일치유무       4862 non-null   object
 28  사용연료       4576 non-null   object
 29  주행거리       4574 non-null   float64
 30  차명_y       4576 non-null   object
 31  차량번호_y     4576 non-null   object
 32  차종         4576 non-null   object
 33  차량연식       4576 non-null   float64
 34  엔진형식_y     4574 non-null   object
 35  검사방법       4576 non-null   object
 36  검사일자       4576 non-null   float64
 37  검사종류       4576 non-null   object
 38  검사판정시각     4551 non-null   object
 39  검사판정       4576 non-null   object
 40  산소값        3096 non-null   float64
 41  이산화탄소값     3096 non-null   float64
 42  무부하매연판정1   4551 non-null   object
 43  무부하매연판정2   2471 non-null   object
 44  무부하매연판정3   2471 non-null   object
 45  무부하매연판정4   2471 non-null   object
 46  무부하매연판정5   2471 non-null   object
 47  무부하매연판정6   2 non-null      object
 48  무부하매연허용치1  4551 non-null   float64
 49  무부하매연허용치2  2748 non-null   float64
 50  무부하매연허용치3  2748 non-null   float64
 51  무부하매연허용치4  2748 non-null   float64
 52  무부하매연허용치5  2748 non-null   float64
 53  무부하매연허용치6  1022 non-null   float64
 54  무부하매연측정치1  4551 non-null   float64
 55  무부하매연측정치2  2802 non-null   float64
 56  무부하매연측정치3  2748 non-null   float64
 57  무부하매연측정치4  2748 non-null   float64
 58  무부하매연측정치5  2748 non-null   float64
 59  무부하매연측정치6  1022 non-null   float64
 60  정기정밀       4576 non-null   object
 61  vin10      4862 non-null   object
 62  vin_year   4862 non-null   float64
 63  DPF유무      4862 non-null   object
 64  배인번호_수정    4862 non-null   object
 65  등급_수정      4862 non-null   int64
 66  DPF유무_수정   16 non-null     object
 67  확인유무       16 non-null     object
 68  비고         0 non-null      float64
dtypes: float64(25), int64(5), object(39)
memory usage: 2.6+ MB

In [16]:
weird['배인번호_수정'].isnull().sum()

0

## 미부여

In [17]:
nad = pd.DataFrame()
for addr in tqdm(glob(os.path.join(nan_fold, '*.csv'))):
    temp = pd.read_csv(addr, encoding='cp949', low_memory=False)
    nad = pd.concat([nad, temp], ignore_index=True)

100%|██████████| 1/1 [00:00<00:00, 11.32it/s]

In [18]:
nad.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7150 entries, 0 to 7149
Data columns (total 69 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   차대번호       7150 non-null   object
 1   차량번호_x     7150 non-null   object
 2   제원관리번호     7150 non-null   object
 3   차종_원본      7150 non-null   object
 4   용도         7150 non-null   object
 5   최초등록일      7150 non-null   int64
 6   연식         7150 non-null   int64
 7   제작일자       7147 non-null   float64
 8   검사유효일      7149 non-null   float64
 9   배출가스인증번호   0 non-null      float64
 10  등급         7150 non-null   int64
 11  차명_x       7150 non-null   object
 12  차종분류       7150 non-null   object
 13  차종유형       7150 non-null   object
 14  자동차형식      7149 non-null   object
 15  제작사명       7149 non-null   object
 16  연료         7150 non-null   object
 17  엔진형식_x     7150 non-null   object
 18  총중량        7150 non-null   float64
 19  적재중량       7129 non-null   float64
 20  엔진출력       7149 non-null   float64
 21  배기량        7150 non-null   float64
 22  법정동코드      7150 non-null   int64
 23  시도명        7150 non-null   object
 24  시군구명       7150 non-null   object
 25  소유자구분      7150 non-null   object
 26  말소여부       7150 non-null   object
 27  일치유무       7150 non-null   object
 28  사용연료       6772 non-null   object
 29  주행거리       6770 non-null   float64
 30  차명_y       6772 non-null   object
 31  차량번호_y     6772 non-null   object
 32  차종         6772 non-null   object
 33  차량연식       6772 non-null   float64
 34  엔진형식_y     6771 non-null   object
 35  검사방법       6772 non-null   object
 36  검사일자       6772 non-null   float64
 37  검사종류       6772 non-null   object
 38  검사판정시각     6742 non-null   object
 39  검사판정       6772 non-null   object
 40  산소값        5493 non-null   float64
 41  이산화탄소값     5493 non-null   float64
 42  무부하매연판정1   6742 non-null   object
 43  무부하매연판정2   320 non-null    object
 44  무부하매연판정3   310 non-null    object
 45  무부하매연판정4   310 non-null    object
 46  무부하매연판정5   310 non-null    object
 47  무부하매연판정6   3 non-null      object
 48  무부하매연허용치1  6742 non-null   float64
 49  무부하매연허용치2  2440 non-null   float64
 50  무부하매연허용치3  2440 non-null   float64
 51  무부하매연허용치4  2440 non-null   float64
 52  무부하매연허용치5  2440 non-null   float64
 53  무부하매연허용치6  2181 non-null   float64
 54  무부하매연측정치1  6742 non-null   float64
 55  무부하매연측정치2  3090 non-null   float64
 56  무부하매연측정치3  2440 non-null   float64
 57  무부하매연측정치4  2440 non-null   float64
 58  무부하매연측정치5  2440 non-null   float64
 59  무부하매연측정치6  2181 non-null   float64
 60  정기정밀       6772 non-null   object
 61  vin10      7150 non-null   object
 62  vin_year   7150 non-null   float64
 63  DPF유무      7150 non-null   object
 64  배인번호_수정    0 non-null      float64
 65  등급_수정      7150 non-null   int64
 66  DPF유무_수정   0 non-null      float64
 67  확인유무       0 non-null      float64
 68  비고         0 non-null      float64
dtypes: float64(29), int64(5), object(35)
memory usage: 3.8+ MB

In [19]:
norm.shape, error.shape, weird.shape, nad.shape

((1140492, 69), (1309, 69), (4862, 69), (7150, 69))

In [20]:
# 1153813
norm.shape[0] + error.shape[0] + weird.shape[0] + nad.shape[0]

1153813

## 미기입 확인

In [176]:
check_nan_car = pd.read_excel(os.path.join(fold, '[BD1] 8. 배출가스 인증번호 미기입 차량(23.03.16)_2.xlsx'))
check_nan_car.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7150 entries, 0 to 7149
Data columns (total 30 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   차대번호      7150 non-null   object
 1   차량번호      7150 non-null   object
 2   제원관리번호    7150 non-null   object
 3   차종        7150 non-null   object
 4   용도        7150 non-null   object
 5   최초등록일     7150 non-null   int64
 6   연식        7150 non-null   int64
 7   제작일자      7147 non-null   float64
 8   검사유효일     7149 non-null   float64
 9   배출가스인증번호  0 non-null      float64
 10  배인번호_수정   6525 non-null   object
 11  등급        7150 non-null   int64
 12  등급_수정     7150 non-null   int64
 13  차명        7150 non-null   object
 14  차종분류      7150 non-null   object
 15  차종유형      7150 non-null   object
 16  자동차형식     7149 non-null   object
 17  제작사명      7149 non-null   object
 18  연료        7150 non-null   object
 19  엔진형식      7150 non-null   object
 20  총중량       7150 non-null   int64
 21  적재중량      7129 non-null   float64
 22  엔진출력      7149 non-null   float64
 23  배기량       7150 non-null   int64
 24  법정동코드     7150 non-null   int64
 25  시도명       7150 non-null   object
 26  시군구명      7150 non-null   object
 27  소유자구분     7150 non-null   object
 28  말소여부      7150 non-null   object
 29  일치유무      7150 non-null   object
dtypes: float64(5), int64(7), object(18)
memory usage: 1.6+ MB

# 정제

## 병합 파일 출력

In [21]:
select_col = ['차대번호', '차량번호_x', '제원관리번호', '차종_원본', '용도', '최초등록일', '연식', '제작일자',
       '검사유효일', '배출가스인증번호', '배인번호_수정', '등급', '등급_수정', '차명_x', '차종분류', '차종유형', '자동차형식', '제작사명',
       '연료', '엔진형식_x', '총중량', '적재중량', '엔진출력', '배기량', '법정동코드', '시도명', '시군구명',
       '소유자구분', '말소여부', '일치유무']

### 정상 파일

In [22]:
norm = norm[select_col]
norm = norm.rename(columns={'차량번호_x':'차량번호', '차명_x':'차명', '엔진형식_x':'엔진형식', '차종_원본':'차종'})
norm.columns

Index(['차대번호', '차량번호', '제원관리번호', '차종', '용도', '최초등록일', '연식', '제작일자', '검사유효일',
       '배출가스인증번호', '배인번호_수정', '등급', '등급_수정', '차명', '차종분류', '차종유형', '자동차형식',
       '제작사명', '연료', '엔진형식', '총중량', '적재중량', '엔진출력', '배기량', '법정동코드', '시도명',
       '시군구명', '소유자구분', '말소여부', '일치유무'],
      dtype='object')

In [193]:
# about 33s
norm.to_csv(os.path.join(total_norm_fold, 'concat_norm.csv'), encoding='cp949', index=False)

### 비정상 파일

In [24]:
error = error[select_col]
error = error.rename(columns={'차량번호_x':'차량번호', '차명_x':'차명', '엔진형식_x':'엔진형식', '차종_원본':'차종'})
error.columns

Index(['차대번호', '차량번호', '제원관리번호', '차종', '용도', '최초등록일', '연식', '제작일자', '검사유효일',
       '배출가스인증번호', '배인번호_수정', '등급', '등급_수정', '차명', '차종분류', '차종유형', '자동차형식',
       '제작사명', '연료', '엔진형식', '총중량', '적재중량', '엔진출력', '배기량', '법정동코드', '시도명',
       '시군구명', '소유자구분', '말소여부', '일치유무'],
      dtype='object')

In [194]:
error.to_csv(os.path.join(total_error_fold, 'concat_error.csv'), index=False, encoding='cp949')

### 제작사 이상 파일

In [26]:
weird = weird[select_col]
weird = weird.rename(columns={'차량번호_x':'차량번호', '차명_x':'차명', '엔진형식_x':'엔진형식', '차종_원본':'차종'})
weird.columns

Index(['차대번호', '차량번호', '제원관리번호', '차종', '용도', '최초등록일', '연식', '제작일자', '검사유효일',
       '배출가스인증번호', '배인번호_수정', '등급', '등급_수정', '차명', '차종분류', '차종유형', '자동차형식',
       '제작사명', '연료', '엔진형식', '총중량', '적재중량', '엔진출력', '배기량', '법정동코드', '시도명',
       '시군구명', '소유자구분', '말소여부', '일치유무'],
      dtype='object')

In [195]:
weird.to_csv(os.path.join(total_weird_fold, 'concat_weird.csv'), index=False, encoding='cp949')

### 미부여 파일

In [28]:
nad = nad[select_col]
nad = nad.rename(columns={'차량번호_x':'차량번호', '차명_x':'차명', '엔진형식_x':'엔진형식', '차종_원본':'차종'})
nad.columns

Index(['차대번호', '차량번호', '제원관리번호', '차종', '용도', '최초등록일', '연식', '제작일자', '검사유효일',
       '배출가스인증번호', '배인번호_수정', '등급', '등급_수정', '차명', '차종분류', '차종유형', '자동차형식',
       '제작사명', '연료', '엔진형식', '총중량', '적재중량', '엔진출력', '배기량', '법정동코드', '시도명',
       '시군구명', '소유자구분', '말소여부', '일치유무'],
      dtype='object')

In [196]:
nad.to_csv(os.path.join(total_nan_fold, 'concat_nad.csv'), index=False, encoding='cp949')

## 미기입 확인
- 필요한 부분만 추출

In [177]:
sliced_check_nan_car = check_nan_car.loc[check_nan_car['배인번호_수정'].notnull() == True].reset_index(drop=True)
sliced_check_nan_car.shape

(6525, 30)

# 매칭

## 미부여

### 1\. 유로4인증대장 매칭

In [30]:
# 유로4 / result파일
# 제작사명 : 크라이슬러 / 에프씨에이코리아(주)
# 차명으로 매칭
# {'300C' : '6MY-DK-14-1', '짚 커맨더' : '6MY-DK-14-2', '니트로' : '7MY-DK-14-4', '짚 니트로' : '7MY-DK-14-4', '짚 랭글러' : '7MY-DK-14-5', '짚그랜드체로키' : '8MY-DK-14-01, '짚 그랜드 체로키' : '8MY-DK-14-01', '그랜드 보이저' : '8MY-DK-14-02', '세브링' : '8MY-DK-14-06'}

In [31]:
# 유로4 / result파일
# 제작사명 : 볼보 / (주)볼보자동차코리아
# 차명으로 매칭
# {'볼보 S60D5' : '5MY-PA-14-17', '볼보 S80D5' : '6MY-PA-14-4', '볼보 XC70D5' : '8MY-PA-14-03', '볼보 XC60D5' : '9MY-PA-13-01'}

In [32]:
# 유로4 / result파일
# 제작사명 : 랜드로버 / (주)재규어랜드로버코리아
# 차명으로 매칭
# {'레인지로버 스포츠 TDV6' : '7MY-PA-14-2'}

In [33]:
# 유로4 / result파일
# 제작사명 : 재규어 / (주)재규어랜드로버코리아
# 차명으로 매칭
# {'재규어 XJ 2.7D' : '7MY-PA-14-7', '재규어 X-TYPE 2.2D' : '8MY-PA-14-04', '재규어 XF 2.7D' : '8MY-PA-14-05'}

In [34]:
# 유로4 / result파일
# 제작사명 : 재규어 / (주)볼보자동차코리아
# 차명으로 매칭
# {'재규어 XJ 2.7D' : '7MY-PA-14-7', '재규어 X-TYPE 2.2D' : '8MY-PA-14-04', '재규어 XF 2.7D' : '8MY-PA-14-05'}

In [35]:
# 유로4 / result파일
# 제작사명 : 포드 / 포드세일즈서비스코리아(유)
# 차명으로 매칭
# {'에스맥스' : '8MY-FK-14-1', '몬데오' : '8MY-FK-14-2'}

In [36]:
# 유로4 / result파일
# 제작사명 : 푸조 / 한불모터스(주)
# 배기량
# {1997 : '5MY-HB-14-1', 2721 : '5MY-HB-14-4', 1560 : '8MY-HB-14-1'}

In [38]:
# 2129, 5021 (y, n)
productor = '에프씨에이코리아(주)'
dict1 = {'300C' : '6MY-DK-14-1', '짚 커맨더' : '6MY-DK-14-2', '니트로' : '7MY-DK-14-4', '짚 니트로' : '7MY-DK-14-4', '짚 랭글러' : '7MY-DK-14-5', 
         '짚그랜드체로키' : '8MY-DK-14-01', '짚 그랜드 체로키' : '8MY-DK-14-01', '그랜드 보이저' : '8MY-DK-14-02', '세브링' : '8MY-DK-14-06'}
for k, v in dict1.items():
    nad.loc[(nad['제작사명'] == productor) & (nad['차명'] == k), '배인번호_수정'] = v

In [40]:
# 3265, 3885
productor = '(주)볼보자동차코리아'
dict2 = {'볼보 S60D5' : '5MY-PA-14-17', '볼보 S80D5' : '6MY-PA-14-4', '볼보 XC70D5' : '8MY-PA-14-03', '볼보 XC60D5' : '9MY-PA-13-01'}
for k, v in dict2.items():
    nad.loc[(nad['제작사명'] == productor) & (nad['차명'] == k), '배인번호_수정'] = v

In [42]:
# 3268, 3882
productor = '(주)재규어랜드로버코리아'
dict3 = {'레인지로버 스포츠 TDV6' : '7MY-PA-14-2'}
for k, v in dict3.items():
    nad.loc[(nad['제작사명'] == productor) & (nad['차명'] == k), '배인번호_수정'] = v

In [44]:
# 3539, 3611
productor = '(주)재규어랜드로버코리아'
dict4 = {'재규어 XJ 2.7D' : '7MY-PA-14-7', '재규어 X-TYPE 2.2D' : '8MY-PA-14-04', '재규어 XF 2.7D' : '8MY-PA-14-05'}
for k, v in dict4.items():
    nad.loc[(nad['제작사명'] == productor) & (nad['차명'] == k), '배인번호_수정'] = v

In [46]:
# 3637, 3513
productor = '(주)볼보자동차코리아'
dict5 = {'재규어 XJ 2.7D' : '7MY-PA-14-7', '재규어 X-TYPE 2.2D' : '8MY-PA-14-04', '재규어 XF 2.7D' : '8MY-PA-14-05'}
for k, v in dict5.items():
    nad.loc[(nad['제작사명'] == productor) & (nad['차명'] == k), '배인번호_수정'] = v

In [48]:
# 3736, 3414
productor = '포드세일즈서비스코리아(유)'
dict6 = {'에스맥스' : '8MY-FK-14-1', '몬데오' : '8MY-FK-14-2'}
for k, v in dict6.items():
    nad.loc[(nad['제작사명'] == productor) & (nad['차명'] == k), '배인번호_수정'] = v

In [50]:
# 6294, 856
productor = '한불모터스(주)'
dict7 = {1997 : '5MY-HB-14-1', 2721 : '5MY-HB-14-4', 1560 : '8MY-HB-14-1'}
for k, v in dict7.items():
    nad.loc[(nad['제작사명'] == productor) & (nad['배기량'] == k), '배인번호_수정'] = v

In [51]:
nad1y = nad.loc[nad['배인번호_수정'].isnull() == False].reset_index(drop=True)
nad1n = nad.loc[nad['배인번호_수정'].isnull() == True].reset_index(drop=True)
nad1y.shape, nad1n.shape

((6294, 30), (856, 30))

#### [출력] 처리된 미기입 차량1

In [52]:
nad1y.to_csv(os.path.join(total_nan_fold, 'nad1y.csv'), index=False, encoding='cp949')
nad1n.to_csv(os.path.join(total_nan_fold, 'nad1n.csv'), index=False, encoding='cp949')

### 2\. 정상 데이터와 비교1
- 동일 제번, 자동차형식, 엔진형식으로 매칭 : 5개 매칭
- 동일 자동차형식, 엔진형식으로 매칭 : 139개 매칭

In [53]:
norm.drop_duplicates(['배출가스인증번호', '제원관리번호', '자동차형식', '엔진형식']).shape

(4547, 30)

In [54]:
match_data = norm.drop_duplicates(['배출가스인증번호', '제원관리번호', '자동차형식', '엔진형식'])[['배출가스인증번호', '제원관리번호', '자동차형식', '엔진형식']].values
match_data[:3]

array([['4MY-AD-20', 2420000100031305, '4F', 'BMK'],
       ['4MY-DC-33', 'A0310006701423306', 'K9ARF5', 'DV11'],
       ['4MY-PA-06', 920000300131205, '2.0LN5DR', '204D']], dtype=object)

In [55]:
for emis, no, car, engine in tqdm(match_data):
    # nad1n.loc[(nad1n['제원관리번호'] == no) & (nad1n['자동차형식'] == car) & (nad1n['엔진형식_x'] == engine), '배출가스인증번호'] = emis
    nad1n.loc[(nad1n['자동차형식'] == str(car)) & (nad1n['엔진형식'] == str(engine)), '배인번호_수정'] = emis

100%|██████████| 4547/4547 [00:02<00:00, 1773.34it/s]

In [56]:
nad2y = nad1n.loc[nad1n['배인번호_수정'].isnull() == False].reset_index(drop=True)
nad2n = nad1n.loc[nad1n['배인번호_수정'].isnull() == True].reset_index(drop=True)
nad2y.shape, nad2n.shape

((139, 30), (717, 30))

In [57]:
nad2y['제작사명'].unique()

array(['(주)볼보자동차코리아', '비엠더블유코리아(주)', '자기인증면제차량', '볼보트럭코리아(주)',
       '르노삼성자동차(주)', '현대자동차(주)', '한국지엠주식회사', '기아자동차(주)'], dtype=object)

#### [출력] 처리된 미기입 차량2

In [58]:
nad2y.to_csv(os.path.join(total_nan_fold, 'nad2y.csv'), index=False, encoding='cp949')
nad2n.to_csv(os.path.join(total_nan_fold, 'nad2n.csv'), index=False, encoding='cp949')

### 3\. 정상 데이터와 비교2
- 차대번호 11자리까지 동일하면 동일한 등급으로 선정

In [59]:
nad2n.columns

Index(['차대번호', '차량번호', '제원관리번호', '차종', '용도', '최초등록일', '연식', '제작일자', '검사유효일',
       '배출가스인증번호', '배인번호_수정', '등급', '등급_수정', '차명', '차종분류', '차종유형', '자동차형식',
       '제작사명', '연료', '엔진형식', '총중량', '적재중량', '엔진출력', '배기량', '법정동코드', '시도명',
       '시군구명', '소유자구분', '말소여부', '일치유무'],
      dtype='object')

In [60]:
norm['차대번호'] = norm['차대번호'].astype('str')
nad2n['차대번호'] = nad2n['차대번호'].astype('str')

In [62]:
norm_vin11 = norm['차대번호'].str[:11].to_list()

In [63]:
norm_vin11[:5]

['WAUZZZ4F16N', 'WAUZZZ4F16N', 'WAUZZZ4F86N', 'WAUZZZ4F36N', 'WAUZZZ4F26N']

In [64]:
nad2n_vin11 = nad2n['차대번호'].str[:11].to_list()
nad2n_vin11[:5]

['KL3M8BNF37K', 'WJMS2NTH484', 'WJMS2NTH484', 'WJMS2NSK074', 'WJMS2NUH484']

In [65]:
idx3 = []
for i, one in tqdm(enumerate(nad2n_vin11)):
    if one in norm_vin11:
        idx3.append(i)
len(idx3)

717it [00:11, 63.25it/s]

7

In [66]:
nad2n.loc[idx3, ['차대번호', '제원관리번호', '배출가스인증번호', '배인번호_수정', '등급', '등급_수정', '제작사명', '차명', '자동차형식', '엔진형식']]

,차대번호,제원관리번호,배출가스인증번호,배인번호_수정,등급,등급_수정,제작사명,차명,자동차형식,엔진형식
6,KMFLA18KP8C027362,B3C10016600003307,NaN,NaN,4,4,한국특장기술(주),한국특장기술트럭,K4.5C2-7TD-H4.5EU,D6GA
399,KNCWF03429K377309,B3510001600014108,NaN,NaN,4,4,(주)동해기계항공,동해12M고소작업차-0801,DHS1200HM-0801,J3
436,KNCSHZ74CCK639710,B1T10003500013111,NaN,NaN,4,4,주식회사 한서정공,한서4륜구동다목적방역방제차,HS-1500KF,J3
613,KMFLA18KP8C026863,B9G10003300003307,NaN,NaN,4,4,정부쓰리축,정부5톤플러스카고트럭,JBH-5LLP,D6GA
620,KNCSHZ74CCK639187,B1T10003500013111,NaN,NaN,4,4,주식회사 한서정공,한서4륜구동다목적방역방제차,HS-1500KF,J3
715,KMFLA18KP8C031274,B1R10005100003308,NaN,NaN,4,4,신정개발특장차 주식회사,신정4㎥급진공노면총소차,RS07GMS2,D6GA
716,KMCLK18KP8C035195,A0810005209353308,NaN,NaN,4,4,현대자동차(주),메가트럭군물자수송,HD050-8MT2-LGc-A,D6GA

In [67]:
norm_vin11.index('KMCLK18KP8C')

764822

In [68]:
norm.loc[764822, ['차대번호', '배출가스인증번호', '배인번호_수정', '등급', '등급_수정']]

차대번호        KMCLK18KP8C031162
배출가스인증번호         7MY-HD-24-30
배인번호_수정          7MY-HD-24-30
등급                          4
등급_수정                       4
Name: 764822, dtype: object

In [69]:
idx3_1 = []
for i, one in tqdm(enumerate(norm_vin11)):
    if one in nad2n_vin11:
        idx3_1.append(i)
len(idx3_1)

1140492it [00:10, 113664.25it/s]

6425

### 4\. 미기입 확인 적용

In [178]:
nad2n.shape

(717, 30)

In [180]:
nad2n.columns

Index(['차대번호', '차량번호', '제원관리번호', '차종', '용도', '최초등록일', '연식', '제작일자', '검사유효일',
       '배출가스인증번호', '배인번호_수정', '등급', '등급_수정', '차명', '차종분류', '차종유형', '자동차형식',
       '제작사명', '연료', '엔진형식', '총중량', '적재중량', '엔진출력', '배기량', '법정동코드', '시도명',
       '시군구명', '소유자구분', '말소여부', '일치유무'],
      dtype='object')

In [181]:
sliced_check_nan_car.shape

(6525, 30)

In [184]:
pick_car = sliced_check_nan_car.drop_duplicates(['배인번호_수정', '등급_수정', '차명', '자동차형식', '엔진형식'])
pick_car.shape

(91, 30)

In [188]:
for m_emis, m_grade, car_name, car_form, engine_form in tqdm(pick_car[['배인번호_수정', '등급_수정', '차명', '자동차형식', '엔진형식']].values):
    nad2n.loc[(nad2n['차명'] == car_name) & (nad2n['자동차형식'] == car_form) & (nad2n['엔진형식'] == engine_form), ['배인번호_수정', '등급_수정']] = m_emis, m_grade

100%|██████████| 91/91 [00:00<00:00, 723.15it/s]

In [189]:
# (y, n) = (87, 630)
nad3y = nad2n.loc[nad2n['배인번호_수정'].isnull() == False].reset_index(drop=True)
nad3n = nad2n.loc[nad2n['배인번호_수정'].isnull() == True].reset_index(drop=True)
nad3y.shape, nad3n.shape

((87, 30), (630, 30))

In [190]:
nad3y.to_csv(os.path.join(total_nan_fold, 'nad3y.csv'), index=False, encoding='cp949')
nad3n.to_csv(os.path.join(total_nan_fold, 'nad3n.csv'), index=False, encoding='cp949')

## 제작사 이상
- 4862 -> 4715, 147 개 처리

### [출력] weird 파일

In [121]:
weird.shape

(4862, 30)

In [122]:
weird.columns

Index(['차대번호', '차량번호', '제원관리번호', '차종', '용도', '최초등록일', '연식', '제작일자', '검사유효일',
       '배출가스인증번호', '배인번호_수정', '등급', '등급_수정', '차명', '차종분류', '차종유형', '자동차형식',
       '제작사명', '연료', '엔진형식', '총중량', '적재중량', '엔진출력', '배기량', '법정동코드', '시도명',
       '시군구명', '소유자구분', '말소여부', '일치유무'],
      dtype='object')

### 1\. 유로4인증대장과 매칭

In [123]:
weird['제작사명'].unique()

array(['현대자동차(주)', '창림모아츠(주)', '(주)에이엠티코리아', '주식회사 평강비아이엠(B.I.M)',
       '(주)지엠케이', '드림특장(주)', '(주)신광테크놀러지', '제이에스이엔지', '(주)용진특장', '(주)엠뱅크',
       '수성특장(주)', '(주)세정모터스', '(주)엘위포투', nan, '(주)성진테크', '(주)밴텍캠핑카',
       '자기인증면제차량', '르노삼성자동차(주)', '(주) 삼오특장자동차', '(주) 골드밴', '(주)애드터치',
       '기아자동차(주)', '해양산업', '씨엔라인', '(주)동해기계항공', '(주) 오텍', '(주)호룡',
       '(주)사자후', '(주)무빙애드', '한아에스에스(주)', '주식회사 천하', '(주)드림티엔에스',
       '반도특장(주)', '라헬(주)', '동아특장공업사', '녹산대진특장차', '(주) 고호산업', '에스알(주)',
       '주식회사 카셈(KASEM Co.,Ltd)', '(주)다산중공업', '(주)에코카', '주식회사 유아이테크',
       '세화자동차', '(주)마노', '(주)맥스리무진', '고려에스티엠(주)', '카올넷', '에프씨에이코리아(주)',
       '쌍용자동차(주)', '비엠더블유코리아(주)', '한불모터스(주)', '(주)팔도', '(주)한국토미',
       '(주)포멕특장', '선진정공(주)', '(주)한국쓰리축', '한국특장기술(주)', '디앨 주식회사',
       '씨제이대한통운(주)', '(주)한국차체', '건민특장 주식회사', '(주)화이어텍', '한국쓰리축공업(주)',
       '정우정공 (주)', '우림특장산업', '탱크코리아(주)', '정부쓰리축', '부커셰링코리아 (주)',
       '신정개발특장차 주식회사', '엠에스특장공업(주)', '(주)화성특장', '(주)한국메리트특장',
       '(주)케이지비고려골든박스', '한빛테크원(주)', '(주)뉴텍티앤엠', '(주)광림', '(주)함코',
       '동양자동차공업(주)', '(주)알텍', '(주)수산씨에스엠', '(주)우리특장', '(주)에버다임',
       '(주)대진정공', '도원자동차공업 (주)', '(주)새한에어서스펜션', '(주) 맥써버모터스', '로쏘엠',
       '고려특장(주)', '(주)우양', '제일F.R.P산업', '(주) 에이엠특장', '해광산업사', '코리아특장',
       '한국상용트럭(주)', '(주)한성특장', '(주)화인특장', '원진(주)', '신제일정공(주)', '(주)세인이엔지',
       '영일특장(주)', '(주)동양특장', '주식회사 한서정공', '(주)삼성특장', '한신특장', '(유)삼능기계',
       '(주)방원테크', '신성엔지니어링', '(주)진우에스엠씨', '(주)태경이엔지', '원천특장공업주식회사',
       '이텍산업 주식회사', '(주)노바스코리아', '(주)가이젠캠핑카', '(주)부성특장', '(주)나노메딕스',
       '(주)수산중공업', '(주) 두성하-드텍', '(주)대양특장', '(주) 강남기공', '(주) 진화이앤씨',
       '(주)에이엔디오토모빌', '한국특장 (주)', '대지정공(주)', '삼우중공업(주)', '한국후3축', '베스텍특장',
       '(주)우성특장', '주식회사 씨엔에스티', '일성산업', '(주)서보테크', '대경특장(주)', '동아탑정비공업사',
       '카고텍코리아(주)', '광림특장차 주식회사', '형제특장 주식회사', '대흥특장정공 (주)', '유비통상(주)',
       '계백자동차(주)', '남영코리아화이어트럭(주)', '대한특장', '카써스(주)', '(유)대원오토', '(주)승신',
       '(주)삼부', '(주)미동이엔씨', '(주)뉴테크특장', '대구시소방본부'], dtype=object)

In [124]:
# 한불모터스(주)
# 비엠더블유코리아(주)
# 르노삼성자동차(주)
# 에프씨에이코리아(주)
# 기아자동차(주)
# 쌍용자동차(주)
# 현대자동차(주)

In [125]:
# 유로4 / result파일
# 제작사명 : 푸조 / 한불모터스(주)
# 배기량
# {1997 : '5MY-HB-14-1', 2721 : '5MY-HB-14-4', 1560 : '8MY-HB-14-1'}

In [126]:
# 유로4 / result파일
# 제작사명 : 크라이슬러 / 에프씨에이코리아(주)
# 차명으로 매칭
# {'300C' : '6MY-DK-14-1', '짚 커맨더' : '6MY-DK-14-2', '니트로' : '7MY-DK-14-4', '짚 니트로' : '7MY-DK-14-4', '짚 랭글러' : '7MY-DK-14-5', '짚그랜드체로키' : '8MY-DK-14-01, '짚 그랜드 체로키' : '8MY-DK-14-01', '그랜드 보이저' : '8MY-DK-14-02', '세브링' : '8MY-DK-14-06'}

In [129]:
weird['배인번호_수정'] = np.nan

In [130]:
# 8, 4854(y, n)
productor = '한불모터스(주)'
dict1 = {1997 : '5MY-HB-14-1', 2721 : '5MY-HB-14-4', 1560 : '8MY-HB-14-1'}
for k, v in dict1.items():
    weird.loc[(weird['제작사명'] == productor) & (weird['배기량'] == k), '배인번호_수정'] = v

In [132]:
# 132, 4730
productor = '에프씨에이코리아(주)'
dict2 = {'300C' : '6MY-DK-14-1', '짚 커맨더' : '6MY-DK-14-2', '니트로' : '7MY-DK-14-4', '짚 니트로' : '7MY-DK-14-4', '짚 랭글러' : '7MY-DK-14-5', 
         '짚그랜드체로키' : '8MY-DK-14-01', '짚 그랜드 체로키' : '8MY-DK-14-01', '그랜드 보이저' : '8MY-DK-14-02', '세브링' : '8MY-DK-14-06'}
for k, v in dict2.items():
    weird.loc[(weird['제작사명'] == productor) & (weird['차명'] == k), '배인번호_수정'] = v

In [133]:
weird1y = weird.loc[weird['배인번호_수정'].isnull() == False].reset_index(drop=True)
weird1n = weird.loc[weird['배인번호_수정'].isnull() == True].reset_index(drop=True)
weird1y.shape, weird1n.shape

((132, 30), (4730, 30))

In [134]:
weird.loc[weird['제작사명'] == '한불모터스(주)', ['배출가스인증번호', '배인번호_수정', '제작사명']].shape

(8, 3)

In [135]:
weird.loc[weird['제작사명'] == '에프씨에이코리아(주)', ['배출가스인증번호', '배인번호_수정', '제작사명', '차명']].shape

(127, 4)

In [136]:
weird.loc[(weird['제작사명'] == '에프씨에이코리아(주)') & (weird['차명'] == '짚 랭글러'), ['배출가스인증번호', '배인번호_수정', '제작사명', '차명']].shape

(124, 4)

In [137]:
weird['배인번호_수정'].isnull().sum()

4730

#### [출력] 처리된 제작사 이상 차량1

In [138]:
weird1y.to_csv(os.path.join(total_weird_fold, 'weird1y.csv'), index=False, encoding='cp949')
weird1n.to_csv(os.path.join(total_weird_fold, 'weird1n.csv'), index=False, encoding='cp949')

### 2\. 정상 데이터와 비교
- 총 4730
- 자형, 엔형 매칭 : 14

In [139]:
for emis, no, car, engine in tqdm(match_data):
    # weird1n.loc[(weird1n['제원관리번호'] == no) & (weird1n['자동차형식'] == car) & (weird1n['엔진형식_x'] == engine), '배인번호_수정'] = emis
    weird1n.loc[(weird1n['자동차형식'] == car) & (weird1n['엔진형식'] == engine), '배인번호_수정'] = emis

100%|██████████| 4547/4547 [00:04<00:00, 1003.07it/s]

In [140]:
weird2y = weird1n.loc[weird1n['배인번호_수정'].isnull() == False].reset_index(drop=True)
weird2n = weird1n.loc[weird1n['배인번호_수정'].isnull() == True].reset_index(drop=True)
weird2y.shape, weird2n.shape

((14, 30), (4716, 30))

#### [출력] 처리된 제작사 이상 차량2

In [141]:
weird2y.to_csv(os.path.join(total_weird_fold, 'weird2y.csv'), index=False, encoding='cp949')
weird2n.to_csv(os.path.join(total_weird_fold, 'weird2n.csv'), index=False, encoding='cp949')

### 3\. 미기입 확인 적용

In [191]:
for m_emis, m_grade, car_name, car_form, engine_form in tqdm(pick_car[['배인번호_수정', '등급_수정', '차명', '자동차형식', '엔진형식']].values):
    weird2n.loc[(weird2n['차명'] == car_name) & (weird2n['자동차형식'] == car_form) & (weird2n['엔진형식'] == engine_form), ['배인번호_수정', '등급_수정']] = m_emis, m_grade

100%|██████████| 91/91 [00:00<00:00, 476.77it/s]

In [192]:
# (y, n) = (87, 630)
weird3y = weird2n.loc[weird2n['배인번호_수정'].notnull() == True].reset_index(drop=True)
weird3n = weird2n.loc[weird2n['배인번호_수정'].isnull() == True].reset_index(drop=True)
weird3y.shape, weird3n.shape

((0, 30), (4716, 30))

### 남은 차량 중 메이저 제작사 확인
- 에프씨에이코리아(주), 기아자동차(주)

In [142]:
weird2n['제작사명'].unique()

array(['창림모아츠(주)', '(주)에이엠티코리아', '주식회사 평강비아이엠(B.I.M)', '(주)지엠케이',
       '드림특장(주)', '(주)신광테크놀러지', '제이에스이엔지', '(주)용진특장', '(주)엠뱅크', '수성특장(주)',
       '(주)세정모터스', '(주)엘위포투', nan, '(주)성진테크', '(주)밴텍캠핑카', '(주) 삼오특장자동차',
       '(주) 골드밴', '(주)애드터치', '기아자동차(주)', '해양산업', '씨엔라인', '(주)동해기계항공',
       '(주) 오텍', '(주)호룡', '(주)사자후', '(주)무빙애드', '한아에스에스(주)', '주식회사 천하',
       '(주)드림티엔에스', '반도특장(주)', '라헬(주)', '동아특장공업사', '녹산대진특장차', '(주) 고호산업',
       '에스알(주)', '주식회사 카셈(KASEM Co.,Ltd)', '(주)다산중공업', '(주)에코카',
       '주식회사 유아이테크', '세화자동차', '(주)마노', '고려에스티엠(주)', '카올넷', '쌍용자동차(주)',
       '자기인증면제차량', '(주)팔도', '(주)한국토미', '(주)포멕특장', '선진정공(주)', '(주)한국쓰리축',
       '한국특장기술(주)', '디앨 주식회사', '씨제이대한통운(주)', '(주)한국차체', '건민특장 주식회사',
       '(주)화이어텍', '한국쓰리축공업(주)', '정우정공 (주)', '우림특장산업', '탱크코리아(주)', '정부쓰리축',
       '부커셰링코리아 (주)', '신정개발특장차 주식회사', '엠에스특장공업(주)', '(주)화성특장',
       '(주)한국메리트특장', '(주)케이지비고려골든박스', '한빛테크원(주)', '(주)뉴텍티앤엠', '(주)광림',
       '(주)함코', '동양자동차공업(주)', '(주)수산씨에스엠', '(주)우리특장', '(주)에버다임',
       '(주)대진정공', '도원자동차공업 (주)', '(주)새한에어서스펜션', '(주) 맥써버모터스', '로쏘엠',
       '고려특장(주)', '(주)우양', '제일F.R.P산업', '(주) 에이엠특장', '해광산업사', '코리아특장',
       '한국상용트럭(주)', '(주)한성특장', '(주)화인특장', '원진(주)', '신제일정공(주)', '(주)세인이엔지',
       '영일특장(주)', '(주)동양특장', '주식회사 한서정공', '(주)삼성특장', '한신특장', '(유)삼능기계',
       '(주)방원테크', '신성엔지니어링', '(주)진우에스엠씨', '(주)태경이엔지', '원천특장공업주식회사',
       '이텍산업 주식회사', '(주)노바스코리아', '(주)가이젠캠핑카', '(주)부성특장', '(주)나노메딕스',
       '(주)수산중공업', '(주) 두성하-드텍', '(주)대양특장', '(주) 강남기공', '(주) 진화이앤씨',
       '(주)에이엔디오토모빌', '한국특장 (주)', '대지정공(주)', '삼우중공업(주)', '한국후3축', '베스텍특장',
       '(주)우성특장', '주식회사 씨엔에스티', '일성산업', '(주)서보테크', '대경특장(주)', '동아탑정비공업사',
       '카고텍코리아(주)', '광림특장차 주식회사', '형제특장 주식회사', '대흥특장정공 (주)', '유비통상(주)',
       '계백자동차(주)', '남영코리아화이어트럭(주)', '대한특장', '카써스(주)', '(유)대원오토', '(주)승신',
       '(주)미동이엔씨', '(주)뉴테크특장', '대구시소방본부', '(주)알텍', '에프씨에이코리아(주)'],
      dtype=object)

In [143]:
weird2n.loc[weird2n['제작사명'] == '에프씨에이코리아(주)', ['배출가스인증번호', '배인번호_수정', '제원관리번호', '자동차형식', '엔진형식', '차명']]

          배출가스인증번호 배인번호_수정             제원관리번호   자동차형식     엔진형식      차명
4711  7MY-DK-24-04     NaN  00220003500014305  1844LS  OM501LA  Actros
4712  7MY-DK-24-04     NaN  00220003500014305  1844LS  OM501LA  Actros
4713  7MY-DK-24-04     NaN  00220003500014305  1844LS  OM501LA  Actros

In [144]:
weird2n.loc[weird2n['제작사명'] == '기아자동차(주)', ['배출가스인증번호', '배인번호_수정', '제원관리번호', '자동차형식', '엔진형식', '차명']]

         배출가스인증번호 배인번호_수정             제원관리번호          자동차형식  엔진형식         차명
218  7MY-HD-14-68     NaN  A0110003121643212  PUL6BD-L9-LFT  D4CB  봉고Ⅲ 활어수송차

# [병합] 처리한 데이터 병합
- norm, error, nad1y, nad2y, nad2n, weird1y, weird2y, weird2n

- 파일 처리 과정
    - nad
        - nad1y
        - nad1n
            - nad2y
            - nad2n
    - weird
        - weird1y
        - weird1n
            - weird2y
            - weird2n

In [145]:
df = pd.concat([norm, error, nad1y, nad2y, nad2n, weird1y, weird2y, weird2n], ignore_index=True)
df.shape

(1153813, 30)

## [출력] 처리된 병합 파일

In [146]:
today_date = datetime.today().strftime("%Y.%m.%d_%p_%I.%M.%S")
today_date

'2023.03.16_PM_03.35.13'

In [147]:
fold

'D:/data/big2/BD1_4등급_데이터_점검1/result_emis_update2'

In [148]:
# about 33s
df.to_csv(os.path.join(fold, f'4등급_차량_리스트_양식_result_처리_{today_date}.csv'), index=False, encoding='cp949')

# 샘플 출력

## 조건1

### 3, 5 등급으로 등급 변경 차량
- 정상(norm)

In [149]:
norm.columns

Index(['차대번호', '차량번호', '제원관리번호', '차종', '용도', '최초등록일', '연식', '제작일자', '검사유효일',
       '배출가스인증번호', '배인번호_수정', '등급', '등급_수정', '차명', '차종분류', '차종유형', '자동차형식',
       '제작사명', '연료', '엔진형식', '총중량', '적재중량', '엔진출력', '배기량', '법정동코드', '시도명',
       '시군구명', '소유자구분', '말소여부', '일치유무'],
      dtype='object')

In [150]:
norm[(norm['배출가스인증번호'] == '8MY-KM-13-19') & ( (norm['등급_수정'] == "5") | (norm['등급_수정'] == "3") )].shape

(83, 30)

In [151]:
grade_chaneged = norm.loc[(norm['등급_수정'] == '3') | (norm['등급_수정'] == '5')]
grade_chaneged.shape

(4479, 30)

In [152]:
grade_chaneged.columns

Index(['차대번호', '차량번호', '제원관리번호', '차종', '용도', '최초등록일', '연식', '제작일자', '검사유효일',
       '배출가스인증번호', '배인번호_수정', '등급', '등급_수정', '차명', '차종분류', '차종유형', '자동차형식',
       '제작사명', '연료', '엔진형식', '총중량', '적재중량', '엔진출력', '배기량', '법정동코드', '시도명',
       '시군구명', '소유자구분', '말소여부', '일치유무'],
      dtype='object')

#### [출력] 3, 5 등급 변경 차량

In [153]:
today_date = datetime.today().strftime("%Y.%m.%d_%p_%I.%M.%S")
today_date

'2023.03.16_PM_03.35.56'

In [154]:
grade_chaneged.to_csv(os.path.join(total_norm_fold, f'3,5등급변경차량_{today_date}.csv'), index=False, encoding='cp949')

### 배인번호 변경된 차량
- 정상(norm)
- 미부여(nad) : nad1y, nad2y, nad2n
- 제작사이상(weird) : weird1y, weird2y, weird2n

In [155]:
norm_ch = norm.loc[norm['배출가스인증번호'] != norm['배인번호_수정']]
norm_ch.shape

(127823, 30)

In [156]:
nad1y.shape, nad2y.shape, weird1y.shape, weird2y.shape

((6294, 30), (139, 30), (132, 30), (14, 30))

In [157]:
emis_ch = pd.concat([norm_ch, nad1y, nad2y, weird1y, weird2y], ignore_index=True)
emis_ch.shape

(134402, 30)

In [158]:
emis_ch.columns

Index(['차대번호', '차량번호', '제원관리번호', '차종', '용도', '최초등록일', '연식', '제작일자', '검사유효일',
       '배출가스인증번호', '배인번호_수정', '등급', '등급_수정', '차명', '차종분류', '차종유형', '자동차형식',
       '제작사명', '연료', '엔진형식', '총중량', '적재중량', '엔진출력', '배기량', '법정동코드', '시도명',
       '시군구명', '소유자구분', '말소여부', '일치유무'],
      dtype='object')

#### [출력] 배인번호 변경된 차량

In [159]:
today_date = datetime.today().strftime("%Y.%m.%d_%p_%I.%M.%S")
today_date

'2023.03.16_PM_03.36.07'

In [160]:
emis_ch.to_csv(os.path.join(total_norm_fold, f'배인번호_변경된_차량_{today_date}.csv'), index=False, encoding='cp949')

### 나머지 차량
- 제작사이상(weird) : weird2n
- 미부여(nad) : nad2n
- 비정상(error)

In [161]:
weird2n.shape, nad2n.shape, error.shape

((4716, 30), (717, 30), (1309, 30))

In [162]:
rest = pd.concat([nad2n, error, weird2n], ignore_index=True)
rest.shape

(6742, 30)

In [163]:
rest.columns

Index(['차대번호', '차량번호', '제원관리번호', '차종', '용도', '최초등록일', '연식', '제작일자', '검사유효일',
       '배출가스인증번호', '배인번호_수정', '등급', '등급_수정', '차명', '차종분류', '차종유형', '자동차형식',
       '제작사명', '연료', '엔진형식', '총중량', '적재중량', '엔진출력', '배기량', '법정동코드', '시도명',
       '시군구명', '소유자구분', '말소여부', '일치유무'],
      dtype='object')

#### [출력] 나머지 차량

In [164]:
today_date = datetime.today().strftime("%Y.%m.%d_%p_%I.%M.%S")
today_date

'2023.03.16_PM_03.36.15'

In [165]:
rest.to_csv(os.path.join(total_norm_fold, f'나머지_미부여_비정상_제작사이상_차량_{today_date}.csv'), index=False, encoding='cp949')

### 최종 차량 수 확인

In [166]:
norm.loc[norm['배출가스인증번호'] == norm['배인번호_수정']].shape[0] + emis_ch.shape[0] + rest.shape[0]

1153813

## 조건2

### 제작사 확인 불가
- 1201 개

In [167]:
norm.loc[norm['배인번호_수정'] == '제작사확인불가'].shape

(1201, 30)

In [168]:
today_date = datetime.today().strftime("%Y.%m.%d_%p_%I.%M.%S")
today_date

'2023.03.16_PM_03.36.20'

In [169]:
norm.loc[norm['배인번호_수정'] == '제작사확인불가'].to_csv(os.path.join(total_norm_fold, f'제작사확인불가_{today_date}.csv'), index=False, encoding='cp949')

### 배출가스 인증번호의 제작사 미매칭
- 4,862

In [170]:
mod_weird = pd.concat([weird1y, weird2y, weird2n], ignore_index=True)
mod_weird.shape

(4862, 30)

In [171]:
today_date = datetime.today().strftime("%Y.%m.%d_%p_%I.%M.%S")
today_date

'2023.03.16_PM_03.36.23'

In [172]:
mod_weird.to_csv(os.path.join(total_weird_fold, f'배출가스_인증번호의_제작사_미매칭_{today_date}.csv'), index=False, encoding='cp949')

### 배출가스 인증번호 미기입 차량
- 7,150

In [173]:
mod_nad = pd.concat([nad1y, nad2y, nad2n], ignore_index=True)
mod_nad.shape

(7150, 30)

In [174]:
today_date = datetime.today().strftime("%Y.%m.%d_%p_%I.%M.%S")
today_date

'2023.03.16_PM_03.36.26'

In [175]:
mod_nad.to_csv(os.path.join(total_nan_fold, f'미기입차량_수정_{today_date}.csv'), index=False, encoding='cp949')

## 조건3
- norm : 1140492
- error : 1309
- weird1y : 132
- weird1n
    - weird2y : 14
    - weird2n : 4716
- nad
    - nad1y : 6294
    - nad1n
        - nad2y : 139
        - nad2n
            - nad3y : 87
            - nad3n : 630

In [ ]:
# 배인번호 정상 
    # total_norm = norm, weird1y, weird2y, nad1y, nad2y, nad3y : 1147158
# 배인번호 비정상
    # error : 1309
# 제작사 이상
    # weird2n : 4716
# 미부여
    # nad3n : 630

# 총 : 1153813

### 정상

In [197]:
total_norm = pd.concat([norm, weird1y, weird2y, nad1y, nad2y, nad3y], ignore_index=True)
total_norm.shape

(1147158, 30)

In [201]:
total_norm.to_csv(os.path.join(total_norm_fold, 'total_norm.csv'), index=False, encoding='cp949')

### 비정상

In [198]:
error.shape

(1309, 30)

### 제작사 이상

In [199]:
weird2n.shape

(4716, 30)

### 미부여

In [200]:
nad3n.shape

(630, 30)

# CODE End