# Library

In [1]:
import pandas as pd
import os, datetime
import numpy as np
from tqdm import tqdm

# File Load
- [병합]4등급_차량_리스트_양식_result
- [배인번호]업체확인_리스트

In [2]:
fold = 'D:/data/big2/BD1_4등급_데이터_점검1'

## 4등급_차량_리스트_양식_result

In [8]:
# about 10s
file_name = '4등급_차량_리스트_양식_result.csv'
df = pd.read_csv(os.path.join(fold, file_name), encoding='cp949', low_memory=False)

In [9]:
df.columns

Index(['차대번호', '차량번호', '제원관리번호', '차종', '용도', '최초등록일', '연식', '제작일자', '검사유효일',
       '인증번호', '등급', '차명', '차종분류', '차종유형', '자동차형식', '제작사명', '연료', '엔진형식',
       '총중량', '적재중량', '엔진출력', '배기량', '법정동코드', '시도명', '시군구명', '소유자구분', '말소여부',
       '일치유무'],
      dtype='object')

In [13]:
df.shape

(1502235, 28)

In [23]:
df = df.rename(columns={'인증번호':'배출가스인증번호'})
df.columns

Index(['차대번호', '차량번호', '제원관리번호', '차종', '용도', '최초등록일', '연식', '제작일자', '검사유효일',
       '배출가스인증번호', '등급', '차명', '차종분류', '차종유형', '자동차형식', '제작사명', '연료', '엔진형식',
       '총중량', '적재중량', '엔진출력', '배기량', '법정동코드', '시도명', '시군구명', '소유자구분', '말소여부',
       '일치유무'],
      dtype='object')

## [배인번호]업체확인_리스트

In [11]:
file_name = '배인번호_업체확인_리스트(2023.03.06).xlsx'
mod = pd.read_excel(os.path.join(fold, file_name), sheet_name='확인')

In [14]:
mod.shape

(3522, 11)

In [15]:
df.columns

Index(['차대번호', '차량번호', '제원관리번호', '차종', '용도', '최초등록일', '연식', '제작일자', '검사유효일',
       '인증번호', '등급', '차명', '차종분류', '차종유형', '자동차형식', '제작사명', '연료', '엔진형식',
       '총중량', '적재중량', '엔진출력', '배기량', '법정동코드', '시도명', '시군구명', '소유자구분', '말소여부',
       '일치유무'],
      dtype='object')

In [16]:
# 매칭조건 컬럼 : '배출가스인증번호', '자동차형식', '엔진형식'
# 수정할 컬럼 : '배출가스인증번호', '등급', 'DPF유무'

In [17]:
mod.columns

Index(['등급(현재)', '등급(수정)', '배인번호(현재)', '배인번호(수정)', '차명', '제작사', '자동차형식',
       '엔진형식', 'DPF유무(현재)', 'DPF유무(수정)', '기타'],
      dtype='object')

In [18]:
mod.head()

,등급(현재),등급(수정),배인번호(현재),배인번호(수정),차명,제작사,자동차형식,엔진형식,DPF유무(현재),DPF유무(수정),기타
0,4,4,7MY-SM-14-36,7MY-SM-14-36,QM5,르노삼성자동차(주),H1D20-VC-0-11,M9R,유,유,Euro4 기준에 맞춰 개발된 차량
1,4,4,7MY-SM-14-36,7MY-SM-14-36,QM5,르노삼성자동차(주),H1D20-VC-0-12,M9R,유,유,Euro4 기준에 맞춰 개발된 차량
2,4,4,7MY-SM-14-36,7MY-SM-14-36,QM5,르노삼성자동차(주),H1D20-VC-0-21,M9R,유,유,Euro4 기준에 맞춰 개발된 차량
3,4,4,7MY-SM-14-36,7MY-SM-14-36,QM5,르노삼성자동차(주),H1D20-VC-0-22,M9R,유,유,Euro4 기준에 맞춰 개발된 차량
4,4,4,7MY-SM-14-36,7MY-SM-14-36,QM5,르노삼성자동차(주),H1D20-VC-0-31,M9R,유,유,Euro4 기준에 맞춰 개발된 차량

In [19]:
mod[mod['배인번호(수정)'] == '7MY-MT-24-01']

,등급(현재),등급(수정),배인번호(현재),배인번호(수정),차명,제작사,자동차형식,엔진형식,DPF유무(현재),DPF유무(수정),기타
29,4,4,7MY-MT-24-01,7MY-MT-24-01,만 트랙터,만트럭버스코리아(주),TGA26.4806X4BLS,D2676LF01,무,무,유로 4 배출가스 기준 엔진 장착된 경유 차량
30,4,4,7MY-MT-24-01,7MY-MT-24-01,만 트랙터,만트럭버스코리아(주),TGA28.4806X2-2BLS,D2676LF01,무,무,유로 4 배출가스 기준 엔진 장착된 경유 차량
31,4,4,7MY-MT-24-01,7MY-MT-24-01,만 트랙터,만트럭버스코리아(주),TGX26.4806X4BLS,D2676LF05,무,무,유로 4 배출가스 기준 엔진 장착된 경유 차량
32,4,4,7MY-MT-24-01,7MY-MT-24-01,만 트랙터,만트럭버스코리아(주),TGX28.4806X2-2BLS,D2676LF05,무,무,유로 4 배출가스 기준 엔진 장착된 경유 차량

In [20]:
mod.loc[mod['배인번호(수정)'] == '7MY-MT-24-01', '자동차형식'].unique()

array(['TGA26.4806X4BLS', 'TGA28.4806X2-2BLS', 'TGX26.4806X4BLS',
       'TGX28.4806X2-2BLS'], dtype=object)

In [21]:
mod.loc[mod['배인번호(수정)'] == '7MY-MT-24-01', '엔진형식'].unique()

array(['D2676LF01', 'D2676LF05'], dtype=object)

In [24]:
df.loc[df['배출가스인증번호'] == '7MY-MT-24-01', '자동차형식'].unique()

array(['TGX28.4806X2-2BLS', 'TGA26.4806X4BLS', 'TGA28.4806X2-2BLS',
       'TGX26.4806X4BLS'], dtype=object)

In [26]:
df.loc[df['배출가스인증번호'] == '7MY-MT-24-01', '엔진형식'].unique()

array(['D2676LF05', 'D2676LF01'], dtype=object)

# 수정사항 반영

In [15]:
# 매칭조건 컬럼 : '배출가스인증번호', '자동차형식', '엔진형식'
# 수정할 컬럼 : '배출가스인증번호', '등급', 'DPF유무'

In [16]:
# 확인 샘플
# 수정
# '등급', 배출가스인증번호, 차명, 제작사명, 자동차형식, 엔진형식, 'DPF유무'
# 전 : 4, 4MY-DC-33, 대우11.5톤장축카고트럭(DPF), 타타대우상용차(주), K9ARF5, DV11, 무
# 후 : 5, 6MY-DC-23-17(적용X), 대우11.5톤장축카고트럭(DPF), 타타대우상용차(주), K9ARF5, DV11, 유

In [28]:
df.loc[:5, ['배출가스인증번호', '등급', '차명', '자동차형식', '제작사명', '엔진형식']]

       배출가스인증번호  등급      차명         자동차형식      제작사명    엔진형식
0     XMY-HD-48   4     베르나    LC4-15DM-1  현대자동차(주)    G4EC
1  9MY-KM-14-41   4     카니발     VQS96BB-G  기아자동차(주)    D4HB
2  7MY-SY-14-60   4  액티언스포츠  Q5D20A2-008D  쌍용자동차(주)  664951
3           NaN   4     체어맨      W-GA32-5  쌍용자동차(주)     162
4  9MY-KM-14-22   4     쏘렌토      XM75BA-S  기아자동차(주)    D4HA
5           NaN   4    프라이드       B3-23LX  기아자동차(주)      B3

In [29]:
df.loc[df['배출가스인증번호'] == '4MY-DC-33', ['배출가스인증번호', '등급', '차명', '자동차형식', '제작사명', '엔진형식']]

         배출가스인증번호  등급                  차명   자동차형식        제작사명  엔진형식
98172   4MY-DC-33   4  대우11.5톤장축카고트럭(DPF)  K9ARF5  타타대우상용차(주)  DV11
127271  4MY-DC-33   4  대우11.5톤장축카고트럭(DPF)  K9ARF5  타타대우상용차(주)  DV11
212515  4MY-DC-33   4  대우11.5톤장축카고트럭(DPF)  K9ARF5  타타대우상용차(주)  DV11
220527  4MY-DC-33   4  대우11.5톤장축카고트럭(DPF)  K9ARF5  타타대우상용차(주)  DV11
455562  4MY-DC-33   4  대우11.5톤장축카고트럭(DPF)  K9ARF5  타타대우상용차(주)  DV11
630759  4MY-DC-33   4  대우11.5톤장축카고트럭(DPF)  K9ARF5  타타대우상용차(주)  DV11
928757  4MY-DC-33   4  대우11.5톤장축카고트럭(DPF)  K9ARF5  타타대우상용차(주)  DV11

In [19]:
# 확인 샘플
# 수정
# 등급, 배출가스인증번호, 차명, 제작사명, 자동차형식, 엔진형식, 'DPF유무'
# 전 : 4, 7MY-MT-24-01, 만 트랙터, 만트럭버스코리아(주), TGA28.4806X2-2BLS, D2676LF05, 무
# 후 : 4, 7MY-MT-24-01, 만 트랙터, 만트럭버스코리아(주), TGA28.4806X2-2BLS, D2676LF05, 유

In [30]:
df.loc[df['배출가스인증번호'] == '7MY-MT-24-01', ['배출가스인증번호', '등급', '차명', '자동차형식', '제작사명', '엔진형식']]

             배출가스인증번호  등급     차명              자동차형식         제작사명       엔진형식
3164     7MY-MT-24-01   4  만 트랙터  TGX28.4806X2-2BLS  만트럭버스코리아(주)  D2676LF05
4739     7MY-MT-24-01   4  만 트랙터  TGX28.4806X2-2BLS  만트럭버스코리아(주)  D2676LF05
38915    7MY-MT-24-01   4  만 트랙터  TGX28.4806X2-2BLS  만트럭버스코리아(주)  D2676LF05
40371    7MY-MT-24-01   4  만 트랙터  TGX28.4806X2-2BLS  만트럭버스코리아(주)  D2676LF05
42900    7MY-MT-24-01   4  만 트랙터  TGX28.4806X2-2BLS  만트럭버스코리아(주)  D2676LF05
...               ...  ..    ...                ...          ...        ...
1478414  7MY-MT-24-01   4  만 트랙터  TGX28.4806X2-2BLS  만트럭버스코리아(주)  D2676LF05
1482306  7MY-MT-24-01   4  만 트랙터  TGX28.4806X2-2BLS  만트럭버스코리아(주)  D2676LF05
1491339  7MY-MT-24-01   4  만 트랙터  TGX28.4806X2-2BLS  만트럭버스코리아(주)  D2676LF05
1493197  7MY-MT-24-01   4  만 트랙터  TGX28.4806X2-2BLS  만트럭버스코리아(주)  D2676LF05
1501861  7MY-MT-24-01   4  만 트랙터  TGX28.4806X2-2BLS  만트럭버스코리아(주)  D2676LF05

[293 rows x 6 columns]

In [31]:
df['제작사확인_DPF유무'] = np.nan
df['확인유무'] = np.nan
df['비고'] = np.nan

In [33]:
df[['배출가스인증번호', '등급', '차명', '자동차형식', '제작사명', '엔진형식', '제작사확인_DPF유무', '확인유무', '비고']].head()

,배출가스인증번호,등급,차명,자동차형식,제작사명,엔진형식,제작사확인_DPF유무,확인유무,비고
0,XMY-HD-48,4,베르나,LC4-15DM-1,현대자동차(주),G4EC,NaN,NaN,NaN
1,9MY-KM-14-41,4,카니발,VQS96BB-G,기아자동차(주),D4HB,NaN,NaN,NaN
2,7MY-SY-14-60,4,액티언스포츠,Q5D20A2-008D,쌍용자동차(주),664951,NaN,NaN,NaN
3,NaN,4,체어맨,W-GA32-5,쌍용자동차(주),162,NaN,NaN,NaN
4,9MY-KM-14-22,4,쏘렌토,XM75BA-S,기아자동차(주),D4HA,NaN,NaN,NaN

In [34]:
count = 0
for one, two, three, four in df[['배출가스인증번호', '등급', '자동차형식', '제작사명']].values:
    print(one, two, three, four)
    count += 1
    if count == 5:
        break

XMY-HD-48 4 LC4-15DM-1 현대자동차(주)
9MY-KM-14-41 4 VQS96BB-G 기아자동차(주)
7MY-SY-14-60 4 Q5D20A2-008D 쌍용자동차(주)
nan 4 W-GA32-5 쌍용자동차(주)
9MY-KM-14-22 4 XM75BA-S 기아자동차(주)

## 수정 적용

In [35]:
pick_mod = mod[['등급(수정)', '배인번호(현재)', '배인번호(수정)', '자동차형식', '엔진형식', 'DPF유무(수정)']].values
len(pick_mod)

3522

In [36]:
pick_mod[:5]

array([[4, '7MY-SM-14-36', '7MY-SM-14-36', 'H1D20-VC-0-11', 'M9R', '유'],
       [4, '7MY-SM-14-36', '7MY-SM-14-36', 'H1D20-VC-0-12', 'M9R', '유'],
       [4, '7MY-SM-14-36', '7MY-SM-14-36', 'H1D20-VC-0-21', 'M9R', '유'],
       [4, '7MY-SM-14-36', '7MY-SM-14-36', 'H1D20-VC-0-22', 'M9R', '유'],
       [4, '7MY-SM-14-36', '7MY-SM-14-36', 'H1D20-VC-0-31', 'M9R', '유']],
      dtype=object)

In [37]:
pick_mod[-5:]

array([[4, '7MY-AD-14-04', '7MY-AD-14-04', '4F', 'BPP', '유'],
       [4, '8MY-AD-14-03', '8MY-AD-14-03', '5N', 'CBA', '유'],
       [4, '8MY-AD-14-09', '8MY-AD-14-09', '3C', 'CBB', '유'],
       [4, '8MY-AD-14-09', '8MY-AD-14-09', '3CC', 'CBB', '유'],
       [4, '9MY-AD-14-04', '9MY-AD-14-04', '8R', 'CAH', '유']],
      dtype=object)

In [38]:
# about 5m 1s
# for m_grade, p_emis, m_emis, car_form, engine_form, m_dpf in tqdm(zip(mod['등급(수정)'], mod['배인번호(현재)'], mod['배인번호(수정)'], mod['자동차형식'], mod['엔진형식'], mod['DPF유무(수정)'])):
for m_grade, p_emis, m_emis, car_form, engine_form, m_dpf in tqdm(pick_mod):
    df.loc[(df['배출가스인증번호'] == p_emis) & (df['자동차형식'] == car_form) & (df['엔진형식'] == engine_form), ['등급', '제작사확인_DPF유무', '확인유무']] = [m_grade, m_dpf, 'Y']

100%|██████████| 3522/3522 [14:20<00:00,  4.09it/s]

In [40]:
df.loc[df['배출가스인증번호'] == '4MY-DC-33', ['배출가스인증번호', '등급', '차명', '자동차형식', '제작사명', '엔진형식', '제작사확인_DPF유무', '확인유무', '비고']]

,배출가스인증번호,등급,차명,자동차형식,제작사명,엔진형식,제작사확인_DPF유무,확인유무,비고
98172,4MY-DC-33,5,대우11.5톤장축카고트럭(DPF),K9ARF5,타타대우상용차(주),DV11,유,Y,NaN
127271,4MY-DC-33,5,대우11.5톤장축카고트럭(DPF),K9ARF5,타타대우상용차(주),DV11,유,Y,NaN
212515,4MY-DC-33,5,대우11.5톤장축카고트럭(DPF),K9ARF5,타타대우상용차(주),DV11,유,Y,NaN
220527,4MY-DC-33,5,대우11.5톤장축카고트럭(DPF),K9ARF5,타타대우상용차(주),DV11,유,Y,NaN
455562,4MY-DC-33,5,대우11.5톤장축카고트럭(DPF),K9ARF5,타타대우상용차(주),DV11,유,Y,NaN
630759,4MY-DC-33,5,대우11.5톤장축카고트럭(DPF),K9ARF5,타타대우상용차(주),DV11,유,Y,NaN
928757,4MY-DC-33,5,대우11.5톤장축카고트럭(DPF),K9ARF5,타타대우상용차(주),DV11,유,Y,NaN

In [50]:
df.loc[df['배출가스인증번호'] == '9MY-AD-14-04', ['배출가스인증번호', '등급', '차명', '자동차형식', '제작사명', '엔진형식', '제작사확인_DPF유무', '확인유무', '비고']]

,배출가스인증번호,등급,차명,자동차형식,제작사명,엔진형식,제작사확인_DPF유무,확인유무,비고
1613,9MY-AD-14-04,4,Q5 2.0 TDI quattro,8R,아우디폭스바겐코리아(주),CAH,유,Y,NaN
3168,9MY-AD-14-04,4,Q5 2.0 TDI quattro,8R,아우디폭스바겐코리아(주),CAH,유,Y,NaN
3637,9MY-AD-14-04,4,Q5 2.0 TDI quattro,8R,아우디폭스바겐코리아(주),CAH,유,Y,NaN
5370,9MY-AD-14-04,4,Q5 2.0 TDI quattro,8R,아우디폭스바겐코리아(주),CAH,유,Y,NaN
6497,9MY-AD-14-04,4,Q5 2.0 TDI quattro,8R,아우디폭스바겐코리아(주),CAH,유,Y,NaN
...,...,...,...,...,...,...,...,...,...
1497242,9MY-AD-14-04,4,Q5 2.0 TDI quattro,8R,아우디폭스바겐코리아(주),CAH,유,Y,NaN
1497314,9MY-AD-14-04,4,Q5 2.0 TDI Quattro,8R,아우디폭스바겐코리아(주),CAH,유,Y,NaN
1498580,9MY-AD-14-04,4,Q5 2.0 TDI Quattro,8R,아우디폭스바겐코리아(주),CAH,유,Y,NaN
1499715,9MY-AD-14-04,4,Q5 2.0 TDI quattro,8R,아우디폭스바겐코리아(주),CAH,유,Y,NaN
1500891,9MY-AD-14-04,4,Q5 2.0 TDI quattro,8R,아우디폭스바겐코리아(주),CAH,유,Y,NaN

In [42]:
# df.loc[df['배출가스인증번호'] == '7MY-MT-24-01', ['배출가스인증번호', '등급', '차명_x', '자동차형식', '제작사명', '엔진형식_x', 'DPF유무', '제작사확인_DPF유무', '확인유무', '비고']].head()

In [45]:
df.shape

(1502235, 31)

In [44]:
# df.loc[:5, ['배출가스인증번호', '등급', '차명', '자동차형식', '제작사명', '엔진형식', '제작사확인_DPF유무', '확인유무', '비고']]

,배출가스인증번호,등급,차명,자동차형식,제작사명,엔진형식,제작사확인_DPF유무,확인유무,비고
0,XMY-HD-48,4,베르나,LC4-15DM-1,현대자동차(주),G4EC,NaN,NaN,NaN
1,9MY-KM-14-41,4,카니발,VQS96BB-G,기아자동차(주),D4HB,무,Y,NaN
2,7MY-SY-14-60,4,액티언스포츠,Q5D20A2-008D,쌍용자동차(주),664951,NaN,NaN,NaN
3,NaN,4,체어맨,W-GA32-5,쌍용자동차(주),162,NaN,NaN,NaN
4,9MY-KM-14-22,4,쏘렌토,XM75BA-S,기아자동차(주),D4HA,무,Y,NaN
5,NaN,4,프라이드,B3-23LX,기아자동차(주),B3,NaN,NaN,NaN

## 배인번호별 통계

In [49]:
df.groupby(['배출가스인증번호', '차명', '제작사명', '자동차형식', '엔진형식', '제작사확인_DPF유무', '확인유무'], dropna=False)['차대번호'].count()

배출가스인증번호  차명          제작사명          자동차형식     엔진형식      제작사확인_DPF유무  확인유무
          도요다크라운로얄싸롱  NaN           MS122     NaN       NaN          NaN      1
          랭글러2.5L     NaN           TJ        53008403  NaN          NaN      1
          랭글러짚        NaN           SAHARA    MX        NaN          NaN      1
          벤즈 230E     NaN           NaN       NaN       NaN          NaN      1
          벤츠300SEL    자기인증면제차량      126 025   103.981   NaN          NaN      1
                                                                             ..
NaN       휘가로         모인모터하우스       FK10      MA10      NaN          NaN      1
                      자기인증면제차량      E-FK10    MA10      NaN          NaN      1
                                    FK10      MA10      NaN          NaN      1
          히노카고트럭      스카니아코리아그룹(주)  FD8JLUA   J08EUR    NaN          NaN     25
          히노활어트럭      스카니아코리아그룹(주)  FD8JLUAF  J08EUR    NaN          NaN      5
Name: 차대번호, Length: 11221, dtype: int64

### [출력] 배인번호별 통계

In [29]:
# df.groupby(['배출가스인증번호', '제작사확인_DPF유무', '확인유무'], dropna=False)['차대번호'].count().to_excel('analysis2/DPF현행화/배인번호별_제작사확인DPF유무_확인유무.xlsx')

# [출력] 수정파일

In [30]:
fold

'D:/data/big2/BD1_4등급_데이터_점검1'

In [31]:
today_date = datetime.datetime.today().strftime("%Y.%m.%d_%p.%H.%M.%S")
today_date

'2023.02.21'

In [32]:
# about 32s
df.to_csv(os.path.join(fold, f'4등급_차량_리스트_양식_result(수정)({today_date}).csv'), index=False, encoding='cp949')

In [33]:
# about 32s
df.iloc[:580000].to_csv(os.path.join(fold, f'4등급_차량_리스트_양식_result(수정)({today_date})01.csv'), index=False, encoding='cp949')
df.iloc[580000:].to_csv(os.path.join(fold, f'4등급_차량_리스트_양식_result(수정)({today_date})02.csv'), index=False, encoding='cp949')

In [34]:
# # about 18m 25s
# df.iloc[:580000].to_excel(os.path.join(fold, '4등급_차량_리스트_양식_result(수정)(2023.02.09)01.xlsx'), index=False)
# df.iloc[580000:].to_excel(os.path.join(fold, '4등급_차량_리스트_양식_result(수정)(2023.02.09)02.xlsx'), index=False)

# CODE End