# Library

In [1]:
import pandas as pd
import os
from datetime import datetime
import numpy as np
from tqdm import tqdm
from glob import glob

# fold path

In [159]:
fold = 'D:/data/big2/BD1_4등급_데이터_점검1/emis'
norm_fold = 'D:/data/big2/BD1_4등급_데이터_점검1/emis/norm'
total_fold = 'D:/data/big2/BD1_4등급_데이터_점검1/emis/norm/total'
error_fold = 'D:/data/big2/BD1_4등급_데이터_점검1/emis/error'
total_error_fold = 'D:/data/big2/BD1_4등급_데이터_점검1/emis/error/total'
weird_fold = 'D:/data/big2/BD1_4등급_데이터_점검1/emis/weird'
nan_fold = 'D:/data/big2/BD1_4등급_데이터_점검1/emis/nan'
nad_fold = 'D:/data/big2/BD1_4등급_데이터_점검1/emis/nan/nad'

# File Load
- 정상 배인번호 파일
- 비정상 배인번호 파일
- 제작사 이상 파일

## 정상 배인번호 파일

In [162]:
# about 41s
norm = pd.DataFrame()
for addr in tqdm(glob(os.path.join(norm_fold, '*.csv'))):
    temp = pd.read_csv(addr, encoding='cp949', low_memory=False)
    norm = pd.concat([norm, temp], ignore_index=True)

100%|██████████| 134/134 [00:40<00:00,  3.34it/s]

In [4]:
norm.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1140505 entries, 0 to 1140504
Data columns (total 69 columns):
 #   Column     Non-Null Count    Dtype
---  ------     --------------    -----
 0   차대번호       1140505 non-null  object
 1   차량번호_x     1140505 non-null  object
 2   제원관리번호     1140505 non-null  object
 3   차종_원본      1140505 non-null  object
 4   용도         1140505 non-null  object
 5   최초등록일      1140505 non-null  int64
 6   연식         1140505 non-null  int64
 7   제작일자       1140504 non-null  float64
 8   검사유효일      1140503 non-null  float64
 9   배출가스인증번호   1140505 non-null  object
 10  등급         1140505 non-null  int64
 11  차명_x       1140505 non-null  object
 12  차종분류       1140505 non-null  object
 13  차종유형       1140505 non-null  object
 14  자동차형식      1140505 non-null  object
 15  제작사명       1140505 non-null  object
 16  연료         1140505 non-null  object
 17  엔진형식_x     1140505 non-null  object
 18  총중량        1140505 non-null  float64
 19  적재중량       1140302 non-null  float64
 20  엔진출력       1140504 non-null  float64
 21  배기량        1140505 non-null  float64
 22  법정동코드      1140505 non-null  int64
 23  시도명        1140505 non-null  object
 24  시군구명       1140505 non-null  object
 25  소유자구분      1140505 non-null  object
 26  말소여부       1140505 non-null  object
 27  일치유무       1140505 non-null  object
 28  사용연료       1118618 non-null  object
 29  주행거리       1118509 non-null  float64
 30  차명_y       1118618 non-null  object
 31  차량번호_y     1118618 non-null  object
 32  차종         1118618 non-null  object
 33  차량연식       1118618 non-null  float64
 34  엔진형식_y     1118610 non-null  object
 35  검사방법       1118618 non-null  object
 36  검사일자       1118618 non-null  float64
 37  검사종류       1118618 non-null  object
 38  검사판정시각     1110009 non-null  object
 39  검사판정       1118618 non-null  object
 40  산소값        807935 non-null   float64
 41  이산화탄소값     807935 non-null   float64
 42  무부하매연판정1   1110005 non-null  object
 43  무부하매연판정2   40959 non-null    object
 44  무부하매연판정3   40068 non-null    object
 45  무부하매연판정4   40066 non-null    object
 46  무부하매연판정5   40066 non-null    object
 47  무부하매연판정6   41 non-null       object
 48  무부하매연허용치1  1110005 non-null  float64
 49  무부하매연허용치2  327683 non-null   float64
 50  무부하매연허용치3  327682 non-null   float64
 51  무부하매연허용치4  327680 non-null   float64
 52  무부하매연허용치5  327680 non-null   float64
 53  무부하매연허용치6  298265 non-null   float64
 54  무부하매연측정치1  1110009 non-null  float64
 55  무부하매연측정치2  361021 non-null   float64
 56  무부하매연측정치3  327684 non-null   float64
 57  무부하매연측정치4  327682 non-null   float64
 58  무부하매연측정치5  327682 non-null   float64
 59  무부하매연측정치6  298265 non-null   float64
 60  정기정밀       1118618 non-null  object
 61  vin10      1140505 non-null  object
 62  vin_year   1140502 non-null  float64
 63  DPF유무      1140505 non-null  object
 64  배인번호_수정    1140505 non-null  object
 65  등급_수정      1140505 non-null  object
 66  DPF유무_수정   1140316 non-null  object
 67  확인유무       1140316 non-null  object
 68  비고         0 non-null        float64
dtypes: float64(25), int64(4), object(40)
memory usage: 600.4+ MB

### [출력] 정상 병합 파일

In [158]:
# about 33s
norm.to_csv(os.path.join(total_fold, 'total_norm.csv'), encoding='cp949', index=False)

## 비정상 배인번호 파일

In [5]:
error = pd.DataFrame()
for addr in tqdm(glob(os.path.join(error_fold, '*.csv'))):
    temp = pd.read_csv(addr, encoding='cp949', low_memory=False)
    error = pd.concat([error, temp], ignore_index=True)

100%|██████████| 71/71 [00:00<00:00, 84.67it/s]

In [6]:
error.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1309 entries, 0 to 1308
Data columns (total 69 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   차대번호       1309 non-null   object
 1   차량번호_x     1309 non-null   object
 2   제원관리번호     1309 non-null   object
 3   차종_원본      1309 non-null   object
 4   용도         1309 non-null   object
 5   최초등록일      1309 non-null   int64
 6   연식         1309 non-null   int64
 7   제작일자       1309 non-null   float64
 8   검사유효일      1309 non-null   float64
 9   배출가스인증번호   1309 non-null   object
 10  등급         1309 non-null   int64
 11  차명_x       1309 non-null   object
 12  차종분류       1309 non-null   object
 13  차종유형       1309 non-null   object
 14  자동차형식      1309 non-null   object
 15  제작사명       1304 non-null   object
 16  연료         1309 non-null   object
 17  엔진형식_x     1309 non-null   object
 18  총중량        1309 non-null   float64
 19  적재중량       1309 non-null   float64
 20  엔진출력       1309 non-null   float64
 21  배기량        1309 non-null   float64
 22  법정동코드      1309 non-null   int64
 23  시도명        1309 non-null   object
 24  시군구명       1309 non-null   object
 25  소유자구분      1309 non-null   object
 26  말소여부       1309 non-null   object
 27  일치유무       1309 non-null   object
 28  사용연료       1223 non-null   object
 29  주행거리       1223 non-null   float64
 30  차명_y       1223 non-null   object
 31  차량번호_y     1223 non-null   object
 32  차종         1223 non-null   object
 33  차량연식       1223 non-null   float64
 34  엔진형식_y     1223 non-null   object
 35  검사방법       1223 non-null   object
 36  검사일자       1223 non-null   float64
 37  검사종류       1223 non-null   object
 38  검사판정시각     1212 non-null   object
 39  검사판정       1223 non-null   object
 40  산소값        785 non-null    float64
 41  이산화탄소값     785 non-null    float64
 42  무부하매연판정1   1212 non-null   object
 43  무부하매연판정2   685 non-null    object
 44  무부하매연판정3   685 non-null    object
 45  무부하매연판정4   685 non-null    object
 46  무부하매연판정5   685 non-null    object
 47  무부하매연판정6   0 non-null      float64
 48  무부하매연허용치1  1212 non-null   float64
 49  무부하매연허용치2  747 non-null    float64
 50  무부하매연허용치3  747 non-null    float64
 51  무부하매연허용치4  747 non-null    float64
 52  무부하매연허용치5  747 non-null    float64
 53  무부하매연허용치6  252 non-null    float64
 54  무부하매연측정치1  1212 non-null   float64
 55  무부하매연측정치2  768 non-null    float64
 56  무부하매연측정치3  747 non-null    float64
 57  무부하매연측정치4  747 non-null    float64
 58  무부하매연측정치5  747 non-null    float64
 59  무부하매연측정치6  252 non-null    float64
 60  정기정밀       1223 non-null   object
 61  vin10      1309 non-null   int64
 62  vin_year   1309 non-null   float64
 63  DPF유무      1309 non-null   object
 64  배인번호_수정    1309 non-null   object
 65  등급_수정      1309 non-null   int64
 66  DPF유무_수정   2 non-null      object
 67  확인유무       2 non-null      object
 68  비고         0 non-null      float64
dtypes: float64(26), int64(6), object(37)
memory usage: 705.8+ KB

### [출력] 배인번호 비정상 병합 파일

In [160]:
error.to_csv(os.path.join(total_error_fold, 'total_error.csv'), index=False, encoding='cp949')

## 제작사 이상 파일

In [127]:
weird = pd.DataFrame()
for addr in tqdm(glob(os.path.join(weird_fold, '*.xlsx'))):
    temp = pd.read_excel(addr)
    weird = pd.concat([weird, temp], ignore_index=True)

100%|██████████| 1/1 [00:03<00:00,  3.39s/it]

In [128]:
weird.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4849 entries, 0 to 4848
Data columns (total 69 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   차대번호       4849 non-null   object
 1   차량번호_x     4849 non-null   object
 2   제원관리번호     4849 non-null   object
 3   차종_원본      4849 non-null   object
 4   용도         4849 non-null   object
 5   최초등록일      4849 non-null   int64
 6   연식         4849 non-null   int64
 7   제작일자       4849 non-null   int64
 8   검사유효일      4849 non-null   int64
 9   배출가스인증번호   4849 non-null   object
 10  등급         4849 non-null   int64
 11  차명_x       4849 non-null   object
 12  차종분류       4849 non-null   object
 13  차종유형       4849 non-null   object
 14  자동차형식      4849 non-null   object
 15  제작사명       4837 non-null   object
 16  연료         4849 non-null   object
 17  엔진형식_x     4849 non-null   object
 18  총중량        4849 non-null   int64
 19  적재중량       4849 non-null   int64
 20  엔진출력       4849 non-null   int64
 21  배기량        4849 non-null   int64
 22  법정동코드      4849 non-null   int64
 23  시도명        4849 non-null   object
 24  시군구명       4849 non-null   object
 25  소유자구분      4849 non-null   object
 26  말소여부       4849 non-null   object
 27  일치유무       4849 non-null   object
 28  사용연료       4563 non-null   object
 29  주행거리       4561 non-null   float64
 30  차명_y       4563 non-null   object
 31  차량번호_y     4563 non-null   object
 32  차종         4563 non-null   object
 33  차량연식       4563 non-null   float64
 34  엔진형식_y     4561 non-null   object
 35  검사방법       4563 non-null   object
 36  검사일자       4563 non-null   float64
 37  검사종류       4563 non-null   object
 38  검사판정시각     4538 non-null   object
 39  검사판정       4563 non-null   object
 40  산소값        3086 non-null   float64
 41  이산화탄소값     3086 non-null   float64
 42  무부하매연판정1   4538 non-null   object
 43  무부하매연판정2   2471 non-null   object
 44  무부하매연판정3   2471 non-null   object
 45  무부하매연판정4   2471 non-null   object
 46  무부하매연판정5   2471 non-null   object
 47  무부하매연판정6   2 non-null      object
 48  무부하매연허용치1  4538 non-null   float64
 49  무부하매연허용치2  2742 non-null   float64
 50  무부하매연허용치3  2742 non-null   float64
 51  무부하매연허용치4  2742 non-null   float64
 52  무부하매연허용치5  2742 non-null   float64
 53  무부하매연허용치6  1016 non-null   float64
 54  무부하매연측정치1  4538 non-null   float64
 55  무부하매연측정치2  2794 non-null   float64
 56  무부하매연측정치3  2742 non-null   float64
 57  무부하매연측정치4  2742 non-null   float64
 58  무부하매연측정치5  2742 non-null   float64
 59  무부하매연측정치6  1016 non-null   float64
 60  정기정밀       4563 non-null   object
 61  vin10      4849 non-null   object
 62  vin_year   4849 non-null   int64
 63  DPF유무      4849 non-null   object
 64  배인번호_수정    4849 non-null   object
 65  등급_수정      4849 non-null   int64
 66  DPF유무_수정   3 non-null      object
 67  확인유무       3 non-null      object
 68  비고         0 non-null      float64
dtypes: float64(18), int64(12), object(39)
memory usage: 2.6+ MB

In [129]:
weird['배인번호_수정'].isnull().sum()

0

In [130]:
weird['배인번호_수정'] = np.nan

## 미부여

In [11]:
nad = pd.DataFrame()
for addr in tqdm(glob(os.path.join(nan_fold, '*.csv'))):
    temp = pd.read_csv(addr, encoding='cp949', low_memory=False)
    nad = pd.concat([nad, temp], ignore_index=True)

100%|██████████| 1/1 [00:00<00:00, 10.20it/s]

In [12]:
nad.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7150 entries, 0 to 7149
Data columns (total 69 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   차대번호       7150 non-null   object
 1   차량번호_x     7150 non-null   object
 2   제원관리번호     7150 non-null   object
 3   차종_원본      7150 non-null   object
 4   용도         7150 non-null   object
 5   최초등록일      7150 non-null   int64
 6   연식         7150 non-null   int64
 7   제작일자       7147 non-null   float64
 8   검사유효일      7149 non-null   float64
 9   배출가스인증번호   0 non-null      float64
 10  등급         7150 non-null   int64
 11  차명_x       7150 non-null   object
 12  차종분류       7150 non-null   object
 13  차종유형       7150 non-null   object
 14  자동차형식      7149 non-null   object
 15  제작사명       7149 non-null   object
 16  연료         7150 non-null   object
 17  엔진형식_x     7150 non-null   object
 18  총중량        7150 non-null   float64
 19  적재중량       7129 non-null   float64
 20  엔진출력       7149 non-null   float64
 21  배기량        7150 non-null   float64
 22  법정동코드      7150 non-null   int64
 23  시도명        7150 non-null   object
 24  시군구명       7150 non-null   object
 25  소유자구분      7150 non-null   object
 26  말소여부       7150 non-null   object
 27  일치유무       7150 non-null   object
 28  사용연료       6772 non-null   object
 29  주행거리       6770 non-null   float64
 30  차명_y       6772 non-null   object
 31  차량번호_y     6772 non-null   object
 32  차종         6772 non-null   object
 33  차량연식       6772 non-null   float64
 34  엔진형식_y     6771 non-null   object
 35  검사방법       6772 non-null   object
 36  검사일자       6772 non-null   float64
 37  검사종류       6772 non-null   object
 38  검사판정시각     6742 non-null   object
 39  검사판정       6772 non-null   object
 40  산소값        5493 non-null   float64
 41  이산화탄소값     5493 non-null   float64
 42  무부하매연판정1   6742 non-null   object
 43  무부하매연판정2   320 non-null    object
 44  무부하매연판정3   310 non-null    object
 45  무부하매연판정4   310 non-null    object
 46  무부하매연판정5   310 non-null    object
 47  무부하매연판정6   3 non-null      object
 48  무부하매연허용치1  6742 non-null   float64
 49  무부하매연허용치2  2440 non-null   float64
 50  무부하매연허용치3  2440 non-null   float64
 51  무부하매연허용치4  2440 non-null   float64
 52  무부하매연허용치5  2440 non-null   float64
 53  무부하매연허용치6  2181 non-null   float64
 54  무부하매연측정치1  6742 non-null   float64
 55  무부하매연측정치2  3090 non-null   float64
 56  무부하매연측정치3  2440 non-null   float64
 57  무부하매연측정치4  2440 non-null   float64
 58  무부하매연측정치5  2440 non-null   float64
 59  무부하매연측정치6  2181 non-null   float64
 60  정기정밀       6772 non-null   object
 61  vin10      7150 non-null   object
 62  vin_year   7150 non-null   float64
 63  DPF유무      7150 non-null   object
 64  배인번호_수정    0 non-null      float64
 65  등급_수정      7150 non-null   int64
 66  DPF유무_수정   0 non-null      float64
 67  확인유무       0 non-null      float64
 68  비고         0 non-null      float64
dtypes: float64(29), int64(5), object(35)
memory usage: 3.8+ MB

In [13]:
norm.shape, error.shape, weird.shape, nad.shape

((1140505, 69), (1309, 69), (4849, 69), (7150, 69))

In [14]:
# 1153813
norm.shape[0] + error.shape[0] + weird.shape[0] + nad.shape[0]

1153813

# 정제

## 미부여

### 1\. 유로4인증대장 매칭

In [15]:
# 유로4 / result파일
# 제작사명 : 크라이슬러 / 에프씨에이코리아(주)
# 차명으로 매칭
# {'300C' : '6MY-DK-14-1', '짚 커맨더' : '6MY-DK-14-2', '니트로' : '7MY-DK-14-4', '짚 니트로' : '7MY-DK-14-4', '짚 랭글러' : '7MY-DK-14-5', '짚그랜드체로키' : '8MY-DK-14-01, '짚 그랜드 체로키' : '8MY-DK-14-01', '그랜드 보이저' : '8MY-DK-14-02', '세브링' : '8MY-DK-14-06'}

In [16]:
# 유로4 / result파일
# 제작사명 : 볼보 / (주)볼보자동차코리아
# 차명으로 매칭
# {'볼보 S60D5' : '5MY-PA-14-17', '볼보 S80D5' : '6MY-PA-14-4', '볼보 XC70D5' : '8MY-PA-14-03', '볼보 XC60D5' : '9MY-PA-13-01'}

In [17]:
# 유로4 / result파일
# 제작사명 : 랜드로버 / (주)재규어랜드로버코리아
# 차명으로 매칭
# {'레인지로버 스포츠 TDV6' : '7MY-PA-14-2'}

In [18]:
# 유로4 / result파일
# 제작사명 : 재규어 / (주)재규어랜드로버코리아
# 차명으로 매칭
# {'재규어 XJ 2.7D' : '7MY-PA-14-7', '재규어 X-TYPE 2.2D' : '8MY-PA-14-04', '재규어 XF 2.7D' : '8MY-PA-14-05'}

In [19]:
# 유로4 / result파일
# 제작사명 : 재규어 / (주)볼보자동차코리아
# 차명으로 매칭
# {'재규어 XJ 2.7D' : '7MY-PA-14-7', '재규어 X-TYPE 2.2D' : '8MY-PA-14-04', '재규어 XF 2.7D' : '8MY-PA-14-05'}

In [20]:
# 유로4 / result파일
# 제작사명 : 포드 / 포드세일즈서비스코리아(유)
# 차명으로 매칭
# {'에스맥스' : '8MY-FK-14-1', '몬데오' : '8MY-FK-14-2'}

In [21]:
# 유로4 / result파일
# 제작사명 : 푸조 / 한불모터스(주)
# 배기량
# {1997 : '5MY-HB-14-1', 2721 : '5MY-HB-14-4', 1560 : '8MY-HB-14-1'}

In [22]:
nad.loc[nad['제작사명'] == '한불모터스(주)', '배기량'].unique()

array([1560., 1997., 2721.])

In [23]:
nad['제작사명'].unique()

array(['주식회사 카셈(KASEM Co.,Ltd)', '에프씨에이코리아(주)', '한불모터스(주)', '한국상용차(주)',
       '(주)볼보자동차코리아', '자기인증면제차량', '한국특장기술(주)', '(주)재규어랜드로버코리아',
       '더유니코오토(주)', '포드세일즈서비스코리아(유)', '비엠더블유코리아(주)', '(주)무빙애드', '(주) 오텍',
       '주식회사 유아이테크', '동우인더스(주)', '(주) 대진에스티씨', '한아에스에스(주)', '(주)세인이엔지',
       '(주)크린텍', '부커셰링코리아 (주)', '라인호(주)', '한국오토모빌얼라이언스(주)', '(주)중평',
       '스카니아코리아그룹(주)', '(주)한국토미', '(주) 메인모터스', '현대자동차(주)', '(주)함코',
       '볼보트럭코리아(주)', '주식회사 평강비아이엠(B.I.M)', '녹산대진특장차', '대덕',
       'SK에너지(주)울산COMPLEX', '디에스아이코리아피티와이엘티디', '씨엔에스코퍼레이션(주)', '영원과학(주)',
       '(주)동해기계항공', '네오플란오토모빌코리아(주)', '(주)케이지비고려골든박스', '한국도로공사',
       '(주)에버다임', '(주)나노메딕스', '대동안전(주)', '(주)한일', '(주)동진특수', '(주)뉴테크특장',
       '한국공항공사', '(주)포멕특장', '지에스칼텍스(주)', '에스티에이컴퍼니(주)', '건민특장 주식회사',
       '(주)방원테크', '주식회사 우레아텍', '쌍용자동차(주)', '한국아이비금융(주)', '이텍산업 주식회사', nan,
       '로쏘엠', '해광산업사', '(주)화이어텍', '대지정공(주)', '(주)세기통운', '강원도청',
       '한성자동차(주)', '(주)우성특장', '(주) 골드밴', '서울특별시소방재난본부', '충청남도청',
       '주식회사 한서정공', '전라남도소방본부', '(주)우리특장', '비스너코리아 주식회사', '한국상용트럭(주)',
       '디앨 주식회사', '(주)호룡', '성진지오텍(주)', '서울시보건환경연구원', '신아특장', '(주)지엠케이',
       '(주)프로덕션툴즈', '정부쓰리축', '(주)동방', '기아자동차(주)', '대한예수교장로회평강제일교회',
       '한빛테크원(주)', '타타대우상용차(주)', '길우상사(주)', '르노삼성자동차(주)', '한국지엠주식회사',
       '서울시티투어버스(주)', '신정개발특장차 주식회사'], dtype=object)

In [24]:
# 2129, 5021 (y, n)
productor = '에프씨에이코리아(주)'
dict1 = {'300C' : '6MY-DK-14-1', '짚 커맨더' : '6MY-DK-14-2', '니트로' : '7MY-DK-14-4', '짚 니트로' : '7MY-DK-14-4', '짚 랭글러' : '7MY-DK-14-5', 
         '짚그랜드체로키' : '8MY-DK-14-01', '짚 그랜드 체로키' : '8MY-DK-14-01', '그랜드 보이저' : '8MY-DK-14-02', '세브링' : '8MY-DK-14-06'}
for k, v in dict1.items():
    nad.loc[(nad['제작사명'] == productor) & (nad['차명_x'] == k), '배인번호_수정'] = v

In [26]:
# 3265, 3885
productor = '(주)볼보자동차코리아'
dict2 = {'볼보 S60D5' : '5MY-PA-14-17', '볼보 S80D5' : '6MY-PA-14-4', '볼보 XC70D5' : '8MY-PA-14-03', '볼보 XC60D5' : '9MY-PA-13-01'}
for k, v in dict2.items():
    nad.loc[(nad['제작사명'] == productor) & (nad['차명_x'] == k), '배인번호_수정'] = v

In [28]:
# 3268, 3882
productor = '(주)재규어랜드로버코리아'
dict3 = {'레인지로버 스포츠 TDV6' : '7MY-PA-14-2'}
for k, v in dict3.items():
    nad.loc[(nad['제작사명'] == productor) & (nad['차명_x'] == k), '배인번호_수정'] = v

In [30]:
# 3539, 3611
productor = '(주)재규어랜드로버코리아'
dict4 = {'재규어 XJ 2.7D' : '7MY-PA-14-7', '재규어 X-TYPE 2.2D' : '8MY-PA-14-04', '재규어 XF 2.7D' : '8MY-PA-14-05'}
for k, v in dict4.items():
    nad.loc[(nad['제작사명'] == productor) & (nad['차명_x'] == k), '배인번호_수정'] = v

In [32]:
# 3637, 3513
productor = '(주)볼보자동차코리아'
dict5 = {'재규어 XJ 2.7D' : '7MY-PA-14-7', '재규어 X-TYPE 2.2D' : '8MY-PA-14-04', '재규어 XF 2.7D' : '8MY-PA-14-05'}
for k, v in dict5.items():
    nad.loc[(nad['제작사명'] == productor) & (nad['차명_x'] == k), '배인번호_수정'] = v

In [34]:
# 3736, 3414
productor = '포드세일즈서비스코리아(유)'
dict6 = {'에스맥스' : '8MY-FK-14-1', '몬데오' : '8MY-FK-14-2'}
for k, v in dict6.items():
    nad.loc[(nad['제작사명'] == productor) & (nad['차명_x'] == k), '배인번호_수정'] = v

In [36]:
# 6294, 856
productor = '한불모터스(주)'
dict7 = {1997 : '5MY-HB-14-1', 2721 : '5MY-HB-14-4', 1560 : '8MY-HB-14-1'}
for k, v in dict7.items():
    nad.loc[(nad['제작사명'] == productor) & (nad['배기량'] == k), '배인번호_수정'] = v

In [37]:
nad1y = nad.loc[nad['배인번호_수정'].isnull() == False].reset_index(drop=True)
nad1n = nad.loc[nad['배인번호_수정'].isnull() == True].reset_index(drop=True)
nad1y.shape, nad1n.shape

((6294, 69), (856, 69))

#### [출력] 처리된 미기입 차량1

In [38]:
nad1y.to_csv(os.path.join(nad_fold, 'nad1y.csv'), index=False, encoding='cp949')
nad1n.to_csv(os.path.join(nad_fold, 'nad1n.csv'), index=False, encoding='cp949')

### 2\. 정상 데이터와 비교
- 동일 제번, 자동차형식, 엔진형식으로 매칭 : 5개 매칭
- 동일 자동차형식, 엔진형식으로 매칭 : 1917개 매칭

In [39]:
norm.drop_duplicates(['배출가스인증번호', '제원관리번호', '자동차형식', '엔진형식_x']).shape

(4461, 69)

In [40]:
match_data = norm.drop_duplicates(['배출가스인증번호', '제원관리번호', '자동차형식', '엔진형식_x'])[['배출가스인증번호', '제원관리번호', '자동차형식', '엔진형식_x']].values
match_data[:3]

array([['4MY-AD-20', 2420000100031305, '4F', 'BMK'],
       ['4MY-DC-33', 'A0310006701423306', 'K9ARF5', 'DV11'],
       ['4MY-PA-06', 920000300131205, '2.0LN5DR', '204D']], dtype=object)

In [41]:
for emis, no, car, engine in tqdm(match_data):
    # nad1n.loc[(nad1n['제원관리번호'] == no) & (nad1n['자동차형식'] == car) & (nad1n['엔진형식_x'] == engine), '배출가스인증번호'] = emis
    nad1n.loc[(nad1n['자동차형식'] == car) & (nad1n['엔진형식_x'] == engine), '배인번호_수정'] = emis

100%|██████████| 4461/4461 [00:02<00:00, 1784.18it/s]

In [42]:
nad2y = nad1n.loc[nad1n['배인번호_수정'].isnull() == False].reset_index(drop=True)
nad2n = nad1n.loc[nad1n['배인번호_수정'].isnull() == True].reset_index(drop=True)
nad2y.shape, nad2n.shape

((141, 69), (715, 69))

In [43]:
nad2y['제작사명'].unique()

array(['(주)볼보자동차코리아', '비엠더블유코리아(주)', '자기인증면제차량', '볼보트럭코리아(주)',
       '르노삼성자동차(주)', '현대자동차(주)', '한국지엠주식회사', '기아자동차(주)'], dtype=object)

#### [출력] 처리된 미기입 차량2

In [44]:
nad2y.to_csv(os.path.join(nad_fold, 'nad2y.csv'), index=False, encoding='cp949')
nad2n.to_csv(os.path.join(nad_fold, 'nad2n.csv'), index=False, encoding='cp949')

### 매칭과정 후 남은 데이터 확인

In [45]:
nad2n['제작사명'].unique()

array(['주식회사 카셈(KASEM Co.,Ltd)', '한국상용차(주)', '자기인증면제차량', '한국특장기술(주)',
       '더유니코오토(주)', '(주)재규어랜드로버코리아', '비엠더블유코리아(주)', '(주)무빙애드', '(주) 오텍',
       '주식회사 유아이테크', '(주)볼보자동차코리아', '동우인더스(주)', '(주) 대진에스티씨', '한아에스에스(주)',
       '(주)세인이엔지', '(주)크린텍', '부커셰링코리아 (주)', '라인호(주)', '한국오토모빌얼라이언스(주)',
       '(주)중평', '스카니아코리아그룹(주)', '(주)한국토미', '(주) 메인모터스', '현대자동차(주)',
       '(주)함코', '주식회사 평강비아이엠(B.I.M)', '녹산대진특장차', '대덕',
       'SK에너지(주)울산COMPLEX', '디에스아이코리아피티와이엘티디', '씨엔에스코퍼레이션(주)', '영원과학(주)',
       '(주)동해기계항공', '네오플란오토모빌코리아(주)', '(주)케이지비고려골든박스', '한국도로공사',
       '(주)에버다임', '(주)나노메딕스', '대동안전(주)', '(주)한일', '(주)동진특수', '(주)뉴테크특장',
       '한국공항공사', '(주)포멕특장', '지에스칼텍스(주)', '에스티에이컴퍼니(주)', '건민특장 주식회사',
       '(주)방원테크', '주식회사 우레아텍', '쌍용자동차(주)', '한국아이비금융(주)', '볼보트럭코리아(주)',
       '이텍산업 주식회사', nan, '로쏘엠', '해광산업사', '(주)화이어텍', '대지정공(주)', '(주)세기통운',
       '강원도청', '한성자동차(주)', '(주)우성특장', '(주) 골드밴', '서울특별시소방재난본부', '충청남도청',
       '주식회사 한서정공', '전라남도소방본부', '(주)우리특장', '비스너코리아 주식회사', '한국상용트럭(주)',
       '에프씨에이코리아(주)', '디앨 주식회사', '(주)호룡', '성진지오텍(주)', '서울시보건환경연구원',
       '신아특장', '(주)지엠케이', '(주)프로덕션툴즈', '정부쓰리축', '(주)동방', '기아자동차(주)',
       '대한예수교장로회평강제일교회', '한빛테크원(주)', '타타대우상용차(주)', '길우상사(주)',
       '서울시티투어버스(주)', '신정개발특장차 주식회사'], dtype=object)

In [46]:
productor = '비엠더블유코리아(주)'

In [47]:
nad2n.loc[nad2n['제작사명'] == productor, ['제원관리번호', '자동차형식', '엔진형식_x', '차명_x']]

                제원관리번호 자동차형식 엔진형식_x         차명_x
13   00120002500001308  FG61  306D3  BMW X6 3.0d
38   00120002500001308  FG61  306D3  BMW X6 3.0d
39   00120002500001308  FG61  306D3  BMW X6 3.0d
40   00120002500001308  FG61  306D3  BMW X6 3.0d
76   00120002500001308  FG61  306D3  BMW X6 3.0d
..                 ...   ...    ...          ...
664  00120002500001308  FG61  306D3  BMW X6 3.0d
670  00120002500001308  FG61  306D3  BMW X6 3.0d
681  00120002500001308  FG61  306D3  BMW X6 3.0d
685  00120002500001308  FG61  306D3  BMW X6 3.0d
692  00120002500001308  FG61  306D3  BMW X6 3.0d

[71 rows x 4 columns]

In [48]:
# nad2n에서 정상 파일과 제원관리번호로 매칭되는지 여부 확인
for one in nad2n.loc[nad2n['제작사명'] == productor, ['제원관리번호', '자동차형식', '엔진형식_x', '차명_x']]['제원관리번호'].unique():
    if norm.loc[norm['제원관리번호'] == one, ['자동차형식', '엔진형식_x', '차명_x']].shape[0] != 0:
        print(one)

In [49]:
# nad2n에서 정상 파일과 자동차형식 매칭되는지 여부 확인
for one in nad2n.loc[nad2n['제작사명'] == productor, ['제원관리번호', '자동차형식', '엔진형식_x', '차명_x']]['자동차형식'].unique():
    if norm.loc[norm['자동차형식'] == one, ['자동차형식', '엔진형식_x', '차명_x']].shape[0] != 0:
        print(one)

In [50]:
# nad2n에서 정상 파일과 엔진형식 매칭되는지 여부 확인
for one in nad2n.loc[nad2n['제작사명'] == productor, ['제원관리번호', '자동차형식', '엔진형식_x', '차명_x']]['엔진형식_x'].unique():
    if norm.loc[norm['엔진형식_x'] == one, ['자동차형식', '엔진형식_x', '차명_x']].shape[0] != 0:
        print(one)

306D3

In [51]:
nad2n.loc[(nad2n['제작사명'] == productor) & (nad2n['엔진형식_x'] == '306D3'), ['제원관리번호', '자동차형식', '엔진형식_x', '차명_x']].shape

(71, 4)

In [52]:
productor = '스카니아코리아그룹(주)'

In [53]:
nad2n.loc[nad2n['제작사명'] == productor, ['제원관리번호', '자동차형식', '엔진형식_x', '차명_x']].shape

(30, 4)

In [54]:
# nad2n(스카니아코리아그룹(주))에서 정상 파일과 제원관리번호로 매칭되는지 여부 확인
for one in nad2n.loc[nad2n['제작사명'] == productor, ['제원관리번호', '자동차형식', '엔진형식_x', '차명_x']]['제원관리번호'].unique():
    if norm.loc[norm['제원관리번호'] == one, ['자동차형식', '엔진형식_x', '차명_x']].shape[0] != 0:
        print(one)

In [55]:
# nad2n(스카니아코리아그룹(주))에서 정상 파일과 자동차형식 매칭되는지 여부 확인
for one in nad2n.loc[nad2n['제작사명'] == productor, ['제원관리번호', '자동차형식', '엔진형식_x', '차명_x']]['자동차형식'].unique():
    if norm.loc[norm['자동차형식'] == one, ['자동차형식', '엔진형식_x', '차명_x']].shape[0] != 0:
        print(one)

In [56]:
# nad2n(스카니아코리아그룹(주))에서 정상 파일과 엔진형식 매칭되는지 여부 확인
for one in nad2n.loc[nad2n['제작사명'] == productor, ['제원관리번호', '자동차형식', '엔진형식_x', '차명_x']]['엔진형식_x'].unique():
    if norm.loc[norm['엔진형식_x'] == one, ['자동차형식', '엔진형식_x', '차명_x']].shape[0] != 0:
        print(one)

In [57]:
productor = '현대자동차(주)'

In [58]:
nad2n.loc[nad2n['제작사명'] == productor, ['제원관리번호', '자동차형식', '엔진형식_x', '차명_x']].shape

(9, 4)

In [59]:
# nad2n에서 정상 파일과 제원관리번호로 매칭되는지 여부 확인
for one in nad2n.loc[nad2n['제작사명'] == productor, ['제원관리번호', '자동차형식', '엔진형식_x', '차명_x']]['제원관리번호'].unique():
    if norm.loc[norm['제원관리번호'] == one, ['자동차형식', '엔진형식_x', '차명_x']].shape[0] != 0:
        print(one)

In [60]:
# nad2n에서 정상 파일과 자동차형식 매칭되는지 여부 확인
for one in nad2n.loc[nad2n['제작사명'] == productor, ['제원관리번호', '자동차형식', '엔진형식_x', '차명_x']]['자동차형식'].unique():
    if norm.loc[norm['자동차형식'] == one, ['자동차형식', '엔진형식_x', '차명_x']].shape[0] != 0:
        print(one)

In [61]:
# nad2n에서 정상 파일과 엔진형식 매칭되는지 여부 확인
for one in nad2n.loc[nad2n['제작사명'] == productor, ['제원관리번호', '자동차형식', '엔진형식_x', '차명_x']]['엔진형식_x'].unique():
    if norm.loc[norm['엔진형식_x'] == one, ['자동차형식', '엔진형식_x', '차명_x']].shape[0] != 0:
        print(one)

D4CB
D6CC
D4DD
D6GA

In [62]:
nad2n.loc[(nad2n['제작사명'] == productor) & ( (nad2n['엔진형식_x'] == 'D4CB') | (nad2n['엔진형식_x'] == 'D6CC') | (nad2n['엔진형식_x'] == 'D4DD') | (nad2n['엔진형식_x'] == 'D6GA')), ['제원관리번호', '자동차형식', '엔진형식_x', '차명_x']].shape

(6, 4)

In [63]:
productor = '쌍용자동차(주)'

In [64]:
nad2n.loc[nad2n['제작사명'] == productor, ['제원관리번호', '자동차형식', '엔진형식_x', '차명_x']]

             제원관리번호      자동차형식 엔진형식_x   차명_x
254  10038800020000  KJ-DMB2-5    662  코란도KJ

In [65]:
# nad2n에서 정상 파일과 제원관리번호로 매칭되는지 여부 확인
for one in nad2n.loc[nad2n['제작사명'] == productor, ['제원관리번호', '자동차형식', '엔진형식_x', '차명_x']]['제원관리번호'].unique():
    if norm.loc[norm['제원관리번호'] == one, ['자동차형식', '엔진형식_x', '차명_x']].shape[0] != 0:
        print(one)

In [66]:
# nad2n에서 정상 파일과 자동차형식 매칭되는지 여부 확인
for one in nad2n.loc[nad2n['제작사명'] == productor, ['제원관리번호', '자동차형식', '엔진형식_x', '차명_x']]['자동차형식'].unique():
    if norm.loc[norm['자동차형식'] == one, ['자동차형식', '엔진형식_x', '차명_x']].shape[0] != 0:
        print(one)

In [67]:
# nad2n에서 정상 파일과 엔진형식 매칭되는지 여부 확인
for one in nad2n.loc[nad2n['제작사명'] == productor, ['제원관리번호', '자동차형식', '엔진형식_x', '차명_x']]['엔진형식_x'].unique():
    if norm.loc[norm['엔진형식_x'] == str(one), ['자동차형식', '엔진형식_x', '차명_x']].shape[0] != 0:
        print(one)

In [68]:
productor = '한성자동차(주)'

In [69]:
nad2n.loc[nad2n['제작사명'] == productor, ['제원관리번호', '자동차형식', '엔진형식_x', '차명_x']]

                제원관리번호    자동차형식   엔진형식_x    차명_x
357  00031124018881309  211 020  642 920  벤츠E280

In [70]:
# nad2n에서 정상 파일과 제원관리번호로 매칭되는지 여부 확인
for one in nad2n.loc[nad2n['제작사명'] == productor, ['제원관리번호', '자동차형식', '엔진형식_x', '차명_x']]['제원관리번호'].unique():
    if norm.loc[norm['제원관리번호'] == one, ['자동차형식', '엔진형식_x', '차명_x']].shape[0] != 0:
        print(one)

In [71]:
# nad2n에서 정상 파일과 자동차형식 매칭되는지 여부 확인
for one in nad2n.loc[nad2n['제작사명'] == productor, ['제원관리번호', '자동차형식', '엔진형식_x', '차명_x']]['자동차형식'].unique():
    if norm.loc[norm['자동차형식'] == one, ['자동차형식', '엔진형식_x', '차명_x']].shape[0] != 0:
        print(one)

In [72]:
# nad2n에서 정상 파일과 엔진형식 매칭되는지 여부 확인
for one in nad2n.loc[nad2n['제작사명'] == productor, ['제원관리번호', '자동차형식', '엔진형식_x', '차명_x']]['엔진형식_x'].unique():
    if norm.loc[norm['엔진형식_x'] == one, ['자동차형식', '엔진형식_x', '차명_x']].shape[0] != 0:
        print(one)

In [73]:
productor = '기아자동차(주)'

In [74]:
nad2n.loc[nad2n['제작사명'] == productor, ['제원관리번호', '자동차형식', '엔진형식_x', '차명_x']]

                제원관리번호        자동차형식 엔진형식_x     차명_x
660     10000600210000      EZB-75S     ZB  기아뉴복사17
709  A0110003107913106  SET22E-DRV7   D4BH  봉고Ⅲ 운교차

In [75]:
# nad2n에서 정상 파일과 제원관리번호로 매칭되는지 여부 확인
for one in nad2n.loc[nad2n['제작사명'] == productor, ['제원관리번호', '자동차형식', '엔진형식_x', '차명_x']]['제원관리번호'].unique():
    if norm.loc[norm['제원관리번호'] == one, ['자동차형식', '엔진형식_x', '차명_x']].shape[0] != 0:
        print(one)

In [76]:
# nad2n에서 정상 파일과 자동차형식 매칭되는지 여부 확인
for one in nad2n.loc[nad2n['제작사명'] == productor, ['제원관리번호', '자동차형식', '엔진형식_x', '차명_x']]['자동차형식'].unique():
    if norm.loc[norm['자동차형식'] == one, ['자동차형식', '엔진형식_x', '차명_x']].shape[0] != 0:
        print(one)

In [77]:
# nad2n에서 정상 파일과 엔진형식 매칭되는지 여부 확인
for one in nad2n.loc[nad2n['제작사명'] == productor, ['제원관리번호', '자동차형식', '엔진형식_x', '차명_x']]['엔진형식_x'].unique():
    if norm.loc[norm['엔진형식_x'] == one, ['자동차형식', '엔진형식_x', '차명_x']].shape[0] != 0:
        print(one)

In [78]:
productor = '타타대우상용차(주)'

In [79]:
nad2n.loc[nad2n['제작사명'] == productor, ['제원관리번호', '자동차형식', '엔진형식_x', '차명_x']]

                제원관리번호   자동차형식     엔진형식_x          차명_x
704  A0310007200663306  C3AHF2  F4AE0681B    대우5톤장축카고트럭
710  A0310007000643306  F7CJF5       DL08  대우9.5톤장축카고트럭
711  A0310007001823307  F7CKF5       DL08  대우9.5톤장축카고트럭

In [80]:
# nad2n에서 정상 파일과 제원관리번호로 매칭되는지 여부 확인
for one in nad2n.loc[nad2n['제작사명'] == productor, ['제원관리번호', '자동차형식', '엔진형식_x', '차명_x']]['제원관리번호'].unique():
    if norm.loc[norm['제원관리번호'] == one, ['자동차형식', '엔진형식_x', '차명_x']].shape[0] != 0:
        print(one)

In [81]:
# nad2n에서 정상 파일과 자동차형식 매칭되는지 여부 확인
for one in nad2n.loc[nad2n['제작사명'] == productor, ['제원관리번호', '자동차형식', '엔진형식_x', '차명_x']]['자동차형식'].unique():
    if norm.loc[norm['자동차형식'] == one, ['자동차형식', '엔진형식_x', '차명_x']].shape[0] != 0:
        print(one)

In [82]:
# nad2n에서 정상 파일과 엔진형식 매칭되는지 여부 확인
for one in nad2n.loc[nad2n['제작사명'] == productor, ['제원관리번호', '자동차형식', '엔진형식_x', '차명_x']]['엔진형식_x'].unique():
    if norm.loc[norm['엔진형식_x'] == one, ['자동차형식', '엔진형식_x', '차명_x']].shape[0] != 0:
        print(one)

DL08

In [83]:
nad2n.loc[(nad2n['제작사명'] == productor) & (nad2n['엔진형식_x'] == 'DL08'), ['제원관리번호', '자동차형식', '엔진형식_x', '차명_x']].shape

(2, 4)

#### 제작사 이상 차량 배인번호 확인

In [84]:
norm.columns

Index(['차대번호', '차량번호_x', '제원관리번호', '차종_원본', '용도', '최초등록일', '연식', '제작일자',
       '검사유효일', '배출가스인증번호', '등급', '차명_x', '차종분류', '차종유형', '자동차형식', '제작사명',
       '연료', '엔진형식_x', '총중량', '적재중량', '엔진출력', '배기량', '법정동코드', '시도명', '시군구명',
       '소유자구분', '말소여부', '일치유무', '사용연료', '주행거리', '차명_y', '차량번호_y', '차종', '차량연식',
       '엔진형식_y', '검사방법', '검사일자', '검사종류', '검사판정시각', '검사판정', '산소값', '이산화탄소값',
       '무부하매연판정1', '무부하매연판정2', '무부하매연판정3', '무부하매연판정4', '무부하매연판정5', '무부하매연판정6',
       '무부하매연허용치1', '무부하매연허용치2', '무부하매연허용치3', '무부하매연허용치4', '무부하매연허용치5',
       '무부하매연허용치6', '무부하매연측정치1', '무부하매연측정치2', '무부하매연측정치3', '무부하매연측정치4',
       '무부하매연측정치5', '무부하매연측정치6', '정기정밀', 'vin10', 'vin_year', 'DPF유무',
       '배인번호_수정', '등급_수정', 'DPF유무_수정', '확인유무', '비고'],
      dtype='object')

In [85]:
norm.loc[norm['차량번호_x'] == '97머1186', ['차량번호_x', '배출가스인증번호', '배인번호_수정', '차명_x', '배기량']]

Empty DataFrame
Columns: [차량번호_x, 배출가스인증번호, 배인번호_수정, 차명_x, 배기량]
Index: []

In [86]:
weird.loc[weird['차량번호_x'] == '97머1186', ['차량번호_x', '배출가스인증번호', '배인번호_수정', '차명_x', '배기량', '제작사명']]

       차량번호_x      배출가스인증번호  배인번호_수정       차명_x   배기량         제작사명
4007  97머1186  7MY-HD-24-31      NaN  부커셰링노면청소차  9960  부커셰링코리아 (주)

In [87]:
weird.loc[weird['제작사명'] == '한불모터스(주)', ['차량번호_x', '배출가스인증번호', '배인번호_수정', '차명_x', '배기량', '제작사명']]

    차량번호_x      배출가스인증번호  배인번호_수정                 차명_x   배기량      제작사명
0  49서0454  5MY-HD-24-59      NaN  푸조 407SW HDi FAP A6  1997  한불모터스(주)
1  18고1834  5MY-HD-24-59      NaN  푸조 407SW HDi FAP A6  1997  한불모터스(주)
2  48무1069  5MY-HD-24-59      NaN  푸조 407SW HDi FAP A6  1997  한불모터스(주)
3  08가7994  5MY-HD-24-59      NaN  푸조 407SW HDi FAP A6  1997  한불모터스(주)
4  11더6069  5MY-HD-24-59      NaN  푸조 407SW HDi FAP A6  1997  한불모터스(주)
5  39거7049  5MY-HD-24-59      NaN  푸조 407SW HDi FAP A6  1997  한불모터스(주)
6  17우0145  5MY-HD-24-59      NaN  푸조 407SW HDi FAP A6  1997  한불모터스(주)
7  43마3375  5MY-HD-24-59      NaN  푸조 407SW HDi FAP A6  1997  한불모터스(주)

In [88]:
norm.loc[(norm['배출가스인증번호'] == '7MY-KM-14-63') & (norm['차명_x'] == '짚 랭글러'), ['차량번호_x', '배출가스인증번호', '배인번호_수정', '차명_x']]

Empty DataFrame
Columns: [차량번호_x, 배출가스인증번호, 배인번호_수정, 차명_x]
Index: []

In [89]:
weird.loc[(weird['배출가스인증번호'] == '7MY-KM-14-63') & (weird['차명_x'] == '짚 랭글러'), ['차량번호_x', '배출가스인증번호', '배인번호_수정', '차명_x']]

       차량번호_x      배출가스인증번호  배인번호_수정   차명_x
4117  67너1717  7MY-KM-14-63      NaN  짚 랭글러
4118  38고9685  7MY-KM-14-63      NaN  짚 랭글러
4119  58부2620  7MY-KM-14-63      NaN  짚 랭글러
4120  28가2625  7MY-KM-14-63      NaN  짚 랭글러
4121  13어3961  7MY-KM-14-63      NaN  짚 랭글러
...       ...           ...      ...    ...
4238  37너6849  7MY-KM-14-63      NaN  짚 랭글러
4239  35로2361  7MY-KM-14-63      NaN  짚 랭글러
4240  27소2023  7MY-KM-14-63      NaN  짚 랭글러
4241  26누9305  7MY-KM-14-63      NaN  짚 랭글러
4242  37버3066  7MY-KM-14-63      NaN  짚 랭글러

[124 rows x 4 columns]

In [90]:
nad1y.loc[nad1y['차량번호_x'] == '42오6988', ['배출가스인증번호', '배인번호_수정']]

Empty DataFrame
Columns: [배출가스인증번호, 배인번호_수정]
Index: []

In [91]:
nad2y.loc[nad2y['차량번호_x'] == '48누2889', ['배출가스인증번호', '배인번호_수정']]

Empty DataFrame
Columns: [배출가스인증번호, 배인번호_수정]
Index: []

## 제작사 이상
- 4849 -> 4704, 145 개 처리

### [출력] weird 파일

In [131]:
weird.to_csv(os.path.join(weird_fold, 'weird.csv'), index=False, encoding='cp949')

In [132]:
weird.columns

Index(['차대번호', '차량번호_x', '제원관리번호', '차종_원본', '용도', '최초등록일', '연식', '제작일자',
       '검사유효일', '배출가스인증번호', '등급', '차명_x', '차종분류', '차종유형', '자동차형식', '제작사명',
       '연료', '엔진형식_x', '총중량', '적재중량', '엔진출력', '배기량', '법정동코드', '시도명', '시군구명',
       '소유자구분', '말소여부', '일치유무', '사용연료', '주행거리', '차명_y', '차량번호_y', '차종', '차량연식',
       '엔진형식_y', '검사방법', '검사일자', '검사종류', '검사판정시각', '검사판정', '산소값', '이산화탄소값',
       '무부하매연판정1', '무부하매연판정2', '무부하매연판정3', '무부하매연판정4', '무부하매연판정5', '무부하매연판정6',
       '무부하매연허용치1', '무부하매연허용치2', '무부하매연허용치3', '무부하매연허용치4', '무부하매연허용치5',
       '무부하매연허용치6', '무부하매연측정치1', '무부하매연측정치2', '무부하매연측정치3', '무부하매연측정치4',
       '무부하매연측정치5', '무부하매연측정치6', '정기정밀', 'vin10', 'vin_year', 'DPF유무',
       '배인번호_수정', '등급_수정', 'DPF유무_수정', '확인유무', '비고'],
      dtype='object')

### 1\. 유로4인증대장과 매칭

In [133]:
weird['제작사명'].unique()

array(['한불모터스(주)', '(주)팔도', '비엠더블유코리아(주)', '영일특장(주)', '한국쓰리축공업(주)',
       '한국특장기술(주)', '(주)한국토미', '(주)함코', '(주)한국메리트특장', '(주)한국쓰리축', '정부쓰리축',
       '(주)방원테크', '(주)화이어텍', '(주) 에이엠특장', '원천특장공업주식회사', '(주)새한에어서스펜션',
       '(주)동양특장', '(주)포멕특장', '한빛테크원(주)', '(유)삼능기계', '(주)부성특장', '(주)우양',
       '(주)나노메딕스', '(주)수산중공업', '(주) 두성하-드텍', '한신특장', '(주)대양특장',
       '(주) 강남기공', '(주)지엠케이', '(주)광림', '(주) 진화이앤씨', '(주)에이엔디오토모빌',
       '(주)우리특장', '정우정공 (주)', '탱크코리아(주)', '한국특장 (주)', '대지정공(주)',
       '(주) 삼오특장자동차', '부커셰링코리아 (주)', '(주) 골드밴', '삼우중공업(주)', '한국후3축',
       '베스텍특장', '(주)호룡', '(주)신광테크놀러지', '신정개발특장차 주식회사', '(주)화인특장',
       '고려특장(주)', '(주)우성특장', '주식회사 씨엔에스티', '해광산업사', '일성산업', '(주)서보테크',
       '건민특장 주식회사', '대경특장(주)', '에스알(주)', '(주)노바스코리아', '동양자동차공업(주)',
       '수성특장(주)', '선진정공(주)', '(주)태경이엔지', '(주)드림티엔에스', '동아탑정비공업사',
       '(주)한국차체', '카고텍코리아(주)', '광림특장차 주식회사', '(주)수산씨에스엠', '(주)세인이엔지',
       '주식회사 유아이테크', '씨제이대한통운(주)', '코리아특장', '형제특장 주식회사',
       '주식회사 카셈(KASEM Co.,Ltd)', '대흥특장정공 (주)', '유비통상(주)', '계백자동차(주)',
       '남영코리아화이어트럭(주)', '(주) 고호산업', '대한특장', '카써스(주)', '(유)대원오토',
       '르노삼성자동차(주)', '(주) 맥써버모터스', '로쏘엠', '(주)알텍', '에프씨에이코리아(주)',
       '기아자동차(주)', '(주) 오텍', '창림모아츠(주)', '세화자동차', '(주)마노', '(주)맥스리무진',
       '고려에스티엠(주)', '카올넷', '(주)세정모터스', '(주)엘위포투', nan, '(주)성진테크',
       '(주)밴텍캠핑카', '(주)애드터치', '해양산업', '씨엔라인', '원진(주)',
       '주식회사 평강비아이엠(B.I.M)', '엠에스특장공업(주)', '(주)동해기계항공', '(주)다산중공업',
       '신제일정공(주)', '주식회사 한서정공', '(주)삼성특장', '녹산대진특장차', '신성엔지니어링',
       '반도특장(주)', '(주)진우에스엠씨', '(주)에코카', '(주)뉴텍티앤엠', '주식회사 천하',
       '이텍산업 주식회사', '한아에스에스(주)', '제일F.R.P산업', '(주)가이젠캠핑카', '디앨 주식회사',
       '우림특장산업', '(주)화성특장', '(주)케이지비고려골든박스', '(주)에버다임', '(주)대진정공',
       '도원자동차공업 (주)', '한국상용트럭(주)', '(주)한성특장', '(주)미동이엔씨', '(주)뉴테크특장',
       '쌍용자동차(주)', '(주)사자후', '(주)무빙애드', '대구시소방본부', '(주)승신', '(주)에이엠티코리아',
       '드림특장(주)', '제이에스이엔지', '(주)용진특장', '(주)엠뱅크', '라헬(주)', '동아특장공업사',
       '현대자동차(주)', '(주)삼부'], dtype=object)

In [134]:
# 한불모터스(주)
# 비엠더블유코리아(주)
# 르노삼성자동차(주)
# 에프씨에이코리아(주)
# 기아자동차(주)
# 쌍용자동차(주)
# 현대자동차(주)

In [135]:
# 유로4 / result파일
# 제작사명 : 푸조 / 한불모터스(주)
# 배기량
# {1997 : '5MY-HB-14-1', 2721 : '5MY-HB-14-4', 1560 : '8MY-HB-14-1'}

In [136]:
# 유로4 / result파일
# 제작사명 : 크라이슬러 / 에프씨에이코리아(주)
# 차명으로 매칭
# {'300C' : '6MY-DK-14-1', '짚 커맨더' : '6MY-DK-14-2', '니트로' : '7MY-DK-14-4', '짚 니트로' : '7MY-DK-14-4', '짚 랭글러' : '7MY-DK-14-5', '짚그랜드체로키' : '8MY-DK-14-01, '짚 그랜드 체로키' : '8MY-DK-14-01', '그랜드 보이저' : '8MY-DK-14-02', '세브링' : '8MY-DK-14-06'}

In [137]:
# 8, 4841(y, n)
productor = '한불모터스(주)'
dict1 = {1997 : '5MY-HB-14-1', 2721 : '5MY-HB-14-4', 1560 : '8MY-HB-14-1'}
for k, v in dict1.items():
    weird.loc[(weird['제작사명'] == productor) & (weird['배기량'] == k), '배인번호_수정'] = v

In [139]:
# 132, 4717
productor = '에프씨에이코리아(주)'
dict2 = {'300C' : '6MY-DK-14-1', '짚 커맨더' : '6MY-DK-14-2', '니트로' : '7MY-DK-14-4', '짚 니트로' : '7MY-DK-14-4', '짚 랭글러' : '7MY-DK-14-5', 
         '짚그랜드체로키' : '8MY-DK-14-01', '짚 그랜드 체로키' : '8MY-DK-14-01', '그랜드 보이저' : '8MY-DK-14-02', '세브링' : '8MY-DK-14-06'}
for k, v in dict2.items():
    weird.loc[(weird['제작사명'] == productor) & (weird['차명_x'] == k), '배인번호_수정'] = v

In [140]:
weird1y = weird.loc[weird['배인번호_수정'].isnull() == False].reset_index(drop=True)
weird1n = weird.loc[weird['배인번호_수정'].isnull() == True].reset_index(drop=True)
weird1y.shape, weird1n.shape

((132, 69), (4717, 69))

In [141]:
weird.loc[weird['제작사명'] == '한불모터스(주)', ['배출가스인증번호', '배인번호_수정', '제작사명']].shape

(8, 3)

In [142]:
weird.loc[weird['제작사명'] == '에프씨에이코리아(주)', ['배출가스인증번호', '배인번호_수정', '제작사명', '차명_x']].shape

(127, 4)

In [143]:
weird.loc[(weird['제작사명'] == '에프씨에이코리아(주)') & (weird['차명_x'] == '짚 랭글러'), ['배출가스인증번호', '배인번호_수정', '제작사명', '차명_x']].shape

(124, 4)

In [144]:
weird['배인번호_수정'].isnull().sum()

4717

#### [출력] 처리된 제작사 이상 차량1

In [145]:
weird1y.to_csv(os.path.join(weird_fold, 'weird1y.csv'), index=False, encoding='cp949')
weird1n.to_csv(os.path.join(weird_fold, 'weird1n.csv'), index=False, encoding='cp949')

### 2\. 정상 데이터와 비교
- 총 4717
- 제번, 자형, 엔형 매칭 : 
- 자형, 엔형 매칭 : 13

In [146]:
for emis, no, car, engine in tqdm(match_data):
    # weird1n.loc[(weird1n['제원관리번호'] == no) & (weird1n['자동차형식'] == car) & (weird1n['엔진형식_x'] == engine), '배인번호_수정'] = emis
    weird1n.loc[(weird1n['자동차형식'] == car) & (weird1n['엔진형식_x'] == engine), '배인번호_수정'] = emis

100%|██████████| 4461/4461 [00:04<00:00, 989.79it/s]

In [147]:
weird2y = weird1n.loc[weird1n['배인번호_수정'].isnull() == False].reset_index(drop=True)
weird2n = weird1n.loc[weird1n['배인번호_수정'].isnull() == True].reset_index(drop=True)
weird2y.shape, weird2n.shape

((13, 69), (4704, 69))

#### [출력] 처리된 제작사 이상 차량2

In [148]:
weird2y.to_csv(os.path.join(weird_fold, 'weird2y.csv'), index=False, encoding='cp949')
weird2n.to_csv(os.path.join(weird_fold, 'weird2n.csv'), index=False, encoding='cp949')

### 남은 차량 중 메이저 제작사 확인
- 에프씨에이코리아(주), 기아자동차(주)

In [149]:
weird2n['제작사명'].unique()

array(['(주)팔도', '영일특장(주)', '한국쓰리축공업(주)', '한국특장기술(주)', '(주)한국토미', '(주)함코',
       '(주)한국메리트특장', '(주)한국쓰리축', '정부쓰리축', '(주)방원테크', '(주)화이어텍',
       '(주) 에이엠특장', '원천특장공업주식회사', '(주)새한에어서스펜션', '(주)동양특장', '(주)포멕특장',
       '한빛테크원(주)', '(유)삼능기계', '(주)부성특장', '(주)우양', '(주)나노메딕스', '(주)수산중공업',
       '(주) 두성하-드텍', '한신특장', '(주)대양특장', '(주) 강남기공', '(주)지엠케이', '(주)광림',
       '(주) 진화이앤씨', '(주)에이엔디오토모빌', '(주)우리특장', '정우정공 (주)', '탱크코리아(주)',
       '한국특장 (주)', '대지정공(주)', '(주) 삼오특장자동차', '부커셰링코리아 (주)', '(주) 골드밴',
       '삼우중공업(주)', '한국후3축', '베스텍특장', '(주)호룡', '(주)신광테크놀러지',
       '신정개발특장차 주식회사', '(주)화인특장', '고려특장(주)', '(주)우성특장', '주식회사 씨엔에스티',
       '해광산업사', '일성산업', '(주)서보테크', '건민특장 주식회사', '대경특장(주)', '에스알(주)',
       '(주)노바스코리아', '동양자동차공업(주)', '수성특장(주)', '선진정공(주)', '(주)태경이엔지',
       '(주)드림티엔에스', '동아탑정비공업사', '(주)한국차체', '카고텍코리아(주)', '광림특장차 주식회사',
       '(주)수산씨에스엠', '(주)세인이엔지', '주식회사 유아이테크', '씨제이대한통운(주)', '코리아특장',
       '형제특장 주식회사', '주식회사 카셈(KASEM Co.,Ltd)', '대흥특장정공 (주)', '유비통상(주)',
       '계백자동차(주)', '남영코리아화이어트럭(주)', '(주) 고호산업', '대한특장', '카써스(주)',
       '(유)대원오토', '(주) 맥써버모터스', '로쏘엠', '(주)알텍', '에프씨에이코리아(주)', '(주) 오텍',
       '창림모아츠(주)', '세화자동차', '(주)마노', '고려에스티엠(주)', '카올넷', '(주)세정모터스',
       '(주)엘위포투', nan, '(주)성진테크', '(주)밴텍캠핑카', '(주)애드터치', '기아자동차(주)',
       '해양산업', '씨엔라인', '원진(주)', '주식회사 평강비아이엠(B.I.M)', '엠에스특장공업(주)',
       '(주)동해기계항공', '(주)다산중공업', '신제일정공(주)', '주식회사 한서정공', '(주)삼성특장',
       '녹산대진특장차', '신성엔지니어링', '반도특장(주)', '(주)진우에스엠씨', '(주)에코카', '(주)뉴텍티앤엠',
       '주식회사 천하', '이텍산업 주식회사', '한아에스에스(주)', '제일F.R.P산업', '(주)가이젠캠핑카',
       '디앨 주식회사', '우림특장산업', '(주)화성특장', '(주)케이지비고려골든박스', '(주)에버다임',
       '(주)대진정공', '도원자동차공업 (주)', '한국상용트럭(주)', '(주)한성특장', '(주)미동이엔씨',
       '(주)뉴테크특장', '(주)사자후', '(주)무빙애드', '대구시소방본부', '(주)승신', '(주)에이엠티코리아',
       '드림특장(주)', '제이에스이엔지', '(주)용진특장', '(주)엠뱅크', '라헬(주)', '동아특장공업사'],
      dtype=object)

In [150]:
weird2n.loc[weird2n['제작사명'] == '에프씨에이코리아(주)', ['배출가스인증번호', '배인번호_수정', '제원관리번호', '자동차형식', '엔진형식_x', '차명_x']]

          배출가스인증번호 배인번호_수정           제원관리번호   자동차형식   엔진형식_x    차명_x
2104  7MY-DK-24-04     NaN  220003500014305  1844LS  OM501LA  Actros
2105  7MY-DK-24-04     NaN  220003500014305  1844LS  OM501LA  Actros
2106  7MY-DK-24-04     NaN  220003500014305  1844LS  OM501LA  Actros

In [151]:
weird2n.loc[weird2n['제작사명'] == '기아자동차(주)', ['배출가스인증번호', '배인번호_수정', '제원관리번호', '자동차형식', '엔진형식_x', '차명_x']]

          배출가스인증번호 배인번호_수정             제원관리번호          자동차형식 엔진형식_x       차명_x
2656  7MY-HD-14-68     NaN  A0110003121643212  PUL6BD-L9-LFT   D4CB  봉고Ⅲ 활어수송차

# 처리한 데이터 병합
- norm, error, nad1y, nad2y, nad2n, weird1y, weird2y, weird2n

- 파일 처리 과정
    - nad
        - nad1y
        - nad1n
            - nad2y
            - nad2n
    - weird
        - weird1y
        - weird1n
            - weird2y
            - weird2n

In [163]:
df = pd.concat([norm, error, nad1y, nad2y, nad2n, weird1y, weird2y, weird2n], ignore_index=True)
df.shape

(1153813, 69)

## [출력] 처리된 병합 파일

In [164]:
today_date = datetime.today().strftime("%Y.%m.%d_%p_%I.%M.%S")
today_date

'2023.03.10_AM_10.56.28'

In [165]:
# about 33s
df.to_csv(os.path.join(fold, f'4등급_차량_리스트_양식_result_처리_{today_date}.csv'), index=False, encoding='cp949')

# 조건별 파일 출력

## 3, 5 등급으로 등급 변경 차량
- 정상(norm)

In [166]:
norm.columns

Index(['차대번호', '차량번호_x', '제원관리번호', '차종_원본', '용도', '최초등록일', '연식', '제작일자',
       '검사유효일', '배출가스인증번호', '등급', '차명_x', '차종분류', '차종유형', '자동차형식', '제작사명',
       '연료', '엔진형식_x', '총중량', '적재중량', '엔진출력', '배기량', '법정동코드', '시도명', '시군구명',
       '소유자구분', '말소여부', '일치유무', '사용연료', '주행거리', '차명_y', '차량번호_y', '차종', '차량연식',
       '엔진형식_y', '검사방법', '검사일자', '검사종류', '검사판정시각', '검사판정', '산소값', '이산화탄소값',
       '무부하매연판정1', '무부하매연판정2', '무부하매연판정3', '무부하매연판정4', '무부하매연판정5', '무부하매연판정6',
       '무부하매연허용치1', '무부하매연허용치2', '무부하매연허용치3', '무부하매연허용치4', '무부하매연허용치5',
       '무부하매연허용치6', '무부하매연측정치1', '무부하매연측정치2', '무부하매연측정치3', '무부하매연측정치4',
       '무부하매연측정치5', '무부하매연측정치6', '정기정밀', 'vin10', 'vin_year', 'DPF유무',
       '배인번호_수정', '등급_수정', 'DPF유무_수정', '확인유무', '비고'],
      dtype='object')

In [202]:
select_col = ['차대번호', '차량번호_x', '제원관리번호', '차종_원본', '용도', '최초등록일', '연식', '제작일자',
       '검사유효일', '배출가스인증번호', '배인번호_수정', '등급', '등급_수정', '차명_x', '차종분류', '차종유형', '자동차형식', '제작사명',
       '연료', '엔진형식_x', '총중량', '적재중량', '엔진출력', '배기량', '법정동코드', '시도명', '시군구명',
       '소유자구분', '말소여부', '일치유무']

In [205]:
grade_chaneged = norm.loc[(norm['등급_수정'] == 3) | (norm['등급_수정'] == 5)]
grade_chaneged.shape

(4383, 69)

In [206]:
grade_chaneged = grade_chaneged[select_col]
grade_chaneged = grade_chaneged.rename(columns={'차량번호_x':'차량번호', '차명_x':'차명', '엔진형식_x':'엔진형식', '차종_원본':'차종'})
grade_chaneged.columns

Index(['차대번호', '차량번호', '제원관리번호', '차종', '용도', '최초등록일', '연식', '제작일자', '검사유효일',
       '배출가스인증번호', '배인번호_수정', '등급', '등급_수정', '차명', '차종분류', '차종유형', '자동차형식',
       '제작사명', '연료', '엔진형식', '총중량', '적재중량', '엔진출력', '배기량', '법정동코드', '시도명',
       '시군구명', '소유자구분', '말소여부', '일치유무'],
      dtype='object')

### [출력] 3, 5 등급 변경 차량

In [208]:
today_date = datetime.today().strftime("%Y.%m.%d_%p_%I.%M.%S")
today_date

'2023.03.10_PM_12.39.34'

In [209]:
grade_chaneged.to_csv(os.path.join(total_fold, f'3,5등급변경차량_{today_date}.csv'), index=False, encoding='cp949')

## 배인번호 변경된 차량
- 정상(norm)
- 미부여(nad) : nad1y, nad2y, nad2n
- 제작사이상(weird) : weird1y, weird2y, weird2n

In [210]:
norm_ch = norm.loc[norm['배출가스인증번호'] != norm['배인번호_수정']]
norm_ch.shape

(127823, 69)

In [211]:
nad1y.shape, nad2y.shape, weird1y.shape, weird2y.shape

((6294, 69), (141, 69), (132, 69), (13, 69))

In [212]:
emis_ch = pd.concat([norm_ch, nad1y, nad2y, weird1y, weird2y], ignore_index=True)
emis_ch.shape

(134403, 69)

In [213]:
emis_ch1 = emis_ch[select_col]
emis_ch1 = emis_ch1.rename(columns={'차량번호_x':'차량번호', '차명_x':'차명', '엔진형식_x':'엔진형식', '차종_원본':'차종'})
emis_ch1.columns

Index(['차대번호', '차량번호', '제원관리번호', '차종', '용도', '최초등록일', '연식', '제작일자', '검사유효일',
       '배출가스인증번호', '배인번호_수정', '등급', '등급_수정', '차명', '차종분류', '차종유형', '자동차형식',
       '제작사명', '연료', '엔진형식', '총중량', '적재중량', '엔진출력', '배기량', '법정동코드', '시도명',
       '시군구명', '소유자구분', '말소여부', '일치유무'],
      dtype='object')

### [출력] 배인번호 변경된 차량

In [214]:
today_date = datetime.today().strftime("%Y.%m.%d_%p_%I.%M.%S")
today_date

'2023.03.10_PM_12.39.59'

In [215]:
emis_ch.to_csv(os.path.join(total_fold, f'배인번호_변경된_차량_{today_date}.csv'), index=False, encoding='cp949')

In [216]:
emis_ch1.to_csv(os.path.join(total_fold, f'배인번호_변경된_차량_{today_date}.csv'), index=False, encoding='cp949')

## 나머지 차량
- 제작사이상(weird) : weird2n
- 미부여(nad) : nad2n
- 비정상(error)

In [217]:
weird2n.shape, nad2n.shape, error.shape

((4704, 69), (715, 69), (1309, 69))

In [218]:
rest = pd.concat([nad2n, error, weird2n], ignore_index=True)
rest.shape

(6728, 69)

In [219]:
rest1 = rest[select_col]
rest1 = rest1.rename(columns={'차량번호_x':'차량번호', '차명_x':'차명', '엔진형식_x':'엔진형식', '차종_원본':'차종'})
rest1.columns

Index(['차대번호', '차량번호', '제원관리번호', '차종', '용도', '최초등록일', '연식', '제작일자', '검사유효일',
       '배출가스인증번호', '배인번호_수정', '등급', '등급_수정', '차명', '차종분류', '차종유형', '자동차형식',
       '제작사명', '연료', '엔진형식', '총중량', '적재중량', '엔진출력', '배기량', '법정동코드', '시도명',
       '시군구명', '소유자구분', '말소여부', '일치유무'],
      dtype='object')

### [출력] 나머지 차량

In [220]:
today_date = datetime.today().strftime("%Y.%m.%d_%p_%I.%M.%S")
today_date

'2023.03.10_PM_12.40.05'

In [221]:
rest1.to_csv(os.path.join(total_fold, f'나머지_미부여_비정상_제작사이상_차량_{today_date}.csv'), index=False, encoding='cp949')

## 최종 차량 수 확인

In [222]:
norm.loc[norm['배출가스인증번호'] == norm['배인번호_수정']].shape[0] + emis_ch.shape[0] + rest.shape[0]

1153813

# CODE End