# Library

In [36]:
import pandas as pd
import os, datetime
import numpy as np
from tqdm import tqdm

# File Load
- [병합]4등급_차량_리스트_양식_result
- [배인번호]업체확인_리스트

In [2]:
fold = 'D:/data/big2/BD1_4등급_데이터_점검1'

In [3]:
# about 21s
file_name = '[병합]4등급_차량_리스트_양식_result.csv'
df = pd.read_csv(os.path.join(fold, file_name), encoding='cp949', low_memory=False)

In [4]:
file_name = '[배인번호]업체확인_리스트.xlsx'
mod = pd.read_excel(os.path.join(fold, file_name), sheet_name='확인')

In [5]:
df.shape, mod.shape

((1153813, 64), (1592, 11))

In [6]:
df.columns

Index(['차대번호', '차량번호_x', '제원관리번호', '차종_원본', '용도', '최초등록일', '연식', '제작일자',
       '검사유효일', '배출가스인증번호', '등급', '차명_x', '차종분류', '차종유형', '자동차형식', '제작사명',
       '연료', '엔진형식_x', '총중량', '적재중량', '엔진출력', '배기량', '법정동코드', '시도명', '시군구명',
       '소유자구분', '말소여부', '일치유무', '사용연료', '주행거리', '차명_y', '차량번호_y', '차종', '차량연식',
       '엔진형식_y', '검사방법', '검사일자', '검사종류', '검사판정시각', '검사판정', '산소값', '이산화탄소값',
       '무부하매연판정1', '무부하매연판정2', '무부하매연판정3', '무부하매연판정4', '무부하매연판정5', '무부하매연판정6',
       '무부하매연허용치1', '무부하매연허용치2', '무부하매연허용치3', '무부하매연허용치4', '무부하매연허용치5',
       '무부하매연허용치6', '무부하매연측정치1', '무부하매연측정치2', '무부하매연측정치3', '무부하매연측정치4',
       '무부하매연측정치5', '무부하매연측정치6', '정기정밀', 'vin10', 'vin_year', 'DPF유무'],
      dtype='object')

In [7]:
# 매칭조건 컬럼 : '배출가스인증번호', '자동차형식', '엔진형식_x'
# 수정할 컬럼 : '배출가스인증번호', '등급', 'DPF유무'

In [8]:
mod.columns

Index(['등급(현재)', '등급(수정)', '배인번호(현재)', '배인번호(수정)', '차명', '제작사', '자동차형식',
       '엔진형식', 'DPF유무(현재)', 'DPF유무(수정)', '기타'],
      dtype='object')

In [9]:
mod.head()

,등급(현재),등급(수정),배인번호(현재),배인번호(수정),차명,제작사,자동차형식,엔진형식,DPF유무(현재),DPF유무(수정),기타
0,4,4,7MY-SM-14-36,7MY-SM-14-36,QM5,르노삼성자동차(주),H1D20-VC-0-11,M9R,유,유,Euro4 기준에 맞춰 개발된 차량
1,4,4,7MY-SM-14-36,7MY-SM-14-36,QM5,르노삼성자동차(주),H1D20-VC-0-12,M9R,유,유,Euro4 기준에 맞춰 개발된 차량
2,4,4,7MY-SM-14-36,7MY-SM-14-36,QM5,르노삼성자동차(주),H1D20-VC-0-21,M9R,유,유,Euro4 기준에 맞춰 개발된 차량
3,4,4,7MY-SM-14-36,7MY-SM-14-36,QM5,르노삼성자동차(주),H1D20-VC-0-22,M9R,유,유,Euro4 기준에 맞춰 개발된 차량
4,4,4,7MY-SM-14-36,7MY-SM-14-36,QM5,르노삼성자동차(주),H1D20-VC-0-31,M9R,유,유,Euro4 기준에 맞춰 개발된 차량

In [10]:
mod[mod['배인번호(수정)'] == '7MY-MT-24-01']

,등급(현재),등급(수정),배인번호(현재),배인번호(수정),차명,제작사,자동차형식,엔진형식,DPF유무(현재),DPF유무(수정),기타
29,4,4,7MY-MT-24-01,7MY-MT-24-01,만 트랙터,만트럭버스코리아(주),TGA26.4806X4BLS,D2676LF01,무,유,유로 4 배출가스 기준 엔진 장착된 경유 차량
30,4,4,7MY-MT-24-01,7MY-MT-24-01,만 트랙터,만트럭버스코리아(주),TGA28.4806X2-2BLS,D2676LF01,무,유,유로 4 배출가스 기준 엔진 장착된 경유 차량
31,4,4,7MY-MT-24-01,7MY-MT-24-01,만 트랙터,만트럭버스코리아(주),TGX26.4806X4BLS,D2676LF05,무,유,유로 4 배출가스 기준 엔진 장착된 경유 차량
32,4,4,7MY-MT-24-01,7MY-MT-24-01,만 트랙터,만트럭버스코리아(주),TGX28.4806X2-2BLS,D2676LF05,무,유,유로 4 배출가스 기준 엔진 장착된 경유 차량

In [11]:
mod.loc[mod['배인번호(수정)'] == '7MY-MT-24-01', '자동차형식'].unique()

array(['TGA26.4806X4BLS', 'TGA28.4806X2-2BLS', 'TGX26.4806X4BLS',
       'TGX28.4806X2-2BLS'], dtype=object)

In [12]:
mod.loc[mod['배인번호(수정)'] == '7MY-MT-24-01', '엔진형식'].unique()

array(['D2676LF01', 'D2676LF05'], dtype=object)

In [13]:
df.loc[df['배출가스인증번호'] == '7MY-MT-24-01', '자동차형식'].unique()

array(['TGX28.4806X2-2BLS', 'TGA26.4806X4BLS', 'TGA28.4806X2-2BLS',
       'TGX26.4806X4BLS'], dtype=object)

In [14]:
df.loc[df['배출가스인증번호'] == '7MY-MT-24-01', '엔진형식_x'].unique()

array(['D2676LF05', 'D2676LF01'], dtype=object)

# 수정사항 반영

In [15]:
# 매칭조건 컬럼 : '배출가스인증번호', '자동차형식', '엔진형식_x'
# 수정할 컬럼 : '배출가스인증번호', '등급', 'DPF유무'

In [16]:
# 확인 샘플
# 수정
# '등급', 배출가스인증번호, 차명, 제작사명, 자동차형식, 엔진형식, 'DPF유무'
# 전 : 4, 4MY-DC-33, 대우11.5톤장축카고트럭(DPF), 타타대우상용차(주), K9ARF5, DV11, 무
# 후 : 5, 6MY-DC-23-17(적용X), 대우11.5톤장축카고트럭(DPF), 타타대우상용차(주), K9ARF5, DV11, 유

In [17]:
df.loc[:5, ['배출가스인증번호', '등급', '차명_x', '자동차형식', '제작사명', '엔진형식_x', 'DPF유무']]

,배출가스인증번호,등급,차명_x,자동차형식,제작사명,엔진형식_x,DPF유무
0,9MY-KM-14-41,4,카니발,VQS96BB-G,기아자동차(주),D4HB,무
1,7MY-SY-14-60,4,액티언스포츠,Q5D20A2-008D,쌍용자동차(주),664951,무
2,9MY-KM-14-22,4,쏘렌토,XM75BA-S,기아자동차(주),D4HA,무
3,NaN,4,금강24㎘경질유탱크로리,KK-T23.5SD-415,"주식회사 카셈(KASEM Co.,Ltd)",ISM,무
4,9MY-KM-14-41,4,그랜드 카니발,VQLB6BA-S,기아자동차(주),D4HB,무
5,9MY-KM-14-22,4,쏘렌토,XM75BB-S,기아자동차(주),D4HA,무

In [18]:
df.loc[df['배출가스인증번호'] == '4MY-DC-33', ['배출가스인증번호', '등급', '차명_x', '자동차형식', '제작사명', '엔진형식_x', 'DPF유무']]

         배출가스인증번호  등급                차명_x   자동차형식        제작사명 엔진형식_x DPF유무
75251   4MY-DC-33   4  대우11.5톤장축카고트럭(DPF)  K9ARF5  타타대우상용차(주)   DV11     무
97568   4MY-DC-33   4  대우11.5톤장축카고트럭(DPF)  K9ARF5  타타대우상용차(주)   DV11     무
162876  4MY-DC-33   4  대우11.5톤장축카고트럭(DPF)  K9ARF5  타타대우상용차(주)   DV11     무
169067  4MY-DC-33   4  대우11.5톤장축카고트럭(DPF)  K9ARF5  타타대우상용차(주)   DV11     무
349831  4MY-DC-33   4  대우11.5톤장축카고트럭(DPF)  K9ARF5  타타대우상용차(주)   DV11     무
484265  4MY-DC-33   4  대우11.5톤장축카고트럭(DPF)  K9ARF5  타타대우상용차(주)   DV11     무
713111  4MY-DC-33   4  대우11.5톤장축카고트럭(DPF)  K9ARF5  타타대우상용차(주)   DV11     무

In [19]:
# 확인 샘플
# 수정
# 등급, 배출가스인증번호, 차명, 제작사명, 자동차형식, 엔진형식, 'DPF유무'
# 전 : 4, 7MY-MT-24-01, 만 트랙터, 만트럭버스코리아(주), TGA28.4806X2-2BLS, D2676LF05, 무
# 후 : 4, 7MY-MT-24-01, 만 트랙터, 만트럭버스코리아(주), TGA28.4806X2-2BLS, D2676LF05, 유

In [20]:
df.loc[df['배출가스인증번호'] == '7MY-MT-24-01', ['배출가스인증번호', '등급', '차명_x', '자동차형식', '제작사명', '엔진형식_x', 'DPF유무']]

,배출가스인증번호,등급,차명_x,자동차형식,제작사명,엔진형식_x,DPF유무
2417,7MY-MT-24-01,4,만 트랙터,TGX28.4806X2-2BLS,만트럭버스코리아(주),D2676LF05,무
3609,7MY-MT-24-01,4,만 트랙터,TGX28.4806X2-2BLS,만트럭버스코리아(주),D2676LF05,무
29872,7MY-MT-24-01,4,만 트랙터,TGX28.4806X2-2BLS,만트럭버스코리아(주),D2676LF05,무
30993,7MY-MT-24-01,4,만 트랙터,TGX28.4806X2-2BLS,만트럭버스코리아(주),D2676LF05,무
32921,7MY-MT-24-01,4,만 트랙터,TGX28.4806X2-2BLS,만트럭버스코리아(주),D2676LF05,무
...,...,...,...,...,...,...,...
1135425,7MY-MT-24-01,4,만 트랙터,TGX28.4806X2-2BLS,만트럭버스코리아(주),D2676LF05,무
1138392,7MY-MT-24-01,4,만 트랙터,TGX28.4806X2-2BLS,만트럭버스코리아(주),D2676LF05,무
1145376,7MY-MT-24-01,4,만 트랙터,TGX28.4806X2-2BLS,만트럭버스코리아(주),D2676LF05,무
1146804,7MY-MT-24-01,4,만 트랙터,TGX28.4806X2-2BLS,만트럭버스코리아(주),D2676LF05,무
1153494,7MY-MT-24-01,4,만 트랙터,TGX28.4806X2-2BLS,만트럭버스코리아(주),D2676LF05,무

In [21]:
df['제작사확인_DPF유무'] = np.nan
df['확인유무'] = np.nan
df['비고'] = np.nan

## 수정 적용

In [22]:
# about 50s
for m_grade, p_emis, m_emis, car_form, engine_form, m_dpf in tqdm(zip(mod['등급(수정)'], mod['배인번호(현재)'], mod['배인번호(수정)'], mod['자동차형식'], mod['엔진형식'], mod['DPF유무(수정)'])):
    df.loc[(df['배출가스인증번호'] == p_emis) & (df['자동차형식'] == car_form) & (df['엔진형식_x'] == engine_form), ['등급', '제작사확인_DPF유무', '확인유무']] = [m_grade, m_dpf, 'Y']

1592it [04:59,  5.32it/s]

In [23]:
df.loc[df['배출가스인증번호'] == '4MY-DC-33', ['배출가스인증번호', '등급', '차명_x', '자동차형식', '제작사명', '엔진형식_x', 'DPF유무', '제작사확인_DPF유무', '확인유무', '비고']]

,배출가스인증번호,등급,차명_x,자동차형식,제작사명,엔진형식_x,DPF유무,제작사확인_DPF유무,확인유무,비고
75251,4MY-DC-33,5,대우11.5톤장축카고트럭(DPF),K9ARF5,타타대우상용차(주),DV11,무,유,Y,NaN
97568,4MY-DC-33,5,대우11.5톤장축카고트럭(DPF),K9ARF5,타타대우상용차(주),DV11,무,유,Y,NaN
162876,4MY-DC-33,5,대우11.5톤장축카고트럭(DPF),K9ARF5,타타대우상용차(주),DV11,무,유,Y,NaN
169067,4MY-DC-33,5,대우11.5톤장축카고트럭(DPF),K9ARF5,타타대우상용차(주),DV11,무,유,Y,NaN
349831,4MY-DC-33,5,대우11.5톤장축카고트럭(DPF),K9ARF5,타타대우상용차(주),DV11,무,유,Y,NaN
484265,4MY-DC-33,5,대우11.5톤장축카고트럭(DPF),K9ARF5,타타대우상용차(주),DV11,무,유,Y,NaN
713111,4MY-DC-33,5,대우11.5톤장축카고트럭(DPF),K9ARF5,타타대우상용차(주),DV11,무,유,Y,NaN

In [24]:
df.loc[df['배출가스인증번호'] == '6MY-DC-23-17', ['배출가스인증번호', '등급', '차명_x', '자동차형식', '제작사명', '엔진형식_x', 'DPF유무', '제작사확인_DPF유무', '확인유무', '비고']]

Empty DataFrame
Columns: [배출가스인증번호, 등급, 차명_x, 자동차형식, 제작사명, 엔진형식_x, DPF유무, 제작사확인_DPF유무, 확인유무, 비고]
Index: []

In [25]:
df.loc[df['배출가스인증번호'] == '7MY-MT-24-01', ['배출가스인증번호', '등급', '차명_x', '자동차형식', '제작사명', '엔진형식_x', 'DPF유무', '제작사확인_DPF유무', '확인유무', '비고']]

,배출가스인증번호,등급,차명_x,자동차형식,제작사명,엔진형식_x,DPF유무,제작사확인_DPF유무,확인유무,비고
2417,7MY-MT-24-01,4,만 트랙터,TGX28.4806X2-2BLS,만트럭버스코리아(주),D2676LF05,무,유,Y,NaN
3609,7MY-MT-24-01,4,만 트랙터,TGX28.4806X2-2BLS,만트럭버스코리아(주),D2676LF05,무,유,Y,NaN
29872,7MY-MT-24-01,4,만 트랙터,TGX28.4806X2-2BLS,만트럭버스코리아(주),D2676LF05,무,유,Y,NaN
30993,7MY-MT-24-01,4,만 트랙터,TGX28.4806X2-2BLS,만트럭버스코리아(주),D2676LF05,무,유,Y,NaN
32921,7MY-MT-24-01,4,만 트랙터,TGX28.4806X2-2BLS,만트럭버스코리아(주),D2676LF05,무,유,Y,NaN
...,...,...,...,...,...,...,...,...,...,...
1135425,7MY-MT-24-01,4,만 트랙터,TGX28.4806X2-2BLS,만트럭버스코리아(주),D2676LF05,무,유,Y,NaN
1138392,7MY-MT-24-01,4,만 트랙터,TGX28.4806X2-2BLS,만트럭버스코리아(주),D2676LF05,무,유,Y,NaN
1145376,7MY-MT-24-01,4,만 트랙터,TGX28.4806X2-2BLS,만트럭버스코리아(주),D2676LF05,무,유,Y,NaN
1146804,7MY-MT-24-01,4,만 트랙터,TGX28.4806X2-2BLS,만트럭버스코리아(주),D2676LF05,무,유,Y,NaN
1153494,7MY-MT-24-01,4,만 트랙터,TGX28.4806X2-2BLS,만트럭버스코리아(주),D2676LF05,무,유,Y,NaN

In [26]:
df.shape

(1153813, 67)

In [27]:
df.loc[:5, ['배출가스인증번호', '등급', '차명_x', '자동차형식', '제작사명', '엔진형식_x', 'DPF유무', '제작사확인_DPF유무', '확인유무', '비고']]

,배출가스인증번호,등급,차명_x,자동차형식,제작사명,엔진형식_x,DPF유무,제작사확인_DPF유무,확인유무,비고
0,9MY-KM-14-41,4,카니발,VQS96BB-G,기아자동차(주),D4HB,무,NaN,NaN,NaN
1,7MY-SY-14-60,4,액티언스포츠,Q5D20A2-008D,쌍용자동차(주),664951,무,NaN,NaN,NaN
2,9MY-KM-14-22,4,쏘렌토,XM75BA-S,기아자동차(주),D4HA,무,NaN,NaN,NaN
3,NaN,4,금강24㎘경질유탱크로리,KK-T23.5SD-415,"주식회사 카셈(KASEM Co.,Ltd)",ISM,무,NaN,NaN,NaN
4,9MY-KM-14-41,4,그랜드 카니발,VQLB6BA-S,기아자동차(주),D4HB,무,NaN,NaN,NaN
5,9MY-KM-14-22,4,쏘렌토,XM75BB-S,기아자동차(주),D4HA,무,NaN,NaN,NaN

## 배인번호별 통계

In [28]:
df.groupby(['배출가스인증번호', '차명_x', '제작사명', '자동차형식', '엔진형식_x', '제작사확인_DPF유무', '확인유무'], dropna=False)['차대번호'].count()

배출가스인증번호   차명_x                    제작사명           자동차형식            엔진형식_x   제작사확인_DPF유무  확인유무
4MY-AD-20  아우디 A6 3.0 TDI Quattro  아우디폭스바겐코리아(주)  4F               BMK      NaN          NaN     29
4MY-DC-33  대우11.5톤장축카고트럭(DPF)      타타대우상용차(주)     K9ARF5           DV11     유            Y        7
4MY-PA-06  프리랜더 2.0D               (주)볼보자동차코리아    2.0LN3DR         204D     NaN          NaN      1
                                                  2.0LN5DR         204D     NaN          NaN      8
           프리랜더2.0D                (주)볼보자동차코리아    2.0LN5DR         204D     NaN          NaN      4
                                                                                                 ..
NaN        현대15톤덤프트럭               현대자동차(주)       HD150-8DU1-DHLc  D6CC     NaN          NaN      1
           호룡스카이 210S고소작업차         (주)호룡          SKY210S-N1B0     D4DD     NaN          NaN      1
           화학소방펌프자동차               (주)화이어텍        FTF1C-B160A-1    OM502LA  NaN          NaN      1
           히노카고트럭                  스카니아코리아그룹(주)   FD8JLUA          J08EUR   NaN          NaN     25
           히노활어트럭                  스카니아코리아그룹(주)   FD8JLUAF         J08EUR   NaN          NaN      5
Name: 차대번호, Length: 5799, dtype: int64

### [출력] 배인번호별 통계

In [29]:
# df.groupby(['배출가스인증번호', '제작사확인_DPF유무', '확인유무'], dropna=False)['차대번호'].count().to_excel('analysis2/DPF현행화/배인번호별_제작사확인DPF유무_확인유무.xlsx')

# [출력] 수정파일

In [30]:
fold

'D:/data/big2/BD1_4등급_데이터_점검1'

In [49]:
today_date = datetime.datetime.today().strftime("%Y.%m.%d")
today_date

'2023.02.20'

In [32]:
# about 32s
df.to_csv(os.path.join(fold, f'4등급_차량_리스트_양식_result(수정)({today_date}).csv'), index=False, encoding='cp949')

In [33]:
# about 32s
df.iloc[:580000].to_csv(os.path.join(fold, f'4등급_차량_리스트_양식_result(수정)({today_date})01.csv'), index=False, encoding='cp949')
df.iloc[580000:].to_csv(os.path.join(fold, f'4등급_차량_리스트_양식_result(수정)({today_date})02.csv'), index=False, encoding='cp949')

In [34]:
# # about 18m 25s
# df.iloc[:580000].to_excel(os.path.join(fold, '4등급_차량_리스트_양식_result(수정)(2023.02.09)01.xlsx'), index=False)
# df.iloc[580000:].to_excel(os.path.join(fold, '4등급_차량_리스트_양식_result(수정)(2023.02.09)02.xlsx'), index=False)

# CODE End