# 라이브러리

In [1]:
import pandas as pd
import os
import numpy as np

## 파일 경로

In [2]:
# file path(pandas)

# ODS : D:/과업/[한국환경공단]자동차_환경_빅데이터_구축_2차/data/ODS

ods_path = 'D:/과업/[한국환경공단]자동차_환경_빅데이터_구축_2차/data/ODS'

## [로드]

In [6]:
# # about 
# # 파일 사이즈가 너무 커서 메모리 부족 오류 발생
#     # chunksize로 한번에 불러오는 샘플 수 조절하여 메모리 절약

# df_list1 = []
# for one in pd.read_csv(os.path.join(ods_path, 'ODS_N_IS_ISSUE_DISCLOSURE_1.csv'), low_memory=False, chunksize=20000): # 20 GB
#     df_list1.append(one)
# ods1 = pd.concat(df_list1, axis=0)
# del df_list1

ParserError: Error tokenizing data. C error: out of memory

In [ ]:
# df_list2 = []
# for one in pd.read_csv(os.path.join(ods_path, 'ODS_N_IS_ISSUE_DISCLOSURE_2.csv'), low_memory=False, chunksize=20000): # 30.4 GB
#     df_list2.append(one)
# ods2 = pd.concat(df_list2, axis=0)
# del df_list2

In [3]:
# about 20m -> error

ods1 = pd.read_csv(os.path.join(ods_path, 'ODS_N_IS_ISSUE_DISCLOSURE_1.csv'), low_memory=False)
ods2 = pd.read_csv(os.path.join(ods_path, 'ODS_N_IS_ISSUE_DISCLOSURE_2.csv'), low_memory=False)

## 파일 하나씩 불러오기

In [4]:
# about 9m

ods1 = pd.read_csv(os.path.join(ods_path, 'ODS_N_IS_ISSUE_DISCLOSURE_1.csv'), low_memory=False)

In [5]:
ods1.columns

Index(['REGLT_NO', 'GNFD_NO', 'REG_SIDO_CD', 'REG_SIGNGU_CD', 'REGLT_AREA_CD',
       'TFCLNE_ID', 'DISCL_DEHMS', 'VHMNO', 'VIN', 'VHRNO', 'FILE_NM',
       'FILE_CURS_NM', 'ORG_FILE_CURS_NM', 'THUMB_FILE_CURS_NM',
       'DTL_FILE_CURS_NM', 'REG_ID', 'REG_DT', 'EXCLU_REG_DT', 'RDCDVC_YN',
       'BSN_YN', 'RWMR_YN', 'DSPN_YN', 'RQT_YN', 'UNDEVT_YN', 'SND_YN'],
      dtype='object')

In [6]:
ods1.shape

(32271175, 25)

In [7]:
ods1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32271175 entries, 0 to 32271174
Data columns (total 25 columns):
 #   Column              Dtype
---  ------              -----
 0   REGLT_NO            int64
 1   GNFD_NO             int64
 2   REG_SIDO_CD         int64
 3   REG_SIGNGU_CD       int64
 4   REGLT_AREA_CD       int64
 5   TFCLNE_ID           object
 6   DISCL_DEHMS         int64
 7   VHMNO               object
 8   VIN                 object
 9   VHRNO               object
 10  FILE_NM             object
 11  FILE_CURS_NM        object
 12  ORG_FILE_CURS_NM    object
 13  THUMB_FILE_CURS_NM  object
 14  DTL_FILE_CURS_NM    object
 15  REG_ID              object
 16  REG_DT              object
 17  EXCLU_REG_DT        object
 18  RDCDVC_YN           object
 19  BSN_YN              object
 20  RWMR_YN             object
 21  DSPN_YN             object
 22  RQT_YN              object
 23  UNDEVT_YN           object
 24  SND_YN              object
dtypes: int64(6), object(19)
memory usage: 6.0+ GB

In [8]:
ods1.isnull().sum()

REGLT_NO                   0
GNFD_NO                    0
REG_SIDO_CD                0
REG_SIGNGU_CD              0
REGLT_AREA_CD              0
TFCLNE_ID                  0
DISCL_DEHMS                0
VHMNO                      0
VIN                        0
VHRNO                      0
FILE_NM                    0
FILE_CURS_NM               0
ORG_FILE_CURS_NM          24
THUMB_FILE_CURS_NM     17599
DTL_FILE_CURS_NM       17599
REG_ID                     0
REG_DT                     0
EXCLU_REG_DT          220430
RDCDVC_YN             220430
BSN_YN                220430
RWMR_YN               220430
DSPN_YN               220430
RQT_YN                220430
UNDEVT_YN             220430
SND_YN                     0
dtype: int64

In [9]:
ods1.describe()

,REGLT_NO,GNFD_NO,REG_SIDO_CD,REG_SIGNGU_CD,REGLT_AREA_CD,DISCL_DEHMS
count,3.227118e+07,3.227118e+07,3.227118e+07,3.227118e+07,3.227118e+07,3.227118e+07
mean,8.227695e+07,2.135604e+03,3.526393e+01,3.197524e+02,3.526036e+04,2.022099e+13
std,1.863628e+07,2.403785e+02,1.217507e+01,2.210675e+02,1.291545e+04,1.109729e+09
min,5.000000e+07,1.817000e+03,1.100000e+01,1.100000e+02,1.100000e+04,2.022043e+13
25%,6.613717e+07,1.911000e+03,2.800000e+01,1.400000e+02,2.800000e+04,2.022063e+13
50%,8.227493e+07,2.115000e+03,4.100000e+01,2.300000e+02,4.128000e+04,2.022091e+13
75%,9.841899e+07,2.328000e+03,4.600000e+01,4.500000e+02,4.677000e+04,2.022111e+13
max,1.145550e+08,2.666000e+03,5.000000e+01,9.400000e+02,5.013000e+04,2.023010e+13

In [13]:
for one in ods1.columns:
    try:
        print(one)
        print(f'min : {ods1[one].min()}, max : {ods1[one].max()}')
        print()
    except:
        pass

REGLT_NO
min : 50000004, max : 114555050

GNFD_NO
min : 1817, max : 2666

REG_SIDO_CD
min : 11, max : 50

REG_SIGNGU_CD
min : 110, max : 940

REGLT_AREA_CD
min : 11000, max : 50130

TFCLNE_ID
min : L11000003001, max : L50130022002

DISCL_DEHMS
min : 20220425161935, max : 20230104210000

VHMNO
min : 00000000CN67C4065-01, max : sl67c027628-01

VIN
min : 00000000CN67C4065, max : sl67c027628

VHRNO
min : 01가1007, max : 충북9라1052

FILE_NM
min : L11000003001_20220502_152412_18무4079.jpg, max : L50130022002_20230104_171317_40구1725.jpg

FILE_CURS_NM
min : /interface/density/meta/20220425/L41190002001_20220425_165631_02가1136.JPG, max : /interface/density/meta/20230104/L50130022002_20230104_171317_40구1725.jpg

ORG_FILE_CURS_NM
THUMB_FILE_CURS_NM
DTL_FILE_CURS_NM
REG_ID
min : SYSTEM, max : SYSTEM

REG_DT
min : 22/05/02, max : 23/01/04

EXCLU_REG_DT
RDCDVC_YN
BSN_YN
RWMR_YN
DSPN_YN
RQT_YN
UNDEVT_YN
SND_YN
min : N, max : Y

### 메모리 최적화

In [ ]:
# REGLT_NO
# min : 50000004, max : 114555050
# => int32

# GNFD_NO
# min : 1817, max : 2666
# => int16

# REG_SIDO_CD
# min : 11, max : 50
# => int8

# REG_SIGNGU_CD
# min : 110, max : 940
# => int16

# REGLT_AREA_CD
# min : 11000, max : 50130
# => unit16

# DISCL_DEHMS
# min : 20220425161935, max : 20230104210000
# => int64(same)

In [14]:
ods1.info()
# memory usage: 6.0+ GB

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32271175 entries, 0 to 32271174
Data columns (total 25 columns):
 #   Column              Dtype
---  ------              -----
 0   REGLT_NO            int64
 1   GNFD_NO             int64
 2   REG_SIDO_CD         int64
 3   REG_SIGNGU_CD       int64
 4   REGLT_AREA_CD       int64
 5   TFCLNE_ID           object
 6   DISCL_DEHMS         int64
 7   VHMNO               object
 8   VIN                 object
 9   VHRNO               object
 10  FILE_NM             object
 11  FILE_CURS_NM        object
 12  ORG_FILE_CURS_NM    object
 13  THUMB_FILE_CURS_NM  object
 14  DTL_FILE_CURS_NM    object
 15  REG_ID              object
 16  REG_DT              object
 17  EXCLU_REG_DT        object
 18  RDCDVC_YN           object
 19  BSN_YN              object
 20  RWMR_YN             object
 21  DSPN_YN             object
 22  RQT_YN              object
 23  UNDEVT_YN           object
 24  SND_YN              object
dtypes: int64(6), object(19)
memory usage: 6.0+ GB

In [15]:
ods1['REGLT_NO'] = ods1['REGLT_NO'].astype('int32')
ods1['GNFD_NO'] = ods1['GNFD_NO'].astype('int16')
ods1['REGLT_NO'] = ods1['REGLT_NO'].astype('int8')
ods1['REGLT_NO'] = ods1['REGLT_NO'].astype('int16')
ods1['REGLT_NO'] = ods1['REGLT_NO'].astype('uint16')

In [16]:
ods1.info()
# memory usage: 5.7+ GB

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32271175 entries, 0 to 32271174
Data columns (total 25 columns):
 #   Column              Dtype
---  ------              -----
 0   REGLT_NO            uint16
 1   GNFD_NO             int16
 2   REG_SIDO_CD         int64
 3   REG_SIGNGU_CD       int64
 4   REGLT_AREA_CD       int64
 5   TFCLNE_ID           object
 6   DISCL_DEHMS         int64
 7   VHMNO               object
 8   VIN                 object
 9   VHRNO               object
 10  FILE_NM             object
 11  FILE_CURS_NM        object
 12  ORG_FILE_CURS_NM    object
 13  THUMB_FILE_CURS_NM  object
 14  DTL_FILE_CURS_NM    object
 15  REG_ID              object
 16  REG_DT              object
 17  EXCLU_REG_DT        object
 18  RDCDVC_YN           object
 19  BSN_YN              object
 20  RWMR_YN             object
 21  DSPN_YN             object
 22  RQT_YN              object
 23  UNDEVT_YN           object
 24  SND_YN              object
dtypes: int16(1), int64(4), object(19), uint16(1)
memory usage: 5.7+ GB

In [ ]:
#  0   REGLT_NO            uint16
#  1   GNFD_NO             int16 
#  2   REG_SIDO_CD         int64 
#  3   REG_SIGNGU_CD       int64 
#  4   REGLT_AREA_CD       int64 
#  5   TFCLNE_ID           object
#  6   DISCL_DEHMS         int64 
#  7   VHMNO               object
#  8   VIN                 object
#  9   VHRNO               object
#  10  FILE_NM             object
#  11  FILE_CURS_NM        object
#  12  ORG_FILE_CURS_NM    object
#  13  THUMB_FILE_CURS_NM  object
#  14  DTL_FILE_CURS_NM    object
#  15  REG_ID              object
#  16  REG_DT              object
#  17  EXCLU_REG_DT        object
#  18  RDCDVC_YN           object
#  19  BSN_YN              object
#  20  RWMR_YN             object
#  21  DSPN_YN             object
#  22  RQT_YN              object
#  23  UNDEVT_YN           object
#  24  SND_YN              object

In [5]:
dtypes = {
    'REGLT_NO':'uint16', 
    'GNFD_NO':'int16', 
    'REG_SIDO_CD':'int64', 
    'REG_SIGNGU_CD':'int64', 
    'REGLT_AREA_CD':'int64', 
    'TFCLNE_ID':'str', 
    'DISCL_DEHMS':'int64', 
    'VHMNO':'str', 
    'VIN':'str', 
    'VHRNO':'str',
    'FILE_NM':'str',
    'FILE_CURS_NM':'str',
    'ORG_FILE_CURS_NM':'str',
    'THUMB_FILE_CURS_NM':'str',
    'DTL_FILE_CURS_NM':'str',
    'REG_ID':'str',
    'REG_DT':'str',
    'EXCLU_REG_DT':'str',
    'RDCDVC_YN':'str',
    'BSN_YN':'str',
    'RWMR_YN':'str',
    'DSPN_YN':'str',
    'RQT_YN':'str',
    'UNDEVT_YN':'str',
    'SND_YN':'str',
    }

In [6]:
# about 9-10m
# about 38 GB

ods1 = pd.read_csv(os.path.join(ods_path, 'ODS_N_IS_ISSUE_DISCLOSURE_1.csv'), low_memory=False, dtype=dtypes)
ods1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32271175 entries, 0 to 32271174
Data columns (total 25 columns):
 #   Column              Dtype
---  ------              -----
 0   REGLT_NO            uint16
 1   GNFD_NO             int16
 2   REG_SIDO_CD         int64
 3   REG_SIGNGU_CD       int64
 4   REGLT_AREA_CD       int64
 5   TFCLNE_ID           object
 6   DISCL_DEHMS         int64
 7   VHMNO               object
 8   VIN                 object
 9   VHRNO               object
 10  FILE_NM             object
 11  FILE_CURS_NM        object
 12  ORG_FILE_CURS_NM    object
 13  THUMB_FILE_CURS_NM  object
 14  DTL_FILE_CURS_NM    object
 15  REG_ID              object
 16  REG_DT              object
 17  EXCLU_REG_DT        object
 18  RDCDVC_YN           object
 19  BSN_YN              object
 20  RWMR_YN             object
 21  DSPN_YN             object
 22  RQT_YN              object
 23  UNDEVT_YN           object
 24  SND_YN              object
dtypes: int16(1), int64(4), object(19), uint16(1)
memory usage: 5.7+ GB

## [출력] 병합 파일

In [ ]:
total.to_csv(os.path.join(ods_path, 'ODS_N_IS_ISSUE_DISCLOSURE.csv'))