# Library

In [1]:
import pandas as pd
import numpy as np
from tqdm import tqdm
import os, re

# fold path

In [2]:
ods_fold = 'D:/data/big2/ODS'
col_fold = 'C:/Users/kbjung/Documents/GitHub/wabotech/car_big_data_2/analysis/ODSvsSTD'

In [51]:
# 소수점 옵션
pd.options.display.float_format = '{:.2f}'.format
# pd.reset_option('display.float_format')

# 1\. 등록정보(ODS_CEG_CAR_MIG)

In [3]:
# about 9m 45s
name = 'CEG_CAR_MIG'
file_name = f'ODS_{name}.csv'
df = pd.read_csv(os.path.join(ods_fold, file_name), low_memory=False, index_col=0)
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 29534047 entries, 0 to 29534046
Data columns (total 32 columns):
 #   Column             Dtype
---  ------             -----
 0   VHMNO              object
 1   VHRNO              object
 2   BSPL_LEDO_CD       int64
 3   OWNR_SE            object
 4   VHCTY              object
 5   PURPS              object
 6   NOW_OWNR_NM        object
 7   NOW_MBERNO         object
 8   BSPL_ADRS          object
 9   OWNR_ADRS          object
 10  VIN                object
 11  FST_REG_DE         int64
 12  VHCL_YRIDNW        int64
 13  VHCL_MNFCT_DE      object
 14  EMIS_INSP_EFCT_DE  float64
 15  SRCMNNO            object
 16  EMIS_CRTCNO        object
 17  EMIS_GRD           object
 18  LEM_YN             object
 19  LEM_KND            float64
 20  LEM_STRCHG_YN      object
 21  BSPL_ZIP           float64
 22  VHRNO_NUM_INFO     int64
 23  VHCL_ERSR_YN       object
 24  FST_OWNR_NM        object
 25  FST_MBERNO         object
 26  ACQS_DE            object
 27  ACQS_AMT           float64
 28  RMK                object
 29  CRTN_DT            object
 30  UPDT_DT            object
 31  USER_ID            object
dtypes: float64(4), int64(4), object(24)
memory usage: 7.3+ GB

In [4]:
file_name = f'[정제]{name}.xlsx'
col_df = pd.read_excel(os.path.join(col_fold, file_name), sheet_name='ODS_col')
col_df.head()

             컬럼        내용
0       UPDT_DT      수정일시
1       OWNR_SE     소유자구분
2         VHRNO    차량등록번호
3  BSPL_LEDO_CD  본거지법정동코드
4       CRTN_DT      생성일시

In [5]:
col_dict = {a:b for a,b in col_df[['컬럼', '내용']].values}
col_dict

{'UPDT_DT': '수정일시',
 'OWNR_SE': '소유자구분',
 'VHRNO': '차량등록번호',
 'BSPL_LEDO_CD': '본거지법정동코드',
 'CRTN_DT': '생성일시',
 'PURPS': '용도',
 'EMIS_INSP_EFCT_DE': '배출가스검사유효일자',
 'EMIS_CRTCNO': '배출가스인증번호',
 'NOW_MBERNO': '현재회원번호',
 'ACQS_DE': '취득일자',
 'ACQS_AMT': '취득금액',
 'FST_MBERNO': '최초회원번호',
 'FST_REG_DE': '최초등록일자',
 'VHCTY': '차종',
 'VHRNO_NUM_INFO': '차량등록번호숫자정보',
 'VHMNO': '차량관리번호',
 'VHCL_MNFCT_DE': '차량제작일자',
 'VHCL_YRIDNW': '차량연식',
 'VHCL_ERSR_YN': '차량말소YN',
 'VIN': '차대번호',
 'SRCMNNO': '제원관리번호',
 'EMIS_GRD': '배출가스등급',
 'LEM_KND': '저공해조치종류',
 'LEM_STRCHG_YN': '저공해조치구조변경YN',
 'LEM_YN': '저공해조치YN(미사용)',
 'NOW_OWNR_NM': '미정',
 'BSPL_ADRS': '미정',
 'OWNR_ADRS': '미정',
 'BSPL_ZIP': '미정',
 'FST_OWNR_NM': '미정',
 'RMK': '미정',
 'USER_ID': '미정'}

In [6]:
df.columns = [col_dict[x] for x in df.columns]
df.columns

Index(['차량관리번호', '차량등록번호', '본거지법정동코드', '소유자구분', '차종', '용도', '미정', '현재회원번호',
       '미정', '미정', '차대번호', '최초등록일자', '차량연식', '차량제작일자', '배출가스검사유효일자', '제원관리번호',
       '배출가스인증번호', '배출가스등급', '저공해조치YN(미사용)', '저공해조치종류', '저공해조치구조변경YN', '미정',
       '차량등록번호숫자정보', '차량말소YN', '미정', '최초회원번호', '취득일자', '취득금액', '미정', '생성일시',
       '수정일시', '미정'],
      dtype='object')

## 차량등록번호

In [7]:
df.shape

(29534047, 32)

In [8]:
# 결측치 확인
df['차량등록번호'].isnull().sum()

0

In [9]:
p1 = re.compile('[가-힣]{2}[0-9]{1,2}[가-힣]{1}[0-9]{4}')
p2 = re.compile('[0-9]{2}[가-힣]{1}[0-9]{4}')
wrong_vhrno_list = []
for one in tqdm(df['차량등록번호']):
    if not p1.search(str(one)) and not p2.search(str(one)):
        wrong_vhrno_list.append(one)
len(wrong_vhrno_list)

100%|██████████| 29534047/29534047 [00:35<00:00, 831439.60it/s]

1

In [10]:
wrong_vhrno_list

['서울703**575']

## 본거지 법정동 코드

In [11]:
df['본거지법정동코드'].isnull().sum()

0

In [12]:
wrong_localcode_list = []
for one in tqdm(df['본거지법정동코드']):
    if len(str(one)) != 10:
        wrong_localcode_list.append(one)
len(wrong_localcode_list)

100%|██████████| 29534047/29534047 [00:18<00:00, 1625711.43it/s]

0

In [13]:
p = re.compile('[0-9]{10}')
wrong_localcode_list = []
for one in tqdm(df['본거지법정동코드']):
    if not p.search(str(one)):
        wrong_localcode_list.append(one)
len(wrong_localcode_list)

100%|██████████| 29534047/29534047 [00:26<00:00, 1117989.31it/s]

0

## 배출가스검사유효일자

In [14]:
df['배출가스검사유효일자'].head()

0    19850225.0
1    19760706.0
2           NaN
3    20191220.0
4    19930227.0
Name: 배출가스검사유효일자, dtype: float64

In [15]:
df['배출가스검사유효일자'].isnull().sum()

635

In [16]:
null_idx = df[df['배출가스검사유효일자'].isnull() == True].index
len(null_idx)

635

In [17]:
p = re.compile('[0-9]{8}[.][0]')
wrong_gascheckdate_idx = []
for i, one in tqdm(enumerate(df['배출가스검사유효일자'].to_list())):
    if not p.search(str(one)):
        wrong_gascheckdate_idx.append(i)
len(wrong_gascheckdate_idx)

29534047it [00:30, 975731.91it/s]

637

In [18]:
set(wrong_gascheckdate_idx) - set(null_idx)

{4124, 15938}

In [19]:
df.loc[list(set(wrong_gascheckdate_idx) - set(null_idx)), '배출가스검사유효일자']

15938    1990604.0
4124     1990118.0
Name: 배출가스검사유효일자, dtype: float64

In [20]:
df.loc[list(set(wrong_gascheckdate_idx) - set(null_idx)), ['배출가스검사유효일자', '차량연식', '배출가스인증번호']]

       배출가스검사유효일자  차량연식 배출가스인증번호
15938   1990604.0  1983      NaN
4124    1990118.0  1979      NaN

In [21]:
df.loc[null_idx, ['차대번호', '배출가스검사유효일자', '차량연식', '배출가스인증번호']]

                       차대번호  배출가스검사유효일자  차량연식      배출가스인증번호
2               10762211783         NaN  1976           NaN
8               10762211682         NaN  1976           NaN
10              10762212246         NaN  1976           NaN
47              10762213150         NaN  1976           NaN
52              03761307405         NaN  1976           NaN
...                     ...         ...   ...           ...
8087297   KNAKU815BAA058010         NaN  2010  9MY-KM-14-22
8251095   KMFZCY7JAAU616346         NaN  2010  7MY-HD-14-68
20922089  KMHK4815GJU081024         NaN  2018  HMY-HD-14-31
26101534  KNANE81BBMS034872         NaN  2021  JMY-KM-14-29
28249951  KPADM4AE1NP167376         NaN  2022           NaN

[635 rows x 4 columns]

In [22]:
len('KMHK4815GJU081024')

17

In [23]:
df.loc[null_idx, ['차대번호', '배출가스검사유효일자', '차량연식', '배출가스인증번호']].isnull().sum()

차대번호            0
배출가스검사유효일자    635
차량연식            0
배출가스인증번호      540
dtype: int64

# 정기검사

In [24]:
# about 3m 34s
file_name = '[ODS]정기검사(2022.12.28).csv'
ins = pd.read_csv(os.path.join(ods_fold, file_name), low_memory=False)
ins.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22006426 entries, 0 to 22006425
Data columns (total 39 columns):
 #   Column     Dtype
---  ------     -----
 0   사용연료       object
 1   주행거리       object
 2   차명         object
 3   차량번호       object
 4   차대번호       object
 5   차종         object
 6   차량연식       int64
 7   엔진형식       object
 8   검사방법       object
 9   검사일자       int64
 10  검사종류       object
 11  검사판정시각     object
 12  검사판정       object
 13  산소값        float64
 14  이산화탄소값     float64
 15  무부하매연판정1   object
 16  무부하매연판정2   object
 17  무부하매연판정3   object
 18  무부하매연판정4   object
 19  무부하매연판정5   object
 20  무부하매연판정6   object
 21  무부하매연허용치1  float64
 22  무부하매연허용치2  float64
 23  무부하매연허용치3  float64
 24  무부하매연허용치4  float64
 25  무부하매연허용치5  float64
 26  무부하매연허용치6  float64
 27  무부하매연측정치1  float64
 28  무부하매연측정치2  float64
 29  무부하매연측정치3  float64
 30  무부하매연측정치4  float64
 31  무부하매연측정치5  float64
 32  무부하매연측정치6  float64
 33  차량용도       object
 34  최대출력허용치    float64
 35  최대출력측정값    float64
 36  검사접수번호     object
 37  검사소명       object
 38  재검사기간      object
dtypes: float64(16), int64(2), object(21)
memory usage: 6.4+ GB

In [25]:
ins['검사일자'].head()

0    20190102
1    20190102
2    20190102
3    20190102
4    20190102
Name: 검사일자, dtype: int64

In [26]:
ins.loc[ins['차대번호'] == 'KMHK4815GJU081024', '검사일자']

18083379    20220124
Name: 검사일자, dtype: int64

## 배출가스 인증번호

In [27]:
df['배출가스인증번호'].isnull().sum()

3414724

## 차종

### 등록&제원정보

In [28]:
# about 9m 24s
file_name = '[ODS]등록정보&제원정보(2022.12.28).csv'
df = pd.read_csv(os.path.join(ods_fold, file_name), encoding='cp949', low_memory=False)
df.shape

(29534047, 49)

In [40]:
df.loc[df['배출가스인증번호'].isnull() == True, ['차대번호', '배출가스인증번호', '자동차형식', '엔진형식', '차명', '차량연식']].tail(10)

,차대번호,배출가스인증번호,자동차형식,엔진형식,차명,차량연식
29534031,KNMA4B2RMPP005538,NaN,T4W13-4D,H5H,SM6,2023
29534036,KMHJE811BPU100088,NaN,NX4H51BD-E8DF-G5A,G4FT,투싼 하이브리드(TUCSON HYBRID),2023
29534037,KMHJE811BPU100230,NaN,NX4H51BD-E8DO-G5A,G4FT,투싼 하이브리드(TUCSON HYBRID),2023
29534038,KMHJE811BPU100378,NaN,NX4H51BD-E9DO-G5A,G4FT,투싼 하이브리드(TUCSON HYBRID),2023
29534039,KMHJE811BPU100494,NaN,NX4H51BD-E8DF-G5A,G4FT,투싼 하이브리드(TUCSON HYBRID),2023
29534040,KMHJE811BPU100592,NaN,NX4H51BD-E8DF-G5A,G4FT,투싼 하이브리드(TUCSON HYBRID),2023
29534041,KMHL241JBPA060768,NaN,DNJBH-G7-G5A,G4NR,쏘나타 하이브리드 (SONATA HYBRID),2023
29534042,KMHL241JBPA060809,NaN,DNJBH-G7-G5A,G4NR,쏘나타 하이브리드 (SONATA HYBRID),2023
29534043,KMHL241JBPA060817,NaN,DNJBH-G7-G5A,G4NR,쏘나타 하이브리드 (SONATA HYBRID),2023
29534046,KMHL3412BPA299998,NaN,DN3BF-VS9-G3A,G4FP,쏘나타(SONATA),2023

In [33]:
df.loc[df['자동차형식'] == 'FX-2', ['배출가스인증번호', '차량연식', '차명']].value_counts()

배출가스인증번호   차량연식  차명
LMY-HD-08  1988  엑셀       25
           1987  엑셀        6
KMY-HD-02  1987  엑셀        1
           1988  엑셀        1
           1989  엑셀        1
KMY-HD-04  1992  EXCEL     1
LMY-HD-08  1989  엑셀        1
dtype: int64

In [42]:
df.loc[df['엔진형식'] == 'G4FP', ['배출가스인증번호', '차량연식', '차명']].value_counts()

배출가스인증번호      차량연식  차명
KMY-KM-14-81  2020  K5                          24414
LMY-HD-14-62  2021  투싼(TUCSON)                  23281
MMY-KM-14-36  2022  스포티지                        21174
LMY-HD-14-62  2022  투싼(TUCSON)                  20925
KMY-KM-14-81  2021  K5                          15056
JMY-KM-14-57  2022  스포티지                        12525
KMY-HD-14-56  2021  쏘나타(SONATA)                 10923
              2022  쏘나타(SONATA)                  9652
KMY-KM-14-81  2022  K5                           9458
KMY-HD-14-56  2020  쏘나타(SONATA)                  9007
NMY-KM-14-11  2023  셀토스                          8869
HMY-HD-14-31  2021  코나(KONA)                     7682
LMY-HD-14-76  2022  코나(KONA)                     2485
              2023  코나(KONA)                     2351
LMY-HD-14-33  2021  아반떼 N 라인(AVANTE N Line)      1613
MMY-KM-14-36  2023  스포티지                         1350
JMY-HD-14-48  2021  투싼(TUCSON)                   1070
LMY-HD-14-62  2023  투싼(TUCSON)                    918
LMY-HD-14-33  2023  아반떼 N 라인 (AVANTE N Line)      324
              2022  아반떼 N 라인 (AVANTE N Line)      292
HMY-HD-14-31  2022  코나(KONA)                      201
KMY-HD-14-56  2023  쏘나타(SONATA)                    74
dtype: int64

## 차종

In [44]:
df['차종_등록정보'].isnull().sum()

14

In [45]:
df['차종_등록정보'].unique()

array(['승용', '화물', '승합', '특수', nan], dtype=object)

In [48]:
df.loc[df['차종_등록정보'].isnull() == True, ['차명', '차종_등록정보', '차종분류']]

                     차명 차종_등록정보         차종분류
6257            유니목1200     NaN  특수용도형-특수용도형
7271            타이탄디젤14     NaN       일반형-카고
21694              봉고킹캡     NaN       일반형-카고
26839  슈퍼타이탄디젤14척(2.5톤)     NaN       일반형-카고
37972          로얄프린스1.5     NaN           일반
38473            그레이스살롱     NaN           일반
43509              봉고킹캡     NaN       일반형-카고
47889   포니2-1400픽업컨버터블탑     NaN       일반형-픽업
60693             베스타3밴     NaN            밴
62028      점보타이탄2.5톤더블캡     NaN       일반형-카고
66818            그레이스살롱     NaN           일반
73040             포터슈퍼캡     NaN       일반형-카고
84902            그랜저2.4     NaN           일반
87436            그랜저2.4     NaN           일반

## 차량 제작 일자

In [49]:
df['차량제작일자'].isnull().sum()

424546

In [52]:
df['차량제작일자'].describe()

count   29109501.00
mean    20133035.32
std        62241.75
min        11212.00
25%     20090924.00
50%     20140829.00
75%     20180908.00
max     20221227.00
Name: 차량제작일자, dtype: float64

In [53]:
df.loc[df['차량제작일자'].isnull() == True, ['차량제작일자', '차량연식']].head()

   차량제작일자  차량연식
0     NaN  1976
1     NaN  1968
2     NaN  1976
3     NaN  1971
4     NaN  1986

In [55]:
df['차량제작일자'] = df['차량제작일자'].astype(str)

In [58]:
df['차량제작일자'].tail()

29534042    20221222.0
29534043    20221222.0
29534044    20221209.0
29534045    20221216.0
29534046    20221219.0
Name: 차량제작일자, dtype: object

In [59]:
df.loc[df['차량제작일자'].str.len() != 10].shape

(424560, 49)

In [62]:
df.loc[df['차량제작일자'].str.len() != 10, '차량제작일자'].tail()

21685676          nan
21712859          nan
22655861          nan
23415596          nan
28698925    2020101.0
Name: 차량제작일자, dtype: object

In [65]:
nan_idx = []
for i, one in tqdm(enumerate(df['차량제작일자'].to_list())):
    if str(one) == 'nan':
        nan_idx.append(i)
len(nan_idx)

29534047it [00:14, 2067135.81it/s]

424546

In [66]:
error_idx = []
for i, one in tqdm(enumerate(df['차량제작일자'].to_list())):
    if len(str(one)) != 10:
        error_idx.append(i)
len(error_idx)

29534047it [00:16, 1765138.99it/s]

424560

In [67]:
len(set(error_idx) - set(nan_idx))

14

In [70]:
df.loc[list(set(error_idx) - set(nan_idx)), ['차량제작일자', '차량연식']]

             차량제작일자  차량연식
17678839  2160221.0  2016
1492297     11212.0  2002
3291562     50226.0  2005
858730    7770707.0  1999
5554988     70814.0  2008
28698925  2020101.0  2022
12484270  2130128.0  2013
1233232   2210413.0  2001
201553    9910501.0  1991
453521    9950407.0  1995
8915729   2100819.0  2010
21051863   261217.0  2018
9209788    101110.0  2011
2076989     30204.0  2003

In [71]:
df.loc[nan_idx, ['차량제작일자', '차량연식']].head()

  차량제작일자  차량연식
0    nan  1976
1    nan  1968
2    nan  1976
3    nan  1971
4    nan  1986

## 차량 연식

In [72]:
df['차량연식'].isnull().sum()

0

In [73]:
p = re.compile('[0-9]')
count = 0
if one in df['차량연식']:
    if not p.search(str(one)):
        count += 1
count

0

## 차량 말소 YN

In [74]:
df['차량말소YN'].isnull().sum()

0

In [75]:
df['차량말소YN'].value_counts(dropna=True)

N    25693532
Y     3840515
Name: 차량말소YN, dtype: int64

## 차대번호

In [76]:
df['차대번호'].isnull().sum()

0

## 제원관리번호

In [77]:
df['제원관리번호'].isnull().sum()

0

In [78]:
df['제원관리번호'].head()

0    10004800000000
1    30220100010946
2    10004800000000
3    30321400001063
4    30381300100968
Name: 제원관리번호, dtype: object

In [80]:
temp = df['제원관리번호'].str.len()
temp.unique()

array([14, 17], dtype=int64)

In [81]:
df.loc[df['제원관리번호'].str.len() == 14, '제원관리번호'].shape

(1998450,)

In [82]:
df.loc[df['제원관리번호'].str.len() == 17, '제원관리번호'].shape

(27535597,)

In [83]:
df.loc[df['제원관리번호'].str.len() == 17, '제원관리번호'].head()

33     00034313000053303
64     00034717000033303
107    00032709000020003
178    00034113000441104
194    00034314000023303
Name: 제원관리번호, dtype: object

In [84]:
error_idx = []
p = re.compile('[가-힣]')
for i, one in enumerate(df['제원관리번호']):
    if p.search(str(one)):
        error_idx.append(i)
len(error_idx)

0

## 배출가스 등급

In [85]:
df['배출가스등급'].isnull().sum()

32

# 2\. 제원정보(ODS_CEG_CAR_SRC_MIG)

In [106]:
name = 'CEG_CAR_SRC_MIG'
file_name = f'ODS_{name}.csv'
src = pd.read_csv(os.path.join(ods_fold, file_name), index_col=0, low_memory=False)
src.info()

<class 'pandas.core.frame.DataFrame'>
Index: 545374 entries, B0710004800013305 to A1110000800533322
Data columns (total 27 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   VHCNM        545272 non-null  object
 1   VHCTY        545370 non-null  object
 2   VHCTY_CL     531367 non-null  object
 3   VHCTY_TY     531332 non-null  object
 4   CAR_FRM      516295 non-null  object
 5   MKR_NM       529017 non-null  object
 6   FUEL         503254 non-null  object
 7   EGINTY       494157 non-null  object
 8   EMPV_WGHT    0 non-null       float64
 9   TOT_WGHT     541702 non-null  float64
 10  CRYNG_WGHT   446181 non-null  float64
 11  EGINPWR      471948 non-null  float64
 12  DSPLVL       510521 non-null  float64
 13  TKCAR_NMPR   545313 non-null  float64
 14  VHCL_LT      514786 non-null  float64
 15  VHCL_WH      514799 non-null  float64
 16  VHCL_HG      514732 non-null  float64
 17  PLOR_NM      540392 non-null  object
 18  REPCAR_NM    0 non-null       float64
 19  DELE_YN      545374 non-null  object
 20  CNFRM_DE     532881 non-null  object
 21  DRV_FRM      114619 non-null  object
 22  GEARBOX_KND  540165 non-null  object
 23  RMK          1 non-null       object
 24  CRTN_DT      545374 non-null  object
 25  UPDT_DT      14578 non-null   object
 26  USER_ID      545374 non-null  object
dtypes: float64(10), object(17)
memory usage: 116.5+ MB

In [107]:
file_name = f'[정제]{name}.xlsx'
col_df = pd.read_excel(os.path.join(col_fold, file_name), sheet_name='ODS_col')
col_dict = {a:b for a,b in col_df[['컬럼', '내용']].values}
src.columns = [col_dict[x] for x in src.columns]
src.columns

Index(['차명', '차종', '차종분류', '차종유형(소분류)', '자동차형식', '제작사명', '연료', '엔진형식', '공차중량',
       '총중량', '적재중량', '엔진출력', '배기량', '승차인원', '차량길이', '차량너비', '차량높이', '원산지명',
       '미정', '삭제YN', '승인일자', '구동형식', '변속기종류', '미정', '생성일시', '수정일시', '미정'],
      dtype='object')

## 차종분류

In [108]:
src['차종분류'].unique()

array(['특수용도형-특수용도형', '특수', '특수용도형-피견인', '일반', '다목적', '밴', '일반형-픽업',
       '일반형-카고', '기타', '견인', '특수작업형', '특수용도형-탱크로리', '덤프', '구난', '승용겸화물',
       '특수용도형', nan], dtype=object)

In [109]:
src['차종분류'].isnull().sum()

14007

In [116]:
src.loc[src['차종분류'].isnull() == True, ['차종분류', '차종', '차명']].head()

                  차종분류 차종   차명
SRCMNNO
07550000100043018  NaN  T  ELF
07550000100053018  NaN  T  ELF
07550000100063018  NaN  T  ELF
07550000100073018  NaN  T  ELF
07550000100083018  NaN  T  ELF

In [102]:
src['차종'].unique()

array(['T', 'V', 'P', 'S', nan], dtype=object)

In [86]:
df['차종분류'].unique()

array(['일반', '일반형-카고', '특수용도형-특수용도형', '특수용도형-피견인', '덤프', '구난', '특수작업형',
       '기타', '다목적', '견인', '밴', '일반형-픽업', '승용겸화물', '특수용도형-탱크로리', '특수',
       '특수용도형', nan], dtype=object)

In [87]:
df['차종분류'].isnull().sum()

21

In [90]:
df.loc[df['차종분류'].isnull() == True, ['차종분류', '차종_등록정보', '차종_제원정보']]

         차종분류 차종_등록정보 차종_제원정보
29505431  NaN      승용     NaN
29506203  NaN      승용     NaN
29506215  NaN      승용     NaN
29506915  NaN      승용     NaN
29506919  NaN      승용     NaN
29506921  NaN      승용     NaN
29507665  NaN      승용     NaN
29508285  NaN      승용     NaN
29509242  NaN      승용     NaN
29509300  NaN      승용     NaN
29509301  NaN      승용     NaN
29509882  NaN      승용     NaN
29510532  NaN      승용     NaN
29512613  NaN      승용     NaN
29512614  NaN      승용     NaN
29512615  NaN      승용     NaN
29515652  NaN      승용     NaN
29517478  NaN      승용     NaN
29518017  NaN      승용     NaN
29518018  NaN      승용     NaN
29533577  NaN      승용     NaN

## 차종

In [117]:
src['차종'].unique()

array(['T', 'V', 'P', 'S', nan], dtype=object)

In [118]:
src['차종'].isnull().sum()

4

In [119]:
src.loc[src['차종'].isnull() == True, '차종분류']

SRCMNNO
30110100002329    NaN
30210100000056    NaN
30220100000001    NaN
30110100002328    NaN
Name: 차종분류, dtype: object

In [123]:
df['차종_제원정보'].isnull().sum()

21

In [124]:
df.loc[df['차종_제원정보'].isnull() == True, ['차종_제원정보', '차종_등록정보']]

         차종_제원정보 차종_등록정보
29505431     NaN      승용
29506203     NaN      승용
29506215     NaN      승용
29506915     NaN      승용
29506919     NaN      승용
29506921     NaN      승용
29507665     NaN      승용
29508285     NaN      승용
29509242     NaN      승용
29509300     NaN      승용
29509301     NaN      승용
29509882     NaN      승용
29510532     NaN      승용
29512613     NaN      승용
29512614     NaN      승용
29512615     NaN      승용
29515652     NaN      승용
29517478     NaN      승용
29518017     NaN      승용
29518018     NaN      승용
29533577     NaN      승용

## 차명

In [125]:
src['차명'].isnull().sum()

102

In [136]:
src.loc[src['차명'].isnull() == True, ['자동차형식', '엔진형식', '차명']].head(30)

                       자동차형식          엔진형식   차명
SRCMNNO
30432000000014           NaN           NaN  NaN
30451600000004           NaN           NaN  NaN
30451600000007           NaN   10831268192  NaN
30451600000008           NaN      XA014091  NaN
30220100001103           NaN           NaN  NaN
30481800000001           NaN         G15CF  NaN
30460300000009           NaN           NaN  NaN
30462500000000           NaN           NaN  NaN
30110100002429           NaN   01801300465  NaN
30112200002000           NaN           NaN  NaN
30432400000002           NaN            5s  NaN
30432500001025          w-90           NaN  NaN
30432700000001           NaN           NaN  NaN
30112600000011           NaN            5F  NaN
30461400000002           NaN           NaN  NaN
30461400000007           NaN           NaN  NaN
30431200000008           NaN           NaN  NaN
99934103044871203          0             0  NaN
30111800000007           NaN           NaN  NaN
30411200000051           NaN       d2156hm  NaN
30311100000966           NaN           NaN  NaN
30462500000003           NaN   02674303223  NaN
30462600000000           NaN        015998  NaN
30470100000000           NaN           NaN  NaN
30412400000009           NaN           NaN  NaN
30420700000060           NaN          g4aj  NaN
30421400000035           NaN  04584100041강  NaN
30112600000072       104-941       104.941  NaN
30282400000006           NaN   01861100304  NaN
30412900002072     쓰바루웨곤 4WD        015998  NaN

In [134]:
df.loc[df['자동차형식'] == '104-941', ['자동차형식', '엔진형식', '차명']]

           자동차형식     엔진형식      차명
517100   104-941  104.941  벤즈C280
1878718  104-941  112 920  벤츠C280

In [137]:
df.loc[df['엔진형식'] == 'G15CF', ['자동차형식', '엔진형식', '차명']]

         자동차형식   엔진형식      차명
1171      TM19  G15CF      르망
1355      TM19  G15CF      르망
1972      TM19  G15CF      르망
3418      TM19  G15CF      르망
4413      TA19  G15CF    르망오토
...        ...    ...     ...
1009310   TF19  G15CF   대우 르망
1087713   TM19  G15CF      르망
2082125  TF19E  G15CF   대우 르망
2310856   TF19  G15CF  LEMANS
2538514   TF19  G15CF      르망

[3321 rows x 3 columns]

In [132]:
df['차명'].isnull().sum()

23

## 제작사 명

In [138]:
src['제작사명'].isnull().sum()

16357

In [146]:
list(src['제작사명'].unique())

['(주) 두성특장차',
 '자기인증면제차량',
 'SOFA차량',
 '한국토요타자동차(주)',
 '현대자동차(주)',
 '닛산',
 'BMW AG',
 '자일대우상용차 주식회사',
 '(주)참존임포트',
 '한국특장차(주)',
 '스카니아코리아그룹(주)',
 '타타대우상용차(주)',
 '주식회사 천하',
 '아우라(AURA)',
 '정우정공 (주)',
 '원모터스(One motors)',
 '기아자동차(주)',
 '미니앤컴팩(mini&compact)',
 '와우모터스',
 '홍성일',
 '에스알(S.R)모터스',
 '이명환',
 '세하(SEHA)',
 '(주)인피니코리아',
 '오토포럼',
 '스타자동차매매상사',
 '최영훈',
 '(주)노바모터스',
 '조인수입차',
 '(주)신광테크놀러지',
 '쌍용자동차(주)',
 '한국상용트럭(주)',
 '(주)한성특장',
 '아우디폭스바겐코리아(주)',
 '(주)한국쓰리축',
 '(주)새한에어서스펜션',
 '모터프로',
 '한신특장',
 '명성정공',
 '뉴클락모터스',
 '한남상사',
 '더블유모터스컴퍼니',
 '현대',
 '한국특장기술(주)',
 nan,
 '(주)수산특장',
 '대우자동차(주)',
 '(주)스타텍',
 '케이에이치특장(주)',
 '(유)동양특장차',
 '(주)함코',
 '(유)삼능기계',
 '동우특장차(주)',
 '(주)알텍',
 '미래특장차(주)',
 '금양기전',
 '삼성상용차(주)',
 '지엠코리아(주)',
 '아시아자동차공업(주)',
 '**기타**',
 '(주)진도',
 'TOYOTA',
 'MAZDA',
 '건민특장 주식회사',
 '디와이(주) 익산공장',
 '(주)한국그린피아',
 '(주)포멕특장',
 '(주)한중특장',
 '대우중공업(주)',
 '대양중공업(주)',
 '이텍산업 주식회사',
 '메리트특장차주식회사',
 '태산냉동 주식회사',
 '(주)동해기계항공',
 '(주)유로카라반',
 '(주)한국토미',
 '도쿄모터스',
 '주식회사 에타',
 '엔에스티네트웍스(주)',
 '(주)삼호정공',
 '(주)디에프에스모터스',
 '다임러트럭코리아(주)',
 '(주)우성특장',
 '탱크코리아(주)',
 '동아자동차',
 '진명자동차써비스(주)',
 '경일중공업(주)',
 '한국정밀기술(주)',
 '두성기계공업(주)',
 '한국쓰리축공업(주)',
 '다임러크라이슬러(주)',
 'GM',
 '혼다',
 '-',
 '포르쉐',
 '대구산업',
 '에스알(주)',
 '(주)한국메리트특장',
 '코리아리모엔터프라이즈',
 '한국특장 (주)',
 '카고텍코리아(주)',
 '정부쓰리축',
 '이안모터스',
 '진도특장차(주)',
 'MITSUBISHI',
 '대산물산(주)',
 'I&M',
 'SSR.Corporation.korea',
 '나비',
 '(주)콜모터스',
 '아이럭셔리모터스',
 '세화통운(주)',
 'K.B기프트',
 '(주)오토니드모터스',
 '영서무역',
 '사브',
 '비엠더블유코리아(주)',
 '(주)기아정기',
 '서울차량공업(주)',
 '이레FRP산업',
 '(주) 고호산업',
 '유럽자동차판매(주)',
 '르노삼성자동차(주)',
 '대구기자재',
 '(주)티브이알코리아',
 '(주)에버나인',
 '이상은',
 '바탕무역',
 '자라넷',
 '주식회사 씨엔에스티',
 '에프씨에이코리아(주)',
 '렉스피아튜닝',
 '한국닛산(주)',
 '주식회사 광림기업',
 '(주)블루버드엔터프라이즈',
 '아우디',
 '재규어',
 '(주)한원모터스',
 '한국지엠주식회사',
 '대흥중공업(주)',
 'BENZ',
 'FORD',
 '도요다',
 '덕산특장기공사',
 '지엠아시아퍼시픽지역본부 주식회사',
 '거화',
 '한성자동차(주)',
 '볼보',
 '주식회사 평강비아이엠(B.I.M)',
 '신흥정공(주)',
 '아이씨피(주)',
 '메르세데스벤츠코리아(주)',
 '(주)덕진이엔씨',
 '(주)미래하이텍',
 '(주)화이어텍',
 '오토라인',
 '김신애',
 '채숙',
 '지월카써비스',
 '1급 번영모터스',
 '조진남',
 '박연호',
 '한철민',
 '(주)코리아인터링크',
 '영원과학(주)',
 '크린매스터세리통상',
 'KWON CHUNG SUK',
 '박미정',
 '(주)애니씰드',
 '이주호',
 '(재)세계평화통일가정연합선교회',
 '신정개발특장차 주식회사',
 '스카이',
 '(주)티엔엘대한물류',
 '유로아이오토(주)',
 'GUD Car',
 '더에스라인모터스(주)',
 '제너럴트레이딩',
 '(주)삼한에스모터스',
 '금창수산',
 '(주)비오에프인베스트먼트',
 '김영아',
 '(주)애드로드',
 '배윤미',
 '박미화',
 '양희영',
 '벨지움투자개발코리아(주)',
 '랏로드커스텀',
 '(주)강남산업기계공업',
 '(유)디앤씨',
 '주식회사 한서정공',
 '에스 모터스',
 '(주) 삼오특장자동차',
 '주식회사 보고',
 '신영특장엠엔씨(주)',
 '(주)수산씨에스엠',
 '크라이슬러',
 '현대정공(주)',
 '신성엔지니어링',
 '(주)지원테크',
 '(주)드림티엔에스',
 '남영코리아화이어트럭(주)',
 '삼성중공업',
 '수정특장차(주)',
 '(주)뉴테크특장',
 '일성산업',
 '광림특장공업(주)',
 '(유)대원오토',
 '어시스트유에스에이아이엔씨',
 '고재선',
 '조영미',
 '도양국제상사',
 'SM MOTORS',
 '월드모터스',
 '에덴자동차(EDEN AUTO)',
 '국제자동차',
 '오션모터스',
 '호미은자동차',
 '포드세일즈서비스코리아(유)',
 '보령',
 '영광무역',
 '네오자동차(NEO AUTO COMPANY)',
 '씨네툴스 (CINETOOLS)',
 '(주)지너스인터내셔날',
 'COPART INTERNATIONAL',
 '이선아',
 '(주)삼정산업',
 '엠에스모터스',
 '(주)그립스아이앤씨',
 '(주)대신정공',
 '수림정공',
 '선진정공(주)',
 '진일엔지니어링 주식회사',
 '(주) 에이엠특장',
 '(주)동양특장',
 '(주)다복특장',
 '(주)에버다임',
 '광림특장차 주식회사',
 '대지정공(주)',
 '로젠바워',
 '(주)신인천정공',
 '정우정공(주)',
 '하나무역',
 '삼영무역',
 '혼다코리아(주)',
 '우림특장산업',
 '디제이(DJ)상사',
 '대우조선',
 '대신특장산업',
 '볼보트럭코리아(주)',
 '(주) 골드밴',
 '(주)하이랜더알브이',
 '(주)밴텍디엔씨',
 '(주)한빛특장',
 '(주)성안특장',
 '청호활어특장',
 '앵글러스마린',
 '큐브텍',
 '임규택',
 'AZENDA(아젠다)',
 '이진욱',
 '송지영',
 '디멕스인터내셔널',
 '캠트코리아',
 '(주)대진정공',
 '카트레이드',
 '광진통운(주)',
 '아스타모터스',
 '애플모터스',
 '(주)광림',
 '세진트레일러 주식회사',
 '부커셰링코리아 (주)',
 '남영자동차공업(주)',
 '삼일자동차(주)',
 '광림특장차(주)',
 '(주)앤비엔텍',
 '이석훈',
 '제트아이서비스',
 '이안 알브이 인터내셔날',
 '주식회사 케이시엠모터스',
 '(주)대아엔지니어링',
 '다이하쯔',
 '티와이모터스(주)',
 '레드라인컨버젼',
 '골프M',
 'IMC',
 '제이케이트레이딩(JK Trading)',
 'GT MOTORS',
 '(주)수림텔레콤',
 '이튼케이주식회사',
 '김대유',
 'SUNGAM PRINTING EQUIPMENT(여행과 캠핑)',
 '(주) 오텍',
 '중앙특장기술(주)',
 '에스오디(주)',
 '세화자동차',
 '주식회사 유아이테크',
 '반도산업(주)',
 '(주)나노메딕스',
 '백진석',
 '(주)화인특장',
 '(주) 닛시산업',
 '주식회사 제일모빌',
 '오토트레이더',
 '카네이션(CARNATION)',
 '신한국특장 주식회사',
 '에스디 원(SD one)',
 '(주)케이원캠핑',
 '우리캠핑',
 '한빛테크원(주)',
 '(주) 메인모터스',
 '재이(Jay)Motors',
 '한불모터스(주)',
 '(주)볼보자동차코리아',
 '이규선',
 '하순임',
 '김명진',
 '(주)아성자동차정비',
 '프로스퍼인터내셔날코리아',
 '박정미',
 '이근철',
 '박동빈',
 '(사)한국스포츠피싱협회',
 '김갑순',
 '김승태',
 '(주)엘케이오토',
 '박혜림',
 '형제마린',
 'JAKO(자코)',
 '홍원태',
 '에스앤알모터스(주)',
 '이재호',
 '이성인',
 '삼성물산(주)',
 '렉스오토갤러리(주)',
 '(주)영광화학',
 '두일테크',
 '김용담',
 '삼성장재',
 '이기용',
 '송미호,이상곤',
 '김남규',
 'MJ모터스',
 '이진하',
 '(주)컨피던스모터스',
 'FIAT',
 '(주)대한',
 '(주)한성티앤아이',
 '(주)삼번',
 '(주)우리특장',
 '(주)에프엠케이',
 '박계현',
 '(주)삼부',
 '지우특장산업',
 '주식회사 코지캠퍼',
 '차캐드',
 '(주)에바다',
 '경기특장개발(주)',
 '(주)동일이앤시',
 '(주)에프원텍',
 '(주)패밀리카라반',
 '본모빌',
 '신진자동차',
 '새한자동차',
 '광운자동차(주)',
 '(주)엠제이모터스',
 '최종관',
 '(주)성진',
 '주식회사 와이제이캠핑카',
 '(주)오톡션',
 '포르쉐코리아 주식회사',
 '(주)재규어랜드로버코리아',
 '퍼시픽 코치웍 코리아',
 '(주)신화플러스',
 '뉴한라산업',
 'W motors',
 '(주)오토젠',
 '(주)동문기업',
 '(주)마노',
 '한일무역',
 '정연마린테크',
 '알브이모터스코리아(주)',
 '정통특장(주)',
 '(주)지안캠핑카',
 '대성정공',
 '주식회사 서광특장',
 '지인모터스',
 '오토씨앤티',
 '수성특장(주)',
 '오메가특장',
 '엠지엠트레이딩(주)',
 '에코필드 유한회사',
 '주식회사 카셈(KASEM Co.,Ltd)',
 '유엘피 주식회사',
 '세종상사',
 '한국항공우주연구원',
 '(주)애드터치',
 '듀오탑',
 'HB모터스',
 'ACI C&T(에이씨아이)',
 '신호특장공업주식회사',
 '고려에스티엠(주)',
 '(주)에어트립',
 '폭스바겐',
 '창림모아츠(주)',
 '(주)뉴삼진캐딜락',
 '나르미모터스(주)',
 '주식회사 신화특장차',
 'Kocyigit Ahmet Muhammed',
 '이제이피코리아(주)',
 '(주)남동무역',
 '영일특장(주)',
 '(주) 두성하-드텍',
 '(주) 송림모터스',
 '(주) 동문기업',
 '(주)성창자동차',
 '한국텍(주)',
 '인터제이디',
 '(주)호룡',
 'IGNITION (이그니션)',
 '(주)노블레스 모터스',
 '대흥특장정공 (주)',
 '(주) 진화이앤씨',
 '(주)산요자코',
 '로쏘꼬모인터내셔널',
 '엠파이어할리',
 '(주)대양특장',
 '(주)모터뱅크',
 'YJ RV KOREA',
 '(주)와풀',
 '와이제이(YJ)',
 '대한예수교장로회평강제일교회',
 '대경특장(주)',
 'KNC 정공',
 '피케이임포트카(주)',
 '(주)에스에스모터스',
 '최혜선',
 '(주)우주',
 '이보라',
 '아우토니드',
 'SUBARU',
 '아이모터스',
 '신우정비공업사',
 '새한마린',
 '동우특장기공사',
 '한북특장(주)',
 '(주) 스타코',
 'NFS Corp',
 'ALFA ROMEO',
 '(주)영일에프알피산업',
 '(주)에드윈알브이',
 '유에스 밀리터리 세일즈 주식회사',
 '한국상용차(주)',
 '한국특장(주)',
 '(주)창조인프라',
 '고려특장(주)',
 '주식회사 제이앤제이인터내셔널',
 '(주)태경이엔지',
 '오션레포츠',
 '보성정공(주)',
 '(주)알브이투크루즈',
 '채순석',
 '(주)진보',
 '클라임코리아(주)',
 '박근택',
 '제이에스이엔지',
 '세화자동차주식회사',
 '(주)도로오토모티브',
 '만트럭버스코리아(주)',
 '(주)투데이모터스',
 '김효기',
 '주식회사 테미스',
 '이엔피시컨버젼 주식회사',
 '주식회사 신두리특장',
 '후소특장차(주)',
 'D.K MARINE',
 '윤호식',
 '한라산업',
 '(주)피엔소프트',
 '(주)모네타엠앤티',
 '디에이치케이',
 '엠엔디유',
 '유엔아이인터내셔날',
 '김상태',
 '빅토이모터스',
 '카앤조이',
 '바스코리아',
 '(주) 빌텍',
 '(주) 리츠 모터스',
 '저먼카라반(주)',
 '가고파이원특장',
 '동아특장공업사',
 '마린시트메탈',
 '나비스타인터내셔날',
 '주식회사 힐링코리아',
 'LMC GmbH',
 '주식회사 바울글로벌',
 '주식회사 선롱버스코리아',
 '(주)부원이엔티트레이딩',
 '현대자동차온양점',
 '스즈키',
 '(주)동호아이앤씨',
 '유로카파트앤모터스',
 '(주)천우자동차',
 '이원철',
 '한주무역',
 '(주)보보스모터스',
 '볼란테(VOLANTE)',
 '골드코퍼레이션',
 '김지영',
 'B N I 커뮤니케이션',
 '(주) 케이앤제이모터스',
 'RSSS.net',
 '유비통상(주)',
 '(주)씨앤진도',
 '다나특장',
 '제일세흥(주)',
 '카라반라이프(주)',
 '(주)다산중공업',
 '(주)클라비스 (clavis)',
 '락락모터스(주)',
 '스카니아',
 'Citroen',
 '(주)세정모터스',
 '하나시스템',
 '굿데이리무진',
 '(주)델타링크아시아',
 'SHM',
 '임태랑',
 '삼우중공업(주)',
 '(주)케이원모터스',
 '미림공업사',
 '서덕환',
 '극동유화(주) 고진모터 임포츠',
 '(주)승신',
 '흥국정공 (주)',
 'VIPS MOTORS',
 '(주)맥스리무진',
 '신일중공업(주)',
 '엠원무역',
 'SH캠핑',
 '삼화리모',
 '(주)일진아이앤티',
 '(주)로스오토웍스',
 '주식회사 스페이스',
 '(주)저먼오토모빌지엠비에이치',
 '라테크(주)',
 '웨스턴할리우드',
 '정립 특수자동차 트레일러',
 '소드(주)',
 '(주)벨루스앤로쿠스',
 '오희영',
 '신씨네인테리어',
 '유영란',
 '(주)한국포장',
 'LEE KEVIN JUNESUK (이준석)',
 '카라반클럽코리아',
 '고문자',
 'JS TRADE',
 '(주) 피벗모터스',
 '(주)알에스모터스',
 'Joy s RV AMERICA',
 'YI HYON CHOL',
 '이희연',
 '송영철',
 '공보길',
 '베레쉬트오토모빌',
 '히스콤',
 '박성수',
 '이교석',
 'S. Y Motors',
 '표사이먼',
 '금호타이어(주)',
 '김태상',
 '김성환',
 '카써스(주)',
 '팀-인터네셔날',
 '(주)에스엔제이프렌차이즈',
 '유성인더스트리얼컴퍼니',
 '(주)서정로지스틱스',
 'LK trade',
 '(주)KAB',
 '원진(주)',
 '(주)지엠케이',
 '(주)일진정공',
 '세종S.E.M',
 '광림히아브상사',
 '타임 모터스(주)',
 '승전자동차(주)',
 '유창경',
 '(주)성일특장',
 '원천특장공업주식회사',
 '(주)매직캔',
 '오토구루피',
 '좌동정비공업사2',
 '마르퀴스모터스(주)',
 '지에이치케이(주)',
 '(주)카부티끄아이보',
 '오토피아',
 '지인인터내셔널&지인모터스',
 '(주)얼바인인베스트먼트그룹',
 '(주)디엔앰트레이딩',
 'BICMOTORS',
 '주식회사 셀코',
 '신제일정공(주)',
 '부광모터스(주)',
 '화성특장차량(주)',
 '(주)뉴딜알브이',
 '(주)엠트랜드',
 '제이앤와이모터스',
 '현대역삼역판매대리점',
 '베스텍모터 (주)',
 '골드금융거래(주)',
 '(주)카라반클럽코리아',
 '(주)한국차체',
 'HAHM TAIK SOO',
 '(주) 에스와이오토프라자',
 '씨엑스씨 주식회사',
 '정원특장(주)',
 '(주)삼성특장',
 '동양자동차공업(주)',
 '(주)온세특장',
 '케이티트레이딩(KT TRADING)',
 '(주)밴텍캠핑카',
 '주식회사 원모터스코리아',
 '(주)에임하이글로벌',
 '(주)익스클루시브모터스',
 '아우토펠릭스',
 '지럭스',
 'ACARS',
 '짐캐리 주식회사',
 '이성해',
 '피노코리아',
 '영진자동차무역상사',
 '(주)에이시에이서울',
 '(주)신안특장',
 '알빙코리아',
 '주식회사 트랜스테크',
 '리라모터스',
 '(주) 궁전특수자동차',
 '(주)가이젠캠핑카',
 '대광특장정비',
 '(주) 제일트라마',
 '가나무역',
 'JG 모터파크',
 '와이디모터스',
 'B.S.K 오토모빌',
 '서진모터스',
 '진모터스',
 '(주)위너모터스',
 'KT 모터스',
 '블루트레이딩',
 '동우인더스(주)',
 '코팩테크노',
 '제일종합무역(주)',
 '주식회사 키친파이브',
 '(주)신성특수',
 '(주)스파코',
 '샐비지앤개러지',
 '(주)휠라이프',
 '퍼플코퍼레이션',
 'HMI',
 '송주영',
 '(주)씨앤피모터스',
 '(주)원오토박스',
 '디앨 주식회사',
 '유일 FMC',
 '성화기술산업 (주)',
 '(주)오토퀸',
 '뷰스트너',
 '(주)코윈',
 '(주)위더스지',
 '한특사료차',
 '(주)희성양행',
 '더 유니코',
 '모터라인(Motor Line)',
 '오아시스',
 '뱅캘',
 '(주)유라시아모터스앤레인보우',
 '대한특장자동차',
 '(주)우양',
 'LOTUS',
 '해강(주)',
 '신아특장',
 '아치해운(주)',
 '(주)국제엑스포통상',
 '유니코',
 '지엠씨(GMC)코리아',
 '대우버스(주)',
 '(주)스타카라반',
 '보현모터스(주)',
 '(주)에핑헴튼앤컴퍼니',
 '(주)서범',
 '케이트',
 '라인트레이딩',
 '현대하이모터스',
 '삼진',
 '평화특장',
 '(주)지톤그룹',
 '암코모터스(주)',
 '김정환',
 '(주) 쿠즈플러스',
 '윤승호',
 '김태진',
 '(주)더블유엠',
 '(주)한국특장',
 '(주)에이제이월드',
 '(주)에코카',
 '카올넷',
 '(주)파이어스',
 '씨제이대한통운(주)',
 '계백자동차(주)',
 '한아에스에스(주)',
 '(주)부원로드텍',
 '고준',
 '김혜영',
 '(주)중부특장',
 'ROVER',
 '에스제이원(주)',
 '(주)아울자동차',
 '(주)부산정비사업소',
 '(주)서보테크',
 '(주)제이엠모터스',
 'TRD',
 '(주)준앤드케이시시',
 '의료법인 희연의료재단',
 '에이앤디모터스',
 '(주)이움인터네셔널',
 '홍도찬',
 '수정인터내셔날',
 '피케이앤에스에이치모터스(주)',
 'Excel Sky Korea',
 '천일자동차매매상사',
 '대우자동차판매(주)',
 '울산해광산업',
 '일동상사',
 '트루모터스',
 '(주)카멜리아코리아',
 '좋은차좋은가격',
 '한국후3축',
 '(주)에이원텍',
 '(주)글로벌오디피',
 '대창발전차',
 '(주)진우에스엠씨',
 '(주)성진테크',
 '(주)원제로소프트',
 '본바겐코리아',
 'K&G MOTORS',
 '(주)한특모터스',
 '(주)부성특장',
 '위크캠프',
 '(주)케이지비고려골든박스',
 'JK다원모터스',
 '조인 인터네셔날',
 '강원정공',
 '신영특장차(주)',
 '(주)영일서브씨',
 '(주)디엠에이씨코퍼레이션',
 '해광산업사',
 'FERRARI',
 '주식회사 남동모터스',
 '(유)엠코파워스포츠',
 '주식회사 유니캠프',
 '(주)씨벤모터스',
 '(주)제이프로비젼',
 '사람과자동차',
 '엔씨피',
 '맥아상사',
 '임항규',
 '(주)유브이아이씨',
 '오토모바일',
 '(주)이원모터스',
 '(주)태경',
 '(주) 케이.에이.비',
 '나인특장자동차정비(주)',
 '동일석유(주)',
 '(주)이건',
 '(주)상전정공',
 '(주)동도특장차',
 '통진특장공업(주)',
 '동아탑정비공업사',
 '(주)알브이트레일러',
 '유창에스테크(주)',
 '태극자동차공업사',
 '(주)무빙애드',
 '(합자)평화산업',
 '부커구이어',
 '대한특장',
 '(주)엠아이에스',
 '유한회사비케이모터스',
 '우진교역',
 '데니지',
 '(주)씨제이테크',
 '(주)대동특장차',
 '(주)우림엔지니어링',
 '(주)우진산전 오창공장',
 '(주)리안오토(RIAN AUTO)',
 '터보모터스',
 '(주)디엠이엔지',
 'KASAN ENGINEERING',
 '형제특장 주식회사',
 '티엔티원',
 'EU오토모바일',
 '오숙희',
 '아베모터스',
 '(주)차앤드사람',
 '변선은',
 '김지훈',
 '주식회사 앤코래',
 'ICMAX(AUTO)',
 '(주)반켈이엔씨',
 '와이알 모비벅스',
 '(주)에이엠티코리아',
 '인천광역시소방안전본부',
 '(주)휴네이처',
 'KOSAC상사',
 '주식회사 우성자동차종합상사',
 '성진무역',
 '(주)비젼에이',
 '(주)안전기업',
 '준이엔지',
 '쎄븐모터스(주)',
 '(주) 유라시아통상',
 '아성무역(주)',
 '엘앤제이컨설턴트',
 '(주)GS글로벌',
 '니시쇼오토',
 '싸이언트레이딩',
 '제이앤더블유모터스(주)',
 '(주) 티티엠모터스',
 '(주) 오토액심',
 '(주)히사시컴퍼니',
 '플러스원',
 '월드트레이딩',
 '대한',
 '(주)대한씨앤티',
 '경원모터스',
 '다낭모터스',
 '(주)지브이티',
 '뉴오토네이션',
 '투인(TO IN)모터스',
 '준정무역',
 '첸들러오토갤러리',
 '(주)비투윈',
 '윌러모터스',
 '윤정준',
 '주영인터내셔널',
 '권혁래',
 '라임오토',
 '엘에스전선(주)',
 '(주)에어스트림 투유',
 '(주)엠티이엔지',
 '(주) 드림관리공사',
 '처비웨이코리아(주)',
 '한국바우텍(주)',
 '엠지쿱(MG. COOP)',
 '(주)아산홀딩스',
 '호성',
 '주식회사 대일특장',
 '엠제이모터스 주식회사',
 '다니엘특장',
 '신흥공업(주)',
 '다임폴라특장(주)',
 '(주)성우모터스',
 '(주) 윌트비',
 'JS인터네셔널',
 '브루엄 빕스 코리아',
 '모터비즈',
 '투맨특장',
 '(주)유일이앤티',
 '(주)제이엔자동차',
 '정선영',
 'SJ 모터스',
 '윌쏘나코리아 유한회사',
 '아우토빌',
 '(주)자유락',
 '삼부특장',
 'HS모터스',
 '(주)씨티앤티',
 'EVS CO.',
 '(주)브이이엔에스',
 '김나라',
 '현대FRP',
 '(주)경원기계',
 '세아수입차(주)',
 '(주)굿모닝특장',
 '에스에이치오토스(주)',
 '동아특장차',
 '한국디지텍',
 '(주) 성보테크니칼',
 '메디벤 (주)',
 '현대시멘트(주)',
 '(주)라이모자동차판매',
 '오로금속(주)',
 '케이씨(주)',
 '(주)코니코스',
 '지엠월드모터스(주)',
 '(주)제이티엔케이서울',
 '전난희',
 '티앤비공인중개사사무소',
 '(주)케이엠티씨',
 '에스와이인터내셔널',
 '장혁준',
 '자동차와 미래',
 'T.D 모터스',
 'H4K MOTORS',
 'Freightliner',
 '이베코',
 '타버트',
 'VISION MOTORS',
 '심경보',
 '제일F.R.P산업',
 '(주) 티더블유에프에스',
 '카라반모터스',
 '(주)더밴',
 '랜드로버',
 '신진기공(주)',
 '박현기',
 '한정철',
 '이창수',
 '박필호',
 '서홍기',
 '조웅',
 '박경태',
 '김효철',
 '김철민',
 '박태성',
 '강민헌',
 '이병훈',
 '에스모터스',
 '옥토기업(주)',
 'KOAM-CAROS CORP',
 '카체인지에이원(주)(영업소)',
 '서광교역',
 '카스토리',
 '더밸류코리아',
 '스피드코프레이션(주)',
 'BMK International',
 '(주) 유로엠모터스코리아',
 '(주)한국캐스보로',
 '(주)필오토',
 '서울특별시소방재난본부',
 '예스모터',
 '한웰(Hanwell)',
 '(주)이씨엠트레이딩',
 '제이코리아',
 '한신코퍼레이션',
 '일공일',
 '동이무역상사',
 '(주)오토갤럭시명품관',
 '(주)비엔비코리아',
 '에스케이모터스',
 '(주)에스티앤홀딩스',
 '대산특장',
 '씨엔라인',
 '볼보트럭',
 '우진공업(주)',
 '에프스카이',
 '동진특장',
 '(주)에이엔디오토모빌',
 '후소특장(주)',
 '(주)명류당',
 '(주)동구크레인',
 '대한테크닉스(주)',
 '(주)카스메카트로닉스',
 '세아특장',
 '대형모터스',
 '정우산기',
 '경북종합특장',
 '사자인터내셔널',
 '유로모빌(주)',
 '에프엔비',
 '부커셰링코리아(주)',
 '케이에이29트레이딩',
 'JJ',
 '전복길',
 '유니크',
 'MOTOR STAR INTERNATIONAL',
 '진.한복연구소',
 '(주) 금강엔터프라이즈',
 '매직부엌가구',
 '싸운드웨이브',
 '문화상사',
 'OPEL',
 '(주)오엠케이',
 'BLU M Trading. co',
 '카이로스 캠핑카',
 '다나인터내셔널',
 '(주)아티테크',
 '일신해운(주)',
 '황토모터스',
 '이헌일',
 '더스타모터스',
 '남영중기',
 '박경애',
 '해동정공',
 '태영공업',
 '에스유(SU)무역',
 '이범봉',
 '김민수',
 ...]

In [149]:
src.loc[src['제작사명'].isnull() == True, ['차명', '자동차형식', '엔진형식', '제작사명']].head(10)

                       차명     자동차형식            엔진형식 제작사명
SRCMNNO
30111100000072     벤츠300E   124 030         103 983  NaN
30111100000073      벤즈200       NaN  10292010047640  NaN
30111100000076     벤츠300E   124 030         103 983  NaN
30111100000080     벤츠S320   140 033         104 994  NaN
30111100000081         볼보     740GL           B200E  NaN
30111100000084     머큐리세이블  MSV3-27C            MSV3  NaN
30111100000085  아우디A62.0E        4A             ABK  NaN
30111100000088        BMW      318I           184S1  NaN
30111100000092      랜드크루사       NaN       3F0117036  NaN
30111100000109    BMW318i     318IA           184S1  NaN

In [143]:
src.loc[src['제작사명'].isnull() == True, ['차명', '자동차형식', '엔진형식', '제작사명']].isnull().sum()

차명          57
자동차형식     5331
엔진형식      4164
제작사명     16357
dtype: int64

## 제원관리번호

## 자동차 형식

## 연료

## 엔진형식