# [제원정보]5등급 차량

## Library

In [1]:
from tqdm import tqdm
import numpy as np
import re

In [2]:
import pandas as pd

## data load

In [3]:
col = pd.read_excel('data/220819_22.06월_제원정보_컬럼명.xlsx')
col

            col
0        차량관리번호
1        차량등록번호
2      본거지법정동코드
3         소유자구분
4       차종_등록정보
5            용도
6          차대번호
7        최초등록일자
8          차량연식
9        차량제작일자
10        검사유효일
11       제원관리번호
12     배출가스인증번호
13       배출가스등급
14      저공해조치종류
15  저공해조치구조변경YN
16       차량말소YN
17         취득일자
18         취득금액
19           차명
20      차종_제원정보
21         차종분류
22         차종유형
23        자동차형식
24         제작사명
25           연료
26         엔진형식
27          총중량
28         적재중량
29         엔진출력
30          배기량
31         승차인원
32         차량길이
33         차량너비
34         차량높이
35         원산지명
36         삭제YN
37       제원승인일자
38         구동형식
39        변속기종류

In [4]:
col['col'].to_list()

['차량관리번호',
 '차량등록번호',
 '본거지법정동코드',
 '소유자구분',
 '차종_등록정보',
 '용도',
 '차대번호',
 '최초등록일자',
 '차량연식',
 '차량제작일자',
 '검사유효일',
 '제원관리번호',
 '배출가스인증번호',
 '배출가스등급',
 '저공해조치종류',
 '저공해조치구조변경YN',
 '차량말소YN',
 '취득일자',
 '취득금액',
 '차명',
 '차종_제원정보',
 '차종분류',
 '차종유형',
 '자동차형식',
 '제작사명',
 '연료',
 '엔진형식',
 '총중량',
 '적재중량',
 '엔진출력',
 '배기량',
 '승차인원',
 '차량길이',
 '차량너비',
 '차량높이',
 '원산지명',
 '삭제YN',
 '제원승인일자',
 '구동형식',
 '변속기종류']

In [5]:
# 23.4s
df = pd.read_table('data/220819_22.06월기준_5등급.txt', encoding='cp949', header=40, names=col['col'].to_list())
df.info()

C:\Users\kbj\AppData\Local\Temp\ipykernel_3920\2541624834.py:2: DtypeWarning: Columns (7,9,29,37,38) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_table('data/220819_22.06월기준_5등급.txt', encoding='cp949', header=40, names=col['col'].to_list())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1186488 entries, 0 to 1186487
Data columns (total 40 columns):
 #   Column       Non-Null Count    Dtype
---  ------       --------------    -----
 0   차량관리번호       1186488 non-null  object
 1   차량등록번호       1186488 non-null  object
 2   본거지법정동코드     1186488 non-null  int64
 3   소유자구분        1186488 non-null  object
 4   차종_등록정보      1186476 non-null  object
 5   용도           1186488 non-null  object
 6   차대번호         1186488 non-null  object
 7   최초등록일자       1186488 non-null  object
 8   차량연식         1186488 non-null  int64
 9   차량제작일자       989593 non-null   object
 10  검사유효일        1185981 non-null  float64
 11  제원관리번호       1186488 non-null  object
 12  배출가스인증번호     560317 non-null   object
 13  배출가스등급       1186488 non-null  int64
 14  저공해조치종류      363785 non-null   object
 15  저공해조치구조변경YN  1186488 non-null  object
 16  차량말소YN       1186488 non-null  object
 17  취득일자         1044935 non-null  float64
 18  취득금액         1070799 non-null  float64
 19  차명           1186487 non-null  object
 20  차종_제원정보      1186488 non-null  object
 21  차종분류         1186488 non-null  object
 22  차종유형         1186488 non-null  object
 23  자동차형식        1185965 non-null  object
 24  제작사명         1183245 non-null  object
 25  연료           1186488 non-null  object
 26  엔진형식         1182990 non-null  object
 27  총중량          1186487 non-null  float64
 28  적재중량         1186478 non-null  float64
 29  엔진출력         1186201 non-null  object
 30  배기량          1186486 non-null  float64
 31  승차인원         1186487 non-null  float64
 32  차량길이         1186487 non-null  float64
 33  차량너비         1186487 non-null  float64
 34  차량높이         1186487 non-null  float64
 35  원산지명         1144734 non-null  object
 36  삭제YN         1186488 non-null  object
 37  제원승인일자       1185300 non-null  object
 38  구동형식         3 non-null        object
 39  변속기종류        1186486 non-null  object
dtypes: float64(10), int64(3), object(27)
memory usage: 362.1+ MB

In [6]:
df.head()

,차량관리번호,차량등록번호,본거지법정동코드,소유자구분,차종_등록정보,용도,차대번호,최초등록일자,차량연식,차량제작일자,...,배기량,승차인원,차량길이,차량너비,차량높이,원산지명,삭제YN,제원승인일자,구동형식,변속기종류
0,KMFXKS7BP2U559698-01,경기91다3109,4111113000,주민,화물,자가용,KMFXKS7BP2U559698,20020201,2002,20020125.0,...,2607.0,3.0,5075.0,1690.0,1930.0,대한민국,N,20010517.0,NaN,수동
1,KMHSJ81WP6U036607-01,05나8578,2820010300,주민,승용,자가용,KMHSJ81WP6U036607,20060310,2006,20060306.0,...,2188.0,7.0,4675.0,1890.0,1795.0,대한민국,N,20050921.0,NaN,자동
2,KN3HNP6D15K117795-01,95가6292,4519011100,주민,화물,자가용,KN3HNP6D15K117795,20051018,2005,20051014.0,...,2476.0,3.0,5120.0,1740.0,1995.0,대한민국,N,20050427.0,NaN,수동
3,KPBFA2AD12P043282-01,09어5181,4833025321,주민,승용,자가용,KPBFA2AD12P043282,20020809,2002,20020808.0,...,2874.0,7.0,4745.0,1870.0,1780.0,대한민국,N,20020502.0,NaN,자동
4,KNCSD0112XS452905-01,경기94도2820,4159035029,주민,화물,자가용,KNCSD0112XS452905,19990909,1999,19990828.0,...,2665.0,3.0,5030.0,1750.0,1970.0,대한민국,N,19970526.0,NaN,수동

### [출력]기본 파일 csv로 출력

In [7]:
# 27.8s
df.to_csv('data/220819_22.06월기준_5등급.csv', encoding='cp949')

### [로드]파일

In [4]:
# # 
# df = pd.read_csv('data/220819_22.06월기준_5등급.csv', encoding='cp949', index_col=0)
# df.info()

C:\Users\kbj\AppData\Local\Temp\ipykernel_15548\4060601969.py:2: DtypeWarning: Columns (15,18,30,38,39) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('data/220819_22.06월기준_4등급.csv', encoding='cp949', index_col=0)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1528586 entries, 0 to 1528585
Data columns (total 40 columns):
 #   Column       Non-Null Count    Dtype
---  ------       --------------    -----
 0   차량관리번호       1528586 non-null  object
 1   차량등록번호       1528586 non-null  object
 2   본거지법정동코드     1528586 non-null  int64
 3   소유자구분        1528586 non-null  object
 4   차종_등록정보      1528584 non-null  object
 5   용도           1528586 non-null  object
 6   차대번호         1528586 non-null  object
 7   최초등록일자       1528586 non-null  int64
 8   차량연식         1528586 non-null  int64
 9   차량제작일자       1358925 non-null  float64
 10  검사유효일        1528574 non-null  float64
 11  제원관리번호       1528586 non-null  object
 12  배출가스인증번호     1405585 non-null  object
 13  배출가스등급       1528586 non-null  int64
 14  저공해조치종류      195 non-null      object
 15  저공해조치구조변경YN  1528586 non-null  object
 16  차량말소YN       1528586 non-null  object
 17  취득일자         1435514 non-null  object
 18  취득금액         1453613 non-null  float64
 19  차명           1528586 non-null  object
 20  차종_제원정보      1528586 non-null  object
 21  차종분류         1528586 non-null  object
 22  차종유형         1528586 non-null  object
 23  자동차형식        1528302 non-null  object
 24  제작사명         1518694 non-null  object
 25  연료           1528586 non-null  object
 26  엔진형식         1526740 non-null  object
 27  총중량          1528585 non-null  float64
 28  적재중량         1528075 non-null  float64
 29  엔진출력         1528227 non-null  object
 30  배기량          1528582 non-null  float64
 31  승차인원         1528586 non-null  int64
 32  차량길이         1528585 non-null  float64
 33  차량너비         1528585 non-null  float64
 34  차량높이         1528583 non-null  float64
 35  원산지명         1509499 non-null  object
 36  삭제YN         1528586 non-null  object
 37  제원승인일자       1528155 non-null  object
 38  구동형식         41 non-null       object
 39  변속기종류        1528426 non-null  object
dtypes: float64(9), int64(5), object(26)
memory usage: 478.1+ MB

### 0\. [e]차량관리번호

In [ ]:
# - 오류
#     - null 값 : 0
#     - 영문과 숫자가 아닌 값 : 13936

In [8]:
df.iloc[:, 0].isnull().sum()

0

In [9]:
df.iloc[:, 0].value_counts()

KMFXKS7BP2U559698-01    1
KMFZAS7JP7U238362-01    1
KLKFR2431LB016548-01    1
KMCLB17JPNU008801-01    1
KPBFA2AF16P223677-01    1
                       ..
KMFZCD7JP4U041297-01    1
2799대구90가8081           1
KMHSD81VP5U959815-01    1
KMFZCS7JP8U345342-01    1
KMFFA17XPPU005700-01    1
Name: 차량관리번호, Length: 1186488, dtype: int64

In [10]:
df.iloc[:5, [0, 6]]

                 차량관리번호               차대번호
0  KMFXKS7BP2U559698-01  KMFXKS7BP2U559698
1  KMHSJ81WP6U036607-01  KMHSJ81WP6U036607
2  KN3HNP6D15K117795-01  KN3HNP6D15K117795
3  KPBFA2AD12P043282-01  KPBFA2AD12P043282
4  KNCSD0112XS452905-01  KNCSD0112XS452905

In [11]:
count = 0
p01 = re.compile('\w+[-]\d+')
idx01 = []
for i, one in tqdm(enumerate(df.iloc[:, 0].to_numpy())):
    temp = one.split('-')
    if len(temp) != 2 and str(one).count('-') != 1:
        idx01.append(i)
        count += 1
count

1186488it [00:00, 1290388.43it/s]

13936

In [12]:
idx01[:5]

[43, 226, 297, 536, 544]

In [15]:
idx01.index(297)

2

In [16]:
p01.search('28-88-112-06218-01')

In [17]:
'28-88-112-06218-01'.count('-')

4

In [18]:
temp = df[['차량관리번호', '차량등록번호', '차대번호']].reindex(idx01)
temp.head()

            차량관리번호     차량등록번호               차대번호
43    4899경남1누8987   경남1누8987        10792213224
226  4199경기99바1784  인천98바7227  WDB9542413K820948
297   1199서울5로2248   서울5로2248  KNHTP7322JS071203
536   4199경기6가5004   경기6가5004        03821121571
544   4199경기7르7435   경기7르7435  KMFFA17XPHU008187

In [19]:
temp.tail()

               차량관리번호    차량등록번호               차대번호
1186162  1199서울1초8887  서울1초8887  KMHLA11FPGU042651
1186171   489979머2903   79머2903  KLBUR59SGRP001150
1186319   319940서3764   40서3764  KNAJC52437A711963
1186320  4799경북7보2477  경북7보2477  KNCSA9132JS124808
1186364  4499충남7르2361  충남7르2361  KNCSB1114KS042163

In [20]:
len(temp)

13936

In [21]:
# 정상 차량관리번호가 아닌 데이터 중 차대번호가 숫자로만 이루어진 데이터 추출
p02 = re.compile('\D+')
idx02 = []
for i, one in tqdm(enumerate(temp['차대번호'])):
    if not p02.search(str(one)):
        idx02.append(temp.index[i])

13936it [00:00, 481814.60it/s]

In [22]:
df[['차량관리번호', '차량등록번호', '차대번호']].reindex(idx02)

               차량관리번호    차량등록번호          차대번호
43       4899경남1누8987  경남1누8987   10792213224
536      4199경기6가5004  경기6가5004   03821121571
1377     4199경기8누5366  경기8누5366   03812124383
2430     1199서울1루3857  서울1루3857   10812247800
2459     4599전북7가6379  전북7가6379   13822102056
...               ...       ...           ...
1183200  4599전북1라9198  전북1라9198   03812211738
1183849  2699부산2마1364  부산2마1364   10822218921
1184277  2899인천1다5445  인천1다5445   13821314935
1184716   279996고9549   96고9549  440134311315
1186066  1199서울3머9722  서울3머9722   10792253171

[2701 rows x 3 columns]

In [23]:
# 정상 차량관리번호 확인
df.loc[[19514, 23971], ['차량관리번호', '차량등록번호', '차대번호']]

                     차량관리번호   차량등록번호               차대번호
19514  KMFZCS7JP5U063851-01  90로1396  KMFZCS7JP5U063851
23971  KNAJC52136A539358-01  04노9883  KNAJC52136A539358

#### [출력]차량관리번호 오류 값의 차대번호

In [24]:
temp.to_csv('analysis/[제원정보][5등급][차량관리번호]오류샘플의_차대번호.csv', encoding='cp949')

In [20]:
len('439906마8829'.split('-'))

1

#### 차량관리번호 뒷번호 확인

In [25]:
num_list = []
rest_list = []
for i, one in tqdm(enumerate(df.iloc[:, 0])):
    temp = str(one).split('-')
    if len(temp) == 2:
        num_list.append(temp[-1])
    else:
        num_list.append(np.nan)
        rest_list.append(i)

1186488it [00:01, 891548.11it/s]

In [26]:
len(rest_list)

13936

In [28]:
# 뒷번호 나머지에서 차량관리번호 오류 값 제거
len(set(rest_list) - set(idx02))

11235

In [29]:
len(set(num_list))

4

In [30]:
set(num_list)

{'01', '02', '03', nan}

In [31]:
len(num_list)

1186488

In [32]:
num_list.count('01')

1171365

In [33]:
num_list.count('02')

1170

In [34]:
num_list.count('03')

17

In [35]:
for n in ['01', '02', '03']:
    idx = []
    for i, one in enumerate(df.iloc[:, 0].to_numpy()):
        temp = str(one).split('-')
        if len(temp) == 2 and temp[-1] == n:
            idx.append(i)
    print(f'차량관리번호 "-" 뒤 숫자 :{n}')
    print('예시)')
    print(df.iloc[idx[:3], 0])
    print()

차량관리번호 "-" 뒤 숫자 :01
예시)
0    KMFXKS7BP2U559698-01
1    KMHSJ81WP6U036607-01
2    KN3HNP6D15K117795-01
Name: 차량관리번호, dtype: object

차량관리번호 "-" 뒤 숫자 :02
예시)
651     KMHLA11FPGU065911-02
2279    KNCSA9132JS139190-02
2379    KN2DAM8A1JK001418-02
Name: 차량관리번호, dtype: object

차량관리번호 "-" 뒤 숫자 :03
예시)
226765    1G6KS5182HU807373-03
255369    KMHPA21EPEU124185-03
288592    KMHJN81VP4U056566-03
Name: 차량관리번호, dtype: object

In [38]:
for one in df.iloc[:, 0].to_numpy():
    temp = one.split('-')
    if len(temp) == 2:
        if 'KMFXKS7BP2U559698' in one:
            print(one)

KMFXKS7BP2U559698-01

In [39]:
for one in df.iloc[:, 0].to_numpy():
    temp = one.split('-')
    if len(temp) == 2:
        if 'KMHLA11FPGU065911' in one:
            print(one)

KMHLA11FPGU065911-02

In [40]:
for one in df.iloc[:, 0].to_numpy():
    temp = one.split('-')
    if len(temp) == 2:
        if '1G6KS5182HU807373' in one:
            print(one)

1G6KS5182HU807373-03

##### 차량관리번호 앞번호(차대번호) 중복 여부 확인

In [41]:
# 차량관리번호 앞번호(차대번호) 중복 여부 체크
list03 = []
idx03 = []
for i, one in enumerate(df.iloc[:, 0].to_numpy()):
    temp = str(one).split('-')
    if len(temp) == 2:
        list03.append(temp[0])
        idx03.append(i)

In [42]:
a = [1, 2, 3]
b = a.copy()
b.remove(3)
a, b

([1, 2, 3], [1, 2])

In [43]:
dict03_1 = dict()
for one in set(list03):
    dict03_1[one] = 0

In [44]:
test_list = [1, 2, 3, 2, 3, 3, 4, 5]
test_dict = dict()
for one in set(test_list):
    test_dict[one] = 0
test_dict

{1: 0, 2: 0, 3: 0, 4: 0, 5: 0}

In [45]:
for one in test_list:
    test_dict[one] += 1
test_dict

{1: 1, 2: 2, 3: 3, 4: 1, 5: 1}

In [46]:
for one in list03:
    dict03_1[one] += 1

In [47]:
# 중복 앞번호 : 24 개
keys = []
for k, v in dict03_1.items():
    if v >= 2:
        keys.append(k)
len(keys)

24

In [48]:
keys[:5]

['KNCSD0322VS315866',
 'KN5MFT7X1MK000146',
 '449934294852',
 '2GAFG35L5G4135703',
 '10792153054EOGUS']

In [49]:
dict03_1['KNCSD0322VS315866']

2

In [50]:
keys = sorted(keys)

In [51]:
keys[:5]

['10782112705',
 '10792153054EOGUS',
 '10792214743',
 '10832247422',
 '2GAFG35L5G4135703']

In [52]:
a = [1, 2, 3, 2]
a.index(2)

1

In [53]:
# 중복 뒷번호 샘플 추출 : 48 개
idx03_1 = []
for k in keys:
    for i, one in enumerate(df.iloc[:, 0].to_numpy()):
        if k in one:
            idx03_1.append(i)

In [54]:
len(idx03_1)

48

In [55]:
df.iloc[idx03_1, 0]

532743           10782112705-01
844797           10782112705-02
698415      10792153054EOGUS-01
728487      10792153054EOGUS-02
477858           10792214743-02
751902           10792214743-01
559524           10832247422-02
1079422          10832247422-01
281460     2GAFG35L5G4135703-02
310138     2GAFG35L5G4135703-01
422041          419734297854-01
427959          419734297854-02
969157          419934399332-02
1169539         419934399332-01
23034           419934399356-01
831324          419934399356-02
596017          420234203244-01
894184          420234203244-02
356043          449934294852-02
1036418         449934294852-01
291513          449934294855-01
1056322         449934294855-02
69200      KMFAA19RPJU002468-01
593306     KMFAA19RPJU002468-02
16429      KMFFA17APRU142377-01
1119730    KMFFA17APRU142377-02
886734     KMFGA17AP4C206251-01
1035451    KMFGA17AP4C206251-02
681691     KMFGA17LP2C165003-02
749017     KMFGA17LP2C165003-01
74002      KMFLA19JPTC109807-02
399639     KMFLA19JPTC109807-01
865542     KMFXKS7APTU035880-01
908267     KMFXKS7APTU035880-02
69481      KMFZCS7HP7U223169-02
1095909    KMFZCS7HP7U223169-01
254741     KMHSF31EPEU030266-01
655176     KMHSF31EPEU030266-02
70563      KN5MFT7X1MK000146-02
259764     KN5MFT7X1MK000146-01
59821      KNAMC75137S168063-01
1158886    KNAMC75137S168063-02
496975     KNCSC9132MS233886-02
661662     KNCSC9132MS233886-01
146033     KNCSD0322VS315866-02
594049     KNCSD0322VS315866-01
254937     KPBFA2AF16P231090-02
537373     KPBFA2AF16P231090-01
Name: 차량관리번호, dtype: object

In [56]:
# 중복 뒷번호 중복 최대 횟수 : 2 번
m = 0
for k, v in dict03_1.items():
    if m <= v:
        m = v
m

2

#### [출력]앞번호 중복 예시

In [57]:
temp03_1 = df.iloc[idx03_1, 0]
temp03_1.to_excel('analysis/[제원정보][5등급][차량관리번호]앞번호_중복_예시.xlsx', encoding='utf-8')

C:\Users\kbj\AppData\Roaming\Python\Python39\site-packages\pandas\util\_decorators.py:211: FutureWarning: the 'encoding' keyword is deprecated and will be removed in a future version. Please take steps to stop the use of 'encoding'
  return func(*args, **kwargs)

### 1\. 차량등록번호

In [ ]:
# - 오류
#     - null 값 : 0
#     - 오류 값 : 1

In [58]:
df.iloc[:, 1].isnull().sum()

0

In [59]:
df.iloc[:, 1].value_counts()

경기91다3109    1
82구5659      1
인천7머5543     1
80거2009      1
06어4006      1
            ..
90어2229      1
대구90가8081    1
16구4948      1
89서3963      1
충북90가2032    1
Name: 차량등록번호, Length: 1186488, dtype: int64

In [60]:
count = 0
p11 = re.compile('\d+[가-힣]+')
idx11 = []
for i, one in tqdm(enumerate(df.iloc[:, 1].to_numpy())):
    if not p11.search(one):
        idx11.append(i)
        count += 1
count

1186488it [00:01, 1109586.83it/s]

1

In [61]:
df.iloc[:, 1].reindex(idx11)

389132    서울703**575
Name: 차량등록번호, dtype: object

In [68]:
df.iloc[idx11, [0, 1, 6]]

                차량관리번호      차량등록번호         차대번호
389132  1199서울703**575  서울703**575  03821215031

In [65]:
# [숫자][한글][숫자] 형식이 아닌 값 : 1
count = 0
p12 = re.compile('\d+[가-힣]+\d+')
idx12 = []
for i, one in tqdm(enumerate(df.iloc[:, 1].to_numpy())):
    if not p12.search(one):
        idx12.append(i)
        count += 1
count

1186488it [00:01, 1081075.33it/s]

1

In [66]:
df.iloc[:, 1].reindex(idx12)

389132    서울703**575
Name: 차량등록번호, dtype: object

In [67]:
df.iloc[idx12, [0, 1, 6]]

                차량관리번호      차량등록번호         차대번호
389132  1199서울703**575  서울703**575  03821215031

### 2\. 본거지법정동코드

In [ ]:
# - 오류
#     - null 값 :  개
#     - 숫자가 아닌 값 :  개
#     - 길이가 10이 아닌 값 :  개

In [69]:
df.iloc[:, 2].isnull().sum()

0

In [71]:
df.iloc[:, 2].value_counts()

4139013200    4114
2647010200    2996
1150010300    2940
1162010200    2923
1147010300    2785
              ...
4613035025       1
4272033000       1
4679039533       1
4729025633       1
4571000000       1
Name: 본거지법정동코드, Length: 20187, dtype: int64

In [72]:
# 숫자가 아닌 값
count = 0
p2 = re.compile('\D+')
idx2 = []
for i, one in tqdm(enumerate(df.iloc[:, 2].to_numpy())):
    if p2.search(str(one)):
        idx2.append(i)
        count += 1
count

1186488it [00:02, 548766.16it/s]

0

In [73]:
p2.search('2b안녕하세요1a')

In [74]:
count = 0
idx21 = []
for i, one in tqdm(enumerate(df.iloc[:, 2].to_numpy())):
    if len(str(one)) != 10:
        idx21.append(i)
        count += 1
count

1186488it [00:01, 800876.91it/s]

0

### 3\. 소유자구분

In [75]:
df.iloc[:, 3].value_counts()

주민     967066
법인     145775
사업자     50809
기타      15302
외국인      7536
Name: 소유자구분, dtype: int64

### 4\. 차종_등록정보

In [76]:
df.iloc[:, 4].value_counts()

화물    696381
승용    370580
승합    102885
특수     16630
Name: 차종_등록정보, dtype: int64

### 5\. 용도

In [77]:
df.iloc[:, 5].value_counts()

자가용    1124666
영업용      60265
관용        1557
Name: 용도, dtype: int64

### 6\. [e]차대번호

In [78]:
# - 오류
#     - null 값 : 0
#     - 차대번호 길이별 통계

In [79]:
df2 = df.copy()

In [80]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1186488 entries, 0 to 1186487
Data columns (total 40 columns):
 #   Column       Non-Null Count    Dtype
---  ------       --------------    -----
 0   차량관리번호       1186488 non-null  object
 1   차량등록번호       1186488 non-null  object
 2   본거지법정동코드     1186488 non-null  int64
 3   소유자구분        1186488 non-null  object
 4   차종_등록정보      1186476 non-null  object
 5   용도           1186488 non-null  object
 6   차대번호         1186488 non-null  object
 7   최초등록일자       1186488 non-null  object
 8   차량연식         1186488 non-null  int64
 9   차량제작일자       989593 non-null   object
 10  검사유효일        1185981 non-null  float64
 11  제원관리번호       1186488 non-null  object
 12  배출가스인증번호     560317 non-null   object
 13  배출가스등급       1186488 non-null  int64
 14  저공해조치종류      363785 non-null   object
 15  저공해조치구조변경YN  1186488 non-null  object
 16  차량말소YN       1186488 non-null  object
 17  취득일자         1044935 non-null  float64
 18  취득금액         1070799 non-null  float64
 19  차명           1186487 non-null  object
 20  차종_제원정보      1186488 non-null  object
 21  차종분류         1186488 non-null  object
 22  차종유형         1186488 non-null  object
 23  자동차형식        1185965 non-null  object
 24  제작사명         1183245 non-null  object
 25  연료           1186488 non-null  object
 26  엔진형식         1182990 non-null  object
 27  총중량          1186487 non-null  float64
 28  적재중량         1186478 non-null  float64
 29  엔진출력         1186201 non-null  object
 30  배기량          1186486 non-null  float64
 31  승차인원         1186487 non-null  float64
 32  차량길이         1186487 non-null  float64
 33  차량너비         1186487 non-null  float64
 34  차량높이         1186487 non-null  float64
 35  원산지명         1144734 non-null  object
 36  삭제YN         1186488 non-null  object
 37  제원승인일자       1185300 non-null  object
 38  구동형식         3 non-null        object
 39  변속기종류        1186486 non-null  object
dtypes: float64(10), int64(3), object(27)
memory usage: 362.1+ MB

In [81]:
len('KMFZCY7JBCU784032')

17

#### 동일 차대번호 확인
- 19개(차량등록번호 다름)
    - KMHCF21DPSU000012
    - KLAVM69H1JB075787
    - KMHMF21FPPU018261
    - KMHVF21JPKU161128
    - KLY7T51BBNC011472
    - KLATF19T1NB526286
    - KMHNF21SPLU031911
    - KLASM69F1JB054053
    - KMHNF21SPLU049507
    - KNAGC2213SA102715
    - KLAEM19W1NB116889
    - KNAGA2222KS130454
    - KNALA2233RA822260
    - KNADA2322JS052345
    - 1GBEL19W3XB192382
    - KLATF19T1LB267581
    - KMHBF31FPNU489190
    - KNAGC2282YA382041
    - KMHBF31FPKU143334

In [82]:
df2.iloc[:, 6].isnull().sum()

0

In [83]:
df2.iloc[:, 6].value_counts()

KN1ADA1W1NK013714    3
KLAPM69E1HB026296    2
10792214743          2
KNCSA9612HS162574    2
KMHNF21FPGU000135    2
                    ..
KMHSJ81WP6U002262    1
KNCSB1114KS042653    1
KMHSJ81WP6U080077    1
KPBFA2AF14P141262    1
KMFFA17XPPU005700    1
Name: 차대번호, Length: 1186453, dtype: int64

In [84]:
df2.shape

(1186488, 40)

In [86]:
dup_vin_df = df2.iloc[:, 6].value_counts().reset_index()
dup_vin_df.columns = ['차대번호', '개수']
dup_vin_df.head()

                차대번호  개수
0  KN1ADA1W1NK013714   3
1  KLAPM69E1HB026296   2
2        10792214743   2
3  KNCSA9612HS162574   2
4  KMHNF21FPGU000135   2

In [87]:
dup_vin_df.shape

(1186453, 2)

In [89]:
# 중복 차대번호 추출
dup_vin_df2 = dup_vin_df[dup_vin_df['개수'] > 1].reset_index(drop=True)
dup_vin_df2.shape

(34, 2)

In [92]:
dup_vin_df2['차대번호'].head()

0    KN1ADA1W1NK013714
1    KLAPM69E1HB026296
2          10792214743
3    KNCSA9612HS162574
4    KMHNF21FPGU000135
Name: 차대번호, dtype: object

##### 동일 차대번호 예시
- 차량등록번호는 다름

In [104]:
for i in range(dup_vin_df2['차대번호'].shape[0]):
    print(f'{i}번째 차대번호')
    print(df2.loc[df2['차대번호'] == dup_vin_df2['차대번호'][0], ['차량등록번호', '차대번호']])
    print()

0번째 차대번호
           차량등록번호               차대번호
446896   서울4주4101  KN1ADA1W1NK013714
943454   서울4주4187  KN1ADA1W1NK013714
1017794  서울4주4149  KN1ADA1W1NK013714

1번째 차대번호
           차량등록번호               차대번호
446896   서울4주4101  KN1ADA1W1NK013714
943454   서울4주4187  KN1ADA1W1NK013714
1017794  서울4주4149  KN1ADA1W1NK013714

2번째 차대번호
           차량등록번호               차대번호
446896   서울4주4101  KN1ADA1W1NK013714
943454   서울4주4187  KN1ADA1W1NK013714
1017794  서울4주4149  KN1ADA1W1NK013714

3번째 차대번호
           차량등록번호               차대번호
446896   서울4주4101  KN1ADA1W1NK013714
943454   서울4주4187  KN1ADA1W1NK013714
1017794  서울4주4149  KN1ADA1W1NK013714

4번째 차대번호
           차량등록번호               차대번호
446896   서울4주4101  KN1ADA1W1NK013714
943454   서울4주4187  KN1ADA1W1NK013714
1017794  서울4주4149  KN1ADA1W1NK013714

5번째 차대번호
           차량등록번호               차대번호
446896   서울4주4101  KN1ADA1W1NK013714
943454   서울4주4187  KN1ADA1W1NK013714
1017794  서울4주4149  KN1ADA1W1NK013714

6번째 차대번호
           차량등록번호               차대번호
446896   서울4주4101  KN1ADA1W1NK013714
943454   서울4주4187  KN1ADA1W1NK013714
1017794  서울4주4149  KN1ADA1W1NK013714

7번째 차대번호
           차량등록번호               차대번호
446896   서울4주4101  KN1ADA1W1NK013714
943454   서울4주4187  KN1ADA1W1NK013714
1017794  서울4주4149  KN1ADA1W1NK013714

8번째 차대번호
           차량등록번호               차대번호
446896   서울4주4101  KN1ADA1W1NK013714
943454   서울4주4187  KN1ADA1W1NK013714
1017794  서울4주4149  KN1ADA1W1NK013714

9번째 차대번호
           차량등록번호               차대번호
446896   서울4주4101  KN1ADA1W1NK013714
943454   서울4주4187  KN1ADA1W1NK013714
1017794  서울4주4149  KN1ADA1W1NK013714

10번째 차대번호
           차량등록번호               차대번호
446896   서울4주4101  KN1ADA1W1NK013714
943454   서울4주4187  KN1ADA1W1NK013714
1017794  서울4주4149  KN1ADA1W1NK013714

11번째 차대번호
           차량등록번호               차대번호
446896   서울4주4101  KN1ADA1W1NK013714
943454   서울4주4187  KN1ADA1W1NK013714
1017794  서울4주4149  KN1ADA1W1NK013714

12번째 차대번호
           차량등록번호               차대번호
446896   서울4주4101  KN1ADA1W1NK013714
943454   서울4주4187  KN1ADA1W1NK013714
1017794  서울4주4149  KN1ADA1W1NK013714

13번째 차대번호
           차량등록번호               차대번호
446896   서울4주4101  KN1ADA1W1NK013714
943454   서울4주4187  KN1ADA1W1NK013714
1017794  서울4주4149  KN1ADA1W1NK013714

14번째 차대번호
           차량등록번호               차대번호
446896   서울4주4101  KN1ADA1W1NK013714
943454   서울4주4187  KN1ADA1W1NK013714
1017794  서울4주4149  KN1ADA1W1NK013714

15번째 차대번호
           차량등록번호               차대번호
446896   서울4주4101  KN1ADA1W1NK013714
943454   서울4주4187  KN1ADA1W1NK013714
1017794  서울4주4149  KN1ADA1W1NK013714

16번째 차대번호
           차량등록번호               차대번호
446896   서울4주4101  KN1ADA1W1NK013714
943454   서울4주4187  KN1ADA1W1NK013714
1017794  서울4주4149  KN1ADA1W1NK013714

17번째 차대번호
           차량등록번호               차대번호
446896   서울4주4101  KN1ADA1W1NK013714
943454   서울4주4187  KN1ADA1W1NK013714
1017794  서울4주4149  KN1ADA1W1NK013714

18번째 차대번호
           차량등록번호               차대번호
446896   서울4주4101  KN1ADA1W1NK013714
943454   서울4주4187  KN1ADA1W1NK013714
1017794  서울4주4149  KN1ADA1W1NK013714

19번째 차대번호
           차량등록번호               차대번호
446896   서울4주4101  KN1ADA1W1NK013714
943454   서울4주4187  KN1ADA1W1NK013714
1017794  서울4주4149  KN1ADA1W1NK013714

20번째 차대번호
           차량등록번호               차대번호
446896   서울4주4101  KN1ADA1W1NK013714
943454   서울4주4187  KN1ADA1W1NK013714
1017794  서울4주4149  KN1ADA1W1NK013714

21번째 차대번호
           차량등록번호               차대번호
446896   서울4주4101  KN1ADA1W1NK013714
943454   서울4주4187  KN1ADA1W1NK013714
1017794  서울4주4149  KN1ADA1W1NK013714

22번째 차대번호
           차량등록번호               차대번호
446896   서울4주4101  KN1ADA1W1NK013714
943454   서울4주4187  KN1ADA1W1NK013714
1017794  서울4주4149  KN1ADA1W1NK013714

23번째 차대번호
           차량등록번호               차대번호
446896   서울4주4101  KN1ADA1W1NK013714
943454   서울4주4187  KN1ADA1W1NK013714
1017794  서울4주4149  KN1ADA1W1NK013714

24번째 차대번호
           차량등록번호               차대번호
446896   서울4주4101  KN1ADA1W1NK013714
943454   서울4주4187  KN1ADA1W1NK013714
1017794  서울4주4149  KN1ADA1W1NK013714

25번째 차대번호
           차량등록번호               차대번호
446896   서울4주4101  KN1ADA1W1NK013714
943454   서울4주4187  KN1ADA1W1NK013714
1017794  서울4주4149  KN1ADA1W1NK013714

26번째 차대번호
           차량등록번호               차대번호
446896   서울4주4101  KN1ADA1W1NK013714
943454   서울4주4187  KN1ADA1W1NK013714
1017794  서울4주4149  KN1ADA1W1NK013714

27번째 차대번호
           차량등록번호               차대번호
446896   서울4주4101  KN1ADA1W1NK013714
943454   서울4주4187  KN1ADA1W1NK013714
1017794  서울4주4149  KN1ADA1W1NK013714

28번째 차대번호
           차량등록번호               차대번호
446896   서울4주4101  KN1ADA1W1NK013714
943454   서울4주4187  KN1ADA1W1NK013714
1017794  서울4주4149  KN1ADA1W1NK013714

29번째 차대번호
           차량등록번호               차대번호
446896   서울4주4101  KN1ADA1W1NK013714
943454   서울4주4187  KN1ADA1W1NK013714
1017794  서울4주4149  KN1ADA1W1NK013714

30번째 차대번호
           차량등록번호               차대번호
446896   서울4주4101  KN1ADA1W1NK013714
943454   서울4주4187  KN1ADA1W1NK013714
1017794  서울4주4149  KN1ADA1W1NK013714

31번째 차대번호
           차량등록번호               차대번호
446896   서울4주4101  KN1ADA1W1NK013714
943454   서울4주4187  KN1ADA1W1NK013714
1017794  서울4주4149  KN1ADA1W1NK013714

32번째 차대번호
           차량등록번호               차대번호
446896   서울4주4101  KN1ADA1W1NK013714
943454   서울4주4187  KN1ADA1W1NK013714
1017794  서울4주4149  KN1ADA1W1NK013714

33번째 차대번호
           차량등록번호               차대번호
446896   서울4주4101  KN1ADA1W1NK013714
943454   서울4주4187  KN1ADA1W1NK013714
1017794  서울4주4149  KN1ADA1W1NK013714

#### 차대번호 정상 확인

In [105]:
# 17자리, 영문 -> 정상 : 1160578
count = 0
p61 = re.compile('[a-zA-Z]+')
idx61 = []
for i, one in tqdm(enumerate(df2.iloc[:, 6].to_numpy())):
    if len(str(one)) == 17 and p61.search(str(one)):
        idx61.append(i)
        count += 1
count

1186488it [00:01, 671384.52it/s]

1160578

In [106]:
# 정상에서 "I, O, Q" 포함한 값 : 873
temp61 = df2.iloc[idx61, 6].to_numpy()
idx61_1 = []
for i, one in tqdm(enumerate(temp61)):
    if ('I' in one) or ('O' in one) or ('Q' in one):
        idx61_1.append(idx61[i])
len(idx61_1)

1160578it [00:00, 1959047.19it/s]

873

In [107]:
df2.iloc[idx61_1, 6][:5]

C:\Users\kbj\AppData\Local\Temp\ipykernel_3920\2435097354.py:1: FutureWarning: The behavior of `series[i:j]` with an integer-dtype index is deprecated. In a future version, this will be treated as *label-based* indexing, consistent with e.g. `series[i]` lookups. To retain the old behavior, use `series.iloc[i:j]`. To get the future behavior, use `series.loc[i:j]`.
  df2.iloc[idx61_1, 6][:5]

5851     KLBUD65OHPP000214
6293     KPAHB6CM2JPO22324
6905     KN4XFWOH3VK001844
8076     KPAMCOCM1TP111859
10211    IMECM53U3LA620299
Name: 차대번호, dtype: object

In [109]:
# 17자리, 영문X => 숫자만 : 34
count = 0
p62 = re.compile('[a-zA-Z]+')
idx62 = []
for i, one in tqdm(enumerate(df2.iloc[:, 6].to_numpy())):
    n = 0
    for j in str(one):
        if p62.search(j):
            n += 1
    if len(str(one)) == 17 and n == 0:
        idx62.append(i)
        count += 1
count

1186488it [00:10, 114888.44it/s]

34

In [111]:
df2.iloc[:, 6].reindex(idx62)

4221       01761300880111111
26434      10842129027005018
31644      10772236638111111
49186      19027006811310333
69034      10822238671000000
131347     03831122925000000
150568     10822240201111111
176487     01831320373000000
185793     03841200269000000
209740     10792248208111111
213097     03831136717000000
255834     03782258475111111
314909     10831372297111111
315679     03801315475000000
355310     10792278447038085
403301     10831358444111111
422490     01691300579111111
423410     03841111420000000
454200     03782229540111111
506412     10822239805111111
560882     03791244098000000
641354     10802217777000000
644372     10782213821111111
742629     02831184011111111
853258     03832148696138133
914668     03811300527000000
926517     02821180606111111
1004664    10812237826000000
1029271    13821304026000000
1030074    03841201607000000
1043622    02841188023111111
1091015    01871105754000000
1100037    01791302162111111
1179317    03831216992111111
Name: 차대번호, dtype: object

In [112]:
# 17자리 X, 영문 : 777
count = 0
p63 = re.compile('[a-zA-Z]+')
idx63 = []
for i, one in tqdm(enumerate(df2.iloc[:, 6].to_numpy())):
    if len(str(one)) != 17 and p63.search(one):
        idx63.append(i)
        count += 1
count

1186488it [00:00, 1560303.04it/s]

777

In [113]:
df2.iloc[:, 6].reindex(idx63)[:5]

C:\Users\kbj\AppData\Local\Temp\ipykernel_3920\2206251045.py:1: FutureWarning: The behavior of `series[i:j]` with an integer-dtype index is deprecated. In a future version, this will be treated as *label-based* indexing, consistent with e.g. `series[i]` lookups. To retain the old behavior, use `series.iloc[i:j]`. To get the future behavior, use `series.loc[i:j]`.
  df2.iloc[:, 6].reindex(idx63)[:5]

107      10802119965EOGUS
4954          KB45C005021
5157          KB45C006663
5600     10822273090EOGUS
10611     13831318396EOWL
Name: 차대번호, dtype: object

In [114]:
# 17자리 X, 영문X : 25099
count = 0
p64 = re.compile('[a-zA-Z]+')
idx64 = []
for i, one in tqdm(enumerate(df2.iloc[:, 6].to_numpy())):
    n = 0
    for j in one:
        if p64.search(j):
            n += 1
    if len(str(one)) != 17 and n == 0:
        idx64.append(i)
        count += 1
count

1186488it [00:10, 114728.50it/s]

25099

In [115]:
df2.iloc[:, 6].reindex(idx64)[:5]

C:\Users\kbj\AppData\Local\Temp\ipykernel_3920\1133880624.py:1: FutureWarning: The behavior of `series[i:j]` with an integer-dtype index is deprecated. In a future version, this will be treated as *label-based* indexing, consistent with e.g. `series[i]` lookups. To retain the old behavior, use `series.iloc[i:j]`. To get the future behavior, use `series.loc[i:j]`.
  df2.iloc[:, 6].reindex(idx64)[:5]

31      03791237974
43      10792213224
165     10831378565
193     03802220195
300    290234302789
Name: 차대번호, dtype: object

In [116]:
# 차대번호 길이 종류 확인
len_vin = []
for i, one in tqdm(enumerate(df2.iloc[:, 6].to_numpy())):
    len_vin.append(len(str(one)))
set(len_vin)

1186488it [00:00, 1416241.10it/s]

{7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18}

In [117]:
df2['VIN_length'] = [ len(one) for one in df2['차대번호'] ]

In [118]:
df2['VIN_length'].unique()

array([17, 11, 16, 12, 15, 13, 14, 10,  9, 18,  8,  7], dtype=int64)

In [119]:
IOQ = []
for one in df2['차대번호']:
    if ('I' in one) or ('O' in one) or ('Q' in one):
        IOQ.append('Y')
    else:
        IOQ.append('N')
df2['IOQ'] = IOQ

In [120]:
df2['IOQ'].unique()

array(['N', 'Y'], dtype=object)

In [121]:
# 알파벳 포함
included_alpha = []
count = 0
p65 = re.compile('[a-zA-Z]+')
for i, one in tqdm(enumerate(df2.iloc[:, 6].to_numpy())):
    n = 0
    for j in one:
        if p65.search(j):
            n += 1
    if n == 0:
        included_alpha.append('N')
        count += 1
    else:
        included_alpha.append('Y')
count

1186488it [00:10, 117169.99it/s]

25133

In [122]:
df2['alpha'] = included_alpha

In [123]:
df2.groupby(['VIN_length', 'alpha', 'IOQ'])['차대번호'].count()

VIN_length  alpha  IOQ
7           Y      N            1
8           Y      N            1
9           N      N            1
            Y      N            3
10          N      N           18
            Y      N            2
11          N      N        21117
            Y      N          157
                   Y            2
12          N      N         3710
            Y      N           14
13          N      N           93
            Y      N            1
14          N      N          107
            Y      N           10
                   Y            1
15          N      N           42
            Y      N           11
                   Y          194
16          N      N           11
            Y      N          147
                   Y          232
17          N      N           34
            Y      N      1159705
                   Y          873
18          Y      N            1
Name: 차대번호, dtype: int64

In [124]:
df2.groupby(['VIN_length', 'IOQ'])['차대번호'].count()

VIN_length  IOQ
7           N            1
8           N            1
9           N            4
10          N           20
11          N        21274
            Y            2
12          N         3724
13          N           94
14          N          117
            Y            1
15          N           53
            Y          194
16          N          158
            Y          232
17          N      1159739
            Y          873
18          N            1
Name: 차대번호, dtype: int64

In [125]:
V_I_dict = df2.groupby(['VIN_length', 'IOQ'])['차대번호'].groups

In [126]:
V_I_dict.keys()

dict_keys([(7, 'N'), (8, 'N'), (9, 'N'), (10, 'N'), (11, 'N'), (11, 'Y'), (12, 'N'), (13, 'N'), (14, 'N'), (14, 'Y'), (15, 'N'), (15, 'Y'), (16, 'N'), (16, 'Y'), (17, 'N'), (17, 'Y'), (18, 'N')])

In [127]:
g = df2.groupby(['VIN_length', 'IOQ'], as_index=False)['차대번호'].count()
g

    VIN_length IOQ     차대번호
0            7   N        1
1            8   N        1
2            9   N        4
3           10   N       20
4           11   N    21274
5           11   Y        2
6           12   N     3724
7           13   N       94
8           14   N      117
9           14   Y        1
10          15   N       53
11          15   Y      194
12          16   N      158
13          16   Y      232
14          17   N  1159739
15          17   Y      873
16          18   N        1

In [128]:
V_I_df = g.sort_values(['VIN_length', 'IOQ'], ascending=[True, False])
V_I_df

    VIN_length IOQ     차대번호
0            7   N        1
1            8   N        1
2            9   N        4
3           10   N       20
5           11   Y        2
4           11   N    21274
6           12   N     3724
7           13   N       94
9           14   Y        1
8           14   N      117
11          15   Y      194
10          15   N       53
13          16   Y      232
12          16   N      158
15          17   Y      873
14          17   N  1159739
16          18   N        1

In [129]:
for v in range(10, 18):
    for i in ['N', 'Y']:
        try:
            idx = V_I_dict[(v, i)]
            print(f'[VIN_length : {v}, "IOQ"포함 : {i}]')
            print('예시)')
            print(df2.iloc[idx[:3], 6])
            print()
        except:
            pass

[VIN_length : 10, "IOQ"포함 : N]
예시)
47754    0283118691
61908    1332942254
75272    SL68806025
Name: 차대번호, dtype: object

[VIN_length : 11, "IOQ"포함 : N]
예시)
31     03791237974
43     10792213224
165    10831378565
Name: 차대번호, dtype: object

[VIN_length : 11, "IOQ"포함 : Y]
예시)
385830    SL67CO32925
749701    OC72T064502
Name: 차대번호, dtype: object

[VIN_length : 12, "IOQ"포함 : N]
예시)
300    290234302789
456    289934206482
871    270224201850
Name: 차대번호, dtype: object

[VIN_length : 13, "IOQ"포함 : N]
예시)
1119     03872120482대인
1833     119411325784라
36791    119134210022나
Name: 차대번호, dtype: object

[VIN_length : 14, "IOQ"포함 : N]
예시)
16134    21018721100220
37901    14861141341대동규
43763    KB-43-C-005729
Name: 차대번호, dtype: object

[VIN_length : 14, "IOQ"포함 : Y]
예시)
1044123    0383213487EORL
Name: 차대번호, dtype: object

[VIN_length : 15, "IOQ"포함 : N]
예시)
608      43-95-433-03092
26625    29-99-342-01697
33600    42-95-342-01943
Name: 차대번호, dtype: object

[VIN_length : 15, "IOQ"포함 : Y]
예시)
10611    13831318396EOWL
12825    03832101713EOWL
23510    13831317505EOWL
Name: 차대번호, dtype: object

[VIN_length : 16, "IOQ"포함 : N]
예시)
10614    KN2GAB2N2K001920
18976    KN3MAP7M2J000193
19720    KLAPM69A1GB02292
Name: 차대번호, dtype: object

[VIN_length : 16, "IOQ"포함 : Y]
예시)
107      10802119965EOGUS
5600     10822273090EOGUS
18595    10842117345EOGUS
Name: 차대번호, dtype: object

[VIN_length : 17, "IOQ"포함 : N]
예시)
0    KMFXKS7BP2U559698
1    KMHSJ81WP6U036607
2    KN3HNP6D15K117795
Name: 차대번호, dtype: object

[VIN_length : 17, "IOQ"포함 : Y]
예시)
5851    KLBUD65OHPP000214
6293    KPAHB6CM2JPO22324
6905    KN4XFWOH3VK001844
Name: 차대번호, dtype: object

##### [출력]번호길이, IOQ포함 통계

In [130]:
V_I_df.to_csv('analysis/[차대번호][5등급]번호길이_IOQ포함_통계.csv', index=False, encoding='cp949')

#### WMI 코드 분류 제작사 통계

In [131]:
wmi = pd.read_excel('data/20190730_WMI CODE.xlsx', sheet_name='WMI CODE')
wmi.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 690 entries, 0 to 689
Data columns (total 8 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   WMI            690 non-null    object
 1   MF CODE        690 non-null    object
 2   Identifier     690 non-null    object
 3   Manufacturer   690 non-null    object
 4   Country        688 non-null    object
 5   Vehicle Types  249 non-null    object
 6   Description    54 non-null     object
 7   참고             0 non-null      float64
dtypes: float64(1), object(7)
memory usage: 43.2+ KB

In [132]:
df2['차대번호'].head()

0    KMFXKS7BP2U559698
1    KMHSJ81WP6U036607
2    KN3HNP6D15K117795
3    KPBFA2AD12P043282
4    KNCSD0112XS452905
Name: 차대번호, dtype: object

In [133]:
df2['wmi'] = df2['차대번호'].str[:3]

In [134]:
df2['wmi'].head()

0    KMF
1    KMH
2    KN3
3    KPB
4    KNC
Name: wmi, dtype: object

In [135]:
df2 = df2.merge(wmi, left_on='wmi', right_on='WMI', how='left')
df2[['차대번호', 'wmi', 'WMI']].head()

                차대번호  wmi  WMI
0  KMFXKS7BP2U559698  KMF  KMF
1  KMHSJ81WP6U036607  KMH  KMH
2  KN3HNP6D15K117795  KN3  NaN
3  KPBFA2AD12P043282  KPB  NaN
4  KNCSD0112XS452905  KNC  KNC

In [136]:
df2.shape

(1186488, 52)

In [137]:
df2[['차대번호', 'wmi', 'WMI', 'Manufacturer']].head()

                차대번호  wmi  WMI Manufacturer
0  KMFXKS7BP2U559698  KMF  KMF      Hyundai
1  KMHSJ81WP6U036607  KMH  KMH      Hyundai
2  KN3HNP6D15K117795  KN3  NaN          NaN
3  KPBFA2AD12P043282  KPB  NaN          NaN
4  KNCSD0112XS452905  KNC  KNC          Kia

In [138]:
df2.iloc[:, 6].isnull().sum()

0

##### 차대번호 길이 조건 전부 포함

In [139]:
# 차대번호 개수(WMI 코드와 매칭되는 데이터) : 1186488 개

In [140]:
# 차대번호 길이 조건 전부 포함
df2['WMI'].info()

<class 'pandas.core.series.Series'>
Int64Index: 1186488 entries, 0 to 1186487
Series name: WMI
Non-Null Count   Dtype
--------------   -----
900759 non-null  object
dtypes: object(1)
memory usage: 18.1+ MB

In [141]:
# wmi 코드와 매칭되는 데이터
nor_iden = df2.loc[df2['WMI'].isnull() == False, ['차량관리번호', '차대번호', 'wmi', 'WMI', 'Identifier']]
nor_iden.head()

                 차량관리번호               차대번호  wmi  WMI Identifier
0  KMFXKS7BP2U559698-01  KMFXKS7BP2U559698  KMF  KMF    Hyundai
1  KMHSJ81WP6U036607-01  KMHSJ81WP6U036607  KMH  KMH    Hyundai
4  KNCSD0112XS452905-01  KNCSD0112XS452905  KNC  KNC        Kia
5  KLACM19F1GB001687-01  KLACM19F1GB001687  KLA  KLA  GM Daewoo
7  KMHSD81VP5U083757-01  KMHSD81VP5U083757  KMH  KMH    Hyundai

In [142]:
# WMI 코드와 매칭되는 샘플 수 : 900759 개
nor_iden.shape

(900759, 5)

In [143]:
# wmi 유니크 개수 : 88
len(nor_iden['wmi'].unique())

88

In [144]:
# 제작사 유니크 개수 : 57
len(nor_iden['Identifier'].unique())

57

In [145]:
# wmi 코드와 매칭 안되는 데이터
error_iden = df2.loc[df2['WMI'].isnull() == True, ['차량관리번호', '차대번호', 'wmi', 'WMI', 'Identifier']]
error_iden.head()

                  차량관리번호               차대번호  wmi  WMI Identifier
2   KN3HNP6D15K117795-01  KN3HNP6D15K117795  KN3  NaN        NaN
3   KPBFA2AD12P043282-01  KPBFA2AD12P043282  KPB  NaN        NaN
6   KMCLK18EP6C013610-01  KMCLK18EP6C013610  KMC  NaN        NaN
9   KN3HAP53C1K775583-01  KN3HAP53C1K775583  KN3  NaN        NaN
13  KMCGK17AP4C195950-01  KMCGK17AP4C195950  KMC  NaN        NaN

In [146]:
# wmi 코드 매칭 안되는 샘플 수 : 285729
error_iden.shape

(285729, 5)

In [148]:
len(error_iden['wmi'].unique())

412

###### [출력]오류 wmi코드 예시

In [149]:
# error_iden.to_excel('analysis/[차대번호][5등급]오류_WMI코드_데이터예시.xlsx',index=False, encoding='cp949')

In [150]:
# wmi 코드와 매칭되는 데이터 통계
nor_iden_group = nor_iden.groupby(['Identifier'], as_index=False)['차대번호'].count().sort_values('차대번호', ascending=False)
nor_iden_group

                        Identifier    차대번호
16                         Hyundai  601406
24                             Kia  207766
50                       SsangYong   50939
29                             K화물   13927
11                       GM Daewoo    7093
26                             K승용    6239
6                           Daelim    4262
28                             K특수    1841
55                           Volvo    1612
49                         Scania     1355
5                        Chevrolet     826
48                          Scania     800
34                   Mercedes-Benz     618
22                            Jeep     517
27                             K승합     326
32                             MAN     270
30                      Land Rover     260
20                   Iveco Magirus     198
13                            Hino     144
47                          Saturn      66
9                             Ford      54
0                             Audi      45
54                      Volkswagen      40
35                         Mercury      28
2                              BMW      18
39                         Peugeot      17
3                            Buick       8
4                         Cadillac       8
41                         Pontiac       6
31                         Lincoln       5
37                          Nissan       5
25             Koenigsegg / Carvia       4
18  International Truck and Engine       4
40                        Plymouth       4
23                        Kenworth       3
52                          Suzuki       3
8                             Fiat       3
44                 Renault Samsung       3
21                          Jaguar       3
14                           Honda       3
10                    Freightliner       3
19                           Isuzu       3
33                           Mazda       3
38                      Oldsmobile       2
17                        Infiniti       2
53                         Toyota        2
15                         Hyosung       2
7                            Dodge       2
46                            Saab       2
42                         Porsche       2
36                      Mitsubishi       1
12                  General Motors       1
51                          Subaru       1
1                     Austin-Rover       1
45                     Rolls Royce       1
43                         Renault       1
56                           smart       1

###### [출력]제작사별 통계

In [151]:
nor_iden_group.to_excel('analysis/[차대번호][5등급]제작사별_통계.xlsx', index=False, encoding='cp949')

C:\Users\kbj\AppData\Roaming\Python\Python39\site-packages\pandas\util\_decorators.py:211: FutureWarning: the 'encoding' keyword is deprecated and will be removed in a future version. Please take steps to stop the use of 'encoding'
  return func(*args, **kwargs)

##### 차대번호 정상

In [152]:
# - 길이 17자리, IOQ 문자 미포함
# - 차대번호 개수(정상 WMI 코드) : 1159739 개

In [153]:
nor_vin = df2.loc[(df2['VIN_length'] == 17) & (df2['IOQ'] == 'N')]
nor_vin.head()

,차량관리번호,차량등록번호,본거지법정동코드,소유자구분,차종_등록정보,용도,차대번호,최초등록일자,차량연식,차량제작일자,...,alpha,wmi,WMI,MF CODE,Identifier,Manufacturer,Country,Vehicle Types,Description,참고
0,KMFXKS7BP2U559698-01,경기91다3109,4111113000,주민,화물,자가용,KMFXKS7BP2U559698,20020201,2002,20020125.0,...,Y,KMF,KMF,HYUN,Hyundai,Hyundai,Korea,Commercail vehicle,NaN,NaN
1,KMHSJ81WP6U036607-01,05나8578,2820010300,주민,승용,자가용,KMHSJ81WP6U036607,20060310,2006,20060306.0,...,Y,KMH,KMH,HYUN,Hyundai,Hyundai,Korea,Passenger & multi-purpose vehicle,NaN,NaN
2,KN3HNP6D15K117795-01,95가6292,4519011100,주민,화물,자가용,KN3HNP6D15K117795,20051018,2005,20051014.0,...,Y,KN3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,KPBFA2AD12P043282-01,09어5181,4833025321,주민,승용,자가용,KPBFA2AD12P043282,20020809,2002,20020808.0,...,Y,KPB,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,KNCSD0112XS452905-01,경기94도2820,4159035029,주민,화물,자가용,KNCSD0112XS452905,19990909,1999,19990828.0,...,Y,KNC,KNC,KIA,Kia,Kia,Korea,Truck,NaN,NaN

In [154]:
nor_vin.shape

(1159739, 52)

In [155]:
# wmi 코드와 매칭된 데이터
nor_iden_by_nor_vin = nor_vin.loc[nor_vin['WMI'].isnull() == False]
nor_iden_by_nor_vin.shape

(900169, 52)

In [156]:
# wmi 코드와 매칭안된 데이터
nor_vin.loc[nor_vin['WMI'].isnull() == True].shape

(259570, 52)

In [157]:
# wmi 코드와 매칭된 데이터, 제작사 유니크 값 
len(nor_iden_by_nor_vin['Identifier'].unique())

55

In [158]:
# wmi 코드와 매칭된 데이터, wmi 유니크 값
len(nor_iden_by_nor_vin['WMI'].unique())

85

In [159]:
# wmi 코드와 매칭된 데이터 통계
nor_iden_by_nor_vin_group = nor_iden_by_nor_vin.groupby('Identifier', as_index=False)['차대번호'].count().sort_values('차대번호', ascending=False)
nor_iden_by_nor_vin_group

                        Identifier    차대번호
16                         Hyundai  601281
24                             Kia  207664
48                       SsangYong   50785
28                             K화물   13915
11                       GM Daewoo    6983
25                             K승용    6239
6                           Daelim    4257
27                             K특수    1840
53                           Volvo    1573
47                         Scania     1349
5                        Chevrolet     821
46                          Scania     799
33                   Mercedes-Benz     615
22                            Jeep     517
26                             K승합     325
31                             MAN     268
29                      Land Rover     260
20                   Iveco Magirus     197
13                            Hino     144
45                          Saturn      60
9                             Ford      51
0                             Audi      44
52                      Volkswagen      40
34                         Mercury      28
38                         Peugeot      17
2                              BMW      17
3                            Buick       8
4                         Cadillac       8
40                         Pontiac       6
36                          Nissan       5
30                         Lincoln       5
50                          Suzuki       3
8                             Fiat       3
42                 Renault Samsung       3
39                        Plymouth       3
21                          Jaguar       3
19                           Isuzu       3
10                    Freightliner       3
32                           Mazda       3
18  International Truck and Engine       3
14                           Honda       2
51                         Toyota        2
44                            Saab       2
37                      Oldsmobile       2
7                            Dodge       2
15                         Hyosung       2
49                          Subaru       1
17                        Infiniti       1
35                      Mitsubishi       1
1                     Austin-Rover       1
43                     Rolls Royce       1
12                  General Motors       1
41                         Renault       1
23                        Kenworth       1
54                           smart       1

###### [출력]제작사별 통계(정상차대번호)

In [160]:
# nor_iden_by_nor_vin_group.to_excel('analysis/[차대번호][5등급]제작사별_통계(정상차대번호).xlsx', encoding='cp949')

### 7\. [e]최초등록일자

In [161]:
# - 오류
#     - null 값 : 0
#     - 숫자가 아닌 값 : 0
#     - 길이가 8이 아닌 값 : 1

In [162]:
df.iloc[:, 7].value_counts()

20060102    3160
20070102    2280
20040102    2089
20050103    2051
20060103    1734
            ...
20000318       1
19930706       1
19960930       1
19840416       1
19801222       1
Name: 최초등록일자, Length: 15154, dtype: int64

In [163]:
df.iloc[:, 7].isnull().sum()

0

In [164]:
# 숫자가 포함되지 않은 샘플
count = 0
p7 = re.compile('\d+')
idx7 = []
for i, one in tqdm(enumerate(df.iloc[:, 7].to_numpy())):
    if not p7.search(str(one)):
        idx7.append(i)
        count += 1
count

1186488it [00:01, 846603.82it/s]

0

In [165]:
# 길이가 8이 아닌 샘플
count = 0
idx71 = []
for i, one in tqdm(enumerate(df.iloc[:, 7].to_numpy())):
    if len(str(one)) != 8:
        idx71.append(i)
        count += 1
count

1186488it [00:00, 1361089.42it/s]

1

In [166]:
# 길이가 8이 아닌 샘플 예시
df.iloc[:, 7].reindex(idx71)

174352    21227
Name: 최초등록일자, dtype: object

### 8\. 차량연식

In [167]:
# - 오류
#     - null 값 : 0
#     - 길이 4 아닌 값 : 0
#     - 숫자가 아닌 값 : 0

In [168]:
df.iloc[:, 8].value_counts()

2007    137416
2005    136679
2006    124402
2004    116163
2002     99242
         ...
1907         1
1905         1
2016         1
1913         1
1900         1
Name: 차량연식, Length: 75, dtype: int64

In [169]:
df.iloc[:, 8].isnull().sum()

0

In [170]:
count = 0
idx8 = []
for i, one in tqdm(enumerate(df.iloc[:, 8].to_numpy())):
    if len(str(one)) != 4:
        idx8.append(i)
        count += 1
count

1186488it [00:01, 832592.68it/s]

0

In [171]:
# 숫자가 포함되지 않은 샘플
count = 0
p81 = re.compile('\d+')
idx81 = []
for i, one in tqdm(enumerate(df.iloc[:, 8].to_numpy())):
    if not p81.search(str(one)):
        idx81.append(i)
        count += 1
count

1186488it [00:01, 627094.95it/s]

0

### 9\. [e]차량제작일자

In [172]:
# - 오류
#     - null : 196895
#     - 8자리 아닌 값(null값 제외) : 
#     - 숫자가 아닌 값(null값 제외) :

In [173]:
df.iloc[:, 9].isnull().sum()

196895

In [174]:
df.iloc[:, 9].value_counts()

20040202.0    1295
20011201.0    1294
20060701.0    1293
20040630.0     880
20060425.0     856
              ...
19830124.0       1
19980715         1
19670902.0       1
19970612         1
19880930.0       1
Name: 차량제작일자, Length: 11510, dtype: int64

In [199]:
# df.iloc[:, 9].fillna(0).astype('int')

ValueError: invalid literal for int() with base 10: '1996 308'

In [195]:
temp9 = pd.to_numeric(df.iloc[:, 9], errors='coerce').fillna(0)
temp9[:5]

0    20020125.0
1    20060306.0
2    20051014.0
3    20020808.0
4    19990828.0
Name: 차량제작일자, dtype: float64

In [178]:
df.loc[df['차량제작일자'] == '1996 308', ['차량관리번호', '차량등록번호', '차대번호', '차량제작일자']]

                      차량관리번호     차량등록번호               차대번호    차량제작일자
998881  KNAJA5265TA751541-01  인천32나6035  KNAJA5265TA751541  1996 308

In [187]:
len(df.loc[df['차량제작일자'] == '1996 308', '차대번호'].values[0])

17

In [188]:
df.loc[df['차량제작일자'] == '1996 308', '차대번호'].values[0][9]

'T'

In [190]:
# 차대번호 10번째 자리 값으로 차량연식 확인 가능
# 예시) T -> 1996년

In [200]:
# 길이가 8이 아닌 값 : 1186488
count = 0
idx91 = []
for i, one in tqdm(enumerate(temp9.to_numpy())):
    if len(str(one)) != 8:
        idx91.append(i)
        count += 1
count

1186488it [00:01, 712303.41it/s]

1186488

In [54]:
# null 값 :  개
count = 0
idx92 = []
for i, one in tqdm(enumerate(temp9.to_numpy())):
    if one == 0:
        idx92.append(i)
        count += 1
count

1528586it [00:00, 1665677.09it/s]

169661

In [55]:
# 길이가 8이 아닌 값 중 null 값 제외 값 :  개
len(list(set(idx91)^set(idx92)))

4

In [56]:
temp9.reindex(list(set(idx91)^set(idx92)))

110669        1993
1202200    2100819
777510     9950407
489146     9960617
Name: 차량제작일자, dtype: int32

In [57]:
# 숫자가 아닌 값 :  개
count = 0
p93 = re.compile('\d+')
idx93 = []
for i, one in tqdm(enumerate(temp9.to_numpy())):
    if not p93.search(str(one)):
        idx93.append(i)
        count += 1
count

1528586it [00:02, 673383.50it/s]

0

### 10\. [e]검사유효일

In [ ]:
# - 오류
#     - null :  개
#     - 8자리 아닌 값 :  개
#     - 숫자가 아닌 값(nan값 제외) :  개

In [58]:
df.iloc[:, 10].isnull().sum()

12

In [59]:
df.iloc[:, 10].value_counts()

20200103.0    3335
20200101.0    3304
20200102.0    3132
20210101.0    3017
20190831.0    2346
              ...
21060605.0       1
19901201.0       1
19900208.0       1
19900510.0       1
20250908.0       1
Name: 검사유효일, Length: 12510, dtype: int64

In [60]:
temp10 = df.iloc[:, 10].fillna(0).astype('int')
temp10[:5]

0    20200508
1    20210101
2    20230130
3    20210211
4    20221231
Name: 검사유효일, dtype: int32

In [61]:
# 길이가 8이 아닌 값 :  개
count = 0
idx101 = []
for i, one in tqdm(enumerate(temp10.to_numpy())):
    if len(str(one)) != 8:
        idx101.append(i)
        count += 1
count

1528586it [00:01, 903427.18it/s]

12

In [62]:
# null 값 :  개
count = 0
idx102 = []
for i, one in tqdm(enumerate(temp10.to_numpy())):
    if one == 0:
        idx102.append(i)
        count += 1
count

1528586it [00:00, 1756496.47it/s]

12

In [63]:
# 길이가 8이 아닌 값 중 null 값 제외 값 :  개
    # => 길이가 8이 아닌 값은 전부 null 값
len(list(set(idx101)^set(idx102)))

0

In [64]:
# 숫자가 아닌 값 :  개
count = 0
p103 = re.compile('\d+')
idx103 = []
for i, one in tqdm(enumerate(temp10.to_numpy())):
    if not p103.search(str(one)):
        idx103.append(i)
        count += 1
count

1528586it [00:02, 659985.82it/s]

0

### 11\. [e]제원관리번호

In [ ]:
# - 오류
#     - null : 0 개
#     - 17자리X :  개
#     - 17자리X, 숫자X :  개

In [65]:
df.iloc[:, 11].value_counts()

A0810006801591209    36231
A0110003400441206    22730
A0810006209233110    19414
A0810007402962210    16877
A0810006801661210    16186
                     ...
B2F10014200003307        1
00032701002631207        1
30290100000046           1
20465900000000           1
A0810005209353308        1
Name: 제원관리번호, Length: 15315, dtype: int64

In [66]:
df.iloc[:, 11].isnull().sum()

0

In [67]:
# 17자리X : 
count = 0
idx111 = []
for i, one in tqdm(enumerate(df.iloc[:, 11].to_numpy())):
    if len(str(one)) != 17:
        idx111.append(i)
        count += 1
count

1528586it [00:01, 1460306.81it/s]

356933

In [68]:
# 17자리X, 숫자이외 값 : 
count = 0
p112 = re.compile('[a-zA-Z가-힣]+')
idx112 = []
for i, one in tqdm(enumerate(df.iloc[:, 11].to_numpy())):
    if len(str(one)) != 17 and p112.search(one):
        idx112.append(i)
        count += 1
count

1528586it [00:01, 1321963.35it/s]

30

### 12\. [e]배출가스인증번호

In [ ]:
# - 오류
#     - null :  개
#     - 정상
#         - 2005.01.04 이전 표기 방식([숫자문자]-[문자]-[숫자], 9자리) :  개
#         - 2005.01.04 이후 표기 방식([숫자문자]-[문자]-[숫자]-[숫자], 12자리) :  개
#     - 오류(null 값 제외) :  개

In [99]:
df.iloc[:, 12].value_counts()

7MY-HD-14-68      268972
8MY-KM-13-19       93969
6MY-KM-14-61       76371
9MY-KM-14-41       67493
7MY-HD-14-46       60364
                   ...
8MY-WI-0M-24           1
AMY-PPE-14-225         1
8MY-SN-0M-24           1
7MY-SK-24-03           1
AMY-PPE-14-800         1
Name: 배출가스인증번호, Length: 304, dtype: int64

In [100]:
df.iloc[:, 12].isnull().sum()

123001

In [101]:
# 정상 : 
count = 0
p121 = re.compile('[a-zA-Z0-9]{3}[-][a-zA-Z]{2}[-][0-9]{2}[-][0-9]{2}')
idx121 = []
for i, one in tqdm(enumerate(df.iloc[:, 12].to_numpy())):
    if p121.search(str(one)):
        idx121.append(i)
        count += 1
count

1528586it [00:01, 806880.16it/s]

1152680

In [102]:
# 오류값 : 
count = 0
idx122 = []
for i, one in tqdm(enumerate(df.iloc[:, 12].to_numpy())):
    if not p121.search(str(one)):
        idx122.append(i)
        count += 1
count

1528586it [00:01, 855895.55it/s]

375906

In [103]:
# 2005.01.04 이전 배출가스 표기 방식 
count = 0
p123 = re.compile('[a-zA-Z0-9]{3}[-][a-zA-Z]{2}[-][0-9]{2}')
idx123 = []
for i, one in tqdm(enumerate(df.iloc[idx122, 12].to_numpy())):
    if p123.search(str(one)):
        idx123.append(idx122[i])
        count += 1
count

375906it [00:00, 756850.81it/s]

230867

In [104]:
df.iloc[:, 12].reindex(idx122)[:5]

C:\Users\kbj\AppData\Local\Temp\ipykernel_17576\4092535168.py:1: FutureWarning: The behavior of `series[i:j]` with an integer-dtype index is deprecated. In a future version, this will be treated as *label-based* indexing, consistent with e.g. `series[i]` lookups. To retain the old behavior, use `series.iloc[i:j]`. To get the future behavior, use `series.loc[i:j]`.
  df.iloc[:, 12].reindex(idx122)[:5]

5     VMY-KM-38
21    RMY-HD-20
28    KMY-HD-03
29          NaN
36          NaN
Name: 배출가스인증번호, dtype: object

In [105]:
df[df['배출가스인증번호'].isnull() == True]['배출가스인증번호'].index

Int64Index([     29,      36,      42,      63,      67,      92,      98,
                108,     128,     147,
            ...
            1528534, 1528535, 1528536, 1528538, 1528539, 1528540, 1528548,
            1528561, 1528583, 1528584],
           dtype='int64', length=123001)

In [106]:
idx124 = df[df['배출가스인증번호'].isnull() == True]['배출가스인증번호'].index
len(idx124)

123001

In [107]:
df.iloc[:, 12].reindex(idx124)[:5]

C:\Users\kbj\AppData\Local\Temp\ipykernel_17576\828939027.py:1: FutureWarning: The behavior of `series[i:j]` with an integer-dtype index is deprecated. In a future version, this will be treated as *label-based* indexing, consistent with e.g. `series[i]` lookups. To retain the old behavior, use `series.iloc[i:j]`. To get the future behavior, use `series.loc[i:j]`.
  df.iloc[:, 12].reindex(idx124)[:5]

29    NaN
36    NaN
42    NaN
63    NaN
67    NaN
Name: 배출가스인증번호, dtype: object

In [108]:
# null 값 제외한 오류 값 : 
len(set(idx122) - set(idx124))

252905

In [109]:
df.iloc[:, 12].reindex(sorted(set(idx122) - set(idx124)))[:5]

C:\Users\kbj\AppData\Local\Temp\ipykernel_17576\2414504646.py:1: FutureWarning: The behavior of `series[i:j]` with an integer-dtype index is deprecated. In a future version, this will be treated as *label-based* indexing, consistent with e.g. `series[i]` lookups. To retain the old behavior, use `series.iloc[i:j]`. To get the future behavior, use `series.loc[i:j]`.
  df.iloc[:, 12].reindex(sorted(set(idx122) - set(idx124)))[:5]

5     VMY-KM-38
21    RMY-HD-20
28    KMY-HD-03
46    RMY-HD-20
62    MMY-HD-11
Name: 배출가스인증번호, dtype: object

In [111]:
df.iloc[idx123, [7, 8, 9, 17, 12]][:5]

      최초등록일자  차량연식      차량제작일자        취득일자   배출가스인증번호
5   20000609  2000  20000529.0  20030219.0  VMY-KM-38
21  19990608  1999  19990513.0  20040401.0  RMY-HD-20
28  19910820  1991         NaN         NaN  KMY-HD-03
46  19991213  2000  19991202.0  20150914.0  RMY-HD-20
62  19970522  1997  19970310.0         NaN  MMY-HD-11

In [116]:
temp = df.iloc[idx123, [7, 8, 9, 17, 12]]
temp[temp['차량연식'] >= 2005]

           최초등록일자  차량연식      차량제작일자        취득일자     배출가스인증번호
582      20100209  2010  20100205.0  20120910.0  AMY-JL-13-9
810      20070816  2007  20070816.0  20100423.0  6MY-PA-14-4
1629     20100409  2010  20100205.0  20180423.0  AMY-JL-13-9
2087     20100511  2010  20100506.0  20190611.0  AMY-JL-13-9
2142     20100504  2010  20091207.0  20180430.0  8MY-PA-14-3
...           ...   ...         ...         ...          ...
1524691  20100409  2010  20100212.0  20191108.0  9MY-JL-14-4
1524870  20100108  2010  20091102.0  20110119.0  AMY-JL-13-9
1525658  20090415  2009  20081208.0  20190930.0  8MY-PA-14-3
1527579  20100108  2010  20091223.0  20100405.0  6MY-PA-14-4
1528353  20080805  2009  20080725.0  20080805.0  8MY-PA-14-3

[3018 rows x 5 columns]

In [117]:
# 2005년 이상년도에서 맞지않는 배출가스인증번호 샘플 : 
temp.loc[(temp['차량연식'] >= 2005) & (temp['배출가스인증번호'].str.len() < 11 )]

           최초등록일자  차량연식      차량제작일자        취득일자   배출가스인증번호
7024     20050720  2005  20050421.0  20220408.0  4MY-AD-20
12139    20060208  2006  20060119.0  20140710.0  4MY-AD-20
103021   20061017  2007  20060929.0  20220128.0  4MY-DC-33
106341   20051104  2005  20050905.0  20060327.0  4MY-PA-06
119764   20060228  2006  20060116.0  20200720.0  4MY-AD-20
124247   20061017  2007  20060929.0  20220411.0  4MY-DC-33
142443   20051208  2006  20051202.0  20171106.0  4MY-PA-06
145601   20051208  2006  20051205.0  20190802.0  4MY-PA-06
187641   20060105  2006  20051212.0  20170910.0  4MY-AD-20
200655   20060120  2006  20051221.0  20080909.0  4MY-PA-06
205166   20060105  2006  20051206.0         NaN  4MY-AD-20
214893   20051125  2006  20051115.0  20170605.0  4MY-PA-06
215221   20061017  2007  20060929.0  20201104.0  4MY-DC-33
231476   20060630  2006  20060612.0  20090629.0  4MY-AD-20
233228   20061017  2007  20060929.0  20181030.0  4MY-DC-33
274979   20060710  2006  20060710.0  20060710.0  4MY-AD-20
326770   20060322  2006  20060104.0  20080129.0  4MY-AD-20
341853   20060418  2006  20060411.0  20200818.0  4MY-AD-20
413232   20050823  2005  20050421.0  20200511.0  4MY-AD-20
415374   20051108  2006  20051102.0  20191119.0  4MY-PA-06
462151   20061017  2007  20060929.0  20160809.0  4MY-DC-33
484064   20060210  2006  20060116.0  20200103.0  4MY-AD-20
491202   20051216  2006  20051212.0  20200807.0  4MY-AD-20
498049   20060502  2006  20060502.0  20191204.0  4MY-AD-20
555269   20060320  2006  20060119.0  20200827.0  4MY-AD-20
570232   20060406  2006  20060405.0  20090415.0  4MY-AD-20
598285   20060331  2006  20060131.0  20090107.0  4MY-AD-20
608426   20060811  2006  20060113.0  20220421.0  4MY-AD-20
619036   20060104  2005  20051118.0  20210617.0  4MY-PA-06
633188   20051104  2005  20051024.0  20051104.0  4MY-PA-06
634356   20060526  2006  20060523.0  20210329.0  4MY-AD-20
639946   20061017  2007  20060929.0  20201013.0  4MY-DC-33
668947   20060919  2006  20060116.0  20181115.0  4MY-AD-20
760911   20060103  2006  20051212.0  20090108.0  4MY-AD-20
779293   20060623  2006  20060620.0  20211103.0  4MY-AD-20
788779   20060127  2006  20060101.0  20160503.0  4MY-AD-20
792661   20060621  2006  20060612.0  20190326.0  4MY-AD-20
816532   20061031  2006  20060414.0  20090112.0  4MY-AD-20
847726   20060616  2006  20060612.0  20060616.0  4MY-AD-20
849611   20060117  2006  20060101.0  20150715.0  4MY-AD-20
856660   20060707  2006  20060125.0  20110117.0  4MY-AD-20
886125   20060626  2006  20060405.0  20180524.0  4MY-AD-20
943091   20061017  2007  20060929.0  20210630.0  4MY-DC-33
1033065  20051226  2005  20050929.0  20201029.0  4MY-PA-06
1090741  20060612  2006  20060405.0  20190705.0  4MY-AD-20
1131159  20060627  2006  20060621.0  20210811.0  4MY-AD-20
1162786  20060106  2006  20051229.0  20201102.0  4MY-AD-20
1173919  20060120  2006  20060101.0  20090126.0  4MY-AD-20
1183650  20051215  2005  20051018.0  20200917.0  4MY-PA-06
1202869  20060227  2005  20051019.0  20190827.0  4MY-PA-06
1213404  20061031  2006  20060119.0  20190509.0  4MY-AD-20
1296007  20060208  2006  20051206.0  20210708.0  4MY-AD-20
1338420  20060208  2006  20060109.0  20190527.0  4MY-AD-20
1445334  20060127  2006  20051229.0  20210423.0  4MY-AD-20
1446826  20051103  2005  20051024.0  20081030.0  4MY-PA-06
1452988  20061031  2006  20060414.0  20220627.0  4MY-AD-20
1457523  20051014  2005  20050903.0  20191022.0  4MY-PA-06
1486921  20060118  2006  20060116.0  20150506.0  4MY-AD-20

In [118]:
temp.loc[(temp['차량연식'] >= 2005) & (temp['배출가스인증번호'].str.len() < 11 )].shape

(58, 5)

In [119]:
# 2005년 미만년도에서 맞지않는 배출가스인증번호 샘플 : 
temp.loc[(temp['차량연식'] < 2005) & (temp['배출가스인증번호'].str.len() > 9 )]

           최초등록일자  차량연식      차량제작일자        취득일자       배출가스인증번호
747837   20091013  1999  19991231.0  10091009.0  9MY-PP-14-W38
1424917  20090917  1999  20081124.0  20201106.0  9MY-PP-14-W38

### 13\. 배출가스등급
- 오류
    - null :  개

In [95]:
df.iloc[:, 13].value_counts()

4    1528586
Name: 배출가스등급, dtype: int64

In [96]:
df.iloc[:, 13].isnull().sum()

0

### 14\. [e]저공해조치종류

In [ ]:
# - 오류
#     - null :  개

In [97]:
df.iloc[:, 14].value_counts()

2종 저감장치 부착    115
1종 저감장치 부착     71
엔진개조            4
3종 저감장치 부착      4
동시저감장치 부착       1
Name: 저공해조치종류, dtype: int64

In [98]:
df.iloc[:, 14].isnull().sum()

1528391

### 15\. 저공해조치구조변경YN

In [ ]:
# - 오류
#     - null :  개

In [99]:
df.iloc[:, 15].value_counts()

N    1215924
Y     312662
Name: 저공해조치구조변경YN, dtype: int64

In [100]:
df.iloc[:, 15].isnull().sum()

0

### 16\. 차량말소YN

In [ ]:
# - 오류
#     - null :  개

In [101]:
df.iloc[:, 16].value_counts()

N    1528586
Name: 차량말소YN, dtype: int64

In [102]:
df.iloc[:, 16].isnull().sum()

0

### 17\. [e]취득일자

In [ ]:
# - 오류
#     - null :  개
#     - 8자리 아닌 값 :  개
#     - 숫자가 아닌 값(nan값 제외) :   개

In [103]:
df.iloc[:, 17].value_counts()

20220607.0    1008
20220627.0     901
20220602.0     883
20220620.0     844
20220530.0     833
              ...
20070221         1
20110306         1
20020628         1
20150415         1
20051218.0       1
Name: 취득일자, Length: 16929, dtype: int64

In [104]:
df.iloc[:, 17].isnull().sum()

93072

In [111]:
df['취득일자'].dtype

dtype('O')

In [113]:
idx171 = []
for i, one in enumerate(df['취득일자'].to_numpy()):
    try:
        int(one)
    except:
        idx171.append(i)

In [114]:
len(idx171)

93074

In [115]:
idx172 = df[df['취득일자'].isnull() == True]['취득일자'].index
len(idx172)

93072

In [116]:
df.iloc[sorted(set(idx171) - set(idx172)), 17]

735987     200109 9
1372039    2001 412
Name: 취득일자, dtype: object

### 18\. [e]취득금액

In [ ]:
# - 오류
#     - null :  개
#     - 숫자가 아닌 값 :  개

In [117]:
df.iloc[:, 18].value_counts()

0.0            258676
1000000.0       43125
500000.0        29818
2000000.0       28457
100000.0        27958
                ...
62790.0             1
100761818.0         1
26188580.0          1
17523047.0          1
20240.0             1
Name: 취득금액, Length: 159946, dtype: int64

In [118]:
df.iloc[:, 18].isnull().sum()

74973

In [122]:
p18 = re.compile('\D+')
idx181 = []
idx182 = []
count = 0
for i, one in tqdm(enumerate(df.iloc[:, 18].to_numpy())):
    try:
        if p18.search(str(int(one))):
            idx181.append(i)
            count += 1
    except:
        idx182.append(i)
        count += 1
count

1528586it [00:02, 690456.77it/s]

74973

In [125]:
len(idx181), len(idx182)

(0, 74973)

In [123]:
df.iloc[:, 18].reindex(idx182)[:5]

C:\Users\kbj\AppData\Local\Temp\ipykernel_18336\2151798388.py:1: FutureWarning: The behavior of `series[i:j]` with an integer-dtype index is deprecated. In a future version, this will be treated as *label-based* indexing, consistent with e.g. `series[i]` lookups. To retain the old behavior, use `series.iloc[i:j]`. To get the future behavior, use `series.loc[i:j]`.
  df.iloc[:, 18].reindex(idx182)[:5]

62    NaN
98    NaN
128   NaN
146   NaN
156   NaN
Name: 취득금액, dtype: float64

### 19\. 차명

In [ ]:
# - 오류
#     - null :  개

In [126]:
df.iloc[:, 19].value_counts()

포터Ⅱ(PORTERⅡ)              180795
싼타페(SANTAFE)              138850
스포티지                       76497
그랜드 스타렉스(GRAND STAREX)     74977
투싼(TUCSON)                 58687
                           ...
CIVIC SiR                      1
TACOMA3.4                      1
미니브리티시오픈                       1
BMW 525itA                     1
메가트럭군물자수송                      1
Name: 차명, Length: 3572, dtype: int64

In [127]:
df.iloc[:, 19].isnull().sum()

0

### 20\. 차종_제원정보

In [ ]:
# - 오류
#     - null :  개

In [128]:
df.iloc[:, 20].value_counts()

승용    843902
화물    521971
승합    155705
특수      7008
Name: 차종_제원정보, dtype: int64

In [129]:
df.iloc[:, 20].isnull().sum()

0

### 21\. 차종분류

In [ ]:
# - 오류
#     - null :  개

In [130]:
df.iloc[:, 21].value_counts()

일반             540536
다목적            439052
일반형-카고         370138
밴               63114
특수용도형-특수용도형     51196
일반형-픽업          31406
기타              18027
덤프               5965
견인               5446
특수               1725
특수작업형             854
구난                708
승용겸화물             267
특수용도형-탱크로리        151
특수용도형-피견인           1
Name: 차종분류, dtype: int64

In [131]:
df.iloc[:, 21].isnull().sum()

0

### 22\. 차종유형

In [ ]:
# - 오류
#     - null :  개

In [132]:
df.iloc[:, 22].value_counts()

중형    698798
소형    582232
대형    219531
경형     28025
Name: 차종유형, dtype: int64

In [134]:
df.iloc[:, 22].isnull().sum()

0

### 23\. [e]자동차형식

In [ ]:
# - 오류
#     - null :  개

In [135]:
df.iloc[:, 23].value_counts()

CM7UBA               36235
CA26R                23887
JE553G-HG            22730
HRQJA-DX-B           19414
TQ-12JAB-1           16880
                     ...
HD2-42-10Le-BEIT1        1
EN-7NS3DAF8-2            1
HBSV-VD138               1
KTH-18L14.5-410          1
HD050-8MT2-LGc-A         1
Name: 자동차형식, Length: 8114, dtype: int64

In [136]:
df.iloc[:, 23].isnull().sum()

284

### 24\. [e]제작사명

In [ ]:
# - 오류
#     - null :  개

In [137]:
df.iloc[:, 24].value_counts()

현대자동차(주)       891178
기아자동차(주)       377792
대우자동차(주)        62506
한국지엠주식회사        53957
쌍용자동차(주)        41016
                ...
(주) 미래교통렌트카         1
마이웨이                1
고랜드코리아              1
백상 CTC              1
서울시티투어버스(주)         1
Name: 제작사명, Length: 669, dtype: int64

In [138]:
df.iloc[:, 24].isnull().sum()

9892

### 25\. 연료

In [ ]:
# - 오류
#     - null :  개

In [139]:
df.iloc[:, 25].value_counts()

경유             1167610
휘발유             334517
LPG(액화석유가스)      26419
기타연료                38
알코올                  1
CNG(압축천연가스)          1
Name: 연료, dtype: int64

In [140]:
df.iloc[:, 25].isnull().sum()

0

### 26\. [e]엔진형식

In [ ]:
# - 오류
#     - null :  개

In [141]:
df.iloc[:, 26].value_counts()

D4CB           407006
D4EA           190781
J3             139727
D6EA            75036
Z20S            53958
                ...
12A2DJ01            1
AR01544             1
LT-1                1
J3-8-VF-F           1
D2676 LOH02         1
Name: 엔진형식, Length: 1428, dtype: int64

In [142]:
df.iloc[:, 26].isnull().sum()

1846

### 27\. [e]총중량

In [ ]:
# - 오류
#     - null :  개
#     - 숫자가 아닌 값 :  개

In [143]:
df.iloc[:, 27].value_counts()

2925.0     66420
2285.0     53732
2950.0     51480
2955.0     47126
2345.0     39729
           ...
6960.0         1
10570.0        1
35180.0        1
5435.0         1
21690.0        1
Name: 총중량, Length: 2121, dtype: int64

In [144]:
df.iloc[:, 27].isnull().sum()

1

In [145]:
p27 = re.compile('\D+')
idx271 = []
idx272 = []
count = 0
for i, one in tqdm(enumerate(df.iloc[:, 27].to_numpy())):
    try:
        if p27.search(str(int(one))):
            idx271.append(i)
            count += 1
    except:
        idx272.append(i)
        count += 1
count

1528586it [00:02, 662307.08it/s]

1

In [146]:
len(idx271), len(idx272)

(0, 1)

### 28\. [e]적재중량
- 오류
    - null :  개
    - 숫자가 아닌 값 :  개

In [149]:
df.iloc[:, 28].value_counts()

0.0         999646
1000.0      351435
600.0        41249
400.0        31382
800.0        24526
             ...
9400.0           1
10200.0          1
450000.0         1
14200.0          1
800000.0         1
Name: 적재중량, Length: 164, dtype: int64

In [150]:
df.iloc[:, 28].isnull().sum()

511

In [151]:
p28 = re.compile('\D+')
idx281 = []
idx282 = []
count = 0
for i, one in tqdm(enumerate(df.iloc[:, 28].to_numpy())):
    try:
        if p28.search(str(int(one))):
            idx281.append(i)
            count += 1
    except:
        idx282.append(i)
        count += 1
count

1528586it [00:02, 690660.57it/s]

511

In [152]:
len(idx281), len(idx282)

(0, 511)

### 19\. [e]엔진출력
- 오류
    - null :  개
    - 숫자가 아닌 값 :  개

In [153]:
df.iloc[:, 29].value_counts()

126.0       289953
174.0       104789
151.0        91306
150.0        77553
126          64775
             ...
280-6400         1
4                1
34.0             1
273.0            1
436.0            1
Name: 엔진출력, Length: 662, dtype: int64

In [154]:
df.iloc[:, 29].isnull().sum()

359

In [160]:
p29 = re.compile('\d+[.]\d+')
idx291 = []
idx292 = []
count = 0
for i, one in tqdm(enumerate(df.iloc[:, 29].to_numpy())):
    try:
        if not p29.search(str(float(one))):
            idx291.append(i)
            count += 1
    except:
        idx292.append(i)
        count += 1
count

1528586it [00:02, 708461.06it/s]

377

In [161]:
len(idx291), len(idx292)

(359, 18)

In [162]:
idx293 = df[df['엔진출력'].isnull() == True]['엔진출력'].index
len(idx293)

359

In [163]:
df.iloc[idx291, 29][:5]

C:\Users\kbj\AppData\Local\Temp\ipykernel_18336\2791330140.py:1: FutureWarning: The behavior of `series[i:j]` with an integer-dtype index is deprecated. In a future version, this will be treated as *label-based* indexing, consistent with e.g. `series[i]` lookups. To retain the old behavior, use `series.iloc[i:j]`. To get the future behavior, use `series.loc[i:j]`.
  df.iloc[idx291, 29][:5]

12060    NaN
16761    NaN
19514    NaN
22845    NaN
25508    NaN
Name: 엔진출력, dtype: object

In [164]:
df.iloc[idx292, 29][:5]

C:\Users\kbj\AppData\Local\Temp\ipykernel_18336\491642684.py:1: FutureWarning: The behavior of `series[i:j]` with an integer-dtype index is deprecated. In a future version, this will be treated as *label-based* indexing, consistent with e.g. `series[i]` lookups. To retain the old behavior, use `series.iloc[i:j]`. To get the future behavior, use `series.loc[i:j]`.
  df.iloc[idx292, 29][:5]

50704        114PS
114636       113ps
162707      0140PS
195884    105-5800
205207       195HP
Name: 엔진출력, dtype: object

In [167]:
df.iloc[idx293, 29][:5]

C:\Users\kbj\AppData\Local\Temp\ipykernel_18336\2073082367.py:1: FutureWarning: The behavior of `series[i:j]` with an integer-dtype index is deprecated. In a future version, this will be treated as *label-based* indexing, consistent with e.g. `series[i]` lookups. To retain the old behavior, use `series.iloc[i:j]`. To get the future behavior, use `series.loc[i:j]`.
  df.iloc[idx293, 29][:5]

12060    NaN
16761    NaN
19514    NaN
22845    NaN
25508    NaN
Name: 엔진출력, dtype: object

### 30\. [e]배기량
- error
    - null : 
    - 숫자가 아닌 값 :

In [169]:
df.iloc[:, 30].value_counts()

2497.0     412725
1991.0     245078
2902.0     139727
2959.0      75053
1995.0      68705
            ...
4701.0          1
3803.0          1
5958.0          1
15607.0         1
12412.0         1
Name: 배기량, Length: 627, dtype: int64

In [170]:
df.iloc[:, 30].isnull().sum()

4

In [171]:
p30 = re.compile('\D+')
idx301 = []
idx302 = []
count = 0
for i, one in tqdm(enumerate(df.iloc[:, 30].to_numpy())):
    try:
        if p30.search(str(int(one))):
            idx301.append(i)
            count += 1
    except:
        idx302.append(i)
        count += 1
count

1528586it [00:02, 619306.55it/s]

4

In [172]:
len(idx301), len(idx302)

(0, 4)

### 31\. 승차인원
- error
    - null :

In [173]:
df.iloc[:, 31].value_counts()

5     625751
3     338761
7     271132
6      92585
11     72915
12     58829
2      27413
9      20963
4       9575
25      4045
47      1446
34      1115
46       901
0        852
39       460
29       410
15       275
43       229
38       186
42       147
30       139
8         91
45        58
16        48
41        41
18        32
59        22
33        21
21        18
20        17
19        14
28        13
35        12
10         9
1          8
32         7
26         6
63         4
40         4
56         4
23         4
14         4
31         3
22         3
37         2
62         2
51         2
67         2
44         2
50         1
27         1
36         1
64         1
Name: 승차인원, dtype: int64

In [174]:
df.iloc[:, 31].isnull().sum()

0

In [180]:
p31 = re.compile('\D+')
idx311 = []
idx312 = []
count = 0
for i, one in tqdm(enumerate(df.iloc[:, 31].to_numpy())):
    try:
        if p31.search(str(int(one))):
            idx311.append(i)
            count += 1
    except:
        idx312.append(i)
        count += 1
count

1528586it [00:02, 756812.66it/s]

0

### 32\. [e]차량길이
- error
    - null : 
    - 숫자 아닌 값 :

In [175]:
df.iloc[:, 32].value_counts()

4675.0     139634
5125.0     138323
5085.0     126095
5120.0      76767
4350.0      76260
            ...
11970.0         1
4593.0          1
8285.0          1
5940.0          1
5435.0          1
Name: 차량길이, Length: 1247, dtype: int64

In [176]:
df.iloc[:, 32].isnull().sum()

1

In [177]:
p32 = re.compile('\D+')
idx321 = []
idx322 = []
count = 0
for i, one in tqdm(enumerate(df.iloc[:, 32].to_numpy())):
    try:
        if p32.search(str(int(one))):
            idx321.append(i)
            count += 1
    except:
        idx322.append(i)
        count += 1
count

1528586it [00:02, 701730.27it/s]

1

In [178]:
len(idx321), len(idx322)

(0, 1)

### 33\. [e]차량너비
- error
    - null : 
    - 숫자 아닌 값 :

In [206]:
df.iloc[:, 33].value_counts()

1740.0    326413
1890.0    143036
1920.0    127426
1985.0     74746
1840.0     53628
           ...
175.0          1
2465.0         1
1834.0         1
1633.0         1
1610.0         1
Name: 차량너비, Length: 318, dtype: int64

In [207]:
df.iloc[:, 33].isnull().sum()

1

In [208]:
p33 = re.compile('\D+')
idx331 = []
idx332 = []
count = 0
for i, one in tqdm(enumerate(df.iloc[:, 33].to_numpy())):
    try:
        if p33.search(str(int(one))):
            idx331.append(i)
            count += 1
    except:
        idx332.append(i)
        count += 1
count

1528586it [00:02, 685335.39it/s]

1

### 34\. [e]차량높이
- error
    - null : 
    - 숫자 아닌 값 :

In [181]:
df.iloc[:, 34].value_counts()

1965.0    229617
1695.0     72455
1925.0     67094
1995.0     58511
1935.0     56907
           ...
2210.0         1
1717.0         1
2615.0         1
1529.0         1
4000.0         1
Name: 차량높이, Length: 604, dtype: int64

In [182]:
df.iloc[:, 34].isnull().sum()

3

In [183]:
p34 = re.compile('\D+')
idx341 = []
idx342 = []
count = 0
for i, one in tqdm(enumerate(df.iloc[:, 34].to_numpy())):
    try:
        if p34.search(str(int(one))):
            idx341.append(i)
            count += 1
    except:
        idx342.append(i)
        count += 1
count

1528586it [00:02, 618882.59it/s]

3

### 35\. [e]원산지명
- error
    - null : 
    - 문자 아닌 값 :

In [184]:
df.iloc[:, 35].value_counts()

대한민국           1467579
독일               16650
미국                7363
스웨덴               6916
프랑스               5140
영국                2990
일본                1476
네덜란드               676
오스트리아              298
이탈리아               209
기타                  78
캐나다                 31
벨기에                 27
멕시코                 24
대만                  13
중국                   9
가나                   5
스페인                  4
스위스                  3
괌                    2
덴마크                  2
기니비사우                1
감비아                  1
가봉                   1
독립국연합 (CIS)          1
Name: 원산지명, dtype: int64

In [185]:
df.iloc[:, 35].isnull().sum()

19087

In [187]:
p35 = re.compile('\D+')
idx351 = []
idx352 = []
count = 0
for i, one in tqdm(enumerate(df.iloc[:, 35].to_numpy())):
    try:
        if not p35.search(one):
            idx351.append(i)
            count += 1
    except:
        idx352.append(i)
        count += 1
count

1528586it [00:01, 1136214.58it/s]

19087

In [188]:
len(idx351), len(idx352)

(0, 19087)

### 36\. 삭제YN
- error
    - null :

In [189]:
df.iloc[:, 36].value_counts()

N    1528586
Name: 삭제YN, dtype: int64

In [190]:
df.iloc[:, 36].isnull().sum()

0

### 37\. [e]제원승인일자
- error
    - null : 
    - 형식에 맞지 않는 값 :

In [191]:
df.iloc[:, 37].value_counts()

20100326      78288
20090622      35879
20100326.0    35819
20110524      29346
20090520      24716
              ...
20160427          1
20151216          1
20121101          1
20050422          1
20070529.0        1
Name: 제원승인일자, Length: 5958, dtype: int64

In [192]:
df.iloc[:, 37].isnull().sum()

431

In [193]:
p37 = re.compile('\D+')
idx371 = []
idx372 = []
count = 0
for i, one in tqdm(enumerate(df.iloc[:, 37].to_numpy())):
    try:
        if p37.search(str(int(one))):
            idx371.append(i)
            count += 1
    except:
        idx372.append(i)
        count += 1
count

1528586it [00:02, 596189.99it/s]

539

In [194]:
len(idx371), len(idx372)

(0, 539)

In [195]:
df.iloc[:, 37].reindex(idx372)[:5]

C:\Users\kbj\AppData\Local\Temp\ipykernel_18336\829264895.py:1: FutureWarning: The behavior of `series[i:j]` with an integer-dtype index is deprecated. In a future version, this will be treated as *label-based* indexing, consistent with e.g. `series[i]` lookups. To retain the old behavior, use `series.iloc[i:j]`. To get the future behavior, use `series.loc[i:j]`.
  df.iloc[:, 37].reindex(idx372)[:5]

1544         NaN
3888         NaN
4231    1991 112
6957         NaN
7069         NaN
Name: 제원승인일자, dtype: object

In [196]:
idx373 = df[df['제원승인일자'].isnull() == True]['제원승인일자'].index
len(idx373)

431

In [197]:
len(list(set(idx372) - set(idx373)))

108

In [198]:
df.iloc[sorted(set(idx372) - set(idx373)), 37][:5]

C:\Users\kbj\AppData\Local\Temp\ipykernel_18336\4017740081.py:1: FutureWarning: The behavior of `series[i:j]` with an integer-dtype index is deprecated. In a future version, this will be treated as *label-based* indexing, consistent with e.g. `series[i]` lookups. To retain the old behavior, use `series.iloc[i:j]`. To get the future behavior, use `series.loc[i:j]`.
  df.iloc[sorted(set(idx372) - set(idx373)), 37][:5]

4231     1991 112
8926     1991 123
21579    1991 112
29975    1991 123
38288    1991 112
Name: 제원승인일자, dtype: object

### 38\. [e]구동형식
- error
    - null :

In [199]:
df.iloc[:, 38].value_counts()

4x2         18
6x2          9
10x4         5
후륜구동         4
4륜구동(선택)     1
4x4          1
기타           1
전륜구동         1
4륜구동(상시)     1
Name: 구동형식, dtype: int64

In [200]:
df.iloc[:, 38].isnull().sum()

1528545

### 39\. [e]변속기종류
- error
    - null : 
    - 문자가 아닌 값 :

In [201]:
df.iloc[:, 39].value_counts()

자동        963870
수동        563865
기타           500
무단           158
반자동           32
변속기 없음         1
Name: 변속기종류, dtype: int64

In [202]:
df.iloc[:, 39].isnull().sum()

160

In [203]:
p39 = re.compile('[가-힣]+')
idx391 = []
idx392 = []
count = 0
for i, one in tqdm(enumerate(df.iloc[:, 39].to_numpy())):
    try:
        if not p39.search(one):
            idx391.append(i)
            count += 1
    except:
        idx392.append(i)
        count += 1
count

1528586it [00:01, 956223.37it/s]

160

In [204]:
len(idx391), len(idx392)

(0, 160)

# 코드 마지막