# [제원정보]5등급 차량

## Library

In [1]:
from tqdm import tqdm
import numpy as np
import re

In [2]:
import pandas as pd

## data load

In [3]:
col = pd.read_excel('data/220819_22.06월_제원정보_컬럼명.xlsx')
col

            col
0        차량관리번호
1        차량등록번호
2      본거지법정동코드
3         소유자구분
4       차종_등록정보
5            용도
6          차대번호
7        최초등록일자
8          차량연식
9        차량제작일자
10        검사유효일
11       제원관리번호
12     배출가스인증번호
13       배출가스등급
14      저공해조치종류
15  저공해조치구조변경YN
16       차량말소YN
17         취득일자
18         취득금액
19           차명
20      차종_제원정보
21         차종분류
22         차종유형
23        자동차형식
24         제작사명
25           연료
26         엔진형식
27          총중량
28         적재중량
29         엔진출력
30          배기량
31         승차인원
32         차량길이
33         차량너비
34         차량높이
35         원산지명
36         삭제YN
37       제원승인일자
38         구동형식
39        변속기종류

In [4]:
col['col'].to_list()

['차량관리번호',
 '차량등록번호',
 '본거지법정동코드',
 '소유자구분',
 '차종_등록정보',
 '용도',
 '차대번호',
 '최초등록일자',
 '차량연식',
 '차량제작일자',
 '검사유효일',
 '제원관리번호',
 '배출가스인증번호',
 '배출가스등급',
 '저공해조치종류',
 '저공해조치구조변경YN',
 '차량말소YN',
 '취득일자',
 '취득금액',
 '차명',
 '차종_제원정보',
 '차종분류',
 '차종유형',
 '자동차형식',
 '제작사명',
 '연료',
 '엔진형식',
 '총중량',
 '적재중량',
 '엔진출력',
 '배기량',
 '승차인원',
 '차량길이',
 '차량너비',
 '차량높이',
 '원산지명',
 '삭제YN',
 '제원승인일자',
 '구동형식',
 '변속기종류']

In [5]:
# 23.4s
df = pd.read_table('data/220819_22.06월기준_5등급.txt', encoding='cp949', header=40, names=col['col'].to_list())
df.info()

C:\Users\kbj\AppData\Local\Temp\ipykernel_3920\2541624834.py:2: DtypeWarning: Columns (7,9,29,37,38) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_table('data/220819_22.06월기준_5등급.txt', encoding='cp949', header=40, names=col['col'].to_list())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1186488 entries, 0 to 1186487
Data columns (total 40 columns):
 #   Column       Non-Null Count    Dtype
---  ------       --------------    -----
 0   차량관리번호       1186488 non-null  object
 1   차량등록번호       1186488 non-null  object
 2   본거지법정동코드     1186488 non-null  int64
 3   소유자구분        1186488 non-null  object
 4   차종_등록정보      1186476 non-null  object
 5   용도           1186488 non-null  object
 6   차대번호         1186488 non-null  object
 7   최초등록일자       1186488 non-null  object
 8   차량연식         1186488 non-null  int64
 9   차량제작일자       989593 non-null   object
 10  검사유효일        1185981 non-null  float64
 11  제원관리번호       1186488 non-null  object
 12  배출가스인증번호     560317 non-null   object
 13  배출가스등급       1186488 non-null  int64
 14  저공해조치종류      363785 non-null   object
 15  저공해조치구조변경YN  1186488 non-null  object
 16  차량말소YN       1186488 non-null  object
 17  취득일자         1044935 non-null  float64
 18  취득금액         1070799 non-null  float64
 19  차명           1186487 non-null  object
 20  차종_제원정보      1186488 non-null  object
 21  차종분류         1186488 non-null  object
 22  차종유형         1186488 non-null  object
 23  자동차형식        1185965 non-null  object
 24  제작사명         1183245 non-null  object
 25  연료           1186488 non-null  object
 26  엔진형식         1182990 non-null  object
 27  총중량          1186487 non-null  float64
 28  적재중량         1186478 non-null  float64
 29  엔진출력         1186201 non-null  object
 30  배기량          1186486 non-null  float64
 31  승차인원         1186487 non-null  float64
 32  차량길이         1186487 non-null  float64
 33  차량너비         1186487 non-null  float64
 34  차량높이         1186487 non-null  float64
 35  원산지명         1144734 non-null  object
 36  삭제YN         1186488 non-null  object
 37  제원승인일자       1185300 non-null  object
 38  구동형식         3 non-null        object
 39  변속기종류        1186486 non-null  object
dtypes: float64(10), int64(3), object(27)
memory usage: 362.1+ MB

In [6]:
df.head()

,차량관리번호,차량등록번호,본거지법정동코드,소유자구분,차종_등록정보,용도,차대번호,최초등록일자,차량연식,차량제작일자,...,배기량,승차인원,차량길이,차량너비,차량높이,원산지명,삭제YN,제원승인일자,구동형식,변속기종류
0,KMFXKS7BP2U559698-01,경기91다3109,4111113000,주민,화물,자가용,KMFXKS7BP2U559698,20020201,2002,20020125.0,...,2607.0,3.0,5075.0,1690.0,1930.0,대한민국,N,20010517.0,NaN,수동
1,KMHSJ81WP6U036607-01,05나8578,2820010300,주민,승용,자가용,KMHSJ81WP6U036607,20060310,2006,20060306.0,...,2188.0,7.0,4675.0,1890.0,1795.0,대한민국,N,20050921.0,NaN,자동
2,KN3HNP6D15K117795-01,95가6292,4519011100,주민,화물,자가용,KN3HNP6D15K117795,20051018,2005,20051014.0,...,2476.0,3.0,5120.0,1740.0,1995.0,대한민국,N,20050427.0,NaN,수동
3,KPBFA2AD12P043282-01,09어5181,4833025321,주민,승용,자가용,KPBFA2AD12P043282,20020809,2002,20020808.0,...,2874.0,7.0,4745.0,1870.0,1780.0,대한민국,N,20020502.0,NaN,자동
4,KNCSD0112XS452905-01,경기94도2820,4159035029,주민,화물,자가용,KNCSD0112XS452905,19990909,1999,19990828.0,...,2665.0,3.0,5030.0,1750.0,1970.0,대한민국,N,19970526.0,NaN,수동

### [출력]기본 파일 csv로 출력

In [7]:
# 27.8s
df.to_csv('data/220819_22.06월기준_5등급.csv', encoding='cp949')

### [로드]파일

In [4]:
# # 
# df = pd.read_csv('data/220819_22.06월기준_5등급.csv', encoding='cp949', index_col=0)
# df.info()

C:\Users\kbj\AppData\Local\Temp\ipykernel_15548\4060601969.py:2: DtypeWarning: Columns (15,18,30,38,39) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('data/220819_22.06월기준_4등급.csv', encoding='cp949', index_col=0)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1528586 entries, 0 to 1528585
Data columns (total 40 columns):
 #   Column       Non-Null Count    Dtype
---  ------       --------------    -----
 0   차량관리번호       1528586 non-null  object
 1   차량등록번호       1528586 non-null  object
 2   본거지법정동코드     1528586 non-null  int64
 3   소유자구분        1528586 non-null  object
 4   차종_등록정보      1528584 non-null  object
 5   용도           1528586 non-null  object
 6   차대번호         1528586 non-null  object
 7   최초등록일자       1528586 non-null  int64
 8   차량연식         1528586 non-null  int64
 9   차량제작일자       1358925 non-null  float64
 10  검사유효일        1528574 non-null  float64
 11  제원관리번호       1528586 non-null  object
 12  배출가스인증번호     1405585 non-null  object
 13  배출가스등급       1528586 non-null  int64
 14  저공해조치종류      195 non-null      object
 15  저공해조치구조변경YN  1528586 non-null  object
 16  차량말소YN       1528586 non-null  object
 17  취득일자         1435514 non-null  object
 18  취득금액         1453613 non-null  float64
 19  차명           1528586 non-null  object
 20  차종_제원정보      1528586 non-null  object
 21  차종분류         1528586 non-null  object
 22  차종유형         1528586 non-null  object
 23  자동차형식        1528302 non-null  object
 24  제작사명         1518694 non-null  object
 25  연료           1528586 non-null  object
 26  엔진형식         1526740 non-null  object
 27  총중량          1528585 non-null  float64
 28  적재중량         1528075 non-null  float64
 29  엔진출력         1528227 non-null  object
 30  배기량          1528582 non-null  float64
 31  승차인원         1528586 non-null  int64
 32  차량길이         1528585 non-null  float64
 33  차량너비         1528585 non-null  float64
 34  차량높이         1528583 non-null  float64
 35  원산지명         1509499 non-null  object
 36  삭제YN         1528586 non-null  object
 37  제원승인일자       1528155 non-null  object
 38  구동형식         41 non-null       object
 39  변속기종류        1528426 non-null  object
dtypes: float64(9), int64(5), object(26)
memory usage: 478.1+ MB

### 0\. [e]차량관리번호

In [ ]:
# - 오류
#     - null 값 : 0
#     - 형식에 맞지않는 값 : 13936

In [8]:
df.iloc[:, 0].isnull().sum()

0

In [9]:
df.iloc[:, 0].value_counts()

KMFXKS7BP2U559698-01    1
KMFZAS7JP7U238362-01    1
KLKFR2431LB016548-01    1
KMCLB17JPNU008801-01    1
KPBFA2AF16P223677-01    1
                       ..
KMFZCD7JP4U041297-01    1
2799대구90가8081           1
KMHSD81VP5U959815-01    1
KMFZCS7JP8U345342-01    1
KMFFA17XPPU005700-01    1
Name: 차량관리번호, Length: 1186488, dtype: int64

In [10]:
df.iloc[:5, [0, 6]]

                 차량관리번호               차대번호
0  KMFXKS7BP2U559698-01  KMFXKS7BP2U559698
1  KMHSJ81WP6U036607-01  KMHSJ81WP6U036607
2  KN3HNP6D15K117795-01  KN3HNP6D15K117795
3  KPBFA2AD12P043282-01  KPBFA2AD12P043282
4  KNCSD0112XS452905-01  KNCSD0112XS452905

In [529]:
count = 0
p01 = re.compile('\w+[-]\d+')
idx01 = []
for i, one in tqdm(enumerate(df.iloc[:, 0].to_numpy())):
    temp = one.split('-')
    if len(temp) != 2 or str(one).count('-') != 1:
        idx01.append(i)
        count += 1
count

1186488it [00:01, 930964.53it/s]

13936

In [530]:
idx01[:5]

[43, 226, 297, 536, 544]

In [531]:
p01.search('28-88-112-06218-01')

In [532]:
'28-88-112-06218-01'.count('-')

4

In [533]:
temp = df[['차량관리번호', '차량등록번호', '차대번호']].reindex(idx01)
temp.head()

            차량관리번호     차량등록번호               차대번호
43    4899경남1누8987   경남1누8987        10792213224
226  4199경기99바1784  인천98바7227  WDB9542413K820948
297   1199서울5로2248   서울5로2248  KNHTP7322JS071203
536   4199경기6가5004   경기6가5004        03821121571
544   4199경기7르7435   경기7르7435  KMFFA17XPHU008187

In [534]:
temp.tail()

               차량관리번호    차량등록번호               차대번호
1186162  1199서울1초8887  서울1초8887  KMHLA11FPGU042651
1186171   489979머2903   79머2903  KLBUR59SGRP001150
1186319   319940서3764   40서3764  KNAJC52437A711963
1186320  4799경북7보2477  경북7보2477  KNCSA9132JS124808
1186364  4499충남7르2361  충남7르2361  KNCSB1114KS042163

In [535]:
len(temp)

13936

In [536]:
# 정상 차량관리번호가 아닌 데이터 중 차대번호가 숫자로만 이루어진 데이터 추출
p02 = re.compile('\D+')
idx02 = []
for i, one in tqdm(enumerate(temp['차대번호'])):
    if not p02.search(str(one)):
        idx02.append(temp.index[i])

13936it [00:00, 388069.61it/s]

In [537]:
df[['차량관리번호', '차량등록번호', '차대번호']].reindex(idx02)

               차량관리번호    차량등록번호          차대번호
43       4899경남1누8987  경남1누8987   10792213224
536      4199경기6가5004  경기6가5004   03821121571
1377     4199경기8누5366  경기8누5366   03812124383
2430     1199서울1루3857  서울1루3857   10812247800
2459     4599전북7가6379  전북7가6379   13822102056
...               ...       ...           ...
1183200  4599전북1라9198  전북1라9198   03812211738
1183849  2699부산2마1364  부산2마1364   10822218921
1184277  2899인천1다5445  인천1다5445   13821314935
1184716   279996고9549   96고9549  440134311315
1186066  1199서울3머9722  서울3머9722   10792253171

[2701 rows x 3 columns]

In [538]:
n = 0
for i, one in enumerate(df['차량관리번호']):
    if len(one.split('-')) > 2 and n < 2:
        print(i, one)
        n += 1

608 43-95-433-03092-01
26625 29-99-342-01697-01

In [539]:
# 바('-')가 2개 이상 있는 샘플
count = 0
idx03 = []
for i, one in enumerate(df['차량관리번호']):
    if len(one.split('-')) > 2:
        idx03.append(i)
        count += 1
count

98

In [540]:
df.loc[idx03[:5], ['차량관리번호', '차량등록번호', '차대번호'] ]

                    차량관리번호     차량등록번호              차대번호
608     43-95-433-03092-01    99조6889   43-95-433-03092
26625   29-99-342-01697-01    88러6371   29-99-342-01697
33600   42-95-342-01943-01  강원80러1297   42-95-342-01943
35055  41-94-342-80749순-01  전남82가9251  41-94-342-80749순
43763    KB-43-C-005729-01   경북7다4191    KB-43-C-005729

#### [출력]차량관리번호 오류 값의 차대번호

In [541]:
temp.to_csv('analysis/[제원정보][5등급][차량관리번호]오류샘플의_차대번호.csv', encoding='cp949')

In [542]:
len('4899경남1누8987'.split('-'))

1

#### 차량관리번호 뒷번호 확인

In [25]:
num_list = []
rest_list = []
for i, one in tqdm(enumerate(df.iloc[:, 0])):
    temp = str(one).split('-')
    if len(temp) == 2:
        num_list.append(temp[-1])
    else:
        num_list.append(np.nan)
        rest_list.append(i)

1186488it [00:01, 891548.11it/s]

In [26]:
len(rest_list)

13936

In [28]:
# 뒷번호 나머지에서 차량관리번호 오류 값 제거
len(set(rest_list) - set(idx02))

11235

In [29]:
len(set(num_list))

4

In [30]:
set(num_list)

{'01', '02', '03', nan}

In [31]:
len(num_list)

1186488

In [32]:
num_list.count('01')

1171365

In [33]:
num_list.count('02')

1170

In [34]:
num_list.count('03')

17

In [35]:
for n in ['01', '02', '03']:
    idx = []
    for i, one in enumerate(df.iloc[:, 0].to_numpy()):
        temp = str(one).split('-')
        if len(temp) == 2 and temp[-1] == n:
            idx.append(i)
    print(f'차량관리번호 "-" 뒤 숫자 :{n}')
    print('예시)')
    print(df.iloc[idx[:3], 0])
    print()

차량관리번호 "-" 뒤 숫자 :01
예시)
0    KMFXKS7BP2U559698-01
1    KMHSJ81WP6U036607-01
2    KN3HNP6D15K117795-01
Name: 차량관리번호, dtype: object

차량관리번호 "-" 뒤 숫자 :02
예시)
651     KMHLA11FPGU065911-02
2279    KNCSA9132JS139190-02
2379    KN2DAM8A1JK001418-02
Name: 차량관리번호, dtype: object

차량관리번호 "-" 뒤 숫자 :03
예시)
226765    1G6KS5182HU807373-03
255369    KMHPA21EPEU124185-03
288592    KMHJN81VP4U056566-03
Name: 차량관리번호, dtype: object

In [38]:
for one in df.iloc[:, 0].to_numpy():
    temp = one.split('-')
    if len(temp) == 2:
        if 'KMFXKS7BP2U559698' in one:
            print(one)

KMFXKS7BP2U559698-01

In [39]:
for one in df.iloc[:, 0].to_numpy():
    temp = one.split('-')
    if len(temp) == 2:
        if 'KMHLA11FPGU065911' in one:
            print(one)

KMHLA11FPGU065911-02

In [40]:
for one in df.iloc[:, 0].to_numpy():
    temp = one.split('-')
    if len(temp) == 2:
        if '1G6KS5182HU807373' in one:
            print(one)

1G6KS5182HU807373-03

##### 차량관리번호 앞번호(차대번호) 중복 여부 확인

In [41]:
# 차량관리번호 앞번호(차대번호) 중복 여부 체크
list03 = []
idx03 = []
for i, one in enumerate(df.iloc[:, 0].to_numpy()):
    temp = str(one).split('-')
    if len(temp) == 2:
        list03.append(temp[0])
        idx03.append(i)

In [42]:
a = [1, 2, 3]
b = a.copy()
b.remove(3)
a, b

([1, 2, 3], [1, 2])

In [43]:
dict03_1 = dict()
for one in set(list03):
    dict03_1[one] = 0

In [44]:
test_list = [1, 2, 3, 2, 3, 3, 4, 5]
test_dict = dict()
for one in set(test_list):
    test_dict[one] = 0
test_dict

{1: 0, 2: 0, 3: 0, 4: 0, 5: 0}

In [45]:
for one in test_list:
    test_dict[one] += 1
test_dict

{1: 1, 2: 2, 3: 3, 4: 1, 5: 1}

In [46]:
for one in list03:
    dict03_1[one] += 1

In [47]:
# 중복 앞번호 : 24 개
keys = []
for k, v in dict03_1.items():
    if v >= 2:
        keys.append(k)
len(keys)

24

In [48]:
keys[:5]

['KNCSD0322VS315866',
 'KN5MFT7X1MK000146',
 '449934294852',
 '2GAFG35L5G4135703',
 '10792153054EOGUS']

In [49]:
dict03_1['KNCSD0322VS315866']

2

In [50]:
keys = sorted(keys)

In [51]:
keys[:5]

['10782112705',
 '10792153054EOGUS',
 '10792214743',
 '10832247422',
 '2GAFG35L5G4135703']

In [52]:
a = [1, 2, 3, 2]
a.index(2)

1

In [53]:
# 4.9s
# 중복 앞번호 샘플 추출 : 48 개
idx03_1 = []
for k in keys:
    for i, one in enumerate(df.iloc[:, 0].to_numpy()):
        if k in one:
            idx03_1.append(i)

In [54]:
len(idx03_1)

48

In [55]:
df.iloc[idx03_1, 0]

532743           10782112705-01
844797           10782112705-02
698415      10792153054EOGUS-01
728487      10792153054EOGUS-02
477858           10792214743-02
751902           10792214743-01
559524           10832247422-02
1079422          10832247422-01
281460     2GAFG35L5G4135703-02
310138     2GAFG35L5G4135703-01
422041          419734297854-01
427959          419734297854-02
969157          419934399332-02
1169539         419934399332-01
23034           419934399356-01
831324          419934399356-02
596017          420234203244-01
894184          420234203244-02
356043          449934294852-02
1036418         449934294852-01
291513          449934294855-01
1056322         449934294855-02
69200      KMFAA19RPJU002468-01
593306     KMFAA19RPJU002468-02
16429      KMFFA17APRU142377-01
1119730    KMFFA17APRU142377-02
886734     KMFGA17AP4C206251-01
1035451    KMFGA17AP4C206251-02
681691     KMFGA17LP2C165003-02
749017     KMFGA17LP2C165003-01
74002      KMFLA19JPTC109807-02
399639     KMFLA19JPTC109807-01
865542     KMFXKS7APTU035880-01
908267     KMFXKS7APTU035880-02
69481      KMFZCS7HP7U223169-02
1095909    KMFZCS7HP7U223169-01
254741     KMHSF31EPEU030266-01
655176     KMHSF31EPEU030266-02
70563      KN5MFT7X1MK000146-02
259764     KN5MFT7X1MK000146-01
59821      KNAMC75137S168063-01
1158886    KNAMC75137S168063-02
496975     KNCSC9132MS233886-02
661662     KNCSC9132MS233886-01
146033     KNCSD0322VS315866-02
594049     KNCSD0322VS315866-01
254937     KPBFA2AF16P231090-02
537373     KPBFA2AF16P231090-01
Name: 차량관리번호, dtype: object

In [56]:
# 앞번호 중복 최대 횟수 : 2 번
m = 0
for k, v in dict03_1.items():
    if m <= v:
        m = v
m

2

#### [출력]앞번호 중복 예시

In [57]:
temp03_1 = df.iloc[idx03_1, 0]
temp03_1.to_excel('analysis/[제원정보][5등급][차량관리번호]앞번호_중복_예시.xlsx', encoding='utf-8')

C:\Users\kbj\AppData\Roaming\Python\Python39\site-packages\pandas\util\_decorators.py:211: FutureWarning: the 'encoding' keyword is deprecated and will be removed in a future version. Please take steps to stop the use of 'encoding'
  return func(*args, **kwargs)

### 1\. 차량등록번호

In [ ]:
# - 오류
#     - null 값 : 0
#     - 오류 값 : 1

In [58]:
df.iloc[:, 1].isnull().sum()

0

In [59]:
df.iloc[:, 1].value_counts()

경기91다3109    1
82구5659      1
인천7머5543     1
80거2009      1
06어4006      1
            ..
90어2229      1
대구90가8081    1
16구4948      1
89서3963      1
충북90가2032    1
Name: 차량등록번호, Length: 1186488, dtype: int64

In [60]:
count = 0
p11 = re.compile('\d+[가-힣]+')
idx11 = []
for i, one in tqdm(enumerate(df.iloc[:, 1].to_numpy())):
    if not p11.search(one):
        idx11.append(i)
        count += 1
count

1186488it [00:01, 1109586.83it/s]

1

In [61]:
df.iloc[:, 1].reindex(idx11)

389132    서울703**575
Name: 차량등록번호, dtype: object

In [68]:
df.iloc[idx11, [0, 1, 6]]

                차량관리번호      차량등록번호         차대번호
389132  1199서울703**575  서울703**575  03821215031

In [65]:
# [숫자][한글][숫자] 형식이 아닌 값 : 1
count = 0
p12 = re.compile('\d+[가-힣]+\d+')
idx12 = []
for i, one in tqdm(enumerate(df.iloc[:, 1].to_numpy())):
    if not p12.search(one):
        idx12.append(i)
        count += 1
count

1186488it [00:01, 1081075.33it/s]

1

In [66]:
df.iloc[:, 1].reindex(idx12)

389132    서울703**575
Name: 차량등록번호, dtype: object

In [67]:
df.iloc[idx12, [0, 1, 6]]

                차량관리번호      차량등록번호         차대번호
389132  1199서울703**575  서울703**575  03821215031

### 2\. 본거지법정동코드

In [ ]:
# - 오류
#     - null 값 : 0
#     - 숫자가 아닌 값 : 0
#     - 길이가 10이 아닌 값 : 0

In [69]:
df.iloc[:, 2].isnull().sum()

0

In [71]:
df.iloc[:, 2].value_counts()

4139013200    4114
2647010200    2996
1150010300    2940
1162010200    2923
1147010300    2785
              ...
4613035025       1
4272033000       1
4679039533       1
4729025633       1
4571000000       1
Name: 본거지법정동코드, Length: 20187, dtype: int64

In [72]:
# 숫자가 아닌 값
count = 0
p2 = re.compile('\D+')
idx2 = []
for i, one in tqdm(enumerate(df.iloc[:, 2].to_numpy())):
    if p2.search(str(one)):
        idx2.append(i)
        count += 1
count

1186488it [00:02, 548766.16it/s]

0

In [73]:
p2.search('2b안녕하세요1a')

In [74]:
count = 0
idx21 = []
for i, one in tqdm(enumerate(df.iloc[:, 2].to_numpy())):
    if len(str(one)) != 10:
        idx21.append(i)
        count += 1
count

1186488it [00:01, 800876.91it/s]

0

### 3\. 소유자구분

In [75]:
df.iloc[:, 3].value_counts()

주민     967066
법인     145775
사업자     50809
기타      15302
외국인      7536
Name: 소유자구분, dtype: int64

### 4\. 차종_등록정보

In [76]:
df.iloc[:, 4].value_counts()

화물    696381
승용    370580
승합    102885
특수     16630
Name: 차종_등록정보, dtype: int64

### 5\. 용도

In [77]:
df.iloc[:, 5].value_counts()

자가용    1124666
영업용      60265
관용        1557
Name: 용도, dtype: int64

### 6\. [e]차대번호

In [78]:
# - 오류
#     - null 값 : 0
#     - 차대번호 길이별 통계

In [79]:
df2 = df.copy()

In [80]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1186488 entries, 0 to 1186487
Data columns (total 40 columns):
 #   Column       Non-Null Count    Dtype
---  ------       --------------    -----
 0   차량관리번호       1186488 non-null  object
 1   차량등록번호       1186488 non-null  object
 2   본거지법정동코드     1186488 non-null  int64
 3   소유자구분        1186488 non-null  object
 4   차종_등록정보      1186476 non-null  object
 5   용도           1186488 non-null  object
 6   차대번호         1186488 non-null  object
 7   최초등록일자       1186488 non-null  object
 8   차량연식         1186488 non-null  int64
 9   차량제작일자       989593 non-null   object
 10  검사유효일        1185981 non-null  float64
 11  제원관리번호       1186488 non-null  object
 12  배출가스인증번호     560317 non-null   object
 13  배출가스등급       1186488 non-null  int64
 14  저공해조치종류      363785 non-null   object
 15  저공해조치구조변경YN  1186488 non-null  object
 16  차량말소YN       1186488 non-null  object
 17  취득일자         1044935 non-null  float64
 18  취득금액         1070799 non-null  float64
 19  차명           1186487 non-null  object
 20  차종_제원정보      1186488 non-null  object
 21  차종분류         1186488 non-null  object
 22  차종유형         1186488 non-null  object
 23  자동차형식        1185965 non-null  object
 24  제작사명         1183245 non-null  object
 25  연료           1186488 non-null  object
 26  엔진형식         1182990 non-null  object
 27  총중량          1186487 non-null  float64
 28  적재중량         1186478 non-null  float64
 29  엔진출력         1186201 non-null  object
 30  배기량          1186486 non-null  float64
 31  승차인원         1186487 non-null  float64
 32  차량길이         1186487 non-null  float64
 33  차량너비         1186487 non-null  float64
 34  차량높이         1186487 non-null  float64
 35  원산지명         1144734 non-null  object
 36  삭제YN         1186488 non-null  object
 37  제원승인일자       1185300 non-null  object
 38  구동형식         3 non-null        object
 39  변속기종류        1186486 non-null  object
dtypes: float64(10), int64(3), object(27)
memory usage: 362.1+ MB

In [543]:
df2['차대번호'].isnull().sum()

0

In [81]:
len('KMFZCY7JBCU784032')

17

#### 동일 차대번호 확인

In [ ]:
# 동일차대번호(차량등록번호 다름) : 34

In [82]:
df2.iloc[:, 6].isnull().sum()

0

In [83]:
df2.iloc[:, 6].value_counts()

KN1ADA1W1NK013714    3
KLAPM69E1HB026296    2
10792214743          2
KNCSA9612HS162574    2
KMHNF21FPGU000135    2
                    ..
KMHSJ81WP6U002262    1
KNCSB1114KS042653    1
KMHSJ81WP6U080077    1
KPBFA2AF14P141262    1
KMFFA17XPPU005700    1
Name: 차대번호, Length: 1186453, dtype: int64

In [84]:
df2.shape

(1186488, 40)

In [86]:
dup_vin_df = df2.iloc[:, 6].value_counts().reset_index()
dup_vin_df.columns = ['차대번호', '개수']
dup_vin_df.head()

                차대번호  개수
0  KN1ADA1W1NK013714   3
1  KLAPM69E1HB026296   2
2        10792214743   2
3  KNCSA9612HS162574   2
4  KMHNF21FPGU000135   2

In [87]:
dup_vin_df.shape

(1186453, 2)

In [546]:
max(dup_vin_df['개수'])

3

In [89]:
# 중복 차대번호 추출
dup_vin_df2 = dup_vin_df[dup_vin_df['개수'] > 1].reset_index(drop=True)
dup_vin_df2.shape

(34, 2)

In [545]:
dup_vin_df2['차대번호'].head()

0    KN1ADA1W1NK013714
1    KLAPM69E1HB026296
2          10792214743
3    KNCSA9612HS162574
4    KMHNF21FPGU000135
Name: 차대번호, dtype: object

##### 동일 차대번호 예시
- 차량등록번호는 다름

In [104]:
for i in range(dup_vin_df2['차대번호'].shape[0]):
    print(f'{i}번째 차대번호')
    print(df2.loc[df2['차대번호'] == dup_vin_df2['차대번호'][0], ['차량등록번호', '차대번호']])
    print()

0번째 차대번호
           차량등록번호               차대번호
446896   서울4주4101  KN1ADA1W1NK013714
943454   서울4주4187  KN1ADA1W1NK013714
1017794  서울4주4149  KN1ADA1W1NK013714

1번째 차대번호
           차량등록번호               차대번호
446896   서울4주4101  KN1ADA1W1NK013714
943454   서울4주4187  KN1ADA1W1NK013714
1017794  서울4주4149  KN1ADA1W1NK013714

2번째 차대번호
           차량등록번호               차대번호
446896   서울4주4101  KN1ADA1W1NK013714
943454   서울4주4187  KN1ADA1W1NK013714
1017794  서울4주4149  KN1ADA1W1NK013714

3번째 차대번호
           차량등록번호               차대번호
446896   서울4주4101  KN1ADA1W1NK013714
943454   서울4주4187  KN1ADA1W1NK013714
1017794  서울4주4149  KN1ADA1W1NK013714

4번째 차대번호
           차량등록번호               차대번호
446896   서울4주4101  KN1ADA1W1NK013714
943454   서울4주4187  KN1ADA1W1NK013714
1017794  서울4주4149  KN1ADA1W1NK013714

5번째 차대번호
           차량등록번호               차대번호
446896   서울4주4101  KN1ADA1W1NK013714
943454   서울4주4187  KN1ADA1W1NK013714
1017794  서울4주4149  KN1ADA1W1NK013714

6번째 차대번호
           차량등록번호               차대번호
446896   서울4주4101  KN1ADA1W1NK013714
943454   서울4주4187  KN1ADA1W1NK013714
1017794  서울4주4149  KN1ADA1W1NK013714

7번째 차대번호
           차량등록번호               차대번호
446896   서울4주4101  KN1ADA1W1NK013714
943454   서울4주4187  KN1ADA1W1NK013714
1017794  서울4주4149  KN1ADA1W1NK013714

8번째 차대번호
           차량등록번호               차대번호
446896   서울4주4101  KN1ADA1W1NK013714
943454   서울4주4187  KN1ADA1W1NK013714
1017794  서울4주4149  KN1ADA1W1NK013714

9번째 차대번호
           차량등록번호               차대번호
446896   서울4주4101  KN1ADA1W1NK013714
943454   서울4주4187  KN1ADA1W1NK013714
1017794  서울4주4149  KN1ADA1W1NK013714

10번째 차대번호
           차량등록번호               차대번호
446896   서울4주4101  KN1ADA1W1NK013714
943454   서울4주4187  KN1ADA1W1NK013714
1017794  서울4주4149  KN1ADA1W1NK013714

11번째 차대번호
           차량등록번호               차대번호
446896   서울4주4101  KN1ADA1W1NK013714
943454   서울4주4187  KN1ADA1W1NK013714
1017794  서울4주4149  KN1ADA1W1NK013714

12번째 차대번호
           차량등록번호               차대번호
446896   서울4주4101  KN1ADA1W1NK013714
943454   서울4주4187  KN1ADA1W1NK013714
1017794  서울4주4149  KN1ADA1W1NK013714

13번째 차대번호
           차량등록번호               차대번호
446896   서울4주4101  KN1ADA1W1NK013714
943454   서울4주4187  KN1ADA1W1NK013714
1017794  서울4주4149  KN1ADA1W1NK013714

14번째 차대번호
           차량등록번호               차대번호
446896   서울4주4101  KN1ADA1W1NK013714
943454   서울4주4187  KN1ADA1W1NK013714
1017794  서울4주4149  KN1ADA1W1NK013714

15번째 차대번호
           차량등록번호               차대번호
446896   서울4주4101  KN1ADA1W1NK013714
943454   서울4주4187  KN1ADA1W1NK013714
1017794  서울4주4149  KN1ADA1W1NK013714

16번째 차대번호
           차량등록번호               차대번호
446896   서울4주4101  KN1ADA1W1NK013714
943454   서울4주4187  KN1ADA1W1NK013714
1017794  서울4주4149  KN1ADA1W1NK013714

17번째 차대번호
           차량등록번호               차대번호
446896   서울4주4101  KN1ADA1W1NK013714
943454   서울4주4187  KN1ADA1W1NK013714
1017794  서울4주4149  KN1ADA1W1NK013714

18번째 차대번호
           차량등록번호               차대번호
446896   서울4주4101  KN1ADA1W1NK013714
943454   서울4주4187  KN1ADA1W1NK013714
1017794  서울4주4149  KN1ADA1W1NK013714

19번째 차대번호
           차량등록번호               차대번호
446896   서울4주4101  KN1ADA1W1NK013714
943454   서울4주4187  KN1ADA1W1NK013714
1017794  서울4주4149  KN1ADA1W1NK013714

20번째 차대번호
           차량등록번호               차대번호
446896   서울4주4101  KN1ADA1W1NK013714
943454   서울4주4187  KN1ADA1W1NK013714
1017794  서울4주4149  KN1ADA1W1NK013714

21번째 차대번호
           차량등록번호               차대번호
446896   서울4주4101  KN1ADA1W1NK013714
943454   서울4주4187  KN1ADA1W1NK013714
1017794  서울4주4149  KN1ADA1W1NK013714

22번째 차대번호
           차량등록번호               차대번호
446896   서울4주4101  KN1ADA1W1NK013714
943454   서울4주4187  KN1ADA1W1NK013714
1017794  서울4주4149  KN1ADA1W1NK013714

23번째 차대번호
           차량등록번호               차대번호
446896   서울4주4101  KN1ADA1W1NK013714
943454   서울4주4187  KN1ADA1W1NK013714
1017794  서울4주4149  KN1ADA1W1NK013714

24번째 차대번호
           차량등록번호               차대번호
446896   서울4주4101  KN1ADA1W1NK013714
943454   서울4주4187  KN1ADA1W1NK013714
1017794  서울4주4149  KN1ADA1W1NK013714

25번째 차대번호
           차량등록번호               차대번호
446896   서울4주4101  KN1ADA1W1NK013714
943454   서울4주4187  KN1ADA1W1NK013714
1017794  서울4주4149  KN1ADA1W1NK013714

26번째 차대번호
           차량등록번호               차대번호
446896   서울4주4101  KN1ADA1W1NK013714
943454   서울4주4187  KN1ADA1W1NK013714
1017794  서울4주4149  KN1ADA1W1NK013714

27번째 차대번호
           차량등록번호               차대번호
446896   서울4주4101  KN1ADA1W1NK013714
943454   서울4주4187  KN1ADA1W1NK013714
1017794  서울4주4149  KN1ADA1W1NK013714

28번째 차대번호
           차량등록번호               차대번호
446896   서울4주4101  KN1ADA1W1NK013714
943454   서울4주4187  KN1ADA1W1NK013714
1017794  서울4주4149  KN1ADA1W1NK013714

29번째 차대번호
           차량등록번호               차대번호
446896   서울4주4101  KN1ADA1W1NK013714
943454   서울4주4187  KN1ADA1W1NK013714
1017794  서울4주4149  KN1ADA1W1NK013714

30번째 차대번호
           차량등록번호               차대번호
446896   서울4주4101  KN1ADA1W1NK013714
943454   서울4주4187  KN1ADA1W1NK013714
1017794  서울4주4149  KN1ADA1W1NK013714

31번째 차대번호
           차량등록번호               차대번호
446896   서울4주4101  KN1ADA1W1NK013714
943454   서울4주4187  KN1ADA1W1NK013714
1017794  서울4주4149  KN1ADA1W1NK013714

32번째 차대번호
           차량등록번호               차대번호
446896   서울4주4101  KN1ADA1W1NK013714
943454   서울4주4187  KN1ADA1W1NK013714
1017794  서울4주4149  KN1ADA1W1NK013714

33번째 차대번호
           차량등록번호               차대번호
446896   서울4주4101  KN1ADA1W1NK013714
943454   서울4주4187  KN1ADA1W1NK013714
1017794  서울4주4149  KN1ADA1W1NK013714

#### 차대번호 정상 확인

In [105]:
# 17자리, 영문포함 -> 정상 : 1160578
count = 0
p61 = re.compile('[a-zA-Z]+')
idx61 = []
for i, one in tqdm(enumerate(df2.iloc[:, 6].to_numpy())):
    if len(str(one)) == 17 and p61.search(str(one)):
        idx61.append(i)
        count += 1
count

1186488it [00:01, 671384.52it/s]

1160578

In [106]:
# 정상에서 "I, O, Q" 포함한 값 : 873
temp61 = df2.iloc[idx61, 6].to_numpy()
idx61_1 = []
for i, one in tqdm(enumerate(temp61)):
    if ('I' in one) or ('O' in one) or ('Q' in one):
        idx61_1.append(idx61[i])
len(idx61_1)

1160578it [00:00, 1959047.19it/s]

873

In [107]:
df2.iloc[idx61_1, 6][:5]

C:\Users\kbj\AppData\Local\Temp\ipykernel_3920\2435097354.py:1: FutureWarning: The behavior of `series[i:j]` with an integer-dtype index is deprecated. In a future version, this will be treated as *label-based* indexing, consistent with e.g. `series[i]` lookups. To retain the old behavior, use `series.iloc[i:j]`. To get the future behavior, use `series.loc[i:j]`.
  df2.iloc[idx61_1, 6][:5]

5851     KLBUD65OHPP000214
6293     KPAHB6CM2JPO22324
6905     KN4XFWOH3VK001844
8076     KPAMCOCM1TP111859
10211    IMECM53U3LA620299
Name: 차대번호, dtype: object

In [109]:
# 17자리, 영문X => 숫자만 : 34
count = 0
p62 = re.compile('[a-zA-Z]+')
idx62 = []
for i, one in tqdm(enumerate(df2.iloc[:, 6].to_numpy())):
    n = 0
    for j in str(one):
        if p62.search(j):
            n += 1
    if len(str(one)) == 17 and n == 0:
        idx62.append(i)
        count += 1
count

1186488it [00:10, 114888.44it/s]

34

In [111]:
df2.iloc[:, 6].reindex(idx62)

4221       01761300880111111
26434      10842129027005018
31644      10772236638111111
49186      19027006811310333
69034      10822238671000000
131347     03831122925000000
150568     10822240201111111
176487     01831320373000000
185793     03841200269000000
209740     10792248208111111
213097     03831136717000000
255834     03782258475111111
314909     10831372297111111
315679     03801315475000000
355310     10792278447038085
403301     10831358444111111
422490     01691300579111111
423410     03841111420000000
454200     03782229540111111
506412     10822239805111111
560882     03791244098000000
641354     10802217777000000
644372     10782213821111111
742629     02831184011111111
853258     03832148696138133
914668     03811300527000000
926517     02821180606111111
1004664    10812237826000000
1029271    13821304026000000
1030074    03841201607000000
1043622    02841188023111111
1091015    01871105754000000
1100037    01791302162111111
1179317    03831216992111111
Name: 차대번호, dtype: object

In [112]:
# 17자리 X, 영문 : 777
count = 0
p63 = re.compile('[a-zA-Z]+')
idx63 = []
for i, one in tqdm(enumerate(df2.iloc[:, 6].to_numpy())):
    if len(str(one)) != 17 and p63.search(one):
        idx63.append(i)
        count += 1
count

1186488it [00:00, 1560303.04it/s]

777

In [113]:
df2.iloc[:, 6].reindex(idx63)[:5]

C:\Users\kbj\AppData\Local\Temp\ipykernel_3920\2206251045.py:1: FutureWarning: The behavior of `series[i:j]` with an integer-dtype index is deprecated. In a future version, this will be treated as *label-based* indexing, consistent with e.g. `series[i]` lookups. To retain the old behavior, use `series.iloc[i:j]`. To get the future behavior, use `series.loc[i:j]`.
  df2.iloc[:, 6].reindex(idx63)[:5]

107      10802119965EOGUS
4954          KB45C005021
5157          KB45C006663
5600     10822273090EOGUS
10611     13831318396EOWL
Name: 차대번호, dtype: object

In [114]:
# 17자리 X, 영문X : 25099
count = 0
p64 = re.compile('[a-zA-Z]+')
idx64 = []
for i, one in tqdm(enumerate(df2.iloc[:, 6].to_numpy())):
    n = 0
    for j in one:
        if p64.search(j):
            n += 1
    if len(str(one)) != 17 and n == 0:
        idx64.append(i)
        count += 1
count

1186488it [00:10, 114728.50it/s]

25099

In [115]:
df2.iloc[:, 6].reindex(idx64)[:5]

C:\Users\kbj\AppData\Local\Temp\ipykernel_3920\1133880624.py:1: FutureWarning: The behavior of `series[i:j]` with an integer-dtype index is deprecated. In a future version, this will be treated as *label-based* indexing, consistent with e.g. `series[i]` lookups. To retain the old behavior, use `series.iloc[i:j]`. To get the future behavior, use `series.loc[i:j]`.
  df2.iloc[:, 6].reindex(idx64)[:5]

31      03791237974
43      10792213224
165     10831378565
193     03802220195
300    290234302789
Name: 차대번호, dtype: object

In [116]:
# 차대번호 길이 종류 확인
len_vin = []
for i, one in tqdm(enumerate(df2.iloc[:, 6].to_numpy())):
    len_vin.append(len(str(one)))
set(len_vin)

1186488it [00:00, 1416241.10it/s]

{7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18}

In [117]:
df2['VIN_length'] = [ len(one) for one in df2['차대번호'] ]

In [118]:
df2['VIN_length'].unique()

array([17, 11, 16, 12, 15, 13, 14, 10,  9, 18,  8,  7], dtype=int64)

In [119]:
IOQ = []
for one in df2['차대번호']:
    if ('I' in one) or ('O' in one) or ('Q' in one):
        IOQ.append('Y')
    else:
        IOQ.append('N')
df2['IOQ'] = IOQ

In [120]:
df2['IOQ'].unique()

array(['N', 'Y'], dtype=object)

In [121]:
# 알파벳 포함
included_alpha = []
count = 0
p65 = re.compile('[a-zA-Z]+')
for i, one in tqdm(enumerate(df2.iloc[:, 6].to_numpy())):
    n = 0
    for j in one:
        if p65.search(j):
            n += 1
    if n == 0:
        included_alpha.append('N')
        count += 1
    else:
        included_alpha.append('Y')
count

1186488it [00:10, 117169.99it/s]

25133

In [122]:
df2['alpha'] = included_alpha

In [123]:
df2.groupby(['VIN_length', 'alpha', 'IOQ'])['차대번호'].count()

VIN_length  alpha  IOQ
7           Y      N            1
8           Y      N            1
9           N      N            1
            Y      N            3
10          N      N           18
            Y      N            2
11          N      N        21117
            Y      N          157
                   Y            2
12          N      N         3710
            Y      N           14
13          N      N           93
            Y      N            1
14          N      N          107
            Y      N           10
                   Y            1
15          N      N           42
            Y      N           11
                   Y          194
16          N      N           11
            Y      N          147
                   Y          232
17          N      N           34
            Y      N      1159705
                   Y          873
18          Y      N            1
Name: 차대번호, dtype: int64

In [124]:
df2.groupby(['VIN_length', 'IOQ'])['차대번호'].count()

VIN_length  IOQ
7           N            1
8           N            1
9           N            4
10          N           20
11          N        21274
            Y            2
12          N         3724
13          N           94
14          N          117
            Y            1
15          N           53
            Y          194
16          N          158
            Y          232
17          N      1159739
            Y          873
18          N            1
Name: 차대번호, dtype: int64

In [125]:
V_I_dict = df2.groupby(['VIN_length', 'IOQ'])['차대번호'].groups

In [126]:
V_I_dict.keys()

dict_keys([(7, 'N'), (8, 'N'), (9, 'N'), (10, 'N'), (11, 'N'), (11, 'Y'), (12, 'N'), (13, 'N'), (14, 'N'), (14, 'Y'), (15, 'N'), (15, 'Y'), (16, 'N'), (16, 'Y'), (17, 'N'), (17, 'Y'), (18, 'N')])

In [127]:
g = df2.groupby(['VIN_length', 'IOQ'], as_index=False)['차대번호'].count()
g

    VIN_length IOQ     차대번호
0            7   N        1
1            8   N        1
2            9   N        4
3           10   N       20
4           11   N    21274
5           11   Y        2
6           12   N     3724
7           13   N       94
8           14   N      117
9           14   Y        1
10          15   N       53
11          15   Y      194
12          16   N      158
13          16   Y      232
14          17   N  1159739
15          17   Y      873
16          18   N        1

In [128]:
V_I_df = g.sort_values(['VIN_length', 'IOQ'], ascending=[True, False])
V_I_df

    VIN_length IOQ     차대번호
0            7   N        1
1            8   N        1
2            9   N        4
3           10   N       20
5           11   Y        2
4           11   N    21274
6           12   N     3724
7           13   N       94
9           14   Y        1
8           14   N      117
11          15   Y      194
10          15   N       53
13          16   Y      232
12          16   N      158
15          17   Y      873
14          17   N  1159739
16          18   N        1

In [522]:
for v in range(7, 19):
    for i in ['N', 'Y']:
        try:
            idx = V_I_dict[(v, i)]
            print(f'[VIN_length : {v}, "IOQ"포함 : {i}]')
            print('예시)')
            print(df2.iloc[idx[:3], 6])
            print()
        except:
            pass

[VIN_length : 7, "IOQ"포함 : N]
예시)
682227    2EJ1684
Name: 차대번호, dtype: object

[VIN_length : 8, "IOQ"포함 : N]
예시)
519501    S2159974
Name: 차대번호, dtype: object

[VIN_length : 9, "IOQ"포함 : N]
예시)
225085    CN67C4394
288906    CN71G6168
808281    CN45C1971
Name: 차대번호, dtype: object

[VIN_length : 10, "IOQ"포함 : N]
예시)
47754    0283118691
61908    1332942254
75272    SL68806025
Name: 차대번호, dtype: object

[VIN_length : 11, "IOQ"포함 : N]
예시)
31     03791237974
43     10792213224
165    10831378565
Name: 차대번호, dtype: object

[VIN_length : 11, "IOQ"포함 : Y]
예시)
385830    SL67CO32925
749701    OC72T064502
Name: 차대번호, dtype: object

[VIN_length : 12, "IOQ"포함 : N]
예시)
300    290234302789
456    289934206482
871    270224201850
Name: 차대번호, dtype: object

[VIN_length : 13, "IOQ"포함 : N]
예시)
1119     03872120482대인
1833     119411325784라
36791    119134210022나
Name: 차대번호, dtype: object

[VIN_length : 14, "IOQ"포함 : N]
예시)
16134    21018721100220
37901    14861141341대동규
43763    KB-43-C-005729
Name: 차대번호, dtype: object

[VIN_length : 14, "IOQ"포함 : Y]
예시)
1044123    0383213487EORL
Name: 차대번호, dtype: object

[VIN_length : 15, "IOQ"포함 : N]
예시)
608      43-95-433-03092
26625    29-99-342-01697
33600    42-95-342-01943
Name: 차대번호, dtype: object

[VIN_length : 15, "IOQ"포함 : Y]
예시)
10611    13831318396EOWL
12825    03832101713EOWL
23510    13831317505EOWL
Name: 차대번호, dtype: object

[VIN_length : 16, "IOQ"포함 : N]
예시)
10614    KN2GAB2N2K001920
18976    KN3MAP7M2J000193
19720    KLAPM69A1GB02292
Name: 차대번호, dtype: object

[VIN_length : 16, "IOQ"포함 : Y]
예시)
107      10802119965EOGUS
5600     10822273090EOGUS
18595    10842117345EOGUS
Name: 차대번호, dtype: object

[VIN_length : 17, "IOQ"포함 : N]
예시)
0    KMFXKS7BP2U559698
1    KMHSJ81WP6U036607
2    KN3HNP6D15K117795
Name: 차대번호, dtype: object

[VIN_length : 17, "IOQ"포함 : Y]
예시)
5851    KLBUD65OHPP000214
6293    KPAHB6CM2JPO22324
6905    KN4XFWOH3VK001844
Name: 차대번호, dtype: object

[VIN_length : 18, "IOQ"포함 : N]
예시)
399639    KMFLA19JPTC1098071
Name: 차대번호, dtype: object

##### [출력]번호길이, IOQ포함 통계

In [523]:
V_I_df.to_csv('analysis/[차대번호][5등급]길이_IOQ포함_통계.csv', index=False, encoding='cp949')

#### WMI 코드 분류 제작사 통계

In [131]:
wmi = pd.read_excel('data/20190730_WMI CODE.xlsx', sheet_name='WMI CODE')
wmi.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 690 entries, 0 to 689
Data columns (total 8 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   WMI            690 non-null    object
 1   MF CODE        690 non-null    object
 2   Identifier     690 non-null    object
 3   Manufacturer   690 non-null    object
 4   Country        688 non-null    object
 5   Vehicle Types  249 non-null    object
 6   Description    54 non-null     object
 7   참고             0 non-null      float64
dtypes: float64(1), object(7)
memory usage: 43.2+ KB

In [132]:
df2['차대번호'].head()

0    KMFXKS7BP2U559698
1    KMHSJ81WP6U036607
2    KN3HNP6D15K117795
3    KPBFA2AD12P043282
4    KNCSD0112XS452905
Name: 차대번호, dtype: object

In [133]:
df2['wmi'] = df2['차대번호'].str[:3]

In [134]:
df2['wmi'].head()

0    KMF
1    KMH
2    KN3
3    KPB
4    KNC
Name: wmi, dtype: object

In [135]:
df2 = df2.merge(wmi, left_on='wmi', right_on='WMI', how='left')
df2[['차대번호', 'wmi', 'WMI']].head()

                차대번호  wmi  WMI
0  KMFXKS7BP2U559698  KMF  KMF
1  KMHSJ81WP6U036607  KMH  KMH
2  KN3HNP6D15K117795  KN3  NaN
3  KPBFA2AD12P043282  KPB  NaN
4  KNCSD0112XS452905  KNC  KNC

In [136]:
df2.shape

(1186488, 52)

In [137]:
df2[['차대번호', 'wmi', 'WMI', 'Manufacturer']].head()

                차대번호  wmi  WMI Manufacturer
0  KMFXKS7BP2U559698  KMF  KMF      Hyundai
1  KMHSJ81WP6U036607  KMH  KMH      Hyundai
2  KN3HNP6D15K117795  KN3  NaN          NaN
3  KPBFA2AD12P043282  KPB  NaN          NaN
4  KNCSD0112XS452905  KNC  KNC          Kia

In [138]:
df2.iloc[:, 6].isnull().sum()

0

##### 차대번호 길이 조건 전부 포함

In [139]:
# 총 샘플 수 : 1186488

In [140]:
# 차대번호 길이 조건 전부 포함
df2['WMI'].info()

<class 'pandas.core.series.Series'>
Int64Index: 1186488 entries, 0 to 1186487
Series name: WMI
Non-Null Count   Dtype
--------------   -----
900759 non-null  object
dtypes: object(1)
memory usage: 18.1+ MB

In [141]:
# wmi 코드와 매칭되는 데이터
nor_iden = df2.loc[df2['WMI'].isnull() == False, ['차량관리번호', '차대번호', 'wmi', 'WMI', 'Identifier']]
nor_iden.head()

                 차량관리번호               차대번호  wmi  WMI Identifier
0  KMFXKS7BP2U559698-01  KMFXKS7BP2U559698  KMF  KMF    Hyundai
1  KMHSJ81WP6U036607-01  KMHSJ81WP6U036607  KMH  KMH    Hyundai
4  KNCSD0112XS452905-01  KNCSD0112XS452905  KNC  KNC        Kia
5  KLACM19F1GB001687-01  KLACM19F1GB001687  KLA  KLA  GM Daewoo
7  KMHSD81VP5U083757-01  KMHSD81VP5U083757  KMH  KMH    Hyundai

In [142]:
# WMI 코드와 매칭되는 샘플 수 : 900759
nor_iden.shape

(900759, 5)

In [143]:
# wmi 유니크 개수 : 88
len(nor_iden['wmi'].unique())

88

In [144]:
# 제작사 유니크 개수 : 57
len(nor_iden['Identifier'].unique())

57

In [145]:
# wmi 코드와 매칭 안되는 데이터
error_iden = df2.loc[df2['WMI'].isnull() == True, ['차량관리번호', '차대번호', 'wmi', 'WMI', 'Identifier']]
error_iden.head()

                  차량관리번호               차대번호  wmi  WMI Identifier
2   KN3HNP6D15K117795-01  KN3HNP6D15K117795  KN3  NaN        NaN
3   KPBFA2AD12P043282-01  KPBFA2AD12P043282  KPB  NaN        NaN
6   KMCLK18EP6C013610-01  KMCLK18EP6C013610  KMC  NaN        NaN
9   KN3HAP53C1K775583-01  KN3HAP53C1K775583  KN3  NaN        NaN
13  KMCGK17AP4C195950-01  KMCGK17AP4C195950  KMC  NaN        NaN

In [146]:
# wmi 코드 매칭 안되는 샘플 수 : 285729
error_iden.shape

(285729, 5)

In [148]:
len(error_iden['wmi'].unique())

412

###### [출력]오류 wmi코드 예시

In [524]:
error_iden.to_excel('analysis/[차대번호][5등급]오류_WMI코드_데이터예시.xlsx',index=False, encoding='cp949')

C:\Users\kbj\AppData\Roaming\Python\Python39\site-packages\pandas\util\_decorators.py:211: FutureWarning: the 'encoding' keyword is deprecated and will be removed in a future version. Please take steps to stop the use of 'encoding'
  return func(*args, **kwargs)

In [150]:
# wmi 코드와 매칭되는 데이터 통계
nor_iden_group = nor_iden.groupby(['Identifier'], as_index=False)['차대번호'].count().sort_values('차대번호', ascending=False)
nor_iden_group

                        Identifier    차대번호
16                         Hyundai  601406
24                             Kia  207766
50                       SsangYong   50939
29                             K화물   13927
11                       GM Daewoo    7093
26                             K승용    6239
6                           Daelim    4262
28                             K특수    1841
55                           Volvo    1612
49                         Scania     1355
5                        Chevrolet     826
48                          Scania     800
34                   Mercedes-Benz     618
22                            Jeep     517
27                             K승합     326
32                             MAN     270
30                      Land Rover     260
20                   Iveco Magirus     198
13                            Hino     144
47                          Saturn      66
9                             Ford      54
0                             Audi      45
54                      Volkswagen      40
35                         Mercury      28
2                              BMW      18
39                         Peugeot      17
3                            Buick       8
4                         Cadillac       8
41                         Pontiac       6
31                         Lincoln       5
37                          Nissan       5
25             Koenigsegg / Carvia       4
18  International Truck and Engine       4
40                        Plymouth       4
23                        Kenworth       3
52                          Suzuki       3
8                             Fiat       3
44                 Renault Samsung       3
21                          Jaguar       3
14                           Honda       3
10                    Freightliner       3
19                           Isuzu       3
33                           Mazda       3
38                      Oldsmobile       2
17                        Infiniti       2
53                         Toyota        2
15                         Hyosung       2
7                            Dodge       2
46                            Saab       2
42                         Porsche       2
36                      Mitsubishi       1
12                  General Motors       1
51                          Subaru       1
1                     Austin-Rover       1
45                     Rolls Royce       1
43                         Renault       1
56                           smart       1

###### [출력]제작사별 통계

In [151]:
nor_iden_group.to_excel('analysis/[차대번호][5등급]제작사별_통계.xlsx', index=False, encoding='cp949')

C:\Users\kbj\AppData\Roaming\Python\Python39\site-packages\pandas\util\_decorators.py:211: FutureWarning: the 'encoding' keyword is deprecated and will be removed in a future version. Please take steps to stop the use of 'encoding'
  return func(*args, **kwargs)

##### 차대번호 정상

In [152]:
# - 길이 17자리, IOQ 문자 미포함
# - 차대번호 개수(정상 WMI 코드) : 1159739

In [153]:
nor_vin = df2.loc[(df2['VIN_length'] == 17) & (df2['IOQ'] == 'N')]
nor_vin.head()

,차량관리번호,차량등록번호,본거지법정동코드,소유자구분,차종_등록정보,용도,차대번호,최초등록일자,차량연식,차량제작일자,...,alpha,wmi,WMI,MF CODE,Identifier,Manufacturer,Country,Vehicle Types,Description,참고
0,KMFXKS7BP2U559698-01,경기91다3109,4111113000,주민,화물,자가용,KMFXKS7BP2U559698,20020201,2002,20020125.0,...,Y,KMF,KMF,HYUN,Hyundai,Hyundai,Korea,Commercail vehicle,NaN,NaN
1,KMHSJ81WP6U036607-01,05나8578,2820010300,주민,승용,자가용,KMHSJ81WP6U036607,20060310,2006,20060306.0,...,Y,KMH,KMH,HYUN,Hyundai,Hyundai,Korea,Passenger & multi-purpose vehicle,NaN,NaN
2,KN3HNP6D15K117795-01,95가6292,4519011100,주민,화물,자가용,KN3HNP6D15K117795,20051018,2005,20051014.0,...,Y,KN3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,KPBFA2AD12P043282-01,09어5181,4833025321,주민,승용,자가용,KPBFA2AD12P043282,20020809,2002,20020808.0,...,Y,KPB,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,KNCSD0112XS452905-01,경기94도2820,4159035029,주민,화물,자가용,KNCSD0112XS452905,19990909,1999,19990828.0,...,Y,KNC,KNC,KIA,Kia,Kia,Korea,Truck,NaN,NaN

In [154]:
nor_vin.shape

(1159739, 52)

In [155]:
# wmi 코드와 매칭된 데이터
nor_iden_by_nor_vin = nor_vin.loc[nor_vin['WMI'].isnull() == False]
nor_iden_by_nor_vin.shape

(900169, 52)

In [156]:
# wmi 코드와 매칭안된 데이터
nor_vin.loc[nor_vin['WMI'].isnull() == True].shape

(259570, 52)

In [157]:
# wmi 코드와 매칭된 데이터, 제작사 유니크 값
len(nor_iden_by_nor_vin['Identifier'].unique())

55

In [158]:
# wmi 코드와 매칭된 데이터, wmi 유니크 값
len(nor_iden_by_nor_vin['WMI'].unique())

85

In [159]:
# wmi 코드와 매칭된 데이터 통계
nor_iden_by_nor_vin_group = nor_iden_by_nor_vin.groupby('Identifier', as_index=False)['차대번호'].count().sort_values('차대번호', ascending=False)
nor_iden_by_nor_vin_group

                        Identifier    차대번호
16                         Hyundai  601281
24                             Kia  207664
48                       SsangYong   50785
28                             K화물   13915
11                       GM Daewoo    6983
25                             K승용    6239
6                           Daelim    4257
27                             K특수    1840
53                           Volvo    1573
47                         Scania     1349
5                        Chevrolet     821
46                          Scania     799
33                   Mercedes-Benz     615
22                            Jeep     517
26                             K승합     325
31                             MAN     268
29                      Land Rover     260
20                   Iveco Magirus     197
13                            Hino     144
45                          Saturn      60
9                             Ford      51
0                             Audi      44
52                      Volkswagen      40
34                         Mercury      28
38                         Peugeot      17
2                              BMW      17
3                            Buick       8
4                         Cadillac       8
40                         Pontiac       6
36                          Nissan       5
30                         Lincoln       5
50                          Suzuki       3
8                             Fiat       3
42                 Renault Samsung       3
39                        Plymouth       3
21                          Jaguar       3
19                           Isuzu       3
10                    Freightliner       3
32                           Mazda       3
18  International Truck and Engine       3
14                           Honda       2
51                         Toyota        2
44                            Saab       2
37                      Oldsmobile       2
7                            Dodge       2
15                         Hyosung       2
49                          Subaru       1
17                        Infiniti       1
35                      Mitsubishi       1
1                     Austin-Rover       1
43                     Rolls Royce       1
12                  General Motors       1
41                         Renault       1
23                        Kenworth       1
54                           smart       1

###### [출력]제작사별 통계(정상차대번호)

In [160]:
# nor_iden_by_nor_vin_group.to_excel('analysis/[차대번호][5등급]제작사별_통계(정상차대번호).xlsx', encoding='cp949')

### 7\. [e]최초등록일자

In [161]:
# - 오류
#     - null 값 : 0
#     - 숫자가 아닌 값 : 0
#     - 길이가 8이 아닌 값 : 1

In [162]:
df.iloc[:, 7].value_counts()

20060102    3160
20070102    2280
20040102    2089
20050103    2051
20060103    1734
            ...
20000318       1
19930706       1
19960930       1
19840416       1
19801222       1
Name: 최초등록일자, Length: 15154, dtype: int64

In [163]:
df.iloc[:, 7].isnull().sum()

0

In [164]:
# 숫자가 포함되지 않은 샘플
count = 0
p7 = re.compile('\d+')
idx7 = []
for i, one in tqdm(enumerate(df.iloc[:, 7].to_numpy())):
    if not p7.search(str(one)):
        idx7.append(i)
        count += 1
count

1186488it [00:01, 846603.82it/s]

0

In [165]:
# 길이가 8이 아닌 샘플
count = 0
idx71 = []
for i, one in tqdm(enumerate(df.iloc[:, 7].to_numpy())):
    if len(str(one)) != 8:
        idx71.append(i)
        count += 1
count

1186488it [00:00, 1361089.42it/s]

1

In [166]:
# 길이가 8이 아닌 샘플 예시
df.iloc[:, 7].reindex(idx71)

174352    21227
Name: 최초등록일자, dtype: object

### 8\. 차량연식

In [167]:
# - 오류
#     - null 값 : 0
#     - 길이 4 아닌 값 : 0
#     - 숫자가 아닌 값 : 0

In [168]:
df.iloc[:, 8].value_counts()

2007    137416
2005    136679
2006    124402
2004    116163
2002     99242
         ...
1907         1
1905         1
2016         1
1913         1
1900         1
Name: 차량연식, Length: 75, dtype: int64

In [169]:
df.iloc[:, 8].isnull().sum()

0

In [170]:
count = 0
idx8 = []
for i, one in tqdm(enumerate(df.iloc[:, 8].to_numpy())):
    if len(str(one)) != 4:
        idx8.append(i)
        count += 1
count

1186488it [00:01, 832592.68it/s]

0

In [171]:
# 숫자가 포함되지 않은 샘플
count = 0
p81 = re.compile('\d+')
idx81 = []
for i, one in tqdm(enumerate(df.iloc[:, 8].to_numpy())):
    if not p81.search(str(one)):
        idx81.append(i)
        count += 1
count

1186488it [00:01, 627094.95it/s]

0

### 9\. [e]차량제작일자

In [172]:
# - 오류
#     - null : 196895
#     - 8자리 아닌 값(null값 제외) : 2
#     - 숫자가 아닌 값(null값 제외) : 0

In [173]:
df.iloc[:, 9].isnull().sum()

196895

In [174]:
df.iloc[:, 9].value_counts()

20040202.0    1295
20011201.0    1294
20060701.0    1293
20040630.0     880
20060425.0     856
              ...
19830124.0       1
19980715         1
19670902.0       1
19970612         1
19880930.0       1
Name: 차량제작일자, Length: 11510, dtype: int64

In [199]:
# df.iloc[:, 9].fillna(0).astype('int')

ValueError: invalid literal for int() with base 10: '1996 308'

In [548]:
temp9 = pd.to_numeric(df.iloc[:, 9], errors='coerce').fillna(0).astype('int')
temp9[:5]

0    20020125
1    20060306
2    20051014
3    20020808
4    19990828
Name: 차량제작일자, dtype: int32

In [549]:
df.loc[df['차량제작일자'] == '1996 308', ['차량관리번호', '차량등록번호', '차대번호', '차량제작일자']]

                      차량관리번호     차량등록번호               차대번호    차량제작일자
998881  KNAJA5265TA751541-01  인천32나6035  KNAJA5265TA751541  1996 308

In [550]:
len(df.loc[df['차량제작일자'] == '1996 308', '차대번호'].values[0])

17

In [551]:
df.loc[df['차량제작일자'] == '1996 308', '차대번호'].values[0][9]

'T'

In [552]:
# 차대번호 10번째 자리 값으로 차량연식 확인 가능
# 예시) T -> 1996년

In [553]:
# 길이가 8이 아닌 값 : 196898
count = 0
idx91 = []
for i, one in tqdm(enumerate(temp9.to_numpy())):
    if len(str(one)) != 8:
        idx91.append(i)
        count += 1
count

1186488it [00:01, 751950.08it/s]

196898

In [555]:
# null 값 : 196896
count = 0
idx92 = []
for i, one in tqdm(enumerate(temp9.to_numpy())):
    if one == 0:
        idx92.append(i)
        count += 1
count

1186488it [00:00, 1581213.93it/s]

196896

In [556]:
# 길이가 8이 아닌 값 중 null 값 제외 값 : 2
len(list(set(idx91) - set(idx92)))

2

In [557]:
temp9.reindex(list(set(idx91) - set(idx92)))

143125    2210413
802982    9910501
Name: 차량제작일자, dtype: int32

In [204]:
# 숫자가 아닌 값 : 0
count = 0
p93 = re.compile('\d+')
idx93 = []
for i, one in tqdm(enumerate(temp9.to_numpy())):
    if not p93.search(str(one)):
        idx93.append(i)
        count += 1
count

1186488it [00:01, 606640.54it/s]

0

### 10\. [e]검사유효일

In [205]:
# - 오류
#     - null : 507
#     - 8자리 아닌 값(nan값 제외) : 2
#     - 숫자가 아닌 값(nan값 제외) : 0

In [206]:
df.iloc[:, 10].isnull().sum()

507

In [207]:
df.iloc[:, 10].value_counts()

20200101.0    3335
20190831.0    2512
20200102.0    2156
20191031.0    2144
20191130.0    2003
              ...
19850108.0       1
19760725.0       1
19880720.0       1
19860111.0       1
19880302.0       1
Name: 검사유효일, Length: 14755, dtype: int64

In [208]:
temp10 = df.iloc[:, 10].fillna(0).astype('int')
temp10[:5]

0    20030131
1    20220309
2    20190911
3    20200808
4    20040909
Name: 검사유효일, dtype: int32

In [209]:
# 길이가 8이 아닌 값 : 509
count = 0
idx101 = []
for i, one in tqdm(enumerate(temp10.to_numpy())):
    if len(str(one)) != 8:
        idx101.append(i)
        count += 1
count

1186488it [00:01, 704714.08it/s]

509

In [210]:
# null 값 : 507
count = 0
idx102 = []
for i, one in tqdm(enumerate(temp10.to_numpy())):
    if one == 0:
        idx102.append(i)
        count += 1
count

1186488it [00:00, 1476600.70it/s]

507

In [527]:
# 길이가 8이 아닌 값 중 null 값 제외 값 : 2
    # => 길이가 8이 아닌 값은 전부 null 값
len(list(set(idx101) - set(idx102)))

2

In [528]:
df.iloc[list(set(idx101) - set(idx102)), 10]

558594     1990118.0
1122667    1990604.0
Name: 검사유효일, dtype: float64

In [212]:
# 숫자가 아닌 값 : 0
count = 0
p103 = re.compile('\d+')
idx103 = []
for i, one in tqdm(enumerate(temp10.to_numpy())):
    if not p103.search(str(one)):
        idx103.append(i)
        count += 1
count

1186488it [00:01, 594362.64it/s]

0

### 11\. [e]제원관리번호

In [215]:
# - 오류
#     - null : 0 
#     - 17자리X : 537723
#     - 17자리X, 숫자X : 29

In [216]:
df.iloc[:, 11].value_counts()

A0810003200351204    13386
A0110003400151204    11022
10057001730000        9840
A0810003200291203     8431
10154700130000        8180
                     ...
10000701050007           1
10005601500004           1
30110100002287           1
10068000010000           1
10136100000000           1
Name: 제원관리번호, Length: 20784, dtype: int64

In [217]:
df.iloc[:, 11].isnull().sum()

0

In [218]:
# 17자리X : 537723
count = 0
idx111 = []
for i, one in tqdm(enumerate(df.iloc[:, 11].to_numpy())):
    if len(str(one)) != 17:
        idx111.append(i)
        count += 1
count

1186488it [00:00, 1274497.62it/s]

537723

In [219]:
# 17자리X, 숫자 이외 값 : 29
count = 0
p112 = re.compile('[a-zA-Z가-힣]+')
idx112 = []
for i, one in tqdm(enumerate(df.iloc[:, 11].to_numpy())):
    if len(str(one)) != 17 and p112.search(one):
        idx112.append(i)
        count += 1
count

1186488it [00:01, 970292.10it/s]

29

### 12\. [e]배출가스인증번호

In [245]:
# 처리
    # 배출가스인증번호에 빈칸 처리
    # - 예시
    #     - index : 1186467
    #     - value : ' 4MY-HD-56'

In [220]:
# - 정보
#     - 총 : 1186488
#     - null : 626171
#     - 정상
#         - 2005.01.04 이후 표기 방식([숫자문자]{3}-[문자]{2}-[숫자]{2}-[숫자]{2}, 12자리) : 68935
#         - 2005.01.04 이전 표기 방식([숫자문자]{3}-[문자]{2}-[숫자]{2}, 9자리) : 469141
#     - 오류(null 값 제외) : 22241
#       - 예시
#           - 17     KMY-D-HD-M-03
#           - 160    KMY-D-HD-M-05
#           - 190    KMY-D-HD-M-07
#           - 221    KMY-D-HD-M-03
#           - 231    KMY-D-HD-M-03

In [ ]:
# 2005년 이후 표기 방식 중 길이가 12자리가 아닌 값 : 289118
#     - [max] 차량연식 : 2017
# 2005년 이전 표기 방식 중 길이가 9자리가 아닌 값 : 0

In [246]:
df.iloc[:, 12].value_counts()

3MY-HD-15        74363
3MY-HD-14        32195
5MY-HD-24-39     29383
3MY-KM-08        28420
4MY-HD-37        25919
                 ...
YMY-HD-40            1
 4MY-DB-03           1
 3MY-HD-16           1
5MY-HD-24-37         1
 4MY-HD-56           1
Name: 배출가스인증번호, Length: 136, dtype: int64

In [247]:
df.iloc[:, 12].isnull().sum()

626171

In [269]:
gas_df = df.copy()
gas_df.head()

,차량관리번호,차량등록번호,본거지법정동코드,소유자구분,차종_등록정보,용도,차대번호,최초등록일자,차량연식,차량제작일자,...,배기량,승차인원,차량길이,차량너비,차량높이,원산지명,삭제YN,제원승인일자,구동형식,변속기종류
0,KMFXKS7BP2U559698-01,경기91다3109,4111113000,주민,화물,자가용,KMFXKS7BP2U559698,20020201,2002,20020125.0,...,2607.0,3.0,5075.0,1690.0,1930.0,대한민국,N,20010517.0,NaN,수동
1,KMHSJ81WP6U036607-01,05나8578,2820010300,주민,승용,자가용,KMHSJ81WP6U036607,20060310,2006,20060306.0,...,2188.0,7.0,4675.0,1890.0,1795.0,대한민국,N,20050921.0,NaN,자동
2,KN3HNP6D15K117795-01,95가6292,4519011100,주민,화물,자가용,KN3HNP6D15K117795,20051018,2005,20051014.0,...,2476.0,3.0,5120.0,1740.0,1995.0,대한민국,N,20050427.0,NaN,수동
3,KPBFA2AD12P043282-01,09어5181,4833025321,주민,승용,자가용,KPBFA2AD12P043282,20020809,2002,20020808.0,...,2874.0,7.0,4745.0,1870.0,1780.0,대한민국,N,20020502.0,NaN,자동
4,KNCSD0112XS452905-01,경기94도2820,4159035029,주민,화물,자가용,KNCSD0112XS452905,19990909,1999,19990828.0,...,2665.0,3.0,5030.0,1750.0,1970.0,대한민국,N,19970526.0,NaN,수동

In [273]:
# 빈칸을 포함한 예시
gas_df.iloc[1186467, 12]

' 4MY-HD-56'

In [275]:
gas_df['배출가스인증번호'] = gas_df['배출가스인증번호'].str.replace(' ', '')
gas_df.iloc[1186467, 12]

'4MY-HD-56'

In [276]:
# 2005.01.04 이후 표기 방식 : 68935
count = 0
p121 = re.compile('[a-zA-Z0-9]{3}[-][a-zA-Z]{2}[-][0-9]{2}[-][0-9]{2}')
idx121 = []
for i, one in tqdm(enumerate(gas_df.iloc[:, 12].to_numpy())):
    if p121.search(str(one)):
        idx121.append(i)
        count += 1
count

1186488it [00:01, 1059288.18it/s]

68935

In [277]:
# 2005.01.04 이후 표기 방식이 아닌 값 : 1117553
count = 0
idx122 = []
for i, one in tqdm(enumerate(gas_df.iloc[:, 12].to_numpy())):
    if not p121.search(str(one)):
        idx122.append(i)
        count += 1
count

1186488it [00:01, 895122.11it/s]

1117553

In [278]:
gas_df.iloc[:, 12].reindex(idx122)[:5]

C:\Users\kbj\AppData\Local\Temp\ipykernel_3920\2409549355.py:1: FutureWarning: The behavior of `series[i:j]` with an integer-dtype index is deprecated. In a future version, this will be treated as *label-based* indexing, consistent with e.g. `series[i]` lookups. To retain the old behavior, use `series.iloc[i:j]`. To get the future behavior, use `series.loc[i:j]`.
  gas_df.iloc[:, 12].reindex(idx122)[:5]

0          NaN
2    4MY-KM-07
3          NaN
4          NaN
5          NaN
Name: 배출가스인증번호, dtype: object

In [279]:
# 2005.01.04 이전 배출가스 표기 방식 : 469141
count = 0
p123 = re.compile('[a-zA-Z0-9]{3}[-][a-zA-Z]{2}[-][0-9]{2}')
idx123 = []
for i, one in tqdm(enumerate(gas_df.iloc[idx122, 12].to_numpy())):
    if p123.search(str(one)):
        idx123.append(idx122[i])
        count += 1
count

1117553it [00:01, 873853.15it/s]

469141

In [280]:
gas_df.iloc[idx123, [7, 8, 9, 17, 12]][:5]

      최초등록일자  차량연식      차량제작일자        취득일자   배출가스인증번호
2   20051018  2005  20051014.0  20180425.0  4MY-KM-07
7   20051108  2005  20051018.0  20150427.0  3MY-HD-06
11  20060706  2006  20060602.0  20061016.0  3MY-HD-13
12  20071114  2008  20071108.0  20220511.0  4MY-HD-34
13  20031208  2004  20031121.0  20061208.0  YMY-HD-43

In [281]:
# null 값 : 626171
idx124 = gas_df[gas_df['배출가스인증번호'].isnull() == True]['배출가스인증번호'].index
len(idx124)

626171

In [282]:
gas_df.iloc[:, 12].reindex(idx124)[:5]

C:\Users\kbj\AppData\Local\Temp\ipykernel_3920\2669517958.py:1: FutureWarning: The behavior of `series[i:j]` with an integer-dtype index is deprecated. In a future version, this will be treated as *label-based* indexing, consistent with e.g. `series[i]` lookups. To retain the old behavior, use `series.iloc[i:j]`. To get the future behavior, use `series.loc[i:j]`.
  gas_df.iloc[:, 12].reindex(idx124)[:5]

0    NaN
3    NaN
4    NaN
5    NaN
6    NaN
Name: 배출가스인증번호, dtype: object

In [469]:
# 2005.01.04 이후 표기 방식이 아닌 값 중 null 값 제외한 오류 값 : 22241
idx125 = sorted(set(idx122) - set(idx124) - set(idx123))
len(idx125)

22241

In [470]:
gas_df.iloc[:, 12].reindex(idx125)[:5]

C:\Users\kbj\AppData\Local\Temp\ipykernel_3920\3131689488.py:1: FutureWarning: The behavior of `series[i:j]` with an integer-dtype index is deprecated. In a future version, this will be treated as *label-based* indexing, consistent with e.g. `series[i]` lookups. To retain the old behavior, use `series.iloc[i:j]`. To get the future behavior, use `series.loc[i:j]`.
  gas_df.iloc[:, 12].reindex(idx125)[:5]

17     KMY-D-HD-M-03
160    KMY-D-HD-M-05
190    KMY-D-HD-M-07
221    KMY-D-HD-M-03
231    KMY-D-HD-M-03
Name: 배출가스인증번호, dtype: object

In [285]:
# 2005년 이상 배출가스인증번호 데이터
gas_temp = gas_df.iloc[idx123, [7, 8, 9, 17, 12]]
gas_temp[gas_temp['차량연식'] >= 2005].head()

      최초등록일자  차량연식      차량제작일자        취득일자   배출가스인증번호
2   20051018  2005  20051014.0  20180425.0  4MY-KM-07
7   20051108  2005  20051018.0  20150427.0  3MY-HD-06
11  20060706  2006  20060602.0  20061016.0  3MY-HD-13
12  20071114  2008  20071108.0  20220511.0  4MY-HD-34
20  20050926  2005  20050921.0  20090909.0  4MY-SY-01

In [286]:
# 2005년 이상년도에서 맞지않는 배출가스인증번호 샘플 : 289118
gas_temp.loc[(gas_temp['차량연식'] >= 2005) & (gas_temp['배출가스인증번호'].str.len() != 12)]

           최초등록일자  차량연식      차량제작일자        취득일자   배출가스인증번호
2        20051018  2005  20051014.0  20180425.0  4MY-KM-07
7        20051108  2005  20051018.0  20150427.0  3MY-HD-06
11       20060706  2006  20060602.0  20061016.0  3MY-HD-13
12       20071114  2008  20071108.0  20220511.0  4MY-HD-34
20       20050926  2005  20050921.0  20090909.0  4MY-SY-01
...           ...   ...         ...         ...        ...
1186441  20070911  2007  20070825.0  20150709.0  4MY-HD-37
1186443  20060615  2007  20060610.0  20200219.0  4MY-HD-37
1186446  20200318  2007  20070406.0  20200323.0  4MY-KM-07
1186448  20200518  2007  20070406.0  20200528.0  4MY-KM-07
1186486  20050131  2005  20041222.0  20220526.0  4MY-HD-37

[289118 rows x 5 columns]

In [287]:
gas_temp.loc[(gas_temp['차량연식'] >= 2005) & (gas_temp['배출가스인증번호'].str.len() != 12 )].shape

(289118, 5)

In [290]:
gas_temp.loc[(gas_temp['차량연식'] >= 2005) & (gas_temp['배출가스인증번호'].str.len() != 12 ), '차량연식'].max()

2017

In [288]:
# 2005년 미만 년도에서 맞지않는 배출가스인증번호 샘플 : 0
gas_temp.loc[(gas_temp['차량연식'] < 2005) & (gas_temp['배출가스인증번호'].str.len() != 9 )]

Empty DataFrame
Columns: [최초등록일자, 차량연식, 차량제작일자, 취득일자, 배출가스인증번호]
Index: []

#### 오류 배출가스인증번호 유형 통계

In [511]:
# - 총 오류 샘플 수 : 22241
#     - 1번째 부분 3자리가 아닌 경우 : 18
#         - 빈 값('')인 경우 : 16
#         - 바('-') 기호가 없는 경우 : 2
#     - 2번째 부분 2자리가 아닌 경우 : 22221
#         - 2번째 부분 1자리인 경우(XXX-n-XX-XX) : 21601
#         - 2번째 부분 3자리인 경우(XXX-nnn-XX-XX) : 620
#     - 3번째 부분 2자리가 아닌 경우 : 1
#         - 3번째 부분 3자리인 경우(XXX-XX-nnn) : 1
#     - 4번째 부분 2자리가 아닌 경우 : 21602(1)
#         - 4번째 부분 1자리인 경우(XXX-XX-XX-n) : 21601(0)
#             - 2번째 부분 1자리인 경우(XXX-n-XX-XX)와 동일한 샘플 : 21601
#         - 4번째 부분 3자리인 경우(XXX-XX-XX-nnn) : 1

In [478]:
gas_df.iloc[idx125[:5], 12]

17     KMY-D-HD-M-03
160    KMY-D-HD-M-05
190    KMY-D-HD-M-07
221    KMY-D-HD-M-03
231    KMY-D-HD-M-03
Name: 배출가스인증번호, dtype: object

In [479]:
gas_temp2 = gas_df.iloc[idx125, 12]
gas_temp2.head()

17     KMY-D-HD-M-03
160    KMY-D-HD-M-05
190    KMY-D-HD-M-07
221    KMY-D-HD-M-03
231    KMY-D-HD-M-03
Name: 배출가스인증번호, dtype: object

##### 1번째 자리 오류 유형

In [486]:
# 1번째 부분 3자리가 아닌 경우 : 18
#     - 빈 값('')인 경우 : 16
#     - 바('-') 기호가 없는 경우 : 2

In [480]:
idx126 = []
count = 0
for i, one in tqdm(enumerate(gas_temp2.to_numpy())):
    try:
        if len(str(one).split('-')[0]) != 3:
            idx126.append(gas_temp2.index[i])
            count += 1
    except:
        pass
count

22241it [00:00, 817956.77it/s]

18

In [484]:
gas_df.iloc[idx126, 12]

227026
257916
278780
323112     3MYHD14
460914
528140
595589
612429
634065
712384     3MYHD14
773188
788617
798063
846077
998681
1123684
1180089
1186430
Name: 배출가스인증번호, dtype: object

In [485]:
gas_df.iloc[idx126[0], 12]

''

##### 2번째 자리 오류 유형

In [ ]:
# 2번째 부분 2자리가 아닌 경우 : 22221
#   - 2번째 부분 1자리인 경우(XXX-n-XX-XX) : 21601
#   - 2번째 부분 3자리인 경우(XXX-nnn-XX-XX) : 620

In [487]:
idx127 = []
count = 0
for i, one in tqdm(enumerate(gas_temp2.to_numpy())):
    try:
        if len(str(one).split('-')[1]) != 2:
            idx127.append(gas_temp2.index[i])
            count += 1
    except:
        pass
count

22241it [00:00, 372189.26it/s]

22221

In [503]:
gas_df.iloc[idx127[:5], 12]

17     KMY-D-HD-M-03
160    KMY-D-HD-M-05
190    KMY-D-HD-M-07
221    KMY-D-HD-M-03
231    KMY-D-HD-M-03
Name: 배출가스인증번호, dtype: object

In [489]:
idx127_1 = []
count = 0
for i, one in tqdm(enumerate(gas_temp2.to_numpy())):
    try:
        if len(str(one).split('-')[1]) == 1:
            idx127_1.append(gas_temp2.index[i])
            count += 1
    except:
        pass
count

22241it [00:00, 332842.79it/s]

21601

In [504]:
gas_df.iloc[idx127_1[:5], 12]

17     KMY-D-HD-M-03
160    KMY-D-HD-M-05
190    KMY-D-HD-M-07
221    KMY-D-HD-M-03
231    KMY-D-HD-M-03
Name: 배출가스인증번호, dtype: object

In [490]:
idx127_3 = []
count = 0
for i, one in tqdm(enumerate(gas_temp2.to_numpy())):
    try:
        if len(str(one).split('-')[1]) == 3:
            idx127_3.append(gas_temp2.index[i])
            count += 1
    except:
        pass
count

22241it [00:00, 571774.09it/s]

620

In [505]:
gas_df.iloc[idx127_3[:5], 12]

934     5MY-VTK-24-02
6473    5MY-VTK-24-02
6527    5MY-VTK-24-01
7532    5MY-VTK-24-02
8277    5MY-VTK-24-02
Name: 배출가스인증번호, dtype: object

In [491]:
idx127_4 = []
count = 0
for i, one in tqdm(enumerate(gas_temp2.to_numpy())):
    try:
        if len(str(one).split('-')[1]) == 4:
            idx127_4.append(gas_temp2.index[i])
            count += 1
    except:
        pass
count

22241it [00:00, 1061957.30it/s]

0

##### 3번째 자리 오류 유형

In [447]:
# 3번째 부분 2자리가 아닌 경우 : 1
#   - 3번째 부분 3자리인 경우(XXX-XX-nnn) : 1

In [492]:
idx128 = []
count = 0
for i, one in tqdm(enumerate(gas_temp2.to_numpy())):
    try:
        if len(str(one).split('-')[2]) != 2:
            idx128.append(gas_temp2.index[i])
            count += 1
    except:
        pass
count

22241it [00:00, 1015208.90it/s]

1

In [493]:
gas_df.iloc[idx128, 12]

920690    1MY-HD-D53
Name: 배출가스인증번호, dtype: object

##### 4번째 자리 오류 유형

In [510]:
# 4번째 부분 2자리가 아닌 경우 : 21602
#   - 4번째 부분 1자리인 경우(XXX-XX-XX-n) : 21601
#       - 2번째 부분 1자리인 경우(XXX-n-XX-XX)와 동일한 샘플 : 21601
#   - 4번째 부분 3자리인 경우(XXX-XX-XX-nnn) : 1

In [494]:
idx129 = []
count = 0
for i, one in tqdm(enumerate(gas_temp2.to_numpy())):
    try:
        if len(str(one).split('-')[3]) != 2:
            idx129.append(gas_temp2.index[i])
            count += 1
    except:
        pass
count

22241it [00:00, 388879.23it/s]

21602

In [495]:
gas_df.iloc[idx129[:5], 12]

17     KMY-D-HD-M-03
160    KMY-D-HD-M-05
190    KMY-D-HD-M-07
221    KMY-D-HD-M-03
231    KMY-D-HD-M-03
Name: 배출가스인증번호, dtype: object

In [498]:
idx129_1 = []
count = 0
for i, one in tqdm(enumerate(gas_temp2.to_numpy())):
    try:
        if len(str(one).split('-')[3]) == 1:
            idx129_1.append(gas_temp2.index[i])
            count += 1
    except:
        pass
count

22241it [00:00, 342569.76it/s]

21601

In [499]:
gas_df.iloc[idx129_1[:5], 12]

17     KMY-D-HD-M-03
160    KMY-D-HD-M-05
190    KMY-D-HD-M-07
221    KMY-D-HD-M-03
231    KMY-D-HD-M-03
Name: 배출가스인증번호, dtype: object

In [500]:
idx129_3 = []
count = 0
for i, one in tqdm(enumerate(gas_temp2.to_numpy())):
    try:
        if len(str(one).split('-')[3]) == 3:
            idx129_3.append(gas_temp2.index[i])
            count += 1
    except:
        pass
count

22241it [00:00, 719401.53it/s]

1

In [501]:
gas_df.iloc[idx129_3, 12]

144093    9MY-PPE-14-597
Name: 배출가스인증번호, dtype: object

In [502]:
idx127_4 = []
count = 0
for i, one in tqdm(enumerate(gas_df.iloc[:, 12].to_numpy())):
    try:
        if len(str(one).split('-')[3]) == 4:
            idx127_4.append(i)
            count += 1
    except:
        pass
count

1186488it [00:01, 952199.44it/s]

0

##### 중복으로 추출된 샘플

In [506]:
idx127_1[:5]

[17, 160, 190, 221, 231]

In [507]:
idx129_1[:5]

[17, 160, 190, 221, 231]

In [509]:
set(idx127_1) == set(idx129_1)

True

### 13\. 배출가스등급

In [ ]:
# - 오류
#     - null : 0

In [291]:
df.iloc[:, 13].value_counts()

5    1186488
Name: 배출가스등급, dtype: int64

In [292]:
df.iloc[:, 13].isnull().sum()

0

### 14\. [e]저공해조치종류

In [293]:
# - 오류
#     - null : 822703

In [294]:
df.iloc[:, 14].value_counts()

1종 저감장치 부착    305729
2종 저감장치 부착     32105
엔진개조           16273
3종 저감장치 부착      8964
동시저감장치 부착        714
Name: 저공해조치종류, dtype: int64

In [302]:
df.iloc[:, 14].unique()

array([nan, '1종 저감장치 부착', '2종 저감장치 부착', '엔진개조', '3종 저감장치 부착', '동시저감장치 부착'],
      dtype=object)

In [295]:
df.iloc[:, 14].isnull().sum()

822703

### 15\. 저공해조치구조변경YN

In [296]:
# - 오류
#     - null : 0

In [297]:
df.iloc[:, 15].value_counts()

N    822820
Y    363668
Name: 저공해조치구조변경YN, dtype: int64

In [298]:
df.iloc[:, 15].isnull().sum()

0

### 16\. 차량말소YN

In [299]:
# - 오류
#     - null : 0

In [300]:
df.iloc[:, 16].value_counts()

N    1186488
Name: 차량말소YN, dtype: int64

In [301]:
df.iloc[:, 16].isnull().sum()

0

### 17\. [e]취득일자

In [303]:
# - 오류
#     - null : 141553
#     - 8자리 아닌 값 : 8
#     - 숫자가 아닌 값(nan값 제외) : 0

In [304]:
df.iloc[:, 17].value_counts()

20051130.0    405
20190304.0    389
20171010.0    389
20181008.0    386
20180319.0    379
             ...
19940724.0      1
19950604.0      1
19690816.0      1
19921123.0      1
19920723.0      1
Name: 취득일자, Length: 10382, dtype: int64

In [305]:
df.iloc[:, 17].isnull().sum()

141553

In [306]:
df['취득일자'].dtype

dtype('float64')

In [315]:
# 취득일자 정수형으로 변환시 오류인 값 : 141553
idx171_1 = []
idx171_2 = []
for i, one in enumerate(df['취득일자'].to_numpy()):
    try:
        int(one)
        idx171_2.append(i)
    except:
        idx171_1.append(i)

In [316]:
len(idx171_1)

141553

In [317]:
# 취득일자가 nan 값인 샘플 : 141553
idx172 = df[df['취득일자'].isnull() == True]['취득일자'].index
len(idx172)

141553

In [318]:
# 숫자가 아닌 값 : 0
df.iloc[sorted(set(idx171_1) - set(idx172)), 17]

Series([], Name: 취득일자, dtype: float64)

In [319]:
get_date_temp = df.iloc[idx171_2, 17].copy()
get_date_temp.head()

0    20020130.0
1    20211215.0
2    20180425.0
3    20020808.0
4    20020422.0
Name: 취득일자, dtype: float64

In [321]:
get_date_temp = get_date_temp.astype('int')
get_date_temp.head()

0    20020130
1    20211215
2    20180425
3    20020808
4    20020422
Name: 취득일자, dtype: int32

In [333]:
# 8자리가 아닌 값(nan값 포함) : 8
idx173 = []
for i, one in enumerate(get_date_temp):
    if len(str(one)) != 8:
        idx173.append(get_date_temp.index[i])
len(idx173)

8

In [334]:
get_date_temp[idx173]

189362     1010429
290689       70621
564183        2007
735508      300221
843561     2100312
1078861      11126
1112189      50913
1164364      60605
Name: 취득일자, dtype: int32

In [335]:
# 8자리가 아닌 값(nan값 제외) : 8
len(set(idx173) - set(idx172))

8

In [336]:
df.iloc[sorted(set(idx173) - set(idx172)), 17].head()

189362    1010429.0
290689      70621.0
564183       2007.0
735508     300221.0
843561    2100312.0
Name: 취득일자, dtype: float64

### 18\. [e]취득금액

In [ ]:
# - 오류
#     - null : 115689
#     - 숫자가 아닌 값(nan값 제외) : 0

In [337]:
df.iloc[:, 18].value_counts()

0.0           230884
1000000.0      46979
500000.0       39199
2000000.0      23970
100000.0       23349
               ...
33307272.0         1
19668319.0         1
24031819.0         1
38460.0            1
17823454.0         1
Name: 취득금액, Length: 96924, dtype: int64

In [338]:
df.iloc[:, 18].isnull().sum()

115689

In [339]:
p18 = re.compile('\D+')
idx181 = []
idx182 = []
count = 0
for i, one in tqdm(enumerate(df.iloc[:, 18].to_numpy())):
    try:
        if p18.search(str(int(one))):
            idx181.append(i)
            count += 1
    except:
        idx182.append(i)
        count += 1
count

1186488it [00:01, 711961.72it/s]

115689

In [340]:
len(idx181), len(idx182)

(0, 115689)

In [341]:
df.iloc[:, 18].reindex(idx182)[:5]

C:\Users\kbj\AppData\Local\Temp\ipykernel_3920\2151798388.py:1: FutureWarning: The behavior of `series[i:j]` with an integer-dtype index is deprecated. In a future version, this will be treated as *label-based* indexing, consistent with e.g. `series[i]` lookups. To retain the old behavior, use `series.iloc[i:j]`. To get the future behavior, use `series.loc[i:j]`.
  df.iloc[:, 18].reindex(idx182)[:5]

23   NaN
24   NaN
28   NaN
31   NaN
38   NaN
Name: 취득금액, dtype: float64

### 19\. [e]차명

In [342]:
# - 오류
#     - null : 1

In [343]:
df.iloc[:, 19].value_counts()

포터Ⅱ(PORTERⅡ)         97816
싼타페(SANTAFE)         67675
스타렉스(STAREX)         33253
렉스턴                  33145
포터초장축슈퍼캡             32631
                     ...
정우9.7KL경질유탱크로리           1
호룡스카이400SR고소작업차          1
현대8TON경화학소방차             1
미스비시후소디젤렉카트럭             1
탱크코리아 4.5톤초장축카고트럭        1
Name: 차명, Length: 5473, dtype: int64

In [344]:
df.iloc[:, 19].isnull().sum()

1

In [351]:
df.loc[df['차명'].isnull() == True, ['차명', '차량등록번호', '차대번호']]

         차명    차량등록번호               차대번호
327968  NaN  경기2그4566  JF2AN53BXGF455575

### 20\. 차종_제원정보

In [352]:
# - 오류
#     - null : 0

In [353]:
df.iloc[:, 20].value_counts()

화물    697129
승용    363533
승합    109309
특수     16517
Name: 차종_제원정보, dtype: int64

In [354]:
df.iloc[:, 20].isnull().sum()

0

### 21\. 차종분류

In [355]:
# - 오류
#     - null : 0

In [356]:
df.iloc[:, 21].value_counts()

일반형-카고         517605
다목적            282754
일반             134696
밴               82025
특수용도형-특수용도형     50101
기타              49346
덤프              24172
일반형-픽업          23074
견인               9712
승용겸화물            4517
구난               3478
특수작업형            3323
특수               1530
특수용도형-탱크로리        154
특수용도형-피견인           1
Name: 차종분류, dtype: int64

In [357]:
df.iloc[:, 21].isnull().sum()

0

### 22\. 차종유형

In [358]:
# - 오류
#     - null : 0

In [359]:
df.iloc[:, 22].value_counts()

중형    465403
소형    432331
대형    288735
경형        19
Name: 차종유형, dtype: int64

In [360]:
df.iloc[:, 22].isnull().sum()

0

### 23\. [e]자동차형식

In [361]:
# - 오류
#     - null : 523

In [362]:
df.iloc[:, 23].value_counts()

SM-BMB7MSSRFCAF5-1      13386
JE513D                  11022
HAU2BLD-3               10376
HAUTSRLM-1-E             9841
7SM2WVA-06               8431
                        ...
68년식                        1
KK-W5TH-225                 1
HCY42-5Qd-IB                1
KTA24.5CTP-A-HD19.5S        1
JHC-S501                    1
Name: 자동차형식, Length: 12603, dtype: int64

In [363]:
df.iloc[:, 23].isnull().sum()

523

### 24\. [e]제작사명

In [364]:
# - 오류
#     - null : 3243

In [365]:
df.iloc[:, 24].value_counts()

현대자동차(주)       620525
기아자동차(주)       314507
쌍용자동차(주)       130631
아시아자동차공업(주)     37759
현대정공(주)         17890
                ...
(주) 에스비에스           1
(주)남경멀티미디어          1
로드앤스피드              1
이재호                 1
(주)가가설비             1
Name: 제작사명, Length: 356, dtype: int64

In [366]:
df.iloc[:, 24].isnull().sum()

3243

### 25\. 연료

In [367]:
# - 오류
#     - null : 0

In [368]:
df.iloc[:, 25].value_counts()

경유             1155947
휘발유              30072
LPG(액화석유가스)        438
기타연료                25
CNG(압축천연가스)          5
알코올                  1
Name: 연료, dtype: int64

In [369]:
df.iloc[:, 25].isnull().sum()

0

### 26\. [e]엔진형식

In [370]:
# - 오류
#     - null : 3498

In [371]:
df.iloc[:, 26].value_counts()

D4CB         158245
D4EA         112465
J3            97677
D4BH          93807
D4BB          78000
              ...
D41 8.3           1
C-12              1
8DC81A            1
620406077         1
G4AJG             1
Name: 엔진형식, Length: 1019, dtype: int64

In [372]:
df.iloc[:, 26].isnull().sum()

3498

### 27\. [e]총중량

In [373]:
# - 오류
#     - null : 1
#     - 숫자가 아닌 값(nan값 제외) : 0

In [374]:
df.iloc[:, 27].value_counts()

2950.0     31905
2740.0     25394
2185.0     25031
2520.0     23775
2345.0     21058
           ...
19610.0        1
29050.0        1
35050.0        1
36260.0        1
10990.0        1
Name: 총중량, Length: 4103, dtype: int64

In [375]:
df.iloc[:, 27].isnull().sum()

1

In [376]:
p27 = re.compile('\D+')
idx271 = []
idx272 = []
count = 0
for i, one in tqdm(enumerate(df.iloc[:, 27].to_numpy())):
    try:
        if p27.search(str(int(one))):
            idx271.append(i)
            count += 1
    except:
        idx272.append(i)
        count += 1
count

1186488it [00:01, 768673.02it/s]

1

In [377]:
len(idx271), len(idx272)

(0, 1)

In [378]:
df.iloc[idx272, 27]

110714   NaN
Name: 총중량, dtype: float64

### 28\. [e]적재중량

In [ ]:
# - 오류
#     - null : 10
#     - 숫자가 아닌 값(nan값 제외) : 0

In [379]:
df.iloc[:, 28].value_counts()

0.0        471671
1000.0     368644
2500.0      56618
5000.0      40437
4500.0      39008
            ...
51500.0         1
10190.0         1
20200.0         1
8020.0          1
6225.0          1
Name: 적재중량, Length: 310, dtype: int64

In [380]:
df.iloc[:, 28].isnull().sum()

10

In [381]:
p28 = re.compile('\D+')
idx281 = []
idx282 = []
count = 0
for i, one in tqdm(enumerate(df.iloc[:, 28].to_numpy())):
    try:
        if p28.search(str(int(one))):
            idx281.append(i)
            count += 1
    except:
        idx282.append(i)
        count += 1
count

1186488it [00:01, 722616.28it/s]

10

In [382]:
len(idx281), len(idx282)

(0, 10)

In [383]:
df.iloc[idx282, 28]

108091    NaN
488062    NaN
570483    NaN
726356    NaN
849710    NaN
911058    NaN
912344    NaN
1126407   NaN
1186479   NaN
1186480   NaN
Name: 적재중량, dtype: float64

### 29\. [e]엔진출력

In [ ]:
# - 오류
#     - null : 287
#     - 숫자가 아닌 값(nan값 제외) : 10

In [384]:
df.iloc[:, 29].value_counts()

145.0        113597
123.0        104609
80.0          87588
115.0         58735
94.0          46717
              ...
233.0             1
9579.0            1
85HP              1
0125              1
000000092         1
Name: 엔진출력, Length: 533, dtype: int64

In [385]:
df.iloc[:, 29].isnull().sum()

287

In [386]:
p29 = re.compile('\d+[.]\d+')
idx291 = []
idx292 = []
count = 0
for i, one in tqdm(enumerate(df.iloc[:, 29].to_numpy())):
    try:
        if not p29.search(str(float(one))):
            idx291.append(i)
            count += 1
    except:
        idx292.append(i)
        count += 1
count

1186488it [00:01, 731043.03it/s]

297

In [387]:
len(idx291), len(idx292)

(287, 10)

In [388]:
idx293 = df[df['엔진출력'].isnull() == True]['엔진출력'].index
len(idx293)

287

In [392]:
df.iloc[idx291[:5], 29]

1833     NaN
5157     NaN
12272    NaN
21672    NaN
25124    NaN
Name: 엔진출력, dtype: object

In [395]:
df.iloc[idx292, 29]

31725          185 HP
258235           95HP
310626     125 HP   6
453318     195      0
457376           85HP
518425          165ps
654693          185HP
934058          280ps
957158          185ps
1114452        0140PS
Name: 엔진출력, dtype: object

In [394]:
df.iloc[idx293[:5], 29]

1833     NaN
5157     NaN
12272    NaN
21672    NaN
25124    NaN
Name: 엔진출력, dtype: object

### 30\. [e]배기량

In [396]:
# - error
#     - null : 2
#     - 숫자가 아닌 값(nan값 제외) : 0

In [397]:
df.iloc[:, 30].value_counts()

2476.0     171610
2497.0     158206
1991.0     112467
2902.0      97677
2607.0      77999
            ...
4500.0          1
11950.0         1
6029.0          1
4921.0          1
1301.0          1
Name: 배기량, Length: 530, dtype: int64

In [398]:
df.iloc[:, 30].isnull().sum()

2

In [399]:
p30 = re.compile('\D+')
idx301 = []
idx302 = []
count = 0
for i, one in tqdm(enumerate(df.iloc[:, 30].to_numpy())):
    try:
        if p30.search(str(int(one))):
            idx301.append(i)
            count += 1
    except:
        idx302.append(i)
        count += 1
count

1186488it [00:01, 768649.63it/s]

2

In [400]:
len(idx301), len(idx302)

(0, 2)

In [401]:
df.iloc[idx302, 30]

800282    NaN
1168247   NaN
Name: 배기량, dtype: float64

### 31\. [e]승차인원

In [ ]:
# - error
#     - null : 1
#     - 숫자가 아닌 값(nan값 제외) : 0

In [402]:
df.iloc[:, 31].value_counts()

3.0      489668
7.0      213009
6.0      132485
5.0      117073
2.0       78704
          ...
93.0          2
55.0          2
48.0          2
78.0          1
104.0         1
Name: 승차인원, Length: 81, dtype: int64

In [403]:
df.iloc[:, 31].isnull().sum()

1

In [404]:
p31 = re.compile('\D+')
idx311 = []
idx312 = []
count = 0
for i, one in tqdm(enumerate(df.iloc[:, 31].to_numpy())):
    try:
        if p31.search(str(int(one))):
            idx311.append(i)
            count += 1
    except:
        idx312.append(i)
        count += 1
count

1186488it [00:01, 829327.18it/s]

1

In [405]:
df.iloc[idx312, 31]

581770   NaN
Name: 승차인원, dtype: float64

### 32\. [e]차량길이

In [ ]:
# - error
#     - null : 1
#     - 숫자 아닌 값(nan값 제외) : 0

In [406]:
df.iloc[:, 32].value_counts()

5075.0     56751
5085.0     52735
4500.0     49382
4570.0     43280
5035.0     38412
           ...
1500.0         1
8395.0         1
4195.0         1
7965.0         1
10655.0        1
Name: 차량길이, Length: 1769, dtype: int64

In [407]:
df.iloc[:, 32].isnull().sum()

1

In [408]:
p32 = re.compile('\D+')
idx321 = []
idx322 = []
count = 0
for i, one in tqdm(enumerate(df.iloc[:, 32].to_numpy())):
    try:
        if p32.search(str(int(one))):
            idx321.append(i)
            count += 1
    except:
        idx322.append(i)
        count += 1
count

1186488it [00:01, 665065.11it/s]

1

In [409]:
len(idx321), len(idx322)

(0, 1)

In [410]:
df.iloc[idx322, 32]

371227   NaN
Name: 차량길이, dtype: float64

### 33\. [e]차량너비

In [411]:
# - error
#     - null : 1
#     - 숫자 아닌 값(nan값 제외) : 0

In [412]:
df.iloc[:, 33].value_counts()

1690.0    195002
1740.0    144693
1820.0     91408
1890.0     50115
1840.0     46660
           ...
3350.0         1
1270.0         1
1089.0         1
234.0          1
205.0          1
Name: 차량너비, Length: 307, dtype: int64

In [413]:
df.iloc[:, 33].isnull().sum()

1

In [414]:
p33 = re.compile('\D+')
idx331 = []
idx332 = []
count = 0
for i, one in tqdm(enumerate(df.iloc[:, 33].to_numpy())):
    try:
        if p33.search(str(int(one))):
            idx331.append(i)
            count += 1
    except:
        idx332.append(i)
        count += 1
count

1186488it [00:01, 736840.22it/s]

1

In [415]:
df.iloc[idx332, 33]

371227   NaN
Name: 차량너비, dtype: float64

### 34\. [e]차량높이

In [416]:
# - error
#     - null : 1
#     - 숫자 아닌 값(nan값 제외) : 0

In [417]:
df.iloc[:, 34].value_counts()

1965.0    105752
1930.0     73998
1735.0     52613
1795.0     50305
1970.0     49642
           ...
1473.0         1
3436.0         1
3218.0         1
172.0          1
1583.0         1
Name: 차량높이, Length: 641, dtype: int64

In [418]:
df.iloc[:, 34].isnull().sum()

1

In [419]:
p34 = re.compile('\D+')
idx341 = []
idx342 = []
count = 0
for i, one in tqdm(enumerate(df.iloc[:, 34].to_numpy())):
    try:
        if p34.search(str(int(one))):
            idx341.append(i)
            count += 1
    except:
        idx342.append(i)
        count += 1
count

1186488it [00:01, 733083.85it/s]

1

In [420]:
df.iloc[idx342, 34]

371227   NaN
Name: 차량높이, dtype: float64

### 35\. [e]원산지명

In [ ]:
# - error
#     - null : 41754
#     - 문자 아닌 값(nan값 제외) : 0

In [421]:
df.iloc[:, 35].value_counts()

대한민국     1135395
독일          3205
스웨덴         2834
미국           782
브라질          714
네덜란드         499
일본           350
영국           272
오스트리아        251
기타           249
이탈리아         128
프랑스           23
대만            10
스위스            9
멕시코            4
가나             3
핀란드            2
중국             1
감비아            1
벨기에            1
아이티            1
Name: 원산지명, dtype: int64

In [422]:
df.iloc[:, 35].isnull().sum()

41754

In [423]:
p35 = re.compile('\D+')
idx351 = []
idx352 = []
count = 0
for i, one in tqdm(enumerate(df.iloc[:, 35].to_numpy())):
    try:
        if not p35.search(one):
            idx351.append(i)
            count += 1
    except:
        idx352.append(i)
        count += 1
count

1186488it [00:01, 1117855.98it/s]

41754

In [424]:
len(idx351), len(idx352)

(0, 41754)

In [426]:
df.iloc[idx352[:5], 35].unique()

array([nan], dtype=object)

### 36\. 삭제YN

In [429]:
# - error
#     - null : 0

In [427]:
df.iloc[:, 36].value_counts()

N    1186488
Name: 삭제YN, dtype: int64

In [428]:
df.iloc[:, 36].isnull().sum()

0

### 37\. [e]제원승인일자

In [430]:
# - error
#     - null : 1188
#     - 형식에 맞지 않는 값 : 5

In [431]:
df.iloc[:, 37].value_counts()

20021129.0    70391
20060621.0    41594
20010517.0    31478
20040608.0    23651
20070614.0    17702
              ...
19870424          1
19850228          1
20010118          1
20060320.0        1
19770705.0        1
Name: 제원승인일자, Length: 6089, dtype: int64

In [432]:
df.iloc[:, 37].isnull().sum()

1188

In [433]:
p37 = re.compile('\D+')
idx371 = []
idx372 = []
count = 0
for i, one in tqdm(enumerate(df.iloc[:, 37].to_numpy())):
    try:
        if p37.search(str(int(one))):
            idx371.append(i)
            count += 1
    except:
        idx372.append(i)
        count += 1
count

1186488it [00:01, 604772.78it/s]

1193

In [434]:
len(idx371), len(idx372)

(0, 1193)

In [435]:
df.iloc[:, 37].reindex(idx372[:5])

C:\Users\kbj\AppData\Local\Temp\ipykernel_3920\829264895.py:1: FutureWarning: The behavior of `series[i:j]` with an integer-dtype index is deprecated. In a future version, this will be treated as *label-based* indexing, consistent with e.g. `series[i]` lookups. To retain the old behavior, use `series.iloc[i:j]`. To get the future behavior, use `series.loc[i:j]`.
  df.iloc[:, 37].reindex(idx372)[:5]

1598    NaN
2399    NaN
3412    NaN
3806    NaN
5091    NaN
Name: 제원승인일자, dtype: object

In [436]:
idx373 = df[df['제원승인일자'].isnull() == True]['제원승인일자'].index
len(idx373)

1188

In [437]:
len(list(set(idx372) - set(idx373)))

5

In [439]:
df.iloc[sorted(set(idx372) - set(idx373)), 37]

209545     19961 24
241410     1996 2 6
365507     19961 24
793065     19961 24
1033007    19961 24
Name: 제원승인일자, dtype: object

### 38\. [e]구동형식

In [ ]:
# - error
#     - null : 1186485

In [440]:
df.iloc[:, 38].value_counts()

후륜구동    2
6x4     1
Name: 구동형식, dtype: int64

In [441]:
df.iloc[:, 38].isnull().sum()

1186485

### 39\. [e]변속기종류

In [ ]:
# - error
#     - null : 2
#     - 문자가 아닌 값(nan값 제외) : 0

In [442]:
df.iloc[:, 39].value_counts()

수동     755466
자동     430533
반자동       337
기타        141
무단          9
Name: 변속기종류, dtype: int64

In [443]:
df.iloc[:, 39].isnull().sum()

2

In [444]:
p39 = re.compile('[가-힣]+')
idx391 = []
idx392 = []
count = 0
for i, one in tqdm(enumerate(df.iloc[:, 39].to_numpy())):
    try:
        if not p39.search(one):
            idx391.append(i)
            count += 1
    except:
        idx392.append(i)
        count += 1
count

1186488it [00:00, 1193234.95it/s]

2

In [445]:
len(idx391), len(idx392)

(0, 2)

In [446]:
df.iloc[idx392, 39]

311403    NaN
727139    NaN
Name: 변속기종류, dtype: object

# 코드 마지막