# [제원정보]4등급 차량

## Library

In [2]:
from tqdm import tqdm
import numpy as np
import re

In [3]:
import pandas as pd

## data load

In [4]:
col = pd.read_table('data/컬럼명.txt', sep=',')
col

Empty DataFrame
Columns: [차량관리번호, 차량등록번호, 본거지법정동코드, 소유자구분, 차종_등록정보, 용도, 차대번호, 최초등록일자, 차량연식, 차량제작일자, 검사유효일, 제원관리번호, 배출가스인증번호, 배출가스등급, 저공해조치종류, 저공해조치구조변경YN, 차량말소YN, 취득일자, 취득금액, 차명, 차종_제원정보, 차종분류, 차종유형, 자동차형식, 제작사명, 연료, 엔진형식, 총중량, 적재중량, 엔진출력, 배기량, 승차인원, 차량길이, 차량너비, 차량높이, 원산지명, 삭제YN, 제원승인일자, 구동형식, 변속기종류]
Index: []

[0 rows x 40 columns]

In [1]:
col.columns

NameError: name 'col' is not defined

In [6]:
# 23.4s
df = pd.read_table('data/220819_22.06월기준_4등급.txt', encoding='cp949', header=40, names=col.columns)
df.info()

C:\Users\kbj\AppData\Local\Temp\ipykernel_13928\2626983995.py:2: DtypeWarning: Columns (14,17,29,37,38) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_table('data/220819_22.06월기준_4등급.txt', encoding='cp949', header=40, names=col.columns)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1528586 entries, 0 to 1528585
Data columns (total 40 columns):
 #   Column       Non-Null Count    Dtype
---  ------       --------------    -----
 0   차량관리번호       1528586 non-null  object
 1   차량등록번호       1528586 non-null  object
 2   본거지법정동코드     1528586 non-null  int64
 3   소유자구분        1528586 non-null  object
 4   차종_등록정보      1528584 non-null  object
 5   용도           1528586 non-null  object
 6   차대번호         1528586 non-null  object
 7   최초등록일자       1528586 non-null  int64
 8   차량연식         1528586 non-null  int64
 9   차량제작일자       1358925 non-null  float64
 10  검사유효일        1528574 non-null  float64
 11  제원관리번호       1528586 non-null  object
 12  배출가스인증번호     1405585 non-null  object
 13  배출가스등급       1528586 non-null  int64
 14  저공해조치종류      195 non-null      object
 15  저공해조치구조변경YN  1528586 non-null  object
 16  차량말소YN       1528586 non-null  object
 17  취득일자         1435514 non-null  object
 18  취득금액         1453613 non-null  float64
 19  차명           1528586 non-null  object
 20  차종_제원정보      1528586 non-null  object
 21  차종분류         1528586 non-null  object
 22  차종유형         1528586 non-null  object
 23  자동차형식        1528302 non-null  object
 24  제작사명         1518694 non-null  object
 25  연료           1528586 non-null  object
 26  엔진형식         1526740 non-null  object
 27  총중량          1528585 non-null  float64
 28  적재중량         1528075 non-null  float64
 29  엔진출력         1528227 non-null  object
 30  배기량          1528582 non-null  float64
 31  승차인원         1528586 non-null  int64
 32  차량길이         1528585 non-null  float64
 33  차량너비         1528585 non-null  float64
 34  차량높이         1528583 non-null  float64
 35  원산지명         1509499 non-null  object
 36  삭제YN         1528586 non-null  object
 37  제원승인일자       1528155 non-null  object
 38  구동형식         41 non-null       object
 39  변속기종류        1528426 non-null  object
dtypes: float64(9), int64(5), object(26)
memory usage: 466.5+ MB

In [7]:
df.head()

,차량관리번호,차량등록번호,본거지법정동코드,소유자구분,차종_등록정보,용도,차대번호,최초등록일자,차량연식,차량제작일자,...,배기량,승차인원,차량길이,차량너비,차량높이,원산지명,삭제YN,제원승인일자,구동형식,변속기종류
0,KMFZCY7JBCU784032-01,97구4490,1144010700,법인,화물,자가용,KMFZCY7JBCU784032,20110817,2012,20110811.0,...,2497.0,6,5120.0,1740.0,1965.0,대한민국,N,20110524,NaN,자동
1,KMHJN81VP7U578447-01,11너2154,2650010100,주민,승용,자가용,KMHJN81VP7U578447,20070102,2007,20061104.0,...,1991.0,5,4325.0,1800.0,1680.0,대한민국,N,20060621,NaN,자동
2,KPACE4AB1AP070600-01,96어5714,4729025024,주민,화물,자가용,KPACE4AB1AP070600,20091221,2010,20091210.0,...,1998.0,5,4965.0,1900.0,1755.0,대한민국,N,20090513,NaN,자동
3,KMHNU81WP7U009391-01,11가1154,4117110100,사업자,승용,자가용,KMHNU81WP7U009391,20070212,2007,20070207.0,...,2959.0,7,4840.0,1970.0,1805.0,대한민국,N,20060821,NaN,자동
4,KMHDT41TP9U638425-01,22보7099,4711331026,주민,승용,자가용,KMHDT41TP9U638425,20081128,2009,20081123.0,...,1582.0,5,4505.0,1775.0,1480.0,대한민국,N,20080729,NaN,수동

### [출력]기본 파일 csv로 출력

In [8]:
# # 34.6s
# df.to_csv('data/220819_22.06월기준_4등급.csv', encoding='cp949')

### [로드]파일

In [4]:
# 26.1s
df = pd.read_csv('data/220819_22.06월기준_4등급.csv', encoding='cp949', index_col=0)
df.info()

C:\Users\kbj\AppData\Local\Temp\ipykernel_15548\4060601969.py:2: DtypeWarning: Columns (15,18,30,38,39) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('data/220819_22.06월기준_4등급.csv', encoding='cp949', index_col=0)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1528586 entries, 0 to 1528585
Data columns (total 40 columns):
 #   Column       Non-Null Count    Dtype
---  ------       --------------    -----
 0   차량관리번호       1528586 non-null  object
 1   차량등록번호       1528586 non-null  object
 2   본거지법정동코드     1528586 non-null  int64
 3   소유자구분        1528586 non-null  object
 4   차종_등록정보      1528584 non-null  object
 5   용도           1528586 non-null  object
 6   차대번호         1528586 non-null  object
 7   최초등록일자       1528586 non-null  int64
 8   차량연식         1528586 non-null  int64
 9   차량제작일자       1358925 non-null  float64
 10  검사유효일        1528574 non-null  float64
 11  제원관리번호       1528586 non-null  object
 12  배출가스인증번호     1405585 non-null  object
 13  배출가스등급       1528586 non-null  int64
 14  저공해조치종류      195 non-null      object
 15  저공해조치구조변경YN  1528586 non-null  object
 16  차량말소YN       1528586 non-null  object
 17  취득일자         1435514 non-null  object
 18  취득금액         1453613 non-null  float64
 19  차명           1528586 non-null  object
 20  차종_제원정보      1528586 non-null  object
 21  차종분류         1528586 non-null  object
 22  차종유형         1528586 non-null  object
 23  자동차형식        1528302 non-null  object
 24  제작사명         1518694 non-null  object
 25  연료           1528586 non-null  object
 26  엔진형식         1526740 non-null  object
 27  총중량          1528585 non-null  float64
 28  적재중량         1528075 non-null  float64
 29  엔진출력         1528227 non-null  object
 30  배기량          1528582 non-null  float64
 31  승차인원         1528586 non-null  int64
 32  차량길이         1528585 non-null  float64
 33  차량너비         1528585 non-null  float64
 34  차량높이         1528583 non-null  float64
 35  원산지명         1509499 non-null  object
 36  삭제YN         1528586 non-null  object
 37  제원승인일자       1528155 non-null  object
 38  구동형식         41 non-null       object
 39  변속기종류        1528426 non-null  object
dtypes: float64(9), int64(5), object(26)
memory usage: 478.1+ MB

### 0\. [e]차량관리번호

In [ ]:
# - 오류
#     - null 값 : 0
#     - 영문과 숫자가 아닌 값 : 7038

In [10]:
# 오류 값 예시
# 19514    28-88-112-06218-01
# 23971    11-94-112-09987다-01

In [5]:
df.iloc[:, 0].isnull().sum()

0

In [6]:
df.iloc[:, 0].value_counts()

KMFZCY7JBCU784032-01    1
KMHSH81VP9U467470-01    1
KNAGA2263NA273801-01    1
KNCSJX74BBK577862-01    1
KNADG414AAS597155-01    1
                       ..
KNAFA2223PA131127-01    1
KPACA4AB1BP099521-01    1
KNCSJZ74BBK571321-01    1
KNAGA2223MA251640-01    1
KNME5C2MM8P008790-01    1
Name: 차량관리번호, Length: 1528586, dtype: int64

In [7]:
df.iloc[:5, [0, 6]]

                 차량관리번호               차대번호
0  KMFZCY7JBCU784032-01  KMFZCY7JBCU784032
1  KMHJN81VP7U578447-01  KMHJN81VP7U578447
2  KPACE4AB1AP070600-01  KPACE4AB1AP070600
3  KMHNU81WP7U009391-01  KMHNU81WP7U009391
4  KMHDT41TP9U638425-01  KMHDT41TP9U638425

In [8]:
count = 0
p01 = re.compile('\w+[-]\d+')
idx01 = []
for i, one in tqdm(enumerate(df.iloc[:, 0].to_numpy())):
    temp = one.split('-')
    if len(temp) != 2 and str(one).count('-') != 1:
        idx01.append(i)
        count += 1
count

1528586it [00:01, 1418034.33it/s]

7096

In [9]:
idx01[:5]

[396, 586, 700, 821, 1227]

In [11]:
p01.search('28-88-112-06218-01')

In [12]:
'28-88-112-06218-01'.count('-')

4

In [13]:
temp = df[['차량관리번호', '차량등록번호', '차대번호']].reindex(idx01)
temp.head()

             차량관리번호     차량등록번호               차대번호
396    1199서울4브2371   서울4브2371  KMHNF31TPMU075332
586    4599전북1우1923   전북1우1923  KMHBF21DPLU195430
700    1199서울1즈5001   서울1즈5001  KNAGB2223MA603865
821    2799대구4수5818   대구4수5818  KNAGB2212KS206153
1227  4199경기59너9481  경기59너9481  KNAGC2232VA253756

In [14]:
temp.tail()

                차량관리번호     차량등록번호               차대번호
1527680  1199서울52마5593  서울52마5593  KLAWA19B1SB513723
1527890   4199경기3노8469   경기3노8469  KNADA2422LS574822
1528062   3099대전1므5676   대전1므5676  KMHBF31FPKU045797
1528409   1199서울2두4957   서울2두4957  KNADA2322JS058424
1528555   4499충남1고3267   충남1고3267  KMHSF21APKU344288

In [15]:
len(temp)

7096

In [16]:
# 정상 차량관리번호가 아닌 데이터 중 차대번호가 숫자로만 이루어진 데이터 추출
p02 = re.compile('\D+')
idx02 = []
for i, one in tqdm(enumerate(temp['차대번호'])):
    if not p02.search(str(one)):
        idx02.append(temp.index[i])

7096it [00:00, 591070.84it/s]

In [17]:
df[['차량관리번호', '차량등록번호', '차대번호']].reindex(idx02)

                차량관리번호     차량등록번호          차대번호
10938      309907두3770    07두3770  119213302831
11507      419946도2120    46도2120  119911326351
19254    4199경기34라1747  경기34라1747  119311204514
21885    1199서울51도2598  서울51도2598  119213302811
25234      309901러5898    01러5898  119511213449
...                ...        ...           ...
1467961    119904모6103    04모6103  119411207591
1477471    119902도1045    01무6006  419511298223
1503302    119901마8588    01마8588  419811337474
1503754    279921두2224    21두2224  119213300916
1516650    439906마8829    06마8829  119611325740

[132 rows x 3 columns]

In [ ]:
n = 0
for i, one in enumerate(df['차량관리번호']):
    if len(one.split('-')) > 2 and n < 2:
        print(i, one)
        n += 1

In [ ]:
# 바('-')가 2개 이상 있는 샘플
count = 0
idx03 = []
for i, one in enumerate(df['차량관리번호']):
    if len(one.split('-')) > 2:
        idx03.append(i)
        count += 1
count

In [ ]:
df.loc[idx03[:5], ['차량관리번호', '차량등록번호', '차대번호'] ]

#### [출력]차량관리번호 오류 값의 차대번호

In [19]:
# temp.to_csv('analysis/[차량관리번호]오류샘플의_차대번호.csv', encoding='cp949')

In [20]:
len('439906마8829'.split('-'))

1

#### 차량관리번호 뒷번호 확인

In [21]:
num_list = []
rest_list = []
for i, one in tqdm(enumerate(df.iloc[:, 0])):
    temp = str(one).split('-')
    if len(temp) == 2:
        num_list.append(temp[-1])
    else:
        num_list.append(np.nan)
        rest_list.append(i)

1528586it [00:01, 887040.55it/s]

In [22]:
len(rest_list)

7096

In [23]:
# 뒷번호 나머지에서 차량관리번호 오류 값 제거
len(set(rest_list) - set(idx02))

6964

In [24]:
len(set(num_list))

5

In [25]:
set(num_list)

{'01', '02', '03', '05', nan}

In [26]:
len(num_list)

1528586

In [27]:
num_list.count('01')

1520309

In [28]:
num_list.count('02')

1146

In [29]:
num_list.count('03')

34

In [30]:
num_list.count('05')

1

In [31]:
for n in ['01', '02', '03', '05']:
    idx = []
    for i, one in enumerate(df.iloc[:, 0].to_numpy()):
        temp = str(one).split('-')
        if len(temp) == 2 and temp[-1] == n:
            idx.append(i)
    print(f'차량관리번호 "-" 뒤 숫자 :{n}')
    print('예시)')
    print(df.iloc[idx[:3], 0])
    print()

차량관리번호 "-" 뒤 숫자 :01
예시)
0    KMFZCY7JBCU784032-01
1    KMHJN81VP7U578447-01
2    KPACE4AB1AP070600-01
Name: 차량관리번호, dtype: object

차량관리번호 "-" 뒤 숫자 :02
예시)
201    KMHMF11FPVU173589-02
712    KNAJH52339A041977-02
845    KN17P23E5TK077638-02
Name: 차량관리번호, dtype: object

차량관리번호 "-" 뒤 숫자 :03
예시)
63591     KNADB2412VS582076-03
98067     KMHEM41BP1A459662-03
117838    KNHMB76136S011413-03
Name: 차량관리번호, dtype: object

차량관리번호 "-" 뒤 숫자 :05
예시)
551325    KNAGB2223PA670315-05
Name: 차량관리번호, dtype: object

In [32]:
for one in df.iloc[:, 0].to_numpy():
    temp = one.split('-')
    if len(temp) == 2:
        if 'KMHMF11FPVU173589' in one:
            print(one)

KMHMF11FPVU173589-02

In [33]:
for one in df.iloc[:, 0].to_numpy():
    temp = one.split('-')
    if len(temp) == 2:
        if 'KNADB2412VS582076' in one:
            print(one)

KNADB2412VS582076-03

In [34]:
for one in df.iloc[:, 0].to_numpy():
    temp = one.split('-')
    if len(temp) == 2:
        if 'KNAJH52339A041977' in one:
            print(one)

KNAJH52339A041977-02

In [35]:
for one in df.iloc[:, 0].to_numpy():
    temp = one.split('-')
    if len(temp) == 2:
        if 'KNAGB2223PA670315' in one:
            print(one)

KNAGB2223PA670315-05

In [36]:
# 71분이상 걸림
# for i, one in enumerate(df.iloc[:, 0].to_numpy()):
#     temp = str(one).split('-')
#     n = 0
#     if len(temp) == 2:
#         for two in df.iloc[:, 0].to_numpy():
#             if temp[0] in two:
#                 n += 1
#     if n >= 2:
#         print(one)

In [37]:
# KMHSJ81VP8U393036-01
# VF30U9HZHBS004241-01

##### 차량관리번호 앞번호(차대번호) 중복 여부 확인

In [38]:
# 차량관리번호 앞번호(차대번호) 중복 여부 체크
list03 = []
idx03 = []
for i, one in enumerate(df.iloc[:, 0].to_numpy()):
    temp = str(one).split('-')
    if len(temp) == 2:
        list03.append(temp[0])
        idx03.append(i)

In [39]:
a = [1, 2, 3]
b = a.copy()
b.remove(3)
a, b

([1, 2, 3], [1, 2])

In [40]:
dict03_1 = dict()
for one in set(list03):
    dict03_1[one] = 0

In [41]:
test_list = [1, 2, 3, 2, 3, 3, 4, 5]
test_dict = dict()
for one in set(test_list):
    test_dict[one] = 0
test_dict

{1: 0, 2: 0, 3: 0, 4: 0, 5: 0}

In [42]:
for one in test_list:
    test_dict[one] += 1
test_dict

{1: 1, 2: 2, 3: 3, 4: 1, 5: 1}

In [43]:
for one in list03:
    dict03_1[one] += 1

In [44]:
# 중복 앞번호 : 54 개
keys = []
for k, v in dict03_1.items():
    if v >= 2:
        keys.append(k)
len(keys)

54

In [45]:
keys[:5]

['KMFZCZ7JABU694641',
 'KMHMF21FPPU018261',
 'KMHSJ81UBAU597392',
 'KMFZCX7JACU758469',
 'KNCSHY74CBK563376']

In [46]:
dict03_1['KMHJN81VP7U512177']

2

In [47]:
keys = sorted(keys)

In [48]:
keys[:5]

['1C3EW65G51V703776',
 '1GBEL19W3XB192382',
 'KLACD26RD9B296846',
 'KLASM69F1JB054053',
 'KLATF19T1NB526286']

In [49]:
a = [1, 2, 3, 2]
a.index(2)

1

In [50]:
# 13.7s
# 중복 뒷번호 샘플 추출 : 108 개
idx03_1 = []
for k in keys:
    for i, one in enumerate(df.iloc[:, 0].to_numpy()):
        if k in one:
            idx03_1.append(i)

In [51]:
len(idx03_1)

108

In [52]:
df.iloc[idx03_1, 0]

1528473    1C3EW65G51V703776-02
1528487    1C3EW65G51V703776-01
747837     1GBEL19W3XB192382-02
1424917    1GBEL19W3XB192382-01
320861     KLACD26RD9B296846-02
                   ...
726046     KPACA4AB1AP075957-02
21735      VF30U9HZHBS004241-01
820238     VF30U9HZHBS004241-02
956166     WAUZZZ8R3BA022251-02
1172622    WAUZZZ8R3BA022251-01
Name: 차량관리번호, Length: 108, dtype: object

In [53]:
# 중복 뒷번호 중복 최대 횟수 : 2 번
m = 0
for k, v in dict03_1.items():
    if m <= v:
        m = v
m

2

#### [출력]앞번호 중복 예시

In [59]:
# temp03_1 = df.iloc[idx03_1, 0]
# temp03_1.to_excel('analysis/[제원정보][4등급][차량관리번호]앞번호_중복_예시.xlsx', encoding='utf-8')

C:\Users\kbj\AppData\Roaming\Python\Python39\site-packages\pandas\util\_decorators.py:211: FutureWarning: the 'encoding' keyword is deprecated and will be removed in a future version. Please take steps to stop the use of 'encoding'
  return func(*args, **kwargs)

### 1\. 차량등록번호

In [ ]:
# - 오류
#     - null 값 : 0
#     - [한글][숫자][한글][숫자] 형식 값 : 317,579
#     - [숫자][한글][숫자] 형식 값(구 번호판) : 1,211,007

In [60]:
df.iloc[:, 1].isnull().sum()

0

In [61]:
df.iloc[:, 1].value_counts()

97구4490      1
27나1278      1
인천1더9940     1
83두1780      1
12소2340      1
            ..
서울1러2561     1
95마1880      1
87마2994      1
경기45마7935    1
55고3109      1
Name: 차량등록번호, Length: 1528586, dtype: int64

In [62]:
count = 0
p11 = re.compile('\d+[가-힣]+')
idx11 = []
for i, one in tqdm(enumerate(df.iloc[:, 1].to_numpy())):
    if not p11.search(one):
        idx11.append(i)
        count += 1
count

1528586it [00:01, 1135926.71it/s]

0

In [63]:
# [한글][숫자][한글][숫자] 형식에 맞지 않는 값 : 1211007
count = 0
p12 = re.compile('[가-힣]+\d+[가-힣]+\d+')
idx12 = []
for i, one in tqdm(enumerate(df.iloc[:, 1].to_numpy())):
    if not p12.search(one):
        idx12.append(i)
        count += 1
count

1528586it [00:01, 853028.03it/s]

1211007

In [64]:
df.iloc[:, 1].reindex(idx12)[:5]

C:\Users\kbj\AppData\Local\Temp\ipykernel_13928\1435103437.py:1: FutureWarning: The behavior of `series[i:j]` with an integer-dtype index is deprecated. In a future version, this will be treated as *label-based* indexing, consistent with e.g. `series[i]` lookups. To retain the old behavior, use `series.iloc[i:j]`. To get the future behavior, use `series.loc[i:j]`.
  df.iloc[:, 1].reindex(idx12)[:5]

0    97구4490
1    11너2154
2    96어5714
3    11가1154
4    22보7099
Name: 차량등록번호, dtype: object

In [65]:
df.iloc[:, [0, 1, 6]].reindex(idx12)[:5]

                 차량관리번호   차량등록번호               차대번호
0  KMFZCY7JBCU784032-01  97구4490  KMFZCY7JBCU784032
1  KMHJN81VP7U578447-01  11너2154  KMHJN81VP7U578447
2  KPACE4AB1AP070600-01  96어5714  KPACE4AB1AP070600
3  KMHNU81WP7U009391-01  11가1154  KMHNU81WP7U009391
4  KMHDT41TP9U638425-01  22보7099  KMHDT41TP9U638425

In [66]:
df.iloc[:, [0, 1, 6]].reindex(idx12)[-5:]

                       차량관리번호   차량등록번호               차대번호
1528580  KNAJE55539K557097-01  22더4719  KNAJE55539K557097
1528581  KMHJN81VP6U438041-01  06다4703  KMHJN81VP6U438041
1528582  KNAKH815BAK669764-01  17무6646  KNAKH815BAK669764
1528583  KMCLK19KP8C035195-01  96부7399  KMCLK18KP8C035195
1528585  KNME5C2MM8P008790-01  55고3109  KNME5C2MM8P008790

In [67]:
# [숫자][한글][숫자] 형식이 아닌 값 : 0
count = 0
p13 = re.compile('\d+[가-힣]+\d+')
idx13 = []
for i, one in tqdm(enumerate(df.iloc[:, 1].to_numpy())):
    if not p13.search(one):
        idx13.append(i)
        count += 1
count

1528586it [00:01, 1119886.44it/s]

0

### 2\. 본거지법정동코드

In [ ]:
# - 오류
#     - null 값 : 0
#     - 숫자가 아닌 값 : 0
#     - 길이가 10이 아닌 값 : 0

In [68]:
df.iloc[:, 2].isnull().sum()

0

In [69]:
df.iloc[:, 2].value_counts()

4139013200    5442
1150010300    4246
1162010200    3960
2817710500    3936
1135010500    3513
              ...
4479039025       1
4575039000       1
4119710400       1
4163055000       1
4371025030       1
Name: 본거지법정동코드, Length: 20119, dtype: int64

In [70]:
# 숫자가 아닌 값
count = 0
p2 = re.compile('\D+')
idx2 = []
for i, one in tqdm(enumerate(df.iloc[:, 2].to_numpy())):
    if p2.search(str(one)):
        idx2.append(i)
        count += 1
count

1528586it [00:02, 577237.39it/s]

0

In [71]:
p2.search('2b안녕하세요1a')

In [72]:
count = 0
idx21 = []
for i, one in tqdm(enumerate(df.iloc[:, 2].to_numpy())):
    if len(str(one)) != 10:
        idx21.append(i)
        count += 1
count

1528586it [00:01, 778591.86it/s]

0

### 3\. 소유자구분

In [73]:
df.iloc[:, 3].value_counts()

주민     1320642
법인      139402
사업자      42860
외국인      21568
기타        4114
Name: 소유자구분, dtype: int64

### 4\. 차종_등록정보

In [74]:
df.iloc[:, 4].value_counts()

승용    850752
화물    520825
승합    148852
특수      8155
Name: 차종_등록정보, dtype: int64

### 5\. 용도

In [75]:
df.iloc[:, 5].value_counts()

자가용    1481507
영업용      41362
관용        5717
Name: 용도, dtype: int64

### 6\. [e]차대번호

In [ ]:
# - 오류
#     - 1\. null 값 : 0
#     - 2\. 정상(17자리, 영문 포함) : 1525955
#     - 3\. 17자리, 영문X : 1
#     - 4\. 17자리X, 영문 : 57
#     - 5\. 17자리X, 영문X : 2573

In [55]:
df2 = df.copy()

In [56]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1528586 entries, 0 to 1528585
Data columns (total 40 columns):
 #   Column       Non-Null Count    Dtype
---  ------       --------------    -----
 0   차량관리번호       1528586 non-null  object
 1   차량등록번호       1528586 non-null  object
 2   본거지법정동코드     1528586 non-null  int64
 3   소유자구분        1528586 non-null  object
 4   차종_등록정보      1528584 non-null  object
 5   용도           1528586 non-null  object
 6   차대번호         1528586 non-null  object
 7   최초등록일자       1528586 non-null  int64
 8   차량연식         1528586 non-null  int64
 9   차량제작일자       1358925 non-null  float64
 10  검사유효일        1528574 non-null  float64
 11  제원관리번호       1528586 non-null  object
 12  배출가스인증번호     1405585 non-null  object
 13  배출가스등급       1528586 non-null  int64
 14  저공해조치종류      195 non-null      object
 15  저공해조치구조변경YN  1528586 non-null  object
 16  차량말소YN       1528586 non-null  object
 17  취득일자         1435514 non-null  object
 18  취득금액         1453613 non-null  float64
 19  차명           1528586 non-null  object
 20  차종_제원정보      1528586 non-null  object
 21  차종분류         1528586 non-null  object
 22  차종유형         1528586 non-null  object
 23  자동차형식        1528302 non-null  object
 24  제작사명         1518694 non-null  object
 25  연료           1528586 non-null  object
 26  엔진형식         1526740 non-null  object
 27  총중량          1528585 non-null  float64
 28  적재중량         1528075 non-null  float64
 29  엔진출력         1528227 non-null  object
 30  배기량          1528582 non-null  float64
 31  승차인원         1528586 non-null  int64
 32  차량길이         1528585 non-null  float64
 33  차량너비         1528585 non-null  float64
 34  차량높이         1528583 non-null  float64
 35  원산지명         1509499 non-null  object
 36  삭제YN         1528586 non-null  object
 37  제원승인일자       1528155 non-null  object
 38  구동형식         41 non-null       object
 39  변속기종류        1528426 non-null  object
dtypes: float64(9), int64(5), object(26)
memory usage: 510.4+ MB

In [66]:
len('KMFZCY7JBCU784032')

17

#### 동일 차대번호 확인

In [ ]:
# 동일차대번호(차량등록번호 다름) : 19

In [67]:
df2.iloc[:, 6].value_counts()

KMHCF21DPSU000012    5
KLAVM69H1JB075787    2
KMHMF21FPPU018261    2
KMHVF21JPKU161128    2
KLY7T51BBNC011472    2
                    ..
KMFZCZ7JABU656518    1
KNAFA2223PA131127    1
KPACA4AB1BP099521    1
KNCSJZ74BBK571321    1
KNME5C2MM8P008790    1
Name: 차대번호, Length: 1528564, dtype: int64

In [68]:
df2.shape

(1528586, 49)

In [ ]:
dup_vin_df = df2.iloc[:, 6].value_counts().reset_index()
dup_vin_df.columns = ['차대번호', '개수']
dup_vin_df.head()

In [71]:
dup_vin_df.shape

(1528564, 2)

In [ ]:
# 중복 차대번호 추출
dup_vin_df2 = dup_vin_df[dup_vin_df['개수'] > 1].reset_index(drop=True)
dup_vin_df2.shape

In [81]:
dup_vin_df2['차대번호'].head()

0     KMHCF21DPSU000012
1     KLAVM69H1JB075787
2     KMHMF21FPPU018261
3     KMHVF21JPKU161128
4     KLY7T51BBNC011472
5     KLATF19T1NB526286
6     KMHNF21SPLU031911
7     KLASM69F1JB054053
8     KMHNF21SPLU049507
9     KNAGC2213SA102715
10    KLAEM19W1NB116889
11    KNAGA2222KS130454
12    KNALA2233RA822260
13    KNADA2322JS052345
14    1GBEL19W3XB192382
15    KLATF19T1LB267581
16    KMHBF31FPNU489190
17    KNAGC2282YA382041
18    KMHBF31FPKU143334
Name: index, dtype: object

##### 동일 차대번호 예시
- 차량등록번호는 다름

In [ ]:
for i in range(dup_vin_df2['차대번호'].shape[0]):
    print(f'{i}번째 차대번호')
    print(df2.loc[df2['차대번호'] == dup_vin_df2['차대번호'][0], ['차량등록번호', '차대번호']])
    print()

#### 차대번호 정상 확인

In [101]:
# 17자리, 영문 -> 정상 : 1525955
count = 0
p61 = re.compile('[a-zA-Z]+')
idx61 = []
for i, one in tqdm(enumerate(df2.iloc[:, 6].to_numpy())):
    if len(str(one)) == 17 and p61.search(str(one)):
        idx61.append(i)
        count += 1
count

1528586it [00:02, 643794.83it/s]

1525955

In [102]:
# 정상에서 "I, O, Q" 포함한 값 : 1018
temp61 = df2.iloc[idx61, 6].to_numpy()
idx61_1 = []
for i, one in tqdm(enumerate(temp61)):
    if ('I' in one) or ('O' in one) or ('Q' in one):
        idx61_1.append(idx61[i])
len(idx61_1)

1525955it [00:00, 1827529.03it/s]

1018

In [103]:
df2.iloc[idx61_1, 6][:5]

C:\Users\kbj\AppData\Local\Temp\ipykernel_15548\2435097354.py:1: FutureWarning: The behavior of `series[i:j]` with an integer-dtype index is deprecated. In a future version, this will be treated as *label-based* indexing, consistent with e.g. `series[i]` lookups. To retain the old behavior, use `series.iloc[i:j]`. To get the future behavior, use `series.loc[i:j]`.
  df2.iloc[idx61_1, 6][:5]

711     WFOFXXGBBVTS14067
4089    IMECM53U7LA639275
4306    KNFSEOD428K331451
7352    IMECM53UXLA639285
8869    IMECM53U4LA619808
Name: 차대번호, dtype: object

In [104]:
# 17자리, 영문X  => 숫자만 : 1
count = 0
p62 = re.compile('[a-zA-Z]+')
idx62 = []
for i, one in tqdm(enumerate(df2.iloc[:, 6].to_numpy())):
    n = 0
    for j in str(one):
        if p62.search(j):
            n += 1
    if len(str(one)) == 17 and n == 0:
        idx62.append(i)
        count += 1
count

1528586it [00:13, 113278.21it/s]

1

In [105]:
df2.iloc[:, 6].reindex(idx62)

708259    01901321371111111
Name: 차대번호, dtype: object

In [106]:
# 17자리 X, 영문 : 57
count = 0
p63 = re.compile('[a-zA-Z]+')
idx63 = []
for i, one in tqdm(enumerate(df2.iloc[:, 6].to_numpy())):
    if len(str(one)) != 17 and p63.search(one):
        idx63.append(i)
        count += 1
count

1528586it [00:00, 1677337.10it/s]

57

In [107]:
df2.iloc[:, 6].reindex(idx63)[:5]

C:\Users\kbj\AppData\Local\Temp\ipykernel_15548\2206251045.py:1: FutureWarning: The behavior of `series[i:j]` with an integer-dtype index is deprecated. In a future version, this will be treated as *label-based* indexing, consistent with e.g. `series[i]` lookups. To retain the old behavior, use `series.iloc[i:j]`. To get the future behavior, use `series.loc[i:j]`.
  df2.iloc[:, 6].reindex(idx63)[:5]

34589         SL68T032460
69588         RPS13330414
71114        CN-62-T-2213
91950         KPY30051283
96602    KNADA2322HS00898
Name: 차대번호, dtype: object

In [108]:
# 17자리 X, 영문X : 2573
count = 0
p64 = re.compile('[a-zA-Z]+')
idx64 = []
for i, one in tqdm(enumerate(df2.iloc[:, 6].to_numpy())):
    n = 0
    for j in one:
        if p64.search(j):
            n += 1
    if len(str(one)) != 17 and n == 0:
        idx64.append(i)
        count += 1
count

1528586it [00:12, 121118.76it/s]

2573

In [109]:
df2.iloc[:, 6].reindex(idx64)[:5]

C:\Users\kbj\AppData\Local\Temp\ipykernel_15548\1133880624.py:1: FutureWarning: The behavior of `series[i:j]` with an integer-dtype index is deprecated. In a future version, this will be treated as *label-based* indexing, consistent with e.g. `series[i]` lookups. To retain the old behavior, use `series.iloc[i:j]`. To get the future behavior, use `series.loc[i:j]`.
  df2.iloc[:, 6].reindex(idx64)[:5]

429       119811326107
692     27931130152305
1320      119111327184
1475      119811229792
1544      219211301625
Name: 차대번호, dtype: object

In [110]:
# 차대번호 길이 종류 확인
len_vin = []
for i, one in tqdm(enumerate(df2.iloc[:, 6].to_numpy())):
    len_vin.append(len(str(one)))
set(len_vin)

1528586it [00:01, 1475944.62it/s]

{10, 11, 12, 13, 14, 15, 16, 17}

In [111]:
df2['VIN_length'] = [ len(one) for one in df2['차대번호'] ]

In [112]:
df2['VIN_length'].unique()

array([17, 12, 14, 13, 11, 15, 16, 10], dtype=int64)

In [113]:
IOQ = []
for one in df2['차대번호']:
    if ('I' in one) or ('O' in one) or ('Q' in one):
        IOQ.append('Y')
    else:
        IOQ.append('N')
df2['IOQ'] = IOQ

In [114]:
df2['IOQ'].unique()

array(['N', 'Y'], dtype=object)

In [115]:
# 알파벳 포함
included_alpha = []
count = 0
p65 = re.compile('[a-zA-Z]+')
for i, one in tqdm(enumerate(df2.iloc[:, 6].to_numpy())):
    n = 0
    for j in one:
        if p65.search(j):
            n += 1
    if n == 0:
        included_alpha.append('N')
        count += 1
    else:
        included_alpha.append('Y')
count

1528586it [00:12, 124655.09it/s]

2574

In [116]:
df2['alpha'] = included_alpha

In [117]:
df2.groupby(['VIN_length', 'alpha', 'IOQ'])['차대번호'].count()

VIN_length  alpha  IOQ
10          N      N            1
            Y      N            3
11          N      N          209
            Y      N            7
12          N      N         2132
            Y      N            2
13          N      N          154
            Y      N            3
14          N      N           22
15          N      N           38
            Y      N            2
                   Y            1
16          N      N           17
            Y      N           39
17          N      N            1
            Y      N      1524937
                   Y         1018
Name: 차대번호, dtype: int64

In [118]:
df2.groupby(['VIN_length', 'IOQ'])['차대번호'].count()

VIN_length  IOQ
10          N            4
11          N          216
12          N         2134
13          N          157
14          N           22
15          N           40
            Y            1
16          N           56
17          N      1524938
            Y         1018
Name: 차대번호, dtype: int64

In [119]:
V_I_dict = df2.groupby(['VIN_length', 'IOQ'])['차대번호'].groups

In [120]:
V_I_dict.keys()

dict_keys([(10, 'N'), (11, 'N'), (12, 'N'), (13, 'N'), (14, 'N'), (15, 'N'), (15, 'Y'), (16, 'N'), (17, 'N'), (17, 'Y')])

In [121]:
g = df2.groupby(['VIN_length', 'IOQ'], as_index=False)['차대번호'].count()
g

   VIN_length IOQ     차대번호
0          10   N        4
1          11   N      216
2          12   N     2134
3          13   N      157
4          14   N       22
5          15   N       40
6          15   Y        1
7          16   N       56
8          17   N  1524938
9          17   Y     1018

In [122]:
V_I_df = g.sort_values(['VIN_length', 'IOQ'], ascending=[True, False])
V_I_df

   VIN_length IOQ     차대번호
0          10   N        4
1          11   N      216
2          12   N     2134
3          13   N      157
4          14   N       22
6          15   Y        1
5          15   N       40
7          16   N       56
9          17   Y     1018
8          17   N  1524938

In [123]:
for v in range(10, 18):
    for i in ['N', 'Y']:
        try:
            idx = V_I_dict[(v, i)]
            print(f'[VIN_length : {v}, "IOQ"포함 : {i}]')
            print('예시)')
            print(df2.iloc[idx[:3], 6])
            print()
        except:
            pass

[VIN_length : 10, "IOQ"포함 : N]
예시)
274224    FD3S303919
303394    EU13315046
472456    1102253020
Name: 차대번호, dtype: object

[VIN_length : 11, "IOQ"포함 : N]
예시)
10469    01891322131
12281    01901321765
12965    01911322485
Name: 차대번호, dtype: object

[VIN_length : 12, "IOQ"포함 : N]
예시)
429     119811326107
1320    119111327184
1475    119811229792
Name: 차대번호, dtype: object

[VIN_length : 13, "IOQ"포함 : N]
예시)
7610     119213303068다
28217    119213302895다
48405    119213302724다
Name: 차대번호, dtype: object

[VIN_length : 14, "IOQ"포함 : N]
예시)
692       27931130152305
206507    21891130315401
276689    119111200061대서
Name: 차대번호, dtype: object

[VIN_length : 15, "IOQ"포함 : N]
예시)
19514    28-88-112-06218
84146    11-97-113-29992
84224    41-77-111-00110
Name: 차대번호, dtype: object

[VIN_length : 15, "IOQ"포함 : Y]
예시)
103131    12851300018EORN
Name: 차대번호, dtype: object

[VIN_length : 16, "IOQ"포함 : N]
예시)
23971    11-94-112-09987다
96602    KNADA2322HS00898
99552    KNAGA222JS117210
Name: 차대번호, dtype: object

[VIN_length : 17, "IOQ"포함 : N]
예시)
0    KMFZCY7JBCU784032
1    KMHJN81VP7U578447
2    KPACE4AB1AP070600
Name: 차대번호, dtype: object

[VIN_length : 17, "IOQ"포함 : Y]
예시)
711     WFOFXXGBBVTS14067
4089    IMECM53U7LA639275
4306    KNFSEOD428K331451
Name: 차대번호, dtype: object

##### [출력]번호길이, IOQ포함 통계

In [112]:
# V_I_df.to_csv('analysis/[차대번호]번호길이_IOQ포함_통계.csv', index=False, encoding='cp949')

#### WMI 코드 분류 제작사 통계

In [ ]:
wmi = pd.read_excel('data/20190730_WMI CODE.xlsx', sheet_name='WMI CODE')
wmi.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 690 entries, 0 to 689
Data columns (total 8 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   WMI            690 non-null    object
 1   MF CODE        690 non-null    object
 2   Identifier     690 non-null    object
 3   Manufacturer   690 non-null    object
 4   Country        688 non-null    object
 5   Vehicle Types  249 non-null    object
 6   Description    54 non-null     object
 7   참고             0 non-null      float64
dtypes: float64(1), object(7)
memory usage: 43.2+ KB

In [ ]:
df2['차대번호'].head()

0    KMFZCY7JBCU784032
1    KMHJN81VP7U578447
2    KPACE4AB1AP070600
3    KMHNU81WP7U009391
4    KMHDT41TP9U638425
Name: 차대번호, dtype: object

In [ ]:
df2['wmi'] = df2['차대번호'].str[:3]

In [ ]:
df2['wmi'].head()

0    KMF
1    KMH
2    KPA
3    KMH
4    KMH
Name: wmi, dtype: object

In [ ]:
df2 = df2.merge(wmi, left_on='wmi', right_on='WMI', how='left')
df2[['차대번호', 'wmi', 'WMI']].head()

                차대번호  wmi  WMI
0  KMFZCY7JBCU784032  KMF  KMF
1  KMHJN81VP7U578447  KMH  KMH
2  KPACE4AB1AP070600  KPA  KPA
3  KMHNU81WP7U009391  KMH  KMH
4  KMHDT41TP9U638425  KMH  KMH

In [ ]:
df2.shape

(1528586, 49)

In [ ]:
df2[['차대번호', 'wmi', 'WMI', 'Manufacturer']].head()

                차대번호  wmi  WMI Manufacturer
0  KMFZCY7JBCU784032  KMF  KMF      Hyundai
1  KMHJN81VP7U578447  KMH  KMH      Hyundai
2  KPACE4AB1AP070600  KPA  KPA    SsangYong
3  KMHNU81WP7U009391  KMH  KMH      Hyundai
4  KMHDT41TP9U638425  KMH  KMH      Hyundai

In [ ]:
df2.iloc[:, 6].isnull().sum()

0

##### 차대번호 길이 조건 전부 포함

In [2]:
# 차대번호 개수(WMI 코드와 매칭되는 데이터) : 1453352

In [124]:
# 차대번호 길이 조건 전부 포함
df2['WMI'].info()

<class 'pandas.core.series.Series'>
Int64Index: 1528586 entries, 0 to 1528585
Series name: WMI
Non-Null Count    Dtype
--------------    -----
1453352 non-null  object
dtypes: object(1)
memory usage: 55.6+ MB

In [133]:
# wmi 코드와 매칭되는 데이터
nor_iden = df2.loc[df2['WMI'].isnull() == False, ['차량관리번호', '차대번호', 'wmi', 'WMI', 'Identifier']]
nor_iden.head()

                 차량관리번호               차대번호  wmi  WMI Identifier
0  KMFZCY7JBCU784032-01  KMFZCY7JBCU784032  KMF  KMF    Hyundai
1  KMHJN81VP7U578447-01  KMHJN81VP7U578447  KMH  KMH    Hyundai
2  KPACE4AB1AP070600-01  KPACE4AB1AP070600  KPA  KPA  SsangYong
3  KMHNU81WP7U009391-01  KMHNU81WP7U009391  KMH  KMH    Hyundai
4  KMHDT41TP9U638425-01  KMHDT41TP9U638425  KMH  KMH    Hyundai

In [126]:
# WMI 코드와 매칭되는 샘플 수 : 1453352
nor_iden.shape

(1453352, 4)

In [127]:
# wmi 유니크 개수 : 144
len(nor_iden['wmi'].unique())

144

In [128]:
# 제작사 유니크 개수 : 75
len(nor_iden['Identifier'].unique())

75

In [129]:
# wmi 코드와 매칭 안되는 데이터
error_iden = df2.loc[df2['WMI'].isnull() == True, ['차량관리번호', '차대번호', 'wmi', 'WMI', 'Identifier']]
error_iden.head()

                  차량관리번호               차대번호  wmi  WMI Identifier
16  KLTBL8AW19K000032-01  KLTBL8AW19K000032  KLT  NaN        NaN
33  KNFSEOA429K392912-01  KNFSE0A429K392912  KNF  NaN        NaN
36  KLY3S11BDVC433781-01  KLY3S11BDVC433781  KLY  NaN        NaN
63  KN3HNS8D1PK002372-01  KN3HNS8D1PK002372  KN3  NaN        NaN
92  KLY7T11ZDSC024951-01  KLY7T11ZDSC024951  KLY  NaN        NaN

In [130]:
# wmi 코드 매칭 안되는 샘플 수 : 75234
error_iden.shape

(75234, 5)

In [131]:
len(error_iden['wmi'].unique())

241

###### [출력]오류 wmi코드 예시

In [132]:
error_iden.to_excel('analysis/[차대번호][4등급]오류_WMI코드_데이터예시.xlsx',index=False, encoding='cp949')

C:\Users\kbj\AppData\Roaming\Python\Python39\site-packages\pandas\util\_decorators.py:211: FutureWarning: the 'encoding' keyword is deprecated and will be removed in a future version. Please take steps to stop the use of 'encoding'
  return func(*args, **kwargs)

In [126]:
# wmi 코드와 매칭되는 데이터 통계
nor_iden_group = nor_iden.groupby(['Identifier'], as_index=False)['차대번호'].count().sort_values('차대번호', ascending=False)
nor_iden_group

         Identifier    차대번호
24          Hyundai  887158
32              Kia  358332
19        GM Daewoo  116240
66        SsangYong   31201
60  Renault Samsung   16165
..              ...     ...
18     Freightliner       1
58              RUF       1
14        Dong Feng       1
12          Daimler       1
0        Alfa Romeo       1

[75 rows x 2 columns]

###### [출력]제작사별 통계

In [127]:
nor_iden_group.to_excel('analysis/[차대번호][4등급]제작사별_통계.xlsx', index=False, encoding='cp949')

C:\Users\kbj\AppData\Roaming\Python\Python39\site-packages\pandas\util\_decorators.py:211: FutureWarning: the 'encoding' keyword is deprecated and will be removed in a future version. Please take steps to stop the use of 'encoding'
  return func(*args, **kwargs)

##### 차대번호 정상

In [ ]:
# - 길이 17자리, IOQ 문자 미포함
# - 차대번호 개수(정상 WMI 코드) : 1524938

In [128]:
nor_vin = df2.loc[(df2['VIN_length'] == 17) & (df2['IOQ'] == 'N')]
nor_vin.head()

,차량관리번호,차량등록번호,본거지법정동코드,소유자구분,차종_등록정보,용도,차대번호,최초등록일자,차량연식,차량제작일자,...,MF CODE,Identifier,Manufacturer,Country,Vehicle Types,Description,참고,VIN_length,IOQ,alpha
0,KMFZCY7JBCU784032-01,97구4490,1144010700,법인,화물,자가용,KMFZCY7JBCU784032,20110817,2012,20110811.0,...,HYUN,Hyundai,Hyundai,Korea,Commercail vehicle,NaN,NaN,17,N,Y
1,KMHJN81VP7U578447-01,11너2154,2650010100,주민,승용,자가용,KMHJN81VP7U578447,20070102,2007,20061104.0,...,HYUN,Hyundai,Hyundai,Korea,Passenger & multi-purpose vehicle,NaN,NaN,17,N,Y
2,KPACE4AB1AP070600-01,96어5714,4729025024,주민,화물,자가용,KPACE4AB1AP070600,20091221,2010,20091210.0,...,SSAN,SsangYong,SsangYong,NaN,NaN,NaN,NaN,17,N,Y
3,KMHNU81WP7U009391-01,11가1154,4117110100,사업자,승용,자가용,KMHNU81WP7U009391,20070212,2007,20070207.0,...,HYUN,Hyundai,Hyundai,Korea,Passenger & multi-purpose vehicle,NaN,NaN,17,N,Y
4,KMHDT41TP9U638425-01,22보7099,4711331026,주민,승용,자가용,KMHDT41TP9U638425,20081128,2009,20081123.0,...,HYUN,Hyundai,Hyundai,Korea,Passenger & multi-purpose vehicle,NaN,NaN,17,N,Y

In [129]:
nor_vin.shape

(1524938, 52)

In [130]:
# wmi 코드와 매칭된 데이터
nor_iden_by_nor_vin = nor_vin.loc[nor_vin['WMI'].isnull() == False]
nor_iden_by_nor_vin.shape

(1452859, 52)

In [135]:
# wmi 코드와 매칭안된 데이터
nor_vin.loc[nor_vin['WMI'].isnull() == True].shape

(72079, 52)

In [131]:
# wmi 코드와 매칭된 데이터, 제작사 유니크 값
len(nor_iden_by_nor_vin['Identifier'].unique())

74

In [132]:
# wmi 코드와 매칭된 데이터, wmi 유니크 값
len(nor_iden_by_nor_vin['WMI'].unique())

142

In [133]:
# wmi 코드와 매칭된 데이터 통계
nor_iden_by_nor_vin_group = nor_iden_by_nor_vin.groupby('Identifier', as_index=False)['차대번호'].count().sort_values('차대번호', ascending=False)
nor_iden_by_nor_vin_group

         Identifier    차대번호
24          Hyundai  887097
32              Kia  358299
19        GM Daewoo  116158
65        SsangYong   31200
59  Renault Samsung   16164
..              ...     ...
18     Freightliner       1
57              RUF       1
14        Dong Feng       1
12          Daimler       1
0        Alfa Romeo       1

[74 rows x 2 columns]

###### [출력]제작사별 통계(정상차대번호)

In [134]:
nor_iden_by_nor_vin_group.to_excel('analysis/[차대번호][4등급]제작사별_통계(정상차대번호).xlsx', encoding='cp949')

C:\Users\kbj\AppData\Roaming\Python\Python39\site-packages\pandas\util\_decorators.py:211: FutureWarning: the 'encoding' keyword is deprecated and will be removed in a future version. Please take steps to stop the use of 'encoding'
  return func(*args, **kwargs)

### 7\. [e]최초등록일자

In [ ]:
# - 오류
#     - null 값 : 0
#     - 숫자가 아닌 값 : 0
#     - 길이가 8이 아닌 값 : 2

In [41]:
df.iloc[:, 7].value_counts()

20080102    4651
20110103    4609
20090102    4263
20080103    2707
20100104    2634
            ...
20160127       1
20130617       1
20040716       1
20130712       1
20220614       1
Name: 최초등록일자, Length: 8446, dtype: int64

In [42]:
df.iloc[:, 7].isnull().sum()

0

In [43]:
# 숫자가 포함되지 않은 샘플
count = 0
p7 = re.compile('\d+')
idx7 = []
for i, one in tqdm(enumerate(df.iloc[:, 7].to_numpy())):
    if not p7.search(str(one)):
        idx7.append(i)
        count += 1
count

1528586it [00:02, 677042.45it/s]

0

In [44]:
# 길이가 8이 아닌 샘플
count = 0
idx71 = []
for i, one in tqdm(enumerate(df.iloc[:, 7].to_numpy())):
    if len(str(one)) != 8:
        idx71.append(i)
        count += 1
count

1528586it [00:01, 918736.69it/s]

2

In [45]:
# 길이가 8이 아닌 샘플 예시
df.iloc[:, 7].reindex(idx71)

110669       1993
489146    9960617
Name: 최초등록일자, dtype: int64

### 8\. 차량연식

In [ ]:
# - 오류
#     - null 값 : 0
#     - 길이 4 아닌 값 : 0
#     - 숫자가 아닌 값 : 0

In [46]:
df.iloc[:, 8].value_counts()

2010    252711
2011    237575
2008    226868
2009    213544
2007    107029
2012     94187
1994     37783
1996     36266
1995     35395
1993     34281
2006     34010
1992     33927
1991     30328
1997     29988
1990     26704
1989     20689
1999     20030
2000     13327
1988     11854
1998     10236
2002      8971
2001      7836
1987      1278
2005      1068
2017       732
2018       483
2016       482
2015       463
2004       214
2003       169
2013        98
2014        13
2019        13
1986        12
1985         4
2020         3
1984         3
1979         3
1983         3
1978         1
1981         1
1980         1
1901         1
1968         1
1973         1
Name: 차량연식, dtype: int64

In [47]:
df.iloc[:, 8].isnull().sum()

0

In [48]:
count = 0
idx8 = []
for i, one in tqdm(enumerate(df.iloc[:, 8].to_numpy())):
    if len(str(one)) != 4:
        idx8.append(i)
        count += 1
count

1528586it [00:01, 904369.05it/s]

0

In [49]:
# 숫자가 포함되지 않은 샘플
count = 0
p81 = re.compile('\d+')
idx81 = []
for i, one in tqdm(enumerate(df.iloc[:, 8].to_numpy())):
    if not p81.search(str(one)):
        idx81.append(i)
        count += 1
count

1528586it [00:02, 699257.89it/s]

0

### 9\. [e]차량제작일자

In [ ]:
# - 오류
#     - null : 169661
#     - 8자리 아닌 값(null값 제외) : 4
#     - 숫자가 아닌 값(null값 제외) : 0

In [50]:
df.iloc[:, 9].isnull().sum()

169661

In [51]:
df.iloc[:, 9].value_counts()

20090629.0    1459
20090612.0    1444
20080219.0    1432
20091201.0    1424
20090702.0    1402
              ...
20140628.0       1
20030407.0       1
20060219.0       1
20130128.0       1
20190923.0       1
Name: 차량제작일자, Length: 8299, dtype: int64

In [52]:
temp9 = df.iloc[:, 9].fillna(0).astype('int')
temp9[:5]

0    20110811
1    20061104
2    20091210
3    20070207
4    20081123
Name: 차량제작일자, dtype: int32

In [53]:
# 길이가 8이 아닌 값 : 169,665 개
count = 0
idx91 = []
for i, one in tqdm(enumerate(temp9.to_numpy())):
    if len(str(one)) != 8:
        idx91.append(i)
        count += 1
count

1528586it [00:01, 892363.52it/s]

169665

In [54]:
# null 값 : 169661
count = 0
idx92 = []
for i, one in tqdm(enumerate(temp9.to_numpy())):
    if one == 0:
        idx92.append(i)
        count += 1
count

1528586it [00:00, 1665677.09it/s]

169661

In [ ]:
# 길이가 8이 아닌 값 중 null 값 제외 값 : 4
len(list(set(idx91) - set(idx92)))

In [ ]:
temp9.reindex(list(set(idx91) - set(idx92)))

In [57]:
# 숫자가 아닌 값 : 0
count = 0
p93 = re.compile('\d+')
idx93 = []
for i, one in tqdm(enumerate(temp9.to_numpy())):
    if not p93.search(str(one)):
        idx93.append(i)
        count += 1
count

1528586it [00:02, 673383.50it/s]

0

### 10\. [e]검사유효일

In [ ]:
# - 오류
#     - null : 12=
#     - 8자리 아닌 값 : 12
#     - 숫자가 아닌 값(nan값 제외) : 0

In [58]:
df.iloc[:, 10].isnull().sum()

12

In [59]:
df.iloc[:, 10].value_counts()

20200103.0    3335
20200101.0    3304
20200102.0    3132
20210101.0    3017
20190831.0    2346
              ...
21060605.0       1
19901201.0       1
19900208.0       1
19900510.0       1
20250908.0       1
Name: 검사유효일, Length: 12510, dtype: int64

In [60]:
temp10 = df.iloc[:, 10].fillna(0).astype('int')
temp10[:5]

0    20200508
1    20210101
2    20230130
3    20210211
4    20221231
Name: 검사유효일, dtype: int32

In [61]:
# 길이가 8이 아닌 값 : 12
count = 0
idx101 = []
for i, one in tqdm(enumerate(temp10.to_numpy())):
    if len(str(one)) != 8:
        idx101.append(i)
        count += 1
count

1528586it [00:01, 903427.18it/s]

12

In [62]:
# null 값 : 12 개
count = 0
idx102 = []
for i, one in tqdm(enumerate(temp10.to_numpy())):
    if one == 0:
        idx102.append(i)
        count += 1
count

1528586it [00:00, 1756496.47it/s]

12

In [ ]:
# 길이가 8이 아닌 값 중 null 값 제외 값 : 0
    # => 길이가 8이 아닌 값은 전부 null 값
len(list(set(idx101) - set(idx102)))

In [64]:
# 숫자가 아닌 값 : 0
count = 0
p103 = re.compile('\d+')
idx103 = []
for i, one in tqdm(enumerate(temp10.to_numpy())):
    if not p103.search(str(one)):
        idx103.append(i)
        count += 1
count

1528586it [00:02, 659985.82it/s]

0

### 11\. [e]제원관리번호

In [ ]:
# - 오류
#     - null : 0
#     - 17자리X : 356933
#     - 17자리X, 숫자X : 30

In [65]:
df.iloc[:, 11].value_counts()

A0810006801591209    36231
A0110003400441206    22730
A0810006209233110    19414
A0810007402962210    16877
A0810006801661210    16186
                     ...
B2F10014200003307        1
00032701002631207        1
30290100000046           1
20465900000000           1
A0810005209353308        1
Name: 제원관리번호, Length: 15315, dtype: int64

In [66]:
df.iloc[:, 11].isnull().sum()

0

In [67]:
# 17자리X : 356933
count = 0
idx111 = []
for i, one in tqdm(enumerate(df.iloc[:, 11].to_numpy())):
    if len(str(one)) != 17:
        idx111.append(i)
        count += 1
count

1528586it [00:01, 1460306.81it/s]

356933

In [68]:
# 17자리X, 숫자이외 값 : 30
count = 0
p112 = re.compile('[a-zA-Z가-힣]+')
idx112 = []
for i, one in tqdm(enumerate(df.iloc[:, 11].to_numpy())):
    if len(str(one)) != 17 and p112.search(one):
        idx112.append(i)
        count += 1
count

1528586it [00:01, 1321963.35it/s]

30

### 12\. [e]배출가스인증번호

In [ ]:
# - 정보
#     - 총 : 1528586
#     - null : 123001
#     - 정상
#         - 2005.01.04 이후 표기 방식([숫자문자]{3}-[문자]{2}-[숫자]{2}-[숫자]{2}, 12자리) : 1152680
#         - 2005.01.04 이전 표기 방식([숫자문자]{3}-[문자]{2}-[숫자]{2}, 9자리) : 230867
#     - 오류(null 값 제외) : 252905
#       - 예시
#           -

In [ ]:
# 2005년 이후 표기 방식 중 길이가 12자리가 아닌 값 : 
#     - [max] 차량연식 : 
# 2005년 이전 표기 방식 중 길이가 9자리가 아닌 값 :

In [99]:
df.iloc[:, 12].value_counts()

7MY-HD-14-68      268972
8MY-KM-13-19       93969
6MY-KM-14-61       76371
9MY-KM-14-41       67493
7MY-HD-14-46       60364
                   ...
8MY-WI-0M-24           1
AMY-PPE-14-225         1
8MY-SN-0M-24           1
7MY-SK-24-03           1
AMY-PPE-14-800         1
Name: 배출가스인증번호, Length: 304, dtype: int64

In [100]:
df.iloc[:, 12].isnull().sum()

123001

In [ ]:
gas_df = df.copy()
gas_df.head()

In [ ]:
# 빈칸을 포함한 예시
# gas_df.iloc[1186467, 12]

In [ ]:
# gas_df['배출가스인증번호'] = gas_df['배출가스인증번호'].str.replace(' ', '')
# gas_df.iloc[1186467, 12]

In [101]:
# 2005.01.04 이후 표기 방식 : 1152680
count = 0
p121 = re.compile('[a-zA-Z0-9]{3}[-][a-zA-Z]{2}[-][0-9]{2}[-][0-9]{2}')
idx121 = []
for i, one in tqdm(enumerate(gas_df.iloc[:, 12].to_numpy())):
    if p121.search(str(one)):
        idx121.append(i)
        count += 1
count

1528586it [00:01, 806880.16it/s]

1152680

In [102]:
# 2005.01.04 이후 표기 방식이 아닌 값 : 375906
count = 0
idx122 = []
for i, one in tqdm(enumerate(gas_df.iloc[:, 12].to_numpy())):
    if not p121.search(str(one)):
        idx122.append(i)
        count += 1
count

1528586it [00:01, 855895.55it/s]

375906

In [ ]:
gas_df.iloc[:, 12].reindex(idx122)[:5]

In [103]:
# 2005.01.04 이전 배출가스 표기 방식 
count = 0
p123 = re.compile('[a-zA-Z0-9]{3}[-][a-zA-Z]{2}[-][0-9]{2}')
idx123 = []
for i, one in tqdm(enumerate(gas_df.iloc[idx122, 12].to_numpy())):
    if p123.search(str(one)):
        idx123.append(idx122[i])
        count += 1
count

375906it [00:00, 756850.81it/s]

230867

In [ ]:
gas_df.iloc[idx123, [7, 8, 9, 17, 12]][:5]

In [ ]:
# null 값 : 626171
idx124 = gas_df[gas_df['배출가스인증번호'].isnull() == True]['배출가스인증번호'].index
len(idx124)

In [104]:
gas_df.iloc[:, 12].reindex(idx124)[:5]

C:\Users\kbj\AppData\Local\Temp\ipykernel_17576\4092535168.py:1: FutureWarning: The behavior of `series[i:j]` with an integer-dtype index is deprecated. In a future version, this will be treated as *label-based* indexing, consistent with e.g. `series[i]` lookups. To retain the old behavior, use `series.iloc[i:j]`. To get the future behavior, use `series.loc[i:j]`.
  df.iloc[:, 12].reindex(idx122)[:5]

5     VMY-KM-38
21    RMY-HD-20
28    KMY-HD-03
29          NaN
36          NaN
Name: 배출가스인증번호, dtype: object

In [ ]:
# 2005.01.04 이후 표기 방식이 아닌 값 중 null 값 제외한 오류 값 : 
idx125 = sorted(set(idx122) - set(idx124) - set(idx123))
len(idx125)

In [ ]:
gas_df.iloc[:, 12].reindex(idx125)[:5]

In [ ]:
# 2005년 이상 배출가스인증번호 데이터
gas_temp = gas_df.iloc[idx123, [7, 8, 9, 17, 12]]
gas_temp[gas_temp['차량연식'] >= 2005].head()

In [ ]:
# 2005년 이상년도에서 맞지않는 배출가스인증번호 샘플 : 
gas_temp.loc[(gas_temp['차량연식'] >= 2005) & (gas_temp['배출가스인증번호'].str.len() != 12)]

In [ ]:
gas_temp.loc[(gas_temp['차량연식'] >= 2005) & (gas_temp['배출가스인증번호'].str.len() != 12 )].shape

In [ ]:
gas_temp.loc[(gas_temp['차량연식'] >= 2005) & (gas_temp['배출가스인증번호'].str.len() != 12 ), '차량연식'].max()

In [ ]:
# 2005년 미만 년도에서 맞지않는 배출가스인증번호 샘플 : 0
gas_temp.loc[(gas_temp['차량연식'] < 2005) & (gas_temp['배출가스인증번호'].str.len() != 9 )]

In [105]:
df[df['배출가스인증번호'].isnull() == True]['배출가스인증번호'].index

Int64Index([     29,      36,      42,      63,      67,      92,      98,
                108,     128,     147,
            ...
            1528534, 1528535, 1528536, 1528538, 1528539, 1528540, 1528548,
            1528561, 1528583, 1528584],
           dtype='int64', length=123001)

In [106]:
idx124 = df[df['배출가스인증번호'].isnull() == True]['배출가스인증번호'].index
len(idx124)

123001

In [107]:
df.iloc[:, 12].reindex(idx124)[:5]

C:\Users\kbj\AppData\Local\Temp\ipykernel_17576\828939027.py:1: FutureWarning: The behavior of `series[i:j]` with an integer-dtype index is deprecated. In a future version, this will be treated as *label-based* indexing, consistent with e.g. `series[i]` lookups. To retain the old behavior, use `series.iloc[i:j]`. To get the future behavior, use `series.loc[i:j]`.
  df.iloc[:, 12].reindex(idx124)[:5]

29    NaN
36    NaN
42    NaN
63    NaN
67    NaN
Name: 배출가스인증번호, dtype: object

In [108]:
# null 값 제외한 오류 값 : 252905
len(set(idx122) - set(idx124))

252905

In [109]:
df.iloc[:, 12].reindex(sorted(set(idx122) - set(idx124)))[:5]

C:\Users\kbj\AppData\Local\Temp\ipykernel_17576\2414504646.py:1: FutureWarning: The behavior of `series[i:j]` with an integer-dtype index is deprecated. In a future version, this will be treated as *label-based* indexing, consistent with e.g. `series[i]` lookups. To retain the old behavior, use `series.iloc[i:j]`. To get the future behavior, use `series.loc[i:j]`.
  df.iloc[:, 12].reindex(sorted(set(idx122) - set(idx124)))[:5]

5     VMY-KM-38
21    RMY-HD-20
28    KMY-HD-03
46    RMY-HD-20
62    MMY-HD-11
Name: 배출가스인증번호, dtype: object

In [111]:
df.iloc[idx123, [7, 8, 9, 17, 12]][:5]

      최초등록일자  차량연식      차량제작일자        취득일자   배출가스인증번호
5   20000609  2000  20000529.0  20030219.0  VMY-KM-38
21  19990608  1999  19990513.0  20040401.0  RMY-HD-20
28  19910820  1991         NaN         NaN  KMY-HD-03
46  19991213  2000  19991202.0  20150914.0  RMY-HD-20
62  19970522  1997  19970310.0         NaN  MMY-HD-11

In [116]:
temp = df.iloc[idx123, [7, 8, 9, 17, 12]]
temp[temp['차량연식'] >= 2005]

           최초등록일자  차량연식      차량제작일자        취득일자     배출가스인증번호
582      20100209  2010  20100205.0  20120910.0  AMY-JL-13-9
810      20070816  2007  20070816.0  20100423.0  6MY-PA-14-4
1629     20100409  2010  20100205.0  20180423.0  AMY-JL-13-9
2087     20100511  2010  20100506.0  20190611.0  AMY-JL-13-9
2142     20100504  2010  20091207.0  20180430.0  8MY-PA-14-3
...           ...   ...         ...         ...          ...
1524691  20100409  2010  20100212.0  20191108.0  9MY-JL-14-4
1524870  20100108  2010  20091102.0  20110119.0  AMY-JL-13-9
1525658  20090415  2009  20081208.0  20190930.0  8MY-PA-14-3
1527579  20100108  2010  20091223.0  20100405.0  6MY-PA-14-4
1528353  20080805  2009  20080725.0  20080805.0  8MY-PA-14-3

[3018 rows x 5 columns]

In [117]:
# 2005년 이상년도에서 맞지않는 배출가스인증번호 샘플 : 58
temp.loc[(temp['차량연식'] >= 2005) & (temp['배출가스인증번호'].str.len() < 11 )]

           최초등록일자  차량연식      차량제작일자        취득일자   배출가스인증번호
7024     20050720  2005  20050421.0  20220408.0  4MY-AD-20
12139    20060208  2006  20060119.0  20140710.0  4MY-AD-20
103021   20061017  2007  20060929.0  20220128.0  4MY-DC-33
106341   20051104  2005  20050905.0  20060327.0  4MY-PA-06
119764   20060228  2006  20060116.0  20200720.0  4MY-AD-20
124247   20061017  2007  20060929.0  20220411.0  4MY-DC-33
142443   20051208  2006  20051202.0  20171106.0  4MY-PA-06
145601   20051208  2006  20051205.0  20190802.0  4MY-PA-06
187641   20060105  2006  20051212.0  20170910.0  4MY-AD-20
200655   20060120  2006  20051221.0  20080909.0  4MY-PA-06
205166   20060105  2006  20051206.0         NaN  4MY-AD-20
214893   20051125  2006  20051115.0  20170605.0  4MY-PA-06
215221   20061017  2007  20060929.0  20201104.0  4MY-DC-33
231476   20060630  2006  20060612.0  20090629.0  4MY-AD-20
233228   20061017  2007  20060929.0  20181030.0  4MY-DC-33
274979   20060710  2006  20060710.0  20060710.0  4MY-AD-20
326770   20060322  2006  20060104.0  20080129.0  4MY-AD-20
341853   20060418  2006  20060411.0  20200818.0  4MY-AD-20
413232   20050823  2005  20050421.0  20200511.0  4MY-AD-20
415374   20051108  2006  20051102.0  20191119.0  4MY-PA-06
462151   20061017  2007  20060929.0  20160809.0  4MY-DC-33
484064   20060210  2006  20060116.0  20200103.0  4MY-AD-20
491202   20051216  2006  20051212.0  20200807.0  4MY-AD-20
498049   20060502  2006  20060502.0  20191204.0  4MY-AD-20
555269   20060320  2006  20060119.0  20200827.0  4MY-AD-20
570232   20060406  2006  20060405.0  20090415.0  4MY-AD-20
598285   20060331  2006  20060131.0  20090107.0  4MY-AD-20
608426   20060811  2006  20060113.0  20220421.0  4MY-AD-20
619036   20060104  2005  20051118.0  20210617.0  4MY-PA-06
633188   20051104  2005  20051024.0  20051104.0  4MY-PA-06
634356   20060526  2006  20060523.0  20210329.0  4MY-AD-20
639946   20061017  2007  20060929.0  20201013.0  4MY-DC-33
668947   20060919  2006  20060116.0  20181115.0  4MY-AD-20
760911   20060103  2006  20051212.0  20090108.0  4MY-AD-20
779293   20060623  2006  20060620.0  20211103.0  4MY-AD-20
788779   20060127  2006  20060101.0  20160503.0  4MY-AD-20
792661   20060621  2006  20060612.0  20190326.0  4MY-AD-20
816532   20061031  2006  20060414.0  20090112.0  4MY-AD-20
847726   20060616  2006  20060612.0  20060616.0  4MY-AD-20
849611   20060117  2006  20060101.0  20150715.0  4MY-AD-20
856660   20060707  2006  20060125.0  20110117.0  4MY-AD-20
886125   20060626  2006  20060405.0  20180524.0  4MY-AD-20
943091   20061017  2007  20060929.0  20210630.0  4MY-DC-33
1033065  20051226  2005  20050929.0  20201029.0  4MY-PA-06
1090741  20060612  2006  20060405.0  20190705.0  4MY-AD-20
1131159  20060627  2006  20060621.0  20210811.0  4MY-AD-20
1162786  20060106  2006  20051229.0  20201102.0  4MY-AD-20
1173919  20060120  2006  20060101.0  20090126.0  4MY-AD-20
1183650  20051215  2005  20051018.0  20200917.0  4MY-PA-06
1202869  20060227  2005  20051019.0  20190827.0  4MY-PA-06
1213404  20061031  2006  20060119.0  20190509.0  4MY-AD-20
1296007  20060208  2006  20051206.0  20210708.0  4MY-AD-20
1338420  20060208  2006  20060109.0  20190527.0  4MY-AD-20
1445334  20060127  2006  20051229.0  20210423.0  4MY-AD-20
1446826  20051103  2005  20051024.0  20081030.0  4MY-PA-06
1452988  20061031  2006  20060414.0  20220627.0  4MY-AD-20
1457523  20051014  2005  20050903.0  20191022.0  4MY-PA-06
1486921  20060118  2006  20060116.0  20150506.0  4MY-AD-20

In [118]:
temp.loc[(temp['차량연식'] >= 2005) & (temp['배출가스인증번호'].str.len() < 11 )].shape

(58, 5)

In [119]:
# 2005년 미만년도에서 맞지않는 배출가스인증번호 샘플 : 2
temp.loc[(temp['차량연식'] < 2005) & (temp['배출가스인증번호'].str.len() > 9 )]

           최초등록일자  차량연식      차량제작일자        취득일자       배출가스인증번호
747837   20091013  1999  19991231.0  10091009.0  9MY-PP-14-W38
1424917  20090917  1999  20081124.0  20201106.0  9MY-PP-14-W38

#### 오류 배출가스인증번호 유형 통계

In [ ]:
# - 총 오류 샘플 수 : 
#     - 1번째 부분 3자리가 아닌 경우 : 
#         - 빈 값('')인 경우 : 
#         - 바('-') 기호가 없는 경우 : 
#     - 2번째 부분 2자리가 아닌 경우 : 
#         - 2번째 부분 1자리인 경우(XXX-n-XX-XX) : 
#         - 2번째 부분 3자리인 경우(XXX-nnn-XX-XX) : 
#     - 3번째 부분 2자리가 아닌 경우 : 
#         - 3번째 부분 3자리인 경우(XXX-XX-nnn) : 
#     - 4번째 부분 2자리가 아닌 경우 : 
#         - 4번째 부분 1자리인 경우(XXX-XX-XX-n) : 
#             - 2번째 부분 1자리인 경우(XXX-n-XX-XX)와 동일한 샘플 : 
#         - 4번째 부분 3자리인 경우(XXX-XX-XX-nnn) :

In [ ]:
gas_df.iloc[idx125[:5], 12]

17     KMY-D-HD-M-03
160    KMY-D-HD-M-05
190    KMY-D-HD-M-07
221    KMY-D-HD-M-03
231    KMY-D-HD-M-03
Name: 배출가스인증번호, dtype: object

In [ ]:
gas_temp2 = gas_df.iloc[idx125, 12]
gas_temp2.head()

17     KMY-D-HD-M-03
160    KMY-D-HD-M-05
190    KMY-D-HD-M-07
221    KMY-D-HD-M-03
231    KMY-D-HD-M-03
Name: 배출가스인증번호, dtype: object

##### 1번째 자리 오류 유형

In [ ]:
# 1번째 부분 3자리가 아닌 경우 : 
#     - 빈 값('')인 경우 : 
#     - 바('-') 기호가 없는 경우 :

In [ ]:
idx126 = []
count = 0
for i, one in tqdm(enumerate(gas_temp2.to_numpy())):
    try:
        if len(str(one).split('-')[0]) != 3:
            idx126.append(gas_temp2.index[i])
            count += 1
    except:
        pass
count

22241it [00:00, 817956.77it/s]

18

In [ ]:
gas_df.iloc[idx126, 12]

227026
257916
278780
323112     3MYHD14
460914
528140
595589
612429
634065
712384     3MYHD14
773188
788617
798063
846077
998681
1123684
1180089
1186430
Name: 배출가스인증번호, dtype: object

In [ ]:
gas_df.iloc[idx126[0], 12]

''

##### 2번째 자리 오류 유형

In [ ]:
# 2번째 부분 2자리가 아닌 경우 : 
#   - 2번째 부분 1자리인 경우(XXX-n-XX-XX) : 
#   - 2번째 부분 3자리인 경우(XXX-nnn-XX-XX) :

In [ ]:
idx127 = []
count = 0
for i, one in tqdm(enumerate(gas_temp2.to_numpy())):
    try:
        if len(str(one).split('-')[1]) != 2:
            idx127.append(gas_temp2.index[i])
            count += 1
    except:
        pass
count

22241it [00:00, 372189.26it/s]

22221

In [ ]:
gas_df.iloc[idx127[:5], 12]

17     KMY-D-HD-M-03
160    KMY-D-HD-M-05
190    KMY-D-HD-M-07
221    KMY-D-HD-M-03
231    KMY-D-HD-M-03
Name: 배출가스인증번호, dtype: object

In [ ]:
idx127_1 = []
count = 0
for i, one in tqdm(enumerate(gas_temp2.to_numpy())):
    try:
        if len(str(one).split('-')[1]) == 1:
            idx127_1.append(gas_temp2.index[i])
            count += 1
    except:
        pass
count

22241it [00:00, 332842.79it/s]

21601

In [ ]:
gas_df.iloc[idx127_1[:5], 12]

17     KMY-D-HD-M-03
160    KMY-D-HD-M-05
190    KMY-D-HD-M-07
221    KMY-D-HD-M-03
231    KMY-D-HD-M-03
Name: 배출가스인증번호, dtype: object

In [ ]:
idx127_3 = []
count = 0
for i, one in tqdm(enumerate(gas_temp2.to_numpy())):
    try:
        if len(str(one).split('-')[1]) == 3:
            idx127_3.append(gas_temp2.index[i])
            count += 1
    except:
        pass
count

22241it [00:00, 571774.09it/s]

620

In [ ]:
gas_df.iloc[idx127_3[:5], 12]

934     5MY-VTK-24-02
6473    5MY-VTK-24-02
6527    5MY-VTK-24-01
7532    5MY-VTK-24-02
8277    5MY-VTK-24-02
Name: 배출가스인증번호, dtype: object

In [ ]:
idx127_4 = []
count = 0
for i, one in tqdm(enumerate(gas_temp2.to_numpy())):
    try:
        if len(str(one).split('-')[1]) == 4:
            idx127_4.append(gas_temp2.index[i])
            count += 1
    except:
        pass
count

22241it [00:00, 1061957.30it/s]

0

##### 3번째 자리 오류 유형

In [ ]:
# 3번째 부분 2자리가 아닌 경우 : 
#   - 3번째 부분 3자리인 경우(XXX-XX-nnn) :

In [ ]:
idx128 = []
count = 0
for i, one in tqdm(enumerate(gas_temp2.to_numpy())):
    try:
        if len(str(one).split('-')[2]) != 2:
            idx128.append(gas_temp2.index[i])
            count += 1
    except:
        pass
count

22241it [00:00, 1015208.90it/s]

1

In [ ]:
gas_df.iloc[idx128, 12]

920690    1MY-HD-D53
Name: 배출가스인증번호, dtype: object

##### 4번째 자리 오류 유형

In [ ]:
# 4번째 부분 2자리가 아닌 경우 : 
#   - 4번째 부분 1자리인 경우(XXX-XX-XX-n) : 
#       - 2번째 부분 1자리인 경우(XXX-n-XX-XX)와 동일한 샘플 : 
#   - 4번째 부분 3자리인 경우(XXX-XX-XX-nnn) :

In [ ]:
idx129 = []
count = 0
for i, one in tqdm(enumerate(gas_temp2.to_numpy())):
    try:
        if len(str(one).split('-')[3]) != 2:
            idx129.append(gas_temp2.index[i])
            count += 1
    except:
        pass
count

22241it [00:00, 388879.23it/s]

21602

In [ ]:
gas_df.iloc[idx129[:5], 12]

17     KMY-D-HD-M-03
160    KMY-D-HD-M-05
190    KMY-D-HD-M-07
221    KMY-D-HD-M-03
231    KMY-D-HD-M-03
Name: 배출가스인증번호, dtype: object

In [ ]:
idx129_1 = []
count = 0
for i, one in tqdm(enumerate(gas_temp2.to_numpy())):
    try:
        if len(str(one).split('-')[3]) == 1:
            idx129_1.append(gas_temp2.index[i])
            count += 1
    except:
        pass
count

22241it [00:00, 342569.76it/s]

21601

In [ ]:
gas_df.iloc[idx129_1[:5], 12]

17     KMY-D-HD-M-03
160    KMY-D-HD-M-05
190    KMY-D-HD-M-07
221    KMY-D-HD-M-03
231    KMY-D-HD-M-03
Name: 배출가스인증번호, dtype: object

In [ ]:
idx129_3 = []
count = 0
for i, one in tqdm(enumerate(gas_temp2.to_numpy())):
    try:
        if len(str(one).split('-')[3]) == 3:
            idx129_3.append(gas_temp2.index[i])
            count += 1
    except:
        pass
count

22241it [00:00, 719401.53it/s]

1

In [ ]:
gas_df.iloc[idx129_3, 12]

144093    9MY-PPE-14-597
Name: 배출가스인증번호, dtype: object

In [ ]:
idx127_4 = []
count = 0
for i, one in tqdm(enumerate(gas_df.iloc[:, 12].to_numpy())):
    try:
        if len(str(one).split('-')[3]) == 4:
            idx127_4.append(i)
            count += 1
    except:
        pass
count

1186488it [00:01, 952199.44it/s]

0

##### 중복으로 추출된 샘플

In [ ]:
idx127_1[:5]

[17, 160, 190, 221, 231]

In [ ]:
idx129_1[:5]

[17, 160, 190, 221, 231]

In [ ]:
set(idx127_1) == set(idx129_1)

True

### 13\. 배출가스등급

In [ ]:
# - 오류
#     - null : 0

In [95]:
df.iloc[:, 13].value_counts()

4    1528586
Name: 배출가스등급, dtype: int64

In [96]:
df.iloc[:, 13].isnull().sum()

0

### 14\. [e]저공해조치종류

In [ ]:
# - 오류
#     - null : 1528391

In [97]:
df.iloc[:, 14].value_counts()

2종 저감장치 부착    115
1종 저감장치 부착     71
엔진개조            4
3종 저감장치 부착      4
동시저감장치 부착       1
Name: 저공해조치종류, dtype: int64

In [98]:
df.iloc[:, 14].isnull().sum()

1528391

### 15\. 저공해조치구조변경YN

In [ ]:
# - 오류
#     - null : 0

In [99]:
df.iloc[:, 15].value_counts()

N    1215924
Y     312662
Name: 저공해조치구조변경YN, dtype: int64

In [100]:
df.iloc[:, 15].isnull().sum()

0

### 16\. 차량말소YN

In [ ]:
# - 오류
#     - null : 0

In [101]:
df.iloc[:, 16].value_counts()

N    1528586
Name: 차량말소YN, dtype: int64

In [102]:
df.iloc[:, 16].isnull().sum()

0

### 17\. [e]취득일자

In [ ]:
# - 오류
#     - null : 93072
#     - 8자리 아닌 값 : 2
#     - 숫자가 아닌 값(nan값 제외) :  0

In [103]:
df.iloc[:, 17].value_counts()

20220607.0    1008
20220627.0     901
20220602.0     883
20220620.0     844
20220530.0     833
              ...
20070221         1
20110306         1
20020628         1
20150415         1
20051218.0       1
Name: 취득일자, Length: 16929, dtype: int64

In [104]:
df.iloc[:, 17].isnull().sum()

93072

In [111]:
df['취득일자'].dtype

dtype('O')

In [113]:
# 취득일자 정수형으로 변환시 오류인 값 : 93074
idx171_1 = []
idx171_2 = []
for i, one in enumerate(df['취득일자'].to_numpy()):
    try:
        int(one)
        idx171_2.append(i)
    except:
        idx171_1.append(i)

In [114]:
len(idx171_1)

93074

In [115]:
# 취득일자가 nan 값인 샘플 : 141553
idx172 = df[df['취득일자'].isnull() == True]['취득일자'].index
len(idx172)

93072

In [116]:
# 숫자가 아닌 값 : 
df.iloc[sorted(set(idx171_1) - set(idx172)), 17]

735987     200109 9
1372039    2001 412
Name: 취득일자, dtype: object

In [ ]:
get_date_temp = df.iloc[idx171_2, 17].copy()
get_date_temp.head()

In [ ]:
get_date_temp = get_date_temp.astype('int')
get_date_temp.head()

In [ ]:
# 8자리가 아닌 값(nan값 포함) : 
idx173 = []
for i, one in enumerate(get_date_temp):
    if len(str(one)) != 8:
        idx173.append(get_date_temp.index[i])
len(idx173)

In [ ]:
get_date_temp[idx173]

In [ ]:
# 8자리가 아닌 값(nan값 제외) : 
len(set(idx173) - set(idx172))

In [ ]:
df.iloc[sorted(set(idx173) - set(idx172)), 17].head()

### 18\. [e]취득금액

In [ ]:
# - 오류
#     - null : 74973
#     - 숫자가 아닌 값 : 0

In [117]:
df.iloc[:, 18].value_counts()

0.0            258676
1000000.0       43125
500000.0        29818
2000000.0       28457
100000.0        27958
                ...
62790.0             1
100761818.0         1
26188580.0          1
17523047.0          1
20240.0             1
Name: 취득금액, Length: 159946, dtype: int64

In [118]:
df.iloc[:, 18].isnull().sum()

74973

In [122]:
p18 = re.compile('\D+')
idx181 = []
idx182 = []
count = 0
for i, one in tqdm(enumerate(df.iloc[:, 18].to_numpy())):
    try:
        if p18.search(str(int(one))):
            idx181.append(i)
            count += 1
    except:
        idx182.append(i)
        count += 1
count

1528586it [00:02, 690456.77it/s]

74973

In [125]:
len(idx181), len(idx182)

(0, 74973)

In [123]:
df.iloc[:, 18].reindex(idx182)[:5]

C:\Users\kbj\AppData\Local\Temp\ipykernel_18336\2151798388.py:1: FutureWarning: The behavior of `series[i:j]` with an integer-dtype index is deprecated. In a future version, this will be treated as *label-based* indexing, consistent with e.g. `series[i]` lookups. To retain the old behavior, use `series.iloc[i:j]`. To get the future behavior, use `series.loc[i:j]`.
  df.iloc[:, 18].reindex(idx182)[:5]

62    NaN
98    NaN
128   NaN
146   NaN
156   NaN
Name: 취득금액, dtype: float64

### 19\. 차명

In [ ]:
# - 오류
#     - null : 0

In [126]:
df.iloc[:, 19].value_counts()

포터Ⅱ(PORTERⅡ)              180795
싼타페(SANTAFE)              138850
스포티지                       76497
그랜드 스타렉스(GRAND STAREX)     74977
투싼(TUCSON)                 58687
                           ...
CIVIC SiR                      1
TACOMA3.4                      1
미니브리티시오픈                       1
BMW 525itA                     1
메가트럭군물자수송                      1
Name: 차명, Length: 3572, dtype: int64

In [127]:
df.iloc[:, 19].isnull().sum()

0

In [ ]:
df.loc[df['차명'].isnull() == True, ['차명', '차량등록번호', '차대번호']]

### 20\. 차종_제원정보

In [ ]:
# - 오류
#     - null : 0

In [128]:
df.iloc[:, 20].value_counts()

승용    843902
화물    521971
승합    155705
특수      7008
Name: 차종_제원정보, dtype: int64

In [129]:
df.iloc[:, 20].isnull().sum()

0

### 21\. 차종분류

In [ ]:
# - 오류
#     - null : 0

In [130]:
df.iloc[:, 21].value_counts()

일반             540536
다목적            439052
일반형-카고         370138
밴               63114
특수용도형-특수용도형     51196
일반형-픽업          31406
기타              18027
덤프               5965
견인               5446
특수               1725
특수작업형             854
구난                708
승용겸화물             267
특수용도형-탱크로리        151
특수용도형-피견인           1
Name: 차종분류, dtype: int64

In [131]:
df.iloc[:, 21].isnull().sum()

0

### 22\. 차종유형

In [ ]:
# - 오류
#     - null : 0

In [132]:
df.iloc[:, 22].value_counts()

중형    698798
소형    582232
대형    219531
경형     28025
Name: 차종유형, dtype: int64

In [134]:
df.iloc[:, 22].isnull().sum()

0

### 23\. [e]자동차형식

In [ ]:
# - 오류
#     - null : 284

In [135]:
df.iloc[:, 23].value_counts()

CM7UBA               36235
CA26R                23887
JE553G-HG            22730
HRQJA-DX-B           19414
TQ-12JAB-1           16880
                     ...
HD2-42-10Le-BEIT1        1
EN-7NS3DAF8-2            1
HBSV-VD138               1
KTH-18L14.5-410          1
HD050-8MT2-LGc-A         1
Name: 자동차형식, Length: 8114, dtype: int64

In [136]:
df.iloc[:, 23].isnull().sum()

284

### 24\. [e]제작사명

In [ ]:
# - 오류
#     - null : 9892

In [137]:
df.iloc[:, 24].value_counts()

현대자동차(주)       891178
기아자동차(주)       377792
대우자동차(주)        62506
한국지엠주식회사        53957
쌍용자동차(주)        41016
                ...
(주) 미래교통렌트카         1
마이웨이                1
고랜드코리아              1
백상 CTC              1
서울시티투어버스(주)         1
Name: 제작사명, Length: 669, dtype: int64

In [138]:
df.iloc[:, 24].isnull().sum()

9892

### 25\. 연료

In [3]:
# - 오류
#     - null : 0

In [139]:
df.iloc[:, 25].value_counts()

경유             1167610
휘발유             334517
LPG(액화석유가스)      26419
기타연료                38
알코올                  1
CNG(압축천연가스)          1
Name: 연료, dtype: int64

In [140]:
df.iloc[:, 25].isnull().sum()

0

### 26\. [e]엔진형식

In [4]:
# - 오류
#     - null : 1846

In [141]:
df.iloc[:, 26].value_counts()

D4CB           407006
D4EA           190781
J3             139727
D6EA            75036
Z20S            53958
                ...
12A2DJ01            1
AR01544             1
LT-1                1
J3-8-VF-F           1
D2676 LOH02         1
Name: 엔진형식, Length: 1428, dtype: int64

In [142]:
df.iloc[:, 26].isnull().sum()

1846

### 27\. [e]총중량

In [ ]:
# - 오류
#     - null : 1
#     - 숫자가 아닌 값(nan값 제외) : 0

In [143]:
df.iloc[:, 27].value_counts()

2925.0     66420
2285.0     53732
2950.0     51480
2955.0     47126
2345.0     39729
           ...
6960.0         1
10570.0        1
35180.0        1
5435.0         1
21690.0        1
Name: 총중량, Length: 2121, dtype: int64

In [144]:
df.iloc[:, 27].isnull().sum()

1

In [145]:
p27 = re.compile('\D+')
idx271 = []
idx272 = []
count = 0
for i, one in tqdm(enumerate(df.iloc[:, 27].to_numpy())):
    try:
        if p27.search(str(int(one))):
            idx271.append(i)
            count += 1
    except:
        idx272.append(i)
        count += 1
count

1528586it [00:02, 662307.08it/s]

1

In [146]:
len(idx271), len(idx272)

(0, 1)

In [ ]:
df.iloc[idx272, 27]

### 28\. [e]적재중량

In [ ]:
# - 오류
#     - null : 511
#     - 숫자가 아닌 값(nan값 제외) : 0

In [149]:
df.iloc[:, 28].value_counts()

0.0         999646
1000.0      351435
600.0        41249
400.0        31382
800.0        24526
             ...
9400.0           1
10200.0          1
450000.0         1
14200.0          1
800000.0         1
Name: 적재중량, Length: 164, dtype: int64

In [150]:
df.iloc[:, 28].isnull().sum()

511

In [151]:
p28 = re.compile('\D+')
idx281 = []
idx282 = []
count = 0
for i, one in tqdm(enumerate(df.iloc[:, 28].to_numpy())):
    try:
        if p28.search(str(int(one))):
            idx281.append(i)
            count += 1
    except:
        idx282.append(i)
        count += 1
count

1528586it [00:02, 690660.57it/s]

511

In [152]:
len(idx281), len(idx282)

(0, 511)

In [ ]:
df.iloc[idx282[:5], 28]

### 19\. [e]엔진출력

In [ ]:
# - 오류
#     - null : 359
#     - 숫자가 아닌 값 : 18

In [153]:
df.iloc[:, 29].value_counts()

126.0       289953
174.0       104789
151.0        91306
150.0        77553
126          64775
             ...
280-6400         1
4                1
34.0             1
273.0            1
436.0            1
Name: 엔진출력, Length: 662, dtype: int64

In [154]:
df.iloc[:, 29].isnull().sum()

359

In [160]:
p29 = re.compile('\d+[.]\d+')
idx291 = []
idx292 = []
count = 0
for i, one in tqdm(enumerate(df.iloc[:, 29].to_numpy())):
    try:
        if not p29.search(str(float(one))):
            idx291.append(i)
            count += 1
    except:
        idx292.append(i)
        count += 1
count

1528586it [00:02, 708461.06it/s]

377

In [161]:
len(idx291), len(idx292)

(359, 18)

In [162]:
idx293 = df[df['엔진출력'].isnull() == True]['엔진출력'].index
len(idx293)

359

In [163]:
df.iloc[idx291[:5], 29]

C:\Users\kbj\AppData\Local\Temp\ipykernel_18336\2791330140.py:1: FutureWarning: The behavior of `series[i:j]` with an integer-dtype index is deprecated. In a future version, this will be treated as *label-based* indexing, consistent with e.g. `series[i]` lookups. To retain the old behavior, use `series.iloc[i:j]`. To get the future behavior, use `series.loc[i:j]`.
  df.iloc[idx291, 29][:5]

12060    NaN
16761    NaN
19514    NaN
22845    NaN
25508    NaN
Name: 엔진출력, dtype: object

In [164]:
df.iloc[idx292[:5], 29]

C:\Users\kbj\AppData\Local\Temp\ipykernel_18336\491642684.py:1: FutureWarning: The behavior of `series[i:j]` with an integer-dtype index is deprecated. In a future version, this will be treated as *label-based* indexing, consistent with e.g. `series[i]` lookups. To retain the old behavior, use `series.iloc[i:j]`. To get the future behavior, use `series.loc[i:j]`.
  df.iloc[idx292, 29][:5]

50704        114PS
114636       113ps
162707      0140PS
195884    105-5800
205207       195HP
Name: 엔진출력, dtype: object

In [167]:
df.iloc[idx293[:5], 29]

C:\Users\kbj\AppData\Local\Temp\ipykernel_18336\2073082367.py:1: FutureWarning: The behavior of `series[i:j]` with an integer-dtype index is deprecated. In a future version, this will be treated as *label-based* indexing, consistent with e.g. `series[i]` lookups. To retain the old behavior, use `series.iloc[i:j]`. To get the future behavior, use `series.loc[i:j]`.
  df.iloc[idx293, 29][:5]

12060    NaN
16761    NaN
19514    NaN
22845    NaN
25508    NaN
Name: 엔진출력, dtype: object

### 30\. [e]배기량

In [ ]:
# - error
#     - null : 4
#     - 숫자가 아닌 값 : 0

In [169]:
df.iloc[:, 30].value_counts()

2497.0     412725
1991.0     245078
2902.0     139727
2959.0      75053
1995.0      68705
            ...
4701.0          1
3803.0          1
5958.0          1
15607.0         1
12412.0         1
Name: 배기량, Length: 627, dtype: int64

In [170]:
df.iloc[:, 30].isnull().sum()

4

In [171]:
p30 = re.compile('\D+')
idx301 = []
idx302 = []
count = 0
for i, one in tqdm(enumerate(df.iloc[:, 30].to_numpy())):
    try:
        if p30.search(str(int(one))):
            idx301.append(i)
            count += 1
    except:
        idx302.append(i)
        count += 1
count

1528586it [00:02, 619306.55it/s]

4

In [172]:
len(idx301), len(idx302)

(0, 4)

In [ ]:
df.iloc[idx302, 30]

### 31\. 승차인원

In [ ]:
# - error
#     - null : 0
#     - 숫자가 아닌 값(nan값 제외) : 0

In [173]:
df.iloc[:, 31].value_counts()

5     625751
3     338761
7     271132
6      92585
11     72915
12     58829
2      27413
9      20963
4       9575
25      4045
47      1446
34      1115
46       901
0        852
39       460
29       410
15       275
43       229
38       186
42       147
30       139
8         91
45        58
16        48
41        41
18        32
59        22
33        21
21        18
20        17
19        14
28        13
35        12
10         9
1          8
32         7
26         6
63         4
40         4
56         4
23         4
14         4
31         3
22         3
37         2
62         2
51         2
67         2
44         2
50         1
27         1
36         1
64         1
Name: 승차인원, dtype: int64

In [174]:
df.iloc[:, 31].isnull().sum()

0

In [180]:
p31 = re.compile('\D+')
idx311 = []
idx312 = []
count = 0
for i, one in tqdm(enumerate(df.iloc[:, 31].to_numpy())):
    try:
        if p31.search(str(int(one))):
            idx311.append(i)
            count += 1
    except:
        idx312.append(i)
        count += 1
count

1528586it [00:02, 756812.66it/s]

0

### 32\. [e]차량길이

In [ ]:
# - error
#     - null : 1
#     - 숫자 아닌 값(nan값 제외) : 0

In [175]:
df.iloc[:, 32].value_counts()

4675.0     139634
5125.0     138323
5085.0     126095
5120.0      76767
4350.0      76260
            ...
11970.0         1
4593.0          1
8285.0          1
5940.0          1
5435.0          1
Name: 차량길이, Length: 1247, dtype: int64

In [176]:
df.iloc[:, 32].isnull().sum()

1

In [177]:
p32 = re.compile('\D+')
idx321 = []
idx322 = []
count = 0
for i, one in tqdm(enumerate(df.iloc[:, 32].to_numpy())):
    try:
        if p32.search(str(int(one))):
            idx321.append(i)
            count += 1
    except:
        idx322.append(i)
        count += 1
count

1528586it [00:02, 701730.27it/s]

1

In [178]:
len(idx321), len(idx322)

(0, 1)

In [ ]:
df.iloc[idx322, 32]

### 33\. [e]차량너비

In [ ]:
# - error
#     - null : 1
#     - 숫자 아닌 값(nan값 제외) : 0

In [206]:
df.iloc[:, 33].value_counts()

1740.0    326413
1890.0    143036
1920.0    127426
1985.0     74746
1840.0     53628
           ...
175.0          1
2465.0         1
1834.0         1
1633.0         1
1610.0         1
Name: 차량너비, Length: 318, dtype: int64

In [207]:
df.iloc[:, 33].isnull().sum()

1

In [208]:
p33 = re.compile('\D+')
idx331 = []
idx332 = []
count = 0
for i, one in tqdm(enumerate(df.iloc[:, 33].to_numpy())):
    try:
        if p33.search(str(int(one))):
            idx331.append(i)
            count += 1
    except:
        idx332.append(i)
        count += 1
count

1528586it [00:02, 685335.39it/s]

1

In [ ]:
df.iloc[idx332, 33]

### 34\. [e]차량높이

In [ ]:
# - error
#     - null : 3
#     - 숫자 아닌 값(nan값 제외) : 0

In [181]:
df.iloc[:, 34].value_counts()

1965.0    229617
1695.0     72455
1925.0     67094
1995.0     58511
1935.0     56907
           ...
2210.0         1
1717.0         1
2615.0         1
1529.0         1
4000.0         1
Name: 차량높이, Length: 604, dtype: int64

In [182]:
df.iloc[:, 34].isnull().sum()

3

In [183]:
p34 = re.compile('\D+')
idx341 = []
idx342 = []
count = 0
for i, one in tqdm(enumerate(df.iloc[:, 34].to_numpy())):
    try:
        if p34.search(str(int(one))):
            idx341.append(i)
            count += 1
    except:
        idx342.append(i)
        count += 1
count

1528586it [00:02, 618882.59it/s]

3

In [ ]:
df.iloc[idx342, 34]

### 35\. [e]원산지명

In [ ]:
# - error
#     - null : 19087
#     - 문자 아닌 값(nan값 제외) : 0

In [184]:
df.iloc[:, 35].value_counts()

대한민국           1467579
독일               16650
미국                7363
스웨덴               6916
프랑스               5140
영국                2990
일본                1476
네덜란드               676
오스트리아              298
이탈리아               209
기타                  78
캐나다                 31
벨기에                 27
멕시코                 24
대만                  13
중국                   9
가나                   5
스페인                  4
스위스                  3
괌                    2
덴마크                  2
기니비사우                1
감비아                  1
가봉                   1
독립국연합 (CIS)          1
Name: 원산지명, dtype: int64

In [185]:
df.iloc[:, 35].isnull().sum()

19087

In [187]:
p35 = re.compile('\D+')
idx351 = []
idx352 = []
count = 0
for i, one in tqdm(enumerate(df.iloc[:, 35].to_numpy())):
    try:
        if not p35.search(one):
            idx351.append(i)
            count += 1
    except:
        idx352.append(i)
        count += 1
count

1528586it [00:01, 1136214.58it/s]

19087

In [188]:
len(idx351), len(idx352)

(0, 19087)

In [ ]:
df.iloc[idx352[:5], 35].unique()

### 36\. 삭제YN

In [ ]:
# - error
#     - null : 0

In [189]:
df.iloc[:, 36].value_counts()

N    1528586
Name: 삭제YN, dtype: int64

In [190]:
df.iloc[:, 36].isnull().sum()

0

### 37\. [e]제원승인일자

In [ ]:
# - error
#     - null : 431
#     - 형식에 맞지 않는 값 : 108

In [191]:
df.iloc[:, 37].value_counts()

20100326      78288
20090622      35879
20100326.0    35819
20110524      29346
20090520      24716
              ...
20160427          1
20151216          1
20121101          1
20050422          1
20070529.0        1
Name: 제원승인일자, Length: 5958, dtype: int64

In [192]:
df.iloc[:, 37].isnull().sum()

431

In [193]:
p37 = re.compile('\D+')
idx371 = []
idx372 = []
count = 0
for i, one in tqdm(enumerate(df.iloc[:, 37].to_numpy())):
    try:
        if p37.search(str(int(one))):
            idx371.append(i)
            count += 1
    except:
        idx372.append(i)
        count += 1
count

1528586it [00:02, 596189.99it/s]

539

In [194]:
len(idx371), len(idx372)

(0, 539)

In [195]:
df.iloc[:, 37].reindex(idx372[:5])

C:\Users\kbj\AppData\Local\Temp\ipykernel_18336\829264895.py:1: FutureWarning: The behavior of `series[i:j]` with an integer-dtype index is deprecated. In a future version, this will be treated as *label-based* indexing, consistent with e.g. `series[i]` lookups. To retain the old behavior, use `series.iloc[i:j]`. To get the future behavior, use `series.loc[i:j]`.
  df.iloc[:, 37].reindex(idx372)[:5]

1544         NaN
3888         NaN
4231    1991 112
6957         NaN
7069         NaN
Name: 제원승인일자, dtype: object

In [196]:
idx373 = df[df['제원승인일자'].isnull() == True]['제원승인일자'].index
len(idx373)

431

In [197]:
len(list(set(idx372) - set(idx373)))

108

In [198]:
df.iloc[sorted(set(idx372) - set(idx373))[:5], 37]

C:\Users\kbj\AppData\Local\Temp\ipykernel_18336\4017740081.py:1: FutureWarning: The behavior of `series[i:j]` with an integer-dtype index is deprecated. In a future version, this will be treated as *label-based* indexing, consistent with e.g. `series[i]` lookups. To retain the old behavior, use `series.iloc[i:j]`. To get the future behavior, use `series.loc[i:j]`.
  df.iloc[sorted(set(idx372) - set(idx373)), 37][:5]

4231     1991 112
8926     1991 123
21579    1991 112
29975    1991 123
38288    1991 112
Name: 제원승인일자, dtype: object

### 38\. [e]구동형식

In [ ]:
# - error
#     - null : 1528545

In [199]:
df.iloc[:, 38].value_counts()

4x2         18
6x2          9
10x4         5
후륜구동         4
4륜구동(선택)     1
4x4          1
기타           1
전륜구동         1
4륜구동(상시)     1
Name: 구동형식, dtype: int64

In [200]:
df.iloc[:, 38].isnull().sum()

1528545

### 39\. [e]변속기종류

In [ ]:
# - error
#     - null : 160
#     - 문자가 아닌 값(nan값 제외) : 0

In [201]:
df.iloc[:, 39].value_counts()

자동        963870
수동        563865
기타           500
무단           158
반자동           32
변속기 없음         1
Name: 변속기종류, dtype: int64

In [202]:
df.iloc[:, 39].isnull().sum()

160

In [203]:
p39 = re.compile('[가-힣]+')
idx391 = []
idx392 = []
count = 0
for i, one in tqdm(enumerate(df.iloc[:, 39].to_numpy())):
    try:
        if not p39.search(one):
            idx391.append(i)
            count += 1
    except:
        idx392.append(i)
        count += 1
count

1528586it [00:01, 956223.37it/s]

160

In [204]:
len(idx391), len(idx392)

(0, 160)

In [ ]:
df.iloc[idx392[:5], 39]

# 코드 마지막