# Library

In [1]:
# import modin.pandas as pd # 경로가 길어지거나 못 읽는 듯
import pandas as pd
import numpy as np
import os

# [ODS]자동차 등록정보(CEG_CAR_MIG)

## columns명 한글로 변환 준비

In [2]:
name = 'CEG_CAR_MIG'
ex = pd.read_excel(f'analysis/ODSvsSTD/[정제]{name}.xlsx', sheet_name='ODS_col')

In [3]:
ex

                   컬럼             내용
0             UPDT_DT          수정 일시
1             OWNR_SE         소유자 구분
2               VHRNO         차량등록번호
3        BSPL_LEDO_CD     본거지 법정동 코드
4             CRTN_DT          생성 일시
5               PURPS             용도
6   EMIS_INSP_EFCT_DE     배출가스검사유효일자
7         EMIS_CRTCNO      배출가스 인증번호
8          NOW_MBERNO        현재 회원번호
9             ACQS_DE          취득 일자
10           ACQS_AMT          취득 금액
11         FST_MBERNO        최초 회원번호
12         FST_REG_DE       최초 등록 일자
13              VHCTY             차종
14     VHRNO_NUM_INFO   차량등록번호 숫자 정보
15              VHMNO         차량관리번호
16      VHCL_MNFCT_DE       차량 제작 일자
17        VHCL_YRIDNW          차량 연식
18       VHCL_ERSR_YN       차량 말소 YN
19                VIN           차대번호
20            SRCMNNO         제원관리번호
21           EMIS_GRD        배출가스 등급
22            LEM_KND       저공해조치 종류
23      LEM_STRCHG_YN  저공해조치 구조변경 YN
24             LEM_YN  저공해조치 YN(미사용)
25        NOW_OWNR_NM             미정
26          BSPL_ADRS             미정
27          OWNR_ADRS             미정
28           BSPL_ZIP             미정
29        FST_OWNR_NM             미정
30                RMK             미정
31            USER_ID             미정

In [4]:
col_dict = {a:b for a, b in zip(ex['컬럼'].to_list(), ex['내용'].to_list())}
col_dict

{'UPDT_DT': '수정 일시',
 'OWNR_SE': '소유자 구분',
 'VHRNO': '차량등록번호',
 'BSPL_LEDO_CD': '본거지 법정동 코드',
 'CRTN_DT': '생성 일시',
 'PURPS': '용도',
 'EMIS_INSP_EFCT_DE': '배출가스검사유효일자',
 'EMIS_CRTCNO': '배출가스 인증번호',
 'NOW_MBERNO': '현재 회원번호',
 'ACQS_DE': '취득 일자',
 'ACQS_AMT': '취득 금액',
 'FST_MBERNO': '최초 회원번호',
 'FST_REG_DE': '최초 등록 일자',
 'VHCTY': '차종',
 'VHRNO_NUM_INFO': '차량등록번호 숫자 정보',
 'VHMNO': '차량관리번호',
 'VHCL_MNFCT_DE': '차량 제작 일자',
 'VHCL_YRIDNW': '차량 연식',
 'VHCL_ERSR_YN': '차량 말소 YN',
 'VIN': '차대번호',
 'SRCMNNO': '제원관리번호',
 'EMIS_GRD': '배출가스 등급',
 'LEM_KND': '저공해조치 종류',
 'LEM_STRCHG_YN': '저공해조치 구조변경 YN',
 'LEM_YN': '저공해조치 YN(미사용)',
 'NOW_OWNR_NM': '미정',
 'BSPL_ADRS': '미정',
 'OWNR_ADRS': '미정',
 'BSPL_ZIP': '미정',
 'FST_OWNR_NM': '미정',
 'RMK': '미정',
 'USER_ID': '미정'}

## [로드]

In [5]:
ods_fold = 'D:/data/big2/ODS'
ods_path = os.path.join(ods_fold, f'ODS_{name}.csv')

In [6]:
# pandas : about 10m
# modin : error 파일 경로 긴 문제?
df = pd.read_csv(ods_path, low_memory=False, index_col=0)

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 29534047 entries, 0 to 29534046
Data columns (total 32 columns):
 #   Column             Dtype
---  ------             -----
 0   VHMNO              object
 1   VHRNO              object
 2   BSPL_LEDO_CD       int64
 3   OWNR_SE            object
 4   VHCTY              object
 5   PURPS              object
 6   NOW_OWNR_NM        object
 7   NOW_MBERNO         object
 8   BSPL_ADRS          object
 9   OWNR_ADRS          object
 10  VIN                object
 11  FST_REG_DE         int64
 12  VHCL_YRIDNW        int64
 13  VHCL_MNFCT_DE      object
 14  EMIS_INSP_EFCT_DE  float64
 15  SRCMNNO            object
 16  EMIS_CRTCNO        object
 17  EMIS_GRD           object
 18  LEM_YN             object
 19  LEM_KND            float64
 20  LEM_STRCHG_YN      object
 21  BSPL_ZIP           float64
 22  VHRNO_NUM_INFO     int64
 23  VHCL_ERSR_YN       object
 24  FST_OWNR_NM        object
 25  FST_MBERNO         object
 26  ACQS_DE            object
 27  ACQS_AMT           float64
 28  RMK                object
 29  CRTN_DT            object
 30  UPDT_DT            object
 31  USER_ID            object
dtypes: float64(4), int64(4), object(24)
memory usage: 7.3+ GB

In [8]:
df.head()

,VHMNO,VHRNO,BSPL_LEDO_CD,OWNR_SE,VHCTY,PURPS,NOW_OWNR_NM,NOW_MBERNO,BSPL_ADRS,OWNR_ADRS,...,VHRNO_NUM_INFO,VHCL_ERSR_YN,FST_OWNR_NM,FST_MBERNO,ACQS_DE,ACQS_AMT,RMK,CRTN_DT,UPDT_DT,USER_ID
0,10762211742-01,서울1나4019,1165010700,O,P,P,3C89752E624558D6234883FF31231256,FFFB77E175610478415F654BFE77B2E7,94CF4601CD36E37259A508CDB9CF1BF2E583F1FA06E4C9...,94CF4601CD36E37259A508CDB9CF1BF2E583F1FA06E4C9...,...,14019,N,3C89752E624558D6234883FF31231256,7C71D518B5666D98E792700DA807B211,NaN,0.0,NaN,19/06/22,NaN,SYSTEM
1,KG68T122688*-01,대구1다1476,2711010500,O,P,P,A716E948EFD514847BD5C77D9B054F8A,NaN,FB1685B2F216C8F517B246583C52ECA58997FF03014780...,FB1685B2F216C8F517B246583C52ECA58997FF03014780...,...,11476,N,A716E948EFD514847BD5C77D9B054F8A,NaN,NaN,NaN,NaN,19/06/22,NaN,SYSTEM
2,10762211783-01,인천1마8052,2820010300,O,P,P,0F243BB4751963E628E19A5BCD6CFFCB,NaN,6A0C78943819F407C87E00116981877E301F7677D1A003...,6A0C78943819F407C87E00116981877E301F7677D1A003...,...,18052,N,FAABC328957C8639B00F98FDA7073664,NaN,NaN,NaN,NaN,19/06/22,NaN,SYSTEM
3,PN71C018511000000-01,87로9835,4213011200,R,T,P,73CFB46180AD3302B1A9F45E550EF6E5,DBFCB87570199614FFBB9FA11DCD4675,26F22501FA02CE68011BC524C18450B9F42F7479B268F8...,26F22501FA02CE68011BC524C18450B9F42F7479B268F8...,...,879835,N,0C20DFD151DBF872DF3867ABE606A587,CCF2FFB275E6DC4551E1E717CEC86A32,20160222,100000.0,NaN,19/06/22,NaN,SYSTEM
4,KMHLA11FPGU060639-01,경남1러3590,4812110500,R,P,P,0132B746078DFA5BA833D6906AD06A13,6194C458F73E4656322A364FEA4E9441,D6E42385110B0C268E42FCB99F442B91B9FB08B6708219...,D6E42385110B0C268E42FCB99F442B91B9FB08B6708219...,...,13590,N,D5845F55A1C2E8D7B93CC9E6A38B3319,NaN,NaN,NaN,NaN,19/06/22,NaN,SYSTEM

In [9]:
col = [col_dict[x] for x in df.columns]
col

['차량관리번호',
 '차량등록번호',
 '본거지 법정동 코드',
 '소유자 구분',
 '차종',
 '용도',
 '미정',
 '현재 회원번호',
 '미정',
 '미정',
 '차대번호',
 '최초 등록 일자',
 '차량 연식',
 '차량 제작 일자',
 '배출가스검사유효일자',
 '제원관리번호',
 '배출가스 인증번호',
 '배출가스 등급',
 '저공해조치 YN(미사용)',
 '저공해조치 종류',
 '저공해조치 구조변경 YN',
 '미정',
 '차량등록번호 숫자 정보',
 '차량 말소 YN',
 '미정',
 '최초 회원번호',
 '취득 일자',
 '취득 금액',
 '미정',
 '생성 일시',
 '수정 일시',
 '미정']

In [10]:
df.columns = col
df.head()

,차량관리번호,차량등록번호,본거지 법정동 코드,소유자 구분,차종,용도,미정,현재 회원번호,미정,미정,...,차량등록번호 숫자 정보,차량 말소 YN,미정,최초 회원번호,취득 일자,취득 금액,미정,생성 일시,수정 일시,미정
0,10762211742-01,서울1나4019,1165010700,O,P,P,3C89752E624558D6234883FF31231256,FFFB77E175610478415F654BFE77B2E7,94CF4601CD36E37259A508CDB9CF1BF2E583F1FA06E4C9...,94CF4601CD36E37259A508CDB9CF1BF2E583F1FA06E4C9...,...,14019,N,3C89752E624558D6234883FF31231256,7C71D518B5666D98E792700DA807B211,NaN,0.0,NaN,19/06/22,NaN,SYSTEM
1,KG68T122688*-01,대구1다1476,2711010500,O,P,P,A716E948EFD514847BD5C77D9B054F8A,NaN,FB1685B2F216C8F517B246583C52ECA58997FF03014780...,FB1685B2F216C8F517B246583C52ECA58997FF03014780...,...,11476,N,A716E948EFD514847BD5C77D9B054F8A,NaN,NaN,NaN,NaN,19/06/22,NaN,SYSTEM
2,10762211783-01,인천1마8052,2820010300,O,P,P,0F243BB4751963E628E19A5BCD6CFFCB,NaN,6A0C78943819F407C87E00116981877E301F7677D1A003...,6A0C78943819F407C87E00116981877E301F7677D1A003...,...,18052,N,FAABC328957C8639B00F98FDA7073664,NaN,NaN,NaN,NaN,19/06/22,NaN,SYSTEM
3,PN71C018511000000-01,87로9835,4213011200,R,T,P,73CFB46180AD3302B1A9F45E550EF6E5,DBFCB87570199614FFBB9FA11DCD4675,26F22501FA02CE68011BC524C18450B9F42F7479B268F8...,26F22501FA02CE68011BC524C18450B9F42F7479B268F8...,...,879835,N,0C20DFD151DBF872DF3867ABE606A587,CCF2FFB275E6DC4551E1E717CEC86A32,20160222,100000.0,NaN,19/06/22,NaN,SYSTEM
4,KMHLA11FPGU060639-01,경남1러3590,4812110500,R,P,P,0132B746078DFA5BA833D6906AD06A13,6194C458F73E4656322A364FEA4E9441,D6E42385110B0C268E42FCB99F442B91B9FB08B6708219...,D6E42385110B0C268E42FCB99F442B91B9FB08B6708219...,...,13590,N,D5845F55A1C2E8D7B93CC9E6A38B3319,NaN,NaN,NaN,NaN,19/06/22,NaN,SYSTEM

## 코드화 정보 해석

In [11]:
df['소유자 구분'].unique()

array(['O', 'R', 'B', 'L', 'F'], dtype=object)

In [12]:
# 소유자 구분
own_dict = {'B':'사업자', 'F':'외국인', 'L':'법인', 'O':'기타', 'R':'주민'}
df['소유자 구분'] = df['소유자 구분'].map(own_dict)
df.head()

,차량관리번호,차량등록번호,본거지 법정동 코드,소유자 구분,차종,용도,미정,현재 회원번호,미정,미정,...,차량등록번호 숫자 정보,차량 말소 YN,미정,최초 회원번호,취득 일자,취득 금액,미정,생성 일시,수정 일시,미정
0,10762211742-01,서울1나4019,1165010700,기타,P,P,3C89752E624558D6234883FF31231256,FFFB77E175610478415F654BFE77B2E7,94CF4601CD36E37259A508CDB9CF1BF2E583F1FA06E4C9...,94CF4601CD36E37259A508CDB9CF1BF2E583F1FA06E4C9...,...,14019,N,3C89752E624558D6234883FF31231256,7C71D518B5666D98E792700DA807B211,NaN,0.0,NaN,19/06/22,NaN,SYSTEM
1,KG68T122688*-01,대구1다1476,2711010500,기타,P,P,A716E948EFD514847BD5C77D9B054F8A,NaN,FB1685B2F216C8F517B246583C52ECA58997FF03014780...,FB1685B2F216C8F517B246583C52ECA58997FF03014780...,...,11476,N,A716E948EFD514847BD5C77D9B054F8A,NaN,NaN,NaN,NaN,19/06/22,NaN,SYSTEM
2,10762211783-01,인천1마8052,2820010300,기타,P,P,0F243BB4751963E628E19A5BCD6CFFCB,NaN,6A0C78943819F407C87E00116981877E301F7677D1A003...,6A0C78943819F407C87E00116981877E301F7677D1A003...,...,18052,N,FAABC328957C8639B00F98FDA7073664,NaN,NaN,NaN,NaN,19/06/22,NaN,SYSTEM
3,PN71C018511000000-01,87로9835,4213011200,주민,T,P,73CFB46180AD3302B1A9F45E550EF6E5,DBFCB87570199614FFBB9FA11DCD4675,26F22501FA02CE68011BC524C18450B9F42F7479B268F8...,26F22501FA02CE68011BC524C18450B9F42F7479B268F8...,...,879835,N,0C20DFD151DBF872DF3867ABE606A587,CCF2FFB275E6DC4551E1E717CEC86A32,20160222,100000.0,NaN,19/06/22,NaN,SYSTEM
4,KMHLA11FPGU060639-01,경남1러3590,4812110500,주민,P,P,0132B746078DFA5BA833D6906AD06A13,6194C458F73E4656322A364FEA4E9441,D6E42385110B0C268E42FCB99F442B91B9FB08B6708219...,D6E42385110B0C268E42FCB99F442B91B9FB08B6708219...,...,13590,N,D5845F55A1C2E8D7B93CC9E6A38B3319,NaN,NaN,NaN,NaN,19/06/22,NaN,SYSTEM

In [13]:
df['소유자 구분'].unique()

array(['기타', '주민', '사업자', '법인', '외국인'], dtype=object)

In [14]:
df['차종'].unique()

array(['P', 'T', 'V', 'S', nan], dtype=object)

In [15]:
# 차종
car_cate_dict = {'M':'이륜', 'P':'승용', 'S':'특수', 'T':'화물', 'V':'승합'}
df['차종'] = df['차종'].map(car_cate_dict)
df['차종'].unique()

array(['승용', '화물', '승합', '특수', nan], dtype=object)

In [16]:
df['용도'].unique()

array(['P', 'B', 'O'], dtype=object)

In [17]:
# 용도
use_dict = {'B':'영업용', 'O':'관용', 'P':'자가용', 'T':'개인택시'}
df['용도'] = df['용도'].map(use_dict)
df['용도'].unique()

array(['자가용', '영업용', '관용'], dtype=object)

In [18]:
df.head()

,차량관리번호,차량등록번호,본거지 법정동 코드,소유자 구분,차종,용도,미정,현재 회원번호,미정,미정,...,차량등록번호 숫자 정보,차량 말소 YN,미정,최초 회원번호,취득 일자,취득 금액,미정,생성 일시,수정 일시,미정
0,10762211742-01,서울1나4019,1165010700,기타,승용,자가용,3C89752E624558D6234883FF31231256,FFFB77E175610478415F654BFE77B2E7,94CF4601CD36E37259A508CDB9CF1BF2E583F1FA06E4C9...,94CF4601CD36E37259A508CDB9CF1BF2E583F1FA06E4C9...,...,14019,N,3C89752E624558D6234883FF31231256,7C71D518B5666D98E792700DA807B211,NaN,0.0,NaN,19/06/22,NaN,SYSTEM
1,KG68T122688*-01,대구1다1476,2711010500,기타,승용,자가용,A716E948EFD514847BD5C77D9B054F8A,NaN,FB1685B2F216C8F517B246583C52ECA58997FF03014780...,FB1685B2F216C8F517B246583C52ECA58997FF03014780...,...,11476,N,A716E948EFD514847BD5C77D9B054F8A,NaN,NaN,NaN,NaN,19/06/22,NaN,SYSTEM
2,10762211783-01,인천1마8052,2820010300,기타,승용,자가용,0F243BB4751963E628E19A5BCD6CFFCB,NaN,6A0C78943819F407C87E00116981877E301F7677D1A003...,6A0C78943819F407C87E00116981877E301F7677D1A003...,...,18052,N,FAABC328957C8639B00F98FDA7073664,NaN,NaN,NaN,NaN,19/06/22,NaN,SYSTEM
3,PN71C018511000000-01,87로9835,4213011200,주민,화물,자가용,73CFB46180AD3302B1A9F45E550EF6E5,DBFCB87570199614FFBB9FA11DCD4675,26F22501FA02CE68011BC524C18450B9F42F7479B268F8...,26F22501FA02CE68011BC524C18450B9F42F7479B268F8...,...,879835,N,0C20DFD151DBF872DF3867ABE606A587,CCF2FFB275E6DC4551E1E717CEC86A32,20160222,100000.0,NaN,19/06/22,NaN,SYSTEM
4,KMHLA11FPGU060639-01,경남1러3590,4812110500,주민,승용,자가용,0132B746078DFA5BA833D6906AD06A13,6194C458F73E4656322A364FEA4E9441,D6E42385110B0C268E42FCB99F442B91B9FB08B6708219...,D6E42385110B0C268E42FCB99F442B91B9FB08B6708219...,...,13590,N,D5845F55A1C2E8D7B93CC9E6A38B3319,NaN,NaN,NaN,NaN,19/06/22,NaN,SYSTEM

## [전처리]
- 오류
    - '차량 제작 일자'
        - '1996 308' -> 19960308
    - '배출가스 인증번호'
        - ' ' -> np.nan : (빈칸) 존재
        - ' 7MY-HD-24-30' -> '7MY-HD-24-30': 번호 앞에 빈칸 존재

### 차량 제작 일자 수정

In [19]:
df[df['차량 제작 일자'] == '1996 308']

,차량관리번호,차량등록번호,본거지 법정동 코드,소유자 구분,차종,용도,미정,현재 회원번호,미정,미정,...,차량등록번호 숫자 정보,차량 말소 YN,미정,최초 회원번호,취득 일자,취득 금액,미정,생성 일시,수정 일시,미정
530017,KNAJA5265TA751541-01,인천32나6035,2811015100,법인,승용,자가용,293C30222FD9EE522F64DB84371B58D0EBE3A35ABEAB17...,2123F8C8CD86D35EF5B1DB64C97B201D,BF4253B217B6EB44668EBED123EE31713ED8D6E4BDFBA4...,BF4253B217B6EB44668EBED123EE31713ED8D6E4BDFBA4...,...,326035,N,5264975F8FAE3B2D40D8731911D6CF1A,E266408948954F8EF71B8A51F9D40875,20020525,800000.0,NaN,19/06/22,NaN,SYSTEM

In [20]:
df.loc[530017, '차량 제작 일자']

'1996 308'

In [21]:
df.loc[530017, '차량 제작 일자'] = 19960308
df.loc[530017, '차량 제작 일자']

19960308

In [22]:
df['차량 제작 일자'] = df['차량 제작 일자'].astype('float')
df['차량 제작 일자'].dtype

dtype('float64')

In [23]:
df['차량 제작 일자'].head()

0   NaN
1   NaN
2   NaN
3   NaN
4   NaN
Name: 차량 제작 일자, dtype: float64

### 배출가스 인증번호 수정

In [24]:
df[df['배출가스 인증번호'] == ' '].shape

(66, 32)

In [25]:
df[df['배출가스 인증번호'] == '  '].shape

(0, 32)

In [26]:
df[df['배출가스 인증번호'] == '   '].shape

(0, 32)

In [27]:
count = 0
for i, one in enumerate(df['배출가스 인증번호']):
    try:
        if ' ' in one:
            print(i, one)
            count += 1
    except:
        pass

5784
6334
18347
40565
60155
75462
82826
89178
119499
120458
168532
230425
295892
298173
300749
316770
445483
709692
794713
841134
1051398
1239103
1263864
1275304
1493884
3538973
3770746  3MY-HD-16
3795871 5MY-KM-22-46
3796078 5MY-KM-22-46
3799078 5MY-KM-22-46
3800442 5MY-KM-22-46
3802783 5MY-KM-22-46
3804238 5MY-KM-22-46
3804342 5MY-KM-22-46
3806660 5MY-KM-22-46
3813517 5MY-KM-22-46
3814040 5MY-KM-22-46
3816071 5MY-KM-22-46
3821142 5MY-KM-22-46
3826249 5MY-KM-22-46
3828484 5MY-KM-22-46
3828486 5MY-KM-22-46
3828534 5MY-KM-22-46
3830332 5MY-KM-22-46
3831497 5MY-KM-22-46
3836044 5MY-KM-22-46
3836343 5MY-KM-22-46
3838984 5MY-KM-22-46
3850949 5MY-KM-22-46
3855855 5MY-KM-22-46
3878433 5MY-KM-22-46
3879107 5MY-KM-22-46
3890160 5MY-KM-22-46
3896160 5MY-KM-22-46
4109814 5MY-KM-22-46
4111126 5MY-KM-22-46
4118036 5MY-KM-22-46
4379504 5MY-KM-22-46
4452097
4461611 5MY-KM-22-46
4537633 5MY-KM-22-46
4570919 5MY-KM-22-46
4609318 5MY-KM-22-46
4610908 5MY-KM-22-46
4616501 5MY-KM-22-46
4736426 5MY-KM-22-46
4961194
4966881  4MY-DB-03
5639132  7MY-HD-24-30
5660258  7MY-HD-24-30
5668411  7MY-HD-24-30
5671286  7MY-HD-24-30
5702905  7MY-HD-24-30
5707164  7MY-HD-24-30
5725258  7MY-HD-24-30
5727815  7MY-HD-24-30
5734495  7MY-SY-13-41
6137019
6450639  7MY-DC-24-72
8851906  7MY-HD-14-68
9019281  8MY-DC-24-12
9325515  7MY-DC-24-70
10979939
11120664
11183706
11854308  AMY-DC-14-55
14642068  4MY-KM-03
15819269  4MY-SY-01
15824474  4MY-SY-01
17385515
18124533
19423784
19572989
19808897
20322599
20383336  GMY-HD-14-36
21561068  NMY-KM-13
21717816
22629053
23138104
23180889
23188446
23197052
23224432
23246512
23251365
23257541
23275976
23278378  JEG-UC-IM-14-0-79
23327708
23334361
23403307
23526813
23528880
23538489
23561978
23615426
23615428
23639612
23661792  4MY-DB-03
23824189  4MY-KM-07
24131956  FMY-HT-14-1
24239422
24530012  3MY-HD-09
24716575  4MY-KM-07
25049954  4MY-KM-07
25053669  5MY-BK-14-08
25284222  1MY-SY-27
25762132  DMY-HD-14-09
25834511
26252979 5MY-HD-24-37
26270302
26439867  4MY-HD-56
26667108
26822744
27296823
27458618

In [28]:
count

137

In [29]:
df['배출가스 인증번호'] = df['배출가스 인증번호'].replace(' ', np.nan)
df['배출가스 인증번호'] = df['배출가스 인증번호'].str.strip()

In [30]:
count = 0
for i, one in enumerate(df['배출가스 인증번호']):
    try:
        if ' ' in one:
            print(i, one)
            count += 1
    except:
        pass

In [31]:
count

0

### 중복 차대번호 제거
- '최초등록일자', '배출가스검사유효일자’, 내림차순 정렬(ascending=False)

In [32]:
df.shape

(29534047, 32)

In [33]:
len(df['차대번호'].unique())

29521505

In [34]:
df.shape[0] - len(df['차대번호'].unique())

12542

In [35]:
# about 35s
temp = df.copy()

In [36]:
# about 30s
temp['dupl'] = temp.duplicated('차대번호').to_list()
temp[temp['dupl'] == True].shape

(12542, 33)

In [37]:
temp[temp['dupl'] == True].sort_values('차대번호').head()

,차량관리번호,차량등록번호,본거지 법정동 코드,소유자 구분,차종,용도,미정,현재 회원번호,미정,미정,...,차량 말소 YN,미정,최초 회원번호,취득 일자,취득 금액,미정,생성 일시,수정 일시,미정,dupl
12920,02714202543-02,전남88바4100,4684025623,법인,화물,영업용,F7753D45C13AA16062A88245758B7D2E,F5D61439CB9238E48AECECF5032448DC,C970157167EDAF82F98541BEBFD58BB1BCA7E0FDDAFCD3...,C970157167EDAF82F98541BEBFD58BB1BCA7E0FDDAFCD3...,...,N,4279B803FE44CB9B7340B093634069D2,A0AD12FEF546F16B2B3E9F3553EBA78A,20071025,0.0,NaN,19/06/22,NaN,SYSTEM,True
8932,4799경북5가8961,경북5가8961,4729036031,기타,승합,자가용,CCC5704BAFCC29F2958D0D32CED1FE4A,NaN,62CAB3B5761F9CBED520290FC5561E82494FC746EDD2F6...,62CAB3B5761F9CBED520290FC5561E82494FC746EDD2F6...,...,N,CCC5704BAFCC29F2958D0D32CED1FE4A,NaN,NaN,NaN,NaN,19/06/22,NaN,SYSTEM,True
8803,03812100678-02,대구7라6343,2723010700,기타,화물,자가용,1A626438A254ADAAEC2A54F67B12F3B6,NaN,293EEEDBAA9D90630322974F68FF44D7756D1EA17960DC...,293EEEDBAA9D90630322974F68FF44D7756D1EA17960DC...,...,N,B1D569B53076A435DF6F64E35C69C249,NaN,NaN,0.0,NaN,19/06/22,NaN,SYSTEM,True
16805,4199경기5더1681,경기5더1681,4111512900,기타,승합,자가용,41E717A4E43EF065F16C2CA4E0B4FE62,NaN,4D6C456F5EA00A1D710B1FA9EB407D26304452416EF808...,4D6C456F5EA00A1D710B1FA9EB407D26304452416EF808...,...,N,0F68F37522D7AC9A6312C3FDB3032D20,NaN,NaN,NaN,NaN,19/06/22,NaN,SYSTEM,True
1435,10782112705-02,대구7다4854,2717010500,기타,화물,자가용,96AB517FE535425FE80031865F13FFB9,NaN,5DAEC5ED1C2610777083FD2CBDE30146AC321B6AFF3045...,5DAEC5ED1C2610777083FD2CBDE30146AC321B6AFF3045...,...,N,4AF8584F9F305593B4E377C14FDD56F3,NaN,NaN,0.0,NaN,19/06/22,NaN,SYSTEM,True

#### [출력] 중복차대번호 샘플

In [38]:
temp[temp['dupl'] == True].sort_values('차대번호').to_csv('analysis2/[ODS][샘플]중복차대번호.csv', index=False, encoding='cp949')

#### 중복 차대번호 제거

In [39]:
df.shape

(29534047, 32)

In [40]:
# about 1m 40s
df1 = df.sort_values(['최초 등록 일자', '배출가스검사유효일자'], ascending=[False, False]).drop_duplicates('차대번호').reset_index(drop=True)
df1.shape

(29521505, 32)

## [출력] [ODS]자동차_등록정보(CEG_CAR_MIG)(중복 차대번호 제거)

In [41]:
# about 12m
df1.to_csv(os.path.join(ods_fold, '[ODS]자동차_등록정보(중복차대제거)(2022.12.29).csv'), index=False)

In [42]:
df1['배출가스 등급'].unique()

array(['1', '2', 'X', '3', 'T2', 'T3', 'T4', '5', '4', 'T5', nan],
      dtype=object)

In [43]:
df1['배출가스 등급'].isnull().sum()

31

In [44]:
df1['배출가스 등급'].value_counts()

2     11798398
3      9886814
1      2869999
5      2377881
4      1897535
X       303662
T2      250264
T3      136832
T5          47
T4          42
Name: 배출가스 등급, dtype: int64

In [45]:
g1 = df1[(df1['배출가스 등급'] == '1')]
g1.shape

(2869999, 32)

In [46]:
g2 = df1[(df1['배출가스 등급'] == '2') | (df1['배출가스 등급'] == 'T2')]
g2.shape

(12048662, 32)

In [47]:
g3 = df1[(df1['배출가스 등급'] == '3') | (df1['배출가스 등급'] == 'T3')]
g3.shape

(10023646, 32)

In [48]:
g4 = df1[(df1['배출가스 등급'] == '4') | (df1['배출가스 등급'] == 'T4')]
g4.shape

(1897577, 32)

In [49]:
g5 = df1[(df1['배출가스 등급'] == '5') | (df1['배출가스 등급'] == 'T5')]
g5.shape

(2377928, 32)

## [출력] [ODS]등급별 등록정보(중복차대제거)

In [50]:
# about 1m
g1.to_csv(os.path.join(ods_fold, '[ODS][G1]자동차_등록정보(중복차대제거)(2022.12.29).csv'), index=False, encoding='cp949')
# about 5m
g2.to_csv(os.path.join(ods_fold, '[ODS][G2]자동차_등록정보(중복차대제거)(2022.12.29).csv'), index=False, encoding='cp949')
# about 3m 40s
g3.to_csv(os.path.join(ods_fold, '[ODS][G3]자동차_등록정보(중복차대제거)(2022.12.29).csv'), index=False, encoding='cp949')
# about 40s
g4.to_csv(os.path.join(ods_fold, '[ODS][G4]자동차_등록정보(중복차대제거)(2022.12.29).csv'), index=False, encoding='cp949')
# about 30s
g5.to_csv(os.path.join(ods_fold, '[ODS][G5]자동차_등록정보(중복차대제거)(2022.12.29).csv'), index=False, encoding='cp949')

## 말소 차량 제거

In [51]:
df1['차량 말소 YN'].value_counts()

N    25692466
Y     3829039
Name: 차량 말소 YN, dtype: int64

In [52]:
g_n = df1[df1['차량 말소 YN'] == 'N']
g_n.shape

(25692466, 32)

In [53]:
g1_n = g1[g1['차량 말소 YN'] == 'N'].reset_index(drop=True)
g1_n.shape

(2771361, 32)

In [54]:
g2_n = g2[g2['차량 말소 YN'] == 'N'].reset_index(drop=True)
g2_n.shape

(11207276, 32)

In [55]:
g3_n = g3[g3['차량 말소 YN'] == 'N'].reset_index(drop=True)
g3_n.shape

(8759209, 32)

In [56]:
g4_n = g4[g4['차량 말소 YN'] == 'N'].reset_index(drop=True)
g4_n.shape

(1511139, 32)

In [57]:
g5_n = g5[g5['차량 말소 YN'] == 'N'].reset_index(drop=True)
g5_n.shape

(1154696, 32)

### [출력] [ODS]등록정보(말소제거)

In [58]:
# about 11m
g_n.to_csv(os.path.join(ods_fold, '[ODS]자동차_등록정보(말소제거)(중복차대제거)(2022.12.29).csv'), index=False, encoding='cp949')

### [출력] [ODS]등급별 등록정보(말소제거)

In [59]:
# about 1m
g1_n.to_csv(os.path.join(ods_fold, '[ODS][G1]자동차_등록정보(말소제거)(중복차대제거)(2022.12.29).csv'), index=False, encoding='cp949')
# about 5m
g2_n.to_csv(os.path.join(ods_fold, '[ODS][G2]자동차_등록정보(말소제거)(중복차대제거)(2022.12.29).csv'), index=False, encoding='cp949')
# about 3m 40s
g3_n.to_csv(os.path.join(ods_fold, '[ODS][G3]자동차_등록정보(말소제거)(중복차대제거)(2022.12.29).csv'), index=False, encoding='cp949')
# about 40s
g4_n.to_csv(os.path.join(ods_fold, '[ODS][G4]자동차_등록정보(말소제거)(중복차대제거)(2022.12.29).csv'), index=False, encoding='cp949')
# about 30s
g5_n.to_csv(os.path.join(ods_fold, '[ODS][G5]자동차_등록정보(말소제거)(중복차대제거)(2022.12.29).csv'), index=False, encoding='cp949')

# 코드 마지막