# Library

In [10]:
import pandas as pd
import numpy as np
import os
from tqdm import tqdm

In [11]:
# ODS 폴더 경로
ods_fold = 'D:/data/big2/ODS'

## 저감장치부착이력

### columns

In [12]:
name = 'TB_ERP_ATT_HIS'
file_name = f'[정제]{name}.xlsx'
col_exc = pd.read_excel(f'analysis/ODSvsSTD/{file_name}', sheet_name='ODS_col')

In [14]:
col_exc.shape

(39, 2)

In [15]:
# 필요한 컬럼만 추출
col_exc = col_exc
col = col_exc['컬럼'].to_list()
col_dict = {a:b for a, b in zip(col_exc['컬럼'], col_exc['내용'])}
col_dict

{'EMI_RED_TYPE2': '저감장치종류',
 'PM_EFF_VAL': 'PM최종저감효율',
 'TDMS_YN': 'TDMS부착여부',
 'CONF_CHG_DATE': '구조변경일자',
 'ATT_ORG_NM': '부착업체명',
 'ATT_DATE': '부착일자',
 'T_CHK_DATE': '탈거승인일',
 'CAR_REG_NO': '차량번호',
 'CAR_SER_NO': '차대번호',
 'CAR_MILE': '주행거리',
 'EMI_RED_REMOVE_YN': '저감장치반납여부',
 'EMI_RED_TYPE1': '저감장치구분',
 'ERP_REG_NO': '저감등록번호',
 'RETURN_CHK_DATE': '재장착확인일자',
 'EQUIP_SER_NO': '장치일련번호',
 'THREE_WAY_CATALYST_RETURN_YN': '삼원촉매장치반납여부',
 'SIDO': '미정',
 'SIGUNGU': '미정',
 'CURR_CAR_REG_NO': '미정',
 'CAR_TYPE_NM': '미정',
 'USAGE': '미정',
 'CAR_YEAR': '미정',
 'FIRST_REG_DATE': '미정',
 'CAR_OWNER_NM': '미정',
 'USER_CONTACT_TEL_NO': '미정',
 'CURR_SIGUNGU': '미정',
 'REG_MODEL_NO': '미정',
 'SMO_CHK_ORG_NM': '미정',
 'MAKER_ORG_CD': '미정',
 'ETC_CONT1': '미정',
 'ETC_CONT2': '미정',
 'ETC_CONT3': '미정',
 'ETC_CONT4': '미정',
 'ETC_CONT5': '미정',
 'SRC_TBL': '미정',
 'CAR_NM': '미정',
 'REC_DATE': '미정',
 'REC_NM': '미정',
 'APL_LAF_CD': '미정'}

### [로드] 저감장치부착이력

In [16]:
# about 14s
file_name = f'ODS_{name}.csv'
ins = pd.read_csv(os.path.join(ods_fold, file_name), usecols=col, low_memory=False)
ins.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 810777 entries, 0 to 810776
Data columns (total 39 columns):
 #   Column                        Non-Null Count   Dtype
---  ------                        --------------   -----
 0   ERP_REG_NO                    810777 non-null  int64
 1   SIDO                          810777 non-null  object
 2   SIGUNGU                       810661 non-null  object
 3   CAR_REG_NO                    810777 non-null  object
 4   CURR_CAR_REG_NO               77466 non-null   object
 5   CAR_SER_NO                    810777 non-null  object
 6   CAR_TYPE_NM                   810777 non-null  object
 7   USAGE                         810774 non-null  object
 8   CAR_YEAR                      810777 non-null  int64
 9   FIRST_REG_DATE                775578 non-null  float64
 10  CAR_OWNER_NM                  808532 non-null  object
 11  USER_CONTACT_TEL_NO           792453 non-null  object
 12  ATT_ORG_NM                    801632 non-null  object
 13  CURR_SIGUNGU                  574335 non-null  object
 14  ATT_DATE                      810775 non-null  float64
 15  EMI_RED_TYPE1                 810777 non-null  object
 16  EMI_RED_TYPE2                 586898 non-null  object
 17  REG_MODEL_NO                  810774 non-null  object
 18  EQUIP_SER_NO                  682711 non-null  object
 19  SMO_CHK_ORG_NM                670378 non-null  object
 20  CONF_CHG_DATE                 810777 non-null  int64
 21  CAR_MILE                      796828 non-null  float64
 22  MAKER_ORG_CD                  810777 non-null  object
 23  ETC_CONT1                     56 non-null      object
 24  ETC_CONT2                     290840 non-null  object
 25  ETC_CONT3                     44 non-null      object
 26  ETC_CONT4                     234839 non-null  object
 27  ETC_CONT5                     349596 non-null  object
 28  SRC_TBL                       253341 non-null  object
 29  CAR_NM                        810773 non-null  object
 30  REC_DATE                      810748 non-null  float64
 31  REC_NM                        564302 non-null  object
 32  APL_LAF_CD                    810243 non-null  object
 33  EMI_RED_REMOVE_YN             326030 non-null  object
 34  T_CHK_DATE                    178 non-null     float64
 35  RETURN_CHK_DATE               441 non-null     float64
 36  PM_EFF_VAL                    84460 non-null   float64
 37  TDMS_YN                       204951 non-null  object
 38  THREE_WAY_CATALYST_RETURN_YN  13694 non-null   object
dtypes: float64(7), int64(3), object(29)
memory usage: 241.2+ MB

In [17]:
ins = ins[col]
ins.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 810777 entries, 0 to 810776
Data columns (total 39 columns):
 #   Column                        Non-Null Count   Dtype
---  ------                        --------------   -----
 0   EMI_RED_TYPE2                 586898 non-null  object
 1   PM_EFF_VAL                    84460 non-null   float64
 2   TDMS_YN                       204951 non-null  object
 3   CONF_CHG_DATE                 810777 non-null  int64
 4   ATT_ORG_NM                    801632 non-null  object
 5   ATT_DATE                      810775 non-null  float64
 6   T_CHK_DATE                    178 non-null     float64
 7   CAR_REG_NO                    810777 non-null  object
 8   CAR_SER_NO                    810777 non-null  object
 9   CAR_MILE                      796828 non-null  float64
 10  EMI_RED_REMOVE_YN             326030 non-null  object
 11  EMI_RED_TYPE1                 810777 non-null  object
 12  ERP_REG_NO                    810777 non-null  int64
 13  RETURN_CHK_DATE               441 non-null     float64
 14  EQUIP_SER_NO                  682711 non-null  object
 15  THREE_WAY_CATALYST_RETURN_YN  13694 non-null   object
 16  SIDO                          810777 non-null  object
 17  SIGUNGU                       810661 non-null  object
 18  CURR_CAR_REG_NO               77466 non-null   object
 19  CAR_TYPE_NM                   810777 non-null  object
 20  USAGE                         810774 non-null  object
 21  CAR_YEAR                      810777 non-null  int64
 22  FIRST_REG_DATE                775578 non-null  float64
 23  CAR_OWNER_NM                  808532 non-null  object
 24  USER_CONTACT_TEL_NO           792453 non-null  object
 25  CURR_SIGUNGU                  574335 non-null  object
 26  REG_MODEL_NO                  810774 non-null  object
 27  SMO_CHK_ORG_NM                670378 non-null  object
 28  MAKER_ORG_CD                  810777 non-null  object
 29  ETC_CONT1                     56 non-null      object
 30  ETC_CONT2                     290840 non-null  object
 31  ETC_CONT3                     44 non-null      object
 32  ETC_CONT4                     234839 non-null  object
 33  ETC_CONT5                     349596 non-null  object
 34  SRC_TBL                       253341 non-null  object
 35  CAR_NM                        810773 non-null  object
 36  REC_DATE                      810748 non-null  float64
 37  REC_NM                        564302 non-null  object
 38  APL_LAF_CD                    810243 non-null  object
dtypes: float64(7), int64(3), object(29)
memory usage: 241.2+ MB

In [18]:
ins.columns = [col_dict[x] for x in ins.columns]

In [19]:
ins.columns

Index(['저감장치종류', 'PM최종저감효율', 'TDMS부착여부', '구조변경일자', '부착업체명', '부착일자', '탈거승인일',
       '차량번호', '차대번호', '주행거리', '저감장치반납여부', '저감장치구분', '저감등록번호', '재장착확인일자',
       '장치일련번호', '삼원촉매장치반납여부', '미정', '미정', '미정', '미정', '미정', '미정', '미정', '미정',
       '미정', '미정', '미정', '미정', '미정', '미정', '미정', '미정', '미정', '미정', '미정', '미정',
       '미정', '미정', '미정'],
      dtype='object')

In [20]:
ins = ins[['저감장치종류', 'PM최종저감효율', 'TDMS부착여부', '구조변경일자', '부착업체명', '부착일자', '탈거승인일',
       '차량번호', '차대번호', '주행거리', '저감장치반납여부', '저감장치구분', '저감등록번호', '재장착확인일자',
       '장치일련번호', '삼원촉매장치반납여부',]]

### [출력] 저감장치부착이력

In [22]:
# about 5s
ins.to_csv(os.path.join(ods_fold, f'[ODS]저감장치부착이력(2022.12.29).csv'), index=False, encoding='cp949')

# 코드 마지막