# Library

In [1]:
import pandas as pd
import numpy as np
import os

In [2]:
ods_folder = 'D:/data/big2/ODS'
file_name = '[ODS]자동차_제원정보(2022.12.29).csv'
ods_path = os.path.join(ods_folder, file_name)

# 로드

In [3]:
# about 5s
df = pd.read_csv(ods_path, encoding='cp949', low_memory=False)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 545374 entries, 0 to 545373
Data columns (total 28 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   제원관리번호       545374 non-null  object
 1   차명           545272 non-null  object
 2   차종           545370 non-null  object
 3   차종 분류        531367 non-null  object
 4   차종 유형 (소분류)  531332 non-null  object
 5   자동차 형식       516295 non-null  object
 6   제작사 명        529017 non-null  object
 7   연료           503254 non-null  object
 8   엔진형식         494157 non-null  object
 9   공차중량         0 non-null       float64
 10  총 중량         541702 non-null  float64
 11  적재 중량        446181 non-null  float64
 12  엔진출력         471948 non-null  float64
 13  배기량          510521 non-null  float64
 14  승차 인원        545313 non-null  float64
 15  차량 길이        514786 non-null  float64
 16  차량 너비        514799 non-null  float64
 17  차량 높이        514732 non-null  float64
 18  원산지 명        540392 non-null  object
 19  미정           0 non-null       float64
 20  삭제 YN        545374 non-null  object
 21  승인 일자        532881 non-null  object
 22  구동 형식        114619 non-null  object
 23  변속기 종류       540165 non-null  object
 24  미정.1         1 non-null       object
 25  생성 일시        545374 non-null  object
 26  수정 일시        14578 non-null   object
 27  미정.2         545374 non-null  object
dtypes: float64(10), object(18)
memory usage: 116.5+ MB

In [10]:
# about 5s
file_name = '[정제]CEG_CAR_SRC_MIG.xlsx'
ods_path = os.path.join('analysis/ODSvsSTD', file_name)
col = pd.read_excel(ods_path, sheet_name='ODS_col')
col.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28 entries, 0 to 27
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   컬럼      28 non-null     object
 1   내용      28 non-null     object
dtypes: object(2)
memory usage: 576.0+ bytes

In [13]:
col_dict = {b:a for a,b in zip(col['컬럼'], col['내용'])}
col_dict

{'수정 일시': 'UPDT_DT',
 '승인 일자': 'CNFRM_DE',
 '삭제 YN': 'DELE_YN',
 '생성 일시': 'CRTN_DT',
 '총 중량': 'TOT_WGHT',
 '차종 유형 (소분류)': 'VHCTY_TY',
 '차종 분류': 'VHCTY_CL',
 '차종': 'VHCTY',
 '차명': 'VHCNM',
 '차량 높이': 'VHCL_HG',
 '차량 너비': 'VHCL_WH',
 '차량 길이': 'VHCL_LT',
 '구동 형식': 'DRV_FRM',
 '제작사 명': 'MKR_NM',
 '제원관리번호': 'SRCMNNO',
 '적재 중량': 'CRYNG_WGHT',
 '자동차 형식': 'CAR_FRM',
 '공차중량': 'EMPV_WGHT',
 '원산지 명': 'PLOR_NM',
 '연료': 'FUEL',
 '엔진형식': 'EGINTY',
 '엔진출력': 'EGINPWR',
 '승차 인원': 'TKCAR_NMPR',
 '배기량': 'DSPLVL',
 '변속기 종류': 'GEARBOX_KND',
 '미정': 'USER_ID'}

In [5]:
an = df.isnull().sum().reset_index()
an.columns = ['한글컬럼', '결측치']
an

           한글컬럼     결측치
0        제원관리번호       0
1            차명     102
2            차종       4
3         차종 분류   14007
4   차종 유형 (소분류)   14042
5        자동차 형식   29079
6         제작사 명   16357
7            연료   42120
8          엔진형식   51217
9          공차중량  545374
10         총 중량    3672
11        적재 중량   99193
12         엔진출력   73426
13          배기량   34853
14        승차 인원      61
15        차량 길이   30588
16        차량 너비   30575
17        차량 높이   30642
18        원산지 명    4982
19           미정  545374
20        삭제 YN       0
21        승인 일자   12493
22        구동 형식  430755
23       변속기 종류    5209
24         미정.1  545373
25        생성 일시       0
26        수정 일시  530796
27         미정.2       0

In [18]:
temp =[]
for x in an['한글컬럼']:
    try:
        temp.append(col_dict[x])
    except:
        temp.append('미정')
an['컬럼'] = temp
an = an[['컬럼', '한글컬럼', '결측치']]

## [출력] 제원정보 결측치 통계

In [19]:
an.to_excel('analysis2/[통계]제원정보_결측치.xlsx', index=False)

# 코드 마지막