# 정밀검사

# Library

In [1]:
import pandas as pd
import numpy as np
from tqdm import tqdm
import re

In [2]:
col = pd.read_excel('data/220819_정밀검사_컬럼명.xlsx')
col.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 75 entries, 0 to 74
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   col     75 non-null     object
dtypes: object(1)
memory usage: 728.0+ bytes

In [3]:
col['col']

0       정밀검사소명
1       정밀검사일자
2       정밀검사종류
3     정밀검사접수번호
4         차량번호
        ...
70        삭제구분
71       삭제사유1
72       삭제사유2
73       삭제사유3
74       삭제사유4
Name: col, Length: 75, dtype: object

In [4]:
df = pd.read_table('data/220819_정밀검사.txt', names=col['col'], encoding='cp949')
df.info()

C:\Users\kbjung\AppData\Local\Temp\ipykernel_18180\1084732681.py:1: DtypeWarning: Columns (12,72,73) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_table('data/220819_정밀검사.txt', names=col['col'], encoding='cp949')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1444208 entries, 0 to 1444207
Data columns (total 75 columns):
 #   Column     Non-Null Count    Dtype
---  ------     --------------    -----
 0   정밀검사소명     1444208 non-null  object
 1   정밀검사일자     1444208 non-null  int64
 2   정밀검사종류     1444208 non-null  object
 3   정밀검사접수번호   1444208 non-null  object
 4   차량번호       1444208 non-null  object
 5   차대번호       1444208 non-null  object
 6   차량형식번호     1444208 non-null  object
 7   차명         1444208 non-null  object
 8   차종         1444208 non-null  object
 9   차량용도       1444208 non-null  object
 10  차량연식       1444208 non-null  int64
 11  차량연료       1444208 non-null  object
 12  주행거리       1444208 non-null  object
 13  차량길이       1443935 non-null  float64
 14  차량너비       1443935 non-null  float64
 15  차량높이       1443935 non-null  float64
 16  엔진형식       1444198 non-null  object
 17  원동기배기량     1443935 non-null  float64
 18  엔진출력       1444207 non-null  object
 19  차량중량       1443935 non-null  float64
 20  총중량        1443934 non-null  float64
 21  정원         1443934 non-null  float64
 22  비고         99302 non-null    object
 23  최초등록일      1444208 non-null  int64
 24  정밀검사유효기간   1444208 non-null  int64
 25  관능검사판정     1444208 non-null  object
 26  관능검사부적합내용  30228 non-null    object
 27  정밀검사측정방법   1444208 non-null  object
 28  무부하매연측정치1  1411554 non-null  float64
 29  무부하매연허용치1  1411538 non-null  float64
 30  무부하매연판정1   1411534 non-null  object
 31  무부하매연측정치2  1074609 non-null  float64
 32  무부하매연허용치2  1033948 non-null  float64
 33  무부하매연판정2   802563 non-null   object
 34  무부하매연측정치3  1016832 non-null  float64
 35  무부하매연허용치3  1016822 non-null  float64
 36  무부하매연판정3   774684 non-null   object
 37  무부하매연측정치4  1016823 non-null  float64
 38  무부하매연허용치4  1016813 non-null  float64
 39  무부하매연판정4   774356 non-null   object
 40  무부하매연측정치5  1016823 non-null  float64
 41  무부하매연허용치5  1016813 non-null  float64
 42  무부하매연판정5   774356 non-null   object
 43  이산화탄소값     973592 non-null   float64
 44  최대출력허용치    973588 non-null   float64
 45  최대출력측정값    711699 non-null   object
 46  산소값        1353635 non-null  float64
 47  공기온도       397102 non-null   float64
 48  공기압력       0 non-null        float64
 49  정밀검사판정     1353635 non-null  float64
 50  재검사기간      1359549 non-null  float64
 51  정밀검사유효기간2  1359549 non-null  float64
 52  관능검사등록자    1444208 non-null  object
 53  정밀검사등록자    1444208 non-null  object
 54  정밀검사소대표명   1444208 non-null  object
 55  기타내용1      1443420 non-null  object
 56  기타내용2      1411095 non-null  object
 57  기타내용3      1311155 non-null  object
 58  기타내용4      0 non-null        float64
 59  기타내용5      0 non-null        float64
 60  원본대장테이블    0 non-null        float64
 61  정밀검사시간정보   0 non-null        float64
 62  통합접수번호     0 non-null        float64
 63  데이터생성일자    0 non-null        float64
 64  무부하매연측정치6  1411554 non-null  object
 65  무부하매연허용치6  1444208 non-null  object
 66  무부하매연판정6   1444208 non-null  int64
 67  수신파일명      1444208 non-null  object
 68  제작등록일자     1442382 non-null  float64
 69  데이터구분      1444208 non-null  object
 70  삭제구분       1444208 non-null  object
 71  삭제사유1      0 non-null        float64
 72  삭제사유2      7 non-null        object
 73  삭제사유3      274 non-null      object
 74  삭제사유4      0 non-null        float64
dtypes: float64(34), int64(5), object(36)
memory usage: 826.4+ MB

In [5]:
df.columns

Index(['정밀검사소명', '정밀검사일자', '정밀검사종류', '정밀검사접수번호', '차량번호', '차대번호', '차량형식번호',
       '차명', '차종', '차량용도', '차량연식', '차량연료', '주행거리', '차량길이', '차량너비', '차량높이',
       '엔진형식', '원동기배기량', '엔진출력', '차량중량', '총중량', '정원', '비고', '최초등록일',
       '정밀검사유효기간', '관능검사판정', '관능검사부적합내용', '정밀검사측정방법', '무부하매연측정치1', '무부하매연허용치1',
       '무부하매연판정1', '무부하매연측정치2', '무부하매연허용치2', '무부하매연판정2', '무부하매연측정치3',
       '무부하매연허용치3', '무부하매연판정3', '무부하매연측정치4', '무부하매연허용치4', '무부하매연판정4',
       '무부하매연측정치5', '무부하매연허용치5', '무부하매연판정5', '이산화탄소값', '최대출력허용치', '최대출력측정값',
       '산소값', '공기온도', '공기압력', '정밀검사판정', '재검사기간', '정밀검사유효기간2', '관능검사등록자',
       '정밀검사등록자', '정밀검사소대표명', '기타내용1', '기타내용2', '기타내용3', '기타내용4', '기타내용5',
       '원본대장테이블', '정밀검사시간정보', '통합접수번호', '데이터생성일자', '무부하매연측정치6', '무부하매연허용치6',
       '무부하매연판정6', '수신파일명', '제작등록일자', '데이터구분', '삭제구분', '삭제사유1', '삭제사유2',
       '삭제사유3', '삭제사유4'],
      dtype='object')

In [6]:
# csv 출력
df.to_csv('data/220819_정기검사.csv', encoding='cp949', index=False)
# 47.7s

In [7]:
info_df = df.isnull().sum().reset_index()
info_df.head()

      index  0
0    정밀검사소명  0
1    정밀검사일자  0
2    정밀검사종류  0
3  정밀검사접수번호  0
4      차량번호  0

In [61]:
df['제작등록일자'].head()

0    20080430.0
1    20100410.0
2    20081030.0
3    20100415.0
4    20020328.0
Name: 제작등록일자, dtype: float64

## 기본 확인

In [ ]:
# null 값 있는 컬럼
# 13	차량길이	273
# 14	차량너비	273
# 15	차량높이	273
# 16	엔진형식	10
# 17	원동기배기량	273
# 18	엔진출력	1
# 19	차량중량	273
# 20	총중량	274
# 21	정원	274
# 22	비고	1344906
# 26	관능검사부적합내용	1413980
# 28	무부하매연측정치1	32654
# 29	무부하매연허용치1	32670
# 30	무부하매연판정1	32674
# 31	무부하매연측정치2	369599
# 32	무부하매연허용치2	410260
# 33	무부하매연판정2	641645
# 34	무부하매연측정치3	427376
# 35	무부하매연허용치3	427386
# 36	무부하매연판정3	669524
# 37	무부하매연측정치4	427385
# 38	무부하매연허용치4	427395
# 39	무부하매연판정4	669852
# 40	무부하매연측정치5	427385
# 41	무부하매연허용치5	427395
# 42	무부하매연판정5	669852
# 43	이산화탄소값	470616
# 44	최대출력허용치	470620
# 45	최대출력측정값	732509
# 46	산소값	90573
# 47	공기온도	1047106
# 48	공기압력	1444208
# 49	정밀검사판정	90573
# 50	재검사기간	84659
# 51	정밀검사유효기간2	84659
# 55	기타내용1	788
# 56	기타내용2	33113
# 57	기타내용3	133053
# 58	기타내용4	1444208
# 59	기타내용5	1444208
# 60	원본대장테이블	1444208
# 61	정밀검사시간정보	1444208
# 62	통합접수번호	1444208
# 63	데이터생성일자	1444208
# 64	무부하매연측정치6	32654
# 68	제작등록일자	1826
# 71	삭제사유1	1444208
# 72	삭제사유2	1444201
# 73	삭제사유3	1443934
# 74	삭제사유4	1444208

In [8]:
info_df[5:15]

     index    0
5     차대번호    0
6   차량형식번호    0
7       차명    0
8       차종    0
9     차량용도    0
10    차량연식    0
11    차량연료    0
12    주행거리    0
13    차량길이  273
14    차량너비  273

In [9]:
info_df[15:25]

       index        0
15      차량높이      273
16      엔진형식       10
17    원동기배기량      273
18      엔진출력        1
19      차량중량      273
20       총중량      274
21        정원      274
22        비고  1344906
23     최초등록일        0
24  정밀검사유효기간        0

In [10]:
info_df[25:35]

        index        0
25     관능검사판정        0
26  관능검사부적합내용  1413980
27   정밀검사측정방법        0
28  무부하매연측정치1    32654
29  무부하매연허용치1    32670
30   무부하매연판정1    32674
31  무부하매연측정치2   369599
32  무부하매연허용치2   410260
33   무부하매연판정2   641645
34  무부하매연측정치3   427376

In [11]:
info_df[35:45]

        index       0
35  무부하매연허용치3  427386
36   무부하매연판정3  669524
37  무부하매연측정치4  427385
38  무부하매연허용치4  427395
39   무부하매연판정4  669852
40  무부하매연측정치5  427385
41  무부하매연허용치5  427395
42   무부하매연판정5  669852
43     이산화탄소값  470616
44    최대출력허용치  470620

In [12]:
info_df[45:55]

        index        0
45    최대출력측정값   732509
46        산소값    90573
47       공기온도  1047106
48       공기압력  1444208
49     정밀검사판정    90573
50      재검사기간    84659
51  정밀검사유효기간2    84659
52    관능검사등록자        0
53    정밀검사등록자        0
54   정밀검사소대표명        0

In [13]:
info_df[55:]

        index        0
55      기타내용1      788
56      기타내용2    33113
57      기타내용3   133053
58      기타내용4  1444208
59      기타내용5  1444208
60    원본대장테이블  1444208
61   정밀검사시간정보  1444208
62     통합접수번호  1444208
63    데이터생성일자  1444208
64  무부하매연측정치6    32654
65  무부하매연허용치6        0
66   무부하매연판정6        0
67      수신파일명        0
68     제작등록일자     1826
69      데이터구분        0
70       삭제구분        0
71      삭제사유1  1444208
72      삭제사유2  1444201
73      삭제사유3  1443934
74      삭제사유4  1444208

In [14]:
info_df[info_df[0] != 0]

        index        0
13       차량길이      273
14       차량너비      273
15       차량높이      273
16       엔진형식       10
17     원동기배기량      273
18       엔진출력        1
19       차량중량      273
20        총중량      274
21         정원      274
22         비고  1344906
26  관능검사부적합내용  1413980
28  무부하매연측정치1    32654
29  무부하매연허용치1    32670
30   무부하매연판정1    32674
31  무부하매연측정치2   369599
32  무부하매연허용치2   410260
33   무부하매연판정2   641645
34  무부하매연측정치3   427376
35  무부하매연허용치3   427386
36   무부하매연판정3   669524
37  무부하매연측정치4   427385
38  무부하매연허용치4   427395
39   무부하매연판정4   669852
40  무부하매연측정치5   427385
41  무부하매연허용치5   427395
42   무부하매연판정5   669852
43     이산화탄소값   470616
44    최대출력허용치   470620
45    최대출력측정값   732509
46        산소값    90573
47       공기온도  1047106
48       공기압력  1444208
49     정밀검사판정    90573
50      재검사기간    84659
51  정밀검사유효기간2    84659
55      기타내용1      788
56      기타내용2    33113
57      기타내용3   133053
58      기타내용4  1444208
59      기타내용5  1444208
60    원본대장테이블  1444208
61   정밀검사시간정보  1444208
62     통합접수번호  1444208
63    데이터생성일자  1444208
64  무부하매연측정치6    32654
68     제작등록일자     1826
71      삭제사유1  1444208
72      삭제사유2  1444201
73      삭제사유3  1443934
74      삭제사유4  1444208

## 0\. 정밀검사소명

In [18]:
df.iloc[:, 0].isnull().sum()

0

In [19]:
df.iloc[:, 0].unique()

array(['터미널자동차정비', '목포자동차검사소', '삼부자동차정비(주)', ..., '우성자동차정비공업(주)',
       '동일자동차공업(주)-양주시', '명원기업'], dtype=object)

In [20]:
df.iloc[:, 0].value_counts()

성산자동차검사소           13991
강남자동차검사소           12616
노원자동차검사소           10538
해운대자동차검사소           8723
창원자동차검사소            8077
                   ...
그린모터서비스               10
테스트_자일월암검사정비(주)        5
(주)베스트원현대서비스           5
테스트_(주)설화모터스           1
명원기업                   1
Name: 정밀검사소명, Length: 1456, dtype: int64

## 1\. 정밀검사일자

In [21]:
df.iloc[:, 1].isnull().sum()

0

In [22]:
df.iloc[:5, 1]

0    20220502
1    20220502
2    20220502
3    20220502
4    20220502
Name: 정밀검사일자, dtype: int64

## 2\. 정밀검사종류

In [23]:
df.iloc[:, 2].isnull().sum()

0

In [24]:
df.iloc[:5, 2]

0         종합검사
1         종합검사
2         종합검사
3    1부재검사(종합)
4    2부재검사(종합)
Name: 정밀검사종류, dtype: object

## 3\. 정밀검사접수번호

In [25]:
df.iloc[:, 3].isnull().sum()

0

In [26]:
df.iloc[:5, 3]

0    N1962022050200201
1    46302022050201571
2    A0552022050200221
3    284b2022050200951
4    C0962022050200801
Name: 정밀검사접수번호, dtype: object

## 4\. 차량번호

In [27]:
df.iloc[:, 4].isnull().sum()

0

In [28]:
df.iloc[:5, 4]

0      63거3230
1      33루1602
2      70구8691
3      67마1964
4    대구80로2113
Name: 차량번호, dtype: object

## 5\. 차대번호

In [29]:
df.iloc[:, 5].isnull().sum()

0

In [30]:
df.iloc[:5, 5]

0    KNABA24438T611846
1    KNALN414BBA023289
2    KNHMB76439S301221
3    KNABM514BBT985305
4    KMFXKD7BP2U576967
Name: 차대번호, dtype: object

## 6\. 차량형식번호

In [31]:
df.iloc[:5, 6]

0    A0110003200521407
1    A0110004500131310
2    A0110003600732208
3    A0110003200871410
4       10057001680000
Name: 차량형식번호, dtype: object

## 7\. 차명

In [35]:
df.iloc[:, 7].isnull().sum()

0

In [36]:
df.iloc[:5, 7]

0          모닝
1          K7
2     그랜드 카니발
3          모닝
4    포터초장축더블캡
Name: 차명, dtype: object

## 8\. 차종

In [15]:
df.iloc[:, 8].isnull().sum()

0

In [16]:
df.iloc[:5, 8]

0    승용차일반형경형
1    승용차일반형대형
2    승합차일반형중형
3    승용차일반형경형
4    화물차일반형중형
Name: 차종, dtype: object

In [17]:
df.iloc[:, 8].unique()

array(['승용차일반형경형', '승용차일반형대형', '승합차일반형중형', '화물차일반형중형', '화물차일반형소형',
       '승용차다목적형대형', '승용차다목적형중형', '승용차일반형중형', '승용차기타형대형', '승합차일반형경형',
       '특수차견인형대형', '화물차일반형경형', '화물차밴형소형', '특수차특수용도형소형', '화물차특수용도형소형',
       '화물차일반형대형', '화물차밴형중형', '승용차일반형소형', '승용차겸화물형경형', '승용차다목적형소형',
       '승용차기타형중형', '화물차밴형경형', '특수차특수용도형중형', '화물차특수용도형중형', '화물차덤프형소형',
       '화물차특수용도형대형', '승합차일반형대형', '승합차특수형중형', '화물차덤프형중형', '화물차탱크로리형대형',
       '특수차구난형중형', '화물차탱크로리형중형', '화물차특수용도형경형', '특수차특수용도형대형', '특수차구난형소형',
       '승합차일반형소형', '승용차겸화물형대형', '화물차덤프형대형', '화물차덤프형경형', '특수차구난형대형',
       '승용차기타형소형', '특수차견인형소형', '승합차특수형대형', '특수차특수용도형경형', '승합차특수형소형',
       '화물차탱크로리형경형', '승용차기타형경형', '승용차다목적형경형', '특수차견인형중형'], dtype=object)

## 9\. 차량용도

In [37]:
df.iloc[:, 9].isnull().sum()

0

In [38]:
df.iloc[:5, 9]

0    자가용
1    자가용
2    자가용
3    자가용
4    자가용
Name: 차량용도, dtype: object

In [39]:
df.iloc[:, 9].unique()

array(['자가용', '영업용', '개인택시', '관용'], dtype=object)

## 10\. 차량연식

In [40]:
df.iloc[:, 10].isnull().sum()

0

In [41]:
df.iloc[:5, 10]

0    2008
1    2011
2    2009
3    2011
4    2002
Name: 차량연식, dtype: int64

In [42]:
df.iloc[:5, 10].unique()

array([2008, 2011, 2009, 2002], dtype=int64)

## 11\. 차량연료

In [43]:
df.iloc[:, 11].isnull().sum()

0

In [44]:
df.iloc[:5, 11]

0    휘발유(무연)
1    휘발유(무연)
2         경유
3    휘발유(무연)
4         경유
Name: 차량연료, dtype: object

In [48]:
df.iloc[:, 11].unique()

array(['휘발유(무연)', '경유', '휘발유', '엘피지', '하이브리드(휘발유+전기)', '하이브리드(LPG+전기)',
       '하이브리드(경유+전기)', '휘발유(유연)', 'LNG'], dtype=object)

## 12\. 주행거리

In [45]:
df.iloc[:, 12].isnull().sum()

0

In [46]:
df.iloc[:5, 12]

0     96531
1    238951
2    117282
3    123072
4    118420
Name: 주행거리, dtype: object

In [72]:
df.iloc[:, 0].isnull().sum()

0

## 13\. 차량길이

In [49]:
df.iloc[:, 13].isnull().sum()

273

In [50]:
df.iloc[:5, 13]

0    3550.0
1    4965.0
2    5130.0
3    3535.0
4    5075.0
Name: 차량길이, dtype: float64

## 14\. 차량너비

In [52]:
df.iloc[:, 14].isnull().sum()

273

In [51]:
df.iloc[:5, 14]

0    1595.0
1    1850.0
2    1985.0
3    1595.0
4    1690.0
Name: 차량너비, dtype: float64

## 15\. 차량높이

In [53]:
df.iloc[:5, 15]

0    1480.0
1    1475.0
2    1820.0
3    1480.0
4    1930.0
Name: 차량높이, dtype: float64

## 16\. 엔진형식

In [54]:
df.iloc[:5, 16]

0    G4HE
1    G6DC
2      J3
3    G4HE
4    D4BB
Name: 엔진형식, dtype: object

## 17\. 원동기배기량

In [55]:
df.iloc[:5, 17]

0     999.0
1    3470.0
2    2902.0
3     999.0
4    2607.0
Name: 원동기배기량, dtype: float64

## 18\. 엔진출력

In [56]:
df.iloc[:5, 18]

0     64/5600
1    290/6600
2    192/3800
3     72/6000
4     80/4000
Name: 엔진출력, dtype: object

## 19\. 차량중량

In [57]:
df.iloc[:5, 19]

0     915.0
1    1620.0
2    2230.0
3     955.0
4    1620.0
Name: 차량중량, dtype: float64

## 20\. 총중량

In [58]:
df.iloc[:5, 20]

0    1240.0
1    1945.0
2    2945.0
3    1280.0
4    3010.0
Name: 총중량, dtype: float64

## 21\. 정원

In [59]:
df.iloc[:5, 21]

0     5.0
1     5.0
2    11.0
3     5.0
4     6.0
Name: 정원, dtype: float64

## 22\. 비고

In [60]:
df.iloc[:5, 22]

0    NaN
1    NaN
2    NaN
3    NaN
4    NaN
Name: 비고, dtype: object

## 23\. 비고

In [117]:
df.iloc[:5, 23]

0   NaN
1   NaN
2   NaN
3   NaN
4   NaN
Name: 비고, dtype: float64

In [12]:
df.iloc[:, 23].unique()

array([nan])

## 24\. 최초등록일자

In [118]:
df.iloc[:5, 24]

0    20200626
1    20131205
2    20180712
3    20071115
4    20190717
Name: 최초등록일자, dtype: int64

## 25\. 제작일자

In [90]:
df.iloc[:5, 25]

0    20200622.0
1    20131130.0
2    20180703.0
3    20070905.0
4    20190626.0
Name: 제작일자, dtype: float64

In [73]:
df.iloc[:, 25].isnull().sum()

1925

In [75]:
df.loc[df['제작일자'].isnull() == True, ['차대번호', '제작일자']].head()

                   차대번호  제작일자
456   KMHJF31KPTU334445   NaN
1512  KMHMF11FPSU085571   NaN
2626  KNCSB1125TS703543   NaN
3084  KMFMA19HPSU027208   NaN
3504  KMFLA19JPTC102343   NaN

In [76]:
df.loc[df['제작일자'].isnull() == True, ['차대번호', '제작일자']].shape

(1925, 2)

In [81]:
temp = df.loc[df['제작일자'].isnull() == True, ['차대번호', '제작일자']]

In [86]:
# 제작일자 null 값 샘플 중 차대번호(17자리, IOQ 제외)인 데이터
idx25 = []
for i, one in enumerate(temp['차대번호']):
    if (len(one) == 17) and ('I' not in one) and ('O' not in one) and ('Q' not in one):
        idx25.append(temp.index[i])
len(idx25)

1824

In [93]:
df.loc[idx25, ['차대번호', '차량번호', '차량연식', '최초등록일자', '제작일자', '비고']].head()

                   차대번호       차량번호  차량연식    최초등록일자  제작일자  비고
456   KMHJF31KPTU334445    23더6026  1996  19960614   NaN NaN
1512  KMHMF11FPSU085571   강원3도5405  1995  19950601   NaN NaN
2626  KNCSB1125TS703543  강원80다2062  1996  19960704   NaN NaN
3084  KMFMA19HPSU027208    96라9641  1995  19950928   NaN NaN
3504  KMFLA19JPTC102343    92무0426  1996  19960216   NaN NaN

In [89]:
df.loc[idx25[0], '차대번호'][9]

'T'

## 26\. 검사전 유효기간 만료일

In [119]:
df.iloc[:5, 26]

0    20220625
1    20220604
2    20220711
3    20220627
4    20220716
Name: 검사전 유효기간 만료일, dtype: int64

## 27\. 관능검사판정

In [120]:
df.iloc[:5, 27]

0   NaN
1   NaN
2   NaN
3   NaN
4   NaN
Name: 관능검사판정, dtype: float64

## 28\. 관능부적합항목

In [121]:
df.iloc[:5, 28]

0   NaN
1   NaN
2   NaN
3   NaN
4   NaN
Name: 관능부적합항목, dtype: float64

## 29\. 검사방법

In [122]:
df.iloc[:5, 29]

0    무부하검사(정지가동)
1     무부하검사(급가속)
2     무부하검사(급가속)
3     무부하검사(급가속)
4    무부하검사(정지가동)
Name: 검사방법, dtype: object

In [9]:
df.iloc[:, 29].unique()

array(['무부하검사(정지가동)', '무부하검사(급가속)', '무부하검사(TSI)'], dtype=object)

## 30\. 무부하매연측정치1

In [123]:
df.iloc[:5, 30]

0    NaN
1    0.0
2    0.0
3    0.0
4    NaN
Name: 무부하매연측정치1, dtype: float64

In [13]:
df.iloc[:, 30].unique()

array([     nan, 0.00e+00, 2.00e+00, 1.70e+01, 1.00e+00, 1.20e+01,
       1.00e+01, 1.00e-02, 1.00e-01, 1.20e-01, 5.00e-01, 1.70e-01,
       4.00e-01, 3.00e-02, 1.40e-01, 2.00e-02, 3.00e-01, 2.00e-01,
       3.10e-01, 4.80e-01, 5.40e-01, 3.00e+00, 5.30e+01, 4.30e+01,
       3.30e+01, 2.30e+01, 7.00e+00, 8.00e+00, 5.00e+00, 4.00e+00,
       1.40e+01, 1.10e+01, 9.00e+00, 6.00e-02, 4.00e-02, 7.00e-02,
       5.00e-02, 8.00e-01, 1.50e-01, 1.80e-01, 9.00e-02, 1.60e-01,
       2.10e-01, 2.80e-01, 8.00e-02, 6.00e+01, 3.50e+01, 1.90e-01,
       4.40e-01, 2.00e+01, 2.40e-01, 2.50e-01, 1.10e-01, 4.90e-01,
       5.80e-01, 2.20e-01, 3.90e-01, 4.60e-01, 7.00e-01, 5.30e-01,
       3.00e+01, 2.10e+01, 3.30e-01, 6.90e-01, 6.00e-01, 3.50e-01,
       3.80e-01, 2.80e+01, 1.17e+00, 1.40e+00, 5.10e-01, 9.30e-01,
       6.00e+00, 3.40e+01, 2.70e-01, 5.90e-01, 1.30e-01, 2.90e+01,
       9.00e-01, 5.60e-01, 7.10e-01, 2.20e+01, 7.20e-01, 9.10e-01,
       1.69e+00, 1.90e+00, 5.20e-01, 2.90e-01, 8.50e+01, 2.98e+00,
       2.30e-01, 2.81e+00, 5.80e+01, 4.70e-01, 6.60e+00, 4.00e+01,
       1.30e+01, 1.80e+01, 2.40e+01, 7.20e+01, 3.60e+01, 4.10e+01,
       2.50e+01, 1.90e+01, 1.60e+01, 4.40e+01, 1.50e+01, 2.60e+01,
       8.00e+01, 6.20e+01, 3.10e+01, 3.90e+01, 4.70e+01, 4.60e+01,
       8.10e+01, 7.50e+01, 6.70e+01, 3.70e+01, 3.80e+01, 5.20e+01,
       5.50e+01, 3.20e+01, 6.20e-01, 2.70e+01, 4.50e+01, 7.60e+01,
       8.30e+01, 8.90e+01, 7.40e+01, 8.20e+01, 6.50e+01, 6.30e+01,
       7.80e+01, 6.10e+01, 4.20e+01, 8.60e+01, 4.90e+01, 5.40e+01,
       5.90e+01, 4.80e+01, 5.10e+01, 9.80e+01, 9.30e+01, 7.30e+01,
       6.60e+01, 5.60e+01, 6.40e+01, 7.10e+01, 9.40e+01, 7.00e+01,
       5.00e+01, 8.80e-01, 2.60e-01, 3.70e-01, 7.70e+01, 6.90e+01,
       5.70e-01, 2.75e+00, 5.70e+01, 3.60e-01, 4.20e-01, 4.10e-01,
       8.40e+01, 8.70e-01, 5.50e-01, 6.40e-01, 9.60e+01, 9.90e+01,
       1.30e+00, 7.90e-01, 9.70e+01, 4.30e-01, 9.70e-01, 4.40e+00,
       8.80e+01, 8.40e-01, 6.70e+00, 6.60e-01, 7.90e+01, 9.20e+01,
       1.20e+00, 8.30e-01, 7.40e-01, 8.70e+01, 8.10e-01, 9.10e+01,
       9.00e+01, 8.60e-01, 6.80e-01, 1.15e+00, 6.10e-01, 6.80e+01,
       1.50e+00, 3.40e+00, 9.40e-01, 9.50e-01, 2.70e+00, 2.19e+00,
       8.20e+00, 3.40e-01, 4.50e-01, 9.90e-01, 6.30e-01, 9.60e-01,
       3.20e-01, 7.60e-01, 2.20e+00, 7.50e-01, 1.00e+02, 1.14e+00,
       1.26e+02, 7.71e+00, 1.60e+00, 4.80e+00, 1.10e+00, 1.12e+00,
       1.70e+00, 9.80e-01, 6.70e-01, 6.50e-01, 3.10e+00, 4.70e+00,
       9.90e+00, 1.53e+00, 1.11e+00, 1.80e+00, 9.50e+01, 3.80e+00,
       9.50e+00, 4.50e+00, 2.50e+00, 7.50e+00, 1.18e+00, 2.57e+00,
       7.30e-01, 3.60e+00, 1.27e+00, 1.23e+00, 8.50e-01, 3.70e+00,
       8.90e-01, 9.20e-01, 2.76e+00, 2.53e+00, 2.42e+00, 1.05e+00,
       3.20e+00, 3.55e+00, 2.18e+00, 1.04e+02, 1.03e+02, 8.50e+00,
       7.80e-01, 1.43e+00, 2.36e+00, 2.17e+00, 5.40e+00, 4.90e+00,
       1.13e+00, 2.40e+00, 4.20e+00, 1.26e+00, 1.57e+00, 1.33e+00,
       7.70e-01, 1.34e+00, 1.35e+00, 1.03e+00, 2.10e+00, 5.10e+00,
       8.20e-01, 2.30e+00, 5.60e+00, 5.84e+00, 9.80e+00, 4.66e+00,
       5.70e+00, 1.01e+00, 1.86e+00, 1.07e+00, 5.07e+00, 7.70e+00,
       2.60e+00, 1.21e+02, 9.30e+00, 1.68e+00, 4.60e+00, 6.10e+00,
       6.40e+00, 8.10e+00, 1.19e+00, 1.92e+00, 1.09e+00, 4.95e+00,
       1.28e+00, 3.14e+00, 3.90e+00, 1.16e+00, 6.09e+00, 4.04e+00,
       1.04e+00, 3.79e+00, 4.37e+00, 1.06e+00, 2.79e+00, 2.87e+00,
       9.60e+00, 3.30e+00, 1.52e+00, 3.34e+00, 2.86e+00, 3.50e+00,
       1.82e+00, 1.62e+00, 4.14e+00, 1.31e+00, 1.99e+00, 6.98e+00,
       2.64e+00, 3.22e+00, 4.88e+00, 1.55e+00, 6.51e+00, 2.90e+00,
       2.33e+00, 1.48e+00, 1.24e+00, 2.80e+00, 2.95e+00, 1.37e+00,
       2.43e+00, 1.08e+00, 1.21e+00, 5.80e+00, 1.41e+00, 1.16e+02,
       2.03e+00, 6.35e+00, 2.25e+00, 1.10e+02, 6.30e+00, 6.03e+00,
       4.10e+00, 3.95e+00, 1.49e+00, 5.46e+00, 8.30e+00, 6.95e+00,
       5.30e+00, 9.82e+00, 5.50e+00, 1.22e+00, 1.56e+00, 1.38e+00,
       1.84e+00, 6.50e+00, 3.37e+00, 3.84e+00, 6.91e+00, 4.30e+00,
       7.44e+00, 8.70e+00, 9.17e+00, 7.98e+00, 1.39e+00, 2.44e+00])

## 31\. 무부하매연허용치1

In [124]:
df.iloc[:5, 31]

0    NaN
1    0.0
2    0.0
3    0.0
4    NaN
Name: 무부하매연허용치1, dtype: float64

## 32\. 무부하매연판정1

In [125]:
df.iloc[:5, 32]

0    NaN
1      Y
2      Y
3      Y
4    NaN
Name: 무부하매연판정1, dtype: object

## 33\. 무부하매연측정치2

In [126]:
df.iloc[:5, 33]

0   NaN
1   NaN
2   NaN
3   NaN
4   NaN
Name: 무부하매연측정치2, dtype: float64

## 34\. 무부하매연허용치2

In [127]:
df.iloc[:5, 34]

0   NaN
1   NaN
2   NaN
3   NaN
4   NaN
Name: 무부하매연허용치2, dtype: float64

## 35\. 무부하매연판정2

In [128]:
df.iloc[:5, 35]

0    NaN
1    NaN
2    NaN
3    NaN
4    NaN
Name: 무부하매연판정2, dtype: object

## 36\. 무부하매연측정치3

In [129]:
df.iloc[:5, 36]

0   NaN
1   NaN
2   NaN
3   NaN
4   NaN
Name: 무부하매연측정치3, dtype: float64

## 37\. 무부하매연허용치3

In [130]:
df.iloc[:5, 37]

0   NaN
1   NaN
2   NaN
3   NaN
4   NaN
Name: 무부하매연허용치3, dtype: float64

## 38\. 무부하매연판정3

In [131]:
df.iloc[:5, 38]

0    NaN
1    NaN
2    NaN
3    NaN
4    NaN
Name: 무부하매연판정3, dtype: object

## 39\. 무부하매연측정치4

In [132]:
df.iloc[:5, 39]

0   NaN
1   NaN
2   NaN
3   NaN
4   NaN
Name: 무부하매연측정치4, dtype: float64

## 40\. 무부하매연허용치4

In [133]:
df.iloc[:5, 40]

0   NaN
1   NaN
2   NaN
3   NaN
4   NaN
Name: 무부하매연허용치4, dtype: float64

## 41\. 무부하매연판정4

In [134]:
df.iloc[:5, 41]

0    NaN
1    NaN
2    NaN
3    NaN
4    NaN
Name: 무부하매연판정4, dtype: object

## 42\. 무부하매연측정치5

In [135]:
df.iloc[:5, 42]

0   NaN
1   NaN
2   NaN
3   NaN
4   NaN
Name: 무부하매연측정치5, dtype: float64

## 43\. 무부하매연허용치5

In [136]:
df.iloc[:5, 42]

0   NaN
1   NaN
2   NaN
3   NaN
4   NaN
Name: 무부하매연측정치5, dtype: float64

## 44\. 무부하매연판정5

In [137]:
df.iloc[:5, 44]

0    NaN
1    NaN
2    NaN
3    NaN
4    NaN
Name: 무부하매연판정5, dtype: object

## 45\. 무부하매연측정치6

In [138]:
df.iloc[:5, 45]

0   NaN
1   NaN
2   NaN
3   NaN
4   NaN
Name: 무부하매연측정치6, dtype: float64

## 46\. 무부하매연허용치6

In [139]:
df.iloc[:5, 46]

0   NaN
1   NaN
2   NaN
3   NaN
4   NaN
Name: 무부하매연허용치6, dtype: float64

## 47\. 무부하매연판정6

In [140]:
df.iloc[:5, 47]

0    NaN
1    NaN
2    NaN
3    NaN
4    NaN
Name: 무부하매연판정6, dtype: object

## 48\. 이산화탄소값

In [141]:
df.iloc[:5, 48]

0   NaN
1   NaN
2   NaN
3   NaN
4   NaN
Name: 이산화탄소값, dtype: float64

## 49\. 최대출력허용치

In [142]:
df.iloc[:5, 49]

0   NaN
1   NaN
2   NaN
3   NaN
4   NaN
Name: 최대출력허용치, dtype: float64

## 50\. 최대출력측정값

In [143]:
df.iloc[:5, 50]

0   NaN
1   NaN
2   NaN
3   NaN
4   NaN
Name: 최대출력측정값, dtype: float64

## 51\. 산소값

In [144]:
df.iloc[:5, 51]

0   NaN
1   NaN
2   NaN
3   NaN
4   NaN
Name: 산소값, dtype: float64

## 52\. 공기온도

In [145]:
df.iloc[:5, 52]

0   NaN
1   NaN
2   NaN
3   NaN
4   NaN
Name: 공기온도, dtype: float64

## 53\. 공기압력

In [146]:
df.iloc[:5, 53]

0   NaN
1   NaN
2   NaN
3   NaN
4   NaN
Name: 공기압력, dtype: float64

## 54\. 검사판정

In [147]:
df.iloc[:5, 54]

0    Y
1    Y
2    Y
3    N
4    Y
Name: 검사판정, dtype: object

## 55\. 재검사기간

In [148]:
df.iloc[:5, 55]

0    20220630~20220805
1    20220630~20220715
2    20220630~20220821
3    20220630~20220807
4    20220630~20220826
Name: 재검사기간, dtype: object

## 56\. 검사후 갱신유효기간

In [149]:
df.iloc[:5, 56]

0    20220626~20230625
1    20220605~20221204
2    20220712~20240711
3    20220628~20221227
4    20220717~20230716
Name: 검사후 갱신유효기간, dtype: object

## 57\. 관능검사원

In [150]:
df.iloc[:5, 57]

0    최지훈
1    김영수
2    허진우
3    정광영
4    김경호
Name: 관능검사원, dtype: object

## 58\. 배출가스검사원

In [151]:
df.iloc[:5, 58]

0    장정우
1    김동현
2    이건호
3    정광영
4    이기태
Name: 배출가스검사원, dtype: object

## 59\. 책임검사원

In [152]:
df.iloc[:5, 59]

0    박기열
1    이준석
2    박주하
3    김동윤
4    이광구
Name: 책임검사원, dtype: object

## 60\. 검사 판정시간

In [153]:
df.iloc[:5, 60]

0    20220701 11:08:49
1    20220701 09:26:26
2    20220701 15:05:16
3    20220701 16:57:36
4    20220701 15:53:50
Name: 검사 판정시간, dtype: object

## 61\. 자료구분코드

In [154]:
df.iloc[:5, 61]

0    D
1    D
2    D
3    D
4    D
Name: 자료구분코드, dtype: object

# 코드 마지막