# 정기검사

# Library

In [1]:
import pandas as pd
import numpy as np
from tqdm import tqdm
import re

In [2]:
col = pd.read_excel('data/220819_정기검사_컬럼명.xlsx')
col.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 62 entries, 0 to 61
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   col     62 non-null     object
dtypes: object(1)
memory usage: 624.0+ bytes

In [3]:
col['col']

0        검사소명
1      정기검사일자
2        검사종류
3      검사접수번호
4      통합접수번호
       ...
57      관능검사원
58    배출가스검사원
59      책임검사원
60    검사 판정시간
61     자료구분코드
Name: col, Length: 62, dtype: object

In [4]:
df = pd.read_table('data/220819_정기검사.txt', names=col['col'], encoding='cp949')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 796614 entries, 0 to 796613
Data columns (total 62 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   검사소명          796614 non-null  object
 1   정기검사일자        796614 non-null  int64
 2   검사종류          796614 non-null  object
 3   검사접수번호        796614 non-null  object
 4   통합접수번호        796614 non-null  object
 5   차량번호          796614 non-null  object
 6   차대번호          796614 non-null  object
 7   차량형식번호        796614 non-null  object
 8   차명            796614 non-null  object
 9   차종            796614 non-null  object
 10  차량용도          796614 non-null  object
 11  차량연식          796614 non-null  int64
 12  차량연료          787770 non-null  object
 13  주행거리          795049 non-null  float64
 14  차량길이          796614 non-null  int64
 15  차량너비          796614 non-null  int64
 16  차량높이          796614 non-null  int64
 17  엔진형식          793439 non-null  object
 18  배기량           788793 non-null  float64
 19  엔진출력          796614 non-null  object
 20  차량중량          796613 non-null  float64
 21  총중량           796614 non-null  int64
 22  정원            796611 non-null  float64
 23  비고            0 non-null       float64
 24  최초등록일자        796614 non-null  int64
 25  제작일자          794689 non-null  float64
 26  검사전 유효기간 만료일  796614 non-null  int64
 27  관능검사판정        0 non-null       float64
 28  관능부적합항목       0 non-null       float64
 29  검사방법          796614 non-null  object
 30  무부하매연측정치1     721619 non-null  float64
 31  무부하매연허용치1     721619 non-null  float64
 32  무부하매연판정1      721619 non-null  object
 33  무부하매연측정치2     269477 non-null  float64
 34  무부하매연허용치2     269477 non-null  float64
 35  무부하매연판정2      269477 non-null  object
 36  무부하매연측정치3     269477 non-null  float64
 37  무부하매연허용치3     269475 non-null  float64
 38  무부하매연판정3      269475 non-null  object
 39  무부하매연측정치4     217140 non-null  float64
 40  무부하매연허용치4     217140 non-null  float64
 41  무부하매연판정4      217140 non-null  object
 42  무부하매연측정치5     217140 non-null  float64
 43  무부하매연허용치5     217140 non-null  float64
 44  무부하매연판정5      217140 non-null  object
 45  무부하매연측정치6     217140 non-null  float64
 46  무부하매연허용치6     217140 non-null  float64
 47  무부하매연판정6      217140 non-null  object
 48  이산화탄소값        268721 non-null  float64
 49  최대출력허용치       0 non-null       float64
 50  최대출력측정값       0 non-null       float64
 51  산소값           228967 non-null  float64
 52  공기온도          0 non-null       float64
 53  공기압력          0 non-null       float64
 54  검사판정          796614 non-null  object
 55  재검사기간         796614 non-null  object
 56  검사후 갱신유효기간    796614 non-null  object
 57  관능검사원         739778 non-null  object
 58  배출가스검사원       737711 non-null  object
 59  책임검사원         743526 non-null  object
 60  검사 판정시간       796614 non-null  object
 61  자료구분코드        796614 non-null  object
dtypes: float64(26), int64(8), object(28)
memory usage: 376.8+ MB

In [5]:
# csv 출력
df.to_csv('data/220819_정기검사.csv', encoding='cp949', index=False)
# 24.2s

In [9]:
info_df = df.isnull().sum().reset_index()
info_df.head()

    index  0
0    검사소명  0
1  정기검사일자  0
2    검사종류  0
3  검사접수번호  0
4  통합접수번호  0

## 기본 확인

In [ ]:
# null 값 있는 컬럼
# 12	차량연료	8844
# 13	주행거리	1565
# 17	엔진형식	3175
# 18	배기량	7821
# 20	차량중량	1
# 22	정원	3
# 23	비고	796614
# 25	제작일자	1925
# 27	관능검사판정	796614
# 28	관능부적합항목	796614
# 30	무부하매연측정치1	74995
# 31	무부하매연허용치1	74995
# 32	무부하매연판정1	74995
# 33	무부하매연측정치2	527137
# 34	무부하매연허용치2	527137
# 35	무부하매연판정2	527137
# 36	무부하매연측정치3	527137
# 37	무부하매연허용치3	527139
# 38	무부하매연판정3	527139
# 39	무부하매연측정치4	579474
# 40	무부하매연허용치4	579474
# 41	무부하매연판정4	579474
# 42	무부하매연측정치5	579474
# 43	무부하매연허용치5	579474
# 44	무부하매연판정5	579474
# 45	무부하매연측정치6	579474
# 46	무부하매연허용치6	579474
# 47	무부하매연판정6	579474
# 48	이산화탄소값	527893
# 49	최대출력허용치	796614
# 50	최대출력측정값	796614
# 51	산소값	567647
# 52	공기온도	796614
# 53	공기압력	796614
# 57	관능검사원	56836
# 58	배출가스검사원	58903
# 59	책임검사원	53088

In [10]:
info_df[5:15]

     index     0
5     차량번호     0
6     차대번호     0
7   차량형식번호     0
8       차명     0
9       차종     0
10    차량용도     0
11    차량연식     0
12    차량연료  8844
13    주행거리  1565
14    차량길이     0

In [12]:
info_df[15:25]

     index       0
15    차량너비       0
16    차량높이       0
17    엔진형식    3175
18     배기량    7821
19    엔진출력       0
20    차량중량       1
21     총중량       0
22      정원       3
23      비고  796614
24  최초등록일자       0

In [13]:
info_df[25:35]

           index       0
25          제작일자    1925
26  검사전 유효기간 만료일       0
27        관능검사판정  796614
28       관능부적합항목  796614
29          검사방법       0
30     무부하매연측정치1   74995
31     무부하매연허용치1   74995
32      무부하매연판정1   74995
33     무부하매연측정치2  527137
34     무부하매연허용치2  527137

In [14]:
info_df[35:45]

        index       0
35   무부하매연판정2  527137
36  무부하매연측정치3  527137
37  무부하매연허용치3  527139
38   무부하매연판정3  527139
39  무부하매연측정치4  579474
40  무부하매연허용치4  579474
41   무부하매연판정4  579474
42  무부하매연측정치5  579474
43  무부하매연허용치5  579474
44   무부하매연판정5  579474

In [15]:
info_df[45:55]

        index       0
45  무부하매연측정치6  579474
46  무부하매연허용치6  579474
47   무부하매연판정6  579474
48     이산화탄소값  527893
49    최대출력허용치  796614
50    최대출력측정값  796614
51        산소값  567647
52       공기온도  796614
53       공기압력  796614
54       검사판정       0

In [16]:
info_df[55:]

         index      0
55       재검사기간      0
56  검사후 갱신유효기간      0
57       관능검사원  56836
58     배출가스검사원  58903
59       책임검사원  53088
60     검사 판정시간      0
61      자료구분코드      0

In [17]:
info_df[info_df[0] != 0]

        index       0
12       차량연료    8844
13       주행거리    1565
17       엔진형식    3175
18        배기량    7821
20       차량중량       1
22         정원       3
23         비고  796614
25       제작일자    1925
27     관능검사판정  796614
28    관능부적합항목  796614
30  무부하매연측정치1   74995
31  무부하매연허용치1   74995
32   무부하매연판정1   74995
33  무부하매연측정치2  527137
34  무부하매연허용치2  527137
35   무부하매연판정2  527137
36  무부하매연측정치3  527137
37  무부하매연허용치3  527139
38   무부하매연판정3  527139
39  무부하매연측정치4  579474
40  무부하매연허용치4  579474
41   무부하매연판정4  579474
42  무부하매연측정치5  579474
43  무부하매연허용치5  579474
44   무부하매연판정5  579474
45  무부하매연측정치6  579474
46  무부하매연허용치6  579474
47   무부하매연판정6  579474
48     이산화탄소값  527893
49    최대출력허용치  796614
50    최대출력측정값  796614
51        산소값  567647
52       공기온도  796614
53       공기압력  796614
57      관능검사원   56836
58    배출가스검사원   58903
59      책임검사원   53088

## 0\. 검사소명

In [156]:
df.iloc[:, 0].isnull().sum()

0

In [19]:
df.iloc[:, 0].unique()

array(['의정부자동차검사소', '경주자동차검사소', '구미자동차검사소', ..., '(주)베스트원종합정비',
       '평화탑자동차정비㈜', '서울공업사'], dtype=object)

In [18]:
df.iloc[:, 0].value_counts()

춘천자동차검사소               5544
성산자동차검사소               4882
제주자동차검사소               4767
원주자동차검사소               4619
강남자동차검사소               4130
                       ...
TS모바일자동차검사소(대형)           1
동일자동차공업(주)-용인시            1
서군위현대서비스                  1
테스트_명원기업                  1
안산출장_동안산서비스기아오토큐(주)       1
Name: 검사소명, Length: 1904, dtype: int64

## 1\. 정기검사일자

In [157]:
df.iloc[:, 1].isnull().sum()

0

In [94]:
df.iloc[:5, 1]

0    20220630
1    20220630
2    20220630
3    20220630
4    20220630
Name: 정기검사일자, dtype: int64

## 2\. 검사종류

In [158]:
df.iloc[:, 2].isnull().sum()

0

In [95]:
df.iloc[:5, 2]

0    재검사(1부재검사)
1    재검사(1부재검사)
2    재검사(1부재검사)
3    재검사(1부재검사)
4    재검사(1부재검사)
Name: 검사종류, dtype: object

## 3\. 검사접수번호

In [159]:
df.iloc[:, 3].isnull().sum()

0

In [96]:
df.iloc[:5, 3]

0    41402022063000832
1    47802022063000662
2    47402022063000442
3    45602022063000192
4    118c2022063000672
Name: 검사접수번호, dtype: object

## 4\. 통합접수번호

In [160]:
df.iloc[:, 4].isnull().sum()

0

In [97]:
df.iloc[:5, 4]

0    41402022063000831
1    47802022063000651
2    47402022063000441
3    45602022063000191
4    118c2022063000671
Name: 통합접수번호, dtype: object

## 5\. 차량번호

In [161]:
df.iloc[:, 5].isnull().sum()

0

In [98]:
df.iloc[:5, 5]

0    서울31자5948
1      70두1683
2      58수6175
3     721루3838
4    서울32사1214
Name: 차량번호, dtype: object

## 6\. 차대번호

In [99]:
df.iloc[:5, 6]

0    KMHF341NBLA368601
1    KMJWA37KAEU613836
2    KMHS581BBKU058970
3    KNHMB76138S208448
4    KMHK281GFKU047528
Name: 차대번호, dtype: object

In [27]:
df2 = df.copy()

In [28]:
df2.iloc[:, 6].isnull().sum()

0

In [29]:
df2.iloc[:, 6].value_counts()

KNAF141BEKA809682    224
KNAG741BBLA043588    137
KMHLM41ABMU021533    123
KNAG741BBLA043661    100
KMHFF41CBBA040345     11
                    ...
KMHGM412BJU292442      1
KPBGH2AE1JP026386      1
KMFWBX7KBKU093434      1
KNHMF37ABKS584325      1
KPACA4AN1EP200174      1
Name: 차대번호, Length: 698811, dtype: int64

In [30]:
dup_vin_df = df2.iloc[:, 6].value_counts().reset_index()
dup_vin_df.columns = ['차대번호', '개수']
dup_vin_df.head()

                차대번호   개수
0  KNAF141BEKA809682  224
1  KNAG741BBLA043588  137
2  KMHLM41ABMU021533  123
3  KNAG741BBLA043661  100
4  KMHFF41CBBA040345   11

In [23]:
dup_vin_df.shape

(698811, 2)

In [24]:
max(dup_vin_df['개수'])

224

In [25]:
# 중복 차대번호 추출
dup_vin_df2 = dup_vin_df[dup_vin_df['개수'] > 1].reset_index(drop=True)
dup_vin_df2.shape

(94399, 2)

In [26]:
dup_vin_df2['차대번호'].head()

0    KNAF141BEKA809682
1    KNAG741BBLA043588
2    KMHLM41ABMU021533
3    KNAG741BBLA043661
4    KMHFF41CBBA040345
Name: 차대번호, dtype: object

### 차대 번호 정상 확인

In [31]:
# 차대번호 길이 종류 확인
len_vin = []
for i, one in tqdm(enumerate(df2.iloc[:, 6].to_numpy())):
    len_vin.append(len(str(one)))
set(len_vin)

796614it [00:00, 1372338.14it/s]

{11, 12, 13, 14, 15, 16, 17}

In [35]:
df2['VIN_length'] = [ len(one) for one in df2['차대번호'] ]
df2['VIN_length'].unique()

array([17, 11, 12, 13, 16, 15, 14], dtype=int64)

In [32]:
IOQ = []
for one in df2['차대번호']:
    if ('I' in one) or ('O' in one) or ('Q' in one):
        IOQ.append('Y')
    else:
        IOQ.append('N')
df2['IOQ'] = IOQ

In [33]:
df2['IOQ'].unique()

array(['N', 'Y'], dtype=object)

In [36]:
df2.groupby(['VIN_length', 'IOQ'])['차대번호'].count()

VIN_length  IOQ
11          N          91
12          N         538
13          N          16
14          N           3
15          N           7
16          N           6
17          N      795807
            Y         146
Name: 차대번호, dtype: int64

In [37]:
V_I_dict = df2.groupby(['VIN_length', 'IOQ'])['차대번호'].groups

In [38]:
g = df2.groupby(['VIN_length', 'IOQ'], as_index=False)['차대번호'].count()
V_I_df = g.sort_values(['VIN_length', 'IOQ'], ascending=[True, True])
V_I_df

   VIN_length IOQ    차대번호
0          11   N      91
1          12   N     538
2          13   N      16
3          14   N       3
4          15   N       7
5          16   N       6
6          17   N  795807
7          17   Y     146

In [39]:
for v in range(10, 18):
    for i in ['N', 'Y']:
        try:
            idx = V_I_dict[(v, i)]
            print(f'[VIN_length : {v}, "IOQ"포함 : {i}]')
            print('예시)')
            print(df2.iloc[idx[:3], 6])
            print()
        except:
            pass

[VIN_length : 11, "IOQ"포함 : N]
예시)
162     10814246108
2266    03814203246
4089    03814206368
Name: 차대번호, dtype: object

[VIN_length : 12, "IOQ"포함 : N]
예시)
1020     319831135221
12218    410234337645
17190    440234212537
Name: 차대번호, dtype: object

[VIN_length : 13, "IOQ"포함 : N]
예시)
29363     469435586357순
31457     469435586357순
120374    419234320947인
Name: 차대번호, dtype: object

[VIN_length : 14, "IOQ"포함 : N]
예시)
230928    CB-42-C-000626
245753    CB-42-C-000626
671675    SL-68-C-035568
Name: 차대번호, dtype: object

[VIN_length : 15, "IOQ"포함 : N]
예시)
118271    48-93-343-00001
249456    41-98-343-98490
519853    26-98-343-04457
Name: 차대번호, dtype: object

[VIN_length : 16, "IOQ"포함 : N]
예시)
84525     44-00-343-10407홍
184587    KN92J5CFD3MZ0001
201504    41-01-343-33584수
Name: 차대번호, dtype: object

[VIN_length : 17, "IOQ"포함 : N]
예시)
0    KMHF341NBLA368601
1    KMJWA37KAEU613836
2    KMHS581BBKU058970
Name: 차대번호, dtype: object

[VIN_length : 17, "IOQ"포함 : Y]
예시)
4091     KR1PVHHXORB100234
10563    YV2ASWOC57A647211
13133    YV2ASWOC57A647211
Name: 차대번호, dtype: object

##### [출력]번호길이, IOQ포함 통계

In [40]:
V_I_df.to_csv('analysis/[정기검사][차대번호]번호길이_IOQ포함_통계.csv', index=False, encoding='cp949')

#### WMI 코드 분류 제작사 통계

In [41]:
wmi = pd.read_excel('data/20190730_WMI CODE.xlsx', sheet_name='WMI CODE')
wmi.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 690 entries, 0 to 689
Data columns (total 8 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   WMI            690 non-null    object
 1   MF CODE        690 non-null    object
 2   Identifier     690 non-null    object
 3   Manufacturer   690 non-null    object
 4   Country        688 non-null    object
 5   Vehicle Types  249 non-null    object
 6   Description    54 non-null     object
 7   참고             0 non-null      float64
dtypes: float64(1), object(7)
memory usage: 43.2+ KB

In [42]:
df2['차대번호'].head()

0    KMHF341NBLA368601
1    KMJWA37KAEU613836
2    KMHS581BBKU058970
3    KNHMB76138S208448
4    KMHK281GFKU047528
Name: 차대번호, dtype: object

In [43]:
df2['wmi'] = df2['차대번호'].str[:3]

In [44]:
df2['wmi'].head()

0    KMH
1    KMJ
2    KMH
3    KNH
4    KMH
Name: wmi, dtype: object

In [45]:
df2 = df2.merge(wmi, left_on='wmi', right_on='WMI', how='left')
df2[['차대번호', 'wmi', 'WMI']].head()

                차대번호  wmi  WMI
0  KMHF341NBLA368601  KMH  KMH
1  KMJWA37KAEU613836  KMJ  KMJ
2  KMHS581BBKU058970  KMH  KMH
3  KNHMB76138S208448  KNH  KNH
4  KMHK281GFKU047528  KMH  KMH

In [46]:
df2.shape

(796614, 73)

In [47]:
df2[['차대번호', 'wmi', 'WMI', 'Manufacturer']].head()

                차대번호  wmi  WMI Manufacturer
0  KMHF341NBLA368601  KMH  KMH      Hyundai
1  KMJWA37KAEU613836  KMJ  KMJ      Hyundai
2  KMHS581BBKU058970  KMH  KMH      Hyundai
3  KNHMB76138S208448  KNH  KNH          Kia
4  KMHK281GFKU047528  KMH  KMH      Hyundai

In [48]:
df2.iloc[:, 6].isnull().sum()

0

##### 차대번호 길이 조건 전부 포함

In [49]:
# 총 샘플 수 : 796614

In [50]:
# 차대번호 길이 조건 전부 포함
df2['WMI'].info()

<class 'pandas.core.series.Series'>
Int64Index: 796614 entries, 0 to 796613
Series name: WMI
Non-Null Count   Dtype
--------------   -----
703101 non-null  object
dtypes: object(1)
memory usage: 12.2+ MB

In [52]:
# wmi 코드와 매칭되는 데이터
nor_iden = df2.loc[df2['WMI'].isnull() == False, ['차량번호', '차대번호', 'wmi', 'WMI', 'Identifier']]
nor_iden.head()

        차량번호               차대번호  wmi  WMI Identifier
0  서울31자5948  KMHF341NBLA368601  KMH  KMH    Hyundai
1    70두1683  KMJWA37KAEU613836  KMJ  KMJ    Hyundai
2    58수6175  KMHS581BBKU058970  KMH  KMH    Hyundai
3   721루3838  KNHMB76138S208448  KNH  KNH        Kia
4  서울32사1214  KMHK281GFKU047528  KMH  KMH    Hyundai

In [53]:
# WMI 코드와 매칭되는 샘플 수 : 703101
nor_iden.shape

(703101, 5)

In [54]:
# wmi 유니크 개수 : 158
len(nor_iden['wmi'].unique())

158

In [55]:
# 제작사 유니크 개수 : 71
len(nor_iden['Identifier'].unique())

71

In [56]:
# wmi 코드와 매칭 안되는 데이터
error_iden = df2.loc[df2['WMI'].isnull() == True, ['차량번호', '차대번호', 'wmi', 'WMI', 'Identifier']]
error_iden.head()

       차량번호               차대번호  wmi  WMI Identifier
13  96라7037  KMCXNS7BP2U608528  KMC  NaN        NaN
14  41나7328  KPBFA2AF14P139901  KPB  NaN        NaN
28  85가5294  KLTBC6AH19K000069  KLT  NaN        NaN
29  32누3490  KPBGA2AE1JP028617  KPB  NaN        NaN
46  05누5796  KPBKJ2AE1GP111063  KPB  NaN        NaN

In [57]:
# wmi 코드 매칭 안되는 샘플 수 : 93513
error_iden.shape

(93513, 5)

In [58]:
len(error_iden['wmi'].unique())

299

###### [출력]오류 wmi코드 예시

In [59]:
error_iden.to_excel('analysis/[정기검사][차대번호]오류_WMI코드_데이터예시.xlsx',index=False, encoding='cp949')

C:\Users\kbj\AppData\Roaming\Python\Python39\site-packages\pandas\util\_decorators.py:211: FutureWarning: the 'encoding' keyword is deprecated and will be removed in a future version. Please take steps to stop the use of 'encoding'
  return func(*args, **kwargs)

In [60]:
# wmi 코드와 매칭되는 데이터 통계
nor_iden_group = nor_iden.groupby(['Identifier'], as_index=False)['차대번호'].count().sort_values('차대번호', ascending=False)
nor_iden_group

         Identifier    차대번호
23          Hyundai  348754
30              Kia  211861
59        SsangYong   29957
52  Renault Samsung   26276
19        GM Daewoo   13591
..              ...     ...
48          Pontiac       2
67    Xingyue Group       1
12          Daimler       1
6              CAMI       1
0        Alfa Romeo       1

[71 rows x 2 columns]

###### [출력]제작사별 통계

In [61]:
nor_iden_group.to_excel('analysis/[정기검사][차대번호]제작사별_통계.xlsx', index=False, encoding='cp949')

C:\Users\kbj\AppData\Roaming\Python\Python39\site-packages\pandas\util\_decorators.py:211: FutureWarning: the 'encoding' keyword is deprecated and will be removed in a future version. Please take steps to stop the use of 'encoding'
  return func(*args, **kwargs)

##### 차대번호 정상

In [62]:
# - 길이 17자리, IOQ 문자 미포함
# - 차대번호 개수(정상 WMI 코드) : 795807

In [63]:
nor_vin = df2.loc[(df2['VIN_length'] == 17) & (df2['IOQ'] == 'N')]
nor_vin.head()

,검사소명,정기검사일자,검사종류,검사접수번호,통합접수번호,차량번호,차대번호,차량형식번호,차명,차종,...,VIN_length,wmi,WMI,MF CODE,Identifier,Manufacturer,Country,Vehicle Types,Description,참고
0,의정부자동차검사소,20220630,재검사(1부재검사),41402022063000832,41402022063000831,서울31자5948,KMHF341NBLA368601,A0810012000201319,그랜저(GRANDEUR),승용차일반형대형,...,17,KMH,KMH,HYUN,Hyundai,Hyundai,Korea,Passenger & multi-purpose vehicle,NaN,NaN
1,경주자동차검사소,20220630,재검사(1부재검사),47802022063000662,47802022063000651,70두1683,KMJWA37KAEU613836,A0810007404712213,그랜드 스타렉스(GRAND STAREX),승합차일반형중형,...,17,KMJ,KMJ,HYUN,Hyundai,Hyundai,Korea,Commercial vehicle & bus,NaN,NaN
2,구미자동차검사소,20220630,재검사(1부재검사),47402022063000442,47402022063000441,58수6175,KMHS581BBKU058970,A0810011400291218,싼타페(SANTAFE),승용차다목적형중형,...,17,KMH,KMH,HYUN,Hyundai,Hyundai,Korea,Passenger & multi-purpose vehicle,NaN,NaN
3,정읍자동차검사소,20220630,재검사(1부재검사),45602022063000192,45602022063000191,721루3838,KNHMB76138S208448,A0110003600422207,그랜드 카니발,승합차일반형중형,...,17,KNH,KNH,KIA,Kia,Kia,Korea,Bus,NaN,NaN
4,구로출장_봉천자동차정비공업,20220630,재검사(1부재검사),118c2022063000672,118c2022063000671,서울32사1214,KMHK281GFKU047528,A0810010900301218,코나 일렉트릭 (KONA ELECTRIC),승용차다목적형중형,...,17,KMH,KMH,HYUN,Hyundai,Hyundai,Korea,Passenger & multi-purpose vehicle,NaN,NaN

In [64]:
nor_vin.shape

(795807, 73)

In [65]:
# wmi 코드와 매칭된 데이터
nor_iden_by_nor_vin = nor_vin.loc[nor_vin['WMI'].isnull() == False]
nor_iden_by_nor_vin.shape

(703060, 73)

In [66]:
# wmi 코드와 매칭안된 데이터
nor_vin.loc[nor_vin['WMI'].isnull() == True].shape

(92747, 73)

In [67]:
# wmi 코드와 매칭된 데이터, 제작사 유니크 값
len(nor_iden_by_nor_vin['Identifier'].unique())

71

In [68]:
# wmi 코드와 매칭된 데이터, wmi 유니크 값
len(nor_iden_by_nor_vin['WMI'].unique())

157

In [69]:
# wmi 코드와 매칭된 데이터 통계
nor_iden_by_nor_vin_group = nor_iden_by_nor_vin.groupby('Identifier', as_index=False)['차대번호'].count().sort_values('차대번호', ascending=False)
nor_iden_by_nor_vin_group

         Identifier    차대번호
23          Hyundai  348752
30              Kia  211860
59        SsangYong   29954
52  Renault Samsung   26276
19        GM Daewoo   13589
..              ...     ...
48          Pontiac       2
67    Xingyue Group       1
12          Daimler       1
6              CAMI       1
0        Alfa Romeo       1

[71 rows x 2 columns]

###### [출력]제작사별 통계(정상차대번호)

In [70]:
nor_iden_by_nor_vin_group.to_excel('analysis/[정기검사][차대번호]제작사별_통계(정상차대번호).xlsx', encoding='cp949')

C:\Users\kbj\AppData\Roaming\Python\Python39\site-packages\pandas\util\_decorators.py:211: FutureWarning: the 'encoding' keyword is deprecated and will be removed in a future version. Please take steps to stop the use of 'encoding'
  return func(*args, **kwargs)

## 7\. 차량형식번호

In [162]:
df.iloc[:, 7].isnull().sum()

0

In [100]:
df.iloc[:5, 7]

0    A0810012000201319
1    A0810007404712213
2    A0810011400291218
3    A0110003600422207
4    A0810010900301218
Name: 차량형식번호, dtype: object

## 8\. 차명

In [163]:
df.iloc[:, 8].isnull().sum()

0

In [101]:
df.iloc[:5, 8]

0              그랜저(GRANDEUR)
1     그랜드 스타렉스(GRAND STAREX)
2               싼타페(SANTAFE)
3                    그랜드 카니발
4    코나 일렉트릭 (KONA ELECTRIC)
Name: 차명, dtype: object

## 9\. 차종

In [164]:
df.iloc[:, 9].isnull().sum()

0

In [102]:
df.iloc[:5, 9]

0     승용차일반형대형
1     승합차일반형중형
2    승용차다목적형중형
3     승합차일반형중형
4    승용차다목적형중형
Name: 차종, dtype: object

## 10\. 차량용도

In [165]:
df.iloc[:, 10].isnull().sum()

0

In [103]:
df.iloc[:5, 10]

0    개인택시
1     자가용
2     자가용
3     자가용
4    개인택시
Name: 차량용도, dtype: object

## 11\. 차량연식

In [166]:
df.iloc[:, 11].isnull().sum()

0

In [104]:
df.iloc[:5, 11]

0    2020
1    2014
2    2019
3    2008
4    2019
Name: 차량연식, dtype: int64

## 12\. 차량연료

In [167]:
df.iloc[:, 12].isnull().sum()

8844

In [105]:
df.iloc[:5, 12]

0    엘피지
1     경유
2     경유
3     경유
4     전기
Name: 차량연료, dtype: object

In [71]:
df.iloc[:, 12].value_counts()

경유               452065
휘발유(무연)          175488
휘발유               61336
엘피지               57342
하이브리드(휘발유+전기)     19797
전기                15291
CNG                5772
하이브리드(LPG+전기)       276
HE(수소전기)            138
기타연료                115
하이브리드(경유+전기)         77
하이브리드(CNG+전기)        65
LNG                   4
휘발유(유연)               3
태양열                   1
Name: 차량연료, dtype: int64

In [72]:
df.iloc[:, 0].isnull().sum()

0

## 13\. 주행거리

In [168]:
df.iloc[:, 13].isnull().sum()

1565

In [106]:
df.iloc[:5, 13

]

0    128017.0
1    158871.0
2     81656.0
3    208298.0
4    197829.0
Name: 주행거리, dtype: float64

## 14\. 차량길이

In [107]:
df.iloc[:5, 14]

0    4990
1    5125
2    4770
3    5130
4    4180
Name: 차량길이, dtype: int64

## 15\. 차량너비

In [108]:
df.iloc[:5, 15]

0    1875
1    1920
2    1890
3    1985
4    1800
Name: 차량너비, dtype: int64

## 16\. 차량높이

In [109]:
df.iloc[:5, 16]

0    1480
1    1925
2    1680
3    1830
4    1570
Name: 차량높이, dtype: int64

## 17\. 엔진형식

In [111]:
df.iloc[:5, 17]

0    L6DB
1    D4CB
2    D4HA
3      J3
4    EM16
Name: 엔진형식, dtype: object

## 18\. 배기량

In [112]:
df.iloc[:5, 18]

0    2999.0
1    2497.0
2    1995.0
3    2902.0
4     180.0
Name: 배기량, dtype: float64

## 19\. 엔진출력

In [113]:
df.iloc[:5, 19]

0    235/6000
1    140/3800
2    186/4000
3    170/3700
4    150/3800
Name: 엔진출력, dtype: object

## 20\. 차량중량

In [114]:
df.iloc[:5, 20]

0    1640.0
1    2185.0
2    1810.0
3    2220.0
4    1685.0
Name: 차량중량, dtype: float64

## 21\. 총중량

In [115]:
df.iloc[:5, 21]

0    1965
1    2965
2    2135
3    2935
4    2010
Name: 총중량, dtype: int64

## 22\. 정원

In [116]:
df.iloc[:5, 22]

0     5.0
1    12.0
2     5.0
3    11.0
4     5.0
Name: 정원, dtype: float64

## 23\. 비고

In [117]:
df.iloc[:5, 23]

0   NaN
1   NaN
2   NaN
3   NaN
4   NaN
Name: 비고, dtype: float64

## 24\. 최초등록일자

In [118]:
df.iloc[:5, 24]

0    20200626
1    20131205
2    20180712
3    20071115
4    20190717
Name: 최초등록일자, dtype: int64

## 25\. 제작일자

In [90]:
df.iloc[:5, 25]

0    20200622.0
1    20131130.0
2    20180703.0
3    20070905.0
4    20190626.0
Name: 제작일자, dtype: float64

In [73]:
df.iloc[:, 25].isnull().sum()

1925

In [75]:
df.loc[df['제작일자'].isnull() == True, ['차대번호', '제작일자']].head()

                   차대번호  제작일자
456   KMHJF31KPTU334445   NaN
1512  KMHMF11FPSU085571   NaN
2626  KNCSB1125TS703543   NaN
3084  KMFMA19HPSU027208   NaN
3504  KMFLA19JPTC102343   NaN

In [76]:
df.loc[df['제작일자'].isnull() == True, ['차대번호', '제작일자']].shape

(1925, 2)

In [81]:
temp = df.loc[df['제작일자'].isnull() == True, ['차대번호', '제작일자']]

In [86]:
# 제작일자 null 값 샘플 중 차대번호(17자리, IOQ 제외)인 데이터
idx25 = []
for i, one in enumerate(temp['차대번호']):
    if (len(one) == 17) and ('I' not in one) and ('O' not in one) and ('Q' not in one):
        idx25.append(temp.index[i])
len(idx25)

1824

In [93]:
df.loc[idx25, ['차대번호', '차량번호', '차량연식', '최초등록일자', '제작일자', '비고']].head()

                   차대번호       차량번호  차량연식    최초등록일자  제작일자  비고
456   KMHJF31KPTU334445    23더6026  1996  19960614   NaN NaN
1512  KMHMF11FPSU085571   강원3도5405  1995  19950601   NaN NaN
2626  KNCSB1125TS703543  강원80다2062  1996  19960704   NaN NaN
3084  KMFMA19HPSU027208    96라9641  1995  19950928   NaN NaN
3504  KMFLA19JPTC102343    92무0426  1996  19960216   NaN NaN

In [89]:
df.loc[idx25[0], '차대번호'][9]

'T'

## 26\. 검사전 유효기간 만료일

In [119]:
df.iloc[:5, 26]

0    20220625
1    20220604
2    20220711
3    20220627
4    20220716
Name: 검사전 유효기간 만료일, dtype: int64

## 27\. 관능검사판정

In [120]:
df.iloc[:5, 27]

0   NaN
1   NaN
2   NaN
3   NaN
4   NaN
Name: 관능검사판정, dtype: float64

## 28\. 관능부적합항목

In [121]:
df.iloc[:5, 28]

0   NaN
1   NaN
2   NaN
3   NaN
4   NaN
Name: 관능부적합항목, dtype: float64

## 29\. 검사방법

In [122]:
df.iloc[:5, 29]

0    무부하검사(정지가동)
1     무부하검사(급가속)
2     무부하검사(급가속)
3     무부하검사(급가속)
4    무부하검사(정지가동)
Name: 검사방법, dtype: object

## 30\. 무부하매연측정치1

In [123]:
df.iloc[:5, 30]

0    NaN
1    0.0
2    0.0
3    0.0
4    NaN
Name: 무부하매연측정치1, dtype: float64

## 31\. 무부하매연허용치1

In [124]:
df.iloc[:5, 31]

0    NaN
1    0.0
2    0.0
3    0.0
4    NaN
Name: 무부하매연허용치1, dtype: float64

## 32\. 무부하매연판정1

In [125]:
df.iloc[:5, 32]

0    NaN
1      Y
2      Y
3      Y
4    NaN
Name: 무부하매연판정1, dtype: object

## 33\. 무부하매연측정치2

In [126]:
df.iloc[:5, 33]

0   NaN
1   NaN
2   NaN
3   NaN
4   NaN
Name: 무부하매연측정치2, dtype: float64

## 34\. 무부하매연허용치2

In [127]:
df.iloc[:5, 34]

0   NaN
1   NaN
2   NaN
3   NaN
4   NaN
Name: 무부하매연허용치2, dtype: float64

## 35\. 무부하매연판정2

In [128]:
df.iloc[:5, 35]

0    NaN
1    NaN
2    NaN
3    NaN
4    NaN
Name: 무부하매연판정2, dtype: object

## 36\. 무부하매연측정치3

In [129]:
df.iloc[:5, 36]

0   NaN
1   NaN
2   NaN
3   NaN
4   NaN
Name: 무부하매연측정치3, dtype: float64

## 37\. 무부하매연허용치3

In [130]:
df.iloc[:5, 37]

0   NaN
1   NaN
2   NaN
3   NaN
4   NaN
Name: 무부하매연허용치3, dtype: float64

## 38\. 무부하매연판정3

In [131]:
df.iloc[:5, 38]

0    NaN
1    NaN
2    NaN
3    NaN
4    NaN
Name: 무부하매연판정3, dtype: object

## 39\. 무부하매연측정치4

In [132]:
df.iloc[:5, 39]

0   NaN
1   NaN
2   NaN
3   NaN
4   NaN
Name: 무부하매연측정치4, dtype: float64

## 40\. 무부하매연허용치4

In [133]:
df.iloc[:5, 40]

0   NaN
1   NaN
2   NaN
3   NaN
4   NaN
Name: 무부하매연허용치4, dtype: float64

## 41\. 무부하매연판정4

In [134]:
df.iloc[:5, 41]

0    NaN
1    NaN
2    NaN
3    NaN
4    NaN
Name: 무부하매연판정4, dtype: object

## 42\. 무부하매연측정치5

In [135]:
df.iloc[:5, 42]

0   NaN
1   NaN
2   NaN
3   NaN
4   NaN
Name: 무부하매연측정치5, dtype: float64

## 43\. 무부하매연허용치5

In [136]:
df.iloc[:5, 42]

0   NaN
1   NaN
2   NaN
3   NaN
4   NaN
Name: 무부하매연측정치5, dtype: float64

## 44\. 무부하매연판정5

In [137]:
df.iloc[:5, 44]

0    NaN
1    NaN
2    NaN
3    NaN
4    NaN
Name: 무부하매연판정5, dtype: object

## 45\. 무부하매연측정치6

In [138]:
df.iloc[:5, 45]

0   NaN
1   NaN
2   NaN
3   NaN
4   NaN
Name: 무부하매연측정치6, dtype: float64

## 46\. 무부하매연허용치6

In [139]:
df.iloc[:5, 46]

0   NaN
1   NaN
2   NaN
3   NaN
4   NaN
Name: 무부하매연허용치6, dtype: float64

## 47\. 무부하매연판정6

In [140]:
df.iloc[:5, 47]

0    NaN
1    NaN
2    NaN
3    NaN
4    NaN
Name: 무부하매연판정6, dtype: object

## 48\. 이산화탄소값

In [141]:
df.iloc[:5, 48]

0   NaN
1   NaN
2   NaN
3   NaN
4   NaN
Name: 이산화탄소값, dtype: float64

## 49\. 최대출력허용치

In [142]:
df.iloc[:5, 49]

0   NaN
1   NaN
2   NaN
3   NaN
4   NaN
Name: 최대출력허용치, dtype: float64

## 50\. 최대출력측정값

In [143]:
df.iloc[:5, 50]

0   NaN
1   NaN
2   NaN
3   NaN
4   NaN
Name: 최대출력측정값, dtype: float64

## 51\. 산소값

In [144]:
df.iloc[:5, 51]

0   NaN
1   NaN
2   NaN
3   NaN
4   NaN
Name: 산소값, dtype: float64

## 52\. 공기온도

In [145]:
df.iloc[:5, 52]

0   NaN
1   NaN
2   NaN
3   NaN
4   NaN
Name: 공기온도, dtype: float64

## 53\. 공기압력

In [146]:
df.iloc[:5, 53]

0   NaN
1   NaN
2   NaN
3   NaN
4   NaN
Name: 공기압력, dtype: float64

## 54\. 검사판정

In [147]:
df.iloc[:5, 54]

0    Y
1    Y
2    Y
3    N
4    Y
Name: 검사판정, dtype: object

## 55\. 재검사기간

In [148]:
df.iloc[:5, 55]

0    20220630~20220805
1    20220630~20220715
2    20220630~20220821
3    20220630~20220807
4    20220630~20220826
Name: 재검사기간, dtype: object

## 56\. 검사후 갱신유효기간

In [149]:
df.iloc[:5, 56]

0    20220626~20230625
1    20220605~20221204
2    20220712~20240711
3    20220628~20221227
4    20220717~20230716
Name: 검사후 갱신유효기간, dtype: object

## 57\. 관능검사원

In [150]:
df.iloc[:5, 57]

0    최지훈
1    김영수
2    허진우
3    정광영
4    김경호
Name: 관능검사원, dtype: object

## 58\. 배출가스검사원

In [151]:
df.iloc[:5, 58]

0    장정우
1    김동현
2    이건호
3    정광영
4    이기태
Name: 배출가스검사원, dtype: object

## 59\. 책임검사원

In [152]:
df.iloc[:5, 59]

0    박기열
1    이준석
2    박주하
3    김동윤
4    이광구
Name: 책임검사원, dtype: object

## 60\. 검사 판정시간

In [153]:
df.iloc[:5, 60]

0    20220701 11:08:49
1    20220701 09:26:26
2    20220701 15:05:16
3    20220701 16:57:36
4    20220701 15:53:50
Name: 검사 판정시간, dtype: object

## 61\. 자료구분코드

In [154]:
df.iloc[:5, 61]

0    D
1    D
2    D
3    D
4    D
Name: 자료구분코드, dtype: object

# 코드 마지막