# Library

In [1]:
import pandas as pd
import os
import numpy as np
from tqdm import tqdm

## [load] file

In [4]:
# file path
# ODS : D:/과업/[한국환경공단]자동차 환경 빅데이터 구축 2차/data/ODS
# STD : D:/과업/[한국환경공단]자동차 환경 빅데이터 구축 2차/data/STD

In [5]:
ods_path = 'D:/과업/[한국환경공단]자동차 환경 빅데이터 구축 2차/data/ODS'
std_path = 'D:/과업/[한국환경공단]자동차 환경 빅데이터 구축 2차/data/STD'

## 1\. 자동차 등록정보 데이터 비교 함수화

In [39]:
def fuc(num):
   # 파일명, 파일경로 설정
   ods_file_name = f'ODS_CEG_CAR_MIG_{num}'
   std_file_name = f'STD_CEG_CAR_MIG_{num}'
   opath = os.path.join(ods_path, ods_file_name + '.csv')
   spath = os.path.join(std_path, std_file_name + '.csv')
   odf = pd.read_csv(opath)
   sdf = pd.read_csv(spath)

   # 분석
   olist = [
   'ACQS_AMT', 
   'ACQS_DE', 
   'BSPL_LEDO_CD', 
   'CRTN_DT', 
   'EMIS_CRTCNO', 
   'EMIS_GRD', 
   'EMIS_INSP_EFCT_DE', 
   'FST_MBERNO', 
   'FST_REG_DE', 
   'LEM_KND', 
   'LEM_STRCHG_YN', 
   'LEM_YN', 
   'NOW_MBERNO', 
   'OWNR_SE', 
   'PURPS', 
   'SRCMNNO', 
   'UPDT_DT', 
   'VHCL_ERSR_YN', 
   'VHCL_MNFCT_DE', 
   'VHCL_YRIDNW', 
   'VHCTY', 
   'VHMNO', 
   'VHRNO_NUM_INFO', 
   'VIN', 'VHRNO', 
   'NOW_OWNR_NM', 
   'BSPL_ADRS', 
   'OWNR_ADRS', 
   'BSPL_ZIP', 
   'FST_OWNR_NM', 
   'RMK', 
   'USER_ID'
   ]
   slist = [
   'ACQS_AMT', 
   'ACQS_YMD', 
   'BSPL_STDG_CD', 
   'VHCL_REG_DT', 
   'EXHST_GAS_CERT_NO', 
   'EXHST_GAS_GRD_CD', 
   'EXTGAS_INSP_VLD_YMD', 
   'FRST_MBR_NO', 
   'FRST_REG_YMD', 
   'LEM_KND_CD', 
   'STRCT_CHG_YN', 
   'LEM_YN', 
   'NOW_MBR_NO', 
   'VHCL_OWNR_CL_CD', 
   'PURPS_CD2', 
   'MANP_MNG_NO', 
   'MDFCN_DT', 
   'VHCL_ERSR_YN', 
   'VHCL_FBCTN_YMD', 
   'YRIDNW', 
   'VHCTY_CD', 
   'VHCL_MNG_NO', 
   'VHRNO_FGRE_INFO', 
   'VIN', 
   'VHRNO'
   ]
   odict = {
   '컬럼':olist,
   '내용':['취득금액', '취득일자', '본거지 법정동 코드', '생성 일시', '배출가스 인증번호', '배출가스 등급', '배출가스검사유효일자', '최초 회원번호', '최초 등록 일자', '저공해조치 종류', '저공해조치 구조변경 YN', '저공해조치 YN(미사용)', '현재 회원번호', '소유자 구분', '용도', '제원관리번호', '수정 일시', '차량 말소 YN', '차량 제작 일자', '차량 연식', '차종', '차량관리번호', '차량등록번호 숫자 정보', '차대번호', '미정', '미정', '미정', '미정', '미정', '미정', '미정', '미정']
   }
   ocol = pd.DataFrame(odict)

   sdict = {
      '컬럼':slist,
      '내용':['취득금액', '취득일자', '본거지법정동코드', '차량등록일시', '배출가스인증번호', '배출가스등급', '배출가스검사유효일자', '최초회원번호', '최초등록일자', '저공해조치종류코드', '구조변경여부', '저공해조치여부', '현재회원번호', '차량소유자분류코드', '용도코드2', '제원관리번호', '수정일시', '차량말소여부', '차량제작일자', '연식', '차종코드', '차량관리번호', np.nan, '차대번호', '미정']
      }
   scol = pd.DataFrame(sdict)

   odf2 = odf[olist]
   sdf2 = sdf[slist]

   ocount = odf2.count().reset_index()
   ocount.columns = ['index', 'ocount']

   scount = sdf2.count().reset_index()
   scount.columns = ['index', 'scount']
   oscount = pd.concat([ocount, scount], axis=1)
   oscount['차이'] = oscount['ocount'] - oscount['scount']

   # 분석 결과 파일로 출력
   texcel = pd.ExcelWriter(f'analysis/ODSvsSTD/[정제]{ods_file_name}_vs_{std_file_name}.xlsx')
   ocol.to_excel(texcel, sheet_name='ODS_col', index=False)
   scol.to_excel(texcel, sheet_name='STD_col', index=False)
   oscount.to_excel(texcel, sheet_name='count', index=False)
   # odf2.count().reset_index().to_excel(texcel, sheet_name='ODS_count',index=False)
   # sdf2.count().reset_index().to_excel(texcel, sheet_name='STD_count',index=False)
   texcel.save()
   
   print(odf2.shape, sdf2.shape)
   print(f'[정제]{ods_file_name}_vs_{std_file_name}.xlsx 출력 완료.')

In [6]:
for n in tqdm(range(1, 31)):
    try:
        fuc(n)
    except:
        pass

  0%|          | 0/30 [00:00<?, ?it/s]C:\Users\kbjung\AppData\Local\Temp\ipykernel_13072\2172881546.py:7: DtypeWarning: Columns (13,15,26) have mixed types. Specify dtype option on import or set low_memory=False.
  odf = pd.read_csv(opath)
  3%|▎         | 1/30 [00:20<09:51, 20.40s/it]

[정제]ODS_CEG_CAR_MIG_1_vs_STD_CEG_CAR_MIG_1.xlsx 출력 완료.

C:\Users\kbjung\AppData\Local\Temp\ipykernel_13072\2172881546.py:7: DtypeWarning: Columns (15) have mixed types. Specify dtype option on import or set low_memory=False.
  odf = pd.read_csv(opath)
  7%|▋         | 2/30 [00:40<09:28, 20.32s/it]

[정제]ODS_CEG_CAR_MIG_2_vs_STD_CEG_CAR_MIG_2.xlsx 출력 완료.

 10%|█         | 3/30 [01:00<09:06, 20.23s/it]

[정제]ODS_CEG_CAR_MIG_3_vs_STD_CEG_CAR_MIG_3.xlsx 출력 완료.

 13%|█▎        | 4/30 [01:20<08:45, 20.22s/it]

[정제]ODS_CEG_CAR_MIG_4_vs_STD_CEG_CAR_MIG_4.xlsx 출력 완료.

 17%|█▋        | 5/30 [01:41<08:25, 20.23s/it]

[정제]ODS_CEG_CAR_MIG_5_vs_STD_CEG_CAR_MIG_5.xlsx 출력 완료.

 20%|██        | 6/30 [02:01<08:07, 20.31s/it]

[정제]ODS_CEG_CAR_MIG_6_vs_STD_CEG_CAR_MIG_6.xlsx 출력 완료.

 23%|██▎       | 7/30 [02:22<07:47, 20.31s/it]

[정제]ODS_CEG_CAR_MIG_7_vs_STD_CEG_CAR_MIG_7.xlsx 출력 완료.

 27%|██▋       | 8/30 [02:42<07:26, 20.29s/it]

[정제]ODS_CEG_CAR_MIG_8_vs_STD_CEG_CAR_MIG_8.xlsx 출력 완료.

C:\Users\kbjung\AppData\Local\Temp\ipykernel_13072\2172881546.py:7: DtypeWarning: Columns (17) have mixed types. Specify dtype option on import or set low_memory=False.
  odf = pd.read_csv(opath)
 30%|███       | 9/30 [03:02<07:05, 20.26s/it]

[정제]ODS_CEG_CAR_MIG_9_vs_STD_CEG_CAR_MIG_9.xlsx 출력 완료.

 33%|███▎      | 10/30 [03:22<06:44, 20.25s/it]

[정제]ODS_CEG_CAR_MIG_10_vs_STD_CEG_CAR_MIG_10.xlsx 출력 완료.

 37%|███▋      | 11/30 [03:42<06:23, 20.21s/it]

[정제]ODS_CEG_CAR_MIG_11_vs_STD_CEG_CAR_MIG_11.xlsx 출력 완료.

 40%|████      | 12/30 [04:03<06:04, 20.28s/it]

[정제]ODS_CEG_CAR_MIG_12_vs_STD_CEG_CAR_MIG_12.xlsx 출력 완료.

 43%|████▎     | 13/30 [04:23<05:45, 20.35s/it]

[정제]ODS_CEG_CAR_MIG_13_vs_STD_CEG_CAR_MIG_13.xlsx 출력 완료.

 47%|████▋     | 14/30 [04:44<05:28, 20.52s/it]

[정제]ODS_CEG_CAR_MIG_14_vs_STD_CEG_CAR_MIG_14.xlsx 출력 완료.

 50%|█████     | 15/30 [05:04<05:06, 20.45s/it]

[정제]ODS_CEG_CAR_MIG_15_vs_STD_CEG_CAR_MIG_15.xlsx 출력 완료.

 53%|█████▎    | 16/30 [05:26<04:50, 20.76s/it]

[정제]ODS_CEG_CAR_MIG_16_vs_STD_CEG_CAR_MIG_16.xlsx 출력 완료.

C:\Users\kbjung\AppData\Local\Temp\ipykernel_13072\2172881546.py:7: DtypeWarning: Columns (17) have mixed types. Specify dtype option on import or set low_memory=False.
  odf = pd.read_csv(opath)
C:\Users\kbjung\AppData\Local\Temp\ipykernel_13072\2172881546.py:8: DtypeWarning: Columns (9) have mixed types. Specify dtype option on import or set low_memory=False.
  sdf = pd.read_csv(spath)
 57%|█████▋    | 17/30 [05:47<04:30, 20.81s/it]

[정제]ODS_CEG_CAR_MIG_17_vs_STD_CEG_CAR_MIG_17.xlsx 출력 완료.

C:\Users\kbjung\AppData\Local\Temp\ipykernel_13072\2172881546.py:8: DtypeWarning: Columns (9) have mixed types. Specify dtype option on import or set low_memory=False.
  sdf = pd.read_csv(spath)
 60%|██████    | 18/30 [06:07<04:08, 20.71s/it]

[정제]ODS_CEG_CAR_MIG_18_vs_STD_CEG_CAR_MIG_18.xlsx 출력 완료.

C:\Users\kbjung\AppData\Local\Temp\ipykernel_13072\2172881546.py:8: DtypeWarning: Columns (9) have mixed types. Specify dtype option on import or set low_memory=False.
  sdf = pd.read_csv(spath)
 63%|██████▎   | 19/30 [06:28<03:48, 20.78s/it]

[정제]ODS_CEG_CAR_MIG_19_vs_STD_CEG_CAR_MIG_19.xlsx 출력 완료.

C:\Users\kbjung\AppData\Local\Temp\ipykernel_13072\2172881546.py:8: DtypeWarning: Columns (9) have mixed types. Specify dtype option on import or set low_memory=False.
  sdf = pd.read_csv(spath)
 67%|██████▋   | 20/30 [06:49<03:26, 20.66s/it]

[정제]ODS_CEG_CAR_MIG_20_vs_STD_CEG_CAR_MIG_20.xlsx 출력 완료.

 70%|███████   | 21/30 [07:00<02:39, 17.75s/it]C:\Users\kbjung\AppData\Local\Temp\ipykernel_13072\2172881546.py:8: DtypeWarning: Columns (9) have mixed types. Specify dtype option on import or set low_memory=False.
  sdf = pd.read_csv(spath)
 73%|███████▎  | 22/30 [07:20<02:29, 18.67s/it]

[정제]ODS_CEG_CAR_MIG_22_vs_STD_CEG_CAR_MIG_22.xlsx 출력 완료.

C:\Users\kbjung\AppData\Local\Temp\ipykernel_13072\2172881546.py:7: DtypeWarning: Columns (18) have mixed types. Specify dtype option on import or set low_memory=False.
  odf = pd.read_csv(opath)
C:\Users\kbjung\AppData\Local\Temp\ipykernel_13072\2172881546.py:8: DtypeWarning: Columns (9) have mixed types. Specify dtype option on import or set low_memory=False.
  sdf = pd.read_csv(spath)
 77%|███████▋  | 23/30 [07:42<02:16, 19.47s/it]

[정제]ODS_CEG_CAR_MIG_23_vs_STD_CEG_CAR_MIG_23.xlsx 출력 완료.

C:\Users\kbjung\AppData\Local\Temp\ipykernel_13072\2172881546.py:7: DtypeWarning: Columns (18) have mixed types. Specify dtype option on import or set low_memory=False.
  odf = pd.read_csv(opath)
C:\Users\kbjung\AppData\Local\Temp\ipykernel_13072\2172881546.py:8: DtypeWarning: Columns (9) have mixed types. Specify dtype option on import or set low_memory=False.
  sdf = pd.read_csv(spath)
 80%|████████  | 24/30 [08:03<02:00, 20.08s/it]

[정제]ODS_CEG_CAR_MIG_24_vs_STD_CEG_CAR_MIG_24.xlsx 출력 완료.

C:\Users\kbjung\AppData\Local\Temp\ipykernel_13072\2172881546.py:7: DtypeWarning: Columns (18) have mixed types. Specify dtype option on import or set low_memory=False.
  odf = pd.read_csv(opath)
C:\Users\kbjung\AppData\Local\Temp\ipykernel_13072\2172881546.py:8: DtypeWarning: Columns (9) have mixed types. Specify dtype option on import or set low_memory=False.
  sdf = pd.read_csv(spath)
 83%|████████▎ | 25/30 [08:25<01:42, 20.51s/it]

[정제]ODS_CEG_CAR_MIG_25_vs_STD_CEG_CAR_MIG_25.xlsx 출력 완료.

C:\Users\kbjung\AppData\Local\Temp\ipykernel_13072\2172881546.py:8: DtypeWarning: Columns (9) have mixed types. Specify dtype option on import or set low_memory=False.
  sdf = pd.read_csv(spath)
 87%|████████▋ | 26/30 [08:46<01:23, 20.82s/it]

[정제]ODS_CEG_CAR_MIG_26_vs_STD_CEG_CAR_MIG_26.xlsx 출력 완료.

C:\Users\kbjung\AppData\Local\Temp\ipykernel_13072\2172881546.py:8: DtypeWarning: Columns (9) have mixed types. Specify dtype option on import or set low_memory=False.
  sdf = pd.read_csv(spath)
 90%|█████████ | 27/30 [09:08<01:03, 21.11s/it]

[정제]ODS_CEG_CAR_MIG_27_vs_STD_CEG_CAR_MIG_27.xlsx 출력 완료.

C:\Users\kbjung\AppData\Local\Temp\ipykernel_13072\2172881546.py:8: DtypeWarning: Columns (9) have mixed types. Specify dtype option on import or set low_memory=False.
  sdf = pd.read_csv(spath)
 93%|█████████▎| 28/30 [09:29<00:42, 21.14s/it]

[정제]ODS_CEG_CAR_MIG_28_vs_STD_CEG_CAR_MIG_28.xlsx 출력 완료.

C:\Users\kbjung\AppData\Local\Temp\ipykernel_13072\2172881546.py:8: DtypeWarning: Columns (1,9,15,18) have mixed types. Specify dtype option on import or set low_memory=False.
  sdf = pd.read_csv(spath)
 97%|█████████▋| 29/30 [09:51<00:21, 21.34s/it]

[정제]ODS_CEG_CAR_MIG_29_vs_STD_CEG_CAR_MIG_29.xlsx 출력 완료.

C:\Users\kbjung\AppData\Local\Temp\ipykernel_13072\2172881546.py:8: DtypeWarning: Columns (9) have mixed types. Specify dtype option on import or set low_memory=False.
  sdf = pd.read_csv(spath)
100%|██████████| 30/30 [10:02<00:00, 20.07s/it]

[정제]ODS_CEG_CAR_MIG_30_vs_STD_CEG_CAR_MIG_30.xlsx 출력 완료.

In [40]:
def file_shape(num):
   # 파일명, 파일경로 설정
   ods_file_name = f'ODS_CEG_CAR_MIG_{num}'
   std_file_name = f'STD_CEG_CAR_MIG_{num}'
   opath = os.path.join(ods_path, ods_file_name + '.csv')
   spath = os.path.join(std_path, std_file_name + '.csv')
   odf = pd.read_csv(opath)
   sdf = pd.read_csv(spath)

   # 분석
   olist = [
   'ACQS_AMT', 
   'ACQS_DE', 
   'BSPL_LEDO_CD', 
   'CRTN_DT', 
   'EMIS_CRTCNO', 
   'EMIS_GRD', 
   'EMIS_INSP_EFCT_DE', 
   'FST_MBERNO', 
   'FST_REG_DE', 
   'LEM_KND', 
   'LEM_STRCHG_YN', 
   'LEM_YN', 
   'NOW_MBERNO', 
   'OWNR_SE', 
   'PURPS', 
   'SRCMNNO', 
   'UPDT_DT', 
   'VHCL_ERSR_YN', 
   'VHCL_MNFCT_DE', 
   'VHCL_YRIDNW', 
   'VHCTY', 
   'VHMNO', 
   'VHRNO_NUM_INFO', 
   'VIN', 'VHRNO', 
   'NOW_OWNR_NM', 
   'BSPL_ADRS', 
   'OWNR_ADRS', 
   'BSPL_ZIP', 
   'FST_OWNR_NM', 
   'RMK', 
   'USER_ID'
   ]
   slist = [
   'ACQS_AMT', 
   'ACQS_YMD', 
   'BSPL_STDG_CD', 
   'VHCL_REG_DT', 
   'EXHST_GAS_CERT_NO', 
   'EXHST_GAS_GRD_CD', 
   'EXTGAS_INSP_VLD_YMD', 
   'FRST_MBR_NO', 
   'FRST_REG_YMD', 
   'LEM_KND_CD', 
   'STRCT_CHG_YN', 
   'LEM_YN', 
   'NOW_MBR_NO', 
   'VHCL_OWNR_CL_CD', 
   'PURPS_CD2', 
   'MANP_MNG_NO', 
   'MDFCN_DT', 
   'VHCL_ERSR_YN', 
   'VHCL_FBCTN_YMD', 
   'YRIDNW', 
   'VHCTY_CD', 
   'VHCL_MNG_NO', 
   'VHRNO_FGRE_INFO', 
   'VIN', 
   'VHRNO'
   ]
   odict = {
   '컬럼':olist,
   '내용':['취득금액', '취득일자', '본거지 법정동 코드', '생성 일시', '배출가스 인증번호', '배출가스 등급', '배출가스검사유효일자', '최초 회원번호', '최초 등록 일자', '저공해조치 종류', '저공해조치 구조변경 YN', '저공해조치 YN(미사용)', '현재 회원번호', '소유자 구분', '용도', '제원관리번호', '수정 일시', '차량 말소 YN', '차량 제작 일자', '차량 연식', '차종', '차량관리번호', '차량등록번호 숫자 정보', '차대번호', '미정', '미정', '미정', '미정', '미정', '미정', '미정', '미정']
   }
   ocol = pd.DataFrame(odict)

   sdict = {
      '컬럼':slist,
      '내용':['취득금액', '취득일자', '본거지법정동코드', '차량등록일시', '배출가스인증번호', '배출가스등급', '배출가스검사유효일자', '최초회원번호', '최초등록일자', '저공해조치종류코드', '구조변경여부', '저공해조치여부', '현재회원번호', '차량소유자분류코드', '용도코드2', '제원관리번호', '수정일시', '차량말소여부', '차량제작일자', '연식', '차종코드', '차량관리번호', np.nan, '차대번호', '미정']
      }
   scol = pd.DataFrame(sdict)

   odf2 = odf[olist]
   sdf2 = sdf[slist]

   print(f'{ods_file_name}_vs_{std_file_name}')
   print(odf2.shape, sdf2.shape)

In [41]:
for n in tqdm(range(1, 31)):
    try:
        file_shape(n)
    except:
        pass

  0%|          | 0/30 [00:00<?, ?it/s]C:\Users\kbjung\AppData\Local\Temp\ipykernel_3828\2617053573.py:7: DtypeWarning: Columns (13,15,26) have mixed types. Specify dtype option on import or set low_memory=False.
  odf = pd.read_csv(opath)
  3%|▎         | 1/30 [00:15<07:27, 15.44s/it]

ODS_CEG_CAR_MIG_1_vs_STD_CEG_CAR_MIG_1
(1000000, 32) (1000000, 25)

C:\Users\kbjung\AppData\Local\Temp\ipykernel_3828\2617053573.py:7: DtypeWarning: Columns (15) have mixed types. Specify dtype option on import or set low_memory=False.
  odf = pd.read_csv(opath)
  7%|▋         | 2/30 [00:30<07:10, 15.37s/it]

ODS_CEG_CAR_MIG_2_vs_STD_CEG_CAR_MIG_2
(1000000, 32) (1000000, 25)

 10%|█         | 3/30 [00:46<06:55, 15.38s/it]

ODS_CEG_CAR_MIG_3_vs_STD_CEG_CAR_MIG_3
(1000000, 32) (1000000, 25)

 13%|█▎        | 4/30 [01:01<06:42, 15.48s/it]

ODS_CEG_CAR_MIG_4_vs_STD_CEG_CAR_MIG_4
(1000000, 32) (1000000, 25)

 17%|█▋        | 5/30 [01:17<06:27, 15.51s/it]

ODS_CEG_CAR_MIG_5_vs_STD_CEG_CAR_MIG_5
(1000000, 32) (1000000, 25)

 20%|██        | 6/30 [01:33<06:14, 15.60s/it]

ODS_CEG_CAR_MIG_6_vs_STD_CEG_CAR_MIG_6
(1000000, 32) (1000000, 25)

 23%|██▎       | 7/30 [01:48<06:00, 15.68s/it]

ODS_CEG_CAR_MIG_7_vs_STD_CEG_CAR_MIG_7
(1000000, 32) (1000000, 25)

 27%|██▋       | 8/30 [02:04<05:44, 15.65s/it]

ODS_CEG_CAR_MIG_8_vs_STD_CEG_CAR_MIG_8
(1000000, 32) (1000000, 25)

C:\Users\kbjung\AppData\Local\Temp\ipykernel_3828\2617053573.py:7: DtypeWarning: Columns (17) have mixed types. Specify dtype option on import or set low_memory=False.
  odf = pd.read_csv(opath)
 30%|███       | 9/30 [02:20<05:28, 15.64s/it]

ODS_CEG_CAR_MIG_9_vs_STD_CEG_CAR_MIG_9
(1000000, 32) (1000000, 25)

 33%|███▎      | 10/30 [02:35<05:11, 15.57s/it]

ODS_CEG_CAR_MIG_10_vs_STD_CEG_CAR_MIG_10
(1000000, 32) (1000000, 25)

 37%|███▋      | 11/30 [02:51<04:55, 15.55s/it]

ODS_CEG_CAR_MIG_11_vs_STD_CEG_CAR_MIG_11
(1000000, 32) (1000000, 25)

 40%|████      | 12/30 [03:06<04:40, 15.57s/it]

ODS_CEG_CAR_MIG_12_vs_STD_CEG_CAR_MIG_12
(1000000, 32) (1000000, 25)

 43%|████▎     | 13/30 [03:22<04:24, 15.57s/it]

ODS_CEG_CAR_MIG_13_vs_STD_CEG_CAR_MIG_13
(1000000, 32) (1000000, 25)

 47%|████▋     | 14/30 [03:37<04:08, 15.55s/it]

ODS_CEG_CAR_MIG_14_vs_STD_CEG_CAR_MIG_14
(1000000, 32) (1000000, 25)

 50%|█████     | 15/30 [03:53<03:53, 15.55s/it]

ODS_CEG_CAR_MIG_15_vs_STD_CEG_CAR_MIG_15
(1000000, 32) (1000000, 25)

 53%|█████▎    | 16/30 [04:08<03:37, 15.52s/it]

ODS_CEG_CAR_MIG_16_vs_STD_CEG_CAR_MIG_16
(1000000, 32) (1000000, 25)

C:\Users\kbjung\AppData\Local\Temp\ipykernel_3828\2617053573.py:7: DtypeWarning: Columns (17) have mixed types. Specify dtype option on import or set low_memory=False.
  odf = pd.read_csv(opath)
C:\Users\kbjung\AppData\Local\Temp\ipykernel_3828\2617053573.py:8: DtypeWarning: Columns (9) have mixed types. Specify dtype option on import or set low_memory=False.
  sdf = pd.read_csv(spath)
 57%|█████▋    | 17/30 [04:24<03:21, 15.50s/it]

ODS_CEG_CAR_MIG_17_vs_STD_CEG_CAR_MIG_17
(1000000, 32) (1000000, 25)

C:\Users\kbjung\AppData\Local\Temp\ipykernel_3828\2617053573.py:8: DtypeWarning: Columns (9) have mixed types. Specify dtype option on import or set low_memory=False.
  sdf = pd.read_csv(spath)
 60%|██████    | 18/30 [04:39<03:06, 15.57s/it]

ODS_CEG_CAR_MIG_18_vs_STD_CEG_CAR_MIG_18
(1000000, 32) (1000000, 25)

C:\Users\kbjung\AppData\Local\Temp\ipykernel_3828\2617053573.py:8: DtypeWarning: Columns (9) have mixed types. Specify dtype option on import or set low_memory=False.
  sdf = pd.read_csv(spath)
 63%|██████▎   | 19/30 [04:55<02:50, 15.53s/it]

ODS_CEG_CAR_MIG_19_vs_STD_CEG_CAR_MIG_19
(1000000, 32) (1000000, 25)

C:\Users\kbjung\AppData\Local\Temp\ipykernel_3828\2617053573.py:8: DtypeWarning: Columns (9) have mixed types. Specify dtype option on import or set low_memory=False.
  sdf = pd.read_csv(spath)
 67%|██████▋   | 20/30 [05:10<02:35, 15.54s/it]

ODS_CEG_CAR_MIG_20_vs_STD_CEG_CAR_MIG_20
(1000000, 32) (1000000, 25)

 70%|███████   | 21/30 [05:21<02:06, 14.01s/it]C:\Users\kbjung\AppData\Local\Temp\ipykernel_3828\2617053573.py:8: DtypeWarning: Columns (9) have mixed types. Specify dtype option on import or set low_memory=False.
  sdf = pd.read_csv(spath)
 73%|███████▎  | 22/30 [05:37<01:56, 14.57s/it]

ODS_CEG_CAR_MIG_22_vs_STD_CEG_CAR_MIG_22
(1000000, 32) (1000000, 25)

C:\Users\kbjung\AppData\Local\Temp\ipykernel_3828\2617053573.py:7: DtypeWarning: Columns (18) have mixed types. Specify dtype option on import or set low_memory=False.
  odf = pd.read_csv(opath)
C:\Users\kbjung\AppData\Local\Temp\ipykernel_3828\2617053573.py:8: DtypeWarning: Columns (9) have mixed types. Specify dtype option on import or set low_memory=False.
  sdf = pd.read_csv(spath)
 77%|███████▋  | 23/30 [05:53<01:45, 15.05s/it]

ODS_CEG_CAR_MIG_23_vs_STD_CEG_CAR_MIG_23
(1000000, 32) (1000000, 25)

C:\Users\kbjung\AppData\Local\Temp\ipykernel_3828\2617053573.py:7: DtypeWarning: Columns (18) have mixed types. Specify dtype option on import or set low_memory=False.
  odf = pd.read_csv(opath)
C:\Users\kbjung\AppData\Local\Temp\ipykernel_3828\2617053573.py:8: DtypeWarning: Columns (9) have mixed types. Specify dtype option on import or set low_memory=False.
  sdf = pd.read_csv(spath)
 80%|████████  | 24/30 [06:09<01:32, 15.48s/it]

ODS_CEG_CAR_MIG_24_vs_STD_CEG_CAR_MIG_24
(1000000, 32) (1000000, 25)

C:\Users\kbjung\AppData\Local\Temp\ipykernel_3828\2617053573.py:7: DtypeWarning: Columns (18) have mixed types. Specify dtype option on import or set low_memory=False.
  odf = pd.read_csv(opath)
C:\Users\kbjung\AppData\Local\Temp\ipykernel_3828\2617053573.py:8: DtypeWarning: Columns (9) have mixed types. Specify dtype option on import or set low_memory=False.
  sdf = pd.read_csv(spath)
 83%|████████▎ | 25/30 [06:26<01:18, 15.65s/it]

ODS_CEG_CAR_MIG_25_vs_STD_CEG_CAR_MIG_25
(1000000, 32) (1000000, 25)

C:\Users\kbjung\AppData\Local\Temp\ipykernel_3828\2617053573.py:8: DtypeWarning: Columns (9) have mixed types. Specify dtype option on import or set low_memory=False.
  sdf = pd.read_csv(spath)
 87%|████████▋ | 26/30 [06:41<01:02, 15.72s/it]

ODS_CEG_CAR_MIG_26_vs_STD_CEG_CAR_MIG_26
(1000000, 32) (1000000, 25)

C:\Users\kbjung\AppData\Local\Temp\ipykernel_3828\2617053573.py:8: DtypeWarning: Columns (9) have mixed types. Specify dtype option on import or set low_memory=False.
  sdf = pd.read_csv(spath)
 90%|█████████ | 27/30 [06:57<00:47, 15.74s/it]

ODS_CEG_CAR_MIG_27_vs_STD_CEG_CAR_MIG_27
(1000000, 32) (1000000, 25)

C:\Users\kbjung\AppData\Local\Temp\ipykernel_3828\2617053573.py:8: DtypeWarning: Columns (9) have mixed types. Specify dtype option on import or set low_memory=False.
  sdf = pd.read_csv(spath)
 93%|█████████▎| 28/30 [07:13<00:31, 15.75s/it]

ODS_CEG_CAR_MIG_28_vs_STD_CEG_CAR_MIG_28
(1000000, 32) (1000000, 25)

C:\Users\kbjung\AppData\Local\Temp\ipykernel_3828\2617053573.py:8: DtypeWarning: Columns (1,9,15,18) have mixed types. Specify dtype option on import or set low_memory=False.
  sdf = pd.read_csv(spath)
 97%|█████████▋| 29/30 [07:28<00:15, 15.63s/it]

ODS_CEG_CAR_MIG_29_vs_STD_CEG_CAR_MIG_29
(1000000, 32) (1000000, 25)

C:\Users\kbjung\AppData\Local\Temp\ipykernel_3828\2617053573.py:8: DtypeWarning: Columns (9) have mixed types. Specify dtype option on import or set low_memory=False.
  sdf = pd.read_csv(spath)
100%|██████████| 30/30 [07:36<00:00, 15.22s/it]

ODS_CEG_CAR_MIG_30_vs_STD_CEG_CAR_MIG_30
(534047, 32) (415224, 25)

### 파일명 설정

In [28]:
num = 4
ods_file_name = f'ODS_CEG_CAR_MIG_{num}'
std_file_name = f'STD_CEG_CAR_MIG_{num}'

In [29]:
opath = os.path.join(ods_path, ods_file_name + '.csv')
spath = os.path.join(std_path, std_file_name + '.csv')

In [30]:
odf = pd.read_csv(opath)
sdf = pd.read_csv(spath)

### 등록정보 분석

In [31]:
odf.columns

Index(['VHMNO', 'VHRNO', 'BSPL_LEDO_CD', 'OWNR_SE', 'VHCTY', 'PURPS',
       'NOW_OWNR_NM', 'NOW_MBERNO', 'BSPL_ADRS', 'OWNR_ADRS', 'VIN',
       'FST_REG_DE', 'VHCL_YRIDNW', 'VHCL_MNFCT_DE', 'EMIS_INSP_EFCT_DE',
       'SRCMNNO', 'EMIS_CRTCNO', 'EMIS_GRD', 'LEM_YN', 'LEM_KND',
       'LEM_STRCHG_YN', 'BSPL_ZIP', 'VHRNO_NUM_INFO', 'VHCL_ERSR_YN',
       'FST_OWNR_NM', 'FST_MBERNO', 'ACQS_DE', 'ACQS_AMT', 'RMK', 'CRTN_DT',
       'UPDT_DT', 'USER_ID'],
      dtype='object')

In [32]:
sdf.columns

Index(['ACQS_AMT', 'ACQS_YMD', 'BSPL_STDG_CD', 'VHCL_REG_DT',
       'EXHST_GAS_CERT_NO', 'EXHST_GAS_GRD_CD', 'EXTGAS_INSP_VLD_YMD',
       'FRST_MBR_NO', 'FRST_REG_YMD', 'LEM_KND_CD', 'STRCT_CHG_YN', 'LEM_YN',
       'NOW_MBR_NO', 'VHCL_OWNR_CL_CD', 'PURPS_CD2', 'MANP_MNG_NO', 'MDFCN_DT',
       'VHCL_ERSR_YN', 'VHCL_FBCTN_YMD', 'YRIDNW', 'VHCTY_CD', 'VHCL_MNG_NO',
       'VHRNO_FGRE_INFO', 'VIN', 'VHRNO'],
      dtype='object')

In [33]:
len(odf.columns), len(sdf.columns)

(32, 25)

In [34]:
odf.shape, sdf.shape

((1000000, 32), (1000000, 25))

#### 동일한 내용의 컬럼 확인

In [35]:
olist = [
    'ACQS_AMT', 
    'ACQS_DE', 
    'BSPL_LEDO_CD', 
    'CRTN_DT', 
    'EMIS_CRTCNO', 
    'EMIS_GRD', 
    'EMIS_INSP_EFCT_DE', 
    'FST_MBERNO', 
    'FST_REG_DE', 
    'LEM_KND', 
    'LEM_STRCHG_YN', 
    'LEM_YN', 
    'NOW_MBERNO', 
    'OWNR_SE', 
    'PURPS', 
    'SRCMNNO', 
    'UPDT_DT', 
    'VHCL_ERSR_YN', 
    'VHCL_MNFCT_DE', 
    'VHCL_YRIDNW', 
    'VHCTY', 
    'VHMNO', 
    'VHRNO_NUM_INFO', 
    'VIN', 'VHRNO', 
    'NOW_OWNR_NM', 
    'BSPL_ADRS', 
    'OWNR_ADRS', 
    'BSPL_ZIP', 
    'FST_OWNR_NM', 
    'RMK', 
    'USER_ID'
    ]

In [36]:
odict = {
    '컬럼':olist,
    '내용':['취득금액', '취득일자', '본거지 법정동 코드', '생성 일시', '배출가스 인증번호', '배출가스 등급', '배출가스검사유효일자', '최초 회원번호', '최초 등록 일자', '저공해조치 종류', '저공해조치 구조변경 YN', '저공해조치 YN(미사용)', '현재 회원번호', '소유자 구분', '용도', '제원관리번호', '수정 일시', '차량 말소 YN', '차량 제작 일자', '차량 연식', '차종', '차량관리번호', '차량등록번호 숫자 정보', '차대번호', '미정', '미정', '미정', '미정', '미정', '미정', '미정', '미정']
    }

In [37]:
ocol = pd.DataFrame(odict)
ocol

                   컬럼             내용
0            ACQS_AMT           취득금액
1             ACQS_DE           취득일자
2        BSPL_LEDO_CD     본거지 법정동 코드
3             CRTN_DT          생성 일시
4         EMIS_CRTCNO      배출가스 인증번호
5            EMIS_GRD        배출가스 등급
6   EMIS_INSP_EFCT_DE     배출가스검사유효일자
7          FST_MBERNO        최초 회원번호
8          FST_REG_DE       최초 등록 일자
9             LEM_KND       저공해조치 종류
10      LEM_STRCHG_YN  저공해조치 구조변경 YN
11             LEM_YN  저공해조치 YN(미사용)
12         NOW_MBERNO        현재 회원번호
13            OWNR_SE         소유자 구분
14              PURPS             용도
15            SRCMNNO         제원관리번호
16            UPDT_DT          수정 일시
17       VHCL_ERSR_YN       차량 말소 YN
18      VHCL_MNFCT_DE       차량 제작 일자
19        VHCL_YRIDNW          차량 연식
20              VHCTY             차종
21              VHMNO         차량관리번호
22     VHRNO_NUM_INFO   차량등록번호 숫자 정보
23                VIN           차대번호
24              VHRNO             미정
25        NOW_OWNR_NM             미정
26          BSPL_ADRS             미정
27          OWNR_ADRS             미정
28           BSPL_ZIP             미정
29        FST_OWNR_NM             미정
30                RMK             미정
31            USER_ID             미정

In [38]:
# ocol.to_excel(f'analysis/ODSvsSTD/[정제][col]{ods_file_name}.xlsx', index=False)

In [39]:
slist = [
    'ACQS_AMT', 
    'ACQS_YMD', 
    'BSPL_STDG_CD', 
    'VHCL_REG_DT', 
    'EXHST_GAS_CERT_NO', 
    'EXHST_GAS_GRD_CD', 
    'EXTGAS_INSP_VLD_YMD', 
    'FRST_MBR_NO', 
    'FRST_REG_YMD', 
    'LEM_KND_CD', 
    'STRCT_CHG_YN', 
    'LEM_YN', 
    'NOW_MBR_NO', 
    'VHCL_OWNR_CL_CD', 
    'PURPS_CD2', 
    'MANP_MNG_NO', 
    'MDFCN_DT', 
    'VHCL_ERSR_YN', 
    'VHCL_FBCTN_YMD', 
    'YRIDNW', 
    'VHCTY_CD', 
    'VHCL_MNG_NO', 
    'VHRNO_FGRE_INFO', 
    'VIN', 
    'VHRNO'
    ]

In [40]:
sdict = {
       '컬럼':slist,
       '내용':['취득금액', '취득일자', '본거지법정동코드', '차량등록일시', '배출가스인증번호', '배출가스등급', '배출가스검사유효일자', '최초회원번호', '최초등록일자', '저공해조치종류코드', '구조변경여부', '저공해조치여부', '현재회원번호', '차량소유자분류코드', '용도코드2', '제원관리번호', '수정일시', '차량말소여부', '차량제작일자', '연식', '차종코드', '차량관리번호', np.nan, '차대번호', '미정']
       }

In [41]:
scol = pd.DataFrame(sdict)
scol

                     컬럼          내용
0              ACQS_AMT        취득금액
1              ACQS_YMD        취득일자
2          BSPL_STDG_CD    본거지법정동코드
3           VHCL_REG_DT      차량등록일시
4     EXHST_GAS_CERT_NO    배출가스인증번호
5      EXHST_GAS_GRD_CD      배출가스등급
6   EXTGAS_INSP_VLD_YMD  배출가스검사유효일자
7           FRST_MBR_NO      최초회원번호
8          FRST_REG_YMD      최초등록일자
9            LEM_KND_CD   저공해조치종류코드
10         STRCT_CHG_YN      구조변경여부
11               LEM_YN     저공해조치여부
12           NOW_MBR_NO      현재회원번호
13      VHCL_OWNR_CL_CD   차량소유자분류코드
14            PURPS_CD2       용도코드2
15          MANP_MNG_NO      제원관리번호
16             MDFCN_DT        수정일시
17         VHCL_ERSR_YN      차량말소여부
18       VHCL_FBCTN_YMD      차량제작일자
19               YRIDNW          연식
20             VHCTY_CD        차종코드
21          VHCL_MNG_NO      차량관리번호
22      VHRNO_FGRE_INFO         NaN
23                  VIN        차대번호
24                VHRNO          미정

In [42]:
# scol.to_excel(f'analysis/ODSvsSTD/[정제][col]{std_file_name}.xlsx', index=False)

##### 데이터 info 확인

In [43]:
odf1_1 = odf[olist]
odf1_1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000000 entries, 0 to 999999
Data columns (total 32 columns):
 #   Column             Non-Null Count    Dtype
---  ------             --------------    -----
 0   ACQS_AMT           960945 non-null   float64
 1   ACQS_DE            961739 non-null   float64
 2   BSPL_LEDO_CD       1000000 non-null  int64
 3   CRTN_DT            1000000 non-null  object
 4   EMIS_CRTCNO        682748 non-null   object
 5   EMIS_GRD           1000000 non-null  object
 6   EMIS_INSP_EFCT_DE  999991 non-null   float64
 7   FST_MBERNO         1000000 non-null  object
 8   FST_REG_DE         1000000 non-null  int64
 9   LEM_KND            112210 non-null   float64
 10  LEM_STRCHG_YN      1000000 non-null  object
 11  LEM_YN             999940 non-null   object
 12  NOW_MBERNO         1000000 non-null  object
 13  OWNR_SE            1000000 non-null  object
 14  PURPS              1000000 non-null  object
 15  SRCMNNO            1000000 non-null  object
 16  UPDT_DT            793696 non-null   object
 17  VHCL_ERSR_YN       1000000 non-null  object
 18  VHCL_MNFCT_DE      999991 non-null   float64
 19  VHCL_YRIDNW        1000000 non-null  int64
 20  VHCTY              1000000 non-null  object
 21  VHMNO              1000000 non-null  object
 22  VHRNO_NUM_INFO     1000000 non-null  int64
 23  VIN                1000000 non-null  object
 24  VHRNO              1000000 non-null  object
 25  NOW_OWNR_NM        1000000 non-null  object
 26  BSPL_ADRS          1000000 non-null  object
 27  OWNR_ADRS          1000000 non-null  object
 28  BSPL_ZIP           0 non-null        float64
 29  FST_OWNR_NM        1000000 non-null  object
 30  RMK                47850 non-null    object
 31  USER_ID            1000000 non-null  object
dtypes: float64(6), int64(4), object(22)
memory usage: 244.1+ MB

In [59]:
ocount = odf1_1.count().reset_index()
ocount.columns = ['index', 'ocount']
ocount

                index   ocount
0            ACQS_AMT   960945
1             ACQS_DE   961739
2        BSPL_LEDO_CD  1000000
3             CRTN_DT  1000000
4         EMIS_CRTCNO   682748
5            EMIS_GRD  1000000
6   EMIS_INSP_EFCT_DE   999991
7          FST_MBERNO  1000000
8          FST_REG_DE  1000000
9             LEM_KND   112210
10      LEM_STRCHG_YN  1000000
11             LEM_YN   999940
12         NOW_MBERNO  1000000
13            OWNR_SE  1000000
14              PURPS  1000000
15            SRCMNNO  1000000
16            UPDT_DT   793696
17       VHCL_ERSR_YN  1000000
18      VHCL_MNFCT_DE   999991
19        VHCL_YRIDNW  1000000
20              VHCTY  1000000
21              VHMNO  1000000
22     VHRNO_NUM_INFO  1000000
23                VIN  1000000
24              VHRNO  1000000
25        NOW_OWNR_NM  1000000
26          BSPL_ADRS  1000000
27          OWNR_ADRS  1000000
28           BSPL_ZIP        0
29        FST_OWNR_NM  1000000
30                RMK    47850
31            USER_ID  1000000

In [45]:
# odf1_1.count().reset_index().to_excel(f'analysis/ODSvsSTD/[정제][count]{ods_file_name}.xlsx', index=False)

In [ ]:
sdf1_1 = sdf[slist]
sdf1_1.info()

In [60]:
scount = sdf1_1.count().reset_index()
scount.columns = ['index', 'scount']
scount

                  index   scount
0              ACQS_AMT   986324
1              ACQS_YMD   986391
2          BSPL_STDG_CD  1000000
3           VHCL_REG_DT  1000000
4     EXHST_GAS_CERT_NO   869167
5      EXHST_GAS_GRD_CD  1000000
6   EXTGAS_INSP_VLD_YMD   999991
7           FRST_MBR_NO  1000000
8          FRST_REG_YMD  1000000
9            LEM_KND_CD    34624
10         STRCT_CHG_YN   999999
11               LEM_YN   999961
12           NOW_MBR_NO  1000000
13      VHCL_OWNR_CL_CD  1000000
14            PURPS_CD2  1000000
15          MANP_MNG_NO  1000000
16             MDFCN_DT   757616
17         VHCL_ERSR_YN  1000000
18       VHCL_FBCTN_YMD   999995
19               YRIDNW  1000000
20             VHCTY_CD  1000000
21          VHCL_MNG_NO  1000000
22      VHRNO_FGRE_INFO  1000000
23                  VIN  1000000
24                VHRNO  1000000

In [48]:
# sdf1_1.count().reset_index().to_excel(f'analysis/ODSvsSTD/[정제][count]{std_file_name}.xlsx', index=False)

In [61]:
oscount = pd.concat([ocount, scount], axis=1)
oscount

                index   ocount                index     scount
0            ACQS_AMT   960945             ACQS_AMT   986324.0
1             ACQS_DE   961739             ACQS_YMD   986391.0
2        BSPL_LEDO_CD  1000000         BSPL_STDG_CD  1000000.0
3             CRTN_DT  1000000          VHCL_REG_DT  1000000.0
4         EMIS_CRTCNO   682748    EXHST_GAS_CERT_NO   869167.0
5            EMIS_GRD  1000000     EXHST_GAS_GRD_CD  1000000.0
6   EMIS_INSP_EFCT_DE   999991  EXTGAS_INSP_VLD_YMD   999991.0
7          FST_MBERNO  1000000          FRST_MBR_NO  1000000.0
8          FST_REG_DE  1000000         FRST_REG_YMD  1000000.0
9             LEM_KND   112210           LEM_KND_CD    34624.0
10      LEM_STRCHG_YN  1000000         STRCT_CHG_YN   999999.0
11             LEM_YN   999940               LEM_YN   999961.0
12         NOW_MBERNO  1000000           NOW_MBR_NO  1000000.0
13            OWNR_SE  1000000      VHCL_OWNR_CL_CD  1000000.0
14              PURPS  1000000            PURPS_CD2  1000000.0
15            SRCMNNO  1000000          MANP_MNG_NO  1000000.0
16            UPDT_DT   793696             MDFCN_DT   757616.0
17       VHCL_ERSR_YN  1000000         VHCL_ERSR_YN  1000000.0
18      VHCL_MNFCT_DE   999991       VHCL_FBCTN_YMD   999995.0
19        VHCL_YRIDNW  1000000               YRIDNW  1000000.0
20              VHCTY  1000000             VHCTY_CD  1000000.0
21              VHMNO  1000000          VHCL_MNG_NO  1000000.0
22     VHRNO_NUM_INFO  1000000      VHRNO_FGRE_INFO  1000000.0
23                VIN  1000000                  VIN  1000000.0
24              VHRNO  1000000                VHRNO  1000000.0
25        NOW_OWNR_NM  1000000                  NaN        NaN
26          BSPL_ADRS  1000000                  NaN        NaN
27          OWNR_ADRS  1000000                  NaN        NaN
28           BSPL_ZIP        0                  NaN        NaN
29        FST_OWNR_NM  1000000                  NaN        NaN
30                RMK    47850                  NaN        NaN
31            USER_ID  1000000                  NaN        NaN

In [62]:
oscount['차이'] = oscount['ocount'] - oscount['scount']
oscount

                index   ocount                index     scount        차이
0            ACQS_AMT   960945             ACQS_AMT   986324.0  -25379.0
1             ACQS_DE   961739             ACQS_YMD   986391.0  -24652.0
2        BSPL_LEDO_CD  1000000         BSPL_STDG_CD  1000000.0       0.0
3             CRTN_DT  1000000          VHCL_REG_DT  1000000.0       0.0
4         EMIS_CRTCNO   682748    EXHST_GAS_CERT_NO   869167.0 -186419.0
5            EMIS_GRD  1000000     EXHST_GAS_GRD_CD  1000000.0       0.0
6   EMIS_INSP_EFCT_DE   999991  EXTGAS_INSP_VLD_YMD   999991.0       0.0
7          FST_MBERNO  1000000          FRST_MBR_NO  1000000.0       0.0
8          FST_REG_DE  1000000         FRST_REG_YMD  1000000.0       0.0
9             LEM_KND   112210           LEM_KND_CD    34624.0   77586.0
10      LEM_STRCHG_YN  1000000         STRCT_CHG_YN   999999.0       1.0
11             LEM_YN   999940               LEM_YN   999961.0     -21.0
12         NOW_MBERNO  1000000           NOW_MBR_NO  1000000.0       0.0
13            OWNR_SE  1000000      VHCL_OWNR_CL_CD  1000000.0       0.0
14              PURPS  1000000            PURPS_CD2  1000000.0       0.0
15            SRCMNNO  1000000          MANP_MNG_NO  1000000.0       0.0
16            UPDT_DT   793696             MDFCN_DT   757616.0   36080.0
17       VHCL_ERSR_YN  1000000         VHCL_ERSR_YN  1000000.0       0.0
18      VHCL_MNFCT_DE   999991       VHCL_FBCTN_YMD   999995.0      -4.0
19        VHCL_YRIDNW  1000000               YRIDNW  1000000.0       0.0
20              VHCTY  1000000             VHCTY_CD  1000000.0       0.0
21              VHMNO  1000000          VHCL_MNG_NO  1000000.0       0.0
22     VHRNO_NUM_INFO  1000000      VHRNO_FGRE_INFO  1000000.0       0.0
23                VIN  1000000                  VIN  1000000.0       0.0
24              VHRNO  1000000                VHRNO  1000000.0       0.0
25        NOW_OWNR_NM  1000000                  NaN        NaN       NaN
26          BSPL_ADRS  1000000                  NaN        NaN       NaN
27          OWNR_ADRS  1000000                  NaN        NaN       NaN
28           BSPL_ZIP        0                  NaN        NaN       NaN
29        FST_OWNR_NM  1000000                  NaN        NaN       NaN
30                RMK    47850                  NaN        NaN       NaN
31            USER_ID  1000000                  NaN        NaN       NaN

### [출력] 분석내용

In [63]:
texcel = pd.ExcelWriter(f'analysis/ODSvsSTD/[정제]{ods_file_name}_vs_{std_file_name}.xlsx')
ocol.to_excel(texcel, sheet_name='ODS_col', index=False)
scol.to_excel(texcel, sheet_name='STD_col', index=False)
oscount.to_excel(texcel, sheet_name='count', index=False)
# odf1_1.count().reset_index().to_excel(texcel, sheet_name='ODS_count',index=False)
# sdf1_1.count().reset_index().to_excel(texcel, sheet_name='STD_count',index=False)
texcel.save()

## 2\. 자동차 제원정보 데이터 비교

### 파일명 설정

In [2]:
ods_file_name2 = 'ODS_CEG_CAR_SRC_MIG'
std_file_name2 = 'STD_CEG_CAR_SRC_MIG'

In [6]:
opath2 = os.path.join(ods_path, ods_file_name2 + '.csv')
spath2 = os.path.join(std_path, std_file_name2 + '.csv')

In [8]:
odf2 = pd.read_csv(opath2)
sdf2 = pd.read_csv(spath2)

C:\Users\kbjung\AppData\Local\Temp\ipykernel_3828\1557069306.py:1: DtypeWarning: Columns (21,22,24) have mixed types. Specify dtype option on import or set low_memory=False.
  odf2 = pd.read_csv(opath2)
C:\Users\kbjung\AppData\Local\Temp\ipykernel_3828\1557069306.py:2: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  sdf2 = pd.read_csv(spath2)

In [9]:
odf2.columns

Index(['SRCMNNO', 'VHCNM', 'VHCTY', 'VHCTY_CL', 'VHCTY_TY', 'CAR_FRM',
       'MKR_NM', 'FUEL', 'EGINTY', 'EMPV_WGHT', 'TOT_WGHT', 'CRYNG_WGHT',
       'EGINPWR', 'DSPLVL', 'TKCAR_NMPR', 'VHCL_LT', 'VHCL_WH', 'VHCL_HG',
       'PLOR_NM', 'REPCAR_NM', 'DELE_YN', 'CNFRM_DE', 'DRV_FRM', 'GEARBOX_KND',
       'RMK', 'CRTN_DT', 'UPDT_DT', 'USER_ID'],
      dtype='object')

In [10]:
sdf2.columns

Index(['VHCL_FRM', 'APRV_YMD', 'VHCL_REG_DT', 'CRYNG_WGHT', 'DEL_YN',
       'VHCL_DRVE_FRM_CD', 'DSPLVL', 'EGIN_OTPT', 'EGIN_TY', 'EMPV_WGHT',
       'FUEL_CD', 'GEARBOX_KND_CD', 'MNFCTR_NM', 'FBCTN_NTN_NM', 'MANP_MNG_NO',
       'TKCAR_PSCP', 'TOTL_WGHT', 'MDFCN_DT', 'OVRHG', 'OVRLH', 'OVRWD',
       'VHCNM', 'VHCTY_CD', 'VHCTY_CL_CD', 'VHCTY_TY_CD2'],
      dtype='object')

In [11]:
len(odf2.columns), len(sdf2.columns)

(28, 25)

### 컬럼 확인

In [15]:
olist2 = [
    'CAR_FRM',
    'CNFRM_DE', 
    'CRTN_DT', 
    'CRYNG_WGHT',
    'DELE_YN', 
    'DRV_FRM', 
    'DSPLVL', 
    'EGINPWR', 
    'EGINTY', 
    'EMPV_WGHT', 
    'FUEL', 
    'GEARBOX_KND',
    'MKR_NM', 
    'PLOR_NM', 
    'SRCMNNO', 
    'TKCAR_NMPR', 
    'TOT_WGHT', 
    'UPDT_DT', 
    'VHCL_HG',
    'VHCL_LT', 
    'VHCL_WH', 
    'VHCNM', 
    'VHCTY', 
    'VHCTY_CL', 
    'VHCTY_TY', 

    'REPCAR_NM', 
    'RMK', 
    'USER_ID'
    ]

odict2 = {
    '컬럼':olist2,
    '내용':
    ['자동차 형식', 
    '승인 일자', 
    '생성 일시', 
    '적재 중량', 
    '삭제 YN', 
    '구동 형식', 
    '배기량', 
    '엔진출력', 
    '엔진형식', 
    '공차중량', 
    '연료', 
    '변속기 종류', 
    '제작사 명', 
    '원산지 명', 
    '제원관리번호', 
    '승차 인원', 
    '총 중량', 
    '수정 일시', 
    '차량 높이', 
    '차량 길이', 
    '차량 너비', 
    '차명', 
    '차종', 
    '차종 분류', 
    '차종 유형 (소분류)',
     
    '미정', 
    '미정', 
    '미정']
    }

ocol2 = pd.DataFrame(odict2)
ocol2

             컬럼           내용
0       CAR_FRM       자동차 형식
1      CNFRM_DE        승인 일자
2       CRTN_DT        생성 일시
3    CRYNG_WGHT        적재 중량
4       DELE_YN        삭제 YN
5       DRV_FRM        구동 형식
6        DSPLVL          배기량
7       EGINPWR         엔진출력
8        EGINTY         엔진형식
9     EMPV_WGHT         공차중량
10         FUEL           연료
11  GEARBOX_KND       변속기 종류
12       MKR_NM        제작사 명
13      PLOR_NM        원산지 명
14      SRCMNNO       제원관리번호
15   TKCAR_NMPR        승차 인원
16     TOT_WGHT         총 중량
17      UPDT_DT        수정 일시
18      VHCL_HG        차량 높이
19      VHCL_LT        차량 길이
20      VHCL_WH        차량 너비
21        VHCNM           차명
22        VHCTY           차종
23     VHCTY_CL        차종 분류
24     VHCTY_TY  차종 유형 (소분류)
25    REPCAR_NM           미정
26          RMK           미정
27      USER_ID           미정

In [16]:
slist2 = [
    'VHCL_FRM', 
    'APRV_YMD', 
    'VHCL_REG_DT', 
    'CRYNG_WGHT', 
    'DEL_YN',
    'VHCL_DRVE_FRM_CD', 
    'DSPLVL', 
    'EGIN_OTPT', 
    'EGIN_TY', 
    'EMPV_WGHT',
    'FUEL_CD', 
    'GEARBOX_KND_CD', 
    'MNFCTR_NM', 
    'FBCTN_NTN_NM', 
    'MANP_MNG_NO',
    'TKCAR_PSCP', 
    'TOTL_WGHT', 
    'MDFCN_DT', 
    'OVRHG', 
    'OVRLH', 
    'OVRWD',
    'VHCNM', 
    'VHCTY_CD', 
    'VHCTY_CL_CD', 
    'VHCTY_TY_CD2'
    ]

sdict2 = {
    '컬럼':slist2,
    '내용':
    ['차량형식', 
    '승인일자', 
    '차량등록일시', 
    '적재중량', 
    '삭제여부', 
    '차량구동형식코드', 
    '배기량', 
    '엔진출력', 
    '엔진형식', 
    '공차중량', 
    '연료코드', 
    '변속기종류코드', 
    '제작사명', 
    '제작국명', 
    '제원관리번호', 
    '승차정원', 
    '총중량', 
    '수정일시', 
    '전고', 
    '전장', 
    '전폭', 
    '차명', 
    '차종코드', 
    '차종분류코드', 
    '차종유형코드2']
    }

scol2 = pd.DataFrame(sdict2)
scol2

                  컬럼        내용
0           VHCL_FRM      차량형식
1           APRV_YMD      승인일자
2        VHCL_REG_DT    차량등록일시
3         CRYNG_WGHT      적재중량
4             DEL_YN      삭제여부
5   VHCL_DRVE_FRM_CD  차량구동형식코드
6             DSPLVL       배기량
7          EGIN_OTPT      엔진출력
8            EGIN_TY      엔진형식
9          EMPV_WGHT      공차중량
10           FUEL_CD      연료코드
11    GEARBOX_KND_CD   변속기종류코드
12         MNFCTR_NM      제작사명
13      FBCTN_NTN_NM      제작국명
14       MANP_MNG_NO    제원관리번호
15        TKCAR_PSCP      승차정원
16         TOTL_WGHT       총중량
17          MDFCN_DT      수정일시
18             OVRHG        전고
19             OVRLH        전장
20             OVRWD        전폭
21             VHCNM        차명
22          VHCTY_CD      차종코드
23       VHCTY_CL_CD    차종분류코드
24      VHCTY_TY_CD2   차종유형코드2

### 데이터 info

In [17]:
odf2_1 = odf2[olist2]
odf2_1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 545374 entries, 0 to 545373
Data columns (total 28 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   CAR_FRM      516295 non-null  object
 1   CNFRM_DE     532881 non-null  object
 2   CRTN_DT      545374 non-null  object
 3   CRYNG_WGHT   446181 non-null  float64
 4   DELE_YN      545374 non-null  object
 5   DRV_FRM      114619 non-null  object
 6   DSPLVL       510521 non-null  float64
 7   EGINPWR      471948 non-null  float64
 8   EGINTY       494157 non-null  object
 9   EMPV_WGHT    0 non-null       float64
 10  FUEL         503254 non-null  object
 11  GEARBOX_KND  540165 non-null  object
 12  MKR_NM       529017 non-null  object
 13  PLOR_NM      540392 non-null  object
 14  SRCMNNO      545374 non-null  object
 15  TKCAR_NMPR   545313 non-null  float64
 16  TOT_WGHT     541702 non-null  float64
 17  UPDT_DT      14578 non-null   object
 18  VHCL_HG      514732 non-null  float64
 19  VHCL_LT      514786 non-null  float64
 20  VHCL_WH      514799 non-null  float64
 21  VHCNM        545272 non-null  object
 22  VHCTY        545370 non-null  object
 23  VHCTY_CL     531367 non-null  object
 24  VHCTY_TY     531332 non-null  object
 25  REPCAR_NM    0 non-null       float64
 26  RMK          1 non-null       object
 27  USER_ID      545374 non-null  object
dtypes: float64(10), object(18)
memory usage: 116.5+ MB

In [18]:
ocount2 = odf2_1.count().reset_index()
ocount2.columns = ['index', 'ocount']
ocount2

          index  ocount
0       CAR_FRM  516295
1      CNFRM_DE  532881
2       CRTN_DT  545374
3    CRYNG_WGHT  446181
4       DELE_YN  545374
5       DRV_FRM  114619
6        DSPLVL  510521
7       EGINPWR  471948
8        EGINTY  494157
9     EMPV_WGHT       0
10         FUEL  503254
11  GEARBOX_KND  540165
12       MKR_NM  529017
13      PLOR_NM  540392
14      SRCMNNO  545374
15   TKCAR_NMPR  545313
16     TOT_WGHT  541702
17      UPDT_DT   14578
18      VHCL_HG  514732
19      VHCL_LT  514786
20      VHCL_WH  514799
21        VHCNM  545272
22        VHCTY  545370
23     VHCTY_CL  531367
24     VHCTY_TY  531332
25    REPCAR_NM       0
26          RMK       1
27      USER_ID  545374

In [19]:
sdf2_1 = sdf2[slist2]
sdf2_1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 545374 entries, 0 to 545373
Data columns (total 25 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   VHCL_FRM          516295 non-null  object
 1   APRV_YMD          532881 non-null  object
 2   VHCL_REG_DT       545374 non-null  object
 3   CRYNG_WGHT        446181 non-null  float64
 4   DEL_YN            545374 non-null  object
 5   VHCL_DRVE_FRM_CD  114619 non-null  object
 6   DSPLVL            510521 non-null  float64
 7   EGIN_OTPT         471948 non-null  float64
 8   EGIN_TY           494157 non-null  object
 9   EMPV_WGHT         0 non-null       float64
 10  FUEL_CD           503254 non-null  object
 11  GEARBOX_KND_CD    540165 non-null  object
 12  MNFCTR_NM         528510 non-null  object
 13  FBCTN_NTN_NM      540392 non-null  object
 14  MANP_MNG_NO       545374 non-null  object
 15  TKCAR_PSCP        545313 non-null  float64
 16  TOTL_WGHT         541702 non-null  float64
 17  MDFCN_DT          14578 non-null   object
 18  OVRHG             514732 non-null  float64
 19  OVRLH             514786 non-null  float64
 20  OVRWD             514799 non-null  float64
 21  VHCNM             545272 non-null  object
 22  VHCTY_CD          545370 non-null  object
 23  VHCTY_CL_CD       531367 non-null  object
 24  VHCTY_TY_CD2      531332 non-null  object
dtypes: float64(9), object(16)
memory usage: 104.0+ MB

In [21]:
scount2 = sdf2_1.count().reset_index()
scount2.columns = ['index', 'scount']
scount2

               index  scount
0           VHCL_FRM  516295
1           APRV_YMD  532881
2        VHCL_REG_DT  545374
3         CRYNG_WGHT  446181
4             DEL_YN  545374
5   VHCL_DRVE_FRM_CD  114619
6             DSPLVL  510521
7          EGIN_OTPT  471948
8            EGIN_TY  494157
9          EMPV_WGHT       0
10           FUEL_CD  503254
11    GEARBOX_KND_CD  540165
12         MNFCTR_NM  528510
13      FBCTN_NTN_NM  540392
14       MANP_MNG_NO  545374
15        TKCAR_PSCP  545313
16         TOTL_WGHT  541702
17          MDFCN_DT   14578
18             OVRHG  514732
19             OVRLH  514786
20             OVRWD  514799
21             VHCNM  545272
22          VHCTY_CD  545370
23       VHCTY_CL_CD  531367
24      VHCTY_TY_CD2  531332

In [22]:
oscount2 = pd.concat([ocount2, scount2], axis=1)
oscount2

          index  ocount             index    scount
0       CAR_FRM  516295          VHCL_FRM  516295.0
1      CNFRM_DE  532881          APRV_YMD  532881.0
2       CRTN_DT  545374       VHCL_REG_DT  545374.0
3    CRYNG_WGHT  446181        CRYNG_WGHT  446181.0
4       DELE_YN  545374            DEL_YN  545374.0
5       DRV_FRM  114619  VHCL_DRVE_FRM_CD  114619.0
6        DSPLVL  510521            DSPLVL  510521.0
7       EGINPWR  471948         EGIN_OTPT  471948.0
8        EGINTY  494157           EGIN_TY  494157.0
9     EMPV_WGHT       0         EMPV_WGHT       0.0
10         FUEL  503254           FUEL_CD  503254.0
11  GEARBOX_KND  540165    GEARBOX_KND_CD  540165.0
12       MKR_NM  529017         MNFCTR_NM  528510.0
13      PLOR_NM  540392      FBCTN_NTN_NM  540392.0
14      SRCMNNO  545374       MANP_MNG_NO  545374.0
15   TKCAR_NMPR  545313        TKCAR_PSCP  545313.0
16     TOT_WGHT  541702         TOTL_WGHT  541702.0
17      UPDT_DT   14578          MDFCN_DT   14578.0
18      VHCL_HG  514732             OVRHG  514732.0
19      VHCL_LT  514786             OVRLH  514786.0
20      VHCL_WH  514799             OVRWD  514799.0
21        VHCNM  545272             VHCNM  545272.0
22        VHCTY  545370          VHCTY_CD  545370.0
23     VHCTY_CL  531367       VHCTY_CL_CD  531367.0
24     VHCTY_TY  531332      VHCTY_TY_CD2  531332.0
25    REPCAR_NM       0               NaN       NaN
26          RMK       1               NaN       NaN
27      USER_ID  545374               NaN       NaN

In [23]:
oscount2['차이'] = oscount2['ocount'] - oscount2['scount']
oscount2

          index  ocount             index    scount     차이
0       CAR_FRM  516295          VHCL_FRM  516295.0    0.0
1      CNFRM_DE  532881          APRV_YMD  532881.0    0.0
2       CRTN_DT  545374       VHCL_REG_DT  545374.0    0.0
3    CRYNG_WGHT  446181        CRYNG_WGHT  446181.0    0.0
4       DELE_YN  545374            DEL_YN  545374.0    0.0
5       DRV_FRM  114619  VHCL_DRVE_FRM_CD  114619.0    0.0
6        DSPLVL  510521            DSPLVL  510521.0    0.0
7       EGINPWR  471948         EGIN_OTPT  471948.0    0.0
8        EGINTY  494157           EGIN_TY  494157.0    0.0
9     EMPV_WGHT       0         EMPV_WGHT       0.0    0.0
10         FUEL  503254           FUEL_CD  503254.0    0.0
11  GEARBOX_KND  540165    GEARBOX_KND_CD  540165.0    0.0
12       MKR_NM  529017         MNFCTR_NM  528510.0  507.0
13      PLOR_NM  540392      FBCTN_NTN_NM  540392.0    0.0
14      SRCMNNO  545374       MANP_MNG_NO  545374.0    0.0
15   TKCAR_NMPR  545313        TKCAR_PSCP  545313.0    0.0
16     TOT_WGHT  541702         TOTL_WGHT  541702.0    0.0
17      UPDT_DT   14578          MDFCN_DT   14578.0    0.0
18      VHCL_HG  514732             OVRHG  514732.0    0.0
19      VHCL_LT  514786             OVRLH  514786.0    0.0
20      VHCL_WH  514799             OVRWD  514799.0    0.0
21        VHCNM  545272             VHCNM  545272.0    0.0
22        VHCTY  545370          VHCTY_CD  545370.0    0.0
23     VHCTY_CL  531367       VHCTY_CL_CD  531367.0    0.0
24     VHCTY_TY  531332      VHCTY_TY_CD2  531332.0    0.0
25    REPCAR_NM       0               NaN       NaN    NaN
26          RMK       1               NaN       NaN    NaN
27      USER_ID  545374               NaN       NaN    NaN

In [26]:
texcel2 = pd.ExcelWriter(f'analysis/ODSvsSTD/[정제]{ods_file_name2}_vs_{std_file_name2}.xlsx')
ocol2.to_excel(texcel2, sheet_name='ODS_col', index=False)
scol2.to_excel(texcel2, sheet_name='STD_col', index=False)
oscount2.to_excel(texcel2, sheet_name='count', index=False)
texcel2.save()

## 3\. 배출가스 인증정보

In [27]:
ods_file_name3 = 'ODS_CEG_EMIS_CERTI_MIG'
std_file_name3 = 'STD_CEG_EMIS_CERTI_MIG'
opath3 = os.path.join(ods_path, ods_file_name3 + '.csv')
spath3 = os.path.join(std_path, std_file_name3 + '.csv')
odf3 = pd.read_csv(opath3)
sdf3 = pd.read_csv(spath3)
print(odf3.columns)
print(sdf3.columns)
print(len(odf3.columns), len(sdf3.columns))

C:\Users\kbjung\AppData\Local\Temp\ipykernel_3828\2754425871.py:5: DtypeWarning: Columns (14,18,19,21) have mixed types. Specify dtype option on import or set low_memory=False.
  odf3 = pd.read_csv(opath3)

Index(['EMIS_CRTCNO', 'EMIS_CRTC_SNO', 'EMIS_CRTC_1_SE', 'EMIS_CRTC_2_SE',
       'DMSTC_INCM_MKR_SE', 'EMIS_VHCTY', 'FUEL', 'SAME_VHCTY_TY',
       'EMIS_CRTC_DE', 'MKR_NM', 'MNFCT_NM', 'PLOR_NM', 'EMIS_CRTC_STUS',
       'EMIS_CRTC_UNAVBL_DE', 'EMIS_CRTC_UNAVBL_RESN', 'ORGCAR_SRCMNNO',
       'REPCAR_EMIS_CRTCNO', 'REPCAR_VIN', 'EMIS_PERM_STDR_CD', 'EMIS_GRD',
       'RECP_FILE_NM', 'STRE_DE', 'SRCMNNO'],
      dtype='object')
Index(['DMSTC_IMP_MNFCTR_SE', 'EXHST_GAS_CERT_NO', 'EXHST_GAS_CERT_SE1',
       'EXHST_GAS_CERT_SE2', 'EXHST_GAS_CERT_YMD', 'EXHST_GAS_CERT_SN',
       'EXTGAS_CET_STS_CD', 'EXTGAS_CET_UNVBL_YMD', 'EXTGAS_CET_UNVBL_REN',
       'EXHST_GAS_GRD', 'EXTGAS_CET_PRM_CRTCD', 'VHCTY_CD', 'FUEL_CD',
       'MNFCTR_NM', 'MKR_NAME', 'MANP_MNG_NO', 'FBCTN_NTN_NM',
       'RPRSVH_EXTGAS_CET_NO', 'RPRS_CAR_VIN', 'VHCTY_TY_CD', 'DATA_STRG_YMD'],
      dtype='object')
23 21

C:\Users\kbjung\AppData\Local\Temp\ipykernel_3828\2754425871.py:6: DtypeWarning: Columns (8,9,10,20) have mixed types. Specify dtype option on import or set low_memory=False.
  sdf3 = pd.read_csv(spath3)

### 컬럼 확인

In [29]:
olist3 = [
    'DMSTC_INCM_MKR_SE', 
    'EMIS_CRTCNO', 
    'EMIS_CRTC_1_SE', 
    'EMIS_CRTC_2_SE',
    'EMIS_CRTC_DE', 
    'EMIS_CRTC_SNO', 
    'EMIS_CRTC_STUS',
    'EMIS_CRTC_UNAVBL_DE', 
    'EMIS_CRTC_UNAVBL_RESN', 
    'EMIS_GRD',
    'EMIS_PERM_STDR_CD', 
    'EMIS_VHCTY', 
    'FUEL', 
    'MKR_NM', 
    'MNFCT_NM', 
    'ORGCAR_SRCMNNO',
    'PLOR_NM', 
    'REPCAR_EMIS_CRTCNO', 
    'REPCAR_VIN', 
    'SAME_VHCTY_TY',
    'STRE_DE', 
    
    'RECP_FILE_NM', 
    'SRCMNNO'
    ]

odict3 = {
    '컬럼':olist3,
    '내용':
    ['국내 수입 제작사 구분', 
    '배출가스인증번호', 
    '배출가스 인증 1 구분', 
    '배출가스 인증 2 구분', 
    '배출가스 인증 일자', 
    '배출가스 인증 일련번호', 
    '배출가스 인증 상태', 
    '배출가스 인증 무효 일자', 
    '배출가스 인증 무효 사유', 
    '배출가스 등급', 
    '배출가스 허용 기준 코드', 
    '배출가스 차종', 
    '연료', 
    '제작사 명', 
    '제조사 명', 
    '기본차 제원관리번호', 
    '원산지 명', 
    '대표차 배출가스 인증번호', 
    '대표차 차대번호', 
    '동일 차종 유형', 
    '저장 일자',
     
    '미정', 
    '미정']
    }

ocol3 = pd.DataFrame(odict3)
ocol3

                       컬럼             내용
0       DMSTC_INCM_MKR_SE   국내 수입 제작사 구분
1             EMIS_CRTCNO       배출가스인증번호
2          EMIS_CRTC_1_SE   배출가스 인증 1 구분
3          EMIS_CRTC_2_SE   배출가스 인증 2 구분
4            EMIS_CRTC_DE     배출가스 인증 일자
5           EMIS_CRTC_SNO   배출가스 인증 일련번호
6          EMIS_CRTC_STUS     배출가스 인증 상태
7     EMIS_CRTC_UNAVBL_DE  배출가스 인증 무효 일자
8   EMIS_CRTC_UNAVBL_RESN  배출가스 인증 무효 사유
9                EMIS_GRD        배출가스 등급
10      EMIS_PERM_STDR_CD  배출가스 허용 기준 코드
11             EMIS_VHCTY        배출가스 차종
12                   FUEL             연료
13                 MKR_NM          제작사 명
14               MNFCT_NM          제조사 명
15         ORGCAR_SRCMNNO     기본차 제원관리번호
16                PLOR_NM          원산지 명
17     REPCAR_EMIS_CRTCNO  대표차 배출가스 인증번호
18             REPCAR_VIN       대표차 차대번호
19          SAME_VHCTY_TY       동일 차종 유형
20                STRE_DE          저장 일자
21           RECP_FILE_NM             미정
22                SRCMNNO             미정

In [30]:
slist3 = [
    'DMSTC_IMP_MNFCTR_SE', 
    'EXHST_GAS_CERT_NO', 
    'EXHST_GAS_CERT_SE1',
    'EXHST_GAS_CERT_SE2', 
    'EXHST_GAS_CERT_YMD', 
    'EXHST_GAS_CERT_SN',
    'EXTGAS_CET_STS_CD', 
    'EXTGAS_CET_UNVBL_YMD', 
    'EXTGAS_CET_UNVBL_REN',
    'EXHST_GAS_GRD', 
    'EXTGAS_CET_PRM_CRTCD', 
    'VHCTY_CD', 
    'FUEL_CD',
    'MNFCTR_NM', 
    'MKR_NAME', 
    'MANP_MNG_NO', 
    'FBCTN_NTN_NM',
    'RPRSVH_EXTGAS_CET_NO', 
    'RPRS_CAR_VIN', 
    'VHCTY_TY_CD', 
    'DATA_STRG_YMD'
    ]

sdict3 = {
    '컬럼':slist3,
    '내용':
    ['국내수입제작사구분', 
    '배출가스인증번호', 
    '배출가스인증구분1', 
    '배출가스인증구분2', 
    '배출가스인증일자', 
    '배출가스인증일련번호', 
    '배출가스인증상태코드', 
    '배출가스인증무효사유', 
    '배출가스인증무효사유', 
    '배출가스등급', 
    '배출가스인증허용기준코드', 
    '차종코드', 
    '연료코드', 
    '제작사명', 
    '제조사명', 
    '제원관리번호', 
    '제작국명', 
    '대표차배출가스인증번호', 
    '대표차차대번호', 
    '차종유형코드', 
    '자료저장일자']
    }

scol3 = pd.DataFrame(sdict3)
scol3

                      컬럼            내용
0    DMSTC_IMP_MNFCTR_SE     국내수입제작사구분
1      EXHST_GAS_CERT_NO      배출가스인증번호
2     EXHST_GAS_CERT_SE1     배출가스인증구분1
3     EXHST_GAS_CERT_SE2     배출가스인증구분2
4     EXHST_GAS_CERT_YMD      배출가스인증일자
5      EXHST_GAS_CERT_SN    배출가스인증일련번호
6      EXTGAS_CET_STS_CD    배출가스인증상태코드
7   EXTGAS_CET_UNVBL_YMD    배출가스인증무효사유
8   EXTGAS_CET_UNVBL_REN    배출가스인증무효사유
9          EXHST_GAS_GRD        배출가스등급
10  EXTGAS_CET_PRM_CRTCD  배출가스인증허용기준코드
11              VHCTY_CD          차종코드
12               FUEL_CD          연료코드
13             MNFCTR_NM          제작사명
14              MKR_NAME          제조사명
15           MANP_MNG_NO        제원관리번호
16          FBCTN_NTN_NM          제작국명
17  RPRSVH_EXTGAS_CET_NO   대표차배출가스인증번호
18          RPRS_CAR_VIN       대표차차대번호
19           VHCTY_TY_CD        차종유형코드
20         DATA_STRG_YMD        자료저장일자

### 데이터 info

In [31]:
odf3_1 = odf3[olist3]
odf3_1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 79725 entries, 0 to 79724
Data columns (total 23 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   DMSTC_INCM_MKR_SE      79038 non-null  object
 1   EMIS_CRTCNO            79725 non-null  object
 2   EMIS_CRTC_1_SE         79725 non-null  object
 3   EMIS_CRTC_2_SE         79436 non-null  object
 4   EMIS_CRTC_DE           79670 non-null  float64
 5   EMIS_CRTC_SNO          79725 non-null  int64
 6   EMIS_CRTC_STUS         79681 non-null  float64
 7   EMIS_CRTC_UNAVBL_DE    361 non-null    float64
 8   EMIS_CRTC_UNAVBL_RESN  45 non-null     object
 9   EMIS_GRD               23923 non-null  object
 10  EMIS_PERM_STDR_CD      17746 non-null  object
 11  EMIS_VHCTY             79519 non-null  object
 12  FUEL                   79493 non-null  object
 13  MKR_NM                 78956 non-null  object
 14  MNFCT_NM               79554 non-null  object
 15  ORGCAR_SRCMNNO         60648 non-null  object
 16  PLOR_NM                29928 non-null  object
 17  REPCAR_EMIS_CRTCNO     26100 non-null  object
 18  REPCAR_VIN             55697 non-null  object
 19  SAME_VHCTY_TY          9155 non-null   object
 20  STRE_DE                79715 non-null  object
 21  RECP_FILE_NM           79707 non-null  object
 22  SRCMNNO                0 non-null      float64
dtypes: float64(4), int64(1), object(18)
memory usage: 14.0+ MB

In [32]:
ocount3 = odf3_1.count().reset_index()
ocount3.columns = ['index', 'ocount']
ocount3

                    index  ocount
0       DMSTC_INCM_MKR_SE   79038
1             EMIS_CRTCNO   79725
2          EMIS_CRTC_1_SE   79725
3          EMIS_CRTC_2_SE   79436
4            EMIS_CRTC_DE   79670
5           EMIS_CRTC_SNO   79725
6          EMIS_CRTC_STUS   79681
7     EMIS_CRTC_UNAVBL_DE     361
8   EMIS_CRTC_UNAVBL_RESN      45
9                EMIS_GRD   23923
10      EMIS_PERM_STDR_CD   17746
11             EMIS_VHCTY   79519
12                   FUEL   79493
13                 MKR_NM   78956
14               MNFCT_NM   79554
15         ORGCAR_SRCMNNO   60648
16                PLOR_NM   29928
17     REPCAR_EMIS_CRTCNO   26100
18             REPCAR_VIN   55697
19          SAME_VHCTY_TY    9155
20                STRE_DE   79715
21           RECP_FILE_NM   79707
22                SRCMNNO       0

In [33]:
sdf3_1 = sdf3[slist3]
sdf3_1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 79670 entries, 0 to 79669
Data columns (total 21 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   DMSTC_IMP_MNFCTR_SE   78984 non-null  object
 1   EXHST_GAS_CERT_NO     79670 non-null  object
 2   EXHST_GAS_CERT_SE1    79670 non-null  object
 3   EXHST_GAS_CERT_SE2    79383 non-null  object
 4   EXHST_GAS_CERT_YMD    79615 non-null  float64
 5   EXHST_GAS_CERT_SN     79670 non-null  int64
 6   EXTGAS_CET_STS_CD     79626 non-null  float64
 7   EXTGAS_CET_UNVBL_YMD  360 non-null    float64
 8   EXTGAS_CET_UNVBL_REN  45 non-null     object
 9   EXHST_GAS_GRD         23869 non-null  object
 10  EXTGAS_CET_PRM_CRTCD  17691 non-null  object
 11  VHCTY_CD              79464 non-null  object
 12  FUEL_CD               79435 non-null  object
 13  MNFCTR_NM             78901 non-null  object
 14  MKR_NAME              79500 non-null  object
 15  MANP_MNG_NO           60648 non-null  object
 16  FBCTN_NTN_NM          29873 non-null  object
 17  RPRSVH_EXTGAS_CET_NO  26100 non-null  object
 18  RPRS_CAR_VIN          55697 non-null  object
 19  VHCTY_TY_CD           9113 non-null   object
 20  DATA_STRG_YMD         79660 non-null  object
dtypes: float64(3), int64(1), object(17)
memory usage: 12.8+ MB

In [34]:
scount3 = sdf3_1.count().reset_index()
scount3.columns = ['index', 'scount']
scount3

                   index  scount
0    DMSTC_IMP_MNFCTR_SE   78984
1      EXHST_GAS_CERT_NO   79670
2     EXHST_GAS_CERT_SE1   79670
3     EXHST_GAS_CERT_SE2   79383
4     EXHST_GAS_CERT_YMD   79615
5      EXHST_GAS_CERT_SN   79670
6      EXTGAS_CET_STS_CD   79626
7   EXTGAS_CET_UNVBL_YMD     360
8   EXTGAS_CET_UNVBL_REN      45
9          EXHST_GAS_GRD   23869
10  EXTGAS_CET_PRM_CRTCD   17691
11              VHCTY_CD   79464
12               FUEL_CD   79435
13             MNFCTR_NM   78901
14              MKR_NAME   79500
15           MANP_MNG_NO   60648
16          FBCTN_NTN_NM   29873
17  RPRSVH_EXTGAS_CET_NO   26100
18          RPRS_CAR_VIN   55697
19           VHCTY_TY_CD    9113
20         DATA_STRG_YMD   79660

In [35]:
oscount3 = pd.concat([ocount3, scount3], axis=1)
oscount3

                    index  ocount                 index   scount
0       DMSTC_INCM_MKR_SE   79038   DMSTC_IMP_MNFCTR_SE  78984.0
1             EMIS_CRTCNO   79725     EXHST_GAS_CERT_NO  79670.0
2          EMIS_CRTC_1_SE   79725    EXHST_GAS_CERT_SE1  79670.0
3          EMIS_CRTC_2_SE   79436    EXHST_GAS_CERT_SE2  79383.0
4            EMIS_CRTC_DE   79670    EXHST_GAS_CERT_YMD  79615.0
5           EMIS_CRTC_SNO   79725     EXHST_GAS_CERT_SN  79670.0
6          EMIS_CRTC_STUS   79681     EXTGAS_CET_STS_CD  79626.0
7     EMIS_CRTC_UNAVBL_DE     361  EXTGAS_CET_UNVBL_YMD    360.0
8   EMIS_CRTC_UNAVBL_RESN      45  EXTGAS_CET_UNVBL_REN     45.0
9                EMIS_GRD   23923         EXHST_GAS_GRD  23869.0
10      EMIS_PERM_STDR_CD   17746  EXTGAS_CET_PRM_CRTCD  17691.0
11             EMIS_VHCTY   79519              VHCTY_CD  79464.0
12                   FUEL   79493               FUEL_CD  79435.0
13                 MKR_NM   78956             MNFCTR_NM  78901.0
14               MNFCT_NM   79554              MKR_NAME  79500.0
15         ORGCAR_SRCMNNO   60648           MANP_MNG_NO  60648.0
16                PLOR_NM   29928          FBCTN_NTN_NM  29873.0
17     REPCAR_EMIS_CRTCNO   26100  RPRSVH_EXTGAS_CET_NO  26100.0
18             REPCAR_VIN   55697          RPRS_CAR_VIN  55697.0
19          SAME_VHCTY_TY    9155           VHCTY_TY_CD   9113.0
20                STRE_DE   79715         DATA_STRG_YMD  79660.0
21           RECP_FILE_NM   79707                   NaN      NaN
22                SRCMNNO       0                   NaN      NaN

In [36]:
oscount3['차이'] = oscount3['ocount'] - oscount3['scount']
oscount3

                    index  ocount                 index   scount    차이
0       DMSTC_INCM_MKR_SE   79038   DMSTC_IMP_MNFCTR_SE  78984.0  54.0
1             EMIS_CRTCNO   79725     EXHST_GAS_CERT_NO  79670.0  55.0
2          EMIS_CRTC_1_SE   79725    EXHST_GAS_CERT_SE1  79670.0  55.0
3          EMIS_CRTC_2_SE   79436    EXHST_GAS_CERT_SE2  79383.0  53.0
4            EMIS_CRTC_DE   79670    EXHST_GAS_CERT_YMD  79615.0  55.0
5           EMIS_CRTC_SNO   79725     EXHST_GAS_CERT_SN  79670.0  55.0
6          EMIS_CRTC_STUS   79681     EXTGAS_CET_STS_CD  79626.0  55.0
7     EMIS_CRTC_UNAVBL_DE     361  EXTGAS_CET_UNVBL_YMD    360.0   1.0
8   EMIS_CRTC_UNAVBL_RESN      45  EXTGAS_CET_UNVBL_REN     45.0   0.0
9                EMIS_GRD   23923         EXHST_GAS_GRD  23869.0  54.0
10      EMIS_PERM_STDR_CD   17746  EXTGAS_CET_PRM_CRTCD  17691.0  55.0
11             EMIS_VHCTY   79519              VHCTY_CD  79464.0  55.0
12                   FUEL   79493               FUEL_CD  79435.0  58.0
13                 MKR_NM   78956             MNFCTR_NM  78901.0  55.0
14               MNFCT_NM   79554              MKR_NAME  79500.0  54.0
15         ORGCAR_SRCMNNO   60648           MANP_MNG_NO  60648.0   0.0
16                PLOR_NM   29928          FBCTN_NTN_NM  29873.0  55.0
17     REPCAR_EMIS_CRTCNO   26100  RPRSVH_EXTGAS_CET_NO  26100.0   0.0
18             REPCAR_VIN   55697          RPRS_CAR_VIN  55697.0   0.0
19          SAME_VHCTY_TY    9155           VHCTY_TY_CD   9113.0  42.0
20                STRE_DE   79715         DATA_STRG_YMD  79660.0  55.0
21           RECP_FILE_NM   79707                   NaN      NaN   NaN
22                SRCMNNO       0                   NaN      NaN   NaN

### [출력]

In [37]:
texcel3 = pd.ExcelWriter(f'analysis/ODSvsSTD/[정제]{ods_file_name3}_vs_{std_file_name3}.xlsx')
ocol3.to_excel(texcel3, sheet_name='ODS_col', index=False)
scol3.to_excel(texcel3, sheet_name='STD_col', index=False)
oscount3.to_excel(texcel3, sheet_name='count', index=False)
texcel3.save()

## 4\. 배출가스 인증시험

In [38]:
ods_file_name4 = 'ODS_CEG_EMIS_CERTI_TEST_MIG'
std_file_name4 = 'STD_CEG_EMIS_CERTI_TEST_MIG'
opath4 = os.path.join(ods_path, ods_file_name4 + '.csv')
spath4 = os.path.join(std_path, std_file_name4 + '.csv')
odf4 = pd.read_csv(opath4)
sdf4 = pd.read_csv(spath4)
print(odf4.columns)
print(sdf4.columns)
print(len(odf4.columns), len(sdf4.columns))

Index(['EMIS_CRTCNO', 'EMIS_CRTC_SNO', 'EMIS_TEST_MOD_VAL', 'CO_PERM_STDR_VAL',
       'CO_TEST_RSLT', 'NMOG_PERM_STDR_VAL', 'NMOG_TEST_RSLT',
       'NMHC_PERM_STDR_VAL', 'NMHC_TEST_RSLT', 'HC_PERM_STDR_VAL',
       'HC_TEST_RSLT', 'NOX_PERM_STDR_VAL', 'NOX_TEST_RSLT',
       'NMOG_NOX_PERM_STDR_VAL', 'NMOG_NOX_TEST_RSLT', 'HC_NOX_PERM_STDR_VAL',
       'HC_NOX_TEST_RSLT', 'PM_PERM_STDR_VAL', 'PM_TEST_RSLT',
       'PN_PERM_STDR_VAL', 'PN_TEST_RSLT', 'RECP_FILE_NM', 'STRE_DE'],
      dtype='object')
Index(['COX_PRMT_VAL', 'COX_TEST_RSLT', 'EXHST_GAS_CERT_NO',
       'EXHST_GAS_CERT_SN', 'FBVH_EXTGAS_TES_TYCD', 'HC3_NOX_PRMT_VAL',
       'HC3_NOX_TES_RSLTVL', 'HC3_PRMT_VAL', 'HC3_TEST_RSLT_VAL',
       'HC2_PRMT_VAL', 'HC2_TEST_RSLT_VAL', 'HC1_NOX_PRMT_VAL',
       'HC1_NOX_TES_RSLTVL', 'HC1_PRMT_VAL', 'HC_TEST_RSLT_VAL',
       'NOX_PRMT_VAL', 'NOX_TEST_RSLT_VAL', 'PM_CRTR_VAL', 'PM_CRTR',
       'PARTCL_CNT_CRTR_VAL', 'PN_CRTR'],
      dtype='object')
23 21

C:\Users\kbjung\AppData\Local\Temp\ipykernel_3828\624812007.py:5: DtypeWarning: Columns (22) have mixed types. Specify dtype option on import or set low_memory=False.
  odf4 = pd.read_csv(opath4)

### 컬럼 확인

In [ ]:
olist3 = [
    'EMIS_CRTCNO', 'EMIS_CRTC_SNO', 'EMIS_TEST_MOD_VAL', 'CO_PERM_STDR_VAL',
       'CO_TEST_RSLT', 'NMOG_PERM_STDR_VAL', 'NMOG_TEST_RSLT',
       'NMHC_PERM_STDR_VAL', 'NMHC_TEST_RSLT', 'HC_PERM_STDR_VAL',
       'HC_TEST_RSLT', 'NOX_PERM_STDR_VAL', 'NOX_TEST_RSLT',
       'NMOG_NOX_PERM_STDR_VAL', 'NMOG_NOX_TEST_RSLT', 'HC_NOX_PERM_STDR_VAL',
       'HC_NOX_TEST_RSLT', 'PM_PERM_STDR_VAL', 'PM_TEST_RSLT',
       'PN_PERM_STDR_VAL', 'PN_TEST_RSLT', 'RECP_FILE_NM', 'STRE_DE'
    ]

odict3 = {
    '컬럼':olist3,
    '내용':
    ['국내 수입 제작사 구분', 
    '배출가스인증번호', 
    '배출가스 인증 1 구분', 
    '배출가스 인증 2 구분', 
    '배출가스 인증 일자', 
    '배출가스 인증 일련번호', 
    '배출가스 인증 상태', 
    '배출가스 인증 무효 일자', 
    '배출가스 인증 무효 사유', 
    '배출가스 등급', 
    '배출가스 허용 기준 코드', 
    '배출가스 차종', 
    '연료', 
    '제작사 명', 
    '제조사 명', 
    '기본차 제원관리번호', 
    '원산지 명', 
    '대표차 배출가스 인증번호', 
    '대표차 차대번호', 
    '동일 차종 유형', 
    '저장 일자',
     
    '미정', 
    '미정']
    }

ocol3 = pd.DataFrame(odict3)
ocol3

                       컬럼             내용
0       DMSTC_INCM_MKR_SE   국내 수입 제작사 구분
1             EMIS_CRTCNO       배출가스인증번호
2          EMIS_CRTC_1_SE   배출가스 인증 1 구분
3          EMIS_CRTC_2_SE   배출가스 인증 2 구분
4            EMIS_CRTC_DE     배출가스 인증 일자
5           EMIS_CRTC_SNO   배출가스 인증 일련번호
6          EMIS_CRTC_STUS     배출가스 인증 상태
7     EMIS_CRTC_UNAVBL_DE  배출가스 인증 무효 일자
8   EMIS_CRTC_UNAVBL_RESN  배출가스 인증 무효 사유
9                EMIS_GRD        배출가스 등급
10      EMIS_PERM_STDR_CD  배출가스 허용 기준 코드
11             EMIS_VHCTY        배출가스 차종
12                   FUEL             연료
13                 MKR_NM          제작사 명
14               MNFCT_NM          제조사 명
15         ORGCAR_SRCMNNO     기본차 제원관리번호
16                PLOR_NM          원산지 명
17     REPCAR_EMIS_CRTCNO  대표차 배출가스 인증번호
18             REPCAR_VIN       대표차 차대번호
19          SAME_VHCTY_TY       동일 차종 유형
20                STRE_DE          저장 일자
21           RECP_FILE_NM             미정
22                SRCMNNO             미정

In [ ]:
slist3 = [
    'COX_PRMT_VAL', 'COX_TEST_RSLT', 'EXHST_GAS_CERT_NO',
       'EXHST_GAS_CERT_SN', 'FBVH_EXTGAS_TES_TYCD', 'HC3_NOX_PRMT_VAL',
       'HC3_NOX_TES_RSLTVL', 'HC3_PRMT_VAL', 'HC3_TEST_RSLT_VAL',
       'HC2_PRMT_VAL', 'HC2_TEST_RSLT_VAL', 'HC1_NOX_PRMT_VAL',
       'HC1_NOX_TES_RSLTVL', 'HC1_PRMT_VAL', 'HC_TEST_RSLT_VAL',
       'NOX_PRMT_VAL', 'NOX_TEST_RSLT_VAL', 'PM_CRTR_VAL', 'PM_CRTR',
       'PARTCL_CNT_CRTR_VAL', 'PN_CRTR'
    ]

sdict3 = {
    '컬럼':slist3,
    '내용':
    ['국내수입제작사구분', 
    '배출가스인증번호', 
    '배출가스인증구분1', 
    '배출가스인증구분2', 
    '배출가스인증일자', 
    '배출가스인증일련번호', 
    '배출가스인증상태코드', 
    '배출가스인증무효사유', 
    '배출가스인증무효사유', 
    '배출가스등급', 
    '배출가스인증허용기준코드', 
    '차종코드', 
    '연료코드', 
    '제작사명', 
    '제조사명', 
    '제원관리번호', 
    '제작국명', 
    '대표차배출가스인증번호', 
    '대표차차대번호', 
    '차종유형코드', 
    '자료저장일자']
    }

scol3 = pd.DataFrame(sdict3)
scol3

                      컬럼            내용
0    DMSTC_IMP_MNFCTR_SE     국내수입제작사구분
1      EXHST_GAS_CERT_NO      배출가스인증번호
2     EXHST_GAS_CERT_SE1     배출가스인증구분1
3     EXHST_GAS_CERT_SE2     배출가스인증구분2
4     EXHST_GAS_CERT_YMD      배출가스인증일자
5      EXHST_GAS_CERT_SN    배출가스인증일련번호
6      EXTGAS_CET_STS_CD    배출가스인증상태코드
7   EXTGAS_CET_UNVBL_YMD    배출가스인증무효사유
8   EXTGAS_CET_UNVBL_REN    배출가스인증무효사유
9          EXHST_GAS_GRD        배출가스등급
10  EXTGAS_CET_PRM_CRTCD  배출가스인증허용기준코드
11              VHCTY_CD          차종코드
12               FUEL_CD          연료코드
13             MNFCTR_NM          제작사명
14              MKR_NAME          제조사명
15           MANP_MNG_NO        제원관리번호
16          FBCTN_NTN_NM          제작국명
17  RPRSVH_EXTGAS_CET_NO   대표차배출가스인증번호
18          RPRS_CAR_VIN       대표차차대번호
19           VHCTY_TY_CD        차종유형코드
20         DATA_STRG_YMD        자료저장일자

### 데이터 info

In [ ]:
odf3_1 = odf3[olist3]
odf3_1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 79725 entries, 0 to 79724
Data columns (total 23 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   DMSTC_INCM_MKR_SE      79038 non-null  object
 1   EMIS_CRTCNO            79725 non-null  object
 2   EMIS_CRTC_1_SE         79725 non-null  object
 3   EMIS_CRTC_2_SE         79436 non-null  object
 4   EMIS_CRTC_DE           79670 non-null  float64
 5   EMIS_CRTC_SNO          79725 non-null  int64
 6   EMIS_CRTC_STUS         79681 non-null  float64
 7   EMIS_CRTC_UNAVBL_DE    361 non-null    float64
 8   EMIS_CRTC_UNAVBL_RESN  45 non-null     object
 9   EMIS_GRD               23923 non-null  object
 10  EMIS_PERM_STDR_CD      17746 non-null  object
 11  EMIS_VHCTY             79519 non-null  object
 12  FUEL                   79493 non-null  object
 13  MKR_NM                 78956 non-null  object
 14  MNFCT_NM               79554 non-null  object
 15  ORGCAR_SRCMNNO         60648 non-null  object
 16  PLOR_NM                29928 non-null  object
 17  REPCAR_EMIS_CRTCNO     26100 non-null  object
 18  REPCAR_VIN             55697 non-null  object
 19  SAME_VHCTY_TY          9155 non-null   object
 20  STRE_DE                79715 non-null  object
 21  RECP_FILE_NM           79707 non-null  object
 22  SRCMNNO                0 non-null      float64
dtypes: float64(4), int64(1), object(18)
memory usage: 14.0+ MB

In [ ]:
ocount3 = odf3_1.count().reset_index()
ocount3.columns = ['index', 'ocount']
ocount3

                    index  ocount
0       DMSTC_INCM_MKR_SE   79038
1             EMIS_CRTCNO   79725
2          EMIS_CRTC_1_SE   79725
3          EMIS_CRTC_2_SE   79436
4            EMIS_CRTC_DE   79670
5           EMIS_CRTC_SNO   79725
6          EMIS_CRTC_STUS   79681
7     EMIS_CRTC_UNAVBL_DE     361
8   EMIS_CRTC_UNAVBL_RESN      45
9                EMIS_GRD   23923
10      EMIS_PERM_STDR_CD   17746
11             EMIS_VHCTY   79519
12                   FUEL   79493
13                 MKR_NM   78956
14               MNFCT_NM   79554
15         ORGCAR_SRCMNNO   60648
16                PLOR_NM   29928
17     REPCAR_EMIS_CRTCNO   26100
18             REPCAR_VIN   55697
19          SAME_VHCTY_TY    9155
20                STRE_DE   79715
21           RECP_FILE_NM   79707
22                SRCMNNO       0

In [ ]:
sdf3_1 = sdf3[slist3]
sdf3_1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 79670 entries, 0 to 79669
Data columns (total 21 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   DMSTC_IMP_MNFCTR_SE   78984 non-null  object
 1   EXHST_GAS_CERT_NO     79670 non-null  object
 2   EXHST_GAS_CERT_SE1    79670 non-null  object
 3   EXHST_GAS_CERT_SE2    79383 non-null  object
 4   EXHST_GAS_CERT_YMD    79615 non-null  float64
 5   EXHST_GAS_CERT_SN     79670 non-null  int64
 6   EXTGAS_CET_STS_CD     79626 non-null  float64
 7   EXTGAS_CET_UNVBL_YMD  360 non-null    float64
 8   EXTGAS_CET_UNVBL_REN  45 non-null     object
 9   EXHST_GAS_GRD         23869 non-null  object
 10  EXTGAS_CET_PRM_CRTCD  17691 non-null  object
 11  VHCTY_CD              79464 non-null  object
 12  FUEL_CD               79435 non-null  object
 13  MNFCTR_NM             78901 non-null  object
 14  MKR_NAME              79500 non-null  object
 15  MANP_MNG_NO           60648 non-null  object
 16  FBCTN_NTN_NM          29873 non-null  object
 17  RPRSVH_EXTGAS_CET_NO  26100 non-null  object
 18  RPRS_CAR_VIN          55697 non-null  object
 19  VHCTY_TY_CD           9113 non-null   object
 20  DATA_STRG_YMD         79660 non-null  object
dtypes: float64(3), int64(1), object(17)
memory usage: 12.8+ MB

In [ ]:
scount3 = sdf3_1.count().reset_index()
scount3.columns = ['index', 'scount']
scount3

                   index  scount
0    DMSTC_IMP_MNFCTR_SE   78984
1      EXHST_GAS_CERT_NO   79670
2     EXHST_GAS_CERT_SE1   79670
3     EXHST_GAS_CERT_SE2   79383
4     EXHST_GAS_CERT_YMD   79615
5      EXHST_GAS_CERT_SN   79670
6      EXTGAS_CET_STS_CD   79626
7   EXTGAS_CET_UNVBL_YMD     360
8   EXTGAS_CET_UNVBL_REN      45
9          EXHST_GAS_GRD   23869
10  EXTGAS_CET_PRM_CRTCD   17691
11              VHCTY_CD   79464
12               FUEL_CD   79435
13             MNFCTR_NM   78901
14              MKR_NAME   79500
15           MANP_MNG_NO   60648
16          FBCTN_NTN_NM   29873
17  RPRSVH_EXTGAS_CET_NO   26100
18          RPRS_CAR_VIN   55697
19           VHCTY_TY_CD    9113
20         DATA_STRG_YMD   79660

In [ ]:
oscount3 = pd.concat([ocount3, scount3], axis=1)
oscount3

                    index  ocount                 index   scount
0       DMSTC_INCM_MKR_SE   79038   DMSTC_IMP_MNFCTR_SE  78984.0
1             EMIS_CRTCNO   79725     EXHST_GAS_CERT_NO  79670.0
2          EMIS_CRTC_1_SE   79725    EXHST_GAS_CERT_SE1  79670.0
3          EMIS_CRTC_2_SE   79436    EXHST_GAS_CERT_SE2  79383.0
4            EMIS_CRTC_DE   79670    EXHST_GAS_CERT_YMD  79615.0
5           EMIS_CRTC_SNO   79725     EXHST_GAS_CERT_SN  79670.0
6          EMIS_CRTC_STUS   79681     EXTGAS_CET_STS_CD  79626.0
7     EMIS_CRTC_UNAVBL_DE     361  EXTGAS_CET_UNVBL_YMD    360.0
8   EMIS_CRTC_UNAVBL_RESN      45  EXTGAS_CET_UNVBL_REN     45.0
9                EMIS_GRD   23923         EXHST_GAS_GRD  23869.0
10      EMIS_PERM_STDR_CD   17746  EXTGAS_CET_PRM_CRTCD  17691.0
11             EMIS_VHCTY   79519              VHCTY_CD  79464.0
12                   FUEL   79493               FUEL_CD  79435.0
13                 MKR_NM   78956             MNFCTR_NM  78901.0
14               MNFCT_NM   79554              MKR_NAME  79500.0
15         ORGCAR_SRCMNNO   60648           MANP_MNG_NO  60648.0
16                PLOR_NM   29928          FBCTN_NTN_NM  29873.0
17     REPCAR_EMIS_CRTCNO   26100  RPRSVH_EXTGAS_CET_NO  26100.0
18             REPCAR_VIN   55697          RPRS_CAR_VIN  55697.0
19          SAME_VHCTY_TY    9155           VHCTY_TY_CD   9113.0
20                STRE_DE   79715         DATA_STRG_YMD  79660.0
21           RECP_FILE_NM   79707                   NaN      NaN
22                SRCMNNO       0                   NaN      NaN

In [ ]:
oscount3['차이'] = oscount3['ocount'] - oscount3['scount']
oscount3

                    index  ocount                 index   scount    차이
0       DMSTC_INCM_MKR_SE   79038   DMSTC_IMP_MNFCTR_SE  78984.0  54.0
1             EMIS_CRTCNO   79725     EXHST_GAS_CERT_NO  79670.0  55.0
2          EMIS_CRTC_1_SE   79725    EXHST_GAS_CERT_SE1  79670.0  55.0
3          EMIS_CRTC_2_SE   79436    EXHST_GAS_CERT_SE2  79383.0  53.0
4            EMIS_CRTC_DE   79670    EXHST_GAS_CERT_YMD  79615.0  55.0
5           EMIS_CRTC_SNO   79725     EXHST_GAS_CERT_SN  79670.0  55.0
6          EMIS_CRTC_STUS   79681     EXTGAS_CET_STS_CD  79626.0  55.0
7     EMIS_CRTC_UNAVBL_DE     361  EXTGAS_CET_UNVBL_YMD    360.0   1.0
8   EMIS_CRTC_UNAVBL_RESN      45  EXTGAS_CET_UNVBL_REN     45.0   0.0
9                EMIS_GRD   23923         EXHST_GAS_GRD  23869.0  54.0
10      EMIS_PERM_STDR_CD   17746  EXTGAS_CET_PRM_CRTCD  17691.0  55.0
11             EMIS_VHCTY   79519              VHCTY_CD  79464.0  55.0
12                   FUEL   79493               FUEL_CD  79435.0  58.0
13                 MKR_NM   78956             MNFCTR_NM  78901.0  55.0
14               MNFCT_NM   79554              MKR_NAME  79500.0  54.0
15         ORGCAR_SRCMNNO   60648           MANP_MNG_NO  60648.0   0.0
16                PLOR_NM   29928          FBCTN_NTN_NM  29873.0  55.0
17     REPCAR_EMIS_CRTCNO   26100  RPRSVH_EXTGAS_CET_NO  26100.0   0.0
18             REPCAR_VIN   55697          RPRS_CAR_VIN  55697.0   0.0
19          SAME_VHCTY_TY    9155           VHCTY_TY_CD   9113.0  42.0
20                STRE_DE   79715         DATA_STRG_YMD  79660.0  55.0
21           RECP_FILE_NM   79707                   NaN      NaN   NaN
22                SRCMNNO       0                   NaN      NaN   NaN

### [출력]

In [ ]:
texcel3 = pd.ExcelWriter(f'analysis/ODSvsSTD/[정제]{ods_file_name3}_vs_{std_file_name3}.xlsx')
ocol3.to_excel(texcel3, sheet_name='ODS_col', index=False)
scol3.to_excel(texcel3, sheet_name='STD_col', index=False)
oscount3.to_excel(texcel3, sheet_name='count', index=False)
texcel3.save()