# Library

In [1]:
import pandas as pd
import os

# folder

In [25]:
ods_fold = 'D:/data/big2/ODS'
df3_fold = 'D:/data/big2/BD3/df'
raw3_fold = 'D:/data/big2/BD3/raw'

## 등록정보

In [3]:
# about 8m 39.5s
name = '[ODS]등록정보&제원정보(2022.12.28)'
file_name = f'{name}.csv'
df = pd.read_csv(os.path.join(ods_fold, file_name), low_memory=False, encoding='cp949')
df.info()

In [ ]:
df.columns

Index(['차량관리번호', '차량등록번호', '본거지법정동코드', '소유자구분', '차종_등록정보', '용도', '현재회원번호',
       '차대번호', '최초등록일자', '차량연식', '차량제작일자', '배출가스검사유효일자', '제원관리번호', '배출가스인증번호',
       '배출가스등급', '저공해조치YN(미사용)', '저공해조치종류', '저공해조치구조변경YN', '차량등록번호숫자정보',
       '차량말소YN', '최초회원번호', '취득일자', '취득금액', '생성일시_등록정보', '수정일시_등록정보', '차명',
       '차종_제원정보', '차종분류', '차종유형(소분류)', '자동차형식', '제작사명', '연료', '엔진형식', '공차중량',
       '총중량', '적재중량', '엔진출력', '배기량', '승차인원', '차량길이', '차량너비', '차량높이', '원산지명',
       '삭제YN', '승인일자', '구동형식', '변속기종류', '생성일시_제원정보', '수정일시_제원정보'],
      dtype='object')

In [ ]:
df.loc[df['차량등록번호'] == '998무2907', ['차대번호', '차량등록번호' , '배출가스인증번호', '배출가스등급', '차명', '자동차형식', '엔진형식', '연료', '차량연식', '용도', '차종_등록정보', '차종_제원정보']]

,차대번호,차량등록번호,배출가스인증번호,배출가스등급,차명,자동차형식,엔진형식,연료,차량연식,용도,차종_등록정보,차종_제원정보
20466723,KMHE241CBJA417701,998무2907,HMY-HD-14-09,2,쏘나타 (SONATA) 순찰차,LF4CBF-GP,G4ND,휘발유,2018,관용,승용,승용

# result 확인

In [5]:
raw_fold = 'D:/data/big2/BD1/raw'

In [6]:
# about 
name = 'result(전체)_CAPSS_배출량(Grade추가)(dong_code추가)(2023.05.08_PM.04.42.03)'
file_name = f'{name}.csv'
df = pd.read_csv(os.path.join(raw_fold, file_name), low_memory=False)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1502235 entries, 0 to 1502234
Data columns (total 44 columns):
 #   Column         Non-Null Count    Dtype
---  ------         --------------    -----
 0   차대번호           1502235 non-null  object
 1   차량번호           1502235 non-null  object
 2   제원관리번호         1502235 non-null  object
 3   차종             1502235 non-null  object
 4   용도             1502235 non-null  object
 5   최초등록일          1502235 non-null  int64
 6   연식             1502235 non-null  int64
 7   제작일자           1335178 non-null  float64
 8   검사유효일          1502223 non-null  float64
 9   배출가스인증번호       1384783 non-null  object
 10  등급             1502235 non-null  int64
 11  차명             1502235 non-null  object
 12  차종분류           1502235 non-null  object
 13  차종유형           1502235 non-null  object
 14  자동차형식          1501958 non-null  object
 15  제작사명           1492590 non-null  object
 16  연료             1502235 non-null  object
 17  엔진형식           1500400 non-null  object
 18  총중량            1502234 non-null  float64
 19  적재중량           1501728 non-null  float64
 20  엔진출력           1501882 non-null  object
 21  배기량            1502231 non-null  float64
 22  법정동코드          1502235 non-null  int64
 23  시도명            1502235 non-null  object
 24  시군구명           1502235 non-null  object
 25  소유자구분          1502235 non-null  object
 26  말소여부           1502235 non-null  object
 27  일치유무           1153813 non-null  object
 28  인증번호 수정 유무     1151141 non-null  object
 29  배인번호_수정        1153813 non-null  object
 30  등급_수정          1502235 non-null  float64
 31  DPF유무_수정       1153813 non-null  object
 32  배출가스           1151141 non-null  object
 33  등급2            1151141 non-null  object
 34  DPF            1144315 non-null  object
 35  비고             46494 non-null    object
 36  Grade          1497711 non-null  object
 37  시군구명_수정        1494113 non-null  object
 38  dong_code      1502235 non-null  int64
 39  E_CO_total     1497708 non-null  float64
 40  E_HC_total     1497708 non-null  float64
 41  E_NOx_total    1497708 non-null  float64
 42  E_PM10_total   1497708 non-null  float64
 43  E_PM2_5_total  1497708 non-null  float64
dtypes: float64(11), int64(5), object(28)
memory usage: 504.3+ MB

In [7]:
df.columns

Index(['차대번호', '차량번호', '제원관리번호', '차종', '용도', '최초등록일', '연식', '제작일자', '검사유효일',
       '배출가스인증번호', '등급', '차명', '차종분류', '차종유형', '자동차형식', '제작사명', '연료', '엔진형식',
       '총중량', '적재중량', '엔진출력', '배기량', '법정동코드', '시도명', '시군구명', '소유자구분', '말소여부',
       '일치유무', '인증번호 수정 유무', '배인번호_수정', '등급_수정', 'DPF유무_수정', '배출가스', '등급2',
       'DPF', '비고', 'Grade', '시군구명_수정', 'dong_code', 'E_CO_total',
       'E_HC_total', 'E_NOx_total', 'E_PM10_total', 'E_PM2_5_total'],
      dtype='object')

In [8]:
df.loc[df['배인번호_수정'] == '5MY-AD-13-07'].shape

(118, 44)

In [9]:
df.loc[df['배인번호_수정'] == '5MY-AD-13-13'].shape

(51, 44)

In [10]:
df.loc[df['배인번호_수정'] == '6MY-AD-13-11'].shape

(493, 44)

In [11]:
df.loc[df['배인번호_수정'] == '7MY-AD-13-01'].shape

(565, 44)

In [12]:
df.loc[df['배인번호_수정'] == '7MY-AD-13-05'].shape

(26, 44)

In [13]:
df.loc[df['배인번호_수정'] == '7MY-AD-13-06'].shape

(207, 44)

In [14]:
df.loc[df['배인번호_수정'] == '9MY-JL-14-4'].shape

(273, 44)

In [15]:
df.loc[df['배출가스인증번호'] == '5MY-HD-24-59'].shape

(27866, 44)

In [16]:
df.loc[df['배인번호_수정'] == '5MY-HD-24-59'].shape

(27698, 44)

In [17]:
df.loc[df['배출가스인증번호'] == '5MY-HD-24-59'].shape[0] - df.loc[df['배인번호_수정'] == '5MY-HD-24-59'].shape[0]

168

In [18]:
df.loc[df['배인번호_수정'] == '8MY-SY-13-14'].shape

(313, 44)

In [19]:
df.loc[df['배인번호_수정'] == 'CMY-VTK-14-01'].shape

(2, 44)

In [20]:
df.loc[df['배인번호_수정'] == 'CMY-VTK-14-02'].shape

(24, 44)

In [21]:
df.loc[df['배인번호_수정'] == 'FMY-VTK-14-1'].shape

(1780, 44)

In [22]:
df.loc[df['배인번호_수정'] == 'FMY-VTK-14-2'].shape

(87, 44)

In [23]:
df.loc[df['배인번호_수정'] == 'FMY-VTK-14-3'].shape

(76, 44)

In [24]:
df.loc[df['배인번호_수정'] == 'FMY-VTK-14-4'].shape

(49, 44)

In [25]:
df.loc[df['배인번호_수정'] == '7MY-DK-24-04'].shape

(148, 44)

In [26]:
df.loc[df['배출가스인증번호'] == '7MY-DB-24-42'].shape

(57, 44)

In [27]:
df.loc[df['배인번호_수정'] == '7MY-DB-24-42'].shape

(44, 44)

In [28]:
df.loc[df['배출가스인증번호'] == '7MY-DB-24-42'].shape[0] - df.loc[df['배인번호_수정'] == '7MY-DB-24-42'].shape[0]

13

In [29]:
df['등급_수정'].value_counts(dropna=False)

등급_수정
4.0    1497711
3.0       4397
5.0        127
Name: count, dtype: int64

## 5등급으로 변경

In [30]:
df.loc[df['배인번호_수정'] == '4MY-DB-04', ['차명', '제작사명', '등급_수정']].shape

(24, 3)

In [31]:
df.loc[df['배인번호_수정'] == '4MY-DB-04', '등급_수정'] = 5

In [32]:
df.loc[df['배인번호_수정'] == '4MY-DB-03'].shape

(9, 44)

In [33]:
df.loc[df['배인번호_수정'] == '4MY-DB-03', '등급_수정'].unique()

array([4.])

In [34]:
df.loc[df['배인번호_수정'] == '4MY-DB-03', '등급_수정'] = 5

In [35]:
df['등급_수정'].value_counts(dropna=False)

등급_수정
4.0    1497678
3.0       4397
5.0        160
Name: count, dtype: int64

## 소나타 DPF 장착 확인(아직 수행전)

In [47]:
df.columns

Index(['차대번호', '차량번호', '제원관리번호', '차종', '용도', '최초등록일', '연식', '제작일자', '검사유효일',
       '배출가스인증번호', '등급', '차명', '차종분류', '차종유형', '자동차형식', '제작사명', '연료', '엔진형식',
       '총중량', '적재중량', '엔진출력', '배기량', '법정동코드', '시도명', '시군구명', '소유자구분', '말소여부',
       '일치유무', '인증번호 수정 유무', '배인번호_수정', '등급_수정', 'DPF유무_수정', '배출가스', '등급2',
       'DPF', '비고', 'Grade', '시군구명_수정', 'dong_code', 'E_CO_total',
       'E_HC_total', 'E_NOx_total', 'E_PM10_total', 'E_PM2_5_total'],
      dtype='object')

In [ ]:
df.loc[df['배인번호_수정']]

In [36]:
# about 3.1s
df.loc[df['등급_수정'] == 3].to_excel(os.path.join(raw_fold, 'result_3등급.xlsx'), index=False)
df.loc[df['등급_수정'] == 5].to_excel(os.path.join(raw_fold, 'result_5등급.xlsx'), index=False)

In [42]:
# about 28.4s
df.to_csv(os.path.join(ods_fold, 'result(전체)_CAPSS_배출량(Grade추가)(dong_code추가)(2023.05.15).csv'), index=False)

In [37]:
df.loc[df['연료'] == '경유'].shape

(1153813, 44)

In [38]:
df2 = df.loc[df['연료'] == '경유'].reset_index(drop=True)
df2['등급_수정'].value_counts(dropna=False)

등급_수정
4.0    1149256
3.0       4397
5.0        160
Name: count, dtype: int64

In [72]:
df2.columns

Index(['차대번호', '차량번호', '제원관리번호', '차종', '용도', '최초등록일', '연식', '제작일자', '검사유효일',
       '배출가스인증번호', '등급', '차명', '차종분류', '차종유형', '자동차형식', '제작사명', '연료', '엔진형식',
       '총중량', '적재중량', '엔진출력', '배기량', '법정동코드', '시도명', '시군구명', '소유자구분', '말소여부',
       '일치유무', '인증번호 수정 유무', '배인번호_수정', '등급_수정', 'DPF유무_수정', '배출가스', '등급2',
       'DPF', '비고', 'Grade', '시군구명_수정', 'dong_code', 'E_CO_total',
       'E_HC_total', 'E_NOx_total', 'E_PM10_total', 'E_PM2_5_total'],
      dtype='object')

In [71]:
# about 
n = 800000
df2.iloc[:n].to_excel(os.path.join(raw_fold, 'result(전체)_CAPSS_배출량(Grade추가)(dong_code추가)(2023.05.15)01.xlsx'), index=False)
df2.iloc[n:].to_excel(os.path.join(raw_fold, 'result(전체)_CAPSS_배출량(Grade추가)(dong_code추가)(2023.05.15)02.xlsx'), index=False)

In [39]:
df3 = df2.loc[df2['등급_수정'] == 4].reset_index(drop=True)
df3.shape

(1149256, 44)

In [40]:
df3.columns

Index(['차대번호', '차량번호', '제원관리번호', '차종', '용도', '최초등록일', '연식', '제작일자', '검사유효일',
       '배출가스인증번호', '등급', '차명', '차종분류', '차종유형', '자동차형식', '제작사명', '연료', '엔진형식',
       '총중량', '적재중량', '엔진출력', '배기량', '법정동코드', '시도명', '시군구명', '소유자구분', '말소여부',
       '일치유무', '인증번호 수정 유무', '배인번호_수정', '등급_수정', 'DPF유무_수정', '배출가스', '등급2',
       'DPF', '비고', 'Grade', '시군구명_수정', 'dong_code', 'E_CO_total',
       'E_HC_total', 'E_NOx_total', 'E_PM10_total', 'E_PM2_5_total'],
      dtype='object')

In [41]:
# about 
n = 600000
df3.iloc[:n].to_excel(os.path.join(raw_fold, 'result(4등급_경유)_CAPSS배출량(Grade추가)(dong_code추가)(2023.05.17)01.xlsx'), index=False)
df3.iloc[n:].to_excel(os.path.join(raw_fold, 'result(4등급_경유)_CAPSS배출량(Grade추가)(dong_code추가)(2023.05.17)02.xlsx'), index=False)

In [43]:
df['등급_수정'].value_counts(dropna=False)

등급_수정
4.0    1497678
3.0       4397
5.0        160
Name: count, dtype: int64

In [44]:
df.loc[df['등급_수정'] == 4, '연료'].value_counts(dropna=False)

연료
경유             1149256
휘발유             323019
LPG(액화석유가스)      25400
알코올                  1
기타연료                 1
CNG(압축천연가스)          1
Name: count, dtype: int64

In [45]:
g4 = df.loc[df['등급_수정'] == 4].reset_index(drop=True)
g4.shape

(1497678, 44)

In [46]:
# about 17m 52.6s
n = 800000
g4.iloc[:n].to_excel(os.path.join(raw_fold, 'result(4등급)_CAPSS배출량(Grade추가)(dong_code추가)(2023.05.17)01.xlsx'), index=False)
g4.iloc[n:].to_excel(os.path.join(raw_fold, 'result(4등급)_CAPSS배출량(Grade추가)(dong_code추가)(2023.05.17)02.xlsx'), index=False)

# result 보관용 파일 등급 수정 반영

In [5]:
# about 
name = '4등급_경유차_경제적타당성평가_검사경과기간_운행제한이력(2023.05.07_PM.02.48.37)'
file_name = f'{name}.csv'
df = pd.read_csv(os.path.join(ods_fold, file_name), low_memory=False)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1149289 entries, 0 to 1149288
Data columns (total 81 columns):
 #   Column         Non-Null Count    Dtype
---  ------         --------------    -----
 0   차대번호           1149289 non-null  object
 1   차량번호           1149289 non-null  object
 2   제원관리번호         1149289 non-null  object
 3   차종             1149289 non-null  object
 4   용도             1149289 non-null  object
 5   최초등록일          1149289 non-null  int64
 6   연식             1149289 non-null  int64
 7   제작일자           1149288 non-null  float64
 8   검사유효일          1149286 non-null  float64
 9   배출가스인증번호       1144738 non-null  object
 10  등급             1149289 non-null  int64
 11  차명             1149289 non-null  object
 12  차종분류           1149289 non-null  object
 13  차종유형           1149289 non-null  object
 14  자동차형식          1149288 non-null  object
 15  제작사명           1149272 non-null  object
 16  연료             1149289 non-null  object
 17  엔진형식           1149289 non-null  object
 18  총중량            1149289 non-null  float64
 19  적재중량           1149230 non-null  float64
 20  엔진출력           1149287 non-null  float64
 21  배기량            1149289 non-null  float64
 22  법정동코드          1149289 non-null  int64
 23  시도명            1149289 non-null  object
 24  시군구명           1149289 non-null  object
 25  소유자구분          1149289 non-null  object
 26  말소여부           1149289 non-null  object
 27  일치유무           1149289 non-null  object
 28  인증번호 수정 유무     1146618 non-null  object
 29  배인번호_수정        1149289 non-null  object
 30  등급_수정          1149289 non-null  float64
 31  DPF유무_수정       1149289 non-null  object
 32  배출가스           1146618 non-null  object
 33  등급2            1146618 non-null  object
 34  DPF            1139796 non-null  object
 35  비고             44445 non-null    object
 36  Grade          1149289 non-null  object
 37  차령             1149289 non-null  int64
 38  시군구명_수정        1149289 non-null  object
 39  1일평균주행거리       1149289 non-null  float64
 40  조기폐차최종승인YN     0 non-null        float64
 41  저감장치           32 non-null       object
 42  장치일련번호         34 non-null       object
 43  연간주행거리         1149289 non-null  float64
 44  최신경과기간         1051999 non-null  float64
 45  검사일자           1121144 non-null  float64
 46  검사방법           1121144 non-null  object
 47  검사종류           1121144 non-null  object
 48  검사판정           1121144 non-null  object
 49  무부하매연판정1       1112520 non-null  object
 50  무부하매연판정2       42469 non-null    object
 51  무부하매연판정3       41566 non-null    object
 52  무부하매연측정치1      1112525 non-null  float64
 53  무부하매연측정치2      363252 non-null   float64
 54  무부하매연측정치3      330070 non-null   float64
 55  연간배출량          1037785 non-null  float64
 56  연간환경이익         1037785 non-null  float64
 57  환경이익           1037785 non-null  float64
 58  지원비용           1149289 non-null  int64
 59  경제적타당성         1037785 non-null  float64
 60  단속발령19         0 non-null        float64
 61  단속발령20         44 non-null       float64
 62  단속발령21         11 non-null       float64
 63  단속발령22         2 non-null        float64
 64  단속발령대수_x       47 non-null       float64
 65  단속정보18         84 non-null       float64
 66  단속정보19         51 non-null       float64
 67  단속정보20         28 non-null       float64
 68  단속정보21         2 non-null        float64
 69  단속정보22         0 non-null        float64
 70  단속정보대수_x       138 non-null      float64
 71  운행제한단속정보YN     138 non-null      object
 72  단속발령1차         28 non-null       float64
 73  단속발령2차         6 non-null        float64
 74  단속발령3차         0 non-null        float64
 75  단속발령대수_y       30 non-null       float64
 76  단속정보1차         5 non-null        float64
 77  단속정보2차         0 non-null        float64
 78  단속정보3차         0 non-null        float64
 79  단속정보대수_y       5 non-null        float64
 80  비상시및계절제단속발령YN  30 non-null       object
dtypes: float64(38), int64(6), object(37)
memory usage: 710.2+ MB

# STD_BD_CAR_PRET

In [4]:
# about 
name = 'STD_BD_CAR_PRET'
file_name = f'{name}.csv'
df = pd.read_csv(os.path.join(df3_fold, file_name), low_memory=False, nrows=5)
df.head()

,YMD,GSL,DSL,LPG,GSL_PRET,DSL_PRET,LPG_PRET
0,2019-12-31,11396509.0,9920850.0,1948981.0,NaN,NaN,NaN
1,2020-12-31,11997523.0,9949937.0,1930371.0,NaN,NaN,NaN
2,2021-12-31,12562007.0,9836781.0,1900023.0,NaN,NaN,NaN
3,2022-12-31,13272774.0,9926769.0,1918540.0,13272774.0,9926769.0,1918540.0
4,2023-12-31,NaN,NaN,NaN,13874767.0,9891960.0,1900592.0

In [5]:
df.columns = ['연월일', '휘발유', '경유', 'LPG', '휘발유_예측', '경유_예측', 'LPG_예측']
df.head()

,연월일,휘발유,경유,LPG,휘발유_예측,경유_예측,LPG_예측
0,2019-12-31,11396509.0,9920850.0,1948981.0,NaN,NaN,NaN
1,2020-12-31,11997523.0,9949937.0,1930371.0,NaN,NaN,NaN
2,2021-12-31,12562007.0,9836781.0,1900023.0,NaN,NaN,NaN
3,2022-12-31,13272774.0,9926769.0,1918540.0,13272774.0,9926769.0,1918540.0
4,2023-12-31,NaN,NaN,NaN,13874767.0,9891960.0,1900592.0

# STD_BD_ECO_CAR_PRET

In [6]:
# about 
name = 'STD_BD_ECO_CAR_PRET'
file_name = f'{name}.csv'
df = pd.read_csv(os.path.join(df3_fold, file_name), low_memory=False, nrows=5)
df.head()

          YMD     BTYCR       HY     BTYCR_PRET       HY_PRET
0  2019-12-31  376118.0  28321.0            NaN           NaN
1  2020-12-31  374436.0  28302.0            NaN           NaN
2  2021-12-31  370483.0  28264.0            NaN           NaN
3  2022-12-31  368693.0  28227.0  368693.000000  28227.000000
4  2023-12-31       NaN      NaN  403848.976186  32647.982899

In [7]:
df.columns = ['연월일', '전기', '수소', '전기_예측', '수소_예측']
df.head()

          연월일        전기       수소          전기_예측         수소_예측
0  2019-12-31  376118.0  28321.0            NaN           NaN
1  2020-12-31  374436.0  28302.0            NaN           NaN
2  2021-12-31  370483.0  28264.0            NaN           NaN
3  2022-12-31  368693.0  28227.0  368693.000000  28227.000000
4  2023-12-31       NaN      NaN  403848.976186  32647.982899

# STD_BD_CAR_CURSTT_MOD

In [8]:
# about 
name = 'STD_BD_CAR_CURSTT_MOD'
file_name = f'{name}.csv'
df = pd.read_csv(os.path.join(df3_fold, file_name), low_memory=False, nrows=5)
df.head()

   CRTR_YM  RGN CTPV_NM  EXHST_GAS_GRD_CD  VHCL_MKCNT
0   201912  수도권   서울특별시                 1      254737
1   201912  수도권   서울특별시                 2     1298298
2   201912  수도권   서울특별시                 3     1101307
3   201912  수도권   서울특별시                 4      238769
4   201912  수도권   서울특별시                 5      199898

In [9]:
df.columns

Index(['CRTR_YM', 'RGN', 'CTPV_NM', 'EXHST_GAS_GRD_CD', 'VHCL_MKCNT'], dtype='object')

In [ ]:
STD_BD_CAR_CURSTT_MOD = df[[
    'CRTR_YM', 
    'RGN', 
    'CTPV_NM', 
    'EXHST_GAS_GRD_CD', 
    'VHCL_MKCNT',
]]

# STD_BD_CAR_CURSTT_MOD2

In [10]:
# about 
name = 'STD_BD_CAR_CURSTT_MOD2'
file_name = f'{name}.csv'
df = pd.read_csv(os.path.join(df3_fold, file_name), low_memory=False, nrows=5)
df.head()

   CRTR_YM FUEL_CD  EXHST_GAS_GRD_CD  VHCL_MKCNT
0   201912     휘발유                 1      969119
1   201912     휘발유                 2     8385154
2   201912     휘발유                 3     1558693
3   201912     휘발유                 4      426002
4   201912     휘발유                 5       30426

In [11]:
df.columns

Index(['CRTR_YM', 'FUEL_CD', 'EXHST_GAS_GRD_CD', 'VHCL_MKCNT'], dtype='object')

In [ ]:
STD_BD_CAR_CURSTT_MOD2 = df[[
    'CRTR_YM', 
    'FUEL_CD', 
    'EXHST_GAS_GRD_CD', 
    'VHCL_MKCNT'
]]

# STD_BD_CAR_CURSTT

In [13]:
# about 
name = 'STD_BD_CAR_CURSTT'
file_name = f'{name}.csv'
df = pd.read_csv(os.path.join(df3_fold, file_name), low_memory=False, nrows=5)
df.head()

,BSPL_STDG_CD,VHCTY_CD,PURPS_CD2,VIN,MANG_MNG_NO,EXHST_GAS_CERT_NO,EXHST_GAS_GRD_CD,VHCL_ERSR_YN,FUEL_CD,CTPV,SGG
0,1165010700,승용,자가용,10762211742,10004800000000,NaN,5,N,휘발유,서울특별시,서초구
1,2711010500,승용,자가용,KG68T122688*,30220100010946,NaN,5,N,휘발유,대구광역시,중구
2,2820010300,승용,자가용,10762211783,10004800000000,NaN,5,N,휘발유,인천광역시,남동구
3,4213011200,화물,자가용,PN71C018511000000,30321400001063,NaN,5,N,경유,강원도,원주시
4,4812110500,승용,자가용,KMHLA11FPGU060639,30381300100968,NaN,5,N,휘발유,경상남도,창원시 의창구

In [14]:
df.columns

Index(['BSPL_STDG_CD', 'VHCTY_CD', 'PURPS_CD2', 'VIN', 'MANG_MNG_NO',
       'EXHST_GAS_CERT_NO', 'EXHST_GAS_GRD_CD', 'VHCL_ERSR_YN', 'FUEL_CD',
       'CTPV', 'SGG'],
      dtype='object')

In [ ]:
STD_BD_CAR_CURSTT = df[[
    'BSPL_STDG_CD', 
    'VHCTY_CD', 
    'PURPS_CD2', 
    'VIN', 
    'MANG_MNG_NO',
    'EXHST_GAS_CERT_NO', 
    'EXHST_GAS_GRD_CD', 
    'VHCL_ERSR_YN', 
    'FUEL_CD',
    'CTPV', 
    'SGG'
]]

# STD_BD_CAR_REG_MKCNT

In [15]:
# about 
name = 'STD_BD_CAR_REG_MKCNT'
file_name = f'{name}.csv'
df = pd.read_csv(os.path.join(df3_fold, file_name), low_memory=False, nrows=5)
df.head()

     YR FUEL_CD CTPV  VHCL_MKCNT   FUEL_RT
0  2019     휘발유   강원      345500  0.443664
1  2019      경유   강원      369377  0.474325
2  2019     LPG   강원       61280  0.078691
3  2019      전기   강원        2445  0.003140
4  2019      수소   강원         140  0.000180

In [16]:
df.columns

Index(['YR', 'FUEL_CD', 'CTPV', 'VHCL_MKCNT', 'FUEL_RT'], dtype='object')

In [ ]:
STD_BD_CAR_REG_MKCNT = df[[
    'YR', 
    'FUEL_CD', 
    'CTPV', 
    'VHCL_MKCNT', 
    'FUEL_RT'
]]

# STD_BD_CAR_PRET

In [17]:
# about 
name = 'STD_BD_CAR_PRET'
file_name = f'{name}.csv'
df = pd.read_csv(os.path.join(df3_fold, file_name), low_memory=False, nrows=5)
df.head()

,YMD,GSL,DSL,LPG,GSL_PRET,DSL_PRET,LPG_PRET
0,2019-12-31,11396509.0,9920850.0,1948981.0,NaN,NaN,NaN
1,2020-12-31,11997523.0,9949937.0,1930371.0,NaN,NaN,NaN
2,2021-12-31,12562007.0,9836781.0,1900023.0,NaN,NaN,NaN
3,2022-12-31,13272774.0,9926769.0,1918540.0,13272774.0,9926769.0,1918540.0
4,2023-12-31,NaN,NaN,NaN,13874767.0,9891960.0,1900592.0

In [18]:
df.columns

Index(['YMD', 'GSL', 'DSL', 'LPG', 'GSL_PRET', 'DSL_PRET', 'LPG_PRET'], dtype='object')

In [ ]:
STD_BD_CAR_REG_MKCNT = df[[
    'YMD', 
    'GSL', 
    'DSL', 
    'LPG', 
    'GSL_PRET', 
    'DSL_PRET', 
    'LPG_PRET'
]]

# STD_BD_FUEL_GRD_VHCL_CURSTT_PRET

In [19]:
# about 
name = 'STD_BD_FUEL_GRD_VHCL_CURSTT_PRET'
file_name = f'{name}.csv'
df = pd.read_csv(os.path.join(df3_fold, file_name), low_memory=False, nrows=5)
df.head()

           YR FUEL_CD  GRD  VHCL_MKCNT     VHCL_PRET
0  2019-12-31     휘발유    1    969119.0           NaN
1  2020-12-31     휘발유    1   1339467.0           NaN
2  2021-12-31     휘발유    1   1634815.0           NaN
3  2022-12-31     휘발유    1         NaN  1.977353e+06
4  2023-12-31     휘발유    1         NaN  2.313175e+06

In [20]:
df.columns

Index(['YR', 'FUEL_CD', 'GRD', 'VHCL_MKCNT', 'VHCL_PRET'], dtype='object')

In [ ]:
STD_BD_FUEL_GRD_VHCL_CURSTT_PRET = df[[
    'YR', 
    'FUEL_CD', 
    'GRD', 
    'VHCL_MKCNT', 
    'VHCL_PRET'
]]

# STD_BD_ECO_CAR_PRET

In [21]:
# about 
name = 'STD_BD_ECO_CAR_PRET'
file_name = f'{name}.csv'
df = pd.read_csv(os.path.join(df3_fold, file_name), low_memory=False, nrows=5)
df.head()

          YMD     BTYCR       HY     BTYCR_PRET       HY_PRET
0  2019-12-31  376118.0  28321.0            NaN           NaN
1  2020-12-31  374436.0  28302.0            NaN           NaN
2  2021-12-31  370483.0  28264.0            NaN           NaN
3  2022-12-31  368693.0  28227.0  368693.000000  28227.000000
4  2023-12-31       NaN      NaN  403848.976186  32647.982899

In [22]:
df.columns

Index(['YMD', 'BTYCR', 'HY', 'BTYCR_PRET', 'HY_PRET'], dtype='object')

In [ ]:
STD_BD_FUEL_GRD_VHCL_CURSTT_PRET = df[[
    'YMD', 
    'BTYCR', 
    'HY', 
    'BTYCR_PRET', 
    'HY_PRET'
]]

# STD_BD_ERSR_RSLT

In [23]:
# about 
name = 'STD_BD_ERSR_RSLT'
file_name = f'{name}.csv'
df = pd.read_csv(os.path.join(df3_fold, file_name), low_memory=False, nrows=5)
df.head()

   BSPL_STDG_CD                VIN   CHG_YMD EXHST_GAS_GRD_CD FUEL_CD
0    1150010500  KMJNG18TPNC005002  20220628                X      경유
1    4725039022  KNAFK412BDA020343  20220628              2.0     휘발유
2    4136031021  KN3HNP6D26K136856  20220628              5.0      경유
3    4146135024  KMFZCS7JP6U149891  20220628              5.0      경유
4    1135010300  KNHMB76136S018476  20220628              5.0      경유

In [24]:
df.columns

Index(['BSPL_STDG_CD', 'VIN', 'CHG_YMD', 'EXHST_GAS_GRD_CD', 'FUEL_CD'], dtype='object')

In [ ]:
STD_BD_ERSR_RSLT = df[[
    'BSPL_STDG_CD', 
    'VIN', 
    'CHG_YMD', 
    'EXHST_GAS_GRD_CD', 
    'FUEL_CD'
]]

# 운행제한 건수 정보

In [35]:
# about 
name = '차대번호별 적발'
file_name = f'{name}.csv'
df = pd.read_csv(os.path.join(raw3_fold, file_name), low_memory=False, nrows=5, encoding='cp949')

In [36]:
df.head()

                 VIN  계절제_1차  계절제_2차  계절제_3차  비상시  상시  계절제_4차
0  KPBFA2AD14P100772       1     NaN     NaN    1 NaN     NaN
1  KMJWWH7JP5U656738       4     2.0    25.0    3 NaN     1.0
2  KNAJC52136A532787       2     NaN     NaN    1 NaN     NaN
3  KMHSH81WP6U081899       4     NaN     NaN    1 NaN     NaN
4  KNAJE55186K143510       1     NaN     NaN    1 NaN     NaN

In [37]:
df.columns

Index(['VIN', '계절제_1차', '계절제_2차', '계절제_3차', '비상시', '상시', '계절제_4차'], dtype='object')

# 계절제 적발지역 차대번호

In [38]:
# about 
name = '계절제 적발지역 차대번호'
file_name = f'{name}.csv'
df = pd.read_csv(os.path.join(raw3_fold, file_name), low_memory=False, nrows=5, encoding='cp949')

In [39]:
df.head()

  적발지역 적발시도               차대번호  계절제_1차  계절제_2차  계절제_3차  계절제_4차  차종 차종유형
0  수도권   서울  KMFZCS7JP7U292779       4     NaN     NaN     NaN  화물   소형
1  수도권   인천  KMHSD81VP2U244691       1     3.0     NaN     NaN  승용   중형
2  수도권   인천  KMHJN81VP6U261521       1     NaN     NaN     NaN  승용   중형
3  수도권   인천  KNAJC52135A471475       1     NaN     NaN     NaN  승용   대형
4  수도권   경기  KMHSJ81WP6U029832       1     4.0     NaN     NaN  승용   대형

In [ ]:
df.columns

Index(['VIN', '계절제_1차', '계절제_2차', '계절제_3차', '비상시', '상시', '계절제_4차'], dtype='object')

# STD_BD_GRD5_ELPDSRC_CURSTT

In [58]:
# about 
name = 'STD_BD_GRD5_ELPDSRC_CURSTT'
file_name = f'{name}.csv'
df = pd.read_csv(os.path.join(df3_fold, file_name), low_memory=False, nrows=10)

In [59]:
df.tail()

  RGN    YR  VHCL_MKCNT      VHCL_REDE   ELPDSRC     NTRL_DCLN
5  인천  2020       73308   17311.000000   12104.0   5207.000000
6  인천  2021       61402   11906.000000    6131.0   5775.000000
7  인천  2022       51722    9680.000000    2641.0   7039.000000
8  경기  2019      403770  120267.333333  100867.0  19400.333333
9  경기  2020      310682   93088.000000   70796.0  22292.000000

In [42]:
df.columns

Index(['RGN', 'YR', 'VHCL_MKCNT', 'VHCL_REDE', 'ELPDSRC', 'NTRL_DCLN'], dtype='object')

In [ ]:
STD_BD_GRD5_ELPDSRC_CURSTT = df[[
    'RGN', 
    'YR', 
    'VHCL_MKCNT', 
    'VHCL_REDE', 
    'ELPDSRC', 
    'NTRL_DCLN'
]]

# STD_BD_GRD5_LEM_N_MOD

In [60]:
# about 
name = 'STD_BD_GRD5_LEM_N_MOD'
file_name = f'{name}.csv'
df = pd.read_csv(os.path.join(df3_fold, file_name), low_memory=False, nrows=10)

In [61]:
df.tail()

     지역        구분     차량대수
5   수도권  4차계절제_종료   374738
6  수도권외  2차계절제_시작  1138402
7  수도권외  2차계절제_종료  1091526
8  수도권외  3차계절제_시작   876652
9  수도권외  3차계절제_종료   832753

In [45]:
df.columns

Index(['지역', '구분', '차량대수'], dtype='object')

In [ ]:
STD_BD_GRD5_LEM_N_MOD = df[[
    '지역', 
    '구분', 
    '차량대수'
]]

# STD_BD_SEASON_CRDN_NOCS_CURSTT

In [62]:
# about 
name = 'STD_BD_SEASON_CRDN_NOCS_CURSTT'
file_name = f'{name}.csv'
df = pd.read_csv(os.path.join(df3_fold, file_name), low_memory=False, nrows=10)

In [63]:
df.tail()

,VIN,SEASON_1ODR_CRDN_NOCS,SEASON_2ODR_CRDN_NOCS,SEASON_3ODR_CRDN_NOCS,SEASON_4ODR_CRDN_NOCS,RGN,CTPV,DPF_EXTRNS_YN,VHCTY_CD,VHCTY_TY
5,KMFZCN7HP7U272857,2.0,NaN,NaN,NaN,수도권,경기,무,화물,소형
6,KPBFA2AD13P063719,1.0,NaN,NaN,NaN,수도권,서울,무,승용,대형
7,KPALA4A814P215937,1.0,NaN,NaN,NaN,수도권,경기,무,화물,소형
8,KMHSD81VP5U979699,4.0,10.0,5.0,2.0,수도권,경기,무,승용,중형
9,KMHMG81VP3U169191,2.0,NaN,NaN,NaN,수도권,경기,무,승용,중형

In [48]:
df.columns

Index(['VIN', 'SEASON_1ODR_CRDN_NOCS', 'SEASON_2ODR_CRDN_NOCS',
       'SEASON_3ODR_CRDN_NOCS', 'SEASON_4ODR_CRDN_NOCS', 'RGN', 'CTPV',
       'DPF_EXTRNS_YN', 'VHCTY_CD', 'VHCTY_TY'],
      dtype='object')

In [ ]:
STD_BD_SEASON_CRDN_NOCS_CURSTT = df[[
    'VIN', 
    'SEASON_1ODR_CRDN_NOCS', 
    'SEASON_2ODR_CRDN_NOCS',
    'SEASON_3ODR_CRDN_NOCS', 
    'SEASON_4ODR_CRDN_NOCS', 
    'RGN', 
    'CTPV',
    'DPF_EXTRNS_YN', 
    'VHCTY_CD', 
    'VHCTY_TY'
]]

# STD_BD_ORDITM_DSCL_CURSTT

In [64]:
# about 
name = 'STD_BD_ORDITM_DSCL_CURSTT'
file_name = f'{name}.csv'
df = pd.read_csv(os.path.join(df3_fold, file_name), low_memory=False, nrows=10)

In [65]:
df.head()

                 VIN  DSCL_YR  DSCL_NOCS  RGN CTPV
0  KNGDPM5313K123343     2019          2  수도권   서울
1  KNGDPM5N14K163032     2019          4  수도권   서울
2  KNHMB76136S072660     2019          4  수도권   인천
3  KNHMB76137S128033     2019          3  수도권   서울
4  KNHUP7513YS048282     2019          6  수도권   서울

In [51]:
df.columns

Index(['VIN', 'DSCL_YR', 'DSCL_NOCS', 'RGN', 'CTPV'], dtype='object')

In [ ]:
STD_BD_ORDITM_DSCL_CURSTT = df[[
    'VIN', 
    'DSCL_YR', 
    'DSCL_NOCS', 
    'RGN', 
    'CTPV'
]]

# STD_BD_SEASON_DSCL_RGN_CURSTT

In [66]:
# about 
name = 'STD_BD_SEASON_DSCL_RGN_CURSTT'
file_name = f'{name}.csv'
df = pd.read_csv(os.path.join(df3_fold, file_name), low_memory=False, nrows=10)

In [67]:
df.tail()

,DSCL_RGN,DSCL_CTPV,VIN,SEASON_1ODR_CRDN_NOCS,SEASON_2ODR_CRDN_NOCS,SEASON_3ODR_CRDN_NOCS,SEASON_4ODR_CRDN_NOCS,VHCTY_CD,VHCTY_TY
5,수도권,경기,KMFZCS7JP8U374430,4.0,NaN,NaN,NaN,화물,소형
6,수도권,경기,KL3C6CHF17K001021,2.0,NaN,NaN,NaN,화물,대형
7,수도권,경기,KMHSJ81WP7U109517,1.0,9.0,NaN,NaN,승용,대형
8,수도권,인천,KNAJE55135K014635,2.0,NaN,26.0,8.0,승용,중형
9,수도권외,대전,KMFLA18EP7C022138,NaN,2.0,NaN,NaN,화물,중형

In [54]:
df.columns

Index(['DSCL_RGN', 'DSCL_CTPV', 'VIN', 'SEASON_1ODR_CRDN_NOCS',
       'SEASON_2ODR_CRDN_NOCS', 'SEASON_3ODR_CRDN_NOCS',
       'SEASON_4ODR_CRDN_NOCS', 'VHCTY_CD', 'VHCTY_TY'],
      dtype='object')

In [ ]:
STD_BD_SEASON_DSCL_RGN_CURSTT = df[[
    'DSCL_RGN', 
    'DSCL_CTPV', 
    'VIN', 
    'SEASON_1ODR_CRDN_NOCS',
    'SEASON_2ODR_CRDN_NOCS', 
    'SEASON_3ODR_CRDN_NOCS',
    'SEASON_4ODR_CRDN_NOCS', 
    'VHCTY_CD', 
    'VHCTY_TY'
]]