# Library

In [1]:
import pandas as pd
import os

# folder

In [2]:
path = 'D:/data/big2/ODS'

# load

In [13]:
df = pd.read_excel(os.path.join(path, '저감장치_리스트.xlsx'))
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 134 entries, 0 to 133
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   장치인증번호  134 non-null    object
 1   장치구분    124 non-null    object
 2   저감효율    134 non-null    float64
dtypes: float64(1), object(2)
memory usage: 3.3+ KB

In [14]:
df = df.sort_values('저감효율', ascending=False).drop_duplicates(['장치인증번호', '장치구분']).reset_index(drop=True)
df.shape

(57, 3)

In [15]:
df.to_excel(os.path.join(path, '저감장치_리스트_수정.xlsx'), index=False)

In [8]:
# about 2m 12.1s
df = pd.read_table(os.path.join(path, '45등급 정기정밀.txt'), sep='\t', encoding='cp949', low_memory=False)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10071308 entries, 0 to 10071307
Data columns (total 57 columns):
 #   Column           Dtype
---  ------           -----
 0   배출가스등급           object
 1   검사소명             object
 2   검사일자             int64
 3   검사종류             object
 4   검사접수번호           object
 5   차량번호             object
 6   차대번호             object
 7   CAR_TYPE         object
 8   차명               object
 9   차종               object
 10  차량용도             object
 11  차량연식             int64
 12  사용연료             object
 13  주행거리             float64
 14  CAR_LENGTH       float64
 15  CAR_WIDTH        float64
 16  CAR_HEIGHT       float64
 17  엔진형식             object
 18  ENGINE_CAPACITY  float64
 19  ENGINE_POWER     object
 20  CAR_WEIGHT       float64
 21  TOT_WEIGHT       float64
 22  CAR_PASSENGER    float64
 23  CONT             object
 24  FIRST_REG_DATE   int64
 25  MAKE_DATE        float64
 26  검사전유효기간만료일       float64
 27  FUN_JUDGE_YN     object
 28  FUN_FAIL_ITEM    object
 29  검사방법             object
 30  무부하매연측정치1        float64
 31  무부하매연허용치1        float64
 32  무부하매연판정1         object
 33  무부하매연측정치2        float64
 34  무부하매연허용치2        float64
 35  무부하매연판정2         object
 36  무부하매연측정치3        float64
 37  무부하매연허용치3        float64
 38  무부하매연판정3         object
 39  무부하매연측정치4        float64
 40  무부하매연허용치4        float64
 41  무부하매연판정4         object
 42  무부하매연측정치5        float64
 43  무부하매연허용치5        float64
 44  무부하매연판정5         object
 45  무부하매연측정치6        float64
 46  무부하매연허용치6        float64
 47  무부하매연판정6         object
 48  이산화탄소값           float64
 49  최대출력허용치          float64
 50  최대출력측정값          float64
 51  산소값              float64
 52  AIR_TEMPER       float64
 53  AIR_PRESS        float64
 54  검사판정             object
 55  재검사기간            object
 56  검사유효기간           object
dtypes: float64(28), int64(3), object(26)
memory usage: 4.3+ GB

In [9]:
df.head()

,배출가스등급,검사소명,검사일자,검사종류,검사접수번호,차량번호,차대번호,CAR_TYPE,차명,차종,...,무부하매연판정6,이산화탄소값,최대출력허용치,최대출력측정값,산소값,AIR_TEMPER,AIR_PRESS,검사판정,재검사기간,검사유효기간
0,5,제일종합정비,20190102,정기검사,L0382019010200061,89보6265,KN3HDP3352K887598,10080700870000,봉고프런티어,화물차일반형소형,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Y,20190102~20190115,20181206~20191205
1,5,도원자동차공업사,20190102,정기검사,P0662019010200131,79우3060,KNHMB76127S134164,A0110003600202206,그랜드 카니발,승합차일반형중형,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Y,20190102~20190220,20190111~20190710
2,4,첨단공업㈜,20190102,정기검사,J0472019010200041,52보8949,KMHJN81VP7U619856,A0810006301221206,투싼(TUCSON),승용차다목적형중형,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Y,20190102~20190302,20190121~20210120
3,4,(주)태안현대자동차정비,20190102,정기검사,H2472019010200281,81러2797,KMFZCZ7JABU712606,A0810006209243110,포터Ⅱ(PORTERⅡ),화물차일반형소형,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Y,20190102~20190214,20190105~20200104
4,5,태양종합정비(주),20190102,정기검사,G0252019010200191,84버3580,KMFXKS7BP2U640920,10057001730000,포터초장축슈퍼캡,화물차일반형소형,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Y,20190102~20190128,20181219~20191218

In [10]:
df[['차대번호', '검사일자']].head()

                차대번호      검사일자
0  KN3HDP3352K887598  20190102
1  KNHMB76127S134164  20190102
2  KMHJN81VP7U619856  20190102
3  KMFZCZ7JABU712606  20190102
4  KMFXKS7BP2U640920  20190102

In [11]:
df[['차대번호', '검사일자']].tail()

                       차대번호      검사일자
10071303  KMFGA17AP2C165668  20221206
10071304  KMFZCS7JP6U151858  20221206
10071305  KMFGA17HP9C123896  20221206
10071306  KMFZCY7JAAU592722  20221206
10071307  KMJWA37JBAU181387  20221206

In [12]:
# about 
df = df.sort_values(['차대번호', '검사일자'], ascending=False).reset_index(drop=True)

In [13]:
df[['차대번호', '검사일자']].head()

          차대번호      검사일자
0  sl67c027628  20220908
1  sl67c027628  20220308
2  sl67c027628  20210917
3  sl67c027628  20210315
4  sl67c027628  20200921

In [14]:
df[['차대번호', '검사일자']].tail()

                       차대번호      검사일자
10071303  00000000CN67C4065  20210604
10071304  00000000CN67C4065  20201221
10071305  00000000CN67C4065  20200709
10071306  00000000CN67C4065  20191206
10071307  00000000CN67C4065  20190621

In [15]:
df1 = df.drop_duplicates(['차대번호', '검사일자']).reset_index(drop=True)
df1.shape

(8806991, 57)

In [18]:
df1[['차대번호', '검사일자']].head()

          차대번호      검사일자
0  sl67c027628  20220908
1  sl67c027628  20220308
2  sl67c027628  20210917
3  sl67c027628  20210315
4  sl67c027628  20200921

In [19]:
df1[['차대번호', '검사일자']].tail()

                      차대번호      검사일자
8806986  00000000CN67C4065  20210604
8806987  00000000CN67C4065  20201221
8806988  00000000CN67C4065  20200709
8806989  00000000CN67C4065  20191206
8806990  00000000CN67C4065  20190621

In [20]:
# about 3m 45.2s
df1.to_csv(os.path.join(path, '4_5등급_검사일자중복제거.csv'), index=False)

In [7]:
df = pd.read_csv(os.path.join(path, 'ODS_N_IS_ISSUE.csv'))

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1785 entries, 0 to 1784
Data columns (total 16 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   GNFD_NO             1785 non-null   int64
 1   RPST_GNFD_NO        1785 non-null   int64
 2   DNSTY_STDR_ID       1785 non-null   object
 3   TY_STDR_ID          1785 non-null   object
 4   GNFD_NM             1785 non-null   object
 5   GNFD_EXEC_CND_FLAG  1785 non-null   object
 6   GNFD_EXEC_RESRV_DT  1784 non-null   object
 7   BEFT_ESTBS_ID       0 non-null      float64
 8   DC                  1785 non-null   object
 9   GNFD_EXC_FLAG       1785 non-null   object
 10  HMPG_INDIC_YN       1785 non-null   object
 11  LCINFO_API_YN       1785 non-null   object
 12  REG_ID              1785 non-null   object
 13  REG_DT              1785 non-null   object
 14  UPDT_ID             1652 non-null   object
 15  UPDT_DT             1652 non-null   object
dtypes: float64(1), int64(2), object(13)
memory usage: 223.2+ KB

In [13]:
col = pd.read_excel(os.path.join('C:/Users/kbjung/Documents/GitHub/wabotech/car_big_data_2/analysis/ODSvsSTD', '[정제]N_IS_ISSUE.xlsx'))
col.head()

              컬럼            내용
0     TY_STDR_ID         유형 구분
1        UPDT_DT         수정 일시
2  DNSTY_STDR_ID     농도기준 발령구분
3        GNFD_NO         발령 번호
4   RPST_GNFD_NO  RPST_GNFD_NO

In [14]:
col_dict = {a:b for a, b in col.values}
col_dict

{'TY_STDR_ID': '유형 구분',
 'UPDT_DT': '수정 일시',
 'DNSTY_STDR_ID': '농도기준 발령구분',
 'GNFD_NO': '발령 번호',
 'RPST_GNFD_NO': 'RPST_GNFD_NO',
 'GNFD_NM': 'GNFD_NM',
 'GNFD_EXEC_CND_FLAG': 'GNFD_EXEC_CND_FLAG',
 'GNFD_EXEC_RESRV_DT': 'GNFD_EXEC_RESRV_DT',
 'BEFT_ESTBS_ID': 'BEFT_ESTBS_ID',
 'DC': 'DC',
 'GNFD_EXC_FLAG': 'GNFD_EXC_FLAG',
 'HMPG_INDIC_YN': 'HMPG_INDIC_YN',
 'LCINFO_API_YN': 'LCINFO_API_YN',
 'REG_ID': 'REG_ID',
 'REG_DT': 'REG_DT',
 'UPDT_ID': 'UPDT_ID'}

In [15]:
df.columns = [col_dict[x] for x in df.columns]

In [16]:
df.head()

,발령 번호,RPST_GNFD_NO,농도기준 발령구분,유형 구분,GNFD_NM,GNFD_EXEC_CND_FLAG,GNFD_EXEC_RESRV_DT,BEFT_ESTBS_ID,DC,GNFD_EXC_FLAG,HMPG_INDIC_YN,LCINFO_API_YN,REG_ID,REG_DT,UPDT_ID,수정 일시
0,2142,2138,C012,T002,[ST] 5대 계절제 모의발령(22.09.14~18),R,22/09/16,NaN,"서울,인천,경기,부산,대구 계절제 모의 발령(22.09.14~22.09.18)",I,N,N,SYSTEM,22/09/13,SYSTEM,22/09/16
1,2143,2138,C012,T002,[ST] 5대 계절제 모의발령(22.09.14~18),R,22/09/17,NaN,"서울,인천,경기,부산,대구 계절제 모의 발령(22.09.14~22.09.18)",I,N,N,SYSTEM,22/09/13,SYSTEM,22/09/17
2,2227,2227,C012,T001,[HT] 모의 비상시 발령(22.10.04~07),S,22/10/04,NaN,"강원, 충북, 충남, 전북, 전남, 경북, 경남, 제주 모의 비상시 발령(22.10...",I,N,N,leztest1,22/10/04,SYSTEM,22/10/06
3,2245,2245,C012,T001,[HT] 모의 비상시 발령(22.10.13),I,22/10/12,NaN,"강원, 충북, 충남, 전북, 전남, 경북, 경남, 제주 모의 비상시 발령(22.10...",I,N,N,leztest1,22/10/12,SYSTEM,22/10/12
4,2247,2247,C012,T002,[ST] 5대 모의발령(22.10.15~10.16),S,22/10/14,NaN,"서울,인천,경기,부산,대구 계절제 모의 발령(22.10.15~22.10.16)",I,N,N,leztest1,22/10/14,SYSTEM,22/10/15

In [17]:
df.columns

Index(['발령 번호', 'RPST_GNFD_NO', '농도기준 발령구분', '유형 구분', 'GNFD_NM',
       'GNFD_EXEC_CND_FLAG', 'GNFD_EXEC_RESRV_DT', 'BEFT_ESTBS_ID', 'DC',
       'GNFD_EXC_FLAG', 'HMPG_INDIC_YN', 'LCINFO_API_YN', 'REG_ID', 'REG_DT',
       'UPDT_ID', '수정 일시'],
      dtype='object')

In [20]:
len(df['DC'].unique())

573

In [18]:
df.drop_duplicates('DC').reset_index(drop=True)

,발령 번호,RPST_GNFD_NO,농도기준 발령구분,유형 구분,GNFD_NM,GNFD_EXEC_CND_FLAG,GNFD_EXEC_RESRV_DT,BEFT_ESTBS_ID,DC,GNFD_EXC_FLAG,HMPG_INDIC_YN,LCINFO_API_YN,REG_ID,REG_DT,UPDT_ID,수정 일시
0,2142,2138,C012,T002,[ST] 5대 계절제 모의발령(22.09.14~18),R,22/09/16,NaN,"서울,인천,경기,부산,대구 계절제 모의 발령(22.09.14~22.09.18)",I,N,N,SYSTEM,22/09/13,SYSTEM,22/09/16
1,2227,2227,C012,T001,[HT] 모의 비상시 발령(22.10.04~07),S,22/10/04,NaN,"강원, 충북, 충남, 전북, 전남, 경북, 경남, 제주 모의 비상시 발령(22.10...",I,N,N,leztest1,22/10/04,SYSTEM,22/10/06
2,2245,2245,C012,T001,[HT] 모의 비상시 발령(22.10.13),I,22/10/12,NaN,"강원, 충북, 충남, 전북, 전남, 경북, 경남, 제주 모의 비상시 발령(22.10...",I,N,N,leztest1,22/10/12,SYSTEM,22/10/12
3,2247,2247,C012,T002,[ST] 5대 모의발령(22.10.15~10.16),S,22/10/14,NaN,"서울,인천,경기,부산,대구 계절제 모의 발령(22.10.15~22.10.16)",I,N,N,leztest1,22/10/14,SYSTEM,22/10/15
4,2283,2283,C012,T001,[HT] 모의 비상시 발령(22.10.22),R,22/10/21,NaN,"강원, 충북, 충남, 전북, 전남, 경북, 경남, 제주 모의 비상시 발령(22.10...",I,N,N,leztest1,22/10/20,SYSTEM,22/10/21
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
568,2367,2367,C012,T001,[HT] 모의 비상시 발령(22.11.11),R,22/11/10,NaN,"강원, 충북, 충남, 전북, 전남, 경북, 경남, 제주 모의 비상시 발령(22.11...",I,N,N,leztest1,22/11/10,SYSTEM,22/11/10
569,2363,2363,C012,T001,[HT] 모의 비상시 발령(22.11.08),R,22/11/07,NaN,"강원, 충북, 충남, 전북, 전남, 경북, 경남, 제주 모의 비상시 발령(22.11...",I,N,N,leztest1,22/11/07,SYSTEM,22/11/07
570,2364,2364,C012,T001,[HT] 전국 모의 비상시 발령(22.11.09),R,22/11/08,NaN,전국 모의 비상시 발령(22.11.09),I,N,N,leztest1,22/11/08,SYSTEM,22/11/08
571,2366,2366,C012,T001,[HT] 모의 비상시 발령(22.11.10),R,22/11/09,NaN,"강원, 충북, 충남, 전북, 전남, 경북, 경남, 제주 모의 비상시 발령(22.11...",I,N,N,leztest1,22/11/09,SYSTEM,22/11/09
572,2137,2137,C012,T002,[ST] 4대 계절제 모의발령(22.09.13),R,22/09/12,NaN,"광주, 대전, 울산, 세종 계절제 모의 발령(22.09.13)",I,N,N,leztest1,22/09/12,SYSTEM,22/09/12

In [16]:
df1 = pd.read_excel(os.path.join('D:/data/big2/BD3/an', '통계_저감장치_배번_장치일련번호(수정).xlsx'))
df1.head()

  저감장치   배출가스인증번호        장치일련번호
0  DPF  1MY-HD-52       1006497
1  DPF  1MY-HD-52    ALS1500456
2  DPF  1MY-HD-52       C254982
3  DPF  1MY-HD-52  DLL060113B13
4  DPF  1MY-HD-52   H180403-050

In [17]:
df2 = pd.read_excel(os.path.join(path, '저감장치_리스트.xlsx'))
df2.head()

      장치인증번호  장치구분  저감효율
0  BF1-HK-01  복합소형  98.8
1  CF1-FT-01  복합소형  98.8
2  FF1-CM-01  복합소형  98.6
3    CDSV-1C   NaN  98.6
4  FF1-HT-01  복합소형  98.4

In [18]:
df1.shape

(111029, 3)

In [19]:
df = df1.merge(df2, left_on='장치일련번호', right_on='장치인증번호', how='left')
df.shape

(111029, 6)

In [20]:
df.head()

  저감장치   배출가스인증번호        장치일련번호 장치인증번호 장치구분  저감효율
0  DPF  1MY-HD-52       1006497    NaN  NaN   NaN
1  DPF  1MY-HD-52    ALS1500456    NaN  NaN   NaN
2  DPF  1MY-HD-52       C254982    NaN  NaN   NaN
3  DPF  1MY-HD-52  DLL060113B13    NaN  NaN   NaN
4  DPF  1MY-HD-52   H180403-050    NaN  NaN   NaN

In [21]:
df[['장치구분', '저감효율']].isnull().sum()

장치구분    111028
저감효율    111028
dtype: int64

In [22]:
df.loc[df['장치구분'].isnull() == False]

      저감장치       배출가스인증번호     장치일련번호     장치인증번호 장치구분  저감효율
80944  DPF  KMY-D-HD-M-03  5F1-SK-02  5F1-SK-02   중형  90.1