# Library

In [1]:
import pandas as pd
import os

# folder

In [4]:
path = 'D:/data/big2/ODS'
ods_fold = 'D:/data/big2/ODS'

# load

In [13]:
df = pd.read_excel(os.path.join(path, '저감장치_리스트.xlsx'))
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 134 entries, 0 to 133
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   장치인증번호  134 non-null    object
 1   장치구분    124 non-null    object
 2   저감효율    134 non-null    float64
dtypes: float64(1), object(2)
memory usage: 3.3+ KB

In [14]:
df = df.sort_values('저감효율', ascending=False).drop_duplicates(['장치인증번호', '장치구분']).reset_index(drop=True)
df.shape

(57, 3)

In [15]:
df.to_excel(os.path.join(path, '저감장치_리스트_수정.xlsx'), index=False)

In [8]:
# about 2m 12.1s
df = pd.read_table(os.path.join(path, '45등급 정기정밀.txt'), sep='\t', encoding='cp949', low_memory=False)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10071308 entries, 0 to 10071307
Data columns (total 57 columns):
 #   Column           Dtype
---  ------           -----
 0   배출가스등급           object
 1   검사소명             object
 2   검사일자             int64
 3   검사종류             object
 4   검사접수번호           object
 5   차량번호             object
 6   차대번호             object
 7   CAR_TYPE         object
 8   차명               object
 9   차종               object
 10  차량용도             object
 11  차량연식             int64
 12  사용연료             object
 13  주행거리             float64
 14  CAR_LENGTH       float64
 15  CAR_WIDTH        float64
 16  CAR_HEIGHT       float64
 17  엔진형식             object
 18  ENGINE_CAPACITY  float64
 19  ENGINE_POWER     object
 20  CAR_WEIGHT       float64
 21  TOT_WEIGHT       float64
 22  CAR_PASSENGER    float64
 23  CONT             object
 24  FIRST_REG_DATE   int64
 25  MAKE_DATE        float64
 26  검사전유효기간만료일       float64
 27  FUN_JUDGE_YN     object
 28  FUN_FAIL_ITEM    object
 29  검사방법             object
 30  무부하매연측정치1        float64
 31  무부하매연허용치1        float64
 32  무부하매연판정1         object
 33  무부하매연측정치2        float64
 34  무부하매연허용치2        float64
 35  무부하매연판정2         object
 36  무부하매연측정치3        float64
 37  무부하매연허용치3        float64
 38  무부하매연판정3         object
 39  무부하매연측정치4        float64
 40  무부하매연허용치4        float64
 41  무부하매연판정4         object
 42  무부하매연측정치5        float64
 43  무부하매연허용치5        float64
 44  무부하매연판정5         object
 45  무부하매연측정치6        float64
 46  무부하매연허용치6        float64
 47  무부하매연판정6         object
 48  이산화탄소값           float64
 49  최대출력허용치          float64
 50  최대출력측정값          float64
 51  산소값              float64
 52  AIR_TEMPER       float64
 53  AIR_PRESS        float64
 54  검사판정             object
 55  재검사기간            object
 56  검사유효기간           object
dtypes: float64(28), int64(3), object(26)
memory usage: 4.3+ GB

In [9]:
df.head()

,배출가스등급,검사소명,검사일자,검사종류,검사접수번호,차량번호,차대번호,CAR_TYPE,차명,차종,...,무부하매연판정6,이산화탄소값,최대출력허용치,최대출력측정값,산소값,AIR_TEMPER,AIR_PRESS,검사판정,재검사기간,검사유효기간
0,5,제일종합정비,20190102,정기검사,L0382019010200061,89보6265,KN3HDP3352K887598,10080700870000,봉고프런티어,화물차일반형소형,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Y,20190102~20190115,20181206~20191205
1,5,도원자동차공업사,20190102,정기검사,P0662019010200131,79우3060,KNHMB76127S134164,A0110003600202206,그랜드 카니발,승합차일반형중형,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Y,20190102~20190220,20190111~20190710
2,4,첨단공업㈜,20190102,정기검사,J0472019010200041,52보8949,KMHJN81VP7U619856,A0810006301221206,투싼(TUCSON),승용차다목적형중형,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Y,20190102~20190302,20190121~20210120
3,4,(주)태안현대자동차정비,20190102,정기검사,H2472019010200281,81러2797,KMFZCZ7JABU712606,A0810006209243110,포터Ⅱ(PORTERⅡ),화물차일반형소형,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Y,20190102~20190214,20190105~20200104
4,5,태양종합정비(주),20190102,정기검사,G0252019010200191,84버3580,KMFXKS7BP2U640920,10057001730000,포터초장축슈퍼캡,화물차일반형소형,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Y,20190102~20190128,20181219~20191218

In [10]:
df[['차대번호', '검사일자']].head()

                차대번호      검사일자
0  KN3HDP3352K887598  20190102
1  KNHMB76127S134164  20190102
2  KMHJN81VP7U619856  20190102
3  KMFZCZ7JABU712606  20190102
4  KMFXKS7BP2U640920  20190102

In [11]:
df[['차대번호', '검사일자']].tail()

                       차대번호      검사일자
10071303  KMFGA17AP2C165668  20221206
10071304  KMFZCS7JP6U151858  20221206
10071305  KMFGA17HP9C123896  20221206
10071306  KMFZCY7JAAU592722  20221206
10071307  KMJWA37JBAU181387  20221206

In [12]:
# about 
df = df.sort_values(['차대번호', '검사일자'], ascending=False).reset_index(drop=True)

In [13]:
df[['차대번호', '검사일자']].head()

          차대번호      검사일자
0  sl67c027628  20220908
1  sl67c027628  20220308
2  sl67c027628  20210917
3  sl67c027628  20210315
4  sl67c027628  20200921

In [14]:
df[['차대번호', '검사일자']].tail()

                       차대번호      검사일자
10071303  00000000CN67C4065  20210604
10071304  00000000CN67C4065  20201221
10071305  00000000CN67C4065  20200709
10071306  00000000CN67C4065  20191206
10071307  00000000CN67C4065  20190621

In [15]:
df1 = df.drop_duplicates(['차대번호', '검사일자']).reset_index(drop=True)
df1.shape

(8806991, 57)

In [18]:
df1[['차대번호', '검사일자']].head()

          차대번호      검사일자
0  sl67c027628  20220908
1  sl67c027628  20220308
2  sl67c027628  20210917
3  sl67c027628  20210315
4  sl67c027628  20200921

In [19]:
df1[['차대번호', '검사일자']].tail()

                      차대번호      검사일자
8806986  00000000CN67C4065  20210604
8806987  00000000CN67C4065  20201221
8806988  00000000CN67C4065  20200709
8806989  00000000CN67C4065  20191206
8806990  00000000CN67C4065  20190621

In [20]:
# about 3m 45.2s
df1.to_csv(os.path.join(path, '4_5등급_검사일자중복제거.csv'), index=False)

In [7]:
df = pd.read_csv(os.path.join(path, 'ODS_N_IS_ISSUE.csv'))

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1785 entries, 0 to 1784
Data columns (total 16 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   GNFD_NO             1785 non-null   int64
 1   RPST_GNFD_NO        1785 non-null   int64
 2   DNSTY_STDR_ID       1785 non-null   object
 3   TY_STDR_ID          1785 non-null   object
 4   GNFD_NM             1785 non-null   object
 5   GNFD_EXEC_CND_FLAG  1785 non-null   object
 6   GNFD_EXEC_RESRV_DT  1784 non-null   object
 7   BEFT_ESTBS_ID       0 non-null      float64
 8   DC                  1785 non-null   object
 9   GNFD_EXC_FLAG       1785 non-null   object
 10  HMPG_INDIC_YN       1785 non-null   object
 11  LCINFO_API_YN       1785 non-null   object
 12  REG_ID              1785 non-null   object
 13  REG_DT              1785 non-null   object
 14  UPDT_ID             1652 non-null   object
 15  UPDT_DT             1652 non-null   object
dtypes: float64(1), int64(2), object(13)
memory usage: 223.2+ KB

In [13]:
col = pd.read_excel(os.path.join('C:/Users/kbjung/Documents/GitHub/wabotech/car_big_data_2/analysis/ODSvsSTD', '[정제]N_IS_ISSUE.xlsx'))
col.head()

              컬럼            내용
0     TY_STDR_ID         유형 구분
1        UPDT_DT         수정 일시
2  DNSTY_STDR_ID     농도기준 발령구분
3        GNFD_NO         발령 번호
4   RPST_GNFD_NO  RPST_GNFD_NO

In [14]:
col_dict = {a:b for a, b in col.values}
col_dict

{'TY_STDR_ID': '유형 구분',
 'UPDT_DT': '수정 일시',
 'DNSTY_STDR_ID': '농도기준 발령구분',
 'GNFD_NO': '발령 번호',
 'RPST_GNFD_NO': 'RPST_GNFD_NO',
 'GNFD_NM': 'GNFD_NM',
 'GNFD_EXEC_CND_FLAG': 'GNFD_EXEC_CND_FLAG',
 'GNFD_EXEC_RESRV_DT': 'GNFD_EXEC_RESRV_DT',
 'BEFT_ESTBS_ID': 'BEFT_ESTBS_ID',
 'DC': 'DC',
 'GNFD_EXC_FLAG': 'GNFD_EXC_FLAG',
 'HMPG_INDIC_YN': 'HMPG_INDIC_YN',
 'LCINFO_API_YN': 'LCINFO_API_YN',
 'REG_ID': 'REG_ID',
 'REG_DT': 'REG_DT',
 'UPDT_ID': 'UPDT_ID'}

In [15]:
df.columns = [col_dict[x] for x in df.columns]

In [16]:
df.head()

,발령 번호,RPST_GNFD_NO,농도기준 발령구분,유형 구분,GNFD_NM,GNFD_EXEC_CND_FLAG,GNFD_EXEC_RESRV_DT,BEFT_ESTBS_ID,DC,GNFD_EXC_FLAG,HMPG_INDIC_YN,LCINFO_API_YN,REG_ID,REG_DT,UPDT_ID,수정 일시
0,2142,2138,C012,T002,[ST] 5대 계절제 모의발령(22.09.14~18),R,22/09/16,NaN,"서울,인천,경기,부산,대구 계절제 모의 발령(22.09.14~22.09.18)",I,N,N,SYSTEM,22/09/13,SYSTEM,22/09/16
1,2143,2138,C012,T002,[ST] 5대 계절제 모의발령(22.09.14~18),R,22/09/17,NaN,"서울,인천,경기,부산,대구 계절제 모의 발령(22.09.14~22.09.18)",I,N,N,SYSTEM,22/09/13,SYSTEM,22/09/17
2,2227,2227,C012,T001,[HT] 모의 비상시 발령(22.10.04~07),S,22/10/04,NaN,"강원, 충북, 충남, 전북, 전남, 경북, 경남, 제주 모의 비상시 발령(22.10...",I,N,N,leztest1,22/10/04,SYSTEM,22/10/06
3,2245,2245,C012,T001,[HT] 모의 비상시 발령(22.10.13),I,22/10/12,NaN,"강원, 충북, 충남, 전북, 전남, 경북, 경남, 제주 모의 비상시 발령(22.10...",I,N,N,leztest1,22/10/12,SYSTEM,22/10/12
4,2247,2247,C012,T002,[ST] 5대 모의발령(22.10.15~10.16),S,22/10/14,NaN,"서울,인천,경기,부산,대구 계절제 모의 발령(22.10.15~22.10.16)",I,N,N,leztest1,22/10/14,SYSTEM,22/10/15

In [17]:
df.columns

Index(['발령 번호', 'RPST_GNFD_NO', '농도기준 발령구분', '유형 구분', 'GNFD_NM',
       'GNFD_EXEC_CND_FLAG', 'GNFD_EXEC_RESRV_DT', 'BEFT_ESTBS_ID', 'DC',
       'GNFD_EXC_FLAG', 'HMPG_INDIC_YN', 'LCINFO_API_YN', 'REG_ID', 'REG_DT',
       'UPDT_ID', '수정 일시'],
      dtype='object')

In [20]:
len(df['DC'].unique())

573

In [18]:
df.drop_duplicates('DC').reset_index(drop=True)

,발령 번호,RPST_GNFD_NO,농도기준 발령구분,유형 구분,GNFD_NM,GNFD_EXEC_CND_FLAG,GNFD_EXEC_RESRV_DT,BEFT_ESTBS_ID,DC,GNFD_EXC_FLAG,HMPG_INDIC_YN,LCINFO_API_YN,REG_ID,REG_DT,UPDT_ID,수정 일시
0,2142,2138,C012,T002,[ST] 5대 계절제 모의발령(22.09.14~18),R,22/09/16,NaN,"서울,인천,경기,부산,대구 계절제 모의 발령(22.09.14~22.09.18)",I,N,N,SYSTEM,22/09/13,SYSTEM,22/09/16
1,2227,2227,C012,T001,[HT] 모의 비상시 발령(22.10.04~07),S,22/10/04,NaN,"강원, 충북, 충남, 전북, 전남, 경북, 경남, 제주 모의 비상시 발령(22.10...",I,N,N,leztest1,22/10/04,SYSTEM,22/10/06
2,2245,2245,C012,T001,[HT] 모의 비상시 발령(22.10.13),I,22/10/12,NaN,"강원, 충북, 충남, 전북, 전남, 경북, 경남, 제주 모의 비상시 발령(22.10...",I,N,N,leztest1,22/10/12,SYSTEM,22/10/12
3,2247,2247,C012,T002,[ST] 5대 모의발령(22.10.15~10.16),S,22/10/14,NaN,"서울,인천,경기,부산,대구 계절제 모의 발령(22.10.15~22.10.16)",I,N,N,leztest1,22/10/14,SYSTEM,22/10/15
4,2283,2283,C012,T001,[HT] 모의 비상시 발령(22.10.22),R,22/10/21,NaN,"강원, 충북, 충남, 전북, 전남, 경북, 경남, 제주 모의 비상시 발령(22.10...",I,N,N,leztest1,22/10/20,SYSTEM,22/10/21
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
568,2367,2367,C012,T001,[HT] 모의 비상시 발령(22.11.11),R,22/11/10,NaN,"강원, 충북, 충남, 전북, 전남, 경북, 경남, 제주 모의 비상시 발령(22.11...",I,N,N,leztest1,22/11/10,SYSTEM,22/11/10
569,2363,2363,C012,T001,[HT] 모의 비상시 발령(22.11.08),R,22/11/07,NaN,"강원, 충북, 충남, 전북, 전남, 경북, 경남, 제주 모의 비상시 발령(22.11...",I,N,N,leztest1,22/11/07,SYSTEM,22/11/07
570,2364,2364,C012,T001,[HT] 전국 모의 비상시 발령(22.11.09),R,22/11/08,NaN,전국 모의 비상시 발령(22.11.09),I,N,N,leztest1,22/11/08,SYSTEM,22/11/08
571,2366,2366,C012,T001,[HT] 모의 비상시 발령(22.11.10),R,22/11/09,NaN,"강원, 충북, 충남, 전북, 전남, 경북, 경남, 제주 모의 비상시 발령(22.11...",I,N,N,leztest1,22/11/09,SYSTEM,22/11/09
572,2137,2137,C012,T002,[ST] 4대 계절제 모의발령(22.09.13),R,22/09/12,NaN,"광주, 대전, 울산, 세종 계절제 모의 발령(22.09.13)",I,N,N,leztest1,22/09/12,SYSTEM,22/09/12

In [3]:
df1 = pd.read_excel(os.path.join('D:/data/big2/BD3/an', '통계_저감장치_배번_장치일련번호(수정).xlsx'))
df1.head()

  저감장치   배출가스인증번호        장치일련번호
0  DPF  1MY-HD-52       1006497
1  DPF  1MY-HD-52    ALS1500456
2  DPF  1MY-HD-52       C254982
3  DPF  1MY-HD-52  DLL060113B13
4  DPF  1MY-HD-52   H180403-050

In [22]:
df2 = pd.read_csv(os.path.join(path, 'ODS_DLM_TB_ERP_RED_TYPE.csv'))
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1961 entries, 0 to 1960
Data columns (total 32 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   SEQ_NO                     1961 non-null   int64
 1   MKR_CD                     1961 non-null   object
 2   CRTC_MODL_NO               1961 non-null   object
 3   RDCDVC_SE                  1961 non-null   object
 4   RDCDVC_KND                 1291 non-null   object
 5   REDUC_VHCTY_SE             1589 non-null   object
 6   SBSIDY_AMT                 1961 non-null   object
 7   SBSIDY_SLFBDN_AMT          1020 non-null   float64
 8   SBSIDY_BIZ_YR              1953 non-null   float64
 9   TDMS_SBSIDY_AMT            869 non-null    float64
 10  LWBCT_SBSIDY_AMT           1134 non-null   float64
 11  LWBCT_TDMS_SBSIDY_AMT      869 non-null    float64
 12  CRTC_MODL_KND              1309 non-null   object
 13  PFMCRTC_RSLT_INPT_DE       669 non-null    float64
 14  PFMCRTC_RSLT_RETR_NM       669 non-null    object
 15  PFMCRTC_VENTL_TMPR_VAL     752 non-null    float64
 16  PFMCRTC_VENTL_TMPR_1_STDR  752 non-null    float64
 17  PFMCRTC_VENTL_TMPR_2_STDR  752 non-null    float64
 18  PFMCRTC_VENTL_PSSR_VAL     439 non-null    float64
 19  PFMCRTC_VENTL_PSSR_1_STDR  439 non-null    float64
 20  PFMCRTC_VENTL_PSSR_2_STDR  439 non-null    float64
 21  RDCDVC_EGIN_NM             1816 non-null   object
 22  PM_REDUC_EFCNY             1199 non-null   float64
 23  REG_DE                     897 non-null    float64
 24  REGR_NM                    897 non-null    object
 25  LST_CHNG_DT                333 non-null    object
 26  LST_EDIR_NM                527 non-null    object
 27  PM_LST_REDUC_EFCNY         1199 non-null   float64
 28  JEWEL_VAL                  0 non-null      float64
 29  SCRAP_VAL                  0 non-null      float64
 30  EX_VAL                     0 non-null      float64
 31  LST_CHNG_DE                238 non-null    object
dtypes: float64(18), int64(1), object(13)
memory usage: 490.4+ KB

In [23]:
col = pd.read_excel(os.path.join('C:/Users/kbjung/Documents/GitHub/wabotech/car_big_data_2/analysis/ODSvsSTD', '[정제]DLM_TB_ERP_RED_TYPE.xlsx'))
col.head()

                       컬럼         내용
0          REDUC_VHCTY_SE     저감차종구분
1                  SEQ_NO       일련번호
2          RDCDVC_EGIN_NM    저감장치엔진명
3      PM_LST_REDUC_EFCNY   PM최종저감효율
4  PFMCRTC_VENTL_TMPR_VAL  성능인증배기온도값

In [24]:
col_dict = {a:b for a, b in col.values}
col_dict

{'REDUC_VHCTY_SE': '저감차종구분',
 'SEQ_NO': '일련번호',
 'RDCDVC_EGIN_NM': '저감장치엔진명',
 'PM_LST_REDUC_EFCNY': 'PM최종저감효율',
 'PFMCRTC_VENTL_TMPR_VAL': '성능인증배기온도값',
 'CRTC_MODL_KND': '인증모델종류',
 'PFMCRTC_VENTL_TMPR_1_STDR': '성능인증배기온도1기준',
 'PFMCRTC_VENTL_PSSR_VAL': '성능인증배기압력값',
 'PFMCRTC_VENTL_PSSR_2_STDR': '성능인증배기압력2기준',
 'CRTC_MODL_NO': '인증모델번호',
 'PFMCRTC_VENTL_PSSR_1_STDR': '성능인증배기압력1기준',
 'PFMCRTC_VENTL_TMPR_2_STDR': '성능인증배기온도2기준',
 'MKR_CD': 'MKR_CD',
 'RDCDVC_SE': 'RDCDVC_SE',
 'RDCDVC_KND': 'RDCDVC_KND',
 'SBSIDY_AMT': 'SBSIDY_AMT',
 'SBSIDY_SLFBDN_AMT': 'SBSIDY_SLFBDN_AMT',
 'SBSIDY_BIZ_YR': 'SBSIDY_BIZ_YR',
 'TDMS_SBSIDY_AMT': 'TDMS_SBSIDY_AMT',
 'LWBCT_SBSIDY_AMT': 'LWBCT_SBSIDY_AMT',
 'LWBCT_TDMS_SBSIDY_AMT': 'LWBCT_TDMS_SBSIDY_AMT',
 'PFMCRTC_RSLT_INPT_DE': 'PFMCRTC_RSLT_INPT_DE',
 'PFMCRTC_RSLT_RETR_NM': 'PFMCRTC_RSLT_RETR_NM',
 'PM_REDUC_EFCNY': 'PM_REDUC_EFCNY',
 'REG_DE': 'REG_DE',
 'REGR_NM': 'REGR_NM',
 'LST_CHNG_DT': 'LST_CHNG_DT',
 'LST_EDIR_NM': 'LST_EDIR_NM',
 'JEWEL_VAL': 'JEWEL_VAL',
 'SCRAP_VAL': 'SCRAP_VAL',
 'EX_VAL': 'EX_VAL',
 'LST_CHNG_DE': 'LST_CHNG_DE'}

In [25]:
df2.columns = [col_dict[x] for x in df2.columns]

In [26]:
df2.columns

Index(['일련번호', 'MKR_CD', '인증모델번호', 'RDCDVC_SE', 'RDCDVC_KND', '저감차종구분',
       'SBSIDY_AMT', 'SBSIDY_SLFBDN_AMT', 'SBSIDY_BIZ_YR', 'TDMS_SBSIDY_AMT',
       'LWBCT_SBSIDY_AMT', 'LWBCT_TDMS_SBSIDY_AMT', '인증모델종류',
       'PFMCRTC_RSLT_INPT_DE', 'PFMCRTC_RSLT_RETR_NM', '성능인증배기온도값',
       '성능인증배기온도1기준', '성능인증배기온도2기준', '성능인증배기압력값', '성능인증배기압력1기준', '성능인증배기압력2기준',
       '저감장치엔진명', 'PM_REDUC_EFCNY', 'REG_DE', 'REGR_NM', 'LST_CHNG_DT',
       'LST_EDIR_NM', 'PM최종저감효율', 'JEWEL_VAL', 'SCRAP_VAL', 'EX_VAL',
       'LST_CHNG_DE'],
      dtype='object')

In [27]:
df2.to_csv(os.path.join(path, '[ODS]저감장치)인증등록번호(2022.12.28).csv'), index=False, encoding='cp949')

In [28]:
df3 = df2[['일련번호', '인증모델번호']]
df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1961 entries, 0 to 1960
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   일련번호    1961 non-null   int64
 1   인증모델번호  1961 non-null   object
dtypes: int64(1), object(1)
memory usage: 30.8+ KB

In [29]:
df3.head()

   일련번호     인증모델번호
0  2055       D4BB
1  2075       D34B
2  2079       D4BB
3  2083       D4DD
4  2084  MF1-EM-01

In [30]:
df3['일련번호'].describe()

count    1961.000000
mean     1060.616522
std       598.185647
min         1.000000
25%       572.000000
50%      1080.000000
75%      1574.000000
max      2087.000000
Name: 일련번호, dtype: float64

In [31]:
df3['일련번호'] = df3['일련번호'].astype('str')

C:\Users\kbjung\AppData\Local\Temp\ipykernel_19248\614210939.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3['일련번호'] = df3['일련번호'].astype('str')

In [32]:
df1.columns

Index(['저감장치', '배출가스인증번호', '장치일련번호'], dtype='object')

In [33]:
df1.head()

  저감장치   배출가스인증번호        장치일련번호
0  DPF  1MY-HD-52       1006497
1  DPF  1MY-HD-52    ALS1500456
2  DPF  1MY-HD-52       C254982
3  DPF  1MY-HD-52  DLL060113B13
4  DPF  1MY-HD-52   H180403-050

In [34]:
df = df1.merge(df3, left_on='장치일련번호', right_on='일련번호', how='left')
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 111029 entries, 0 to 111028
Data columns (total 5 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   저감장치      111029 non-null  object
 1   배출가스인증번호  111029 non-null  object
 2   장치일련번호    111029 non-null  object
 3   일련번호      702 non-null     object
 4   인증모델번호    702 non-null     object
dtypes: object(5)
memory usage: 5.1+ MB

In [35]:
df[['일련번호', '인증모델번호']].isnull().sum()

일련번호      110327
인증모델번호    110327
dtype: int64

In [36]:
dpf_list_df = pd.read_excel(os.path.join(path, '저감장치_리스트.xlsx'))
dpf_list_df.head()

      장치인증번호  장치구분  저감효율
0  BF1-HK-01  복합소형  98.8
1  CF1-FT-01  복합소형  98.8
2  FF1-CM-01  복합소형  98.6
3    CDSV-1C   NaN  98.6
4  FF1-HT-01  복합소형  98.4

In [37]:
df1.shape

(111029, 3)

In [39]:
total = df.merge(dpf_list_df, left_on='인증모델번호', right_on='장치인증번호', how='left')
total.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 111071 entries, 0 to 111070
Data columns (total 8 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   저감장치      111071 non-null  object
 1   배출가스인증번호  111071 non-null  object
 2   장치일련번호    111071 non-null  object
 3   일련번호      744 non-null     object
 4   인증모델번호    744 non-null     object
 5   장치인증번호    303 non-null     object
 6   장치구분      261 non-null     object
 7   저감효율      303 non-null     float64
dtypes: float64(1), object(7)
memory usage: 7.6+ MB

In [40]:
total.head()

  저감장치   배출가스인증번호        장치일련번호 일련번호 인증모델번호 장치인증번호 장치구분  저감효율
0  DPF  1MY-HD-52       1006497  NaN    NaN    NaN  NaN   NaN
1  DPF  1MY-HD-52    ALS1500456  NaN    NaN    NaN  NaN   NaN
2  DPF  1MY-HD-52       C254982  NaN    NaN    NaN  NaN   NaN
3  DPF  1MY-HD-52  DLL060113B13  NaN    NaN    NaN  NaN   NaN
4  DPF  1MY-HD-52   H180403-050  NaN    NaN    NaN  NaN   NaN

In [41]:
total[['장치구분', '저감효율']].isnull().sum()

장치구분    110810
저감효율    110768
dtype: int64

In [43]:
total.loc[total['장치구분'].isnull() == False]

       저감장치   배출가스인증번호 장치일련번호  일련번호     인증모델번호     장치인증번호  장치구분  저감효율
742     DPF  2MY-HD-07   2024  2024  FF1-HK-01  FF1-HK-01  복합대형  95.2
6936    DPF  3MY-HD-06   1050  1050  BF1-IJ-01  BF1-IJ-01  복합소형  98.2
6937    DPF  3MY-HD-06   1069  1069  CF1-FT-01  CF1-FT-01  복합소형  98.8
6938    DPF  3MY-HD-06   1515  1515  7F1-CE-01  7F1-CE-01  복합중형  92.0
6939    DPF  3MY-HD-06   1526  1526  BF1-IJ-01  BF1-IJ-01  복합소형  98.2
...     ...        ...    ...   ...        ...        ...   ...   ...
105165  DPF  YMY-HD-51   1034  1034  FF1-CE-02  FF1-CE-02  복합대형  83.3
105167  DPF  YMY-HD-51   1066  1066  5F1-ES-01  5F1-ES-01    대형  87.7
105170  DPF  YMY-HD-51   1204  1204  6F1-MB-03  6F1-MB-03  복합중형  93.2
105186  DPF  YMY-HD-51    476   476  BF1-HK-01  BF1-HK-01  복합소형  98.8
105188  DPF  YMY-HD-51    547   547  9F1-SK-01  9F1-SK-01  복합대형  93.4

[261 rows x 8 columns]

In [46]:
total1 = total.drop(['일련번호', '인증모델번호'], axis=1).reset_index(drop=True)
total1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 111071 entries, 0 to 111070
Data columns (total 6 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   저감장치      111071 non-null  object
 1   배출가스인증번호  111071 non-null  object
 2   장치일련번호    111071 non-null  object
 3   장치인증번호    303 non-null     object
 4   장치구분      261 non-null     object
 5   저감효율      303 non-null     float64
dtypes: float64(1), object(5)
memory usage: 5.1+ MB

In [47]:
total1.to_csv(os.path.join(path, '저감장치_효율(2022.12.28).csv'), index=False, encoding='cp949')

## 등록정보

In [5]:
# about 8m 39.5s
name = '[ODS]등록정보&제원정보(2022.12.28)'
file_name = f'{name}.csv'
df = pd.read_csv(os.path.join(ods_fold, file_name), low_memory=False, encoding='cp949')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29534047 entries, 0 to 29534046
Data columns (total 49 columns):
 #   Column        Dtype
---  ------        -----
 0   차량관리번호        object
 1   차량등록번호        object
 2   본거지법정동코드      int64
 3   소유자구분         object
 4   차종_등록정보       object
 5   용도            object
 6   현재회원번호        object
 7   차대번호          object
 8   최초등록일자        int64
 9   차량연식          int64
 10  차량제작일자        float64
 11  배출가스검사유효일자    float64
 12  제원관리번호        object
 13  배출가스인증번호      object
 14  배출가스등급        object
 15  저공해조치YN(미사용)  object
 16  저공해조치종류       float64
 17  저공해조치구조변경YN   object
 18  차량등록번호숫자정보    int64
 19  차량말소YN        object
 20  최초회원번호        object
 21  취득일자          object
 22  취득금액          float64
 23  생성일시_등록정보     object
 24  수정일시_등록정보     object
 25  차명            object
 26  차종_제원정보       object
 27  차종분류          object
 28  차종유형(소분류)     object
 29  자동차형식         object
 30  제작사명          object
 31  연료            object
 32  엔진형식          object
 33  공차중량          float64
 34  총중량           float64
 35  적재중량          float64
 36  엔진출력          float64
 37  배기량           float64
 38  승차인원          float64
 39  차량길이          float64
 40  차량너비          float64
 41  차량높이          float64
 42  원산지명          object
 43  삭제YN          object
 44  승인일자          object
 45  구동형식          float64
 46  변속기종류         object
 47  생성일시_제원정보     object
 48  수정일시_제원정보     object
dtypes: float64(14), int64(4), object(31)
memory usage: 10.8+ GB

In [6]:
df.columns

Index(['차량관리번호', '차량등록번호', '본거지법정동코드', '소유자구분', '차종_등록정보', '용도', '현재회원번호',
       '차대번호', '최초등록일자', '차량연식', '차량제작일자', '배출가스검사유효일자', '제원관리번호', '배출가스인증번호',
       '배출가스등급', '저공해조치YN(미사용)', '저공해조치종류', '저공해조치구조변경YN', '차량등록번호숫자정보',
       '차량말소YN', '최초회원번호', '취득일자', '취득금액', '생성일시_등록정보', '수정일시_등록정보', '차명',
       '차종_제원정보', '차종분류', '차종유형(소분류)', '자동차형식', '제작사명', '연료', '엔진형식', '공차중량',
       '총중량', '적재중량', '엔진출력', '배기량', '승차인원', '차량길이', '차량너비', '차량높이', '원산지명',
       '삭제YN', '승인일자', '구동형식', '변속기종류', '생성일시_제원정보', '수정일시_제원정보'],
      dtype='object')

In [14]:
df.loc[df['차량등록번호'] == '998무2907', ['차대번호', '차량등록번호' , '배출가스인증번호', '배출가스등급', '차명', '자동차형식', '엔진형식', '연료', '차량연식', '용도', '차종_등록정보', '차종_제원정보']]

,차대번호,차량등록번호,배출가스인증번호,배출가스등급,차명,자동차형식,엔진형식,연료,차량연식,용도,차종_등록정보,차종_제원정보
20466723,KMHE241CBJA417701,998무2907,HMY-HD-14-09,2,쏘나타 (SONATA) 순찰차,LF4CBF-GP,G4ND,휘발유,2018,관용,승용,승용