In [2]:
import pandas as pd
import os

In [7]:
path = 'D:/data/big2/ODS'
raw_fold = 'D:/data/big2/result/raw'

In [5]:
df = pd.read_csv(os.path.join(path, '[ODS][G4]등록정보&제원정보(2022.12.28).csv'), encoding='cp949')

C:\Users\kbjung\AppData\Local\Temp\ipykernel_11940\3822293697.py:1: DtypeWarning: Columns (12,14,21,44,48) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(os.path.join(path, '[ODS][G4]등록정보&제원정보(2022.12.28).csv'), encoding='cp949')

In [12]:
df['제원관리번호'].dtype

dtype('O')

In [18]:
df.loc[df['배출가스인증번호'] == '3MY-FK-08', '제원관리번호'].value_counts()

20042500000003       353
20042500000003       212
20042500000001       181
20042500000000       159
20042500000000        75
20042500000004        33
20042500000001        21
20042500000004        15
20029400000000        12
20018700000001         5
30110500000077         2
30431200000033         1
00031123015731309      1
20018700000001         1
30431200000033         1
Name: 제원관리번호, dtype: int64

In [6]:
df.loc[df['배출가스인증번호'] == '9MY-AD-14-04', '제원관리번호'].value_counts()

02420011500011209    674
02420011500031210    236
02420011500001209    217
Name: 제원관리번호, dtype: int64

In [16]:
df.groupby(['배출가스인증번호', '제원관리번호'])['차대번호'].count().reset_index()

       배출가스인증번호             제원관리번호  차대번호
0     3MY-FK-08     20018700000001     1
1     3MY-FK-08     20042500000000    75
2     3MY-FK-08     20042500000001   181
3     3MY-FK-08     20042500000003   353
4     3MY-FK-08     20042500000004    33
...         ...                ...   ...
9673  XMY-KM-47     10124800030001   690
9674  YKM-KM-12     10016400440000    79
9675  YKM-KM-12     10016400450000     4
9676  YKM-KM-12     10150600000000    20
9677  YKM-KM-12  99934125020813405     1

[9678 rows x 3 columns]

In [17]:
df.groupby(['배출가스인증번호', '제원관리번호'])['차대번호'].count().reset_index().to_excel('test.xlsx', index=False)

In [20]:
df.groupby(['배출가스인증번호', '제원관리번호'])['차대번호'].count().reset_index().to_csv('test.csv', index=False, encoding='cp949')

In [23]:
df.groupby(['배출가스인증번호', '제원관리번호'])['차대번호'].count().reset_index().to_csv('test.txt', index=False, encoding='cp949')

In [10]:
df.loc[df['배출가스인증번호'] == '9MY-AD-14-04', '제작사명'].value_counts()

아우디폭스바겐코리아(주)    1127
Name: 제작사명, dtype: int64

In [8]:
rw = pd.read_csv(os.path.join(raw_fold, '4등급 차량 리스트 양식 result 최종_수정-작업.csv'), encoding='cp949')

C:\Users\kbjung\AppData\Local\Temp\ipykernel_11940\2958224972.py:1: DtypeWarning: Columns (17,35) have mixed types. Specify dtype option on import or set low_memory=False.
  rw = pd.read_csv(os.path.join(raw_fold, '4등급 차량 리스트 양식 result 최종_수정-작업.csv'), encoding='cp949')

In [9]:
rw.loc[rw['배출가스인증번호'] == '9MY-AD-14-04', '제원관리번호'].value_counts()

2420010000000000     976
Name: 제원관리번호, dtype: int64