# Library

In [2]:
import pandas as pd
import os

# folder

In [3]:
path = 'D:/data/big2/ODS'

# load

In [4]:
df = pd.read_excel(os.path.join(path, '저감장치_리스트.xlsx'))
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 799 entries, 0 to 798
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   장치인증번호  799 non-null    object
 1   장치구분    799 non-null    object
dtypes: object(2)
memory usage: 12.6+ KB

In [5]:
df = df.drop_duplicates().reset_index(drop=True)
df.shape

(136, 2)

In [6]:
df.to_excel(os.path.join(path, '저감장치_리스트_수정.xlsx'), index=False)

In [8]:
# about 2m 12.1s
df = pd.read_table(os.path.join(path, '45등급 정기정밀.txt'), sep='\t', encoding='cp949', low_memory=False)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10071308 entries, 0 to 10071307
Data columns (total 57 columns):
 #   Column           Dtype
---  ------           -----
 0   배출가스등급           object
 1   검사소명             object
 2   검사일자             int64
 3   검사종류             object
 4   검사접수번호           object
 5   차량번호             object
 6   차대번호             object
 7   CAR_TYPE         object
 8   차명               object
 9   차종               object
 10  차량용도             object
 11  차량연식             int64
 12  사용연료             object
 13  주행거리             float64
 14  CAR_LENGTH       float64
 15  CAR_WIDTH        float64
 16  CAR_HEIGHT       float64
 17  엔진형식             object
 18  ENGINE_CAPACITY  float64
 19  ENGINE_POWER     object
 20  CAR_WEIGHT       float64
 21  TOT_WEIGHT       float64
 22  CAR_PASSENGER    float64
 23  CONT             object
 24  FIRST_REG_DATE   int64
 25  MAKE_DATE        float64
 26  검사전유효기간만료일       float64
 27  FUN_JUDGE_YN     object
 28  FUN_FAIL_ITEM    object
 29  검사방법             object
 30  무부하매연측정치1        float64
 31  무부하매연허용치1        float64
 32  무부하매연판정1         object
 33  무부하매연측정치2        float64
 34  무부하매연허용치2        float64
 35  무부하매연판정2         object
 36  무부하매연측정치3        float64
 37  무부하매연허용치3        float64
 38  무부하매연판정3         object
 39  무부하매연측정치4        float64
 40  무부하매연허용치4        float64
 41  무부하매연판정4         object
 42  무부하매연측정치5        float64
 43  무부하매연허용치5        float64
 44  무부하매연판정5         object
 45  무부하매연측정치6        float64
 46  무부하매연허용치6        float64
 47  무부하매연판정6         object
 48  이산화탄소값           float64
 49  최대출력허용치          float64
 50  최대출력측정값          float64
 51  산소값              float64
 52  AIR_TEMPER       float64
 53  AIR_PRESS        float64
 54  검사판정             object
 55  재검사기간            object
 56  검사유효기간           object
dtypes: float64(28), int64(3), object(26)
memory usage: 4.3+ GB

In [9]:
df.head()

,배출가스등급,검사소명,검사일자,검사종류,검사접수번호,차량번호,차대번호,CAR_TYPE,차명,차종,...,무부하매연판정6,이산화탄소값,최대출력허용치,최대출력측정값,산소값,AIR_TEMPER,AIR_PRESS,검사판정,재검사기간,검사유효기간
0,5,제일종합정비,20190102,정기검사,L0382019010200061,89보6265,KN3HDP3352K887598,10080700870000,봉고프런티어,화물차일반형소형,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Y,20190102~20190115,20181206~20191205
1,5,도원자동차공업사,20190102,정기검사,P0662019010200131,79우3060,KNHMB76127S134164,A0110003600202206,그랜드 카니발,승합차일반형중형,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Y,20190102~20190220,20190111~20190710
2,4,첨단공업㈜,20190102,정기검사,J0472019010200041,52보8949,KMHJN81VP7U619856,A0810006301221206,투싼(TUCSON),승용차다목적형중형,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Y,20190102~20190302,20190121~20210120
3,4,(주)태안현대자동차정비,20190102,정기검사,H2472019010200281,81러2797,KMFZCZ7JABU712606,A0810006209243110,포터Ⅱ(PORTERⅡ),화물차일반형소형,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Y,20190102~20190214,20190105~20200104
4,5,태양종합정비(주),20190102,정기검사,G0252019010200191,84버3580,KMFXKS7BP2U640920,10057001730000,포터초장축슈퍼캡,화물차일반형소형,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Y,20190102~20190128,20181219~20191218

In [10]:
df[['차대번호', '검사일자']].head()

                차대번호      검사일자
0  KN3HDP3352K887598  20190102
1  KNHMB76127S134164  20190102
2  KMHJN81VP7U619856  20190102
3  KMFZCZ7JABU712606  20190102
4  KMFXKS7BP2U640920  20190102

In [11]:
df[['차대번호', '검사일자']].tail()

                       차대번호      검사일자
10071303  KMFGA17AP2C165668  20221206
10071304  KMFZCS7JP6U151858  20221206
10071305  KMFGA17HP9C123896  20221206
10071306  KMFZCY7JAAU592722  20221206
10071307  KMJWA37JBAU181387  20221206

In [12]:
# about 
df = df.sort_values(['차대번호', '검사일자'], ascending=False).reset_index(drop=True)

In [13]:
df[['차대번호', '검사일자']].head()

          차대번호      검사일자
0  sl67c027628  20220908
1  sl67c027628  20220308
2  sl67c027628  20210917
3  sl67c027628  20210315
4  sl67c027628  20200921

In [14]:
df[['차대번호', '검사일자']].tail()

                       차대번호      검사일자
10071303  00000000CN67C4065  20210604
10071304  00000000CN67C4065  20201221
10071305  00000000CN67C4065  20200709
10071306  00000000CN67C4065  20191206
10071307  00000000CN67C4065  20190621

In [15]:
df1 = df.drop_duplicates(['차대번호', '검사일자']).reset_index(drop=True)
df1.shape

(8806991, 57)

In [18]:
df1[['차대번호', '검사일자']].head()

          차대번호      검사일자
0  sl67c027628  20220908
1  sl67c027628  20220308
2  sl67c027628  20210917
3  sl67c027628  20210315
4  sl67c027628  20200921

In [19]:
df1[['차대번호', '검사일자']].tail()

                      차대번호      검사일자
8806986  00000000CN67C4065  20210604
8806987  00000000CN67C4065  20201221
8806988  00000000CN67C4065  20200709
8806989  00000000CN67C4065  20191206
8806990  00000000CN67C4065  20190621

In [20]:
# about 3m 45.2s
df1.to_csv(os.path.join(path, '4_5등급_검사일자중복제거.csv'), index=False)