# Library

In [1]:
import pandas as pd
import os
import math
from tqdm import tqdm
from datetime import datetime

In [2]:
# 소수점 옵션
pd.options.display.float_format = '{:.2f}'.format
# pd.reset_option('display.float_format')

# fold

In [3]:
raw_fold = 'D:/data/big2/BD1/raw'

# dsv to csv

## STD_CEG_CAR_CONF_CHG_MIG_230420

In [3]:
# about 13.6s
name = 'STD_CEG_CAR_CONF_CHG_MIG_230420'
file_name = f'{name}.dsv'
df = pd.read_csv(os.path.join(raw_fold, file_name), sep='|')

C:\Users\kbjung\AppData\Local\Temp\ipykernel_12788\1058226554.py:1: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(os.path.join(raw_fold, file_name), sep='|')

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2564738 entries, 0 to 2564737
Data columns (total 16 columns):
 #   Column                 Dtype
---  ------                 -----
 0   CRT_DT                 object
 1   DRVE_AFMUL             object
 2   GEARBOX_KND            object
 3   MOLIT_LINK_FILE_NM     object
 4   STRCT_CHG_YMD          int64
 5   STRCT_CHG_SPEC         object
 6   STRCT_CHG_DTL_SPEC     object
 7   STRCT_CHG_DTL_SPEC_CD  object
 8   STRCT_CHG_INSPOF_NM    object
 9   STRCT_CHG_SE           object
 10  STRCT_CHG_SE_CD        object
 11  MDFCN_DT               float64
 12  USER_ID                object
 13  VHCL_MNG_NO            object
 14  VHRNO                  object
 15  VIN                    object
dtypes: float64(1), int64(1), object(14)
memory usage: 313.1+ MB

In [5]:
df.head()

,CRT_DT,DRVE_AFMUL,GEARBOX_KND,MOLIT_LINK_FILE_NM,STRCT_CHG_YMD,STRCT_CHG_SPEC,STRCT_CHG_DTL_SPEC,STRCT_CHG_DTL_SPEC_CD,STRCT_CHG_INSPOF_NM,STRCT_CHG_SE,STRCT_CHG_SE_CD,MDFCN_DT,USER_ID,VHCL_MNG_NO,VHRNO,VIN
0,19/06/20,NaN,M,20190619_EARLY_DATA,19780926,탱크로리구변,NaN,NaN,NaN,물품적재장치,6,NaN,SYSTEM,03781228812-01,서울8라3077,03781228812
1,19/06/20,NaN,M,20190619_EARLY_DATA,19780928,탱크로리구변,NaN,NaN,NaN,물품적재장치,6,NaN,SYSTEM,03781230159-01,서울7나5894,03781230159
2,19/06/20,NaN,M,20190619_EARLY_DATA,19781002,탱크로리구변,NaN,NaN,NaN,물품적재장치,6,NaN,SYSTEM,03781229694-01,서울7나5910,03781229694
3,19/06/20,NaN,M,20190619_EARLY_DATA,19781019,탱크로리구변,NaN,NaN,NaN,물품적재장치,6,NaN,SYSTEM,03781227715-01,서울8라2197,03781227715
4,19/06/20,NaN,M,20190619_EARLY_DATA,19781030,카고에서 탱크로 구변,NaN,NaN,NaN,물품적재장치,6,NaN,SYSTEM,03781201355-01,경기8다4041,03781201355

### csv

In [6]:
# about 44.1s
file_name = f'{name}.csv'
df.to_csv(os.path.join(raw_fold, file_name), index=False)

## CEG_CAR_HISTORY_MIG_230420

In [3]:
# # about 22m 17.9s
# name = 'CEG_CAR_HISTORY_MIG_230420'
# file_name = f'{name}.dsv'
# df = pd.read_csv(os.path.join(raw_fold, file_name), sep='|')

C:\Users\kbjung\AppData\Local\Temp\ipykernel_11772\4258192127.py:4: DtypeWarning: Columns (3,9,10,11,12,19,20,21,23,27,29,30,32) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(os.path.join(raw_fold, file_name), sep='|')

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50044248 entries, 0 to 50044247
Data columns (total 34 columns):
 #   Column              Dtype
---  ------              -----
 0   VHMNO               object
 1   PRCS_SNO            object
 2   CHNG_DE             float64
 3   CHNG_SE_CD          object
 4   VHRNO               object
 5   BSPL_LEDO_CD        float64
 6   OWNR_SE             object
 7   VHCTY               object
 8   PURPS               object
 9   NOW_OWNR_NM         object
 10  NOW_MBERNO          object
 11  BSPL_ADRS           object
 12  OWNR_ADRS           object
 13  VIN                 object
 14  FST_REG_DE          float64
 15  VHCL_YRIDNW         int64
 16  VHCL_MNFCT_DE       float64
 17  EMIS_INSP_EFCT_DE   float64
 18  SRCMNNO             object
 19  EMIS_CRTCNO         object
 20  EMIS_GRD            object
 21  LEM_YN              object
 22  LEM_KND             float64
 23  LEM_STRCHG_YN       object
 24  BSPL_ZIP            float64
 25  VHRNO_NUM_INFO      int64
 26  VHCL_ERSR_YN        object
 27  ACQS_DE             object
 28  ACQS_AMT            float64
 29  RMK                 object
 30  MOLIT_LINK_FILE_NM  object
 31  CRTN_DT             object
 32  UPDT_DT             object
 33  USER_ID             object
dtypes: float64(8), int64(2), object(24)
memory usage: 12.7+ GB

In [5]:
df.head()

,VHMNO,PRCS_SNO,CHNG_DE,CHNG_SE_CD,VHRNO,BSPL_LEDO_CD,OWNR_SE,VHCTY,PURPS,NOW_OWNR_NM,...,BSPL_ZIP,VHRNO_NUM_INFO,VHCL_ERSR_YN,ACQS_DE,ACQS_AMT,RMK,MOLIT_LINK_FILE_NM,CRTN_DT,UPDT_DT,USER_ID
0,1G1F76E01J4121141-01,20190319170247470050401,20190319.0,CEGO,49마2725,4.812512e+09,R,P,P,NaN,...,NaN,492725,N,NaN,NaN,190319_DB위원회요청_1등급확정,NaN,19/03/19,NaN,SYSTEM
1,1G1F76E01J4121155-01,20190319170247470047403,20190319.0,CEGO,17고2413,3.020012e+09,R,P,P,NaN,...,NaN,172413,N,NaN,NaN,190319_DB위원회요청_1등급확정,NaN,19/03/19,NaN,SYSTEM
2,1G1F76E01J4121186-01,20190319170247470050625,20190319.0,CEGO,42보9269,2.820010e+09,R,P,P,NaN,...,NaN,429269,N,NaN,NaN,190319_DB위원회요청_1등급확정,NaN,19/03/19,NaN,SYSTEM
3,1G1F76E01J4121222-01,20190319170247470048594,20190319.0,CEGO,32주6567,1.126010e+09,R,P,P,NaN,...,NaN,326567,N,NaN,NaN,190319_DB위원회요청_1등급확정,NaN,19/03/19,NaN,SYSTEM
4,1G1F76E01J4121303-01,20190319170247470047614,20190319.0,CEGO,60로8573,4.136011e+09,R,P,P,NaN,...,NaN,608573,N,NaN,NaN,190319_DB위원회요청_1등급확정,NaN,19/03/19,NaN,SYSTEM

### csv

In [8]:
per = 10000000

In [9]:
num = math.ceil(df.shape[0] / per) + 1
num

7

In [10]:
# about 21m 42.6s
for i in range(1, num):
    file_name = f'{name}_{i:0>2}.csv'
    df.iloc[per*(i-1):per*i].to_csv(os.path.join(raw_fold, file_name), index=False)

In [11]:
# about 21m 9.8s
file_name = f'{name}.csv'
df.to_csv(os.path.join(raw_fold, file_name), index=False)

# csv 로드

## STD_CEG_CAR_CONF_CHG_MIG_230420

In [6]:
# about 13.7s
# 구조변경 테이블(추정)
name = 'STD_CEG_CAR_CONF_CHG_MIG_230420'
file_name = f'{name}.csv'
std = pd.read_csv(os.path.join(raw_fold, file_name), nrows=1000)

In [7]:
std.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 16 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   CRT_DT                 1000 non-null   object
 1   DRVE_AFMUL             0 non-null      float64
 2   GEARBOX_KND            1000 non-null   object
 3   MOLIT_LINK_FILE_NM     1000 non-null   object
 4   STRCT_CHG_YMD          1000 non-null   int64
 5   STRCT_CHG_SPEC         968 non-null    object
 6   STRCT_CHG_DTL_SPEC     2 non-null      object
 7   STRCT_CHG_DTL_SPEC_CD  2 non-null      float64
 8   STRCT_CHG_INSPOF_NM    179 non-null    object
 9   STRCT_CHG_SE           987 non-null    object
 10  STRCT_CHG_SE_CD        987 non-null    object
 11  MDFCN_DT               0 non-null      float64
 12  USER_ID                1000 non-null   object
 13  VHCL_MNG_NO            1000 non-null   object
 14  VHRNO                  1000 non-null   object
 15  VIN                    1000 non-null   object
dtypes: float64(3), int64(1), object(12)
memory usage: 125.1+ KB

In [8]:
std.head()

,CRT_DT,DRVE_AFMUL,GEARBOX_KND,MOLIT_LINK_FILE_NM,STRCT_CHG_YMD,STRCT_CHG_SPEC,STRCT_CHG_DTL_SPEC,STRCT_CHG_DTL_SPEC_CD,STRCT_CHG_INSPOF_NM,STRCT_CHG_SE,STRCT_CHG_SE_CD,MDFCN_DT,USER_ID,VHCL_MNG_NO,VHRNO,VIN
0,19/06/20,NaN,M,20190619_EARLY_DATA,19780926,탱크로리구변,NaN,NaN,NaN,물품적재장치,6,NaN,SYSTEM,03781228812-01,서울8라3077,03781228812
1,19/06/20,NaN,M,20190619_EARLY_DATA,19780928,탱크로리구변,NaN,NaN,NaN,물품적재장치,6,NaN,SYSTEM,03781230159-01,서울7나5894,03781230159
2,19/06/20,NaN,M,20190619_EARLY_DATA,19781002,탱크로리구변,NaN,NaN,NaN,물품적재장치,6,NaN,SYSTEM,03781229694-01,서울7나5910,03781229694
3,19/06/20,NaN,M,20190619_EARLY_DATA,19781019,탱크로리구변,NaN,NaN,NaN,물품적재장치,6,NaN,SYSTEM,03781227715-01,서울8라2197,03781227715
4,19/06/20,NaN,M,20190619_EARLY_DATA,19781030,카고에서 탱크로 구변,NaN,NaN,NaN,물품적재장치,6,NaN,SYSTEM,03781201355-01,경기8다4041,03781201355

In [9]:
std.isnull().sum()

CRT_DT                      0
DRVE_AFMUL               1000
GEARBOX_KND                 0
MOLIT_LINK_FILE_NM          0
STRCT_CHG_YMD               0
STRCT_CHG_SPEC             32
STRCT_CHG_DTL_SPEC        998
STRCT_CHG_DTL_SPEC_CD     998
STRCT_CHG_INSPOF_NM       821
STRCT_CHG_SE               13
STRCT_CHG_SE_CD            13
MDFCN_DT                 1000
USER_ID                     0
VHCL_MNG_NO                 0
VHRNO                       0
VIN                         0
dtype: int64

In [10]:
std.columns

Index(['CRT_DT', 'DRVE_AFMUL', 'GEARBOX_KND', 'MOLIT_LINK_FILE_NM',
       'STRCT_CHG_YMD', 'STRCT_CHG_SPEC', 'STRCT_CHG_DTL_SPEC',
       'STRCT_CHG_DTL_SPEC_CD', 'STRCT_CHG_INSPOF_NM', 'STRCT_CHG_SE',
       'STRCT_CHG_SE_CD', 'MDFCN_DT', 'USER_ID', 'VHCL_MNG_NO', 'VHRNO',
       'VIN'],
      dtype='object')

In [11]:
# 컬럼 한글화
col_dict = {
    'CRT_DT':'생성일시',
    'DRVE_AFMUL':'구동방식',
    'GEARBOX_KND':'변속기종류',
    'MOLIT_LINK_FILE_NM':'미정',
    'STRCT_CHG_YMD':'구조변경일자',
    'STRCT_CHG_SPEC':'미정',
    'STRCT_CHG_DTL_SPEC':'미정',
    'STRCT_CHG_DTL_SPEC_CD':'미정',
    'STRCT_CHG_INSPOF_NM':'미정',
    'STRCT_CHG_SE':'미정',
    'STRCT_CHG_SE_CD':'미정',
    'MDFCN_DT':'수정일시',
    'USER_ID':'사용자ID',
    'VHCL_MNG_NO':'차량관리번호',
    'VHRNO':'자동차등록정보',
    'VIN':'차대번호',
    }

In [12]:
std.columns = [col_dict[x] for x in std.columns]
std.columns

Index(['생성일시', '구동방식', '변속기종류', '미정', '구조변경일자', '미정', '미정', '미정', '미정', '미정',
       '미정', '수정일시', '사용자ID', '차량관리번호', '자동차등록정보', '차대번호'],
      dtype='object')

### 샘플

In [13]:
std.to_excel(os.path.join(raw_fold, '샘플_STD_CEG_CAR_CONF_CHG_MIG_230420.xlsx'), index=False)

## CEG_CAR_HISTORY_MIG_230420

In [51]:
# about 25m 0.8s
name = 'CEG_CAR_HISTORY_MIG_230420'
file_name = f'{name}.csv'
his = pd.read_csv(os.path.join(raw_fold, file_name), low_memory=False, nrows=500000)

In [52]:
his.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500000 entries, 0 to 499999
Data columns (total 34 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   VHMNO               500000 non-null  object
 1   PRCS_SNO            500000 non-null  object
 2   CHNG_DE             500000 non-null  float64
 3   CHNG_SE_CD          500000 non-null  object
 4   VHRNO               500000 non-null  object
 5   BSPL_LEDO_CD        500000 non-null  float64
 6   OWNR_SE             500000 non-null  object
 7   VHCTY               500000 non-null  object
 8   PURPS               500000 non-null  object
 9   NOW_OWNR_NM         175 non-null     object
 10  NOW_MBERNO          0 non-null       float64
 11  BSPL_ADRS           175 non-null     object
 12  OWNR_ADRS           0 non-null       float64
 13  VIN                 500000 non-null  object
 14  FST_REG_DE          500000 non-null  float64
 15  VHCL_YRIDNW         500000 non-null  int64
 16  VHCL_MNFCT_DE       499999 non-null  float64
 17  EMIS_INSP_EFCT_DE   500000 non-null  float64
 18  SRCMNNO             500000 non-null  object
 19  EMIS_CRTCNO         492810 non-null  object
 20  EMIS_GRD            500000 non-null  int64
 21  LEM_YN              486983 non-null  object
 22  LEM_KND             25 non-null      float64
 23  LEM_STRCHG_YN       486984 non-null  object
 24  BSPL_ZIP            0 non-null       float64
 25  VHRNO_NUM_INFO      500000 non-null  int64
 26  VHCL_ERSR_YN        500000 non-null  object
 27  ACQS_DE             0 non-null       float64
 28  ACQS_AMT            0 non-null       float64
 29  RMK                 500000 non-null  object
 30  MOLIT_LINK_FILE_NM  0 non-null       float64
 31  CRTN_DT             500000 non-null  object
 32  UPDT_DT             125 non-null     object
 33  USER_ID             500000 non-null  object
dtypes: float64(12), int64(3), object(19)
memory usage: 129.7+ MB

In [53]:
# 0   VHMNO               object  -> 
# 1   PRCS_SNO            object  -> 
# 2   CHNG_DE             float64 ->
# 3   CHNG_SE_CD          object  ->
# 4   VHRNO               object  ->
# 5   BSPL_LEDO_CD        float64 ->
# 6   OWNR_SE             object  ->
# 7   VHCTY               object  ->
# 8   PURPS               object  ->
# 9   NOW_OWNR_NM         object  ->
# 10  NOW_MBERNO          object  ->
# 11  BSPL_ADRS           object  ->
# 12  OWNR_ADRS           object  ->
# 13  VIN                 object  ->
# 14  FST_REG_DE          float64 ->
# 15  VHCL_YRIDNW         int64   ->
# 16  VHCL_MNFCT_DE       float64 ->
# 17  EMIS_INSP_EFCT_DE   float64 ->
# 18  SRCMNNO             object  ->
# 19  EMIS_CRTCNO         object  ->
# 20  EMIS_GRD            object  ->
# 21  LEM_YN              object  ->
# 22  LEM_KND             float64 ->
# 23  LEM_STRCHG_YN       object  ->
# 24  BSPL_ZIP            float64 ->
# 25  VHRNO_NUM_INFO      int64   ->
# 26  VHCL_ERSR_YN        object  ->
# 27  ACQS_DE             object  ->
# 28  ACQS_AMT            float64 ->
# 29  RMK                 object  ->
# 30  MOLIT_LINK_FILE_NM  object  ->
# 31  CRTN_DT             object  ->
# 32  UPDT_DT             object  ->
# 33  USER_ID             object  ->

In [54]:
col_dict = {
    'VHMNO':'차량관리번호',
    'PRCS_SNO':'처리SNO', # 처리SNO
    'CHNG_DE':'변경일자', # 변경일자
    'CHNG_SE_CD':'변경구분코드', # 변경구분코드
    'VHRNO':'차량등록번호',
    'BSPL_LEDO_CD':'본거지법정동코드',
    'OWNR_SE':'소유자구분',
    'VHCTY':'차종',
    'PURPS':'용도',
    'NOW_OWNR_NM':'현재소유자명', # 현재소유자명
    'NOW_MBERNO':'현재회원번호',
    'BSPL_ADRS':'본거지주소', # 본거지주소
    'OWNR_ADRS':'소유자주소', # 소유자주소
    'VIN':'차대번호',
    'FST_REG_DE':'최초등록일자',
    'VHCL_YRIDNW':'차량연식',
    'VHCL_MNFCT_DE':'차량제작일자',
    'EMIS_INSP_EFCT_DE':'배출가스검사유효일자',
    'SRCMNNO':'제원관리번호',
    'EMIS_CRTCNO':'배출가스인증번호',
    'EMIS_GRD':'배출가스등급',
    'LEM_YN':'저공해조치YN',
    'LEM_KND':'저공해조치종류',
    'LEM_STRCHG_YN':'저공해조치구조변경YN',
    'BSPL_ZIP':'본거지우편번호', # 본거지우편번호
    'VHRNO_NUM_INFO':'차량등록번호숫자정보',
    'VHCL_ERSR_YN':'차량말소YN',
    'ACQS_DE':'취득일자',
    'ACQS_AMT':'취득금액',
    'RMK':'비고',
    'MOLIT_LINK_FILE_NM':'국토부연계파일명', # 국토부연계파일명
    'CRTN_DT':'생성일시',
    'UPDT_DT':'수정일시',
    'USER_ID':'사용자ID'}

In [55]:
his.columns = [col_dict[x] for x in his.columns]
his.columns

Index(['차량관리번호', '처리SNO', '변경일자', '변경구분코드', '차량등록번호', '본거지법정동코드', '소유자구분',
       '차종', '용도', '현재소유자명', '현재회원번호', '본거지주소', '소유자주소', '차대번호', '최초등록일자',
       '차량연식', '차량제작일자', '배출가스검사유효일자', '제원관리번호', '배출가스인증번호', '배출가스등급',
       '저공해조치YN', '저공해조치종류', '저공해조치구조변경YN', '본거지우편번호', '차량등록번호숫자정보', '차량말소YN',
       '취득일자', '취득금액', '비고', '국토부연계파일명', '생성일시', '수정일시', '사용자ID'],
      dtype='object')

In [56]:
his['변경일자'].describe()

count     500000.00
mean    20190319.57
std           12.83
min     20190218.00
25%     20190319.00
50%     20190319.00
75%     20190319.00
max     20190617.00
Name: 변경일자, dtype: float64

In [57]:
his['변경구분코드'].head()

0    CEGO
1    CEGO
2    CEGO
3    CEGO
4    CEGO
Name: 변경구분코드, dtype: object

In [58]:
his['변경구분코드'].unique()

array(['CEGO', 'CEGC'], dtype=object)

In [59]:
his['최초등록일자'].head()

0   20180515.00
1   20180621.00
2   20180531.00
3   20180622.00
4   20180615.00
Name: 최초등록일자, dtype: float64

In [60]:
his['수정일시'].describe()

count          125
unique           2
top       19/05/29
freq            98
Name: 수정일시, dtype: object

In [61]:
his['차량말소YN'].isnull().sum()

0

In [62]:
his['차량말소YN'].unique()

array(['N', 'Y'], dtype=object)

In [63]:
his.loc[his['차량말소YN'] == 'Y', '수정일시']

84127     NaN
87898     NaN
87922     NaN
92378     NaN
93380     NaN
97881     NaN
100591    NaN
110974    NaN
124702    NaN
141373    NaN
161201    NaN
188840    NaN
189434    NaN
208845    NaN
211400    NaN
341087    NaN
346129    NaN
350656    NaN
355125    NaN
424241    NaN
441252    NaN
445885    NaN
474467    NaN
480307    NaN
481504    NaN
Name: 수정일시, dtype: object

In [64]:
his.loc[his['수정일시'].isnull() == False, '차량말소YN'].value_counts(dropna=False)

차량말소YN
N    125
Name: count, dtype: int64

### 샘플

In [37]:
# about 25.4s
his.to_excel(os.path.join(raw_fold, '샘플_CEG_CAR_HISTORY_MIG_230420.xlsx'), index=False)

# 코드 마지막