# Library

In [2]:
import pandas as pd
import os
import math
from tqdm import tqdm
from datetime import datetime

In [3]:
# 소수점 옵션
pd.options.display.float_format = '{:.2f}'.format
# pd.reset_option('display.float_format')

# fold

In [140]:
raw1_fold = 'D:/data/big2/BD1/raw'
an1_fold = 'D:/data/big2/BD1/an'
ods_fold = 'D:/data/big2/ODS'
big2_fold = 'D:/data/big2'

# dsv to csv

## STD_CEG_CAR_CONF_CHG_MIG_230420

In [3]:
# about 13.6s
name = 'STD_CEG_CAR_CONF_CHG_MIG_230420'
file_name = f'{name}.dsv'
df = pd.read_csv(os.path.join(raw1_fold, file_name), sep='|')

C:\Users\kbjung\AppData\Local\Temp\ipykernel_12788\1058226554.py:1: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(os.path.join(raw_fold, file_name), sep='|')

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2564738 entries, 0 to 2564737
Data columns (total 16 columns):
 #   Column                 Dtype
---  ------                 -----
 0   CRT_DT                 object
 1   DRVE_AFMUL             object
 2   GEARBOX_KND            object
 3   MOLIT_LINK_FILE_NM     object
 4   STRCT_CHG_YMD          int64
 5   STRCT_CHG_SPEC         object
 6   STRCT_CHG_DTL_SPEC     object
 7   STRCT_CHG_DTL_SPEC_CD  object
 8   STRCT_CHG_INSPOF_NM    object
 9   STRCT_CHG_SE           object
 10  STRCT_CHG_SE_CD        object
 11  MDFCN_DT               float64
 12  USER_ID                object
 13  VHCL_MNG_NO            object
 14  VHRNO                  object
 15  VIN                    object
dtypes: float64(1), int64(1), object(14)
memory usage: 313.1+ MB

In [5]:
df.head()

,CRT_DT,DRVE_AFMUL,GEARBOX_KND,MOLIT_LINK_FILE_NM,STRCT_CHG_YMD,STRCT_CHG_SPEC,STRCT_CHG_DTL_SPEC,STRCT_CHG_DTL_SPEC_CD,STRCT_CHG_INSPOF_NM,STRCT_CHG_SE,STRCT_CHG_SE_CD,MDFCN_DT,USER_ID,VHCL_MNG_NO,VHRNO,VIN
0,19/06/20,NaN,M,20190619_EARLY_DATA,19780926,탱크로리구변,NaN,NaN,NaN,물품적재장치,6,NaN,SYSTEM,03781228812-01,서울8라3077,03781228812
1,19/06/20,NaN,M,20190619_EARLY_DATA,19780928,탱크로리구변,NaN,NaN,NaN,물품적재장치,6,NaN,SYSTEM,03781230159-01,서울7나5894,03781230159
2,19/06/20,NaN,M,20190619_EARLY_DATA,19781002,탱크로리구변,NaN,NaN,NaN,물품적재장치,6,NaN,SYSTEM,03781229694-01,서울7나5910,03781229694
3,19/06/20,NaN,M,20190619_EARLY_DATA,19781019,탱크로리구변,NaN,NaN,NaN,물품적재장치,6,NaN,SYSTEM,03781227715-01,서울8라2197,03781227715
4,19/06/20,NaN,M,20190619_EARLY_DATA,19781030,카고에서 탱크로 구변,NaN,NaN,NaN,물품적재장치,6,NaN,SYSTEM,03781201355-01,경기8다4041,03781201355

### csv

In [6]:
# about 44.1s
file_name = f'{name}.csv'
df.to_csv(os.path.join(raw1_fold, file_name), index=False)

## CEG_CAR_HISTORY_MIG_230420

In [3]:
# # about 22m 17.9s
# name = 'CEG_CAR_HISTORY_MIG_230420'
# file_name = f'{name}.dsv'
# df = pd.read_csv(os.path.join(raw1_fold, file_name), sep='|')

C:\Users\kbjung\AppData\Local\Temp\ipykernel_11772\4258192127.py:4: DtypeWarning: Columns (3,9,10,11,12,19,20,21,23,27,29,30,32) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(os.path.join(raw_fold, file_name), sep='|')

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50044248 entries, 0 to 50044247
Data columns (total 34 columns):
 #   Column              Dtype
---  ------              -----
 0   VHMNO               object
 1   PRCS_SNO            object
 2   CHNG_DE             float64
 3   CHNG_SE_CD          object
 4   VHRNO               object
 5   BSPL_LEDO_CD        float64
 6   OWNR_SE             object
 7   VHCTY               object
 8   PURPS               object
 9   NOW_OWNR_NM         object
 10  NOW_MBERNO          object
 11  BSPL_ADRS           object
 12  OWNR_ADRS           object
 13  VIN                 object
 14  FST_REG_DE          float64
 15  VHCL_YRIDNW         int64
 16  VHCL_MNFCT_DE       float64
 17  EMIS_INSP_EFCT_DE   float64
 18  SRCMNNO             object
 19  EMIS_CRTCNO         object
 20  EMIS_GRD            object
 21  LEM_YN              object
 22  LEM_KND             float64
 23  LEM_STRCHG_YN       object
 24  BSPL_ZIP            float64
 25  VHRNO_NUM_INFO      int64
 26  VHCL_ERSR_YN        object
 27  ACQS_DE             object
 28  ACQS_AMT            float64
 29  RMK                 object
 30  MOLIT_LINK_FILE_NM  object
 31  CRTN_DT             object
 32  UPDT_DT             object
 33  USER_ID             object
dtypes: float64(8), int64(2), object(24)
memory usage: 12.7+ GB

In [5]:
df.head()

,VHMNO,PRCS_SNO,CHNG_DE,CHNG_SE_CD,VHRNO,BSPL_LEDO_CD,OWNR_SE,VHCTY,PURPS,NOW_OWNR_NM,...,BSPL_ZIP,VHRNO_NUM_INFO,VHCL_ERSR_YN,ACQS_DE,ACQS_AMT,RMK,MOLIT_LINK_FILE_NM,CRTN_DT,UPDT_DT,USER_ID
0,1G1F76E01J4121141-01,20190319170247470050401,20190319.0,CEGO,49마2725,4.812512e+09,R,P,P,NaN,...,NaN,492725,N,NaN,NaN,190319_DB위원회요청_1등급확정,NaN,19/03/19,NaN,SYSTEM
1,1G1F76E01J4121155-01,20190319170247470047403,20190319.0,CEGO,17고2413,3.020012e+09,R,P,P,NaN,...,NaN,172413,N,NaN,NaN,190319_DB위원회요청_1등급확정,NaN,19/03/19,NaN,SYSTEM
2,1G1F76E01J4121186-01,20190319170247470050625,20190319.0,CEGO,42보9269,2.820010e+09,R,P,P,NaN,...,NaN,429269,N,NaN,NaN,190319_DB위원회요청_1등급확정,NaN,19/03/19,NaN,SYSTEM
3,1G1F76E01J4121222-01,20190319170247470048594,20190319.0,CEGO,32주6567,1.126010e+09,R,P,P,NaN,...,NaN,326567,N,NaN,NaN,190319_DB위원회요청_1등급확정,NaN,19/03/19,NaN,SYSTEM
4,1G1F76E01J4121303-01,20190319170247470047614,20190319.0,CEGO,60로8573,4.136011e+09,R,P,P,NaN,...,NaN,608573,N,NaN,NaN,190319_DB위원회요청_1등급확정,NaN,19/03/19,NaN,SYSTEM

### csv

In [8]:
per = 10000000

In [9]:
num = math.ceil(df.shape[0] / per) + 1
num

7

In [10]:
# about 21m 42.6s
for i in range(1, num):
    file_name = f'{name}_{i:0>2}.csv'
    df.iloc[per*(i-1):per*i].to_csv(os.path.join(raw1_fold, file_name), index=False)

In [11]:
# about 21m 9.8s
file_name = f'{name}.csv'
df.to_csv(os.path.join(raw1_fold, file_name), index=False)

# csv 로드

## STD_CEG_CAR_CONF_CHG_MIG_230420

In [6]:
# about 13.7s
# 구조변경 테이블(추정)
name = 'STD_CEG_CAR_CONF_CHG_MIG_230420'
file_name = f'{name}.csv'
std = pd.read_csv(os.path.join(raw1_fold, file_name), nrows=1000)

In [7]:
std.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 16 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   CRT_DT                 1000 non-null   object
 1   DRVE_AFMUL             0 non-null      float64
 2   GEARBOX_KND            1000 non-null   object
 3   MOLIT_LINK_FILE_NM     1000 non-null   object
 4   STRCT_CHG_YMD          1000 non-null   int64
 5   STRCT_CHG_SPEC         968 non-null    object
 6   STRCT_CHG_DTL_SPEC     2 non-null      object
 7   STRCT_CHG_DTL_SPEC_CD  2 non-null      float64
 8   STRCT_CHG_INSPOF_NM    179 non-null    object
 9   STRCT_CHG_SE           987 non-null    object
 10  STRCT_CHG_SE_CD        987 non-null    object
 11  MDFCN_DT               0 non-null      float64
 12  USER_ID                1000 non-null   object
 13  VHCL_MNG_NO            1000 non-null   object
 14  VHRNO                  1000 non-null   object
 15  VIN                    1000 non-null   object
dtypes: float64(3), int64(1), object(12)
memory usage: 125.1+ KB

In [8]:
std.head()

,CRT_DT,DRVE_AFMUL,GEARBOX_KND,MOLIT_LINK_FILE_NM,STRCT_CHG_YMD,STRCT_CHG_SPEC,STRCT_CHG_DTL_SPEC,STRCT_CHG_DTL_SPEC_CD,STRCT_CHG_INSPOF_NM,STRCT_CHG_SE,STRCT_CHG_SE_CD,MDFCN_DT,USER_ID,VHCL_MNG_NO,VHRNO,VIN
0,19/06/20,NaN,M,20190619_EARLY_DATA,19780926,탱크로리구변,NaN,NaN,NaN,물품적재장치,6,NaN,SYSTEM,03781228812-01,서울8라3077,03781228812
1,19/06/20,NaN,M,20190619_EARLY_DATA,19780928,탱크로리구변,NaN,NaN,NaN,물품적재장치,6,NaN,SYSTEM,03781230159-01,서울7나5894,03781230159
2,19/06/20,NaN,M,20190619_EARLY_DATA,19781002,탱크로리구변,NaN,NaN,NaN,물품적재장치,6,NaN,SYSTEM,03781229694-01,서울7나5910,03781229694
3,19/06/20,NaN,M,20190619_EARLY_DATA,19781019,탱크로리구변,NaN,NaN,NaN,물품적재장치,6,NaN,SYSTEM,03781227715-01,서울8라2197,03781227715
4,19/06/20,NaN,M,20190619_EARLY_DATA,19781030,카고에서 탱크로 구변,NaN,NaN,NaN,물품적재장치,6,NaN,SYSTEM,03781201355-01,경기8다4041,03781201355

In [9]:
std.isnull().sum()

CRT_DT                      0
DRVE_AFMUL               1000
GEARBOX_KND                 0
MOLIT_LINK_FILE_NM          0
STRCT_CHG_YMD               0
STRCT_CHG_SPEC             32
STRCT_CHG_DTL_SPEC        998
STRCT_CHG_DTL_SPEC_CD     998
STRCT_CHG_INSPOF_NM       821
STRCT_CHG_SE               13
STRCT_CHG_SE_CD            13
MDFCN_DT                 1000
USER_ID                     0
VHCL_MNG_NO                 0
VHRNO                       0
VIN                         0
dtype: int64

In [10]:
std.columns

Index(['CRT_DT', 'DRVE_AFMUL', 'GEARBOX_KND', 'MOLIT_LINK_FILE_NM',
       'STRCT_CHG_YMD', 'STRCT_CHG_SPEC', 'STRCT_CHG_DTL_SPEC',
       'STRCT_CHG_DTL_SPEC_CD', 'STRCT_CHG_INSPOF_NM', 'STRCT_CHG_SE',
       'STRCT_CHG_SE_CD', 'MDFCN_DT', 'USER_ID', 'VHCL_MNG_NO', 'VHRNO',
       'VIN'],
      dtype='object')

In [11]:
# 컬럼 한글화
col_dict = {
    'CRT_DT':'생성일시',
    'DRVE_AFMUL':'구동방식',
    'GEARBOX_KND':'변속기종류',
    'MOLIT_LINK_FILE_NM':'국토부연계파일명', # 국토부연계파일명
    'STRCT_CHG_YMD':'구조변경일자', # 구조변경일자
    'STRCT_CHG_SPEC':'구조변경상세사양', # 구조변경상세사양
    'STRCT_CHG_DTL_SPEC':'구조변경상세사양코드', # 구조변경상세사양코드
    'STRCT_CHG_DTL_SPEC_CD':'구조변경상세사양코드', # 구조변경상세사양코드
    'STRCT_CHG_INSPOF_NM':'구조변경검사소명', # 구조변경검사소명
    'STRCT_CHG_SE':'구조변경구분', # 구조변경구분
    'STRCT_CHG_SE_CD':'구조변경구분코드', # 구조변경구분코드
    'MDFCN_DT':'수정일시',
    'USER_ID':'사용자ID',
    'VHCL_MNG_NO':'차량관리번호',
    'VHRNO':'자동차등록정보',
    'VIN':'차대번호',
    }

In [12]:
std.columns = [col_dict[x] for x in std.columns]
std.columns

Index(['생성일시', '구동방식', '변속기종류', '미정', '구조변경일자', '미정', '미정', '미정', '미정', '미정',
       '미정', '수정일시', '사용자ID', '차량관리번호', '자동차등록정보', '차대번호'],
      dtype='object')

### 샘플

In [13]:
std.to_excel(os.path.join(raw1_fold, '샘플_STD_CEG_CAR_CONF_CHG_MIG_230420.xlsx'), index=False)

## CEG_CAR_HISTORY_MIG_230420

In [5]:
# about 25m 0.8s
name = 'CEG_CAR_HISTORY_MIG_230420'
file_name = f'{name}.csv'
his = pd.read_csv(os.path.join(raw1_fold, file_name), low_memory=False)

In [6]:
his.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50044248 entries, 0 to 50044247
Data columns (total 34 columns):
 #   Column              Dtype
---  ------              -----
 0   VHMNO               object
 1   PRCS_SNO            object
 2   CHNG_DE             float64
 3   CHNG_SE_CD          object
 4   VHRNO               object
 5   BSPL_LEDO_CD        float64
 6   OWNR_SE             object
 7   VHCTY               object
 8   PURPS               object
 9   NOW_OWNR_NM         object
 10  NOW_MBERNO          object
 11  BSPL_ADRS           object
 12  OWNR_ADRS           object
 13  VIN                 object
 14  FST_REG_DE          float64
 15  VHCL_YRIDNW         int64
 16  VHCL_MNFCT_DE       float64
 17  EMIS_INSP_EFCT_DE   float64
 18  SRCMNNO             object
 19  EMIS_CRTCNO         object
 20  EMIS_GRD            object
 21  LEM_YN              object
 22  LEM_KND             float64
 23  LEM_STRCHG_YN       object
 24  BSPL_ZIP            float64
 25  VHRNO_NUM_INFO      int64
 26  VHCL_ERSR_YN        object
 27  ACQS_DE             object
 28  ACQS_AMT            float64
 29  RMK                 object
 30  MOLIT_LINK_FILE_NM  object
 31  CRTN_DT             object
 32  UPDT_DT             object
 33  USER_ID             object
dtypes: float64(8), int64(2), object(24)
memory usage: 12.7+ GB

In [7]:
# 0   VHMNO               object  -> 
# 1   PRCS_SNO            object  -> 
# 2   CHNG_DE             float64 ->
# 3   CHNG_SE_CD          object  ->
# 4   VHRNO               object  ->
# 5   BSPL_LEDO_CD        float64 ->
# 6   OWNR_SE             object  ->
# 7   VHCTY               object  ->
# 8   PURPS               object  ->
# 9   NOW_OWNR_NM         object  ->
# 10  NOW_MBERNO          object  ->
# 11  BSPL_ADRS           object  ->
# 12  OWNR_ADRS           object  ->
# 13  VIN                 object  ->
# 14  FST_REG_DE          float64 ->
# 15  VHCL_YRIDNW         int64   ->
# 16  VHCL_MNFCT_DE       float64 ->
# 17  EMIS_INSP_EFCT_DE   float64 ->
# 18  SRCMNNO             object  ->
# 19  EMIS_CRTCNO         object  ->
# 20  EMIS_GRD            object  ->
# 21  LEM_YN              object  ->
# 22  LEM_KND             float64 ->
# 23  LEM_STRCHG_YN       object  ->
# 24  BSPL_ZIP            float64 ->
# 25  VHRNO_NUM_INFO      int64   ->
# 26  VHCL_ERSR_YN        object  ->
# 27  ACQS_DE             object  ->
# 28  ACQS_AMT            float64 ->
# 29  RMK                 object  ->
# 30  MOLIT_LINK_FILE_NM  object  ->
# 31  CRTN_DT             object  ->
# 32  UPDT_DT             object  ->
# 33  USER_ID             object  ->

In [8]:
col_dict = {
    'VHMNO':'차량관리번호',
    'PRCS_SNO':'처리_SNO', # 처리SNO
    'CHNG_DE':'변경일자', # 변경일자
    'CHNG_SE_CD':'변경구분코드', # 변경구분코드
    'VHRNO':'차량등록번호',
    'BSPL_LEDO_CD':'본거지법정동코드',
    'OWNR_SE':'소유자구분',
    'VHCTY':'차종',
    'PURPS':'용도',
    'NOW_OWNR_NM':'현재소유자명', # 현재소유자명
    'NOW_MBERNO':'현재회원번호',
    'BSPL_ADRS':'본거지주소', # 본거지주소
    'OWNR_ADRS':'소유자주소', # 소유자주소
    'VIN':'차대번호',
    'FST_REG_DE':'최초등록일자',
    'VHCL_YRIDNW':'차량연식',
    'VHCL_MNFCT_DE':'차량제작일자',
    'EMIS_INSP_EFCT_DE':'배출가스검사유효일자',
    'SRCMNNO':'제원관리번호',
    'EMIS_CRTCNO':'배출가스인증번호',
    'EMIS_GRD':'배출가스등급',
    'LEM_YN':'저공해조치YN',
    'LEM_KND':'저공해조치종류',
    'LEM_STRCHG_YN':'저공해조치구조변경YN',
    'BSPL_ZIP':'본거지우편번호', # 본거지우편번호
    'VHRNO_NUM_INFO':'차량등록번호숫자정보',
    'VHCL_ERSR_YN':'차량말소YN',
    'ACQS_DE':'취득일자',
    'ACQS_AMT':'취득금액',
    'RMK':'비고',
    'MOLIT_LINK_FILE_NM':'국토부연계파일명', # 국토부연계파일명
    'CRTN_DT':'생성일시',
    'UPDT_DT':'수정일시',
    'USER_ID':'사용자ID'}

In [9]:
his.columns = [col_dict[x] for x in his.columns]
his.columns

Index(['차량관리번호', '처리_SNO', '변경일자', '변경구분코드', '차량등록번호', '본거지법정동코드', '소유자구분',
       '차종', '용도', '현재소유자명', '현재회원번호', '본거지주소', '소유자주소', '차대번호', '최초등록일자',
       '차량연식', '차량제작일자', '배출가스검사유효일자', '제원관리번호', '배출가스인증번호', '배출가스등급',
       '저공해조치YN', '저공해조치종류', '저공해조치구조변경YN', '본거지우편번호', '차량등록번호숫자정보', '차량말소YN',
       '취득일자', '취득금액', '비고', '국토부연계파일명', '생성일시', '수정일시', '사용자ID'],
      dtype='object')

In [10]:
his['변경일자'].describe()

count   50037386.00
mean    20205039.70
std         9815.94
min     19840228.00
25%     20200417.00
50%     20201103.00
75%     20210907.00
max     20221122.00
Name: 변경일자, dtype: float64

In [14]:
his['변경일자'].isnull().sum()

6862

In [11]:
his['변경구분코드'].unique()

array(['CEGO', 'CEGC', '1100', '1210', '1110', '1410', '1023', '1430',
       '1411', '1071', '1010', '1250', '1222', '1120', '1427', '1021',
       '1414', '1415', '1017', '1444', '1419', '1015', '1425', '1418',
       '1014', '1443', '1012', '1019', '1140', '1412', '1130', '1440',
       '1431', '1013', '1016', '1458', '1081', '1413', '1441', '1421',
       '1420', '1442', '1455', '1424', '1445', '1423', '1432', '1422',
       '1018', '1011', '1417', '1447', '1091', '1446', '1433', '1211',
       '1448'], dtype=object)

In [12]:
his['변경구분코드'].value_counts(dropna=False)

변경구분코드
1210    13147718
1100    11846334
CEGO    10738784
1110     4522138
CEGC     3038433
1411     2394726
1427      956976
1120      936618
1023      512129
1250      469364
1021      416343
1211      328741
1410      223139
1430      221724
1071       56105
1222       43026
1444       20648
1081       20445
1414       20246
1415       17851
1418       14856
1140       14421
1017        9534
1440        8457
1014        8002
1012        6883
1015        6058
1010        5837
1458        4806
1130        4380
1019        3929
1431        3195
1419        2940
1425        2734
1412        2540
1013        2370
1016        1940
1443        1714
1442        1403
1441        1302
1424        1188
1018         876
1421         785
1413         712
1011         549
1420         310
1432         306
1447         241
1091         134
1445         107
1455          70
1417          56
1433          55
1423          33
1422          27
1446           8
1448           2
Name: count, dtype: int64

In [13]:
his['차량말소YN'].value_counts(dropna=False)

차량말소YN
N    46355117
Y     3689131
Name: count, dtype: int64

### 변경구분코드로 추출
- CEGO, CEGC 제외

In [17]:
his.shape

(50044248, 34)

In [31]:
# about 49.7s
his01 = his.loc[(his['변경구분코드'] != 'CEGO') & (his['변경구분코드'] != 'CEGC'), ['차량관리번호', '차대번호', '차량말소YN', '변경일자', '변경구분코드']].reset_index(drop=True)
his01.shape

(36267031, 5)

In [24]:
his.shape[0] - his01.shape[0]

13777217

#### 출력

In [64]:
# about 1m 59.9s
his01.to_csv(os.path.join(raw1_fold, 'CEG_CAR_HISTORY_MIG_230420_수정01.csv'), index=False)

# 차량 폐차 현황

## 1\. [로드] 데이터

### 1-1\. 등록&제원

In [86]:
# about 5m 3.9s
name = '[ODS]등록정보&제원정보(2022.12.28)'
file_name = f'{name}.csv'
smig = pd.read_csv(os.path.join(ods_fold, file_name), low_memory=False, usecols=['차량관리번호', '차대번호', '차량말소YN', '배출가스인증번호', '배출가스등급', '제원관리번호', '차종_등록정보', '차량연식', '연료', '차명', '본거지법정동코드'], encoding='cp949')
smig.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29534047 entries, 0 to 29534046
Data columns (total 11 columns):
 #   Column    Dtype
---  ------    -----
 0   차량관리번호    object
 1   본거지법정동코드  int64
 2   차종_등록정보   object
 3   차대번호      object
 4   차량연식      int64
 5   제원관리번호    object
 6   배출가스인증번호  object
 7   배출가스등급    object
 8   차량말소YN    object
 9   차명        object
 10  연료        object
dtypes: int64(2), object(9)
memory usage: 2.4+ GB

In [170]:
smig['차량말소YN'].value_counts(dropna=False)

차량말소YN
N    25693532
Y     3840515
Name: count, dtype: int64

In [71]:
smig.shape, len(smig['차량관리번호'].unique())

((29534047, 12), 29534043)

In [72]:
len(smig['차대번호'].unique())

29521505

### 1-2\. CEG_CAR_HISTORY_MIG_230420_수정01

In [91]:
# about 2m 25.8s
name = 'CEG_CAR_HISTORY_MIG_230420_수정01'
file_name = f'{name}.csv'
his = pd.read_csv(os.path.join(raw1_fold, file_name), low_memory=False)
his.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36267031 entries, 0 to 36267030
Data columns (total 5 columns):
 #   Column  Dtype
---  ------  -----
 0   차량관리번호  object
 1   차대번호    object
 2   차량말소YN  object
 3   변경일자    float64
 4   변경구분코드  int64
dtypes: float64(1), int64(1), object(3)
memory usage: 1.4+ GB

In [93]:
his.shape, len(his['차량관리번호'].unique())

((36267031, 5), 19399228)

In [94]:
len(his['차대번호'].unique())

19400662

### 1-3\. 법정동코드

In [89]:
# about 8.9s
name = '법정동코드_2022.10.14(수정2023.05.04)'
file_name = f'{name}.xlsx'
code = pd.read_excel(os.path.join(big2_fold, file_name))
code.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 46342 entries, 0 to 46341
Data columns (total 9 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   법정동코드     46342 non-null  int64
 1   시도        46342 non-null  object
 2   시구군       46319 non-null  object
 3   읍면동       45849 non-null  object
 4   리         33682 non-null  object
 5   지역3       0 non-null      float64
 6   폐지여부      46342 non-null  object
 7   대기관리권역    46342 non-null  object
 8   대기관리권역YN  46337 non-null  object
dtypes: float64(1), int64(1), object(7)
memory usage: 3.2+ MB

## 2\. 차량관리번호 기준으로 병합

In [95]:
# about 2m 0.3s
df = smig.merge(his, on='차량관리번호', how='left')
df.shape

(46401826, 15)

In [96]:
df.columns

Index(['차량관리번호', '본거지법정동코드', '차종_등록정보', '차대번호_x', '차량연식', '제원관리번호', '배출가스인증번호',
       '배출가스등급', '차량말소YN_x', '차명', '연료', '차대번호_y', '차량말소YN_y', '변경일자',
       '변경구분코드'],
      dtype='object')

In [97]:
df = df.drop('차대번호_y', axis=1)
df = df.rename(columns={'차량말소YN_x':'차량말소YN_등록정보', '차량말소YN_y':'차량말소YN_변경이력', '차대번호_x':'차대번호'})
df.columns

Index(['차량관리번호', '본거지법정동코드', '차종_등록정보', '차대번호', '차량연식', '제원관리번호', '배출가스인증번호',
       '배출가스등급', '차량말소YN_등록정보', '차명', '연료', '차량말소YN_변경이력', '변경일자', '변경구분코드'],
      dtype='object')

## 3\. 차량말소(등록과 변경이력) : Y 추출

In [98]:
df = df.loc[(df['차량말소YN_등록정보'] == 'Y') & (df['차량말소YN_변경이력'] == 'Y')].reset_index(drop=True)
df.shape

(3671025, 14)

In [99]:
df['변경일자'].isnull().sum()

0

In [100]:
df['변경일자'].describe()

count    3671025.00
mean    20204821.91
std         9403.21
min     19971111.00
25%     20200306.00
50%     20201130.00
75%     20210818.00
max     20220628.00
Name: 변경일자, dtype: float64

## 4\. 차대번호 중복 제거(최신 변경일자 기준)

In [101]:
# about 13.5s
df = df.sort_values('변경일자', ascending=False).drop_duplicates('차대번호').reset_index(drop=True)
df.shape

(3642360, 14)

## 5\. 변경일자 2019.01.01 이후만 추출

In [102]:
df.loc[df['변경일자'] >= 20190101].shape

(3642251, 14)

In [103]:
# about 1.4s
df = df.loc[df['변경일자'] >= 20190101].reset_index(drop=True)
df.shape

(3642251, 14)

In [104]:
df['변경일자'].describe()

count    3642251.00
mean    20204829.13
std         9393.15
min     20190108.00
25%     20200306.00
50%     20201130.00
75%     20210818.00
max     20220628.00
Name: 변경일자, dtype: float64

## 6\. 법정동 코드 병합

In [105]:
df.columns

Index(['차량관리번호', '본거지법정동코드', '차종_등록정보', '차대번호', '차량연식', '제원관리번호', '배출가스인증번호',
       '배출가스등급', '차량말소YN_등록정보', '차명', '연료', '차량말소YN_변경이력', '변경일자', '변경구분코드'],
      dtype='object')

In [106]:
code.columns

Index(['법정동코드', '시도', '시구군', '읍면동', '리', '지역3', '폐지여부', '대기관리권역', '대기관리권역YN'], dtype='object')

In [107]:
df.shape

(3642251, 14)

In [108]:
df = df.merge(code, left_on='본거지법정동코드', right_on='법정동코드', how='left')
df.shape

(3642251, 23)

In [109]:
df['시도'].isnull().sum()

0

### [출력] 전처리 완료 파일

In [111]:
today_date = datetime.today().strftime("%Y.%m.%d")
today_date

'2023.05.19'

In [112]:
# about 33.3s
df.to_csv(os.path.join(ods_fold, f'폐차정보_전처리완료({today_date}).xlsx'), index=False)

## 7\. 월별 폐차 현황

In [113]:
df.shape

(3642251, 23)

In [114]:
df.columns

Index(['차량관리번호', '본거지법정동코드', '차종_등록정보', '차대번호', '차량연식', '제원관리번호', '배출가스인증번호',
       '배출가스등급', '차량말소YN_등록정보', '차명', '연료', '차량말소YN_변경이력', '변경일자', '변경구분코드',
       '법정동코드', '시도', '시구군', '읍면동', '리', '지역3', '폐지여부', '대기관리권역', '대기관리권역YN'],
      dtype='object')

In [117]:
'20190101'[:4], '20190101'[4:6], '20190101'[6:]

('2019', '01', '01')

In [119]:
df['변경일자'] = df['변경일자'].astype('str')

In [123]:
df['변경일자_년'] = df['변경일자'].str[:4]
df['변경일자_월'] = df['변경일자'].str[4:6]
df['변경일자_일'] = df['변경일자'].str[6:8]

In [124]:
df[['변경일자_년', '변경일자_월', '변경일자_일']].head()

  변경일자_년 변경일자_월 변경일자_일
0   2022     06     28
1   2022     06     28
2   2022     06     28
3   2022     06     28
4   2022     06     28

In [125]:
df[['변경일자_년', '변경일자_월', '변경일자_일']] = df[['변경일자_년', '변경일자_월', '변경일자_일']].astype('int')

In [127]:
df.columns

Index(['차량관리번호', '본거지법정동코드', '차종_등록정보', '차대번호', '차량연식', '제원관리번호', '배출가스인증번호',
       '배출가스등급', '차량말소YN_등록정보', '차명', '연료', '차량말소YN_변경이력', '변경일자', '변경구분코드',
       '법정동코드', '시도', '시구군', '읍면동', '리', '지역3', '폐지여부', '대기관리권역', '대기관리권역YN',
       '변경일자_년', '변경일자_월', '변경일자_일'],
      dtype='object')

In [160]:
df['배출가스등급'].unique()

array(['X', '2', '5', '3', '4', '1', 'T2', 'T3', 'T4', 'T5', nan],
      dtype=object)

In [165]:
gp1 = df.groupby(['변경일자_년', '변경일자_월'], dropna=False)['차대번호'].count().unstack('변경일자_년')
gp1

변경일자_년      2019      2020      2021      2022
변경일자_월
1           7.00  88100.00  85248.00  73283.00
2          13.00  95024.00  78430.00  70422.00
3           4.00 109440.00 119163.00  90059.00
4           4.00 101337.00 135526.00  95752.00
5          15.00 102224.00 121173.00 100812.00
6       31226.00 110174.00 112687.00  79455.00
7       99261.00 100068.00  98464.00       NaN
8       93713.00  98369.00  89065.00       NaN
9      103771.00  99850.00  84060.00       NaN
10     135734.00 105954.00  90710.00       NaN
11     126470.00 106043.00  92026.00       NaN
12     117725.00 109410.00  91980.00       NaN

In [166]:
gp2 = df.groupby(['배출가스등급', '변경일자_년', '변경일자_월'], dropna=False)['차대번호'].count().unstack('배출가스등급').unstack('변경일자_년')
gp2

배출가스등급       1                                2
변경일자_년    2019    2020    2021    2022     2019     2020     2021     2022
변경일자_월
1          NaN 1513.00 2506.00 2411.00      NaN 18259.00 23028.00 22003.00  \
2          NaN 1831.00 2395.00 2720.00      NaN 18775.00 21559.00 21823.00
3          NaN 2276.00 3196.00 3155.00      NaN 18593.00 26438.00 24544.00
4          NaN 1045.00 3081.00 3014.00     1.00 14041.00 23177.00 22987.00
5          NaN 1067.00 2852.00 3244.00     1.00 15273.00 21841.00 25270.00
6       358.00 1702.00 3259.00 2727.00  5526.00 18911.00 24303.00 22238.00
7      1224.00 2175.00 3270.00     NaN 18671.00 20091.00 24395.00      NaN
8      1198.00 2508.00 2788.00     NaN 17767.00 22257.00 22587.00      NaN
9      1282.00 2765.00 3185.00     NaN 17113.00 22015.00 21809.00      NaN
10     1913.00 2538.00 4220.00     NaN 21976.00 21489.00 24423.00      NaN
11     1767.00 2534.00 3256.00     NaN 20510.00 22616.00 24176.00      NaN
12     1906.00 2805.00 3114.00     NaN 21541.00 24404.00 25025.00      NaN

배출가스등급        3           ...   T5           X                       NaN
변경일자_년     2019     2020  ... 2021 2022   2019   2020   2021   2022 2019
변경일자_월                    ...
1          2.00 33111.00  ... 1.00 2.00   5.00 279.00 314.00 340.00  NaN  \
2           NaN 31581.00  ... 1.00 1.00  13.00 220.00 267.00 414.00  NaN
3          1.00 33608.00  ...  NaN 4.00   3.00 273.00 414.00 448.00  NaN
4          1.00 29205.00  ...  NaN  NaN   1.00 222.00 488.00 585.00  NaN
5          2.00 32391.00  ...  NaN  NaN   7.00 209.00 473.00 725.00  NaN
6      11804.00 38257.00  ...  NaN  NaN 123.00 317.00 618.00 688.00  NaN
7      38224.00 35535.00  ...  NaN  NaN 406.00 388.00 612.00    NaN  NaN
8      36038.00 35784.00  ...  NaN  NaN 445.00 336.00 447.00    NaN  NaN
9      33583.00 35309.00  ... 2.00  NaN 326.00 323.00 365.00    NaN  NaN
10     38184.00 33818.00  ... 6.00  NaN 381.00 308.00 390.00    NaN  NaN
11     34982.00 33940.00  ...  NaN  NaN 359.00 279.00 409.00    NaN  NaN
12     37717.00 37492.00  ... 2.00  NaN 245.00 377.00 421.00    NaN  NaN

배출가스등급
변경일자_년  2020 2021 2022
변경일자_월
1        NaN  NaN  NaN
2        NaN  NaN  NaN
3        NaN  NaN  NaN
4        NaN  NaN  NaN
5        NaN  NaN  NaN
6        NaN  NaN  NaN
7      32.00  NaN  NaN
8        NaN  NaN  NaN
9        NaN  NaN  NaN
10       NaN  NaN  NaN
11       NaN  NaN  NaN
12       NaN  NaN  NaN

[12 rows x 44 columns]

In [167]:
gp3 = df.groupby(['시도', '변경일자_년', '변경일자_월'], dropna=False)['차대번호'].count().unstack('변경일자_년')
gp3

변경일자_년         2019    2020    2021    2022
시도   변경일자_월
강원도  1          NaN 2987.00 2958.00 2403.00
     2          NaN 2976.00 2498.00 2369.00
     3          NaN 5012.00 4123.00 2801.00
     4         1.00 3552.00 7445.00 3674.00
     5          NaN 3598.00 4823.00 4333.00
...             ...     ...     ...     ...
충청북도 8      3411.00 4506.00 3121.00     NaN
     9      3284.00 3894.00 2960.00     NaN
     10     4651.00 3904.00 3926.00     NaN
     11     6132.00 4388.00 3925.00     NaN
     12     6707.00 4741.00 3635.00     NaN

[204 rows x 4 columns]

In [168]:
gp4 = df.groupby(['시도', '배출가스등급', '변경일자_년', '변경일자_월'], dropna=False)['차대번호'].count().unstack('배출가스등급').unstack('변경일자_년')
gp4

배출가스등급          1                          2                            3
변경일자_년       2019  2020   2021   2022   2019   2020   2021   2022    2019
시도   변경일자_월
강원도  1        NaN 16.00  60.00  42.00    NaN 603.00 756.00 724.00     NaN  \
     2        NaN 33.00  49.00  76.00    NaN 587.00 688.00 688.00     NaN
     3        NaN 37.00  64.00  87.00    NaN 600.00 898.00 785.00     NaN
     4        NaN 19.00  73.00  89.00    NaN 511.00 760.00 776.00     NaN
     5        NaN 25.00  54.00 123.00    NaN 569.00 701.00 848.00     NaN
...           ...   ...    ...    ...    ...    ...    ...    ...     ...
충청북도 8      32.00 59.00  85.00    NaN 612.00 770.00 828.00    NaN 1293.00
     9      37.00 67.00  80.00    NaN 625.00 727.00 826.00    NaN 1300.00
     10     33.00 54.00 110.00    NaN 707.00 807.00 856.00    NaN 1372.00
     11     39.00 63.00 118.00    NaN 717.00 810.00 852.00    NaN 1211.00
     12     35.00 46.00  92.00    NaN 708.00 851.00 966.00    NaN 1319.00

배출가스등급               ...   T5          X                    NaN
변경일자_년         2020  ... 2021 2022  2019  2020  2021  2022 2019 2020 2021 2022
시도   변경일자_월          ...
강원도  1      1085.00  ...  NaN  NaN   NaN  6.00  7.00  9.00  NaN  NaN  NaN  NaN
     2      1002.00  ...  NaN  NaN   NaN  7.00  3.00  2.00  NaN  NaN  NaN  NaN
     3      1131.00  ...  NaN 1.00   NaN  4.00  6.00  1.00  NaN  NaN  NaN  NaN
     4      1113.00  ...  NaN  NaN   NaN  2.00  3.00 10.00  NaN  NaN  NaN  NaN
     5      1151.00  ...  NaN  NaN   NaN  3.00  6.00  9.00  NaN  NaN  NaN  NaN
...             ...  ...  ...  ...   ...   ...   ...   ...  ...  ...  ...  ...
충청북도 8      1200.00  ...  NaN  NaN 18.00  8.00 22.00   NaN  NaN  NaN  NaN  NaN
     9      1238.00  ...  NaN  NaN 14.00  6.00  4.00   NaN  NaN  NaN  NaN  NaN
     10     1172.00  ...  NaN  NaN 17.00 10.00  8.00   NaN  NaN  NaN  NaN  NaN
     11     1155.00  ...  NaN  NaN 19.00 10.00  6.00   NaN  NaN  NaN  NaN  NaN
     12     1328.00  ... 1.00  NaN 19.00  7.00 10.00   NaN  NaN  NaN  NaN  NaN

[204 rows x 44 columns]

### [출력] 폐차 현황

In [155]:
today_date = datetime.today().strftime("%Y.%m.%d")
today_date

'2023.05.19'

In [169]:
with pd.ExcelWriter(os.path.join(an1_fold, f'폐차현황({today_date}).xlsx')) as writer:
    gp1.to_excel(writer, sheet_name='연_월')
    gp2.to_excel(writer, sheet_name='연_월_등급')
    gp3.to_excel(writer, sheet_name='연_월_시도')
    gp4.to_excel(writer, sheet_name='연_월_시도_등급')

# 코드 마지막