# Library

In [3]:
import pandas as pd
import os
import math
from tqdm import tqdm
from datetime import datetime

In [2]:
# 소수점 옵션
pd.options.display.float_format = '{:.2f}'.format
# pd.reset_option('display.float_format')

# fold

In [5]:
raw_fold = 'D:/data/big2/BD1/raw'

# dsv to csv

## STD_CEG_CAR_CONF_CHG_MIG_230420

In [3]:
# about 13.6s
name = 'STD_CEG_CAR_CONF_CHG_MIG_230420'
file_name = f'{name}.dsv'
df = pd.read_csv(os.path.join(raw_fold, file_name), sep='|')

C:\Users\kbjung\AppData\Local\Temp\ipykernel_12788\1058226554.py:1: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(os.path.join(raw_fold, file_name), sep='|')

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2564738 entries, 0 to 2564737
Data columns (total 16 columns):
 #   Column                 Dtype
---  ------                 -----
 0   CRT_DT                 object
 1   DRVE_AFMUL             object
 2   GEARBOX_KND            object
 3   MOLIT_LINK_FILE_NM     object
 4   STRCT_CHG_YMD          int64
 5   STRCT_CHG_SPEC         object
 6   STRCT_CHG_DTL_SPEC     object
 7   STRCT_CHG_DTL_SPEC_CD  object
 8   STRCT_CHG_INSPOF_NM    object
 9   STRCT_CHG_SE           object
 10  STRCT_CHG_SE_CD        object
 11  MDFCN_DT               float64
 12  USER_ID                object
 13  VHCL_MNG_NO            object
 14  VHRNO                  object
 15  VIN                    object
dtypes: float64(1), int64(1), object(14)
memory usage: 313.1+ MB

In [5]:
df.head()

,CRT_DT,DRVE_AFMUL,GEARBOX_KND,MOLIT_LINK_FILE_NM,STRCT_CHG_YMD,STRCT_CHG_SPEC,STRCT_CHG_DTL_SPEC,STRCT_CHG_DTL_SPEC_CD,STRCT_CHG_INSPOF_NM,STRCT_CHG_SE,STRCT_CHG_SE_CD,MDFCN_DT,USER_ID,VHCL_MNG_NO,VHRNO,VIN
0,19/06/20,NaN,M,20190619_EARLY_DATA,19780926,탱크로리구변,NaN,NaN,NaN,물품적재장치,6,NaN,SYSTEM,03781228812-01,서울8라3077,03781228812
1,19/06/20,NaN,M,20190619_EARLY_DATA,19780928,탱크로리구변,NaN,NaN,NaN,물품적재장치,6,NaN,SYSTEM,03781230159-01,서울7나5894,03781230159
2,19/06/20,NaN,M,20190619_EARLY_DATA,19781002,탱크로리구변,NaN,NaN,NaN,물품적재장치,6,NaN,SYSTEM,03781229694-01,서울7나5910,03781229694
3,19/06/20,NaN,M,20190619_EARLY_DATA,19781019,탱크로리구변,NaN,NaN,NaN,물품적재장치,6,NaN,SYSTEM,03781227715-01,서울8라2197,03781227715
4,19/06/20,NaN,M,20190619_EARLY_DATA,19781030,카고에서 탱크로 구변,NaN,NaN,NaN,물품적재장치,6,NaN,SYSTEM,03781201355-01,경기8다4041,03781201355

### csv

In [6]:
# about 44.1s
file_name = f'{name}.csv'
df.to_csv(os.path.join(raw_fold, file_name), index=False)

## CEG_CAR_HISTORY_MIG_230420

In [3]:
# about 22m 17.9s
name = 'CEG_CAR_HISTORY_MIG_230420'
file_name = f'{name}.dsv'
df = pd.read_csv(os.path.join(raw_fold, file_name), sep='|')

C:\Users\kbjung\AppData\Local\Temp\ipykernel_11772\4258192127.py:4: DtypeWarning: Columns (3,9,10,11,12,19,20,21,23,27,29,30,32) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(os.path.join(raw_fold, file_name), sep='|')

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50044248 entries, 0 to 50044247
Data columns (total 34 columns):
 #   Column              Dtype
---  ------              -----
 0   VHMNO               object
 1   PRCS_SNO            object
 2   CHNG_DE             float64
 3   CHNG_SE_CD          object
 4   VHRNO               object
 5   BSPL_LEDO_CD        float64
 6   OWNR_SE             object
 7   VHCTY               object
 8   PURPS               object
 9   NOW_OWNR_NM         object
 10  NOW_MBERNO          object
 11  BSPL_ADRS           object
 12  OWNR_ADRS           object
 13  VIN                 object
 14  FST_REG_DE          float64
 15  VHCL_YRIDNW         int64
 16  VHCL_MNFCT_DE       float64
 17  EMIS_INSP_EFCT_DE   float64
 18  SRCMNNO             object
 19  EMIS_CRTCNO         object
 20  EMIS_GRD            object
 21  LEM_YN              object
 22  LEM_KND             float64
 23  LEM_STRCHG_YN       object
 24  BSPL_ZIP            float64
 25  VHRNO_NUM_INFO      int64
 26  VHCL_ERSR_YN        object
 27  ACQS_DE             object
 28  ACQS_AMT            float64
 29  RMK                 object
 30  MOLIT_LINK_FILE_NM  object
 31  CRTN_DT             object
 32  UPDT_DT             object
 33  USER_ID             object
dtypes: float64(8), int64(2), object(24)
memory usage: 12.7+ GB

In [5]:
df.head()

,VHMNO,PRCS_SNO,CHNG_DE,CHNG_SE_CD,VHRNO,BSPL_LEDO_CD,OWNR_SE,VHCTY,PURPS,NOW_OWNR_NM,...,BSPL_ZIP,VHRNO_NUM_INFO,VHCL_ERSR_YN,ACQS_DE,ACQS_AMT,RMK,MOLIT_LINK_FILE_NM,CRTN_DT,UPDT_DT,USER_ID
0,1G1F76E01J4121141-01,20190319170247470050401,20190319.0,CEGO,49마2725,4.812512e+09,R,P,P,NaN,...,NaN,492725,N,NaN,NaN,190319_DB위원회요청_1등급확정,NaN,19/03/19,NaN,SYSTEM
1,1G1F76E01J4121155-01,20190319170247470047403,20190319.0,CEGO,17고2413,3.020012e+09,R,P,P,NaN,...,NaN,172413,N,NaN,NaN,190319_DB위원회요청_1등급확정,NaN,19/03/19,NaN,SYSTEM
2,1G1F76E01J4121186-01,20190319170247470050625,20190319.0,CEGO,42보9269,2.820010e+09,R,P,P,NaN,...,NaN,429269,N,NaN,NaN,190319_DB위원회요청_1등급확정,NaN,19/03/19,NaN,SYSTEM
3,1G1F76E01J4121222-01,20190319170247470048594,20190319.0,CEGO,32주6567,1.126010e+09,R,P,P,NaN,...,NaN,326567,N,NaN,NaN,190319_DB위원회요청_1등급확정,NaN,19/03/19,NaN,SYSTEM
4,1G1F76E01J4121303-01,20190319170247470047614,20190319.0,CEGO,60로8573,4.136011e+09,R,P,P,NaN,...,NaN,608573,N,NaN,NaN,190319_DB위원회요청_1등급확정,NaN,19/03/19,NaN,SYSTEM

### csv

In [8]:
per = 10000000

In [9]:
num = math.ceil(df.shape[0] / per) + 1
num

7

In [10]:
# about 21m 42.6s
for i in range(1, num):
    file_name = f'{name}_{i:0>2}.csv'
    df.iloc[per*(i-1):per*i].to_csv(os.path.join(raw_fold, file_name), index=False)

In [11]:
# about 21m 9.8s
file_name = f'{name}.csv'
df.to_csv(os.path.join(raw_fold, file_name), index=False)

# 로드

In [6]:
# about 13.7s
# 구조변경 테이블(추정)
name = 'STD_CEG_CAR_CONF_CHG_MIG_230420'
file_name = f'{name}.csv'
std = pd.read_csv(os.path.join(raw_fold, file_name))

C:\Users\kbjung\AppData\Local\Temp\ipykernel_4252\3621646371.py:4: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  std = pd.read_csv(os.path.join(raw_fold, file_name))

In [7]:
std.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2564738 entries, 0 to 2564737
Data columns (total 16 columns):
 #   Column                 Dtype
---  ------                 -----
 0   CRT_DT                 object
 1   DRVE_AFMUL             object
 2   GEARBOX_KND            object
 3   MOLIT_LINK_FILE_NM     object
 4   STRCT_CHG_YMD          int64
 5   STRCT_CHG_SPEC         object
 6   STRCT_CHG_DTL_SPEC     object
 7   STRCT_CHG_DTL_SPEC_CD  object
 8   STRCT_CHG_INSPOF_NM    object
 9   STRCT_CHG_SE           object
 10  STRCT_CHG_SE_CD        object
 11  MDFCN_DT               float64
 12  USER_ID                object
 13  VHCL_MNG_NO            object
 14  VHRNO                  object
 15  VIN                    object
dtypes: float64(1), int64(1), object(14)
memory usage: 313.1+ MB

In [8]:
std.head()

,CRT_DT,DRVE_AFMUL,GEARBOX_KND,MOLIT_LINK_FILE_NM,STRCT_CHG_YMD,STRCT_CHG_SPEC,STRCT_CHG_DTL_SPEC,STRCT_CHG_DTL_SPEC_CD,STRCT_CHG_INSPOF_NM,STRCT_CHG_SE,STRCT_CHG_SE_CD,MDFCN_DT,USER_ID,VHCL_MNG_NO,VHRNO,VIN
0,19/06/20,NaN,M,20190619_EARLY_DATA,19780926,탱크로리구변,NaN,NaN,NaN,물품적재장치,6,NaN,SYSTEM,03781228812-01,서울8라3077,03781228812
1,19/06/20,NaN,M,20190619_EARLY_DATA,19780928,탱크로리구변,NaN,NaN,NaN,물품적재장치,6,NaN,SYSTEM,03781230159-01,서울7나5894,03781230159
2,19/06/20,NaN,M,20190619_EARLY_DATA,19781002,탱크로리구변,NaN,NaN,NaN,물품적재장치,6,NaN,SYSTEM,03781229694-01,서울7나5910,03781229694
3,19/06/20,NaN,M,20190619_EARLY_DATA,19781019,탱크로리구변,NaN,NaN,NaN,물품적재장치,6,NaN,SYSTEM,03781227715-01,서울8라2197,03781227715
4,19/06/20,NaN,M,20190619_EARLY_DATA,19781030,카고에서 탱크로 구변,NaN,NaN,NaN,물품적재장치,6,NaN,SYSTEM,03781201355-01,경기8다4041,03781201355

In [9]:
std.isnull().sum()

CRT_DT                         0
DRVE_AFMUL               2531904
GEARBOX_KND                  536
MOLIT_LINK_FILE_NM             0
STRCT_CHG_YMD                  0
STRCT_CHG_SPEC               408
STRCT_CHG_DTL_SPEC        534166
STRCT_CHG_DTL_SPEC_CD     340724
STRCT_CHG_INSPOF_NM        57756
STRCT_CHG_SE                 660
STRCT_CHG_SE_CD             1172
MDFCN_DT                 2564738
USER_ID                        0
VHCL_MNG_NO                    0
VHRNO                          0
VIN                            0
dtype: int64

In [10]:
std.columns

Index(['CRT_DT', 'DRVE_AFMUL', 'GEARBOX_KND', 'MOLIT_LINK_FILE_NM',
       'STRCT_CHG_YMD', 'STRCT_CHG_SPEC', 'STRCT_CHG_DTL_SPEC',
       'STRCT_CHG_DTL_SPEC_CD', 'STRCT_CHG_INSPOF_NM', 'STRCT_CHG_SE',
       'STRCT_CHG_SE_CD', 'MDFCN_DT', 'USER_ID', 'VHCL_MNG_NO', 'VHRNO',
       'VIN'],
      dtype='object')

In [14]:
# 컬럼 한글화
col_dict = {
    'CRT_DT':'생성일시',
    'DRVE_AFMUL':'구동방식',
    'GEARBOX_KND':'변속기종류',
    'MOLIT_LINK_FILE_NM':'미정',
    'STRCT_CHG_YMD':'구조변경일자',
    'STRCT_CHG_SPEC':'미정',
    'STRCT_CHG_DTL_SPEC':'미정',
    'STRCT_CHG_DTL_SPEC_CD':'미정',
    'STRCT_CHG_INSPOF_NM':'미정',
    'STRCT_CHG_SE':'미정',
    'STRCT_CHG_SE_CD':'미정',
    'MDFCN_DT':'수정일시',
    'USER_ID':'사용자ID',
    'VHCL_MNG_NO':'차량관리번호',
    'VHRNO':'자동차등록정보',
    'VIN':'차대번호',
    }

In [ ]:
# about 
name = 'CEG_CAR_HISTORY_MIG_230420'
file_name = f'{name}.csv'
his = pd.read_csv(os.path.join(raw_fold, file_name))

# 코드 마지막